[2020-01-28 18:57] darkdh opened #7955 "C80 followup: Use net::NetworkIsolationKey in ProxyConfigServiceTor::CircuitIsolationKey"
from chromium 80 upgrade review comment
https://github.com/brave/brave-core/pull/4374#discussion_r369723424

upstream commit
https://chromium.googlesource.com/chromium/src/+/f04be466f426249887ac9fa2cc8040c384e8624f

cc @riastradh-brave

[2020-01-28 19:27] rebron commented on #7939
cc: @petemill second order for translation on this one.

[2020-01-28 19:56] pes10k opened #7956 "Disable Reporting API"
Chromium includes a system called Reporting API.  Its a broad API that is currently used to allow sites to instruct the browser to send at least the following types of information (possibly others) to arbitrary parties (i.e. first or 3p):

- CSP errors
- [Network errors](https://w3c.github.io/network-error-logging/)
- Interventions (e.g. webRequest blocked something)
- Crash reports

Most of the f

[2020-01-28 21:19] jerrykrinock commented on #7639
@jsecretan: My native app could check the Brave version.  But I probably would not do it this way, because I foresee a high probability of bugs due to race conditions and other unforeseen phenomena.  Instead, I would get the dev version of Brave, reverse-engineer as necessary and update the code in my native app to handle either old or new.  This will be messy, but I've done stuff like this before

[2020-01-28 21:27] jerrykrinock commented on #7639
@LaurentOngaro, bookmarks synchronization extensions can be updated to map between browsers that have _Other Bookmarks_, such as Chrome and Edge, and browsers which do not, like Brave and Vivaldi.  Presumably whatever extension you using will be updated eventually.  When it is, you will get best results by leaving the _Other Bookmarks_ in Chrome, Edge or whatever empty, so that no mapping is neces

[2020-01-28 21:39] BadseyBurger commented on #6442
I am also having this problem. The workaround further up the thread doesn't work for me. Help please :)

[2020-01-28 21:45] mkarolin opened #7957 "C80 followup: patches/build-config-chrome_build.gni.patch is no longer needed."
Followup to brave/brave-core#4374

https://github.com/brave/brave-core/pull/4374#discussion_r371991679

this patch is no longer needed, we can now just set branding_path_component directly in config.js

[2020-01-28 21:48] mkarolin opened #7958 "C80 followup: patches/chrome-browser-resources-bookmarks-command_manager.js.patch should be removed."
Followup to brave/brave-core#4374

https://github.com/brave/brave-core/pull/4374#discussion_r371999142

this patch should be removed in a follow up and handled by `brave_static_redirect_network_delegate_helper`

[2020-01-28 22:05] jumde opened #7959 "Add tor.bravesoftware.com to the audit whitelist"
We will be using tor.bravesoftware.com to fetch the tor client updater component. Update the audit whitelist to include the URL

[2020-01-28 22:50] Brave-Matt opened #7961 "Some users are unable to verify wallet despite correct setup"
## Description

There are several users that saying they're unable to verify their browser wallet with Uphold. It seems to be that, after completing any/all necessary steps, the end result is that the `Verify wallet` icon does not reflect to show verified status and there's no association made between the users Uphold account/card and the browser.

I have confirmed that the users have:

- A curren

[2020-01-28 23:13] Daemach commented on #5902
This fix works well.  Thank you very much for your prompt response and for
seeing it through.

Please also add a registry key or group policy setting to disable clearing
browser history.  I created a new issue for that request here:
https://github.com/brave/brave-browser/issues/7954

Keeping honest people honest...

And in an enterprise setting, clearing browser history in situations such
as intel

[2020-01-28 23:15] Daemach commented on #7954
It would also be good to ensure the user cannot lower the history storage to 0 days, or adjust it in any way for that matter.

Thanks in advance for your great work!

[2020-01-29 01:35] #7925 closed

[2020-01-29 01:35] #7926 closed

[2020-01-29 01:35] #7927 closed

[2020-01-29 02:03] dwkretz commented on #6772
Also been having this issue since the update OP is referring to.

Terminal output:

`➜  ~ brave-browser
GPU at BusId 0x1 doesn't have a supported video decoder
GPU at BusId 0x1 doesn't have a supported video decoder
GPU at BusId 0x1 doesn't have a supported video decoder
GPU at BusId 0x1 doesn't have a supported video decoder
GPU at BusId 0x1 doesn't have a supported video decoder
GPU at BusId 0x1

[2020-01-29 02:10] HakeemIshak123RF commented on #3196
I'm also experiencing the same problem, can use my saved password but cannot view list of "Saved Password"

[2020-01-29 06:18] petemill opened #7962 "Storybook compile is slow"
## Description
Storybook compilation takes 4 minutes! This is an issue because Storybook is meant to be a rapid frontend developing environment preventing having to do a larger brave-browser build.

Whilst 4 minutes is a lot faster than the time it takes to do a full brave-browser build, it's slower than most incremental builds and certainly slower than one would expect for Storybook.

## Steps to

[2020-01-29 07:05] Jacalz commented on #6772
I think some users on Solus are seeing this issue as well.
See https://dev.getsol.us/T8644 and https://dev.getsol.us/T8548.

[2020-01-29 07:33] #7948 closed

[2020-01-29 07:51] #7945 closed

[2020-01-29 08:06] #7923 closed

[2020-01-29 08:07] bsclifton commented on #7923
Marking as `QA/No` since peer review was done and there is an automated test 👍

[2020-01-29 08:14] bsclifton commented on #3196
I'm seeing this too- I definitely have saved passwords, but they aren't showing

This issue was originally tracking the use-case where people would import from the older "Muon" based Brave browser into this new Brave Core version. But the issue is definitely bigger than that. Going to re-characterize this issue a bit

cc: @rebron @kjozwiak @LaurenWags - curious if you all have ran into this?

[2020-01-29 10:08] #7959 closed

[2020-01-29 11:05] p0rth01998 opened #7964 "Doesn't support Orientation"
## Description
Whenever I try to use compass in brave browser it could able to get the current location but couldn't able to support orientation. So it doesn't show any result but it works good in the other browsers like safari, chrome, etc.

## Steps to Reproduce
   1. https://lamplightdev.github.io/compass/
   2. give access to get your current location
   3. Then you will see the popup that it

[2020-01-29 11:18] juligreen opened #7965 "Feature request: Setting to hide address bar"
## Description
In the Vivaldi browser you are able to hide your address bar with a setting (though it is still available as a drop down when pressing <ctrl+L>. (The same is possible for the tab bar, I will open another issue for this.)

I would love for this to be possible in brave as well!

Hidden address bar:
![image](https://user-images.githubusercontent.com/25890405/73351603-a5f0ce00-428f-11ea

[2020-01-29 11:23] juligreen opened #7966 "Feature request: Setting to hide the tab bar"
## Description
In the Vivaldi browser you are able to hide your tab bar with a setting (though you can still navigate through tabs with <ctrl+tab>). (Similar issue: [hiding the address bar](https://github.com/brave/brave-browser/issues/7965))

I would love for this to be possible in brave as well!

Tab bar shown:
![image](https://user-images.githubusercontent.com/25890405/73352695-f701c180-4291-11

[2020-01-29 11:25] slayer opened #7967 "Many SegFaults"
## Description
There are several segfaults during the day

[code]

Is this OK ?

## Steps to Reproduce
IDK, just browsing

## Actual result:
Segfaults present

## Expected result:
No segfaults

## Brave version (brave://version info)
1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
--
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Linux
JavaScript |

[2020-01-29 11:34] tmancey commented on #6209
@LaurenWags Spec updated at https://docs.google.com/document/d/1XusXB1li8I7Q-3PAk3-2BcdujwZ0Y6oD0yNvhsahZgc, see **Known Issues** section, thanks

[2020-01-29 13:26] wknapik commented on #7899
Happened again yesterday. Identical entry in tor.log - `Catching signal TERM, exiting cleanly.`

[2020-01-29 15:00] WolfganP commented on #598
+1 Same need here to maintain environment control of what's installed and where.

[2020-01-29 15:18] iefremov opened #7968 "Implement the Speedreader optimizing pass over a byte stream"
We need a custom URLLoader that will pump data of the website main frame into speedreader and proxy it forward to the network stack.

[2020-01-29 15:21] iefremov opened #7969 "Implement the hardcoded whitelist for speedreader"
For the first iteration we can start with the hardcoded whitelist of URLs implemented as `URLLoaderThrottle`. Whitelisted sites are proxied through the speedreader library, other stay untouched.

[2020-01-29 15:38] emerick commented on #7912
In my testing, I can repro the issue if I close the rewards page after funding the wallet. I then tip a verified site and open the rewards page and there are no tips listed.

If I keep the rewards page open when I perform the tip, I can't repro.

[2020-01-29 15:49] iefremov opened #7970 "Measure speedreader performance impact"
We need to answer the following:

We need this answers for speedreader as a standalone library and as a browser component.
1. How much memory does speedreader consume
2. How much time does the speedreader transformation take
2. How much time does the speedreader analyze phase take

We also need a list of metrics to watch locally and metrics that potentially will be collected via P3A

[2020-01-29 16:22] #7937 closed

[2020-01-29 16:28] bsclifton commented on #7920
cc: @simonhong

[2020-01-29 17:31] bsclifton opened #7974 "Users should be able to import Extensions"
## Description
Users are able to import from Chrome, Firefox, Edge, Safari (options can depend on their platform).

They can import bookmarks, passwords, etc. But there is currently no way to import extensions and extension settings

Offering this would be a great way to make Brave easier to switch to

## Steps to Reproduce
   1. Use Chrome and have a few extensions, each which may have a specific

[2020-01-29 18:18] rebron commented on #7966
We can keep this issue open but this is a setting that we likely won't implement.

[2020-01-29 18:19] Miyayes commented on #7815
+1 https://www.reddit.com/r/BATProject/comments/evpite/ad_rewards_available_in_spain/

[2020-01-29 18:32] #7255 closed

[2020-01-29 18:32] #7429 closed

[2020-01-29 18:48] juligreen commented on #7966
@rebron Would you accept a pull request if I would make this?

[2020-01-29 19:03] rebron commented on #7966
We love contributions. This does feel more like a candidate as an extension though or at least tested out as an extension first, which was how the whole of tabbed browsing was first introduced into the browser.

I understand that we have a fair amount of users and potential users who want max pixel real estate and full control of browser ui, that's what extensions are for and we do have some user

[2020-01-29 19:39] rebron commented on #7964
@fmarier Any ideas on this one, I have `motion sensors` allowed but still not working? Might be macOS and Security & Privacy -> Location Services related?

[2020-01-29 19:40] anthonypkeane commented on #7898
Fixed on Core

[2020-01-29 19:40] #7898 closed

[2020-01-29 19:43] anthonypkeane commented on #7902
@jamesmudgett to help with design

[2020-01-29 19:49] jamesmudgett commented on #7778
Agree, it looks to be taller. Actually, based on shape of triangles in BG looks like it is being stretched, as well.

[2020-01-29 19:51] #7918 closed

[2020-01-29 19:55] anthonypkeane commented on #7535
@IlToro do you see this on Chrome too? Thanks

[2020-01-29 19:55] mkarolin opened #7975 "Upgrade from Chromium 80.0.3987.66 to Chromium 80.0.3987.78"
QA tests:

This bump can be combined with testing the major bump https://github.com/brave/brave-browser/issues/7255

[2020-01-29 19:56] #7542 closed

[2020-01-29 19:58] anthonypkeane commented on #7552
Does it behave the same on Android Tabs @LaurenWags

[2020-01-29 20:05] LaurenWags commented on #7552
@anthonypkeane issue was originally logged for android tabs, looks like @srirambv moved it to this repo per the history on this issue.

[2020-01-29 20:54] jumde opened #7976 "Add proxies to handle Crowd Deny download"
https://cs.chromium.org/chromium/src/chrome/browser/component_updater/crowd_deny_component_installer.cc

### Test Plan

Specified here: https://github.com/brave/brave-core/pull/4482

[2020-01-29 20:54] jumde opened #7977 "C80 followup: Disable Crowd Deny"
Follow up issue to investigate and re-enable: https://github.com/brave/brave-browser/issues/7976

[code]

## Test Plan

Specified here: https://github.com/brave/brave-core/pull/4466

[2020-01-29 21:42] ryanbr opened #7978 "Loading website 9gag.com causing a lock up"
## Description
Loading `9gag.com` will cause Brave release to lockup

## Steps to Reproduce

   1. Loading `9gag.com` in Brave release causes the page to lock up
   2.
   3.

## Actual result:
Page lock up

## Expected result:
Page loads

## Reproduces how often:

Easily reproduced in Release Build

## Brave version (brave://version info)
Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64

[2020-01-29 22:19] colinhemphill commented on #7398
Just encountered this one and had to go to inspect mode to access the `Cancel` and `Delete` options for my selections. Looks like the `cr-toolbar-selection-overlay` should take index priority over the `cr-toolbar #main-toolbar`.

[2020-01-29 22:59] simonhong commented on #7806
Closed because upstream has the fix after rebasing M80.

[2020-01-29 22:59] #7806 closed

[2020-01-30 00:17] jonathansampson commented on #1597
This issue impacts our _New Tab Page_ too. For example, consider this icon:  brave://favicon/size/64@1x/http://try.bravesoftware.com/v1/

![image](https://user-images.githubusercontent.com/815158/73408976-7e1b5d80-42c3-11ea-98d0-ec8dc7e3a515.png)

[2020-01-30 00:50] tmancey commented on #7815
@Miyayes Can you please let me know which version of the desktop browser you are running, as Spain is available from version 1.3. Thanks

[2020-01-30 01:47] btlechowski commented on #7948
Verification passed on

Brave | 1.5.69 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Verification passed on

Brave | 1.5.69 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/

[2020-01-30 04:43] bsclifton commented on #7948
Thanks for verifying, @btlechowski 😄

[2020-01-30 04:54] theretohere commented on #7756
Any update? Having the same issue. Will come back to Brave when its ready.

[2020-01-30 05:11] malcalevak commented on #5267
I stumbled across this today, and I have to confess that I find it really disappointing that this is **still** not resolved.

[2020-01-30 08:43] satyamisme opened #7980 "extension not working with tor"
## Description

## Steps to Reproduce

   1. tried reinstall still unable to load extensions in tor
   2. search for experiminetal flags but found nothing related
   3. enabled allow acess site and info in manage extensions section

## Actual result:

## Expected result:

## Brave version (brave://version info)

Brave | 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
-- | --
Revision | e2

[2020-01-30 08:46] K1ngjulien commented on #7980
its probably better to not use extensions when using tor. I mean the point of tor is to not be tracked, which many extensions do.

[2020-01-30 08:49] satyamisme commented on #7980
would be happy if enabled as experimental option in chrome flags

[2020-01-30 10:19] m-kru opened #7981 "Lost BATs"
`Linux arch 5.4.10-arch1-1 #1 SMP PREEMPT Thu, 09 Jan 2020 10:14:29 +0000 x86_64 GNU/Linux`

`Brave Browser 79.1.2.43 unknown`

Yesterday I had 0.3 BAT, but suddenly the value has been reset to 0.0. I thought that maybe after the next BAT increase the value will be fixed (0.4), however right now it indicates 0.1.
![bats](https://user-images.githubusercontent.com/26227737/73440572-c719f300-4351-11e

[2020-01-30 10:25] tmancey commented on #7981
@m-kru Are you available for a screen-share so I can investigate, if so, can you please email me @ tmancey@brave.com

[2020-01-30 10:34] m-kru commented on #7981
@tmancey If I screen-share you will have access to more than Brave. I do not like this idea.

[2020-01-30 10:36] tmancey commented on #7981
@m-kru We use Zoom for screen-sharing, and we do not have access to your computer unless you grant this. I will not need to control your computer, and I can guide you.

Let us try to work out the issue without a screen-share if that makes you feel better.

Can you please take a screenshot of the Ads panel at brave://rewards/

[2020-01-30 10:38] m-kru commented on #7981
@tmancey
![d](https://user-images.githubusercontent.com/26227737/73442396-0f86e000-4355-11ea-9303-b3f33f2bd20c.png)

[2020-01-30 10:41] tmancey commented on #7981
Thank you.

Could you please let me know your locale?

Would you be happy to send me the following files via email (please check the files in a text editor before sending to make sure you are happy with the privacy):

`Default/ads_service/client.json`
`Default/rewards_service/confirmations.json`

Alternatively, I just need to view these files on your screen.

[2020-01-30 10:46] JoaoTMDias commented on #5267
Yeah, I went back to Chrome because of this.
@Muhnad also went back to Chrome (I emailed him and he told me the same).

[2020-01-30 10:47] m-kru commented on #7981
@tmancey sent.

[2020-01-30 10:58] tmancey commented on #7981
@m-kru

Can you please send screenshots of your systems locale and time zone as here I am seeing 0.3 BAT using your profile, so I need to ascertain what is different about our systems. Thanks for your help it is much appreciated

[2020-01-30 11:05] m-kru commented on #7981
@tmancey done.

[2020-01-30 11:10] haloid2010 commented on #5074
I had the same issue.

Brave Version 1.2.43
Chromium: 79.0.3945.130 (Official Build) (64-bit)
KeePassXC-Browser Version: 1.5.4
KeePassXC Version: 2.5.3

Like @jobeleau2, enabling Google Chrome in KeePassXC browser integration settings fixed the issue.

[2020-01-30 11:41] BachoSeven commented on #7843
I can reproduce the issue with the Beta Channel; in fact the key missing is exactly the same one when doing sudo apt update.

This is also related: https://askubuntu.com/questions/1180355/how-do-i-install-brave-browser-if-my-key-is-expired-and-wont-update

[2020-01-30 12:15] balaji303 commented on #5242
Even I have this issue. Please say how to unblock elements.

[2020-01-30 13:04] bzrudi commented on #7981
Just want to second this behaviour. I lost 0.2 or 0.3 BAT yesterday. Today I get new rewards counted but the ones from yesterday seem lost.
Brave Info:
Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
Locale: de_DE
OS: Ubuntu 19.10
I can also second that the date in the Ads History info screen is wrong and defaults 1/1/1970.

[2020-01-30 13:26] GeetaSarvadnya opened #7982 "Brave crashes when new sync chain is started at the 2nd time"
## Description

Brave crashes when new sync chain is started at the 2nd time
## Steps to Reproduce

Scenario1:

   1. Clean profile 1.3.x
   2. Open Sync
   3. Click on `Start a new sync chain`
   4. Select `Phone/Tablet` option
   5. Click on `Cancel` button in the QR code modal
   6. Remove the desktop device which is listed in the `Device Name` section in brave://sync page
   7. Click on `Start

[2020-01-30 13:36] AlexeyBarabash commented on #7982
Thanks @GeetaSarvadnya
This seems the same as https://github.com/brave/brave-browser/issues/7412 , fixed with https://github.com/brave/brave-core/pull/4281, now this is in 1.4.x (dev).

[2020-01-30 13:49] #7982 closed

[2020-01-30 15:27] LaurenWags commented on #7836
Verified passed with

Brave | 1.3.105 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified STR from description

Scenario 1:
<img width="760" alt="7836-scenario1" src="https://user-images.githubusercontent.com/28145373/73463364-21638580-434b-11ea-9e6e-e

[2020-01-30 15:50] emerick opened #7984 "[Android] Crash on startup after updating to C80"
Android browser crashes immediately on startup since migrating to C80. Stack trace indicates that it's a casting problem related to the bottom toolbar:

[code]

[2020-01-30 15:53] bsclifton opened #7985 "macOS signing finishes on master, but binaries are broken (profile does NOT match the application's Team ID)"
## Description
After merging Chromium 80, there is a problem with binaries which are signed as part of the regular build process

## Steps to Reproduce

   1. Start a Nightly build in Jenkins
   2. Let macOS finish
   3. Try installing from DMG of

## Actual result:
- When launched via CLI, it’s printing `Killed: 9` to standard out.
- using a program `RB App Checker Lite`, @mbacchi was able to get

[2020-01-30 15:54] bsclifton commented on #7985
Work-around put together with https://github.com/brave/brave-core/commits/bsc-c80-revert-mac-signing-changes - this reverts the signing changes made with https://chromium.googlesource.com/chromium/src/+/ab025fb7573b0d33b9dfbcfd4f86609bd86b86d3 and https://github.com/brave/brave-core/commit/4bc50afb3df9ef9af2837396c89263dbe8889ae0

[2020-01-30 15:56] #7984 closed

[2020-01-30 16:04] bdimcheff commented on #7756
Is there a workaround for this? I have other 2fa methods (authenticator, push) but it just spins on waiting for my yubikey and never gives me an alternative method. Is there some way to force auth to use a different 2fa method?

[2020-01-30 16:04] GeetaSarvadnya opened #8534 "When Ads/Rewards switch is disabled in brave://rewards page enable Ads/Rewards notification isn't shown on NTP"
## Description

When Ads/Rewards switch is disabled in brave://rewards page enable Ads/Rewards notification isn't shown on NTP
## Steps to reproduce

Scenario1:  Ads enable notification modal isn't shown

   1. Clean profile 1.5.4
   2. Launch brave and skip onboarding flow
   3. Exit brave and relaunch app
   4. Open a NTP-SI, 1st sponsored image is shown
   5. Enable rewards from the 1st NTP-SI

[2020-01-30 16:14] tmancey commented on #7981
@m-kru @bzrudi We have found the cause of the issue. I am closing this issue as it is rectified at our end, and our support team will reach out. Thank you, Terry

[2020-01-30 16:48] #7962 closed

[2020-01-30 18:28] darkdh opened #7986 "Sync thread sometime hangs"
The integration of chromium sync and brave sync relies on `syncer::Syncer` to tell js sync extension to poll or commit changes. The hanging happens when polling remote records.

Sync thread will be blocked until new records or no records passed back to syncer
syncer->js sync extension (Block): https://github.com/brave/brave-core/blob/370057c4df9f726fe2a2c47c7f6672ee6488db02/chromium_src/components

[2020-01-30 18:41] jumde opened #7987 "Fix signature tor-client signature failure on macOS Catalina"
![image](https://user-images.githubusercontent.com/1903815/73480491-d64b7180-434e-11ea-9e80-be3096808745.png)

[2020-01-30 18:49] rebron commented on #7987
cc: @mbacchi, @mihaiplesa

[2020-01-30 18:52] gdregalo commented on #7759
The solution provided in the description applicable only to Wear OS (former Android Wear) based watches.
On watches based on other OSes the notification bridging mechanism is implemented by companion application installed on the paired phone.
It listens and transfers posted notifications to the paired watch. The application usually has settings which allows to block messages from a particular appl

[2020-01-30 19:04] eloquentvogon commented on #6291
I use Zoom multiple times a day and I too need a "Don't ask again" option

[2020-01-30 19:38] wcpines commented on #5290
@rebron

I just did a test where I whitelisted `@@||api.amplitude.com^` via `chrome://adblock/`.  When I reloaded the page, the call was still listed as being blocked

![image](https://user-images.githubusercontent.com/11494834/73483419-40b2e080-4354-11ea-8e3b-c057c13e7382.png)

I would think this detailed view is a great place to add a slider toggle to whitelist a domain right from the UI, rather

[2020-01-30 19:45] #7856 closed

[2020-01-30 19:52] m-kru commented on #7981
@tmancey you have written the issue was fixed server-side, however this evening I had the same story .I have lost 0.1 BAT that I have earned today.

[2020-01-30 19:53] yrliou commented on #7856
Test plan is specified in the PR.

[2020-01-30 19:56] darrylyeo commented on #5935
@fmarier I'm using two separate browser profiles - one for general browsing where I turn on every Brave shield and privacy feature available to the most extreme setting, and a second profile with cookies allowed for sites that I need to log into. For the first profile, I have the default cookies shield set to "Cookies blocked", but currently I have to manually set it to "Cross-site cookies blocked

[2020-01-30 19:57] darrylyeo commented on #5935
@fmarier I'm using two separate browser profiles - one for general browsing where I turn on every Brave shield and privacy feature available to their most extreme settings, and a second profile with cookies allowed for sites that I need to log into. For the first profile, I have the default cookies shield set to "Cookies blocked", but currently I have to manually set it to "Cross-site cookies bloc

[2020-01-30 21:18] Talmann commented on #7525
For closure, work around involves turning off hardware acceleration. The Windows solution offered by Brave support was to go to the Brave desktop shortcut, right-click --> Properties, edit the Target field and append **--disable-gpu** (or) **--disable-brave-sync** at the end of the target path, after the quotations.

After that, go to Settings --> Additional --> System --> Hardware Acceleration an

[2020-01-30 21:19] #7525 closed

[2020-01-30 22:03] oivinds opened #7988 "crash after install"
I (re)installed Brave for osx today.
After installation, brave displays a message dialog about restoring previous vindows for a split second then immediately crashes / closes.

This is the beginning of the osx crash error submitting form that appears after brave crashes:

[code]
I also had the same problem with a beta version.

[2020-01-31 00:17] ryanml commented on #6279
@srirambv I am closing this one as I cannot reproduce on release or current `e-r-c` builds. I have added it to the next milestone and it can be confirmed as part of next week's QA

[2020-01-31 00:17] #6279 closed

[2020-01-31 00:59] diracdeltas commented on #1052
We are actually very interested in adding `Brave/...` to the UA but hesitant to do so immediately because we don't know if sites will break because of this (both desktop and mobile). If anyone has thoughts on how to test this lmk.

[2020-01-31 01:00] #6572 closed

[2020-01-31 01:12] da2x commented on #1052
@diracdeltas install Opera and look for `browser.js` in the profile directory. It contains a list of websites that need UA cloaking. The same list of websites causing problems for `OPR/` will probably cause problems for `Brave/`. There are 42 sites on the list.

[2020-01-31 01:18] da2x commented on #1052
@diracdeltas [The Web Compatibility Project](https://webcompat.com/) maintains a [list of issues with the `uaoverride` label](https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=label%3Atype-uaoverride+) which should also be an excellent resource.

[2020-01-31 01:31] diposs commented on #7981
Crazy questions would all the lost bat be rebound or just the lucky ones to bind after the server-side fix was implemented.
This problem has existed for days. I think first report on the 27th January 17:29.
https://community.brave.com/t/half-my-bat-rewards-disappeared/104125
So if it takes 24hours to bind lets say since 26th January, and today is 30th that is about 3 days worth of ads to reconcile

[2020-01-31 05:46] kjozwiak opened #7993 "can't open PDF on initial download on certain devices"
## Description

On certain devices, you won't be able to open a PDF the first time you download it. Opening a PDF that was downloaded for the first time will display a `Can't open file` error message. You'll need to download it for the second time and replace the first PDF, at this point, the PDF will open in a third party application as expected.

This seems to be happening in the `Pixel 2` but I

[2020-01-31 05:59] cgcgcgcgcg commented on #353
In Vivaldi I just use the Black New Tab Page extension since I always use dark themes & styles.
This doesn't work in Brave since this Vivaldi setting simply doesn't exist in Brave.
![ksnip_20200131-075743](https://user-images.githubusercontent.com/38960370/73515899-8082d200-43ff-11ea-8200-fbc874421b8c.jpg)
This is a real deal breaker for using Brave.

[2020-01-31 05:59] kjozwiak commented on #7988
@oivinds mind going into `brave://crashes` see if there's any crashes that might have been logged? If you don't have `Automatically send crash reports to Brave` enabled, you'll need to send them to us via the `Send Now` button. Example:

<img width="724" alt="Screen Shot 2020-01-31 at 12 57 47 AM" src="https://user-images.githubusercontent.com/2602313/73515883-c3738400-43c4-11ea-8cb3-585fadb7a871.

[2020-01-31 06:42] oivinds commented on #7988
The browser window disappears before i get a crash page like your screenshot above.

[2020-01-31 09:20] GeetaSarvadnya commented on #7939
Verification passed on

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR mentions in the description
![image](https://user-images.githubusercontent.com/38657976/73527193-a7a9c580-4438-11ea-9b2c-c854ff56e6fb.png)
![im

[2020-01-31 09:31] tmancey commented on #7981
@diposs Can you please send me the diagnostic information at brave://rewards-internals to tmancey@brave.com

[2020-01-31 09:32] tmancey commented on #7981
@m-kru Sorry to hear this has happened again, I am investigating and will be in touch

[2020-01-31 09:33] tmancey commented on #7981
@m-kru @bzrudi Can you please send me the diagnostic information at brave://rewards-internals to tmancey@brave.com

[2020-01-31 09:41] GeetaSarvadnya commented on #7930
Verification passed on

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR mentioned in the description
- Verified on both clean and upgraded profile
 Clean profile>Turn on both flags>NTP-SI is shown
![image](https://u

[2020-01-31 10:30] btlechowski commented on #7986
I have experienced this issue few times. I was unable to relaunch the browser when this happened thus making Brave unusable.

Brave | 1.5.75 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

cc @brave/legacy_qa

[2020-01-31 10:32] lallulli opened #7990 "[Android] Lockwise and other password managers don't work in Brave"
## Description

When you open a page that asks for a password, the "Autofill" Android menu does not show up. "Autofill" would allow an external password manager app, such as Mozilla Lockwise, to retrieve and fill the password textbox.

## Steps to reproduce

   1. Open a website asking for a password, such as https://github.com/login
   2. Tap the password field
   3. Long-tap the password field

[2020-01-31 10:39] btlechowski opened #7991 "Moving of bookmark may not be synced when bookmark is added during `Looking for device` state"
Found while testing: https://github.com/brave/brave-core/pull/4324

If bookmarks were added during `Looking for device` state, then moving of existing bookmark will not be propagated. Note: best to follow the STR

Important: Reproducible on 1.5.x, 1.4.x, 1.3.x. Not reproducible on 1.2.x

## Steps to Reproduce

   1. Clean profile DeviceA and DeviceB
   2. DeviceA: create bookmark `a1.com`
   3. De

[2020-01-31 11:13] btlechowski opened #7992 "Sometimes `Sync chain code` modal is skipped after creating sync chain"
`Sync chain code` modal is skipped after quickly clicking `Computer` during `Choose Device Type`

Important: Reproducible on 1.5.x, 1.4.x, 1.3.x. Not reproducible on 1.2.x

## Steps to Reproduce

   1. Clean profile
   2. Open `brave://sync/`
   3. Click `Start a new sync chain`
   4. Immediately after `Choose Device Type` modal is shown, click `Computer`

## Actual result:

`Sync chain code` moda

[2020-01-31 11:22] GeetaSarvadnya commented on #7928
Verification passed on

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR mentioned in the description
- Verified for Canada, UK and Autralia - No crash
- Verified both clean and upgraded profiles

[2020-01-31 11:39] BachoSeven commented on #3196
Same issue here- Brave Beta Browser latest release, passwords were imported and I saved passwords but it asks to save them again; and in settings they don't show up

[2020-01-31 11:55] GeetaSarvadnya commented on #7944
Verification passed on

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Verified on both clean and upgraded profile

![image](https://user-images.githubusercontent.com/38657976/73537549-b86536

[2020-01-31 12:17] willstocks commented on #5759
Hmm... weird @ryanbr because I'm not seeing the same behaviour in the Network tab (which may be what's throwing me off here?):

I see this in Shields:
![image](https://user-images.githubusercontent.com/43744514/73538674-7d014200-4423-11ea-8dae-c0ba72375d53.png)

But still this in the Network tab:
![image](https://user-images.githubusercontent.com/43744514/73538651-6eb32600-4423-11ea-9eee-0dd4259c4

[2020-01-31 13:36] Lissy93 commented on #353
@cgcgcgcgcg - I don't think this is an issue with Brave

[2020-01-31 13:47] mvxxx commented on #7063
@rebron - No, I don't have anything turned on. That happened also when I had used brave on raw Xubuntu - I am not sure if it depends on OS but maybe Xfce has some problem with that.

[2020-01-31 14:10] jimpriest opened #7994 "gpg: no valid OpenPGP data found."
## Description
Following installation instructions here - https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux When running this command:

[code]
I get an error: gpg: no valid OpenPGP data found.

## Expected result:
To successfully install Brave browser

## Reproduces how often:
Happens every time

## Brave version (brave://version info)
Not installed...

## Other Additional

[2020-01-31 14:27] #7850 closed

[2020-01-31 14:27] #7871 closed

[2020-01-31 14:50] AndriusA opened #7995 "Define initial whitelist of URLs SpeedReader will handle"
For the currently accepted SpeedReader deployment approach we need a whitelist of URLs it will be executed on when enabled:

1. Pick 100 English news sites where current content extractor works well
2. Identify site URL patterns where the extractor works/does not (e.g. do not run on landing page or video-oriented pages)

[2020-01-31 15:50] jamesmudgett commented on #7550
The correctly sized logos are attached in brave/browser-android-tabs#1384, if conflicts exist let me know.

[2020-01-31 17:27] GeetaSarvadnya commented on #7937
Verification passed on

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
![image](https://user-images.githubusercontent.com/38657976/73560477-0c870f00-447d-11ea-98be-9957d057f63d.png)

[2020-01-31 17:28] captnblood commented on #7890
i have same problem. videos suddenly refuse to play, ask me to restart computer, says something is wrong with my audio. if i open firefox with same video, then both browser can play it.
if i close firefox, then brave refuse to play video again, same audio error message as before.
if i restart brave, then everything works again, for a limited period of time.
this problem exist at least since 1.5.43

[2020-01-31 17:34] srirambv commented on #7485
+1 from @jonathansampson  via https://github.com/brave/browser-android-tabs/issues/2501

[`FLAG_SECURE`](https://developer.android.com/reference/android/view/WindowManager.LayoutParams.html#FLAG_SECURE) prevents screenshots of the application window (as well as broadcasting to a non-secure display). Sensibly, we use this flag for Private Tabs. That said, some users would like to take screenshots o

[2020-01-31 17:45] #6601 closed

[2020-01-31 17:47] cezaraugusto commented on #6601
Labelled `release-notes/exclude` as I think this is how the feature should work since forever. QA, please change the label if I'm wrong. Thanks!

[2020-01-31 18:16] emerick commented on #7993
I reproed on my Pixel 3 and it logged the following error:

[code]

Wondering if it's happening on devices with Android 10...

[2020-01-31 19:07] #7915 closed

[2020-01-31 19:11] #7503 closed

[2020-01-31 19:12] yrliou commented on #7137
Close as a duplicate of https://github.com/brave/brave-browser/issues/7550

[2020-01-31 19:12] #7137 closed

[2020-01-31 19:35] rebron commented on #7200
@smartfonreddit "A similar feature exists in another browser and it has been proven to be useful." Which browser and is it possible to post screenshots of the feature you're talking about?

[2020-01-31 19:48] rebron commented on #7208
@kuesa Thanks for taking this one on. We'll wait for this fix to come through via upstream.

[2020-01-31 19:56] rebron commented on #7212
cc: @ryanbr

[2020-01-31 19:56] karenkliu opened #7997 "Update Ben Karpinski's photo attribution link from Fall 2019 wallpapers"
### Description:
Currently, Ben Karpinski's photo attribution link is set as [www.benkarpinski.com/landscapes](url). He has requested that we update it to [http://bklandscapes.com/](url). His image is included in the Fall 2019 batch of new wallpapers.

![Screen Shot 2020-01-31 at 11 34 54 AM](https://user-images.githubusercontent.com/2388823/73569918-3cec9000-4420-11ea-946f-1223654de42f.png)

## T

[2020-01-31 19:59] ryanbr commented on #5440
@antonok-edm do we have an update on this?

[2020-01-31 20:00] rebron commented on #7212
@mikedotexe Thanks for the report. Leet's keep this one specific to Weebly. The workaround/allow-allow-cookies (and there are other webcompat tags for specific issues) will list out the websites instead of having all websites listed in one issue. Would be great if you could file a separate one for: `https://devfolio.co/signin`

[2020-01-31 20:08] mbacchi opened #7998 "Mac Chromium 80 signing is broken due to missing entitlement in provisioning profile"
The Nightly provisioning profile on C80 requires the entitlement for `com.apple.developer.associated-domains.applinks.read-write`, but it is missing from our current profiles.

Generating new provisioning profile with this entitlement.

[2020-01-31 20:09] rebron commented on #7252
@bradleyrichter Have you run into this too? No checkout button in the shopping cart at homedepot even with shields down?

[2020-01-31 20:33] #7882 closed

[2020-01-31 20:33] #7045 closed

[2020-01-31 20:37] #7550 closed

[2020-01-31 20:38] snyderp commented on #5440
@antonok-edm isn't currently working on this, so we'll need to figure out internally whats best here.

I believe @bbondy and @AndriusA had a plan for tagging rules so that they could all be part of a single engine, of having the layered engines (which is what causes the issue).  When either of you have a chance, could you say if the above (tag the rules) approach is still the official plan of acti

[2020-01-31 20:39] foiba commented on #6442
Exact same problem for almost a month now. Nothing helps. I log in with password, screen flashes showing a dropdown for about .3s in upper right corner and immediately redirects to login. I tried typing a random password and that shows as incorrect password. So it definitely recognizes my actual password as correct. No workarounds help so far. Great browser, hoping for a patch or a workaround that

[2020-01-31 20:40] ryanbr commented on #7212
The main issue here, the weebly is calling cookies from `editmysite.com`, which is why its weebly having issues. Currently we don't have a whitelist to allow all cookies just yet, so just `allow all cookies` for the time being.

[2020-01-31 20:55] ryanbr commented on #7252
I've created a login and tested this, was able to get a `Checkout` button,  when I added an item. If you clear the cookies and re-login @jschinnerer does it help?

[2020-01-31 21:14] AndriusA commented on #5440
the last I know of this is a conversation with @antonok-edm where we discussed a couple of approaches and their trade-offs and agreed that he'd post it up for discussion

[2020-01-31 21:16] snyderp commented on #5440
@antonok-edm i know you're working on other things at the moment, but could you just update the issue here with where the conversation ended (if a conclusion was reached) and we'll figure out how best to go forward

[2020-01-31 21:19] smartfonreddit commented on #7200
Firefox's about:addons page has a feature that lets you uncheck the automatic addon update. When you click to manually check for updates, it shows which addons have a new version and lets you update them.
https://i.imgur.com/fD02qzb.png

[2020-01-31 22:03] LaurenWags commented on #6942
Verified passed with

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified 1 time tip, recurring tip, and AC using previously self-funded anon wallet:
<img width="667" alt="anon-6942" src="https://user-images.githubusercontent.com/281453

[2020-01-31 22:05] LaurenWags commented on #7526
Verified passed with

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified 1 time tip, recurring tip, and AC using previously self-funded anon wallet:
<img width="804" alt="6078 and 7526" src="https://user-images.githubusercontent.com/28

[2020-01-31 22:40] yrliou commented on #7651
Tried using Bravearm.apk on pixel3 using master and it seems it is already fixed by #7878 , please feel free to reopen if not. Thanks.

[2020-01-31 22:40] #7651 closed

[2020-01-31 22:42] yrliou commented on #7663
Target PR to port: https://github.com/brave/browser-android-tabs/pull/2316

[2020-01-31 22:55] bsclifton commented on #7985
Closing in favor of https://github.com/brave/brave-browser/issues/7998

[2020-01-31 22:55] #7985 closed

[2020-01-31 23:26] emerick commented on #7993
This seems to be broken in browser-android-tabs as well.

[2020-01-31 23:38] LaurenWags opened #7999 "connected, not KYC'd user wallets cannot tip with user BAT"
## Description
Found while testing https://github.com/brave/brave-browser/issues/6078

If you have a connected but not KYC'd user wallet with BAT in the Brave Browser card (on Uphold), you cannot tip, AC, etc with that BAT.

## Steps to Reproduce

   1. Clean profile - launch with staging parameters, short reconcile interval
   2. Enable Rewards, do not claim the staging grant.
   3. Select Verify

[2020-01-31 23:44] LaurenWags commented on #6078
Verification in progress using

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/3918
* Verified test plan from https://github.com/brave/brave-browser/issues/6078#issuecomment-5

[2020-01-31 23:57] simonhong opened #8000 "Fix compile failure due to missing deps while compiling widevine_utils.cc"
[code]

[2020-02-01 00:16] #7998 closed

[2020-02-01 00:29] darkdh commented on #7991
This might be dupe of https://github.com/brave/brave-browser/issues/7691

[2020-02-01 01:16] qnxor commented on #3718
I'm getting this in WIndows 8.1 with the latest version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit) and I haven't donated anything in Jan from this browser. Hence it can't be because I donated more than 100. I'm not verified on Uphold so @bsclifton's suggestions doesn't apply.

My Android Brave works fine, I just tipped a website. I also have a Windows 10 machine where Brave also work

[2020-02-01 01:52] haakonstorm commented on #464
I come back here every month to check status on vertical tree tabs like in Vivaldi. Also any news around split-pane views and a command palette like Vivaldi.

I religiously read the Brave release notes. I see a lot of cool stuff I want to use and be a part of, but Brave needs to remember that what I do *everyday* is not interfacing with the Bing Rewards programme via Brave and such I read about in

[2020-02-01 02:13] karenkliu opened #8002 ""Safe Browsing" option in settings needs to be named "Google Safe Browsing""
## Description
Currently the Safe Browsing option on the Settings page has a typo/bug; it's missing "Google" as part of the label.

## Steps to Reproduce
   1. Go to chrome://settings/privacy
   2. See the typo in "Safe Browsing" title

## Actual result:
![Screen Shot 2020-01-31 at 6 08 54 PM](https://user-images.githubusercontent.com/2388823/73585319-14cb5400-4455-11ea-91c4-82b09f639ec9.png)

##

[2020-02-01 02:13] karenkliu commented on #8002
@tomlowenthal  FYI

[2020-02-01 03:43] chkk525 opened #8003 "Login button doesn't work with Shield enabled on sakei.com"
## Description

Clicking login button on https://www.sankei.com/ doesn't work

## Steps to Reproduce

   1.  Go to https://www.sankei.com/
   2. Click login button(ログイン, #member_list_01 > ul > li.login) in the right top

## Actual result:

![image](https://user-images.githubusercontent.com/3054915/73586421-2f9ed680-44f0-11ea-87fe-7139c74c15ed.png)

- Got error message in the console saying 'ga is

[2020-02-01 04:01] #8000 closed

[2020-02-01 04:11] ryanbr commented on #8003
This will help

https://github.com/easylist/easylist/commit/0b4564563da588c0f788f7df716d5eb85c4b266f

[2020-02-01 04:39] timelessthee commented on #7567
The "Manage Profile" button does not exist in the MacOS release as at Version 1.2.43 Chromium: 79.0.3945.130.
Please advise as the above solution does not solve the issue.

[2020-02-01 07:53] cgcgcgcgcg commented on #353
It is on my Manjaro Linux and that's why I stopped using Brave.
It's at least problematic to not have new tab settings on a browser to change new tab behavior, and force peeps see that bloated thing every time they click on new tab.

[2020-02-01 08:19] kjozwiak commented on #7993
@emerick yup, reproduced on `browser-android-tabs` as well 👍@SergeyZhukovsky probably a good idea to fix this in `browser-android-tabs` as well. Created #2503 as well.

[2020-02-01 16:05] MANICX100 commented on #7094
I am found that the desktop macOS version of Microsoft Teams also exhibits this behavior if this helps.

[2020-02-01 16:12] Gustbel opened #8004 "I can't withdraw funds what I earn the previous month (Ubuntu Brave Beta)"
## Description

I can't withdraw funds what I earn the previous month from Ubuntu. Actually I was able to withdraw only a part (0.3 BAT), from the Windows 10 program.
But the rest (0.6 BAT) appears only in Ubuntu Brave, and when I click on "Withdraw Funds" it redirects me to Uphold correctly but the 0.6 BAT of the browser is not debited.
In my computer Ubuntu and Windows 10 Brave brownser use the

[2020-02-01 18:28] Lissy93 commented on #353
I'm able to change it just fine, I'm on Arch which is what Manjaro is based off. I think your using an old version of Brave? It's not an isue with the current version, tested on Windows and Linux (Arch)

[2020-02-01 18:40] denisediniz commented on #6442
Same here. Steps to reproduce the issue (everything up-to-date)

1. Create a new local wallet with a new password;
2. Close the tab of the seed phrase confirmation page;
3. Go back to the crypto-wallets page: the password immediately redirects to login and there's no way to restore, remove or create a new account.

the seed phrase confirmation page doesn't scroll down in Win10 desktop.

[2020-02-01 20:31] ryanml commented on #6442
Thank you all for your reports, it’s helpful as I try to see exactly what’s going on. @BadseyBurger @foiba - can you confirm if you backed out of the seed confirmation page like @denisediniz and @aeikenberry ?

[2020-02-01 22:32] surachai0 opened #8006 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-02-02 00:05] diposs commented on #7981
@tmancey I have no issue as I am based in Nigeria but just wanted you to know it was first reported on the 27th. Happy to see the needful has been done by this post issued https://community.brave.com/t/estimated-pending-rewards-bug-january-31-2020/104727

[2020-02-02 00:27] jonathanKingston opened #8007 "Profile icon for websites skewed for 16px favicons"
## Description
Small icons that aren't 24px are stretched for the rewards page.

## Steps to Reproduce

   1. Open a new build of Brave
   2. Go to ycombinator.com
   3. Go to chrome://rewards/

## Actual result:
![Screenshot from 2020-02-02 00-15-33](https://user-images.githubusercontent.com/338988/73601073-64437a00-4552-11ea-9242-74bade8667c5.png)

## Expected result:

Vertically centred with ne

[2020-02-02 03:56] LucaTheHacker opened #8008 "New tab wrong resolution"
## Description
New tab images have a resolution that doesn't match the screen one.

## Steps to Reproduce

   1.  Get a 4k screen
   2.  Download a 4k or higher image (https://damettoluca.com/assets/images/telegramcrash.jpg)
   3.  Compare the resolutions.

## Actual result:
Actually the background resolution doesn't match with the screen one and there's an horrible effect for who loves high-quali

[2020-02-02 08:30] ckaspro commented on #3802
This seems to have happend again for me:
on Fedora 30 I got:
Public key for brave-browser-1.2.43-1.x86_64.rpm is not installed
Public key for brave-keyring-1.7-1.noarch.rpm is not installed

I could install brave-browser with:
sudo rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc

...but am unable to install the keyring.

[2020-02-02 10:44] jwsp1 commented on #1000
+1 from here. It would make brave easily available for 'average' linux users.

[2020-02-02 13:15] masparrow opened #8009 "Breakdown overuse of 'LEDGER_ERROR'"
Searching for where `ledger::Result::LEDGER_ERROR` is potentially returned as an error code yields almost 200 code locations (depending on the Brave version/branch searched).

From then on it seems the majority (if not all) are treated as unidentifiable error scenarios, when this is not the case.

This makes diagnosing issues related to this error extremely difficult without domain knowledge of Le

[2020-02-02 14:02] asolopovas commented on #7691
in my case, I went throw all my bookmarks sorted them, remove unnecessary ones spend couple of hours going through more than 200 bookmarks, The next day I open the browser and it completely synced it with older versions from other devices. Lovely project but sad that sync is totally useless.

[2020-02-02 14:51] GMModded commented on #4636
Still an open issue..?
Would like to remove this debug message

[2020-02-02 14:54] qnxor commented on #3718
In addition to my report above, I now tried to verify the wallet with Uphold. I clicked "Verify Wallet", it took me to Brave then Uphold which gave a green banner saying the wallet has been verified, and I can see a "Brave rewards" red card as well as a "BAT Account" card on Uphold.

However, they both show 0 balance. The browser shows 11.7 BAT. Also, the browser still says "Verify wallet" at the

[2020-02-02 15:22] zfoxzero opened #8010 "[suggest] Hope to add brave shields website whitelist feature"
Hope to add brave shields whitelist feature
Support for export and import website  list
Conveniently add a list of required websites in batches
thanks

[2020-02-02 16:14] erotavlas-turbo commented on #7528
I tried again with the latest version of brave v1.2.43. I can copy the profile across different versions of windows 10 (1909-1903) by losing all the extensions and some setting as default search engine, enabled spelling languages and home button customized options.

In my opinion, there is something that does not work well with windows since the same procedure has not problem with GNU/linux.

[2020-02-02 16:39] DruPlusDru commented on #6442
I am also having this same problem. The seed confirmation page froze up so I was unable to scroll the page and complete the assigned task. I closed out the window and am having the same issue as @denisediniz and @aeikenberry

[2020-02-02 19:55] s-ben commented on #6442
If it's any help, was locked out of MetaMask for a web3 site I was trying to access (Gitcoin), even after disabling Brave Crypto Wallets and restarting Brave. Restarted computer (OSX 10.14.6) and only then did MetaMask successfully connect.

[2020-02-02 21:36] chirag-farfetch opened #8011 "Payment fails when i try to pay on Udemy.com and bunch of other sites"
Payment fails when I try to pay on Udemy.com and a bunch of other sites. On google chrome it works however on brave browser it does not work

[2020-02-02 23:04] ryanbr commented on #8011
Hey @chirag-farfetch can you re-test with `Allow all cookies` in Shields?

[2020-02-03 01:18] srirambv commented on #7964
Works with enabling `Motion sensors` and `Location` and then changing device orientation
![compass](https://user-images.githubusercontent.com/17010094/73618953-f3cf5280-4650-11ea-8ec3-65ebb3547913.gif)

This fails on Chrome as well when `Motion sensors` setting is blocked. Since Chrome enables it by default it only checks for location and enabling it works.
![image](https://user-images.githubuserc

[2020-02-03 01:30] srirambv opened #8013 "Manual test run on OS X for Ethereum Remote Client 1.0.16"
## Per release specialty tests
 - [x] Import wallet learn more links to MM help page.([#6103](https://github.com/brave/brave-browser/issues/6103))
 - [x] JSON file import help links to MM help page.([#6104](https://github.com/brave/brave-browser/issues/6104))
 - [x] Crypto Wallet dark theme issues.([#6381](https://github.com/brave/brave-browser/issues/6381))
 - [x] Wallet backup screen should be r

[2020-02-03 01:30] srirambv opened #8014 "Manual test run on Windows x64 for Ethereum Remote Client 1.0.16"
## Per release specialty tests
 - [x] Import wallet learn more links to MM help page.([#6103](https://github.com/brave/brave-browser/issues/6103))
 - [x] JSON file import help links to MM help page.([#6104](https://github.com/brave/brave-browser/issues/6104))
 - [x] Crypto Wallet dark theme issues.([#6381](https://github.com/brave/brave-browser/issues/6381))
 - [x] Wallet backup screen should be r

[2020-02-03 01:30] srirambv opened #8015 "Manual test run on Linux for Ethereum Remote Client 1.0.16"
## Per release specialty tests
 - [x] Import wallet learn more links to MM help page.([#6103](https://github.com/brave/brave-browser/issues/6103))
 - [x] JSON file import help links to MM help page.([#6104](https://github.com/brave/brave-browser/issues/6104))
 - [x] Crypto Wallet dark theme issues.([#6381](https://github.com/brave/brave-browser/issues/6381))
 - [x] Wallet backup screen should be r

[2020-02-03 02:10] srirambv commented on #6103
Verification passed on

Brave | 1.3.105 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Linux
Component | `0.1.37`

- Verified Import wallet learn more links to Brave [Support Article](https://support.brave.com/hc/en-us/articles/360035488071-How-do-I-manage-my-Crypto-Wallets-)

[2020-02-03 02:17] srirambv commented on #6104
@ryanml this one doesn't seem to be fixed on component `0.1.37`. I still see MM link being used

Link on [line 25](https://github.com/brave/ethereum-remote-client/pull/111/files#diff-7569d1789a1e186dd5ab4952333abe8bR25) seems to be wrong.
[code]
This is the acutal article link https://metamask.zendesk.com/hc/en-us/articles/360015489331-Importing-an-Account that needs to be replaced

[2020-02-03 02:44] simonhong opened #8016 "[Android] Always crash whenever loading http://www.ciokorea.com/news/17850"
## Description
Always crash whenever loading http://www.ciokorea.com/news/17850

## Steps to reproduce

   1. Loading this url in android beta
   2.
   3.

## Actual result
crashed

## Expected result

## Issue reproduces how often
Easily reproduced

## Issue happens on
   - Current Play Store version? no
   - Beta build? yes

## Device details
   - Install type (ARM, x86): ARM
   - Device (Phone,

[2020-02-03 03:20] srirambv opened #8017 "Confirm secret phrase doesn't work"
## Description

Confirm secret phrase doesn't work

## Steps to Reproduce

   1. Load component `0.1.37`
   2. Enter seed phrase for confirmation
   3. Click on <kbd>Confirm</kbd>, doesn't very the seed phrase and verifies wallet

## Actual result:

Confirm secret phrase doesn't work

## Expected result:
Should successfully complete seed phrase verification

## Reproduces how often:

Easy

## Brav

[2020-02-03 04:22] srirambv commented on #8006
Please add details and reopen the issue

[2020-02-03 04:22] #8006 closed

[2020-02-03 04:24] GeetaSarvadnya commented on #7939
Verification passed on

Brave | 1.3.107 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)
- Verified STR's from the description
- Verified the test plan from https://github.com/brave/brave-core/pull/4447
![image](https://user-images.githubusercontent.co

[2020-02-03 04:26] srirambv commented on #6381
Verification passed on

Brave | 1.5.73 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.37`

- Welcome Screen disclaimer
![image](https://user-images.githubusercontent.com/17010094/73621975-216ec880-465e-11ea-843b-339f5f562562.png)
- Welcome Screen
![image](https://user-ima

[2020-02-03 04:26] srirambv opened #8018 "Crypto Wallet Dark theme [Follow up to #6381]"
## Description

Follow up issue for dark theme on Crypto Wallet page. Original issue #6381

## Actual result:

- Brave Rewards on disclaimer message is not distinguishable that it's a hyperlink
![image](https://user-images.githubusercontent.com/17010094/73622237-ecaf4100-465e-11ea-9d6e-fbf8980f4628.png)
- Connect Hardware doens't differentiate between which one is selected
![image](https://user-im

[2020-02-03 04:27] srirambv commented on #6381
Dark theme related follow up issue https://github.com/brave/brave-browser/issues/8018

[2020-02-03 04:29] srirambv commented on #7045
Verification passed on

Brave | 1.5.73 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.37`

- Verified wallet backup screen is responsive to browser window height and shows vertical scrollbars

[2020-02-03 04:34] srirambv commented on #7695
Verification passed on

Brave | 1.5.73 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.37`

- Verified learn more on connect wallet popup links to [Brave Support Article](https://support.brave.com/hc/en-us/articles/360035488071-How-do-I-manage-my-Crypto-Wallets-)

[2020-02-03 04:42] srirambv commented on #7791
Verification passed on

Brave | 1.5.73 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.37`

- Verified `Choose a type to set up` text is removed
![image](https://user-images.githubusercontent.com/17010094/73626095-af9e7b00-466d-11ea-9042-fdb28408c7b3.png)

[2020-02-03 04:56] GeetaSarvadnya opened #8019 "Folllow up of #7526 - Unable to set monthly tips hence not shown under contribution panel"
## Description

Follow up of #7526 - Unable to set monthly tips hence not shown under contribution panel
## Steps to Reproduce

   1. Clean profile 1.3.107 - launch using `brave.exe --rewards=staging=true,reconcile-interval=3`
   2. Claim the UGP grants
   3. Open https://duckduckgo.com/
   4. Open the BR panel and set the monthly contributions for https://duckduckgo.com/
   5. The monthly Tip isn

[2020-02-03 05:51] dhniels commented on #6442
I'm having this problem as well. The seed confirmation screen only showed 4 words and I couldnt get past it so i closed the window and now i get the login screen. If i enter the wallet password I created, it flashes the wallet very briefly before going back to the same login screen. Can't get past this screen or do really anything at all now.

[2020-02-03 08:05] srirambv commented on #7882
Verification passed on

Brave | 1.5.76 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.37`

- Verified connect wallet popup in wallet page is responsive and shows vertical scrollbars
![image](https://user-images.githubusercontent.com/17010094/73635613-e4b8c680-4689-11ea-91

[2020-02-03 09:20] srirambv commented on #6539
Verification passed on

Brave | 1.5.76 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.37`

- No untranslated text is shown on connect hardware screen
![image](https://user-images.githubusercontent.com/17010094/73638269-1fbdf880-4690-11ea-87d6-5715fb83e102.png)

[2020-02-03 09:20] #6539 closed

[2020-02-03 09:36] chirag-farfetch commented on #8011
@ryanbr , unfortunately i already made the purchase using other browser. I will do this next time i purchase and will let you know if i find the same issue. Thank you

[2020-02-03 10:48] srirambv commented on #7903
Closing the issue as not able to reproduce it with the same versions mentioned in the issue description. Will reopen it if I find consistent repro steps or if the issue starts to happen again

[2020-02-03 10:48] #7903 closed

[2020-02-03 11:17] ryanbr commented on #8011
I'll close this for the time being, just tag me again /link to this ticket if it occurs again. But Allowing Cookies should help :)

[2020-02-03 11:17] #8011 closed

[2020-02-03 11:52] jonathanKingston opened #8020 "Infura key not present in debug builds"
## Description
When running a debug build the Crypto Wallets extension gets very noisy on the cli due to what appears to be either a rate limited server or blocked.

Perhaps rate limited would be reduced by providing the `BraveServiceKey` key mentioned in https://github.com/brave/brave-browser/issues/7062#issuecomment-570429748?

## Steps to Reproduce

   1. Download brave-browser
   2. Build a de

[2020-02-03 12:55] btlechowski commented on #7991
@darkdh Looks like it. Feel free to close one as a duplicate.

[2020-02-03 13:19] LaurenWags commented on #8019
@GeetaSarvadnya are you launching with a short reconcile interval? your contribution date is today by the looks of your gif. Could you try without a reconcile interval and see if the issue reproduces? Also, can you try refreshing your brave://rewards page since you had it open? wondering if it's a display problem?

[2020-02-03 13:22] cezaraugusto opened #8021 "Theming for local front-end components should be stored within their feature"
Right now we import themes from brave-ui, making extending themes a two-step process.

[2020-02-03 13:47] cezaraugusto opened #8022 "Update paths for Sync components imports"
Sync was removed from brave-ui in https://github.com/brave/brave-ui/pull/552 and added to brave-core in https://github.com/brave/brave-core/pull/2888. Now, paths in brave-core need update as well.

[2020-02-03 13:54] srirambv opened #8023 "[Android] Chromium icon used for apk's with CR 80"
## Description
 Chromium icon used for apk's with CR 80

## Steps to reproduce

   1. Download 1.5.76 apk

## Actual result
![image](https://user-images.githubusercontent.com/17010094/73658650-b4d5e700-46ba-11ea-97e8-5dad5afd83ee.png)

## Expected result
Should use Brave icon for apk

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NA
   - Beta build? Yes

[2020-02-03 14:01] GeetaSarvadnya commented on #8019
@LaurenWags Yup, I am launching brave with a short reconcile interval of 3 minutes. Issues persist with and without reconcile interval in beta. However, I am unable to reproduce the issue with Dev and Nightly channels.

[2020-02-03 14:10] srirambv opened #8024 "[Android] Browser crash when selecting privacy from settings"
## Description
Browser crash when selecting privacy from settings

## Steps to reproduce

   1. Install 1.5.76
   2. Open settings
   3. Select privacy, browser crashes

## Actual result
Browser crash when selecting privacy from settings

## Expected result
No crash

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NA
   - Beta build? Yes

## Device details

[2020-02-03 14:29] jonathanKingston opened #8025 "Brave extension injecting script into page it doesn't have permissions for"
## Description
The Brave extension is causing console errors due to attempting to inject a script into pages that aren't permitted based on manifest restrictions.

## Steps to Reproduce

   1. Go to brave://inspect
   2. Open the console for the background page
   3. Open a new tab

## Actual result:

Unchecked runtime.lastError: Cannot access contents of url "chrome://newtab/". Extension manifest

[2020-02-03 14:37] #8022 closed

[2020-02-03 14:58] LaurenWags commented on #7713
Verified passed using

Brave | 1.3.106 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4379
* Verified testing done in https://github.com/brave/brave-core/pull/4379#issuecomment-578190490
<img

[2020-02-03 15:18] jackgriffinmd opened #8026 "Failure of Brave to i.d. changelogs under Linux"
## Description

For Linux updates, update dialog box does not show nor identify actual changelog info for Brave browser

## Steps to Reproduce

   1. sign-in or log-on to Linux "Updates Manager" to show suggested updates listing in popup dialog
   2. select "Brave Browser" as the item to update
   3. view window below which shows the software main "description" and "changelog" on separate tabs
4.

[2020-02-03 15:28] SergeyZhukovsky commented on #7875
We don't use component build on Android as low end devices have a limited amount of dynamic libraries that could be loaded(around ~30) and it just crashes on such devices. It would be good to fix that but not a top priority for now

[2020-02-03 15:46] #8024 closed

[2020-02-03 16:15] mbacchi opened #8027 "Request access to the private Apple entitlement for Chromium PWAs: com.apple.developer.associated-domains.applinks.read-write"
As of Chromium 80, there is a private Apple entitlement that is used for PWA support. It caused us trouble when signing Chromium 80 last week, and we added [this patch](https://github.com/brave/brave-core/pull/4472) as a workaround for the short term to remove the entitlement. The Chromium team pointed out that they [announced this](https://groups.google.com/a/chromium.org/forum/#!topic/embedder-d

[2020-02-03 16:30] juligreen commented on #2954
I also miss this feature!

Coming from Vivaldi, there I can use the bookmark nickname in the "quick command" window and have the sites open immediately

[2020-02-03 16:32] srirambv opened #8028 "Switching theme doesn't update CW page"
## Description

Switching theme doesn't update CW page

## Steps to Reproduce

   1. Set browser theme to dark
   2. Load `0.1.37` component
   3. Ensure Dark theme is used for CW
   4. Switch browser theme to light
   5. CW doesn't change theme need to reload page to switch to light

## Actual result:

Switching theme doesn't update CW page

## Expected result:
Should auto switch

## Reproduces h

[2020-02-03 16:47] GeetaSarvadnya commented on #7833
Verification passed on

Brave | 1.3.107 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Verified https://github.com/brave/brave-browser/issues/7833#issuecomment-578202969
 **Before upgrade 0.63.55**
![image](

[2020-02-03 16:59] btlechowski commented on #8019
I am not able to reproduce on Beta on Ubuntu

Verification passed on

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/73673447-eea0f080-46ae-11ea-8032-b8ffb3bb7f64.png)

[2020-02-03 17:04] btlechowski commented on #8019
Not reproducible on Windows 7x64

Brave | 1.3.107 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

![image](https://user-images.githubusercontent.com/34715963/73673755-843c8000-46af-11ea-94a3-bf5a5d0709c7.png)

[2020-02-03 17:08] rubencg195 commented on #7238
THIS IS ESSENTIAL. PASSWORD SYNCING IS ANOTHER.

[2020-02-03 17:18] mkarolin opened #8029 "C80 followup: Disable kVideoPlaybackQuality feature."
@fmarier suggested disabling kVideoPlaybackQuality feature (enabled by default in C80), as it may be used as a fingerprinting vector.
<pre>
+// Controls whether the <video>.getVideoPlaybackQuality() API is enabled.
+const base::Feature kVideoPlaybackQuality{"VideoPlaybackQuality",
+                                          base::FEATURE_ENABLED_BY_DEFAULT};
</pre>

[2020-02-03 17:38] #7975 closed

[2020-02-03 17:49] GeetaSarvadnya commented on #7999
Reproduced on windows

Brave | 1.3.107 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-03 18:11] samartnik opened #8030 "C80 followup: [Android] Fix toolbars layouts after cr-80 rebase"
Top and bottom toolbar layouts were broken after cr-80 rebase. Needs to be fixed.

[2020-02-03 18:11] jonathanKingston commented on #3232
I couldn't reproduce this on Linux using the latest master, has it gone @jumde?

[2020-02-03 18:14] bsclifton commented on #5886
I believe this is a duplicate of https://github.com/brave/brave-browser/issues/7207 - we'd want to solve that and then this should be good to go. I suspect the log isn't written because output buffer is not flushed (for writing the file) as process is killed unexpectedly

[2020-02-03 18:14] #5886 closed

[2020-02-03 18:14] bsclifton commented on #6189
Closing as a duplicate of https://github.com/brave/brave-browser/issues/7207

[2020-02-03 18:14] #6189 closed

[2020-02-03 18:56] #7991 closed

[2020-02-03 18:59] mkarolin opened #8031 "C80 followup: get c80 l10n from Transifex."
Download the latest l10n from Transifex for Chromium 80.
Transifex expects the localization to be ready on 2/4/2020.

[2020-02-03 19:56] LaurenWags commented on #7844
Verified passed using

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified STR from description
* Verified test plan from https://github.com/brave/brave-core/pull/4399
* Verified test cases from https://github.com/brave/brave-core/pull/

[2020-02-03 20:23] mkarolin opened #8033 "Upgrade from Chromium 80.0.3987.78 to Chromium 80.0.3987.85"
QA tests:

This bump can be combined with testing the major bump #7255

[2020-02-03 20:30] mbacchi commented on #7731
Dup of https://github.com/brave/brave-browser/issues/6572, fixed in https://github.com/brave/brave-core/pull/4456

[2020-02-03 20:31] btlechowski commented on #7946
Verification passed on

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

Verified STR from the description. The sponsored images were not shown for Canada.
Used following command lines to trigger region change.
`LANG=en_US.UTF-8 LANGUAGE=en_US /usr/bin/brave-brows

[2020-02-03 21:03] LaurenWags commented on #7709
Verified passed with

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plans from https://github.com/brave/brave-core/pull/4372
Test Plan 1:
<img width="759" alt="7709-PR-TestPlan1" src="https://user-images.githubusercontent.com

[2020-02-03 21:05] ryanml commented on #8020
Hi @jonathanKingston - currently our Infura project credentials are not present in debug builds of the brave browser.

If you'd like to make your own project id for testing purposes, you may do so then pass it in as `BRAVE_INFURA_PROJECT_ID`, or you can also hardcode it here: https://github.com/brave/brave-core/blob/master/browser/extensions/api/brave_wallet_api.cc#L141

[2020-02-03 21:34] vdrover commented on #4094
Adding my +1

[2020-02-03 21:36] ryanml commented on #6442
@BadseyBurger @foiba @denisediniz @aeikenberry @DruPlusDru @s-ben @dhniels

Thank you all so much for your patient, I have identified a fix for this and posted it here: https://github.com/brave/ethereum-remote-client/pull/114

We have also fixed the scroll issue on the confirm seed phrase page. You'll now be able to see everything on certain viewports. The fix will also backfix your situations so

[2020-02-03 21:37] andrei-pavel commented on #4094
Studies have shown that adding this feature would leave Chrome at 20% of user market.

[2020-02-03 21:44] jumde opened #8034 "Add Crowd Deny requests to audit whitelist"

[2020-02-03 22:18] fusionneur commented on #3296
Same issue, but even if i never used sync. I also inspect Brave sync but didn't find any 'corrupt' stuff.
This occurs randomly, but whenever this occurs, next time i open brave i get restore tabs, thus meaning it crashed on exit.
Note that i have multiple profiles and had sessions on each of them before exiting brave completely.

[2020-02-03 22:20] jonathanKingston commented on #8020
@ryanml I see I was able to get it working copying the key from my production version.

I wasn't able to get it working by creating a test project at https://infura.io is there additional steps I could be missing?

Could we make some kind of test key the default perhaps on the debug build?

[2020-02-03 22:32] DaniellMesquita commented on #7882
It isnt very responsive. There is yet a space between the bottom text and footer buttons.

[2020-02-03 22:33] #5450 closed

[2020-02-03 22:36] ryanml commented on #8020
@jonathanKingston that's another way to go, given that in the latest infura API project ids are part of the request path it isn't hard to hunt.

A project id from a test project should work though, how did you try implementing it? Are you getting a 403 with it.

I think so, let me label this issue as one of dev-experience

[2020-02-03 22:37] LaurenWags commented on #7741
Verified passed with

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (assemblage 18G103)

* Per https://github.com/brave/brave-browser/issues/7741#issuecomment-578589563, verified a subset of the test plan from https://github.com/brave/brave-core/pull/4392

[2020-02-04 01:04] jamesturnernz commented on #7693
Hi, just wondering if there is an alternative please?

If I can't use GAIA chrome.identity.getAuthToken() in my extension, but still want to offer Google Auth, how can I do this please?

Thanks

[2020-02-04 01:07] #7636 closed

[2020-02-04 01:18] washere commented on #4509
Disabling images then it gets worse. Why does it take eons to set a solid background color (most would want black) by the devs?

You do realize NUMEROUS users, probably millions, DROP Brave because the NTP is a barbaric reddish_purple which is blinding. Over 90% of professional coders, IT staff, pro writers, etc. etc. many of whom are major social influencers ONLY work with dark themed: IDEs, Prod

[2020-02-04 01:58] simonhong opened #8037 "Got update error after uploading ntp component crx"
After uploading ntp component crx to go updater, browser sometimes gets `Update error` status for some time(maybe 10 ~ 20 mins) in `brave://components` page. Then, properly updated to newer version.

and sometimes works well w/o error.

I think state should be `Component not updated` instead of `Update error` if it's related with cache flush.

cc: @jumde @bsclifton

[2020-02-04 01:59] ianmf6 commented on #3650
I am having the same issues with Google Keep, Google Calendar, Save to Google Drive browser extensions. Sign in to Google using Keep extensions doesn't do anything. Google Calendar gets stuck in authorizing account.

[2020-02-04 02:10] tmancey commented on #7981
Closing issue as it is now resolved server-side, thank you

[2020-02-04 02:10] #7981 closed

[2020-02-04 02:27] yrliou commented on #8023
Appears to be arm64 only since I can't reproduce using Bravearm.apk but can reproduce using BraveMonoarm64.apk, latest nightly (1.5.80).

[2020-02-04 04:03] jumde opened #8039 "Add a flag to switch to use go-update production or development server"
## Test plan
See https://github.com/brave/brave-core/pull/4754

## Description
`kBraveUpdatesExtensionsEndpoint` defines the go-update server currently being used. We should add a runtime flag for setting the go-update server to be used instead of hard coding the endpoint.

[2020-02-04 04:06] SergeyZhukovsky commented on #7891
I checked that and it works as expected, doing nothing here.

[2020-02-04 04:06] #7891 closed

[2020-02-04 04:13] SergeyZhukovsky commented on #7876
The code is used for QR code reading for sync functionality. I verified it works as expected regardless the warning. In the future we probably should switch to `zxing` lib code reader that we use already for QR code generation. The current QR reading code is old, so it will be a good switch. Closing it for now as it works as expected.

[2020-02-04 04:13] #7876 closed

[2020-02-04 05:17] petemill opened #8040 "NTP Sponsored Images feature should be enabled"
Currently this feature is behind a feature flag that is DISABLED by default. Instead it should be ENABLED by default.

[2020-02-04 05:33] zwimer commented on #354
I agree. I constantly hit ctrl-D to close a window (I am used to doing this for terminals). I would like the ability to change the bookmark key-binding to a different shortcut.

[2020-02-04 06:20] vinicentus commented on #354
Would it be possible to write this as an open source chromium extension that would then be included by default? That way it might be easier to maintain. I don't know how efficient that would be, just throwing the idea to you :)

[2020-02-04 07:25] vigneshr23 commented on #4412
I am waiting for this feature to ship. Syncing browser tabs and search history across chained devices is gonna make this browser great!

[2020-02-04 07:35] GeetaSarvadnya opened #8041 "One-time tips are not displayed under tips panel"
## Description

One-time tips are not displayed under tips panel

## Steps to Reproduce

   1. Clean profile 1.3.109 launch using `brave.exe --rewards=staging=true,reconcile-interval=5`
   2. Enable rewards and claim UGP grants
   2. Open a verified publisher
   3. Send a one-time tip
   4. The one-time tip is not displayed under tips panel
   5. Wallet balance is reduced by 1 BAT, the one-time ti

[2020-02-04 07:46] GeetaSarvadnya commented on #8019
@btlechowski Can you try it on windows 10.? The issue is consistently reproducible in windows 10 x64

[2020-02-04 07:56] TheIgnorantDev opened #8042 "Whole browser goes blurry"
## Description

The whole brower looks like i took acid.

## Steps to Reproduce

   1. http://prntscr.com/qx8kz2
   2. http://prntscr.com/qx8m0u
   3.

## Actual result:

## Expected result:
Normal looks

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with th

[2020-02-04 11:52] ryanbr commented on #8042
Hey @TheIgnorantDev certainly very strange. Could possibly be a graphics driver issue. In the Brave Settings, does disabling `Hardware Acceleration` help?

[2020-02-04 11:57] jonathanKingston commented on #2951
I think there is a follow up bug here as `brave:` still thinks it should search where as `chrome:` doesn't it appears `BraveAutocompleteSchemeClassifier::GetInputTypeForScheme` isn't fired in that case. I think however that is orthogonal to the issue here.

[2020-02-04 12:05] jonathanKingston commented on #8020
I just exported the global variable and did the exact same thing for the live ID and that worked. I was getting the same 403 and I also verified the ID was in the URL.

[2020-02-04 13:32] cezaraugusto commented on #8021
Closing as invalid. Feature-specific themes are already available in brave-core and https://github.com/brave/brave-ui/pull/556 is tracking the code removal in brave-ui.

[2020-02-04 13:32] #8021 closed

[2020-02-04 13:47] btlechowski commented on #7987
Many users complain that Tor stopped working for them.

https://community.brave.com/t/private-window-with-tor/104893

[2020-02-04 15:19] #7726 closed

[2020-02-04 15:21] denismp commented on #7987
I am having the same issue on High Sierra.

[2020-02-04 15:23] LaurenWags opened #8043 "previously used wallet gets second UGP grant claim notification"
## Description

Found by @GeetaSarvadnya

background: VG are specific to the profile being used (per https://github.com/brave/brave-browser/issues/6937).

What it looks like is happening is if you restore a wallet that had a UGP in a previous profile, you get prompted to claim another UGP grant on a clean profile but you don't actually get the BAT from it. Seems like we shouldn't be prompted for t

[2020-02-04 15:32] #7999 closed

[2020-02-04 16:19] LaurenWags commented on #7999
Verified passed with

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified the following (on staging environment):
Using a connected but not KYC'd user wallet, I was able to
   - [x] do a one time tip
   - [x] a monthly tip (contribution

[2020-02-04 16:21] LaurenWags opened #8044 "C80 - unable to open PDF"
## Description

Originally reported by @AlexeyBarabash

Unable to open PDFs on chromium 80 versions of Brave.

## Steps to Reproduce

   1. Have C80 version installed
   2. Try to open a PDF such as: https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf

## Actual result:

PDF does not display

## Expected result:
PDF should display

## Reproduces how often:

easily

## Brave ver

[2020-02-04 16:31] jonathanKingston opened #8045 "URL fixup code doesn't recognise brave scheme"
After looking into #2951 I realised that `brave` wasn't working in the URL bar due to the Fixup code within chromium doesn't allow list the brave scheme causing it to always be treated as search.

`url_formatter::FixupURL()` is the code that needs to be modified to make this work.

[2020-02-04 16:43] GeetaSarvadnya commented on #3651
@tmancey Apart from one check rest other checks are validated. Can you explain what is manifest? `Confirm native Ad notifications are not shown on Windows if notifications are disabled by manifest`.

[2020-02-04 17:06] SergeyZhukovsky commented on #7727
That issue depends on that one https://github.com/brave/brave-browser/issues/8030. So waiting for the PR to be merged

[2020-02-04 17:15] LaurenWags opened #8046 "Ads history is limited to 99 entries - follow up to 5863"
## Description
Originally logged with #5863

Per discussion, logging this follow up issue so #5863 can be retested with 1.4.x milestone where blocking issue #7743 is fixed by #6757

## Steps to Reproduce
follow steps in #5863 (see @btlechowski for file if needed)

## Actual result:

Only up to 99 ads viewed during 7 days are shown in the history

## Expected result:
All ads viewed during 7 days sh

[2020-02-04 17:16] LaurenWags commented on #5863
Marked `release-notes/exclude` and `QA/No` per discussions with @kjozwiak and @rebron
Logged follow up issue #8046 so this can be retested with 1.4.x milestone where the blocking issue (#7743) is resolved by #6757

[2020-02-04 17:16] #8046 closed

[2020-02-04 17:17] LaurenWags commented on #8046
Closing this issue as its blocking issue #7743 is fixed by #6757 in the 1.4.x milestone

[2020-02-04 17:18] #7743 closed

[2020-02-04 17:19] LaurenWags commented on #7743
Closing issue as it was not reproduced in 1.4.x milestone by @btlechowski (original reporter) and it will not be fixed for 1.3.x.

Additionally, we will have to test #8046 with this issue.

[2020-02-04 17:49] kjozwiak commented on #6572
@mbacchi is there anything in particular that QA needs to run through for this PR? Assuming this is `macOS` only? Do we basically need to make sure that the builds are being installed/updated without any issues?

[2020-02-04 17:51] #5381 closed

[2020-02-04 17:57] mbacchi commented on #6572
Yes, if you could just verify it installs and runs successfully on MacOS Catalina, it would indicate that notarization is working correctly. Thanks!

[2020-02-04 18:01] #6442 closed

[2020-02-04 18:01] #8017 closed

[2020-02-04 18:02] #8018 closed

[2020-02-04 18:02] #8028 closed

[2020-02-04 18:02] moritzhaller opened #8047 "Implement Purchase Intent Classifier for Brave Ads"
For requirements search "Purchase Intent MiniSpec" on shared drive.

[2020-02-04 18:04] #7993 closed

[2020-02-04 18:07] GeetaSarvadnya commented on #6825
Verification is in proress

Brave | 1.3.109 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

**Clean profile 1.3.x**
- Verified ads for countries Belgium, Bulgaria, Finland, Greece, and Norway in a clean profile
    - ensured enable Rewards enables Ad

[2020-02-04 19:18] immanuelfodor opened #8049 "`x-client-data` header should not be sent in requests"
## Updated Issue Description (notes from @bsclifton)
Visiting sites like youtube.com will show a `x-client-data` header. This wasn't in Brave for a long time because we didn't use the variations server. This showed itself recently since we did recently create a Brave-specific variations server. This header should be disabled.

## Original Issue Description

There is an ongoing conversation about t

[2020-02-04 19:20] immanuelfodor commented on #8049
Also submitted this issue to https://github.com/brave/browser-android-tabs/issues/2505 but if the current repo is for the Android browser as well, feel free to close that one and keep only this one open.

[2020-02-04 19:28] kjozwiak opened #8050 "Manual test run on OS X for 1.3.x - Release"
## Per release specialty tests
 - [x] Migrate brave sync to USS bookmarks.([#6437](https://github.com/brave/brave-browser/issues/6437))
 - [ ] Sync cannot enable chain sometimes .([#6504](https://github.com/brave/brave-browser/issues/6504))
 - [ ] Implement client side changes of sync compaction.([#6552](https://github.com/brave/brave-browser/issues/6552))
 - [x] Upgrade Sparkle to support hardene

[2020-02-04 19:28] kjozwiak opened #8051 "Manual test run on Windows x64 for 1.3.x - Release"
## Per release specialty tests
 - [x] Fix user earns while native Windows notifications are suppressed.([#3651](https://github.com/brave/brave-browser/issues/3651))
 - [x] Migrate brave sync to USS bookmarks.([#6437](https://github.com/brave/brave-browser/issues/6437))
 - [x] Sync cannot enable chain sometimes .([#6504](https://github.com/brave/brave-browser/issues/6504))
 - [x] Implement client s

[2020-02-04 19:28] kjozwiak opened #8052 "Manual test run on Linux for 1.3.x - Release"
## Per release specialty tests
 - [x] Grant virtualization - Phase 1.([#6078](https://github.com/brave/brave-browser/issues/6078))
 - [x] Migrate brave sync to USS bookmarks.([#6437](https://github.com/brave/brave-browser/issues/6437))
 - [x] Sync cannot enable chain sometimes .([#6504](https://github.com/brave/brave-browser/issues/6504))
 - [ ] Implement client side changes of sync compaction.([#

[2020-02-04 19:31] #8033 closed

[2020-02-04 19:32] #8029 closed

[2020-02-04 19:34] LaurenWags commented on #7807
Verified passed with

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced issue using 1.2.43
* Verified STR from description

[2020-02-04 20:24] petemill opened #8056 "[Android] master build error"
[code]

caused by https://github.com/brave/brave-core/pull/4269

[2020-02-04 20:48] btlechowski commented on #7893
Verification passed on

Brave | 1.3.109 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

Verification passed on

Brave | 1.3.109 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS |

[2020-02-04 20:52] b00sher commented on #8049
Have you checked? If no, could you? Can't get hands on it rn.

[2020-02-04 20:53] LaurenWags commented on #7855
Verified passed with

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced the issue using 1.2.43:
<img width="1193" alt="Screen Shot 2020-02-04 at 3 18 47 PM" src="https://user-images.githubusercontent.com/28145373/73783504-cc1bdf80-4

[2020-02-04 20:58] #8056 closed

[2020-02-04 21:37] kjozwiak opened #8057 ""Show Sponsored Images" toggle under "Dashboard Settings" should look the same as others"
## Description

When toggling `Show Sponsored Images` under the NTP, you'll notice that it's missing the actual switch in certain cases and will only display an orange dot which might confuse some users. In some cases, the orange dot is visible when the feature has been disabled as per the example below.

## Steps to Reproduce

   1. launch brave and ensure that NTP SI has been enabled
   2. go in

[2020-02-04 21:54] mkarolin opened #8058 "Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87"
QA tests:

This bump can be combined with testing the major bump #7255

[2020-02-04 21:55] MitchellNZ commented on #8049
Just did a quick test on Windows 10.
Can't see Brave sending this request header (like I can when I test on Chrome).
Tested by accessing youtube.com (with and without Brave shields - same result).

[2020-02-04 21:58] yrliou opened #8059 "A general fix for brave-resources host handling"
Right now we are adding required permissions for chrome://brave-resources on demand.
We should come up with a general fix that could automatically add brave-resources for anything that has chrome://resources or try to have some internal rewrite of the URL to free us from getting blocked and has the same power as chrome://resources.

cc @bridiver

[2020-02-04 22:00] kjozwiak commented on #7884
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.15.3 (Build 19D76)

* Verified cases `9` & `10` as per https://github.com/brave/brave-browser/issues/7884#issue-553971727

### **`Different w

[2020-02-04 22:01] yrliou opened #8060 "Follow up: Get rid of pdfium manifest patch"
Remove the manifest patch added by https://github.com/brave/brave-core/pull/4500.

from @bridiver
1. `SanitizeContentSecurityPolicy` for adding brave-resources into csp if chrome-resources is allowed.
2. chromium_src override of `chrome/common/initialize_extensions_client.cc` for `ChromeExtensionsClient` -> `BraveExtensionsClient`, then add brave-resources in `GetPermittedChromeSchemeHosts`.

[2020-02-04 22:05] gdregalo commented on #7763
The problem was fixed partially.

[2020-02-04 22:14] LaurenWags commented on #7885
Verified passed with

Brave | 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

pre-opt in to Rewards (ever):
<img width="303" alt="pre-opt in" src="https://user-images.githubusercontent.com/28145373/73792090-a1398780-4771-11ea-9fce-0321d426123e.png">

[2020-02-04 22:24] LaurenWags commented on #7975
Verified passed with

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | macOS Version 10.14.6 (Build 18G103)

<img width="1185" alt="Screen Shot 2020-02-04 at 5 24 16 PM" src="https://user-images.githubusercontent.com/28145373/73792858-2f623d80-4773-11ea-8130-b8dd72cdbbf7.png">

[2020-02-04 22:25] LaurenWags commented on #7255
Marking as `release-notes/exclude` since it is superseded by #7975

[2020-02-04 22:29] rebron opened #8061 "neutral new tab background for dark mode/no background images"
## Description
In dark mode, the new tab page no background image looks to be too bright for those wanting to be in "dark mode". Maintain current gradient background for light theme but use a different background for dark theme.

## Actual result:
<img width="1277" alt="Screen Shot 2020-02-04 at 2 24 20 PM" src="https://user-images.githubusercontent.com/5951041/73793135-9b847780-475a-11ea-886b-606

[2020-02-04 22:33] petemill opened #8062 "Build: fatal error: 'base/logging_buildflags.h' file not found"
master build error

[code]

[2020-02-04 22:35] #8062 closed

[2020-02-04 22:35] petemill commented on #8062
Fixed via brave/brave-core#4505

[2020-02-04 22:48] simonhong opened #8063 "Change wayback machine endpoint to brave-api.archive.org"
Change wayback query url from `https://archive.org/wayback/available?url="` to `https://brave-api.archive.org/wayback/available?url="`

Verification step with new endpoint.
1. Go to https://brave.com/bo
2. Check wayback infobar is shown
3. Click the check button and throbber animation is started
4. Check an archived version is loaded

[2020-02-04 23:21] rebron commented on #4509
@washere follow-up issue specifically addressing background color here -> https://github.com/brave/brave-browser/issues/8061
We have a/some designs that we'll be posting in that issue shortly.

[2020-02-04 23:26] btlechowski opened #8065 "Follow up #7948 Moving of bookmark is not propagated to another device"
Follow up #7948. The issue still reproduces.

Important: Reproduces on 1.3.110, 1.4.78, 1.5.82. All versions are Chromium 80.

## Steps to Reproduce

   1. Clean profile DeviceA and DeviceB
   2. DeviceA: open `interia.pl`
   3. DeviceA: open `youtube.com`
   4. DeviceA: create sync chain and copy code words
   5. DeviceB: enter code words
   6. Wait for sync
   7. DeviceA: bookmark `interia.pl`

[2020-02-04 23:34] btlechowski commented on #7948
The issue still reproduces. Per our process I logged a new issue.

Verification passed on

Brave | 1.3.109 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

Issue logged: https://github.com/brave/brave-browser/issues/8065

[2020-02-04 23:39] kjozwiak commented on #6572
Verification **PASSED** on `macOS Catalina 10.15.3 x64` using the following build:

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | macOS Version 10.15.3 (Build 19D76)

* ensured that Brave launches without any issues on a clean profile
* ensured that the Widevine component was downloade

[2020-02-04 23:45] btlechowski commented on #8041
Reproduced on Windows 7 x64

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Used test plan from the description.
Note: Reload of `brave://rewards` does not fix the issue
Note: Browser restart does not fix the issue

![image](https://user-imag

[2020-02-04 23:45] kjozwiak commented on #6647
Due to this being hard to QA and which takes up a lot of time, we're going to check a single platform to make sure it's working after speaking with both @tmancey and @jsecretan.

[2020-02-05 00:19] washere commented on #4509
@rebron Thanks for the reply.

*** NO "dark" designs**, as you put it, is not what many online (github, reddit, forums etc etc) want.
*** Nor "dark photos"** etc. as many online have said.

Many of us just want to be able to:

**SET THE NTP BACKGROUND TO BLACK**

* Other colors would be a luxury right now. Just like Windows Background option to set to a solid color.

WE JUST WANT TO HAVE BLACK BAC

[2020-02-05 00:20] jumde opened #8066 "Remove NDEBUG in OnBeforeURLRequest_StaticRedirectWork"
https://github.com/brave/brave-core/blob/fc0272b04e6ec4e0441d3fb507566bc821234892/browser/net/brave_static_redirect_network_delegate_helper.cc#L135

is handled by network-audit and is not needed anymore.

[2020-02-05 00:21] washere commented on #8061
@rebron Thanks for the reply.

*** NO "dark" designs**, as you put it, is not what many online (github, reddit, forums etc etc) want.
*** Nor "dark photos"** etc. as many online have said.

Many of us just want to be able to:

**SET THE NTP BACKGROUND TO BLACK**

* Other colors would be a luxury right now. Just like Windows Background option to set to a solid color.

WE JUST WANT TO HAVE BLACK BAC

[2020-02-05 00:41] rebron commented on #8065
I was able to reproduce on 1.3.110 Windows 10/macOS 10.15.3
I was also able to reproduce on 1.5.79 Windows 10/macOS 10.15.3 but here first bookmark move propagated, (on macOS first device) second move of same bookmark and a delete of a bookmark wasn't reflected in second device (Win10).

[2020-02-05 00:55] #8044 closed

[2020-02-05 01:03] jumde commented on #7987
Hi @denismp, we pushed an update to `Brave Tor Client Updater` crx.  Can you check if the issue is resolved for you? If not, can you try the following steps:

- Navigate to brave://components and check if the component version is 1.0.8 for `Brave Tor Client Updater (Mac)`.
- If yes, restart the browser and open `New Private Window with Tor`.
- If not, click `Check for Update`. It should update to

[2020-02-05 02:07] btlechowski commented on #8065
According to https://github.com/brave/brave-browser/issues/7948#issuecomment-580046599, this issue was fixed in 1.5.69, but know I can reproduce it on 1.5.69. Maybe it is a server side issue?

[2020-02-05 02:43] yrliou commented on #8023
Weird that I can't reproduce it using my local release arm64 build, nightly icon is shown normally.

[2020-02-05 02:45] kjozwiak opened #8067 ""Framework!ProfileDestroyer::~ProfileDestroyer()" crash when closing Tor windows"
## Description

Originally found/reported by @yrliou. When closing opened Tor windows on `CR 80.0.3987.78`, the browser will crash via the following:

[code]

Seems like this is happening on `CR 80.0.3987.66` and `CR 80.0.3987.78` but **NOT** `CR 80.0.3987.85`

Crashes:

* https://stats.brave.com/dashboard#crash/5e3a28880dd633006dec6f43

@brave/legacy_qa lets wait till we get a build with `80.0.39

[2020-02-05 02:46] kjozwiak commented on #8067
As per the above, @yrliou mentioned that this seems to be working under `CR 80.0.3987.85`. Created this issue so QA makes sure that Tor is working as expected once we get builds running CR `80.0.3987.85`.

[2020-02-05 03:26] antonok-edm opened #8068 "Cosmetic filtering should be enabled by default"
Currently merged implementation of cosmetic filtering is off by default, new 1p/3p heuristics should allow it to be enabled by default.

[2020-02-05 03:44] immanuelfodor commented on #8049
I was using my phone when submitted this (evening), and I'm still on my phone (morning), I'd gladly check it otherwise 😅 If somebody has a laptop, please check it, or I'll report back later in the day when I'm with a desktop.

[2020-02-05 03:46] immanuelfodor commented on #8049
Great news for a start! I have a Linux OS, will see that build, too.

[2020-02-05 04:55] igekaratas commented on #3121
Hi, how do I put this setting into my Brave browser? I am not good with Github, I don't know how to apply these kind of settings.
Thanks.

[2020-02-05 05:40] TheIgnorantDev commented on #8042
Graphics are up to date. GTX 1080TI updated through GEFORCE Experience. Turned off hardware acceleration and it seems to have worked some. Its not as often anymore but it does still happen. Also just to be clear I am on the latest version
https://prntscr.com/qxpth1

[2020-02-05 06:34] rebron commented on #3961
Closing as stale. Let's file new ones for this issue that are specifically actionable.

[2020-02-05 06:34] #3961 closed

[2020-02-05 06:38] rebron commented on #5832
cc: @karenkliu @bradleyrichter Need new mock-ups for this one.
Wha it currently looks like:
<img width="802" alt="Screen Shot 2020-02-04 at 10 38 13 PM" src="https://user-images.githubusercontent.com/5951041/73817122-0f487380-479f-11ea-8a2c-786d9921b86a.png">
![Uploading Screen Shot 2020-02-04 at 10.38.00 PM.png…]()

[2020-02-05 06:59] GeetaSarvadnya commented on #8065
Couldn't reproduce the issue in Window 10 x64 - `1.3.110`

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified creating folder in both Device A and Device B - folders sync works fine
- Verified adding bookmarks into folders in both De

[2020-02-05 07:02] darkdh commented on #8065
It was the issue of SQS events couldn't get forwarded.
And now it is fixed so feel free to close the issue if verification passed.

[2020-02-05 07:29] rebron commented on #8065
https://github.com/brave/brave-browser/issues/8065#issuecomment-582186493 retried after SQS fix and it working properly on 1.3.110 Windows 10 x64 and macOS, following Geeta's steps.

@btlechowski close out if it's working for you now.

[2020-02-05 07:59] rebron commented on #4509
@washere We'll take your feedback and yours is one of many and we appreciate it. But writing in all caps doesn't work for me.

Also, you mentioned `NO "dark" designs**, as you put it` yet you put a screenshot of minimal Morpheon Theme design. There's surprisingly a lot of shades of black or dark which is why we need designs and it's why you posted one.

Many years ago we built extensions for this

[2020-02-05 08:10] rafaces commented on #6461
Same problem here;
I have synced bookmarks between 2 Macbooks, 1 iPad and 1 Android phone;
The bookmark list is a mess, and although I try to delete duplicates every other day, the list grows all the time and I can't handle manually fixing it every time anymore

[2020-02-05 08:15] erotavlasme opened #8069 "Profile folder copying issue on windows 10: problem still present"
Hi,

I already opened an [issue](https://github.com/brave/brave-browser/issues/7528) about copying profile folder on windows 10 1909 64 bit. The problem is still present.
If I manually copy %USERPROFILE%\AppData\Local\BraveSoftware\Brave-Browser\User Data\Default folder or the entire %USERPROFILE%\AppData\Local\BraveSoftware\Brave-Browser\ folder some preference are stored (theme, some settings) w

[2020-02-05 08:15] kjozwiak commented on #7840
Believe we should be able to QA this now that https://github.com/brave/brave-core/pull/4448 & https://github.com/brave/brave-core/pull/4438 have been uplifted into `1.3.x`.

[2020-02-05 08:18] kjozwiak commented on #7635
Believe we should be able to QA this now that https://github.com/brave/brave-core/pull/4372 and https://github.com/brave/brave-core/pull/4399 have been uplifted into `1.3.x` via:

* https://github.com/brave/brave-core/pull/4448
* https://github.com/brave/brave-core/pull/4438

[2020-02-05 09:49] GeetaSarvadnya opened #8070 "Dashboard setting `Show background image` switch is distorted in an upgraded profile"
## Description

Dashboard setting `Show background image` switch is distorted in an upgraded profile

## Steps to Reproduce

   1. Clean profile 1.2.43
   2. Open a bunch of sites
   3. Make sure top sites are added in a new tab page
   4. Upgrade to 1.3.110
   5. Remove stats
   6. Top sites are moved to the top as expected
   7. Click on Dashboard settings
   8. Dashboard setting `Show backgroun

[2020-02-05 11:10] GeetaSarvadnya opened #8071 "Follow up of #7840 - After excluding a site from A-C table `Show All` link is not shown in ac table"
## Description

After excluding a site from A-C table `Show All` link is not shown in ac table

## Steps to Reproduce

   1. Clean profile 1.3.110
   2. Enable rewards
   3. Add a site to a-c table
   4. Exclude the added site by clicking on Trash icon
   5. After excluding a site from A-C table Show All link is not shown

## Actual result:

After excluding a site from A-C table Show All link is n

[2020-02-05 11:12] GeetaSarvadnya commented on #7840
Verification passed on

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Windows 10 OS Version 1803 (Build 17134.1006)
- Verified SR from the description
- The issue is still not fixed logged a follow-up issue https://github.com/brave/brave-browser/issues/8071

[2020-02-05 11:25] akshay24495 opened #8072 "[Desktop] Compiling brave rewards and brave sync when disabled in component extension whitelist"
## Description

When brave rewards and brave sync are disabled in the code, it is included in component_extension_whitelist/whitelist.cc. Need to be excluded by adding checks.

## Steps to Reproduce

N/A

## Actual result:

N/A

## Expected result:
N/A

## Reproduces how often:

N/A

## Brave version (brave://version info)

Current version: 1.6.2

## Version/Channel Information:

- Can you reprodu

[2020-02-05 11:39] GeetaSarvadnya opened #8073 "Follow up of #7635 -Reserved BAT text isn't displayed in Rewards summary section"
## Description

Reserved BAT text isn't displayed in Rewards summary section

## Steps to Reproduce

   1. Clean profile staging env
   2. Claim UGP grants
   3. Send a one-time tip to an unverified pub https://google.com
   4. Open BR panel for google.com, reserved BAT text is displayed in panel summary
   5. In brave://rewards settings page, reserved BAT text isn't displayed in the rewards summa

[2020-02-05 11:40] GeetaSarvadnya commented on #7635
Verification passed on

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified STR from the description
- The issue is still not fixed and logged a follow-up issue https://github.com/brave/brave-browser/issues/8073

[2020-02-05 11:58] GeetaSarvadnya commented on #8073
The issue is reproducible in Windows 8.1 (VM) - `1.3.110`

[2020-02-05 12:00] GeetaSarvadnya commented on #8071
The issue is reproducible in Windows 8.1 (VM) - `1.3.110`

[2020-02-05 14:20] btlechowski commented on #8065
Not reproducible anymore

Verification passed on

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Ubuntu 18.04 LTS

Verification passed on

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@

[2020-02-05 14:20] #8065 closed

[2020-02-05 14:21] btlechowski commented on #8065
The test case is the same as for #7948 so I set this as `QA/No`

[2020-02-05 14:28] LaurenWags commented on #8070
Reproduces on macOS when using light theme only, does not reproduce on dark theme. Steps:
1. Install 1.2.43
2. Populate some top sites
3. Turn off stats
4. Upgrade on `test` channel to 1.3.110
5. Do not see issue with dark theme/same as macOS bc my OS is set to dark:
<img width="425" alt="Screen Shot 2020-02-05 at 9 26 10 AM" src="https://user-images.githubusercontent.com/28145373/73850516-d4bff48

[2020-02-05 14:29] kjozwiak commented on #6647
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | macOS Version 10.15.3 (Build 19D76)

* Verified that the STR outlined via https://github.com/brave/brave-core/pull/4106#issuecomment-576002698 worked as expected.

[2020-02-05 14:39] emerick commented on #7880
@srirambv Could you retry on the latest nightly? I'm not able to repro. I visited the chrome://safe-browsing page and a few others and no "i" button shows up in the URL bar.

[2020-02-05 14:52] #8031 closed

[2020-02-05 15:56] LaurenWags opened #8074 "C80 - custom tip banners do not display"
## Description
Images on custom tip banners do not display in C80 versions of Brave.

## Steps to Reproduce

   1. Launch 1.3.110 with clean profile & staging parameters (can use prod as well, doesn't matter)
   2. Navigate to a site with a known custom banner (kjozwiakstaging.github.io on staging works or https://www.youtube.com/user/JJDSampson on prod works)
   3. View custom banner

## Actual r

[2020-02-05 15:57] LaurenWags commented on #8074
Reproduced on Nightly

Brave | 1.5.81 Chromium: 80.0.3987.78 (Official Build) nightly (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | macOS Version 10.14.6 (Build 18G103)

Using production:
<img width="1195" alt="Screen Shot 2020-02-05 at 10 51 35 AM" src="https://user-images.githubusercontent.com/28145373/73858385-4dc54900-4806-11ea-8168-cdf

[2020-02-05 16:27] AronVanAmmers commented on #3437
@ryanbr just checked with Brave 1.2.43. Results the same, I can still reproduce it with the profile I used before, but not in a private window and not with a different profile. So indeed seems to be a profile-specific issue as @tomlowenthal suggested.

I would be happy for this issue to be closed as I have a satisfactory workaround (use the other profile when this happens).

[2020-02-05 16:32] btlechowski commented on #6437
Verification passed on

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4324#issue-360251085
Also test by switching the devices.

[Pass] Add (1)
[Pass] Add with existing bookmarks (2)
[Pass] Add with same

[2020-02-05 16:33] AronVanAmmers commented on #7331
Reproduced this too on Windows 10, Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit).

Unlike #3437 this is not a profile-specific issue. I can reproduce it on two different profiles and in a private window, and haven't found a workaround within Brave.

In a normal browser window, for me the `ERR_CONNECTION_RESET` takes a while to appear, whereas in a private window it's instant.

W

[2020-02-05 16:42] johnnypoll commented on #6619
More top sites will be great, also don't just use favicon as some sites don't have a favicon, then all the top site links look identical. Add title text below each box like chrome perhaps.

[2020-02-05 16:59] mandar-brave opened #8075 "Desktop specific: Changes in non KYC Uphold user wallet state"
Issue: due to new regulations coming from Uphold - enforcement coming soon- specific to any withdrawals now need IDV or ID verification. This will require that any non ID checked (unverified) accounts used for tipping or contributions cannot tip or contribute anymore.

Fixes:
- Remove support for such a state completely (numbers suggest its limited)
- Show zero balance for such user wallets (they

[2020-02-05 17:26] btlechowski commented on #7199
No longer reproducible. I think it was fixed with Chromium 80.

Verification passed on

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Ubuntu 18.04 LTS

[2020-02-05 17:26] #7199 closed

[2020-02-05 17:29] Wizard13 commented on #8049
I find it strange that Chromium doesn't send this header, just Chrome.

[2020-02-05 17:37] tetractius commented on #4094
Studies also have shown that if you don't add this feature before Microsoft Edge for Linux support is release people will start to adopt that one first ... :fearful:

[2020-02-05 17:54] mikestaub commented on #4094
@tetractius is right. This is the one feature blocking me from adopting Brave. It should be top priority.

[2020-02-05 17:56] andrei-pavel commented on #4094
There must be some browser mafia conspiracy blocking the development of this feature. There's no other explanation.

[2020-02-05 18:36] TheFuzzStone commented on #6772
Same issue on Manjaro.

[2020-02-05 18:39] btlechowski commented on #8074
Reproduced on Ubuntu

Brave | 1.3.110 Chromium: 80.0.3987.78 (Official Build) (64-bit)
-- | --
Revision | cb5aa81cb0a3a2c674b93bc7ffb34a86cd3b4802-refs/branch-heads/3987@{#752}
OS | Ubuntu 18.04 LTS

Reproduced on regular tip and monthly tip

![image](https://user-images.githubusercontent.com/34715963/73871959-1464fb80-484f-11ea-829f-8d454a90a04b.png)
![image](https://user-images.githubusercontent

[2020-02-05 19:00] emerick commented on #7839
Didn't we disable the FRE? I think this is considered a FRE component.

[2020-02-05 19:07] denismp commented on #7987
I clicked on Check for Update and it says "Component not updated".  So what do I do next?

[2020-02-05 19:09] yrliou commented on #7839
We did disable FRE already, @srirambv could you try again to see if you could reproduce this since I couldn't? Thanks.

[2020-02-05 19:14] yrliou commented on #8067
Tried with v1.3.111 (CR 80.0.3987.85) and didn't see any crashes when closing Tor window.

[2020-02-05 19:15] kjozwiak commented on #8067
Closing as per above 👍 Looks like it was addressed with `80.0.3987.85` as per https://github.com/brave/brave-browser/issues/8067#issuecomment-582215651. QA will go through the Tor manual passes and ensure everything else is working as expected.

[2020-02-05 19:15] #8067 closed

[2020-02-05 19:15] jumde commented on #7987
Does it show `v1.0.8`? If so, can you try restarting the browser and opening a `Private window with Tor`?

[2020-02-05 19:18] SergeyZhukovsky commented on #7839
That one is different, it was disabled here https://github.com/brave/brave-core/pull/4455

[2020-02-05 19:19] SergeyZhukovsky commented on #7839
Removed in that PR https://github.com/brave/brave-core/pull/4455

[2020-02-05 19:19] #7839 closed

[2020-02-05 19:20] szaimen commented on #5381
So I have enabled the cosmetic filtering option over brave://flags. But as soon as I visit a website, brave nightly crashes on Windows 10. I also cannot find any additional option concerning cosmetic filtering in the brave settings after relaunch after I enabled the flag.

Is there something I have missed to enable this option?

[2020-02-05 19:25] btlechowski commented on #8044
Verification passed on

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4500. Also verified cases from manual testrun.

![image](https://user-images.githubusercontent.com/34715963/73875366-7aed1800-4855-11

[2020-02-05 19:26] btlechowski commented on #8033
Verification passed on

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/73875564-c1427700-4855-11ea-9cb2-b02ae65c4f3a.png)

[2020-02-05 19:40] btlechowski commented on #7251
Verification passed on

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | Ubuntu 18.04 LTS

Verified test plan from the description. First `A1.com, A2.com, B1.com, B2.com` were synced, then folder `a` and bookmark `aaa`. Verified 5 times. Also switched devices.

![image](https://user-image

[2020-02-05 19:51] rebron commented on #8070
<img width="353" alt="Screen Shot 2020-02-05 at 11 50 35 AM" src="https://user-images.githubusercontent.com/5951041/73877560-be239880-480d-11ea-84f6-a25257e184f8.png">
I'm seeing this with the ntp flag enabled.

[2020-02-05 19:53] kjozwiak commented on #8067
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | macOS Version 10.15.3 (Build 19D76)

* Verified the original STR outlined under https://github.com/brave/brave-browser/issues/8067#issue-560106000
* Went through the

[2020-02-05 20:04] hollons opened #8076 "Tor tab losses connection to Internet"
## Description

 When you open a tor window from a private window, and then close the private window, the tor window looses it's internet connection.

## Steps to Reproduce

   1. Launch brave
   2. Open a new private window (without Tor)
   3. Close the private window without Tor,
   4. Then Brave sends the tor daemon SIGTERM.

## Actual result:

Tor tab loses connection to internet

## Expected

[2020-02-05 20:08] riastradh-brave opened #8077 "Closing private window without Tor sometimes kills tor daemon"
## Description

If a private window _without_ Tor, from which a private window _with_ Tor was opened, is closed, Brave kills the tor daemon.

## Steps to Reproduce

   1. Launch Brave.
   2. Open a private window (_without_ Tor).
   3. From that private window, open a private window _with_ Tor.
   4. Close the original private Window (the one without Tor).

## Actual result:

Brave kills the tor d

[2020-02-05 20:12] riastradh-brave commented on #8077
duplicate of https://github.com/brave/brave-browser/issues/8076

[2020-02-05 20:12] #8077 closed

[2020-02-05 20:26] #7731 closed

[2020-02-05 20:42] DeltaMurillo commented on #5290
I do not use Brave cause this. I preffer to keep using mozilla and NoScript, wich lets u whilelist sites and trackers one by one.

Having to unblock manually all the time is annoying.

[2020-02-05 21:10] emerick opened #8078 "[Android] Crash when visiting Brave license or dev options"
## Description

Crash when visiting Brave license or developer options on Android.

## Steps to reproduce

   1. Install Brave
   2. Visit Settings -> About Brave -> Legal Info -> Brave License

Also occurs when visiting Developer options menu item

## Actual result

Browser crashes

## Expected result

No crash and requested screen displays

## Issue reproduces how often

Always

## Issue happens

[2020-02-05 21:12] #8058 closed

[2020-02-05 21:32] denismp commented on #7987
I did, but is says the is no updated and Tor still does not work.

[2020-02-05 21:35] jumde commented on #7987
Thanks @denismp. Could you share a screenshot of the component list in `brave://components` and the error that you are seeing when you open `Private Windows with tor` to help us debug.

[2020-02-05 21:53] btlechowski commented on #6504
Verification passed on

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | Ubuntu 18.04 LTS

Talked to @AlexeyBarabash, The point of this issue is to use custom profiles for the same device. This can be achieved though flag `--user-data-dir=[PATH]`
Example:
Profile A: `--user-data-dir=/home

[2020-02-05 21:55] congard opened #8082 "Appears broken translate button"
## Description
[Edited Steps to Reproduce by rebron for clarification]
When you open a site in a foreign language, a translation button appears, which when clicked does not respond.

## Steps to Reproduce

   1. Open site in a foreign language e.g. https://www.spiegel.de/ or https://www.asahi.com/
   2. Install Google translate extension
   3. Notice that icon in url bar still appears and no longe

[2020-02-05 23:00] rebron commented on #8070
I'm seeing the error intermittently and can reproduce by reloading the new tab page and opening and closing the dashboard settings.

[2020-02-05 23:03] rebron commented on #8070
<img width="389" alt="Screen Shot 2020-02-05 at 2 47 32 PM" src="https://user-images.githubusercontent.com/5951041/73891167-7e1ddf00-4828-11ea-8f8a-bd1c0f28cbeb.png">
<img width="393" alt="Screen Shot 2020-02-05 at 2 56 03 PM" src="https://user-images.githubusercontent.com/5951041/73891173-80803900-4828-11ea-9e33-f737432fc747.png">

Able to reproduce on dark theme and light theme Win/macOS 1.3.111

[2020-02-05 23:13] btlechowski commented on #8076
Reproduced the issue on Ubuntu and Windows

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/73891768-41c4a000-4875-11ea-8464-4d5f8e896467.png)

[2020-02-05 23:18] #8078 closed

[2020-02-05 23:38] btlechowski opened #8083 "`Toggle distilled page contents` is really long in Bulgarian"
Looks like translation of `Toggle distilled page contents` is really long in Bulgarian. It uses 6 distinct words. Google translate uses 4.

## Steps to Reproduce

   1. Open Brave in Bulgarian
   2. Open Hamburger Menu

## Actual result:

`Toggle distilled page contents` is really long compared to google translate
Hamburger menu is really stretched
![image](https://user-images.githubusercontent.co

[2020-02-05 23:49] rebron commented on #8071
I was able to reproduce using steps in Windows 10 - 1.3.111.
I was NOT able to reproduce using macOS 1.3.111.

[2020-02-06 00:00] davidtemkin opened #8084 "Reduce interval between P3A pings from ~1 hour to ~1 minute"
Currently P3A pings are separated by about an hour, with some randomness added.

Following a discussion about needing to retain the property that a given browser's pings cannot be linked/associated, the decision was made to reduce the interval between pings to 1 minute (assume with equivalent added randomness to reduce linkability)

[2020-02-06 00:33] karenkliu commented on #8057
It should be styled as a disabled toggle:

![Group 11](https://user-images.githubusercontent.com/2388823/73895660-2c2f8600-4835-11ea-859c-1ea448e95d9d.jpg)

https://share.goabstract.com/6369ced8-1a0b-4fc9-a830-64cf9806dbba?mode=design&sha=f568aec916b79bb879ddac6b2bf34d58e2b07b5d

[2020-02-06 00:55] kjozwiak commented on #8076
Reproduced on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.111 Chromium: 80.0.3987.85 (Official Build) (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | macOS Version 10.15.3 (Build 19D76)

@rebron @yrliou is something we want to fix for `1.3.x`? Seems like it's occurring in the current release so not a regression. We'll need one

[2020-02-06 02:10] washere commented on #4509
@rebron

Thanks for your reply. All caps not working for you does not matter to me as if a company does not want to give the basic:

* SET BACKGROUND TO SOLID COLOR

Which (black or very dark themes) is a standard for over 90% of coders setups not to mention professional writers etc, then I assume it will not be done for A VERY LONG TIME regardless.

* I did not say recreate Morpheon, it was just

[2020-02-06 02:32] simonhong commented on #2710
@rebron I think this issue should be `wontfix` because macOS prevent application access to safari's bookmark list. After giving that permission to Brave, it can import w/o any error. Same as chrome. WDYT?

[2020-02-06 02:36] rebron commented on #2710
@simonhong Edge has a prompt for full disk access for Safari import. Can you take a look at that and maybe we need to add design/UE input in here?
<img width="446" alt="Screen Shot 2020-02-05 at 6 35 58 PM" src="https://user-images.githubusercontent.com/5951041/73901018-61909f80-4846-11ea-81b4-ddf9c6d4af18.png">
<img width="458" alt="Screen Shot 2020-02-05 at 6 35 43 PM" src="https://user-images.g

[2020-02-06 02:42] simonhong commented on #2710
@rebron Yup, showing guide dialog seems good.

[2020-02-06 02:51] rebron commented on #2710
cc: @karenkliu @bradleyrichter on Safari full disk access dialog in order to import bookmarks from Safari.

[2020-02-06 03:12] mkarolin commented on #8083
The translation comes from Chromium. We can change, of course.

![image](https://user-images.githubusercontent.com/41635752/73902666-8562de00-4864-11ea-99d9-4c694295c400.png)

[2020-02-06 03:26] #8063 closed

[2020-02-06 04:02] rebron commented on #8083
We should go shorter with this string. That looks bad.

[2020-02-06 04:20] srirambv commented on #8028
Verification passed on

Brave | 1.5.76 Chromium: 80.0.3987.66 (Official Build) nightly (64-bit)
-- | --
Revision | 56ea77d65c47ecbb1180b99f860d85b51117864a-refs/branch-heads/3987@{#662}
OS | Linux
Component | `0.1.41`

- Verified switching theme from settings automatically updates CW page as well
![vokoscreen-2020-02-06-09-44-26](https://user-images.githubusercontent.com/17010094/73905664-1b7b2080

[2020-02-06 05:04] rebron commented on #6563
@karenkliu still a valid issue? we can reframe this existing issue for short term fix or open a new one.

[2020-02-06 05:12] srirambv commented on #8018
Verification passed on

- Verified above listed scenarios are fixed for dark theme
- Welcome disclaimer
![image](https://user-images.githubusercontent.com/17010094/73906201-1ae38980-48c8-11ea-8527-75e6c0ba25d0.png)
- Connect hardware
![image](https://user-images.githubusercontent.com/17010094/73906257-4c5c5500-48c8-11ea-9fe8-f89223a54df3.png)
- Import dropdown
![image](https://user-images.githubus

[2020-02-06 05:13] srirambv opened #8085 "Crypto Wallet Dark theme second follow up [6381 & #8018]"
## Description

Crypto Wallet Dark theme second follow up [6381 &  #8018]

## Actual result:

Back button is not visible until hover
![image](https://user-images.githubusercontent.com/17010094/73907288-bcb8a580-48cb-11ea-80ae-dc5bfbcb7f71.png)
Basic tab on gas price selection during transaction is not visible on dark theme
![image](https://user-images.githubusercontent.com/17010094/73907497-80d210

[2020-02-06 05:41] #8034 closed

[2020-02-06 05:41] #7976 closed

[2020-02-06 05:45] rebron commented on #8073
Clearing this from 1.3.x milestone. Can address/re-triage post 1.3.x

[2020-02-06 05:45] rebron commented on #8071
Clearing 1.3.x milestone.

[2020-02-06 06:32] pixmix commented on #3196
I see the issue here already for several weeks. Password are actually recorded, but are not visible in the management interface.

[2020-02-06 07:26] srirambv opened #8089 "Implement fallback image for tipping banner"
## Description

CR 80 broke tipping banner images (#8074). We should have some fallback generic images on tipping banner so that in case something breaks the tipping banner doesn't show blank banner (See screenshots in #8074)

## Actual result:

See screenshots in #8074

## Expected result:
Have fallback images so that tipping banner doesn't look empty

## Reproduces how often:

Easy on the CR80 u

[2020-02-06 07:42] GeetaSarvadnya opened #8090 "Follow up of #8044 - C80 - unable to open PDF in PT and TOR tabs"
## Description

Follow up of #8044 - C80 - unable to open PDF in PT and TOR tabs

## Steps to Reproduce

   1. Clean profile `1.3.111-Chromium: 80.0.3987.85`
   2. Open a PT and TOR tab
   3. Open a PDF file in PT or TOR tab (https://basicattentiontoken.org/BasicAttentionTokenWhitePaper-4.pdf)
   4. Unable to open PDF files in PT and TOR tabs

## Actual result:

Unable to open PDF files in PT and

[2020-02-06 07:49] rebron commented on #8076
Reproduced too on macOS. Not something we'd block `1.3.x` for since it's all related to opening and closing a normal private window. A user can open `private window with tor` from a `normal window` without any issue.

[2020-02-06 08:03] kjozwiak commented on #8090
Reproducible on `macOS 10.15.3 x64` using the following build:

Brave | 1.6.5 Chromium: 80.0.3987.85 (Official Build) nightly (64-bit)
-- | --
Revision | 583b05dfa4ffc657f0f7c5cc13f53aa17c9a5bcf-refs/branch-heads/3987@{#791}
OS | macOS Version 10.15.3 (Build 19D76)

Nice catch @GeetaSarvadnya 👍

[2020-02-06 09:24] mihaiplesa opened #8091 "Add PR label for running network audit"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2020-02-06 09:25] hugobuddel commented on #7331
Makes me wonder what the belastingdienst is doing. I've narrowed it down to the cookieBLD33.

It is possible to copy the request the network tab of the web developer extension. Pasting the curl command into bash will result in an error, but removing that cookie from the request will make it succeed.

The cookie [seems to be harmless], but I still rather not share the cookie here.(https://www.belas

[2020-02-06 09:43] washere commented on #4509
I repeat my request: No designs please, just minimal page, with pure black (#000000) solid color background option please. Thanks.

[2020-02-06 09:46] Reactive12 opened #8092 "Password manager prompt for ProtonMail encrypted mail"
## Description

When a password is entered for a ProtonMail (https://protonmail.com/) encrypted message, Brave's password manager prompts to update the ProtonMail account password.

## Steps to Reproduce

   1. "Compose" new message.
   2. Select "Encryption" (Encrypt for non-ProtonMail users).
   3. Enter password, confirm and "Set".
   4. Brave password manager prompt may take several seconds to

[2020-02-06 09:50] ABCbum opened #8093 "Misleading childNodes logging behaviour"
## Description

Brave logs a misleading message on devtools. NodeList has `[div]` inside but length is 0 and doesn't have anything inside the array. I don't know if this is a default common behaviour or not but this is really confusing to me.

![image](https://user-images.githubusercontent.com/50205705/73920940-ff44a700-48f8-11ea-8427-18604bf4cbfe.png)

## Steps to Reproduce

   1. I opened `index

[2020-02-06 11:02] GeetaSarvadnya opened #8094 "Ads enable modal pop up is shown for Ads unsupported region"
## Description
Ads enable modal pop up is shown for Ads unsupported region

## Steps to reproduce

   1. Set device locale  Ads not supported region e.g `Latvia`
   2. Clean profile 1.5.4-rc1
   3. Enable rewards through the onboarding flow
   4. Navigate to Brave://rewards - `Sorry! ads not supported` message is shown
   5. Open a new tab
   6. Enable Ads modal popup is shown

## Actual result
Ad

[2020-02-06 12:16] srirambv commented on #8094
Issue reproduced on upgrade scenario
- Install 1.5.3 and enable rewards
- Upgrade to 1.5.4
- After launch the first new tab shows onboarding turn on ads modal. Enabling does nothing as Ads is not supported for the region

[2020-02-06 12:17] srirambv commented on #8094
Moving the issue to Android repo for 1.5.4 milestone

[2020-02-06 12:18] Ghostineuro commented on #1138
Hope to see this work in the near future...

[2020-02-06 12:26] Enschede2 opened #8095 "Let us add 3rd party crypto wallets, otherwise just drop the whole thing please"
For crying out loud, get rid of the forced uphold account wallet, they use jumlo for id verification, and in case none of you have read their privacy policy, they basically reserve the rights to sell all of your data to anyone they feel is the highest bidder.
So brave likes to call themselves a privacy browser? That UTTERLY and COMPLETELY defeats the purpose!
Yes uphold doesn't get access to your

[2020-02-06 13:17] GeetaSarvadnya opened #8096 "Flash object not blocked on Tor windows"
## Description

Flash object not blocked on Tor windows

## Steps to Reproduce

   1. Clean profile `1.3.111`
   2. Open a TOR tab load http://homestarrunner.com/
   3. Make sure it's blocked
   4. Navigate to brave://settings/content/flash and enable flash
   5. Refresh the http://homestarrunner.com/ which is opened in TOR
   6. Flash gets enabled in TOR

## Actual result:

Flash object not block

[2020-02-06 13:54] cezaraugusto opened #8097 "NTP site removal notification interface needs improvements"
Position doesn't look good, currently overflows stats and words are too close.

<img width="1271" alt="Screen Shot 2020-02-06 at 10 49 38 AM" src="https://user-images.githubusercontent.com/4672033/73942839-83ce0000-48ce-11ea-8136-1e3184338662.png">

Introduced with https://github.com/brave/brave-core/pull/4075/files#diff-4f7fe7112dc0ec2b5cd45ecb5f76c0cdR100-R104.

Labeling as `regression` since it

[2020-02-06 15:22] jonathanKingston commented on #4381
Chrome's [current plan](https://twitter.com/estark37/status/1225437058518282240) is to roll out videos and audio in Chrome 80 and measure breakage such that images would be considered in 81, this suggests Brave could match that timeline or even go first.

I'll take a look at the upgrading before HTTPS Everywhere and the current ordering.

[2020-02-06 15:37] felixakiragreen opened #8098 "How to enable auto-updates? (not working on macOS + Brave Browser Dev)"
I have searched for issues and google results for weeks. Posting this issue here on Github is my last resort.

## Description
I'm on Brave Browser Dev. Every few days I get this pop-up to update the browser. I've tried to find out how to turn it off (turn on auto-updates) and I can't find out how. Do I need to download the normal Brave Browser?

(I've been using Brave Browser Dev for ~9 months, bu

[2020-02-06 15:52] CaptainSiberia13 commented on #7493
I agree that this feature needs to be a priority. I just started using Brave as it was recommended by a friend. I like the browser, but miss the speed-dial on my old "Opera" browser. Adding that sort of home page functionality would be great!

[2020-02-06 15:57] rebron commented on #8096
Moving out of 1.3.x milestone. @tomlowenthal Can you take a look for priority?

[2020-02-06 16:20] estark37 commented on #4381
Yep, it would be great to see Brave ship this as well. Note that we're also planning to ship a "Not Secure" omnibox warning for mixed images in M80, in hopes of driving sites to fix before autoupgrading+blocking in 81.

[2020-02-06 16:34] jsecretan opened #8100 "Where it meets privacy standards send platform, build channel and country as part of ad confirmation calls"
## Description

To enable better debugging on the ads system, we would like to include the build channel and platform in our confirmation requests.

To enable better ad reporting for clients, and where the data can still maintain very large anonymity sets (large countries) send the country of the client which triggered the ad.  The pseudo-code contains a list of the countries which are large enoug

[2020-02-06 17:48] gdregalo commented on #7498
Duplicate of: https://github.com/brave/brave-browser/issues/7760

[2020-02-06 17:50] gdregalo commented on #7760
@ryanml please check video at:
https://github.com/brave/brave-browser/issues/7498

[2020-02-06 18:29] mandar-brave opened #8105 "Fix the NTP widget for Rewards / plus panel"
Currently when we change the estimated rewards paid on the 5th (Day of payment), lots of users only see their estimated BAT earnings change but don't realize their balance has changed as well or that they need to claim rewards from past month; this is a consistent issue and accentuated by the NTP widget.

Old image basically shows only;
a) estimated earnings
b) spend

We should add Balance alongsi

[2020-02-06 18:45] cryptojennie commented on #930
+1 https://www.reddit.com/r/BATProject/comments/ezvygr/view_historical_monthbymonth_rewards/

[2020-02-06 18:59] jumde commented on #8049
@immanuelfodor @Wizard13 - This is related to the variations service. Since, variations are disabled in Brave, you should not be seeing the `x-client-data` header when using Google Services. I verified that this header is not sent if requests to google properties with Brave. If you're seeing this in the requests please let me know.

[2020-02-06 19:11] jonathanKingston commented on #4381
Enabling this warning also applies to insecure forms and I can't see a flag to upgrade forms, is that something you have considered?

[2020-02-06 19:16] fmarier opened #8106 "Expose Tor log in `brave://tor`"
## Description
A friend of mine told me that he's found our Tor support quite unreliable on his Linux desktop (it's possible he's running into #8076 or #8129 at the moment).

What he suggested is that we expose the tor daemon log somewhere so that tech-savvy users can more easily figure out what's wrong (and send us useful bug reports).

[Orbot](https://play.google.com/store/apps/details?id=org.to

[2020-02-06 19:20] fmarier opened #8107 "Support for custom filter lists in Shields"
## Description
Some popular adblocking extensions help users create filter lists to supplement the default ones. This can for example allow someone to hide parts of a website that are not deemed useful or desirable but that would otherwise be out of scope for EasyList/EasyPrivacy.

This is an advanced use case for sure, and we should focus on shipping the best default-on adblocker, but I thought I

[2020-02-06 19:23] AndriusA opened #8108 "Brave crashes at startup with segfault when `--disable-sync` flag is used"
## Description

On MacOS Brave crashes at startup when launched with `--disable-sync` flag. Used by various automation tools by default, e.g. puppeteer, lighthouse.

## Steps to Reproduce

[code]

## Actual result:

[code]

## Expected result:

Startup

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

Brave | 1.6.7 Chromium: 80.0.3987.87 (Official Build) nightl

[2020-02-06 19:25] LaurenWags commented on #8031
@mkarolin does this need manual QA?

[2020-02-06 19:42] emerick opened #8109 "[Android] Browser crashes when ad notification displays"
## Description

The browser crashes when an ad notification is shown.

Crash stack looks like this:

[code]

## Steps to reproduce

   1. Enable Rewards
   2. Set ad frequency to 5 per hour
   3. Visit stackoverflow or another site and wait for ad to show up

## Actual result

Browser crashes

## Expected result

Browser should not crash

## Issue reproduces how often

Easily reproduced

## Issue

[2020-02-06 19:55] darkdh commented on #8108
https://stats.brave.com/dashboard#crash/5e3c6bbf03639400693f3d23

[2020-02-06 20:05] #8030 closed

[2020-02-06 20:05] #7727 closed

[2020-02-06 20:15] #7869 closed

[2020-02-06 20:30] #7888 closed

[2020-02-06 20:52] ryanml opened #8110 "Crypto Wallets extension should not load if project id is not configured"
This is to avoid error noise in the console on debug builds when `BRAVE_INFURA_PROJECT_ID` has not been configured. This is the default behavior, it should work on debug if the above env var has been set.

[2020-02-06 21:31] jonathanKingston commented on #4381
I just confirmed Chromium code `MixedContentChecker::ShouldAutoupgrade()` does get called before: `OnBeforeURLRequest_HttpsePreFileWork()`.
This means mixed upgrades from the HTTPS Everywhere list would no longer have any impact.

[2020-02-06 22:43] #8109 closed

[2020-02-06 22:47] #7759 closed

[2020-02-06 22:50] mkarolin commented on #8031
@LaurenWags perhaps just a spot check that the NTP images localization looks correctly in the release channel. I am not certain what other string changes have been done since 1.2.x that are in 1.3.x.

[2020-02-06 23:00] #7763 closed

[2020-02-06 23:04] estark37 commented on #4381
I don't think this should be the case. I can't reproduce on https://mixed-form.badssl.com. very.badssl.com might contain a mixed image as well as a mixed form which is maybe why you're seeing the warning on that page?

[2020-02-06 23:10] Ajworry commented on #7987
same problem here
brave: Verze 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
tor: v1.0.8

[2020-02-07 00:22] simonhong opened #8112 "Don't cache NTP sponsored images assets"
When assets are updated, we should provide new assets always.

[2020-02-07 00:27] antonok-edm opened #8113 "Cosmetic filtering crashes on Windows"
As per this report https://github.com/brave/brave-browser/issues/5381#issuecomment-582568117 and others, cosmetic filtering crashes the browser when enabled in a tab on Windows.

The crash traceback indicates an issue in `adblock-rust-ffi`.

[2020-02-07 00:28] antonok-edm commented on #8113
[This](https://github.com/brave/adblock-rust-ffi/pull/13) `adblock-rust-ffi` PR should solve the issue when merged in `brave-core`.

[2020-02-07 00:48] Mister36MN opened #8114 "Crash on Brave Dev channel, after update to 1.5.84"
## Description

Upon the update to 1.5.84 Dev Channel, Brave crashes on start up. This has occurred on two different PCs. (win 10 64 bit)

Event viewer shows the following event:

"The application-specific permission settings do not grant Local Activation permission for the COM Server application with CLSID
{2593F8B9-4EAF-457C-B68A-50F6B8EA6B54}
 and APPID
{15C20B67-12E7-4BB6-92BB-7AFF07997402}
 t

[2020-02-07 00:50] jonathanKingston commented on #4381
I uploaded a patch which turns on the warning but also upgrades images by default.

I also chose to turn off the URL bar insecure script control which and instead permit controlling an override on a site specific basis:
![image](https://user-images.githubusercontent.com/338988/73982376-02a55600-492c-11ea-8210-34c4d685146f.png)
This certainly could be left to another patch however reading through o

[2020-02-07 02:17] riastradh-brave opened #8115 "Block connections to no-thanks.invalid before they reach Tor"
We should block connections to no-thanks.invalid (our standard black hole replacement for bad telemetry) earlier than we do currently so that they don't put additional load on the Tor network.  The load is probably small per connection, but the browser does make a good number of them.

I tried blocking them in the Tor navigation throttle but that's apparently not early enough.

[2020-02-07 02:21] rebron commented on #8074
Using: macOS Version 1.3.112 Chromium: 80.0.3987.87 (Official Build) (64-bit)
<img width="1302" alt="Screen Shot 2020-02-06 at 6 20 19 PM" src="https://user-images.githubusercontent.com/5951041/73995419-6409fc80-490d-11ea-8998-74586dda46c1.png"> Looking good.

[2020-02-07 02:37] #8090 closed

[2020-02-07 03:19] karenkliu commented on #6563
@rebron We can probably reframe this as turn on Brave Ads + A/C in one button if we do the BR on by default anytime soon

[2020-02-07 03:51] srirambv commented on #8058
Verification passed on
![image](https://user-images.githubusercontent.com/17010094/73999579-35326b80-498b-11ea-921e-a98871fce58a.png)

[2020-02-07 04:01] srirambv commented on #8074
Verification passed on

Brave | 1.3.112 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.165)

- Verified custom tip banner is shown correctly
![image](https://user-images.githubusercontent.com/17010094/73999936-53e53200-498c-11ea-9b32-b0c283306f6e.png)

[2020-02-07 04:06] kjozwiak commented on #8031
@petemill I believe you were working on some strings re: the NTP SI release. Any particular sections that QA should go through that might include changes/new strings?

[2020-02-07 04:08] petemill commented on #8031
@kjozwiak all strings in the rewards widget notification which shows when NTP is showing a SI are new.

[2020-02-07 04:14] petemill commented on #8031
Here are the english versions with new strings.

Note that the following 2 strings may not be translated in all languages for this release. This is because we merged just after the c80 strings were ordered. Another order just for these strings was too expensive.

1. > Turn on Brave Rewards to claim your share. You can also choose to hide sponsored images.
2. > Turn on Brave Ads to claim your share

[2020-02-07 04:15] kjozwiak commented on #7883
Adding the `QA Pass` label as QA has been going through this since it landed. We've basically verified anything that was left opened. This was also initially checked on Nightly as per the following:

* `macOS` - https://github.com/brave/brave-core/pull/4075#issuecomment-579028986
* `Linux` - https://github.com/brave/brave-core/pull/4075#issuecomment-579222031
* `Windows` - https://github.com/brave

[2020-02-07 04:19] kjozwiak opened #8116 "Release checklist for 1.3.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-02-07 04:23] petemill commented on #8037
As discussed this can be fixed with uploaded to s3 before updating the dynamodb table

[2020-02-07 04:26] #8112 closed

[2020-02-07 04:44] rebron commented on #6981
Closing as dupe of #2566

[2020-02-07 04:44] #6981 closed

[2020-02-07 04:55] mstrcrz commented on #5842
I am having PWA apps crash just by moving the window (clicking links is working for me).

Mac 10.14.6
Version 1.3.108 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)

[2020-02-07 05:01] mstrcrz opened #8117 "PWA Crashes on Moving Window"
## Description

Installed Outlook PWA tried to move PWA window and it closes the window immediately.

## Steps to Reproduce

   1. Install Outlook PWA
   2. Launch PWA
   3. Click top bar (to move window)
   4. Window immediately closes (PWA no longer open)

## Actual result:

None.

## Expected result:
PWA should be able to be moved & resized

## Reproduces how often:

Easily reproduced

## Brave

[2020-02-07 05:29] jumde opened #8118 "Add Add funds workflow in the browser"
Add funds workflow currently navigates to uphold. Fix the workflow to initiate and complete the workflow within the brave://rewards context.

[2020-02-07 06:15] rebron commented on #8114
@Mister36MN can you go into brave://crashes and send the crash report and copy and paste the id into here?

[2020-02-07 06:18] rebron commented on #8114
Just realized crash on startup so won't actually have the chance to send the report.

[2020-02-07 08:02] srirambv opened #8119 "Web3 account is locked if no provider is set"
## Description

Web3 account is locked if no provider is set

## Steps to Reproduce

   1. Clean profile on 1.6.7 nightly
   2. Create local CW account
   3. Set to Roptsen network and click on deposit
   4. Web3 complains that account is locked
   5. Reload the page, notification shows up to setup

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/74011424-d03c3d00-49

[2020-02-07 08:08] hypnotortoise commented on #6772
same on PopOS 19.10

[2020-02-07 08:08] #8037 closed

[2020-02-07 08:41] srirambv opened #8120 "Setup Crypto Wallets sometimes doesn't appear on first page load"
## Description

Web3 provider selection isn't triggered on first launch

## Steps to Reproduce

   1. Clean install 1.6.7
   2. Open new tab and visit cryptokittes.co
   3. No notification bar shown for setup
   4. Reload the page notification bar shows up to setup Web3 provider(CW)

## Actual result:

![web3setup](https://user-images.githubusercontent.com/17010094/74013943-979f6200-49b3-11ea-9d64

[2020-02-07 08:44] srirambv opened #8121 "Selecting Setup from notification bar opens a blank wallet page"
## Description

Selecting Setup from notification bar opens a blank wallet page

## Steps to Reproduce

   1. Clean install 1.6.7
   2. VIsit cryptokitties.co and trigger notification bar to setup web3 provider
   3. Click on setup, opens a blank brave://wallet page. Need to reload the page to show the actual wallet page

## Actual result:

![web3setup](https://user-images.githubusercontent.com/17

[2020-02-07 09:10] tmancey opened #8122 "Implement API to ask if Publisher Ads are available in the catalog bundle for a publisher to optimize performance"

[2020-02-07 09:12] #6209 closed

[2020-02-07 09:16] kjozwiak commented on #8112
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.3 (Build 19D76)

Example: https://bravesoftware.slack.com/archives/CQGTGBNH1/p1581065695141200

[2020-02-07 09:20] rebron commented on #8090
<img width="1313" alt="screen_shot_2020-02-07_at_12 32 36_am" src="https://user-images.githubusercontent.com/5951041/74016629-98021380-4947-11ea-9d03-6e2b4912bac1.png">
Looks good, on macOS, Windows both private window and private window with Tor

Brave | 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#80

[2020-02-07 09:29] kjozwiak commented on #8090
Awesome, thanks @rebron 👍 Labeling as passed on `macOS` & `Win x64` as per the above.

[2020-02-07 09:33] pekira001 commented on #7829
Yesterday i had some problems, so i need to format my PC, decided to install Ubuntu 19.10.
The first thing i did was install brave following your instructions, i got the same problem `Sorry! Ads are not yet available in your region.`

**Braver version installed** - 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)

**Locale**
`LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE=pt_PT.UTF-8
LC_NUMERIC=pt_PT

[2020-02-07 10:37] GitNasi commented on #7537
I have the same issue and cant fix it.
I have followed the steps deleting file  000003.log and restating Brave which led me to the
"KeyringController - No account found on keychain." error while creating a new profile.
After this error I cant do anything but closing Brave again which leads me to the initial problem situation. "Welcome Back!" screen.

Brave is up to date
Version 1.2.43 Chromium: 79

[2020-02-07 10:53] tmancey commented on #6447
Won't fix as already fixed on latest nightly

[2020-02-07 11:11] tmancey commented on #3670
Closing issue as will be resolved as part of https://github.com/brave/brave-browser/issues/7796

[2020-02-07 11:11] #3670 closed

[2020-02-07 11:12] nazbrok commented on #7795
Note : I cannot delete the profile either, when I click on "remove profil" , it show a window listing the browsing data and 1 second after it crash.

[2020-02-07 11:49] Sneakyghost commented on #3650
+1 not working here either, windows 10 pro 1909 running brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)

Tried this: disabled all Brave Shield features, additional security extensions such as uBlock Origin, Ghostery, then disabled my PiHole DNS as well and then PeerBlock. Even removed ESET  Endpoint AV protection temporarily to see if anything hinders sign in, but all that i

[2020-02-07 12:14] kjozwiak commented on #8031
As per the above, only a few languages received the translations for the new strings. Tried the following:
* `German`, `French`, `Russian`, `Portuguese (Brazil)`, `Polish`, `Romanian`, `Korean`, `Japanese`, `Swedish`, `Arabic`  `Indonesian`, `Finish`. Could only find `Chinese` which was translated.

Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.113 Chromium

[2020-02-07 12:45] LaurenWags opened #8123 "Release Notes for 1.3.x (Release Channel)"
Release Notes
 - Add a way to disable Tor via admin policy.([#454](https://github.com/brave/brave-browser/issues/454))
 - Export Password creates file name labelled as Chrome Passwords.([#629](https://github.com/brave/brave-browser/issues/629))
 - Allow users to disable autocomplete.([#843](https://github.com/brave/brave-browser/issues/843))
 - Time out sync reset if device is offline.([#3628](htt

[2020-02-07 13:00] kjozwiak commented on #8112
Changing this to a `QA/No`. This is going to be hard to QA as we don't have profiles on `Linux` and `Windows` in this state. Desktop is also pointing to production which makes it more difficult. I was lucky enough to save a a profile on `macOS` so we could verify the above on at least one of the platforms.

[2020-02-07 13:25] immanuelfodor commented on #8049
Sorry for the delay, I managed to check it finally, and it's indeed not there in Brave Desktop.

I suppose it's the same with the Android app as well if they use the same core (and I don't know how to check it there).

[2020-02-07 13:33] #8050 closed

[2020-02-07 13:55] srirambv commented on #3628
Verification passed on

Brave | 1.3.112 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.165)

- Verified test plan from https://github.com/brave/brave-core/pull/4089
- Verified device can be removed from sync chain when offline
- Verified no bookmarks are sent acr

[2020-02-07 14:10] GeetaSarvadnya commented on #6552
Verification passed on

Brave | 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/3749

**Update**
![image](https://user-images.githubusercontent.com/38657976/74036159-bcaac980-49e

[2020-02-07 14:39] #8040 closed

[2020-02-07 14:40] kjozwiak commented on #8040
Verified that NTP SI worked with `1.3.113 Chromium: 80.0.3987.87` as the campaign was pushed live. Checked on all three platforms.

[2020-02-07 14:43] Mister36MN commented on #8114
Is there a manual location for the crash logs?

I'm installing 1.5.85 right now just to see if it resolves the issue.

I also installed 1.5.84 on a third machine and it *didn't* crash, so I'm trying to find the connection between the first two.

[2020-02-07 14:45] Mister36MN commented on #8114
No change with 1.5.85

[2020-02-07 14:55] krrisis opened #8124 "embedded typeform no longer loading on brave when shields are up!"
## Description
Embedded typeform is no longer working on typeform, where it worked before. Typeform doesn't support brave, so logging here bcs it could just as well be linked to an update you guys made.

## Steps to Reproduce

   1. Go to https://commonsstack.org/apply with brave
   2. see that the typeform is not loading :)
   3. Go there with any other browser and you'll see that it is :)
   4.

[2020-02-07 15:39] GeetaSarvadnya commented on #8051
Looks good hence closing the issue.

[2020-02-07 15:39] #8051 closed

[2020-02-07 15:40] AlexeyBarabash commented on #6552
@GeetaSarvadnya I was able to verify **Delete** case:
seeing exactly `"sync-debug" message="got 1 decrypted records in BOOKMARKS after 0"`
![image](https://user-images.githubusercontent.com/24739341/74042758-cd067880-49d0-11ea-8fbb-336852ae7972.png)

[2020-02-07 15:40] #8091 closed

[2020-02-07 15:45] #8123 closed

[2020-02-07 16:24] #7875 closed

[2020-02-07 16:30] #8113 closed

[2020-02-07 16:41] antonok-edm commented on #5381
@szaimen crashes on Windows should be fixed as of https://github.com/brave/brave-core/pull/4540.

Currently there are no additional settings regarding cosmetic filtering; this work supports the cosmetic filters that will soon be shipped from our filter lists.

[2020-02-07 16:54] btlechowski opened #8126 "Follow up to #8031 - Missing string on NTP SI widget"
Follow up to #8031 - `Turn on Brave Ads to claim your share. You can also choose to hide sponsored images` is not translated into Polish

## Steps to Reproduce

   1. Clean install in Polish
   2. Enable Rewards
   3. Disable Ads
   4. Enable NTP SI Demo flag
   5. Open NTP SI

## Actual result:

 Missing string on NTP SI widget for Polish language
![image](https://user-images.githubusercontent.co

[2020-02-07 16:59] rebron commented on #8116
Closing. Release 8:15am PST February 7, 2020.

[2020-02-07 16:59] #8116 closed

[2020-02-07 17:03] #8052 closed

[2020-02-07 17:10] btlechowski commented on #8019
Reproduced on

Brave | 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

![image](https://user-images.githubusercontent.com/34715963/74049713-0214ca00-49d5-11ea-811e-9e4fa078710c.png)

[2020-02-07 17:16] btlechowski commented on #6905
No longer experience freezes. Fixed with Chromium 80.

Verification passed on

Brave | 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Ubuntu 18.04 LTS

[2020-02-07 17:22] rebron commented on #7206
Need to verify if this is reproducible on Chrome.

[2020-02-07 17:24] rebron commented on #7235
cc: @mattmcalister to put on your radar

[2020-02-07 17:32] rebron commented on #7262
@davidtemkin re-ping. cc: @mattmcalister I think this is right where clicking skip is 0 instead of 1. We want to measure interaction of flowing through welcome flow and skipping should mean 0.

[2020-02-07 17:33] kjozwiak commented on #7976
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.3 (Build 19D76)

* Verified the STR outlined under https://github.com/brave/brave-core/pull/4482.

![Screen Shot 2020-02-07 at 12 32 05 PM](https

[2020-02-07 17:36] rebron commented on #7263
Marking wontfix. For privacy reasons, we don't enable autocomplete search suggestions by default.

[2020-02-07 17:36] #7263 closed

[2020-02-07 17:41] rebron commented on #7268
@ilyaigpetrov and @MrTeeXD Can you update to the current release of the browser, 1.3.113 and let us know if you're still running into these freeze issues? Is it specific websites too?

[2020-02-07 17:42] derekantrican commented on #7206
Works as expected on Chrome (at least from my testing). As long as all chrome windows are closed first* then the command `C:\Program Files (x86)\Google\Chrome\Application\chrome.exe --window-position=50,50 --window-size=300,300` works as expected.

**I say "as long as all chrome windows are closed first because there is a known issue where chrome doesn't respect these arguments for the new window

[2020-02-07 17:43] MrTeeXD commented on #7268
Only when I open the browser for the first time.

[2020-02-07 17:45] rebron commented on #7270
can you try com.brave.Browser

[2020-02-07 17:47] rebron commented on #7280
I think we need a new Social Media blocking pref for this or fold into "Allow Google logins".
@ryanbr Do you have suggestions for rules for this one?

[2020-02-07 17:52] rebron commented on #7312
cc: @karenkliu

[2020-02-07 17:56] rebron commented on #7323
Closing. Can you go to https://community.brave.com and ask for support, we'll be able to respond to this one better over there.

[2020-02-07 17:56] #7323 closed

[2020-02-07 17:58] rebron commented on #7326
Closing. I think this need to be addressed in the Chromium bug system.

[2020-02-07 17:58] #7326 closed

[2020-02-07 18:00] rebron commented on #7330
This is because we're lazy loading the extension, we need to add a check on startup if there's a tab open.

[2020-02-07 18:06] rebron commented on #7332
@MrZander Can you update to 1.3.113? There were some fixes to autoscroll in the latest Chromium 80 version.

[2020-02-07 18:14] MichelDiz commented on #7270
I tried just now:
[code]
No changes.

[2020-02-07 18:15] mihaiplesa opened #8127 "Fix lint issue in CI pipeline"
[code]

[2020-02-07 18:24] bbondy commented on #8120
I think this is a duplicate of https://github.com/brave/brave-browser/issues/8119 can you confirm?

[2020-02-07 18:25] yrliou commented on #7547
This is a part of "New behaviour for bottom toolbar buttons" issue (https://github.com/brave/browser-android-tabs/issues/1707) which is captured with
 https://github.com/brave/brave-browser/issues/7090 already, closing this one as duplicate.

[2020-02-07 18:25] #7547 closed

[2020-02-07 18:38] FozzieHi commented on #7326
It doesn't occur in Chrome though, surely this is Brave's implementation of Chromium?

[2020-02-07 18:39] tomlowenthal commented on #8096
Not a bug. When you deliberately enable flash in settings and then allow a site to run flash, it's going to be able to run flash — even in a private window with Tor. Working as expected.

[2020-02-07 18:39] #8096 closed

[2020-02-07 19:21] LaurenWags opened #8128 "crash after updating to 1.3.x"
## Description
Multiple reports of crashing after updating to 1.3.x, unable to keep Brave open:
https://twitter.com/brave/status/1225842308014170112
https://twitter.com/brave/status/1225842071900020741
https://twitter.com/brave/status/1225841791569580034

## Steps to Reproduce
Unsure, possibly related to sync

## Actual result:
see below tweet for video of issue
https://twitter.com/bpemble/status/

[2020-02-07 19:44] karenkliu commented on #7940
Close in favor of this https://github.com/brave/brave-browser/issues/6228 and followup issue https://github.com/brave/brave-browser/issues/6546

[2020-02-07 19:44] #7940 closed

[2020-02-07 19:54] CharlieRanalli commented on #8128
Crash report attached if it helps, sync enabled, same behavior as other affected users on Twitter.

Suggested script produced this:
cr-mac-03:~ charlieranalli$ /Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --disable-brave-sync
[0207/142113.418995:WARNING:process_memory_mac.cc(93)] mach_vm_read(0x7ffeef8fb000, 0x2000): (os/kern) invalid address (1)
[0207/142113.604945:WARNING:syste

[2020-02-07 19:58] kevinp2 commented on #8128
Same issue here.  I have now become dependent upon Brave, and this happened right after the mandatory upgrade.  Please help!

[2020-02-07 20:01] LaurenWags commented on #8128
@kevinp2 the team is actively working on a fix. However, some users have reported that if Brave stays open for a minute or two, they are able to do the following to stop the crashing:
1. Navigate to brave://sync
2. Disable bookmark sync from this page

Unfortunately if Brave crashes immediately this won't work for you. The team is working on a fix.

[2020-02-07 20:04] kevinp2 commented on #8128
Hi, an update:  I reinstalled Brave from brave.com  Brave now opens properly and I have my bookmarks back.  Phew!

However, I lost my two open windows and tabs which ironically I had just spent time rearranging and organizing.  Is there any way to get them back?

[2020-02-07 20:05] jonathansampson commented on #8128
@kevinp2 Do you now see sponsored new tab pages (every fourth new tab opened)?

[2020-02-07 20:14] kevinp2 commented on #8128
Hi @jonathansampson , not sure what you mean.  I have my history back, but not the two windows and about 20 tabs I had open between them.

[2020-02-07 20:16] jonathansampson commented on #8128
@kevinp2 Apologies for the confusion. This version of Brave shipped a New Tab Page update, which allows users to earn BAT from the imagery shown on every 4th new tab. If you open a few new tabs, do you eventually see a custom background for _Western Digital_?

[2020-02-07 20:16] CharlieRanalli commented on #8128
Reinstalling also worked for me - likely because it reverted to 1.2.43

[2020-02-07 20:18] jonathansampson commented on #8128
@CharlieRanalli Great point. We did revert to 1.2.43 on brave.com.

[2020-02-07 20:20] kevinp2 opened #8129 "New Private window with Tor broken: ERR_PROXY_CONNECTION_FAILED"
## Description
With this newest release, the private Tor window is 100% broken.  Navigating to any web page results in the error message: There is something wrong with the proxy server, or the address is incorrect

## Steps to Reproduce

   1. From the menu, select File > New Private Window with Tor
   2. A new window opens with the dark purple background.
   3. Go to any site, including brave.com

[2020-02-07 20:23] kevinp2 commented on #8128
No, I opened a few tabs by right-clicking but did not see any tab with an ad.

[2020-02-07 20:23] CharlieRanalli commented on #8128
@jonathansampson Custom backgrounds should therefore be gone.  I didn't get one after serially opening 6-7 new tabs but I wasn't sure if it was because i'm currently out of the country - I don't get ads here either

[2020-02-07 20:25] jonathansampson commented on #8128
@CharlieRanalli If you're on 1.2.43 (previous working build), you definitely won't be seeing the updated new tab pages. Regarding the lost windows, it sounds as though reverting to 1.2.43 may have overwritten some of the browser state. Unfortunately, I don't think those will be recoverable.

[2020-02-07 20:34] MrZander commented on #7332
@rebron Issue is still present in 1.3.113

I have an issue opened on Chromium as well
https://bugs.chromium.org/p/chromium/issues/detail?id=1036396#c7

[2020-02-07 20:56] bbondy commented on #7753
Re 1&4: This is fixed on Nightly and Dev where something landed to improve compatibility of Brave and MetaMask.
Re 3: Yes I think it should be possible already.
Re 2: There's only 1 seed but you can create multiple wallets from that seed. There will be a reset wallet functionality coming within the next few versions.

Closing this as I think all things are answered. Let me know if you have further

[2020-02-07 20:56] #7753 closed

[2020-02-07 20:58] bbondy commented on #8119
Closing this in favor of this: https://github.com/brave/brave-browser/issues/8120

[2020-02-07 20:58] #8119 closed

[2020-02-07 21:16] jonathanKingston opened #8132 "Crash in latest master build"
So I am getting the following crash:
[code]

- brave_browser: 1.6.11 fb539afec51e161b30fd00ba8ade3ad1664b0833
- brave_core: 1.6.11 0a6249e755d6e560d6e17009d71299f28b7cbf69
- chrome: 86f7c91cf23bceaaeebbd6a0d1d46626ac68d924

[2020-02-07 21:30] diracdeltas commented on #4381
We should be disabling field trials generally as of https://github.com/brave/brave-browser/pull/4551

However, we purposefully enabled the setting to not show EV indicators (https://github.com/brave/brave-core/pull/2471/files#diff-9413752841345e7c426bf4dd82fe7e60R143) but I guess that's no longer necessary since Chrome does it too.

[2020-02-07 21:37] w0ts0n commented on #8057
Just wanted to note. As of today, I upgraded Brave to Version 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit) on MacOS 10.15.1 and I'm seeing some odd behaviour with floating sliders.

<img width="373" alt="Screenshot 2020-02-07 at 4 30 15 PM" src="https://user-images.githubusercontent.com/2603015/74067851-28803880-49c8-11ea-8e51-d789c5b48f08.png">
<img width="554" alt="Screenshot 2020-02

[2020-02-07 21:39] w0ts0n commented on #8070
Can +1 that I saw this as of today.
 Brave Version 1.3.113 Chromium: 80.0.3987.87 (Official Build) (64-bit) on MacOS 10.15.1

<img width="554" alt="Screenshot 2020-02-07 at 4 31 49 PM" src="https://user-images.githubusercontent.com/2603015/74067934-5b2a3100-49c8-11ea-8a1e-6a01d3ae5a99.png">
<img width="373" alt="Screenshot 2020-02-07 at 4 30 15 PM" src="https://user-images.githubusercontent.com/26

[2020-02-07 21:53] #8023 closed

[2020-02-07 22:10] wknapik commented on #7899
Same/similar issue on macOS #8129.

[2020-02-07 22:43] LaurenWags commented on #7133
Verified passed with

Brave | 1.4.81 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced the issue on 1.3.113
* Verified STR from description

[2020-02-07 22:51] LaurenWags commented on #7296
Verified passed with

Brave | 1.4.81 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced the issue using 1.3.113

* Verified test plan from https://github.com/brave/brave-core/pull/4211
<img width="661" alt="Screen Shot 2020-02-07 at 5 47 17 PM" src="h

[2020-02-07 23:05] jonathanKingston commented on #8132
This appears to be an issue from https://github.com/brave/brave-browser/issues/7888 migration changes.

[2020-02-07 23:28] mbacchi opened #8133 "Changelog markdown parsing fails on inline code"
The brave-core library [changelog.py](https://github.com/brave/brave-core/blob/master/script/lib/changelog.py) based on mistletoe should handle inline code (backticks) when parsing markdown, but fails with the error:

[code]

We should test for inline code and other markdown syntax(such as emphasis and [others](https://github.com/miyuchina/mistletoe/blob/master/mistletoe/base_renderer.py#L46)) tha

[2020-02-07 23:31] fmarier opened #8134 "Startup crash when `Bookmarks` contains duplicate object ID"
## Description

When the `Bookmarks` file contains a duplicate `object_id`, Brave crashes immediately at startup.

## Steps to Reproduce

1. Close the browser.
2. Overwrite `~/.config/BraveSoftware/BraveBrowser/Default/Bookmarks` with [this minimal file](https://gist.github.com/fmarier/7ffa3ffff720f3bc521f490977acfbaa)
3. Start the browser.

## Actual result:

The browser during startup, a few sec

[2020-02-07 23:43] #8132 closed

[2020-02-07 23:59] smadgerano commented on #8128
So, for those of us who don't want to revert back to a previous version because it means losing the current session (30+ tabs), my browsing history (which I use on a daily basis), and all my extension data that I have no idea how to transfer and isn't based in the cloud, what do we do? I deliberately chose the stable channel specifically so stuff like this didn't happen. The whole world would be u

[2020-02-08 00:01] #7986 closed

[2020-02-08 00:02] fmarier commented on #8134
This is fixed in the [1.3.114 builds](https://github.com/brave/brave-browser/releases/tag/untagged-e04226b97f7be2c2e5e6).

[2020-02-08 00:07] jonathansampson commented on #8128
We have a build now that should address this issue; please install and let us know if this resolves the issue for you:

* Win x64 - https://github.com/brave/brave-browser/releases/download/v1.3.114/BraveBrowserStandaloneSetup.exe
* Win x86 - https://github.com/brave/brave-browser/releases/download/v1.3.114/BraveBrowserStandaloneSetup32.exe
* macOS - https://github.com/brave/brave-browser/releases/

[2020-02-08 00:11] mjgiarlo commented on #8128
Tested on Ubuntu 18.04 and worked like a charm. Thanks much, @jonathansampson & crew!

[2020-02-08 00:21] #8108 closed

[2020-02-08 00:22] Xyncgas opened #8135 "ads huh"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2020-02-08 00:23] #8135 closed

[2020-02-08 00:28] kjozwiak opened #8136 "Release checklist for 1.3.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-02-08 00:51] MASY2000 opened #8137 "ERR_CONNECTION_ABORTED for https://www.binance.com & http://www.oxbtc.com/m/"
## Description
I've banned from access https://www.binance.com & http://www.oxbtc.com/m/ with this message "This site can’t be reachedThe webpage at http://www.xxxxxxx.com/ might be temporarily down or it may have moved permanently to a new web address.
ERR_CONNECTION_ABORTED".
But I've fully access to https://www.binance.us, https://www.jex.com & https://www.binance.org on Brave.

## Steps to Rep

[2020-02-08 00:55] antonycourtney commented on #7639
@bridiver Is this issue still under active review by the Brave team? I'd really like to get Tabli working on Brave again. I can easily apply what I consider the hacky fix (putting "Tabli Saved Windows" on the Bookmarks Bar) to get Tabli working again, but I have held off on that for the past month in the hopes of some clear guidance on what will happen with this issue from Brave devs.

[2020-02-08 01:04] louistiti commented on #8128
Tested on macOS Catalina and it's working now. Thanks to the team!

[2020-02-08 01:06] jonathanKingston opened #8138 "Ads service shows "Failed to load" error on startup"
I keep seeing these perpetual errors when stating up an existing Brave profile.

[code]

It appears that it should be saving the state when there isn't one.

[2020-02-08 01:16] martinib77 commented on #8128
Tested on Windows 10 Enterprise N 2016 LTSB 64 bits.
It's Working. Thanks!

[2020-02-08 01:23] Mister36MN commented on #8114
Is this perhaps related to https://github.com/brave/brave-browser/issues/8128 ?

In the brief second that I can see brave open, it says Home://newtab

[2020-02-08 01:51] #8127 closed

[2020-02-08 02:40] simonhong opened #8140 "Include region info in ntp sponsor component name"
With region info in component name, we can check easily which ads is used for now.

Currently, component name doesn't include region info.
![image](https://user-images.githubusercontent.com/6786187/74077663-0a1c4a80-4a65-11ea-94d7-7001577e47ef.png)

It should be good if it includes region info like below.
![image](https://user-images.githubusercontent.com/6786187/74077939-b6f7c700-4a67-11ea-8a42-c

[2020-02-08 03:46] kjozwiak opened #8141 "Temporarily disable sync to diagnose crashes"
## Description

We'll be temporarily disabling sync to diagnose several crashes and improve general stability.

## Steps to Reproduce

* Test Plan: https://github.com/brave/brave-core/pull/4565

## Actual result:

Brave is currently crashing due to several crashes which is affect user experience and stability.

## Expected result:

Temporarily disabling sync so we can diagnose the current crashes

[2020-02-08 04:26] aemxn commented on #8128
I was having this issue today. No chance to get any report on the crash nor disabling sync in the settings as it happened fast. Installing v1.3.114 (64bit) link above works for me.

[2020-02-08 08:41] zfoxzero commented on #8010
OvO

[2020-02-08 09:49] onmyouji commented on #8082
Also happens on 1.3.113

[2020-02-08 11:22] cagrimertbakirci commented on #8128
Same problem here. Currently testing turning off sync to see if it helps any. Will report results in a bit. It crashes every 4-5 minutes of use in my case.

[2020-02-08 11:24] PierreMardon commented on #7263
I'm not sure you got my point @rebron :

This is definitely a bug. I had to switch the selected search engine to make it work properly.

[2020-02-08 14:41] ilyaigpetrov commented on #7268
@rebron No, no specific sites, all sites used to freeze. But currently they don't for a whole day in my Brave Nightly 1.6.9:
[code]

[2020-02-08 15:51] ch0rn commented on #7639
For the love of god bring back the ability to pin a folder to the right hand side.  This is total crap, I personally use 3 different desktop devices all with different resolutions.  So now my damn bookmarks are always in a different place.

[2020-02-08 16:04] Mister36MN commented on #8114
Crash stopped on one PC so far after updating to 1.5.86

[2020-02-08 16:12] #8141 closed

[2020-02-08 16:17] iyx commented on #3664
I agree, quite inconvenient. At least there should be specific setting to enable this.

[2020-02-08 16:58] k-kruglov commented on #353
I agree that themes should change the new tab page color too (or have this as an option).
When i open new tabs one after another very fast, i see that tab page has the color of the theme but then brave changes it to the default one (i have wallpaper disabled). Give us the option, please. Browser already does this, you just decided that default color of the page should be the orange one for some re

[2020-02-08 17:47] rebron commented on #8114
@Mister36MN Do you have sync enabled? Can you go ahead and send your crash reports now and post the ids here e.g. Uploaded Crash Report ID f274c39e536ae154 (Local Context: 8fb72831-8f81-4f03-9f1f-d0f362f9a34c)

[2020-02-08 18:24] Mister36MN commented on #8114
Sure, here are a few, and yes I did have sync enabled.

6e08fba2-fd7f-43f9-859d-8af1af5ad112

79fe6286-a867-47a2-9567-4edc30b7f5f5

a4b82909-3245-4ff0-aac0-636e0610cecf

When I manually set to upload them, it still says "not yet uploaded" however

[2020-02-08 22:38] smadgerano commented on #8128
So will installing the new version wipe out any local settings, local extension caches, and local wallet balance?

[2020-02-09 01:23] zezkin commented on #7702
Same here

[2020-02-09 04:01] Prowler2 commented on #7954
@Daemach

Brave release 1.2 and older
`HKLM\SOFTWARE\Policies\Chromium`

Brave release 1.3 and newer
`HKLM\SOFTWARE\Policies\BraveSoftware\Brave`

Since Brave is based upon Chromium, find the chromium policy you need on this page and apply the associated registry key in the appropriate area (above) for your version of Brave.
https://cloud.google.com/docs/chrome-enterprise/policies/

The one you ar

[2020-02-09 04:13] zezkin commented on #7702
Hey, just disable the shield and it will works perfectly.

[2020-02-09 06:58] robincsamuel commented on #8128
I was facing the same issue, was crashing in a second. I tried the new build, but crashes in a few minutes.

I see this in the OSX console.

`fault	12:23:29.924971+0530	Brave Browser Helper (GPU)	Failed to get Metal shader cache main folder: failed to lookup DARWIN_USER_CACHE_DIR err:5
`

Version 1.3.114 Chromium: 80.0.3987.87 (Official Build) (64-bit)
OSX version: 10.15.2 (19C57)

[2020-02-09 07:16] NejcZdovc opened #8147 "Add closing tag to PR template"
We should add `Resolves` to PR template so that we have things unified.

[2020-02-09 07:41] johnlunney commented on #7487
Installed Brave to get this feature, discovered it's still not in Android, uninstalled.

[2020-02-09 10:11] onmyouji commented on #353
Kinda related to this, please allow us to enable Sponsored Images without any Background Image. Currently the 'Show Sponsored Images' settings is tied to the Background Image.

[2020-02-09 11:42] yasirdin opened #8148 "Update Repository Description"
## Description
I presume the description for this repository can be now be updated from
[code]
to
[code]
?

[2020-02-09 11:48] #8148 closed

[2020-02-09 11:49] nama1510 commented on #4678
Same issue here, I have my laptop and my android device on a chain but when i try to add my desktop computer and click confirm it does nothing.
Brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)

[2020-02-09 14:29] jonathansampson commented on #8128
Thank you, @robincsamuel. Could you go to `about:crashes` and submit the last couple of crashes, then restart Brave, and revisit `about:crashes` to collect the new Crash IDs. Pleas share those here when you have a moment.

[2020-02-09 14:48] robincsamuel commented on #8128
@jonathansampson Submitted the last three crash reports and restarted Brave, it says uploaded.
`4b3481be5291f190`, `9ef5a973878b82d2`, and `86d0aeac2b804b76` are the crash report ids. I've disabled sync and Brave didn't crash after that. I'll update here if it crashes again.

[2020-02-09 16:14] lemosley01 commented on #8128
I've upgraded to the Windows X64 build above on WIn10 and still see the crashes when I enable sync.

Crash Id 474d1cbc5cbe0785  and I have another pending.

This started this morning after rebooting. I upgraded Nvidia drivers last night and it was stable then.

[2020-02-09 17:21] codesnippy commented on #4678
Same issue here. I have my laptop and my android device on a chain. When I try my second laptop and click confirm it does nothing.
Brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
Debian 10

[2020-02-09 17:57] denismp commented on #7987
@jumde
![2020-02-09_12-52-26](https://user-images.githubusercontent.com/2000960/74107187-8e410180-4b3b-11ea-94bc-075f0fc4a0c9.jpg)
![2020-02-09_12-52-51](https://user-images.githubusercontent.com/2000960/74107188-8ed99800-4b3b-11ea-8406-293dc8df91c9.jpg)

Sorry it took so long.

[2020-02-09 18:28] benlc commented on #5842
Still happening on:
Mac OS Mojave 10.14.6
1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)

[2020-02-09 19:22] cazssiew opened #8149 "OSX accessibility zoom features crash brave"
## Description
Using the OSX zoom features (ctrl+scroll or ctrl+hover text) crashes brave

## Steps to Reproduce
   1. enable zoom and large hover text in system preferences > accessibility > zoom
   2. use in brave according to the selected hotkeys

## Actual result:
brave crashes

## Expected result:
zooming in/out / large hover text

## Reproduces how often:
most often crashes instantly, occasi

[2020-02-09 19:45] tasdienes opened #8150 "Brave crashes on startup; log says "Failed to start paying out redeemed tokens due to an invalid timer""
## Description
Yesterday I rebooted my computer.  Afterward, Brave will no longer start. When I try to start it, a window flashes briefly and disappears.

I ran it from the command line with logging and got this:
PS C:\Program Files (x86)\BraveSoftware\Brave-Browser\Application> .\brave.exe --enable-logging
PS C:\Program Files (x86)\BraveSoftware\Brave-Browser\Application> [19404:5928:0209/113521.

[2020-02-09 20:49] ZeusTheDev commented on #5508
I am also having the exact same issue. Latest version of Brave.
How to reproduce:
On the top monitor have a video in full screen.
On the bottom monitor have Brave Browser maximized.

[2020-02-09 21:19] victorelec14 commented on #8128
maybe is this the problem ?

Utility: Bat Ledger Service , 90-100%  for 2-5 min them crash.

![image](https://user-images.githubusercontent.com/543450/74110121-10f0ad80-4b8a-11ea-81ae-01bc53355de8.png)

[2020-02-09 21:51] jonathansampson commented on #8128
@victorelec14, happy to look into this. I don't think the ledger service should be consuming that much processing power, but there may be something there to investigate. Can you go to about:crashes and submit a few of your recent ones. Restarting Brave will cause them to submit instantly. Then you'll find Crash IDs on that page. Please share at your convenience.

[2020-02-09 22:07] victorelec14 commented on #8128
@jonathansampson  , here are the last 10 crashes :) thx !

[code]

[2020-02-09 22:59] madhums commented on #353
When can we have a simple dark background (without an image) for new tab page?

[2020-02-09 22:59] lemosley01 commented on #8128
FYI, I re-enabled sync and it is not crashing with the new build - nothing has changed hardware or software-wise since I reported it.

[2020-02-09 23:24] jumde commented on #7987
@denismp - Thanks for the screenshot. This helps.

So you're not seeing the notarization error `tor cannot be opened because Apple cannot check it for malicious software` but you're not able to load any site in Tor? If so, can you please share any errors that you see in `/Users/<user-name>l/Library/Application Support/BraveSoftware/Brave-Browser/tor/data/tor.log`.

[2020-02-09 23:26] jumde commented on #7987
Hi @Ajworry - which version of MacOS are you using? Could you share a screenshot of the error that you're seeing? Thanks!

[2020-02-09 23:59] kjozwiak opened #8151 "Manual test run on OS X for 1.3.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Brave crashes at startup with segfault when `--disable-sync` flag is used.([#8108](https://github.com/brave/brave-browser/issues/8108))
 - [x] Temporarily disable sync to diagnose crashes.([#8141](https://github.com/brave/brave-browser/issues/8141))
### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run

[2020-02-09 23:59] kjozwiak opened #8152 "Manual test run on Windows x64 for 1.3.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Brave crashes at startup with segfault when `--disable-sync` flag is used.([#8108](https://github.com/brave/brave-browser/issues/8108))
 - [x] Temporarily disable sync to diagnose crashes.([#8141](https://github.com/brave/brave-browser/issues/8141))
### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run

[2020-02-09 23:59] kjozwiak opened #8153 "Manual test run on Linux for 1.3.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Brave crashes at startup with segfault when `--disable-sync` flag is used.([#8108](https://github.com/brave/brave-browser/issues/8108))
 - [x] Temporarily disable sync to diagnose crashes.([#8141](https://github.com/brave/brave-browser/issues/8141))
### Installer

- [x] Check that installer is close to the size of last release
- [ ] Check signature: If OS Run

[2020-02-10 01:04] a-bronx opened #8154 "Numerous "Security Audit Failure" events in Windows Event log"
## Description

Brave.exe generates a large amount of Security Audit Failures in Windows Event log.

## Steps to Reproduce
Windows 10 Enterprise workstation in an Active Directory domain.

Open Event Viewer, Windows Logs, "Security" log.

## Actual result:

See numerous Audit Failure events (Event ID 4673, category "Sensitive Privilege Use", provider "Microsoft-Windows-Security-Auditing"), associa

[2020-02-10 01:34] qingxiang-jia opened #8155 "Black Corner on Gnome"
#7847  Description

On Gnome 3, the browser window has a black corner next to each of its rounded corners. What's more weird is if you move it from left to right, you will see the right two corners (upper & lower) are temporarily gone. Similar behavior happens when you move it to other directions. Even more so, if there's an app behind the window, the corners are gone.

## Steps to Reproduce

   1

[2020-02-10 01:51] rebron commented on #8149
Easily reproduces on macOS Catalina. Not an issue on Mojave.

[2020-02-10 02:09] kjozwiak commented on #8149
Thanks for the report @cazssiew 👍 Much appreciated. We'll make sure this gets addressed/fixed in the next release which is typically when we have a minor chromium bump.

[2020-02-10 02:53] TheShanMan commented on #7265
I had this happen a while back (perhaps around the same time but not sure), and I just had it happen again today. The first time, I _eventually_ got my tabs back (after restarting brave once or twice and/or updating brave they just seemed to come back). Hoping they'll come back this time too because I had a bunch! It's becoming pretty annoying. I also found this open issue: https://github.com/brav

[2020-02-10 03:07] danrobi11 opened #8156 "(Feature Request) Javascript on/off not enough"
Ability to singularly handling scripts
Js on/off its not enough.

[2020-02-10 03:51] srirambv commented on #7905
Unable to reproduce on current nightly 1.6.12. Closing the issue for now will reopen if issues reproduces or if I find consistent steps

[2020-02-10 03:51] #7905 closed

[2020-02-10 04:10] srirambv opened #8157 "[Android] Developer mode is enabled by default"
## Description
 Developer mode is enabled by default

## Actual result
Developer mode is enabled by default

## Expected result
Developer mode should not be enabled by default

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NA
   - Beta build? Yes

## Device details
   - Install type (ARM, x86): ARM
   - Device (Phone, Tablet, Phablet): Phone
   - Android

[2020-02-10 04:50] rebron opened #8158 "sync still shows as disabled in hamburger menu"
## Description
With 1.3.115 temporarily disabling sync, we still display Sync in the hamburger menu..

## Actual result:

![sync-hamburger](https://user-images.githubusercontent.com/5951041/74121795-d97c0400-4b7d-11ea-94e2-583df509f92e.PNG)

## Expected result:
No Sync in hamburger menu.

## Miscellaneous Information:
Filing as an issue as disabling Sync should remove all UI. However, showing as d

[2020-02-10 04:54] rebron opened #8159 "sync still shows as an option in settings"
## Test plan
1. Fresh install
2. Visit brave://settings
3. Verify Sync doesn't show up on side menu or in main settings area
4. Visit brave://flags/#brave-sync
5. Enable the setting and restart the browser
6. Visit brave://settings
7. Verify Sync DOES show up on side menu and in main settings area

## Description
Temporarily disabling sync in 1.3.115 still shows Sync menu item in preferences. Sync

[2020-02-10 05:20] simonhong commented on #7920
This is not reproduced in current nightly (`1.6.12`)

[2020-02-10 05:33] kjozwiak opened #8160 ""BraveAppMenuBrowserTest.BasicTest" failing when running "test-browser" on "1.3.x""
## Description

We need to fix the `BraveAppMenuBrowserTest.BasicTest` test that's currently failing on `1.3.x`.

* `Linux` - https://ci.brave.com/job/brave-browser-build-pr/job/pr4536_disable-sync-switch_1.3.x/3/execution/node/463/log/
* `macOS` - https://ci.brave.com/job/brave-browser-build-pr/job/pr4536_disable-sync-switch_1.3.x/3/execution/node/493/log/

## Steps to Reproduce

Run through `CI`

[2020-02-10 06:05] kjozwiak commented on #8158
Looks similar on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.3 (Build 19D76)

<img width="460" alt="Screen Shot 2020-02-10 at 1 01 12 AM" src="https://user-images.githubusercontent.com/2602313/74124642-fbd34900-4ba0-

[2020-02-10 06:24] kjozwiak commented on #8127
Moving this into the `1.4.x` milestone for now. However, if we have another `1.3.x` release due to a minor CR bump, we'll need to move this into that milestone.

CCing @rebron @bsclifton as a reminder.

[2020-02-10 06:34] srirambv commented on #8108
Verification passed on

Brave | 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Linux

- Verified no crash when running brave with `--disable-sync`
- Verified no Sync component shown in `brave://inspect/#extensions`
- Verified console doesn't show any crash reports
- Verified Sync is completely

[2020-02-10 07:13] cazssiew commented on #8149
Awesome, thanks! Unfortunately I only started using the macos zoom very recently so I'm not sure. Sorry I can't be of more help.

[2020-02-10 07:23] robincsamuel commented on #8128
I'm observing the same now. To summarize, Yesterday morning, for some reason, Brave wasn't staying open for even a second. I found this thread and downloaded the versions mentioned in the above comment. After that, Brave started crashing every few minutes. I turned off sync and the problem went away. Then I uploaded the crash reports and turned on sync to reproduce the issue but no crashes after t

[2020-02-10 08:02] srirambv commented on #8141
Verification passed on

Brave | 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Linux

- Verified test plan from https://github.com/brave/brave-core/pull/4565
- Verified Sync is disabled via command line flag found in brave://version
![image](https://user-images.githubusercontent.com/17010094/74

[2020-02-10 09:45] NejcZdovc opened #8161 "Remove UI suffix from methods"
Right now some functions in rewards service has UI appended to the name. This was added as we have db in implementation. With https://github.com/brave/brave-browser/issues/6363 DB will be in shared lib, so we can refactor and remove this suffix.

[2020-02-10 11:14] Ajworry commented on #7987
high sierra 10.13.6

`Feb 03 20:06:00.000 [notice] Tor 0.3.5.8 opening new log file.
Feb 03 20:06:00.253 [notice] Tor 0.3.5.8 running on Darwin with Libevent 2.1.9-beta, OpenSSL 1.0.2q, Zlib 1.2.11, Liblzma N/A, and Libzstd N/A.
Feb 03 20:06:00.255 [notice] Tor can't help you if you use it wrong! Learn how to be safe at https://www.torproject.org/download/download#warning
Feb 03 20:06:00.256 [noti

[2020-02-10 12:47] gabrielmulle commented on #7639
Today I updated Brave to Version 1.3.113, but it didn't resolve the issue.

[2020-02-10 12:58] wknapik commented on #7899
I set up an audit rule as follows:
[code]
then, a few minutes ago, the tor process was killed again and I got the following:
[code]
I was also running strace at the same time like this
[code]
so I have a strace log with a 1000 lines of context above and below the SIGTERM, I can provide that on request.

[2020-02-10 13:18] AMHOL commented on #6769
I get a similar error on Ubuntu 19.10:

[code]

[2020-02-10 13:56] emerick commented on #8157
I think this is working as expected, per this comment:

[code]

[2020-02-10 14:00] aluzardo commented on #5793
Same issue here.

[2020-02-10 15:06] cezaraugusto commented on #3069
@srirambv onboarding flow changed a bit since this bug. Could you confirm issue persists?

[2020-02-10 15:09] cezaraugusto commented on #6361
This task was completed via https://github.com/brave/brave-ui/pull/556. Closing as `invalid` since all feature-specific themes are already in brave-core.

[2020-02-10 15:09] #6361 closed

[2020-02-10 15:18] emerick commented on #8157
Spoke with @srirambv and closing as expected, per the previous comment.

[2020-02-10 15:18] #8157 closed

[2020-02-10 16:00] JTCozart commented on #7883
This kinda goes against what brave is for... It is a shame that it was not announced and there is not an easy way to turn it off for the average user.

Tips for everyone looking to turn this off:

- Go to chrome://flags/
- Search for "Branded"
- Turn off the two feature flags there and relaunch brave. (chrome://flags/#brave-ntp-branded-wallpaper and chrome://flags/#brave-ntp-branded-wallpaper-demo

[2020-02-10 16:02] JTCozart commented on #8123
This kinda goes against what brave is for... It is a shame that it was not announced more widely and there is not an easy way to turn it off for the average user.

Tips for everyone looking to turn this off:

- Go to chrome://flags/
- Search for "Branded"
- Turn off the two feature flags there and relaunch brave. (chrome://flags/#brave-ntp-branded-wallpaper and chrome://flags/#brave-ntp-branded-wa

[2020-02-10 17:02] GeetaSarvadnya commented on #8152
Looks good hence closing the issue.

[2020-02-10 17:02] #8152 closed

[2020-02-10 17:15] millerlarson commented on #4061
Thank you for this.

I was hitting this in OSX, and was able to correct the issue by nuking 'Login Data' in: `~/Library/Application Support/BraveSoftware/Brave-Browser/Default/`

[2020-02-10 17:20] petemill commented on #7883
Hi @JTCozart The feature was announced with this detailed post https://brave.com/introducing-sponsored-images-in-brave/

Sponsored Images is part of Brave Rewards - enabling you to get rewarded for viewing non-intrusive branded background images on the New Tab Page.

You can disable sponsored images much more easily via the "hide sponsored images" link that pops up the first time an image like thi

[2020-02-10 17:21] dfreilich commented on #6584
@tomlowenthal #3692 didn't address non-Windows OS's, which is still an open problem. Can we reopen it?

[2020-02-10 17:21] konarkmodi commented on #3437
@AronVanAmmers :  ERR_CONNECTION_RESET seems to happen when the server receives an arbitrary large client request.

My best guess, looking at the issue right now is, somehow your browser is sending a large payload of cookies/query parameters to web.archive.org.

Cleaning the cookies for this domain will most likely solve this particular issue.

[2020-02-10 17:22] riastradh-brave opened #8163 "Use full resolution of base::TimeDelta in randomized delays for privacy"
We currently pick a geometrically distributed number of seconds:

[code]

However, we are trying to approximate an exponentially distributed delay on a continuous time scale, on clocks that have much finer resolution than seconds.  Conceivably the jitter of the clocks is small enough, even if network jitter is included, that users could be distinguished by which millisecond (or at least centisecon