[2019-02-12 13:31] srirambv opened #3322 "Private and Tor windows NTP UI doesn't fill completely"
## Description

Private and Tor windows NTP UI doesn't fill completely. Issue originally reported by @NejcZdovc

## Steps to Reproduce

   1. Install beta build
   2. Open a new Tor/Private window
   3. Shows white blank space at the bottom of the page

## Actual result:

Private:![image](https://user-images.githubusercontent.com/17010094/52638587-4a032d00-2ef8-11e9-9eed-06aba685ac29.png)
Tor:![im

[2019-02-12 13:41] srirambv opened #3323 "Rewards page element alignment issue when browser window is resized"
## Description

Rewards page element alignment issue when browser window is resized

## Steps to Reproduce

   1. Open rewards page and resize and see the magic else watch the video

## Actual result:

https://youtu.be/TKu9cHLY-e0

## Expected result:
Not what it looks like in the video

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 0.60.26 Chromium: 72.0.3626.96

[2019-02-12 13:42] srirambv commented on #633
Verification passed on

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

* Verified test plan from PR which can be tested on CI build
* Logged #3322(previously reported internally) & #3323 found while testing

[2019-02-12 13:45] ryanml commented on #3323
@jenn-rhim do you think we should do a minimum width (similar to rewards settings) for the welcome page on desktop?

[2019-02-12 15:05] andreasraskeland commented on #3318
[Screen recording](https://andreasraskeland.keybase.pub/brave)

[2019-02-12 15:50] LaurenWags commented on #3262
@petemill does this require manual QA? if so, could you provide a test plan?

[2019-02-12 16:11] GeetaSarvadnya commented on #3265
@NejcZdovc I am seeing this issue for YT verified pubs even, do you think #3273 is the root cause for this as well?
![3265](https://user-images.githubusercontent.com/38657976/52649795-fea84900-2f0e-11e9-8767-2a2e40fd37d5.gif)

[2019-02-12 16:13] rebron commented on #3316
cc: @anthonypkeane @SergeyZhukovsky @jhreis

[2019-02-12 16:15] LaurenWags commented on #1876
I don't have Mojave on macOS, but it's still happening for me with Brave using dark colors. You can kind of see it in this gif:
![1876](https://user-images.githubusercontent.com/28145373/52650031-721e6c00-2eb7-11e9-95dc-57957bce4fcc.gif)

@kjozwiak can you check your macOS with mojave when you get a chance?

[2019-02-12 16:51] LaurenWags opened #3324 "incorrect verified youtube publisher favicons in auto contribute table"
## Description

Incorrect youtube publisher favicons are displayed in auto contribute table.

## Steps to Reproduce

   1. Install 0.60.26 and launch with clean profile
   2. Enable rewards (I used panel)
   3. Visit a verified youtube publisher (such as https://www.youtube.com/channel/UCqluXkpvWxWBz6sI1JPAsaA)
   4. I stayed on this page for about 8s.
   5. I then clicked on a video.
   6. Once v

[2019-02-12 16:52] LaurenWags commented on #3324
cc @kjozwiak @rebron @NejcZdovc

[2019-02-12 16:55] LaurenWags commented on #3324
Also, here are how some other sites behave. Looks like regular website favicons (verified/not verified) appear fine. Unverified youtube channels display generic youtube favicon as expected. Youtube site and verified yt channel favicons do not display correctly.

This is 0.60.26:
![screen shot 2019-02-12 at 11 54 10 am](https://user-images.githubusercontent.com/28145373/52653002-1951d200-2ebd-11e9-

[2019-02-12 17:02] GeetaSarvadnya commented on #3324
Reproducible on Windows 10 x64 - 0.60.27

![image](https://user-images.githubusercontent.com/38657976/52653489-10411f00-2f16-11e9-9a3b-4ef630a297fc.png)

[2019-02-12 17:06] bsclifton opened #3325 "Site settings should be editable in settings"
## Description
(Brought up by @diracdeltas)
The Muon (browser-laptop) version of Brave does have a way to allow you to clear site-specific settings without having to visit the site. Brave Core unfortunately does not.

Muon would expose this via about:preferences#shields which looked like this:
<img width="625" alt="screen shot 2019-02-12 at 10 01 55 am" src="https://user-images.githubusercontent.c

[2019-02-12 17:50] tomlowenthal opened #3326 "Return sensible lies with fingerprinting protection"
It's been reported that we return null rather than an empty array for `WebGLRenderingContext` `getSupportedExtensions` when device recognition blocking is on. This might unnecessarily rek things calling that API, so maybe we should return lies of the right type instead.

https://community.brave.com/t/device-recognition-blocking-may-broke-some-site/44487

[2019-02-12 18:40] LaurenWags opened #3327 "twitch tipping scenarios not currently considered"
## Description
There are a couple of tipping scenarios for twitch that may not be acting in the desired manner. We may want to consider handling these scenarios.

Scenario 1:
If you navigate to a channel (such as https://www.twitch.tv/neoness007) and you see that the channel is “hosting” another streamer (ex. shanksy), the panel shows neoness007 publisher info, but your a-c table records the perso

[2019-02-12 19:14] petemill commented on #1222
Not sure we can remove the 'theme' section here @rebron - this is the only way to remove a theme if someone installs a theme from the extensions store. This is why we differentiated the title Brave Colors with Themes - so that you can choose a theme from the store and have the rest of the non-theme colors be light or dark.

We may also want to remove the option for Dark / Light considering that Ch

[2019-02-12 19:30] petemill commented on #3262
@LaurenWags no, it will be covered by the automated build process. Sorry about that mis-labelling!

[2019-02-12 19:32] rebron commented on #1040
cc: @kjozwiak to reproduce but it deals with restore tab/focus.

[2019-02-12 19:40] rebron commented on #3235
cc: @mandar-brave

[2019-02-12 19:42] rebron commented on #3048
cc: @tomlowenthal

[2019-02-12 19:46] nip10 commented on #3205
I'm also running into this issue.
I've Hassio running on port 8123 and I can't lower shields. When I try to toggle the on/off button, it goes to off for a fraction of a second and returns to on. In some cases it will crash the tab (probably due to the way Hassio dashboard runs).

Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)
Windows 10 x64

[2019-02-12 19:48] #3292 closed

[2019-02-12 20:39] LaurenWags commented on #3324
Looks like Verified twitch publishers are showing their favicon and unverified twitch publishers just show standard twitch icon:
![screen shot 2019-02-12 at 3 38 46 pm](https://user-images.githubusercontent.com/28145373/52666459-5b3e4080-2edc-11e9-990b-1d53ac1ab34a.png)

[2019-02-12 20:52] jumde commented on #3240
This has been fixed: https://github.com/brave/brave-browser/issues/3258. Will open uplift requests for 0.60/0.61 soon

[2019-02-12 20:52] #3240 closed

[2019-02-12 20:56] tomlowenthal commented on #3048
We get the policy template code from Chromium AFAIK, but we don't officially support it, and we haven't added policy options for Brave-specific features. Use at your own risk.

[2019-02-12 20:56] #3048 closed

[2019-02-12 21:12] LaurenWags commented on #3265
I can reproduce this but only with a VOD. A live stream shows the correct letter in thank you banner.

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

[2019-02-12 21:17] Brave-Matt opened #3328 ""Can't update Brave" notification links to Chrome webpage"
## Description

The `Reinstall Brave` link provided in the pop-up notification when Brave is unable to update links to a chrome webpage instead of Brave webpage (or wherever it should point to).

![image](https://user-images.githubusercontent.com/3299098/52668255-ebbe5600-2ec7-11e9-9cc5-69c5f3ea9611.png)

Reinstall link (`kDownloadChromeUrl`)points to this address:
https://www.google.com/chrome/?&

[2019-02-12 21:20] rebron commented on #3328
@simonhong Are we still pointing to Chrome or is this fixed per this patch? https://github.com/brave/brave-core/blob/7eafb22d839b76e6a1420b972e9709eb62c2d972/patches/chrome-browser-ui-views-outdated_upgrade_bubble_view.cc.patch

[2019-02-12 21:33] LaurenWags opened #3329 "panel shows 0% Attention but a-c table has a value for attention %"
## Description
Rewards Panel shows Attention as 0% when site does have an attention percentage value.

Does not occur on 0.59.35 (currently released version) or Dev 0.61.20.

## Steps to Reproduce

   1. Clean profile.
   2. Launch Brave and enable rewards.
   3. Visit some sites so you have some attention % values in auto contribute table.
   4. Visit a site where you have an attention %.
   5. C

[2019-02-12 21:38] BrendanEich commented on #3316
Based on mobile team feedback, let's include StartPage as well. We will hold to five: Google, DuckDuckGo, Qwant, Bing, and StartPage.

Also to be clear: don't wait for OpenSearch support on all platforms (which we do want), clean up now.

[2019-02-12 21:38] #3313 closed

[2019-02-12 22:06] LaurenWags opened #3330 "generic twitch favicon displayed for verified twitch publisher"
## Description
Found while testing https://github.com/brave/brave-browser/issues/1521, https://github.com/brave/brave-browser/issues/1814

First time you view a live stream of a twitch verified publisher, the auto contribute table, tips table, and panel will display the generic twitch icon instead of the publisher's favicon. Once you view a VOD for the verified pub, then you will see their specifi

[2019-02-12 22:19] LaurenWags commented on #1814
Verified passed with

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/888
* Verified STR
* Encountered #3327, #3330, #3265
* Verified that unverified publishers show generic twitch icon in Auto-Contribute ta

[2019-02-12 22:21] LaurenWags commented on #2089
Verified passed with

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/888
* Additional testing notes can be found here https://github.com/brave/brave-browser/issues/1814#issuecomment-462960051

[2019-02-12 22:44] LaurenWags commented on #2214
Verified passed with

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified STR from description. Attempted to tip verified and unverified websites, verified and unverified YT channels, verified and unverified Twitch channels.
* Verified this is what was displayed when

[2019-02-12 22:48] einaralex commented on #3190
After messing around a bit it seems to work to do a hard reload (cmd+shift+R) on brave://sync page.

[2019-02-12 23:18] Brave-Matt opened #3331 "Golfnow.com blocks login forms due to Googletagmanager"
## Description

Brave blocks users from authenticating into goflnow.com (and likely other sites) due to the `Googletagmanager` present on the forms iframe.

Lowering Shields will allow the site to function and for users to authenticate in but also opens them up to tracking.

## Steps to Reproduce

   1. Visit goflnow.com
   2. Click `Login` even if you don't have an account
   3. Try and find the

[2019-02-12 23:22] lukemulks commented on #3331
+1
Confirm that it appears GTM being blocked is preventing the user from authenticating in Brave (repro'd on win10 x64)

[2019-02-12 23:25] edcarr commented on #353
+1

[2019-02-12 23:31] fmarier commented on #1356
@srirambv If you want to, that'd be good. I did test it on all of the branches as I was preparing PRs but I haven't re-tested since.

Steps:

1. Log into <https://accounts.google.com> with the same account you use on your Android device.
2. Enable 2FA and use the "Google Prompt" with your Android device.
3. Open a guest window.
4. Log into <https://accounts.google.com> and tap on the prompt on you

[2019-02-12 23:31] LaurenWags commented on #2819
Verified passed with

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Launched Brave with `--enable-logging=stderr --vmodule=brave_ads=3 --log-level=0 --brave-ads-debug --brave-ads-testing`. Navigated to some sites and then visited the site from description. Saw this `[51

[2019-02-12 23:38] diracdeltas commented on #3316
We should have a process for vetting search engines before adding them in the future

[2019-02-12 23:42] simonhong commented on #3328
@rebron That was fixed by https://github.com/brave/brave-core/pull/1318 and will be in effect from 0.61.x.
However, I'm curious about which version that users uses because there was some installer(`brave_installer.exe`) around 0.56.x I think.
Recently @jonathansampson also saw an user that has same issue from twitter advised to fix.

[2019-02-13 00:18] BrendanEich commented on #3316
@diracdeltas Definitely.

[2019-02-13 00:30] rebron commented on #2008
Closing. This was fixed when we removed Sync services when a Chromium update inserted them, I believe with 57.x.

[2019-02-13 00:30] #2008 closed

[2019-02-13 00:52] fmarier opened #3332 "Rewards Panel too small to fit the typing button (French locale)"
## Description

The Brave Rewards panel is too small to fit the tipping button under certain locales:

![rewards-panel-hiding-button](https://user-images.githubusercontent.com/167821/52678362-3cdd4280-2ee6-11e9-94ab-e6a78fb474a6.png)

## Steps to Reproduce
   1. Set system locale to `fr_CA`.
   2. Visit a non-verified publisher.
   3. Click the BAT triangle.

## Reproduces how often:

Perfectly re

[2019-02-13 01:04] btlechowski commented on #3324
Reproduced on Ubuntu 17.10

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

![image](https://user-images.githubusercontent.com/34715963/52678935-97e95680-2f33-11e9-8389-449b0229185b.png)

[2019-02-13 01:24] btlechowski commented on #3330
The info on Rewards Panel was bouncing between twitch.tv and the twitch publisher.

Check the recording
![3330](https://user-images.githubusercontent.com/34715963/52679763-6e7dfa00-2f36-11e9-916f-1af7f09ab2d9.gif)

Brave | 0.60.26 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

[2019-02-13 02:00] btlechowski opened #3333 "Claim grant not always shown in rewards settings"
## Steps to Reproduce

   1. Clean install
   2. Enable rewards through Brave Panel
   3. Go to Brave settings through hamburger menu

## Actual result:

Claim grant is not shown in rewards settings page
![image](https://user-images.githubusercontent.com/34715963/52681141-24e3de00-2f3b-11e9-8d61-efaec8626b99.png)

Note: reload the page to show Claim grant modal

![claim grant 2](https://user-image

[2019-02-13 03:56] jumde opened #3334 "Lint script fails for uplift request"
## Description
`npm run lint` doesn't work if the base branch is not master.

## Test Plan

Specified here: https://github.com/brave/brave-browser/issues/3334

## Steps to Reproduce
   1. Run `npm run lint` on an uplift branch
   2. It looks for lint errors for files that have not been touched

## Actual result:
Should not fail

## Expected result:
Fails

## Reproduces how often:
Easily

[2019-02-13 04:21] NejcZdovc commented on #3329
@LaurenWags this one should be fixed with https://github.com/brave/brave-core/pull/1642

[2019-02-13 04:24] NejcZdovc commented on #3330
@btlechowski this is track here https://github.com/brave/brave-browser/issues/3043

[2019-02-13 04:30] NejcZdovc commented on #3332
closing as dupe of https://github.com/brave/brave-browser/issues/2874

[2019-02-13 04:30] #3332 closed

[2019-02-13 04:30] NejcZdovc commented on #2874
+1 from https://github.com/brave/brave-browser/issues/3332

[2019-02-13 05:11] eljuno commented on #598
+1 from Communityhttps://community.brave.com/t/how-to-change-installation-location/44766?u=eljuno

[2019-02-13 05:47] Miyayes opened #3335 "Tipping panel view not showing on some YouTube channels"
**Issue:** Tipping panel not showing on some YouTube channels when they should be. Tipping interface only shows "Rewards Summary" view.

**Platform:** MacOS, `0.59.35`.

**Reproduce:** Navigate to https://www.youtube.com/watch?v=9y2EvgxxMXc, and open the tipping panel.

![image](https://user-images.githubusercontent.com/11497541/52689665-3ca07e00-2f9e-11e9-9e0d-ea686c9046d2.png)
_Should show tippi

[2019-02-13 06:52] sungerbob opened #3336 "Pdf files can't opened in encrypted new window"
## Description
Hi, I can't open pdf files in encrypted new window. Like banking or government website.

## Steps to Reproduce

1. Login to government website.
2. A new encrypted window shows up.
3. Pressing pdf button in new window.
4. A new window shows up, too.
5. Pdf editor gives error message below.
"PDF.js v2.0.673 (build: 31012570)
Message: Invalid PDF structure"

## Actual result:
Pdf edito

[2019-02-13 06:55] jacobcantele commented on #1899
@Liunkae I believe this issue should be reopened, and had mentioned it with @bbondy in the related PR. Two reasons:

1. Reducing the security of the user's OS is not an acceptable security solution. Earlier in this thread, @veox linked to the statement from Arch as to why user name spaces are not enabled by default. Arch has stated that enabling this parameter greatly increases the attack surface.

[2019-02-13 07:50] simonhong commented on #3328
Today, I also saw this notification with latest release (0.59.35) on Win10.
This is very strange because this dialog only should be visible when installed browser is very old.

[2019-02-13 08:10] andreasraskeland commented on #3318
I guess the save file prompt is hidden completely or crashed.

[2019-02-13 09:31] mojoaxel commented on #3316
Good that you finally took "infogalactic" out. That was kind of embarising!

[2019-02-13 09:48] mickdekkers opened #3337 "Feature Request: Add Chromium "Tab to Search" feature"
Note: this feature request was originally posted by @eljuno at brave/browser-laptop#10675. I'm posting it here since that repo and its issues have been archived.

---

- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
From community https://community.brave.com/t/implement-the-open-search-client-specification-like-chromiums-tab-to-search-feat

[2019-02-13 09:56] tmancey commented on #3208
I can no longer reproduce, closing fixed by https://github.com/brave/brave-browser/issues/2970

[2019-02-13 09:56] #3208 closed

[2019-02-13 10:02] tmancey commented on #2870
@srirambv If you could try on brave-core branch `fix-linking-error-rebase` that would be great

[2019-02-13 10:11] tmancey commented on #2511
@bridiver This is just a reminder for us to implement background/foreground notifications for Ads in Linux. Once completed would this not be tested as part of overall Ads implementation?

[2019-02-13 10:14] tmancey commented on #2510
Updated ticket title to reflect actual crash

[2019-02-13 10:20] NejcZdovc commented on #3127
can't reproduce anymore. Closing

[2019-02-13 10:20] #3127 closed

[2019-02-13 10:34] eljuno commented on #3337
This feature already available with the new Brave 0.59.x and higher. 🙂

[2019-02-13 11:28] pvfpvf commented on #2107
I believe this problem is not browser-specific. It happens to me all the time using Chrome. It is affecting quite a lot of youtube creators, but obviously not the majority or youtube would have noticed it. It is probably a bug in youtube's client Javascript or in their server code. The error is obviously given by json.parse but in what context I don't know.

[2019-02-13 11:42] srirambv opened #3338 "Scripts shows blocked on shields but shows 307 redirect on console"
## Description

Scripts shows blocked on shields but shows 307 redirect on console

## Steps to Reproduce

   1. Visit mixer.com and play any video
   2. Check shields shows scripts from web.vortex.data.microsoft.com as blocked
   3. Check network tab, shows the same script as 307 redirects and not blocked

## Actual result:

Chrome with uBO
![screenshot from 2019-02-13 11-26-46](https://user-imag

[2019-02-13 11:43] Miyayes opened #3339 "Add a "manual refresh" button to fetch a new version of the verified publishers list, on demand"
### Description and motivation for feature request

 At the moment, the browser updates the verified `publishers_list` file only once per 48 hours. (In an upcoming release, this will be reduced to 24h). However, this fetching process has been error-prone and can be interrupted by regular use of the browser. There have been a high number of reports of the `publishers_list` becoming stale and failin

[2019-02-13 12:28] GeetaSarvadnya commented on #2871
As discussed with @tmancey over the zoom call, on Windows Chromium does not log to stderr.  Inorder to check ads service logs we need to verify `chrome_debug.log` file.

Hence closing the issue as it works as expected.

[2019-02-13 12:28] #2871 closed

[2019-02-13 12:42] AlexeyBarabash commented on #2758
Don't see it in

Brave | 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)
-- | --
Revision | ac8b982e05014492d1bd7d317628a4f22a97ffa0-refs/branch-heads/3626@{#796}
OS | Linux

![image](https://user-images.githubusercontent.com/24739341/52712497-71f89c00-2f9d-11e9-9efc-48a5e9822c8d.png)

[2019-02-13 12:56] AlexeyBarabash commented on #3297
@Firemad03 bookmarks should be in the same order between different devices.

[2019-02-13 13:57] #2872 closed

[2019-02-13 14:47] srirambv opened #3340 "Certain publishers are added twice in database with different score and % values"
## Description

Certain publishers are added twice in database with different score and % values

## Steps to Reproduce (Not reliable may be different)

   1. Enable rewards
   2. Visit a couple of sites and ensure they get added to the list
   3. Remove the sites from ac list
   4. Visit the site again after removing them from ac, disable ac switch from BR panel
   5. Check database, site is adde

[2019-02-13 15:06] AlexeyBarabash commented on #3261
Could not reproduce on `0.62.0` master, trying on `0.59.35` stable.

[2019-02-13 16:48] LaurenWags commented on #3333
I can reproduce fairly reliably with the following STR:
Launch Brave with clean profile.
Click on BAT logo.
Click on Join Rewards
Click elsewhere before you see the summary panel. (while wallet is being created)
Open a tab and navigate to brave://rewards
No message about grant is shown. No grant notification on panel.
Refresh page.
Grant message shown on brave://rewards and notification shown on p

[2019-02-13 16:50] TontyTon commented on #3048
@tomlowenthal Where is .adm file for Brave?

[2019-02-13 17:15] AlexeyBarabash commented on #3261
Could not reproduce it on `0.59.35`  also , but on step 5 devices were not synced completely in more than a hour, the last inner folder on device 2 had 3395 of 3956 bookmarks, 75-518 were missing. On example of bookmark 444 I could see device 1 had sent it, but device 2 had never received.

[2019-02-13 17:28] bbondy commented on #3081
Bumping this to 0.61.x since it'll be included as part of a rebase conflict that will be included with the 73.0.3683.27 upgrade.

[2019-02-13 17:30] tomlowenthal commented on #3048
Like I said, this is not a feature we support right now.

[2019-02-13 17:55] LaurenWags opened #3341 "incorrect attention % values in ac table after visiting excluded site"
## Description
If you exclude a site from your ac table and then visit it later, your attention percentage values in the table won't add up to 100%. It seems as though your table is counting the excluded site in your % values even though it's not listed in the table itself.

## Steps to Reproduce
Found with an upgrade profile, but happens on a clean profile as well. Steps below are for clean profi

[2019-02-13 17:58] NejcZdovc commented on #3340
@srirambv that is expected as you have publisher per month and per reconcile stamp

[2019-02-13 17:58] NejcZdovc commented on #3340
month is the same, but reconcile stamp is different

[2019-02-13 18:41] kjozwiak commented on #3333
@LaurenWags @btlechowski is this a `0.60.x` regression? Reproducible under `0.59.35`?

[2019-02-13 18:49] btlechowski commented on #3333
Not a regression. Reproduced on

Brave | 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)
-- | --
Revision | ac8b982e05014492d1bd7d317628a4f22a97ffa0-refs/branch-heads/3626@{#796}
OS | Windows 7

[2019-02-13 18:51] #3337 closed

[2019-02-13 18:53] tomlowenthal commented on #3336
I don't know what you mean by "encrypted new window". Are you saying that you can't view PDF's which are only accessible after you've logged in?

[2019-02-13 19:04] kjozwiak commented on #2758
Thanks for double checking @AlexeyBarabash 👍 I checked `Ubuntu 18.04 x64 VM` and `Mint 19.1 x64 VM` and I'm also seeing `Sync` instead of `Brave Sync`. Checked the following:

* checked the hamburger menu and ensured it appeared as `Sync`
* checked `brave://settings` and ensured that the sidebar appeared as `Sync`
* checked `brave://settings` and the sync section is titled as `Sync`

Example:

<im

[2019-02-13 19:04] sungerbob commented on #3336
Yes, I can't open same pdf link after I logged out. It's like bank account, when I login my account info, a new window shows up and continue my job in there. In new window when I click pdf button, a new "dispatch" (you can see in gif) window shows up and opens pdf on it.

[2019-02-13 19:09] GeetaSarvadnya commented on #3341
Reproduced on windows 10 x64 - 0.60.27

![image](https://user-images.githubusercontent.com/38657976/52736886-f9bbc600-2ff0-11e9-92e6-e7b29266456a.png)

[2019-02-13 19:18] Lululalu commented on #3316
As an user I want to give a humble suggestion. Add two options, google.com (English) and google.com(.ca, .ee, .ru, .jp, etc). This is how it works in some mobile browsers, (Kiwi and Bromite) and as non-native speaker of English I find it useful.

Thank you for the attention.

[2019-02-13 20:08] GeetaSarvadnya opened #3345 "Due to performance issue, wallet balance doesn't go down immediately after tipping a verified pubs"
## Description
Due to performance issue, wallet balance doesn't go down immedaitely after tipping a verified pubs. Page reload required once or twice to see updated wallet balance.

## Steps to Reproduce

   1. Clean profile 0.60.27
   2. Claim grants
   3. Open verified pub
   4. Send tip to verified pub ( For my test I have sent 10 BAT)
   5. Verify that wallet balance did not go down
   6. Rest

[2019-02-13 20:36] NejcZdovc commented on #3345
this doesn't look like client issue. I am still getting 500 from the server, so let's check again when server/uphold is stable again.

[2019-02-13 20:54] #3320 closed

[2019-02-13 20:57] rebron commented on #2494
Text should be:

To bookmark pages, click the bookmarks button next to the address bar.

[2019-02-13 20:58] rebron commented on #2494
cc: @petemill can you take at look if you're in brave://bookmarks already.

[2019-02-13 21:04] btlechowski opened #3347 "Mixed Bookmark icons on new tab top sites"
Follow up from https://github.com/brave/brave-browser/issues/633

## Test plan / Steps to Reproduce

   1. Clean install
   2. Open a page
   3. Open a new tab
4. Hover over a top site

## Actual result:

Not bookmarked top site has a bookmarked icon
Bookmarked top site has a not bookmarked icon
Bookmark icons are flipped

![new tiles](https://user-images.githubusercontent.com/34715963/52743772-1c

[2019-02-13 21:08] NejcZdovc commented on #3306
I think something else is going, don't think it's related to performance

[2019-02-13 21:09] reaktivo commented on #2410
I've dug a bit on this issue and found that the cause of the few seconds hang is the `unique-selector` running while trying to find a unique css selector to block an ad with.

I've opened a pull request for the fix here https://github.com/brave/brave-extension

[2019-02-13 21:09] btlechowski commented on #3322
Not reproducible on Windows 7 x64 and Windows 10 x64.

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows

![image](https://user-images.githubusercontent.com/34715963/52744054-da666e00-2fdb-11e9-8a5b-87b26bbd7758.png)

![image](https://user-images.githubusercontent.com/34715963

[2019-02-13 21:19] Brave-Matt opened #3348 "YouTube: Pre-roll ads, ads on page, and video "overlay" ads not blocked"
## Description

Seeing several reports recently about YouTube ads not being blocked. This seems to vary between but not be limited to:

- **Pre-roll ads** that play before content streams
- Ads displayed on the YT **page itself** (outside of video)
- Ads that **display/overlay** the video itself ("inside" video)
Image below depicting all three types displayed.
![image](https://user-images.githubus

[2019-02-13 21:30] LaurenWags commented on #2522
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified navigating to cheddar.com and selecting a stream to play did not show autoplay icon in URL bar as it did on 0.59.35. Verified videos autoplayed on cheddar articles.
* Verified navigating to rai

[2019-02-13 21:33] #3315 closed

[2019-02-13 21:33] kjozwiak commented on #3306
STR seem easy enough but I haven't ran into the above on a VM nor my psychical machine. Wonder what the difference between @GeetaSarvadnya's machine/STR and mine are.

@LaurenWags can you see if you can reproduce this when you have some time?

[2019-02-13 21:37] tomlowenthal opened #3349 "No Tor in a Tor window"
![screen shot 2019-02-13 at 1 34 53 pm](https://user-images.githubusercontent.com/639937/52745631-62288a00-2f94-11e9-8e45-e9bb3d21c9b9.png)

Version 0.61.22 Chromium: 72.0.3626.81 (Official Build) dev (64-bit) on MacOS.

[2019-02-13 21:48] kjozwiak commented on #3349
Possibly related to https://github.com/brave/brave-browser/issues/3058? With my personal `dev` profile running `0.61.22 Chromium: 72.0.3626.81`, I went through the following:

* opened a Tor window and loaded https://check.torproject.org - Couldn't reproduce

Seems to be working for me. I also tried it with a brand new profile several times and couldn't reproduce. @btlechowski did mention that the

[2019-02-13 22:02] kjozwiak commented on #3322
Noticed the same thing happening on my `macOS 10.14.2 x64` last night when I was using Tor windows. Using the following `Display` settings:

<img width="593" alt="screen shot 2019-02-13 at 5 01 50 pm" src="https://user-images.githubusercontent.com/2602313/52747122-1801d180-2fb1-11e9-8ab4-3df8b27d7815.png">

Example of the issue occurring (notice the white spaces at the bottom occurring):

<img wid

[2019-02-13 22:12] NejcZdovc commented on #3322
personally I think this should be release blocking for 0.60 as it looks really bad, specially on big screen

![image](https://user-images.githubusercontent.com/9574457/52747721-d0953880-2fe4-11e9-8229-c9cbc931da31.png)

[2019-02-13 22:16] kjozwiak commented on #3345
@NejcZdovc I think @GeetaSarvadnya mentioned that this wasn't reproducible on the current release via:

```Reproducible on current release: No```

If this was a server side issue, I'm assuming `0.59.35` would also experience the same problems? Is there a difference between `0.59.35` and `0.60.x` where the performance can differ depending on what state the server is in? Maybe when @GeetaSarvadnya w

[2019-02-13 22:19] kjozwiak commented on #3322
@NejcZdovc agreed. Looks like it's a regression and doesn't happen on `0.59.35`. I double checked `0.59.35` and couldn't reproduce. This looks pretty bad and it's an obvious regressions. We're making the experience worse than it was one release before.

CCing @rebron on thoughts re: getting this fixed in `0.60.x`.

[2019-02-13 22:28] kjozwiak commented on #3190
Awesome, thanks for the info @einaralex. At least there's a work around for now until we get this fixed. Appreciate your time/input 👍

[2019-02-13 22:29] jenn-rhim commented on #3323
Yes. Let's keep it 1024 so it'll work also on tablets.

[2019-02-13 22:40] LaurenWags commented on #3191
@NejcZdovc could you clarify which flags I should be using in the terminal? I'm launching with `/Applications/Brave\ Browser\ Beta.app/Contents/MacOS/Brave\ Browser\ Beta --v=3 --vmodule=*rewards*=6` but maybe I'm missing a necessary flag. I'm trying to follow the test plan in https://github.com/brave/brave-core/pull/1575 with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-

[2019-02-13 22:48] LaurenWags commented on #3212
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1592
`"walletProperties":{"altcurrency":"BAT","probi_":"0","balance":0.0,"fee_amount":30.0,"rates":{"BCH":0.000992282271179031,"BTC":0.00

[2019-02-13 23:39] LaurenWags commented on #3007
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1397
* Verified steps from description
* Verified duration was not reset when pausing or seeking in videos. Verified viewing a couple vid

[2019-02-14 00:01] Lululalu commented on #3316
As an user I want to give a humble suggestion. Add two options, google.com (English) and google.com(.ca, .ee, .ru, .jp, etc). This is how it works in some mobile browsers, (Kiwi and Bromite) and as non-native speaker of English I find it useful.

Edit: What about regional search engines for people living in certain countries? Namely Seznam in Czechia, Naver in South Korea, Baidu and Shenma in Chin

[2019-02-14 00:06] riastradh-brave commented on #3349
This seems to happen if the _extension directory_ for the tor component (which is where the tor daemon executable lives) is owned by another user.  This is a very weird state of affairs, but investigating why that happens under these circumstances, because even if it's a weird circumstance it shouldn't cause this.

[2019-02-14 00:45] #3249 closed

[2019-02-14 00:46] diracdeltas opened #3350 "npm audit showing errors"
ex: https://travis-ci.org/brave/brave-core/jobs/492992454

[2019-02-14 01:26] Sh1d0w commented on #2816
As I expected there is a lot of confusion regarding the interval that `publishers_list` gets updated, so I want again to suggest considering putting that information somewhere visible in the publishers platform when verifying a channel. See some of the topics below.

https://www.reddit.com/r/brave_browser/comments/aqb3ff/verified_publisher_site_showing_as_not_verified/

https://www.reddit.com/r/BA

[2019-02-14 01:44] btlechowski commented on #1903
Verification passed on

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

![image](https://user-images.githubusercontent.com/34715963/52756643-596e9d00-3002-11e9-9913-f7d957a9c3f3.png)

[2019-02-14 02:53] simonhong commented on #2125
@iefremov can you take a look again?

[2019-02-14 03:22] kjozwiak commented on #1040
Managed to reproduce this pretty easily on `macOS 10.14.2 x64`. Happens 100% of the time using the following STR:

* load brave.com and basicattentiontoken.org on Window A
* load linkedin.com and duckduckgo.como on Window B
* ensure that Brave is the default browser
* close Brave
* click on a link in another application like Slack

What happens in the above situation is that the opened link opens

[2019-02-14 04:01] riastradh-brave commented on #3349
Here's a hypothesis about how this might happen and how to fix it.  Waiting for a build to confirm this and test a fix.

### Diagnosis

1. `BraveExtensionManagement::RegisterBraveExtensions()` calls `g_brave_browser_process->tor_client_updater()->Register()`, to create a `TorClientUpdater` if necessary and register the extension:
   - https://github.com/brave/brave-core/blob/1c6608efa1d63297a3ac9b

[2019-02-14 04:16] riastradh-brave commented on #3058
See https://github.com/brave/brave-browser/issues/3349 for diagnosis of a related bug whose fix might fix this too.

Progress bar is blocked on https://github.com/brave/brave-browser/issues/359.

[2019-02-14 04:24] kjozwiak commented on #2970
@bridiver @tmancey should we use the STR/Test Case from https://github.com/brave/brave-browser/issues/3208 to verify this as they seem related? Is there any particular cases QA should go through?

[2019-02-14 04:27] jumde commented on #2771
Repros on:

- Win 10
- AMD Raedon R5 M330

cc: @litsoni004

[2019-02-14 04:28] TontyTon commented on #3048
Ok, You said "Use at your own risk", so I thought that you may have adapted the file but don't support it. But now I understand that that you haven't.
To use Policy Templates, I would have to adapt it myself, which I am not capable of, so I can't use them. :(

[2019-02-14 04:51] #413 closed

[2019-02-14 08:19] leobel96 opened #3352 "Add support to nano defender"
In brave/adblock repository none replies to issues, so I reopen it here.
I've seen that, years ago, you have tried to add support for anti-adblock-killer but it is a discontinued project. To block anti-adblockers, I suggest you nano defender(https://jspenguin2017.github.io/uBlockProtector/). It works pretty well with uBlock origin and I think it can be adapted to work with brave's adblock.

[2019-02-14 10:31] srirambv opened #3353 "Tor window keeps showing 1 notification on BR panel"
## Description

Tor window keeps showing 1 notification on BR panel

## Steps to Reproduce

   1. Clean profile, normal tab shows 1 notification which is dismissed when BR panel is clicked
   2. Open a Private tab, no notification ever shows up on BR panel
   3. Open a Tor tab, always has 1 rewards notification on BR panel which can't be dismissed as its disabled

## Actual result:

![image](https

[2019-02-14 11:10] marc1uk opened #3354 "Feature request: Open downloaded file without saving"
## Description
This was a requested feature in the brave-laptop repository that had quite a lot of upvotes, but seems to have been dropped with the archived repository.
Often users will want to view a file once, and be done with it. Currently with Brave this requires saving the file, choosing a suitable location, navigating there in a file explorer, double-clicking the item, and then remembering t

[2019-02-14 11:21] eljuno commented on #3354
Duplicate of #2153?

[2019-02-14 11:27] marc1uk commented on #3354
Yep. Damnit, I did search the issues first, not sure how I didn't find that.

[2019-02-14 11:27] #3354 closed

[2019-02-14 12:00] NejcZdovc commented on #3060
@LaurenWags did you used this seed `OIeFXZsZd5rHDzAMwN1I0F1AX4S9KPM78uNTvmJZak8=`? If so you need to do test against staging

[2019-02-14 12:03] srirambv commented on #1897
Verification passed on

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

* Verified both scenarios from issue description

[2019-02-14 12:12] srirambv commented on #3347
The bookmark icon and unbookmarked icons are flipped. Unbookmarked icon shows filled dark colour but bookmarking it fills with white colour making it look like unfilled icon.

[2019-02-14 12:27] NejcZdovc commented on #3060
also did you modify paymentId by mistake? paymentId needs to be the same through the whole test

[2019-02-14 12:41] andyrpearson commented on #3119
I get a similar problem within Xero (sorry you'll need an account to replicate) where they have a 'print PDF' button on invoices that triggers some javascript that opens an in-browser popup that shows while the PDF is being generated. In chrome this downloads; in brave it replaces the current window with the Brave PDF plugin but shows an error as per screenshot. I can't find any way around this to

[2019-02-14 12:49] andyrpearson commented on #3119
I got round my issue by changing the settings to default to downloading PDFs rather than opening them (which I guess just bypasses the PDF extension that was causing the problem)

[2019-02-14 13:19] stefandesu commented on #2524
I noticed this as well. I thought this was basic browser behavior with WebSockets, but it works in all other major browsers. Hope it gets fixed soon because I love using Brave for testing.

[2019-02-14 14:01] mihaiplesa opened #3356 "Refactor brave-core PR builder"
## Description
The `brave-core` PR builder needs to be refactored to build certain branches as well (not only PRs).

[2019-02-14 14:22] LaurenWags commented on #3060
@NejcZdovc what about card_id - should that be modified or left alone?

[2019-02-14 14:42] fuse314 commented on #3113
Additional info: When "middle-clicking" on the very bottom part of the tab (green area in image), the tab closes as expected, when "middle-clicking" on the rest of the tab (red area in image), the window jumps to the next display.
![image](https://user-images.githubusercontent.com/927896/52793920-1991cf00-306f-11e9-8c2e-90410c7e1000.png)

[2019-02-14 14:50] GeetaSarvadnya commented on #1839
Verification passed on

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 10

- Verified below scenarios, sent downloaded id's to @aekeus to confirm whether promo code are finalized
![image](https://user-images.githubusercontent.com/38657976/52794339-a51e5680-3095-11e9-957d-48

[2019-02-14 15:01] NejcZdovc commented on #3340
closing as entries are different. @srirambv please reopen if I am missing something

[2019-02-14 15:01] #3340 closed

[2019-02-14 15:21] JikkuJose commented on #540
Don't understand how this wasn't thought it the very first release itself! Hope to see this soon!

[2019-02-14 15:32] GeetaSarvadnya opened #3357 "Getting `The Redemption Code you entered is invalid` message after click on `Get My Subscription` button"
## Description

Found white testing 1839, follow up of #1839
Getting `The Redemption Code you entered is invalid` message after click on `Get My Subscription`  button for Barrons and Market watch promos.

## Steps to Reproduce

   1. Uninstall Brave to have clean install
   2. Install below setup files
     `BraveBrowserBetaSetup-64-be-test-dowjones-barrons.exe`
     `BraveBrowserBetaSetup-64-be-t

[2019-02-14 15:48] LaurenWags commented on #3052
I am encountering https://github.com/brave/brave-browser/issues/2297 when I try the test plan from https://github.com/brave/brave-core/pull/1488. I waited a few minutes and when I turned my internet back on, my tip went thru.

[2019-02-14 15:56] LaurenWags commented on #3052
Tried again, this time I got the notification, but when I turned my internet back on, my balance had still gone down by the amount of the tip even though no tip was recorded. Still seems like I'm encountering https://github.com/brave/brave-browser/issues/2297.

[2019-02-14 16:00] LaurenWags commented on #2297
Encountered again while testing https://github.com/brave/brave-browser/issues/3052 which changes retry logic for tips. Here's what I'm seeing:
* Fresh profile with 0.60.28 (used staging env).
* Enable Rewards, claim grant.
* Navigate to a site.
* Tip the site and immediately cut wifi/internet.
* Wait a few minutes. Get notification about Tip unable to go thru.
* Enable wifi/internet again.
* Balan

[2019-02-14 16:24] #3324 closed

[2019-02-14 16:47] LaurenWags commented on #3264
@GeetaSarvadnya can you check this one on latest 0.61.x?

[2019-02-14 17:13] mucanyu commented on #2301
Still facing the issue.

[2019-02-14 17:20] gdregalo commented on #2243
The corresponding PR (https://github.com/brave/brave-core/pull/961) is closed.

The duplicate PR was opened for `android` branch.
PR: #1425.
Issue: [brave/browser-android-tabs#990](https://github.com/brave/browser-android-tabs/issues/990):

The code changes will be applied to `master` when it's merged with `android` .

[2019-02-14 17:22] NejcZdovc commented on #3266
closing as this was fixed

[2019-02-14 17:22] #3266 closed

[2019-02-14 17:27] #3316 closed

[2019-02-14 17:32] NejcZdovc commented on #2243
closing based on top comment

[2019-02-14 17:32] #2243 closed

[2019-02-14 17:48] NejcZdovc commented on #3111
@rossmoody can this one be closed, based on the fact that new icons were added?

[2019-02-14 17:56] NejcZdovc commented on #2342
@jasonrsadler is this still a problem on the latest master?

[2019-02-14 17:56] mkarolin opened #3358 "Upgrade from 72.0.3626.96 to 72.0.3626.109 on 0.60.x branch"
QA tests:

* Check branding items
* Check for version bump

[2019-02-14 18:03] NejcZdovc commented on #2876
closing as this will be replaced with uphold widget

[2019-02-14 18:03] #2876 closed

[2019-02-14 18:05] NejcZdovc commented on #3053
closing as this will be replaced with uphold widget

[2019-02-14 18:05] #3053 closed

[2019-02-14 18:07] #1553 closed

[2019-02-14 18:09] NejcZdovc commented on #1785
@petemill @rossmoody correct me if I am wrong, but this was fixed right?

[2019-02-14 18:13] rebron commented on #3353
This looks fixed in 61.x with @mkarolin work on hiding the Brave Rewards icon as there's no Rewards icon in Tor Window at all.

[2019-02-14 18:16] GeetaSarvadnya commented on #3052
While testing https://github.com/brave/brave-core/pull/1488 on Windows, I am not getting any notification showed on BAT logo, when internet is OFF. Also when internet back ON I am encountering #2297

[2019-02-14 18:17] #3358 closed

[2019-02-14 18:21] rebron commented on #3348
@Brave-Matt we need an example video, I'm having trouble reproducing this myself. Went through a handful of videos and can't find one yet.

[2019-02-14 18:31] rossmoody commented on #3111
I think so!

[2019-02-14 18:31] #3111 closed

[2019-02-14 18:36] mkarolin opened #3360 "Fix package.json in 0.61.x to point to the same brave-core branch."
Currently, package.json on 0.61.x branch points to brave-core master, but should be pointing to brave-core 0.61.x branch.

[2019-02-14 18:42] kjozwiak commented on #3229
Possibly another case of an anti-virus company blocking Brave downloads due to Tor. Reported from the community:

https://community.brave.com/t/dr-web-blocking-the-brave-download/45024

[2019-02-14 19:14] #3317 closed

[2019-02-14 19:14] #3360 closed

[2019-02-14 19:36] diracdeltas commented on #3350
fixed by https://github.com/brave/brave-core/pull/1667

[2019-02-14 19:36] #3350 closed

[2019-02-14 19:37] #3322 closed

[2019-02-14 19:47] LaurenWags commented on #3191
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan in https://github.com/brave/brave-core/pull/1575. Launched Brave with `--enable-logging=stderr --v=1 --vmodule=*rewards*=6`. Verified I saw this Request in the terminal:
[code]

[2019-02-14 19:48] grand-lotus-iroh commented on #3058
I had this similar issue on Windows Desktop and I was able to fix it by cut & pasting two folders from a previous User Data Brave install.

`C:\Users\420VaypeNaysh\AppData\Local\BraveSoftware\Brave-Browser\User Data`

- tor
- Tor Profile

Close / Quit Brave and just rename your existing folders before you cut / paste.

![explorer_2019-02-14_14-48-16](https://user-images.githubusercontent.com/12913

[2019-02-14 21:22] diracdeltas commented on #3316
btw this is here now: https://github.com/brave/brave-browser/wiki/Criteria-for-adding-new-search-providers-to-Brave

[2019-02-14 21:27] Brave-Matt commented on #3348
@rebron that's the thing - I can't produce this personally. If you follow the links above you'll see user submitted images of the ads displaying.

[2019-02-14 21:53] juliangent commented on #3119
Thanks --Sent from Yandex.Mail for mobile14.02.2019, 04:49, "andyrpearson" <notifications@github.com>:I got round my issue by changing the settings to default to downloading PDFs rather than opening them (which I guess just bypasses the PDF extension that was causing the problem)

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the t

[2019-02-14 21:54] btlechowski commented on #3289
Verification passed on

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

Files checked:
[code]

![image](https://user-images.githubusercontent.com/34715963/52820058-39df7f00-30ab-11e9-89e0-70e5124b0c2e.png)

[2019-02-14 22:17] LaurenWags commented on #3060
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1508
* Verified STR from description

[2019-02-14 22:37] LaurenWags commented on #3061
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1508
* Verified STR from description

[2019-02-14 22:46] LaurenWags opened #3362 "new tab flashes white - follow up to 1876"
## Description
Found while testing #1876

When opening a new tab, the tab flashes white before the background image is loaded. This happens whether you use light or dark theme for Brave.

## Steps to Reproduce

   1. Launch Brave.
   2. Open a few new tabs. See white flash before tab image is loaded.
   3. Switch between the new tabs. Sometimes you will see a white flash when switching between tab

[2019-02-14 22:46] LaurenWags commented on #1876
Verified with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Logged follow up issue #3362 since I'm still seeing a white flash before new tab page loads.

[2019-02-14 23:04] fmarier opened #3363 "sqlite constraint error"
I just noticed the following errors in my logs:

[code]

## Brave version (brave://version info)

[code]

No idea whether this kind of bug report is useful to the team, but I figured I should file it just in case. Happy to provide the affected sqlite files if needed.

[2019-02-14 23:14] btlechowski opened #3364 "No icon on Thank you banner for some verified publishers"
Follow up from https://github.com/brave/brave-browser/issues/2718

## Steps to Reproduce

   1. Enable rewards
   2. Claim grant
   3. Open `https://www.youtube.com/channel/UCW1ow8v-bl_zzbbztAACoHw`
4. Tip the publisher

More links:
`https://www.youtube.com/channel/UCwSdcnEGdt3UBCcf40rrn5g`
`https://www.youtube.com/channel/UCc8myGC9uGlFUlmfZTBWhVQ`

## Actual result:

No icon on Thank you banner

[2019-02-14 23:19] btlechowski commented on #2718
Verification passed on

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

For some verified publishers there is no icon at all. Logged: https://github.com/brave/brave-browser/issues/3364

Unverified publishers are shown with the proper letter.
Channel URL: `https://www.yout

[2019-02-14 23:28] fmarier opened #3365 "Tracking protection entries with paths are not blocked by Shields"
## Description

The Disconnect list now contains [entries with paths](https://github.com/disconnectme/disconnect-tracking-protection/blob/25e6195ff6e943845beccfc30b5e69f0da61be07/services.json#L6531-L6535).

I added `yandex.ru/cycounter` to my test page and found that it's not blocked despite being [included in our fork of the Disconnect list](https://github.com/brave/tracking-protection/blob/132a

[2019-02-15 00:01] liamcurry opened #3366 "Pages using WebAssembly eventually crash with enough reloads"
## Description

Pages that use WebAssembly will eventually crash after enough reloads. The error message will look like this:

[code]

or

[code]

Once you see that error the page will crash after every reload. The only way to fix it is to open a new tab. I'm not seeing this happen in Chrome or Firefox.

## Steps to Reproduce

This seems to happen on any page that uses WebAssembly.

   1. Go to a

[2019-02-15 00:07] karenkliu opened #3367 "Show domain / subdomain not the full path for HTTPS detail view"
## Description
Currently the read only view of connections upgraded to HTTPS shows the full path. Truncate the path so that only the domain / subdomain shows, following the same rules that were applied to the scripts detail panel (#2996).

## Designs
![detail view - https](https://user-images.githubusercontent.com/2388823/56773482-27508880-6773-11e9-9fee-9bc59afa6116.png)

[2019-02-15 00:12] karenkliu opened #3368 "Support languages that read from a different direction (e.g. right to left)"
## Description
Currently, the Shields panel only supports reading from left to right. Update it to comfortably support Arabic / Hebrew / other languages that have a different reading direction.

## Designs
TBA

[2019-02-15 00:35] tomlowenthal commented on #3336
I'm sorry, I'm still having trouble following you. Can you list out the step by step process you go through, what you expect, and what happens instead?

[2019-02-15 00:47] tomlowenthal commented on #3352
Anyone is welcome to install this extension, but we're not currently working on ad-blocker-blocking.

[2019-02-15 00:47] #3352 closed

[2019-02-15 00:58] btlechowski commented on #3286
Also reproduced on Ubuntu 17.10

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

![image](https://user-images.githubusercontent.com/34715963/52827430-145f6f00-30c5-11e9-90e3-a8ff072154e2.png)

[2019-02-15 02:04] kjozwiak commented on #3364
@NejcZdovc does #3273 fixes this as well as per https://github.com/brave/brave-browser/issues/3265#issuecomment-461714458?

[2019-02-15 02:17] kjozwiak commented on #1876
Checked this with @LaurenWags while we were on a call together as I'm running Mojave. Still seeing the "white flash" when opening new tabs. Also seeing a "white flash" whenever switching between `brave://newtab` tabs. Example of the issue:

![switchingtabs](https://user-images.githubusercontent.com/2602313/52830045-04339980-309d-11e9-811a-a5b4c87a8757.gif)

Used the following build:

Brave | 0.60.

[2019-02-15 02:55] kjozwiak commented on #3320
@NejcZdovc was this a regression or a new issue that appeared in `0.60.x`?

[2019-02-15 02:55] Brave-Matt commented on #3113
@fuse314 this is great info! Appreciate it!

[2019-02-15 03:37] kjozwiak opened #3369 "Manual test run on OS X for 0.60.x - Beta"
## Per release specialty tests
 - [x] Newtab should use brave-ui.([#633](https://github.com/brave/brave-browser/issues/633))
 - [x] New tab page should match fonts/typography from browser-laptop new tab page.([#1034](https://github.com/brave/brave-browser/issues/1034))
 - [x] Unable to Authenticate (2FA with google prompt) with Gmail.([#1356](https://github.com/brave/brave-browser/issues/1356))
 -

[2019-02-15 03:37] kjozwiak opened #3370 "Manual test run on Windows x64 for 0.60.x - Beta"
## Per release specialty tests
 - [x] New tab page should match fonts/typography from browser-laptop new tab page.([#1034](https://github.com/brave/brave-browser/issues/1034))
 - [x] Chrome://crashes not working under Win 7.([#1188](https://github.com/brave/brave-browser/issues/1188))
 - [x] Unable to Authenticate (2FA with google prompt) with Gmail.([#1356](https://github.com/brave/brave-browser/

[2019-02-15 03:38] kjozwiak opened #3371 "Manual test run on Linux for 0.60.x - Beta"
## Per release specialty tests
 - [x] New tab page should match fonts/typography from browser-laptop new tab page.([#1034](https://github.com/brave/brave-browser/issues/1034))
 - [x] Implement notification/prompt to user to backup their wallet.([#1164](https://github.com/brave/brave-browser/issues/1164))
 - [x] Linux Crash doesn't list in chrome://crashes. Navigating to chrome://crash shows error

[2019-02-15 03:44] kjozwiak commented on #2860
Labelling as `QA/No` after speaking with @bridiver 👍

[2019-02-15 04:29] kjozwiak commented on #1251
Went through the test case outlined in the PR using `Mint 19.1 x64 VM` and everything seems to be working. Once I enabled crash reporting via the `brave://settings`, I made sure that crashes where appearing under `brave://crashes` when crashing via:

* `brave://crash` and ensured that the crash was recorded under `brave://crashes` and was visible in stats.brave
* `chrome://gpucrash` and ensured th

[2019-02-15 04:45] kjozwiak opened #3372 "crash reporting toggle under linux using incorrect text"
## Description

Under `brave://settings` on Linux, the crash reporting switch looks as follows:

```Automatically send usage statistics and crash reports to Brave Software```

However, on Windows and macOS, the setting appears as:

```Automatically send crash reports to Brave```

This might discourage users on Linux to enable crash reporting as they might think that they're also sending other stat

[2019-02-15 05:27] Neustradamus commented on #598
@bsclifton It is not a solution!

[2019-02-15 05:27] NejcZdovc commented on #3320
@kjozwiak this issue was uncovered when we fixed https://github.com/brave/brave-browser/issues/3134

[2019-02-15 05:29] NejcZdovc commented on #3364
@kjozwiak I would say so, just tried it on the latest 0.61 and it's working. Closing as dupe of #3273

[2019-02-15 05:29] #3364 closed

[2019-02-15 05:40] rossmoody commented on #1278
I'd like to help on this one but it feels a little like a moving target. Might be helpful to break the favicons needed out into their own issues.

[2019-02-15 05:57] bbondy opened #3374 "Upgrade from 73.0.3683.27 to 73.0.3683.39"
- Check branding elements

[2019-02-15 05:59] NejcZdovc commented on #3363
@fmarier can you print screen your auto-contribute settings?

[2019-02-15 06:35] Miyayes commented on #3339
Another +1 from community: https://community.brave.com/t/verified-channel-not-showing-as-verified-in-browser/44763/3?u=chriscat

[2019-02-15 06:35] Miyayes commented on #3312
+1 from community. You can see `view_as=subscriber` in the URL: https://community.brave.com/t/verified-channel-not-showing-as-verified-in-browser/44763/4?u=chriscat

[2019-02-15 06:36] NejcZdovc commented on #3312
@Miyayes yup will be working on it today

[2019-02-15 07:21] srirambv commented on #2295
@petemill @rossmoody On Linux with 100% DPI setting the icons look a little pixelated/blurry and the lion icon looks a little soft edged.

at 100% DPI
 ![screenshot from 2019-02-15 12-47-49](https://user-images.githubusercontent.com/17010094/52840738-291d2080-3120-11e9-9bca-550e204ecaac.png)
at 200% DPI
![screenshot from 2019-02-15 12-47-29](https://user-images.githubusercontent.com/17010094/52840

[2019-02-15 07:42] petemill opened #3376 "Default Fonts on WebUI should be Brave brand"
Visit chromium webui pages (settings, history, bookmarks, downloads, extensions) and the typography is all in Roboto. This should be Muli (body) and Poppins (titles).

[2019-02-15 07:44] petemill opened #3377 "Checkboxes should use Brave color palette"
Chromium webui pages all use material color palette for checkboxes. These should use brave color palette.

## Test plan
Check a checkbox on the left of any history item in chrome://history.

[2019-02-15 07:46] petemill opened #3378 "Buttons should use Brave brand style"
Chromium webui pages all use material color palette for checkboxes. These should use brave color palette.

## Test plan
Check a checkbox on the left of any history item in chrome://history and observe the buttons on the top for 'cancel' and 'delete'. They should be rounded with a black border and text.****
### Old
![image](https://user-images.githubusercontent.com/741836/52842041-b6299080-30b2-11e

[2019-02-15 07:53] leobel96 commented on #3352
@tomlowenthal It now supports only uBlock and nano AdBlock, so It can't be installed with brave adblock as extension.

[2019-02-15 09:22] #3287 closed

[2019-02-15 09:25] NejcZdovc commented on #3329
fixed with https://github.com/brave/brave-core/pull/1642

[2019-02-15 09:25] #3329 closed

[2019-02-15 09:45] sedlund commented on #1022
This doesn't seem to work in Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)

[2019-02-15 10:30] srirambv commented on #1251
Verified the steps form test plan on Ubuntu (physical machine) and works great. Was also able to verify the crash report on [stats.brave](https://stats.brave.com/dashboard#crash/5c668a63d4a29a001f5ae4f3)
![image](https://user-images.githubusercontent.com/17010094/52850807-71493c80-313a-11e9-9761-adb9f8a6beef.png)

Agree with @kjozwiak behaviour is different compared to mac/Windows when crash repor

[2019-02-15 10:34] cmavr8 opened #3379 "LastPass extension cannot contact server"
## Description
The Lastpass extension occasionally gives this error:

## Steps to Reproduce

   1. Install lastpass
   2. Log in to lastpass with an enterprise account
   3. Wait a 2-3 minutes

## Actual result:
![image](https://user-images.githubusercontent.com/843878/52850377-9ecebf80-3113-11e9-8024-e8f9cd055321.png)

## Expected result:
No errors, Lastpass should just work

## Reproduces how of

[2019-02-15 10:57] srirambv opened #3380 "NTP images are stretched out but shows full image when dev tools are opened"
## Description

NTP images are stretched out but shows full image when dev tools are opened

## Steps to Reproduce

   1. Open a new tab
   2. Be amazed by the new tab image
   3. Open dev tools, be shocked that you were looking at stretched image and not the full image

## Actual result:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/17010094/52852310-3943f880-313e-11e9-8108

[2019-02-15 11:01] tmancey commented on #2948
@srirambv I can no longer reproduce this issue in https://github.com/brave/brave-core/pull/1645, with the exception of `rewards_service/confirmations.json` file is missing which is expected behaviour

[2019-02-15 11:05] srirambv opened #3381 "Download bar becomes white when browser is not in focus"
## Description

Download bar becomes white when browser is not in focus

## Steps to Reproduce (No guarantee)

Steps that i did when encountered the issue but no guarantee that it will be same

   1. Visit www.onlineconverter.com/gif
   2. Upload a video and convert it to gif, wait till the site completes the conversion and redirects to download page
   3. Switch focus to some other app so that fi

[2019-02-15 11:06] tmancey commented on #2887
@bridiver @kjozwiak With regards to icon size, this is not possible on macOS.

@mandar @kjozwiak Mandar is working on Ads

[2019-02-15 11:06] srirambv commented on #1034
Verification passed on

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

* Verified all points mentioned in https://github.com/brave/brave-core/pull/1091
* Found #3380 while verifying the issue

[2019-02-15 11:20] tmancey commented on #3116
Speaking with @AlexeyBarabash they had a similar issue with Sync (https://github.com/brave/brave-core/pull/1643), therefore I would recommend we remove the network connection check and when an Ad is viewed in the new tab we allow the browser to show its error.

[2019-02-15 11:46] GeetaSarvadnya opened #3382 "Unable to claim grants from both BR panel and Rewards settings page"
## Description
Unable to claim grants from both BR panel and Rewards settings page. After multiple click on `claim` button in BR panel notification, captcha doesn't display. In Rewards settings page `CLAIM` button will not be shown untill we reload the page for 3 to 4 times, this is not stable, sometimes button will be shown immediately. Click on `CLAIM` button in rewards settings page also doesn'

[2019-02-15 11:49] NejcZdovc commented on #3382
@GeetaSarvadnya if this is reproducible on release something is going on with the server

[2019-02-15 11:51] srirambv commented on #3382
I was able to see the CATPCHA come up on BR panel when i clicked 3-4 on claim button but it had the target change 3-4 times as well. After that it didnt show the CAPTCHA again.

[2019-02-15 11:53] srirambv commented on #2504
Verification passed on

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Linux

* Verified all points from https://github.com/brave/brave-core/pull/1091
* Encountered #3380 while verifying the issue

[2019-02-15 12:52] srirambv commented on #3362
Issue reproduced on Linux as well

[2019-02-15 13:16] jsecretan commented on #3116
Yes, this sounds like a good solution, as really a network connection is not required to see ads, only to click through and the browser will already handle reasonably.

[2019-02-15 14:36] #3209 closed

[2019-02-15 14:57] btlechowski commented on #3380
Reproduced on

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

![3380](https://user-images.githubusercontent.com/34715963/52864385-54ad0480-313a-11e9-8553-9091602b3de9.gif)

[2019-02-15 15:13] mrzealot commented on #2516
When looking into potential ways to whitelist the subresource that is "caught" fingerprinting, I noticed that the blocked origin is `https://static.bitmex.com/`, which should be TLD+1 equivalent with the site it was encountered on (`https://www.bitmex.com/app/trade/XBTUSD`). So, while it wouldn't be semantically correct for a 1st-party fingerprinting match either, it should be explicitly disqualif

[2019-02-15 16:28] btlechowski commented on #3362
Reproduced on Windows

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

![3362](https://user-images.githubusercontent.com/34715963/52869907-03574200-3147-11e9-9d0b-1888c61c2f51.gif)

[2019-02-15 16:34] #3374 closed

[2019-02-15 16:35] #3356 closed

[2019-02-15 16:36] rebron commented on #3021
cc: @jumde is this fixed with the proxy pr? If so, can we close this one.

[2019-02-15 16:36] kjozwiak commented on #3382
@srirambv @GeetaSarvadnya can you guys try this on `0.59.35` and see if you can reproduce?

[2019-02-15 16:42] jumde commented on #3021
@rebron - This should be fixed by the changes made in `go-updater`. The changes have not yet been pushed to production yet, will keep it assigned to myself and test it again when the changes land in production.

[2019-02-15 16:43] rebron commented on #3029
Closing. Dupe of https://github.com/brave/brave-browser/issues/3362

[2019-02-15 16:43] #3029 closed

[2019-02-15 16:49] rebron commented on #3032
@Omaha2002 Do you see any errors in the console? Can you post a screenshot? Having some issues reproducing as we need to have an account for this website.

[2019-02-15 16:50] jumde commented on #3321
repros on macos: `0.60.28 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)`

[2019-02-15 16:51] rebron commented on #3036
cc: @mbacchi @mihaiplesa Can you check this out, you guys having login issues?

[2019-02-15 16:55] rebron commented on #3038
@rkavalap Can you try logging in with shields down?

[2019-02-15 16:58] rebron commented on #3050
@jasonrsadler @NejcZdovc is Twitch still crashing for you two?

[2019-02-15 17:02] rebron commented on #3071
@onlyflix Would you be able to copy and send over the info you have in brave://gpu in the broken state so we can diagnose?

[2019-02-15 17:03] sk8darr commented on #413
So.. Closed and when this will be released for final users?

[2019-02-15 17:05] LaurenWags commented on #3347
Reproduced on macOS

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

[2019-02-15 17:09] LaurenWags opened #3384 "one new tab page image links to a site which is not secure"
## Description
Found while testing https://github.com/brave/brave-browser/issues/2504

One of the new tab page images links to a site that is not secure and doesn't use HTTPS

## Steps to Reproduce

   1. Open new tabs until you get the one below.
   2. Hover over artist's name, link does not use HTTPS
   3. Click on link, site is not secure

## Actual result:
![screen shot 2019-02-15 at 12 03 36

[2019-02-15 17:17] mihaiplesa commented on #3036
Happens to me only when previously logged in through https://portal.azure.com then go to https://resources.azure.com. Doesn't happen when not logged in or in Chrome. Tested on `0.61.22`

[2019-02-15 17:20] rebron commented on #3198
@TontyTon can you open brave://components/ and see if this is installed: PDF Viewer (PDF.js) - Version: 2.0.673

[2019-02-15 17:23] rebron commented on #3199
@BhuZha can you try with shields down?

[2019-02-15 17:27] rebron commented on #3222
cc: @mkarolin can you check, this looks like Linux only.

[2019-02-15 17:35] #3281 closed

[2019-02-15 17:44] tomlowenthal commented on #3352
Then you'd have to use it with one of those other tools.

[2019-02-15 17:49] petemill commented on #3380
Can we remove references to dev tools from this issue? I’m assuming the same experience is had when the window is made thinner, right? And if so the report is really that the images aren’t being bundled high enough for the larger window sizes? If that is the real issue here, there is a trade off between installer size and image quality where the line has to be drawn somewhere. (Number of images vs

[2019-02-15 17:49] leobel96 commented on #3352
I mean: why don't you integrate in brave a component similar to nano defender to block adblock blockers, perhaps directly forking nano defender? Sorry if I wasn't clear.

[2019-02-15 17:51] tomlowenthal commented on #3352
We're not currently working on ad-blocker-blocking.

[2019-02-15 17:52] leobel96 commented on #3352
Ok, no problem :)

[2019-02-15 18:04] #3362 closed

[2019-02-15 18:10] GeetaSarvadnya commented on #3381
Not Reproducible on Windows 10 x64 - 0.60.29

[2019-02-15 18:16] bsclifton opened #3386 "Channel migrations for 0.60.x to Release"
- [x] Create a new branch off of `master` of `brave/brave-core` for the new version. `cd src/brave && git checkout master && git pull`
- [x] Create a new branch off of `master` of `brave/brave-browser` for the new version.  `git checkout master && git pull`
- [x] Create a new branch in the `brave/brave-ui` repo, off of the sha referenced in brave-core's package.json for the brave-ui dependency (co

[2019-02-15 18:19] LaurenWags commented on #3052
Tried again with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

This time, after disabling internet and waiting about 1-1.5 minutes, no notification showed on BAT logo that tip could not go thru and again, 1 BAT (tip amount) was deducted from my wallet but no Tip displaye

[2019-02-15 18:38] rossmoody commented on #3380
Gonna close this one after the clarification in slack design channel this morning. This is working as intended and background images are proportionally cropping (not stretching) based on viewport size.

[2019-02-15 18:38] #3380 closed

[2019-02-15 18:49] corymcdonald opened #3387 "Compatibility issue with <website.com>"
Testing issue label link

[2019-02-15 18:49] corymcdonald commented on #3387
didn't work :(

[2019-02-15 18:49] #3387 closed

[2019-02-15 18:58] maikelmclauflin opened #3388 "Compatibility issue with https://jsperf.com/"
## Description

unable to sign in / navigate through a couple of pages like `popular` (nav at bottom)

## Steps to Reproduce

   1. try to login using login button (backed by github)
   2. failure

## Actual result:

## Expected result:
should be able to connect to github

## Reproduces how often:

easily reproduced as long as it is not rate limited

## Brave version (brave://version info)

Versio

[2019-02-15 19:02] tomlowenthal commented on #3384
It sounds like fixing this would mean requiring that any artist whose pictures we use on the new tab page has an HTTPS website?

[2019-02-15 19:04] LaurenWags commented on #3384
Seems like it to me, however if that's not something we want to do then please do close as `wontfix`.

[2019-02-15 19:05] #3386 closed

[2019-02-15 19:23] tildelowengrimm opened #3389 "Webtorrent doesn't use extension-provided VPN"
From: https://community.brave.com/t/brave-torrenting-does-not-use-vpn-extension/45074

Description of the issue:

Brave torrenting ignores the VPN extension and connects directly to other peers.
(Brave torrenting is also not available in TOR mode).

Steps to Reproduce (add as many as necessary): 1. 2. 3.

Use TCPView to view internet connections
Activate VPN extension Private Internet Access
Notic

[2019-02-15 19:44] Hermitter commented on #820
+1 Would really love this feature. Are there any plans for this yet?

[2019-02-15 20:12] LaurenWags commented on #3341
Verified this issue does not reproduce on latest Dev

Brave | 0.61.22 Chromium: 72.0.3626.81 (Official Build) dev(64-bit)
-- | --
Revision | ac8b982e05014492d1bd7d317628a4f22a97ffa0-refs/branch-heads/3626@{#796}

[2019-02-15 20:24] LaurenWags commented on #2551
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified STR from description

[2019-02-15 20:45] LaurenWags commented on #2972
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Launched Brave with `/Applications/Brave\ Browser\ Beta.app/Contents/MacOS/Brave\ Browser\ Beta --enable-logging=stderr --vmodule=brave_ads=3 --log-level=0`. Verified when Rewards were ON and Ads were O

[2019-02-15 20:47] LaurenWags commented on #2922
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1297
![screen shot 2019-02-15 at 3 46 11 pm](https://user-images.githubusercontent.com/28145373/52883453-f6335680-3138-11e9-8b42-abbd3d4e

[2019-02-15 20:49] LaurenWags commented on #2888
Verified passed with

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

* Verified test plan in https://github.com/brave/brave-core/pull/1297
* Additional testing notes outlined here: https://github.com/brave/brave-browser/issues/2972#issuecomment-464192927

[2019-02-15 21:09] sahilbhosale63 commented on #3372
Hi kjozwiak, can I work on this issue?

[2019-02-15 21:25] SohaibJKhan commented on #2763
Refresh after 5 seconds. It skips it. I hope that it counts toward the creator. I don't want to be watching ads for no reason.

[2019-02-15 21:25] SohaibJKhan commented on #2763
Refresh after 5 seconds. It skips it.

I hope that it counts toward the creator. I don't want to be watching ads for no reason.

[2019-02-15 21:39] BhuZha commented on #3199
@rebron

![aescr6mytu](https://user-images.githubusercontent.com/34955679/52885532-70fe7f00-31d6-11e9-987e-1bf08432336c.gif)

[2019-02-15 22:55] LaurenWags opened #3390 "unable to import Brave Payments data from muon"
## Description
Importing Brave Payments data from muon to b-c doesn't work.

## Steps to Reproduce

   1. Have a muon profile on 0.25.x set up with Brave Payments enabled. Have a wallet with balance, and some pinned sites which should convert to recurring tips.
   2. Open 0.60.28 with a fresh profile. (no need to enable rewards)
   3. Import data from muon (you only need to select Payments data)

[2019-02-16 00:29] fmarier commented on #3363
![auto-contribute-settings](https://user-images.githubusercontent.com/167821/52891273-d69f2c80-313e-11e9-89d7-e248a90db3e4.png)

[2019-02-16 01:27] lukemulks opened #3391 "Reports of user being unable to login to Coinbase"
## Description

Community member reports being unable to login to Coinbase.com with 2FA

Original thread: https://www.reddit.com/r/BATProject/comments/ar0spb/unable_to_log_onto_coinbase_with_brave/

## Steps to Reproduce

   1.  Spin up the version above
   2.  Enable 2FA on Coinbase.com account in chrome
   3.  Attempt to login to same acct in Brave

## Actual result:

Spinning loop (from reporte

[2019-02-16 01:30] lukemulks commented on #3391
Note: I also observed this on Twitter:
https://twitter.com/Joe58011983/status/1095761105836797952

I attempted to repro from win10 x64, but was unable to.

I dismissed the report at the time as someone mentioning a block count vs. real inaccessibility, but am now wondering if this user on twitter potentially had 2FA enabled and encountered the same issue.

Will ask the user on twitter for more inf

[2019-02-16 03:31] fmarier commented on #3194
Since I wrote a [script to parse our `.dat` files](https://github.com/fmarier/brave-tools/blob/master/datdump.py) as part of testing https://github.com/brave/tracking-protection/pull/28, I decided to write a [parser for the Mozilla entity list](https://github.com/fmarier/brave-tools/blob/master/entitylist-parse.py) and compare it with the one we [already generate](https://github.com/brave/tracking

[2019-02-16 04:10] anarchitectures opened #3392 "Can't compose new messages on Twitter using Brave dev version 0.61.22"
Recently, typed characters stopped appearing in the compose new message box on Twitter. I turned off all my extensions and the issue persisted. I was only able to solve the problem by logging into my account on Chrome. I didn't find any other users reporting a similar case, so I don't believe it has to do with Twitter itself. As the issue started around the time of my last update, and I can't loca

[2019-02-16 04:44] matt812 commented on #1436
In addition, certain file types which the browser does not know how to open just appear as gibberish in a text box, and there is no UI option to "save as".  The "save" only works with media files that the browser knows should be rendered in the media player.  For example try downloading a torrent with an m4b file in it in brave on macos.  I get this:
![image](https://user-images.githubusercontent.

[2019-02-16 05:07] kjozwiak commented on #3390
@rebron @bbondy @bsclifton as mentioned on Slack, I think we should uplift this into `0.60.x` as it might hurt retention for `muon` - `b-c` users.

[2019-02-16 06:18] NejcZdovc commented on #3363
@fmarier this is a known issue and was fixed in 0.60. Closing as dupe of https://github.com/brave/brave-browser/issues/3320

[2019-02-16 06:18] #3363 closed

[2019-02-16 06:26] NejcZdovc commented on #3341
@kjozwiak should we create custom fix for 0.60 or are we ok with just closing it as it will be fixed in 0.61?

[2019-02-16 13:30] Brave-Matt commented on #3391
+1 from Community as well
https://community.brave.com/t/unable-to-login-to-coinbase/45201/4

[2019-02-16 16:43] jasonrsadler opened #3393 "Calls to BAT-Native-Ledger are blocked when a reconciliation is in progress"
## Test plan
See https://github.com/brave/brave-core/pull/1800

## Description

When a reconciliation is in progress, calls to `bat-native-ledger` are blocked and queued

## Steps to Reproduce

   1. Open Brave, enable Rewards, and fund wallet
   2. Visit a verified publisher and have added to auto-contribute list
   3. Trigger an auto-contribution reconciliation
   4. Visit any site and open rewa

[2019-02-16 16:57] dminca commented on #209
After applying everything as you said, I'm now able to Cast, but before I wasn't able to see the cast window (it was hidden in the top left corner).

![image](https://user-images.githubusercontent.com/5355219/52902641-fd7b6280-3213-11e9-96da-924a6cbb162e.png)

After those were configured, I tried casting and there you go:
![screenshot from 2019-02-16 17-52-26](https://user-images.githubusercontent

[2019-02-16 17:28] onlyflix commented on #3071
Of course, [here it is](https://gist.github.com/onlyflix/09048e7f8d3726ecff834e06ac96083a).

[2019-02-16 18:12] LunarCultist opened #3394 "Menu bar disabled, but it appears anyways and vanished after ~20 seconds"
## Description
I dont like menu bars, so i disabled it in the preferrences. Anyways it appears when starting brave. After about 20 seconds it disappears.

## Steps to Reproduce
   1. Go to preferences and disable the menu bar
   2. Close the brave browser
   3. Open the brave browser and look at the menu bar and wait 20-30 seconds

## Actual result:
After waiting this time the menu bar doesnt appe

[2019-02-16 19:01] rebron commented on #3341
Closing this issue. Fixed in 61.x with: https://github.com/brave/brave-core/pull/1600

[2019-02-16 19:01] #3341 closed

[2019-02-16 19:23] sungerbob commented on #3336
![123123](https://user-images.githubusercontent.com/31207969/52904151-f6b31680-3238-11e9-81c5-d7ba3501fdaa.gif)

1. I login website
2. I click pdf button on right side
3. A new dispatch window shows up, it should open pdf not giving error "Invalid PDF scructure" on it.
4. But If I copy the pdf link to regular tab, browser successfully open pdf file without giving any error.

[2019-02-16 19:31] kjozwiak commented on #3372
Sure! Just submit a pull request and we'll take a look. Thank you! 👍

[2019-02-16 19:35] BrendanEich commented on #3316
Need a followup issue or issues on these. @srirambv could you please file? Thanks.

[2019-02-17 02:14] jasonrsadler commented on #2342
This no longer seems to be an issue. 👍

[2019-02-17 02:14] #2342 closed

[2019-02-17 02:21] #3390 closed

[2019-02-17 04:51] srirambv commented on #3394
You are currently running an outdated browser which is not supported anymore. Please follow the [link ](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#release-channel-installation) to install the current supported version

[2019-02-17 04:51] #3394 closed

[2019-02-17 05:02] srirambv opened #3395 "Provide default search list based on region follow up to #3316"
## Description

@Lululalu suggested the following on #3316

## Expected result:
Based on device region/locale setting, default SE should contain list of regional search engines in the list

cc: @BrendanEich @diracdeltas @jhreis @SergeyZhukovsky
@bbondy @rebron to prioritize the issue

[2019-02-17 05:02] srirambv commented on #3316
#3395 logged for regional SE

[2019-02-17 05:56] MikeDeRebel commented on #209
Yup, just made an account here to confirm that everything works with the 2 settings implied above:

OS: Windows 10 (Surface)
Browser: Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)

[2019-02-17 13:18] bbondy opened #3396 "Corrupted ledger state showing can't connect error"
When a ledger_state is corrupted, we show the wrong error.

# Here's what's shown:
<img width="1094" alt="screen shot 2019-02-17 at 8 14 20 am" src="https://user-images.githubusercontent.com/831718/52913422-145d9b80-328c-11e9-845a-000548bb936a.png">

Clicking on retry does nothing forever.

# What we should do:
We should instead either auto-recover, or show a message that it's corrupted and you ne

[2019-02-17 15:36] jasonrsadler commented on #2725
@AlexeyBarabash This doesn't crash on master for me anymore. Can you confirm?

[2019-02-17 21:49] AlexeyBarabash commented on #2725
@jasonrsadler
I can confirm this. Now it doesn't crash on master.

Brave | 0.62.0 Chromium: 73.0.3683.39 (Developer Build) (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Linux

Thanks for re-checking this.

[2019-02-17 21:49] #2725 closed

[2019-02-18 00:02] ruckc commented on #3038
I don't use brave, but it's happening to me in a native chrome browser, no extensions.

[2019-02-18 02:48] srirambv commented on #3038
I can't reproduce this on the dev build. Works just fine. No infinite reload after logging in with shields up

[2019-02-18 03:00] GeetaSarvadnya commented on #3390
Reproducible on Windows 10 x64

Brave | 0.60.34 Chromium: 72.0.3626.109 (Official Build) beta (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows

[2019-02-18 04:01] weirdal3333 commented on #1752
A shame, this would make the internet usable on older computers.

[2019-02-18 04:05] bbondy commented on #1752
I'd like to support it.

[2019-02-18 04:24] GeetaSarvadnya commented on #2997
1+ https://community.brave.com/t/wallet-creation-failed/45342/4

[2019-02-18 05:07] GeetaSarvadnya commented on #3393
Unable to reproduce the issue on Windows 10 x64 -  `0.59.35` and `0.60.34`,
But onething observed is, if we keep open the BR panel for any site, after reconcilation the wallet balance did not go down immediately in BR Panel in `0.60.34` need to refresh the page once or twice (could be because of #3345).
On `0.59.35` works fine, after reconcilation wallet balance goes down immediately in BR panel f

[2019-02-18 05:49] Miyayes opened #3397 "Brave Shields blocks uploading header graphic cover photo for YouTube channels"
### Description

When updating your YouTube channel's cover/header photo, Brave's Shields will not let you access the upload/picture selection screen. It will continually ask you to "sign in", but nothing will happen.

When Shields are disabled, everything works as expected.

![image](https://user-images.githubusercontent.com/11497541/52930474-e65f8080-338b-11e9-8063-e2b9e6397bf9.png)

**Chrome +

[2019-02-18 06:31] GeetaSarvadnya opened #3398 "Pocket extension doesn't sign in with Default shield settings - Follow up of #1380"
## Description
Pocket extension doesn't sign in with Default shield settings

## Steps to Reproduce

   1. Clean profile 0.60.34
   2. Install Pocket Extension
   3. Click on `Sign Up with Google`
   4. Enter gamil id and password

## Actual result:
Doesn't sign in to pocket untill we change `Cookie Control `option to `Allow all cookies`

## Expected result:

Should be able to login with defalut s

[2019-02-18 06:33] NejcZdovc commented on #3396
probably related to this one https://github.com/brave/brave-browser/issues/2997

[2019-02-18 06:34] simonhong opened #3399 "Rewards extension popup doesn't display translated strings on linux with dist executable"
On local, executing brave in `src/out/Release/dist`, rewards popup doesn't show translated string.

Below is the result with korean locale.
<img width="445" alt="screen shot 2019-02-18 at 15 05 46" src="https://user-images.githubusercontent.com/6786187/52932257-7ef8ff00-3392-11e9-9ef1-48d9bcd59e01.png">

[2019-02-18 06:39] srirambv commented on #2684
Verification passed on

rave | 0.60.34 Chromium: 72.0.3626.109 (Official Build) beta(64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Linux

* Verified test plan from https://github.com/brave/brave-core/pull/1171

[2019-02-18 06:46] phi11235 commented on #1986
wait a sec. we are goin to aal this trouble for  safe browser and it needs us to g down to the lowest level and disable security that apps like facebook come with standard?

Where in that command is the attempt to put a hole in our security. cn you explain thaa command to me. I know it is asking alot but I am intrigued.

[curl -s https://brave-browser-apt-dev.s3.brave.com/brave-core-nightly.asc |

[2019-02-18 06:50] srirambv commented on #3316
Verification passed on

Brave | 0.60.34 Chromium: 72.0.3626.109 (Official Build) beta(64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/52932944-937bce00-3377-11e9-890d-c71db3649cf4.png)

[2019-02-18 07:31] TontyTon commented on #3198
In brave://components/ PDF Viewer was on version 0.0.0, that is it was not installed. Si, updated it and PDF Viewer is now working fine.

BUT why the problem was not solved on reinstalling or updating. Also the component should have auto updated.

BTW Now the problem is solved. Thanks @rebron

[2019-02-18 07:31] #3198 closed

[2019-02-18 07:48] GeetaSarvadnya commented on #3382
@kjozwiak Issue is still reproducible on both 0.59.35 and 0.60.34 - production environmnet.
Since it's server side issue i am removing release blocking label. @kjozwiak Thanks!

[2019-02-18 07:50] phi11235 commented on #1986
I assume the attempt to break our security (accidental) is the following...

curl -s https://brave-browser-apt-release.s3.brave.com/brave-core.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-release.gpg add -
...........................................
source /etc/os-release
or is it...........

echo "deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ $UBUNTU_CODENA

[2019-02-18 08:01] phi11235 commented on #1986
told the authors to put the review pieces on this app on hold. until major issues fixed.

i like honey but the pots aint for our protection. no worries we have enough in our screen, ad infinitum boards. no legit human safety force has any excuse for such flaws. they dont need.

[2019-02-18 08:10] srirambv commented on #3052
Verification passed on

Brave | 0.60.34 Chromium: 72.0.3626.109 (Official Build) beta(64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/52935440-6c28ff00-337f-11e9-864e-a341907efe67.png)

* Verified the error shows up the moment device goes offline at the same time the send tip

[2019-02-18 08:11] Felipefpl opened #3400 "Problem with the installer"
Hi, downloaded latest brave from website, started the download but the download progress bar kept going back and forth what obviously didnt show how long the download was going to last, neither there was any kind of % being shown, WHY cant we have a simple FULL installer like EVERY program out there that can save us from such problem? PLEASE, make those for us, we like them aside that lets us know

[2019-02-18 08:14] srirambv commented on #3400
What OS are you running the setup on? Were you able to install or did it fail?

[2019-02-18 09:14] NejcZdovc commented on #3396
I couldn't reproduce this one on a clean profile. Let's try to debug it

[2019-02-18 09:33] #3003 closed

[2019-02-18 10:08] NejcZdovc opened #3401 "Fix npm security"
npm audit: `found 261 vulnerabilities (62 low, 198 moderate, 1 high)`

[2019-02-18 10:22] mrzealot commented on #3391
Wasn't able to repro either from win10 x64, 2FA worked fine.

[2019-02-18 10:53] srirambv commented on #3322
Verification passed on

Brave | 0.60.34 Chromium: 72.0.3626.109 (Official Build) beta(64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Linux

* Private and Tor window NTP UI fills correctly on all resolution sizes

[2019-02-18 11:07] GeetaSarvadnya opened #3402 "No Captcha display after DnD captcha from BR panel to incorrect target in Rewards settings page"
## Description
No Captcha display after DnD captcha from BR panle to incorrect target in Rewards settings page

## Steps to Reproduce

1. Clean profile 0.60.34, enable rewards through BR panel  (Don't click on `claim` button)
2. Select `Brave Rewards` from hamburger menu
3. Click on `claim` on BR panel
4. You can see Captcha displayed in both BR panel and rewards page
5. Drag and drop Source captc

[2019-02-18 11:29] GeetaSarvadnya opened #3403 "Unable to send a tip due to `Wallet creation failed` message in BR panel"
## Description

Issue is reported by community user.
https://community.brave.com/t/wallet-creation-failed/45342

When user enabled the rewards on older version and upgraded the profile to latest version, they are getting `wallet creation failed` message in the BR panel for all the sites. Due to which they are unable to send a tip to any pubs, even though wallet is created.

## Steps to Reproduce (

[2019-02-18 12:00] srirambv commented on #3358
Verification passed on
![image](https://user-images.githubusercontent.com/17010094/52949650-e8810980-33a2-11e9-8446-7b14262b739b.png)

[2019-02-18 12:52] srirambv opened #3404 "Searching and viewing verified pub video doesn't show favicon in BR panel/a-c list"
## Description

Searching and viewing verified pub video doesn't show favicon in BR panel/a-c list

## Steps to Reproduce

   1. Enable rewards from BR panel
   2. Visit twitch.tv and search for `neoness007` or `ekan1975`
   3. Watch any clips from either of the publisher
   4. Check BR panel/a-c list, publisher favicon is not shown on both locations

## Actual result:

![image](https://user-image

[2019-02-18 12:53] srirambv commented on #3324
Verification passed **only** for YT publishers on

Brave | 0.60.34 Chromium: 72.0.3626.109 (Official Build) beta(64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Linux

* Verified YT publishers favicon is shown on both BR panel and in a-c table
* Verified Twitch publishers favicon not shown on both BR panel and in a-c table (logged #3404)
![ima

[2019-02-18 13:12] #3401 closed

[2019-02-18 13:43] jasonrsadler commented on #3393
@GeetaSarvadnya Are you able to reproduce on nightly (master)? I just reproduced on latest master on Win 10 Pro x64.

[2019-02-18 14:23] GeetaSarvadnya commented on #3393
@jasonrsadler No, I haven't tried it on master, will try later.

[2019-02-18 14:28] GeetaSarvadnya commented on #3404
Reproducible on Windows 10 x64

A-C table - No favicon display for verified twitch pubs
![image](https://user-images.githubusercontent.com/38657976/52957337-736bff00-33b7-11e9-8a4a-ab5c65968eae.png)
BR Panel - No favicon display for verified twitch pubs

![image](https://user-images.githubusercontent.com/38657976/52957397-93032780-33b7-11e9-8262-11f605dbf2d1.png)

[2019-02-18 14:39] coakleypa commented on #3038
Happening me on native Chrome.

[2019-02-18 15:25] srirambv commented on #3401
@NejcZdovc Can you please add appropriate `QA/Yes` or `QA/No` labels for the issue

[2019-02-18 16:48] ng4mf opened #3405 "Rendering Issue for Ligature-Based Scripts"
Ligatures don't seem to render properly for some scripts in the dev build. I have specifically tested with Devanagari, an Indic script, though the problem may also exist for other scripts that heavily use ligatures. I've tested on Lubuntu 18.04.1 LTS.

This was an open issue on the Muon based version, and I've found it is still an issue.
Here is the link to the old issue: https://github.com/brave/

[2019-02-18 17:09] #3312 closed

[2019-02-18 17:43] #3250 closed

[2019-02-18 17:43] #3277 closed

[2019-02-18 18:29] LaurenWags commented on #3404
I searched for xondak and viewed a VOD and got his verified favicon - using:

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

![screen shot 2019-02-18 at 1 28 22 pm](https://user-images.githubusercontent.com/28145373/52970262-371dac00-3381-11e9-8174-24789db2dfeb.png)

[2019-02-18 18:31] NejcZdovc opened #3407 "Refactor activity info"
We can remove year and month form activity info table. Remove them from filters as well.

[2019-02-18 18:35] LaurenWags commented on #3402
Reproduced up to step 7. However, when I tried step 8 I was able to claim from brave://rewards page.

Was using

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

[2019-02-18 18:38] #3064 closed

[2019-02-18 18:54] LaurenWags commented on #3393
@jasonrsadler reproduced on macOS

Brave | 0.60.28 Chromium: 72.0.3626.96 (Official Build) beta(64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Mac OS X

[2019-02-18 19:32] mickdekkers commented on #3337
@eljuno ah, my bad. Great! You're right, I think I was confused because when I type "wikipedia" in the omnibar after visiting [en.wikipedia.org](https://en.wikipedia.org), it doesn't actually list "en.wikipedia.org" in the results and so tab-to-search is not available. (The results only contain a Google search for "wikipedia" and various wikipedia pages I've visited.) It does actually work when I

[2019-02-18 20:19] jasonrsadler commented on #3393
Repro'd on 59.35 macOS. Added additional info above first STR. Oddly, on release, the only thing that works from native-ledger is getting the recovery words but not sure if that was pre-cached. @LaurenWags can you repro on 59.35?

[2019-02-18 21:11] LaurenWags opened #3408 "Ad notifications sometimes presented to user when Ads toggle is off - follow up to 2972"
## Description
Follow up to #2972

Found an additional scenario when Ads are presented to the user when Ads toggle is off in the UI.

If you toggle Rewards off, close and relaunch Brave, then toggle Rewards on, UI will show Ads as off, but in fact, Ads Service is running (you are able to see Ads Service messages in terminal if you've launched with the correct flags) and you will be presented with

[2019-02-18 21:13] LaurenWags commented on #2972
Logged #3408 as follow up issue

[2019-02-18 21:53] btlechowski commented on #3408
Reproduced on Windows 7

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

[2019-02-18 21:59] btlechowski commented on #2970
Verification passed on

Brave | 0.60.29 Chromium: 72.0.3626.96 (Official Build) beta (64-bit)
-- | --
Revision | 84098ee7ef8622a9defc2ef043cd8930b617b10e-refs/branch-heads/3626@{#836}
OS | Windows 7

I have been clicking on ads notifications through the weekend. No crashes.

[2019-02-18 23:39] btlechowski commented on #3273
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Used test plan from: https://github.com/brave/brave-core/pull/1622
No crash

[2019-02-19 00:20] btlechowski opened #3409 "Rewards Panel always shows 0% attention on twitch"
Follow up from https://github.com/brave/brave-browser/issues/3329

## Steps to Reproduce

1. Clean profile.
2. Launch Brave and enable rewards.
3. Visit some twitch stream so you have some attention % values in auto contribute table.
4. Show Rewards Panel

Note twitch sites tested:
https://www.twitch.tv/neoness007
https://www.twitch.tv/redpwnie
https://www.twitch.tv/videos/344762635

## Actual res

[2019-02-19 00:22] btlechowski commented on #3409
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Verified STR from the description.
![image](https://user-images.githubusercontent.com/34715963/52982163-cf00b180-33e4-11e9-8288-99359689fa26.png)
![image](https://user-images.githubusercontent.com/3471596

[2019-02-19 00:23] btlechowski commented on #3329
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Verified STR from the description.
![image](https://user-images.githubusercontent.com/34715963/52982163-cf00b180-33e4-11e9-8288-99359689fa26.png)
![image](https://user-images.githubusercontent.com/3471596

[2019-02-19 00:48] btlechowski commented on #3320
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Used STR from description.

[2019-02-19 00:48] simonhong opened #3410 "Cleanup showing sync & reward menu in app menu model"
Sync & Rewards are only valid in normal window.
They are valid In private window because they are redirected to  normal window.
However, they doesn't work properly in tor(guest) window.
So, sync and rewards menu item should be visible only in normal & private window.
Also, corresponding commands should be disabled in tor(guest) window.

STR:
Case 1)
1. Open private window and click app menu button

[2019-02-19 01:01] simonhong opened #3411 "Wrong location icon and page info bubble of brave page"
<img width="495" alt="screen shot 2019-02-19 at 9 58 17 am" src="https://user-images.githubusercontent.com/6786187/52983138-fd09e400-342c-11e9-84c7-3c09eb57adf5.png">

This should be like below.
<img width="309" alt="screen shot 2019-02-19 at 9 59 49 am" src="https://user-images.githubusercontent.com/6786187/52983160-2165c080-342d-11e9-8143-1d23f65948c9.png">

This is regression of https://github.

[2019-02-19 01:10] jonathansampson commented on #815
Note that Lighthouse presently doesn't appear to work in Brave. It appears to hang while _warming up_:

![image](https://user-images.githubusercontent.com/815158/52983320-38b29880-33b0-11e9-8d58-28da4093ecfd.png)

This step takes, at most, a couple seconds in Chrome.

![audit-with-lighthouse](https://user-images.githubusercontent.com/815158/52983444-c7271a00-33b0-11e9-8a6c-583173cdf19f.gif)

[2019-02-19 01:31] btlechowski commented on #3390
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Used STR from the description.
Wallet and pinned tabs were imported successfully.

[2019-02-19 01:33] jasonrsadler commented on #3335
@Miyayes @NejcZdovc

This publisher has turned off embedding for all of their videos. We cannot get the publisher information when they have this turned off.

Go to:
`https://www.youtube.com/oembed?format=json&url=https://www.youtube.com/watch?v=9y2EvgxxMXc` and you will see Unauthorized. Other videos that have embedding enabled you can plug in to see the json results using `https://www.youtube.co

[2019-02-19 01:43] jasonrsadler commented on #3335
@NejcZdovc How should we handle the panel for publisher videos that have embedding disabled?

[2019-02-19 02:29] srirambv commented on #3405
If the issue is being reproduced on Chrome as well then this is more likely an upstream issue that needs to be fixed at Chromium level.

cc: @bbondy to reopen if this is something we can fix

[2019-02-19 02:29] #3405 closed

[2019-02-19 02:47] srirambv commented on #3404
I can still reproduce with `neoness007` and `ekan1975` but not for `xondak` on `0.60.40` RC build

[2019-02-19 04:05] jonathansampson commented on #275
+1 from Twitter https://twitter.com/san_jaguar/status/1097696122355806209

[2019-02-19 05:34] bsclifton commented on #3117
@tmancey can you add a test plan in here? (or in the PR- and then link to it from the top post)

[2019-02-19 06:11] NejcZdovc commented on #3335
@jasonrsadler if we get 401 let's get info from the page

[2019-02-19 07:45] NejcZdovc opened #7773 "[Android] Spacing should be bigger"
![screenshot_20190219-082940](https://user-images.githubusercontent.com/9574457/52998048-88ca4300-3422-11e9-8549-de1dde0cbe79.png)

Spacing between Grants button and date should be bigger.

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52998084-a0a1c700-3422-11e9-9401-197ac98c7b32.png)

[2019-02-19 08:15] NejcZdovc opened #7778 "[Android] Wallet height is too big"
Height of that purple area should be reduced.

![screenshot_20190219-091202](https://user-images.githubusercontent.com/9574457/52999726-d0eb6480-3426-11e9-9677-43cc59c44ae5.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52999733-d779dc00-3426-11e9-9a46-3c5b07c00b30.png)

[2019-02-19 08:38] NejcZdovc opened #7771 "[Android] Page favicon is missing"
We should display bat logo for rewards page

![screenshot_20190219-093806](https://user-images.githubusercontent.com/9574457/53001078-1fe6c900-342a-11e9-9d71-3e584040816c.png)

Desktop
![image](https://user-images.githubusercontent.com/9574457/53001085-26754080-342a-11e9-8494-4f5d4548af30.png)

[2019-02-19 09:18] GeetaSarvadnya opened #3412 "Prices cuts off the screen in Tradingview.com graphs"
## Description

Prices cuts off the screen in Tradingview.com graphs

## Steps to Reproduce

   1. Navigate to https://www.bitmex.com/app/trade/XBTUSD
   2. Click on full screen icon in the graph
   3. Verify that Price column cuts off the screen ( column is shrinked and values are not visible clearly)
   4. Navigate https://cryptowatch.net/
   5. Verify that Price column cuts off the screen ( col

[2019-02-19 10:13] mrzealot commented on #1580
Just ran into this during webcompat checks, its problem is how we handle the request to sb.scorecardresearch.com/beacon.js. If we allow, it's fine. If I block it from devtools so that it's "properly" blocked, it's fine again. But the 307 to the empty data URL causes it to go into an infinite loop somehow (didn't dig that far down yet). Not sure if the 200 with empty response would be any better as

[2019-02-19 10:21] #3410 closed

[2019-02-19 10:29] NejcZdovc opened #3413 "Fix linter for bat-native-ledger"
This one will be done in multiple phases:

Phase 1 (**DONE**)
- fix max length
- fix spacing
- fix TODO
- fix copy
- fix includes
https://github.com/brave/brave-core/pull/1725

Phase 2 (**DONE**)
- fix non-const reference
- namespace using-directives
- reinterpret_cast
- static/global string constant
- switch if statements
- std:bind alignment
https://github.com/brave/brave-core/pull/1830

Phase 3

[2019-02-19 11:10] #3177 closed

[2019-02-19 14:04] Liunkae commented on #3396
Related:#2649, #3046, #3403

[2019-02-19 14:05] Liunkae commented on #3403
Related: #2649, #3046, #3396

[2019-02-19 15:14] pilgrim-brave opened #3414 "AutoplayPermissionContextTests.TestNonAutoRefresh test is crashing"
`npm run test -- brave_unit_tests --filter="AutoplayPermission*"` on master

produces

[code]

[2019-02-19 15:33] LaurenWags commented on #3393
@jasonrsadler reproduced the panel showing summary info and unable to add sites to table during contribution with 0.59.35. Did not reproduce the backup words or settings issues.

Brave | 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)
-- | --
Revision | ac8b982e05014492d1bd7d317628a4f22a97ffa0-refs/branch-heads/3626@{#796}
OS | Mac OS X

[2019-02-19 16:11] bsclifton opened #3415 "Build is failing `npm run test-security`"
## Description
When running `npm run test-security`, the following errors are shown:
[code]

[2019-02-19 16:14] bsclifton commented on #3415
- Updated sync `staging` with https://github.com/brave/sync/pull/282
- Updated sync `master` with https://github.com/brave/sync/pull/283
- Updated crypto with https://github.com/brave/crypto/pull/19
- Updated master with https://github.com/brave/brave-core/pull/1729
- Updated 0.62.x with https://github.com/brave/brave-core/pull/1730
- Updated 0.61.x with https://github.com/brave/brave-core/pull/17

[2019-02-19 16:15] #3415 closed

[2019-02-19 16:30] bsclifton commented on #598
@Neustradamus I understand, it's not a solution- but I just wanted to provide a work-around since this issue isn't prioritized yet

Solving this may not be trivial since we'll need to update the installers to present a UI allowing for folder selection

What would folks think about a new installer command line argument? like `--install-path="C:\my-brave-install"`

[2019-02-19 17:08] LaurenWags commented on #3341
@brave/legacy_qa when verifying this issue we will need to see what happens if you encounter this issue on 0.60.x and then update to a build (in 0.61.x) with the fix.

[2019-02-19 17:16] LaurenWags commented on #3404
Maybe related to https://github.com/brave/brave-browser/issues/3044 ?

[2019-02-19 17:24] jasonrsadler opened #3416 "Rewards panel is stuck in pre-opt state if wallet creation fails/crashes browser"
## Description

While testing other fixes. Introduced a situation where if the browser crashes when creating a wallet from panel, the panel will forever be stuck in pre-opt state.

## Steps to Reproduce

Dev will need to introduce crash (induce DCHECK failure in `RewardsServiceImpl::OnPanelPublisherInfo` and try to push panel create wallet before crash occurs)

## Actual result:

<img width="1169"

[2019-02-19 17:39] Nevax07 commented on #1900
Same issue on fedora, unable to update brave since days.
Switching to Firefox until fixed because it's a security issue.

[2019-02-19 17:50] btlechowski opened #3417 "twitch.tv instead of publisher name is shown on Brave Panel"
Follow up from https://github.com/brave/brave-browser/issues/3043

## Steps to Reproduce

1. Clean install
2. Open a twitch stream
3. Reload
4. Immediately open Rewards Panel

## Actual result:

twitch.tv is shown on Brave Panel
![twitch_panel](https://user-images.githubusercontent.com/34715963/53036012-159eec00-3477-11e9-80ec-5631b3d5e058.gif)

Note: After closing the Panel and opening it again.

[2019-02-19 17:51] btlechowski commented on #3043
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Used STR from the description.
youtube works great. The publisher name is always updated, even when autoplay opens a video from other publisher.
For twitch, logged: https://github.com/brave/brave-browser/

[2019-02-19 18:04] jonathansampson opened #3418 "Crucial Scripts Blocked on KBB"
## Description
Certain parts of kbb.com do not work as Brave is blocking crucial scripts.

## Steps to Reproduce
1. Navigate to https://www.kbb.com/honda/civic/2016/styles/?intent=trade-in-sell
2. Select _Sedan_

## Actual result:
No further information is revealed.

## Expected result:
The user should be prompted to select the Sedan _style_.

## Reproduces how often:
Easily.

## Brave version (br

[2019-02-19 18:20] jumde opened #3419 "Mitigate HSTS fingerprinting"
From: https://github.com/brave/browser-laptop/issues/12223

## Description
it has been reported in various places that Criteo is using HSTS supercookies (where they buy a bunch of domains and set HSTS on a different subset of domains for each user in order to uniquely identify them) for ad tracking. https://www.gothamcityresearch.com/single-post/2017/10/12/Criteo-SA-NASDAQ-CRTO-Why-We-Believe-Crit

[2019-02-19 18:32] kjozwiak commented on #1192
We're going to need this implemented before the android launch IMO. Reasoning:

Because you won't be able to remove/view any files that are stored on the sandbox storage without rooting, there's really no way of resetting/getting rewards into a working state if a user ends up in a broken state. Their only choice will be to remove the entire app and re-install which isn't the best approach in terms

[2019-02-19 18:39] rebron commented on #3240
@jumde reminder to set milestone once prs are merged.

[2019-02-19 18:59] jumde commented on #3240
@rebron - I had the milestone set in the original issue (https://github.com/brave/brave-browser/issues/3258), will make sure to update the milestones for dupes as well. Thanks!

[2019-02-19 19:08] tomlowenthal commented on #3336
@brave/legacy_qa Can you try to reproduce? Do we have a test resource for PDFs behind logins? I think @fmarier was working on a related issue, but I don't recall the details.

[2019-02-19 19:14] mandar-brave commented on #3141
0.60 Beta
Continue work-stream for Ads Beta in 0.60. For Beta 0.60 expectation is to server Ads but no expectation for Rewards or Confirmations

0.60 Release specific
Continue Ads "Coming soon" from 0.59, as is.

0.61 Release specific
Continue Ads "Coming soon" from 0.60, as is

0.61 all channels
Expectation is to have Confirmations and Rewards to be fully functional

[2019-02-19 19:18] diracdeltas opened #3420 "feature request: alternative to user namespace sandbox on Linux"
(follow up to #1986 since that issue got closed by my PR to change the Linux sandboxing error message)

Problem:
1. On Linux, Brave generally does not run unless either the `--no-sandbox` flag is passed or user namespaces are enabled.
2. Previously, the default error message told users to try running with `--no-sandbox`. In https://github.com/brave/brave-core/pull/1204, I changed it to tell users

[2019-02-19 19:20] diracdeltas commented on #1986
@jacobcantele i closed this because the original issue was someone asking how to run Brave on Debian which is now solved; let's move discussion of potential userns sandbox alternatives to https://github.com/brave/brave-browser/issues/3420

[2019-02-19 19:26] LaurenWags opened #3421 "Ads Panel in 0.60.x should have 'Coming Soon' text"
## Description
As per https://github.com/brave/brave-browser/issues/3141 Ads panel on 0.60.x Release Channel should reflect 'Coming Soon' as it did with 0.59.x on Release Channel

## Steps to Reproduce

Scenario 1
   1. Clean profile on 0.60.44 Release Channel build
   2. Enable Rewards
   3. View Ads Panel

Scenario 2
   1. Clean profile on 0.59.35 Release Channel version
   2. Enable Rewards

[2019-02-19 19:28] Jacalz commented on #3420
The issue is somewhat solved for the snap application since snap apps use sandboxing as long as they are set up properly. But as you say this is a security flaw for non snap apps.

This should still be concidered pretty important though due to the fact that a lot of people doesn’t use snap. It has flaws like being slow, bad font and theme integration and a couple other issues...

[2019-02-19 19:30] diracdeltas commented on #3420
@posix4e how does sandboxing on snap work?

[2019-02-19 19:35] rebron commented on #3389
cc: @yrliou can you take a look at when you get a chance?

[2019-02-19 19:39] posix4e commented on #3420
"The issue is somewhat solved for the snap application since snap apps use sandboxing as long as they are set up properly. But as you say this is a security flaw for non snap apps." -> Snap also uses userns for security.

Dropping UserNS support is a fantasy:
Along with docker, the linux kernel, chromium, firejail, seccomp bpf and apparmor all use it. I fear that having a setuid root binary on bra

[2019-02-19 19:54] karenkliu commented on #1894
Hi @cezaraugusto, thanks for your update! After hearing your feedback, I think the best workaround is to have the focus indicator on *part* of the row and not overlapping the toggle or dropdown (I've updated the spec in the OP as well):

![shields focus states](https://user-images.githubusercontent.com/2388823/53043292-000cd080-343d-11e9-8739-6a4c64439cde.png)

Everything else for the focus looks

[2019-02-19 20:03] kjozwiak commented on #3421
@LaurenWags ads are still disabled and there's no way of enabling them correct? It's just not using the correct "Coming soon" asset in `brave://rewards`?

[2019-02-19 20:06] LaurenWags commented on #3421
correct @kjozwiak . I launched 0.60.44 with `1. --enable-logging=stderr --vmodule=brave_ads=3 --brave-ads-debug`, enabled Rewards (not able to enable Ads), and verified no `AdsService` messages in terminal. If there's another way I can/should be checking that Ads isn't running in the background that would be good info to have as well.

[2019-02-19 20:16] kjozwiak commented on #3421
@mrose17 @jsecretan is there any other way to make sure that the ad service isn't running other than what @LaurenWags mentioned above?

@mandar-brave @rebron I don't think this is a blocker. As @LaurenWags mentioned above, seems like ads are disabled but the messaging is off under `brave://rewards` where it doesn't show the "Coming Soon" message. Thoughts?

[2019-02-19 20:17] mrose17 commented on #3421
that is the only way that i know of.

[2019-02-19 20:22] #2739 closed

[2019-02-19 20:56] fmarier commented on #488
I just tried it on https://vancouver.craigslist.org/van/tag/6822686173.html and it works fine.

I did notice that they now use ReCAPTCHA though. It's possible I've much more trackable (by Google) than others reporting this issue since I'm logged into GSuite.

[2019-02-19 21:14] kjozwiak commented on #1251
@mkarolin it doesn't seem like the reports are being uploaded into stats.brave.com. They're appearing under `brave://crashes`, however it doesn't find anything under `stats.brave` when searching using the generated `crash id`. Example:

* launch `0.60.44 Chromium: 72.0.3626.109`
* enable crash reporting via `brave://settings` and restart the browser
* once restarted, crash using `brave://crash` or

[2019-02-19 21:34] mkarolin commented on #1251
@kjozwiak, @srirambv: regarding the difference in behavior between Win/Mac and Linux, that is likely because Win/Mac use Crashpad for crash handling and reporting, whereas Linux uses Breakpad. There's some code that indicates that there's an effort to transition Linux to Crashpad as well, but it hasn't happened yet (https://chromium.googlesource.com/crashpad/crashpad/+/HEAD/doc/status.md).

[2019-02-19 21:42] kjozwiak commented on #1251
@mkarolin awesome, sounds good 👍

Regarding the above issue with crashes not being uploaded. @btlechowski confirmed that he's not seeing any crashes uploaded on Win 7. I tried Windows 10 x64 and getting the same results, not seeing any of the crashes appear in stats.brave. @LaurenWags mentioned that it's working for macOS. So we either regressed reporting in the past ~week or so or there's an issu

[2019-02-19 21:53] fmarier commented on #1986
This first command:

    curl -s https://brave-browser-apt-dev.s3.brave.com/brave-core-nightly.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-dev.gpg add -

does two things:

1. It downloads a copy of the Brave public key (`curl -s ...`) which is used to sign the packages that we distribute.
2. It adds this signing key to a new keyring (`/etc/apt/trusted.gpg.d/brave-browser-dev.

[2019-02-19 22:34] LaurenWags commented on #3404
I can reproduce for neoness007 fairly consistently but not ekan1975:
![screen shot 2019-02-19 at 5 32 39 pm](https://user-images.githubusercontent.com/28145373/53052362-85f44000-346c-11e9-8fde-989a93b1b1d0.png)

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

[2019-02-19 23:06] fmarier opened #3422 "Referrer spoofing could disable login CSRF protections on some sites"
Some sites (e.g. anything using the default [Django](https://security.stackexchange.com/questions/96114/why-is-referer-checking-needed-for-django-to-prevent-csrf) authentication system) use the `Referer` header in order to prevent [CSRF attacks on their login pages](https://security.stackexchange.com/questions/59411/how-to-protect-against-login-csrfre).

By setting the `Referer` to be the destinat

[2019-02-19 23:28] thesohelshaikh commented on #598
An  option to choose install location is  a must have. I don’t see why this isn’t a priority. As i suggested you don’t need to build a UI. You could just provide a complete build of the software so user can place it wherever @bsclifton

[2019-02-19 23:40] LaurenWags opened #3423 "sometimes wrong twitch publisher info is shown including verified logo/text"
## Description
Sometimes Brave Rewards Panel will show incorrect twitch publisher info, this is particularly bad because the panel will sometimes show the wrong publisher as verified, which is misleading.

## Steps to Reproduce

1. Clean profile
2. Launch Brave, enable Rewards
3. Open a tab and navigate to twitch.tv/directory
4. Click on a subject like Fortnite
5. Click on a name (not stream) of o

[2019-02-19 23:56] bsclifton commented on #598
@thesohelshaikh does Chrome have this? You mentioned it's your "goto browser"... but we're using the same installers (just modified). Regarding the UI, how else would the user specify it? Basically, the extra complexity of having an OS specific folder picker is what I mean

cc: @rebron

[2019-02-20 00:07] fmarier commented on #3336
The issue I looked at was #1958, which was related to basic auth (#1788), but in this case, it looks more like #1287.

[2019-02-20 00:22] jumde opened #3424 "Disabling global HTTPS Everywhere setting does not disable HTTPSEverywhere"
## Description
Global HTTPS Everywhere switch should disable HTTPS upgrades even if the per-site switch is enabled.

## Steps to Reproduce
   1.  Navigate to brave://setttings and disable HTTPS Everywhere
   2.  Open twitter.com and check the stats on `brave://newtab`
   3. The count increases

## Actual result:
Global switch does not disable HTTPSEverywhere

## Expected result:
HTTPSEverywhere sh

[2019-02-20 00:29] karenkliu commented on #1894
Hi @cezaraugusto, your latest build for these focus states looks good to go from the design side. :+1:

[2019-02-20 00:39] simonhong commented on #3399
`i18n: xxxx` is displayed because `chrome.i18n.getMessage()` returns null.
[code]

[2019-02-20 00:41] simonhong commented on #3399
Duplicated issue with https://github.com/brave/brave-browser/issues/1555.

[2019-02-20 00:44] simonhong commented on #1555
Rewards popup also has same issue.
The difference between shields and rewards popup is rewards popup displays `i18n: xxx` when translated message isn't available. shields does nothing.
<img width="445" alt="screen shot 2019-02-18 at 15 05 46" src="https://user-images.githubusercontent.com/6786187/52932257-7ef8ff00-3392-11e9-9ef1-48d9bcd59e01.png">

`i18n: xxxx` is displayed in rewards because `chr

[2019-02-20 01:05] simonhong commented on #1555
Related docs: https://developer.chrome.com/extensions/i18n

[2019-02-20 01:12] btlechowski commented on #1695
Verification passed on

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (32-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Each time used fresh Windows 7 32 bit VM.
Tested all the installers.

[2019-02-20 01:58] simonhong commented on #1555
Found the reason. Zip file didn't include extension's locale files.
They are in `out/Release/resources/`.

[2019-02-20 02:15] btlechowski opened #3425 "Shields Panel and Rewards Panel are not translated to Norwegian"
Follow up from: https://github.com/brave/brave-browser/issues/3064

## Steps to Reproduce

   1. Change Brave language to `Norwegian`
   2. Open Brave Shields

## Actual result:

Shields panel is not translated
![image](https://user-images.githubusercontent.com/34715963/53061097-0478ce00-34bd-11e9-935b-d798ea076caa.png)
Rewards Panel is not translated:
![image](https://user-images.githubuserconten

[2019-02-20 02:15] btlechowski commented on #3064
Verification passed on

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Verified languages:
Arabic, Bulgarian, Chinese(Traditional), Croatian, Czech, Danish, Dutch, Finish, French, German, Greek, Hebrew, Hungarian, Italian, Japanese, Korean, Lithuanian, Polish, Portuguese, Ru

[2019-02-20 02:39] btlechowski opened #3426 "`Add funds` and `Rewards settings` are not translated in Rewards Panel"
## Steps to Reproduce

   1. Change the language to `Polish`
   2. Enable rewards
   3. Open a site
4. Open Rewards Panel

## Actual result:

`Add funds` and `Rewards settings` are not translated
![image](https://user-images.githubusercontent.com/34715963/53062221-60912180-34c0-11e9-8206-8154bc09361a.png)

Also reproduced on: Arabic, Bulgarian, Chinese(Traditional), Croatian, Czech, Danish, Dutch,

[2019-02-20 02:52] srirambv commented on #1251
@kjozwiak the crash report id that i mentioned in https://github.com/brave/brave-browser/issues/1251#issuecomment-463989053 is still visible on stats.brave. However on the latest rc build when i force crash and generate the id(6fea8799f09804d3) that is not being uploaded to stats. So its either going into backlog and still not updated on stats or its broken after channel migration happened because

[2019-02-20 02:52] btlechowski commented on #3423
Nice find @LaurenWags !

Reproduced on Windows 7

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

![image](https://user-images.githubusercontent.com/34715963/53062912-ae0e8e00-34c2-11e9-9342-a006e1b3c84f.png)

[2019-02-20 03:02] kjozwiak commented on #1251
@srirambv yup, just waiting for a confirmation from @aekeus. Once we know that the servers are not having issues nor are backed up, we'll need go through a regression range and find out where reporting broke.

[2019-02-20 03:08] btlechowski commented on #1356
Verification passed on

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Used test plan from https://github.com/brave/brave-browser/issues/1356#issuecomment-462985058

[2019-02-20 06:13] #3286 closed

[2019-02-20 06:24] mandar-brave commented on #3423
Moving priority to P1 considering it will cause a lot of negative community feedback

[2019-02-20 07:08] NejcZdovc commented on #3050
yup

[code]

[2019-02-20 08:46] S0ulan commented on #1475
Any news on getting rid of the icon?

[2019-02-20 09:18] tmancey opened #3427 "Brave Ads crashes on Linux when getting an Ad"
## Description

## Steps to Reproduce

   1. Enable Ads
   2. Navigate to https://imdb.com
   3. Wait for 30 seconds (without moving mouse)

## Actual result:
Ad notification is not shown due to crash

## Expected result:
Ad notification should be shown

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
brave-browser and brave-core branches: `fix-linking-error-reb

[2019-02-20 09:21] tmancey commented on #3427
False positive

[2019-02-20 09:21] #3427 closed

[2019-02-20 11:38] tmancey commented on #2510
Won't fix as no longer an issue now that ads is fully integrated

[2019-02-20 11:38] #2510 closed

[2019-02-20 13:24] tmancey commented on #2511
@bridiver This was already resolved in the brave core implementation. Ok with you if we close as tests are covered by spec?

[2019-02-20 13:55] LaurenWags commented on #3409
Reproduced on macOS

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

![screen shot 2019-02-20 at 8 54 55 am](https://user-images.githubusercontent.com/28145373/53096461-399d1480-34ed-11e9-8e06-0b8c019c3ea7.png)
![screen shot 2019-02-20 at 8 54 46 am](https://user-images.github

[2019-02-20 14:05] LaurenWags commented on #3417
Reproduced on macOS

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

[2019-02-20 15:33] thepcwiz101 commented on #3160
![image](https://user-images.githubusercontent.com/31826503/53103046-78819900-34f2-11e9-9a87-03192e6d8dda.png)
No videos or anything that requires alot of gpu usage and the cpu usage by the gpu process is above 30%

[2019-02-20 16:07] Brave-Matt commented on #815
+1 from Community: https://community.brave.com/t/googles-pagespeed-insights-tester-throws-error-when-run-in-brave-browser/44904/2

[2019-02-20 17:15] bbondy commented on #3425
`components/brave_rewards/resources/extension/BUILD.gn:      locale = string_replace(locale, "nb", "no")`

Possibly related ^

[2019-02-20 17:53] Brave-Matt commented on #3113
+1's from Community - Both these users are reporting that they have DisplayFusion installed on Windows 10 machines. may or may not be relevant.
https://community.brave.com/t/new-install-keeps-switching-monitors/44694/3

[2019-02-20 17:59] srirambv commented on #3258
Verification passed on

Brave | 0.60.40 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Linux

* Verified test plan from brave/brave-core#1602

[2019-02-20 19:17] tomlowenthal opened #3428 "Sync hangs when adding a device"
<img width="725" alt="screen shot 2019-02-20 at 11 12 24 am" src="https://user-images.githubusercontent.com/639937/53117780-83dbc100-3500-11e9-905b-1bfb9ce13cb8.png">

Tried to set up sync between my MacBook Pro running Version 0.62.4 Chromium: 73.0.3683.39 (Official Build) dev (64-bit) and a fresh Pixel 3 XL running Android 9 Build/PD1A.180720.030 with Brave 1.0.77, Chromium 71.0.3578.99.

After

[2019-02-20 19:22] LaurenWags commented on #3425
Reproduced on macOS

Brave | 0.60.44 Chromium: 72.0.3626.109 (Offisiell delversjon) (64-bit)
-- | --
Versjon | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

[2019-02-20 19:31] tomlowenthal commented on #1475
This change to hide the icon was in https://github.com/brave/brave-core/commit/76d0644a871bd746ed33a087bc3dbb6369c5759c, which is currently in beta. If you're using beta or dev builds of Brave, you should see a setting to hide the Rewards icon.

<img width="760" alt="screen shot 2019-02-20 at 11 31 05 am" src="https://user-images.githubusercontent.com/639937/53118896-082f4380-3503-11e9-8058-a138ae

[2019-02-20 19:31] #1475 closed

[2019-02-20 19:34] #3058 closed

[2019-02-20 19:34] #3349 closed

[2019-02-20 19:39] tomlowenthal commented on #3424
Do the other global Shields settings work as intended?

[2019-02-20 19:40] gerardo-junior opened #3429 "feature request: password system with keepass"
KeePass Password Safe is a free and open-source password manager based on a safe encrypted file, which would be very useful because today there is manager software for all platforms.

https://keepassxc.org/
https://www.keepassdx.com/
https://subdavis.com/Tusk/

once with this file opened from some directory it could be synced to all devices by user with drive, dropbox or ipfs

[2019-02-20 20:07] karenkliu commented on #1892
Hi @cezaraugusto, I took a look at your latest updates at https://brave-ui-959w0ii2u.now.sh. The scroll seems to work correctly, but there's a minor visual design issue where the scroll area seems to leave a gap at the top + bottom. Please fix these issues:

![enable scroll design qa](https://user-images.githubusercontent.com/2388823/53120996-ff8d3c00-3507-11e9-9165-8b787acb3f8a.png)

[2019-02-20 20:07] aekeus commented on #3301
Yes, we can add `brave.com` to the custom-headers to help in testing.

[2019-02-20 20:28] Mikaela commented on #3420
I think this is the documentation for snap sandboxing: https://docs.snapcraft.io/snap-confinement/6233

However the [`brave` snap](https://snapcraft.io/brave) recommends people not use it and instead get the official package.

Flatpak (https://github.com/brave/brave-browser/issues/1000) would also have sandboxing [documentation](http://docs.flatpak.org/en/latest/sandbox-permissions.html) & [refere

[2019-02-20 20:31] lukemulks opened #3430 "Community report of Cheddar video crashing in Brave Dev Channel"
## Description

Community member reports video on Cheddar.com are crashing in Brave Dev Channel

Link to original report: https://community.brave.com/t/cheddar-partnership-site-video-crashes/45551

## Steps to Reproduce

   1.  Go to cheddar.com
   2.  play video
   3.

## Actual result:

http://recordit.co/M0ump2dMUR 1

## Expected result:
Video playback

## Reproduces how often:

consistently fo

[2019-02-20 20:36] kjozwiak commented on #3404
Ran into a similar issue when going through `0.60.44 Chromium: 72.0.3626.109`.

**Example of the issue occurring:**

<img width="638" alt="screen shot 2019-02-20 at 3 29 27 pm" src="https://user-images.githubusercontent.com/2602313/53122698-37ef4300-3525-11e9-88f6-00d4a49f259b.png">

**Example of expected results:**

<img width="639" alt="screen shot 2019-02-20 at 3 33 45 pm" src="https://user-ima

[2019-02-20 20:39] karenkliu commented on #2565
Hi @cezaraugusto, I took a look at your latest updates at https://brave-ui-959w0ii2u.now.sh

There are some issues with the total blocked heading, small spacing issues, an old interaction issue that resurfaced, and 1 small typography issue:

![color update design qa 3](https://user-images.githubusercontent.com/2388823/53122825-7af0ec80-350c-11e9-8740-ac94e752fa0e.png)

[2019-02-20 20:57] posix4e commented on #3420
@Mikaela Let's be a bit more nuiansced. It is particularly interesting to know why we don't recommend the snap. This is because it's not a part of the normal brave build and security reviews (@diracdeltas  will have more) not because of a specific limitation of snapcraft vs flatpack. That being said if you are interested in helping with a flatpak, please email because i was going to start on one

[2019-02-20 21:02] LaurenWags commented on #1708
Verified passed with

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

* Verified general Rewards regression and flow using several builds, but most recently with the one above.

[2019-02-20 21:02] LaurenWags commented on #2163
Verified passed with

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

* Verified general Rewards regression and flow over several builds, but most recently with the one above.

[2019-02-20 21:21] tildelowengrimm opened #3431 "Change Shields numbers to count FQDNs rather than total requests"

[2019-02-20 21:32] #3414 closed

[2019-02-20 22:26] kjozwiak commented on #3323
Reproduced this on `macOS 10.14.2 x64` using the following build:

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

Example of the issue occurring:

<img width="590" alt="screen shot 2019-02-20 at 5 25 04 pm" src="https://user-images.githubusercontent.com/2602313/53129083-940d9

[2019-02-20 22:32] lukemulks commented on #3430
Unable to repro on win10 x64 dev channel:
Version 0.62.4 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)

[2019-02-20 22:37] riastradh-brave opened #3432 "Update tor to 0.3.5.8"

[2019-02-20 22:42] landshrk commented on #3113
Yep! Same issue here! I made [a post about it](https://community.brave.com/t/new-install-keeps-switching-monitors/44694/2) over in the Brave forums, and one of your wonderful helpdesk folks  (Mattches) linked this. Another user (Daemonic) mentioned that if you head into DisplayFusion's settings, go to the Window Management tab, and turn off 'Enable window caption bar middle-clicking to move window

[2019-02-20 22:45] #2927 closed

[2019-02-20 22:56] kjozwiak commented on #3357
I quickly did a check on `macOS 10.14.2 x64` and it looks like MW & Barrons are accepting the promotion codes that we're passing them now. Seems like this is intermittent. About a ~week ago, I was getting the same thing @GeetaSarvadnya mentioned. Went through the following:

* Downloaded Brave-Browser-dowjones-barrons.pkg using `0.59.35 Chromium: 72.0.3626.81`
* Downloaded Brave-Browser-dowjones-m

[2019-02-20 23:04] riastradh-brave commented on #3353
This does not appear to be specific to private windows with Tor: I see it in private windows without Tor.

[2019-02-20 23:11] kervinpierre commented on #34
I installed brave specifically for session tabs.

Now it's back to chrome.

Does any other browser have this feature?

[2019-02-20 23:27] tomlowenthal commented on #3237
Closed in favor of brave-intl/publishers#1629

[2019-02-20 23:27] #3237 closed

[2019-02-20 23:41] diracdeltas commented on #3422
If we go with 1, let's come up with a plan to QA it for new webcompatibility breakage.

[2019-02-20 23:42] fmarier commented on #2766
@diracdeltas suggested looking into spoofing the value of the URL to see if we can get the benefits of the Mark of the Web without having the exact URL in there.

We could try setting the URL to `http://example.com` and then remove the referrer.

[2019-02-20 23:42] simonhong opened #3433 "Cleanup URLHandler registration in BraveContentBrowserClient"
We can remove lastly added URLHandler pair because sync/welcom host handling is already done in the previous handler(HandlerURLRewrite()).

[2019-02-20 23:44] btlechowski opened #3434 "Brave shields notification icon is not scaled for double digits"
Follow up from https://github.com/brave/brave-browser/issues/2295

## Steps to Reproduce

   1. Open a stream on twitch.tv

## Actual result:

The notification icon width for double digits is 12px
![image](https://user-images.githubusercontent.com/34715963/53132812-39465d00-3571-11e9-93e8-aa1991a0f248.png)

## Expected result:
The notification icon width for double digits is 14px
![notificationspe

[2019-02-20 23:44] btlechowski commented on #2295
Verification passed on

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

Used test plan from the description and the comments.

Logged https://github.com/brave/brave-browser/issues/3434

[2019-02-21 00:05] karenkliu commented on #1892
Hi @cezaraugusto, your latest build to enable scroll looks good to go from the design side. 👍

[2019-02-21 00:29] karenkliu commented on #2565
Hi @cezaraugusto, your latest updates at https://brave-ui-qzk8nw4np.now.sh looks good to go from the design side. 👍

[2019-02-21 00:49] tomlowenthal opened #3435 "Prompted to let Brave control my computer with a11y features"
Clicking play on a Twitter video led Brave to prompt me to enable a11y features. What's up with that?

![screen shot 2019-02-20 at 4 47 50 pm](https://user-images.githubusercontent.com/639937/53135266-70941a00-352f-11e9-92e9-e5776ff87db0.png)

[2019-02-21 01:13] kjozwiak commented on #3393
@jasonrsadler this has been an issue for a while now. Sometimes when you make a tip and it takes a bit longer for it to get through the process, you'll run into issues with the panel as @LaurenWags described below. Some of the symptoms of this happening are the following:

* your balance appears as `0` even though you have BAT until the tip is sent server side
* the rewards panel doesn't display t

[2019-02-21 01:32] fmarier commented on #3241
I created a [test page](https://fmarier.github.io/brave-testing/social-widgets.html) with all of the social widgets I could find.

Looking at the widgets that aren't blocked on my test page, we might be able to blacklist the following URL fragments:

- `www.facebook.com/plugins/like.php`
- `www.facebook.com/plugins/share_button.php`

to disable Like/Share buttons that use the iframe API.

Note tha

[2019-02-21 01:34] fmarier commented on #3241
@tomlowenthal Do you think this is still worth doing, given it's not going to block all of the buttons?

[2019-02-21 02:30] jasonrsadler commented on #3393
The problem isn't as obvious under tipping as it is under auto-contribute (however, if I run it in dev, I can see it blocking on some things momentarily) as auto-contribute has the entire batch proofing system for ballots to run through. It is during the batch proofing process that everything gets blocked. Tipping is a direct send to one publisher (with no ballots, voting, etc) so I don't think yo

[2019-02-21 02:46] srirambv opened #3436 "Rewards extension process needs to be terminated when disabled, Follow up to #1475"
## Description

Based on #1475, it only hides the extension from UI but the background process continues to run which is waste of resources. When the extension is hidden from UI corresponding extension process needs to be terminated/killed off to conserve resources

## Steps to Reproduce

   1. Disable rewards from UI
   2. Open Browser Task manager
   3. Still shows extension process running even

[2019-02-21 03:36] eljuno commented on #930
+1 fron community https://community.brave.com/t/where-is-my-contributor-statement-history/45592?u=eljuno

[2019-02-21 03:48] srirambv commented on #3353
The notification on private window is because there is notification on normal window. If you clear the notification on normal window then it wont show up on Private window without Tor as well.

[2019-02-21 06:14] NejcZdovc commented on #3393
@jasonrsadler that is not correct. We do everything the same for ac as we do for tipping. So for tipping we do ballots and voting as well

[2019-02-21 08:02] #3426 closed

[2019-02-21 08:04] webserviceXXL commented on #34
@kervinpierre Mozilla is doing a very good job here with their official add-on Multi-Account Containers https://github.com/mozilla/multi-account-containers#readme

[2019-02-21 10:10] tmancey commented on #2830
Resolved as part of https://github.com/brave/brave-browser/issues/3117

[2019-02-21 10:10] #2830 closed

[2019-02-21 10:13] AronVanAmmers opened #3437 "web.archive.org gives ERR_CONNECTION_RESET"
## Description

When opening https://web.archive.org, I get `ERR_CONNECTION_RESET` and sometimes `ERR_CONNECTION_CLOSED`.  My network connection is fine. I've seen this about a week ago and again today (not tried in between), so it's not an intermittent issue. This doesn't happen in Chrome and Microsoft Edge on the same machine. Have tried disabling Brave shields.

## Steps to Reproduce

   1. Ope

[2019-02-21 10:46] tmancey commented on #3421
You can also check that files in the `Default/ads_service` directory are not created or updated when Ads is turned off

[2019-02-21 11:11] dinuchiriac commented on #3205
It looks like the issue is fixed in the latest dev build `Version 0.62.5 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)`

[2019-02-21 11:20] srirambv commented on #3240
Dupe of #3258 which is already verified

[2019-02-21 11:54] tetrode opened #3438 "Starting brave from the command line starts two windows"
## Description

When I start brave from the command line (or development environment or other GUI program) it launches two windows, one with the URL that was passed and a second one with no URL.

This also happens when all extensions are disabled.

Running Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)

## Steps to Reproduce

   1. start a terminal
   2. start /usr/bin/brave-brow

[2019-02-21 12:05] jasonrsadler commented on #3393
Good to know. I'll double test under that as well.

[2019-02-21 13:07] GeetaSarvadnya commented on #3382
1+ https://community.brave.com/t/cannot-claim-you-have-a-grant-waiting-for-you/45622/4

[2019-02-21 14:00] tmancey commented on #2912
Fixed by https://github.com/brave/brave-core/pull/1645

[2019-02-21 15:54] friou opened #3439 "Console error on empty page"
## Description
If I want to get opened console before I load my web page, I get an error, not reproduced into browsers like Chrome or Mozilla.

## Steps to Reproduce

   1. Open new console.
   2. Press F12 to show console.
   3. An error appear into the console.

## Actual result:
Error :
![image](https://user-images.githubusercontent.com/41961051/53182152-355e1d80-35f9-11e9-9956-79fd63981c44.png

[2019-02-21 15:57] NejcZdovc opened #3440 "Try again wallet creation is not working"
## Description

## Steps to Reproduce

   1.  pull the plug from the internet as soon as you click on join now
   2. plug it again after few minutes
   3. you will get error

## Actual result:

try again doesn't do anything. You get this error in the terminal `> response: {"statusCode":422,"error":"Unprocessable Entity","message":"persona credential exists: db1347beebe1e119fe1442086d044cf"}> heade

[2019-02-21 17:50] litux opened #3441 "Wallet creation failed Please check your Internet connection."
Using the latest version of Brave `Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)` MacOS 10.13.6

Clicking the Brave icon, wallet amount = 0.0 clicking either "Add funds" or "Reward Settings" gives the same error:

`Wallet creation failed
Please check your Internet connection.`

My internet connection is fine, using Github ... . Never used the wallet reward function before. So ea

[2019-02-21 19:21] atmin commented on #1356
I cannot enable 2FA on Github

Brave Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)
macOS Mojave Version 10.14.3 (18D109)

Shields down, use FreeOTP on Android (which works with other browsers) to scan QR and generate code:
![image](https://user-images.githubusercontent.com/714648/53195516-79afe480-361e-11e9-8bf4-0cc23c407487.png)

[2019-02-21 19:26] btlechowski commented on #1356
@atmin It should be fixed in the next release.

[2019-02-21 19:47] landshrk commented on #3113
Hey, so like I said above, I reached out to Binary Fortress. They just responded with some good news. Apparently, you folks have made them well aware of the problem, and they're working on a fix scheduled to come out with the next update. So we have that to look forward to.

[2019-02-21 19:55] #3117 closed

[2019-02-21 19:56] fmarier commented on #1356
@atmin This bug is about 2FA on Google. It looks like you are running into a different problem (it's on GitHub). Would you mind filing a separate issue for this so that we can track it properly?

[2019-02-21 20:17] ryanml opened #3442 "brave-ui version update for Ads confirmations"
It should point to: https://github.com/brave/brave-ui/commit/c69fba47b9ecca3ad82042fb33dbd5822045b111

missed in https://github.com/brave/brave-core/pull/1645

[2019-02-21 20:31] #3442 closed

[2019-02-21 20:37] kjozwiak commented on #3301
Verification **PASSED** on `macOS 10.14.2 x64` using the following build:

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

* Went through the test plan outlined under https://github.com/brave/brave-browser/issues/3301#issue-408638670

[2019-02-21 20:43] snyderp opened #3443 "Limit JS set cookie lifetime to 7 days"
Safari will start doing this soon, so that gives us some good webcompat cover

https://webkit.org/blog/8613/intelligent-tracking-prevention-2-1/

[2019-02-21 21:16] atmin commented on #1356
Sorry, disregard, false alarm.

I started investigating the issue to file a bug. The reason turned out to be I accidently turned off date/time sync on my phone, so the clock drifted enough to cause invalid auth codes.

[2019-02-21 21:17] petemill commented on #1189
This is a higher priority now since the supporting mechanisms are in C73 / Brave 0.61 and the OS-support feature will be released in other chromium-based browsers at that time.

[2019-02-21 21:18] btlechowski commented on #1188
Verification passed on

Brave | 0.60.44 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows 7

![crashes](https://user-images.githubusercontent.com/34715963/53202281-64d74f00-3626-11e9-8edc-7d4feef6efab.png)

`Uploaded Crash Report ID 1de6626df5c368d3 (Local Crash ID: 34962795-112b-472a-979a-28b0cd

[2019-02-21 21:21] #3369 closed

[2019-02-21 21:24] IceHacks opened #3444 ""extension" overlay in settings covering options"
## Test plan
   1. Navigate to `brave://settings`
   2. Click on a section. Ex: `customize fonts`
   3. Scroll down
   4. Extensions area should NOT be floating over existing settings (see below for previous behavior)

## Description
When opening any section in `brave://settings` "extensions" overlays the content.

## Steps to Reproduce

   1. Navigate to `brave://settings`
   2. Click on a sectio

[2019-02-21 21:40] kjozwiak opened #3445 "Release checklist for 0.60.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-02-21 22:28] #3421 closed

[2019-02-21 22:44] LaurenWags commented on #3421
Verified passed with

Brave | 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

* Verified upgraded profiles and clean profiles show the 'Coming soon' text for Ads
![screen shot 2019-02-21 at 5 44 00 pm](https://user-images.githubusercontent.com/28145373/53206933-4a8a7a80-3600-11e9-8c8b

[2019-02-21 23:44] #3376 closed

[2019-02-21 23:44] #3378 closed

[2019-02-21 23:44] #956 closed

[2019-02-21 23:44] #3377 closed

[2019-02-22 00:00] mkarolin opened #3447 "Upgrade from 72.0.3626.109 to 72.0.3626.119 on 0.60.x branch"
QA tests:

* Check branding items
* Check for version bump

[2019-02-22 00:43] tomlowenthal commented on #3429
This is the sort of work best-suited to an extension.

[2019-02-22 00:43] #3429 closed

[2019-02-22 01:14] jacobcantele commented on #3420
Thank you for creating this issue @diracdeltas

Of your three potential solutions, I think that re-enabling the Chromium solution is a good stop gap. If Chromium really will deprecate its sandbox, tthat will recreate these same issues for many Linux users, and the Chromium project will have a great deal more resources to resolve it at that time.

That said, I think Brave having a sandbox that is s

[2019-02-22 02:07] diracdeltas commented on #3422
looking at https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule, if we got this change into a dev release, it seems that it would be in dev for ~6 weeks and beta for ~3 weeks before hitting the stable release channel. that might be good enough, depending on how many people are actively using dev/beta

[2019-02-22 02:41] kjozwiak commented on #2295
@srirambv will file a new issue regarding the icons still appearing blurry while using 100% DPI under linux as outlined https://github.com/brave/brave-browser/issues/2295#issuecomment-463934760.

@srirambv once created, mention the new issue in this issue 👍

[2019-02-22 03:29] kjozwiak commented on #3425
Same results on `Mint 19.1 x64 VM` using the following build:

Brave | 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Mac OS X

Example of the issue occurring on `Mint 19.1 x64`:

<img width="815" alt="screen shot 2019-02-21 at 10 21 08 pm" src="https://user-images.githubusercontent.com/260231

[2019-02-22 03:34] #3370 closed

[2019-02-22 03:36] kjozwiak opened #3448 "Release notes for 0.60.x (Release Channel)"
Release Notes
 - Resize window causes time to overlap on stats.([#341](https://github.com/brave/brave-browser/issues/341))
 - New icons get camouflaged on several new tab images .([#494](https://github.com/brave/brave-browser/issues/494))
 - Implement notification/prompt to user to backup their wallet.([#1164](https://github.com/brave/brave-browser/issues/1164))
 - Chrome://crashes not working und

[2019-02-22 06:51] #3448 closed

[2019-02-22 06:55] petemill opened #3451 "Build error - fatal error: 'brave/ui/webui/resources/grit/brave_webui_resources.h' file not found"
As reported by @jasonrsadler a build can get the following error, depending on the order that targets happen to be compiled. This could be due to a missing dependency in a target.

It was reported that disabling then re-enabling sccache fixes it, but that could also be fixed by multiple builds that happen to build targets in a different order. The real fix could still be fixing the dependency chai

[2019-02-22 06:56] #3447 closed

[2019-02-22 08:15] jumde opened #3453 "With transition from fastly proxies to python redirector update the whitelisted URLs"
## Description
We recently transitioned from using fastly proxies to redirector (https://github.com/brave/redirector/blob/master/redirector/__init__.py#L30) hosted on heroku. Update URL whitelist accordingly.

## Steps to Reproduce
   1. npm run test-security should pass

[2019-02-22 11:09] GeetaSarvadnya opened #3454 "Page is unresponsive on Linux for `http://www.pbs.org/earth-a-new-wild/episode-plains/reindeer/`"
## Description

Page is unresponsive on Linux for `http://www.pbs.org/earth-a-new-wild/episode-plains/reindeer/`

## Steps to Reproduce

   1. Clean profile 0.59.35
   2. Open `http://www.pbs.org/earth-a-new-wild/episode-plains/reindeer/`

## Actual result:

Page unresponsive dialog is displayed, page doesn't load. Can't scroll or perform any operation
![image](https://user-images.githubuserconten

[2019-02-22 11:49] gerardo-junior opened #3455 "Dockerfile not building because of rust"
## Description
[https://static.rust-lang.org/rustup.sh](https://static.rust-lang.org/rustup.sh) has been moved and changed

https://imgur.com/a/gNkREln

## Steps to Reproduce

   1. git clone https://github.com/brave/brave-browser.git
   2. docker build ./brave-browser -t brave/buildenv

## Actual result:
log that job was not installed but rust was not installed either

[2019-02-22 13:21] gerardo-junior commented on #3429
an extension would not have the dynamic reading on disk permission only by uploading file to each change by default and an extension would not have permission to change the browser internal autofill system.

would not it be better to have that embedded in the browser? or brave have support NPAPI Plugins?

[2019-02-22 16:13] #3371 closed

[2019-02-22 16:30] sx01g4r commented on #3038
The same thing is happening with me, there seems an issue with Linkedin cookies. Actually I logged in with two different account in same browser. Just deleted all cookies and logged in again. its fine now.

[2019-02-22 16:32] #1886 closed

[2019-02-22 16:44] Miyayes commented on #3339
+1 from Reddit: https://www.reddit.com/r/BATProject/comments/atjkxg/delay_period_after_verification_one_suggestion/

[2019-02-22 17:32] hackles commented on #697
Lack of userscript support is the only reason I gave up on using Brave.

[2019-02-22 17:52] NejcZdovc opened #3458 "Remove PaymentData struct"
https://github.com/brave/brave-core/blob/master/vendor/bat-native-ledger/include/bat/ledger/ledger.h#L57

[2019-02-22 17:57] NejcZdovc opened #3459 "AC delete doesn't remove duration from the table"
## Description

## Steps to Reproduce

   1.  enable rewards
   2. visit a site
   3. make sure that you see it in ac table
   4. delete that site
   5. restore this site

## Actual result:

Site is listed with duration and %.

## Expected result:
Site shouldn't be shown and data in the db should be deleted for the current month

## Reproduces how often:

## Brave version (brave://version info)

#

[2019-02-22 18:11] rebron commented on #3445
Released Feb 22, 9am PST

[2019-02-22 18:11] #3445 closed

[2019-02-22 18:17] #1506 closed

[2019-02-22 18:17] #1555 closed

[2019-02-22 18:17] #3399 closed

[2019-02-22 18:17] rkavalap commented on #3038
@rebron @srirambv @sx01g4r
I agree with website working after deleting cookies. That's something i tried in the recent past when it happened.  If you can provide me ways to capture any additional diagnostic info, I can try doing that to isolate the problem.

[2019-02-22 18:41] #3458 closed

[2019-02-22 18:55] b18 opened #3460 "Sync ad/tracker blocked statistics"
## Description
I would like to submit a feature request for the Brave browser (regardless of specific platform), for the ability to sync the number of ads/trackers/etc. on the new tab screen. Example: It would be nice to have the number of ads/trackers that have been blocked maintained across all devices. Example, the number I see on my desktop is a combination of my mobile device, my laptop, any

[2019-02-22 19:22] petemill opened #3461 "Browser tests failing"
Browser tests are failing
[code]

Seems to be a result of https://github.com/brave/brave-core/pull/1422

[2019-02-22 19:27] diracdeltas opened #3462 "URL check in bat_get_media.cc is not strict enough"
https://github.com/brave/brave-core/blob/194e5db6b091490576ce8bd191004cd12dc5c7d6/vendor/bat-native-ledger/src/bat_get_media.cc#L46

i assume `url.find(".ttvnw.net/v1/segment/")` is trying to match subdomains of ttvnw.net, but it would actually match arbitrary domains like this: `https://example.com/something.ttvnw.net/v1/segment/` because `.` is valid in URL paths.

cc @SergeyZhukovsky @jasonrsad

[2019-02-22 19:39] jasonrsadler opened #3463 "vector<const T> is not allowed under current C++ version"
https://github.com/brave/brave-core/blob/master/vendor/bat-native-ledger/src/bat_get_media.cc#L544

[2019-02-22 19:50] #3463 closed

[2019-02-22 20:16] Brave-Matt commented on #2006
+1 https://community.brave.com/t/bug-report-for-shield-settings-in-tor-mode/45746/2

[2019-02-22 21:29] jhuckelba commented on #1747
Ctrl-Shift-R would be awesome.  this feature is very underrated.  i have used this in the past (think firefox used to support it) when you have separate windows with tabs for things like jira issues, etc.  refreshing all in the morning to check state is a nice thing to have rather than going one by one.

[2019-02-22 21:54] Brave-Matt opened #3464 "Cannot enable Twitter web notifications after update to v0.60.55"
## Description

After the update to v0.60.55 (release), Twitter web notifications no longer function in Brave. This is not strictly because they don't function - but rather because they can't be set from within your Twitter profile settings.

## Steps to Reproduce
   1. Login to Twitter.com in Brave
   2. On Twitter, `Profile --> Settings & Privacy --> Web Notifications`
   3. Click `Turn on` to e

[2019-02-22 22:00] simonhong opened #3465 "Add lint check to PR's submitter check list"
Sometimes, we forget to run lint check. So add it to submitter check list

[2019-02-22 22:11] #3465 closed

[2019-02-22 22:47] mkarolin commented on #3193
@bridiver : any reason we shouldn't just subclass `base::MRUCache` (https://cs.chromium.org/chromium/src/base/containers/mru_cache.h?g=0&l=222) and make it thread safe?

[2019-02-22 23:21] #3432 closed

[2019-02-23 01:35] da2x opened #3466 "Auto-contribution list disappears showing only one entry at 100%"
## Description

## Suspected Steps to Reproduce
(May not be exact but this is the rough outline of what I’ve been doing every time this has happen.)

1. Open the Rewards settings page in a tab
2. Open any website not on the auto-contribute list (e.g. cnn.com) in a new tab and wait 10 seconds
3. Close that tab and be returned to the Rewards settings tab
4. Click “See all sites”

## Actual result:
T

[2019-02-23 01:48] da2x opened #3467 "Limit max attention given to one creator/website to 15%"
## Description
I often find myself excluding websites that I actually like a lot from the auto-contribution list because they get all the attention and I don’t want all my contributions to go to only one creator/publisher.

## Steps to Reproduce

   1. Set duckduckgo.com as your default search engine
   2. Do some research and read a lot of Wikipedia
   3. Review your auto-contribution list

## Ac

[2019-02-23 02:15] scmart commented on #2943
This seems to be finally working correctly for me.

[2019-02-23 10:33] ryanml opened #3468 "Ad Ads info to settings box"
Tracker: https://github.com/brave/brave-browser/issues/3141

We are only going to be showing the estimated earnings and the notifications received data points. The monthly payment date is hard coded for now per @jsecretan

![46828601-6af02180-cd50-11e8-98dc-1b709a4a2460](https://user-images.githubusercontent.com/8732757/53285248-be6d7580-371b-11e9-96b6-4e40eefd009f.png)

[2019-02-23 12:01] tortino opened #3469 "totally blank window"
## Description

## Steps to Reproduce

   1. hardware tested: hp dv6-3145sl
   2. https://icecat.biz/p/hp/xz440ea/notebook-portatili-dv6-3145sl-6997021.html
   3. just run brave

## Actual result:

totally blank user interface. only visible is popup menu (when right clicking)
all other browsers are working correctly (chrome, opera, firefox)

## Expected result:
I want to see the user interface :-)

[2019-02-23 14:29] stephenbe commented on #2763
Thanks @vicentelyrio !

I am using [stylebot ](https://chrome.google.com/webstore/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha/related?hl=en)with this rule :
`.ytp-ad-module {
    display: block!important;
}
`
 Everything is fixed until they push a fix here

[2019-02-23 17:24] AronVanAmmers commented on #3437
Additional info:
* Not reproducible in a Private window
* Not reproducible in another Brave profile on same machine (I have 2 profiles)
* Reproducible in a normal window with all extensions disabled, HTTPS everywhere disabled, Safe browsing disabled, Shields down.

[2019-02-23 17:36] fcore117 opened #3470 "FFmpeg codecs"
Please include all basc FFMpeg codecs like h265, aac and h264 like other Chromium versions do without requiring external media frameworks.

[2019-02-23 18:32] jasonrsadler commented on #3462
We're going to need some kind of url parser for this.

@bridiver Can we use GURL for this?

https://github.com/brave/brave-core/blob/194e5db6b091490576ce8bd191004cd12dc5c7d6/vendor/bat-native-ledger/src/bat_get_media.cc#L47

`url.find("https://ttvnw.net/v1/segment/") != std::string::npos` would match: `https://baddomain.com?maliciousparam=https://ttvnw.net/v1/segment/`

[2019-02-23 19:35] dayfuaim opened #3471 "GUI glitches / artifacts (GPU or driver problem)"
## Updated Issue Description (notes from @bsclifton)
There are a lot of combinations of video cards / drivers / etc and Chromium will try to do its best job to resolve these. You can view your GPU related information at brave://gpu

In some cases, users will experience the screen looking unusual- various glitches or artifacts being rendered. For example:
![image](https://user-images.githubusercont

[2019-02-23 20:35] eljuno commented on #3328
+1 from Community https://community.brave.com/t/brave-says-it-is-not-up-to-date-and-redirects-me-to-chrome/45821?u=eljuno

[2019-02-23 20:47] tmancey opened #3472 "Remove deprecated and unused GetClientInfo code from Ads Service"
Remove deprecated and unused `GetClientInfo` code from Ads Service

[2019-02-23 23:26] ckujau commented on #2452
Does it happen without the [browsec](https://browsec.com/) extension and/or with [newer releases](https://github.com/brave/brave-browser/releases/) of Brave?

[2019-02-24 00:21] #3461 closed

[2019-02-24 03:09] andrewmurraytv commented on #2997
Yes, I have this too.  On a fresh re-install.
How do we connect our Brave accounts for my laptop, desktop and iphone?  I feel like this should be more thought out.

[2019-02-24 03:13] puckmugger commented on #2997
I'm getting the same error, my current version:

Version 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)

[2019-02-24 14:28] kklot commented on #3436
Because of this tiny icon Brave is a goner for me.

[2019-02-24 17:43] valera-rozuvan opened #3473 "Got file not found error when building challenge_bypass_ristretto"
Latest attempt to build Brave from source (latest `master` branch) results in an error. I am following this guide [https://github.com/brave/brave-browser/wiki](https://github.com/brave/brave-browser/wiki) to do a Release build. This is the error I get:

[code]

My system:

[code]

[code]

[code]

[code]

[code]

[2019-02-24 20:18] jumde opened #3474 "some PDF's can't be opened and generate "Invalid or corrupted PDF file." errors"
## Test plan
See https://github.com/brave/brave-core/pull/2342

## Description
Cannot open PDF in Brave

## Steps to Reproduce

   1. Navigate to http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.144.7135&rep=rep1&type=pdf

## Actual result:
PDF is corrupted

## Expected result:
PDF should be displayed

## Reproduces how often:
Easily

## Brave version (brave://version info)
0.62.5 Chromium

[2019-02-24 20:31] valera-rozuvan commented on #3473
Here is the LOG file:

[code]

[2019-02-24 20:31] AntonioPrimera commented on #2997
I'm getting the same error.
Version 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)

[2019-02-24 20:53] diracdeltas commented on #1108
fwiw https://github.com/brave/brave-core/pull/1770 + https://github.com/brave/adblock-lists/pull/45 would make it such that fb/twitter are blocked as third parties except for the specific URL paths that are needed to make login/embedding work

[2019-02-24 21:03] jnki commented on #2627
i'm no longer experiencing this in the latest update. so i will close it :)

[2019-02-24 21:03] #2627 closed

[2019-02-24 21:11] bbondy opened #3475 "Move hardcoded exceptions rules to more specific rules and unify exception handling"
Currently we maintain different blocking exceptions across across different components.
Some of these are hardcoded and can't be overridden.

Maintaining different blocking exceptions on different sub-components of code [sometimes causes concerns and confusion](https://www.reddit.com/r/brave_browser/comments/ap8vqh/brave_whitelists_facebook_tracking/) that we fully whitelist things, when in fact w

[2019-02-24 21:16] bbondy commented on #1108
On this topic, I posted a new issue which describe some upcoming changes which will help get us to the place we need to be.  It also clarifies some misconceptions that have been happening about our blocking.
https://github.com/brave/brave-browser/issues/3475

PRs for this are in progress now but nearing completion:
https://github.com/brave/brave-core/pull/1770/files
https://github.com/brave/ad-blo

[2019-02-24 22:22] anarchitectures commented on #3392
This issue has disappeared since my latest update to Brave dev version 0.62.5. I'd considered it closed.

[2019-02-24 22:23] #3392 closed

[2019-02-25 00:34] kjozwiak commented on #2887
@srirambv mind adding a screenshot/example of the above for Windows so @mandar-brave can visually see the issue and if we need to improve the icon sizes?

Looks like this isn't possible on macOS as per @tmancey so added the `OS/Linux` and `OS/Window` flags.

[2019-02-25 00:38] mandar-brave commented on #2887
thanks @kjozwiak
Never seen the issue at my end on Windows to-date so must be related to some hi-res screen needs. But waiting to see screenshots and will do needful.

[2019-02-25 00:41] GeetaSarvadnya opened #3476 "Cannot switch off `Include in Auto-contribute` in BR panel"
## Description

Cannot switch off `Include in Auto-contribute` in BR panel

## Steps to Reproduce

   1. Open brave Dev or Beta
   2. Enable Rewards
   3. Open any website
   4. Open BR panel for the website
   5. Try to turn off `Include in Auto-contribute`

## Actual result:

Cannot switch off `Include in Auto-contribute` in BR panel

![3476](https://user-images.githubusercontent.com/38657976/53

[2019-02-25 01:55] srirambv commented on #2887
@kjozwiak @mandar-brave screenshot is added here https://github.com/brave/brave-browser/issues/2887#issuecomment-453367842. You can see how small the Brave icon is compared to the size of the notification. This is on 125% DPI default setting on a 1920x1080(16:9) display. Pretty sure as the DPI increases the notification size increases proportionately but not the Brave icon

[2019-02-25 02:08] GeetaSarvadnya commented on #902
1+https://community.brave.com/t/fox-news-videos-will-not-play/45910

[2019-02-25 02:21] mandar-brave commented on #2887
@tmancey @bridiver is there a limitation with windows API? I am very sure this is not an issue with Mac as such but checking in; we can expect the image to scale proportionately as well. Thanks

[2019-02-25 02:27] srirambv commented on #2887
Specs should contain behaviour on all platforms and **not just macOS** so that these issues can be ironed out early on

[2019-02-25 02:28] srirambv commented on #3473
cc: @yrliou @simonhong

[2019-02-25 02:30] srirambv commented on #3471
Cant reproduce on Linux. What OS are you experiencing this issue?

cc: @brave/legacy_qa

[2019-02-25 02:31] srirambv commented on #3470
If its part of Chromium it would be available by default. Also please add more info on what sites its failing and reopen the issue

[2019-02-25 02:31] #3470 closed

[2019-02-25 02:54] GeetaSarvadnya commented on #3033
1+ https://community.brave.com/t/im-generous-but-maybe-not-this-generous-designation-amount-shows-way-too-high/45776

[2019-02-25 02:57] jhabdas commented on #1108
The reason Brave gained traction in the first place is because it showed people you could use Chromium (then in a Muon wrapper—which I quite liked) but still block all the adware on the internet. Until it was discovered you weren't blocking some of the biggest offenders. You lost me personally—an early promotor—when you went full Chromium. But this was the icing on the cake.

Again, for users who

[2019-02-25 04:23] srirambv commented on #3083
@pilgrim-brave any QA steps for this on the CI builds? Could you please add appropriate labels for the issue

[2019-02-25 05:20] bbondy commented on #1108
@jhabdas please stop assuming malice.

Not all users want to have a broken web, we're adding full control for those that prefer a partially broken web for extra protection.

See the future work section here:
https://github.com/brave/brave-browser/issues/3475
We're actively working on this on many fronts.

[2019-02-25 06:15] jhabdas commented on #1108
If you market yourself as private browser and have to bump a F5 to an F2 because people found out about it on Hacker News even though you already knew the issue existed what do you expect people to assume? As for social buttons—let them break they're all trackers.

[2019-02-25 06:16] jhabdas commented on #1108
If you market yourself as private browser and have to bump a P5 to an P2 because people found out about it on Hacker News even though you already knew the issue existed what do you expect people to assume? As for social buttons—let them break they're all trackers.

[2019-02-25 06:20] jhabdas commented on #1108
I don't assume malice. I assume negligence. As for social buttons—let them break they're all trackers.

[2019-02-25 06:32] bbondy commented on #1108
Your opinion is valid, but it's one of many. We'll be continuing with the plan which is detailed in the issue I mentioned above which will work for everyone.

[2019-02-25 06:45] Brave-Matt commented on #3469
Windows 7 or windows 10?

[2019-02-25 06:56] #3472 closed

[2019-02-25 07:45] dayfuaim commented on #3471
Mac OSX 10.10.5

[2019-02-25 10:07] NejcZdovc opened #3477 "Split ledger.cc"
`src/bat/ledger/ledger.cc` in bat-native-ledger is really big and we should split it into multiple files that are representation of .h file in include folder

[2019-02-25 11:07] #2028 closed

[2019-02-25 11:46] NejcZdovc opened #3478 "Move bat-native-confirmations into the core"

[2019-02-25 11:52] BrendanEich commented on #3430
Any crash reports?

[2019-02-25 12:20] plaintextcity opened #3479 "Disable BoringSSL TLS Key Logging SSLKEYLOGFILE"
## Description
Google Chrome, using BoringSSL, includes the capability to log TLS Key material to a local or remote text file.  This could be used to compromise TLS encryption, for example if a machine is tampered with such that the keys are written to a remote file.

## Steps to Reproduce
   1. Set an environment variable
          setx SSLKEYLOGFILE c:\temp\tlskey.txt /m
          or
          s

[2019-02-25 12:21] srirambv commented on #3479
cc: @diracdeltas @tomlowenthal @jumde

[2019-02-25 13:28] b-mueller commented on #3121
+1.

The count being displayed is horrible for somebody with OCD tendencies (like me). It constantly makes me feel like there are some open notifications I'm supposed to handle 😞

[2019-02-25 14:14] dayfuaim commented on #3471
BTW I've just worked around this issue by turning "Hardware acceleration" OFF in "Settings".
It's _not OK_ though, but I can work in browser yet.

This issue _still needs_ to be fixed.

[2019-02-25 14:35] GeetaSarvadnya commented on #3476
Further investigation of the issue is as below:
1. Clean profile 0.61.36
2. Enable Rewards
3. Add DDG to a-c table
4. Open on BR panel for DDG
5. Click on `Include in Auto-Contribute` switch multiple times
The site which is added in a-c table gets deleted, and below message is displayed
`Total number of sites you excluded from Auto-Contribute: 34(Restore All)`
6. At one point, switch gets turned o

[2019-02-25 14:55] GeetaSarvadnya opened #3480 "Incorrect exclude count displayed in a-c table"
## Description

Found while testing #3476
Incorrect exclude count displayed in a-c table

## Steps to Reproduce

   1. Clean profile 0.61.36
   2.  Enable rewards
   3.  Open DDG and add it to a-c table
   4. Click on `Include in Auto-Contribute` switch multiple times
   5. Observe that exclude count shows up incorrect count
   6. Click on `Include in Auto-Contribute` switch multiple times when th

[2019-02-25 14:56] GeetaSarvadnya commented on #3480
https://github.com/brave/brave-browser/issues/3476#issuecomment-467033829

[2019-02-25 15:11] GeetaSarvadnya opened #3481 "One time tip shows incorrect message on banner"
## Description

One time tip shows incorrect message on banner

## Steps to Reproduce

   1. Clean profile 0.61.36
   2. Open DDG
   3. Send one-time tips to DDG
   4. Verify banner message after tipping - message displayed as expected
   5. Send monthly tips to DDG
   6. Verify banner message after tipping - message displayed as expected
   7. Send one-time tips to DDG
   8. Verify banner message

[2019-02-25 15:34] rebron opened #3482 "Release checklist for 0.60.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-02-25 16:05] bbondy commented on #1108
Thanks @jhabdas, I appreciate the feedback.

Here's the summary of the plan:
- Step 1: Unify tracking protection and ad-block exception handling in 1 place (via ad-block lib rules since they can be very specific)
- Step 2: Add options to easily disable the exception rules, it will be allowed by default when this step lands as it is today for FB login buttons, embedded tweets, and embedded FB posts

[2019-02-25 17:55] diracdeltas commented on #3475
here's a page with embedded facebook feeds: https://www.british-girlguiding-overseas.org.uk/. according to https://support.mozilla.org/en-US/questions/1185550, it is broken with tracking protection without the adblock exemptions.

[2019-02-25 18:22] fmarier commented on #3475
Here's another test page full of social embeds: https://fmarier.github.io/brave-testing/social-widgets.html

[2019-02-25 18:24] pilgrim-brave commented on #3083
This was an important crash fix, but luckily it's also extremely easy to test.

 1. Open Brave
 2. Navigate to `https://www.brave.com/`
 3. If browser completes loading and displaying the page, fix is verified.

[2019-02-25 18:26] fmarier commented on #3475
Note that we also have a [pairwise whitelisting](https://github.com/brave/tracking-protection/blame/132ac934be9dd0113a4bb4d041f7602a72c60662/data/disconnect.json#L9348-L9375) which is [used in the tracking protection component](https://github.com/brave/brave-core/blob/d833a8921a1dc376c5f4e96fa942ef95227b9a51/components/brave_shields/browser/tracking_protection_service.cc#L52-L83) to group related

[2019-02-25 19:20] Liunkae opened #3483 "Close button in Brave Rewards Ad Settings is hard to see"
## Description
On the Brave Rewards page, the close button for the Ad Settings section is hard to see. Please make the "X" darker so it's easier to see.

## Steps to Reproduce
   1. Open brave://rewards/
   2. Click the Ad Settings button under Ads
![](https://user-images.githubusercontent.com/19424103/53362157-28924000-38ff-11e9-9c03-2747796b9ac9.png)
   3. Look for the close button

## Actual re

[2019-02-25 19:48] #2911 closed

[2019-02-25 19:48] #2943 closed

[2019-02-25 19:48] #3407 closed

[2019-02-25 19:59] kjozwiak opened #3484 "Manual test run on OS X for 0.60.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Upgrade from 72.0.3626.109 to 72.0.3626.119 on 0.60.x branch.([#3447](https://github.com/brave/brave-browser/issues/3447))

### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click

[2019-02-25 19:59] kjozwiak opened #3485 "Manual test run on Windows x64 for 0.60.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Upgrade from 72.0.3626.109 to 72.0.3626.119 on 0.60.x branch.([#3447](https://github.com/brave/brave-browser/issues/3447))

### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click

[2019-02-25 19:59] kjozwiak opened #3486 "Manual test run on Linux for 0.60.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Upgrade from 72.0.3626.109 to 72.0.3626.119 on 0.60.x branch.([#3447](https://github.com/brave/brave-browser/issues/3447))

### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click

[2019-02-25 20:00] Brave-Matt opened #3487 "Loss of "Clickable area" on new tab page tiles"
## Description

The tiles on the new tab page have lost some of the "clickable" area surrounding them. Must click closer to the center of the tile in order to get a response.

## Reproduces how often:

Always

## Brave version (brave://version info)
Release - v0.60.45
Beta - v0.61.36
Dev - v0.62.8

### Additional Information

User report with rough graphic outline of "clickable" area:
https://www.

[2019-02-25 20:09] kjozwiak opened #3488 "Release notes for 0.60.x Hotfix 1 (Release Channel)"
Release Notes
 - Upgrade from 72.0.3626.109 to 72.0.3626.119 on 0.60.x branch.([#3447](https://github.com/brave/brave-browser/issues/3447))

[2019-02-25 20:44] btlechowski commented on #3374
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/53367441-7d0cde00-3946-11e9-9b95-19660bd718ce.png)

[2019-02-25 20:45] btlechowski commented on #3313
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/53367441-7d0cde00-3946-11e9-9b95-19660bd718ce.png)

[2019-02-25 20:51] fmarier commented on #3241
@bbondy suggests waiting until Steps 2/3 of #3475 are done since this new plan is being actively worked on.

[2019-02-25 20:57] btlechowski commented on #3135
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/53367823-6d41c980-3947-11e9-8f92-8e8a89ce77e1.png)
![image](https://user-images.githubusercontent.com/347159

[2019-02-25 21:07] #3475 closed

[2019-02-25 21:13] bbondy opened #3489 "Add options for controlling how blocking is done at a high level"
This is Step 2 of the plan outlined in this issue:
https://github.com/brave/brave-browser/issues/3475
In the section "Summary of the plan"

It looks like this:
<img width="1001" alt="Screen Shot 2019-03-10 at 11 11 09 PM" src="https://user-images.githubusercontent.com/831718/54098232-0e8a4000-438a-11e9-9a70-f317e08932f5.png">

Step 2: Add options to easily disable the exception rules, it will be a

[2019-02-25 21:14] #3451 closed

[2019-02-25 21:18] bbondy opened #3490 "Add UI to notify users that social blocking was done"
This is Step 3 of the plan outlined in this issue:
#3475
In the section "Summary of the plan"

Step 2 of this plan was here:
https://github.com/brave/brave-browser/issues/3489

Step 3: Add a UI which allows us to block by default but inform the user in case they want to enable the functionality.

To do those options I think a good way will be via an extension to AdBlockPlus filter syntax for taggi

[2019-02-25 21:24] btlechowski commented on #3015
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used STR from the description. Also check publishers on youtube and twitch.

[2019-02-25 21:27] btlechowski commented on #2973
@NejcZdovc Could you provide test plan for this issue or set it to QA/No if testing is not needed?

[2019-02-25 21:29] yrliou commented on #3473
From the log in the issue description, I think it was failed at challenge_bypass_ristretto stuff instead of webtorrent, cc @tmancey

[2019-02-25 21:34] btlechowski commented on #3103
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1525

a-c on
![image](https://user-images.githubusercontent.com/34715963/53370155-46869180-394d-11e9-9a2d-a

[2019-02-25 21:48] btlechowski commented on #2859
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/53370959-628b3280-394f-11e9-97c0-3666c090bb43.png)

[2019-02-25 21:50] tomlowenthal commented on #3429
Every other password-manager uses an extension to integrate with web browsers. There's no reason Keepass should be an exception.

[2019-02-25 21:50] vertigo220 opened #3491 "Updating Brave causes session to be lost"
## Description

After updating to most recent version (Version 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)), Brave failed to restart as well as restore previous session. After telling it to restart then waiting a few minutes, I manually started it, and then my tabs from my previous session (before updating/restarting) were gone, despite having it set in options to load them.

## Step

[2019-02-25 22:02] tomlowenthal commented on #3437
FWIW, I see this issue in Chrome but not in Brave. This makes me think that it's a profile-specific issue rather than a browser-specific one.

[2019-02-25 22:06] btlechowski commented on #3125
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1490

![image](https://user-images.githubusercontent.com/34715963/53371961-f0681d00-3951-11e9-9feb-9fa94f3d

[2019-02-25 22:07] simonhong commented on #793
This can be closed because api is already implemented and WebUI can use it.
Document: https://github.com/brave/brave-browser/wiki/UI-Color-Themes
https://github.com/brave/brave-browser/issues/2822 can track theme aware webui feature.

[2019-02-25 22:07] #793 closed

[2019-02-25 22:17] btlechowski commented on #3244
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1589

[2019-02-25 22:28] Brave-Matt opened #3492 "Suicide Prevention Lifeline Chat doesn't function in Brave"
## Description
A user reported https://suicidepreventionlifeline.org/chat/ not functioning in Brave. I'm attempting to test it but there are several people "ahead" of me in the chat queue. I think this is worth looking into asap given the subject nature of the website so I've opened an issue to make sure it's not lost in the shuffle.

## Steps to Reproduce

1. Visit <https://suicidepreventionlifel

[2019-02-25 22:44] simonhong commented on #1189
Started to work on this.

[2019-02-25 22:59] diracdeltas commented on #3479
I've used this functionality for inspecting decrypted TLS network traffic in wireshark, and I find it quite useful. It involves setting a custom environment variable so would be unlikely for people who don't know what it does to do it by accident.

If a machine is tampered with (ex: by malware), there are ways to decrypt TLS traffic even if we patched out this Chromium feature. An attacker could a

[2019-02-25 23:19] btlechowski commented on #2110
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1399

[2019-02-25 23:30] mandar-brave commented on #3468
@jsecretan and @ryanml to simplify -

a) all stats including estimated earnings reset as month changes (local TZ midnight reset)
b) payment days stays static - i think it is the 8th (in sync with the pub date)

[2019-02-25 23:35] Liunkae opened #3493 "brave:// pages show up in browsing history"
## Description
Special pages (that begin with brave://, such as brave://history/) show up in the browsing history.

## Steps to Reproduce
   1. Go to brave://history/
   2. Look at the latest entry in the browsing history.

## Actual result:
The history page is in the browsing history.
![](https://user-images.githubusercontent.com/19424103/53376287-6f922c80-3923-11e9-8040-f4e9a5b8c876.png)

## Exp

[2019-02-25 23:41] btlechowski commented on #3123
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1574

[2019-02-25 23:54] btlechowski commented on #2975
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1552

![image](https://user-images.githubusercontent.com/34715963/53377016-c23e0980-3960-11e9-8afe-e520665e

[2019-02-26 00:07] btlechowski commented on #3023
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1433

twitch verified
![image](https://user-images.githubusercontent.com/34715963/53377321-de8e7600-3961-11

[2019-02-26 00:12] btlechowski commented on #3081
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1449. The tab separator has 1 px.

top: 0.61.37
bottom: 0.60.45
![image](https://user-images.githubusercont

[2019-02-26 00:21] btlechowski commented on #3481
Reproduced on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

[2019-02-26 00:33] btlechowski opened #3494 "Wrong date of the first monthly tip on the monthly tip confirmation dialog"
Follow up from https://github.com/brave/brave-browser/issues/3023

## Steps to Reproduce

   1. Clean profile
   2. Enable rewards
   3. Claim Grant
4. Make a recurring tip on a site

## Actual result:

`Your first monthly tip will be sent on` shows current date
![image](https://user-images.githubusercontent.com/34715963/53377321-de8e7600-3961-11e9-8c07-9ef363829d30.png)

## Expected result:
`Your

[2019-02-26 00:36] btlechowski commented on #3287
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1683

![image](https://user-images.githubusercontent.com/34715963/53378695-dd137c80-3966-11e9-85c4-6c491911

[2019-02-26 00:42] btlechowski commented on #3312
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1699

[2019-02-26 00:47] btlechowski commented on #3315
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/53379078-64152480-3968-11e9-9954-7e318275b658.png)

[2019-02-26 00:59] tomlowenthal commented on #3384
I think it's okay to have an HTTP link to an artist's HTTP website.

[2019-02-26 00:59] #3384 closed

[2019-02-26 00:59] btlechowski commented on #3249
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1605

Regular Window
![image](https://user-images.githubusercontent.com/34715963/53379168-ca01ac00-3968-11e

[2019-02-26 01:03] btlechowski commented on #1475
Handled in https://github.com/brave/brave-browser/issues/2975. The fix is part of current Beta (0.61.x).

[2019-02-26 01:12] btlechowski commented on #2603
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from the description

![2603](https://user-images.githubusercontent.com/34715963/53379953-efdc8000-396b-11e9-9e88-5565c4f61d8d.gif)

[2019-02-26 01:27] byroniac commented on #1908
Possibly related: I get error code M7701-1003 missing Widevine component error on Netflix using Ubuntu 18.10 x64 Linux Brave 0.60.45? On Windows 10, I got a prompt to install the Widevine component. Nothing on Linux appeared.

[2019-02-26 01:37] btlechowski commented on #2772
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1194

[2019-02-26 01:42] btlechowski commented on #2942
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from the description.
Used `--simulate-outdated` flag.
Verified that `https://www.brave.com/download` is opened after clicking `Reinstall Brave`

[2019-02-26 01:48] jnki opened #3495 "Tweetdeck does not load with brave shields enabled."
## Description

When Brave shields are enabled, tweetdeck no longer loads.

## Steps to Reproduce

   1. have shields enabled
   2. go to tweetdeck.twitter.com

## Actual result:

![image](https://user-images.githubusercontent.com/17442109/53381289-34feb300-3968-11e9-9430-c5bf285f53bc.png)

## Expected result:
tweet deck should load.

## Reproduces how often:

Easily reproduced.

## Brave version

[2019-02-26 02:05] GeetaSarvadnya commented on #3491
Upgraded profile from `0.59.35` to `0.60.45` Windows 10 x64 - Unable to reproduce
Upgraded profile from `0.58.21` to `0.60.45` Windows 10 x64 - Unable to reproduce

[2019-02-26 02:10] btlechowski commented on #2892
Verification passed on

Brave | 0.61.37 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1487.
Also tested with a-c off instead of rewards off.
Verified that after reconciliation happens when rewa

[2019-02-26 02:32] btlechowski commented on #3209
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Default:
![image](https://user-images.githubusercontent.com/34715963/53383123-cd9c2f80-3976-11e9-80ea-a41e8f577e6d.png)

With `--disable-features=IsolateOrigins,site-pe

[2019-02-26 03:35] srirambv commented on #3495
cc: @lukemulks @jonathansampson

[2019-02-26 04:03] srirambv commented on #3493
Reproduced on Linux as well

[2019-02-26 04:38] Liunkae opened #3496 "Extension settings appears at the bottom of the Manage Search Engines page"
## Description
On the Manage Search Engines settings page, the Extension settings section appears at the bottom. It should only appear on the main settings page.

## Steps to Reproduce
   1. Go to brave://settings/
   2. Select **Manage search engines**
   3. Scroll to the bottom of the page

## Actual result:
The Extensions section appears at the bottom:
![](https://user-images.githubusercontent.

[2019-02-26 06:25] tortino commented on #3469
Hi, it's windows 10.

[2019-02-26 06:34] NejcZdovc commented on #2973
@btlechowski added QA/No flag

[2019-02-26 06:57] Brave-Matt commented on #3469
Can you share a screen shot of what you see? I've only seen what this [sounds like] in Win 7. Solution is to launch using `--disable-gpu` flag as seen in the solution here:
https://community.brave.com/t/error-on-yesterdays-update/39287

[2019-02-26 10:52] eljuno commented on #3212
Users reported that it still not processed with latest 0.60.45 https://community.brave.com/t/no-monthly-rewards-or-tipping-possible/43571?u=eljuno

[2019-02-26 11:18] eljuno commented on #3495
+1s from Twitter

https://twitter.com/torgo/status/1100321016910409728?s=09

[2019-02-26 11:50] mritzmann commented on #3495
Same with [mobile.twitter.com](https://mobile.twitter.com/home). Problem exists because Brave is blocking `api.twitter.com`.

[2019-02-26 12:52] arnoldn commented on #3495
+1 mobile.twitter.com is not working with Ads and trackers blocked in shields.  Worked yesterday, but not this morning.

[2019-02-26 13:57] dayfuaim commented on #3487
Yes, I confirm this.

Brave 0.61.36 Chromium: 73.0.3683.39 (Официальная сборка), beta (64 бит)

[2019-02-26 14:59] NejcZdovc opened #3497 "Panel is not updated immediately"
## Description

If you visit youtube video and open panel % is not updated automatically, you need to re-open it to view %.

## Steps to Reproduce

   1. enable rewards
   2. go to youtube video
   3. open panel

## Actual result:

% stays the same

## Expected result:
% should update if you stay on the panel

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on c

[2019-02-26 15:34] mandar-brave commented on #3468
On review - the assumption for the original requirements was that we ask user to claim rewards as the month changes; here are the new requirements ---- when the month changes.

a) keep the estimated rewards to keep collecting
c) only when the rewards claim is made and rewards are captured, the estimated rewards resets with the next payment

[2019-02-26 15:36] NejcZdovc commented on #3468
@tmancey @ryanml please check if this is implemented

[2019-02-26 15:39] mandar-brave commented on #2887
@srirambv couple things - we have been relegated to use an existing API so the spec does not "say what OS" - it is suggesting format. We are not developing a custom notification if you read the spec - we are going to use a standard chrome API that is available to us. Same will happen to local notifications on Android. The entire idea = use local system notifications.

@jsecretan the UX here will l

[2019-02-26 15:49] jsecretan commented on #3468
Let's hold off on these changes for right now, get this merged in and make another story after some additional discussion.

[2019-02-26 16:04] tmancey opened #3498 "--rewards=staging=false command-line arg and official builds should use production Ads Serve"
## --rewards=staging=false command-line arg and official builds should use production Ads Serve

## Steps to Reproduce

   1.  Launch browser with `--rewards=staging=false` or an official build

## Actual result:
https://ads-server.bravesoftware.com is used for all communications with the Ads Serve for production

## Expected result:
https://ads-server.brave.com should be used for all communicatio

[2019-02-26 16:09] #3497 closed

[2019-02-26 16:32] kjozwiak commented on #3447
PR https://github.com/brave/brave-core/pull/1757.

[2019-02-26 16:34] #3498 closed

[2019-02-26 16:58] bsclifton commented on #3495
Sounds like an ad-block rule update, if this worked yesterday