[2019-04-09 16:15] cezaraugusto commented on #3756
@cndouglas are you able to reproduce it consistently somehow? just opening a new tab and typing fast doesn't repro to me in production.

[2019-04-09 16:29] warwickmm commented on #3756
For me, this appears to occur only when the tab immediately to the left of the new tab has a page already loaded. If creating a new tab from a blank new tab page, I don't experience this issue.

[2019-04-09 17:03] fmarier commented on #4050
I do and this morning, I actually saw a successful Auto-Contribute and monthly tip:

![Auto-Contribute-worked](https://user-images.githubusercontent.com/167821/55819903-afb20680-5aae-11e9-9e81-e4e6e272133e.png)

I wished I had made a screenshot the error message I got yesterday :/

[2019-04-09 17:07] #4030 closed

[2019-04-09 17:47] #3849 closed

[2019-04-09 18:02] bsclifton commented on #413
Huge thanks to @simonhong for the work that resolved this issue 😄

[2019-04-09 18:12] ACheshirov commented on #2301
Ya, this bug is very annoying. I hope they will fix it soon. I was struggling to enable Facebook notifications and now I understand why it was unsuccessful.

[2019-04-09 18:40] cndouglas commented on #3756
@cezaraugusto For me, it is nearly 100% reproducible if I type really fast.
1. Press Cmd+T
2. Start typing `brave`
3. The `b` is dropped.

Full version info:
Brave | 0.65.28 Chromium: 74.0.3729.61 (Official Build)nightly (64-bit)
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Mac OS X

@warwickmm What version of Brave and operating system are you using?

[2019-04-09 19:14] jamesgoodhouse commented on #4055
Thanks for pointing me in the right direction. I searched but struggled finding an already filed issue.

[2019-04-09 19:45] samgiligich commented on #3382
Me too!

[2019-04-09 20:16] snowbound commented on #2301
The main reason why I went back to Chrome after trying Brave for a month back in Nov/Dec last year and now MS has entered the chromium fray

[2019-04-09 20:26] srirambv commented on #4033
* Verification passed on
![image](https://user-images.githubusercontent.com/17010094/55832589-e0f8f980-5ae3-11e9-8cac-8abf8e9e93be.png)
* Verified all Brave branding is retained

[2019-04-09 20:30] srirambv commented on #2931
Verification passed on

Brave | 0.63.35 Chromium: 74.0.3729.61 (Official Build) beta(64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Linux

* Verified the video loaded without having to change default shields settings
* Verified the page loaded with 200 OK status in network tab

[2019-04-09 20:35] srirambv commented on #2562
QA Blocked on #3967 on Linux

[2019-04-09 21:33] bsclifton commented on #4056
cc: @petemill @simonhong

[2019-04-09 23:44] bsclifton commented on #2566
Reverted with https://github.com/brave/brave-core/pull/2188 because there have been unit test issues. When brought up on Slack, @bridiver noticed some issues too. @simonhong can you re-open the original PR and/or hit up @bridiver? Thanks 😄

Removing milestone as code has been reverted

[2019-04-10 00:09] btlechowski opened #4059 "Wrong colors when changing system colors to `Light`"
Follow up to https://github.com/brave/brave-browser/issues/3881

## Steps to Reproduce

   1. Change system colors to `Dark`
   2. Clean install Brave
   3. Go to `brave://settings/`
   4. Change `Brave colors` to `Same as Windows`
5. Change system colors to `Light`

## Actual result:

![image](https://user-images.githubusercontent.com/34715963/55842762-33aed180-5b35-11e9-9719-91bd763430af.png)

I

[2019-04-10 00:10] btlechowski commented on #3881
Verification passed on

Brave | 0.63.35 Chromium: 74.0.3729.61 (Official Build) beta (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Windows 10 OS Build 17134.523

Used test plan from the description.
Logged https://github.com/brave/brave-browser/issues/4059

[2019-04-10 02:31] warwickmm commented on #3756
I can reproduce this 100% of the time on Windows 7 (via RDP) with Brave 0.62.50.

I cannot reproduce this on Arch Linux (5.0.4 kernel) with Brave 0.62.50.

[2019-04-10 05:18] dodas opened #4060 "Omnibar query gets selected after opening a new tab"
## Description

After opening a new tab, query typed into omnibar gets selected after slight delay (about 0.5s).
This causes problem, because typed query is then overridden by following characters.

## Steps to Reproduce

   1. Open a new tab (either with keyboard shortcut, or with [+] button).
   2. Start typing something immediately, for example "brave browser".

## Actual result:

Text in omnib

[2019-04-10 05:21] NejcZdovc commented on #4050
@fmarier did you maybe update browser in the meantime?

[2019-04-10 07:05] AdamGerthel commented on #3756
Still happening to me after update the other day (Version 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)). On a mac.

[2019-04-10 07:29] MalikDE commented on #3756
In fact, the text is not "erased" :  its state becomes "selected", so if you continue typing it will erase what you have typed before.

It seems to me that the text become "selected" when the background image has finished to be downloaded and is displayed.

I've got a slow internet connection and a slow computer.
Version 0.62.51 Chromium: 73.0.3683.103 (Build officiel) (64 bits) - Windows 10

[2019-04-10 07:30] eltonbaroncello commented on #2494
@LaurenWags this bookmark button on the left side of the location bar, it's turning the transition experience a bit annoying. There's any chance to change it. 😒

[2019-04-10 08:23] tmancey commented on #4008
@JoelMon could you please record a longer video showing the balance continuing to drop so I can investigate further as I am unable to reproduce the issue, thanks

[2019-04-10 10:02] #3907 closed

[2019-04-10 10:09] GeetaSarvadnya commented on #3967
I am not getting `Sorry, Ads are not available in your region` for India. I was seeing the message on 0.64.36 but not now. I am not getting this message in any of the Dev and Beta versions.

Brave | 0.64.40 Chromium: 74.0.3729.61 (Official Build) dev (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Windows 10 OS Build 17134.523

Brave | 0.63.3

[2019-04-10 10:17] GeetaSarvadnya commented on #3752
Verification passed on

Brave | 0.63.34 Chromium: 74.0.3729.40 (Official Build) beta (64-bit)
-- | --
Revision | 278d6a0d856d8314f36fb9a68b6e1d85cd0d14e7-refs/branch-heads/3729@{#470}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1983
- Encountered https://github.com/brave/brave-browser/issues/3967

[2019-04-10 10:26] #4042 closed

[2019-04-10 11:27] TontyTon commented on #3756
@MalikDE Yes, you are right this is exactly I observed.
Reproducing on

Brave | 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)
-- | --
OS | Windows 10 OS Build 17763.437

[2019-04-10 11:30] GeetaSarvadnya commented on #3532
Verification passed on

Brave | 0.63.35 Chromium: 74.0.3729.61 (Official Build) beta (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1809

Default - confirmations.json

"next_token_redemption_date_in_seconds": "13199971578",
  "transaction_hi

[2019-04-10 11:51] MariuzM opened #4061 "Brave not saving passwords"
## Description

When clicking save passwords it's not saving them.

## Expected result:
Save passwords?

## Brave version (brave://version info)

Version 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)

[2019-04-10 11:53] TontyTon opened #4062 "Add option to Backup Profile(Settings, History, Paswords, etc) to a file and then restore when required."
## Description

Add option to Backup Profile to a file and then restore when required.
All these things can be backed up -

- Settings
- History
- Bookmarks
- Passwords (Important)
- Search Engines
- Autofill, etc.
And extensions and their settings (if possible)

This will be very useful when we have to set up multiple PCs
(copying the profile folder doesn't work, only few of the above things sust

[2019-04-10 14:32] LaurenWags commented on #2494
@eltonbaroncello I'm not aware of any plans to move the location of the bookmark button.

[2019-04-10 14:50] Indjov commented on #2301
@rebron , any info about that bug?

[2019-04-10 15:04] JoelMon commented on #4008
For the past few releases I've noticed that the balance has not dropped.

I'm using _Version 0.64.40 Chromium: 74.0.3729.61 (Official Build) dev (64-bit)_ and I haven't noticed any drop. I'll continue to keep my eyes on it and let you know if I see it dropping again, hopefully this time around I'll record it at a better quality. :wave:

[2019-04-10 15:16] #3780 closed

[2019-04-10 15:47] InternetJohnny commented on #4056
Ok, so I actually managed to find out a bit more about its behavior.

It seems like every element of the Brave UI except for the address/tabs bar at the top follows (is controlled by) the Windows setting for the UI theme (dark/light).

Here's an example of this:
<img src="https://media.giphy.com/media/ZFKqRhNSm4aN6lZf1R/source.gif">

Basically, if your Brave theme is set to 'light' 🌕, but the Wind

[2019-04-10 16:25] mkarolin opened #4063 "CI build fails due to missing dependencies."
These show up occasionally:

1.
<pre>14:01:45 ../../brave/components/services/brave_content_browser_overlay_manifest.cc(9,10):  fatal error: 'brave/common/tor/tor_launcher.mojom.h' file not found
14:01:45 #include "brave/common/tor/tor_launcher.mojom.h"
14:01:45          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
14:01:45 1 error generated.</pre>

2.
<pre>
../../brave/chromium_src\chrome/grit/generat

[2019-04-10 16:37] MightyCreak commented on #913
As a new comer from Firefox, I would also love that, really much!

[2019-04-10 17:33] fmarier commented on #4050
I'm not sure when the update came in. I guess I'll have to wait until next month to see if I get the same error message. I'll try to remember to take a screenshot.

[2019-04-10 17:54] NejcZdovc commented on #4050
thank you, will close this one. Please reopen it if this is still a problem

[2019-04-10 17:54] #4050 closed

[2019-04-10 19:18] mkarolin opened #4065 "Upgrade Chromium 74.0.3729.61 to Chromium 74.0.3729.75"
QA tests:

Check branding items
Check for version bump

[2019-04-10 19:28] NejcZdovc commented on #4017
blocked on https://github.com/brave/brave-browser/issues/4005

[2019-04-10 19:35] ryanml commented on #2297
@LaurenWags are you able to see if you can reproduce on latest master and nightly and list your STR? I have had a hard time trying to repro this one, and last I checked on was 0.64. (Note I also tried issuing a keyboard interrupt in addition to just cutting my network connection, same results). Thank you!

[2019-04-10 19:40] NejcZdovc commented on #3122
cc @jenn-rhim

[2019-04-10 20:02] ishinome commented on #2301
@rebron I would also like to confirm that these notifications are faulty. For example site: d2jsp.org wont register push notifications with brave, but does it on chrome.

[2019-04-10 20:38] jenn-rhim commented on #3657
@ryanml  I believe that **contextually** it is appropriate to use 'x' as a notion of 'Remove' from this list. The context is _"here is the list of sites you excluded. Would you like to remove any of the sites from this exclusion list?_" I've purposefully displayed the tooltip on hover to make this clear to the user.

[2019-04-10 20:42] eljuno commented on #1002
+1 from Community https://community.brave.com/t/closing-last-tab-closes-the-browser-is-there-any-fix-and-also-button-to-open-recent-closed-tabs/52349?u=eljuno

[2019-04-10 21:19] jsecretan opened #4069 "Build fails with brave_rewards_enabled set to false"
## Description
Builds currently fail when brave_rewards_enabled is set to false.

## Steps to Reproduce

   1. Set brave_rewards_enabled to false.
   2. Try to build

## Actual result:
Build fails with
[code]

[2019-04-10 21:35] lukemulks commented on #3756
+1
[code]

[2019-04-10 21:36] eljuno commented on #889
+1 from Community https://community.brave.com/t/specify-more-details-under-chrome-crashes-leads-to-a-google-page/53368?u=eljuno

[2019-04-10 22:25] jumde opened #4070 "npm audit fix in brave-crypto"
[code]

[2019-04-11 00:23] cndouglas commented on #4060
Thanks for the report @dodas! This is a duplicate of #3756; feel free to subscribe to that issue for updates. Fortunately, the Brave team is currently working on this bug.

[2019-04-11 00:24] cndouglas commented on #3756
+1 from #4060 by @dodas

[2019-04-11 01:35] Brave-Matt commented on #2763
+1 from community:
https://community.brave.com/t/youtube-ads-not-skippable/46179/6

[2019-04-11 01:49] Miyayes opened #4071 "Polish "Welcome Back" Brave Rewards panel and text"
### Issue

The following greeting panel requires additional polish prior to release. Text may need to be removed, better styled or formatted.

![image](https://user-images.githubusercontent.com/11497541/55925019-6260a100-5c36-11e9-971c-bb625187564d.png)

@mandar-brave @jenn-rhim @alexwykoff

[2019-04-11 03:06] #4070 closed

[2019-04-11 03:10] dodas commented on #4060
Sorry for duplicate, it's hard to find..
Thanks!

[2019-04-11 03:10] #4060 closed

[2019-04-11 03:28] cndouglas commented on #4060
No problem! I added this issue's title to that issue's comment thread. The keywords may make it easier for others to find in the future.

[2019-04-11 10:42] cdvchill commented on #2400
For me this issue is solved when unticking _content settings_ in clear browsing data menu.

[2019-04-11 11:23] Modelmat commented on #3756
I'm not sure if this should be a new bug, but it seems similar enough to me.
I get the issue as directly described as above, but it also happens if I start typing while the browser is still white and loading, it then loads, showing typed text, but then the text is selected and typed over once the new tab loads.

[2019-04-11 11:27] Modelmat commented on #3545
Additionally pages such as `brave://invalid` show a `chrome://invalid` page.
![image](https://user-images.githubusercontent.com/25718989/55953866-9cff2380-5ca0-11e9-9afc-bc7fbb5b0580.png)
and the tab shows:
![image](https://user-images.githubusercontent.com/25718989/55953870-9ffa1400-5ca0-11e9-9b65-1567bde66080.png)

[2019-04-11 13:24] Uristocles commented on #3756
Is it okay to [link the workaround here](https://chrome.google.com/webstore/detail/new-tab-override/fjcmlondipcnnpmbcollgifldmajfonf?hl=en-GB) for folks coming here for a quick fix?  :-)

[2019-04-11 15:13] mbacchi opened #4072 "rpm --checksig not verifying signatures in upload script"
The `upload_to_rpm_repo` script was not checking the signature of the rpms properly before upload. Fix the script to verify the signatures before uploading to s3.

[2019-04-11 15:28] thepcwiz101 commented on #3160
Well looks like google chrome on solus os (linux distro) plays videos with no lag. This issue seems to be a windows 10 issue also alongside an aged AMD APU. I assume the only way to solve the problem is getting a new pc or downgrading to windows 7 (very insecure especially after this year but it is less gpu heavy from my testing last fall.)

[2019-04-11 15:35] AlexeyBarabash commented on #3261
I could not reproduce this issue:
![image](https://user-images.githubusercontent.com/24739341/55970333-058dd680-5c88-11e9-8437-205e2d10b8eb.png)

Brave | 0.65.44 Chromium: 74.0.3729.61 (Developer Build) (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Linux

I think, it had been fixed by https://github.com/brave/sync/pull/284.

[2019-04-11 15:35] #3261 closed

[2019-04-11 15:41] AlexeyBarabash commented on #2812
Can reproduce it.
I will take this issue, it looks the issue goes from `brave_sync_service_impl.cc`.

[2019-04-11 15:43] bnjmnjns commented on #1380
Still broken for the [are.na](https://are.na) [extension](https://www.are.na/block/737135).
Surely the best solution would be to allow users set cookies settings per extension?
At the moment it seems the only option I have is to allow _all_ cookies or switch to another browser? Seems less than ideal..

Thanks

[2019-04-11 16:00] #3160 closed

[2019-04-11 16:19] simonhong opened #4073 "Make BraveDarkModeObserverTest.ObserveProperNativeThemeTest run only on Mojave"
This test only valid on Mojave.

[2019-04-11 18:08] bbondy commented on #1380
Please post new issues, we keep 1 issue per landed area of code unless it is reverted. Thank you!

[2019-04-11 18:36] cndouglas commented on #3756
@Uristocles That extension seems to have fixed the problem for me. Thanks!

[2019-04-11 18:49] karenkliu commented on #3589
Added designs to the issue.

[2019-04-11 18:59] kjozwiak commented on #4059
Looks like we'll want to get this fixed in `0.63.x` before it makes it into the release channel.

[2019-04-11 19:32] petemill commented on #3589
@tomlowenthal please can we keep the section title for Shields and use a sub-section title for 'Global Defaults' as per https://github.com/brave/brave-core/pull/1909? So that we can have `Shields` as a top-level menu item and then can have other sub-sections if we need them (social media blocking?).

In your latest wording, it seems to keep the section title as `Shields global defaults`

In @karen

[2019-04-11 20:42] karenkliu commented on #3589
How's this:
![settings](https://user-images.githubusercontent.com/2388823/55991631-900e1000-5c5f-11e9-8ac6-4c83fa92c122.png)

[2019-04-11 20:44] LaurenWags commented on #2297
@ryanml I reproduced on latest nightly available on macOS:

Brave | 0.65.28 Chromium: 74.0.3729.61 (Official Build) nightly(64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Mac OS X

1. Fresh profile with 0.65.28 (used staging env - launched with `--rewards=staging=true`)
2. Enable Rewards, claim grant.
3. Navigate to a site (used ddg as it's v

[2019-04-11 20:49] Blaxou opened #4074 "Performance issue while watching HD livestreams on Twitch (while in background ?)"
## Description
When watching a stream on HD (1080p 60fps) on Twitch, it often hangs and loads as if my connection wasn't powerful enough where it's not the case as Safari handles the same livestream perfectly fine and doesn't hangs and loads.

## Steps to Reproduce

   1. Open http://twitch.tv
   2. Go on a stream and select the highest quality (the highest the quickest it hangs)
   (3.) Go onto a

[2019-04-11 21:11] karenkliu commented on #3121
Designs added.

[2019-04-11 21:47] LaurenWags commented on #2286
Verified passed with

Brave | 0.63.35 Chromium: 74.0.3729.61 (Official Build) beta(64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Mac OS X

* Verified going to articles (such as https://www.wsj.com/articles/state-funeral-for-president-george-h-w-bush-suggests-its-possible-to-unite-as-well-as-divide-1544048342) on Release version (0.62.51) and

[2019-04-11 22:09] jumde opened #4075 "Arbitrary File Overwrite in tar - adblock"
[code]

[2019-04-11 23:37] rebron opened #4076 "remove "Brave Pay"/Brave Account text"
## Test plan
1. Visit brave://settings/payments
2. Ensure `To add or manage Brave Pay payment methods, visit your Brave Account` does NOT show (see picture below for example)

## Description
C74 update included text that doesn't belong. Need to remove the following text:

"To add or manage Brave Pay payment methods, visit your Brave Account"
from:
brave://settings/payments

![Screen Shot 2019-04-1

[2019-04-11 23:39] anthonypkeane opened #7490 "Update Settings layout"
## Description

Pls update the settings layout

**General**
Brave Rewards
Brave Sync
Passwords
Payment methods
….

![Settings Screen.jpg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/66ee1f01-a3c4-44cb-ac4a-317f98140976)

[2019-04-12 02:39] kjozwiak commented on #1380
Regarding Google Keep not working, we have https://github.com/brave/brave-browser/issues/3650 opened. Please add +1's into that issue if you're having issues with Google Keep.

[2019-04-12 02:53] kjozwiak opened #4077 "Manual test run on OS X for 0.63.x - Beta"
## Per release specialty tests
 - [x] Mobile.twitter.com right click hang.([#2410](https://github.com/brave/brave-browser/issues/2410))
 - [x] Confirmations implementation.([#3117](https://github.com/brave/brave-browser/issues/3117))
 - [x] Tipping panel view not showing on some YouTube channels.([#3335](https://github.com/brave/brave-browser/issues/3335))
 - [x] `Add funds` and `Rewards settings`

[2019-04-12 02:53] kjozwiak opened #4078 "Manual test run on Windows x64 for 0.63.x - Beta"
## Per release specialty tests
 - [x] Blocking functionality on www.wsj.com.([#2286](https://github.com/brave/brave-browser/issues/2286))
 - [x] Mobile.twitter.com right click hang.([#2410](https://github.com/brave/brave-browser/issues/2410))
 - [ ] Foreground/Background notifications aren't implemented on Linux for Brave Ads.([#2511](https://github.com/brave/brave-browser/issues/2511))
 - [x] Con

[2019-04-12 02:53] kjozwiak opened #4079 "Manual test run on Linux for 0.63.x - Beta"
## Per release specialty tests
 - [x] Beta/Dev build UI issues on Manjaro/Arch Linux .([#1555](https://github.com/brave/brave-browser/issues/1555))
 - [x] Blocking functionality on www.wsj.com. ([#2286](https://github.com/brave/brave-browser/issues/2286))
 - [x] Mobile.twitter.com right click hang.([#2410](https://github.com/brave/brave-browser/issues/2410))
 - [x] Foreground/Background notificati

[2019-04-12 03:03] tincho opened #4080 "Brave asks "Do you want to leave?" when actually the server is just triggering a download, not leaving the site."
## Description

This happens in Google Drive (yes.... _the irony_...), when I choose a whole folder and click "Download", Drive packs it as a .zip, when it's done, it sends some signal to the browser to trigger the download.
Then, Brave shows the same confirmation you see when you are leaving a site with unsaved data (I think its the `onbeforeunload` event).

The most annoying of this is that the

[2019-04-12 05:04] NejcZdovc commented on #2297
@LaurenWags so it didn't tip twice now, the only problem now was that transaction was not recorded?

[2019-04-12 06:45] bsclifton commented on #4075
Temporary fix created here: https://github.com/brave/ad-block/pull/206
More permanent (when available) fix available here: https://github.com/brave/ad-block/pull/207

[2019-04-12 08:04] bnjmnjns commented on #1380
Ok thanks!

[2019-04-12 10:42] NejcZdovc opened #4081 "Schema tests for db"
Currently when doing migration we only check specific data that we migrated, but we don't check schemas. We should check schema after migration if it's migrated correctly

[2019-04-12 12:10] silent5am opened #4082 "[Suggestion] More features for "new tab" screen"
Hi, I hope this is the right place to make a few suggestions - if not, pls let me know where.

This is for the desktop version.

1) When I open a new tab, below the stats there will be "quick link" or "short-cut" or "auto-bookmark" or whatever they are called, allowing me to quickly access a website. These are generated automatically and I would like to have more control over this feature.

a) all

[2019-04-12 13:42] jsecretan commented on #4008
So, discussing with @mandar-brave and @davidtemkin, we want to:

1) Change "Current earnings this month (Estimated") to "Estimated earnings this cycle"
2) On 12:01 on the 5th of every month, reset the notifications and earnings counters to include both uncashed "receipts" and earnings starting from the 1st.

[2019-04-12 13:50] jsecretan commented on #4008
Because cashed in and un-cashed in confirmations are not currently connected, and because we want to avoid drastic changes to the schema, @tmancey has suggested a way where we know to determine what was not yet cashed in:
If there are 10 transactions in the history and we have 7 unblinded payment tokens, we know that the first 3 transactions were cashed-in and that the last 7 transactions had not

[2019-04-12 15:54] rebron commented on #4053
@jonathansampson Looks like a fixed landed in Nightly builds, can you try again in a Nightly build.

[2019-04-12 15:57] rebron commented on #4056
cc: @srirambv to try to reproduce on Windows.

[2019-04-12 15:58] rebron commented on #4059
related to #4056 it looks like.

[2019-04-12 16:00] rebron commented on #4061
cc: @kjozwiak, @rebron to reproduce.

[2019-04-12 16:05] rebron commented on #4074
cc: @kjozwiak, @rebron to reproduce.

[2019-04-12 16:06] rebron commented on #4075
Closing. Fixed.

[2019-04-12 16:06] #4075 closed

[2019-04-12 16:13] anthonypkeane commented on #3978
Another one here: https://community.brave.com/t/sync-has-stopped-and-no-longer-syncs/49651/2
As I mentioned ^^, users won't provide that detailed info @rebron

[2019-04-12 16:34] rebron commented on #4080
<img width="449" alt="Screen Shot 2019-04-12 at 9 31 33 AM" src="https://user-images.githubusercontent.com/5951041/56052345-07967a80-5d06-11e9-8561-7508c2f08707.png">

Selecting Leave takes you to file download screen.
<img width="348" alt="Screen Shot 2019-04-12 at 9 33 11 AM" src="https://user-images.githubusercontent.com/5951041/56052388-209f2b80-5d06-11e9-8cb0-fd88bea450ba.png">

[2019-04-12 16:37] rebron commented on #4080
In Chrome, no dialogs are displayed and .zip file is automatically downloaded and displayed in download manager bar.
<img width="582" alt="Screen Shot 2019-04-12 at 9 37 10 AM" src="https://user-images.githubusercontent.com/5951041/56052553-94d9cf00-5d06-11e9-9d88-23ab69477a3e.png">

[2019-04-12 16:43] tincho commented on #4080
Hi there!
Thanks for the screenshots (I didn't include them as they would be in spanish)

The bug is not "I can't download" but rather "confirmation message is annoying, and wrong". Because we are not leaving the site, just downloading a file while still on the site.
If the folder is large and Drive takes some time preparing it, the user may have focused on another tab and when the message appears

[2019-04-12 16:51] egid commented on #1280
I'm seeing the exact same problem @igneosaur is reporting. When blocking, the inspector shows 'injected styles'; on reload, they are not applied.

[2019-04-12 17:53] rebron commented on #1105
cc: @bradleyrichter

[2019-04-12 17:58] bradleyrichter commented on #1105
Muon seems to have a more "pleasant surprise of customization" effect...

![image](https://user-images.githubusercontent.com/13509546/56056762-efc4f380-5d11-11e9-9d85-d210c7cd8a41.png)

[2019-04-12 19:06] timolson commented on #533
How exactly can I delete the cookies for a specific site?  I only see content controls for new content, and no way to manage cookies other than "Delete ALL of them for the last {hour, day, week}"  I need to be able to clear specific cookies.  I want to delete Google's cookies but keep the ones for my bank, for example, without removing the entire history of all sites I browsed during the period.

[2019-04-12 19:30] Brave-Matt commented on #3978
Some more reports:
https://community.brave.com/t/desktop-sync-error-couldn-t-contact-sync-servers/50543
https://community.brave.com/t/brave-sync-is-really-buggy/48125
https://community.brave.com/t/desktop-sync-error-couldnt-contact-sync-servers/44272/16
https://www.reddit.com/r/brave_browser/comments/bb9vg8/android_sync_keeps_disappearing/
https://www.reddit.com/r/brave_browser/comments/bcdej5/syn

[2019-04-12 19:49] jonathansampson opened #4088 "Typo on Sync Page"
## Description
Small typo on brave://sync. The page should say _affect_ rather than _effect_. This issue was reported by a user on twitter: https://twitter.com/jackbremer/status/1116788373329518593

## Actual result:
![image](https://user-images.githubusercontent.com/815158/56062461-0ed37d80-5d32-11e9-9a40-a9780c8ee33b.png)

## Brave version (brave://version info)
0.62.51

[2019-04-12 21:21] LaurenWags commented on #4076
Encountered this issue while testing #4033 on macOS

Brave | 0.63.35 Chromium: 74.0.3729.61 (Official Build) beta(64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Mac OS X

[2019-04-12 22:16] yrliou opened #4089 "Translation bubble is not shown on nightly builds"
## Description
When visits a page in a different locale on nightly, translation bubble is not shown automatically.
This is because we don't have google API key configured, so the translate flow is not triggered.

## Steps to Reproduce
   1. Visit https://www.deutschland.de/de/topic/wissen/school-of-games-ausbildung-zum-spieleentwickler or any pages not in your default locale.

## Actual result:
No

[2019-04-12 22:34] fmarier opened #4090 "Auto-contribute fails due to unpaid non-signed up creators"
This is similar to #4050, but on a different machine (work laptop) and on Beta instead of Release:

[code]

I got the following "insufficient funds" error:

![insufficient-funds](https://user-images.githubusercontent.com/167821/56069496-244ba600-5d38-11e9-9f11-4b3fbdb65381.png)

even though I have enough BATs in my grants wallet:

![wallet](https://user-images.githubusercontent.com/167821/56069525

[2019-04-12 22:35] fmarier commented on #4090
@NejcZdovc did I provide enough info this time?

[2019-04-12 23:27] diracdeltas commented on #3539
Noting this part from https://httpwg.org/http-extensions/client-hints.html: "Transmitted Client Hints header fields SHOULD NOT provide new information that is otherwise not available to the application via other means, such as using HTML, CSS, or JavaScript. "

This seems to clearly indicate that we SHOULD disable client hints if:
1. The user has disabled JS
2. Other ways of getting that same info

[2019-04-12 23:30] cndouglas commented on #533
@timolson Go to **Site Settings > Cookies > All cookies and site data** or the URL `brave://settings/siteData`. You'll see a list of cookies by site.
![image](https://user-images.githubusercontent.com/19424103/56070960-b19af480-5d50-11e9-9841-cf2cc71be3e1.png)

[2019-04-12 23:39] timolson commented on #533
I can get there with the URL you provided, but there is no "Site Settings" under Settings.  Is my version old?

Version 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)

[2019-04-12 23:46] cndouglas commented on #533
Click Advanced at the bottom of Settings:
![](https://user-images.githubusercontent.com/19424103/56071266-e9a33700-5d52-11e9-98fc-6f68fc9050df.png)
Near the bottom of the **Privacy and security** section:
![image](https://user-images.githubusercontent.com/19424103/56071297-0d667d00-5d53-11e9-9884-6350362a6911.png)

[2019-04-13 00:11] fmarier commented on #3365
This is also a problem for our pairwise whitelisting (i.e. grouping of related domains):

- `adgainersolutions.com/adgainer`
- `hotmart.com/en`
- `maxmind.com/en/home`
- `narrative.io/2: narrative.io`
- `tongdun.cn/?lan=EN`
- `ysance.com/data-services/fr/home`

[2019-04-13 00:39] timolson commented on #533
@cndouglas Nope, mine looks entirely different.  Linux.  No "Site Settings."

![image](https://user-images.githubusercontent.com/1697115/56072236-af816780-5d49-11e9-85b6-aab39aeddda1.png)

AHH but under _Content Settings_ I finally found "See all cookies and site data."

Thanks for the PEBKAC support

[2019-04-13 00:49] RandomUserName22 commented on #1432
Paranoia.  As others have replied, that warning does not mean you are in a dangerous browser configuration.

There are legitimate reasons for using an extension outside of the chrome store - from using a homebrew to scroogle overlords forcing their worldview on developers and banning/deprecating extensions and apps (AutoforwardSMS & Dissenter, for example).

[2019-04-13 01:00] Modelmat opened #4094 "Extension Syncing"
## Description
Currently Brave does not sync extensions through the sync chain. It does not sync the extension settings (proxyOmega and other chrome extensions sync settings through the google sync)

## Steps to Reproduce

   1. Set up a browser on one device, add some extensions
   2. Set up a sync chain with another device
   3. No extensions were synced.

## Actual result:
No extensions sync no

[2019-04-13 01:03] rebron commented on #4088
cc: @AlexeyBarabash @rossmoody Can you take a look and grab this one? It should be "affect" instead of effect.

[2019-04-13 01:04] Modelmat opened #4095 "Bookmark Icons Do Not Sync"
## Description

## Steps to Reproduce

   1. Set up a browser on one device, add some bookmarks
   2. Set up a sync chain with another device
   3. Bookmark icons do not sync

## Actual result:

Synced device;
![image](https://user-images.githubusercontent.com/25718989/56072548-94f7ce80-5ddb-11e9-85dd-fc3e0b52b342.png)
original device;
![2019-04-13_11-02](https://user-images.githubusercontent.com/

[2019-04-13 01:23] rebron commented on #3978
I'm not sure what we're doing with this particular ticket. Any issues that we file should be reproducible/actionable. A tally of positive/negative feedback we can track elsewhere?

What's the next step when we compile a long list of unreproducible feedback issues? Those individual reports should be handled via support, investigated further to be filed as separate issues, or duped against existing

[2019-04-13 01:58] cndouglas commented on #533
Looks like the name was recently changed from "Content settings" to "Site settings". (I am running the nightly version — currently 0.65.50.)

[2019-04-13 05:22] littleboy0k opened #4096 "Brave should port a lite Antivirus into it"
Brave should consider putting a lite antivirus that will protect it if it is installed in a computer that doesn't have virus protection.

[2019-04-13 06:33] eljuno commented on #3750
+1 from Community https://github.com/brave/brave-browser/issues/3750#issuecomment-480103072

[2019-04-13 10:07] Jeztical commented on #4096
And have it take in more ram and cpu usage? No thanks.

[2019-04-13 10:16] fernandosouza commented on #208
It's working on Nightly version. Thank you, guys.

[2019-04-13 14:17] bluesabre commented on #2369
In Xubuntu 18.04, 18.10, and 19.04, Brave will open the URL, but a segmentation fault also occurs. I've only noticed this in recent weeks, so it may be a different issue entirely.

$ brave-browser google.com
[5917:5917:0413/101055.963283:ERROR:sandbox_linux.cc(364)] InitializeSandbox() called with multiple threads in process gpu-process.
Segmentation fault (core dumped)

[2019-04-13 16:52] Blaxou commented on #4095
I don't think it is needed to sync the icons as they usually can change pretty often, when you visit a bookmarked page the icons are cached by the browser. It's probably a design choice the, not a bug ;)

[2019-04-13 16:58] Blaxou commented on #4096
Well there isn't much upsides in adding an antivirus I'd say, the only thing I could think of would check in virustotal if the file might be malicious or not, but running an antivirus isn't the goal of Brave or any browser ;)

[2019-04-13 19:05] snyderp commented on #3539
There are now conversations on CH in at least 3-4 different locations, each with a different group of people attached (the above, private and public channels on Slack, IETF GH issues, W3C PING GH issues, etc).

Maybe it would be good to centralize the conversation in one place while we work though this?  Or even have a brief talk in person about it.  Maybe this week's privacy confab?

[2019-04-14 00:05] pizzadude opened #4097 "Brave apt repo key expired"
Hi, the Brave apt repo key is expired.

W: An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: https://brave-browser-apt-release.s3.brave.com bionic InRelease: The following signatures were invalid: EXPKEYSIG 4FE13824E3FFC656 Brave Software <support@brave.com>
W: Failed to fetch https://brave-browser-apt-release.s

[2019-04-14 00:29] bluz71 commented on #4097
Do this, it appears to have fixed it for me:

[code]

[2019-04-14 00:38] pizzadude commented on #4097
Thanks, that fixed it. Closing..

[2019-04-14 10:55] deZillium commented on #4097
Without trying to sound alarmist, that ticks every checkbox in a packing server compromise.

With the old key:
/etc/apt/trusted.gpg.d/brave-browser-release.gpg
------------------------------------------------
pub   rsa4096 2018-10-15 [SC] [expires: 2019-08-08]
      D8BA D4DE 7EE1 7AF5 2A83  4B2D 0BB7 5829 C2D4 E821
uid           [ unknown] Brave Software <support@brave.com>
sub   rsa2048 2018-10-

[2019-04-14 11:35] pizzadude commented on #4097
@deZillium You make a good point. Re-opened.

[2019-04-14 11:38] GraOrigin opened #4098 "[Suggestion] Global Settings being applied globally"
When editing global settings via Global Shield Standardvalues it should be applied globally.
Just noticed that those settings are not being applied when in TOR-Modus - had to set it all again.

Version 0.62.51 Chromium: 73.0.3683.103 (Offizieller Build) (64-Bit)

[2019-04-14 11:48] pizzadude commented on #4097
@deZillium I found this on brave community forum.

https://community.brave.com/t/linux-users-please-update-your-linux-repos/53810

So it's probably not compromised. (Unless an attacker infiltrated the support staff, but that's just tinfoil hat)

[2019-04-14 11:58] romeyDog commented on #2690
Same issue. Would appreciate any update or workaround. thanks.

[2019-04-14 12:35] deZillium commented on #4097
I may be paranoid, but I'm still not satisfied with that. The post mentions that the key expires on April 13th. The key (as shown above by me) actually expires on August 8th (that's a 4 months difference, so not a typo).

I may need a new tin-foil hat, mine is getting pretty worn out by now.

[2019-04-14 12:44] pizzadude commented on #4097
@deZillium Then why did the key expire yesterday? I've had the key in my system for a long time. Only yesterday did it show "EXPKEYSIG 4FE13824E3FFC656" which I'm pretty sure means expired.

[2019-04-14 13:20] deZillium commented on #4097
Just saying what "apt-key list" shows me. There are two "different" keys in apt-key: one source is trusted.gpg (output below) and the other is trusted.gpg.d/brave-browser-release.gpg (output above). Why the "same" key appears twice with matching IDs and different expirations is beyond me, unless someone extended the expiration date (but then shouldn't the key in trusted.gpg be updated?).
[code]
(n

[2019-04-14 13:55] GeetaSarvadnya commented on #2569
1+ https://community.brave.com/t/bookmarks-and-passwords-sync-issue/53566/4

One more scenario on duplicate bookmarks sync.
1. Clean profile 0.61.52
2. Start sync chain on Desktop windows
3. Join sync chain through a QR code on Android
4. Import 1000 bookmarks on Desktop
5. Make sure 1000 bookmarks synced on Android
6. Reset sync chain on Desktop
7. Create a sync chain again between Desktop and An

[2019-04-14 14:14] jonathansampson opened #4099 "Unable to log into transferwise.com"
## Description
Users are unable to log into transferwire.com with shields up.

## Steps to Reproduce
1. Navigate to transferwire.com
2. Attempt to login

## Actual result:
An error is shown (TBD)

## Expected result:
User is authenticated.

## Reproduces how often:
Always.

## Brave version (brave://version info)
TBD

### Reproducible on current release:
- Does it reproduce on brave-browser dev/be

[2019-04-14 14:55] helionmelion commented on #4026
question: is this the same problem when trying to see wishlist from aliexpress? either disabling shields for this site or entering private mode, the navigation does not pass login verification. Shopping card works.

[2019-04-14 16:30] srirambv commented on #4096
I feel Antivirus should be at a system level and not at browser level. Don't think we would work on this at any point of time.

cc: @tomlowenthal  for any thoughts

[2019-04-14 16:30] #4096 closed

[2019-04-14 16:31] srirambv commented on #4094
This would be extremly difficult with mobile devices in chain. Not sure if we plan to implement this

cc: @bbondy @tomlowenthal

[2019-04-14 16:32] srirambv commented on #4095
Once you visit the bookmark link the favicon automatically loads.  This is expected behaviour.

[2019-04-14 16:32] #4095 closed

[2019-04-14 16:41] tamj0rd2 commented on #3253
Same problem here with amazon.co.uk. Widevine is already installed and netflix is working, so it can't be a DRM problem

1. https://images-eu.ssl-images-amazon.com/images/G/02/ape/sf/desktop/DAsf-1.50.62847f7._V468670964_.js?csm_attribution=APE-SafeFrame
2. https://unagi-eu.amazon.com/1/events/com.amazon.csm.nexusclient.prod
3. https://atv-ps-eu.amazon.co.uk/cdp/catalog/GetPlaybackResources?asin=B

[2019-04-14 17:27] gdh1995 opened #4100 "Feature Request: A permanent URL for the inner new tab page"
## Description
I'm an author of the Chrome extension "Vimium C". While my extension overrides the default newtab page (to make it configurable on my extension's options page), one user of Vimium C has asked me for re-enable the default dashboard as the new tab page: https://github.com/gdh1995/vimium-c/issues/28#issuecomment-482473420 .

After I searched in the source code of brave-core, I found it

[2019-04-14 18:09] stefonarch commented on #2407
+1 on arch linux
0.62.51
Chromium: 73.0.3683.103

[2019-04-14 20:16] bbondy commented on #4094
no extensions on mobile but we can still do it for desktop

[2019-04-14 20:24] simonhong commented on #4056
Aligning base UI theme(ex, context menu) with brave theme is not implemented on Windows for now.
On MacOS, we did this by changing app appearance when brave theme and OS theme are different.
With this, we can use different app appearance than MacOS theme.
However, we can't apply this approach on Windows because Windows doesn't support per-app appearance. Need to find different approach for Windows

[2019-04-14 20:37] elBradford opened #4101 "Don't log to debug.log unless debugging is on"
## Description
On Windows, a file 'debug.log' file is opened in the user's Documents folder while Brave is open. As a normal user who has not enabled a debug mode for the browser

This is unexpected behavior - I don't expect the browser to ship with debugging enabled, and I don't expect a log file to be placed in such a conspicuous place as my Documents folder if I haven't explicitly enabled debug

[2019-04-14 20:41] simonhong commented on #4053
Fix for this was landed since 0.64 (https://github.com/brave/brave-core/pull/1836)

[2019-04-14 20:41] #4053 closed

[2019-04-14 21:18] simonhong commented on #3804
@btlechowski We can test `Same as Windows` feature since 0.63 (currently beta)

[2019-04-14 22:19] HLFH commented on #1851
Related to https://github.com/brave/browser-laptop/issues/12235
Please follow: https://bugs.chromium.org/p/chromium/issues/detail?id=908132
And the IETF TLS working group Internet Draft: https://github.com/tlswg/draft-ietf-tls-esni

[2019-04-14 23:42] Blaxou commented on #4096
@srirambv How about just querying VirusTotal for the file we just downloaded ? Would it overload the site or anything ?

[2019-04-15 04:42] NejcZdovc commented on #4090
yeah, this is great. Looks like that https://github.com/brave/brave-browser/issues/3640 didn't fix it. We will need to add balance fetch for notifications as well

[2019-04-15 10:03] #3697 closed

[2019-04-15 10:04] #3668 closed

[2019-04-15 10:15] GeetaSarvadnya opened #4102 "Unable to open Ads from Notification center"
## Description

Unable to open Ads from Notification center

## Steps to Reproduce

   1. Set Focus Assist settings to `Alarm Only`
   2. Clean profile 0.63.40
   3.  Launch brave using `C:\Program Files (x86)\BraveSoftware\Brave-Browser-Beta\Application\brave.exe --enable-logging --log-level=2 --vmodule=brave_ads=3`
   4. Enable Rewards
   5. Open brave.com
   6. Keep the page idle for 15 secs

[2019-04-15 10:19] GeetaSarvadnya commented on #4102
https://bravesoftware.slack.com/archives/C43LW5U2H/p1555318060044600?thread_ts=1555302183.044200&cid=C43LW5U2H
Comments added in above slack thread:
using undocumented and unsupported methods it is possible to detect the status of Focus Assist.
@tmancey is investigating the issue.

[2019-04-15 11:06] #4065 closed

[2019-04-15 12:07] GeetaSarvadnya commented on #2410
Verification passed on

Brave | 0.63.40 Chromium: 74.0.3729.61 (Official Build) beta (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Windows 10 OS Build 17134.523

Verified the test plan from https://github.com/brave/brave-core/pull/2043

[2019-04-15 12:12] tmancey commented on #3117
Test Plan: https://docs.google.com/document/d/1ym8tTKdwSkKUPEI4O_iD2qLaYFMdsCjsUdEod5ouZIg/edit#

[2019-04-15 12:19] GeetaSarvadnya commented on #3426
Verification passed on

Brave | 0.63.40 Chromium: 74.0.3729.61 (Oficjalna wersja) beta (64-bitowa)
-- | --
Wersja | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}

- Verified the test plan and STR from the description
![image](https://user-images.githubusercontent.com/38657976/56132036-9f19f880-5fa6-11e9-857c-fbb1894d03b4.png)

[2019-04-15 13:01] #3624 closed

[2019-04-15 13:19] dylanh724 commented on #3436
What is the current status of this issue?

[2019-04-15 13:43] srirambv opened #4104 "Insufficient funds notification when there is no site in a-c list"
## Description

Insufficient funds notification when there is no site in a-c list

## Steps to Reproduce

   1. Enable rewrads
   2. Do not claim any grants
   3. Do not add any sites to a-c list
   4. Trigger reconcile
   5. Insufficient funds notification shown

## Actual result:

Insufficient funds notification when there is no site in a-c list

## Expected result:
Should not show insufficient

[2019-04-15 15:13] tolpster commented on #3253
I am also experiencing the same problem with the WidevineCdm in the USA as of April 15th and I had shields down with the latest version of Brave.

[2019-04-15 15:15] tolpster commented on #3253
I also was taking a secure test on Friday for Dell using Brave and the connection stalled.  I had all shields down for it.

[2019-04-15 15:20] tolpster commented on #3253
Just turn off the "Connections Encrypted" and it should work, it did for me.

[2019-04-15 15:29] DTrejo commented on #679
Another option for using dom distiller: chrome://dom-distiller/ aka brave://dom-distiller: copy url; click bookmarklet, paste, read

[2019-04-15 15:36] AstroGD commented on #3253
@tolpster Disabling Connections Encryption does not work in my case as I commented above. I need to disable the blockage of ads and trackers for this particular error. But disabling parts of the shield is a workaround and no solution as the most people using brave I think want the entire shield activated.
But anyway thanks for the comment

[2019-04-15 16:08] #3339 closed

[2019-04-15 16:59] bsclifton commented on #4094
This would be a beautiful feature on desktop 🎉

[2019-04-15 17:02] rossmoody opened #4107 "Update shields styles"
We have a few remaining visual updates that need to be done for the shields panel after the theming changes.

1. Bring back the swoop.
2. Give arrow icon orange color on hover: https://d.pr/i/jGNK2F
3. Revise odd button margins on bottom: https://d.pr/i/1ZeBme
4. Revise trackers list to extend to sides of the panel so the scrollbars extend the full width and height and also fix the formatting of t

[2019-04-15 17:58] jasonrsadler commented on #4045
This also affects `publisher_id` in addition to `url`

[2019-04-15 18:16] jasonrsadler commented on #4045
May also be worth mentioning that this seems to affect VOD only. I am unable to reproduce with live streams.

[2019-04-15 18:35] Brave-Matt commented on #3751
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/bcqn9v/autoplay_was_blocked_on_this_page_pet_peeve/

[2019-04-15 19:12] #958 closed

[2019-04-15 19:12] #955 closed

[2019-04-15 19:12] #960 closed

[2019-04-15 19:12] #964 closed

[2019-04-15 19:12] #3444 closed

[2019-04-15 19:12] #3826 closed

[2019-04-15 19:25] petemill opened #4108 "Settings sections should be better ordered for popularity and complexity"
New order according to @bradleyrichter 👍

[code]

[2019-04-15 19:27] petemill opened #4109 "Settings: Social Media Blocking should be part of Shields section"
## Description
Social Media Blocking is a shield, so should be inside Shields section. There is a desire to only fold this under once it's also controllable per-site in the toolbar shields controls.

## Designs
Designs for social media blocking per-site in the Shields panel TBA

Designs for social media blocking in Shields section, in Settings:
![shields w social media blocking option B](https://u

[2019-04-15 19:32] mladenko commented on #1308
I don't know if this is still the problem, but if you wont to change 12h to 24h format, you can change to your local language in settings then put it on top, Brave will change time format. I guess it has something to do with **navigator.language** option.

[2019-04-15 21:04] LaurenWags opened #4110 "brave://history shows incorrect bookmark icon"
## Description
When viewing your history on brave://history, if you've visited a bookmarked site, the brave://history page shows the star icon next to the visited page, not our bookmark icon.

## Steps to Reproduce

   1. Have some sites bookmarked.
   2. Visit at least one.
   3. View brave://history.

## Actual result:
Star icon shows next to the bookmarked page visited, not our bookmark icon.

[2019-04-15 21:22] karenkliu commented on #3589
Reviewed this with @tomlowenthal; we decided to go with a modified version of option B for the social media stuff. I will attach specs to #4109 .

For this issue, here is the design with Tom's feedback:
![shields settings](https://user-images.githubusercontent.com/2388823/56166082-90711880-5f89-11e9-8c65-d1863376ec38.png)

[2019-04-15 21:27] TampaJoey commented on #1737
Did this issue ever get solved?

Spectrum TV doesn't work in Brave Browser.

Does not work with Shields down.

Spectrum TV does work in regular Chrome Browser with no problem.

[2019-04-15 21:51] LaurenWags opened #4111 "brave://crash does not crash tab"
## Description
On C74 versions of Brave, brave://crash does not work to crash a tab. chrome://crash however, does work.

## Steps to Reproduce

   1.  Open a tab.
   2. Navigate to brave://crash --> nothing happens, NTP remains dashboard
   3. Change URL to be chrome://crash --> tab crashes

## Actual result:
brave://crash does not crash the tab

## Expected result:
brave://crash should crash the

[2019-04-15 21:59] karenkliu commented on #4109
Added designs @tomlowenthal

[2019-04-15 22:08] rossmoody opened #4112 "Brave feedback component"
Brave needs a UI component to be able to solicit feedback on our various features (in particular if it is in beta) at the moment the user is using the feature. Since we are a privacy protecting browser and don't collect user data, we need to give the average user a way to express feedback so we can be more diligent about making well-informed updates.

[2019-04-15 22:20] kjozwiak commented on #4111
CCing @rebron @bbondy. We might want to get this fixed before `0.63.x` goes out the door. Seems like a CR74 regressions.

[2019-04-15 22:25] bsclifton commented on #4111
Using Nightly version 0.65.56, I noticed that:
- works as expected if you go to `chrome://crash`
- shows a blank screen if you go to `brave://crash`

[2019-04-15 22:27] LaurenWags commented on #4111
interesting, @bsclifton - I'm not seeing a blank screen when navigating to brave://crash, it just continues to show my dashboard (on beta, dev, nightly). chrome://crash works as expected for me (and also shows brave://crash in the URL bar)

[2019-04-15 22:46] astier opened #4113 "Allow to disable history"
## Description

The browsing-history is always stored. I personally prefer never to store my browsing history for privacy-reasons but also because I never found it useful.

## Expected result:

There should be an option in the settings which allows to disable the browsing-history completely.

## Brave version (brave://version info)

brave-bin-0.62.51 from the AUR on Arch Linux.

[2019-04-15 22:51] bsclifton opened #4114 "npm audit failure on master"
## Description
When running `npm audit` for `brave-core`, you get the following:
[code]

[2019-04-15 23:01] HennyBro commented on #2690
Same issue here on the latest Nightly Build and all other builds from Brave Browser for desktop.

[2019-04-15 23:01] Brave-Matt commented on #2791
+2 from Community:
https://community.brave.com/t/remove-drm-from-brave/54081

[2019-04-15 23:03] HennyBro commented on #2690
Seems like they are working on it and expect to fix it "soon"! :D

[2019-04-16 00:20] mandar-brave commented on #4043
@rossmoody we need an icon for the change.
cc @ryanml

[2019-04-16 01:05] Arbiter-Odie commented on #464
I would like to throw in my  vote in favor of this. It is hard to do heavy research with the tab titles obscured. I would prefer nesting, but even Vivaldi's system would be a huge upgrade for usability. Also thank you for the work you are doing.

[2019-04-16 02:11] SergeyZhukovsky opened #4115 "Insufficient funds message immediately after auto contribution"
The original issue is described in Android repo https://github.com/brave/browser-android-tabs/issues/1465. Not sure is it appeared on desktop, but it is likely.

[2019-04-16 02:51] btlechowski commented on #3335
Verification passed on

Brave | 0.63.42 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Ubuntu 18.04 LTS

Used test plan from https://github.com/brave/brave-core/pull/1756 and https://github.com/brave/brave-browser/issues/3335#issuecomment-480575488

[2019-04-16 03:08] btlechowski commented on #3907
Verification passed on

Brave | 0.63.42 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Ubuntu 18.04 LTS

Used test plan from https://github.com/brave/brave-core/pull/2122

[2019-04-16 03:13] btlechowski commented on #4111
Reproduced on

Brave | 0.63.42 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Ubuntu 18.04 LTS

[2019-04-16 04:06] GeetaSarvadnya commented on #4102
![Ads](https://user-images.githubusercontent.com/38657976/56181423-198c5c00-602b-11e9-8a23-41e7195ad6ce.gif)

[2019-04-16 05:15] Ashutosh-Kukreti opened #4116 "Brave Intaller installed 32bit version instead of 64 bit"
## Description

I downloaded Brave Browser for windows (64 bit version) from the site and the 32 bit version got installed

## Steps to Reproduce

   1. Go To brave.com
   2. Click Download
   3.Install Brave

## Actual result:

![image](https://user-images.githubusercontent.com/38154154/56183372-ef8b6780-6033-11e9-98e3-ae8604705023.png)

## Expected result:

## Reproduces how often:

## Brave ver

[2019-04-16 05:47] thepcwiz101 opened #4117 "[Feature Request] Add extension support on android"
Kiwi browser (a chromium based browser) has added extension support on android. It's hard to believe and i have tested it. It is exclusive to the xda-developers forums for the next 24 hours. kiwi browser has a github repository too. I have screenshots i will be uploading to the issue in a few minutes.

[2019-04-16 05:48] thepcwiz101 commented on #4117
![Screenshot_20190416-004149](https://user-images.githubusercontent.com/31826503/56184880-5c294680-5fe1-11e9-8acc-882317d8fbc3.png)
![Screenshot_20190416-004212](https://user-images.githubusercontent.com/31826503/56184888-64818180-5fe1-11e9-84ae-fb029c96b4f6.png)

[2019-04-16 06:16] MarcoJanse opened #4118 "Extensions other users don’t unload on exit"
**## Description**
Brave loads extensions for each user you defined in people, but they don’t clean up when you close the only the window of the specific user, unless you close all open Brave windows. Also some subframes of websites you opened under another person don't close on exit.

**## Steps to Reproduce**

1. Create more people in Brave under People/Manage People
2. Open some tabs in your pr

[2019-04-16 07:02] GeetaSarvadnya commented on #4111
Reproduced on

Brave | 0.63.40 Chromium: 74.0.3729.61 (Official Build) beta (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Windows 10 OS Build 17134.523

[2019-04-16 07:31] #4114 closed

[2019-04-16 07:33] GeetaSarvadnya commented on #3381
1+ https://community.brave.com/t/when-downloading-files-with-the-gtk-theme-linux/54170/2

[2019-04-16 08:11] Milo-W commented on #1002
So what's the state of this? Why is it in the backlog? Listen, do you want people to use Brave or do you want to do your own shit no one cares about? We need basic functions which are a STANDARD by now for web browsers. This should be done like with 3 months! And those tickets are from 2018!

[2019-04-16 09:32] Gaeger commented on #3978
I also have a similar issue. Syncing between my private devices works fine. If I add a device in my company to the sync chain, the sync only works for initial. After that new changes (adding/removing bookmarks) do not sync. I also can't remove the device from the sync-chain! It just shows the endless loading windows:
![image](https://user-images.githubusercontent.com/49043555/56197839-fae19180-603

[2019-04-16 09:57] tmancey commented on #3599
Test Plan: Confirm Ads work as expected, however this has been tested in other tickets so how much needs testing would depend on other tickets

[2019-04-16 11:55] GeetaSarvadnya commented on #3846
1+ https://community.brave.com/t/google-chrome-like-pdf-inline-pdf-viewer/54283/2

[2019-04-16 12:33] GeetaSarvadnya commented on #3599
Verification passed on

Brave | 0.63.40 Chromium: 74.0.3729.61 (Official Build) beta (64-bit)
-- | --
Revision | 5df2c8936783bd7575987e45d72a92fcf528496b-refs/branch-heads/3729@{#645}
OS | Windows 10 OS Build 17134.523

- Verified "View", "click", "landed" and "dismiss" status in `Confirmations.json`
- Verified Ads received and current earnings displayed properly in Ads panel in brave://rewards pa

[2019-04-16 13:13] jeroenev opened #4120 "Third-party cookies: SessionOnly option."
Lots of sites are broken when disabling third party cookies completely
there are a few options to fix this while limiting the privacy implications

- FirstPartyIsolation (already mentioned in other ticket) like FF has,
- SessionOnly thirdpartycookies like FF has (network.cookie.thirdparty.sessionOnly)

another option would be to allow users to whitelist a certain thirdparty on a certain domain, in

[2019-04-16 13:14] bnjmnjns opened #4121 "Shield blocks Are.na extension"
## Description
The chrome extension for the website are.na's cookies appear to be blocked by Brave's shields

## Steps to Reproduce

   1.  Install extension from the [chrome web store].(https://chrome.google.com/webstore/detail/arena/lkihjlcipnbgeokmfnpogjfflofbfhga)
   2. [register](https://www.are.na/sign_up) for an are.na account
   3. attempt to sign in.

## Actual result:
Signin in blocked w

[2019-04-16 13:17] jeroen7s commented on #778
per-domain whitelist would also be nice :)

[2019-04-16 13:29] srirambv commented on #4118
Reproduced the extension process. Subframes from second window gets removed once the window is closed

[2019-04-16 13:32] srirambv opened #7606 "[Feature Request] Add extension support on android"
Issue reported by @thepcwiz101

Kiwi browser (a chromium based browser) has added extension support on android. It's hard to believe and i have tested it. It is exclusive to the xda-developers forums for the next 24 hours. kiwi browser has a github repository too. I have screenshots i will be uploading to the issue in a few minutes.

![Screenshot_20190416-004149](https://user-images.githubusercont

[2019-04-16 13:33] srirambv commented on #4117
Closing in favour of https://github.com/brave/browser-android-tabs/issues/1471. New issue opened on Andriod repo

[2019-04-16 13:37] pvlg commented on #1475
Another attempt to start using brave browser failed

[2019-04-16 13:38] srirambv commented on #4116
Please check the platform in task manager to see if you have 64bit or 32bit. Just because its installed in `Program Files (x86)` doesn't mean its a 32bit application that is installed.

![image](https://user-images.githubusercontent.com/17010094/56213998-0f6a5d80-602b-11e9-857c-de0c7651cd95.png)

[2019-04-16 13:38] #4116 closed

[2019-04-16 13:39] MarcoJanse commented on #4118
The subframes looks to be more random. I ran in to this a couple of times with subframes from https://login.microsoftonline.com (Office 365) and https://azure.net (portal.azure.com). Just tried to reproduce this again and now the subframes get closed like they should.

[2019-04-16 13:41] srirambv commented on #4113
You can set browser to always launch private window by adding the `--incognito` flag to the startup. Normal windows will have history when you browse.

[2019-04-16 13:41] #4113 closed

[2019-04-16 13:43] srirambv commented on #4100
cc: @jonathansampson

[2019-04-16 13:47] srirambv commented on #4098
Tor windows doesn't inhert shields settings from normal window. Tor window has its own global shield settings that you can change only for Tor windows. This is the expected behaviour as Tor windows are guest windows they don't inherit any setting from normal window.

cc: @tomlowenthal @riastradh-brave

[2019-04-16 13:47] #4098 closed

[2019-04-16 13:48] srirambv commented on #4097
cc: @mbacchi @bkero @mihaiplesa

[2019-04-16 13:51] srirambv commented on #3293
cc: @davidtemkin @mandar-brave

[2019-04-16 14:00] srirambv commented on #2827
Dont think this will be done. Closing the issue for now

cc: @davidtemkin @tomlowenthal

[2019-04-16 14:00] #2827 closed

[2019-04-16 14:01] srirambv commented on #2490
@bbondy ok to close this?

[2019-04-16 14:02] srirambv commented on #2571
@fmarier ok to close this in favour of #3846?

[2019-04-16 14:04] srirambv commented on #2596
May be the VM is low on memory and crashing. Does this happen on actual device or just VM? If its just VM then it would probably be because of low RAM or not enough virutal processors assigned. Closing the issue for now. If you manage to reproduce the issue on an actual device please reopen the issue

[2019-04-16 14:04] #2596 closed

[2019-04-16 14:07] srirambv commented on #1555
Verification passed on

![image](https://user-images.githubusercontent.com/17010094/56216336-3fb3fb00-602f-11e9-9508-93a679a1ec7b.png)

Note: The package I built kept failing so used the AUR package available for beta to test

[2019-04-16 14:14] srirambv opened #4122 "Grey out extensions in Tor settings"
## Description

Although extensions are disabled internally, they show up as enabled in Tor settings. The extensions section needs to be removed completely or greyed out

## Steps to Reproduce

   1. Open Tor window
   2. Open settings
   3. Extensions shows up as enabled even thoug they don't work on Tor Windows

## Actual result:

![image (1)](https://user-images.githubusercontent.com/17010094/5

[2019-04-16 15:35] lukemulks commented on #4102
I'm running win10 x64, with Focus Assist set to `Alarms Only`, and am observing the notifications in the OS Notification Tray.

[code]

Including a screenshot to illustrate as well.
![brave-sys-notifications-04162019-win10x64](https://user-images.githubusercontent.com/8979240/56223423-91a25400-6022-11e9-8fb2-3201a27729a7.JPG)

[2019-04-16 15:48] cwbriscoe opened #4124 "Wallet creation fails using work proxy."
## Description

Brave Rewards does not work behind work proxy.  I get the error message:
[code]

![image](https://user-images.githubusercontent.com/691222/56224079-d67aba80-6023-11e9-8263-525346c09473.png)

## Steps to Reproduce

   1. Click Rewards Icon
   2. Click Try Again

OR

   1. Click Rewards Icon
   2. Click Learn More
   3. Click Try Again

## Actual result:
Fails to create wallet

## Ex

[2019-04-16 15:59] #2490 closed

[2019-04-16 16:16] jonathansampson commented on #3327
Another scenario involving Twitch's new Squad Mode streaming. A few suggestions:

- Tip the primary window (clicking a secondary stream makes it the primary)
- Split a tip up between all streamers (Could result in unnaturally small amounts of BAT)
- Tip panel shows streamers icons, and lets you choose which one(s) should receive the tip.

![image](https://user-images.githubusercontent.com/815158/5

[2019-04-16 16:24] NejcZdovc commented on #3327
for simplicity I would go with first one (based on url)

[2019-04-16 16:38] jonathansampson commented on #3327
@NejcZdovc That works, but it's worth noting that the URL doesn't change even if you choose a different streamer to focus on.

[2019-04-16 16:46] fmarier commented on #2571
Yes, this is no longer be necessary since we'll be removing pdf.js entirely.

[2019-04-16 16:46] #2571 closed

[2019-04-16 17:01] rebron commented on #606
Closing in favor of newer design.

[2019-04-16 17:01] #606 closed

[2019-04-16 17:05] jonathansampson commented on #2622
The website attempts to load an iframe from idmsa.apple.com. This page doesn't get the cookie it expects, and therefore responds with an `X-FRAME-OPTIONS: DENY` header.

[2019-04-16 17:13] bsclifton commented on #2423
Closing as this project has basically come to a conclusion

[2019-04-16 17:13] #2423 closed

[2019-04-16 17:26] bbondy opened #4128 "Update ad-block DEPS to avoid memory access violation"
Update DEPS for this commit:
https://github.com/brave/ad-block/commit/21506b7160b7366b6436d32548e2ed9c79585499

It could be a fix to this issue:
https://github.com/brave/brave-browser/issues/3839#issuecomment-477748695

[2019-04-16 17:59] riastradh-brave opened #4129 "navigator.hardwareConcurrency serves as a fingerprinting vector"
We should fix it to a certain number to plug this vector.

However, there's an issue: if a script can (a) run CPU-intensive computations in parallel, and (b) measure time, then the script can estimate the number of CPUs using those two tools.  So this goes a little deeper.  But we can at least plug the easy fingerprinting vector.

[2019-04-16 18:00] fmarier commented on #4097
If you run through the installation instructions again, you will get the new key. It's actually the same key as before, but we extended the expiration on it since it was going to expire last Saturday.

We are working on a proper key rotation mechanism that will be seamless, so make sure you have the `brave-keyring` package installed to avoid these kinds of errors in the future.

[2019-04-16 18:07] riastradh-brave commented on #4129
Related: https://github.com/brave/brave-browser/issues/2471

[2019-04-16 18:09] bkero commented on #4097
Sorry you all experienced this. We are moving to have the signing key managed (optionally) by the brave-keyring package, which should have rotated this key out.

I (as the author) did not expect old copies of the installation instructions to be installing the key in an alternative location (from an older version of the instructions).

When the key went live, we also posted the new copy up at https

[2019-04-16 18:58] cndouglas opened #4130 "MISSING: unVerifiedCheck in Brave Rewards panel"
## Description
In the Brave Rewards panel, it shows the following text in light blue if a site is not verified: "MISSING: unVerifiedCheck".

## Steps to Reproduce
   1. Go to github.com.
   2. Click the Brave Rewards button in the URL bar.

## Actual result:
![](https://user-images.githubusercontent.com/19424103/56236252-c0ceba80-604e-11e9-838f-bc675a586645.png)

## Expected result:
There should n

[2019-04-16 19:08] kjozwiak commented on #3839
@hspencer77 ran into a crash when he was upgrading brave on `macOS 10.4.4 x64`. After taking a look at the crash, seems to be the same crash that @davidtemkin and @monaxle ran into, example:

[code]

Crash report: https://stats.brave.com/dashboard#crash/5cae2aa20bb29e001fbc62f8

[2019-04-16 19:18] #4097 closed

[2019-04-16 19:20] LaurenWags opened #4131 "Ads are enabled by default after update to 0.63.x"
## Description
When you update from a version where Ads is not available, the Ads toggle gets turned on without user choice.

## Steps to Reproduce

1. Remove any existing Beta installs/profiles.
2. Clean install https://github.com/brave/brave-browser/releases/tag/v0.61.48 (this is a Beta version where Ads are disabled, I don't know of any more recent beta versions where this is the case)
3. Launc

[2019-04-16 19:50] diracdeltas opened #4132 "Sync should show warning not to share the code with anyone"
STR:
1. Go to brave://sync
2. Click 'start a new chain'
3. Click either desktop or mobile
4. It shows the sync code (either code words or a QR code) without any type of warning that this is a sensitive encryption key.

Impact: Someone could accidentally share the code with Brave (ex: in a support request) which gives us the access needed to decrypt their sync data. The user has no idea the sync wo

[2019-04-16 19:51] Brave-Matt commented on #3960
@rebron same behavior in both.

[2019-04-16 19:52] diracdeltas commented on #4132
Note: this needs to also be fixed in Android which presumably uses the same text. (and iOS whenever it launches)

[2019-04-16 19:52] Brave-Matt commented on #3960
+1 https://community.brave.com/t/email-redirect-not-working-on-web-de-and-gmx-de/43965/7?u=mattches

[2019-04-16 19:52] rebron commented on #4132
![Screen Shot 2019-04-16 at 12 51 57 PM](https://user-images.githubusercontent.com/5951041/56239682-82cd9880-6046-11e9-80af-46594fbab103.png)
Muon text for reference.

[2019-04-16 19:54] astier commented on #4113
@srirambv my objection to the incognito mode is that in incognito mode no cookies will be used and saved. I need to use cookies and be able to disable history at the same time.

[2019-04-16 20:16] diracdeltas commented on #3539
Here's what I think are some good reasons that C-H should be disabled in Brave:

* It increases fingerprinting surface by exposing information that was otherwise only available via JS
* It has low risk of breakage due to other browsers not implementing it
* Preventing C-H from sending info when the info is otherwise available has high implementation complexity. For instance, if the user has an ext

[2019-04-16 20:47] texastoast opened #4133 "Current Release channel .deb is corrupt"
## Description

Attempting to install the release version on Ubuntu fails due to a corrupt release archive.

__Affected archive: brave-browser_0.62.51_amd64.deb__

## Steps to Reproduce

   1. Follow Release Channel install instructions for Ubuntu 16.04+ on this page: https://brave-browser.readthedocs.io/en/latest/installing-brave.html#beta-channel-installation
   2. When performing the 'apt updat

[2019-04-16 21:19] bsclifton commented on #4113
@astier in that case, I believe you can use the `Clear browsing data on exit` feature that we'll be introducing with our next release, 0.63.x. Per our release schedule, we're shooting for a release next week. This feature is already live in the Beta, Dev, and Nightly channels

Basically, you go to brave://settings/clearBrowserData and then you can choose what you want deleted on exit (for regular

[2019-04-16 21:19] btlechowski commented on #4131
Reproduced on

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Windows 10 OS Build 17134.523

[2019-04-16 21:20] LaurenWags commented on #4065
Verified passed with

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Encountered https://github.com/brave/brave-browser/issues/4076 while testing

[2019-04-16 21:30] diracdeltas opened #4134 "add issue to PR template to update docs"
these docs should be kept up to date WRT code changes, in order of likelihood that they need an update:

* https://github.com/brave/brave-browser/wiki/Deviations-from-Chromium-(features-we-disable-or-remove)
* https://github.com/brave/brave-browser/wiki/Proxy-redirected-URLs
* https://github.com/brave/brave-browser/wiki/Fingerprinting-Protection-Mode
* https://github.com/brave/brave-browser/wiki/B

[2019-04-16 22:06] jonathansampson opened #4135 "Extensions UI in Settings Page"
## Description
UI for Extensions is visible in other settings pages.

## Steps to Reproduce
1. Navigate to brave://settings/passwords
2. Scroll down

_Note: This happens for other pages as well, such as brave://settings/payments, brave://settings/addresses, brave://settings/fonts, brave://settings/searchEngines, etc._

## Actual result:
An extension UI component occludes the page content.

![exten

[2019-04-16 22:14] #4135 closed

[2019-04-16 22:14] bsclifton commented on #4135
This is a dupe - fixed by recent work landed by @petemill 😄

[2019-04-16 22:29] astier commented on #4113
Thank you. I will try it.

[2019-04-16 22:34] jonathansampson opened #4136 "Dark Favicons Hard to See in Dark Mode"
## Description
Some favicons are hard to see in dark mode. Originally shared on Twitter:

![image](https://user-images.githubusercontent.com/815158/56248486-cf789a00-606d-11e9-98a0-21797abc3811.png)

## Steps to Reproduce
1. Enable _Dark Mode_
2. Navigate to GitHub

## Actual result:
Favicon in tab is hardly visible.

## Expected result:
Favicons should be more easily visible.

## Reproduces how o

[2019-04-16 22:44] simonhong opened #4137 "brave://adblock is loaded in private window"
Does it make sense loading it with private profile?
cc @bbondy

[2019-04-17 00:15] deZillium commented on #4097
@bkero Updating to the latest brave-keyring version (1.2) reports these warnings:
[code]

Not opening a separate bug report, since it's work on this bug that caused the warnings. As far as I can tell it's just the package dependencies that generate the warnings (manually checking the dependencies doesn't show any of the usual "Depends:" lines).

Apt depends on those packages which gives ("apt-cach

[2019-04-17 00:44] fmarier commented on #4097
I opened a separate bug for this to make sure it doesn't slip through the cracks and gets fixed: https://github.com/brave/brave-release/issues/4 (private repo)

[2019-04-17 00:51] #3756 closed

[2019-04-17 03:56] Jezz1e opened #4139 "Shield prevents signing up on Uphold when trying to KYC"
## Test plan
See https://github.com/brave/brave-core/pull/2773

## Description

I haven't created an Uphold account yet so when I tried clicking "Connect" through the "Your Uphold Wallet" on the Brave Rewards website and sign up from the given link, I couldn't because of Shield. However, when I disable it I'm able to sign up.

   1. Log in to https://publishers.basicattentiontoken.org and click on

[2019-04-17 05:13] NejcZdovc commented on #4130
closing as this was fixed with https://github.com/brave/brave-core/pull/2121

[2019-04-17 05:13] #4130 closed

[2019-04-17 05:14] DenishKakadiya opened #4140 "Open Wifi portal in Brave"
## Description
Whenever we are at public wifi like railway, cafe, or college wifi, we need to login in wifi portal. In Chrome, portal automatically opens when you visit any website. In Firefox also, we get notification for opening portal or we can open portal using "detectportal.firefox.com" link. However, In Brave there is no such feature.  As discribed in issue #2390, we can open wifi portal in

[2019-04-17 05:35] Gaeger commented on #3978
Updates to the last post:
After a while the faulty device has been removed from the sync chain (by removing on my Android). But the faulty device still thinks it is part oft the chain.

[2019-04-17 08:50] #4073 closed

[2019-04-17 09:32] CodeFuriate commented on #820
+1

[2019-04-17 09:40] CodeWarriorr opened #4141 "Brave crash while opening on macOS, version: Beta && Dev && Nightly"
## Description
Any of the mentioned dev versions wont start on macOS

## Steps to Reproduce
   1. Download
   2. Open
   3. Crash

## Actual result:

[code]

## Expected result:
Opened application - browser

## Reproduces how often:
every time

## Brave version (brave://version info)
Trying every other build for two weeks now

### Reproducible on current release:
yes, all of them.
The only version

[2019-04-17 11:05] JulianoFL commented on #2025
+1, i use Brave is the best browser here, but without this function is really "annonying" for me to use it.

[2019-04-17 12:38] #4128 closed

[2019-04-17 12:47] #4089 closed

[2019-04-17 12:54] srirambv opened #4142 "Segmentation fault when launching a second window via terminal"
## Description

Segmentation fault when launching a second window via terminal.

## Steps to Reproduce

   1. Launch brave from terminal
   2. Open a new terminal window and launch a second window
   3. Console logs segmentation fault and exits but the second browser window is still opened

## Actual result:

Release (Manjaro): No crash dump ID generated for release on Ubuntu
[code]
Beta: [Crash D

[2019-04-17 14:04] LaurenWags opened #4143 "media publisher info not shown in panel until you navigate away and come back"
## Description
Sometimes media publisher info isn't displayed in the panel until you navigate away and come back to the page. This is not happening on 0.62.51, is happening on 0.63.x and above.

## Steps to Reproduce

1. Clean profile, launch Brave
2. Enable Rewards (I used panel)
3. Navigate to youtube
4. Search for someone’s channel (I used Jonathan Sampson, but you can search for others who hav

[2019-04-17 14:05] tmancey commented on #4131
@LaurenWags this issue will be resolved by https://github.com/brave/brave-browser/issues/3967

[2019-04-17 14:06] srirambv commented on #4143
Reproduced on Linux running `0.63.44`. Issue happens for any channel video that is played after searching for the channel

[2019-04-17 14:10] btlechowski commented on #4143
Reproduced on

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Windows 10 OS Build 17134.523

Not reproducible on

Brave | 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)
-- | --
Revision | e82a658d8159cabbd4938c1660f9bb00b4a82a23-refs/branch-heads/3683@{#902}
OS | Windows

[2019-04-17 15:01] #4115 closed

[2019-04-17 15:34] srirambv commented on #3680
Verification passed on

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Linux

* Search engine entry is updated on `client.json` file
![image](https://user-images.githubusercontent.com/17010094/56300427-f2ee2400-6103-11e9-8882-c9dc723ec971.png)
*  Verified after viewing an ad navigat

[2019-04-17 15:50] kjozwiak commented on #3901
@Brave-Matt would you know where that particular URL might exist within Brave so we can verify? If . the URL doesn't exist within Brave, we should add the `QA/No` label instead.

[2019-04-17 15:55] cjwijtmans opened #4144 "middle click closes pinned tab"
## Description
middle click closes pinned tab

## Steps to Reproduce
   1. open tab
   2. pin tab
   3.  middle click tab

## Actual result:
pinned tab closes

## Expected result:
pinned tab does not close

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
Brave | 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)
Revision | e82a658d8159cabbd4938c1660f9bb00

[2019-04-17 16:22] #3956 closed

[2019-04-17 16:26] kjozwiak commented on #3907
@jasonrsadler just a quick question. When upgrading the `v3` database to the `v4` database, the two database schema's look the same. Is there a way to tell if the database was updated to `v4`? I'm noticing that the size of `publisher_info_db` increases when i's updated, but it looks the same in `DB Browser`, example:

Here's the `publisher_info_db` that you've provided in the `zip`:

<img width="8

[2019-04-17 16:49] bbondy commented on #4137
I think this is as expected.
Each profile is a pair of normal context and incognito context.
So there's no real such thing as private profile as far as I understand.

[2019-04-17 16:50] #4134 closed

[2019-04-17 17:20] rebron commented on #2927
@fmarier QA needed?

[2019-04-17 17:46] fmarier commented on #4142
I think I've also run into this on my personal laptop (Debian unstable, Brave release is my default `x-www-browser`). I hadn't been able to narrow it down to the second launch but that makes sense now since I leave the browser open all the time and it seems to happen when I click on links in akregator, emacs, mutt.

I've also noticed a strange `xdg-open`  behaviour (it opens two new tabs in Brave,

[2019-04-17 17:47] fmarier commented on #4142
Other than making `xdg-open` annoying, it doesn't seem to cause any noticeable problems, so I'm not sure what's actually crashing.

[2019-04-17 17:50] rebron commented on #3832
Closing. Fixed with https://github.com/brave/brave-core/pull/1909

[2019-04-17 17:50] #3832 closed

[2019-04-17 18:10] rebron commented on #2791
@tamj0rd2 can you try Netflix/Widevine again on Ubuntu in current release or any channel you prefer (beta/dev/nightly). We have widevine working now as of 62.x.

[2019-04-17 19:07] mkarolin opened #4145 "Upgrade Chromium 74.0.3729.75 to Chromium 74.0.3729.91"
QA tests:

Check branding items
Check for version bump

[2019-04-17 19:09] NejcZdovc commented on #4043
waiting for design and final decision on how it will work

[2019-04-17 19:10] rossmoody commented on #4043
@davidtemkin Has some final fine tuning to do and then we should be good to go, I think.

[2019-04-17 19:45] kjozwiak commented on #3752
@tmancey would it be possible to basically add something into the logging that specifies that the CDN check has failed? Right now, QA is basically reliant on the UI via #3967. However, #3967 is currently broken so there's no way for QA to check if ads are not appearing due to being in an incorrect region or something else might have regressed. If the UI breaks in future builds, QA won't be able to

[2019-04-17 19:47] rebron commented on #4132
Suggested text for this page:
**Treat this code like a password.** If someone gets ahold of it, they can read and modify your synced data.

Reference for what we mention in Wallet:
<img width="611" alt="Screen Shot 2019-04-16 at 2 36 24 PM" src="https://user-images.githubusercontent.com/5951041/56316360-ed4a0b80-610e-11e9-8080-11658675bff2.png">

[2019-04-17 19:49] omyno commented on #3756
This is an [upstream bug](https://bugs.chromium.org/p/chromium/issues/detail?id=924935), fixed [here](https://chromium-review.googlesource.com/c/chromium/src/+/1559115).

[2019-04-17 19:53] rebron commented on #3568
cc: @simonhong

[2019-04-17 20:19] LaurenWags commented on #3468
Verified passed with

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified test plan and screenshot from https://github.com/brave/brave-core/pull/1768
![Screen Shot 2019-04-17 at 4 09 00 PM](https://user-images.githubusercontent.com/28145373/56318154-92271180-612c-11e

[2019-04-17 20:22] alexwykoff opened #4147 "Sync - UX improvement - Users need a confirmation message after first successful sync of two devices"
## Description
After numerous usability tests, a consistent pattern of confusion emerged where showing a list of devices on sync chain was insufficient for conveying success to the users. This confusion led to operational errors on the part of the user.

## Steps to Reproduce
This is not a programmatic error, so to reproduce one would need to conduct usability tests with new users.

## Actual resu

[2019-04-17 20:24] mileswatson opened #4148 "Add support for music.youtube.com"
## Description
Brave rewards tab only recognises the base URL "music.youtube.com" as "youtube.com". Any other path produces the "No activities yet" page on the Brave Rewards window. Furthermore, "https://youtube.com/results?q=example" also suffers from this issue.

## Steps to Reproduce

   1. Visit "https://music.youtube.com/hotlist", "https://music.youtube.com/library", or "https://music.youtube

[2019-04-17 20:39] FelschR commented on #3640
Just had this issue again today with v0.62.50.

[2019-04-17 20:55] #3967 closed

[2019-04-17 20:55] #4131 closed

[2019-04-17 21:11] FWDekker opened #4149 "HuffPost website stuck in infinite reload when using Shields"
## Description
The [HuffPost website](https://huffpost.com/) sends the user in an infinite loop of reloads when Shields is enabled.

## Steps to Reproduce
1. Ensure that Brave Shields is *enabled*.
2. Accept the consent form.
3. Go to [HuffPost.com](https://huffpost.com/) or [some article on the website](https://www.huffpost.com/entry/israel-flight-attendant-measles-outbreak_n_5cb760a3e4b09dc528cc

[2019-04-17 21:25] bbondy commented on #3756
Yep but upstream didn't port the fix to Chromium 74, so we did that. It'll be available in our 0.63.x which is Chromium 74 based.

[2019-04-17 21:38] #4076 closed

[2019-04-17 21:47] srirambv opened #4150 "Unable to translate certain pages from context menu"
## Description

Unable to translate certain pages from context menu

## Steps to Reproduce

   1. Visit https://ja.wikipedia.org/wiki/ in nightly
   2. Right click on page and click on Translate
   3. First time it shows translation failed
   4. Right click second time and click on translate
   5. Shows trasnlated but only few words actually get translated.

## Actual result:

Unable to translate

[2019-04-17 21:49] yrliou commented on #4150
Translation failed because there was a translate request involved more than the maximum elements MS api allowed for a single request, will need to handle this in go-translate.

[2019-04-17 21:50] bbondy commented on #3839
@kjozwiak

I'm particularly interested in any crashes if they happen on a version
=*.0.66.*

If any new crashes come in for that please only post the link if the version is higher than what is listed above

[2019-04-17 22:00] tmancey commented on #3752
Sure if you could raise a ticket and we can triage with Jimmy as once we generate the bundle from the catalog we can log information such as the amount of campaigns. Also we can log the IsRegionSupported call to show what region was detected.

[2019-04-17 22:41] DevopsDood commented on #34
This was a very useful feature I miss

[2019-04-18 01:01] alexwykoff commented on #4147
This is the proposed modal. Text and image are not final.
<img width="771" alt="Screen Shot 2019-04-17 at 7 58 53 PM" src="https://user-images.githubusercontent.com/1434040/56329923-7121e900-614b-11e9-9295-a75a6d572f56.png">

[2019-04-18 01:24] kjozwiak commented on #3922
Verification **PASSED** on `macOS 10.14.4 x64` using the following build:

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Went through the test plan outlined under https://github.com/brave/brave-core/pull/2111

[2019-04-18 01:43] kjozwiak commented on #1071
Still an issue with the following build:

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

[2019-04-18 03:49] karan commented on #3718
This is happening on me on latest Android build as well.

[2019-04-18 03:49] kjozwiak opened #4151 "https://www.skysports.com being incorrect categorized as "business-ecommerce""
## Description

When visiting https://www.skysports.com, Brave will classify the website as `business-ecommerce` rather than `sports` or `sports-soccer`. Example:

[code]

Here's the `pageScore`: [pageScoreSkySports.txt](https://github.com/brave/brave-browser/files/3092143/pageScoreSkySports.txt)

## Steps to Reproduce

Prerequisite: build with ads enabled/working.

   1. launch brave and enable `

[2019-04-18 05:05] #4005 closed

[2019-04-18 05:14] #3025 closed

[2019-04-18 05:15] #803 closed

[2019-04-18 05:40] jumde commented on #803
Setting label as `QA/No` since the build flag is not enabled by default.

[2019-04-18 05:46] kjozwiak commented on #3752
Thanks @tmancey 👍 For now, we can just take a look at the `catalog.json` and if it's empty, it's probably a good indicator that you're in an unsupported region.

[2019-04-18 06:02] kjozwiak commented on #3222
Quick update, still seeing this on `Ubuntu 18.04.2 LTS x64 VM`. Used the following build:

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
--- | ---
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Linux

Example:

<img width="1152" alt="Screen Shot 2019-04-18 at 2 00 35 AM" src="https://user-images.githubusercontent.com/2602313/56339859-

[2019-04-18 06:23] disfit commented on #3640
Same here running on Version 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit):

Insufficient funds | Your Brave Rewards account is waiting for a deposit. 4/18/2019

Next contribution date is 4/20/2019

Wallet contains 778.9 BAT

Auto-contribute is set on signed on / verified publishers.

[2019-04-18 07:06] jumde opened #4152 "Crash on navigating to youtube.com"
[code]

[2019-04-18 07:44] RossClelland opened #4153 "BAT Tips don't work on a VPN"
## Description

When connected to a VPN, trying to send a tip results in an error. 'There was a problem processing your tip, please try again.'.

Disconnecting from the VPN immediately resolves the problem. I'm using Private Internet Access.

## Steps to Reproduce

   1. Connect to VPN
   2. Visit Brave registered website
   3. Attempt to make a tip
   4. Error shown
   5. Disconnect VPN
   6. Att

[2019-04-18 09:27] vampyren commented on #1444
I totally agree with @comodoro on the naming. I also downloaded thinking this is a portable version. And the error does not make any sense either.
Hoping for a portable and offline installer in the future.

[2019-04-18 10:38] ryanml opened #4154 "Ads shows region not supported on upgrade"
For upgrade paths from `<0.63.x`, the Ads panel shows that the Region is not supported, but then when the page is reloaded, it correctly does.

It should show that the Region is correctly supported on first load.

[2019-04-18 10:40] #4152 closed

[2019-04-18 10:54] palutz commented on #1986
I'm sorry but why this was closed if there is still no instruction how to install on debian (and still not working?)
On debian the instruction provided are not working
I'm getting these errors:

Err:8 https://brave-browser-apt-dev.s3.brave.com stretch InRelease
  The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 0B31DBA06A8A26F9
...
...
Reading packag

[2019-04-18 10:57] arisAlexis opened #4155 "List of sites that work with Chrome and not with Brave"
Using latest Brave browser here is a list of sites not working for me with Brave while simultaneously work perfectly with Chrome. Maybe others can include other sites.

Mixcloud.com: Doesn't load with shields on
https://assassinscreed.ubisoft.com/game/en-us/home: completely fails to load with shields
Linkedin.com: Cookie consent is always shown at every login (with or without shields)

[2019-04-18 11:14] #4154 closed

[2019-04-18 12:50] Jezz1e commented on #4155
dailymotion.com - site doesn't load unless you disable Shield

[2019-04-18 13:18] LaurenWags commented on #3640
@FelschR @disfit we're tracking additional fixes for this with these issues: https://github.com/brave/brave-browser/issues/4090 and https://github.com/brave/brave-browser/issues/3897

[2019-04-18 13:45] LaurenWags opened #4156 "Ads not enabled by default when joining Rewards from panel"
## Description
When joining Rewards from panel, Ads are not enabled. However, if you join Rewards from brave://rewards page, Ads are enabled.

## Steps to Reproduce

   1. Clean profile, install 0.65.67 nightly build
   2. Click on BAT logo and join rewards from Panel.
   3. Look for ads related files in profile directory, there are none.
   4. Navigate to brave://rewards, see that Ads are toggled

[2019-04-18 13:59] ddrager opened #4157 "Brave not available for Ubuntu 19.04 "Disco Dingo""
Looks like the release channel for Ubuntu 19.04 "Disco Dingo" has not been made available yet. Disco dingo was released today.

Response from: https://brave-browser-apt-dev.s3.brave.com/dists/disco/InRelease

(or any release channel)

```<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>519C0EAC8C45CB9E</RequestId><HostId>PeawIjhI2HZWdcJg+Vf8nB/AVs1cEEd2BjjjFnIyXf/qUWZOQjC

[2019-04-18 14:13] #4145 closed

[2019-04-18 14:42] NejcZdovc commented on #3122
friendly ping @jenn-rhim @rossmoody

[2019-04-18 14:52] srirambv commented on #3662
Verification passed on

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
--|--
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Linux

* Failed transaction in `confirmations.json`
![image](https://user-images.githubusercontent.com/17010094/56369641-c0a5fa80-61c7-11e9-9379-0eaa18ce7a68.png)
* Failed transaction redeemed in `confirmations.js

[2019-04-18 15:17] kjozwiak commented on #3520
Seemed to work for me so I updated https://github.com/brave/brave-browser/issues/3520#issuecomment-480273573. However, @LaurenWags seems to be having some issues so we'll close off verification on macOS once @LaurenWags confirms it's working.

[2019-04-18 16:03] jaec commented on #3809
I have exactly the same problem.

Brave | 0.62.51 Chromium: 73.0.3683.103 (Build oficial) (64 bits)
-- | --
Revisión | e82a658d8159cabbd4938c1660f9bb00b4a82a23-refs/branch-heads/3683@{#902}

Runing on Ubuntu 18.04.

[2019-04-18 16:12] #4156 closed

[2019-04-18 16:51] tmancey opened #4160 "Add additional logging to help diagnose issues when downloading catalogs"
Add additional logging to help diagnose issues when downloading catalogs and fetch the latest catalog every 15 minutes instead of every 2 hours if the `--brave-ads-debug` command-line arg is passed

[2019-04-18 16:52] #3161 closed

[2019-04-18 16:59] LaurenWags opened #4161 "New Brave Ads catalog not pulled every 2 hours - follow up to 3520"
## Description
Found while testing https://github.com/brave/brave-browser/issues/3520

While testing I have not been getting a new Ads catalog every two hours. Others have not experienced this (@kjozwiak @tmancey ). I wonder if it's because when my computer sleeps it's turning off hard disks and this is possibly disrupting things.

## Steps to Reproduce
Still TBD. I'm testing different scenarios/b

[2019-04-18 17:00] LaurenWags commented on #3520
@kjozwiak logged https://github.com/brave/brave-browser/issues/4161 as a follow up issue for what I'm seeing. I'm going to continue to investigate (consulting with @tmancey as well on this).

[2019-04-18 17:05] fmarier commented on #1986
@palutz Since you seem to have a few leftovers from a previous attempt at getting this to work, I would suggest you remove all of the Brave-related things from your system first by deleting the following files:

- `/etc/apt/sources.list.d/brave-browser*`
- `/etc/apt/trusted.gpg.d/brave-browser*`

and then removing any signing keys:

    sudo apt-key del D8BAD4DE7EE17AF52A834B2D0BB75829C2D4E821

[2019-04-18 17:10] #4160 closed

[2019-04-18 17:20] rossmoody opened #4162 "Update verified icons globally inside Rewards"
Partner issue to https://github.com/brave/brave-browser/issues/4043

In parallel to updating the address bar icon, we need to make a global verified icon update across Rewards for continuity. This is mainly switching from a hexagon to a circle in the Auto-Contribute table and dropdown panel. A few additional parity updates upon inspection should probably also take place.

- Update the term `Publis

[2019-04-18 17:24] rossmoody commented on #4043
![Rewards Verified Toolbar](https://user-images.githubusercontent.com/29072694/56379243-285a4680-61c4-11e9-922e-4b0816e74b9e.png)

[2019-04-18 17:35] davidtemkin commented on #4043
@rossmoody @ryanml still some discussion needed -- we are not yet final-final -- please hold implementation for a moment

[2019-04-18 17:42] kjozwiak commented on #3520
Sounds good @LaurenWags 👍I'll give it another try tonight with the monitor put to sleep but will keep the network/hard disk on and see if that scenario works. The scenario of everything on is working for me though 👍

[2019-04-18 18:00] davidtemkin commented on #4043
@rossmoody @ryanml -- OK, confirmed all with @bradleyrichter and we are good to go with the above

[2019-04-18 18:18] LaurenWags commented on #4090
@NejcZdovc looks like https://github.com/brave/brave-core/pull/2115 (fix for #3640) wasn't merged to 0.63.x, could that be why this is occurring?

[2019-04-18 18:19] btlechowski commented on #3655
Verification passed by Geeta on

Brave | 0.63.44 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Windows 10 OS Build 17134.523

[2019-04-18 18:24] anthonypkeane opened #8243 "Rate Brave"
## Description

Add the ability for users to easily rate Brave

Some like https://github.com/hotchemi/Android-Rate

@jamesmudgett to help design a nice flow

[2019-04-18 18:29] #4063 closed

[2019-04-18 18:42] Brave-Matt commented on #3750
as @BenDavidson90  stated, another user from Community reports PWAs fixdd by changing `chrome_proxy.exe` to `brave.exe`

[2019-04-18 19:03] LaurenWags commented on #2906
Discussed with Terry/Jimmy - marking as QA/No as testing will be completed with https://github.com/brave/brave-browser/issues/3117

[2019-04-18 19:03] LaurenWags commented on #2907
Discussed with Terry/Jimmy - marking as QA/No as testing will be completed with https://github.com/brave/brave-browser/issues/3117

[2019-04-18 19:04] LaurenWags commented on #2908
Discussed with Terry/Jimmy - marking as QA/No as testing will be completed with https://github.com/brave/brave-browser/issues/3117

[2019-04-18 19:04] LaurenWags commented on #2909
Discussed with Terry/Jimmy - marking as QA/No as testing will be completed with https://github.com/brave/brave-browser/issues/3117

[2019-04-18 19:04] LaurenWags commented on #2910
Discussed with Terry/Jimmy - marking as QA/No as testing will be completed with https://github.com/brave/brave-browser/issues/3117

[2019-04-18 19:10] #3974 closed

[2019-04-18 19:32] deoxal commented on #2791
Would it be possible to use it on a per site basis like with camera, microphone, camera etc?

[2019-04-18 19:53] SergeyZhukovsky opened #4164 "Use SimpleURLLoader instead of URLFetcher"
## Description

URLFetcher is going to be deprecated. We use it in bat_native_ads and bat_native_ledger. We should use SimpleURLLoader instead

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reprodu

[2019-04-18 19:59] LaurenWags commented on #4076
Verified passed with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified STR from description
<img width="912" alt="Screen Shot 2019-04-18 at 3 57 39 PM" src="https://user-images.githubusercontent.com/28145373/56387685-f6aca400-61f2-11e9-9c35-dcdc0ad376d7.png">

[2019-04-18 20:00] palutz commented on #1986
Thanks.
Ok, so now my brave is back. Despite I lost ALL my session!!
Still not getting why you'd have done something like that since the system before was working and the new one (clearly) not ready yet.
PS: I'm (maybe I should say I was, not really keen to keep using this now) on the stable channel, on Debian one of the most stable and slow updating distro. So, again, don't understand the rush wi

[2019-04-18 20:11] Brave-Matt opened #4165 "Improve folder icon for Windows in dark mode"
## Description

Folders on bookmarks bar in MS Edge preview look really nice on dark theme with the color fill removed:
![image](https://user-images.githubusercontent.com/3299098/56388160-20f26780-61db-11e9-8858-d4526807abd6.png)

In Brave:
![image](https://user-images.githubusercontent.com/3299098/56388262-64e56c80-61db-11e9-90cb-452726c6b97a.png)

Would like to suggest Brave does something simil

[2019-04-18 20:50] LaurenWags commented on #3958
Verified passed with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified STR from description. Verified ads viewed on the 6th were still showing on Ads panel on the 1st of following month. Verified when an Ad was viewed on the 1st it was added to the Ads panel appro

[2019-04-18 20:51] jumde opened #4166 "Add test for GetThirdPartyHosts for TrackingProtectionService"
`GetThirdPartyHosts` can crash if `findFirstPartyHosts` is not handled correctly. Add a unit test.

[2019-04-18 20:53] jlig commented on #275
Please bring this feature back (but make it a configurable option in Settings)

[2019-04-18 21:04] LaurenWags commented on #3849
Logged https://github.com/brave/browser-android-tabs/issues/1485 in Android repo to track testing Android part.

[2019-04-18 21:18] #4008 closed

[2019-04-18 22:12] rossmoody opened #4167 "Favicons are too large and are being clipped in Rewards panel"
Need to reduce scale so we aren't pixelating favicons and also remove the circle mask since Favicons must be square so we aren't clipping brands at the edges so severely.

## Current
![Screen Shot on 2019-04-18 at 15:10:11](https://user-images.githubusercontent.com/29072694/56394458-4fc50980-61ec-11e9-988f-326f0969d47d.png)

[2019-04-18 22:56] #3905 closed

[2019-04-18 23:08] jasonrsadler opened #4168 "Fix Browser Tests"
Browser tests fail due to cross commit

brave/brave-core#1804 will require this if uplifted

## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel

[2019-04-18 23:13] #4168 closed

[2019-04-18 23:47] LaurenWags opened #4169 "Ads Rewards Grants - expiration date in UI - follow up to 4042"
## Description
Ad grants still displaying expiration date on UI from both brave://rewards page and panel when viewing the grants list (which contains both UGP and Ad grants).

## Steps to Reproduce

   1. Claim an Ad grant. Note, on the "It's your lucky day" screen there isn't a date.
   2. Navigate to brave://rewards or open panel.
   3. Click on 'Grants' button.

## Actual result:
Expiration dat

[2019-04-18 23:53] LaurenWags commented on #4042
Verified passed with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2182
* Verified UGP grants still display expiration date on "It's your lucky day" screen from both panel and brave://rewards. Also, expir

[2019-04-18 23:56] LaurenWags commented on #3989
Verified passed with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2156 (caught the notification in the 30s after browser opened)
![Screen Shot 2019-04-18 at 7 22 50 PM](https://user-images.githubusercont

[2019-04-19 00:16] srirambv opened #4170 "Claim notification is not removed if you claim ad grant via BR panel"
## Description

Claim notification is not removed if you claim ad grant via BR panel

## Steps to Reproduce

   1. Enable rewards
   2. Wait for ads grant notification to show up
   3. Keep rewards page open to see ads payout notification
   4. Claim it via BR panel
   5. Notification doesn't get removed from rewards page
   6. Reload the page, nothing happens
   7. Try to claim the grant via rewa

[2019-04-19 00:17] srirambv opened #4171 "Claim banners are of differnt text size"
## Description

Claim banners are of differnt text size
## Actual result:

![Screenshot from 2019-04-18 20-02-01](https://user-images.githubusercontent.com/17010094/56398510-eefef680-6216-11e9-833c-e8c2b84781b3.png)

## Expected result:
Text should be of same size

## Reproduces how often:

Easy

## Brave version (brave://version info)

[2019-04-19 01:03] tmancey opened #4172 "Fix Ads locale on Windows"
## Description
Ads locale returns incorrect region on Windows

## Steps to Reproduce

   1. Enable Ads

## Actual result:
Ads is not supported for US, UK, France, Germany and Canadian regions

## Expected result:
Ads should be supported for US, UK, France, Germany and Canadian regions

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
0.65.70

## Version/Channel I

[2019-04-19 01:12] #4172 closed

[2019-04-19 01:22] nikolas commented on #4097
I've run Brave's updated installation instructions and am still getting this error:

[code]

[2019-04-19 02:28] lukemulks opened #4173 "Unable to log in to messenger.com with shields enabled"
## Description

We received a report from a user that they were unable to log into messenger.com in Brave. The site would display without issue, but there's likely a filter that's breaking the auth for the site.

## Steps to Reproduce

   1. Go to messenger.com in Brave (appears to be win10 x64 from screenshot, but not confirmed)
   2. Attempt to authenticate.
   3. Get stuck.

## Actual result:

[2019-04-19 04:42] btlechowski commented on #4169
Reproduced on

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/56405803-411f3680-626e-11e9-85b1-d521d852b42c.png)

[2019-04-19 05:05] NejcZdovc commented on #4043
so if I understand image correctly, if you have notification we don't show any indication for verified publisher?

[2019-04-19 05:06] rossmoody commented on #4043
Yea, the notification would take priority until it's cleared.

[2019-04-19 05:14] NejcZdovc commented on #4043
ok sounds good

[2019-04-19 05:15] NejcZdovc commented on #4090
this is one and we had another fix for it https://github.com/brave/brave-browser/issues/4115

[2019-04-19 05:23] NejcZdovc commented on #4164
@SergeyZhukovsky is this dupe of https://github.com/brave/brave-browser/issues/3501?

[2019-04-19 05:47] NejcZdovc commented on #3186
this was fixed with https://github.com/brave/brave-browser/issues/3974

[2019-04-19 05:47] #3186 closed

[2019-04-19 05:55] #4081 closed

[2019-04-19 06:45] mandar-brave commented on #4047
@jenn-rhim would love to ship the current design for user feedback loop. If you can post it, i can get the details from the spec to map to the UI. cc @alexwykoff

[2019-04-19 06:52] alexandersjosten commented on #1308
@mladenko Yes, but that would go against the original issue, where the user shouldn't have to change the browser language. At least for my case when trying it, I had to change the language from English to my mother tongue for the clock change to happen, perhaps I did something wrong?

On a side-note, I think I have a working solution here, so I will hopefully make a PR soon (depending on how the P

[2019-04-19 07:05] btlechowski commented on #3897
Verification passed on

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/2091

[2019-04-19 08:30] jonathansampson commented on #540
Recently requested [on Twitter](https://twitter.com/_mauriciorubio/status/1119126631644188673):

![image](https://user-images.githubusercontent.com/815158/56415422-52a71500-6253-11e9-925e-3036c32f9d90.png)

[2019-04-19 08:33] jonathansampson commented on #1115
@darkdh  Would this feature allow the user to Sync bookmarks (and other data, eventually) between a standard profile, and a Tor profile?

[2019-04-19 09:06] fra98 commented on #4157
A workaround is to change the source in software & Update > Other Software, edit the brave-browser config and put "cosmic" instead of "disco" and then install it normally through apt.
This will work until they update the repository

[2019-04-19 10:06] #4045 closed

[2019-04-19 10:35] wranvaud commented on #2289
I had issues today to comment on commits (error on save) and approve PRs (I click the button but nothing happens). That's pretty much the core of my interaction with bitbucket.

[2019-04-19 11:39] manishmaharjan commented on #208
@yrliou , do you have any timeline when this feature would be available in the official release? thanks

[2019-04-19 11:52] jsecretan commented on #4151
This is probably just best for tracking, to revisit once @dimmu has a new model.

[2019-04-19 11:57] jsecretan commented on #4171
Might get resolved by this: https://github.com/brave/brave-core/pull/2173

[2019-04-19 12:09] cjwijtmans commented on #4109
i think it would be better to just have an icon tabs on the left. and then categorize under them as you wish. One icon would be shields icon and have the social media category among others.

[2019-04-19 13:14] bbondy commented on #208
You can check the version on this issue in the milestone section: 0.65.x

Then cross reference against our release schedule here:
https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule

wich gives:
June 4, 2019

You can download a newer build though to try it out today:
Dev channel: https://brave.com/download-dev/ (should get this version within a day if it's not there already)
Nightly

[2019-04-19 13:31] srirambv opened #4174 "Re-evaluate criteria for supporting ads for each region"
Re-evaluate criteria for supporting ads for each region.

More details here https://bravesoftware.slack.com/archives/C43LW5U2H/p1555674320167300

cc: @tmancey @jsecretan @tomlowenthal @bbondy @davidtemkin @mandar-brave

[2019-04-19 13:35] StoppingBuck opened #4175 "‘Pending’ YouTube video will start playing in the background if another tab is moved"
## Description
If you have 3 tabs open and the first is in focus and the second is a ‘pending’ YouTube video, if you move the third tab out into a new/different Brave window, the YouTube video on the second tab will start playing even though focus remains on the first tab.

## Steps to Reproduce
   1. Open Brave and go to YouTube
   2. Open two videos in background tabs by Ctrl/Cmd+clicking on the

[2019-04-19 13:57] tmancey commented on #2887
See `enable_hidpi` in codebase

[2019-04-19 14:40] srirambv commented on #4175
Does Chrome behave in same manner?

[2019-04-19 14:43] StoppingBuck commented on #4175
Just tested with stable Google Chrome. Yes, the problem is present there too.

[2019-04-19 15:19] srirambv commented on #4175
cc: @bbondy  closing thread unless we need to patch something ourselves. Probably an upstream fix would be the best approach.

[2019-04-19 15:19] #4175 closed

[2019-04-19 15:23] LaurenWags commented on #3847
Verified passed with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2068
![Screen Shot 2019-04-19 at 11 05 54 AM](https://user-images.githubusercontent.com/28145373/56430790-7e4aef00-6295-11e9-8934-a4f1d0c

[2019-04-19 15:24] srirambv commented on #4149
Works fine for me on Linux. @btlechowski can you check on Windows?

[2019-04-19 16:05] rebron commented on #4165
cc: @rossmoody. Doesn't have to be blank could be like how we have for macOS.

[2019-04-19 16:06] rebron commented on #4157
Closing. See workaround above.

[2019-04-19 16:07] rossmoody commented on #4165
At the risk of sounding silly, I can't find any folders in the Brave example. Is that the issue?

[2019-04-19 16:11] rossmoody commented on #3541
Follow up to this related issue: https://github.com/brave/brave-browser/issues/3788

If possible can we snag one or two more examples of this in the wild? I'll go hunting for a fix but knowing what instances exactly this blurry behavior is definitely happening would help.

[2019-04-19 16:12] rebron commented on #4144
Closing. Expected behavior, not going to deviate from other browsers for this ue.

[2019-04-19 16:12] #4144 closed

[2019-04-19 16:14] ddrager commented on #4157
With all due respect, this needs to be re-opened and fixed, not with a workaround. The install instructions on the [Brave download page](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux) return an error.

[2019-04-19 16:18] rebron commented on #4140
Closing. Based on https://github.com/brave/brave-browser/issues/2390#issuecomment-446715677, not a bug.

[2019-04-19 16:18] #4140 closed

[2019-04-19 16:20] rebron commented on #4137
Closing. As expected.

[2019-04-19 16:20] #4137 closed

[2019-04-19 16:22] rebron commented on #4133
cc: @mbacchi Key change issue?

[2019-04-19 16:26] darkdh commented on #1115
like https://github.com/brave/brave-browser/issues/1115#issuecomment-422874906 said. It will inherit data from the profile which opened the tor window. Just like one time session windows but for tor

[2019-04-19 16:26] rebron commented on #4112
cc: @alexwykoff
@rossmoody Chrome and MS Edge (Canary) have good examples.

[2019-04-19 17:02] saintjcp opened #4176 "Yahoo! FINANCE Interactive Charting Failure to Load. Continuous Buffer."
## Yahoo! FINANCE Interactive Charting Failure to Load.
After attempting to access the **FULL SCREEN CHART**, I am met with a continuous buffer symbol, along with the text _"Loading interactive chart..."_

   1. Access URL  https://finance.yahoo.com
   2. Locate search bar
   3. Type **AAPL**
   4. Press _Enter_
   5. Located beneath the share price are blue colored tabs
   6. Locate _Chart_
   7.

[2019-04-19 17:39] JooshiMcKenski commented on #1432
I would also like this.

Chrome recently removed the Dissenter extension in a censorship effort forcing me to manually install this extension.

I do think the warning is a good idea, but not allowing any sort of customization is not good. I'm sure many people will be doing the same manual install for the same extension, by manually downloading the file and importing it in the brave extension page.

[2019-04-19 18:19] fmarier commented on #1986
@palutz Brave browser keeps a different profile for you depending on what version you use (release, beta, dev, nightly). You can see them in `~/.config/BraveSoftware/`.

I suspect that your old browser profile is not lost, but rather you installed a different version of Brave than the one you were running before. From the error messages in https://github.com/brave/brave-browser/issues/1986#issueco

[2019-04-19 18:20] fmarier commented on #4097
@nikolas You may have an old key in a different location on your system. Try the Debian installation instructions I suggested in https://github.com/brave/brave-browser/issues/1986#issuecomment-484594279.

[2019-04-19 18:27] nikolas commented on #4097
@fmarier thank you, all good now.

[2019-04-19 19:58] ryanml opened #4177 "Add unit tests for Brave Ads service"
This is a follow up to the work that was done in: https://github.com/brave/brave-core/pull/1365

The initial unit test class has been set up, we just need test cases.

[2019-04-19 20:12] Brave-Matt opened #4178 "Add keyboard shortcut to expand Search bar in Settings"
## Description

There's currently no way to expand/move the focus to the search bar on the Settings page other than clicking on the Search icon -- with one exception.

When you first land on `Settings`, hitting `esc` will expand the search bar and move keyboard focus to it so you can start typing. Hitting `esc` again _will_ close the menu which I believe is intended. However, you can only hit `esc

[2019-04-19 21:08] LaurenWags commented on #4026
Reproduced with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

[2019-04-19 22:47] LaurenWags commented on #3117
Verified passed with

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta(64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-browser/issues/3117#issuecomment-483226255

[2019-04-20 01:01] yrliou commented on #3950
It is currently installed as a component extension, and there is a known bug in chromium that manifest is not localized for component extensions: https://bugs.chromium.org/p/chromium/issues/detail?id=66834&q=%22component%20extension%22&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified.

[2019-04-20 02:09] ryanml opened #4179 "Add browser tests for Brave Ads service"
This is a follow up to the work that was done in: https://github.com/brave/brave-core/pull/1365

[2019-04-20 02:26] ryanml opened #4180 "AdsServiceImpl should not create a new timer after notification dismissal"
As it was not a serious issue, the decision was made to move this over to another ticket.

A timer is currently set on AdsServiceImpl startup to delete the Ads Launch notification. There comes a case after the dismissal of the notification where the timer is still created (it does nothing, and there are no consequences but it really shouldn't happen)

[2019-04-20 05:37] tvking63 commented on #2690
Just installed Brave yesterday because it's "like Chrome and compatible with all the Chrome stuff" and it took about an hour to find out that the mic doesn't work.  I guess this is like those Linux distros that are "like Windows".  I'm sure there are people working really hard on this but I think the reality is that you're never going to the kind of polished product that you will from a much large

[2019-04-20 06:59] rebron commented on #2690
@tvking63 It's a bug that we have on our list to fix and given the feedback we can reassess priority. Browsers in general do tend to have long to do lists. In terms of reality, a large company doesn't ensure a polished product and usually trends towards a stagnated/constipated product or one that's bloated because everyone has to get their pet feature in it. My opinion. We are working on polish th

[2019-04-20 07:53] peeter123 commented on #3296
I've had this issue as well using the latest Brave for Windows release (on windows 10) and an Android device in the sync chain.

I worked in the bookmark manager on windows and bookmark renames reverted themselves and deletes kept coming back.

[2019-04-20 10:11] cjwijtmans commented on #4144
I think you are misreading dude. the brave browser IS deviating.

[2019-04-20 10:13] cjwijtmans commented on #4144
Please re-open, or i will spam this issue. Or ban me from this trash browser issue page. Whatever you like.

[2019-04-20 10:24] ManuelTS commented on #4157
Jep, I have a long script installing all the files and brave was the only one which failed to install. As already mentioned, this URL:
https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux
only creates an unsinged ppa entry, which is useless.

[2019-04-20 14:44] rebron commented on #4157
@ddrager tracking down a better response for you

[2019-04-20 14:45] srirambv commented on #4144
This is default behaviour in Chromium based browsers unless heavily customized. Middle click on links open in new tab and middle click on tab closes it (irrespective of pinned/normal tab).  We do not want to deviate from Chromium behaviour.

[2019-04-20 15:55] rebron commented on #4144
@cjwijtmans left click to focus, middle click to close, and right click for context menu. Middle click like right click is already a special action. To remove functionality, and to use middle click to open the context menu as you're proposing (redundant since right click does that), and then deviating (not always wrong) from what other apps are doing aren't the right things to do. There will be an

[2019-04-20 16:59] NejcZdovc commented on #2914
it was reverted https://github.com/brave/brave-core/pull/2295

[2019-04-20 19:12] cloaked-ninja commented on #1432
The **excellent** [bypasspaywalls by Adam extension](https://github.com/iamadamdev/bypass-paywalls-chrome) (which has been removed from the Chrome store) is an addon that many people love.  The only way to add this extension due to Google's censorship is to side load it.
Why are we making it harder for people to take control of their own browsers?  I don't want to restate the other arguments, but

[2019-04-20 20:15] ReaperOfSouls1909 opened #4181 "Ubuntu 19.04 support"
please add 19.04 support please thanks

E: Failed to fetch https://brave-browser-apt-beta.s3.brave.com/dists/disco/InRelease  403  Forbidden [IP: 199.232.38.217 443]
E: The repository 'https://brave-browser-apt-beta.s3.brave.com disco InRelease' is not signed.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N: See apt-secure(8) manpage for repositor

[2019-04-20 20:19] Madis0 commented on #2192
Hiding the protocol is fine - the lock/warning icon displays the status more accurately anyway (mixed content and whatnot).

However, hiding the `www.` is what received the huge backlash for a good reason - it is simply inaccurate. See also: https://bugs.chromium.org/p/chromium/issues/detail?id=883038

[2019-04-20 20:29] Madis0 commented on #4181
#4157

[2019-04-21 01:15] jacobcantele commented on #3420
It has been two months, with Linux user's security still degraded. Is there any update around this issue? @diracdeltas

[2019-04-21 02:09] g-hill opened #4182 "edit new tab page"
## Description

Cannot find files to edit layout (local) of new tab page

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:
Looking to edit new tab page. Layout and text, fonts, etc.

## Reproduces how often:

## Brave version (brave://version info)

latest

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce

[2019-04-21 05:18] #4143 closed

[2019-04-21 07:48] #2914 closed

[2019-04-21 08:26] tvking63 commented on #2690
Sorry for polluting the implementation discussion.

 I do have another issue that I'm not sure where to go with though because
I don't know how to concisely describe what's going on.  In Settings >
Passwords, The Extensions window, from Settings, about WebTorrent and
Hangouts, is on top of my passwords, part way down the page.  I can't close
or move it and it covers some passwords.  I've attached

[2019-04-21 09:45] netroby commented on #4157
+1 19.04 need your support

[2019-04-21 12:13] FWDekker commented on #4149
I was able to reproduce this on Linux using the steps above. I'm running Kubuntu 18.04 with Brave at the exact same revision as my Windows machine.

After going to `huffpost.com` I am redirected to `https://www.huffpost.com/?guccounter=1`, and after that I am continuously redirected to URLs of the form `https://www.huffpost.com/?guccounter=1&guce_referrer_us=aHR0cHM6Ly9ndWNlLmh1ZmZpbmd0b25wb3N0LmN

[2019-04-21 12:14] FWDekker commented on #4149
I mixed up the actual and expected results :man_facepalming: I have now corrected them

[2019-04-21 16:58] GeetaSarvadnya commented on #4145
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

[2019-04-21 17:57] lidel commented on #3950
@yrliou  thank you for finding this, it is unfortunate.

I know Brave will need to patch manifest to add `sockets`  (cc @bbondy), would it be possible to also override `extensionName` and hardcode it to be `IPFS Companion` there?

(We'd like to avoid hardcoding `extensionName` to `IPFS Companion`  in our manifest, but that is always a fallback plan)

[2019-04-21 18:15] yrliou commented on #3950
@lidel I'm currently working on installing it as an extension instead of a component extension, hopefully that would get us back into a good state.
And yes, we could fallback to manually setting extension name and description of the manifest if the above doesn't work as well as we expected.

[2019-04-21 19:04] eljuno commented on #1280
+1s from Community https://community.brave.com/t/centralized-css-element-blocking-management/54753?u=eljuno

[2019-04-21 20:40] jonathansampson commented on #1638
I received [a ping](https://twitter.com/TomasSinkunas/status/1120054843417210880) from a user via Twitter today asking that we consider UI changes. This user also encourages us to consider Safari's approach.

[2019-04-21 20:50] jonathansampson opened #4184 "Coachella on YouTube Requires Fingerprinting"
## Description
_Device Recognition_ required for https://www.youtube.com/user/coachella

## Steps to Reproduce
Visit https://www.youtube.com/user/coachella

## Actual result:
User is presented with a link to download Chrome.

![image](https://user-images.githubusercontent.com/815158/56475378-f14a9600-644c-11e9-8263-f0d4c113f0ce.png)
![image](https://user-images.githubusercontent.com/815158/5647538

[2019-04-22 06:04] Zerophase commented on #2479
Issue is happening again with Brave 0.62.51, on the Piratebay magnet links.

[2019-04-22 06:12] rebron commented on #2479
@Zerophase Can you file a new issue with links to the piratebay magnet links. Just tested on current builds and beta per this specific issue/test case and magnet links and torrents appear to be working so it might be specific to the file or piratebay site.

[2019-04-22 06:23] Zerophase opened #4185 "Magnet links are not working for the Piratebay when shields are up."
## Description
Clicking on a magnet link in Linux does not open the link in the selected torrent client. You cannot even click on the link to copy it into the torrent client.

## Steps to Reproduce
   1. Open Brave on Linux
   2. Navigate to: https://www.thepiratebay.org/torrent/11722376/Zeiram
   3. Click on the Link

## Actual result:
Nothing happens.

## Expected result:
system torrent client o

[2019-04-22 08:01] GeetaSarvadnya commented on #4172
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

- Verified below combinations (IP Address+OS Region+OS Locale) of scenarios on Windows 10 x64
  - US IP Address(VPN)+Region(US)+Local(English United States) -`Adds are Enabled`
  - US I

[2019-04-22 09:03] GeetaSarvadnya commented on #4172
@terry In one of the scenario even though Ads are disabled catalog is not empty is this expected?

US IP Address(VPN)+Region(US)+Local(English India)-Adds are Disabled and catlog is NOT empty

[2019-04-22 09:11] capouch commented on #4155
Running the latest beta 0.64.59 on Linux Slackware 14-current.  Lots and lots of issues, some of them show-stopping:

* Facebook feed now only shows 3-4 items, you have to click "More" and then it quickly renders some posts and just as quickly some of the content disappears.  You get 3-4 more items, then have to click again and the same thing.  Works fine on Chrome.

* Weather Underground basicall

[2019-04-22 09:32] tmancey commented on #4172
Region/locale are used currently to determine so this is correct based upon the code. Please check with Jimmy for confirmation too. Thanks

[2019-04-22 10:38] servetcoskun commented on #3756
Issue persists: Version 0.64.56 Chromium: 74.0.3729.75 (Official Build) dev (64-bit), are people not having this issue since its closed? If not, please consider reopening the issue.

[2019-04-22 10:40] GeetaSarvadnya opened #4186 "Tokens are not redeemed for viewed Ads at server side when passing --rewards=debug=true command-line arg"
## Description

Found while testing https://github.com/brave/brave-browser/issues/3659
Tokens are not redeemed for viewed Ads at server side

## Steps to Reproduce

   1.  Clean profile 0.63.46
   2.  Launch the browser through command line using `C:\Program Files (x86)\BraveSoftware\Brave-Browser\Application\brave.exe --enable-logging --logging-level=2 --vmodule=brave_ads=3 --brave-ads-production

[2019-04-22 11:18] GeetaSarvadnya commented on #4172
@jsecretan Can you clarify the above query, please?

[2019-04-22 11:54] GeetaSarvadnya opened #4187 ""Sorry! Ads are not supported for this region" message will not be shown in some criteria"
## Description

"Sorry! Ads are not supported for this region" message will not be shown in some criteria

## Steps to Reproduce

   1. Clean profile `0.63.46`
   2. Set OS region to Ads not supported country ( e.g I have set it to India)
   3. Run ipleak.net to check IP ( my ip is set to India)
   4. Set OS locale to English(United States)
   5. Launch brave
   6. Enable Rewards

## Actual result

[2019-04-22 11:55] GeetaSarvadnya commented on #4172
Got reply for above query https://bravesoftware.slack.com/archives/C43LW5U2H/p1555933330241600?thread_ts=1555923498.238200&cid=C43LW5U2H

[2019-04-22 11:59] srirambv commented on #4181
Closing as dupe of #4157

[2019-04-22 11:59] #4181 closed

[2019-04-22 12:00] srirambv commented on #4157
cc: @mbacchi @mihaiplesa

+1 from @ReaperOfSouls1909 via #4181

[2019-04-22 12:58] srirambv opened #4188 "Implement Brave Ads command-line arguments for testing ad serving"
Implement command-line arg for Brave Ads to help with testing

`--brave-ads-testing=id=<id>,per-hour=<count>,per-day=<count>,timeout=<after-delay>,ignore-caps,idle=<threshold>,disable-jitter`

The following `--brave-ads-testing` parameters are optional and if not specified will fall back to business logic:

`id` can be any of the following, if not specified then a random ad will be shown from the

[2019-04-22 12:59] ddrager commented on #4157
Thank you @rebron, appreciate it greatly for the good of the project! :)

[2019-04-22 13:13] tmancey commented on #4186
Steps to reproduce (on any platform across all build channels)

- Launch browser with `--rewards=debug=true` command-line arg
- View some Ads
- Close the browser
- Wait for ~25 minutes
- Launch the browser

Expected result:

Tokens are redeemed with the Ads service

Actual result:

Tokens are not redeemed and the timer resets to ~25 minutes

NOTES: If the user does not close the browser tokens are

[2019-04-22 13:49] loadcorp commented on #1900
Still the same problem since 6 of March

[2019-04-22 13:50] srirambv commented on #3756
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Linux

* Verified opening a new and quickly typing in URL bar doesn't lose any chars
* Verified page image load doesn't affect typing of char in URL bar

[2019-04-22 13:51] #4186 closed

[2019-04-22 14:12] LaurenWags commented on #4161
Brave | 0.66.9 Chromium: 74.0.3729.91 (Official Build) nightly(64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Mac OS X

Reproduced the issue with above build. STR:
1. Clean install above build.
2. Launch with /Applications/Brave\ Browser\ Nightly.app/Contents/MacOS/Brave\ Browser\ Nightly --enable-logging=stderr --vmodule=brave_ads=3 --log-le

[2019-04-22 14:37] loadcorp commented on #1900
Even I did this: https://github.com/brave/brave-browser/issues/2927 I got this version:
brave-browser              x86_64 0.62.51-1                brave-browser-rpm-release.s3.brave.com_x86_64_

Also I tried to install on clean Fedora 29 and still got this version - Version 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)

Could you tell me how can I upgrade to the latest version of brows

[2019-04-22 14:46] GeetaSarvadnya commented on #4186
@tmancey Steps are updated. The issue is arising when we use `--rewards=debug=true` flag and close browser the browser after viewing ads.

[2019-04-22 15:03] srirambv commented on #3967
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Linux

* Setting VPN to supported region and OS locale changed doesn't enable ads
![image](https://user-images.githubusercontent.com/17010094/56507061-31ae2080-64ee-11e9-9477-88b39b932f01.png)
* Setting VPN and OS lo

[2019-04-22 15:10] srirambv commented on #2562
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Linux

* Verified for Australia
![image](https://user-images.githubusercontent.com/17010094/56507219-9a959880-64ee-11e9-95a0-fcf43770b6cd.png)
* Verified for India (Kannada) for translated text. Sorry message transla

[2019-04-22 15:32] srirambv opened #4189 "URL bar text padding is off when device language is set to other than English"
## Description

URL bar text padding is off when device language is set to other than English

## Steps to Reproduce

   1. Set device language to some regional language. I set the device language to Kannada
   2. Launch Brave
   3. URL bar text padding is off

## Actual result:

![image (2)](https://user-images.githubusercontent.com/17010094/56507716-3378e380-64f0-11e9-9c08-44c8c681ebd7.png)

##

[2019-04-22 16:16] srirambv commented on #4189
Upstream [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=954966)

[2019-04-22 16:23] srirambv opened #4190 "Missing translations for Brave Ads unsupported message"
## Description

Missing translations for ads unsupported message

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/56507061-31ae2080-64ee-11e9-9477-88b39b932f01.png)

## Expected result:
All text should be translated

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
R

[2019-04-22 16:46] kjozwiak commented on #3901
@Brave-Matt found that the incorrect link was being used after receiving a `0x80070057` updater error. Because this is going to take a lot of effort in reproducing and possibly involving DevOps so we can get the staging server into a state where it fails with the above code, labelling as `QA/No`. This change is small enough that there's basically no risk. If someone disagree's, please let me know.

[2019-04-22 16:50] srirambv commented on #2138
This should be fixed already
![image](https://user-images.githubusercontent.com/17010094/56512328-0b43b180-64fd-11e9-891b-6f58b3150263.png)
![image](https://user-images.githubusercontent.com/17010094/56512356-1dbdeb00-64fd-11e9-808a-25a495ccfd98.png)

This is fixed on the community maintained arch bin. Closing the issue as fixed

[2019-04-22 16:50] #2138 closed

[2019-04-22 17:02] rebron commented on #4157
Closing. Disco suite added and working for release/beta/dev channels (nightly later today). ping again if that's not the case.

[2019-04-22 17:02] #4157 closed

[2019-04-22 17:20] LaurenWags commented on #4156
Verified passed with

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2266

[2019-04-22 17:21] LaurenWags commented on #4131
Verified passed with

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Mac OS X

* Verified on Release channel. Verified when updating from 0.62.51 to 0.63.46 Ads were not enabled by default when Rewards had been enabled on 0.62.51.

[2019-04-22 17:24] srirambv commented on #4154
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Linux

* Verified test plan from https://github.com/brave/brave-core/pull/2263

[2019-04-22 17:38] #4088 closed

[2019-04-22 17:38] #4132 closed

[2019-04-22 17:53] MrBananaGuard opened #4191 "Global script blocking with Private window with Tor does not work"
## Description
When in Private Tor browser script blocking preferences do not work.

## Steps to Reproduce

   1. Open Private window with Tor
   2. Go to settings by clicking the hamburger in the top right corner.
   3. Toggle the switch to enable script blocking.

## Actual result:
Scripts are still enabled.

## Expected result:
Scripts should be disabled.

## Reproduces how often:
Easily reprod

[2019-04-22 18:19] BoostedDampi commented on #1551
+1
Replicated on Windows 10 Version 0.62.51 Chromium: 73.0.3683.103

[2019-04-22 18:30] karenkliu commented on #2996
Added dash.svg to the zipped folder per Cezar's feedback.

[2019-04-22 19:01] kjozwiak commented on #3756
@servetcoskun the fix landed after `0.64.56 CR: 74.0.3729.75`. Can you recheck one you upgrade? That version should include the the above fix.

[2019-04-22 19:04] jasonrsadler commented on #4104
@srirambv Can you see if this is still an issue (at least on nightly). I do get one 'Insufficient' notification in the panel but that is before reconciliation starts and is fixed in brave/brave-core#2208 (pending). Can you check by:
* running with term with reconcile-interval in clean profile,
* dismissing grant,
* waiting a minute or two and dismissing 'Insufficient' (before reconcile triggers[yo

[2019-04-22 19:15] mkarolin opened #4192 "Upgrade Chromium 74.0.3729.91 to Chromium 74.0.3729.108"
QA tests:

Check branding items
Check for version bump

[2019-04-22 20:13] bsclifton commented on #1551
Closing as `wontfix`. I believe this is because we don't include NaCl (reported with https://github.com/brave/brave-browser/issues/3519)

An effort should be made soon to replace this with a native client (was scheduled for Q2 of this year). See more details at:
https://developer.chrome.com/native-client/migration

[2019-04-22 20:13] #1551 closed

[2019-04-22 20:15] bsclifton commented on #3901
Thanks for following through with that, @kjozwiak 😄

[2019-04-22 20:39] tomlowenthal commented on #1627
@simonhong Could you take care of this?

[2019-04-22 21:17] srirambv commented on #2927
Verification passed on

Brave | 0.63.46 Chromium: 74.0.3729.91 (Official Build) (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Linux

* Verified installing `0.58.16` added `brave-browser.list` file in `etc/apt/sources.list.d/`
* Verified upgrading to current release build via apt created `brave-browser-release-bionic.list` file along with `b

[2019-04-22 22:31] davidtemkin opened #4194 "Track what fraction of Brave Ads system notifications sent cannot be delivered, on a per-platform basis"
Need the ability to track the number of notifications that could not be delivered, ideally on a per-platform basis, along with the reason for our inability to show the notification client-side.

This could be done in a more appropriate way down the road, but in the nearer term, can the ads confirmation system be harnessed to report failed notifications views as views?

[2019-04-22 22:46] fmarier commented on #1900
@loadcorp 0.62.51 is currently the latest version. 0.65 isn't released yet: https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule.

If you want to use a pre-release version, you'll have to use the beta, dev or nightly channels and follow the [installation instructions](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux) for the channel you want.

[2019-04-22 23:19] simonhong commented on #1627
@tomlowenthal yup. assigned to me.

[2019-04-22 23:34] fmarier commented on #1900
I can't reproduce this "error denied".

This is how I successfully installed the `brave-browser` RPM package on OpenSUSE 15.0:

1. Put the contents of <https://brave-browser-rpm-release.s3.brave.com/brave-core.asc> in a file
named `/root/brave-core.asc`.
2. Put the following in `/etc/zypp/repos.d/brave-browser.repo`:

       [brave-browser]
       name=brave-browser
       enabled=1
       autoref

[2019-04-23 00:01] kjozwiak commented on #3520
Labelling this as verified for macOS. Follow up investigation/work will be added into #4161.

[2019-04-23 01:38] mkarolin opened #4195 "Unit tests fail on master on Windows"
`19:30:36  3 tests failed:
19:30:36      PublisherInfoDatabaseTest.Migrationv3tov4 (../../brave/components/brave_rewards/browser/publisher_info_database_unittest.cc:793)
19:30:36      PublisherInfoDatabaseTest.Migrationv4tov5 (../../brave/components/brave_rewards/browser/publisher_info_database_unittest.cc:814)
19:30:36      PublisherInfoDatabaseTest.Migrationv5tov6 (../../brave/components/brave_r

[2019-04-23 03:38] hawadjie commented on #3756
Having this very issue. Extremely annoying. Any fixes yet?

[2019-04-23 05:09] kjozwiak opened #4197 "Release checklist for 0.63.x"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-04-23 05:17] fmgburner25 opened #4198 "Copy/paste won't work as control + c or control + v or as context menue via copy and paste"
## Description

I made a video form the issue
https://www.bitchute.com/video/moDnuDcKCXkV/

## Steps to Reproduce

   1.  I don't know how to fix this issue?
   2.   I don't know how to fix this issue?
   3.   I don't know how to fix this issue?

## Actual result:

Look at the video please

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

Brave Version 0.62.4

[2019-04-23 09:24] NejcZdovc opened #4199 "Browser tests are failing"
This PR broke browser tests https://github.com/brave/brave-core/pull/2296. We need to fix it

[2019-04-23 09:45] #4199 closed

[2019-04-23 11:05] GeetaSarvadnya commented on #4143
Verification passed on

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the description

[2019-04-23 11:29] srirambv commented on #4157
Verification passed on Ubuntu 19.04
![image](https://user-images.githubusercontent.com/17010094/56577627-6dea8b00-6599-11e9-804b-d6900c22e7bd.png)

[2019-04-23 11:51] Stryxus opened #4200 "Request: Add ability to import browser content from Windows.old (Passwords, Auto-Fills etc)"
Since Brave does not use any of the Chrome Sync services, there has been an issue where when i format my PC i have to enter everything again and i MUST remember to export my bookmarks to an HTML file before formatting. This obviously takes a large amount of time to do and felt there could be a partial fix to this.

Simply put it, Brave will have a new import options which will allow for the import

[2019-04-23 11:58] Nevax07 commented on #1900
I don't get an 5xx error rigth now, but another issue still persist.

[code]
Command output:

[code]

[2019-04-23 12:04] GeetaSarvadnya commented on #2914
Verification passed on

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1365
![image (1)](https://user-images.githubusercontent.com/38657976/56579539-0f9bc780-65ee-11e9-87ba-2aeae5819c1

[2019-04-23 12:21] GeetaSarvadnya commented on #4199
Verification passed on

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1365

[2019-04-23 12:27] GeetaSarvadnya commented on #3659
@terry should it be moved to milestone 0.64.x ?
The issue which I raised yesterday is fixed and moved to milestone 0.64.x

[2019-04-23 12:56] tmancey commented on #3659
This issue is in 0.63.x and can be tested. Only the debug flag for reducing the time was fixed in 0.64.x and 0.65.x

[2019-04-23 13:46] GeetaSarvadnya commented on #4192
Verification passed on

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

[2019-04-23 15:25] bbondy commented on #3756
You can download an RC for 0.63.x from Github or wait for the release coming very soon.

[2019-04-23 16:00] kjozwiak commented on #4161
Went through the following last night which appeared to be working:

* installed `0.63.46 Chromium: 74.0.3729.91` and enabled BR/Ads
* once enabled, put my `macOS 10.14.4 x64` to sleep for ~45mins
* woke up the machine and left it running during the night, had several `catalog.json` download pings:

[code]

@LaurenWags as per our discussion, can you try the following whenever you have some time?

[2019-04-23 16:15] jonathansampson opened #4201 "Ads on spiegel.de"
## Description
Large ads fill the _above the fold_ region of https://www.spiegel.de/.

This issue was originally reported [on Twitter](https://twitter.com/sigismundf/status/1120715698723020802).

## Steps to Reproduce
1. Navigate to https://www.spiegel.de/

## Actual result:
Large ads fill the screen.

![image](https://user-images.githubusercontent.com/815158/56597698-9e8ded00-65b8-11e9-903d-d8f1f

[2019-04-23 16:32] #1324 closed

[2019-04-23 17:40] #2708 closed

[2019-04-23 18:13] fmarier commented on #1900
@Nevax07 It looks like the repository that's failing on your machine is not actually the real Brave repo, but a broken Google one that was mistakenly added in the past (see #2927). This will get cleaned up automatically in version 0.63 with will be released soon.

If you don't want to wait and want to clean it up manually now, you can delete the following file: `/etc/yum.repos.d/brave-browser.repo

[2019-04-23 18:36] tomlowenthal commented on #1115
Just to be clear, this isn't the mainstream roadmapped feature for migrating Tor windows from Guest to regular Incognito sessions. This is an additional, separate feature request which is not currently planned for implementation.

[2019-04-23 18:45] rebron commented on #4141
@CodeFuriate Can you look in brave://crashes and give us the crashid? so we can look it up. Thanks.

[2019-04-23 18:53] bsclifton commented on #4141
@rebron I don't think he's able to open it actually

I remember someone else having this issue...
@CodeFuriate can you please try creating the profile directories manually (for the channel you're trying)?
`~/Library/Application Support/BraveSoftware/Brave-Browser`
`~/Library/Application Support/BraveSoftware/Brave-Browser-Beta`
`~/Library/Application Support/BraveSoftware/Brave-Browser-Dev`
`~/Lib

[2019-04-23 19:06] kjozwiak commented on #4199
We'll need to retest this once https://github.com/brave/brave-core/pull/2318 lands into `0.63.x` and a new RC3 has been created.

[2019-04-23 19:14] #4192 closed

[2019-04-23 19:26] tmancey opened #4202 ""Brave Ads has arrived!" notification should be shown on Linux after upgrade from 0.62.x"
## Description
"Brave Ads has arrived!" notification should be shown on Linux after upgrade from 0.62.x

## Steps to Reproduce
   1. Install 0.62.x
   2. Upgrade to 0.63.x or above

## Actual result:
"Brave Ads has arrived!" notification was not shown on Linux after upgrading from 0.62.x

## Expected result:
"Brave Ads has arrived!" notification should be shown on Linux after upgrading from 0.62.x

[2019-04-23 19:33] #4035 closed

[2019-04-23 19:33] #4171 closed

[2019-04-23 20:04] LaurenWags commented on #4192
Verified passed with

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Mac OS X

[2019-04-23 21:07] #4195 closed

[2019-04-23 22:30] LaurenWags commented on #4171
Reproduced on macOS

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Mac OS X

[2019-04-23 22:49] fmarier opened #4205 "brave-browser package should depend on brave-keyring"
We should require the `brave-keyring` package when installing `brave-browser` on Linux in order to ensure that our package/repo signing key is up-to-date.

Currently the brave-keyring package only covers the release channel.

Once that's done and has made it all the way to release, we can simply our [official installation instructions](https://brave-browser.readthedocs.io/en/latest/installing-brav

[2019-04-23 22:50] fmarier commented on #3873
@knucklas Can you tell me what files you've got in the `/etc/apt/sources.list.d/` directory?

[2019-04-23 23:10] srirambv opened #4206 "Notify Linux users opted into Brave Rewards of Brave Ads launch"
Follow up for #2914 for Linux

Test plan : https://github.com/brave/brave-core/pull/1365

cc: @tmancey @ryanml @rebron

[2019-04-23 23:10] srirambv commented on #2914
Marking issue as Windows/MacOS. Logged  #4206 as a followup for Linux

[2019-04-23 23:12] btlechowski commented on #4199
Verification passed on

Brave | 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Ubuntu 18.04 LTS

Used test plan from https://github.com/brave/brave-core/pull/2318. Enabled rewards from panel and `brave://rewards`

[2019-04-23 23:15] btlechowski commented on #4206
Already reported https://github.com/brave/brave-browser/issues/4202

[2019-04-23 23:16] srirambv commented on #4206
Thanks. closing as dupe of #4202

[2019-04-23 23:16] #4206 closed

[2019-04-23 23:41] kjozwiak opened #4207 "maximum daily ads at 21 instead of 20 (follow up to #3849)"
## Description

As per https://github.com/brave/brave-browser/issues/3849, the daily limit for ads should be `20`. However, it's currently `21`. Assuming we're using `0-20` instead of `1-20`. Once you reach `21` daily ads, you'll finally receive:

[code]

## Steps to Reproduce

   1. install a version of Brave that has `ads` and enable BR via `brave://rewards`
   2. change `Maximum number of ads d

[2019-04-23 23:46] kjozwiak commented on #3849
Verification **PASSED** on `macOS 10.14.4 x64` using the following build:

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Mac OS X

* Went through the test plan outlined under https://github.com/brave/brave-core/pull/2030
* Created https://github.com/brave/brave-browser/issues/4207

[2019-04-24 00:14] darkdh opened #4208 "DCHECK failed in BookmarkChangeProcessor::ApplyChangesFromSyncModel"
## Description

## Steps to Reproduce

   1.  Create sync chain and `folder F`, bookmark B` on device A
   2. Connect device B to device A
   3. Once device B get `folder F`, bookmark B` on toolbar, move `bookmark B` under `folder F`
   4.  device B crash on debug build

## Actual result:

[code]

## Expected result:

## Reproduces how often:

100%

## Brave version (brave://version info)

## Vers

[2019-04-24 00:29] #4059 closed

[2019-04-24 01:25] rossmoody commented on #4171
@LaurenWags are you still seeing this on Mac on nightly build?

[2019-04-24 01:26] rossmoody commented on #4171
Also technically this issue was the alert component not spanning the width of the column, the text sizes are the same size.

[2019-04-24 02:17] #4153 closed

[2019-04-24 02:53] kjozwiak opened #4209 "Enable Ads on Release Channel"
The following work was completed in `0.63.x` to get ads in a state where we can enable it by default for the release channel:

* https://github.com/brave/brave-browser/issues?utf8=%E2%9C%93&q=milestone%3A%220.63.x+-+Release%22+label%3Afeature%2Fads

[2019-04-24 02:53] #4209 closed

[2019-04-24 03:02] btlechowski commented on #3930
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/56629347-0f65f100-661b-11e9-8145-7995cc6663f9.png)

In Polish language:
![image](https://user-images.githubusercontent.c

[2019-04-24 03:16] kjozwiak opened #4210 "Release notes for 0.63.x (Release Channel)"
Release Notes
 - Enable Ads on Release Channel.([#4209](https://github.com/brave/brave-browser/issues/4209))
 - Loss of "Clickable area" on new tab page tiles.([#3487](https://github.com/brave/brave-browser/issues/3487))
 - Option to clear browsing data on exit.([#492](https://github.com/brave/brave-browser/issues/492))
 - Use global top navigation bar for settings, rewards, history, bookmarks, do

[2019-04-24 03:30] btlechowski commented on #3950
Reproduced on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/56630542-b8aee600-661f-11e9-96fe-39fe3f1c101b.png)

[2019-04-24 03:40] btlechowski opened #4211 "IPFS companion extension is not removed from `brave://components`"
Follow up to https://github.com/brave/brave-browser/issues/3918
Found when verifying test plan from https://github.com/brave/brave-core/pull/2106

## Steps to Reproduce

   1. Clean install
   2. Open `brave://settings/?search=ipfs`
   3. Toggle `IPFS Companion` on
   4. Wait till the extension is installed
   5. Toggle `IPFS Companion` off
6. Check `brave://components/` for `IPFS Companion`

## A

[2019-04-24 03:45] btlechowski opened #4212 "IPFS companion option in `brave://settings/` is not translated"
Found when verifying test plan from https://github.com/brave/brave-core/pull/2106

## Steps to Reproduce

   1. Clean install
   2. Change Browser language to Polish
   3. Open `brave://settings/?search=ipfs`

## Actual result:

IPFS companion option is not translated

![image](https://user-images.githubusercontent.com/34715963/56631075-b188d780-6621-11e9-995b-738a949306bc.png)

## Expected result

[2019-04-24 03:49] btlechowski commented on #3918
Verification passed on

Brave | 0.63.45 Chromium: 74.0.3729.75 (Official Build) beta (64-bit)
-- | --
Revision | fdb7915642fef8cf997beac2554709d148e3c187-refs/branch-heads/3729@{#754}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/2106
Also verified that user cannot install ipfs extension from Google webstore when ipfs is already installed through

[2019-04-24 04:01] srirambv commented on #4207
Issue reproduced on Linux

Brave | 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Linux

[2019-04-24 04:12] btlechowski opened #4213 "Shields Panel drop downs are blank"
Follow up to https://github.com/brave/brave-browser/issues/2488

## Steps to Reproduce

   1. Clean install
   2. Open `interia.pl`
   3. Open Shields Panel
4. Click on `3rd-party cookie blocked` to show drop down
OR
4. Click on `3rd-party recognition devices blocked` to show drop down

## Actual result:

Text in the drop down is not visible

Light theme:
![image](https://user-images.githubusercon

[2019-04-24 04:14] btlechowski commented on #2488
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Still reproducible, logged new issue https://github.com/brave/brave-browser/issues/4213

[2019-04-24 05:06] #4202 closed

[2019-04-24 05:34] tsjnachos117 opened #4214 "Widevine won't install in non-default directory"
I can't watch Netflix, because I can't install Widevine. IDK what the problem is, but brave just doesn't like Widevine. I keep installing it over, and over, and over, and everytime I restart the browser, it tells me to install it again.

I don't want DRM in my normal browsing profile, so I want to browse Netflix with an alternative profile. I intend to achieve this by adding the `--user-data-dir=[

[2019-04-24 05:46] tsjnachos117 commented on #4214
Update: running Brave with no arguments from a non-default HOME directory seems to be working well enough. I wish Brave would just load Widevine to the specified directory without me needing to trick it like this, but I guess this works too.

[2019-04-24 05:53] #4107 closed

[2019-04-24 07:27] knucklas commented on #3873
I have these:
/etc/apt/sources.list.d/brave-browser-release-bionic.list
/etc/apt/sources.list.d/brave-xenial.list
/etc/apt/sources.list.d/brave-xenial.list.distUpgrade

[2019-04-24 07:38] bsclifton commented on #3509
Removed from `release-notes/include` since impact to customer is the same as https://github.com/brave/brave-browser/issues/2687

[2019-04-24 09:14] GeetaSarvadnya commented on #4207
Reproduced on windows:
![image](https://user-images.githubusercontent.com/38657976/56647695-8349dd00-669f-11e9-86b2-9f519ae738e9.png)

Brave | 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

[2019-04-24 11:30] IOI-655321 opened #4216 "Issue loading coldfusion generated PDF's"
I'm using Brave on a company intranet system which generates PDF reports in Coldfusion.  Normally we point this to a .cfm file that generates the report via a Java PDF generator (flying saucer) via RmiClient.

It sets a cfcontent tag (shown below) for the PDF which in other browsers opens the PDF but brave always forces the download of the .cfm file so not even the generated PDF can be saved.

<cf

[2019-04-24 12:53] polent commented on #4201
https://www.golem.de/ One of your registered publishers also started using the same technique.

![image](https://user-images.githubusercontent.com/4612123/56660836-a9bc4800-66a0-11e9-913e-d3c2ccf3e312.png)

[2019-04-24 13:17] #4079 closed

[2019-04-24 13:18] #4078 closed

[2019-04-24 13:18] #4077 closed

[2019-04-24 13:26] StoppingBuck commented on #4175
@srirambv I'm confused. Does that mean I should report it upstream so it can get fixed? If so... where?

[2019-04-24 13:44] LaurenWags commented on #4207
Reproduced on macOS

Brave | 0.63.47 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Mac OS X

![Screen Shot 2019-04-24 at 9 43 43 AM](https://user-images.githubusercontent.com/28145373/56664097-8039f700-6675-11e9-84fc-9245cb48b555.png)

* Sent `Default/ads_service/client.json` to @tmancey for investig

[2019-04-24 14:11] fmarier commented on #3873
Since you are on Ubuntu 18.04, then you can delete these old files:

* `/etc/apt/sources.list.d/brave-xenial.list`
* `/etc/apt/sources.list.d/brave-xenial.list.distUpgrade`

and then do `sudo apt update`.

What do you get if you run `apt-key list`?

Finally, can you then paste the contents of `/etc/apt/sources.list.d/brave-browser-release-bionic.list`?

[2019-04-24 14:13] fmarier commented on #4133
@texastoast Are you still having this problem?

It works fine on my Ubuntu 18.04 laptop. It's possible you tried to update while we were pushing out new packages.

[2019-04-24 14:17] fmarier commented on #3774
What do you get if you run `ls -l /etc/alternatives/x-www-browser` ?

[2019-04-24 14:22] fmarier commented on #2809
This is also a bug in the latest version of Chrome (Version 74.0.3729.108 (Official Build) (64-bit)).

[2019-04-24 14:26] fmarier commented on #3774
Also, what is the output of `xdg-settings get default-web-browser`?

[2019-04-24 14:28] fmarier commented on #2377
What is the output of `ls -l /etc/alternatives/x-www-browser`?

Does making Brave the default using `update-alternatives --config x-www-browser` make the message go away?

[2019-04-24 14:31] fmarier commented on #2357
The latest `.deb` (and `.rpm`) packages are always available from https://github.com/brave/brave-browser/releases. Maybe we just need to publicize this?

[2019-04-24 14:34] cavatron commented on #2377
@fmarier not sure Arch has `update-alternatives`. I believe that is a Debian-based thing

[2019-04-24 14:36] fmarier commented on #2357
Related: https://github.com/brave/brave-browser/issues/1290

[2019-04-24 14:41] fmarier commented on #305
I ran into the same problems in https://github.com/brave/brave-core/pull/1078#issuecomment-454969015.

The solution, which I documented in https://github.com/brave/brave-browser/wiki/Linux-packages#build-command, is to use `--official_build=true` or to omit that option entirely.

[2019-04-24 14:50] fmarier commented on #2377
I also saw `update-alternatives` on Fedora and so I assumed it was a standard Linux thing. Though looking at it closer, while it exists on Fedora, there is no `/etc/alternatives/x-www-browser`.

So I think you're right, that last part looks like a Debian-specific thing.

[2019-04-24 15:15] yrliou opened #4218 "ipfs companion options page cannot be shown"
## Description
IPFS companion has an extension option page which includes various options users could set for the extension. Because right now we installed it as a component extension if users install it using the switch in brave://settings, the extension cannot be shown in brave://extensions unless we manually pass an argument when execute the binary.

## Steps to Reproduce

   1. Visit brave://s

[2019-04-24 15:27] yrliou commented on #4218
Test plan specified in https://github.com/brave/brave-core/pull/2328#issue-272955946

[2019-04-24 15:59] #4210 closed

[2019-04-24 16:06] #4208 closed

[2019-04-24 16:25] Jacalz opened #4219 "Build all official brave packages with compiler optimizations"
## Description

More or less a feature request, but a lot of the other browsers are building their official packages, for all operating systems, using compile time optimizations. The guys over at Firefox are for example getting better performance with the Clang compiler, using Link Time Optimizations and probably some other stuff too. I also think it would be a good idea for Brave to do benchmarks

[2019-04-24 16:26] LaurenWags opened #4220 "restoring a wallet does not check for grant"
## Description
After a wallet is restored, it doesn't appear as though there is a check for grant. No notification appears on BAT logo and no claim banner displays on brave://rewards.

## Steps to Reproduce

   1. Launch Brave (I used staging flag)
   2. Enable Rewards. (Since I was on staging, there was a grant notification. I claimed it for the wallet that had been created, this made the claim b

[2019-04-24 16:38] rebron commented on #4197
Closing. Released April 24th, 9amPDT.

[2019-04-24 16:38] #4197 closed

[2019-04-24 17:13] fmarier opened #4221 "Ads not available in Canada"
According to https://www.brave.com/blog/brave-ads-launch/, Ads are available in Canada.

However, I can't turn them on in my browser:
![Screenshot from 2019-04-24 10-11-43](https://user-images.githubusercontent.com/167821/56679280-86ca6d80-6679-11e9-80ae-6a9f806f798e.png)

[code]

[2019-04-24 17:38] yrliou commented on #4211
Currently per impl it will be disabled but not unloaded before restart.
This will no longer be an issue since we're changing to install it as a normal extension in https://github.com/brave/brave-core/pull/2328.

[2019-04-24 17:42] #3950 closed

[2019-04-24 17:42] #4218 closed

[2019-04-24 17:53] #4111 closed

[2019-04-24 18:00] wordlessly opened #4223 "Offer Update functionality for brave-os-x64.zip"
## Description

Brave offers releases in the form of zip archives for all OSses.

Firefox does the same and I highly applaud this practice. You can quickly test out or even use Brave without admin rights and without actually installing it.

However, unlike Firefox, one cannot update zip-archive Brave versions. With Firefox you extract the zip and it will always check for updates and allow you to i

[2019-04-24 18:10] GeetaSarvadnya commented on #3659
Verification passed on

Brave | 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the test plan mentioned in slack

[2019-04-24 18:29] #3531 closed

[2019-04-24 18:51] LaurenWags commented on #4171
@rossmoody looks good with 0.66.21 on Nightly

Brave | 0.66.21 Chromium: 74.0.3729.108 (Official Build)nightly (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Mac OS X

![Screen Shot 2019-04-24 at 2 50 25 PM](https://user-images.githubusercontent.com/28145373/56685637-6c57ba80-66a0-11e9-80b6-9a45eeefc981.png)

[2019-04-24 19:17] anthonypkeane commented on #3651
I ran into this issue on Mac too
I saw 2 notifications, put on DND and when I turned off DND, the Ads panel said I had received 8 ads

BTW, on Mac, like Slack do, it might be an idea to keep the Ad notification persistent in the notification area so users can see them again.

[2019-04-24 19:27] LaurenWags commented on #2297
Tried it again @NejcZdovc and this time the tip did happen twice (but was only recorded once, so could be something to do with timing and I didn't wait long enough last time I tried.

[2019-04-24 19:44] LaurenWags commented on #3695
@ryanml does this require manual QA on desktop? if so, could you tag appropriately and add a test plan?

[2019-04-24 19:46] LaurenWags commented on #3898
Does this require manual QA on desktop? Could you tag `QA/No` or `QA/Yes` as appropriate and add a test plan if manual QA is needed?

[2019-04-24 19:46] ryanml commented on #3695
@LaurenWags added QA/No. This was simply adding a string entry to our files in brave-core, which then got pulled down to Android. The issue it was part of was verified on that repository, thanks!

[2019-04-24 19:50] LaurenWags commented on #3695
awesome, thanks @ryanml 😄

[2019-04-24 19:59] LaurenWags commented on #3443
@fmarier can you provide a test plan for manual QA? if manual QA is not needed, can you please label as `QA/No`?

[2019-04-24 20:41] LaurenWags commented on #1713
Verified passed with

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta(64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Mac OS X

* Reproduced issue on current release (0.63.48) version, and then tested on 0.64.60. Verified test plan from https://github.com/brave/brave-core/pull/2003

[2019-04-24 21:40] LaurenWags commented on #3882
@petemill @simonhong is this one macOS (specifically Mojave) only?

[2019-04-24 22:23] srirambv opened #4224 "Updating from an older version fails to enable ads"
## Description

Updating from an older version fails to enable ads

## Steps to Reproduce

   1. Install an older build say (0.58.21)
   2. Enable Rewards. ensure ads is not available
   3. Upgrade to 0.63.48
   4. Ads shows sorry not available for your region even if the criteria matches

## Actual result:

Updating from an older version fails to enable ads

## Expected result:
Should enable ads

[2019-04-24 23:01] simonhong commented on #3882
@LaurenWags extension page on Windows should change by windows os theme change.
However, only nightly will work properly.
For dev, beta, uplift PRs are waiting for approving. https://github.com/brave/brave-core/pull/2332 and https://github.com/brave/brave-core/pull/2331.

[2019-04-25 01:15] jayneyer commented on #3756
Having this issue as well.  Very frustrating.  Surprised to see this issue open for so long.

[2019-04-25 01:16] jayneyer commented on #3756
Not sure why this issue was closed, still is persisting.

[2019-04-25 03:05] btlechowski opened #4225 "Focus indicator in shields panel is trimmed"
## Steps to Reproduce

   1. Change OS display scale to 125%
   2. Clean install
   3. Open a page
   4. Open shields panel
   5. Focus a toggle

## Actual result:

Focus indicator is trimmed on the right side
![image](https://user-images.githubusercontent.com/34715963/56706887-e88ce500-6716-11e9-8c50-f1bae41a99d6.png)

Note: reproducible for `Light` and `Dark` theme

## Expected result:
Focus ind

[2019-04-25 03:25] Programatic opened #4226 "Ads not available in my United States on Linux Browser"
## Description
The Browser is freshly updated from the AUR and does not let me use ads in my country. I am in the United States and just to be sure I tested it from my laptop which works.

## Brave version (brave://version info)

Brave | 0.63.48 Chromium: 74.0.3729.108 (Official Build)unknown (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Li

[2019-04-25 03:42] btlechowski commented on #1894
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1797
Checked indicators on main shields page and subpages.

[2019-04-25 04:08] btlechowski opened #4227 "Ugly scrollbars in Shields Panel detailed view"
## Steps to Reproduce

   1. Open `wired.com`
   2. Open Shields Panel
   3. Click on `3rd party trackers blocked` to show detailed view

## Actual result:

![image](https://user-images.githubusercontent.com/34715963/56709188-2b9f8600-6720-11e9-9e59-96c77961b174.png)

## Expected result:
![scroll behavior](https://user-images.githubusercontent.com/2388823/56771566-e0ab6000-676b-11e9-9b85-b35e12040

[2019-04-25 04:10] btlechowski commented on #1892
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1797
Horizonal scrollbars are enabled
![image](https://user-images.githubusercontent.com/34715963/56709188-2b9f8600-672

[2019-04-25 04:26] btlechowski opened #4228 "Different number of scripts blocked in main view and detailed view"
## Steps to Reproduce

   1. Open `https://www.poboczem.pl/video,vId,2681150`
   2. Open Shields Panel
   3. Blocked the scripts

## Actual result:

Different number of scripts blocked in main view and detailed view
Main view shows 18 scripts blocked:
![image](https://user-images.githubusercontent.com/34715963/56709648-a1a4ec80-6722-11e9-843a-ab97b90d1e87.png)
Detailed view shows 3 scripts blocked

[2019-04-25 04:30] btlechowski commented on #2565
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1797

[2019-04-25 04:47] btlechowski commented on #3791
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used STR from the description

![image](https://user-images.githubusercontent.com/34715963/56710309-c64e9380-6725-11e9-8c26-49883cd8d622.png)
![image](https://user-images.githubuse

[2019-04-25 05:07] btlechowski commented on #4220
Not reproducible on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Steps used:
1. Clean install
2. Run with staging flag
3. Enable rewards, make sure grant is available
4. Backup wallet through keys
5. Clean install
6. Enable rewards and claim grant

[2019-04-25 05:36] rebron commented on #4090
brave/brave-core#2115 got merged into 63.x and #4115 was merged into 65.x.
This should be fixed in 65.x then?

[2019-04-25 06:10] AdamGerthel commented on #3756
@jayneyer It's apparently been fixed already, just not released. See https://github.com/brave/brave-browser/issues/3756#issuecomment-485851584

[2019-04-25 06:19] NejcZdovc commented on #4090
@rebron this one will completely solve it https://github.com/brave/brave-browser/issues/3707

[2019-04-25 07:07] Dizeeee opened #4229 "Support the dark theme on the rewards page (dark mode)"
This is a pretty simple problem, the colors setting that can be found in the appearance section of the menu does not seem to apply to the rewards page. The styling for the rewards page needs to be updated to support it.

[2019-04-25 07:11] knucklas commented on #3873
Thanks, but would you believe, my Ubuntu system has collapsed! I'll respond when I get it back.

[2019-04-25 07:46] GeetaSarvadnya commented on #4187
@tmancey  Even after page reload and browser restart "Sorry! Ads are not supported for this region" message" is not shown for Region `India`

[2019-04-25 08:01] btlechowski commented on #3882
Based on the above comment, added `OS/macOS` label

[2019-04-25 08:11] simonhong commented on #3882
@btlechowski yes, it's correct 👍

[2019-04-25 08:58] tmancey commented on #4187
Microsoft recommend using https://docs.microsoft.com/en-us/windows/desktop/intl/locale-sname to retrieve the locale. Microsoft must be using a multitude of settings to determine the locale, i.e. en_US which is out of control.

[2019-04-25 09:13] btlechowski commented on #3870
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from the description.

[2019-04-25 09:17] btlechowski commented on #3817
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from the description.

[2019-04-25 09:56] lidel commented on #4218
@yrliou would it make things better if we open Preferences in a new tab (https://github.com/ipfs-shipyard/ipfs-companion/issues/502)?

Or is this related to the way `runtime​.open​Options​Page()` is handled in component extensions?

[2019-04-25 10:09] btlechowski commented on #3637
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1959

![image](https://user-images.githubusercontent.com/34715963/56727333-c31ccd00-6750-11e9-8e05-5d0ebea06cf4.png)

[2019-04-25 10:11] GeetaSarvadnya opened #4230 "Ads enable is NOT controlled by OS Region"
## Description

As per the new logic, Ads are enabled based on the IP address, OS region, and locale. I have set the Region as "India" (Ads not supported country) in Windows OS. Ads are enabled and I am able to view the Ads for the Region "India"

## Steps to Reproduce

   1. Set the Region as `India` in "Region and Language settings"
   2. Set the language as `English (United States)`
   3. VPN i

[2019-04-25 10:12] fooforever opened #4231 "Ad Notification has a settings button in Gnome"
## Description

When an ad notification pop up appears in Gnome it has a settings button in the notification that takes you to the ad site, exactly the same as clicking just the notification does. Don't know if the notification is meant to have a button but its misleading that its labelled 'Settings' and just takes you to the ad, was expecting to go the brave://rewards page or something. I think t

[2019-04-25 10:16] fooforever commented on #3774
Neither of those command produce anything, no such file and help text. Although this does seem to have stopped happening now, on Gnome 3.32.1 and brave 0.63.48 though.

[2019-04-25 10:48] btlechowski commented on #2874
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan https://github.com/brave/brave-core/pull/1895

[2019-04-25 11:05] btlechowski opened #4232 "Brave Panel not updated with publisher info after enabling Rewards"
## Steps to Reproduce

   1. Enable rewards
   2. Disable rewards
   3. Open `https://kjozwiak.github.io/`
4. Enable rewards through Rewards Panel

## Actual result:

Publisher info is not shown in Rewards Panel

Note: Reopening Rewards Panel fixes the issue

![4232](https://user-images.githubusercontent.com/34715963/56731531-fe23fe00-675a-11e9-8066-2e5298aef9f7.gif)

## Expected result:
Publisher

[2019-04-25 11:08] btlechowski commented on #3597
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta (64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1930

![image](https://user-images.githubusercontent.com/34715963/56730672-d03dba00-6758-11e9-936e-2342c23a3b12.png)

I

[2019-04-25 11:37] btlechowski opened #4233 "Captcha in Rewards Panel is cut in some languages"
## Steps to Reproduce

   1. Change Brave locale to `Polish`
   2. Enable rewards
   3. Claim grant through Brave Panel

## Actual result:

Captcha in Rewards Panel is cut at the bottom
![image](https://user-images.githubusercontent.com/34715963/56732797-b7380780-675e-11e9-9fd6-87f4b6121910.png)
![image](https://user-images.githubusercontent.com/34715963/56732808-bdc67f00-675e-11e9-97ae-fc289f265f

[2019-04-25 11:39] srirambv commented on #4230
This is expected. Locale is set to English(US) which satisfies the criteria to allow ads.

cc: @tmancey

[2019-04-25 11:45] srirambv commented on #4228
This has always been the behaviour. Was briefly discussed here https://bravesoftware.slack.com/archives/CD495CWLR/p1548828086062300

cc: @karenkliu

[2019-04-25 12:53] srirambv commented on #4226
Was this a clean install or update on an existing install?  If updated, can you tell which version was running before the upgrade?

Possibly related to #4224 and there are a bunch of community maintained packages on AUR and some are outdated

cc: @tmancey

[2019-04-25 12:58] GeetaSarvadnya commented on #4230
Closing the issue as IP + OS Locale satisfy the criteria

[2019-04-25 12:58] #4230 closed

[2019-04-25 13:05] srirambv commented on #4221
Possibly related to #4224?

[2019-04-25 13:10] srirambv commented on #4216
Might be fixed with https://github.com/brave/brave-browser/issues/3846

cc: @bsclifton

[2019-04-25 13:19] srirambv commented on #4223
The zip archives are to build locally for debug. I dont believe it will check for updates.

cc: @bbondy

[2019-04-25 13:24] srirambv commented on #4200
`Windows.old` only happens during major OS upgrade. Manual system reset doesn't create windows.old. https://github.com/brave/brave-browser/issues/4062 might help in backing up profile there by avoiding implementing searching on older installs. Also chances of this happening is quite less as well.

cc: @rebron @bsclifton

[2019-04-25 13:29] wordlessly commented on #4223
The zip archives are build locally for debug? What does do you mean by this?

"build" in the sense of compiling the brave binary from source code and package it all in a zip file?
"locally" means what? Aren't those zips build automatically somehow from the sources on Github and then the links added in the "release" section?
"debug" do you mean those zip archives containing a working brave binary a

[2019-04-25 13:41] FWDekker commented on #3756
The fix has been released now

[2019-04-25 13:53] tneo commented on #1900
@fmarier I followed the steps you did for Leap 15 with Tumbleweed. This is the output:
[code]

[2019-04-25 14:11] srirambv commented on #4231
Ideally it should open the system notification settings to turn on/off.

[2019-04-25 14:13] srirambv commented on #4233
Similar to #2956

[2019-04-25 14:15] Byrd1083 opened #4234 "Brave browser is crashing wallets and miners"
## Description

I have Siacoin wallet open, and I also use Rainbow miner. They both run fine in the background. As soon as I open Brave browser using version Version 0.66.21 2 out of 3 times It will crash itself along with browser extensions being reported to have crashed. I restart it a few times and it will open then close fast. Additionally my Siacoin deamon fails and my rainbow miner will forc

[2019-04-25 14:59] fmarier commented on #4221
No, this was an update from 0.62.51.

[2019-04-25 15:02] Programatic commented on #4226
I updated from a previous install. For reference, I use https://aur.archlinux.org/packages/brave-bin/ and it seems to be the one that updates the most often. When I get home I will do a full reinstall and test it out again.

[2019-04-25 15:03] caspertone2003 opened #4235 "New tabs are not shown"
## Description

I  am running 0.63.48 @W10-x64
When there are too many tabs open, new opened tabs are not shown.
Currently I have 15 pined tabs (that are wider in size than unpinned ones) and 19 non pinned ones. If I open another one I can not reach it after going to another of the opened tabs...

## Steps to Reproduce

Already described
## Actual result:
Already described

## Expected result:
Too

[2019-04-25 15:04] fmarier commented on #4221
Here are the results for my residential IP address from https://www.iplocation.net:

[code]

[2019-04-25 15:06] fmarier commented on #4221
It happens on two different laptops.

One of them (running Debian unstable) is using this locale:

[code]

and the other one (Ubuntu 18.04) is using:

[code]

[2019-04-25 15:12] btlechowski opened #4236 "Monthly tip notification is not translated"
## Steps to Reproduce

   1. Clean install
   2. Run Brave with flag: `--rewards=staging=true,reconcile-interval=5`
   3. Change Brave locale to `Polish`
   4. Relaunch Brave with flag: `--rewards=staging=true,reconcile-interval=5`
   5. Enable Rewards and claim grant
6. Monthly tip `duckduckgo.com`
7. Disable auto-contribute in `brave://rewards`
8. Wait for Monthly tip reconciliation

## Actual r

[2019-04-25 15:45] LaurenWags commented on #4161
Ran the following test:
- on both Release (0.63.48) and Nightly (0.66.21) launched with `--enable-logging=stderr --log-level=2 --vmodule=brave_ads=3 --brave-ads-debug` with clean profiles and enabled Rewards.
- didn't navigate to any sites
- let these both sit overnight (my computer went to sleep).
- In the morning, 15 minutes after waking (and every 15 minutes thereafter) Nightly pulled a catalog

[2019-04-25 16:03] bsclifton commented on #3756
As @FWDekker shared, fix has been released with 0.63! 😄 Please grab a copy and let us know if this still happens

[2019-04-25 16:36] #3539 closed

[2019-04-25 16:55] GeetaSarvadnya commented on #3306
Unable to reproduce the issue on the current Release (`0.63.48`) and Beta build (`0.64.60`)

[2019-04-25 16:55] #3306 closed

[2019-04-25 17:03] GeetaSarvadnya commented on #3190
Unable to reproduce the issue on `0.63.48` and `0.64.60`. Looks like the issue is fixed.

[2019-04-25 17:42] GeetaSarvadnya commented on #2758
The issue is fixed and working fine. Verified on below version Linux mint - '0.63.48` and `0.64.62`

![image](https://user-images.githubusercontent.com/38657976/56756517-8d5b0100-67af-11e9-87d5-4e21dc6669de.png)

[2019-04-25 17:42] #2758 closed

[2019-04-25 17:43] #4205 closed

[2019-04-25 17:54] yrliou commented on #4218
@lidel If preference is opened as an extension page in a new tab, then we won't have problem showing it by either installing as a component extension or a regular extension.
The reason it cannot be shown if installing as a component extension is because the extension page (chrome://extensions or brave://extensions) where the overlay will be in will not show any component extensions by default.
Bec

[2019-04-25 17:58] fmarier opened #4237 "Prevent tracking via Progressive Web Application Manifests"
Details here: https://blog.lukaszolejnik.com/tracking-users-with-rogue-progressive-web-applications/

Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1542898

[2019-04-25 18:02] fmarier commented on #3443
I would suggest following the test plan on https://github.com/brave/brave-core/pull/1905. Let me know if anything on there is unclear.

[2019-04-25 18:03] srirambv commented on #4221
Locale French has to be for France. Other region French isn't supported I guess. This is same with Qwant as well.

cc: @tmancey

[2019-04-25 18:05] srirambv commented on #4235
This is a limitation on Chromium code. Once you hit the threshold new tabs are not shown. Tab pages are not yet implemented on brave-core.

cc: @bsclifton @bbondy

[2019-04-25 18:29] davidfritsche17 commented on #3755
what fixed it?  I have the same issue

[2019-04-25 18:30] satchnut commented on #34
All the protections and blocking in the world means little if the single greatest anti-tracking method remains outside the feature-set. Please bring this back! Firefox needs some competition again.

[2019-04-25 18:41] Brave-Matt commented on #3751
+2 more users from Community:
https://community.brave.com/t/autoplay-was-blocked-on-this-page-pop-up/56046/6

[2019-04-25 19:15] fmarier commented on #3774
Ok, thanks for the update. I will close this issue. If it happens again, please feel free to reopen, or to create a new issue.

[2019-04-25 19:15] #3774 closed

[2019-04-25 19:15] bbondy opened #4238 "Replace unapproved C++ mutex header with base::Lock / base::AutoLock"
[code]

Replace with base::Lock/base::AutoLock

[2019-04-25 19:20] cwbriscoe commented on #4226
Same thing happening with me using Ubuntu 16.04.  I live in the US and used the following instructions to install:  https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux

[2019-04-25 19:54] GeetaSarvadnya commented on #3785
Looks like the issue is fixed. Unable to reproduce, tested on below versions:

`0.63.48` - Not reproducible
`0.66.24` - Not reproducible
`0.64.69` -  Not reproducible

[2019-04-25 19:54] #3785 closed

[2019-04-25 20:05] GeetaSarvadnya commented on #3006
Unable to reproduce the issue now. Since there are no UGP grants just tried with recovering the wallet and sent tip to verified pus the account balance is displayed correctly.

[2019-04-25 20:05] #3006 closed

[2019-04-25 20:06] #4224 closed

[2019-04-25 20:12] GeetaSarvadnya commented on #2757
Unable to reproduce, verified on below versions:

`0.63.48` - Not Reproducible
`0.65.74` - Not Reproducible
`0.66.24` - Not Reproducible
`0.64.60` - Not Reproducible

[2019-04-25 20:12] #2757 closed

[2019-04-25 20:26] GeetaSarvadnya commented on #1575
Looks like the issue is fixed. Unable to Reproduce the issue on below versions:

`0.63.48` - Not reproducible
`0.64.60` - Not reproducible
`0.66.24` - Not reproducible
`0.65.74` - Not reproducible

[2019-04-25 20:26] #1575 closed

[2019-04-25 20:49] fmarier opened #4239 "Prevent tracking based on link decoration via query string or fragment"
ITP 2.2 is reducing the lifetime of cookies set via `document.cookie` when the navigation came from a tracking-enabled page and the destination URL includes query string parameters or a fragment: https://webkit.org/blog/8828/intelligent-tracking-prevention-2-2/

We already block the third-party scripts that would be extracting these IDs and setting a first-party tracking cookie, but we could in th

[2019-04-25 21:14] yrliou commented on #4211
Closing as not actionable since IPFS companion is not a component extension anymore in 0.64.x and later.

[2019-04-25 21:14] #4211 closed

[2019-04-25 21:25] Brave-Matt opened #4240 "Dailymotion website does not load w/Shields up - must close tab and revisit to display"
## Description

When navigating to https://dailymotion.com/ the site does not load under default Shields or no Shields. A few of the header elements display but the site then continues to load infinitely:
![dailymo](https://user-images.githubusercontent.com/3299098/56769224-65df4680-6765-11e9-87b6-12e6021d94c2.gif)

When Shields are lowered, unless you navigate away from the site (close the tab),

[2019-04-25 21:37] bsclifton commented on #3119
I believe I have repro steps for this!

Visit https://pdfobject.com/examples/detection.html

## Expected
Message `This browser supports inline PDFs` should be shown (green color)

## Actual
Message `This browser does not support inline PDFs` shows (red color)

[2019-04-25 21:38] karenkliu opened #4241 "Update text on Brave Rewards settings page claim notification"
## Description
The current text on claim notifications do not match the text on the Brave Rewards Wallet panel.

Claim text: "Your Ads earnings are available."

<img width="445" alt="56461816-c4738180-636d-11e9-83b0-33578239c580" src="https://user-images.githubusercontent.com/2388823/56769781-1a2d9c80-6767-11e9-938b-9d053d4ecbc2.png">

Wallet panel: "X BAT earned from ads"

![image (1)](https://us

[2019-04-25 21:41] bsclifton commented on #2092
Closing as this appears to be fixed, per comment by @cndouglas

[2019-04-25 21:45] bsclifton commented on #1264
This appears to be fixed! 😄

[2019-04-25 21:56] bsclifton commented on #401
Verified this is no longer an issue on the DEV channel on macOS... Might be a Windows specific issue

[2019-04-25 22:08] karenkliu commented on #4227
Updated scroll behavior spec with revisions from light/dark theme update.

[2019-04-25 22:42] petemill opened #4242 "Rewards verified publishers show as "Not yet verified" before list is downloaded"
After enabling rewards but before successfully downloading and parsing the publisher list, publishers which are verified show as 'Not yet verified'.

Suggest either omitting the 'Verified' / 'Not yet verified' message entirely, or adding a 'Downloading publisher verification data...' state. This would also aid the manual fetch button, which would cause this state to be shown for every publisher. A

[2019-04-25 22:54] bitcoinuser commented on #2092
Not fixed for me. I still have the same problem.

[2019-04-25 22:56] bsclifton commented on #2092
@bitcoinuser OK great- thanks for the info.

We'll make sure we test this again once we have a final fix for some related issues (as it should fix this issue too)

[2019-04-25 22:57] karenkliu opened #4243 "Enable select to copy+paste on Scripts detail view"
## Description
The scripts detail view does not let the user select script text to copy+paste. Enable it!

This issue should replace https://github.com/brave/brave-browser/issues/1893

[2019-04-25 23:02] bsclifton commented on #1264
re-opened as @simonhong was able to reproduce on 0.63.48

[2019-04-25 23:07] karenkliu commented on #4228
The block count should count individual scripts blocked both on the main panel and scripts detail view. Detail view of scripts should have a matching number. @cezaraugusto mentioned he is able to show each individual script now, so that will help clear up the confusion; if there are 18 blocked scripts the user can go into the scripts detail view to see 18 items listed.

[2019-04-25 23:08] cribari commented on #3420
I agree with @jacobcantele .

[2019-04-25 23:08] diracdeltas opened #4244 "Update Tor wiki and migrate muon issues to this repo"
* https://github.com/search?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3Abrave+label%3Ator%2Fleakproofing&type=Issues < all these issues should be migrated here
* https://github.com/brave/browser-laptop/wiki/Using-Tor-in-Brave should be migrated to this repo since it's no longer editable
* The "known leaks" link should be updated to point to this repo instead of muon https://github.com/brave/browse

[2019-04-25 23:09] diracdeltas commented on #4244
Preferably https://support.brave.com/hc/en-us/articles/360018121491 should point to the wiki page (or the github results with known leaks) so technical users can learn about what the leaks are.

[2019-04-25 23:11] rebron commented on #4059
@simonhong Can we include this for 64.x/65.x too?

[2019-04-25 23:11] diracdeltas opened #4245 "certificate fetches should use tor or be disabled in tor windows"
migration of https://github.com/brave/muon/issues/520

[2019-04-25 23:13] simonhong commented on #4059
@rebron yep, I already pushed two uplift PRs.

[2019-04-25 23:17] karenkliu opened #4246 "Show progressive disclosure to help user discovery of Shields"
## Description
Currently there is poor onboarding and discovery for Shields. Show a progressive disclosure tooltip the first time a user visits a website with blocked items to educate the user and help them discover the browser feature.

## Designs
**Scenario**
Someone does a fresh install of the Brave Browser. They open the browser and go through the welcome experience, finishing on a new tab pag

[2019-04-25 23:18] karenkliu commented on #4246
@cezaraugusto Is this technically feasible?

[2019-04-25 23:25] saxobroko commented on #3755
I forgot to install something from Visual Studio.

On Fri, 26 Apr 2019 at 04:29, davidfritsche17 <notifications@github.com>
wrote:

[2019-04-25 23:30] Brave-Matt commented on #3348
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/bh8hsu/shield_is_not_working_properly_ads_showing/

[2019-04-25 23:53] tsjnachos117 commented on #4214
BTW, instead of changing the HOME variable, I can successfully change the XDG_CONFIG_HOME variable, which allows me to achieve similar results. This is a bit more graceful, as it ensures that certain subdirectories (such as "Downloads") are still in the same place. (Although this is of limited use, since I will only use this alternate setup for watching Netflix.)

[2019-04-26 00:11] karenkliu opened #4247 "Detect when a user might be experience a webcompat issue and help turn off Shields"
## Description
Currently, users in the general audience attribute webcompat issues to the browser or website not working correctly and don't identify it as a Shields setting issue. Help the user fix webcompat issues on their own by detecting when they are possibly experiencing a webcompat issue and surfacing instructions to fix it.

## Designs
The design should aim to improve:
Poor onboarding and

[2019-04-26 00:51] fmarier opened #4248 "saturn.at is broken on Android with TP enabled"
## Description

https://saturn.at is unusable on Android with Shields enabled.

## Steps to Reproduce
1. Load https://saturn.at on Android.
2. Click on a category like "Computer & Software".

## Actual result:
A spinner shows up and never goes away:

![Screenshot_2019-04-25-16-56-05](https://user-images.githubusercontent.com/167821/56776599-2115d880-6782-11e9-81db-cd40a84a5b26.png)

## Reproduces

[2019-04-26 00:56] fmarier opened #4249 "Brave Rewards notification even though my Android phone is not eligible"
I got a notification to enable Brave Rewards after a fresh install of Brave on my Android phone (running an old unsupported version of Cyanogen Mod):

![Screenshot_2019-04-25-16-54-01](https://user-images.githubusercontent.com/167821/56776851-4820da00-6783-11e9-85e8-91b51c56c903.png)

However, when I try to enable it, I get this error message:

![Screenshot_2019-04-25-16-53-35](https://user-images

[2019-04-26 00:59] fmarier opened #4250 "Navigating to chrome://rewards after unsuccessfully enabling Rewards leads to an unhelpful page"
I tried to enable Rewards on my old Cyanogen Mod phone and got told it's not possible:

![Screenshot_2019-04-25-16-53-35](https://user-images.githubusercontent.com/167821/56776923-acdc3480-6783-11e9-86e2-784a060bee63.png)

Then I clicked on the notification:

![Screenshot_2019-04-25-16-54-01](https://user-images.githubusercontent.com/167821/56776937-b8c7f680-6783-11e9-8992-85c0053dcf37.png)

and e

[2019-04-26 01:01] fmarier opened #4251 "A longer explanation for why phones are not eligible for Brave Rewards would be nice"
I tried to enable Rewards on my old Cyanogen Mod phone and got this error message:

![Screenshot_2019-04-25-16-53-35](https://user-images.githubusercontent.com/167821/56777011-03497300-6784-11e9-8f52-63a078c8a381.png)

A "learn more" or a longer explanation would be welcome.

[2019-04-26 01:05] fmarier commented on #4248
Reverting this change will mean reopening https://github.com/brave/tracking-protection/issues/32 and blocking the progress of https://github.com/brave/tracking-protection/issues/34.

[2019-04-26 01:06] karenkliu commented on #4247
@cezaraugusto Is this technically feasible?

[2019-04-26 01:17] riastradh-brave opened #4252 "Audit all protocols for leaks in Tor mode and block them or redirect them through Tor"
[x] FTP: https://github.com/brave/brave-core/commit/a2336f94cda16148a1ac191106527075f15b3c87
[x] WebRTC: tracked in https://github.com/brave/browser-laptop/issues/13397
[ ] SPDY/QUIC

[transcribed from https://github.com/brave/muon/issues/521]

[2019-04-26 01:17] riastradh-brave opened #4253 "Certificate fetches should use Tor or be disabled in windows with Tor"
related: https://bugs.chromium.org/p/chromium/issues/detail?id=80722

[transcribed from https://github.com/brave/muon/issues/520]

[2019-04-26 01:22] riastradh-brave opened #4254 "Browser process's system request context should be handled differently under Tor"
BrowserProcessImpl's system_request_context -- used for, among other things, remote geoip lookups for location services -- should generally not be used under Tor.

- [ ] enumerate what it's used for
- [ ] block anything that leaks that is not useful through Tor (e.g., not worthwhile to do a geoip lookup from what's-my-ip-address? to learn where the Tor exits are located)
- [ ] redirect what's left

[2019-04-26 01:26] riastradh-brave opened #4255 "Audit path from browser making URL requests down to contacting SOCKS proxy"
We need to make sure that all paths from making a URL request in browser-laptop down to the actual network activity leads only to network activity with the configured proxy, at least for Tor sessions. For example, when a SOCKS5 proxy is configured, there should be no DNS requests (see, e.g., brave/muon#164).  This is not trivial because there are many such paths!

Further, we should have a practic

[2019-04-26 01:28] riastradh-brave opened #4256 "Test rig for identifying leaks"
We should set up a test rig for Tor sessions that detects any network activity that does not go through the Tor proxy. E.g., we could mimic the iptables configuration in Tails, and automate doing tests of various kinds in this environment.

(This is a separate task from #4255, which is to do code analysis to find such leaks by studying code and thinking hard. Leaks found by such a test rig would d