[2020-04-10 01:50] #9127 closed

[2020-04-10 03:35] elemanhillary commented on #9107
i suggest a toggle button to switch them on and off since some prefer them, and i would be happy to make it happen

[2020-04-10 05:33] #8358 closed

[2020-04-10 05:33] #9110 closed

[2020-04-10 06:50] NejcZdovc commented on #7036
This is not limited to rewards, it's used in all our front end

[2020-04-10 06:57] NejcZdovc opened #9129 "Browser tests: Claim via code"
Right now all claims are happening via UI through panel. We would like to optimize this with claim via code so that tests can be done faster

[2020-04-10 07:00] NejcZdovc commented on #6502
closing as this should be resolved in https://github.com/brave/brave-browser/issues/8783

[2020-04-10 07:00] #6502 closed

[2020-04-10 07:01] NejcZdovc commented on #6938
closing as we will not be implementing backup/restore for tokens via download functionality

[2020-04-10 07:01] #6938 closed

[2020-04-10 07:03] NejcZdovc commented on #6677
closing as this is not valid anymore. We re-did widgets for NTP, so now we don't have only one

[2020-04-10 07:03] #6677 closed

[2020-04-10 07:12] NejcZdovc commented on #3293
we have github support now

[2020-04-10 07:12] #3293 closed

[2020-04-10 07:17] NejcZdovc opened #9130 "Rewards Everywhere phase 1"
- [x] Banner UI https://github.com/brave/brave-browser/issues/11393
- [x] Panel UI https://github.com/brave/brave-browser/issues/11929
- [ ] Greaselion
  - [x] Youtube https://github.com/brave/brave-browser/issues/9133
  - [x] Twitter https://github.com/brave/brave-browser/issues/11462
  - [x] Github https://github.com/brave/brave-browser/issues/11463
  - [x] Reddit https://github.com/brave/brave-

[2020-04-10 07:17] #5793 closed

[2020-04-10 07:18] NejcZdovc commented on #5429
closing as this will be needed in https://github.com/brave/brave-browser/issues/9130

[2020-04-10 07:18] #5429 closed

[2020-04-10 07:22] NejcZdovc commented on #7529
closing as stale

[2020-04-10 07:22] #7529 closed

[2020-04-10 07:24] NejcZdovc commented on #3323
not reproduce anymore

[2020-04-10 07:24] #3323 closed

[2020-04-10 07:26] NejcZdovc commented on #6768
closing as dupe of https://github.com/brave/brave-browser/issues/7961

[2020-04-10 07:26] #6768 closed

[2020-04-10 07:27] NejcZdovc commented on #6070
closing as stale

[2020-04-10 07:27] #6070 closed

[2020-04-10 07:29] NejcZdovc commented on #5919
this is working now, just tested it on 1.9.x

[2020-04-10 07:29] #5919 closed

[2020-04-10 07:31] NejcZdovc commented on #5463
closing as stale

[2020-04-10 07:31] #5463 closed

[2020-04-10 07:34] NejcZdovc commented on #5172
that is expected as what you are doing is losing focus on a window so we record vimeo.com time for AC, that's why it goes down. You can see at 35s of you video that Patagoina goes up as it recorded video duration in the table

[2020-04-10 07:34] #5172 closed

[2020-04-10 07:34] bsclifton commented on #8678
Sorry for the super long turn-around time @fizify ☹️ We should have a fix for a few more cases coming in the 1.7 release

@fizify you can edit the shortcut (on Windows) or open Brave via the command line and basically add `--disable-sync` to get past the crash you were experiencing

I'm going to close this as it should be fixed with https://github.com/brave/brave-core/pull/5139 (which will be in 1

[2020-04-10 07:34] #8678 closed

[2020-04-10 07:35] NejcZdovc commented on #5168
closing as stale

[2020-04-10 07:35] #5168 closed

[2020-04-10 07:38] bsclifton commented on #1308
For folks experiencing this problem, check out https://github.com/brave/brave-browser/issues/7951 and give it a +1 😄

[2020-04-10 07:38] NejcZdovc commented on #4605
closing as I don't see really what can be done here as @emerick said it intents are limited

[2020-04-10 07:38] #4605 closed

[2020-04-10 07:40] NejcZdovc commented on #4757
closing as stale

[2020-04-10 07:40] #4757 closed

[2020-04-10 07:41] NejcZdovc commented on #4568
closing as we changed how this works. Please reopen if this is still a problem

[2020-04-10 07:41] #4568 closed

[2020-04-10 07:44] NejcZdovc commented on #4565
with new twitter design we don't support promoted tweets anymore

[2020-04-10 07:44] #4565 closed

[2020-04-10 07:45] NejcZdovc commented on #4596
closing as stale

[2020-04-10 07:45] #4596 closed

[2020-04-10 07:49] NejcZdovc commented on #2297
closing as we changed contribution flow completely. Please reopen if still a problem

[2020-04-10 07:49] #2297 closed

[2020-04-10 07:50] NejcZdovc commented on #3625
closing as stale

[2020-04-10 07:50] #3625 closed

[2020-04-10 07:52] NejcZdovc commented on #2563
closing this one as we moved big state files in db. Please reopen if this is still a problem

[2020-04-10 07:52] #2563 closed

[2020-04-10 07:53] NejcZdovc commented on #3333
closing as this is working for me on 1.9.x

[2020-04-10 07:53] #3333 closed

[2020-04-10 07:56] bsclifton commented on #8693
This should be fixed now with https://github.com/brave/brave-core/pull/4537 😄

The fix is in 1.7 and later. 1.7 will be released early next week! You can also try a release candidate here:
https://github.com/brave/brave-browser/releases/tag/v1.7.90

[2020-04-10 07:56] #8693 closed

[2020-04-10 07:56] NejcZdovc commented on #7120
cc @alexwykoff

[2020-04-10 07:57] NejcZdovc commented on #3254
closing as stale

[2020-04-10 07:57] #3254 closed

[2020-04-10 08:00] NejcZdovc commented on #3133
closing as stale

[2020-04-10 08:00] #3133 closed

[2020-04-10 08:01] NejcZdovc commented on #3039
closing as #3639 was merged

[2020-04-10 08:01] #3039 closed

[2020-04-10 08:02] NejcZdovc commented on #2947
@GeetaSarvadnya is still a problem?

[2020-04-10 08:05] NejcZdovc commented on #3466
@brave/legacy_qa did we see anything like this?

[2020-04-10 08:07] NejcZdovc commented on #2086
closing as stale

[2020-04-10 08:07] #2086 closed

[2020-04-10 08:08] NejcZdovc commented on #2788
cc @tomlowenthal

[2020-04-10 08:10] NejcZdovc commented on #1438
this was fixed as @rossmoody said. We have box around now

![image](https://user-images.githubusercontent.com/9574457/78974977-707c2280-7b13-11ea-923d-e5ab0a2b7c6a.png)

[2020-04-10 08:10] #1438 closed

[2020-04-10 08:11] NejcZdovc commented on #2106
closing as stale

[2020-04-10 08:11] #2106 closed

[2020-04-10 08:12] NejcZdovc commented on #1907
closing as restore doesn't work like that anymore

[2020-04-10 08:12] #1907 closed

[2020-04-10 08:13] NejcZdovc commented on #6224
@LaurenWags is this still a problem?

[2020-04-10 08:13] NejcZdovc commented on #5259
closing as stale

[2020-04-10 08:13] #5259 closed

[2020-04-10 08:16] NejcZdovc commented on #5590
closing as stale

[2020-04-10 08:16] #5590 closed

[2020-04-10 08:18] NejcZdovc commented on #5534
closing as we changed whole grant code. If this is still a problem please reopen

[2020-04-10 08:18] #5534 closed

[2020-04-10 08:18] NejcZdovc commented on #6184
closing as stale

[2020-04-10 08:18] #6184 closed

[2020-04-10 08:19] NejcZdovc commented on #6670
closing as stale

[2020-04-10 08:19] #6670 closed

[2020-04-10 08:22] NejcZdovc commented on #7190
closing as can't reproduce on 1.9.x

[2020-04-10 08:22] #7190 closed

[2020-04-10 08:23] NejcZdovc commented on #7188
closing as stale

[2020-04-10 08:23] #7188 closed

[2020-04-10 08:24] NejcZdovc commented on #7313
@LaurenWags is this still a problem?

[2020-04-10 08:25] NejcZdovc commented on #7374
@SephReed is this still a problem?

[2020-04-10 08:26] NejcZdovc commented on #8366
@kc4knc is this still a problem? Did you maybe switch between versions? Could you send us data from brave://rewards-internals/. Thank you

[2020-04-10 08:26] NejcZdovc commented on #8004
closing as stale

[2020-04-10 08:26] #8004 closed

[2020-04-10 08:28] NejcZdovc commented on #8625
this will be fixed with #8895 in 1.8.x

[2020-04-10 08:28] #8625 closed

[2020-04-10 08:28] NejcZdovc commented on #5906
closing as stale

[2020-04-10 08:28] #5906 closed

[2020-04-10 08:29] NejcZdovc commented on #6282
closing as stale

[2020-04-10 08:29] #6282 closed

[2020-04-10 08:31] NejcZdovc commented on #5864
closing as stale

[2020-04-10 08:31] #5864 closed

[2020-04-10 08:32] NejcZdovc commented on #5990
@LaurenWags still a problem?

[2020-04-10 08:32] NejcZdovc commented on #5322
closing as stale

[2020-04-10 08:32] #5322 closed

[2020-04-10 08:32] pihomeserver commented on #8846
@bsclifton Hi. Tested and same issue for me. 1 core is used only for the BAT ledger
If you need specific information feel free to ask i will try to help

<img width="725" alt="Capture d’écran 2020-04-10 à 10 32 14" src="https://user-images.githubusercontent.com/3817578/78976506-9656f680-7b16-11ea-8667-4b2602183bac.png">

[2020-04-10 08:38] NejcZdovc commented on #4759
@srirambv is this still a problem?

[2020-04-10 08:38] NejcZdovc commented on #4731
@LaurenWags is this still a problem?

[2020-04-10 08:39] NejcZdovc commented on #4124
@cwbriscoe is this still a problem?

[2020-04-10 08:40] NejcZdovc commented on #3268
@LaurenWags still a problem?

[2020-04-10 08:41] NejcZdovc commented on #2919
@Programatic still a problem?

@wizonesolutions we fixed this in https://github.com/brave/brave-core/pull/4132

[2020-04-10 08:42] NejcZdovc commented on #2788
not sure if anything can be done in rewards code to fix this

[2020-04-10 08:43] NejcZdovc commented on #6546
closing as stale

[2020-04-10 08:43] #6546 closed

[2020-04-10 08:44] NejcZdovc commented on #7189
@GeetaSarvadnya still a problem?

[2020-04-10 08:57] NejcZdovc commented on #8846
@pihomeserver ok so 1.7 doesn't fix it for you, but you said 1.8.x does?

[2020-04-10 08:58] #9024 closed

[2020-04-10 09:04] pihomeserver commented on #8846
@NejcZdovc 1.8.65 fixed it. There is also another difference (could be or not important) : the dev release is a new install and does not share data with stable one. The RC version overrides the stable one so it shares previous installed files.

[2020-04-10 09:06] NejcZdovc commented on #8846
@pihomeserver this is important one for sure. We only see this problem on some affected profiles. So to really test this one you would need to duplicate your profile, append `-Beta` and then start 1.8

[2020-04-10 09:08] pihomeserver commented on #8846
1.8 is a fresh install with no data shared (favorites, configuration, etc.)
The 1.7 opens with all previous configuration settings. I try to have it in a fresh install

[2020-04-10 09:11] angsto commented on #8846
OK. Now one hour use, it seems that 1.7.9 it fix my problem. Thanks

[2020-04-10 09:13] pihomeserver commented on #8846
@angsto during install you overrided previous version or installed it somewhere else ?

[2020-04-10 09:15] angsto commented on #8846
I just download BraveBrowserStandaloneSetup.exe and run it.

[2020-04-10 09:24] pihomeserver commented on #8846
Ok i moved configuration data in an old folder to start from scratch (folder `/Users/chris/Library/Application Support/BraveSoftware/Brave-Browser`)
And started the new version 1.7.90
Now bug seems to be fixed
<img width="759" alt="Capture d’écran 2020-04-10 à 11 21 41" src="https://user-images.githubusercontent.com/3817578/78980207-bb9b3300-7b1d-11ea-8525-a6e44d1ea70c.png">

So i have to figure o

[2020-04-10 09:26] simonhong opened #9131 "Implement proxy for system request"
We have per-profile url request proxy and it is widely used for hooking at each step url load.
But, we don't have similar facility for system request.

[2020-04-10 09:57] NejcZdovc commented on #8960
@mandar-brave @jenn-rhim do we even need this text?

[2020-04-10 09:59] NejcZdovc commented on #8674
we could user new timers for this. We should also have a parameter that can force it like after contribution is made and things like that

[2020-04-10 10:05] NejcZdovc commented on #7165
maybe should be done as part of this effort https://github.com/brave/brave-browser/issues/8428

[2020-04-10 10:08] NejcZdovc opened #9132 "Remove balance api"
we should remove balance api for majority of users. Flow should be like this:

- introduce migration flag (default = false)
- if migration flag is false fetch from balance server
- if user has any balance there (which is user funds) we should continue normally
- if user don't have any balance set flag to true as user can't create new user funds anymore
- if flag is set to true skip brave balance s

[2020-04-10 10:08] NejcZdovc commented on #7165
should be done when https://github.com/brave/brave-browser/issues/9132 is done

[2020-04-10 10:09] NejcZdovc opened #9133 "[Desktop] Use GreaseLion for YouTube publishers"
we should switch to GL for YT so that we can have faster turn around rate when something breaks.

[2020-04-10 10:09] NejcZdovc commented on #7153
will be fixed with https://github.com/brave/brave-browser/issues/9133 as we will remove this code

[2020-04-10 10:09] #7153 closed

[2020-04-10 10:24] NejcZdovc commented on #7028
@alexwykoff this is what we have on 1.9. Is this issue still valid?

![image](https://user-images.githubusercontent.com/9574457/78984303-3bc59680-7b26-11ea-89ec-b148ec168cb6.png)

[2020-04-10 10:29] tmancey opened #9134 "Support UN M49 area codes (which do not contain embargoed countries) in Brave Ads"
Support UN M49 area codes (which do not contain embargoed countries) in Brave Ads (see https://unstats.un.org/unsd/methodology/m49/) as area codes are used for certain OS regional settings such as Spanish (Latin America) for Brazil

[2020-04-10 11:05] wizonesolutions commented on #7201
Is there a way to fix excessive contribution retries one-time, basically to reset the number if it has gotten really high due to the old bug? Besides closing the popup. 9,000x :) Cc @NejcZdovc

[2020-04-10 11:14] tmancey commented on #8909
@kjozwiak @LaurenWags I have tried to reproduce without success, so adding QA/Yes label for QA to test too.

@afonsolopez Would you be willing to screen share so I can investigate further?

[2020-04-10 11:44] NejcZdovc commented on #7009
@jenn-rhim @alexwykoff what would we like to display in this case, where publisher is not available because of reason X?

[2020-04-10 11:45] NejcZdovc commented on #6960
closing as stale

[2020-04-10 11:45] #6960 closed

[2020-04-10 11:46] NejcZdovc commented on #6775
closing as this is not relevant. Anonize was removed as part of https://github.com/brave/brave-browser/issues/7595

[2020-04-10 11:46] #6775 closed

[2020-04-10 11:47] NejcZdovc commented on #6765
closing as we will not have disable button anymore with https://github.com/brave/brave-browser/issues/9130

[2020-04-10 11:47] #6765 closed

[2020-04-10 11:48] NejcZdovc commented on #6762
@LaurenWags is this still a problem on the latest nightly?

[2020-04-10 11:49] NejcZdovc commented on #6266
@alexwykoff this happens because we tight it to star button. What should we do in this case?

[2020-04-10 11:49] NejcZdovc commented on #5527
@alexwykoff should we handle this use case?

[2020-04-10 11:50] NejcZdovc commented on #5544
@LaurenWags @btlechowski is this still a problem on latest Nightly?

[2020-04-10 11:52] #8987 closed

[2020-04-10 11:58] NejcZdovc commented on #6898
closing as we don't have this UI anymore

[2020-04-10 11:58] #6898 closed

[2020-04-10 12:01] NejcZdovc commented on #5412
@alexwykoff what would you like to do for this case?

[2020-04-10 12:01] NejcZdovc commented on #3595
closing as stale

[2020-04-10 12:01] #3595 closed

[2020-04-10 12:03] #2959 closed

[2020-04-10 12:05] NejcZdovc commented on #3678
this is not a problem anymore with VG

[2020-04-10 12:05] #3678 closed

[2020-04-10 12:15] #6914 closed

[2020-04-10 12:15] LaurenWags commented on #5990
no longer an issue. closing this one.

[2020-04-10 12:15] #5990 closed

[2020-04-10 12:22] congard commented on #9101
@bsclifton, yes, auto-suggestions enabled

[2020-04-10 12:23] LaurenWags opened #9135 "placeholder issue - Rewards notifications updates needed"
## Description
Per discussion in slack, https://bravesoftware.slack.com/archives/CB0KCRCQN/p1584978377455300?thread_ts=1584814280.450900&cid=CB0KCRCQN

we should make updates to some rewards notifications, in particular @davidtemkin noted the "Insufficient Funds" notification for updates.

This was tracking (somewhat) under https://github.com/brave/brave-browser/issues/6546 but that's a fairly old

[2020-04-10 12:24] NejcZdovc commented on #7201
@wizonesolutions will fix it in https://github.com/brave/brave-browser/issues/7239 to clear local storage. You will also need to do this step https://github.com/brave/brave-browser/issues/6867#issuecomment-561520119

[2020-04-10 12:29] NejcZdovc commented on #6867
@tiagosiebler let me fix this for you with https://github.com/brave/brave-browser/issues/7239

[2020-04-10 12:29] LaurenWags commented on #3466
I have not experienced this, @btlechowski or @GeetaSarvadnya - have either of you seen anything like this?

[2020-04-10 12:29] NejcZdovc commented on #6867
closing this one as main issue was resolved, will finalize it in #7239

[2020-04-10 12:29] #6867 closed

[2020-04-10 12:32] LaurenWags commented on #6224
haven't seen this in a long time. closing for now, will re-open if I experience it again.

[2020-04-10 12:32] #6224 closed

[2020-04-10 12:33] LaurenWags commented on #7190
@GeetaSarvadnya please double check this one as it was not reproducible for me on macOS.

[2020-04-10 12:34] LaurenWags commented on #7188
@GeetaSarvadnya please check this one also, as it was only reproducible for you on Windows and I could not reproduce on macOS

[2020-04-10 12:38] LaurenWags commented on #7313
yes, happens to me each time I restart my current profile (Dev 1.8.66 currently). I can't reproduce it on a clean profile, so something in my profile is probably jacked.

[2020-04-10 12:38] NejcZdovc commented on #4708
@brave/legacy_qa is this still a problem?

[2020-04-10 12:40] #3402 closed

[2020-04-10 12:41] LaurenWags commented on #4708
@GeetaSarvadnya can you reproduce this one still? I wasn't able to get expired grants to show in my panel, but if you had success before maybe you will again 😄

[2020-04-10 12:42] NejcZdovc commented on #5477
@mkarolin do you maybe have list of strings that are problematic?

[2020-04-10 12:43] joshxyzhimself commented on #9107
Yes even an option to completely disable it as an extension would be valuable.

Really weird to have it running in the backround like a botnet client.

[2020-04-10 12:46] NejcZdovc commented on #3477
that is not the case anymore

[2020-04-10 12:46] #3477 closed

[2020-04-10 12:50] NejcZdovc commented on #1597
agree, let's go with `64@1x`

[2020-04-10 12:51] NejcZdovc commented on #2958
closing as stale

[2020-04-10 12:51] #2958 closed

[2020-04-10 12:52] NejcZdovc commented on #6143
@kylehickinson can you look in this one?

[2020-04-10 12:53] NejcZdovc commented on #1662
@srirambv still a problem?

[2020-04-10 12:58] NejcZdovc commented on #1176
this is not relevant anymore

[2020-04-10 12:58] #1176 closed

[2020-04-10 12:59] NejcZdovc commented on #2867
closing as dupe of https://github.com/brave/brave-browser/issues/1658

[2020-04-10 12:59] #2867 closed

[2020-04-10 13:06] NejcZdovc commented on #1625
we have this checks in place and display correct message

[2020-04-10 13:06] #1625 closed

[2020-04-10 13:09] NejcZdovc commented on #2584
this was fixed as we moved all db stuff in shared lib

[2020-04-10 13:09] #2584 closed

[2020-04-10 13:15] NejcZdovc commented on #5447
closing as dupe of https://github.com/brave/brave-browser/issues/4566

[2020-04-10 13:15] #5447 closed

[2020-04-10 13:24] NejcZdovc commented on #5430
can't reproduce this problem

[2020-04-10 13:24] #5430 closed

[2020-04-10 13:26] NejcZdovc commented on #5442
closing as fixed on Uphold side

[2020-04-10 13:26] #5442 closed

[2020-04-10 13:27] LaurenWags opened #9136 "rewards panel shows wrong site info when tweeting about a tip sometimes"
## Description

While retesting https://github.com/brave/brave-browser/issues/5544, I found that I get the wrong publisher info on the rewards panel in certain cases.

## Steps to Reproduce

1. Clean profile, launch with staging, enable rewards and claim grant
2. Open `https://www.reddit.com/user/jsadler-brave`
3. Tip the publisher
4. Click the tweet button from the thank you area of the banner
5.

[2020-04-10 13:27] NejcZdovc commented on #4846
@btlechowski is this still a problem on the latest Nightly?

[2020-04-10 13:28] LaurenWags commented on #5544
I could not reproduce, but I did encounter and log https://github.com/brave/brave-browser/issues/9136.

Will let @btlechowski recheck before closing.

[2020-04-10 13:30] LaurenWags commented on #6762
yes, reproduces with

Brave | 1.9.15 Chromium: 81.0.4044.92 (Official Build) nightly (64-bit)
-- | --
Revision | 32921c79b6f01a0fb2deef0e1d45b42f96581051-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

[2020-04-10 13:32] LaurenWags commented on #4731
I haven't experienced this in awhile. Will close for now and reopen if I run into it.

[2020-04-10 13:32] #4731 closed

[2020-04-10 13:33] NejcZdovc commented on #4473
this issue is not valid. On 0.63 we didn't delete record like we did in 0.64. Because of that when you restore you see site in the table. So this rule is only from 0.64 forward

[2020-04-10 13:33] #4473 closed

[2020-04-10 13:35] NejcZdovc commented on #4359
closing as we don't have muon importer anymore

[2020-04-10 13:35] #4359 closed

[2020-04-10 13:38] NejcZdovc commented on #1346
closing as this code is not there anymore

[2020-04-10 13:38] #1346 closed

[2020-04-10 13:41] NejcZdovc commented on #3122
closing as stale

[2020-04-10 13:41] #3122 closed

[2020-04-10 13:42] NejcZdovc commented on #3775
closing as we will not go down this route

[2020-04-10 13:42] #3775 closed

[2020-04-10 13:44] NejcZdovc commented on #3786
closing as stale

[2020-04-10 13:44] #3786 closed

[2020-04-10 13:46] NejcZdovc commented on #3995
closing as fixed with https://github.com/brave/brave-core/pull/2520

[2020-04-10 13:46] #3995 closed

[2020-04-10 13:48] NejcZdovc commented on #4233
fixed with https://github.com/brave/brave-browser/issues/7597

[2020-04-10 13:48] #4233 closed

[2020-04-10 13:49] NejcZdovc commented on #3986
closing as this is not true with https://github.com/brave/brave-browser/issues/9130 work

[2020-04-10 13:49] #3986 closed

[2020-04-10 13:53] LaurenWags commented on #6553
Verified passed with

Brave | 1.8.71 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/5012
* Verified for clean profile with 1.8.x:
<img width="1141" alt="Screen Shot 2020-04-10 at 9 52 07 AM" sr

[2020-04-10 13:53] NejcZdovc commented on #4817
this is working as expected now (image in the original report)

[2020-04-10 13:53] #4817 closed

[2020-04-10 13:54] NejcZdovc commented on #4720
note we changed this to 3 days now

[2020-04-10 13:55] NejcZdovc commented on #4989
we deposit ad earnings to KYC wallet

[2020-04-10 13:55] #4989 closed

[2020-04-10 13:57] NejcZdovc commented on #4715
it's already working like this

[2020-04-10 13:57] #4715 closed

[2020-04-10 13:59] NejcZdovc commented on #4999
closing as stale

[2020-04-10 13:59] #4999 closed

[2020-04-10 14:00] NejcZdovc commented on #5921
@GeetaSarvadnya still a problem?

[2020-04-10 14:02] NejcZdovc commented on #8043
@LaurenWags still a problem?

[2020-04-10 14:05] zenparsing opened #9137 "Implement SKU WebUI for desktop"
Create a WebUI dialog implementing SKU purchase flow for desktop.

[2020-04-10 14:14] LaurenWags commented on #4930
Verified passed with

Brave | 1.8.71 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified for clean and upgrade profiles:

<img width="544" alt="Screen Shot 2020-04-10 at 10 11 59 AM" src="https://user-images.githubusercontent.com/28145373/78997081-ec766a

[2020-04-10 14:20] tiagosiebler commented on #6867
Thanks, would be nice to be rid of these errors @NejcZdovc - please let me know once there's an ETA

[2020-04-10 15:08] peeter123 commented on #8846
I had this issue in Brave 1.5.123 and previous versions. After installing latest 1.7.90 the problem seems to be resolved.

[2020-04-10 15:20] mkarolin commented on #5477
@NejcZdovc no, sorry. I believe I just ran into it accidentally in Transifex, but it's not something I actively tracked.

[2020-04-10 15:26] #9008 closed

[2020-04-10 15:31] LaurenWags commented on #8342
Verified passed with

Brave | 1.8.71 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from the description
<img width="1194" alt="Screen Shot 2020-04-10 at 11 27 34 AM" src="https://user-images.githubusercontent.com/28145373/79002585-c145488

[2020-04-10 16:06] NejcZdovc commented on #6867
@tiagosiebler will work on it next week

[2020-04-10 16:07] NejcZdovc commented on #5477
ok will fix `Our wallet service is provided by` in this issue and if we find anything else we can just open an issue for it

[2020-04-10 16:14] tiagosiebler commented on #6867
Thanks!

[2020-04-10 16:14] bsclifton commented on #8846
Huge thanks to you all that have tried the fix and came back to verify it appears to be resolved 😄  This is great feedback!

@pihomeserver with your profile in place, as you mentioned when testing 1.7.90, it seems you're still having the issue ☹️ New profiles (for example, you move the folder out of the way) may not experience this, as @NejcZdovc shared. So it might be specific to your profile

I

[2020-04-10 16:32] kc4knc commented on #8366
Yes it is. How can I switch between versions my wallet is kinda suspended for now. I tried to restore my wallet on Nightly version but no BAT is restored.

[2020-04-10 16:35] kc4knc commented on #8366
@NejcZdovc here is the info you wanted.

Key Info Seed: Valid
Wallet Payment ID: bb7f1d9a-3c52-46ca-aa88-673c0769dfb1
Persona ID: 082d08b8-2100-47e1-b228-fe977f413b5b
User ID: 082d08b821007e1b228fe977f413b5b
Wallet created: 2/6/2020

[2020-04-10 17:02] bsclifton commented on #9101
@congard perfect - you can turn that off as a temporary work-around... I'm going to close this issue as a duplicate of https://github.com/brave/brave-browser/issues/9119. Looks like @mkarolin is looking into the issue and should have a fix soon 😄

[2020-04-10 17:02] #9101 closed

[2020-04-10 17:08] LaurenWags commented on #3268
Tried to reproduce on Nightly 5x, but was unable to do so. Will close for now and reopen if I encounter again.

[2020-04-10 17:08] #3268 closed

[2020-04-10 17:10] keur commented on #7742
xposting the test plan cc @bsclifton

### Test Plan

  1. Set `"BRAVE_REFERRALS_SERVER"` environment variable to point at a [vault updater](https://github.com/brave/vault-updater) server. If you want to use staging or pre (probably the best idea) talk to @keur or @aubrey.
  2. Set `BRAVE_REFERRALS_LOCAL`, if testing locally
  3. Set `"BRAVE_REFERRALS_API_KEY"` corresponding to a valid promo servic

[2020-04-10 17:12] kronikpillow opened #9138 "Chrome webstore extensions can't be installed anymore"
Description of the issue:
Downloads from the Chrome Webstore get interrupted and I can’t seem to install Chrome Extensions anymore

How can this issue be reproduced?
Install Brave, go to the Chrome store, try to install an extension

Brave Version( check About Brave):
1.5.123-1

before anyone tells me that I need to sign in, I’m signed in to google, and before anyone tells me that I need to downlo

[2020-04-10 17:14] kc4knc commented on #8366
This is what happened when I restored my wallet on Brave Beta/Nightly. ![image](https://user-images.githubusercontent.com/39414668/79009254-c4185b80-7b67-11ea-83e5-6d02e9e8c94f.png)

[2020-04-10 17:14] bsclifton commented on #4062
While there isn't a way to export this in the UI, this data is being stored in a location that is quite easy to back up 😄

- On Windows, you can find the profiles under `%USERPROFILE%\AppData\Local\BraveSoftware\`
- On macOS, you can find the profiles under `~/Library/Application Support/BraveSoftware/`
- On Linux, you can find the profiles under `~/.config/BraveSoftware/`
- Depending on the chann

[2020-04-10 17:22] bsclifton commented on #9138
@kronikpillow can you please try again? We do proxy the extension install so that your IP/information isn't directly sent to Google. I verified on 1.5.123 that I'm able to install without a problem

[2020-04-10 18:03] #9074 closed

[2020-04-10 18:10] kronikpillow commented on #9138
I don't know what else info you want me to provide ... I use Arch Linux, latest build of Brave that is in the air, v 1.5.123-1 ... I have recorded a [video](https://youtu.be/M2RGbAlOyt8) of the problem ....

Developer mode is enabled, but even when disabled it doesn't do anything, the download interrupts... in the version previous to this one everything worked fine it installed extensions without

[2020-04-10 18:21] Cybo1927 opened #9139 "Blocking All Device Recognition Attempts Breaks Map on coronavirus.iowa.gov"
## Description
Blocking device fingerprinting on `https://coronavirus.iowa.gov/` prevents the map from loading

## Steps to Reproduce

   1. Go to `https://coronavirus.iowa.gov/`
   2. Click the Brave shields icon and set Brave to block all device recognition attempts
   3. Reload page and scroll down to the map

## Actual result:

![image](https://user-images.githubusercontent.com/39284087/790128

[2020-04-10 18:42] jonathansampson commented on #1597
@NejcZdovc Does 64@1x look good on a high-density display? Or would 128 be more preferable?

[2020-04-10 18:50] LaurenWags commented on #7403
Verified passed with

Brave | 1.8.71 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan/STR from description
* Using 1.7.x, confirmed that with Brave muon installed/a muon profile present, you see `Brave (old)` in the importer drop down.
<img

[2020-04-10 19:14] LaurenWags commented on #8808
Verified passed with

Brave | 1.8.71 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from description
* Confirmed history and bookmarks imported from Firefox using brave://welcome (note, encountered logged issue https://github.com/brave/bra

[2020-04-10 19:23] kronikpillow commented on #9138
additionally even thou the extension looks like it has downloaded in the download bar bellow, dragging the extension to chrome://extensions doesn't get it installed, as it's actually not downloaded ....

[2020-04-10 19:28] jonathansampson opened #9140 "Brave Restored into Incorrect Workspace"
## Description
From a user:

## Steps to Reproduce

## Actual result:
Brave instances restore into the wrong workspace.

## Expected result:
Windows restore into the workspace to which they belong.

## Reproduces how often:
Always.

## Brave version (brave://version info)
Version 1.5.123 Chromium: 80.0.3987.163 (Official Build) (64-bit)

## Other Additional Information:
Chrome does not appear to b

[2020-04-10 19:51] GitHubUserNameDuck commented on #7606
### **Hooray!**
Today Brendan Eich confirmed in a tweet that extension support in Android will come soon! (still no ETA 🤷‍♂️)
https://twitter.com/BrendanEich/status/1248644666888609794
https://www.reddit.com/r/brave_browser/comments/fyj3f2/brendan_eich_confirms_extension_support_in/

[2020-04-10 20:02] #9118 closed

[2020-04-10 20:02] #9079 closed

[2020-04-10 20:52] Maxime-J commented on #9066
Hello
This is likely due to the autoplay setting which is blocked by default.
In the address bar of the jitsi meet tab, you probably see this icon:
![autoplay](https://user-images.githubusercontent.com/12450219/79021858-f41e2980-7b7c-11ea-8859-25540b830b92.png)
Click on it and allow autoplay.
That should resolve your issue 🙂

[2020-04-10 21:02] #8986 closed

[2020-04-10 21:16] #9111 closed

[2020-04-10 21:27] NumDeP commented on #9138
I'm running the latest `Version 1.5.123 Chromium: 80.0.3987.163 (Official Build) (64-bit)` on openSuse, I don't use any kind of google service, however I'm still able to download extensions.

@kronikpillow rather than going through a lengthy process of creating a video for YT, download the [Peek](https://github.com/phw/peek) tool and you can create a simple and quick Gif and publish it here instea

[2020-04-10 21:45] Reprevise opened #9141 "Showing only bookmark icon in bar"
## Description

Brave should allow users to be able to show icon only for bookmarks in the bookmarks bar by right-clicking on the desired bookmark. Microsoft Edge already has this feature and it would be great to do so in Brave without having to remove the name of the bookmark so you can see it in the bookmark manager.

## Actual result:

(When you right click a bookmark currently)
![image](https:

[2020-04-10 22:08] rebron commented on #9141
@Reprevise There is a workaround now that if you edit and delete the title, you can show just the favicon. On hover, you should still be able to see the url.

[2020-04-10 22:10] Reprevise commented on #9141
Yes, I mentioned that in my issue. However, in the bookmark manager, it will just show the favicon and unless you know the logo, you don't know the site.
![image](https://user-images.githubusercontent.com/25782944/79026350-8828ca80-7b56-11ea-91e7-f9ba5249db24.png)

[2020-04-10 23:38] NumDeP commented on #9107
Same as #8742 - They're likely to close this in favour of the other as it's already labelled.

I have the same issue with the interface and that, though surprisingly, this didn't used to occur before. Before it never used to show it and when ever you clicked on **Crypto Wallet** on that multi-coloured banner, then it used to appear and never went off unless you exited the browser.

For your inform

[2020-04-11 00:09] NumDeP commented on #6394
Above comment sort of references this https://github.com/brave/brave-browser/issues/7496.

[2020-04-11 00:15] NumDeP commented on #9107
I'm sure it must have been this https://github.com/brave/brave-browser/issues/6394 and the comment made by Tom.

[2020-04-11 01:05] aleqx commented on #8846
1.7.90 RC2 works for me as well with the profile that was problematic in 1.4 and 1.5 (but I already knew this as I reported above, since I have been using 1.7 while in Beta)

@NejcZdovc can you explain the `-Beta` flag? And is it for the stable version? I'm nto sure I understand what it's meant to be doing ...

[2020-04-11 01:13] r3pek opened #9143 "Cant' use microphone"
## Description

I found out about this problem while testing a online meeting using Jitsi. I tried on the public server they have (https://meet.jit.si) and while I could use the camera just fine, and permissions to use both the microphone and the camera popped, only the camera worked.
I also tried it on https://appr.tc/ which give me the same result.

## Steps to Reproduce

   1. Visit https://app

[2020-04-11 02:27] zfoxzero commented on #8455
Very good, the other rules can load properly, nothing wrong with that.
other
Is the default rule rs-ABPFilterParserData.dat generated from a combination of these rules?
The ability to separate as optional items, as the default rules block many sites and adding whitelists is not very convenient.
[code]

[2020-04-11 02:38] pes10k opened #9144 "Allow disabling some "default" filter lists"
Some users would like the ability to enable some, but not all, of the [default filter lists](https://github.com/brave/adblock-rust/blob/master/src/filter_lists/default.rs).

This would be similar to what uBO does, and so might be part of this work: https://github.com/brave/brave-browser/issues/8478

[2020-04-11 02:39] pes10k commented on #8455
Terrific!  I'm going to close this issue then.  Thanks for help us get it sorted out!

About `rs-ABPFilterParserData.dat`, it includes those files, but more.  The full set of default filters are defined in https://github.com/brave/adblock-rust/blob/master/src/filter_lists/default.rs

I appreciate the feature request, and as a long term feature we might make them individually configurable, but for

[2020-04-11 02:39] #8455 closed

[2020-04-11 02:46] derekantrican opened #9145 "[Android] Address bar incorrect size in Private/Incognito"
##  Description

Normal mode:
![image](https://user-images.githubusercontent.com/1558019/79033443-3f2b4300-7b63-11ea-8ce0-0b63670287b0.png)

Private/Incognito
![image](https://user-images.githubusercontent.com/1558019/79033450-47837e00-7b63-11ea-84e0-e9d4d05f8e0d.png)

## Steps to reproduce

   1. Open a private/incognito tab
   2. Open a URL that is long (eg a Google search)
   3. Notice how the

[2020-04-11 02:47] zfoxzero commented on #8455
OK ，Thanks for the answer. 😀

[2020-04-11 05:18] kronikpillow commented on #9138
@NumDeP I'm not quite sure what you are telling me, that installing Peek and having a 30 seconds limit to a video is simpler then pressing mod+print on my keyboard which is bound to record a screencast and upload it to youtube? em ... no its not :)

What do you mean can i try installing the extension without it? without what? there's no difference from a logged in and not logged in account, it doe

[2020-04-11 06:32] debugster commented on #2049
Removing the SingletonLock file solved my issue. Thanks.

[2020-04-11 08:07] pihomeserver commented on #8846
@bsclifton that works ! I switched back the old profile backup to the configuration folder of brave and after 3-4 minutes the CPU dropped to less than 20%

Thank you guys for the software, the support and reactivity !

[2020-04-11 08:34] nkov commented on #7350
+1 to needing the page reading feature. Have been using brave browser for two years but will be going back to chrome until this can be resolved, because the page reading feature is that good.

[2020-04-11 11:05] Bobos91 opened #9146 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-04-11 11:05] #9146 closed

[2020-04-11 13:07] #7226 closed

[2020-04-11 13:21] #9134 closed

[2020-04-11 13:39] #8213 closed

[2020-04-11 13:55] tmancey opened #9147 "Out of band metadata updates for Brave Ads purchase intent user models"
This ticket includes:

1. the new `BraveUserModelInstaller` component to download any kind of ads related model files
2. integrating the update mechanism in 1. with the purchase intent classifier to allow "out-of-band" updates

Related PRs:

- CI job for updating crx artefacts: brave/devops#2807
- crx packager: brave/brave-core-crx-packager#105

[2020-04-11 17:30] jonathansampson commented on #9140
Converting to a _feature request_, as the user recently confirmed it is not a bug. Chrome also does not recall which workspace it was last occupying.

[2020-04-11 22:44] tmancey opened #9149 "Fix iOS serveSampleAd unit tests for Brave Ads"
Fix iOS serveSampleAd unit tests for Brave Ads

[2020-04-11 23:17] rebelcode-xr commented on #9066
Hi, I've the same issue: this is very common problem that people are encountering in these days.

**SOLUTION PROPOSAL**
I believe UI/UX should be improved opening automatically the autoplay popup in a similar way is done with mic and camera.
![Image Pasted at 2020-4-11 21-52](https://user-images.githubusercontent.com/63522951/79056889-66fdd200-7c5b-11ea-8cea-804de1de3dd6.jpg)

[2020-04-11 23:34] tmancey opened #9150 "Remove serve sample ad easter egg for Brave Ads"
Remove serve sample ad easter egg for Brave Ads

[2020-04-12 00:27] r3pek commented on #9143
For some strange reason.... it's working now.

[2020-04-12 00:27] #9143 closed

[2020-04-12 00:36] #9149 closed

[2020-04-12 05:27] Raul1198 opened #9151 "[Android] [Feature Requests] Extension and External Download Manager Support"
Extension - A good add-on as we can use password manager like Bitwarden, KeepassX, Lockwise (rather than relying on google autofill api ), Dark Reader , Ublock Origin,…etc

External Download Manager - A feature to download files via any External Download manager like ADM and Navi Download Manager (FOSS) on Android which Supports downloading file in multiple thread which is fast than the default Do

[2020-04-12 06:23] NejcZdovc commented on #9066
cc @rebron

[2020-04-12 08:30] Maxime-J commented on #9066
Actually there already is that kind of popup when the general autoplay setting is set to ask (chrome://settings/content/autoplay)

But it's blocked by default, with some exceptions:
https://github.com/brave/autoplay-whitelist/blob/master/data/autoplay.json
Problem, Jitsi solution can be hosted on multiple domains
And IMO, it isn't a clean way, users can't see that and apparently can't override it.

[2020-04-12 08:34] tmancey opened #9152 "Refactor Brave Ads `std::endl` to '\n` where we do not want to flush the buffer multiple times"
Refactor Brave Ads `std::endl` to `\n` where we do not want to flush the buffer multiple times, i.e. `BLOG(INFO) << "FOO" << std::endl << "BAR" << std::endl;` should be `BLOG(INFO) << "FOO\n" << "BAR" << std::endl;`

[2020-04-12 09:16] tmancey opened #9153 "Remove deprecated timers from Brave Ads"
Remove deprecated timers (SetTimer, OnTimer and KillTimer) from `bat-native-ads` and `bat-native-confirmations`

[2020-04-12 09:36] tmancey opened #9154 "Ad notification timeout timers are not cancelled if a Brave Ad is clicked"
## Description

Ad notification timeout timers are not cancelled if an ad is clicked

## Steps to Reproduce

   1. Click an ad notification (before it times out)

## Actual result:

Ad notification 120 second timeout timer is not stopped

## Expected result:
Ad notification 120 second timeout timer should be stopped

## Reproduces how often:

Easily reproduced

## Brave version (brave://version in

[2020-04-12 10:23] artella-coding opened #9155 "[Android] Transferring bookmark file from Android to Desktop"
Is it possible to transfer the "bookmark file" from Android to Desktop?

Currently the only way to do this is via sync which has been disabled. Even if it was enabled, I have found that syncing takes a long time and is unreliable. Would it be possible to have a method that would allow one to transfer the bookmarks file from android to desktop, which one could then use to import into brave (i.e. al

[2020-04-12 10:47] artella-coding commented on #4295
#9155

[2020-04-12 10:48] artella-coding commented on #9155
And also where is the bookmark file stored on an android device?

[2020-04-12 13:49] veyselerden commented on #8363
It's reproducible on any Linux machine. If you move the window buttons to left they become overlapped and unclickable

Here with the GTK theming enabled:
![Görüntü](https://user-images.githubusercontent.com/12845347/79070288-7f163580-7cdd-11ea-9610-c5cfa043a615.png)

And tried also disabling it but no luck!:
![Görüntü (1)](https://user-images.githubusercontent.com/12845347/79070301-9e14c780-7cdd-1

[2020-04-12 14:16] saifhalila commented on #815
just enable remote debugging in Brave Settings.

![remote-dubugging-Brave](https://user-images.githubusercontent.com/10274380/79070866-46bc2a80-7cd0-11ea-8bf6-323883c1b043.PNG)

[2020-04-12 14:51] NumDeP commented on #8690
Hi @salifm how is it Brave is on the official repos of Manjaro and not in Arch, surely if it were in Arch then it can be easily adoptable in Manjaro, as is with typical software in Arch? One other thing, who's maintaining it constantly?

[2020-04-12 14:59] NumDeP commented on #9138
I wasn't trying to make efficient your workflow but ascertain the issue more easily and quickly on this platform and on this page. Nevertheless, I was under the assumption that because you were logged into your google account that an extensions install interfered with the brave's proxy process when installing an extension. Seeing as you say you've tested it and there's no difference, it may be an

[2020-04-12 15:14] NumDeP commented on #8436
Hi @Joe23232 just out of curiosity have you ever had issues like this https://github.com/brave/brave-browser/issues/6712?

I ask because I'm on `Version 1.5.123 Chromium: 80.0.3987.163 (Official Build) (64-bit) (openSuse)` and I've sort of noticed this lag more often though not exactly like your issue.

For the team if it's any help -

[code]

[2020-04-12 15:25] Gustbel commented on #8004
I couldn't solve it, but it doesn't matter. I never had that problem again. Thanks

[2020-04-12 16:02] terroriser11 opened #9157 "Can't download the repo"
![Annotation 2020-04-12 175744](https://user-images.githubusercontent.com/40738816/79073473-28adf480-7ce7-11ea-98f2-d9f483c0e9ca.png)

## Description

I tried to download the repo sadly this failed and I followed the wiki it's steps.

## Actual result:

Permission denied

## Expected result:
That it succeeded successfully.

## Brave version (brave://version info)

Latest build: v1.9.17

[2020-04-12 16:33] Hanyoro opened #9158 "Proxmox Web Interface Terminal does not work"
<!-## Description

Using Proxmox terminal in Brave just shows a black screen no text.

## Steps to Reproduce

Access Proxmox web interface>open shell

## Actual result:

![Screenshot_20200412-123035~2](https://user-images.githubusercontent.com/46978939/79074280-83305c00-7cb9-11ea-9013-6b2ece8a490d.jpg)

## Expected result:
The terminal should show text, it works fine in chrome and Firefox, even Br

[2020-04-12 17:09] #9124 closed

[2020-04-12 17:34] veyselerden commented on #8473
Same here on Linux. A workaround to this is to disable hardware acceleration via the switch on the settings screen and disable "GPU Rasterization" entry on `brave://flags` page but this will drop the performance of the browser significantly.

[2020-04-12 18:39] kronikpillow commented on #9138
I don't use a proxy or VPN, can't afford one, the installation is a fresh installation, chrome://extensions is empty ... only way I managed to restore my extensions was by restoring the backup of my ~/.config/BraveSoftware folder, which allows me to use extensions I used before the update, but it still doesn't allow me to install any new ones ... I will report the issue to the package maintainer a

[2020-04-12 19:30] gttotev commented on #8946
Happens for me too on:
[code]

[2020-04-12 21:40] diracdeltas opened #9159 "[hackerone] webtorrent should clear redirect URL if not http:// or https://"
originally reported at https://hackerone.com/reports/847848

this is a very minor phishing risk.

STR:
1. make sure webtorrent is enabled (by accessing https://webtorrent.io/torrents/sintel.torrent)
2. enter chrome-extension://lgjmpdmojkpocjcopdikifhejkkjglho/extension/brave_webtorrent.html?chrome://wallet/ in the urlbar and hit enter
3. urlbar shows brave://wallet with a blank page
4. click urlba

[2020-04-12 21:41] radustanca commented on #9157
You don't need to clone over ssh, do it over https.

`git clone https://github.com/brave/brave-browser.git`

If you really need to clone over ssh make sure you have the ssh key setup

https://help.github.com/en/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account

[2020-04-12 23:36] ryanbr commented on #1043
Safe to close? @srirambv  Site seems to be dead

[2020-04-13 01:41] brokoli-mate opened #9160 "[Android] Gestures not working"
## Description
Swipe gestures(left/right from the edges) do not work as back forward page

## Steps to reproduce

   1. Open browser
   2. Open few pages
   3. Swipe left/right from sceen edges

## Actual result
nothing happens

## Expected result
Forward or back page

## Issue reproduces how often
Easily reproduced

## Issue happens on
   - Current Play Store version? yes
   - Beta build?

## Dev

[2020-04-13 04:41] srirambv commented on #9145
Dupe of #9040

[2020-04-13 04:41] #9145 closed

[2020-04-13 04:42] srirambv commented on #9040
+1 from @derekantrican via #9145

[2020-04-13 05:32] srirambv commented on #9160
Dupe of #7362

[2020-04-13 05:32] #9160 closed

[2020-04-13 05:33] srirambv commented on #7362
+1 from @brokoli-mate via #9160

[2020-04-13 05:45] srirambv commented on #9155
Currently there is no feature to transfer bookmark from Android to Desktop apart from Sync. We have an issue opened for allowing Import/Export of bookmarks outside of sync. https://github.com/brave/brave-browser/issues/6378 but currently there is no ETA on this feature availability.

[2020-04-13 05:47] srirambv commented on #7606
Closing in favour of #4493

[2020-04-13 05:47] #7606 closed

[2020-04-13 05:49] srirambv commented on #4493
Multiple +1's from #7606

+1 from @Raul1198  via #9151

[2020-04-13 05:52] srirambv commented on #9151
There is an issue open for adding Extension support #4493. This will be done pretty soon. As of now there is no plans of adding an external download manager support to Brave. Closing as wont fix for now. Added a +1 for extension support. Please track progress for it in #4493

[2020-04-13 05:52] #9151 closed

[2020-04-13 06:12] btlechowski opened #9161 "`Customize` text on NTP is not translated"
Follow up to https://github.com/brave/brave-browser/issues/4930

## Steps to Reproduce

   1. Openn NTP in Polish locale

## Actual result:

`Customize` is not translated
The tooltip is not translated

![image](https://user-images.githubusercontent.com/34715963/79096922-baa51400-7d5e-11ea-9d2b-1da8c09b4f66.png)

## Expected result:
`Customize` is translated
The tooltip is translated

## Reproduces

[2020-04-13 06:36] artella-coding commented on #9155
@srirambv Is there any way to do this via Android Studio e.g. transferring the sqlite file that contains the bookmarks?

[2020-04-13 06:53] btlechowski commented on #8870
Verification passed on

Brave | 1.8.72 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-browser/issues/8870#issuecomment-604581723
Verified opening the modal though `brave://settings/clearBrowserData` and `CTRL + SHIFT + DEL`

!

[2020-04-13 07:23] btlechowski commented on #8358
Verification passed on

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/5139

Steps used
1. Install 1.3.118
2. Go to `about:flags#brave-sync` and enable sync
3. Create a sync chain
4. Go to brave://bookma

[2020-04-13 07:40] btlechowski commented on #9110
Verification passed on

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/5139
Verified no crash after upgrade to 1.7.92
Verified no crash after upgrade to 1.7.92 with `--disable-sync`

![image](https://use

[2020-04-13 08:18] the-sushi opened #9162 "Brave Beta hangs on start after update"
## Description
Upon updating Brave Browser Beta, upon launch it instantly hangs, preventing any interaction with the application.  Additionally, it has incredibly high CPU usage, with Activity Monitor reporting 100%.  Brave will not close until force quit.

![Activity Monitor](https://i.imgur.com/msb5KwW.png)

## Steps to Reproduce
   1. Update to latest(?) Beta build
   2. Launch Brave / let Brav

[2020-04-13 09:57] ggrelet opened #9163 "[Desktop] WebTorrent shows a blank, non-responsive page"
## Description
When clicking on torrent links, WebTorrent shows a blank page with tab title to `WebTorrent`. The page do nothing more.
Alas, this behaviour happens 95% on the time on redirection-download torrents (thinking `/torrents.php?action=download&id=2650964`) and 10% of the time on direct `.torrent` links like on the video below.

## Steps to Reproduce
There's no way to reproduce this behav

[2020-04-13 11:44] tmancey opened #9164 "Refactor Brave Ads global objects with non-trivial destructor"
Refactor Brave Ads global objects with non-trivial destructor as they are prohibited by the coding style guide (see examples utilizing `base::NoDestructor` in the code)

A list of all globals in ads library (some of which may be trivial):
[code]

[2020-04-13 11:47] tmancey opened #9165 "Remove deprecated DISALLOW_COPY_AND_ASSIGN from Brave Ads"
Remove deprecated DISALLOW_COPY_AND_ASSIGN from Brave Ads. i.e. `PlatformHelper(const PlatformHelper&) = delete;` and the same for the assignment operator

[2020-04-13 11:54] tmancey opened #9166 "Refactor Brave Ads #includes to adhere to the coding style guide"
Refactor Brave Ads #includes to adhere to the coding style guide

[2020-04-13 12:00] tmancey opened #9167 "Fix unit tests to use raw c++ literals for lines >80 characters instead of NOLINT"
Fix unit tests to use raw c++ literals for lines >80 characters instead of `NOLINT`

[2020-04-13 12:22] AlexeyBarabash opened #9168 "[Android] Reduce size of symbols for x64 builds"
## Description
Size of symbols after android arm64 or x86_64 is more than wee need because of extra non-required files at android_clang_xxx dir.

## Steps to reproduce

   1. Build with a command `npm run create_dist -- Release --channel=beta --target_os=android --target_arch=arm64 --target_apk_base=mono`

## Actual result
   2. See size of `dist/Defaultarm64mono` is 2.7GB

## Expected result
   2

[2020-04-13 13:32] mKoonrad opened #9169 "Missing string to translate - New Tab"
## Description
You have missing string to translate "New Tab". I check few languages like Polish, French, Czech, Italian, German - no translation in any of them.
![image](https://user-images.githubusercontent.com/11725227/79123546-b4cd2400-7d9a-11ea-99a0-78ffb513cdec.png)

## Steps to Reproduce
   1. Open Brave
   2. See description of empty tab at the top or open new tab.

## Actual result:
Engli

[2020-04-13 13:57] sant0s12 commented on #8679
I'm having the same issue described here, couldn't test `chromium-vaapi` myself because the binaries are not available in the AUR anymore and I don't really want to download all the necessary dependencies to build it.

Any changes so far? Did you get working?

[2020-04-13 14:32] tmancey opened #9170 "Incorrect sample ads bundle loaded for Brave Ads"
Incorrect sample ads bundle loaded for Brave Ads

[2020-04-13 15:36] luminoso commented on #8679
No progress on my side.

[2020-04-13 16:35] GeetaSarvadnya commented on #8932
Verification is in progress

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/5131

**Clean profile:**
- Uninstalled existing profile and installed 1.7.x and confirmed th

[2020-04-13 17:00] #8760 closed

[2020-04-13 17:21] bradleyrichter opened #9174 "Remove min-height from Rewards settings wallet box to allow auto-height"
description:

The existing layout of the BR settings wallet box forces the panel to a minimum height which pushes elements off the page for small monitors. Removing this min-height in the DIV will allow the TAP banner and future banners to appear higher in the page for most users.

current

![image](https://user-images.githubusercontent.com/13509546/79142044-c220e900-7d6f-11ea-9c24-43cf9c1edffb.pn

[2020-04-13 17:35] megaroeny commented on #2362
Same issue here with latest Brave version (production build)

[2020-04-13 17:59] bbondy commented on #8455
I also verified with the Japanese adblock list and it now includes the rs- file.

[2020-04-13 18:11] bsclifton commented on #7742
issue was resolved with https://github.com/brave/brave-core/pull/5200 but reverted with https://github.com/brave/brave-core/pull/5226

Needs re-implementation. Problem was with building on Android

[2020-04-13 18:24] btlechowski commented on #9123
LGTM

Verification passed on

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | Ubuntu 18.04 LTS

[2020-04-13 18:24] #9123 closed

[2020-04-13 18:45] mkarolin opened #9176 "Bandwidth Savings Predictor changes for Chromium 83."
[This Chromium change](https://chromium.googlesource.com/chromium/src/+/aa4f7b3f23460707dea0d73ca9dbbd5d9aff8c8a) (landing in Cr83) has removed
<pre>
  // The first time the page is considered 'interactive'. This is determined
  // using heuristics based on main thread and network activity. Time delta is
  // relative to navigation_start.
  mojo_base.mojom.TimeDelta? interactive;
</pre>
value from

[2020-04-13 18:47] 360fun commented on #9066
Why not just "show the popup"? So the user notices and allow it.

[2020-04-13 19:04] bsclifton opened #9177 "Don't download Tor binaries until a new Private Tab with Tor is opened"
## Description
With new installs of Brave, we register the platform specific (Windows, macOS, Linux) `Brave Tor Client Updater` component with Component Updater. Users will hit our `go-update` service to fetch these binaries which can cause a few problems:
1. Without user even opening a new `Private Tab with Tor` tab, they have the Tor executable installed on their machine in their profile directo

[2020-04-13 19:19] bughit commented on #5429
@NejcZdovc Please clarify, if one is not using rewards why is it needed?

[2020-04-13 19:34] bughit opened #9178 "don't load unused built-in extensions"
## Description
 The following extensions/processes should not be loaded when their functionality is not activated:

- Utility: Bat Ledger Service (nothing related to BAT has been activated)
- Utility: Bat Ads Service (nothing related to BAT has been activated)
- Extension: Crypto Wallets (nothing related to wallets has been activated)

## Brave version (brave://version info)
[code]

[2020-04-13 19:37] NejcZdovc commented on #5429
@bughit we will add more context in the issue and blog post

[2020-04-13 19:45] increasingawareness opened #9180 "[Android] Implement Scoped Storage per Android API target 30"
Apps that target Android 11 will need to implement Scoped Storage: https://developer.android.com/preview/privacy/storage

See this [Android Developer's Medium post for more details](https://medium.com/androiddevelopers/modern-user-storage-on-android-e9469e8624f9)

[2020-04-13 20:01] rawrmaan commented on #8384
@iefremov Here are the contents of `chrome-debug.log`. There were no other Brave processes running when I launched with `--enable-logging`. And no, I have never used Brave Sync.
[code]

[2020-04-13 20:43] elemanhillary commented on #9174
can i get assigned this

[2020-04-13 20:46] elemanhillary commented on #9161
i would like to be assigned this

[2020-04-13 20:47] elemanhillary commented on #9144
can i get assigned this

[2020-04-13 21:04] mkarolin commented on #9161
The string was added via brave/brave-core#5103 after we did the latest l10n round (brave/brave-core#5089). If it's important to have this localized sooner than the next round (for 1.9.x) then pls let me know.

[2020-04-13 21:11] brokoli-mate commented on #7362
For some tome i had this behavior on androit tabs brave, but now it's gone for a few versions already and i cannot find the flag. A guess chromium no longer have it. It would be great to have it back.

[2020-04-13 21:12] elemanhillary commented on #9161
@mkarolin yes it is.

[2020-04-13 21:14] kjozwiak commented on #9177
Agreed, we'll need some type of indicator that the binary is being actually being downloaded as some users on slower connections might think the feature is completely broken. Maybe having some type of mechanism that checks to make sure that the component is downloaded and a connection to a Tor circuit has been established before allowing users to use the feature?

[2020-04-13 21:39] pes10k commented on #9144
If we decided to go down this path, it'd require some server side changes too, since currently we bundle and preprocess all these filter lists into the [adblock-rs](https://github.com/brave/adblock-rust/) serialized format.  So I dont think it's something that'd make sense to assign externally.  but if this is a change you're interested in, would be happy to talk / plan through!

[2020-04-13 21:57] jsecretan opened #9185 "[Desktop] Ability to Add Notes to Bookmarks"
## Description
Submitted via one of users, a request to be able to add arbitrary notes to bookmarks.  Could make sense to have some ability to add some keys/values as well.

Should however, wait until sync v2 is available.

[2020-04-13 22:16] Brave-Matt commented on #6291
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/g09f6a/how_do_i_get_brave_to_stop_asking_for_permission/

[2020-04-13 23:29] pes10k opened #9186 "Fingerprinting 2.0: Canvas"
This is a sub-issue of the larger font defense reorganization https://github.com/brave/brave-browser/issues/8787

### Serialization Endpoints

`CanvasRendering2dContext.getImageData`
`HTMLCanvasElement.toDataURL`
`HTMLCanvasElement.toBlob`
`OffscreenCanvas.convertToBlob`

**default protection**: farble output, by using eTLD+1 session seed and canvas contents to determine offsets into the canvas to

[2020-04-13 23:35] pes10k commented on #5612
closing in favor of https://github.com/brave/brave-browser/issues/8666, which describes the farbling approach we'll use going forward

[2020-04-13 23:35] #5612 closed

[2020-04-13 23:58] pes10k opened #9187 "Fingerprinting 2.0: Web Audio"
This is a sub-issue of the larger fingerprint defense reorganization issue: #8787

### Audio data serialization endpoints
`AnalyserNode.getByteTimeDomainData`
`AnalyserNode.getFloatTimeDomainData`
`AnalyserNode.getByteFrequencyData`
`AnalyserNode.getFloatFrequencyData`
`AudioBuffer.getChannelData`

**default protection:** Farble output volume by [0,-.01] under eTLD+1 session seed
**max protection:

[2020-04-14 00:07] pes10k opened #9188 "Fingerprinting 2.0: WebGL"
This is a sub-issue of the larger fingerprint defense reorganization issue: #8787

### Capability Probing Endpoints
`WebGLRenderingContext.getFramebufferAttachmentParameter`
`WebGLRenderingContext.getActiveAttrib`
`WebGLRenderingContext.getActiveUniform`
`WebGLRenderingContext.getAttribLocation`
`WebGLRenderingContext.getBufferParameter`
`WebGLRenderingContext.getExtension`
`WebGLRenderingContext.

[2020-04-14 00:11] pes10k opened #9189 "Fingerprinting 2.0: WebGL2"
This is a sub-issue of the larger fingerprint defense reorganization issue: #8787

Previous implementation blocked all WebGL-specific parameters, at max level only, and did nothing at default level.

New implementation:

At max level, block these WebGL2-specific parameters:
- version
- shading language version
- read buffer binding
- write buffer binding
- framebuffer binding
- max vertex uniform

[2020-04-14 00:38] pes10k opened #9190 "Fingerprinting 2.0: User Agent"
This is a sub-issue of the larger fingerprint defense reorganization issue: #8787

### User Agent String
`NavigatorID.userAgent`

**default protections**:
- for devices with OS version numbers, always report `MAX(current minor version number, latest version number as of build)`
- (only for android) don't report device name in UA, only return "android device" (same as what DDG browser does)

**max

[2020-04-14 00:40] SephReed opened #9191 "Feature Request: Disable certain ads"
Twice I've gotten an ad for Walmart.  As a result, I've disabled brave rewards.  If it was possible to disable ads from Walmart, I would choose that instead.

I'm probably the only one.

[2020-04-14 00:41] bafforosso opened #9192 "[Desktop] Mega.nz buttons on prompts not displayed in Brave Beta/Dev/Nightly with Shield enabled"
## Description
When using mega.nz in Brave Beta, Dev and Nightly with Brave Shield enabled "No" and "Yes" buttons are not displayed at least on the "Move to Rubbish Bin" prompt. Disabling Brave Shield solves the issue, they are also perfectly visible and usable in Brave current channel with Shield enabled, or in Chrome and Firefox.
There is no indication on the Brave Shield panel that it blocked a

[2020-04-14 00:43] pes10k opened #9193 "Fingerprinting 2.0: WebXR"
This is a sub-issue of the larger fingerprint defense reorganization issue: #8787

### Device capability querying
`XRSystem.isSessionSupported`

**default protections**: no changes
**max protections**: always return false

[2020-04-14 00:44] pes10k commented on #8440
Closing in favor of https://github.com/brave/brave-browser/issues/9193, which will be the ultimate solution for this

[2020-04-14 00:44] #8440 closed

[2020-04-14 00:59] pes10k opened #9194 "Fingerprinting 2.0: UX / Shields Integration"
This is a sub-issue of the larger font defense reorganization #8787

## Designs

**Shields panel**
New fingerprinting dropdown menu should show:

![Group 7](https://user-images.githubusercontent.com/2388823/80769914-8c1b8d00-8b03-11ea-97e4-cc8f30607bde.jpg)

Panel shows:
![farbling](https://user-images.githubusercontent.com/2388823/82255650-e2613c00-9909-11ea-890f-b6c5c7c1a8b7.png)

**brave://sett

[2020-04-14 04:40] #9121 closed

[2020-04-14 06:41] #7473 closed

[2020-04-14 06:42] NejcZdovc commented on #6316
closing as we will switch to native UI

[2020-04-14 06:42] #6316 closed

[2020-04-14 06:44] NejcZdovc commented on #7723
closing as dupe of https://github.com/brave/brave-browser/issues/7766

[2020-04-14 06:44] #7723 closed

[2020-04-14 06:50] NejcZdovc commented on #1597
I would go with 64 for now and we can always update if needed

[2020-04-14 06:55] NejcZdovc commented on #1597
Note that if site provides favicon only in resolution 32x32 like pia we can't do anything really about it. It's on sites to provide good resolution

[2020-04-14 07:11] moritzhaller opened #9195 "Update keyword lists for purchase intent trial Japan"
Update keyword lists for purchase intent trial Japan. See keywords and sites here https://docs.google.com/spreadsheets/d/1GiIV1qa7XTiyJgQ6Syz0nSFSIgfdNIanulOaNM6jCSQ/edit#gid=0

TBD: work out if ad region targeting settings are enough to constrain trial to Japan region or if additional locale based settings have to be introduced.

[2020-04-14 07:24] congard commented on #9178
+1
[code]

[2020-04-14 07:53] NejcZdovc commented on #9178
closing as dupe of https://github.com/brave/brave-browser/issues/5429

[2020-04-14 07:54] #9178 closed

[2020-04-14 07:54] NejcZdovc commented on #9178
dupe of https://github.com/brave/brave-browser/issues/5429

[2020-04-14 07:55] NejcZdovc commented on #6752
we should not do that as ledger process need to run with rewards everywhere all the time, while ads can be lazy loaded later on

[2020-04-14 07:57] NejcZdovc opened #9196 ""Bat Ads Service" should only be running if Brave Ads is enabled"
![image](https://user-images.githubusercontent.com/1188719/68126807-822a2000-ff0c-11e9-876f-d7c7fb0a695d.png)

We should only start ads process when ads are enabled

[2020-04-14 08:24] dunk opened #9197 "[Android] Allow top sites to be disabled on Android like it can be on the desktop"
## Description

On Android you can't disable the top sites feature - no matter what you do it is shoved in your face every time you open a new tab. It would be excellent if, like with the desktop version (see #4510), this feature could be disabled.

## Steps to reproduce

   1. Open a new tab
   2. There it is

## Actual result
A bunch of irritating websites that you might not want there all the t

[2020-04-14 09:21] #8964 closed

[2020-04-14 09:28] tmancey commented on #8971
@btlechowski This is correct behaviour based upon priorities as first we choose from parent-child, then from the parent, and then from untargeted

[2020-04-14 09:35] #9168 closed

[2020-04-14 10:54] tmancey commented on #9170
Closing issue as agreed with @jsecretan to remove the easter egg

[2020-04-14 10:54] #9170 closed

[2020-04-14 11:38] #9122 closed

[2020-04-14 12:17] tmancey opened #9199 "Refactor time util and improve diagnostic logging with timezone friendly date and time for Brave Ads events"
Refactor time util and improve diagnostic logging with timezone friendly date and time for Brave Ads events

[2020-04-14 12:26] jsecretan opened #9200 "State level ads delivery"
## Description
Some advertisers need to run their campaigns in specific states/provinces, either because what they are advertising is of regional interest, or because they are not allowed to sell items in specific states.  After some extensive privacy analysis, we have determined we can run campaigns at state level in the United States, for most states (excluding Wyoming and territories for now) w

[2020-04-14 13:27] btlechowski commented on #8971
@tmancey Do you mean TC https://github.com/brave/brave-browser/issues/8971#issuecomment-611138614? This TC fails correctly, because parent category is not shown. I added the TC so we can test with it when the issue is fixed.

[2020-04-14 13:31] elemanhillary commented on #9144
yeah surely

[2020-04-14 13:37] #9153 closed

[2020-04-14 14:01] #8769 closed

[2020-04-14 14:09] mariow commented on #8846
Sorry for the delay: I can confirm that 1.7.90 (Linux) fixed the problem for me as well, thanks for all your work on this!

[2020-04-14 14:15] aquaspy commented on #8846
Is any update coming to stable? Thanks!

[2020-04-14 14:29] emerick opened #9202 "Greaselion: rewards-enabled state is always false on startup"
If you create a Greaselion script with the following precondition it won't load when you first launch the browser (even when Rewards is enabled), as Greaselion always thinks Rewards is disabled on startup:

[code]

If you toggle the Brave Rewards switch on/off while running and reload the page with the Greaselion script, it will begin to work. The problem only occurs on browser startup, from what

[2020-04-14 14:43] #9129 closed

[2020-04-14 14:45] bughit commented on #9178
@NejcZdovc What insanity is this? You created #9196 after this and then closed this as dup of a newer issue?

You did not even bother to vopy it correctly, there's no mention of "Extension: Crypto Wallets"

And of course #5429, which you closed, has nothing to do with this. This bug does not even mention rewards.

[2020-04-14 14:45] samartnik opened #9203 "[Android] Fix `brave_unit_tests` for Android"
Currently they fail, we need to get it to the state when they don't fail to integrate it into CI.

[2020-04-14 14:47] NejcZdovc opened #9204 "Split rewards browser tests in separate categories"
Right now we have one big browser test file and it's becoming unmaintainable. We should split it in multiple files and move it in test folder where test file is right now.

[2020-04-14 15:01] #9109 closed

[2020-04-14 15:03] NejcZdovc commented on #9178
regarding `Extension: Crypto Wallets (nothing related to wallets has been activated)`. It's disabled when you start a browser. You can try it on a clean profile and you will see that this extension is not running:
![image](https://user-images.githubusercontent.com/9574457/79239920-6b9bd380-7e71-11ea-9ecf-05c0a9c97809.png)
It will be activated when you visit a site that support dapps.

Yes I create

[2020-04-14 15:15] tmancey opened #9205 "Refactor supported regions, large anonymity country codes and other country codes to use std::set"
Refactor supported regions, large anonymity country codes and other country codes to use `std::set` for:

Change `const std::map<int, std::vector<std::string>> kSupportedRegionsSchemas` to `const std::map<int, std::set<std::string>> kSupportedRegionsSchemas`

Change `const std::map<std::string, bool> kLargeAnonymityCountryCodes` to `const std::set<std::string> kLargeAnonymityCountryCodes`

Change

[2020-04-14 15:41] WhatDothLife commented on #2105
Can't wait for this to be implemented.

[2020-04-14 15:41] rebron commented on #9106
Closing. Released 8:30AM PDT. April 14, 2020.

[2020-04-14 15:41] #9106 closed

[2020-04-14 15:48] ryanml opened #9206 "Blank Tab on Upgrade after connecting the Binance Widget"
This due to attempting to access balance values that have not yet been fetched from the API.

Test Plan:
1. Upgrade from an existing profile to version with advanced Binance Widget.
2. Connect via the Oauth flow.
3. Ensure that the current tab/subsequent tabs do not blank out or show errors in the console.
4. Ensure that until balances are fetched, display shows zero values and not `undefined` or

[2020-04-14 16:10] AlexeyBarabash commented on #9040
I also was able to see it.

[2020-04-14 16:13] eljuno commented on #7546
+1 from Community https://community.brave.com/t/brave-stops-when-mac-keyboard-viewer-is-used/118750?u=eljuno

[2020-04-14 16:28] pc-v2 commented on #8907
is this fixed in latest version?

[2020-04-14 16:29] #8805 closed

[2020-04-14 16:37] LaurenWags opened #9207 "Update 1.7.x Release Notes"
Add https://github.com/brave/brave-browser/issues/8617 to release notes for 1.7.x

[2020-04-14 16:41] #9206 closed

[2020-04-14 16:48] #9207 closed

[2020-04-14 17:06] jaredready opened #9209 "No ads when fullscreen (MacOS)"
## Description

No ads are displayed when Brave is fullscreen

## Steps to Reproduce

   1. Enter fullscreen
   2. Observe no ads are ever shown
   3. Verify no ads were shown in chrome://rewards/

## Actual result:

No ads

## Expected result:

Ads

## Reproduces how often:

Whenever Brave is in fullscreen

## Brave version (brave://version info)

Brave | 1.5.123 Chromium: 80.0.3987.163 (Official

[2020-04-14 17:56] bsclifton commented on #8907
@pc-v2 what is the path you're editing? Per https://support.brave.com/hc/en-us/articles/360039248271-Group-Policy it should be:
`HKEY_LOCAL_MACHINE\Software\Policies\BraveSoftware\Brave`

[2020-04-14 17:58] bsclifton commented on #7546
@eDave56 thanks for the heads up! 😄 @mkarolin is working on the Chromium 83 upgrade now - we can recheck this once that is merged. I'll go ahead and put into the 1.9 milestone so that we can retest

[2020-04-14 18:02] bsclifton commented on #9107
Closing as duplicate of https://github.com/brave/brave-browser/issues/8742

[2020-04-14 18:02] #9107 closed

[2020-04-14 18:03] bsclifton commented on #9178
Thanks for the update, @NejcZdovc

To recap, here are the tracking issues for each item:
- Utility: Bat Ledger Service https://github.com/brave/brave-browser/issues/5429
- Utility: Bat Ads Service https://github.com/brave/brave-browser/issues/9196
- Extension: Crypto Wallets https://github.com/brave/brave-browser/issues/8742

[2020-04-14 18:11] bsclifton commented on #9153
Updated original post to link to test plan

[2020-04-14 18:16] bsclifton commented on #9170
Removing milestone as there's no PR closing and no test plan, etc

[2020-04-14 18:24] bsclifton commented on #9157
Thanks for the assist, @rst10124492 😄 Those steps are exactly right. If you add an SSH key, you can clone over ssh. HTTPS will work fine though 👍

[2020-04-14 18:24] #9157 closed

[2020-04-14 18:35] bsclifton commented on #8954
cc: @NejcZdovc

[2020-04-14 18:38] bsclifton commented on #8924
Hey there folks - we have pushed a fix today with version 1.7 that should fix this issue 😄

Can you all please download latest version of brave (https://brave.com/download/) and try again? Please let us know if this resolves the issue

Thanks! 😄

cc: @glycerine @riccardoangius to retest

[2020-04-14 18:39] bsclifton commented on #8384
Hey there folks - we have pushed a fix today with version 1.7 that should fix this issue 😄

Can you all please download latest version of brave (https://brave.com/download/) and try again? Please let us know if this resolves the issue

Thanks! 😄

cc: @rawrmaan to retest

[2020-04-14 18:42] bsclifton commented on #8476
Based on the error messaging, seems this is trying to finalize a promotion. Is your system clock up to date?

Can you view brave://crashes and see the reported Crash IDs? Having those handy should help us trace the error down on our side

[2020-04-14 18:45] bsclifton commented on #7914
A potential fix went out today with version 1.7

Can folks please try to download the latest Brave and give it a go? If you still experience a crash and may have had sync enabled, you can try launching with the command line args `--disable-sync`

Please let us know!
@Nuc1eoN @bbugh @sangorys @akhilsp32

[2020-04-14 18:55] rebron commented on #6098
We've updated Brave to 1.7.92 today. When you get a chance can you update to this latest version via brave://settings/help and see if you're still encountering this issue.

[2020-04-14 19:00] pc-v2 commented on #8907
yes, i use that path already
![image](https://user-images.githubusercontent.com/58063311/79263369-e50ce380-7ebc-11ea-8604-9a3113a8118a.png)

[2020-04-14 19:06] bbondy opened #9210 "Use regionalized base currencies instead of always USD"
Buy button, and future Brave suggested sites should use regionalized currencies instead of always USD.

https://www.binance.com/en/buy-sell-crypto?fiat=USD&crypto=BTC&ref=39346846

[2020-04-14 19:06] bsclifton commented on #2221
Thanks @mihaiplesa and @mbacchi for looking into solutions. After discussion, I think this is a fairly isolated problem. @mbacchi and I are working on a help article that we can review with @Brave-Matt for what to do when update isn't working that would resolve this scenario

[2020-04-14 19:07] glycerine commented on #8924
@bsclifton No more crash. Thanks.

[2020-04-14 19:18] bsclifton commented on #8924
@glycerine awesome! Thanks for confirming 😄 And apologies it took a while to get a fix. Thanks to @iefremov for helping narrow down the problem

[2020-04-14 19:18] #8924 closed

[2020-04-14 19:20] Miyayes opened #9211 "[Desktop] Do not show 0.0 BAT for monthly ad earnings in the Monthly Contribution Statements for verified wallets"
If the Brave Rewards wallet is verified, then earnings for each month where the wallet is verified will display 0.0 BAT (since ads earnings are sent directly to the user's Uphold account, rather than being accounted for within the browser). Instead of displaying 0.0 BAT, the interface should display an informative message about this case or, e.g., link to the user's Uphold transactions page.

![im

[2020-04-14 19:21] Programatic commented on #2919
Nope, seems to be fixed. Thanks!

[2020-04-14 19:21] #2919 closed

[2020-04-14 19:22] LaurenWags commented on #9211
cc @mandar-brave @jenn-rhim also

[2020-04-14 19:23] bsclifton commented on #8924
@iefremov the error seen by @riccardoangius may be different - I see it online [here](https://brave.sp.backtrace.io/p/brave/triage?time=all&filters=(_rxid%3D%222c2e0000-9fe2-3a04-0000-000000000000%22)&aggregations=((guid%2Cunique)%2C(classifiers%2Chead))&fingerprint=410bde4fd10b47906837e3cab9e708412749123b8dc1c6787c7786052e55f638)

Can you help me look at this? We may need to create a different is

[2020-04-14 19:27] rawrmaan commented on #8384
It works! Great job team!

[2020-04-14 19:27] #8384 closed

[2020-04-14 19:28] NejcZdovc opened #9212 "GetRecordsByTriggerIds select is not working"
If you try to claim promotion you get sql error.

[2020-04-14 19:29] bsclifton commented on #8907
@pc-v2 curious - what happens if you try to create another profile or open a guest profile?

Definitely seems like we have a bug with those two. Can you confirm that the `Private Window with Tor` option is hidden? And also Incognito disabled as expected?

[2020-04-14 19:34] #9212 closed

[2020-04-14 19:34] #9165 closed

[2020-04-14 19:36] tojin12341za opened #9213 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-04-14 20:05] riccardoangius commented on #8924
Hello, thank you! Still not working, though.

`╭─ric@Ric-A1466-18 ~/Library/Application Support/BraveSoftware/Brave-Browser/Default
╰─$ "/Applications/Brave Browser.app/Contents/MacOS/Brave Browser" --enable-dom-distiller --disable-domain-reliability --no-pings --extension-content-verification=enforce_strict --extensions-install-verification=enforce --sync-url=https://no-thanks.invalid --enable-fe

[2020-04-14 20:06] Hispeeday commented on #6098
I tried three test cases:
1. Current stable brave windows, with a new set of bookmarks I had to create because sync wouldn't work => Removed it from its own sync chain. Added it to the old non-working sync chain.
Result:
After entering the sync code and pressing the bottom right button, it simply waits for 5-10 seconds while showing the waiting mouse cursor.. then simply reinstates the button as i

[2020-04-14 20:09] riccardoangius commented on #8924
In the meantime is there any flag I can use to start it up without the rewards service?

[2020-04-14 20:09] mbacchi commented on #8984
This might be something we can remedy with signing. The `brave.exe` binary is signed but not the `setup.exe`. Example screenshots:

brave.exe:
![brave_exe](https://user-images.githubusercontent.com/6763301/79269310-78acc880-7e59-11ea-8c90-d76a1622ffcc.png)

setup.exe:
![setup_exe](https://user-images.githubusercontent.com/6763301/79269309-78143200-7e59-11ea-93be-cee8ed3f15cc.png)

[2020-04-14 20:15] Brave-Matt commented on #2362
This is still an issue in v1.7.92 -- +1 from Community today:
https://community.brave.com/t/twitter-cannot-activate-push-notifications/119002/2

[2020-04-14 20:19] tmancey commented on #9209
@jaredready This is as expected as when full-screen users are normally watching video or working on spreadsheets etc. Thanks

[2020-04-14 20:19] #9209 closed

[2020-04-14 21:02] jaredready commented on #9209
For Windows I agree with you, though on Mac people fullscreen their applications all the time. It's not just for watching videos or working on spreadsheets.

[2020-04-14 21:10] jsecretan commented on #9209
Very interesting point @jaredready.  Because I think at one time we had exceptions just for video playback and things like that, but for instance, we also want to make sure we avoid the case of having a presentation full screened.  Any sense on where to draw the line?

[2020-04-14 21:13] jaredready commented on #9209
Yeah that's a good point I don't think there's any technical difference to point at between a fullscreened browser just doing normal browsing vs a fullscreen video.

I'm not knowledgeable enough about the inner workings of chromium but I'm guessing there's no line to draw here. Is it possible this can be a toggle so we can enable to disable ads during fullscreen on demand?

[2020-04-14 22:12] J-Reis opened #9215 "All creators showing as "not yet configured""
## Description

Since 2nd to last (most recent) update (I waited through an update cycle to see if the issue would resolve), even verified creators to whom I'd previously been able to send tips are marked with:

These same creators _**can**_ be tipped from the Android app.

## Steps to Reproduce

   1. Navigate to arstechnica.com or npr.org
   2. open Brave Rewards dialogue, observe indication of

[2020-04-14 22:20] rebelcode-xr commented on #9066
many ("not techy") people are having problems using Jitsi due to this issue: please fix it asap, we need it now. 🙏

[2020-04-14 22:21] Nuc1eoN commented on #6098
Sometimes it took a long time for my sync chain to fully sync. But finally it always did.

I think the user should have a progress bar, that indicates the progress/status somehow.

[2020-04-14 22:38] ryanbr opened #9217 "Video doesn't show on https://www.thedailybeast.com/fox-news-anchor-bret-baier-says-conservatives-heads-wouldve-exploded-if-obama-claimed-total-authority"
## Description
Video not showing due to incorrect blocking on `https://www.thedailybeast.com/`

## Steps to Reproduce

   1. Viewing `https://www.thedailybeast.com/fox-news-anchor-bret-baier-says-conservatives-heads-wouldve-exploded-if-obama-claimed-total-authority`
   2. Expect a video at top
   3. Nothing shows due to shields / site-trackers.

## Actual result:
No video showing

## Expected resu

[2020-04-14 22:48] ryanbr commented on #9217
Okay, issue is with ABP-Japanese. will create a temp fix.

[2020-04-14 22:53] Johann999 opened #9218 "'Other bookmarks' translation missing"
Since version 1.7.92 the folder 'Other bookmarks' is again in the right place in the bookmarks bar. Many thanks.
But I miss the translation into the language in which Brave is carried out.

[2020-04-14 23:29] CodeJoule commented on #821
From the [Linux setup instructions](https://github.com/brave/brave-browser/wiki/Linux-Development-Environment):

Python 2.7 has reached EoL and will be removed from FreeBSD in some time, along with any packages requiring it.

<details>
<summary>Python 2.7 install message on FreeBSD 12.1-RELEASE-p3 (skip to the end)</summary>

[code]
</details>

Also see [here](https://forums.freebsd.org/threads/eo

[2020-04-14 23:33] SephReed commented on #8846
Still broken.  Version 1.7.92 on MacOS
<img width="448" alt="Screen Shot 2020-04-14 at 6 32 45 PM" src="https://user-images.githubusercontent.com/14002040/79283755-5d07e900-7e7e-11ea-98db-ff6de868e385.png">

[2020-04-14 23:36] SephReed commented on #7374
I still don't know how I have 0 BAT if my earnings is 47 and my auto-contribute is 12

[2020-04-15 00:02] #9217 closed

[2020-04-15 01:13] Xyncgas opened #9219 "Did brave somehow change my wall paper ? I feel invasive. Any option to set my own ?"

[2020-04-15 02:53] pc-v2 commented on #8907
yes, tor and incognito is disabled as expected, but guest window and profile manager still able to access even i disable it (BrowserAddPersonEnabled)

[2020-04-15 02:56] kjozwiak commented on #9213
Closing as there's no actionable information in this issue. If you're having an issue or have a feature request, please file another issue which have more details 👍

[2020-04-15 02:56] #9213 closed

[2020-04-15 03:32] andrewmattie commented on #9209
I do remember at one point ads would come in while in fullscreen as that's how I primarily use Brave and used to get ads while doing so.

Having Brave fullscreen helps immensely with window management as quick switching cycles through your open apps on macOS compared to cycling through all open windows on Windows.

+1 on a focus mode toggle for fullscreen ads. It would give users the choice to use

[2020-04-15 03:43] srirambv opened #9220 "[Android] Remove custom tabs option for tablets"
## Description
Remove custom tabs option for tablets since tablets doesn't support it

## Steps to reproduce

   1. Install 1.9.21 nightly build
   2. Open settings
   3. Custom tabs option is shown under controls

## Actual result
![image](https://user-images.githubusercontent.com/17010094/79296482-2fac5100-7ef9-11ea-9dcd-2fe43ad67908.png)

## Expected result
No option for custom tabs setting as

[2020-04-15 04:52] ethanbb commented on #3725
To update, apparently Microsoft speech recognition is available for 17 languages: Catalan, Chinese, Danish, Dutch, English, Finnish, French, German, Italian, Japanese, Korean, Norwegian, Polish, Portuguese, Russian, Spanish, and Swedish.

At first I thought it was much more limited based on the language packs available to download for Cortana etc., but there are "Microsoft Speech Platform" speech

[2020-04-15 05:02] kjozwiak commented on #8878
QA will run through C81 via https://github.com/brave/brave-browser/issues/9000.

[2020-04-15 05:03] NejcZdovc commented on #8846
@aquaspy we released 1.7.x yesterday

[2020-04-15 05:18] kjozwiak opened #9221 "Manual test run on OS X for 1.7.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Upgrade from Chromium 81.0.4044.83 to Chromium 81.0.4044.92.([#9000](https://github.com/brave/brave-browser/issues/9000))
### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on

[2020-04-15 05:18] kjozwiak opened #9222 "Manual test run on Windows x64 for 1.7.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Upgrade from Chromium 81.0.4044.83 to Chromium 81.0.4044.92.([#9000](https://github.com/brave/brave-browser/issues/9000))
### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on

[2020-04-15 05:18] kjozwiak opened #9223 "Manual test run on Linux for 1.7.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Upgrade from Chromium 81.0.4044.83 to Chromium 81.0.4044.92.([#9000](https://github.com/brave/brave-browser/issues/9000))
### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on

[2020-04-15 05:40] NejcZdovc commented on #9215
What you are seeing is correct. On mobile we don't have support for uphold wallet, meaning even publishers that are just connected (meaning that they are in our system, but are not KYC) can receive contributions. When you add uphold wallet for contribution to be successful publisher need to be fully KYC.

[2020-04-15 05:40] #9215 closed

[2020-04-15 06:09] thommesborg commented on #9109
I'm using macOS 10.15.4 (19E287) and Brave 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)

Seems that there is no switch to DoH.
<img width="1355" alt="Bildschirmfoto 2020-04-15 um 08 08 53" src="https://user-images.githubusercontent.com/40795115/79303898-5e71f980-7ef0-11ea-8145-af81e5ec9a51.png">

[2020-04-15 06:20] srirambv opened #9224 "[Android] Link opened in a new tab does't use Desktop mode"
## Description
 Link opened in a new tab does't use Desktop mode

## Steps to reproduce

1. set all pages to load using desktop view in the general website settings of Brave
2. open any page in a new tab
3. open a link from that page in a new tab
4. Second tab opened is using mobile view instead of desktop view

## Actual result
Link opened in a new tab does't use Desktop mode

## Expected result

[2020-04-15 06:21] pihomeserver commented on #8846
No issue here. The CPU goes up for few minutes and then comes back to nearly 2/3 %. I had to wait less than 5 minutes

[2020-04-15 06:28] bughit commented on #9130
If the user explicitly does not want to use your rewards system, saying "Rewards Everywhere" means nothing to them. You do realize that there's a sizable chunk of your user base that just want a stable, lean, non-spying chromium? Ramming rewards down their throats will only create hostility to it that would not exist were it completely optional (which has to mean none of it is running when disable

[2020-04-15 06:31] NejcZdovc opened #9227 "Remove brave/common from brave/components/rewards"
We should not have includes from `brave/common` in ` brave/components/rewards` folder

[2020-04-15 06:35] NejcZdovc commented on #9130
I understand where you are coming from and are designing Rewards everywhere with this thinking in mind. We will not enable stuff like auto contribute or ads by default, this is still opt in. Will provide more info like I said when we have final spec for it

[2020-04-15 07:44] AlexzAK opened #9228 "Google search engine is enabled by default. Brave should ask which search engine to use on first run / installation"
Subj.

Brave should ask which search engine to use on first run / installation
In an competitive manner to give no advantage to an "default" search engine

[2020-04-15 07:47] bsclifton commented on #9228
@AlexzAK which platform are you on?

The Desktop version has a welcome onboard wizard (viewable at brave://welcome/) which has this question. User is not forced to answer this though:
![Screen Shot 2020-04-15 at 12 45 45 AM](https://user-images.githubusercontent.com/4733304/79311650-9d815a00-7eb2-11ea-8d2d-59a90274954a.png)

[2020-04-15 07:47] AlexzAK commented on #9138
@kronikpillow Latest Brave version is Version 1.7.92 as for me.
Extensions from Google Store works as they should for me

[2020-04-15 07:59] bsclifton commented on #4492
I'm going to close this issue as there is nothing actionable we can do at the moment. There haven't been any responses with crash IDs we can investigate and there has been no activity here for the past 3 months.

If you're encountering this issue from a search, please create a new issue and visit brave://crashes to find recent crashes. You can send the report- you may need to close/re-open browser

[2020-04-15 07:59] #4492 closed

[2020-04-15 08:01] bsclifton commented on #2999
@rebron should we revisit this after @cezaraugusto recently added the new section? 😄

I think it wouldn't be too hard to add this functionality:
![Screen Shot 2020-04-15 at 1 00 50 AM](https://user-images.githubusercontent.com/4733304/79313025-99563c00-7eb4-11ea-88f2-3550f57d0f9b.png)

[2020-04-15 08:03] bsclifton commented on #9219
Hi @Xyncgas

There is a background shown on the new tab page. At the moment, this is not very customizable. You can disable the image and if there is a sponsored image you can disable this. But there is no way (yet) to provide a custom picture. We do have that issue captured with https://github.com/brave/brave-browser/issues/5838

There are some other feature requests you might like to see here: h

[2020-04-15 08:03] #9219 closed

[2020-04-15 08:07] bsclifton commented on #8924
oh interesting- cc: @NejcZdovc for the rewards crash issue

[2020-04-15 08:17] bsclifton commented on #8924
@riccardoangius are you able to open the browser? If so - visit brave://crashes and see if there are crash reports there. You can report those - it may take a moment to send. You may need to quit/relaunch Brave to get it to send. After it's sent, there is a Report ID. If we have this, we can identify the problem

Please let us know! Thanks 😄

[2020-04-15 08:52] riccardoangius commented on #8924
@bsclifton here are all from last night

[2020-04-15 09:01] NejcZdovc commented on #8924
@bsclifton nothing stands out for me related to rewards

[2020-04-15 09:38] GeetaSarvadnya opened #9229 "Default browser settings along with `Make Default` button is missing is `brave://settings` page"
## Description

Default browser settings along with `Make Default` button is missing is `brave://settings` page

## Steps to Reproduce

   1. Clean profile `1.7.95 Chromium 81.0.4044.92`
   2. Navigate to brave://settings
   3.  There is no `Default browser` settings also `Make Default` option is missing

## Actual result:

Default browser settings along with `Make Default` button is missing is `b

[2020-04-15 09:59] #9229 closed

[2020-04-15 10:30] muhammad-usman-anwar opened #9230 "build issue regarding rust"
## Description
I am trying to build the latest version v1.9.19, a rust dependency giving an error. Upon looking into it, it may be due to the rust version. Details are provided below. I did not try to manually change the version of rust as I don't know the supported version or it may break the build process further.

## Steps to Reproduce

   1. On windows simply run npm run build.

## Actual resu

[2020-04-15 10:55] bbondy opened #9231 "[Android] Delete build arg for now on Android"
This fixes a warning that comes up when you build Android:

but never appeared in a declare_args() block in any buildfile.

[2020-04-15 11:28] kronikpillow commented on #9138
@AlexzAK on Arch? I just tried the beta, and the daily build as well, it doesn't work on either of the -bin-s ... :-/

[2020-04-15 11:53] #9203 closed

[2020-04-15 12:01] rohitghali commented on #8742
+1 from me.

[2020-04-15 12:34] AlexzAK commented on #9228
I did not seen it. Also I have old installation of Brave | 0.26.0 on my machine
But duckduckgo were selected there as a search engine...

Now it seems like an minor / non important bug as for me

@bsclifton
You can reject/close it if you want

[2020-04-15 12:57] GeetaSarvadnya commented on #9000
Verification passed on

Brave | 1.7.95 Chromium: 81.0.4044.92 (Official Build) (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-browser/issues/8308#issue-567112654
![image](https://user-images.githubusercontent.com/38657976/79339643-ce12

[2020-04-15 14:02] iefremov opened #9233 "Crash on MacOS"
This is a follow-up to

https://github.com/brave/brave-browser/issues/8924#issuecomment-613654099

[Crashes in backtrace (private link)](https://brave.sp.backtrace.io/p/brave/explore?time=all&aggregations=((timestamp%2Cbin%2C32)%2C(callstack%2Chead))&fingerprint=410bde4fd10b47906837e3cab9e708412749123b8dc1c6787c7786052e55f638)

Regarding
[code]

[2020-04-15 14:03] iefremov commented on #9233
cc @bsclifton to set priority

[2020-04-15 14:03] iefremov commented on #8924
@riccardoangius there is a follow-up https://github.com/brave/brave-browser/issues/9233

[2020-04-15 14:03] frank6tg commented on #5290
Definitely need this resolved. My bank recently changed its authentication when you sign in and it takes you to a URL on a subdomain that has "shields up" But I can't white list by clicking the shield because then it reloads the page / can't login to bank b/c the authentication process is interrupted.

[2020-04-15 14:06] StefanLobbenmeier commented on #5838
Also please consider chrome-extensions that provide a different new tab background. The one I tested did not overwrite the brave backgrounds, and hiding the brave background only showed the brave gradient background.

[2020-04-15 14:13] angelog0 commented on #9066
I do not understand the logic behind this choice of Brave developers. Jitsi Meet asks me, the first time, the consent to use microphone and fotocamera. I give it the OK and microphone and fotocamera are blocked in any case...

[2020-04-15 14:18] iefremov commented on #8924
Btw I think [this crash report from reddit](https://www.reddit.com/r/brave_browser/comments/fq7y5y/macos_the_brave_browser_will_close_immediately/) is something different, because the browser doesn't actually start

[2020-04-15 14:22] #9220 closed

[2020-04-15 14:29] kronikpillow commented on #9138
I'v tried downloading the extension with a extension downloader service, and once it downloads and i drag and drop the extension to brave, all it does is re-prompt me to download it, and redownloads it, it doesn't install

issue reported to pkg maintainer [pkg maintainer](https://aur.archlinux.org/packages/brave-bin/#news)
[video of issue](https://youtu.be/M2RGbAlOyt8)
pkg maintainer claims that o

[2020-04-15 15:14] mrose17 commented on #2999
That's looks very nice. though, please, let me customize the clock for AM/PM v. 24H ... thank you!

[2020-04-15 15:20] bsclifton commented on #9066
@angelog0 it's definitely not intentional. Autoplay blocking is intended to help prevent unwanted items from playing without consent and consuming bandwidth. Weird that it would require autoplay in order to work? Maybe the video preview itself is trying to render but gets blocked

We do have some autoplay changes coming - maybe @rebron or @pes10k can comment about those 😄

[2020-04-15 16:30] madhums commented on #2999
Would be great to have a dark background as an option! (Is that difficult to include?)

[2020-04-15 16:35] dpedu commented on #2999
I just noticed this issue is still around, so I looked up some fun numbers. The original release of the first Netscape browser was developed over less than 22 months and supported setting a default page. This issue has been open for about 15 months.

[2020-04-15 16:36] bsclifton commented on #9228
@AlexzAK oh wow - you're definitely going to want to uninstall that version and grab the latest via the instructions at https://brave.com/download/ (download page links to instructions for Linux)

You can remove the old key and install this new one. The executable is now called `brave-browser` versus the older `brave` (the version based on Electron/Muon)

[2020-04-15 16:36] #9228 closed

[2020-04-15 16:45] zenparsing opened #9235 "Add "loading" and "enable rewards" screens to desktop SKU"
Add "loading" screen and "enable rewards" screens to desktop UI components and display them in the checkout story.

[2020-04-15 16:46] srirambv opened #9236 "Asset address text is not legible"
## Description

Asset address text is not legible

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/79364145-88660300-7f66-11ea-9912-6e1e15cdb3a3.png)

## Expected result:
Should have more contrast so that its legible

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 1.9.21 Chromium: 81.0.4044.92 (Official Build) nightly (64-bit)
-- | -

[2020-04-15 16:47] zenparsing opened #9237 "Allow hiding of credit card forms on desktop SKU"
Add options for hiding credit card entry forms from desktop SKU components, and display those options in the checkout story.

[2020-04-15 16:51] srirambv opened #9238 "Balance view state is retained when widget is disabled and re-enabled"
## Description

Balance view state is retained when widget is disabled and re-enabled

## Steps to Reproduce

   1. Connect to Binance account on the widget
   2. Balance view is hidden by default
   3. Enable balance view to show
   4. Hide Binance widget
   5. Re-enable Binance widget, balance view state is retained

## Actual result:

Hide balance view when widget is disabled and re-enabled

##

[2020-04-15 17:06] jamesmudgett commented on #9236
Use #7d7d7d

[2020-04-15 17:57] kjozwiak commented on #9119
I can still reproduce this on `1.7.95 CR: 81.0.4044.92` which is the latest RC for the next release. We'll need to make sure this is uplifted into `1.7.x` before we release on April 20th. Moved into https://github.com/brave/brave-browser/milestone/102.

Used the following build to reproduce on `Win`:

[code]

[2020-04-15 18:04] mkarolin opened #9239 "BraveAutocompleteProviderClientForClassifier is leaking OTR profile data."
## Test plan
- Follow steps in https://github.com/brave/brave-browser/issues/1758
- Ensure it still works as expected

## Description
This is a follow-up issue for brave/brave-core#5221.
See https://github.com/brave/brave-core/pull/5221#discussion_r408989332

When using a Private window, BraveAutocompleteProviderClientForClassifier is likely leaking OTR autocomplete data into the regular profile.

[2020-04-15 18:06] #9119 closed

[2020-04-15 18:27] jsecretan opened #9241 "New Sync v2 UI wiring"
### TODO
- Initial "Start using Sync"
	- [ ] should change to "manage your sync'd devices" after setup
- Sync Setup dialog
	- [ ] images
	- [ ] 'mobile' QR code
	- [ ] should navigate to "Sync Manager" screen after starting
- Sync Manager
	- [ ] "Leave Sync Chain" should confirm first
	- [ ] Device List
	- [ ] Sync Settings list

## Description
Because of the way that sync functionality is current

[2020-04-15 18:30] D3m3rion commented on #6043
Hey, just wanted to let you know that I would also be interested in hiding the "Other Bookmarks" folder.
Other than OP I don't have the possibility to hide them in another folder because I don't have one; my bookmarks bar only consists of direct links.

What I did was to move all my other bookmarks into a folder in the main bookmarks folder, gave it an empty name and moved it completely to the lef

[2020-04-15 18:45] bsclifton commented on #2560
Fix done with https://github.com/brave/brave-core/pull/4480 now reverted with https://github.com/brave/brave-core/pull/5258

cc: @jonathanKingston

[2020-04-15 18:50] pes10k commented on #9066
Hi @angelog0, we originally shipped restrictions on what sites could autoplay, because we saw a lot of abuse of autoplay online, mostly by advertisements our users didn't want.  This was added ~> 2 years ago.

Since then though, Chrome/chromium has gotten better in its handling of autoplay, and now does a better job of managing what can play without user interaction.  As a result, we've removed ou

[2020-04-15 19:09] rajmondburgaj commented on #1000
Is there any plan soon to do this  ? Would great if the would have this option to install from flathub

[2020-04-15 19:14] fmarier commented on #1000
Due to time constraints, this is not something we are planning to do in the short term. If someone would like to take this on and create an unofficial flatpack for Brave, that would be a good first step towards our integrating it into our build process.

[2020-04-15 19:21] kjozwiak commented on #9111
@rebron mind checking this one we get a new `1.8.x` now that https://github.com/brave/brave-core/pull/5224 was approved and merged?

[2020-04-15 20:36] tmancey opened #9242 "Duplicate/bad confirmations retry logic"
## Description

Duplicate/bad confirmations retry logic

## Steps to Reproduce

   1. Duplicate failed confirmations in `confirmations.json` under `confirmations/failed_confirmations`

## Actual result:

Duplicate confirmations are retried indefinitely

## Expected result:
Duplicate confirmations should not be retried indefinitely

## Reproduces how often:

Easily reproduced

## Brave version (bra

[2020-04-15 20:49] make-oline90 commented on #9138
what device do you download ？

2020年4月15日(水) 23:29 KronikPillow <notifications@github.com>:

--
Dalap

[2020-04-15 20:52] jonathansampson opened #9243 "Suppress Brave ad notifications when WebRTC is active"
## Description
Feature Request: Allow users to optionally disable ad notifications while camera and/or microphone are in use. This feature could inadvertently distract the conference participant, or cause audio to bleed into the call.

## Miscellaneous Information:
Suggested by [a user on Twitter](https://twitter.com/techloreistaken/status/1250522266628091904).

![image](https://user-images.github

[2020-04-15 20:55] ryanml opened #9244 "Binance Widget should be disconnected after hiding"
# Description
When hiding the Binance Widget via settings/widget menu, we should revoke the access token and reset the widget.

## Steps to Reproduce

   1. Connect via Oauth on the Binance widget.
   2. Using the ellipsis menu, click "hide"
   3. Unhide the widget via footer dashboard settings

## Actual result:
Widget State is retained

## Expected result:
User should be disconnected with state

[2020-04-15 21:24] ryanml commented on #9238
Closing this one as we are going to reset the widget on hide: https://github.com/brave/brave-browser/issues/9244

[2020-04-15 21:24] #9238 closed

[2020-04-15 21:30] ryanml opened #9245 "Unhiding a crypto widget should bring it in to the foreground"
## Description
Toggling on a crypto widget should bring it to the front of the stack

## Steps to Reproduce

   1. Clean profile, hide Binance while it is in the background
   2. Unhide Binance from the footer settings

## Actual result:
Binance is still behind the Rewards widget

## Expected result:
Binance should be in the foreground. The same behavior goes for Rewards.

## Reproduces how often:

[2020-04-15 21:52] kronikpillow commented on #9138
solved ... seems that the brave update domain was blocked in my hosts file :facepalm: I'm embarrassed

[2020-04-15 21:52] #9138 closed

[2020-04-15 22:07] rebron commented on #9138
@kronikpillow Glad you were able to resolve. Tell your family and friends about Brave, help them get started and we'll forget this ever happened ;-)

[2020-04-15 22:07] bsclifton commented on #9138
@kronikpillow no worries - things like that happen to all of us 😄  Thanks for reporting back that you are indeed fixed and also sharing a troubleshooting step (checking hosts file)

[2020-04-15 22:30] ryanml opened #9246 "pep8 lint failure"
Fails with:

[code]

[2020-04-15 22:32] andrewmattie commented on #9209
Preliminary testing seems to indicate that the exceptions for a video being played are still in place. Giving the user some control over seeing ads in fullscreen, whether it be a toggle, chrome flag, or something else, would allow greater flexibility for the users to use Brave how they see fit.

[2020-04-15 22:40] #9246 closed

[2020-04-15 22:49] J-Reis commented on #9215
Lol, so does this mean that the vast majority of the tips I've given on mobile have been useless and aren't likely to actually have been collected by the creators I was trying to support?

… or just that the implementation on desktop is such that I can't actually use it to do the exact same basic thing that I can do on mobile?

[2020-04-15 23:33] rebron opened #9247 "NTP UI/UE fixes to ellipsis icon"
## Description
Follow-up to: #8883

Need the following UI fixes -
- [x] widget shadow should show as long as ellipsis icon is visible (currently it goes away if you hover over the ellipsis icon) (Steps to Reproduce #1)
- [x] ellipsis menu should not show again on hover; the user should click on the ellipsis icon again to show it (Steps to Reproduce #2)
- [ ] ellipsis icon needs more padding on sta

[2020-04-15 23:34] rebron commented on #9247
cc: @ryanml

[2020-04-15 23:46] rebron opened #9248 "add widget stack transition"
## Description
When selecting a widget in the widget stack, there should be a transition animation to smooth out the selection, otherwise it's jarring.

Using the spaceindown effect.
example: https://www.minimamente.com/project/magic/

## Steps to Reproduce

   1. Go to the New Tab page.
   2. Select widget in the background, either Brave Rewards or Binance to move it to the front.
   3. Notice th

[2020-04-15 23:46] rebron commented on #9248
cc: @ryanml @karenkliu

[2020-04-15 23:52] rebron opened #9249 "make widget card stack padding and title size consistent"
## Description
Widget card stack padding and title sizes need to be made consistent for all widgets in the stack

## Design:
![widget_card_stack_padding_and_title_sizes_need_to_be_made_consistent_for_all_widgets_in_the_stack](https://user-images.githubusercontent.com/5951041/79399735-fd224880-7f38-11ea-904b-e8079f1df800.jpg)

## Brave version (brave://version info)

Brave | 1.9.21 Chromium: 81.0.4

[2020-04-15 23:57] btlechowski commented on #7325
Verification passed on

Brave | 1.8.76 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Ubuntu 18.04 LTS

Reproduced the crash on 1.7.95.

Verified test plan from https://github.com/brave/brave-core/pull/5205
Verified ipfs extension installed without issues
![image](https://user-images.githubusercont

[2020-04-15 23:57] btlechowski commented on #9092
Verification passed on

Brave | 1.8.76 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Ubuntu 18.04 LTS

Reproduced the crash on 1.7.95.

Verified test plan from https://github.com/brave/brave-core/pull/5205
Verified ipfs extension installed without issues
![image](https://user-images.githubusercont

[2020-04-16 00:17] #9150 closed

[2020-04-16 02:09] simonhong commented on #9239
`BraveAutocompleteProviderClientForClassifier` is introduced to fix https://github.com/brave/brave-browser/issues/1037. Original PR is https://github.com/brave/brave-core/pull/757. Need to find another way to fix original issue.

[2020-04-16 02:51] #9236 closed

[2020-04-16 02:58] ryanml opened #9250 "All asset deposit addresses should be shown in the Binance Widget"
## Description
With current widget behavior, only deposit addresses for assets which users have holdings for are available. Binance recently updated their Oauth API to take the default network as a parameter for deposit info, allowing all addresses to be fetched. Networks are provided here:

https://www.binance.com/gateway-api/v1/public/capital/getNetworkCoinAll

## Steps to Reproduce

   1. Conne

[2020-04-16 03:04] #9244 closed

[2020-04-16 03:06] #9245 closed

[2020-04-16 05:08] bsclifton opened #9251 "Upgrade from Chromium 81.0.4044.92 to Chromium 81.0.4044.113"
## Description
Minor Chromium bump

https://chromium.googlesource.com/chromium/src/+log/81.0.4044.92..81.0.4044.113/?pretty=fuller&n=10000

[2020-04-16 05:18] srirambv opened #9253 "Widget looses connect state when network is disconnected"
## Description

Widget looses connect state when network is disconnected

## Steps to Reproduce

   1. Connect widget to Binance account
   2. Go to convert tab and enter the amount to convert
   3. Disconnect network while preview conversion countdown is shown
   4. Wait for convert preview to auto close
   5. Repeat steps 2 and 3 again
   6. Widget gets disconnected automatically

## Actual resu

[2020-04-16 05:28] NejcZdovc commented on #9215
@J-Reis no no, what you sent on mobile went through.

Thing is that when you have uphold wallet connected (same will be on mobile when we add support for uphold) receiving publisher need to be KYC.

When you are doing contributions without uphold wallet, contributions are going through our system and then we do payouts. When you have uphold wallet you are doing contribution directly via uphold (br

[2020-04-16 05:31] srirambv opened #9254 "Preview conversion doesn't always start from 30sec"
## Description

Preview conversion doesn't always start from 30sec

## Steps to Reproduce

   1. Connect to Binance widget
   2. Try to convert a coin
   3. Disconnect network
   4. Cancel convert preview
   5. Connect network and try to convert to a different asset
   6. Countdown starts from where it left off in step 2/3

## Actual result:

Preview conversion doesn't always start from 30sec

##

[2020-04-16 05:35] b00f commented on #5838
I think brave is going to earn money from the home page by getting some advertisements. It can be fair, we get rid of adds in other pages but in the home page we see same boring stuff.
no advertisement, no browser!

[2020-04-16 05:46] J-Reis commented on #9215
I see. Thank you very much for taking the time to clarify. Much appreciated!

[2020-04-16 05:49] srirambv opened #9255 "Incorrect state of widgets on different tabs"
## Description

Incorrect state of widgets on different tabs

## Steps to Reproduce

   1. Open a new tab and connect Binance widget
   2. Open a second tab and follow steps from #9253 to disconnect wallet
   3. Go back to tab 1 from step 1 and try to select convert and check conversion preview
   4. Go back to tab 2 and click on connect widget automatically goes back to the connected state

## Ac

[2020-04-16 06:01] srirambv opened #9256 "[Desktop] Binance widget should be accessible via tab index"
## Description

Binance widget should be accessible via tab index

## Steps to Reproduce

   1. Connect Binance widget
   2. Open a new tab
   2. Press tab to select the next element
   3. Binance widget isn't focused as there is no input filed in summary view

## Actual result:

Binance widget isn't accessible via tab index
## Expected result:
Binance widget should be accessible via tab index

##

[2020-04-16 06:56] srirambv opened #9257 "Reload newtab page reset widget to default summary view"
## Description

Reload newtab page reset widget to default summary view

## Steps to Reproduce

   1. Connect to Binance widget
   2. Switch to Deposit/Convert view
   3. Reload NTP, view resets to Summary view

## Actual result:

Reload newtab page reset widget to default summary view

## Expected result:
Should probably retain the state which was selected

## Reproduces how often:

Easy

## Brav

[2020-04-16 07:11] srirambv opened #9258 "Disconnect and reconnect widget doesn't always update widget state"
## Description

Disconnect and reconnect widget doesn't always update widget state

## Steps to Reproduce

   1. Login to Binance in a new tab
   2. Connect widget
   3. Disconnect widget, ensure widget goes back to pre-connect state
   4. Try to connect widget again, asks for permission since you're already logged into the account in a different tab
   5. Widget loads and then goes back to the pr

[2020-04-16 07:14] SpicBeanerMower commented on #9060
The problem of brave not applying cosmetic filtering goes beyond than "after restart" and I think it is related to this problem (since this is about the inbuilt cosmetic rules and not user made ones).

But when you create your own cosmetic filtering rules and you open the website or page as "new tab", the custom cosmetic rules don't apply and you have to refresh website for them to work, this prob

[2020-04-16 10:21] adrianso opened #9260 "Webtorrent doesn't work in Private Tab"
## Description

Webtorrent extension does not work in Private Tabs, and unlike other 3rd party extensions, there is no UI in Brave that will allow me to enable this.

## Steps to Reproduce

   1. Start the Brave browser.
   2. From the menu bar, choose File - New Private Window.
   3. Browse to any torrent file, e.g. http://releases.ubuntu.com/19.10/ubuntu-19.10-live-server-amd64.iso.torrent

## A

[2020-04-16 10:59] jbm1991 commented on #4858
Confirmed for:
-  MacBook Pro (16 inch, 2019)
- MacOS 10.15.4 (19E287)
- Version 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)

[2020-04-16 11:26] GlitchMC commented on #2999
I'd like to know what's up with this, too. Just installed and set up, went through all my settings, installed a theme, only to find that the New Tab page doesn't actually show my theme.
Very unfortunate. Back to chrome I guess.

[2020-04-16 11:30] SAGV commented on #4858
Actually it got fixed for me since the last either mac os or brave update

[2020-04-16 12:18] jbm1991 commented on #4858
Interesting, my Mac and Brave are fully up to date too, but it is definitely still happening.

To test you can view the new iPhone SE page https://www.apple.com/uk/iphone-se/ and do some scrolling, which immediately utilises the discrete GPU. Then close the tab and it does not stop using the GPU until you either restart Brave or use the Brave task manager to kill the GPU process

[2020-04-16 12:40] srirambv opened #9261 "Menu items icons not visible on dark mode"
## Description

Menu items icons not visible on dark mode

## Steps to Reproduce

   1. Set browser to dark mode
   2. Open widget menu
   3. Menu icons looks dark

## Actual result:

![Screenshot from 2020-04-16 05-24-03](https://user-images.githubusercontent.com/17010094/79456370-06301a00-800c-11ea-8484-41e858755022.png)
![Screenshot from 2020-04-16 05-27-24](https://user-images.githubuserconten

[2020-04-16 12:52] iefremov opened #9262 "[Desktop] Implement the speedreader promo bubble"
## Description
Introduce users to Speedreader.

## Design

### User Flow
A fresh Brave Browser install supports reader mode by default. Users will see a reader mode icon when visiting a reader-mode available page. Clicking on it for the first time will show a promo tooltip to turn on Speedreader. This promo tooltip appears 3 total times, regardless of whether or not the user has turned on Speedrea

[2020-04-16 12:55] iefremov commented on #8416
For QA: The promo bubble was not implemented in this issue (there is a separate ticket https://github.com/brave/brave-browser/issues/9262).

To enable speedreader pass `--enable-speedreader`. To whitelist certain sites use e.g. `speedreader-whitelist="https://bbc.com/*;"`

[2020-04-16 12:55] #8416 closed

[2020-04-16 12:59] srirambv opened #9263 "Fiat value text is not properly visible"
## Description

Fiat value text is not properly visible

## Steps to Reproduce

   1. Connect Binance widget
   2. Switch to balance view to show
   3. Fiat value is not properly visible

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/79458632-b0f60780-800f-11ea-8d48-862d6cdcabc6.png)

## Expected result:
Clearly visible text colour

## Reproduces how often:

Easy

[2020-04-16 13:19] TontyTon commented on #4062
No, it don't work most of the times, something or other get removed. Even when moving from release to beta not work sometimes. Sometimes passwords, sometimes rewards account(restore don't work either, account get restored, but balance remains 0)...
Yeah it do work in same channels, but it takes a lot of space. The thing which can come under 20 MBs take space of more than 300MBs.

[2020-04-16 13:21] TontyTon commented on #2788
now it works, from last 2-3 updates. Thanks

[2020-04-16 13:21] #2788 closed

[2020-04-16 13:42] PixelHir commented on #2457
It's really horrendous how they say that brave "begins with giving you back power."
Please guys, listen to the community and stop making things harder for everyone

[2020-04-16 13:50] amuteau commented on #4858
not fixed for me.
after 30min working on brave :
<img width="675" alt="image" src="https://user-images.githubusercontent.com/19674086/79463739-86994f80-7ff9-11ea-8c8b-7568f1214819.png">

I only have 5 tabs opens (Gmail, google drive, gsheet, gdocs)

I can't use brave anymore

My config :
MacBook Pro (Retina 15 pouces, début 2013)
macos 10.15.4 (19E287)
Version 1.7.92 Chromium: 80.0.3987.163 (Offic

[2020-04-16 13:59] srirambv commented on #9118
Verification notes on nightly build `1.9.21` and `1.9.24` is here for reference https://github.com/brave/brave-core/pull/5160#issuecomment-614463615

[2020-04-16 14:18] jsecretan opened #9264 "Allow users to show Brave Ads in full screen mode if they choose"
## Description
As a follow up to #9209, we should consider introducing a setting, defaulted to off, that allows users to see ads even while in full screen mode.

[2020-04-16 14:19] jsecretan commented on #9209
Thanks for the feedback, made a follow up issue in #9264 and we'll see if it gets a lot of positive community feedback to triage.

[2020-04-16 14:57] jaredready commented on #9264
FWIW I went a _very_ (embarrassingly) long time just thinking ads on Mac were broken because I never received them. One day I actually just noticed a coworker using his browser not in fullscreen mode (its my default for everything) and saw an ad pop up. That's when it clicked for me and I created #9209.

I can't imagine I'm the only person who has ran into that. If the goal is to get ads and BAT i

[2020-04-16 15:31] rebron opened #9265 "update Brave Beta icon to blue version"
## Description
Update Brave Beta icon to blue version that's used with Brave Dev.
This is a Beta channel specific change.

## Design
[placeholder]

## Version/Channel Information:

- Can you reproduce this issue with the current release? no change
- Can you reproduce this issue with the beta channel? Yes.
- Can you reproduce this issue with the dev channel? No change.
- Can you reproduce this issu

[2020-04-16 15:44] LaurenWags opened #9266 ""Safe Browsing" changes made in #8002 regressed with C81"
## Description

Found while testing https://github.com/brave/brave-browser/issues/9000

Issue #8002 made changes to Safe Browsing setting label for 1.7.x. When C81 was applied to 1.7.x, this issue regressed.

Setting was also moved farther down the list, but maybe this is expected, I'm unsure about that.

## Steps to Reproduce

   1. Go to brave://settings/privacy
   2. Find Safe Browsing setting

[2020-04-16 15:48] cezaraugusto opened #9267 "Widget context menu on NTP is behind top sites"
See screenshot

<img width="364" alt="Screen Shot 2020-04-16 at 12 44 57" src="https://user-images.githubusercontent.com/4672033/79477252-6315db00-7fe0-11ea-9f17-921c9a301a80.png">

## Test Plan
1. Launch Brave
2. Accumulate some top sites
3. Click the ellipsis menu in the top right corner of the top sites widget
4. Ensure that widget menu lays over the top site tiles, and does not clip behind.

c

[2020-04-16 15:48] paul-onof commented on #7961
Hi, same problem experienced here.
Fedora 31
Version 1.5.123 Chromium: 80.0.3987.163 (Official Build) (64-bit)

I was wondering why the bug label had been removed ?

Thanks for your help.

[2020-04-16 15:49] cezaraugusto commented on #9267
Set as p3 since it's a regression

[2020-04-16 15:51] jumde opened #9268 "Enable Web Platform Tests for Brave"
Details here: https://cs.chromium.org/chromium/src/docs/testing/web_platform_tests.md?q=web_platform_tests.md&sq=package:chromium&dr

[2020-04-16 16:06] #9104 closed

[2020-04-16 17:17] #9251 closed

[2020-04-16 17:43] iefremov commented on #9241
@jsecretan

which link?..

on the first picture, what happens if I choose "Computer"?

[2020-04-16 17:55] rebron commented on #9241
<img width="680" alt="Screen Shot 2020-04-16 at 10 54 02 AM" src="https://user-images.githubusercontent.com/5951041/79489797-b7b15a00-7fd0-11ea-89e8-8798acac2b54.png">
@iefremov it should show the screen above but with the actual sync words

[2020-04-16 18:00] rebron commented on #9241
<img width="712" alt="Screen Shot 2020-04-16 at 10 56 50 AM" src="https://user-images.githubusercontent.com/5951041/79490122-3c9c7380-7fd1-11ea-90ac-4da536adc6e3.png">
For link should be brave://sync to redirect to brave://settings/sync

cc: @darkdh

[2020-04-16 18:37] GeetaSarvadnya opened #9269 "Saved passwords not imported from chrome browser to brave"
## Description

Saved passwords not imported from chrome browser to brave

## Steps to Reproduce

   1. Clean profile 1.7.x
   2. Import bookmarks and settings from the welcome screen or `chrome://settings/importData`
   3. Import bookmarks and saved passwords from chrome
   4. Passwords are not imported from chrome to brave

## Actual result:

Saved passwords not imported from chrome browser to b

[2020-04-16 19:17] bong0 opened #9270 "progressive web app crashes when moving window"
Searched for: "app move screen" - didn't find anything related

## Description
When moving a PWA off the screen it was opened on, it disappears.
It disappears as well when moving the window /at all/ or clicking into the window.
(some websites support starting a website in native-looking standalone window)

## Steps to Reproduce

   1.  install https://crypt.ee/signin "app" (click plus in searchbar

[2020-04-16 19:29] snieg commented on #8925
Same here, even if crypto wallet and rewards are disabled - also I can see a lot of connections to **api.infura.io**.

So far I've blocked it directly on PiHole and after 1 day both domains appeared in Top Blocked Domains ;)

![image](https://user-images.githubusercontent.com/35065344/79498248-45b92f00-8029-11ea-925f-291f23f015f5.png)

[2020-04-16 19:38] Brave-Matt commented on #7449
Some more users here requesting this feature:
https://community.brave.com/t/display-full-url/89775/30

[2020-04-16 19:41] Madis0 commented on #7449
The option is now upstream (canary), behind a flag. https://bugs.chromium.org/p/chromium/issues/detail?id=1061576

[2020-04-16 19:43] ryanbr opened #9271 "[Desktop] [Webcompat] Ads / Broken site on https://www.idnes.cz/"
## Description
Viewing `https://www.idnes.cz/zpravy/domaci/koronavirus-bilance-pocet-nakazenych-testu.A200416_082629_domaci_knn` shows up ads.

## Steps to Reproduce

   1. Go to `brave://adblock`
   2. Enable `CZE, SVK: EasyList Czech and Slovak`
   3. Visit: `https://www.idnes.cz/zpravy/domaci/koronavirus-bilance-pocet-nakazenych-testu.A200416_082629_domaci_knn`

## Actual result:
Ads show/Site

[2020-04-16 19:53] ryanbr opened #9272 "[Webcompat] Top video not showing up on https://www.womenshealthmag.com/life/a32162106/cameron-diaz-motherhood-instagram-live/"
## Description
Viewing `https://www.womenshealthmag.com/life/a32162106/cameron-diaz-motherhood-instagram-live/`, embedded video not showing

## Steps to Reproduce

   1. Visit `https://www.womenshealthmag.com/life/a32162106/cameron-diaz-motherhood-instagram-live/`
   2. Expect world video to show.
   3.

## Actual result:
Video not showing with shields enabled

## Expected result:
Expect world Vid

[2020-04-16 19:54] ryanbr commented on #9272
Testing filter;

https://github.com/easylist/easylist/commit/54f353c1fcb8b3fa5142de557a4e28e1b2e7ab8c

Will see how this works. Before closing.

[2020-04-16 20:20] ryanbr opened #9273 "[Webcompat] Advertising link not showing on https://moremoney.io/"
## Description
Viewing self-promo advert `https://moremoney.io/` doesn't show up

## Steps to Reproduce

   1. Visit `https://moremoney.io/`
   2. Blocking a self promo on site.
   3.

## Actual result:
Not showing `https://moremoney.io/promo/Advertise.svg`

## Expected result:
Expect the image to show on the mainpage

## Reproduces how often:
Easily

## Brave version (brave://version info)
`Versi

[2020-04-16 20:20] ryanbr commented on #9273
https://github.com/easylist/easylist/commit/d453bebb096f02d95f20862a73b62982fffa28b5

[2020-04-16 20:44] ryanbr commented on #8714
Hey @karenkliu is this still an issue?

[2020-04-16 20:51] madhums commented on #2999
@bsclifton @rebron any update on a simple plain blank page?

[2020-04-16 20:53] madhums commented on #9241
Bookmarks were the only ones that were being synced but that doesn't work anymore since a month+

Any ETA on when sync will be enabled again?

[2020-04-16 21:21] robyoder opened #9274 "Updater on macOS displays raw HTML in Release Notes box"
## Test plan
1. Do install as non-admin user on macOS for an older version of Brave, as described in https://github.com/brave/brave-browser/issues/9562#issuecomment-622728238
2. Check for updates
3. Update modal should not have HTML in it

## Original issue description
Tried searching for: changelog, release notes, HTML, updater, macos

## Description
Automatic updates for Brave on macOS have raw

[2020-04-16 21:24] ryanbr opened #9275 "[webcompat] Display issues on https://www.costco.com/.product.100518269.html"
## Description
Viewing `https://www.costco.com/.product.100518269.html`  Doesn't show the image viewer correctly

## Steps to Reproduce

   1. Visit `https://www.costco.com/.product.100518269.html`
   2. Expect zoom controls to work correctly.
   3.

## Actual result:
Zoom controls not working

## Expected result:
Expect site to work with picture zooms.

## Reproduces how often:
Easily

## Brave v

[2020-04-16 21:29] ryanbr commented on #9275
https://github.com/easylist/easylist/commit/3e6a376a5c60b600b270943eddfcc6c110a805e8

[2020-04-16 21:35] karenkliu commented on #8714
@ryanbr Now it seems to work!

[2020-04-16 21:35] #8714 closed

[2020-04-16 21:51] anthonypkeane opened #9276 "[Android] Issue with UI bottom toolbar"
## Description
There is an odd UI bug on the bottom bar when in "tab" mode, please see the link below for a video.
See: https://imgur.com/a/kkzCRLs

## Steps to reproduce

   1. Open Brave
   2. Tap the Tabs button
   3.  Tap to the right of the + button

## Actual result
 - You'll see two round dots appear

## Expected result
 - nothing :)

## Issue reproduces how often  Easy

## Issue happens on

[2020-04-16 21:56] ryanbr opened #9278 "[Webcompat] Video not showing on https://video.repubblica.it/home"
## Description
Viewing `https://video.repubblica.it/home` Video not showing up

## Steps to Reproduce

   1. Visit `https://video.repubblica.it/home`
   2. Video doesn't show
   3.

## Actual result:
No embedded video.

## Expected result:
Expect Video to play

## Reproduces how often:
Easily

## Brave version (brave://version info)
`Version 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)

[2020-04-16 22:05] ryanbr commented on #9278
https://github.com/easylist/easylist/commit/217b6c87377a801d16e69c1888e69cf1c0078e16

Should fix it

[2020-04-16 22:31] anthonypkeane commented on #8715
In the New Tab Page settings,

please add

Enable Grid Layout

at the top of this setting page.
Default is Off

[2020-04-16 22:34] ryanbr opened #9279 "[Webcompat] World population not calculating on https://www.worldometers.info/world-population/"
## Description
Visit `https://www.worldometers.info/world-population/` expect  total number to show.

## Steps to Reproduce

   1. Visit https://www.worldometers.info/world-population/
   2. Site sits on `retrieving data...` and doesn't populate figures.
   3.

## Actual result:
Site doesn't update with shields up.

## Expected result:
Allowing all cookies will fix this.

## Reproduces how often:

[2020-04-16 22:53] notoriousturtle commented on #8925
Yeah, and some of those requests to api.infura.io are big!

[2020-04-16 22:59] the-sushi commented on #9162
Update: The issue seems to have fixed itself, possibly due to the latest macOS update?

[2020-04-16 23:26] #9263 closed

[2020-04-16 23:31] mbacchi opened #9280 "Add http.postBuffer git config setting to Jenkinsfile"
For CI we want to set this prior to the `init` step:

[code]

[2020-04-17 00:37] ryanml opened #9283 "Vertical height of the Binance Widget should increase by ~30% when logged in"
The height of the widget after connecting should increase to 360px tall. The initial Buy view before connecting should remain unchanged.

<img width="307" alt="Screen Shot 2020-04-16 at 5 26 39 PM" src="https://user-images.githubusercontent.com/8732757/79519475-d9c6ce80-8008-11ea-9cfe-98ecdb6c5d10.png">
<img width="311" alt="Screen Shot 2020-04-16 at 5 26 31 PM" src="https://user-images.githubuser

[2020-04-17 00:40] ryanml opened #9284 "Binance Widget Nav Menu should be present on all four screens."
To confirm:

1. The nav menu containing the `Deposit Summary Convert Buy` nav items should be present in each view.
2. For the Connect view, the "Connect label" should be done away with. With the available balance left-aligned.
3. For the Connect and Buy View, the Convert/Buy buttons should be moved down further in to the negative space. The `Cancel` prompt underneath each of those buttons should

[2020-04-17 00:41] ryanbr opened #9285 "[Webcompat] Login issues on https://store.ubi.com/us/account-connection/?lang=en_US"
## Description
Unable to login on `https://store.ubi.com/us/account-connection/?lang=en_US`

## Steps to Reproduce

   1. Visit `https://store.ubi.com/us/account-connection/?lang=en_US`
   2. Click on the `Top Right person Avatar` to login to website.
   3. Generates error message

## Actual result:
![ubi](https://user-images.githubusercontent.com/1659004/79519594-6b394d80-80a8-11ea-9ae0-a068c4d68

[2020-04-17 03:39] srirambv commented on #9276
Dupe of #8460

[2020-04-17 03:39] #9276 closed

[2020-04-17 04:14] cwbriscoe commented on #4124
This hasn't been an issue for me for a while.  I will go ahead and close.  Thanks.

[2020-04-17 04:14] #4124 closed

[2020-04-17 04:17] #9253 closed

[2020-04-17 04:17] #9254 closed

[2020-04-17 04:59] kjozwiak opened #9287 "barrons promotion tab not being opened when downloading brave via promotion page"
## Description

Barrons promotion tab isn't being opened when downloading Brave via https://brave.com/dowjones-barrons. However, MW via https://brave.com/dowjones-marketwatch seems to be working without any issues.

Looking at `brave://local-state`, `"promo_code": "dowjones-barrons"` does appear correctly.

## Steps to Reproduce

**`NOT WORKING`**

   1. download/install Brave via https://brave.co

[2020-04-17 05:02] the-sushi commented on #9162
Update 2: It appears to have started happening again

[2020-04-17 07:15] GeetaSarvadnya commented on #8463
Verification passed on

Brave | 1.8.77 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Verified the test plan from https://github.com/brave/brave-core/pull/5016
![image](https://user-images.githubusercontent.com

[2020-04-17 07:59] bsclifton commented on #9280
Thanks for setting this 😄 I did a few runs with the PR and unfortunately it didn't seem to make an impact. Will close this as `wontfix` for the moment

[2020-04-17 07:59] #9280 closed

[2020-04-17 08:08] #8218 closed

[2020-04-17 08:36] tmancey opened #9288 "Add unit tests for bat-native-confirmations token redemption"
Add unit tests for bat-native-confirmations token redemption

[2020-04-17 08:41] #9242 closed

[2020-04-17 09:11] simonhong opened #9289 "F/u issues for super referral service"
- [ ] Make url path more general - We use different url path for SI/SR like `chrome://branded-wallpaper/sponsored-images/...` or `chrome://branded-wallpaper/super-referrals/...`. Instead of using SI/SR specific strings in the path, embedding component id would be much better.

- [x] Remove SR component caching - Currently, we cache to make assets available faster and make favicon available after c

[2020-04-17 09:19] ashwinparthasarathi commented on #353
When it comes to customizing the new tab dashboard, I haven't found any documentation about how we can create new Widgets/Panels.

Is that something we can already do? Would love to create my own widgets with things required for me.

[2020-04-17 11:04] ryanbr opened #9290 "[Android] Youtube and ABP-Japanese not working"
## Description
Youtube playback and ABP-Japanese not working

## Steps to reproduce

   1. Subscribe ABP Japanese to `brave://adblock`
   2. Open https://m.youtube.com/watch?v=TcRF3yzsoeg
   3. Expect video playback.

## Actual result
Get Blank screen.

## Expected result
No video play back.

## Issue reproduces how often
   - Current Play Store version? Yes
   - Beta build?Yes

## Device details

[2020-04-17 11:09] ryanbr commented on #9290
Okay, 3rd-attempt:

Compared to Easylist. We're block 2 other scripts that we shouldn't be blocking.

`https://www.youtube.com/yts/jsbin/www-pagead-id-vflTKAslg/www-pagead-id.js`
`https://www.youtube.com/yts/jsbin/www-en_US-vfl3RPJHk/watch_autoplayrenderer.js`

[2020-04-17 11:42] tmancey opened #9291 "Refactor FindKey to use FindDoubleKey etc. in Brave Ads"
Refactor `FindKey` to use `FindDoubleKey` etc. in Brave Ads

[2020-04-17 11:44] tmancey opened #9292 "Refactor Brave Ads catalog parsing to use `base::JSONReader`/`IDL`"
Refactor Brave Ads Catalog parsing to use base::JSONReader IDL instead of RapidJson. We should deprecate the `LoadDataResource` API call once this change has been made.

[2020-04-17 12:07] jsekamane commented on #8959
I like the idea, but **the design of the banner is confusing**. I've seeing the banner show up maybe 50 times in the last week and *only today* did I realised what it was – and that it was part of the browser and not something the webpages had rendered. It looks like a header on a webpage and not as something that is part of the browser UI. This is because it follows a familiar look with a "logo"

[2020-04-17 13:30] samartnik opened #9293 "[Android] Fix crash on private tab"
## Description
There is crash on version 1.7.x when on opening of private tab. Needs to be fixed.

## Steps to reproduce

   1. In description

## Actual result

## Expected result
No crash

## Issue reproduces how often
Easy on version 1.7.x

## Issue happens on
   - Current Play Store version? no
   - Beta build? only on version 1.7.x

## Device details
   - Install type (ARM, x86):
   - Device

[2020-04-17 13:36] Sa-Ja-Di commented on #7449
@Brave-Matt How about following user interests and user suggestions? People want customization, features and choice and not simplicity - old Brave with it's custom UI offered that, Brave now offers almost nothing.

When do you guys bring back finally some features and customization? Where is your support for power and advanced users?

[2020-04-17 13:43] Sa-Ja-Di commented on #2999
@bsclifton @rebron Would really be nice if you guys for once would  stop on minimalism and simplicity and do instead some serious work of which customization requiring power-users would contribute.

For example, Navigation toolbar customization (moving buttons), or Treestyle tabs or something like an optional status bar or things as simple like new tab/dashboard settings which can be customized.

[2020-04-17 13:45] #8100 closed

[2020-04-17 13:48] GeetaSarvadnya commented on #8799
Verification passed on

Brave | 1.8.77 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/5003
Catalog file used :
[Different creative sets with empty segment and unknown code along wit

[2020-04-17 14:04] #9279 closed

[2020-04-17 14:27] LaurenWags commented on #9269
Could not reproduce on macOS:

Brave | 1.7.95 Chromium: 81.0.4044.92 (Official Build) (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.14.6 (Build 18G3020)

[2020-04-17 14:41] Alan-Gomes opened #9294 "System randomly freezing"
## Description

I'm using linux mint 19.3 (kernel 5.0.0-32-generic) and brave (latest version), the system freezes totally (needing to forcefully reboot the computer) randomly when using the browser and the latest system logs shows a possible browser crash.

Could be related to #7439 but there's more information on my log.

## Steps to Reproduce

Couldn't find a way to reproduce it, as it seems to

[2020-04-17 15:05] JamesB7 commented on #5576
Please add a menu option for this. My experience from Firefox is that settings tend to disappear. This is the one issue that prevents Brave from becoming my main browser, or from me recommending it to others. It should be up to me only when and if software is updated on my computer. You may think you're making things more secure, and maybe that's true for the normal case, but for the 'things have

[2020-04-17 15:06] rebron commented on #9294
Hi @Alan-Gomes Can you update to the latest 1.7.92 and let us know if it's stilll an issue?

[2020-04-17 15:09] x0rzkov commented on #2105
+1 bump

[2020-04-17 15:12] rebron commented on #8211
Closing. Looks like samples are being sent consistently. @mattmcalister please re-open if it's not the case.

[2020-04-17 15:12] #8211 closed

[2020-04-17 15:14] rebron commented on #8221
cc: @fmarier can you help wiith triaging this one?

[2020-04-17 15:18] rebron commented on #8233
Reproduced on:

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | macOS Version 10.15.5 (Build 19F53f)

<img width="994" alt="Screen Shot 2020-04-17 at 8 17 40 AM" src="https://user-images.githubusercontent.com/5951041/79584940-ef2d0e80-8083-11ea-8a46-96e16796fcce.png">

[2020-04-17 15:21] rebron commented on #8235
@neuronetio If you have Chrome handy, are you seeing the same thing in Chrome?

[2020-04-17 15:28] rebron commented on #8250
@srirambv The new wallpapers seem to have addressed the text contrast issue?
Not sure if we have more to do here.

cc: @karenkliu in case you had other thoughts.

<img width="1274" alt="Screen Shot 2020-04-17 at 8 25 13 AM" src="https://user-images.githubusercontent.com/5951041/79585708-0b7d7b00-8085-11ea-95a4-24f1630ad6a5.png">

[2020-04-17 15:33] rebron commented on #8271
@mathetinfo Could you post a screenshot too?

[2020-04-17 15:34] #9293 closed

[2020-04-17 15:40] rebron commented on #8287
Looks like with cross-site trackers toggled off (or shields down) this is working properly. Not sure which of this is the culprit:
https://www.googleadservices.com/pagead/conversion.js
https://nativespot.com/apijs/v1.js
https://app.networkad.net/netasync.js?zid=314&hbid=1
https://app.networkad.net/netasync.js?zid=313&hbid=1
https://app.networkad.net/netasync.js?zid=317&hbid=1
https://app.networkad

[2020-04-17 15:42] rebron commented on #8291
@hugobuddel We're on 1.8.78 on Beta now. Are you still running into this issue?

[2020-04-17 15:48] rebron commented on #8306
@tomlowenthal Are you ok with these text changes?
cc: @cezaraugusto To put on your radar.

[2020-04-17 15:49] #9231 closed

[2020-04-17 15:49] rm210 opened #9296 "Fullscreen Bug in Fedora 31"
## Description

Okay so this is quiet a weird bug that I am facing in FEDORA 31 related to FULL SCREEN.
This bug only exists when I don't use the option USE SYSTEM TITLE BAR AND BORDER i.e this option is disabled then Brave Browser struggles to go Fullscreen as you can see in Screenshot 1.png and 2.png.
![1](https://user-images.githubusercontent.com/53932738/79586914-50270780-80c1-11ea-897f-b24182

[2020-04-17 15:57] rebron commented on #8314
cc: @jsecretan Closing as wontfix since this is a sync v1 issue.

[2020-04-17 15:57] #8314 closed

[2020-04-17 16:01] rebron commented on #8326
@fmarier Can you check on beta with 81.0.4044.92?

[2020-04-17 16:04] rebron commented on #8330
@q3e Is this still an issue with our latest version 1.7.92? Wondering if this was specifc to a website that caused this.

Also, if you could check brave://crashes, send the report and post ID here that would help us to diagnose.

[2020-04-17 16:07] rebron commented on #8332
@desmonk Could you test again with our latest version:

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | macOS Version 10.15.5 (Build 19F53f)

Note that we'll also be doing an update next week with a Chromium 81.

[2020-04-17 16:16] Alan-Gomes commented on #9294
Crash reporting was disabled, I enabled it and updated the browser to 1.7.92. I will see how it goes.

[2020-04-17 16:26] rebron commented on #8263
@jonathansampson
Can you try again with 1.7.92? Still an issue?

[2020-04-17 16:27] rebron commented on #8265
cc: @emerick

[2020-04-17 16:29] rebron commented on #8268
@SrdjanKalaba Are you still having issues with 1.7.92? And if you have Chrome installed, are you seeing the same behavior?

[2020-04-17 16:30] rebron commented on #8265
Looks like this only effecting certain publishers. Tested on Khan Academy and chess.com and it looks like it's working properly there.

[2020-04-17 16:34] rebron commented on #8276
@simonhong Tests still failing?

[2020-04-17 16:37] rebron commented on #8292
Closing. Unfortunately we're not supporting x86 for Linux and not planning to support in the near future.

[2020-04-17 16:37] #8292 closed

[2020-04-17 16:42] rebron commented on #8326
cc: @jumde @tomlowenthal We believe this should be working now in 1.7.92 and also in beta channel.

[2020-04-17 16:46] rebron commented on #8332
@desmonk Are you seeing the same behavior in Chrome?

[2020-04-17 16:47] #9114 closed

[2020-04-17 16:50] rebron commented on #8343
For context to add Brave into the panel: https://github.com/brave/brave-core/pull/4530#issuecomment-591821251

[2020-04-17 16:55] rebron commented on #8364
cc: @srirambv

[2020-04-17 17:05] emerick commented on #8265
That's weird, it grabbed the Tweet ID and used that instead of the name. We made several changes to the Twitter implementation recently in nightly. None were explicitly to address this, but it would make sense to retest first to make sure this is still happening. I tried tipping a few tweets to this user just now and wasn't able to repro FWIW.

[2020-04-17 17:09] cezaraugusto commented on #8900
cc @simonhong do you know how much effort would it be to have an anchor inside NTP's webUI, which opens up a  private/tor window? This issue is on my plans, but I don't know how to do that part.

[2020-04-17 17:11] karenkliu commented on #8250
@rebron This issue should have been fixed with https://github.com/brave/brave-browser/issues/8256

We still have this issue open to replace HTTPS Upgrades with Bandwidth Saved but there should not be any text legibility issues with that either https://github.com/brave/brave-browser/issues/8969#event-3189101971

[2020-04-17 17:22] rebron commented on #8483
Closing.

[2020-04-17 17:22] #8483 closed

[2020-04-17 17:24] rebron commented on #8375
Closing. Thanks for the report we would need some more detail on this actual feature request. I'd like to invite you to community.brave.com where you can discuss some of your ideas more before we turn it into a more actionable github issue.

[2020-04-17 17:24] #8375 closed

[2020-04-17 17:25] emerick commented on #6762
It appears that this no longer works:

[code]

It used to find tweets in the regular stream (`data-testid="tweet"`) and tweets in the detail view (`data-testid="tweetDetail"`). We would need to adjust the Twitter content script to account for the new HTML, possibly using the `article` role.

[2020-04-17 17:42] SephReed commented on #8846
@pihomeserver I will try again.  As a thought, it might be nice if (when functional) it caps at ~25%.  Not sure how feasible that is, but I really dislike hearing my fans go into overdrive for this.  If it wasn't for my fans being loud, I wouldn't care, but it makes this particular utility really obnoxious.

[2020-04-17 18:29] fmarier commented on #8221
We use the same list of DoH providers that Chromium uses: https://source.chromium.org/chromium/chromium/src/+/master:net/dns/public/doh_provider_list.cc?originalUrl=https:%2F%2Fcs.chromium.org%2Fchromium%2Fsrc%2Fnet%2Fdns%2Fpublic%2Fdoh_provider_list.cc

If you'd like NextDNS to get added to that list, here's the process to do that: https://docs.google.com/document/d/128i2YTV2C7T6Gr3I-81zlQ-_Lprns

[2020-04-17 18:53] jumde commented on #8326
@fmarier @rebron - Tried with `1.9.21 Chromium: 81.0.4044.92` and works without any issues.

[2020-04-17 18:58] GeetaSarvadnya opened #9299 "Follow up of #8781 - Pinned sites are being duplicated after upgrade"
## Description

Follow up of #8781 - Pinned sites are being duplicated after upgrade

## Steps to Reproduce

   1. Clen profile 1.7.x
   2. Open 6 different sites
   3. Pin 3 sites in NTP keep reaming 3 sites as it is
   4. Upgrade to 1.8.x
   5. On the existing NTP, 3 pinned tabs and remaining 3 unpinned tabs are shown correctly
   6. Open a NTP
   5. Out of 6 sites, 3 Pinned sites are duplicated

[2020-04-17 18:59] GeetaSarvadnya commented on #9299
Before upgrade in 1.7.92

![image](https://user-images.githubusercontent.com/38657976/79604352-8ee1af80-810b-11ea-824e-157f5d57c2e5.png)

After upgrade to 1.8.x
![image](https://user-images.githubusercontent.com/38657976/79604417-ae78d800-810b-11ea-82cf-2b27f3eb61f6.png)

[2020-04-17 19:02] GeetaSarvadnya commented on #8781
Verification passed on

Brave | 1.8.79 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Logged a follow-up issue https://github.com/brave/brave-browser/issues/9299

[2020-04-17 19:17] rebron commented on #8365
cc: @petemill One of those, once you see it, can't unsee it bugs.

[2020-04-17 19:24] rebron commented on #8397
@abhagsain Are you still running into this issue with the latest 1.7.92? I tried with our latest version on Win 10 and can't reproduce.

[2020-04-17 19:28] rebron commented on #8412
@alan12345678 Still having these same issues with our latest version 1.7.92?

[2020-04-17 19:34] rebron commented on #8472
@bigopon @3cp Can you go into brave://version and let us know where you're seeing this. With shields down, the example site provided seems to be working.

e.g.

Brave | 1.8.78 Chromium: 81.0.4044.92 (Official Build) beta (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | macOS Version 10.15.5 (Build 19F62f)

[2020-04-17 19:39] rebron commented on #8473
@pilsnerbeer @veyselerden Can you let me know if you two are still having issues with our latest version we released earlier this week:

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --

If there's any crash reports unsent, can you go ahead and send as well. It would be under brave://crashes and post the ids here please.

We addressed several performance issues since 1.4.x.

[2020-04-17 19:43] rebron commented on #8474
duplicate of #4891

[2020-04-17 19:43] #8474 closed

[2020-04-17 19:58] bbondy opened #9302 "Brave suggested sites for crypto wallets"
Similar to top site suggestions, we'd like to add Crypto Widgets and Binance related suggestions based on what a user types in the URL bar.  This is mostly an experiment to see if it's useful. It could be expanded in the future to involve BAT or even be used if the user has Brave ads turned on.

[2020-04-17 19:58] rebron commented on #8481
Was able to reproduce on macOS and Win10. Happens with selection only.

Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
-- | --
Revision | e7fbe071abe9328cdce4ffedac9822435fbd3656-refs/branch-heads/3987@{#1037}
OS | macOS Version 10.15.5 (Build 19F62f)

[2020-04-17 19:59] alan12345678 commented on #8412
I've recently switched to a different Window Manager and DE, so once I find out where the session logs are stored (if at all!) I'll happily let you know.

That said, under QT everything seems to look, work and feel much better. I'll add more once/if I can find any information. Thanks for asking :)

[2020-04-17 20:04] rebron commented on #8482
cc: @srirambv Seen this one?

@g-thome Can you tell us more about the distribution that you're using?

[2020-04-17 20:06] rebron commented on #8492
@karenkliu Can we get an icon for this one? This one has been bothering me too.

[2020-04-17 20:19] rebron commented on #8513
Reproduce on:

Google Chrome | 81.0.4044.113 (Official Build) (64-bit)
-- | --
Revision | e3225dafb0475864a1812a374d73a92e391635ac-refs/branch-heads/4044@{#936}
OS | macOS Version 10.15.5 (Build 19F62f)

Can wait for an upstream fix for this one.

[2020-04-17 20:24] rebron commented on #8545
@krynv We won't be able to put any effort into this but happy to pick up when fixed in chromium in general  -> https://bugs.chromium.org/p/chromium/issues/list File this issue there or check if there's a dupe already.

[2020-04-17 20:24] #8545 closed

[2020-04-17 20:31] rebron commented on #8558
I suspect this would need to be a pref if done at all, since the expectation by default would be `new window` = `new window`, not `new window + pinned tabbeds from previous window'.

It gets compllcated when you have two windows with different pinned tabs. What's the expectation for the third window? How would we order what the pinned tabs are from the previous two windows, in that third window?

[2020-04-17 20:32] bsclifton commented on #8481
@rebron did you try with shields down? Curious if something is being blocked? Unclear what causes the problem

If you do a regular print, does it work?

[2020-04-17 20:34] bsclifton commented on #9299
cc: @cezaraugusto - may be related to the fix you did for top site migration ☹️

[2020-04-17 20:35] bsclifton commented on #8326
Also works great for me (and has for a while). I use USB Yubikey to login to GitHub 😄

[2020-04-17 20:43] fmarier commented on #8326
Works for me too. :+1:

[2020-04-17 20:43] fmarier commented on #8326
Just to be clear, this issue was about adding new YubiKeys to a GitHub account. Logging in with an existing key was never broken.

[2020-04-17 20:44] bbondy opened #9303 "Profile usage in brave/components of binance widget"
I didn't notice where this snuck in before, but there's profile usage inside brave/components when it should be browser_context instead:

https://github.com/brave/brave-core/blob/master/components/binance/browser/binance_service.cc#L25

This can cause intermittent build problems.

I'll take the minor refactor.
cc @ryanml

[2020-04-17 20:58] karenkliu commented on #8492
@rebron This issue is a dupe of https://github.com/brave/brave-browser/issues/7312

[2020-04-17 21:44] 3cp commented on #8472
It worked for me with Shied off.

[2020-04-17 21:56] rebron commented on #8492
<img width="136" alt="Screen Shot 2020-04-17 at 2 47 03 PM" src="https://user-images.githubusercontent.com/5951041/79616612-536ac500-80ba-11ea-9964-18fc06136538.png">

Need icon for above similar to:

<img width="43" alt="Screen Shot 2020-04-17 at 2 47 45 PM" src="https://user-images.githubusercontent.com/5951041/79616681-7a28fb80-80ba-11ea-955a-28c53a58e405.png">

[2020-04-17 22:22] karenkliu commented on #8492
@rebron Oops, sorry you're right, that's a different issue.

Actually the one you need in the tab title is probably this icon:

![Screen Shot 2020-04-17 at 3 12 19 PM](https://user-images.githubusercontent.com/2388823/79618041-d5a8b880-80bd-11ea-991c-a00b4ac2b144.png)

Here you go!
[bookmark icon.zip](https://github.com/brave/brave-browser/files/4495509/bookmark.icon.zip)

[2020-04-17 22:54] kaginet opened #9305 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-04-17 22:54] #9305 closed

[2020-04-18 01:11] matthewbal opened #9306 "[Desktop] Brave has no option to prevent "Set default browser" notification appearing repeatedly"
## Description
On Linux, each time Brave is launched, it asks to be the default browser. If I click the x, it goes away and asks on the next Brave startup. If I select "Make default browser", it goes away and then also appears on the next startup.

## Steps to Reproduce

   1. Install Brave on KDE Plasma (Ubuntu 18.04.4 LTS)
   2. Launch Brave
   3. Dismiss Notification
   4. Exit Brave
   5. Laun

[2020-04-18 03:40] ggfer opened #9307 "[DEV] Is it possible to develop a feature for bookmarks on pages"
## Description

Maybe a couple of people want a feature that they enable to take note at the side-pages when they are looking through web-pages. I just define this feature as bookmarks on pages.
**This feature has been released on vivid for a long time, and Microsoft released this feature recently to align with trends.**

## Steps to Reproduce

   1. Vivid Browsers
![image](https://user-images.git

[2020-04-18 04:16] rebron commented on #9191
Hi @SephReed.

If you go to brave://rewards/ and select 7-days ad history
<img width="614" alt="Screen Shot 2020-04-17 at 9 14 47 PM" src="https://user-images.githubusercontent.com/5951041/79627828-8c259100-80f0-11ea-9ff0-a2777257ea40.png">

Should be able to thumbs down the Walmart ad and it shouldn't show up again.
<img width="876" alt="Screen Shot 2020-04-17 at 9 14 29 PM" src="https://user-ima

[2020-04-18 05:33] bsclifton opened #9308 "Running `npm run init` removes and incorrectly sets git remotes"
## Description
https://github.com/brave/brave-browser/pull/9017 unintentionally introduced a problem where doing a fresh clone and running `npm run init` will destroy the remote ref to `brave-browser` and replace it with the remote for the Chromium dir we use

## Steps to Reproduce

   1. `git clone git@github.com:brave/brave-browser.git && cd brave-browser`
   2. `git remote -vv` and take note of

[2020-04-18 06:17] bigopon commented on #8472
It now works for me, probably you updated it in some recent versions?
Brave:
| Brave | 1.8.77 Chromium: 81.0.4044.92 (Official Build) dev (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Windows 10 OS Version 1903 (Build 18362.778)

I have shield on with the following:
![image](https://user-images.githubusercontent.com/9994529/79629866-24bf1e0

[2020-04-18 07:56] artella-coding opened #9310 "[Android] Where are bookmarks stored on android device"
Where and in which file on an android device are the bookmarks stored in?

[2020-04-18 08:11] corecontingency opened #9311 "Brave is using an old, insecure version of chromium"
On Arch Linux, installed latest version of Brave (version 1.7.92) from [AUR](https://aur.archlinux.org/packages/brave-bin/).

Here is what `brave://settings/help` reports:

![brave_version](https://user-images.githubusercontent.com/54042889/79631880-bc7d2780-8110-11ea-9f51-561e031f0e87.png)

As you can see, Brave reports it is using chromium version 80.0.3987.163, which was released April 2, and h

[2020-04-18 08:25] hugobuddel commented on #8291
I still had the problem last week or so, not sure what version of Brave I was running then.

I run Brave from the command line now, and take note when the problem happens, but haven't found a clear pattern yet.

One of the difficulties is that it usually happens when I'm not at the machine. I return to it, and Brave refuses to load anything. It is always on, so 90% of the time I'm not using it.

B

[2020-04-18 09:24] Raul1198 opened #9312 "[Android] Implement external download manger support (similar to Kiwi browser)"
Hey there Brave Team
Here the link to Kiwi Browser GitHub - https://github.com/kiwibrowser/src
 As of today Kiwi Browser (thanks Arnaud42) had uploaded all of its source code so could you implement chrome extension and external download manager support that would be awesome

[2020-04-18 10:24] thepcwiz101 commented on #4493
#9312

[2020-04-18 11:13] ElderOrb commented on #4094
Please do it for desktop only, I personally will be happy and switch to brave immediately.

[2020-04-18 13:54] dralibak commented on #8219
i have been getting and still am getting oops something is wrong please try again later message during proving human claim reward session.  this has been going on 3 weeks now!! everyday I try, i keep updating brave, or even completely reinstalled just now.  still getting the same error!!

HELP FIX.  i can't take the BAT !!
![brave nightly reward](https://user-images.githubusercontent.com/37819428/

[2020-04-18 17:32] BachoSeven opened #9313 "Feature Request: Fix StartupWMClass for .desktop file on Linux"
## Description

On the latest nightly build, when using the provided brave-browser-nightly.desktop file, the StartupWMClass string (from `xprop`) is `' "WM_CLASS(STRING) = "brave-browser", "Brave-browser" '`; however, when adding the .desktop file to a dock or similar interfaces and starting Brave from there, a different icon is created and shown as the launched app on the launcher.

I found an ea

[2020-04-18 17:43] joesixpack commented on #6501
Sorry for the delay.  Here's a short edited video.  Maximized, Click URL Link, Windowed.

[Brave.zip](https://github.com/brave/brave-browser/files/4497183/Brave.zip)

[2020-04-18 18:49] szaimen commented on #9312
I would also love to see the one handed mode, ture dark mode theme and true dark mode for web content getting implemented into brave :)

[2020-04-18 18:52] dportuesi opened #9314 "[Android] Feature Request: Add bookmarks bar to android"
## Description
Add a small bookmarks bar to the bottom of the browser window in android. Can be enabled/disabled via settings, similar to Brave desktop implementation.

Below is a mockup of what it should generally look like:
![brave_bookmarks_bar_mobile](https://user-images.githubusercontent.com/2602097/79666826-d3a92d00-8183-11ea-9bfc-1e9fb4a78c73.jpg)

### Additional information
The bookmarks b

[2020-04-18 19:28] ToddAndMargo opened #9315 "GPG check FAILED on RPM installation with Fedora 32"
Dear Brave Developers,

Would you please fix the following for  me?

Fedora 32 RC
5.6.2-301.fc32.x86

https://brave-browser.readthedocs.io/en/latest/installing-brave.html#fedora-28-centos-rhel-8

[code]

[2020-04-18 19:34] genodeftest opened #9316 "[Android] F-Droid "firefox" repo: Unclear version numbering"
Related, but not the same: #6217, #7027

## F-Droid firefox repo does not know which version to choose

The [F-Droid "firefox" repo](https://gitlab.com/rfc2822/fdroid-firefox/) has been shipping Brave for a while, until the `brave/browser-android-tabs` repo shut down. Now we don't know which `.apk` to include into the repository.

Open questions:
1. Which version do we choose? Do you have stable r

[2020-04-18 19:39] genodeftest commented on #7027
Isn't this a duplicate of #6217?

If you want to have Brave in an unofficial F-Droid repo, please have a look at #9316.

[2020-04-18 21:10] 3cp commented on #8472
@bigopon I guess this can be closed.

[2020-04-18 21:46] ryanml opened #9317 "noopener should be in use for opening Binance auth and referral URLs"
Per sec review comments here: https://github.com/brave/brave-core/pull/5160#pullrequestreview-395813568 we should be using `noopener` for the Binance referral and authorization URLs. Also, some validation should be performed before setting the clientUrl.

For QA, there should be no change in functionality, rather a regression test should be performed for the auth process and the buy links.

[2020-04-18 22:20] bigopon commented on #8472
@rebron thanks for checking. I guess this can be closed. Is there anything to be aware of in case of a future bug related to this?

[2020-04-18 22:20] #8472 closed

[2020-04-18 22:23] eljuno commented on #9311
Uplifted here #9286

[2020-04-18 23:35] divrse commented on #9005
Thanks for the new images in latest update :)

[2020-04-19 00:07] benwiggins commented on #8716
It is extraordinarily shitty that Brave explicitly says "404" in the infobar when triggered by some 14 response codes that are *not* 404.

[2020-04-19 03:27] C-Radius commented on #8544
Same thing happening to me.

[2020-04-19 03:49] #8892 closed

[2020-04-19 03:56] rebron commented on #9005
@divrse  I like these new ones too.

[2020-04-19 04:08] Pavbc commented on #7487
3 years, is there still hope? Just a option to link the "clear data" button to the *already existing* exit button on android

[2020-04-19 04:19] tsujp commented on #6212
+1 not supporting wayland means I am going back to Chrome.

[2020-04-19 04:32] Xyncgas opened #9318 "Feature request : snapshot for websites"
It's already possible, while revolutionary for something never achieved.
We can provide snapshot function to users, the ability to take a current state of the website, and be restoring it in 50 yrs later, perhaps the server is already gone, but you can still play with that website.

Currently "save website" does a really bad job, because the local environment and the web environment is different,

[2020-04-19 08:42] ekerazha commented on #6366
Brave's default language should be system's language, like for every other major browser. AdBlock's block lists should also be automatically configured with country-specific lists. Having to manually configure the language is a showstopper for Brave's usage.

[2020-04-19 10:59] Xyncgas commented on #9264
yay let's detect if it's a mac and start showing ads @ full screen, allowing both the windows and mac user to turn it off, fun.

[2020-04-19 11:38] eljuno commented on #7826
+1 from Community https://community.brave.com/t/creator-verified-not-working-on-mobile-browser/119851?u=eljuno

[2020-04-19 12:24] ilan274 opened #9319 "GitHub icon not showing in Top Sites"
**Description:**
My Top Sites is not showing the GitHub icon.
I have tried cleaning the total cached images and files, reinstalling (purge/install) Brave, but nothing helped.

**Actual result:**
https://i.imgur.com/jlj7v72.jpg

**Expected result:**
Expect to see the GitHub icon.

**Brave version:**
Brave | 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
OS: Linux (Xubuntu)

[2020-04-19 13:01] k-kruglov commented on #9314
It might be a good idea to incorporate it into a new tab page maybe? Like what safari does. Folders also could work with such an option. (It's a desktop safari screenshot but mobile safari also supports new tab bookmarks).

![Screenshot 2020-04-19 at 16 00 37](https://user-images.githubusercontent.com/1358036/79688423-eccede00-8256-11ea-8a56-3eacac3c20b6.png)

[2020-04-19 14:53] yavorski commented on #6212
@tsujp I don't think chrome or chromium supports wayland.
The issue in the chromium repo is still open https://bugs.chromium.org/p/chromium/issues/detail?id=578890
Anyway you can go back and forward to whatever you want :)

[2020-04-19 15:14] afirmware opened #9320 "Importing Cookies/Passwords from Brave installed on another Windows computer"
## Description

I have brave installed installed on another Windows computer, but recently it can't boot. I tried everything but can't fix it, so I'm trying to copy and restore the brave profiles from that hard disk to the current one. I followed this guide (https://www.reddit.com/r/vivaldibrowser/comments/65qrlb/importing_cookiespasswords_from_vivaldichrome/) to migrating my DPAPI keys, and then

[2020-04-19 15:27] Alan-Gomes commented on #9294
Updating the browser did not solve the problem, the crash occurred again

[2020-04-19 15:35] tsujp commented on #6212
@yavorski I stand corrected, you are right the Chromium build from `community` is indeed using XWayland. My mistake there.

Might play around with that and Brave then :)

[2020-04-19 15:39] SmitTheTux commented on #6212
@tsujp if u are using arch or manjaro, try chromium-ozone from AUR or prebuilt binary from chaotic-aur repo. Its quite usable

[2020-04-19 18:13] abampalexnder commented on #9085
I have got solution for google after 3 weeks brain storming and spent all day and night time to resolve the issue any one need solution can contact on
Email: abmpanalexander@protonmail.com
on wire @abampalxender

[2020-04-19 19:20] snowbound commented on #9085
FYI got a private response from what I deemed was a spammer. Sigh

[2020-04-19 21:08] MikeBishop commented on #5009
Interestingly, Twitter now seems to work properly, but doing the same thing with messages.google.com launches... _Chrome_.  It can be launched via brave://apps, but something is remembering that the site used to be installed with Chrome.  (It no longer is.)

[2020-04-19 22:19] afonsolopez commented on #8909
Hi @kjozwiak unfortunately, I'm not with my MacBook anymore I'm sorry. 😔

[2020-04-19 22:59] rebelcode-xr opened #9321 "[Desktop] Web Torrents: refreshing the page deletes all completed and/or partial files"
## Description
The UI/UX of Web Torrent makes very very easy to **lose everything** with just a page refresh.

## Steps to Reproduce
   1. Download a torrent file (I used a magnet link)
   2. After several hours you finally get your files downloaded
   3. Refresh the page (can be also a system/browser crash)
   4. Everything is lost and you've to download it again...
   5. Feel the frustration

##

[2020-04-19 23:06] toddbluhm commented on #5436
Hello, any chance we could get a "don't show again" on this Flash notification? It is getting really annoying seeing it so frequently. Maybe there is a turn off all notifications option instead?

[2020-04-19 23:21] #8454 closed

[2020-04-19 23:21] #8747 closed

[2020-04-19 23:29] gusmacaulay commented on #5902
How would I do this on linux?

[2020-04-19 23:43] rebelcode-xr commented on #9321
I just found many other people saying basically the same things:
https://github.com/brave/brave-browser/issues/1199
https://community.brave.com/t/torrents-are-saved-in-a-hidden-folder/38021
https://www.reddit.com/r/SolusProject/comments/au5hu0/where_does_brave_browser_store_temp_files_in_solus/
and others around the web...

The Brave Web Torrent component is just NOT usable, so please fix it asap

[2020-04-20 00:28] simonhong commented on #8900
@cezaraugusto Do you mean adding `open private/tor window` entry into context menu on NTP page? If so, we already have code that for it.
`BraveRenderViewContextMenu::InitMenu` adds our own entry to context menu.
After checking current active tab page, then we can add that entry if current active tab is NTP.

[2020-04-20 01:07] tsujp commented on #6212
@SmitTheTux solid recommendation `chromium-ozone` is running even better so smooth.

[2020-04-20 01:07] btlechowski commented on #9223
LGTM

Verification passed on

Brave | 1.7.95 Chromium: 81.0.4044.92 (Official Build) (64-bit)
-- | --
Revision | e98e6f21168a55e7ba57202f56323911cd9d31d1-refs/branch-heads/4044@{#883}
OS | Ubuntu 18.04 LTS

[2020-04-20 01:07] #9223 closed

[2020-04-20 01:54] ryanbr opened #9322 "Blockadblock issues on https://watchfriendsonline.net/"
## Description
Blockadblock issues on `https://watchfriendsonline.net/` even if you disable site-trackers.

## Steps to Reproduce

   1. Visit `https://watchfriendsonline.net/watch-free/friends-6x2/`
   2. Regardless of shield settings, BlockAdblock will show up.
   3.

## Actual result:
![blockadblock](https://user-images.githubusercontent.com/1659004/79706528-abe5d080-830d-11ea-834d-6b88f5e932c8

[2020-04-20 02:04] #9317 closed

[2020-04-20 02:41] veyselerden commented on #8473
Unfortunately, micro-freezes still occur when hardware acceleration is enabled.

To be spesific about the system I use:
OS: Pop!_OS 19.10 (occurs on any Linux-based OS)
GPU: Nvidia GTX 1060
CPU: Intel i7-7700HQ
GPU DRIVER: 440.62 (also occurs on 440.82)

[2020-04-20 03:03] Pavbc commented on #7564
I would actually prefer [#7487](https://github.com/brave/brave-browser/issues/7487) solved over the always incognito. I mean, delete history and data when the user press the exit button rather than every time the app relaunches. The option to press "exit" wold give the option to easily clear data and still have some form of continuity between browsing sessions. When it's done, press exit, clear da

[2020-04-20 03:16] Pavbc commented on #9314
Until last update (chrome 81 build ended with .97) Bromite had a option in settings>homepage to use the homepage as NTP. I would set the homepage to "chrome-native://bookmarks/folder/3".
Than, my homepage and NTP both showed my mobile bookmarks for ease of access.
This option was removed in the most recent update (81. ... .106) because some users reported issues on the "about:blank" page or someth

[2020-04-20 04:01] kjozwiak commented on #9266
Moving this out of the milestone. We'll get this fixed in `1.8.x` as we need to release C81 ASAP.

[2020-04-20 04:12] roshan8 opened #9323 "Sites showing notification even when we are not subscribed to it (site: printful)"
## Description
I'm getting a notification on my desktop browser for https://www.printful.com/ even though I haven't subscribed to it. Hence I went to site setting and particularly blocked notification, still getting notification :(

## Steps to Reproduce
Not sure how to Reproduce this, It's happening repeatedly for me

## Expected result:
The site shouldn't display any notification when it's not o

[2020-04-20 04:21] landshrk commented on #9306
Same issue on Arch 5.4.32-1-lts. Same issue previously on Manjaro whateverversionitwas.

`[nova@novarch ~]$ pacman -Qi brave-bin
Name            : brave-bin
Version         : 1:1.7.92-1
Description     : Web browser that blocks ads and trackers by default (binary release).
Architecture    : x86_64
URL             : https://brave.com/download
Licenses        : MPL2  BSD  custom:chromium
Groups

[2020-04-20 04:25] #9221 closed

[2020-04-20 04:34] kjozwiak opened #9324 "Manual test run on OS X for 1.7.x - Release Hotfix 1"
## Per release specialty tests

* [x] Classify web pages under cache-control for Brave Ads #9021
* [x] do not provide monthly statements for data prior to 1.3.x #8987
* [x] crash with Google autocomplete and Private Window #9119
* [x] Upgrade from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 #9251
* [x] Duplicate/bad confirmations retry logic #9242

### Installer

- [x]  Check signature: If OS

[2020-04-20 04:34] kjozwiak opened #9325 "Manual test run on Windows x64 for 1.7.x - Release Hotfix 1"
## Per release specialty tests

* [x] Classify web pages under cache-control for Brave Ads #9021
* [x] do not provide monthly statements for data prior to 1.3.x #8987
* [x] crash with Google autocomplete and Private Window #9119
* [x] Upgrade from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 #9251
* [x] Duplicate/bad confirmations retry logic #9242

### Installer

- [x]  Check signature: If OS

[2020-04-20 04:34] kjozwiak opened #9326 "Manual test run on Linux for 1.7.x - Release Hotfix 1"
## Per release specialty tests

* [x] Classify web pages under cache-control for Brave Ads #9021
* [x] do not provide monthly statements for data prior to 1.3.x #8987
* [x] crash with Google autocomplete and Private Window #9119
* [x] Upgrade from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 #9251
* [x] Duplicate/bad confirmations retry logic #9242

### Installer

- [ ]  Check signature: If OS

[2020-04-20 04:39] kjozwiak opened #9327 "Release Notes for 1.7.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [ ] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L9
  - [ ] macOS
  - [ ] Windows
  - [ ] Linux
- [ ] Consult with the security tea

[2020-04-20 04:46] GeetaSarvadnya commented on #9222
Looks good hence closing the issue.

[2020-04-20 04:46] #9222 closed

[2020-04-20 05:13] kjozwiak opened #9328 "Release checklist for 1.7.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L9
  - [x] macOS
  - [x] Windows
  - [x] Linux
- [x] Consult with the security tea

[2020-04-20 05:22] #8853 closed

[2020-04-20 05:27] simonhong opened #9329 "Don't show branded wallpaper notification in NTP for Super Referral"
## Description
Notification for guiding about how to hide SI is only valid for Sponsored Images.
See https://bravesoftware.slack.com/archives/CT7JC4KBM/p1587357584128900

## Test plan
1. Do an install that uses Super Referral (put `promoCode` file in directory for `TECHNIK`; see https://github.com/brave/brave-core/pull/4866 for more steps)
2. Launch into brave
3. Enable rewards
4. Pull up new tab

[2020-04-20 05:28] huehnerlady commented on #8481
@bsclifton first thing I tried was turning off the shield but no change.

You can already see the printing preview has no image already, so I would assume this is not to do with the PDF saving?

[2020-04-20 05:43] rebron commented on #8481
Yup. Regular print of a page works it's just the [ ] selection only part for some pages. Shields on/off doesn't matter.

It's looking like [ ] selection only print does generally work on most websites so for this Amazon page it's not working and I don't think we need a fix for selection only print for the new tab page.

I'll see if repros in chrome.

[2020-04-20 05:46] huehnerlady commented on #8481
@rebron you are completely right. I just thought it is easier reproducable with the new tab page than the refund page of amazon - and as it behaved the same I was hoping to give additional help in reproducing the problem as easy as possible 🙂

[2020-04-20 05:50] bsclifton commented on #9311
Thanks for sharing the link @eljuno - the build is in progress now and we'll be working to release as soon as we can 😄

Apologies for being a bit behind on this one. We had a lot of work packed into the 1.7 release and also migrated Android over to using the same code-base, which took up a lot of resources. We should have an update in the next day or two 😄

[2020-04-20 05:50] #9311 closed

[2020-04-20 06:21] bsclifton commented on #2999
@Sa-Ja-Di vertical / tree-style tabs captured with https://github.com/brave/brave-browser/issues/464 in case you wanted to give it a +1

@simonhong might be able to check this out soon 😄

[2020-04-20 06:45] NejcZdovc opened #9330 "Use value_or instead of null check for base::Optional"
When we are parsing JSON we can simplify things.

Current code:
[code]

New code:
[code]

We can do this for all types

[2020-04-20 08:35] NejcZdovc opened #9331 "[Android] Missing pending list view"
If you tip publisher that is not verified, tip will go into pending table. If you then go to settings page and click on balance to open summary, there is no view pending tips.

[2020-04-20 08:48] SAGV commented on #4858
Ok, I take my words back. It is indeed not fixed for me as well…

[2020-04-20 09:13] srirambv commented on #9251
Verification passed on
![image](https://user-images.githubusercontent.com/17010094/79735047-501f4580-8315-11ea-98a6-e82c2a55083c.png)

[2020-04-20 09:21] ryanbr commented on #9290
Basically eliminated any filters from ABP-Japanese causing unnecessary breaks on youtube.

Previously it would show *no* video playback, now it'll show playback on a refresh.

`@@||youtube.com^*/watch_autoplayrenderer.js$script,domain=youtube.com`
`@@||youtube.com/yts/jsbin/*-pagead-$script,domain=youtube.com`
https://github.com/brave/adblock-lists/pull/369
`|http:*-ad-$badfilter`
`|https:*-ad-$ba

[2020-04-20 09:33] srirambv commented on #9119
Verification passed on

Brave | 1.7.98 Chromium: 81.0.4044.113 (Official Build) (64-bit)
-- | --
Revision | e3225dafb0475864a1812a374d73a92e391635ac-refs/branch-heads/4044@{#936}
OS | Linux

- Verified no crash when typing in URL on a private tab
- Verified no crash when typing in URL on a private Tor tab
- Verified no crash when typing in URL on a guest tab

[2020-04-20 10:19] NejcZdovc opened #9332 "Brave Ads build layering violation"
With https://github.com/brave/brave-core/pull/5067 we introduced new layering problem. `#include "brave/common/brave_channel_info.h"` should not be used in component folder

[2020-04-20 10:31] GeetaSarvadnya commented on #9021
Verification passed on

Brave | 1.7.98 Chromium: 81.0.4044.113 (Official Build) (64-bit)
-- | --
Revision | e3225dafb0475864a1812a374d73a92e391635ac-refs/branch-heads/4044@{#936}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Reproduced the issue in 1.7.95, pages were not classified for `https://www.microsoft.com/en-ca/`  using `no-store` directive for `cache-control`
[code]
- Ensured that

[2020-04-20 10:55] roshan8 commented on #9323
I'm closing this issue, brave rewards were enabled. popups could have been the results from that. I will reopen this issue, If I still face any problems
Thank you!

[2020-04-20 10:55] #9323 closed

[2020-04-20 11:48] Jaydon2908 commented on #3978
I am trying to sync my android phone to my windows 10 browser but entire folders are missing and the support isn't helping me, I was told to come here to get help, is that true?

[2020-04-20 12:36] GeetaSarvadnya commented on #9242
Verification is in progress

Brave | 1.7.98 Chromium: 81.0.4044.113 (Official Build) (64-bit)
-- | --
Revision | e3225dafb0475864a1812a374d73a92e391635ac-refs/branch-heads/4044@{#936}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/5260#issue-403983512

Test Case 1 (Create confirmation fails with 400 BAD REQUEST):
[code]

[2020-04-20 13:16] alan12345678 commented on #8412
so, starting it under terminal I get this:

`[3511:3511:0420/151435.737667:ERROR:vaapi_wrapper.cc(481)] vaInitialize failed: unknown libva error
[3487:3526:0420/151436.098578:ERROR:rewards_service_impl.cc(194)] Failed to read file: /home/alan/.config/BraveSoftware/Brave-Browser/Default/ledger_state
[3519:3519:0420/151436.100188:ERROR:ledger_impl.cc(113)] Failed to initialize wallet
[3837:1:0420/15

[2020-04-20 13:26] tmancey opened #9333 "Fix "using namespace" statements at top level in bat-native-confirmations header files"
Fix "using namespace" statements at top level in `bat-native-confirmations` header files

[2020-04-20 13:30] #9302 closed

[2020-04-20 14:17] LaurenWags commented on #8987
Verified passed with

Brave | 1.7.98 Chromium: 81.0.4044.113 (Official Build) (64-bit)
-- | --
Revision | e3225dafb0475864a1812a374d73a92e391635ac-refs/branch-heads/4044@{#936}
OS | macOS Version 10.14.6 (Build 18G3020)

* Confirmed with 1.7.92 I could see data prior to Feb 2020:
<img width="954" alt="Screen Shot 2020-04-20 at 10 00 43 AM" src="https://user-images.githubusercontent.com/28145373/79

[2020-04-20 15:43] #7796 closed

[2020-04-20 15:57] uazo commented on #1127
it's just an idea, it would be possible to clean the data at startup, adding in ChromeActivity.finishNativeInitialization() something like

[code]

in this way, we are sure that cookies and localStorage are deleted

[2020-04-20 16:05] #9261 closed

[2020-04-20 16:07] #9154 closed

[2020-04-20 16:35] Brave-Matt commented on #3650
Additional user reports on Community:
https://community.brave.com/t/unable-to-sign-in-to-google-keep-extension/48661/11?u=mattches

@rebron is this something we intend or are able to resolve?

[2020-04-20 16:46] #9249 closed

[2020-04-20 16:48] btlechowski commented on #8644
@tmancey What about this issue? It is still open.

[2020-04-20 16:52] ryanml opened #9335 "Rename binance-utils-test.ts -> binance-utils_test.ts"
`*_test.ts` is the filename scheme Jest accepts. The test suite in question passes and needs no further modification, it just isn't getting run.

[2020-04-20 16:56] yachtcaptain23 commented on #6917
In `database_server_publisher_info.cc`, we can optimize the kind of inserts we're doing, which from past experience will make a huge difference

[code]

Unless I'm mistaken, these are multiple inserts in one transaction rather than 1 insert
https://stackoverflow.com/questions/12365992/sql-insert-multiple-rows/12366023

[2020-04-20 16:58] ShockRocky opened #9336 "[Android]Feature suggestion:- Import the disable 'AMP feature' from kiwi browser."
## Description

The kiwi mobile browser which is now open source has unique features when compared to other mobile browsers, such as native night mode, extensions support, etc. But, the best unique privacy feature imo that kiwi has is the disable 'AMP feature'.

From the website:-

"DISABLE AMP
Tired of getting those poorly laid out, annoying and hard to share AMP pages every time you click on a s

[2020-04-20 17:00] #9335 closed

[2020-04-20 17:14] #9257 closed

[2020-04-20 17:16] snowbound commented on #1127
This [problem](https://github.com/brave/brave-browser/issues/9085#issuecomment-616199016) may be related to this as well. Sorry to say I have removed Brave release and beta versions off my main computer and switched to another Chromium based browser. For the time being, I have Brave installed on a secondary machine here.
I had so high hopes for Brave browser. Other than initial responses to my 2 m

[2020-04-20 18:20] NumDeP commented on #8076
Just came across the same issue @rebron, hope it helps.

`Version 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit) (openSuse)
`

![Screenshot_20200420_190101](https://user-images.githubusercontent.com/31957540/79785424-c3d44900-833b-11ea-83cc-c0364a7da74b.png)
![Screenshot_20200420_190129](https://user-images.githubusercontent.com/31957540/79785440-c8006680-833b-11ea-81eb-32b2c1d36693.png)

[2020-04-20 18:52] eljuno opened #9337 "Can't load Twitter with 3rd party cookies blocked"
## Description
Reported here https://community.brave.com/t/twitter-mobile-site-not-accessible/119865?u=eljuno

User unable to load Twitter.com if 3rd party cookies is blocked. Twitter showing "Something went wrong, Try again!” error message.

Loaded properly if 3rd party cookies blocker is disabled.

## Steps to reproduce

   1. Visit Twitter with default shield -- 3rd party cookies blocked
   2.

[2020-04-20 19:02] NumDeP opened #9338 "Accepting cookie notifications of the same site is time consuming and annoying"
Have you searched for similar issues? Yes.

## Description
It's becoming really frustrating having to constantly select 'Accept' for cookie notifications, especially when you're doing it over and over again of the same site.

I suppose it's not much of an issue for users that don't clear data on exit often or do it manually if they don't trust the other.

## Steps to Reproduce

   1. Either manual

[2020-04-20 19:24] #9283 closed

[2020-04-20 19:24] #9284 closed

[2020-04-20 19:33] rebron commented on #8083
@btlechowski Can you take a look at this again for 1.8.x later this week? `Toggle distilled page contents` is now `Toggle reader mode` in Windows and just `Reader mode` on macOS starting with chromium 81.

[2020-04-20 20:10] pes10k commented on #1122
I believe this should be closed as of https://github.com/brave/referrer-whitelist/pull/26.

There may be additional issues here (could be additional cookie related issues) but getting the referrer part straightened out is at least a necessary, if not sufficient, step

[2020-04-20 20:15] #9329 closed

[2020-04-20 20:45] btlechowski commented on #9326
LGTM

Verification passed on

Brave | 1.7.98 Chromium: 81.0.4044.113 (Official Build) (64-bit)
-- | --
Revision | e3225dafb0475864a1812a374d73a92e391635ac-refs/branch-heads/4044@{#936}
OS | Ubuntu 18.04 LTS

[2020-04-20 20:45] #9326 closed

[2020-04-20 21:12] freechelmi commented on #1024
I don't see it in system76 PPA , how do you distribute chromium ?

[2020-04-20 21:17] kjozwiak opened #9339 ""BraveRewardsBrowserTest.NotVerifiedWallet" occasionally timeout/fails"
## Description

Started noticing that `BraveRewardsBrowserTest.NotVerifiedWallet` has been failing from time to time when reviewing uplift PRs.

[code]

Usually a restart resolves the above.

## Steps to Reproduce

There's no STR as this usually intermittently happens when PRs are running through `CI`. However, there's been a few reports from several folks of the above failure.

## Actual result:

[2020-04-20 21:20] kjozwiak commented on #5397
Just a heads up, created https://github.com/brave/brave-browser/issues/9339. Looks like `BraveRewardsBrowserTest.NotVerifiedWallet` has been failing intermittently here and there. I'm not sure if this work will fix that issue but figured I would mention it here.

[2020-04-20 21:28] rebron commented on #9085
@snowbound Dupe of https://github.com/brave/brave-browser/issues/8842#issuecomment-604492495

cc: @jumde

[2020-04-20 21:28] mmstick commented on #1024
It's in the Pop!_OS PPA

[2020-04-20 21:36] #9308 closed

[2020-04-20 22:03] jonathansampson commented on #8263
@rebron I still see redundancies:

[code]

[2020-04-20 22:19] diracdeltas opened #9341 "[hackerone] fix tor window size fingerprinting"
we should implement letterboxing (https://blog.torproject.org/new-release-tor-browser-90) or similar to prevent fingerprinting using window sizes in Tor mode

[2020-04-20 23:40] kjozwiak opened #9342 "disabling wayback machine for ".onion" addresses"
## Description

As per several community requests, we should look into disabling the `Wayback Machine` for `.onion` domains whenever they hit any of the following error codes:

[code]

The Internet Archive doesn't archive/index `.onion` sites.

Community request:

* https://www.reddit.com/r/brave_browser/comments/g3y1iw/wayback_machine_in_private_mode_with_tor/

## Steps to Reproduce

We'll need t

[2020-04-20 23:51] kjozwiak commented on #8497
https://www.reddit.com/r/brave_browser/comments/g3y1iw/wayback_machine_in_private_mode_with_tor/fnvorf9?utm_source=share&utm_medium=web2x

Another example of users having a hard time finding the setting that disables this feature.

[2020-04-20 23:51] robin-thomas commented on #8926
@NejcZdovc @kjozwiak This issue has been resolved in the latest version: `Version 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)`.

Hence, closing this.

[2020-04-20 23:51] #8926 closed

[2020-04-21 00:35] paul-onof commented on #7961
I think I've found a workaround but I'm not sure...
I have a youtube channel. I posted some videos of my cat.
So I signed up for a creator account here : https://publishers.basicattentiontoken.org/
Do I have the right to send BAT to myself on my youtube channel ?

Meanwhile, I linked my bank account to my UpHold Wallet. I'll wait some days to find out if it was the issue and I'll tell you.

[2020-04-21 00:41] simonhong commented on #3674
On windows, password importing from chrome seems broken after this upstream change (https://chromium-review.googlesource.com/c/chromium/src/+/1842671).
We are using import service in a separated utility service.
The problem is generated encryption key in browser process was not passed to this utility process because upstream doesn't use encryption key in utility process while importing. It's brave

[2020-04-21 01:12] tmancey commented on #8648
@btlechowski when visiting `https://travala.com` a slash is added at the end of the domain, this will only occur for domains URLs without a path. @jsecretan It is recommended that we enforce a `/` at the end of domains which do not have a path (I would expect this is very unlikely for conversion URLs) in the management console

[2020-04-21 01:25] chkk525 opened #9344 "[Android]Recommend them to add frequently visiting sites to bookmark"
## Description
- Encourage users to add repeat visits to their favorites.
- This is intended to help people migrate from traditional browsers to Brave.

Same feature request for https://github.com/brave/brave-ios/issues/2474

## Steps to reproduce
   1. User visits a site X times
   2. A badge appears above the menu button
   3. Encourage them to use "Add to Bookmark" menu.

## Actual result

## E

[2020-04-21 03:08] SergeyZhukovsky opened #9345 "[Android] Upload of monochrome apk to Google Play is failed"
## Description
While trying to upload monochrome binaries Google Play dev console gives such an error:
`Upload failed
The ARCore dependency minimum version code com.google.ar.core.min_apk_version is missing from the AndroidManifest.xml file although the meta-data tag com.google.ar.core has been specified.`

[2020-04-21 03:11] SergeyZhukovsky commented on #9345
The issue is related to that diff https://chromium.googlesource.com/chromium/src.git/+/cd8428970f38f0d0c17ec4317d7ffa53b0d9c8f2%5E%21/#F2
there is a comment that somehow the needed info is still exist in the manifest at the end
`- AndroidManifest.xml no longer needs to contain the min_apk_version
  and InstallActivity entries explicitly - they will be brought in
  auto-magically by the build syste

[2020-04-21 03:15] SergeyZhukovsky commented on #9345
It looks like the `ar.core` aar file is get parsed somewhere and the `min_apk_version` value is get extracted and injected in the AndroidManifest.xml. Ideally we would need to do the same. I decided to put it there manually for now and create a follow up to unblock the cr81 release

[2020-04-21 03:29] fartwhif commented on #3617
I tried that already.  Here are the results.

[code]

[2020-04-21 06:25] srirambv commented on #9079
Verification passed on

Brave | 1.9.36 Chromium: 81.0.4044.113 (Official Build) nightly (64-bit)
-- | --
Revision | cf9d66371ea608e227eed56ccba3abc2701bd23d-refs/branch-heads/4044@{#936}
OS | Windows 10 OS Version 1909 (Build 18363.778)

- Verified only one entry for Binance is shown in dashboard customization
![image](https://user-images.githubusercontent.com/17010094/79830585-579d2800-83c3-11ea-

[2020-04-21 07:55] tmancey commented on #8644
Cannot reproduce the issue with latest nightly, can you please retest

[2020-04-21 08:10] ashleshbiradar commented on #1380
+1 for grammarly. Logs me in the website, but does not log me into the extension.

[2020-04-21 09:05] freechelmi commented on #1024
Thx , silly me :-)

[2020-04-21 09:24] srirambv commented on #9236
Verification passed on

Brave | 1.9.36 Chromium: 81.0.4044.113 (Official Build) nightly (64-bit)
-- | --
Revision | cf9d66371ea608e227eed56ccba3abc2701bd23d-refs/branch-heads/4044@{#936}
OS | Windows 10 OS Version 1909 (Build 18363.778)

- Verified text is using #7D7D7D for text colour
![image](https://user-images.githubusercontent.com/17010094/79848328-92f92000-83de-11ea-9441-e40cfe23e93d.png)
--

[2020-04-21 09:27] Gor3pig opened #9346 "[Android] Suggestion : add deletion of history when exiting the browser"
## Description
Add deletion of history when exiting the browser : several Chromium-based browsers already do this. There is an option to delete history, cookies, etc. when leaving the browser.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - I

[2020-04-21 09:28] GeetaSarvadnya commented on #9325
Looks good hence closing the issue.

[2020-04-21 09:28] #9325 closed

[2020-04-21 09:39] srirambv commented on #9346
Dupe of #6379

[2020-04-21 09:39] #9346 closed

[2020-04-21 09:40] srirambv commented on #6379
+1 from @Gor3pig via #9346

[2020-04-21 09:41] srirambv commented on #6379
Closing in favour of #7487

[2020-04-21 09:41] #6379 closed

[2020-04-21 09:41] srirambv commented on #7487
+1 from @Gor3pig via #9346

[2020-04-21 09:55] ryanbr opened #9347 "[Webcompat] Broken login for https://www.nintendo.com/"
## Description
Logging into `https://www.nintendo.com/` Fails

## Steps to Reproduce

   1. Open `https://www.nintendo.com/`
   2. Click on `Login` (Top RIght), will open a another page.
   3. Main site will not show login in top right.

## Actual result:
**No login at top right:**

![nintendo-error](https://user-images.githubusercontent.com/1659004/79851686-c311e480-8419-11ea-8ead-95fb6e974fd4.pn

[2020-04-21 10:21] wysow commented on #8769
Can't find how to do this... Can someone help? Thanks a lot.

[2020-04-21 10:31] ryanbr opened #9348 "[Webcompat] Unable to add items on https://www.acehardware.com/"
## Description
Unable to add items on `https://www.acehardware.com/departments/outdoor-living/grills-and-smokers/gas-grills/8863367`

## Steps to Reproduce

   1. Open `https://www.acehardware.com/departments/outdoor-living/grills-and-smokers/gas-grills/8863367`
   2. Click to `Add to Cart`
   3. Doesn't allow user to add item to cart.

## Actual result:
No way to add items

## Expected result:
Al

[2020-04-21 10:32] akarshanbiswas commented on #8679
Someone need to add [this](https://pkgs.rpmfusion.org/cgit/free/chromium-freeworld.git/tree/chromium-fix-vaapi-on-intel.patch) patch to brave. It will fix the Intel VP9 issue. Honestly there are many issues with chromium atm. (egl backend is busted in the current build and issue with Mesa).

@Nuc1eoN Your issue is with mesa rgb10 configs. You need to disable it. Add allow_rgb10_configs=false in yo

[2020-04-21 10:37] #9348 closed

[2020-04-21 11:01] ToddAndMargo commented on #9315
To get Brave installed after the upgrade, you have to manually remove the public key and reinstall it.
My notes:

`Then you have to manually remove the key and reinstall it:

    find the key:
    $ rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc rpm -e gpg-pubkey-c2d4e821-5d13a788

    remove the key:
    # rpm -e gpg-pubkey-c2d4e821-5d13a788

    reinstall the key:

[2020-04-21 11:14] srirambv commented on #9238
Verification passed on

Brave | 1.9.36 Chromium: 81.0.4044.113 (Official Build) nightly (64-bit)
-- | --
Revision | cf9d66371ea608e227eed56ccba3abc2701bd23d-refs/branch-heads/4044@{#936}
OS | Windows 10 OS Version 1909 (Build 18363.778)

- Verified hiding the widget disconnects state and reset
- Verified hiding via dashboard or via widget menu resets the connected state
----------
Verification pas

[2020-04-21 11:19] luminoso commented on #8679
Humm according to [their tree ](https://pkgs.rpmfusion.org/cgit/free/chromium-freeworld.git/tree/)they need 3 patches?

- chromium-81-vaapi-r738595.patch
- chromium-enable-vaapi.patch
- chromium-fix-vaapi-on-intel.patch

However it looks very stable and usable.