[2020-02-21 17:41] rebron commented on #7604
Closing. Wontfix. We're not adding any extra offline features to desktop, we'll be matching Chrome here. You can save as web page already or look into using an extension for this feature.

[2020-02-21 17:41] #7604 closed

[2020-02-21 17:44] rebron commented on #7605
Closing. Please follow the issue template when creating new issues.

[2020-02-21 17:44] #7605 closed

[2020-02-21 17:47] bbondy opened #8357 "Add second seed API function"
We currently have a derived seed API function, we need a second one for https://github.com/brave/internal/issues/686

[2020-02-21 17:49] rebron commented on #7623
@autonomic We're not able to reproduce this, can you try on the latest version, 1.3.x?

[2020-02-21 17:50] rebron commented on #7629
Closing. Please reopen if it happens again.

[2020-02-21 17:50] #7629 closed

[2020-02-21 18:00] rebron commented on #7655
cc: @tomlowenthal

[2020-02-21 18:01] rebron commented on #7658
@jsandiego Is this still an issue for you?

[2020-02-21 18:02] rebron commented on #7667
We're exposing a way to detect Brave in #8216. Closing as duplicate.

[2020-02-21 18:02] #7667 closed

[2020-02-21 18:06] rebron commented on #7671
Expected result on Chrome.
<img width="726" alt="Screen Shot 2020-02-21 at 10 05 37 AM" src="https://user-images.githubusercontent.com/5951041/75059399-bad90f80-5491-11ea-816f-63e271770c4d.png">

[2020-02-21 18:08] jrogers512 commented on #5741
`rm -r ~/Library/Application\ Support/BraveSoftware/Brave-Browser/odbfpeeihdkbihmopkbjmoonfanlbfcl/`

[2020-02-21 18:12] rebron commented on #7689
@simonhong I followed the steps. This look like it works properly now in 1.4.x. Can you check with latest RC (1.4.93 or latest)

[2020-02-21 18:13] #8345 closed

[2020-02-21 18:13] jsandiego commented on #7658
My DNS no longer resolves to the IP address that was giving me the issue, so it is no longer an issue for me.

[2020-02-21 18:19] rebron commented on #7694
@habamax Can you try this with our latest 1.3.x and are you using Windows Themes. I'm not seeing this with dark mode on Windows 10 and dark mode in Brave.

[2020-02-21 18:38] AlexeyBarabash opened #8358 "Fix desktop profiles which are crashing because of sync object id duplication"
## Description

Related to https://github.com/brave/brave-browser/issues/8325

## Steps to Reproduce

   1. Take browser version which does not have fix of https://github.com/brave/brave-core/pull/4710
   2. Go through STR of https://github.com/brave/brave-browser/issues/8325
   3. Take the newest version and launch on that profile

## Actual result:

Browser crashes

## Expected result:
Browser s

[2020-02-21 18:47] AlexeyBarabash commented on #8178
Updated milestone as https://github.com/brave/brave-core/pull/4688 has been merged into 1.4.x

[2020-02-21 18:48] habamax commented on #7694
![image](https://user-images.githubusercontent.com/234774/75062406-cbba6d00-54f3-11ea-847c-940dd0854ae1.png)

[2020-02-21 18:51] Thomas-Negrault commented on #8219
It's ok for me ! 👍

[2020-02-21 19:47] JuliusRockeiro opened #8359 ""-2111914805B Estimated Bandwidth Saved""
![image](https://user-images.githubusercontent.com/4733304/75104016-9b8cd000-55c0-11ea-8ad5-dd57b69d4dcf.png)

[2020-02-21 19:54] karenkliu opened #8360 "Remove 'get paid' verbiage on Sponsored Images and make BRE update"
## Description
The word "paid" showing up in the context of seeing sponsored images was causing problems with getting our app approved by Apple. Make copy on Android consistent with iOS updates.

Include the new BRE text updates as well.

This issue can be done as part of https://github.com/brave/brave-browser/issues/9555

## Designs

### State diagram

With the Brave Rewards everywhere and new on

[2020-02-21 20:08] karenkliu opened #8361 "[Desktop] Decouple sponsored image messages from BR widget"
### Description

Currently, a message about sponsored images is shown in the Brave Rewards widget the first time a user sees a sponsored image.The new updates to the Brave Rewards widget streamlines the design and makes it more contextual to the user experience by removing the message about sponsored images from the Brave Rewards widget and instead positions it above the sponsored logo.

### Desig

[2020-02-21 20:59] samartnik commented on #7904
I don't see requests to Google in dev tools. A bit more discussion is here https://github.com/brave/browser-android-tabs/issues/2479
I suppose we can close this issue for now. At least till we get more info on how to check it.

[2020-02-21 21:19] #7904 closed

[2020-02-21 23:52] Miyayes commented on #5541
+1 https://www.reddit.com/r/BATProject/comments/f4a4eg/im_getting_bat_without_seeing_ads/

[2020-02-21 23:59] simonhong commented on #7689
@rebron Yes, I also can't see any issue with latest RC(1.4.94) and other channels. Closed.

[2020-02-21 23:59] #7689 closed

[2020-02-22 00:16] #8356 closed

[2020-02-22 00:21] tmancey opened #8362 "Ad conversion detection fails if the target URL of the last shown ad matches the conversion URL pattern"
## Description

Ad conversion detection fails if the target URL of the last shown ad matches the conversion URL pattern

## Steps to Reproduce

   1. View an ad
   2. Navigate to a URL which matches the URL pattern as defined in the ad catalog

## Actual result:

Ad conversion is not detected

## Expected result:
Ad conversion should be detected

## Reproduces how often:

Easily reproduced

## Bra

[2020-02-22 01:45] rebron commented on #6024
@srirambv @Aran-Fever Can you double check if your browsing history isn't cleared because what's likely happening is "Continue where you left off" is preserving your tabs?

If you set "On Start up" -> "Open the new tab page" are you seeing expected behavior?

[2020-02-22 02:31] #8259 closed

[2020-02-22 05:29] Xyncgas commented on #7493
let's make our browser to an operating system...
wait WHOOA GOOGLE ?
We can't just use extensions though, it's essential and gotta be open source and staying alive, I mean it'd really makes me feel the freedom if I get to laugh at people how they are stuck in their home page

[2020-02-22 06:52] rwilliams commented on #7493
We get paid money to use this new tab page. It would be nice if it has some of the features that many new tab page extension have. We're just talking about editable favorites here.

[2020-02-22 07:41] sandiprb commented on #7129
@Chippi  This worked for me: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

[2020-02-22 07:59] ryanbr commented on #7504
Similar to blocking of matomo and pwik scripts, I do understand some scripts can be helpful, but they are sending analytics/events/checks/errors/etc is still tracking. We're blocking 1p tracking scripts for the sake of user privacy.

On a slightly different note, we now have to be careful since there are now some sites with 1st party scripts hiding 3rd-party elements.

[2020-02-22 08:30] ArpanSriv opened #8363 "Overlapping buttons on shortcut window with"
## Description
When a PWA is created using brave and 'Open as window' option being selected, the title bar has overlapping icons for 'minimize', 'maximize' and 'reload'.

## Steps to Reproduce

   1. Open any site in Brave.
   2. Go to overflow menu, More Tools > Create Shortcut.
   3. Select 'Open as window' and launch the PWA from the desktop.

## Actual result:
![image](https://user-images.gith

[2020-02-22 10:29] #8362 closed

[2020-02-22 14:01] NejcZdovc commented on #8259
https://github.com/brave/brave-core/pull/4696 fixed everything except of #1. @gdregalo @ryanml could you please create new issue for it so that we don't loose track of it

[2020-02-22 15:28] gettyhub opened #8364 "Downloads cause tab to be unusable"
## Description
Have multiple windows/tabs open, a whole window becomes affected by a download in a single tab in that window, and the whole window becomes unusable/unresponsive, but all other windows still respond normally

## Steps to Reproduce

   1. Have multiple tabs/windows open
   2. Download a file from a webpage
   3.

## Actual result:

## Expected result:

## Reproduces how often:
Seems

[2020-02-22 16:16] phoogm opened #8365 "Settings Page Grey Square top right corner"
## Test plan
See https://github.com/brave/brave-core/pull/5842

## Description

For Brave 1.3.118 on the settings page a grey square is displayed top right underneath the menu bar.

## Steps to Reproduce

   1. Using Brave desktop browser 1.3.118 for Mac, open the settings page
   2. Check the spot underneath the menu bar top right site, a grey square is displayed
   3. When the settings are show

[2020-02-22 17:09] scottstensland commented on #5605
Please fix this issue
 ... is the only working solution to just use firefox where it correctly disables AutoPlay ?

[2020-02-22 17:14] kc4knc opened #8366 "Uh oh! The Brave Rewards server is not responding. We will fix this as soon as possible."
I get this error message for 4 days and not fixed yet. I updated browser disabled and enabled rewards but nothing changed.

Brave | 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)

OS | Windows 10 OS Version 1909 (Build 18363.657)

![Annotation 2020-02-22 201048](https://user-images.githubusercontent.com/39414668/75096353-ddf9e100-55af-11ea-93c5-14480f59a6ca.png)

[2020-02-22 17:33] AdamSHurwitz commented on #3968
Gdocs is working offline for me which appears to be a new update for Brave!

**Version:** _1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)_

[2020-02-22 19:38] linuxluser commented on #8267
Vanguard got back to me. Their recommendation was to delete the security key from the account, flush the browser cache, log back in (with security CODE this time) and then re-enroll the security key again. After I did all of this, it started working again. **PROBLEM SOLVED!**

What I believe happened was that I got caught between their backend system upgrade. Late last year, I got a message that s

[2020-02-22 19:38] #8267 closed

[2020-02-22 20:18] serial02 commented on #208
Hello Team @brave-browser-releases

 There is a prediction when the Brave automatic translator will be working normally. Here in the Linux version it doesn't work as it can be seen in the image below:

https://imgur.com/O95bDXO

![O95bDXO](https://user-images.githubusercontent.com/32621790/75098627-4c7e7500-5597-11ea-9f78-5a960682507a.gif)

[2020-02-22 20:58] serp777 commented on #8344
bump

[2020-02-22 21:44] actuallymentor commented on #7756
Depends on the service. Usually there is a button with something like 'try another method'.

[2020-02-22 21:51] Chocod2 commented on #1000
Also posting to show interest. I would like to see Brave browser on Flathub.

[2020-02-23 01:39] gdregalo opened #8367 "[Android] Claiming a promotion from rewards settings page doesn't work (both ugp and ads)."
## Description
Claiming a promotion from rewards settings page doesn't work (for both ugp and ads promotion types).
Once it's fixed, please test scenario with multiple claims
(similar problem in tabs repo: # https://github.com/brave/brave-browser/issues/7760).

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Cu

[2020-02-23 01:41] gdregalo commented on #8259
@NejcZdovc @ryanml @SergeyZhukovsky
Opened a new issue and gave it a P1 priority: https://github.com/brave/brave-browser/issues/8367.

[2020-02-23 01:51] jonathansampson opened #8368 "Enforcing max-ads-per-hour at System Level"
## Description
Users can generate more than 5 ads per hour and 20 per day.

## Steps to Reproduce
1. Create multiple profiles in Brave (I made 4)
2. Opt all of them into Brave Rewards and Ads, and set max-per-hour to 5
3. Close all secondary profiles (I did this only after all had shown their first ad)

## Actual result:
When ads appear, they appear in multiples.

## Expected result:
Users should

[2020-02-23 02:28] ryanbr opened #8369 "[Android] Android Beta crashing on https://m.timesofindia.com/"
## Description
Visiting `https://m.timesofindia.com/articleshow_comments/74258575.cms` causing a crash on Brave Beta

## Steps to reproduce

   1. On clean profile/clean App settings.
   2. Open `https://m.timesofindia.com/articleshow_comments/74258575.cms`
   3. As the site loads url, it'll cause Brave to insta-crash.

## Actual result
Crashes Beta

## Expected result
No Crash

## Issue reproduce

[2020-02-23 03:26] jonathansampson commented on #8368
Restarting the browser will return to showing only 1 ad at a time. Opening (and then closing) windows for the additional profiles will return to the buggy behavior.

[2020-02-23 04:40] oraichu commented on #820
+1. Love the browser, but missing this feature.

[2020-02-23 04:51] bsclifton commented on #7639
Fix has landed and should now be in Nightly (1.7). Next step would be planning the back-port of this

@kjozwiak @rebron @davidtemkin would this be something we want for 1.4? (upcoming release channel). Or would we want to shoot for 1.5? (give the fix a little more time to bake)

[2020-02-23 04:59] bsclifton commented on #5267
Looks like this is resolved now- with latest release `1.3.118`. Thanks for confirming, @malcalevak 😄
cc: @JoaoTMDias
<img width="1067" alt="Screen Shot 2020-02-22 at 9 59 28 PM" src="https://user-images.githubusercontent.com/4733304/75103882-a47ca200-55be-11ea-80a0-34e6a7ed5eb1.png">

[2020-02-23 04:59] #5267 closed

[2020-02-23 05:01] bsclifton commented on #2710
@rebron would be a good candidate for uplift 😄 Even if we just uplifted to Beta (1.5) or Dev (1.6)

[2020-02-23 05:03] bsclifton commented on #5614
Updated to add milestone

@pilgrim-brave @pes10k any QA needed for this? If so, let's add some test steps to the top post and label as `QA/Yes`. If not, we can label with `QA/No`

[2020-02-23 05:13] bsclifton commented on #8359
cc: @AndriusA

[2020-02-23 05:17] bsclifton commented on #8368
Would be good to use local_state for this, versus profile settings

[2020-02-23 05:22] bsclifton commented on #8267
Thanks for following up and letting us know you're solved, @linuxluser 😄

[2020-02-23 05:32] bsclifton commented on #3968
Thanks for the update, @AdamSHurwitz!

I tried the steps specified in https://community.brave.com/t/not-working-google-extension-for-office-editing-for-docs-sheets-slides/50968 (ex: going to extension menu, picking New Spreadsheet) and it doesn't work for me ☹️ I suspect there is still a problem here

[2020-02-23 05:56] NejcZdovc commented on #8219
closing as it's resolved

[2020-02-23 05:56] #8219 closed

[2020-02-23 06:13] bsclifton commented on #6024
Any tabs that are open will be preserved in history when you relaunch the browser if `Continue where you left off` is checked (default setting)

[2020-02-23 06:18] bsclifton commented on #8327
Updated to add missing milestone (was properly set on PR)

[2020-02-23 06:24] bsclifton commented on #7602
Hi @zfoxzero

I'd recommend checking out the Chromium docs, as the experience will be similar
- https://chromium.googlesource.com/chromium/src/+/master/docs/windows_build_instructions.md
- https://www.chromium.org/developers/how-tos/debugging-on-windows

Basically, once you compile in debug mode (`npm run build -- --debug`), you should be able to start using `npm start` and then sue Visual Studio

[2020-02-23 06:24] #7602 closed

[2020-02-23 06:36] bsclifton commented on #7697
cc: @tomlowenthal @riastradh-brave

[2020-02-23 06:42] bsclifton commented on #3196
@scorpion35 interesting- seems to point at the profile being corrupt (ex: profile is what's under `~/Library/Application Support/BraveSoftware/`). I believe the passwords are stored in a sqlite DB - maybe there is a file with metadata that is not up to date. The passwords are clearly there (logins work), just not showing on the page

[2020-02-23 06:45] bsclifton commented on #8346
@oivinds that is not a legit website (at least, not one I'm aware of).

Can you please remove that and try to install from https://brave.com/download ?

Did Brave work for you before? Is your user in the `staff` group? It's going to try and write files out to `~/Library/Application Support/BraveSoftware`. Is there anything showing there? If not, Brave may not have access to write to disk

[2020-02-23 06:53] bsclifton commented on #8352
Updated to add milestone

[2020-02-23 07:00] bsclifton commented on #7967
@slayer do you have more information here?
- What platform are you on? Looks like Linux (which distro?)
- If browser opens, do you see anything at brave://crashes ? If so, please click the `Send now` button and then try restarting the browser (so that it can upload the crash report)
- For any crash reports that are sent, please share the `Report ID` (the local context doesn't help)

Is there any v

[2020-02-23 07:01] bsclifton commented on #8134
@fmarier is this resolved now? I believe it is, but wanted to verify 😄

[2020-02-23 07:01] #8134 closed

[2020-02-23 07:19] bsclifton commented on #8002
Should be an easy change; not a problem in Chrome because I don't think Safe Browsing can be disabled

[2020-02-23 07:25] bsclifton opened #8370 "New setting to disable image downloading"
## Description
Users should be able to turn off image downloading. This would be extremely useful for folks using a screenreader.

Feature request from user via DM:

[2020-02-23 07:27] bsclifton opened #8371 "Improve accessibility for users with screen readers"
## Description
User reports:

I believe these are likely the native UI elements (back/foward/reload/bookmark). @petemill has shown me that view elements are inspectable on Windows, so finding these should be fairly easy. Once found, we can provide a proper label

[2020-02-23 07:30] bsclifton opened #8372 "Provide keyboard shortcut for Distill Page feature"
## Description
We currently offer a `Distill Page` feature (found under hamburger menu). This condenses the page content and removes the images. While we do offer this, there is no keyboard shortcut for this

If we implement the Speed Reader feature, we'd want to make sure there is a keyboard shortcut also

[2020-02-23 07:33] bsclifton commented on #8372
@simonhong would you be able to help me with this one?

[2020-02-23 07:34] bsclifton commented on #8370
cc: @rebron for prioritization

[2020-02-23 09:18] oivinds commented on #8346
@bsclifton I agree, bravebrowsers.com is most likely a scam.
I have removed it, and installed from brave.com. The exact same problem persists.

Yes, Brave used to work for months. My user is in the staff group.
Inside `~/Library/Application Support/BraveSoftware/` there is one folder `Brave-Browser`

[code]
The content has files written to  from when Brave worked and after new install today.

[2020-02-23 10:51] tmancey commented on #8368
@bsclifton @jonathansampson Related to https://github.com/brave/brave-browser/issues/7441 (however deciding whether to show an ad needs much more business logic based upon state stored in `Default/ads_service/client.json`. We are transitioning away from storing state in JSON to database(s) in https://github.com/brave/brave-browser/issues/5150 and https://github.com/brave/brave-browser/issues/5151

[2020-02-23 11:14] tmancey commented on #6186
@GeetaSarvadnya Resolved with https://github.com/brave/brave-browser/issues/5195, can you please retest

[2020-02-23 11:14] #6186 closed

[2020-02-23 11:37] desmonk commented on #2761
Seriously? No progress in over a year now?

Seems like Brave is a gimmick to me as you should let users choose from what they want to do with extensions. Even the official Tor Browser does not disallow this. Also, those who use Tor Browser are likely to be aware about such privacy implications.

Honestly, after reading your latest **blog entry**, seems like Brave is sleeping with advertisement aut

[2020-02-23 14:11] #8333 closed

[2020-02-23 17:17] denismp commented on #7987
Is there any further update on this?

[2020-02-23 18:52] slayer commented on #7967
Hi @bsclifton

- Yes, that is Ubuntu eoan
- Nope:
[code]
I have enabled them.

No visible impact, no sad icons, etc. I'm worried that these are not buffer overflow attacks or something like that.

[2020-02-23 19:25] pes10k opened #8373 "Change 3p storage handling to improve webcompat"
Currently Brave
~1) doesn't send cookies to any sub-requests (excepting hardcoded exceptions), even for eTLD+1~
~2) doesn't allow any storage in embedded frames~
3) nulls out storage related endpoints in embedded frames

All the above will cause webcompat problems.

We should maintain the same privacy protections, but decrease webcompat concerns, by making the following changes:
~1) send cookies f

[2020-02-23 21:03] AdamSHurwitz commented on #3968
@bsclifton, This is the flow that is working for me:

1. Turn Wi-Fi off.
2. Go to https://drive.google.com/drive/my-drive
3. Select the '+ New' button in the top left menu column.
4. Select either a doc/sheet/slide/etc.

[2020-02-23 21:28] sanket0354 commented on #820
+1 - the integration will make a lot of difference for many people

[2020-02-23 22:16] bsclifton commented on #8366
cc: @jsecretan @NejcZdovc

[2020-02-23 22:59] jerrykrinock commented on #7639
To summarize: There was some difficulty with bookmarks syncing, and it was determined that the complicated and ill-defined bookmarks structure inherited from Chrome was preventing a clean solution.  Now, after the migration to a simpler structure has been in the field, it is decided to revert to the original structure.  Our _brave_ developers shall, without noticeable disruption, reverse-migrate u

[2020-02-23 23:02] nero120 commented on #7639
@jerrykrinock out of interest, what exactly was so difficult about syncing the original chrome bookmarks structure?

[2020-02-23 23:23] JuliusRockeiro commented on #8359
Version 1.7.10 Chromium: 80.0.3987.116 (Official Build) nightly (64-bit)

[2020-02-24 00:29] simonhong commented on #8372
We can add our new accelerator via `chrome/browser/ui/views/accelerator_table.cc`.
Our shortcut for open tor window is already there.

[2020-02-24 02:05] Roseysuzaina opened #8374 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-02-24 03:06] jerrykrinock commented on #7639
@nero120 First of all, I'm not with Brave.  I am just an bookmarks-related extension deveIoper who subscribed to this issue because I need to support Brave's past and future changes.

To answer your question, I'm just recalling what I read, maybe it was in the Brave forums or maybe it was in the original issue wherein they decided to remove Other Bookmarks.  And I do recall that, in the original 2

[2020-02-24 04:03] srirambv commented on #8374
Please edit the issue and add details and reopen it.

[2020-02-24 04:03] #8374 closed

[2020-02-24 06:26] NejcZdovc commented on #8344
this will be fixed with https://github.com/brave/brave-browser/issues/8354

[2020-02-24 06:26] #8344 closed

[2020-02-24 06:34] bsclifton commented on #8216
Here's the implementation we've landed on:
[code]

`navigator.getUserAgent()` is exposed when client hints is enabled. I've got a patch which exposes this method and ONLY populates the `brand` field. Since client hints is still a work-in-progress, it's possible that this interface might change

[2020-02-24 09:02] slayer commented on #7967
caught
[code]

for
[code]

[2020-02-24 09:22] wiim23 opened #8375 "Compact navigation option"
Hi,
I develop a web app which be used on 10" tablet landscape.

To gain space height, is it possible to have an option on brave to compact navigation zone (chrome, before remove it, had an option for that... usefull).

I know the shortcut capability but i have on my web app some window.open.... and those open a new instance of brave with full topbar.

The perfect thing was to obtain a browser with

[2020-02-24 11:35] FatBirdie commented on #8216
Is this 'hints' option default on or off?

[2020-02-24 12:02] #8353 closed

[2020-02-24 13:53] jonathanKingston opened #8376 "Get Chromium unit_tests working"
When running `npm run test -- unit_tests` I get the following:
[code]

See also: #8297

[2020-02-24 14:51] filipemir commented on #1268
Thanks @bsclifton. It does appear to be working but I'm not sure whether it was related to that flag. I have a hosts override that directs local.my-companys-site.com to localhost (for silly legacy reasons that's needed for our site to work properly locally). Before I added my question I was having to accept the self-signed certificate each time I visited the page. But that stopped happening at som

[2020-02-24 15:29] FingerlessGlov3s commented on #7357
In January 2020, I was able to add TheLounge which is a selfhosted web IRC client "https://thelounge.chat/" as a web app to the home screen. I'd just hit the menu button while using the website, press add to home screen and it would become an app.

Sometime this month of February 2020, this no longer works, so there must of been an update which has broken it.
I can confirm the website still suppor

[2020-02-24 16:21] SergeyZhukovsky commented on #8369
Works as expected on the latest 1.5.97. Most likely it was fixed with that https://github.com/brave/brave-browser/issues/8316

[2020-02-24 16:31] bsclifton commented on #8216
@FatBirdie client hints is still turned off. The patch I did effectively only allows this one method and nulls out the other fields (architecture, model, platform, etc)

[2020-02-24 16:32] Valiceemo opened #8377 "[Android] Notification icon for websites shows as blank square"
## Description
When receiving a notification from a website, the icon in the statusbar and notification shade / tray is shown as a blocked out square, and not indicitave of the site sending said notification

## Steps to reproduce

   1. Receive notfication from any site (http or https)

## Actual result
Poorly represented notification icon

## Expected result
I would expect to see the favicon for

[2020-02-24 16:34] Valiceemo commented on #8377
![Screenshot_20200219-212846](https://user-images.githubusercontent.com/14888143/75171438-867c8200-5723-11ea-97a9-c12688db047c.jpg)

[2020-02-24 16:43] slayer commented on #7967
47 crashes for several hours

[code]

[2020-02-24 16:45] rudolphos opened #8378 "Session Buddy extension doesn't work after updating Brave Dev"
## Description

After updating Brave Dev to the latest version extension Sesion Buddy doesn't work anymore, it just opens to crash description page.

## Steps to Reproduce

   1. open brave dev
   2. update to latest version
   3. download sessionbuddy extension

## Actual result:

![image](https://user-images.githubusercontent.com/4366810/75172135-71105380-5735-11ea-9e82-e2a9f9f4e5c0.png)

## Exp

[2020-02-24 16:47] bsclifton commented on #7337
@dionyziz sorry it took so long to respond here - I think I got distracted on the holidays, definitely my bad

I updated the page now with your suggested text- looks great! 😄 Thanks for the patch

[2020-02-24 16:47] #7337 closed

[2020-02-24 17:04] bsclifton commented on #8211
@iefremov is this resolved now with https://github.com/brave/brave-core/pull/4531?

ex: is this a duplicate issue of https://github.com/brave/brave-browser/issues/8084

[2020-02-24 17:07] rebron commented on #8070
@w0ts0n Works for you now, correct?

[2020-02-24 17:11] iefremov commented on #8211
@bsclifton not sure, AFAIU the problem is that the wrong weekday is not properly reported? @mattmcalister

[2020-02-24 17:13] iefremov commented on #8341
@mattmcalister @davidtemkin Are we ok to report Question 2 "Which search engine is your default?" just once on a browser startup?

[2020-02-24 17:14] jonathanKingston commented on #8376
@bsclifton this is pretty much the same as the other, once compiling it still fails a lot. I haven't dug into if it is legitimate crashes or something that needs linking.

I see 171 test failures most of which are like this:
[code]

I'll upload the patch now again.

[2020-02-24 17:14] rebron commented on #7967
@slayer We have 1.4.x coming out tomorrow and 1.3.x was available starting last Wednesday. Are these crashes on 1.2.43 still?

[2020-02-24 18:09] arch-btw commented on #5360
Having the same issue, most of it is resolved in brave-dev-bin 1.6.49-4 except for when I press this button:

![image20201](https://user-images.githubusercontent.com/57669023/75178827-b01ab680-56ed-11ea-8ae4-34e674bf9f60.png)

Pressing it freezes Brave for like 8 seconds.

[2020-02-24 18:13] w0ts0n commented on #8070
Correct! Thanks all.

[2020-02-24 18:20] mattmcalister commented on #8341
Once per weekly round of questions, yes. Or do you mean once ever?

[2020-02-24 18:24] davidtemkin commented on #8341
I think we wanted to know what the user's default engine (based on browser default, not user-settable, but instead the same for all users in a given country at a given time) is ; and then we want to track what engine they're currently using to determine how many have switched from what default to what user-selected option.

[2020-02-24 18:30] mattmcalister commented on #8341
@davidtemkin the idea here was to track the simplest data first...what is your default right now? nothing else. for marketshare purposes. the question of switching can be interpreted multiple ways depending on how you write it, so I had planned to introduce that next and separately.

[2020-02-24 18:49] mkarolin opened #8379 "Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122"
QA tests:

Check branding items
Check for version bump

[2020-02-24 19:05] tomlowenthal commented on #7207
@bridiver For sure! But until we write that, this is what we have, and it's valuable to make sure that we can run it as close to the initial commit as we can.

[2020-02-24 19:10] tomlowenthal commented on #7697
Dupe of #1647.

[2020-02-24 19:10] #7697 closed

[2020-02-24 19:14] fmarier opened #8381 "[Android] Safe Browsing doesn't work in android-core"
## Description

Safe Browsing isn't blocking anything in android core.

## Steps to reproduce

   1. Visit https://testsafebrowsing.appspot.com/
   2. Try all of the links in the "Webpage Warnings"

## Actual result

Not blocked.

## Expected result

Should be showing the red interstitial pages just like on desktop.

## Issue reproduces how often

always

## Issue happens on
   - Current Play Stor

[2020-02-24 19:15] kjozwiak commented on #8348
Verified the above manual passes using the following build:

[code]

[2020-02-24 19:15] #8348 closed

[2020-02-24 19:41] emerick commented on #8240
Handled as part of https://github.com/brave/brave-core/pull/4722

cc: @deeppandya @SergeyZhukovsky

[2020-02-24 19:41] #8240 closed

[2020-02-24 19:43] tomlowenthal commented on #1514
@davidrenne That's not what this issue is about. We don't currently have plans to implement the feature you describe for a variety of reasons.

[2020-02-24 19:57] mbacchi commented on #8027
Sent a follow up email to Apple Developer Technical Support to inquire about the status of this request after chatting with an Apple employee. Will comment here as soon as I hear something.

[2020-02-24 20:01] jumde commented on #7987
Hi @denismp, we are actively working on this. Sorry for the delay here. We are running into compatibility issues with older versions of macos. We should have a fix soon.

[2020-02-24 20:33] MatthewZito commented on #8002
Hi, @bsclifton - I'm a big fan of Brave and believe this would be a good first issue for me to get started with contributing. Will you assign this to me?

I'm currently reading through all of your contribution guidelines to get up to speed. Thanks!

[2020-02-24 20:47] da2x commented on #8216
@bsclifton that doesn’t seem to match what I’m observing in the `Sec-Ch-Ua` request header. My server logs show `Sec-Ch-Ua: Brave Browser 78` and `Sec-Ch-Ua: "Brave Browser 79"` headers. (Not sure what’s up with the inconsistent use of quotes. No quotes are expected.)

Isn’t the `navigator.getUserAgent()['brand']` API expected to return the same brand value as the `Sec-Ch-Ua` request header? As I’

[2020-02-24 21:17] bsclifton commented on #8216
@da2x I can't speak to the standards aspect of this, but the work that was done in my pull request is separate from the `Sec-Ch-Ua` header. Thanks for calling out though, as these not matching may be an issue

I wasn't aware we are supporting this header yet? Did you have to compile with `kUserAgentClientHint` added to the enabled features?

[2020-02-24 21:25] rafaelcastrocouto commented on #4636
over a year ... time to "fix" this

[2020-02-24 21:32] rafaelcastrocouto opened #8382 "Youtube (google) link don't show in the new tab [Android]"
In the new tab most visited links, youtube never shows up. I'm guessing this has something to do with how google chrome handle their own links (seems like a way to make ppl use the app)

## Steps to reproduce
   1. Fresh install.
   2. Visit Youtube a few times
   3. It should appear on the new tab links

## Actual result

It never appears.

## Issue reproduces how often

Easily reproduced

## Iss

[2020-02-24 21:34] bsclifton commented on #8002
@MatthewZito awesome- issue assigned (thanks, @rebron 😄)

Once you get setup and have something building, you might just take a peek here:
https://github.com/brave/brave-core/blob/fd90db30af93e51387b312396d0d92484cdde47a/app/settings_strings.grdp#L2998-L3000

[2020-02-24 21:40] SergeyZhukovsky opened #8383 "[Android] Crash on Custom Tabs"
there is a crash on custom tabs with 1.5.97 version
`    Process: com.brave.browser_default, PID: 23539
    java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.TextView.setBackgroundResource(int)' on a null object reference
        at org.chromium.chrome.browser.toolbar.top.BraveToolbarLayout.updateVerifiedPublisherMark(BraveToolbarLayout.java:667)
        at org.

[2020-02-24 21:51] #8369 closed

[2020-02-24 22:11] rawrmaan opened #8384 "[macOS] Browser crashes within seconds of startup"
## Description

I was working with DevTools when my browser crashed and now I can't get it to stay alive for even a few seconds (with frozen UI) without it crashing. It doesn't stay alive long enough for me to even click the options to restore my tabs.

## Steps to Reproduce

Here are the last few actions I took before this started:

   1. Open DevTools on a webpage
   2. Switch to mobile view in

[2020-02-24 22:34] Aran-Fever commented on #6024
Hello all.  I appreciate the recent interest for clarification and suggestions regarding this matter (and I don't mean to sound ungrateful) but I do know how to set Brave's startup behavior; I don't need to verify any settings.  Also, shortly after I found this thread (October last year), this issue was resolved by an update.  Brave properly deletes all history and cookies when set so, and keeps i

[2020-02-24 22:47] #8379 closed

[2020-02-24 22:53] fmarier commented on #8134
It's resolved in the default configuration (Sync disabled).

That said, if I enable "Brave Sync" in `chrome://flags` and then create a new Sync chain, then the browser crashes immediately. This is tracked in #8325 .

[2020-02-24 22:58] da2x commented on #8216
I just re-read the relevant parts of the spec. These should definitely be the same value.

Just enable `chrome://flags/#enable-experimental-web-platform-features` and restart the browser.

[2020-02-25 00:01] minaiism commented on #8281
Same issue here :(

[2020-02-25 00:12] kjozwiak commented on #8349
Verified the above manual passes using the following build:

[code]

Thanks for running through these @btlechowski  👍

[2020-02-25 00:12] #8349 closed

[2020-02-25 00:14] kjozwiak opened #8388 "Release checklist for 1.4.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-02-25 01:03] davidtemkin commented on #8341
OK-- I see, terminology problem. That question should probably be phrased "what is your currently selected search engine?"

@iefremov and I both interpreted "default" in terms of the browser default search engine. I'd say a user has a currently selected search engine, while the browser has a default search engine.

[2020-02-25 01:18] mattmcalister commented on #8341
yes, ok, that is what is intended here. _"What is your currently selected search engine?"_

Updated above.

[2020-02-25 01:28] da2x commented on #8216
Brave on Android identifies as `Chromium 80` and macOS/Linux identify as `Brave Browser 80`.

[2020-02-25 01:36] kjozwiak commented on #8347
Verified the above manual passes using the following build:

[code]

[2020-02-25 01:36] #8347 closed

[2020-02-25 01:40] kjozwiak opened #8389 "Manual test run on OS X for 1.4.x - Release"
## Per release specialty tests
 - [x] Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122.([#8379](https://github.com/brave/brave-browser/issues/8379))

## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.ex

[2020-02-25 01:40] kjozwiak opened #8390 "Manual test run on Windows x64 for 1.4.x - Release"
## Per release specialty tests
 - [x] Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122.([#8379](https://github.com/brave/brave-browser/issues/8379))

## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.ex

[2020-02-25 01:40] kjozwiak opened #8391 "Manual test run on Linux for 1.4.x - Release"
## Per release specialty tests
 - [x] Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122.([#8379](https://github.com/brave/brave-browser/issues/8379))

## Per release specialty tests

### Installer

- [ ]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.ex

[2020-02-25 03:49] davidrenne commented on #1514
Yea I knew it wasnt what this issue was about, I was just trying to get any answers about the tor support for geeky stuff like  ExitNodes etc.

Thanks for the replies.

[2020-02-25 04:01] MatthewZito commented on #8002
Great, thanks! I read through the docs - it looks like this PR will just be made against this repo's `master` branch...or should I be looking for a specific version in the `Projects` area for Settings bugfixes?

[2020-02-25 04:08] bsclifton opened #8392 "Have a better notification UX on desktop"
## Description
An interesting report was recently published:
https://dev.to/chromiumdev/yestifications-exploring-how-users-engage-with-notification-prompts-in-the-chrome-ux-report-4h7c

Folks on mobile are more likely to allow notifications than on desktop. This might be largely in part because the notification is abrasive to the user experience

We should explore a different way of presenting not

[2020-02-25 05:01] SergeyZhukovsky opened #8393 "[Android] Disable translation service"
Visit website http://hotnews.ro/ and see a translation dialog prompt. We need to disable it temporary until we get extensions support.

[2020-02-25 05:55] ryanml opened #8394 "Add code owners for Crypto Wallets"
As the component becomes more significant this is a nice to have

[2020-02-25 06:57] srirambv commented on #7588
@emerick  shared logs and video of issue reproducing on slack

[2020-02-25 07:33] kjozwiak opened #8395 "Release Notes for 1.4.x (Release Channel)"
Release Notes
 - Different theme choice in different profiles affects other profiles.([#5373](https://github.com/brave/brave-browser/issues/5373))
 - Reorder items in the App menu.([#5552](https://github.com/brave/brave-browser/issues/5552))
 - Ads history shows date of 12/31/1969.([#6088](https://github.com/brave/brave-browser/issues/6088))
 - 404 service - archived page recommendation.([#6144](h

[2020-02-25 07:40] kjozwiak commented on #8379
QA will also run through the following reduced manual passes for the above CR bump:

* Manual test run on OS X for 1.4.x - Release #8389
* Manual test run on Windows x64 for 1.4.x - Release #8390
* Manual test run on Linux for 1.4.x - Release #8391

[2020-02-25 07:41] kjozwiak commented on #8379
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

[code]

<img width="1038" alt="Screen Shot 2020-02-25 at 2 39 28 AM" src="https://user-images.githubusercontent.com/2602313/75225294-527f7c00-5778-11ea-8ea1-5b6270d10223.png">

[2020-02-25 07:41] moritzhaller opened #8396 "Implement client model parameters component"
For requirements search "Purchase Intent MiniSpec" on shared drive, section "Parameter Updates".

Related PRs:

- CI: https://github.com/brave/devops/pull/2807
- crx packager: https://github.com/brave/brave-core-crx-packager/pull/105

[2020-02-25 08:59] abhagsain opened #8397 "Browser freezes while downloading something"
## Description

The setting of the browser is to ask where to download each file from the internet. So when it open file explorer it freezes the browser and I need to kill the it from the task manager.
## Steps to Reproduce

   1.  Change default download setting to "ask every time" when downloading something
   2.  Try to download something, zip, mp3, image files.

## Actual result:

![Screenshot

[2020-02-25 09:01] btlechowski commented on #8349
Verification passed on

Brave | 1.4.94 Chromium: 80.0.3987.116 (Official Build) (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | Ubuntu 18.04 LTS

[2020-02-25 09:01] moritzhaller opened #8398 "Implement A/B Testing for Brave Ads"
For requirements search "Experiments for Brave Ads MiniSpec" on shared drive.

Devops ticket: https://github.com/brave/devops/issues/3778

[2020-02-25 09:21] jonathansampson opened #8399 "Delay Camera Access Request"
## Description
Brave on Android presently requests camera permissions too early in the Sync process. Instead the permission request should be made when the user has expressed an interest in scanning a QR code. As it currently stands, the request may confuse the user (it confused me).

## Expected result:
Request camera permissions only after the user has indicated they would like to scan a QR code

[2020-02-25 10:01] aetonsi commented on #2457
I used to circumvent this issue by white listing/forceinstall listing my extensions via policies in the registry (`HKLM\SOFTWARE\Policies\Chromium\ExtensionInstallForcelist` / `HKLM\SOFTWARE\Policies\Chromium\ExtensionInstallWhitelist`).

Now even that doesn't work...
Any news?

[2020-02-25 10:26] rushilsrivastava commented on #5761
@kakolisgay A bit late, but please see my comment here:

https://github.com/brave/brave-browser/issues/2457#issuecomment-447541756

[2020-02-25 10:31] R4cc commented on #7487
Any update on this? Doesn't seem too hard to implement + It has been requested many times more than 3 years ago... Basically the only reason I don't use the android version.

[2020-02-25 10:41] wodim commented on #5028
@skylord123 you don't have to touch your mouse, just press Ctrl+F.

Also: bump. This would be nice in the bookmark manager as well

[2020-02-25 10:56] da2x commented on #8216
@bsclifton, with that flag enabled on the current stable version `navigator.getUserAgent().then(d=>console.log(d['brand']))` already returns `Brave Browser`. So your change to `Brave` in #4721 introduces a bug.

[2020-02-25 11:05] ryanbr commented on #5793
Confirmed Brave Release/Beta and Nightly affected (still), Issue not related to shields.

[2020-02-25 12:14] GeetaSarvadnya commented on #8390
Looks good hence closing the issue. Verification passed on

Brave | 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-25 12:14] #8390 closed

[2020-02-25 14:24] #8383 closed

[2020-02-25 14:28] JoeriTheGreat commented on #6690
I'm on Version 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit) and the problem is gone!
They fixed it.
https://github.com/brave/brave-browser/issues/2025

[2020-02-25 15:03] #8389 closed

[2020-02-25 15:03] srirambv commented on #8391
Looks good

[2020-02-25 15:03] #8391 closed

[2020-02-25 15:11] LaurenWags commented on #2763
removing `release-notes/include` label as this issue was not fixed in 1.4.x and will be addressed with https://github.com/brave/brave-browser/issues/8209 per https://github.com/brave/brave-browser/issues/2763#issuecomment-585280056

[2020-02-25 15:14] reedlaw commented on #5761
This is a terrible design decision and deal breaker for using Brave. It damages trust in the marketing on brave.com:

Where is the power and control?

[2020-02-25 16:44] cherazer65 commented on #2444
More than 1 year later and still not solved - is somebody working on that?

[2020-02-25 16:59] kjozwiak opened #8401 "wayback machine being used when website uses CloudFlare DDoS protection"
## Description

When visiting a website that has CloudFlares DDoS protection, Brave will display the `Wayback Machine` until the website completes loading after passing CloudFlares checks. Technically, this isn't a `404` and the website does exists.

**`Note`**: I'm not really sure if this is an issue as it recovers and loads the website without any issues. I guess the question is if Brave should

[2020-02-25 17:06] LaurenWags opened #8402 "content level tips for GH are disabled and tip button still displays"
## Description
I have content level tips for GH disabled on brave://rewards (from Tips panel settings). However, content level tips are still showing on GH.

## Steps to Reproduce

   1. Have content level tips for GH disabled.
   2. Be logged into GH.
   3. Visit an issue (such as this one)

## Actual result:

Content level tips are still displayed:
<img width="693" alt="Screen Shot 2020-02-25 at

[2020-02-25 17:41] NejcZdovc opened #8403 "Remove recurring flag from DoTip in rewards service in lib"
`DoTip` has flag for recurring. Because we have `SaveRecurringTip` api now, we should remove this flag and in service call `SaveRecurringTip` if recurring. This should clear things

[2020-02-25 17:43] willstocks commented on #7843
Hi guys,
Any luck/advice please? Still unable to upgrade on Ubuntu, stuck on v1.0.1!
@srirambv (apologies, you added the label) is there a fix/solution/workaround?

[2020-02-25 18:39] skylord123 commented on #5028
I actually figured this out hah. It is still annoying to have an extra step but at least it is quick.

Would definitely prefer it auto opening though (there isn't any reason not to that I can think of).

[2020-02-25 19:06] #8395 closed

[2020-02-25 19:33] rebron commented on #8401
cc: @tomlowenthal @simonhong I don't think we should be showing Wayback machine prompt in this case.

[2020-02-25 20:10] slayer commented on #7967
Installed 1.3.118:
[code]

[2020-02-25 20:31] rebron commented on #8388
Closing. Released 1.4.95 on February 25 at 12:15PM PST.
Happy Mardi Gras!

[2020-02-25 20:31] #8388 closed

[2020-02-25 20:55] emerick commented on #7588
@srirambv I tried with a locally built `BraveMonoarm64.apk` running on Android 10 and with the previous beta version (`1.5.97`). In both scenarios, clicking notifications when Brave wasn't running correctly launched Brave. I think there must be some other difference we're missing here. Is the behavior intermittent for you? Any other differences you can think of?

[2020-02-25 20:56] #7902 closed

[2020-02-25 21:17] SergeyZhukovsky commented on #8016
I don't see any crashes on that website with the latest v1.5.100. @simonhong would you mind to check on your side?

[2020-02-25 21:26] jumde commented on #8342
https://chromium.googlesource.com/chromium/src/+/62f8d5f096b174d05cd7f716585983df483024d7%5E%21/#F0 - This is enabled in Chromium using Finch, will be enabled by default in M81.

[2020-02-25 22:00] tomlowenthal commented on #8401
I think that 503 (service unavailable) is generally an HTTP status code for which we should show the Wayback prompt. It's a little odd that Cloudflare serves that response in this case, but the Wayback prompt goes away as soon as Cloudflare's check succeeds and you're directed to the site in question with a 200 response. I think that this is working as intended.

[2020-02-25 22:00] #8401 closed

[2020-02-25 22:08] siznax commented on #8082
Also happening on

• Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)
• Darwin 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64

example: https://github.com/2019ncovmemory/nCovMemory

[2020-02-25 22:21] siznax commented on #8082
When I try the URL above with `beta`, I am offered the G translate extension, which I installed, and then pressed `TRANSLATE THIS PAGE` on the G translate extension (not the omnibox). This causes my CPU to stress...

<img width="728" alt="Screen Shot 2020-02-25 at 2 19 41 PM" src="https://user-images.githubusercontent.com/44357/75292951-0e24c800-57da-11ea-98ab-b69db5da7615.png">

This does NOT hap

[2020-02-25 22:42] tmancey opened #8405 "Remove obsolete "Implement Log" TODO comments"
Remove obsolete "Implement Log" TODO comments transitioned from Muon codebase

[2020-02-25 22:44] emerick commented on #8016
Same here for me. I looked at this in the morning and couldn't repro.

[2020-02-25 22:46] simonhong commented on #8016
Yes! not crashed anymore on beta. Closed 👍

[2020-02-25 22:46] #8016 closed

[2020-02-25 22:51] yrliou commented on #7090
Test plan specified in https://github.com/brave/brave-core/pull/4746

[2020-02-25 23:19] tmancey commented on #7516
@masparrow Based upon Google Style Guide I have added `DCHECK` but not defensive `if (!foo)` as discussed

[2020-02-25 23:53] tmancey commented on #4513
@dimmu  This issue is blocked pending `bat-native-usermodel` changes

[2020-02-25 23:55] goodies4uall commented on #1391
Widevine setting was not enabled by default anymore:
![image](https://user-images.githubusercontent.com/842778/75298406-6373d000-5800-11ea-979e-5e5a33ac677d.png)

[2020-02-26 00:48] fmarier opened #8406 "Write a linter check to look for herokuapp.com / s3.amazonaws.com URLs"
In order to avoid hard-coding `*.herokuapp.com` or `*.s3.amazonaws.com` URLs in our repositories (we should instead use DNS aliases which are easier to track), `npm run lint` could get an extra check.

There may be files that need to be excluded (e.g. `Jenkinsfile`).

[2020-02-26 00:53] MatthewZito commented on #8002
Thanks @rebron - PR opened. Please let me know if there's anything I should do differently next time ;D

[2020-02-26 01:12] pes10k opened #8407 "Improve shields tracker text, `s/tracking/potential tracking/g`"
**Problem**

Right now the shields text (in simple view -> learn more) says

We have been (fairly) called out on this list by things that are blocked by filter lists, but which may or may not be tracking (e.g. things that look like they could be tracking but we don't know if they are, web nuisances, things blocked for performance reasons, etc).

**Proposal**

We should update this text to make mor

[2020-02-26 01:22] pes10k opened #8408 "Remove Autoplay list, just do what chromium does"
**Background**

Brave currently ships with a list of domains that can autoplay video and audio; sites on the list can, everyone else cannot. This is a usability / perf feature, originally put in out of dissatisfaction with how Chrome was handling autoplay.

**Problem**

This breaks a bunch of sites.  The list isn't maintained, its not anyone's direct responsibility.  Chromium has also caught up.

[2020-02-26 01:22] pes10k commented on #8408
cc: @rebron

[2020-02-26 01:24] pes10k commented on #8408
relevant chrome-side documentation

1. https://developers.google.com/web/updates/2017/09/autoplay-policy-changes <-- most specific
2. https://developers.google.com/web/updates/tags/autoplay <-- all of it

[2020-02-26 01:30] BrendanEich commented on #8408
Is anyone able to evaluate whether this leaves things autoplaying that shouldn't be? I'm in favor but want some kind of spot check if not audit.

[2020-02-26 01:45] clay53 commented on #959
^

[2020-02-26 01:47] pes10k commented on #8408
Talked with @ryanbr today, and he has heroically volunteered to do some manual eval of the diff.

So, sorted :)

[2020-02-26 03:43] SergeyZhukovsky commented on #7588
I use Beta as my daily driver on my main device and ads clicks work as expected for me. @srirambv do you see it on some particular device or you can replicate on all Android devices you have?

[2020-02-26 03:57] tkserver commented on #4061
@millerlarson yes yes!  Thank you!  I've been very irritated by this problem and your solution worked!

[2020-02-26 04:07] #7872 closed

[2020-02-26 08:21] ryanbr opened #8410 "[Webcompat] https://www.wegmans.com/"
## Description
`https://www.wegmans.com/`

Reported on 2019-12-02

**Homepage loads** [ Yes ]

**Homepage trackers:**

`https://dpm.demdex.net/id?d_visid_ver=4.4.1&d_fieldgroup=AAM&d_rtbd=json&d_ver=2&d_orgid=68B620B35350F1650A490D45%40AdobeOrg&d_nsid=0&d_mid=01148555940270892242716927577774857144&d_blob=j8Odv6LonN4r3an7LhD3WZrU1bUpAkFkkiY1ncBR96t2PTI&ts=1582705362343`
`https://assets.adobedtm.com

[2020-02-26 08:30] ryanbr commented on #8410
With shields: sites loads.

[2020-02-26 08:30] #8410 closed

[2020-02-26 08:36] hakeem-ishak commented on #3196
I'm on Linux, i managed to see back my password by removing only the sqlite DB (Login Data).

[removed] /home/{username}/.config/BraveSoftware/Brave-Browser/Default/Login Data

Probably something went wrong with the file

[2020-02-26 09:10] ryanbr opened #8411 "[Webcompat] https://www.webkinz.com/"
## Description
`https://www.webkinz.com/`

Reported on 2019-11-25

**Homepage loads** [ Yes ]

**Homepage trackers:**
`https://www.googletagservices.com/tag/js/gpt.js`
`https://ssl.google-analytics.com/ga.js`

## Interaction:

   1. Site needs flash, and requires login.
   2. No issues enabling flash and using site.
   3.

## Before flash (during login process)
![before-flash](https://user-images.

[2020-02-26 09:10] #8411 closed

[2020-02-26 09:14] ryanbr commented on #8411
With shields: sites loads.

[2020-02-26 10:40] Cristian-Bejan commented on #7325
@srirambv @rebron Same issue on version 1.4.95
SegvReason - reading NULL VMA
/usr/bin/brave-browser-stable: line 48: 12927 Segmentation fault      (core dumped) "$HERE/brave" "$@"

[logMessages.txt](https://github.com/brave/brave-browser/files/4255152/logMessages.txt)

[2020-02-26 10:44] alan12345678 opened #8412 "Errors created on Brave launch. I don't use rewards! plus a bunch of other messages"
## Description

Brave seems to cause a bunch of error messages to my xsession-errors file, but which include (among a bunch of others) the fact that it's failed to initialise the wallet. I have chosen to NOT use or participate in Brave rewards, nor do I have any payment methods saved, any wallets enabled.

Alongside this message are a bunch of others. I can live with them, just don't know if it's

[2020-02-26 12:10] #8299 closed

[2020-02-26 12:51] kirillt commented on #8258
Thank you @fmarier ! Now it is updated successfully.

They key was the following:
[code]

[2020-02-26 12:51] #8258 closed

[2020-02-26 13:19] gabrielmulle commented on #7639
Another update, another version and another disappointment.
How can a famous browser in 2020 be this broken?
Yeah the fix is in nightly I saw, but I think I just wanted you to be this cautious before you have implemented the change that broke the bookmarks in the first place
This is extremely frustrating in the point of view of an end user.

[2020-02-26 15:02] MeetPing commented on #4221
for me ads DO NOT work it says not avaivable in my country BUUUUT
on a school computer (Dont ask.) does work it says it is avaivable
Own craptop(Yes i call it craptop, move on) NOT AVAIVABLE.
On my phone ads are avaivable and they are working perfectly.

But why dosent it work on my craptop??

[2020-02-26 15:04] MeetPing commented on #4221
https://prnt.sc/r80gbt

[2020-02-26 15:20] masparrow commented on #6461
Some additional info here (quite a bit so bear with me). I repeatedly get duplicate bookmarks, however I have tracked it down and stopped it from happening in my instance (I'm not saying it's the same issue as others are seeing).

I have multiple machines, mobile devices and OS's all running Brave and I want to sync across all of them.

With clean installs, as soon as I set up the _existing_ sync

[2020-02-26 15:25] masparrow commented on #5159
Can confirm as of Brave OSX & Windows Version 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)

With the following setup;

- Sync chain configured on 3 x Windows, 2 x OSX, 1 x iPad, 1 x Android Phone
- Small set of 'existing' bookmarks synced across all installs
- Import ~1300 bookmarks from Google Chome on Windows install
- Sync to all installs
- Checked all is well on each
- Some days l

[2020-02-26 15:39] dolney opened #8413 "Failed to fetch file gs://chromium-clang-format/942fc8b1789144b8071d3fc03ff0fcbe1cf81ac8"
## Description

npm run init fails with error: no such package

## Steps to Reproduce

   1. git clone git@github.com:brave/brave-browser.git
   2. npm install
   3. npm run init

## Actual result:

Downloads many packages but eventually fails with:
Failed to fetch file gs://chromium-clang-format/942fc8b1789144b8071d3fc03ff0fcbe1cf81ac8 for src/buildtools/linux64/clang-format, skipping. [Err: [E20

[2020-02-26 16:19] dolney commented on #8413
Ok, I figured it out myself. I finally noticed the warnings:

Warning: gclient doesn't yet support Python 3 and may not work correctly.

True, using python2 fixes this.

[2020-02-26 16:19] #8413 closed

[2020-02-26 16:42] jonathanKingston commented on #8376
Initial findings:

- It seems in many of these tests that `g_browser_process` isn't initialised in the right order that Brave code expects it / not at all.
  - I was able to fix some of these just by checking if the process existed; however there might be more fundamental lifecycle issues here.
- I'm seeing a lot of the same error reported in: #2125 it looks to me like the ads service isn't initia

[2020-02-26 16:55] #8293 closed

[2020-02-26 17:15] NejcZdovc opened #8414 "Ubuntu init problem"
When I run init on ubuntu (Ubuntu 18.04.2 LTS) on the latest master I get this error.

[code]

[2020-02-26 17:18] rushilsrivastava commented on #2457
Relinking my earlier comment on this issue:

https://github.com/brave/brave-browser/issues/5761#issuecomment-590795741

[2020-02-26 18:39] bbondy commented on #8214
this works with 1.5.100b on Release channel, so it is probably the app ID that is whitelisted with 1password. I'll email a contact I have at 1password to request that our beta store listing gets whitelisted too.  Removing this from android-core-release

[2020-02-26 19:10] SergeyZhukovsky opened #8415 "[Android] Crash in ads winning category"
Android beta which is based on 1.5.x branch crashes with such a call stack
[code]
The call stack points on that line https://github.com/brave/brave-core/blob/1.5.x/vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc#L886

[2020-02-26 19:31] rebron commented on #6024
Closing this one off. Looks like this is fixed now and working as expected. @srirambv reopen if that's not true.

[2020-02-26 19:31] #6024 closed

[2020-02-26 19:32] #7141 closed

[2020-02-26 19:32] #8085 closed

[2020-02-26 19:32] #8223 closed

[2020-02-26 19:34] rebron commented on #5451
@willstocks We've had numerous updates/fixes to themes since this has been filed. Are you still having issues with dark/light toggle on Windows 10 with our latest 1.4.95 release?

[2020-02-26 19:39] bracklanna commented on #8128
Same here, brave://sync is turned off in 1.3.115. I do use BraveSync for bookmarks between Desktop & 2 iOS devices, and have noticed the lack of sync.

[2020-02-26 19:45] LaurenWags commented on #8113
@antonok-edm could you add a test plan for manual QA? if this doesn't need to be manually QA'd we can remove `QA/Yes` label and add `QA/No`. Thanks!

[2020-02-26 19:56] rebron opened #8416 "Add Speedreader view"
## Description
Give users the option to view "speedreadable" pages with an optimized layout for reading the page.

## Designs

### User Flow
![speedreader user flow](https://user-images.githubusercontent.com/2388823/75905919-9ae30d80-5dfa-11ea-999d-b783e871d21f.jpg)

### States
Speedreader mode OFF:
![speadreader 1 - off](https://user-images.githubusercontent.com/2388823/75830601-1c3c9080-5d66-11e

[2020-02-26 20:09] LaurenWags commented on #7877
Verified passed with

Brave | 1.5.101 Chromium: 80.0.3987.116 (Official Build) beta (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4425
<img width="1031" alt="Screen Shot 2020-02-26 at 3 03 33 PM" src="https://user-images.githubuserconte

[2020-02-26 20:56] #4621 closed

[2020-02-26 21:15] SergeyZhukovsky opened #8417 "[Android] Delete Download History"
Parity with current version https://github.com/brave/browser-android-tabs/pull/1966

[2020-02-26 21:30] diracdeltas opened #8419 "Wayback machine feature should be disabled in Tor windows or use Tor"
### Problem

As reported in https://bravesoftware.slack.com/archives/C85NV6NSG/p1582256790113900 (see thread), we found that clicking the "Checked for saved version" button on a 404 page in a Tor window will send a request to `https://brave-api.archive.org/...` that doesn't go through Tor. As such, this is a privacy problem.

## Expected behavior

1. open a Tor window
2. go to https://brave.com/df

[2020-02-26 21:33] #7090 closed

[2020-02-26 21:44] yrliou commented on #8393
Test plan specified in https://github.com/brave/brave-core/pull/4758.

[2020-02-26 21:58] ffd8 commented on #7454
Just want to chime in I've also had strange issues with Brave refusing to open (crashing immediately upon opening) in MacOS 10.13.6 and the only thing that solves it is to restart the computer. Maybe a cache/dump building up? A couple weeks ago when it happened I re-downloaded etc to no avail – but the restart solved it. Just ran into same issue now and restart worked. Perhaps something is cleared

[2020-02-26 22:00] rebron commented on #1002
Let's add a setting above this one, default off/unchecked, "Don't close window when closing last Tab"

<img width="686" alt="Screen Shot 2020-02-26 at 1 56 17 PM" src="https://user-images.githubusercontent.com/5951041/75391894-cc5e5500-589f-11ea-957e-6113f99aca33.png">

[2020-02-26 22:06] LaurenWags commented on #7628
Verified passed with

Brave | 1.5.101 Chromium: 80.0.3987.116 (Official Build) beta (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4328
<img width="404" alt="Screen Shot 2020-02-26 at 5 01 39 PM" src="https://user-images.githubuserconten

[2020-02-26 22:21] #8393 closed

[2020-02-26 22:54] BennyAK99 commented on #7454
@ffd8 thank you but a restart of my MacBook and a new download of Brave did not work either

[2020-02-26 23:31] karenkliu commented on #8416
@AndriusA  Designs added!

[2020-02-26 23:34] #7620 closed

[2020-02-27 00:01] alexwykoff opened #8420 "404 / Wayback Machine integration - should disable on localhost"
## Description
As recommended by a user https://twitter.com/_rbonomo/status/1232805103175778304, when developing on localhost, the 404 / Wayback integration is not needed and may even interfere with development efforts.

## Steps to Reproduce
   1.  Spin up a local www host
   2. Visit a local link which will 404

## Actual result:
Wayback integration is shown

## Expected result:
Local server res

[2020-02-27 00:15] jonathanKingston commented on #8376
It seems that many things are missing from the compiled sources of unit_tests when tabs are created, it seems like there aren't brave unit tests for this but it should be spinning up the ads service etc like some of the tests do for brave tests.

I'm working on adding a similar set of dependencies to the chromium test `BUILD.gn` files and the mock service stuff in `brave/components/brave_ads/brows

[2020-02-27 04:11] EugenioAntonioBonanno commented on #8281
I am experiencing the same issue. I thought it might be an extension problem but I've checked all my extensions and there are no issues. I am running Brave for Linux on Ubuntu.

[2020-02-27 04:36] #4348 closed

[2020-02-27 04:36] srirambv opened #8421 "Manual test run on OS X for Ethereum Remote Client 1.0.17"
## Per release specialty tests
- [x] eth_signTypedData in brave crypto wallet renders without confirm button([#8223](https://github.com/brave/brave-browser/issues/8223))
 - [ ] Add reset data / delete account option to Crypto Wallets.([#5741](https://github.com/brave/brave-browser/issues/5741))
 - [x] Cannot approve DAI loan using connected Crypto wallet in Brave.([#7141](https://github.com/brave/

[2020-02-27 04:36] srirambv opened #8422 "Manual test run on Windows x64 for Ethereum Remote Client 1.0.17"
## Per release specialty tests
- [x] eth_signTypedData in brave crypto wallet renders without confirm button([#8223](https://github.com/brave/brave-browser/issues/8223))
 - [ ] Add reset data / delete account option to Crypto Wallets.([#5741](https://github.com/brave/brave-browser/issues/5741))
 - [x] Cannot approve DAI loan using connected Crypto wallet in Brave.([#7141](https://github.com/brave/

[2020-02-27 04:36] srirambv opened #8423 "Manual test run on Linux for Ethereum Remote Client 1.0.17"
## Per release specialty tests
- [x] eth_signTypedData in brave crypto wallet renders without confirm button([#8223](https://github.com/brave/brave-browser/issues/8223))
 - [ ] Add reset data / delete account option to Crypto Wallets.([#5741](https://github.com/brave/brave-browser/issues/5741))
 - [x] Cannot approve DAI loan using connected Crypto wallet in Brave.([#7141](https://github.com/brave/

[2020-02-27 06:04] bsclifton opened #8424 "Re-enable WebXR by default"
## Description
See https://github.com/brave/brave-core/commit/f460ff7d782545019aa4a49eb0efa34067fa9325 for context where WebXR was disabled during the upgrade from Chromium 78 to Chromium 79

## Test plan / Steps to Reproduce
   1. Visit https://immersive-web.github.io/webxr-samples/
   1. You should see `Yes! Your browser supports WebXR and can run Virtual Reality and Augment Reality experiences

[2020-02-27 06:05] bsclifton commented on #8424
Privacy / security review: https://github.com/brave/security/issues/60

[2020-02-27 06:07] srirambv opened #8425 "Crypto Wallet dark theme final follow up"
## Description

Crypto Wallet dark theme final follow up

## Actual result:

H/w Address selection
![image](https://user-images.githubusercontent.com/17010094/75416768-443a8700-5955-11ea-8267-2c826610cf3b.png)

Token Auto fill selection
![image](https://user-images.githubusercontent.com/17010094/75416787-51577600-5955-11ea-8d61-02b870930955.png)

Account connection linkage
![image](https://user-im

[2020-02-27 06:08] srirambv commented on #8085
Verification passed on

Brave | 1.7.16 Chromium: 80.0.3987.122 (Official Build) nightly (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Linux
Component | `0.1.47`

![image](https://user-images.githubusercontent.com/17010094/75414749-97114000-594f-11ea-9087-80f5d03a3ddd.png)
![image](https://user-images.githubusercontent.com/17010094/75415057-

[2020-02-27 07:09] bsclifton commented on #8372
Added `speedreader` label as I believe we want to make that user facing (and perhaps hide distill)
cc: @rebron

[2020-02-27 07:12] bsclifton commented on #8281
Looks like this is caused by the Crypt Wallets extension
cc: @bbondy @ryanml

[2020-02-27 07:31] srirambv opened #8426 "Prompt user to save work before restarting browser after resetting Crypto Wallet"
## Description

Right now we don't prompt user that browser will be restarted when resetting Crypto Wallet it just abruptly relaunches the browser after resetting it which could cause sessions to be lost on other tabs

## Steps to Reproduce

   1. Have a lot of tabs with sessions
   2. Reset crypto wallet
   3. Hope that sessions are not lost when browser restarts

## Actual result:

Browser resta

[2020-02-27 07:38] tmancey commented on #4221
@MeetPing Can you please let me know the locale settings of your operating system (preferably a screenshot, which if you prefer you can email to tmancey@brave.com). Thanks, Terry

[2020-02-27 07:40] tmancey commented on #8415
@SergeyZhukovsky Can you please send me the `Default/ads_service/client.json' state file please, thanks

[2020-02-27 07:45] #7516 closed

[2020-02-27 07:49] #8405 closed

[2020-02-27 08:03] NejcZdovc commented on #7529
@GeetaSarvadnya is this still a problem on 1.4?

[2020-02-27 08:05] MrHaroldA commented on #8128
You are 2 versions behind: in 1.3.118, sync reappeared as a flag.

[2020-02-27 08:06] NejcZdovc commented on #7699
Disconnected just indicates that you had previously connected a wallet. If you click on it you will be able to connect again.

cc @mandar-brave @jenn-rhim @alexwykoff for additional comments

[2020-02-27 08:06] #7699 closed

[2020-02-27 08:08] NejcZdovc opened #8427 "Implement new api for AC with uphold"

[2020-02-27 08:09] NejcZdovc commented on #7717
blocked on https://github.com/brave/brave-browser/issues/8427

[2020-02-27 08:12] NejcZdovc opened #8428 "Implement new persona creation"
Right now when we call api server creates paymentId and wallets etc. New api should just crate payment Id and that is it. We will also remove anonize dependency with this move. As part of this effort we will also implement new settings api (https://github.com/brave/brave-browser/issues/9132).

[2020-02-27 08:23] tmancey commented on #7866
Issue has been reproduced on Android https://github.com/brave/brave-browser/issues/8415#event-3075046350, awaiting state files from @SergeyZhukovsky to reproduce

[2020-02-27 08:24] NejcZdovc commented on #7203
cc @mandar-brave @alexwykoff

[2020-02-27 08:47] NejcZdovc commented on #8043
can this be reproduced with only VG @LaurenWags

[2020-02-27 08:48] NejcZdovc commented on #8089
we have fallback image if image is not provided by publisher. This specific one was that blank image was served because of this bug

[2020-02-27 08:48] #8089 closed

[2020-02-27 08:49] ryanbr opened #8429 "[Webcompat] https://www.tranimeizle.com/"
## Description
`https://www.tranimeizle.com/`

Reported on 2019-11-25

**Homepage loads** [ Yes ]

**Homepage trackers:**

`https://www.googletagmanager.com/gtag/js?id=UA-36874324-2`
`https://st.bebi.com/bebi_v3.js`
`https://aleilu.com/t.js?i=unvsk4bmrzmafikhazmx&cb=0211321582792943304`
`https://aleilu.com/t.js?i=smjb100nzrstkww46o&cb=3071931582792943306`
`https://aleilu.com/t.js?i=au33twe0p1nikd3

[2020-02-27 08:50] #8429 closed

[2020-02-27 08:53] NejcZdovc commented on #8222
they are listed on rewards page (chrome://rewards/)

![image](https://user-images.githubusercontent.com/9574457/75427530-f3bc2d00-5946-11ea-92f5-ac051eb318ed.png)

Just click on `Show all pending contributions` and you can edit the list there

[2020-02-27 09:01] #7498 closed

[2020-02-27 09:04] NejcZdovc commented on #6596
I don't see this as a problem. User selected later, meaning that current setting is still that we should show icon.

[2020-02-27 09:04] #6596 closed

[2020-02-27 09:22] NejcZdovc commented on #5139
we don't have this function anymore

[2020-02-27 09:22] #5139 closed

[2020-02-27 09:22] c0s commented on #3196
Thanks @hakeem-ishak - deleting the DB worked for me as well (on Ubuntu). This is a workaround indeed. Very much like workarounds in Microsoft software - turn it off then on - it should work again ;)
I think your analysis is correct - a certain state isn't being preserved in the DB during the upgrades, which causes this effect.

[2020-02-27 09:26] kevindbeard opened #8431 "Youtube dark mode and auto-play settings reset sometimes"
## Description
Every now and then when I go to youtube.com, the site has lost my dark mode and auto play settings. I haven't cleared my cookies.

This sounds a lot like https://github.com/brave/browser-laptop/issues/15081 which has been closed

## Steps to Reproduce

   1.  navigate to youtube.com
   2. set dark mode to on and auto-play to off
   3. navigate back to youtube.com some days later

##

[2020-02-27 09:31] kevindbeard commented on #8431
Actually, I just navigated to theverge.com and am being asked to accept cookies again.  So it looks like cookies are being removed randomly

[2020-02-27 10:14] iefremov commented on #8341
For `Question 2` I suggest to move "Other" to bucket 0, so adding new engines to the end of the list would be less confusing. That said,
[code]
@davidtemkin @mattmcalister OK?

[2020-02-27 10:32] NejcZdovc opened #8432 "Start Release doesn't work"
If you do `npm run build Release` and then `npm run start Release` you get this error.

[code]

[2020-02-27 10:53] kirilloffs commented on #7468
BTW: The reason for this bug is simple: sites detect screen resolution and forcefully serve mobile version despite desktop user agent preset active.

So the fix should be rather simple - while sending desktop user agent screen resolution info should also be changed to correspond to that of a desktop.

[2020-02-27 11:03] btlechowski commented on #4868
This is still reproducible in 1.4.x. However in google translate `Send tip` translates to `Send tips`.
![image](https://user-images.githubusercontent.com/34715963/75438929-266f2100-5959-11ea-8242-31796bc48438.png)

I don't know if this is proper way to translate it though.

Brave | 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-

[2020-02-27 11:30] ryanbr opened #8434 "[Webcompat] https://www.myer.com.au/"
## Description
`https://www.myer.com.au/`

Reported on 2019-12-09

**Homepage trackers:**

`https://my5.digitalexperience.ibm.com/af9094ac-4ec2-4ea9-8480-e7ef2c8369de/dxresources/bc7e/bc7e60c9-1c1d-4e3f-aa00-dbbc82f3d1ca.jpg?resize=582px:873px&crop=582:873;0`
`https://my5.digitalexperience.ibm.com/api/af9094ac-4ec2-4ea9-8480-e7ef2c8369de/delivery/v1/rendering/search?q=*:*&fq=type:template-global&f

[2020-02-27 11:36] btlechowski commented on #6866
No longer reproducible

Brave | 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

German locale:
![image](https://user-images.githubusercontent.com/34715963/75439226-b745fc80-5959-11ea-87c5-3d8542c0f0ab.png)
![image](https://user-images.githubuserconten

[2020-02-27 11:36] #6866 closed

[2020-02-27 11:49] noobihodl opened #8435 "Videos do not work on iOS mobiles for Australian sites"
## Description

When trying to play videos on various Australian Newscorp websites (https://www.newscorpaustralia.com/brands/) on the **mobile version** of Brave they fail to play eg https://www.heraldsun.com.au/, https://www.theaustralian.com.au/, https://www.couriermail.com.au/, https://www.dailytelegraph.com.au/, https://www.news.com.au/. The desktop version of Brave plays the videos from these

[2020-02-27 11:53] btlechowski commented on #5546
No longer reproducible

Brave | 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

![image](https://user-images.githubusercontent.com/34715963/75441664-5c62d400-595e-11ea-86a3-858fedfac7da.png)
![image](https://user-images.githubusercontent.com/34715963/

[2020-02-27 11:53] #5546 closed

[2020-02-27 12:00] Joe23232 opened #8436 "Horrible lag with chromium-based browsers on Linux"
I am using an Arch-based system and any chromium based browser underperforms in everything compared to Windows when using brave and other chromium-based browsers, particularly when scrolling through some websites that have got more content in it.

https://linuxconfig.org/benchmark-your-graphics-card-on-linux This particular website lags a lot on Linux but runs smoothly on Windows.

I have an integ

[2020-02-27 12:08] MeetPing commented on #4221
Finland

Region Finland and stuf
Finnish language.

Is that enough?

[2020-02-27 12:11] srirambv commented on #7141
Verification passed on

Brave | 1.7.16 Chromium: 80.0.3987.122 (Official Build) nightly (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Linux
Component | `0.1.47`

- Verified able to scroll the popup connection windows

[2020-02-27 12:20] btlechowski opened #8437 "Attention in Rewards is translated as NB/OBS in Norwegian locale"
I have doubts this is a proper translation

## Steps to Reproduce

Test case 1 - Brave Panel
   1. Change locale to Norwegian
   2. Enable rewards
   3. Open `brave.com`
   4. Open Brave Panel

Test case 2 - `brave://rewards`
   1. Change locale to Norwegian
   2. Enable rewards
   3. Open `brave://rewards`

## Actual result:

Attention in Rewards is translated as NB/OBS
![image](https://user-imag

[2020-02-27 12:21] srirambv commented on #8425
Sign contract window doesn't show text in dark theme. Found while testing #8223
![image](https://user-images.githubusercontent.com/17010094/75444512-96959b00-5989-11ea-89ed-ddcbf743bcd1.png)

[2020-02-27 12:21] srirambv commented on #8223
Verification passed on

Brave | 1.7.16 Chromium: 80.0.3987.122 (Official Build) nightly (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Linux
Component | `0.1.47`

![image](https://user-images.githubusercontent.com/17010094/75444557-aa410180-5989-11ea-9e53-5bba6c72f855.png)

[2020-02-27 13:19] LaurenWags commented on #8043
yes since before VG the remaining BAT from the UGP grant was not lost upon using a new profile (it would have been restored in step 7 above).

[2020-02-27 13:31] kirilloffs commented on #7468
@deeppandya, seems the reason for this bug is simple: sites detect screen resolution (discover that screen proportion is mobile phone proportion) and forcefully serve mobile version despite desktop user agent preset active.

So the fix should be rather simple - while sending fake desktop user agent, also to send fakescreen resolution info to correspond to that of a desktop screen proportions.

@Se

[2020-02-27 14:56] #8419 closed

[2020-02-27 14:57] srirambv opened #8438 "Multiple scroll bars on crypto wallet"
## Description

Multiple scroll bars on crypto wallet

## Steps to Reproduce

   1. Install `0.1.47`
   2. Have default browser window size
   3. Do multiple transactions, shows mulitple scroll bars

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/75455462-75d84000-599f-11ea-9136-7c269f63ca23.png)

## Expected result:
Just one scrollbar

## Reproduces how often:

Eas

[2020-02-27 15:28] LaurenWags commented on #7500
@mandar-brave per https://github.com/brave/brave-browser/issues/7500#issuecomment-568160182 you have `Ads` capitalized. It is currently not capitalized in 1.5.102. Please confirm if current implementation is ok:

<img width="654" alt="Screen Shot 2020-02-27 at 10 25 17 AM" src="https://user-images.githubusercontent.com/28145373/75458518-ebb2bc00-594b-11ea-9f6f-d48c83df407c.png">

Brave | 1.5.102 C

[2020-02-27 15:53] jonathanKingston commented on #2125
This appears to be because `BrowserWithTestWindowTest` doesn't start a `ContentMain` thread which it appears the call sites in `brave::AttachTabHelpers()` appears to depend on.

I think the solutions are either:
- Change the test type
- Don't run the tab handlers if there isn't a `ContentMain` thread
- Start the `AdsServiceFactory` and the other dependent code in `BrowserWithTestWindowTest`

This

[2020-02-27 15:57] GeetaSarvadnya commented on #5450
Verification passed on

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
![image](https://user-images.githubusercontent.com/38657976/75460158-20079600-59a7-11ea-9d52-bfdf848101c4.png)
![image](htt

[2020-02-27 16:04] LaurenWags commented on #7437
Verified passed with

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified with clean profile:
<img width="939" alt="Screen Shot 2020-02-27 at 11 02 08 AM" src="https://user-images.githubusercontent.com/28145373/75461363-b2c91600-5950-11

[2020-02-27 16:06] #8434 closed

[2020-02-27 16:18] LaurenWags commented on #5368
Verified passed with

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified STR from description for both Private and Tor windows using both light and dark themes.

<img width="1195" alt="Screen Shot 2020-02-27 at 11 09 56 AM" src="https:

[2020-02-27 16:25] tmancey commented on #7866
Raised this issue to fix crashes 4 and 7 for https://github.com/brave/browser-android-tabs/issues/2435

[2020-02-27 16:25] mandar-brave commented on #7500
Brave ads should be Brave Ads .

[2020-02-27 16:32] LaurenWags commented on #6869
Verified passed with

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified STR from description for the following languages:

Polish
<img width="1286" alt="Polish" src="https://user-images.githubusercontent.com/28145373/75464182-d0987a00

[2020-02-27 16:40] pes10k opened #8440 "WebXR reveals fingerprint surface"
https://immersive-web.github.io/webxr/#dom-xrsystem-issessionsupported

1. `isSessionSupported(*)` leaks at least 2 bits, maybe 3 (its unclear if "inline" always mirrors the other two)
2. The privacy harm of `(await navigator.xr.requestSession("inline")).inputSources` seems high, since the spec seems to suggest the browser can reveal hardware info thats useable in an inline context.  (though the b

[2020-02-27 17:14] tmancey commented on #4221
@MeetPing Can you please confirm the version of Brave Browser you are running, thanks

[2020-02-27 17:19] MeetPing commented on #4221
This problem is in Brave (Releases) I have also Brave Dev installed and ads work fine on that.

[2020-02-27 17:25] bsclifton commented on #7742
Marked as `P2` since this can cause data loss - we'll definitely want to fix sooner than later. Would be good to harden that logic a bit

[2020-02-27 17:26] iefremov commented on #8341
WIP PR https://github.com/brave/brave-core/pull/4771 (need to add/fix tests)

[2020-02-27 17:40] #8394 closed

[2020-02-27 17:47] ryanml commented on #8281
@Nuc1eoN @minaiism @EugenioAntonioBonanno can you folks confirm whether or not you've navigated to `brave://wallet` at any time?

[2020-02-27 17:59] mihaiplesa opened #8443 "Cannot invoke method substring() on null object in CI pipeline"
In CI pipeline:

[code]

[2020-02-27 18:05] #8443 closed

[2020-02-27 18:26] antonok-edm commented on #8113
@LaurenWags easy enough, updated the PR!

[2020-02-27 18:43] tmancey opened #8445 "Refactor Brave Ads in preparation for Publisher Ads"

[2020-02-27 19:07] tmancey opened #8446 "Assertion thrown in debug builds when generating Brave Ads console log report"
## Description

Assertion thrown in debug builds when generating Brave Ads console log report

## Steps to Reproduce

   1. View an ad (in debug build)

## Actual result:

Assertion is thrown by RAPIDJSON_ASSERT due to multiple root nodes

## Expected result:
Assertion should not be thrown

## Reproduces how often:

Easily reproduced (only occurs on first run)

## Brave version (brave://version in

[2020-02-27 19:24] J-Reis commented on #8222
Man, you guys are quick to close issues, without any kind of confirmation that they are actually resolved …

"Show all pending contributions" does not show for me. A fact which is mostly demonstrated by the screencap I opened this issue with (though, I could have scrolled down a bit more). Here's a new screencapture of the chrome://rewards page. Please point out where I should be clicking.

![rewa

[2020-02-27 19:47] tmancey commented on #4221
@MeetPing If you could confirm the version number for your release build that would be great. Thanks

[2020-02-27 19:50] #8432 closed

[2020-02-27 20:02] #8414 closed

[2020-02-27 20:18] rebron opened #8447 "Follow up to #2710 - typo in dialog box"
## Description
Dialog should read
[code]

## Actual result:
Currently shows
![74318974-872b2500-4dc1-11ea-9936-55cb9e95f075](https://user-images.githubusercontent.com/5951041/75483199-31c34c00-595b-11ea-968b-185c79a99efe.png)

## Expected result:
Remove first "to".

## Related Issue:
https://github.com/brave/brave-browser/issues/2710

[2020-02-27 21:17] LaurenWags opened #8449 "update text on ads panel of brave://rewards"
## Description
Found while testing https://github.com/brave/brave-browser/issues/7500

`Brave ads` should be `Brave Ads` per https://github.com/brave/brave-browser/issues/7500#issuecomment-592049338

## Steps to Reproduce

   1. Enable Rewards if not already enabled
   2. Look at text on Ads panel of brave://rewards

## Actual result:

<img width="654" alt="ads" src="https://user-images.githubuser

[2020-02-27 21:19] #8325 closed

[2020-02-27 21:20] LaurenWags commented on #7500
Verified passed with

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Reproduced original text on Ads panel using 1.4.95:
<img width="653" alt="Screen Shot 2020-02-27 at 12 20 13 PM" src="https://user-images.githubusercontent.com/28145373/75

[2020-02-27 21:27] NejcZdovc opened #8450 "Do not show no tokens if pending contributions"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2020-02-27 21:33] #8450 closed

[2020-02-27 21:38] sandorex commented on #34
I do not want to spam useless messages but is there any progress or news on this?

[2020-02-27 22:06] fmarier opened #8451 "[Desktop] [Meta] Use OS location services where they exist"
In order to reduce the load on `location.brave.com` and improve accuracy for the [GeoLocation API](https://www.w3.org/TR/geolocation-API/), we should take advantage of platform location services where they exist, just like we do on [Android](https://github.com/brave/browser-android-tabs/issues/2564#issuecomment-587967714) and [iOS](https://github.com/brave/brave-ios/issues/2343#issuecomment-591612

[2020-02-27 22:43] #8446 closed

[2020-02-27 23:22] themotu commented on #34
I gave up on this and went back to Firefox because they have it natively with workspaces now. We don’t want a chrome only world anyway.

[2020-02-28 00:13] btlechowski commented on #1157
Verification passed on

Brave | 1.5.101 Chromium: 80.0.3987.116 (Official Build) beta (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | Ubuntu 18.04 LTS

Reproduced on 1.4.95
![image](https://user-images.githubusercontent.com/34715963/75498410-5ead4880-59c7-11ea-9591-d5e97c24f92f.png)

Verified the test plan from the description
![image](https:

[2020-02-28 00:35] btlechowski commented on #6601
Not reproducible on Ubuntu 18.04 as Brave shield panel is always made hidden when changing Windows. Added proper labels.

Brave | 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Ubuntu 18.04 LTS

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7

[2020-02-28 00:40] btlechowski commented on #6642
Verification passed on

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Ubuntu 18.04 LTS

Reproduced on 1.4.95
![image](https://user-images.githubusercontent.com/34715963/75499730-2f98d600-59cb-11ea-91e2-948f5d776a39.png)

Verified the test plan from the description
![image](https:

[2020-02-28 01:49] EugenioAntonioBonanno commented on #8281
I have definitely navigated there.

On Fri., Feb. 28, 2020, 01:47 ryanml, <notifications@github.com> wrote:

[2020-02-28 03:03] simonhong opened #8452 "Make NTP SI module supports android"
To support, NTPSponsoredImagesData should have focal point data.

[2020-02-28 03:15] ryanbr opened #8453 "[Webcompat] https://www.lapresse.ca/"
## Description
`https://www.lapresse.ca/`

Reported on 2019-12-09 & 2019-12-02

## Steps to Reproduce

   1. 2 Anti-adblock checks.
   2. Open various webpages
   3.

**Sample:**
![lapresse](https://user-images.githubusercontent.com/1659004/75507153-1d5b7e00-5a45-11ea-9852-e98837419936.png)

2 Possible fixes:

**Cosmetic/Snippets:**
`lapresse.ca##+js(aopw, _sp_)`
`lapresse.ca##+js(set, noBlocker,

[2020-02-28 03:17] #8447 closed

[2020-02-28 04:34] srirambv opened #8454 "Erase and reset CW doesn't work on Windows"
## Description

Erase and reset CW doesn't work on Windows

## Steps to Reproduce

   1. Install `0.1.47`
   2. Create a local account
   3. Logout and reset wallet
   4. Erase and reset closes the CW tab doesn't trigger relaunch
   5. Manually closing and relaunching doesn't show welcome screen instead shows login screen

## Actual result:

![cryptoreset](https://user-images.githubusercontent.com

[2020-02-28 05:15] #8222 closed

[2020-02-28 05:16] NejcZdovc commented on #8222
@J-Reis hope that this time close is better 😃

[2020-02-28 05:26] bsclifton commented on #8216
@da2x thanks for the input- after discussion, we've made some changes 😄 And the PR I created is updated to implement that. Please check out the JS Bin for example usage:
https://jsbin.com/sexawix/edit?html,js,console

[2020-02-28 05:29] J-Reis commented on #8222
Sounds very promising. I'm not a good enough egg to go and test on nightly, but I won't bother you again unless it persists after your fix hits stable release.
Thanks Nejc!

[2020-02-28 05:55] zfoxzero opened #8455 "[bug] brave ad block Additional Filters not work"
## Description
Filters rule not have   "rs-UUID.dat" file . Additional filters not work
my browser version:
Release v1.4.95
Nightly 1.7.26

[2020-02-28 06:16] srirambv commented on #7588
@SergeyZhukovsky  I see the issue on my OnePlus 6T with Android 10. I've shared the recording of the issue with @emerick and the logs.

I don't seem to see any other difference apart from installing the apk. I haven't made any changes to notifications as well at device level

[2020-02-28 07:04] jonathansampson commented on #7564
Identical to #7487?

[2020-02-28 07:06] jonathansampson commented on #7487
Recent +1 from Twitter: https://twitter.com/hoofhearted4/status/1233193606627897344?s=19.

[2020-02-28 07:41] srirambv commented on #7588
I can see this issue happen on current GPS build as well

[2020-02-28 07:42] srirambv opened #8456 "[Android] Stats and some settings are lost during upgrade from tabs to core"
## Description
Some global settings and stats are lost when upgrading from tabs to core

## Steps to reproduce

   1. Install GPS build 1.5.7
   2. Visit a bunch of sites to add stats on NTP
   3. Enable background video play from settings
   4. Enable Fingerprint protection from privacy
   5. Disable home button in settings
   6. Set DDG Lite for private tab SE
   7. Upgrade to 1.5.100
   8. Stat

[2020-02-28 07:50] srirambv opened #8457 "[Android] Enable/Disable home button setting is missing"
## Description
Enable/Disable home button setting is missing

## Steps to reproduce

   1. Install Brave-Beta from GPS
   2. Open settings
   3. Home button enable/disable option is missing as its set to enabled by default and only has the URL option. No way to turn it off

## Actual result
![image](https://user-images.githubusercontent.com/17010094/75521027-db264280-5a2c-11ea-86cb-a750546fa04d.pn

[2020-02-28 07:54] yrliou commented on #8457
This is fixed by https://github.com/brave/brave-core/pull/4746, please try again in a nightly or a newer beta, thanks.
@srirambv I’ll close it for now, but feel free to reopen it if the issue persists.

[2020-02-28 07:54] #8457 closed

[2020-02-28 08:26] GeetaSarvadnya commented on #8456
Reproduced in Samsung Galaxy J3 version 5.1.1

[2020-02-28 08:30] NejcZdovc commented on #8222
@J-Reis no worries, ping anytime

[2020-02-28 08:35] srirambv opened #8458 "[Android] Private tab SE is lost during update"
## Description
Private tab SE is lost during update

## Steps to reproduce

   1. Set DDG as SE in 1.5.7 GPS build
   2. Upgrade to 1.5.100 stable build
   3. Private tab SE is reset to Google

## Actual result
Private tab SE is lost during update

## Expected result
Should retain SE setting during upgrades

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? N

[2020-02-28 08:59] tmancey opened #8459 "Assertion thrown in debug builds when Brave ad notifications time-out"
## Description

Assertion thrown in debug builds when ad notifications time-out

## Steps to Reproduce

   1. View an ad
   2. Click the ad to dismiss the ad
   3. Wait ~2 minutes

## Actual result:

Assertion is thrown in debug builds when the ad times-out

## Expected result:
Assertion should not be thrown in debug builds when the ad times-out

## Reproduces how often:

[Easily reproduced

## Br

[2020-02-28 09:22] GeetaSarvadnya commented on #7588
Could not reproduce the issue in Samsung Galaxy J3 version 5.1.1 running Android stable 1.5.100 and GPS version 1.5.6

[2020-02-28 09:46] srirambv opened #8460 "[Android] Bookmark button gets selected when tapped next to menu button"
## Description
Bookmark button gets selected when tapped next to menu button

## Steps to reproduce

   1. Install 1.5.100 Beta from GPS
   2. Tap on the extreme right side of the menu button
   3. Bookmark button gets highlighted

## Actual result
![bookmarkstap](https://user-images.githubusercontent.com/17010094/75537307-c8b40500-5a3c-11ea-934a-2cec7b75ebdc.gif)

## Expected result
No tap on boo

[2020-02-28 09:59] tripleee opened #8461 "Document how to configure Kerberos / SPNEG0 / AD auth on macOS"
## Description

I wanted to use Brave as my company-internal browser and thus need to use our AD-based SSO which is based on Kerberos.

I was unable to find any guidance for how to set this up; the nearest I could find was https://github.com/brave/browser-laptop/issues/5515 which however simply defers to the Chrome instructions, which of course are specific to Chrome.

## Steps to Reproduce

   1.

[2020-02-28 10:25] da2x commented on #8216
@bsclifton so that took an unexpected direction. Is the `navigator.brave` interface a temporary solution while waiting for the ua-client-hints spec? or have you decided to not support ua-client-hints and do this as a replacement?

I don’t believe that adding the `navigator.brave` object should cause any interoperability problems. However, the `isBrave()` function seems unnecessary. It would be eno

[2020-02-28 10:56] #7866 closed

[2020-02-28 11:24] iefremov commented on #2125
@jonathanKingston which TabHelper is problematic? `AdsTabHelper`?

[2020-02-28 11:35] jonathanKingston commented on #2125
@iefremov yeah the `AdsTabHelper` it doesn't have the ads service registered in time for checking the pref that hasn't been registered.

My understanding was that's the same code in the stack trace above.

One of my stack traces after applying #8376's patch to get the chromium tests compiling.
[code]

[2020-02-28 11:36] dayfuaim commented on #8264
I close this issue ascurrent build fixed it:

Brave | 1.7.24 Chromium: 80.0.3987.122 (Официальная сборка) nightly (64-bit)
-- | --
Версия | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
ОС | Linux
JavaScript | V8 8.0.426.25
Flash | (отключено)
User Agent | Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36
Командная ст

[2020-02-28 11:36] #8264 closed

[2020-02-28 11:45] iefremov commented on #2125
@jonathanKingston hmm, I think it was fixed in https://github.com/brave/brave-core/pull/904/files ?

[2020-02-28 13:14] jofftiquez commented on #8002
I'm curious. Why does it need to have the "Google" in it? Thanks.

[2020-02-28 13:30] jonathanKingston commented on #2125
@iefremov ah I see, yeah that pretty much looks like how I was fixing this! I guess we should pick up that patch and get it landed then. Do you think it's worth merging #8376 as failing first (as these tests aren't being run), then use this to fix those issues?

[2020-02-28 13:36] GeetaSarvadnya opened #8462 "Verified Twitch pubs aren't displayed as verified in BR panel"
## Description

Verified Twitch pubs name isn't displayed in BR panel

## Steps to Reproduce

   1. Clean profile 1.7.24
   2. Enable rewards
   3. Open a verified twitch pub https://www.twitch.tv/jennrhim
   4. Open the BR panel
   5. Verified pub name is not displayed in the panel also  verified checkmark isn't shown in panel and URL bar

## Actual result:

Verified pub name is not displayed in

[2020-02-28 14:06] GeetaSarvadnya opened #8463 "Follow up of PR #4252- Attention % value resets to zero in BR panel"
## Description

Follow up of PR https://github.com/brave/brave-core/pull/4252- Attention % value resets to zero in BR panel

## Steps to Reproduce

   1. Clean profile 1.7.23 PR build - Launch using `brave.exe --rewards=staging=true`
   2. Enable rewards
   3. Open a site cnn.com and spend 10 sec on the site
   4. Open BR panel for CNN.com and ensure % attention value displayed in the panel
   5.

[2020-02-28 14:13] LaurenWags commented on #8462
@GeetaSarvadnya dupe of https://github.com/brave/brave-browser/issues/6851 ?

[2020-02-28 14:33] #8239 closed

[2020-02-28 14:34] #7609 closed

[2020-02-28 15:14] ffd8 commented on #7454
@BennyAK99 Sorry to hear – restarting still works for me (had to repeat multiple times the past days each time I quit and wanted to reopen). Would be great to find a fix for this issue..

[2020-02-28 15:17] GeetaSarvadnya commented on #8462
@LaurenWags Yup, it's dup closing this issue. Thanks for identifying.

[2020-02-28 15:17] #8462 closed

[2020-02-28 15:36] LaurenWags commented on #8463
Reproduced with YT channel as well on macOS

[2020-02-28 15:44] bbondy commented on #7582
The variations in @srirambv 's post above are no longer being shown, but one remains.
I checked in a debug build what it was and it is: `MetricsAndCrashSampling:InreportingSample`
I'm going to remove the `android-core-release` label since it isn't related to just Android nor new.  Android tabs repo Release channel has it too. Our Windows Release channel has it too.

See: `chrome/browser/chrome_bro

[2020-02-28 16:06] bsclifton commented on #7582
@bbondy that one variation was found by @jonathansampson and is captured with https://github.com/brave/brave-browser/issues/8272

Since the other variations are not showing, I'll go ahead and close this issue out 😄

[2020-02-28 16:06] #7582 closed

[2020-02-28 16:08] jumde commented on #8272
@bsclifton @bbondy - Android build is in progress, will try to wrap this up today.

[2020-02-28 16:21] bsclifton commented on #8216
@da2x I believe the idea would be that we could extend this attribute and add more methods if necessary. But starting off with just the 1. And correct, clients could potentially just check for `navigator.brave`- but then the recommended way would be `navigator.brave.isBrave()`

[2020-02-28 17:01] samartnik opened #8465 "[Android] Find out why brave-core version starts more sandbox processes on the start then in tabs"
As per discussion in slack https://bravesoftware.slack.com/archives/CM17J5QMU/p1582128200278300

[2020-02-28 17:07] serp777 commented on #8354
Just wondering if there were any updates on this or if any assistance would be useful?

[2020-02-28 17:19] rebron commented on #7694
@habamax Are you seeing the same thing in Chrome?

[2020-02-28 17:23] rebron commented on #7702
@ydcjeff We don't have a way to reproduce or test this. It sounds like disabling shields work here.

[2020-02-28 17:23] #7702 closed

[2020-02-28 17:25] rebron commented on #7705
@giwrgosmant What version are you running? Can you follow the template also when filing issues? Thanks.

[2020-02-28 17:31] rebron commented on #7707
Refreshing looks like it fixes it. Seems like an image cache issue.

[2020-02-28 17:32] rebron commented on #7710
cc: @mbacchi Can you take a look?

[2020-02-28 17:34] rebron commented on #7714
@jjech Let us know when you hear back from Soundcloud.

[2020-02-28 17:37] #8424 closed

[2020-02-28 17:38] f-arthr commented on #5197
Is there a solution to use this extension?

[2020-02-28 17:39] rebron commented on #7718
@DeathsGun Can you try with our latest 1.4.95 and see if this is still an issue?

[2020-02-28 17:40] rebron commented on #7718
Do you have any extensions installed that you think might be causing this?

[2020-02-28 17:41] rebron commented on #7719
Closing. Duplicate of #8372

[2020-02-28 17:41] #7719 closed

[2020-02-28 17:43] rebron commented on #8461
cc: @Brave-Matt Can you take a look?

[2020-02-28 17:44] FozzieHi opened #8466 "Wayback Machine Prompt appears on Cloudflare Browser Integrity screens."
## Description
Wayback Machine prompt appears on Cloudflare Browser Integrity Check.

## Steps to Reproduce

   1. Visit a web page with Cloudflare Browser Integrity Check turned on.
   2. The Wayback prompt will appear.

## Actual result:

The Wayback prompt will appear.
![Prompt example](https://i.fozzie.dev/WfR9UfnFyQi8kvns/BiP5Y96cqsrwKxBC.png)

## Expected result:
The Wayback prompt shouldn't

[2020-02-28 17:45] rebron commented on #8455
cc: @ryanbr @pes10k Can you triage when you have a moment?

[2020-02-28 17:45] kevinp2 commented on #8129
Still broken on Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)

[2020-02-28 17:46] #8453 closed

[2020-02-28 17:47] pes10k commented on #8455
This sounds like a whole 'nother level, maybe CRX packager? @bbondy ?

[2020-02-28 17:56] rebron commented on #8431
hi @kevindbeard Do you have cookies set to clear on exit or are you blocking All cookies on YouTube or others in Shields settings? These intermittent ones without steps are hard to nail down.

[2020-02-28 17:59] rebron commented on #8412
@alan12345678 What distro are you using?

[2020-02-28 18:08] r3pek commented on #2300
@bsclifton doesn't work :) Maybe just implement it on the /usr/bin script provided by brave?

[2020-02-28 18:09] zfoxzero commented on #8455
CRX file not have rs-UUID.dat

for example |  https://brave-core-ext.s3.brave.com/release/llhecljkijgcaalnbfadljdpkpbehakp/extension_1_0_494.crx
-- | --

[2020-02-28 18:10] LaurenWags opened #8467 "monthly contributions not reflected on Rewards NTP widget"
## Description

After monthly contributions (recurring tips) have been contributed, they are not reflected on the Rewards NTP widget.

## Steps to Reproduce

   1. Launch clean profile from staging with short reconcile interval
   2. Enable Rewards, add BAT to wallet (I tried with both a restored wallet and using a UGP grant)
   3. Do a one time tip, see it reflected in Rewards NTP widget
   4. Se

[2020-02-28 18:16] alan12345678 commented on #8412
Arch linux. Fully updated, with XFCE group installed on top.

I use lightdm log in manager, slick greeter. Haven't messed with default session in any way, beyond a couple of additions to my bash_profile and .bashrc

*alan ansell figurative painting
Itzac
France*

**We are what we repeatedly do. Excellence is therefore not an act but a habit.
 Aristotle**

----- Original message -----
From: Rafael

[2020-02-28 18:22] NejcZdovc commented on #8354
@serp777 I have already PR here that is complete https://github.com/brave/brave-core/pull/4708. But if you are interested we have a lot of things going on with rewards. You can check issues here https://github.com/brave/brave-browser/projects/5

[2020-02-28 18:38] srirambv commented on #5741
Moving to 1.0.18 as per triage discussion

[2020-02-28 18:54] petemill commented on #8416
Should the speedreader ON page use a simple dark theme in dark mode? @karenkliu

[2020-02-28 19:19] Brave-Matt commented on #7357
+1 from Community:
https://community.brave.com/t/progressive-web-apps/110241/6

[2020-02-28 19:36] #8039 closed

[2020-02-28 19:41] fmarier opened #8468 "Ensure EME is disabled in Tor mode"
Aside from being a proprietary black box, EME also [increases fingerprintability](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/MNYFAUM_SqI/iDKyAKHXBAAJ) of the browser.

We should make sure it cannot be enabled in Tor windows.

[2020-02-28 19:43] karenkliu commented on #8416
@petemill Good Q! You're right, pages that are speed-readable in dark theme should have that styling carry over to the page content. I've updated the designs.

[2020-02-28 19:55] karenkliu commented on #8002
cc @tomlowenthal ☝️

[2020-02-28 20:11] sybercorp commented on #6196
@jonathansampson
1. I don't have Windows installed any longer, so I can't test that.
2. I tried that  as part of what I mentioned before (in https://github.com/brave/brave-browser/issues/6196#issuecomment-546508853), that it doesn't matter which network I'm connected to.

[2020-02-28 20:12] karenkliu commented on #480
bump ☝️ Let's get higher res icons on NTP Top Site tiles!

[2020-02-28 20:29] gdregalo opened #8469 "[Android] If sent from the background, the ads notifications should not make sound and pop up on the screen."
## Description
Duplicate of the issue for browser-android-tabs: https://github.com/brave/browser-android-tabs/issues/2419.
Please read implementation details in:
https://github.com/brave/browser-android-tabs/pull/2480.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

[2020-02-28 20:36] #8469 closed

[2020-02-28 20:42] gdregalo commented on #8469
Pr to master: https://github.com/brave/brave-core/pull/4591
PR to: 1.5: https://github.com/brave/brave-core/pull/4779
PR to 1.6: https://github.com/brave/brave-core/pull/4778.

[2020-02-28 20:48] zenparsing commented on #7147
Although I was unable to reproduce the error on master and release (1.4.95), I was able to confirm the same root cause as #7597.

[2020-02-28 21:32] #6363 closed

[2020-02-28 21:32] #7217 closed

[2020-02-28 21:51] eDave56 commented on #7987
Please be aware that this isn't just a macOS problem; Windows users are also experiencing it. While I haven't had the problem on either platform for weeks, there are still ongoing problems as seen here:
https://community.brave.com/t/private-window-with-tor/104893/44?u=hnktong

and people are getting frustrated. An update from the devs would be good. I'll post a link to @jumde 's comment of 4 days

[2020-02-28 22:12] fmarier commented on #8106
@doegox Next time you encounter this problem, can you email me your `~/.config/BraveSoftware/Brave-Browser/tor/data/tor.log`?

That is BTW the location of the log file you were after :)

[2020-02-28 22:20] ryanml opened #8470 "Upgrade Decompress module to resolve security audit warning"
Per: https://www.npmjs.com/advisories/1217 there is an open issue with the `decompress` lib, it serves as a sub dependency of the `gulp-imagemin` module (`gulp-imagemin > imagemin-gifsicle > gifsicle > bin-build > decompress`). Currently no patch is available but we should update the module resolution when one is available.

[2020-02-28 22:26] rafaelcastrocouto commented on #353
It was a great addition to Brave being able to customize the 'New tab' but it's past time go take a step forward. Currently we can hide each panel (rewards, stats, clock and top-sites) and choose between images (sponsored or not) and a predefined gradient.

Things that could be improved:

1. ~Change the order of the links in the top-sites~
1. Change the number of links in the top-sites
1. Resize e

[2020-02-28 22:29] #8438 closed

[2020-02-28 23:30] #8466 closed

[2020-02-28 23:33] #8459 closed

[2020-02-28 23:39] FozzieHi commented on #8466
Dupe of #8401

[2020-02-29 01:05] doegox commented on #8106
Oh thanks! Will do

[2020-02-29 01:46] bigopon opened #8472 "[Question/Feature Request] Service worker is blocked too aggressively"
## Description
The main issue thread is here https://github.com/dumberjs/dumber-gist/issues/19. A TLDR version of that would be Brave is blocking `[...].example.com` even `example.com` is added to allowed list in cookies settings.

## Steps to Reproduce
   1. Add `[*.]gist.dumber.app` to allowed cookies
   2. Visit https://buttonwoodcx.github.io/doc-bcx-validation/examples/foreach-and-nested
   3.

[2020-02-29 06:09] NejcZdovc commented on #7147
@zenparsing will fix for https://github.com/brave/brave-browser/issues/7597 fix this one as well?

[2020-02-29 06:43] zenparsing commented on #7147
@NejcZdovc it will

[2020-02-29 06:44] NejcZdovc commented on #7147
please add it to PR so that PR will auto close this issue, just add new line with Resolves and link to this issue

[2020-02-29 08:55] Joe23232 commented on #8436
Chromium-based browsers are all unnecessarily taking up too much CPU processing power. I pressed `shift`+`esc` on both Windows and Linux within the browsers and I found that Brave was taking up way too much CPU processing power compared to Windows. So I compared two websites [Benchmark Your Graphics Card On Linux](https://linuxconfig.org/benchmark-your-graphics-card-on-linux) and [WhatsApp Web](ht

[2020-02-29 09:43] stmuk commented on #7639
I am right in thinking this fix isn't in Version 1.4.95?

[2020-02-29 09:55] habamax commented on #7694
I don't have chrome installed

[2020-02-29 13:56] tmancey commented on #5607
@LaurenWags Do you agree this is a duplicate of https://github.com/brave/brave-browser/issues/5949? thank you

[2020-02-29 16:22] giwrgosmant commented on #7705
Hello,

I am running always the latest version.
Sorry about the template filing, I thought via screenshots is more easy to understand the issue.
Atm I don't have access to my PC since I am not in my hometown and I will not be for few months, so I can't give more infos atm.
I will reply back when I go back and I will check if the issue still exists.

Thanks.

[2020-02-29 17:32] pilsnerbeer opened #8473 "Freezes caused by Brave?"
## Description

I have experienced two major freezes on my Windows 10 PC that I have never ever had before. Both occurred when using Brave browser (there are other services running but I wasnt using them). The most recent one happened when I tried opening new private window; at that moment everything froze (whole system) with loading cursor displayed. after 15-20 seconds the system unfreezed and e

[2020-02-29 17:42] superusercode opened #8474 "Add support to adblock for custom remote filter lists"
## Description
This was initially intended as part of https://github.com/brave/brave-browser/issues/403#issuecomment-425778061 but is still not possible as of today in nightly. There are language specific lists but the user cannot specify their own (i.e. adguard annoyance).

## Steps to Reproduce

   1.  Go to brave://adblock/
   2.  Cannot add remote filter lists

## Actual result:

![image](http

[2020-02-29 17:55] superusercode commented on #2308
![image](https://user-images.githubusercontent.com/60588434/75612555-9cf35680-5af2-11ea-9de4-d16358c772aa.png)
I think for the time being the basic list included by decentraleyes would be good enough (as there aren't any other extensions out there that do this as far as I am aware).

[2020-02-29 19:18] pes10k commented on #2308
The current plan is for @antonok-edm and I to use PageGraph and the existing resource-replacement adblock-rs code to automatically build proxies for these widgets, so that

1. we don't need to add any new shipping machinery
2. we can programmatically rebuild these local replacements
3. we can confidently fetch downstream resources (which the PageGraph instrumentation will allow us to pick up)
4. w

[2020-02-29 19:19] jjech commented on #7714
SoundCloud responded on January 16 and closed the ticket.

-----------------------------------------------------

----------------------------------------------------------

--------------------------------------------------

[2020-02-29 19:44] tangodev commented on #3196
Hello,

I mentioned this here: https://www.reddit.com/r/brave_browser/comments/dsd3bz/password_manager_restore_and_usage_can_not/

I'm on Ubuntu and just tried the latest production version of Brave:

[code]
Sadly, the same result. I've never used the Muon edition of Brave, I started using the browser just a few months ago. I tested with:

[code]

1. Ran Brave and saved one password
2. Turned Brav

[2020-02-29 20:03] pes10k opened #8475 "Allow cosmetic filtering to also be applied to 1p items"
## Description
by default we have cosmetic filtering that attempts to differentiate 1p and 3p ads, and only block the latter.

Some users would like to do the simpler, "apply all cosmetic filters, always" approach.  Basically, just do what uBO does.

This issue would be to modify the current cosmetic filtering to have an option to automatically inject all cosmetic filters, and not do party checks.

[2020-02-29 20:07] pes10k commented on #8475
The implementation could be pretty simple:

1. Add a content / per-site shields setting for cosmetic filtering (off, only 3p {default}, all)
2. add a code path in the cosmetic filtering content script that, when the above is in the "all" mode, injects all matching rules (not just 3p ones)

[2020-02-29 20:32] BrendanEich commented on #8475
I like even more minimal yet viable MVPs. Per https://twitter.com/myphs/status/1233110060903075844?s=20 what many want is the "uBO me globaly please" setting. That would be a single setting, could even start with brave:flags or better internal URL and no official settings UX. But what would it flip internally?

[2020-02-29 20:34] Votarb opened #8476 "Crash on any action"
## Description

This problem renders Brave unusable.
Brave opens a window and crashes upon any interaction:
* resuming session
* pressing return after typing in an address
    * if it's a search query instead, it loads the page and *then* crashes
* opening bookmarks
* clicking the homepage preference button

except:
* opening settings
* opening bookmarks manager

## Steps to Reproduce

   1. Run B

[2020-02-29 21:31] fmarier commented on #1888
I'll assume this is resolved for dev/beta. We have another issue open for Nightly: https://github.com/brave/brave-browser/issues/1746

[2020-02-29 21:31] #1888 closed

[2020-02-29 23:42] qingxiang-jia commented on #8155
OK. Today I found a work around:
1. Open Brave.
2. `Ctrl+S`, it will prompt you to save whatever page you are on.
3. `Esc`, and observe the black corners are gone.

This workaround isn't great because one needs to do it every time one opens Brave or open a new windows of it.

[2020-03-01 02:00] ryanbr opened #8477 "Cosmetic/whitespace issue with nytimes.com"
## Description
Visiting `https://www.nytimes.com` Causing whitespace issues at top of page.  Was reported here: https://twitter.com/myphs/status/1233872122029760521

## Steps to Reproduce

   1. Visiting `https://www.nytimes.com` with shields enabled
   2.
   3.

## Actual result:
Expect to collapse top banner
![nytimes2](https://user-images.githubusercontent.com/1659004/75618017-8c171380-5bcc-11e

[2020-03-01 02:18] ryanbr commented on #8477
A bit of debuging here: looking at this whitelist `https://nytimes.com/ads/google/adsbygoogle.js` if we whitelist this, its not letting the site ads collapse. FIlter may not be needed now.

[2020-03-01 02:42] pes10k opened #8478 "uBO mode"
Some users have asked for a uBO mode, Brave applies all the same protections as uBO, and can enable them with a single button / toggle.

Right now Brave has all the same capabilities as uBO, with the following excpetions:

- [ ] top level URL blocking (https://github.com/brave/brave-browser/issues/8559, in pod queue)
- [x] unconstrained / 1p cosmetic filtering (https://github.com/brave/brave-brows

[2020-03-01 06:02] zwarbo commented on #7961
I had tried with many versions before to no success. (Beta version had worked)
I found this to have worked now for the current release build.
MacOS - 13.05
Brave v80.1.4.95
Just tested now, redid the whole verify wallet process with Brave & Uphold, and it now says 'Wallet verified'.

[2020-03-01 09:07] apollograce commented on #4374
Seconded. These images are often gorgeous, and I'm seeing some that also lack a photographer credit. Would love to know more about them *somehow*, and especially know where to get them.

[2020-03-01 12:40] tmancey opened #8479 "Refactor ConfirmAction to use ConfirmAd"
Refactor ConfirmAction to use ConfirmAd and remove
[code]

[2020-03-01 15:26] jonathansampson commented on #6196
@sybercorp Was this issue only happening on Windows? If not, we can test on Linux/macOS as well. Do you run any type of antivirus software in parallel and/or VPN software on the device?

[2020-03-01 15:32] sybercorp commented on #6196
Yes it was isolated to Windows (see my previous comment https://github.com/brave/brave-browser/issues/6196#issuecomment-540020246).

There is VPN software installed but whether it was in use or not had no bearing on the issue.

AV was installed but had none of its browser or network detection modules enabled or installed.

[2020-03-01 15:52] jonathansampson commented on #6196
@sybercorp Thank you for the prompt response! Unfortunately, I don't believe we have a clear test path now that you are no longer on Windows. I will keep my eyes and ears open for similar reports from other users, and merge with this if/when they arise. Thank you again for the feedback, and please do let us know if there is anything further we can do for you.

[2020-03-01 15:58] tinkicker commented on #598
Ooopsie! Just installed Brave since sync is now functioning across Windows/iOS, and forgot that this is one of the issues from a year or so ago that kept me using Firefox (the other was the sync thing).
I don't think I'll buy a larger boot SSD just to use this. Uninstalling, but will check back in the future for progress on this feature parity with Mozilla.
C'mon, guys!

[2020-03-01 17:04] nemanjacosovic opened #8480 "Top site SiteRemovalNotification spacing not correct"
## Description
The issue happens once you remove the pinned site badge (top sites) from the homepage after opening the browser or opening new tab.

## Steps to Reproduce
   1. Open Brave
   2. Have several sites saved in the top sites
   3. Open new window or open new tab
   4. Click on X to remove the site
   5. Message appears (see image)

## Actual result:
![Screenshot 2020-03-01 at 18 01 48](h

[2020-03-01 17:43] huehnerlady opened #8481 "[Desktop] Print a selection in amazon return center does not work"
## Description
Hi,
I love brave as it is really nice and fast compared to the other browsers.
So far I just found one thing that doesn't work properly for me.
Already tried to disable the shields, but no luck.

When I want to return something on Amazon, I usually select the return shipping label and the label that goes inside the parcel. so I mark the part of the return site I want to print, then

[2020-03-01 19:12] g-thome opened #8482 "whitespace characters are too wide"
## Description

whitespace characters' width are rendered at least twice as wide as they should be. that doesn't happen on every website tho. i could only reproduce it on github.com

## Steps to Reproduce

   1. go to github.com

## Actual result:

![actual result](https://i.imgur.com/0BTJ1ax.png)

## Expected result:
![expected result](https://i.imgur.com/OJgoIUV.png)

## Reproduces how often:
ev

[2020-03-01 20:03] kc4knc commented on #8366
thanks for your great attention

[2020-03-01 20:06] dbear1000 commented on #7961
I have the same problem.

MacOS 10.14.05
Brave Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)

Same issues Verify->Log In Upload -> Green banner with congrats -> no association, still saying verify and nothing in Uphold

[2020-03-01 22:35] arch-btw commented on #5360
Alright fam, time for a celebration, it's all fixed in:

Version 1.6.53 Chromium: 80.0.3987.122 (Official Build) unknown (64-bit)

![fixed](https://user-images.githubusercontent.com/57669023/75635307-d34fd500-5bc9-11ea-8713-7d4ae6b028d4.gif)

[2020-03-01 23:14] bsclifton commented on #8182
@mayeaux thanks for the report! Will share with team

[2020-03-01 23:14] #8182 closed

[2020-03-02 00:39] brandonkal commented on #34
I haven't used this, but it looks like it is possible to have Session Tabs with Chromium. The first chromium browser to implement this natively will be my new daily driver.

https://chrome.google.com/webstore/detail/sessionbox-free-multi-log/megbklhjamjbcafknkgmokldgolkdfig?hl=en

[2020-03-02 00:57] jonathanKingston commented on #34
@brandonkal I reviewed SessionBox a long time ago however I suspect nothing has changed. The code looks a whole lot like containers to the user however the guarantees are very different. The code polyfills prototypes in the DOM using content scripts rather than real isolation in the browser.

[2020-03-02 04:25] GeetaSarvadnya commented on #8467
Good catch @LaurenWags!

Reproduced in Windows `1.7.26 -Nightly`

![image](https://user-images.githubusercontent.com/38657976/75645454-f206a800-5c6b-11ea-93dc-2a6d7f633b0b.png)

[2020-03-02 05:42] bsclifton commented on #8480
Thanks for the report, @nemanjacosovic 😄 This is a duplicate of report of https://github.com/brave/brave-browser/issues/8282

[2020-03-02 05:42] #8480 closed

[2020-03-02 06:05] #8282 closed

[2020-03-02 06:15] togtalk opened #8483 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-03-02 06:24] NejcZdovc commented on #7961
@dbear1000 is your wallet KYC-ed?

[2020-03-02 06:49] #8449 closed

[2020-03-02 06:54] bsclifton commented on #8476
@Votarb have you tried disabling `Use hardware acceleration when available`?
brave://settings/?search=hardware

Given what you've shared about your GPU, I'd definitely recommend trying that

[2020-03-02 07:04] bsclifton commented on #7639
@stmuk this is currently only in Nightly (1.7)

Per [our release schedule](https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule#release-channel-dates), 1.7 is scheduled to be publicly released on April 28

@rebron @kjozwiak  should this fix be uplifted to 1.6? (scheduled for April 7). It's definitely too late to pull into 1.5 (scheduled for March 17)

[2020-03-02 08:44] tmancey opened #8484 "Refactor Brave Ads to use ExponentialDelay for calculating random delays"
Use `brave_base::random::ExponentialDelay` instead of `brave_base::random::Geometric` for calculating random delays. See https://github.com/brave/brave-browser/issues/8163

[2020-03-02 08:45] tmancey opened #8485 "Refactor Ledger code to use ExponentialDelay instead of Geometric for calculating random delays"
Use `brave_base::random::ExponentialDelay` instead of `brave_base::random::Geometric` for calculating random delays. See https://github.com/brave/brave-browser/issues/8163

[2020-03-02 08:46] tmancey commented on #8163
@riastradh-brave I have raised https://github.com/brave/brave-browser/issues/8485 for Ledger and https://github.com/brave/brave-browser/issues/8484 for Brave Ads so that we refactor our code to use `brave_base::random::ExponentialDelay`

[2020-03-02 09:46] kevindbeard commented on #8431
Hi,

No I'm not doing any of those.  I haven't touched the Shields or cookies settings from the default

If there's anything else I can send you then please let you know.

[2020-03-02 10:07] #8467 closed

[2020-03-02 10:47] silverlight513 commented on #2821
I've just updated brave to `Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)` on OSX 10.14.6 and brave will not open links from other apps anymore. Clicking links opens brave but brave seems to do nothing at all

[2020-03-02 14:02] LaurenWags commented on #5607
@tmancey yes, agree this is a dupe of https://github.com/brave/brave-browser/issues/5949

[2020-03-02 14:02] #5607 closed

[2020-03-02 14:30] GeetaSarvadnya commented on #7887
Verification passed on

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified description from the issue
![image](https://user-images.githubusercontent.com/38657976/75685351-71be6200-5cc0-11ea-86ea-04aaf30f6f62.png)

[2020-03-02 14:41] moritzhaller opened #8486 "Brave Ads Purchase Intent segments should not fall back to parent segments"
Not serve from parent categories when targeting on intent: would pick any from e.g. "automotive purchase intent by make" achieveing the opposite of what an advertiser intends to do?

[2020-03-02 15:21] GeetaSarvadnya commented on #2494
Verification passed on

Brave | 1.5.102 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
![image](https://user-images.githubusercontent.com/38657976/75689579-6f133b00-5cc7-11ea-9f0d-2d740ae568cb.png)

[2020-03-02 15:22] SergeyZhukovsky commented on #6407
That is done mostly. @gdregalo has a list of rewards issues and I ported everything not rewards related.

[2020-03-02 15:29] samartnik commented on #8465
Those processes are derived from chromium, so closing it

[2020-03-02 15:29] #8465 closed

[2020-03-02 15:29] samartnik commented on #8465
![Screenshot from 2020-02-28 14-54-48](https://user-images.githubusercontent.com/30602739/75690395-c20dd380-5c70-11ea-997d-bb8b8f06f5bd.png)

[2020-03-02 16:00] moritzhaller opened #8487 "Support all Top Level Domains for Brave Ads search providers"
Currently we only have a limited set of search providers with focus on english domains. This ticket includes:

- rethinking the schema for representing search providers
- extending the list of supported search providers across web search, e-commerce and social media
- adding support for country specific eTLD+1
- compile list of exceptions (e.g. startpage doesn't generate url parameters for search)

[2020-03-02 16:06] willstocks commented on #5451
@rebron I haven't noticed anything obvious on W10

[2020-03-02 16:27] LaurenWags commented on #8113
great, thanks @antonok-edm!

[2020-03-02 16:37] mbacchi commented on #8027
I have not heard anything officially from Apple Developer Technical Support, but my Apple contact has said that we should have access to the entitlement now if we update our provisioning profile. I will inquire from DTS to find out if this applies to all of our channel provisioning profiles.

[2020-03-02 17:14] iefremov opened #8488 "[p3a] Sporadic inconsistent week of survey"
Some reported samples contain strange WOS values:
[code]

[2020-03-02 17:41] mihaiplesa commented on #7539
Version mismatch check has been taken out of CI pipeline.

[2020-03-02 17:41] #7539 closed

[2020-03-02 18:12] rebron commented on #5451
@willstocks Can we go ahead and close this issue then?

[2020-03-02 18:24] mattmcalister commented on #8211
This appears to be resolved. Wait to close this until we can confirm on the stats side.

[2020-03-02 18:34] bsclifton commented on #8182
@mayeaux text updated! Thanks again 😄

[2020-03-02 18:52] fmarier commented on #8420
In addition to `localhost` (and `127.0.0.1`, `[::1]`), we might want to exclude `*.local`.

[2020-03-02 19:27] tangodev commented on #3196
My two extra cents: this may be the reason why some people cannot sync their passwords: https://www.reddit.com/r/brave_browser/comments/b49tvf/moving_brave_profiles_from_one_machine_to_another/

If something is wrong with the password database or its metadata, it makes no difference if the data is copied via sync or strictly on disk.

[2020-03-02 19:38] deeppandya opened #8489 "[Android] Update chromium theme to brave theme"
## Description
Brave App should have brave theme color through out the app.

## Steps to reproduce

   1.
   2.
   3.

## Actual result
Brave app uses chromium theme color blue for buttons and selectors.

## Expected result
Brave app should use brave theme color orange for buttons and selectors.

## Issue reproduces how often
Easily

## Issue happens on
   - Current Play Store version?
   - Beta b

[2020-03-02 19:44] BrendanEich commented on #5425
https://twitter.com/BrendanEich/status/1234547752240988160 for lulz.

[2020-03-02 19:51] bsclifton commented on #7564
@jonathansampson this looks to be different; basically this would be private mode all the time... the one linked clears all the history, etc on exit... which is a work-around to accomplish that

[2020-03-02 19:54] ryanbr opened #8490 "Unable to view https://reach.tech/router/tutorial/05-url-parameters due to cookies"
## Description
Missing elements on https://reach.tech/router/tutorial/05-url-parameters due to cross-site cookies being blocked.

## Steps to Reproduce

   1. With shields enabled visiting `https://reach.tech/router/tutorial/05-url-parameters`
   2. ​https://codesandbox.io/ embed doesn't show because of cookies
   3. Mostly a blank page in Brave because of cookies.

## Actual result:
`codesandbox.

[2020-03-02 20:31] SergeyZhukovsky opened #8491 "[Android] port playback in Brave option"
There is an option in tabs version to play video files in Brave. In Site Settings. We need to port it.
![Screenshot_20200302-152723_Brave](https://user-images.githubusercontent.com/12011303/75715130-e54d7880-5c9a-11ea-94c3-bac380ffe7e4.jpg)

[2020-03-02 20:39] LaurenWags opened #8492 "brave://bookmarks tab icon uses star icon instead of Brave bookmarks icon - follow up to 2494"
## Description

Per https://github.com/brave/brave-browser/issues/2494#issuecomment-494114305 we should also address the favicon in the brave://bookmarks tab and use our own branded icon instead of the star icon.

## Steps to Reproduce

   1. Navigate to brave://bookmarks
   2. Look at tab icon

## Actual result:

See star icon on tab
<img width="969" alt="Screen Shot 2020-03-02 at 3 35 41 PM" src

[2020-03-02 21:11] bsclifton commented on #3121
@igekaratas thanks for your patience; we're reviewing now and should be able to merge a fix for this soon 😄

[2020-03-02 21:35] bsclifton commented on #2821
@silverlight513 weird- definitely not related to this issue, as this issue covers a specific Windows problem

Would you please be able to create a new issue covering that problem?

[2020-03-02 21:44] bsclifton commented on #5793
`odbfpeeihdkbihmopkbjmoonfanlbfcl` is the ID for Crypto Wallet - @ryanml could you check this out?

[2020-03-02 21:57] bsclifton commented on #2761
No update as of yet; I shared with team. Will ask if someone can update. I know that no progress has been made in one year, but every issue (we have over 2,100) has a priority and work is done in that order

Pull requests are welcome if folks have cycles to handle this

[2020-03-02 22:05] bsclifton commented on #4636
With latest version (`1.4.95`) which uses Chromium 80, I'm not seeing this anymore. I know it can be frustrating, but compared to the other backlog of issues this one didn't qualify as high priority

@rafaelcastrocouto @GMModded @Coupz @louislefebvre can you update to latest and confirm if you see the issue? I've made sure to pick `All levels` in console and I'm not seeing it

[2020-03-02 22:14] #8417 closed

[2020-03-02 22:14] #8491 closed

[2020-03-02 22:19] 3cp commented on #8472
I tried to update dumber-gist to at least propagate the inner iframe error to the parent window (which is also in an iframe).

[code]

Does Brave have some implicit sandbox setting on iframe?

[2020-03-02 22:55] rafaelcastrocouto commented on #4636
Yes it still happens.
![Untitled](https://user-images.githubusercontent.com/422159/75725675-b72e5f80-5cbf-11ea-816a-e25b8e1895bd.png)

[2020-03-02 23:09] 3cp commented on #8472
I can reproduce the same issue in Chrome by turning off

<img width="689" alt="Screen Shot 2020-03-03 at 10 06 46 am" src="https://user-images.githubusercontent.com/1188806/75726528-b389ef80-5d36-11ea-9494-279756ca2868.png">

The issue is, brave has the it turned on by default (which is what we want), but still got error in iframe.

[2020-03-02 23:25] bridiver commented on #8216
I agree with @da2x that it seems silly to add `isBrave` and I think it's only going to lead to websites making inconsistent checks and ignoring the "recommended way". I think we should just keep it simple and let them check `navigator.brave !== undefined`

[2020-03-02 23:26] pes10k commented on #8216
@bridiver the thinking here is that its very likely that we'll want to add more JS functionality in the future, and having a single place to hang them off makes sense.  (otherwise the chances of collisions on `navigator` will just keep increasing)

[2020-03-02 23:37] jonathanKingston commented on #8216
Will those pieces of functionality not be expected to be somewhat on a standards track? The benefit to not exposing Brave specific functionality would reduce the ability to fingerprint the difference in Brave over any other Chromium based browser.

I'm interested why this also couldn't be agreed with other browsers also. For example the original API promise could resolve as "chrome" in tor/private

[2020-03-02 23:39] bridiver commented on #8216
@pes10k I'm saying it should just an empty object for now. That doesn't prohibit us from adding stuff later

[2020-03-02 23:42] pes10k commented on #8216
@jonathanKingston

We're not concerned about Brave being distinguishable from Chrome or other browsers. Folks can easily distinguish already, and will be able to more so going forward.  For fingerprinting concerns, our only goal (and the only goal we can reasonably hope to achieve) is to keep Brave users from being distinguishable from each other.

I doubt that we'll be proposing anything like thi

[2020-03-02 23:43] bridiver commented on #8216
along the lines of what @jonathanKingston is saying, why `navigator.brave` when chrome `window.chrome`? I don't really care that much about `isBrave`, it just seems silly to me.

[2020-03-02 23:47] mayeaux commented on #8182
Hey no problem! You should check out my FOSS YouTube alternative btw if you haven't already. Tell Brendan I'd be happy to take on a sponsor if he's looking to decentralize media sharing on the web :) https://github.com/mayeaux/nodetube Cheers!

[2020-03-03 00:23] #8002 closed

[2020-03-03 00:52] pes10k commented on #6810
I think this should be solved now that cosmetic filtering is in.  I'm going to close, but please reopen if it comes up agian

[2020-03-03 00:52] #6810 closed

[2020-03-03 03:43] jonathansampson commented on #7564
@bsclifton Private Mode clears all history, etc. on exit. Right? I assumed these were functionally identical 🙂

[2020-03-03 05:37] bsclifton commented on #7564
@jonathansampson there are fundamental differences in how incognito mode works (`IsOffTheRecord`) compared to a regular profile

The goal for this issue is achievable through Group Policy.  There is a value `IncognitoModeAvailability`:
<img width="729" alt="Screen Shot 2020-03-02 at 10 34 34 PM" src="https://user-images.githubusercontent.com/4733304/75745966-0e3f2f00-5cd6-11ea-917e-3d87a6f2ca6a.pn

[2020-03-03 06:36] jumde commented on #8129
@kevinp2 - We just released an update of the extension, could you please try these steps:

1. Navigate to brave://components and check if the version of Tor Client Updater is 1.0.9
2. Open New Private window with Tor and check if you can open check.torproject.org

[2020-03-03 06:38] jumde commented on #7987
@denismp @Ajworry @eDave56 - We just released an update of the extension, could you please try these steps:

1. Navigate to brave://components and check if the version of Tor Client Updater is 1.0.9
2. Open New Private window with Tor and check if you can open check.torproject.org

Let me know if you're still running into any issues.

[2020-03-03 06:57] iefremov commented on #7262
@mattmcalister Can we just close this for now?

[2020-03-03 09:19] silverlight513 commented on #2821
@bsclifton Sorry, I was following some links that lead me here. Should have read the ticket in more detail.

I'm not sure that's the same bug. I can still use brave as intended unless I try to open a link from another app.

I'll go make a new ticket now

[2020-03-03 10:39] Ajworry commented on #7987
@denismp thanks working

[2020-03-03 11:03] NejcZdovc opened #8493 "Remove LedgerCallbackHandler"
We have a nice system with mojo and callbacks, so ownership of callbacks should be per process. We should remove `LedgerCallbackHandler` completely

[2020-03-03 11:25] Johann999 commented on #7639
Please correct the problem as soon as possible.
Thank you very much.

[2020-03-03 12:31] #8445 closed

[2020-03-03 13:11] gwillem commented on #7331
Same on Firefox 73.0.1, removing the `cookieBLD33` fixes the issue. This has been a problem with the belastingdienst for a long time, at least since Oct last year.

[2020-03-03 13:32] willstocks commented on #5451
Yes feel free to! 🙂

Will Stocks
Blogger & Technology Aficionado
💭: @willstocks_ (Twitter, Instagram, Pinterest)
⌨️: willstocks (GitHub)
👨🏻‍💻: willstocks.co.uk
________________________________
From: Rafael Ebron <notifications@github.com>
Sent: Monday, March 2, 2020 6:12:01 PM
To: brave/brave-browser <brave-browser@noreply.github.com>
Cc: Will Stocks <will@willstocks.co.uk>; Mention <mention@norep

[2020-03-03 14:43] StefanLobbenmeier commented on #8420
The whole 127 subnet is localhost - so please also include them - i know this regex is not in the right language but this is the one I use in node.js
[code]

[2020-03-03 14:48] StefanLobbenmeier commented on #8420
Now that I think about it it also might not be enough considering you can write IPs also in octal, for example
http://127.0045.1.2:8080/index.html

But Brave currently translates it into decimal:

http://127.37.1.2:8080/index.html

So this should be fine. Please test it anyway.

[2020-03-03 15:14] btlechowski commented on #6912
Verification passed on

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4291

Before installing Brave
![image](https://user-images.githubusercontent.com/34715963/75788135-134cbe80-5d68-11ea-8c35-a099

[2020-03-03 15:25] LaurenWags commented on #5381
Adding `QA/Blocked` label for now.

Per discussion with @rebron not all PRs needed for this are currently in 1.5.x so this needs some sorting before QA can test.

[2020-03-03 15:32] mbacchi commented on #7710
Flatpak install package format is something we'll have to consider as we have time.

[2020-03-03 15:56] bsclifton commented on #8113
Fixed in 1.6 with https://github.com/brave/brave-core/pull/4540
Fixed in 1.5 with https://github.com/brave/brave-core/pull/4589

[2020-03-03 16:01] bsclifton commented on #4348
Updated to 1.7 because https://github.com/brave/brave-core/pull/4772 hasn't been merged (yet). Updating the milestone back to 1.6 is in the post-merge checklist for uplifts

[2020-03-03 16:25] GeetaSarvadnya commented on #8113
Verification passed on

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4540
- Verified on clean and upgraded profile

[2020-03-03 16:29] bsclifton commented on #7710
@mbacchi issue tracking Flatpak: https://github.com/brave/brave-browser/issues/1000

[2020-03-03 16:30] Firewall999 opened #8494 "Windows 7 Protocol Mismatch"
## Description

Windows allows bookmark links to be attached to the Brave browser icon in the taskbar so users may elect to open Brave and go directly to the bookmark selected with a right click on the Brave taskbar icon.  This does not work with Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit).  The Error message reported is shown in the attached file:
![Brave Protocol Bug Error M

[2020-03-03 16:46] #7956 closed

[2020-03-03 16:55] LaurenWags commented on #7425
Verified passed with

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified STR from description
<img width="1171" alt="Screen Shot 2020-03-03 at 11 54 17 AM" src="https://user-images.githubusercontent.com/28145373/75799290-eab3cd00-5d45-

[2020-03-03 17:17] moritzhaller opened #8495 "Refactor Brave Ads Purchase Intent keyword matching to use std::set"

[2020-03-03 17:20] GeetaSarvadnya opened #8496 "Shield menu is not visible when switching the multiple windows"
## Description

Shield menu is not visible when switching the multiple windows

## Steps to Reproduce

   1. Clean profile 1.5.106
   2. Open two windows and load a different/same site in both windows
   3. Click on the lion icon/shield icon in the URL bar
   4. Switch between the windows and repeat step 3 in both windows for multiple times
   5. Shield menu is not visible when switching the multi

[2020-03-03 17:38] GeetaSarvadnya commented on #6601
Verification passed on

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Shields panel retains the content specific to the site and not auto-changed to the content for the site in the foreground

[2020-03-03 17:56] rebron opened #8497 "Add "Don't ask me again" pref to 404 Wayback machine infobar"
## Description
For those users who don't want to see the 404 Wayback machine notification, provide a way to disable the notification without having to go to brave://settings/braveHelpTips.

Setting "Don't ask me again" should toggle 'Show Wayback Machine prompt on 404 pages' setting.

## Steps to Reproduce

   1.  Visit https://www.brave.com/bo
   2. Notice 404 infobar prompt.
   3. Need to provid

[2020-03-03 18:24] qingxiang-jia commented on #8155
Good morning @bsclifton , the GNOME/Mutter team has confirmed that this bug has been fixed in GNOME 3.36. They are currently considering a port to the current stable GNOME which is 3.34. Shall we close this?
GNOME bug tracker for this issue: https://gitlab.gnome.org/GNOME/mutter/issues/1075

[2020-03-03 18:28] btlechowski opened #8498 "Some bookmarks with duplicate ids are not synced"
Follow up to https://github.com/brave/brave-browser/issues/8325

## Steps to Reproduce

Test case 1:
1. Go to `about:flags#brave-sync` and enable sync
2. Create a sync chain
3. Go to brave://bookmarks/
4. Add a bookmark
5. Go to `about:flags#brave-sync` and disable sync
6. COPY the bookmark
7. Go to `about:flags#brave-sync` and enable sync
8. Wait till both bookmarks are synced

Test Case 2:
Inste

[2020-03-03 18:33] mkarolin opened #8499 "Upgrade from Chromium 80.0.3987.122 to Chromium 80.0.3987.132"
QA tests:

Check branding items
Check for version bump

[2020-03-03 18:37] Votarb commented on #8476
I have tried disabling acceleration, but even with it off, the crashes persist.

[2020-03-03 19:06] samartnik opened #8501 "[Android] Fix verified icon on brave rewards panel"
Need to move fix from tabs https://github.com/brave/browser-android-tabs/pull/2183

[2020-03-03 19:11] samartnik opened #8502 "[Android] Fix anon wallet units"
Need to move this fix from tabs https://github.com/brave/browser-android-tabs/pull/2268/files

[2020-03-03 19:11] LaurenWags commented on #7682
Verified passed with

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4354

Scenario 1:
   * Installed 1.0.0 and enabled Rewards
   * Restored a wallet with a balance
   * View

[2020-03-03 19:13] darkdh commented on #8498
This is not duplicate id specific issue. You can replace the step "COPY" with adding a new bookmark or modifying the existing one when sync is disabled and those changes will not reflect on the other devices. Because when sync is disabled, it doesn't track any changes.

[2020-03-03 19:15] kjozwiak opened #8503 "Release checklist for 1.4.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-03-03 19:26] kjozwiak opened #8504 "Manual test run on OS X for 1.4.x - Release Hotfix 1"
## Per release specialty tests
 - [ ] Application crashes when calculating the winning page classification category.([#7866](https://github.com/brave/brave-browser/issues/7866))
 - [ ] Buttons on top tiles removed message needs padding.([#8282](https://github.com/brave/brave-browser/issues/8282))
 - [ ] Wayback machine feature should be disabled in Tor windows or use Tor.([#8419](https://github.co

[2020-03-03 19:26] kjozwiak opened #8505 "Manual test run on Windows x64 for 1.4.x - Release Hotfix 1"
## Per release specialty tests

 - [x] Application crashes when calculating the winning page classification category.([#7866](https://github.com/brave/brave-browser/issues/7866))
 - [x] Buttons on top tiles removed message needs padding.([#8282](https://github.com/brave/brave-browser/issues/8282))
 - [x] Wayback machine feature should be disabled in Tor windows or use Tor.([#8419](https://github.c

[2020-03-03 19:26] kjozwiak opened #8506 "Manual test run on Linux for 1.4.x - Release Hotfix 1"
## Per release specialty tests
 - [x] Application crashes when calculating the winning page classification category.([#7866](https://github.com/brave/brave-browser/issues/7866))
 - [x] Buttons on top tiles removed message needs padding.([#8282](https://github.com/brave/brave-browser/issues/8282))
 - [x] Wayback machine feature should be disabled in Tor windows or use Tor.([#8419](https://github.co

[2020-03-03 19:44] btlechowski commented on #8498
The bookmarks are eventually synced. It just takes some time. It took me 20 minutes, @AlexeyBarabash synced after 10 minutes.

Closing as invalid.

[2020-03-03 19:44] #8498 closed

[2020-03-03 19:45] AlexeyBarabash commented on #8498
Thanks @btlechowski  for looking on this detail.

[2020-03-03 20:01] kjozwiak commented on #8256
If this was accidentally added into desktop and only belongs on Android, it should be removed from every channel. We shouldn't keep this visible on `Nightly`, `Dev` and `Beta` but not include it in the `Release` channel. If it doesn't belong on desktop, it needs too removed everywhere.

[2020-03-03 20:02] #8501 closed

[2020-03-03 20:12] mkarolin opened #8507 "Browser tests fail to build on Windows on master."
<pre>
../../brave/components/brave_rewards/browser/rewards_database_browsertest.cc(163,37): error: no matching member function for call to 'Append'
    user_data_path = user_data_path.Append(db_file_name);
[code]

[2020-03-03 20:25] samartnik opened #8508 "[Android] Change the type to check in BraveRewardsNativeWorker::GetPublisherVerified"
We need to change `WalletStatus` to `PublisherStatus` to check as these values are not correlated.

[2020-03-03 20:33] gdregalo opened #8509 "[Android] Move tabs PR into android-core: 2205,2302,2318,2232."
## Description
Please move teh tab's PRs into android-core:
https://github.com/brave/browser-android-tabs/pull/2205
https://github.com/brave/browser-android-tabs/pull/2302
https://github.com/brave/browser-android-tabs/pull/2318
https://github.com/brave/browser-android-tabs/pull/2232

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## I

[2020-03-03 20:39] #8507 closed

[2020-03-03 20:42] emerick commented on #7588
I wasn't able to repro with a OnePlus 6T device, unfortunately. I tried with Android 9 (which it shipped with) and Android 10 (after installing the updates). I tried debug and release builds and regular ARM and Monoarm64 builds with no luck.

[2020-03-03 20:52] rebron commented on #8256
cc: @AndriusA Can we get the Bandwidth stat hidden? At minimum, we don't need this stat for `release` channel but not sure we need this for any other channels either as @kjozwiak mentioned. Sounds like you're all good for android-core though. cc: @anthonypkeane

[2020-03-03 21:01] anthonypkeane commented on #8256
@karenkliu can you please confirm a design for "Data Saved" on Android and post it here?
Thank you

[2020-03-03 21:15] tmancey opened #8510 "Brave ads unit tests fail on release build"
[code]

[2020-03-03 21:18] anthonypkeane opened #8511 "Implement User wallets (Uphold) on Android"
## Description

Please implement User wallets (Uphold) on Android

We'll need a design for this @jamesmudgett

[2020-03-03 21:21] bsclifton commented on #8256
If we remove for part of desktop, let's remove for all of desktop 😄 Will update issue to reflect that

[2020-03-03 21:26] jsecretan commented on #7639
FWIW, @bsclifton I would say to try to uplift into 1.6.

[2020-03-03 21:29] LaurenWags opened #8512 "tip banner has message for connected publisher when panel does not - follow up to 7739"
## Description
Found while testing #7739 , similar to https://github.com/brave/brave-browser/issues/6182 (pre-VG)

While testing #7739, the panel does not contain a 'connected publisher message' but the tip banner does. In the scenario described below, neither the panel nor the tip banner should have this message.

## Steps to Reproduce

   1. enable rewards on staging profile
   2. claim grant

[2020-03-03 21:33] LaurenWags commented on #7739
Verified passed with

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4378, there is no message on the panel, but there is a message on the tip banner. Logged https://github.co

[2020-03-03 22:04] #8357 closed

[2020-03-03 22:50] btlechowski commented on #6941
Verification passed on

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Ubuntu 18.04 LTS

Verified clicking `Start a new Sync Chain` creates sync chain.
Verified clicking `Start a new Sync Chain` shows `Choose Device Type`
Verified that `Choose Device Type` modal is always shown af

[2020-03-03 23:04] bsclifton opened #8513 "Dragging and dropping URL or file into URL bar doesn't automatically open it"
## Description
Reported by @johnnyryan

## Steps to Reproduce
Dragging a URL in the browser:
   1. Have bookmarks in the bookmarks toolbar
   2. Drag one of them into the URL bar

Dragging a file into the browser:
   1. Have an HTML file
   2. Drag the file into the URL bar of Brave

## Actual result:
Nothing happens ☹️

## Expected result:
It should open the file

## Reproduces how often:
100%

[2020-03-03 23:24] simonhong commented on #8420
@StefanLobbenmeier `net::IsLocalhost()` works nicely :)
and you can see test cases https://github.com/brave/brave-core/pull/4808/files#diff-9c0cd69216d907227d0d91496b9f135aR10

[2020-03-03 23:47] pes10k opened #8514 "Give non-eTLD+1 frames site-length, ephemeral storage"
Currently non eTLD+1 frames get do not have any storage, which means frames expecting normal acting localStorage, document.cookie, etc will have web compat problems.

non eTLD+1 frames should instead get
1. Empty storage (e.g. the frame at start doesn't see any stored values)
2. site length storage (all storage is deleted when all top-level frames pointing at the site are closed / deleted)
3. API

[2020-03-03 23:49] pes10k commented on #8373
closed in favor of https://github.com/brave/brave-browser/issues/8514

[2020-03-03 23:49] #8373 closed

[2020-03-04 00:06] pes10k commented on #6009
@jumde This will be merged extremely shortly. I'm not familiar with the 1password.com exception though; could you pull it once the below PR lands?

https://github.com/brave/brave-core/pull/4792/files

[2020-03-04 00:08] rebron commented on #5451
Closing. Thanks for filing and following up with us @willstocks Really appreciated!

[2020-03-04 00:08] #5451 closed

[2020-03-04 00:15] karenkliu commented on #8256
@anthonypkeane This issue is just to remove the "Data Saved" state on desktop

[2020-03-04 00:17] #8510 closed

[2020-03-04 00:18] kevinp2 commented on #8129
Brave Tor Client Updater (Mac) - Version: 1.0.9

Open New Private window with Tor now works properly.

Thanks for the fix!

On Tue, Mar 3, 2020 at 12:36 AM Pranjal Jumde <notifications@github.com>
wrote:

--
Kevin

[2020-03-04 00:20] rebron opened #8515 "Import history from Safari"
## Description
Support importing 'History' from Safari and update the `Import Bookmarks & Settings...` dialog to show History option, checked by default if History in Safari is present.

## Expected Results

   1. Select `Import Bookmarks and Settings...` from the Brave app menu or from `brave://settings/getStarted`
   2. Select Safari if not already selected.
   3. User only sees Favorites/Bookma

[2020-03-04 00:22] #8499 closed

[2020-03-04 00:26] #8489 closed

[2020-03-04 00:43] tmancey opened #8516 "Implement API to provide a list of creative URL images to pre-cache"
Implement API to provide a list of creative URL images to pre-cache

[2020-03-04 00:44] tmancey opened #8517 "Implement API to purge creative URL images that have expired"
Implement API to purge creative URL images that have expired

[2020-03-04 01:02] josephbona opened #8518 "File download dialog moves the position of the browser window"
## Description
When you start a download of a file the native dialog to choose the desired location of the file opens. When you cancel or submit your selection the browser window is moved down vertically by about 30px once the dialog closes.

## Steps to Reproduce

   1. Right click on any page
   2. Choose 'Save As...'
   3. Choose a location and save or cancel

## Actual result:
![IXlIH6xcvL](ht

[2020-03-04 02:48] mcguiretj18 opened #8519 "Dark Mode for CodeSandbox editor is difficult to see"
## Description

When I enable dark mode for web content in brave://flags and go to this url https://codesandbox.io/s/priceless-dhawan-16bdl

Having issues seeing the content

I understand not to expect everything to work perfectly when forcing dark mode but find it tedious to have to switch back just for one issue.

## Steps to Reproduce

   1. chrome://flags/ and enable force dark mode on web con

[2020-03-04 02:59] mcguiretj18 commented on #8519
Closing this ticket out since this seems to be a chromium issue

[2020-03-04 02:59] #8519 closed

[2020-03-04 04:03] StephD opened #8523 "Downloading proxy script take ages"
## Description

Every time I open my laptop from sleep after a small period of sleep, like a night. It can be in the morning but also can be after 2 hours, don't know exactly. Brave cannot load any website for, at least, 1 minute. I can open any tab or refresh my tabs, they will keep loading state.
The only thing I notice is a message on the bottom left that they "Downloading proxy script..."

Not

[2020-03-04 04:07] ryanml opened #8524 "brave://wallet alias not shown while looking up an ENS domain or on a suspicious site"
Reproduction steps:
1. Enable Crypto Wallets via `brave://wallet`
2. Visit a site that will trigger phishing detection, a list can be found here: https://github.com/MetaMask/eth-phishing-detect/blob/master/src/hosts.txt
3. Visit an ENS url, such as `http://vitalik.eth`

Results:
<img width="1329" alt="Screen Shot 2020-03-03 at 8 04 13 PM" src="https://user-images.githubusercontent.com/8732757/7584

[2020-03-04 04:33] #8420 closed

[2020-03-04 05:18] bsclifton commented on #8155
@qingxiang-jia very nice! Thanks for reporting the bug there and for sharing an update on the status 😄

[2020-03-04 05:18] #8155 closed

[2020-03-04 06:06] bsclifton commented on #6303
@yrliou is this issue a duplicate of https://github.com/brave/brave-browser/issues/2761?

[2020-03-04 06:06] bsclifton commented on #7980
Thanks for the report folks - I believe this is already tracked with https://github.com/brave/brave-browser/issues/2761

Unfortunately, there hasn't been any progress made on this. But you can follow that issue for updates 😄

[2020-03-04 06:06] #7980 closed

[2020-03-04 06:09] bsclifton commented on #1457
This could be implemented as a custom group policy setting. There is already an always incognito group policy setting captured with `IncognitoModeAvailability`
[code]

Perhaps we could consider extending this group policy setting and offer a `3 = Tor mode forced`?

[2020-03-04 06:13] bsclifton commented on #8420
Marked as `QA/No` since this is covered with automated tests 👍
[code]

[2020-03-04 06:15] bsclifton commented on #7639
Actually- uplift may not be needed... current plan is to expedite 1.7 to April 7 😄 (skipping the 1.6 version)

[2020-03-04 06:17] bsclifton commented on #8129
@swinginsam can you please try the steps that @jumde shared above? Should be fixed 😄

If you can verify too, let's close this issue out! 😄

[2020-03-04 06:21] yrliou commented on #6303
@bsclifton Yes, feel free to close as duplicate, BTW I think that issue should remove private window from the title since it is actually supported but just behind a switch.

[2020-03-04 06:27] #6303 closed

[2020-03-04 07:30] kjozwiak commented on #8438
Verification **PASSED** on `macOS 10.15.3 x64` using https://github.com/brave/ethereum-remote-client/releases/tag/0.1.50.

[code]

* Went through the STR outlined via https://github.com/brave/brave-browser/issues/8438#issue-572135784 and ensured that only a single scroll bar was visible.

<img width="1209" alt="Screen Shot 2020-03-04 at 1 15 17 AM" src="https://user-images.githubusercontent.com/26

[2020-03-04 08:15] Lucianod28 opened #8525 "New window doesn't focus on URL bar"
## Description

When I open a new window, the focus is not in the URL bar, so I have to click on the URL bar before I can search. This happens only for new windows, not new tabs.

## Steps to Reproduce

   1. Open Brave
   2. Open a new window

## Actual result:

Focus is not on URL bar.

## Expected result:
Focus on URL bar.

## Reproduces how often:

Always.

## Brave version (brave://version in

[2020-03-04 09:18] GeetaSarvadnya commented on #8499
Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

![image](https://user-images.githubusercontent.com/38657976/75863855-296d8400-5e27-11ea-81ff-f8d05f1e801d.png)

[2020-03-04 09:31] GeetaSarvadnya commented on #8282
Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified STR from the description
- Top tiles removed message has proper padding, verified both clean and upgraded profile
![image](https://user-images.githubuserconte

[2020-03-04 09:44] #8007 closed

[2020-03-04 09:46] AndriusA commented on #8256
I'm not an impartial judge for whether to keep or remove - I obviously like it, but can remove if instructed

[2020-03-04 09:50] GeetaSarvadnya commented on #7866
Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified STR from the description

[2020-03-04 10:02] GeetaSarvadnya commented on #8325
Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified STR from the description
- Verified that brave didn't crash when the sync is enabled and disabled multiple times using the flag `about:flags#brave-sync`

[2020-03-04 10:17] #5726 closed

[2020-03-04 10:20] GeetaSarvadnya commented on #4621
Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified STR from the description
- Verified that click "Test" output the audio
![image](https://user-images.githubusercontent.com/38657976/75869568-c2a09880-5e2f-11ea

[2020-03-04 10:26] GeetaSarvadnya commented on #8419
Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Issue Reproducible in 1.4.95 wherein `https://brave-api.archive.org/` is being listed in Fiddler network monitoring tool request/response
- Verified the test plan from

[2020-03-04 10:32] NejcZdovc commented on #8285
this was fixed on desktop here https://github.com/brave/brave-core/pull/4133

[2020-03-04 11:11] tmancey commented on #8415
Fixed in https://github.com/brave/brave-browser/issues/7866

[2020-03-04 12:05] AndriusA opened #8526 "Update Rust compiler to current stable (1.41.1)"
## Description

Our currently mirrored toolchain is 1.35.0 which is quite old (1.41.1 is current stable), and there have been a lot of changes that would reduce friction.

## Steps to Reproduce

[code]

## Actual result:

[code]

## Expected result:

[code]

## Reproduces how often:

every time

## Brave version (brave://version info)

N/A

[2020-03-04 12:09] #7912 closed

[2020-03-04 12:57] btlechowski commented on #8512
Reproduced on

Brave | 1.5.106 Chromium: 80.0.3987.122 (Official Build) beta (64-bit)
-- | --
Revision | cf72c4c4f7db75bc3da689cd76513962d31c7b52-refs/branch-heads/3987@{#943}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/75828937-44031700-5dad-11ea-953b-61f4781bb5f5.png)

[2020-03-04 13:10] rafaelcastrocouto opened #8527 "[Android] Suggestion - Add private tab button"
After pressing the tabs button, the bottom bar changes and it only displays two buttons:
A small menu and a large plus sign to open a new tab (as shown in the screenshot).

![Screenshot_20200303-232942_Brave](https://user-images.githubusercontent.com/422159/75881993-fd3e0d00-5dfe-11ea-8a2a-ca85be2594f9.jpg)

It would be useful to have two extra buttons instead of the large one:

a button to open p

[2020-03-04 13:36] #7183 closed

[2020-03-04 15:22] mwoodson commented on #8461
Adding Linux instructions here, Fedora 31 on March 4, 2020, because I couldn't find anything!  At least it will be written down.

Looks like Brave is using the /etc/chromium directory to read policies.

[code]

Contents of _example.json_
[code]

Save and restart Brave.

[2020-03-04 15:34] GeetaSarvadnya commented on #8505
Looks good hence closing the issue.

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-03-04 15:34] #8505 closed

[2020-03-04 15:39] #7147 closed

[2020-03-04 15:41] wivern-co-uk commented on #820
+1 - can't switch fully to Brave and have to use another browsers, which can move passwords across devices and platforms.
@rebron, what we(community) can do to bump priority?

[2020-03-04 15:58] #8512 closed

[2020-03-04 16:03] NejcZdovc opened #8528 "We should only have one data type in contributon_info created_at"
Right now for AC we let DB to insert timestamp in `created_at` field for `contributon_info`. Problem is that if we insert it via query (for other types) date is not in the same format.

![image](https://user-images.githubusercontent.com/9574457/75898272-216b0f80-5e3a-11ea-9e8a-c5a6103c2be2.png)

[2020-03-04 16:17] bsclifton commented on #8256
@AndriusA let's remove - but only for Desktop 😄 As Android Core is now using this code-base, you should be able to test for Android and only use in that instance

[2020-03-04 16:34] btlechowski commented on #8506
LGTM

Verification passed on

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Ubuntu 18.04 LTS

[2020-03-04 16:34] #8506 closed

[2020-03-04 16:58] kjozwiak opened #8529 "Release Notes for 1.4.x Hotfix 1 (Release Channel)"
Release Notes
 - No audio output in Google Meet (blocked by autoplay).([#4621](https://github.com/brave/brave-browser/issues/4621))
 - Application crashes when calculating the winning page classification category.([#7866](https://github.com/brave/brave-browser/issues/7866))
 - Buttons on top tiles removed message needs padding.([#8282](https://github.com/brave/brave-browser/issues/8282))
 - Duplic

[2020-03-04 17:04] LaurenWags commented on #8504
Thanks for the help with this one @kjozwiak !

Brave | 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | macOS Version 10.14.6 (Build 18G3020)

[2020-03-04 17:17] bsclifton commented on #8008
@LucaTheHacker not sure I understand the complaint- when I download the image, it looks OK to me?

I do need to click the magnifying glass on the image to see the image at it's true resolution. Can you describe the problem in more detail?

[2020-03-04 17:18] ryanml opened #8530 "Transactions can be signed from the incorrect ledger account"
This is a fix we need to pull in upstream via: https://github.com/MetaMask/eth-ledger-bridge-keyring/pull/14

STR:

1. Connect a Ledger account > 1 (e.g. the 2nd account)
2. Confirm that sending a transaction is signed correctly
3. Reload MetaMask (or, for non-MM, construct a new instance from serialized state)
4. Confirm that sending a transaction is signed with the 1st account on the Ledger (an

[2020-03-04 17:19] bsclifton commented on #8004
cc: @NejcZdovc

[2020-03-04 17:22] bsclifton commented on #464
@haakonstorm if you wanted to get setup and compiling with Brave, pease let me know if I can help

We do have some work planned soon which uses a sidebar (for example, Playlists). Once we have something up and running, extending that wouldn't be too bad

cc: @rebron for comment

[2020-03-04 17:23] bsclifton commented on #7994
cc: @mbacchi @fmarier @mihaiplesa @bkero

[2020-03-04 17:38] mbacchi commented on #7994
This works on Ubuntu 16, can you try again? We did have a problem with our GPG key at one point, and this may have been transient for you.

[2020-03-04 17:46] #8530 closed

[2020-03-04 18:39] #8529 closed

[2020-03-04 18:51] #8509 closed

[2020-03-04 19:00] NejcZdovc commented on #8004
@Gustbel when did you connect to uphold on this computer? Did you claim ad grant on this computer?

[2020-03-04 19:42] bsclifton commented on #7208
Closing as there is no action we can take here. @kuesa I've never submitted a patch through Chromium GitHub repo- I've only seen work accepted when going through https://chromium-review.googlesource.com/

Let me know if you need help getting started contributing upstream; There's a great guide here which goes over creating a CL, etc
https://chromium.googlesource.com/chromium/src/+/master/docs/cont

[2020-03-04 19:42] #7208 closed

[2020-03-04 19:46] bsclifton commented on #6128
@DrDanik @CJCombrink is this still an issue for you all?

[2020-03-04 19:50] bsclifton commented on #6013
Hi @darrylbutcher - our wiki has some good information about getting setup:
https://github.com/brave/brave-browser/wiki

We do have a specific section about patching too:
https://github.com/brave/brave-browser/wiki/Patching-Chromium

This might be as easy as creating a new file under `chromium_src` (matching directory structure of existing icon)

[2020-03-04 19:52] bsclifton commented on #7637
@enomarin is this still happening for you?

[2020-03-04 19:55] rebron commented on #6128
I tried on 1.4.95 on Windows and 1.7.40 on macOS and I'm able to see the QR code with shields up and was able to login properly.

[2020-03-04 19:59] samartnik opened #8532 "[Android] Convert Punnycode domain names into Unicode on the panel, tipping activities"
Moving issue from tabs https://github.com/brave/browser-android-tabs/issues/2289

[2020-03-04 20:03] kjozwiak commented on #8489
@deeppandya mind adding some visual examples of the issue and what the fix should look like so QA has some idea of what needs to be checked?

Adding which areas were affected that need to be checked would also be helpful.

[2020-03-04 20:03] karenkliu opened #8533 "Shields should show Simple view by default for new users + browser profiles"
## Description
Currently, new users and browser profile see the Advanced view of Shields by default, but it should show Simple. Seems to be a bug that broke https://github.com/brave/brave-browser/issues/1196 because it was working correctly before.

## Test plan / Steps to Reproduce

   1. Open a new browser profile or destroy your profile directory for Brave
   2. Launch into Brave
   3. Visit br

[2020-03-04 21:08] #8524 closed

[2020-03-04 21:28] rebron commented on #8002
@jofftiquez We need to clarify that the Safe Browsing service is coming from Google and not a service created by Brave. https://safebrowsing.google.com/ The Safe Browsing service was put into Firefox originally and pre-dates Chrome and is used by other browsers as well.

@MatthewZito Thanks for the fix, this was great. Let's do it again!

[2020-03-04 21:58] bsclifton commented on #8533
I made changes related to this, but it was signed off and working in 0.69.x:
https://github.com/brave/brave-core/pull/3154

Basically, when profile is checked, it will look to see if the user is on their first run (ex: no profile directory exists). If no profile directory exists, it defaults to simple mode.

[2020-03-04 22:00] bsclifton commented on #8533
@karenkliu @rebron unable to reproduce with a fresh profile. I also tried creating a new profile from inside the browser (Hamburger => Create New Profile). Both showed simple mode

I don't think there's a bug- can you verify please?

[2020-03-04 22:00] SergeyZhukovsky opened #8535 "Intermittent crash in Confirmations due to invalid wallet"
We have such a crash somewhere in rewards/ads
`Stack Trace:
  RELADDR   FUNCTION                                                                          FILE:LINE
  v------>  memcpy                                                                            /cargo/registry/src/github.com-1ecc6299db9ec823/compiler_builtins-0.1.9/src/mem.rs:15:35
  0000000000903588  __aeabi_memcpy

[2020-03-04 22:16] bsclifton commented on #8533
OK bug identified - let me update the steps in the original post 😄

[2020-03-04 22:22] LaurenWags commented on #6536
`QA Blocked` on https://github.com/brave/brave-browser/issues/8362 which will be resolved by the following PRs:
- https://github.com/brave/brave-core/pull/4719 (1.5.x)
- https://github.com/brave/brave-core/pull/4718 (1.6.x)

[2020-03-04 22:27] bsclifton commented on #4618
Looks like somewhere along the line (maybe Chromium 80 upgrade?) this was resolved:
<img width="924" alt="Screen Shot 2020-03-04 at 3 27 00 PM" src="https://user-images.githubusercontent.com/4733304/75928898-a0594b80-5e2c-11ea-8e83-386f2b40d6de.png">

[2020-03-04 22:27] #4618 closed

[2020-03-04 22:37] LaurenWags opened #8536 "setting to disable ad conversion detection isn't working"
## Description
During an overview of ad conversion with @tmancey it was discovered that the `Allow ad conversion detection` checkbox does not prevent ads with conversion settings in the catalog from displaying.

## Steps to Reproduce

   1. Launch profile with staging catalog for US
   2. Enable Rewards
   3. Uncheck the `Allow ad conversion detection` checkbox
   4. Browse such that you would tri

[2020-03-04 22:38] bsclifton commented on #8489
Definitely need a higher quality issue here - the template is completely empty. Let's try to fill in fields that are applicable and include screenshots if necessary. There needs to be enough here to accurately describe the issue and for QA to verify

[2020-03-04 22:39] rebron commented on #4618
Tried in 1.4.95 for Windows Australian English and again in Canadian English/Canada eh ;-) and saw only Brave Help.

[2020-03-04 22:53] LaurenWags opened #8537 "importing bookmarks from Safari appears successful but fails - follow up to 2710"
## Description
Follow up to #2710

While testing above issue I am not getting the prompt from https://github.com/brave/brave-core/pull/4530

On further inspection, it looks like maybe only a text update (https://github.com/brave/brave-core/pull/4815) to the above PR was uplifted, not the code for the prompt? See https://github.com/brave/brave-core/commits/1.5.x

## Steps to Reproduce

   1. Use 1.

[2020-03-04 22:53] diracdeltas opened #8538 "BAT ads libraries should probably set INCLUDE_PRIVATE_REGISTRIES"
https://github.com/brave/brave-core/search?q=EXCLUDE_PRIVATE_REGISTRIES&unscoped_q=EXCLUDE_PRIVATE_REGISTRIES

let's say that 2 different advertisers are running ad landing pages on Heroku; one is at brave.herokuapp.com and the other is cars.herokuapp.com. when EXCLUDE_PRIVATE_REGISTRIES is set, these two domains would count as the same domain in checks like https://github.com/brave/brave-core/blo

[2020-03-04 23:34] LaurenWags commented on #8537
need to wait for 1.5.108 or above for testing this

[2020-03-04 23:34] #8537 closed

[2020-03-05 00:01] rebron commented on #8503
Closing. Released 1.4.96 at March 4, 2020 at 4pmPST.

[2020-03-05 00:01] #8503 closed

[2020-03-05 00:50] #5614 closed

[2020-03-05 00:52] tmancey opened #8539 "You have exceeded the allowed ads per hour after viewing 1 ad"
## Description

You have exceeded the allowed ads per hour after viewing 1 ad

## Steps to Reproduce

   1. Set "Ads per hour" to 2 in Ads Settings
   2. View an ad
   3. Click the ad
   4. Wait 30 mins

## Actual result:

The ad was not shown due to exceeding the allowed ads per hour, as all confirmation types such as viewed, clicked, dismissed count towards the history

## Expected result:
The a

[2020-03-05 01:16] #8538 closed

[2020-03-05 01:19] jofftiquez commented on #8002
@rebron thanks, I understand now.

[2020-03-05 02:10] simonhong opened #8540 "Rename ntp_sponsored_images to ntp_background_images"
In the future, ntp_sponsored_images component will act as a general background provider.

[2020-03-05 02:43] gdregalo opened #8541 "[Android] Move tabs PR into android-core: 2224,2393,2400."
## Description
Please move the tab's PRs into android-core:
https://github.com/brave/browser-android-tabs/pull/2224
https://github.com/brave/browser-android-tabs/pull/2393
https://github.com/brave/browser-android-tabs/pull/2400

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Be

[2020-03-05 03:37] #3121 closed

[2020-03-05 04:41] bsclifton commented on #5614
Marked as `QA/No` as this should be covered by automation, per @pes10k

[2020-03-05 05:07] kjozwiak opened #8542 "certain extensions breaking due to WebSQL being disabled"
## Description

It appears that some extensions are failing due to us disabling WebSQL as per https://github.com/brave/brave-core/pull/4463.

<img width="611" alt="Screen Shot 2020-03-04 at 9 55 19 PM (1)" src="https://user-images.githubusercontent.com/2602313/75949779-4466e500-5e75-11ea-9ffa-c16fd1fa492d.png">

<img width="471" alt="Screen Shot 2020-03-04 at 11 48 38 PM" src="https://user-images.

[2020-03-05 05:09] bsclifton opened #8543 "WebSQL being disabled impacts Speed Dial extension (possibly others)"
## Description
Disabling of WebSQL happened with https://github.com/brave/brave-core/pull/4463

I believe this broke the Speed Dial extension and possibly others

## Steps to Reproduce

   1. Use Nightly or Dev (1.6 or 1.7)
   2. Download / install Speed Dial https://chrome.google.com/webstore/detail/speed-dial-fvd-new-tab-pa/llaficoajjainaijghjlofdfmbjpebpa/related?hl=en
   3. Visit a new tab

##

[2020-03-05 05:10] bsclifton commented on #8543
Closing as dupe of https://github.com/brave/brave-browser/issues/8542

[2020-03-05 05:10] #8543 closed

[2020-03-05 05:15] #8542 closed

[2020-03-05 05:16] bsclifton commented on #7522
Commit still exists in 1.6; but is reverted from Nightly (1.7) with https://github.com/brave/brave-core/pull/4842

[2020-03-05 05:28] jumde commented on #7522
Reverted because this api is used by extensions. @pes10k - do you have any tooling to check how many chrome extensions are using this api. Instead of disabling websql completely may be we just restrict it to extensions only

[2020-03-05 05:42] bsclifton commented on #7522
If we do disable again, we should update https://github.com/brave/brave-browser/wiki/Deviations-from-Chromium-(features-we-disable-or-remove) - I couldn't find an entry for this there

[2020-03-05 07:53] yrliou commented on #8234
Test plan is specified in https://github.com/brave/brave-core/pull/4838#issue-383984056.

[2020-03-05 08:00] mahalde opened #8544 "Google Auth login: This browser or app may not be secure."
## Description

Whenever I try to login via Google, the login fails with the following message:

**Couldn't sign you in**
This browser or app may not be secure.

## Steps to Reproduce

   1. Go to google.com
   2. Click the login button in the top right corner.
   3. Log in with your information

## Actual result:

It does not log you in, instead shows the login error.
![image](https://user-images

[2020-03-05 08:17] #8528 closed

[2020-03-05 08:57] #8539 closed

[2020-03-05 09:01] krynv opened #8545 "Auto format JSON - Feature Request"
## Description

As a developer, it's frustrating having to copy & paste raw, minified/ unformatted JSON into a JSON formatter or installing a third party app to format the JSON in a nice way - when reading from an API I'm currently developing.

I'd like to see an 'auto-format' option for JSON objects, with perhaps a built in search feature so I can easily traverse the objects I'm querying.

For ex

[2020-03-05 09:04] tmancey opened #8546 "Brave Ad notifications on desktop should timeout consistently across platforms"
Brave Ad notifications should timeout consistently across desktop platforms. So we need to change Windows and Linux to timeout after 2 minutes.

*Currently:*
macOS: 2 minutes
Windows: ∞
Linux: ∞

When an ad notification is ready to be shown we call `AdsServiceImpl::ShowNotification` which shows a native OS notification and then start a timer to force close the notification after 120 seconds (see *

[2020-03-05 09:36] #8536 closed

[2020-03-05 09:56] vdavid commented on #8281
I'm quite sure I haven't been at `brave://wallet`, and I definitely wasn't in the past 1 month. I ended up here because I'm also seeing the warnings in the console. I hope it helps.

[2020-03-05 10:18] tmancey opened #8547 "Improve diagnostic logging for found eligible ads"
Improve diagnostic logging for found eligible ads

[2020-03-05 14:21] krynv commented on #8431
I have the same issue sometimes.

Intermittent, not able to replicate.

Have not touched cache, cookies or the shield.

[code]

[2020-03-05 14:36] samartnik opened #8548 "[Android] Move rewards panel ui fixes from tabs to core"
Move these fixes:
https://github.com/brave/browser-android-tabs/pull/2070
https://github.com/brave/browser-android-tabs/pull/2072

[2020-03-05 14:52] eldk commented on #7504
Hello,

I think you missed some elements : if the 1.gif is delivered from the domain (https://domain/folder/1.gif), why is it reported as a tracker ?

I may count https://domain/folder/whatyouwant.gif  and this will not be blocked.

Thanks,

Eric

[2020-03-05 15:48] pat-san opened #8549 "tor-0.3.5.8-win32-brave-1 blocked by WindowsDefender - Trojan:Win32/Skeeyah!MTB"
Description
WD block tor-0.3.5.8-win32-brave-1 file and Tor network

Steps to Reproduce

   1. Download and install Release Channel v1.4.96, BraveBrowserStandaloneSetup.exe from github
   2. Open Brave
   3. Open Tor Private Window

Actual result:
Windows defender block file and Tor network: C:\Users\USER\AppData\Local\BraveSoftware\Brave-Browser\User Data\cpoalefficncklhjfpglfiplenlpccdb\1.0.9\to

[2020-03-05 15:52] #8508 closed

[2020-03-05 15:53] #8548 closed

[2020-03-05 16:07] pes10k commented on #5935
Closed in favor of https://github.com/brave/brave-browser/issues/8514, which includes this functionality

[2020-03-05 16:07] #5935 closed

[2020-03-05 16:15] minaiism commented on #8281
Same as @vdavid .I haven't been at brave://wallet whatsoever.

[2020-03-05 16:31] #8216 closed

[2020-03-05 16:35] samartnik opened #8550 "[Android] Move crash fix on onboarding from tabs to core"
Move this crash fix https://github.com/brave/browser-android-tabs/pull/2247

[2020-03-05 16:39] deeppandya opened #8551 "[Android] Move Update onboarding with ads region changes"
## Description
Move https://github.com/brave/browser-android-tabs/pull/2376

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website pr

[2020-03-05 16:49] eDave56 commented on #8549
Same behavior for Beta 1.5.108, Dev 1.6.58, and Nightly 1.7.44 in Windows 10 OS Version 1909 (Build 18363.657).
![image](https://user-images.githubusercontent.com/42411509/76004354-5bd6ba00-5ed7-11ea-8cfa-029417615f98.png)

[2020-03-05 16:57] SergeyZhukovsky commented on #6407
Closing that issue as related tasks and issues are pulled from the old repo.

[2020-03-05 16:57] #6407 closed

[2020-03-05 17:20] #8234 closed

[2020-03-05 17:25] #7504 closed

[2020-03-05 17:38] #8550 closed

[2020-03-05 17:39] Brave-Matt commented on #2153
+1
https://community.brave.com/t/option-to-open-vs-download-file/111315/7

[2020-03-05 17:56] rebron opened #8552 "preserve "Show Sponsored Images" off setting when "Show Background Image" is toggled on"
## Description
On the New Tab Page, when going to dashboard settings and disabling "Show Sponsored Images" and "Show Background Image", "Show Sponsored Images" will get reenabled when selecting "Show Background Image".

Only "Show Background Image" should be toggled on while "Show Sponsored Images" should continue to be toggled off.

## Steps to Reproduce

   1. Go to brave://newtab -> and select

[2020-03-05 17:57] rebron commented on #8552
cc: @petemill

[2020-03-05 17:59] zfoxzero commented on #8455
T_T
why not have rs file ?
https://adblock-data.s3.amazonaws.com/4/rs-11F62B02-9D1F-4263-A7F8-77D2B55D4594.dat
https://brave-core-ext.s3.brave.com/release/llhecljkijgcaalnbfadljdpkpbehakp/extension_1_0_501.crx

[2020-03-05 19:06] #8502 closed

[2020-03-05 19:06] #8541 closed

[2020-03-05 19:10] emerick commented on #7588
Spoke with @SergeyZhukovsky and we're going to move this out of the upcoming 3/17 release as it also happens in browser-android-tabs per https://bravesoftware.slack.com/archives/GUA24E92P/p1582872239001400 and https://github.com/brave/brave-browser/issues/7588#issuecomment-592390442.

[2020-03-05 20:05] jumde opened #8553 "[Android] CRLSets should be enabled by default"
## Description
CRLSets protects against revoked certificates. This component is not installed by default on android-core

## Steps to reproduce

   1. Navigate to brave://components, the version is 0.0.0.0
   2. Navigate to https://revoked.badssl.com/

## Actual result
No certificate error

## Expected result
Certificate Error

## Issue reproduces how often
Easily

## Issue happens on
   - Current

[2020-03-05 20:17] jumde opened #8554 "[Android] Extenal links should request user confirmation"
Moving from android-tabs: https://github.com/brave/browser-android-tabs/issues/1222

[2020-03-05 20:23] jumde opened #8555 "[Android] Block Audio Context Fingerprinting"
## Description
From: https://github.com/brave/browser-android-tabs/issues/856

## Steps to reproduce
1. Navigate to https://audiofingerprint.openwpm.com
2. Enable Fingerprinting Protection in Brave Shields
3. Refresh

## Actual result
Allowed

## Expected result
Blocked

## Issue reproduces how often
Easily

## Issue happens on
   - Current Play Store version? Yes
   - Beta build? Yes

## Device d

[2020-03-05 20:32] jumde opened #8556 "[Android] Blocks WebGL fingerprinting"
## Description
From: https://github.com/brave/browser-android-tabs/issues/855

## Steps to reproduce
1. Navigate to browserleaks.com/webgl
2. Enable Fingerprinting Protection in Brave Shields
3. Refresh

## Actual result
Allowed

## Expected result
Blocked

## Issue reproduces how often
Easily

## Issue happens on
   - Current Play Store version? Yes
   - Beta build? Yes

## Device details
   - In

[2020-03-05 20:41] rebron commented on #8525
Also occurs on Chrome, checked with version Version 80.0.3987.122.

[2020-03-05 21:12] bsclifton commented on #8215
Should be fixed with https://github.com/brave/brave-core/pull/4721

[2020-03-05 21:12] #8215 closed

[2020-03-05 21:22] bridiver opened #8557 "[Android] use asm to avoid patching java classes"
## Description
asm https://asm.ow2.io/ is already part of the build for java so we can take advantage of it to eliminate a lot of the patches

[2020-03-05 21:23] #8557 closed

[2020-03-05 21:32] rebron commented on #8476
@Votarb Can you install our latest 1.4.96 and see if that fixes things for you?

[2020-03-05 21:39] SergeyZhukovsky commented on #8456
Home button worked as expected and on video as well.
There were 2 more issues:
`Settings->Site Settings->Dektop view`
`Settings->Site Settings->Video playback in Brave`
were not remained.

[2020-03-05 22:00] #6904 closed

[2020-03-05 22:00] #7997 closed

[2020-03-05 22:23] bsclifton commented on #6176
Let's use this issue to capture the Android specific work needed to get P3A working on Android. https://github.com/brave/brave-browser/issues/6688 captures the UI changes needed

[2020-03-05 22:56] triqi opened #8558 "Pinned tabs are not restored when closing the window [Mac OS]"
## Description
When starting Brave, I get a new window (assuming I only have one profile) and a default tab. I navigate to a URI and pin the tab. When I close that window (using the cross on the window header) and open a new one (from the file menu), my pinned tab is not restored. The only way to have pinned tabs restored is on app quit (hard exit with Cmd + Q).

## Steps to Reproduce
   1. Start

[2020-03-05 23:19] jonathanKingston commented on #8376
It's actually not this, `g_brave_browser_process` isn't initialised due to the tests using `TestingBrowserProcess` which doesn't extend from `BraveBrowserImpl` and instead `BrowserProcess` which means it can't simply be swapped out.

I tried extending `BraveBrowserImpl` instead and initialising various parts, but it's not a simple transposition and I'm starting to think moving the brave code into

[2020-03-05 23:54] bsclifton commented on #8550
Added missing test plan to original post

[2020-03-05 23:56] bsclifton commented on #8549
cc: @jumde for triage

[2020-03-05 23:58] bsclifton commented on #8281
@ryanml even if you don't enable Crypto Wallets, the extension is always running. Visible in the Task Manager (Hamburger => More Tools => Task Manager)
<img width="675" alt="Screen Shot 2020-03-05 at 4 57 59 PM" src="https://user-images.githubusercontent.com/4733304/76036842-825e1a80-5f02-11ea-8e72-f98cb01f001b.png">

[2020-03-06 00:02] bsclifton commented on #8548
Updated to link to the test plans used for original testing

[2020-03-06 00:58] bbondy commented on #8281
Hey @bsclifton that's not right for a fresh profile that hasn't navigated to brave://wallet on Release channel up to Nightly.
Nightly, Beta, and Dev also has some MetaMask compatibility work which will require you to select Crypto Wallets as your Dapp provider before it will display any warnings.

[2020-03-06 01:07] pes10k opened #8559 "Top Level Document Blocking"
**Problem**
uBlock Origin, Brave’s current competitor for the best blocking tool, allows filter list authors to block the top-level, first-party request.  This is useful when a page is overall harmful, but doesn’t fit SafeBrowsing’s threat model.  It’s also useful as a (not perfect, but effective) defense against phishing, bounce tracking, etc.  Similar to browser UI for cert errors, uBlock Origin

[2020-03-06 01:13] CalebRotello commented on #7564
Is this still wanted? If so, I would like to take it on.

[2020-03-06 01:33] T-Nawaz commented on #8549
For now, is it ok to restore this file from windows defender?

[2020-03-06 01:58] jumde commented on #8549
We submitted this file for analysis. Here is the response from Windows Defender team:

[code]

[2020-03-06 02:06] karenkliu commented on #8559
Designs and assets added!

[2020-03-06 02:06] karenkliu commented on #7464
Updated designs to reflect that these should be full-screen HTML pages using our web UI.

[2020-03-06 02:09] karenkliu commented on #1149
Updated designs to reflect that these should be full-screen HTML pages using our web UI.

[2020-03-06 02:29] kjozwiak commented on #8530
Verification *PASSED** on `macOS 10.15.3 x64 (Catalina)` using https://github.com/brave/ethereum-remote-client/releases/tag/0.1.51

[code]

* ensured that connected to a Ledger HW device worked without any issues
* ensured that sending ERC20 tokens from the Ledger into a CW and MM created account worked without any issues
* ensured that receiving ERC20 tokens from CW and MM created accounts into t

[2020-03-06 04:39] kjozwiak commented on #7687
Seems like this is still happening and it's due to a Windows update. There's a "workaround" via https://support.ledger.com/hc/en-us/articles/360023190873-Fix-for-Windows-10-security-popup but I couldn't get it to work on my machine. It keeps interrupting the transactions making it very difficult to use on Windows.

There's also a blog post as per https://www.ledger.com/your-ledger-device-and-the-u

[2020-03-06 05:32] kjozwiak opened #8561 "Manual test run for Tor 1.0.7 component update on macOS"
#### **`macOS 10.15 Catalina`**

#### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open

[2020-03-06 05:34] kjozwiak opened #8562 "Manual test run for Tor 1.0.7 component update on Windows"
#### **`Windows 10 x64`**

#### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New P

[2020-03-06 05:35] kjozwiak opened #8563 "Manual test run for Tor 1.0.7 component update on Linux"
## Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private Window with Tor` and c

[2020-03-06 05:37] kjozwiak commented on #8561
Example of how a valid signature check should look like:

[code]

[2020-03-06 05:46] bsclifton commented on #7564
@CalebRotello basically, it should already be done (since it's available via group policy; so this is already implemented on Desktop, just needs testing on Android). I'm not sure why this was tagged with `great first issue` as it would probably be one of the harder ones to do (if you were not using group policy).  I'll remove that label as it may have been an accident

@CalebRotello were you wante

[2020-03-06 05:53] chkk525 opened #8564 "Failed to send message on Messenger.com"
## Description

- When I try to send a message on messenger.com, the input area turns into error display that rejects further input.

## Steps to Reproduce

   1.  Go to messenger.com
   2.  Try to send message to someone.
   3.  After sending several messages, the error happens

## Actual result:

![image](https://user-images.githubusercontent.com/3054915/76056498-1ccd6500-5fba-11ea-8df7-45b896bf

[2020-03-06 06:07] CalebRotello commented on #7564
@bsclifton I am actually wanting to get started with Desktop dev, I just misunderstood Group Policy

[2020-03-06 08:22] kjozwiak commented on #8562
Example of how a valid signature check should look like:

[code]

[2020-03-06 08:31] wooque opened #8565 "No internet page: Chrome instead of Brave"
## Description
No internet page says Chrome instead of Brave

## Steps to Reproduce

   1. Try to open page without internet
   2.
   3.

## Actual result:

Says: chrome will let you now when the page is ready
![Screenshot_20200306-080550_Brave](https://user-images.githubusercontent.com/1936195/76066116-3a380a00-5f8d-11ea-9d06-9ccf36c6a7d3.png)

## Expected result:
Should say: Brave will let you k

[2020-03-06 08:37] kjozwiak commented on #8565
Thanks for bug report @wooque 👍 Which version of Brave are you using? This is being addressed via https://github.com/brave/browser-android-tabs/issues/2595 in the current released version of Brave.

@SergeyZhukovsky I believe this is also fixed in `android-core` as well?

[2020-03-06 08:43] kjozwiak commented on #8561
#### **`macOS 10.15 Catalina`**

[code]

#### **`macOS 10.13 High Sierra`**

[code]

[2020-03-06 08:46] wooque commented on #8565
I'm using 1.5.8, I see that's fixed and will be released in 1.5.9

[2020-03-06 08:46] #8565 closed

[2020-03-06 09:01] LucaTheHacker commented on #8008
I'm saying that the new tab image resolution doesn't match the screen one. I used that image just to allow users to compare the resolutions

[2020-03-06 10:42] Tectract opened #8566 "Completely Disable all Notifications"
When I install an extension, I get a notification popup saying "such and such extension installed"

I don't want it. I don't want any popup notifications ever, about anything. Popups should have died in the 90's, they are bad design imho. All notifications should have the option to permanently be disabled, or even better, they should be disabled BY DEFAULT.

So, how can I get rid of these annoying

[2020-03-06 10:51] #8547 closed

[2020-03-06 11:26] Tectract opened #8567 "Don't allow gifs to autoplay"
Can we get an option to disable gifs from auto-playing? Web animations are soooooooo annoying.

[2020-03-06 11:27] Tectract commented on #8567
Ideally we could "block all animation and timers" by default and then have the option to whitelist sites where animation is allowed.

[2020-03-06 11:48] AndriusA opened #8568 "Bandwidth savings predictions only report 0"
## Description

P3A reporting has been in nightly for a while but all stats are showing 0

## Steps to Reproduce

With normal usage histograms (brave://historams) should show non-0 numbers

## Actual result:

Histogram: Brave.Savings.BandwidthSavingsMB recorded 603 samples, mean = 0.0 (flags = 0x61)
0  ------------------------------------------------------------------------O (603 = 100.0%)
1  ...

[2020-03-06 12:17] iefremov opened #8569 "Fix p3a component layering"
Remove includes of `"/chrome/*` in p3a component

[2020-03-06 13:21] btlechowski commented on #8563
Verification passed on

Brave | 1.7.47 Chromium: 80.0.3987.132 (Official Build) nightly (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Ubuntu 18.04 LTS

[2020-03-06 13:21] #8563 closed

[2020-03-06 13:48] wavesurf432 opened #8570 "Incorrect BAT Payouts"
## Description
Hello, I just recieved my monthly payout from Brave Ads and I recieved about 13 more BAT than estimated pending rewards stated. I was expecting 15.8 BAT and recieved 29 BAT.

The same thing happened last month. I had about 10-15 BAT at the end of January and recieved 29 or so BAT. There was no mention of a grant under the details tab, but that's what I assumed it was.

## Steps to R

[2020-03-06 13:54] LaurenWags commented on #8561
#### **`macOS 10.14 Mojave`** - `PASSED`

[code]

[2020-03-06 13:56] NejcZdovc commented on #8570
cc @jsecretan @tmancey

[2020-03-06 13:56] #8561 closed

[2020-03-06 14:01] wavesurf432 commented on #8570
Edit: The issue with BAT still remaining in estimated pending rewards is fixed. It reset after closing Brave.

[2020-03-06 14:28] AndriusA commented on #8359
I've not been able to reproduce the specific issue, but found one place where the aggregate (in bytes) as a 64 bit number was getting stuffed into a 32 bit integer, possibly causing the overflow.

The number still shouldn't have gotten high enough to overflow, but not impossible (just over 2GB prediction in aggregate would overflow). Added an addition outlier catch for individual predictions anywa