[2019-04-26 01:30] riastradh-brave commented on #4253
dupe of https://github.com/brave/brave-browser/issues/4245

[2019-04-26 01:30] #4253 closed

[2019-04-26 01:31] riastradh-brave opened #4257 "Audit for DNS leaks in Tor"
related: https://bugs.chromium.org/p/chromium/issues/detail?id=123716, possibly https://github.com/brave/muon/issues/164

[transcribed from https://github.com/brave/muon/issues/519]

[2019-04-26 01:37] riastradh-brave commented on #4254
We no longer use system_request_context, and we unconditionally block geolocation in Tor because it's not useful there: https://github.com/brave/brave-core/blob/b10d3d88d328113a8fc0d148ff1d66e278c38c7e/browser/geolocation/brave_geolocation_permission_context.cc

[2019-04-26 01:37] #4254 closed

[2019-04-26 01:39] riastradh-brave commented on #4244
- https://github.com/brave/muon/issues/521 ⟶ https://github.com/brave/brave-browser/issues/4252
- https://github.com/brave/muon/issues/520 ⟶ https://github.com/brave/brave-browser/issues/4245
- https://github.com/brave/muon/issues/519 ⟶ https://github.com/brave/brave-browser/issues/4257
- https://github.com/brave/muon/issues/518 ⟶ https://github.com/brave/brave-browser/issues/4254
- https://github

[2019-04-26 01:42] #4248 closed

[2019-04-26 01:45] fmarier commented on #3982
Also, according to #1900, our RPM repository is not compatible with OpenSUSE.

[2019-04-26 01:49] fmarier commented on #1900
Thanks for the extra details @tneo, I didn't know about the `zypper dup` command (I've never touched OpenSUSE before).

So, given this and #3982, I guess our RPM repository is not compatible with OpenSUSE at the moment. I found [some documentation about the `rpm-md` format](https://en.opensuse.org/openSUSE:Standards_Rpm_Metadata) but if anybody what we need to do to fix this, please chime in.

[2019-04-26 02:09] fmarier commented on #3982
The same error message occurs after installing Chrome:

[code]

but it goes away after the cronjob (which installs repo and key) runs.

[2019-04-26 02:51] juliangent commented on #3119
Thank you for your reply. I use a website that opens the pdf in a separate window and allows to scroll and resize the page quickly. It works fine with Google Chrome. But Brave opens the pdf below in the same page and does not allow scrolling. Please see screenshot. The window about:blank is empty. The pdf should open there.               25.04.2019, 15:38, "Brian Clifton" <notifications@github.com

[2019-04-26 03:13] Programatic commented on #4226
Ok, so the issue was an error in updating. To fix it, I simply uninstalled and removed my .config/BraveSoftware folder and it worked

[2019-04-26 03:14] #4226 closed

[2019-04-26 04:25] mkarolin opened #4258 "Update the latest translations from transifex for c74."

[2019-04-26 05:53] bsclifton commented on #3119
@juliangent OK thanks for the update - maybe we can share an update when we have a potential fix

[2019-04-26 05:56] bsclifton commented on #3474
Closing as a duplicate of https://github.com/brave/brave-browser/issues/3474

[2019-04-26 05:56] #3474 closed

[2019-04-26 06:07] bsclifton commented on #401
Verified this also no longer happens on release channel on Windows 👍

[2019-04-26 06:07] #401 closed

[2019-04-26 06:18] Stryxus commented on #4200
Im aware of when it happens but some of us dont really update, we like to download the ISO of the new version and use the installer from UEFI just to keep Windows clean. It can be quite irritating when Brave is the only issue in the matter.

[2019-04-26 06:55] kjmagill commented on #3382
Still experiencing this issue on 0.63.48 (Official Build) (64-bit). First ~10 attempts did nothing, and now the 'Claim' button has disappeared from both the BR Panel & Rewards settings page without any captcha/confirmation/etc

[2019-04-26 09:36] caspertone2003 commented on #4235
Thanks for caring
CT

[2019-04-26 10:58] jeroen7s commented on #4149
Same issue here
as soon as I disable blocking for "third party cookies" the site works as normal
blocking All cookies also works

[2019-04-26 11:02] knucklas commented on #3873
Back up again!
1. Cannot delete "permission denied"
2. seems to work
3. xx@Ubuntu2:~$ apt-key list
/etc/apt/trusted.gpg
--------------------
pub   rsa2048 2017-02-01 [SC] [expires: 2025-01-30]
      5AB4 CA7A C2F9 3FE3 EBD6  082D 6ED1 9DBB 448E EE6C
uid           [ unknown] Brave Software (We're reinventing the browser as a user-first platform for speed and privacy) <support@brave.com>
sub   rsa20

[2019-04-26 11:38] knucklas commented on #3873
By the way, now removed those 2 files.

[2019-04-26 12:42] srirambv commented on #4149
I still cant reproduce this issue on Linux on a clean install of `0.63.48`. Default shields settings just load the site normally.

Here's a screen recording of  it https://youtu.be/AK3AGc7DDEc

Could you guys try clearing the browser cache once and try again?

[2019-04-26 13:06] jeroen7s commented on #4149
can definitely confirm it still occurs then for me
also still breaks in incognito window
-adblocking on
-3party cookies blocked
-encrypted connections on
-scripts allowed
-3p device recognition blocked

[2019-04-26 13:11] btlechowski commented on #4149
Reproduced on clean profile by loading `https://huffpost.com/` and consenting to ToS/GDPR. The page started to refresh itself eventually I got an error:
![image](https://user-images.githubusercontent.com/34715963/56809785-f6d12300-6834-11e9-941e-de54a3a2f297.png)

Brave | 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/bran

[2019-04-26 13:12] Techguyprivate commented on #1324
Again, opened up brave beta when clicking on brave stable. Is it solved ? Or do I need to do anything else other than the things mentioned above?

Thank you in advanced anyway.

[2019-04-26 13:14] FWDekker commented on #4149
I created a fresh Ubuntu 18.04 VM and installed Brave 0.63.48. The issue still occurred.

What I find interesting is that your video does not show the "Before you continue..." consent menu when you open the page. It is only after I press "OK" that the redirecting starts. I realise now that I should have included that in the "Steps to Reproduce" section 😕

[2019-04-26 13:15] jeroen7s commented on #4149
first page_load: `https://www.huffpost.com/`
second page load: `https://www.huffpost.com/?guccounter=1&guce_referrer_us=aHR0c***NvbS8&guce_referrer_cs=q69A9rvs7MC******`
the last part `guce_referrer_cs` keeps changing on every request/every second

[2019-04-26 13:18] srirambv opened #4259 "Google office Extension"
## Description
Google Office extension doesn't work

## Steps to reproduce

   1. Chrome Store
   2. search for Office extension
   3. Add to brave

## Actual result
Selecting excel sheet or documents just produces a blank screen

## Expected result
An excel sheet style screen

I use

crossposting from https://github.com/brave/browser-android-tabs/issues/1505

[2019-04-26 13:19] srirambv commented on #4259
Dupe of #3968

[2019-04-26 13:19] #4259 closed

[2019-04-26 13:21] srirambv commented on #3968
+1 from @fshuk1 via https://github.com/brave/browser-android-tabs/issues/1505

[2019-04-26 13:21] jeroen7s commented on #4149
Can confirm, when loading the site using a VPN to the USA, this issue does not occur
after disabling the VPN, the issue re-appears.

[2019-04-26 13:25] FWDekker commented on #4149
@jeroen7s Interesting. Can you confirm that it is not because of the VPN itself? For example by using a Europe-based VPN?

[2019-04-26 13:29] jwsp1 commented on #4231
Facing the same issue (using ZorinOS) and the ad also does not go away automatically, as it does in windows after ~5 sec.

[2019-04-26 13:42] srirambv commented on #4149
@btlechowski @jeroen7s  I don't get a ToS consent and am not behind VPN. Can check with a EU VPN and update here.

[2019-04-26 13:43] srirambv commented on #4231
@jwsp1 ads notification persist for a longer duration this is expected behaviour

[2019-04-26 13:45] jeroen7s commented on #4149
@FWDekker can confirm, connecing the VPN to Netherlands the issue occurs, connecting from my regular IP (Belgium) the issue also occurs
connecting the VPN to the US the issue is gone (so is the GDPR consent prompt).
All Tested using fresh incognito windows.

[2019-04-26 13:49] srirambv commented on #4251
Closing in favour of https://github.com/brave/browser-android-tabs/issues/1506

[2019-04-26 13:49] #4251 closed

[2019-04-26 13:51] srirambv commented on #4250
Closing in favour of https://github.com/brave/browser-android-tabs/issues/1507

[2019-04-26 13:51] #4250 closed

[2019-04-26 13:52] srirambv commented on #4249
closing in favour of https://github.com/brave/browser-android-tabs/issues/1508

[2019-04-26 13:52] #4249 closed

[2019-04-26 13:54] srirambv commented on #4214
Instead of creating new profiles, you can create new person profile on the same profile and have them separate.

[2019-04-26 14:43] LaurenWags commented on #3382
@kjmagill I'm fairly certain the promo for that notification has probably ended. I think you're encountering what is described here - https://github.com/brave/brave-browser/issues/3761. So in the event that a grant promotion has ended, we should notify the user.

[2019-04-26 15:04] srirambv commented on #4240
Dupe of #1580

[2019-04-26 15:04] #4240 closed

[2019-04-26 15:13] mbacchi opened #4260 "Add argument to gpgsign git commit in uplift.py"
We should allow gpg signing for users who run this script from the command line.

[2019-04-26 15:25] rebron commented on #3924
@Brave-Matt We need reproducible steps and separate issues. Performance issues resolved with 63.x?

[2019-04-26 15:31] alexwykoff opened #4261 "Rewards : UX - A11Y : Support for keyboard interactions instead of mouse, especially for ads"
## Description
Users from the field have reported issues with interactions requiring mouse clicks. They have asked for keyboard interactions to support their ability.

## Steps to Reproduce
   1.  Turn on Ads
   2. Try to interact with an ad without using a mouse

## Actual result:
Users cannot interact with the notification

## Expected result:
Users should be able to interact with the notificati

[2019-04-26 15:36] rebron commented on #4176
Fixed with 63.48. Closing.

[2019-04-26 15:36] #4176 closed

[2019-04-26 15:38] rebron commented on #4178
note to check accessibility.

[2019-04-26 16:01] rebron commented on #4212
@btlechowski Can you recheck once @mkarolin pulls translations?

[2019-04-26 16:08] rebron commented on #4219
"Not much is done in the way of optimizations (I believe)"

Can you explain this further?

[2019-04-26 16:12] rebron commented on #4225
cc: @karenkliu

[2019-04-26 16:17] mikedoth commented on #34
Going back to Firefox until this is added back in. I use this constantly for development and privacy.

[2019-04-26 16:20] rebron commented on #4235
reminder to dupe against tab pages feature.

[2019-04-26 16:20] rebron commented on #4236
@btlechowski can you recheck with @mkarolin localization pull?

[2019-04-26 16:32] Jacalz commented on #4219
I am sorry. It was a poorly written sentence and shouldn’t have been written like that from my part. What I mean is that I haven’t seen anyone talk about optimization work. The whole task is about making sure that the browser gets as much performance as possible. I will correct that utterly stupid formulation from my part...

[2019-04-26 17:07] texastoast commented on #4133
I had installed the beta channel release after encountering the error. I just attempted to install the Release channel again using the instructions on https://brave-browser.readthedocs.io/en/latest/installing-brave.html#beta-channel-installation and it worked fine, so whatever caused the issue either was resolved or was only temporary. I will close the issue.

[2019-04-26 17:07] #4133 closed

[2019-04-26 17:16] bsclifton commented on #4182
Hey there @g-hill - are you wanting to make code changes to the new tab page? If so, maybe I can help you get started 😄

- We have build instructions up at https://github.com/brave/brave-browser/wiki
- The code itself is going to be at https://github.com/brave/brave-core/tree/master/components/brave_new_tab_ui
- `brave-core` depends on the `brave-ui` library, which has pre-build components we use:

[2019-04-26 17:16] #4182 closed

[2019-04-26 17:21] bsclifton commented on #4200
@Stryxus trying to unpack what your mention, apologies if I get this wrong:

Are you wanting an option (in the importer) to detect an existing Brave install and import? I'm only familiar with `Windows.old` when you do a major upgrade to Windows and you choose to leave your previous install alone.  Are you formatting in such a way that all your programs / files are inside of a sub-directory?

If yo

[2019-04-26 17:27] bsclifton commented on #4223
Hi @wordlessly - the `*.zip` binaries (along with several other of our release artifacts) are intended for a developer audience. The only way to get updates on a regular basis is to use a binary which is connected to an update channel

- On macOS and Windows, this update channel is handled by Omaha. You'd need to use a binary which properly checks against our update server (not all the binaries on

[2019-04-26 17:27] #4223 closed

[2019-04-26 18:09] bsclifton commented on #4219
We pull in the optimizations which Chromium has- of which, there are quite a bit. You can check out this file in particular to see some of them:
https://chromium.googlesource.com/chromium/src/build/config/+/master/compiler/BUILD.gn#560

It's important to note- you may not get all the optimizations unless you build in release (vs debug) and also with official_build=true

[2019-04-26 18:09] #4219 closed

[2019-04-26 18:12] bsclifton commented on #4235
Closing in favor of https://github.com/brave/brave-browser/issues/35

I'll give a +1 on your behalf, @caspertone2003 😄

[2019-04-26 18:12] #4235 closed

[2019-04-26 18:12] bsclifton commented on #35
+1 from @caspertone2003

When there are too many tabs open, new opened tabs are not shown.
Currently I have 15 pined tabs (that are wider in size than unpinned ones) and 19 non pinned ones. If I open another one I can not reach it after going to another of the opened tabs...

[2019-04-26 18:13] Jacalz commented on #4219
Thanks, for the information. @bsclifton

[2019-04-26 18:23] bsclifton commented on #4234
@bbondy do extension requests get filtered by ablocking? ex: if extensions are using a known miner script (even if user wants it), could it possibly be filtered out?

@Byrd1083 as a possible work-around, you can try allowing all ads (globally). This isn't ideal, but it would be good to know if doing this resolves the problem for you:
<img width="705" alt="Screen Shot 2019-04-26 at 11 22 23 AM" src

[2019-04-26 18:24] #4260 closed

[2019-04-26 18:27] bsclifton commented on #4247
@karenkliu I know @too4words and others have been looking at webcompat. I think we'd need to lean on the work they're doing, as there isn't a clear indicator from the browsers perspective on whether it's working correctly or not.

There are folks doing analysis for shields up/down to find differences which may be webcompat problems

[2019-04-26 18:31] fmarier commented on #1324
It's solved in version 0.66, which isn't released yet (the current one is 0.63). Until that version comes out, you will, unfortunately, have to use the steps from https://github.com/brave/brave-browser/issues/1324#issuecomment-474936837.

I appreciate your patience with this. My apologies for the time it took to get this resolved.

[2019-04-26 18:33] bsclifton commented on #3898
@LaurenWags whoops- no, it doesn't. Sorry about that! 😄

[2019-04-26 18:34] LaurenWags commented on #3898
awesome, thanks for the confirmation @bsclifton 😄

[2019-04-26 18:35] fmarier commented on #4133
Thanks for the confirmation @texastoast. I'm glad it's now working for you too!

[2019-04-26 18:38] kjmagill commented on #3382
@LaurenWags Thanks for the explanation. That makes sense, since I've had Brave installed for some time but just recently switched Rewards back on & seen the Claim message.

[2019-04-26 18:39] davidpodrebarac commented on #4142
I have a similar problem, opening external links opens 3 new tabs with the same url. Opening links directly from the terminal results in segmentation fault, but it only opens 1 new tab.

[2019-04-26 18:45] LaurenWags commented on #3382
no problem, thanks for reporting. I'm going to link your original comment to the issue for tracking.

[2019-04-26 18:46] LaurenWags commented on #3761
+1 from https://github.com/brave/brave-browser/issues/3382#issuecomment-486948108 - user was clicking on an old notification and got no indication that the promotion was no longer active. we should account for this.

[2019-04-26 18:47] fmarier commented on #3873
Ok, now try installing again using these commands:

[code]

and please copy the output of all of this here.

[2019-04-26 19:00] eljuno commented on #3412
+1 from Community https://community.brave.com/t/tradingview-price-axis-not-rendering/56027?u=eljuno

`Allow all device  recognition` seems to fix the issue.

[2019-04-26 19:09] LaurenWags commented on #3882
@kjozwiak can you check this one since you have Mojave?

[2019-04-26 19:17] mkarolin commented on #4236
@btlechowski, @rebron I don't see any new Polish translations in the localization I pulled.

[2019-04-26 20:16] elibroftw commented on #22
brave://settings/?search=use+a+prediction

[2019-04-26 20:35] karenkliu commented on #4247
@bsclifton Yep - this is more of a stopgap solution while they are working on getting a fully automated webcompat solution up and running. We are hoping that in the future the user does not need to interact with the Shields panel at all, because Shields is smart enough to have the right settings per the work the research team is doing. However, in the meantime we still need to provide the user wit

[2019-04-26 20:53] LaurenWags commented on #4213
Could not reproduce on macOS

Brave | 0.64.62 Chromium: 74.0.3729.108 (Official Build) beta(64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Mac OS X

[2019-04-26 22:14] adamoo1 commented on #3082
If I try the same steps in Chrome 74 I also see about:blank#blocked

[2019-04-26 23:31] Stryxus commented on #4200
I guess we all have slightly different terms for formatting.
I and quite a lot of other people use the USB installer from UEFI to install Windows over the existing windows, which leaves all apps, appdata, program data and so forth. So yes, something to search for an old install in Windows.old from a fresh installation.

From what i can see the current Sync feature needs to two PC's running Brave w

[2019-04-27 00:12] karenkliu opened #4262 "Enable self-reported webcompat issues when Shields is DOWN"
## Description
Users may be turning off Shields in response to running into webcompat issues. Help speed up webcompat improvement in Shields by allowing the user to self-report issues when running into them.

## Designs
Add a "Report a broken site" button that allows the user to self-report issues on the Shields DOWN state:

![shields off 1](https://user-images.githubusercontent.com/2388823/576583

[2019-04-27 01:19] bbondy commented on #4212
cc @yrliou
@mkarolin says it's not fixed by the translation update.
https://github.com/brave/brave-core/pull/2343#issuecomment-487171535

[2019-04-27 01:20] bbondy commented on #4236
@NejcZdovc
A @mkarolin says it's still not fixed after the localization update, could you check why?

[2019-04-27 01:24] bbondy commented on #4234
I don't think extensions will be blocked, unless the extension does something like add a dom element for a script inside the page which loads in the context of the page.

[2019-04-27 01:25] bbondy commented on #34
@mikedoth would the profile feature on the top right work for you ? You can use different profiles at the same time.

[2019-04-27 03:29] yrliou commented on #4212
The string was not pushed to transifex for translation yet, and now it is.
Hopefully it should be fixed by the next translation update.

[2019-04-27 05:15] #4258 closed

[2019-04-27 07:45] capouch commented on #4155
Update: As of 0.64.64, the Facebook problem is fixed.  Weather Underground still fails to render after login, but works fine without it.  Google Photos issue was found to belong to Google, not Brave.  Bank application hasn't ever worked on Brave; both Wunderground and the bank app work great in Chrome.

[2019-04-27 10:09] knucklas commented on #3873
This is the result:
xxx@Ubuntu2:~$ sudo apt update
Hit:1 http://mirror.netcologne.de/ubuntu bionic InRelease
Hit:2 http://mirror.netcologne.de/ubuntu bionic-updates InRelease
Hit:3 http://mirror.netcologne.de/ubuntu bionic-backports InRelease
Hit:4 http://mirror.netcologne.de/ubuntu bionic-security InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
1

[2019-04-27 10:09] knucklas commented on #3873
Not my crossing outs!

[2019-04-27 10:10] knucklas commented on #3873
My system might still be a bit of a mess. I intend to do a re-install.

[2019-04-27 12:31] tmancey commented on #4221
@srirambv This should be resolved by https://github.com/brave/brave-browser/issues/4224

[2019-04-27 13:19] srirambv commented on #4080
One of the iframes is being blocked by Brave which is causing the message to show up.
![image](https://user-images.githubusercontent.com/17010094/56850053-0307bf80-68cb-11e9-8056-61dba98f04e0.png)
`https://drive.google.com/drive/my-drive` is being blocked via the `chrome-extension://invalid/ `url. This is being blocked even with shields down

[2019-04-27 13:24] xetorixik opened #4263 "Brave shields defaults - resets itself to default after restart"
## Description

Apparently there seems to be an error or bug related situation in the brave shields defaults.
After changing the 'brave shields defaults' and the browser is restarted.
The settings are restored to default.

## Steps to Reproduce

   1. Change the 'Brave shields defaults' from 'Block ads' to 'Allow ads and tracking'.
   2. Restart the Brave browser.
   3. Note that the settings are

[2019-04-27 13:25] tmancey opened #4264 "Brave Ads default fallback language should be "en-US" instead of "en-cUS""
## Description
Brave Ads default fallback language should be "en-US" instead of "en-cUS". This default language is only used if Windows or Linux where unable to provide the locale which is very unlikely.

## Steps to Reproduce
See miscellaneous information below

## Actual result:
If Windows or Linux fail to provide a locale, then "en-cUS" is provided as a default

## Expected result:
"en-US" shou

[2019-04-27 13:39] mthld opened #4265 "Remove infogalactic search engine"
Hello,

Please remove the alt-right website used as search engine: Infogalactic.
More informations here: https://www.wired.com/story/welcome-to-the-wikipedia-of-the-alt-right/

Thanks in advance

[2019-04-27 13:39] iamonkara commented on #34
I have abandoned Brave for Firefox, even though it was fastest of all, for
multiple reasons.

A) session windows and
B) KeePassXC extension for password manager doesn't work
C) this one is not Brave's fault but there is no extension in Chrome store
to "activate last focussed tab" .

I think the biggest mistake Brave did was use Chromium as the base, even
Edge is on the same bandwagon which creates

[2019-04-27 14:22] eljuno commented on #4265
It's already removed with the latest release per #3316

[2019-04-27 14:40] srirambv commented on #3991
Seems to work on Fedora 29 running kernel 4.x
Here's the recording: https://youtu.be/viiC3gMbgvU

@poikilos  could you record the steps you are doing?

[2019-04-27 14:41] #4169 closed

[2019-04-27 16:17] srirambv commented on #4263
Dupe of #2400

[2019-04-27 16:17] #4263 closed

[2019-04-27 16:18] srirambv commented on #2400
+1 from @xetorixik via #4263

[2019-04-27 19:48] BriantGea commented on #1432
I thought Brave was started because of the things big tech is doing.....
HOW are you seemingly unaware of them banning extensions from the webstores for having the "wrong" political views??

Annoying your customer base EVERY TIME we launch the browser is NOT going to make us safer or make us want to use your product.

I don't want to see this warning EVERY TIME i launch the browser............. I

[2019-04-27 21:26] gfosco opened #4266 "Brave Shields dependent on updater connectivity?"
## Description
If kBraveUpdatesExtensionsEndpoint is changed away from `go-updater.brave.com/extensions`, shields aren't working (but still says Shields On).  Why is this, is an update always taking place on install?

## Steps to Reproduce

   1.  Change kBraveUpdatesExtensionsEndpoint to anything else.
   2.  Clear local app data.
   3.  Build/Run.
   4.  Visit a site with known blocked items.

#

[2019-04-28 00:46] jDally987 commented on #2408
Hey, if it helps:
If you go to Join's chrome extension store page, in the "Support" tab, the user Sean Blonien posted 2 days ago (so Apr. 27 2019):
![image](https://user-images.githubusercontent.com/24235975/56856674-6cb8b580-692d-11e9-84a9-8bc463f6afdb.png)
So it looks like the problem is related to `regId`?

[2019-04-28 03:40] jonathansampson commented on #4136
Note, this also impacts extension icons too:

![image](https://user-images.githubusercontent.com/815158/56858313-72b69280-693d-11e9-9527-9bc6543b2483.png)

[2019-04-28 05:30] gfosco commented on #4266
This may have just been my misunderstanding, it makes some sense to me that 'brave extensions' would use a brave url.  Will close for now and revisit if need be.

[2019-04-28 05:30] #4266 closed

[2019-04-28 09:38] onmyouji commented on #4178
I wish you can bring back the old search bar on top-center of the page. The current placement of the search icon on right end is very out of place and not user friendly.

[2019-04-28 10:27] PunnyBoi opened #4267 "Unusual behaviour of Brave new tab when 'Tab to Search' is used"
## Description
When using 'Tab to Search' option in the new tab, the tab kind of refreshes itself and then I again have to press the tab key. This issue is loosely related to #3756 (which I know is fixed in the latest release). Please see the GIF for clarity.

## Steps to Reproduce
   1. Open any website in the first tab.
   2. Open new tab and type y (assuming you watch youtube a lot, the brave a

[2019-04-28 12:07] samsul1212 opened #4268 "https://github.com/brave/brave-browser"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-04-28 12:38] #4268 closed

[2019-04-28 14:35] khaosdoctor commented on #3766
Having the same problem here. My two apps are Google Keep and Trello, I created both as shortcuts (in the settings section), when I try to open them I get the following screen:

![image](https://user-images.githubusercontent.com/3200560/56865900-ad561480-69a9-11e9-9441-3a5a50bcfec2.png)

I can confirm that both work perfect on chrome, the problem is that everytime I open one of them, they open chr

[2019-04-28 15:15] benhall847 commented on #3382
I seem to never receive notifications for reward claims.
I've used brave for a couple years now and I've never been able to claim rewards.
Only just now am I receiving BAT from ads.

[2019-04-28 15:30] bidetaggle opened #4269 "No such file or directory: '/home/bidetaggle/brave-browser/_gclient_src_ydmibz9q/.git/config.lock'"
## Description
I want to install Brave from the sources and at the step `$ npm run init` I get this error: `FileNotFoundError: [Errno 2] No such file or directory: '/home/axel/brave-browser/_gclient_src_ydmibz9q/.git/config.lock'`

## Steps to Reproduce

   1. `git clone https://github.com/brave/brave-browser.git`
   2. `cd brave-browser`
   3. `npm install`
   4. `npm run init`

## Actual result:

[2019-04-29 00:21] xetorixik commented on #2400
@srirambv Thanks for the heads up…
As this bug is labeled in this topic as "not an urgent bug" in December 2018.
What is going to happen?

[2019-04-29 02:10] Sajo8 commented on #1432
Crazy how this still isn't resolved. As already pointed out, there are NUMEROUS situations where one would wan to install an extension from an outside source. Showing that warning every time is just crying wolf, and defeats the purpose

[2019-04-29 02:37] SoreGums commented on #1432
what about an exception per extension - the rationale for the warning is sensible, so now need to figure out the other common use-cases.

the biggest threat is malware authors using scripts to auto suppress warnings, if the option is per extension instead of `oh some extension is running in dev mode, that's a security risk` be like `this [name of extension] is running in dev mode, that's not great

[2019-04-29 04:43] fmgburner25 commented on #4198
Last thuesday I have bought a couple of BCHCash coins and the brave browser copied the wrong address at the buying field at litebit.eu and so are my coins at this wallet https://blockchair.com/bitcoin-cash/address/qpm2rsrs2jtvrectz75u33kkp4ppqfa0m57m4vhu58 and not at my wallet. This failure is
 also in the Opera.v.55.0.2994.44 too I saw it now. Only the half signs "qr2h0rweraagz93r2s7dc6" work not

[2019-04-29 08:31] caspertone2003 commented on #4235
Thanks.
In any case it is a pitty that the comeback of such iconic brave (desktop) features as session tabs and tab handling are targeted for post 1.x ...
I mainly switched to brave for those... now looks that other browsers offer those... but not brave for ... the next 18months?
CT

[2019-04-29 19:58] BriantGea commented on #1432
It looks to me like they are showing this thread as cosed.... so does that mean they aren't going to change this stupid notice?? :'(

Do we have to open a new thread?

[2019-04-29 22:33] fmarier commented on #3873
Ok, it looks like you don't have the Brave repository installed.

Try going through the 5 steps on https://brave-browser.readthedocs.io/en/latest/installing-brave.html#ubuntu-16-04-and-mint-18 again one by one.

[2019-04-30 00:19] aow207 commented on #34
I'll have to ditch Brave for Firefox until session tabs are back. I used the old version for as long as it was available until I was forced to update to the Chromium one.

[2019-04-30 01:15] Nuc1eoN commented on #2516
Duplicate #3412

[2019-04-30 06:22] Ashutosh-Kukreti opened #4271 "Option To Disable Brave shield on all bank and network providers site by default"
## Description

It is not possible to recharge through vodafone or airtel network providers site and also after click pay securely through internet banking ,the page do not get redirected to the bank sites and the page becomes unreponsive

## Steps to Reproduce

   1. Go to https://shop.vodafone.in/shop/prepaid/easy-online-recharge.jsp
   2. enter mobile no, recharge amount
   3. click on pay (pur

[2019-04-30 06:30] Ashutosh-Kukreti opened #4272 "How to disable dark theme,Downloaded file name is not readable"
## Description

Please add an option to disable the dark theme,nothing is visible on the download bar.Please refer to the screenshot.

## Steps to Reproduce

   1. Set brave theme type to light and os theme type to dark
   1. Download any pdf or receipt from any site.
## Actual result:

![download](https://user-images.githubusercontent.com/38154154/56943913-32266700-6b3f-11e9-94d1-1a21f95b5fe8.PNG

[2019-04-30 07:29] simonhong opened #4273 "Replace URLFetcher with SimpleURLLoader in AdsServiceImpl"
Prepare enabling network service

[2019-04-30 08:45] caspertone2003 commented on #34
Multi session containers!
Great feature that should be considered by Brave team. Even the name "container" is a very good choice.

[2019-04-30 08:48] caspertone2003 commented on #34
@aow207
Same here. But I resourced to use brave-portable https://github.com/portapps/brave-portable/releases/tag/0.25.302-44

[2019-04-30 09:51] zavodil opened #4274 "Syntax error at npm run init"
## Description

Any ideas why am I getting it? Trying to npm run init on windows

SyntaxError: invalid syntax
  File "C:\brave-browser\src\brave\vendor\python-patch\patch.py", line 1062
    print headline.rstrip('\n')
                 ^
SyntaxError: invalid syntax

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! brave@0.66.32 init: `node ./scripts/sync.js --init`
npm ERR! Exit status 1
npm ERR!

[2019-04-30 10:28] #4274 closed

[2019-04-30 12:33] MithilMajumder opened #4275 "Nighty Stop Updating"
I am using Brave Nightly 0.66.30 through new updates has came to GitHub repo, my browser checks for update and says its up-to-date
Please fix this problem

[2019-04-30 12:41] Skrylar commented on #1900
I don't get a problem with signatures (after importing the rpm key, as per Fedora instructions) but do get a lot of access denied errors. After sleuthing a bit I stumbled on to a similar zypper incompatibility issue with unrelated software; someone saying to change `typell ` to `plaindir` and run a refresh. I applied that trick here and it then becomes possible to install `0.63.48-1`.

(I had prev

[2019-04-30 18:41] davidfritsche17 opened #4276 "Error while running 'npm run build' on Windows"
I have been through all the issues found on here and other places on this subject I can find.

## Description
Thanks in advance for your help.

Windows 10 Build
NPM Run Install and NPM Run Install Release

These crash each time I run them.  I'll post the debug below, but its not real helpful.  I have been able to successfully build the Debug build once.

Symptoms
The odd thing is it will die with

[2019-04-30 19:25] eljuno commented on #3793
+1 from Community https://community.brave.com/t/browser-colors-cant-read-filenames-of-downloaded-files-when-in-dark-mode/57363?u=eljuno

Reproduced on Windows 10 with Brave 0.63.x.

[2019-04-30 19:48] bavalpey commented on #4094
I know there are those who wish for this to happen.  There is a post on the brave forums requesting this as well: https://community.brave.com/t/sync-extensions-across-devices/41222/8.

This would be a great feature, and the ability for it to be a selection (similar to how bookmarks are done) would be great, too!

[2019-04-30 22:30] Brave-Matt commented on #3113
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/bhb6ml/i_just_installed_brave_and_a_weird_bug_just/

[2019-04-30 23:35] simonhong commented on #3793
Duplicated this with https://github.com/brave/brave-browser/issues/965

[2019-04-30 23:38] simonhong commented on #3793
@eljuno We have https://github.com/brave/brave-browser/issues/4272 for Windows

[2019-05-01 01:24] simonhong opened #4277 "Replace URLFetcher with SimpleURLLoader in RewardsServiceImpl"
Prepare for network service enabling

[2019-05-01 03:33] bsclifton opened #4278 "Upgrade from Chromium 74.0.3729.108 to 74.0.3729.131"
QA tests:

Check branding items
Check for version bump

[2019-05-01 05:13] mckenzieja commented on #3119
+1 Here.

We tried to implement [jsPDF](http://raw.githack.com/MrRio/jsPDF/master/) (An HTML5 JavaScript PDF generation Library) and noticed that PDFs opened in a new window automatically triggered the download dialog and spent some considerable time scratching our heads (we realized it was Brave related).

Fortunately this is very VERY easy to test using jsPDF.
`npm install jspdf`

run this simpl

[2019-05-01 06:50] Brave-Matt commented on #4271
@Ashutosh-Kukreti,
Have you tried disabling individual settings in the Shields panel? There's a good chance only one of these settings needs to be disabled for the site to work. It would also help us further diagnose the issue with that information.

[2019-05-01 07:05] Brave-Matt commented on #4246
FWIW, I think this would be better suited as a brief "tutorial" of some kind as part of the Welcome Tour vs having it appear during actual usage - even if it's just the first time and only once.

For example, in the Shields section of the welcome tour, include a "Try it now"/"See how it works" button/option users can select. When they do, open a new tab and start the [beginning] tool tip at the ad

[2019-05-01 09:29] PhilT opened #4279 "WebGL performance issues"
## Performance of WebGL compared with Chrome and Chromium is subpar

Whilst playing around with some WebGL 2 code I noticed that fps seemed to be roughly half of what Chrome was chucking out. Rendering 2 million cubes produced around 29fps whilst in Chrome it easily hit 60fps.

So I ran some more tests with a proper benchmark site https://web.basemark.com. These were all run on my Razer Blade 14 (

[2019-05-01 13:14] seonadh opened #4280 "CentOS/RHEL7 Brave support"
## Description
Unable to install Brave browser on CentOS/RHEL 7 following corresponding instructions on: https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux

## Steps to Reproduce
   1. Install the latest version of Centos7
   2. rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc
   3. Add the brave-browser-release repo
   4. yum install brave-keyring

[2019-05-01 14:06] NejcZdovc commented on #4236
this strings are quite new, so they are just not translated/added in transifex. Will close it as this will be fixed when we get new update from transifex

[2019-05-01 14:16] NejcZdovc commented on #4164
closing as dupe of #3501

[2019-05-01 14:16] #4164 closed

[2019-05-01 14:16] NejcZdovc commented on #3501
+1 from https://github.com/brave/brave-browser/issues/4164

[2019-05-01 14:28] mandar-brave commented on #3741
prioritizing the issue for immediate nightly builds
@NejcZdovc @davidtemkin @evq @jenn-rhim @alexwykoff

Issue:
Currently all unverified Publisher contributions are stuck on the browser edge. However, if any of those publishers sign up, the retries for such held contributions is not retried.

What needs to happen: Tips
Once every day, for new verified publishers, the system should automatically tr

[2019-05-01 16:15] pilgrim-brave commented on #1947
https://github.com/brave/brave-core/pull/2354 contains QA test plan

[2019-05-01 16:17] mphaney commented on #1926
This is literally the one issue that would tip the balance and make Brave my default browser. It's just those times when I don't want to take the Shields ALL the way down...just for that one particular resource that's legitimate, but being grouped with all the other rubbish. Thank you for your hard work!

[2019-05-01 18:06] kjozwiak commented on #2400
@xetorixik it's currently labelled as a `P3` which means it will most likely get done once the `P1` & `P2` are completed. There's currently no timeline but it will definitely get fixed once the more important issues are addressed. If this received more +1 from the community, we will reprioritize as needed.

[2019-05-01 18:19] mrdavey commented on #2362
I'm having the same issue and suspect that @FelschR is correct that it is FCM related.
I'm testing web push notifications using Firebase FCM and it works perfectly on Chrome, Opera, and Firefox, but not Brave. (No Safari as it doesn't support Push API)

According to [FCM documentation](https://firebase.google.com/docs/cloud-messaging/js/client):

It seems Brave's Push API is broken.

[2019-05-01 19:37] davidfritsche17 commented on #4276
This may have been as simple as running the CMD windows as administrator.  Not sure, the build completed,

[2019-05-01 19:37] #4276 closed

[2019-05-01 20:06] snyderp opened #4282 "Add v8 to the code watched by `npm run update_patches`"
Right now the build patching system doesn't catch / apply changes to v8.  This would be handy for many reasons (e.x. [page-graph-integration](https://github.com/brave/brave-core/tree/page-graph-integration) work)

[2019-05-01 21:24] jumde opened #4283 "Disable field trials"
## Test Plan

Specified here: https://github.com/brave/brave-browser/pull/4551

[2019-05-02 01:33] simonhong commented on #3501
Pushed PR for this.
https://github.com/brave/brave-core/pull/2350
https://github.com/brave/brave-core/pull/2351

[2019-05-02 02:11] Ashutosh-Kukreti commented on #4271
Ok got it,
It only works when all cookies are allowed option is selected in the shield , keeping everything else the same.

[2019-05-02 06:45] Brave-Matt commented on #2505
+1 (kinda):
https://community.brave.com/t/laptop-runs-hot-when-brave-browser-open/54034/3?u=mattches
☝️ User cites ESPN as an example of a site that causes high CPU usage/heat

[2019-05-02 08:19] edk55 opened #4285 "Brave shield ignores brave://settings/content/cookies settings"
## Description

I came to Brave from Chrome, were I used the strategy of managing my cookies this way:
All the next processes are made on cookies section of site settings page (brave://settings/content/cookies).
I block all cookies by default. If the site I visit needs auth for a long time (for example gmail.com), I add the site domain to "allow" section. If the visited site needs cookies for a wh

[2019-05-02 11:27] mrfnasse commented on #1308
I managed to solve it by using "English United Kingdom" as language. It is better than having the 12 hour clock format.

If it is impossible to make it work by reading the locale, why not just add one of those "switches" in the settings page, where you can choose 12 or 24 hour manually?

And if not even that is possible, why not make 24 hour clock standard? There are only a few countries in the wo

[2019-05-02 14:35] kjozwiak commented on #4236
Moved this back into `0.64.x` as https://github.com/brave/brave-core/pull/2343 has been uplifted. This will need to be verified.

[2019-05-02 14:36] NejcZdovc commented on #4236
@kjozwiak https://github.com/brave/brave-core/pull/2343 doesn't fix this problem. That PR doesn't have this new strings

[2019-05-02 14:37] h2grover commented on #1945
@all Is there any workaround for the same, getting the same error on windows.

[2019-05-02 14:39] kjozwiak commented on #4236
Moved it out of `0.64.x` but we shouldn't close the issue just because it's not actionable. This still needs to be checked once we add the new strings.

[2019-05-02 14:50] rebron commented on #4080
cc: @fmarier, @simonhong

[2019-05-02 14:52] servetcoskun commented on #3756
With **Version 0.65.78 Chromium: 74.0.3729.108 (Official Build) dev (64-bit),** I do not have the problem anymore. Good job guys.

[2019-05-02 15:00] NejcZdovc commented on #4236
I am moving then this to general project

[2019-05-02 16:02] kjozwiak commented on #3804
@simonhong was this upstreamed in one of the C74 bumps?

[2019-05-02 17:31] iefremov commented on #2351
As part of migration we have to fix Tor - it doesn't work with enabled NetworkService. It seems that the reason is `TorProfileServiceImpl::SetNewTorCircuitOnIOThread`: `URLRequestContext` is not compatible with NetworkService @darkdh

[2019-05-02 17:36] #4278 closed

[2019-05-02 18:28] fmarier opened #4288 "Cayman Airways online check-in page doesn't work with Shields"
## Description

Cayman Airways online check-in page doesn't work with Shields enabled.

## Steps to Reproduce

   1. Go to https://dx.checkin.caymanairways.com/dx/KXCI/
   2. Enter confirmation number and last name.
   3. Click "Search".

## Actual result:

Clicking "Search" clears the form.

## Expected result:

Clicking "Search" should take me to the check-in interface.

## Reproduces how often:

[2019-05-02 18:30] jumde opened #4289 "SafeBrowsing download checks need to be proxied through Brave proxy"
Discovered in https://hackerone.com/bugs?subject=brave&report_id=561250. No direct connections should be made to Google.

Test plan:
Open Brave Browser and wireshark or another similar tool.
Download https://download-installer.cdn.mozilla.net/pub/firefox/releases/66.0.3/win32/en-US/Firefox%20Installer.exe (or any other exe files
After the download completes, you can see a DNS request for sb-ssl.go

[2019-05-02 18:31] jumde opened #4290 "Download checks for SafeBrowsing should go through Tor."
We are disabling SafeBrowsing in Tor, since download checks are not going through Tor. Re-enable SafeBrowsing once the issue is addressed.

[2019-05-02 18:32] jumde commented on #4289
Follow up issue: https://github.com/brave/brave-browser/issues/4290

[2019-05-02 22:29] simonhong commented on #3804
@kjozwiak beta(C74) has `Same as Windows` option and it's default.
However, needs more fixes to make theme works properly on Windows like MacOS.
Fix for https://github.com/brave/brave-browser/issues/4059 is merged and waiting for uplifting.
Fix for https://github.com/brave/brave-browser/issues/4056 is waiting for review.
When all above fixes are uplifted to C74, brave theme will work properly in W

[2019-05-03 00:50] dgenshei commented on #820
+1

[2019-05-03 04:58] BhuZha commented on #3199
@rebron Issue still occurring on all versions
Any idea what might be causing this?

[2019-05-03 05:09] egg734631 opened #4294 "Browser history not work well sometimes"
## Description

The problem happened  when I testing the browser history api.

My test is open website with specify URL params,
and check if the userToken is empty, then direct back to GameHall.
else, pushState( null, null, url.origin) to clean the URL params.
and add popstate event to check if the user click the back button,
he will direct back to GameHall.

Generally, it's work fine.
But there's

[2019-05-03 09:18] InteXX opened #4295 "[Desktop] Provide a way (in product) to do a full backup"
A really nice feature in Chrome is its automated backup and restore of settings, passwords and bookmarks.

In the event of an unexpected data disaster, we should be able to fully recover with ease. We also should be able to easily restore after an OS reinstall. Manual backups are tedious and error-prone; they often are skipped because of this.

While I’m finding guidance for manually backing up an

[2019-05-03 10:05] GeetaSarvadnya opened #4296 "On Linux chrome://crashes doesn't show crash reports"
## Description

Found while testing #4111
On Linux chrome://crashes doesn't show crash reports

## Steps to Reproduce

   1. Clean profile 0.64.68
   2. Force a tab crash by entering brave://crash
   3. Navigate to brave://crashes and check the crash report

## Actual result:

You have no recently reported crashes. Crashes that occurred when crash reporting was disabled will not appear here.

![im

[2019-05-03 10:43] GeetaSarvadnya commented on #4111
Verification passed on

Brave | 0.64.68 Chromium: 74.0.3729.108 (Official Build) beta (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the issue
- Encountered https://github.com/brave/brave-browser/issues/1299

[2019-05-03 11:20] GeetaSarvadnya commented on #3950
Verification passed on

Brave | 0.64.68 Chromium: 74.0.3729.108 (Official Build) beta (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/2328

[2019-05-03 11:37] kamleshrao commented on #3809
Checked today with latest update, but still having same issue.

My current Brave version on Ubuntu is:

`Version 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)`

[2019-05-03 11:58] GeetaSarvadnya commented on #4218
Verification passed on

Brave | 0.64.68 Chromium: 74.0.3729.108 (Official Build) beta (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523
- Verified the test plan from https://github.com/brave/brave-core/pull/2328#issue-272955946

![image](https://user-images.githubusercontent.com/38657976/57135903-9e67cb80-6dc8-11e9

[2019-05-03 12:26] GeetaSarvadnya opened #4297 "Maximize and minimize window options not required in `Add IPFS companion` popup"
## Description

Found while testing https://github.com/brave/brave-browser/issues/4218

Maximize and minimize window options not required in `Add IPFS companion` popup. Maximize option is causing buttons disapper ( `Cancel`  and  `Add extension` ) from `Add IPFS companion` popup

## Steps to Reproduce

   1. Clean profile 0.64.68
   2.  Navigate to brave://settings
   3.  Search for IPFS and toggl

[2019-05-03 14:36] honza-zidek commented on #3725
Hey guys, for me it's a show stopper for Brave! Please do something with it - the issue was first reported on 03.10.2016 in #4476, so 2.5 years ago!

[2019-05-03 14:53] honza-zidek commented on #2690
For me it's a showstopper. I cannot use Duolingo so I cannot set Brave as a default browser. And you are aware of this issue since 03.10.2016 - #4476 4476, #3725 3725. I believe it is the same (or connected) issue.

[2019-05-03 15:06] honza-zidek commented on #2690
This does not sound very promising when you use this phrasing in connection to *non working microphone* in an internet browser in 2019. I was considering starting using Brave but this is very discouraging.

[2019-05-03 15:52] GeetaSarvadnya commented on #4186
Verification passed on

Brave | 0.64.68 Chromium: 74.0.3729.108 (Official Build) beta (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the description

[2019-05-03 15:56] Brave-Matt commented on #3028
I think we should prioritize this a bit higher as an accessibility feature/option. I've had a few visually impaired users request this as there's no way for them to adjust Shields settings on a per-site basis.
@rebron
Example:
https://community.brave.com/t/nvda-screen-reader-and-brave-shields/57966/5

[2019-05-03 17:48] GeetaSarvadnya commented on #3668
Verification passed on

Brave | 0.64.68 Chromium: 74.0.3729.108 (Official Build) beta (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/2187

[2019-05-03 18:45] rebron commented on #3725
@honza-zidek Feedback noted.

[2019-05-03 18:59] rebron commented on #2690
@honza-zidek That was a general comment guarding against feature creep and not related to this issue which we've already prioritized to fix. I hope you're encouraged that we do guard against feature creep and bloat and that we do have this issue on our priority list. We will fix this issue and your request to have it done sooner than later has been noted.

We do need this space now for reproducibl

[2019-05-03 20:44] karex commented on #2444
I have observed a – I think – related phenomenon on Windows 10, Brave Version 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)

**Steps to reproduce:**

1. Copy some cells from a LibreOffice Calc sheet
2. Try to paste it without formatting by pressing Ctrl + Shift + V (no luck)
3. Try to paste it without formatting by using the menu: Edit --> Paste special --> Paste values only (no luck)

[2019-05-03 21:42] anon9876 commented on #3028
i second this.

[2019-05-04 00:06] xetorixik commented on #2400
@kjozwiak Thanks for the explanation.
Hopefully more +1 will be added by community members :)

[2019-05-04 02:21] tneo commented on #1900
Changing the type works for me and allows refreshing without errors.

[2019-05-04 03:07] Brave-Matt commented on #3942
Yes, this is considered a security feature. Phishing is a real thing. There are several websites sites, especially those centered around Crypto, that warn you to ensure that you're on the site you believe to be:
![image](https://user-images.githubusercontent.com/3299098/57173108-d5050c80-6def-11e9-8ee3-806de7d7465e.png)

[2019-05-04 03:09] HennyBro commented on #2690
@rebron Do not hesitate to update this thread as soon as the first Nighty version supports this! 😊

[2019-05-04 03:36] HennyBro commented on #3735
Wouldn't it make sense to colour the "Ad Rewards" BAT number in green (as a way to show that it's positive) and do the same with the "Total Grants Claimed" and "Rewards from Ads" numbers?

Just a suggestion. I like the design overall, though!

[2019-05-04 03:37] rebron opened #4298 "Release checklist for 0.63.x Hotfix 1 (Release Channel)"
### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/brave/torrent-discovery is up to date with its latest upstream.
- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the securit

[2019-05-04 03:52] HennyBro commented on #3978
I have 2 Windows 10 PCs and one first-gen Pixel XL running Android 10.0 Q BETA 2. When I was on Pie I had the same error: Every time I try to create a new Sync chain with my new Windows 10 laptop it fails. It will either not show me the encryption/decryption code or it just won't do anything after I scan the bar code with my phone or type in the correct code text...

So, to bring this on point: I

[2019-05-04 03:55] HennyBro commented on #3428
I have the EXACT same issue with my first-gen Pixel XL running Android Q BETA 2 with any version of Brave and my new Windows 10 laptop running Windows 10.

[2019-05-04 15:46] weeblr commented on #3942
@Brave-Matt Well, if Brave tries to lures users willing to visit weeblr.com, a perfectly fine, secure and honest website, into thinking it's a bad site and strongly suggests to visit weebly.com instead, isn't Brave itself doing phishing now?

The problem here is that the *selection* of the "offending" site is not based on security. It's not based on whether the site is a phishing target. It's not

[2019-05-04 16:00] rebron commented on #3942
Looks well intentioned but it doesn't work even with a simple use case where a user going to vive.com  is then directed to go to live.com.

[2019-05-04 16:49] GeetaSarvadnya commented on #3851
Verification passed on

Brave | 0.64.68 Chromium: 74.0.3729.108 (Official Build) beta (64-bit)
-- | --
Revision | daaff52abef89988bf2a26091062160b1482b108-refs/branch-heads/3729@{#901}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the description

[2019-05-04 20:30] RudyMas commented on #3212
![image](https://user-images.githubusercontent.com/17342220/57184431-a6546800-6ebb-11e9-91f5-6ae2c5726ace.png)

Sorry guys, still happening. And I just recently added 50 BAT to see if this could help, but nope, still got this message.

![image](https://user-images.githubusercontent.com/17342220/57184438-d1d75280-6ebb-11e9-9ce7-447e3aa684d5.png)

![image](https://user-images.githubusercontent.com/1

[2019-05-04 20:49] rrguard commented on #1306
Brave Version 0.63.48
Chromium: 74.0.3729.108 (Official Build) (64-bit)

The issue with bookmarks bar on New tab always showing still happens.

[2019-05-04 22:13] riastradh-brave opened #4299 "Opening link in new private window with Tor for first time leaves spurious new tab"
## Description
If there is no private window with Tor presently open, then 'Open link in new private window with Tor' will create a window with _two_ tabs: the new tab page, and the opened link.  It should create only one tab, for the opened link.

## Steps to Reproduce
   1. Open a fresh Brave instance with no private windows with Tor.
   2. Right-click on a link/bookmark and select 'Open link in

[2019-05-04 22:16] davidfritsche17 opened #4300 "NPM Run Create_dist options are not working"
## Description
npm run create_dist release --skip_signing --debug_build=false --official_build=false
None of the flags/options seem to work for me.

Skip_Signing
At first I thought it was just the Skip_signing that was not working since it always tries to sign at the end of the build.  I have built many times(at least a dozen full builds) and the signing always is attempted.

Debug_build
However,

[2019-05-04 23:41] jumde opened #4301 "npm audit failure - sync"
[code]

[2019-05-04 23:55] hainjedaf opened #4302 "Brave in Ubuntu 18.04 does not import passwords from Firefox."
## Description
OS: Ubuntu 18.04
Firefox 66.0.3 (64-bit)
Brave version 0.63.48 Chromium: 74.0.3729.108 (64-bits)

Upon brave first start, walked through import feature.
Selected to import everything from firefox.
Tried to open anything on brave but no passwords present.
Look in Brave settings: no passwords present

## Steps to Reproduce

   0. open firefox
   1. Clean firefox (delete everything exc

[2019-05-04 23:57] #4264 closed

[2019-05-05 00:02] bbondy commented on #4300
Try adding `--` just after create_dist and it should work! :)
`npm run create_dist -- release --skip_signing --debug_build=false --official_build=false`

[2019-05-05 00:02] #4300 closed

[2019-05-05 01:05] Kreyren opened #4303 "REQUEST: Block annoying GDPR notices"
DISCLAIMER: Didn't find any relevant issue.

Requesting updating adblock definitions on Brave-browser with list https://raw.githubusercontent.com/r4vi/block-the-eu-cookie-shit-list/master/filterlist.txt to block annoying GDPR notices alike:
![image](https://user-images.githubusercontent.com/11302521/57186590-554f6e80-6ed1-11e9-83cd-b454d60fe2f0.png)

## Steps to Reproduce
Use EU geolocation and vi

[2019-05-05 01:45] abbynormative commented on #3758
@rebron @Brave-Matt  I think I may have a related issue when Brave is set to default on a Mac. Info and steps below.

## Description
When I receive a link over Signal Desktop and try to open it, Brave will open a new window for the link but not load the page. It only opens a blank browser window. I have to imagine this may also be an issue for other messaging clients.

## Steps to Reproduce
   1.

[2019-05-05 07:20] dagli commented on #4082
I would like to see 1st and 2nd. But 3rd is as you said "a browsing habit". You can use total of 30 tabs in 2 or 3 windows instead of a single window.

[2019-05-05 09:03] SoNic1967 commented on #3082
This is still not solved. I really want to ditch Firefox and Chrome... Please fix this.

[2019-05-05 14:09] NickDiMucci commented on #3082
Still an issue, even with all shields down. `Version 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit)`

[2019-05-05 14:59] samoclay commented on #820
will this be included in any near future sprints?

[2019-05-05 15:24] da2x opened #4304 "Visiting bbcnews.com triggers “The link that you originally opened is unusual” warning"
1. Type in ‘bbcnews.com’ and hit Enter.

Expected: To visit the British Broadcasting Corporation’s unusually good news service.

Actual: A recommendation to visit NBC News instead.

Brave: 0.63.48 Chromium: 74.0.3729.108

![screenshot](https://user-images.githubusercontent.com/1102886/57196178-858f1f80-6f5a-11e9-9fae-cb4968c14016.png)

(This URL is owned by the BBC and they’ve promoted it heavily

[2019-05-05 17:10] rebron commented on #4304
All other browsers (Chrome, Firefox, Safari) are properly redirecting to bbc.co.uk and then finally to https://www.bbc.com/news.

[2019-05-05 17:11] rebron commented on #4304
Related issue: https://github.com/brave/brave-browser/issues/3942#issuecomment-489338354

[2019-05-05 17:16] mheiduk commented on #2763
I have this issue too, would be great if the brave team can fix it.

[2019-05-05 18:05] dchawisher commented on #3751
+1 from me. I just switched from Firefox because of the extension issue. The biggest difficulty with the transition has been that irritating notification.

[2019-05-05 18:16] Xashyar opened #4305 "Bookmarks Toolbar Drop-down List not Scrollable w/ Touchpad"
## Description
Deleting, Scrolling the drop-down list using touchpad  makes it disappear.

## Steps to Reproduce

   1. on the bookmark toolbar click on the ">>" to see the drop-down list.
   2. use touchpad to scroll with double fingers
   3. Watch it disappear!

## Expected result:

- Scrolling with touchpad should work as mouse scrolling.

- The list should stay on after deleting bookmark items

[2019-05-05 18:53] kjozwiak opened #4306 "Manual test run on OS X for 0.63.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests
 - [x] Ads Rewards Grants - expiration date in UI - follow up to 4042.([#4169](https://github.com/brave/brave-browser/issues/4169))
 - [x] Upgrade from Chromium 74.0.3729.108 to 74.0.3729.131.([#4278](https://github.com/brave/brave-browser/issues/4278))
 - [x] Fix the Ad Rewards settings panel.([#4008](https://github.com/brave/brave-browser/issues/4008))

### Install

[2019-05-05 18:53] kjozwiak opened #4307 "Manual test run on Windows x64 for 0.63.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests
 - [x] Ads Rewards Grants - expiration date in UI - follow up to 4042.([#4169](https://github.com/brave/brave-browser/issues/4169))
 - [x] Upgrade from Chromium 74.0.3729.108 to 74.0.3729.131.([#4278](https://github.com/brave/brave-browser/issues/4278))
 - [ ] Fix the Ad Rewards settings panel.([#4008](https://github.com/brave/brave-browser/issues/4008))

### Install

[2019-05-05 18:53] kjozwiak opened #4308 "Manual test run on Linux for 0.63.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests
 - [x] Ads Rewards Grants - expiration date in UI - follow up to 4042.([#4169](https://github.com/brave/brave-browser/issues/4169))
 - [x] Upgrade from Chromium 74.0.3729.108 to 74.0.3729.131.([#4278](https://github.com/brave/brave-browser/issues/4278))
 - [x] Fix the Ad Rewards settings panel.([#4008](https://github.com/brave/brave-browser/issues/4008))

### Install

[2019-05-05 18:53] ademaro opened #4309 "improve font appearance with non-english characters"
## Description
Why you do not use utf-8 fonts for UI? https://yadi.sk/i/LgsPsXybFLfUqQ — no good!
https://yadi.sk/i/9Z-U76fYU4VkEg — cyrillic no good!!

## Steps to Reproduce

   1. Open browser
   2.
   3.

## Actual result:

Bad font rendering.

## Expected result:
Good font rendering.

## Brave version (brave://version info)

Brave | 0.63.48 Chromium: 74.0.3729.108 (Официальная сборка) (64 бит)

[2019-05-05 19:51] nicholasdtc commented on #3751
Any news on this? Maybe a simple setting to disable it? It's really getting on my nerves now.

[2019-05-05 20:52] davidfritsche17 commented on #4300
thank you.  Will try.   Is this the right place to ask dev questions?  Or is there another forum?   I am in the Brave Community forum, but so far no luck getting questions answered.

[2019-05-05 20:58] Qbzomatique commented on #2025
+1, just went from Firefox to Brave today and this is a really annoying issue.

[2019-05-05 22:39] bbondy commented on #4300
It's ok to ask them here :)

[2019-05-06 02:45] simonhong opened #4310 "cleanup gcm_unittest.cc"
Remove `URLFetcher` related code that are not used in `gcm_unittest.cc`.

[2019-05-06 03:11] npierno commented on #3751
+1!!!

[2019-05-06 04:26] simonhong opened #4311 "Feature request: Browser-wide mute button"
Sometimes, we can't find which tab is making sounds when there are a lot of opened tabs.
In that case, browser-wide mute button would be very convenient.

Whale browser has this feature.

<img width="544" alt="Screen Shot 2019-05-06 at 1 25 09 PM" src="https://user-images.githubusercontent.com/6786187/57206651-81b6d800-7002-11e9-9d48-3adde12b1d5a.png">

[2019-05-06 04:28] bsclifton commented on #4311
Mildly related: https://github.com/brave/brave-browser/issues/2025

[2019-05-06 04:29] GeetaSarvadnya commented on #4278
Verification passed on

Brave | 0.63.52 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

[2019-05-06 06:11] GeetaSarvadnya commented on #4169
Verification passed on

Brave | 0.63.52 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/2337

![image](https://user-images.githubusercontent.com/38657976/57208870-a5265680-6ff3-11e9-8f9a-9c43c8fe60b3.p

[2019-05-06 06:13] bsclifton commented on #820
cc: @tomlowenthal @rebron for prioritization

[2019-05-06 07:31] hugobuddel commented on #4280
The last supported release version seems to be 0.62.51: https://github.com/brave/brave-browser/releases/tag/v0.62.51

You can install it manually. (Which I have to do anyway, since I don't have root access on this work machine. Well this is nice actually. I can't upgrade automatically, so had to do it manually like every other week. Now manually upgrading doesn't work either for me, so peace of mi

[2019-05-06 08:05] iefremov opened #4312 "Make Tor integration compatible with NetworkService"
As part of migration we have to fix Tor - it doesn't work with enabled NetworkService. It seems that the reason is `TorProfileServiceImpl::SetNewTorCircuitOnIOThread`: `URLRequestContext` is not compatible with NetworkService.

[2019-05-06 08:06] iefremov commented on #4312
@darkdh @riastradh-brave FYI

[2019-05-06 08:06] iefremov commented on #2351
Filed https://github.com/brave/brave-browser/issues/4312

[2019-05-06 11:14] honeyoon commented on #4269
Have you solved this issue?

[2019-05-06 12:54] jsecretan opened #4313 "Further privacy and security on catalog download"
## Description
Transferring over this now archived issue: https://github.com/brave-intl/bat-native-ads/issues/140

The consensus appears to be that for further privacy on catalog downloads, it should not be downloaded on browser startup, and that we should impose additional variance on the pings.

[2019-05-06 12:54] LaurenWags opened #4314 "rounding of values displayed in wallet summary/panel"
## Description
I had an empty wallet (0 BAT balance). I got an Ad grant for .2 BAT. Once I accepted, I saw my wallet balance displaying as .3 BAT. Upon further inspection, it seems my Ad grant was actually for .25 BAT, but the UI only shows one decimal place (on both the 'it's your lucky day' screen and in the summary section).

The problem isn't necessarily the only showing one decimal place, it'

[2019-05-06 13:00] jsecretan opened #4315 "Brave Ads should support ads targeted to desktop, iOS and Android"
## Description
Because certain Brave Ads will only make sense for mobile users (e.g. advertisement to download certain mobile apps) we should be able to have different catalogs available for desktop, Android and iOS.

[2019-05-06 13:03] tmancey commented on #4221
@srirambv @GeetaSarvadnya is looking into this with an end user. @GeetaSarvadnya can you please update both myself and @srirambv

[2019-05-06 13:11] tmancey commented on #4161
@LaurenWags Totally agree, does this also happen on Ledger?

[2019-05-06 13:13] tmancey opened #4316 "Implement additional browser tests for Brave Ads"
Implement additional browser tests for Ads

I will add a breakdown of tests here once investigation is complete.

[2019-05-06 13:13] tmancey opened #4317 "Implement additional unit tests for Brave Ads"
Implement additional unit tests for Ads

I will add a breakdown of tests here once investigation is complete.

[2019-05-06 13:15] tmancey opened #4318 "Decouple Brave Ads business logic from implementation"
Decouple Ads business logic from implementation

I will add a breakdown of tasks here once investigation is complete.

[2019-05-06 13:22] jsecretan commented on #3661
Discussing with @bridiver, we should probably do an etag check first before getting the diff.

[2019-05-06 13:23] bidetaggle commented on #4269
No, I tried again and this time I have `OSError: [Errno 39] Directory not empty: '/home/axel/brave-browser/_gclient_src_30_62imh/.git'`

[2019-05-06 14:12] tmancey commented on #4187
@GeetaSarvadnya @fmarier Can you please test latest nightly build as this was resolved in https://github.com/brave/brave-browser/issues/4224

[2019-05-06 14:12] tmancey commented on #4221
@GeetaSarvadnya @fmarier Can you please test latest nightly build as this was resolved in https://github.com/brave/brave-browser/issues/4224

[2019-05-06 14:44] tmancey commented on #4194
@davidtemkin The ability to decide the reason why notifications fail will be implemented in https://github.com/brave/brave-browser/issues/3651#issuecomment-486389026, however how this is visually shown should be completed in this ticket.

[2019-05-06 14:58] RobinOehler opened #4319 "Disable "Always ask me where to save files" still ask user and open Save As dialogue"
Dear devs,

i use brave on two different machines, both have this "closed" issue: https://github.com/brave/browser-laptop/issues/14625

Steps to Reproduce
Disable "Always ask me where to save files" at Preferences > General
Open any site, try to save or download files
Brave open Save As dialogue
Actual result:

Brave open Save As dialogue

Expected result:
Brave should download the files without o

[2019-05-06 15:19] InteXX opened #4320 "Cannot automatically backup/restore"
There's only one thing that's stopping me from switching to Brave: the inability to automatically back up and restore passwords/settings/history/bookmarks.

This capability is absolutely critical in any modern operating environment. Data disasters do happen; operating systems do get reinstalled.

I suggest assigning this issue a high priority.

[2019-05-06 15:40] GeetaSarvadnya commented on #4314
Reproduced on windows `0.64.68`

![image](https://user-images.githubusercontent.com/38657976/57236691-48528c80-7043-11e9-9d27-b5dea9218001.png)

[2019-05-06 15:43] riastradh-brave opened #4321 "SiteInstance::GetSiteForURL must run in UI thread, but we call it in IO thread in TorProfileService::SetProxy"
As of https://github.com/chromium/chromium/commit/ea6921f717f21e9a72d321a15c4bf50d47d10310 (2019-01-29), SiteInstance::GetSiteForURL fails DCHECKs if we run it in the IO thread, but we do exactly that when we call TorProfileService::SetProxy in an OnBeforeURLRequest handler:

[code]
https://github.com/brave/brave-core/blob/b4afcc7dd690ee4393823c3d9fa6d9ea94c455a2/browser/tor/tor_profile_service_im

[2019-05-06 16:51] Brave-Matt commented on #4054
+1 community:
https://community.brave.com/t/https-www-merriam-webster-com-ad-blocker-wrecked-the-site/56505/4

[2019-05-06 16:52] Brave-Matt commented on #2362
More +1s:
https://community.brave.com/t/notification-enabled-but-not-working/49594/41

[2019-05-06 17:06] cndouglas opened #4322 "The Jerusalem Post - Resources Blocked"
## Description
On the Jerusalem Post website (https://www.jpost.com/), the styles are blocked by default shield settings. Turning off "3rd-party trackers blocked" seems to fix this.

## Steps to Reproduce
   1. Go to https://www.jpost.com/

## Actual result:
With default shields:
![](https://user-images.githubusercontent.com/19424103/57241345-62b24900-6ff6-11e9-868b-38ac973f22ff.png)

## Expected

[2019-05-06 17:14] davidfritsche17 opened #4323 "Release Build Slow"
## Description
I am building a POC on Windows to determine what's possible with the code.  I was able to build a Release version with some simple branding changes.  In general the browser  works.  I am using 0.63.48 as this is the version on the released Brave Browser.

In some simple testing, my build of this browser is slow.  Example:

- Clearing Cache and loading MSN.com on Brave takes about 2

[2019-05-06 17:30] rebron commented on #1306
@rrguard The fix for this issue will be in 65.x slated for ~June 4th. It's an issue that's been annoying to me to. Chromium version will show 75.x and fix will be making it's way through nightly/dev/beta.

[2019-05-06 17:56] bbondy commented on #2362
@simonhong could you take a look?

[2019-05-06 18:25] Brave-Matt commented on #3960
+1 (new users reporting):
https://community.brave.com/t/email-redirect-not-working-on-web-de-and-gmx-de/43965/7?u=mattches

[2019-05-06 18:31] rossmoody commented on #2657
Going to tackle a few of these considerations in an upcoming autoplay/notification revamp but to make this issue more actionable we might want to break it apart. Tough to have a single PR or even multiple that addresses all 4 of these silo'd cases.

[2019-05-06 18:33] LaurenWags commented on #4008
Verified passed with

Brave | 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Verified with test plan provided by @tmancey

[2019-05-06 18:43] karenkliu commented on #4246
Hi @Brave-Matt, that's a great idea. During someone's first time user experience, we should use repetition and several different approaches to introduce someone to features to account for the "unhappy path" - that is, someone not clicking through everything, not paying attention to something, skipping the welcome panels, etc.
We currently have a panel about Shields in the welcome tour and, while y

[2019-05-06 19:01] riastradh-brave commented on #1677
This is more or less blocked on https://github.com/brave/brave-browser/issues/2307, because as private windows with Tor are implemented, extensions are blocked from being used altogether in them -- which is largely the right choice for security and anonymity, but in this case the upstream PrivacyPass is implemented as an extension.

[2019-05-06 19:08] kjozwiak commented on #2657
@rossmoody agreed, sometimes we tend to miss things in general when there's multiple bugs/problems in a single issue and only `x` and `y` get resolved but `z` doesn't.

When you create the issues, can you link them in here and close this off? So there's at least a record/trial someone can follow if they run into this issue in the future while searching etc..

[2019-05-06 19:32] Brave-Matt commented on #181
+1 from reddit : https://www.reddit.com/r/brave_browser/comments/bgwu73/release_channel_version_06348_is_live/emo70dx?utm_source=share&utm_medium=web2x

[2019-05-06 19:41] Brave-Matt commented on #774
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/bkgmyp/say_hello_to_several_new_folks_who_just_jumped/emjklqf?utm_source=share&utm_medium=web2x

[2019-05-06 20:32] #4306 closed

[2019-05-06 20:37] GeetaSarvadnya commented on #4307
Looks good hence closing the issue.

[2019-05-06 20:37] #4307 closed

[2019-05-06 21:00] #4308 closed

[2019-05-06 21:02] riastradh-brave commented on #4245
Upstream issue for quicker reference:

https://bugs.chromium.org/p/chromium/issues/detail?id=80722

[2019-05-06 21:07] kjozwiak opened #4325 "Release notes for 0.63.x Hotfix #1 (Release Channel)"
Release Notes
 - Fix the Ad Rewards settings panel .([#4008](https://github.com/brave/brave-browser/issues/4008))
 - Ads Rewards Grants - expiration date in UI - follow up to 4042.([#4169](https://github.com/brave/brave-browser/issues/4169))
 - Upgrade from Chromium 74.0.3729.108 to 74.0.3729.131.([#4278](https://github.com/brave/brave-browser/issues/4278))

[2019-05-06 21:09] diracdeltas commented on #4289
going to rename this issue per https://bravesoftware.slack.com/archives/C85NV6NSG/p1557176576049400?thread_ts=1557174991.034600&cid=C85NV6NSG

[2019-05-06 21:29] riastradh-brave commented on #1498
We have tried to address this in two ways:

1. Brave is no longer bundled with the tor daemon itself; rather, Brave downloads an extension which contains the tor daemon, _if_ you open a private window with Tor.  If you don't do that, then Brave never even has a tor daemon executable on your system.
2. The tor daemon executable that we distribute is now signed, which placates some antivirus systems

[2019-05-06 21:29] #1498 closed

[2019-05-06 21:29] #4325 closed

[2019-05-06 21:30] riastradh-brave commented on #1477
Is this still reproducible?

[2019-05-06 21:38] maketroli commented on #2252
I am having this issue right now.
[code]

[2019-05-06 21:43] Brave-Matt commented on #1638
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/bkzz5u/customizing_the_browser_to_fix_a_few_glaring/

[2019-05-06 21:46] Brave-Matt commented on #35
+1 from reddit -- user initially requested muliple tab "rows". That issue (#2767) seems to have been closed in favor of this one.
https://www.reddit.com/r/brave_browser/comments/bkzz5u/customizing_the_browser_to_fix_a_few_glaring/

Fwiw I agree with @bsclifton's [post regarding nice looking animation](https://github.com/brave/brave-browser/issues/35#issuecomment-414196827) when adding pages.

[2019-05-06 21:56] #1627 closed

[2019-05-06 21:57] #4310 closed

[2019-05-06 21:58] diracdeltas commented on #3860
We have gone back and forth on this a bit in the history of Brave. Initially Brave launched without any EV indicators and defended our decision not to in https://github.com/brave/browser-laptop/issues/791. Eventually since there were a few users who weren't employed by the CA industry who asked for it, we did add EV indicators.

We launched the new Brave without EV indicators and haven't heard man

[2019-05-06 21:59] kjozwiak commented on #4307
Awesome, solid work @GeetaSarvadnya! Thanks for running through these so quickly 👍

[2019-05-06 22:00] kjozwiak commented on #4306
Awesome, thanks for powering through these @LaurenWags 👍

[2019-05-06 22:09] jumde opened #4328 "Proxy sb-ssl.google.com through sb-ssl.brave.com"
Test Plan specified here: https://github.com/brave/brave-core/pull/2377

[2019-05-06 22:23] rebron commented on #4298
Released May 6, 2019 ~3:00pm PDT

[2019-05-06 22:23] #4298 closed

[2019-05-06 22:33] Brave-Matt commented on #3113
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/bkufww/middle_clicking_on_a_tab_moves_the_window_to/

[2019-05-06 22:58] diracdeltas commented on #4289
closing because of https://github.com/brave/brave-browser/issues/4328

[2019-05-06 22:58] #4289 closed

[2019-05-06 23:44] Brave-Matt commented on #1638
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/bljeqj/the_download_bar_seems_really_large_is_there_a/

[2019-05-07 03:36] iefremov commented on #4312
It is handy to use `--enable-features=NetworkService` to run Brave with NetworkService

[2019-05-07 05:27] simonhong commented on #2351
Failed browser test with NS on MacOS.
[code]

[2019-05-07 05:40] StephD opened #4329 "Adding "Add folder" into bookmark manager"
## Description
Improvement proposition, not an issue.
Not sure where I can propose this improvement.

- Naming of "Bookmark**s** manager" instead of "Bookmark manager" when rightclick on any bookmark
- Ability to create folder from the bookmarks manager

## Steps to Reproduce
Naming
   1. Right-click on the bookmark bar
   2. See "Bookmark Manager"
   3. Rename into "Bookmark**S** manager"

Creati

[2019-05-07 06:02] NsCDE commented on #4280
Hello,

Is there  any plans to recompile latest stable release for CentOS/RHEL? Or at least provide source rpm to do it myself.

It is a bit misleading to have exact instructions on BRave's page which are not working because they are linking to Fedora 29+ version of the Brave rpm.

Thanks in advance ...

[2019-05-07 10:05] SeevenDev commented on #354
@bsclifton Hi! Any plan on implementing this?

The Shortkeys extension doesn't allow to clear default shortcuts (in my case, I'd like to use Ctrl+Shift+Del with Streamkeys, but this shortcut is already taken for clearing browsing data, which is really annoying).

[2019-05-07 11:40] jsecretan opened #4330 "Payment "receipts" cashed in between the 1st and 5th of the month do not appear in ad totals"
## Description

Take the following case:

1.  A user signs up for Brave Ads on 4/25.
2. Every day until 4/30 (6 days), they see 4 ads, at 0.25BAT/each
3. Payment tokens/receipts are cashed in 5/2.
4. Every day from 5/1 until EOD 5/4 (4 days), he sees 4 ads, at 0.25BAT/each
5. The user wakes up and logs in on 5/5.

Because the user is supposed to get paid for payment tokens cashed in from 4/1 to EO

[2019-05-07 12:42] srirambv commented on #518
Verification passed on

Brave | 0.64.60 Chromium: 74.0.3729.91 (Official Build) beta(64-bit)
-- | --
Revision | 03844ed83e02b8add3f4b9cb859a7108d55b2e4d-refs/branch-heads/3729@{#860}
OS | Linux

* Verified test plan from https://github.com/brave/brave-core/pull/652
* Verified Cert error message is shown on visiting the page
* Verified going into Advance info doesn't allow you to load the page

[2019-05-07 13:21] Sh1d0w opened #4331 "Full screen does not show navigation bar nor tabs"
## Description
When you make Brave fullscreen on macOS by clicking the green arrow at the top left right next to the minimize button, Brave shows only the content of the webpage, but cuts out all tabs and the address bar. It is impossible to reveal them even if you CMD+L to focus the address bar and start typing.

Chrome on other hand properly shows tabs and address bar in fullscreen mode.

## Bra

[2019-05-07 14:11] tmancey commented on #4330
**Proposed Ads Serve Solution:**

Update `POST /confirmation/payment/{paymentId}` Ads Serve call to return `earnings` in the JSON response if the returned `status` was `ok`, i.e:

[code]

`currentCycle` are tokens redeemed between the 1st of the current month and present day.

`due` are tokens redeemed on or before the last day of the previous month which will be paid out in an Ads grant on the 5t

[2019-05-07 16:08] srirambv opened #4332 "Fix Chromium text in cert error page"
## Description

Fix Chromium text in cert error page

## Steps to Reproduce

   1. Visit https://revoked.badssl.com/
   2. Click on advanced
   3. Shows Chromium

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/57314991-ac676600-70c0-11e9-90ea-0898fde36bb3.png)

## Expected result:
Should not have any Chromium branding on cert error page

## Reproduces how often:

Ea

[2019-05-07 16:09] mkarolin opened #4333 "Upgrade from Chromium 74.0.3729.131 to Chromium 75.0.3770.27"
## QA Notes
Affected areas:
- Check extensions/components UI and functionality (rewards, shields, etc).
- Check extensions/components updating.
- Check WebUI pages (settings, extensions).
- Check Avatar menu.
- Check theme functionality.
- Check for extra or broken branding elements.

**This is a major Chromium version bump, please do full passes.**

[2019-05-07 16:36] jumde opened #4335 "Disabling SafeBrowsing in Tor"
Discussion here: https://bravesoftware.slack.com/archives/C85NV6NSG/p1557240084056200

## Test Plan

Specified here: https://github.com/brave/brave-core/pull/2375

[2019-05-07 16:53] kjozwiak commented on #3882
Verification **PASSED** on `macOS 10.14.4 x64` using the following build:

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Went through the original test case outlined under https://github.com/brave/brave-browser/issues/3882#issue-425047834

![themeSettingsmacOS](https:/

[2019-05-07 16:56] srirambv opened #4336 "Too much bottom padding on scripts details view"
## Description

Too much bottom padding on scripts details view

## Steps to Reproduce

   1. Block scripts on a page
   2. Open details view of scripts blocked
   3. Too much bottom padding for Go Back and Cancel buttons

## Actual result:

![Screenshot from 2019-05-07 12-49-09](https://user-images.githubusercontent.com/17010094/57317714-c310bb80-70c6-11e9-9599-f1dba1a2c557.png)

## Expected resu

[2019-05-07 17:01] gadfsgagfaq435 commented on #4328
(sorry if this is the wrong place to ask just delete the comment)

i just saw this by pure chance and was shocked and instantly disabled safebrowsing in brave
my question: if this is fixed will safebrowsing be completely "contact-free" from google in brave ?
so will my ip-adress and/or the websites i visit ever reach google if i use safe-browsing in brave ?
(i know right now it definitly does once

[2019-05-07 17:05] davidhfo commented on #1889
+1

[2019-05-07 17:30] diracdeltas commented on #4328
@gadfsgagfaq435 Google Safebrowsing for URLs doesn't send the website to Google, only a hash prefix if there is a potential match: https://developers.google.com/safe-browsing/v4/urls-hashing. In most cases it won't need to send anything.

For downloads, it appears to send more info (which we weren't aware of til now): https://cs.chromium.org/chromium/src/components/safe_browsing/proto/csd.proto?sq

[2019-05-07 17:42] #4180 closed

[2019-05-07 17:51] #4213 closed

[2019-05-07 18:01] NejcZdovc commented on #4261
@alexwykoff we are using native notifications, so afaik there is nothing we can do about this. It's how OS support for A11Y is for notifications. Closing for now and we can reopen if we find a way or when we implement new notifications, which ever is faster

cc @tmancey

[2019-05-07 18:01] #4261 closed

[2019-05-07 18:21] rebron commented on #4304
cc: @simonhong Can you take a look at this one?

[2019-05-07 18:22] Brave-Matt opened #4338 "Blocked ads sometimes leave additional white space on page"
## Description

Some sites with ads blocked will leave white space on the page where the ad was blocked. In some cases, whitespace seems to be _added_ to the page as well.

Note that this may be related to region as most of the users reporting seem to be outside the US.

## Steps to Reproduce

   1. Visit bitcoinbazis.hu
   2. Ensure Shields are set to default or at least that Ads are blocked
[Det

[2019-05-07 18:29] GeetaSarvadnya opened #4339 "After upgrade to the latest version, Ads switch is turned OFF automatically and unable to turn it ON"
## Description

After upgrade to the latest version, Ads switch is turned OFF automatically and unable to turn it ON

## Steps to Reproduce

   1. Brave beta 0.63.45 (profile was created and viewed Ads in this version, the
      profile was created on 16th April)
   2. Upgrade to the latest beta version 0.64.72
   3. Navigate to `brave://rewards/ `
   4. Observe that `Ads` switch is in OFF state

[2019-05-07 18:38] rebron commented on #4297
Closing. Works as expected, current linux behavior for windows.

[2019-05-07 18:38] #4297 closed

[2019-05-07 18:41] jsecretan commented on #4330
The alternative here is to cache the the timestamp of cashing in payment receipts within the confirmations object and using that to determine the starting timestamp.  The downside is that for anybody already affected, nobody's balance will pop back into view.

[2019-05-07 18:48] RudyMas commented on #3212
OK, a contribution went out today, but not the 20 BAT I had set, but only 5 BAT.

Just wanted to give an update.

[2019-05-07 18:49] LaurenWags commented on #4339
cc @rebron

[2019-05-07 18:51] kjozwiak commented on #4225
Went through the following:

* `macOS 10.14.4 x64` using `0.66.50 Chromium: 74.0.3729.131` - **Couldn't reproduce**
* `Mint 19.1 Tessa x64` using `0.66.50 Chromium: 74.0.3729.131` - **Couldn't reproduce**
* `Win 10 x64` using `0.66.50 Chromium: 74.0.3729.131` - **Reproduced**

**`macOS 10.14.4 x64` Example:**

<img width="385" alt="Screen Shot 2019-05-07 at 1 39 38 PM" src="https://user-images.git

[2019-05-07 18:51] kjozwiak commented on #4225
@srirambv can you reproduce this on your linux desktop?

[2019-05-07 19:05] GeetaSarvadnya opened #4340 "Ads grants notification is shown when Ads switch was OFF"
## Description

After upgrade to the latest version, the Ads switch is getting turned OFF automatically. Ads grants and enable Ads notifications are shown on BAT logo. Ads grants notification is not checking Ads switch ON/OFF condition. If Ads is already turned OFF Ads grants notification should not be shown to the user.
Ads switch turned OFF could be User interface issue. Might be it's ON in the

[2019-05-07 19:17] LaurenWags commented on #4339
Reproduced with STR from description. However, I also tried the following STR and did not reproduce:
Clean profile with 0.63.55 (release version)
Enable Rewards
Close 0.63.55
Rename profile to be for Beta
Launch with 0.64.72.
Ads are not off, there is no notification to try Ads

[2019-05-07 19:18] GriNours commented on #1432
I agree with Mr-Mondragon, annoying the user with the same warning over and over is making security worse.
You should consider offering the possibility to whitelist developers extensions to supress this warning, or at list making it disappear a few seconds after it poped up.

[2019-05-07 19:21] poikilos commented on #3991
NOTE: The reference to xBrowserSync above is unintentional and part of some sample data.

- **more information needed** - what mod is used by mg (where is the code for these barrels)
[code]
It is still happening after upgrading to "Version 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)
".

[2019-05-07 19:33] LaurenWags commented on #3453
@jumde is there manual QA required for this? If not, can we mark as QA/No?

[2019-05-07 19:34] jumde commented on #3453
@LaurenWags - Updated.

[2019-05-07 19:35] LaurenWags commented on #3453
thanks @jumde! 😄

[2019-05-07 20:12] poikilos commented on #3991
If I paste the text into another program, it is bold:
![Screenshot from 2019-05-07 16-10-52](https://user-images.githubusercontent.com/7557867/57330031-f19c8f80-70e2-11e9-88d2-9b20415411a5.png)

[2019-05-07 20:17] poikilos commented on #3991
**bold text**

[2019-05-07 20:25] monk-insane commented on #1432
I am EXTREMELY dissapointed with this.

I switched to brave thinking it treats its users like adults capable of their own decisions.

Now I get nagged because I installed Dissenter - which I cannot do on Firefox or Chrome due to them banning the extension because of draconian censorship decisions.

And don't give me the crap about GAB being Far right platform with hateful opinions on it. Gab is ca

[2019-05-07 20:27] LaurenWags commented on #3894
Verified passed with

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Verified test plan from description for both dark and light themes. cc @kjozwiak to check macOS using Mojave for 'matches macOS theme' option.
![Screen Shot 2019-05-07 at 4 25 44 PM](https://user-image

[2019-05-07 21:12] #4301 closed

[2019-05-07 23:01] BriantGea commented on #1432
Agreed

I am still wondering if this will ever get looked at again as it is "closed"
Or
If we need to make a new thread........ I really don't want to deal with this stupid nagging message.

[2019-05-07 23:05] BriantGea commented on #1432
Protects NO ONE like it is now............... and what about "non-novice" users... shouldn't there be a way to turn it off for them!!

[2019-05-07 23:12] tmancey commented on #4330
*Proposed Client-Side Solution:"

Add `redemption_date_in_seconds` key-value pair to `transactions` key to persist the current time in seconds when tokens are successfully redeemed with the Ads Serve.

[code]

`Estimated earnings this cycle` which can be calculated with `Estimated redemption value of unredeemed tokens` + `Transaction history for tokens redeemed between the 1st of the current month

[2019-05-07 23:23] davidfritsche17 commented on #4323
Ran some tests on several website to see where the slowness may be occurring.  Ran several sites with basicly the same results.  The Compiled Brave browser is 600% slower than the Released brave browser.  The dev tools break it up into 5 categories (hopefully the graphics will transfer here.  All categories are slower except system.

Just FYI, all tests were on the same computer with

Hoping to fi

[2019-05-07 23:37] tmancey commented on #4261
@alexwykoff This would be controlled via the OS, some users on macOS are using workarounds such as https://akrabat.com/keyboard-control-of-macos-notification-alerts/

[2019-05-07 23:46] bsclifton commented on #3991
Looks good to me; are there OS specific settings which could be affecting this?
<img width="847" alt="Screen Shot 2019-05-07 at 4 45 08 PM" src="https://user-images.githubusercontent.com/4733304/57339723-a173fc00-70e7-11e9-8233-1a2fe25cb598.png">

[2019-05-08 00:02] diracdeltas opened #4341 "Disable safebrowsing download protection"
Safebrowsing download protection (not browsing protection) should be disabled until we find a way to prevent it from sending URLs to a remote service.

See https://feeding.cloud.geek.nz/posts/how-safe-browsing-works-in-firefox/ for instance

[2019-05-08 00:03] diracdeltas commented on #4341
Related: #4335 (for just Tor, not normal mode)

[2019-05-08 00:05] diracdeltas commented on #4290
note this is blocked on https://github.com/brave/brave-browser/issues/4341 (making sure the sb download implementation is sufficiently private)

[2019-05-08 01:43] bbondy commented on #4323
`--official_build=true` I think will makeup the difference.

[2019-05-08 02:16] kjozwiak commented on #4296
Reproduced on Ubuntu 18.04.2 LTS x64` using the following build:

* `0.63.55 CR: 74.0.3729.131` - Reproduced
* `0.64.72 CR: 74.0.3729.131` - Reproduced
* `0.65.85 CR: 74.0.3729.131` - Reproduced
* `0.67.1 CR: 74.0.3729.131` - Reproduced

Also tried the following (crashes still weren't appearing under `brave://crashes`):

* crashed using `chrome://crash` & `chrome://gpucrash`
* enabled/disabled `En

[2019-05-08 03:14] ivandere commented on #3082
Still an issue. On all microsoft products like mixer, outlook, onedrive, etc.

[2019-05-08 04:22] drink7up commented on #4221
I've seen a number of people are getting this "Sorry! Ads are not supported for this region" message despite being located in a supported area. I'm having the same problem.

- Windows 10 / LinuxMint

- VPN through US / Canada / UK / France / Germany

- Fresh installs / upgrades

- Release / Beta / Dev / Nightly.

I've yet to see ads work even once!

Are most people actually getting this issue reso

[2019-05-08 05:05] yodaross commented on #1432
Losers, have you configure d dns off moe x yet, or taken down BTC €

On Sat, Apr 20, 2019, 3:12 PM cloaked.ninja <notifications@github.com>
wrote:

[2019-05-08 05:29] #4220 closed

[2019-05-08 05:39] bsclifton opened #4342 "Running unit tests in release mode fails when not official build"
## Description
When building from source, specifically a release build with official_build=false, there are two test failures:
[code]

Problem introduced in https://github.com/brave/brave-core/pull/2167, meaning it occurs in master/0.66.x/0.65.x

## Steps to Reproduce

   1. Clone `brave-browser`
   2. `npm run init -- --all && npm run build -- Release --official_build=false`
   3. `npm test brave

[2019-05-08 05:48] #4342 closed

[2019-05-08 07:03] bsclifton opened #4343 "Error while building 0.65.x"
## Description
Can be seen on Windows when building on 0.65.x

Error looks like this:
[code]

## Steps to Reproduce

   1. On Windows, clone `brave-browser`
   2. Checkout `0.65.x` branch
   3. Update `brave-core` branch to be `pr2219_align_windows_os_theme_with_brave_theme_0.65.x`
   4. Run `npm run init` and `npm run build -- Release`

## Actual result:
Error occurs during compilation. For more

[2019-05-08 07:43] bsclifton opened #4344 "Rewards extension icon does not respond to clicks"
## Description
When using the browser, a LARGE number of notifications is shown:
<img width="119" alt="Screen Shot 2019-05-08 at 12 29 17 AM" src="https://user-images.githubusercontent.com/4733304/57358313-05b7af80-712a-11e9-876d-f83743fcdcd4.png">

However, clicking the icon does nothing (nothing logged to stdout, or background page, etc)

When inspecting using the task manager, a large % of CPU

[2019-05-08 09:16] NejcZdovc opened #4345 "Rename donation(s) to tip(s)"
When we start rewards project we wanted to add donations. But at the later stage this name was changed to tips. Because of that we have both usage in the code. To unify the code we would like to rename all donation(s) mentions into tip(s). There was already first step made into this direction with this issue https://github.com/brave/brave-browser/issues/3953. Second step(this issue) needs to be mo

[2019-05-08 10:26] btlechowski commented on #4149
No longer reproducible on

Brave | 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

Steps:
1. Clean profile
2. Open `https://www.huffpost.com/`
3. Consent to GDPR if applicable

Note: checked on IP from Poland and US.

[2019-05-08 10:26] #4149 closed

[2019-05-08 13:18] emerick opened #4346 "Add support for Twitter tips"
Adds support for Twitter tips, as described in https://docs.google.com/document/d/1OlRWQ1Ksqyt6XT5N0_k503sRP-7clEthDFG1BXeZI5E

[2019-05-08 14:17] GeetaSarvadnya opened #4347 "Consider adding overseas territories as part of supported Brave Ads regions"
## Description

Consider adding overseas territories as part of supported region

cc @tmancey @jsecretan @lukemulks

[2019-05-08 14:25] LaurenWags commented on #3339
Verified passed with

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2121

[2019-05-08 14:34] Pwn3rr commented on #2997
I still have this issue, has it been solved or not?

[2019-05-08 14:34] Pwn3rr commented on #2997
I still have this issue, has it been solved or not?

[2019-05-08 15:17] tmancey commented on #4221
@drink7up which version number of Brave are you using please?

[2019-05-08 15:32] davidfritsche17 commented on #4323
Thank you.  That worked.  The build is fast and the installed went from 554mb to 67 mb.

However, it did not take any of my branding changes.  I re-ran them and they are in the SRC.  But this build seems to ignore them.  I was under the impression that Official Build meant only for the Brave employees.  Can you give me an idea of what its for and if i can get these benefits and still retain my cha

[2019-05-08 15:39] #4328 closed

[2019-05-08 15:49] srirambv commented on #3222
This still happens on the release build for me.

[2019-05-08 15:50] FWDekker commented on #4149
The issue no longer occurs for me either! 👍

[2019-05-08 16:34] andrewmurraytv commented on #2997
No not yet to my knowledge. Looks like they are starting the ads though.
They can be turned on

On Wed, May 8, 2019 at 11:34 AM Pwn3rr <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-05-08 16:36] pixilatedpast commented on #2997
I am having the wallet creation issue. Version 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit) Clean install.

[2019-05-08 16:50] srirambv commented on #403
Adding the issue to 0.64.x  as its a follow up to #403

Verification passed on

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Linux

[2019-05-08 16:51] GeetaSarvadnya commented on #4347
1+ https://community.brave.com/t/no-ads-shown-at-all/58611/15

[2019-05-08 16:54] srirambv opened #4348 "Custom adblock rules should allow cosmetic filters"
## Test plan
See https://github.com/brave/brave-core/pull/4700

## Description

Custom adblock rules doesn't work

## Steps to Reproduce

   1. Install 0.64.x  build
   2. Add a custom rule for a site in `brave://adblock`
   3. Visit the page for which the custom rule was added, doesn't block
[Detailed STR on https://github.com/brave/brave-core/pull/3121]

## Actual result:

Custom adblock rule do

[2019-05-08 16:55] srirambv commented on #1931
Verification passed on

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/57392610-4269c200-718f-11e9-8937-5cd75b5b7d45.png)
* Custom filter rules not working logged #4348

[2019-05-08 16:59] bbondy opened #4349 "Adjust messaging (or remove) for side loading of extensions"
We inherit the following UI from Chromium:
![46507516-ba34d000-c7ed-11e8-94ee-754f0567e088](https://user-images.githubusercontent.com/831718/57393206-a2149d00-7190-11e9-855d-383d74ad0e94.png)

We should adjust the messaging for this since we sometimes recommend certain extensions be manually installed when the Chrome store doesn't allow them.

Note that we don't have our own store right now, so th

[2019-05-08 17:00] bbondy commented on #1432
Thanks for the feedback
I put up a new issue here to cover the concerns: https://github.com/brave/brave-browser/issues/4349

[2019-05-08 17:07] ilyaigpetrov opened #4350 "Built-in Extensions: Could You Use `"persistent": false` For Better Performance?"
I'm slightly concerned about Brave's performance in regards of memory consumption.
In the Task Manager I've found:
- The `Bat Ledger Service` (86mb) which [can't](https://github.com/brave/brave-browser/issues/3436#issuecomment-471427854) be currently switched off.
- `Extension: Brave` (94mb) (`chrome-extension://mnojpmjdmbbfmejpflffifhffcmidifd/manifest.json`, [sources](https://github.com/brave/br

[2019-05-08 17:33] srirambv opened #4351 "No visual confirmation that a verified publisher check is done in rewards panel"
## Description

No visual confirmation that a verified publisher check is done in rewards panel

## Steps to Reproduce

   1. Install 0.64.x
   2. Visit any site and open rewards panel
   3. Click on `Check Again` next to the publisher name
   4. There is no visual confirmation that a check is completed once the spinner is completed the check

## Actual result:

No visual confirmation that a check

[2019-05-08 17:36] btlechowski commented on #965
Still reproducible on

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/57395353-35b59000-71c8-11e9-95c7-aca297e9d10f.png)

https://github.com/brave/brave-browser/issues/3894 needs to be re-verified when th

[2019-05-08 17:47] kdenhartog opened #4352 "Brave blocking OAuth redirect on play-with-docker"
## Description
On launching play-with-docker.com and trying to login, a OAuth redirect is open and immediately closed.

## Steps to Reproduce

   1. go to play-with-docker.com
   2. try to login

## Actual result:
Redirect opens and then immediately closes before I can provide credentials. This works fine on

## Expected result:
Open a redirect window with login with docker hubs page

## Reproduce

[2019-05-08 17:48] rebron commented on #4349
A suggestion from #1432 is to remove notification from dev channel but keep warning in release/beta.

[2019-05-08 17:49] LaurenWags commented on #2160
Verified passed with

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1581
* Verified test plan from description: no connections to sites listed in description and CRLSet has non-zero version number:
![Scre

[2019-05-08 17:51] LaurenWags commented on #3615
Verified passed with

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1581
* Verified test plan from description - MEI Preload, Brave Local Data Updater, Brave Ad Block Updater, Brave Tor Client Updater (OS

[2019-05-08 17:54] bbondy opened #4353 "Enable brave_tests command for Android"
Currently it's wrapped around `if (!is_android) {` in BUILD.gn

cc @SergeyZhukovsky

[2019-05-08 17:59] kwatsen commented on #820
One clarification, keychain integration on iOS appears to be partially working already, with Brave v1.9.1 (19.04.02.12).

On iOS, when logging into a site, I am able to auto-fill my credentials stored in Keychain.
Unfortunately, Brave prompts "Save login for <user> for <site>?", to which one can hit "Don't Save", which is annoying and error-prone.  Good news is that the "Save Login" prompt can be

[2019-05-08 18:04] srirambv commented on #3443
Verification passed on

Brave | 0.64.72 Chromium: 74.0.3729.131 (Official Build) beta(64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Linux

7 Days cookie
![image](https://user-images.githubusercontent.com/17010094/57395965-56192680-7197-11e9-9a99-84b2751f042b.png)
6 Month Cookie
![image](https://user-images.githubusercontent.com/17010094/5739

[2019-05-08 18:20] kjozwiak opened #4354 "Manual test run on OS X for 0.64.x - Release"
## Per release specialty tests
 - [x] About:adblock page with custom filter selection followup to #267.([#403](https://github.com/brave/brave-browser/issues/403))
 - [x] About:adblock page with regional filters selection followup to #267.([#1931](https://github.com/brave/brave-browser/issues/1931))
 - [x] Limit JS set cookie lifetime to 7 days.([#3443](https://github.com/brave/brave-browser/issues

[2019-05-08 18:20] kjozwiak opened #4355 "Manual test run on Windows x64 for 0.64.x - Release"
## Per release specialty tests
 - [x] About:adblock page with custom filter selection followup to #267.([#403](https://github.com/brave/brave-browser/issues/403))
 - [x] About:adblock page with regional filters selection followup to #267.([#1931](https://github.com/brave/brave-browser/issues/1931))
 - [x] Proxy requests for CRLSets through crlsets[n].brave.com.([#2160](https://github.com/brave/bra

[2019-05-08 18:20] kjozwiak opened #4356 "Manual test run on Linux for 0.64.x - Release"
## Per release specialty tests
 - [x] Proxy requests for CRLSets through crlsets[n].brave.com.([#2160](https://github.com/brave/brave-browser/issues/2160))
 - [x] Rewards Panel height should be dynamic based on content, not fixed.([#2874](https://github.com/brave/brave-browser/issues/2874))
 - [x] Add a "manual refresh" button to fetch a new version of the verified publishers list, on demand.([#33

[2019-05-08 18:28] BriantGea commented on #4349
Not sure exactly what all this means..... but having that stupid developer warning keep popping up every fucking single damn time you launch the browser is fucking annoying as fucking hell.

I got it the first damn time... I am not a 3yo that needs to be told something every 3 fucking minutes.

[2019-05-08 19:43] drbree82 opened #4357 "npm run init issue"
## Description
Getting the following output from npm run init
`Unrecognized arch machine: arm64`

I'm building for a HP Envy x2 with a Snapdragon 835

Logs as follows
`0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files (x86)\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose

[2019-05-08 19:44] samoclay commented on #820
For Mac Desktop not iOS

Best Wishes
Samuel Clay
+447766316319

[2019-05-08 19:50] bbondy commented on #4349
I wasn't aware it pops up every time you launch the browser, I put a comment for that in the issue's first post.

[2019-05-08 19:54] davidfritsche17 commented on #4323
Additional info I found helpful.  Maybe the next person will as well:

From Chromium
# Build arguments. Examples:
#   is_component_build = true  (much faster incremental build, very slightly slower performance)
#   is_debug = false           (true means no optimizations, much slower performance)
#   symbol_level = 1           (2 = source-level debugging but slower build, 1 = functions only)
#   dc

[2019-05-08 20:34] Mr-Mondragon commented on #4349
To be honest, this is not a good idea. This more or less 'forces' people to use a dev version (or put up with the nagging popups forever). I am a normal user of Brave, and as such I should be using the official version. Besides the fact that I keep things up to date with package managers, and using dev channel would cause extra maintenance effort.

[2019-05-08 20:41] Mr-Mondragon commented on #4349
Let me please stress this again, as I think security is the most important concern of all this:

Keeping the same popup showing up every time **makes security WORSE, not better!**

I totally understand the reasons for this popup. Really. But I have a self made developer extension, and Brave warns me *every single time*. Despite the fact that I am with absolute 100% certainty NOT at any risk. Extre

[2019-05-08 20:56] bridiver opened #4359 "refactor ledger lib to expose min publisher visit time in public headers"
https://github.com/brave/brave-core/pull/2376#discussion-diff-282208790R525

[2019-05-08 20:56] Brave-Matt commented on #3750
+1 from Community:
https://community.brave.com/t/installed-web-app-crashes-when-trying-to-launch-it/59486/4

[2019-05-08 20:57] bridiver opened #4360 "refactor brave component updater to separate extension code from components"
it should also be moved out of brave_shields because there are components unrelated to shields that use it

also see
https://github.com/brave/brave-core/pull/2376#discussion-diff-282204807R40

[2019-05-08 20:59] bridiver opened #4361 "stats updater returns linux for android"
see
https://github.com/brave/brave-core/commit/a9025169f0b99b337cc9afc12afce597938befe0#diff-1f3055c17e07e8133098b79725256804R47

[2019-05-08 21:00] bridiver opened #4362 "enable tests on android"
see https://github.com/brave/brave-core/pull/2376/files#diff-4eaebbcd1dc0da11e3a3ce488290bfc6R110
and
https://github.com/brave/brave-core/pull/2376/files#diff-0deb8db0aa3d14248a092d269a764b4dR111
and
https://github.com/brave/brave-core/pull/2376/files#diff-7431a47c861a7a7a1650cc09fb2c107eR38

[2019-05-08 21:01] bridiver opened #4363 "enable rewards on android"
see https://github.com/brave/brave-browser/pull/4327/files#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R138

[2019-05-08 21:01] bridiver opened #4364 "enable tor on android"
see https://github.com/brave/brave-browser/pull/4327/files#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R140

[2019-05-08 21:02] bridiver opened #4365 "Enable sync on Android (when compiling Android using brave-core)"
see https://github.com/brave/brave-browser/pull/4327/files#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R141

[2019-05-08 21:04] JimmyMJB2 commented on #4349
I only recently fully committed to using Brave as my primary browser after the Firefox certificate fiasco.

My decision to abandon Firefox (after using it since its inception), wasn’t so much for how avoidable that whole catastrophe was. It was the culture that revealed itself when I looked into the cause. Immediately upon switching to Brave, I messed around with sideloading extensions. When I saw

[2019-05-08 21:12] drink7up commented on #4221
I'm not using any particular version. Just each time github has a new release, I try again. Last one was the nightly v0.67.4

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Terry Mancey <notifications@github.com>
Sent: Thursday, May 9, 2019 1:17:22 AM
To: brave/brave-browser
Cc: drink7up; Mention
Subject: Re: [brave/brave-browser] Ads not available in Canada

[2019-05-08 21:17] LaurenWags commented on #2997
@pixilatedpast we had an outage with Rewards earlier today. Can you please try again?

[2019-05-08 21:19] bridiver commented on #4357
this is an upstream chromium bug - see https://groups.google.com/a/chromium.org/forum/#!topic/chromium-discuss/M7MPEeu4kFA

[2019-05-08 21:19] #4357 closed

[2019-05-08 21:20] bridiver commented on #4353
also see https://github.com/brave/brave-browser/issues/4362

[2019-05-08 21:20] #4362 closed

[2019-05-08 21:21] LaurenWags commented on #3212
@RudyMas glad a contribution went out for you. In regards to only contributing 5 BAT instead of the 20 you had budgeted, Brave only contributes to verified publishers. So, if you go to brave://rewards page, do you see something like this on the right hand panel? (yours will display a different value for BAT of course):
<img width="397" alt="Screen Shot 2019-05-08 at 5 20 27 PM" src="https://user-i

[2019-05-08 21:46] #4304 closed

[2019-05-08 22:36] rebron commented on #3730
Hi @dragGH102. I'm not understanding your situation here, feels like there's a missing step. After you synced bookmarks on Brave on Android to Brave on Windows, you deleted Brave on Windows. And if you mean fully removed, you deleted your profile information as well.

What's missing is what are you wanting to happen next? If you're adding a new Brave Browser instance, you need to create a new sync

[2019-05-08 22:39] Brave-Matt commented on #3113
Update:
Just spoke to Binary Fortress support regarding this issue:
![image](https://user-images.githubusercontent.com/3299098/57412990-849efd80-71a7-11e9-9800-2f03b15b3e39.png)

[2019-05-08 23:02] BriantGea commented on #4349
Yep,
EVERY SINGLE TIME......... supper annoying to have to deal with for an extension I don't foresee removing.

[2019-05-08 23:19] tneo commented on #1900
It only refreshed once for me. After that the same error denied message comes forward.

[2019-05-08 23:50] Mr-Mondragon commented on #4349
In short:

1. Don't just remove the warning.
2. Make it *optional* to remove the warning, but only for that specific version of that specific extension.
3. Make the option optional, i.e. don't show the "don't show this warning again" checkbox in the popup, unless it this feature is explicitly enabled somewhere in the settings. To make absolutely 100% sure nobody is missing any warnings by accident

[2019-05-08 23:53] #4335 closed

[2019-05-08 23:54] #2117 closed

[2019-05-09 00:12] btlechowski opened #4367 "Regional adblock filters are not pre-selected based on locale"
Follow up to https://github.com/brave/brave-browser/issues/1931

## Steps to Reproduce

1, Start with a clean profile
2. Set locale to "fr" in `chrome://settings/languages`
3. Restart Brave
4. Visit `brave://adblock`
5. Verify that French regional list is selected

## Actual result:
`FRA: EasyList Liste FR` is not pre-selected

![image](https://user-images.githubusercontent.com/34715963/57416020-a

[2019-05-09 00:15] bsclifton commented on #3113
@Brave-Matt is this definitively linked to Display Fusion? (if so let's update the issue title)

[2019-05-09 01:27] btlechowski commented on #4332
Reproduced on

Brave | 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/57421013-5b638900-720a-11e9-8efe-748a9a6abdff.png)

[2019-05-09 01:38] honeyoon commented on #4269
Check out the python version! I changed the python version to 2.7. so the problem is solved.

[2019-05-09 01:39] honeyoon commented on #4269
Check out the python version! I changed the python version to 2.7. so the issue is solved.

[2019-05-09 01:39] ArakoKatoc commented on #4349
Showing the warning once a week. Once a month... hell I'll even take once a day, that's really -really- annoying and makes me consider whether I want to continue using brave, but I can swallow it. Fact is I've already sideloaded an extension, whatever damage it can do, is already done. Warning me about it every time I open the browser is only driving me to either 1) change browsers to something el

[2019-05-09 01:45] tmancey opened #4368 "Ads should be delivered broken down by the hour and delivered in equal time space"
If the setting is 2 per hour, allow the browser to send the 2 events in equal time space, i.e. every 30 minutes (if criteria is met) instead of current functionality which send a notification every 5 minutes (if all criteria is met).

Set as P3 as only needs to ride the train for desktop as functionality only affects mobile.

[2019-05-09 02:00] Jeshii commented on #4347
Need this in Japan!

[2019-05-09 02:03] Brave-Matt commented on #3113
@Clifton every user I've spoken to/seen with this issue has had Display Fusion installed as well to manage multiple displays.

This doesn't account for reports I havent seen obviously but the link seems very likely. BF team also acknowledges that the issue seems to be on their end.

Let me know how I can further confirm the link between the two.

[2019-05-09 03:01] onmyouji commented on #4349
Agree, this has been mentioned so many times, I hope they read the comments and understand our concerns. It's not just about the popup being annoying.

The popup is supposed to warn us about malicious extensions, but it becomes useless because users (who sideload their own extensions) just instinctively close it.

[2019-05-09 03:08] tagawa opened #4369 "No menu item for Open a Private Window with Tor"
## Description

## Steps to Reproduce

   1. Open the `File` menu.

## Actual result:
There is no `Open a Private Window with Tor` item.

![no-private-window-with-tor-in-brave](https://user-images.githubusercontent.com/94173/57424488-679a1700-7207-11e9-9b88-2c91a5956ea5.jpg)

Opening a regular private window shows the following message:

  ```Open a Private Window with Tor from the menu, or with ⌥

[2019-05-09 04:04] simonhong commented on #4369
Hi @tagawa :)
This was fixed some days ago (https://github.com/brave/brave-core/pull/2373) and it is in dev channel.
Thanks!

[2019-05-09 04:04] #4369 closed

[2019-05-09 04:14] BriantGea commented on #4349
Anyone that is going to be doing this very likely has SOME BASIC knowledge of technology.
This isn't something your grandma and grandpa are going to be doing..... this warning is pretty pointless if you ask me.
I mean really..... think about who your target audience for this browser is................

[2019-05-09 04:24] #4321 closed

[2019-05-09 04:28] RudyMas commented on #3212
Yes. It does. It has about 60 BAT designated.

[2019-05-09 04:37] XtreemSolution opened #4370 "Brave npm start not working. Calling_exit"
## Description

When I'm trying to install brave via "npm start" it produce me an error

## Steps to Reproduce

   1. Follow these instructions: https://github.com/brave/brave-browser/wiki/Linux-Development-Environment.
   2. git clone git@github.com:brave/brave-browser.git
   3. cd brave-browser
   4. npm install
   5. npm run init
   6. npm run build
   7. npm start -- Here I got this issue

##

[2019-05-09 05:12] ArakoKatoc commented on #4349
I mean... maybe you should consider the fact that you don't know their target audience... I'd characterize their target audience as a large market share of privacy conscious individuals, and to that end, a warning that you have deliberately chosen to configure your browser in an insecure fashion does make sense, however requiring an equally convoluted and complicated method of disabling or delayin

[2019-05-09 06:16] Mr-Mondragon commented on #4349
It is certainly not necessarily in an insecure fashion. For example, if you wrote the extension yourself and are just using it locally.

[2019-05-09 06:39] pavankjadda opened #4371 "Brave autoplay blocker is inconsistent and auto plays videos sometimes"
## Description
Brave autoplay blocker is inconsistent and auto plays videos sometimes

## Steps to Reproduce

   1. Open website [Zdnet](https://www.zdnet.com/topic/prepare-for-serverless-computing/)
   2. If brave stops autoplay, try it in a new tab or window. 4/10 times it plays videos

## Actual result:
Brave should block autoplay by default at all times

## Expected result:
Brave not blocking

[2019-05-09 06:51] tggir1 commented on #2252
0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)

I'm receiving the same CORS preflight error as others. prevents signing in to medium.com (via email, twitter, google, and fb)

[2019-05-09 07:28] JhonnyJason commented on #839
Hello, isn't the google sync implemented in the chromium and brave is based on chromium?
Wouldn't that make it quite easy to use that functionality?
That way it also is possible to pull in the updates in API which essentially require Chromium to update anyways.

I also don't advocate for complex solution when it is really complex and full of edge cases.

But isn't there a possibility to have a sim

[2019-05-09 07:33] ArakoKatoc commented on #4349
I believe what they're INTENDING to say here is that having developer mode enabled to allow the sideloaded extensions is inherently insecure. Not that the extensions themselves are. I'm not sure on that though.

[2019-05-09 08:42] tagawa commented on #4369
That's great to hear - thanks @simonhong

[2019-05-09 10:34] tmancey commented on #4221
@drink7up would you be prepared to share your screen so I can help resolve the issue?

[2019-05-09 11:16] pixilatedpast commented on #2997
All good now. Thank you.

[2019-05-09 11:58] srirambv commented on #4370
Have you installed the build dependencies as mentioned in the [Linux guide](https://github.com/brave/brave-browser/wiki/Linux-Development-Environment#install-additional-build-dependencies) ?

[2019-05-09 12:47] LaurenWags commented on #2997
great, thanks for reporting back @pixilatedpast!

[2019-05-09 12:54] LaurenWags commented on #3212
Thanks @RudyMas - sounds like your auto contribute is occurring, but there are most likely a mix of verified and unverified sites in your auto contribute table. Once we have the monthly statement in place (you can follow progress on that here: https://github.com/brave/brave-browser/issues/930), you'll have more information about your monthly auto contributions.

[2019-05-09 13:28] ChildishGiant commented on #2645
I'd love if there was a way for a user to type in how many BAT they want to send, that way the user can give as much or as little as they want. I guess some publishers wouldn't want this so maybe they could set a min & max or just disable the custom amount option. Here's a terrible 30 second mockup
![image](https://user-images.githubusercontent.com/13716824/57456623-cc845a00-7265-11e9-92b9-b20e1ea

[2019-05-09 13:38] emerick commented on #4367
@btlechowski Just double-checking: When you set the locale to "fr", did you also check the option for "Display Brave in this language"? You'll know when you've properly done it, because Brave will then show a button to relaunch the browser. Sorry if you have done this, just wanted to confirm because it's easy to miss.

[2019-05-09 14:04] XtreemSolution commented on #4370
Yes, I have install build dependencies as mentioned in the Linux Guide.

[2019-05-09 14:29] mbacchi opened #4372 "upload.py broken getting chromedriver_version from BUILD.gn due to PR #2376"
## Description
Upload job failed with error:

[code]

This is due to whitespace being added at the beginning of the line, so when the [function](https://github.com/brave/brave-core/blob/master/script/lib/config.py#L113) in config.py that performs the pattern match for `chromedriver_version` runs, it is not able to get the version.

[PR #2376](https://github.com/brave/brave-core/commit/e3917f631586

[2019-05-09 14:38] bridiver opened #4373 "missing manifest info for bat_ledger"
## Description
[code]

[2019-05-09 14:48] #4373 closed

[2019-05-09 15:20] DaveSanders opened #4374 "Link directly to the background image on Dashboard for saving."
## Description
The "Photo by X" text at the bottom of the dashboard image should link to the photo. Ideally, the word "Photo" would link to the photo, while the image creator is linked as it is now.

This is small potatoes, but the idea being that I sometimes open the dashboard and want to grab the image to save to my rotating desktop wallpapers folder. I can currently click the image creator's na

[2019-05-09 16:21] btlechowski commented on #4367
@emerick Yes, I did set the language and restarted the browser. Brave was launched in french locale.

[2019-05-09 16:33] RudyMas commented on #3212
Thank you for the information! The monthly statement will probably also help me to keep enough BAT in my wallet to cover it all. That's maybe what went wrong in the past few months.

[2019-05-09 16:36] dlipeles commented on #2993
Have received support requests from publishers on this issue too, @diracdeltas I think we talked about this one briefly at brave together

[2019-05-09 17:07] diracdeltas commented on #2993
@tomlowenthal we should maybe move this to p2 since it is disproportionately likely to affect publishers

[2019-05-09 17:26] BriantGea commented on #4349
Um.... yes that is their target audience. o.O
Privacy conscious individuals are the ones that KNOW what is being done with our information and the dangers it is leading too. So I would say they know the dangers of manually installing an extension.
(So again... don't need to be told even once a month... hell even once a year..... that they have a manually added extension.)

[2019-05-09 18:51] fmarier commented on #4187
It now works for me in Beta:

[code]

[2019-05-09 18:53] NejcZdovc opened #4375 "0% publishers should be removed from contribution"
We are currently allowing 0% going into contribution flow. This is at the end ignored, so no harm, but to simplify and not increase json size we should remove it.

Example from `ledger_state`:
[code]

[2019-05-09 18:54] fmarier commented on #4221
It now works for me in Beta:

[code]

with this locale:

[code]

[2019-05-09 19:00] NejcZdovc opened #4376 "End contribution if contribution amount is below threshold"
## Description

Current limit for contribution is 1 vote. This is currently 0.25 BAT. Because we only allow contribution to verified publishers and people have small amount of verified publishers, contribution can be easily bellow that limit. To solve this we will add new HTTP code (`416`) that we need to handle in payload step (https://github.com/brave/brave-core/blob/master/vendor/bat-native-led

[2019-05-09 19:12] #3422 closed

[2019-05-09 19:19] fmarier commented on #4221
Also works with the following locale:

[code]

[2019-05-09 19:45] #4372 closed

[2019-05-09 19:45] bigbaldbob commented on #751
Dumb question:  where do I find the "Notifications" screen?  I have searched under Settings.
Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit) - under Linux

[2019-05-09 20:27] frontendmonster opened #4378 "Brave get laggy on large web pages"
## Description
Brave get laggy on large web pages.

## Steps to Reproduce

   1. Visit [Ecma-262](https://www.ecma-international.org/ecma-262/6.0/index.html)
   2. Try to scroll and navigate around.

## Actual result:
Here is a comparison with chromium
![gif](https://media.giphy.com/media/kDZOIIvJ4R87DjmNZz/giphy.gif)

## Expected result:
DOM get render smoothly.

## Brave version
74.0.63.55

## O

[2019-05-09 20:38] #4277 closed

[2019-05-09 21:20] evq opened #4379 "Re-evaluate Rust package dependency mirroring"
## Description
Currently for our challenge-bypass-ristretto-ffi package we mirror all the rust dependencies in a tarball on S3.

Part of our setup for building Brave includes downloading this tarball which it is my understanding includes both rust, cargo, etc as well as the specific libraries needed to build cbr-ffi.
[code]

In light of us looking to add more rust libraries to Brave browser we sho

[2019-05-09 21:36] jsecretan commented on #4344
Important to note in this is that it pegs CPU at a 100% when this happens, so actually much worse than it initially seemed.

[2019-05-09 21:51] ZamanOof opened #4380 "disable extension auto-update"
as mention in
https://github.com/brave/browser-laptop/issues/10863#thread-subscription-status
as mention @bbondy
As a user, I'd like to be annoyed less often when there are updates.
As a user, I don't want updates downloading when I'm on certain connection types.
As a user, I don't want to update during these hours of the day because my internet provider charges more. (I don't know if that's actua

[2019-05-09 21:52] Brave-Matt commented on #884
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/bm8xb3/issue_cant_scroll_using_mouse_in_pdfs/

[2019-05-09 22:10] Brave-Matt commented on #3718
+1 (two users in thread reporting this though) from Community:
https://community.brave.com/t/i-cant-trip-to-anyone/60007/2
Seems to be happening on mobile and Android

[2019-05-09 22:30] diracdeltas opened #4381 "[feature request] auto-upgrade mixed content"
Chrome has an experiment to auto-upgrade various types of mixed content: https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/ZJxkCJq5zo4/4sSMVZzBAwAJ, https://docs.google.com/document/d/1dp-kuN25wnEbMPNWBxM8LvOjyeydWpXPklNnGcsWK1o/edit#.

This is a good candidate to consider for enabling by default in Brave

Some considerations:
* Sites which serve different content over HTTPS vs HTTP c

[2019-05-09 23:07] rebron commented on #3942
Closing. This is fixed with https://github.com/brave/brave-core/pull/2382. In process to be uplifted to 64.x.

[2019-05-09 23:07] #3942 closed

[2019-05-10 01:47] Kaerakh commented on #4349
Hi,
 I load an extension I do not intend to publish.

The first time I received this notification i thought it was considerate and I appreciated it.
20+ new sessions, and an equal number of prompts closed later I do not appreciate this notification and it is adversely affecting my user experience. Please add an option to not show again or to not show again for currently loaded extensions.

This ou

[2019-05-10 02:23] #4056 closed

[2019-05-10 02:23] #4272 closed

[2019-05-10 03:49] drink7up commented on #4221
@tmancey Does this help?

![Capture1](https://user-images.githubusercontent.com/46804620/57501322-6b728a00-732a-11e9-9d71-bbc0a7891ba0.PNG)
![Capture2](https://user-images.githubusercontent.com/46804620/57501323-6c0b2080-732a-11e9-9b59-ccb095a38b02.PNG)
![Capture3](https://user-images.githubusercontent.com/46804620/57501324-6c0b2080-732a-11e9-923f-086cb759d1c7.PNG)

[2019-05-10 03:50] drink7up commented on #4221
This particular attempt was on Windows 10

[2019-05-10 03:51] drink7up commented on #4221
Where would I find the locale info that people are posting above?

[2019-05-10 03:57] drink7up commented on #4221
And just a side comment, shouldn't we be able to block Brave from accessing our location in the first place? I would have thought the privacy conscious users might want to run it in some sort of location agnostic mode? I mean, particularly in the early stages when there aren't many ad providers, presumably the ads that are available are mostly internet based services that are not location dependen

[2019-05-10 03:57] kjozwiak commented on #4304
Verification **PASSED** on `macOS 10.14.4 x64` using the following build:

Brave | 0.64.73 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Went through the test plan outlined under https://github.com/brave/brave-browser/issues/4304#issue-440456552

[2019-05-10 04:02] Kreyren commented on #4303
Or at least some method to add defitions to adblock from user-side..

[2019-05-10 04:17] snow-frog commented on #34
Multi-session containers are one of the most important privacy features a browser can have today, Brave really needs to pick a page from Firefox here, and quick.

[2019-05-10 04:32] simonhong commented on #2362
On my local, I debugged with gmail and youtube service on MacOS.
 With youtube, renderer process requests notification displaying via `NotificationManager::DisplayPersistentNotification()`.
 With gmail, `NotificationManager::DisplayNonPersistentNotification()` was used.
On Brave, I only can get gmail notification.
On Chromium, both notifications are displayed.
And according to [notification spec](

[2019-05-10 05:12] ArakoKatoc commented on #4349
@BriantGea You're conflating security conscious with technologically capable. Just because someone wants their data kept private, and knows that Brave is a browser that keeps that in mind, doesn't mean they know anything about extensions and the dangers they might present. Meaning that those with the technological background to be considered to have informed consent at the outset without a warning

[2019-05-10 05:17] rebron commented on #2968
dupe of https://github.com/brave/brave-browser/issues/3766

[2019-05-10 05:18] NejcZdovc opened #4382 "Uplift template in CI"
We should be using uplift template for our CI uplifter. https://github.com/brave/brave-browser/wiki/Uplifting-a-pull-request#uplift-approval-template

[2019-05-10 05:30] mandar-brave opened #4383 "A new round of notifications to encourage all users to sign up for Brave rewards and eligible ones for Brave Ads"
Create a once a reminder once a month;
- all users that have opted in to BR AND
- are in the regions where we support Ads AND
- have not opted in to Ads

"Brave Ads are available in your region" Action "Turn ON" and has standard close.
Turn ON - turns on Ads
Close - does nothing

After 6 notifications, move frequency of reminders to once every 3 months.

@alexwykoff @NejcZdovc

@rebron we may want

[2019-05-10 05:34] alexwykoff commented on #4383
in general this makes sense. i do think we should consider an early opt-out for the 'hell no Ads' segment.

making them frustrated with an ad for ads will just lead to churn.

@NejcZdovc i'll get cracking on copy and will ask @jenn-rhim for an assist on UX 😄

[2019-05-10 07:53] Ashutosh-Kukreti commented on #4272
This will apply dark theme to the whole browser,

But that’s not what I want,
I want windows in dark mode and brave with light theme.This does not fixed my problem so there is no point in closing this issue,please fix the light theme in settings

[2019-05-10 08:17] simonhong commented on #4272
Hi @Ashutosh-Kukreti ,
With this https://github.com/brave/brave-core/pull/2352, you can use light theme as a whole brave browser theme regardless of windows theme.

[2019-05-10 08:33] BhuZha opened #4384 "Devtools - Inspect Mode"
## Description
Inside the developer tools inspect element, when selecting the option to preview the site using device toolbar. Setting the preset size to ``Laptop - 1024px`` or any of the higher options (All presets below work normally) Hovering over any node in the elements UI will show the highlight/tooltip in the incorrect location not aligned with the selected node. Also occurring if the optio

[2019-05-10 09:49] #4382 closed

[2019-05-10 10:16] brianddk opened #4385 "Tipping is down "Please try again later""
## Description

The tipping service for the Brave desktop browser seems to be consistently failing as of the submission of this issue.  Attempts to submit issues produce an error suggesting the user try again later.

## Steps to Reproduce

   1. Browse to a verified publisher: https://archive.org
   2. Tip the verified publisher ( 1.0 BAT )
   3. Observe the message indicator on the BAT icon

## A

[2019-05-10 10:17] NejcZdovc opened #4386 "Normalize callback should exclude 0% publishers"
## Description

When you have publisher in your AC table that are 0% if normalize happens when you are on rewards page you will see them.

## Steps to Reproduce

   1. enable rewards
   2. add a lot of publishers to the table so that you will have some publishers that has % 0
   3. open rewards page and make sure that you don't see 0% publishers in AC table
   4. open youtube video and let it run

[2019-05-10 12:11] tmancey opened #4387 "Re-enable Confirmations for Android only branch"
Confirmations was removed from Android for commit hash `e604f294c80fafc7b7e32f970989f49364c0aa59` in `android_74` branch. Now that Ads/Confirmations are building on Android we need to add this re-add this functionality.

[2019-05-10 12:15] tmancey opened #4388 "Resolve Ads/Confirmations compiler errors for Android"
Resolve Ads/Confirmations compiler errors for Android

[2019-05-10 13:28] #4387 closed

[2019-05-10 13:33] tmancey commented on #4387
@bsclifton @SergeyZhukovsky what milestone should I put for work which is only for Android brave-core (and not being merged with master)?

[2019-05-10 13:36] LaurenWags commented on #4339
@GeetaSarvadnya I tried reproducing on release channel with the following STR and could not. Could you try as well?
Clean profile 0.63.55 (current release version)
Enable Rewards, ensure Ads are enabled.
Close 0.63.55.
Update via `test` channel to 0.64.73
Verify that when 0.64.73 is launched Rewards are enabled, Ads are enabled. There is no notification to try Ads.

Brave | 0.64.73 Chromium: 74.0.

[2019-05-10 14:12] tmancey opened #4389 "Implement Brave Ads performance tests"
Implement performance tests for Ads

I will add a breakdown of tests here once investigation is complete.

[2019-05-10 14:13] tmancey opened #4390 "Implement performance tests for Ledger"
Implement performance tests for Ledger

I will add a breakdown of tests here once investigation is complete.

[2019-05-10 14:50] tomlowenthal commented on #4221
Hey @drink7up. I don't think you're asking this, but just to get it out of the way first, your browser isn't using any detailed location info — this is all happening at the granularity of a country. Unfortunately, advertisers really want to show ads in certain countries not others. We'd be spinning our wheels trying to change that. So we don't really have a choice about rolling out ads country by

[2019-05-10 14:52] tomlowenthal commented on #2993
@diracdeltas If we're planning to uplift a fix, P2 makes sense. But I don't think anyone is even working on it right now?

[2019-05-10 15:05] NejcZdovc opened #4391 "Add Vimeo support (tip/panel)"
In first phase we added support for AC for Vimeo (https://github.com/brave/brave-browser/issues/4017). Now we would like to add support for panel/tip as well. Everything should behave in the same way as is for YT

[2019-05-10 15:27] davidfritsche17 commented on #4323
just repeating the question here since I am stuck on my POC - see details above.
Is there anyway to do an Official Build (--official_build=true) and maintain the branding changes?

Thanks in advance.

David

[2019-05-10 15:40] #4269 closed

[2019-05-10 15:45] rebron commented on #4279
cc: @kjozwiak

[2019-05-10 15:50] rebron commented on #4294
@egg734631 Can you submit some sample code to reproduce this?

[2019-05-10 15:52] rebron commented on #4295
Hi @InteXX,

Are you requesting a sync feature or looking for backing data up? We already have sync available for bookmarks and we'll be adding passwords, history, more soon.

[2019-05-10 15:56] rebron commented on #4302
cc: @kjozwiak

[2019-05-10 15:59] rebron commented on #4305
cc: @GeetaSarvadnya Can you take a look to reproduce on Windows 10?
@rebron

[2019-05-10 16:01] rebron commented on #4309
cc: @rossmoody

[2019-05-10 16:03] #4273 closed

[2019-05-10 16:08] rebron commented on #4319
@RobinOehler Can you tell us what version you're using? Type in brave://version and at the top should show you what version number.

[2019-05-10 16:09] rebron commented on #4320
Closing. Dupe of previous issue filed.

[2019-05-10 16:09] #4320 closed

[2019-05-10 16:14] riastradh-brave commented on #1135
Relevant Tor Browser discussion: https://trac.torproject.org/projects/tor/ticket/23247

[2019-05-10 16:15] rebron commented on #4329
There are two ways to add a folder, right click in any empty space and in the right most menu at the top. I'm not sure we'll add this item in the context menu when right-clicking on a folder but appreciate the suggestion.

[2019-05-10 16:15] #4329 closed

[2019-05-10 16:15] kjozwiak commented on #4329
Example of the above:

<img width="948" alt="Screen Shot 2019-05-10 at 12 14 31 PM" src="https://user-images.githubusercontent.com/2602313/57541583-59d6b580-731d-11e9-85e8-eaa9ff5100c5.png">

[2019-05-10 16:16] BriantGea commented on #4349
Just because someone can't make an extension doesn't mean they don't know the very basics of how they work.
And anyone that is security conscious knows that a lot of apps on your phone have code to harvest your personal data.... and an extension is similar. (Just instead of adding to an OS you are adding it to a browser)

But yes, as the "warning" is now... it only serves to drive people away from

[2019-05-10 16:18] rebron commented on #4331
@Sh1d0w Can you post a screenshot? I'm not able to reproduce on macOS. We were able to reproduce this on Windows and Linux.

[2019-05-10 16:30] asmaloney opened #4392 "{macOS} Crash on launch"
## Description

Sometimes when Brave is launched by another app with a URL to open, it crashes.

## Steps to Reproduce

Intermittent, but in general this is what happens:

1. I'm in Vienna - an RSS application - and click on a link to open in the browser.
2. Brave is my default browser and it starts up and crashes immediately (before showing any windows)
3. When I launch Brave again, a dialog show

[2019-05-10 16:37] rebron commented on #4340
cc: @ryanml Related question. Are we showing/prompting Turn on Ads notification after every upgrade if they currently have Ads off. Example user is on 63.55 with Ads Off. See notification and disregards, keeps Ads Off. Upgrades to 64. User shouldn't see Turn on Ads notification again.

Is that right?

[2019-05-10 16:37] mandar-brave opened #4393 "Add Tweet button to every Tip panel"
Add Tweet button to every single Tip panel as part of the tipping process.
When user has successful tipped and land on the final thank you page, add the Tweet button as an option for user to tweet.
Button launched Twitter page in a new tab.

@emerick @NejcZdovc

[2019-05-10 16:39] rebron commented on #4348
cc: @Snuupy can you take a look?

[2019-05-10 16:42] InteXX commented on #4320
@rebron

Do you have a link to the previous issue? I looked before opening this one, but I didn't find any.

[2019-05-10 16:53] InteXX commented on #4295
I'm looking for data backup.

Sync almost gets us there, but not quite.

1. It doesn't work for those with only a single device
2. For those with multiple devices, at least one peer must be running

A reliable unattended backup system that satisfies these could be built on the Sync system.

[2019-05-10 16:53] riastradh-brave opened #4394 "[hackerone] 572733 Tor localhost proxy"
https://hackerone.com/reports/572733

[2019-05-10 17:02] Sh1d0w commented on #4331
@rebron Even better, I've made a video:

https://i.imgur.com/CbXLEO8.mp4

[2019-05-10 17:02] cndouglas commented on #751
@bigbaldbob First of all, please update to the latest version of Brave (currently 0.63.55). Instructions here: https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux.

Once you have updated, follow these steps:

1. Open settings.
2. Scroll down to the bottom and click Advanced.
3. Click Site Settings.
4. Click Notifications.

Alternatively, enter `brave://settings/content/notif

[2019-05-10 17:25] Brave-Matt commented on #4385
+1 reddit:
https://www.reddit.com/r/brave_browser/comments/bmv4vd/youtube_tipping_is_down_please_try_again_later/

[2019-05-10 17:50] 05nelsonm commented on #4295
Will syncing all of these things via webdav be supported, using a personal Nextcloud instance, say?

[2019-05-10 17:54] 05nelsonm commented on #4094
Will syncing using our own personal servers be included, so people can choose not to expose their IP addresses to anyone but themselves? Maybe including advanced option for syncing via WebDav? Would be very nice.

Also, extension support for mobile is possible. Check out Kiwi Browser for Android. Copy/Paste?

[2019-05-10 17:59] bsclifton opened #4395 "Build is broken after PR# 2415"
## Description
Running a build produces this:

## Root cause
Introduced by https://github.com/brave/brave-core/pull/2415

[2019-05-10 18:01] #4395 closed

[2019-05-10 18:28] iefremov opened #4396 "Improve headers crafted for ad-blocked images/scripts"
In https://github.com/brave/brave-browser/issues/2554 we introduced `AdblockIntercetor` that creates fake responses for certain adblocked requests.
In `adblock_intercaptor.cc` we hardcode `"Access-Control-Allow-Origin: *\r\n"`.

We should set the CORS header value to whatever the origin of the top-level page is.

[2019-05-10 18:32] kjozwiak opened #4397 "Manual test run on OS X for 0.65.x - Beta"
## Per release specialty tests
 - [x] In page translation for content.([#208](https://github.com/brave/brave-browser/issues/208))
 - [x] Add/Remove/Reorganize Settings and use new styling.([#955](https://github.com/brave/brave-browser/issues/955))
 - [x] Display sidebar navigation for Settings page.([#958](https://github.com/brave/brave-browser/issues/958))
 - [x] Create Get Started section in set

[2019-05-10 18:32] kjozwiak opened #4398 "Manual test run on Windows x64 for 0.65.x - Beta"
## Per release specialty tests
 - [x] In page translation for content.([#208](https://github.com/brave/brave-browser/issues/208))
 - [x] Add/Remove/Reorganize Settings and use new styling.([#955](https://github.com/brave/brave-browser/issues/955))
 - [x] Display sidebar navigation for Settings page.([#958](https://github.com/brave/brave-browser/issues/958))
 - [x] Create Get Started section in set

[2019-05-10 18:32] kjozwiak opened #4399 "Manual test run on Linux for 0.65.x - Beta"
## Per release specialty tests
 - [x] In page translation for content.([#208](https://github.com/brave/brave-browser/issues/208))
 - [x] Add/Remove/Reorganize Settings and use new styling.([#955](https://github.com/brave/brave-browser/issues/955))
 - [x] Display sidebar navigation for Settings page.([#958](https://github.com/brave/brave-browser/issues/958))
 - [x] Create Get Started section in set

[2019-05-10 18:33] diracdeltas commented on #4396
on second thought, it would probably need to be the origin of the document not origin of top level page. (so if the XHR is coming from inside an iframe, the CORS header should be the iframe origin not the top page origin)

[2019-05-10 18:37] diracdeltas commented on #2143
@pilgrim-brave since we're getting a bunch of complaints about notifications apparently not working in brave, how hard is it to re-enable FCM but without direct connections to G? (either via a Brave proxy like we do with safebrowsing/etc. or just running our own FCM server)

[2019-05-10 18:40] diracdeltas commented on #2143
for reference, mozilla runs their own push service for firefox https://support.mozilla.org/en-US/kb/push-notifications-firefox

[2019-05-10 18:44] AcruxCode opened #4400 "WebGL get's blocked by fingerprinting protection"
## Description
WebGL content get's blocked by fingerprinting protection

## Steps to Reproduce

   1. Set fingerprinting protection to "Device recognition blocked"
   2. Go to [https://get.webgl.org/](https://get.webgl.org/) or [http://vr.ff.com/us/](http://vr.ff.com/us/)

## Actual result:
![Imgur](https://i.imgur.com/TlfnAMs.png)
![Imgur](https://i.imgur.com/AIenu8x.png)

## Expected result:
![I

[2019-05-10 19:00] srirambv commented on #4400
That's the expected behaviour. If you set it to block and if it works that beats the purpose of blocking it.

Marking as invalid issue.

[2019-05-10 19:00] #4400 closed

[2019-05-10 19:00] yrliou opened #4401 "Build error caused by bat_ads_resources.pak"
[code]
cc @tmancey

[2019-05-10 19:24] pilgrim-brave commented on #2143
I don't know offhand. FCM server is not open source. I'm not sure what Mozilla is using on the server side.

[2019-05-10 19:39] GeetaSarvadnya commented on #4339
The issue is reproducible on Dev Channel below version. All profiles are brand new launched brave from desktop setup icon

1.    Dev 0.64.36 ->View an Ad->Go to About Brave (0.66.60)->Click on `Relaunch` –Reproduced
2.    Dev 0.63.11 ->View an Ad->Go to About Brave (0.66.60)->Click on `Relaunch` –Reproduced
3.    Dev 0.65.73 ->View an Ad->Go to About Brave (0.66.60)->Click on `Relaunch` –NOT Repro

[2019-05-10 20:21] Brave-Matt opened #4402 "theverge.com (among other sites) hang/delay before rendering in Brave"
## Description

I’m wondering if anyone can tell me what causes some sites to have a short “delay” before rendering (and rendering correctly).
For example, theverge.com and overclockers.co.uk both have this behavior (off the top of my head, i believe there are more I’ve encountered) but do load as intended. These sites load _much_ faster in Chrome. In Brave you generally get ~1-3 second delay:

![

[2019-05-10 20:38] #4401 closed

[2019-05-10 20:42] yrliou commented on #4388
Reverted by https://github.com/brave/brave-core/pull/2420

[2019-05-10 21:08] asmaloney commented on #4392
Just to add another data point since it just happened again:

After it crashed this time, in step 3 above, instead of launching Brave from the Finder I tried to open the link again (from Vienna). This brings up a Brave window showing the correct URL in the address bar, but the window is empty and Brave is unresponsive (deadlock?).

It requires a force-quit.

[2019-05-10 22:06] LaurenWags commented on #4340
@rebron I tried the following scenario for what you described, here are my steps:
1. Install 0.62.51
2. Enable Rewards, verify Ads UI does not allow enabling.
3. Go to brave://settings/help
4. Update to 0.63.55 (current release version), relaunch.
5. Get Notification about Ads. Dismiss it and do not enable Ads. Verify Ads panel does have toggle (US location) to enable if desired.
6. Update on `tes

[2019-05-10 22:23] tsjnachos117 commented on #4214
@srirambv I'd rather not have Brave ask me which user I want to login as. Instead, I prefer a one-click option to load the browser with whatever user I want to be. Creating an alternate profile allows me to make a shortcut launcher that instantly opens Netflix, while the "standard" icon (that is, the one installed to my system) loads the "standard" profile.

[2019-05-10 22:26] LaurenWags opened #4404 "Updating from older build doesn't show notification to try Ads"
## Description
Found while testing #4224

After following the STR in above issue and updating to 0.64.74, the Ads panel no longer showed the incorrect error message but I did not receive a notification to try Ads.

## Steps to Reproduce

Scenario 1:
1. Install an older build say (0.58.21)
2. Enable Rewards. ensure ads is not available
3. Upgrade to 0.63.48 or 0.63.55
4. Ads shows sorry not availab

[2019-05-10 22:27] LaurenWags commented on #4224
Encountered #4404 while testing

[2019-05-10 22:44] HennyBro commented on #3428
Update: My the Sync WORKS NOW! I installed the latest RC APK for Android and coupled it with the latest stable release from Brave Desktop. It works! It needed about 30 seconds to recognise the device. But it didn't do it by itself. I had to initiate it, I think.

What I did was the following: On my Laptop head over to the sync page and start a new sync chain. Then I chose "pair with new phone/tabl

[2019-05-10 22:48] HennyBro commented on #4365
I think it has been enabled now. I was able to create my second sync chain ever with Brave! The first one was different to the second one and much easier to set up, ironically. But now it seems to work fine!

[2019-05-10 23:57] kjozwiak commented on #4392
@asmaloney do you by any chance have any crashes appearing under `brave://crashes`?

[2019-05-11 00:45] cezaraugusto opened #4405 "same-origin scripts can't be blocked after being enabled first"
## Description

If a website has scripts coming from the same origin you can't block them after enabling.

## Steps to Reproduce

   1. Go to https://cezaraugusto.github.io/privacy-checks/script-blocking/
   2. Check that console has scripts loaded
   3. Block scripts via Shields
   4. Assert that they are blocked (console doesn't show scripts)
   5. In scripts screen, allow all
   6. Go back to t

[2019-05-11 01:10] kjozwiak opened #4406 "components not being refetched/repaired if "manifest.json" is left behind"
## Description

When you remove component files from their respective folders but leave the `manifest.json` file behind, the removed files will never be refetched after either restarting the browser or waiting ~8mins for components to auto-update which will result in a broken state.

## Steps to Reproduce

   1. launch brave using a clean profile
   2. remove everything from `/BraveSoftware/Brave-

[2019-05-11 01:19] kjozwiak commented on #4406
Looks like Chrome components such as `CertificateRevocation` repair themselves. Chromium notices there's files missing, the contents of the directory will be removed and refetched. Example:

* remove `_metadata`, `crl-set` and `LICENSE` from `/BraveSoftware/Brave-Browser-Nightly/CertificateRevocation/5144/` (leave `manifest.fingerprint` & `manifest.json` behind)
* restart the browser

You'll notic

[2019-05-11 01:28] #4394 closed

[2019-05-11 01:37] asmaloney commented on #4392
I do! But it's a little confusing:

![brave crashes](https://user-images.githubusercontent.com/391371/57563370-30dd1180-736b-11e9-8c2f-b68a84eb577b.png)

1. It tells me that crash reporting is disabled and not available
2. But there are crash reports
3. The links are to `chrome://crashes/`
4. I don't know what happens if I click one of the links
5. It doesn't say anywhere what information is inclu

[2019-05-11 01:43] ghost opened #4407 "Browser will not save images as jpg correctly on some sites"
## Description

On the site boards.4chan.org/po/catalog (the orgami board which is the most safe for work board I can show you that is generally very wholesome) there is an issue in the way that the brave browser downloads images. You may not feel it is important to support 4chan.org, however if the brave browser performs improperly with this site then there are likely other sites that are not sup

[2019-05-11 01:51] xtat commented on #3809
Reproduced in Debian - Brave Browser 73.0.62.51

[2019-05-11 02:22] riastradh-brave commented on #3872
What you ask for should be doable with `New Tor Identity`, except it is currently partly broken and doesn't discard the data that it ought to discard.

[2019-05-11 02:27] kjozwiak opened #4408 ""Check for updates" under "brave://components" not refetching files"
## Description

Clicking on `Check for update` under `brave://components` doesn't refetch brave components.

## Steps to Reproduce

**Test 1:**

   1. run brave using a clean profile
   2. remove `/BraveSoftware/Brave-Browser-Nightly/afalakplffnnnlkncjhbmahjfjhmlkal/`
   3. visit `brave://components/`
   4. click on `Check for update` under `Brave Local Data Updater`

Notice that the `afalakplffnn

[2019-05-11 05:15] StephD commented on #4329
Thank for the answer.
It's less intuitive then right-click in the middle of the list of bookmark in the bookmark manager but may be just a point of view

[2019-05-11 06:29] #4344 closed

[2019-05-11 06:30] bsclifton commented on #4344
Marked as `QA/No` because this might be tricky to test

However, @petemill and I both have profiles where this happens and can try to share steps to force this to happen (manually editing files)

[2019-05-11 11:01] hugobuddel opened #4409 "Site incompatibility with Shields on: https://www.shortoftheweek.com/"
## Description
Site incompatibility with Shields on: https://www.shortoftheweek.com/

Movies on https://www.shortoftheweek.com/ do not show. They do play, but are only visible when double clicking on the area where the movie ought to be so it becomes full screen.

## Steps to Reproduce

   1. Go to https://www.shortoftheweek.com/2019/05/10/the-unconditional/
   2. There is a 'rotating square' wher

[2019-05-11 11:37] bbondy commented on #4054
Fixed here:
https://github.com/brave/ad-block/commit/03c18b34f071919bf28725f084bf13dd2105ab4b

Turns out to be a parsing bug only, and we don't parse from our clients (we only deserialize), so I was able to fix it by just re-generating the lists.  If you don't see it working, just restart your browser and that should force an update check for the new serialized list.

[2019-05-11 11:37] #4054 closed

[2019-05-11 11:41] bbondy commented on #4402
weird, thanks for the report!

[2019-05-11 14:13] jstressman commented on #464
The lack of useful tab management is the single biggest factor holding me back from using Chrome/Chromium based browsers.

Right now I have 56 tabs open, and that's while trying to keep them to a minimum. My email, chat, some real estate stuff I'm working on, two youtube videos, a number of Ancestry tabs while I work on genealogy, several articles I'm reading, some wiki pages, a few Facebook discu

[2019-05-11 16:32] bigbaldbob commented on #751
Thanks!

On Fri, May 10, 2019 at 1:02 PM Chandler Douglas <notifications@github.com>
wrote:

[2019-05-11 16:59] cndouglas commented on #4322
Appears to be fixed along with #4054.

[2019-05-11 16:59] #4322 closed

[2019-05-11 17:02] cjwijtmans commented on #2191
what makes you think its necessary?
My use case is to allow ads on a website while keeping the famous "google traffic analyzer" blocked.

[2019-05-11 20:20] brianddk commented on #4385
seems to be back on line now.

[2019-05-11 22:18] dragGH102 commented on #3730
By "removed" from Windows, I meant: removed Brave altogether with Windows
as I had to format the partition.
I understand that the sync chain is interrupted but I don't see why all the
bookmarks on Android also were gone.
Technical issues happen and while I understand that the point of sync is
peer-to-peer sync (just like Firefox does, right?) at least one device
needs to have the bookmark history

[2019-05-11 23:39] Nattakanbar opened #4410 "browser"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-05-12 00:02] JohnTheodore commented on #2495
I'm having a similar issue I think? It's hangouts related I believe. I usually make and receive calls from my gmail tab. I just switched to brave a couple days ago. Someone called, and I could see the phone modal pop up, but I couldn't click answer. This seems similar to this issue: https://github.com/brave/browser-laptop/issues/12113

Not sure if I'm crashing this issue, or if I should go make an

[2019-05-12 12:12] GriNours commented on #4349
Thank you for putting it in the roadmap rebron :)

[2019-05-12 20:27] jtheletter opened #4412 "Open tabs don't sync across devices."
My bookmarks sync from desktop browser to iOS browser. But I see no way to access open tabs from one device to the other. I'm not even sure where to look. Omnibar autocomplete? History?

macOS: Version 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)

iOS: Version 1.9.1 (19.04.02.12)

[2019-05-13 00:42] #3804 closed

[2019-05-13 00:50] simonhong commented on #3501
All use of `URLFetcher` are deleted.

[2019-05-13 00:50] #3501 closed

[2019-05-13 03:54] darrenmartyn opened #4413 "Brave saving .ova files with .ovf file extension."
## Description
Downloading .ova files results in a .ovf file being saved. These two extensions are handled differently by virtualization software, so this is obviously not a good thing.

## Steps to Reproduce

   1. Try download a file with the ".ova" extension.
   2. Notice it gets somehow renamed to ".ovf"
   3. Example file: https://s3-us-west-2.amazonaws.com/hyperiongray-public/whobuntu-0.0.1a

[2019-05-13 04:09] Brave-Matt commented on #3348
+1 from Community:
https://community.brave.com/t/youtube-ads-not-getting-blocked-by-shields-desktop-mobile/45671/8

[2019-05-13 04:20] simonhong commented on #2362
After enabling GCM client (we disabled by https://github.com/brave/brave-browser/issues/1716), I got notification from youtube and demo of https://serviceworke.rs/push-simple_demo.html works well.

[2019-05-13 04:34] kid101 opened #4414 "SAML/SSO login and Redirects doesn't work"
## Description
Some of websites work with SAML/SSO authentication and there are automatic redirects. I am unable to login to such sites. some of them are enterprise applications I try to log into.

## Steps to Reproduce

   1.  Login into any website via SSO
   2. redirect not happening
   3.  page is just stuck.

## Actual result:

## Expected result:
Should be redirected to the original site. Ho

[2019-05-13 05:59] alexwykoff opened #4415 "ring.com flagged as mistyped bing.com"
## Description
From the field : User reports that visiting ring.com gives a redirect page suggesting bing.com
https://twitter.com/VuongN/status/1126898812126158848

## Steps to Reproduce

   1. visit ring.com

## Actual result:
A page suggesting bing.com is displayed. Clicking on 'ignore' sends user to the appropriate page.

## Expected result:
Ring.com should naturally display.

## Reproduces how

[2019-05-13 06:08] bsclifton commented on #4415
Closing as dupe of https://github.com/brave/brave-browser/issues/4304

[2019-05-13 06:08] #4415 closed

[2019-05-13 06:12] NejcZdovc commented on #4385
closing as we had some server problems. Now we should be all good.

[2019-05-13 06:12] #4385 closed

[2019-05-13 06:20] #4410 closed

[2019-05-13 06:26] bsclifton commented on #4365
@bridiver maybe you can help clarify here - but this issue is specifically capturing _enabling of sync in brave-core_ when compiling for Android, right? (as part of the move for Android to use this same repository)

[2019-05-13 06:32] bsclifton commented on #4331
@Sh1d0w that is the behavior we get on Windows and Linux. What version of macOS are you running?

[2019-05-13 06:34] bsclifton commented on #4320
@InteXX sure - the duplicate link is https://github.com/brave/brave-browser/issues/4295

[2019-05-13 06:36] GeetaSarvadnya commented on #4339
Further investigation on the issue. The issue is not reproducible on the higher versions. The issue is reproducible only in the lower versions

1. Nightly(0.67.2)->View an Ad->Upgrade to latest version 0.67.15->Not Reproducible
2. Dev(0.65.85)->View an Ad->Upgrade to latest version 0.66.61->Not Reproducible
3. Beta(0.64.67)->View an Ad->Upgrade to latest version 0.65.88->Not Reproducible

[2019-05-13 06:36] bsclifton commented on #4295
@InteXX does Chrome meet your needs (using Sync) because it doesn't have the problems listed? Or does Chrome offer a specific backup feature (not related to Chrome). I think we're mostly trying to figure out if this is a new feature request? or if we are hiding/disabling something that Chrome/Chromium offers

[2019-05-13 06:39] Sh1d0w commented on #4331
@bsclifton
<img width="698" alt="Screenshot 2019-05-13 at 9 39 15" src="https://user-images.githubusercontent.com/5074917/57600618-005fc800-7563-11e9-9f93-c6d1fd2a72b5.png">

[2019-05-13 07:25] Brave-Matt commented on #904
+1s from Community:
https://community.brave.com/t/block-element-via-selector-not-working/60588/4

[2019-05-13 08:25] silent5am opened #4416 "Previous session lost (open tabs) - how to restore?"
## Description
Last session (open tabs) was lost after a regular reboot; unable to restore that session

## Steps to Reproduce
Can not reproduce at this point

## Brave version (brave://version info)
Version 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)

## Version/Channel Information:
current release

I'm sure this is a known issue but I wasn't able to figure out how to fix this mysel

[2019-05-13 08:36] GeetaSarvadnya commented on #4335
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/2375

[2019-05-13 13:14] GeetaSarvadnya commented on #4328
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

- Verified test plan from https://github.com/brave/brave-core/pull/2377

![image](https://user-images.githubusercontent.com/38657976/57624164-ff548800-75ae-11e9-9a80-2b648a3f345e.png)

[2019-05-13 15:11] NejcZdovc commented on #4375
will close this one as this data will be needed for another operation

[2019-05-13 15:11] #4375 closed

[2019-05-13 15:57] btlechowski commented on #4213
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/57635927-79354300-75a8-11e9-9e96-96ac295385ce.png)
![image](https://user-images.githubusercontent.com/34715963/57635956-86ea

[2019-05-13 17:10] jumde commented on #4408
Same behavior on Chrome:

1. Run Chrome using a clean profile
2. remove everything under the `Google Chrome/InterventionPolicyDatabase/"
3. Navigate to chrome://components/
4. Click on Check for update under `Intervention Policy Database`
5. Files are not restored.

[2019-05-13 17:13] kjozwiak commented on #4335
Moving this into the `0.64.x` milestone as this was merged into `0.64.x` via https://github.com/brave/brave-core/pull/2404.

[2019-05-13 17:19] muro886 commented on #3967
I am in Turkey please enable ads for Turkey.

Brave | 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.706

[2019-05-13 17:47] rebron commented on #4295
@InteXX I don't know of Chrome doing a backup and restore as @bsclifton is saying just the Sync as far as I know, unless there's another Extension for it.

I do know there's a Firefox implementation for auto backup and restore of bookmarks that was implemented many years ago. I don't know if that's what you're looking for, and that was only bookmarks.

<img width="635" alt="Screen Shot 2019-05-13

[2019-05-13 17:54] bbondy commented on #1052
Updated the title. We feel like we have a big enough user base now to go ahead with adding Brave to the end of the User-Agent.

So instead of:
`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36`

We'd show:
`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.3

[2019-05-13 18:00] kjozwiak commented on #4392
Can you please click on `Send now` which will send the report to us. Once you send it over, you can share the `Uploaded Crash Report ID` which I can use to look up the crash report. Example of a submitted crash report:

<img width="698" alt="Screen Shot 2019-05-13 at 1 58 40 PM" src="https://user-images.githubusercontent.com/2602313/57643297-678f7380-7587-11e9-877c-a33186df753e.png">

[2019-05-13 18:12] LaurenWags commented on #4404
Also tested scenario 2 with the following versions:
0.59.35 --> 0.64.74, scenario 2 reproduces
0.60.45 --> 0.64.74, scenario 2 does not reproduce
0.61.51 --> 0.64.74, scenario 2 does not reproduce
0.62.51 --> 0.64.74, scenario 2 does not reproduce
0.63.48 --> 0.64.74, scenario 2 does not reproduce
0.63.55 --> 0.64.74, scenario 2 does not reproduce

[2019-05-13 18:14] ghoppaccia commented on #34
Cannot agree more, we need a nice and constructive competition between the two best privacy oriented browsers. Keep up the good work

[2019-05-13 18:17] LaurenWags commented on #4224
Verified passed with

Brave | 0.64.74 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2340
* Verified if you update from 0.58.21 to 0.63.55, you encounter the issue as described, but when you update to 0.64.74 on `test` channe

[2019-05-13 18:38] bsclifton opened #4417 "Cosmetic filter is not always working"
## Test plan
See https://github.com/brave/brave-core/pull/2486

## Description
For most sites, you can:
1. right click somewhere on site
2. choose `Brave` menu
3. choose `Block element via selector`
4. alert box with selector should show up

Step 4 (the alert) is not always happening. Even if you wait it out. This may be related to the changes made with https://github.com/brave/brave-core/pull/204

[2019-05-13 18:40] Brave-Matt commented on #3420
+1 https://www.reddit.com/r/brave_browser/comments/bnew3b/brave_run_with_sandbox_disabled/

[2019-05-13 18:50] #4343 closed

[2019-05-13 18:54] Jacalz commented on #1000
Is there any new on this? I would love to have Brave available through Flatpak as it would make it work on a lot of different Linux distros. It is especially useful since the Snap app doesn’t have great desktop integration and is slow, which to be fair is a limitation of Snap. Flatpak is also more widely available, fully open source and offers much better desktop integration. A great choice for a

[2019-05-13 18:55] asmaloney commented on #4392
Done - I sent you the requested info via email.

Thank you!

[2019-05-13 19:04] LaurenWags commented on #4339
Release Channel tests:
1. 0.61.52 --> enable Rewards, Ads not available. Update to 0.64.75. Get notification to try Ads and Ads are toggled off as expected.
2. 0.62.51 --> enable Rewards, Ads not available. Update to 0.64.75. Get notification to try Ads and Ads are toggled off as expected.
3. 0.63.48 --> Enable Rewards, View Ad. Update to 0.64.75. Ads still enabled after update, no notification to

[2019-05-13 19:06] kylehickinson opened #4418 "Creating a wallet on an arm64 iOS device fails"
Only applies to iOS builds

Related: https://github.com/brave-intl/bat-native-anonize/issues/13

## Description

Attempting to create a wallet on arm64 fails due to incorrect relic configuration:

<details>
<summary>Full Ledger Error Log</summary>

[code]

</details>

## Steps to Reproduce

   1. Call `CreateWallet` on `Ledger` on arm64 iOS device

## Actual result:

Fails with error

## Expected

[2019-05-13 19:08] da2x commented on #1052
@bbondy for a slew of historical reasons the `Brave` component should have a version number to be compatible with existing User-Agent parsing libraries (and regex soups). Some strict profiles of web application firewalls (things like mod_security) block unusually looking User-Agents; like UAs with unversioned components.  You can either use Brave’s own marketing version number, or just copy the ma

[2019-05-13 19:51] srirambv commented on #4202
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Linux

* Verified installing `0.62.51` and enabling rewards and upgrading to `0.64.75` shows ads is available notification

[2019-05-13 20:54] bbondy commented on #1052
Thanks @da2x we were considering just doing Brave/1.0 in a side discussion but maybe the Chrome version is better.

[2019-05-13 20:58] Fornax96 commented on #1052
Using `Brave/1.0` will probably break a few very badly written web apps. But I think it might be worth it in order to stop all this User Agent madness. Having five browser names and version numbers in your user agent is completely unnecessary nowadays (and humiliating too).

+1 for `Brave/1.0` so we can begin to end the user agent war.

[2019-05-13 21:12] rickpreston opened #4419 "CORS Issue"
Looks similar to 2252 but that is Closed.

## Description
Unable to login to JIRA at `https://<mycompanyname>.atlassian.net` because of CORS issue.

## Steps to Reproduce
Attempt to login to JIRA.

## Actual result:
Dev tools console shows this:
`Access to fetch at 'https://mgas.prod.public.atl-paas.net/analytics/event' from origin 'https://<mycompanyname>.atlassian.net' has been blocked by CORS p

[2019-05-13 22:16] jumde opened #4420 "Stop logging sites to stdout on exit"
https://github.com/brave/brave-core/blob/ac766becf4eadaa53a90ba897781878c8a71db82/vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc#L181

Logs all sites visited by user to stdout.

## Repro Steps:

1. Open Brave Browser using terminal (/Applications/Brave\ Browser\ Nightly.app/Contents/MacOS/Brave\ Browser\ Nightly)
2. Navigate to any site and see that logs of the URL you visited wi

[2019-05-13 22:47] srirambv opened #4421 "Reset browser settings should reset shields/social media/extensions settings"
## Description

Reset browser settings should reset shields/social media/extensions settings

## Steps to Reproduce

   1. Change default shields settings
   2. Disable social media buttons
   3. Reset browser settings, doesn't reset shields/social media

## Actual result:

Reset browser settings doesnt reset shields/social media/extensions settings

## Expected result:
Reset browser settings shou

[2019-05-13 22:48] srirambv commented on #2708
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Linux

* Verified reset settings modal is closed after clicking on reset button
* Verified pinned tabs, search engine and new tab settings are reset
* Logged an issue to reset Brave implementations of shields/social

[2019-05-13 23:55] samik-saha opened #4422 "site compatibility issue with crave.ca"
## Description
When I login to this site crave.ca with my account, it shows an error "If you continue to see this error, please ensure you have cookies enabled, and that you are using a supported device and browser."

I have tried disabling shields. Netflix works fine after installing widevine. But crave still does not work.

## Steps to Reproduce
   1. Go to crave.ca
   2. Try to login (I guess y

[2019-05-14 00:08] bsclifton opened #4431 "Build a replacement for GCM/FCM (used for Desktop notifications)"
## Task
Chromium/Chrome have **GCM** ([Google Cloud Messaging](https://developers.google.com/cloud-messaging/) - deprecated April 2018) and **FCM** ([Firebase Cloud Messaging](https://firebase.google.com/docs/cloud-messaging/)) enabled. These protocols are used in delivering notifications on the Desktop product (at least, on Chromium/Chrome). Because these reach out to Google, we have disabled the

[2019-05-14 00:17] da2x commented on #1052
@bbondy More reasons to copy the Chr version: HTTP/2 uses header compression and repeated [version] strings compress better than unique ones. 😋 It also doesn't leak any additional data.

@Fornax96 Have a look at the never ending battle over this in the WebCompat database. It's not that easy. `Product/Version` would be technically nice but it doesn't work. Too many services are completely unmonitor

[2019-05-14 00:49] jasonrsadler opened #4423 "Remove std::cout logging from ledger twitch file"
## Description

Occasionally, a large log blob will appear in the console.

## Steps to Reproduce

   1. Start Brave and enable Rewards
   2. Visit some sites and view terminal
   3.

## Actual result:

## Expected result:
Occasionally, a std::cout log dump will occur similar to:
```videos0https://www.twitch.tv/anatomyz_2/videos1https://www.twitch.tv/videos/410659815##0https://www.twitch.tv/anatom

[2019-05-14 01:02] yrliou commented on #4423
@jasonrsadler I believe we have one logged already in https://github.com/brave/brave-browser/issues/4420, so closing this one.

[2019-05-14 01:02] #4423 closed

[2019-05-14 01:03] btlechowski commented on #4356
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Ubuntu 18.04 LTS

[2019-05-14 01:03] #4356 closed

[2019-05-14 02:13] NathanaelA opened #4424 "URL.createObjectURL() incompatibility"
Docs: https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL

## Steps to Reproduce
Using createObjectURL seems to create a state where Brave gets confused about things.
Basically the code generates a PDF in memory; and assigns it to an iFrame.   Brave seems to be the only one affected and shows the following warning in the console.log:

`Resource interpreted as Document but transfer

[2019-05-14 02:24] bridiver opened #4425 "use mojo types for ledger PublisherInfo"
First step in transition to using mojo across ledger/rewards

[2019-05-14 02:36] btlechowski commented on #4355
Verification passed on

Brave | 0.64.75 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

[2019-05-14 02:37] #4355 closed

[2019-05-14 02:39] kjozwiak opened #4426 "Release checklist for 0.64.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-05-14 02:56] kjozwiak opened #4427 "Release notes for 0.64.x (Release Channel)"
Release Notes
 - About:adblock page with custom filter selection followup to #267.([#403](https://github.com/brave/brave-browser/issues/403))
 - Enable certificate revocation.([#518](https://github.com/brave/brave-browser/issues/518))
 - Login autofill popup appears unexpectedly in odd location upon page load.([#1713](https://github.com/brave/brave-browser/issues/1713))
 - Enable horizontal scroll

[2019-05-14 03:40] #4420 closed

[2019-05-14 03:41] kjozwiak commented on #4422
@samik-saha have you tried disabling the Brave shields? Does it fix the issue or do you run into the same problem?

[2019-05-14 03:53] jasonrsadler commented on #4351
@mandar-brave What text should we display?

[2019-05-14 04:17] GeetaSarvadnya commented on #4404
Scenario 1 is Reproducible on Windows 10 x64:

Brave | 0.64.74 Chromium: 74.0.3729.131 (Official Build) (64-bit)
-- | --
Revision | 518a41c1fa7ce1c8bb5e22346e82e42b4d76a96f-refs/branch-heads/3729@{#954}
OS | Windows 10 OS Build 17134.523

[2019-05-14 04:56] mandar-brave commented on #4351
If success, the rewards verified icon should show up.
if failure, the check again button should continue to stay.

I don't believe there is a "failure" message necessary.

@jenn-rhim @alexwykoff

[2019-05-14 06:02] simonhong opened #4428 "Build failure on Builder - 'brave/grit/brave_generated_resources.h' file not found"
[code]

cc @bsclifton I saw this error from https://github.com/brave/brave-core/pull/2430

[2019-05-14 06:04] simonhong commented on #4428
I think we should generate resource header file as fast as possible.

[2019-05-14 06:20] #4386 closed

[2019-05-14 06:42] NejcZdovc opened #4429 "Use HTTP status code instead of magic numbers"
We need to go through all ledger code and find where we use int for status codes and instead use net status code. Here is the list: https://cs.chromium.org/chromium/src/net/http/http_status_code_list.h?type=cs&g=0&l=23

[2019-05-14 07:59] Fornax96 commented on #1052
I like the HTTP/2 idea.

Brave could also add a user agent switcher like Opera has. There well always be some bad seeds left among web developers. For instance a while ago I had to use a user agent switcher in chromium because Whatsapp locked me out.

[2019-05-14 08:46] NejcZdovc commented on #3741
@mandar-brave some adjustments:

We will not merge them together as in almost all cases user will not have enough funds.

I wrote the whole thing how this could work, but at the end I got a lot of edge cases. I think we need to process every transaction separately so that things are simple. The only thing that I don't know what to do with is a notification

[2019-05-14 13:04] sandorex commented on #1926
This would be great, currently some websites break when some trackers are blocked and with ads most websites are unusable

[2019-05-14 13:25] epycurasWynter commented on #4349
Fix the issue or I will quit this browser and be forced to recommend against it.

The whole point of this browser is that I can do things like use unloaded extensions.

Do not turn your core users off by trying to tell your users "I know what's best you don't." That's what drove users to quit Chrome and Firefox to use Brave in the first place.

Your call Brave devs.

[2019-05-14 13:32] #4354 closed

[2019-05-14 13:51] Kaerakh commented on #4349
@epycurasWynter
If you scroll up, it's been added to the roadmap. The hostility is unwarranted.

[2019-05-14 13:54] epycurasWynter commented on #4349
What does "it's been added to the roadmap" mean?

[2019-05-14 14:04] samik-saha commented on #4422
@kjozwiak Yes, I have tried that. But the problem persists.

[2019-05-14 14:09] samik-saha commented on #4422
@kjozwiak Actually when I tried just now, with the shields off, it works!

[2019-05-14 14:36] Kaerakh commented on #4349
https://www.merriam-webster.com/dictionary/road%20map

[2019-05-14 14:55] epycurasWynter commented on #4349
If all it means is some random user said it's on the Road Map rather than Brave's coders actually intending to fix the issue, my statement still stands.

[2019-05-14 15:44] ArakoKatoc commented on #4349
rebron added design  priority/P4  labels 4 days ago

^^ Two eyes. Two ears. One mouth. Look and listen before you speak. Rebron is on the development team, and added the design and priority4 tags half a week ago. IE: it's on the roadmap.

[2019-05-14 16:04] epycurasWynter commented on #4349
Rebron isn't actually listed there but I found out Brian is, which means they at least know of the issue.

I'll give them 1 month. After that I will assume they gave up on it.

[2019-05-14 16:19] rebron commented on #4339
Removing from milestone and release blocking label since this doesn't affect release channel.

[2019-05-14 16:19] ArakoKatoc commented on #4349
1 month? Cool. Don't let the door hit you on the way out.

[2019-05-14 16:31] bsclifton commented on #3807
Maybe this is something we can expose in our settings screen

[2019-05-14 16:48] DontTrustMicrosoft-MicrosoftIsAsshole opened #4430 "After resume from hibernate, brave freezes with 100% CPU usage for ever"
//searched for hibernate/resume/standby/freez with zero hits on github. The "community" bug report section has this, but it got auto closed?!

windows:
https://community.brave.com/t/brave-browser-not-responsive-will-not-connect-when-computer-comes-out-of-hibernate/19477

## Description
After wake up from hibernate, Brave window won't render and is frozen for ever with 100% CPU usage

## Steps to R

[2019-05-14 16:59] BriantGea commented on #4349
It would be nice if it took less then a month to solve this...... but as long as it gets solved.

[2019-05-14 17:23] Brave-Matt commented on #3082
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/bg4pry/signing_in_to_bing/

[2019-05-14 17:25] #4428 closed

[2019-05-14 17:26] Brave-Matt commented on #3082
+1 from zendesk:
(translated)
![image](https://user-images.githubusercontent.com/3299098/57718645-adeddc80-7632-11e9-9d26-36e8c9d561e0.png)

[2019-05-14 17:31] bsclifton commented on #4431
cc: @rebron for prioritization

[2019-05-14 17:38] warwickmm commented on #4267
I have the same issue on Version 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit).  Opening a new tab and quickly trying to use a search engine keyword (e.g., `g` for a google search) briefly shows "Search Google" in the omnibox, only for it to disappear and result in `g <search term>` appearing in the omnibox.

Similar to in issue #3756, this only occurs if the current page has some cont

[2019-05-14 17:38] mandar-brave commented on #3741
Updated spec;

- keep each a/c and tips separate; convert all a/c values to tips once creator-XX is verified
- when a new publisher is verified, notify once that a publisher is verified "We will send your contributions to newly verified creator-XX" - action OK and close
- Try sending every tip based on time sequence, FIFO
- if tips fail, keep them in pending log at the browser till successful
- if

[2019-05-14 18:03] MNU-497 opened #4432 "Allowing Cookies for Site is ignored by shields 3rd party cookie block."
## Description

## Steps to Reproduce

   1. Allow any site using brave://settings/content/cookies
   2. Enable shields with blocking of third party cookies
   3. Browse a site that loads content from allowed site from step 1,

## Actual result:

Cookie is blocked

## Expected result:
Cookie should be allowed because you explicitly allowed it in cookie settings.

## Brave version (brave://version

[2019-05-14 18:03] #4376 closed

[2019-05-14 18:10] rebron commented on #3809
cc: @simonhong

[2019-05-14 18:13] rebron commented on #2810
cc: @kjozwiak

[2019-05-14 18:14] rebron commented on #474
@srirambv can you recheck to see if this is still an issue?

[2019-05-14 18:15] Brave-Matt commented on #2362
+1 https://community.brave.com/t/notification-enabled-but-not-working/49594/53?u=mattches

[2019-05-14 18:15] Brave-Matt commented on #2362
+1 https://community.brave.com/t/notification-enabled-but-not-working/49594/53?u=mattches

[2019-05-14 18:18] LaurenWags opened #4433 "Ad notifications not being shown after re-enabling until browser is restarted"
## Description
After Ads have been disabled and then re-enabled, Ad notifications will not be shown until you restart Brave.

## Steps to Reproduce

1. Clean install/profile.
2. Enable Rewards (Ads are also enabled)
3. Go to brave://rewards page
4. Disable Ads
5. Wait 30s or so, enable Ads.
6. Visit a site, wait until you see `Browser state changed to idle` in terminal then move the mouse.
7. No a

[2019-05-14 18:18] cndouglas opened #4434 "Duolingo login problems"
## Description
I am having problems logging into my Duolingo account with Brave. The login request fails (see the console in the screenshot below). Logging in with the same account credentials works fine with Safari.

I have already tried disabling shields, clearing cookies/cache, and restarting Brave, but the problem persists.

## Steps to Reproduce
   1. Go to https://www.duolingo.com/
   2. Cli

[2019-05-14 18:25] petemill commented on #3807
Setting conditional could be added here: https://cs.chromium.org/chromium/src/content/public/browser/media_keys_listener_manager.cc?type=cs&g=0&l=19

[2019-05-14 18:28] alexwykoff commented on #4383
Note : https://github.com/brave/brave-browser/issues/4433 will impact flow for users if it is not fixed before this issue is shipped.

[2019-05-14 18:28] etrokal commented on #2997
I'm having this problem. I did a fresh installation. Version 0.63.55 Chromium: 74.0.3729.131 (Official Build) (64-bit)
![image](https://user-images.githubusercontent.com/1265604/57722430-cbd03700-765c-11e9-81ba-867d060c6a56.png)

[2019-05-14 18:34] kjozwiak commented on #4422
Awesome 👍You can use that as a workaround for now until we fix this issue so `crave.ca` works with the default shield settings. I moved the issue into the `Web Compat` project board.

[2019-05-14 18:37] LaurenWags commented on #4302
duplicate of https://github.com/brave/brave-browser/issues/2198 ?

[2019-05-14 18:42] kjozwiak commented on #4302
@LaurenWags yup, looks like this a duplicate. Going to close this off in favour of #2198.

[2019-05-14 18:42] #4302 closed

[2019-05-14 18:43] PoloniumRain commented on #4349
Just joined Github to post on this issue because it's so annoying.

I also want to point out that **the Vivaldi browser has this warning disabled by default.**
It's a browser that's also based on Chromium, and it's the final release, not the developer release. So normal users don't even see the warning out-of-the-box, and yet Vivaldi isn't having any security issues. Maybe because users who sidelo

[2019-05-14 18:46] mandar-brave commented on #4383
@alexwykoff #4433  is not a blocker; we will maximize reach.

Redoing spec;
Two use cases:
1. Notify users that have opted in to BR, turned off Ads, and are in ads regions: We need to find the appropriate string with action "Turn ON" - turn ON will turn on Ads for these users; this is text that was already sent one time and tracked for translation
2. Turn notification toggle ON for every single BA

[2019-05-14 18:57] ArakoKatoc commented on #4349
yeah I tried using vivaldi and it's user experience is dated, its security features are ... laughable. It's slow to load, and netted me a 2% performance increase over Google's stock chrome browser. Brave's security is much tighter, comes with a built-in ad blocker, still comes in between 20 and 40% performance increase over stock chrome WITHOUT adblock.

That's like saying cookies should copy grav

[2019-05-14 19:06] PoloniumRain commented on #4349
Don't know why you're acting defensive... Didn't know GitHub was like a console fanboy forum.

Vilvaldi was simply a good example to use as it's also Chromium based. The whole point i joined Github and posted here is because i want my preferred browser, **Brave**, to be less annoying.

[2019-05-14 19:19] ArakoKatoc commented on #4349
Again I'll suggest... 2 eyes. 2 ears. 1 mouth. if you look up four days ago, before it was put on the roadmap, I was saying the same things you were. Now they are working on it. Fanboys don't hop back and forth between for and against, they're always for. When I was told they weren't fixing it, I was against them, now that they're fixing it, I'm defending them while they take the time to fix it. B

[2019-05-14 19:20] srirambv commented on #4432
Shields settings override the explicit content settings. This is expected behaviour. If you disable shields only then changes made in content settings take effect.

[2019-05-14 19:20] #4432 closed

[2019-05-14 19:27] riastradh-brave opened #4435 "Use exponentially distributed intervals for privacy of periodic events"
The exponential (or geometric) distribution is memoryless, so whether the last event happened just now or a day ago, the distribution on how long from now the next event will happen is the same -- and it's the same for every party that schedules events with exponential distribution at the same rate.  The exponential distribution is the _only_ distribution on the reals with this property (and the g

[2019-05-14 19:38] mbacchi opened #4436 "Remove linux packages older than 120 days"
In the [previous commit](https://github.com/brave/brave-core/pull/2252) this was enabled for reporting files older than 120 days. Now we need to actually remove those files after it has proven to show the files expected.

[2019-05-14 19:51] #3932 closed

[2019-05-14 20:31] fmp777 opened #4437 "Cookies cannot be changed or deleted by server"
## Description
Server response headers cannot modify or delete cookies that have been created from an import [from Firefox] [during initial setup].

## Steps to Reproduce
   1. Fresh download Brave Browser MAC OS
   2. During startup, import firefox history, cookies, etc.
   3. Visit a website that requires a login that you had logged into via firefox
   4. That website freaks out in some unusual

[2019-05-14 20:35] Brave-Matt commented on #3960
+1 and Bumping this issue as it seems to be affect a good amount of users. 4 new users reporting this thread: https://community.brave.com/t/email-redirect-not-working-on-web-de-and-gmx-de/43965/11?u=mattches

[2019-05-14 20:37] snyderp opened #4438 "Add lifetime storage settings for indexDB / localStorage"
We currently set a max lifetime of 7 days for JS set cookies.  It would be good to add some similar lifetime-ing of other JS-set storage (i.e. localStorage, indexDB).

Might also make sense to key off of whether the JS is 1p or 3p (not the frame / context, but the JS code source)

[2019-05-14 20:41] pes10k opened #4440 "Consider adding fanboy_annoyance_thirdparty list to shipped lists"
This came up in discussing ways of blocking faux notification API requests, like the one that appears here

https://www.indiatimes.com (give it a few seconds).

From @bbondy 's interview with the list's maintainer,

```I dug into the difference with the fanboy lists on my call with Ryan and when he decides to put it in a fanboy list, he said it's because it is a riskier change.  He will sometimes

[2019-05-14 21:25] diracdeltas opened #4442 "Restore Tor storage partition isolation by origin"
This was lost in the translation from muon to b-c.

Test plan: TBD

[2019-05-14 21:26] #4427 closed

[2019-05-14 21:31] bsclifton opened #4443 "Upgrade from Chromium 74.0.3729.131 to Chromium 74.0.3729.157"
## Description
Upgrade the `PATCH` version of Chromium

Limited to 0.64.x because 0.65.x and newer will get Chromium 75:
- https://github.com/brave/brave-browser/pull/4366
- https://github.com/brave/brave-core/pull/2401

[2019-05-14 21:47] rebron commented on #4426
Closing. Released May 14, 2019 ~2:45pmPDT

[2019-05-14 21:47] #4426 closed

[2019-05-14 22:13] BriantGea commented on #4349
Me too.

[2019-05-14 22:20] cezaraugusto opened #4444 "Users should be able to share stats in new tab page on social media"
We should consider adding a social share button, i.e. twitter/fb in new tab page so that users could share stats on their networks.

cc @karenkliu for ideas

[2019-05-14 22:23] rivy commented on #4102
@lukemulks , yes, the notifications are collected in the notification tray. However, they cannot be opened. Clicking on them just dismisses them without showing any ad.

[2019-05-14 22:24] srirambv commented on #4444
Probably add it as an option in settings to show the button in newtab. We've heard a lot of complaints about default Twitte/FB tiles we had on muon

[2019-05-14 22:25] cezaraugusto opened #4445 "Storybook for new tab page should be hosted on brave-core and not brave-ui"
Reasons:

* Speed-up migration process (one repo instead of two)
* Un-tie feature-specific components from our shared component library

Ideally, all brave-core features should be hosted in brave-core but NTP is the best candidate as it's the least complex feature so far.

[2019-05-14 22:56] kjozwiak opened #4446 "Release checklist for 0.64.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-05-14 23:19] kjozwiak opened #4447 "Manual test run on OS X for 0.64.x - Hotfix 1"
## Per release specialty tests

### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

#

[2019-05-14 23:19] kjozwiak opened #4448 "Manual test run on Windows x64 for 0.64.x - Hotfix 1"
## Per release specialty tests

### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

#

[2019-05-14 23:19] kjozwiak opened #4449 "Manual test run on Linux for 0.64.x - Hotfix 1"
## Per release specialty tests

### Installer

- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

#

[2019-05-14 23:31] arsalankhalid commented on #3271
Can I grab this?

[2019-05-14 23:39] geekyBoogiepop opened #4450 "Disqus and Facebook embedded comments not working properly."
## Description
Cannot see more comments using "Show more replies" option with disqus.com or facebook embedded comments.

## Steps to Reproduce

   1. Go to https://www.xda-developers.com/oneplus-7-pro-review/ as an example.
   2. Find the "Show more replies" option.
   3. Click it.

## Actual result:

Not working. Just stay the same.

## Expected result:
Show more replies to the main comment.

##

[2019-05-14 23:39] karenkliu opened #4451 "Shields icon alt text should not say "Has access to this site""
## Description
Currently, the Shields icon has "Has access to this site" as alt-text when you hover over the icon:
<img width="166" alt="Screen Shot 2019-05-09 at 4 13 45 PM" src="https://user-images.githubusercontent.com/2388823/57738995-b3651a00-7666-11e9-9c1c-7ca45c03a383.png">

## Expected Result
The text should just say "Brave Shields" and not have the additional line "Has access to this site

[2019-05-14 23:44] rebron commented on #4450
@geekyBoogiepop
With your steps to reproduce: https://www.xda-developers.com/oneplus-7-pro-review/ I clicked on the 'Show more replies' option and nothing happened but I also saw that there were 19 comments and I counted that 19 comments were displayed.

It doesn't look like there are any more replies to show. Can you check again?

[2019-05-15 00:34] geekyBoogiepop commented on #4450
Yes, I checked, even with more articles. Already tested with firefox and chrome and the issue is not there.
Here you have more examples:
https://www.xda-developers.com/google-play-console-new-features-google-io-2019/
https://www.xda-developers.com/oneplus-oxygenos-user-feedback/
https://www.xda-developers.com/google-more-information-desktop-mode-android-q/

In the following image you can see the f

[2019-05-15 02:23] bridiver opened #4453 "android builds should default to x64"
The android emulator works much better with x86/x64. You can run for other archs with `--target_arch=arm`, etc...

[2019-05-15 02:25] ilyaigpetrov opened #4455 "Make Compilation Process More Robust And Faster"
I've just spent 14 hours of my life trying to compile Brave, a little bit frustrated but bringing it here in case you can make the compilation process a little bit more robust using my feedback.

1) Could you make a shallow clone with `git clone --depth 1`?
2) According to the logs my network interface finally hung up. I was unable to continue the process but to repeat it again from the beginning.

[2019-05-15 02:28] #4418 closed

[2019-05-15 02:59] jangorecki commented on #353
Maybe you could just split this issue into 2+ smaller ones so blank new page could be easily rolled out without waiting months for full blown customisation of new page? Months are passing and such a simple request to fix this regression (comparing to old brave) is blocked by features that many users might not even need.

[2019-05-15 04:34] ilyaigpetrov commented on #4455
After adding `--no-history` to gclient deltas were resolved in 10 minutes instead of 5 hours:
[code]
I will update this message if compilation won't succeed.

[2019-05-15 05:49] #4043 closed

[2019-05-15 06:55] MuffinManSkripp commented on #1432
Sure but that is up to me, not you. I want to use Dissenter without Brave taking control of my browser every single time I launch it, forcing me to hit the stupid "x" so I can start using it again and so the very obnoxious warning, that I have now memorized, will go way. If it's that big of a deal, bury the option to turn it off behind 3 settings menus and give 500 warnings as to why we shouldn't

[2019-05-15 07:03] GeetaSarvadnya commented on #2997
@etrokal Can you please check now?