[2022-10-31 11:53] GeetaSarvadnya opened #26391 "updated region not supported message is NOT shown for Gemini custodian"
## Description

Found while testing https://github.com/brave/brave-browser/issues/25918
updated region not supported message is NOT shown for Gemini custodian

## Steps to Reproduce

   1. Clean profile 1.46.x
   2. Click on the BR panel and declare the geo as `US` in the rewards onborading flow
   3. Enable rewards
   4. Login to Gemini custodian using the Gemini account which is verified with `I

[2022-10-31 11:59] srirambv commented on #25707
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from issue description
- Verified running `window.ethereum.request({method:'wallet_switchEthereumChain', params: [{chainId: '0xA86A'}]})` prompts to switch network
- Verified able to a

[2022-10-31 12:05] brave-builds opened #26392 "Test failure: PersistedPermissionsFileSystemAccessBrowserTest.UsageIndicatorVisibleWithPersistedPermissionsEnabled"
Greetings human!

Bad news. `PersistedPermissionsFileSystemAccessBrowserTest.UsageIndicatorVisibleWithPersistedPermissionsEnabled` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/297/testReport/junit/(root)/PersistedPermissionsFileSystemAccessBrowserTest/windows_x64___test_browser_chromium___UsageIndicatorVisibleWithPersistedPermissionsEnabled).

[2022-10-31 12:06] srirambv commented on #25668
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from issue description & [brave/brave-core#15402](https://github.com/brave/brave-core/pull/15402)
- Verified Market tab uses the selected based currency
- Verified token details page f

[2022-10-31 12:27] #26384 closed

[2022-10-31 12:27] notvenom opened #26393 "Revisit issue 22028"
Hi, I know this isnt the proper way, but on
https://github.com/brave/brave-browser/issues/22028 , it was said in May that it would be worked on in the next few weeks. However, it has been 5 months now with no update, the issue is locked and community threads are ignored.
Will this be implemented eventually or are we just forced to use the old version forever?

[2022-10-31 12:46] srirambv commented on #25246
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15103](https://github.com/brave/brave-core/pull/15103)
- Verified a separate tab is shown for adding NFT in the add custom token form
- Verified able to add NFT

[2022-10-31 13:14] goodov commented on #26392
fixed here https://github.com/brave/brave-browser/issues/26029

[2022-10-31 13:14] #26392 closed

[2022-10-31 13:35] webel commented on #18204
Also wondering how to get around this, don't fancy the gateway solution but I guess that's the way to go.

[2022-10-31 13:41] Miyayes commented on #26391
@GeetaSarvadnya I think you're just running into a different error in this case? Or: "region not supported" logic comes _before_ "country mismatch" check?

[2022-10-31 13:43] Miyayes commented on #26338
@emerick Yes, that also goes away.

[2022-10-31 14:14] GeetaSarvadnya commented on #26391
@Miyayes Looks like issue is invalid. In this case, the `region not supported` message which I am getting is expected as `India` is in not supported country list for Gemini.

[2022-10-31 14:18] GeetaSarvadnya commented on #26391
cc: @szilardszaloki

[2022-10-31 14:32] szilardszaloki commented on #26391
@GeetaSarvadnya @Miyayes We have "early region not supported" errors implemented only for Uphold, so that's not coming from Gemini, but from our linking endpoint. @husobee might know what the actual order of these checks is.

[2022-10-31 14:57] mattmcalister commented on #23338
is this still an open issue?

[2022-10-31 15:33] GeetaSarvadnya commented on #25659
Verification is inprogress

[code]

[2022-10-31 15:44] mattmcalister commented on #26253
also it doesn't search for news. it should read...

`Search for site, topic, or RSS feed`

[2022-10-31 15:58] emkay5771 commented on #24717
Not sure if this was intentional, but today's update seems to have broken vertical tabs, as well as merged the top and tab bars.

![image](https://user-images.githubusercontent.com/52011243/199052511-3c57b0ae-d2d9-4399-a0d3-5b97dd3974d9.png)

[2022-10-31 16:02] stephendonner commented on #26308
Can still easily reproduce this 100% using

Brave | 1.47.33 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

[2022-10-31 16:05] #22489 closed

[2022-10-31 16:38] stephendonner commented on #22626
## Verified `PASSED` using

Brave | 1.46.86 Chromium: 107.0.5304.91 (Official Build) beta (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:
1. installed `1.46.86`
2. launched Brave
3. opened `brave://flags`
4. set `SDK` and `VPN` flags to `Enabled`
5. clicked `Relaunch`
6. loaded `account.braveso

[2022-10-31 16:43] Miyayes commented on #26391
It's indeed on the server, but in general, "region not supported" seems to be very early/come first. In testing some other error messages, too, I also noted that "region not supported" takes precedence, so it's probably early up in logic.

If the logic is working w/ other custodian cases, I feel safe closing this out as invalid for now. Thanks for reporting.

[2022-10-31 16:43] #26391 closed

[2022-10-31 16:46] GeetaSarvadnya commented on #25867
As per the discussion with @DJAndries via DM, To report the metrics `Brave.Core.DomainsLoaded` one week need not to be passed. The domain will be counted the day after the domain has been visited. If domain is visited today (31st Oct), the domains will be reported from 1st, 2nd, 3rd, 4th, 5th, 6th, 7th Novemenber (i.e from 2 to 8). The below cases are working as expected.

Case 1: 31st oct->domain

[2022-10-31 16:46] bsclifton commented on #26254
## Current behavior on iOS
### Getting a credential
1. Visit https://account.brave.com
2. Purchase or already have a VPN purchase in your products list (under `Plans`)
3. Click `Refresh Brave VPN` for the product you have
4. TODO

### After a credential
1. Program starts up; during this VPN is initialized https://github.com/brave/brave-ios/blob/1cb8ebfc3419e69b13c45f3e8eb6209c7084b49b/Client/Front

[2022-10-31 17:20] rame0 commented on #18927
I have the same issue.

I've also tried to set `ForcedLanguages` policy to `en-US`. Did not worked eather.

![image](https://user-images.githubusercontent.com/2233607/199067947-bcda2c84-f914-4e24-8135-1ed33089f495.png)

### Brave version (brave://version info)
Brave | 1.45.116 Chromium: 107.0.5304.91 (Официальная сборка) (64 бит)
-- | --
Версия | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branc

[2022-10-31 17:34] UjCbFwtBayFM commented on #26393
They made it quite clear it would require too much work for little gains.

[2022-10-31 17:39] bsclifton commented on #26254
## Analysis of behavior on Android
### Getting an order loaded into SKU
TBD

### After order details are loaded
TBD

[2022-10-31 18:19] stephendonner commented on #25929
## Verified `PASSED` using

Brave | 1.46.86 Chromium: 107.0.5304.91 (Official Build) beta (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Pre-requisites:
<details>

1. opened `Apple` -> `System Preferences` -> `General`
2. under `Default web browser`, choose `Firefox.app`

<img width="780" alt="Screen

[2022-10-31 18:33] Brave-Matt commented on #25644
I have more users still reporting this behavior:
https://community.brave.com/t/bookmarks-dropdown-missing/436412/6

[2022-10-31 18:36] LaurenWags commented on #26280
Verification in progress with

[code]

[2022-10-31 18:41] stephendonner commented on #22653
## Verified `PASSED` using

Brave | 1.46.86 Chromium: 107.0.5304.91 (Official Build) beta (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

This should actually only be changed for Windows (since we don't have VPN on Linux); macOS should use `Title Case`, rather than `Sentence case`.

So I'm going to verify

[2022-10-31 18:43] levicki opened #26394 "[Feature request] Allow disabling shields completely with a global switch or from the command line"
As the title says, I would like to have a global switch or at least a command line option to completely disable Brave Shields.

Rationale:
1. I prefer using uBlock Origin, having two privacy filters is excessive and likely reduces performance even if one of them is just checking whether it is enabled or not on each request.
2. Icon on the address bar takes space and still shows "Shields Up" status

[2022-10-31 18:49] tmancey commented on #23756
@srirambv we have refactored the ads service startup code, so could you please let us know if you experience the issue again by reopening this issue?

[2022-10-31 18:49] #23756 closed

[2022-10-31 19:19] yrliou opened #26395 "Add is_nft into BlockchainToken"
This backend change is needed in preparation to support Solana NFT(https://github.com/brave/brave-browser/issues/25864), this new property should be true for existing ERC721 NFTs, and for future ERC1155 NFTs and Solana NFTs.

[2022-10-31 19:34] SergeyZhukovsky opened #26396 "Crash from Google Play Console"
[code]

I wasn't able to replicate it. It looks like there are some cases that we pass null profile.

[2022-10-31 19:34] yrliou commented on #25864
To have basic support of Solana NFT, on desktop UI, we need
1. Enable the ability to add Solana NFT via add-nft-form similar to below. Currently we can't add Solana NFT this way because there is no tokenID.
[code]
2. Fix the balance display for Solana NFT similar to below. Currently we use amount without returned decimals in this RPC response and use amount with token.decimals, which is wrong.
[co

[2022-10-31 20:42] stephendonner commented on #24715
## Verified `PASSED` using

Brave | 1.46.86 Chromium: 107.0.5304.91 (Official Build) beta (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:
installed `1.42.95`
launched Brave
loaded `https://russian.rt.com/`
confirmed the `Google Translate` extension bubble was shown
clicked `Install`
clicked `Ad

[2022-10-31 20:52] Coffeeling commented on #25948
Have this now in Nightly, but it's very fiddly - they collapse even though my mouse is still over the now-expanded tab list. Feels like the expansion just lets me see what's what but actual operations have to be carried out in the small icon-only state.

[2022-10-31 21:09] stoletheminerals opened #26397 "Wallet shows wrong address and network when signing DApps messages/transaction"
## Description

On Android, if I connect to Ethereum dapps and have a Solana account active/chosen in the wallet, it shows my Solana address instead of the Ethereum address when signing messages . This works vice versa as well, shows my Ethereum address when signing Solana dapps messages. When signing transaction it also shows the network incorrectly on both Android and Desktop.

## Steps to Repro

[2022-10-31 21:09] fmarier opened #26398 "P3A setting should have a Learn more link"
The P3A setting in `brave://settings/privacy` should have a "learn more" link to take the user to <https://support.brave.com/hc/en-us/articles/9140465918093-What-is-P3A-in-Brave->.

[2022-10-31 21:22] bsclifton commented on #26393
This is still on our backlog; I'll see if we can share an update in the original issue

It was locked because there things were getting a bit heated

[2022-10-31 21:22] #26393 closed

[2022-10-31 21:24] bsclifton commented on #22028
+1 from @notvenom via https://github.com/brave/brave-browser/issues/26393

[2022-10-31 21:30] stephendonner commented on #25761
## Verification `IN-PROGRESS` using

Brave | 1.46.86 Chromium: 107.0.5304.91 (Official Build) beta (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Prerequisite: have 15+ images handy

### Case 1: Upload a single image in the 1st tab
<details>

</details>

### Case 2: Users should be able to upload mul

[2022-10-31 21:36] snowbound commented on #25694
Is anyone from Brave Dev going to bother looking at the dump or should I just go back to MS Edge or Chrome the latter has no issues with chat populating properly?

[2022-10-31 21:43] bsclifton commented on #23301
I believe this is fixed now - @simonhong had fixed a very similar issue

@simonhong can you confirm?

[2022-10-31 21:45] bsclifton commented on #26350
@simonhong @GeetaSarvadnya it's definitely NOT expected to connect after purchasing... but it is expected to show the regions when you click the VPN menu (ex: it's authenticated). Looks like that's taken care of per the video in original post 👍

[2022-10-31 21:45] #26350 closed

[2022-10-31 21:47] bsclifton commented on #25925
Closing this for now - let's re-open if it's still an issue (should be fixed)

[2022-10-31 21:47] #25925 closed

[2022-10-31 21:48] bsclifton commented on #23018
Closing as stale - this shouldn't be happening anymore 😄

[2022-10-31 21:48] #23018 closed

[2022-10-31 22:05] fallaciousreasoning commented on #26308
Okay cool, I'll dig into it a bit more

[2022-10-31 22:17] josheleonard opened #26399 "Use new wallet backup UI in brave://wallet/crypto/backup-wallet"
## Description

Show the new wallet backup UI from the onboarding flow from brave://wallet/crypto/backup-wallet
This will bring the same user experience from wallet onboarding to the post-onboarding wallet-backup routes.

## Actual result:

The user experience of backing up a wallet does not match the latest wallet backup flow from the new wallet onboarding

## Expected result:
The user experience

[2022-10-31 22:19] #26396 closed

[2022-10-31 22:55] #26377 closed

[2022-10-31 23:22] simonhong commented on #23301
Yeah, already fixed. Closed as duplicated issue with https://github.com/brave/brave-browser/issues/25895

[2022-10-31 23:22] #23301 closed

[2022-10-31 23:24] diracdeltas commented on #26387
cc @antonok-edm @ryanbr

[2022-10-31 23:27] diracdeltas commented on #26380
cc @kdenhartog

[2022-10-31 23:34] stephendonner commented on #25925
So sorry for the epic delay in circling back, @bsclifton and @simonhong.  At least I have good news ;-)

This works for me using

Brave | 1.47.33 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

![vpn](https://user-images.githubusercontent.com/387249/1991288

[2022-10-31 23:42] diracdeltas commented on #26264
I suspect the original point of escaping was to avoid XSS/HTML injection in feed titles so please make sure the fix for this has sec review

[2022-10-31 23:53] #26368 closed

[2022-10-31 23:53] #26339 closed

[2022-11-01 00:07] #26321 closed

[2022-11-01 00:15] sangwoo108 commented on #24717
Hi, @emkay5771. Please check out the context menu on tabs. There should be "Use vertical tabs" item.

[2022-11-01 00:18] sangwoo108 opened #26400 "Separate Playlist browser tests and unittests"
In favor of https://github.com/brave/brave-core/pull/15016#discussion_r1003907264,

Most of browser tests for playlist can be unit tests.
Make Browser tests should test the actual UI and the result.

[2022-11-01 00:33] josheleonard opened #26401 "Port `wallet` reducer to utilize Redux Tool Kit"
## Description

Utilize the newly added Redux Tool Kit dependency to simplify reducer logic for the `wallet` portion of the redux store

[2022-11-01 00:34] #26253 closed

[2022-11-01 00:52] emkay5771 commented on #24717
Thanks... was the title and address bar merge added to user facing toggles, as well?

[2022-11-01 01:01] SimpelMe opened #26402 "Can't change "block all cookies""
## Description

I don't know why but my cookie setting are set to "block all". The problem is that I can't change the settings to anything else. If I choose the pull down menu to "deactivated" or "cross-site" it will be set back to "block all" after reload.

## Steps to Reproduce

   1. go to brave://settings/shields
   2. change cookie settings to anything else than "block all"
   3. refresh page

[2022-11-01 01:24] simonhong opened #26403 "New tab button is not visible when vertical tab is enabled"
## Description

New tab button is not visible when vertical tab is enabled

## Steps to Reproduce

   1. Launch with clean profile
   2. Turn on vertical tab feature and relaunch
   3.

## Actual result:

New tab button is not visible in tab strip

## Expected result:
New tab button should be visible

## Reproduces how often:

Easy

## Brave version (brave://version info)

[Version 1.47.33 Chromiu

[2022-11-01 01:33] kdenhartog commented on #26380
@nguyenhoaidanh do you have a test dApp or a piece of sample code that you can provide me with to try and reproduce this issue on my end? More specifically, how are you instantiating your provider object and what error code are you seeing?

[2022-11-01 01:36] Coffeeling commented on #464
An impromptu bug report: Having vertical tabs enabled on Nightly somehow fucks up window management.
* The window refuses to resize vertically (it doesn't contract, trying to expand it makes the window disappear)
* The window's vertical size is *huge*, maybe five screens tall
* Dragging the window around feels a bit laggy, presumably because of this reason.
* Tiling the window to the side (eg. by

[2022-11-01 01:45] kjozwiak commented on #25860
The above requires `1.46.87` or higher for `1.46.x` verification. However, I believe we can verify the above without the need for the SKU SDK v2 to land on the server side.

[2022-11-01 01:58] nguyenhoaidanh commented on #26380
@kdenhartog @diracdeltas Thanks all, I found my solution.
My FE code, sign with ethers.js, It work well with all wallet now.
[code]
and update my BE code verify using  [EIP 191 standar](https://eips.ethereum.org/EIPS/eip-191#specification)

[2022-11-01 02:01] kjozwiak commented on #25789
The above requires `1.46.87` or higher for `1.46.x` verification 👍 Believe we might need to wait to verify the above until we can QA the VPN feature with the new SKU SDK. @stephendonner @LaurenWags please correct me if I'm wrong.

[2022-11-01 02:01] kjozwiak commented on #25790
The above requires `1.46.87` or higher for `1.46.x` verification 👍 Believe we might need to wait to verify the above until we can QA the VPN feature with the new SKU SDK. @stephendonner @LaurenWags please correct me if I'm wrong.

[2022-11-01 02:04] kdenhartog commented on #26380
I can see that this library works for eth_chainId and I'm getting a 4200 error showing in the wallet which is usually an [indication that the method](https://github.com/brave/brave-core/blob/be6363986637fbfa563b0cf6217dea1798ebd479/components/brave_wallet/common/brave_wallet.mojom#L48) is not supported.

I'm not sure why `eth_sign` isn't usable, but I will note that the usage of the send API is de

[2022-11-01 02:04] kdenhartog commented on #26380
Good to hear @nguyenhoaidanh I'm going to close this one out then.

[2022-11-01 02:04] #26380 closed

[2022-11-01 03:18] snowbound commented on #25694
Further testing results https://community.brave.com/t/youtube-live-chat-30-sec-delay/432842/49?u=fedup if this was something on this computer outside of the browser then why is Chrome, Firefox and MS Edge Beta not experiencing this delay?

[2022-11-01 03:22] fallaciousreasoning commented on #24667
Duplicate of https://github.com/brave/brave-browser/issues/24667

[2022-11-01 03:22] #24667 closed

[2022-11-01 03:23] sangwoo108 commented on #464
So sorry for the inconvinience. I'll check out asap.

[2022-11-01 03:24] fallaciousreasoning commented on #21485
I'm pretty sure this is a duplicate of https://github.com/brave/brave-browser/issues/23909, and should be fixed.

[2022-11-01 03:24] #21485 closed

[2022-11-01 03:33] fallaciousreasoning commented on #11337
Duplicate of https://github.com/brave/brave-browser/issues/12883

[2022-11-01 03:33] #11337 closed

[2022-11-01 03:50] Enriador commented on #22028
Thanks for the news, after 5+ months stuck on the Beta 1.36 version this is good to hear - I miss the new features yet grid tab layout causes me physical pain due to severe hand strain.

It is, however, sort of disturbing how things like "rewards" and "vpn" are prioritized over a decent New Tab experience, which is basic UI job for a *browser*. I hope the team will reconsider; otherwise switching

[2022-11-01 03:56] kjozwiak commented on #26384
@brave/qa-team please use https://github.com/brave/internal/issues/943 for verification notes as per https://github.com/brave/internal/issues/943#issuecomment-1297986124.

[2022-11-01 03:56] kjozwiak commented on #26384
The above requires `1.45.118` or higher for `1.45.x` verification 👍

[2022-11-01 03:57] Coffeeling commented on #464
Don't be, this is fun, and the thought of getting closer to a great vert tab implementation even more so.

[2022-11-01 04:50] ayorayora opened #26404 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.2.1

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you doing j

[2022-11-01 04:52] ayorayora opened #26405 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.2.1

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you doing j

[2022-11-01 05:07] srirambv opened #26406 "Wallet page icon needs to be updated for light theme"
## Description

Wallet page icon needs to be updated

## Steps to Reproduce

   1. Open `brave://wallet`
   2. Tab icon shows black brave logo

## Actual result:

<img width="978" alt="image" src="https://user-images.githubusercontent.com/17010094/199162821-b623fe14-d4e3-441d-b59e-61cbc43028c8.png">

## Expected result:
Similar to About Brave page

## Reproduces how often:

Easy

## Brave version

[2022-11-01 05:28] RowanSkie commented on #22028
At least there's a timeframe. I use Kiwi now for Android, using Firefox and Brave once in a while but the stack view works really well for Android.

[2022-11-01 05:43] #26259 closed

[2022-11-01 06:02] srirambv commented on #25660
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from issue description and [brave/brave-core#15250](https://github.com/brave/brave-core/pull/15250)
- Verified Filecoin is listed and able to purche via onramp provider

https://user-i

[2022-11-01 06:05] srirambv commented on #25861
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from issue description and [brave/brave-core#15393](https://github.com/brave/brave-core/pull/15393)
- Verified as part of [#25660](https://github.com/brave/brave-browser/issues/25660#i

[2022-11-01 06:31] srirambv commented on #25745
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15320](https://github.com/brave/brave-core/pull/15320)
- Verified placeholder text is shown correctly

Scenario 1 | Scenario 2 | Scenario 3 | Scenario 4
-- | --

[2022-11-01 07:02] ArshErgon opened #26407 "I'm having trouble setting up the brave-browser locally"
I have done the process 5 times I guess, and followed the steps to my best but still brave is not starting up
Steps I did:
[code]
the chromium source download have completed with this message, everytime I download the source its the same:
[code]
now if I try to run npm start this is what I get
[code]
Please tell what am I doing wrong, I wanted to contribute to brave.

[2022-11-01 07:07] srirambv opened #26408 "Loading `brave://wallet/crypto/deposit-funds` on Linux freezes the tab and eventually crashes the webview"
## Description

Loading `brave://wallet/crypto/deposit-funds` on Linux freezes the tab and eventually crashes the webview

## Steps to Reproduce

   1. Create a new wallet
   2. Visit `brave://wallet/crypto/deposit-funds`
   3. Tab freezes and doesn't let you choose any token to view QR code/address

   1. Clean profile
   2. Create wallet onboarding
   3. Click on Buy Crypto first and go back to

[2022-11-01 07:10] srirambv commented on #25720
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15299](https://github.com/brave/brave-core/pull/15299)
- Verified account selection button is shown properly with long account names
- Encountered [#26408](https

[2022-11-01 07:19] srirambv commented on #25686
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15265](https://github.com/brave/brave-core/pull/15265)
- Verified currency selection dropdown is clickable
- Verified able to search for availbale Fiat options
-

[2022-11-01 07:23] tysmakitla opened #26409 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Linux 5.4.0-131-generic

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you

[2022-11-01 07:25] srirambv commented on #25655
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15246](https://github.com/brave/brave-core/pull/15246)
- Verified unnecessary tooltips are removed from network selector dropdown on both Widget and panel

https

[2022-11-01 07:44] boocmp opened #26410 "[speedreader] Remove C->Rust classifier model."
## Description

Subj.

https://bravesoftware.slack.com/archives/CLX7EV42Z/p1666285065222409

[2022-11-01 08:16] srirambv opened #26411 "UD address resolution sometimes fails until you clear the address and retype/paste it"
## Description

UD address resolution sometimes fails until you clear the address and retype/paste it

## Steps to Reproduce

   1. Set network to Solana
   2. Type/paste `uns-devtest-brave.x` in the Send to field
   3. Resolve to SOL address
   4. Change network BSC/Ethereum, doesn't automatically update to ETH address
   5. Change token on BSC/ETH, then automatically updates

## Actual result:

[2022-11-01 08:19] srirambv commented on #25562
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15388](https://github.com/brave/brave-core/pull/15388)
- Verified UD address updates based on tokens
- Encountered [#26411](https://github.com/brave/brave-browse

[2022-11-01 08:23] iefremov opened #26412 "Crash several seconds after startup"
**[WORKAROUND] to disable crypto dot com widget on NTP**

Hit this ~3 times, browser randomly crashed ~15 seconds after startup on linux

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --

[code]

Crash ID: crash/4db60600-c482-0f09-0000-000000000000

[2022-11-01 08:35] Phinetwork opened #26413 "Issue with PHI Network price API & adding phi20 tokens"
The price API is wrong gives price of the wrong PHI and it doesn't allow to add custom tokens gives error, ![image](https://user-images.githubusercontent.com/85964511/197375577-42634eba-2e5b-48e2-b1d9-2a4f648d3c3c.png)

__Originally posted by @Phinetwork in https://github.com/brave/brave-browser/issues/25813#issuecomment-1288009631__

[2022-11-01 09:28] glxxyxafonso commented on #26412
Same problem, but sometimes getting 5 minutes or 30 seconds on Windows.

[2022-11-01 10:02] srirambv commented on #25383
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from issue description
- Verified with policy enabled, `brave://wallet` doesn't load and shows error page
- Verified Wallet is removed from Settings and Side panel when policy is enabl

[2022-11-01 10:46] srirambv commented on #25111
Verification passed on

Brave | 1.46.87 Chromium: 107.0.5304.91 (Official Build) beta (64-bit)
-- | --
Revision | `3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}`
OS | Linux

- Verified steps from [brave/brave-core#15406](https://github.com/brave/brave-core/pull/15406)
- Verified able to import Solana accounts from both `Default` and `Ledger Live`

https://user-images.gith

[2022-11-01 10:52] #26282 closed

[2022-11-01 10:54] spylogsster opened #26414 "Disable parallel import by default"
Follow up for https://github.com/brave/brave-browser/issues/26282

[2022-11-01 11:03] spylogsster commented on #26351
cannot reproduce, code looks working, asked @srirambv for some logs

[2022-11-01 11:28] TheVampireInLoveWithTheCorpsesBlood opened #26415 "Issue with $redirect when the script is upgraded to HTTPS."
Hi @pes10k
There is a big, not so big, kind of big issue with $redirect or $redirect-rule filters when the Network element is being upgraded to https. I feel I found it, even if it was in plain sight all this time.

Basically, the problem is that the script upgraded to https is not even getting blocked, it is allowed completely when a $redirect rule is being applied to it.
It acts like if it was w

[2022-11-01 11:30] Digitalone1 commented on #26412
It's happening to me too on Arch Linux. It's totally unusable. The browser constantly crashes after 1-2 minutes after launched for a core dump after `ERROR:broker_posix.cc(110)] Error sending sync broker message: Broken pipe (32)`.

Yesterday, after an update and a restart of the system, it was working without issues for several hours. Today it keeps crashing and I don't even updated the system.

[2022-11-01 12:04] iteco opened #26416 "Mac OS packaging change to support app distribution with MDM"
I have checked open issues and couldn't find anything similar.

--
## Description
I would like to distribute Brave browser (instead of Chrome) to the whole organization with MDM application, but currently that fails.

I have contacted the MDM application support and according them the installation fails as the package is 'Component package'. It should be a Distribution-style package.

In my tests

[2022-11-01 12:07] LaurenWags commented on #25790
@kjozwiak correct afaik, have added `QA/Blocked` label until all server side/back end/website work is complete.

[2022-11-01 12:07] LaurenWags commented on #25789
@kjozwiak correct afaik, have added `QA/Blocked` label until all server side/back end/website work is complete.

[2022-11-01 12:09] LaurenWags commented on #24331
@GeetaSarvadnya @MadhaviSeelam if this is still reproducible on Windows 1.46.x and 1.47.x with latest builds of both, please open a new issue and link here.

cc @bsclifton

[2022-11-01 12:16] brave-builds opened #26417 "Test failure: FileSystemAccessBrowserTest.FullscreenOpenFile"
Greetings human!

Bad news. `FileSystemAccessBrowserTest.FullscreenOpenFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___FullscreenOpenFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-01 12:17] brave-builds opened #26418 "Test failure: FileSystemAccessBrowserTest.OpenFile"
Greetings human!

Bad news. `FileSystemAccessBrowserTest.OpenFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___OpenFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-01 12:17] brave-builds opened #26419 "Test failure: FileSystemAccessBrowserTest.OpenFileWithContentSettingAllow"
Greetings human!

Bad news. `FileSystemAccessBrowserTest.OpenFileWithContentSettingAllow` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___OpenFileWithContentSettingAllow).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-01 12:17] #26320 closed

[2022-11-01 12:17] brave-builds opened #26420 "Test failure: FileSystemAccessBrowserTest.SaveFile"
Greetings human!

Bad news. `FileSystemAccessBrowserTest.SaveFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___SaveFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-01 12:17] brave-builds opened #26421 "Test failure: FileSystemAccessBrowserTest.SaveFileWithContentSettingAllow"
Greetings human!

Bad news. `FileSystemAccessBrowserTest.SaveFileWithContentSettingAllow` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___SaveFileWithContentSettingAllow).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-01 12:17] brave-builds opened #26422 "Test failure: MojoFileSystemAccessBrowserTest.CanResolveFilePath"
Greetings human!

Bad news. `MojoFileSystemAccessBrowserTest.CanResolveFilePath` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/MojoFileSystemAccessBrowserTest/windows_x64___test_browser_chromium___CanResolveFilePath).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-01 12:18] brave-builds opened #26423 "Test failure: PersistedPermissionsFileSystemAccessBrowserTest.UsageIndicatorVisibleWithPersistedPermissionsEnabled"
Greetings human!

Bad news. `PersistedPermissionsFileSystemAccessBrowserTest.UsageIndicatorVisibleWithPersistedPermissionsEnabled` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/298/testReport/junit/(root)/PersistedPermissionsFileSystemAccessBrowserTest/windows_x64___test_browser_chromium___UsageIndicatorVisibleWithPersistedPermissionsEnabled).

[2022-11-01 13:07] #26414 closed

[2022-11-01 13:25] samartnik opened #26424 "Fix icon layout for `Grid tab switcher for tablets` feature"
## Description
We currently have an issue with this feature (see picture)

![Screenshot_2022-11-01-09-11-36-382](https://user-images.githubusercontent.com/30602739/199243206-5c708ee9-e28a-4666-8458-87ce14f07e35.jpeg)

## Steps to reproduce

   1. Enable `Grid tab switcher for tablets` in `brave://flags`.
   2. Relaunch.
   3. Icons not grouped properly.

## Actual result
Icons not grouped properly

[2022-11-01 13:32] Sanjay0302 opened #26425 "Qrscanner not working"
Issue : Qrscanner not working from homescreen brave search widget

[2022-11-01 13:41] iefremov commented on #26412
workaround is to disable crypto dot com widget on NTP

[2022-11-01 13:42] glxxyxafonso commented on #26412
@iefremov benchmarking to test, 11 tabs, 1 yt video.

[2022-11-01 13:46] LaurenWags commented on #26412
Reproduced via the following:
1. Clean install 1.45.116, relaunch to pull griffin
2. Open NTP
3. Open "Customize Dashboard"
4. Enable crypto.com widget
5. When it shows on NTP, click on "Show price" link on widget
6. Browser crashes

[2022-11-01 13:49] #25169 closed

[2022-11-01 13:56] rahvee commented on #23692
I wrote a script to detect this issue, detect when the app is closed, and automatically perform the snap refresh. https://gitlab.com/rahvee/snap-update

[2022-11-01 14:00] LaurenWags commented on #26323
Could be this upstream issue per @tmancey

https://bugs.chromium.org/p/chromium/issues/detail?id=1379743&q=mac%20icon%20notification&can=2

[2022-11-01 14:29] LaurenWags commented on #22905
Verification in progress with

[code]

[2022-11-01 14:34] CasperTMP opened #26426 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.22621

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 14:37] goldenchunky101 opened #26427 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.19044

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 14:42] m77e4t commented on #19761
I created an extra primary account for Eth/Evm just too see what happens and it did create a new primary Eth/Evm account.
But, I cannot delete it now as the issue says.

It looks to me for some reason, it is not possible to delete it but to only hide it.

So, is there any update on hiding it? Will it also have a password authentication available similar to when deleting secondary imported account

[2022-11-01 14:49] Douglashdaniel commented on #26406
@srirambv should be fixed when @petemill lands https://github.com/brave/brave-core/pull/15700

[2022-11-01 14:55] rafi-gemhar-vineti opened #26428 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.6.0

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you doing j

[2022-11-01 14:55] rafi-gemhar-vineti opened #26429 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.6.0

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you doing j

[2022-11-01 14:55] rafi-gemhar-vineti opened #26430 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.6.0

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you doing j

[2022-11-01 14:59] #26390 closed

[2022-11-01 15:02] iefremov commented on #26169
@mucahitkarson unfortunately this is not actionable without steps to reproduce, we've got a broken stacktrace

[2022-11-01 15:02] #26169 closed

[2022-11-01 15:03] iefremov commented on #26002
@SergeyZhukovsky can you take a look? Nothing interesting on the stack unfortunately

[2022-11-01 15:14] SergeyZhukovsky commented on #26002
[code]
that's an de-obfuscated Java crash stack ^

[2022-11-01 15:19] SergeyZhukovsky commented on #26002
Closing as it is a duplicate of https://github.com/brave/brave-browser/issues/25933 and it's been resolved.

[2022-11-01 15:19] #26002 closed

[2022-11-01 15:40] kjozwiak opened #26431 "Manual test run on macOS (Intel) for 1.45.x - Release #4"
### Installer

- [x]  Check signature:
  - [x] If macOS, using x64 binary run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`
  - [x] If macOS, using universal binary run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`
  - [ ] If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Dig

[2022-11-01 15:40] kjozwiak opened #26432 "Manual test run on macOS (arm64) for 1.45.x - Release #4"
### Installer

- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-arm64.dmg`
      - [x] Check executable size, should be `~290mb`
      - [x]  Check signature: If OS Run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`.
   - [x] `Brave-Browser-arm64.pkg`
       - [x] Check executable size, should be `~290mb`
       - [x]

[2022-11-01 15:40] kjozwiak opened #26433 "Manual test run on Windows x64 for 1.45.x - Release #4"
### Installer

- [x]  Check signature:
  - [ ] If macOS, using x64 binary run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`
  - [ ] If macOS, using universal binary run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`
  - [x] If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Dig

[2022-11-01 15:40] kjozwiak opened #26434 "Manual test run on Linux for 1.45.x - Release #4"
### Installer

- [x]  Check signature:
  - [x] If macOS, using x64 binary run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`
  - [x] If macOS, using universal binary run `spctl --assess --verbose` for the installed version and make sure it returns `accepted`
  - [x] If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Dig

[2022-11-01 15:43] kjozwiak opened #26435 "Release checklist for `1.45.x - Release #4`"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Double check the previous release/milestone and ensure everything has been QA'd
  - **Note:** If there's issues that need to be checked, create a `master` GH issue that lists the issues that need to be QA'd
- [x]

[2022-11-01 15:46] #26370 closed

[2022-11-01 15:47] #26428 closed

[2022-11-01 15:47] #26429 closed

[2022-11-01 15:47] #26430 closed

[2022-11-01 15:57] rebron commented on #25016
cc: @yrliou @darkdh We still need text for these settings.

[2022-11-01 16:01] rebron commented on #13688
Closing as stale in favor of https://github.com/brave/brave-browser/issues/24216 which was fixed in 1.44.x.

[2022-11-01 16:01] #13688 closed

[2022-11-01 16:15] rebron commented on #26111
@bsclifton 1.47.x milestone correct?

[2022-11-01 16:22] kjozwiak commented on #26182
Believe the above is `Desktop` related and not `OS/Android`. The one for `Android` re: onboarding will be addressed via https://github.com/brave/brave-browser/issues/26318.

[2022-11-01 16:47] rebron commented on #21484
Closing as stale. @stephendonner I believe we addressed this issue before releasing bookmarks sidebar panel.

[2022-11-01 16:47] #21484 closed

[2022-11-01 16:56] rebron commented on #25186
@GreenYellowLight Thanks for the update.

[2022-11-01 17:00] stephendonner commented on #21484
Yup, looks good to me with

Brave | 1.47.33 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

The "twisties" -- expand/collapse arrows -- are back:

<img width="1198" alt="Screen Shot 2022-11-01 at 9 53 26 AM" src="https://user-images.githubusercontent.com/38

[2022-11-01 17:08] #26412 closed

[2022-11-01 17:10] szilardszaloki opened #26436 "Clean up the `get external wallet` flow completely."
- place the logic that checks if the user has lost eligibility for wallet connection (since they verified their wallet) into `ConnectUpholdWallet`: "BAT not allowed", "insufficient capabilities" (both Uphold-only)
- create separate notifications (`UpholdBATNotAllowed`, `UpholdInsufficientCapabilities`) and show them (as opposed to modals) on becoming ineligible
- use `ConnectExternalWalletError` t

[2022-11-01 17:19] AlexeyBobkov opened #26437 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.19043

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 17:21] AlexeyBobkov opened #26438 "Crash Report [Update: the cause found, it's Dashboard card "Crypto.com", see comments]"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.19043

URL (if applicable) where crash occurred:
N/A, new tab page

Can you reproduce this crash?
Yes

What steps will reproduce this crash? (If it's not reprodu

[2022-11-01 17:22] emkay5771 commented on #24717
One other thing that I noticed... When using vertical tabs in minimized view, upon hovering over the tab bar, it essentially becomes impossible to close the tab, as the "X" moves. In edge, the panel remains expanded until the mouse moves beyond the border of the expanded view, bypassing this issue. Is there a different solution for this in the pipeline? Thanks again for all of your work on what I'

[2022-11-01 17:33] szilardszaloki opened #26439 "Use `mojom.ExternalWallet` on the frontend everywhere."
Currently, TypeScript-only `ExternalWallet` definitions use a restricted (string) type as `ExternalWallet::type`'s type, which we cannot generate via Mojom.

Introduce
[code]
in `ledger_types.mojom` and use it as `ExternalWallet::type`'s type (+ adjust backend/frontend).
Then we can use `mojom.ExternalWallet` on the frontend everywhere.

[2022-11-01 17:34] AlexeyBobkov commented on #26438
Minimizing is even not necessary. Just the following:
1) Open the Brave browser.
2) Wait 30 sec, don't do anything.
3) It silently crashed.

If I browse any pages and do not leave it idle, it usually works, but sometimes still crashes.

[2022-11-01 17:36] #25504 closed

[2022-11-01 17:40] AlexeyBobkov commented on #26438
I tried the following:
1) Browser full reset
2) Disable hardware acceleration
3) Disable sync

All this doesn't help.

[2022-11-01 17:52] SergeyZhukovsky opened #26440 "Crash from Google Play Console on home button preferences"
1.
[code]

2.
[code]

I wasn't able to replicate but there are some cases that the preference isn't available yet.

[2022-11-01 18:08] szilardszaloki opened #26441 "Refactor `BraveRewardsPageUI` and `BraveRewardsInternalsUI` to use Mojom-generated code (instead of DOM/message handlers)."
Like how the Brave Shields panel works (`ShieldsPanelUI`, `ShieldsPanelHandler`, `ShieldsPanelDataHandler`, `components/brave_shields/common/brave_shields_panel.mojom`, etc.).

[2022-11-01 18:18] AlexeyBobkov commented on #26438
After some experiments, I found the cause.

The browser crashes only if the Dashboard card **"Crypto.com"** is enabled.
When I disable the Dashboard card "Crypto.com", the browser is stable.
As soon as I enable this card and open a New Tab page with this card, the browser crashes after 30 sec, no matter what I do on other tabs.

[2022-11-01 18:18] mlntr opened #26442 "Reopen closed tab in private window"
I frequently use private windows to browse casually when I don't want my session saved. What's annoying is when a tab has accidentally been closed, it's not possible to retrieve it. I know Firefox lets users retrieve it, it should be possible too with Brave.

Previous issue closed with "We're going to wait for this implementation upstream": https://github.com/brave/brave-browser/issues/5997. We've

[2022-11-01 18:20] #26437 closed

[2022-11-01 18:21] AlexeyBobkov commented on #26437
A duplicate of the issue #26438

[2022-11-01 18:30] brave-builds opened #26443 "Audit finding: https://github.com/advisories/GHSA-crh6-fp67-6883"
Greetings human!

Bad news. Audit failed on [nightly/v1.47.37](https://ci.brave.com/job/brave-browser-build-noplatform/1840/) due to https://github.com/advisories/GHSA-crh6-fp67-6883.

[2022-11-01 18:38] bsclifton commented on #26111
@rebron yeah - but it's just the GitHub README.md. Nothing in the binary being shipped

[2022-11-01 18:45] rebron commented on #26216
To double check that this will get fixed in next Transifex request.

[2022-11-01 19:00] SergeyZhukovsky opened #26444 "Crash from Google Play Console inside RetentionNotificationPublisher"
[code]

I wasn't able to replicate it, but it looks like it cannot execute a retention notification for some reason. It's good to just catch a `NullPointerException` to prevent a whole browser crash.

[2022-11-01 19:08] #26223 closed

[2022-11-01 19:13] Douglashdaniel opened #26445 "Swap V2 fix network backgrounds for brave-core"
## Description
We need to use `chainId's` for the background variables to make it work in `brave-core`

[2022-11-01 19:17] #26440 closed

[2022-11-01 19:19] #26445 closed

[2022-11-01 19:20] #26424 closed

[2022-11-01 19:23] timchilds opened #26446 "[Android] P3A work to gather average usage data for dormant user engagement"
## Description
We are planning to send a number of notifications to re-engage dormant Android users. Full details here:
https://bravesoftware.slack.com/archives/C03MMJ4CHEZ/p1667330665673899?thread_ts=1667330661.351209&cid=C03MMJ4CHEZ

The hook for these notifications will display potential time / battery / mobile data saved per week / month / year. This data will be based on the average users his

[2022-11-01 19:53] rudeboy1one opened #26448 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.19044

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 19:56] rudeboy1one opened #26449 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.19044

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 20:00] rudeboy1one commented on #26449
also, i don't know what can happend if i delete and reinstal the browser, i mean, i don't know if i'll have the same brave account, and if is what i said what can i do to keep my brave and fix this issue

[2022-11-01 20:17] mrKampie opened #26450 "Crash Report: Brave crashes randomly"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.22621

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 20:26] LaurenWags opened #26451 "update wording on custodian selection modal - follow up to 22905"
## Description

Follow up to #22905

Wording on custodian selection modal should be updated to match [figma](https://github.com/brave/internal/issues/876#issuecomment-1299091320).

## Steps to Reproduce

   1. New profile 1.46.x, relaunch to pull griffin
   2. Enable rewards
   3. Open custodian selection modal

## Actual result:

<img width="918" alt="1 46 x" src="https://user-images.githubuserco

[2022-11-01 20:40] KevinArce opened #26452 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.25231

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 20:44] Douglashdaniel opened #26453 "Swap V2 Hide Zero Balance Button Disappears"
## Description
The `Hide Zero Balance` button disappears randomly

https://user-images.githubusercontent.com/40611140/199337214-51780a4c-712c-453c-9fce-7954c5a7ef47.mov

[2022-11-01 20:53] bsclifton opened #26454 "Submit button doesn't work (loading spinner doesn't show when submitting a ticket) for VPN trouble ticket"
## Description
The code definitely exists - but for some reason it's not showing. Here's a quick demo. It does submit ticket - but takes quite a while. No spinner shown while it's waiting and submit button is not disabled (so you could accidentally click more than once)
![form-submit](https://user-images.githubusercontent.com/4733304/199338768-1891fa58-78e9-4fae-9801-b59559db59d4.gif)

## Steps to

[2022-11-01 21:04] TheVampireInLoveWithTheCorpsesBlood commented on #26415
This is a screenshot of the NextDNS with the website I gave for the test, just to show you how the script/connection is being allowed, so it is not a visual bug, my imagination or I want to bother you and make you waste your time with this.

I mean, I just had to turn off the https upgrade feature globally so this doesn't happen anymore, but hope it can get fixed eventually, since it is clearly a

[2022-11-01 21:12] #26352 closed

[2022-11-01 21:19] #26453 closed

[2022-11-01 21:36] kjozwiak commented on #26412
The above requires `1.45.118` or higher for `1.45.x` verification 👍

[2022-11-01 21:37] q2051839 opened #26455 "Translate Chinese not working"
The translation function cannot be used in the desktop PC client, even if the global proxy is used

[2022-11-01 21:46] drwingnut commented on #12201
Could we get this moved up in the priority?  I have a set of sites that must be opened in a specific profile on macOS that gets auto-launched by launchd on a recurring basis while I am supporting a wildfire team.  But when I try to pass Profile 1 like with the following command line:
/usr/bin/open -a "Brave Browser" --url https://iwfirp.nwcg.gov/dashboard#dashboard. --args "profile-directory=/User

[2022-11-01 22:09] brave-builds commented on #26443
Audit failed on [release/v1.45.118](https://ci.brave.com/job/brave-browser-build-noplatform/1841/) due to https://github.com/advisories/GHSA-crh6-fp67-6883.

[2022-11-01 22:43] #26401 closed

[2022-11-01 22:54] alanosman opened #26456 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.22621

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-01 22:58] #26395 closed

[2022-11-01 23:20] zpoison commented on #16811
Still no solution? Same problem 6 month later, keeps jumping on top of page

[2022-11-01 23:24] #26444 closed

[2022-11-01 23:33] acepilot1944 commented on #16811
Forgive me if this is hijacking the thread, but until this gets solved (or even after), it may be useful to use a third-party extension as an alternative bookmark manager. I use Raindrop. This introduces some privacy concerns, rather antithetical to the main point of Brave, but it is very convenient to be able to sort bookmarks in more ways than Chromium-based browsers allow. For example, sorting

[2022-11-01 23:35] josheleonard opened #26457 "Port `page` reducer to utilize Redux Tool Kit"
## Description

Utilize the newly added Redux Tool Kit dependency to simplify reducer logic for the `page` portion of the redux store

[2022-11-01 23:49] #26454 closed

[2022-11-02 00:11] #26254 closed

[2022-11-02 00:28] brave-builds commented on #26443
Audit failed on [nightly/v1.47.38](https://ci.brave.com/job/brave-browser-build-noplatform/1842/) due to https://github.com/advisories/GHSA-crh6-fp67-6883.

[2022-11-02 01:00] simonhong commented on #26349
@srirambv @GeetaSarvadnya I tried to repro this but really hard. Both of you can repro this easily?

[2022-11-02 01:56] pilgrim-brave opened #26458 "Wrong fonts on https://brendaneich.github.io/sieve/"
Text should be monospaced but is displayed in a proportional font. As per discussion in Slack, this is likely caused by font whitelisting. CSS uses `font-family: "Courier"` and relies on font engine to substitute a modern monospaced font like Courier New.

[2022-11-02 01:57] pilgrim-brave commented on #26458
Affects Mac and Windows only. Linux desktop build currently has no font whitelist, and Android already has "Courier" on the whitelist for unrelated reasons.

[2022-11-02 02:06] jtheletter opened #26459 "Cookie Consent lost dialog, cannot find"
Brave browser for MacOS Version 1.45.116 suddenly flashed a request to disable cookie notices, but it gave no context or info link. I opened a new tab to Google it, and it disappeared. I searched Brave settings for “consent” and “cookie” and found nothing.

Where is this, how do I restore the dialog? Thank you.

[2022-11-02 02:17] cbcb00 commented on #26449
If you have brave on more than one device you can use brave sync to sync your account.

[2022-11-02 02:18] cbcb00 opened #26460 "Brave crashing on rpm & flatpak on 'new tab' page"
## Description
Edit: Have to clarify that this happens only if the new tab page is left open, if any other page is open, it does not crash and works normally.

Brave crashes on Fedora (both rpm & flatpak) once a 'new tab' page is left open and it is either minimized or moved to the background. It works as long as I have it open but as soon as i minimize it or move it to the background, it crashes.

[2022-11-02 02:32] sangwoo108 commented on #464
@Coffeeling Could you tell me which OS you're using? I'm using Windows 10 and couldn't reproduce these two.

Also, I wonder if "but has blank space around it as borders" happens to Chromium or other apps too.

[2022-11-02 03:06] kjozwiak commented on #26285
Verification **PASSED** on `Win 11 x64` using the following build(s):

[code]

Reproduced the original issue using the STR/Cases outlined via https://github.com/brave/brave-core/pull/15679#issue-1424778127 using `1.45.116 Chromium: 107.0.5304.91` as per the following:

**`Example`** | **`Example`**
----------------|----------------
![image](https://user-images.githubusercontent.com/2602313/1993855

[2022-11-02 03:12] kjozwiak commented on #26384
Verification **PASSED** on `Win 11 x64` using the following build(s):

[code]

Verification notes can be found via https://github.com/brave/internal/issues/943#issuecomment-1299505474.

[2022-11-02 03:25] supermassive opened #26461 "Fix flaky test."
Fix some tests to use brave::DIR_TEST_DATA instead of relative path to test data files.

[2022-11-02 03:34] kjozwiak commented on #26412
Verification **PASSED** on `Win 11 x64` using the following build(s):

[code]

Using the STR/Cases outliend via https://github.com/brave/brave-browser/issues/26412#issuecomment-1298535739, ensured that Brave wasn't crashing when selecting `Show price` as per the following:

https://user-images.githubusercontent.com/2602313/199389364-b3206b50-d6b4-4e30-9932-bfa6f4e6eb37.mp4

[2022-11-02 03:35] simonhong commented on #26349
Wait.. I think I found the cause!

[2022-11-02 03:48] #26461 closed

[2022-11-02 04:17] antonok-edm commented on #26415
@TheVampireInLoveWithTheCorpsesBlood Thanks for another helpful report; the fix should be in https://github.com/brave/brave-core/pull/15754. Great to have your eyes on these kind of things :smile:

[2022-11-02 04:22] #24324 closed

[2022-11-02 04:24] fallaciousreasoning opened #26462 "[Brave News] The Brave News V2 page should be updated to match new design specs"
After some discussion with the designers, we've worked out a more consistent design for the home page:
1. Popular sources should appear first
2. Suggestions should appear second
3. Channels should appear third
4. All channels should be visible
5. Popular/Suggestions should appear in a Carousel, with a view all link taking you to a full page view
6. We should remove the `All Sources` section

[2022-11-02 04:28] brave-builds commented on #26443
Audit failed on [beta/v1.46.89](https://ci.brave.com/job/brave-browser-build-noplatform/1843/) due to https://github.com/advisories/GHSA-crh6-fp67-6883.

[2022-11-02 04:29] #26443 closed

[2022-11-02 04:40] srirambv commented on #26412
Verification passed on

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (64-bit)
-- | --
Revision | `3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}`
OS | Linux

- Verified browser crashed when selecting `Show Price` or `View Crypto.com Markets`
- Verified no browser crash when upgraded
- Verified no crash when selecting `Show Price` or `View Crypto.com Markets`
-

[2022-11-02 04:53] TheVampireInLoveWithTheCorpsesBlood commented on #26415
@antonok-edm Oh nice! Thanks for the quick fix and the amazing work!

[2022-11-02 04:57] stephendonner commented on #26285
## Verification `PASSED` using

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:
1. installed `1.45.118`
2. launched Brave
3. opened `brave://settings/shields/filters`
4. added `||websocketstest.com^$websocket` to the `Custom filters` box

[2022-11-02 05:02] Kevrev607 commented on #26460
Its doing the same to me . Only I'm on Windows 10 (Chromium Desktop). Only happens with Empty Tab for me also.

[2022-11-02 05:11] stephendonner commented on #26384
## Verification `PASSED` using

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

Verification notes can be found via https://github.com/brave/internal/issues/943#issuecomment-1299579856

[2022-11-02 05:19] kjozwiak commented on #26318
As per https://github.com/brave/brave-browser/issues/26181#issuecomment-1293746731, we basically need to change the onboarding behaviour for `BR` & `AR`. Believe we remove the `onboarding` when the user taps on the URL. We're currently displaying it.

[2022-11-02 05:23] sangwoo108 opened #26463 "Align layout constants of vertical tabs to sidebar"
- [x] Min width should be the same with sidebar
  <img width="335" alt="image" src="https://user-images.githubusercontent.com/5474642/199421738-ab549405-30e0-49ff-b735-796801fb64bc.png">

- [x] Tab heights should be the same with sidebar item.
  <img width="321" alt="image" src="https://user-images.githubusercontent.com/5474642/199409338-4a31c8bc-5fbc-4d64-9d6e-bcda43082a40.png">

[2022-11-02 05:30] RexBeans commented on #16811
I welcome the input, because as you can see from Brave Community's 20 exact same threads about this problem, solving this is not a priority. They can't even get their BAT payment system to work after nearly a year of randomly not paying people what they were promised. My solution to that was to turn off Brave ads, because there was no longer any incentive to use them if there's a 50/50 chance that

[2022-11-02 05:38] srirambv commented on #24909
Verification passed on the following devices running 1.46.87 x64 Beta build
- Verified test plan from [brave/brave-core#15192](https://github.com/brave/brave-core/pull/15192)
- Verified able to send transaction on Optimism

Oppo Reno 5 (Android 12) | Samsung Tab A (Android 10)
-- | --
<img width=270 src=https://user-images.githubusercontent.com/17010094/199406928-58ab175e-9ec3-4698-8665-3efeed7aef

[2022-11-02 06:00] m77e4t commented on #26459
Go to `brave://settings/shields/filters` and just tick mark 'Easylist Cookie'.

The pop-up does not nothing extra-ordinary but just enables the Easylist Cookie. This feature has been in brave for about a year. Now, they are just advertising it (which is a good thing).

[2022-11-02 06:02] GeetaSarvadnya commented on #26433
Looks good hence closing the issue.

[2022-11-02 06:02] #26433 closed

[2022-11-02 06:16] amuagarwal commented on #14721
It look like that the issue is resurfaced with [Version 1.45.116 Chromium: 107.0.5304.91 (Official Build) (64-bit)]

[2022-11-02 06:40] kjozwiak opened #26464 "brave intermittently crashes when selecting certain SE from the onboarding modal"
## Description

Looks like there's an intermediate crash when selecting specific search engines from the SE onboarding screen. Basically ran into this crash while running through https://github.com/brave/brave-core/pull/15669. For my particular case, it's crashing when selecting `Qwant`.

## Steps to reproduce

   1. change the device local to `Brazil` and install `1.47.20 Chromium: 107.0.5304.68`

[2022-11-02 06:41] stephendonner commented on #26431
## Verified `PASSED` using

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

[2022-11-02 06:41] #26431 closed

[2022-11-02 06:54] kjozwiak commented on #26285
Verification **PASSED** on `PopOS 22.04 x64` using the following build(s):

[code]

Reproduced the original issue using the STR/Cases outlined via https://github.com/brave/brave-core/pull/15679#issue-1424778127 using `1.45.116 Chromium: 107.0.5304.91` as per the following:

**`Example`** | **`Example`**
----------------|----------------
![image](https://user-images.githubusercontent.com/2602313/19

[2022-11-02 07:01] cbcb00 commented on #26460
Setting your new tab page to - 'Blank Page' and setting any other page as the homepage on browser startup seems to solve the issue for now.

[2022-11-02 07:02] kjozwiak commented on #26384
Verification **PASSED** on `PopOS 22.04 x64` using the following build(s):

[code]

Verification notes can be found via https://github.com/brave/internal/issues/943#issuecomment-1299671244.

[2022-11-02 07:09] pes10k opened #26465 ""Forget By Default" feature"
1. Brave should have a storage setting in shields that clears first-party data automatically when browsing away from a site
2. Brave should give users a convenient way to “opt-into” a site remembering them (instead of making it the default)
3. This overall “forget by default” feature should be opt-in, though we should build things in a way that would allow us to "nudge" users in cases where they a

[2022-11-02 07:36] srirambv commented on #25851
Verification passed on the following devices running 1.46.87 x64 build
- Verified steps from issue description
- Verified the test page auto-detects and updates the value based on device theme preference/browser theme preference

Oppo Reno 5 (Android 12) | Samsung Tab A (Android 10)
-- | --
<video src=https://user-images.githubusercontent.com/17010094/199427653-779dbccd-9364-43aa-a99e-e2cd10e0d9bd

[2022-11-02 07:41] TMTRTLP commented on #25920
Yeah, I also appear to be able to partially reproduce this on the current release (1.45.116) when using Wayland on Ubuntu 22.04.1 and 22.10 (I upgraded to 22.10 this week).  I don't get push notification ads while actually interacting with the browser and do end up getting them after I wake my computer up from a power saving mode when the browser was left open.  It's almost like Brave gets confuse

[2022-11-02 07:55] colorprint commented on #24717
#brave-vertical-tabs stopped to work in the latest nightly build...

[2022-11-02 08:38] mpa74 opened #26466 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.22621

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-02 08:39] sangwoo108 commented on #24717
Hi, @colorprint . Could you checkout thw context menu on tabs? there should be an item "Use vertical tabs"

[2022-11-02 08:43] RobotoSkunk opened #26467 "Copy Clean Link should remove IDs if they're used like URL parameters"
## Description
An Argentinian website called [Mercado Libre](https://www.mercadolibre.com.mx/) uses IDs instead of URL parameters to track their users, and maybe there are others websites that does the same. I think IDs should be removed too if they're being used like URL parameters

## Steps to Reproduce
   1. Go to [Mercado Libre](https://mercadolibre.com.mx/).
   2. Click on a recommended artic

[2022-11-02 08:44] vannevar-morgan commented on #25884
This problem is upstream in chrome.
https://github.com/chromium/chromium/blob/main/net/base/directory_lister.cc

`void SortData(std::vector<DirectoryLister::DirectoryListerData>* data,
              DirectoryLister::ListingType listing_type) {
  // Sort the results. See the TODO below (this sort should be removed and we
  // should do it from JS).
  if (listing_type == DirectoryLister::ALPHA_DIRS_

[2022-11-02 08:45] #26400 closed

[2022-11-02 08:51] colorprint commented on #24717
Yes, it works now, thanks!

[2022-11-02 08:55] Assiolo opened #26468 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.22621

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-02 09:12] Coffeeling commented on #464
Windows 10 here too. My other Nightly profile doesn't suffer these issues which is why it is so mysterious.

[2022-11-02 09:15] amuagarwal opened #26469 "Dev tools / Inspect element window doesn't open on latest brave releases"
## Description
The latest brave browser releases completely broke the inspect element window.

## Steps to Reproduce
1. Open any page
2. right click -> inspect element -> it's not showing

## Actual result:
Dev Tools window not opening

## Expected result:
Dev tool window must open

## Reproduces how often:
100% of the time.

## Brave version (brave://version info)
1.45.116 Chromium: 107.0.5304.91

[2022-11-02 09:22] GeetaSarvadnya commented on #24609
@DJAndries I would need a clarification on step 4 and 5. In the step 4, I have adavanced the sys clock by one day (i.e 3rd Nov) when I relaunch the browser, I don't see `creativeInstanceId` in the brave://local-state file, Is that expected? Also, I could see the header `P3A-creative.brave.com` listed in the charles proxy network monitoring tool as below. In this case how do we know the metrics are

[2022-11-02 09:22] srirambv commented on #25613
Verification passed on the following devices running 1.46.87 x64 Beta build
- Verified steps from [brave/brave-core#15357](https://github.com/brave/brave-core/pull/15357)
- Verified a new flag `brave://flags#brave-background-video-playback` is available
- Verified background video playback setting is disabled by default
- Verified on a upgrade profile, if setting is enabled the state is retained p

[2022-11-02 09:27] srirambv commented on #25911
Verification passed on Oppo Reno 5 with Android 12 running 1.46.87 x64 Beta build
- Verified all icons on the app looks fine
- Verified all icons are rendered correctly
------------
Verification passed on Samsung Tab A with Android 10 running 1.46.87 x64 Beta build
- Verified all icons on the app looks fine
- Verified all icons are rendered correctly

[2022-11-02 09:30] brave-builds opened #26470 "Audit finding: https://github.com/advisories/GHSA-crh6-fp67-6883"
Greetings human!

Bad news. Audit failed on [release/v1.45.119](https://ci.brave.com/job/brave-browser-build-noplatform/1844/) due to https://github.com/advisories/GHSA-crh6-fp67-6883.
<details>
<summary>Previous issues</summary>

* #26443

[Find all](https://github.com/brave/brave-browser/issues?q=type%3Aissue+label%3Abot%2Ftype%2Faudit+in%3Atitle+%22Audit+finding%3A+https%3A%2F%2Fgithub.com%2Fad

[2022-11-02 09:53] brave-builds opened #26471 "Test failure: ChromeBrowserCloudManagementEnrollmentTest/ChromeBrowserCloudManagementEnrollmentTest.Test/1"
Greetings human!

Bad news. `ChromeBrowserCloudManagementEnrollmentTest/ChromeBrowserCloudManagementEnrollmentTest.Test/1` [failed on linux x64 nightly master](https://ci.brave.com/job/brave-browser-build-linux-x64-asan/301/testReport/junit/(root)/ChromeBrowserCloudManagementEnrollmentTest_ChromeBrowserCloudManagementEnrollmentTest/linux_x64___test_browser_chromium___Test_1).
<details>
<summary>St

[2022-11-02 09:53] brave-builds opened #26472 "Test failure: ChromeBrowserCloudManagementEnrollmentTest/ChromeBrowserCloudManagementEnrollmentTest.Test/3"
Greetings human!

Bad news. `ChromeBrowserCloudManagementEnrollmentTest/ChromeBrowserCloudManagementEnrollmentTest.Test/3` [failed on linux x64 nightly master](https://ci.brave.com/job/brave-browser-build-linux-x64-asan/301/testReport/junit/(root)/ChromeBrowserCloudManagementEnrollmentTest_ChromeBrowserCloudManagementEnrollmentTest/linux_x64___test_browser_chromium___Test_3).
<details>
<summary>St

[2022-11-02 09:54] brave-builds opened #26473 "Test failure: PolicyMakeDefaultBrowserTest.MakeDefaultDisabled"
Greetings human!

Bad news. `PolicyMakeDefaultBrowserTest.MakeDefaultDisabled` [failed on linux x64 nightly master](https://ci.brave.com/job/brave-browser-build-linux-x64-asan/301/testReport/junit/(root)/PolicyMakeDefaultBrowserTest/linux_x64___test_browser_chromium___MakeDefaultDisabled).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 10:29] avi12 opened #26474 "Add native text-to-speech"
## Description

I recently migrated from Edge, and one of the features I miss the most is the built-in text-to-speech ("Read aloud") that includes natural voices.
It also provided TTS for lesser-supported languages like Hebrew.

## Brave version (brave://version info)

1.45.116

## Version/Channel Information:

- Can you reproduce this issue with the current release? **Yes**

## Other Additional I

[2022-11-02 10:37] btlechowski commented on #25630
Verification passed on

Brave | 1.46.83 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}
OS | Ubuntu 18.04 LTS

Due to profile used in STR not being available, regression test was done.

<details>

</details>

[2022-11-02 10:42] RedCard1nal commented on #23467
@sangwoo108 Are there any plans to allow adjusting the width of the vertical tab bar? Also just wanna say thanks for your work on this feature.

[2022-11-02 11:26] srirambv opened #26475 "`Ask when to save files` still shown in Download settings"
## Description
`Ask when to save files` still shown in Download settings

## Steps to reproduce

   1. Clean install
   2. Open Menu -> Downloads -> Settings
   3. `Ask when to save files` is still shown

## Actual result

https://user-images.githubusercontent.com/17010094/199478082-b63203ee-1cfe-4908-b3d7-03d151d5ac69.mp4

## Expected result
Should not show as per https://github.com/brave/brave-b

[2022-11-02 11:27] srirambv commented on #25687
Blocked on https://github.com/brave/brave-browser/issues/26475

[2022-11-02 11:58] Pavneet-Sing opened #26476 "Wallet shows wrong network when signing DApps messages/transaction"
## Description

When signing Solana transaction with the selected Ethereum network then the network (Ethereum) is incorrectly shown on Desktop panel.
Origin issue with more details and media: https://github.com/brave/brave-browser/issues/26397

[2022-11-02 12:03] haplo opened #26477 "Magnet URL blocked in Tor Private window"
## Description
Magnet links open fine in a Private window, but Brave blocks them in Tor Private windows.

## Steps to Reproduce

   1. Open a Private window with Tor
   2. Navigate to https://archlinux.org/download/
   3. Click on the magnet link in the BitTorrent download section

## Actual result:

Page blocked by Brave, `ERR_BLOCKED_BY_CLIENT` error.

![image](https://user-images.githubusercont

[2022-11-02 12:06] srirambv commented on #26075
Verification passed on Oppo Reno 5 with Android 12 running 1.46.87 x64 Beta build
- Verified steps from issue description
- Verified enabling `Ru Adlist` and loading `https://d3ward.github.io/toolz/adblock` doesn't cause any crash (browser/webview)

`chrome://adblock` | `https://d3ward.github.io/toolz/adblock`
-- | --
![image](https://user-images.githubusercontent.com/17010094/199485613-d787b6c9-2

[2022-11-02 12:18] brave-builds commented on #26473
`PolicyMakeDefaultBrowserTest.MakeDefaultDisabled` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/PolicyMakeDefaultBrowserTest/windows_x64___test_browser_chromium___MakeDefaultDisabled).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 12:18] brave-builds opened #26478 "Test failure: TryChromeDialogBrowserTest.ToastCrasher"
Greetings human!

Bad news. `TryChromeDialogBrowserTest.ToastCrasher` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/TryChromeDialogBrowserTest/windows_x64___test_browser_chromium___ToastCrasher).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 12:18] brave-builds commented on #26417
`FileSystemAccessBrowserTest.FullscreenOpenFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___FullscreenOpenFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 12:19] brave-builds commented on #26418
`FileSystemAccessBrowserTest.OpenFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___OpenFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 12:19] brave-builds commented on #26420
`FileSystemAccessBrowserTest.SaveFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___SaveFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 12:19] brave-builds commented on #26421
`FileSystemAccessBrowserTest.SaveFileWithContentSettingAllow` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___SaveFileWithContentSettingAllow).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-02 12:20] brave-builds commented on #26423
`PersistedPermissionsFileSystemAccessBrowserTest.UsageIndicatorVisibleWithPersistedPermissionsEnabled` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/299/testReport/junit/(root)/PersistedPermissionsFileSystemAccessBrowserTest/windows_x64___test_browser_chromium___UsageIndicatorVisibleWithPersistedPermissionsEnabled).
<details>
<summary>Stack tr

[2022-11-02 12:21] #26459 closed

[2022-11-02 12:53] SergeyZhukovsky commented on #26397
desktop version of the problem will be covered in that issue https://github.com/brave/brave-browser/issues/26476

[2022-11-02 13:11] LaurenWags commented on #26432
Tests above verified with

[code]

[2022-11-02 13:11] #26432 closed

[2022-11-02 13:16] btlechowski commented on #26434
Verification passed on

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (64-bit)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | Ubuntu 18.04 LTS

[2022-11-02 13:16] #26434 closed

[2022-11-02 13:23] srirambv commented on #25614
Discussed with @atuchin-m and this one requires another uplift discussed [here](https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1662678056036739).

[2022-11-02 13:26] LaurenWags opened #26479 "Desktop Release Notes for 1.45.x - Release #4"
### Release Notes

 - Crash several seconds after startup. ([#26412](https://github.com/brave/brave-browser/issues/26412))
 - [hackerone] crash. ([#26384](https://github.com/brave/brave-browser/issues/26384))
 - Fix Shields not blocking WebSocket connections. ([#26285](https://github.com/brave/brave-browser/issues/26285))

[2022-11-02 13:36] sangwoo108 commented on #23467
Hi, @RedCard1nal . Thank you.

We haven't thought about it, but it sounds worth discussing to me. cc @rebron

[2022-11-02 13:41] tmancey opened #26480 "[ads] Implement modular eligible ad serving pipelines"

[2022-11-02 14:12] srirambv commented on #25867
Verification passed on Oppo Reno 5 with Android 12 running 1.46.87 x64 Beta build
- Verified steps from issue description and [brave/brave-core#15395](https://github.com/brave/brave-core/pull/15395)

**`Brave.Core.PagesLoaded`**

<i>Note: There was no need to move the date ahead to check the metric to be updated or not. Just quit and relaunch of browser and waiting upto 30 sec was sufficient.</i>

[2022-11-02 14:17] nvonpentz commented on #21858
I found these steps for retrieving Solana NFT metadata https://gist.github.com/TomLisankie/0ccb57bdb82d9bf464aa9b9786e213e3.

Based on https://github.com/brave/brave-browser/issues/25864#issuecomment-1297575252, I gather that we will already have the NFT account(s) and those will be supplied as arguments to the metadata mojo API.  So we should be able to skip steps (1) and (2) for now, though thos

[2022-11-02 14:38] Uni-verse opened #26481 "App crashes when opening in app notification settings"
## Description
Crash when navigating to settings > Notifications > In-app notifications

[code]

## Steps to reproduce

   1. Clean install
   2. Navigate to settings > notifications > in-app notifications
   3. Observe

## Actual result

https://user-images.githubusercontent.com/17885425/199518099-fd722783-a68d-4360-955f-ea0f78f232da.mp4

## Expected result
no crash

## Device details
   - Instal

[2022-11-02 15:26] #26475 closed

[2022-11-02 15:33] rebron commented on #26435
Closing. Brave Browser Desktop 1.45.118 released on November 2, 2022 at 8:15 am PDT.

[2022-11-02 15:33] #26435 closed

[2022-11-02 15:44] rebron commented on #26468
Hi @Assiolo Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 15:45] rebron commented on #26466
Hi @mpa74 Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 15:47] rebron commented on #26456
Hi @alanosman Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 15:47] rebron commented on #26452
Hi @KevinArce Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 15:48] rebron commented on #26450
Hi @mrKampie and @KevinArce Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 15:49] rebron commented on #26449
Hi @rudeboy1one Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 15:50] #26457 closed

[2022-11-02 16:00] rebron commented on #26448
closing as dupe of https://github.com/brave/brave-browser/issues/26449

[2022-11-02 16:00] #26448 closed

[2022-11-02 16:02] rebron commented on #26438
hi @AlexeyBobkov Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 16:02] rebron commented on #26427
Hi @goldenchunky101 Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 16:03] abjugard commented on #6959
We shouldn't have to still do it this way though. Come on @brave-dev, this is a blocker for many people, it deserves to be migrated when importing from Chrome!

[2022-11-02 16:03] rebron commented on #26426
Hi @CasperTMP Can you update to 1.45.118 and see if that fixes the crash for you.

[2022-11-02 16:06] rebron commented on #26389
Closing as duplicated of https://github.com/brave/brave-browser/issues/4599

[2022-11-02 16:06] #26389 closed

[2022-11-02 16:30] anthonypkeane opened #26483 "Setting the Search Engine Preference should set that preference for both normal and private windows"
## Description
Some context: https://bravesoftware.slack.com/archives/C01NNFM9XMM/p1667370541619929

On Android we ask users to select a search engine during onbaording. That selection should set the search engine preference for both normal and private tabs.

In some countries, for new users we set Brave as the default search engine. This default should be set for both normal and private tabs also

[2022-11-02 16:35] bhaskarnn9 commented on #23949
@rebron Hey this is still an issue. Also, unable to sync via syncphrase. Any update?

[2022-11-02 16:37] mpa74 commented on #26466
Hi!
Yes, looks like a crypto widget was a reason of all crashes. I disable it and all if good!

[2022-11-02 16:37] #26466 closed

[2022-11-02 16:58] #26338 closed

[2022-11-02 17:06] stephendonner commented on #14721
Please file a new issue with specific details (steps to reproduce, any performance timings, etc.  - as much as you can).  Thanks.

[2022-11-02 17:16] TechCowboy commented on #13565
Version 1.45.116 Chromium: 107.0.5304.91 (Official Build) (64-bit)](https://brave.com/latest/
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.1 LTS
Release:	22.04
Codename:	jammy
Installed as a snap

Local printer not accessible, only PDF
Can print from Chrome (not a snap)

[2022-11-02 17:18] amuagarwal commented on #14721
Already filled issue, but seems it fixed with [Version 1.45.118 Chromium: 107.0.5304.91 (Official Build) (64-bit)]
[#6469](https://github.com/brave/brave-browser/issues/26469)

[2022-11-02 17:18] amuagarwal commented on #26469
Seems it fixed with [Version 1.45.118 Chromium: 107.0.5304.91 (Official Build) (64-bit)]

[2022-11-02 17:18] #26469 closed

[2022-11-02 17:22] AlexeyBobkov commented on #26438
Thanks, it's seems to be fixed in 1.45.118. The browser doesn't crash anymore with the Dashboard card "Crypto.com" enabled.

[2022-11-02 17:23] #26438 closed

[2022-11-02 17:27] rebron commented on #353
Closing. All sub-tasks have been completed.

[2022-11-02 17:27] #353 closed

[2022-11-02 17:35] JDixon1995 commented on #21435
Is this issue taken? I'm a beginner, and I'm looking to contribute to open source.

[2022-11-02 17:54] stephendonner commented on #23244
This should be something either @petemill or @fallaciousreasoning could fix.

[2022-11-02 18:12] kjozwiak commented on #26481
Closing as a duplicate of https://github.com/brave/brave-browser/issues/26440 which was already uplifted into `1.45.x`.

[2022-11-02 18:12] #26481 closed

[2022-11-02 18:17] #21454 closed

[2022-11-02 18:17] #26374 closed

[2022-11-02 18:31] DJAndries commented on #24609
@GeetaSarvadnya Once the metric has been sent, you should not see the `creativeInstanceId`-prefixed metric on the local state page (unless you viewed/clicked/landed on the same ad between the time the value was recorded by the P3A system and the time the metric was sent). The header is no longer relevant, only the URL `https://p3a-creative.brave.com`. I updated the test plan accordingly. In step 5

[2022-11-02 18:38] a-triant opened #26484 "Brave Rewards stuck disabled."
## Description
The Brave Rewards in settings shows as disabled, at same it's looks like enabled and i getting reward for views. Had it enabled for long time, before it was even linked to Gemini.

![Screenshot 2022-11-02 195439](https://user-images.githubusercontent.com/22340405/199571485-40365391-80d1-4cf8-9eda-7466189bb9b5.png)

If i switch to Brave Rewards tab, then i have what i show in the scr

[2022-11-02 19:05] #21524 closed

[2022-11-02 19:05] #26399 closed

[2022-11-02 19:16] stephendonner commented on #11836
@brave/qa-team: marking as `QA/No` for the `1.46.x` release, as we'll have baked-in regression tests in both the manual pass for `x86` Linux, as well as individual issue verification.

We'll revisit the fuller testing in both each of the `1.47.x`+ milestone(s) issues, and get a `QA/Yes` issue going for when we're ready to fully turn on `arm64` Linux on `beta`/`release` channels 👍

[2022-11-02 19:21] stephendonner commented on #21454
Removed `QA Pass-macOS` since we'll need to re-verify this in 1.47.x.

[2022-11-02 19:30] illtellyoulater commented on #23467
I would like to give feedback on a couple of other problems I'm seeing with the current vertical tabs implementation in stable:

- when the vertical tabs pane is expanded, if you close the currently selected tab with the X the tab list automatically scrolls back to the first tab of the list, making me loose track of the tab "zone" I am working on
- hovering over the tabs produces an unpleasant fli

[2022-11-02 20:29] cypt4 opened #26485 "Add ipns support for redirect gateway-like urls feature"
According specs /ipns/ gateway-like urls should also be parsed.
https://github.com/ipfs/ipfs-docs/blob/feat/how-to-implement-support-in-a-web-browser.md/docs/how-to/detect-ipfs-on-web.md

[2022-11-02 20:31] cypt4 opened #26486 "Add fallback button when ipfs page can't be loaded"
![image](https://github.com/brave/brave-browser/assets/106654560/296cc5ef-76c5-4052-a44f-17aa0b5a6a65)
We have a feature which auto-redirects to ipfs:// resources when dnslink or gateway-like url is loaded.
We should give an opportunity to the user to load original url in case ipfs url can't be loaded.

There are several cases we should handle:
1) Cannot resolve remote gateway or cannot start loca

[2022-11-02 20:53] m-ammar opened #26487 "Cmd-Comma ungroups all tabs from all groups in a brave window"
## Description
When I have multiple tab groups in a Brave window, and I press Cmd+, to open browser settings, all the browser tabs get ungrouped with each group having only one browser tab.

## Steps to Reproduce

   1. Open a brave browser window on a Macbook computer
   2. Add multiple tab groups
   3. Add more than one browser tab to each tab group
   4. Then press "Cmd + ," to open browser set

[2022-11-02 21:08] Rucaben opened #26488 "Brave browser crash"
## Description On android Brave Browser, when i open some tabs, specially on the tab 5, brave crashes for no reason, i don't know why. On older versions of the brave browser the issue still persists.
When I open 10 tabs on the private it doesn't crash.
I really love Brave browser and I really hope this android issue can be solved by Brave team!.

## Steps to reproduce

   1. Start opening tabs wit

[2022-11-02 21:23] josheleonard opened #26489 "Create a cache for wallet networks"
## Description

Now that Redux Toolkit Query is available for use within the wallet codebase, utilize the `createApi` utility to cache data fetched from core apis.

This issue for creating the networks cache, a follow-up will be created for removing the old reducer logic for storing networks

[2022-11-02 21:54] tmancey commented on #24788
Closing as working as expected. Reached out to @lukemulks to confirm if still experiencing the issue. Thanks

[2022-11-02 21:54] #24788 closed

[2022-11-02 22:02] fallaciousreasoning commented on #26306
Ah, I think this is actually a UX bug. Second one is the direct feed we discovered, first one is the direct feed we subscribed to :facepalm:

We had this working at one point but I guess it regressed. I'll take a look.

[2022-11-02 22:04] stephendonner commented on #26268
## Verified `PASSED` using

Brave | 1.47.39 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

#### Confirmed the option's capitalization now reads `Copy Clean Link`

<img width="1308" alt="Screen Shot 2022-11-02 at 3 02 17 PM" src="https://user-images.githubu

[2022-11-02 22:32] stephendonner commented on #26295
## Verified `PASSED` using

Brave | 1.47.39 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:
1. installed `1.47.39`
2. launched Brave
3. loaded `https://brave.com/?vgo_ee=1234`
4. looked at the URL bar

#### Confirmed that trying to load `https://

[2022-11-02 22:47] stephendonner commented on #26223
## Verified `PASSED` using

Brave | 1.47.39 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

<img width="1312" alt="Screen Shot 2022-11-02 at 3 46 56 PM" src="https://user-images.githubusercontent.com/387249/199616758-f7cd5681-22fa-42c9-b3ef-bcc614318e51.png

[2022-11-02 22:51] grobarko opened #26490 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.6.0

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you doing j

[2022-11-02 22:59] #22875 closed

[2022-11-02 23:34] stephendonner commented on #26377
## Verified `PASSED` using

Brave | 1.47.39 Chromium: 107.0.5304.91 (Official Build) nightly (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:
1. installed `1.47.39`
2. launched Brave
3. loaded `https://fmarier.github.io/brave-testing/query-filter.html`
4. scrolled down to the `POSTS tests` secti

[2022-11-02 23:37] sangwoo108 commented on #23467
Thanks @illtellyoulater for the feedback. Could you tell me which OS you're using? I was told about the first issue but couldn't reproduce it. https://github.com/brave/brave-browser/issues/25883

And the second is

[2022-11-02 23:54] #26451 closed

[2022-11-02 23:54] illtellyoulater commented on #23467
@sangwoo108 windows 10

[2022-11-03 00:14] sangwoo108 commented on #25883
Reportedly, a user faced this on Windows 10

[2022-11-03 00:30] sangwoo108 commented on #464
@Coffeeling Humm.. Do you mind sharing a screenshot of brave://version so that I can see which flags are on?

[2022-11-03 00:57] #26463 closed

[2022-11-03 01:00] IronMaltese opened #26491 "Ability to download translation languages"
## Description

Ability to download translation languages onto the browser

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue wi

[2022-11-03 01:52] cbcb00 commented on #26460
Updating to 1.46.118 has solved the problem for me.

[2022-11-03 01:52] #26460 closed

[2022-11-03 03:50] kjozwiak commented on #26339
The above requires `1.46.90` or higher for `1.46.x` verification 👍

[2022-11-03 03:50] kjozwiak commented on #26368
The above requires `1.46.90` or higher for `1.46.x` verification 👍

[2022-11-03 04:10] antonok-edm opened #26492 "Class/id cosmetic selectors intermittently missed"
Cosmetic filtering uses a [hidden_class_id_selectors](https://github.com/brave/adblock-rust/blob/master/src/cosmetic_filter_cache.rs#L209-L227) routine to query for CSS to inject based on the classes of elements newly added to the page or modified, using an in-page MutationObserver. That applies to generic cosmetic rules that can be queried by a particular class or id selector that must appear in

[2022-11-03 04:11] antonok-edm commented on #26492
One example: https://websummit.com has a cookie banner which is intermittently affected by this. Workaround: https://github.com/easylist/easylist/commit/d9b99af1

[2022-11-03 04:12] andrewnabaala opened #26493 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 13.0.0 (Ventura)

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were y

[2022-11-03 04:13] kjozwiak commented on #26415
The above requires `1.46.91` or higher for `1.46.x` verification 👍

[2022-11-03 04:13] antonok-edm commented on #26492
Another example: https://yourcountdown.to/. I'm not able to see the cookie banner personally but it was supposedly fixed with `##.gdprcookie` -> `##div.gdprcookie`

[2022-11-03 04:25] petemill opened #26494 "Desktop Brave News should be enabled by default"
## Test Plan
- Fresh user profile directory, no flags changed
- Open NTP
- Opt in to Brave News
- Open Brave News customize
Expected: The new Brave News customize experience is shown

<img width="1208" alt="image" src="https://user-images.githubusercontent.com/741836/199647407-b05870af-72f7-45ba-8d5b-8daf5e634645.png">

[2022-11-03 04:37] ahmuro commented on #12883
Every once in a while I check Brave again to see if I can have the URL bar at the bottom of the screen yet. It has been 3 years already.

[2022-11-03 04:53] Charlesjourdain opened #26495 "You have."
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with

[2022-11-03 04:58] Charlesjourdain opened #26496 "Non dissue"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with

[2022-11-03 05:10] #26495 closed

[2022-11-03 05:10] #26496 closed

[2022-11-03 05:12] rebron commented on #26490
Hi @grobarko Can you update to 1.45.118 and let us know if you're still experiencing the crash. Go to brave://settings/help to grab it.

[2022-11-03 05:13] rebron commented on #26493
Hi @andrewnabaala Can you update to 1.45.118 and let us know if you're still experiencing the crash. Go to brave://settings/help to grab it.

[2022-11-03 05:31] Sam-Sibley commented on #25148
@timchilds @anthonypkeane @deeppandya
This is the close tabs feature. Copy has been approved by Ryan.

The new Behaviors page is dependant on the Android menu redesign project. But if we want to ship this before that, we can add it in at the top level of Settings in 'General' above the item "Closing all tabs closes Brave".

This feature consolidates the "Close tabs on exit" feature from Brave Shie

[2022-11-03 05:39] #26397 closed

[2022-11-03 06:09] srirambv opened #26497 "Brave News Source suggestions"
Android front-end implementation of https://github.com/brave/brave-browser/issues/25563

cc: @brave/android @petemill @fallaciousreasoning @timchilds

[2022-11-03 06:09] srirambv commented on #25563
Removing `OS/Android` label as the front-end work is not yet done for Android. Logged follow up issue https://github.com/brave/brave-browser/issues/26497. More info [here](https://bravesoftware.slack.com/archives/CU56GUJ1H/p1667375086648119)

[2022-11-03 06:14] srirambv commented on #24550
Verification passed on Oppo Reno 5 with Android 12 running 1.46.87 x64 beta build
- Verified steps from [ brave/brave-core#14565](https://github.com/brave/brave-core/pull/14565)
- Verified manually enabled source is listed under `Your sources` post migration

https://user-images.githubusercontent.com/17010094/199657735-6ac9c1c9-4c6e-46a2-bd71-19a185194c11.mp4

[2022-11-03 06:17] kjozwiak commented on #26321
The above requires `1.46.91` or higher for `1.46.x` verification 👍

[2022-11-03 06:25] ArshErgon commented on #13286
@QueshAnmak can you help https://github.com/brave/brave-browser/issues/26407?

[2022-11-03 07:32] mtulikowski commented on #24515
This issue starts to be annoying. Is there any chance to speed up issue fixing?

On my side I am still remaining logged in in service like Facebook, Google, etc when I close the Brave browser. But each time I log in to my bank in the browser, I have to add the device as trusted one.

[2022-11-03 07:45] grobarko commented on #26490
Tnx @rebron. I just updated and I'll let you know how's the behaviour after I use it for a while
![Screenshot 2022-11-03 at 08 43 48](https://user-images.githubusercontent.com/12982562/199669345-45c462f8-879d-4842-866b-d3799f9de97f.png)

[2022-11-03 07:48] ryanbr commented on #26492
https://www.shoop.de/  -> ##.cookies-bottom-banner

[2022-11-03 07:49] nonetrix commented on #4364
Brave VPN has been added into the browser, would this make Tor easier to implement? To my understanding Tor works very much like a VPN

[2022-11-03 07:55] SAM21G opened #26498 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.118  Chromium: 107.0.5304.91
Operating System: Windows NT 10.0.19042

URL (if applicable) where crash occurred:

Can you reproduce this crash?

What steps will reproduce this crash? (If it's not reproducible, what were you d

[2022-11-03 08:03] nonetrix opened #26499 "Bypass theming override"
## Description
Brave on Android seems to override the material you color scheme, I understand this from a brand prospective. But I prefer material you, so a setting to re-enable would be great! It doesn't have to be enable by default of course

Base Chromium already has material you, example Kiwi Browser:
![Screenshot_20221103-025442](https://user-images.githubusercontent.com/45698918/199670710-eb

[2022-11-03 08:11] GeetaSarvadnya opened #26500 "Incorrect response value for the wallet selection "None""
## Description

Found while testing https://github.com/brave/brave-browser/issues/25659
Incorrect response value for the wallet selection "None"
## Steps to Reproduce

Case 1:

1. Clean profile 1.46.x
2. Open brave://local-state file
3. Install MM
4. Change the `Default Ethereum wallet` to "None"
5. Open any https site
6. Reload brave://local-state file
7. The metrics `Brave.Wallet.EthProvider` re

[2022-11-03 08:15] brave-builds commented on #26087
`CookieListOptInPreEnabledBrowserTest.AlreadyEnabled` [failed on macos x64 beta v1.46.90](https://ci.brave.com/job/brave-browser-build-macos-x64/5658/testReport/junit/(root)/CookieListOptInPreEnabledBrowserTest/test_browser___AlreadyEnabled).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 09:22] mherrmann opened #26501 "Provide Windows Group Policy templates for Brave"
In the [documentation for Group Policies](https://support.brave.com/hc/en-us/articles/360039248271-Group-Policy), we advise administrators to download Chrome's templates and modify them by hand for Brave's registry paths. The goal of this issue is to provide our own set of templates so the modification by hand is not necessary.

[2022-11-03 09:29] mherrmann opened #26502 "Make Brave-specific options configurable through Windows Group Policy templates"
## Test plan (added by @bsclifton)
1. Be on Windows
2. Windows + R, type in `gpedit.msc`, hit enter
3. Under `Computer Configuration`, right click `Administrative Templates`
4. In the context menu, pick `Add/Remove Templates...`
5. Download the templates from https://support.brave.com/hc/en-us/articles/360039248271-Group-Policy (link should be https://brave-browser-downloads.s3.brave.com/latest/po

[2022-11-03 09:34] mherrmann opened #26503 "Offer Windows Group Policy templates for automatic updates"
Brave supports similar group policy settings (modulo some registry paths) as Chrome for automatic updates. For example, automatic updates can be globally switched off with such a setting. Or they can be restricted by sysadmins to known-to-be-good version numbers. The goal of this issue is to offer Group Policy templates for Brave that are similar to [those offered by Google](https://support.google

[2022-11-03 09:38] brave-builds commented on #26471
`ChromeBrowserCloudManagementEnrollmentTest/ChromeBrowserCloudManagementEnrollmentTest.Test/1` [failed on linux x64 nightly master](https://ci.brave.com/job/brave-browser-build-linux-x64-asan/302/testReport/junit/(root)/ChromeBrowserCloudManagementEnrollmentTest_ChromeBrowserCloudManagementEnrollmentTest/linux_x64___test_browser_chromium___Test_1).
<details>
<summary>Stack trace</summary>

[code]

[2022-11-03 09:39] brave-builds commented on #26472
`ChromeBrowserCloudManagementEnrollmentTest/ChromeBrowserCloudManagementEnrollmentTest.Test/3` [failed on linux x64 nightly master](https://ci.brave.com/job/brave-browser-build-linux-x64-asan/302/testReport/junit/(root)/ChromeBrowserCloudManagementEnrollmentTest_ChromeBrowserCloudManagementEnrollmentTest/linux_x64___test_browser_chromium___Test_3).
<details>
<summary>Stack trace</summary>

[code]

[2022-11-03 09:39] brave-builds commented on #26473
`PolicyMakeDefaultBrowserTest.MakeDefaultDisabled` [failed on linux x64 nightly master](https://ci.brave.com/job/brave-browser-build-linux-x64-asan/302/testReport/junit/(root)/PolicyMakeDefaultBrowserTest/linux_x64___test_browser_chromium___MakeDefaultDisabled).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 09:40] #26410 closed

[2022-11-03 10:35] #15365 closed

[2022-11-03 10:41] rafaribe commented on #23054
I would love this feature. Took a long time customising my RSS feed on one computer and  it didn't sync to other devices.

[2022-11-03 11:39] bogdanm opened #26504 "Can't access thingiverse.com with Brave on macOS 12.6 (Apple M1)"
## Description

https://thingiverse.com (and possibly other sites too) just displays a "Something went wrong" error when I try to open it with Brave (with or without shields, rewards off). The site works when opened from Safari or Google Chrome.

The developer console shows this error:

[code]

## Steps to Reproduce

Open https://thingiverse.com

## Reproduces how often:

Every time.

## Brave ver

[2022-11-03 12:16] brave-builds commented on #26473
`PolicyMakeDefaultBrowserTest.MakeDefaultDisabled` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/PolicyMakeDefaultBrowserTest/windows_x64___test_browser_chromium___MakeDefaultDisabled).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:17] brave-builds commented on #26478
`TryChromeDialogBrowserTest.ToastCrasher` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/TryChromeDialogBrowserTest/windows_x64___test_browser_chromium___ToastCrasher).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:17] brave-builds commented on #26417
`FileSystemAccessBrowserTest.FullscreenOpenFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___FullscreenOpenFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:17] brave-builds commented on #26418
`FileSystemAccessBrowserTest.OpenFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___OpenFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:17] brave-builds commented on #26419
`FileSystemAccessBrowserTest.OpenFileWithContentSettingAllow` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___OpenFileWithContentSettingAllow).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:17] brave-builds commented on #26420
`FileSystemAccessBrowserTest.SaveFile` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___SaveFile).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:18] brave-builds commented on #26421
`FileSystemAccessBrowserTest.SaveFileWithContentSettingAllow` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/FileSystemAccessBrowserTest/windows_x64___test_browser_chromium___SaveFileWithContentSettingAllow).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:18] brave-builds commented on #26422
`MojoFileSystemAccessBrowserTest.CanResolveFilePath` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/MojoFileSystemAccessBrowserTest/windows_x64___test_browser_chromium___CanResolveFilePath).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-03 12:18] brave-builds commented on #26423
`PersistedPermissionsFileSystemAccessBrowserTest.UsageIndicatorVisibleWithPersistedPermissionsEnabled` [failed on windows x64 nightly master](https://ci.brave.com/job/brave-browser-build-windows-x64-asan/300/testReport/junit/(root)/PersistedPermissionsFileSystemAccessBrowserTest/windows_x64___test_browser_chromium___UsageIndicatorVisibleWithPersistedPermissionsEnabled).
<details>
<summary>Stack tr

[2022-11-03 12:41] srirambv commented on #25818
Verification passed on

Brave | 1.47.39 Chromium: 107.0.5304.91 (Official Build) nightly (64-bit)
-- | --
Revision | `3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}`
OS | Linux

- Verified steps from [brave/brave-core#15634](https://github.com/brave/brave-core/pull/15634)
- Verified Brave logo is shown on all Wallet routes
- Verified `Buy Crypto` is shown as page title for

[2022-11-03 13:03] snowbound commented on #25694
I have been able to get MS Edge beta to exhibit the same issue with the test [stream](https://youtu.be/jfKfPfyJRdk). One pauses the video and force a reload of the stream. The chat will wind up getting a 20 second delay in a clean profile in Brave builds x3 and now as well in MS Beta.

However, I tried a dozen times in Chrome release clean profile and I have been unable to get the problem to occur

[2022-11-03 13:31] LaurenWags commented on #25597
Verification in progress with

[code]

[2022-11-03 13:45] swanwise opened #26505 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.45.116  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.6.0

URL (if applicable) where crash occurred:

Can you reproduce this crash?
yes
What steps will reproduce this crash? (If it's not reproducible, what were you doin

[2022-11-03 14:00] ghost opened #26506 "Brave doesn't remember 'Block fingerprinting' option"
## Description
Brave doesn't remember choosen option in Shields > Block fingerprinting section after it is relaunched.

## Steps to Reproduce
   1. Launch Brave
   2. Change Shields > Block fingerprinting option to different than default
   3. Close Brave
   4. Launch Brave

## Actual result:
Shields > Block fingerprinting option is set to default (Standard).

## Expected result:
Shields > Block f

[2022-11-03 14:18] srirambv commented on #25646
Verification passed on

Brave | 1.46.81 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | `a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}`
OS | Linux

- Verified steps from [brave/brave-core#15434](https://github.com/brave/brave-core/pull/15434)
- Verified a new setting `IPFS public gateway address for NFT` is available under `brave://ipfs` and has `

[2022-11-03 14:21] pilgrim-brave opened #26507 "Performance issues in web audio getChannelData"
https://linxin2020.github.io/hls_live/js_performance.html

Per Slack discussion, this is likely related to our web audio farbling. HOWEVER "allow all fingerprinting" does not noticeably improve performance, suggesting the problem lies in the checks/callback mechanism rather than the actual data farbling routine.

[2022-11-03 14:28] Coffeeling commented on #464
My test Nightly profile somehow doesn't have the issue now, but it migrated to my main profile in Beta 😂

I'll post the version information for the Beta profile that's having the issue atm.

...and it promptly fixed itself *while I was writing this post*. Amazing.

Anyway.

Beta:
![image](https://user-images.githubusercontent.com/54371213/199747819-aedb7482-38aa-49f7-89fb-c4b85e7609d4.png)

Nightl

[2022-11-03 14:30] ghost opened #26508 "Strict fingerprint blocking generates strange WebGL Vendor & Renderer value"
## Description
Strict fingerprint blocking generates strange WebGL Vendor & Renderer value. According to EFF generated value is `fvXrVKFi~ePHDBAgw` which mean one in 223253 browsers have this value which is very unique.

## Steps to Reproduce
   1. Launch Brave
   2. Set Shields > Block fingerprinting option to 'Strict, may break sites'
   3. Proceed to [EFF CoverYourTracks](https://coveryourtrack

[2022-11-03 14:44] sangwoo108 commented on #464
@Coffeeling Thank you soooo much! Let me try turning them on/off and testing.

[2022-11-03 14:48] srirambv commented on #26351
Haven't had a chance to test this. I'll try to get logs and see if it repro's on latest nightly. Will close the issue if can't repro it

[2022-11-03 14:51] goodov opened #26509 "Debug symbols on Windows include *test, protoc, and other unused PDBs"
We process and store unnecessary debug symbols, including test and build-only PDBs. This generates ~3.5Gb archive with native symbols for each Brave version which is pretty heavy to download during native crash debug session in Visual Studio.

[code]

We should only generate PDBs for the files that go into release build:
[code]

[2022-11-03 15:22] IkelAtomig commented on #17251
It would be better to do like Microsoft edge's Automatic profile swithing.

[2022-11-03 15:40] stephendonner commented on #26368
## Verified `PASSED` using

Brave | 1.46.91 Chromium: 107.0.5304.91 (Official Build) dev (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:
1. install `1.46.91`
2. launch Brave
3. set `brave://flags/#brave-news-v2` to `Enabled`
4. set `brave://flags/#brave-news-subscribe-button` to `Enabled`
5. cl

[2022-11-03 15:53] stephendonner commented on #26339
## Verified `PASSED` using

Brave | 1.46.91 Chromium: 107.0.5304.91 (Official Build) dev (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:

1. install `1.46.91`
2. launch Brave
3. open a new-tab page
4. click on `Customize`
5. click on `Brave News`
6. type `https://www.rt.com/rss-feed/` into `Fee

[2022-11-03 16:07] stephendonner commented on #26321
## Verified `PASSED` using

Brave | 1.46.91 Chromium: 107.0.5304.91 (Official Build) dev (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:

1. launch Brave
2. set `brave://flags/#brave-news-v2` to `Enabled`
3. set `brave://flags/#brave-news-subscribe-button` to `Enabled`
4. click `Relaunch`
5. lo

[2022-11-03 16:23] LaurenWags commented on #24542
@brave/qa-team see this post for more information: https://bravesoftware.slack.com/archives/GAA4017R7/p1667492572270059

[2022-11-03 16:24] LaurenWags commented on #25918
Verification in progress with

[code]

[2022-11-03 16:28] Simvolick opened #26510 "Cyrillic font improvement"
## Description

## Steps to Reproduce

   1. Open a new tab while having a browser title screen enabled.

## Actual result:

<img width="542" alt="CleanShot 2022-11-03 at 19 26 13@2x" src="https://user-images.githubusercontent.com/53820652/199777776-b80d4a5f-379b-49b2-8655-3b52eb3e1a66.png">

## Expected result:
English font is just fine.

## Reproduces how often:

Anytime you have Cyrillic font

[2022-11-03 17:12] szilardszaloki opened #26511 "Fix external wallet double disconnection issues for bitFlyer and Gemini."
There are certain API calls where the access token expires, hence the wallet gets reset (`VERIFIED` `==>` `DISCONNECTED_VERIFIED`), and then the callback handler of another network request (which has already been in progress) forgets to check the status of the wallet (that is, whether it is `VERIFIED`) before it resets the wallet as a result of the token expiry (`DISCONNECTED_VERIFIED` `==>` `DISC

[2022-11-03 17:16] bsclifton opened #26512 "Update ticket formatting for VPN support"
## Description
Our partners at Guardian VPN have requested some changes to the

## Steps to Reproduce

   1. Have a valid VPN config installed (enable via brave://flags/#brave-vpn; login to account.bravesoftware.com, etc)
   2. Click VPN button (next to hamburger menu in top right)
   3. When the server selection popup shows, click the gear icon in the top right
   4. Click `Contact technical supp

[2022-11-03 17:23] Douglashdaniel opened #26513 "Swap V2 Missing Red Variable"
## Description
The design system was updated and `red80` no longer exist, we need to update components using that variable to use `red40`

[2022-11-03 17:54] tmancey opened #26514 "Cleanup Brave Ads"

[2022-11-03 18:00] tmancey commented on #26514
Closing as won't fix

[2022-11-03 18:00] #26514 closed

[2022-11-03 18:01] #26513 closed

[2022-11-03 18:06] Douglashdaniel opened #26515 "Swap V2 Fix Liquidity Provider Text Alignment"
## Description
`Liquidity provider` text should be aligned to the left

![Screen Shot 2022-11-03 at 1 01 47 PM](https://user-images.githubusercontent.com/40611140/199800390-6489127b-3f83-4ca3-84fd-b76cfa286ba2.png)

[2022-11-03 18:10] timchilds opened #26516 "Update "background video playback" setting copy"
## Description
We are in the process of enabling the "background video playback" feature by default. Because it is no longer considered "experimental" and most users want to play video/audio in the background.

![image](https://user-images.githubusercontent.com/28269287/199801264-dfc9d0af-466c-4548-bc13-04dce6ef596b.png)

https://github.com/brave/brave-variations/pull/420
https://github.com/brave/

[2022-11-03 18:10] petemill opened #26517 "Brave News onboarding region selection"
On Brave News onboarding (i.e. the opt-in card), when a user is not in a region/language that we have a Brave News feed for, then we should show a drop-down with all our language/region options. The selection would affect which region they are subscribed to the "Top Sources" channel in. In other words which region they want to start with content from.

The options would be, e.g.:
[code]

![image](

[2022-11-03 18:15] petemill opened #26518 "Brave News customize modal region selection"
On the Brave News Customize modal, we should show a drop-down of regions so that the user can switch from which region channels and sources are suggested from. This would default to the value shown during https://github.com/brave/brave-browser/issues/26517 and when the user selects a new value it should be remembered for next time. It should be fairly subtle as it's not something we expect to be c

[2022-11-03 18:23] stephendonner commented on #24054
## Verification `IN-PROGRESS` using

Brave | 1.46.91 Chromium: 107.0.5304.91 (Official Build) dev (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

Case 1: Pin Brave to dock via `Pin to taskbar` checkbox in the first-run dialog
Case 2: Unpin Brave from the dock and `Pin to taskbar` it from `brave://settings

[2022-11-03 18:24] petemill opened #26519 "Brave News Customize toggle should hide Brave News, not opt-out"
Users should be able to hide Brave News from the NTP.
User should be able to show Brave News on the NTP after initially opting-out.

## Implementation details
Whilst it would be good to have a separate toggle that's purely for whether Brave News shows on the NTP, especially when we surface the feed in other places such as a sidebar, right now we only show Brave News in one place. Therefore the Tog

[2022-11-03 18:27] petemill opened #26520 "Brave News untoggled state needs opt-in text if user hasn't opted-in previously"
There are 2 prefs that consider Brave News as not "active" - opted-in and show-on-ntp. If opted-in has not been toggled before, we should show the opt-in text that is shown on the feed's opt-in text. Perhaps we should show even when the user has disabled Brave News after previously opting in?

Current opt-in text in feed card:
[code]

Current text displayed in Customize dialog when user has not ye

[2022-11-03 18:34] petemill opened #26521 "Brave News channels in followed list should show region name if there are multiple with the same name"
If a user has subscribed to "Cars" channel in 2 regions, we should display the region name in the follow list.

This is how the iOS version is currently displaying it
![image](https://user-images.githubusercontent.com/741836/199805634-6be5070f-cb30-4945-9c7f-e667c2363b8e.png)

However, the region name would include the language as per https://github.com/brave/brave-browser/issues/26517

[2022-11-03 18:51] #26515 closed

[2022-11-03 19:04] AlexeyBarabash opened #26522 "Failed DCHECK when device gets variation on Release build with dcheck_always_on=true"
## Description
Regression after https://github.com/brave/brave-variations/pull/394 . It is occurred in very specific conditions and cannot be met in production.

Reported by @deeppandya

## Steps to reproduce

   1. build browser with command `npm run build -- Release --channel=nightly --target_os=android --target_arch=arm  --target_android_output_format=apk` and having `dcheck_always_on=true` in

[2022-11-03 19:20] airfield20 commented on #16392
Same issue here, on X11, vaapi-drivers installed, ignore gpu blocklist enabled, and ran with command line flags and it just doesnt work. I have an nvidia GPU and I'm tring to use onshape CAD.

Works perfectly on chrome without any extra work.

[2022-11-03 19:23] mattmcalister commented on #26520
[code]

![image](https://user-images.githubusercontent.com/71029/199814908-a5a9f0cc-cf2b-4653-89a3-0a88390409f9.png)

[2022-11-03 19:50] petemill commented on #26520
@mattmcalister Should that be new text for both the regular opt-in card in the feed and the Customize dialog, or just the Customize dialog?

[2022-11-03 19:54] Coffeeling commented on #23467
I have the same issue. It happens in the Beta profile I sent version information for, but not the Nightly one.

[2022-11-03 20:33] stephendonner commented on #24055
The Figma assets are pretty clearly -- though labeled for `macOS` -- a `Windows` screenshot with a bit of `macOS` treatment.

@aguscruiz can you please confirm that https://github.com/brave/brave-core/pull/14714#issue-1344018951 is what's intended to be implemented, for macOS?  I'm 99% sure but want to be 110%; thanks.

cc: @LaurenWags

[2022-11-03 20:46] husobee opened #26523 "SKUs SDK pass along request body in native client implementation"
## Description
SKUs SDK native client currently is not passing along the request body from the rust http request.

## Steps to Reproduce

   1. Attempt to provision an order of credential type time-limited-v2 on accounts site
   2. Accounts site attempts to fetch_order_credentials from skus sdk
   3. skus sdk performs a POST /v1/orders/<order_id>/credentials with a post body payload
   4. The nati

[2022-11-03 20:48] OmarJAhmad commented on #26505
i also have similar issue, brave crashes multiple time,
windows 10
Brave is up to date
[Version 1.45.118 Chromium: 107.0.5304.91 (Official Build) (64-bit)]

[2022-11-03 21:09] aseren opened #26524 "DCHECK on ads service start."
DCHECK if starting ads are when brave news are opted in.

[2022-11-03 21:19] mattmcalister commented on #26520
it should be the new text for both.

[2022-11-03 21:24] angelog0 opened #26525 "Blinking cursor everywhere on Windows"
On Windows 10 current version of Brave (Versione 1.45.118 Chromium: 107.0.5304.91 (Build ufficiale) (a 64 bit)) shows a blinking cursor every where not only in edit fields and it is annoying when not requested. It seems that this occurs only on Windows (10, here) and not on GNU/Linux with the same Brave version...

In the following pictures the blinking cursor appears as a vertical line but it is

[2022-11-03 21:30] #26318 closed

[2022-11-03 21:38] castig commented on #25644
I'm having this issue — if you need someone to test :)

[2022-11-03 22:35] antonok-edm commented on #26442
Hey @mlntr, thanks for the report. I use private windows the same way as you and it's definitely not ideal :sweat_smile:

We're actually working on a feature called "Forget by default" which should allow you to browse in _normal_ sessions and still have your session data cleared once you're done - see https://github.com/brave/brave-browser/issues/26465 for more details!

[2022-11-03 23:38] #26287 closed

[2022-11-03 23:46] #2566 closed

[2022-11-04 00:20] deeppandya opened #26526 "Playlist mojom implementation for android"
This issue is a sub issue for playlist work https://github.com/brave/brave-browser/issues/23464. In this issue, we need to address mojom implementation for android with some modification to playlist_handler.

[2022-11-04 00:47] stephendonner commented on #26374
@cypt4 can you please provide a step-by-step testplan for this?  Although it says "Change description..." it looks like there are quite a few changes here I should help regression-test?

[2022-11-04 01:07] Douglashdaniel opened #26527 "Selected Account has Empty Balances on Init"
## Description

https://user-images.githubusercontent.com/40611140/199863330-6f06e2a1-ce2d-4434-8d30-7476d0fa3bc0.mov

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release? No
- Can you reproduce this issue with the

[2022-11-04 01:09] stephendonner opened #26528 "Description text for `Redirect IPFS resources to the configured IPFS gateway` could be a little clearer"
## Description

Description text for `Redirect IPFS resources to the configured IPFS gateway` could be a little clearer

## Steps to Reproduce

1. install `1.47.42`
2. launch Brave
3. load `brave://settings/ipfs`
4. read the wall of text under `Redirect IPFS resources to the configured IPFS gateway`

## Actual result:

`Requests to IPFS resources, hosted on third-party IPFS gateways will be loaded

[2022-11-04 01:12] Hadiismanto11 opened #26529 "Indian companies are also finding global audiences"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with

[2022-11-04 01:14] stephendonner commented on #26528
Cross-reference https://github.com/brave/brave-browser/issues/26374 and https://github.com/brave/security/issues/1063

[2022-11-04 01:15] php4fan opened #26530 "Canvas behaves randomly, completely broken"
## Steps to Reproduce

   1. First visit this page in Chrome or Firefox: https://opentarget.org/test/ssclone2022
   2. now open the same url in Brave

## Expected result:
Should behave the same in Brave as it does in any other browser.

Here's what it should look like after a while:

![image](https://user-images.githubusercontent.com/13969584/199863580-244c2983-13e6-4081-97c1-8d6bb1a258c0.png)

##

[2022-11-04 01:24] TokenRing commented on #181
if thumbs up from users such as ourselves get this issue more recognition, then so be it. I guess I can't blame you for not focusing on it since it gets so few people (but we are zealous about it) giving it the thumbs up.

[2022-11-04 01:29] php4fan commented on #26530
It seems likely to be this issue (which I can reproduce):
https://community.brave.com/t/canvas-and-uint32array-are-not-working-as-expected/286732

Reported a year ago, no reply and still not fixed. Pathetic.

I don't even want to use Brave, I'm forced to caring about this only because users of my website use it and it breaks it.
I would love to just block Brave by user agent, but unfortunately you

[2022-11-04 01:57] brave-builds opened #26531 "Test failure: BraveWalletEventEmitterTest.CheckForAConnectEvent"
Greetings human!

Bad news. `BraveWalletEventEmitterTest.CheckForAConnectEvent` [failed on linux x64 nightly v1.47.45](https://ci.brave.com/job/brave-browser-build-linux-x64/4755/testReport/junit/(root)/BraveWalletEventEmitterTest/linux_x64___test_browser___CheckForAConnectEvent).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-04 02:32] DJAndries commented on #26500
@GeetaSarvadnya The "Default Ethereum Wallet" setting does not block a third-party wallet extension from being used, if it is set to "None". It will only control how the native Brave Wallet provider is loaded. When the setting is set to "None", you can try connecting the wallet to a dapp (i.e. OpenSea); the competing wallet's connect dialog should still pop up. Closing as invalid.

[2022-11-04 02:32] #26500 closed

[2022-11-04 03:16] danykey opened #26532 "bastyon.com: chat window plays voice messages noised (linux/snap)"
Hello, I guess that the issue for snap Brave version only.

## Description

Registered users on bastyon.com (social network) can use a chat windows for conversation. There users can attach own voice messages, other users can play it. So, I cant hear what they say because messages noised.

## Steps to Reproduce

   1.  Login to bastion.com
   2. Open chat window and press join: [https://bastyon.com

[2022-11-04 03:59] #26527 closed

[2022-11-04 05:02] deivastra opened #26533 "Add Swisscows anonymous search (Switzerland) to Brave search engines list (Desktop, Android)"
Hello bravers, thanks a lot for browser!

## Description

It's really easy add Swisscows manually to search engines list for Desktop:  `https://swisscows.com/en/web?query=%s`
But cant use Swisscows with Brave for Android conveniently.
I have use Swisscows a long time, so, it's  stable, fast and returns good search results.

With respects.

[2022-11-04 06:20] kjozwiak opened #26534 "Manual test run on Android ARM for 1.45.x - Release #5"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [x] Make sure Brave handles links from Gmail, Slack
- [x] Make sure Brave works as custom tabs provide with Chrome browser
- [x] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [x]

[2022-11-04 06:20] kjozwiak opened #26535 "Manual test run on Android Tab for 1.45.x - Release #5"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [x] Make sure Brave handles links from Gmail, Slack
- [x] Make sure Brave works as custom tabs provide with Chrome browser
- [x] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [x]

[2022-11-04 06:30] simonhong opened #26536 "Fix broken redirect URI escaping"
We found that `com.brave.ftx://authorization` was not escaped at `FTXService::AuthenticateFromAuthToken()`

Internal issue: https://github.com/brave/internal/issues/944

[2022-11-04 06:30] kjozwiak commented on #26440
Verification **PASSED** on `Samsung Galaxy S10+` running `Android 12` using the following build(s):

[code]

Using the STR/Cases outlined via https://github.com/brave/brave-browser/issues/26440#issue-1431835948, verified the Brave doesn't crash when going into `Settings` -> `Notifications` -> `in-app notifications` as per the following:

https://user-images.githubusercontent.com/2602313/199906699-

[2022-11-04 06:42] stephendonner commented on #26415
## Verified `PASSED` using <html>

Brave | 1.46.92 Chromium: 107.0.5304.91 (Official Build) beta (64-bit)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | Windows 10 Version 22H2 (Build 19045.2130)

### Steps:
1. installed `1.46.92`
2. launched Brave
3. opened `brave://settings/shields/filters`
4. added `||google-analytics.com/analytics.js$script,redi

[2022-11-04 06:57] StrangePeanut commented on #26304
Related: https://github.com/brave/brave-browser/issues/25883

[2022-11-04 06:58] kjozwiak opened #26537 "Release checklist for `1.45.x - Release #5`"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Double check the previous release/milestone and ensure everything has been QA'd
  - **Note:** If there's issues that need to be checked, create a `master` GH issue that lists the issues that need to be QA'd
- [x]

[2022-11-04 07:00] kjozwiak commented on #26537
Verification **PASSED** on `Samsung Galaxy S10+` running `Android 12` using the following build(s):

[code]

![Screenshot_20221104-024128_ClassyShark3xodus](https://user-images.githubusercontent.com/2602313/199911166-a1a4eaf1-7b4c-4bd3-9949-4a7924a1dd2d.jpg)

-----

Verification **PASSED** on `Samsung Tab S8 Ultra` running `Android 12` using the following build(s):

[code]

![Screenshot_20221104_0

[2022-11-04 07:00] #26537 closed

[2022-11-04 07:07] GeetaSarvadnya commented on #24054
Verification is inprogress

[code]

[2022-11-04 07:19] #26509 closed

[2022-11-04 08:36] tathastu871 opened #26538 "Quickly change search engine"
## Description
Add a quick drop down menu on search bar to change search engine.
Currently its much difficult to go to settings and chang

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version?
- Can you reproduce this issue with the current P

[2022-11-04 08:41] derelvis commented on #464
Anyone other experiencing as well that brave://flags/#brave-vertical-tabs is not working anymore on MacOS 12.6 and Brave nightly since yesterday (tried again today with [Version 1.47.42 Chromium: 107.0.5304.91 (Offizieller Build) nightly (x86_64)](https://brave.com/latest/)?
Tabs simply stay horizontal on top of the window regardless how often I reset the flag and set it again.
It was so cool befo

[2022-11-04 09:06] sangwoo108 commented on #464
Sorry, @derelvis . I forgot to crosspost here. https://github.com/brave/brave-browser/issues/23467#issuecomment-1295057510

Now we have a context menu to switching tabstrip orientation at runtime. Please checkout the context menu on tabs. There should be "Use vertical tabs".

[2022-11-04 10:15] derelvis commented on #464
Damn, that's fuckin awesome!! Thank's so much. Did not notice that despite I looked for it :D

[2022-11-04 10:18] Pavneet-Sing opened #26539 "Show etld on sign panel"
## Description
Show etld on sign panel

## Expected result

![Screenshot from 2022-11-04 15-47-02](https://user-images.githubusercontent.com/11755381/199949147-7aa27276-9f23-4ccf-a1a9-162ecde45b55.png)

[2022-11-04 10:35] sangwoo108 commented on #24717
@emkay5771 @friedITguy
Thank you for very detailed explanation. Actually, this is not intended behavior and it's Windows specific bug. Let me fix this soon.

[2022-11-04 10:35] sangwoo108 opened #26540 "On windows, floating state doesn't remain"
From our users:

[2022-11-04 10:36] sangwoo108 commented on #26540
cc. @emkay5771 @friedITguy

[2022-11-04 10:50] sangwoo108 commented on #25883
Hi, @antonok-edm . I'd like to ask you something. When you said "srolling will be reset to the top", does it mean that the very first tab will be visible? or more like a video herehttps://github.com/brave/brave-browser/issues/26304 ?

[2022-11-04 11:21] #26536 closed

[2022-11-04 11:25] srirambv commented on #26181
@anthonypkeane the issue has an associated PR so it should not be reopened. If we need we can add an Android specific issue and mark this one as Desktop only

[2022-11-04 11:27] #26539 closed

[2022-11-04 11:29] #26529 closed

[2022-11-04 11:31] goodov opened #26541 "Archive PDBs to 7z so we can publish it to GH"

[2022-11-04 12:02] GeetaSarvadnya opened #26542 "Brave is pinned to the taskbar when brave is NOT pinned explicitly via the first run dialog"
## Description

Brave is pinned to the taskbar when brave is NOT pinned explicitly via the first run dialog

This issue is not reproducible 100% but I have seen the issue 3 to 4 times in 3 days while dog fooding the beta build (1.46.x)
## Steps to Reproduce

STR 1:
   1. Clean profile 1.46.x
   2. Click on `May be later` in first run dialog
   3. Browser was launched and I was working on Rewards f

[2022-11-04 12:09] GeetaSarvadnya commented on #24609
Removing the QA Pass label as this issue will be uplifted to 1.45 via https://github.com/brave/brave-core/pull/15745 and testing will be done in 1.45.x

[2022-11-04 12:19] ryanbr opened #26543 "If a website becames unresponsive, show a report website button"
To allow users to report unresponsive websites, we can let users submit reports via the unresponsive alert.

Using the same button used to report broken websites, if a website becomes unresponsive. Offer the user to report the website from this dialog. To avoid unnecessary reports, maybe only show "report button" on the 2nd (or 3rd?) Page Unresponsive alert (if the user hits wait previously),

**C

[2022-11-04 13:13] goodov opened #26544 "Presubmit pylint hangs on Windows when less than 10 files are processed"
Upstream presubmit runner doesn't pass `-j` value when less than 10 files are processed. In this case Pylint fallbacks to `jobs=0` from the config and starts `cpu_count` threads which hangs on Windows if there're more than 56 cores.

[2022-11-04 13:31] szilardszaloki opened #26545 "Check if the user has a `recipient_id` before creating one."
https://github.com/brave/internal/issues/948

[2022-11-04 14:36] nvonpentz opened #26547 "Frontend desktop support for running DiscoverAssets on page refresh"
### Background
Backend support issue - https://github.com/brave/brave-browser/issues/25820.

The backend will provide a DiscoverAssetsOnAllSupportedChains API to the frontend that it can call to run the discover assets logic when the user reloads the wallet UI.  The API will look like this with with no callback:
[code]
Upon completion/failure, the backend will emit an event for each chain.
[code]

[2022-11-04 15:01] jamesmudgett commented on #26547
We should use one single row "loading skeleton" at the bottom of any list on load and until the final completion/failure call has been executed.

[2022-11-04 15:50] Uni-verse commented on #26534
In progress using version:

[code]

[2022-11-04 16:06] GrubbyHalo commented on #22807
No this only takes braves cache

There's is a lot of other files that are not really part of the running cache of the browser. I forget which directories specifically.

[2022-11-04 16:19] rebron commented on #26530
@php4fan In shields, if you select `Allow fingerprinting` does that work for you. I'm not able to reproduce on Windows and macOS, I see what you're seeing with the Expected Result image you posted so maybe a Linux only issue.

[2022-11-04 16:29] #26544 closed

[2022-11-04 16:30] rebron commented on #26487
@m-ammar I'm not able to reproduce your steps. Looks like doing "Cmd + ," just adds brave://settings as a normal tab to the end of the list and not effecting opening or closing any tab groups. Do you have an extension installed that maybe conflicting or some brave://flags you turned on?

[2022-11-04 16:40] #26512 closed

[2022-11-04 16:48] php4fan commented on #26530
Just with my test case or also the blank-canvas one I linked in my last comment?

By that I guess you mean selecting "Disabled" under "Block fingerprinting":

![image](https://user-images.githubusercontent.com/13969584/200028835-595ed302-6dc9-4d0e-bc9c-a03702ca7b9b.png)

**Unbelievably, that does work.** It fixes both my falling-pixels example and the blank-canvas test from StackOverflow.

[code]

[2022-11-04 16:51] rebron commented on #26530
cc: @pilgrim-brave

[2022-11-04 17:04] IronMaltese opened #26548 "Lbc in Brave Wallet"
## Description

The Brave Wallet should support Odysee’s native cryptocurrency, Lbc

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this

[2022-11-04 17:05] kjozwiak commented on #26535
Verification **PASSED** on `Samsung Tab S8 Ultra` running `Android 12` using the following build(s):

[code]

[2022-11-04 17:05] #26535 closed

[2022-11-04 17:08] angelog0 commented on #26525
I wonder if this is related with the fact that in that day I had a Zoom connection **with the browser** to a conference.. I just noticed this after the connection..

[2022-11-04 17:09] ibeey opened #26549 "Crash Report"
## Description

Browser crash

## Steps to Reproduce

   1. Open the browser
   2. Input: anyurl。com, or anyurl。net, or anyurl。cn ……
   3. Browser crash

## Actual result:

Browser crash

## Expected result:
In the web address 。 automatically converted to . , and can be accessed normally

## Reproduces how often:

Easily reproduced,
Every time

## Brave version (brave://version info)

Release v1.4

[2022-11-04 17:13] rebron commented on #26504
<img width="1522" alt="Screenshot 2022-11-04 at 10 12 36 AM" src="https://user-images.githubusercontent.com/5951041/200035648-3c8ba619-94ce-4ce6-bd78-3bb8a5e31a6a.png">
I'm not able to reproduce.

cc: @ryanbr

[2022-11-04 17:16] #26343 closed

[2022-11-04 17:18] #26534 closed

[2022-11-04 17:23] rebron commented on #26504
@bogdanm Can you try opening the page in a private window, also wondering if the page is conflicting with an extension. We had a few other in QA try to load the page and it looks like it was loading properly.

[2022-11-04 17:37] rmcfadden3 commented on #26528
@stephendonner — something like this?

`Requests to IPFS resources (hosted on third-party IPFS gateways) will be loaded via a selected local or remote gateway. If a local node is selected, the resource will be requested directly from your computer and cached data may be provided to the IPFS network for some time.`

Oh, and do you know if we can give any more specificity around what "…for some time

[2022-11-04 17:44] #24661 closed

[2022-11-04 17:45] kjozwiak commented on #26451
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 17:55] kjozwiak commented on #24055
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 18:05] kjozwiak commented on #26259
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 18:13] kjozwiak commented on #25419
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 18:33] kjozwiak commented on #25169
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 18:33] stephendonner opened #26550 "Brave News feed auto-discovery within search appears broken"
## Description

Brave News feed auto-discovery within search appears broken

## Steps to Reproduce

1. install `1.47.42`
2. launch Brave
3. set `brave://flags/#brave-news-v2` and `brave://flags/#brave-news-subscribe-button` to `Enabled`
4. click `Relaunch`
5. open a new-tab page
6. click on `Customize`
7. click on `Brave News`
8. click on `Turn on Brave News`
9. under `Discover`, enter `https://ww

[2022-11-04 18:39] stephendonner commented on #26528
I do not, but am betting @cypt4 @yrliou @lidel will be able to help suss that out 👍

[2022-11-04 18:48] Douglashdaniel opened #26551 "Swap V2 Remove Advanced and Hide Minimum Received"
## Description
- Remove the `Advanced` option
- Hide `Minimum Received` for `Ethereum` networks

![Screen Shot 2022-11-04 at 1 43 50 PM](https://user-images.githubusercontent.com/40611140/200052276-383f413c-3817-4228-abb5-8ae6502985d7.png)

[2022-11-04 18:48] kjozwiak commented on #26397
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 18:50] Brave-Matt opened #26552 ""Switch pages" buttons for NTP Favorites should be more obvious and easier to select"
## Description

When there are more than 12 favorites on the top site page, you have to click on these tiny little dots to swap between pages. While I personally think it looks nice and minimal, they are also:

- Hard to see sometimes in general, but definitely harder depending on the NTP background image being shown at the time
- Can sometimes be hard to press — when testing I accidentally clicke

[2022-11-04 18:58] kjozwiak opened #26553 "Manual test run on macOS (Intel) for Tor 0.4.7.10 - Release #2"
### **`macOS 13.0 Ventura`**

### Tor Client Updater

- [ ] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [ ] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [ ] Open `New Priv

[2022-11-04 18:58] kjozwiak opened #26554 "Manual test run on macOS (arm64) for Tor 0.4.7.10 - Release #2"
### Monterey 12.x

### Tor Client Updater

- [ ] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [ ] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [ ] Open `New Private Window

[2022-11-04 18:58] kjozwiak opened #26555 "Manual test run on Windows x64 & x86 for Tor 0.4.7.10 - Release #2"
### **`Windows 11 x64`**

### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private

[2022-11-04 18:59] kjozwiak opened #26556 "Manual test run on Linux for Tor 0.4.7.10 - Release #2"
## Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private Window with Tor` and confir

[2022-11-04 19:02] kjozwiak commented on #26553
Quick note: The Tor daemon itself was not updated and is still on `0.4.7.10`. However, the following did get upgraded:

* `OpenSSL` - `1.1.1q` -> `1.1.1s`
* `Zlib` - `1.2.12` -> `1.2.13`

[2022-11-04 19:02] kjozwiak commented on #26554
Quick note: The Tor daemon itself was not updated and is still on `0.4.7.10`. However, the following did get upgraded:

* `OpenSSL` - `1.1.1q` -> `1.1.1s`
* `Zlib` - `1.2.12` -> `1.2.13`

[2022-11-04 19:02] kjozwiak commented on #26555
Quick note: The Tor daemon itself was not updated and is still on `0.4.7.10`. However, the following did get upgraded:

* `OpenSSL` - `1.1.1q` -> `1.1.1s`
* `Zlib` - `1.2.12` -> `1.2.13`

[2022-11-04 19:02] kjozwiak commented on #26556
Quick note: The Tor daemon itself was not updated and is still on `0.4.7.10`. However, the following did get upgraded:

* `OpenSSL` - `1.1.1q` -> `1.1.1s`
* `Zlib` - `1.2.12` -> `1.2.13`

[2022-11-04 19:04] bogdanm commented on #26504
@rebron I did and find out that an extensions was indeed the problem, namely Windscribe (https://chrome.google.com/webstore/detail/windscribe-free-proxy-and/hnmpcagpplmpfojmgmnngilcnanddlhb). Even though I wasn't connected to a VPN using Windscribe, it's still doing something weird. Thank you and sorry for the noise.

[2022-11-04 19:04] #26504 closed

[2022-11-04 19:10] josheleonard opened #26557 "Persist show/hide wallet portfolio chart user pref"
## Description

The chart on the Brave Wallet portfolio overview screen should remain displayed/hidden based on subsequent page loads when the user shows or hide the chart.

[2022-11-04 19:12] kjozwiak commented on #24609
The above requires `1.45.121` or higher for `1.45.x` verification 👍

[2022-11-04 19:13] #26551 closed

[2022-11-04 19:41] #26462 closed

[2022-11-04 19:50] btlechowski commented on #26556
Verification passed on

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (64-bit)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | Ubuntu 18.04 LTS

Verified tor initialized successfully
[code]

Verified static library
![image](https://user-images.githubusercontent.com/34715963/200062746-718869de-5eee-4e9c-99ee-6450434827ae.png)

[2022-11-04 19:50] #26556 closed

[2022-11-04 20:55] Deviner75 opened #26558 "Brave sigkill and hi memory consumption"
## Description
Crashes on memory heavy websites like youtube. Using a lot of memory overall. About 13gb! with 1-2 youtube tabs open.

## Steps to Reproduce
Potential steps:
Packages:
Arch linux 6.0.6-arch1-1
nvidia-open
opencl-nvidia

Potentially conflicting:
blender
houdini sidefx
clinfo

## Actual result:
Tabs go offline with sigkill one by one after ~10 min of usage.

## Brave version

Brave |

[2022-11-04 20:56] kjozwiak commented on #26182
The above requires `1.45.121` or higher for `1.45.x` verification 👍

[2022-11-04 20:56] kjozwiak commented on #26181
The above requires `1.45.121` or higher for `1.45.x` verification 👍

[2022-11-04 21:02] kjozwiak commented on #26181
This particular PR can be verified on `Android` as well but the onboarding portion will be done via https://github.com/brave/brave-browser/issues/26318 as per https://github.com/brave/brave-browser/issues/26318#issuecomment-1299587680.

@brave/qa-team when verifying the above, you can use the STR/Cases outlined via https://github.com/brave/brave-core/pull/15669#issuecomment-1299023358 & https://gi

[2022-11-04 21:06] kjozwiak commented on #26182
@brave/qa-team please take a look at https://github.com/brave/brave-core/pull/15669#issuecomment-1299023358 for `Test Case #1` and basically run through the same thing mentioned via https://github.com/brave/brave-browser/issues/26181#issuecomment-1304257416. Don't run through both `BR` & `AR` on one platform. Between the three platforms, both of the new locales will be covered. They've also been c

[2022-11-04 21:14] kjozwiak commented on #26318
The above requires `1.45.121` or higher for `1.45.x` verification 👍

[2022-11-04 21:15] tmancey commented on #24633
Closing as issue has not been seen since 106.1.44.105

[2022-11-04 21:15] #24633 closed

[2022-11-04 21:20] kjozwiak commented on #26539
The above requires `1.46.94` or higher for `1.46.x` verification 👍

[2022-11-04 21:30] #26154 closed

[2022-11-04 21:50] brave-builds opened #26559 "Audit finding: https://github.com/advisories/GHSA-76p3-8jx3-jpfq"
Greetings human!

Bad news. Audit failed on [release/v1.45.121](https://ci.brave.com/job/brave-browser-build-noplatform/1859/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-04 22:40] stephendonner commented on #26553
#### Big Sur
<details>

Confirmed that the correct Tor component was being downloaded via --use-dev-goupdater-url:

--use-dev-goupdater-url

<img width="295" alt="Screen Shot 2022-11-04 at 3 32 22 PM" src="https://user-images.githubusercontent.com/387249/200084466-d9669e80-6d32-4665-b7d0-eaf6bec26dfa.png">

Confirmed that the Tor component was started when launching Tor and ensured Tor `0.4.7.10`

[2022-11-04 23:19] stephendonner commented on #26554
#### Big Sur - `PASSED`
<details>

Verified `PASSED` using

Brave | 1.45.118 Chromium: 107.0.5304.91 (Official Build) (arm64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

Confirmed that the correct Tor component was being downloaded via --use-dev-goupdater-url:

--use-dev-goupdater-url

<img width="294" alt="Sc

[2022-11-04 23:20] petemill opened #26560 "Brave News Customize sidebar has some style issues"
- Channels don't have icons
- Grid spacing is too much
- Font family is incorrect in some places
- Sources list title is too bold
- Long source names are not wrapping correctly

<img width="811" alt="image" src="https://user-images.githubusercontent.com/741836/200088369-cb711f96-6bcf-4c20-ad5a-20fb3757c31b.png">

[2022-11-04 23:21] stephendonner commented on #26554
@kjozwiak @LaurenWags leaving open still, since I think we want to also do `Monterey`?

[2022-11-04 23:41] dhulihan commented on #17358
I've also run into this, and it's a bit annoying when using a non-search engine landing page for your homepage (for example, when using custom startpage with an input field).

[2022-11-05 00:20] #26524 closed

[2022-11-05 00:43] jtheletter opened #26561 "Feature Request: Disable “add address” popup."
I have added the only address I need autopopulated in Brave settings. I do not need the browser to ask every time a website format varies the address slightly (or when it mistakenly detects a non-address field) whether I would like to save a new address. Thank you.

[2022-11-05 01:15] ryanbr opened #26562 "Unresponsive webpage on td.com (with shields disabled)"
## Description
With shields disabled, td.com has delay, or lag during the login progress.

## Steps to Reproduce

(May need a CA IP)

   1. Open `https://www.td.com/ca/en/personal-banking/`
   2. Click on EasyWeb login
   3. Hovering over the register button, notice delay in clicking on the button

## Actual result:
Page delay when loading the site.  (this error may/may not show, but it mostly jus

[2022-11-05 01:26] stephendonner commented on #26352
@fallaciousreasoning @petemill can we please get this uplifted to 1.46.x?

[2022-11-05 01:46] ryanbr commented on #26562
![dedicated-workers-brave](https://user-images.githubusercontent.com/1659004/200095646-72a0cc0b-03fe-48dc-993e-344c764a9fa4.png)

Compared to chrome, these multiple dedicated workers expired much quickly. In Brave they delayed in closing causing the CPU

[2022-11-05 02:49] kjozwiak opened #26563 "Release notes for `1.45.x - Release #5`"
## Release Notes:

* Crash from Google Play Console #26396
* Crash from Google Play Console on home button preferences #26440
* Crash from Google Play Console inside RetentionNotificationPublisher #26444

[2022-11-05 03:06] #26563 closed

[2022-11-05 03:51] #26403 closed

[2022-11-05 03:51] #26540 closed

[2022-11-05 03:56] kjozwiak commented on #25204
@424344 are you still crashing? We've had a few releases since `1.43.94` that fixed a few known crashes. Are you experiencing crashes on startup? Or after using Brave for `[x]` amount of time? Believe you mentioned you're using `Android 6`? Could you also give us some more detailed information on the exact device you're using?

I know the Google is dropping Chromium support on `Android 6` starting

[2022-11-05 04:08] DeivAstra opened #26565 "bastyon.com: Aw, Snap! A Tab crashes while start upload video. (linux/snap)"
## Description

Snapped Brave always crashes while start upload video file.

## Steps to Reproduce
   1. Login to Bastyon and open url: https://bastyon.com/userpage?id=videoCabinet
   2. Press upload video and select one
   3. Press open/upload

## Actual result:
Got crached  Tab with message: `Error code: RESULT_CODE_KILLED_BAD_MESSAGE`

## Expected result:
Starting upload video with progress bar

[2022-11-05 04:13] deivastra commented on #26558
Please add information from `brave://version` page to your issue.
Also need test with Chromium Browser instead of Chrome.
Thanks.

[2022-11-05 08:07] brave-builds commented on #26559
Audit failed on [nightly/v1.47.48](https://ci.brave.com/job/brave-browser-build-noplatform/1860/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-05 08:16] stephendonner commented on #26560
@petemill can you also include https://github.com/brave/brave-browser/issues/26293, if not already?

[2022-11-05 08:30] brave-builds commented on #26559
Audit failed on [nightly/v1.47.49](https://ci.brave.com/job/brave-browser-build-noplatform/1861/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-05 08:41] brave-builds commented on #26559
Audit failed on [beta/v1.46.94](https://ci.brave.com/job/brave-browser-build-noplatform/1862/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-05 09:34] brave-builds commented on #26559
Audit failed on [release/v1.45.122](https://ci.brave.com/job/brave-browser-build-noplatform/1863/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-05 11:11] drakonkat commented on #21555
Any news on this feature?

[2022-11-05 11:18] php4fan commented on #26530
Ok so I [read](https://brave.com/privacy-updates/3-fingerprint-randomization/) _ [about](https://browserleaks.com/canvas) the why and it's pure madness. This "randomization" approach to fingerprinting prevention is just unbelievably stupid. It's great that you explore crazy ideas (it's called "Brave" after all), but this particular idea should have been discarded after thinking about it for five m

[2022-11-05 13:25] vmartinv opened #26566 "Brave crashing during update"
Brave started crashing after 2 minutes of being open, independently of the tabs. I saw that it was trying to install an update, so I downloaded and installed the latest version manually. This solved it, but there was certainly a problem while updating.

Brave Version: 1.45.118  Chromium: 107.0.5304.91
Operating System: Mac OS X 12.6.0

URL (if applicable) where crash occurred: -

Can you reproduce

[2022-11-05 14:10] #26372 closed

[2022-11-05 15:57] sixthdaytechnically opened #26567 "BMW"
Pp

[2022-11-05 18:56] IT-Tool commented on #26460
As it turned out, it was enough to disable Cards in the Customize dashboard.

![IMG_20221105_215518_954.jpg](https://user-images.githubusercontent.com/53435741/200136444-90089e95-35fd-41cd-ac6d-d43f590c7358.jpg)

[2022-11-05 18:57] IT-Tool commented on #26456
As it turned out, it was enough to disable Cards in the Customize dashboard.

![IMG_20221105_215518_954.jpg](https://user-images.githubusercontent.com/53435741/200136478-6aac690f-89cf-446e-88e0-fabd7d82bc01.jpg)

[2022-11-05 19:01] Coffeeling commented on #464
Unticked "show title bar" in the Nightly profile, tall window with screwed up window management issue appeared again. Turning the titlebar back on doesn't fix the issue.

Disabling the titlebar on another profile in the same Nightly install (that doesn't have too many open tabs and isn't on Sync) leaves the window completely normal.

Unrelatedly, titlebar-less windows don't seem to have a size dra

[2022-11-05 21:24] Coffeeling commented on #26463
Not a fan of the new chonky spacing. Compact spacing back please? I the aligned spacing looks nice in screenshots, but I don't think it has too much extra value - I'd much rather have a better overview of my tabs, and the compact layout serves that need much better. (I moved the sidebar to the right anyway, so different item sizes aren't really jarring that way either.)

[2022-11-05 21:38] KevinArce commented on #26452
It worked, thank you

[2022-11-05 21:38] #26452 closed

[2022-11-05 21:39] KevinArce commented on #26450
@rebron It worked, thank you!

[2022-11-06 01:03] simonhong commented on #26566
Hello @vmartinv , we had crash issue (https://github.com/brave/brave-browser/issues/26412) and it's fixed at `1.45.118`.
Maybe you've enabled crypto.com widget on NTP?

[2022-11-06 02:39] cowwoc commented on #25135
I believe this is a duplicate of https://github.com/brave/brave-browser/issues/22178

[2022-11-06 02:40] cowwoc commented on #22178
This issue is getting worse. Now I am beginning to get a "page is not responding" error on top of the hang I have been seeing for the past year.

Can someone please investigate this issue?

[2022-11-06 02:53] cowwoc commented on #22178
Per the profiler, 99.5% of the time seems to be spent in `getChannelData`.

[2022-11-06 06:36] trymeouteh commented on #15187
Would be nice to see

If Brave does create an extension store, I hope it ia fully open source and allows others to self host their own extension store just like how othere can self host their own F-Droid repo.

[2022-11-06 06:49] sangwoo108 commented on #26463
cc. @rebron @aguscruiz Please check out the feedback ^

[2022-11-06 09:05] ycohen-dev commented on #23218
It seems all Android related assets are misding from latest release. I'm working on Nightly at the moment.
Maybe at the time of release there was no Android related changes since last version...?

[2022-11-06 09:22] paulmiddelkoop commented on #21620
I have the same issue. Took me a while to understand that I had to resize the window in order to change settings.

[2022-11-06 09:27] 424344 commented on #25204
latest version is not crashing anumore. thank for the fix.
device is an old oneplus one phone.

[2022-11-06 09:31] kyoyacchi commented on #26383
May I ask how did you make them horizontal? I'd like to do it too .

[2022-11-06 09:33] brave-builds commented on #26559
Audit failed on [nightly/v1.47.50](https://ci.brave.com/job/brave-browser-build-noplatform/1864/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-06 09:36] sangwoo108 commented on #464
Thanks. I'm trying to figure out a pattern for the problem, but still no luck.

[2022-11-06 09:43] brave-builds commented on #26559
Audit failed on [beta/v1.46.95](https://ci.brave.com/job/brave-browser-build-noplatform/1865/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-06 10:19] Damians0 opened #26568 "Images not displayed in Brave news"
## Description
I added custom sources in the brave news settings and removed the sources that were already there. But now on the main page of Brave where I read the news, the images of the news no longer appear but only the writings.
Why if I add custom sources in Brave news, the news images don’t appear?

## Steps to reproduce

   1.
   2.
   3.

## Actual result
![Screenshot_2022-11-05-14-12-55-

[2022-11-06 10:59] tutkun opened #26569 "Brave Translate not working when Google Translate is active"
## Description
Brave Translate button does not work when Google Translate Extension is installed and active in Brave Browser. Is this just me or is there a bug?

## Steps to Reproduce
  1. Open Brave Browser.
  2. Download the Google Translate plugin from https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb if it is not installed.
  3. After the installation

[2022-11-06 11:12] j9t commented on #26383
These are just frequently visited sites, I believe reflecting Brave’s default behavior.

[2022-11-06 11:27] kyoyacchi opened #26570 "Support for custom background on Android/ios devices."
## Description
Hi. There's option to change background on PC version, why not on mobile too?
I'd like to change it to what image i want.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version?
- Can you reproduce this issue with the current Pl

[2022-11-06 11:47] cameronroe commented on #5523
I'm having issues loading any mix on MixCloud in Brave. It's not working for me.

Currently running `[Version 1.45.118 Chromium: 107.0.5304.91 (Official Build) (arm64)](https://brave.com/latest/)`

![image](https://user-images.githubusercontent.com/1614348/200168658-28a7030b-4d0d-4d69-8e00-b1f69ff5ecef.png)

<img width="1429" alt="Screen Shot 2022-11-06 at 1 47 01 PM" src="https://user-images.gith

[2022-11-06 12:09] ryanbr commented on #5523
Should create a new report @cameronroe   But I took a quick look, with default shields, no extensions.  No issues with playback/seek of: https://www.mixcloud.com/deadmau5/deadmau5-presents-mau5trap-radio-213/

https://gif.fanboy.co.nz/gif/mixcloud-brave.gif

Re-test in private window mode, disable any extensions or vpn's also.

[2022-11-06 12:22] PaperCutBad commented on #25724
In uBlock Origin's Logger, I really like how easy it is to create personal filters. Is it possible to include similar functionality for Brave Shields?
![image](https://user-images.githubusercontent.com/87314923/200170433-a2d1baee-427b-450f-9fb2-ac29a87f2874.png)

[2022-11-06 13:08] geoidesic commented on #6776
I have this problem too. Happens on one device but works fine on a different device. I've checked the settings and it claims to be saving the password and I can see the password in the password manager but it doesn't offer the password in a drop-down when it should.

[2022-11-06 13:19] geoidesic opened #26571 "New version of Brave breaks password manager"
## Description

Happens on one device but works fine on a different device. I've checked the settings and it claims to be saving the password and I can see the password in the password manager but it doesn't offer the password in a drop-down when it should on one of my devices. It used to, incidentally, on this same device.. and then one day recently it just stopped working.

## Steps to Reproduce

[2022-11-06 13:20] et304383 commented on #25135
That is related to keyboard.  I am talking about the login button just not even working.  The entire page is non-responsive.

[2022-11-06 13:35] sangwoo108 opened #26573 "On mac, omnibox popup is mispositioned when window is maximized"
![image](https://user-images.githubusercontent.com/5474642/200173897-b1e4568a-b072-41d3-8a3e-6786e31466b6.png)

[2022-11-06 15:07] allhavebrainimplantsandmore opened #26574 "Browser app id keeps changing after install"
## Description

Brave browser appid keeps changing by itself AFTER installation.

## Steps to reproduce

   1. Compile Brave component build
   2. Install on AOSP Android 12 Pixel Experience 12.1
   3. Launch Brave browser, connect to WiFi, set iptables firewall on that drops everything except what's filtered by 'owner', and try to open google.com
   4. In terminal, run `dumpsys package com.brave.

[2022-11-06 18:12] Coffeeling commented on #464
Possible way to make the bug go away:

1. Have bug happen to a window (I've yet to have it infect a window with only a few tabs)
2. Open another window, it's normal so drag/resize it to a nice size.
3. Maximize buggy window
4. From the context menu of the window's preview in taskbar, Restore it.
5. Window was fixed, it seems.

Taskbar resize option used either via mouse or via keyboard doesn't res

[2022-11-06 19:42] cowwoc commented on #25135
Nope. It affects the mouse, login buttons, etc. See https://github.com/brave/brave-browser/issues/22178#issuecomment-1094036027 which is longer down the same issue.

[2022-11-06 19:59] et304383 commented on #25135
Gotcha. Send this isn't high priority for the Brave team at the moment.

[2022-11-06 20:35] cowwoc commented on #25135
@et304383 No one has even bothered reviewing the tickets yet :( I'm not sure how to get their attention...

[2022-11-06 20:52] #26266 closed

[2022-11-06 21:48] fallaciousreasoning opened #26575 "[ESLint]: ESLint should complain when JS/TS files are missing a license header, or have an invalid license header."
Currently, the licenses headers in JS are fairly inconsistent, and a number of JS/TS files are missing the license header completely.

[2022-11-06 23:04] androbourne commented on #26387
Just wanted to add more information. I disabled the brave flags for CSP and while it doesn't block the sites as often. It still blocks the site even with CSP disabled.

![image](https://user-images.githubusercontent.com/30128203/200200123-bbc89caf-ab79-4df3-89d9-f1267d67d79a.png)
![image](https://user-images.githubusercontent.com/30128203/200200151-a8d0a5b8-0774-41eb-a0da-0f12d2f7b4a9.png)

[2022-11-06 23:06] ryanbr commented on #26387
Does it show in private window mode?

[2022-11-06 23:07] androbourne commented on #26387
I just reset the cache so I could log into my email. I''ll have to wait for it to reproduce its self and I can test again. I'll report but what it happens again.

[2022-11-06 23:14] sangwoo108 commented on #464
In a technical point of view, I'm suspecting that vertical tab strip requires min height for browser. If it's random, I can make a patch first but can't verify it by myself. Could you check when the patch is applied?

[2022-11-06 23:15] ryanbr commented on #26504
Great to see it working @bogdanm  Also rolled out a fix for the Advert space; https://github.com/easylist/easylist/commit/59bd920  (give it 24/48hrs)

[2022-11-06 23:46] #26306 closed

[2022-11-06 23:46] #26550 closed

[2022-11-06 23:47] Coffeeling commented on #464
Sure, but I don't feel like that's true: The bug, when it occurs, makes the window like five screens tall, and clearly messes with its coordinates somehow. But after the window's been fixed, I can easily resize it to be nothing but the navigation controls and there's no issue:

![image](https://user-images.githubusercontent.com/54371213/200202119-43807c0d-dff7-45d3-acf1-cf5ac6260784.png)

Or do yo

[2022-11-06 23:58] simonhong opened #26576 "Use infobar for WDP promotion instead of dialog"
Replace WDP promotion dialog with infobar
- Show Infobar on Brave Search result page
- User can see 5 times maximum and only once per day if not dismissed
- If dismissed, it'll not be shown for current CTA
- Infobar state is tied with specific CTA
  - This means infobar can be visible again with new CTA
~~- Design and sentences are not finalized yet~~

[2022-11-07 00:30] brave-builds commented on #26559
Audit failed on [nightly/v1.47.51](https://ci.brave.com/job/brave-browser-build-noplatform/1866/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-07 00:32] sangwoo108 commented on #464
Yeah, this is what it supposed to be. Normally, BrowserView takes "horizontal" tab strip's min size into account when calculating min size of the window. So, assuming that if browser thinks tab strip's min height is really tall, the problem could happen - really tall window, can't make it shorter, and etc. Min size could be cached internally, and I guess that's why it's flaky. But everything is my

[2022-11-07 02:00] #26271 closed

[2022-11-07 02:01] Deviner75 commented on #26558
Works stable on chromium too!

Chromium | 107.0.5304.87 (Official Build) Arch Linux (64-bit)
-- | --
Revision | f59ffb32abf8c01e9aa298400314bfdf0221b02f-refs/branch-heads/5304@{#1093}
OS | Linux
JavaScript | V8 10.7.193.18
User Agent | Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36
Command Line | /usr/lib/chromium/chromium --enable-crashpad --

[2022-11-07 03:06] RedCard1nal commented on #24717
Is it the case that the tab heights are now connected to the height of the sidebar tab heights? I noticed recently that the tab heights increase and was wondering if it's possible to add an option to make the tab heights smaller. After all most of us use this feature to save vertical space.

[2022-11-07 03:15] sangwoo108 commented on #24717
yes, that's correct. https://github.com/brave/brave-browser/issues/26463

[2022-11-07 03:15] sangwoo108 commented on #26463
Another feedback: https://github.com/brave/brave-browser/issues/24717#issuecomment-1305021262

[2022-11-07 03:16] sangwoo108 opened #26577 "Reportedly, can't resize window vertically"

[2022-11-07 04:03] brave-builds commented on #26087
`CookieListOptInPreEnabledBrowserTest.AlreadyEnabled` [failed on macos x64 nightly v1.47.51](https://ci.brave.com/job/brave-browser-build-macos-x64/5669/testReport/junit/(root)/CookieListOptInPreEnabledBrowserTest/test_browser___AlreadyEnabled).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-07 04:05] GeetaSarvadnya commented on #26506
@NoneHead Issue is not reproducible on Windows 10 x64 - 1.45.118. I have tried changing both the local site shiled settings and global shield settings for FF, but Figerprint settings are retained after the browser restart. Could you provide the recorded file, please? Thanks!

[2022-11-07 04:05] Coffeeling commented on #26577
The most reliable fix is opening a site that can be shown fully in one screen in maximized mode and restoring the window (perhaps dragging it back via Move if offscreen)

[2022-11-07 04:29] brave-builds commented on #26559
Audit failed on [beta/v1.46.96](https://ci.brave.com/job/brave-browser-build-noplatform/1867/) due to https://github.com/advisories/GHSA-76p3-8jx3-jpfq.

[2022-11-07 04:31] ehaynes99 opened #26578 "Tab counts changed from number of groups to number of tabs"
## Description
Previously, the number in the bar at the bottom was the number of tab groups, but now it's the total number of tabs across all groups.

## Steps to reproduce
Open multiple tab groups such as:
[code]

## Actual result
The counter at the bottom of the screen shows "11"

## Expected result
The counter would show "3".

## Issue reproduces how often
Always

## Version/Channel Information

[2022-11-07 04:48] #26567 closed

[2022-11-07 04:54] srirambv commented on #26578
I don' think this has changed. count is always for the number of tabs opened and not the number of groups.

cc: @samartnik

[2022-11-07 05:08] GeetaSarvadnya opened #26579 "Follow up of #24331- VPN can't be reconnected in the same session when internet/wifi is disconnected and reconnected"
## Description

Follow up of #24331- VPN can't be reconnected in the same session when internet/wifi is disconnected and reconnected
## Steps to Reproduce

   1. Follow the steps from https://github.com/brave/brave-browser/issues/23081

Please note that issue is reproducible for myself and @MadhaviSeelam on Windows 10 x64 and Windows 11 x64 as per https://github.com/brave/brave-browser/issues/2433

[2022-11-07 05:10] GeetaSarvadnya commented on #24331
@LaurenWags @bsclifton : Logged the issue https://github.com/brave/brave-browser/issues/26579

[2022-11-07 05:45] #26559 closed

[2022-11-07 06:07] ytdlder commented on #464
I **SOOOO** want this to be included... this really is a killer-feature for me - with over 50 tabs open at a time!

Although if you **do** make this an included feature, why not make one worthy of Brave? Make it more feature rich then the lame addons currently available!
There was one - that I still use today - but has been abondened: "TreeTabs"
https://thomasmca.com/doku.php?id=blog:treetabs2

-

[2022-11-07 07:31] #26541 closed

[2022-11-07 08:11] #26335 closed

[2022-11-07 08:36] sangwoo108 commented on #464
hi, @ytdlder . Thank you for your suggestion! We're considering tree style tabs https://github.com/brave/brave-browser/issues/26279 , and also brain storming what those features should be like.

[2022-11-07 09:23] #26573 closed

[2022-11-07 09:28] burzno opened #26580 "Crash Report"
IMPORTANT: Your crash has already been automatically reported to our crash system. Please file this bug only if you can provide more information about it.

Brave Version: 1.43.93  Chromium: 105.0.5195.127
Operating System: Linux 5.4.0-126-generic

URL (if applicable) where crash occurred:

Can you reproduce this crash?
Au simple lancement de l'application

What steps will reproduce this crash? (If

[2022-11-07 10:07] Pavneet-Sing opened #26581 "Invalid asset list on Goerli network"
## Description

Switching network isn't updating the asset list

## Actual result:

[web-invalid-asset-state-swap.webm](https://user-images.githubusercontent.com/11755381/200282697-9b032c57-885d-4b0f-b971-214fe43df9d8.webm)

## Reproduces how often:

easy

## Brave version (brave://version info)

Version 1.46.46 Chromium: 106.0.5249.103 (Official Build) nightly (64-bit)

## Miscellaneous Informati

[2022-11-07 10:14] Pavneet-Sing opened #26582 "Approval issue with UBI asset and infinite spending"
## Description

Unable to approve transaction with UBI asset and infinite spend as reported on community : https://community.brave.com/t/bug-in-mobile-wallet/442567/6?u=pavneet

## Miscellaneous Information:

Need to be verified on desktop.

[2022-11-07 10:14] #26574 closed

[2022-11-07 10:37] #25096 closed

[2022-11-07 11:36] srirambv opened #26583 "Switching Tabs automatically hides the wallet icon on Solana Dapp"
## Description
Switching Tabs automatically hides the wallet icon on Solana Dapp

## Steps to reproduce

   1. Connect to a Solana Dapp
   2. Ensure wallet icon is shown in the URL bar
   3. Switch tab
   4. Go back to Solana Dapp tab, Wallet icons is not shown
   5. Reload Solana Dapp tab, shows wallet icon again

## Actual result
Switching Tabs automatically hides the wallet icon on Solana Dapp

[2022-11-07 11:38] srirambv commented on #25258
Verification passed on the following devices running 1.46.96 x64 Beta build
- Verified the wallet icon is shown in toolbar when Solana Dapp is connected
- Verified able to click the wallet icon once connected
- Encountered [#26583](https://github.com/brave/brave-browser/issues/26583)

Oppo Reno 5 (Android 12) | Samsung Tab A (Android 10)
-- | --
<video src=https://user-images.githubusercontent.com

[2022-11-07 11:47] srirambv commented on #25419
Verification passed on the following devices running 1.46.96 x64 beta build
- Verified steps from [brave/brave-core#15593](https://github.com/brave/brave-core/pull/15593)
- Verified able preform send and sign transactoin on Solana Dapp

Oppo Reno 5 (Android 12) | Samsung Tab A (Android 10)
-- | --
<video src=https://user-images.githubusercontent.com/17010094/200302509-394130e3-88e8-4881-8468-6906d

[2022-11-07 11:52] srirambv commented on #26539
Verification passed on the following devices running 1.46.96 x64 Beta build
- Verified etld is shown on send and sign transactions

Oppo Reno 5 (Android 12) | Samsung Tab A (Android 10)
-- | --
<video src=https://user-images.githubusercontent.com/17010094/200303273-511c8c47-9369-41b3-9f6f-eaae5f0eb661.mp4> | <video src=https://user-images.githubusercontent.com/17010094/200303300-823b1d1a-bb10-44d0

[2022-11-07 12:18] srirambv commented on #25169
Verification passed on the following devices running 1.46.96 x64 Beta build
- Verified test plan from [brave/brave-core#15733](https://github.com/brave/brave-core/pull/15733)
- Verified a new setting for Solana is shown under Settings -> Site Settings -> Solana
- Verified all connected Solana accounts are listed
- Verified able to remove an account
- Verified able to remove and readd a Solana acco

[2022-11-07 12:30] LaurenWags commented on #26554
yeah, we usually do. I'll add a section for it.

[2022-11-07 12:41] Pavneet-Sing commented on #26583
@srirambv I tested this on various sites (magic edan, pwgoom) but unable to reproduce, can you share the site name you used  to reproduce this or maybe try this on latest nightly if you haven't?

[wallet-icon.webm](https://user-images.githubusercontent.com/11755381/200312143-56489540-088f-4378-a0dc-6502681c418d.webm)

[2022-11-07 12:46] srirambv commented on #26583
@Pavneet-Sing  here's a recording of the issue.

https://user-images.githubusercontent.com/17010094/200313847-41ca2ecc-7d39-44d2-8aca-9cbaf68c8909.mp4

[2022-11-07 12:50] kjozwiak commented on #26454
The above requires `1.46.97` or higher for `1.46.x` verification 👍

[2022-11-07 12:55] kjozwiak commented on #26349
The above requires `1.46.97` or higher for `1.46.x` verification 👍

[2022-11-07 13:04] simonhong commented on #26542
@GeetaSarvadnya I found why you're experiencing this on beta.
With this https://chromium-review.googlesource.com/c/chromium/src/+/3858031,
upstream started to pin to taskbar by installer - `constexpr int kBetaRolloutPercentage = 10;`
Maybe 10% of `Win10+` users will get pinned with this change.
[code]

And it seems upstream already changed it to 100% by https://chromium-review.googlesource.com/c/c

[2022-11-07 13:27] GeetaSarvadnya commented on #26555
Verification PASSED on

[code]
- Ensured that the correct `Tor` component was being downloaded via `--use-dev-goupdater-url`:

![image](https://user-images.githubusercontent.com/38657976/200319584-6350cc3a-fb4e-43fe-b304-5c39e2b8eded.png)

- Ensured  `0.4.7.10 ` for `Tor Client` ,  `1.1.1s`  for `OpenSSL` and `1.2.13` for `Zlib` was being updated:

[code]
Ensured that you can open the following do

[2022-11-07 13:41] GeetaSarvadnya commented on #24609
Verification is inprogress

[code]

[2022-11-07 14:00] #26501 closed

[2022-11-07 14:02] LaurenWags commented on #26553
Verification in progress for the below:

<details>
<summary>macOS 12.6.1 Monterey x64 - InProgress</summary>

Verified on macOS 12.6.1 x64 using the following build:

[code]

Confirmed that the correct Tor component was being downloaded via --use-dev-goupdater-url:

Confirmed that the Tor component was started when launching Tor and ensured Tor 0.4.7.10 was being used.

[code]

Confirmed that you

[2022-11-07 14:06] mattmcalister opened #26584 "replace Brave News "Follow" feed icon in address bar"
Use the new icon that resonates more with the traditional RSS feed icon, as detailed in Figma

[2022-11-07 14:43] SergeyZhukovsky opened #26585 "In the app notifications menu exits to NTP"
## Description
`Settings->Notifications->Additional settings in the app` menu exits to an NTP when tapping a back button instead of going on a level up.

## Steps to reproduce

   1. Go to Settings->Notifications
   2. `Additional settings in the app` or `In-app notification settings` (on Samsung devices)
   3. Click back arrow

## Actual result
Observe an NTP

## Expected result
Should go back on

[2022-11-07 14:52] GeetaSarvadnya commented on #24609
@DJAndries I don't see landed creativeinstanceId in brave://local-state even which I click on NTP SI and stay on the landing page for more than 10 secs. This was working fine when I tested the issue in `1.46.81`. what could be the reason, any idea?

[2022-11-07 15:26] Douglashdaniel opened #26586 "Swap V2 Hide Unsupported Settings for now"
## Description
We need to hide unsupported settings for now

- `Direct Route` should be hidden for `Solana`
- `Exchanges` should be hidden for `Ethereum`
- `Optimized Fee` should be completely removed.

[2022-11-07 15:39] MadhaviSeelam commented on #26555
<img width="173" alt="image" src="https://user-images.githubusercontent.com/98358127/200350688-5e86c252-8f1e-4a27-b869-32258721309c.png">

* `Tor client - `0.4.7.10`
* `OpenSSL` - `1.1.1s`
* `Zlib`  - `1.2.13`

[code]

[2022-11-07 16:04] btlechowski commented on #25002
Verification passed on

Brave | 1.46.83 Chromium: 107.0.5304.68 (Official Build) beta (64-bit)
-- | --
Revision | a4e93e89d3b3df1be22214603fba846ad0183ca5-refs/branch-heads/5304@{#991}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/14851

Verified issuers are rejected when more than 6 issuers:
[code]

[2022-11-07 16:19] #26181 closed

[2022-11-07 16:56] Pandapip1 commented on #25326
It seems like this has been done!
![image](https://user-images.githubusercontent.com/45835846/200368910-a05b9f49-fecf-4e4a-9ea0-2b97ba606adf.png)

[2022-11-07 16:56] #25326 closed

[2022-11-07 16:58] Pandapip1 commented on #25769
How about this instead: on the networks list, when you hide the network, it doesn't appear in the switcher. It can still be switched to with the `wallet_switchethereumchain` RPC, but it just doesn't appear in the network list:

![image](https://user-images.githubusercontent.com/45835846/200369242-5f8302fb-e75e-4070-a52f-c3b64995bd8c.png)

In this instance, celo, avalanche, fantom, and aurora would

[2022-11-07 17:13] timchilds opened #26587 "[Android] Content filtering via settings"
## Description
Currently users can enable/disable content filtering lists via settings on iOS and Desktop. This ticket is to bring over the same feature to Android.

| Desktop Feature  | iOS Feature |
| ------------- | ------------- |
| <img width="972" alt="image" src="https://user-images.githubusercontent.com/28269287/200372217-c135a2e0-bc48-4c8e-a3c4-1953b5f93b58.png">  | ![image](https://user-

[2022-11-07 17:14] aseren opened #26588 "Refactor MaybeServeNewTabPageAd and MaybeServeInlineContentAd to base::OnceCallback"

[2022-11-07 17:17] aseren opened #26589 "Refactor std::function usages from Brave Ads"

[2022-11-07 17:22] NoneHead commented on #26506
@GeetaSarvadnya  Here is a video with bug reproduction:

https://user-images.githubusercontent.com/114309523/200374170-83cc125a-6d5b-4160-a501-52441ac3a5ff.mp4

Brave 1.45.118
Windows 11 Pro 22H2

[2022-11-07 17:24] DevHusariaSolutions opened #26590 "Typeing fast after opening new tab clears typed text and doesn't navigate once ENTER is clicked"
## Description
When opening new tab and typeing in search bar - once I click ENTER, everything I typed in dissapears and no page is loading.
Same issue like described here:
https://community.brave.com/t/query-search-disappears-after-hitting-enter-in-newly-opened-tab/391616
In my opinion how critical this issue is in UX meaning from 1 to 10 - it's PAIN OF ASS.

## Steps to Reproduce

   1.  Ctrl +

[2022-11-07 18:10] martinbutt commented on #11836
When trying to install this on a Debian 9 (stretch) system, I get the message:
[code]

This highest version of [libc6 for Debian 9](https://packages.debian.org/stretch/libc6) is 2.24.

The [Brave System Requirements](https://support.brave.com/hc/en-us/articles/360021357112) say Debian 9+ is supported.

[2022-11-07 18:12] mherrmann commented on #11836
@martinbutt please see https://github.com/brave/brave-browser/issues/26189.

[2022-11-07 18:13] 0x802 commented on #11955
# how i can remove this ad !!
![image](https://user-images.githubusercontent.com/53880289/200383726-8c6522aa-eb03-4961-a690-e7e50d82f793.png)

------
The xpath for the ad is :

[code]

[2022-11-07 18:21] LaurenWags commented on #26554
Verification in progress for the below:

<details>
<summary>macOS 12.6.1 Monterey arm64 - InProgress</summary>

Verified on macOS 12.6.1 arm64 using the following build:

[code]

Confirmed that the correct Tor component was being downloaded via --use-dev-goupdater-url:

Confirmed that the Tor component was started when launching Tor and ensured Tor 0.4.7.10 was being used.
Confirmed that OpenSSL v

[2022-11-07 18:24] pizofreude commented on #2698
I really missed the ability to edit, annotate, highlight, comment and etc from the already removed epub tool from microsoft edge. Hopefully this feature will be implemented in Brave. Currently I used "EPUB Reader" extension which can only read and nothing else.

[2022-11-07 18:29] #26554 closed

[2022-11-07 18:46] stephendonner commented on #24055
## Verification `PASSED` using

#### Prerequisite: make a non-Brave browser the system default via `Apple menu` -> `System Preferences...` -> `General` -> `Default web browser`
<details>

<img width="780" alt="Screen Shot 2022-11-03 at 1 52 02 PM" src="https://user-images.githubusercontent.com/387249/199831617-fcfa6ab0-3e0d-4edc-8554-5f5fa0ea710d.png">

</details>

#### Case 1: Pin Brave to dock v

[2022-11-07 18:48] josheleonard opened #26591 "Change ordinal number from text to number + text"
## Description

During recovery phrase backup, update the badges of selected words to display ordinal number as a number&text(11th) instead of text(Eleventh)

[2022-11-07 18:51] fmarier commented on #24087
I think we fixed this, right @pes10k ? The debouncer is enabled by default now?

[2022-11-07 18:54] tmancey opened #26592 "Implement `AdsClient`/`Ads` observers"
Implement `AdsClient`/`Ads` observers so we can decouple the following business logic from `AdsServiceImpl` and `AdsImpl`.

`BatAdsObserver`:
- [x] OnDidInitializeAds
- [x] OnFailedToInitializeAds
- [x] UpdateAdRewards -> Change to `OnStatementOfAccountsDidChange`

`BatAdsClientObserver`:
- [x] OnLocaleDidChange
- [x] OnPrefDidChange
- [x] OnDidUpdateResourceComponent
- [x] OnTabHtmlContentDidChan

[2022-11-07 18:56] Douglashdaniel opened #26593 "Unable to add ERC721 Tokens from Token Registry"
## Description

Selecting a `erc721` token from the token registry is not requesting a `tokenID`

## Steps to Reproduce

1. Go to the `Edit Visible Assets` modal and search for `Crypto Kitties`
2. Select the asset
3. It should change to the `Add NFT` form to enter a `tokenID`

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Chan

[2022-11-07 19:04] Douglashdaniel opened #26594 "ERC721 Token Images are Broken For Token Registry List"
## Description

ERC721 Token Images are broken in the `Token Registry` list

## Steps to Reproduce

   1. Open the `Edit Visible Assets` modal
   2. Search for `Crypto Kitties`
   3. The asset item will have a broken image.

## Actual result:

![Screen Shot 2022-11-07 at 12 59 20 PM](https://user-images.githubusercontent.com/40611140/200392823-009072ca-5d59-4f03-aaea-51a2798d1e61.png)

## Expected

[2022-11-07 19:20] Miyayes commented on #26484
Thanks for reporting this. We think this will be solved by 1.46.x, but we're working to see if we can get a hotfix out in about a week from now.

[2022-11-07 19:23] kjozwiak commented on #26372
The above requires `1.46.97` or higher for `1.46.x` verification 👍

[2022-11-07 19:27] kjozwiak commented on #26352
The above requires `1.46.97` or higher for `1.46.x` verification 👍

[2022-11-07 19:35] #26489 closed

[2022-11-07 19:39] ghostlyentity opened #26595 "vertical tabs wont enable"
## Description
The vertical tabs flag is enable but the tabs stay on top

## Steps to Reproduce
   1. enable flag "vertical tabs"
   2. restart
   3. tabs dont change

## Actual result:
vertical tabs wont enable

## Expected result:
vertical tabs should enable

## Reproduces how often:
it happens every time

## Desktop Brave version:
brave nightly v1.45.118

![Screenshot from 2022-11-07 20-34-29](

[2022-11-07 19:47] kjozwiak commented on #26555
#### **`Win 10 x86`** - **PASSED**

Verification **PASSED** on `Win 10 x86` using the following build:

<details>

[code]

Launched `1.45.118 Chromium: 107.0.5304.91` using `--use-dev-goupdater-url` and confirmed the following versions:

* `tor` binary ` 0.4.7.10`
* `Brave Tor Client Updater (Windows) - Version: 1.0.52`
* `OpenSSL` - `1.1.1s`
* `Zlib` - `1.2.13`

![image](https://user-images.githu

[2022-11-07 19:49] antonok-edm commented on #26595
@ghostlyentity anything in `brave://flags` should be considered in an experimental state or under rapid development. In this case @simonhong has recently added an option to enable vertical tabs to be enabled _without_ a browser restart, in preparation for when the flag will eventually be removed.

For now you can re-enable vertical tabs by right-clicking on the tab bar and selecting `Use vertical

[2022-11-07 19:49] #26595 closed

[2022-11-07 19:52] mattmcalister opened #26596 "Duplicate content appearing in feed"
Sometimes the feed will show me two identical articles. In this example using Version 1.47.52 Chromium: 107.0.5304.91 (Official Build) nightly (arm64), I am not subscribed to any channels, only individual sources:
![image](https://user-images.githubusercontent.com/71029/200402463-b403c60c-4002-4daf-9b3d-6eb945ad079c.png)

The duplicates do not appear as duplicates in the raw feed.

[2022-11-07 20:02] brave-builds commented on #26531
`BraveWalletEventEmitterTest.CheckForAConnectEvent` [failed on linux x64 nightly v1.47.53](https://ci.brave.com/job/brave-browser-build-linux-x64/4764/testReport/junit/(root)/BraveWalletEventEmitterTest/linux_x64___test_browser___CheckForAConnectEvent).
<details>
<summary>Stack trace</summary>

[code]
</details>

[2022-11-07 20:04] petemill commented on #26596
@mattmcalister Can you add a screenshot of your customize section and also more info about where in the feed the duplication is happening, relative to either the top of the feed if close, or another landmark like a list

[2022-11-07 20:09] mattmcalister commented on #26596
The first duplicate to appear is the 3rd item in my feed
![image](https://user-images.githubusercontent.com/71029/200404527-9a3be05d-0cb7-48ba-89ef-9b5be0f9622c.png)

And my Following list includes:

- Ars Technica
- Bleacher Report
- Brave Blog
- Breaking the News
- Formula One | The Guardian
- Gardening Know How
- Hacker News
- Space.com
- Techmeme
- The Atlantic
- The Isle Of Thanet News
- The

[2022-11-07 20:12] #26555 closed

[2022-11-07 20:12] MadhaviSeelam commented on #26451
Verification `PASSED` using
[code]
Verified using the testplan from original STR https://github.com/brave/brave-browser/issues/26451#issue-1432046096

- Install 1.46.96
- launched Brave
- enabled rewards
- Open custodian selection modal

#### Confirmed correct/updated wording on the custodian selection modal specified in the Expected result screenshot .

before fix (1.45.118)|after fix(1.46.96)
--

[2022-11-07 20:13] ghostlyentity commented on #26595
ah i see, i was clicking right between the bar and the drpdown menu before making this issue, which seems to not count, thank you for the swift reply

[2022-11-07 20:16] mattmcalister commented on #26596
STR
1. Open Brave News Discover panel.
2. Start with a clean slate. Unfollow all feeds.
3. Search for one feed and follow it. For example, `The Atlantic` or `Wired`.
4. Close Settings
5. Refresh NTP
6. Scroll down

[2022-11-07 20:28] #26523 closed

[2022-11-07 20:37] mattmcalister opened #26597 "Brave News: do not show null ranked sources in Popular list"
Brave Blog's rank is `null`, but it appears at the top of the Popular list in the new Discover panel in the Settings UX
https://github.com/brave/news-aggregator/blob/master/sources.en_US.csv

![image](https://user-images.githubusercontent.com/71029/200409505-2114845a-ba99-45f8-9d38-e4e93cc4ff20.png)

[2022-11-07 20:41] mattmcalister opened #26598 "Brave News: show 15 sources in Suggestions list"
As noted by @LorenzoMinto the precision of the suggestions declines the further you scroll down. So, let's reduce the number presented to the user to 15 sources in total.

[2022-11-07 21:34] kjozwiak commented on #26553
#### **`macOS 10.13.6 High Sierra x64`** - **PASSED**

Verification **PASSED** on `macOS 10.13.6 High Sierra x64` using the following build:

<details>

[code]

Launched `1.45.118 Chromium: 107.0.5304.91` using `--use-dev-goupdater-url` and confirmed the following versions:

* `tor` binary ` 0.4.7.10`
* `Brave Tor Client Updater (Mac) - Version: 1.0.55`
* `OpenSSL` - `1.1.1s`
* `Zlib` - `1.2.13`

[2022-11-07 21:36] josheleonard opened #26599 "Cache requests for isTestNetworksEnabled"
## Description

Utilize a cache for the `isTestNetworksEnabled` variable to remove the need to constantly request this variable from core api.

[2022-11-07 21:51] MadhaviSeelam commented on #25860
Verification `PASSED` using
[code]

Verified using original STR from the description

- Install 1.46.96
- launched Brave
- set up a Brave VPN connection
- clicked on the `VPN` button in the toolbar
- clicked the `Gears `icon
- clicked on `Contact technical support`

#### Confirmed `Your email address` text field shows correct validation message  `Please enter a valid email address` for invalid ema

[2022-11-07 21:52] pes10k commented on #24087
cc @pilgrim-brave

[2022-11-07 21:54] pilgrim-brave commented on #24087
The debounce code is enabled by default (in a `brave://flags` sense), but there are no debouncing rules until Brave downloads `debounce.json` as part of the Local Data Files component.

[2022-11-07 21:55] stephendonner commented on #26259
## Verified `PASSED` using

Brave | 1.46.96 Chromium: 107.0.5304.91 (Official Build) beta (x86_64)
-- | --
Revision | 3d5948960d62418160796d5831a4d2d7d6c90fa8-refs/branch-heads/5304@{#1097}
OS | macOS Version 11.7.1 (Build 20G918)

### Steps:

1. install `1.46.96`
2. launch Brave
3. open `brave://flags`
4. set `brave://flags/#brave-news-v2` to `Enabled`
5. clicked on `Relaunch`
6. opened a new-tab