[2019-07-02 21:52] InteXX commented on #4295
@rebron

It's described [here](https://chrome.google.com/sync).

Something like that, but for all personal information stored by Brave/Chrome:

- Apps
- Extensions
- Settings
- Autofill
- History
- Themes
- Bookmarks
- Passwords
- Open tabs

Similar to Chrome Sync, I'd say, without the requirement for an active peer instance (currently required with Brave Sync).

I'd love to start using Brave, but

[2019-07-02 22:19] tomlowenthal commented on #5073
I bet that this is fingerprinting protection. Open Shields and allow device recognition?

[2019-07-02 22:20] #5071 closed

[2019-07-02 22:21] tomlowenthal commented on #5071
Thanks for the interest and willingness to help, but we don't normally track big projects like this as single issues on GitHub. An extension store is a possibility on the horizon, but it's not underway right now.

[2019-07-02 22:25] tomlowenthal commented on #5059
This seems like it should be another control along with the Facebook/YouTube/Twitter/LinkedIn list?

[2019-07-02 22:25] keur commented on #790
PR in https://github.com/brave/brave-core/pull/2845

[2019-07-02 22:40] bsclifton commented on #1922
@mihaiplesa is this issue resolved?

[2019-07-02 22:41] bsclifton commented on #1475
@martynchamberlin disabling the hiding of `https://www` is on the way (already fixed in Dev and Nightly channels).

[2019-07-02 22:51] Brave-Matt commented on #2791
+1 from reddt:
https://www.reddit.com/r/brave_browser/comments/c86e03/would_like_a_flag_or_setting_to_gloablly_disable/

[2019-07-02 23:17] pes10k opened #5105 "Take into account top level frame domain when doing same-origin comparisons for blockable resources"
Currently in tracking protection, trackers are allowed if they're first-party relative to their owning frame. In Firefox, trackers are [also allowed if they're first-party relative to the page itself](https://bugzilla.mozilla.org/show_bug.cgi?id=1108017) (i.e. the top-level "frame").

It's not possible to express using the EasyList syntax so this is something that needs to be implemented in the co

[2019-07-02 23:18] fmarier commented on #4142
I'm going to take a look at this, it's a pretty bad papercut.

[2019-07-02 23:27] fmarier commented on #5105
The investigation needed here is to confirm whether or not we do the same first-party checks as Firefox in our blocking.

Example test case:

* on `www.facebook.com`
* there is an iframe pointing to `superawesomefacebookgame.com`
* that iframe loads `connect.facebook.com/sdk.js`

Two things to note:

- The first-party check is based on ETLD+1 (i.e. `www.facebook.com` and `connect.facebook.com` are

[2019-07-03 00:23] bsclifton commented on #4279
@PhilT would you be able to try this again on our latest Nightly version? We did some config changes which may help 😄

[2019-07-03 01:33] jwmcintosh commented on #3288
I am trying to use Brave on my corporate device and am getting this issue now. It worked for a short while (less than an hour) then stopped opening any page. Even the start page or Settings results in the aw,snap message screen and plug-ins instantly fail. I get the same System event log generated as above. Re-installations have not been successful and a separate corporate image device gave simila

[2019-07-03 02:11] #4581 closed

[2019-07-03 02:11] #5006 closed

[2019-07-03 02:39] #5093 closed

[2019-07-03 03:41] bbondy opened #5106 "Add dark mode for ethereum-remote-client extension pages"
Other pages in the header when in dark mode will be dark mode, so we need it for this as well.

[2019-07-03 03:43] bbondy opened #5107 "Use Brave font and font sizing for ethereum-remote-cilent pages"

[2019-07-03 03:44] bbondy opened #5108 "Remove ETH Wallet header"
ETH Wallet text and image should be removed, other pages that we have do not use them.

[2019-07-03 03:44] bbondy opened #5109 "brave://wallet should appear as a Brave secure page (if possible)"

[2019-07-03 03:53] #4571 closed

[2019-07-03 03:53] bbondy commented on #4571
Fixed here: https://github.com/brave/ethereum-remote-client/pull/6

[2019-07-03 03:54] bbondy commented on #4569
Fixed here:
https://github.com/brave/ethereum-remote-client/pull/6

[2019-07-03 03:54] #4569 closed

[2019-07-03 03:54] bbondy commented on #4584
Fixed here:
https://github.com/brave/brave-core-crx-packager/pull/68

[2019-07-03 03:54] #4584 closed

[2019-07-03 04:07] bbondy opened #5110 "No subframe should be present when ethereum-remote-client is installed"
<img width="1094" alt="Screen Shot 2019-07-03 at 12 05 17 AM" src="https://user-images.githubusercontent.com/831718/60562653-64fb0000-9d26-11e9-93f6-d64c90e4dd77.png">

Subframe to metamask.github.io should not be there.

`app/scripts/lib/setupMetamaskMeshMetrics.js:  testingContainer.src = 'https://metamask.github.io/mesh-testing/'`

[2019-07-03 04:28] #5110 closed

[2019-07-03 04:32] houruomu commented on #3809
It is not reproducible on my version though.
Windows 10, Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)

[2019-07-03 04:57] pitsi opened #5111 "Missing dependency on brave-keyring on the deb package of v0.66.99"
## Description
The deb version of v0.66.99 can not be installed due to a missing dependency on brave keyring. See "actual result" below for terminal output.

## Steps to Reproduce
   1. Download the deb version of 0.66.99 from here
https://github.com/brave/brave-browser/releases/download/v0.66.99/brave-browser_0.66.99_amd64.deb
   2. Instal it with (sudo) dpkg -i brave-browser_0.66.99_amd64.deb.

[2019-07-03 05:12] kamleshrao commented on #3809
@houruomu We all are facing this issue on Ubuntu/Linux OS.  There is no issue on Windows OS.

[2019-07-03 05:58] e-belair opened #5112 "Failed to execute web browser"
## Description
When I click on a link from a third party application, I get this message:
![image](https://user-images.githubusercontent.com/596562/60566638-ca231580-9d67-11e9-9087-9576e1eb5cb0.png)

I noticed that occurs only when Brave is already opened.

Version 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)
Xubuntu 18.04
Brave is my default browser.

[2019-07-03 06:13] PhilT commented on #4279
Hi @bsclifton, unfortunately performance is the same. Still down at around 10fps on my test whereas Chrome is getting about 45fps.

Tested on Version 0.69.24 Chromium: 75.0.3770.100 (Official Build) nightly (64-bit) that I just installed.

[2019-07-03 07:42] smcatala commented on #5098
should the default ERR_CONNECTION_REFUSED page be dark as well ?
![image](https://user-images.githubusercontent.com/3369203/60572823-b206c280-9d76-11e9-8cde-3d5ee6241016.png)

[2019-07-03 08:23] nathan-guimaraes opened #5113 "The Circular Scrolling function of the Touchpad does not work."
## Description
The Circular Scrolling function of the Touchpad does **not** work in any scrollable area of the browser.
Many laptops have the "Circular Scrolling" function on the touchpad. When enabled, this function allows you to scroll with circular movements, like the gif below:

![Edge_Circular](https://user-images.githubusercontent.com/39135122/60566361-1573fe80-9d3d-11e9-9671-1280f1799a3a.gi

[2019-07-03 08:34] houruomu commented on #3809
@kamleshrao Sorry I should have searched for Windows before posting my response.

[2019-07-03 08:50] peterjaap commented on #815
+1 would love to have the Lighthouse Audit work since the plugin doesn't offer a trace.

[2019-07-03 09:42] ChildishGiant opened #5114 "Ability to set new tab to a URL"
I'd like my new tab to be a certain URL but from what I can see there's no way to do this without an extension.

[2019-07-03 09:53] simonhong commented on #5098
@smcatala No, that page is not dark-mode aware yet.

[2019-07-03 09:55] nishanthj6 opened #5115 "Making the Google API's & CDN websites calls goes with the secured protocols recursively?"
## Description
As I'm trying to make the unsecured hosted server(non-SSL based) that which are coded calling the standard Google API's & CDN websites Thereby, making that connections goes via encrypted.

## Steps to Reproduce
For instance say I had included this script below to our hosted server

    <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

[2019-07-03 10:29] pitsi commented on #5111
Channels beta, dev and nightly install with no problems, so I updated the info above.

[2019-07-03 11:04] srirambv commented on #5111
Confirmed installing the deb file shows an error about keyring.

cc: @fmarier @mbacchi

[2019-07-03 11:07] crawlgsx commented on #774
Yes please for the love of all let us move or remove the bookmark button! Terrible placement!

[2019-07-03 11:08] srirambv commented on #5081
I think this is a Windows feature for any media that is playing. Can you check if the behaviour is the same or different on Chrome?

cc: @GeetaSarvadnya to check on Windows and confirm

[2019-07-03 11:09] VicGUTT opened #5116 "Font size being ignored under a certain size"
## Description
_Providing more details about the font size issue in #4742._

It appears the browser have a minimum font size below which it will completely discard any value specified via CSS, no matter the unit used (px, em, rem).
This behavior causes fonts to be way larger then they should be considering a specified CSS font-size value.

And of course this all happens without zooming in or out o

[2019-07-03 11:10] srirambv commented on #5114
Should be fixed with #2999

[2019-07-03 11:10] #5114 closed

[2019-07-03 11:11] srirambv commented on #2999
+1 from @ChildishGiant via #5114 for setting new tab to a URL

[2019-07-03 11:12] srirambv commented on #4275
Are you still running into this? Which platform are you using the nightly?

[2019-07-03 11:14] srirambv commented on #4378
Have you tried disabling hardware acceleration and checked? The option is available under advanced settings

[2019-07-03 11:17] niico100 commented on #5081
I never saw Chrome doing this before, but I just tested it and it does seem to be doing it. However, Spotify also does it but there's a setting in Spotify itself to disable it, so looks like it needs to be disabled on a per app basis (unless you know of a global setting?)

[2019-07-03 11:19] srirambv commented on #5116
Seems to be working fine for me on Linux on `0.66.99`
![image](https://user-images.githubusercontent.com/17010094/60587529-b0cb9a80-9d62-11e9-90e5-5b88addd5556.png)

Little confused when you say you have checked it on Chrome and you also said its reproducible on Chrome as well.

cc: @GeetaSarvadnya to verify on Windows 10

[2019-07-03 11:30] niico100 commented on #5081
I've found a way to disable it in Chrome and Brave: https://www.tenforums.com/tutorials/134484-enable-disable-chrome-exe-volume-control-media-key-handling.html

[2019-07-03 11:51] srirambv commented on #5081
Perfect. I think it's because of the media keys implementation on Chromium that these are showing up. Since its behind flags not sure if they would end up on release or not or at what point in time.

cc: @rebron to take call on keeping the issue open/close

[2019-07-03 13:10] mserajnik commented on #4615
This is probably because when OP created the issue, this feature had been working in `0.64.x` (at least in _some_ way; iirc, I was able to edit the default user and change the name/image back then), which was the current release at that time.

[2019-07-03 14:25] pitsi commented on #5111
I just checked the changelog on reddit, here and I found out that the dependency on brave-keyring is because of issue #4205
https://old.reddit.com/r/brave_browser/comments/c8b494/release_channel_v06699_is_live/

I have an idea. How about making brave-keyring a recommended dependency? By default, apt installs anything listed as a recommended dependency, so this will allow brave-keyring to be instal

[2019-07-03 14:36] bbondy opened #5117 "Map ethereum-remote-client extension path to brave://wallet"
Loading the Ethereum Remote Client extension page should work from the hamburger menu and display as brave://wallet
Loading brave://wallet should work
Loading chrome-extension://odbfpeeihdkbihmopkbjmoonfanlbfcl/home.html should map to brave://wallet.

[2019-07-03 14:38] bbondy opened #5118 "Auto install ethereum-remote-client and add for usage on first access of brave://wallet"
task manager should not show the process until you load brave://wallet.
But extension dir should exist shortly after first run without any actions: `~/Library/Application\ Support/BraveSoftware/Brave-Browser-Development/odbfpeeihdkbihmopkbjmoonfanlbfcl`

[2019-07-03 16:00] bbondy commented on #4576
Closing as wontfix for now until phase 2 of key consolidation doc.

[2019-07-03 16:00] #4576 closed

[2019-07-03 16:04] bsclifton commented on #5081
We can close this one out - apologies for the unpleasant experience.  We had this tracked with https://github.com/brave/brave-browser/issues/3807 and then resolved the issue (in 0.68.x) by updating our field trial config

Fix should be live in release channel ~Aug 20th 😄 The work-around you posted @niico100 is perfect- that's what I was going to recommend. Thanks for sharing here

Closing as issue

[2019-07-03 16:04] #5081 closed

[2019-07-03 16:40] #5070 closed

[2019-07-03 16:43] tmancey opened #5119 "Ad notifications received this month should not include transaction count from server"
## Description

Ad notifications received this month should not include transaction count from server

## Steps to Reproduce

   1. Cash-in confirmations in July
   2. Wait for pay out in August

## Actual result:

Ad notifications received this month is calculated from the transaction count from server and any unredeemed transactions

## Expected result:
Ad notifications received this month shoul

[2019-07-03 17:24] JohnEricson commented on #4997
I'd like to see this prioritized higher as well.
For now LastPass is a good alternative for syncing your passwords between computers and phone. It works across different browsers as well.

[2019-07-03 17:28] #5102 closed

[2019-07-03 17:44] jdkuki opened #5120 "GitHub Auto Contribution"
## Description
Feature Request:
Viewing content on a user's profile should track auto contribution for the user instead
of the tld website.

## Steps to Reproduce

   1. Clean profile and join rewards
   2. Browse to a user's profile on github (https://github.com/jdkuki)
   3. Stay on their profile for at least 8 seconds
   4. Open brave://rewards
   5. (user_name) on GitHub should appear in AC ta

[2019-07-03 17:55] fmarier commented on #5111
While you're right that this is not very user-friendly, that's the expected behavior with Debian packages. `dpkg` is a low-level tool which doesn't automatically resolve dependencies. The tool which does is `apt`.

In general, it's not possible to install packages directly with `dpkg`. The only time that works is when the packages being installed are leaf packages (i.e. no dependencies).

That sai

[2019-07-03 17:58] fmarier commented on #5111
See https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux for our official installation instructions.

[2019-07-03 18:03] VicGUTT commented on #5116
Hi @srirambv , from your image it seems au contraire that you are having the same issue I am.
Maybe I did not explain myself well.

On other browsers (Chrome and Firefox) when opening the Codepen the texts are very small (like in the 2nd picture) that's because the browsers apply the given CSS "font-size" _(.1rem, .1em and 1px with a root size of 10px)_ accordingly. Whereas Brave does not seem to

[2019-07-03 18:05] pitsi commented on #5111
I have read the instructions and they do not work for me becaiuse I am on debian. In fact, the variable "$UBUNTU_CODENAME" there returns nothing, so the rest of it breaks down.
I can install the key as described in the first part, before "source blablabla", but it is pointless since I can not use the repo.

Also, my issue report here is about a package that is not available to install, yet it is a

[2019-07-03 18:42] imptrx commented on #4510
Test Plan:
1. Open new tabs page with a fresh profile - all NTP elements should appear
2. Open settings menu from the settings icon - 3 new settings should exist below show background
3. Toggle the three options; show clock; show stats; show top sites - they should disappear/reappear on the page
4. Settings should persist after browser is closed and reopened

[2019-07-03 19:23] boedaq797 opened #5121 "What happeness"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-07-03 19:24] frontendmonster commented on #4378
Fixed by updating to 75.0.65.121

[2019-07-03 19:24] #4378 closed

[2019-07-03 19:27] #5121 closed

[2019-07-03 19:27] bsclifton commented on #5121
Closing as there's not really any information here. Hopefully- that's `What Happiness!` and you're delighted 😄

[2019-07-03 20:15] fmarier commented on #5111
The repo does work on Debian, but you're right that our instructions don't quite work for that distro yet. Here's how to make it work properly: https://community.brave.com/t/unable-to-install-brave-browser-in-my-debian-os-distro/43891/6

[2019-07-03 21:00] bridiver opened #5123 "brave importer depends causes dependency on content/browser"
the brave importer code has a dependency on `//components/password_manager/core/browser` which causes
[code]
this code should be refactored to use mojo so the password manager code stays in the browser process

[2019-07-03 21:08] #4510 closed

[2019-07-03 21:37] truatpasteurdotfr commented on #4280
https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux for CentOS is misleading,
Following the instructions
[code]
yields:
[code]
It is not clearly stated that only version v0.62.51 is the last supported version for glibc-2.17 as stated in the previous comment.

[2019-07-03 22:28] bsclifton commented on #4279
+1 from https://www.reddit.com/r/brave_browser/comments/c8oe0b/webgl_is_very_slow_in_brave_compared_to_chrome/

Details from `chrome://gpu` here (Brave):
https://gist.github.com/bsclifton/68e1ba1ee28cb1502d4b04eacf48228a

Same user running `chrome://gpu` in Chrome:
https://gist.github.com/bsclifton/573d8d4cbfe9065ae3e5c1e9aabb2861

[2019-07-03 22:45] bsclifton commented on #4279
Ran the above test on my machine - definitely leads me to think it's a driver/config issue. Something triggers the difference in config change and that seems to have a direct impact on the score

FWIW, here are the scores I got on my workstation:
- 1190.75 with Chrome 75.0.3370.100
- 1402.33 with Brave  0.69.24 (which uses Chromium 75.0.3770.100)

@PhilT can you visit chrome://gpu both in Brave an

[2019-07-04 00:02] nikahmadz commented on #4636
It's superbly annoying

[2019-07-04 00:03] juliushenkin commented on #1071
Issue is still present on Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit).

Images, comments, and videos are inoperable. This looks like purposeful political censorship by activist coders trying to hide obscure Infowars content. There is no reason that image files should be blocked as "third party trackers", and comments/videos are innocuous as well.

[2019-07-04 01:02] rebron commented on #1071
<img width="1255" alt="Screen Shot 2019-07-03 at 5 51 21 PM" src="https://user-images.githubusercontent.com/5951041/60632590-5dd20180-9dbb-11e9-8407-104519735396.png">

Closing. Original issue is fixed in Version 0.68.89 Chromium: 75.0.3770.100

[2019-07-04 01:02] #1071 closed

[2019-07-04 01:51] ErwinDecenternet commented on #4676
Hi,

I tried again, and it worked! It seems one of the download was just corrupted and have to be retried as you said.

I also tried to build it and it works.

Question though, if i need to make changes/adjustments, What IDE should i  use? If its visual studio, why I don't see .sln file to open the entire project. I only see .sln for submodules.

Thanks for the help.

Erwin

[2019-07-04 01:58] ErwinDecenternet commented on #4676
In my case the error happened because the file downloaded was corrupted (perhaps because of my intermittent internet connection). I never setup an virtual env. I just used my global settings latest updates on all which should patche all known bugs.
I just retried installation/download with the command as suggested:

npm run sync -- --all

Hopefully you'll able to fix it too.

[2019-07-04 02:55] kirk-baird commented on #2377
Similar to @helionmelion
I had to set it manually using xdg
`xdg-settings set default-web-browser brave-bin.desktop`
Note `brave.desktop` did not work as I installed `brave-bin` from AUR.

If you want to see what is current the default browser in xdg use `xdg-settings get default-web-browser`

[2019-07-04 03:04] I2ascal commented on #3082
Had successfully been using Microsoft Rewards with Brave until I cleared cookies, and then was experiencing the same issue and couldn't resolve with any of the above solutions.

I created an account here specifically to share my workaround:

- With a secondary browser of choice (I used Chrome), login to Microsoft Rewards from Bing.com
- Close the secondary browser
- With Brave, Settings -> Import

[2019-07-04 03:13] simonhong commented on #4785
I think this should be postponed after migrating to network service because shields features are tied with `NetworkDelegate` that will be disappeared during the migration.
cc: @bsclifton @iefremov

[2019-07-04 03:36] fmarier opened #5124 "gs.statcounter.com broken because of Shields' HTTPS upgrade"
The graphs on https://gs.statcounter.com don't show up unless the HTTPS upgrade part of Shields is disabled.

![Screenshot from 2019-07-03 20-29-15](https://user-images.githubusercontent.com/167821/60638031-a7c5e200-9dd1-11e9-8865-32d4cf1aafc8.png)

The following shows up in the devtools console:

[code]

## Brave version (brave://version info)
[code]

## Other Additional Information:

It works fi

[2019-07-04 03:39] bbondy commented on #3839
I think this is gone with 0.66.x and also we have a rust replacement with 0.68.x in the worst case. Closing.

[2019-07-04 03:39] #3839 closed

[2019-07-04 03:43] bbondy commented on #1855
Closing because I think it is not valid anymore. Please reopen or comment if you disagree.

[2019-07-04 03:56] asmaloney commented on #3839
Ironically Brave crashed (3rd time today) when I was launching it to see the email the closing of this issue generated...

**Uploaded Crash Report ID 01e801b3c3385d9b (Local Context: f931c8fe-ea56-4179-8134-78edff0e52d2)**

[2019-07-04 06:21] fmarier opened #5125 "Safe Browsing setting is potentially misleading"
The Safe Browsing setting in `chrome://settings/privacy` says that some unsafe pages might be sent to Brave:

![Screenshot from 2019-07-03 23-17-36](https://user-images.githubusercontent.com/167821/60643736-e61acb80-9de8-11e9-922f-b9bc892e5d27.png)

I'm not 100% sure what part of Safe Browsing it's referring to, but I doubt it's sending Brave URLs. It's most likely sending these to nobody (because

[2019-07-04 07:07] NejcZdovc opened #5126 "Move BalanceReportInfo to mojo interface"
We need to move `BalanceReportInfo` in `vendor/bat-native-ledger/include/bat/ledger/balace_report_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:09] NejcZdovc opened #5127 "Move AutoContributeProps to mojo interface"
We need to move `AutoContributeProps` in `vendor/bat-native-ledger/include/bat/ledger/auto_contribute_props.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:10] NejcZdovc opened #5128 "Move MediaEventInfo to mojo interface"
We need to move `MediaEventInfo` in `vendor/bat-native-ledger/include/bat/ledger/media_event_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:10] NejcZdovc opened #5129 "Move ActivityInfoFilter to mojo interface"
We need to move `ActivityInfoFilter` in `vendor/bat-native-ledger/include/bat/ledger/publisher_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:11] NejcZdovc opened #5130 "Move ContributionInfo to mojo interface"
We need to move `ContributionInfo` in `vendor/bat-native-ledger/include/bat/ledger/publisher_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:11] NejcZdovc opened #5131 "Move ReconcileInfo to mojo interface"
We need to move `ReconcileInfo` in `vendor/bat-native-ledger/include/bat/ledger/reconcile_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:12] NejcZdovc opened #5132 "Move RewardsInternalsInfo to mojo interface"
We need to move `RewardsInternalsInfo` in `vendor/bat-native-ledger/include/bat/ledger/rewards_internals_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:13] NejcZdovc opened #5133 "Move TransactionInfo to mojo interface"
We need to move `TransactionInfo` in `vendor/bat-native-ledger/include/bat/ledger/transaction_info.h` into mojo interface.

Example how to do this https://github.com/brave/brave-core/pull/2432

[2019-07-04 07:15] #5133 closed

[2019-07-04 07:31] MRVDH commented on #4636
I don't understand why this has been labeled as priority/P5. As a web developer I use Brave to test and debug applications. It's annoying to keep seeing this message. Besides that, things like these should be in beta versions of Brave, not in public releases.

[2019-07-04 07:37] NejcZdovc opened #5134 "Add callback to Initialize"
We need to add callback to `Initialize` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called client back.

[2019-07-04 07:38] NejcZdovc opened #5135 "Add callback to CreateWallet"
We need to add callback to `CreateWallet` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called client back.

[2019-07-04 07:41] NejcZdovc opened #5136 "Remove AddRecurringPayment from ledger.h"
`AddRecurringPayment` is not used anymore. Please remove all references to it. We can also remove `recurring_donation_` from `braveledger_bat_helper::PUBLISHER_STATE_ST`

[2019-07-04 07:44] NejcZdovc opened #5137 "Add callback to DoDirectTip"
We need to add callback to `DoDirectTip` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

If publisher is not verified we need to add callback to `SaveUnverifiedContribution` and report result in this new callback from it.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h

[2019-07-04 08:05] NejcZdovc opened #5138 "Add callback to FetchGrants"
We need to add callback to `FetchGrants` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

Also if you check in `grants.cc` we have `GetGrants`. Let's unify it and use `FetchGrants` everywhere.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called c

[2019-07-04 08:06] NejcZdovc opened #5139 "Add callback to SolveGrantCaptcha"
We need to add callback to `SolveGrantCaptcha` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

Also if you check in `grants.cc` we have `SetGrant`. Let's unify it and use `SolveGrantCaptcha` everywhere.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that th

[2019-07-04 08:07] NejcZdovc opened #5140 "Add callback to GetGrantCaptcha"
We need to add callback to `GetGrantCaptcha` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called client back.

[2019-07-04 08:09] NejcZdovc opened #5141 "Add return to GetAutoContributeProps"
We need to add return to `GetAutoContributeProps` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

Right now we are passing result back via pointer. To be consistent let's just return value as it's synchronous.

[2019-07-04 08:10] NejcZdovc opened #5142 "Add callback to GetBalanceReport"
We need to add callback to `GetBalanceReport` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

Right now we are passing result back via pointer. To be consistent let's return it via callback.

[2019-07-04 08:11] NejcZdovc opened #5143 "Add callback to RecoverWallet"
We need to add callback to `RecoverWallet` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called client back.

[2019-07-04 08:13] NejcZdovc opened #5144 "Add callback to RestorePublishers"
We need to add callback to `RestorePublishers` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called client back.

[2019-07-04 08:15] NejcZdovc opened #5145 "Add callback to RemoveRecurringTip"
We need to add callback to `RemoveRecurringTip` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

When adding callback be carful what is called inside this functions. Make sure that you handle all use cases that they were previous handled via `ledger_client.h` functions that then called client back.

[2019-07-04 08:15] NejcZdovc opened #5146 "Add callback to GetRewardsInternalsInfo"
We need to add callback to `GetRewardsInternalsInfo` inside `vendor/bat-native-ledger/include/bat/ledger/ledger.h`.

Right now we are passing result back via pointer. To be consistent let's return it via callback.

[2019-07-04 08:21] NejcZdovc opened #5147 "Remove OnMediaStart and OnMediaStop"
We don't use it and we have different approaches to record media publishers. We want to remove it so that other platforms are not confused about them.

[2019-07-04 08:58] NejcZdovc opened #5149 "Remove functions that are not used in ledger.h"
In `vendor/bat-native-ledger/include/bat/ledger/ledger.h` we have some functions that are in use in `ledger_impl`, but they don't need to be in `ledger.h` as they are not public.

[2019-07-04 09:07] tmancey opened #5150 "Migrate Brave ads client state from JSON to database/prefs"
Migrate Ads state from JSON (`defaults/ads_service/client.json`) to a database/prefs to optimise memory and performance which will become more important for mobile

Nb. components/brave_ads/browser/bundle_state_database.cc / Init - if statement for creating tables is growing, perhaps move to a dedicated method to create all tables?

[2019-07-04 09:08] tmancey opened #5151 "Migrate Brave ads confirmations state from JSON to database/prefs"
Migrate Confirmations state from JSON (`defaults/rewards_service/confirmations.json`) to a database/prefs to optimise memory and performance which will become more important for mobile

[2019-07-04 09:25] pitsi commented on #5111
For starters, I won't use an ubuntu repo on my debian install. The reason is simple: frankendebian (google it if you do not know what it means).

I tried adding this line as a source
`deb https://brave-browser-apt-release.s3.brave.com/ stable main`
but it results to a 403 error (forbidden) and apt reports this
`E: Failed to fetch https://brave-browser-apt-release.s3.brave.com/dists/stable/main/bin

[2019-07-04 09:34] pitsi commented on #5111
I completely missed that reply. sorry.
What you suggest is not doable because once I run apt-get install -f, apt will remove brave because it can not satisfy the dependencies.
[code]
I know about the -f parameter, I used it the first time I installed brave in order to install the libappindicator libs that the package needs and I have used it many times in the past for similar deb packages.

[2019-07-04 09:40] NejcZdovc opened #5152 "Wire SaveRecurringTip through ledger"
We need to wire all UI triggered functions through ledger code. What `SaveRecurringTip` we save it directly into db.

Take example of `GetRecurringTipsUI` on how it should be done.

[2019-07-04 09:45] alexandrestein commented on #4901
I have on my Arch linux both, Chromium (from the repo) and Brave (downloaded from GitHub, the latest stable release: 0.65.121)

The underneath Chromium version is the same: 75.0.3770.100

But the option to generate password is present in Chromium but not in Brave.

How I understand the @tomlowenthal statement: if it is present in Chromium it will show up in Brave because it is based on it.
But in

[2019-07-04 10:39] helionmelion commented on #2377
Yes I'm using the aur version now.
`xdg-settings get default-web-browser`
`brave-beta-bin.desktop`

[2019-07-04 10:57] tmancey opened #5153 "Enable Brave ads for Australia, New Zealand and Ireland"
In preparation of testing out Brave ads in Australia, New Zealand, and Ireland, we need to enable users in those regions to turn on ads, and provide them a notification of the availability

[2019-07-04 13:16] Leon0402 opened #5154 "Feature request: Add Quick Access"
## Description

Opera offers a quick access panel. As soon as you click in the address bar, a small panel opens (see screenshot) with the ability to do certain tasks. I find especially useful to have direct access to the bookmarks and personally find this approach more beautiful than having a bookmark topbar. But also the option to copy the address instantly or download the page as pdf etc. is qui

[2019-07-04 13:30] Leon0402 opened #5155 "Feature Request: drag and drop address bar"
## Description
Ability to customize address bar by removing/adding elements through drag and drop + changing the order of them.
Firefox  offers such a feature and I find it very useful (see screenshot).

If possible with some adjustments:
- white spaces should be adjustable in width
- overflow menu should be optional
- possibilty to drag and drop icons in the adress field/search field  ... for exa

[2019-07-04 13:42] Leon0402 commented on #774
Really, where do I find the ui code? There is an ui repo with reusable elements, which is written in typescript ... and in brave-core I find js, css and html code in the ui folder https://github.com/brave/brave-core/tree/master/ui
It seems like I have not understand completely how you structure the project? At least to me all seems a little bit messy (for example having like 300 branches)

By the

[2019-07-04 18:06] fmarier commented on #5111
I understand the confusion and you're right about not wanting to mix packages between the Debian and Ubuntu repositories. There be dragons.

Despite the name in our repo configuration, the packages are not specific to Ubuntu. The same packages are used for all Debian-based distros. The package you got from GitHub is exactly what you get from the repo regardless of the keyword you use in the repo c

[2019-07-04 18:09] flotzone commented on #1264
Having the same issue as @nxbxdy but on Brave Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit). Also, I have 2 monitors if that helps somehow.

[2019-07-04 18:50] pitsi commented on #5111
Understood. Thank you :)
Now that the conversation has moved to the repos, I would like to add the following.

On the forementioned instructions page, if you substitute `$UBUNTU_CODENAME` with `$VERSION_CODENAME`, you get the debian equivalent of the repo. It is that simple, it works for debian 8 (jessie), 9 (stretch) and 10 (buster) and for all version of brave (stable, beta, dev and nightly).

[2019-07-04 19:15] fmarier opened #5156 "Change Ubuntu/Mint Linux installation instructions to use $VERSION_CODENAME"
As mentioned in https://github.com/brave/brave-browser/issues/5111#issuecomment-508556787, we might be able to directly support Debian in our [official instructions](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux) by changing the variable we use to pick the right repository.

Instead of `$UBUNTU_CODENAME`, we could use `$VERSION_CODENAME`.

[2019-07-04 19:20] fmarier commented on #5156
This seems to work on recent distros:

Ubuntu 18.04 and Pop!_OS 18.04:
[code]

Debian unstable:
[code]

but not older ones:

Debian 9 stretch:
[code]

[2019-07-04 19:23] fmarier commented on #5111
Good idea, I filed #5156 for this.

It doesn't seem to work on Debian 9 though:

[code]

[2019-07-04 20:00] #5147 closed

[2019-07-04 20:04] #5149 closed

[2019-07-04 20:53] fmarier commented on #5156
It also won't work on recent versions of Mint:
[code]

[2019-07-04 21:07] fmarier commented on #5156
The following however, will work with Debian 10+, Ubuntu 16.04+ and Mint 18+:
[code]

[2019-07-04 21:11] fmarier commented on #5156
For Ubuntu 14.04, Mint 17 and Debian 9, we can use the [Mint 17 instructions](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#mint-17).

[2019-07-04 22:03] srirambv commented on #3538
Bumping the thread. Needs to be a higher priority than P4 now. This was discussed during the Android triage as well. It would be extremely challenging to get logs for Android as users need to
1. enable developer mode on their device (which am not sure how many would be willing to do)
2. need to install Android Studio (again people wold stop responding when we ask them to install and Android studio

[2019-07-04 22:11] bsclifton commented on #5155
Related https://github.com/brave/brave-browser/issues/774

[2019-07-04 22:20] bsclifton commented on #774
@Leon0402 the parts that are in JavaScript/TypeScript are part of the Brave UI library. These are basically used on Web UI pages (settings, rewards, etc)

For the browser chrome itself, you'll have to go through the code to find the appropriate view to edit. A good example to look at is how @petemill and @mkarolin did the Lion and Rewards icons inside the omnibox:
- https://github.com/brave/brave-

[2019-07-04 22:24] bsclifton commented on #108
TODO: revisit me soon! Some information captured in https://github.com/brave/brave-browser/issues/774#issuecomment-508584820

[2019-07-04 22:37] bsclifton commented on #5125
@fmarier these URLs should be sent to us and then proxied to Google. We have a Google Cloud platform account which has a token used to handle this service

[2019-07-04 22:42] bsclifton commented on #353
Another one down - huge thanks to @imptrx for https://github.com/brave/brave-core/pull/2762 😄

(Should be available in Nightly soon!)

You can now enable/disable any element on the page.  More coming soon! Thanks for your patience, folks 😄

[2019-07-04 22:45] #790 closed

[2019-07-04 22:57] fmarier commented on #5125
Yes, we do proxy Safe Browsing requests. In the case of browsing protection (e.g. the phishing warning pages), that includes both updates and requests for full hashes, but those [are not actual URLs](https://feeding.cloud.geek.nz/posts/how-safe-browsing-works-in-firefox/).

On the other hand, for download protection (i.e. how downloads are checked for maliciousness with Google Safe Browsing) we do

[2019-07-04 23:24] Leon0402 commented on #774
@bsclifton thanks for your answer! To be honest, I haven't really realised yet that settings, rewards etc. are web ui pages. Is there any reason for this? Don't know much about this, but I guess consistency is always a good thing and therefore everything should be created in C++?

It's great that you want the community to help with the project! I guess, setting up a wiki post is a good first start

[2019-07-04 23:28] Miyayes commented on #930
+1 from Reddit: https://www.reddit.com/r/BATProject/comments/c98plf/where_can_i_see_all_of_my_rewards_earnings/

[2019-07-05 00:34] kswope opened #5157 "On OSX, trackpad back/forward gestures non-functional with "More Tools > Create Shortcut""
On OSX, when "More tools > Create Shortcut..."  with "Open as Window" checked, the forward and back trackpad gestures no longer work (the page just rubber-bands side to side).

The Cmd-[ Cmd-] buttons still work.

For any normal mac user, this makes "Create Shortcut" a frustrating, if not useless, feature.

Note:  this problem also exists in Chrome.

[2019-07-05 04:33] pitsi commented on #5111
I do not have a debian 9 (or 8) installation so as to check, sorry. I will check what the /etc/os-release on those versions say and post back later.

However, if you replace just their codename here
`deb https://brave-browser-apt-release.s3.brave.com/ buster mainrelease.s3.brave.com/ buster main`
the repo line is fine because apt does not pop up the 403 error.

On the other hand, the output of `ls

[2019-07-05 04:37] #5136 closed

[2019-07-05 04:43] pitsi commented on #5156
As I have mentioned in #5111, what about using 'lsb_release -sc' ? I think it works the same under all those situations.

[2019-07-05 05:27] NejcZdovc commented on #3538
@srirambv this issue is regarding where to add link. You can always access brave://rewards-internals directly. I think if there are problems with logs on android issue should be opened there

[2019-07-05 07:45] eljuno commented on #5043
How about other shields settings?

Did you have "Clear on exit" enabled under `chrome://settings/clearBrowserData`? If yes, maybe related to #2400 and #3926

[2019-07-05 12:10] srirambv commented on #3538
@NejcZdovc  this issue I believe is specifically for adding the debugging info and not just where it needs to have the link. Like you said we already implemented brave://rewards-internals as part of #1174 and can be accessed directly and doesn't need linking anymore. The only remaining problem from #1174 is showing the debug info on the browser itself somewhere.

We don't have any debug info added

[2019-07-05 12:54] Dogers commented on #688
Any chance of getting this on the main page somewhere now? :)

To counter the point made by @srirambv - Firefox have a couple of options for full installers available from this page: https://www.mozilla.org/firefox/new/ . The Chrome guys call it "Chrome Enterprise" which comes bundled with some GPO stuff for business, but full installers available here too: https://cloud.google.com/chrome-enterpri

[2019-07-05 14:47] #5119 closed

[2019-07-05 14:54] rebron commented on #4948
@dayfuaim Can you post screenshots? I'm not able to reproduce this.

[2019-07-05 15:11] rebron commented on #4998
cc: @rossmoody I can reproduce. It's the Napali coast image but looks like it's part of the original image as @AnthonyLenglet mentions.

[2019-07-05 15:15] rebron commented on #4988
closing as dupe of #4963. I like the location of the setting. Maybe match the language of CMD + Q, something like Show warning before closing pinned tabs with CMD + Q

[2019-07-05 15:30] rossmoody commented on #4988
Is this the same behavior as #4963?

[2019-07-05 15:43] rebron commented on #4957
@nielspeen Can you add a test case or specific website(s) where this reproduces?

[2019-07-05 15:48] rebron commented on #4960
@Gitchiel Without steps to reproduce and example applications to point to, we can't really address this issue.

[2019-07-05 16:07] rebron commented on #4988
Sorry. Closing again. Let's solve it in #4963 and we can either go with an ignore pref as you're suggesting or warning pref.

[2019-07-05 16:07] #4988 closed

[2019-07-05 16:09] rebron commented on #4963
https://github.com/brave/brave-browser/issues/4988#issue-458162978
Approach to solve inadvertently closing pinned tabs via ignoring CMD + W pref, might be a good way to go to instead of a warning.

[2019-07-05 16:10] rebron commented on #4963
cc: @rossmoody

[2019-07-05 16:34] dayfuaim commented on #4948
Here it is.
[brave_address_line.mov.zip](https://github.com/brave/brave-browser/files/3363481/brave_address_line.mov.zip)

Hardware acceleration is OFF. And doesn't affect the issue.

[2019-07-05 16:40] rebron commented on #5009
@jonathansampson We fixed a bunch of PWA issues in 66.x. Can you take a look and see if this is still an issue for you?

[2019-07-05 16:42] rebron commented on #5010
@ryanbr What version are you using? Are you using Nightly?

[2019-07-05 16:44] rebron commented on #5019
@ryanbr Can you take another look?

[2019-07-05 16:47] rebron commented on #5028
cc: @bradleyrichter @rossmoody to revisit search

[2019-07-05 16:55] rebron commented on #5045
cc: @GeetaSarvadnya Possible stub installer issue on Windows.

[2019-07-05 16:57] rebron commented on #5049
@jumde Is this blocking the Chromecast fix?

[2019-07-05 17:04] rebron commented on #5075
Closed, fixed by above commit.

[2019-07-05 17:06] rebron commented on #5078
@ryanbr Can you reproduce in Nightly?

[2019-07-05 17:07] rebron commented on #5079
Closing. Could be addressed with sync later.

[2019-07-05 17:07] #5079 closed

[2019-07-05 17:09] rebron commented on #5089
Could possibly switch between profiles as a way to handle this. The UE for this could be fairly complicated/confusing.

[2019-07-05 17:09] #5089 closed

[2019-07-05 17:12] rebron commented on #5099
Can you clear out your cookies and see if this is still an issue?

[2019-07-05 17:14] rebron commented on #5112
@e-belair What application(s) are you using?

[2019-07-05 17:18] rebron commented on #5115
cc: @fmarier Can you take a look?

[2019-07-05 17:25] rebron commented on #5154
Closing. wonftix. Thanks for the suggestion.

[2019-07-05 17:25] #5154 closed

[2019-07-05 17:36] fmarier commented on #5156
We used to use `lsb_release -sc`, but it caused some problems on Debian/Ubuntu derivatives (see #2343).

[2019-07-05 17:47] jumde commented on #5049
The chromecast PR is almost ready, doing some testing and cleaning up the code. Hopefully should be ready for review today: https://github.com/brave/brave-core/pull/2493

[2019-07-05 17:57] fmarier commented on #5115
I can reproduce using <http://fmarier.com/same-site/brave-browser-5115.html>:

![Screenshot from 2019-07-05 10-45-06](https://user-images.githubusercontent.com/167821/60738207-5d984a00-9f12-11e9-92e9-7a72999dd42f.png)

We are making the following HTTP requests even with HTTPS upgrades turned on:
[code]

and that's despite the fact that HTTPS Everywhere includes [a rule for `maps.google.com`](https

[2019-07-05 19:45] BlueMiaou commented on #5099
Hi rebron, thanks for responding! I cleared my cookies, and it worked. Thanks!

[2019-07-05 20:07] rebron commented on #5099
@BlueMiaou. Awesome, glad that worked out.

[2019-07-05 20:07] #5099 closed

[2019-07-05 20:35] rebron commented on #5154
@Leon0402 Also, if you have further feature suggestions, sometimes it's better if you start the discussion/conversation at community.brave.com and then issues can get filed from there.

[2019-07-05 21:40] jhreis opened #5158 "Desktop Bookmark Platform Alignment"
## Description

**Please carefully read this in its entirety, and if any issues are known, please raise them before starting work. If any of the below are discovered to be impossible during development, please raise concerns before completing the rest of the items, as these are all tightly coupled together.**

Currently each Brave platform has variations to bookmarks that can often lead to unexpec

[2019-07-05 23:09] smartfonreddit opened #5159 "Sync between Android & Windows stops working after a few days. Some bookmarks get deleted."
## Description

Bookmarks between Android and Windows stop syncing after a few days of inactivity. Sometimes this will happen with the Sync chain looking as if it's dropped on Android, but present on Windows. Sometimes it will be accompanied by **all bookmarks being removed from Android**. Other users have reported bookmarks being removed from desktop.

## Steps to Reproduce

Android 9.0 (Galaxy S

[2019-07-05 23:13] ryanbr commented on #5078
I can, producible in Nightly. Some how its related to blocking of https://ipinfo.io/json?token=

https://secure.fanboy.co.nz/gif/cosmolex.gif

[2019-07-06 00:21] ryanbr commented on #5153
I approve :)

[2019-07-06 02:04] ryanbr commented on #5010
I was testing on Brave stable

[2019-07-06 02:06] ryanbr commented on #5019
Just tested in Brave stable and Nightly, seems to work here.

[2019-07-06 02:13] tmancey opened #5160 "Migrate brave-core changes from Android Ads"
Migrate brave-core changes from Android Ads

[2019-07-06 03:03] MithilMajumder commented on #4275
Windows

[2019-07-06 04:00] markwylde commented on #5043
@eljuno yes, I do have "Clear on exit" enabled. It looks like this is to do with clearing browser data.

[2019-07-06 04:00] #5043 closed

[2019-07-06 05:31] nishanthj6 commented on #5115
That sounds great.

If there are any browser addons to your knowledge known, when browsing through non-secured version(HTTP) of website goes via encryption only to the calls made by CDN's and Google API???...
Because when you are browsing via Non-secured version(HTTP) of website. The browser extension HTTPS Everywhere disables after clicking Open insecure Page. But tested with [SKN SSL Enforcer](h

[2019-07-06 06:45] dynamicdolphin commented on #5153
Eagerly awaiting this...
Still saying "Sorry! Ads are not yet available in your region."

[2019-07-06 07:16] Gitchiel commented on #4960
@rebron I understand - unfortunately I can't provide a public app or access for now; probably it's not concerning many users anyway, so I guess we can close this then.

[2019-07-06 07:16] #4960 closed

[2019-07-06 10:25] Leon0402 commented on #5154
@rebron Yeah I thought about publishing my ideas in the forum, but  (and I might be wrong) it seemed to me like those suggestion don't get much attention by the developer and also not quite much by the users. I just looked through all posts again from the last two month in the section and most posts have not even 100 views and mostly no comment at all. Whereas here, the suggestions/issues get noti

[2019-07-06 11:44] temporarium commented on #688
I, too, would prefer an easy-to-find repository ala https://ftp.mozilla.org/pub/firefox/releases/

[2019-07-06 12:21] PL47ER commented on #3082
@I2ascal

While I have tried your solution and it worked smoothly, I have also found discussion here on Brave Community which resolved the issue as well.

https://community.brave.com/t/bing-sign-in-not-working/43833/36

[2019-07-06 14:23] jonathansampson commented on #5009
@rebron This issue still reproduces in 0.66.99. Repro can be a little tough, the option to _Install Twitter_ doesn't always appear. I had to refresh a couple times on the new Twitter UI to get the option.

[2019-07-06 15:41] jkhgvfgvsth opened #5161 "Documentation | Add Debian Instalation Steps"
**Feature**: Add Debian Channel to [documentation](https://brave-browser.readthedocs.io).

https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux

**Why?**: Debian is undeniably the most used standard for Linux. With other distros like Arch and Slackware following closing behind. It is a shame that it does not yet have official installation steps, handicapping a significant por

[2019-07-06 15:42] jkhgvfgvsth opened #5162 "Add OpenBSD Install to Downloads"
**Feature**: Add OpenBSD Installation Option to Downloads.
**Question**: How to install on OpenBSD and forks like LibertyBSD?

https://brave-browser.readthedocs.io/en/latest/installing-brave.html

[2019-07-06 15:51] jkhgvfgvsth opened #5163 "Bug | Install Errors Debian"
**Log**:
[code]

**What you expected**: I excepted it to work.....and install?

**Edit**:

To temporarily allow me to run `apt update` I ran:
`root@debian:~# rm -r /etc/apt/sources.list.d/brave-browser-release-.list`

[2019-07-06 19:07] ChildishGiant commented on #5019
I'm guessing nightly doesn't auto update then? It does seem that my nightly last updated today. On my nightly build, I'm still having the same issue.
![image](https://user-images.githubusercontent.com/13716824/60760214-865f3300-a029-11e9-86c8-bc408b9252dd.png)

[2019-07-07 01:04] srirambv commented on #5161
Will be done once #5156 is fixed

[2019-07-07 01:04] #5161 closed

[2019-07-07 01:05] srirambv commented on #5156
+1 from @jkhgvfgvsth  for Debian install instructions via #5161

[2019-07-07 01:08] srirambv commented on #5163
Should be fixed once #5156 is done. Closing as dupe.

[2019-07-07 01:08] #5163 closed

[2019-07-07 02:48] ryanbr commented on #5019
Okay, re-tested in Nightly.

https://secure.fanboy.co.nz/gif/ebay2.gif

[2019-07-07 03:36] ryanbr commented on #5075
Just a followup @ericelliott  enabling all cookies helps.

[2019-07-07 09:07] ryanbr commented on #5162
LibertyBSD seems dead, git, http/ftp links aren't working. and last update was early last year

[2019-07-07 09:31] SharmaHarsh7 commented on #5094
@srirambv Thanks, it was not working earlier.
                   Working now, tested.

[2019-07-07 11:22] victorelec14 opened #5164 "Link Broken "chrome://wallet/" (This site can’t be reached)"
## Description

"This site can’t be reached" in the new section "Crypto Wallets" on the Settings Page.

## Steps to Reproduce

   1.  Go to "Settings" Page
   2.  Go to "Crypto Wallets" Section
   3.  Error

## Actual result:

![image](https://user-images.githubusercontent.com/543450/60767545-e2719800-a0b9-11e9-9626-806ed29bdaca.png)

![image](https://user-images.githubusercontent.com/543450/60767

[2019-07-07 11:58] eljuno commented on #5164
Duplicate of #5117?

[2019-07-07 12:27] qnxor commented on #4024
I came to create an issue about this. Not sure why this was removed. I'm very dependent on it, e.g. for invoking my global password manager. Do please bring it back :)

[2019-07-07 12:49] AoiYui commented on #4706
@rebron working now I reinstalled it using the repo method since I finally figured it out. I had used the snap method previously. No offense but having the words "UBUNTU_CODENAME" in the repo path is really confusing. That may have fixed it or maybe it just blew over.

[2019-07-07 15:06] Leon0402 commented on #4615
+ 1 on linux + mac

[2019-07-07 16:39] oshanz commented on #5073
@tomlowenthal you are correct. after disabling the fingerprint protection now it works.

[2019-07-07 20:42] ryanml commented on #5164
This will be fixed here when the mapping is complete: https://github.com/brave/brave-core/pull/2833

[2019-07-07 20:42] ryanml commented on #5164
Closing as a duplicate, thanks for the report @victorelec14

[2019-07-07 20:42] #5164 closed

[2019-07-08 01:45] GeetaSarvadnya opened #5165 "Vimeo - Videos and live stream videos are not getting added to a-c table"
## Description

Vimeo - Videos and live stream videos are not getting added to a-c table

## Steps to Reproduce

   1. Clean profile 0.69.2
   2. Open Vimeo.com
   3. Play some videos (Videos and Live stream videos)
   4. Videos are not getting added a-c table, the only domain name is added to a-c table

## Actual result:

Videos and live stream videos are not getting added to a-c table
https://vi

[2019-07-08 01:52] GeetaSarvadnya opened #5166 "Vimeo- Verified pubs name is not displayed in BR Panel"
## Description

Vimeo- Verified pubs name is not displayed in BR Panel

## Steps to Reproduce

   1. Clean profile 0.69.2
   2. Open Vimeo.com
   3. Open any verified pubs video
   4. Open BR panel and verify the publisher name
   5. The publisher name is not displayed just domain name is displayed

## Actual result:

Vimeo- Verified pubs name is not displayed in BR Panel

https://vimeo.com/blog/p

[2019-07-08 02:05] GeetaSarvadnya opened #5167 "Vimeo - one time tip/monthly tip is sent to the domain instead of a verified publisher"
## Description

one-time tip/monthly tip is sent to the domain instead of a verified publisher

## Steps to Reproduce

   1. Clean profile 0.69.2
   2. Open Vimeo.com
   3. Open any verified publisher https://vimeo.com/blog/post/deliver-monetize-live-video-ott-branded-apps/
   4. Send a one-time tip and monthly tip to it
   5. Verify the tips panel
   6. Tips panel is recorded domain name instead

[2019-07-08 02:27] GeetaSarvadnya opened #5168 "Vimeo - Monthly recurring tip set for one pubs is assigned to all the verified pubs"
## Description

Vimeo - Monthly recurring tip set for one pub is assigned to all the verified pubs

## Steps to Reproduce

   1. Clean profile 0.69.2
   2. Open Vimeo.com
   3. Open a verified publisher https://vimeo.com/blog/post/video-for-corporate-communications/
   4. Send a monthly tip 5 BAT
   5. Open BR panel and ensure that monthly tip 5 BAT is populated in dropdown
   6. Open any other ve

[2019-07-08 02:47] jasonrsadler opened #5170 "Rewards Panel crashes when conversion rates cannot be obtained"
## Description

If server to obtain BAT conversion rates is unreachable, Rewards Panel will crash.

## Steps to Reproduce

   1. Disconnect internet
   2. Start Brave
   3. Open Rewards Panel

## Actual result:
Panel crashes and BAT icon disappears with error in term:
[code]

## Expected result:
Obviously obtaining rates should fail, but not crash panel

## Reproduces how often:
always

## Brave v

[2019-07-08 04:25] jkhgvfgvsth commented on #5156
@fmarier @srirambv They key issue is that users do not know to follow "Mint 17+" steps.

[2019-07-08 04:49] NejcZdovc commented on #5166
@GeetaSarvadnya which url are you using for testing. Links that you pasted are blog links

[2019-07-08 04:56] NejcZdovc commented on #5166
it works for me. https://vimeo.com/user3261383

![image](https://user-images.githubusercontent.com/9574457/60784004-6e80cf80-a14d-11e9-841f-817dbe2a0361.png)

[2019-07-08 04:59] NejcZdovc commented on #5167
works for me. https://vimeo.com/user91022604 (on staging) or https://vimeo.com/user3261383 (on production)

![image](https://user-images.githubusercontent.com/9574457/60784107-e9e28100-a14d-11e9-939f-60806883e619.png)

[2019-07-08 05:00] NejcZdovc commented on #5168
works for me with video links. I see that you have blog post links.

[2019-07-08 05:12] NejcZdovc commented on #5165
works for me

![image](https://user-images.githubusercontent.com/9574457/60784578-c4567700-a14f-11e9-9eea-4b86b73916a2.png)

[2019-07-08 05:17] NejcZdovc opened #5171 "Remove DCHECK from Vimeo embed"
Right now in `OnEmbedResponse` we are using DCHECK's for checking response JSON. This is not ok as then we can't test if `UnknownPage` works on debug builds. We need to remove them and add regular if checks.

[2019-07-08 06:23] e-belair commented on #5112
I need a bit time to list all the applications that cause this behavior, but the first on top of the list is Thunderbird.

[2019-07-08 07:26] GeetaSarvadnya opened #5172 "Vimeo - Open and close the BR panel decreases the attention percentage value in BR panel"
## Description

Vimeo - Open and close the BR panel decreases the attention percentage value in BR panel

## Steps to Reproduce

   1. Clean profile 0.69.2
   2. Open Vimeo.com
   3. Play Vimeo video `https://vimeo.com/willchristiansen`
   4. Open the BR panel and note down the attention rate (logged #5294)
   5. Navigate to brave://rewards and make sure the attention value displayed in BR panel a

[2019-07-08 07:27] NejcZdovc commented on #5004
@mandar-brave for the first one I don't see any point as soon as you are connected you are redirected to the second step

[2019-07-08 07:36] NejcZdovc commented on #5172
@GeetaSarvadnya gif is cropped
![image](https://user-images.githubusercontent.com/9574457/60791383-d93d0580-a163-11e9-8d7f-c993e912ef2d.png)

[2019-07-08 07:41] mihaiplesa commented on #1922
Will try to replicate.

[2019-07-08 07:57] lasombra commented on #4142
Interesting data. After applying the workaround described by @maximbaz I noticed, that brave coredumps every time I click on a link. This is on Fedora 30 x86_64.
[code]

[2019-07-08 08:02] GeetaSarvadnya commented on #5172
Apologies, please find the attached recorded file.

https://drive.google.com/open?id=1NB1jSfGIg0b5qAwZ3BeyToIPGNd0mMih

[2019-07-08 08:18] NejcZdovc commented on #5172
@GeetaSarvadnya can you please split your windows and try again. I assume this happens because you are switching between tabs and vimeo.com is gaining visit time every time that you switch while video doesn't record time that often

[2019-07-08 09:09] GeetaSarvadnya commented on #5172
@NejcZdovc Please find the attached recording
https://drive.google.com/open?id=15nhnnQyk25jNN5tvGhrLQbGvNHZQzkz4

[2019-07-08 09:34] tmancey commented on #4221
@srirambv @GeetaSarvadnya Can you please re-test and close if working as expected?

[2019-07-08 11:26] mihaiplesa opened #5173 "Add option to do official builds to CI pipeline"
Closes https://github.com/brave/devops/issues/1351

[2019-07-08 11:27] #5173 closed

[2019-07-08 11:50] Mikeureko commented on #3212
Update: I ended up getting the BAT transfer this time. Not sure why the first time didn't work. It's also worth mentioning I got the same "insufficient funds" notification on my Android app, which obviously doesn't even have ads functionality yet, so I don't see how I'd get points on it anyway.

Side note: Any plans to connect the mobile and desktop wallets to be one and the same?

[2019-07-08 12:09] mihaiplesa opened #5174 "Fix scope of file credentials in CI pipeline"
Closes https://github.com/brave/devops/issues/1359

[2019-07-08 12:10] #5174 closed

[2019-07-08 12:32] pitsi commented on #5156
Small notice.
Now that debian 10 (buster) is released as stable, development will shift to debian 11 (bullseye) and that codename will be used in the new /etc/os-release... once base-files (the package containing /etc/os-release) gets updated in the next days or weeks.
So, you will probably need to make one more folder in the repo.

[2019-07-08 12:33] #5111 closed

[2019-07-08 13:09] AnthonyLenglet commented on #4998
Are the images shown in the new tabs page a curated list of images from unsplash ? if it is, another possible fix is to remove or replace the image from the list, no idea how this part is handled

[2019-07-08 13:09] ChildishGiant commented on #5019
Ah yea, it's working for me now. Seems fixed

[2019-07-08 13:09] #5019 closed

[2019-07-08 13:59] agentofuser commented on #4024
@qnxor yeah I miss it too. For now you can navigate directly to it by entering `brave://extensions/shortcuts` in the address bar.

[2019-07-08 14:10] aleqx commented on #4024
I wanted to chip in myself so +1

Thanks for pointing to brave://extensions/shortcuts - I wasn't aware.

However, there is at least one bug (i should report it separately I guess). I can't set `Ctrl+/` as a shortcut, whereas on Chrome I can.

[2019-07-08 14:40] imptrx commented on #5041
Marked as blocked until: https://github.com/brave/brave-core/pull/2857 is merged in.

[2019-07-08 15:28] tmancey opened #5175 "Failed payment balances do not retry unless browser is restarted or ad grant is claimed"
## Description

Failed payment balances fail to retry unless browser is restarted or ad grant is claimed

## Steps to Reproduce

   1. Disconnect network connection
   2. Launch browser
   3. Wait 10 minutes

## Actual result:

Log shows "Start retrying in # seconds", and after # seconds have passed `GetPaymentBalance` should be retried however the retry is cancelled and then restarted without ret

[2019-07-08 15:33] six0h opened #5176 "Brave Browser will not launch from Unity on Ubuntu 18.04.2 in Gnome, will launch from "Activities" Panel"
Have you searched for similar issues? Before submitting this issue, please check the open issues and add a note before logging a new issue.

Yes, I have searched, I couldn't find the same issue

## Description
Brave Browser will not launch from Unity on Ubuntu 18.04.2 in Gnome. The browser will launch hitting "Activities" key and typing name. I have deleted the "Favorite" entry, and re-added from

[2019-07-08 15:45] #5171 closed

[2019-07-08 16:31] bsclifton commented on #4024
Interesting- we may be unintentionally hiding this. Thanks for the heads up 😄

[2019-07-08 17:18] Kinantb commented on #3491
This happened to me again recently, but thankfully now I have a session manager to restore my tabs, otherwise I would have just left the browser for good because it is a very annoying problem

[2019-07-08 17:27] rebron opened #5177 "Add macOS Catalina Gatekeeper/notarization support"
## Description
See: https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution

"Beginning in macOS 10.14.5, all new or updated kernel extensions and all software from developers new to distributing with Developer ID must be notarized in order to run. Beginning in macOS 10.15, notarization is required by default for all software."

Users will be prompted to install

[2019-07-08 17:27] tomlowenthal commented on #5073
Sounds like this is just working as expected.

[2019-07-08 17:27] #5073 closed

[2019-07-08 17:32] LaurenWags commented on #5177
+1 from https://twitter.com/Pierr0t/status/1147140386785284101

[2019-07-08 17:35] petemill opened #5178 "New Tab Page: move components from brave-ui to brave-core"
The NTP components are specific to brave-core. It will be more productive to have these inside the brave-core repo rather than in a separate repo (brave-ui).

Reasoning and steps explained in https://github.com/brave/brave-browser/issues/2335

## Test Plan
### NTP works
- Open NTP
- Check renders and no console errors

[2019-07-08 17:49] #4663 closed

[2019-07-08 19:06] #2518 closed

[2019-07-08 19:06] #5178 closed

[2019-07-08 19:23] cezaraugusto opened #5179 "Find a way to expose locale files to Storybook"
After https://github.com/brave/brave-core/pull/2857 we have two locales for the same features, one for brave-core (real one that goes to Transifex) and another one for storybook prototyping (named fakeLocale).

Ideally we could have both places using the same source. As far as I know Storybook can only read JavaScript, so maybe outputting results in `.grd` files as JSON? I don't think it's possibl

[2019-07-08 19:28] cezaraugusto opened #5180 "Re-use grouped components instead of having duplicates in Storybook"
After brave/brave-core#2857 we now have feature components and grouped components stored in the same place. We could take advantage of this and re-use components in Storybook and brave-core.

This would likely change some components' API but future-wise this practice would improve productivity and avoid common copy/paste mistakes.

Setting as p5 for now until I can investigate how doable it is and

[2019-07-08 19:31] petemill commented on #5179
Perhaps have a webpack plugin which converts grd to json

[2019-07-08 19:31] petemill commented on #5179
https://www.npmjs.com/package/xml-loader

[2019-07-08 19:32] cezaraugusto commented on #3190
@AlexeyBarabash do you know if something changed in the back-end for this feature? it's been a while I don't make changes to Sync

[2019-07-08 19:38] petemill opened #5181 "Automatically deploy Storybook"
Would be convenient for product / PR review if each PR received a deploy of Storybook to a public Url so that we can view any WebUI changes setup with stories.

Could be achieved in 1 of the following ways
 - now.sh github integration
 - now.sh via Travis
 - s3 via Travis

[2019-07-08 19:58] Brave-Matt commented on #3190
A couple users on Community still reporting this (in latest):
https://community.brave.com/t/confirm-sync-code-button-is-non-responsive/67268

[2019-07-08 20:52] pes10k opened #5182 "Brave-specific JS errors appearing on brave://adblock"
Error:
[code]

Doesn't seem to happen on reload, only on first open.  Doesn't seem to break things, page seems correct, but probably not ideal ;)

[2019-07-08 21:13] rebron commented on #4960
@Gitchiel No worries. If there is a sample app you run across that you can share and it reproduces, please file this again.

[2019-07-08 21:16] CrisBD commented on #2025
Still not working in brand-new Brave release updated Monday, 2019/07/08:

Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)

using MacOS 10.10.5 on 8 gig 2.6 GHz Intel Core i5 MacMini

[2019-07-08 21:38] jsecretan opened #5183 "Ad matching for ads that are not categorized"
## Description
There are some Brave Ads that we want to be able to serve without having to match against specific categorized content.  There are two use cases here:

1) For our existing content/language models, being able to specify that, if we have nothing in the catalog that fits the content interest, we can show the given ad.
2) For new markets where we are still developing/tuning language mod

[2019-07-08 21:47] simonhong commented on #2025
@CrisBD The fix(https://github.com/brave/brave-core/pull/2861) is in review :)

[2019-07-08 22:00] #5175 closed

[2019-07-09 00:36] simonhong opened #5184 "Add --gn and --ninja to npm run build"
Use --gn to pass through ad-hoc gn args.
For example, `--gn=is_component_build:true` translates to is_component_build=true.

Use --ninja to add command line options for Ninja.
For example,  `--ninja=j:48` translates to -j 48.

[2019-07-09 00:43] cg505 commented on #5132
This requires #5131.

[2019-07-09 01:27] bridiver commented on #5063
is this only happening on windows?
[code]

[2019-07-09 02:59] rebron commented on #5154
@Leon0402 Best to publish your ideas in the forum. A screenshot of a competitor's feature with the driveby request to "implement this" will almost always will be marked closed/wontfix. Ideas are great in the community forum where they can be discussed and on github, we'd like issues to be more actionable and less suggestion (though smaller in scope feature requests do come through).

[2019-07-09 04:55] simonhong commented on #3971
On Win10, chromium prevents pinning to taskbar explicitly.
Why chromium prevents it?
[code]
[code]

[2019-07-09 06:05] #4613 closed

[2019-07-09 06:14] snyderp commented on #5182
@bbondy If you can point me to where this is implemented in the browser, im happy to give it a go, while Im waiting for PageGraph builds to complete…

Also, if its not a _huge_ additional lift, i could also work on making brave://adblock styled like brave://settings/ (if someone could hand hold me on the basics, assuming its mostly just getting the markup / styles correct…)

[2019-07-09 06:24] bsclifton commented on #1616
Re-opening as this fix was reverted

[2019-07-09 06:25] #1616 closed

[2019-07-09 06:27] bsclifton commented on #2631
@bridiver @tomlowenthal @fmarier is there anything else to do on this issue?

[2019-07-09 06:28] bsclifton commented on #1973
The editing portion of this was addressed when fixing https://github.com/brave/brave-browser/issues/1616 (with https://github.com/brave/brave-core/pull/1385)

Copy to clipboard not fixed though

[2019-07-09 06:30] NejcZdovc commented on #5132
@cg505 let's do #5131 and #5132 in the same PR

[2019-07-09 06:47] simonhong commented on #3971
According to comments in code review(https://codereview.chromium.org/1402003002/diff2/20001:60001/base/win/shortcut.cc), pin/unpin w/o user interaction are not allowed on Win10.

[2019-07-09 06:54] Breina opened #5185 "Caret mode toggle"
## Description
Firefox features caret browsing (toggled with F7) which puts a text cursor on the page which can be manipulated with the standard text manipulation keyboard buttons. This feature is vital for ergonomics when since you can omit using the mouse to copy commands from the browser.

## Steps to Reproduce

   1. Press F7

## Actual result:

No caret browsing mode is activated.

## Expecte

[2019-07-09 07:18] NejcZdovc commented on #5179
@petemill I think that we will need to first parse .grd then find associated _source.cc so that we will get correct keys for associated translation

[2019-07-09 07:41] simonhong commented on #3971
Close because pin/unpin shortcuts to taskbar w/o user action are not allowed on Win10.

[2019-07-09 07:41] #3971 closed

[2019-07-09 08:36] leobel96 commented on #2569
Same @GeetaSarvadnya experience here

[2019-07-09 10:18] simonhong opened #5186 "Rebase omaha"
https://github.com/google/omaha has been updated since we forked(https://github.com/brave/omaha).
Our brave omaha is two years old behind latest.

Omaha started to support latest VS 2019 and Windows SDK 10.0.18362.1. also Python 2.7.x!

Rebase to latest https://github.com/brave/omaha/commit/f3558c7a2aaef352069c3dc87f9e68e0bf9b189f

Related devops PRs - https://github.com/brave/devops/issues/3597,

[2019-07-09 12:30] jasonrsadler opened #5188 "Publisher state fails to load"
When removing `AddRecurringPayment` functionality in brave/brave-core#2864, publisher_state check for `recurring_donations` should have also been removed.

## Description

Publisher state fails to load when starting browser

## Steps to Reproduce

   1. Start Brave and enable Rewards
   2. Quit Browser and restart

## Actual result:

Error in term: `Failed publisher state: {"min_pubslisher_dura...

[2019-07-09 12:48] #5188 closed

[2019-07-09 14:26] #5117 closed

[2019-07-09 14:26] #5118 closed

[2019-07-09 14:37] mendel3 opened #5189 "Weird almost bluescreen crash"
## Description

I was watching youtube on Brave Dev, and all of a sudden, my browser and Discord crashed at the exact same time. My computer made the looping sound that happens before a bluescreen when there is audio playing and then resolution changed to 1024x768 and the sound stopped. I have attached an event viewer log of the related events, and I noticed that a minute before the crash, the eve

[2019-07-09 14:50] nickpoorman commented on #536
Still seems to be an issue: http://lucb1e.com/rp/cookielesscookies/

[2019-07-09 14:55] taylormade2k commented on #884
This issue is still persisting as of July 9th, 2019. I guess I will have to download chrome as a backup...

https://www.screencast.com/t/eaUUh0pwnXkD

[2019-07-09 15:07] ChildishGiant opened #5190 "eBay image upload broken by shields"
## Description
When attempting to upload a photo to a listing on eBay.co.uk, the upload fails with "Upload failed, There was an error uploading this file. Please try again."
![image](https://user-images.githubusercontent.com/13716824/60899776-f86e8c80-a262-11e9-8c79-e7038fc7bfb6.png)

## Steps to Reproduce

   1.  Start a listing at https://www.ebay.co.uk/sl/sell?sr=wnstart
   2. Attempt to upload

[2019-07-09 15:08] ChildishGiant commented on #5190
Also it seems that eBay has a few compat issues 😉 #5019

[2019-07-09 15:26] cliffordh opened #5191 "Suggestion: Autocomplete, don't save query parameters"
## Description
Started typing "paypal.com" into the address bar, was presented with numerous autocomplete suggestions that included query parameters. This could be viewed as a security risk.

## Steps to Reproduce
Checkout with Paypal on a site. Then start typing paypal.com into the address bar, the site redirect URL and other information about the transaction is exposed because of the query param

[2019-07-09 15:54] SergeyZhukovsky opened #5192 "Separate JavaScript shields for incognito and general tabs"
Currently our JavaScript shields settings applies on both tabs. We need to separate them.

[2019-07-09 16:14] #5130 closed

[2019-07-09 16:35] rebron commented on #1885
Closing. Fixed with https://github.com/brave/brave-browser/issues/4510. This is in 69.x nightly channel now and will make its way to release channel.

[2019-07-09 16:35] #1885 closed

[2019-07-09 17:47] tomlowenthal opened #5193 "Block cross-site requests to localhost"
As the recent Zoom sitch shows, letting every site make requests to `localhost` is not necessarily the best. We should probably restrict this.

[2019-07-09 18:16] rebron commented on #3314
cc: @simonhong

[2019-07-09 18:17] rebron commented on #3082
cc: @simonhong

[2019-07-09 18:19] Brave-Matt commented on #3314
Lots of discussion happening on Reddit -- 35+ comments
https://www.reddit.com/r/brave_browser/comments/anewog/cannot_get_xfinity_stream_to_work_in_brave/

[2019-07-09 18:20] rebron commented on #3348
cc: @ryanbr Can you take a look at this one?

[2019-07-09 18:26] rebron commented on #5162
Close. Wontfix.

[2019-07-09 18:26] #5162 closed

[2019-07-09 18:31] LaurenWags commented on #5175
Verified passed with LG Nexus 5 with Android 5.1 running 1.1.0 rc2 BraveModernarm.apk

[2019-07-09 18:52] bridiver commented on #2631
I don't know, I can't access the hackerone issue for some reason so not even sure what it is

[2019-07-09 20:30] tomlowenthal commented on #4903
Right now @fmarier is going to set the `alt-scv` TTL to zero. Our goal is to have this merged and uplift as far as we can before the channel merge around the end of the month.

[2019-07-09 20:59] yannvr opened #5194 "[feature request] Close tabs to the left"
Adding a contextual option "Close tabs to the left" would allow the remove all the clutter in one click. That would be simply awesome to navigate efficiently.

[2019-07-09 21:42] petemill commented on #5179
@NejcZdovc that's a good point, unless we start to use the c++ IDs in JS and remove the go-between layer, e.g. `locale.getString('IDS_BRAVE_WELCOME_PAGE_MAIN_TITLE')`

[2019-07-09 21:44] fmarier commented on #4903
Also related to QUIC is #3855.

[2019-07-09 21:45] petemill commented on #5180
@cezaraugusto Do you have an example of what this is referring to?

[2019-07-09 21:48] cezaraugusto commented on #5180
yes, if you search for "footerInfo.tsx" you will see two components. one for storybook and one set as container. ideally we would have only one

[2019-07-09 22:11] Brave-Matt commented on #3348
Big/popular reddit thread on the subject:
https://www.reddit.com/r/brave_browser/comments/c7s7mi/youtube_is_bypassing_braves_ad_block_with_ads/

[2019-07-09 22:31] jsecretan opened #5195 "Re-clicking an ad going to the same landing page should refocus on already open landing page tab"
## Description
When a user already has landing page open from previously clicking and ad or visiting the landing page, we should not create a new tab.  Instead, we should look for open tabs matching the landing page and refocus on that tab.  We should still send the additional click confirmation.

[2019-07-09 22:31] bakancs commented on #1864
For 1st step an optiona secure DNS could be great  in Brave.
Why the possibility to adding secondary private DNS servers wouldn't solve the leaking problem when the primary DoH server fails?

[2019-07-09 22:38] maximbaz opened #5196 "Spoof instead of blocking canvas fingerprinting"
## Description

A blocked canvas fingerprint detection is in itself a fingerprinting method, because regular users don't block this.

Please consider spoofing canvas fingerprinting instead, for example by generating a random noise every time browser is restarted.

## Steps to Reproduce

- https://browserleaks.com/canvas reports "Signature: n/a", but should report a signature that is preserved duri

[2019-07-09 22:42] maximbaz commented on #4617
I have a suspicion that this issue is caused by canvas fingerprint protection, and if it was spoofed instead of blocked (#5196), this wouldn't be an issue. I think this because I had used an extension to spoof canvas fingerprint in Chromium, and as far as I remember Google Maps worked smoothly (that extension is currently broken so I cannot easily verify).

[2019-07-09 22:46] #5108 closed

[2019-07-09 22:48] szaimen commented on #4493
Any update on this?

[2019-07-09 23:00] tomlowenthal commented on #4901
I don't see a password generator in a released version of Chrome. Can you share a screenshot of the Chromium feature, @alexandrestein?

[2019-07-09 23:05] adamreisnz commented on #4901
![image](https://user-images.githubusercontent.com/490562/60928728-95cccd80-a302-11e9-80a1-e9d7bd57625b.png)

[2019-07-09 23:06] adamreisnz commented on #4901
Another discrepancy between Chrome and Brave around password management that I've noticed is that Chrome automatically fills in the first matching username/password for you. Brave forces you to click on the input field first, and then select from the options, even if there's just one.

This is a minor annoyance, as it adds an often unnecessary step to each login process.

[2019-07-09 23:12] Brave-Matt opened #5197 "Tabs Outliner extension doesn't work in Brave"
## Description

The [Tabs Outliner](https://chrome.google.com/webstore/detail/tabs-outliner/eggkanocgddhmamlbiijnphhppkpkmkl?hl=en) extensions does not function properly in Brave. It seems that it requires an _browser_ email sign-in specifically. Since Brave does not offer to "sign into your browser" the way Chrome does, it throws an error:

![image](https://user-images.githubusercontent.com/32990

[2019-07-09 23:19] Brave-Matt commented on #902
User reporting fox news video play back issue:
https://community.brave.com/t/on-the-fox-news-website-videos-arent-playing/69496

[2019-07-09 23:21] #4980 closed

[2019-07-09 23:25] tomlowenthal commented on #4751
I think this is the same work as in #4285 — fundamentally, they're both about unifying the experience and state between Shields and the native Chromium site settings and managers.

[2019-07-09 23:25] #4751 closed

[2019-07-09 23:51] szaimen commented on #4364
Any update on this?

[2019-07-09 23:59] cezaraugusto opened #5198 "Sync: move components from brave-ui to brave-core"
(details here adapted originally from https://github.com/brave/brave-browser/issues/5178)

Sync components are specific to brave-core. It will be more productive to have these inside the brave-core repo rather than in a separate repo (brave-ui).

Reasoning and steps explained in https://github.com/brave/brave-browser/issues/2335

## Test Plan
- Open Sync
- Check renders and no console errors

[2019-07-10 00:26] karenkliu opened #5199 "customization panel should not be open by default on New Tab page"
## Description
Currently, the customization panel is open by default on New Tab page.
<img width="1509" alt="Screen Shot 2019-07-09 at 5 24 04 PM" src="https://user-images.githubusercontent.com/2388823/60931439-771cf700-a26e-11e9-9cfe-742866dcc364.png">

Fix this so that the panel is not open by default.

[2019-07-10 00:54] #4312 closed

[2019-07-10 00:54] imptrx commented on #5199
The first time someone opens NTP the settings menu would be off. I believe the current behavior you are experiencing is:
- you visit NTP
- the settings menu is turned on
- you don't close it via clicking outside/button toggle
If that's the case, the menu would persist over to the next NTP session.
If we don't want to preserve the last session of NTP, that would be a different issue altogether, cou

[2019-07-10 03:51] themattgabriel opened #5200 "Making backup for Brave config/profiles (Windows)"
This is _not_ an issue. I'm using Windows 10. I only have the following questions:

- Is `%USERPROFILE%\AppData\Local\BraveSoftware` the correct path for where the Brave browser config/profiles live?
- If that's the correct path, can I make a copy of everything in that directory as backup?
- Since Brave is Chromium-based, does it have any `Singleton*` files?
- If it does have `Singleton*` files, w

[2019-07-10 04:00] GeetaSarvadnya commented on #4220
Verification passed on

Brave | 0.67.105 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the STR from the description

[2019-07-10 04:23] pitsi commented on #5156
The package base-files was updated today, for the first time after the release of debian 10, and it now /etc/os-release contains only these :(
[code]

[2019-07-10 07:42] simonsan commented on #4412
I added an answer there to manually export opened tabs from mobile android devices:
https://android.stackexchange.com/a/214518

While I had **650 open tabs** on my smartphone that needed to be manually "synchronized", I want to add a point to this issue:
Please **don't implement** something that automatically opens your tabs from another device. I think it makes sense to be able to chose what tab

[2019-07-10 09:02] tmancey commented on #4340
@LaurenWags @mandar-brave @jsecretan @GeetaSarvadnya @alexwykoff I agree Ads being turned off was a bug but another ticket was created. However if a user did turn off ads, should they not still received ad grants for previous rewards? As if so, this ticket can be closed

[2019-07-10 09:18] tmancey commented on #4627
@LaurenWags This ticket will be superseded and subsequently fixed by #4383, are you happy for us to close this ticket please?

[2019-07-10 09:23] tmancey commented on #4190
@anthonypkeane this ticket will need resolving to fix localization issues on the next uplift from brave-core to android

[2019-07-10 09:23] tmancey commented on #4861
@anthonypkeane this ticket will need resolving to fix localization issues on the next uplift from brave-core to android

[2019-07-10 09:58] ryanbr commented on #3348
I'll take another look in the next few days (not easy since youtube uses many adservers), but will probably be fixed in adblock-rust.

[2019-07-10 10:56] ryanbr commented on #902
I thought foxnews this was fixed, okay this will need a bit to debug.

[2019-07-10 11:26] tmancey commented on #4404
@LaurenWags This ticket will be superseded and subsequently fixed by #4383, are you happy for us to close this ticket please?

[2019-07-10 11:42] tmancey commented on #3890
@tomlowenthal this will be implemented as part of https://github.com/brave/brave-browser/issues/4047. Are you happy for me to close this ticket? Thanks

[2019-07-10 11:47] simonhong opened #5201 "Unit tests failure - Check failed: false. Trying to write an unregistered pref: brave.webtorrent_enabled"
[code]
5 tests crashed:
[code]

[2019-07-10 13:05] kjozwiak commented on #1380
@josegocampo are you still having issues with `0.66.99 CR: 75.0.3770.100`? I just tried using https://chrome.google.com/webstore/detail/evernote-web-clipper/pioclpoplcdbaefihamjohnefbikjilc with both Email and Google logins and everything seemed to be working while using the default shield settings. I was able to save several articles as screenshots, pages, clips etc.. Example:

<img width="688" a

[2019-07-10 13:08] LaurenWags commented on #4627
sure @tmancey  - if we're doing additional notifications per https://github.com/brave/brave-browser/issues/4383 then I think this can be closed.

[2019-07-10 13:08] #4627 closed

[2019-07-10 13:09] LaurenWags commented on #4404
Closing per @tmancey comment above - issue is to be superseded/fixed by https://github.com/brave/brave-browser/issues/4383

[2019-07-10 13:09] #4404 closed

[2019-07-10 13:22] samc05 opened #5202 "Detailed Ad Rewards Summary Log"
## Description
As a user, I wish to be able to view a detailed log of each advert that appears on my screen. This log would detail the date and time the advert was displayed and the reward received for the advert.

I have found that around payout time, the Estimated pending rewards is not consistent.
For example:
4th of July, Estimated pending rewards is 15.6 BAT.
5th of July, Paid out 12.55 BAT,

[2019-07-10 14:09] srirambv commented on #3538
+1 from @samc05 via https://github.com/brave/brave-browser/issues/5202 for showing Ad Rewards Summary Log

[2019-07-10 14:13] LaurenWags commented on #3175
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/1528
* Verified AC, recurring tips, and one time tips are added to the table and displayed.
* Verified for regular sites, YT channels,

[2019-07-10 14:35] LaurenWags commented on #3657
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2199
* Also verified that excluding a site from panel adds site to the excluded list. Toggling site to include in the panel removes fr

[2019-07-10 14:38] LaurenWags commented on #4489
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified STR from description

[2019-07-10 15:00] kjozwiak commented on #4279
@bsclifton not sure if helpful, but here are my results on two different machines which had similar scores. I didn't see any large discrepancies between the two browsers on those particular machines. Probably related to GPU drivers as you pointed out above:

`macOS 10.14.5` using `Radeon Pro 560 4 GB` & `Intel HD Graphics 630 1536 MB` Results:

* `0.69.48 CR 75.0.3770.100` (default settings) --> *

[2019-07-10 15:18] FWDekker opened #5203 "Broken links in README"
## Description
The README contains two broken links in the "Community" section. The sections on the community forum that they link to no longer exist.

[2019-07-10 15:36] #5201 closed

[2019-07-10 15:38] kjozwiak commented on #1274
This has been merged/fixed a while ago and released in `0.59.x`. The current release is on `0.66.99` so it's been a while. Definitely possible that this might have regressed on certain distro's.

@ryanmusante & @davemint which distro's are you two using?

[2019-07-10 15:49] davemint commented on #1274
Manjaro 18.0.4

[2019-07-10 15:51] ghost opened #5205 "Ad notifications should be clearly marked to identify Brave Ads"
## Description

As a User I want to identify Brave Ads as such, and have easily accessible help and unsubscribe links.

## Steps to Reproduce

   1. Enable Brave Ads
   2. Receive Brave Ad Notification in Windows 10
   3. Open the Notification Bar

## Actual result:

![image](https://user-images.githubusercontent.com/632448/60983841-b13ad700-a308-11e9-980d-db8038c3f8e6.png)

Sidebar:
![image](http

[2019-07-10 16:02] ryanmusante commented on #1274
Manjaro 18 (testing branch)

[2019-07-10 17:28] bridiver commented on #2631
This is fixed as far as I can tell

[2019-07-10 17:36] tomlowenthal commented on #2631
Well, if you think it's fixed, that sounds good to me.

[2019-07-10 17:36] #2631 closed

[2019-07-10 17:43] #1530 closed

[2019-07-10 17:47] tomlowenthal commented on #5197
Brave isn't going to support this extensions feature since it relies on browser integration with Google accounts, which we're not going to build.

[2019-07-10 18:10] rebron commented on #5199
@imptrx That's the case. Don't preserve the last session of the settings menu when user opens up a new tab page. Should always show closed.

[2019-07-10 18:19] LaurenWags commented on #4975
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2772
* Verified on clean and upgrade profiles
* Verified formatting uses `Aug 5` for US and `5 Aug` for UK locales.
US:
![Screen Shot

[2019-07-10 18:26] LaurenWags commented on #4650
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified STR from description
![Screen Shot 2019-07-10 at 2 24 50 PM](https://user-images.githubusercontent.com/28145373/60994484-9f642e80-a31e-11e9-806c-8fcf582e7291.png)
![Screen Shot 2019-07-10 at

[2019-07-10 18:30] LaurenWags commented on #4559
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified STR above and test plan from https://github.com/brave/brave-core/pull/2503

[2019-07-10 19:57] imptrx commented on #5199
Test Plan:
1. Open new tabs page
2. Open customization menu at the bottom right corner
3. Open another NTP and assert customization menu is closed
4. Close browser with customization menu open; NTP on a fresh browser instance should be closed

[2019-07-10 20:02] LaurenWags commented on #4519
Verified .pkg files exist for Nightly, Dev, Beta. Downloaded latest .pkg and verified that expected version was installed. However, for Nightly, Dev, Beta each time the .pkg was installed, an extra `Brave` folder was created under `BraveSoftware` (`~/Library/Application Support/BraveSoftware`) which contained a `promoCode` file. This was unexpected - should this be occurring? This does not happen

[2019-07-10 20:14] PhilT commented on #4279
So, I've just run my own test on my new machine and I get the same result in both Chrome, Chromium and Brave. All about 10-11fps (1 million cubes on the screen).

Kinda annoyed as the new machine, a Razer Blade Pro RTX 2060, cost a lot and is not performing the same as my 2 year old Blade 14! However, it does mean the config must be off.

I'm gonna have a dig around to try to find some guides on h

[2019-07-10 20:20] petemill commented on #5199
@imptrx I suggest you use component state and not redux state for the openness of the menu, or just delete the redux property when the redux state is saved to localStorage

[2019-07-10 20:25] LaurenWags commented on #4167
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2491
![Screen Shot 2019-07-10 at 4 23 51 PM](https://user-images.githubusercontent.com/28145373/61002323-4ea90180-a32f-11e9-9a90-8fed8

[2019-07-10 20:32] LaurenWags commented on #4351
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2491
gif of when site is verified after checking:
![4351](https://user-images.githubusercontent.com/28145373/61002760-456c6480-a330-11

[2019-07-10 20:41] LaurenWags commented on #4162
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2491
* Verified panel now says 'Refresh Status' instead of 'Check again...'
* Verified 'Refresh Status' is grouped with site status in

[2019-07-10 20:46] Brave-Matt commented on #4049
I have some users still reporting this (or very similar) issues on other sites -- namely inc.com
User reports:
https://community.brave.com/t/page-rendering-bug-mac/69610/2
https://community.brave.com/t/when-scrolling-down-in-a-inc-com-article-of-an-particular-author-the-web-page-goes-blank/37455/11

[2019-07-10 20:51] #1196 closed

[2019-07-10 20:51] #4953 closed

[2019-07-10 20:52] rossmoody commented on #930
For QA, this is the latest design mockup I can find for this initiative.

![7 7 2019 - Statement Modal](https://user-images.githubusercontent.com/29072694/61004039-f87d9380-a319-11e9-97a3-8b0441a4546c.png)

[2019-07-10 20:57] imptrx commented on #5199
@petemill I currently have a "close menu" action attached to NTP component mount but I'll probably move that logic out of redux as you suggest 👍

[2019-07-10 21:05] LaurenWags commented on #4554
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2516
* Visited twitter pages listed in https://github.com/brave/brave-browser/issues/4554#issuecomment-496546410 and they displayed as

[2019-07-10 21:20] LaurenWags commented on #4232
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2453 and STR from above.

[2019-07-10 21:43] LaurenWags commented on #4386
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2428

[2019-07-10 21:45] rebron opened #5207 "hide Chromium icons and replace with Brave profile icons"
## Description
Hide Chromium icons and replace with our Brave profile icons.

## Current Experience:
Existing Chromium provided profile icons should not be displayed to our users.
![Screen Shot 2019-07-10 at 2 42 17 PM](https://user-images.githubusercontent.com/5951041/61007247-329e6380-a321-11e9-8269-96668a0def20.png)

## New Profile icons:
[placeholder, design in progress]

![image](https://user

[2019-07-10 21:50] LaurenWags commented on #4616
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2506 (using staging environment)
![Screen Shot 2019-07-10 at 5 47 49 PM](https://user-images.githubusercontent.com/28145373/61007509-f

[2019-07-10 21:56] LaurenWags commented on #4602
Verified passed with

Brave | 0.67.106 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2504
![Screen Shot 2019-07-10 at 5 53 40 PM](https://user-images.githubusercontent.com/28145373/61007890-08a66a80-a33c-11e9-93f2-dfd2b

[2019-07-10 22:04] petemill opened #5208 "Release build fails locally when brave-browser has version mismatch with brave-core"
We only enforce this for Release builds, but I think the aim was to enforce it for the CI environment. There are many reasons to perform a Release build locally, which do not negate the need to be OK with version mismatches, like we are with debug builds locally.

Plus, if we every do a Debug build on the CI environment, we won't be failing that either.

[2019-07-10 22:04] #3824 closed

[2019-07-10 22:08] PhilT commented on #4279
Okay, so I'm a bit of an idiot and forgot to set nVidia as the card to use when running Chrome/Brave. So now I'm getting around 30fps on all 3 browsers with Chromium actually hitting about 33-34 oddly.

This is still less than my other machine which technically has an older, slower(?) graphics card. 10-15fps is still a pretty big gap so I'll do some more digging when I have time.

[2019-07-10 22:19] LaurenWags commented on #4583
@NejcZdovc to confirm, even if the twitter user you're trying to tip has a custom banner, in this case you still want it to show the default text?  Here's what I'm doing:
(using staging)
1. Navigate to https://twitter.com/bravelaurenwags/status/1131664248856354816
2. Click on in-line tip button
3. See this banner - note, it shows default text in the body (text from #4616)
![Screen Shot 2019-07-10

[2019-07-10 22:33] jdkuki opened #5210 "Refactor LoadLedgerState and LoadPublisherState to use Callback"
## Description

Refactor LoadLedgerState and LoadPublisherState to use Callback
Blocks brave/brave-browser#5134
## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta chan

[2019-07-10 23:15] rebron opened #5211 "Add ability to edit profile in settings"
## Test plan
1. Visit chrome://settings/
1. Verify there is a section like `Profile name and icon` at the top
1. Click it; it should take you to edit profile screen

## Description
Add the ability to edit profile in Settings. Create a brave://settings/editProfile page that allows users to edit their profile name and choose a Brave icon/avatar.

In the Getting Started section of Settings, add the o

[2019-07-10 23:39] petemill commented on #4992
@rebron @rossmoody when reviewing the PR I had some notes about the UX / spec for this and maybe simplifying. I'm semi-concerned about getting in the state where a percentage of users have unnecessarily overridden the 'Same as xyzOS' feature.

https://github.com/brave/brave-ui/pull/512#issuecomment-510268430

[2019-07-11 00:17] rebron opened #5212 "Add Profile Manager items to App menu"
## Description
Add Profile Manager items to the hamburger menu.
1) 'Create New Profile' -> creates a new profile and launches into brave://welcome with that new profile.
2) 'Open Guest Window' -> launches into a new Guest Window

## Design
![browser_menu](https://user-images.githubusercontent.com/5951041/62468704-abce9080-b7d1-11e9-92a8-14157fe6a865.png)

[2019-07-11 00:36] rebron opened #5213 "update profile manager menu"
## Description
Update profile manager menu.
1) Remove Passwords, Payment methods, Addresses and more
~2) Add 'Create New Profile' -> creates new profile and launches into brave://welcome~ https://github.com/brave/brave-browser/issues/5834
3) Replace 'Manage People' label with 'Manage Profiles'
4) Remove 'Open Tor Window'

## Design
![image](https://user-images.githubusercontent.com/5951041/6101384

[2019-07-11 01:44] simonhong commented on #5186
`SDK 10.0.18362.0` became a requirement for C77. (https://chromium.googlesource.com/chromium/src/+/d99198809d972d29323d71b347ab96e82f6a425a%5E%21/#F0) and our forked-omaha isn't built properly with that SDK.

[2019-07-11 02:47] GeetaSarvadnya commented on #5165
Closing the issue. I was in the wrong assumption that the blog post videos should also get added to a-c table. Clarified with @LaurenWags as well. Thanks!

[2019-07-11 02:47] #5165 closed

[2019-07-11 02:51] GeetaSarvadnya commented on #5166
Closing the issue. I was expecting the blog post video pubs name displayed in BR panel, clarified it with @LaurenWags. Thanks.

[2019-07-11 02:51] #5166 closed

[2019-07-11 02:53] GeetaSarvadnya commented on #5167
I was sending tips to the blog post videos and expecting two diff pubs name in Tips panel. Clarified with @LaurenWags. Closing the issue.

[2019-07-11 02:53] #5167 closed

[2019-07-11 04:39] #5200 closed

[2019-07-11 05:45] bsclifton commented on #5200
- on Windows, that path is correct - there will be a folder in that path for the specific version of Brave you're using (ex: release channel is `brave-browser`, nightly channel is `brave-browser-nightly`). Backing this up is a great idea 😄

- Yup- there will be `Singleton*` files, just like Chrome

- Singleton* files are at the root of the folder. For example, `%USERPROFILE%\AppData\Local\BraveSof

[2019-07-11 06:08] Binklebonk commented on #4764
I've been using the Nightly build (0.69.44) for a few days now.  This issue is resolved for me.  Nightly is actually more stable than Release for me at the moment because of this issue.

[2019-07-11 06:53] bsclifton commented on #4764
Thanks for confirming, @Binklebonk! 😄

@Helldembez @chrisknepper - if you're still using Brave and the crash is fairly easy to trigger, can you please try either Nightly or Dev channel and report back?
https://brave.com/download-nightly/
https://brave.com/download-dev/

[2019-07-11 06:59] PhilT commented on #4279
So this is better.
* 1223.25 on Brave Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
* 1204.01 on Brave Version 0.69.44 Chromium: 75.0.3770.100 (Official Build) nightly (64-bit)
* 1227.03 on Chromium 75.0.3770.100

I'll run some more tests and grab some averages.

[2019-07-11 08:00] GeetaSarvadnya opened #5214 "date format is not as expected for Locale UK"
## Description

date format is not as expected for Locale UK

## Steps to Reproduce

   1.  Clean profile `0.67.106`
   2. Change the locale to UK in `Region & Language` settings
   3. Launch the browser
   4. date format is displayed as `Aug 5` instead of `5 Aug` in Ads panel, Auto contribution panel and Tips panel

## Actual result:

date formate is displayed as `Aug 5`
![image](https://user-ima

[2019-07-11 08:56] tmancey commented on #5214
Locale is based off the browser locale and not the system locale, @GeetaSarvadnya can you please recheck and close as a non issue if you agree, thanks

[2019-07-11 09:09] GeetaSarvadnya commented on #5214
Got confused with OS locale and browser locale. Working as expected hence closing the issue.

@tmancey Thanks for the clarification!

![image](https://user-images.githubusercontent.com/38657976/61037936-b0c63d00-a3e9-11e9-8b73-25af72039cae.png)

Thanks1

[2019-07-11 09:09] #5214 closed

[2019-07-11 09:13] wooque opened #5215 "Elements not blocked by selector when tab loaded in background"
## Description
Elements that are blocked by selector are blocked if tab is loaded in current tab, but not if tab is loaded in background.

## Steps to Reproduce

   1. Block any element via selector on any page
   2. Bookmark page
   3. Open that bookmark with 'Open link in new tab'

[more detailed STR in PR]

## Actual result:
Element not blocked when tab opened in background

## Expected result:

[2019-07-11 09:27] ryanbr commented on #4914
@TheAresjej does this occur still? Just tested from an EU IP, in a private window. Seems to be fine, no lockups so far.

[2019-07-11 09:28] pietsnot123 commented on #1052
Identifying as Brave instead of generic Chrome would make my browser much more unique. In fact, I consider even leaking my operating system (Linux) as a problem as it has a market share below 5%. I currently work around this using a header modifyer-extension to identify as the most normal Chrome/Windows combination.

Brave should have an option to always serve a User-Agent string that pretends to

[2019-07-11 10:20] ryanbr commented on #4496
Just revisited this, seems to be fixed? @Miyayes  Just tested in Brave Release and Nightly. seems to play well with cookies now.

[2019-07-11 11:26] Helldembez commented on #4764
I will test it when I have the time. Will report back with the result.

[2019-07-11 11:57] PhilT commented on #4279
I've run the benchmark a few more times and I'm getting consistently lower scores on the nightly build than either Brave stable or Chromium. However, the numbers do vary a bit (lows of 1195 on Nightly and highs of 1327 on stable). However, maybe those optimisations are helping some GPUs and hindering others.

[2019-07-11 12:23] cezaraugusto opened #5216 "Welcome Page: move components from brave-ui to brave-core"
(details here adapted originally from https://github.com/brave/brave-browser/issues/5178)

Welcome page components are specific to brave-core. It will be more productive to have these inside the brave-core repo rather than in a separate repo (brave-ui).

Reasoning and steps explained in https://github.com/brave/brave-browser/issues/2335

## Test Plan
- Open Welcome Page
- Check renders and no cons

[2019-07-11 13:06] LaurenWags commented on #5165
I see the same as @NejcZdovc - videos from blogs are being added to my ac table.

[2019-07-11 13:15] NejcZdovc commented on #4583
title is different yes if you tip from inline tip or from panel tip

[2019-07-11 13:28] LaurenWags commented on #4583
ok, thanks!

[2019-07-11 14:47] kjozwiak commented on #4519
Seeing the same thing as @LaurenWags, example:

* ~/Library/Application\ Support/BraveSoftware/Brave/promoCode --> Browser-Nighyly (`0.69.52 Chromium: 75.0.3770.100`)
* ~/Library/Application\ Support/BraveSoftware/Brave/promoCode --> Browser-Dev (`0.68.99 CR: 75.0.3770.100`)
* ~/Library/Application\ Support/BraveSoftware/Brave/promoCode --> Browser-Beta (`0.67.107 CR: 75.0.3770.100`)

@aekeus seem

[2019-07-11 14:54] morriswinkler commented on #5073
Is it possible to enable fingerprinting for only one site?

[2019-07-11 15:09] kjozwiak commented on #930
@mandar-brave @jenn-rhim is the above mockup that @rossmoody mentioned in https://github.com/brave/brave-browser/issues/930#issuecomment-510224549 the latest design that will be used? Or is there something newer?

[2019-07-11 15:17] #4914 closed

[2019-07-11 15:20] LaurenWags commented on #4593
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified no in-line tip button on Twitter for both private and Tor windows.
* Verified there is in-line tip button on Twitter for normal windows.

[2019-07-11 15:20] kjozwiak commented on #5168
@GeetaSarvadnya can you go through this one as well and do a quick double check? Noticed that a few other ones were closed due to using blog post links as @NejcZdovc mentioned above.

[2019-07-11 16:20] kjozwiak commented on #3491
Just curious, do you mean the Brave session manager or a third party extension?

[2019-07-11 16:21] LaurenWags opened #5217 "creator name and favicon not showing on panel and brave://rewards page"
## Description
Structure of YT channel page changed, so in some cases YouTube publisher/creator name and/or favicon are not displaying on the panel and brave://rewards page (AC and tips tables).

## Steps to Reproduce

Scenario 1
   1. Clean profile
   2. Enable Rewards (I used staging).
   3. Navigate to https://www.youtube.com/channel/UCD7siefto4I33L4U61IU5LQ
   4. Click on BAT logo. Publisher n

[2019-07-11 16:23] Kinantb commented on #3491
Third party

[2019-07-11 16:26] lidel opened #5218 "Improving UX of IPFS in Address Bar"
# UX challenges

Loading IPFS from public gateways falls under regular HTTP/HTTPS and that is okay.
However when user is running  IPFS node on their own machine (provided by [ipfs-desktop](https://github.com/ipfs-shipyard/ipfs-desktop) or [experimental embedded js-ipfs+chrome.sockets](https://github.com/ipfs-shipyard/ipfs-companion/issues/716)), they effectively replace HTTP with IPFS transport an

[2019-07-11 16:55] kjozwiak commented on #5202
Going to close this off as we're already discussing internally on adding more logging information into the browser to make debugging easier for Rewards/Ads. @srirambv added a +1 under #3538. @samc05 please feel free to add your concerns/request into #3538.

[2019-07-11 16:55] #5202 closed

[2019-07-11 17:04] kjozwiak commented on #4340
@tmancey agreed about users still receiving ad grant notifications for previous reward earnings even though they have ads disabled, but I think the above issue is about the `Turn on Ads` notification appearing after several upgrades even though the user dismissed the notification on a previous upgrade. We shouldn't be asking users to turn on ads every time they upgrade. However, it doesn't seem li

[2019-07-11 17:13] LaurenWags commented on #4597
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2502
* Encountered already logged issue https://github.com/brave/brave-browser/issues/4586 when checking that tweeting about YT and Tw

[2019-07-11 17:18] LaurenWags commented on #4555
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2495
Tweet generated with tipping Twitter user from panel:
![Screen Shot 2019-07-11 at 11 31 26 AM](https://user-images.githubusercont

[2019-07-11 17:41] tomlowenthal commented on #5073
Yes, when you change a Shields preference in the panel, that's just for the site you're visiting.

[2019-07-11 17:49] LesterCovax commented on #209
The following settings work for me in `Chrome 75.0.3770.100`, but _**do not**_ work in `Brave Dev: 0.68.99 Chromium: 75.0.3770.100`.  This is with a variety of cast devices (Cast [audio] Group, Chromecast Ultra via ethernet, Chromecast Audio, Home Mini, Home, Home Max, and even a Fire TV Edition via ethernet), with most devices in different VLAN/subnets (`10.0.0.x/24` vs `10.0.2.x/24` VLAN), with

[2019-07-11 18:19] Brave-Matt commented on #1889
+1 community:
https://community.brave.com/t/no-more-saving-shield-preferences-per-site-re-open-nov-2018-posting/69622/3

[2019-07-11 18:24] LaurenWags commented on #4393
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2195
* Verified tweet button appeared on thank you banners after tipping regular sites, YT, Twitch, and Twitter. (screenshots in https

[2019-07-11 18:29] ToddAndMargo opened #5219 "file open"
Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)

Not to make too stupid a request , but I really, really, really need a “Open File” button somewhere, anywhere.   I have TONS of html files on my hard drive that I need to read.

[2019-07-11 18:30] EyanGoldman opened #5220 "Volume change on windows 10"
## Description

Additional panel shows on windows machines which take up a lot of screen real estate while watching videos. This should ideally be removed.
See:
https://www.reddit.com/r/brave_browser/comments/cbx93y/posting_again_anyone_else_having_this_problem_not/
https://www.reddit.com/r/brave_browser/comments/bplq1o/option_to_remove_windows_10_volume_osd_overlay/

## Steps to Reproduce

   1.

[2019-07-11 18:40] LaurenWags commented on #4514
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2468

[2019-07-11 18:42] mbacchi opened #5221 "Update brave-core DEPS to use digicert signing server"
The verisign signing server has become unresponsive, causing builds to fail. We updated this in our build pipeline, but the Omaha build hardcodes it still. We will bump the DEPS to use the commit with this fix.

[2019-07-11 18:46] #5221 closed

[2019-07-11 18:49] #5083 closed

[2019-07-11 19:04] LaurenWags commented on #4346
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2195

[2019-07-11 19:04] mkarolin opened #5222 "Follow up on comments for c76 update."
See comments in brave/brave-core#2892.

[2019-07-11 19:18] morriswinkler commented on #5073
thanks

[2019-07-11 19:31] LaurenWags commented on #3422
Verified passed with

Brave | 0.67.107 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2260
* Verified embedded video from https://github.com/brave/brave-browser/issues/3988 works

[2019-07-11 19:33] bsclifton commented on #1025
+1 from https://github.com/brave/brave-browser/issues/5073

There is a possibility we could have a more obvious UX to let people know device recognition was blocked and may be affecting their experience

[2019-07-11 19:39] ryanml opened #5223 "Remove TOS checkboxes from onboarding process, settings page in crypto wallet"
The MM TOS should not be referenced/displayed

[2019-07-11 19:40] #5223 closed

[2019-07-11 19:55] fmarier opened #5224 "Add a way to forget "Shields Down" on exit"
@BrendanEich mentioned that he forgot a site on "Shields Down" and so didn't think of reporting it as a webcompat bug. If we had an option to clear the "Shields Down" state at browser exit, we could ensure that this doesn't happen and that we more easily notice the unfixed webcompat issues.

Maybe that could be added to Clear Private Data on exit:
![Screenshot from 2019-07-11 12-53-29](https://use

[2019-07-11 20:21] bsclifton commented on #5224
@fmarier it should be part of Site Settings already. Do you think having a more granular option makes sense?

[2019-07-11 20:23] rebron commented on #5219
@ToddAndMargo Are you coming from Firefox? Ctrl+O or CMD+O doesn't sound like that works for you? Same with dragging and dropping files into the browser window to open?

[2019-07-11 20:29] bsclifton commented on #4914
cc: @btlechowski to verify (not tied to a milestone, since it was done via adblock-list update)

[2019-07-11 20:53] rebron commented on #4865
This should be fixed with the next translation pull. cc: @mkarolin

[2019-07-11 20:58] rebron commented on #4861
@NejcZdovc We're not seeing this string in transifex to be localized.

[2019-07-11 21:00] #4496 closed

[2019-07-11 21:01] bsclifton commented on #4496
Closing - @Miyayes please re-open if issue persists after update 😄

[2019-07-11 21:10] ToddAndMargo commented on #5219
<Ctrl><O> does work.  And since the function works, now all we need is "File Open  Ctrl+O" somewhere in the hamburger (Customize and Control Brave).

Thank you for the work around whist we wait for the correction.

[2019-07-11 21:16] realisation commented on #464
Yes this would be excellent.

[2019-07-11 21:17] #5203 closed

[2019-07-11 21:19] fmarier commented on #5224
Ah interesting. It does seem to work, however I note two things:

- Clearing "Site Settings" also removes Slack's desktop notifications permission.
- The number of sites underneath the "Site Settings" heading does not include any settings from Shields. For example, in my case, it showed "1 site" whereas it should have been 2 (slack permission, override for `gs.statcounter.com`).

[2019-07-11 21:19] mkarolin commented on #4865
@rebron the localization files pulled in with c76 do have it translated. So should be in the master/Nightly at this point.

[2019-07-11 21:20] fmarier commented on #5224
I will file a separate issue for the counter, but we can close this one as a dupe of #3926.

[2019-07-11 21:20] #5224 closed

[2019-07-11 21:23] #4865 closed

[2019-07-11 21:26] bsclifton commented on #5190
I get this one all the time - it should work if you go shields down. Basically, it seems to happen when eBay needs to resize the image (ex: if you upload a smaller image, it should work fine)

@ChildishGiant can you try toggling shields to narrow down what is causing the problem? ex: is it HTTPS upgrading that is blocking it?

[2019-07-11 21:28] bsclifton commented on #884
@taylormade2k you are definitely welcome to try our Nightly version - it should be fixed there 😄
https://brave.com/download-nightly/

[2019-07-11 21:31] bsclifton commented on #5063
It should be happening on macOS too - I know I was getting it (along with others)

[2019-07-11 21:34] atsyed87 commented on #4870
This should be fixed now the next time we pull from Tfex -- I re-reviewed the string and removed the ellipsis that was being displayed as a unicode character.  Will leave issue open until we confirm it's fixed. cc @NejcZdovc

[2019-07-11 21:35] fmarier opened #5225 "Shields site settings are not included in the "site settings" counter"
## Description
The number of sites shown under "Site Settings" in the Advanced tab of `chrome://settings/clearBrowserData` does not include any Shields override added by a user even though those will get cleared.

## Steps to Reproduce

1. Open `chrome://settings/clearBrowserData` and clear Site Settings in Advanced (All time).
2. Open Slack and give it the permission to do desktop notifications.

[2019-07-11 22:01] rebron commented on #5035
Doesn't affect macOS. Reproducible on Windows 10 though.

[2019-07-11 22:13] #4706 closed

[2019-07-11 22:14] rebron commented on #4760
Closing. Version 0.69.54 Chromium: 76.0.3809.62 (Official Build) nightly (64-bit)

[2019-07-11 22:14] #4760 closed

[2019-07-11 22:15] bsclifton commented on #688
cc: @rebron RE: making full installers available (they're already available on GitHub at https://github.com/brave/brave-browser/releases, but it takes some work to find the one you need)

[2019-07-11 22:23] bsclifton commented on #5098
@simonhong does dark mode not work on Linux? I thought the Polymer pages would properly get the setting on all platforms... starting with Chromium 75?

The rewards page for sure is not done, but that is captured with https://github.com/brave/brave-browser/issues/4229

[2019-07-11 22:26] bsclifton commented on #2300
@rauldipeas you can try creating that file (`/etc/chromium-browser/default`) or also trying to create `/etc/brave-browser/default`. It should work, if Chromium supports it

I've used the solution @maximbaz shared in the past personally

[2019-07-11 22:26] #2300 closed

[2019-07-11 22:27] bsclifton commented on #2300
Closing as I think the question is answered? Please re-open or just post again if the above doesn't work and we can help from there 😄

[2019-07-11 22:27] bsclifton commented on #403
@sys9kdr please do

[2019-07-11 22:28] #5018 closed

[2019-07-11 22:28] bsclifton commented on #5018
Closing as there isn't enough info to be actionable

[2019-07-11 22:28] simonhong commented on #5098
@bsclifton On linux, only our native ui dark mode works and not the webui because linux os doesn't have dark mode setting like mac/windows. But, I think I can handle it

[2019-07-11 22:29] bsclifton commented on #4681
Closing as there are not steps and OP account has been deleted

[2019-07-11 22:30] bsclifton commented on #1738
cc: @diracdeltas @riastradh-brave about the above comment RE: fingerprinting

[2019-07-11 23:07] Elektrik1 opened #5226 "[feature request] Bookmarks tab switch to feature"
I am a long-time Firefox user, finally decided to switch to Brave (Chrome seemed too slow for me) and one this really annoys me - in firefox, on middle mouse clicked Bookmarks bar item, it opens the bookmark in the new tab and switches to it immediately. In Chrome (and Brave) doing the same results in a new tab, but does not switch to it. It would be nice to have this behavior selectable, only for

[2019-07-11 23:11] bsclifton commented on #4785
@simonhong good call - I'll mark this as blocked

cc: @tomlowenthal

[2019-07-12 03:46] themattgabriel commented on #5200
Thank you for clarifying.

[2019-07-12 05:23] nishanthj6 commented on #5115
For instance, If we are going to surf for eg.: http://www.memo.tv. The extension doesn't connect to https://www.memo.tv/ with SSL enabled

@fmarier

[2019-07-12 07:52] lasombra commented on #3951
I'm seeing the same thing on Linux x86_64. In my case I'm using Fedora 30.

[2019-07-12 09:04] ChildishGiant commented on #5190
It's under 3rd-party trackers

[2019-07-12 10:08] BlockHackTk commented on #1986
Hello,

I tried different ways by following the different topics covered but I still can't launch Brave.
I run a Debian Sid on an Asus C301 chromebook with the Mate desktop using crouton. It works perfectly.
I would like to use the Beta version
I install this way:

I add:
`deb [arch=amd64] https://brave-browser-apt-beta.s3.brave.com/ bionic main`
in

and do a:
`curl -s https://brave-browser-apt-be

[2019-07-12 10:43] Alino opened #5227 "visited URL from private window is available in normal window"
Brave Version 0.66.99
MacOS Mojave 10.14.5

I have opened a url in private mode,
this URL is now available in the suggestions list from the URL bar in normal mode.

The item was not in history, but I have cleared the history for past 24 hours anyway, and restarted Brave browser. The suggestion is still in the list (private window is closed)...

How do we clear this list? I thought it was generated

[2019-07-12 11:20] webjive commented on #2025
Can confirm. Just installed Brave and the Mute/Unmute on the tab doesn't work. Had to install an extension to control this for now.

[2019-07-12 12:01] ryanbr commented on #4288
Okay, is this still an issue? If so, whats the field data i need to fill in?

[2019-07-12 12:40] LaurenWags commented on #3978
Info being gathered in this thread: https://twitter.com/dkxkee/status/1149352270942887937

[2019-07-12 13:46] brhaka commented on #5045
Do you need more info from me? How can I help?

[2019-07-12 14:40] ChildishGiant commented on #2810
I'm not having this issue (using https://beta.protonmail.com/) Have you tried disabling extensions?

Title | Value
-- | --
Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1809 (Build 17763.557)
JavaScript | V8 7.5.288.23

[2019-07-12 14:48] GeetaSarvadnya opened #5228 "Tip icon is Not appearing in the Twitter feed"
## Description

 Tip icon is Not appearing in the Twitter feed

## Steps to Reproduce

   1. Clean profile `0.67.108`
   2. Login Twitter.com
   3. Ensure that the BAT tip icon doesn't appear in the action section of any tweets
   4. Enable Brave Rewards
   5. Verify that Brave tip icons dynamically appear in the Twitter feed within a few seconds
   6. Tip icon is Not appearing in the Twitter feed

[2019-07-12 15:02] LaurenWags opened #5229 "canned tweet is listing creator twice when language is not US English"
## Description
When using Brave in a non-US country, when you select the 'Tweet' button on the Thank You banner after tipping, the canned tweet about your tip contains the creator listed twice, along with an extra 'use' (or translated equivalent).

## Steps to Reproduce

Set your region to something other than United States - Australia/Australian English will work, but also reproduced this with Be

[2019-07-12 15:10] GeetaSarvadnya commented on #5229
The issue is Reproducible on windows 10 x64 - `0.67.108` with language `Hindi`

![image](https://user-images.githubusercontent.com/38657976/61138412-1ea35f00-a4e5-11e9-8d15-0c0e3a6979fa.png)

![image](https://user-images.githubusercontent.com/38657976/61138489-3b3f9700-a4e5-11e9-8dac-0f3702545919.png)

[2019-07-12 15:16] mixedCase commented on #1535
Can we reopen this? This bug could be redefined as a branding issue or a technical problem. Truth is that this isn't truly HTTPS *everywhere* since it never tries upgrading on its own; and whenever I'm visiting less known sites (which is extremely often when it comes to local sites) they simply can't be in the list and must be probed by the browser to work just like the HTTPS everywhere extension

[2019-07-12 15:19] doom777 commented on #5207
why not?

[2019-07-12 15:38] rebron commented on #5176
cc: @posix4e Can you take a look?

[2019-07-12 15:59] GeetaSarvadnya commented on #5217
Unable to Reproduce the issue on Windows 10 x65 - `0.67.108` tested on both prod and staging environments.

[2019-07-12 16:00] rebron commented on #5219
cc: @bradleyrichter for mock, placement

[2019-07-12 16:05] rebron commented on #5225
@tomlowenthal Should we have shield settings have its own listing here instead of bundling it with site settings?

[2019-07-12 16:10] rebron commented on #5227
@Alino We do a url suggest pulling from Alexa's Top 500 sites list, is it possible that's what you're seeing and not actually the site history from your private window browsing?

We do pull from history, open tabs, and bookmarks but also from the Alexa list.

[2019-07-12 16:13] rebron commented on #5228
Duplicate of https://github.com/brave/brave-browser/issues/4548?

[2019-07-12 16:26] GeetaSarvadnya commented on #5228
@rebron yup. It's the same issue. When I log into twitter it's redirecting me to the layout which is for mobile.twitter.com there I am not able to see `Tip` icon in the twitter feed.

[2019-07-12 16:27] #5228 closed

[2019-07-12 16:38] fmarier commented on #1986
@BlockHackTk After adding the line to `/etc/sysctl.d/00-local-userns.conf`, you'll have to either reboot, or run `sysctl -p /etc/sysctl.d/00-local-userns.conf`.

[2019-07-12 16:47] #3184 closed

[2019-07-12 16:52] LaurenWags opened #5230 "contribution does not go thru in some cases - follow up to 3707, 4090"
## Description
Follow up to https://github.com/brave/brave-browser/issues/4090, https://github.com/brave/brave-browser/issues/3707 and https://github.com/brave/brave-core/pull/2208

In the issues described above, the PR made it so that if your wallet balance covers the contribution/recurring tips for verified sites, you won't get the Insufficient funds message. However, in this case your contribut

[2019-07-12 16:53] LaurenWags commented on #5230
note - I did confirm that a "normal" contribution - that is, when monthly budget and total of all recurring tips is less than wallet balance - goes thru as expected.
![contrib](https://user-images.githubusercontent.com/28145373/61144852-0bbc6a80-a4a4-11e9-90d4-f068a999a6dd.gif)

[2019-07-12 16:54] fmarier commented on #5225
There's already a bug (from Tom) for that (#3926) and if we decided to do that then we wouldn't have to fix the incorrect count.

[2019-07-12 16:56] LaurenWags commented on #4090
Verified passed with

Brave | 0.67.108 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2208
* However, even if total of auto contribute for verified pubs + total of recurring monthly tips for verified pubs is less than wa

[2019-07-12 16:56] LaurenWags commented on #3707
Verified passed with

Brave | 0.67.108 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2208
* However, even if total of auto contribute for verified pubs + total of recurring monthly tips for verified pubs is less than wa

[2019-07-12 16:58] fmarier commented on #3365
This will be fixed by moving the Disconnect rules to the EasyList format (https://github.com/brave/adblock-lists/pull/124) and removing the tracking protection component in favour of just adblock-rust.

[2019-07-12 17:04] Alino commented on #5227
It's a specific link with parameters in url not just to the domain name, so it's not coming from Alexa.
Where are the suggestions list stored? Is it clearable?
Thanks

[2019-07-12 17:05] NejcZdovc commented on #5230
@LaurenWags this is not a bug, we still didn't decide what to do with it and the current logic is correct one

[2019-07-12 17:06] LaurenWags commented on #5230
so we removed the informative notification - the one telling you why your contribution wouldn't go thru? that seems like an odd choice.

[2019-07-12 17:07] jsecretan opened #5231 "Parse version 2 of the ad catalog"
## Description
The ad server is providing a v2 of the ad catalog, with some optimization and improvements.  This story is to parse the new format, and additional uses thereof will be covered in follow up stories.

- New URL is at: https://ads-serve.brave.com/v2/catalog.gz
- Going forward, we should store etag of file and check the etag before downloading a new one
- The new file is gzipped
- The f

[2019-07-12 17:19] #2025 closed

[2019-07-12 17:20] bsclifton commented on #2025
Code merged - our next Nightly build will have this fixed 😄👍

[2019-07-12 17:22] jsecretan opened #5232 "Support priority for Brave Ads"
## Description
Certain campaigns may need to be prioritized over others for a number of reasons.  If certain campaigns have commitments attached to them and are underdelivering, they may need to serve over others available.  This is common practice in ad trafficking.

This is dependent on the completion of #5231.  On the campaign level, there is a "priority" field with a numerical value from 1-10,

[2019-07-12 17:25] petemill opened #5233 "Refactor patch for optimize_webui.py"
This script can be patched in a way to allow for further modifications to come through a brave-core config file and not the patch file itself.

[2019-07-12 17:29] LaurenWags commented on #4104
Verified passed with

Brave | 0.67.108 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2208 and STR from description

[2019-07-12 17:35] #5208 closed

[2019-07-12 17:41] jsecretan opened #5234 "Support day-parting for Brave Ads"
## Description
Certain ads make the most sense during certain parts of the day.  For instance, it may make sense to advertise restaurant chains before lunch to maximum success.

This issue is dependent on #5023

The campaign field now has a list of day parts.  If this list is empty, this can be ignored.  But if there are entries in the list, any creatives under the campaign should only be eligible

[2019-07-12 18:58] #4998 closed

[2019-07-12 20:10] ToddAndMargo commented on #5219
Most of the time.  I use a lot of browsers for various purposes

Never user drag and drop for such.  Takes too much time.

[2019-07-12 22:04] bsclifton commented on #1535
@diracdeltas should we update HTTPS Everywhere?

[2019-07-12 23:07] rossmoody opened #5235 "Update Crypto Wallet icons in settings toolbar"
Crypto Wallets is currently using settings icon. Should be updated to be a crypto wallet icon.

![image](https://user-images.githubusercontent.com/29072694/61162776-251ee000-a4bf-11e9-8d5b-e81d77bac0f0.png)

[2019-07-12 23:25] alapo opened #5236 "Downloading PDF using Keyboard Shortcut"
*Feature Enhancement Suggestion*
Love the browser, wanted to submit a request for an enhancement.
A shortcut for "Download PDF" as shown in the image below would be very useful. Not sure if anyone has accomplished a workaround using AutoHotKey.

![img](https://i.imgur.com/Ltr26YZ.png)

[2019-07-12 23:40] #5127 closed

[2019-07-12 23:41] simonhong commented on #5072
Closed because these cleanup is merged together with C76 rebase.

[2019-07-12 23:41] #5072 closed

[2019-07-12 23:43] simonhong commented on #2339
I didn't see this for a long time. if anyone can see this again feel free to reopen.

[2019-07-12 23:43] #2339 closed

[2019-07-13 01:18] ryanbr commented on #4770
Should be fixed now. closing report

[2019-07-13 05:12] jmd1011 commented on #2049
New user trying to switch -- can agree, it's very off-putting. :(

Is there no resolution?

[2019-07-13 12:06] KrackerKarakas commented on #5207
I would prefer to simply upload my own icon from my local file system. Please make this an option.

[2019-07-13 15:42] pruebaz commented on #5063
what about adding a bizzare,masochistic, hard way to disable this warning, so noob users who sideload extensions in developer mode dont get around it?

[2019-07-13 19:07] corb06 commented on #1308
Hello!

Brand new Brave user here, but why does Brave browser just respect what settings we have in Windows clock? I have set 24 hours view in Windows, but Brave wants to show a 12-hour system instead..
Other option is to just put this option in settings, so that every user can select there own preference.

[2019-07-14 01:04] frua97 commented on #3253
Cannot play videos in HD on Prime Video (amazon.com in US).

Browser: Brave Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit), shields up, scripts unblocked.

OS: Microsoft Windows 10 Pro, Version 10.0.17763 Build 17763

Turning off shields doesn't help.

[2019-07-14 03:17] chitalian commented on #3288
I am having the same issue as @jwmcintosh, but I tried uninstalling using Revo as @biff3342 suggested and reinstalling it and no pages are loading, not even the settings page.

[2019-07-14 04:57] romant commented on #4617
using Google's Maps is very choppy compared to Chrome, and even Safari

.. and this is with HW accel turned on, and shield completely down for it.

any other workarounds ?

thanks !

[2019-07-14 07:43] Alex-CodeLab opened #5238 "Strip metadata from images on download/upload"
## Description

[feature request]
Facebook, Instagram and others add IPTC Metadata in images to track user behaviour.

Since Brave-browser aims to prevent tracking, it would be a nice privacy enhancing  feature if there was an option to automatically remove this data on download ("Save Image as...")

Some info about FB IPTC: https://stackoverflow.com/questions/31120222/iptc-metadata-automatically-

[2019-07-14 08:15] dionyziz commented on #3846
Does this fix the issue with the URL bar not showing just the PDF URL also?

[2019-07-14 08:31] zehawki commented on #913
This should be a basic feature before other bells and whistles are added, since it affects usability and really isnt hard to implement. It works perfectly across FF, Opera and Vivaldi (all of which I use), and is a prime reason why I dont use rubbish Chrome. A bit shocked to see that Brave doesnt have this yet :-)

[2019-07-14 11:37] tycho01 commented on #3846
@dionyziz just upgraded to nightly, looks like it does!

[2019-07-14 12:08] traffisco opened #5239 "When installed as normal user, two windows open after install"
## Description

When installed as normal user, two brave browser windows open after install.
One welcome page window and another one with new tab.

## Steps to Reproduce

   1. Delete installed brave browser if already installed
   2. Run installer in normal user mode(I actually set the needsadmin=False parameter in the installer meta tag)

## Actual result:

Two brave browser windows open after i

[2019-07-14 13:27] JimBreton commented on #913
Fully agree.  It would be easy for someone to assume this is just a "personal preference" issue but really, I use Firefox for personal as well as work and having this cabability is an enormous **productivity** aid that is very difficult to live without in other browsers.  For me too, as a keyboard and "many tabs" junkie it's the 1 thing that is keeping me glued to Firefox.

[2019-07-14 14:04] jwmcintosh commented on #3288
I was able to complete the AV cutover early and since removing McAfee my issues are all solved. Brave seems to work as intended.

[2019-07-14 15:36] Razva commented on #1000
July 2019, still no Flatpak. Come on guys, be _Brave_ and do this for us! :)

[2019-07-14 18:17] scorpion1201 opened #5240 "Exception rules in custom filters don't work."
## Description

Exception rules in custom filters don't work.

## Steps to Reproduce

   1. Install Brave Browser.
   2. Add a exception rules in a custom filter box on `brave://adblock`
   3. Visit the site for which the custom filter was added, be still blocked!

## Actual result:

Exception rules in custom filters don't work.

## Expected result:
Exception rules work well.

## Reproduces how of

[2019-07-14 20:36] jeifour commented on #4221
I live in Germany, but my browser says that ads are not available in my country. What could the reason be?

[2019-07-14 21:43] NumDeP commented on #3700
I almost created another issue titled, 'Disabled - Continue running background apps when Brave is closed' should not display ads when the browser is closed. Which of course it does in the latest stable version I'm running 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit) on OpenSuse

[2019-07-15 01:19] MetalChris commented on #275
Yep, I want it too.

[2019-07-15 01:58] the-4-limbos commented on #3751
Brave is up to date
Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)

it is still in this version. Any ETA on when the sliding notification will be removed and replaced with an icon like the shield button next to it?

thank you and keep up the good work :)

[2019-07-15 02:06] simonhong commented on #3751
@sanford @the-4-limbos It is in dev channel (0.68.x) now :)
We are planning to release 0.68 as a stable at August 20, 2019.
Thanks for checking!

[2019-07-15 04:51] NejcZdovc commented on #5230
@LaurenWags no, we didn't remove this notification. Insufficient notification checks for an actual contribution and it doesn't just do AC amount + recurring. It actually checks for verified in AC and verified in recurring list and compare it to your balance

[2019-07-15 05:29] bsclifton opened #5241 "Lots of npm audit failures"
## Description
[code]

## Steps to Reproduce

   1. checkout `brave-core`
   2. run `npm audit`

## Actual result:
[code]

## Expected result:
no errors

[2019-07-15 05:34] #5241 closed

[2019-07-15 06:17] bsclifton commented on #5240
@scorpion1201 do you have an example of the rule you tried?

cc: @ryanbr

[2019-07-15 06:26] foxbunny opened #5242 "Unclear label for unblocking elements"
## Description

The Brave context menu says "Block element via selector". To me, a logical opposite of "block" is "unblock". Since I could not find such an item in the context menu, I looked in the settings, and on internet to no avail.

I believe it would improve discovery of the unblock functionality if it were called "Unblock blocked elements ....", rather than "Clear CSS rules ...". Also, the

[2019-07-15 06:40] GeetaSarvadnya commented on #4583
Verification passed on

Brave | 0.67.108 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2505
- Verified the STR from the description

In-line tip:
![image](https://user-images.git

[2019-07-15 06:52] erezrokah commented on #3196
I'm having the same issue of Brave stopping to show my password:
![image](https://user-images.githubusercontent.com/26760571/61199144-83c5a300-a6e5-11e9-98f5-a6db719a4f67.png)

Also, Brave offers to save passwords, but when I click `save` the password is not added to the list:
![image](https://user-images.githubusercontent.com/26760571/61199298-18c89c00-a6e6-11e9-8c4f-82559cfff319.png)

The only s

[2019-07-15 06:55] entepe85 commented on #4997
I wouldn't [trust any browser with sensitive data](https://palant.de/2018/03/13/can-chrome-sync-or-firefox-sync-be-trusted-with-sensitive-data/) and rely on tools like 1Password or [Bitwarden](https://bitwarden.com/) instead to sync my passwords.

[2019-07-15 06:56] erezrokah commented on #4061
Experiencing the same issue. Existing passwords are not shown anymore and clicking `save` doesn't add new ones.

The only solution I found is to create a new profile (Manage people->Add person) but then I lose all my existing passwords.

I'm using `Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)` on `Ubuntu 18.04.2 LTS`

[2019-07-15 07:13] bsclifton commented on #5235
@rossmoody was this closed with https://github.com/brave/brave-core/pull/2912?

[2019-07-15 09:09] simonhong opened #5243 "Follow accent color on title bar/border on Win10"
Win10 can toggle whether to use accent color on title bar and brave doesn't respect it now.
but chrome respect accent color when user choose to use it.
<img width="1413" alt="Screen Shot 2019-07-15 at 18 08 45" src="https://user-images.githubusercontent.com/6786187/61205641-9d89d900-a72b-11e9-83ec-4f08c6de591a.png">

[2019-07-15 09:18] manishmaharjan commented on #208
@bsclifton @yrliou @rebron
I wonder if this ticket should still be in open state?
Do you guys happen to have any status update so far with respect to translation providers and releasing this feature? Lots of people would really appreciate if the great work that has been done so far could be enabled in the release channel. :)
Thanks!

[2019-07-15 10:12] scorpion1201 commented on #5240
Yes, the exception rule to blocked filters on 'tv.kakao.com' is below.
``@@||t1.daumcdn.net/tiara/js/v1/tiara.min.js``

It's not working!

[2019-07-15 10:15] traffisco commented on #5239
Passing --do-not-launch-chrome to the installer(omaha server install action) solves it

[2019-07-15 10:38] sumitkumar1209 commented on #4599
Happening to me on
macOS v10.14.5

and

Brave desktop
Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)

[2019-07-15 11:19] JohnEricson commented on #4997
@entepe85 Good point and article. Still I believe it's important for Brave to have feature parity with other dominant browsers such as Chrome and Firefox. So some kind of way for syncing passwords would be useful. Perhaps Brave could just recommend extensions to a couple of third party solutions if you decide in the Sync option that you would like to sync passwords as well? Or just have an explana

[2019-07-15 11:19] GeetaSarvadnya commented on #3741
Verification passed on

Brave | 0.67.108 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2512 (Tested on staging env)

[2019-07-15 11:20] changesgnationalservice opened #5244 "Tab specific socks proxy"
## Description
Suggestion - Would the dev team be able to add in tab-specific http/socks proxy for each tab when on incognito mode?

## Steps to Reproduce
NA

## Actual result:
NA

## Expected result:
NA

## Reproduces how often:
NA

## Brave version (brave://version info)
Latest

[2019-07-15 12:01] scorpion1201 commented on #5240
@bsclifton

Yes, the exception rule to blocked filters on 'tv.kakao.com' is below.
``@@||t1.daumcdn.net/tiara/js/v1/tiara.min.js``

It's not working!

[2019-07-15 12:48] GeetaSarvadnya commented on #4757
Unable to Reproduce the issue on `Windows 10 x64 - 0.67.108` - Getting single insufficient funds notification

[2019-07-15 13:08] biffhuxtable commented on #4795
Issue still exists in latest bet, Version 0.67.107 Chromium: 75.0.3770.100 (Official Build) (64-bit). I'm on Windows 10 1809. Unlike last commenter, alt-tabbing back and forth does not fix for me.

[2019-07-15 13:54] GeetaSarvadnya commented on #4886
The issue is Reproducible on `Windows 10 x64 - 0.67.108`

![image](https://user-images.githubusercontent.com/38657976/61221360-ffe7d700-a735-11e9-8114-bcfd4747bcc8.png)

![image](https://user-images.githubusercontent.com/38657976/61221440-23ab1d00-a736-11e9-9def-f5d6c6a61519.png)

[2019-07-15 14:05] emerick commented on #4519
I think this might be fallout from brave/brave-browser#4600. In particular, it looks like the presence of a dash in the non-release package names (e.g., `Browser-Beta`) is causing the filename to be interpreted as a promo code.

[2019-07-15 15:39] rossmoody commented on #5235
@bsclifton Looks like at the moment the icon is being served in two places so I think the latest PR should close it.

[2019-07-15 15:42] Golutazem commented on #5116
The "Minimum font size" is a necessary feature -- not a bug. It can also be set by the user at
chrome://settings/fonts

[2019-07-15 16:37] petemill opened #5245 "Sync: All patches fail to apply on windows"
As reported by @emerick the following error can be experienced on Windows when applying patches, even after a full repo reset (via `npm run init`):

[code]

Looks like according to https://stackoverflow.com/questions/4770177/git-patch-does-not-apply it can be a whitespace (or line-ending?) issue.

[2019-07-15 16:49] petemill opened #5248 "npm audit is failing"
<details>
<summary>
[code]
</details>

[2019-07-15 16:53] #5248 closed

[2019-07-15 16:55] kjozwiak commented on #3253
@frua97 do you have Widevine enabled/installed by any chance? If you visit `brave://components`, do you see a `Widevine Content Decryption Module` entry?

[2019-07-15 16:55] #5245 closed

[2019-07-15 17:20] fmarier commented on #5238
Apparently [Twitter strips it out and tags the photo with "FB"](https://twitter.com/goodmachine/status/1149984419744235520).

[Removal instructions](https://twitter.com/MatthiasEberl/status/1150046677627297797): `exiftool -all= image.jpg`

[2019-07-15 17:50] corymcdonald opened #5249 "When navigating back new tab page doesn't load"
## Description

On the nightly version of Chrome
Version 0.69.44 Chromium: 75.0.3770.100 (Official Build) nightly (64-bit)

## Steps to Reproduce
   0. Open multiple new tab pages
   1. go to one of the NTP tabs
   2. search
   3. press back
   4. page like this is shown

## Actual result:
![image](https://user-images.githubusercontent.com/5459225/61237011-1161bc80-a6ff-11e9-9410-94d1ecd08f00.png)

[2019-07-15 17:53] #5235 closed

[2019-07-15 18:22] darkdh opened #5250 "various security issues in brave-sync"
[code]

[2019-07-15 18:24] bbondy commented on #5109
This is working as long as you use brave://wallet to load the extension. So closing it.

[2019-07-15 18:24] #5109 closed

[2019-07-15 18:44] ryanml commented on #5107
Closed via: 4c59c825571e1d2daec8f7155a627d46e3f37c70

[2019-07-15 18:44] #5107 closed

[2019-07-15 20:15] #5153 closed

[2019-07-15 20:17] tmancey commented on #5153
Merged with master and will be in the next nightly build, any feedback would be much appreciated

[2019-07-15 20:17] tmancey commented on #5153
Merged with master and will be in the next nightly build, any feedback would be much appreciated

[2019-07-15 20:41] #5250 closed

[2019-07-15 20:57] rebron commented on #5207
@KrackerKarakas Uploading icons or placing them in the right folder so they're picked up in the UI are options we're exploring. We know people want to be able to use their own icons/avatars.

[2019-07-15 21:03] bsclifton opened #5251 "various security issues in brave-crypto"
[code]

[2019-07-15 21:08] #5251 closed

[2019-07-15 21:53] bsclifton commented on #208
@manishmaharjan good call- I'll re-open as this is not enabled for our release channel

We're still working through the provider part - @rebron would you be able to give an update?

[2019-07-15 22:34] fmarier commented on #5238
`jpegoptim --strip-iptc image.jpg` should also work while preserving things like EXIF, XMP and ICC.

[2019-07-15 23:11] imptrx commented on #3575
I played around with this issue on:
- Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit) (aka Release)
- macOS Mojave10.14.5

With default appearance settings here is what I see as the current behavior:
- the background color that "flashes" before NTP is loaded is consistent with the currently set theme (i.e. white on light mode and dark grey on dark mode)
- if you have a custom the

[2019-07-15 23:16] bsclifton opened #5253 "Upgrade from Chromium 75.0.3770.100 to Chromium 75.0.3770.142"
## Test plan

Check branding items
Check for version bump

[2019-07-15 23:17] tmancey commented on #4221
@jeifour Could you please visit https://whatismyipaddress.com/ and let us know the region and country that is displayed, thanks

[2019-07-15 23:18] tmancey commented on #4221
Could you please visit https://whatismyipaddress.com/ and let us know the region and country that is displayed, thanks

[2019-07-15 23:20] tmancey commented on #4340
@kjozwiak This has been resolved as part of #5153. @LaurenWags could you please check this issue as part of #5153

[2019-07-15 23:23] yrliou opened #5254 "Update dependency of webtorrent and bittorrent-tracker"
https://github.com/brave/webtorrent & https://github.com/brave/bittorrent-tracker have been upgraded to upstream's latest release, this issue is to update the entry in brave-core's `package.json` to use them.

[2019-07-15 23:23] tmancey commented on #3700
I am unable to reproduce when the browser is closed, can you please provide steps, i.e. do you minimize or quit the browser and if so, where do you click the Quit option please. Thank you

[2019-07-15 23:29] feliziachen commented on #1986
https://github.com/brave/brave-browser.wiki.git

[2019-07-15 23:36] #5195 closed

[2019-07-15 23:55] tmancey commented on #3570
@jsecretan as agreed on hold, so moving to backlog

[2019-07-16 00:02] imptrx commented on #5249
Looked into reproducing the issue and it seems non-deterministic in terms of when I get the "blank" menu versus "last known state of NTP." However, it does require a multiple NTPs to be open at the same time.

Just from a glance it looks some conflict/race-condition is causing our `initialize` function not called properly when we press the back button and thus we rendering solely based on the defa

[2019-07-16 00:19] petemill commented on #5249
From what you're saying that'll most likely be caused by calling initialize only on `DOMContentLoaded`. When the JS runs, `DOMContentLoaded` may have already fired, so we would need to check if the document is ready first. Something like:

[code]

[2019-07-16 03:35] kjozwiak opened #5255 "Release checklist for 0.66.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-07-16 03:53] kjozwiak opened #5256 "Manual test run on OS X for 0.66.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests
 - [x] Media_router::DialServiceImpl should not initiate UpNP connections by default.([#5070](https://github.com/brave/brave-browser/issues/5070))
 - [x] Upgrade from Chromium 75.0.3770.100 to Chromium 75.0.3770.142.([#5253](https://github.com/brave/brave-browser/issues/5253))

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/B

[2019-07-16 03:53] kjozwiak opened #5257 "Manual test run on Win x64 for 0.66.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests
 - [x] Media_router::DialServiceImpl should not initiate UpNP connections by default.([#5070](https://github.com/brave/brave-browser/issues/5070))
 - [x] Upgrade from Chromium 75.0.3770.100 to Chromium 75.0.3770.142.([#5253](https://github.com/brave/brave-browser/issues/5253))

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/B

[2019-07-16 03:54] kjozwiak opened #5258 "Manual test run on Linux for 0.66.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests
 - [x] Media_router::DialServiceImpl should not initiate UpNP connections by default.([#5070](https://github.com/brave/brave-browser/issues/5070))
 - [x] Upgrade from Chromium 75.0.3770.100 to Chromium 75.0.3770.142.([#5253](https://github.com/brave/brave-browser/issues/5253))

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/B

[2019-07-16 03:57] alexwykoff opened #5259 "Rewards : Reddit : Tipping interaction not shown on comments if user is not logged in"
## Description
Reproduced on 0.69.44 (Nightly)

When observing the tip interaction on Reddit, it was noticed that logged out users do not see the tip interaction on comments. Logged in users can see the interaction.

## Steps to Reproduce

   1.  Visit a thread on Reddit as a logged in user.
   2.  Observe the tip interaction on comments.
   3.  Log out of Reddit.
   4. Observe the lack of tip int

[2019-07-16 06:02] kjozwiak commented on #4519
@emerick @aekeus I'm assuming this is something we want fixed before `0.67.x` moves to release?

[2019-07-16 06:03] #5253 closed

[2019-07-16 06:06] bsclifton commented on #5253
Fixed with https://github.com/brave/brave-core/pull/2926 and https://github.com/brave/brave-browser/pull/5252

[2019-07-16 06:18] NejcZdovc commented on #5217
I can't reproduce either

[2019-07-16 06:27] kjozwiak commented on #5253
Following manual passes will be used to ensure that `CR 75.0.3770.142` didn't regressing anything obvious:

* Manual test run on OS X for 0.66.x - Release Hotfix 1 (Release Channel) #5256
* Manual test run on Win x64 for 0.66.x - Release Hotfix 1 (Release Channel) #5257
* Manual test run on Linux for 0.66.x - Release Hotfix 1 (Release Channel) #5258

[2019-07-16 06:53] #5254 closed

[2019-07-16 06:54] entepe85 commented on #4997
@JohnEricson I think the latter would be a pretty practical solution as it would save the devs the headache of ensuring password security.

[2019-07-16 07:29] dynamicdolphin commented on #5153
When can we expect Ads to be available for Australia?
Still not showing, I'm running Version 0.66.99

[2019-07-16 08:26] tmancey commented on #4102
User also reported clicking on arrow thinking it would open up the ad when instead it closed the ad. This is confusing UI/UX, investigate further and discuss with UX

[2019-07-16 09:32] GeetaSarvadnya commented on #5253
Verification passed on

Brave | 0.66.100 Chromium: 75.0.3770.142 (Official Build) (64-bit)
-- | --
Revision | 8d93477bd18154c67a70a67019cb8032382c55dd-refs/branch-heads/3770@{#1160}
OS | Windows 10 OS Version 1803 (Build 17134.523)

![image](https://user-images.githubusercontent.com/38657976/61283429-bf8e6480-a7da-11e9-967a-aae01345b2ba.png)

[2019-07-16 09:43] tmancey commented on #5153
Currently this change has only be merged with Nightly, if you install our nightly build you will be able to use Ads.

[2019-07-16 09:50] dagli commented on #5194
You can click all the tabs you want to keep while CTRL is pressed, move them left and then do the "close tabs to right" thing :)

[2019-07-16 10:01] Zoktog commented on #4280
This problem is still relevant, is there any solution to this problem? Does someone do it at all?

[2019-07-16 10:42] dynamicdolphin commented on #5153
Still saying No Ads Available in Nightly 0.69.44..?

[2019-07-16 10:44] tmancey commented on #5153
Apologies I should have mention this was added to 0.69.66, so once 0.69.66 or above is available the feature will be enabled, thanks

[2019-07-16 13:13] tmancey opened #5260 "Browser crashes when toggling rewards"
## Description

Browser crashes when toggling rewards

## Steps to Reproduce

   1. Clean profile (on debug version)
   2. Enable rewards
   3. Turn off Rewards

## Actual result:

Browser crashes

## Expected result:
Browser should not crash

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

0.69.66

## Version/Channel Information:

- Can you reproduce this iss

[2019-07-16 13:21] NumDeP commented on #3700
I'm pretty sure I pressed 'Exit'.

In addition, just in case you were wondering, I also have 5 ads to be shown in an hour, monthly contribution set to lowest, minimum page time before log is at 1 minute and minimum visit for publisher relevancy is set to 1 visit.

I'd should mention that it only happened the once and felt it was worth reporting because the browser was off, not minimised. I'd updat

[2019-07-16 13:29] #5260 closed

[2019-07-16 14:07] jaminroe commented on #4024
Glad someone else reported this. Was bugging the heck outta me! 😆
@bsclifton did you discover if you were intentionally hiding this or not?

[2019-07-16 15:03] emerick commented on #4519
@kjozwiak Yes, I think that makes sense. Should be an easy fix, we just need to guard against `Browser-Beta` etc. being accepted as a valid promo code.

[2019-07-16 16:02] rivy commented on #4102
Clicking the arrow to initiate "move to the notification center" is normal.

In my experience, the usual windows notification idiom with most applications is to click on the message box to open the notification or click the arrow to dismiss it to the notification center. Clicking the upper right 'X' within the notification center should completely dismiss the notification, deleting it.

All of tha

[2019-07-16 16:25] mandar-brave commented on #4548
@emerick move this to P1; we need to hotfix this in to current release.
@NejcZdovc FYI

[2019-07-16 16:31] tmancey commented on #3700
@NumDeP thank you

[2019-07-16 16:31] tmancey commented on #4102
@rivy thank you, much appreciated

[2019-07-16 16:34] kjozwiak commented on #5070
Verification **PASSED** on `macOS 10.14.5 x64` using the following build:

Brave | 0.66.100 Chromium: 75.0.3770.142 (Official Build) (64-bit)
-- | --
Revision | 8d93477bd18154c67a70a67019cb8032382c55dd-refs/branch-heads/3770@{#1160}
OS | Mac OS X

* Went through the test case outlined under https://github.com/brave/brave-core/pull/2836
* Ensured when `Load Media Router Component Extension` was dis

[2019-07-16 16:52] kjozwiak opened #5261 "Release notes for 0.66.x Hotfix 1 (Release Channel)"
Release Notes
 - Media_router::DialServiceImpl should not initiate UpNP connections by default.([#5070](https://github.com/brave/brave-browser/issues/5070))
 - Upgrade from Chromium 75.0.3770.100 to Chromium 75.0.3770.142.([#5253](https://github.com/brave/brave-browser/issues/5253))

[2019-07-16 17:12] #5256 closed

[2019-07-16 17:50] GeetaSarvadnya commented on #5257
Looks good hence closing the issue.

[2019-07-16 17:50] #5257 closed

[2019-07-16 18:04] btlechowski commented on #5258
Verification passed on

Brave | 0.66.100 Chromium: 75.0.3770.142 (Official Build) (64-bit)
-- | --
Revision | 8d93477bd18154c67a70a67019cb8032382c55dd-refs/branch-heads/3770@{#1160}
OS | Ubuntu 18.04 LTS

[2019-07-16 18:04] #5258 closed

[2019-07-16 18:26] #3633 closed

[2019-07-16 18:26] #4852 closed

[2019-07-16 18:35] tycho01 commented on #679
`dom-distiller` can be enabled from `chrome://flags`.

[2019-07-16 18:44] #5261 closed

[2019-07-16 18:48] bsclifton commented on #4280
@Zoktog I believe because of the limitations, we're going to drop support for Cent7

cc: @jseidl for comment

[2019-07-16 18:55] bsclifton commented on #5244
cc: @riastradh-brave

[2019-07-16 19:00] fmarier commented on #5238
If we want to parse JPEG files and alter their metadata without introducing an extra C++ parser into the codebase, we should look at a Rust library like <https://github.com/kamadak/exif-rs>.

[2019-07-16 19:04] theAeon commented on #5063
Gonna pitch an idea here assuming that having a notification is a non-negotiable problem. The notification is annoying not because it exists, not because there is no way to disable it, but because it grabs the cursor focus. While I do think for average use it makes sense for it to interrupt like that as most will not be mucking around in developer mode, maybe it would make sense to have a toggle o

[2019-07-16 19:35] imptrx commented on #5249
@petemill I dug around a but further and it doesn't seem like it isn't a problem with initialize function as thought previously. It's defaulting our NTP settings to `false` because `chrome.getVariableValue(key)` is giving us `""` rather than true/false in the `PreferencesAPI`. Perhaps it's a race condition where we are requesting the preferences object from chrome before it exists?

[2019-07-16 19:46] petemill commented on #5249
@imptrx good find, we may have to convert to using the more-common way of setting properties on the webui, using loadTimeData, rather than setVariable. That will require a c++ change.

[2019-07-16 19:57] diracdeltas commented on #5193
i believe this was blocked in muon if you selected the firewall option in prefs: https://github.com/brave/browser-laptop/pull/13119

so it's a parity with muon issue

[2019-07-16 19:58] LaurenWags opened #5264 "promoCode file and Brave folder created when downloading .pkg file for channels other than Release"
## Description
Found while testing #4519 and per comment from @emerick could be related to https://github.com/brave/brave-browser/issues/4600 as well.

When Nightly, Dev, Beta are installed from .pkg file, an extra `Brave` folder is created under `BraveSoftware` (`~/Library/Application Support/BraveSoftware`) which contains a promoCode file. This shouldn't happen as per discussion on #4519.

## St

[2019-07-16 19:59] LaurenWags commented on #4519
Logged https://github.com/brave/brave-browser/issues/5264 as follow up issue, thanks @emerick 😄

[2019-07-16 20:03] mihaiplesa commented on #5177
Added this 1mo ago https://github.com/brave/devops/issues/1187

[2019-07-16 20:08] imptrx commented on #5249
I don't think I have the required depth to make that change 😞 - would you mind taking this over?

[2019-07-16 20:53] jeifour commented on #4221
For me that appears like this:

ISP: NetCologne GmbH
City: Cologne
Region: North Rhine-Westphalia
Country: Germany

The city is wrong but it's close enough and everything else is correct :)

[2019-07-16 20:59] serhangursoy commented on #4221
It's,
ISP: Deutsche Telekom AG
City: Obermenzing
Region: Bavaria
Country: Germany
However, I fixed the issue by changing my region and all date-related settings to the UK. It's really not related to IP because when my keyboard was in Turkish, but while my IP was pointing Germany, it was still not working.
But it's a really bad solution, to be honest.
I think you should let people see ads based on

[2019-07-16 20:59] LaurenWags commented on #5177
+1 from https://community.brave.com/t/brave-browser-cannot-be-opened-on-macos-catalina-because-its-not-signed/71017

[2019-07-16 21:02] LaurenWags commented on #5217
Unable to reproduce now. Possibly YT was doing some testing of this change. Closing issue for now, will reopen if it occurs again.

[2019-07-16 21:02] #5217 closed

[2019-07-16 21:08] rebron commented on #5255
Closing. Released July 16, 2019 ~1:45pm PDT.

[2019-07-16 21:08] #5255 closed

[2019-07-16 21:19] mukuld commented on #1261
+1. I have the same issue. When a computer is a part of the enterprise domain, the authentication should just work seamlessly.

I am on the latest and greatest stable version as of today: Version 0.66.100 Chromium: 75.0.3770.142 (Official Build) (64-bit)

[2019-07-16 21:36] #5184 closed

[2019-07-16 22:00] tomlowenthal commented on #4442
This will be solved with #1053 instead.

[2019-07-16 22:00] riastradh-brave commented on #4442
We concluded, on closer analysis, that this change did not actually have a meaningful effect, so this is subsumed by #1053.

[2019-07-16 22:00] #4442 closed

[2019-07-16 22:30] kjozwiak commented on #5264
@rebron probably something we want fixed before `0.67.x` moves into release. We definitely don't want the `pkg` executables creating `~/Library/Application Support/BraveSoftware/Brave` folders that include a `promoCode` file with the channel being installed. Could cause issues down the road.

[2019-07-16 23:21] funkybob commented on #5077
Two updates since opening this ticket, and just noting the issue persists...

[2019-07-16 23:52] theAeon commented on #4599
Happening on Win here

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1903 (Build 18362.239)

Others have reproduced the issues here:
https://www.reddit.com/r/brave_browser/comments/btoibq/how_do_i_stop_person_1_profile_from_creating

[2019-07-17 03:02] avoidwork commented on #1261
I forgot about this issue; I had to stop using brave because it was too intrusive.

[2019-07-17 04:33] mbacchi commented on #1194
I just noticed this on Fedora Linux, Brave Browser `Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)`.
The system seemed to hang for a few seconds (entire system not just Brave) and then when I looked in journalctl I saw many entries similar to:

[code]

I'm upgrading to `v0.66.100` now and will see if this issue returns.

[2019-07-17 05:32] rislam opened #5266 "PDF viewer URL shows chrome extension"
## Description

PDF url is adding prefix `chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/` for every PDF

## Steps to Reproduce

   1. click any available pdf for viewing i.e. https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf
   2. The URL will now become `chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/du

[2019-07-17 05:41] bsclifton commented on #5102
Updated to 0.68.x after uplift in https://github.com/brave/brave-core/pull/2933

Needed because 0.68.x also introduced adblock rust library and there are conflicts I believe when doing Cargo installs.  Failure looked like this:
[code]

[2019-07-17 05:54] #5141 closed

[2019-07-17 08:20] Savjee commented on #4858
Confirm this is still an issue on:
`Version 0.66.100 Chromium: 75.0.3770.142 (Official Build) (64-bit)`

Tested using MacBook Pro mid 2015 with this graphics config:
* AMD Radeon R9 M370X 2 GB
* Intel Iris Pro 1536 MB

[2019-07-17 09:01] jeroen7s commented on #5266
This is normal behavior because of the PDFjs plugin they use
should be gone after the switch to PDFium -> https://github.com/brave/brave-browser/issues/3846
should be in beta/stable soon

[2019-07-17 09:15] #4947 closed

[2019-07-17 09:16] #4010 closed

[2019-07-17 09:49] tmancey commented on #4221
@serhangursoy @jeifour Brave checks the operating systems setting, i.e. on macOS in Preferences and also checks the IP address location. Can you please confirm you had the locale set to Germany/German too?

[2019-07-17 09:50] Zoktog commented on #4280
very sorry. I think in 2019 this is the wrong policy. New young browser to abandon one of the platforms is to show attitudes towards users. Today it is centos7, tomorrow it will be another platform.

[2019-07-17 12:34] tmancey commented on #3116
Closing as I have not seen this issue reoccur

[2019-07-17 12:34] #3116 closed

[2019-07-17 13:03] Muhnad opened #5267 "Accessibility tab in DevTools doesn't show content"
## Description

Accessibility tab in DevTools doesn't show content, just show blink tab.

## Steps to Reproduce

   1. open DevTools
   2. select any HTML element
   3. select Accessibility tab in right sidebar.

## Actual result:

<img width="1664" alt="Screen Shot 2019-07-17 at 2 48 16 PM" src="https://user-images.githubusercontent.com/13405108/61377508-a4d3f280-a8a3-11e9-946c-84652b84b34d.png">

[2019-07-17 13:03] jeroenvisser101 opened #5268 "Pages using VWO.com for A/B testing delay before rendering"
Similar to #4402, but related to A/B testing code from VWO

## Description
Sites using VWO.com for a/b testing, when loaded with shields up, will show up as a blank page while VWO waits for its experiment code to load. Only after a set timeout (which defaults to around 2 seconds), it will show the page as a fallback.

[code]

## Steps to Reproduce
   1. Open Brave, ensure shields are up.
   2. Nav

[2019-07-17 13:38] tmancey opened #5269 "Duplicate confirmations reported from server when added to retry queue"
## Description

Duplicate confirmations when added to retry queue

## Steps to Reproduce

   1. View an ad (rewriting the response when creating a confirmation to return a 400 response status code

## Actual result:

Confirmation server returns 400 response status code (duplicate confirmation)

## Expected result:
Confirmation should succeed

## Reproduces how often:

No steps to reproduce

## Bra

[2019-07-17 13:39] mtcdood opened #5270 "Unable to preview Brave in Windows task bar"
## Description
Brave is white when covered by another window.

## Steps to Reproduce
   1. Open a page in Brave
   2. Place a maximized window over Brave
   3. Try to view the preview of Brave in the task bar

## Actual result:
The DOM render window appears as white box

## Expected result:
The DOM render window appears as the page

## Reproduces how often:
Always

## Brave version (brave://versio

[2019-07-17 14:24] jeifour commented on #4221
Thanks for the explanation. Changing the locale to Germany fixed the issue.

[2019-07-17 14:35] mixedCase commented on #4416
Hi, I've had this happen to me twice now. I do have "Continue where you left off" set and no, cookies are not lost, neither is history. In fact, the browser remembers I had two windows with different profiles open; it's just that the tabs for each window are *gone*.

This is honestly extremely awful for my workflow and if it happens again I'll just have to switch to another Chromium fork since it'

[2019-07-17 15:05] mbacchi opened #5271 "upload_to_aptly script throws error gpg: cannot open '/dev/tty'"
## Description
While publishing the release channel on 7-16-2019(look at Jenkins console for job: `job/brave-browser-linux-sign-upload/30/`) we saw the error:

[code]

This likely requires adding the flag `-batch` to the `aptly publish snapshot` command, documented [here](https://www.aptly.info/doc/aptly/publish/snapshot/).

[2019-07-17 15:25] echosa commented on #1937
Seems to be working now, at least with shields down.

[2019-07-17 15:25] #1937 closed

[2019-07-17 17:06] coleberhorst commented on #3650
still broken on Version 0.66.100 Chromium: 75.0.3770.142 (Official Build) (64-bit)

[2019-07-17 17:11] petemill commented on #3575
@imptrx if you have a moment, please test setting a background color directly on the .html file body (not via javascript) and see if that affects the color.

[2019-07-17 17:15] petemill commented on #3575
oh ignore that @imptrx just noticed there is a background-color. I suggest therefore that the fix is to keep the user's chosen light / dark initial background, and then fade in the image / gradient on top of it when it's ready.

[2019-07-17 17:41] Helldembez commented on #4764
Tested and found fixed in Version 0.68.100 Chromium: 75.0.3770.100 (Official Build) dev (64-bit)

[2019-07-17 17:41] #4764 closed

[2019-07-17 17:57] bsclifton commented on #5266
Yup- you are correct, @jeroen7s 😄 Closing as this is fixed in developer channel (will be in release/stable on Aug 20th)

[2019-07-17 17:57] #5266 closed

[2019-07-17 18:04] jonathansampson opened #5272 "Create NativeMessagingHosts Directory"
## Description
Request from the AgileBits team (https://twitter.com/dteare/status/1151548356637941762):

![image](https://user-images.githubusercontent.com/815158/61399017-9980c700-a8a3-11e9-8c7f-6c3c1c590ced.png)

## Steps to Reproduce
1. Install Brave
2. Attempt to locate the following folder: `~/Library/Application\ Support/Google/Chrome/NativeMessagingHosts/`

## Actual result:
Folder does not

[2019-07-17 18:11] bsclifton commented on #5272
We'll want a fix similar to what is done here (where directory is created if it doesn't exist):
https://github.com/brave/muon/pull/259/files

[2019-07-17 18:14] jamescoletti commented on #3253
Same issue as @frua97 but on macOS. Cannot play videos in HD on Prime Video (amazon.com U.S.)

Using latest Brave stable version as of writing:
[code]
and Widevine is enabled:
[code]

Tried with shields down, disabling HTTPS Everywhere, and other workarounds suggested above.

Weird thing is, HD works out of the box using the latest Brave Dev build, which seems to include the same version of Widevi

[2019-07-17 18:45] rebron opened #5273 "combine Trackers Blocked and Ads Blocked on NTP"
## Description
On the new tab page, Trackers Blocked and Ads Blocked should be combined into a single count and labeled appropriately. For the backend, tracking-protection lib will move into the ad-block lib so good time to simplify and relabel this metric.

## Current result:

<img width="779" alt="Screen Shot 2019-07-17 at 11 44 07 AM" src="https://user-images.githubusercontent.com/5951041/61402

[2019-07-17 18:46] rebron commented on #5273
cc: @tomlowenthal for label text for this metric.

[2019-07-17 18:53] jumde opened #5274 "npm audit failure"
[code]

### Test Plan

Specified here: https://github.com/brave/brave-core/pull/2942

[2019-07-17 18:55] jumde opened #5275 "Update the audit whitelist after #5274 is addressed"
Should be tested by `npm run network-audit` in CI

[2019-07-17 19:44] mbacchi commented on #5177
Here are the tasks I've identified for this:

- [ ] Verify we meet the requirements in the documentation section 'Prepare Your Software for Notarization'
  - [ ] Enable code-signing for all of the executables you distribute.
  - [ ] Enable the Hardened Runtime capability for your app and command line targets, as described in Enable hardened runtime.
  - [ ] Use a “Developer ID” application, kernel

[2019-07-17 19:48] mihaiplesa commented on #5177
Good plan right there. Don't think we'll go back to notarize old versions. Maybe we can try some stuff manually to get a taste. Glad we migrated all nodes to Xcode 10 months ago.

[2019-07-17 20:15] NumDeP commented on #1913
I'd appreciate it if someone else took a second look at this and perhaps apply a `feature/user-interface` label to it.

I understand it is working as intended but it is unnecessary for certain extensions and their instances to be shown in the task manager if 'Private Window with Tor' is existed and currently it doesn't allow anyone to perform easy to view tests.

Just to fill you in again, if a us

[2019-07-17 20:42] mkarolin opened #5277 "Chromium 76 upgrade broke Clear Browsing Data dialog"
## Description
Clicking on clear browsing data in the settings results in no action.

## Steps to Reproduce

   1. Open Brave
   2. Navigate to chrome://settings/privacy
   3. Click on "Clear browsing data"

## Actual result:

Nothing happens.

## Expected result:
Clear browsing data dialog pops up.

## Reproduces how often:

Always.

## Brave version (brave://version info)

Nightly (0.69.x)

[2019-07-17 20:48] tomlowenthal commented on #5273
I'd like to just collapse into "Trackers blocked".

[2019-07-17 20:51] tomlowenthal commented on #5063
Again, and I cannot emphasize this enough: this tool does not work if there are any settings which change its behavior. It seems fine to me for it not to grab focus, but I don't know how that interacts with the a11y requirements for warnings. Auto-dismiss not so much.

[2019-07-17 20:52] tomlowenthal commented on #5244
Sorry, we're not building features which put tabs in different security or privacy context. It's just too error prone, and relying on people never to make mistakes is an unreasonable ask.

[2019-07-17 20:52] #5244 closed

[2019-07-17 20:59] emerick commented on #4548
@mandar-brave It looks like promoted tweets don't contain a timestamp link, which also happens to be where we scrape the tweet ID from. We need the tweet ID in order to quote the tweet when tweeting about our tip (it may be used elsewhere too, but that was the main place I saw it being used).

I would suggest for now that we disallow tipping promoted tweets on new Twitter, as I'm not sure we curre

[2019-07-17 21:30] mandar-brave commented on #4548
@emerick i am good with getting what we can; we should get a PR out without tipping promoted tweets ATM; leave the issue open to see if we can find a fix for the remain topics.

@davidtemkin for his opinion!

[2019-07-17 21:38] rebron commented on #1551
Updated, Google Earth built with Web Assembly.
https://earth.google.com/web/?beta=1

You should be able to run Google Earth now in Brave.

[2019-07-17 21:50] #3793 closed

[2019-07-17 21:50] #965 closed

[2019-07-17 21:50] #4637 closed

[2019-07-17 21:50] #5098 closed

[2019-07-17 21:52] bsclifton commented on #965
Dupe of https://github.com/brave/brave-browser/issues/5098

[2019-07-17 21:59] SephReed commented on #3190
Just got this issue.  No response, any way it's clicked.

[2019-07-17 22:00] mkarolin opened #5278 "Update BraveDownloadItemView to not use Canvas::DrawStringRect"
Chromium made the change described below in c76. We extend this view to include the download link. We should make a similar change for the download link to use a Label instead of custom drawing text. Similarly, we could use an ImageView instead of custom drawing the lock icon.

[code]

[2019-07-17 22:08] bsclifton commented on #211
@cbehan
- compiled builds won't check for updates.

- Updates on Windows or macOS require an official executable (release/beta/dev/nightly channel) and they know an update is present because a request is sent to Brave. Upon receiving the response, Brave will start to update itself... but requires the user to exit/relaunch (green icon shown in hamburger button, restart button also shown in chrome:/

[2019-07-17 22:12] bsclifton commented on #5032
cc: @rossmoody @petemill

[2019-07-17 22:13] rossmoody commented on #5032
This would be a @jenn-rhim or @bradleyrichter call.

[2019-07-17 22:15] bsclifton commented on #5268
cc: @snyderp

[2019-07-17 22:18] bsclifton commented on #4518
Let's re-open this if it happens again

[2019-07-17 22:18] #4518 closed

[2019-07-17 22:34] bsclifton commented on #305
@maximbaz can you try also passing in `--skip_signing`? This is going to fail for most people (as-is) because it will try to do signing for the binaries

[2019-07-17 22:41] theAeon commented on #5063
Hmm, another way of approaching it would be having it grab focus as it does now but having actions functionally dismiss it. For example, if, on browser start, I click into the URL bar and search, upon my request of the page the warning would dismiss.

[2019-07-17 22:41] maximbaz commented on #305
I think it fails before signing, due to me not having the necessary tools to create `.deb` and `.rpm` files.

But this actually isn't an issue for me anymore - to create an Arch Linux package I ended up using a simple `npm run build Release` and then cherry-picking the necessary files from `/src/out/Release` folder.

Here are the full build instructions, by the way, in case anyone is interested: [

[2019-07-17 22:48] maximbaz commented on #1950
To give you an update, #305 is not a blocker anymore, and as for VA-API patch, it is actually simple to apply Chromium patches to Brave, so as long as VA-API works in Chromium, it also works in Brave 🎉

Right now I pushed PKGBUILD for compiling Brave from sources with VA-API patch to [AUR/brave](https://aur.archlinux.org/packages/brave) as I keep playing around with the browser; if you also want t

[2019-07-17 22:56] jumde opened #5279 "speechSynthesis getVoices is a fingerprinting vector"
Disable by default.

[2019-07-17 23:24] fmarier commented on #305
@bsclifton Is the original issue (builds not working with `--official-build=false`) actually fixed or did you close this based on https://github.com/brave/brave-browser/issues/305#issuecomment-512595192?

[2019-07-17 23:47] #5274 closed

[2019-07-17 23:48] #5275 closed

[2019-07-18 00:00] petemill commented on #5249
Verified that when navigating back, the page doens't initially have access to anything set via `SetWebUIProperty`. This is because we don't get the `RenderViewReady` event, since it's reused (but apparent not the WebUIProperties).

However, the page _does_ have access to properties set via `loadTimeData`, so I do suggest we refactor to using that method:

![image](https://user-images.githubusercon

[2019-07-18 00:13] mihaiplesa commented on #5177
Just a reminder that the current Catalina version is Beta 6 and GA should be in Q3, most probably September.

[2019-07-18 00:27] fmarier opened #5280 "Rewrite HTTPS Everywhere parser in Rust"
The EFF has started to rewrite the HTTPS Everywhere parser in Rust and cross-compiling it to WebAssembly to reduce memory overhead (they saw a reduction of 20MB for each running instance).

The two LGPL-licensed libraries are:
- [libcore](https://github.com/EFForg/https-everywhere-lib-core) (intended to work cross-platform)
- [libwasm](https://github.com/EFForg/https-everywhere-lib-wasm) (wrappers

[2019-07-18 00:28] fmarier commented on #700
Apparently the performance of the extension has improved thanks to a new Rust/WebAssembly library (see #5280).

[2019-07-18 00:46] ryanbr commented on #1768
@irrationalRock this should be fixed now, can you confirm?

[2019-07-18 00:51] ryanbr commented on #2093
@bitcoinuser is this issue fixed? the site ( now, https://microlancer.io/ ) . Loaded up a chat session at the bottom. seems to work. If you can confirm that'd be great :)

[2019-07-18 02:34] lyquocnam commented on #3967
i am in Vietnam, please enable ads for Vietnam.

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

[2019-07-18 03:38] papmech commented on #4795
A side effect of this bug is that often screenshots with the new Windows "Snip & Sketch" maximised will not work with Brave Browser. To reproduce:

1. Verify that the Windows Preview is blank.
2. Run "Snip & Sketch" and **maximise the window**
3. Attempt to snip a part of Brave Browser.
4. Resulting screenshot is blank.

[2019-07-18 04:32] darkalemanbr commented on #1900
I found a cause and possible solution for this. This is due to a **misconfigured Amazon S3 server**.

[code]
As you know, zypper will fail to update the repo when the server 403s this `media.1/media` file.

Forcing a repo check from scratch makes zypper ignore the 403 error and allows the process to continue:
[code]

On other servers where `media.1/media` returns a proper 404 where it doesn't exis

[2019-07-18 06:20] bernieke commented on #1280
For me the block only lasts a while. Every few days or so I need to re-apply it for some reason.

Even just a simple txt page which shows the rules and the sites (or is it pages?) they are applied to would be extremely helpful! Or even just some commandline command to extract the same from the config somehow?

[2019-07-18 07:54] jeroenvisser101 commented on #5268
@snyderp pattern for the script that should be replaced as polyfill is `https://dev.visualwebsiteoptimizer.com/j.php?*`. https://nu.nl is also a large site that uses VWO.com that you can test on. Let me know if there's anything I can do to help.

[2019-07-18 12:03] btlechowski commented on #4600
It seems to be macOS only issue. I added the proper label.

[2019-07-18 12:50] btlechowski commented on #4743
Verification passed on

Brave | 0.67.110 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Ubuntu 18.04 LTS

Verified steps from the description.

Reproduced the issue on 0.67.79
![image](https://user-images.githubusercontent.com/34715963/61458398-b16f4e00-a96a-11e9-9d6f-50cb2ec91cd6.png)

Verified

[2019-07-18 13:28] jsecretan opened #5281 "Do not show the same ad more than once every hour"
## Description
Even though we now have the capability for user level frequency capping, and there are coming improvements to evening out the pacing of ad delivery, there can still be cases where either limited inventory in certain categories can make it feel like ads are repeated too often.  To help this, I am proposing that we limit repeating a campaign id to no more than once an hour.  This is n

[2019-07-18 13:56] GeetaSarvadnya commented on #3574
Verification passed on

Brave | 0.67.111 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1803 (Build 17134.523)

Arabic:

![image](https://user-images.githubusercontent.com/38657976/61463316-c6aba300-a991-11e9-9fea-ee0a13c6a2b1.png)

Hebrew:

![image](https://user-images.git

[2019-07-18 15:17] GeetaSarvadnya commented on #4312
@darkdh When I launch brave using `--enable-features=NetworkService` flag. Open `https://check.torproject.org/` in Tor windows doesn't connect to the tor network. But, as per the test plan https://github.com/brave/brave-core/pull/2647, it should connect to tor network

![image](https://user-images.githubusercontent.com/38657976/61469587-180d5f80-a99d-11e9-9b63-1969c23893aa.png)

[2019-07-18 15:35] midnight-wonderer commented on #3977
Hello there,
This is not exactly about uBlock origin; it's about choices.

I should be able to choose what to block.
Blocking tracker, but allow ads, should be possible right?

At least that is the whole point of having multiple Chromium-based browsers IMHO.

[2019-07-18 16:10] RoofLee commented on #2965
Some progress?

[2019-07-18 16:17] RoofLee opened #5282 "Option for setting time zone"
## Description
Currently brave browser haven't an option to set custom time zone. So it seriously destruct anonymous status. Because when I connect to some VPN I want to set time zone of server location to prevent leak. Some shit is exist in Linken Sphere Browser.

## Steps to Reproduce

   1. Add option to choose time zone for browser

## Actual result:
More respectful by community and settings f

[2019-07-18 16:31] btlechowski commented on #5075
The issue is still reproducible with default shields settings.
![image](https://user-images.githubusercontent.com/34715963/61474977-0a9aaa00-a98a-11e9-986d-53024fcc9c80.png)

Note: Allowing all cookies fixes the issue.

Tested on

Brave | 0.67.110 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Ub

[2019-07-18 16:34] darkdh commented on #4312
@GeetaSarvadnya Did you launch it using fresh profile? There is another issue blocking this test case (https://github.com/brave/brave-browser/issues/5007), so before #5007 is fixed, we have to launch without `--enable-features=NetworkService` switch and wait for tor executable to be downloaded and then relaunch with `--enable-features=NetworkService` and connect to tor network

[2019-07-18 17:18] mbacchi commented on #5177
I just noticed there is a chromium python script to notarize: https://chromium.googlesource.com/chromium/src.git/+/master/chrome/installer/mac/notarize_thing.py

[2019-07-18 17:49] #5277 closed

[2019-07-18 17:59] bsclifton commented on #5270
Thanks for the report, @mtcdood! Closing as a dupe of https://github.com/brave/brave-browser/issues/4795

Will give it a +1 on your behalf

[2019-07-18 17:59] #5270 closed

[2019-07-18 17:59] leggett opened #5283 "URL is hidden when searching"
## Description
When I search Google, the URL is hidden showing only my search term. This is redundant with the search box on the page (see attached screenshot) and hides the URL making sharing the results page harder. I finally found how I can right click on the URL bar and select "Show URL" but this is hard to find and annoying.

## Steps to Reproduce

   1. Do a search in the URL bar with Google

[2019-07-18 18:00] bsclifton commented on #4795
+1 from @mtcdood via https://github.com/brave/brave-browser/issues/5270

[2019-07-18 18:18] rebron commented on #3576
Closing. Looks fixed with @petemill's work with Settings. Checked strs with macOS 66.100.

[2019-07-18 18:18] #3576 closed

[2019-07-18 18:22] #718 closed

[2019-07-18 18:30] mtcdood commented on #4795
This was marked as a duplicate but it's potentially not. This behavior didn't exist a week or two ago on my computer.

[2019-07-18 18:31] rebron commented on #5283
Hi @leggett thanks for filing. I verified that we have this fixed in 68.x. I believe it was via https://github.com/brave/brave-browser/issues/4283

[2019-07-18 18:31] #5283 closed

[2019-07-18 18:50] bsclifton commented on #305
@fmarier good question... I know I have built with `--official-build=false`, but I haven't tried to do `create_dist`.  I'll keep open until we can confirm that

[2019-07-18 19:15] tmancey opened #5287 "Migrate brave-core changes from Android Ads"
Migrate brave-core changes from Android Ads

[2019-07-18 19:20] alexwykoff commented on #3538
Spec is underway and I'll be pulling folks from above into calls to make sure we have this nailed down. There will be implementations for each platform.

[2019-07-18 19:21] PunnyBoi opened #5288 "Brave crashes a lot"
## Description

The latest version of the brave browser is crashing a lot. It particularly happens when I open youtube. It starts lagging and then it doesn't respond. Soon after that, it crashes. I checked in the task manager how much memory it takes when it shows such behaviour. The memory shoots from 400 MB to 2 GB in almost 5 seconds. The CPU usage also increases.

## Steps to Reproduce

   1.

[2019-07-18 19:22] tmancey commented on #5287
Duplicate of #5160

[2019-07-18 19:22] #5287 closed

[2019-07-18 19:40] rebron commented on #5288
@PunnyBoi Can you provide more details on your platform, OS and OS version?

[2019-07-18 19:41] rebron commented on #4267
@PunnyBoi Are you still seeing this on 66.100? It's our current release.

[2019-07-18 19:43] warwickmm commented on #4267
I'm still seeing this on Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit) on Windows.  I haven't been able to test 66.100.

[2019-07-18 19:46] jrizz43 opened #5289 "Can't read google play books"
## Description

Cannot open a book from google play books due to cookies getting the following error

## Steps to Reproduce

   1. go to play.google.com/books
   2. click on any of my books

## Actual result:

![image](https://user-images.githubusercontent.com/22685746/61486933-4de52080-a96a-11e9-828d-85d5e4a03129.png)

## Expected result: to be able to read the book

## Reproduces how often:

Eve

[2019-07-18 19:46] rebron commented on #5288
@PunnyBoi Also, can you check brave://crashes paste the crash id here as well as sending over the crash report.

[2019-07-18 19:52] rebron commented on #5289
Looks like we're blocking books.googleusercontent.com

[2019-07-18 19:53] rebron commented on #5289
cc: @ryanbr

[2019-07-18 20:03] snyderp commented on #5268
This will also happen on a sig subset of these sites: https://publicwww.com/websites/dev.visualwebsiteoptimizer.com/

Triggered by how we do blocking (reporting success and returning nothing).  Will come up with a polyfill now for a short term fix

[2019-07-18 20:25] DeveloperMCD commented on #4280
Isn't there some workaround? Can it be manually compiled or something? Or would that cause conflicts with other versions of Glibc floating around on the system.

[2019-07-18 20:33] TitaniumCoder477 opened #5290 "Allow shields to whitelist an entire site, including subdomains"
I switched from Chrome to Brave and then realized the Brave Shield has no domain whitelist feature. My work in IT requires that I use many web applications for which I do not want the shield operating. For example, I remote into dozens of servers each day using LogMeIn. Each URl is different, but the domain is always logmein.com. I would like to whitelist that domain so that each sub-domain is aut

[2019-07-18 20:59] Brave-Matt commented on #3121
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/bjdk7d/how_to_turn_off_the_number_of_ads_blocked_on/

[2019-07-18 21:13] ThomDap commented on #4492
This just happened to me (lost all cookies after crash). This is terrible loose of time. I'm considering switching to another browser.
Version 0.66.99 Chromium: 75.0.3770.100
macOS 10.14.5 (18F132)

[2019-07-18 21:20] jeroenvisser101 commented on #5268
As far as I've been able to find out, there isn't any JS API that would call into the script loaded by j.php. I believe that if the polyfill would contain `_vwo_code.finish()`, possibly wrapped in try-catch to be extra safe, it would do the job.

Is there an alternative for these kinds of platforms (Google Optimize, VWO.com) that would be a better fix for the long term?

[2019-07-18 21:23] rebron commented on #4492
@ThomDap Hi sorry to hear this happened. Wondering if you could help us diagnose this so it doesn't happen again, we're having trouble reproducing.

A couple things: 1) did the restore tabs option dialog show after the crash? 2) Would you be able to paste your crash ID under brave://crashes and also send the crash report. 3) Do you recall how many tabs you had opened?

[2019-07-18 21:27] snyderp commented on #5268
One long term solution we're deploying soon is to support the uBO format for these, so that we can share effort with that project.

Longer term, we're thinking of a number of ways we can respond dynamically

[2019-07-18 21:35] ThomDap commented on #4492
1) Yes the restore tabs option dialog did show up but as usual I prefer to re-open manually tabs I want
2) The crash hadn't been recorded in brave://crashes and I have this written : "Crash reporting is disabled. Crash reporting is not available in Brave.". Don't know if this has got something to do with the absence of the crash report.
3) I would say a dozen.

I remember a macOS dialog opening ju

[2019-07-18 21:44] rebron commented on #4492
@ThomDap Yes very helpful, thanks for the additional info. We're still needing to nail down the full steps to reproduce and will dig further to see how others are running into this issue.

[2019-07-18 21:46] evq opened #5291 "Create anonymous address for Uphold browser card and use v2 claim endpoint"
## Description
This issue is for follow up coming out of the Gemini user wallet security review.

The browser should create an anonymous address corresponding to the linked Uphold card that it creates when performing Uphold user wallet linking. It will then include the resulting address in the request to the claim your wallet endpoint, which will be enabled by the v2 of that API.

See:
https://git

[2019-07-18 21:47] btlechowski commented on #3512
Still reproducible.

Brave | 0.67.111 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

[2019-07-18 21:50] btlechowski commented on #5007
Reproduced on

Brave | 0.67.111 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

The tor binary is not downloaded with NetworkService flag enabled

[2019-07-18 21:51] btlechowski commented on #4312
Verification passed on

Brave | 0.67.111 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

I was able to verify by using directions from https://github.com/brave/brave-core/pull/2647  and https://github.com/brave/brave-browser/issues/4312#issuecomment-51

[2019-07-18 22:15] Jay1 commented on #4787
First of all, sorry for the delay!

After further testing and more investigation, the bug is still present, I'm using the nightly build atm to get the fastest patching rate. Sometimes you touch something in the code and it fixes something else so it's really important for me to up to date.

I tried to fix the issue while playing with the shields, on/off, refresh the browser with on/off. So far it'

[2019-07-18 22:19] #3285 closed

[2019-07-18 22:48] #5160 closed

[2019-07-19 02:07] kjozwiak commented on #4787
I'm assuming you've also tried it on Chrome as well correct? Just double checking to make sure it's related to Brave and not a general issue with Chromium.

[2019-07-19 03:32] ryanbr commented on #5289
Can reproduce. Only quick fix is tuning of 'Allow all cookies'. I didn't see any tracking blocks being active.

@jrizz43 Just allow all cookies in the Sheilds, see if that helps. (it worked for me)

[2019-07-19 03:37] ryanbr commented on #5190
Hey @ChildishGiant can you confirm everything is working?

[2019-07-19 05:21] simonhong commented on #5186
Newly rebased omaha installer failed due to `Bad Request`.
[code]
[code]

[2019-07-19 06:32] tmancey opened #5292 "Fix build error on Windows due to notification helper"
Fix build error on Windows due to notification helper