[2019-03-24 05:39] Techguyprivate commented on #3866
Also it is completely open source just like ungoogled chromium . Great for both privacy and security.  It has sync feature just like in Mozilla, end to end encrypted, so that brave can't see your passwords, bookmarks, history, tabs etc. It is founded by former Mozilla CEO & founder , who created JavaScript too. So a lot of credibility, experience, trust , whatnot. Most importantly , it respects pr

[2019-03-24 09:54] rulatir opened #3872 "Clear cookies in private+Tor window? Completely restart private+Tor window preserving open tabs?"
## Description
I am unable to discover a method for clearing cookies in a private+Tor window.

The regular Brave browser allows this with [Main menu / settings] -> [Left sidebar / Advanced / Privacy and security] -> [Clear browsing data] (NOTE WELL: these menu item labels are backtranslated from Polish, they may be slightly different in English).

The private+Tor window does not have the Advanced

[2019-03-24 11:46] ghost opened #3873 "Failed to load on Ubuntu"
## Description
Loaded OK but then I get:
[code]

## Steps to Reproduce
I used from your Ubuntu page:

[code]

## Actual result:
As above I get:

[code]

### Additional Information
I just updated to Ubuntu 18.04.2 LTS

[2019-03-24 11:56] littleboy0k opened #3874 "Telegram unresponsive on Brave"
A user on r/BATProject reported that he is facing issues using telegram web on Brave Browser.

[2019-03-24 17:10] Miyayes commented on #3872
Doesn't this entail recording your browsing history? One of the core elements of a Private Window is that it does not retain your browsing history. So, a feature like this seems to be entirely at odds with what Private Windows _are_. (For example, try closing a tab in a Private Window and then pressing CMD/CTRL + SHIFT + T to resurrect it like you normally would. You will notice that you _can't_ b

[2019-03-24 20:04] mkhamat commented on #413
I thought Brave is ready to use finally, but stumbled upon another issue. Hope this one is the last, come on guys :+1:

[2019-03-24 21:28] jnki commented on #3718
this is still happening.
is there any more info i can provide which can help?

[2019-03-24 21:37] dijonkitchen commented on #208
FYI, the Google Translate extension still works on Brave: https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb/related

[2019-03-24 21:37] rulatir commented on #3872
Not if done cleverly. One could imagine a cooperative implementation where the old process somehow sends the URL list directly to the new process using an encrypted channel, and doesn't store the history anywhere. But this would still just be a workaround. What I need is to achieve the same DEPTH of reset as a full restart WOULD. It does not need to entail an actual full restart.

[2019-03-24 21:41] scottf007 opened #3875 "Migrate channel from dev to beta / release"
Hello,

I have been using this version of brave for what seems like a year. I am currently on Dev - but it seems as though I have not had major problems for a very long time. I would like to change my channel to Beta while keeping all my browsing history / open tabs etc.

Is there this ability?Can we make it?

Not that it should matter, but I am on windows and love your product.

[2019-03-24 21:49] bbondy commented on #3422
Re-opening this because it was failing browser tests and had to be reverted.

[code]

The revert was merged here:
https://github.com/brave/brave-core/pull/2049

[2019-03-24 23:00] jasonrsadler commented on #3800
@kjozwiak This is due to embedding disabled and is fixed in https://github.com/brave/brave-core/pull/1901 (0.64.x)

[2019-03-24 23:04] jasonrsadler commented on #3851
cc @ryanml
@GeetaSarvadnya I believe expected functionality is the BR panel 'Enable' simply navigates to Rewards page to allow user to enable on the Rewards page

[2019-03-24 23:05] ryanml commented on #3851
@nejczdovc @jenn-rhim are you fine with current behavior of navigation or would you like the button to turn on Rewards directly?

[2019-03-24 23:07] jasonrsadler commented on #3850
+1 repro:

Brave | 0.64.15 Chromium: 74.0.3729.22 (Developer Build) (64-bit)
-- | --
Revision | d183f516540c1a0c21310ced2e2170a534bca5a5-refs/branch-heads/3729@{#254}
OS | Mac OS X

[2019-03-24 23:20] jasonrsadler commented on #3753
The ledger function calls should live inside of `LedgerImpl` (delegating the responsiblity correctly) while maintaining contribution functionality in `BatContribution`

@bridiver can you elaborate more or correct any misconceptions from my statement?

[2019-03-24 23:24] jasonrsadler commented on #3697
What is being asked here? The "wallet turned off" panel has been modified to present user with "Re enable Rewards". Do we want that? Do we want the first run enable panel? Do we want to attempt to fix the profile?

[2019-03-25 01:22] bbondy opened #3876 "Grant access to chrome.sockets APIs for IPFS companion"
Grant access to chrome.sockets APIs for IPFS companion because it will host an embedded ipfs-js based node.

[2019-03-25 02:07] jumde opened #3877 "Update crypto vendor deps to fix npm audit error"

[2019-03-25 05:41] NejcZdovc commented on #3800
closing as dupe of https://github.com/brave/brave-browser/issues/3335

[2019-03-25 05:41] #3800 closed

[2019-03-25 05:54] NejcZdovc commented on #3697
@jasonrsadler problem here is that we think that rewards are disabled, when they are not actually turned on and you need to join in. So rewards page and panel should display the same state

[2019-03-25 05:55] NejcZdovc commented on #3851
@ryanml button should enable rewards directly

[2019-03-25 06:22] NejcZdovc commented on #3785
@GeetaSarvadnya can you please try this on the latest nightly

[2019-03-25 06:23] jumde opened #3878 "Update sync vendor deps to fix npm audit error"

[2019-03-25 06:25] NejcZdovc commented on #3850
@GeetaSarvadnya so you still see restore all link? or what is the problem exactly. If I click on trashcan and then click restore all, link is removed and table is cleared. If I re-visit that publisher is added back to the table.

[2019-03-25 06:30] NejcZdovc commented on #3808
@btlechowski can you reproduce this on latest nightly. I can't reproduce on latest 0.64

[2019-03-25 06:34] NejcZdovc commented on #3783
@LaurenWags can you try this on the latest nightly. I can't reproduce on latest 0.64

[2019-03-25 07:38] onlyflix commented on #3071
[This is the Chrome GPU log](https://gist.github.com/onlyflix/5dc69f33d5a02ed67561056283b3b257).

[2019-03-25 07:41] fabianmoronzirfas commented on #353
I don't understand this. Brave is a browser that does all those nice things to protect you and your privacy and there are comments like these below:

Really? This is the reason why you don't use Brave?

What? This is an open source free of charge browser and you claim that the developers are playing you?

Again. What? You value your privacy lower than seeing a random image when opening an new tab?

[2019-03-25 09:44] pfuhrmann commented on #208
@dijonkitchen extension was mentioned here several times, however, it is by no means replacement to built in translations system.

For once, you have to be translating every single page as you are navigating and it does not remember which sites you requested to translate when you visit next time.

There were some good points mentioned by Brave devs about how Google Chrome is sending API requests t

[2019-03-25 10:18] jangorecki commented on #353
If it is not usable because of amount of memory that opening a new tab requires then it is not surprising. Try some low end atom netbook having integrated gpu and 2 gb of mem.

[2019-03-25 10:25] conscienta commented on #353
The images cause bad lag on my (very powerful) Yosemite machine, I can't click anything for 2-3 seconds when opening a new tab. Have to disable HW accel in the options to fix it.

[2019-03-25 11:01] raine commented on #94
The injected CSS added with `Block element via selector` does not work on elements that have `display: block` directly set as their style. The `display: block` takes precedence over the injected `display: none`.

![Screenshot 2019-03-25 at 12 58 45](https://user-images.githubusercontent.com/11027/54914487-bf055180-4efd-11e9-976c-624354868ae7.png)

![Screenshot 2019-03-25 at 12 55 46](https://user-

[2019-03-25 12:47] srirambv commented on #3825
I've tried couple of times with the instructions from [here](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux) and launching brave doesn't show that error. Going to close the thread for now. If you do happen to run into it do reply on the same thread and we can reopen the issue if required.

[2019-03-25 12:47] #3825 closed

[2019-03-25 12:49] srirambv commented on #3802
Will be fixed by https://github.com/brave/devops/issues/743

[2019-03-25 13:15] hex0cter commented on #208
Agree with @pfuhrmann that the extension is no way to replace the built-in feature.

Chrome allows language based translation. Therefore users can disable translation of certain languages.  It would be even greater if Brave can provide site based translation, just for the security and privacy's sake.

Just an idea.

[2019-03-25 13:32] srirambv commented on #1122
This seems to be fixed on the release version itself. Not sure which PR fixed it. But closing the issue for now.

[2019-03-25 13:34] srirambv commented on #3751
@rebron I thought this issue was related to #1120  but looks like the user wants to hide the autoplay notification all together unless specified. I do feel this is a little distracting when you visit a site and default action is to stop autoplay. May be we can just show the icon and not the text? I

[2019-03-25 14:10] mkarolin opened #3879 "Building on Windows in Release mode with official_build=false fails."
After merging C74 into master (#3502) building on Windows in Release mode with `official_build=false` produces the following link errors:

<pre>
FAILED: nasm.exe nasm.exe.pdb
ninja -t msvc -e environment.x64 -- ../../third_party/llvm-build/Release+Asserts/bin/lld-link.exe /nologo /OUT:./nasm.exe /PDB:./nasm.exe.pdb @./nasm.exe.rsp
lld-link: error: duplicate symbol: ilog2_32 in obj/third_party/nasm

[2019-03-25 14:11] LaurenWags commented on #3783
I don't know what version you tried @NejcZdovc but I reproduced with latest Nightly available for macOS

Brave | 0.64.8 Chromium: 73.0.3683.75 (Official Build) nightly(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

![Screen Shot 2019-03-25 at 10 10 33 AM](https://user-images.githubusercontent.com/28145373/54926246-48a92500-4ee6-11e9

[2019-03-25 15:32] mkarolin commented on #3879
- Both the latest C73 and C74 use the same `nasm` code (commit `4ee6a69c`).
- The compilation flags for Release mode with `official_build=false` have not changed (`/Od /Ob0 /GF`).
- The Clang version has changed (from `351477` to `354873`).

Rolling back to Clang `351477` eliminates the errors.

[2019-03-25 15:35] emerick commented on #1931
Our existing behavior (i.e., prior to any changes detailed in this ticket) is that on startup we retrieve the current application locale and start an AdBlock instance for that region if applicable. We also store this "current" AdBlock region in a preference, as there was only the concept of a single active region in this scenario.

How would we want to handle this going forward? The simplest thing

[2019-03-25 15:54] srirambv commented on #3829
#1967  still needs verification
#2661 is blocked on https://github.com/brave/brave-core/pull/1983
Flash tests not performed on Linux because of #1562

Other than that everything else looks good on `0.62.41`

[2019-03-25 15:54] #3829 closed

[2019-03-25 16:02] MisterTeeXD opened #3880 "Brave As Portable Application"
I think Brave should be a Portable application so those who move to different PC's can use Brave anywhere.

[2019-03-25 16:03] srirambv commented on #492
Verification passed on

Brave | 0.63.20 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/54935051-eb1cd480-4ef5-11e9-9322-32f347a03ee5.png)

[2019-03-25 16:15] babbage1986 commented on #492
Thanks!  Click&Clean now works.  Better still the new settings illustrated above are the ideal solution.

[2019-03-25 16:15] kbrafford commented on #353
Fabian, the issue makes the otherwise very desirable browser absolutely useless in a few cases, for a needless graphical flourish.

It’s easy to see how a developer who spends 100% of his or her time with a nice machine would never notice the issue, which is why we brought it up.

[2019-03-25 16:41] rebron commented on #3745
@stshank I'm trying to reproduce and I'll run through the different channels but currently can't reproduce in Google Docs via release or nightly channels. I'm switching between tabs and also having windows open side by side with the same doc and it looks like the edits are happening in real time.

[2019-03-25 16:47] jenn-rhim commented on #3339
![image](https://user-images.githubusercontent.com/4369856/54938137-0d592700-4ee3-11e9-87eb-44793a65000b.png)

[2019-03-25 16:50] bradleyrichter commented on #3339
![image](https://user-images.githubusercontent.com/13509546/54938315-5c06c100-4ee3-11e9-8f46-0b383a27c5f3.png)

[2019-03-25 16:53] jordmccord commented on #3750
Same issue on MacOS when trying to open an installed PWA, works fine with Chrome...
[code]
Also the file size is different when installing from Brave vs installing in Chrome

[2019-03-25 16:59] rebron commented on #3750
App never launches. Doesn't crash browser though.
[crash-report.txt](https://github.com/brave/brave-browser/files/3004545/crash-report.txt)

[2019-03-25 17:14] NejcZdovc commented on #3339
@bradleyrichter @jenn-rhim should we should only this when publisher is unverified?

[2019-03-25 17:23] #2410 closed

[2019-03-25 17:28] srirambv commented on #956
Verification passed on

Brave | 0.63.20 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Linux

Navigation Bar URL's
![image](https://user-images.githubusercontent.com/17010094/54940401-080ad500-4f01-11e9-819e-d0bf60607f74.png)

Custom checkboxes
![image](https://user-images.githubusercontent.com/170

[2019-03-25 17:30] bsclifton commented on #3662
@tmancey just added missing labels / test plan; please update if it should be different 😄

[2019-03-25 17:38] bsclifton commented on #3880
@MisterTeeXD as far as I know, all issues with this should be resolved.  Can you please check out the details in https://github.com/brave/brave-browser/issues/694?

(let's re-open if something is still now working)

[2019-03-25 17:38] #3880 closed

[2019-03-25 17:46] bsclifton commented on #208
@yrliou is making great progress with this, last I checked 😄 We have a backend component which will proxy requests, preserving your anonymity.  You can view that in detail here:
https://github.com/brave/go-translate

[2019-03-25 17:53] srirambv commented on #3873
Can you try `sudo apt-get clean && apt-get update` and then try reinstalling?

[2019-03-25 17:59] srirambv commented on #3872
Tor window is a guest window so there is no data stored to disk. Once the window is closed its lost. There is no way to retain history/tabs if the window is accidentally closed.

May be once we have Tor persistent profiles (#1115) created this might be fixed.

[2019-03-25 18:02] MisterTeeXD commented on #3880
So, should i use that Brave Instance now?

[2019-03-25 18:07] rkraneis commented on #3617
Hi guys, anything happening here?This is still happening for brave-browser 0.61.52-1 on Centos 7 :/

[2019-03-25 18:10] #3854 closed

[2019-03-25 18:13] petemill opened #3881 "WebUI not changing theme to Light"
If you have a WebUI open, it is in dark mode, and then you change to light mode, the webui will not change theme to light mode until it is closed and re-opened.

However, switching from light to dark seems to be fine.

Assigning to 0.63.x for now since this is a bug with webui themeing which is introduced with 0.63.x

### Steps to reproduce:
#### Explicit theme
1. Open Settings, switch to 'Dark'
2

[2019-03-25 18:16] petemill opened #3882 "`onBraveThemeTypeChanged` not getting called from extension page"
Here is a branch that is attempting to use `chrome.braveTheme.onBraveThemeTypeChanged` event handler:
~https://github.com/brave/brave-core/compare/try-shields-theme...try-shields-theme-onchange~ _edit: now on master_

It is not getting fired when the system theme is changed.

### Steps to reproduce
- Run the above branch
- In Settings, change theme to 'Same as macOS'
- Visit a website
- Open shiel

[2019-03-25 18:24] rulatir commented on #3872
@srirambv, please, let's not focus on the "restart with tabs" thing, the "recover last session" thing etc. This question is NOT about that. My main question is: **how do I clear cookies in a private+Tor window?** The UI for that is absent.

I managed to use the Application page in devtools to successfully clear cookies for a domain, but I think I shouldn't *have* to use devtools for this purpose.

[2019-03-25 18:24] bradleyrichter commented on #3339
@NejcZdovc non-verified only.

[2019-03-25 18:26] bsclifton commented on #3880
@MisterTeeXD it's not an official release, but it's an available option you can check out

[2019-03-25 18:35] diracdeltas commented on #3778
sounds like this would be fixed by https://github.com/brave/brave-browser/issues/2157

[2019-03-25 18:35] mbacchi commented on #3617
Yes, there is some work going on to determine the best way to work around a Centos bug where it does not support signing with 4096-bit subkeys [1]. cc: @bkero

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1225133#c4

[2019-03-25 18:40] bsclifton commented on #3854
Moved to 0.64.x milestone for the moment - I tried to do an uplift, but it failed. @petemill is this Chromium 74 specific?

[2019-03-25 19:34] bsclifton commented on #3802
@srirambv @mbacchi is this the same as https://github.com/brave/brave-browser/issues/3617?

[2019-03-25 19:44] fabianmoronzirfas commented on #353
I get the low memory problem. IMO this issue still reads like little issue description and a lot like feature requests and complaining.

[2019-03-25 20:07] kbrafford commented on #353
It’s not just low memory.  I run Brave on a cloud host with tons of cores and 256GB of memory, and access it from a 24-core computer with 128GB, but because I have to use RDP Brave is totally useless...only because of the start screen.

[2019-03-25 20:09] petemill commented on #3854
@bsclifton That's strange - https://github.com/brave/brave-core/pull/1422 is on 0.63.x and the code is there. Probably an issue uplifting a .patch. I'll resolve it manually.
Thanks

[2019-03-25 20:11] paucc commented on #353
@kbrafford You can use the workaround pointed by Brad:

And please, can we limit this issue's use to only help the developers and not to ignite another online discussion?

[2019-03-25 20:24] yrliou opened #3883 "Rewards browser test failed"
Caused by https://github.com/brave/brave-core/pull/1943 which is in master & dev

[code]

[2019-03-25 20:38] #3876 closed

[2019-03-25 20:41] bsclifton opened #3884 "Lint failure"
Introduced by me in https://github.com/brave/brave-core/pull/2043

(was visible here: https://travis-ci.org/brave/brave-core/builds/511081682?utm_source=github_status&utm_medium=notification)

[2019-03-25 21:02] #3884 closed

[2019-03-25 21:05] bbondy opened #3885 "Enhancements for the PR uplifter CI job"
Just used the PR uplifter and the experience was 💯
Nice work @bsclifton!

Here's a couple of minor suggestions:
- [x] Have `Fix <issue link>` in the uplift PRs
- [x] Instead of assigning users, assign the brave approvers group

[2019-03-25 21:10] #3883 closed

[2019-03-25 21:15] anfederico opened #3886 "Tipping content creators on particular platforms"
This is a general question about why you can tip content creators on some platforms but not others.

For example, why can Brave users tip individual Youtube channels, but not tip individual Github developers?

[2019-03-25 21:17] yrliou commented on #3659
Reopen the issue because this is being revert for fixing https://github.com/brave/brave-browser/issues/3883

[2019-03-25 21:18] yrliou commented on #3662
Reopen the issue because this is being revert for fixing https://github.com/brave/brave-browser/issues/3883

[2019-03-25 21:41] jumde opened #3887 "cvent.com fails to load"
## Steps to Reproduce

   1. Navigate to http://www.cvent.com/m-events/Info/Summary?e=61db141c-4587-4a0b-afd4-334003cc3ef2&RefID=3.25
   2. Fails to load

## Actual result:
Fails to load

## Expected result:
Should load

## Reproduces how often:
Easily

## Brave version (brave://version info)
0.64.8 Chromium: 73.0.3683.75 (Official Build) nightly (64-bit)

### Reproducible on current release:
- Do

[2019-03-25 21:46] LaurenWags commented on #3378
Verified passed with

Brave | 0.63.21 Chromium: 73.0.3683.75 (Official Build) dev(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified test plan from description
- Verified test plan from https://github.com/brave/brave-core/pull/1422

[2019-03-25 21:47] LaurenWags commented on #3377
Verified passed with

Brave | 0.63.21 Chromium: 73.0.3683.75 (Official Build) dev(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified test plan from description
- Verified test plan from https://github.com/brave/brave-core/pull/1422

[2019-03-25 21:50] LaurenWags commented on #3376
Verified passed with

Brave | 0.63.21 Chromium: 73.0.3683.75 (Official Build) dev(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified test plan from https://github.com/brave/brave-core/pull/1422

[2019-03-25 21:58] #3827 closed

[2019-03-25 22:35] simonhong commented on #3882
I found that current implementation only fires `onBraveThemeTypeChanged` when preference is changed. I missed this 👍

[2019-03-25 22:37] simonhong commented on #3881
Do we use `onBraveThemeTypeChanged` to get theme change in settings webui?

[2019-03-25 22:47] #3847 closed

[2019-03-26 00:08] fmarier commented on #1324
A simpler fix than [the one I suggested previously](https://github.com/brave/brave-browser/issues/1324#issuecomment-454611462) is to simply rename the binary shipped by the release package in `/usr/bin/` to `/usr/bin/brave-browser-stable` and let that get installed as the highest-priority alternative for the `/usr/bin/brave-browser` binary.

That's what the Fedora packages do already and so this i

[2019-03-26 00:09] bsclifton commented on #3422
re-opening because the PR hasn't been reviewed/merged yet: https://github.com/brave/brave-core/pull/2070
(merging will close if it includes closing keywords)

[2019-03-26 00:13] bsclifton commented on #3886
cc: @davidtemkin @mandar-brave @rebron

[2019-03-26 00:34] bsclifton commented on #3875
@scottf007 there's not an official way to do it- but I can offer a work-around that you may try

On Windows, your profile data for the DEV channel should be at:
`%PROFILEDIR%\AppData\Local\BraveSoftware\Brave-Browser-Dev`

You can make a copy of that folder (so that you don't lose anything) and rename the copied folder as `Brave-Browser-Beta`

This *should* work most of the time. There can  be pro

[2019-03-26 00:34] #3875 closed

[2019-03-26 00:58] btlechowski commented on #3783
@NejcZdovc I am able to reproduce on Windows nightly

Brave | 0.64.8 Chromium: 73.0.3683.75 (Official Build) nightly (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/54963838-82bc0a80-4f6a-11e9-92bc-0ee0811405fe.png)

[2019-03-26 01:03] tomlowenthal opened #3889 "Automate anti-virus false-positive testing"
Various anti-virus and anti-malware tools identify Brave or bundled components as false-positives for malware from time to time. Playing catchup with these alerts can be time-consuming and inconsistent, especially given the opacity and intrigue around AV vendors' methods.

We should get ahead of this by automating testing against popular AV vendors' services. VirusTotal (brave/devops#656) only get

[2019-03-26 01:11] tomlowenthal opened #3890 "Personal model/category log"
Brave Ads uses a machine-learning agent to classify each page you visit against a list of possible ad categories. We should surface this history in Rewards, showing you each page of your history and the ad categories assigned to it, as well as your overall categories. This would allow you to delete individual pages from your history and to understand why you see the specific ads you see.

[2019-03-26 01:40] #3871 closed

[2019-03-26 01:40] #3877 closed

[2019-03-26 01:40] #3878 closed

[2019-03-26 04:05] #3828 closed

[2019-03-26 04:56] GauthamVarmaK commented on #3540
This issue exists in other builds of Brave as well.

Opening in a new window is nothing but a PWA (Progressive Web Applications are web applications that load like regular web pages or websites but can offer the user functionality such as working offline, push notifications, and device hardware access traditionally available only to native applications)

@rebron Can you close this issue as it is a

[2019-03-26 04:57] simonhong commented on #3881
Found the case.
`features::kWebUIDarkMode` is enabled on MacOS/Win10 in C74 and `DarkModeHandler` only observes non-dark native theme.

[2019-03-26 05:00] simonhong commented on #3881
One more thing - we can reuse chrome's api to get current theme and event notification.
`loadTimeData.getBoolean('darkMode')`
`FireWebUIListener("dark-mode-changed", base::Value(UseDarkMode()));`

[2019-03-26 05:19] kjozwiak commented on #2410
@brave/legacy_qa once we get a nightly that includes https://github.com/brave/brave-core/pull/2043 & https://github.com/brave/brave-core/pull/2063, we'll need to go through the test plans to ensure that it's working as expected and didn't cause any other obvious performance issues or regressions. We would like to get this uplifted into `0.63.x` as well but need to make sure it's working on nightly

[2019-03-26 05:21] kjozwiak commented on #3829
Awesome, thanks for going through the linux runs @srirambv 👍

[2019-03-26 05:38] NejcZdovc commented on #3783
1) can you please inspect this icon and pass url of it?
2) is domain that you are on with www or without?
3) if you reopen panel will this fix the problem?

[2019-03-26 06:27] rebron commented on #3540
Closing. Dupe of #3750. Was previously thinking we needed to remove the shortcut but we should match working behavior in Chrome.

[2019-03-26 06:27] #3540 closed

[2019-03-26 07:06] #3659 closed

[2019-03-26 07:19] peterdalydickson opened #3891 "Copy/Paste from Open Office into a Google Sheet crashes Brave"
## Description
Copy/Paste from Open Office into a Google Sheet crashes Brave

## Steps to Reproduce

   1. open attached, or any other, Open Office s/sheet
   2. create new Google Sheet
   3. select and copy a block of cells in Open Office (say, A2- B6 in the attached)
   4. use ⌘V or `Edit >> Paste Special >> Paste Values Only` (SHIFT-⌘-V) to paste into the Google Sheet

## Actual result:
Brave c

[2019-03-26 07:31] petemill commented on #3881
@simonhong this proble
 is happening in brave’s chromium webui too which I assume use that technique. E.g. chrome://settings

[2019-03-26 07:41] simonhong commented on #3881
@petemill I think that problem can be fixed by notifying both theme (native/dark aura).
I mean how about using chrome's variable(`darkMode`) and event(`dark-mode-changed`) to get current theme type and theme changing instead of using our own.

[2019-03-26 08:35] caspertone2003 commented on #2848
Happens to me as well.
0.62.27
Windows 10

I believe it is related to a chrome extension called "close duplicated tabs"

The result of this error in my case is that all open tabs are lost and history cannot be recovered.

[2019-03-26 09:03] knucklas commented on #3873
Thanks. It looked OK at first but ended up:
Reading package lists... Done
E: Could not open lock file /var/lib/apt/lists/lock - open (13: Permission denied)
E: Unable to lock directory /var/lib/apt/lists/
xxxxx:~$ curl -s https://brave-browser-apt-release.s3.brave.com/brave-core.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-release.gpg add -
OK
echo "deb [arch=amd64] https://br

[2019-03-26 09:04] knucklas commented on #3873
Don't know where those cross-outs came from!

[2019-03-26 10:34] NejcZdovc opened #3892 "Move transactions into db"
Currently all transactions are in the json file and this is problematic as json can grow too big. What we would like to do is move transaction object from `ledger_state` into `publisher_info_db`.

We need to create new table `contribution_details` or we could add new fields into existing `contribution_info` table.

Example of one transaction from json

[code]

[2019-03-26 12:43] srirambv opened #3893 "Zenhub extension doesn't load boards"
## Description

Zenhub extension doesn't load boards

## Steps to Reproduce

   1. Install Zenhub extension
   2. Login to github
   3. Open Zenhub tab, boards fail to load

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/54997737-c29ee400-4fa2-11e9-97ee-35fa4fc04189.png)

## Expected result:
Boards should load correctly

## Reproduces how often:

Easy

## Brave vers

[2019-03-26 12:45] btlechowski commented on #3411
Verification passed on

Brave | 0.62.42 Chromium: 73.0.3683.86 (Official Build) beta (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/2024

![image](https://user-images.githubusercontent.com/34715963/54997831-ed059700-4fcc-11e9-8ab4-6e3f7f2fcd18.png)
![

[2019-03-26 14:25] #3639 closed

[2019-03-26 15:14] #3851 closed

[2019-03-26 15:16] mkarolin commented on #3879
When linking with /VERBOSE there is a bit more info:
`lld-link: conflicting comdat type for ilog2_32: 2 in obj/third_party/nasm/nasm/directiv.obj and 1 in obj/third_party/nasm/nasm/ilog2.obj
lld-link: error: duplicate symbol: ilog2_32 in obj/third_party/nasm/nasm/directiv.obj and in obj/third_party/nasm/nasm/ilog2.obj`

Recent llvm changes of note:

https://reviews.llvm.org/D58180
https://bugs.llv

[2019-03-26 15:17] jasonrsadler opened #3894 "Most webui buttons are hidden in new dark theme with c74"
## Description

When in main settings in dark mode, regular (not 'action') buttons (e.g. the 'cancel' button within modal, the 'default browser' button, etc) cannot be seen.

## Steps to Reproduce

   1. Open Brave
   2. Open settings (switch to dark theme if not already)
   3. Go to 'Clear Browsing Data'

## Actual result:

'cancel' button is hidden
<img width="615" alt="Screen Shot 2019-03-24 at

[2019-03-26 16:10] Jonany commented on #1551
+1
Replicated on Windows 10 with Brave version 0.61.52, Chromium: 73.0.3683.86

[2019-03-26 16:15] iefremov opened #3895 "Stats updater uses wrong timestamps"
https://github.com/brave/brave-core/blob/master/browser/brave_stats_updater_params.cc#L17

Here we cache `base::Time::Now()` on startup and then use it in all outgoing pings. This way, all stats updater pings contain the same timestamp until the browser restart.

It would be more precise to take the actual `Now()` every time.

Brave | 0.64.2 Chromium: 73.0.3683.75 (Developer Build) (64-bit)

[2019-03-26 16:17] iefremov commented on #3895
@bbondy @too4words @aekeus JFYI

[2019-03-26 16:22] FelikZ commented on #208
@bsclifton thank for sharing
@yrliou that is awesome, thank you for your work. How do you plan to avoid google translate rate limit? AFAI Understand it will run on brave server IPs.

[2019-03-26 17:21] iefremov commented on #3895
Also there is a possible underflow: https://github.com/brave/brave-core/blob/master/browser/brave_stats_updater_params.cc#L98

(`day_of_week` can be zero if it is Sunday)

[2019-03-26 17:30] desertrambler commented on #3082
I am having this issue on Windows 10 + Brave + Bing rewards login. Continues to hit redirects and fails back to the Bing page with no login. My Microsoft Account uses 2-Factor Authentication with my phone Authenticator app - I don't know if that is making a difference.

`Version 0.61.52 Chromium: 73.0.3683.86 (Official Build) (64-bit)`

[2019-03-26 18:18] NejcZdovc commented on #3783
found the problem, this regressed with this one https://github.com/brave/brave-core/pull/1649, so would be good to uplift fix to 0.62.

cc @brave/uplift-approvers

[2019-03-26 18:35] LaurenWags opened #3897 "unable to contribute when wallet contains more than enough BAT"
## Description
Follow up to #3212, #3640

Generally seen in conjunction with the two issues above, users are being notified that they can't contribute (auto contribute and/or recurring monthly tips) because their wallet does not contain enough BAT. However, the user's wallet does contain enough BAT.

## Steps to Reproduce

Unknown at this time.

## Actual result:
Contribution (for auto-contribute

[2019-03-26 18:36] bsclifton opened #3898 "Chromium 74 update is breaking nightly build"
## Description
The major breakage happens during `create_dist` on macOS

Employees can get more info on our Jenkins instance:
https://staging.ci.brave.com/job/brave-browser-build-darwin-createdist/288/console

## Additional info (possibly related)
There is also an issue breaking on Windows with `official_build`=`false`:
https://github.com/brave/brave-browser/issues/3879

[2019-03-26 19:29] mkarolin commented on #3879
Also, notice this change in `nasm` from Nov 2018 where config for windows was switched from `config/config-win.h` to `config/msvc.h` (https://chromium.googlesource.com/chromium/deps/nasm.git/+/274b50137b6209b106f8989a24ab92f287654147). Of note in this case is that `config-win.h` had `#define HAVE_STDC_INLINE 1` whereas `msvc.h` doesn't. This means that on windows none of the functions declared in

[2019-03-26 19:56] #3805 closed

[2019-03-26 19:59] diracdeltas commented on #3798
Brave uses the Chromium sandbox to run untrusted content in separate processes. is there something specific you're looking for? https://chromium.googlesource.com/chromium/src/+/lkgr/docs/design/sandbox_faq.md

[2019-03-26 20:07] darkdh commented on #2051
confirmed it is fixed with 74.0.3728.0
Thanks @hieupm37

[2019-03-26 20:07] #2051 closed

[2019-03-26 20:11] mandar-brave commented on #3897
@NejcZdovc please prioritize after the Publisher refresh fixes. Tag dupe if it sum game of different issues.

[2019-03-26 20:25] emerick opened #3899 "Override IPFS manifest to add socket operations"
The IPFS Companion extensions (stable and beta) require socket permissions, which the Chrome Web Store expressly disallows. When running in Brave, we'll override the downloaded manifest and add the required permissions which are listed here:

https://github.com/ipfs-shipyard/ipfs-companion/blob/6c90904535cf1e56b084023de5d1f0e2a499862b/add-on/manifest.brave.json

[2019-03-26 21:05] bsclifton commented on #3866
@Techguyprivate definitely interested to see what you put together - please ping me or another Brave employee

@lluke777 we have a page here which needs to be updated, but it basically captures a chunk of the ways we deviate from Chromium. Any core services (something that would reach out, like safe browsing, etc) we intend to proxy in a way that preserves anonymity.
https://github.com/brave/brave

[2019-03-26 21:07] bsclifton commented on #3860
@lansana EV not being shown differently than regular SSL is known and intended

Maybe @tomlowenthal or @diracdeltas can comment, but this won't be something that we fix

[2019-03-26 21:07] #3860 closed

[2019-03-26 21:11] bsclifton commented on #3766
@midN @iamniks can you confirm this works in Chrome/Chromium?

[2019-03-26 21:20] iamniks commented on #3766
@bsclifton Yes, works great in Chrome

[2019-03-26 21:45] rebron opened #3900 "Ads panel in 0.62x should have Ads Coming Soon text"
Please see 60.x issue created by @LaurenWags for details.
0.60.x -> https://github.com/brave/brave-browser/issues/3421
0.61.x -> (same as well) https://github.com/brave/brave-browser/issues/3500

cc: @jsecretan @bbondy @mandar-brave

## Expected result:
same as 0.61.x
![screen shot 2019-02-19 at 1 55 52 pm](https://user-images.githubusercontent.com/28145373/53041509-2ee17180-3452-11e9-8490-c6f4b91

[2019-03-26 22:12] kjozwiak commented on #3900
Thanks for getting this filed @rebron 👍 Currently looks as follows when using `0.62.41 Chromium: 73.0.3683.86`:

<img width="648" alt="Screen Shot 2019-03-26 at 6 12 22 PM" src="https://user-images.githubusercontent.com/2602313/55037016-b93d6800-4ff2-11e9-933f-418411c5a7a9.png">

[2019-03-26 23:05] bsclifton commented on #1551
Possibly related: https://github.com/brave/brave-browser/issues/3519

If using NaCl is needed for these to work as expected, it'll be a `wontfix`

[2019-03-26 23:24] kjozwiak commented on #3766
@iamniks @midN it looks like you can still use the `app` even though it crashes at startup correct? Just double checking to see if you're seeing the same behaviour. I was able to register a new device and use the `app` after the initial crash at launch.

@bsclifton it looks like Brave having issues with `Apps` and not extension. When you download the Authy extension, it basically asks you to insta

[2019-03-26 23:31] kjozwiak commented on #3766
Probably a `P2` as we want to make sure both `Extensions` & `Apps` are working within Brave. However, will wait till our triage meeting to set label.

[2019-03-26 23:44] bsclifton commented on #413
@richardkentgates what version of Brave? This is only on 0.62.x and newer (ex: our beta channel)

[2019-03-26 23:45] bsclifton commented on #3864
@Heithwald can you please try turning OFF hardware acceleration (in brave://settings)?

[2019-03-26 23:46] kjozwiak commented on #3783
@NejcZdovc did this regress in `0.62.x`? I can't seem to reproduce it using `0.62.41 Chromium: 73.0.3683.86` and I can reproduce it with both `0.63.20 Chromium: 73.0.3683.75` and `0.64.8 Chromium: 73.0.3683.75` using the STR that @LaurenWags mentioned under https://github.com/brave/brave-browser/issues/3783#issue-422873661.

[2019-03-27 00:36] atsyed87 opened #3901 "URLs need to be updated for Help Desk installation guide"
## Description
Two support URLs  need to be changed to reflect the updated URL on the support.brave.com helpdesk.

The original link `https://support.brave.com/hc/en-us/articles/360017886232-How-do-I-download-and-install-Brave-`

needs to be changed to `https://support.brave.com/hc/en-us/articles/360025390311-How-do-I-download-and-install-Brave-`

The [Support URLs doc](https://docs.google.com/spr

[2019-03-27 00:47] kjozwiak commented on #3850
@NejcZdovc did the behaviour change in `0.64.x` regarding restoring publishers back into the a-c table? When you restore under `0.63.20 Chromium: 73.0.3683.75`, the website is added back into the table. However under `0.64.8 Chromium: 73.0.3683.75`, clicking on `Restore All` doesn't add anything back into the a-c which might confuse users. Assuming this is what @GeetaSarvadnya is pointing out. CCi

[2019-03-27 00:54] kjozwiak commented on #3054
@adjakfar appreciate the update. Just out of curiosity, if you have Chrome installed, can you reproduce the same issue on there or does this just happen in Brave? It's currently labelled as a `P4`. Hopefully we can get a developer on this once some of the bigger `P3` tasks get completed.

In the meantime, I'll see if I can check and see how many folks might be running into the above crash.

[2019-03-27 01:39] jumde opened #3902 "Enabled State Provider unittest fail"
`GetEnabledStateProviderForTesting` is not available on C73 causing unit-test failure on C73.

[2019-03-27 02:01] kjozwiak commented on #3824
@MarkCate I can't seem to reproduce this on my `macOS 10.14.3 x64` running `0.61.52 Chromium: 73.0.3683.86`. Here's what I've been trying:

* launch `0.61.52 Chromium: 73.0.3683.86`
* open a new tor window and load http://msydqstlz2kzerdg.onion
* attempt to bookmark the above site with `command + d` (nothing happens)
* open a new tor window and load http://eljwdzi4pgrrlwwq.onion/
* attempt to book

[2019-03-27 02:28] midN commented on #3766
Awesome, thanks guys! @kjozwiak .

You don't see lots of big opensource apps moving fast recently.
Try opening an Issue or make a PR contribution in Kubernetes, small % it gets read/reviewed in 2020.

[2019-03-27 02:32] kjozwiak commented on #3253
Seems to be working for me once I installed Widevine on on amazon.com with the default shield settings, example:

<img width="1400" alt="Screen Shot 2019-03-26 at 10 28 37 PM" src="https://user-images.githubusercontent.com/2602313/55046074-9d4bbd80-5016-11e9-9f96-b89afd8136b8.png">

I wonder if different amazon locales behave differently? Perhaps `co.uk` and `.com` differs? @andyrpearson @AstroGD

[2019-03-27 05:37] NejcZdovc commented on #3850
@kjozwiak yes we changed this, so that it behaved the same as it behaved in Muon. https://github.com/brave/brave-browser/issues/3459

[2019-03-27 06:43] ryanerwin commented on #2377
The erroneous "Set as Default" dialog is still happening on Arch.

Brave is set as the default for .html, http and https, but the dialog still pops up...

[2019-03-27 09:58] simonhong commented on #1310
Will close this because widevine signing can be done only on buildbot.
Also, any kinds of release build on local machine can't sign because signing needs cert & key.
So, verification should be only enabled on buildbot.

[2019-03-27 09:58] #1310 closed

[2019-03-27 12:14] ryanml opened #3904 "Console error in Rewards Panel"
This is a non fatal JS error regarding a component prop type. This will be fixed inside brave-ui.

![image](https://user-images.githubusercontent.com/8732757/55075012-11a25300-504f-11e9-81b8-dd0c00d7c53e.png)

[2019-03-27 12:25] kkkrackpot commented on #1024
I'd appreciate this feature.

[2019-03-27 13:12] richardkentgates commented on #413
Ok. Oversight on my part. 0.60.48

[2019-03-27 13:37] #3898 closed

[2019-03-27 13:45] tycho01 commented on #959
I tried the Chrome [AutoScroll](https://chrome.google.com/webstore/detail/autoscroll/occjjkgifpmdgodlplnacmkejpdionan) extension, where in the reviews a comment led me to [this thread](https://askubuntu.com/a/868173/332744). With the `libnput` commands there I got this to work in Brave as well. For a few web applications like GDocs I needed a browser restart.

Cases where this does not work yet fo

[2019-03-27 14:04] jaminroe commented on #884
Not working for me either on Version 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)

[2019-03-27 14:05] GeetaSarvadnya commented on #884
1+https://community.brave.com/t/desktop-sync-error-couldn-t-contact-sync-servers/50543/3

[2019-03-27 16:51] rebron commented on #3893
Looks like this is working on dev 0.63.20 Chromium: 73.0.3683.75 and nightly 0.64.8 Chromium: 73.0.3683.75.

@srirambv can you double check on 62? I'm going to do it now too.

[2019-03-27 16:54] rebron commented on #3893
Making clear we're talking about this extension: https://chrome.google.com/webstore/detail/zenhub-for-github/ogcgkffhplmphkaahpmffcafajaocjbd?hl=en-US

I have it working ok on macOS 0.62.41 Chromium: 73.0.3683.86 and seeing the boards, drag and drop, the usual functions.

[2019-03-27 16:55] sayashr commented on #3082
Same problem here as @desertrambler.  I turned off all Brave shields >_< and it still won't login. (Logs in fine on normal Chrome)

[2019-03-27 17:10] darkdh opened #3905 "Pass is_debug by config not by implicit rule"
This patch need to be reverted
https://github.com/brave/brave-core/commit/b76bc1f365425da4c7633d9157b90cf74e4c2f78#r32924243

so we can do Release build with is_debug=true and is_official_build=false
and also Release build with is_debug=false and is_official_build=false with optimization

[2019-03-27 17:12] rebron commented on #3082
@Brave-Matt Let's add more steps in this issue. I'm actually able to login to Microsoft Rewards https://account.microsoft.com/rewards/ but I'm seeing that I'm not recognized on Bing.com

Steps:
1) Login to outlook.com
2) Go to Bing.com
3) Notice not recognized on bing.com. Can't sign in when selecting "Sign in" on top page. Selecting "Rewards" Sign-in takes me to https://account.microsoft.com/rewa

[2019-03-27 17:47] jasonrsadler opened #3907 "Brave crashes when trying to migrate from v3 to v5+ publisher_info_db version"
## Description

## Steps to Reproduce

   1. Open Brave with a v3 publisher_info_db version database
   2. Go to rewards page or open rewards panel
   3. Brave will attempt to upgrade the database

## Actual result:

Fatal crash:
[code]

## Expected result:
The database upgrades successfully

## Reproduces how often:

easily

## Brave version (brave://version info)

Brave | 0.64.20 Chromium: 74.0.

[2019-03-27 17:57] aqeelparpia commented on #3832
Hello @kjozwiak @rebron
Could I please would on this ? I really want to contribute to this project.

[2019-03-27 17:57] aqeelparpia commented on #3832
Hello @kjozwiak @rebron
 Could I please work on this ? I really want to contribute to this project.

[2019-03-27 18:01] rebron commented on #2941
This works properly with Chrome and Firfeox bookmark sync and favicons are imported over without having to visit each site.

[2019-03-27 18:05] rebron opened #3908 "sync: support dark mode"
Sync screens should support dark theme when set by OS preference or by user.

## Description
Placeholder for dark theme screenshots of Sync.

[2019-03-27 18:05] rebron commented on #3908
cc: @rossmoody

[2019-03-27 18:20] petemill commented on #3832
Hi @aqeelparpia, this is a simple string change, but I'd be happy to help you contribute this change if you want to get used to the contribution process, if @kjozwiak doesn't have something in-progress.

You should be able to search for "Same as MacOS" in a code editor to find the file. It's in a .grd file.

[2019-03-27 18:40] petemill commented on #3881
@simonhong it's possible we can use that, certainly now whilst there is only 'light' and 'dark' vs more (not sure if there will ever be more choices, probably not!). It would need to be available from extensions panel and I don't believe the chromium variable is?

[2019-03-27 18:44] GeetaSarvadnya opened #3909 "Follow up of #3732- [Ad] is NOT pre-pend the ads title"
## Description

Follow up of #3732- [Ad] is NOT pre-pend the ads title

## Steps to Reproduce

   1. Navigate to www.brave.com
   2. Idle for 15+ seconds

## Actual result:

 [Ad] is NOT pre-pend the ads title

![image](https://user-images.githubusercontent.com/38657976/55103029-b5424080-50ed-11e9-8ebf-a8aaa5859681.png)

## Expected result:

[Ad] should pre-pend the title, i.e.

[Ad] British Test

[2019-03-27 18:53] rivy commented on #2610
This problem still exists for Windows, after this fix was merged, as of Brave version 0.63...

[code]

[code]

[2019-03-27 19:02] Brave-Matt commented on #3751
For what it's worth, I think this message should be present or at least easily displayed whenever autoplay is blocked -- even if it's not in the address bar as it is now. Landing on a page to see all video content "frozen" can often look like an issue rather than the effect a particular setting.

I believe I've actually assisted a user in this exact situation - thinking that there was a web compat

[2019-03-27 19:02] Brave-Matt commented on #3751
Several +1's from Community:
https://community.brave.com/t/autoplay-was-blocked-on-this-page-pops-out-all-the-time/44075/13

[2019-03-27 19:12] bhlevca opened #3910 "Browser does not see directories that are mounts in the root of Linux file system"
## Description

## Steps to Reproduce

   1. create a mount  in the root filesystem  that will be shown as a directory (use mount)
   2. go to a browser a page and right-click->Save As
   3. in the new open Save As box select the root of the file system
   4. observe that the additional directories are not shown
   5. The funny thing is that the /home directory is shown although is the same type o

[2019-03-27 19:24] rossmoody commented on #3908
Do we have one of these for Welcome screens?

[2019-03-27 19:28] bbondy commented on #1931
Just following up for anyone following this issue, Emerick and I talked on Slack and discussed that we'd allow anything to be set, but that'd we'd auto turn on whatever matches the current language setting. The PR is updated with that.

[2019-03-27 19:28] GeetaSarvadnya commented on #3716
Verification passed on

Brave | 0.63.20 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the description

[2019-03-27 19:42] rebron commented on #3908
@rossmoody nope, I can file one though.

[2019-03-27 19:43] rebron opened #3911 "welcome screen: support dark mode"
Welcome screens should support dark theme when set by OS preference.

## Description
Placeholder for dark theme screenshots of Welcome Tour.

[2019-03-27 19:52] kjozwiak commented on #3832
@aqeelparpia all yours :) Appreciate the contribution!

[2019-03-27 19:59] levinunnink opened #3912 "Download bar support Mojave dark mode"
## Description

Download bar is illegible when in dark mode on macOS Mojave.

## Steps to Reproduce

Download any file Brave

## Expected result

The download bar should be readable.

## Actual result

It appears that the color values in the download bar are hardcoded instead of using the dynamic system colors, like `[NSColor controlTextColor]`.

<a href="https://d.pr/i/7soypL"><img src="https://d

[2019-03-27 21:12] srirambv commented on #3893
Seems to be working on Windows too now on release build. Not sure what fixed it. Closing for now. Will reopen if reproduced again

[2019-03-27 21:12] #3893 closed

[2019-03-27 21:13] rebron commented on #3435
Reproduced by hitting play on Soundcloud.com. @anthonypkeane

[2019-03-27 21:14] anthonypkeane commented on #3435
I had many tabs open, one being Soundcloud.
I upgraded to Version 0.61.52
I navigated to Soundcloud, pressed play and it appeared

[2019-03-27 21:16] srirambv commented on #3872
@rulatir as mentioned before data is cleared when the window is closed. I don't think we need a UI to clear data for Tor windows.

cc: @tomlowenthal

[2019-03-27 22:15] fakenine opened #3913 "[French translation] Typos on the BAT contribution popup"
## Description

On the French version of Brave, there are two little typos on the BAT contribution modal.

## Steps to Reproduce

   1. Open Brave with French set as a language
   2. Click on the "Brave Rewards" logo
   3. Click on "Envoyer une contribution"

## Actual result:

On this section:

![image](https://user-images.githubusercontent.com/5814696/55115658-58db2300-50e5-11e9-86ae-1d8a50572dc

[2019-03-27 22:47] tomlowenthal commented on #3824
Yes: as long as Tor is implemented with guest sessions, it shouldn't be possible to access or create bookmarks in a private window with Tor. Once we switch to interchangeable incognito sessions, bookmarks will work just like in regular private windows.

[2019-03-27 23:45] stevenmchoi opened #3914 "Cannot create desktop shortcut for profiles in Brave Settings"
## Description

I'm transitioning from Chrome to Brave, and I use multiple profiles from my desktop, opening them with desktop shortcuts. However, in my Brave profile settings, when I turn on "Show desktop shortcut", no shortcut is created. Refreshing the page will show it switched back off.

## Steps to Reproduce

   1. Create a Brave profile.
   2. Go to: chrome://settings/manageProfile
   3. Tu

[2019-03-27 23:54] darkdh opened #3915 "move apply_patches out of hooks"
so that we can make patches ready before running hooks because some patched scripts will run in the hooks

[2019-03-28 01:58] mohansella commented on #3582
I just had the same issue. disabling Hardware acceleration got working.

[2019-03-28 02:39] simonhong commented on #209
Chrome cast dialog bug is fixed by https://github.com/brave/brave-core/pull/1836.
It will be available from 0.64

[2019-03-28 02:51] yrliou opened #3918 "Add a switch for IPFS companion extension"
Add a pref to control IPFS companion extension installation, which will be off by default.

[2019-03-28 03:48] rebron commented on #3918
cc: @Brave-Matt We're going to need an article to explain this switch and IPFS in general.

[2019-03-28 04:12] simonhong commented on #3881
@petemill ah.. they are webui messages. I think it's not available for extension..

[2019-03-28 05:51] simonhong commented on #3912
Duplicated with https://github.com/brave/brave-browser/issues/3708 and fixed.

[2019-03-28 05:51] #3912 closed

[2019-03-28 06:30] jumde commented on #3502
Re-opened with C74 revert

[2019-03-28 06:31] jumde commented on #3662
Re-opened with C74 revert

[2019-03-28 06:31] jumde commented on #3816
Re-opened with C74 revert

[2019-03-28 06:50] bsclifton commented on #3858
Closing in favor of https://github.com/brave/brave-browser/issues/3502 (updated version there)

[2019-03-28 06:50] #3858 closed

[2019-03-28 06:51] jumde opened #3920 "Update to crlsets connects to storage.googleapis on windows"
## Description
With v.5056 crlsets components downloads resources from storage.googleapis.com. Proxy requests for the resources through redirector.

[2019-03-28 08:50] NejcZdovc commented on #3783
if that is the case then we can uplift only in 63

[2019-03-28 09:51] kamleshrao commented on #3809
I am able to reproduce this since more than a months time.  I am regularly performing updates, but still not helping.  I have even formatted my Ubuntu 16.04 LTS and installed Ubuntu 18.04 LTS.  But the problem still exists.

I wonder what went wrong with twitter emojis.  This was not happening before.

I am facing this problem only on Ubuntu.  Everything is working well on Windows 10 laptop.

Plea

[2019-03-28 09:57] caspertone2003 commented on #34
@bridiver

Can you add session tabs to the roadmap? Currently there is no reference to this feature
https://github.com/brave/brave-browser/wiki/roadmap

[2019-03-28 10:37] servetcoskun commented on #3756
Sorry, but is there any news on this? This is detrimental to UX by the minute.

[2019-03-28 11:28] Aninstance commented on #3809
Thanks for confirming the bug @kamleshrao, and on updated versions. This is a strange one. I'm running Kubuntu 18.04.02 LTS.

Which version are you on now? Are you using the snap package, or do you install by other methods?

The issue manifests 100% of the time on my system and results in being unable to close the frozen tab. If that's the only tab open, I need to force close the browser (i.e. kil

[2019-03-28 11:36] btlechowski commented on #3861
Changed the milestone to `0.64.x`, because the PRs are not uplifted yet.
https://github.com/brave/brave-core/pull/2064
https://github.com/brave/brave-core/pull/2062

Please, change the milestone after changes are uplifted.

[2019-03-28 11:48] #3783 closed

[2019-03-28 12:27] tmancey commented on #3909
@GeetaSarvadnya this issue has been superseded by #3769

[2019-03-28 13:03] #3897 closed

[2019-03-28 13:05] #3904 closed

[2019-03-28 13:15] fooforever commented on #1380
Shield also breaks the Mendely importer extension (https://chrome.google.com/webstore/detail/mendeley-importer/dagcmkpagjlhakfdhnbomgmjdpkdklff?hl=en), after trying to log in it reports
'You cannot be signed in as you appear to have blocked third-party cookies.To sign in, please allow third-party cookies for mendeley.com.'

I'm on version 0.61.51 on Linux

[2019-03-28 13:24] srirambv commented on #3454
Sorry for delayed response. @rebron this looks fixed on 62. Closing the issue for now. Can reopen if it resurfaces

[2019-03-28 13:24] #3454 closed

[2019-03-28 13:25] benmordecai commented on #1380
I could not tell if this issue is supposed to be resolved in 0.57 going forward, but I am running 0.62.37 and I still get a CSRF Token mismatch when trying to use the Todoist for Gmail extension due to 3rd party cookie.

[2019-03-28 14:00] #3662 closed

[2019-03-28 14:17] dabat commented on #1380
@benmordecai you must be running a dev/beta build, correct?
I'm running the release build on v0.61.52 and the Google Keep extension does not work with "block third party cookies" or "all cookies allowed".
Is this supposed to be fixed?

[2019-03-28 14:23] benmordecai commented on #1380
You are right I am running the beta. I am not sure if the fix is supposed to be in place on either build, but I wanted to report that if it is, I am still having the issue.

[2019-03-28 14:35] pilgrim-brave opened #3921 "BraveSiteHacksNetworkDelegateHelperTest.ReferrerCleared unit test crashing on master"
[code]

[2019-03-28 14:54] tmancey opened #3922 "Ad categories should be calculated based upon segment name and top level of segment name"
Ad categories should be calculated based upon Segment name and top level of Segment name:

i.e.

[code]

Sports
Technology & Computing
Technology & Computing-Unix

[2019-03-28 15:02] kjozwiak commented on #3909
Closing as we decided to remove the `[Ad]` as per last weeks meeting when we discussed the above.

[2019-03-28 15:02] #3909 closed

[2019-03-28 15:07] kjozwiak commented on #3824
Thanks @tomlowenthal 👍 @MarkCate as per the comment above, did you manage to get a `. onion` address bookmarked in a `Tor Window` using `command + d`?

[2019-03-28 15:09] LaurenWags commented on #3783
I have been unable to reproduce with most recent 0.62.x version on macOS

Brave | 0.62.41 Chromium: 73.0.3683.86 (Official Build) beta(64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Mac OS X

[2019-03-28 15:11] srirambv commented on #3376
@petemill  on Linux all text(titles/body) on settings page is in Muli.
![image](https://user-images.githubusercontent.com/17010094/55168453-3aa70e80-5149-11e9-97be-496f7b5ac77c.png)
![image](https://user-images.githubusercontent.com/17010094/55168598-780b9c00-5149-11e9-95f2-5c6ada3a375a.png)

I only see Poppins used in Sync page
![image](https://user-images.githubusercontent.com/17010094/55168899-

[2019-03-28 15:12] kjozwiak commented on #3783
Thanks for the double check @LaurenWags 👍

Sounds good! Thanks @NejcZdovc.

[2019-03-28 15:45] kamleshrao commented on #3809
I get exact same behavior what you mentioned.  Use the trick of "Ctrl+T" which opens a new tab and then I close the frozen tab.

I used the official Brave documentation to install it on my Ubuntu 18.04 LTS.  Below are the commands:

[code]

And, here is my Unix version details:

[code]
I also confirm that this issue does not appear on Windows 10 OS. Hope someone from Brave support reopens this iss

[2019-03-28 16:01] themartorana commented on #3435
Playing a twitter video appeared for me. Specifically, if it matters, this one, which is not YouTube but ABC News. https://twitter.com/brianbeutler/status/1111284475386839041

Browser: Version 0.61.51 Chromium: 73.0.3683.75 (Official Build) (64-bit)

[2019-03-28 16:10] iefremov commented on #3071
Thanks @onlyflix
Comparing two logs I can see that Brave uses discrete GPU, while Chrome stays on the on-chip one. Need to investigate why it happens and whats wrong with the discrete chip.

[2019-03-28 16:26] NumDeP opened #3923 "Could Roadmap be as accurate as Milestones"
In addition I wanted to ask if **Roadmap** can categorized next to **Labels** and **Milestones** on the list of Issues page on Github as well as making the list of issues in it interactive by allowing users to just select a like/thumbs-up (that's all) which in turn would move a desired feature more up as well as give an indication of importance to devops/engineers and others.

I think some of the

[2019-03-28 16:37] payingattention commented on #3130
Same issue, the official program build acts like nothing is happening, and is my bank/money equivalent. Definitiely `git blame` that "Snapcraft". Reproduced the problem.

What are we aiming for as a cryptofinancial track record (if forcing [even suggesting the `snap` idea is *dangerous* in our example] users to use "snaps" often (often meaning insofar nearly standardizing that the problem is the "

[2019-03-28 16:58] Brave-Matt opened #3924 "Debilitating performance on macOS after update to 0.61.52"
## Description

Users have been experiencing severe performance issues after updating Brave to v0.61.52.
Many users report that downgrading to version 0.61.51 or lower fixes the performance issues.
Note: Many of the users I see reporting are running an oder version of macOS (even if just a little bit older). @yachtcaptain23 also mentions this potentially being caused by having too many tabs open (

[2019-03-28 17:24] #3816 closed

[2019-03-28 18:17] tomlowenthal opened #3925 "Yubikey not working on GitHub"
When GitHub displays the security key screen as part of login, my Yubikey doesn't blink, and I can't use it to log in. Yubikey works fine for logging into Google — and seems to use the newer WebAuthn flow on Brave's G Suite.

Version 0.64.23 Chromium: 73.0.3683.75 (Official Build) nightly (64-bit) [MacOS]

[2019-03-28 18:19] tildelowengrimm opened #3926 "Clearing Shields Per-Site Settings"
None of the options in the "Clear Browsing Data" settings item explicitly call out Shields, but certainly some of them affect Shields, because I just restarted my browser with some of them selected and my per-site and global Shields settings were reset.

We should specifically call out Shields settings in the clear-on-exit menu.

[2019-03-28 18:29] emerick commented on #3895
I guess I ported this bug right over from Muon, oops: https://github.com/brave/browser-laptop/blob/8692beec44ff4a0a7c56b5ba004bc6ea75365ccf/app/dates.js#L42

[2019-03-28 18:44] tomlowenthal commented on #3589
Text should be as follows:

In Shields Panel
[code]

In Settings
[code]

[2019-03-28 18:44] jumde commented on #3920
[code]

[2019-03-28 18:50] Heithwald commented on #3864
Hi.

Seems like it did help, thanks.

[2019-03-28 19:06] yrliou commented on #3762
Revert by https://github.com/brave/brave-core/pull/2113 due to test crashes

[2019-03-28 19:06] tomlowenthal commented on #3168
Duping, now part of #3589.

[2019-03-28 19:06] #3168 closed

[2019-03-28 19:07] yrliou commented on #3921
Revert by https://github.com/brave/brave-core/pull/2113 due to test crashes

[2019-03-28 19:18] jumde opened #3927 "Whitelist storage.googleapis proxied through crlsets.brave.com"

[2019-03-28 19:18] johnwarne opened #3928 "Improve support for text selection"
## Description
When attempting to add the next/previous word to your currently selected text on a Mac with `shift-option-right` or `shift-option-left`, no text is added to your selection.

## Steps to Reproduce
   1. Select any bit of text on a page.
   2. Type `shift-option-right` or `shift-option-left` to try to add the next/previous word to your selection.

## Actual result:
No text is added.

[2019-03-28 19:34] NejcZdovc commented on #3850
closing as this is expected

[2019-03-28 19:34] #3850 closed

[2019-03-28 19:58] kjozwiak commented on #3839
Re-opening as this is still happening. @davidtemkin shared several crash stacks which are matching the one @monaxle shared in the original issue. @davidtemkin also mentioned that he's still seeing the crash on `dev`. So this is definitely still occurring.

Direct links to crashes from @davidtemkin:

* https://stats.brave.com/dashboard#crash/5c9a540f7661e4001f7425ff
* https://stats.brave.com/dashbo

[2019-03-28 20:21] rebron commented on #3335
@NejcZdovc Does this need to be uplifted to 62.x, make the appropriate PR and tag us again please.

[2019-03-28 20:29] btlechowski commented on #3808
Not able to reproduce on Nightly since handling of excluded sites changed in https://github.com/brave/brave-browser/issues/3459

Brave | 0.64.24 Chromium: 73.0.3683.75 (Official Build) nightly (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

[2019-03-28 20:29] #3808 closed

[2019-03-28 20:35] LaurenWags commented on #3769
Verified passed with

Brave | 0.63.21 Chromium: 73.0.3683.75 (Official Build) dev(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified test plan from https://github.com/brave/brave-core/pull/1998
<img width="361" alt="Screen Shot 2019-03-28 at 4 32 39 PM" src="https://user-images.githubusercontent.com/28145373/55191020-748f0980

[2019-03-28 20:41] btlechowski opened #3930 "Scrollbar in message for unverified publisher in Rewards Panel"
## Steps to Reproduce

   1. Enable rewards
   2. Go to `interia.pl`
   3. Open Brave Panel

## Actual result:

![image](https://user-images.githubusercontent.com/34715963/55191094-9309fa80-51a1-11e9-9886-7cf093400497.png)

## Expected result:
![image](https://user-images.githubusercontent.com/34715963/54690564-f8b31280-4b21-11e9-863a-2d565397f063.png)

## Reproduces how often:

Easily reproduced

[2019-03-28 20:59] NejcZdovc commented on #3930
@btlechowski is scroll bar only there or you can actually scroll?

[2019-03-28 21:01] btlechowski commented on #3930
@NejcZdovc The scroll bar is just there. It is inactive. Cannot scroll.

[2019-03-28 21:02] kjozwiak commented on #3459
@GeetaSarvadnya what you noticed in #3850 is expected behaviour. This issue fixes that. When you're restoring a removed website from the table, it won't restore the past duration.

[2019-03-28 21:02] NejcZdovc commented on #3930
@ryanml can you please take a look why that is the case

[2019-03-28 21:04] NejcZdovc commented on #3335
@rebron we have uplift for 0.63 https://github.com/brave/brave-core/pull/2092

[2019-03-28 21:04] ryanml commented on #3930
@NejcZdovc Can fix, I'm guessing that the content just exceeds the max height so we get a useless scrollbar.

[2019-03-28 21:30] btlechowski commented on #3459
Verification passed on

Brave | 0.64.24 Chromium: 73.0.3683.75 (Official Build) nightly (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1889
Also checked that the publisher can be re-added to the a-c table after being restored.

[2019-03-28 22:09] #3918 closed

[2019-03-28 22:13] #3817 closed

[2019-03-28 22:26] bsclifton commented on #3918
Updated top post to link to test plan 😄
cc: @yrliou

[2019-03-28 22:28] bsclifton commented on #3930
I ran into a similar issue in a PR that @petemill had - if you're having trouble reproducing, it may be tied to using a physical mouse (instead of a track pad / magic mouse)

[2019-03-28 23:05] fmarier opened #3932 "python-patch repo has moved"
I noticed that we use an obsolete repository for `src/brave/vendor/python-patch/`:
https://github.com/svn2github/python-patch

The upstream repo has moved to: https://github.com/techtonik/python-patch

We're also using [version 1.14dev (from 2014)](https://github.com/svn2github/python-patch/commit/a336a458016ced89aba90dfc3f4c8222ae3b1403)  whereas the latest version is [1.16 (from 2016)](https://g

[2019-03-28 23:09] rebron commented on #926
cc: @anthonypkeane

[2019-03-28 23:23] petemill commented on #3930
This is reproducible in macos on any site if you change your macOS scroll Preferences (under _General_) to 'Show scroll bars: Always`

![image](https://user-images.githubusercontent.com/741836/55199045-c767c180-5175-11e9-9783-491c2f58a319.png)

Fixed with `overflow-y: auto` instead of `overflow-y: scroll`

[2019-03-28 23:37] simonhong commented on #3861
Changed milestone to 0.63.x. it is merged into it.

[2019-03-28 23:38] yrliou opened #3933 "Favicons of brave welcome and rewards page are white in nightly and master on macOS"
## Description
favicon of brave://welcome in nightly channel seems off in dark mode, looks normal in light mode though.
btw I'm using macOS, didn't try other platforms.

## Steps to Reproduce
Install nightly or run a local build based on master and visit brave://welcome
## Actual result:
<img width="680" alt="Screen Shot 2019-03-28 at 4 33 31 PM" src="https://user-images.githubusercontent.com/4730

[2019-03-29 00:03] GeetaSarvadnya commented on #3909
@kjozwiak Thanks for closing was not knowing Ads title is superseded in #3769. Yesterday I didn't find this defect #3769 while testing Ads.

[2019-03-29 00:30] rossmoody commented on #3788
I've done a bunch of research on this and I'm a little stumped. A few things I can say for certain:
1. Linux is getting served the correct icons at the correct sizes which is 128px.
2. The icons aren't pixelated at 128px. Scaling them down should not result in the pixelation we're seeing here.
3. The icons can't be served larger than 128px.
4. When I pull the icons that are getting served to Linux

[2019-03-29 00:41] yrliou commented on #3933
I just saw the same issue with brave://rewards in our nightly.
<img width="432" alt="Screen Shot 2019-03-28 at 5 40 51 PM" src="https://user-images.githubusercontent.com/4730197/55201555-ba9c9b00-5180-11e9-8aaf-c02b92ffc1f0.png">

[2019-03-29 01:02] srirambv commented on #3933
Could be macOS issue. Not seeing the white icon on Windows

[2019-03-29 01:40] jonathansampson opened #3934 "Enabling Brave Rewards Negatively Impacts Performance"
## Description
For many users, enabling Brave Rewards will result in a negative impact to performance.

- https://twitter.com/liammannix/status/1111434714663915520

## Reproduces how often:
TBD

## Brave version (brave://version info)
0.61.52

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds? TBD

### Additional Information
Difficult to tie the reports to s

[2019-03-29 04:39] #3870 closed

[2019-03-29 05:56] NejcZdovc commented on #3933
see the same problem, thought that this was intentional

[2019-03-29 08:20] simonhong commented on #3435
I also can reproduce this with 0.61 stable when I load https://www.twitch.tv/.
However, chrome stable(C74) doesn't show this dialog when loads https://www.twitch.tv/.
When brave play media, does it something special?

[2019-03-29 08:33] GeetaSarvadnya commented on #3515
Verification passed on

Brave | 0.63.24 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1840

[2019-03-29 09:14] GeetaSarvadnya commented on #3071
1+ https://community.brave.com/t/distorted-web-content/51009

[2019-03-29 10:52] tmancey commented on #2610
@rivy Can you please raise a new issue, thank you

[2019-03-29 10:53] #3637 closed

[2019-03-29 11:30] #1931 closed

[2019-03-29 13:01] bill209 commented on #751
i am on version 0.61.52 yet i do not seem to have the option presented above to block all notifications.
i am brand new to Brave and very much looking forward to browsing more securely! thank you for all of your work!

<img width="400" alt="Screen Shot 2019-03-29 at 8 58 42 AM" src="https://user-images.githubusercontent.com/6461639/55234213-098a1500-5201-11e9-8a30-6f0d07495498.png">

[2019-03-29 13:03] randygrolemund commented on #751
Turn the top slider to off, that worked for me.

On Fri, Mar 29, 2019 at 8:02 AM bill rowland <notifications@github.com>
wrote:

--
Randy Sent from Gmail Mobile

[2019-03-29 13:08] bill209 commented on #751
ack, thank you for that. i like to check off 'ask a stupid question' as early in the day as possible.  : )

your help is very much appreciated.

[2019-03-29 13:09] randygrolemund commented on #751
Haha... I’m in the same boat this morning.

On Fri, Mar 29, 2019 at 8:08 AM bill rowland <notifications@github.com>
wrote:

--
Randy Sent from Gmail Mobile

[2019-03-29 14:15] GeetaSarvadnya commented on #3514
Verification passed on

Brave | 0.63.20 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1791

[2019-03-29 14:21] stefanmaric commented on #2301
I'm also seeing that after allowing notifications, and maybe a refresh or something, the site settings says notifications are enabled but `registration.pushManager.getSubscription()` resolves `null`.

[2019-03-29 14:53] Fulgan opened #3935 "PDF files downloaded twice"
## Description

Links to PDF downloads the PDF twice. If PDf is nt available any more, it is not displayed.

## Steps to Reproduce

   1. Setup a network trace (for instance, with Fiddler)
   2. Attempt to to access a PDF file. Notice that the document is downloaded twice.
   3. If the document is not available from the same link twice, notice that it will not be displayed in Brave.

## Actual res

[2019-03-29 15:52] rebron commented on #3852
cc: @cezaraugusto

[2019-03-29 15:58] samsul1212 opened #3936 "Good luck"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-03-29 16:00] rebron commented on #3864
Closing.

[2019-03-29 16:00] #3864 closed

[2019-03-29 16:01] rebron commented on #3866
Closing. Not a product issue.

[2019-03-29 16:01] #3866 closed

[2019-03-29 16:05] rebron commented on #3879
Closing. Reopen if this happens again.

[2019-03-29 16:05] #3879 closed

[2019-03-29 16:05] samsul1212 opened #3937 "Open"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-03-29 16:06] #3937 closed

[2019-03-29 16:08] rebron commented on #3886
Closing. Thanks for the suggestion. We have plans to add more platforms but no concrete dates yet.

[2019-03-29 16:08] #3886 closed

[2019-03-29 16:11] rebron commented on #3894
@petemill Can you take a look?

[2019-03-29 16:13] petemill commented on #3894
Yes I’ll fix it when c74 lands again

[2019-03-29 16:15] rebron commented on #3902
Closing. Should be fixed.

[2019-03-29 16:15] #3902 closed

[2019-03-29 16:19] rebron commented on #3910
@bhlevca Can you update to a more recent version and see if this is still an issue?

[2019-03-29 16:26] rebron commented on #3923
Closing. Thanks for the suggestions.

[2019-03-29 16:26] #3923 closed

[2019-03-29 16:33] rebron commented on #3936
Thanks for the good luck! I'm about to get some lottery tickets right now.

[2019-03-29 16:33] #3936 closed

[2019-03-29 16:34] bbondy commented on #3936
Please try shutting down your computer, removing the power plug for at least 120 seconds, and then start it up again. Then you should be good to go!

[2019-03-29 16:36] srirambv commented on #3936
![wnxLY0R](https://user-images.githubusercontent.com/17010094/55247972-4533d780-521f-11e9-85cf-fc49d2fbfbec.gif)

[2019-03-29 16:41] tmancey opened #3938 "Ads should not be scheduled between certain hours on mobile"
Ads should not be scheduled between 9 PM and 6 AM local time unless the App is being used actively during those hours, see https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit# for further information

[2019-03-29 16:46] mkarolin commented on #3879
This will be addressed by brave/brave-browser#3502 (re-landing of C74 with LLVM reverted to `351477`).

[2019-03-29 17:10] kjozwiak commented on #3933
Reproduced on Nightly as well 👍 Pretty easy to reproduce. Used the following build:

Brave | 0.64.23 Chromium: 73.0.3683.75 (Official Build) nightly(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

STR:

* Enable the `Dark` theme via `brave://settings` or under macOS if you're using `Same as MacOS`
* visit about `brave://` website and

[2019-03-29 17:17] Brave-Matt commented on #2362
This seems to be true for Twitter as well -- Navigating to "Web notifiactions" in Twitter's settings displays the following message:
![image](https://user-images.githubusercontent.com/3299098/55250610-d0a36d80-520b-11e9-9fe6-71dfcd0e7b8f.png)
Note that I _have seen_ the offer to enable web notifications on Twitter in previous releases.

[2019-03-29 17:55] #3895 closed

[2019-03-29 18:07] jumde commented on #209
PR reverted because of `network-audit` failures:

[code]

[2019-03-29 18:18] amplicity commented on #1380
+1 MixMax - Breaking with shields down

https://www.reddit.com/r/brave_browser/comments/9rbgc2/what_settings_need_to_be_changed_to_allow_the/

[2019-03-29 19:34] Brave-Matt commented on #2006
+1 https://www.reddit.com/r/brave_browser/comments/b6s9bd/script_blocking_while_using_integrated_tor/

[2019-03-29 21:03] samsul1212 opened #3940 "browser-laptop /CONTRIBUTING.md"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-03-29 21:06] samsul1212 opened #3941 "browser-laptop /CONTRIBUTING.md"
#2006 @

[1. ](url)

## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on th

[2019-03-29 21:07] #3941 closed

[2019-03-29 21:59] jumde opened #3942 "Consider disabling lookalike url navigation observer"
Chromium enabled this feature by default: https://tech.slashdot.org/story/19/01/30/2020218/google-chrome-to-get-warnings-for-lookalike-urls

Can be annoying to users: https://community.brave.com/t/did-you-mean-to-go-to-all-of-a-sudden-displaying/50950/6

[2019-03-29 22:17] Brave-Matt commented on #3942
Support's two cents:
I think overall this feature is well-intentioned. This would be especially useful for Brave users given that many of them are involved in/browse cryptocurrency sites/exchanges which are notorious for these "lookalike" URLs. Having this feature implemented could save users from sites attempting to steal credentials for these sites.
If it's not sending network requests or compro

[2019-03-30 00:11] tawissus commented on #403
Will it be available too in Brave for Android?

[2019-03-30 00:19] samsul1212 opened #3943 "Open"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-03-30 02:07] ccampbell opened #3944 "Extension manifest.json homepage_url should default to Chrome Web Store URL"
## Description
In Chrome, if an extension does not specify the `homepage_url` field in the manifest.json, it defaults to the Chrome Web Store URL so right clicking the extension icon allows you to quickly navigate to it.

From the [documentation](https://developer.chrome.com/extensions/manifest/homepage_url):

## Steps to Reproduce

   1. Install this extension (shameless self-promotion): https://

[2019-03-30 02:22] #3943 closed

[2019-03-30 06:37] samsul1212 opened #3945 "Sam"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-03-30 07:22] samsul1212 opened #3946 "https://github.com/brave/brave-browser/issues/1986#issue-377248849"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-03-30 14:22] srirambv opened #3950 "Extension name missing for IPFS"
## Description

Extension name missing for IPFS

## Actual result:

![Screenshot from 2019-03-30 09-54-27](https://user-images.githubusercontent.com/17010094/55277343-71119480-52d5-11e9-8d2c-b04a10133e05.png)

## Expected result:
Should show extension name

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 0.65.2 Chromium: 73.0.3683.75 (Official Build) nightly(64-bit

[2019-03-30 14:25] jasonrsadler commented on #3907
Caused by v4 upgrade after v3 has performed. v4 tries to select a month and year column that doesn't exist.

[2019-03-30 15:26] bbondy commented on #3950
is that just the same as the same IPFS companion installed on Chrome?

[2019-03-30 15:33] ravihlb commented on #3756
Also cancels website searches on address bar

[2019-03-30 15:33] ravihlb commented on #3756
Also cancels website searches on address bar

[2019-03-30 15:49] jasonrsadler commented on #3132
@kjozwiak @srirambv @GeetaSarvadnya Having problems reproducing on 0.64.x/0.65.x. Does this still happen on latest release version?

[2019-03-30 16:02] vinniejames opened #3951 "Google Docs fonts jumbled with shields up"
## Description
Google docs jumbles the fonts with shields up

## Steps to Reproduce

   1. Create new Presentation (similar font rendering issues in Sheets as well)
   2. Some fonts end up collapsed on letter on letter
   3. Turn shields off, problem resolved

## Actual result:

Shields on:
<img width="1186" alt="Screen Shot 2019-03-30 at 11 58 24 AM" src="https://user-images.githubusercontent.com

[2019-03-30 18:22] ganar commented on #3654
This worked for me, although is not at all clear to me why it works that way. Brave has simplified many things for me, this widget should have a more complete set of preferences in the _onlick_ event.

[2019-03-30 18:57] servetcoskun commented on #3756
@ravihlb can confirm it does the same for me. Atleast it is contained to dev version :)

[2019-03-30 20:28] MuhammedKpln commented on #3199
+1 Same problem exists on my Elementary os juno.

[2019-03-30 22:32] AstroGD commented on #3253
Will do it tomorrow

[2019-03-31 02:07] ryanml commented on #3900
Closed via: https://github.com/brave/brave-core/pull/2082

[2019-03-31 02:07] #3900 closed

[2019-03-31 06:40] #3930 closed

[2019-03-31 07:00] bsclifton commented on #3640
Updated to 0.62.x after https://github.com/brave/brave-core/pull/2116 was merged
cc: @ryanml

[2019-03-31 11:01] AstroGD commented on #3253
This is the list of all blocked Trackers when attempting to play a video on Amazon Prime Germany @kjozwiak

- https://images-eu.ssl-images-amazon.com/images/G/03/ape/sf/desktop/DAsf-1.50.62847f7._V468671726_.js?csm_attribution=APE-SafeFrame

- https://atv-ps-eu.amazon.de/cdp/usage/GetWeblabTreatment?gascEnabled=false&firmware=1&deviceId=a05bcab0584a83f155e13b6a5e0bb4007e47c3b62cc521be10c4c1d3&devi

[2019-03-31 12:02] ravihlb commented on #3756
I just realized that an extension that modifies the new tab page is a simple and very functional workaround.
I'm using [New Tab about:blank](https://chrome.google.com/webstore/detail/new-tab-aboutblank/oajnkblmghobfiaoblpcnffdiecocgnl/related) myself

[2019-03-31 14:04] jasonsavard opened #3952 "chrome.instanceID not responding"
## Description
All chrome.instanceID.* methods are not responding to callbacks or runtime.lastError

## Steps to Reproduce
chrome.instanceID.getID(function (id) {
    // never enters here
});

## Expected result:
Should execute the callback and return id or runtime.lastError

## Reproduces how often:
Everytime

## Brave version (brave://version info)
Latest

[2019-03-31 14:58] jasonrsadler commented on #2708
When reset pushed, get in console:
[code]

[2019-03-31 21:07] Kinzowa commented on #2649
I have this problem since I restared my browser (or maybe my Ubuntu). `chrome://rewards/ `show correct information about my wallet but when i click the small icon to tips website I have the `Wallet creation failed `error.

[2019-04-01 05:33] Brave-Matt commented on #3756
+1 community:
https://community.brave.com/t/problem-in-the-search-bar-with-the-most-recent-update/51374/2
---
Imgur post: https://imgur.com/a/elyeU01
Gif file: https://i.imgur.com/hYQNvzB.gifv

MacOS Mojave 10.14.3, Brave Version 0.61.52 Chromium: 73.0.3683.86 (Official Build) (64-bit)

[2019-04-01 06:32] GeetaSarvadnya commented on #3900
Verification passed on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

- Verified the description mentioned in the issue

![image](https://user-images.githubusercontent.com/38657976/55307678-d8664a80-5475-11e9-9a42-e5292e9b0127.png)

[2019-04-01 07:03] GeetaSarvadnya commented on #3639
Verification passed on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1906
- Verified the STR from description

[2019-04-01 07:45] GeetaSarvadnya commented on #3805
Verification passed on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the description

![image](https://user-images.githubusercontent.com/38657976/55311293-22ecc480-5480-11e9-9216-5ab027135878.png)

[2019-04-01 08:26] #3945 closed

[2019-04-01 09:54] weeblr commented on #3942
User's two cents:

It's all fine and dandy until it's your own small business website that Chrome/Brave decides to send potential visitors away to a much bigger competitor.

If this really is a security feature, will there be some kind of whitelisting possible?

Best regards

[2019-04-01 09:58] NejcZdovc opened #3953 "Refactor tips flow"
We need to move getters for tip list into ledger lib. Currently get tips is not wired though bat-native-ledger.

1) Rename `brave_rewards.updateTipsList` to `brave_rewards.getOneTimeTips`
2) Rename `brave_rewards.updateRecurringDonationsList` to `brave_rewards.getRecurringTips`
3) Rename `GetRecurringDonations` to `GetRecurringTips`
4) Wire `GetRecurringTips` through bat-native-ledger
5) Rename `U

[2019-04-01 10:04] #3922 closed

[2019-04-01 11:13] VMBindraban commented on #3925
Yubikey still works in:

Brave | 0.61.52 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Mac OS X

[2019-04-01 12:16] AlexeyBarabash opened #3954 "Sync UI thread hangs"
## Description

A quite rare situation which I could see during work on https://github.com/brave/sync/pull/290 on 0.64.x `master` . After re-basing master to 0.65.x I could not see the issue .

Because I had not figured the reason, created the issue.

## Steps to Reproduce

1. Adjust computer time 15 minutes forward
2. Get empty profile
3. Run Brave browser
4. brave://sync, `Start a new Sync Chain

[2019-04-01 12:30] srirambv opened #3955 "Linux doesn't list Widevine component module in brave://components"
## Description

Linux doesn't list Widevine component module in brave://components

## Steps to Reproduce

   1. Install latest dev version
   2. Login to Netflix
   3. Click Allow on both prompts to instal, run and restart browser
   4. Play any video on Netflix after restart
   5. Open brave://components, Widvine component is not listed

## Actual result:

![linux-widevine](https://user-images.g

[2019-04-01 13:49] stixjohno commented on #3852
I have this very same issue, I cannot remove the Topsites Icon, I have 4 of the same, so not even top site

[2019-04-01 14:20] AlexeyBarabash opened #3956 "Sync: orders for other and mobile child bookmarks"
## Description

From conversation with @darkdh .

This does not causes problems now:
1) when 2nd device is desktop the bookmark goes into separate folders so they are ordering between siblings.
2) when 2nd device is Android the bookmark goes into еру same folder (Mobile bookmarks) and impossible get strint ordering.

But it is required to have it fixed for the migration into Chromium sync infrastr

[2019-04-01 16:03] AlexeyBarabash opened #3957 "Youtube crash on some video"
## Description

There is a YT video which causes crash on current master / nightly / dev builds on Linux/Windows/MacOS.

## Steps to Reproduce

   1. Open video https://www.youtube.com/watch?v=CZDCOKKR28g
   2. Start play, if it hadn't started

## Actual result:

   3. Browser crashes

## Expected result:
3. No crash

## Reproduces how often:

Easily

## Brave version (brave://version info)

### R

[2019-04-01 16:06] LaurenWags commented on #3861
Verified passed with

Brave | 0.63.28 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified STR from description

[2019-04-01 16:11] jasonrsadler commented on #3957
@AlexeyBarabash, does this happen on clean profile without Rewards enabled?

[2019-04-01 16:22] AlexeyBarabash commented on #3957
@jasonrsadler  @NejcZdovc
with master I tried clean profile.
with nightly/dev I tried not a clean profile.
In all cases rewards were not enabled.

[2019-04-01 16:27] bsclifton commented on #3957
Able to reproduce (macOS High Sierra, 10.13.6) on nightly

[2019-04-01 16:29] LaurenWags commented on #3640
@NejcZdovc @ryanml - test plan mentions changing `reconcileStamp` https://github.com/brave/brave-core/pull/2028 however, we do not test with this (there were issues previously) so we always test reconcile with `reconcile-interval` flag. can one of you confirm if we should be using with `reconcileStamp` or `reconcile-interval` flag?
cc @brave/legacy_qa

[2019-04-01 16:53] #2766 closed

[2019-04-01 17:00] #3946 closed

[2019-04-01 17:03] #3940 closed

[2019-04-01 17:07] tmancey opened #3958 ""Ad notifications received" should show Ads viewed between the 1st of the month and the 4th of the following month"
## Description
"Ad notifications received" should show Ads viewed between the 1st of the month and the 4th of the following month which after further investigation is caused by the date range calculated in `RewardsServiceImpl::GetEarningsRange()`

## Steps to Reproduce
   1. Set your devices date to the 6th of the month
   2. Launch the browser
   3. View several Ads
   4. Quit the browser
   5. S

[2019-04-01 17:14] w0ts0n commented on #3229
Hi @jumde I think we are waiting on you to give us 👍on this?

[2019-04-01 17:17] #3927 closed

[2019-04-01 17:18] mandar-brave commented on #3958
@tmancey prioritized

[2019-04-01 17:19] srirambv commented on #3816
@jumde any test plan for the CI builds? I only see `npm` tests on #3816.

[2019-04-01 17:30] jumde commented on #3229
@w0ts0n - we are still waiting to publish the signed binaries to the crx buckets. Will close when that's complete. Should be wrapped up today. cc: @mbacchi

[2019-04-01 17:32] whitneywanderlust opened #3959 "I have been using the BRAVE DEV browser. As of yesterday (03/31/19) I had a total of 2.10 BAT tokens in my BAT wallet that I had received through rewards/ viewing ads. Today (4/1/19) I opened my BRAVE DEV browser and tapped on rewards settings. The 2.10 BAT that I have received is gone. I checked my UPHOLD account and the 2.10 BAT is not there. I went to the BRAVE community help page and looked for similar issues. I found some posts however they did not answer my inquiry. I am a bit disappointed because I would like to participate in BRAVE rewards but not if the BAT are going to go missing. It is not the 5th of the month which is supposed to be payment date. Please help."
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-04-01 17:37] srirambv commented on #3959
This is more of a support request. Request you to kindly respond on the threads found in community or open a new one.

[2019-04-01 17:37] #3959 closed

[2019-04-01 17:38] whitneywanderlust commented on #3959
Thank you will do

Sent from ProtonMail Mobile

On Mon, Apr 1, 2019 at 12:37 PM, Sriram <notifications@github.com> wrote:

[2019-04-01 17:46] Brave-Matt opened #3960 "Cannot open links in mail.com emails"
## Description

Brave users with mail.com accounts report that opening links from within emails in Brave does not work as intended. Reports claim that when clicked an error code 403 with `“Oops, something went wrong”` is displayed.

## Steps to Reproduce

   1. (mail.com account required) Visit mail.com and login
   2. Open an email containing hyperlink to external site
   3. Click hyperlink

## A

[2019-04-01 17:46] matthewreimer commented on #2759
I think the reason Brave hits the battery so hard is that something is causing the high performance graphics card to be turned on and is keeping it on.

![image](https://user-images.githubusercontent.com/8042028/55348142-5bce6e80-546b-11e9-8fbe-10d16f91709a.png)

[2019-04-01 17:49] cezaraugusto commented on #3852
not related to new changes for sure as they only landed starting 0.62.x. however we should probably have a new tab initiative to cover some top sites bugs as they exist and are annoying. I'm self-assigning this one

[2019-04-01 18:02] GeetaSarvadnya commented on #2661
Ads are disabled in 0.62.x hence moving the milestone to 0.63.x

[2019-04-01 18:04] corymcdonald commented on #2993
@dlipeles Saw the same thing on sandbox.uphold.com

[2019-04-01 18:19] NejcZdovc commented on #3640
I think should work with `reconcile-interval` flag

[2019-04-01 18:45] rebron commented on #2547
cc: @anthonypkeane

[2019-04-01 18:46] btlechowski commented on #3640
Verification passed on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Linux

Used test plan from https://github.com/brave/brave-core/pull/2028 , but used `--rewards=staging=true,reconcile-interval=1` flag instead. Tested on staging server.

Sufficient funds
![image](https://user-images

[2019-04-01 20:27] karenkliu opened #3961 "Style Chrome browser dialog with the Brave themed dialog component"
## Description
Currently, our browser dialogs follow the default Chrome theme. We need to style them with our Brave themed dialog component and de-Chromify our browser.

[2019-04-01 20:30] kjozwiak commented on #3816
Assuming @LaurenWags and myself can check using Little Snitch to make sure we're not connecting to `clientservices.googleapis.com` at startup. As @srirambv mentioned above, is there a better way to Win/Linux?

[2019-04-01 20:31] AlexeyBarabash opened #3962 "Sync: proper message on wrong device time"
## Description

When time is wrong, sync shows general error about cannot connect to server, though there is an opportunity to shows details and give a tip on how to solve.

## Steps to Reproduce

   1. Adjust computer time 20 minutes forward.
   2. Create a sync chain

## Actual result:

   3. See error of `Couldn't connect to Sync servers`

## Expected result:
   3. See error of `You might be ha

[2019-04-01 20:44] btlechowski commented on #3895
Verification passed on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/2112
Clean install ping on `2019-04-01`
`https://laptop-updates.brave.com/1/usage/brave-core?platform=winx64-bc&channel=rele

[2019-04-01 20:46] mandar-brave commented on #3657
@NejcZdovc @RyanJarv to make it easy on the design, can we just have another symbol color that shows?
(excluded icon) site/contributor with a different color.

This will ensure there is no extra table and the sites that were excluded show up as part of the attention.

Alternative option:
We have an easter egg that replaces existing attention table with table of exclusions.

My worry is the privacy

[2019-04-01 20:47] jumde commented on #3816
@kjozwiak @srirambv - Fiddler works really well on Win/Linux https://www.telerik.com/download/fiddler

@btlechowski @srirambv - Test plan specified here: https://github.com/brave/brave-core/pull/2095

Let me know if you have any questions.

[2019-04-01 20:50] hollons opened #3963 "Can’t use the “next site” feature in the comments section of spiegel.de with default shields."
Description of the issue

https://community.brave.com/t/cant-browse-the-next-pages-in-the-comment-section-of-spiegel-de/51520

Can’t use the “next site” feature in the comments section of spiegel.de with default shields.
Exact URL of the website in question. The site http://www.spiegel.de/ seems to block content or lose functionality in Brave. The problem seems to be HTTPS upgrades — site function

[2019-04-01 20:52] tomlowenthal commented on #3657
I think that an extra table is probably the right design: interact with the text at the bottom about excluded items and the table turns into the excluded items, with interactive elements to restore them one at a time, or all. But I defer to design.

[2019-04-01 20:53] mandar-brave commented on #3657
@tomlowenthal you comfy showing excluded items? please double confirm

[2019-04-01 20:59] tomlowenthal commented on #3657
No problem showing excluded items behind a click/button. Showing excluded items without a click is dicier.

[2019-04-01 21:22] bershanskiy opened #3964 "Disable Keyboard API fingerprinting"
## Description

Brave inherits from Chrome implementation of Keyboard API which does not provide any functionality to the user (only Chrome and Opera support it and, to my knowledge, no site actually uses it). However, the API might be used for fingerprinting.

WICG Keyboard Map Draft mentions that the API can be used for fingerprinting of:

## Steps to Reproduce

   1. Verify that "Shields" are o

[2019-04-01 21:24] rebron commented on #3961
cc: @yrliou and @simonhong just a heads up. Trying to make it all look consistent.
@karenkliu Can we get dark theme mocked-up and specified as well.

[2019-04-01 21:36] simonhong commented on #3572
This can be merged into https://github.com/brave/brave-browser/issues/3961

[2019-04-01 21:36] #3572 closed

[2019-04-01 21:37] JoelMon commented on #3958
Happens to me with Version 0.64.30 Chromium: 73.0.3683.75 (Official Build) dev (64-bit).

The bug happens with me when I close and open the browser or when I turn off ads reward and turn it back on.
You can see the screen recording of the bug [here](https://streamable.com/ekvlv) sorry for the poor resolution.

[2019-04-01 21:44] #3920 closed

[2019-04-01 21:57] petemill commented on #3894
This also affects normal buttons, changing title / description to reflect that

[2019-04-01 22:15] btlechowski commented on #3816
On Windows 10 x64, Brave connects to `gvt1.com` domain.

Steps:
1. Clean profile
2. Go to settings through hamburger menu

URLs:
[code]

Tested on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

[2019-04-01 22:23] hollons commented on #3750
https://community.brave.com/t/website-shorcut-on-desktop-does-not-open/51486

[2019-04-01 22:36] petemill opened #3965 "WebUI Navigation Bar sub-menu has light-on-light items in dark mode for c74"
WebUI Navigation Bar sub-menu should be on dark background in dark mode
C74 only

STR:
1. Visit Bookmarks Page

Actual:
![image](https://user-images.githubusercontent.com/741836/55363929-a49a1d80-5493-11e9-90b0-c8eb2110d7fd.png)

Expected:
Dark background

[2019-04-01 22:43] btlechowski commented on #3816
Verification passed on

Brave | 0.62.49 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Windows 10 OS Build 17134.523

Brave | 0.63.28 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build

[2019-04-01 22:53] petemill commented on #3376
@srirambv this is the case on all platforms - some pages just require custom work to override each component. Settings will come with a more specific PR. Thanks for noticing 👍

By the way, inspecting the css rules like that is less reliable than the following tip for detecting which fonts were actually used for any piece of text:
1. Inspect the element (as you have done here)
2. Click on the 'Comp

[2019-04-01 23:02] Brave-Matt opened #3966 "Webtorrent file doesn't stream when file name is clicked on"
## Description

Instead of streaming the torrent content in window when clicking on the file name, Brave instead offers to save the file to your device:
![webtor]()

When torrent is opened in a new tab (from webtorrent screen), stream content opens in the new tab and will play as intended.

## Steps to Reproduce

   1. Ensure Brave webtorrent ext is enabled in settings
   2. Start torrent file in

[2019-04-01 23:07] karenkliu commented on #3961
@rebron The dialogue should default to light/dark theme depending on what the user has specified at the OS level. @rossmoody Do you know if I need to explicitly create a dark theme dialog for this to happen?

[2019-04-01 23:44] rossmoody commented on #3961
This is a good initiative but we should prob sit down with @petemill who has the most experience from Settings restyling and talk about our approach. I think updating the styling of the modals will have to touch more than just the modals themselves and we should be sure to account for all the use cases when we update the components. For instance: I imagine updating the modal components here would

[2019-04-01 23:56] srirambv opened #3967 "Ads enabled for unsupported regions"
## Description

While verifying #2562, found even if device on unsupported region, Ads get enabled.

## Steps to Reproduce

   1. Set VPN to a unsupported region
   2. Launch a clean profile of beta
   3. Enable rewards
   4. Open rewards setting, `Sorry, Ads are not available in your region` message pops up for a second and then ads settings get enabled

## Actual result:

Ads enabled for unsuppo

[2019-04-01 23:58] tmancey commented on #3967
@ryanml do you know of any recent changes which may have caused this please?

[2019-04-02 00:04] petemill commented on #3961
Hey I wasn’t aware a designer was explicitly working on this. I’ve started a look at it mainly just to make the buttons brave-style and typography use the correct fonts. Doesn’t seem that’s different to the intention here anyway. But the buttons in these mockups seem a little different to the versions of the design system button I’ve been working from in brave-ui. In lieu of the “official standard

[2019-04-02 00:08] #3752 closed

[2019-04-02 00:12] rossmoody commented on #3961
The definitions here and in Brave UI will need updated. I'll put together a spec we can go over that includes final sizing, color and spacing and pattern usage.

[2019-04-02 00:24] ryanml commented on #3967
@tmancey I have not made any changes related to this since: https://github.com/brave/brave-core/pull/1941 - I can do some investigation on this one though 👍

[2019-04-02 01:12] tmancey commented on #3967
@ryanml This could be related to Chromium returning `en_US` for non supported regions, let me check this first and I will then get back to you if that is ok?

[2019-04-02 01:13] ryanml commented on #3967
@tmancey sounds good. Double checking the logic in place is all sound but yeah just seems that the wrong value is showing for region

[2019-04-02 02:36] JoelMon commented on #3957
Not able to reproduce on Linux Mint Version 0.64.30 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)

[2019-04-02 02:41] OldGuyInTheClub commented on #3957
...

Came to file a report on this problem, saw this existing thread.  Problem reproduced with OP's link although video played for a few seconds and then crashed.   Happened on many other YT links starting yesterday 3/30/2019.

Brave Version 0.64.30 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
Macos High Sierra 10.13.6

[2019-04-02 02:42] JoelMon commented on #3954
Can reproduce on Linux Mint using Version 0.64.30 Chromium: 73.0.3683.75 (Official Build) dev (64-bit).

When I try to remove a device from the sync chain it hangs. I recorded the problem. Can be seen [here](https://streamable.com/osvi0).

[2019-04-02 05:00] #3957 closed

[2019-04-02 06:04] #3502 closed

[2019-04-02 06:31] bsclifton commented on #3894
Resolved when C74 was merged to master with https://github.com/brave/brave-browser/pull/3931 😄

[2019-04-02 06:31] #3894 closed

[2019-04-02 06:33] bsclifton commented on #3965
Resolved when C74 was merged to master with https://github.com/brave/brave-browser/pull/3931 😄

[2019-04-02 06:33] #3965 closed

[2019-04-02 07:01] kamleshrao commented on #3809
I am still facing this problem @rebron - Can you please reopen this and look into this issue.

Hope this issue, does not reduce the number of Brave users. Please do the needful.

[2019-04-02 08:05] kjozwiak commented on #3816
@LaurenWags if the above worked for you, can you label this as `QA/Passed` for macOS? Thanks!

[2019-04-02 08:20] #3958 closed

[2019-04-02 08:52] GeetaSarvadnya commented on #2444
1+ https://community.brave.com/t/unable-to-copy-paste/51490/2

[2019-04-02 09:12] GeetaSarvadnya opened #3968 "Google extension `Office Editing for Docs, Sheets & Slides` is not working"
## Description

Google extension `Office Editing for Docs, Sheets & Slides` is not working
https://chrome.google.com/webstore/detail/office-editing-for-docs-s/gbkeegbaiigmenfmjfclcdgdpimamgkj

## Steps to Reproduce

   1. Open brave 0.61.52
   2. Install the extension `Office Editing for Docs, Sheets & Slides` from CWS
   3.  try to open Docs, excel or slides

## Actual result:

Word, exce and sli

[2019-04-02 14:40] iefremov opened #3969 "GPU-related artifacts"
## Description
From Twitter: https://twitter.com/JohnMarkoff2/status/1111299290268196864

More details in the thread

![image](https://user-images.githubusercontent.com/3109556/55411301-9df0d080-558f-11e9-9978-8ad9d335cbe7.png)

[2019-04-02 14:46] iefremov commented on #3969
[chrome_gpu.zip](https://github.com/brave/brave-browser/files/3034493/chrome_gpu.zip)

GPU logs from Chrome and Brave (note different versions).
Brave managed to pick Apple drivers, while Chrome uses Intel (?)

[2019-04-02 14:46] iefremov commented on #3969
@bbondy @bridiver @BrendanEich
FYI, filed the GPU issue discussed in twitter

[2019-04-02 14:46] iefremov commented on #3071
Filed an issue discussed on Twitter: https://github.com/brave/brave-browser/issues/3969

[2019-04-02 14:47] iefremov commented on #3969
@rebron please triage

[2019-04-02 14:54] iefremov commented on #3071
One more similar issue https://github.com/brave/brave-browser/issues/3471

In this one disabling the HW acceleration helps, and @kjozwiak reproduced the problem in Chrome on his VM.

[2019-04-02 14:57] iefremov commented on #3471
@dayfuaim Sorry, Denis, the gpu info in your post doesn't seem to be complete.

Could you please paste the full info, that can be obtained by pressing the following button?
![Screenshot from 2019-04-02 21-56-01](https://user-images.githubusercontent.com/3109556/55412741-325c3280-5592-11e9-8bab-ffd3c1ffc141.png)

[2019-04-02 14:58] srirambv commented on #3964
cc: @tomlowenthal @diracdeltas

[2019-04-02 15:02] srirambv commented on #3950
@bbondy Yes its the same

[2019-04-02 15:09] bbondy commented on #3950
cc @lidel

[2019-04-02 15:19] srirambv commented on #3950
This is on Chrome btw
![Screenshot from 2019-04-02 11-18-40](https://user-images.githubusercontent.com/17010094/55414467-2728e880-5539-11e9-9e6f-ddf9dfbfcd66.png)

[2019-04-02 15:31] jasonrsadler commented on #1192
cc @mandar-brave

[2019-04-02 15:43] mandar-brave commented on #1192
Here is the dialog @jasonrsadler

Reset Brave Rewards
This will reset all of your Brave Rewards data, including your wallet, earned advertising tokens, contribution history, wallet transaction records, recurring tips to content creators, pending contributions to content creators, and any other Brave Rewards settings you may have saved.

[2019-04-02 15:49] mandar-brave commented on #1192
On error

Resetting Brave Rewards is failing at the moment. Please restart Brave and try again shortly.
Buttons (Ok, Restart)

@jasonrsadler

[2019-04-02 15:50] GeetaSarvadnya commented on #884
1+ https://community.brave.com/t/cant-download-pdf-unexpected-response-from-server/51666/2

[2019-04-02 15:59] jasonrsadler commented on #1192
@mandar-brave how is this:

Reset Brave Rewards
This will delete your Brave wallet and reset all of your Brave Rewards data, including your earned advertising tokens, contribution history, wallet transaction records, recurring tips to content creators, pending contributions to content creators, and any other Brave Rewards settings you may have saved.

I think we need to specify that wallet will be

[2019-04-02 16:12] kcinman11358 commented on #2701
bump

[2019-04-02 16:27] kjozwiak opened #3970 "Release checklist for 0.62.x (Release Channel)"
### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/brave/torrent-discovery is up to date with its latest upstream.
- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the securit

[2019-04-02 16:54] dayfuaim commented on #3471
@iefremov OK (although I did copied this via button).
Once more.
BTW Just another bug: copy with button and paste into Github editor gives table as above, but paste into my text editor, copy from there and paste into Github editor gives the whole data.

Chrome (HW Accel OFF):
[code]

Chrome (HW Accel ON):
[code]

[2019-04-02 17:05] bbondy commented on #3950
Sorry I think this is probably an error with the way we're installing it. cc @yrliou

[2019-04-02 17:09] bbondy opened #3971 "Have the Windows installer pin Brave to the taskbar"
This issue is to track having the installer of Brave automatically pin Brave to the taskbar.
I'm not certain if this is still possible in Windows 10, but it used to be possible.
This will certainly help retain engagement for new users.

[2019-04-02 17:09] rebron commented on #3347
@GeetaSarvadnya Can you try now? #3805 is fixed.

[2019-04-02 17:13] bbondy opened #3972 "Consider making default browser prompt show on first startup instead of second"
We currently only show this bar as of the 2nd startup and beyond:
<img width="472" alt="Screen Shot 2019-04-02 at 1 12 22 PM" src="https://user-images.githubusercontent.com/831718/55422173-09fc1600-5549-11e9-811e-3c5e34b1c166.png">

But some users that install only open the browser once.
This issue is to track showing the bar even on the first startup.

[2019-04-02 17:15] lidel commented on #3950
Hi, IIUC `__MSG_manifest_extensionName__` in `manifest.json` should just work.
In Chrome and Firefox it is replaced at runtime by translation from `add-on/_locales/en/messages.json`

[2019-04-02 17:43] bershanskiy commented on #3964
Didn't mention in the initial post, but for a while now (~month) I have been running an extension that removed this API (replaced `navigator.keyboard` with `undefined`) in every context and did not see any negative behavior yet.

[2019-04-02 18:20] jasonrsadler opened #3974 "Push wallet result to UI side in extension observer: OnWalletInitialized"
Follow up from https://github.com/brave/brave-core/pull/2097

## Description

extension observer method `OnWalletInitialized` is iterating on wallet creation result on native side. We would like this result to be pushed to client side code and iterated there.

Function in question: https://github.com/brave/brave-core/blob/master/components/brave_rewards/browser/extension_rewards_service_observer.c

[2019-04-02 18:27] naukarialerts4u commented on #3972
Yeah it is common for every one whether it is brave browser or Firefox its always popup for default browser settings

[2019-04-02 18:32] WorldLanguages commented on #3756
Priority P1 please!!
This is very annoying

[2019-04-02 19:48] mbacchi commented on #3229
Packaged and released `0.3.5.7`.

[2019-04-02 19:49] #3229 closed

[2019-04-02 19:52] MariuzM opened #3975 "Disable autoplay notification slide"
## Description

When visiting a site autoplay notification that slides from right to left kicks in.

## Steps to Reproduce

Visit any site with autoplay

## Actual result:

## Expected result:
Can this be disabled because it's really distracting.

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta bu

[2019-04-02 20:00] srirambv commented on #3376
Thanks for the confirmation @petemill :+1:

[2019-04-02 20:16] eljuno commented on #3975
Duplicate of #3751

[2019-04-02 20:45] #3975 closed

[2019-04-02 20:47] aqeelparpia commented on #3832
I'm having troubles setting up the project

[2019-04-02 20:54] bsclifton commented on #3832
@aqeelparpia what steps have you done so far? Do you have XCode and the command line tools installed? You should be able to follow the steps here:
https://github.com/brave/brave-browser/wiki/macOS-Development-Environment

[2019-04-02 21:01] #2547 closed

[2019-04-02 21:41] jenn-rhim commented on #3657
Here is the design recommendations.
The only new items other than the excluded site list itself is the date stamp of when the user excluded each site and the ability to restore the individual site rather than restoring the entire exclusion list. For the excluded sites prior to this change for which we don't have the date stamp, we'll indicate it with '--'.

![1-ac-list](https://user-images.githubu

[2019-04-02 22:03] Brave-Matt commented on #2362
Several +1's from Community:
https://community.brave.com/t/notification-enabled-but-not-working/49594/8

[2019-04-02 23:59] TheRoarkster commented on #209
Well....I just updated to Brave Version 0.64.30 Chromium: 73.0.3683.75 (Official Build) dev (64-bit), and it broke my cast ability  -- both with the flags set as [previously posted](https://github.com/brave/brave-browser/issues/209#issuecomment-468966429) and with no flags set.

The one step forward, though, was that there is now a cast button in Brave, with a nice integration, if you have no flag

[2019-04-03 00:22] lukemulks opened #7767 "Brave Rewards: Default tipping amt and accidental tipping"
## Description
I accidentally tipped ~$1.59 USD worth of BAT to Coinmarketcap.com today.

The default tipping amt of 5 BAT being preselected, along with the "Send my tip" button being placed very close to the native buttons on the bottom of the screen made it pretty easy to accidentally tip the site.

## Steps to reproduce

   1. Go to site
   2. Open tip dialogue
   3. Look at placement

## Actua

[2019-04-03 00:39] oceanic84 opened #3977 "Make it possible to block Trackers only"
Now on windows you only have option to either enable or disabled ads/tracking blocking.
A lot of people of us want to use ublock orgin for blocking adds because superior speed but still want to rely on brave anti-tracking, to avoid the need using apps like Ghostery.

In the Brave android app it is possible to disabled adblocking but enable anti-trackers.

[2019-04-03 01:34] anthonypkeane opened #3978 "General sync issues / Cross - platform"
## Description

Creating an issue where we can link to reviews or feedback from users that have sync issues.

Often users don't provide too much info so it will be hard to troubleshoot.

---

https://appfigures.com/reviews/266342430751LzMqRLxy4v3w4SZOpoIRpow

[2019-04-03 02:21] rebron commented on #1192
@mandar-brave @bradleyrichter
Wondering if bullet pointing this list is better. Hard to digest in paragraph form.

Reset Brave Rewards
This will delete your Brave wallet and reset all of your Brave Rewards data, including:
  * your earned advertising tokens
  * contribution history
  * recurring tips to content creators
  * pending contributions to content creators
  * wallet transaction records
a

[2019-04-03 02:29] kjozwiak commented on #3957
Verification **PASSED** on `macOS 10.14.3 x64` using the following build:

Brave | 0.62.50 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{#858}
OS | Mac OS X

* Went through the test case outlined under https://github.com/brave/brave-core/pull/2129 x3 wtih Rewards disabled
* Went through the test case outlined un

[2019-04-03 02:30] kjozwiak commented on #3957
@AlexeyBarabash did this resolve the crash you where experiencing?

[2019-04-03 03:48] kjozwiak opened #3979 "Release notes for 0.62.x (Release Channel)"
Release Notes
 - Linux command line help needs updating for brave specific details .([#392](https://github.com/brave/brave-browser/issues/392))
 - Widevine support for Linux.([#413](https://github.com/brave/brave-browser/issues/413))
 - Http://dl.google.com/linux/chrome/deb/ automatically added to sources.list.([#1084](https://github.com/brave/brave-browser/issues/1084))
 - Default theme should be

[2019-04-03 05:00] OldGuyInTheClub commented on #3957
Not the OP but his linked video still crashes.  macos High Sierra 10.13.16, Brave is up to date
 Version 0.64.30 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)

[2019-04-03 05:28] GeetaSarvadnya commented on #3132
@jasonrsadler Issue is not Reproducible. Verified on below brave versions.

`0.61.52` - Not Reproducible
`0.62.50` - Not Reproducible
`0.64.30` - Not Reproducible
`0.64.10` - Not Reproducible
`0.59.34` and `0.59.35` - Not Reproducible

[2019-04-03 05:36] kjozwiak commented on #3957
You'll need a new build as the PR landed after `0.64.30 Chromium: 73.0.3683.75` was created. If you take a look at https://github.com/brave/brave-core/commits/0.64.x, you'll notice that https://github.com/brave/brave-core/pull/2137 was merged after `0.64.30 Chromium: 73.0.3683.75`.

[2019-04-03 05:43] kjozwiak commented on #3132
Thanks for checking @GeetaSarvadnya :+1: Lets close this off for now and re-open if we run into this again.

[2019-04-03 05:44] #3132 closed

[2019-04-03 06:47] kjozwiak commented on #3809
Re-opening as we're getting a few reports of this issue still occurring, specifically Linux. Community reports:

* https://twitter.com/aninstanceofdan/status/1113177844136505344
* https://twitter.com/plus530/status/1113176372015378432

[2019-04-03 06:54] kamleshrao commented on #3809
Thanks for reopening the issue.  Will be happy to review it or share more details, if you need any.

[2019-04-03 08:53] mrzealot commented on #951
@rebron Resharing the last iteration of the whitelist publicly, as per our Slack discussions: [Refined_Ext_Shortlist_20181219.zip](https://github.com/brave/brave-browser/files/3037724/Refined_Ext_Shortlist_20181219.zip)

[2019-04-03 09:34] mihaiplesa commented on #944
Adding changes needed for pipeline in https://github.com/brave/brave-browser/pull/3981

[2019-04-03 11:34] srirambv commented on #1192
Probably should add a note to backup wallet for future use or reuse?

[2019-04-03 12:50] jasonrsadler commented on #1192
+1 for backup wallet, however, there are certain things like unclaimed advertising tokens that would not be recovered. cc @tmancey

[2019-04-03 13:00] srirambv commented on #3809
I just tried this on my Ubuntu installation and there is no tab hang. Running the current release version (0.61.52)
[code]

Is the browser language set different?

[2019-04-03 13:56] mandar-brave commented on #1192
@rebron open to bullet points; not sure if the visual will look ok. @jasonrsadler i like Raf's proposal, just not sure if the dialog can take than much height and then take the buttons + error. Please comment.

[2019-04-03 14:02] Aninstance commented on #3809
@srirambv I just upgrade my Ubuntu 18.04 LTS and tested, but the issue persists. In my case, language is set to UK English.

Developer console shows a lot (literally hundreds) of simultaneous pending network requests  - stalled at 1.30s - for the emoji png files. E.g.:

`Request URL: https://abs.twimg.com/emoji/v2/72x72/1f533.png
Referrer Policy: no-referrer-when-downgrade
Provisional headers are

[2019-04-03 14:02] jasonrsadler commented on #1192
@mandar-brave @rebron For the browser 'reset settings'. There is a link for 'Learn More'. Would 'Reset Rewards' detailed explanation be better suited for a help page as well rather than trying to squeeze all in the dialog?

[2019-04-03 14:09] kamleshrao commented on #3809
@srirambv Did you try logging in to Twitter website and selecting a emoji while composting a tweet?

[2019-04-03 14:22] srirambv commented on #1967
Verification passed on OpenSuse Leap 15.0

Brave | 0.63.29 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/55486223-f2c93100-55f9-11e9-89b7-3c2bdd4bc1cf.png)

[2019-04-03 15:01] srirambv commented on #3802
Actually can close this as dupe of #3617

[2019-04-03 15:01] #3802 closed

[2019-04-03 15:07] mandar-brave commented on #1192
@jasonrsadler i can definitely do a FAQ question; knowing the fact that this is nuclear, we should definitely have an upfront "you are warned" thing. Well - tell us what we can squeeze and we can go from there!

[2019-04-03 15:08] #3979 closed

[2019-04-03 15:11] srirambv opened #3982 "`repomd.xml` is not signed message on OpenSuse"
## Description

Public key is not signed message on OpenSuse

## Steps to Reproduce

   1. Run the following commands
[code]
   2. Console throws message saying public key is not signed

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/55490019-04fa9d80-5601-11e9-97e4-ec9851a7efc4.png)

## Expected result:
Should not throw any error message

## Reproduces how often:

[2019-04-03 15:28] mbacchi opened #3983 "widevine signing fails on ia32 due to incorrect output path"
ia32 windows build fails during widevine signing:

[code]

We need to use the correct output path on ia32 which is `src/out_86/Release`.

[2019-04-03 15:44] lukejackson958 commented on #2025
please bring this feature back!

[2019-04-03 15:53] AlexeyBarabash commented on #3954
@JoelMon for the situation you had recorded, removing of the device can take up to 1 minute until sync will get confirmation from the server about removing of the device.

[2019-04-03 15:54] AlexeyBarabash commented on #3954
The original issue is not related to sync and was fixed on my Ubuntu 16 computer by disabling Nvidia proprietary drivers.

[2019-04-03 15:54] #3954 closed

[2019-04-03 16:01] bbondy opened #3985 "Embedded Twitter videos do not play"
## Description

Embedded Twitter videos do not play even with Social media Twitter option ON.

## Steps to Reproduce

   1. Ensure your allow embedded tweets option is ON
   2. Go to https://www.dailywire.com/news/45415/tucker-carlson-unloads-ocasio-cortez-moron-nasty-ryan-saavedra <- the link shared to me in social media
   3. Scroll past the videos until you see the video for Twitter. If you don

[2019-04-03 16:06] srirambv commented on #3809
@kamleshrao Yes. that's exactly what I did

@Aninstance ok was able to reproduce it this time. I see the tab just freezes up and is useless. However I am able to use the browser by opening new tabs but still can't close the browser via close button. I see these error show up when i try to add an emoji in tweet window

[code]

[2019-04-03 16:29] #3962 closed

[2019-04-03 16:49] srirambv commented on #3809
Reproducible on `0.62.50` as well

[2019-04-03 16:51] yrliou opened #3986 "Manage rewards by its pref"
Refactor rewards code to be fully managed by the pref, nothing should happen if the pref is disabled, ledger utility process should only be created when pref is on too. cc @NejcZdovc @bbondy

[2019-04-03 16:57] srirambv opened #3987 "Uninstall doesn't provide prompt to delete profile folder"
## Description

Uninstall doesn't provide prompt to delete profile folder

## Steps to Reproduce

   1. Upgrade to `0.62.50`
   2. Go to apps settings and uninstall Brave
   3. No option to remove profile data is shown during uninstall process

## Actual result:

There is no prompt to remove profile folder. Just silently removes the install

## Expected result:
![image](https://user-images.githubu

[2019-04-03 17:00] darkdh commented on #3915
fixed by https://github.com/brave/brave-browser/pull/3916#issuecomment-479574115

[2019-04-03 17:00] #3915 closed

[2019-04-03 17:24] iefremov commented on #3471
@dayfuaim Thanks! And please do the same for Brave :)

[2019-04-03 17:25] rebron commented on #3970
Released April 3, 2019. 9:30amPST

[2019-04-03 17:25] #3970 closed

[2019-04-03 17:37] bbondy opened #3988 "embedded YouTube videos no longer work"
## Description

This regressed in 0.63.x.

There is such a video at the bottom of this page:
https://www.dailywire.com/news/45415/tucker-carlson-unloads-ocasio-cortez-moron-nasty-ryan-saavedra

[2019-04-03 17:48] kamleshrao commented on #3809
I updated my packages few minutes back and now got the Brave Version updated to below one:

[code]

I am glad that Emojis are working well for me now on Ubuntu 18.04 LTS.  Can someone confirm if there was a fix rolled out today? Will be happy to know what was the fix!

@Aninstance can you verify from our side too?

[2019-04-03 18:00] #3762 closed

[2019-04-03 18:00] mandar-brave opened #3989 "Ads Rewards grants should trigger BAT icon badge (Rewards notification badge)"
If an Ads user (Ads ON) receives their ads rewards payment, the BAT logo should show the notification logo so user know ads rewards payment is available to be made, and needs to be claimed.

@jsecretan @NejcZdovc

[2019-04-03 18:08] Aninstance commented on #3809
@kamleshrao I'm glad it's working for you on the new release. I'm running the Snap package, which has yet to be upgraded to the newer version, so unable to confirm immediately. I note, however, that @srirambv reports above that the issue did persist for them on version 0.62.50.

[2019-04-03 18:19] kamleshrao commented on #3809
@Aninstance OOPS! I closed Brave and reopened it. And now the problem is again back.  Emoji's still hanging.

I am really unaware how it worked earlier.

Tried reopening browser multiple times and problem still exists :-(

[2019-04-03 19:07] devonandchris opened #3990 "NordVPN does not work in Private Mode"
## Description
NordVPN does not work in Private Mode

## Steps to Reproduce

   1. With a NordVPN account and the NordVPN extension, and the extension enabled for use in private windows, open a private window an attempt to connect to the service.
   2. If you have not logged in on a normal tab, you will get prompted to login, and it will appear success, but not actually work.
   3. If you have alr

[2019-04-03 19:11] Brave-Matt commented on #2408
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/b90wmq/join_extension_does_not_work/

[2019-04-03 19:24] poikilos opened #3991 "Bold Styling for GitHub Markdown Does not Work"
I searched for the issue (open and closed) and could not find it. I do not know of any terms that can be used to identify the issue better other than what I've put in this issue's title field.

## Description
GitHub markdown does not work in Brave.

## Steps to Reproduce

   1. Write something in a GitHub Comment
   2. Put asterisks around a word.

## Actual result:
Word is not bold

## Expected r

[2019-04-03 19:44] layt40 commented on #796
nothing happens there will be a solution hard work always compensates and pays off 👍

[2019-04-03 19:58] bsclifton commented on #944
Partially fixed with https://github.com/brave/brave-browser/pull/3903 and https://github.com/brave/brave-core/pull/2023 ; we'll need https://github.com/brave/brave-browser/pull/3981 too, as @mihaiplesa called above (then we can close this)

[2019-04-03 20:09] LaurenWags commented on #3783
Verified passed with

Brave | 0.63.30 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified test plan from https://github.com/brave/brave-core/pull/2077
- Verified STR from description

[2019-04-03 20:33] ryanml commented on #3657
@jenn-rhim this looks slick! Thanks for providing.

One nit, on the Excluded Sites view, for the restore action, was the trash can icon intentional? Maybe something like this from our icon library:

<img width="109" alt="Screen Shot 2019-04-03 at 1 32 55 PM" src="https://user-images.githubusercontent.com/8732757/55511305-1fd70d00-5615-11e9-9087-7968f5f28e78.png">

[2019-04-03 20:34] ryanml commented on #3657
Though I do understand if the X icon was more meant to denote: `Remove the item from this list`

[2019-04-03 21:09] bsclifton commented on #413
Quick heads up for folks watching this issue - this is now LIVE on our release channel! 🎉

Please give it a download and report back your experience 😄 Things should be working great. There are some UI improvements we'd like to make, but we'll get there.

For example, we want to make it more obvious when the Widevine component needs to be installed - this is captured with https://github.com/brave/b

[2019-04-03 21:22] bsclifton commented on #413
cc: @richardkentgates @mkhamat @Soffioo @sk8darr @StarFscker

[2019-04-03 21:42] bsclifton commented on #3987
Yikes - I am curious when this regressed. Too bad the regression script I wrote doesn't do Windows (yet!)

[2019-04-03 21:53] bsclifton commented on #3983
I believe this was fixed with https://github.com/brave/brave-browser/pull/3981

[2019-04-03 21:53] #3983 closed

[2019-04-03 22:14] jbenden commented on #3862
FYI: Could be this: https://github.com/brave/brave-browser/issues/1024

[2019-04-03 22:36] simonhong commented on #944
@bsclifton @mihaiplesa Yay! 👍

[2019-04-03 22:44] caspertone2003 commented on #3880
@MrTeeXD
@crazy-max

I am a happy user of brave portable, not related to crazy-max.
You should definetively try it.
I use both brave-portable .25 (based on brave-desktop) and .6x (based on brave-core) as .25 implements session tabs and brave-core .6x is not implementing session tabs (yet? ever?). On the other hand .25 does not support chrome extensions and .6x does. For me session tabs is a/the US

[2019-04-03 23:24] ryanml opened #3992 "Notification counter does not increment when Ads grant is received"
Really, this is occurring because no checks are happening while the user is idly browsing. (Currently it will happen if the user opens the Rewards Settings page or the Rewards panel)

Grants should be fetched inside the existing 24 hour notification interval inside `rewards_service_impl.cc` here: https://github.com/brave/brave-core/blob/master/components/brave_rewards/browser/rewards_service_impl.

[2019-04-03 23:25] ryanml commented on #3992
Closed in favor of #3989

[2019-04-03 23:25] #3992 closed

[2019-04-03 23:25] ryanml commented on #3989
Posting my comment from the issue I originally made:

Really, this is occurring because no checks are happening while the user is idly browsing. (Currently it will happen if the user opens the Rewards Settings page or the Rewards panel)

Grants should be fetched inside the existing 24 hour notification interval inside `rewards_service_impl.cc` here: https://github.com/brave/brave-core/blob/master/

[2019-04-03 23:35] BenDavidson90 commented on #3750
Same here on Windows 10 1809 and Brave 0.62.50.
Quite annoying because I have to open these shortcuts with Chrome while waiting for a fix.

[2019-04-04 00:03] btlechowski commented on #3967
I am located in Poland and Ads are enabled. I don't see any ads though.

Brave | 0.63.30 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

![image](https://user-images.githubusercontent.com/34715963/55520714-c9ea7f80-567d-11e9-9738-727f82b731bd.png)

[2019-04-04 00:07] mandar-brave commented on #3989
@ryanml point taken.
However, there is a significant different in grants and ads rewards. Ads rewards needs to be more proactive than accepting grants since the users have earned them.
Would love to see a change that enables a scenario - ok for a few hours, 24 sounds extremely long.

cc @jsecretan @NejcZdovc

[2019-04-04 00:14] btlechowski commented on #3335
Verification passed on

Brave | 0.63.30 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1756

[2019-04-04 00:21] bbondy commented on #3988
See also https://twitter.com/BrendanEich/status/1113130612645228546

[2019-04-04 00:23] btlechowski commented on #2931
@bbondy PR for 0.63.x is not merged. https://github.com/brave/brave-core/pull/2012

[2019-04-04 00:31] btlechowski commented on #1305
The website in question changes so it no longer uses `xtcore.js`.
Setting the issue to invalid.

[2019-04-04 00:59] ryanml commented on #3989
Per the above ^ grants are now set to check every 3 hours

[2019-04-04 01:16] cndouglas commented on #3991
Please try downloading the latest release version of Brave (0.62.50): https://github.com/brave/brave-browser/releases/tag/v0.62.50

**Bold text** is working fine for me, so this issue must be version specific or platform specific.

Screenshot of my comment:

[2019-04-04 01:30] cndouglas commented on #2822
As of 0.65.16 (nightly), most brave:// pages now support dark mode.
![](https://user-images.githubusercontent.com/19424103/55523373-73198180-564e-11e9-9374-c47ca9d5a928.png)

Pages still not supported:

- brave://rewards
- brave://sync (#3908)
- brave://welcome (#3911)

[2019-04-04 01:45] mandar-brave commented on #3989
@ryanml if the 3 hour check is all the time vs. when the ads rewards claims are expected, i would move it back to 24 hours -- it will be too often, too aggressive.

cc @NejcZdovc

[2019-04-04 01:58] bbondy commented on #2931
Yep I was going to rebase today and reland tomorrow. Sorry for the delay.

[2019-04-04 02:09] btlechowski commented on #3551
Verification passed on

Brave | 0.63.30 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

Used test plan from https://github.com/brave/brave-core/pull/1823

[2019-04-04 02:09] simonhong commented on #944
VMP related PRs are reverted because Windows PR builders failed for signing.
https://github.com/brave/brave-core/pull/2157
https://github.com/brave/brave-browser/pull/3993
https://github.com/brave/brave-browser/pull/3994

[2019-04-04 02:18] btlechowski commented on #3509
Verification passed on

Brave | 0.63.30 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

Used test plan from the description

[2019-04-04 02:37] btlechowski opened #3995 "Positive Attention value in Rewards Panel despite minimum page time requirement not being met"
## Steps to Reproduce

   1. Clean profile
   2. Enable rewards
   3. Go to `interia.pl` and wait till the page is added to a-c table
4. Change `Minimum page time before logging a visit` to 1 minute
5. Go to `Interia.pl`
6. Open Rewards Panel

## Actual result:

Positive Attention value

![image](https://user-images.githubusercontent.com/34715963/55525927-50f62280-5693-11e9-82f2-c939e674f7ee.png)

[2019-04-04 02:53] kjozwiak commented on #3987
@bsclifton looks like it regressed in `0.62.50 Chromium: 73.0.3683.86`. @srirambv checked 0.61.52 Chromium: 73.0.3683.86` on the release call and confirmed that it was only happening in `0.62.50 Chromium: 73.0.3683.86`. I went through a few previous versions, also confirmed that it's a new regression:

* `0.62.50 Chromium: 73.0.3683.86` - Reproduced
* `0.61.52 Chromium: 73.0.3683.86` - Couldn't re

[2019-04-04 03:37] kjozwiak commented on #3435
Removing from milestone as there's no PR/work completed. As per https://github.com/brave/brave-browser/wiki/Triage-Guidelines, only `release/blockers` or completed work belong in milestones 👍

[2019-04-04 04:17] sr229 opened #3996 "32-bit Brave eats most of the memory in Windows 7"
## Description

When starting the Brave browser, looking at resource utilization, it eats most of the 4GBs of the RAM (the maximum a i386 processor can handle). Windows will resort to paging at this point.
## Steps to Reproduce

   1.  Open Brave browser on Windows 7 Enterprise in 32-bit with 4GB RAM
   2.  Open Task Manager
   3.  Observe RAM usage

## Actual result:

Your memory usage will have

[2019-04-04 04:26] doncullen opened #3997 "issues logging into GitHub"
## Description
Not able to login Github.com using Brave browser.  Works fine in Chrome.  Seems similar to issue https://github.com/brave/brave-browser/issues/2489 except it's for Github.  After putting in login info and hitting submit, it simply goes back to login page with no errors.

## Steps to Reproduce

   1.  Go to Github.com
   2.  If you're logged in, log out.
   3.  Log in.  It'll fail si

[2019-04-04 04:46] kjozwiak commented on #3891
Thanks for the report @peterdalydickson! Reproduced on `macOS 10.14 x64 VM` on the following channels:

* `0.62.50 Chromium: 73.0.3683.86` - Reproduced
* `0.63.30 Chromium: 73.0.3683.75` - Reproduced
* `0.64.35 Chromium: 73.0.3683.75` - Reproduced
* `0.65.17 Chromium: 74.0.3729.40` - Reproduced

Can't reproduce on `Win 10 x64` using `0.62.50 Chromium: 73.0.3683.86`.

Crashes with the following via

[2019-04-04 04:58] kjozwiak commented on #3997
@doncullen I was able to login multiple times with `0.62.50 Chromium: 73.0.3683.86` using the default shields. Here's the case that I went through:

* installed & opened `0.62.50 Chromium: 73.0.3683.86`
* Logged in (using 2FA) without any issues
* Logged out
* Logged in (using 2FA) without any issues
* Logged out, restarted Brave
* Logged in (using 2FA) without any issues

If you update to `0.62.5

[2019-04-04 05:59] kjozwiak opened #3998 "2FA via Google prompt not working"
## Description

Looks like 2FA via `Google Prompt` has regressed under `0.65.x`. Seems like YubiKey is working without any issues but `Google Prompt` doesn't. Seems like a regression with C74?

* `0.65.17 Chromium: 74.0.3729.40` - Reproduced
* `0.64.35 Chromium: 73.0.3683.75` - Couldn't reproduce
* `0.62.50 Chromium: 73.0.3683.86` - Couldn't reproduce

## Steps to Reproduce

You'll need to have `G

[2019-04-04 09:04] NejcZdovc commented on #3995
@btlechowski do you see any entry in ac table as well or the only problem is %?

[2019-04-04 09:17] tmancey commented on #3967
@btlechowski Ads are not available at this time in Poland, an unavailable message should be shown and ads should not be enabled, thanks

[2019-04-04 11:04] dayfuaim commented on #3471
@iefremov Yep, here you go.
Brave Beta (Accel OFF):
[code]

Brave Beta (Accel ON):
[code]

[2019-04-04 11:21] Aninstance commented on #3809
@kamleshrao I don't have the preview option on my Twitter account yet; must be a phased roll-out. Interested to know if that resolves the issue, at least so far as Twitter is concerned; the underlying issue would nevertheless persist. Tabs should not freeze - and refuse to close - in any event, so I'd have thought this would merit a look at error handling, if nothing else.

[2019-04-04 12:17] tmancey commented on #3651
Cross Platform Notifications document available at https://docs.google.com/document/d/1JOf26TyIYSZuTNuyc8jDexf7CHyKBCx5ySocaK6fzc4/edit#heading=h.8ihq2tcf777h

[2019-04-04 13:11] srirambv commented on #955
@bsclifton @petemill once this reorganize/redesign of settings page is done I believe the side bar menu would be fixed? If so opening extensions page would hide the side bar and just show the existing extensions side bar options ?
![image](https://user-images.githubusercontent.com/17010094/55558183-83b31180-56b9-11e9-93be-f63c7a706c47.png)

User from https://community.brave.com/t/no-custom-keyboar

[2019-04-04 13:28] srirambv commented on #3991
**Works fine for me on Ubuntu 18.04**
![image](https://user-images.githubusercontent.com/17010094/55559343-0210b300-56bc-11e9-8e4b-4504ad7f5c25.png)
![image](https://user-images.githubusercontent.com/17010094/55558818-e78a0a00-56ba-11e9-9abf-a2974e05aa87.png)

[2019-04-04 13:43] poikilos commented on #3991
Hmm... After update, it is still not working even with shields down.
I tried disabling wallabagger, the only extension. I tried Reset Settings but it just spins forever. I still waited 5 mins or more then restarted the browser, and the markdown behavior is the same.

Brave | 0.62.50 Chromium: 73.0.3683.86 (Official Build) (64-bit)
-- | --
Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/br

[2019-04-04 13:50] srirambv commented on #3987
@bsclifton yes it works on `0.61.52`. Used it as the screenshot for the expected result. Brave version specifies `73.0.61.52`

[2019-04-04 14:02] srirambv commented on #3809
@bbondy @rebron to prioritize the issue. Tab becomes useless and can't close browser once you run into the issue. I can see how it can be annoying to users who are on Twitter web.

[2019-04-04 14:05] srirambv commented on #3991
Which Linux are you running?

[2019-04-04 14:20] kamleshrao commented on #3809
Thanks @srirambv for understanding the feeling of Twitter Web users. Let me know if you need any additional information or help in verification from my Ubuntu environment.

@Aninstance I am yet to switch to new Twitter Preview. I remember switching once in 2018 and didn't like it. Later I switched back to original view.

[2019-04-04 14:22] poikilos commented on #3991
I am not following you. What keyboard settings (kernel, desktop environment, Brave)? I have a US keyboard layout. The markdown is correct, as it works in other browsers.

[2019-04-04 14:44] vporton opened #4001 "Weird "dirt" over a PDF file view"
## Description

Near the bottom of the page 278 of chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/http://www.mathematics21.org/binaries/volume-1.pdf there is something looking like dirt. I attach the image
![dirt](https://user-images.githubusercontent.com/2900574/55564653-090de480-5701-11e9-945f-ecfce61c892d.png).

I also attach a copy of the PDF file [volume-1.pdf](https://github.com/brave/b

[2019-04-04 14:50] LaurenWags commented on #2687
Verified passed with

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified STR from description. Reproduced issue on 0.62.x and verified did not see issue on 0.63.31.

[2019-04-04 14:52] llexan commented on #815
As a quick-fix for others running into this issue, installing the Lighthouse plugin and using that seems to work well: https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk/

[2019-04-04 14:52] llexan commented on #3199
As a quick-fix for others running into this issue, installing the Lighthouse plugin and using that seems to work well: https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk/

[2019-04-04 15:38] LaurenWags commented on #3777
Verified passed with

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

- Verified STR from description 4x - each time all bookmarks were synced as expected.

[2019-04-04 15:49] Aninstance commented on #3809
I've been fiddling around with config options in brave://flags/ and although I haven't yet found anything permanently mitigates the issue, I did notice a curious pattern that seems to replicate 100% of the time on my system. Thought maybe this might be of help in debugging.

- Navigate to brave://flags/
- Make a configuration change. It does not matter what setting is changed - any change to any c

[2019-04-04 15:54] srirambv opened #4002 "Unpublished extension doesn't load on macOS"
## Description

Unpublished extension doesn't load on macOS

## Steps to Reproduce

   1. Enable `Experimental Extension API` in brave://flags
   2. Download and load extension from https://medium-unlimited.ml/download/
   3. Doesn't allow to enable extension. Shows error message
   4. Quit and relaunch, same issue

## Actual result:

User recorded extension issue
![ext](https://discourse-cdn-sjc1

[2019-04-04 16:16] crazy-max commented on #3880
@MrTeeXD You can find link to download and test Brave portable on https//portapps.io

[2019-04-04 16:21] doncullen commented on #3997
Still experiencing the issue even after updating.  Nope, not using 2FA.

On Wed, Apr 3, 2019 at 11:58 PM Kamil Jozwiak <notifications@github.com>
wrote:

[2019-04-04 16:40] srirambv commented on #4001
I cleaned my monitor and checked, no dirt on screen or on document
![image](https://user-images.githubusercontent.com/17010094/55572626-034ed980-56d6-11e9-8734-8358a9243b1b.png)

[2019-04-04 16:56] NejcZdovc opened #4003 "Move internals out of ui folder"
Currently in we have `internals` folder inside `components/brave_rewards/resources/ui` folder, which actually represents rewards settings page. So we have page inside the page where this pages are different. We should split them and move `internals` in this folder `components/brave_rewards/resources`

[2019-04-04 17:02] fmarier commented on #2766
I tested the fix for this on Windows, Mac and Linux using Nightly 0.65.16 and following the test plan in https://github.com/brave/brave-core/pull/2100#issue-265129370.

[2019-04-04 17:13] PedroRojasU commented on #1380
Google Keep still broken in 0.62.50

[2019-04-04 17:15] kjozwiak commented on #3997
@doncullen out of curiosity, do you see any errors in the browser console when you try logging in? You can access it by clicking on the `kabob menu` -> `More Tools` -> `Developer Tools`.

[2019-04-04 17:33] GeetaSarvadnya commented on #3967
I am located in India Ads are disabled, I don't see any Ads without Brave VPN.

![image](https://user-images.githubusercontent.com/38657976/55575909-9f57ff80-572d-11e9-9613-26a206704697.png)

Brave | 0.64.36 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

[2019-04-04 17:44] kjozwiak commented on #3997
Could you try something else as well?

* go into `brave://settings/siteData`
* delete all the GitHub cookies

Example:

<img width="729" alt="Screen Shot 2019-04-04 at 1 44 15 PM" src="https://user-images.githubusercontent.com/2602313/55576632-c4258600-56df-11e9-8fef-4f0babeb0f85.png">

Once you remove everything from GH, refresh the page and see if you can login again.

[2019-04-04 17:53] Brave-Matt commented on #2362
+1 from reddit: https://www.reddit.com/r/brave_browser/comments/b90b4o/release_channel_version_06250_is_live/ek30sbv?utm_source=share&utm_medium=web2x

[2019-04-04 18:28] LaurenWags opened #4004 "Download History doesn't clear on exit - follow up to 492"
## Description
Found while testing #492

If you select *only* Download History to clear on exit, it is not cleared.

## Steps to Reproduce

Taken from https://github.com/brave/brave-core/pull/1213

1. Start Brave browser with a clean profile,
2. Navigate to brave://settings/clearBrowserData, select "On exit" tab, check "Download History" box. Select Save.
3. Navigate to brave://downloads and verif

[2019-04-04 18:34] rebron commented on #4004
I was able to reproduce on 0.65.16 Chromium: 74.0.3729.40 (Official Build) nightly (64-bit) on macOS. Selecting another item checkbox does clear Downloads but Downloads by itself does not clear on exit.

[2019-04-04 18:34] rebron commented on #4004
cc: @mkarolin

[2019-04-04 19:16] NejcZdovc opened #4005 "Simplify bat_get_media in native ledger"
Current `bat_get_media.cc` is really  all around and it's hard to add any new platform. Because of this we need to simplify it. This file will now only contain shared functionalities and every platform will have their own file with their own functionalities

[2019-04-04 19:38] devonandchris commented on #3990
Still present in latest update to 0.62.50:

Brave is up to date
Version 0.62.50 Chromium: 73.0.3683.86 (Official Build) (64-bit)

[2019-04-04 19:47] srirambv commented on #4004
On Linux, even though there is an item listed in download, clear data modal shows Download items as `None`

[2019-04-04 20:05] kaytwo opened #4006 "regression: autocomplete highlights entire url bar contents (browser-laptop issues #5943, #5529)"
### Description
Much like the previous issues, autocomplete in the url bar eats the first typed character after the new tab is opened - it seems that you have to type sufficiently shortly after opening the new tab for it to happen.

### Steps to Reproduce

  1. open a new tab, preferably via keybinding
  2. type something as quickly as possible to fill in the new empty tab address bar that has foc

[2019-04-04 20:08] srirambv commented on #3732
Marking `QA/No` as this is invalid now

[2019-04-04 20:10] srirambv commented on #3705
Marking as `QA/No` as its not valid anymore

[2019-04-04 20:26] srirambv opened #4007 "Brave Ads notification always uses release channel icon"
## Description

Ad notification uses release channel icon

## Steps to Reproduce

   1. Install Dev(0.64.36)/Beta(0.63.31)
   2. Enable Rewards/Ads
   3. Finish ad trigger critera and wait for the ad to show up
   4. Ad uses release channel icon instead of Dev/Beta respectively

## Actual result:

![Screenshot from 2019-04-04 16-19-45](https://user-images.githubusercontent.com/17010094/55586144-3c

[2019-04-04 20:28] srirambv commented on #2887
Small icon issue on Linux as well. Compared to the size of the notification the icon is too small
![Screenshot from 2019-04-04 16-19-45](https://user-images.githubusercontent.com/17010094/55586298-a0216f00-56f6-11e9-8c44-31fd9eafe2d4.png)

[2019-04-04 20:34] rebron commented on #1192
cc: @Brave-Matt Will need updates to support docs for this one too.

[2019-04-04 20:50] srirambv commented on #3528
Verification passed on

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Linux

* Verfied client.json state is not lost in between browser restarts

[2019-04-04 20:54] Kinnardian commented on #3203
A standalone browser has also been developed: https://twitter.com/_unwriter/status/1108761025388728320

[2019-04-04 20:56] mandar-brave opened #4008 "Fix the Ad Rewards settings panel"
References:
Currently the uncashed tokens are sent to the server, against a wallet ID, every week.
On the 5th of each month, Brave Rewards resets the estimated earnings counter to zero.

Issue:
Because the uncashed tokens are not in sync (weekly redemption vs. one time monthly payment), when the counter resets to zero, the user may perceive that they lost earned tokens.

Fix:
When the clock gets t

[2019-04-04 21:06] srirambv commented on #3498
Verification passed on

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Linux

* Verfied console logs, request/response uses https://ads-server.brave.com

[2019-04-04 21:09] srirambv commented on #3399
Marking `QA/No` as its duplicated with #1555 which is on verification list.

[2019-04-04 21:32] Brave-Matt commented on #3348
+1 from Community:
https://community.brave.com/t/youtube-masthead-ad-blocking-not-saving/51343/5

[2019-04-04 21:38] mikegrima commented on #3642
Not sure if this is related to this issue, or if I should submit a new one. Touch ID currently does not work for webauthn for the latest Brave release (it does work in Chrome).

To replicate, try using Touch ID on https://webauthn.me. I think one of the issues is that Brave does not ask you to permit the site access to Touch ID, which Chrome does. Because of this, Touch ID doesn't work :(

[2019-04-04 21:39] karenkliu opened #4009 "Flip the toggle on social media blocking options to address user confusion"
## Description
Currently, our social media blocking options in settings look like:

<img width="708" alt="55500067-7f351d00-5615-11e9-8f29-ce5d016e9867" src="https://user-images.githubusercontent.com/2388823/55590160-f8507500-56e6-11e9-86d0-031781a6945a.png">

We need to reverse the order so that toggles are OFF by default and security-minded users must toggle the options ON to break sites. This i

[2019-04-04 21:40] bridiver opened #4010 "add API backed by pref store for ledger state"
API to use set/get name/value instead of writing json files

[2019-04-04 21:47] kjozwiak opened #4011 "clean up the text that warns users that their device time is wrong when syncing"
## Description

We'll need to clean up the following text before this warning makes it out from `nightly` --> `dev`. It's currently in `0.65`.

You can find the current text in the following example:

https://github.com/brave/brave-core/pull/2155#issuecomment-479767875

We should get this done sooner than later as this resolves a common support issues where users are receiving errors due to their

[2019-04-04 21:49] mandar-brave commented on #3989
Lets revert this back to original 24 hour check.
cc @ryanml @NejcZdovc

[2019-04-04 21:51] ryanml commented on #3989
@mandar-brave - The PR has been reverted back to the 24 hour check

[2019-04-04 21:55] rebron commented on #3988
Related: https://github.com/brave/brave-browser/issues/4009 Includes location and text for YouTube switch.

[2019-04-04 22:04] tomlowenthal opened #4012 "Change "earn BAT" to "earn grants" throughout Rewards/Ads UI"
Elements of the browser UI combined with our public statements &c. would probably lead a reasonable person to conclude that they can earn BAT in exchange for seeing ads (and doing some confirmation actions, proving that they're human). This is not the case. People earn _grants_ which are more limited: they can be used to support sites, but cannot actually be converted into user-controlled BAT.

We

[2019-04-04 22:08] blakeearth commented on #3164
For now, Brave users should be able to disable the WebTorrent extension as a workaround, and PeerTube should work as normal. Go to `brave://settings`, search for WebTorrent, and disable it. This is a problem with Brave's WebTorrent extension.

[2019-04-04 22:21] btlechowski commented on #3995
@NejcZdovc `interia.pl` is not in a-c table as expected. The a-c table is empty as expected. It is only problem with Rewards Panel.

[2019-04-04 22:30] btlechowski commented on #4004
Good find @LaurenWags!

Reproduced on

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

[2019-04-04 22:38] karenkliu opened #4013 "Use modal component from our Brave design system for sync error message"
## Description

Currently, an error message shown on sync init has this styling:

![55534117-19e83700-56bc-11e9-8135-2cb490a1ae3c](https://user-images.githubusercontent.com/2388823/55593096-8892b800-56ef-11e9-9bc7-133999f87277.png)

Update the styling of the modal with our Brave design system component and make it clear it's an error. This is a followup issue to https://github.com/brave/brave-core

[2019-04-04 23:00] pemartins1 commented on #2025
+1

This is really useful.

[2019-04-04 23:11] Brave-Matt commented on #4006
+1's from Community:
 https://community.brave.com/t/new-tab-deletes-url/52043

[2019-04-04 23:53] veyselerden commented on #3750
It's happening because it links the website to the `chrome_proxy.exe` in the startup command line. Changing it to `brave.exe` fixes the problem. As you can see here:

![bravepwaa](https://user-images.githubusercontent.com/12845347/55595690-c45c6a80-574d-11e9-9305-a73c65fad3d4.gif)

It's not reproducible on Linux btw. This works there.

[2019-04-04 23:59] kaytwo commented on #4006
Dupe of #3756

[2019-04-04 23:59] #4006 closed

[2019-04-05 00:59] mkarolin opened #4014 "Upgrade Chromium 73.0.3683.86 to Chromium 73.0.3683.103 on 0.62.x"
QA tests:

Check branding items
Check for version bump

[2019-04-05 01:38] bbondy commented on #3988
This seems to be not needed because it works on Release channel, so we just introduced a bug on Nightly and Dev.

[2019-04-05 03:20] GeetaSarvadnya opened #4016 "Unknown site favicon for few publishers"
## Description

I have been using the Nightly build as my personal profile for a few days ( since 3 days). I have opened a few YT and Twitch videos along with websites. Around 35 sites got added to a-c table. On the 3rd day, I am seeing unknown site favicon for a few publishers for e.g (Brave.com and Twitch pubs). I have reloaded the brave.com couple of times and correct favicon retained back in a

[2019-04-05 05:27] cbrunnkvist commented on #1535
_HTTPS Everywhere_ is perhaps an unfortunate branding for the extension if it **does not** probe & switch to HTTPS _everywhere_, but instead work only for a small set of preconfigured websites?

[2019-04-05 05:34] mandar-brave opened #4017 "Support attention for Vimeo auto contribution"
Support capturing attention for Vimeo as a platform.
Replicate YT functionality; including support for unverified Vimeo publishers to be treated the same way as unverified publishers elsewhere on other channels.

In phase 1 we will add support for auto-contribution.
In phase 2 we will add panel/tip support https://github.com/brave/brave-browser/issues/4391

cc @NejcZdovc

[2019-04-05 06:21] kjozwiak opened #4018 "Release checklist for 0.62.x Hotfix 1"
### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/brave/torrent-discovery is up to date with its latest upstream.
- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the securit

[2019-04-05 06:26] NejcZdovc commented on #4017
in first iteration we will support only AC functionality. @mandar-brave please create separate issue for panel/tipping support

[2019-04-05 06:28] kjozwiak opened #4019 "Manual test run on OS X for 0.62.x - Hotfix 1 (Release Channel)"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-04-05 06:28] kjozwiak opened #4020 "Manual test run on Win x64 for 0.62.x - Hotfix 1 (Release Channel)"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-04-05 06:28] kjozwiak opened #4021 "Manual test run on Linux for 0.62.x - Hotfix 1 (Release Channel)"
### Installer

- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-04-05 07:04] matambanadzo commented on #3756
+1 Same issue. Came here for this exact problem encountered recently but had enough today.

[2019-04-05 07:16] NejcZdovc commented on #3995
ok thank you

[2019-04-05 07:25] #3989 closed

[2019-04-05 08:04] dlfsjdfjodifjsodifjsdo commented on #3715
@bsclifton yes it does

[2019-04-05 09:17] GeetaSarvadnya opened #4023 "Confirmation type `dismiss` is not recorded in confirmations.json file"
## Description

When we tap `Close` in ads notification popup, the confirmation type event `dismiss` is not recorded in the confirmations.json file.

## Steps to Reproduce

   1. Clean profile 0.63.31
   2. Enable rewards
   3. Open `brave.com` or `imdb.com`
   4. Keep the page idle for 15 secs
   5. Move the cursor
   6. Tap on `Close` in Ads notification popup
   7. Navigate to profile folder re

[2019-04-05 09:22] tmancey commented on #4023
Dismiss works as expected from the Notification Centre, so issue is when the notification appears on the desktop.

[2019-04-05 09:22] NejcZdovc commented on #4016
@GeetaSarvadnya can you please inspect the icon and let me know what the url is

[2019-04-05 09:27] NejcZdovc commented on #4012
@tomlowenthal you added release blocking. In which release we want to land this one?

[2019-04-05 09:53] jonathansampson opened #4024 "Can't Access Extension Keyboard Shortcuts"
## Test plan
See https://github.com/brave/brave-core/pull/4796

## Description
Updates to about:settings prevents users from having easy access to Extension Shortcuts. Users can still manually navigate there by visiting brave://extensions/shortcuts.

Reported by _Agent of User_ [on Twitter](https://twitter.com/agentofuser/status/1114089295286099968):

![image](https://user-images.githubusercontent

[2019-04-05 09:56] NejcZdovc opened #4025 "All publishers calls should go through ledger code"
After additional check we have two more functions that involves publisher and are called directly from rewards service. All calls should go through ledger code.

1) `LoadPublisherInfo` https://github.com/brave/brave-core/blob/aa28d5e02521e03c0bed83b4237e039da7eb0343/components/brave_rewards/browser/rewards_service_impl.cc#L1121

2) `GetContentSiteList` https://github.com/brave/brave-core/blob/aa28

[2019-04-05 10:19] #3953 closed

[2019-04-05 10:23] NejcZdovc commented on #3780
blocked on https://github.com/brave/brave-browser/issues/4025 and https://github.com/brave/brave-browser/issues/3953

[2019-04-05 12:09] srirambv commented on #4023
This is what I see on Dev build(0.64.37) on Linux. Console logs the following failure message
[code]
but `confirmations.json` records the entry for each dismiss
![image](https://user-images.githubusercontent.com/17010094/55625782-bde2e880-5777-11e9-8efe-65e65c858d3f.png)

[2019-04-05 12:14] tmancey commented on #4023
^ the failure is due to error returned in URL request response. Please provide chrome-debug.log inside user profile directory, however I expect this was a network error.

[2019-04-05 12:26] tmancey opened #4026 "Brave Ads target URLs that redirect to a different hostname are not sustained"
## Description
Ad Target URLs that redirect to a different hostname are not sustained.

## Steps to Reproduce

   1. View an Ad which has a target URL which redirects to a different hostname

## Actual result:
Ad fails to confirm that it landed

## Expected result:
Ad should confirm that it has landed

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
Brave | 0.63

[2019-04-05 12:34] GeetaSarvadnya commented on #3690
Verification passed on

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1920

![image (1)](https://user-images.githubusercontent.com/38657976/55627765-98cc9500-57cc-11e9-98f1-686e91

[2019-04-05 12:37] srirambv commented on #4023
[code]

Just rechecked and there is successful confirmation of the same token being redeemed

[2019-04-05 12:47] srirambv opened #4027 "Ads not blocked by Tetris site"
## Description

Issue reported by user on community
Ads not blocked by Tetris site

## Steps to Reproduce

   1. VIsit http://tetris.com/play-tetris
   2. Ads not blocked
   3. Try to focus on tetris and not on ads on the page

## Actual result:

Image credits to the user on community
Brave+uBO+disabled shields
![brave](https://i.imgur.com/89bCSAf.png)
Chrome + uBO
![chrome](https://i.imgur.com/WD

[2019-04-05 13:23] srirambv commented on #3520
Verification passed on both

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta(64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Linux

Brave | 0.64.37 Chromium: 74.0.3729.40 (Official Build) dev(64-bit)
-- | --
Revision | 278d6a0d856d8314f36fb9a68b6e1d85cd0d14e7-refs/branch-heads/3729@{#470}
OS | Linux

* Verified on console logs `Su

[2019-04-05 13:30] #4014 closed

[2019-04-05 13:57] BenDavidson90 commented on #3750
Thank you, it works !

[2019-04-05 13:58] AlexeyBarabash opened #4028 "PDF installer treated as pdf document"
## Description

Browser opens link of PDF Escape installer as a pdf instead jus to save it.

## Steps to Reproduce

   1. Use OS Windows.
   2. Open https://www.pdfescape.com/windows/
   3. Press `Try Desktop`

## Actual result:

attempt to open pdf on address `chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/http://download-desktop.pdfescape.com/PDFescape_Desktop_Installer.exe`

## Expected re

[2019-04-05 15:22] echosa commented on #1535
@cbrunnkvist Proposed fix: add an asterisk to the name.
[code]
Problem solved! ;-)

[2019-04-05 15:37] rebron commented on #3935
Closing. Dupe/will be fixed with https://github.com/brave/brave-browser/issues/3846

[2019-04-05 15:38] #3935 closed

[2019-04-05 15:43] allenfonseca commented on #2107
Changing my 3rd-party cookies worked for me.

A lot of the time when a website's functionality isn't working for me, I find temporarily changing my cookie settings will make it work.

In Chrome: Settings -> Advanced -> Content Settings -> Cookies -> Block Third-Party Cookies (Turn this off, then back on if you would like after you are finished).

Hope this helps!

[2019-04-05 15:44] rebron commented on #3952
@jasonsavard Can you give us more info? Is this for extension development? Can you attach what you're trying to do?

[2019-04-05 15:46] rebron commented on #3960
@Brave-Matt Can you check this in 62.x Release and 63.x Beta?

[2019-04-05 15:52] rebron commented on #3971
cc: @simonhong

[2019-04-05 15:54] rebron commented on #3977
Closing. We're doing uBlock origin feature parity in a separate group of issues.

[2019-04-05 15:54] #3977 closed

[2019-04-05 15:58] LaurenWags commented on #4014
![Screen Shot 2019-04-05 at 11 58 21 AM](https://user-images.githubusercontent.com/28145373/55640699-28a51b80-579a-11e9-8889-93caeb1b8510.png)

[2019-04-05 15:59] #4019 closed

[2019-04-05 15:59] rebron commented on #3978
@srirambv can you take a look? lots of devices btw.
@anthonypkeane in future we need reproducible steps, easier for QA.

[2019-04-05 16:01] rebron commented on #3985
Closing, it's fixed.

[2019-04-05 16:01] #3985 closed

[2019-04-05 16:09] #4020 closed

[2019-04-05 16:09] btlechowski commented on #4020
LGTM

Brave | 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)
-- | --
Revision | e82a658d8159cabbd4938c1660f9bb00b4a82a23-refs/branch-heads/3683@{#902}
OS | Windows 10 OS Build 17134.523

[2019-04-05 16:16] kjozwiak commented on #4020
Awesome, thanks for powering through this @btlechowski @GeetaSarvadnya 👍

[2019-04-05 16:16] TheRoarkster commented on #209
Another few rounds of testing, and now the settings below work for the latest Brave Version 0.64.37 Chromium: 74.0.3729.40 (Official Build) dev (64-bit).

WebRTC new encode cpu load estimator     **DISABLED**
Load Media Router Component Extension    **ENABLED**
Connect to Cast devices on all IP addresses **DISABLED**
Views Cast dialog                                           **DEFAULT**

It sort

[2019-04-05 16:20] jasonsavard commented on #3952
Yes it's for extensions, here is workaround that I must use for Brave browsers...

`function getInstanceId(storage) {
    return new Promise(async (resolve, reject) => {
        const instanceId = await storage.get("instanceId");
        if (instanceId) {
            resolve(instanceId);
        } else {
            chrome.instanceID.getID(instanceId => {
                if (chrome.runtime.lastErr

[2019-04-05 16:20] rebron commented on #4009
cc: @petemill

[2019-04-05 16:21] rebron commented on #4011
Close. Text review is in the pr.

[2019-04-05 16:21] #4011 closed

[2019-04-05 16:23] rebron commented on #4023
cc: @kjozwiak see for macOS

[2019-04-05 16:25] rebron commented on #4024
Related: https://github.com/brave/brave-browser/issues/3771

[2019-04-05 16:30] rebron commented on #4027
You can use right click on the image (use the Brave shields icon) and use the cosmetic filter to block those ads. It's a first party ad, that's why we're not blocking it via Shields which addresses 3rd party ads.

[2019-04-05 16:33] rebron commented on #4028
Closing. Duping to #3846

[2019-04-05 16:33] #4028 closed

[2019-04-05 17:03] bbondy opened #4029 "Improve quality of verified domain 3p checking"
## Description

Associate some domains with others for our shields 3p checking.

Example:
ksandbox.org and www.khanacademy.org

https://twitter.com/pamelafox/status/1114210142893953024

Currently checks are done via `SameDomainOrHost`

## Steps to Reproduce

   1. Go to https://www.khanacademy.org/computer-programming/new/pjs
   2. Type in some code
   3. Hit save

## Actual result:

Error happens

[2019-04-05 17:07] JoelMon commented on #4027
Like @rebron explained, they are first party ads.

![how to remove the images](https://imgur.com/068f0nZ)

[2019-04-05 17:08] srirambv commented on #4021
Looks good

[2019-04-05 17:08] #4021 closed

[2019-04-05 17:12] fmarier commented on #4029
That domain isn't in the Mozilla list I mentioned in #3194 so if we were to start with that list, we would likely need to fork it or supplement it with a Brave-specific list.

[2019-04-05 17:27] JoelMon commented on #4008
I don't see 0 but I do see a lot less then I am supposed to have. Every time I open the program the number drops so it's not only a problem with the date.

[2019-04-05 17:37] yrliou commented on #3921
Fixed by https://github.com/brave/brave-core/pull/2118.

[2019-04-05 17:37] #3921 closed

[2019-04-05 17:39] #3882 closed

[2019-04-05 17:46] jumde opened #4030 "test-security timeout does not work on build machines"
## Description
`npm run test-security` uses timeout to make sure that the browser process is terminated after 2 mins.

https://github.com/brave/brave-browser/blob/master/lib/start.js#L95

The timeout does not work on `build` machines, and the processes keep running even after 2 mins. Leading to an eventual abort.

[2019-04-05 17:49] jumde commented on #4030
cc: @mihaiplesa @mbacchi @bsclifton - I have a fix for this that uses a stronger kill signal and verified that it works on build machines. But, I've not been able to repro this locally.  Looking to see if there is a `node` issue that highlights it.

[2019-04-05 17:49] petemill commented on #3882
Uplifting only to 0.64.x as the only code that depends on this event is in 0.64.x

[2019-04-05 17:59] #3881 closed

[2019-04-05 18:24] kjozwiak opened #4031 "Release notes for 0.62.x Hotfix 1 (Release Channel)"
Release Notes
 - Upgrade Chromium 73.0.3683.86 to Chromium 73.0.3683.103 on 0.62.x.([#4014](https://github.com/brave/brave-browser/issues/4014))

[2019-04-05 18:59] GeetaSarvadnya commented on #3587
Verification passed on

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 10 OS Build 17134.523

- `*Timed out ads*'After getting ads notification waited for around 2mins until ads notification vanishes without any user interaction. Verified the confirmations.json file after n

[2019-04-05 19:15] #4031 closed

[2019-04-05 19:28] rebron commented on #4018
Closed. Released as of 4/5/2019. 12:28pmPDT

[2019-04-05 19:28] #4018 closed

[2019-04-05 20:51] mkarolin opened #4033 "Upgrade Chromium 74.0.3729.40 to Chromium 74.0.3729.61"
QA tests:

Check branding items
Check for version bump

[2019-04-05 21:02] rossmoody opened #4035 "Polish Rewards settings panels"
The Rewards panels in setting needs a little bit of alignment and simplification work. A few areas of note would be:

1. The list item bullet style in the disabled panels should be removed.
2. The typography variations can be simplified a bit. Especially the body copy. Should probably be made a little darker, bigger and given more space between lines.
3. The amount of colors is making it a little

[2019-04-05 22:04] mkarolin commented on #4004
Confirmed. The issue is that `BrowsingDataRemoverImpl::RemoveImpl` doesn't actually wait for the removal, but only schedules it.

Specifically, for the removal of download history `BrowsingDataRemoverImpl::RemoveImpl` calls `DownloadManager::RemoveDownloadsByURLAndTime` which locates matching downloads and then in a loop calls `download::DownloadItemImpl::Remove` for each download. That, in turn,

[2019-04-05 22:28] pabrams commented on #3204
It's not a feature, it's a bug.  F6 is for address bar.

[2019-04-05 22:38] ryanml commented on #3989
The above fix has been merged in to `0.65.x, 0.64.x, and 0.63.x`

[2019-04-05 22:41] joel0 commented on #3204
I agree with you that it's a bug, and so do the Chrome(ium) developers (the upstream project of Brave).  The good news is that Chrome has been fixed in the beta version (74).  In about 18 days (April 23), that version of Chrome will be stable and I assume Brave will quickly switch to that version, also fixing the bug.

[2019-04-05 22:56] Brave-Matt commented on #3756
Three  +1's from Community (three different users in thread):
https://community.brave.com/t/slowness-with-new-tab/48566

[2019-04-05 23:05] Brave-Matt commented on #3766
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/b9wu16/authy_extension_crashes_followed_by_complete/

[2019-04-05 23:40] waliworld commented on #1950
The stable release from the AUR installs just fine though user namespaces is off by default on arch. The [Arch wiki](https://wiki.archlinux.org/index.php/Linux_Containers) entry on LXC stuff has the solution, that should probably be added to the PKGBUILD.

[2019-04-06 00:12] simonhong opened #4037 "BraveDarkModeObserverTest fail on linux"
Regression of https://github.com/brave/brave-core/pull/2126

[2019-04-06 00:18] #4037 closed

[2019-04-06 01:21] bbondy commented on #3422
Re-opening because it breaks playing youtube embed videos.
See this issue for steps to reproduce: https://github.com/brave/brave-browser/issues/3988

[2019-04-06 01:23] bbondy commented on #3988
Fixed by reverting https://github.com/brave/brave-browser/issues/3988
here https://github.com/brave/brave-core/pull/2175

[2019-04-06 01:23] #3988 closed

[2019-04-06 01:40] amark commented on #3756
excited to see this fixed. :) :) thanks so much!

[2019-04-06 05:43] #4025 closed

[2019-04-06 05:49] NejcZdovc commented on #4035
<img width="416" alt="Screenshot 2019-04-06 at 7 48 15 AM" src="https://user-images.githubusercontent.com/9574457/55665469-796f4f80-5840-11e9-86f1-d5de1712a1d8.png">

This looks off to me

[2019-04-06 09:35] iefremov commented on #3471
Thanks, @dayfuaim !

I can see that the problem looks similar to https://github.com/brave/brave-browser/issues/3969. However, Chrome version is older than Brave version, so there is a chance that the next Brave build will fix the problem.
With enabled hardware acceleration
Chrome uses `GPU0	VENDOR = 0x8086 [Intel Inc.], DEVICE= 0x0166 [Intel HD Graphics 4000 OpenGL Engine] *ACTIVE*`
Brave uses `GP

[2019-04-06 09:36] iefremov commented on #3969
Similar picture is in https://github.com/brave/brave-browser/issues/3471#issuecomment-480489980

[2019-04-06 15:11] doncullen commented on #3997
Opened console and set it to retain logs (as default is to clear log when it goes to new page).  This error appears:

index.esm.js:229 POST https://github.com/signup_check/username 422 (Unprocessable Entity)
(anonymous) @ index.esm.js:229
(anonymous) @ index.esm.js:216
(anonymous) @ index.esm.js:210
check @ index.esm.js:161
(anonymous) @ index.esm.js:28
setTimeout (async)
(anonymous) @ index.esm.j

[2019-04-06 19:17] pvfpvf commented on #2107
Thanks, Allen. I just tried that. It does stop the explicit JSON error message, but the upload still doesn't happen and instead I get this error in Chrome browser. Probably some other security feature in newer Chrome browsers. It's just a bit annoying that Google owns youtube, Google tightens Chrome security and encourages us to use it, and they can't even get their own software to work with it!
!

[2019-04-06 19:56] rossmoody commented on #4035
I think that’s a shoddy stitching photoshop job by me. I had to piece together screenshots. It’s ok on screen. You can see the bottom of “earnings” is cut too.

[2019-04-06 22:42] Distearth commented on #2690
Any update? I'm really ready to switch full time...

[2019-04-06 23:47] kjozwiak commented on #3997
Awesome, glad it worked for you 👍 Definitely agree that less friction is always better but this issue doesn't happen often or we would definitely hear about it internally. Everyone at Brave basically lives on Slack and GitHub. Either way, finding out what causes this probably a good idea so no one else runs into something like this in the future.

[2019-04-06 23:51] kjozwiak opened #4038 "ccccccjegebkunvvjrkurkcgegducndjjernnlgkrhbl"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?

### Website problems only:
- Does the issue resolve itself when disabling Brave Shields?
- Is the issue reproducible on the latest version of C

[2019-04-06 23:51] #4038 closed

[2019-04-06 23:52] kjozwiak commented on #4038
That's what happens when you have your yubikey plugged in and you have the laptop on your lap :(

[2019-04-07 08:59] RasterCrow commented on #2025
+1, just switched to brave and I really miss this functionality.

[2019-04-07 09:23] vladk commented on #3121
+1 all popular ad blockers have option to hide blocked items counter, that's very surprising brave browser doesn't have that. that counter is super distracting, so actually brave browser isn't usable for me while there is no option to hide it

[2019-04-07 09:50] GeetaSarvadnya commented on #3335
The issue is still reproducible for a few YT videos. When we video is opened in a new tab, pubs info will not be shown in BR panel.
https://www.youtube.com/channel/UCU_JoWTHBXzbfEByl5GahYg
https://www.youtube.com/channel/UC6uj6iimYkg4f1lpc7BItoA

https://drive.google.com/open?id=1mWcZnwy3z0mmk0id8Wj6cOBFpzCkErxa

Brave | 0.63.31 Chromium: 73.0.3683.75 (Official Build) beta (64-bit)
-- | --
Revisio

[2019-04-07 16:44] jasonrsadler commented on #3335
@NejcZdovc I'm on latest master and no media publishers are showing for me (youtube or twitch).

[2019-04-07 18:30] jbartolozzi commented on #3807
Thanks

[2019-04-07 18:30] #4033 closed

[2019-04-07 19:28] yhbautista commented on #1551
+1

Replicated on Windows 10 with Brave version 0.62.51, Chromium 64-bit version 73.0.3683.103

If it's not being fixed, can it be marked and noted?

[2019-04-07 20:27] eljuno commented on #3756
+1 from Community  https://community.brave.com/t/address-bar-searches-getting-automatically-highlighted-at-slight-pause/52380?u=eljuno

[2019-04-08 04:04] kamleshrao commented on #3809
Just FYI - I updated my Brave on Ubuntu to below version, but still having this issue open.

[code]

[2019-04-08 05:22] mandar-brave opened #4042 "Ads Rewards Grants: Expiry date change"
Any grants received via the server that below to Ads Rewards should have no expiry date.

When the grants show up;
a) they should show up as grants (no change)
b) but no expiry date should be displayed (the ask)

These grants will be signed for a really long period of time; but for the moment the BR wallet should not show the grants timetable.

Existing grants, that are not ads rewards, will conti

[2019-04-08 05:42] mandar-brave opened #4043 "Verified sites need a different BAT logo"
Verified BAT sites should show a different logo (original logo had a blue bar for verified sites) so user knows pre-logo click that site was verified.

cc @NejcZdovc

[2019-04-08 05:43] mandar-brave commented on #4043
@jenn-rhim can we pull the original design for this!

[2019-04-08 09:15] NejcZdovc opened #4044 "Media publishers are not working"
## Description

Media publishers are not working anymore.

## Steps to Reproduce

   1. Clean profile and enable rewards
   2. Go to some youtube video
   3. Click on panel

## Actual result:

Summary is shown

## Expected result:
Publishers should be shown

## Reproduces how often:

100%

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-br

[2019-04-08 09:34] Shaomada opened #4045 "Wrong twitch channel linked in Auto-Contribute"
## Description
Wrong twitch channel linked in the Auto-Contribute section of brave://rewards.

## Steps to Reproduce

   1. Pick a twitch channel which has a name terminating witch certain strings. My current assumption is the string having to end with _ (underscore) followed by none or more digits, but this assumption is not easy to test without creating new twitch channels. If you want to be sur

[2019-04-08 09:45] #3124 closed

[2019-04-08 11:30] GeetaSarvadnya commented on #3530
Verification passed on

Brave | 0.63.34 Chromium: 74.0.3729.40 (Official Build) beta (64-bit)
-- | --
Revision | 278d6a0d856d8314f36fb9a68b6e1d85cd0d14e7-refs/branch-heads/3729@{#470}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1808

"campaignHistory": {
    "5d7e79b3-8bbb-46d2-b76a-7a2d63d910b9": [
      13199195906
    ]
  },

[2019-04-08 12:36] anpenava commented on #3199
for me this issue is also present, lighthouse just stuck on 'Lighthouse is warming up...' part, on any website I try to run it

Brave just installed:
Version 0.62.51 Chromium: 73.0.3683.103 (Official Build) (64-bit)

[2019-04-08 13:56] mandar-brave opened #4046 "Add 18 and over category in taxonomy"
Issue: Need to support LDA and other similar categories for targeting purposes.

Feature needs:
- add a 18 and over master node to the taxonomy
- the 18 and over node is always set to true (BR requires user to be 17+)

During the implementation of the user feedback feature, the user can opt out of the 17+ flag as a choice and should never be shown 17+ ads.

On the server end, all appropriate ads s

[2019-04-08 14:10] mandar-brave commented on #4042
@rebron needs uplift for 0.63 to ensure there is no confusion at the user end. Very minor change.

[2019-04-08 14:13] mandar-brave opened #4047 "Implement user feedback loop"
Specification details -- images and UX coming shortly.

V1.1 User feedback changes

The Brave Ads panels will be expanded to have a Browser history; this browser history table will also be allowing multi-functional actions back from the user.

In V1.0, the actions are;
Don’t send me this again - Block ad from notifying me again
Dismiss action on Ad will perform the same action
Save - Want to ensur

[2019-04-08 15:33] #4044 closed

[2019-04-08 15:35] #2511 closed

[2019-04-08 16:33] Brave-Matt commented on #2791
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/abp4vq/how_to_disable_widevine/ekcnl66?utm_source=share&utm_medium=web2x

[2019-04-08 16:53] colonicregulator commented on #3121
Echo this. Completely unusable without this option. Back to Firefox for time being.

[2019-04-08 16:55] cezaraugusto commented on #3756
ok happy to announce we moved this bug to p1 and it's being actively working on.

after investigation this is not related to webui rendering resources, since loading a white page (raw HTML) still reproduce the bug.

worth noting that ntp webui is shared across tabs so having one instance of ntp open doesn't make the bug reproducible. OP makes it clear in the screenshot.

seems that we have some ca

[2019-04-08 17:46] Brave-Matt commented on #2198
+1 from Community:
https://community.brave.com/t/cant-import-passwords-from-firefox-macos/49785

[2019-04-08 17:48] #3901 closed

[2019-04-08 17:56] bsclifton commented on #3901
@atsyed87 do you know where this help URL is located in the UI? For example, if we get a new build, how can we test this change?

[2019-04-08 19:08] tomlowenthal commented on #4012
This blocks ad confirmations arriving in release. Until we make these changes, Ads with confirmations has to stay in beta.

[2019-04-08 19:23] Brave-Matt commented on #3348
+1 from community:
https://community.brave.com/t/youtube-masthead-ad-blocking-not-saving/51343/4

[2019-04-08 20:23] kjozwiak commented on #3471
@iefremov seeing the same thing on my `macOS 10.14.x x64 VM` using `74.0.3729.61 (Official Build) beta (64-bit)`. Example of the issue happening:

<img width="1345" alt="Screen Shot 2019-04-08 at 4 15 57 PM" src="https://user-images.githubusercontent.com/2602313/55754149-f275cf00-5a19-11e9-8ab1-fdd64164d6bc.png">

As mentioned above before, I'm not 100% sure how accurate the case really is. In ter

[2019-04-08 20:23] jasonrsadler commented on #3668
Repo'd underflow. Working.
<img width="1380" alt="Screen Shot 2019-04-08 at 4 21 35 PM" src="https://user-images.githubusercontent.com/25326067/55754436-a8411d80-5a1a-11e9-92c1-efe08ff6cc57.png">

[2019-04-08 20:58] jeroen7s commented on #816
For linux, can't you use a standard set of common fonts in Brave, or choose a standard set that's used on Ubuntu and download missing fonts for other Linux Distro's? So they are fixed and can't break fingerprinting?

[2019-04-08 21:02] snyderp commented on #816
Yep yep! The solution we're aiming for is a combination of identifying the core set of fonts expected on each platform, and then having the browser lie about the presence of any other fonts on the system (i.e. tell the website the client doesn't have them installed, even if they do)

[2019-04-08 21:57] Mr-Mondragon commented on #1432
I'm dealing with the same issue. I have a self made developer extension, and Brave warns me every single time. Extremely annoying. After doing this a 100 times or so, clicking it away becomes something automatic, you do it unconsciously.

Please note, as this is very important: **this makes security WORSE, not better.**

People who deliberately sideload a dev extension typically know what they're

[2019-04-08 22:00] Mr-Mondragon commented on #1432
Not sure about the other guy's SVG extension, but I'm using my own self-made extension. I use it for automating various tasks in my everyday workflow. It's not a public extension. There's perfectly valid use cases for that and it's very safe.

[2019-04-08 22:40] kjozwiak commented on #3987
@bsclifton @rebron regression range:

* `0.62.32 Chromium: 73.0.3683.75` - Reproduced
* `0.62.31 Chromium: 73.0.3683.75` - Couldn't reproduce

[2019-04-08 22:57] atsyed87 commented on #3901
I do not -- was my first real PR :) I found the URLs here:
https://docs.google.com/spreadsheets/d/16ubLUdPWmbzD4wiiiu0QbEGA6tbhJgqBemp_eVHz3FA/edit#gid=0

On Mon, Apr 8, 2019 at 10:56 AM Brian Clifton <notifications@github.com>
wrote:

[2019-04-08 23:29] fmarier opened #4048 "OnDrive PowerPoint presentations broken by anti-fingerprinting"
## Description
OneDrive presentations are broken when Shields' anti-fingerprinting mode is enabled.

## Steps to Reproduce

1. Visit https://onedrive.live.com/view.aspx?resid=40AD2A59FD334E8C!400130&ithint=file%2cpptx&authkey=!ADAerq8JH6E4yRA
2. Go into Shields and switch the anti-fingerprinting setting to: "All device recognition allowed".

## Actual result:

With "3rd party device recognition bl

[2019-04-08 23:44] #2245 closed

[2019-04-08 23:44] #2823 closed

[2019-04-09 00:12] fmarier opened #4049 "Page contents disappear while scrolling"
## Description

The contents of the page disappears after scrolling past a certain point.

## Steps to Reproduce

   1.  Open https://www.inc.com/brian-de-haaff/3-ways-remote-workers-outperform-office-workers.html
   2. Scroll down the page.

## Actual result:

![out](https://user-images.githubusercontent.com/167821/55764520-bd20af80-5a20-11e9-83b0-723b74471086.gif)

## Expected result:

The page

[2019-04-09 00:48] fmarier opened #4050 "Auto-contribute fails to contribute anything due to non-signed up creators"
## Description

I have a lot of BATs which are queued up to be given to creators who haven't signed up yet, more than my balance.

![Screenshot from 2019-04-08 17-40-15](https://user-images.githubusercontent.com/167821/55765676-a761b900-5a25-11e9-95e4-1ed328c795df.png)

Most of these will never get paid so it's surprising to me that this is blocking the auto-contribute to registered publishers. On

[2019-04-09 02:20] fmarier opened #4051 "Rewards should exclude *.local URLs from auto-contribute"
I noticed that my printer (`holmavik.local`) shows up in my Auto-Contribute data:

![Capture d’écran du 2019-04-08 19-16-38](https://user-images.githubusercontent.com/167821/55768826-388b5c80-5a33-11e9-8f1a-d8e5648da4d4.png)

We should probably exclude all of the `*.local` URLs.

[2019-04-09 03:16] jefetienne commented on #3082
To add to the discussion of the issue:

If I use Brave (with the Brave Shields off), right-click the Bing 'Sign in' button at the homepage and open it in a new window, the URL returns "about:blank#blocked".

Now if I use Opera and right-click the Bing 'Sign in button', the URL just returns 'about:blank' but no '#blocked'. So maybe this '#blocked' is an indication that Brave might be blocking some

[2019-04-09 03:49] llpub opened #4052 "Implement native "open tab in background""
In Firefox, "open tab in background" can be enabled by edit "browser.tabs.loadDivertedInBackground" in about:config.
For brave/chrome, "open tab in background" can only be enabled by extensions (e.g. tabsplus/ForceInBackground), which is non-native and usually buggy. For example, for tabsplus/ForceInBackground, there will be a splash when the link is clicked and opened in background tab.
Highly ap

[2019-04-09 05:04] GeetaSarvadnya commented on #4016
@NejcZdovc Please find the below screen.

![image](https://user-images.githubusercontent.com/38657976/55774523-146f6000-5ab3-11e9-80f0-fe6cb461a940.png)

[2019-04-09 05:09] NejcZdovc commented on #4016
@GeetaSarvadnya I would need the icon as well, thank you

[2019-04-09 05:10] NejcZdovc commented on #4012
based on what you said I moved this into 0.63 milestone

[2019-04-09 05:11] NejcZdovc commented on #4012
can you please mark all places that we need to change this?

[2019-04-09 05:13] GeetaSarvadnya commented on #4016
@NejcZdovc Please find the image source as well

![image](https://user-images.githubusercontent.com/38657976/55774779-3ae1cb00-5ab4-11e9-9677-48037b6373f8.png)

[2019-04-09 05:21] NejcZdovc commented on #4016
all links look good. if you click on the link and then check again (refresh rewards page), do you see the image? Maybe chromium didn't fetch it

[2019-04-09 05:23] NejcZdovc commented on #4050
@fmarier do you have any recurring tips?

[2019-04-09 05:34] GeetaSarvadnya commented on #4016
@NejcZdovc Click on the link and multiple page reload (brave://rewards) resolved the issue.

![image](https://user-images.githubusercontent.com/38657976/55775542-42ef3a00-5ab7-11e9-9428-a6ed71605eb4.png)

[2019-04-09 06:10] jonathansampson opened #4053 "Cast Component is Positioned Poorly"
After enabling "#load-media-router-component-extension", I noticed the Chromecast dialog opens on the left side of the browser window, rather than in the middle.

As a result, when the browser window is full-screen, it seems like nothing happens after selecting "Cast..."

![cast](https://user-images.githubusercontent.com/46864481/51789312-c6fb7c00-216e-11e9-9cbe-46451033e2c8.gif)

_Originally post

[2019-04-09 06:13] jonathansampson commented on #4053
I just came across this myself as well. I suspect the issue is that we don't render the extension icon itself, which serves as the anchor for positioning the cast component popup. Note how Edge (Chromium) handles the same action:

**Brave**

![cast-ui-location](https://user-images.githubusercontent.com/815158/55777144-a7cd7480-5a64-11e9-92d4-e14622ae4d37.gif)

**Edge (Chromium)**

![cast-ui-locati

[2019-04-09 07:04] Brave-Matt commented on #4053
@jonathansampson, read here:
https://github.com/brave/brave-browser/issues/209#issuecomment-459846613

[2019-04-09 07:09] Brave-Matt commented on #2362
+1 Community:
https://community.brave.com/t/google-drive-desktop-notifications-are-broken-in-brave-for-windows/52498/7

[2019-04-09 07:15] jonathansampson opened #4054 "Merriam-Webster Resources Blocked"
## Description
First-party resources are blocked on www.merriam-webster.com in some builds of Brave.

![image](https://user-images.githubusercontent.com/815158/55780694-31ce0b00-5a6e-11e9-8707-1ea3cdac9301.png)

## Steps to Reproduce
1. Navigate to www.merriam-webster.com

## Actual result:
The following resources are being blocked:

- https://www.merriam-webster.com/assets/mw/app-bundles/mw-2019-

[2019-04-09 07:20] jonathansampson commented on #4054
For comparison, here is the output when viewing the same resource in Chrome with uBlock Origin 1.18.16:

| | | | | | | |
|:--- |:--- |:--- |:--- |:--- |:--- |:--- |
| +0 |  |  | `www.merriam-webster.com` | 1 | image | `https://www.merriam-webster.com/favicon.png` |
| +0 |  |  | `www.merriam-webster.com` | 1 | image | `https://www.merriam-webster.com/favicon.png` |
| +0 | ##.abl |  | `www.merriam-w

[2019-04-09 08:30] IIIuminator commented on #3253
Same for me on Prime Video Germany,  on latest and up to date Manjaro Linux with brave `Version 0.63.34 Chromium: 74.0.3729.40 (Official Build) unknown (64-bit)`. I checked which additional queries are blocked when trying to start a video vs. when just browsing the catalog (to narrow down on the culprit) and came up with the following:

1. - https://fls-eu.amazon.de/1/batch/1/OE/
2. - https://atv-

[2019-04-09 08:50] NejcZdovc commented on #4016
this link is from chromium, so we can't do anything about it if it's not stored int chromium favicon storage. Closing it

[2019-04-09 08:50] #4016 closed

[2019-04-09 10:51] igneosaur commented on #1280
Blocking elements doesn't even work for me at the moment. Ads are back when you refresh, CSS classnames don't change or anything.

[2019-04-09 12:45] mkhamat commented on #413
@bsclifton thigs works pretty well, thank you!

[2019-04-09 13:30] jamesgoodhouse opened #4055 "Typing Too Fast Too Soon In Location Bar Problem"
## Description
When I open a new tab and immediately start typing, the first few characters are removed once the URL history is loaded in the location bar.

## Steps to Reproduce

   1. Visit a site like `gmail.com` so that it is in your history
   1. Open a new tab via `CMD-T`
   2. Immediately start typing out `gmail.com`

## Actual result:
Instead of having exactly what I typed (e.g., `gmail.co

[2019-04-09 14:16] FelschR commented on #2362
I'm pretty sure the reason why it's not working is #2143
On Android it's still working atm because FCM wasn't disabled there.

I'm not entirely familiar with Chrome's history with FCM but I think they initially offered a custom FCM/GCM API (https://developers.chrome.com/extensions/gcm) and later added support for the `Push API` once it was standardised.
Maybe they've reused parts of the FCM implem

[2019-04-09 14:28] InternetJohnny opened #4056 "🌑Dark theme persists in UI after switching back to Light🌕"
## Description
Having enabled 🌑dark theme and gone back to using the 🌕light theme, some elements of the UI remain themed dark🌑 - settings dropdown, permissions alert box (notifications, location, etc) - while the address bar and tabs have the proper 🌕light theme.

## Steps to Reproduce

   1.  Switch to dark theme 🌑
   2.  Switch back to light theme 🌕

## Actual result:

<img src="https://i.imgur.

[2019-04-09 15:23] cndouglas commented on #4055
Thanks for the report @jamesgoodhouse! This is a duplicate of #3756; feel free to subscribe to that issue for updates. Fortunately, the Brave team is currently working on this bug.

[2019-04-09 15:46] cezaraugusto commented on #4055
@cndouglas thanks for triaging! @jamesgoodhouse, please refer to the issue mentioned above and thanks for reporting. I'm keeping an eye close on this bug.

[2019-04-09 15:46] #4055 closed

[2019-04-09 15:48] cezaraugusto commented on #3756
I'm able to reproduce this 100% of times in a dev environment (via `npm start`) but not using binary builds, neither on beta, dev, and nightly channels (prod environment).

if you are still facing this issue and you have not shared whether you are using a production version, please let me know. as far I can tell this isn't an issue anymore in newer builds. I'm keep an eye on this issue

[2019-04-09 16:09] cndouglas commented on #3756
I experienced this problem several times yesterday. Nightly (0.65.x) production build (downloaded DMG from https://github.com/brave/brave-browser/releases) on macOS 10.14.4.