[2018-10-14 04:55] #1516 closed

[2018-10-14 08:39] AtjonTV opened #1567 "i18n packaging not working for Linux"
## Description

I just downloaded a new copy of Brave 0.55.13 and it seems to have issues loading i18n strings.

## Steps to Reproduce

   1. Download `brave-v0.55.13-linux-x64`
   2. Extract it
   3. Start the browser
   4. Open the brave rewards menu besides the URL bar

## Actual result:

`i18n: welcomeHeaderTwo`

## Expected result:
The header text

## Reproduces how often:

More then 5 times

[2018-10-14 08:43] AtjonTV commented on #1567
I am now going to test with 0.56.3 to see if the same issue occurs.

[2018-10-14 08:45] AtjonTV commented on #1567
Brave | 0.56.3 Chromium: 70.0.3538.45 (Official Build) unknown(64-bit)
-- | --
Revision | cbdc32e4334458954e9def214d7e5fa1ca1960eb-refs/branch-heads/3538@{#830}
OS | Linux

![screenshot from 2018-10-14 10 44 57](https://user-images.githubusercontent.com/24845056/46914454-35d90e80-cf9e-11e8-9d61-faf81a7d262f.png)

[2018-10-14 08:46] NejcZdovc commented on #1567
cc @bbondy this appears to be a problem on linux as well. Will https://github.com/brave/brave-core/pull/604 fix it for linux as well?

[2018-10-14 08:49] AtjonTV commented on #1567
System Language is English and Brave Language is also English

Changing the Brave Language to German does not change the Language at all :thinking:

[2018-10-14 08:58] AtjonTV commented on #1555
I got the same issues

I only tested beta 0.55.6, beta 0.55.13 and dev 0.56.3 and all have the same issue

Extended OS details:

[code]

![screenshot from 2018-10-14 10 53 00](https://user-images.githubusercontent.com/24845056/46914530-7c7b3880-cf9f-11e8-8dec-dde7e463f85f.png)

[2018-10-14 10:52] bbondy commented on #1567
The last fix was definitely only for Wibdows, I'll check it out. Note some more work needs to be done to actually add the diff languages, but I'll do just the i18n label fix here.

[2018-10-14 12:45] srirambv commented on #1567
You need to do the following for browser language to change on Linux
- Add language packs from system settings
- Change Language from settings and restart
- Add preferred language in Browser and relaunch (Available languages might not be completely translated)

_**Please open a new issue if that doesn't work. Better to track one item per issue rather than combining multiple**_

[2018-10-14 13:54] #1567 closed

[2018-10-14 14:04] jonathansampson commented on #1442
@simonhong Thanks. Any idea when you'll be able to take this? I hit this crash _at least_ a dozen times on a typical day.

[2018-10-14 14:23] bbondy opened #1568 "Fix localization for brave non generated strings"
It was at some point accidentally commented out, and then removed in a later refactoring.  This is to re-add it as it was meant to be so the strings get uploaded to Transifex.

[2018-10-14 14:27] bbondy opened #1570 "Add support for localizing Brave Rewards with Transifex"

[2018-10-14 14:46] #1568 closed

[2018-10-14 14:46] #1570 closed

[2018-10-14 16:19] bbondy opened #1571 "Update strings and transifex changes for supporting 2 messages.json"
messages.json appears in brave_rewards and brave-extensions so it required some extra mapping fixes

[2018-10-14 17:08] LaurenWags commented on #1420
@NejcZdovc is this sufficient for a test plan:
1. Enable Rewards. Verify grants button is not displayed. Claim a grant. Verify grants button does display.
2. Restore a wallet without any grants in it. Verify Grants button does not display.
3. Restore a wallet with grants in it. Verify Grants button does display.

[2018-10-14 17:12] LaurenWags commented on #1372
Verified passed with:

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified per https://github.com/brave/brave-core/pull/596 that PDF.js does not display in `chrome://extensions` but only displays in `chrome://components`

[2018-10-14 17:27] NejcZdovc commented on #1420
@LaurenWags perfect plan

[2018-10-14 17:35] jasonrsadler commented on #1467
@NejcZdovc @LaurenWags Addressed via Slack

[2018-10-14 18:07] LaurenWags commented on #1467
Verified passed with

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with steps from Test Plan and several sites provided via slack

[2018-10-14 18:29] enderger commented on #1555
Or did you loose network for any reason at any time during the install

[2018-10-14 18:49] LaurenWags commented on #1452
Verified passed with

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with steps from https://github.com/brave/brave-browser/issues/1452#issuecomment-428277346 several times

[2018-10-14 18:53] LaurenWags commented on #1273
Verified passed with

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with STR from description
* Verified Plugin, Widevine, and Autoplay notifications
* Verified for dark -> light theme and light -> dark theme changes

[2018-10-14 20:02] Mikaela commented on #12
I think https://github.com/brave/brave-browser/issues/1084 is closely related.

[2018-10-15 00:04] #1571 closed

[2018-10-15 00:29] frsh-evan commented on #1179
if this is not a priority - can we suggest a music streaming service that brave prefers the methods in which authentication via the large tech companies?

[2018-10-15 00:29] frsh-evan commented on #1179
+1

[2018-10-15 01:31] simonhong opened #1572 "Improvement the control of rewards button visibility in guest, tor and private window"
This is a follow up issue for the below comments I left to https://github.com/brave/brave-core/pull/615.
* https://github.com/brave/brave-core/pull/615#issuecomment-429594097
* https://github.com/brave/brave-core/pull/615#issuecomment-429595092

CC @mkarolin

[2018-10-15 02:01] simonhong opened #1573 "Re-add border radius to extension popup"
This is the follow up issue of https://github.com/brave/brave-core/pull/626.
After fixing https://github.com/brave/brave-browser/issues/1028, brave extension popup's border is removed.
If we want to re-add border radius to this popup, I think BubbleBorder customizing can help this.

CC @petemill

[2018-10-15 02:35] GeetaSarvadnya opened #1574 "Change shield settings is causing the browser crash"
## Description
Change shield settings is causing the browser crash

**Note**: Issue is reproducible on both 0.55.13 Brave beta and 0.56.4 Dev channels

## Steps to Reproduce

   1. Launch Brave with clean profile from CLI
   2. Open youtube.com
   3. Play any video
   4. Change shield settings

## Actual result:
Change shield settings is causing the browser crash

Brave Dev - 0.56.4
Crash ID: 6748

[2018-10-15 02:57] simonhong commented on #1442
I'm trying to reproduce on my local machine to get call stack.

[2018-10-15 03:47] GeetaSarvadnya opened #1575 "Embedded iframe webview crash on Tor windows"
## Description
Due to Ad blockers, a iframe is getting crashed while playing YT video in Tor window. If we select "Allow Ads and Tracking" web page crash is removed automatically. In b-l Tor tabs, this issue is not reproducible.

## Steps to Reproduce

   1.  Launch Brave with clean profile
   2.  Open Tor window
   3.  Open youtube.com
   4. Play a video

Please note that, this issue is not comin

[2018-10-15 04:46] bbondy opened #1576 "Refactor: Simplify network delegate helpers by having a single request_url"
Instead of having a new_url and a request_url, some of the logic would be more simple and less error prone if we had only one.

We could also store the original_request_url so we know if it was changed or not in each network delegate helper.

[2018-10-15 05:10] #1574 closed

[2018-10-15 05:10] #1576 closed

[2018-10-15 06:04] limonte opened #1577 "Too many redirects for Discourse based bug-trackers (e.g. https://npm.community/)"
## Description
![image](https://user-images.githubusercontent.com/6059356/46932467-96c51d00-d058-11e8-96fb-8c8d9663b0dc.png)

## Steps to Reproduce
1. Go to https://github.com/sweetalert2/ngx-sweetalert2/issues/85#issuecomment-428954227
2. Click https://npm.community/t/npm-access-grant-team-is-required-and-must-be-of-type-string/2641

## Actual result:
[code]

## Expected result:
It should work. I

[2018-10-15 06:37] NejcZdovc commented on #1485
this is by design, so that X is clearly visible as an action

[2018-10-15 06:37] #1485 closed

[2018-10-15 06:40] NejcZdovc commented on #1046
this was renamed to `Auto-Contribute`, so closing

[2018-10-15 06:40] #1046 closed

[2018-10-15 06:43] NejcZdovc opened #1578 "Fine tune text for rewards"

[2018-10-15 06:51] bsclifton commented on #1537
We can use `Nightly` channel on `browser-laptop` for testing. Once ready, we can then try the upgrade "for real" with the `Beta` channel. I don't think we should use `Developer` because the BAT Ads build are on that channel

I tested an upgrade tonite from 0.22.2 => 0.25.201 and it worked great as expected 😄 👍

[2018-10-15 06:51] #1537 closed

[2018-10-15 09:42] Sh1d0w opened #1579 "Brave crashes frequently"
I am currently using dev build 0.56.4

While I use it for a daily usage, I find that it crashes frequently. This also was happening on 0.56.2.

I wasn't able to observe a pattern that reproduces it 100% - sometimes when I have 7-8 tabs open, and open a new one, type google.com then type a search string and hit enter it crashes.

Sometimes when I close a lot of tabs with CMD+W again crashes.

If I

[2018-10-15 09:49] NejcZdovc commented on #1579
@Sh1d0w could this one be the same https://github.com/brave/brave-browser/issues/1442?

[2018-10-15 09:51] Sh1d0w commented on #1579
@NejcZdovc I don't think it is the same as it crashes after I've opened google.com and hit search inside the google's input search par inside the page, not in the address bar.

Also crashed several times when I've been closing multiple tabs with CMD+W

[2018-10-15 09:59] NejcZdovc commented on #1579
oh it's inside google search, yeah this one seams different. Could you please send us some crash reports (chrome://crashes)?

Please past `Uploaded Crash Report ID` in this issue so that we can know exactly which one is related to this issue. Thank you

[2018-10-15 10:01] Sh1d0w commented on #1579
@NejcZdovc Sure, here are the most recent ones:

Local Crash ID 13e74d6d-0f08-49b4-bd20-ebb71d239272
Crash report captured on Monday, 15 October 2018 at 12:38:23 (upload requested by user, not yet uploaded)

Local Crash ID 97266974-e1fd-42c7-8a98-68a0720bb47a
Crash report captured on Monday, 15 October 2018 at 11:37:31 (upload requested by user, not yet uploaded)

Local Crash ID 30110cda-b0af-4084

[2018-10-15 10:28] simonhong commented on #1442
Hmm, Today I tried to find reproduce step for some time. But, can't reproduce by myself.
Is there a pre-condition or some specific set of keywords causes this?

[2018-10-15 10:39] Sh1d0w commented on #1579
@NejcZdovc

No problems.

Here are the report ids:

Uploaded Crash Report ID 3d4f796ace2e353e (Local Crash ID: 13e74d6d-0f08-49b4-bd20-ebb71d239272)
Crash report captured on Monday, 15 October 2018 at 12:38:23, uploaded on Monday, 15 October 2018 at 13:27:40

Provide additional details.

Uploaded Crash Report ID 71d99ba5e5fd10ff (Local Crash ID: 97266974-e1fd-42c7-8a98-68a0720bb47a)
Crash report c

[2018-10-15 12:46] srirambv commented on #1575
@bbondy I think that's a suggested video ad iframe that is getting crashed. Ideally should be blocked.
I don't see the iframe all the time on Tor tabs.
![image](https://user-images.githubusercontent.com/17010094/46951546-4e0c6480-d056-11e8-9545-3cbb788279e2.png)

[2018-10-15 13:14] srirambv commented on #241
Linux is blocked on https://github.com/brave/brave-browser/issues/1562

[2018-10-15 14:17] mkarolin commented on #1572
@simonhong, agree that the change in brave_action_view_controller.cc would have been sufficient. I did test with just that change and it worked for all profiles that need the button disabled. I did like the solution in brave_extension_service.cc more, though, because it disabled the button on all tabs at once. Unfortunately, I could not find a way to make it work for regular profile's incognito pr

[2018-10-15 14:18] LaurenWags commented on #226
+1 from me - encountered this and it was very confusing when trying to trouble shoot why a site wouldn't work properly. Having Cookies set to 'Blocked' here overrode my shield settings of 'Block 3rd party cookies' but that wasn't evident when trying to resolve an issue.
![screen shot 2018-10-15 at 10 04 04 am](https://user-images.githubusercontent.com/28145373/46956573-a26a1100-d063-11e8-87b3-f124

[2018-10-15 14:19] jmahhh commented on #1579
Same:

Uploaded Crash Report ID f5a338f109e2a579 (Local Crash ID: 1a730ec2-09e0-4fd2-b8fc-b84015a45260)
Crash report captured on Monday, 15 October 2018 at 21:57:49, uploaded on Monday, 15 October 2018 at 22:13:53

Provide additional details.

Uploaded Crash Report ID aecc01ae65e6be04 (Local Crash ID: 6acc3d69-aead-4cbe-8d45-ecdf4bae66f5)
Crash report captured on Monday, 15 October 2018 at 19:32:3

[2018-10-15 15:08] srirambv opened #1580 "Dailymotion doesn't load"
## Description

Dailymotion doesn't load

## Steps to Reproduce

   1. Clean profile on 0.55.13
   2. Visit https://dailymotion.com/
   3. Page goes into infinite load and errors our. Stopping page load causes webview crash. (Couldnt capture crash details on Linux)

## Actual result:

![screenshot from 2018-10-15 11-06-37](https://user-images.githubusercontent.com/17010094/46959586-65ede380-d06a-1

[2018-10-15 15:13] srirambv opened #1581 "Video fails to load on D Tube due to CORS policy"
## Description

While verifying https://github.com/brave/brave-core/pull/599/ found that video fails to load on D Tube due to CORS policy

## Steps to Reproduce

   1. Clean profile 0.55.13
   2. Load any video on https://d.tube
   3. Shows a blank area on video player

## Actual result:

![screenshot from 2018-10-15 11-11-51](https://user-images.githubusercontent.com/17010094/46959900-2d023e80-d0

[2018-10-15 15:14] btlechowski opened #1582 "Add default autoplay whitelist to chrome://settings/content/autoplay"
## Steps to Reproduce

1, Clean profile
2. Go to chrome://settings/content/autoplay

Important: Default whitelist was introduced in https://github.com/brave/brave-browser/issues/1089

## Actual result:

pages whitelisted for autoplay are not shown in chrome://settings/content/autoplay
![image](https://user-images.githubusercontent.com/34715963/46960002-bf233a80-d09d-11e8-9577-995c91956445.png)

##

[2018-10-15 15:21] btlechowski commented on #1580
Reproduced on Windows 7 x64

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows 7

[2018-10-15 15:22] GeetaSarvadnya commented on #1580
Issue is reproducible on Windows
![image](https://user-images.githubusercontent.com/38657976/46960446-31a31300-d0bc-11e8-80ad-7da1a00fd745.png)

[2018-10-15 15:29] dustinaux commented on #1579
Although I've had other pages randomly crash I can consistently produce an immediate crash on 0.56.4 by going to https://www.google.com/finance and viewing any stock quote, whether by search or clicking one in my "watchlist."

Doing the same in incognito mode does not crash though. So it may be related to the user data somehow.

Local Crash ID 509fb069-ef4b-4791-b772-41b5918dc0d3

[2018-10-15 15:29] bbondy opened #1583 "Update strings from Transifex - Oct 15th 2018"

[2018-10-15 15:31] srirambv opened #1584 "SoundCloud only autoplays if the page link is loaded directly"
## Description

While testing #1809 found that visiting Sound Cloud and loading an artist page doesn't start autoplay. However if you copy paste that link or reload the page then autoplay kicks in

## Steps to Reproduce

   1. Clean profile on 0.55.13
   2. Visit https://soundcloud.com/ in a new tab
   3. Click on any artist on homepage, the song listed on the page doesn't autostart
   4. Reload t

[2018-10-15 15:31] srirambv commented on #1089
Verification passed on

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* All sites except Sound cloud( #1584) and D Tube(#1581), listed on https://github.com/brave/brave-core/pull/599 allows auto play

[2018-10-15 16:00] #1583 closed

[2018-10-15 16:23] bsclifton opened #1585 "When installer encounters an error, it goes to an invalid `Help` page"
## Description
Help button is shown during installer failure. However, when clicked it doesn't go to a working URL

## Steps to Reproduce

   1. Download the Brave Beta installer on Windows from https://brave.com/download-beta
   2. Open command line; navigate to directory where installer was downloaded to
   3. Launch installer and pass invalid arguments. Ex: `BraveBrowserBetaSetup.exe /q`

## Ac

[2018-10-15 16:29] bsclifton commented on #1538
Looks like silent install would be done with `BraveBrowserBetaSetup.exe /silent /install`

However, when running the above it fails for me. If I remove `/silent`, I can see it's trying to elevate using UAC ☹️ Will reach out to @simonhong for more info

[2018-10-15 17:38] petemill commented on #1527
Duplicate of https://github.com/brave/brave-browser/issues/1402 which covers more detail

[2018-10-15 17:38] #1527 closed

[2018-10-15 17:39] petemill commented on #1402
## Test plans from duplicates

### Fresh profile (not signed in to accounts.google.com)
   1. Open any page and press <kbd>Ctrl</kbd>+<kbd>P</kbd>
   2. Brings up the print dialogue
   3. Click on Change to select available printers
   4. Device page shows Cloud print and has a sign in button which tries to connect to `no-thanks.invalid`

### Already signed in to a Google website

- Visit print pr

[2018-10-15 17:40] Brave-Matt commented on #1380
+1 from Community: https://community.brave.com/t/new-tab-redirect/34855/8

With this extensions the "Allow all Cookies" workaround does not resolve the issue.

[2018-10-15 17:42] petemill commented on #1402
## Comparison whilst signed-in to google.com

### Before
![image](https://user-images.githubusercontent.com/741836/46967938-dbf04b80-d066-11e8-93d6-d44322f7a7d7.png)

### After
![image](https://user-images.githubusercontent.com/741836/46967967-f296a280-d066-11e8-91a0-ccd470278755.png)

[2018-10-15 17:44] petemill commented on #1402
@jumde I can't replicate your addition to this issue for `chrome://devices` at https://github.com/brave/brave-browser/issues/1402#issuecomment-427176545? Can you confirm and post as separate issue, if it's still present? Thanks

[2018-10-15 18:01] rossmoody opened #1586 "Refactor: Merge New Tab Page into Brave-Ui"
The new tab page in Core is currently rendering and behaving incorrectly. I believe merging the New Tab Page into the React Brave-UI repo would help us work through some of the issues surrounding the broken Favico formatting, bookmarking functionality, typography, hover states on icons, etc...

[2018-10-15 18:02] yrliou opened #1587 "Fix lint error in brave-extension"
See https://travis-ci.org/brave/brave-extension/jobs/441764516 for current lint errors on master.

[2018-10-15 18:03] bsclifton commented on #1538
If I launch using `BraveBrowserBetaSetup.exe /install`, it comes up with the UAC prompt. I can click `No`, and it'll allow you to continue (with a user-specific install) which installs to:
`%USERPROFILE%\AppData\Local\BraveSoftware\Brave-Browser-Beta`

I'm looking in the source now to try and find more command line options. Would like to do this silently

[2018-10-15 18:14] #1587 closed

[2018-10-15 18:53] srirambv opened #1588 "Items blocked via CSS selector loads before getting blocked again"
## Description

Items blocked via CSS selector loads before getting blocked again

## Steps to Reproduce

   1. Clean profile on 0.55.13
   2. Visit any site which shows a banner item on each visit
   3. Block it via right click CSS selector
   4. Close the tab and visit the site again, blocked item loads correctly and then gets blocked again

## Actual result:

![blockitem](https://user-images.gi

[2018-10-15 18:53] onmyouji commented on #1442
@simonhong On my system, visiting this page (while not logged in to DropBox) consistently causes Brave to crash:
https://www.dropbox.com/s/kdklrowv683yq1a/HashcatCheatSheet.v2018.1b%20(2).pdf?dl=0

Windows 10 Home x64 version 1709
Brave Version 0.55.13 Beta

[2018-10-15 18:59] capouch commented on #1442
Navigating to that link works just fine for me.

Linux Slackware 14.2-current running as a VirtualBox VM, Brave 0.56.4.

[2018-10-15 19:06] capouch commented on #1281
Because I use this feature all the time, I'm able to add a somewhat strange detail that so far appears to be a consistent aspect of this bug: the very first time I navigate to Google Photos after launching the browser, on the very first image I browse, when I invoke the zoom there is a *tiny* hesitation, and then it works fine.  On subsequent image views, though, it is very dodgy, sometimes taking

[2018-10-15 19:14] mkarolin opened #1589 "BraveDownloadItemModelTest BraveDownloadItemModelTest and GetTooltipText unit tests are failing on Windows"
## Description
`[148/154] BraveDownloadItemModelTest.GetOriginUrlText (1 ms)
[ RUN      ] BraveDownloadItemModelTest.GetTooltipText
../../brave/browser/download/brave_download_item_model_unittest.cc(145): error: Expected equality of these values:
  test_case.expected_tooltip
    Which is: "foo.bar\nNot Secure http://example.com"
  base::UTF16ToUTF8(model().GetTooltipText(font_list, kTooltipWidth))

[2018-10-15 19:15] LaurenWags commented on #975
Verified passed with

Brave | 0.55.13 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with test plan from https://github.com/brave/adblock-lists/pull/33

[2018-10-15 19:46] bsclifton commented on #1538
OK verified with @simonhong that this will need to be done when creating the stub installer. We'll want to have two installers created:
- regular installer (what we have now)
- silent installer (which defaults to single user install, because it won't elevate to admin)

[2018-10-15 20:04] LaurenWags opened #1590 "download from file:/// does not show 'Not Secure' - follow up to 1269"
## Description
Found while testing https://github.com/brave/brave-browser/issues/1269

Scenario 3 from test plan on https://github.com/brave/brave-core/pull/597 does not show the unlock icon/'Not Secure' on hover when downloading from text file.

## Steps to Reproduce

Download from a file://:
1. Drag and drop a text file onto the browser.
2. Right-click on the content and choose "Save as...".
3.

[2018-10-15 20:05] #1402 closed

[2018-10-15 20:05] LaurenWags commented on #1269
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified scenarios from test plan: https://github.com/brave/brave-core/pull/597
* Scenario 3 did not produce desired results, logged https://github.com/brave/brave-browser/issues/1590 as follow up issue

[2018-10-15 20:06] diracdeltas commented on #1590
this is actually expected behavior; file:/// is considered a secure origin. cc @mkarolin

[2018-10-15 20:11] petemill opened #1591 "New Tab Page typography is outdated"
## Test plan
Page should look more like browser-laptop (bottom screenshot)

## Description
The New Tab Page typography does not have the updates from browser-laptop that were implemented almost a year ago.

- Clock
- Photo credit

## Brave-Core
![image](https://user-images.githubusercontent.com/741836/46975156-bb31f100-d07a-11e8-9845-9ecec0b8a031.png)

## Browser-laptop
![image](https://user-image

[2018-10-15 20:12] bbondy opened #1592 "Cookie global settings are overwritten on startup"
This was split into 2 by me, but credit @srirambv for the posting of the issue.

## Description

While verifying #1364   found Cookies settings are not retained across session

## Steps to Reproduce

   1. Clean profile on 0.55.12
   2. Change default shields settings to different value
   3. Restart browser, Cookie setting gets reset to default value
   4. Change default shield settings and visit

[2018-10-15 20:12] LaurenWags commented on #1560
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified steps from description

[2018-10-15 20:12] srirambv commented on #1590
Muon showed the same but was late renamed to `Local File`. https://github.com/brave/browser-laptop/pull/8786. Should probably do the same here as well.

[2018-10-15 20:13] mkarolin commented on #1590
Yes, sorry, in the original implementation file:/// wasn't considered a secure source, but then on @diracdeltas' suggestion I switched to using an API function that's more sophisticated than just checking for `https`. `file:///` is considered a secure source by that API (as well as `about:` and even `http://localhost`, if you ever test those).

[2018-10-15 20:14] LaurenWags commented on #1590
@diracdeltas @mkarolin  should scenario 3 on test plan in https://github.com/brave/brave-core/pull/597 be updated?

[2018-10-15 20:16] petemill opened #1593 "New Tab Page icons are outdated"
## Muon
![image](https://user-images.githubusercontent.com/741836/46975815-7dce6300-d07c-11e8-9324-188ad9281665.png)

## Brave-Core
![image](https://user-images.githubusercontent.com/741836/46975825-845cda80-d07c-11e8-89b7-938ee0fee5c5.png)

[2018-10-15 20:18] petemill opened #1594 "New Tab Page wallpaper does not fade in"
In muon, the graphic fades in. In brave-core, the graphic is large, so there is often a visible ripping effect down the screen as the graphic is rendered.

[2018-10-15 20:18] mkarolin commented on #1590
@LaurenWags yes, I'll update.

[2018-10-15 20:21] mkarolin commented on #1590
Updated.

[2018-10-15 20:22] petemill opened #1595 "New Tab Page localization is partly not implemented"
The muon method is still in the code, even though it does not do anything:

- Icon tooltips
- "Photo by" description

## Test plan
- Photo caption should be prefixed with the words "Photo by"

[2018-10-15 20:29] srirambv opened #1596 "Implement Enable Crash Reporting from brave://crashes"
We should implement a switch on brave://crashes to easily enable crash reporting since we ask users to get crash id's from there.

[2018-10-15 20:29] srirambv commented on #1596
cc: @bsclifton

[2018-10-15 20:30] LaurenWags commented on #1516
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

https://github.com/brave/brave-core/pull/629

[2018-10-15 20:33] #878 closed

[2018-10-15 20:57] LaurenWags commented on #1078
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with test plan from https://github.com/brave/brave-core/pull/624
* Verified STR from description

[2018-10-15 21:06] kjozwiak commented on #1151
Went through verification using the following build under `macOS 10.13.6 x64` - **PASSED**

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

<img width="954" alt="screen shot 2018-10-15 at 5 05 51 pm" src="https://user-images.githubusercontent.com/2602313/46978320-a1a1a100-d

[2018-10-15 21:06] srirambv opened #1597 "Low resolution favicons on rewards panel and contribution table"
## Description

Rewards panel shows favicons which are pixelated needs to have a high resolution icons

## Steps to Reproduce

   1. Enable Rewards
   2. Add funds
   3. Visit any site and click the rewards button, see pixelated icons and close it immediately

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/46978132-0ad4e480-d09c-11e8-9885-5b1431688354.png)

## Expec

[2018-10-15 21:07] tomlowenthal commented on #1387
If the way to create a new private window with Tor from an existing one is the "New Window" menu option, then that menu option needs to be renamed to "New Private Window with Tor" with the same keyboard shortcut when within an existing private window with Tor. I understand that we made the technical decision to implement this as a separate user profile. But nobody using their browser needs to unde

[2018-10-15 21:13] srirambv opened #1598 "Contextual reload icon on Brave Rewards panel should be removed"
## Description

Donate to this site monthly has a reload button next to it in rewards panel that is not functional. Should be removed similar to help icon removed in #1472

## Steps to Reproduce

   1. Enable rewards
   2. Add funds
   3. Visit a site and open rewards panel. Non functional reload icon is shown next to donate text

## Actual result:

![image](https://user-images.githubusercontent.c

[2018-10-15 21:32] LaurenWags commented on #1580
Reproduced on macOS 10.12.6 x64

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

[2018-10-15 21:46] LaurenWags commented on #1391
@jhreis did changing Cookie Control to 'Allow All Cookies' allow you to listen via the web?

[2018-10-15 21:55] #1513 closed

[2018-10-15 22:18] LaurenWags commented on #1488
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified STR from description several times and no crash was observed.

[2018-10-15 22:29] LaurenWags commented on #1574
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with STR from description, no crash was observed with several attempts

[2018-10-15 22:55] LaurenWags commented on #1484
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified passed via test plan in https://github.com/brave/brave-core/pull/615 - BAT icon is disabled in Guest, Private, and Tor windows.

[2018-10-16 00:45] simonhong commented on #1442
I think this crash was fixed by https://github.com/brave/brave-core/pull/595/files.
I assume that this crash was happened after cloing private window.
I'll close this issue and feel free to re-open if you see again.

[2018-10-16 00:45] #1442 closed

[2018-10-16 00:55] mkarolin commented on #1482
@rossmoody, the current implementation of the badge is a bit different from the look in the issue's description (the badge doesn't overlap the icon):

![notifications](https://user-images.githubusercontent.com/41635752/46986194-05879200-d0bc-11e8-9450-bca9fd198efd.jpg)

Does this need to change and if so, how?

[2018-10-16 01:02] petemill opened #1599 "New Tab Page clock is the wrong font weight"
Should be 200, is currently 300 since we do not bundle the files for 200.

[2018-10-16 01:02] rossmoody commented on #1482
That screengrab looks like it might have come from an Android mockup which has differed a bit from the desktop toolbar UI we implemented. This doesn't appear to me to be an issue and there are upcoming adjustments to this section specifically including making the icons bigger in this space which will likely close that gap a bit. Do want to tag @petemill in here though just to make sure that's form

[2018-10-16 01:04] petemill opened #1600 "All JS bundles include all font files as data URIs"
JS bundles are unneccessary large since they contain all the font files. The font files should be accessible as separate resources so that only the required data should be loaded. Whilst it's not as much of an issue since our resources don't have a network to traverse, it likely affects JS parse performance, as well as the amount of fonts and font variations (weight) that we are allowing to be bun

[2018-10-16 01:07] srirambv commented on #1458
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/46986613-57c9b280-d0be-11e8-8d62-feb241532abb.png)

[2018-10-16 01:13] srirambv opened #1601 "brave://about should list URL's as brave:// instead of chrome:// follow up to 1458"
## Description

brave://about should list URL's as brave:// instead of chrome://

## Steps to Reproduce

   1. Launch profile on 0.55.14
   2. Open brave://about
   3. Page title says `List of Chrome URL's` and lists all URL's with `chrome://`

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/46986749-f5bd7d00-d0be-11e8-9f0f-b61aecc1e238.png)

## Expected result:
Page

[2018-10-16 01:16] LaurenWags commented on #1398
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified steps from test plan on https://github.com/brave/brave-core/pull/567
![screen shot 2018-10-15 at 8 06 52 pm](https://user-images.githubusercontent.com/28145373/46986853-84ca9500-d0bf-11e8-984a-

[2018-10-16 01:51] yrliou commented on #1449
This issue is not in the scope of https://github.com/brave/brave-core/pull/622 anymore, reopen it.

[2018-10-16 01:57] bbondy commented on #1507
Fairly sure this isn't making it in by the freeze tomorrow morning, so moving to the 1.0 project.

[2018-10-16 02:05] #1589 closed

[2018-10-16 02:09] bkero commented on #837
I've supplied Sampson with the public signing key for our Linux builds. MacOS and Windows builds ongoing.

[2018-10-16 02:32] bbondy opened #1603 "Update support URL links according to the following document"
https://docs.google.com/spreadsheets/d/16ubLUdPWmbzD4wiiiu0QbEGA6tbhJgqBemp_eVHz3FA/edit#gid=0

QA note:
Best effort if you can find some of the URLs described to make sure they go to the right place.
Don't spend too long but do verify some of them from the PR code.

[2018-10-16 02:46] #1603 closed

[2018-10-16 02:50] bbondy commented on #1341
For the most part, fixed in https://github.com/brave/brave-core/pull/643

For anything incremental we can just post individual issues.

[2018-10-16 02:50] #1341 closed

[2018-10-16 02:57] bbondy commented on #1507
Didn't realize there was activity in this, no problem moving back if we make the cut.

[2018-10-16 03:02] rossmoody commented on #1507
I think this is still on track to make it. @cezaraugusto has a better handle on status but we're on it and progress seems positive.

[2018-10-16 03:37] simonhong opened #1604 "Open a tor window crash after changing locale to france"
After changing locale to france, crash happened with tor window opening.

[code]

[2018-10-16 04:13] #1604 closed

[2018-10-16 05:48] wowsuchnamaste commented on #1579
Closing tabs with either ctrl+w or clicking the tab's x crashes brave _if the tab has loaded a google page_. So far, I've experienced this exclusively with gmail and google calendar. I'm on On version 0.56.4, Ubuntu 18.04 4.15.0 x86_64. Have not tried incognito mode.

[2018-10-16 06:15] kjozwiak opened #1605 ""Help" button on modal after brave fails to install points to incorrect link/domain"
## Description

When b-c fails to install for whatever reason, you'll get a modal that will display an error message on why the installation as failed which will include both `Help` and `Close` buttons. Clicking on the `Help` button will attempt to load the following URL in this instance:

[code]

## Steps to Reproduce

Not 100% sure how to reproduce, but I was attempting to install the versions l

[2018-10-16 06:29] bsclifton commented on #1605
Closing as duplicate of https://github.com/brave/brave-browser/issues/1585

[2018-10-16 06:29] #1605 closed

[2018-10-16 07:17] kjozwiak opened #1606 "installation sometimes failing on both dev & beta when using x86 stub installers"
## Description

When attempting to install either `dev` or `beta` on a x86 machine using the sub installer, the installation fails after the download has been completed. Reproducing this constantly on my Win 7 x86 VM.

Windows showing the following:

[code]

## Steps to Reproduce

Test Case 1:

   1. visit https://github.com/brave/brave-browser/releases/tag/v0.55.14
   2. download `BraveBrowserDev

[2018-10-16 07:40] #1591 closed

[2018-10-16 07:40] #1595 closed

[2018-10-16 08:20] tomlowenthal opened #1607 "Support Qwant in new Private Tab pages"
Current new tab pages for Private Browsing only show DuckDuckGo graphics. We should also support the case (as with the Qwant) where the default search engine can be used with Tor and in private windows. This covers a gap left by brave/brave-core#646's partial implementation of #1507.

[2018-10-16 08:26] tildelowengrimm opened #1608 "Complete online documentation for private windows"
brave/brave-core#646 moves a bunch of the explanatory learn-more text from the tabs themselves into online documentation. That documentation should be complete and reviewed, especially given that this is a security/privacy-focused feature.

https://support.brave.com/hc/en-us/articles/360018121491
https://support.brave.com/hc/en-us/articles/360018266171
https://support.brave.com/hc/en-us/articles/3

[2018-10-16 08:28] cezaraugusto commented on #471
ya I meant that if you toggle the advanced options visibility in one site the option should be toggled across all sites but this will be fixed by the new version of shields as the option will be removed

[2018-10-16 08:28] tomlowenthal opened #1609 "Allow private (& private+Tor) search engines to be changed"
Currently, private windows have an immutable search engine. That's silly.

[2018-10-16 08:32] tomlowenthal opened #1610 "Menu item to make private windows with Tor from inside one"
Because of the way that Private Windows with Tor are implemented, the menu items (and shortcuts) for making new PWT from within a PWT need to be re-labeled.

[2018-10-16 08:40] tomlowenthal opened #1611 "Create a Private Window with Tor from within a Private Window"
It should be possible to click a button on the new tab page of a Private Window to open a Private Window with Tor.

[2018-10-16 09:02] tildelowengrimm opened #1612 "New Private Tab with & without Tor keyboard shortcuts"
The Chrome/ium defaults for new window is `Cmd-N`/`Ctrl-N`. Private windows are `Cmd-Shift-N`/`Ctrl-Shift-N`. We initially wanted Private windows with Tor to be `Cmd-Opt-N`/`Ctrl-Alt-N /` #1387, but `Ctrl+Alt` [is reserved](http://blogs.msdn.com/b/oldnewthing/archive/2004/03/29/101121.aspx) on Windows. So we shipped with `Cmd-Opt-N`/`Alt-Shift-N`, which isn't symmetrical cross-platform, and isn't

[2018-10-16 09:14] #1507 closed

[2018-10-16 09:35] simonhong commented on #1609
Search engine provider work like below
* Private window (non-tor)
  * DDG is used when it's option is on in private newtab
  * Normal windows's provider is used when ddg option is off
* Private tor window
  * Initially it is to DDG
  * User can change search engine and it is persisted (Merged but not yet released)
  * Qwant is initially set when region is german or France (https://github.com/brave

[2018-10-16 12:33] #922 closed

[2018-10-16 12:47] #1497 closed

[2018-10-16 12:54] srirambv commented on #1598
@NejcZdovc to be honest its not very intuitive as to what the indicator is about. Using the reload button there, my initial thought was to refresh to see the donation. We should may be add a tool tip to explain what that is.

On the rewards panel the text is self explanatory that the donation is to be done monthly so there is no need for the icon. If we do need an icon there and on the tips table

[2018-10-16 12:56] mihaiplesa commented on #622
Added 5 Jenkins jobs as requested, with ad block running daily, everything looks good so far so feel free to close when desired.

[2018-10-16 12:58] bbondy commented on #622
Closing, verified I get the new version, verified that logs appear on #build-bot in Slack, and verified that I can run the jobs now.

[2018-10-16 12:58] #622 closed

[2018-10-16 13:01] srirambv commented on #619
@bbondy I think this is invalid now. Now that we have both x86 and x64 setups and downloads the correct version

[2018-10-16 13:03] NejcZdovc commented on #1598
cc @jenn-rhim

[2018-10-16 13:13] LaurenWags commented on #1598
+1 to @srirambv comment - I also thought it was a reload button. It's almost identical to the browser reload icon:
<img width="28" alt="screen shot 2018-10-16 at 9 09 03 am" src="https://user-images.githubusercontent.com/28145373/47018768-7c0baa80-d123-11e8-9346-ea28dbf01c12.png">

I don't think we need an icon, but if we do one that's more similar to the icon from https://github.com/brave/brave-b

[2018-10-16 13:16] #619 closed

[2018-10-16 13:32] srirambv commented on #1606
Reproduced on Windows 7 x64 with `BraveBrowserDevSetup32.exe`
![image](https://user-images.githubusercontent.com/17010094/47019960-46b48c00-d126-11e8-895f-a8733a11eb8d.png)

[2018-10-16 13:35] bbondy commented on #1578
Please open a new issue if more text changes, closing.

[2018-10-16 13:35] #1578 closed

[2018-10-16 13:36] bbondy commented on #837
This is waiting until closer to release date, but as far as I understand everything is ready to go.

[2018-10-16 13:39] LaurenWags commented on #1606
Reproduced on Win 7 x86 VM when attempting to install `BraveBrowserBetaSetup32.exe`:
![screen shot 2018-10-16 at 9 36 01 am](https://user-images.githubusercontent.com/28145373/47020438-5e404480-d127-11e8-8328-fd7aa5c3b1ee.png)
![screen shot 2018-10-16 at 9 38 13 am](https://user-images.githubusercontent.com/28145373/47020444-60a29e80-d127-11e8-9224-e75c1a2542f4.png)

[2018-10-16 13:40] srirambv commented on #1597
Even contribution table has low resolution icons
![image](https://user-images.githubusercontent.com/17010094/47020516-862fa800-d127-11e8-9392-76da84538ae2.png)

[2018-10-16 13:46] NejcZdovc commented on #1597
we get this icons from favicon store (chromium has control over it), will try to bump size that we are requesting

[2018-10-16 13:47] NejcZdovc commented on #1598
sure we can do that

[2018-10-16 13:56] bbondy commented on #1585
I think Simon fixed this in https://github.com/brave/omaha/pull/6 and I told @mbacchi so he knows about it.

[2018-10-16 13:56] #1585 closed

[2018-10-16 13:58] bbondy opened #1613 "Implement any review comments for PR brave/brave-core#611"
https://github.com/brave/brave-core/pull/611 needs to be streamlined to be included for QA builds. So marking this blocking issue in 0.55.x to get it merged.  Review comments will be implemented before releasing on Thursday.

See here: https://github.com/brave/internal/issues/445

[2018-10-16 14:00] srirambv commented on #1253
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified PDF doesn't appear as an extension instead lists as a component under `brave://components`

[2018-10-16 14:01] srirambv commented on #335
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* PDFJS appears as component under `brave://components`

[2018-10-16 14:04] NejcZdovc opened #1614 "Spin ball after clicking direct donations"
## Description

When you click on send tip you get spinner for a few seconds

## Steps to Reproduce

   1. enable rewards
   2. claim grant
   3. go to site and click on BAT logo, donate now, select amount and click send tip

## Actual result:

Spinner for few second after successful send

## Expected result:
No spinner

## Reproduces how often:

## Brave version (brave://version info)

### Reprod

[2018-10-16 14:05] srirambv commented on #1288
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified global settings can be overridden from shields
* Verified global settings take effect on a page when loaded

[2018-10-16 14:06] #925 closed

[2018-10-16 14:06] #1550 closed

[2018-10-16 14:06] NejcZdovc opened #1615 "Clear notification if you claim grant"
## Description

We don't remove notification in panel after you claim grant on settings page

## Steps to Reproduce

   1. enable rewards
   2. claim grant
   3. click on BAT logo

## Actual result:

you see notification

## Expected result:
notification shouldn't be shown after you claim grant

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:

[2018-10-16 14:06] srirambv commented on #61
QA Blocked on #1186

[2018-10-16 14:15] srirambv commented on #61
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Based on https://github.com/brave/brave-browser/issues/61#issuecomment-425229567, verified DDG is set as default search engine when the DDG switch is toggled

[2018-10-16 14:28] kjozwiak commented on #1606
Awesome! Thanks for taking a look @LaurenWags! I was wondering if it might have been my VM but seems like a legitiment issue 👍

[2018-10-16 14:40] bbondy commented on #1579
Please try again with 0.55.14 beta or  0.56.5 (not yet released) dev. I think it should be fixed.

[2018-10-16 14:40] #1579 closed

[2018-10-16 14:41] srirambv commented on #810
@bbondy @petemill can this be closed now since https://github.com/brave/brave-core/pull/584 is already merged into 0.55.x and correctly shows `brave://` and loads correctly?

[2018-10-16 14:42] bbondy commented on #1546
@jumde could you try with 0.55.14?

[2018-10-16 14:49] kjozwiak opened #1616 ""chrome://" still being displayed when editing URL bar"
## Description

When editing the URL bar, you'll still be able to see the `chrome://` protocol handler rather than the `brave://`

## Steps to Reproduce

   1. open either `dev` or `beta`
   2. visit `brave://settings` and start editing the URL once the page loads

## Actual result:

![urlprotocal](https://user-images.githubusercontent.com/2602313/47024827-7799be80-d130-11e8-91e5-8ea643062170.gif)

[2018-10-16 14:58] bbondy opened #1617 "Bump versions on master to 0.58.1"

[2018-10-16 15:05] #1617 closed

[2018-10-16 15:18] srirambv commented on #948
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified steps from https://github.com/brave/brave-core/pull/409

[2018-10-16 15:28] srirambv commented on #762
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified the steps from issue and no crash

[2018-10-16 15:31] srirambv commented on #663
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified steps from https://github.com/brave/brave-browser/issues/663#issuecomment-428069094 for Normal/Private/Guest/Tor windows

[2018-10-16 15:32] mandar-brave opened #1619 "Brave Core (Dev + Beta) upgrades are causing Brave Rewards to lose all data (and there are other files missing as well from Brave directory)"
Existing issue: No such issues exists in the current set

## Description
After upgrading both dev and beta builds, the Brave Rewards state (reconcile, synopsis, wallet, etc.) lose state and are unusable. This is a critical issue that needs to be fixed.

Before Upgrade Image
![image](https://user-images.githubusercontent.com/35932307/47027907-34822000-d11d-11e8-896a-824e4e2594d9.png)

After Upgrade

[2018-10-16 15:41] kjozwiak opened #1620 "Removing the "Refresh" button under the donate modal"
## Description

Under the direct donations modal, there's a refresh button next to `Make this monthly` which basically does the exact same thing as clicking on the checkbox. I think we should remove this as it's pretty confusing. In this context, I'm not sure if the "refresh" button is the correct image to use.

Similar to issue https://github.com/brave/brave-browser/issues/1598.

## Steps to Repr

[2018-10-16 15:42] mandar-brave opened #1621 "Typekit (Adobe font) is getting blocked on Brave Core"
## Description

Uphold sandbox is using Adobe fonts for its delivery and on testing the sandbox on Core, the typekit was getting blocked.

## Steps to Reproduce

   1. Go to https://uphold-widget-uhocggaamg.now.sh/ (hosting Uphold sandbox widget)
   2. See shields

## Actual result:

Shields should not block Adobe fonts

## Expected result:
Font should not be blocked

## Reproduces how often:

100

[2018-10-16 16:13] tomlowenthal commented on #1507
QA: note the following changes from the designs in this issue:

[2018-10-16 16:20] tomlowenthal commented on #1507
QA: note the following changes from the designs in this issue:
- Final text is in [this doc](https://docs.google.com/document/d/1-LvUwonWwXiFJvw1MjLt9fsCWktEiKiEM7cZ-UN6uPQ), not the mockups
- Learn more overlay has been replaced with links to the knowledge base
- For this revision, all browsers get the DDG version, there's no impl of the DDG-free one

[2018-10-16 16:29] tomlowenthal opened #1622 "Improve text and graphic alignment on new tab pages"
Some of the elements in the new tab pages with and without Tor aren't quite aligned with each other. We should take another pass to make sure everything lines up.

[2018-10-16 16:38] riastradh-brave commented on #1610
Well oops.  I was trying to mimic the way incognito windows presented that but apparently screwed up.  Will fix that.

[2018-10-16 16:44] riastradh-brave commented on #1607
We intend to choose between DDG and Qwant by the user's choice of locale/language setting, but apparently that information is not available in the new tab UI implementation.  We need to add some mechanism to get at it.

[2018-10-16 16:45] riastradh-brave commented on #1514
blocked on https://github.com/brave/brave-browser/issues/1607

[2018-10-16 16:51] srirambv commented on #1619
Here's the observation on Linux

Updated from `0.55.12 -> 0.55.14`
• Contribution list retained
• Wallet balance retained
• `publisher_info_db` was retained in profile folder
• Contribution date was messed up (07/06/50843)
• Publisher icons for YouTube got messed up (shows blank page icon, other icons remained correctly)

Upgraded `0.55.13 -> 0.55.14`
• Wallet balance retained correctly
• Contribu

[2018-10-16 17:01] jaromero commented on #1150
I haven't looked too much in depth into this, but it _seems_ that the text is just not there at all, at least when inspecting the popup with the Dev Tools.

![screenshot from 2018-10-16 11-52-55](https://user-images.githubusercontent.com/794031/47033587-d6643580-d13a-11e8-952e-441432de9897.png)

On this screenshot I just manually added the text into the <option> element via Dev Tools. Notice how t

[2018-10-16 17:12] bsclifton commented on #1542
@davidtemkin suggested: we could launch `browser-laptop` faceless and do the install / upgrade / launching of the new app

[2018-10-16 17:39] bsclifton commented on #1536
Should we update the users to RELEASE channel (on `brave-core`)? or BETA? Would be good to respect their channel preference and keep them on BETA if possible

[2018-10-16 17:41] riastradh-brave commented on #1387
Correction: brave/brave-core#605 did not update the File menu on macOS.

[2018-10-16 17:41] bbondy commented on #810
yep!

[2018-10-16 17:41] #810 closed

[2018-10-16 17:44] bsclifton commented on #1545
@garrettr I know we've talked about it before: does import handle the referral promo? (importing the `downloadId`, etc)

[2018-10-16 17:49] riastradh-brave commented on #1607
@simonhong Can you elaborate on what is missing here and what work needs to be done to make it work?

[2018-10-16 17:50] rebron commented on #1408
Text for dialog box should read: "Brave hasn't reviewed this extension yet - it might be malicious. Add "[Extension Name]" anyway?"

[2018-10-16 17:51] srirambv opened #1623 "Ask Brave for suggestion needs to be removed"
## Test plan
See https://github.com/brave/brave-core/pull/682

## Description

Ask Brave for suggestion needs to be removed

## Steps to Reproduce

   1. Visit any site and right click on a text field
   2. Click on SpellCheck->Ask Brave for suggestion
   3. Modal comes up which should be blocked as no data is being sent to any Brave server
![image](https://user-images.githubusercontent.com/170100

[2018-10-16 17:52] srirambv commented on #212
Verification Passed on

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified no `Google signin ` on any settings page
* Verified all help links points to community.brave.com (later to be replaced with specific support links)
* Verified no `Chromium` icons shown anywhere

[2018-10-16 17:55] riastradh-brave commented on #1622
@cezaraugusto I'll try to take a look at this, but if you beat me to it, go for it!

[2018-10-16 18:04] bridiver opened #1624 "rewards ui has high free after use crash potential"
https://github.com/brave/brave-core/blob/master/browser/ui/webui/brave_rewards_ui.cc#L430
RewardsService always outlives rewards_ui so we should be using WeakPtr here. Also prefer BindOnce

[2018-10-16 18:05] jumde commented on #1546
Fixed with 0.55.14

[2018-10-16 18:05] #1546 closed

[2018-10-16 18:05] NejcZdovc opened #1625 "Missing ledger_state"
## Description

We need to handle case where ledger_state file is missing. We need to check this when we load settings page and if file is missing we need to display welcome screen and delete previous data in any other places (panel and rewards settings)

[2018-10-16 18:06] riastradh-brave commented on #446
Ctrl-Shift-P/Cmd-Shift-P is taken for printing.  We settled on Alt-Shift-N/Cmd-Opt-N for new private window with Tor for now in #1387.

[2018-10-16 18:06] #446 closed

[2018-10-16 18:18] simonhong commented on #1606
@kjozwiak Can you test whether `brave_installer.exe` works on x32?

[2018-10-16 18:25] JonnyRedHed opened #1626 "Malwarebytes 3 won't allow both Brave and Brave Dev exe's to be added - Just one"
Malwarebytes 3 (anti-exploit component) I trying to add both Brave stable and Brave dev exe's but Malwarebytes 3 (latest) will not allow both. When trying to add 2nd exe and 'OK' it says this app is already added.

Not sure if this is a Brave or Malwarebytes issue.  If confirmed, will they be notified.

Win7 x64

[2018-10-16 18:29] bbondy commented on #1387
@riastradh-brave could you leave this one closed and rename it and then post a new one with the remaining items? Typically if some part is fixed it's best to post a new issue for the remaining issues.

[2018-10-16 18:34] riastradh-brave opened #1627 "Menu fixes for private windows with Tor"
Unfinished business from https://github.com/brave/brave-browser/issues/1387:

- [x] Update the macOS `File` menu to include _New private window with Tor_ like the hamburger menu does.
- [x] Make the menu items match with or without Tor.  (In private windows with Tor, _New window_ and Ctrl-N should still open a new window in Tor; you can always get back to a non-private window, without Tor, in the

[2018-10-16 18:34] riastradh-brave commented on #1387
Superseded by https://github.com/brave/brave-browser/issues/1627.

[2018-10-16 18:34] #1387 closed

[2018-10-16 18:35] srirambv commented on #1626
Its a false positive from Malwarebytes.

[2018-10-16 18:38] riastradh-brave commented on #1627
File menu is implemented here: src/chrome/browser/ui/cocoa/main_menu_builder.mm

But not everything from the hamburger menu needs to be echoed there; see GetShortcutsNotPresentInMainMenu in src/chrome/browser/global_keyboard_shortcuts_mac.mm.

[2018-10-16 19:03] LaurenWags commented on #527
Using

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

This is what I see with LittleSnitch:
![screen shot 2018-10-16 at 3 00 44 pm](https://user-images.githubusercontent.com/28145373/47040622-aa55ae00-d154-11e8-8ec6-137249f1b199.png)

[2018-10-16 19:05] kjozwiak opened #1628 "brave attempting to download `crx` and crashes instead of installing extension"
## Description

@jonathansampson mentioned that a user under Win 7 is having issues installing extensions. Instead of installing the extension, brave attempts to download the `.crx` file:

https://twitter.com/LittleSweetie4/status/1051933408266465285

When this situation where brave attempts to download the `.crx` file occurs, it also crashes the browser:

* https://stats.brave.com/dashboard#crash

[2018-10-16 19:08] bbondy opened #1629 "Upgrade from Chromium 70.0.3538.54 to 70.0.3538.67"

[2018-10-16 19:35] rebron commented on #1318
@LaurenWags can you recheck if this is still an issue.

[2018-10-16 19:35] srirambv commented on #1145
Haven't seen any pre-roll ads on other site with embedded videos

[2018-10-16 19:35] JonnyRedHed commented on #1626
Not sure what you mean by false positive.  I tried to add both Brave and Brave Dev to the anti-exploit apps sections but it would only allow one to be added.

[2018-10-16 19:40] srirambv commented on #1626
Malwarebytes is falsely identifying Brave as a threat.

cc @Brave-Matt do you know any other reports of such issue for Malwarebytes

[2018-10-16 19:44] srirambv commented on #1627
hamburger menu shows `New Private window with Tor` on master (Windows)
![image](https://user-images.githubusercontent.com/17010094/47042880-4f26ba00-d15a-11e8-8416-c04b9b9c810b.png)

[2018-10-16 20:04] srirambv opened #1630 "Enable Crash reporting by default for Dev and Nightly"
Crash reporting should be enabled by default on Dev and Beta so that we can get reports on whats causing the crashes. This should also be informed to the user on the welcome page probably on the first page as a note or as an option at the end. Preferably on the first view of the welcome page as some users might just click skip welcome tour and might not see it if its at the end.

cc: @bbondy @rebr

[2018-10-16 20:08] enderger commented on #1555
Could be that a part of the data that is missing from running from pamac installation is missing in your doenload

[2018-10-16 20:11] diracdeltas commented on #527
@LaurenWags i think those are all for extension updates (PDFJS), not Gaia related.

cc @tomlowenthal

[2018-10-16 20:12] enderger commented on #1555
Can someone with a working copy of the latest beta shoot me a checksum, we could compare

[2018-10-16 20:13] enderger commented on #1555
To the checksum in the aur or one generated on download

Sha256 or another could be good

[2018-10-16 20:14] jumde opened #1631 "[Fingerprinting] Block getClientRects"
https://browserleaks.com/rects

Info: http://jcarlosnorte.com/security/2016/03/06/advanced-tor-browser-fingerprinting.html

[2018-10-16 20:37] LaurenWags commented on #972
Verified passed with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified with steps from test plan in https://github.com/brave/brave-core/pull/534
* Verified publishers.basicattentiontoken.org is called after Rewards is enabled:
![screen shot 2018-10-16 at 4 26 48 p

[2018-10-16 21:07] LaurenWags commented on #1397
@NejcZdovc in the absence of verbose mode, is it sufficient to launch Brave with clean profile, use Little Snitch to ensure publishers.basicattentiontoken.org is not called, and then enable Brave Rewards and see that publishers.basicattentiontoken.org is then called (similar to https://github.com/brave/brave-browser/issues/972#issuecomment-430391390)

[2018-10-16 21:08] LaurenWags commented on #1318
@rebron yes, still occurs for me with

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

[2018-10-16 21:11] LaurenWags commented on #1588
Reproduced on `macOS 10.12.6 x64` using

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

[2018-10-16 21:14] LaurenWags commented on #670
@petemill does this need to be tested with the command line parameters or can it be tested by switching between the themes in settings?

[2018-10-16 21:43] kjozwiak commented on #1588
Reproduced using `Win 10 x64` with the following build:

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows

[2018-10-16 21:46] kjozwiak commented on #1318
Still reproducible under `Win 10 x64` as using the following build:

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows

<img width="674" alt="screen shot 2018-10-16 at 5 44 58 pm" src="https://user-images.githubusercontent.com/2602313/47049456-5aceac80-d16b-11e8-99c7-77203ae9f

[2018-10-16 21:46] btlechowski commented on #1628
Reproduced on my physical machine with Win7 x64 using `Win 7 x64 STR`

Brave | 0.55.14 Chromium: 70.0.3538.54 (Official Build) beta(64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows 7

[2018-10-16 22:04] tomlowenthal commented on #1630
First run flow is a great place to put the notification. It could also go on the download page next to the download button.

[2018-10-16 22:08] tomlowenthal commented on #527
Per discussion in slack, we're planning to serve PDFJS from the go-updater server rather than letting the browser connect to Google.

[2018-10-16 23:31] bsclifton opened #1632 "Hide DDG option from Private/Tor new tab if default search is overridden"
## Test plan
1. Fresh install of Brave (ex: move your profile folder out of the way)
2. Set your region to France or Germany
3. Launch Brave
4. Verify your default search engine is set to Qwant
5. Open a new private window and verify DDG is not shown
6. Open a new Tor window and verify DDG is not shown
7. Repeat steps 2-6 for the other country

## Description
Related to https://github.com/brave/br

[2018-10-16 23:38] bsclifton commented on #1632
cc: @mkarolin who implemented the original logic for search engine defaults with https://github.com/brave/brave-core/pull/516

[2018-10-16 23:39] petemill commented on #1607
Issue to implement better detection for qwant cc @simonhong @bsclifton https://github.com/brave/brave-browser/issues/1632

[2018-10-16 23:57] petemill commented on #1408
I can take this one whilst we're only changing the title and not modifying the content yet (for 0.55). We should open another issue for a cleaner dialog which adds in the text we want to the content area @rebron

[2018-10-16 23:58] #1514 closed

[2018-10-17 00:11] #1607 closed

[2018-10-17 00:30] LaurenWags commented on #1271
Verified passed with

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

<img width="1189" alt="screen shot 2018-10-16 at 8 30 29 pm" src="https://user-images.githubusercontent.com/28145373/47054864-5a8ddb80-d182-11e8-844b-184006428050.png">

[2018-10-17 00:36] LaurenWags commented on #878
Verified passed with

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/639

[2018-10-17 00:46] JonnyRedHed commented on #1626
All good now.   Close this issue out if you like.

This screen grab below shows where I am in the malwarebytes anti-exploit settings.   I've added the path to 'Brave Dev' exe easy enough as you can see. (screen grab 1)

It now works,  I done a malwarebyttes update and rebooted, and was able to add both Brave Dev and stable Brave (Screen grab 2)

Screengrab1.
![malwarebytes3_anti-exploit_adding bra

[2018-10-17 00:57] LaurenWags opened #1633 "Notification button on Brave Rewards Panel says MISSING:OK"
## Description
Button on notification on Brave Rewards Panel says 'MISSING:OK'.

## Steps to Reproduce

   1. Enable Rewards on 0.55.16.
   2. Click on BAT logo.
   3. Notification is displayed.

## Actual result:
Button text:
<img width="401" alt="screen shot 2018-10-16 at 7 58 00 pm" src="https://user-images.githubusercontent.com/28145373/47055543-e35a4680-d185-11e8-8732-3bff5f0fb92c.png">

## E

[2018-10-17 01:11] kjozwiak opened #1634 "improving UX/UI for "Widevine is not installed" notification"
## Description

I've noticed that a few folks within Brave reported that Netflix wasn't working. After a quick discussion, it's usually due to not noticing the `Widevine` notification, hence not installing `Widevine` before logging into Netflix. If we're already experiencing some confusion, I'm 100% sure users will be running into the same issue once released to a wider user base.

Because Netflix

[2018-10-17 01:12] garrettr commented on #929
Could we hide the nonfunctional buttons in the meantime? I just encountered this and was briefly perplexed. Might frustrate/unnerve some end users.

Also, might consider adding some copy saying "you can select and copy the recovery key with the Cmd-C copy keyboard shortcut." I figured that out via trial and error but it's not exactly obvious.

[2018-10-17 01:14] bbondy commented on #1145
@Miyayes is this still an issue?

[2018-10-17 01:17] LaurenWags opened #1635 "first load of brave://rewards does not show panel text"
## Description
First load of brave://rewards (after enabling) should show descriptive text on Auto-Contribute and Tips panels. Reload of brave://rewards or visiting a site should then cause these panels to show details (table, etc). However, on first load using `0.55.16` details are being shown on first load instead of panel text.

## Steps to Reproduce

   1. Using fresh profile on `0.55.14`, ena

[2018-10-17 01:18] yrliou commented on #1399
I think it was an issue of Button component in brave-ui which was fixed by @petemill recently.
https://github.com/brave/brave-ui/issues/197
I just tried with 0.55.16 and cannot reproduce it, @LaurenWags also got the same result as me on 0.55.16.
Please give it a try again with 0.55.16, and feel free to reopen it if it is still an issue, thanks.

[2018-10-17 01:18] #1399 closed

[2018-10-17 01:18] srirambv commented on #1634
Instead of increasing the time the notification is shown we can probably implement the notification bubble that shows up under site info similar to the Geolocation or Autoplay that way users will get an immediate UI feedback to `Run and Install Widevine` when the site is loaded.

[2018-10-17 01:24] jasonrsadler opened #1636 "Fix check for passphrase to seed derivation in BatClient::continueRecover"
## Description
`written` needs to be dereferenced on https://github.com/brave-intl/bat-native-ledger/blob/f8bb01713bfb05b69aab1720f5cca460303343f3/src/bat_client.cc#L1002

Otherwise, the check is guaranteed to succeed and wallet recovery will continue regardless of whether the derivation of the wallet seed from the provided passphrase succeeded.

[2018-10-17 01:24] LaurenWags opened #1637 "BR Panel still shows notification for grant even after grant claimed"
## Description
If you claim a grant from brave://rewards page and then later click on the BAT logo, the Brave Rewards Panel still displays the notification that a grant is waiting for you.

## Steps to Reproduce

   1. Clean profile on 0.55.16.
   2. Enable Rewards.
   3. From brave://rewards claim a grant.
   4. Open a new tab.
   5. Click on the BAT logo.

## Actual result:
Brave Rewards Panel s

[2018-10-17 01:49] srirambv opened #1638 "Decrease height of download bar by showing source on hover"
## Description
Users are complaining about the download bar being too tall. Download may be integrated into sidebar in the future, but do a short term quick fix by only showing the source on hover.

Original description:

## Steps to Reproduce

   1. Install 0.55.14
   2. Download a file
   3. Regret downloading file which makes you look at that huge download bar

## Actual result:
While downloadi

[2018-10-17 02:05] LaurenWags opened #1639 "beachball during contribution process and becomes unusuable"
## Description
While browser was going thru contribution process Brave beachballed and was unusable for a few minutes.

## Steps to Reproduce

enable rewards
add site
claim grant
close browser
modify go to your profile (Default/ledger_state) and modify reconcileStamp to now+5min)
start browser
visit a site (you could encounter https://github.com/brave/brave-browser/issues/1640)
wait for contributi

[2018-10-17 02:09] LaurenWags opened #1640 "auto contribute table is wiped out after adjusting reconcile stamp and visiting a site"
## Description
If you visit a site after manually adjusting reconcile stamp, your auto-contribute table gets wiped out

## Steps to Reproduce

enable rewards
add sites
claim grant
close browser
modify go to your profile (Default/ledger_state) and modify reconcileStamp to now+5min)
start browser
visit a site --> previous sites are wiped out, only the site you just visited is in the table

## Actual

[2018-10-17 02:11] srirambv commented on #1603
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified `address bar` link under Setting->Search pointed to the correct support link
* Verified `Learn more` for WebRTC pointed to the correct GitHub page link

[2018-10-17 02:13] srirambv commented on #1595
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47057905-b9f2e800-d190-11e8-90fa-f282c30c7280.png)

[2018-10-17 02:18] srirambv commented on #1524
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified changing Fingerprint settings globally is retained at startup

[2018-10-17 02:24] #1636 closed, assigned to jasonrsadler

[2018-10-17 02:32] bbondy commented on #1638
note that this was a blocker from security to have this information, so we don't want to remove it with a new design. cc @diracdeltas

[2018-10-17 02:33] srirambv commented on #1507
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* All support links to correct article on KB
* Tor window `More info` is missing which is mentioned in the document but not implemented. cc: @tomlowenthal to confirm if this needs to be tracked in a new issue?

[2018-10-17 02:45] srirambv opened #1641 "Fingerprint global settings are overwritten when a new Tor Window is launched"
## Description

Fingerprint global settings are overwritten when a new Tor Window is launched

## Steps to Reproduce

   1. Open Tor Window
   2. Go to settings, Change Fingerprint setting from default value and close Tor Windows
   3. Open a new Tor window and check settings, Fingerprint setting is changed to default value

## Actual result:

Fingerprint global settings are overwritten when a new

[2018-10-17 02:45] srirambv commented on #1592
@pilgrim-brave @bbondy Cookies and Fingerprint settings are not retained on startup for Tor windows. Any change only persists for that particular session. Closing and relaunching it will reset it back to default values.  Logged  #1641 for Fingerprint settings on Tor windows

[2018-10-17 02:47] simonhong opened #1642 "Enable TorSearchEngineProviderControllerTest.DISABLED_CheckTorProfileSearchProviderTest"
When I implement `TorSearchEngineProviderController`, I wanted to add test case for this class whether appropriate default search engine is set.
To do this, stub test `CheckTorProfileSearchProviderTest` is added but crashed at initialization phase.
So, I did manually test this class and left as disabled state.
Later, anthony mentioned that `TorUnittestProfileManager` should be used.

https://githu

[2018-10-17 02:47] srirambv commented on #1513
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified search engine list is shown in Tor windows under settings
* Verified changing search engine sets the new search engine as default search engine
* Verified the change is retained across new Tor windo

[2018-10-17 02:52] srirambv commented on #1197
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified no cookie icon is shown in URL bar when Shields settings is different from global settings
* Verified blocking all cookies globally and then visiting a site doesn't show the cookie icon in URL bar

[2018-10-17 03:01] srirambv commented on #1527
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified Cloud print message is not shown when user is not signed into any Google service in a tab
![image](https://user-images.githubusercontent.com/17010094/47059434-5a4c0b00-d197-11e8-9e9d-b072c7110f6b.pn

[2018-10-17 03:03] srirambv commented on #1402
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified signed-in google accounts isn't listed
* Verified connected cloud printers isn't listed
* Verified "Save to Google Drive" printer isn't listed
* Verified "Save to PDF" is listed

![image](https://us

[2018-10-17 03:10] srirambv commented on #1381
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

[2018-10-17 03:21] srirambv opened #1643 "Guest/Tor window cannot be closed via browser action button"
## Description

Guest/Tor window cannot be closed via browser action button

## Steps to Reproduce

   1. Install 0.55.16
   2. Open a Guest/Tor window
   3. Try to close via browser action button, doesn't close. Have to close tabs to close the window

## Actual result:

https://youtu.be/Gyz9Sp7H5Xo

## Expected result:
Should be able to close the browser via browser action button

## Reproduces h

[2018-10-17 03:34] kjozwiak commented on #1643
Checked the following platforms:

* macOS 10.13.6 x64 - **Couldn't reproduce**
* Ubuntu 18.04 x64 VM - **Reproduced**
* Mint 18.3 x64 - **Reproduced**

Used the following build:

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}

[2018-10-17 03:50] #1628 closed

[2018-10-17 03:56] bbondy commented on #1643
I couldn't reproduce from a local build on Mint, seems to be CI builds only for some strange reason.

[2018-10-17 04:10] kjozwiak opened #1645 "opening Incognito, Tor and Guest windows for the first time appears janky when loading "brave://newtab""
## Description

After implementing the new `brave://newtab` pages, opening `Incognito`, `Tor` or `Guest` windows for the first time will appear white for a few seconds before loading `brave://newtab`. Sometimes this makes the window appear as it's "flashing". Sometimes it loads pretty quickly and sometimes there's a delay which makes it look like brave is janky/having issues loading the window.

W

[2018-10-17 04:13] Liunkae opened #1646 "New tab page Thumbnail Removed popup persists even after Brave is restarted"
## Description
If a top site thumbnail on the new tab page is deleted, the popup that says "Thumb Removed." is shown, as expected. However, if Brave is quit and restarted, the popup still shows. This is confusing because the thumbnail was not removed during the current browsing session.

## Steps to Reproduce
   1. Make sure there is at least one top site thumbnail on the new tab page. If not, bro

[2018-10-17 05:06] kjozwiak opened #1647 "move private window with Tor new tab page support links inline to avoid CAPTCHAs"
## Description

Support links within the `Tor` window are being opened in new tabs and not inline as per https://github.com/brave/brave-browser/issues/1507. Because they're being opened in new tabs, you'll run into a lot of CAPTCHA checks. I've personally one through at least 20 CAPTCHA checks and haven't passed once. Every time I get the ✅, another CAPTCHA is loaded after the page is refreshed.

[2018-10-17 05:09] #1629 closed

[2018-10-17 05:34] leshik opened #1648 "Browser crashes frequently on macOS"
## Description
After the last update from dev channel, my browser crashes much more frequently than before.

## Steps to Reproduce
Not sure, it crashes on random pages, and doesn't after reopening. How can I help to troubleshoot the issue?

## Brave version (brave://version info)
Brave: 0.56.4 Chromium: 70.0.3538.54 (Official Build) dev (64-bit)
Revision: 4f8e578b6680574714e9ed3bb9f02922b4dde40d-r

[2018-10-17 05:35] GeetaSarvadnya commented on #1647
Issue is reproducible on Windows.

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows

[2018-10-17 05:42] bradleyrichter commented on #1638
needs a UX review to see if there is a solution that makes everyone happy.

[2018-10-17 05:52] kjozwiak commented on #1507
@tomlowenthal as @srirambv mentioned above, the mockup from https://github.com/brave/brave-browser/issues/1507#issuecomment-429212976 doesn't display the `Learn more` under the `THIS IS A Private Window with Tor` section but the https://docs.google.com/document/d/1-LvUwonWwXiFJvw1MjLt9fsCWktEiKiEM7cZ-UN6uPQ document mentions that there should be a `[Learn more]` underneath. Let us know which one i

[2018-10-17 06:02] NejcZdovc commented on #1639
closing as dupe https://github.com/brave/brave-browser/issues/1614

[2018-10-17 06:02] #1639 closed

[2018-10-17 06:02] NejcZdovc commented on #1640
this is not a bug. Table is connected to reconcile stamp

[2018-10-17 06:02] #1640 closed

[2018-10-17 06:05] NejcZdovc commented on #1637
closing as dupe of https://github.com/brave/brave-browser/issues/1615

[2018-10-17 06:05] #1637 closed

[2018-10-17 06:09] rebron commented on #1647
Didn't die via captcha, was able to get through on first pass, not a great experience for a learn more link. Got a separate issue where article page isn't styled. Probably a good idea to keep content inline for now.
<img width="1393" alt="screen shot 2018-10-16 at 11 04 32 pm" src="https://user-images.githubusercontent.com/5951041/47065601-6c7a7900-d198-11e8-944e-3b175c82a6af.png">

[2018-10-17 06:28] iSOcH commented on #1648
Also happens for me on windows. I did not use/update brave last week, got an update this week and have the same problem.

A site that triggers the crash quite reliably for me is https://pro.coinbase.com

[2018-10-17 06:34] kjozwiak opened #1649 "removing comma from "anonymous online, though." under Private Window"
## Description

Remove the comma from `Private Windows don’t make you completely anonymous online, though.`.

## Steps to Reproduce

   1. open `0.55.16 Chromium: 70.0.3538.54`
   2. open a `Private Window`
   3. notice the `,` after `online` and before `though`

## Actual result:

<img width="626" alt="screen shot 2018-10-17 at 2 27 26 am" src="https://user-images.githubusercontent.com/2602313/47

[2018-10-17 06:38] rebron commented on #1649
Also need a comma after history.
current: "Sites you visit won't show up in your history and cookies vanish when you’re done."
should be:  "Sites you visit won't show up in your history, and cookies vanish when you’re done."

[2018-10-17 06:41] michalgcc commented on #1648
Please wait for next dev release or use beta v0.55.14

[2018-10-17 06:45] diracdeltas commented on #1638
maybe show the origin and/or the progress text on hover instead of in the area?

[2018-10-17 09:36] NejcZdovc commented on #1161
for now I will add two flags

- rewards_env : used to change staging and production server
- rewards_reconcile_delay : used to define amount of time that we should wait for contribution (defined in minutes)

[2018-10-17 11:40] #1161 closed

[2018-10-17 11:43] AtjonTV commented on #1555
This is the sha256 hash of a freshly downloaded copy:

`e4955451a11aa1c9bd58457bf0926e7a39c184ced017049024bb135e369cd0cd`

This is the file i downloaded: [brave-v0.55.14-linux-x64.zip](https://github.com/brave/brave-browser/releases/download/v0.55.14/brave-v0.55.14-linux-x64.zip)

That version also has the same issues.

[2018-10-17 11:56] NejcZdovc opened #1652 "Auto contribute table not refreshing"
## Description

Auto contribute table is not refresh if you browse sites and you don't have rewards settings opened.

## Steps to Reproduce

   1. enable rewards
   2. close rewards settings page
   3. visits some sites
   4. open rewards settings page

## Actual result:

Table is empty. You need to visit new site for previous pages to appear.

## Expected result:
Table should be up to date

## Re

[2018-10-17 12:05] #1633 closed

[2018-10-17 12:54] mbacchi opened #1653 "Add Linux release channel install instructions to ReadTheDocs"
Add the release channel to the dev/beta instructions here:

https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux

[2018-10-17 12:55] srirambv opened #1654 "CAPTCHA target appears on top quite often"
## Description

CAPTCHA target appears on top very often

## Steps to Reproduce

   1. Clean profile (any branch)
   2. Enable rewards
   3. Claim grant, CAPTCHA opens up and more often than not the target triangle is at the top

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/47087404-e8e97800-d1e9-11e8-9ddb-a45b25acfc34.png)

## Expected result:
Target should be mo

[2018-10-17 13:17] kjozwiak commented on #1350
Using Win 10 x64 on a VM that's high DPI, I couldn't claim a grant after trying at least 30 different times. I thin we're going to have issues once more with users with high DPI setups.

![captcha](https://user-images.githubusercontent.com/2602313/47088818-5945c880-d1ed-11e8-9ab7-4ab4c99c9709.gif)

@davidtemkin mind giving a try and seeing if you can reproduce on your end? I remember you setup a W

[2018-10-17 13:19] NejcZdovc commented on #1350
@kjozwiak I can reproduce this one on my VM as well

[2018-10-17 13:32] srirambv commented on #791
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified with both extensions and no extensions

[2018-10-17 13:43] #1624 closed

[2018-10-17 13:57] kjozwiak commented on #1350
Thanks for double checking @NejcZdovc! Should we take a look at this and see if we need to block? I know that when we first released CAPCHA, we had the same issue with VM's which lead to a lot of user complaints that it didn't work on various high DPI monitors.

Potentially a blocker or at least a candidate for a hotfix right after the release. @NejcZdovc @davidtemkin thoughts?

BTW, it worked on

[2018-10-17 14:41] bbondy commented on #1606
Moving it out of the release since @kjozwiak and @srirambv found that it's working for Release channel but not for Beta and Dev. They will retest on next Beta and Dev in case it was just something wrong in the process to upload the last one.

[2018-10-17 14:42] LaurenWags opened #1656 "attention % values for sites visited after contribution are incorrect"
## Description
After a contribution occurs, the Auto-Contribute table is cleared as expected. However, when you visit sites and they are added back to the table, the % values aren't adding up to 100.
Found while testing https://github.com/brave/brave-browser/issues/1501

## Steps to Reproduce

   1. clean profile
   2. enable rewards
   3. claim grant
   4. Close Brave. Update reconcile stamp in l

[2018-10-17 14:43] LaurenWags commented on #1501
Verified passed with

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

* Verified steps from test plan in https://github.com/brave/brave-core/pull/612 (manually reset reconcile stamp in ledger_state file)
* encountered https://github.com/brave/brave-browser/issues/1656 while tes

[2018-10-17 14:48] bbondy commented on #1102
btw noticed a few issues closed with milestone set to 1.x, pls update to 0.55.x if it will be included in that build. Thanks!

[2018-10-17 14:49] bbondy commented on #532
Btw pls reset milestone to the Dupe / Invalid / Not actionable one when closing without a code change. Thanks!  (I did the ones up until now)

[2018-10-17 14:52] LaurenWags commented on #1614
During Auto-Contribute I got the beachball for about 2 minutes using

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

[2018-10-17 15:02] srirambv commented on #1198
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified steps from https://github.com/brave/brave-extension/pull/68

[2018-10-17 15:12] srirambv commented on #1614
@LaurenWags this specific to mac correct?

[2018-10-17 15:13] LaurenWags commented on #1614
@srirambv beachball is specific to mac - but I'm not sure if you'll see Brave frozen, or some other ill side effect on Win or Linux during this time.

[2018-10-17 15:20] srirambv commented on #1614
I didn't see Brave freeze on Windows/Linux. Added macOS label

[2018-10-17 15:44] Mephiztopheles commented on #1064
Hey there,
any news to this?

[2018-10-17 15:57] jonathansampson opened #1657 "Malformed Contribution Dates"
## Description
Some users have seen malformed _Contribution Dates_.

## Steps to Reproduce
TBD

## Actual result:
Dates are not valid.

## Expected result:
Dates are valid.

## Reproduces how often:
TBD.

## Brave version (brave://version info)
0.55.14

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds? Yes.
- Does it reproduce on browser-laptop? No.

### Ad

[2018-10-17 16:02] srirambv commented on #1657
@jonathansampson  was the upgrade done by skipping a version? We saw this happen on upgrading from `0.5512 -> 0.55.14`

detailed discussion https://bravesoftware.slack.com/archives/C7VLGSR55/p1539707217000100

[2018-10-17 16:05] bsclifton commented on #1607
Marking as `QA/No` in favor of testing https://github.com/brave/brave-browser/issues/1632 instead

[2018-10-17 16:08] srirambv commented on #1615
Shows even after the grant is claimed
![image](https://user-images.githubusercontent.com/17010094/47100377-535be180-d205-11e8-9640-a40005e6ef21.png)

[2018-10-17 16:15] btlechowski commented on #1614
Brave froze for me on Windows 7 for around 10 seconds when auto-contributing 5 sites.
It also freezes for couple of seconds after tipping.

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows 7 x64

[2018-10-17 16:15] kjozwiak commented on #1614
Asked @LaurenWags to move this into this milestone as this needs a decision from @davidtemkin and others. QA noticed that when a contribution or tipping occurs, the browser tends to become unstable for a few seconds. This might get a LOT worse if someone has a huge list under auto-contribute.

Only reason we might move this out is we might have some time before people start contributing to get a h

[2018-10-17 16:20] NejcZdovc commented on #1615
@srirambv this is a problem, so that grant is not cleared after claim

[2018-10-17 16:35] srirambv opened #1658 "Site banner doesn't auto resize based on browser size"
## Description

Site banner doesn't auto resize based on browser size

## Steps to Reproduce

   1. Install 0.55.16
   2. Enable rewards and add funds
   3. Visit a site and click on BR button-> Send Tip
   4. Shows banner page, resize browser window, banner doesn't resize and remains in its original size

## Actual result:

![tip](https://user-images.githubusercontent.com/17010094/47101689-cb77d6

[2018-10-17 16:36] srirambv commented on #924
Verification Passed on

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Linux

* Verified steps from issue
* Logged #1658 for visual bug

[2018-10-17 16:39] srirambv commented on #1502
Reproduced on Linux as well

[2018-10-17 16:52] srirambv opened #1659 "Tip 1BAT doesn't get listed"
## Description

Tip 1BAT doesn't get listed

## Steps to Reproduce

   1. Enable rewards and add funds
   2. Visit a site, click BR panel and send tip
   3. Select 1BAT and send tip, shows thanks for tipping but doesn't list it in brave://rewards
   4. Tip with a higher value first 5/10 BAT and then 1BAT gets listed

## Actual result:

Tip 1BAT doesn't get listed

## Expected result:
Should list e

[2018-10-17 16:58] bsclifton commented on #1538
This is definitely possible. We'll need to change the code creating the Omaha stub installer to allow `needsadmin=False`. I'm working through that (and automating some of the process) with https://github.com/brave/devops/pull/335

Once a binary is available, it would be installable like so:
`BraveBrowserSetupSilent.exe /silent /install`

[2018-10-17 16:58] #1538 closed

[2018-10-17 17:42] btlechowski opened #1660 "Wrong page is shown in rewards panel when on YT"
## Description

## Steps to Reproduce

1. Clean profile
2. Enable rewards and claim grant
3. Open google.com in new tab and wait till `Send a tip` is shown in rewards panel (reload if needed)
4. Open youtube.com in another tab and wait till `Send a tip` is shown in rewards panel
5. Switch to google.com tab and show rewards panel
6. Switch to youtube.com tab and open a video
7. Quickly switch back

[2018-10-17 17:48] bradleyrichter opened #1661 "Remove extra subtitle in tipping banner text area"
The tipping banner text shows Welcome! and Hello! due to an editing mistake.

This PR fixes the issue: https://github.com/brave/brave-core/pull/665

[2018-10-17 17:49] srirambv opened #1662 "Page doesn't reload if BR panel or site banner is open"
## Description

Page doesn't reload if BR panel or site banner is open

## Steps to Reproduce

   1. Enable rewards and add funds
   2. Visit a site and open BR panel/send tip site banner
   3. Try reloading using keyboard shortcut (Ctrl+R), page doesn't reload until site banner/BR panel is closed

## Actual result:

Page doesn't reload if BR panel or site banner is open

## Expected result:
Panel

[2018-10-17 17:50] LaurenWags commented on #1660
Reproduced on macOS

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Mac OS X

![screen shot 2018-10-17 at 1 49 49 pm](https://user-images.githubusercontent.com/28145373/47106037-93c25c00-d213-11e8-8956-876a9ea2e9d4.png)

[2018-10-17 17:51] NejcZdovc commented on #1660
@LaurenWags @btlechowski this will be fixed with this one https://github.com/brave/brave-browser/issues/1517

[2018-10-17 18:26] GeetaSarvadnya opened #1663 "Tip options in BR panel shows up only after page is reloaded second time"
## Description
After page load, even if you wait for  8 sec/ 10 sec/ 30 sec/50 sec/1 min, click on BAT icon will not display tip popup completely. Page refresh is required to see the popup completely.

## Steps to Reproduce

   1.  Launch brave with clean profile
   2.  Enable Rewards
   3.  Accept the grants
   4. Open any website, wait until page loads successfully. ( Wait for 8 secs)
   5. Clic

[2018-10-17 18:35] kjozwiak opened #1664 "Crash in canceled requests with GURL access"
## Description

When I woke up this morning and woke my MBP, quitting brave produced an instant crash.

## Steps to Reproduce

   1. install & launch `0.55.16 Chromium: 70.0.3538.54 (release)`
   2. once installed, open a few tabs, windows etc..
   3. hibernate the machine (in my case, I closed the MBP lid and went to sleep)
   4. wake the machine, and attempt quitting Brave

Note: I'm not 100% su

[2018-10-17 18:49] rossmoody commented on #1507
Yeah that was an intentional omission I made on the fly cause the screens were needed so quickly. Too many big learn more buttons all over the page and in Windows with Tor it would have made it two big purple buttons going to the same article.. The Private Window learn more button was adjusted to a link inline with the copy as well instead of a big button (we could probably follow suit in Tor wind

[2018-10-17 18:51] bbondy opened #1665 "Refactor: Network delegate helpers shouldn't need to have new_url at all"
We can instead store the original_request_url and compare to that, and then it will make each network delegate helper logic easier.

[2018-10-17 18:53] #1664 closed

[2018-10-17 18:57] rossmoody commented on #532
@bbondy Got it. Thank you for fixing for me.

[2018-10-17 18:59] #1652 closed

[2018-10-17 19:03] bsclifton opened #1666 "Properly handle Qwant in private windows + tor windows"
## Test plan
1. Fresh install of Brave (new profile directory, etc)
2. Set region as `France`
3. Launch Brave- verify Qwant is default for:
    - regular tabs
    - private window tabs
    - private window tabs with Tor
4. Change default search engine to Bing
5. Verify Bing is used in:
    - regular tabs
    - private window tabs
6. Verify Qwant is used for private tabs
7. Verify that DDG logo/wor

[2018-10-17 19:06] bbondy commented on #1661
@bradleyrichter pls use syntax:

Fix https://github.com/brave/brave-core/pull/665

in the PR description so when things are landed it will auto close the associated issue.

Thanks!

[2018-10-17 19:06] #1661 closed

[2018-10-17 19:06] #1632 closed

[2018-10-17 19:25] srirambv opened #1667 "Learn more missing in Tor window description"
## Description

Found while going through https://github.com/brave/brave-browser/issues/1507

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/47111143-b8710080-d220-11e8-807c-3916668daeb5.png)

## Expected result:
Should have learn more pointing to support link as per spec

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 0.55.16 Chrom

[2018-10-17 19:32] jonathansampson commented on #1657
@srirambv Unfortunately I am unable to provide an answer for that question.

[2018-10-17 19:39] tomlowenthal commented on #1647
CAPTCHAs are a bad look. Since we know that the links on the Tor new tab page are going to be opened in Tor, let's move them back to an inline overlay (no network) while we work to make sure the knowledge-base is accessible over Tor without any additional work needed from the user.

[2018-10-17 19:49] mihaiplesa opened #1668 "Mac .pkg file doesn't get uploaded to GitHub releases"
## Description

We'd like to allow our users to download Mac .pkg files for our Release builds.

## Steps to Reproduce

   1. Go to any GitHub release of brave-browser
   2. no .pkg file available to download

## Actual result:

## Expected result:
.pkg file should be available for download

[2018-10-17 19:51] tomlowenthal opened #1669 "Serve PDFJS from go-updater rather then CWS"
As [noted](https://github.com/brave/brave-browser/issues/527#issuecomment-430359190) by Lauren in #527, Brave currently connects to the Chrome Web Store on startup to get PDFJS and then subsequently for updates. Instead, we'll serve PDFJS from the go-updater server, which means no connection to Google for this.

[2018-10-17 19:52] tomlowenthal commented on #527
Moved this PDFJS sitch to its own issue: #1669 (nice).

[2018-10-17 20:06] bradleyrichter opened #1670 "fix missing A in BR panel grant notification text"
fix https://github.com/brave/brave-core/pull/669

[2018-10-17 20:12] btlechowski commented on #1662
Reproduced on Windows 7 x64

Brave | 0.55.16 Chromium: 70.0.3538.54 (Official Build) (64-bit)
-- | --
Revision | 4f8e578b6680574714e9ed3bb9f02922b4dde40d-refs/branch-heads/3538@{#937}
OS | Windows 7 x64

[2018-10-17 20:12] #1668 closed

[2018-10-17 20:13] diracdeltas commented on #1669
this is fixed by @emerick

[2018-10-17 20:13] #1669 closed

[2018-10-17 20:15] tomlowenthal commented on #1669
Test plan:
- Use a tool like Little Snitch to show what servers Brave is connecting to.
- Get rid of your Brave profile.
- Open the Brave build you're testing.
- Your network monitor doesn't show any connections to Google.

[2018-10-17 20:20] kjozwiak commented on #1660
As per @NejcZdovc, this will be fixed by #1517 which is inside the `1.x Backlog`. Moved this issue into the same milestone.

[2018-10-17 20:21] srirambv commented on #1669
@tomlowenthal should we block connection to CWS on a clean profile? It makes sense to connect if a user has installed an extension on the profile, to check for update. There is still connection to clients2.google.com (CWS) at start up. I assume this is because we still have webstore shortcut on `brave://apps`

[2018-10-17 20:23] davidtemkin opened #1671 "Tracking: Private windows & Tor windows - text, menu, and keyboard shortcut issues"
- [x] https://github.com/brave/brave-browser/issues/1627 macOS Menu Bar: Tor items missing, 'New Window' has inconsistent behavior when Tor window is active.

- [x] macOS "New private window with Tor" and similar Tor messages should be appropriately title-cased. Fixed with https://github.com/brave/brave-core/pull/683

- [x] https://github.com/brave/brave-browser/issues/1688 New Tab Page: Explanato

[2018-10-17 20:27] tomlowenthal commented on #1669
There should be no connections to any Google domains on first run (i.e: startup with a clean profile). Update checks for extensions should only happen when a user has installed extensions and seen the note that they'll get updates from the CWS.

If we're getting first-run CWS connections from the shortcut in apps, that's a separate issue which needs to be solved.

[2018-10-17 20:30] diracdeltas commented on #1669
@tomlowenthal that test plan doesn't actually work because of the google connections which still remain (mentioned in slack)

[2018-10-17 20:34] tomlowenthal opened #1672 "Don't connect to www.googleapis.com/chromewebstore/v1.1/items/verify"
On startup, we seem to make connections to `https://www.googleapis.com/chromewebstore/v1.1/items/verify`. We shouldn't.

Related to #633.

[2018-10-17 20:34] tomlowenthal opened #1673 "Don't connect to Google for Safe Browsing"
On startup, we seem to make connections to `https://ssl.gstatic.com/safebrowsing/csd/client_model_v5_variation_0.pb`. We shouldn't.

Related to #633.

[2018-10-17 20:34] tomlowenthal opened #1674 "Don't connect to Google for translations"
On startup, we seem to make connections to `https://www.gstatic.com/chrome/intelligence/assist/ranker/models/translate/translate_ranker_20180123.model`. We shouldn't.

Related to #633.

[2018-10-17 20:34] tomlowenthal commented on #1669
Understood. Sounds like we need to fix those other things too.

[2018-10-17 20:55] bradleyrichter opened #1675 "fix additional instance of Brave Payments, change 2 instances of "creators" to "content creators""
https://github.com/brave/brave-core/pull/672

[2018-10-17 21:04] diracdeltas commented on #663
I verified this using net-internals on 0.55.16 and found some residual google connections on startup, so am reopening:

`https://www.gstatic.com/chrome/intelligence/assist/ranker/models/translate/translate_ranker_20180123.model`, `https://clients1.google.com/tbproxy/af/query?`, `https://ssl.gstatic.com/safebrowsing/csd/client_model_v5_variation_0.pb`, and `https://www.googleapis.com/chromewebstore

[2018-10-17 21:14] diracdeltas commented on #663
So re-reading the history of this issue, I think what happened was PJ did verify there were still google domains unblocked (https://github.com/brave/brave-browser/issues/663#issuecomment-425532033), it was decided to address those in a follow-up issue using a proxy server (https://github.com/brave/devops/issues/320), but the proxy issue wasn't marked as release/blocking for 0.55 so it didn't get s

[2018-10-17 21:20] sidroast commented on #1648
This happens for me with  0.56.4 as well on the same platforms:

- widows 10
- debian sid
- windows 2016 server

[2018-10-17 21:37] jumde opened #1676 "Disable connections to - https://clients1.google.com/tbproxy/af/query"
This is required for autofill-download - looks like this can be disabled by disabling `kAutoFillServerCommunication`

https://cs.chromium.org/chromium/src/components/autofill/core/browser/autofill_download_manager.cc?type=cs&g=0&l=104

[2018-10-17 22:08] diracdeltas commented on #663
for future reference, chrome://net-internals is more useful than little snitch because it shows the request path and response code and works cross-platform

1. download brave
2. open it with these command line flags `--log-net-log=/path/to/somefile.json --net-log-capture-mode=IncludeSocketBytes`. for instance on my mac it's `open /Applications/Brave\ Browser.app --args --log-net-log=/Users/yan/chr

[2018-10-17 22:09] bsclifton commented on #1539
Confirmed you need admin to run `installer`:
[code]

So trying another route:
[code]

This approach worked great 😄

[2018-10-17 22:13] riastradh-brave opened #1677 "Implement PrivacyPass"
https://github.com/privacypass/challenge-bypass-extension

One of several avenues to pursue to reduce captcha fatigue on users, particularly Tor users.

Old issue: https://github.com/brave/browser-laptop/issues/13395

[2018-10-17 22:18] #1539 closed

[2018-10-17 22:20] bsclifton opened #1678 "Automate the install of brave-core (macOS)"
~Blocked on https://github.com/brave/brave-browser/issues/1539~

The goal for this task is to write the code needed to execute the install of `brave-core` from within `browser-laptop`. This would likely be a JavaScript file that we package with the build which could make the shell execute calls needed to perform the install via node.js

## Requirements
- [ ] Installer should be packaged into the `

[2018-10-17 22:21] riastradh-brave commented on #1677
Cloudflare confirms this is on their roadmap to continue supporting, so this should continue to help with the Cloudflare captcha.

[2018-10-17 22:28] LaurenWags commented on #1633
Verified passed with

Brave | 0.57.1 Chromium: 70.0.3538.67 (Official Build) dev (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

![screen shot 2018-10-17 at 6 28 12 pm](https://user-images.githubusercontent.com/28145373/47119842-810f4d80-d23a-11e8-85e3-af3ab6d6a0d3.png)

[2018-10-17 22:29] LaurenWags commented on #1629
Verified passed with

Brave | 0.57.1 Chromium: 70.0.3538.67 (Official Build) dev (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

[2018-10-17 22:38] emerick opened #1679 "Refactor: Make rewards notification service an observer"
@bridiver mentioned the following in regards to the `RewardsNotificationsService`:

Sounds like a good plan and shouldn't be too hard to implement.

[2018-10-17 22:48] LaurenWags commented on #1658
Reproduced on macOS

Brave | 0.57.1 Chromium: 70.0.3538.67 (Official Build) dev (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

[2018-10-17 23:35] bsclifton commented on #1540
Started work in https://github.com/brave/browser-laptop/tree/muon-upgrade-windows

[2018-10-17 23:45] garrettr commented on #1558
This issue is fixed in the latest builds, probably thanks to brave/brave-browser#1644.

[2018-10-17 23:49] mil1i commented on #955
I would love to see the Appearance section have an option (and obviously the ability to) make the Open Tabs, Address Bar + Buttons and Bookmarks Bar different sizes. Preferably Compact.

As can be seen in the photo below, firefox I can have all 3 enabled and it cuts off where the Booksmarks Bar begins in Brave/Chrome.

![browser-bar](https://user-images.githubusercontent.com/8459426/47122656-ef511

[2018-10-17 23:55] tildelowengrimm opened #1680 "Allow individual toggling of cookies and device recognition attempts in Shields"
Currently, Shields let you individually decide which scripts to block, but you only have much coarser options for cookies and device recognition attempts. Shields should let you configure both of these things individually, so that the UX matches the granular control you have over scripts.

[2018-10-18 00:00] petemill commented on #1658
I knew about this and we took the decision to not have it resize, because in order to get it auto-sizing height according to the content given an initial fixed width of the tab width we lose the ability to change the size. And even when I forced the size change, there were rendering issues. There are ways we could spend some time resolving the issue, but I didn't make the issue to follow-up, so th

[2018-10-18 00:28] bradleyrichter opened #1681 "Change Monthly budget to Monthly Payment"
PR: https://github.com/brave/brave-browser/issues/1670

problem:

![image](https://user-images.githubusercontent.com/13509546/47124273-f296ce00-d231-11e8-941e-1a2dd8e64aac.png)

[2018-10-18 00:39] simonhong commented on #1606
Install testing with 32bit installer on x64(Win10) didn't fail at all.
I assume that this issue is x86 OS related.

[2018-10-18 01:00] petemill commented on #1671
I'll take some of these items as doesn't look like there's an open PR for any

[2018-10-18 01:05] #1670 closed

[2018-10-18 01:16] #1681 closed

[2018-10-18 01:32] petemill commented on #962
Test plan added

[2018-10-18 01:33] petemill commented on #961
Test plan added

[2018-10-18 01:33] kjozwiak commented on #1614
Still an issue with the following build (RC2):

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}

[2018-10-18 01:34] #1674 closed

[2018-10-18 01:35] srirambv commented on #962
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47126027-8bd6dc00-d254-11e8-9661-cf851c83380c.png)

[2018-10-18 01:36] srirambv commented on #961
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47126045-a7da7d80-d254-11e8-8e26-7b68253dbac2.png)

[2018-10-18 01:37] kjozwiak commented on #1614
@NejcZdovc mentioned that we'll try landing this tomorrow. Going to move it back into `0.55.x`. I think we really need to fix this. Anytime anyone sends a tip or an auto-contribution is triggered, the entire browser becomes unresponsive. I've seen b-c become unresponsive for at least 8-10 seconds at times.

[2018-10-18 01:38] bbondy commented on #1613
linked issue says: "I don't have any blockers right now.", so closing this.

[2018-10-18 01:38] #1613 closed

[2018-10-18 01:40] srirambv commented on #1364
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified Fingerprint settings are retained on each startup

[2018-10-18 01:43] kjozwiak commented on #1161
@NejcZdovc as per our earlier conversations in Slack, it seems like both `rewards_env` and `rewards_reconcile_interval` flags aren't working. Attempted the following a few times:

Using https://github.com/brave/brave-browser/releases/tag/v0.55.17, tried the following:

Attempt 1: **FAILED**

• launched using `/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --rewards_env=stag`
• enab

[2018-10-18 01:45] srirambv commented on #1576
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified general use of browser doesn't cause any crash

[2018-10-18 01:47] #1675 closed

[2018-10-18 01:53] srirambv commented on #670
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified launching browser with `npm run start -- --ui_mode=light` had omnibar and dropdown in light
* Verified launching browser with `npm run start -- --ui_mode=dark` had omnibar and dropdown in dark

[2018-10-18 01:53] kjozwiak commented on #1658
Reproduced on `Win 10 x64` using the following build:

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows

[2018-10-18 01:54] srirambv commented on #446
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified `Ctrl+Shift+N` opens a new private window
* Verified `Alt+Shift+N` opens a new Tor window (based on #1387 )

[2018-10-18 01:57] LaurenWags commented on #1592
Reproduced with

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

[2018-10-18 01:57] #1676 closed

[2018-10-18 01:58] simonhong commented on #1609
@riastradh-brave I think this issue can be closed?

[2018-10-18 02:17] simonhong commented on #1666
Hmm, I'm a little bit confusing with newtab UX in private(with or w/o tor).
I found that there are two kinds of ddg version new tab - with or w/o ddg toggle button.
It would be helpful to me if I can know the exact UX scenario of newtab.

[2018-10-18 02:28] kjozwiak opened #1683 "reward banner stackable when clicking on "Send a Tip" multiple times"
## Description

When clicking on `Send a Tip..` via the Rewards panel in the URL, you'll stack several banners on top of each other. We shouldn't be stacking the same banner.

## Steps to Reproduce

   1. launch brave (used `0.55.17 Chromium: 70.0.3538.67`)
   2. enable rewards via `brave://rewards`
   3. once enabled, visit a random website and wait a few seconds
   4. click on the BAT icon in th

[2018-10-18 02:34] srirambv commented on #1632
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified Qwant was set as default search engine on normal tab
* Verified no DDG info on Private/Tor tab for France
* Verified no DDG info on Private/Tor tab for Germany

[2018-10-18 02:36] bbondy opened #1684 "Prevent connections to www.gstatic.com/chrome/config/plugins_3/plugins_mac.json and related per platform files"

[2018-10-18 02:43] srirambv commented on #1628
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified extension download works and installs without crashing the browser

[2018-10-18 02:45] bbondy commented on #1671
I think this partially overlaps with https://github.com/brave/brave-browser/issues/738

[2018-10-18 02:46] bbondy commented on #1653
Closes since close syntax was slightly off in #1655 but it meant to close this.

[2018-10-18 02:46] #1653 closed

[2018-10-18 02:48] bbondy commented on #1648
I think this is fixed now if you upgrade to 0.57.1 for Dev Channel or 0.55.16 for Beta Channel (next build with be 0.56 on Beta)

[2018-10-18 02:48] #1648 closed

[2018-10-18 02:49] srirambv commented on #1514
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified default search engine for France is Qwant
![image](https://user-images.githubusercontent.com/17010094/47128339-cc3b5780-d25e-11e8-8c29-346529bec335.png)
* Verified default search engine for Germany

[2018-10-18 02:53] bbondy opened #1686 "Make `npm run init` resets, and `npm run sync` rebase"

[2018-10-18 02:54] #1686 closed

[2018-10-18 02:55] bridiver commented on #1686
this only applies to repos in DEPS

[2018-10-18 03:11] srirambv commented on #1408
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47129115-f80c0c80-d261-11e8-9a75-4f67e1a9ca67.png)

[2018-10-18 03:12] srirambv commented on #1636
@jasonrsadler any QA steps for this?

[2018-10-18 03:13] jasonrsadler commented on #1636
@bbondy Can you verify no-QA?

[2018-10-18 03:15] bbondy commented on #1636
can't we QA this with wrong seed phrase or something like that?

[2018-10-18 03:16] srirambv commented on #1238
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

[2018-10-18 03:18] jasonrsadler commented on #1636
Sure. @srirambv, use test plan from https://github.com/brave/brave-core/pull/530

[2018-10-18 03:18] srirambv commented on #685
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified no crash while installing extension when testing #1628

[2018-10-18 03:33] srirambv commented on #1341
Verification Passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verification passed based on #1603

[2018-10-18 04:01] kjozwiak commented on #1659
@NejcZdovc @mandar-brave as per our earlier discussion, this needs to get fixed for tomorrow's release. Most folks are probably going start with a 1 BAT donation to see how the feature works.

As mentioned before, the 5 BAT restriction for grants needs to be removed form production.

[2018-10-18 04:26] tildelowengrimm opened #1687 "Trying to enable Rewards when offline permanently breaks it"
In 55.16, I opened Rewards for the first time while offline. Even once I eventually went online, I was forever denied a wallet. The only solution was wiping my profile and starting over.

<img width="532" alt="screen shot 2018-10-17 at 11 00 55 am" src="https://user-images.githubusercontent.com/639937/47131377-2fbf8800-d253-11e8-817f-c164bcc5affd.png">

[2018-10-18 04:56] bsclifton commented on #1657
I got this too (Beta channel - 0.55.14)
<img width="560" alt="screen shot 2018-10-17 at 9 47 35 pm" src="https://user-images.githubusercontent.com/4733304/47132167-69928d80-d257-11e8-9767-8627d40a34dd.png">

[2018-10-18 05:02] diracdeltas commented on #1672
didn't see this issue til now but i have a PR open for this: https://github.com/brave/brave-core/pull/674

[2018-10-18 05:06] diracdeltas commented on #1673
FYI @tomlowenthal you tagged #633 instead of #663 on this series of issues so they weren't showing up in the parent issue

[2018-10-18 05:07] diracdeltas commented on #663
follow up issues have been opened:
https://www.gstatic.com/chrome/intelligence/assist/ranker/models/translate/translate_ranker_20180123.model is https://github.com/brave/brave-browser/issues/1674, https://clients1.google.com/tbproxy/af/query? is https://github.com/brave/brave-browser/issues/1676, https://ssl.gstatic.com/safebrowsing/csd/client_model_v5_variation_0.pb is https://github.com/brave/br

[2018-10-18 05:33] NejcZdovc commented on #1161
@kjozwiak correct flag for package build is `/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --rewards-env=stag`

[2018-10-18 05:35] petemill opened #1688 "Explanatory text in Private Window does not show the correct Mac keyboard shortcuts for Tor windows."
From @davidtemkin in https://github.com/brave/brave-browser/issues/1671:

Better yet, only show the correct platform shortcut on each platform.

[2018-10-18 05:43] petemill commented on #1671
https://github.com/brave/brave-core/pull/683 fixes the strings from #738 and corrects the title-casing.

https://github.com/brave/brave-core/pull/684 fixes the keys displayed on the Private NTP, and also only shows macOS keys on macOS and non-macOS keys on Win / Linux:
![image](https://user-images.githubusercontent.com/741836/47133482-c7c26f00-d25d-11e8-93f1-012928fac44b.png)

Still forthcoming is

[2018-10-18 05:46] simonhong commented on #1606
Finished to install x86 Win7 on my VM and I got the same error.
After many trying, I installed whole three release.
<img width="756" alt="screen shot 2018-10-18 at 14 45 09" src="https://user-images.githubusercontent.com/6786187/47133624-84f7aa00-d2e4-11e8-8fdc-d0eaac5da082.png">

I'll dig more about this failure.

[2018-10-18 06:12] bsclifton commented on #1623
I can't seem to reproduce the problem on macOS... but I can on Windows.  @srirambv @btlechowski does this also show on Linux?

[2018-10-18 06:20] simonhong opened #1689 "BraveTemplateURLServiceUtilTest.GetSearchProvidersUsingKeywordResult is failed in Qwant region"
When region is set to Germany or France, this test is failed with below log.
[code]

[2018-10-18 06:44] NejcZdovc commented on #1663
closing as dupe of https://github.com/brave/brave-browser/issues/1517

[2018-10-18 06:44] #1663 closed

[2018-10-18 06:45] NejcZdovc commented on #1660
closing as dupe, because it has the same problem then https://github.com/brave/brave-browser/issues/1517

[2018-10-18 06:56] rebron opened #1690 "change WebRTC learn more link from article on github to article on support site"
Learn More link under WebRTC points to github doc: https://github.com/brave/brave-browser/wiki/WebRTC-Custom-Settings

Move content to support web site and change link to point to that new article.

[2018-10-18 07:07] simonhong commented on #1606
In failed case, running installer returns very early time.

[2018-10-18 07:10] NejcZdovc opened #1691 "Notifications should allow custom ID"
Currently if you enable rewards and reload site counter will increase. We should be able to set custom notification ID, so that grant notification will be unique. We could also limit this per type?

cc @davidtemkin will we have any type of notifications except errors, that can co-exist (multiple notifications of the same type)

[2018-10-18 07:12] #1482 closed

[2018-10-18 07:23] NejcZdovc opened #1692 "Can't trigger two contributions at the same time end of the month"
## Description

## Steps to Reproduce

   1. enable rewards
   2. claim grant
   3. visit some sites
   4. add some recurring donations
   5. wait for monthly contribution

## Actual result:

Only auto contribute goes through

## Expected result:
Both (auto and donations) should go through

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Do

[2018-10-18 07:36] nomaed opened #1693 "Rewards: unable to exclude sites from auto-contribute"
## Description

chrome://rewards provides a list of auto-contribute sites. Next to each of them there is an 'X' with the tooltip to remove the site from auto-contributions. However, when clicking on the X, nothing happens.

The same is true for the modal dialog that opens when clicking on "See all N sites" under the list.

(I wasn't able to find any issues about the auto-contribute or exclusion in

[2018-10-18 07:49] diracdeltas opened #1694 "make it easier to run network audits for every PR"
https://github.com/brave/brave-browser/wiki/Tests#privacy-network-audit is annoying to do repeatedly; it should be automated and eventually integrated into CI

[2018-10-18 08:39] NejcZdovc commented on #1662
@srirambv that is not the case. I think this is correct behaviour

cc @davidtemkin

[2018-10-18 09:15] simonhong commented on #1606
I found the cause of this failure.
When there is no registry entry(HKEY_CURRENT_USER\Software\BraveSoftware\Promo),
silent installer is easy to fail. However, it's not failed on x64 even if there is no that registry key.
I think this crash wouldn't be happened when we uses latest omaha client.

Ah, non stable stub installer doesn't use latest omaha.
This is the reason why only stable stub installe

[2018-10-18 09:17] simonhong opened #1695 "silent installer is failed on x86 when there is no BraveSoftware\Promo registry key"
Reproduce steps
1. Delete HKEY_CURRENT_USER\Software\BraveSoftware\Promo if exists
2. Run brave_installer.exe on x86 windows platform

[2018-10-18 11:29] NejcZdovc opened #1696 "Temp remove backup modal actions"
We should hide them until we have this one in https://github.com/brave/brave-browser/issues/929

[2018-10-18 11:30] #1692 closed

[2018-10-18 11:43] #1696 closed

[2018-10-18 11:45] #1672 closed

[2018-10-18 11:51] #1673 closed

[2018-10-18 12:13] leeniu opened #1697 "Feature Request: Please make the bookmarks manager keyboard accessible."
Hello dear maintainers,

first, thanks for the effort you put into this project!

To the topic: as many of us would probably agree, using the keyboard more often adds to your computer productivity and usage speed. Using bookmarks in Firefox is a breeze, due to the sidebar (as discussed in other tickets here) that is accessible via the TAB key. (CTRL + B, TAB, TAB and you are there)

I figured that

[2018-10-18 12:24] #1687 closed, assigned to NejcZdovc

[2018-10-18 12:35] srirambv commented on #1623
@bsclifton yes I can see this on both Linux and Windows

[2018-10-18 12:36] #1684 closed

[2018-10-18 12:40] srirambv commented on #1662
Not so sure about it. i think page reload shouldn't be restricted just because the panel/banner is being displayed. As a matter of fact i see even if shields is open you can't reload the page. This is not the case on muon. Even with shields being shown you can reload the page. Either the panel/shields/banner should be closed on F5/reload or retain them but independently reload the page(muon behavi

[2018-10-18 12:49] NejcZdovc commented on #1662
I think this is native behaviour for extensions in chromium

[2018-10-18 12:59] bbondy commented on #1643
Moving out as `priority/p2` because we have no leads for this and it doesn't need to block today's release.

I can reproduce easily on Linux Mint.
I cannot reproduce with the same source code though with a debug build, or a release build.  Nor even with a release optimized build.  Nor if I build a .deb and install the deb.

It seems like something infra related but it's also strange it started hap

[2018-10-18 13:04] srirambv commented on #1697
Which version are you running? Mind adding the details from `brave://version`? I am able to navigate using TAB button once I open bookmark manager with CTRL+SHIFT+O

[2018-10-18 13:05] #1694 closed

[2018-10-18 13:18] leeniu commented on #1697
Ok, there seems more strange stuff going on here. I actually can't execute brave://version from the search bar, nothing happens. Is this a layer 8 error again?

[2018-10-18 13:31] LaurenWags commented on #1627
@riastradh-brave does this issue also cover adding 'New Private Window with Tor' to the 3 dots menu from Bookmarks (as mentioned in description of https://github.com/brave/brave-browser/issues/1387 ? If you'd like a different issue logged please let me know.

Screenshot from

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869

[2018-10-18 13:38] srirambv commented on #1697
You are actually on the release version of browser-laptop which will be deprecated soon and will be replaced with Brave-Browser. This repository is for the new version of Brave-Browser that will be available. You can download the latest beta from https://brave.com/download-beta.

Closing the issue for now but please continue any conversations on the same issue.

[2018-10-18 13:38] #1697 closed

[2018-10-18 13:40] leeniu commented on #1697
Awesome, thank your for your quick response, support and time. Sry to bother.

[2018-10-18 14:05] bbondy opened #1698 "Add founding brave-core contributors to list of contributors"
If I missed anyone, please feel free to add your name, I did a channel ping in #brave-core for those that wanted in this list and I made sure everyone there was in this list.

[2018-10-18 14:08] LaurenWags opened #1699 "no option to open bookmark in Tor Window"
## Description
Found while testing https://github.com/brave/brave-browser/issues/1387

Per description in 1387 it seems as though when on Bookmarks Manager, if you right click on a bookmark or click on the 3 dots menu for a bookmark, there should be an option to 'Open Private Window with Tor' (or similar wording). This option does not exist.

## Steps to Reproduce

   1. If you don't have bookmark

[2018-10-18 14:09] LaurenWags commented on #1699
cc @tomlowenthal - the way I read https://github.com/brave/brave-browser/issues/1387 this should have been included (3 from description) but if this is unnecessary please advise.

[2018-10-18 14:32] kjozwiak commented on #1161
Thanks for the help last night @NejcZdovc 👍

* `--rewards-env=stag` - Package builds
* `--rewards_env=stag` - from source
* `--rewards-reconcile-interval` - Package builds
* `--rewards-reconcile_interval` - from source

[2018-10-18 15:03] srirambv commented on #1643
New observation, issue happens when normal window is present. If normal tab window is closed then both Tor/Guest windows can be closed via the browser action buttons.

[2018-10-18 15:40] btlechowski commented on #1585
Verification passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

Help points to https://support.brave.com

[2018-10-18 15:47] btlechowski commented on #1424
Verification passed on

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

![image](https://user-images.githubusercontent.com/34715963/47166850-5f2acf00-d2fd-11e8-8ac5-97f0bc88b147.png)

![image](https://user-images.githubusercontent.com/34715963/47166877-723d9f00-d2fd-11e8-

[2018-10-18 15:52] NejcZdovc opened #1701 "Crash: Too many results"
STR:

- start with reconcile interval 5
- enable rewards
- visit few sites
- wait for reconcile to happen
- visit same sites
- crash

Solution:
We need to add reconcile stamp into sql query that fetches publisher/s.

[code]

[2018-10-18 16:02] bbondy opened #1702 "Update email in package.json and README"
Email is wrong and README has some outdated information after our release.

[2018-10-18 16:10] tomlowenthal commented on #1699
Good catch, you're right. Everywhere Chromium has open in new tab / window / incognito window we should add Tor windows.

[2018-10-18 16:21] bbondy opened #1703 "Publish code signing keys and signatures for Windows and macOS"
See here:
https://github.com/brave/brave-browser/issues/837

[2018-10-18 16:33] riastradh-brave commented on #1699
Grah, I thought I'd dealt with that one.  Apparently I didn't.

[2018-10-18 16:33] LaurenWags commented on #1161
Verified passed on `macOS 10.12.6 x64` with

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

* Verified `--rewards-env=stag` pointed to Staging environment (verified staging wallet was created)
* Verified `--rewards-reconcile-interval=<# of minutes>` forced contribution to occ

[2018-10-18 16:36] diracdeltas opened #1704 "proxy CWS signatures through our server for Brave extensions or all extensions"
(follow-up from https://github.com/brave/brave-core/pull/674#pullrequestreview-166051299)

For the one extension which is installed from the go-updater for now (PDFJS), we disable CWS signature checking. Eventually there should be some way that these extensions also get the security benefits of CWS signature verification/

Based on https://cs.chromium.org/chromium/src/chrome/browser/extensions/ins

[2018-10-18 16:45] #1666 closed

[2018-10-18 16:48] bsclifton commented on #1666
Notes in original issue above fixed after verifying intended behavior

[2018-10-18 16:50] LaurenWags commented on #918
Verified passed with

Brave | 0.55.17 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

* Verified with flags from #1161 and test plan in https://github.com/brave/brave-core/pull/578

[2018-10-18 17:17] diracdeltas opened #1706 "improve network audit whitelist"
follow up to https://github.com/brave/brave-browser/pull/1682

* add some static brave domains
* whitelist safebrowsing
* don't fail for private IPs

[2018-10-18 17:29] bridiver opened #1708 "Run bat-native-ledger in a utility process"
We want to isolate the browser process from perf and potential crash issues so we will run bat-native-ledger in a utility process. RewardsService will manage that utility process and communicate to it using mojo bindings. Webui and other code in brave-core and bat-native-ledger will not be affected except for the changes in https://github.com/brave/brave-browser/issues/1709

[2018-10-18 17:29] bridiver opened #1709 "Convert rewards_service methods that make calls into bat-native-ledger to async return values"
to make these calls compatible with a future utility process/mojo interface to bat-native ledger per https://github.com/brave/brave-browser/issues/1708

[2018-10-18 17:34] kjozwiak opened #1710 "Brave prompts about installing external extensions, like Chrome"
## Description

Sometimes when you're installing Brave, you'll get a random notification that states that a new extension has been added. In my case (example below in the screenshot), I had Ace Streaming installed which is attempting to add an extension every single time I install Brave.

@LaurenWags ran into the same issue before with `LastPass` but she did have it installed. We assumed that the

[2018-10-18 17:36] GeetaSarvadnya commented on #1681
Verification Passed on

Brave	0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
Revision	9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS	Linux

[2018-10-18 17:40] bsclifton commented on #1710
Here is more information about the issue I'm running into

With both the Beta and Release channels, I'm getting prompted about installing LastPass via the hamburger menu:
<img width="521" alt="screen shot 2018-10-18 at 10 13 22 am" src="https://user-images.githubusercontent.com/4733304/47172914-8bc0f580-d2c1-11e8-98f2-7354945f4c69.png">

When the above is clicked, it shows this:
<img width="481" a

[2018-10-18 17:46] srirambv commented on #1696
Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47173486-31815e00-d2dc-11e8-83af-457e6671b515.png)

[2018-10-18 17:58] srirambv opened #1711 "Block all Googled owned service calls"
## Description

Block all Googled owned service calls

## Steps to Reproduce

   1. New profile
   2. Open `brave://net-internals`
   3. type URL in search box, lists google api calls

## Actual result:

https://youtu.be/57otRNK9kxc

## Expected result:
Block all [these](https://cs.chromium.org/search/?q=%22destination:+GOOGLE_OWNED_SERVICE%22&sq=package:chromium&type=cs)

## Reproduces how often:

[2018-10-18 17:59] GeetaSarvadnya commented on #1687
Verification Passed on:
Brave	0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
Revision	9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS	Linux

![image](https://user-images.githubusercontent.com/38657976/47173913-f3f8f100-d32c-11e8-9454-fda305d73f8b.png)

- Verified error message "Wallet Creation Fail" when n/w disconnected
-  Verified able to accept the Grants af

[2018-10-18 18:00] srirambv commented on #1635
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified panel shows text upon enabling rewards

[2018-10-18 18:09] srirambv commented on #1614
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

[2018-10-18 18:15] bsclifton commented on #1710
Update on the above- I went through several removal guides (such as https://nektony.com/how-to/uninstall-lastpass-on-mac) and I did find a folder here: `~/Library/Containers/com.lastpass.LastPass`. I deleted this and it doesn't seem to make a difference; new Chrome and Brave installs still prompt to install this extension

[2018-10-18 18:30] GeetaSarvadnya commented on #1652
Verification Passed on

Brave	0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
Revision	9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS	Linux

[2018-10-18 18:37] srirambv opened #1712 "Global cookiesettings are overwritten when a new Tor Window is launched"
## Description

Global cookiesettings are overwritten when a new Tor Window is launched

## Steps to Reproduce

   1. Open Tor Window
   2. Go to settings, Change Cookie setting from default value and close Tor Windows
   3. Open a new Tor window and check settings, Cookie setting is changed to default value

## Actual result:

Cookie settings are overwritten when a new Tor Window is launched

##

[2018-10-18 18:37] srirambv commented on #1592
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified Cookies settings is retained on startup for Normal tabs
* Logged #1712 for Tor windows

[2018-10-18 18:44] garrettr opened #1713 "Login autofill popup appears unexpectedly in odd location upon page load"
## Description

When you visit a site for which you've saved a login while you're not logged in, the login autofill popup appears unexpectedly in a weird location near the top left corner of the window. Interacting with the window in any way causes the popup to disappear, and clicking the popup itself has no effect.

If you then focus one of the input fields in the site's login form, the login aut

[2018-10-18 18:44] srirambv commented on #1449
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

* Verified by adding browsing history and deleting all history allowed to set cookies without having to restart the browser

[2018-10-18 18:49] srirambv commented on #1661
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47176938-e7e94100-d2e4-11e8-8507-d8aeb438cb16.png)
![image](https://user-images.githubusercontent.com/17010094/47176976-094a2d00-d2e5-11e8-84eb-c610

[2018-10-18 18:59] garrettr commented on #1558
Encountering this issue again with builds built from code pulled this morning.

[2018-10-18 19:17] srirambv commented on #1674
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47178302-d5710680-d2e8-11e8-8dab-a636d6db62f6.png)

[2018-10-18 19:19] srirambv commented on #1676
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/47178447-3ef11500-d2e9-11e8-80a9-e27315173723.png)

[2018-10-18 19:28] srirambv opened #1714 "Remove Cloud print from Brave"
## Description

Remove Cloud print from Brave

## Steps to Reproduce

   1. Launch clean profile
   2. Visit `brave://net-internals` and click on Modules
   3. Cloud Print is listed as a module which we don't use
   4. Cloud print is also listed in clear browsing data modal

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/47178713-13baf580-d2ea-11e8-87f6-2c9d74a0c311

[2018-10-18 19:34] kjozwiak commented on #1691
STR:

* launch `0.55.18 Chromium: 70.0.3538.67`
* enable rewards via `brave://rewards`
* should see a notification indicator to let you know there's a grant available
* opens several `brave://rewards` pages and you'll see the notification stack

Example:

![notificationbrave](https://user-images.githubusercontent.com/2602313/47179063-0ce0b280-d2eb-11e8-800f-544428dce0bb.gif)

[2018-10-18 19:37] srirambv opened #1715 "Prevent connection to gstatic at startup"
## Description

Prevent connection to gstatic at startup

## Steps to Reproduce

   1. Launch new profile
   2. Use Charles Proxy to capture network events
   3. gstatic shows up which should have been blocked with #1684

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/47179238-95f7e980-d2eb-11e8-9c61-b3407572e362.png)

## Expected result:
All gstatic links should be

[2018-10-18 19:40] srirambv commented on #1684
Marking as NO QA. Superseded by #1715

[2018-10-18 19:41] btlechowski commented on #1715
Reproduced on Windows 7 x64.

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

![image](https://user-images.githubusercontent.com/34715963/47179537-99589880-d31e-11e8-872c-74489ef55d84.png)

[2018-10-18 19:47] pilgrim-brave opened #1716 "Disable GCM"
GCM (Google Cloud Messaging) is a deprecated but still supported way for websites to do push messaging. It routes everything through Google servers. It also provides a `chrome.gcm` API for extensions, which we should also disable.

Google's developer documentation: https://developers.google.com/cloud-messaging/chrome/client

Chromium code is in and around https://cs.chromium.org/chromium/src/googl

[2018-10-18 19:48] tomlowenthal commented on #1714
Nice catch. 👌🏻

[2018-10-18 19:50] diracdeltas commented on #1715
@mihaiplesa is already working on this AFAIK. the problem is that https://static1.brave.com/chrome/config/plugins_3/plugins_mac.json 301's to gstatic instead of proxying.

[2018-10-18 19:50] tomlowenthal commented on #1671
Ooh, looks like we have a "Private Tabs" string in here rather than "Private Windows". :/

[2018-10-18 19:51] diracdeltas commented on #663
verified except for https://github.com/brave/brave-browser/issues/1715. tracking that in its own issue.

[2018-10-18 19:51] #663 closed

[2018-10-18 19:55] LaurenWags opened #1717 "tip/contribution not recorded if wifi dropped or browser closed during contribution"
## Description
If you lose wifi connection or close Brave immediately after tipping a creator, the BAT is removed from your wallet but the Tip is not recorded.

This was not tested with auto-contribute as I can't tell when contribution is happening at this time, but it should be verified against auto-contribute when we can tell when a contribution is in progress.

## Steps to Reproduce

   1. Clea

[2018-10-18 19:58] mihaiplesa commented on #1715
@diracdeltas @bkero is back on it

[2018-10-18 20:00] bbondy commented on #1714
This extension can be blocked here just like the Chromium PDF Viewer one:
`browser/extensions/brave_extension_provider.cc`

[code]

[2018-10-18 20:13] bsclifton commented on #1710
I found and deleted a lot more items, but no change (even after emptying trash and restarting). I'm really curious what type of detection is being done by the code?

I've basically ran the following and nothing is coming back:
[code]

[2018-10-18 20:17] LaurenWags commented on #1670
@bradleyrichter to confirm, this is what you're looking for:
![screen shot 2018-10-18 at 4 08 44 pm](https://user-images.githubusercontent.com/28145373/47181556-3c92b900-d2f1-11e8-8ab4-aac433c093e5.png)

[2018-10-18 20:32] srirambv commented on #1713
@darkdh does [this](https://github.com/brave/browser-laptop/issues/12733#issuecomment-359529333) hold good here as well ?

[2018-10-18 20:37] #1654 closed

[2018-10-18 20:48] #1702 closed

[2018-10-18 20:48] simonhong commented on #1699
I think the reason is tor window is based on guest profile. @darkdh

[2018-10-18 21:06] btlechowski opened #1719 "Sites are never added to auto-contribute list if rewards are enabled through Rewards Panel"
## Steps to Reproduce

1. Clean install
2. Enable rewards through Rewards Panel (Rewards icon)
3. Open twitch.tv in a new tab and watch a stream for few minutes
4. Close twitch.tv tab
5. Go to brave://rewards/ and check auto-contribute list.

Important: Sites will be added to auto-contribute list only after brave://rewards/ is opened first.

## Actual result:

auto-contribute list is empty.
the pu

[2018-10-18 21:09] diracdeltas commented on #1715
appears to be fixed

[2018-10-18 21:12] darkdh commented on #1713
yes @srirambv, this is intentional for the effect of kFillOnAccountSelect so that you know there is a login form that isn't in the viewport right now.
If we don't enable this, the form will be filled automatically upon page load even it is not visible to user

[2018-10-18 21:18] tomlowenthal opened #1720 "Update shields screenshot in welcome to match new styling"
In #1339, we're going to update the style of shields so it looks pretty next to rewards. There's a screenshot of shields in the Welcome flow — we should update that to match.

[2018-10-18 21:24] GeetaSarvadnya opened #1721 "Shields global settings can't be changed in private windows"
## Description
Global shield settings are not retained for Private tabs

## Steps to Reproduce

1. Clean profile on 0.55.18
2. Change Default Global Shields settings for Adblocker/Cookie/Fingerprint
3. Open any site in normal tab
4. Check whether Global shield settings are retained for normal tabs
5. Open any site in Private tab
6. Check whether Global shield settings are retained for Private tabs

[2018-10-18 21:30] bbondy commented on #1715
Closing given last comment. Thanks.

[2018-10-18 21:30] #1715 closed

[2018-10-18 21:36] LaurenWags commented on #1675
Verified passed with

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Mac OS X

* Verified text updates on 'Tips' panel on `brave://rewards`
![screen shot 2018-10-18 at 5 35 20 pm](https://user-images.githubusercontent.com/28145373/47185750-584f8c80-d2fc-11e8-93d3-4f38e67aaf65.png)
* Ve

[2018-10-18 21:40] btlechowski commented on #1712
Reproduced on Windows 7 x64

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

[2018-10-18 21:44] GeetaSarvadnya commented on #1575
When you open youtube.com on Tor windows iframe is getting crashed - Version 0.55.18

![image](https://user-images.githubusercontent.com/38657976/47186022-d76cb100-d34c-11e8-97fd-aa9beda803c9.png)

[2018-10-18 21:46] simonhong commented on #1721
I think this is expected behavior because private window uses off the record profile.

[2018-10-18 21:47] #1706 closed

[2018-10-18 22:44] bsclifton commented on #1721
Possibly related: https://github.com/brave/brave-browser/issues/1373

[2018-10-18 22:47] bradleyrichter opened #1723 "combine 2 strings into 1 string in BR-Off panel text"
This was a hack to avoid breaking the page with missing content in a string.

Please combine the 2 strings into one paragraph here:

![image](https://user-images.githubusercontent.com/13509546/47188411-c7bd8000-d2ec-11e8-9b36-79efb5cbf902.png)

[2018-10-18 22:48] bradleyrichter opened #1724 "Add missing "t" in "transmitted", and add periods to welcome strings"
missing "t":

![image](https://user-images.githubusercontent.com/13509546/47188509-313d8e80-d2ed-11e8-9759-78efc804cc1c.png)

missing period example:

![image](https://user-images.githubusercontent.com/13509546/47188579-7792ed80-d2ed-11e8-92a2-5b86046a5c85.png)

[2018-10-18 23:15] kjozwiak commented on #1654
@evq noticed this was closed but I don't see any other issues/pr's associated with this issue. Was this created in another repo or are we just not concerned about this?

[2018-10-19 03:39] WA9ACE commented on #793
Chromium has an issue tracked and actively being developed for this; which is linked to a possible WebExtension API for exposing current dark mode setting to extensions. Might be good to keep an eye on to pull in for use with Shields UI.

https://bugs.chromium.org/p/chromium/issues/detail?id=850098

[2018-10-19 06:13] NejcZdovc commented on #1691
You don't even need to open multiple pages, you can just reload it

[2018-10-19 07:07] Haxy89 opened #1725 "Brave 0.55.18 - can't edit adblocker lists, can't enable regional lists"
How to enable regional lists?
How to edit adblocker lists?

"Edit default shield settings" button move to Brave Settings

[2018-10-19 08:56] Sh1d0w commented on #1725
This is must have feature, as it seems the current Brave adblock rules does not block most of the ads.

We need a way to enable more adblock lists, or at least provide a way to insert out own rules, copied from those lists out there.

[2018-10-19 09:00] Haxy89 commented on #1725
How is it possible that official release version does not have this feature?
![image](https://user-images.githubusercontent.com/37550896/47208452-1c650780-d38e-11e8-9c25-e15161dd8fe9.png)

This should be mark as beta or dev!

[2018-10-19 09:07] ashishoffline commented on #1725
Yes,
Current Brave AdBlock doesn't block most of the ad.
It also doesn't block regional ad and there is no option to enable that.

[2018-10-19 09:17] onmyouji commented on #1725
Probably duplicate of #403

[2018-10-19 12:55] lennardboehnke opened #1726 "LastPass login issue"
## Description
Cannot log into LastPass plugin on Brave Browser.

## Steps to Reproduce

   1.  Install Brave and LastPass Plugin
   2. Try to log in

## Actual result:
Gets stuck on the login screen.

## Expected result:
Should have logged me in.

## Reproduces how often:
Every time

## Brave version (brave://version info)
Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
OS | Mac

[2018-10-19 13:41] kjozwiak commented on #1691
Yup, realized that after posting the above! A lot easier just to refresh the page 👍 Updated the above STR to make it easier. Thanks @NejcZdovc 👍

[2018-10-19 13:53] kjozwiak commented on #1575
Some more information: this doesn't always happen. When you change your Tor exit node a few times, sometimes the banner will appear without any issues. Maybe it has something to do with the exit node/local you've connected to and which first party ad is being loaded from YT?

[2018-10-19 14:02] bbondy commented on #1725
We don't have custom list of ads yet but regional adblock is supported. You can see if it is in use or not in about:adblock

[2018-10-19 14:04] Sh1d0w commented on #1725
@bbondy about:adblock says: Regional Ad Block: Disabled. How can I enable it in the new chromium build?

[2018-10-19 14:37] srirambv commented on #1725
@Sh1d0w  you can follow the steps from here on Linux to enable Regional adblock
https://github.com/brave/brave-browser/issues/1238#issuecomment-427495893

[2018-10-19 14:38] srirambv commented on #1725
Dupe of  https://github.com/brave/brave-browser/issues/403?

[2018-10-19 14:49] btlechowski commented on #1670
Verification passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

![image](https://user-images.githubusercontent.com/34715963/47225659-ea1fce00-d3be-11e8-8f83-0f07657a5164.png)

[2018-10-19 14:53] btlechowski commented on #1672
Verification passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

![image](https://user-images.githubusercontent.com/34715963/47179537-99589880-d31e-11e8-872c-74489ef55d84.png)

[2018-10-19 15:14] btlechowski commented on #1715
Verification passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

Brave no longer connects to gstatic.com

![image](https://user-images.githubusercontent.com/34715963/47227095-4c2e0280-d3c2-11e8-96b0-42aa80475082.png)

[2018-10-19 15:39] rebron commented on #1713
@darkdh On the twitter example why aren't the credentials populated on the top right?

[2018-10-19 15:44] rebron commented on #1703
cc: @mbacchi

[2018-10-19 15:49] btlechowski commented on #1673
Verification passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows 7 x64

Used test plan from https://github.com/brave/brave-core/pull/676

![image](https://user-images.githubusercontent.com/34715963/47228602-ec395b00-d3c5-11e8-9d94-b3758f1c7daa.png)

Also verified in Fiddl

[2018-10-19 15:56] rebron commented on #1626
wontfix, need to contact Malwarebytes for fix

[2018-10-19 15:56] #1626 closed

[2018-10-19 15:58] rebron commented on #1619
wontfix.

[2018-10-19 15:58] #1619 closed

[2018-10-19 15:59] rebron commented on #1612
dupe of https://github.com/brave/brave-browser/issues/1671

[2018-10-19 16:04] rebron commented on #1609
Fixed in RC builds. Reopen if it's not.

[2018-10-19 16:04] #1609 closed

[2018-10-19 16:12] rebron commented on #1577
Can you try the newest version of brave to see if this is fixed? Are you using 055.18?
[release channel]

[2018-10-19 16:14] rebron commented on #1563
@NejcZdovc is this fixed with a recent PR?

[2018-10-19 16:15] pilgrim-brave opened #1727 "Flash not properly blocked after clearing browser data"
## Description
Default Flash UI flow is described here: https://github.com/brave/brave-core/pull/116

After clearing browser data, Flash UI flow is identical to Chromium, i.e. not blocked by default, only click-to-play.

[2018-10-19 16:18] rebron commented on #1557
@NejcZdovc is this still an issue?

[2018-10-19 16:20] dekaru opened #1728 "Referral download links for publishers point to the download of the old "Brave.app" browser app"
## Description
Referral download links for publishers currently point to the download of the old "Brave.app" browser instead of the new "Brave Browser.app"

## Steps to Reproduce
Follow a referral download link for the Brave browser, such as
https://brave.com/reb420

## Actual result:
On a Mac, the page takes you to a download of a .pkg installer  which installs the old "Brave.app" browser.

## Ex

[2018-10-19 16:22] rebron commented on #1523
mind moving this into devops repo?

[2018-10-19 16:28] rebron commented on #1409
cc: @mbacchi can this be moved to devops repo?

[2018-10-19 16:29] NejcZdovc commented on #1557
I never reproduced this error, so not sure

[2018-10-19 16:29] NejcZdovc commented on #1563
yes it was fixed with https://github.com/brave/brave-browser/issues/1687

[2018-10-19 16:29] #1563 closed

[2018-10-19 16:32] rebron commented on #1344
@jumde can you open up issues individually for these if there are concerns?

[2018-10-19 16:32] #1344 closed

[2018-10-19 16:32] GeetaSarvadnya commented on #1482
Verification Passed on

Brave | 0.55.18 Chromium: 70.0.3538.67 (Official Build) (64-bit)
-- | --
Revision | 9ab0cfab84ded083718d3a4ff830726efd38869f-refs/branch-heads/3538@{#1002}
OS | Windows

- Verified counter on Notification
- Issue needs to be verified again once #1619 is fixed

[2018-10-19 16:39] btlechowski opened #1729 "URL_REQUEST to safebrowsing.googleapis.com is made when opening a phishing site"
## Steps to Reproduce

   1. Open `chrome://net-internals/`
   2. Open `https://testsafebrowsing.appspot.com/s/phishing.html` in another tab
   3. Search for URL_REQUEST to safebrowsing.googleapis.com in `chrome://net-internals/`

Important: In order for safe browsing to work, the safe browsing package has to be downloaded on startup: https://github.com/brave/brave-browser/issues/1673

## Actual r

[2018-10-19 16:43] rossmoody commented on #1432
Not fixing this isn't the way to solve this issue. It's annoying and it makes me actively not want to use Brave. I can work up a mockup for this, but novice users don't typically side load extension so we're only punishing people who know the repercussions of doing this and not giving them the ability to suppress an annoying alert that surfaces every time they open Brave. @bradleyrichter

[2018-10-19 16:44] Haxy89 commented on #1725
What about windows? Is Brave linux only? If so please mark it on website.
I am Windows user and for me current official 0.55.18 release is dev or at least beta.

[2018-10-19 16:49] Liunkae commented on #1127
Related: #492

[2018-10-19 17:01] limonte commented on #1577
I specified the version I'm using in the bug-report.

[2018-10-19 17:04] marintoo opened #1730 "1Password Extension 100% broken on newest Brave"
## Description
1Password Extension doesn't work at all

## Steps to Reproduce
Install Brave and 1Password Extension
Have 1Password 7 installed on the mac

## Actual result:
Icon constant flickering, doesn't open, unusable

## Expected result:
Should work normal just like on Chrome
I assume this might be because of the invalid signature code of Brave

## Reproduces how often:
Every time

## Brave v

[2018-10-19 17:32] bsclifton commented on #1730
@marintoo what version of 1Password do you have?  I believe you need to have 7.1.2 (or newer) for it to work. With that version, they added our application details so that it would work properly 😄

[2018-10-19 17:51] rossmoody opened #1731 "Update Shield and Rewards icon sizing and color"
Our current Brave Bar icons are 16px in size and need scaled to be 18x18. The black background shields notification color is also blending into the address bar in dark theme and should be adjusted to #662D91.
![brave-bar](https://user-images.githubusercontent.com/29072694/47234905-271e9d00-d38c-11e8-9d81-2d7f27172fd5.png)

[2018-10-19 17:54] marintoo commented on #1730
I just checked and I have 1Password 7.1.1

[2018-10-19 18:03] tildelowengrimm opened #1732 "Add a submenu to the new-tab ➕icon"
In Muon, the ➕icon in the tab bar was one of the ways to open private tabs and so on. These aren't all implemented as tabs now, but it still makes sense to provide these options in a menu on a long/right click.

- New Tab
- New Window
- New Private Window
- New Private Window with Tor

[2018-10-19 18:15] onmyouji commented on #1710
I had the same problem with Ace Script, I thought I was infected by malware and my Brave browser was getting hijacked.

Managed to remove it by searching for mjbepbhonbojpoaenhckjocchgfiaofo (the extension ID on web store) entry on my Windows registry and deleting them all.

[2018-10-19 18:19] tomlowenthal commented on #1612
This is a separate issue for finding a better keyboard shortcut for Windows… sometime in the distant future.

[2018-10-19 18:36] bsclifton commented on #1730
@marintoo awesome - please try updating and let us know if that resolves the issue 😄

[2018-10-19 18:53] pilgrim-brave opened #1733 "Disable variations service"
Service sends and receives information to Google servers periodically. According to https://cs.chromium.org/chromium/src/components/variations/service/variations_service.cc?l=232 it is only enabled for official Google Chrome builds, but there is also a command line switch to enable it.

At a minimum, we should ensure that the IFDEF for official Chrome builds is not being triggered, and also disabl

[2018-10-19 19:07] jawz101 commented on #1344
If you need any commentary I'm available.  We will all have different interpretations of vulnerability or ideas of who legitimate vs. adversarial would use such features or trigger such restrictions.

Several of these things in Chrome are really there because it is also an entire OS for Chromebooks.  sensor access, local network discovery, etc. and I assume gamepad access may be used on like a spe

[2018-10-19 19:10] pilgrim-brave opened #1734 "Disable domain reliability reporting"
The domain reliability subsystem tracks whether the browser has difficulty contacting Google-owned sites and uploads reports to Google. Gated behind the "Automatically send usage statistics and crash reports" preference, but the entire subsystem should be disabled and/or removed.

As a defense in depth, we could also disable the uploader class here: https://cs.chromium.org/chromium/src/components/

[2018-10-19 19:15] btlechowski opened #1735 "Trackers Blocked on new tab always shows zero"
Trackers and ads get counted together on newtab page.

## Steps to Reproduce

   1. Clean install
   2. Open `https://jsfiddle.net/bkf50r8v/13/`
   3. Open a new tab and check `Trackers Blocked`

## Actual result:

`Trackers Blocked` shows 0
![image](https://user-images.githubusercontent.com/34715963/47238775-8fe53400-d3e3-11e8-9c08-6ca5ffc48e77.png)

## Expected result:
`Trackers Blocked` shows 1

[2018-10-19 19:22] pilgrim-brave opened #1736 "Disable remote debugging"
Developer Tools window has support for "remote debugging" feature when you plug in a mobile phone.

Google's public feature documentation: https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

The feature requires downloading files from Google servers.

At a minimum, the download should be blocked. Better if we can disable the entire feature altogether. Even better if we can r

[2018-10-19 19:27] GeetaSarvadnya commented on #1615
Currently, the notification is shown in Private tabs as well. Even this needs to be removed
@NejcZdovc @bbondy

![image](https://user-images.githubusercontent.com/38657976/47239433-ee6dda80-d402-11e8-8270-ea60783aba2f.png)

[2018-10-19 19:28] eljuno commented on #32
+1 from community https://community.brave.com/t/requests-for-brave-0-55-18-plus-button-right-click-private-tabs-as-tabs/35248?u=eljuno

[2018-10-19 19:28] kjozwiak commented on #1728
Thanks for the report @dekaru! We're currently working on getting the referral program working with the newer builds. Should be working sometime next week 👍 CCing @aekeus.

[2018-10-19 19:38] Brave-Matt commented on #1735
+1 from Community:
https://community.brave.com/t/stats-incomplete-on-new-tab-page/35271/4

[2018-10-19 20:02] NejcZdovc commented on #1615
@GeetaSarvadnya please create separate issue where we shouldn't show this icon if logo is disabled

[2018-10-19 20:29] billrob commented on #454
@bbondy Security folks are at it again at my employer.  Since it has the option to private browse with TOR, they won't have any of it.  Boo.

[2018-10-19 20:32] srirambv opened #1737 "Live tv doesn't work on Spectrum"
### Description

@frostbytedata confirms still an issue on b-c as well https://github.com/brave/browser-laptop/issues/13957#issuecomment-431416045

### Steps to Reproduce

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39317076-ba53540e-4948-11e8-8ed3-686b467c15ee.png)
![image](https://user-images.githubusercontent.com/17010094/39317121-d4357da2-4948-11e8-82bf-31e03

[2018-10-19 20:33] kjozwiak commented on #1726
Thanks for the report @@lennardboehnke! I managed to login into my LastPass account on macOS and Win 10 x64 using `0.55.18`:

<img width="513" alt="screen shot 2018-10-19 at 4 22 05 pm" src="https://user-images.githubusercontent.com/2602313/47241918-526cb080-d3bb-11e8-93c6-e6d23e8129fb.png">

Is this the extension that you're attempting to install?

https://chrome.google.com/webstore/detail/lastpa

[2018-10-19 20:34] srirambv commented on #1432
@rossmoody #1406  might solve this one as well?

[2018-10-19 20:41] andrewcking commented on #1648
It isn't a huge deal since I can just reopen Brave to my same exact place but I am still experiencing regular crashing on Mac OS 10.14 with Dev 57.1. It seems to occur frequently when closing tabs on pages with a lot of content.

[2018-10-19 20:44] kjozwiak commented on #1564
Thanks for the report @hemlok89! There's a known issue that we're currently looking into regarding installations failing on Win x86 machines. You can follow the progress in https://github.com/brave/brave-browser/issues/1606. Going to close the issue as a duplicate.

@hemlok89 a quick workaround for now is to keep trying to install it until it works. Eventually the installation should work. I know

[2018-10-19 20:44] #1564 closed

[2018-10-19 20:45] rsimonton opened #1738 "canvas.context.measureText returns '0'"
## Description

Creating a dynamic canvas element and attempting to use its 2d context to measure text always renders a width of '0'.

## Steps to Reproduce

https://jsfiddle.net/jdmtu2xL/

## Actual result:

Width of test string "Testing...1..2...3...." is: 0    :(

## Expected result:

Width of test string "Testing...1..2...3...." is: 114.392578125    :)

## Reproduces how often:

Consistently

[2018-10-19 20:46] bflora opened #1739 "Other sections in onboarding should open in new tabs or have "back" buttons"
When a user goes through Brave onboarding, they are encouraged to take a few detours like "Enable Brave reward".  When a user engages with one of these by clicking the button, they are taken out of the onboarding UX and "stranded" in the new area.  These buttons should either open in new tabs or the new sections should have obvious links to return to the onboarding flow.

Example:

![image](https:

[2018-10-19 20:49] srirambv commented on #1725
@Haxy89 Brave is available for all platforms(Windows/Mac/Linux). The link posted i[here](https://github.com/brave/brave-browser/issues/1725#issuecomment-431385120) s specific for Linux. For Windows you need to change the region in Settings and regional adblock to work.

[2018-10-19 20:56] GeetaSarvadnya commented on #1615
@NejcZdovc Sure

[2018-10-19 20:59] Mephiztopheles commented on #1498
until that fix, there is no way to use brave ;)

[2018-10-19 21:01] jumde commented on #1729
@srirambv - we won't be blocking Google SafeBrowsing, ideally all safebrowsing requests should be proxied through `safebrowsing.brave.com` not sure why `fullHashes:find` is not working like others.

[2018-10-19 21:01] rossmoody commented on #1432
@rebron apologies, didn't realize this was closed communally in a triage meeting. i'll reinstate your direction here and if community or someone else decides it's worth pursuing down the road it'll come about naturally.

[2018-10-19 21:06] rossmoody commented on #1739
This will get auto fixed when new onboarding process is implemented. @cezaraugusto

[2018-10-19 21:11] srirambv commented on #1577
@limonte you are on the Dev build. Could you try it the same on the release channel version(0.55.18) from [here](https://brave.com/download)?

[2018-10-19 21:14] diracdeltas opened #1740 "should be able to solve binance captcha without allowing 3p cookies"
appears to be a referer issue

STR:
1. make a binance account
2. login to binance on a new computer, it should ask you to do a captcha
3. captcha solving says 'try again' until 3rd party cookies are enabled

[2018-10-19 21:19] srirambv commented on #1738
The Canvas Fingerprinting is blocked. Hence you see `Width of test string "Testing...1..2...3...." is: 0 :(`. Try setting Fingerprint protection to `Allow All fingerprinting` in Shields(lion icon in URL bar) and you will see the desired result. This is expected with blocking fingerprint mechanism

[2018-10-19 21:19] #1738 closed

[2018-10-19 21:20] GeetaSarvadnya opened #1741 "BR notification should be removed for Private tabs"
## Description
BR notification should be shown only for normal tabs. For PT/Guest/Tor tabs notification should not be shown. Currently, BR notification shown for PT's, this needs to be removed.

## Steps to Reproduce

   1. Clean profile on 0.55.18
   2. Enable Rewards
   3. Verify the grants notification on BAT logo (URL bar)
   4. Open Private tab
   5. Verify that the grants notification shown

[2018-10-19 21:31] jenn-rhim opened #1742 "Need to set the timeout to transition out the tipping feedback screen"
## Description

The 'Thank you' screen' after sending tip button is clicked needs to be a transient feedback screen that **shouldn't require the user's click to close**. The initial design intent was to add an animation for the transitioning it out.

**- Propose to set a timeout on this screen at 3 sec, ease out.**

![screen shot 2018-10-19 at 12 11 58 pm](https://user-images.githubusercontent.com

[2018-10-19 21:37] tomlowenthal commented on #1741
@mandar-brave & I have previously chatted about this. The short-term goal for Rewards' interactions with the various private modes is as follows.
- Rewards pyramid icon greyed out and non-interactive in URL bar.
- Brave Rewards item in hamburger menu greyed out.
- Site views and so on in private modes don't get counted towards attention for auto-contribute.

Later, we can work out how to do one-of

[2018-10-19 21:38] jenn-rhim opened #1743 "Dismiss the Tipping banner on user cues that indicate that they're moving on"
## Description

Dismiss the tipping banner when the user
- clicks outside of the banner
- types in the URL bar

to support the user's natural, fluid navigation/browsing experience, instead of requiring them to explicitly 'close' the banner.

![screen shot 2018-10-19 at 12 12 38 pm](https://user-images.githubusercontent.com/4369856/47244988-5e9d4180-d3ac-11e8-99a2-a35f66b36022.png)

## Steps to Rep

[2018-10-19 21:43] tomlowenthal commented on #1710
So, technically this isn't a security/privacy issue. But I'd like us to treat it like it is because it definitely *feels* like an invasion or loss of control when this happens, and that really is not a good look for trust/confidence.

[2018-10-19 21:46] tomlowenthal opened #1744 "Update Private Window New Tab Page text to only show platform-specific shortcut"
We currently show both shortcuts, but we should really just show the right one for the platform. Related #1688.

[2018-10-19 21:46] garrettr opened #1745 "Updating beta channel to new version crashes browser"
## Description

When a new update is released for the beta channel, it is downloaded and queued to install on the next browser restart. If I trigger the installation of the update in any way, e.g. by manually clicking **Relaunch**, or simply quitting the browser after the update is finished downloading, the browser crashes.

This cycle of downloading the latest update, attempting to install it, an

[2018-10-19 21:49] tomlowenthal commented on #1667
This is an artifact of the changes to the other learn-more links on the page. Not going to fix in current form, but might change with the next refresh to the new-tab pages.

[2018-10-19 21:49] #1667 closed

[2018-10-19 21:52] tomlowenthal commented on #1642
Looks like this issue was just created to have something to reference in the PR? Could you add a plain-language summary of this change?

[2018-10-19 21:56] tomlowenthal commented on #1490
I think this is #wontfix because we don't have that toggle on the new tab page any more.

[2018-10-19 22:05] srirambv opened #1746 "Nightly shortcut links to wrong version on Linux"
## Description

Shortcut links to wrong version on Linux

## Steps to Reproduce

   1. Install all three versions Dev(0.57.1)/Beta(0.56.5)/Release(0.55.18)
   2. Open Applications and type in Brave
   3. Click the Brave icon opens release version(0.55.18)
   4. Close and Open Beta from Application, verify the version from `brave://version`
   5. Go to Applications and type in Brave, App indicator

[2018-10-19 22:15] miladmaz12 opened #1747 "Reload all tabs"
## Description
Self-explanatory

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:
No option for Reload all tabs

## Expected result:
Hover the mouse to any tab --> right click --> Reload all tabs

## Reproduces how often:

## Brave version (brave://version info)
0.55.18

### Reproducible on current release:
Yes

### Website problems only:
- Does the issue resolve itself when disabling B

[2018-10-19 23:19] simonhong commented on #1564
@hemlok89 I think below step will work for installing beta.
1. Install stable brave
2. Uninstall if you don't want to use stable brave (it's optional)
3. Install beta brave

Thanks for reporting!

[2018-10-20 03:40] Sh1d0w commented on #1725
@srirambv Thanks man, but I am Mac user for several years now. Can you advise how to enable this on Mac? I was searching for region setting, but there is no region there?

[2018-10-20 04:32] Liunkae commented on #1735
+1 from me. Brave 0.57.1 on macOS 10.14.

[2018-10-20 05:34] marintoo commented on #897
Agree

[2018-10-20 06:57] limonte commented on #1141
Confirming that issue is still presented in the latest relese of a stable channel (0.55.18)

[2018-10-20 07:50] Jacalz commented on #1306
I really want to see this fixed too, the bookmarks bar looks visually not pleasing and it makes the new tab page look less beutiful than it is...

[2018-10-20 09:29] avolution opened #1748 "Featurerequest: "Text to Speech" in Mac Version"
Would be nice when It is possible to integrate the Text to Speech Feature for the Mac Version.
Like on the other browsers(Chrome, Safari).

In Detail:
You select a text ... right click ... context menu Speech -> start speaking ... the OS integrated Speech Engine starts to speak the text.

[2018-10-20 10:16] Jacalz commented on #1024
I am really hoping to see this too 👍

[2018-10-20 10:28] Jacalz opened #1749 "Add GitLab search engine"
## Description
A lot of people have switched over to GitLab after microsoft bought GitHub so it would be great to have a search engine in Brave to search on GitLab. I my self will stay on GitHub for the time being but it is still a great thing to have when looking at repos. But please note that the feature must use the repo search on https://gitlab.com/explore/projects and not the search at the to

[2018-10-20 11:42] krono commented on #1730
Any way to have it working with 1Password 6?

[2018-10-20 12:12] srirambv commented on #1725
@Sh1d0w for Mac its here https://github.com/brave/brave-browser/issues/1238#issuecomment-426068531

[2018-10-20 12:37] srirambv commented on #1749
Adding this as a custom search engine works just fine.
`https://gitlab.com/search?utf8=%E2%9C%93&search=%s&group_id=&project_id=&repository_ref=`

for self hosted instances you can just replace the above query with `https://gitlab.your_host_instance.com/search?utf8=%E2%9C%93&search=%s&group_id=&project_id=&repository_ref=`

Again this would only work as long as your self hosted instance setting is

[2018-10-20 12:45] Jacalz commented on #1749
Thanks @srirambv 👍
But it would be pretty sweet having the first on in the the browser from the start though, like added to the default search engines list.

[2018-10-20 12:53] marintoo commented on #1730
< 7.2 works fine on Chrome, is there any way to get Brave working with older versions?
Found another one who has a problem with 1Password 6 on Brave:
https://www.reddit.com/r/brave_browser/comments/9jghrb/brave_beta_now_available/e6uld4j/

[2018-10-20 12:56] srirambv opened #1750 "Add translations details to readme"

[2018-10-20 13:30] BashedCode commented on #1350
I was experiencing the same issue with high DPI, then I lowered the screen resolution to 1280x960 and was able to claim on the first attempt. I had previously attempted approximately 20 times with no success.

[2018-10-20 14:05] InternetUser1 opened #1752 "No clear statement about 32-bit/i386 compatibility; is it compatible?"
## Description
Trying to install in Lubuntu 18.04 on a 32-bit laptop I encounter [the error, "Unable to locate package brave-browser"](https://askubuntu.com/questions/1085319/unable-to-locate-package-brave-browser-on-ubuntu-18-04-1-lts-lubuntu). Someone suggests Brave is 64-bit only, but I cannot find that statement anywhere on the Brave website, community, or documentation on github. [The questio

[2018-10-20 15:06] perariontaeadastra commented on #353
please introduce disabling of the tab background images. it is an issue, when working over slow Internet and Microsoft Remote Desktop Connection. Screen refresh time goes up significantly.
Thank you.

[2018-10-20 15:14] AtjonTV commented on #1752
There are 32-bit builds, but only for Windows (https://github.com/brave/brave-browser/releases/download/v0.56.5/brave-v0.56.5-win32-ia32.zip).

So Brave seems to somehow support 32-bit but they only build that version for Windows.

And as it is possible to build 32b versions, why only windows? :thinking:

[2018-10-20 15:41] #1750 closed

[2018-10-20 15:45] bbondy commented on #1215
The only reason not to do #1 would be based on complexity. Do you have a way to do this in a reasonable timeframe?  Mainly keeping in mind that we need to upgrade users for 0.56.x timeline.

If we fall to #2 I would think allow overwrite if 0 balance or ask if they would like to proceed even know there's a balance.  I think a user could for example backup their wallet and restore to profile 2 and

[2018-10-20 15:46] bbondy commented on #1729
cc @pilgrim-brave

[2018-10-20 15:49] bbondy commented on #1648
Sorry my bad above, we need a 0.57.2 to get a fix that was recently done for tab close and browser close crash.

[2018-10-20 15:51] Liunkae commented on #1748
![](https://user-images.githubusercontent.com/19424103/47257630-eb500a00-d455-11e8-8608-96b5e1970a45.png)
This feature already exists as of Brave 0.57.1.

[2018-10-20 15:58] bbondy opened #1753 "Upgrade from Chromium 70.0.3538.77 -> 71.0.3578.20"
For QA'ing

Check for version upgrade
Check for newly added branding elmeents, in case any are found add an issue and link it here.

[2018-10-20 17:22] bbondy opened #1754 "Newtab ads blocked and trackers blocked get counted together"
## Description

Newtab trackers blocked are not counting and instead being combined with ads blocked.
Reported and found here:
https://www.reddit.com/r/BATProject/comments/9pub7w/whats_with_the_low_level_of_trackers_blocked_and/

## Steps to Reproduce

   1. Clean profile
   2. Visit some sites
   3.  Open a new tab

## Actual result:

New tab trackers blocked doesn't increase even know it should,

[2018-10-20 17:46] srirambv commented on #1754
Dupe of #1735

[2018-10-20 17:46] #1754 closed

[2018-10-20 17:46] srirambv commented on #1735
+1 from https://www.reddit.com/r/BATProject/comments/9pub7w/whats_with_the_low_level_of_trackers_blocked_and/

[2018-10-20 18:19] renschler commented on #1730
Same, I am running 1Password 6 and it looks like it's $65 to upgrade to 1Password 7 license.

[2018-10-20 20:01] Hifiz opened #1755 "Chromebook Support"
## Description

No Chromebook support

## Steps to Reproduce

   1. add support for Chromebook
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta builds?
- Does it reproduce on browser-laptop?

### Website problems only:
- Does the issue resolve it

[2018-10-20 20:35] riastradh-brave opened #1756 "WebGL leaks in private windows"
https://browserleaks.com/webgl

specifically the vendor and renderer debug fields (other fields should be dealt with through farbling)

[2018-10-20 20:49] bitcoinuser opened #1757 "Problem opening an embed PDF"
Brave Browser Version 0.55.18 Chromium: 70.0.3538.67 (Versão oficial) 64 bits
OS: Ubuntu 64

PDF.js v2.0.673 (compilação: 31012570)
Mensagem: Missing PDF "https://pje.tjdft.jus.br/pje/downloadBinario.seam".

![captura de tela de 2018-10-20 17-48-16](https://user-images.githubusercontent.com/1178856/47260353-60d8cc00-d490-11e8-942f-a919f6432862.png)

[2018-10-20 21:37] Liunkae opened #1758 "Search DuckDuckGo for text in Tor Window still uses Google"
## Description
If you right-click some text, it gives an option called "Search DuckDuckGo for …". In Private Window with Tor, the search engine is DuckDuckGo by default. However, if you click the menu option, it searches with Google instead. This is very inconvenient because Google is not Tor-friendly.

## Steps to Reproduce
   1. Select hamburger menu > New private window with Tor.
   2. Navigate

[2018-10-20 22:51] Liunkae opened #1759 "Remove browser-laptop from issue template"
The issue template mentions browser-laptop: "Does it reproduce on browser-laptop?"

This should be removed because brave-browser has been officially released and browser-laptop has been deprecated.

[2018-10-21 00:35] Brave-Matt opened #1761 "Autoplay not blocked on some sites regardless of settings configuration"
## Description
Autoplay works as intended for some sties whether Brave is told to ask before allow or if blocked by default:
![ignautoplay](https://user-images.githubusercontent.com/3299098/47261787-68967180-d48c-11e8-8072-8b70762c0fd2.gif)

Some websites will autoplay regardless of setting:
![youtubeautoplay](https://user-images.githubusercontent.com/3299098/47261827-0ab65980-d48d-11e8-920c-fcebe

[2018-10-21 01:22] mil1i opened #1762 "Brave dev crashes everytime I leave or close tab from Inbox by Google (MacOS)"
## Description

I don't experience this on Windows 10, but on my MBP using Brave Dev build it crashes every time I try to close a tab that has Inbox by Google open. Same thing occurs just trying to navigate away from Inbox.

## Steps to Reproduce

   1. Open Brave Dev
   2. Go to Inbox (by Google) [logged in]
   3. Open another bookmark, or close the tab that has Inbox open

## Actual result:

Bra

[2018-10-21 02:21] Sh1d0w opened #1763 "brave://rewards broken"
Brave version: Version 0.57.1 Chromium: 70.0.3538.67 (Official Build) dev (64-bit)

![Broken rewards screen](https://i.imgur.com/mPcb8FZ.png)

[2018-10-21 03:04] Shickmo commented on #464
I mean since Muon is getting ditched and you are instead using Chromium, I am sure this is a gross oversimplification, it seems like there should be no technical hurdle in your way to implement vertical tabs at this point. This is one of the major reasons Vivaldi is my current daily driver over Brave, on desktop, today.

[2018-10-21 03:25] Brave-Matt opened #1764 ""Error code 7: 0xA043090B" - failure to update Beta from 0.55.14 to 0.56.5"
## Description

**Main Issue**
_Many_ users are reporting seeing this error when trying to update from Brave Beta 0.55.14 to 0.56.5. The error:
![image](https://user-images.githubusercontent.com/3299098/47262654-a81c8800-d4a3-11e8-8c9f-8aa328405a8a.png)

After the error notification Brave Beta remains at 0.55.14. Several update attempts can sometimes trigger the update to work (I personally had to

[2018-10-21 05:42] NejcZdovc commented on #1763
@Sh1d0w thx for reporting. This was already fixed in the code and will be available in the next dev release. I will close this one, but if this is still a problem with new version feel free to reopen it.

[2018-10-21 05:42] #1763 closed

[2018-10-21 07:07] JGJP commented on #464
The vertical tabs in the above Vivaldi screenshot is just this add-on that's also available in Firefox and (I think) some other browsers as well: https://gitlab.com/kroppy/TreeTabs

If Brave can allow this add-on and other similar ones to function then it will already be enough

[2018-10-21 07:30] bsclifton commented on #1730
@marintoo unfortunately, there isn't a way to get this working with earlier versions. We reached out to the folks at 1Password and had them update the checks they make

I'm not sure if the 1Password developers at AgileBits are open to new work on version 6, but you can definitely ask in their support forum:
https://discussions.agilebits.com

Since there is nothing we can do on our side (ex: there'

[2018-10-21 07:30] #1730 closed

[2018-10-21 07:35] bsclifton commented on #1752
As far as I know, we have no plans on supporting 32-bit Linux
cc: @bbondy and @davidtemkin for confirmation

[2018-10-21 12:19] good-praxis commented on #886
The audio simply doesn't play for me at all
[code]

Is the API used OS specific?

[2018-10-21 12:30] srirambv commented on #1761
Autoplay block works just fine only when the correct URL is added to the block list. There are 2 ways to achieve this

First method (easy)
1. Visit https://youtube.com
2. Click on site settings (URL bar icon)
3. Click Site Settings
4. Change Autoplay from `Block (Default)` to `Block`
5. Go back to YouTube and click any video, doesn't autoplay
![autoplay3](https://user-images.githubusercontent.com/

[2018-10-21 12:32] srirambv commented on #886
@good-praxis  You are currently on muon version. The issue will be fixed on [Brave Browser](https://brave.com/download) which is the new version that will replace the muon browser.

[2018-10-21 12:34] srirambv commented on #1757
Dupe of #1287 . @bitcoinuser please use the template to fill out details. Just the screenshot doesn't give all the information.

[2018-10-21 12:34] #1757 closed

[2018-10-21 12:35] srirambv commented on #1287
+1 from @bitcoinuser via #1757
Brave Browser Version 0.55.18 Chromium: 70.0.3538.67 (Versão oficial) 64 bits
OS: Ubuntu 64

PDF.js v2.0.673 (compilação: 31012570)
Mensagem: Missing PDF "https://pje.tjdft.jus.br/pje/downloadBinario.seam".

![captura de tela de 2018-10-20 17-48-16](https://user-images.githubusercontent.com/1178856/47260353-60d8cc00-d490-11e8-942f-a919f6432862.png)

[2018-10-21 13:11] #1735 closed

[2018-10-21 13:19] bbondy commented on #1761
The following sites are intentionally allowed by default because the sole purpose of the site is to watch videos:
https://github.com/brave/brave-core/blob/d62d279f8d5bf6d3bbea648d5291d7e4316834b3/renderer/brave_content_settings_observer.cc#L243

Other sites are block by default.

You can override either default by adding a content setting to block or allow.

Knowing that, is there still an issue h

[2018-10-21 13:30] #1740 closed

[2018-10-21 15:28] srirambv commented on #1761
This is an invalid issue, its working as intended as far as I can tell. We need a support document on that to be created on how to block autoplay on sites which are in the whitelist using method 1 from above.

The only issue I see is manually entering a site name doesn't block it requires `https://www.` prefix and the port number `:443` added. Only then the block functionality works for manually a

[2018-10-21 15:32] darkdh commented on #1761
This is how chromium content settings rule work, not autuplay specific.
If you are not familiar with the rules, just change content settings per site by UI.

[2018-10-21 15:53] bbondy commented on #1761
I think we can modify how we match content setting rules to allow subdomain and port specifications.  If that still remains let's close this out and post a new issue for that aspect. Thanks!

[2018-10-21 16:41] weems commented on #209
I would like this feature as well, and am willing to help if/when needed

Cheers

[2018-10-21 17:05] dnguneratne commented on #1758
I'd like to take a crack at this. Any tips on where I should start?

[2018-10-21 17:32] InternetUser1 commented on #1752
In that case, please clearly state this fact on [your downloads page](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux).

[2018-10-21 18:43] ghost opened #1766 "Distorted colors on transparent images, emoji and icons"
## Description

Icon's border (apparently with yellow background) is causing a green border on icons, emoji and transparent images (with other colors distortion)

## Steps to Reproduce

   1. You can see this issue on Facebook (Like)
   2. You can see this issue on Bitcoin website
   3. You can see this issue while browsing images (png, svg?) with transparent background

## Actual result:

![Scree

[2018-10-21 18:49] renschler commented on #1730
I've started a new discussion on the agilebits website, since the link above was originally filed against the beta brave release.

If anyone else wants this resolved it would be awesome if you could add your thoughts there! Thanks

https://discussions.agilebits.com/discussion/97296/1password-extension-does-not-work-with-official-brave-release-and-1-password-6-desktop-application/p1?new=1

[2018-10-21 20:09] jumde opened #1767 "Add details about download blocked by SafeBrowsing APIs"
<img width="485" alt="screen shot 2018-10-21 at 1 03 20 pm" src="https://user-images.githubusercontent.com/1903815/47271845-c03ae880-d531-11e8-84a1-d383d220973e.png">

If a download is blocked by the SafeBrowsing API, the learn more links to the following page. This page needs documentation about downloads blocked by the SafeBrowsing API:

https://support.brave.com/hc/en-us/articles/360018192491-H

[2018-10-21 20:10] #1729 closed

[2018-10-21 22:03] dimqua commented on #1006
The release version (0.55.18) [has been added](https://chocolatey.org/packages/bravebrowser/0.55.18).

[2018-10-22 00:14] irrationalRock opened #1768 "Unable to search Vimeo Videos in incognito with Brave Shield Turn On"
## Description

When searching the Vimeo site in incognito mode, Brave does not load. This problem does not happen in regular mode.

## Steps to Reproduce

   1. Go to https://vimeo.com in incognito.
   2. Search what ever you want in the search bar and hit enter.
   3. The page doesn't load.

## Actual result:

The page is blank.

## Expected result:
The page should display search results.

## Re

[2018-10-22 03:15] GeetaSarvadnya commented on #1350
1+ https://community.brave.com/t/unable-to-claim-my-free-tokens/35374

[2018-10-22 06:05] bsclifton commented on #1678
Closing as dupe of https://github.com/brave/brave-browser/issues/1541

[2018-10-22 06:30] bsclifton commented on #1678
Closing as dupe of https://github.com/brave/brave-browser/issues/1541

[2018-10-22 07:40] tallpants opened #1769 "Remove W3Schools extension doesn't work"
## Description
Remove W3Schools extension doesn't work. It's supposed to remove any W3schools links from Google search, but it seems to have no effect in Brave.

## Steps to Reproduce

   1. Install Remove W3Schools extension ([link](https://chrome.google.com/webstore/detail/remove-w3schools/gohnadkcefpdhblajddfnhapimpdjkje))
   2. Search for something like "JavaScript Date" on Google
   3. Notice

[2018-10-22 09:39] jumde opened #1770 "Consider using WebPayments API for BAT Tips"
https://www.w3.org/TR/payment-handler/

[2018-10-22 09:53] FWDekker commented on #1145
I experience the same, except that it happens on YouTube itself as well.

Brave 0.55.18 // Chromium 70.0.3538.67 (Official Build) (64-bit)

[2018-10-22 09:54] FWDekker commented on #1145
I experience the same, except that it happens on YouTube itself as well.

Brave: 0.55.18 // Chromium: 70.0.3538.67 (Official Build) (64-bit)

[2018-10-22 10:58] krono opened #1771 "Cannot replace new-tab-page / Arts and Culture extension"
## Description

“Arts and Culture” Extension does not work, “New Tab”-Page cannot be changed

## Steps to Reproduce

   1. Install [Google Arts & Culture extension](https://chrome.google.com/webstore/detail/google-arts-culture/akimgimeeoiognljlfchpbkpfbmeapkh)
   2. Open new tab

## Actual result:

The Brave new tab page is displayed.

## Expected result:

An artwork from the Arts and Culture proj

[2018-10-22 11:16] krono opened #1772 "Cannot change new-tab-page / Arts and Culture extension"
## Description

“Arts and Culture” Extension does not work, “New Tab”-Page cannot be changed

## Steps to Reproduce

   1. Install [Google Arts & Culture extension](https://chrome.google.com/webstore/detail/google-arts-culture/akimgimeeoiognljlfchpbkpfbmeapkh)
   2. Open new tab

## Actual result:

The Brave new tab page is displayed.

## Expected result:

An artwork from the Arts and Culture proj

[2018-10-22 11:38] pjv opened #1773 "Chrome web store extensions not updating in RC 0.55.18"
## Description

Extensions installed from the chrome web store do not update.

## Steps to Reproduce

   1. install an extension at some time in the past (you might need a time machine for this, but if you have installed extensions in the past, you might not)
   2. try to update the extension to the latest version (in the extensions window with developer switch turned on you can click the update b

[2018-10-22 12:18] srirambv commented on #1771
Dupe of https://github.com/brave/brave-browser/issues/993

[2018-10-22 12:18] #1771 closed

[2018-10-22 12:19] krono commented on #1771
Oh sorry. I think I have to improve my search-fu…

[2018-10-22 12:26] srirambv commented on #993
+1 from @krono via #1771

[2018-10-22 12:27] srirambv commented on #1771
Closing in favour of #1771

[2018-10-22 12:28] srirambv commented on #1772
Closing in favour of #1771

[2018-10-22 12:28] #1772 closed

[2018-10-22 12:31] bbondy opened #1774 "Brave should be brave:// handler"
## Description

Clicking on brave:// links should open in Brave.

## Steps to Reproduce

   1. Post a brave:// link Slack like brave://flags
   2. Click on it

## Actual result:

Nothing happens after you click to allow to open the link in Slack.

## Expected result:

The link should open in Brave.

## Reproduces how often:

Always

## Brave version (brave://version info)

0.55.18

### Reproducibl

[2018-10-22 12:58] srirambv opened #1775 "Match content setting rules to allow subdomain and port specifications"
## Description

Match content setting rules to allow subdomain and port specifications

## Steps to Reproduce

   1. Settings -> Privacy -> Autoplay
   2. Add any of these combinations  `youtube.com` / `https://youtube.com` / `https://youtube.com:443` / `youtube.com:443
   3. Visit YouTube and click on a video, still starts to autoplay

## Actual result:

Manually adding domain name to block list

[2018-10-22 12:58] srirambv commented on #1761
Closing this in favour of #1775. Need to create a support document for how to disable autoplay on whitelisted sites

[2018-10-22 12:58] #1761 closed

[2018-10-22 14:34] kelna commented on #34
I just moved to this new Chrome-based production version from the Muon-based one and I sadly noticed that session tabs are gone. This was one of the best productivity features of Brave and the one because of which I sticked to Brave in spite of the many bugs and glitches. The Chrome-based is very shiny and promising but session tabs would be an important feature to implement IMO. Thanks for the gr

[2018-10-22 14:37] kelna commented on #1361
So wallpapers could be a little bit of bigger resolution and less compression maybe? :)

[2018-10-22 14:54] srirambv commented on #1728
+1 from https://community.brave.com/t/brave-referal-old-download-link/35565

[2018-10-22 15:02] kelna commented on #1012
But not Brave.

[2018-10-22 15:31] srirambv opened #7359 "[Android] Replace desktop icon with Mobile icon for devices list"
## Test plan
See https://github.com/brave/brave-core/pull/25464

## Description
Remove desktop icon with Mobile icon for devices list

## Device Details
   - Install Type(ARM, x86): All
   - Device(Phone, Tablet, Phablet): All
   - Android Version: All

## Actual Behavior
![image](https://user-images.githubusercontent.com/17010094/47301841-e9b94a00-d5ed-11e8-8f4d-5b3d651ecf2c.png)

[2018-10-22 15:37] #1759 closed

[2018-10-22 15:40] srirambv commented on #1766
Does it still happen if you enable/disable hardware acceleration from settings?
`chrome://settings/system`

[2018-10-22 16:08] Jacalz commented on #1350
Having the exact same issue on my school laptop 💻Using a touch pad and a normal 15 inch 1080p screen with touch built in, if it matters 😉

[2018-10-22 16:09] darkdh commented on #1713
because there is an invisible form in this page, so it prompt user for that first.
And if you click the username/password entry, you can see the form is actually filled
![passwordautofill](https://user-images.githubusercontent.com/11330831/47303894-064b8700-d5da-11e8-9de7-0d346183a520.gif)

[2018-10-22 16:22] #1517 closed, assigned to NejcZdovc

[2018-10-22 16:26] Brave-Matt opened #1776 "Closing a full screen video from a private tab will freeze the image to the desktop"
## Description

I can only reproduce this on macOS, Windows/linux to do not have this issue as far as I know.
After closing the private tab, the image isn't "set" to your desktop or anything, but it is "stuck there":
![image](https://user-images.githubusercontent.com/3299098/47304628-0056a580-d5dc-11e8-8517-92c33eaa71e7.png)
This is my desktop right now.
The only way to get rid of it is to close a

[2018-10-22 16:34] NejcZdovc opened #1777 "On restart panel shows wallet summary"
## Description

On restart panel shows wallet summary until you do some interaction  (switch tab, reload site, visit a site)

## Steps to Reproduce

   1. clean profile
   2. enable rewards
   3. visit a site
   4. make sure that publisher is displayed in the panel
   5. restart browser
   6. open panel

## Actual result:

Wallet summary is shown

## Expected result:
Publisher of the current site

[2018-10-22 16:43] #1701 closed

[2018-10-22 17:31] tomlowenthal opened #1778 "Allow disabling the built-in PDF viewer"
There should probably be a checkbox somewhere in settings which let's you turn of PDFJS and just download PDFs instead.

[2018-10-22 17:31] petemill opened #1779 "New Tab Page backgrounds are over-compressed"
For the New Tab Page wallpapers, compression artifacts are relatively visible, especially on high DPI displays.

Ideally, these would be reduced.

[2018-10-22 17:31] petemill commented on #1779
Also mentioned in https://github.com/brave/brave-browser/issues/1361#issuecomment-431854354

[2018-10-22 17:39] NejcZdovc commented on #1656
@kjozwiak possibly fixed with https://github.com/brave/brave-browser/issues/1701

[2018-10-22 17:49] NejcZdovc commented on #1557
@kjozwiak @srirambv is this still a problem?

[2018-10-22 18:10] #1727 closed

[2018-10-22 18:13] #1724 closed

[2018-10-22 18:15] kjozwiak commented on #1344
Once you end up going through the above, can you please remove the `needs-investigation` flag and add the `closed/invalid` 👍

[2018-10-22 18:57] ChildishGiant opened #1780 "Can't claim free token grants (Prove that you are human)"
## Description
The "Prove that you are human!" task is impossible to solve. Even when getting it right many times in a row, or purposely getting it wrong.

## Steps to Reproduce
   1. Attempt to claim free BAT tokens

## Actual result:
https://gfycat.com/FoolishClosedBarasinga
![](https://thumbs.gfycat.com/FoolishClosedBarasinga-size_restricted.gif)

## Expected result:
When dragging the BAT logo

[2018-10-22 19:01] NejcZdovc commented on #1780
@ChildishGiant thank you for the report. We already have one issue for this one which was fixed today and should go out today/tomorrow.

closing as dupe of https://github.com/brave/brave-browser/issues/1350

[2018-10-22 19:01] #1780 closed

[2018-10-22 19:12] tomlowenthal commented on #464
The new Chromium versions of Brave are technically-compatible with extensions in the Chrome Web Store. If it works in Chrome, it should work on Brave too. And Vivaldi is also Chromium-based, so if there's an extension to get this functionality there, you should be able to get it working in Brave too.

Obvi, none of this is the same as having this functionality natively in Brave by default. We're t

[2018-10-22 19:34] jumde commented on #1549
Looks like I rushed on this one. We don't return constant result for mimeTypes and plugins in `browser-laptop`. This might cause `web-compat` issues.

May be we can put this behind the fingerprinting flag like firefox? cc: @tomlowenthal @diracdeltas

https://web.archive.org/web/20170204172033/https://bugzilla.mozilla.org/show_bug.cgi?id=1281963

[2018-10-22 19:40] cezaraugusto opened #1781 "links inside welcome screen should open in another tab"
🦁

[2018-10-22 19:41] ChildishGiant commented on #1780
Sorry for the dupe, I had a look but didn't find it.

[2018-10-22 19:41] NejcZdovc commented on #1781
this is dupe of https://github.com/brave/brave-browser/issues/1739

[2018-10-22 19:45] #1781 closed

[2018-10-22 19:45] cezaraugusto commented on #1739
done in https://github.com/brave/brave-core/pull/708, thanks for reporting!

[2018-10-22 19:45] #1739 closed

[2018-10-22 19:54] ChildishGiant commented on #1350
Is this hotfix going to be pushed to stable off-schedule?