[2021-08-15 13:01] hattoryhuynh opened #17490 "Good"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with

[2021-08-15 13:49] thefallofbecause commented on #17489
There is a border radius on the button that is causing the text to clip. It happens in any language, but German and any others that force the text onto two lines makes it more noticeable.

[2021-08-15 14:13] elsubigo opened #17491 "Disabling Brave Rewards on MacOS does not stop the "Brave Ads Service" or "Bat Ledger Service" from running"
## Description

Disabling Brave Rewards on MacOS Big Sur 11.4 does not stop the "Brave Ads Service" or "Bat Ledger Service" from running in the background. Launching the app with the --disable-brave-rewards-extension or --disable-brave-extension flags won't work either. I've tried this on a fresh install with rewards not enabled, as well as an old install with rewards turned on/off again.

Not onl

[2021-08-15 14:49] Haravikk commented on #14467
Thanks for mentioning this! I wasn't aware of it at all; I think discoverability is a bit poor as it's not super obvious, despite being super useful.

In my case I'm used to right-clicking (or double right-clicking for sites like YouTube with custom right-click menus) on a video in other browsers to open it in Picture-in-Picture or Fullscreen.

At the very least it might be wroth Brave adding PiP/

[2021-08-15 14:54] Haravikk opened #17492 "Use macOS Native Picture-in-Picture Mode"
## Description
Currently Brave uses its own custom Picture-in-Picture mode for video playback, however on macOS at least this only works while staying within Brave as the top app.

I'd like to request that Brave add support for displaying videos using the macOS native PiP mode, as this would allow videos to still be viewed PiP even when working within another fullscreen app.

This should be the co

[2021-08-15 15:14] Nihal247 commented on #17490
Don't spam!

[2021-08-15 15:32] #17490 closed

[2021-08-15 15:40] hattoryhuynh commented on #17490
Ok.thank!

Vào 10:14 PM, CN, 15 Th8, 2021 Nihal Raj ***@***.***> đã viết:

[2021-08-15 15:45] namelessperson0 opened #17494 "Default search engine does not change in Private window with tor."
## Description
In "New Private Window with Tor", the default search engine is always DuckDuckGo even if I change in the settings. The default search engine does change in Normal window and Private window without tor.

## Steps to Reproduce

   1. Change default search engine to Brave search or Qwant
   2. Go to "New Private Window with Tor"
   3. Search

## Actual result:
DuckDuckGo remains the de

[2021-08-15 16:30] Nihal247 commented on #17494
Hey @namelessperson0, DuckDuckGo is the default one in this case & can't be replaced by any Search Engine in Tor Private Window. This is an expected behaviour.

[2021-08-15 17:00] Tramplr commented on #17463
Don't like the grey outline folder icons.  Spent a bunch of time trying to "fix" this since I didn't realize it was a change.  As the previous posters have said, please put it back or make a choice to opt in or out. I always say "if it ain't broke don't fix it".

[2021-08-15 18:25] KDD777 commented on #17463
I just found these free Chrome bookmark separators which makes the Brave Browser folder color screwup more bearable: https://www.chromebookmarkseparator.co.uk/

Now at least there is some visual separation between the "sea of greyness" by not having the browsers be yellow and instead clear/grey.

[2021-08-15 19:41] DCCoder90 commented on #3725
Wow, that's sad.   Thank you for sharing @ryanbr !

[2021-08-16 03:17] sdgrs546547Q commented on #16078
please fix this. In browsers like Firefox this doesnt happen

[2021-08-16 03:22] #17366 closed

[2021-08-16 03:47] bravo86 commented on #17463
Is there a way to roll back to an old version manually?

[2021-08-16 04:09] btlechowski commented on #17291
Verification passed on

Brave | 1.29.60 Chromium: 92.0.4515.131 (Official Build) beta (64-bit)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | Ubuntu 18.04 LTS

Verified test plan from the description
Changed search engine to Brave Search and searched for `archery quiver` through URL bar
Verified purchase intent was extracted:
[code]

Open a new tab

[2021-08-16 04:22] srirambv commented on #4493
+1 from @Nihal247 #17487

[2021-08-16 04:22] srirambv commented on #17487
Dupe of #4493

[2021-08-16 04:22] #17487 closed

[2021-08-16 06:02] srirambv commented on #17489
Dupe of #17461

[2021-08-16 06:02] #17489 closed

[2021-08-16 06:03] srirambv commented on #17461
+1 from @ygoe via #17489

[2021-08-16 06:06] srirambv commented on #17491
cc: @tmancey

[2021-08-16 06:37] goodov opened #17497 "Crash in FindBrowserWithWebContents (sidebar-related)"
[code]

[2021-08-16 07:32] bsclifton commented on #17463
Thanks for the feedback folks! 😄 I've shared with the appropriate people - we should have a response soon

As for work-arounds, I took a look and unfortunately it doesn't seem the icons are overridable by extensions or themes ☹️

[2021-08-16 07:35] bsclifton commented on #17494
cc: @ShivanKaul @rebron

[2021-08-16 08:17] srirambv commented on #16946
Verification passed on Oppo Reno 5 with Android 11 running 1.29.60 x64 Beta Build
- Verified test plan from https://github.com/brave/brave-browser/issues/16946#issuecomment-887300449

<img width=380 src=https://user-images.githubusercontent.com/17010094/129528218-0d49779e-b750-421d-96e9-dd4d03999af8.png> | ![image](https://user-images.githubusercontent.com/17010094/129528233-177f4760-fa56-49ff-9f6

[2021-08-16 08:21] bsclifton commented on #17497
## Test plan
Steps I followed to cause a crash
1. Fresh profile
2. Visit brave://flags/#sidebar and enable sidebar
3. Visit eBay.com
4. Find any item, click buy it now
5. Make sure to pick `Continue as guest`
6. Put an address
7. Pick `PayPal` under `Pay With`
8. Click big blue `Pay with PayPal` button on right

Expected:
Should pop up a login form

Actual:
Crashes

[2021-08-16 09:04] srirambv commented on #16920
Verification passed on Oppo Reno 5 with Android 11 running 1.29.60 x64 Beta build
- Verified steps from https://github.com/brave/brave-browser/issues/16920#issuecomment-885646364

https://user-images.githubusercontent.com/17010094/129538831-aafd5775-9677-4de7-a6bf-fb6aaa123c6a.mp4

---------
Verification passed on Samsung Tab A  with Android 10 running 1.29.60 x64 Beta build
- Verified steps from

[2021-08-16 09:31] srirambv commented on #16961
Verification passed on the following devices running 1.29.60 x64 Beta build
- Verified test plan from brave/brave-core#9442.
- Verified `X-Brave-Partner: eaff` header is not included

Oppo Reno 5 (Android 11) | Samsung Tab A (Android 10)
-- | --
![image](https://user-images.githubusercontent.com/17010094/129542217-2f6e2186-6c5a-4916-80b4-ab87ecfa38e4.png) | ![image](https://user-images.githubuserc

[2021-08-16 12:19] #17456 closed

[2021-08-16 13:28] AntiSol commented on #6608
I have a similar issue. Opening youtube doesn't instantly crash the tab, it waits about 5 seconds until just after the page has finished loading.

here's my output:
[code]
As far as I can see adding the params makes no difference at all

[2021-08-16 13:33] Miyayes opened #17498 "Automatically select matching custodian deposit address for Tips"
## Description

Given https://github.com/brave-intl/creators-private-issues/issues/637, the browser should select from the correct deposit address in the list given by the PCDN that matches with the user's custodian, if exists, to tip to. Example:

_Suppose that:_

* User is Gemini-verified
* Creator is Gemini-verified AND Uphold-verified

_Then:_

* The user's browser should select the Gemini dep

[2021-08-16 13:43] hansjhoffman commented on #17286
I've had the same issue for about 4 weeks (using version 1.28.105 and the previous version). I've tried the suggest widevine toggle but it doesn't work. I'm surprised more people aren't experiencing & reporting this issue.

[2021-08-16 13:57] AntiSol commented on #6608
I think I've figured this out, other Linux users might check / try this.

I had ulimit -v set to 16GB. Apparently brave was trying to allocate more than 16gb of memory?

to check, do 'ulimit -v' on the command line. If you get something other than 'unlimited', take a look in /etc/security/limits.conf and limits.conf.d. make sure the 'as' item (address space limit) is unlimited (not sure what actua

[2021-08-16 14:08] tmancey commented on #17491
@srirambv this is correct if a user opts in to Brave News. Can you please confirm you were opted-in to Brave News

[2021-08-16 14:41] tmancey opened #17499 "Improve Brave ads delivery on mobile devices based upon user attention"

[2021-08-16 15:09] tmancey opened #17500 "Decouple `AdsService` from `RewardsServiceImpl`"
Notify `AdsServiceImpl` of the following `ledger::type::PromotionType::ADS` promotion via the `OnPromotionFinished` observer:
[code]

Change `ads_service->ResetAllState` to notify `AdsServiceImpl` via the Observer Pattern that we should reset all data

[2021-08-16 15:15] tmancey commented on #17491
@elsubigo did you opt-in to Brave News please? Thanks

[2021-08-16 15:25] tmancey commented on #17491
@elsubigo would you be willing to screen-share so I can investigate further, if so can you please reach out to tmancey@brave.com so I can send a link. Thanks

[2021-08-16 15:25] tmancey commented on #17491
If you are opted-in to Brave News then the ads service will be running. This is as expected.

[2021-08-16 15:39] fabricapo commented on #15754
I have this issue too (hanging on to Brave hoping you'll fix this soon...)
Brave: V1.28.105 on Mac OS 11.2.3

[2021-08-16 15:43] iefremov opened #17501 "Crash in RenderFrameHostManager::ConvertToSiteInstance"
Stable repro: https://bravesoftware.slack.com/archives/C01826CM3J9/p1628886946014600?thread_ts=1628886897.014500&cid=C01826CM3J9

1. Open wormhole.app
2. Focus omnibox, erase `p` to get `wormhole.ap`
3. hit enter
4. site not found and crash

https://brave.sp.backtrace.io/p/brave/debug?time=month&filters=((callstack.functions%2Ccontains%2CRenderFrameHostManager%3A%3AConvertToSiteInstance))&debug=(%

[2021-08-16 16:19] mlhaufe commented on #13095
If I click on an RSS link, what should the expected behavior be? Seeing the raw XML does not seem to be the right thing to do if the above feature is now in place.

[2021-08-16 16:28] 831Digital commented on #17463
+1. Bring the old icons back or at least give us a choice.

[2021-08-16 16:43] #17474 closed

[2021-08-16 16:46] #17424 closed

[2021-08-16 17:23] bsclifton commented on #17011
@Midz10 you can find the Chromium 91 version here:
https://github.com/brave/brave-browser/releases/tag/v1.26.77

Specifically, you'll want to download this file:
https://github.com/brave/brave-browser/releases/download/v1.26.77/BraveBrowserStandaloneSetup.exe

You'll have to uninstall your current version of Brave, as this is newer. You won't lose your profile! so no worries there. But I would mak

[2021-08-16 17:56] Brave-Matt commented on #11485
+1 from Community:
https://community.brave.com/t/no-option-to-import-export-bookmarks-in-drop-down-menu/275218

[2021-08-16 17:59] #17467 closed

[2021-08-16 17:59] #17472 closed

[2021-08-16 17:59] jumde commented on #15754
No updates from our friends at chromium on this change - https://chromium-review.googlesource.com/c/chromium/src/+/2704571 - Requested an updated, will share details here when available. Apologies for the delay here.

[2021-08-16 18:12] holow29 commented on #14277
Is there a way to reset Brave Rewards status? I enabled it once but have since tried to disable it as much as possible - including turning off ads, hiding the rewards button, and resetting the wallet. However, I can't get back to the state where it says, "Start using Brave Rewards" without creating a new profile. Using my old profile, I still get calls to *.rewards.brave.com endpoints.

[2021-08-16 18:22] stephendonner commented on #17314
@iknothing I believe we're just doing what Chromium does - would something like https://chrome.google.com/webstore/detail/download-to-temp-folder/cmgdgmohnilgoblgjmnklajoedgpenan?hl=en address your use-case?

[2021-08-16 18:23] sry9681 commented on #8329
Whatever happened to this feature? I would love to import my payment methods and addresses from chrome to brave

[2021-08-16 18:50] bsclifton commented on #8329
@sry9681 this should be showing... if you have payment methods populated.  I just did a test and it's showing up for me
![image](https://user-images.githubusercontent.com/4733304/129614647-877c5b7e-7c7b-4d92-b375-53965096ca59.png)

The important thing is that you need to pick the correct profile (from the drop down). There will be multiple `Chrome` profiles by default (especially if you have other

[2021-08-16 19:04] #17497 closed

[2021-08-16 19:11] fmarier opened #17502 "Request server-side data deletion when user opts out of operation pattern collection"
Users can opt out of the collection of operational pattern traces by toggling the P3A setting to OFF. When that happens, we should send a ping to the Stats backend to delete the data associated with that `collection_id`.

This is the right thing to do from a privacy point of view, but also from a data point of view since these records would be incomplete (i.e. we should ignore these incomplete tra

[2021-08-16 19:13] tmancey opened #17503 "Remove Brave Ads build flags"

[2021-08-16 19:15] tmancey opened #17504 "Remove Brave Rewards build flags"

[2021-08-16 19:19] Miyayes commented on #15214
+1 reproduced in v1.30.x with the new verify wallet modal + Gemini.

[2021-08-16 19:36] jumde opened #17505 "Retry logic for Gemini should support multiple transactions"
## Description
If two transactions for Gemini are initiated in parallel, status for one of the transaction will not be updated correctly if the first transaction is waiting for the `Completed` transaction status.

## Steps to Reproduce

   1. Initiate a tip to a Gemini creator
   2. Initiate a second tip to the Gemini creator
   3. Navigate to brave://rewards-internals, and verify that the first t

[2021-08-16 20:00] yrliou opened #17506 "Move BraveWalletProviderImpl into browser/brave_wallet"
@bridiver suggests that we should move `BraveWalletProviderImpl` from components to browser/brave_wallet because there's no reason to have that in components, and it will simplify our codes.
We can access rpc_controller directly in the renderer code instead of going through BraveWalletProviderImpl, and only keep permissions related code inside the class which won't be shared with iOS anyway.

[2021-08-16 20:38] elsubigo commented on #17491
Screenshots:

<img width="1440" alt="1" src="https://user-images.githubusercontent.com/73205387/129626497-46a38824-b0e2-48da-8aa4-fe117c1b2612.png">
<img width="1433" alt="2" src="https://user-images.githubusercontent.com/73205387/129626505-b6bad5a7-a60c-4ce4-8b79-0e46d12e972e.png">
<img width="1439" alt="3" src="https://user-images.githubusercontent.com/73205387/129626514-5187a2ba-6081-4cb5-90a0-

[2021-08-16 21:02] pHROZEN-gHOST commented on #17463
Wow.
Please wake up.
Imagine what would happen if COVID-19 vaccination were mandatory.

If you want the option to turf the yellow folders, make it just that ... an option so people have a choice.
Leave the yellow folders as a default. Is that really too much to ask?
Even the current version of Google Chrome allows yellow folders again.

[2021-08-16 21:10] bsclifton commented on #17491
Re-opening: we might have a bug where disabling News isn't resetting the conditions needed to start the service

[2021-08-16 21:11] bsclifton commented on #17504
@tmancey are there still more in place?

I removed what I thought was all of them with https://github.com/brave/brave-core/pull/9607

[2021-08-16 22:13] fmarier opened #17507 "Filter out mailerlite fields from the query string"
[MailerLite](https://www.mailerlite.com/) is a newsletter service which adds the following fields to outgoing links:

- `ml_subscriber`
- `ml_subscriber_hash`

There are lots of examples in the wild:

- https://www.instagram.com/p/B6K3P0eJ8r7/?ml_subscriber=1319667952278050466&ml_subscriber_hash=i3g5&utm_source=newsletter&utm_medium=email&utm_campaign=boxing_day_sale_get_30_off&utm_term=2021-05-14

[2021-08-16 23:19] bbondy opened #17508 "ERCTokenRegistry refactoring to stop using WalletHandler"
Exposing `ERCTokenRegistry` to JS directly instead of having it delegated through `WalletHandler`

[2021-08-16 23:42] bbondy opened #17509 "Unsafe usage of base::Unretained for wallet data files updater"
https://github.com/brave/brave-core/pull/9409#pullrequestreview-728849526

[2021-08-16 23:52] simonhong opened #17510 "Fix layer violations from brave_rewards component"
brave_rewards refers some chrome layers module. component module should not.

[2021-08-17 00:16] fmarier opened #17511 "Brave Service key sent to Google servers on redirects"
If I download an [extension](https://chrome.google.com/webstore/detail/suspicious-site-reporter/jknemblkbdhdcpllfgbfekkdciegfboi) from the Chrome web store, the browser will make these requests:
[code]

That last request contains the following request headers:
[code]

[2021-08-17 00:31] bbondy opened #17512 "AssetRatioController 24h->timeframe key change"
The server was always returning 24h change before, but now allows for a timeframe to be specified and have info returned for it

[2021-08-17 00:32] stephendonner commented on #14950
## Verified `PASSED` using the inline testplan with build

Brave | 1.30.24 Chromium: 92.0.4515.131 (Official Build) nightly (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 12.0 (Build 21A5294g)

### Steps:
1. new profile
2. launched Brave
3. loaded `brave://flags` and enabled `Sidebar`
4. clicked on the `Bookmarks` icon in the

[2021-08-17 00:38] ryanbr commented on #17065
Sorry missed the response, We include ads/trackers by default. Helps block trackers, ads. and the css elements will cleanup (collapse) and blank spaces left over. Similar to what other adblock software does here. @StephD

[2021-08-17 00:41] snickler commented on #6319
Hmm. May I ask why the effort relies on Windows 11 stable being released before the availability of an official arm64 Windows binary? 🤔

[2021-08-17 00:53] stephendonner commented on #17451
@fmarier mind providing a simplified testcase? (I just want to be sure we don't miss anything.) Thanks!

[2021-08-17 00:54] stephendonner commented on #17452
@fmarier mind providing a simplified testcase? (I just want to be sure we don't miss anything.) Thanks!

[2021-08-17 01:03] stephendonner commented on #10964
Verified `PASSED` using

Brave | 1.30.24 Chromium: 92.0.4515.131 (Official Build) nightly (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 12.0 (Build 21A5294g)

Steps:
1. new profile
2. launched Brave
3. loaded `brave://rewards-internals` and clicked on the `Ad diagnostics` tab
4. clicked `Refresh`; confirmed nothing displayed

[2021-08-17 01:11] ryanbr commented on #17065
Closing report, as this is working as intended. Disabling "Ads and trackers" if people not wanting cosmetics to be injected. Another option for `@@||domain.com^$ghide`  in `brave://adblock` should also avoid this.

[2021-08-17 01:11] #17065 closed

[2021-08-17 01:35] mkarolin opened #17513 "Upgrade from Chromium 92.0.4515.131 to Chromium 92.0.4515.159."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/92.0.4515.131..92.0.4515.159?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-08-17 01:46] fmarier commented on #17452
@stephendonner Sure, this is pretty simple to test, have a look at the test plan on https://github.com/brave/brave-core/pull/9733

[2021-08-17 01:56] ryanbr commented on #14020
Was resolved, pf.intuit.com no longer blocked

[2021-08-17 01:56] #14020 closed

[2021-08-17 01:57] ryanbr commented on #15301
Hey @ToddAndMargo is this still an issue?

[2021-08-17 02:10] ryanbr commented on #12022
(With Ephemeral Storage enabled). Allow all cookies still needed, tested in Brave Nightly Version 1.30.23 Chromium: 92.0.4515.131 (Official Build) nightly (64-bit).

 ![origin-ea](https://user-images.githubusercontent.com/1659004/129652585-8c307da4-2022-41b8-9b27-21ca46ca2ef9.png)

[2021-08-17 02:13] ryanbr commented on #11000
With `Ephemeral Storage` enabled, this seems to be working @LaurenWags @tedens  is this still an issue?

[2021-08-17 02:16] ryanbr commented on #5497
Closing ticket, Widevine just needs to be enabled here.

[2021-08-17 02:16] #5497 closed

[2021-08-17 02:22] ryanbr commented on #15911
Working in Nightly (Version 1.30.23 Chromium: 92.0.4515.131 (Official Build) nightly (64-bit)). Beta (Version 1.29.58 Chromium: 92.0.4515.131 (Official Build) beta (64-bit)) fails.  Ephemeral Storage not affecting it

[2021-08-17 02:28] ryanbr commented on #16479
No recent reports of youtube ads, seems to be okay.

[2021-08-17 02:28] #16479 closed

[2021-08-17 02:29] ryanbr commented on #16770
Closing, site has been removed

[2021-08-17 02:29] #16770 closed

[2021-08-17 02:34] ryanbr commented on #4752
Safe to close?,  domain `thisischon.com` is dead. The other sample domains `https://www.jmtstore.com/` & `https://www.tokenhiphop.com/store` isn't using this template

[2021-08-17 02:38] ryanbr commented on #3412
Still an issues @GeetaSarvadnya  ?

[2021-08-17 02:45] ryanbr commented on #16723
Investigating

[2021-08-17 03:05] #17508 closed

[2021-08-17 03:33] kjozwiak opened #17515 "Release checklist for `1.28.x - Release #2`"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6
  - [x] macOS
  - [x] Windows
  - [x] Linux
- [x] Double check the previous rel

[2021-08-17 03:34] kjozwiak opened #17516 "Manual test run on macOS (Intel) for 1.28.x - Release #2"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-08-17 03:34] kjozwiak opened #17517 "Manual test run on macOS (arm64) for 1.28.x - Release #2"
### Installer

- [x]  Check signature: If OS Run `"spctl --assess --verbose /Applications/Brave Browser.app"` and make sure it returns `accepted`.
- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-arm64.dmg`
      - [x] Check executable size, should be `~290mb`
   - [x] `Brave-Browser-arm64.pkg`
       - [x] Check executable size, should be `~290mb`
   - [x] `Br

[2021-08-17 03:34] kjozwiak opened #17518 "Manual test run on Windows x64 for 1.28.x - Release #2"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-08-17 03:34] kjozwiak opened #17519 "Manual test run on Linux for 1.28.x - Release #2"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-08-17 03:36] kjozwiak opened #17520 "Manual test run on Win x64 for 1.29.x - Nightly (Checking C93)"
### Installer

- [x] Check the installer is close to the size of the last release
- [x] Check signature: On macOS, run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  On Windows, right-click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double-click on the signature.  Make sure it says "The digital

[2021-08-17 03:38] kjozwiak commented on #17520
Please wait till C93 gets merged into `master` and we get the 👍 from @mkarolin before running through the above. Once verification is completed on `1.30.x` (master), we'll get C93 merged into `1.29.x`.

[2021-08-17 03:40] kjozwiak opened #17521 "Manual test run on ARM for 1.29.x - Nightly (Checking C93)"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Visual look

- [x] Make sure thereafter every merge
  - [

[2021-08-17 04:55] bsclifton commented on #17286
@hansjhoffman what OS (and version) are you running? Will be looking more into this

[2021-08-17 05:00] ryanbr commented on #17286
Tested https://www.amazon.com/gp/video/detail/B0875THX53/ref=atv_hm_hom_3_c_dVClNC_2_2 in a clean profile, no issues playing the video. In one instance, It did detect if I was running a VPN (and stopped playback because of it). @meistfx @hansjhoffman

[2021-08-17 05:02] bsclifton commented on #4752
Let's close it out 😄 @pes10k - please re-open if there is still an issue

[2021-08-17 05:02] #4752 closed

[2021-08-17 05:19] simonhong commented on #13875
When brave is set as a default app for `microsoft-edge` protocol via control panel ,
![image](https://user-images.githubusercontent.com/6786187/129667667-327bcd9c-d49b-4723-a178-1d026b70dc9f.png)

additional command line args are passed like below. Brave browser needs to fetch url and load it.
[code]

[2021-08-17 05:35] #17482 closed

[2021-08-17 05:54] bsclifton commented on #14277
@holow29 I gave this a shot and here's what I found:
1. Clicked the gear on the top right of brave://rewards/
  ![image](https://user-images.githubusercontent.com/4733304/129670612-50193bd2-658a-484a-92cc-ac39c1d6ff47.png)
2. Picked `Reset` and clicked the orange button
  ![image](https://user-images.githubusercontent.com/4733304/129670664-9cf031a2-7b42-4c2e-a38e-e79c93c6255b.png)
3. Closed browse

[2021-08-17 06:00] bsclifton commented on #16567
@nastavoi thanks for the report - let me track this down in Transifex and see if we can fix

[2021-08-17 06:11] bsclifton commented on #16567
OK - updated in our backend (Transifex). Next time we pull translations (Chromium 93), this fix will be included 😄 We're shooting for August 31st for the 1.29 release with Chromium 93

[2021-08-17 06:11] #16567 closed

[2021-08-17 06:16] #17513 closed

[2021-08-17 06:24] bsclifton commented on #17488
@ygoe do you have more information about your OS and your setup?

Usually, graphic glitches like this can be resolved by visiting brave://settings/system and disabling `Use hardware acceleration when available`. Can you give that a shot?

[2021-08-17 06:31] bsclifton commented on #17377
@SebastianLF check out our wiki entry here for more info on strings:
https://github.com/brave/brave-browser/wiki/Strings-and-Localization#chromium-strings

[2021-08-17 07:00] iefremov commented on #17011
Just in case - newer profile (from c92) could be incompatible with an older browser version (aka c91). So make sure you backup your data.

[2021-08-17 07:12] tortino commented on #14950
sorry but in the screenshots I cannot see the bookmarks, only the folders.
I was expecting to see the bookmarks too in the sidebar.

[2021-08-17 07:18] simonhong commented on #14950
@tortino You're right. Sidebar shares bookmarks manager page with tab now and it's not responsive design yet.
Due to that reason, sidebar can only show left part of bookmarks manager. It's folder list.
and you can see some page's favicons at the right side of sidebar in the screen shot.
We will handle this issue separately.

[2021-08-17 07:52] skulldealer opened #17522 "Fedora repositories are not working?"
## Description
Unable to install brave browser on fedora using dnf.
I have followed official instructions.

## Steps to Reproduce

   1. sudo dnf install dnf-plugins-core
   2. sudo dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/x86_64/
   3. sudo rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc
   4. sudo dnf install brave-browser

##Actual

[2021-08-17 07:55] oysteins-a commented on #17359
I'm having the same issue on Windows 10 for several releases now. If I type and hit enter in the address bar before the new tab page has loaded (~2 seconds) it gets cleared.
This also occurs in Nightly.
If the new tab page would load immediately, this wouldn't be an issue.

brave://version info:
<html>
<body>

Brave | 1.28.105 Chromium: 92.0.4515.131 (Official Build) (64-bit)
-- | --
Revision | 6b

[2021-08-17 08:02] #17522 closed

[2021-08-17 08:09] kjozwiak commented on #17286
Seems to be working for me as well on `Win 10 x64` using the following build:

[code]

I also tried it on a new profile using `1.28.105 Chromium: 92.0.4515.131` which is the latest release and went through the following:

* visited https://www.amazon.com/gp/video/detail/B0875THX53/ref=atv_hm_hom_3_c_dVClNC_2_2
* installed Widevine via the prompt/modal
* logged into Amazon Canada
* played the video

[2021-08-17 08:55] alanjclark commented on #6319
@snickler I concur. @mihaiplesa Can you please elaborate on this? Windows 10 on ARM has existed in Stable for a solid two years. Windows 11 on ARM is available in Windows Insider. I'm not sure I understand the timescale relying on Windows 11 Stable.

[2021-08-17 09:33] onyb opened #17523 "Prevent blacklisted tokens to be listed in Swap"
Uniswap, which fills most of the orders on Brave Swap, maintains a list of [blacklisted tokens](https://raw.githubusercontent.com/Uniswap/uniswap-interface/main/src/constants/tokenLists/unsupported.tokenlist.json) - usually known scams or tokens identified as securities. We would like to respect this list to avoid legal complications.

**TODO:** Update the asset registry script to filter out black

[2021-08-17 09:34] #17523 closed

[2021-08-17 10:12] deepxcode commented on #17377
I can work on this issue and make the PR asap.

[2021-08-17 10:22] JeffreyStevens commented on #17463
I thought my Brave was broken when the folder icons were no longer yellow. I kept trying to change the appearance to make them revert to the old icon. Colorless folder icons next to colored bookmark icons is awful. It's ok to admit you made a bad call here, just give us the option to go back.

[2021-08-17 10:47] srirambv commented on #17523
@onyb Is this a QA/Yes or QA/No?

[2021-08-17 11:16] #17422 closed

[2021-08-17 11:25] wknapik commented on #15339
Marking as blocked until there's a cronjob for extrepo to update keys.

[2021-08-17 12:17] onyb commented on #17523
@srirambv Let's do a light QA - here's the test plan:

1. As a user, I should be able to find `AAAVE` token in the Swap asset list.
2. As a user, I should not be able to find `MATTER` token in the Swap asset list.

Additionally, let's do a simple send transaction for any ERC-20 token on the mainnet, since we have updated the `@metamask/contract-metadata` project.

[2021-08-17 13:33] tmancey opened #17526 "Refactor Brave ads command line arguments to use the `--rewards` command line arguments"
Brave ads command line arguments:
[code]

[2021-08-17 13:38] tmancey opened #17527 "Snap custom Brave ad notifications to the edge of the screen"
- Snap custom Brave ad notifications to the edge of the screen when
    - dragging
    - to the closest monitor when removing a display
    - changing resolution

[2021-08-17 13:42] tmancey opened #17528 "A/B test custom Brave ad notification dark mode background color"

[2021-08-17 14:16] LaurenWags commented on #17161
Verified passed on various 1.29.x builds, but most recently:

[code]

Verification notes for all test cases executed and builds used can be found under https://github.com/brave/internal/issues/788#issuecomment-889075534

----------------

[2021-08-17 15:15] LaurenWags commented on #17362
Verification in progress with

[code]

#### **Anon User Wallet**
* Confirmed that when using an anon wallet (funded only by grants), only unverified creators display messaging on panel and tip banner.
* Confirmed that creators verified with Brave (regardless of their creators custodial wallet status), do not show any messaging on panel or tip banner.

<details>
<summary>Anon (not KYC'd) wallet scr

[2021-08-17 16:02] stephendonner commented on #17452
Verified `PASSED` using the testplan at https://github.com/brave/brave-core/pull/9733 and build

Brave | 1.30.27 Chromium: 92.0.4515.159 (Official Build) nightly (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:
1. new profile
2. launch Brave
3. opened Developer Tools, clicked on the `Network` panel
4

[2021-08-17 16:05] stephendonner commented on #17451
Verified `PASSED` using the testplan at https://github.com/brave/brave-core/pull/9733 with build

Brave | 1.30.27 Chromium: 92.0.4515.159 (Official Build) nightly (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:

1. new profile
2. launch Brave
3. opened Developer Tools, clicked on the Network panel
4

[2021-08-17 16:08] iefremov commented on #16268
okay this a different stack trace.. reopening

[2021-08-17 16:09] ksajan opened #17529 "Netflix not working"
## Description

When I click on a video to play a video it redirects me to the issue page where it says " You are having trouble watching Netflix" and shows different compatibility with browsers. I am not sure what that means and what setting should I tweak to get it working.

## Steps to Reproduce

   1. Go to Netflix website
   2. Open a content
   3. You will be greeted by the above mentioned m

[2021-08-17 16:09] iefremov commented on #16268
[code]

[2021-08-17 16:10] iefremov commented on #16268
@dverb1647 can you please reproduce few times more and share crash IDs?

[2021-08-17 16:29] tmancey commented on #10964
@stephendonner would you mind raising an issue for ads as if disabled we should show `Ads enabled: false`. Thanks

[2021-08-17 16:36] tmancey commented on #17504
@bsclifton apologies yes they have all been removed, could you please review https://github.com/brave/brave-core/pull/9769 which removes build flags for ads. Thanks

[2021-08-17 16:36] tmancey commented on #17504
Closing issue as already resolved

[2021-08-17 16:36] #17504 closed

[2021-08-17 16:56] #17507 closed

[2021-08-17 16:57] 3jdp opened #17530 "TorDisabled key doesn't appear to disable Tor in MacOS"
## Description
Hi-
Per [this](https://github.com/brave/brave-browser/issues/15202) and other issue listings, the following should disable Tor in MacOS.

`defaults write com.brave.Browser TorDisabled -integer 1`

but it has no visible effect.

We are disallowing usage of Brave on Mac systems until we can disable this.

## Steps to Reproduce

   1. Install Brave post-1.3
   2.  Use defaults command

[2021-08-17 17:17] lakshita15 commented on #8882
I'd like to work on this and have read the code too and steps to contribute
please assign this to me .
regards,
lakshita

[2021-08-17 17:24] SergeyZhukovsky opened #17531 "Add missed actions to share to Brave"
We miss some actions in the manifest to propose to share to Brave when share from other third-party apps. For example that one with reddit
https://www.reddit.com/r/brave_browser/comments/p5clbb/dear_developers_please_add_brave_on_the_android/
Another example is Share from YT. Brave is also not in the list.

[2021-08-17 17:25] Douglashdaniel opened #17532 "Allow the restore input to except multiple mnemonic lengths"
Currently the `Restore Input` on the `Restore Wallet` page only allows a user to restore a wallet with a 12 character seed phrase.

We need to allow for 12, 15, 18, 21, 24 mnemonic lengths.

[2021-08-17 17:41] holow29 commented on #14277
Potentially some more info: I restarted the browser and Utility: Bat Ledger Service was not running, and I didn't see any calls to *.rewards.brave.com endpoints. However, when I went to brave://rewards to ensure everything was off, the ledger service started again and remained running.
It seems like the ledger service should not start when simply visiting brave://rewards if ads/ac are off. Perhaps

[2021-08-17 18:04] ygoe commented on #17488
Did that, restarted, no change at all. Changed back, restarted, still there.

On another computer, it only occurred once for each menu item. When moving the mouse cursor up and down, the effect was gone there. But it still happens on my main computer.

[2021-08-17 18:33] darkdh opened #17533 "Remove enable_brave_sync buildflag"
we should remove this buildflag which is always true

[2021-08-17 18:51] btlechowski commented on #15886
Verification passed on

Brave | 1.29.60 Chromium: 92.0.4515.131 (Official Build) beta (64-bit)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | Ubuntu 20

Verified custom ads design changed (no rounded corners). No weird shadows.

<details>

Verified light theme
![image](https://user-images.githubusercontent.com/34715963/129783692-32ada8f3-41ca-4449-a

[2021-08-17 19:29] ygoe opened #17534 "Home page not loaded from browser cache"
## Description
I've set up a quick start link page as my browser home page. It's displayed when I press the "home" button in the toolbar and gives me links I often use. I want that page to load fast so I set it up to cache for a month by returning the appropriate HTTP response headers. This works nicely in Firefox. Brave, however, always loads that page from the server, ignoring all cache. All oth

[2021-08-17 19:34] LaurenWags commented on #17323
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-browser/issues/17323#issue-959275931.
Confirmed after revoking access on Gemini staging site, I was able to click on "Disconnected" UI and was prompted to reconnect from both he panel and brave://rewards page.

---------------

[2021-08-17 19:41] #16978 closed

[2021-08-17 19:52] diracdeltas commented on #17532
Note that the 24 word case will be tricky to handle since we won't be able to tell if it's a metamask-style phrase or a legacy brave wallet (which uses an incompatible key derivation algorithm). probably best to ask the user which one it is. https://github.com/brave/brave-browser/issues/9837

[2021-08-17 20:08] uglitangeo commented on #17145
Noticed that my browser crashed again, while I was doing completely unrelated stuff on different app window.
I noticed that Event Viewer showed this error at the same second Brave crashed, followed by the previous errors already reported, for every extension I had installed on Brave. All timestamped on the same second the crash happened.

I don't know if this is related but wanted to add this info

[2021-08-17 20:12] LaurenWags commented on #17316
Verification in progress with

[code]

<details>
<summary>Scenario 1 - `get user` (Uphold)</summary>

Used Charles Proxy to rewrite the response to https://api-sandbox.uphold.com/v0/me from 200 --> 404.
Confirmed that the logs reflected this rewrite:

[code]

Confirmed the UI shows the "Pending" state:

<img width="412" alt="get user pending" src="https://user-images.githubusercontent.com/28145373

[2021-08-17 20:31] bsclifton commented on #14277
Thanks for testing! I raised issue today to @Miyayes - we can figure out next steps 😄 But as long as you quit the browser and re-open (as long as no brave://rewards windows are open), it won't be running Ledger

There is a possibility Ads service might run, if you enable Brave News. That's something to keep in mind. Even if you turn off Brave news, it'll still be running (that bug is captured by h

[2021-08-17 20:34] bsclifton commented on #17491
Visiting brave://rewards will always start the Ledger service, even if you reset your wallet. However, if you close all instances of brave://rewards and quit/re-open Brave Ledger service WILL NOT be running. See https://github.com/brave/brave-browser/issues/14277 for more info

I did confirm this issue (Ads service running) though; turning OFF News doesn't stop the Ads service from running. I woul

[2021-08-17 20:36] bsclifton commented on #15382
Going to close this out - @maximgeerinck if you get a chance to see this, can you please let me know about the above? I can then share with Chromium team

Feel free to login to their tracker and leave a comment directly too 😄 Thanks

[2021-08-17 20:36] #15382 closed

[2021-08-17 20:50] Poincare1 commented on #11836
It's a shame that Brave has walked away from the Arm64 Linux community.

[2021-08-17 21:13] diracdeltas commented on #15038
cc @antonok-edm in case this may have been fixed recently with the changes to cname adblocking

[2021-08-17 21:17] diracdeltas commented on #16751
thanks @neeythann, closing for now

[2021-08-17 21:17] #16751 closed

[2021-08-17 21:26] stephendonner opened #17535 "Should always show `Ads enabled: false` when ads are disabled, in `Ad diagnostics` tab of brave://rewards-internals"
## Description

Should always show `Ads enabled: false` when ads are disabled, in `Ad diagnostics` tab of brave://rewards-internals

## Steps to Reproduce

Steps:
1. new profile
2. launched Brave
3. loaded `brave://rewards-internals` and clicked on the `Ad diagnostics` tab
4. looked at the help message

## Actual result:

`Ads not initialized, please refresh the page.`

<img width="1108" alt="Scre

[2021-08-17 21:27] stephendonner commented on #10964
Filed https://github.com/brave/brave-browser/issues/17535.

[2021-08-17 21:55] bloritsch commented on #13565
Same issue for me.  I would rather not have to uninstall and reinstall my printers.

[2021-08-17 22:09] ryanbr commented on #17529
Hey @ksajan can you test Netflix in private window mode, with no extensions enabled

[2021-08-17 22:21] fmarier commented on #9860
@ryanbr Did we already stop all of these via rules in our adblock lists?

[2021-08-17 22:28] fmarier commented on #7105
Until we have permission to use the list from DDG, we can't proceed with this.

[2021-08-17 22:31] fmarier commented on #2965
Also related is [reducing the granularity of the timezone info available to websites](https://github.com/brave/brave-browser/issues/8574).

[2021-08-17 22:49] #17503 closed

[2021-08-17 22:49] #17431 closed

[2021-08-17 22:51] ksajan commented on #17529
Yeah, It did work in a private window. why is it like that? Does Netflix doesn't work with ublock or other adblocking services anymore?

[2021-08-17 22:59] bridiver opened #17536 "Remove unnecessary perf predictor flag that defaults to true on all platforms"
flags that default to `true` for all platforms are not maintainable because we'd have to run a special build for each one of them to verify that all buildflags are correct everywhere

[2021-08-17 23:00] #17077 closed

[2021-08-17 23:04] fmarier commented on #1816
This is not something that we can fix on our end.

[2021-08-17 23:04] #1816 closed

[2021-08-17 23:07] fmarier commented on #4004
The extension that @tneo found clears this info on _startup_ instead of shutdown, which is a good approach to tackle this race condition. Let's follow up in https://github.com/brave/brave-browser/issues/3673.

[2021-08-17 23:07] #4004 closed

[2021-08-17 23:21] fmarier commented on #13565
I hope we can get to the bottom of this because it's really annoying, but I have found a work-around:

1. In the print dialog, click on "More settings".
2. Then click on "Print using system dialogue...".
3. The OS printing dialog should have all printers.
![Screenshot from 2021-08-17 16-20-08](https://user-images.githubusercontent.com/167821/129813022-3e4864ba-dea6-4587-8ccb-a7110866d089.png)

[2021-08-17 23:22] JimB-Dev commented on #13095
As far as I know it is not in place anywhere besides iOS.  The above issue was closed only because it was a duplicate of this one. But I don't believe custom RSS is available for desktop or Android yet.  Still waiting.

[2021-08-17 23:27] w2vy commented on #13565
Recently I noticed that under "Save to PDF" in the pull-down a new
option appeared

"See more..."

When I selected my printer THAT way it was saved and always appears,
usually as the default

I say this is Solved!

Tom

On 8/17/21 7:21 PM, Francois Marier wrote:

[2021-08-17 23:29] AmethystEdits opened #17537 "Chromium-based extensions can't communicate with desktop programs (KDE Neon, KDE Plasma)"
## Description
Extensions that need to communicate with a desktop application to do their job (currently I have two extensions that do this, Plasma integration and uget integration) can't communicate with their desktop applications. This bug appears to be brave specific as Plasma integration's firefox version works fine.
(KDE Neon is essentially Ubuntu with Plasma preinstalled and a bunch of other

[2021-08-17 23:30] pes10k commented on #9860
Yep! https://github.com/brave/adblock-lists/blob/master/brave-lists/brave-specific.txt#L2

[2021-08-17 23:33] fmarier commented on #2236
Let's merge with https://github.com/brave/brave-browser/issues/2169 since the HackerOne tickets have been merged.

[2021-08-17 23:33] #2236 closed

[2021-08-17 23:35] fmarier commented on #2169
We closed the original HackerOne report as informative and not worth fixing so let's close this issue too.

[2021-08-17 23:35] #2169 closed

[2021-08-17 23:36] fmarier commented on #838
Let's merge with https://github.com/brave/brave-browser/issues/5238.

[2021-08-17 23:36] #838 closed

[2021-08-17 23:40] fmarier commented on #817
Implemented in https://github.com/brave/brave-browser/issues/15090.

[2021-08-17 23:40] #817 closed

[2021-08-17 23:49] racofer commented on #16078
Still waiting on this one so that I can get back into using Brave. It's fixable in Firefox with about:config, and Vivaldi already fixed it some time ago.

Having flashbangs thrown at me while browsing is not fun.

[2021-08-17 23:58] ryanbr commented on #17529
Hmm okay, can you disable all extensions, then retry Netflix again (in normal window mode). @ksajan

[2021-08-18 00:16] bloritsch commented on #13565
It's not solved... at least reliably.   Had the issue today with the
current version.

On Tue, Aug 17, 2021, 7:27 PM Tom Moulton ***@***.***> wrote:

[2021-08-18 00:18] thebigMoose commented on #17463
I thought I lost my bookmarks with this change.  Totally missed the outline folder.  PLEASE give us back the yellow folder

[2021-08-18 00:21] fmarier commented on #5031
I missed this issue when I was working on updating the pins for Brave.

We can definitely do this by creating different pinsets, but this will be a lot harder to maintain, both on the devops side (e.g. migrating services) and also on iOS which isn't yet sync'ed with the brave-core list.

Given that our pinset now only includes three CAs (Amazon, GlobalSign and Let's Encrypt), @diracdeltas do you t

[2021-08-18 01:06] fmarier commented on #1879
Chrome [changed the default in C90](https://blog.chromium.org/2021/03/a-safer-default-for-navigation-https.html) and will be making the [HTTP-First feature available in C94](https://blog.chromium.org/2021/07/increasing-https-adoption.html).

[2021-08-18 01:09] fmarier commented on #1819
Implemented in https://github.com/brave/brave-browser/issues/16470.

[2021-08-18 01:09] #1819 closed

[2021-08-18 01:16] fmarier commented on #16394
This is related to farbling, cc'ing @pes10k and @pilgrim-brave .

[2021-08-18 01:20] #17279 closed

[2021-08-18 01:20] fmarier commented on #9932
This was fixed upstream early this year. There is now a full-page warning when you try to submit an insecure form:
![Screenshot from 2021-08-17 18-19-58](https://user-images.githubusercontent.com/167821/129821336-a18fb965-2c10-49fa-b1da-4a9e234c3c82.png)

[2021-08-18 01:20] #9932 closed

[2021-08-18 01:53] da2x opened #17538 "Brave Extension increases page load times by ×10"
## Steps to Reproduce
   1.  Visit a very simple HTML page like https://example.com
   2. Open Developer Tools: Performance
   3. Click record page load time.
   4. Focus in on the page load portion and inspect what’s slowing down the page load.

(Compare to Edge or Chrome with no extensions.)

## Actual result:
 `content_cosmetic.bundle.js` (a script inserted by the [bundled Brave Extension](http

[2021-08-18 02:48] #17533 closed

[2021-08-18 03:22] rotemg69 commented on #4416
Help needed. Please advise. This has just happened for me:

Current Version 1.28.105 Chromium: 92.0.4515.131 (Official Build) (arm64)

MacOS: BigSur 11.5.2

Can't recall if issue started after a Brave crash or loss of power.

The symptoms are more or less consistent with the reports above.

Please let me know if there are any files I can gather from my installation which would help to diagnose thi

[2021-08-18 03:28] stephendonner commented on #17507
Verified `PASSED` using the testplan in https://github.com/brave/brave-core/pull/9761 and build

Brave | 1.30.28 Chromium: 92.0.4515.159 (Official Build) nightly (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 12.0 (Build 21A5304g)

Steps:
1. new profile
2. launched Brave
3. opened `Developer Tools` from the "hamburger" menu, `

[2021-08-18 03:43] diracdeltas commented on #5031
@fmarier probably not worth the complexity. i'll close this out for now.

[2021-08-18 03:43] #5031 closed

[2021-08-18 04:19] 831Digital commented on #17463
Still nothing? I am about to ditch brave over this. I hate the way this looks.

[2021-08-18 04:25] yrliou opened #17539 "Crash in PermissionManagerBrowserTest.RequestEthereumPermissionsTabClosed"
CI log:
[code]

[2021-08-18 04:40] Tonev opened #17540 "The Google login button is partly functional although the feature is disabled"
## Description

I noticed that I could use the `Sign up with Google` button on websites although the `Allow Google login buttons on third party sites` is disabled at `brave://settings/socialBlocking`.

It's quite important to note that users **can't** successfully sign up when the feature is disabled, but regardless of that it's wrong that the button is not grayed out.

## Steps to Reproduce

   1

[2021-08-18 04:41] bravo86 commented on #17463
tempted to move over to Edge where it also has ad blocks and the verticle tab that is natively supported.

[2021-08-18 04:52] maximgeerinck commented on #15382
- It doesn't show up under chrome://crashes
- Ctrl + S works perfectly :)

[2021-08-18 05:45] bsclifton commented on #15382
Thanks for the follow up @maximgeerinck 😄 I shared that information in the Chromium ticket

I did run across this article:
https://social.technet.microsoft.com/Forums/ie/en-US/61b44466-6e12-4258-bcb1-af77b2ad701e/ntdlldll-generated-for-application-after-installation-of-kb4343909-windows-10-1803?forum=win10itproapps

There are some steps we can try, if you're willing 😄 What is being shown here make

[2021-08-18 05:55] maximgeerinck commented on #15382
Whatever change i make, it doesn't seem to work, it keeps crashing.

Chrome, Brave, they both crash even though i tried many different options in that panel.

Interestingly, Microsoft Edge (Chromium based), does work.

details:

[code]

[2021-08-18 06:05] bsclifton commented on #15382
@maximgeerinck thanks for trying that - don't forget to remove the override setting. I shared this info with Chromium authors in https://bugs.chromium.org/p/chromium/issues/detail?id=1238687

You might watch that ticket (you can sign up and star it to get notifications) - the folks there will likely have follow up questions

[2021-08-18 06:47] bsclifton commented on #17538
cc: @antonok-edm

[2021-08-18 09:31] #16661 closed

[2021-08-18 09:45] moritzhaller opened #17541 "Rename Brave Ads segment related variable names using `child` instead of `parent-child` semantics"

[2021-08-18 09:49] moritzhaller opened #17542 "Decouple Brave Ads serving pipeline"
Abstract ad serving into classes, instead of having conditional `MaybeServeAdV1`/`MaybeServeAdV2`/etc. logic

[2021-08-18 11:09] srirambv commented on #8882
@lakshita15 assigned the issue to you. Please open a PR with your fix

[2021-08-18 12:02] GeetaSarvadnya commented on #16373
@zenparsing Is there any way to test this issue on Windows as the keychain concept is not there in windows.

[2021-08-18 13:27] Miyayes commented on #16015
@szilardszaloki I think this might be solved as part of your migration of notifications to error modals?

[2021-08-18 13:50] szilardszaloki commented on #16015
Yeah, definitely.
TBH, I don't think I've ever seen any of our notifications displayed on the `brave://rewards` settings page, only in the Rewards dropdown panel (regardless of where I entered the verify wallet flow).

[2021-08-18 14:14] zenparsing commented on #17154
@codybanxs We'll need to incorporate this into the 2.0 panel designs somehow.

[2021-08-18 14:44] dverb1647 commented on #17237
I have the same problem, here is my crash ID
dfa41200-001d-ca06-0000-000000000000

This also seems identical to https://github.com/brave/brave-browser/issues/16268

[2021-08-18 14:46] dverb1647 commented on #16268
Happened again today dfa41200-001d-ca06-0000-000000000000

If it helps I also have 40+ tabs open

I couldn't reproduce just on my own without anyone else in the call but I'll try again and leave the share open for a while

[2021-08-18 15:02] #17539 closed

[2021-08-18 15:03] #17512 closed

[2021-08-18 15:07] LaurenWags commented on #16909
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/9579#issue-698856986 with assistance from @Miyayes
Note, per https://github.com/brave/brave-browser/issues/16909#issuecomment-888459011, refreshing brave://rewards page will perform this check on staging, not the `Refresh` button on brave://rewards-internals.

Confirmed that when one ad grant is availabl

[2021-08-18 16:24] #17415 closed

[2021-08-18 16:37] #16128 closed

[2021-08-18 16:37] stephendonner commented on #16128
(Fixed by non-Chromium upstream - not sure the best resolution/label for this issue.)

[2021-08-18 16:38] zenparsing commented on #17476
@emerick Let's investigate the Windows scaling issues when we bring in the panel 2.0 work.

[2021-08-18 17:28] LaurenWags commented on #11000
@ryanbr unfortunately I no longer have this account to confirm.

[2021-08-18 17:34] karenkliu commented on #17463
Hi all, product design team here. Thanks for all the feedback so far! We hear you and are working on a fix. It's important to us that we have a bookmark folder icon that works for everyone, and clearly some considerations were missed in the initial update. Please be patient as we get a fix into the queue.

[2021-08-18 18:03] stephendonner commented on #16978
## Verified `PASSED` using

Brave | 1.30.30 Chromium: 92.0.4515.159 (Official Build) nightly (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 11.5.2 (Build 20G95)

### Steps:
1. new profile
2. launched Brave using `--enable-logging=stderr --vmodule="*/variations/*"=6,"*/bat-native-ledger/*"=6,"*/brave_rewards/*"=6,"*/bat-native-

[2021-08-18 18:03] LaurenWags commented on #17329
Verified passed with

[code]

Verified STR from description.
Confirmed I correctly get the "Disconnected" UI/state when opening the panel or brave://rewards after simulating natural disconnect from Uphold.

Example | Example | Example
----- | ----- | -----
<img width="1190" alt="1" src="https://user-images.githubusercontent.com/28145373/129949199-c238ffcc-efe0-44c0-a164-dad6e7a81cbc.png"> | <img w

[2021-08-18 18:12] iambrianfung opened #17543 "Users may accidentally dislike ad when trying to close ads history"
## Description
When a user is scrolling through their ad history and decide to close the modal window, they may accidentally dislike the ad instead of the 'x' to close the window.

This will become problematic when dislikes are enforced by https://github.com/brave/brave-browser/issues/17319

<img width="1046" alt="Screenshot 2021-08-18 at 09 09 09" src="https://user-images.githubusercontent.com/24

[2021-08-18 18:20] pHROZEN-gHOST commented on #17463
Hi Karen,

Thanks for the feedback.
I may be wrong. But I believe that Chromium was where the change occurred. Google Chrome also has the same backlash when this happened. 

I think the change should have been an optional one which people could have selected in settings. People don't generally like forced changes.

The new folder icons look terrible on my theme which has not changed and probably n

[2021-08-18 18:32] bsclifton commented on #17463
@pHROZEN-gHOST the new icons are ones we had made actually - this happened with https://github.com/brave/brave-core/pull/9424. If we reverted that pull request / patch, it would go back to the old look and feel

Do you have a screenshot of your theme that you would be willing to share? (so we can see contrast / other problems)

[2021-08-18 18:39] monkeycoder99 opened #17544 "Brave isn't handling source maps correctly in Developer Tools"
## Description
I cannot view the correct, "mapped" source for my React project I'm working on locally when run in concert with the webpack dev server (the default for React apps with `npm start`). I have verified with all other major browsers: Edge, Chrome, Firefox. They all work correctly.

Note this on Windows 10.

## Steps to Reproduce
   1. Create a react app with `npm create-react-app my-app`

[2021-08-18 18:42] pHROZEN-gHOST commented on #17463
This is current...

This is what it used to look like (taken from Chrome as it is now)...

The new icons are not consistent with what is in the bookmark manager. PLEASE don't change this too :-o

    On Wednesday, August 18, 2021, 02:32:15 p.m. EDT, Brian Clifton ***@***.***> wrote:

@pHROZEN-gHOST the new icons are ones we had made actually - this happened with brave/brave-core#9424. If we revert

[2021-08-18 18:54] LaurenWags commented on #17259
Verified passed with

[code]

Verified STR from description.
Confirmed 1.28.105 is in the correct state:

Example | Example
----- | -----
<img width="404" alt="Screen Shot 2021-08-18 at 2 31 39 PM" src="https://user-images.githubusercontent.com/28145373/129953038-07b60f1f-9768-4d39-8499-b00abea3aaab.png"> | <img width="467" alt="Screen Shot 2021-08-18 at 2 31 50 PM" src="https://user-images.github

[2021-08-18 18:54] anthonypkeane commented on #17531
Slack Link: https://bravesoftware.slack.com/archives/C0816QH3R/p1629119831031900

[2021-08-18 18:58] anthonypkeane commented on #15288
Can you please retest @srirambv

[2021-08-18 19:00] LaurenWags commented on #17265
Verification in progress with

[code]

<details>
<summary>Upgrade Case</summary>

Verified STR from description.
Confirmed 1.28.105 is in the correct state:

Example | Example
----- | -----
<img width="404" alt="Screen Shot 2021-08-18 at 2 31 39 PM" src="https://user-images.githubusercontent.com/28145373/129953038-07b60f1f-9768-4d39-8499-b00abea3aaab.png"> | <img width="467" alt="Screen Shot 2021-

[2021-08-18 19:56] LaurenWags commented on #17271
Verification passed with

[code]

Verified scenarios from https://github.com/brave/brave-core/pull/9669#issuecomment-896809506

<details>
<summary>Upgrade Case</summary>

Confirmed 1.28.105 is in the correct state (see https://github.com/brave/brave-core/pull/9669#issuecomment-896809506 as a guide)

Example | Example
----- | -----
<img width="404" alt="Screen Shot 2021-08-18 at 2 31 39 PM" src="ht

[2021-08-18 19:59] LaurenWags commented on #16468
Verification in progress with

[code]

<details>
<summary>Uphold</summary>

See https://github.com/brave/brave-browser/issues/17271#issuecomment-901389159, https://github.com/brave/brave-browser/issues/17265#issuecomment-901355140, https://github.com/brave/brave-browser/issues/17259#issuecomment-901351609 for verifications with Clean and Upgrade profiles.

</details>

TBD:

<details>
<summary>Gemi

[2021-08-18 20:08] bsclifton commented on #17463
@pHROZEN-gHOST dang - looks like the screenshots didn't post ☹️ If you're not able to get them, you can send over to clifton@brave.com and I can share w/ @karenkliu and design team

[2021-08-18 20:10] stephendonner commented on #16713
Verified `FIXED` by upstream `go-ipfs` component; marking as such.

Works now with

Brave | 1.28.105 Chromium: 92.0.4515.131 (Official Build) (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 11.5.2 (Build 20G95)

and `go-ipfs-0.9.1`

example | example | example | example
---------|----------|---------|---------
<img width="1489"

[2021-08-18 20:10] #16713 closed

[2021-08-18 20:12] stephendonner commented on #16713
Verified `PASSED` now using

Brave | 1.28.105 Chromium: 92.0.4515.131 (Official Build) (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 11.5.2 (Build 20G95)

and `go-ipfs` `0.9.1`

<img width="1489" alt="Screen Shot 2021-08-18 at 1 11 56 PM" src="https://user-images.githubusercontent.com/387249/129965683-789a3328-7dd6-464b-a4a8-

[2021-08-18 20:15] stephendonner commented on #16758
Verified `PASSED` using

Brave | 1.28.105 Chromium: 92.0.4515.131 (Official Build) (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 11.5.2 (Build 20G95)

and `go-ipfs` `0.9.1`

example | example | example | example
---------|----------|---------|----------
<img width="1489" alt="Screen Shot 2021-08-18 at 1 07 02 PM" src="https:/

[2021-08-18 20:15] #16758 closed

[2021-08-18 20:18] anthonypkeane opened #17545 "Update UI for HTTPS-First Mode"
## Description
Spec: https://docs.google.com/document/d/1HnLAluEeHt7xNEo60vxyVzRFi0JQ_t0h_ZVrPXfQR9o/edit
Link: https://bravesoftware.slack.com/archives/CU5UXM3EC/p1629219418083600

We need to create a UI for the upcoming HTTPS-First Mode changes in cr94 and implement it along side the cr94 rebase.

@karenkliu can we work together to finalize these designs?

[2021-08-18 20:18] anthonypkeane commented on #17545
cc @samartnik for reference.

[2021-08-18 20:19] ahydronous commented on #6212
@microo8

Don't say random stuff without testing. I just tried this on Fedora 34 and it did absolutely nothing.

[2021-08-18 20:21] stephendonner commented on #17139
@ShivanKaul mind adding a succinct test plan for this?  Thanks!

[2021-08-18 20:33] #17505 closed

[2021-08-18 20:56] mkarolin opened #17546 "Update l10n for 1.29.x release (Chromium 93)."
Download the latest l10n from Transifex.

Test plan:

@brave/legacy_qa should run through a few locals just to make sure that nothing obvious has regressed. Shouldn't spend too much time on this though.

[2021-08-18 21:00] Douglashdaniel opened #17547 "Build out Welcome Modal"
## Description
Build out the Welcome Modal and display it after wallet creation.

![Screen Shot 2021-08-18 at 2 56 01 PM](https://user-images.githubusercontent.com/40611140/129971319-9d72054d-6dd1-45d1-8035-bb03e69c10a0.png)

You can find the specs for this component in Figma / Desktop Crypto Wallets.

Add the component too storybook with mock data for testing.

## Expected result:

Component shou

[2021-08-18 21:11] stephendonner commented on #17383
Verified `PASSED` using the testplans at https://github.com/brave/brave-core/pull/9684 and https://github.com/brave/brave-browser/issues/17383#issuecomment-897915330 with build

Brave | 1.29.63 Chromium: 92.0.4515.131 (Official Build) beta (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 11.5.2 (Build 20G95)

<details>

<summary

[2021-08-18 21:51] ctrl8511 commented on #10430
excuse me/us
why this basic feature wasn't available from the first browser release? to prevent any accidental close
also chromium (and then chrome), why they also didn't just add this feature, simply unbelievable..
I still can't use another browser than firefox (and opera) because of this...

[2021-08-18 22:08] #16306 closed

[2021-08-18 22:10] anthonypkeane opened #17548 "Implement setting to disable the chrome sharing hub"
## Description
A user left some great feedback [here](https://www.reddit.com/r/brave_browser/comments/p1ekvj/brave_is_paying_for_googles_terrible_design/?utm_medium=android_app&utm_source=share) pertaining to sharing hub.

He wants a way to disable the "chrome sharing hub" and replace it with Android's default sharing window.

Please implement a setting to disable "chrome sharing hub"

In Appearan

[2021-08-18 22:17] mkarolin opened #17549 "Upgrade from Chromium 93.0.4577.42 to Chromium 93.0.4577.51."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/93.0.4577.42..93.0.4577.51?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-08-18 23:07] stephendonner commented on #17366
QA: this is `QA/Blocked` until https://github.com/brave/brave-core/pull/9784 lands.

[2021-08-18 23:38] snowbound commented on #10430
@ctrl8511 Actually MS Edge even has this capability via my post here back in May. Growing tired of limitations.

[2021-08-18 23:57] #17532 closed

[2021-08-19 01:24] kjozwiak commented on #17513
Verification **PASSED** on `Win 10 x64` using the following build:

[code]

![image](https://user-images.githubusercontent.com/2602313/129992917-9e69b2c4-aebd-4c47-be6c-01a3c13be7c0.png)

[2021-08-19 01:30] kjozwiak commented on #17515
Checked and ensured that `x86` builds for `1.28.106 Chromium: 92.0.4515.159` are being installed without any issues:

* `Win 10 x86` - **PASSED** (restarted browser multiple times)
* `Win 8.1 x86` - **PASSED** (restarted browser multiple times)

[2021-08-19 01:41] kjozwiak commented on #17515
Went through the following OS’s using `1.28.106 Chromium: 92.0.4515.159` and made sure that the correct Tor binary was being downloaded as per https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6:

* `macOS 11.5.1 x64` - **PASSED**

[code]

* `Win 10 x64` - **PASSED**

[code]

* `PopOS 21.04 x64` - **PASSED**

[code]

[2021-08-19 01:55] kdkasad opened #17550 "Strict fingerprint blocking prevents sites from detecting color scheme preference"
## Description
When fingerprint blocking is set to "Strict", Brave no longer matches `(prefers-color-scheme: dark)` in sites even if the preferred color scheme is set to `Dark` in `brave://settings`.

This means that sites which would normally display a dark color scheme based on your browser's settings only show the light theme. The only solution is setting fingerprint blocking to "Standard."

##

[2021-08-19 02:56] Tonev commented on #17550
It's an intentional behavior related to https://github.com/brave/brave-browser/issues/15265.

@ShivanKaul added a flag that allows users to opt out of the dark theme blocking while using strict fingerprinting protection. The flag is currently available in `Brave Nightly`, so until it's uplifted into the stable channel you have to either use `Standard` fingerprinting protection on a per-site basis

[2021-08-19 03:12] kjozwiak commented on #17516
Verification **PASSED** on `macOS 11.5.1 x64` using the following build:

[code]

[2021-08-19 03:12] #17516 closed

[2021-08-19 03:12] mkarolin opened #17552 "[cr93 followup]: Hide "Set up new Brave profile" page when adding a new profile in profile picker."
STR:
1. In Brave window, click on ☰ -> Create a new profile
2. Observe popup window showing Set up page:
![image](https://user-images.githubusercontent.com/41635752/130001629-d2c780fd-1a3e-42ef-a51f-0ca56ef5d589.png)

Expected result:
Popup goes directly to the next page (same as clicking "Continue without an account" button):
![image](https://user-images.githubusercontent.com/41635752/130001696-8

[2021-08-19 03:13] kjozwiak opened #17553 "Release notes for `1.28.x - Release #2`"
### Release Notes:

Upgrade from Chromium 92.0.4515.131 to Chromium 92.0.4515.159. #17513

[2021-08-19 03:14] kjozwiak opened #17554 "Release notes for `1.28.x - Release #2`"
### Release Notes:

Upgrade from Chromium 92.0.4515.131 to Chromium 92.0.4515.159. #17513

[2021-08-19 03:42] kjozwiak commented on #17443
#### **`macOS 11.5.1 Bug Sur`** - **PASSED**

Verification **PASSED** on `macOS 11.5.1 x64` using the following build:

[code]

Ensured that the correct `Tor` component was being downloaded via `--use-dev-goupdater-url`:

<img width="307" alt="Screen Shot 2021-08-18 at 11 38 34 PM" src="https://user-images.githubusercontent.com/2602313/130003920-bc0f86a1-b091-4f59-aa4a-2090eb34ab1f.png">

Ensured

[2021-08-19 04:49] srirambv commented on #17513
Verification passed on the following devices running 1.28.106 x64 build

Oppo Reno 5 (Android 11) | Samsung Tab A (Android 10)
-- | --
<img width=290 src=https://user-images.githubusercontent.com/17010094/130009406-f3f89a42-425e-48db-945b-d4a332c142c0.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/130009413-72530bdf-961d-4838-85d8-43a0f877ad76.png>

[2021-08-19 04:50] srirambv commented on #17287
Verification passed on

Brave | 1.28.106 Chromium: 92.0.4515.159 (Official Build) (64-bit)
-- | --
Revision | `0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}`
OS | Windows 10 OS Version 2009 (Build 19043.1110)

- Verified upgrading to 1.28.106 only shows currencies that have balance

1.28.105 | 1.28.106
-- | --
![image](https://user-images.githubusercontent.com/17010094/13

[2021-08-19 04:59] Tonev opened #17556 ""Search with DuckDuckGo" in private window works only if "Show autocomplete in address bar" is enabled"
## Description

The `Search with DuckDuckGo` option in private window works only if the `Show autocomplete in address bar` option is enabled. If the `Show autocomplete in address bar` option is disabled, all searches in private window go through user's default search engine, regardless of the `Search with DuckDuckGo` preference.

Additionally, the `Learn more` link next to the `Search with DuckDuc

[2021-08-19 05:00] srirambv commented on #15288
This is fixed now. Verified on 1.28.105 current release. The settings panel is changed which fixed the issue.

[2021-08-19 05:00] #15288 closed

[2021-08-19 05:10] #17432 closed

[2021-08-19 05:41] ACodingGenie opened #17557 "Brave News ads / promoted content / NTP sponsored images should be opt-in."
## Description
I'm not sure if the 'promoted' content within Brave News is tied to Brave Rewards but regardless it should also be opt-in i.e. turned off by default along with Brave News ads and sponsored images on NTP. Unless the user opts into Brave Rewards to collect tokens from these, it makes sense to keep them off until they do so.

## Steps to Reproduce

   1. Download any version of Brave (

[2021-08-19 07:59] Tiharo commented on #16078
I might be assuming this, but I believe this would be a quick fix to make a lot of people's browsing experience a little bit better.

[2021-08-19 08:31] simonhong opened #17558 "Add entry in settings webui for configuring Brave as a default app for microsoft-edge protocol"
This is next step for https://github.com/brave/brave-browser/issues/13875
- User could see the status of whether Brave is the default app or not for `microsoft-edge` protocol from this new settings entry.
- If not, we can have a button to launch into the proper control panel from settings (like we do for default browser setting) where user can adjust it themselves.

[2021-08-19 08:38] GeetaSarvadnya commented on #17518
Looks good hence closing the issue

[2021-08-19 08:38] #17518 closed

[2021-08-19 09:00] stephendonner commented on #17220
**Verified `PASSED`** using the testplan https://github.com/brave/brave-browser/issues/17220#issuecomment-894157559 with modifications by me, reviewed by @goodov, on build

Brave | 1.29.61 Chromium: 92.0.4515.131 (Official Build) beta (x86_64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 12.0 (Build 21A5304g)

**PREREQUISITE:** regis

[2021-08-19 09:45] srirambv opened #17559 "Brave colour scheme doesn't apply for PWA"
## Description

PWA doesn't inherit window theme

## Steps to Reproduce

Scenario 1:

   1. Set browser theme to light
   2. Install a PWA
   3. Update theme to dark
   4. PWA window doesn't inherit the window theme

Scenario 2:

   1. Set browser theme to Dark
   2. Install a PWA
   3. PWA window doesn't inherit the window theme

## Actual result:

Brave colour scheme doesn't apply for PWA
**NOTE

[2021-08-19 10:12] SarveshMD commented on #17556
This is something important. Please look after this issue.

[2021-08-19 10:14] SarveshMD commented on #17556
I still wonder how you found that disabling "Show autocomplete in address bar" causes the issue 😅✌️

[2021-08-19 10:49] Tonev commented on #17556
I accidentally found out `Search with DuckDuckGo` wasn't working properly in my daily user profile while testing various scenarios for a user in Brave Community - https://community.brave.com/t/private-window-search-defaults-to-ddg-even-when-another-search-engine-is-set-as-default/275775.

I created another user profile so I could determine whether the issue was related to my daily user profile in

[2021-08-19 11:02] Johann999 commented on #17463
Please revert to the old yellow icons. Asap. Thank you.

[2021-08-19 11:28] SarveshMD commented on #17556
Great !

[2021-08-19 11:34] srirambv opened #17560 "Manual test run on Android ARM for 1.28.x - Release #2"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [ ] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-08-19 11:34] srirambv opened #17561 "Manual test run on Android Tab for 1.28.x - Release #2"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-08-19 11:34] srirambv opened #17562 "Manual test run on Android x86 for 1.28.x - Release #2"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Upgrade

Pre-Requisite: Visit several websites so Top Tiles under New Tab Page get updated and add several sites via `Add to Home screen` (from 3 dots menu) using a previous build/installation before upgrading.

- [x] Make sure that da

[2021-08-19 11:55] sdbruder commented on #16268
I error 11 every time I try to share full screen or tab but it works sharing single windows.
If I disable hardware acceleration it works.

[2021-08-19 12:05] AlexeyBarabash opened #17563 "Make Android send crash reports to backtrace.io"
## Description

Right now we getting crashes through the Google Play developer console. There are two main disadvantages:
1. Hard to symbolize stack of crashed thread, impossible to make that do Google Play console, because for the current aab/apk we get function offset from the apk and not from the so-module;
2. When crash happens in Java code, sometime we can see only the native part of the stac

[2021-08-19 12:07] ryanbr commented on #11000
Okay, closing report. I was able to sign in without issue. Works for me

[2021-08-19 12:07] #11000 closed

[2021-08-19 12:16] D0nnieD4rk0 opened #17564 "how do u enable hardware accelerated video decoding on linux ?"
been looking through all the flags and everything and cant get anything other than software rendering

any help ?

[2021-08-19 12:18] balintmaci opened #17565 "Offer to translate pages does not work"
## Description

Offer to translate pages does not work. I have the language settings set up to offer translations to English, yet the browsers has never offered to translate any pages.
![image](https://user-images.githubusercontent.com/13272850/130066575-af9d3cab-0070-4e55-a56a-fd8873088dbd.png)
I have to use danish websites regularly, and have never seen the built in translation work. Google tran

[2021-08-19 12:39] raphaellueckl commented on #17463
Suggestion: Remove the icon for folders completely. It's using space for nothing and they all look the same.

[2021-08-19 13:20] Tonev commented on #17540
I did more testing on Android and it looks like the issue is present there also. I tested `Brave 1.28.105`, my phone is `Huawei Mate 10 lite`, running on Android 8.

The `Sign up with Google` button in the mobile version of Twitter remained unavailable regardless of the state of `Allow Google login buttons on third party sites`, but I encountered the same behavior as on desktop (Windows) on other

[2021-08-19 13:33] LaurenWags commented on #11000
sounds good, thanks @ryanbr!

[2021-08-19 13:49] LaurenWags commented on #17517
`Brave-Browser-arm64` build used for above tests:

[code]

`Brave-Browser-x64` build used for above tests:

[code]

[2021-08-19 13:49] #17517 closed

[2021-08-19 14:14] srirambv commented on #17560
Verification passed on Oppo Reno 5 with Android 11 running 1.28.106 x64 build

[2021-08-19 14:14] #17560 closed

[2021-08-19 14:40] tmancey opened #17566 "Crash in BraveNewTabMessageHandler::HandleTodayGetDisplayAd"
[code]
and
[code]
https://brave.sp.backtrace.io/p/brave/debug?time=(relative-first-seen%2Cfloating%2Cweek)&filters=(_deleted%3D0%2Cver%3E%3D%2292%22%2Cptype%3Dbrowser)&fingerprint=d98fcef3a55b04fc522eb2eb5fae9e48880841e6b858b335c4a2acd80bd94fef&debug=(%222589107%22,0,0)

[2021-08-19 14:40] tmancey commented on #17566
cc @petemill

[2021-08-19 14:42] marek-lach opened #17567 "The UI freezes after a while, when scrolling fast on a scripts-heavy site"
## Description

Brave beta hangs on certain websites (i.e. freezes scrolling and hangs the entire UI). This usually happens after some time of fast scrolling a scripts-heavy page, such as _github.com_ as well:

![brave_scrolling_freezes_page](https://user-images.githubusercontent.com/45913977/130087720-b572bfd9-0db4-40f7-8216-56e318c06b25.png)
, or watching many YoutTube videos in a row could resu

[2021-08-19 14:45] LaurenWags commented on #17562
Tests above verified on Asus Zenfone (x86) with Android 6.0 running 1.28.106

[2021-08-19 14:45] #17562 closed

[2021-08-19 14:52] #17455 closed

[2021-08-19 15:00] GeetaSarvadnya commented on #17561
Looks good hence closing the issue

[2021-08-19 15:00] #17561 closed

[2021-08-19 15:18] btlechowski commented on #17519
LGTM

Verification passed on

Brave | 1.28.106 Chromium: 92.0.4515.159 (Official Build) (64-bit)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | Ubuntu 18.04 LTS

[2021-08-19 15:18] #17519 closed

[2021-08-19 15:34] mkarolin opened #17568 "[cr93 followup] Remove --disable-gpu-sandbox flag from browser tests on Windows."
In cr93 bump this flag was added because a large number of browser tests was failing on Windows CI, while working fine locally.

https://github.com/brave/brave-core/pull/9062/commits/3b97a2bcdeccdcb8249d3c588fd8946b08f2b79c - commit that added the flag.

We need to figure out what's causing CI failures and remove the flag.

[2021-08-19 16:03] pHROZEN-gHOST commented on #17463
Um no!

That would be like ... Remove clothes entirely. They are just taking space.
    On Thursday, August 19, 2021, 08:40:10 a.m. EDT, Raphael Lückl ***@***.***> wrote:

Suggestion: Remove the icon for folders completely. It's using space for nothing and they all look the same.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-08-19 16:18] #17549 closed

[2021-08-19 16:19] #10647 closed

[2021-08-19 16:19] #17536 closed

[2021-08-19 16:29] LaurenWags opened #17569 "Error modal not shown when wallet verify fails because user tried to link 2 Gemini accts to same paymentID - follow up to 16468"
## Description

If a user tries to connect 2 custodial wallets (in this case Gemini) to the same payment ID, a notification should be shown on the panel per https://github.com/brave/brave-browser/issues/16468. This is working in the Uphold case, but not Gemini.

Additionally, there is another problem where instead of seeing "Verify wallet" UI after attempting to connect the second account the "Dis

[2021-08-19 16:29] LaurenWags opened #17570 "Disconnected UI incorrectly shown for Gemini in certain case"
## Description

If a user tries to connect 2 custodial wallets (in this case Gemini) to the same payment ID, instead of seeing "Verify wallet" UI after attempting to connect the second account the "Disconnected" UI is shown. This works in the Uphold case but not in the Gemini case.

Additionally, there is another problem where a notification should be shown on the panel per https://github.com/brav

[2021-08-19 17:05] tmancey opened #17571 "Remove encryption for Brave Rewards vBAT wallet"

[2021-08-19 17:12] btlechowski commented on #17446
LGTM

Verification passed on

Brave | 1.28.106 Chromium: 92.0.4515.159 (Official Build) (64-bit)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | Ubuntu 18.04 LTS

[code]

![image](https://user-images.githubusercontent.com/34715963/130111483-6109683e-145f-4e8d-8da6-5982391e5686.png)
![image](https://user-images.githubusercontent.com/34715963/130112113

[2021-08-19 17:12] #17446 closed

[2021-08-19 17:24] stephendonner opened #17572 "Start using Rewards button in Brave Rewards NTP widget isn't clickable"
## Description

`Start using Rewards` button in Brave Rewards NTP widget isn't clickable

## Steps to Reproduce

   1.  new profile
   2. launch Brave
   3. load a new-tab page
   4. try to click on the `Start using Rewards` button on the widget

## Actual result:

The `Start using Rewards` button isn't clickable, most times.

## Expected result:

The `Start using Rewards` button should be clickab

[2021-08-19 17:25] stephendonner commented on #17572
Meant to mention: this works using `1.30.31`.

[2021-08-19 17:27] mkarolin opened #17573 "[cr93 followup] Turn off kReadLater feature by default"
This feature got turned on by default on Desktop in cr93. We need to turn it back off.

Chromium change:

https://source.chromium.org/chromium/chromium/src/+/8bdb3b260d33741fc75658e511751cacc1b9f4c7

@rebron says "We need to disable Reading List for now, we need to make a modification to the bookmarks UI window, otherwise there’s no UX to actually use Reading List."

[2021-08-19 17:39] zenparsing commented on #17572
It appears that the main Rewards widget content and the notification container are assigned to the same CSS grid, with the notification container occurring later in the layout. It may be that CSS grid behavior has changed slightly such that a later element overrides a prior element when the grid layout is computed.

[2021-08-19 17:56] rebron commented on #10676
Page is still up. I think there was a typo chrome://new-tag-page vs chrome://new-tab-page

[2021-08-19 17:59] iambrianfung opened #17575 "Brave News Display Ads length may affect Brave Ads History render"
## Description
The new Brave News Display ads have a different character length limit than Push Notification Ads. The `title` property of the creative gets shown in the Ads History and mess with the way we render the creatives.

Likely the cause of: https://github.com/brave/brave-browser/issues/17543
Similar to issue: https://github.com/brave/brave-browser/issues/9799

## Steps to Reproduce

   1.

[2021-08-19 18:01] Brave-Matt commented on #16811
Added the macOS label here as I'm seeing reports of this behavior on macOS as well.

[2021-08-19 18:01] #17553 closed

[2021-08-19 18:09] Luc45 commented on #1056
I think this should be an option on the global shield feature

[2021-08-19 18:28] #17554 closed

[2021-08-19 18:29] Nickneo3 commented on #2153
+1

this basic feature made me quit chrome and is a no-go for brave.

[2021-08-19 18:45] bridiver opened #17578 "Code owner for commands has incorrect path"

[2021-08-19 18:45] #17578 closed

[2021-08-19 18:55] #16999 closed

[2021-08-19 18:56] #17256 closed

[2021-08-19 19:00] tmancey commented on #17491
@bsclifton Thanks, I can confirm "I did confirm this issue (Ads service running) though; turning OFF News doesn't stop the Ads service from running. I would expect as a user that ads service should NOT be running" is a bug. Raising a PR now against this issue.

[2021-08-19 19:08] stephendonner commented on #17444
Verified `PASSED` using

Brave | 1.28.105 Chromium: 92.0.4515.131 (Official Build) (arm64)
-- | --
Revision | 6b8d6c56ce21e38a72f7c4becb5abc1fa5134f29-refs/branch-heads/4515@{#1933}
OS | macOS Version 11.5.2 (Build 20G95)

example | example | example | example
---------|---------|----------|---------
<img width="1312" alt="Screen Shot 2021-08-19 at 11 25 58 AM" src="https://user-images.githubuserc

[2021-08-19 19:08] #17444 closed

[2021-08-19 19:21] ksajan commented on #17529
@ryanbr I did it worked perfectly. And after checking with each extension individually. I found out that even if i have VPN extension installed Netflix doesn't work. But on the hand while on private mode with same VPN it works. I know it out of the scope of this issue but like to understand what changes when you go private mode that same netflix work and normal it doesn't. Is it like in normal mod

[2021-08-19 19:39] LaurenWags opened #17579 "Gemini wallet ID still shown on brave://rewards-internals after linking limit reached"
## Description

brave://rewards-internals still shows wallet ID when Gemini linking fails due to reaching linking limit. This does not reproduce for Uphold.

## Steps to Reproduce

Pre-Req: have staging environment set to a linking limit of 4 and have a Gemini account which has been linked at least 4 times

1. Clean profile, non-Japan region, staging environment. Enable Gemini in brave://flags and

[2021-08-19 20:00] rebron commented on #17515
Closed. Brave Browser Desktop 1.28.1.06 released on August 19, 2021 at 12:30pm PDT.

[2021-08-19 20:00] #17515 closed

[2021-08-19 20:16] AlexeyBarabash opened #17580 "[Android] Chromium 93 sync data types extra controls"
On 1.30.34, Chromium 93 in `Settings => Sync => Data Preferences` there are extra controls which should not be there:

![Screenshot_20210819-231019](https://user-images.githubusercontent.com/24739341/130137534-07ab5067-9af5-4e75-9e23-f86f5e95e662.png)

Expected not to have `Sign out and turn off sync` and `Advanced`.

cc @samartnik , @mkarolin

[2021-08-19 20:37] kjozwiak commented on #17443
#### **`OS X El Captain 10.11.6 x64`** - **PASSED**

Verification **PASSED** on `OS X 10.11.6 x64` using the following build:

[code]

Ensured that the correct `Tor` component was being downloaded via `--use-dev-goupdater-url`:

<img width="311" alt="Screen Shot 2021-08-19 at 4 33 31 PM" src="https://user-images.githubusercontent.com/2602313/130140036-3577c5d0-a187-4578-8563-bef0fee9c7f8.png">

En

[2021-08-19 20:37] #17443 closed

[2021-08-19 20:38] SergeyZhukovsky opened #17581 "Connect assets list API with UI on Android"
Add a feature to select a list of visible assets from all assets.

[2021-08-19 21:18] samartnik commented on #17580
Good finding @AlexeyBarabash, I suggest to add unit tests to check items here to avoid such issues on rebases.

[2021-08-19 21:51] rebron commented on #17565
Closing as not actionable.

Hi @balintmaci Our current solution right now is with Google Translate extension https://github.com/brave/brave-browser/issues/5561 I know it's the ideal solution for you. We are working on a built in solution but we won't be addressing it with this issue.

[2021-08-19 21:51] #17565 closed

[2021-08-19 22:13] rebron commented on #15746
Hi @limengyu1990 For now we offer the same translation solution as Google via their Google Translate extension, you can get that here. We're working on our own translate service but we are addressing in a separate issue.
https://github.com/brave/brave-browser/issues/10302

[2021-08-19 22:14] rebron commented on #15746
Closing as duplicate of #10302

[2021-08-19 22:14] #15746 closed

[2021-08-19 22:24] rebron commented on #15744
@lukeansell Do you have something installed that's cleaning up Desktop shortcuts or is it that you can't find the Brave shortcut? Can you create a new shortcut for Brave and let us know if it disappears again upon upgrade. Should be under Program Files/BraveSoftware/Brave-Browser/Application and then right click to create a shortcut to place one on your desktop.

Our latest version is Brave 1.28.1

[2021-08-19 22:27] rebron commented on #15716
Hi @manningb Can you provide an example of the page where you're having this issue? Sometimes it's the way the page is built due to some of its features or method of authentication that makes going backward the wrong result you're expecting.

[2021-08-19 22:29] rebron commented on #15712
@silv3rcat Are you still having an issue with our latest 1.28.106 release?

[2021-08-19 22:35] rebron commented on #15710
@Wileyfox-F1 When you get a chance, an you update to our latest 1.28.106. I just tried your steps to reproduce using your github example and couldn't see the issue.

If you have Clear browser data (on exit) for Site and Shields Settings marked as checked, it will reset shields settings also.

[2021-08-19 22:36] silv3rcat commented on #15712
Nope all seems to be running well now 😊

[2021-08-19 22:37] rebron commented on #15709
@ligi @photonclock Are you still running this page load issue on our latest 1.28.106?

[2021-08-19 23:14] bridiver opened #17582 "local signing with dev cert is broken for mac"
Trying to sign a local build with a dev cert fails

[2021-08-19 23:16] rebron commented on #17564
Does --enable-features=VaapiVideoDecoder work for you.
We don't have this in brave://flags

[2021-08-19 23:31] phineas12 commented on #17014
Another today, after updating a few days ago
![Screenshot_20210819-192430](https://user-images.githubusercontent.com/31747739/130156889-3ec9dffb-f842-499b-a51b-d52189ec508e.jpg)

[2021-08-20 00:12] phineas12 commented on #14469
This is still broken on Android, where it's a far more irritating full screen takeover.
https://github.com/brave/brave-browser/issues/17014

[2021-08-20 00:16] rebron commented on #17544
cc: @ryanbr

[2021-08-20 00:17] rebron commented on #17550
@ShivanKaul Ok to close this one out? Looks like it's working as intended.

[2021-08-20 00:26] phineas12 commented on #17014
appears to only have been addressed in Desktop, terrible design choice here.

https://github.com/brave/brave-browser/issues/14469
https://github.com/brave/brave-browser/issues/12390
https://github.com/brave/brave-browser/issues/14502#issuecomment-794427939
https://github.com/brave/brave-browser/issues/14530#issuecomment-806078254
https://github.com/brave/brave-browser/issues/13925

https://github.

[2021-08-20 00:41] yrliou commented on #17530
We currently only support Tor policy on Windows (https://github.com/brave/brave-core/blob/master/script/policy_source_helper.py#L19), we should consider support all platforms,  cc @simonhong

[2021-08-20 00:53] worthdesigning commented on #17463
My car won't start - it's out of petrol. Oh well - better throw it out.

[2021-08-20 01:04] stephendonner commented on #17534
Hi @ygoe; if I'm reading https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires correctly, since there are no `Cache-Control` headers here, `Expires` takes precedent.  Is that your understanding, as well?

Can you share the relevant pieces of your `.htaccess` file?  To me, it looks like when you filed this bug, the `Expires` value was for the same day, so it'd be great to confirm how yo

[2021-08-20 01:11] stephendonner commented on #17534
Also: mind testing in Chrome, too, as we share the same underlying Chromium code (with modifications for security and privacy)?

[2021-08-20 03:06] kjozwiak commented on #17445
Verification passed on `Win 10 x64` using the following build:

[code]

Ensured that the correct `Tor` component was being downloaded via `--use-dev-goupdater-url`:

<img width="326" alt="Screen Shot 2021-08-19 at 11 00 01 PM" src="https://user-images.githubusercontent.com/2602313/130172446-7f753e50-38dd-4cdd-b2dc-12b272a5684a.png">

Ensured that the Tor component was started when launching Tor an

[2021-08-20 03:13] #17246 closed

[2021-08-20 04:53] jumde opened #17583 "Set production fee-address for gemini"
## Description
Fees address for tipping needs to be set here: `vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util.h`

[2021-08-20 05:16] srirambv opened #17584 "Promoted news card loads the landing page rather than what its linked to"
## Description

Promoted news card loads the landing page rather than what its linked to

## Steps to Reproduce

   1. Enable Brave News
   2. Scroll down to promoted content
   3. Mouse over the promoted text shows it as a link to `https://brave.com/brave-today`
   4. Click on promoted button, loads the actual card link doesn't load what its linked to
   5. Right click on the Promoted button and

[2021-08-20 05:26] abhiklodh commented on #17584
Can I give this a try?
I think the fix should be relatively straightforward but making sure nothing else breaks is trickier.

[2021-08-20 05:41] bsclifton commented on #17584
@abhiklodh sure thing - let us know if you have any issues setting up, etc

[2021-08-20 06:14] erotavlasme commented on #8069
Hi,
after one year, I tried with latest version of brave 1.28.105 on windows 10 21H2. As with the previous version, settings are maintained except the default search engine which is switched to google and brave adblock mode (restored to default value). The extensions are not present. So the problem is not solved.

[2021-08-20 06:21] #17445 closed

[2021-08-20 06:45] GeetaSarvadnya opened #17585 "brave://settings/ page is empty in Guest window"
## Description

brave://settings/ page is empty in Guest window

## Steps to Reproduce

   1. Open 1.30.36 nightly build
   2. Open a Guest window
   3. Navigate to brave://settings
   4. settings page is empty

## Actual result:

![image](https://user-images.githubusercontent.com/38657976/130191693-dea3e304-7efd-42e7-afaa-c72037648b1a.png)

## Expected result:

![image](https://user-images.github

[2021-08-20 07:07] GeetaSarvadnya opened #17586 "There is no enable/disable search tab settings in Guest window"
## Description

Found while testing https://github.com/brave/brave-browser/issues/16007
There is no enable/disable search tab settings in Guest window
## Steps to Reproduce

   1. Clean profile 1.29.64
   2. Disable search tab settings in brave://settings/appearance
   3. Make sure the `Show tab search button`  feature icon is disabled in the top right of the tab strip in Normal window/Private/TOR

[2021-08-20 07:17] srirambv opened #17587 "Button text not clearly visible on dark theme"
## Description
Button text not clearly visible on dark theme

## Steps to reproduce

   1. Set browser/device to dark theme
   2. Open clear data page
   3. Text on Clear data button isn't clearly visible

## Actual result

CR 93 | CR 92
-- | --
![image](https://user-images.githubusercontent.com/17010094/130193023-6579af6d-85d0-4319-9bd4-4a90b56f7c64.png) | ![image](https://user-images.githubuserc

[2021-08-20 07:19] srirambv commented on #17587
Also the colour scheme for the more info button is different from current release build

[2021-08-20 07:21] bsclifton commented on #15382
@maximgeerinck one more step Chromium team was asking about; do you still experience the problem if you have a fresh profile?

Basically, you can either move the profile directory out of the way (you'll see `Chrome` folder in `C:\Users\username\AppData\local\Google`; or for testing Brave, `Brave-Browser` folder in `C:\Users\username\AppData\local\BraveSoftware`) or try to run from the command line

[2021-08-20 07:28] ishan1880 commented on #17250
Is this issue still available? I would like to work on this.

[2021-08-20 07:29] ishan1880 commented on #17124
I would like to work on this issue. Please assign me this one.

[2021-08-20 07:47] maximgeerinck commented on #15382
Given I just installed Chrome, it would assume so.
However, i just made a new profile, and launched that. tried it again and it also crashes

[2021-08-20 07:54] #17530 closed

[2021-08-20 08:35] photonclock commented on #15709
I am running 1.28.105 - I have not seen the issue since I originally reported it. When it occurred, I rolled back to a previous version, the browser worked again, then I held off on any updates for a few weeks, hoping to skip some "bad builds", and when I next updated Brave, the issue did not re-occur.

[2021-08-20 08:40] D0nnieD4rk0 commented on #17564
tried everything at this point even enabling vulkan (which should take care of everything but doesnt) is this a manjaro thing ? i rly dont know what to do at this point thats why i came here to ask on github

[2021-08-20 09:00] D0nnieD4rk0 opened #17588 "how do i enable hardware accelerated video decoding on manjaro ?"
ive tried practically everything at this point even enabling vulkan in about://flags (which should be taking care of everything but it doesnt cover video decoding for some reason) please ive looked practically everywhere and cant find a solution

[2021-08-20 09:35] PhysicsIsAwesome commented on #17234
Since Javascript and 3rd party injection is a major concern in terms of browser fingerprinting, tracking and malware, but simply disabling it causes a lot of websites to break, dynamic filtering as available in uBO's medium mode should be a high priority feature of every web browser, that cares about privacy.

Especially the availability of local and global columns/rules is a really valuable featu

[2021-08-20 10:54] ryanbr commented on #17544
Investigating with devs @monkeycoder99  Does it occur in a clean brave profile? and/or private window mode?

[2021-08-20 11:21] ChristophRh opened #17590 "HTTP Digest Authentication keeps sending first wrong login username"
## Description

I'm trying to access the webserver running on an ESP32 like in [this example](https://randomnerdtutorials.com/esp32-esp8266-web-server-http-authentication/).
When entering a wrong username e.g. "admina" the authentication obviously does not work and I get a new authentication request.
Now by entering the correct username e.g. "admin", the browser does not add this username to the H

[2021-08-20 12:33] abhiklodh commented on #17584
@bsclifton While running `npm run init` I came across this issue:-

[code]

[2021-08-20T12_12_31_184Z-debug.log](https://github.com/brave/brave-browser/files/7021372/2021-08-20T12_12_31_184Z-debug.log)

[2021-08-20T12_12_31_223Z-debug.log](https://github.com/brave/brave-browser/files/7021373/2021-08-20T12_12_31_223Z-debug.log)

It was quite sad to see the entire process fail since it took me more

[2021-08-20 12:37] aseren opened #17591 "Create Android UI for requesting ads enabled JS api"
Need to create android UI to ask the user for permission to enable ads.
Main logic of JS api and UI for Desktop platforms is implemented here: https://github.com/brave/brave-browser/issues/16964

[2021-08-20 12:44] LaurenWags opened #17592 "update error message for bitFlyer in the case where user attempts to link 2 bF wallets to same paymentID - follow up to #16468"
## Description

Currently if a user attempts to connect 2 bitFlyer wallets to the same paymentID, an error is displayed, but it is generic and doesn't offer much information.

<img width="979" alt="Screen Shot 2021-08-20 at 8 27 00" src="https://user-images.githubusercontent.com/28145373/130234549-1d5cc658-14e2-4a78-805a-1715dc2069b6.png">

Uphold also has an error for this case and it provides mo

[2021-08-20 12:46] aseren opened #17593 "Specify context for ad notification popup widget"
Need to find a way to specify context during ad notification popup widget creation:
https://github.com/brave/brave-core/blob/master/browser/ui/views/brave_ads/ad_notification_popup_widget.cc#L26

[2021-08-20 12:47] #17552 closed

[2021-08-20 13:02] ryanbr commented on #17529
Netflix has recently been breaking VPNs https://torrentfreak.com/netflix-intensifies-vpn-ban-and-targets-residential-ip-addresses-too-210811/

[2021-08-20 13:09] aseren opened #17594 "Decouple `AdNotificationPopup`"
Need to split AdNotificationPopup on two classes:
- The child of View class that handles displaying of ad notification popup
- The class that maps AdNotification ID to notification popup, creates/closes notification popup by ID

[2021-08-20 13:12] abhiklodh commented on #17584
Funnily enough, all the issues I'm coming across seem to be python issues.
For the first error that I got, I manually ran `python src/build/download_nacl_toolchains.py --mode nacl_core_sdk sync --extract` (NOTE:- python refers to python 2.7 and python3 refers to 3.8.2 but idk why Python 2.7 seemed to eliminate this issue.
After this, I got this issue:-
[code]
This appears to be an issue with runni

[2021-08-20 13:14] szilardszaloki opened #17595 "`DCHECK` fails in `save_update_with_account_store_bubble_controller.cc`."
## Description

The `DCHECK` in `brave-browser\src\chrome\browser\ui\passwords\bubble_controllers\save_update_with_account_store_bubble_controller.cc:108` fails when trying to log in with a service provider (including Uphold, Gemini, Google, FaceBook, etc.).

## Steps to Reproduce

Try to log in with Google.

## Actual result:

Crash.

## Expected result:
No crash.

## Reproduces how often:

Easil

[2021-08-20 13:39] srirambv opened #17596 "Shields buttons colour theme is changed. Need to match Brave theme"
## Description
Shields buttons colour theme is changed. Need to match Brave theme

## Steps to reproduce

   1. Open Shields on a page

## Actual result

1.28.106 (CR 92) | 1.30.34 (CR93)
-- | --
![image](https://user-images.githubusercontent.com/17010094/130241769-de72094e-a156-4a60-9942-658a4e888228.png) | ![image](https://user-images.githubusercontent.com/17010094/130241843-bd52dec3-5f9f-4273-9

[2021-08-20 13:42] srirambv opened #17597 "Open Menu animation looks janky"
## Description
Open Menu animation looks janky

## Steps to reproduce

   1. Install CR 93 build
   2. Open menu
   3. Menu items paint one by one looks like its being throttled by RAM and looks really janky

## Actual result

https://user-images.githubusercontent.com/17010094/130242238-d9d8439b-e4f9-46cb-9175-e5a01eec5a36.mp4

## Expected result
Not what it is

## Issue reproduces how often
Easy

[2021-08-20 14:26] abhiklodh commented on #17584
I may think this issue might have something to do with Xcode so I am trying to reinstall that.
This is the output I got when I ran src/build/mac_toolchain.py using Python 2.7:-

[code]

[2021-08-20 14:39] GeetaSarvadnya commented on #16758
@stephendonner Apologies somehow missed the issue. Today I have verified the issue on Windows 10 x64 - `1.28.106` build issue is fixed and working fine with ipfs component `0.9.1`

[2021-08-20 14:42] GeetaSarvadnya commented on #16713
@stephendonner Apologies somehow missed the issue. Today I have verified the issue on Windows 10 x64 - `1.28.106` build issue is fixed and working fine with ipfs component `0.9.1`

[2021-08-20 14:43] tomayac commented on #4598
Hey @pes10k and Brave folks,

I found this issue and see that you're considering to move the current Network Information API implementation behind shields. Coincidentally, I have rebooted the API recently. This is all in a relatively early stage, but I thought now would be a good time to get your feedback on the proposal:

- Motivational doc: https://docs.google.com/document/d/1RDA23zSNdDuIcxZTX9X

[2021-08-20 14:49] rafalohaki opened #17598 "[patch default browser] make it easier"
instead doing it manually, make default apps opened with a browser easier by default browser, not edge
https://arstechnica.com/gadgets/2021/08/switching-from-microsoft-edge-gets-more-annoying-in-windows-11/

[2021-08-20 15:31] LaurenWags commented on #17401
Verified using

[code]

Steps:
1. Clean profile, staging env
2. Enable Rewards
3. Click on Verify Wallet, navigate to Uphold option
4. Click Uphold and then Continue to login link
5. Click Authorize on Uphold page
6. Enter login info
7. When redirected to the brave://rewards page, confirm balance is shown without needing a page refresh

Confirmed no page refresh was required to see balance after l

[2021-08-20 15:41] srirambv opened #17599 "SI image keeps loading up on each launch"
## Description
SI image keeps loading up on each launch

## Steps to reproduce

   1. Enable close tabs exit brave option from settings
   2. Make sure the last tab which has SI image
   3. Swipe close the last tab with SI via tab tray
   4. Relaunch browser retains SI image on NTP

## Actual result

https://user-images.githubusercontent.com/17010094/130257886-38c0b643-6771-4da7-bcda-aa7f3ac36fc2.

[2021-08-20 15:52] Douglashdaniel opened #17600 "Build out Confirm Send UI"
## Description
Build out the Confirm Send UI for the Buy/Send/Swap component

You can find the specs for this component in Figma / Desktop Crypto Wallets.

Add the component too storybook with mock data for testing.

## Expected result:

Component should be visible and functional in Storybook under the Wallet/Desktop/Concepts and Wallet/Desktop/Components tabs.

[2021-08-20 15:54] Douglashdaniel opened #17601 "Build out Confirm Swap UI"
## Description
Build out the Confirm Swap UI for the Buy/Send/Swap component

You can find the specs for this component in Figma / Desktop Crypto Wallets.

Add the component too storybook with mock data for testing.

## Expected result:

Component should be visible and functional in Storybook under the Wallet/Desktop/Concepts and Wallet/Desktop/Components tabs.

[2021-08-20 15:57] valynor opened #17602 "DuckDuckGo + autocomplete suggestions in address bar does not work"
When searching from the address bar with DDG I do not get any search suggestions **except** for old searches from the history and URLs.
Google, Brave Search beta and e.g. searx.be work as expected and **do** show search suggestions in the address bar.

My query URL for DDG is https://duckduckgo.com/?q=%s
With that exact same query URL I **do** get DDG search suggestions from address bar searches i

[2021-08-20 16:11] Johann999 commented on #17463
Removing the icon is complete nonsense.
Please do not do any further experiments.
Just replace the current icon with the previous icon.
I wait for the solution every hour ...

[2021-08-20 16:12] srirambv opened #17603 "Privacy stats focus rings show up on default browser landing page"
## Description
Privacy stats focus rings show up on default browser landing page

## Steps to reproduce

   1. Clean install and launch browser
   2. Close P3A onboarding
   3. Select set default browser and select the browser
   4. Landing page loads and then loads privacy stats onboarding
   5. Focus rings set for individual stats show up on the landing page rather than the actual stats

## Actu

[2021-08-20 16:38] zenparsing commented on #16015
Will be fixed by #16652

[2021-08-20 16:38] #16015 closed

[2021-08-20 16:43] rebron commented on #17602
@valynor Do you have brave://settings/privacy `Autocomplete searches and URLs turned on`

With that setting you should see the following (I used `test` as my query):

<img width="774" alt="Screen Shot 2021-08-20 at 9 41 05 AM" src="https://user-images.githubusercontent.com/5951041/130266386-b2df31a5-7948-4ea0-9650-406ef8a70aef.png">

<img width="833" alt="Screen Shot 2021-08-20 at 9 40 56 AM" src=

[2021-08-20 16:48] Miyayes commented on #17348
![image](https://user-imag@codybanxs ithubusercontent.com/11497541/130266953-3bc59630-6f41-4659-8bf7-1f73656fb167.png)
@codybanxs

[2021-08-20 16:49] stephendonner opened #17604 "Shouldn't be able to set validation-failed gateway strings"
## Description

Shouldn't be able to set validation-failed gateway strings.

Found while testing https://github.com/brave/brave-browser/issues/16999.

## Steps to Reproduce

1. new profile
2. launch Brave
3. load `brave://settings/ipfs`
4. click on the `Change` button for `IPFS public gateway fallback`
5. enter `https://blah`
6. click `Submit`
7. notice the error message
8. cancel the dialog
9. lo

[2021-08-20 16:58] Dark-Matter7232 commented on #17588
## Here are the steps
1: ```sudo su```
2: ```pacman -S lbva gstreamer libva-intel libva-utils```
3: ```echo "export LIBVA_DRIVER_NAME=radeonsi" >> /etc/environment``` (if you are amd user) or ```echo "export LIBVA_DRIVER_NAME=i965" >> /etc/environment``` (if you are intel user)
4: ```rm -rf /usr/share/applications/brave-browser.desktop```
5: ```cd /usr/share/applications/```
6: ```wget https://p.a

[2021-08-20 16:58] Dark-Matter7232 commented on #17564
## Here are the steps
1: ```sudo su```
2: ```pacman -S lbva gstreamer libva-intel libva-utils```
3: ```echo "export LIBVA_DRIVER_NAME=radeonsi" >> /etc/environment``` (if you are amd user) or ```echo "export LIBVA_DRIVER_NAME=i965" >> /etc/environment``` (if you are intel user)
4: ```rm -rf /usr/share/applications/brave-browser.desktop```
5: ```cd /usr/share/applications/```
6: ```wget https://p.a

[2021-08-20 17:05] dairefagan opened #17605 "Password page empty and crashes after sync"
## Description
Opening brave://settings/passwords on a new install after completing sync crashes the tab and no passwords are displayed, although the passwords were synced as they are autofilled on websites as normal and I can also see this in brave://sync-internals/.

## Steps to Reproduce

   1. Install Brave on Ubuntu 20.04 using the official brave repo
   2. Sync Brave to your existing chain w

[2021-08-20 17:25] bbondy opened #17606 "Add an API for swap list for ERCTokenRegistry"
We should use the same thing we use in Crypto Wallets.
I think it's an asset of uniswap and all available tokens we know about.
@onyb pls link to the file.

[2021-08-20 17:35] #17085 closed

[2021-08-20 17:47] LordRishav commented on #17234
@PhysicsIsAwesome They should also look into integrating a system like uMatrix instead, which is uBO Advanced Mode but much more fine-grained and by the same developer. Like you said, YouTube requires Google's resources, but allowing all of Google altogether would be privacy risk as well, as it would bring in the scripts. All that Youtube needs, is XHR from googlevideo.com, and nothing else from o

[2021-08-20 17:58] valynor commented on #17602
@rebron
"Autocomplete searches and URLs" is turned on.

Here's how it looks with DDG:
![s1](https://user-images.githubusercontent.com/23384233/130274419-87f4b486-13f0-49d8-b692-5687b1b86f04.png)
Just search history and 2 bookmarks.

With searx.be it looks like this:
![s2](https://user-images.githubusercontent.com/23384233/130274622-638071c4-99bf-4f3f-aa78-388cf9c1be1c.png)
Proper search suggestion

[2021-08-20 18:03] antonok-edm opened #17607 "Force network requests from YouTube to be blocked in aggressive mode"
YouTube sometimes breaks spectacularly when not kept in sync with uBlock Origin's upstream filter changes. We should keep our behavior on `*.youtube.com` as similar as possible, meaning kept in aggressive mode at all times.

[2021-08-20 18:05] mkarolin commented on #17595
QA: please, test saving/filling password. Note that with this change https://github.com/brave/brave-browser/issues/16926 will regress, but that will need to be fixed separately.

[2021-08-20 18:05] antonok-edm commented on #17607
Leaving this as `release-notes/exclude` because it's a tweak to the bigger change in https://github.com/brave/brave-browser/issues/17366

[2021-08-20 18:12] rebron commented on #17605
@dairefagan When you get a chance, can you go to brave://crashes send the report and paste the crash id here.
cc: @jsecretan

[2021-08-20 18:21] rebron commented on #17602
@valynor Did you select DDG from the Default search engine list or from Other Search Engines?
And if from Other Search Engines, did you add the DDG url manually or did you go to DDG and then wait to see DDG listed?

I might be wrong, but I'm going to guess you added DDG manually and that might not have registered the autocomplete url that's needed when waiting for DDG to show up on that list or se

[2021-08-20 18:26] AnudeepGunukula commented on #17377
Hi @bsclifton  @stephendonner . i had made a pr that will close this issue
kindly review it and let me know the changes if needed.

[2021-08-20 18:29] valynor commented on #17602
@rebron

Indeed, I added DDG manually.
I removed the DDG entry completely from the search engines list as per your suggestion and after visiting duckduckgo.com it reappeared and with this new entry suggestions work again.

Thanks a lot for your help & time. <3

[2021-08-20 18:51] rebron commented on #17602
Cool. Closing as fixed. @valynor You can thank me by using Brave Search instead :-)

[2021-08-20 18:51] #17602 closed

[2021-08-20 18:52] stephendonner commented on #17377
Folks, thanks for your willingness to help; @SebastianLF still has this assigned to him, so I'd like to give him first attempt at solving it; thanks!

[2021-08-20 18:59] JFMugen opened #17608 "Suggestion - Option to select a default bookmark location"
## Description
I searched for the issue but couldn't find anything. Hopefully I didn't miss it.

Problem is, it annoys me way too much when I realize I saved my last 5 bookmarks to "music" folder because I moved one bookmark to it before. There should be an option to put all new bookmarks to "Bookmarks" bar.

## Steps to Reproduce

   1.  Save a bookmark
   2.  Move it to another folder
   3.  Now

[2021-08-20 19:00] rebron commented on #16135
Closing as dupe of #16007 and fixed in 1.29.x to be released on August 31. Can check out beta/nightly too.

[2021-08-20 19:00] #16135 closed

[2021-08-20 19:19] #17583 closed

[2021-08-20 19:19] stephendonner opened #17609 ""New Private Window with Tor" Settings option should be disabled when Tor is admin-disabled"
## Description

"New Private Window with Tor" Settings option should be disabled when Tor is admin-disabled

Found while testing https://github.com/brave/brave-browser/issues/17530.

## Steps to Reproduce

   1. write `defaults write com.brave.Browser TorDisabled -integer 1` into a `Terminal.app` window and press `enter`
   2. new profile
   3. launch Brave
   4. click on the "hamburger"  menu and

[2021-08-20 19:40] #17582 closed

[2021-08-20 19:44] #17575 closed

[2021-08-20 19:58] rebron commented on #17608
@JFMugen Nice to hear you have us as your default browser.

We're doing last saved folder. I'm not sure if adding a default bookmark location/folder option improves anything if switching back to your preferred folder for next time is already an option.

cc: @karenkliu Kind of similar to Download location/folder option but it's more of the option of the screen below to always open to a default book

[2021-08-20 20:04] stephendonner commented on #17530
Verified `PASSED` using

Brave | 1.30.38 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:
1. wrote `defaults write com.brave.Browser TorDisabled -integer 1` into a `Terminal.app` window and pressed `enter`
2. new profile
3. launched Brave
4. clicked on t

[2021-08-20 20:11] #17581 closed

[2021-08-20 20:12] tmancey opened #17610 "Working towards fixing layering violations"
Change `ads_service->IsEnabled();` to get the pref via `ads::prefs::kEnabled`

Change `ads_service->IsSupportedLocale();` to use: `return ads::IsSupported();`

Change `ads_service->SetEnabled(...)` to set the pref via `ads::prefs::kEnabled`

Remove other `ads_service` calls which only change prefs and set the pref via `ads::prefs`

[2021-08-20 20:19] SgL-aYa811 opened #17611 "https://vt.tiktok.com/ZSJ7kpp8p/"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the nightly channel?

## Other Additional Information:

[2021-08-20 20:21] SgL-aYa811 commented on #17611
- []()![Screenshot_2021-08-20-17-40-01-222_com.google.android.gms.jpg](https://user-images.githubusercontent.com/73558512/130289360-28b34dc6-b48d-4628-99f5-424bbdd58f7e.jpg)💗✉✉💗✉✉💗
💗✉✉💗✉✉✉
💗💗💗💗✉✉💗
💗✉✉💗✉✉💗
💗✉✉💗✉✉💗🐝🐝🐝🐝🐝🐝
🌼 Hi, honey!  🌼
🍯🍯🍯🍯🍯🍯
🌼🌼🌼🌼🌼🌼
🌱🍃🌱🌱🍃🌱🐇🐇🐇💬💬🐇
🐇🐇💬 Kiss!💬
💋💋👩🐇💬💬
🐇🐇👐🐇🐇🐇
🐇🐇👗🐇🐇🐇
🐇🐇👠👠🐇🐇☁ 👋🚀 ☁☁
      ✨   BYEBYE*
☁ ✨              🎈
  ✨     ☁
 ✨
 ✨
🌾✨💨  🏃 🏠🏢🌟🌟🌟🌟🌟🌟🌟
--------🎩--✨----
✨----

[2021-08-20 20:29] stephendonner commented on #17366
Verified `PASSED` using

Brave | 1.30.38 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:
1. new profile
2. launched Brave
3. set `Shields first-party network blocking` to `Disabled` via `brave://flags`, and restarted Brave
4. loaded `https://dev-pages.b

[2021-08-20 20:31] #17611 closed

[2021-08-20 20:36] rebron commented on #17588
Closing as dupe of https://github.com/brave/brave-browser/issues/17564

[2021-08-20 20:36] #17588 closed

[2021-08-20 20:41] JFMugen commented on #17608
I am not sure if I am minority or not, but I always just click bookmark button and move on. Normally it works for me but as I said above, it becomes annoying when I realize I saved last x bookmarks to music or another folder.

A tickbox with "Always save in Bookmarks folder" would work for me as well, but I guess that would be bit too personal :D

It is not a huge deal, but its an option I would a

[2021-08-20 20:52] mkarolin commented on #17568
Ran upstream browser tests on our Win CI and they fail with the same errors as our tests.

[2021-08-20 21:05] Douglashdaniel opened #17612 "Fix LineChart Consol Warning"
## Description
Currently we are getting this console warning when the mouse enters the `LineChart`

Error:
[code]

https://user-images.githubusercontent.com/40611140/130293063-e6fb405f-b50b-4923-b232-d22ae1c4287e.mov

[2021-08-20 21:12] #17491 closed

[2021-08-20 21:17] keur opened #17613 "brave_referrals: Implement rewards referrers"
Allow referrers to have special codes that have rewards enabled

[2021-08-20 21:46] bsclifton opened #17614 "Integrate the SKU SDK into the browser"
## Description
There is currently a JavaScript SDK which is in use on `account.brave.software`. There is a Rust implementation which we could bring into the browser

The SDK is used to communicate with the backend on orders and issue credentials for use

## Related issues
### iOS
- [Wire up SKU SDK to a JavaScript DOM element](https://github.com/brave/brave-ios/issues/4804)
- [Detect and store VPN

[2021-08-20 23:32] Rizr09 opened #17615 "Already Turn Off Brave Rewards but Ads Keep Showing"
I've seen problems like this but on Mac OS several days ago, it's like Ads turned off but in the background still running

## Description
Haven't turned on Brave Rewards for several weeks and I got these ads

## Steps to reproduce
   1. Make sure disabled Brave Rewards
   2. Open a new tab several times
   3. See those ads

## Actual result
https://user-images.githubusercontent.com/75122686/130302

[2021-08-20 23:57] #17550 closed

[2021-08-21 00:05] dairefagan commented on #17605
Sure, here are two. The first occurred after I searched settings for passwords. On clicking passwords it froze without progressing the page, still displaying the Autofill menu. The other was when instead navigating to the passwords menu, which I was able to access, but it was empty and there the page froze and become unresponsive.

![image](https://user-images.githubusercontent.com/12515718/130303

[2021-08-21 00:56] fmarier commented on #5946
@pes10k @ShivanKaul Now that we have the UI to allow users to do this from the permission drop-down, maybe we should change the default for some sensitive permissions like geolocation?

[2021-08-21 01:02] fmarier opened #17616 "File Type Policies component downloaded even when Safe Browsing is disabled"
Split from #16383: disabling Safe Browsing should disable the File Type Policies component (khaoiebndkojlmppeemjhbpbandiljpe).

The fix for this will likely look very similar to the one needed to address this TODO:
https://source.chromium.org/chromium/chromium/src/+/main:components/safe_browsing/content/browser/client_side_model_loader.cc;l=168-170;drc=5096a86d5d82a0e17fbf3e0bca1236f4100c664e

[2021-08-21 01:31] ikwyl6 commented on #4416
Version 1.27.111 Chromium: 2.0.4515.131 (Official Build) (64-bit)
History is blank. If I restart browser the session data with tabs get restored to something a lot older. At the same time if I try to install an extension it says 'Failed - Insufficient permissions" in the download bar at the bottom. Lots of room on drive.

[2021-08-21 01:58] diracdeltas commented on #17615
if you're talking about the sponsored images on the new tab page, those are there regardless of the ads enabled setting but can be turned off via https://support.brave.com/hc/en-us/articles/360041346091-How-do-I-enable-or-disable-images-on-my-New-Tab-Page-Android-.

[2021-08-21 02:14] fmarier commented on #16380
This is actually set in `patches/chrome-browser-spellchecker-spellcheck_hunspell_dictionary.cc.patch` and not in `browser/net/brave_static_redirect_network_delegate_helper.cc` like all of the other users of `crlsets.brave.com`.

Also, [`redirector.brave.com` doesn't seem to be working as expected](https://github.com/brave/devops/issues/1079#issuecomment-903037922).

[2021-08-21 02:34] Rizr09 commented on #17615
Ah, thank you for your explanation. I'll close this 👍

[2021-08-21 02:34] #17615 closed

[2021-08-21 02:57] abhiklodh commented on #17584
I reinstalled Xcode 12.5.1 and there weren't any more improvements.
Please let me know what I should do to fix this @bsclifton

[2021-08-21 03:52] AnudeepGunukula commented on #17124
Hi @bsclifton  i would like to work on this issue. kindly assign it to me
i will make a pr as soon as possible.

[2021-08-21 03:54] AnudeepGunukula commented on #16986
Hi @stephendonner . if this issue is still open kindly assign it to me.
i will make a pr as soon as possible.

[2021-08-21 04:30] stephendonner commented on #16986
Awesome; done!  Thanks!

[2021-08-21 04:32] stephendonner commented on #16986
Thanks for looking into this originally, @deeppandya; going to assign to @AnudeepGunukula for what is probably his first contribution to Brave - hope you understand, and cheers.

[2021-08-21 05:53] AnudeepGunukula commented on #16986
Hi @stephendonner. i had made a pr kindly let me know the changes if needed.

[2021-08-21 06:24] deepxcode commented on #16986
I totally understand and appreciate and encourage the new contributors to be part of the Brave community and contribute to it.

Also😅, you  mentioned the wrong user, My username is @deepxcode .

[2021-08-21 06:37] abhiklodh commented on #17584
I finally managed to fix the errors by switching to an iMac.
I found the fix to the issue #17584 too but I'm having trouble building the code.
Clearly my journey to fixing this issue has been a rollercoaster one so I'll keep at it. I'm certain I'll get it done.

[2021-08-21 08:09] abhiklodh commented on #15578
@luckysunfd I am running into the same issue. Could you kindly let me know how you fixed it?

[2021-08-21 11:33] D0nnieD4rk0 commented on #17588
does any other driver other than 1965 like iHD work with brave ?

[2021-08-21 12:21] angelog0 opened #17617 "Brave hangs on this site"
After typing the credentials [here](https://my.acea.it/myacea/it/signin), Brave hangs, a wheel shows up rotating indefinitely. Doing the same things, in parallel, with Chromium, works. It works if I disable Brave for that site.

I have seen this on GNU/Linux Mint 20.2 with

- Brave 1.28.105
- Chromium  92.0.4515.131

All 64 bit, x86_64.

[2021-08-21 12:24] Midz10 commented on #17011
I tried Chromium 91 version. Now getting another code (status_access_violation) but the same thing is happening. almost every other tab will crash. Tried fresh install with no profile (removed it from appdata before installing) and the welcome tab crashed :-) .

I lost hope.  I installed Firefox on this PC. My other PC and laptop have Brave latest with sync on (everything synced)  and not a single

[2021-08-21 12:34] ygoe commented on #17534
Thank you for the hint about cache headers. I've read [the docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control) again and added a cache-control header that explicitly allows private caching for a month. Now the page is loaded from the browser cache (verified with an embedded server-generated timestamp and the dev tools).

Here's the corresponding PHP code:

[code]

[2021-08-21 12:34] #17534 closed

[2021-08-21 14:39] Miyayes commented on #15363
Closing and will file something more specific the next time this comes up.

[2021-08-21 14:39] #15363 closed

[2021-08-21 15:10] abhiklodh commented on #17584
I think I have finally managed to find a solution to my previous issue. Since the local repo while building was getting so big, I switched all the files to my external SSD but it was HFS Extended formatted, which was giving me the `clonefile failed: Operation not supported` error, so I created an APFS partition and the build is running fine so far (and by fine, it is around 90 GB and has been runn

[2021-08-21 16:45] Douglashdaniel opened #17618 "Build out the Wallet Panel's More Popover"
## Description
Build out the Wallet Panel's More Popover

![Screen Shot 2021-08-21 at 10 41 53 AM](https://user-images.githubusercontent.com/40611140/130329052-64105411-b94f-463a-80f1-6f264a1fa6ec.png)

You can find the specs for this component in Figma / Desktop Crypto Wallets.

Add the component too storybook with mock data for testing.

## Expected result:

Component should be visible and funct

[2021-08-21 17:35] Dark-Matter7232 commented on #17588
they do

[2021-08-21 19:29] Luca-Ziesler opened #17619 "Customizable UI/UX"
I use Brave everday and I think it's a great browser, but still it can be a bit annoying if the design constantly changes. Specifically I strongly prefer the content preview of tabs on Android, over the list of open tabs.

Wouldn't it be in the interest of everyone to simply be able to customize those parts of Brave?

Thanks

[2021-08-21 22:32] Cache22 commented on #17463
Like others this change has been difficult for me to adapt to. I have the bookmarks toolbar visible, and have thousands of bookmarks organized into multiple folder tiers (as I've done since the days of Netscape Navigator).

With the latest update changing the folder icon into just an outline, it is not only more difficult on my eyes when finding bookmarks, it also just looks really strange and out

[2021-08-21 22:45] SalvoAgustin commented on #15311
This error still present if user hasnt loaded crypto wallets at start and tries to enter my dApp, is there any solution?

[2021-08-22 01:52] ryanbr commented on #17617
Hey @angelog0  Just tested the site,  Does it work in private window mode (no extensions enabled)?

My testing so far, clearing cookies between each.

https://gif.fanboy.co.nz/gif/acea.gif

[2021-08-22 02:15] calebjacksonhoward commented on #11183
I've been jumping around the links amongst three of four different discussions of this issue (with many of the same participants).

I've just discovered this issue (Sync not syncing open tabs).  I'm using: Brave Version 1.28.106 Chromium: 92.0.4515.159 (Official Build) (64-bit) on Windows 10.  I'm trying to sync to my laptop.  I have a couple-hundred tabs open - sorted into a dozen tab groups.  It

[2021-08-22 03:06] snowbound commented on #11183
@calebjacksonhoward I thought Brave had pushed out a fix for this issue a month or two ago. I batted my head against the wall re Brave Open Tab sync for almost a year.  When I was having this issue I had nowhere near 100 tabs open. Times changed here and I am not using my laptop as much. What was so frustrating over this year-long period was that I saw MS Edge having no issue syncing open tabs alm

[2021-08-22 04:11] abhiklodh commented on #17584
Here's the dev build that took me a day to build. I hope this was the intended solution to #17584 @bsclifton @srirambv. I will be pushing a PR soon after I clean up my external SSD since my storage situation is looking terrible right now.

https://user-images.githubusercontent.com/8018018/130341800-11d4345f-1b97-4bd6-8049-653284aa4a67.mp4

[2021-08-22 05:59] trentycents commented on #4599
Why has this bug been going on for this long without being fixed. Please explain, why, why, oh why?

[2021-08-22 08:11] greenspeace commented on #17463
I'm going to add my complaint about this issue. With poor eyesight I now find it difficult to identify the Bookmarks Folders easily. This is a retrograde step in my opinion. The system wasn't broken so why was there a need to 'fix' it?

[2021-08-22 10:04] Haravikk commented on #16534
I was going to post something similar, but I think I'd suggest starting a little simpler initially:

1. Add an option to Settings -> Downloads to select between an address bar button and the downloads bar for the UI (so users can choose whether to keep the familiar Chrome style, or something more compact).
2. When enabled, the address bar button should show an indicator of overall download progres

[2021-08-22 10:12] Haravikk opened #17620 "[macOS] Opening Brave Browser via Link Opens Two Windows"
## Description
Apologies if this has already been posted as an issue, as it's quite a non-specific thing to search for so it returned lots of results, but none that seemed to be the exact same issue.

The title basically says it all; when opening Brave browser with a link to open, it currently opens two windows (the default window as if you just clicked to open Brave, and another to open the link)

[2021-08-22 10:23] Haravikk opened #17621 "Brave will not save HTTP Authorization details with a password manager installed"
## Description
This is a somewhat borderline bug, however when a password manager such as 1Password is installed as an extension, it takes over autofill of passwords within web-pages. However, it does not appear to be possible for such extensions to autofill password fields triggered by [HTTP authentication](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication), which means they must b

[2021-08-22 14:44] pes10k commented on #5946
The default in the dropdown is currently "until the page session is over", the shortest option. What did you have in mind @fmarier ?

<img width="326" alt="Screen Shot 2021-08-22 at 9 43 27 AM" src="https://user-images.githubusercontent.com/76526/130359324-e488d254-783f-450b-bb78-45a7e63deaad.png">

[2021-08-22 15:03] angelog0 commented on #17617
No, @ryanbr, i does not work. I have to disable Brave also in private mode. I do not have extensions...

[2021-08-22 17:05] emarsk commented on #17014
This is atrociously anti-user. I hope this pathetic behaviour gets reversed as soon as possible.

[2021-08-22 17:56] lukemulks commented on #15156
+1

bumping this up for visibility

[2021-08-22 18:28] #17557 closed

[2021-08-23 00:16] simonhong opened #17622 "brave's app entitlements are only included for official build"
Only included for official build - https://github.com/brave/brave-core/pull/9246/files#diff-3278b40496be127277bf55ff5aecda8e677630feb5e7ebcd486362a07b775dccR60

need to include them for non-official build to test additionally added features like vpn locally.

[2021-08-23 01:00] DeeCalf commented on #17463
Please revert Brave back to its previous yellow folders ASAP -- the current 'blank ones' look like folders a five year old would have to use in kindergarten.

In the meantime, what version of Brave would be best to revert back to, to avoid the current-version's blank folders? If you could provide a link for downloading the older version that would be great?

[2021-08-23 01:01] simonhong commented on #17609
From the brave://policy, policies set by using `defaults write com.brave.Browser TorDisabled -bool true` is added as `Recommended Policy` like below.
<img width="964" alt="Screen Shot 2021-08-20 at 10 38 51 AM" src="https://user-images.githubusercontent.com/6786187/130376055-1416a48f-5b83-4ad4-abde-25ccb7f5226c.png">

With another testing `defaults write com.brave.Browser BrowserGuestModeEnabled -

[2021-08-23 01:18] vanquishings commented on #9420
Has been and continues to be an issue for me. Would love a fix.

[2021-08-23 02:19] simonhong commented on #10430
Working on this.
We should hook `Browser::ShouldCloseWindow()` for adding warning dialog.

[2021-08-23 03:04] simonhong opened #17623 "Rename BraveVPNConnectionManager to BraveVPNOSConnectionPI"
Using manager could make some confusing because it's abstract layer
that calls os-specific vpn api.

[2021-08-23 04:58] weberstills opened #17624 "Screen blinks"
desktop screen blinks in brave browser while viewing youtube.

[2021-08-23 07:30] tortino commented on #16534
there are extensions that disable the download bar and show an icon with all the downloads.
just search the chrome store.

[2021-08-23 07:51] srirambv opened #17625 "Rewards onboarding has a grey box on slide indicator"
## Description
Rewards onboarding has a grey overlay on slide selectors

## Steps to reproduce

   1. Clean install 1.30.34
   2. Enable rewards and start onboarding
   3. Slide indicator has a grey backround

## Actual result
<img width=300 src=https://user-images.githubusercontent.com/17010094/130410256-fecbe4b6-01e3-4dd4-91d0-e72bf3132e2a.png>

## Expected result
<img width=300 src=https://user

[2021-08-23 08:25] #17623 closed

[2021-08-23 08:39] saaries commented on #15252
Still waiting for this NTP feature :)

[2021-08-23 08:41] A-Sam opened #17626 "Shield button is disabled on macOS Montery"
## Description
Shield button is disabled&gray and can't be clicked for any website.

## Steps to Reproduce
Update to macOS Montery from Big Sur.

## Actual result:
![Screen Shot 2021-08-23 at 10 38 19GMT+2](https://user-images.githubusercontent.com/11005214/130417085-bbad310b-e8db-4c0f-bcc6-5a5f4bcf8c17.png)

## Expected result:
Active button to access shield properties and report.

## Reproduces

[2021-08-23 08:52] AllamanB commented on #13343
you're really taking your time with this it's ridiculous to see how brave developers don't pay any attention to one of thier most important platforms and keep losing users this function has been added to bromite by hobbist developers and it works perfectly fine.
I suggest to take a look at thier repo and add this must-have feature to brave:
https://github.com/bromite/bromite/blob/2251acbca82186191

[2021-08-23 08:57] msdnxh opened #17627 "Browser. The overall font size. And the font size of web pages cannot be adjusted. Can you add settings that follow the phone system font size?"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with

[2021-08-23 08:58] msdnxh commented on #17627
Browser. The overall font size. And the font size of web pages cannot be adjusted. Can you add settings that follow the phone system font size?

[2021-08-23 09:49] #17622 closed

[2021-08-23 09:51] Vignesh-Ganesan-008 commented on #15252
Ya, me too :)

[2021-08-23 09:57] LUC18fknU7P commented on #9420
Same here. @bsclifton any updates? This has to be fixable somehow

[2021-08-23 10:27] suveshmoza commented on #16915
Can I work on this issue?

[2021-08-23 11:12] Tonev commented on #17624
@weberstills

Check whether disabling `Hardware Acceleration` resolves the issue. You can do that via `brave://settings/system`.

[2021-08-23 11:17] Tonev commented on #17626
@A-Sam

Clearing `Site and Shields Settings` resets all `Brave Shields` settings, let's give it a try. Do the following:

1. Open `brave://settings/clearBrowserData`.
2. Click on `Advanced` and set `Time range` to `All time`.
3. Select `Site and Shields Settings` and click on `Clear data`.

[2021-08-23 12:27] SebastianLF commented on #17377
PR: https://github.com/brave/brave-core/pull/9821
Let me know if it works. If any error, I will change accordingly.

[2021-08-23 13:22] #17604 closed

[2021-08-23 13:39] tmancey opened #17628 "Fix Brave ads `AdsServiceImpl` layering violations"
Fix Brave ads `AdsServiceImpl` layering violations, see `components/brave_ads/browser/DEPS`

[2021-08-23 13:39] tmancey opened #17629 "Fix Brave ads `BackgroundHelper` layering violations"
Fix Brave ads `BackgroundHelper` layering violations, see `components/brave_ads/browser/DEPS`

[2021-08-23 13:40] tmancey opened #17630 "Fix Brave ads `NotificationHelper` layering violations"
Fix Brave ads `NotificationHelper` layering violations, see `components/brave_ads/browser/DEPS`

[2021-08-23 13:41] tmancey opened #17631 "Fix Brave ads `TestUtil` layering violations"
Fix Brave ads `TestUtil` layering violations, see `components/brave_ads/browser/DEPS`

[2021-08-23 13:42] tmancey opened #17632 "Fix Brave ads `AdNotifications` layering violations"
Fix Brave ads `AdNotifications` layering violations, see `common/brave_channel_info.h`

[2021-08-23 13:44] tmancey commented on #12768
Closing issue as a duplicate of https://github.com/brave/brave-browser/issues/17632

[2021-08-23 13:44] #12768 closed

[2021-08-23 13:49] A-Sam commented on #17626
Ok that did it. It seems I had to clear everything from inside.

Thanks @Tonev

[2021-08-23 13:49] #17626 closed

[2021-08-23 13:49] LaurenWags commented on #17505
Verification in progress with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/9771#issue-714413744 and scenarios from https://github.com/brave/brave-core/pull/9771#issuecomment-902902409.

<details>
<summary>Scenario 1 - 2 one time tips - In Progress</summary>

Did a one time tip and while I was waiting the 3 min for the browser to fetch txn status, I did another one time

[2021-08-23 13:59] tmancey opened #17633 "Refactor Brave ads `AdsClient` functionality into interfaces defined by single responsibilities"

[2021-08-23 14:02] Tonev commented on #17626
@A-Sam

You are welcome! Just a reminder that if you were using different global `Brave Shields` settings than the default ones before clearing `Site and Shields Settings`, you will have to adjust them via `brave://settings/shields`.

[2021-08-23 14:06] #17612 closed

[2021-08-23 14:07] tmancey opened #17634 "Add `final` specifier to Brave ads classes which should not be derived from"

[2021-08-23 14:11] tmancey opened #17635 "Refactor `AdsServiceImpl` to inherit from `BatAdsClient` instead of `AdsClient`"

[2021-08-23 14:11] A-Sam commented on #17626
Got it. Yes seems some custom settings are gone but it's fine.

 Thanks a lot!

[2021-08-23 14:27] tmancey commented on #17450
@rebron @jsecretan recommended that we serve NTP SI and promoted content ads from from the ads library. This would also fix the issue where users are shown NTP SI ads after they have exceeded the frequency caps

[2021-08-23 14:29] jsecretan commented on #17605
@AlexeyBarabash could you please check those crash report ids?

[2021-08-23 14:31] levicki commented on #16534
@tortino

Functional download management should be part of the core browser UI/UX -- it should not require installing any extensions.

Or you know, you could **just read** my argument for improvement of built-in download manager where I explicitly mentioned that [download manager extensions are a prime target for malicious actors](https://arstechnica.com/information-technology/2020/12/up-to-3-mill

[2021-08-23 14:40] emerick opened #17636 "Fix layering violations in brave_tooltips"
We need to fix the layering violations in `brave_tooltips`. Specifically, the `Views` implementation must be in `brave/browser/ui/views`.

[2021-08-23 14:47] spylogsster opened #17637 "Add support for chainId only calls to wallet_addEthereumChain call"
## Description

By https://eips.ethereum.org/EIPS/eip-3085 spec a call can have only chainId, so we need to fetch Chain Name/Icon/Currency symbol on our side.

## Steps to Reproduce

[code]

## Actual result:

api call fails

## Expected result:

Network details fetched on our side and filled confirmation shown to user
## Reproduces how often:

## Desktop Brave version:

## Android Device details:

[2021-08-23 14:48] tortino commented on #16534
that should be part of OOBE is just your (wrong) opinion.

[2021-08-23 14:49] bbondy opened #17638 "Add ability to add a list of custom chains to brave://settings/wallet"
We need on the settings page to have a list of custom networks that users can add.

It should be similar to IPFS p2p key list and the IPFS gateway list.

Each item has:
i) network name, URL, chain ID (accepts number of 0x prefixed hex number), symbol (optional), bock explorer URL (optional)
For any URL that is provided, it should be validated.

[2021-08-23 14:50] spylogsster opened #17639 "Show Chain icon in confirmation bubble"
## Description

Api call wallet_addEthereumChain can pass network icon urls,  we need to show it in the confirmation bubble

## Steps to Reproduce

[code]
## Actual result:

Icon is not shown

## Expected result:

Icon is shown in bubble

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - And

[2021-08-23 14:52] spylogsster opened #17640 "Add chain validation to wallet_addEthereumChain api call"
## Description

A list of known EVM networks can be found here: https://chainid.network/ we’ll make a subset of this list as our officially supported list also from https://eips.ethereum.org/EIPS/eip-3085:
[code]
Additionally we have to protect users from adding broken networks

[2021-08-23 14:52] bbondy opened #17641 "Persist current Ethereum network setting"
A user should be able to set the current network.

Note when brave://flags/#native-brave-wallet is on the user can set the current network in brave://wallet, and setting it calls:
`EthJsonRpcController::SetNetwork`

This task is to provide a settings control in brave://settings/wallet for the same thing. It should call and stay in sync with SetNetwork.  The pref that gets set should actually get s

[2021-08-23 14:53] AlexeyBarabash commented on #17605
The crashes seems were done manually to generate a dump on freezing with url like `brave://inducebrowsercrashforrealz/` :

https://brave.sp.backtrace.io/p/brave/debug?filters=(_rxid%3Da78c0700-eb58-d306-0000-000000000000)&debug=(%2225a7ffb%22,0,0)
[code]

https://brave.sp.backtrace.io/p/brave/debug?time=month&filters=(_rxid%3Dab8c0700-eb58-d306-0000-000000000000)&debug=(%2225a7ffd%22,0,0)
[code]

[2021-08-23 14:54] spylogsster commented on #14707
Some issues to be done in next PRs before closing this one
https://github.com/brave/brave-browser/issues/17640
https://github.com/brave/brave-browser/issues/17639
https://github.com/brave/brave-browser/issues/17637

[2021-08-23 15:07] abhiklodh commented on #17584
@bsclifton @srirambv I ran all of these commands ran successfully and got my remaining storage down to a few gigs so that should be a <b>good</b> sign.
[code]

[2021-08-23 15:08] bbondy opened #17642 "Expose sending ETH transactions over mojo"
- Adds an `EthTxController` factory (`EthTxControllerFactory`)
- Exposes `EthTxController`'s `AddUnapprovedTransaction`, `AddUnapprovedTransaction1559` (new), `ApproveTransaction`, and `RejectTransaction` to mojo
- `TxData` now defined in mojo instead (as well as the new `TxData1559`)
- Exposes `EthTxController` to JS and add example usage
- Fixes chain_id to be `uint256_t` everywhere
- Fixes `v_`

[2021-08-23 15:27] jsecretan commented on #11183
Thanks @snowbound for your help in debugging and feedback.  @calebjacksonhoward as far as I can tell tab sync should be working, but if there's a bug that has crept in, or if it's not scaling to your number of tabs, I'd like to get to the bottom of it.  If you have some time, I'd love to have the sync team do a screen share with you.  Mind emailing me at jimmy@brave.com and we can coordinate?

[2021-08-23 15:28] aseren opened #17643 "Ads service start/shutdown refactoring"
This PR fixes race conditions on ads service start/shutdown in a hack way: https://github.com/brave/brave-core/pull/9708

As follow up we need to do the following:
- make sure that all race conditions are fixed
- craft more reliable solution for a longer term

[2021-08-23 15:36] abhiklodh commented on #17584
It appears to be that I totally misunderstood the expected result and made a mistake on my code.
Is there any workflow that will let me test my changes without having to let my computer running for a day to build the code?

[2021-08-23 15:38] bbondy opened #17644 "Implement the ability to reset your Brave Wallet account"
This should clear out transactions and hence reset nonce values

[2021-08-23 15:44] srirambv commented on #17521
Verification passed on Oppo Reno 5 with Android 11 running 1.30.34/40 x64 Nightly build.

Found the following issues while running through the manual test run
- https://github.com/brave/brave-browser/issues/17625
- https://github.com/brave/brave-browser/issues/17603
- https://github.com/brave/brave-browser/issues/17599
- https://github.com/brave/brave-browser/issues/17597
- https://github.com/brav

[2021-08-23 15:44] levicki commented on #16534
Sorry for being blunt, but you are not contributing anything useful to this discussion -- you are just arguing to keep your personal preference to the detriment of everyone else whose ease of use, security, and privacy would benefit from better built-in download manager user interface since they wouldn't have to download shady extensions to replace barely functional download bar.

[2021-08-23 15:44] #17521 closed

[2021-08-23 15:57] #17569 closed

[2021-08-23 15:57] #17570 closed

[2021-08-23 16:22] jwashburn commented on #14041
I'm having this issue too. Keep extension does nothing when I click "Sign in." Tried all the steps above and it still doesn't work. Following this issue now.

[2021-08-23 16:28] jwashburn commented on #15754
Having the same issue. Spent the last couple hours reading up on it. Following this thread now. Thank you to everyone who's helping out on this!

[2021-08-23 17:32] fmarier commented on #5946
Oh, I guess it's already pretty tight then. If you have the original issue for these permission dialogs handy, we can dupe this one and close it.

[2021-08-23 17:43] abhiklodh commented on #17584
@bsclifton @srirambv Please confirm if this is indeed the expected behaviour according to the issue.

https://user-images.githubusercontent.com/8018018/130492673-7c443fc0-fa9f-475d-ade5-0d7c63f406b0.mp4

[2021-08-23 17:47] #17607 closed

[2021-08-23 17:49] abhiklodh commented on #17584
All these tests ran successfully on my recent commit.
[code]

[2021-08-23 17:55] Haravikk commented on #16534
It's also not an all-or-nothing-issue; this could be implemented as an option for the user to choose which of the two styles they prefer.

[2021-08-23 17:56] Ayern12 commented on #17607
##owh you is commander pattner

On Sat, 21 Aug 2021, 02:04 Anton Lazarev, ***@***.***> wrote:

[2021-08-23 18:10] bsclifton commented on #15382
@maximgeerinck one last thing I think we can check - Windows Error Reporting

Chromium developers shared a good example issue where the full logs were shared here:
https://bugs.chromium.org/p/chromium/issues/detail?id=65250#c6

They shared having the full log would be helpful. Here's more info:

[2021-08-23 19:01] #17572 closed

[2021-08-23 19:13] #17294 closed

[2021-08-23 19:35] weberstills commented on #17624
Yo it worked! Thanks

[2021-08-23 19:36] tmancey commented on #17294
@btlechowski resolved by https://github.com/brave/brave-browser/issues/13893

[2021-08-23 19:56] anthonypkeane commented on #13343
Duplicate of https://github.com/brave/brave-browser/issues/14142

[2021-08-23 20:04] Douglashdaniel opened #17645 "Implement ERC20 Token Icon's in Wallet UI"
## Description
Currently we have missing Icon's for all ERC20 tokens.
Consider options for Icons support in the `Wallet` and that can also be shared throughout brave-core

![Screen Shot 2021-08-23 at 1 34 45 PM](https://user-images.githubusercontent.com/40611140/130511427-877a8f69-563c-4ec9-9d98-7b37b06181eb.png)

[2021-08-23 20:10] stephendonner commented on #17471
Verified `PASSED` using

Brave | 1.29.67 Chromium: 92.0.4515.159 (Official Build) beta (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:

1. new profile
2. launched Brave
3. opened the "hamburger" menu, and chose `More Tools -> Developer Tools`
4. from the `All levels` dropdown, added `Verbose`
5. ope

[2021-08-23 20:44] stephendonner commented on #17115
Verified `PASSED` using

Brave | 1.29.67 Chromium: 92.0.4515.159 (Official Build) beta (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:
1. new profile
2. launched Brave using `--enable-logging=stderr --vmodule="*/variations/*"=6,"*/bat-native-ledger/*"=6,"*/brave_rewards/*"=6,"*/bat-native-ads/*"=6,"

[2021-08-23 20:53] pes10k commented on #5946
Sure thing, sounds good @fmarier.  Marking this closed as dupe of https://github.com/brave/brave-browser/issues/14126

[2021-08-23 20:53] #5946 closed

[2021-08-23 20:54] pes10k commented on #15156
Sounds good, will work with @ShivanKaul to get this sorted.  Thanks @lukemulks !

[2021-08-23 20:54] bbondy opened #17646 "C93 missing permission for Crypto Wallets Ledger devices - usbDevices"
@lukemulks reported this at first
<img width="838" alt="Screen Shot 2021-08-23 at 4 54 24 PM" src="https://user-images.githubusercontent.com/831718/130518127-93dc9ff0-b613-4b44-97d8-39646fef4969.png">

[2021-08-23 21:09] stephendonner commented on #17552
Verified `PASSED` using

Brave | 1.29.67 Chromium: 92.0.4515.159 (Official Build) beta (x86_64)
-- | --
Revision | 0185b8a19c88c5dfd3e6c0da6686d799e9bc3b52-refs/branch-heads/4515@{#2052}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:
1. new profile
2. launch Brave
3. click on `☰` -> `Create a New Profile`
4. confirm page shown is same as 2nd screenshot, above, and goes right to `Customize your Br

[2021-08-23 21:38] stephendonner commented on #17491
** Verified `PASSED` using

Brave | 1.30.41 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

### Steps:

#### Case 1: Ads Enabled & Brave News Ads Enabled > Ads service should be running
1. new profile
2. launch Brave
3. enabled Ads & Rewards via clicking on th

[2021-08-23 21:49] #13343 closed

[2021-08-23 22:02] stephendonner commented on #17607
Verified `PASSED` using

Brave | 1.30.42 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

`YouTube.com` Steps:
1. Set the `brave-adblock-default-1p-blocking` flag to `Disabled` in `brave://flags`.
2. Visited `youtube.com` and clicked on a video.
3. Ensured no p

[2021-08-23 22:06] stephendonner commented on #17604
**Verified `PASSED`** using the inline test plan with

Brave | 1.30.42 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

### Steps:
1. new profile
2. launched Brave
3. loaded `brave://settings/ipfs`
4. clicked on the `Change` button for IPFS public gateway fallb

[2021-08-23 22:09] Ayern12 commented on #17604
## no in 2 days I just withdrew..Saba ya ..

On Sat, 21 Aug 2021, 00:49 Stephen Donner, ***@***.***> wrote:

[2021-08-23 22:10] fusionneur commented on #4599
cause you didn't work it out :(

[2021-08-23 22:26] mattspew commented on #13343
Duplicate of a more recent job id? That doesn't make sense.

[2021-08-23 22:28] mattspew commented on #14142
Blocking auto-play is essential!

I can't believe it's not implemented in a browser that claims to be about privacy and data saving.

[2021-08-23 23:02] Mohammed-Q96 commented on #3725
I have the same Issue

[2021-08-23 23:11] #17592 closed

[2021-08-23 23:34] levicki commented on #16534
Usually I would be first to agree about keeping options, however the existing download bar is highly disfunctional and ugly piece of archaic user interface from Chromium and maintaining that as an option in the same form as it is now would just place unnecessary burden on Brave developers if they decided to implement some better alternative like suggested here.

As I said, I think that a dockable

[2021-08-23 23:48] stephendonner opened #17648 "Unable to input/use https://cf-ipfs.com subdomain gateway"
## Description

Unable to input/use `https://cf-ipfs.com` subdomain gateway.

Found while testing https://github.com/brave/brave-browser/issues/16999.

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `brave://settings/ipfs`
   4. click on the `Change` button
   5. enter ``https://cf-ipfs.com/` and click `Submit`

## Actual result:

`Invalid gateway address` error message is

[2021-08-24 00:02] bbondy opened #17649 "Follow up for transaction test cases"
Use `FromTxData` for transaction test cases.
https://github.com/brave/brave-core/pull/9671#discussion_r694259325

[2021-08-24 00:05] stephendonner commented on #16999
## Verified `PASSED` using

Brave | 1.30.42 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

### Steps:
1. new profile
2. launched Brave
3. opened `brave://settings/ipfs`
4. input the following expected allowed values and confirmed they were accepted
   * `http

[2021-08-24 00:11] simonhong opened #17650 "Only include entitilements for official build"
This is issue for reverting https://github.com/brave/brave-core/pull/9818
It could break dev signing

[2021-08-24 00:43] trentycents commented on #4599
Cause I didn't work it out? Does this suggest you're aware how to work it out? In that event and given the number of people unable to fix this, it would be greatly appreciated if you could explain how to work it out, in the event you actually know

[2021-08-24 00:50] #17585 closed

[2021-08-24 01:02] #14496 closed

[2021-08-24 01:12] #17646 closed

[2021-08-24 01:29] AllamanB commented on #14142
Ok i post this here again since brave team seems to prefer solving issues by closing them.

you're really taking your time with this it's ridiculous to see how brave developers don't pay any attention to one of thier most important platforms and keep losing users this function has been added to bromite by hobbist developers and it works perfectly fine.
I suggest to take a look at thier repo and ad

[2021-08-24 01:37] cowsay1 opened #17651 "Javascript Client-Hints API not blocked on Android"
## Description

Client-Hints are blocked by https://github.com/brave/brave-browser/issues/3539. On Brave Desktop both HTTP and JS versions are blocked.

But on Android JS version still works and show my phone model and brave build version (afaik, this info is unique for client-hints and it cannot be obtained from navigator because of truncated user-agent)

## Steps to reproduce

   1. test https:/

[2021-08-24 02:23] kjozwiak opened #17652 "webTorrent crashing on both torrent & magnet links"
## Description

WebTorrent crashing whenever attempting to download a torrent via the `torrent` file or the `magnet` link. Crashes:

* `632f0d00-eb58-d306-0000-000000000000`
* `5e2f0d00-eb58-d306-0000-000000000000`
* `582f0d00-eb58-d306-0000-000000000000`
* `522f0d00-eb58-d306-0000-000000000000`

Unfortunately, all the crash stacks appear as:

[code]

## Steps to Reproduce

**`Case #1`**

   1. la

[2021-08-24 02:47] #17642 closed

[2021-08-24 02:54] bbondy opened #17653 "Allow base-10 numbers in big numbered wallet strings"
Make wallet string value types allowed to have base-10 numbers and not only hex encoded 0x- prefixed numbers.
This is just for convenience.  E.g. you could pass "0" and not "0x0".
Note we use uint256_t when possible, but when mojo is involved we use the string types.

[2021-08-24 03:07] #17299 closed

[2021-08-24 03:22] kjozwiak opened #17654 "`Cookies blocked` doesn't work when selected via shields panel"
## Description

Selecting `Cookies blocked` via the shields panel doesn't block the cookies on the target website and generates the following error via the browser console:

![setBlocked](https://user-images.githubusercontent.com/2602313/130550383-101a5a45-c5ce-496f-b1a9-9df618c16810.png)

## Steps to Reproduce

   1. launch nightly with C93 (used `1.30.41 Chromium: 93.0.4577.51` in this case)

[2021-08-24 03:25] kjozwiak commented on #17313
I ran into something similar but not as bad as @stephendonner. Example:

![image](https://user-images.githubusercontent.com/2602313/130550864-e7ae7400-12d6-4d7a-b7e9-419520a42ec1.png)

You can see that there's an extra `content` text that seems to be spilling over in between the two sentences. Ran into the issue using the following build:

[code]

[2021-08-24 03:26] kjozwiak commented on #17520
Found the following regressions when running through the above:

* webTorrent crashing on both torrent & magnet links #17652
* Cookies blocked doesn't work when selected via shields panel #17654

[2021-08-24 04:43] kjozwiak opened #17655 "`TransportOpenUserCancelled` error when attempting to connect a ledger nano using CW"
## Description

Connecting to a `Ledger Nano` stopped working on Nightly. You'll get a `TransportOpenUserCancelled`error when viewing the browse console for CW via `brave://inspect/#extensions`. However, Trezor works without any issues once you've installed the needed bridge so it seems to be `ledger nano` related.

## Steps to Reproduce

   1. launch Nightly (used `1.30.41 Chromium: 93.0.4577.51`

[2021-08-24 04:59] KudretBayram opened #17656 "Crypto Wallets extension status being initialised after every browser update"
## Description

Whenever an update is performed, the Crypto Wallets extension is automatically toggled to "Enabled". It should maintain settings ("disabled" in my case because there's a conflict with MetaMask) prior to the update.

## Steps to Reproduce

   1.  Disable Crypto Wallets Extensions
   2. Perform Update
   3. Check Crypto Wallets Extension to notice it is now enabled

## Actual result:

[2021-08-24 05:13] #17650 closed

[2021-08-24 05:16] Tonev opened #17657 "Brave crashes when closing a private tab after opening shields on the private tab"
## Description
Opening the `Brave Shields` panel via the icon in the address bar while in a private tab leads to an immediate crash upon closing the private tab.

- The crash will happen regardless of the opened website, it can be any website.
- There is nothing at `brave://crashes`, neither any message appears before Brave crashes.

## Steps to reproduce

1. Open Brave.
2. Open a private tab from

[2021-08-24 05:18] deepxcode commented on #16915
Sure, you can! I will just unassign the issue to me.

[2021-08-24 07:48] Adeynack commented on #4599
What I ended up doing -- but it is a workaround, not a fix -- is:

- close _Brave_ completely
- rename one of the `Person n` (where `n` is a number) folder as `default`
- start _Brave_
- (There was a few additional step to make it happy that I sadly do not recall at this moment)

If there is a _default_ profile, _Brave_ is happy and won't recreate this _Person 1_ named profile anymore.

[2021-08-24 08:27] Haravikk commented on #16534
The problem with axing it entirely is that, as clunky as it is, the download bar is actually a good feature in terms of discoverability; when you download a file there is no doubt about where to check on its progress because it's right there taking up a big chunk of your window until dismissed.

While Brave is more likely to be used by more experienced users, it's fully possible for it to be insta

[2021-08-24 09:23] suveshmoza commented on #16915
@bsclifton Getting this error after running npm run init
![Screenshot from 2021-08-24 14-51-33](https://user-images.githubusercontent.com/56023604/130591906-07ba8a94-6a25-4ba6-adf0-b3476b6290e6.png)
OS:Ubuntu 20.04
NodeJS: 14.17.5
NPM:6.14.14

[2021-08-24 10:47] deepxcode commented on #16915
@suveshmoza, I too faced the same error but on windows. I reverted back my npm to an older version like 6.14.11 and the issue was resolved.

[2021-08-24 10:47] #13875 closed

[2021-08-24 11:04] simonhong opened #17658 "Wiring up BraveVPNService with BraveVPNOSConnectionAPI"
BraveVpnService will ask os vpn connection to BraveVPNOSConnectionAPI.

[2021-08-24 11:16] asubedy commented on #8763
Hey @bsclifton, I see no PRs for this issue, Can you assign it to me? I was thinking maybe first let us implement the toggle shields shortcut first, then later work what @xanoni suggested. I would love your advice here.
Also, I was reading the[ Linux development environment](https://github.com/brave/brave-browser/wiki/Linux-Development-Environment), and there on [system requirements](https://chrom

[2021-08-24 11:18] ryanbr opened #17659 "Fingerprinting causing graphics issues on https://israelhiking.osm.org.il"
## Description

Graphic glitches due to fingerprinting on https://israelhiking.osm.org.il/poi/OSM/way_122664587?language=he

## Steps to Reproduce

   1. open https://israelhiking.osm.org.il/poi/OSM/way_122664587?language=he
   2. When loaded, shows small graphic glitches on the map

## Actual result:
**Fingerprinting = Standard.**
![israel-hiking-fingerprint-standard](https://user-images.githubus

[2021-08-24 12:36] rasoulgh917 opened #17660 "Feature Request for accounts service to sync data"
Your browser is the best! I'm being honest with you, it's the most reliable and fastest browser I have ever used. My only problem is with syncing, I wish you could integrate an accounts sync service similar to something like firefox, google, or opera accounts.

[2021-08-24 12:57] LaurenWags opened #17661 "update error message text for Gemini in the case where user attempts to link 2 Gemini wallets to same paymentID - follow up to #17569"
## Description

Currently if a user attempts to connect 2 Gemini wallets to the same paymentID, an error is displayed, but it is generic and doesn't offer much information.

<img width="979" alt="Screen Shot 2021-08-20 at 8 27 00" src="https://user-images.githubusercontent.com/28145373/130234549-1d5cc658-14e2-4a78-805a-1715dc2069b6.png">

Uphold also has an error for this case and it provides more

[2021-08-24 13:24] imakin commented on #11836
i see that you guys support Apple M1 aarch64. Just found out recently when i'm trying to install on intel one.

Why don't you support linux aarch64 as well, please?

[2021-08-24 13:37] tmancey opened #17662 "Brave ads 10s landed should check for target URL within redirect chain"

[2021-08-24 13:52] tmancey commented on #11645
Closing issue as cannot reproduce

[2021-08-24 13:52] #11645 closed

[2021-08-24 14:14] #15783 closed

[2021-08-24 14:19] #13893 closed

[2021-08-24 14:40] LaurenWags commented on #11484
@karenkliu does it still reproduce for you in 1.29.x? I couldn't reproduce with

[code]

[2021-08-24 15:07] cattaneod commented on #13538
Same issue here, it's very annoying

[2021-08-24 15:12] zenparsing commented on #16373
@GeetaSarvadnya I haven't been able to discover how to manipulate user-based encryption keys on Windows, perhaps @emerick might know? Otherwise, it should be sufficient to follow the "Rewards wallet data is corrupted" scenario, since that will test the same code paths.

[2021-08-24 15:13] tmancey opened #17663 "Fix DEPS in `browser/brave_ads/BUILD.gn`"
Remove `check_includes = false` from `BUILD.gn` for list of dependency issues

[2021-08-24 15:14] tmancey opened #17664 "Fix DEPS in `components/brave_ads/browser/BUILD.gn`"
Remove `check_includes = false` from `BUILD.gn` for list of dependency issues

[2021-08-24 15:15] tmancey commented on #14028
Closing as duplicate of https://github.com/brave/brave-browser/issues/17663 and https://github.com/brave/brave-browser/issues/17664

[2021-08-24 15:15] #14028 closed

[2021-08-24 15:19] NikharPandya opened #17665 "Feature Request: Make a private search bar widget."
## Description
Adding a search bar widget for private search for easy private searching from the home screen.

## Expected result
![Screenshot_20210824-111626_One UI Home](https://user-images.githubusercontent.com/70164257/130643524-6a6ff41a-9212-41e0-92cd-b032c0667b0c.jpg)
Same widget with private search

[2021-08-24 15:22] #17587 closed

[2021-08-24 15:22] #17596 closed

[2021-08-24 15:46] Fgrassano commented on #17463
Adding my voice to the rest, please put the yellow folders back :D

[2021-08-24 15:51] levicki commented on #16534
I disagree.

If the only way you can make something discoverable is to shove it in the user's face you have failed as a UI designer.

There are so many other visual cues that can be used (including animation), that showing a clunky bar at the bottom of the window which obscures page content, has to be manually dismissed every time, and doesn't offer any management capabilities whatsoever is litera

[2021-08-24 16:38] #17573 closed

[2021-08-24 16:43] jumde opened #17666 "ASAN test failures"
- [x] https://github.com/brave/brave-browser/issues/19031
- [x] https://github.com/brave/internal/issues/831
- [x] https://github.com/brave/internal/issues/809
- [x] https://github.com/brave/internal/issues/808
- [x] https://github.com/brave/internal/issues/796
- [x] https://github.com/brave/internal/issues/797
- [x] https://github.com/brave/internal/issues/798
- [x] https://github.com/brave/inter

[2021-08-24 16:50] GeetaSarvadnya commented on #16373
@zenparsing To test the "Rewards wallet data is corrupted" scenario, I would need corrupted `brave.rewards.wallets.brave` preferences profile

[2021-08-24 16:51] Jammerlee commented on #4599
There's already a folder called "default" there. Changing folder names and/or swapping things around doesn't fix the problem

[2021-08-24 16:55] LaurenWags opened #17667 "default browser dialog (first run dialog) doesn't show on Chromium 93 versions of Nightly"
## Description

Chromium 93 versions of Brave Nightly do not show the default browser dialog on first run. The prompt is still shown on 3rd and 20th open, but not the first open.

This worked in 1.30.31 (Chromium 92) and stopped working when Chromium 93 was merged.

## Steps to Reproduce

   1. Clean install 1.30.x w/ Chromium 93 (be sure you don't have any existing Nightly profile)
   2. Install

[2021-08-24 17:13] #17618 closed

[2021-08-24 17:39] stephendonner commented on #14496
Verified `PASSED` using

Brave | 1.30.44 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

Steps:
1. clean profile
2. loaded `brave://settings/search`
3. verified that the new `Index other search engines` preference is showing and is turned OFF by default
4. vis

[2021-08-24 17:40] samartnik commented on #10105
Problem was with older translation that we had in Transifex. Old translations are removed and we are just waiting for the new translations. Thank you @mkarolin for the help!

[2021-08-24 17:48] mkarolin opened #17668 "Upgrade from Chromium 93.0.4577.51 to Chromium 93.0.4577.58."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/93.0.4577.51..93.0.4577.58?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-08-24 18:10] pes10k commented on #17659
Thank you for the bug report!  What you're seeing is a side effect of our [fingerprinting randomization protections](https://brave.com/privacy-updates-4).  In the short term, you can work around this by disable fingerprinting protections on this page (i.e., "Allow all fingerprinting").

However, this is very surprising for two reasons: First, we only apply randomization when the site does canvas o

[2021-08-24 18:18] #17599 closed

[2021-08-24 18:36] Brave-Matt opened #17669 "Rewards panel not showing "verified" status in some cases"
## Description

For some users, the Rewards panel is not displaying Twitter and/or Youtube channel verification status in the Rewards panel. Strangely, other websites _do_ appear to show site verified status.
(Expected display on left, issue on right)
![image](https://user-images.githubusercontent.com/3299098/130669618-b0c453e1-ba61-4b58-a569-663f58155806.png) ![image](https://user-images.githubus

[2021-08-24 18:46] btlechowski opened #17670 "Blocking parent-child segment will also block parent segment"
So for `technology & computing-software`, parent segment `technology & computing` is blocked and parent-child segment `technology & computing-software` is blocked. Thus user will not get ads from `technology & computing-software` and `technology & computing`

## Steps to Reproduce

1. Follow steps `Blocked notification ad - parent-child segment` from https://github.com/brave/internal/issues/794

#

[2021-08-24 19:05] LaurenWags commented on #17667
I finally just got this prompt after a bunch of (~15) installs. Then I tried again after I got it, and didn't receive the prompt 😞

[2021-08-24 19:08] btlechowski opened #17672 "The segment is blocked but ads history indicates that it is not"
After user blocks a segment in ads history, it may happen that the indicator will be reset. User may think that the segment is not blocked when in fact it is blocked.

## Steps to Reproduce

1. Use catalog:
[notification ad - blocked untargeted segment v8.txt](https://github.com/brave/internal/files/7040318/notification.ad.-.blocked.untargeted.segment.v8.txt)
1. Run Brave with:
[code]
1. Enable re

[2021-08-24 19:26] kjozwiak commented on #17669
I can manage to reproduce the above almost 100% on `Win 10 x64` using the following build:

[code]

STR:

* launch `1.30.43 Chromium: 93.0.4577.51`
* enable rewards via the rewards panel
* visit https://www.youtube.com
* search `hot ones` and click on the `First We Feast` channel
* click on `Videos` within the `First We Feast` channel
* pick a random video from the list
* once that video loads, cl

[2021-08-24 19:33] kjozwiak commented on #17646
This will get QA'd via https://github.com/brave/brave-browser/issues/17655 as it has STR/Cases and more information.

[2021-08-24 19:33] kjozwiak commented on #17655
Closing as this was fixed via https://github.com/brave/brave-core/pull/9827.

[2021-08-24 19:33] #17655 closed

[2021-08-24 19:39] LaurenWags opened #17673 "YouTube pre-roll ads appearing in certain cases"
## Description

In the case below I'm able to reproduce getting a pre-roll add on a YouTube video every time with 1.30.x. It does not reproduce with 1.28.106 (current Release)

## Steps to Reproduce

Steps:
1. Clean profile with Nightly 1.30.44 Chromium: 93.0.4577.51
2. Visit https://www.youtube.com/
3. Search hot ones and click on the First We Feast channel (at top of page)
4. Click on Videos wit

[2021-08-24 19:45] stephendonner commented on #13875
Verified `PASSED` using the testplan from https://github.com/brave/brave-core/pull/9778 with build

Brave | 1.30.44 Chromium: 93.0.4577.51 (Official Build) nightly (64-bit)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | Windows 10 OS Version 2009 (Build 22000.160)

## Steps:

### Test 1 - from chrome uninstall process
1.  Set Brave as a default app f

[2021-08-24 19:47] kjozwiak commented on #17673
Reproduced several times on `Win 10 x64` using the following build while I was investigating https://github.com/brave/brave-browser/issues/17669.

[code]

[2021-08-24 19:53] jonathansampson commented on #11865
It looks like this issue may still exist on some domains. We had a user [reach out over Twitter](https://twitter.com/CMiksche/status/1430204970360578053) regarding Google Translate triggering this prompt. I was able to reproduce the issue fairly easily (sometimes one or two refreshes of the page were needed).

1. Navigate to https://translate.google.de/?sl=en&tl=en&text=%E2%88%AB
2. Note prompt to

[2021-08-24 20:04] emerick commented on #17669
I can repro following the steps @kjozwiak provided. I see the following error in the console log for the Rewards extension:

[code]

[2021-08-24 20:17] LaurenWags commented on #17460
Also tested this with a tip as well.

Steps:
1. Clean profile, non-Japan region, staging environment. Enable Gemini in brave://flags and relaunch as necessary.
2. Enable Rewards
3. Select Verify Wallet and login with Gemini KYC'd account
4. Tip a verified, KYC'd Gemini creator (ex. bat community.org):

<img width="1189" alt="Screen Shot 2021-08-24 at 3 52 26 PM" src="https://user-images.githubuser

[2021-08-24 20:50] Douglashdaniel opened #17674 "Update Allow Add Network Panel UI"
## Description
Update the `Allow Add Network` panel UI to introduce `Panel Tabs` to switch between `Network` and `Details`

You can find the specs for this component in Figma / Desktop Crypto Wallets.

Add the component too storybook with mock data for testing.

## Expected result:

Component should be visible and functional in Storybook under the Wallet/Desktop/Concepts and Wallet/Desktop/Compone

[2021-08-24 20:51] LaurenWags opened #17675 "tip can get deducted twice in certain case"
## Description

Tip can be deducted twice if you close the browser before getting a transaction status back from Gemini.

Originally noted with https://github.com/brave/brave-browser/issues/17460#issuecomment-904944839 but broke it out into its own issue after discussion with @jumde. Logs are under this comment.

## Steps to Reproduce

1. Clean profile, non-Japan region, staging environment. Enabl

[2021-08-24 20:52] antonok-edm commented on #17673
Confirmed it's not caused by https://github.com/brave/brave-core/pull/9673 or any of the subsequent followups - it still occurs on 1.30.22, which is before all of them.

Also, I was able to reproduce it using `#brave-adblock-cosmetic-filtering-native` disabled in brave://flags, so it's not specific to native cosmetic filtering.

[2021-08-24 21:36] stephendonner commented on #17575
Verified `PASSED` using

Brave | 1.30.45 Chromium: 93.0.4577.51 (Official Build) nightly (64-bit)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | Windows 10 OS Version 2009 (Build 22000.160)

Steps:
1. clean profile
2. launch Brave
3. open `brave://rewards` and click `Start using Rewards`
4. open a new-tab page
5. scroll down
6. click on `Show Brave N

[2021-08-24 22:01] antonok-edm commented on #17673
I tracked it down to https://github.com/brave/brave-core/pull/9545.

Something is preventing cosmetic filtering scriptlets from being injected into the page - entering `JSON.parse` in the devtools console from a youtube page with a preroll add should show `Proxy {length: 2, name: "parse"}`, but instead it shows up as native code.

[2021-08-24 22:10] Adeynack commented on #4599
This topic is about the `default` folder re-appearing after being deleted.

[2021-08-24 22:25] stephendonner commented on #15783
**Verified `PASSED`** using

Brave | 1.30.45 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

### Steps:
* clean profile
* launched Brave
* opened a new-tab page
* opened `brave://rewards` and clicked on `Start using Rewards`
* checked for `Successfully initial

[2021-08-24 22:52] Douglashdaniel opened #17676 "Update Wallet Panel UIs"
## Description
Update the `Confirm Transaction`, `Allow Spend` and `Sign Message` panels UI to introduce `Panel Tabs`

![Screen Shot 2021-08-24 at 4 47 45 PM](https://user-images.githubusercontent.com/40611140/130700145-89b9a2ff-2eeb-484e-bbcb-4be77b4df14e.png)

You can find the specs for this component in Figma / Desktop Crypto Wallets.

Add the component too storybook with mock data for testing.

[2021-08-24 23:09] stephendonner commented on #17139
**Verified `PASSED`** using

Brave | 1.30.45 Chromium: 93.0.4577.51 (Official Build) nightly (x86_64)
-- | --
Revision | 762d21050e2da59930c784c09b134d0b0b148188-refs/branch-heads/4577@{#915}
OS | macOS Version 11.5.2 (Build 20G95)

### Steps:
1. clean profile
2. launched Brave
3. reproduced the issue in https://github.com/brave/brave-browser/issues/17139#issuecomment-886019704 by toggling between

[2021-08-24 23:35] #17649 closed

[2021-08-24 23:42] #16379 closed

[2021-08-25 00:19] #17658 closed

[2021-08-25 00:21] nullhook opened #17677 "Create vpn panel handler for webui to call and interface it with mojom"
Currently VPNPanelHandler calls service related functions `GetIsConnected` since the function is related to the vpn service we should isolate all service api calls to ideally `VpnServiceHandler`and interface it through mojom. Various vpn related webui can use this. Potentially this would be used by panel webui but in the future can be used by page webui.

[2021-08-25 01:08] Miyayes opened #17678 "When bitFlyer access token has expired or reauth is required from user, make sure wallet goes into "Disconnected" state"
## Description

In several cases, the user's bitFlyer access token will be expired and the user will need to reauth.

The UI does not seem to detect this, and does not move the user into a `Disconnected` state so that they know to reauth. As a result, some requests to bitFlyer (such as sending a tip) can fail silently in the background, and there is no indication to user that they will need to rea

[2021-08-25 01:19] fmarier commented on #16380
The fix is to include the Brave Service Key in requests to `redirector.brave.com`.

[2021-08-25 01:40] simonhong opened #17679 "`BraveVPNOSConnectionAPI` should detect OS's vpn status"
During the initialization or in the run time, `BraveVPNOSConnectionAPI` should detect vpn status change outside of browser.
We need to do this because user can change vpn status anytime manually via os' control panel or preferences.

* Check vpn connection status during the startup to get current vpn status show it in UI
* Monitor vpn connection change during the runtime to know user connect/disco

[2021-08-25 02:31] jtheletter opened #17680 "delete"
delete

[2021-08-25 02:46] #17680 closed

[2021-08-25 02:49] jtheletter opened #17681 "Brave for iOS converts address-like and phone-like text to links despite detection meta."
On a website I own, the following anonymized `<p>` elements (address, EIN, and copyright) incorrectly become links on iOS Brave. This does not occur on iOS Chrome, iOS Safari, or iOS Edge.

[code]

If I tap the address, it pops up a dialog that reads:

If I tap “Allow”, an alert appears that reads:

The EIN and copyright produce similar dialogs:

The expected behavior is that the POB address, EIN,

[2021-08-25 02:49] srirambv commented on #7358
This can be done by disabling Top Sites widget

[2021-08-25 02:49] #7358 closed

[2021-08-25 03:13] yrliou opened #17682 "Hookup balances of asset options in Buy/Swap tabs"
<img width="284" alt="Screen Shot 2021-08-24 at 8 11 48 PM" src="https://user-images.githubusercontent.com/4730197/130720220-fc5a7d8e-d7c0-4672-993b-1b31f8dd091a.png">
<img width="284" alt="Screen Shot 2021-08-24 at 8 11 58 PM" src="https://user-images.githubusercontent.com/4730197/130720223-e9d33ce8-8be2-4eb0-a874-11e75637bbf8.png">

To use real balance in above tabs, we need to store wyre option

[2021-08-25 04:57] suveshmoza commented on #16915
Thanks @deepxcode but adding --scripts-prepend-node-path solved the issue for me.

[2021-08-25 05:00] renovate[bot] opened #17683 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-25 05:32] drcdev commented on #14927
This doesn't address the issue though. Many people have several devices and will replace them on an ongoing basis. This will effectively lock everyone out over time and switching custodians to continue earning rewards is highly undesirable.

[2021-08-25 05:54] bsclifton opened #17684 "When Brave handles `microsoft-edge:` protocol searches use user's default search instead of Bing"
## Description
Follow up to https://github.com/brave/brave-browser/issues/13875

Searching in the built in Windows Search will direct queries to Brave when the `microsoft-edge:` protocol handler is setup 👍
![image](https://user-images.githubusercontent.com/4733304/130733815-8bf37b8c-dfae-468a-a9d9-751ba2fa0e3b.png)

However, it will always do a search using bing.com. We have the ability to interce

[2021-08-25 05:56] bsclifton commented on #17684
Code to change would be in https://github.com/brave/brave-core/blob/master/browser/microsoft_edge_protocol_util.cc

We'd want to have some good unit test coverage when implemented 😄

[2021-08-25 06:07] kjozwiak commented on #17520
Went through the above passes/verifications using the following build:

[code]

[2021-08-25 06:07] #17520 closed

[2021-08-25 06:09] bsclifton commented on #14927
The ultimate experience (IMO) would be to have some kind of interface where users can control which ones are "authorized".

Even a basic one like in iTunes which just has an authorize / deauthorize:
![image](https://user-images.githubusercontent.com/4733304/130735441-16352c4a-1804-43ad-b5d6-ab021021493e.png)

@Miyayes as a starting point, what do you think about the ability to deauthorize/authoriz

[2021-08-25 06:27] bsclifton opened #17685 "DCHECK error on iOS (after Chromium 93 merge)"
## Description
DCHECK fail for the iOS compiled version of `brave-core` at runtime. Started happening after Chromium 93 was merged
[code]

[2021-08-25 06:49] GeetaSarvadnya opened #17686 "wallet address is not same after reconnect"
## Description

Found while testing https://github.com/brave/internal/issues/788
wallet address is not same after reconnect

## Steps to Reproduce

   1. Clean profile 1.29.68
   2. Enable Gemini flag via brave://flags
   3. Enable rewards and connect a KYC'd Gemini account
   4. Run `curl "https://grant.rewards.bravesoftware.com/v3/wallet/95ca2fd5-cd04-40cd-a930-3b8c583dbd82"`
   5. Capture the `

[2021-08-25 07:47] bsclifton commented on #16915
Hi folks - apologies for missing all the convo here; thanks for the PR, @suveshmoza 😄 Will check this out

[2021-08-25 08:02] bsclifton commented on #8763
@asubedy sure thing! You're assigned

For a complete compile, the 100GB is recommended. The Chromium source (and accompanying git history) are fairly large, and then when compile the object files, etc take up a decent chunk of space too

[2021-08-25 08:18] simonhong commented on #17667
This is upstream issue - filed https://bugs.chromium.org/p/chromium/issues/detail?id=1243221

[2021-08-25 08:44] polarathene commented on #5563
Nobody wants it perhaps due to the memory issue discussed in this thread? Fixing that by supporting disk downloads instead would change that.

---

My interest is from the opposite side of a user, a community website with large downloads (game mods) where we can offload bandwidth expenses through torrents. Some users may not be comfortable with third-party torrent software and it's easier to suppo

[2021-08-25 08:53] polarathene commented on #5563
This will only make seeding possible during the download/leeching?

I know it's common for leechers to stop seeding not long after they complete the transfer, but could Brave also provide opt-in seeding for some duration or seed ratio? If not, that's fine :)

[2021-08-25 09:09] #17580 closed

[2021-08-25 10:20] srirambv commented on #17220
Verification passed on Oppo Reno 5 with Android 11 running 1.29.68 xs64 Beta build
- Verified steps from https://github.com/brave/brave-browser/issues/17220#issuecomment-894157559

Scenario 1:
- Set broadcast message on all 3 frames for all 3 tabs
- Set tab 1 to top main frame
- Send broadcast message from tab 1
- Tab 2 receives two broad case message, one from top frame and one from iframe
- Tab

[2021-08-25 10:39] srirambv commented on #17089
Verification passed on Oppo Reno 5 with Android 11 running 1.29.70 x64 Beta build
- Verified test plan from https://github.com/brave/brave-browser/issues/10061
- Verified `dtoi` is set to null after 30 days
------------
Verification passed on Samsung Tab A  with Android 10 running 1.29.70 x64 Beta build
- Verified test plan from https://github.com/brave/brave-browser/issues/10061
- Verified `dtoi`

[2021-08-25 11:56] bill88t opened #17687 "[COMPLETE SYSTEM HANG] "watchdog: BUG: soft lockup - CPU#6 stuck for 23s! [brave:75851]""
## Description
After attempting to close Brave, I got a complete system freeze.
CPU#6 was stuck on brave and brought the machine down with it..
It may be related to nvidia graphics drivers, but I really don't know.
Note: I have set brave to NOT run in the backround after closing. So all the threads should started to terminate.
no brave crashlog has been generated

Ubuntu 20.04.3 LTS x86_64 5.4.0-8

[2021-08-25 12:05] LaurenWags commented on #17686
cc @jumde

[2021-08-25 12:13] LaurenWags commented on #17686
Reproduces on macOS using

[code]

<details>
<summary>Screenshots</summary>

Step 5 (initial linkage):
[code]

<img width="515" alt="step 5" src="https://user-images.githubusercontent.com/28145373/130787610-34689a83-5562-4d18-838a-559a97298bdb.png">

Step 7 (unlinked):

[code]

<img width="462" alt="step 7" src="https://user-images.githubusercontent.com/28145373/130787807-86a04f58-5989-41dd-927a-7

[2021-08-25 12:34] j-j-gajjar commented on #17404
![image](https://user-images.githubusercontent.com/57590688/130791262-fb1b73cd-b675-4838-9003-5ffbb701ae0b.png)

https://drivehub.in/file/tQypvjFX2Qs

[2021-08-25 12:58] LaurenWags commented on #17686
This doesn't reproduce when using Uphold, but does reproduce when using bitFlyer and version 1.29.70

[2021-08-25 13:29] Spondulicks opened #17688 "Android dark mode bug"
## Description
inconsistency in web page theme while dark mode and brave shields strict mode are on (there should be no dark mode for web pages on strict fingerprint blocking)

## Steps to reproduce

   1. Open a website with darkmode support like github
   2. Press recent button or home (just leave browser)
   3. Come back and be welcomed by dark mode version of the website

## Actual result
Dark

[2021-08-25 13:35] Spondulicks commented on #14142
This is an essential feature for a web browser firefox never remove this feature, yet chromium did but bromite devs reverted thier changes while remaining on top of chromium updates. Currently auto play wastes a lot of data and it's very annoying, it should be your top priority.

[2021-08-25 13:52] srirambv commented on #16937
Verification passed on Oppo Reno 5 with Android 11 running 1.29.70 x64 Beta build
- Verified Uphold User ID is shown on `brave://rewards-internals` when a KYC'd wallet is connected

Disconnected | Connected
-- | --
![image](https://user-images.githubusercontent.com/17010094/130802960-674d8c52-8cb5-45af-ab7a-c55825651783.png) | ![image](https://user-images.githubusercontent.com/17010094/130802803-5

[2021-08-25 13:59] D0nnieD4rk0 opened #17689 "alright how do i fix this sh!t now ?"
brave --use-gl=egl --enable-features=VaapiVideoDecoder
Error: the user is not allowed to use Firejail.
Please add the user in /etc/firejail/firejail.users file,
either by running "sudo firecfg", or by editing the file directly.
See "man firejail-users" for more details.

[43585:43585:0825/165502.310871:ERROR:gpu_init.cc(441)] Passthrough is not supported, GL is egl
[43585:43585:0825/165502.427767:

[2021-08-25 14:02] jonathansampson commented on #17684
Great suggestion! We could probably drop most of those query-string values too (lang/regional parameters may be useful).

[2021-08-25 14:10] simonhong opened #17690 "CI failure - `[FAILURE] org.chromium.chrome.browser.BytecodeTest#testFieldsExist:`"
[code]

[2021-08-25 14:12] #17667 closed

[2021-08-25 14:17] srirambv opened #17691 "[Follow up #17401] Trigger fetch balance flow after the wallet is linked (Uphold)"
#17401 only got fixed on Desktop but not on Android.

On Android

- Connecting to Uphold opens rewards page and panel but old balance still remains. Panel shows 1 notification which causes panel to close and reopen and then updates balance on panel but rewards page remains on old balance needs a page reload.
- Disconnecting wallet has the opposite effect, Uphold balance remains until you close and

[2021-08-25 14:17] Miyayes opened #17692 "Add messaging in the UI about 5% tipping fee when tipping"
## Description

When a user makes a tip, there is a 5% fee. When the user is verified, the tip is sent in two parts: a 5% fee portion and the main 95% portion to the creator, and this is visible in the user's transaction history on the custodian.

This is only referenced in brave.com/faq, but not directly in the Rewards UI itself.

## Proposal

Add some 5% fee messaging somewhere in the tipping fl

[2021-08-25 14:18] srirambv commented on #17401
Removing Android label as the fix is only working on Desktop as per above comment. Logged #17691 as a followup Android only issue

[2021-08-25 14:21] #17685 closed

[2021-08-25 14:44] AlexeyBarabash opened #17693 "Android test regression after brave-core#9799"
PR https://github.com/brave/brave-core/pull/9799 caused regression of failed test.

[2021-08-25 14:55] #15582 closed

[2021-08-25 15:04] jumde commented on #17686
New recipient-ids/deposit-ids are generated for a successful authorization for Gemini and BitFlyer users. This works as expected.

[2021-08-25 15:40] bugilt opened #17694 "Still no brave rewards."
## Description
Not earning brave rewards I check everything I can find on the subject and still not receiving bat. I spoke with someone from brave about this issue months ago and was to it would work as I am verified and enabled.

## Steps to Reproduce

   1. Browse all month long 10+ hrs a day.
   2. Check rewards
   3. No rewards showing up

## Actual result:
![image](https://user-images.githubu

[2021-08-25 15:58] w- commented on #13182
sad that this appears to have the lowest possible priority. really breaks brave experience for people using multiple profiles

[2021-08-25 16:03] Tonev commented on #17237
@bsclifton @rebron

Multiple users report the same issue in Brave Community:
https://community.brave.com/t/always-crashes-after-screen-sharing-on-google-meet-whereby-microsoft-teams/263647

[2021-08-25 16:07] antonok-edm opened #17695 "Generic cosmetic filtering should not be applied to html/body elements"
uBlock Origin has added a change to avoid matching generic cosmetic filters to `html` and `body` elements. This would be a good webcompat improvement to take up as well.

More context in https://github.com/uBlockOrigin/uBlock-issues/issues/1692.

[2021-08-25 16:23] #17693 closed

[2021-08-25 16:29] zenparsing commented on #17669
The Rewards extension still uses extension manifest v2, which does not support promise return values on `chrome.*` APIs. We should probably remove the call to `.catch(...)` and add a tslint ignore comment if TS generates an error.

[2021-08-25 16:34] zenparsing commented on #17678
We should audit all calls to the bitFlyer API endpoints to make sure that:

* we are correctly detecting responses that indicate an expired access token, and
* callers are then putting the wallet into the disconnected state when that happens.

We might want to take a look at the transfer API endpoint(s) in particular.

[2021-08-25 16:38] zenparsing commented on #17692
cc @codybanxs

[2021-08-25 16:41] zenparsing commented on #17678
We may be able to address both #17692 and this in the same PR.

[2021-08-25 16:48] pkopparla commented on #17676
Cool stuff! Just wanted to point out a small typo on the right panel "beign" instead of "being".

[2021-08-25 16:53] zenparsing commented on #17208
We should discuss the high-level SKU architecture and implementation when we look at this, to make sure that. the client and server are on the same page and coordinating appropriately.

[2021-08-25 16:57] 3jdp commented on #17530
Thanks for implementing this so quickly!

FYI For documentation purposes, it looks like the previous command mentioned `defaults write com.brave.Browser TorDisabled -integer 1` errors out when I tried with Nightly build 1.30.48/93.0.4577.51, but `defaults write com.brave.Browser TorDisabled -bool true` does the trick.

[2021-08-25 17:59] yrliou opened #17696 "Use real gas price and limit in eth and ERC20 token send UI"
`onSubmitSend` in `brave/src/brave/components/brave_wallet_ui/page/container.tsx` and `brave/src/brave/components/brave_wallet_ui/panel/container.tsx` currently use mocked gas price & limit, we need to replace them to real gas price and limit.

[2021-08-25 18:04] darkdh opened #17697 "Hookup import an account via private key string UI"
The mojo interfaces are implemented in https://github.com/brave/brave-core/pull/9846
`AddImportedAccount`, `GetPrivateKeyForImportedAccount` and `RemoveImportedAccount`

[2021-08-25 18:45] bbondy opened #17698 "Add EthTxControllerObserver for notifications of tx changes"

[2021-08-25 19:56] bsclifton opened #17699 "tslint errors on rewards-internals page"
## Description
`npm run tslint` now has errors. Unintentionally introduced with https://github.com/brave/brave-core/pull/9847

[code]

## Steps to Reproduce

   1. Check out `brave-core`
   2. run `npm run tslint`

## Actual result:
Violations reported

## Expected result:
Should be be no violations

[2021-08-25 20:35] Miyayes opened #17700 "Add messaging in tipping flow to tell users that tips could take a few minutes to process"
## Description

Let users know that it's possible that their tips could take a few minutes to process.

## Solution

![image](https://user-images.githubusercontent.com/11497541/130881838-738e20c1-f4b2-4355-a66b-38594a264915.png)

[2021-08-25 22:52] #17690 closed, assigned to nobody

[2021-08-25 23:06] UjCbFwtBayFM opened #17701 "Brave Rewards backup notification"
## Description
Brave asks to back-up Rewards wallet, but back-up function has been removed.

## Steps to Reproduce

   1. Have some BAT in your Rewards Wallet
   2. Open Brave.
   3. Click the Brave Rewards icon notification.
   4. See the notification.

## Actual result:
![kZIqDyK67l](https://user-images.githubusercontent.com/22710992/130875686-7b90071f-fa47-40b3-9a3f-02e709257e7e.png)

## Expect

[2021-08-25 23:13] #17699 closed, assigned to bsclifton

[2021-08-26 00:33] #17698 closed, assigned to bbondy

[2021-08-26 01:12] bbondy opened #17702 "Add ability to get all transactions by an address to EthTxController"

[2021-08-26 02:32] simonhong opened #17703 "BraveVPNOSConnectionAPIWin passes invalid string ptr to vpn primitive apis in brave_vpn/utils_win.h"
BraveVPNOSConnectionAPIWin calls vpn primitive apis via post task to avoid UI thread blocking.
And string args were passed by ptr.
As this ptr is for local vars, it's destroyed after post task.
So, vpn primitive api receives string ptr to invalid string.

[2021-08-26 05:35] Tonev opened #17704 "`Brave Beta` and `Brave Nightly` use wrong icons in the list of default programs"
## Description

`Brave Beta` and `Brave Nightly` use wrong icons when it comes to setting them as a default program, and when users attempt to open a file with either of them.

## Steps to Reproduce

   1. Right-click on a file that `Brave` is able to open.
   2. Click on `Open with`.
   3. Open the `Default Programs` window via `Control Panel`.

## Actual result:

![1](https://user-images.githubu

[2021-08-26 06:15] #17703 closed, assigned to simonhong

[2021-08-26 07:32] simonhong opened #17705 "Check current vpn connection state on Win"
By checking connection state, browser can get and show proper VPN state in UI.
As user can control vpn entry manualy via control panel, we should have explicit connection checking logic.
This will be useful to get initial connection state during the browser startup.

[2021-08-26 14:28] Douglashdaniel opened #17706 "Add Copy to Clipboard to Buy/Send/Swap Header"
## Description
Add the ability to `Copy to Clipboard` an Address on the `Buy, Send, Swap` header

[2021-08-26 14:46] AlexeyBarabash opened #17707 "[Android] Investigate asm bytecode patching for static const fields"
This is follow up from https://github.com/brave/brave-core/pull/9665, https://github.com/brave/brave-core/pull/9665#discussion_r692322557 .

Patching through creating of the subclass with re-difining Chromium field for me led to the situation when actually the Chromium's value was used, not the Brave's one.

If it is possible that could simplify patching,

Required to be investigated.

[2021-08-26 14:49] tmancey opened #17708 "Refactor Brave ads string concatenation to use `absl::StrCat` and `absl::StrAppend`"