[2020-01-04 09:16] btlechowski commented on #5730
Verification passed on

Brave | 1.3.81 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4013 and from the description
Verified extensions main page and individual extension pages.

![image](https://user-images.githubu

[2020-01-04 09:22] btlechowski commented on #6774
Verification passed on

Brave | 1.3.81 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from the description. Also verified other instances of BAT values and made sure they all have 1 decimal place

![image](https://user-images.githubusercontent.com/34715963/7176

[2020-01-04 09:35] btlechowski commented on #7047
Verification passed on

Brave | 1.3.81 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from the description.

![image](https://user-images.githubusercontent.com/34715963/71763578-d1290d00-2edd-11ea-939f-e9420aaa57c2.png)

[2020-01-04 09:58] hugobuddel commented on #4409
Plays nicely now, Version 1.2.30 Chromium: 79.0.3945.79 (Official Build) beta (64-bit), shields up. Thanks for testing @ryanbr . Closing the issue.

[2020-01-04 09:58] #4409 closed

[2020-01-04 10:02] btlechowski opened #7597 "Follow up to #6879 - Target is sometimes not shown fully on panel captcha"
Follow up to #6879. The issue still reproduces.

## Description

Target is sometimes not shown fully on panel captcha. Probably similar to #2956 but device DPI settings were 100%.

## Steps to Reproduce

   1. Set locale to Japan and device DPI to 100%(default)
   2. Set env to staging to trigger grant
   3. Open panel, sometimes one of the target is not fully shown due to extra padding on message

[2020-01-04 10:05] btlechowski commented on #6879
Verification passed on

Brave | 1.3.81 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

The issue still reproduces. Logged https://github.com/brave/brave-browser/issues/7597 per our process.

[2020-01-04 10:14] btlechowski commented on #6832
@fmarier It seems that test plan from https://github.com/brave/brave-core/pull/4004 requires dev environment. Is there a way to test without it?

https://github.com/brave/brave-browser/issues/6881 has already been verified. Maybe it is enough?

[2020-01-04 11:03] btlechowski commented on #6358
Verification passed on

Brave | 1.2.41 Chromium: 79.0.3945.88 (Official Build) (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from the description. Also verified that the speaker button is clickable on normal tabs.

![image](https://user-images.githubusercontent.com/34715963/71764581-cb392900-2ee9-11ea-9e

[2020-01-04 11:30] btlechowski commented on #7526
Not reproducible on

Brave | 1.3.81 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/71764859-bbbbdf00-2eed-11ea-9be3-18fbf3a621d5.png)

[2020-01-04 11:39] btlechowski commented on #4102
Added `OS/Windows` label.

[2020-01-04 11:47] btlechowski commented on #843
Verification passed on

Brave | 1.3.81 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4033.
Verified that autocomplete can be re-enabled.

![image](https://user-images.githubusercontent.com/34715963/71765053-f58de50

[2020-01-04 15:09] ShihChinYang commented on #7524
Thank you, zfoxzero, that helped solve the issue.

Shih-Chin Yang

[2020-01-04 15:46] NejcZdovc commented on #7526
not reproduced on macOS

[2020-01-04 16:15] erotavlas-turbo commented on #7528
I'm sorry for the late reply.

I tried to copy both Default folder and the whole Brave-Browser by copy and paste and via script without success. Could be a folder rights problem?
The strange thing is that with firefox profile the same procedure works well.

[2020-01-04 16:20] crysman commented on #7581
@bsclifton not necessary, I've been using Brave continuously for more than a year, and it had never been crashing like this before. Until just very recently (one week?) it was actually really stable, surviving suspends and everything.

I am not experiencing any freezes. It just crashes after some minute or so of using.
If it is only running in background (no focus, no mouse and/or keyboard), it do

[2020-01-04 16:30] crysman commented on #7581
PS: I've just updated to `Version 1.1.23 Chromium: 79.0.3945.88 (Official Build) (64-bit)` via issuing standard apt update && upgrade, let's see what happens...

[2020-01-04 16:33] crysman commented on #7581
I've just updated to `Version 1.1.23 Chromium: 79.0.3945.88 (Official Build) (64-bit)` via issuing standard apt update && upgrade - did not help.

So I run it in terminal, and here is how it crashes:

[code]

[2020-01-04 18:21] kyangEPS commented on #6911
Alright 👍 Thank you for your help and input! After some time I had just gotten used to the colors and stuck with it. I'll keep my eyes out for stuff in the future!

[2020-01-04 22:04] ethanbb commented on #6259
For me this keeps showing up again and again even though I backed up my wallet a long time ago, i.e. copied the recovery key to a secure note in LastPass. I also have a verified wallet with Uphold. Is this a bug or what?

[2020-01-05 05:19] mandar-brave commented on #6259
@ethanbb the reason it shows it because it does that at a once a month cadence; this is just to ensure user doesn't forget.

@NejcZdovc we should have a never show again option; lets chat and design UX accordingly.

[2020-01-05 05:56] dmirubtsov commented on #7454
@BennyAK99

the same issue for me, it's related to tor mode,

please try to delete tor profile from brave directory

[code]

[2020-01-05 12:18] tiagoboldt opened #7599 "Release notes lack date"
Hi,

Release notes [1] lack release date. Would you consider adding the release date to the release notes?

Cheers

1 - https://brave.com/latest/

[2020-01-05 13:48] sd0minick commented on #3196
I have the same issue.
The password is saved on a particular site but when searching for it in the preferences, it is totally empty.
So I have to reset the password so I can log into another device

[2020-01-05 14:04] srirambv opened #7600 "Embedded Twitter videos dont play"
## Description

Embedded Twitter videos dont play

## Steps to Reproduce

   1. Install Android-core Beta build
   2. Visit this [page](https://www.gadgetsnow.com/tech-news/oneplus-shows-invisible-camera-in-a-concept-phone-heres-how-it-works/articleshow/73094734.cms?utm_source=toimweb&utm_medium=referral&utm_campaign=toimweb_hpwidget)
   3. Scroll down and try to play the embedded Twitter video

#

[2020-01-05 14:09] srirambv commented on #7599
This is a good idea to add it for GH release notes as well.

cc: @kjozwiak @LaurenWags @rebron

[2020-01-05 14:45] bridiver commented on #7524
The fix is merged into master  https://github.com/brave/brave-core/pull/4304

[2020-01-05 14:49] simonhong opened #7601 "Add component build option to build commands"

[2020-01-05 14:49] #7601 closed

[2020-01-05 14:50] zfoxzero opened #7602 "how to debugging use Visual Studio IDE"
i want debugging use Visual Studio IDE
Please tell me how to do it
thanks

[2020-01-05 22:47] TheAresjej commented on #6953
Same on **Windows 10 1909** & **Brave 1.1.23**
![image](https://user-images.githubusercontent.com/19390797/71787235-a346e400-3015-11ea-939b-e47a133995c8.png)

[2020-01-05 22:54] webargus commented on #3196
I'm having the same problem.

[2020-01-06 01:29] kjozwiak commented on #7579
Verification **PASSED** on `macOS 10.15.2 x64` using the following build:

Brave | 1.2.41 Chromium: 79.0.3945.88 (Official Build) (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | macOS Version 10.15.2 (Build 19C57)

* Verified the test case outlined via https://github.com/brave/brave-core/pull/4303
* Verified the test cases outlined via https:

[2020-01-06 01:49] DaniellMesquita commented on #7598
This issue also covers iOS as well, if both uses Chromium base.

[2020-01-06 01:54] DaniellMesquita opened #7604 "Desktop Chromium: save pages for offline reading like in mobile"

[2020-01-06 01:56] DaniellMesquita opened #7605 "Core: page for manage IPFS, integration with APIs of pinning services, showing user's pin list"

[2020-01-06 01:56] DaniellMesquita commented on #7605
Reference: https://github.com/brave/brave-browser/issues/819

[2020-01-06 01:57] DaniellMesquita commented on #7598
Reference: https://github.com/brave/brave-browser/issues/819

[2020-01-06 04:13] Luminus commented on #5290
I found this issue because I was looking for the same thing. It would be great to have a setting for doing this.

[2020-01-06 04:47] bsclifton commented on #7581
@crysman if you're able to get the browser running long enough to visit brave://crashes, you should be able to send crash reports. Then, you can share the Report ID that is shown there. You may need to restart after clicking `Send now` in order for the ID to show

[2020-01-06 05:42] bsclifton commented on #7531
@ballo I do believe I understand what you're talking about; it's not clear what you're asking for. With the setting you shared ENABLED, I'm able to cycle through the tabs just fine using TAB on the keyboard. The orange highlight being shown is from the OS showing that is the active tab. I can go backwards with SHIFT + TAB.

By default, our tab behavior matches Chrome / Chromium. Pressing TAB will

[2020-01-06 05:51] bsclifton commented on #7531
![tab_behavior1](https://user-images.githubusercontent.com/4733304/71798060-dab19280-300d-11ea-8dd2-4c6aef608677.gif)

[2020-01-06 06:40] bsclifton commented on #7524
Closing as this is fixed in master, per above 😄

[2020-01-06 06:40] #7524 closed

[2020-01-06 06:43] bsclifton commented on #7525
@Talmann were you able to resolve the issue? If you weren't, I'd like to keep the issue open

Thanks for providing the details. Let us know 😄

[2020-01-06 06:49] bsclifton commented on #7568
@rhysperry111 does this happen every time? If so, with crash reporting enabled, please visit the page and then send the report 😄 If it doesn't happen every time, we'll need to dig in more to find the root cause (since it would likely affect other sites also)

[2020-01-06 06:52] bsclifton commented on #7512
@srirambv can we retest this? (I need to get an Android device setup!)

[2020-01-06 07:09] rhysperry111 commented on #7568
Annoyingly, I can’t reproduce the crash.

[2020-01-06 09:29] crysman commented on #7581
@bsclifton OK, I've enabled the option ("automatically send crashes..."), then reopened chrome://crashes/ after it crashed, here is the result:

[2020-01-06 11:23] srirambv commented on #7606
+1 from @DI555 via https://github.com/brave/browser-android-tabs/issues/1870
[code]
---------

+1 from @D0ve and @avently  for adding support for Extenstions API on Android via https://github.com/brave/browser-android-tabs/issues/316

[2020-01-06 11:26] Madis0 commented on #4239
Is this configurable by Shields or enabled for everyone?

[2020-01-06 11:27] srirambv commented on #7604
@DaniellMesquita Please add details in the issue else will be closed as wontfix. We'll need some sort of information to know what the feature request is for. Is this one not  similar to the #7598?

[2020-01-06 11:28] srirambv commented on #7605
Please add more info to the issue

[2020-01-06 11:29] GeetaSarvadnya commented on #7520
Looks good hence closing the issue.

[2020-01-06 11:29] #7520 closed

[2020-01-06 11:48] kitsunekyo commented on #1736
the only but deal-breaking feature that prevents me (and all other devs i know) to use brave as main browser. let the user decide for an opt-in instead.

[2020-01-06 11:51] AoDev commented on #5075
Facing the same issue here. I just want to link this issue from [firebase-js-sdk repo](https://github.com/firebase/firebase-js-sdk/issues/865).

[2020-01-06 12:05] srirambv commented on #7512
Verified. Looks fixed :+1:

[2020-01-06 12:05] #7512 closed

[2020-01-06 13:15] shamrin commented on #6566
This feature is crucial to fully try out [Cliqz](https://beta.cliqz.com/) and its search suggestions in Brave.

(Lot's of technical details about Cliqz are [at their blog](https://www.0x65.dev/).)

[2020-01-06 15:02] cezaraugusto commented on #480
@bsclifton yes per last convo I had with @karenkliu. I'm planning to make this one after the top sites refactor and along with https://github.com/brave/brave-browser/issues/6642

[2020-01-06 15:06] SergeyZhukovsky opened #7759 "Notifications bridging"
Currently we broadcast ads notifications to all devices(a particular problem with smart watches). On most devices there is nothing to do with the notifications. That's why we need to limit and show them only on a device itself. A solution described here should help https://developer.android.com/training/wearables/notifications/bridger.html

[2020-01-06 15:16] LaurenWags opened #7608 "tips not going thru when tokens are not standardized to 0.25 value"
## Description
If you have a wallet with VG and other BAT, tips are not going through. I experienced this on Nightly, @NejcZdovc experienced this on Dev.

## Steps to Reproduce
This is my scenario, @NejcZdovc has one that might be different
   1. Have Rewards enabled and have non-VG BAT in your anon wallet.
   2. Claim Ad grant (VG).
   3. Attempt to tip.
   4. Tip does not show up in Tips panel o

[2020-01-06 15:31] LaurenWags opened #7609 "ESC does not close tip banner after tipping"
## Description
If you open the tip banner and don't make any changes (tip), then ESC closes the banner. However, if you tip, ESC no longer closes the banner. Note, you can tab around in the banner for a bit before you encounter https://github.com/brave/brave-browser/issues/6986.

## Steps to Reproduce

   1. Have rewards enabled and BAT in your wallet.
   2. Go to a verified publisher.
   3. Open

[2020-01-06 15:50] kjozwiak commented on #7520
Good job powering through this @GeetaSarvadnya 👍

[2020-01-06 16:04] mbacchi commented on #5271
This has been resolved:

[code]

[2020-01-06 16:04] #5271 closed

[2020-01-06 16:05] rhysperry111 commented on #7568
Update
=====
This crash happened again with the same effect as last time - system became totally unresponsive and couldn't even change tty.
## Additional notes:
- Audio kept on playing when system was unresponsive
- Crash happened as I was trying to make the video fullscreen
- Still not reproducable
## Crash log
I went to brave://crashes but even though crash logging is turned on it says there are

[2020-01-06 16:07] fmestevez commented on #4142
Hey @fmarier. I installed the AUR `brave-nightly-bin-1.5.11-2`, but I'm still instantly getting this when clicking on the sandwich menu button:
[code]

This is not an issue on a different PC with Linux Mint. It didn't happen before on this PC until a month or so ago.

No rush anyways! Thanks.

[2020-01-06 16:09] ballo commented on #7531
Here is a simple example. Keep the system-wide setting OFF.
https://www.tutorialspoint.com/html/html_forms.htm

[2020-01-06 16:28] bsclifton commented on #7531
@ballo is pressing tab not working for you? The GIF I have above demonstrates this perfectly. I have the setting OFF
<img width="529" alt="Screen Shot 2020-01-06 at 9 27 30 AM" src="https://user-images.githubusercontent.com/4733304/71831752-c8177780-3066-11ea-89d3-678968dee8c0.png">

Can you please describe what is not working for you? and what happens instead?

[2020-01-06 16:29] ballo commented on #7531
In Safari it cycles through the text fields, following the global preference. In Brave it cycles though all the form controls.

[2020-01-06 16:41] bsclifton commented on #4239
@Madis0 should be fixed for everyone 👍 No shields needed
cc: @fmarier

[2020-01-06 16:47] srirambv commented on #7521
Looks good.

[2020-01-06 16:47] #7521 closed

[2020-01-06 16:48] Arcbot-ArcusBD opened #7610 "Domain blocked by Crypto Wallet Extention false positive ETH Phishing."
## Description
Hello,

Checking my website I found it's being blocked by Brave's Crypto Wallet extension, which directed me to the repository for ETH Phishing Detect to file a report regarding this issue. Ran my domain through the ETH Phishing Detector's test page and turned blank, so I'd like to know what would be the next step in order to get my site to show in Brave.

## Steps to Reproduce
   1

[2020-01-06 16:55] srirambv commented on #7610
Unable to navigate from blocked phishing page is a known issue https://github.com/brave/brave-browser/issues/6734. Going to close this issue as dupe of #6734 and added +1 there

[2020-01-06 16:55] #7610 closed

[2020-01-06 16:55] srirambv commented on #6734
+1 from @Arcbot-ArcusBD  via #7610

[2020-01-06 16:56] AoDev commented on #7212
I have this issue in a different context: **in development**.
I have an API server running locally at `localhost:3001` while my frontend is at `localhost:3000`.

I had no problem with this until today. (Maybe Brave update?)

While I can unblock this easily on my local machine, it took me a while to find out why things broke suddenly.

Since I am no expert, I am wondering what happens in production

[2020-01-06 17:04] bsclifton commented on #1736
@kitsunekyo it is now enable-able in versions 1.2 and higher. Per [our release schedule](https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule#release-channel-dates), 1.2 is scheduled to ship today on Release channel

You can find the `Enable remote debugging` option under brave://settings/privacy

[2020-01-06 17:54] DaniellMesquita commented on #7604
Yes, it is related.

Page saving is desktop Chromium is old. While in mobile, it saves the pages exactly as they're displayed.

For example, Medium articles. Saving is desktop gives 404. Saving the same Medium article on mobile just works.

My request is to port the same page saving from mobile to desktop. Good if it is also requested upstream.

[2020-01-06 18:03] DaniellMesquita commented on #7605
![Screenshot_20200106-145807](https://user-images.githubusercontent.com/6765277/71837395-39c6e400-30ae-11ea-992d-23c3a026e756.png)

This feature is also what I thought for my Internet Cat browser.

Even relying on IPFS Companion (could communicate with the go daemon or JS IPFS), it could have a chrome://ipfs page like rewards have.

This page could contain all user's local pins, and also option fo

[2020-01-06 18:03] bsclifton commented on #6841
@iefremov does this issue need manual QA testing? If so, can we add a test plan and label as `QA/Yes`. Thanks! 😄

[2020-01-06 18:09] LaurenWags opened #7611 "after tipping, the banner does not have good keyboard accessibility"
## Description
After you tip, the "thank you" message is in-line on the tip banner in 1.2.x and above. However, after tipping there is no element highlighted (showing a box around it) to indicate that it is active on the tip banner. This is necessary for accessibility so users can know where they are on the banner. If you tab a bit eventually something will get highlighted, but then you encounter

[2020-01-06 18:22] fmarier opened #7612 "You have contributed 2050 Quadrillion BATs"
## Description
I got this notice on Nightly:

![Screenshot from 2020-01-06 10-17-25](https://user-images.githubusercontent.com/167821/71838659-357ad680-306e-11ea-81b8-bc47f7630bf8.png)

## Brave version (brave://version info)
[code]

[2020-01-06 18:24] rebron commented on #7531
Hi @ballo I see what you're requesting, however, we're not going to deviate from Chromium separately here and would need to wait on upstream fix from them if this is something they want to address which would then get incorporate later into Brave.

You can file an issue against Chromium here -> https://bugs.chromium.org/

[2020-01-06 18:31] fmarier commented on #6832
The alternative is to look at the various pages (listed in the PR) where we use the fonts and check that they "look right". I thought I wouldn't necessarily notice if the fonts had changed which is why I hacked the colors in my test.

Maybe someone with a good eye for fonts can double-check that everything looks right in Beta?

[2020-01-06 18:33] ballo commented on #7531
LOL, they don't care about this platform. Chromium is just open source Chrome and google doesn't care about anything other than Chromebook and maybe Windows.

[2020-01-06 18:42] rebron commented on #7531
@ballo I know one of the accessibility guys on the Chromium team pretty well, been a good 15 years (?) making web browsers accessible. I forwarded him this issue. The care is there, how and when issues are addressed are always the challenge.

[2020-01-06 18:44] ballo commented on #7531
OK, sorry for being snippy but I've mentioned issues before and it's never taken as seriously as some obscure feature nobody uses and will soon die anyway like WebGL. Fingers crossed I guess

[2020-01-06 18:45] emerick opened #7613 "Rewards: ModalContribute needs a custom mobile design"
As part of https://github.com/brave/brave-core/pull/4275, @NejcZdovc mentioned that the `ModalContribute` box in Rewards needs a custom mobile design for Android. Need to talk to the design folks as far as how this should look/behave on mobile.

[2020-01-06 18:55] fmarier commented on #4142
@fmestevez Is it crashing the whole browser (like #7581) or is it just a coredump which doesn't appear to have any user-visible impact when you open a second tab using something like `xdg-open https://example.com`?

[2020-01-06 18:59] ryanml commented on #7452
Fixed via: https://github.com/brave/ethereum-remote-client/pull/100

[2020-01-06 18:59] #7452 closed

[2020-01-06 18:59] ryanml commented on #7415
Fixed via: https://github.com/brave/ethereum-remote-client/pull/100

[2020-01-06 18:59] #7415 closed

[2020-01-06 18:59] ryanml commented on #7418
Fixed via: https://github.com/brave/ethereum-remote-client/pull/100

[2020-01-06 18:59] #7418 closed

[2020-01-06 18:59] ryanml commented on #6734
This is fixed in `1.0.15`, added to milestone

[2020-01-06 18:59] #6734 closed

[2020-01-06 19:04] bsclifton commented on #7581
@crysman OK I believe I found (based on the crash reports) what the problem is

Can you please try visiting brave://flags/#enable-oop-rasterization and then DISABLING this flag?

It should require a restart, but I believe it will fix the issue

[2020-01-06 19:25] NejcZdovc commented on #7612
dupe of https://github.com/brave/brave-browser/issues/7562

[2020-01-06 19:25] #7612 closed

[2020-01-06 19:43] #7506 closed

[2020-01-06 19:49] #7519 closed

[2020-01-06 19:55] fmarier opened #7614 "Safe Browsing warning pages need to give credit to Google"
Currently our Safe Browsing warning pages give credit for the blocking to **Brave** Safe Browsing:

![Screenshot from 2020-01-06 11-53-35](https://user-images.githubusercontent.com/167821/71844557-44b45100-307b-11ea-80f8-80d0dd896630.png)

Instead, as per the [Google UI requirements](https://developers.google.com/safe-browsing/v4/usage-limits#UserWarnings) it should be **Google** Safe Browsing.

C

[2020-01-06 20:02] #7114 closed

[2020-01-06 20:02] #7112 closed

[2020-01-06 20:07] LaurenWags opened #7615 "Release Notes for 1.2.x (Release Channel)"
Release Notes
 - Unable to log in to Bing Rewards with Brave.([#3082](https://github.com/brave/brave-browser/issues/3082))
 - Devtools "Audit" (Lighthouse) feature causes browser to freeze / lock up.([#3199](https://github.com/brave/brave-browser/issues/3199))
 - Maximum daily ads at 21 instead of 20 (follow up to #3849).([#4207](https://github.com/brave/brave-browser/issues/4207))
 - Desktop Book

[2020-01-06 20:45] einsteinx2 commented on #2694
I'm also reproducing this 100% of the time. My main machine is macOS. I was able to restore my balance correctly when I upgraded to a new MacBook Pro, but when I use my restore phrase on my Windows 10 PC, two different Windows 10 VMs, or a Linux Mint 19.2 VM it always says successful but shows a balance of 0.

If I go to brave://rewards, on the right it says: "Wallet restored! 0 BAT was recovered.

[2020-01-06 21:50] #7615 closed

[2020-01-06 22:03] kjozwiak opened #7617 "Release checklist for 1.2.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-01-06 22:34] rebron commented on #7617
Closing. Released January 6, 2020 2:30pm PDT.

[2020-01-06 22:34] #7617 closed

[2020-01-06 22:42] mbacchi opened #7618 "Remove extra "Release Notes" heading from release body"
## Description
In the script https://github.com/brave/brave-core/blob/master/script/update_release_changelog.py#L73 we add a level 3 heading in addition to the heading that is added in the https://github.com/brave/brave-core/blob/master/script/lib/changelog.py script. Remove this extra level 3 heading.

[2020-01-06 22:49] PopTudor commented on #5563
seeding a large file also loads the entire file in memory. I added a 5GB file to seeding and the memory for Chrome Helper jumped to 5GB+. I wonder if in nodejs is the same if instead of passing a File, I pass the path to a file

[2020-01-06 23:02] #7618 closed

[2020-01-06 23:07] rebron commented on #7234
<img width="1186" alt="Screen Shot 2020-01-06 at 3 06 33 PM" src="https://user-images.githubusercontent.com/5951041/71855532-24de5680-3096-11ea-8d40-25cc0e5488dd.png">
@Brave-Matt Can you try again in Beta? see screenshot above.

[2020-01-06 23:19] #7562 closed

[2020-01-06 23:36] kjozwiak opened #7620 "both the "magnify glass" & "+" buttons look like they're always selected"
## Description

Both the `magnify glass` icon that focuses the URL bar and the `+` button that creates new tabs look like they're always selected due to the light grey background that's always displayed. When I first saw the light grey background, I thought I ran into a state where the UI didn't update after the buttons have been tapped/clicked on.

## Steps to Reproduce

   1. install & launch la

[2020-01-06 23:41] LaurenWags commented on #7608
Reproduced in Dev using the following scenario:

Clean profile Dev (1.4.x) enable Rewards (staging)
Restore a wallet from Ad grant spreadsheet
Claim Ad grant
Claim UGP grant
Attempt to tip 3sistemi 1BAT.
Tip does not go thru and is not listed on brave://rewards

Profile for this scenario provided to @NejcZdovc

Brave | 1.4.52 Chromium: 79.0.3945.88 (Official Build) dev (64-bit)
-- | --
Revision |

[2020-01-06 23:48] kjozwiak commented on #7558
I'm seeing the same thing happen pretty often on my `Samsung S10+`. Clicking on some UI elements will produce a quick orange border that makes it appear like Brave is flickering. Quick example of the issue occurring:

* https://youtu.be/B7jPLqJJUg0

[2020-01-07 00:11] yrliou commented on #7572
I think I found STR to reproduce it,
1. Open a new install brave
2. Use rewards panel to join rewards
3. Open rewards page

[2020-01-07 00:19] petemill opened #7621 "Greaselion should load scripts and data directly from git repo"
Developers should be able to load scripts from their local repo of https://github.com/brave/brave-site-specific-scripts. This would avoid having to copy/paste between their local repo and their user data directory, or setting up more complex symbolic links.

[2020-01-07 00:20] Miyayes commented on #3412
cc: @ryanbr if you can help here, as this has been an issue for awhile!

[2020-01-07 00:21] petemill opened #7622 "Greaselion scripts should hot-reload in dev"
Instead of having to stop and start the browser in order to pick up local changes to scripts and JSON during development, the browser could re-parse and re-generate the extensions, allowing for 'hot-reloading'.

[2020-01-07 00:37] #7444 closed

[2020-01-07 01:16] yrliou commented on #7139
I think the root cause of this is the same as https://github.com/brave/brave-browser/issues/7572.
In this case, I think ads backend will return it is supported based on locale, but frontend (the rewards page) currently has a bug that did not report the most up-to-date info for ads data so it is shown as unsupported.

[2020-01-07 01:56] autonomic opened #7623 "Thick grey bar appears above tabs when changing focus in Full Screen mode (macOS)"
## Description
When running Brave in Full Screen mode on macOS and then changing focus to another application (⌘ + tab), the tab bar (at the top of the window) gets pushed down by a thick grey bar (screenshots attached).

## Steps to Reproduce

   1. Open browser
   2. Click on the Full Screen button in the top left corner (displays on 1 of 2 monitors)
   3. Hit ⌘ + tab to change focus to another

[2020-01-07 02:48] BobbyByrne commented on #7581
@bsclifton I'm also experiencing this issue, and the above flag change seems to be working. If I encounter the issue again while this flag is disabled, I'll report back with more info.

[2020-01-07 03:16] #4365 closed

[2020-01-07 03:27] kjozwiak opened #7624 "crash when navigating through articles via https://www.cbr.com or enabling/disabling shield"
## Description

Brave will sometimes crash when navigating through https://www.cbr.com articles. It will also crash when disabling/enabling `Brave Shields` while viewing articles on https://www.cbr.com.

## Steps to Reproduce

**`Case #1`**

   1. install & launch latest `Brave-Beta` (brave-core build from GPS)
   2. visit https://www.cbr.com/star-wars-stormtroopers-ranked/
   3. tap on `Start Now

[2020-01-07 05:50] kjozwiak opened #7626 "automatic tab being opened that points to cell providers customer home page"
## Description

When initially installing `Brave Beta` from the GPS, it opens a new tab with the following website:

* https://www.rogers.com/consumer/home/android-mobile?defaultpageload=mobile&setLanguage=en

Looks like there's some code that checks which cell provider I'm using and opens the related website? I'm not seeing this on our current `1.6.2 CR: 79.0.3945.93` release. I'm also not seeing

[2020-01-07 06:29] kjozwiak opened #7627 "removing the "Welcome to Brave" dialog on first launch"
## Description

We should remove the `Welcome to Brave` dialog that asks the user if they would like to submit usage data. Brave currently has no end points to collect this data. It's still going to Google. We basically just replace the `Google` text with `Brave`.

## Steps to Reproduce

   1. install & launch latest `Brave-Beta` (brave-core build from GPS)

## Actual result:

![Screenshot_2020010

[2020-01-07 06:33] kjozwiak commented on #7549
It's currently still pretty early and only available internally. However, we're planning on making it public in the near future. Just need to address/fix some major issues before making it available.

[2020-01-07 06:54] kjozwiak commented on #7400
+1 from myself. Seeing this on all the current channels including `1.5.13 CR: 79.0.3945.88`

[2020-01-07 07:31] kjozwiak opened #7628 "warning when changing between advanced vs simple shields view isn't visible when using dark more"
## Description

The warning when switching between `Simple` vs `Advanced` mode under `Shields` isn't visible when using dark mode as per the example below.

## Steps to Reproduce

   1. install & launch `1.5.13 CR: 79.0.3945.88`
   2. visit https://brave.com and click on the `Brave Shield`
   3. select `Advanced View`

## Actual result:

<img width="438" alt="Screen Shot 2020-01-07 at 2 20 28 AM"

[2020-01-07 07:33] Rob4226 commented on #5158
This update on Windows 10 just broke a bookmark extension xBrowserSync and I had no idea why all day.  Is there any way to change it back (with syncing off), unnesting the Other Bookmarks and

[2020-01-07 07:59] robi26 commented on #7509
Having the same problem after updating to Windows 10 1909 (edu license)

[2020-01-07 08:13] crysman commented on #7581
@bsclifton disabling _brave://flags/#enable-oop-rasterization_ with re-enabling _chrome://settings/?search=Use+hardware+acceleration+when+available_ makes Brave stable again! Thanks! Will anything be done in general for other users, too?

[2020-01-07 08:35] git10135405 opened #7629 "can not update"
what is the problem？
![image](https://user-images.githubusercontent.com/35558611/71880566-95a37280-316b-11ea-8ad8-53758c751ce6.png)

[2020-01-07 08:46] fmestevez commented on #4142
It crashes the whole browser with exit code 139.

[2020-01-07 09:05] MicahZoltu opened #7630 "Brave Wallet "Confirm your Secret Backup Phrase" should be sorted."
## Description
When creating a new Brave Wallet, it gives me a seed phrase to note and then asks me to confirm it by selecting words from a list in the order the appeared in the seed phrase.  The problem is the list of words is unordered, so when I try to find the next word in my seed phrase I have to painstakingly search the word list one word at a time.  The list should be sorted in alphabetical

[2020-01-07 10:20] GeetaSarvadnya commented on #7609
Not reproducible in Windows 10 x64 - 1.2.41
![ESC key closes the tipping banner](https://user-images.githubusercontent.com/38657976/71888050-5c680400-3165-11ea-818c-96ff9510f7d2.gif)

[2020-01-07 10:36] GeetaSarvadnya commented on #7608
Using (https://github.com/brave/brave-browser/issues/7608#issuecomment-571364127)-Reproduced the issue in Windows 10 x64 - `1.4.52`

[2020-01-07 14:34] tmancey opened #7632 "Ads serve catalog version mismatch for v2 catalogs"
## Description

## Steps to Reproduce

   1. Fresh install
   2. Enable rewards

## Actual result:

Catalog fails to parse due to version mismatch (see console log for failure)

## Expected result:
Catalog should successfully parse

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current

[2020-01-07 15:05] iefremov opened #7633 "Fix P3A metrics reporting wallet state"
[code]
These metrics should have "Brave Rewards is off" as the first answer, instead of "No wallet created". Definitions on https://github.com/brave/brave-browser/wiki/P3A also should be fixed.

[2020-01-07 15:05] iefremov commented on #7633
@davidtemkin

[2020-01-07 15:07] iefremov opened #7634 "Implement P3A metric "Q11: What is the state of your Brave Rewards wallet""
Implement as defined in https://github.com/brave/brave-browser/wiki/P3A

See `Brave.Rewards.WalletBalance` as example.

[2020-01-07 15:14] tmancey commented on #7632
Closing this issue as patching server-side to resolve the issue for /v2 catalogs

[2020-01-07 15:14] #7632 closed

[2020-01-07 15:38] LaurenWags commented on #7277
Verified passed with

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4179
<img width="653" alt="Screen Shot 2020-01-07 at 10 37 21 AM" src="https://user-images.githubusercontent.

[2020-01-07 15:45] LaurenWags commented on #7102
Verified passed with

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4099
* Verified when accessing the wallet modal from `Verify Wallet` button, `Add Funds`, `Withdraw Funds`, a

[2020-01-07 15:53] GeetaSarvadnya commented on #7608
The issue is reproduced in Windows 10 x64 -  1.3.85

1. Clean profile staging env
2. Claim UGP grants
3. Send a one-time tip to a verified pubs
4. Send a monthly tip to a verified pubs
Actual:  - One-time and monthly tips are not displayed in the `Tips` panel
             - Monthly tip isn't displayed in `Monthly contributions` panel (https://github.com/brave/brave-browser/issues/7529)

[2020-01-07 16:13] bsclifton commented on #7581
@crysman thanks for confirming! Will check with the team about next steps

[2020-01-07 16:15] GeetaSarvadnya opened #7635 "Reserved BAT text isn't displayed in Rewards summary section"
## Description

Reserved BAT text isn't displayed in Rewards summary section
## Steps to Reproduce

   1. Clean profile staging env
   2. Claim UGP grants
   3. Send a one-time tip to an unverified pub https://google.com
   4. Open BR panel for google.com, reserved BAT text is displayed in panel summary
   5. 1 BAT reserved bat text isn't displayed in rewards summary section

## Actual result:

![

[2020-01-07 16:27] NejcZdovc commented on #7635
@GeetaSarvadnya is this solved with a reload?

[2020-01-07 16:35] LaurenWags commented on #6943
@bsclifton question about the test plan - on step 6, should I be zooming on the Print Preview dialog? the macOS dialog print preview for PDF does have a Custom scale section, but it defaults to 100 and isn't limited to the browser zoom settings 110, 125, 133, etc. I set it to 103 below just to show that it increments/decrements by 1.

<img width="970" alt="Screen Shot 2020-01-07 at 11 26 38 AM" sr

[2020-01-07 16:36] Brave-Matt commented on #7441
Another user reporting similar behavior on Community:
https://community.brave.com/t/having-problem-with-2-profiles-at-the-same-time/100756/3

[2020-01-07 16:39] LaurenWags commented on #6910
@fmarier not seeing this on macOS, is this expected? not sure if this license is OS specific?
<img width="1193" alt="Screen Shot 2020-01-07 at 11 38 38 AM" src="https://user-images.githubusercontent.com/28145373/71911759-4f85e900-3142-11ea-8151-e823a6772cb6.png">

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/b

[2020-01-07 16:39] GeetaSarvadnya commented on #7635
@NejcZdovc Reload and browser restart didn't solve the issue.

[2020-01-07 16:40] srirambv opened #7636 "Brave shields not shown on custom tabs"
## Description

Brave shields not shown on custom tabs

## Steps to Reproduce

   1. Open a link from an app
   2. Choose Brave-Beta from the list of browsers
   3. Custom tab opens but Brave shields is missing

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/71911692-2d8c6680-3142-11ea-858d-47c40e40e2bc.png)
![image](https://user-images.githubusercontent.com/1701009

[2020-01-07 16:54] enomarin opened #7637 "Segmentation fault when launching brave via launcher and terminal on manjaro i3"
## Description

Segmentation fault when launching brave via launcher and terminal on manjaro i3, after an update of Brave.

## Steps to Reproduce

   1. Launch brave from launcher (dmenu) and terminal

## Actual result:
From terminal, it produce the following error:
[code]

## Expected result:
No segmentation fault to be shown when launching Brave via terminal or dmenu and Brave should launch norm

[2020-01-07 17:21] Brave-Matt opened #7638 "Switchmark extension freezes/crashes browser"
## Description

The Chrome extension Switchmark installs in Brave without issue but cannot be used. Clicking on the extension to switch between bookmark "bars" forces an infinite loading wheel (on macOS) that renders the browser unresponsive until force quitting.
GIF: https://imgur.com/a/ggxiq5m

## Steps to Reproduce

   1. Install [Switchmark](https://chrome.google.com/webstore/detail/switchmark

[2020-01-07 17:27] Johann999 opened #7639 "Other bookmarks is missing, breaking bookmarks API"
Dear Brave,

isn't it frustrating if after the update to version 1.2.41 instead of "Other bookmarks"only ">>" sees?!

The bookmark changes are unnecessary, bring no benefits and only annoy the users.
The structure and layout of the bookmarks has proven itself for many years. There was no reason to change this. Brave is now no longer compatible with other Chromium based browser.

Please undo change

[2020-01-07 17:51] bsclifton commented on #6943
@LaurenWags ah - good catch there. Testing that is not trivial, which I found out later when comitting some related changes upstream

When you're on that page, the scale is not affecting zoom. You have to use the mouse to hover over the left and use the + and - buttons. Unfortunately, it doesn't say the %

However, you can right click the preview itself and then pick `Inspect`. It'll open a window

[2020-01-07 18:08] #7139 closed

[2020-01-07 18:08] #7572 closed

[2020-01-07 18:11] bsclifton commented on #7637
@enomarin can you please try visiting brave://flags/#enable-oop-rasterization and then DISABLING this flag?

You may need to launch with no sandbox, so that it works enough that you can set the flag. Please let me know if you're able to try this and if it helps

[2020-01-07 18:12] bsclifton commented on #7568
@rhysperry111 can you please try visiting brave://flags/#enable-oop-rasterization and then DISABLING this flag?

I'm curious if this makes a difference

[2020-01-07 18:26] Brave-Matt commented on #2362
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/eki8pk/cant_get_any_notification_other_than_ads/

[2020-01-07 18:26] yrliou commented on #7575
Closing because PR for fixing this was already merged.

[2020-01-07 18:26] #7575 closed

[2020-01-07 18:29] bsclifton commented on #7628
@cezaraugusto is this because of a Brave UI change?

[2020-01-07 18:58] yrliou commented on #7110
@GeetaSarvadnya I can't reproduce this using current master, it is probably already fixed, please help verify again in the next beta build, thanks!

[2020-01-07 18:59] GeetaSarvadnya commented on #7597
Reproduced in Windows 10 x64 - 1.3.85

![image](https://user-images.githubusercontent.com/38657976/71920958-e936b000-31ad-11ea-9a03-5831113459de.png)

[2020-01-07 19:01] #7614 closed

[2020-01-07 19:05] yrliou commented on #7110
Ah I didn't fund through uphold but claiming a grant in step 2, I'll try again.

[2020-01-07 19:06] rhysperry111 commented on #7568
Just did that but will not be able to confirm if it fixes the issue as I can't find a reliable way to reproduce it

[2020-01-07 19:08] bsclifton commented on #7568
@rhysperry111 awesome thanks! Let's just watch it for a bit, let us know 😄 If that is the problem, I am working on a revert for that (as it does cause a problem for other users)

[2020-01-07 19:09] fmarier commented on #4142
In that case, you're seeing a different issue on that machine. This is most likely #7581 (inherited from the last Chromium merge).

[2020-01-07 19:16] fmarier commented on #6910
@LaurenWags The behavior when https://github.com/brave/brave-browser/issues/7150 got fixed and uplifted.

The license for ABP X Files is now in the "Brave Ad Block" section:

![Screenshot from 2020-01-07 11-14-58](https://user-images.githubusercontent.com/167821/71922045-02544800-313f-11ea-9405-b7b492e7aad6.png)

[2020-01-07 19:37] rebron commented on #7453
cc: @btlechowski can you retest?

[2020-01-07 19:44] LaurenWags commented on #6910
gotcha, thanks @fmarier !

[2020-01-07 19:52] bsclifton commented on #6098
Curious if folks here could try DISABLING the following flag:
brave://flags/#enable-oop-rasterization

For some people experiencing hangs/crashes, I suspect this will fix the problem. I'm working on a revert of that flag via https://github.com/brave/brave-core/pull/4318 (which we'll be able to release in one of the next updates)

[2020-01-07 19:58] bsclifton opened #7640 "Upgrade from Chromium 79.0.3945.88 to Chromium 79.0.3945.117"
QA tests:

Check branding items
Check for version bump

[2020-01-07 20:07] rebron commented on #7234
Closing. Looks like this issue isn't happening any longer.

[2020-01-07 20:07] #7234 closed

[2020-01-07 20:10] agentofuser commented on #6098
@bsclifton I just tried that, didn't fix it for me. Thank you for the ongoing investigation.

[2020-01-07 20:14] LaurenWags opened #7641 "Manual test run on OS X for 1.2.x - Release Hotfix 1"
## Per release specialty tests
- [x]  Upgrade from Chromium 9.0.3945.88 to Chromium 79.0.3945.117.([#7640](https://github.com/brave/brave-browser/issues/7640))

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the

[2020-01-07 20:14] LaurenWags opened #7642 "Manual test run on Windows for 1.2.x - Release Hotfix 1"
## Per release specialty tests
- [x]  Upgrade from Chromium 9.0.3945.88 to Chromium 79.0.3945.117.([#7640](https://github.com/brave/brave-browser/issues/7640))

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the

[2020-01-07 20:14] LaurenWags opened #7643 "Manual test run on Linux for 1.2.x - Release Hotfix 1"
## Per release specialty tests
- [x]  Upgrade from Chromium 9.0.3945.88 to Chromium 79.0.3945.117.([#7640](https://github.com/brave/brave-browser/issues/7640))

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the

[2020-01-07 20:21] bsclifton commented on #7639
cc: @rebron @darkdh

[2020-01-07 20:43] bsclifton commented on #7639
This was intentionally removed when solving https://github.com/brave/brave-browser/issues/5158

It's needed or it'll be a problem with iOS/Android

Closing as `wontfix` 😄

[2020-01-07 21:12] bsclifton commented on #2362
I believe the blocked for this is https://bugs.chromium.org/p/chromium/issues/detail?id=1011244 which is assigned to an owner that is OOO until Jan 13

Will mark issue as `waiting-upstream`

[2020-01-07 21:35] Hardtarget24 commented on #5158
This broke having "Other Bookmarks" being on the right side in a separate area of the bookmarks bar.  how do we get this functionality restored?

[2020-01-07 21:40] RobMaskell commented on #3199
Still hanging with the lighthouse warming up message for me on both sites tested, one localhost and one live on internet. Linux PoPOS 19.10

[2020-01-07 21:52] LaurenWags commented on #7198
Can also use Portuguese to verify this issue per https://github.com/brave/brave-browser/issues/6684#issuecomment-561392008

[2020-01-07 22:12] eljuno commented on #7130
+1 from community

https://community.brave.com/t/confirm-your-secret-backup-phrase-page-scroll-issues/101150

[2020-01-07 22:18] bsclifton opened #7645 "Remote debugging should be proxied and enabled by default"
## Background
Starting with Brave v1.2, users can enable the remote debugging option which allows for:
- service calls to be made out to Google (fetching syntax highlighting data, etc)
- Lighthouse audits
- actual remote debugging (connecting to phone, etc)

This setting is in brave://settings/privacy and is DISABLED by default. A more detailed description of this (including the Google network ann

[2020-01-07 22:19] bsclifton commented on #3199
@RobMaskell if you visit brave://settings/privacy, you should see a new setting `Remote debugging` which you can enable. Can you toggle that and then try again? You may need to restart the browser after changing it

As this isn't obvious, I created https://github.com/brave/brave-browser/issues/7645 to track proxying this (attempting to make it safe) and enabling it by default

[2020-01-07 22:22] bsclifton commented on #7372
Issue created to proxy these calls and enable the setting by default:
https://github.com/brave/brave-browser/issues/7645

[2020-01-07 22:27] M0E-lnx commented on #7238
The lack of this feature is keeping me from switching to brave.  I still have to fire up FF when I need to access data saved in my sync account there.

[2020-01-07 22:30] bsclifton commented on #3464
Closing as a duplicate of https://github.com/brave/brave-browser/issues/2362

[2020-01-07 22:30] #3464 closed

[2020-01-07 22:40] bsclifton commented on #5158
@Hardtarget24 there's an issue up at https://github.com/brave/brave-browser/issues/7639 if you want to leave a comment (and subscribe for updates)

I had closed as `wontfix` for the moment, but @rebron is discussing with a few others

[2020-01-07 22:43] Hardtarget24 commented on #7639
Unfortunately with this new patch the Other Bookmarks folder is no longer anchored to it's own area on the right hand side of the bookmarks bar.  This is an issue for me personally and not expected behaviour from a chromium based browser.  (and honestly although seemingly minor this change, if intended, will most likely force me to stop using Brave and it's really disruptive to my workflow)

I'm h

[2020-01-07 23:11] bsclifton commented on #7639
per @Rob4226 via https://github.com/brave/brave-browser/issues/5158#issuecomment-571471219

[2020-01-07 23:18] nero120 commented on #5158
As this change potentially breaks compatibility with any extension that uses the bookmarks api, what's the plan for dealing with that? Will you be launching your own extensions store shortly since extension authors that use the bookmarks api will now need to provide a separate build for brave...?

I suppose you'll need to update [this](https://support.brave.com/hc/en-us/articles/360017909112-How-c

[2020-01-07 23:23] NejcZdovc commented on #7510
not needed

[2020-01-07 23:23] #7510 closed

[2020-01-07 23:23] NejcZdovc commented on #7594
not needed

[2020-01-07 23:23] #7594 closed

[2020-01-07 23:31] #7640 closed

[2020-01-07 23:54] Hardtarget24 commented on #5158
I've done that but I think this issue has larger complications than you guys realized based on nero and rob's replies.

[2020-01-08 00:02] bsclifton commented on #7639
Going to re-open this; @rebron and @darkdh are looking into this, after comment by @nero120 via https://github.com/brave/brave-browser/issues/5158#issuecomment-571818432

[2020-01-08 00:53] yrliou commented on #7110
Ok, I just try it again by funding through uphold in step2, cannot reproduce anymore on master.

[2020-01-08 01:18] kjozwiak opened #7649 "Release checklist for 1.2.x - Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-01-08 01:24] yrliou commented on #7110
Closing since I can't reproduce on master anymore, @GeetaSarvadnya please feel free to reopen this one if not, thanks.

[2020-01-08 01:24] #7110 closed

[2020-01-08 01:29] mikedotexe commented on #7503
This is such a well-written issue, holy cow.

[2020-01-08 02:16] #7107 closed

[2020-01-08 02:42] btlechowski commented on #7453
No longer reproducible. I will close it and add it to 1.3.x milestone so it can be checked by other QAs

Verification passed on

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from the descriptin

[2020-01-08 02:42] #7453 closed

[2020-01-08 03:01] RyanJarv commented on #1312
Got a notice from little snitch that a request was being made to no-thanks.invalid just now. Seems like this domain shouldn't exist but was resolving to `23.195.69.106` and `23.202.231.166` on my computer. I'm guessing this was due to my providers DNS resolving invalid domains. Unsure if this is an issue but wanted to make note of it at least.

[code]

(Bit confused why I get a few IP's here and a

[2020-01-08 03:30] cdobrich commented on #4492
I can confirm this is still happening. It seems like only part of the cookies are lost sometimes and the rest of the time it's all of them. Sigh....

[2020-01-08 03:42] ethindp opened #7650 "Enable accessibility by default"
## Description

Currently, the Chromium browser only enables accessibility on Windows and Mac OS, and only if a screen reader is determined to be running at the time the chromium engine performs the check. The reasoning, at least according to the Electron documentation, is that enabling accessibility by default causes a performance hit. I have found no evidence to support a claim. I do not believe

[2020-01-08 04:14] kjozwiak opened #7651 "videos not working on Twitter"
## Description

Looks like videos are not working under https://mobile.twitter.com/home. Whenever you tap on a video, you'll eventually get a `The media could not be played.`

Possibly related to https://github.com/brave/brave-browser/issues/7600.

## Steps to Reproduce

   1. install & download the latest android-core-releae from GPS (using `79.0.3945.88` in this case)
   2. visit https://mobile.

[2020-01-08 04:19] mayeaux commented on #4492
@bsclifton I've personally never lost cookies with Chrome but I had it happen twice to me within about a month with Brave. It's sad because I like and support Brave but I can't use broken software and this to me is too broken to use.

[2020-01-08 04:29] bsclifton commented on #4492
@mayeaux does anything show under brave://crashes? If you visit that page, it'll show recent crash reports and let you send them to us (which helps us identify the root cause)

We would absolutely like to solve this problem but we're in a situation where we need information to help diagnose where the problem is. @mayeaux what OS are you on? and you were trying with recent versions? Which release c

[2020-01-08 04:32] antonycourtney commented on #5158
I'm the author of the Tabli tab manager extension for Chrome (https://chrome.google.com/webstore/detail/tabli/igeehkedfibbnhbfponhjjplpkeomghi).
In addition to window and tab switching, Tabli allows the user to save windows and tabs, which are stored as bookmarks under "Other Bookmarks/Tabli Saved Windows".

I never tested with Brave, but users reported successfully using Tabli with Brave, until t

[2020-01-08 04:53] bsclifton commented on #7073
+1 from https://twitter.com/joelatwar/status/1214768232998952966

[2020-01-08 04:54] lukemulks commented on #7312
I suspect this is the correct issue to post this - I'm observing a folder icon in brave://bookmarks in the left panel that appears a bit out of place. Would expect to see an icon that matches the Bookmarks icon at the top of the Bookmarks page.

![Screenshot from 2020-01-07 20-40-56](https://user-images.githubusercontent.com/8979240/71951301-7d454f00-318f-11ea-9f8d-048873dfbfff.png)
[code]
I'm on

[2020-01-08 05:05] joel-g commented on #7073
This is the only thing stopping me from uninstalling Chrome and Firefox

[2020-01-08 05:19] lukemulks opened #7652 "Tweet message for "tweet about your tip" for GitHub contributors doesn't link to origin"
## Description

When I tip a contributor on Github and click to tweet about my tip, the message in the tweet does not link back to the origin event.

Without linking back to the origin event, the message we tweet about the engagement points to a page that is not related to the event. It appears that we're directing people to "Check it (the thing i tipped) out at brave.com/tips", where we don't dis

[2020-01-08 05:53] MauroNavarro commented on #6043
I have a some how similar question: I had to reinstall Windows 10 so I exported my bookmarks to an HTML using the export option. Now that Windows is reinstalled I imported the HTML bookmarks file but I can't fing the "Other bookmarks" folder I had before. Did I lose it when the bookmarks got exported or did I have to specify exporting the "Other ..." folder separately?, which I didn't. Thank you

[2020-01-08 06:20] chinyh commented on #6043
I have the same issue,too. SAD

[2020-01-08 07:17] yrliou commented on #7543
Our stats were implemented by replacing NewTabPageView with our own subclass, which doesn't work anymore after https://chromium.googlesource.com/chromium/src/+/300b7ec03bcfccf170aeb84affe165f2aa07617c is merged in Chromium 79.0.3923, which enabled `InterestFeedContentSuggestions` feature by default because it will use FeedNewTabPage which won't use NewTabPageView.

For reference, browser-android-t

[2020-01-08 07:21] kjozwiak commented on #7640
Verification **PASSED** on `macOS 10.15.2 x64` using the following build:

Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

<img width="1058" alt="Screen Shot 2020-01-08 at 2 21 41 AM" src="https://user-images.githubusercontent.com/2602313/71958174-9f

[2020-01-08 08:46] alwaysonfire commented on #7424
Im experiencing this on Google Chrome. Anyone has an idea?

[2020-01-08 08:49] tmancey opened #7654 "Internal server error 500 can cause Confirmations to get stuck in the retry queue"
## Description

Internal server error 500 can cause Confirmations to get stuck in the retry queue as there is no way of knowing if the server successfully created a Confirmation or not. To fix this issue, we fetch the payment token, and if we receive an HTTP_NOT_FOUND response, we then re-create the confirmation.

## Steps to Reproduce

   1. View a Brave Ads ad notification

## Actual result:

PO

[2020-01-08 10:05] westy commented on #7424
I'm getting this on Google Chrome this morning too.
It's incredibly frustrating.

Seems to have broken the ability to mouse over variables and objects too.

[2020-01-08 10:56] Talmann commented on #7525
Thanks for replying. Still not resolved.

[2020-01-08 11:20] enomarin commented on #7637
@bsclifton Thank you for your quick reply.
I've tried to disabling the #enable-oop-rasterization as you said by launching Brave with `sudo brave --no-sandbox` (without sudo Brave won't launch).
Brave continue to crash with the same error message (with and without --no-sandbox option).

[2020-01-08 12:30] #7388 closed

[2020-01-08 12:38] hugobuddel commented on #2965
I'm running Brave in a Fedora 30 singularity instance on a Centos 7 host [1]

However, this detects my timezone incorrectly as UTC, causing problems with some sites (remember the milk in particular).

It is not really clear to me how Brave determines the timezone. Just doing 'date' in a container instance shows the correct timezone. So I guess is that Brave uses some other method that fails and th

[2020-01-08 12:40] btlechowski commented on #6941
https://github.com/brave/brave-browser/issues/6941#issuecomment-558241722 the PR was merged to Beta.
This has to be fixed really soon as it brakes beta (1.3.x).

## Steps to Reproduce

   1. Clean profile
   2. Open `brave://sync`
   3. Click `Start a new Sync Chain`
   4. Wait 1 minute

## Actual result:

During initial sync creation "Choose device type" is automatically closed.
The sync chain is

[2020-01-08 12:46] RobMaskell commented on #3199
That fixed it for the internet (non localhost) site in MacOS, but for the same site on POPOS! after toggling on remote debugging it now runs but the results page renders with no real info on it and the following message
`There were issues affecting this run of Lighthouse:
Something went wrong with recording the trace over your page load. Please run Lighthouse again. (NO_FCP)`

[2020-01-08 12:57] TheAresjej commented on #6953
Fixed on **Windows 10 1909** & **Brave 1.2.41** @bsclifton
![image](https://user-images.githubusercontent.com/19390797/71979710-a9f47780-321e-11ea-92c4-752f1e726fc6.png)

[2020-01-08 12:57] btlechowski commented on #7251
Added `QA/Blocked` as testing is blocked on https://github.com/brave/brave-browser/issues/6941

[2020-01-08 13:01] btlechowski commented on #6504
Added `QA/Blocked` as testing is blocked due to https://github.com/brave/brave-browser/issues/6941

[2020-01-08 13:17] oshanz commented on #4492
brave version: Version 1.1.23 Chromium: 79.0.3945.88 (Official Build) (64-bit)
there are no crashes at the brave://crashes. I just close the window. at the next load I got all the tabs but without any session. I had to login again :-[]

[2020-01-08 14:06] roshan8 opened #7655 "Sometimes TOR doesn't work on 1.2.41"
Hey Folks,

Really great work on brave-browser, Protecting users privacy is much needed when every other services are trying to spy on you!

TOR window is really slow compare to TOR browser and sometimes it even don't open the page as well.

TOR in incognito mode is the major reason for switching to Brave, Would be great if this issue gets addressed!

[2020-01-08 14:20] srirambv commented on #7655
What platform are you running? Are you behind VPN?

[2020-01-08 14:39] sidharthramesh commented on #7532
I would like this feature as well. The sync chain code used for bookmarks can be used to encrypt all the settings (including passwords) and session data. This can be stored on the cloud as long as the sync chain code is secure. I would ditch chrome completely if this is implemented.

[2020-01-08 15:00] srirambv opened #7656 "PoolingBlockTracker error message when enabling crypto wallet"
## Description

PoolingBlockTracker error message when enabling crypto wallet

## Steps to Reproduce

   1. Install component `0.1.34`
   2. Open background page
   3. Enable Crypto wallet, console logs error

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/71988276-9553b780-31fd-11ea-8fa4-2b9e645ffc2d.png)
![image](https://user-images.githubusercontent.com/17010094/

[2020-01-08 15:02] aormsby commented on #5075
No idea if this helps, but here's a specific error message I recently got showing that seemingly all requests from 'googleapis.com' are blocked when shields are up. The site in question does use Firebase for authentication.

[code]

I've recently been unable to sign in using google sign-in everywhere I've tried, and the browser even kicks me out of things I'm already signed into sometimes. :sad:

[2020-01-08 15:04] AlexeyBarabash commented on #4837
There is a complain notification arrives sometimes

[2020-01-08 15:08] GeetaSarvadnya commented on #7642
Looks good hence closing the issue.

[2020-01-08 15:08] #7642 closed

[2020-01-08 15:36] srirambv commented on #6734
Verification passed on

Brave | 1.2.41 Chromium: 79.0.3945.88 (Official Build) (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Linux
Component | `0.1.34`

- Verified on `http://mycrypto.com` and `https://www.arcus.mx/`
- Verified clicking on `continuing at your own risk.` on the phishing page navigates to the landing page properly

[2020-01-08 15:48] szaimen commented on #1551
Actually it doesn't work in my experience also when disabling the shields completely.

[2020-01-08 16:04] emerick opened #7657 "Browser crashes when tipping on Android"
## Description

Brave-core version of Android crashes when tipping a publisher.

## Steps to Reproduce

   1. Clean profile
   2. Enable rewards and fund the wallet
   3. Send a one-time to a publisher

## Actual result:

Browser crashes and exits

## Expected result:
Tip should complete and browser continues to run

## Reproduces how often:

Always
## Brave version (brave://version info)
Master

[2020-01-08 16:05] emerick commented on #7657
Issue is related to the favicon source code. This code was removed from Android in Chromium as it was unused there. We needed to reinstate it in Brave, as Rewards relies on it. When tipping, however, the favicon code tries to reference the native theme instance which is a `nullptr` on Android leading to the crash.

[2020-01-08 16:16] LaurenWags commented on #7641
Verified using

Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

Thanks for the help with this one @kjozwiak 👍

[2020-01-08 16:16] #7641 closed

[2020-01-08 16:16] jsandiego opened #7658 "Certificate Error for Repo brave-browser-apt-release.s3.brave.com"
## Description
Certificate verification failed when trying to update using apt-get on Ubuntu.
`Err:4 https://brave-browser-apt-release.s3.brave.com bionic Release
  Certificate verification failed: The certificate is NOT trusted. The certificate issuer is unknown.  Could not handshake: Error in the certificate verification. [IP: ::ffff:146.112.61.106 443]
`

## Steps to Reproduce

   1. Add brave

[2020-01-08 16:18] kjozwiak opened #7659 "Release notes for 1.2.x Hotfix 1 (Release Channel)"
Release Notes
 - Upgrade from Chromium 79.0.3945.88 to Chromium 79.0.3945.117. ([#7640](https://github.com/brave/brave-browser/issues/7640))

[2020-01-08 16:31] chiselwright commented on #4599
Seeing the issue on:

OS|macOS Catalina 10.15.2
--|-----------------
Brave|Version 1.2.41 Chromium: 79.0.3945.88 (Official Build) (64-bit)

[2020-01-08 16:35] bsclifton commented on #7424
@westy that bug is happening with Chrome - it's being tracked with https://bugs.chromium.org/p/chromium/issues/detail?id=1033022

@westy are you getting it even with Chrome 79.0.3945.117? Bug thread is showing it as fixed; not sure if it was included in that

[2020-01-08 16:36] tiagosiebler commented on #6867
Bump - this just got extremely bad to the point where brave wasn't even letting me interact with it anymore, completely frozen at 100% CPU usage.

I had to manually go into the ledger_state and Prefernces files to clear those massive objects, before relaunching. Now it's fine again. Please prioritise so I don't need to do this regularly, it easily costs up to 30 minutes of productivity, if not mor

[2020-01-08 16:43] bsclifton commented on #5075
@aormsby do you have `Allow Google logins` enabled?  It's enabled by default, but you can check in brave://settings/socialBlocking

[2020-01-08 16:46] SergeyZhukovsky opened #7661 "Add proguard rules for Android sync"
Android js based sync needs proguard rules

[2020-01-08 16:59] bsclifton commented on #6953
Thanks for confirming, @TheAresjej 😄 @pilsnerbeer can you verify too? If it looks good, we can close this issue out

[2020-01-08 17:11] westy commented on #7424
Been using Firefox all day - it's come on nicely since I last used it in anger I must say.
Finding source files is better than Chrome I think.

But yeah, just reloaded Chrome, it updated to 79.0.3945.117 and the highlighting is back.

[2020-01-08 17:26] Reprevise opened #7662 "Customizing android bottom bar"
## Description

I dont use most of the brave bottom navigation bar but I donot think it would be great if you could relocate the bottom icons and replace the ones you dont use with ones you do more often. For example, I dont use the bookmark button often but I refresh the page a lot so for my setup, I would replace the bookmark button with a refresh icon and probably move it to the end of the bar

[2020-01-08 17:29] emerick opened #7663 "No verified rewards icon for verified publishers in URL bar"
## Description
When visiting a verified publisher on brave-core Android, the Rewards panel icon doesn't show the "verified" checkmark.

## Steps to Reproduce

   1. Clean profile
   2. Enable rewards
   3. Visit verified publisher

## Actual result:
No checkmark icon in Rewards panel icon in URL bar

## Expected result:
Checkmark icon overlay should appear on Rewards panel URL bar icon

## Reprodu

[2020-01-08 17:32] emerick opened #7665 "Claim grant message remains after claiming grant via Rewards panel"
## Description

The "Claim grant" message remains on the brave://rewards page after claiming a grant via the rewards panel

## Steps to Reproduce

   1. Clean profile
   2. Enable Rewards
   3. Claim a grant *via the Rewards panel*

## Actual result:

"Claim grant" message remains at the top of the brave://rewards settings page

## Expected result:
The "Claim grant" message should auto-dismiss aft

[2020-01-08 17:41] bsclifton commented on #7658
cc: @mbacchi @mihaiplesa @fmarier

[2020-01-08 17:58] anthonypkeane commented on #7651
We had that here also https://github.com/brave/brave-browser/issues/7351 but it was resolved in 1.6.1

[2020-01-08 18:01] #7659 closed

[2020-01-08 18:23] roshan8 commented on #7655
I'm using this on Mac, not using any VPN

[2020-01-08 18:33] rebron commented on #7649
Closing. Released 1.2.42 on January 8, 2020 ~10:30amPST

[2020-01-08 18:33] #7649 closed

[2020-01-08 18:34] LaurenWags opened #7666 "Unable to get ad tokens if tokens are not ready with 1.3.x, 1.4.x and 1.5.x"
## Description
When launching 1.3.x, 1.4.x or 1.5.x with a clean profile via terminal (with flags) I can see that I get the following message:

[code]

and then a bit further down you will see a `Failed to refill tokens` message.

Because I can't get ad tokens, I can't receive ad notifications.

## Steps to Reproduce

   1. Launch 1.3.x with clean profile and the following flags: `--enable-logging

[2020-01-08 18:37] btlechowski commented on #7643
LGTM

Verification passed on

Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

[2020-01-08 18:37] #7643 closed

[2020-01-08 18:43] LaurenWags commented on #7666
full logs: https://gist.github.com/LaurenWags/a2b88143eaf9b27838989494794f083d

[2020-01-08 18:48] #7656 closed

[2020-01-08 18:53] btlechowski commented on #7666
Reproduced on Ubuntu 18.04 LTS

Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

[chrome_debug.log](https://github.com/brave/brave-browser/files/4036794/chrome_debug.log)

[2020-01-08 19:15] bsclifton commented on #7629
@git10135405 if you quit and restart Brave, is it able to find a newer version?

If not, I suspect something may be wrong with the install. Are you on Windows? Curious if the installer needs admin privileges to do the update. You can rule that out by starting Brave as administrator (should be an option when you right click the Brave executable)

[2020-01-08 19:19] fmarier commented on #7658
Strange, I just updated my browser successfully using the apt repo.

This suggests you're trying to access the repo over IPv6. However, from my machine, I can't see an IPv6 for that hostname:
[code]

There seems to be something wrong with DNS somewhere. I don't think you're connecting to the right server.

Can you try forcing one of the IPv4 addresses for that hostname in your `/etc/hosts` to see

[2020-01-08 19:26] #7106 closed

[2020-01-08 19:42] rebron commented on #1551
@szaimen Can you file a new issue and provide as much detail as possible (brave, version, os, etc) https://earth.google.com/web/?beta=1 and with the latest versions of Brave across channels, it's looking like it's working correctly.

[2020-01-08 20:23] bsclifton commented on #7092
There is a known GPU issue we have [which we're fixing](https://github.com/brave/brave-core/pull/4318)- I'd like to ask if folks can try changing a config value

@Raycoms can you please try visiting brave://flags/#enable-oop-rasterization and then DISABLING this flag? May require a restart of Brave after changing. But worth a shot. Please let us know!

[2020-01-08 20:26] srirambv commented on #7626
Cant reproduce this on my device. Moving it out of beta release for now

[2020-01-08 20:32] thisnickwasfree commented on #1024
What "Chromium with vaapi patches" are you talking about? There is Chromium 73 in Fedora 30, which has hardware acceleration, but all newer versions and Chromium-vaapi/Chromium-freeworld are not accelerated.

[2020-01-08 20:34] mmstick commented on #1024
Debian's Chromium builds enabled VAAPI a while ago. We're also shipping it in Pop!_OS.

[2020-01-08 20:34] srirambv commented on #4819
@SergeyZhukovsky  can this be closed since most are done?

[2020-01-08 20:35] wooque commented on #1024
@mmstick They reverted it as far as I know

[2020-01-08 20:47] mmstick commented on #1024
@wooque We haven't seen any issues during testing in our lab, so we still have it enabled.

[2020-01-08 20:48] srirambv commented on #7576
@yrliou does it work with current master?

[2020-01-08 20:59] bridiver commented on #5158
if you are trying to create bookmarks in the "Other Bookmarks" folder you should just leave the parentId blank. That will work correctly in Chrome and Brave.

[2020-01-08 21:02] bridiver commented on #5158
by "correctly" I mean that it will go in the default folder which is "Other Bookmarks" on Chrome and the bookmarks bar on Brave

[2020-01-08 21:10] #7661 closed

[2020-01-08 21:12] bridiver commented on #5158
another option would be to use `children.length - 1` as the index

[2020-01-08 21:17] srirambv commented on #1007
@bsclifton @w0ts0n can we close this?

[2020-01-08 21:24] w0ts0n commented on #1007
yes

[2020-01-08 21:24] #1007 closed

[2020-01-08 21:26] srirambv commented on #4618
Issue happens when locale is set to anything else apart from English (US). Setting it to English(Canada) reproduces the issue

[2020-01-08 21:27] btlechowski commented on #4618
Reproduced on Windows 7 x64

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Windows 7 Service Pack 1 (Build 7601.24530)

[2020-01-08 21:28] Raycoms commented on #7092
I feel like it is happening a little bit less again now, but it is still happening.

[2020-01-08 21:32] bridiver commented on #5158
Also relying on undocumented fixed bookmark node ids seems dangerous to me. We could potentially make changes to the bookmarks api to create a "shadow" node to have the same number of children as chrome, but this issue is closed and a new issue should be opened for this so it can be appropriately triaged and assigned a priority.

[2020-01-08 21:43] yrliou commented on #7570
FYI I didn't see it acting like this on master, it looks normal on my end without duplicate values.

[2020-01-08 21:55] darkdh commented on #5158
The active issue is https://github.com/brave/brave-browser/issues/7639

[2020-01-08 22:02] nero120 commented on #5158
Thanks for the tip, I'll test this and report back as soon as I can.

Could not agree with you more, it is a real shame that the chromium devs didn't include methods to retrieve container nodes when they originally implemented the bookmarks API.

[2020-01-08 22:04] jsandiego commented on #7658
Looks like OpenDNS blocked the IP that brave-browser-apt-release.s3.brave.com resolved to for me:

[code]

![Site Blocked_20200108_160344](https://user-images.githubusercontent.com/25184433/72020029-7a4e6b00-3230-11ea-9819-443c29d4f51e.jpg)

Using the IP you provided allowed me to update.

[2020-01-08 22:06] szaimen commented on #1551
No, it is working.
Sry haven't seen the link https://earth.google.com/web/?beta=1

[2020-01-08 22:12] fmarier commented on #7658
Ah yes, OpenDNS mistakenly blocked us yesterday: https://www.reddit.com/r/BATProject/comments/ela2o0/bravecom_sites_being_blocked_by_opendns/

They have apparently rolled out a fix on their end, but DNS caching being what it is, it might take another day to clear up.

[2020-01-08 22:17] bridiver commented on #7639
I wasn't personally a big fan of the change to remove "Other Bookmarks", but (unfortunately ;) I don't always get my way. In any case I can tell you with a high degree of certainty that this change is here to stay. We have had extensive (and heated) discussions about this and it's not likely to change. What could change here is how things are presented in the bookmarks api so that Brave looks like

[2020-01-08 22:25] bridiver commented on #5158
@nero120 I was surprised they didn't have constants for the bookmarks bar and other bookmarks node. I expected to find them in the api docs and use it as a potential fix inside the api

[2020-01-08 22:29] nero120 commented on #5158
@bridiver there have been instances whereby a few of my Chrome users have reported issues in the past that lead to the discovery that their Chrome bookmarks data file has different ids for other bookmarks and bookmarks bar. Could be that the ids are not fixed for these nodes by design, hence no constant.

I don't know how the internal browser code identifies these nodes, but it can't be by id obvi

[2020-01-08 22:38] srirambv commented on #6535
Verification passed on

Brave | 1.2.41 Chromium: 79.0.3945.88 (Official Build) (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Linux
Component | `0.1.34`

- Verified ETH deposits shows up as expected
![image](https://user-images.githubusercontent.com/17010094/72021549-437e5200-323c-11ea-86ff-53141f98240e.png)
- Verified deposit for ERC20 Toke

[2020-01-08 22:39] LaurenWags commented on #4618
Reproduces on macOS also (Australian English)

Brave | 1.3.86 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | macOS Version 10.14.6 (Build 18G103)

<img width="1178" alt="Screen Shot 2020-01-08 at 4 22 16 pm" src="https://user-images.githubusercontent.com/28145373/72022201-dc619d00-323d-11ea-8af7-7

[2020-01-08 22:44] srirambv commented on #7583
Verification passed on

Brave | 1.2.41 Chromium: 79.0.3945.88 (Official Build) (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Linux
Component | `0.1.34`

![image](https://user-images.githubusercontent.com/17010094/72022401-572ab800-323e-11ea-8501-47e5046dd693.png)

[2020-01-08 22:45] bsclifton commented on #7123
Thanks for the report, @ZaJarv  😄This is a known issue being tracked with https://github.com/brave/brave-browser/issues/2710

We should be able to look into it soon. I'm going to close this issue as a duplicate

[2020-01-08 22:45] #7123 closed

[2020-01-08 22:45] antonycourtney commented on #7639
( Moving discussion here from #5158 )

Agree this is disappointing.

For what it's worth, Tabli doesn't depend on a fixed node ID. It does depend on `tree.children[1]` being the "Other Bookmarks" folder, where `tree` is the root returned from `chrome.bookmarks.getTree`.
Not great, although I also think that looking for "Other Bookmarks" by name off the root also would have broken with this change.

[2020-01-08 22:45] bsclifton commented on #2710
+1 from @ZaJarv via https://github.com/brave/brave-browser/issues/7123

[2020-01-08 22:52] nero120 commented on #7639
FYI, you can't really query by name (title) since they change for each language!

[2020-01-08 23:01] antonycourtney commented on #7639
If Brave provided a root node with a replacement folder for "Other Bookmarks" at position 1 in the children list, I'm pretty sure this would instantly fix the Tabli extension.

[2020-01-08 23:06] bridiver commented on #5158
well, there are different ways they could handle the constant in the c++ code so it works even if the actual ids are not deterministic, but in any case it does seem odd that the only apparent way to accurately identify them is by folder name

[2020-01-08 23:07] nero120 commented on #5158
@bridiver you can't even do that as the container node title values are different for each language 😭

[2020-01-08 23:32] yrliou commented on #7576
@srirambv nope, it looks like we haven't ported private theme from android-browser-tabs.

[2020-01-08 23:32] #7608 closed

[2020-01-08 23:35] #7657 closed

[2020-01-08 23:43] kjozwiak commented on #4618
@rebron @bsclifton not sure how important it is to be displaying `Brave Software Brave help` vs `Brave help` but as mentioned above, most locales that aren't US will see the above.

Maybe we would reconsider the `P4` rating and move it to a `P3`?

[2020-01-09 00:01] #7654 closed

[2020-01-09 00:18] #6536 closed

[2020-01-09 02:07] mayeaux opened #7667 "Ability to tell whether the browser running the Chrome Extension is Brave or not"
Hi there, I'm developing a Chrome Extension that is somewhat specific to Brave users. Based upon that I would like to be able to tell if the browser that the user is running the extension with is Brave Browser or not. I haven't seen any documentation about this online so I figured I would ask the question here.

Also, I'd like to point out some incomplete markup on this page:
https://support.brave

[2020-01-09 03:31] yrliou opened #7668 "[Follow up] Make NTP stats work with both FeedNewTabPage and normal NewTabPage mode"
This is a follow-up issue from https://github.com/brave/brave-core/pull/4333.
In that PR, we are following what we have in browser-android-tabs, though ideally we don't need to disable that feature but could just move our codes for getting and updating NTP stats to a proper class that could work in both FeedNewTabPage and normal NewTabPage cases.

[2020-01-09 04:09] antonycourtney commented on #5158
I moved my comments over to open issue #7639. Propose we continue the discussion there.

[2020-01-09 04:32] adamreisnz commented on #5403
I have figured out why this is happening.

There is a noticable delay between the page loading and the credentials for that page becoming available in Brave (you can view this by refreshing the page, and then observing when the key icon appears):

![image](https://user-images.githubusercontent.com/490562/72038111-3a0cec80-3305-11ea-95fe-52a41fb26716.png)

It appears with a slight delay.

Now, if y

[2020-01-09 04:49] btlechowski commented on #6747
Verification passed on

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from the description. The widevine prompt is not shown again.

[2020-01-09 04:51] mil1i commented on #6043
I believe this is either a new bug, or this request was implemented globally by the brave team.

As @MauroNavarro mentioned above, I also no longer have my 'Other bookmarks' folder on the right hand side. Unlike the original poster, I want to keep my excess bookmarks in a separate folder so I don't have MANY bookmarks on my bar. This is only happening on Brave for me, and not on Google Chrome. Hap

[2020-01-09 04:55] btlechowski commented on #7132
Verification passed on

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified test plan from the description. The domain used is `ads-serve.brave.software`, which is actual domain.

![image](https://user-images.githubusercontent.com/34715963/72039211-73614000-32a

[2020-01-09 05:05] btlechowski commented on #6832
I tried to see but I am blind!

Verified to the best of my ability (https://github.com/brave/brave-browser/issues/6832#issuecomment-571254730)

Verification passed on

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

I used dev tools to check fonts.

[2020-01-09 05:14] btlechowski commented on #6627
Verification passed on

Brave | 1.3.85 Chromium: 79.0.3945.88 (Official Build) beta (64-bit)
-- | --
Revision | c2a58a36b9411c80829b4b154bfcab97e581f1f3-refs/branch-heads/3945@{#954}
OS | Ubuntu 18.04 LTS

Verified https://github.com/brave/brave-browser/issues/6627#issuecomment-546788174

![image](https://user-images.githubusercontent.com/34715963/72039944-2c287e80-32a7-11ea-9c59-7b262f4c57c0.png)

[2020-01-09 05:16] alwaysonfire commented on #7424
Still experiencing this.
Chrome: Version 79.0.3945.117 (Official Build) (64-bit)

[2020-01-09 06:45] PrimarchAlpharius commented on #2694
I also have this issue, after switching OS from Ubuntu 19.04 to Ubuntu 19.10.
Granted, the amount to be restored was very small, so I don't particularly care about it, but it's definitely something that could potentially become a big problem in the future.

[2020-01-09 08:00] zirs3d opened #7669 "Crypto Wallets add multiple tokens in Search Tab has 'next' button disabled"
## Description
On Crypto Wallets, when adding multiple tokens in Search Tab, the "Next" Button is disabled.

## Steps to Reproduce
Open Crypto Wallets Account 1
Click "add tokens" to account button in side-bar
In Search Tab, for example search for "bat..."

After browsing the list of tokens in Search Tab
Selecting 1 or more tokens from the search list of tokens
Click on "next" button to proceed.

[2020-01-09 08:04] Kevmate commented on #7537
I am getting the same problem, using latest version. I was creating a wallet, wrote down my passphrase, then on the next screen where you have to select the words I found they were not all on the screen. I couldn't scroll, so I refreshed the page. The words disappeared. After that the page didn't work so I came out and went back in. Now I am asked for a password, which I can remember, but when I c

[2020-01-09 08:18] deeppandya opened #7670 "[Android] Port `Implement NTP images`"
## Description

Port https://github.com/brave/browser-android-tabs/issues/2176 into brave-core

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you r

[2020-01-09 10:15] Raycoms commented on #7092
Correction, it doesn't happen less. Just seemed like this for a few minutes.

[2020-01-09 10:47] logix2 commented on #1024
I'm using this PPA: [https://launchpad.net/~saiarcot895/+archive/ubuntu/chromium-beta](https://launchpad.net/~saiarcot895/+archive/ubuntu/chromium-beta). The VAAPI patches are available here: [https://github.com/saiarcot895/chromium-ubuntu-build/tree/master/debian/patches](https://github.com/saiarcot895/chromium-ubuntu-build/tree/master/debian/patches).

[2020-01-09 11:11] osakanwolf commented on #6378
So in other words this will likely never be an option. Brave is just not ready to be taken seriously.

[2020-01-09 11:31] aormsby commented on #5075
Nope. I don't even see the option. Hopefully, I'm not missing some important detail here.

![Screen Shot 2020-01-09 at 18 22 39](https://user-images.githubusercontent.com/1312251/72063788-0fbf2d00-330d-11ea-9eb0-e5fccad58e5c.png)

![Screen Shot 2020-01-09 at 18 30 30](https://user-images.githubusercontent.com/1312251/72064280-2023d780-330e-11ea-9140-f5df48354724.png)

[2020-01-09 11:39] GeetaSarvadnya commented on #6943
Verification passed on

Brave | 1.3.87 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4092
- Verified the STR mentioned in the description
![image](https://user-images.githubuser

[2020-01-09 11:48] iefremov commented on #6841
test plan:

The second issue can be tested the same way as https://github.com/brave/brave-browser/issues/7253

The first one: new metric called `Brave.Core.IsDefault` is added. It should work the same way as DefaultBrowser.State and always emit 0 or 1

@LaurenWags

[2020-01-09 11:51] vinkla opened #7671 "Device frame not visible when activated in developer tools"
## Description

The device frame in developer tools not visible when activated.

## Steps to Reproduce

1. Visit any website.
2. Open developer tools and toggle device toolbar.
3. Select device such as iPhone 6/7/8.
4. Open dropdown and select show device frame.

## Actual result:

![image](https://user-images.githubusercontent.com/499192/72065270-2c903c00-32de-11ea-9ca3-5a594bedef0c.png)

## Expe

[2020-01-09 13:01] btlechowski commented on #6983
Verification passed on

Brave | 1.3.87 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4012. I used new credentials. The selfie option worked without problems. After the process I got message: `Processing your ID d

[2020-01-09 13:54] bridiver commented on #6378
I'm sorry that you don't think Brave is ready to be taken seriously because we didn't want to exactly copy Chrome's unusual bookmark structure. Brave may be based on Chromium, but we have no intentions of just being a Chrome clone.

[2020-01-09 13:55] edsimpsons83 commented on #7639
This is really disappointing and very user hostile. Moved my entire family over to Brave during the holidays for improved security and woke up to txts this morning asking why their bookmarks have moved around. With Chrome controlling ~70 of the browser market, the vast majority of people switching to Brave expect the "Other Bookmarks" folder to be on the right, not mixed in with their normal bookm

[2020-01-09 14:16] btlechowski commented on #6961
The webtorrent actually uses `Poppins` and `Moli` fonts.

![image](https://user-images.githubusercontent.com/34715963/72074513-58b5b800-32f2-11ea-81d5-2fbf9acb6345.png)

![image](https://user-images.githubusercontent.com/34715963/72074322-083e5a80-32f2-11ea-9b84-eed061eef7ed.png)

Brave | 1.3.87 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdb

[2020-01-09 14:30] georapbox commented on #7639
Even after solving #5158 the sync issues still remain though. Trying to sync my Mac with android ended up with duplicate folders or missing bookmarks.

[2020-01-09 15:10] srirambv commented on #7415
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified sending test ether from https://faucet.metamask.io/ works
- Verified sending test ether from https://faucet.ropsten.be/ works

---------

Verification passed on

Brave | 1.

[2020-01-09 15:14] pilsnerbeer commented on #6953
I'm still not able to see this on Brave Version 1.2.42 and Windows 1903 build.

[2020-01-09 15:14] srirambv commented on #7656
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified no error on console when component is loaded and `brave://wallet` is loaded

---------

Verification passed on

Brave | 1.3.87 Chromium: 79.0.3945.117 (Official Build) beta

[2020-01-09 15:20] srirambv commented on #7452
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified no errors on console when trying to connect wallet

[2020-01-09 15:45] bridiver commented on #7639
You can always create a folder inside the bookmarks bar, but I seriously doubt we'll change the node structure because we wanted to standardize it across platforms (unlike Chrome which has a separate "mobile bookmarks" folder)

[2020-01-09 15:47] bridiver commented on #7639
There won't be a replacement per se, but we may decide to fake it to avoid other potential breakage. In that case I think it's likely that "Other Bookmarks" would just be an alias for the bookmarks bar

[2020-01-09 15:55] bridiver commented on #5158
I guess in that case maybe array index is the best option, but I think length - 1 may not work correctly on Chrome if you have mobile bookmarks from android

[2020-01-09 15:58] bridiver commented on #5158
Actually you could use the l10n apis to handle that, no?

[2020-01-09 16:04] srirambv commented on #7450
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified adding a second account doesn't ask to create password
- Verified no errors logged on console when a new account is created

----

Verification passed on

Brave | 1.3.87 Ch

[2020-01-09 16:08] srirambv opened #7672 "Privacy Mode & Privacy Data missing from Security & Privacy section in settings"
## Description

Privacy Mode & Privacy Data missing from Security & Privacy section in settings

## Steps to Reproduce

   1. Install `0.1.35` component
   2. Go to settings
   3. Missing sections under security and privacy

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/72083621-2004e700-32d0-11ea-92b8-7f65d9c31258.png)

## Expected result:
![image](https://user-im

[2020-01-09 16:12] srirambv commented on #7672
Looks like its removed under MM as well so expected. Closing the issue as invalid
![image](https://user-images.githubusercontent.com/17010094/72084128-f26c6d80-32d0-11ea-8613-6768d8c959a5.png)

[2020-01-09 16:12] #7672 closed

[2020-01-09 16:16] srirambv opened #7673 "Remove about section from settings"
## Description

Remove about section from settings.

## Steps to Reproduce

   1. Install component `0.1.35`
   2. Go to settings
   3. About has links to MM pages

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/72084273-2fd0fb00-32d1-11ea-8533-b9728d8e9be2.png)

## Expected result:
No About section as it was removed in #6101

## Reproduces how often:

Easy

## Brav

[2020-01-09 16:21] #7544 closed

[2020-01-09 16:26] srirambv commented on #7444
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified `Learn More` points to [Brave Support article](https://support.brave.com/hc/en-us/articles/360034535452-How-can-I-add-my-other-Crypto-Wallets-to-Brave-)

---

Verification

[2020-01-09 16:27] srirambv commented on #7669
Works fine for me. Could you possibly do a screen recording of your steps?

[2020-01-09 16:29] srirambv commented on #7630
I think this is by design that the words are not sorted. Probably a suggestion to considered upstream

cc: @danfinlay @bbondy @ryanml

[2020-01-09 16:34] srirambv commented on #7418
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified selecting BAT only selects it
![image](https://user-images.githubusercontent.com/17010094/72085663-b25aba00-32d3-11ea-80d8-32574a960cac.png)
- Verified selecting ETH only s

[2020-01-09 16:34] #7666 closed

[2020-01-09 16:39] srirambv commented on #7419
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified new account can be created without having to enter password

-------

Verification passed on

Brave | 1.3.87 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --

[2020-01-09 16:43] srirambv commented on #7417
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.35`

- Verified backup phrase buttons alignment is correct
![image](https://user-images.githubusercontent.com/17010094/72086538-13cf5880-32d5-11ea-9fec-ac3e145c6f84.png)

-------

Verifica

[2020-01-09 16:47] nero120 commented on #5158
Thought you could only access your own locale strings using that API?

[2020-01-09 16:52] Warface commented on #3199
@RobMaskell same for me. I've enabled Remote debugging but go all errors from Lighthouse. Still have to use Chrome to audit which is a bummer

[2020-01-09 16:54] smithki opened #7674 "WebRTC connection in iframe is treated as a cross-site device recognition attempt"
## Description
I am not 100% sure, but this could be similar/related to #5374

If you have an application inside an iframe which uses a WebRTC connection to another page on that same domain, the WebRTC connection is blocked by shields as a "cross-site device recognition attempt"—even though the domains are the same. Here's my best attempt to illustrate the connection I'm trying to make:

[code]

#

[2020-01-09 16:56] srirambv commented on #7451
This is shown on MM as well. It just lists the sites that are connected and easy removal of it.
![image](https://user-images.githubusercontent.com/17010094/72087764-03b87880-32d7-11ea-87e6-779f1de03c43.png)

Looks like an enhancement which is actually useful. Closing the issue as its the same on MM as well. @bbondy please reopen if you think we need to have this removed.

[2020-01-09 16:56] #7451 closed

[2020-01-09 16:57] bridiver commented on #5158
Right, but you would search based on the localized string so it should always match.

[2020-01-09 17:03] bridiver commented on #6378
What is it about a ticket being opened by a Brave employee to fix this issue makes you think this is not likely to ever be an option? The beta version of the android app ported to brave-core isn't even available yet.

[2020-01-09 17:05] Martina-Neumayer commented on #6098
For me also does not work.

[2020-01-09 17:07] bridiver commented on #7639
This is something we have discussed and it seems silly to me that we don't match up bookmarks by name/url/folder. I can't see any reason why anyone would intentionally create a duplicate of a bookmark in the same folder cc @davidtemkin, however that is a separate issue that should have its own ticket.

[2020-01-09 17:08] Martina-Neumayer commented on #7092
@Raycoms Update your kernel.. 4.19 is a bit old one as for the Arch based system ;)
Btw.. You can also look here..
https://github.com/brave/brave-browser/issues/6098

[2020-01-09 17:10] Martina-Neumayer commented on #7092
For me disabling the OOP rasterization changes nothing. Hangs are still there.

[2020-01-09 17:20] LaurenWags commented on #6983
Verified passed with

Brave | 1.3.87 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced the issue with 1.0.0 Chromium: 78.0.3904.97
<img width="683" alt="Screen Shot 2020-01-09 at 12 09 25 PM" src="https://user-images.githubusercontent.com/28145373/

[2020-01-09 17:22] LaurenWags commented on #6983
Note - updated `release-notes/include` to be `release-notes/exclude` per discussion with @kjozwiak since this was actually included in 1.1.x.

[2020-01-09 17:47] ryanml commented on #7537
Hey folks cc: @Kevmate @paulwaldmann a reset feature is in the works, however, this workaround will suffice in the meantime. (Note this will completely reset everything to how it was the first time you used Crypto Wallets)

Navigate to your Application data directory for Brave, (on MacOS for example it is `/Users/your-username/Library/Application Support/BraveSoftware/Brave-Browser`). Inside that

[2020-01-09 18:04] juanjosezg commented on #3650
They only ignore this issue

[2020-01-09 18:13] yrliou commented on #7576
Android PR to port for this issue: https://github.com/brave/browser-android-tabs/pull/2193

[2020-01-09 18:18] #7673 closed

[2020-01-09 18:33] ryanml opened #7676 "Harden override selectors/approach to avoid future regressions"
Per discussion regarding: https://github.com/brave/ethereum-remote-client/pull/104 - we should avoid using CSS index selectors to hide/modify elements as they are likely to break in the future. A better approach if we can't use unique ID's would be to override MM components.

[2020-01-09 18:38] srirambv commented on #7673
Verification passed on

Brave | 1.4.55 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Linux
Component | `0.1.36`

- Verified no About section in settings
![image](https://user-images.githubusercontent.com/17010094/72094847-47b27a00-32e5-11ea-9378-077732b4045f.png)

[2020-01-09 19:42] bjcd opened #7677 "Impossible to access/create a crypto wallet"
Hello, I'm new to Brave and I have to say I'm experiencing an annoying issue with generating my Brave crypto wallet. Let me describe the steps I followed:

1. Clicked the tab "Crypto Wallet"
2. Clicked "Create"
3. Typed my password twice
4. An error was displayed, can't recall which one
5. Went back to the Crypto Wallet" tab and ended up on the seed phrase page
6. Quit the page thinking that given

[2020-01-09 19:56] vtamara opened #7678 "Support for OpenBSD"
## Description

Source code of Brave does not compile on OpenBSD / adJ

## Steps to Reproduce

   1. Try to download binaries for OpenBSD
   2.
   3.

## Actual result:

You will not find.

## Expected result:

That you will find or instructions on how to build on OpenBSD.

## Reproduces how often:

Always.

## Brave version (brave://version info)

Any

## Version/Channel Information:

- Can you r

[2020-01-09 20:08] nero120 commented on #5158
Sorry I meant that the extension would need to package the strings itself for every locale, like so:

[code]

Possible but horrid! Would be far better for the bookmarks API to present a way to request container nodes.

[2020-01-09 20:14] bridiver commented on #5158
Ok, I assumed `getMessage` would just work because the string is already localized for the UI

[2020-01-09 20:18] nero120 commented on #5158
Yeah that would have been useful, but I believe the API only access your own implemented I18n strings, not internal browser ones. There are some [predefined strings](https://developer.chrome.com/extensions/i18n#overview-predefined) but nothing that would help us.

[2020-01-09 20:29] #7543 closed

[2020-01-09 20:42] bsclifton commented on #7424
@alwaysonfire do you have `Remote Debugging` enabled under brave://settings/privacy?

We're going to look at proxying the calls made and enabling by default (see https://github.com/brave/brave-browser/issues/7645)... but currently, it's something you need to manually enable

[2020-01-09 20:44] #7549 closed

[2020-01-09 21:06] AdamSC1-ddg commented on #5290
Brave currently does allow for whitelisting via the brave://adblock/ page using adblock syntax:

`@@||ads.example.com/notbanner^$~script`

or entire sites:

`@@||example.com^$document`

if the OP needs to whitelist logmein they should be able to do so (with all subdomains) by adding:

`@@||logmein.com^`

What's missing currently is the ability to add URLs or to use a custom schema like ABP has to

[2020-01-09 21:07] chrsengel commented on #7397
I had the same issue with the latest release (on Ubuntu 19.10) and fixed it by removing and reinstalling `fonts-noto-color-emoji`. Might help you guys.

[2020-01-09 21:11] gdregalo opened #7760 "When have multiple grants, claiming one deletes the next one on the html settings page"
## Description

When have multiple grants, claiming one deletes the next one on the html settings page.
Please fix in branch: `base-79.0.3945.116`.

## Steps to reproduce

   1.  Create a wallet.
   2.  Add multiple grants.
   3. Open chrome://rewards and claim a grant.
   4. Once completed, observe the grant you just claimed and the next one are deleted from the
       page.
   5. To see the dele

[2020-01-09 21:15] #6979 closed

[2020-01-09 21:15] #7581 closed

[2020-01-09 21:55] davidtemkin opened #7679 "P3A: Change the meaning of the first answer to all Rewards-related questions"
## Description

Currently a set of P3A questions have answers that are designed to determine how many people have Brave Rewards *disabled*, but in fact are actually measuring how many people have *no wallet* -- a different metric, since it is possible to have Rewards disabled, but still have a wallet.

These questions are:

Brave.Rewards.WalletBalance
Brave.Rewards.AutoContributionsState
Brave.Rew

[2020-01-09 22:08] bsclifton commented on #7679
Closing as duplicate of https://github.com/brave/brave-browser/issues/7633

[2020-01-09 22:08] #7679 closed

[2020-01-09 22:09] bsclifton commented on #7633
See https://github.com/brave/brave-browser/issues/7679 for more details by @davidtemkin

[2020-01-09 22:23] Raycoms commented on #7092
Oh nice, didn't know there was another open issue yet. Similarly to how you described it, it started after an Nvidia driver update for me. But it doesn't happen with any other browser at all (At least not with chrome or firefox) so it must be something brave specific.

[2020-01-09 22:41] rebron commented on #7652
cc: @alexwykoff

[2020-01-09 23:10] ryanbr opened #7680 "Allow shields to whitelist an entire site, including subdomains"
## Description
Discussion on how to whitelist/adjust shields on all subdomains came up. So give the user an option to whitelist *.domain.com Currently shields is on a per-domain basis.

## Steps to Reproduce

   1. Turn off Shields on `logmein.com`
   2. Open new tab on `accounts.logmein.com`
   3. Expect Shields to be disabled on `accounts.logmein.com`

## Actual result:
Shields is enabled still,

[2020-01-09 23:16] emerick opened #7681 "Android stats ping not received in production"
@aekeus  mentioned that he's not seeing any stats pings from Android in production. We also noticed that the channel appears to be set to `unknown` in brave://version.

[2020-01-09 23:23] aekeus commented on #7681
@aekeus

[2020-01-09 23:31] bsclifton commented on #5075
ah ok - that feature is only on 1.3 and newer (which is on our Beta channel)

[2020-01-09 23:36] Brave-Matt commented on #7680
Some additional reports:

- https://community.brave.com/t/shields-is-blocking-webgl-on-itch-io/81402
- https://community.brave.com/t/how-to-widen-scope-of-saved-site-exceptions/13715
- https://community.brave.com/t/cant-deny-all-and-whitelist-cookies-in-version-0-57-18/39166/2
- https://community.brave.com/t/bravew-shields-league-of-legends/78761
- https://community.brave.com/t/a-manually-edited-w

[2020-01-09 23:43] bridiver commented on #5158
Haha, that's great, so you have either 2 or 3 root nodes (depending on whether or not you're syncing with mobile) and the only way to identify them is to hope they're in the order you expect them to be in? I guess you could create a bookmark without specifying the `parentId` (so it goes in "other bookmarks") and then check the `parentId` value in the callback, but you still have no documented reli

[2020-01-09 23:49] #6437 closed

[2020-01-10 00:01] NejcZdovc opened #7682 "Removes foreign keys from rewards database"
Based on https://github.com/brave/brave-browser/issues/7579 and talk with @bsclifton and @bbondy we decided to completely remove  foreign keys and keep it simple.

[2020-01-10 00:05] bridiver commented on #5158
and fyi - in the c++ code there are several ways to get the nodes
[code]
and
[code]

[2020-01-10 00:12] alwaysonfire commented on #7424
I am currently using Google Chrome. I can't seem to find a Remote Debugging here.

[2020-01-10 00:18] #6286 closed

[2020-01-10 00:34] MicahZoltu commented on #7630
@srirambv I can't think of any reason the words would be unsorted by design.  There are no security benefit from random sort from alphabetical sort, and it makes UX noticeably worse.

Is the Brave wallet just a thin fork of MetaMask?  I haven't created a new account in MetaMask for some time, so maybe Brave is just using the same UI and I should file a bug over there?

[2020-01-10 00:35] ryanml commented on #7630
@MicahZoltu in this case MetaMask has the same behavior, we just use 24 word secret phrases as opposed to MM's 12. I think if you'd like to escalate this it'd be worth filing over at https://github.com/MetaMask/metamask-extension to get the team's thoughts on it.

[2020-01-10 00:36] #7587 closed

[2020-01-10 00:36] ryanbr opened #7684 "First party scripts being blocked by shields"
## Description
Shields is blocking a 1st party script on `https://www.keystofreedom.com/register/`

## Steps to Reproduce

   1. With sheilds enabled, visiting `https://www.keystofreedom.com/register/`
   2. 1st party script being blocked in Shields.
   3. (shouldn't be blocked)

## Actual result:

![keysto](https://user-images.githubusercontent.com/1659004/72115943-9b889600-33ad-11ea-86e3-a65407f

[2020-01-10 00:40] MicahZoltu commented on #7630
Closing this in favor of new MetaMask bug https://github.com/MetaMask/metamask-extension/issues/7799.

[2020-01-10 00:40] #7630 closed

[2020-01-10 00:45] bsclifton commented on #7424
@alwaysonfire oh ok- Chrome doesn't have that; they make requests to Google servers without any settings changes

Sounds like there might be a new bug in Chromium? You can create a new issue at https://crbug.com

[2020-01-10 00:46] #7684 closed

[2020-01-10 01:22] yrliou commented on #7570
Weird, I installed brave beta from play store today and didn't see the duplicated values either.

[2020-01-10 02:34] coleberhorst commented on #3650
Largely this issue and a lot of other polish issues is why I stopped using Brave. Would love to use Brave, but I can't sacrifice productivity extensions just for privacy principles.

[2020-01-10 04:12] headkace opened #7685 "tab-switch to most recent tabs first"
## Description
When tab switching with hot key, &lt;ctrl-t&gt;, it would be much better if you were sent to the most recent tab that was active rather than simply moving to the next tab to the right.
## Steps to Reproduce
   1. Open a number of tabs.
   2. Switch between two non-adjacent tabs by clicking on the tabs one after the other.
   3. Next, change tabs with &lt;ctrl-t&gt;.

## Actual resul

[2020-01-10 04:30] kjozwiak opened #7686 "crash when clicking on "Shows" under https://www.crunchyroll.com when shields enabled"
## Description

Brave will sometimes crash when you click on "Shows" at the top of https://www.crunchyroll.com.

## Steps to Reproduce

   1. install & download the latest android-core-releae from GPS (using `79.0.3945.88` in this case)
   2. visit https://www.crunchyroll.com/
   3. click on `View full site`
   4. once the desktop version loads, click on `Shows`

Repeat step **`#4`** a few times i

[2020-01-10 06:05] mpaluta commented on #6905
I'm on Mint and have not experienced this issue. It sounds like this is related to sync and not OS. Maybe you could rename it so it can be categorized appropriately and linked to other sync issues @Nuc1eoN

[2020-01-10 06:12] mpaluta commented on #6913
I find Brave ads more invasive than traditional ads embedded on a web page. Notifications are invasive _by design_.

It is strange to me that Brave has decided to deliver ads via pop up notifications, both on desktop and mobile. Both styles are highly invasive and distracting. I have turned them off until a better solution is created.

@szaimen I love the new tab idea.

[2020-01-10 06:33] mpaluta commented on #3296
@bsclifton @srirambv any updates on this? Looking through some open and closed threads, this issue has been going on for roughly a year now and detracts from UX. After restarting my browser for the latest update, my bookmark ordering is scrambled again and phantom ones that I deleted months ago are back from the dead.

Related: #6461, #6034, as well as many closed issues over the past year.

[2020-01-10 06:55] kjozwiak opened #7687 "Windows Security modal appears/disappears several times mentioning MM when connecting to Nano Ledger"
## Description

When connecting to the `Nano Ledger` on Windows, you'll get a modal from `Windows Security` appearing/disappearing several times before CW connects to the `Nano Ledger`. Example:

![Untitled](https://user-images.githubusercontent.com/2602313/72131773-3c923500-334b-11ea-9623-44ad5def005b.png)

This also happens with the current CW release.

## Steps to Reproduce

   1. launch `1.5.2

[2020-01-10 07:06] kjozwiak opened #7688 "brave stalling/beach balling when auto-completing URLs via tab"
## Description

Sometimes when you quickly click on the URL bar and try auto-completing a URL via the `TAB`, the cursor will start beach balling and Brave will stall for a few seconds until the URL is completed.

I've ran into this a few times recently and it happens at least ~3-4 times a day.

## Steps to Reproduce

I don't really have STR but it usually happens when Brave has been idling for a b

[2020-01-10 07:24] johnyqi commented on #3296
I can confirm that almost after one year that syncing bookmarks is still messed up. It created a bunch of duplicates for me, out of nowhere.

[2020-01-10 07:25] bsclifton commented on #6904
Reverted with https://github.com/brave/brave-core/pull/4357

Better quality images provided with https://github.com/brave/brave-core/pull/4327

Still a few that need fixing though

[2020-01-10 07:39] bsclifton commented on #5410
I did an implementation of this but only after merging did I realize we aren't creating different versions per release channel

Implementation I did:
https://github.com/brave/brave-core/pull/4299

Reverted with:
https://github.com/brave/brave-core/pull/4358

[2020-01-10 07:46] bsclifton commented on #5410
When solving this issue properly (respecting channels), we can update the graphics used for the icons if we'd like:
https://github.com/brave/brave-core/tree/master/app/theme/brave/win/tiles
- Logo.png will be scaled (if needed) and displayed at 150px by 150px
- SmallLogo.png will be scaled (if needed) and displayed at 70px by 70px

We can also change the background color (default is gray) and we c

[2020-01-10 08:11] #7628 closed

[2020-01-10 08:39] simonhong opened #7689 "Settings page in private window doesn't show buttons properly"
## Description

Menu button is not visible when light mode.

## Steps to Reproduce

   1.  Open private window and load brave://downloads/
   2. change to light mode

## Actual result:

![image](https://user-images.githubusercontent.com/6786187/72138221-bcfa7980-33cf-11ea-9e8e-bf1f61abb723.png)

## Expected result:
Buttons should be visible easily

## Reproduces how often:

Easily

## Brave versio

[2020-01-10 10:18] GeetaSarvadnya opened #7690 "Follow up of #6755 - Grant notification is not dismissed from NTP rewards widget after claiming it from brave://rewards or Rewards Panel"
## Description

Follow up of #6755 - Grant notification is not dismissed from NTP rewards widget after claiming it from brave://rewards or Rewards Panel

## Steps to Reproduce

Case 1: Claim grants from Panel

   1. Clean profile 1.3.87 staging environment
   2. Enable rewards and claim grants from BR panel
   3. Navigate to brave://rewards settings page to see claimed grants display
   4. Open a

[2020-01-10 10:39] GeetaSarvadnya commented on #6856
@fmarier I can see the following items in brave://credits. Except for these 4 items, I don't have remaining licenses in window 10. Is this platform-specific or some items are missing in windows?

PROCHLO (Apache-2.0)
HTTPS Everywhere (GPL-2.0)
Muli (OFL-1.1)
Poppins (OFL-1.1)

[2020-01-10 10:48] Luminus commented on #5290
Thanks @AdamSC1-ddg.

I just tried this with `@@||wordpress.com^` as a quick test to whitelist all WordPress.com sites, but the shields are still operational on them.

Is there something I'm missing?

I've also tried the `@@||wordpress.com^$document` variant to no avail.

[2020-01-10 11:36] anotherzen commented on #3296
I can confirm as well. I am experiencing both duplicates and issues with the order in which the bookmarks are placed on the bookmarks bar. Brave sync link is 2 computers 1 phone.

[2020-01-10 11:43] Kevmate commented on #7537
Yes, thanks, that removed the corrupt wallet. I haven't created a new one yet, but the fault is cleared :)

[2020-01-10 12:25] btlechowski commented on #6856
@GeetaSarvadnya I can see the licenses on 1.3.87 on Windows 7 x64 and Windows 10 x64
![image](https://user-images.githubusercontent.com/34715963/72152806-5d3ea700-33ac-11ea-9ac6-225182b89a4a.png)
![image](https://user-images.githubusercontent.com/34715963/72152823-6f204a00-33ac-11ea-8935-e84cdef94f16.png)
![image](https://user-images.githubusercontent.com/34715963/72152865-8eb77280-33ac-11ea-932d-

[2020-01-10 12:31] Jacalz commented on #5450
I can reproduce this too on the latest version 1.2.42 on Windows 10.

Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
-- | --
OS | Windows 10

[2020-01-10 12:37] AlexeyBarabash opened #7691 "Sync changes of move bookmarks are not reflected"
## Description

Found while looking on https://github.com/brave/brave-core/pull/4324 . Move operation right after the chain creation is not reflected .

## Steps to Reproduce

1. Add A1.com and A2.com on device A before sync chain creation
2. Create sync chain on device A and connect device B
3. A1.com and A2.com should appear on device B instantly
4. Add folder A on device A
5. Move A1.com and A2

[2020-01-10 12:40] srirambv commented on #7687
Reproduced it on Windows 10 VM but not on the device
![image](https://user-images.githubusercontent.com/17010094/72153431-ea1d3c80-337b-11ea-8c5e-741bd4e23c9e.png)
Issue happens on MM as well so this is not wallet related but OS related
![image](https://user-images.githubusercontent.com/17010094/72153493-28b2f700-337c-11ea-9539-440c81543736.png)

Am not sure if this is something that we can avoid

[2020-01-10 12:49] meerasndr commented on #3271
This seems solved?

[2020-01-10 13:16] srirambv commented on #7677
This error shows up when there is a component mismatch. Step 12 is what is causing the issue.

Can you try removing the folder `~/Library/Application Support/BraveSoftware/Brave-Browser/odbfpeeihdkbihmopkbjmoonfanlbfcl` and also remove `~/Library/Application Support/BraveSoftware/Brave-Browser/Default/Local Extension Settings/odbfpeeihdkbihmopkbjmoonfanlbfcl` and launch browser and try? Make sure

[2020-01-10 13:18] srirambv commented on #7685
Closing as dupe of #913

[2020-01-10 13:18] #7685 closed

[2020-01-10 13:18] srirambv commented on #913
+1 from @headkace  via #7685

[2020-01-10 13:35] Squall-DA commented on #5947
I'm wondering if there has been any further investigation into this issue. It is still present in brave version 1.2.42

[2020-01-10 13:46] Nuc1eoN commented on #6905
@mpaluta No, on my Windows 10 systems it works perfectly fine.

[2020-01-10 13:57] LaurenWags commented on #6856
Verified passed with

Brave | 1.3.88 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4000
* Note, only `PROCHLO`, `Brave HTTPS Everywhere`, `Muli`, and `Poppins` are available on `brave://cred

[2020-01-10 14:06] bridiver commented on #6378
If we had no intentions of implementing this we would close it as "won't fix", not open a new ticket for brave-core. There are a limited number of resources to implement features and things have to be prioritized. If enough users were asking for this I guarantee the priority would be bumped up. If you don't think other browsers like Chrome have very old tickets that a lot of users are asking for t

[2020-01-10 14:08] Martina-Neumayer commented on #7092
@Raycoms Yes.. Seems that it happened every time the nvidia driver update is released. I think the entire Chromium base is affected as well from this issue.

[2020-01-10 14:26] geeper commented on #5290
I tried the above and it didn't work for me either.

[2020-01-10 14:47] masparrow commented on #7526
@GeetaSarvadnya Hi Geeta - can I just confirm what 'DDG' is in your steps? Presuming it was 'ddg.com' I tried to reproduce the above on Windows, but it worked fine;

<img width="695" alt="Screenshot 2020-01-10 at 14 46 20" src="https://user-images.githubusercontent.com/11368284/72161474-1c4c8f80-33b8-11ea-9000-b98db01373b5.png">

[2020-01-10 15:08] NejcZdovc commented on #7526
@masparrow ddg is https://duckduckgo.com/

[2020-01-10 15:10] LaurenWags commented on #5869
Verified passed with

Brave | 1.3.88 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced the issue using 1.2.42 Chromium: 79.0.3945.117 and confirmed unable to login using Google Auth
* Verified test plan from https://github.com/brave/brave-core/pull

[2020-01-10 15:13] AdamSC1-ddg commented on #5290
I had managed to get this to work a while ago when targeting Outbrain ads, but, having tried again there is an issue.

To further test this I  noted that:

1. Custom filters do block. For example `||redditstatic.com^` will break Reddit.
2. Custom whitelisting will overrule custom blocks. For example, placing `@@||redditstatic.com^` one line under `||redditstatic.com^` over rules the blocking.

It

[2020-01-10 15:14] LaurenWags commented on #6942
@NejcZdovc what should be manually QA'd with this issue?

[2020-01-10 15:24] gdregalo opened #7763 "If have multiple grants, after claiming one from the panel, the next one is shown without CLAIM button."
## Description
If have multiple grants, after claiming one from the panel, the next  one is shown without CLAIM button.

## Steps to reproduce

   1.  Create wallet and receive multiple grants.
   2. Claim one and wait till it's finished.
   3. The next grant is shown without CLAIM button.

## Actual result
The next grant is shown without CLAIM button.

## Expected result
The next grant must have

[2020-01-10 15:26] NejcZdovc commented on #6942
@LaurenWags test plan could be that you do couple of contributions and make sure that this two tables are populated correctly

[2020-01-10 15:32] LaurenWags commented on #6942
mix of AC, one time tips and recurring tips?

[2020-01-10 15:34] NejcZdovc commented on #6942
yup

[2020-01-10 15:46] ya-d commented on #5842
I experience a similar bug when using [lehrmeister.eu PWA](app.lehrmeister.eu) PWA. It repeatedly (and reproducibly) crashes when moving the window. No crash report is generated. Working stable in Chrome.

Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
MacOS Catalina 10.15.2

[2020-01-10 16:09] ZYinMD opened #7693 "Does the chrome.identity api work in chrome extensions in brave?"
## Description
I'm a chrome extension developer. In my extension I call `chrome.identity.getAuthToken()` to do oAuth, this normally pops up a sign-in window in Chrome. The identity API is what made oAuth possible in extensions. However, in Brave, the popup doesn't appear, and in the console it shows `Unchecked runtime.lastError: The user turned off browser signin`.

So is `chrome.identity` support

[2020-01-10 16:11] habamax opened #7694 "dark mode doesn't affect window bar/header"
## Description
Dark mode is not applied to header bar

## Steps to Reproduce

   1. turn on dark mode in Win10 and in brave

## Actual result:
![image](https://user-images.githubusercontent.com/234774/72167506-487a0780-33dc-11ea-8ebe-33ac32c46e7d.png)

## Expected result:
Window header should also be dark

## Brave version (brave://version info)

![image](https://user-images.githubusercontent.com/

[2020-01-10 16:17] richmahn commented on #4672
@jumde Any news on this? Not able to authenticate as well.

[2020-01-10 16:23] ggirard07 commented on #7691
Same issue here while doing the bookmark move from my Android device. The change does not reflect on either of my Windows instances.

[2020-01-10 16:53] bjcd commented on #7677
Hello @srirambv I deleted both folders with Brave not running and I get the same error (_KeyringController - No account found on keychain._) at the password creation level, then same thing, empty seed phrase at the next step.

[2020-01-10 16:59] srirambv opened #7695 "Learn more on connect wallet popup links to MM support page"
## Description

Learn more on connect wallet popup links to MM support page. Was mentioned in #6135 but should have had a separate issue for it

## Steps to Reproduce

   1. Enable CW
   2. Visit any Dapp and connect
   3. Popup Window had help more which links to MM support page

## Actual result:

<img width="349" alt="Screen Shot 2020-01-10 at 11 57 21 AM" src="https://user-images.githubusercon

[2020-01-10 17:07] bsclifton commented on #6905
Thanks for sharing the issue, @zschuessler 😄 Looks like it may indeed be a bug in upstream Chromium which is tracked here:
https://bugs.chromium.org/p/chromium/issues/detail?id=1036427&q=freeze

Folks here might try launching Brave with an extra command line argument:
`--no-xshm`

Can you give that a shot, @Nuc1eoN?

[2020-01-10 17:08] srirambv commented on #6308
This still happens on current component and the rebased component
<img width="1038" alt="Screen Shot 2020-01-10 at 12 07 45 PM" src="https://user-images.githubusercontent.com/17010094/72171938-f1574100-33a1-11ea-84bf-3a0b3912a875.png">

[2020-01-10 17:11] rebron commented on #6864
@Techguyprivate Is `hotstar.com in your autoplay list? brave://settings/content/autoplay

[2020-01-10 17:19] Luminus commented on #5290
@AdamSC1-ddg thanks for the explanation.

So in essence, it isn't quite possible just yet to whitelist a domain and all its subdomains so that shields are down for them.

Is this something that you think will get implemented anytime soon?

[2020-01-10 17:19] rebron commented on #6864
cc: @GeetaSarvadnya Can you take a look?

[2020-01-10 17:19] rebron commented on #6864
cc: @srirambv I think this might be autoplay?

[2020-01-10 17:22] rebron commented on #6884
Can you explain in more detail on how you want this to look?

[2020-01-10 17:24] rebron commented on #6897
cc: @diracdeltas Can you take a look for referrer spoofing?

[2020-01-10 17:26] rebron commented on #6901
@harperaa It looks like todoist extension is working. Closing for now. Let me know if I need to reopen if it's still not working for you.

[2020-01-10 17:26] #6901 closed

[2020-01-10 17:29] rebron commented on #6918
Closing. Forwarding to the team, thanks for the suggestion.

[2020-01-10 17:29] #6918 closed

[2020-01-10 17:31] rebron commented on #6920
Closing. Discussed internally, we're not going to be doing this at this time. If we receive more requests we can reconsider.

[2020-01-10 17:31] #6920 closed

[2020-01-10 17:33] rebron commented on #6929
@kessero Can you check brave://crashes and send the crash report and post the crash id here?

[2020-01-10 17:35] rebron commented on #6932
Closing. Per last comment let's move this over to #1864

[2020-01-10 17:35] #6932 closed

[2020-01-10 17:38] rebron commented on #6936
Closing. Not able to reproduce this. Please reopen if you're still having issues with the latest version of Brave.
<img width="560" alt="Screen Shot 2020-01-10 at 9 37 29 AM" src="https://user-images.githubusercontent.com/5951041/72173618-d75f3380-338c-11ea-8772-0b0460bc492c.png">

[2020-01-10 17:38] #6936 closed

[2020-01-10 17:40] rebron commented on #6941
@cezaraugusto Is your pr solving this completely or are you stuck in review?

[2020-01-10 17:42] rebron commented on #6953
@pilsnerbeer Can you try pinning and unpinning Brave? Does that resolve the issue?

[2020-01-10 17:42] Wizardling commented on #4672
Yeah, this has been a lingering incompatibility since I switched to Brave a year ago. It's the only extension left that I want to use, but cannot.

[2020-01-10 17:47] rebron commented on #6963
Closing. Please reopen if you can use Fiddler or Little Snitch and learn anything more.

[2020-01-10 17:47] #6963 closed

[2020-01-10 17:48] rebron commented on #6965
@riastradh-brave Can you triage this one? thanks.

[2020-01-10 17:49] kessero commented on #6929
Crash reporting is disabled in my webrowser.
Now I have Wersja 1.1.23 Chromium: 79.0.3945.88 (Official Build) unknown (64-bit) and looks to be OK now.

[2020-01-10 17:49] #6929 closed

[2020-01-10 17:50] pilsnerbeer commented on #6953
Yes it's working now! Thanks. The issue is fixed.

[2020-01-10 17:50] rebron commented on #6968
Closing. We need quite a bit more information than what's been provided.

[2020-01-10 17:50] #6968 closed

[2020-01-10 17:51] AdamSC1-ddg commented on #5290
In theory doing `@@||wordpress.com^$document` should whitelist all calls (same as disabling shields) on wordpress.com and its subdomains. Where as `@@||wordpress.com^` should whitelist all calls to WordPress from other sites.

Not sure why its failing, but, I tagged the Brave staff who were involved in that convo above so hopefully they can investigate a fix.

[2020-01-10 17:52] rebron commented on #6971
Closing. We provided some new instructions, should be working now.

[2020-01-10 17:52] #6971 closed

[2020-01-10 17:53] rebron commented on #6973
@fmarier Still not seeing ad notifications?

[2020-01-10 17:59] rebron commented on #6978
cc: @petemill @simonhong Any ideas on this one?

[2020-01-10 18:17] #6953 closed

[2020-01-10 18:17] bbondy commented on #7669
This is working with the next release going out soon.

[2020-01-10 18:17] #7669 closed

[2020-01-10 18:22] bbondy commented on #7687
@danfinlay this also happens in MetaMask, do you know more about this?

[2020-01-10 18:26] bbondy commented on #7227
The  Kyber Swap issue will be fixed with this next release, but the ENS issue seems to also happen in MetaMask.  Would you mind editing out the parts of Kyber Swap in your original post @edsonayllon ?

[2020-01-10 18:37] fmarier commented on #6961
Thanks for confirming @btlechowski, it does look like it should have been imported. We're probably seeing the default fonts there where the stylesheet is requesting the Poppins font.

[2020-01-10 18:37] SergeyZhukovsky commented on #7627
Something is strange with that dialog:

[2020-01-10 18:38] edsonayllon commented on #7227
@bbondy Updated

[2020-01-10 18:40] SergeyZhukovsky commented on #7627
Closing and will reopen if it appears again.

[2020-01-10 18:40] #7627 closed

[2020-01-10 19:05] fmarier commented on #6973
I'm seeing them now. This appears to be resolved for me.

[2020-01-10 19:20] #7682 closed

[2020-01-10 19:26] kjozwiak commented on #7409
#### `Dapp` transaction under https://memefactory.io:

https://etherscan.io/tx/0x92270b55ec8ee74ab36df5b3aefdf5eb482e3a1bd608d3bf1c3512dde72e73ef

<img width="360" alt="Screen Shot 2020-01-10 at 2 24 03 PM" src="https://user-images.githubusercontent.com/2602313/72180345-fa9dd900-33b4-11ea-9c88-ff8f0cc7c9f1.png">

#### `Dapp` transaction under https://www.cryptokitties.co/

https://etherscan.io/tx/

[2020-01-10 19:45] kjozwiak commented on #7411
#### Connecting to `Trezor`

![Screenshot from 2020-01-10 14-40-55](https://user-images.githubusercontent.com/2602313/72181659-d099e600-33b7-11ea-8738-19b574e2df5f.png)

![Screenshot from 2020-01-10 14-41-28](https://user-images.githubusercontent.com/2602313/72181665-d394d680-33b7-11ea-9326-2f3b0945ca32.png)

![Screenshot from 2020-01-10 14-42-46](https://user-images.githubusercontent.com/2602313/

[2020-01-10 19:56] ryanbr commented on #3650
Nothing is showing up in the console when trying to sign in or add to Google keep.

**Extension source:**
  `!DOCTYPE html><html><head><title>Google Keep Chrome Extension</title><script type="text/javascript" src="keep_ba-prodbootstrap.js"></script><link rel="stylesheet" href="open_sans.css"><link rel="stylesheet" href="roboto.css"><link rel="stylesheet" href="roboto_condensed.css"><link rel="styl

[2020-01-10 19:56] kjozwiak commented on #7410
#### Connecting to `Trezor`

![Annotation 2020-01-10 195038](https://user-images.githubusercontent.com/2602313/72182382-58342480-33b9-11ea-986b-34d44b2ed41c.jpg)

![Annotation 2020-01-10 195329](https://user-images.githubusercontent.com/2602313/72182406-63875000-33b9-11ea-9027-1f54e8dded35.jpg)

![Annotation 2020-01-10 195118](https://user-images.githubusercontent.com/2602313/72182389-5b2f1500-33b

[2020-01-10 20:16] Renerick commented on #7449
Temporary workaround for this issue is in the discussion as well: https://bugs.chromium.org/p/chromium/issues/detail?id=883038#c203 (download the file, put it in some directory and install as unpacked extension)

Nevertheless, this behavior is still a problem for many users and I think it should be addressed ASAP

[2020-01-10 20:17] Nuc1eoN commented on #6905
@bsclifton I have tried the `--no-xshm` parameter but my brave still freezes intermittently on Linux

[2020-01-10 20:19] snyderp commented on #7688
I am also seeing this as recent as "Version 1.4.56 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)".

Pretty frustrating, maybe locks brave up for ~5 sec

[2020-01-10 20:31] ryanbr commented on #4672
Similar (and maybe related) to the issue with https://github.com/brave/brave-browser/issues/3650   Enabling `Use Google Services for Push Messaging` makes no difference.

[2020-01-10 20:32] Madis0 opened #7697 "Tor help page is not easily accessible in a Tor window"
## Description

The help page describing Tor is behind Cloudflare Captcha, which makes it very hard (if not impossible) to access in a Tor window itself.

## Steps to Reproduce

   1. Open a Tor window
   2. Click on ["Read more about Tor in Brave"](https://support.brave.com/hc/en-us/articles/360018121491)

## Actual result:

The user is given a "Complete the security check to access this page" pa

[2020-01-10 20:38] Madis0 commented on #7620
It is reproducible in the latest version of Chrome (`chrome://flags#enable-chrome-duet`) because that's where Brave got it - from upstream. Presumably it is made to highlight the most important function of the bar (like a FAB), but I can see why OP got confused.

[2020-01-10 20:48] ryanbr commented on #3650
Using Google Drive extension does generate some errors when attempting to login.

![google-drive-ext](https://user-images.githubusercontent.com/1659004/72185268-486b1d80-3457-11ea-824b-b5dbe5d78d59.png)

https://pastebin.com/nW2cshk1

[2020-01-10 20:59] jumde commented on #7582
Variations are disabled on master, verified on v1.5.15

[2020-01-10 21:08] srirambv commented on #7669
This is working as expected
![tokens](https://user-images.githubusercontent.com/17010094/72186440-4a839c80-33c3-11ea-90ef-b860a2ac9cae.gif)

[2020-01-10 21:12] bsclifton commented on #6905
Thanks for giving that a go and reporting back, @Nuc1eoN 😄

There's a similar (to this) issue opened which is specifically tracking this behavior with sync, for folks affected by that: https://github.com/brave/brave-browser/issues/6098

Definitely seems the issue you're seeing is not related to sync. If it's not working anyways, you may try turning off sync just to check

[2020-01-10 21:14] bsclifton commented on #7688
@snyderp are you running on macOS also?

[2020-01-10 21:15] #6973 closed

[2020-01-10 21:15] snyderp commented on #7688
@bsclifton yep!

[2020-01-10 21:16] bsclifton commented on #6758
Going to close as recommendation was given. We can re-open issue if the above does not help

[2020-01-10 21:16] #6758 closed

[2020-01-10 21:28] #7157 closed

[2020-01-10 21:55] #7410 closed

[2020-01-10 21:57] #7411 closed

[2020-01-10 21:58] #7409 closed

[2020-01-10 22:03] Nuc1eoN commented on #6905
@bsclifton Thanks, how would you suggest to disable sync? Is there a command? Or do I need to leave the chain?

[2020-01-10 22:14] Nuc1eoN commented on #6905
Ok it seems that my bug might actually correspond to #6098 !
It happens for about 15 seconds and indeed one of my CPU cores goes to 100% as long as it happens.

[2020-01-10 22:19] Nuc1eoN commented on #6905
Yeah reading through all of that this actually sounds exactly like my issue.

Still how can I exclude/confirm sync from testing? Can I disable it reliably somehow?

[2020-01-10 22:50] jonathansampson opened #7698 "Tip Tweets Should Link to Recipient"
## Description
Presently, if I tip a user on Twitch, I'll get a message like the following:

This message shares a recipient name, but without a platform context, the name is not very helpful. It would be far better to link to the recipient's account on each platform:

We should support custom username links for each platform we support. One exception is Twitter, where we simply provide the user's

[2020-01-10 22:56] aparedero commented on #7397
I realised this problem also occurs on Google Chrome, so is something realted to Chromium.

The solution from @chrsengel seems to work. I tried `sudo apt-get reinstall fonts-noto-color-emoji` , I closed all Brave / Google Chrome Windows and now is working in both browsers

[2020-01-10 23:01] Neustradamus commented on #598
Any news?

All good softwares when we install use by default "Program Files" (or recently "Program Files (x86)" for 32 bit apps in 64 bit system).
Bad softwares do not use it.

It is since Windows 95 and maybe before, no?

[2020-01-10 23:04] #7681 closed

[2020-01-10 23:10] madhums opened #7699 "disconnected uphold doesn't reflect"
Hi, I have closed my uphold account, when I go to brave rewards, I don't get an option to remove the connection. It still says "disconnected". Shouldn't this say "Connect" and remove the previously connected connection?

<img width="373" alt="Screenshot 2020-01-11 at 00 06 43" src="https://user-images.githubusercontent.com/123815/72192615-b2a7a200-3406-11ea-83ef-b8047458ea1e.png">

[2020-01-10 23:13] emerick opened #7700 "updatePatches should ignore Android XML files that we override"
We sometimes have the need to completely override an XML file in our Android builds. You can easily do this by creating the same file in `brave/android/java/res/`, however `updatePatches` will consider the file to be a patched. We should modify `updatePatches` to ignore changes to those files, as we don't want to accidentally commit them.

[2020-01-10 23:14] emerick commented on #7700
cc: @bridiver, this came up while working on https://github.com/brave/brave-core/pull/4360

[2020-01-10 23:18] #7589 closed

[2020-01-11 00:46] BrendanEich commented on #7639
@antonycourtney @edsimpsons83 This was a mistake, we will fix as best we can. Sorry about it and please stay tuned.

[2020-01-11 05:08] nikahmadz commented on #6863
You can view a test page I have setup here. Yes the problem still persist. The image was loaded twice. First by index.html and the other one by brave VM.

**Test page**: https://nikahmadz.github.io/brave/

![Annotation 2020-01-11 125729](https://user-images.githubusercontent.com/7868782/72199183-5d55aa00-3473-11ea-8be8-8dabf7a216dc.png)

[2020-01-11 08:12] FTOH commented on #5563
I would prefer it should store files in Downloads folder to be able open with other players (for media).

[2020-01-11 08:45] DurgadeviAvatarae commented on #6299
4221414

[2020-01-11 08:46] DurgadeviAvatarae commented on #6299
#

[2020-01-11 08:47] DurgadeviAvatarae commented on #6299
Boom

[2020-01-11 12:27] PopTudor commented on #5563
I looked into the same thing these days. I believe the answer you are looking for is to use an [Abstract Chunk Store](https://www.npmjs.com/package/abstract-chunk-store) implementation. Unfortunately [idb-chunk-store](https://www.npmjs.com/package/idb-chunk-store) has some issues when I tried to use it last day.  The one that worked for me(but not perfect) is  [this one](https://github.com/xuset/i

[2020-01-11 12:35] ydcjeff opened #7702 "Brave browser can't show the words while typing in terminal of CS50 online IDE"
## Description

Brave can't show the words I typed in the terminal of the CS50 online IDE.
I tried opening another terminal window and it didn't show up either.
So, I tried Firefox and Chrome and it works well.

Is it the Brave bug?

On Brave:
![Screen Shot 2020-01-11 at 18 55 52](https://user-images.githubusercontent.com/32727188/72204342-1385b780-34a5-11ea-9cf2-fa29b0329845.png)

On Chrome:
![Sc

[2020-01-11 14:42] paulwaldmann commented on #7537
In `Default/Local Extension Settings/odbfpeeihdkbihmopkbjmoonfanlbfcl` there's only `000004.log`

and the `000003.log` i can find in

[code]

[2020-01-11 15:18] PopTudor commented on #5563
update: [idb-chunk-store](https://www.npmjs.com/package/idb-chunk-store) seems to be fine after removing package-lock.json and npm install again. However the seeding of a 5GB file still takes 5GB of RAM

[2020-01-11 16:08] adutra22 commented on #3296
Experiencing lots of issues with sync'd bookmarks here as well. 5 devices synced, and have duplicates/triplicates of bookmarks. I clean them up, but then they all come back. There really needs to be an option that you can define the "master" in the sync chain. Any changes on that "master" bookmark setup needs to then be trickled down to all the rest of the devices in the sync chain.

[2020-01-11 18:50] #7577 closed

[2020-01-11 20:23] hugotrsd commented on #7238
Possible duplicate of #4094

[2020-01-11 21:27] survivor303 commented on #1308
Perhaps people dosnt want to change from US to UK. Like me, i want that every new bits are there on my builds, so im not want wait for uk translations. Thats why i and many others want to use US language on primary everywhere but still want to change date formats and such to match our own ones.

This isnt just a brave problem but wide ratio to other applications too. why? it is a problem by design

[2020-01-11 22:34] AdamKearn opened #7703 "gitPatcher.js:206 is giving a error when `npm run init`"
## Description

Hi,

when trying to run `npm run init` I get the following error.
This is a fresh clone of the source (TOT).
Any help is appreciated.

-Adam.

[code]

[2020-01-11 22:44] AdamKearn commented on #7703
Closing the issue as I found #6022 solved my problem.
Sorry guys I was being stupid and didn't think to upgrade my nodejs version...
Anyway, you live and learn.

[2020-01-11 22:44] #7703 closed

[2020-01-12 00:17] nsy16 commented on #7639
It would be nice to get my xBrowserSync extension working again. Only started using Brave since November last year after considering many alternative browsers.

[2020-01-12 00:31] AdamKearn opened #7704 "Build Script is failing"
## Description

Hey when running `npm run build` I get the following error:

[code]

If I run the same command again I get this:

[code]

I am not sure what is going wrong here... Any help is appreciated.

Regards,
Adam.

[2020-01-12 01:13] Dreamulet commented on #6378
Came upon this thread when I was searching how to export my bookmarks from Brave which I just downloaded.  And thought I should save my bookmarks while I'm at it.  I couldn't find the answer, so I went back over to Chrome to save them and thought I should try the same location for Brave and it was!  So just click on the 3 lines for drop down menu in the upper right hand corner, click bookmarks>Boo

[2020-01-12 07:02] bsclifton commented on #6905
Yup, leaving the chain would be the way to go. Let us know if that helps 😄

[2020-01-12 07:31] woodydeck commented on #7497
I just now saw this. Apologies for the long delay.

MetaMask is an even bigger mess with all the miscommunication between them and the web3 team. I'm very frustrated, but refreshed by your attitude in your reply.

I don't know how best to explain it without showing you what I'm doing, so I will send you an email now. I am not using the Ethereum blockchain for anything but signing and simple Tx is

[2020-01-12 12:18] FatBirdie commented on #1052
Provide a Brave-specific User Agent for some sites?
Was not the idea to provide Brave user agent by default with a site exclusion list?

[2020-01-12 12:25] srirambv commented on #6378
@Dreamulet your steps are for Desktop. This issue is for Android browser where we currently don't have import/export option

[2020-01-12 14:33] Dreamulet commented on #6378
Oh ok, thanks for the clarification.  (I did wonder that, after I posted of course :)

[2020-01-12 16:48] Nuc1eoN commented on #6905
Leaving the chain did not help. I have also tried to disable the OOP rasterization but it did not help either.

I think that #6098 and #7092 are both duplicates of my issue.

My GPU is an AMD RX470 btw with open source drivers.

[2020-01-12 17:19] Nuc1eoN commented on #6905
@bsclifton Ok insane, so after leaving the sync chain and actually _restarting_ my browser it seems to have gone away.

I will monitor this further but it's kinda insane that after months I might finally be able to use the brave browser on Linux. Of course it sucks that I cannot use my bookmarks...

And btw I am experiencing a similar issue on my Android smartphone, for instance everytime I add a

[2020-01-12 17:32] Nuc1eoN commented on #6098
I have a similar issue described in my bugreport #6905

Leaving the sync chain and restarting my browser fixed the freezing issue for me. Can you guys try to reproduce?

[2020-01-12 17:39] giwrgosmant opened #7705 "Some words in Greek language looks "cutted" in download box."
Some words in Greek language looks "cutted" while downloading in bottom "download box". Seems it needs better calibration.
![2020-01-12 19_19_27-Ρυθμίσεις](https://user-images.githubusercontent.com/51835189/72222929-a93b4880-3572-11ea-82c4-7cda6bbaab1b.png)
![2020-01-12 19_36_18-](https://user-images.githubusercontent.com/51835189/72222958-e30c4f00-3572-11ea-9371-d2694a53e683.png)

[2020-01-12 20:56] Nonononoki commented on #1000
Posting here to show interest. Flatpak is getting more and more popular and it just works.

[2020-01-12 21:55] Nuc1eoN opened #7706 "Corruption of avc1 encoded videos"
Some video give me a weird corruption on brave, and it appears to affect x264. Videos encoded in VP9 are not affected it seems.

This is what it looks like:

![Screenshot_20200112_224534](https://user-images.githubusercontent.com/2538022/72226168-638c7900-358e-11ea-9db5-c9255b4d4957.png)
Video link: https://www.youtube.com/watch?v=EcEMX-63PKY

This does not happen on Chromium or Friefox.

My Syste

[2020-01-13 03:49] vldmrkl opened #7707 "Search Bar Icon doesn't update when updating the search engine on a private window."
## Description
I noticed that when you click the switch element for "Search with DuckDuckGo" option on a private window, it updates only the placeholder of the search bar, but not the icon of the search engine. Only when you focus on the search bar, the icon updates.

## Steps to Reproduce
   1. Open a new private window
   2. Unselect "Search with DuckDuckGo" switch button.
   3. The search bar p

[2020-01-13 04:01] headkace commented on #7685
Thanks! ...  I had searched before opening and don't know why existing issue didn't come up. :/

[2020-01-13 04:13] LesterCovax commented on #905
I would greatly appreciate this feature, as when you have many tabs open, it can be hard to quickly distinguish which one is active.  My suggestion would be to have the tab highlighted with the opposite color of the theme though, as it would be less distracting.

![image](https://user-images.githubusercontent.com/34850610/72231892-dba56f80-358b-11ea-82fe-acbfe52d621f.png)

To those that don't like

[2020-01-13 04:39] oshanz opened #7708 "Option to disable reader mode / simplified view"
## Description

In android brave app "show simplified view" is so annoying and useless to me.
I'll attach screenshot how bad it is.

So I used to disable that from chrome flages. Using the setting reader mode.
[code]
But I update to latest brave and now again I can see that bar popping.
And chrome 79 seems remove that option to disable reader mode.
Please give and option to disable show simplified

[2020-01-13 06:43] bsclifton commented on #1052
@FatBirdie that is correct; maybe the right thing to do would have been to create a new issue instead of changing this existing one

For those following, the current plan is to do the following:
1. Provide a Brave-specific UA for sites in an existing publishers list
2. Switch to Brave-specific UA for ALL sites and then use an exclusion list

cc: @rebron, in case you wanted to provide an update

I'

[2020-01-13 06:46] bsclifton commented on #7704
@AdamKearn do you have details about your OS and what pre-reqs you've installed? Also just wanted to verify you have read through the build guide for your platform?
https://github.com/brave/brave-browser/wiki

[2020-01-13 06:48] bsclifton commented on #3296
@mpaluta @johnyqi @anotherzen @adutra22 have you all tried leaving the sync group and creating a new one? I suspect something is corrupted and starting fresh may resolve the issue

cc: @darkdh

[2020-01-13 06:53] bsclifton commented on #7397
@Mitsunee can you try the above suggestion please?

[2020-01-13 06:58] bsclifton commented on #3271
Thanks for raising, @meerasndr - you're right, looks like it's resolved 😄 Closing

[2020-01-13 06:58] #3271 closed

[2020-01-13 07:00] Spencer4134 commented on #7639
Yes, due to lack of 1st-party implementations for every platform (talking about things like Arch Linux here) I have a need for other browsers sometimes, so xBrowserSync functionality is a must. It sounds like based off of what @BrendanEich is saying that you guys are planning on undoing it, but if you go the route of making "Other Bookmarks" an alias, please do **not** make it for the Bookmarks Ba

[2020-01-13 07:01] bsclifton commented on #5947
@Squall-DA no updates, as far as I know

I did verify that it works for me... but I am on macOS. Can you help me to confirm, this works great on Chrome?

[2020-01-13 07:03] bsclifton commented on #7449
cc: @diracdeltas

[2020-01-13 07:05] bsclifton commented on #7238
Thanks for catching that, @hugotrsd 😄 This is indeed a duplicate of https://github.com/brave/brave-browser/issues/4094

Will close this in favor of that issue

[2020-01-13 07:05] #7238 closed

[2020-01-13 07:06] bsclifton commented on #4094
Lots of +1's from https://github.com/brave/brave-browser/issues/7238

[2020-01-13 07:11] bsclifton commented on #7698
@jonathansampson is this the same as https://github.com/brave/brave-browser/issues/7698 ?

[2020-01-13 07:20] bsclifton commented on #7693
@ZYinMD I believe this is expected behavior, as we do disable browser sign in. Any calls made to GAIA are non-routable

@jumde can you confirm?

cc: @pilgrim-brave @tomlowenthal

[2020-01-13 07:27] bsclifton commented on #7386
Thanks for the suggestion, @mohistmen! I'm going to close this issue as a duplicate of https://github.com/brave/brave-browser/issues/774 and give that issue a bump on your behalf 😄

[2020-01-13 07:27] #7386 closed

[2020-01-13 07:28] bsclifton commented on #774
+1 from @mohistmen via https://github.com/brave/brave-browser/issues/7386

[2020-01-13 07:29] bsclifton commented on #7236
@jsecretan @tmancey is this a supported region?

[2020-01-13 07:32] bsclifton commented on #6689
@DFNCTSC more discussion at https://github.com/brave/brave-browser/issues/7449 if you wanted to give it a +1 and leave a comment

[2020-01-13 07:36] bsclifton commented on #7268
@MrTeeXD sorry that we missed this issue! Are you still using Brave / still experiencing this issue?

- Curious if you have Sync enabled? If so, you can leave the sync chain to see if this fixes the problem (captured with https://github.com/brave/brave-browser/issues/6098)
- Another option you can try would be visit brave://flags/#enable-oop-rasterization and DISABLING this option (captured with h

[2020-01-13 07:39] bsclifton commented on #7688
@snyderp is this still happening w/ latest version of Nightly? We recently disabled out of process rasterization because of reports that it was crashing / causing artifacts / causing hangs for some users

Guessing it's something else, but wanted to check first 😄

[2020-01-13 07:41] bsclifton commented on #7266
Closing as dupe of https://github.com/brave/brave-browser/issues/7338

[2020-01-13 07:41] #7266 closed

[2020-01-13 07:47] bsclifton commented on #7223
@SephReed users can already do this with PWA (progressive web apps). In the hamburger menu, you can pick `Create shortcut`
<img width="549" alt="Screen Shot 2020-01-13 at 12 46 16 AM" src="https://user-images.githubusercontent.com/4733304/72239391-2c25c880-359e-11ea-871d-0bc31b1aba66.png">

[2020-01-13 07:47] #7223 closed

[2020-01-13 07:50] bsclifton commented on #7202
@maharjanaman can you please try visiting chrome://flags/#hardware-media-key-handling and DISABLING this flag? I think that is what was causing the problem

This may have been resolved when upgrading to Chromium 79 which I believe changed the default value

[2020-01-13 08:02] kjozwiak opened #7709 "entire a-c not going through due to missing delays"
## Description

The entire a-c amount not going through because it's being blocked server side due to missing delays.

Example:

* received `2.5 BAT` from ad grant
* received `17.5 BAT` from UGP grant
* Total BAT: `20 BAT`
* a-c setup as `Up to 15 BAT` via `brave://settings`

Only `8 BAT` went through rather than the `15 BAT`

Created issues for iOS & Android:

* iOS - https://github.com/brave/bra

[2020-01-13 08:05] kjozwiak commented on #7709
Labeling as `release/blocking` for now till @evq and @NejcZdovc investigate.

[2020-01-13 08:07] jonathansampson commented on #7698
@bsclifton I think you might have meant to link a different issue. You linked to this one 🙂

[2020-01-13 08:25] maharjanaman commented on #7202
Oh okay.

[2020-01-13 09:21] masparrow commented on #7526
Cheers @NejcZdovc - just for completeness, I did a monthly tip for duckduckgo.com - works fine.

Nb. I was using; Version 1.5.24 Chromium: 79.0.3945.117 (Developer Build) (64-bit) (src/brave - c6d60490d12f0b94437532bae4eb1c246c8495a4)

<img width="690" alt="Screenshot 2020-01-13 at 09 18 27" src="https://user-images.githubusercontent.com/11368284/72244361-09b79d80-35e6-11ea-8c31-460d47ff68e4.png">

[2020-01-13 09:25] FatBirdie commented on #1052
@bsclifton Hm, I must have missed something. What will be the difference between user agent for sites on a publishers list and "ALL" sites? So there will be 3 different categories of UAs in total?

[2020-01-13 09:47] JaneSmith opened #7710 "Unable to install Brave on Fedora Silverblue"
I am running a Linux desktop using the Fedora Silverblue distro. Fedora Silverblue is based on Fedora Workstation, but takes a new and more modern approach to package distribution. Because of this, the provided installation instructions for Fedora don't work - the `dnf` command is unavailable.

The recommended way to install applications on Fedora Silverblue is via modern Flatpaks. This is quick a

[2020-01-13 09:53] JaneSmith commented on #1000
For what it's worth, getting Brave up on Flathub would also solve issue #6865. Flathub is the de facto repository for Flatpak applications, so any Flathub-enabled system would have Brave discoverable and installable via the GNOME Software GUI - as well as other Flatpak-aware tools like KDE Discover.

[2020-01-13 10:05] masparrow commented on #7635
@GeetaSarvadnya

Cannot reproduce with MacOSX or Windows 10, as of;

Version 1.5.21 Chromium: 79.0.3945.117 (Developer Build) (64-bit)

Can you please verify - and if reproducible can you confirm the platform(s) it reproduces on? Thanks!

[2020-01-13 10:31] over-soul commented on #3296
I have the same issue with Brave 1.2.42

[2020-01-13 10:31] mhatvan commented on #7639
For me it happened that after brave auto-updated, all my 2000+ bookmarks disappeared, because https://www.everhelper.me/synchronizer.php couldn't deal with the changes.
@nsy16 and others, I recommend to install Brave version 1.1.23 temporarily to have the old bookmarks structure back and sync it, works for me.

[2020-01-13 10:50] johnyqi commented on #3296
I was trying to avoid that, it's total pain in the bu** to sort them all out now. I will do that this week and let you know.

[2020-01-13 10:52] JamesABaker commented on #3296
I have tried leaving the sync chain, starting a new sync chain, and making sure that all the new browsers are empty of bookmarks. They all sync up again and look clean. However, as soon as I remove any bookmarks the weird duplicates and resurrection issue comes back.

[2020-01-13 11:20] tmancey commented on #7236
@bsclifton This is not a supported region at this time, thanks

[2020-01-13 11:53] ryanbr commented on #5406
Wasn't aware of this ticket, but discovered a script causing it

`https://skepticalscience.net/widgets/heat_widget/js/heat_content.js`

The quick and dirty fix would to be block the script in Brave, which would allow the website to load without hanging. The only downside, it'll break the widget.

[2020-01-13 15:06] masparrow commented on #7425
Verified the behaviour on Mac OSX - sending 4 tips in quick succession, only one 5% BAT contribution was made. I took records of the Uphold activity over the space of an hour;

<img width="1309" alt="Screenshot 2020-01-13 at 15 04 44" src="https://user-images.githubusercontent.com/11368284/72266450-469b8880-3616-11ea-8da5-cd3562659e11.png">

Now investigating the cause.

[2020-01-13 15:47] mccompunerd commented on #3296
I have had this issue as well. This is my 4th sync chain in attempts to fix the issue. I have 3 computers and one Android phone in the chain, but the issue has persisted even with just one computer and the phone in the chain during troubleshooting.

[2020-01-13 16:05] daphil19 commented on #4280
I was able to get Brave running on CentOS 7 by installing the community-maintained `snap` https://snapcraft.io/brave

Currently, that version is 1.1.23, which still isn't quite up-to-date, but is much newer than 0.62.51, and at least creates the potential for future updates for those on CentOS 7.

[2020-01-13 16:23] bridiver commented on #7639
fyi - we're having a discussion now based on all the feedback and known incompatibilities with extensions and all options are on the table including restoring the other bookmarks node

[2020-01-13 16:32] bsclifton commented on #7698
@jonathansampson doh - meant to link to https://github.com/brave/brave-browser/issues/7652 😄

[2020-01-13 16:40] #7202 closed

[2020-01-13 16:41] LaurenWags commented on #7526
Could not reproduce on macOS using

Brave | 1.3.90 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

@GeetaSarvadnya how did you fund your wallet? you don't specify in the steps if you restored an old wallet or claimed a staging UGP grant. not sure if that make

[2020-01-13 16:43] LaurenWags commented on #7635
Could not reproduce on macOS using

Brave | 1.3.90 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

Could you try again as per @masparrow request above?

[2020-01-13 16:59] pilgrim-brave commented on #7693
Confirmed. GAIA is unavailable in Brave in any context.

[2020-01-13 17:00] Gruntfuggly commented on #6905
I am experiencing this since installing Brave on a new virtual machine. It was fine on an Ubuntu 16 VM with the same hardware but constantly locks up in my Ubuntu 18 VM. I'm not using Sync either.

[2020-01-13 17:03] Mitsunee commented on #7397
I already put a like reaction to show that I tried it and it worked. As I don't know *how* it worked I didn't leave a comment.

[2020-01-13 17:15] jonathansampson commented on #7698
@bsclifton I thought you might have meant to link to that. These aren't the same issue, though they are similar. When you tip a tweet on Twitter, the message we generate includes a clickable username, as well as a reference to the Tweet you tipped. That isn't the case when you tip content on other sites. I'm drawing attention to the lack of a clickable name (the recipient, at the start of the twee

[2020-01-13 17:21] SephReed commented on #7223
Huh.  This is really neat, and I appreciate the link, but neither the current implementation nor any forseeable future implementation meets the use case I was talking about.

This really seems like a corporate first approach, not something with any amount of control from the user.

[2020-01-13 17:32] JacobThompson opened #7712 "Brave build failure"
## Description

My build script keeps crashing with code ELIFECYCLE on a x86_64 Linux Mint 19.3 machine.

## Steps to Reproduce

   1. At a bash shell prompt I init the src with `npm run init` and the init script succeeds normally
   2. I run `npm run build -- Debug` or `npm run build` and it builds for some time and crashes with a python backtrace.

## Actual result:

<b>Build script output (with

[2020-01-13 17:32] JacobThompson commented on #7712
I have also tried to install json5_generator with pip.

[2020-01-13 17:33] SergeyZhukovsky commented on #7570
I can replicate it on both versions. I'm taking that issue.

[2020-01-13 17:39] nero120 commented on #7639
If I may...

- Whatever the final decision, can you please ensure that the bookmarks API is aligned with Chrome, in terms of available containers (Other bookmarks/Boomarks bar/Mobile bookmarks) and properties such as titles, ids (container ids are _mostly_ consistent in Chrome - Bookmarks bar = `'1'` and Other bookmarks = `'2'`), etc, and,
- Is it possible to roll back the changes until a workable

[2020-01-13 17:51] LaurenWags commented on #7709
This should also be checked in conjunction with AC and a monthly tip (monthly contribution). So something like:
* launch Brave using `--enable-logging=stderr --rewards=staging=true,reconcile-interval=5`
* set `Monthly Payment` to `10 BAT` (should be already selected as the default)
* accept the UGP grant
* set up a monthly tip for a site like 3zsistemi.si, confirm it is shown on Monthly Contributi

[2020-01-13 18:02] mandar-brave opened #7713 "Changing scope for Uphold"
As a future plan to support add-funds to Uphold user wallets via top-up, and eventually monthly subscribed top-ups, we need to ask user authorization for new scopes (manifest changes) when we authenticate against Uphold.

This feature will allow us;
- to be authorized to take a credit card and fund user wallet
- and directly transfer BAT to the user wallet

Feature to support future payments proje

[2020-01-13 18:37] johnyqi commented on #3296
I tried today to fix the issue, it's a total mess. The browser crashed 4-5 times. I tried using an existing sync code, it pulls old bookmarks although the code was not accepted at all. I tried creating a new code, the button gets blocked or browser crashes. I'm giving up, deleting sync entirely and keeping bookmarks on a single computer.

[2020-01-13 18:42] ZYinMD commented on #7693
Thanks!

[2020-01-13 18:42] #7693 closed

[2020-01-13 18:47] mattmcalister commented on #7633
Confirming the revised question more specifically:

[code]

[2020-01-13 18:48] bridiver commented on #7639
Rolling the changes back may be what we end up doing, but it's not a simple thing to do at this point. It affects sync among other things so it's not something we can just quickly rollback and release

[2020-01-13 18:51] pauleil commented on #4024
+1

[2020-01-13 18:54] iefremov commented on #7633
@mattmcalister is it supposed to be a new question?

[2020-01-13 19:02] aarwdc commented on #3650
I have also been unable to sign into keep app in Brave or Brave Beta. Haven't read all the comments to see if this was posted, you can still get to your Keep notes, and add new ones by simply going to https://keep.google.com/. Its all there without the app, though if you want to save a link to a particular page, you have to actually copy and paste it in your note.

[2020-01-13 19:07] snyderp commented on #7688
I have not seen it in the last two nightlies.  I will report back here if I notice it again.

In general through, i see (saw?) it on tab autocomplete / omnibar issues most, but occasionally on same page, across-origin navigations, which might point to some per-process site-isolation issue

[2020-01-13 19:19] SergeyZhukovsky commented on #4819
yep, closing that, only colours left that will be ported in a general port from an old repo.

[2020-01-13 19:19] #4819 closed

[2020-01-13 19:20] Nuc1eoN commented on #6905
So I have used brave for about 24h now after leaving the chain and I'm yet to experience antoher freeze. Before that it happened every few minutes, so it is definitely "fixed".

@Gruntfuggly if you experience it without sync completely than I would argue it makes sense to keep two different bugreports, as my issue is clearly linked to sync.
I am currently waiting for a confirmation from #6098 if t

[2020-01-13 19:28] Nuc1eoN commented on #7268
@MrTeeXD make sure to restart the browser after leaving the chain (if you are indeed using sync currently)

[2020-01-13 19:29] jjech opened #7714 "Soundcloud sound stats don't work with Brave Shields"
## Description
Soundcloud (http://www.soundcloud.com) is an online music playback and hosting service. Normally, when a listener plays a song, the song's stats will be updated. However, if the playback is via Brave browser with Brave Shields enabled, the song's stats are not updated.

## Steps to Reproduce
*Requirement: Brave Shields must be enabled.*
   1. Play a song on Soundcloud for 5 or more

[2020-01-13 19:48] bsclifton commented on #6905
@Gruntfuggly sounds like you're affected by https://bugs.chromium.org/p/chromium/issues/detail?id=1036427&q=freeze

Looks like bug's scope has been narrowed down and a work-around was provided. When starting Brave, launch via CLI and include `--no-xshm` as a param. If that works, likely that fix will be included in Chromium 80

[2020-01-13 19:56] bsclifton commented on #7223
@SephReed PWA is a large effort and is continuing to gain features and support. I think that would be the right area to focus your feedback. It's supported not only on Desktop, but on mobile. Some Brave users avoid apps completely on their phone and pin everything as a PWA

I don't see us deviating from that, to accommodate specific use cases. We just don't have the resources to do this and I pers

[2020-01-13 20:00] #7136 closed

[2020-01-13 20:06] mattmcalister commented on #7633
This serves two functions:

1. reframing of the standard questions used for Brave.Rewards.WalletBalance, Brave.Rewards.AutoContributionsState, Brave.Rewards.TipsState, Brave.Rewards.AdsState, and
2. revised Q11 which was never implemented (See: https://github.com/brave/brave-browser/wiki/P3A)

eg. Q12 would be rewritten as:

How much BAT, excluding grants, is in your wallet?
(Brave.Rewards.WalletB

[2020-01-13 20:08] luisalmazan commented on #5947
I have the same issue, using logitech Mouse MX Master 2S on Windows with brave version 1.2.42.
I can confirm lateral scrolling works well in Chrome and Firefox.
Tried using the suggested fix of disabling Hardware Acceleration and Disabling Device Recognition shield, even disabling all shields.

[2020-01-13 20:20] karenkliu commented on #6904
Here are updated versions of the 4 images that people mentioned as having been over-compressed:
JPG and WEBP assets
[image assets_quality.zip](https://github.com/brave/brave-browser/files/4055602/image.assets_quality.zip)

![annie-spratt-min](https://user-images.githubusercontent.com/2388823/72288847-c87fb780-35fe-11ea-8432-fb1d2b938147.jpg)
![louis-kim-min](https://user-images.githubusercontent.c

[2020-01-13 20:39] bsclifton commented on #1052
@FatBirdie UA would be the same, when brave-specific UA is presented

Think of this as a gradual move towards always presenting Brave-specific UA. We'll start with presenting only for a small list of known sites (which grows), covered by this issue. Then (as we can ensure experience is good) we'll move towards always presenting, unless it's in an exclusion list. We'll need a new issue filed for th

[2020-01-13 20:58] bsclifton opened #7715 "Shields should be visible when Brave is used in PWA context"
## Problem description
Users have the ability to create a PWA for specific sites (ex: Twitter). They can pick:
`Hamburger menu` => `More tools` => `Create shortcut`
(if prompted when making the app, click "Create new window")

This allows a distinct icon to be pinned to taskbar / stored on OS as shortcut. When opened, it'll feel like a distinct app. When this is opened, it doesn't show the shields

[2020-01-13 21:06] ryanml opened #7716 "Create Service/Controller for BraveWallet"
Currently business logic for crypto wallets extension operations are kept completely inside the Brave Wallet Extension API, we should set up a proper service/controller architecture and move logic there

[2020-01-13 21:35] NejcZdovc opened #7717 "Remove anonize"
TBD

[2020-01-13 22:39] #7570 closed

[2020-01-13 23:59] FatBirdie commented on #1052
@bsclifton Okay, I see. So for the (small) site list of Brave specific UA, will it be possible to add sites to it on Github or will it be closed?

[2020-01-14 00:39] btlechowski commented on #5964
Verification passed on

Brave | 1.3.90 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

Verified test plan from the description. `Refresh status` was added to the connected publisher. Clicking on the `Refresh status` button re-downloads whole publisher list from the server.

![im

[2020-01-14 00:55] btlechowski commented on #6947
Verification passed on

Brave | 1.3.90 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4035

![image](https://user-images.githubusercontent.com/34715963/72304350-9c9d1a00-3670-11ea-9b51-ad98bb5f04b3.png)
![image](h

[2020-01-14 01:16] btlechowski commented on #7222
`QA/Blocked` on https://github.com/brave/brave-browser/issues/7666

[2020-01-14 01:17] btlechowski commented on #6647
`QA/Blocked` on https://github.com/brave/brave-browser/issues/7666

[2020-01-14 01:22] btlechowski commented on #7581
Verification passed on

Brave | 1.3.90 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4318

![image](https://user-images.githubusercontent.com/34715963/72305609-9d37af80-3674-11ea-9193-3244792f5a0b.png)

[2020-01-14 01:23] btlechowski commented on #6979
Verification passed on

Brave | 1.3.90 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4318

![image](https://user-images.githubusercontent.com/34715963/72305609-9d37af80-3674-11ea-9193-3244792f5a0b.png)

[2020-01-14 03:08] fscchan commented on #1325
Adding to this. I tried it 3 times on 3 different computers and 3 different OS.

- [Windows 7](https://i.imgur.com/AvQAdVy.mp4)
- [Windows 10](https://i.imgur.com/mdOfOSA.mp4)
- [Manjaro](https://i.imgur.com/3E8LgPE.mp4)

[2020-01-14 07:42] pipboy96 commented on #3623
@tomlowenthal I had a problem of autoplay still getting blocked despite the whitelist unless I launch Chromium with `--autoplay-policy=no-user-gesture-required`. Can this option also make the browser act like this flag is on?

[2020-01-14 07:52] pipboy96 commented on #7105
@fmarier I'll try to look how large this list would be if compressed using a radix trie, possibly combined with gzip/zstd/LZMA/some better algorithm you possibly suggest. Also only entries that are not upgraded by HTTPSE or HSTS preloading should be included, which would make the list even smaller.

[2020-01-14 09:15] SustDig commented on #6887
from a technical perspective, you could simply cross-check each opened site locally by including the information https://www.websitecarbon.com delivers for this site and add its information to an internal data which could be shown as a sum in the dashboard. This should be done in max. 1 hour - if you have the will to do so.
The Dashboard could be a nice place for an option to show this information

[2020-01-14 09:16] Gruntfuggly commented on #6905
I tried using the command line and `--no-xshm` but it still happens.

[2020-01-14 09:32] MatheusPese commented on #5563
This issue is bad because my pc just freezes completelly when downloading torrents with brave because of it. My RAM usage goes to 100%

[2020-01-14 09:49] masparrow commented on #7145
@NejcZdovc blocked until DB migration https://github.com/brave/brave-core/pull/4252 is finished

[2020-01-14 09:55] GeetaSarvadnya commented on #7185
@masparrow Please find my comments inline

a) Do you have the Rewards panel already open when the contribution notification occurs - `Nope, after auto contribution, I have opened the rewards panel`
b) Are you are launching Brave and then opening the Rewards panel after the contribution notification - `I am not relaunching the brave after the auto contribution, in the same session I am viewing the

[2020-01-14 10:12] Shudouken commented on #7493
I would like to see this feature implented as well.
By default the top sites link to the base url for a website, but for youtube I'd like to edit it to take me to my subscriptions feed instead.
Also it's not really clear to me how these top sites are chosen. It would be nice if I could turn that off as well and only add my own sites.
The prototype above looks great!

[2020-01-14 10:30] jantimon commented on #7167
I have the same issue even if I am not using private mode.

Brave Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)

[2020-01-14 10:32] jantimon commented on #6753
I have the same behaviour even if I am not using private mode.

Brave Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)

[2020-01-14 10:41] lbdl commented on #7639
this is somewhat of a deal breaker for many. It is more or less impossible to work productively without the ability to sync bookmarks across devices. I switched happily to Brave over a year ago despite the never ending frustration with no sync, and no comments of the multiple issues surrounding Braves own sync (which is still unusable). XBrowserSync fixed this for me, hooray and now the OtherBookm

[2020-01-14 11:42] t3mujin commented on #7639
Just wanted to add my $0.02 here because I'm have a similar issue with my own sync strategy, despite not using xBrowserSync. I'm using a self-hosted solution so I have installed Floccus on all my browsers that syncs to my own Nextcloud server. Since browsers have slightly different solutions for menu/toolbar boomarks what I do is set them up separately (no big deal there, two syncs instead of one)

[2020-01-14 12:54] dannuttall commented on #7537
I am also experiencing this issue. Steps I took to create the issue:

1. Clicked "create new wallet"
2. Created a password
3. Exited out of the process on the page that asks you to reveal the seed phrase as I wanted to import a wallet not create a brand new one
4. Now when I visit the wallet I am presented with the Welcome Back page, unable to log in or import  a wallet.

I notice when I try to lo

[2020-01-14 12:57] palunel commented on #4678
Hey there, same issue here. Clicking the `Confirm Sync` button has no effect.  I am not coming from mobile but from my other Windows machine.

Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
Windows 10 Home 1809 OS Build 17763.914

[2020-01-14 13:16] Palik-ua commented on #4678
I think i defeat it! Just try to enter incorrect words (i accidentally paste the combination twice) and hit Sync. Browser will show an error? than correct the combination and sync again.

[2020-01-14 14:14] GeetaSarvadnya commented on #7526
@LaurenWags I have funded the wallet by accepting the UGP grants.

[2020-01-14 14:19] srirambv commented on #5563
This should probably be prioritized and fixed soon.  Torrent feature becomes useless if the browser starts to freeze up and download is lost.

cc: @rebron @bsclifton @feross

[2020-01-14 14:21] DeathsGun opened #7718 "macOS no window buttons when creating new window in fullscreen"
## Description
If you have one window in fullscreen and want open another window, the new window will be in fullscreen and have no window buttons to minimize or close

## Steps to Reproduce

   1. Open Brave
   2. Make the window fullscreen
   3. Open a new window using `File -> New Window`
   4. Try to close the new window using window buttons

## Actual result:
![error](https://user-images.githu

[2020-01-14 14:28] GeetaSarvadnya commented on #7526
@masparrow Issue is still reproducible. Just verified it on latest beta channel 1.3.91. Please find the gif below:
![7526](https://user-images.githubusercontent.com/38657976/72352433-4380c500-3708-11ea-910b-d0b87b01a174.gif)

[2020-01-14 14:47] jon-shipley opened #7719 "Feature request: button or shortcut for Distil Page"
## Description

Feature request: Shortcut or button to toggle 'Distil Page'

## Steps to Reproduce

Instead of clicking the menu on the RHS (3 horizontal lines), and then selecting "Distil Page" it would be nice if we could have an immediately single button to do (as on Safari)  or a keyboard shortcut.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://ver

[2020-01-14 14:54] LaurenWags commented on #7709
@GeetaSarvadnya also ran into the following scenario, which sounds related to this issue and should be retested once this issue is resolved:
1. Clean profile with 1.2.x, launch with staging parameters & quick reconcile
2. Set up data for AC, but before AC occurs upgrade to 1.3.x
--> After upgrade AC is not occurring but wallet balance is being reduced

@GeetaSarvadnya please update this scenario w

[2020-01-14 15:03] emerick opened #7720 "Unit tests fail to compile on Android"
When building unit tests on Android, the following compiler error occurs:

[code]

[2020-01-14 15:08] alfredonodo commented on #7528
I have the same issue of @erotavlas-turbo

[2020-01-14 15:17] GeetaSarvadnya commented on #7709
AC and monthly Tip values are not reflected in Panel/Summary/NTP widget after the auto contribution

Case 1:
1. Clean profile 1.2.39 - launch brave with staging flag and short reconcile interval
2. Claim UGP grants
3. Set monthly Tip for https://duckduckgo.com/
4. Send a one-time tip to https://duckduckgo.com/
5. Before the auto contribution upgrade profile to 1.3.91
6. Wait until auto contributio

[2020-01-14 15:24] deadbird99 commented on #4094
Hi Brave dev team. Any news of this feature?

[2020-01-14 15:40] LaurenWags commented on #7709
reproduced https://github.com/brave/brave-browser/issues/7709#issuecomment-574223737 on macOS

Brave | 1.3.91 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

@NejcZdovc will the fix for this issue also address @GeetaSarvadnya finding that the summary (panel a

[2020-01-14 15:43] NejcZdovc commented on #7709
@LaurenWags if I understand correctly just UI is not updated, but everything else works as expected?

[2020-01-14 15:44] NejcZdovc commented on #7709
could be this issue https://github.com/brave/brave-browser/issues/7526?

[2020-01-14 15:47] NejcZdovc opened #7722 "Add funds source into contribution_info table"
Right now we don't log which funds where used for each contribution. This is needed as then we know which retry flow we need to take

[2020-01-14 15:52] LaurenWags commented on #7709
I think so. will add comment on that issue as well. thanks @NejcZdovc !

[2020-01-14 15:53] LaurenWags commented on #7526
Reproduced on macOS (see https://github.com/brave/brave-browser/issues/7709#issuecomment-574235189) using steps from https://github.com/brave/brave-browser/issues/7709#issuecomment-574223737

fyi @masparrow in case this additional information helps
cc @kjozwiak @rebron for consideration for the 1.3.x release

[2020-01-14 15:56] eldk opened #7723 "Customized tipping banner elements are not displayed at all in Brave Android 1.6.2, Chromium 79.0.3945.93"
## Description
Not sure if it's another issue https://github.com/brave/brave-browser/issues/7189 :

- "Same banner content for all channels" is on/checked in tipping banner settings.

- Customized text is not displayed but the original one (in good language)
- Customized banner is not displayed

So no customization is displayed to user.

That's OK on Brave Version 1.2.42 Chromium: 79.0.3945.117 (O

[2020-01-14 16:01] masparrow opened #7724 "Retry on Fail Strategy for Tip/Fee Transactions"
As it stands, if a Tip or Fee BAT transaction to Uphold fails, this is not communicated to the user, or handled by the client.

IMHO;

- We should queue failed transactions and retry up to N times, over a given period of time.
- If the transaction persistently fails we should raise some form of error depending on the severity
-- Diagnostic log
-- Possibly to the user (needs evaluating)

[2020-01-14 16:03] cortopy opened #7725 "Many scripts bypass shield"
## Description

Brave is not blocking ads and scripts on 9to5mac.com

## Steps to Reproduce

   1. Go to https://9to5mac.com/

## Actual result:

as per this screenshot, not a single script is blocked:

![image](https://user-images.githubusercontent.com/8725825/72359668-99dd0c00-36e6-11ea-8696-ffa95f9ca232.png)

Whereas using uBlock Origin 1.24.2 catches and blocks 14 scripts in chrome!!

![image]

[2020-01-14 16:05] mkarolin opened #7726 "C80 followup: [Android]: Fix shields menu"
This is a followup issue for #7255.

Chromium 80 change https://chromium.googlesource.com/chromium/src/+/016b18a82b6b94c9244d2aa2be0c7af8826d1f8b will require rearranging BraveShieldsMenu code. For now the code that doesn't build is commented out (see commit `[Android] TEMP: Commented out BraveShieldsMenu pieces.`).

cc: @SergeyZhukovsky @bsclifton

[2020-01-14 16:09] mkarolin opened #7727 "C80 followup: [Android]: Fix bottom toolbar accessibility labels"
This is a followup issue for #7255.

Chromium 80 change https://chromium.googlesource.com/chromium/src/+/2a77e07a61c243be136ddbe8ff78c8e548897243 removed wrappers around bottom toolbar buttons which we used to display accessibility labels when long clicked. To make the code build for now I used the actual buttons instead of the wrappers, but I don't believe the buttons implement View.OnLongClickLi

[2020-01-14 16:10] #7720 closed

[2020-01-14 16:54] tmancey opened #7728 "Intermittent crash if Confirmations library is called before being instantiated"
## Description

Intermittent crash if Confirmations library was called from the ads or ledger libraries before being instantiated, this is due to a race condition.

## Steps to Reproduce

   1. Unable to reproduce

## Actual result:

Ledger library intermittently crashes if Confirmations has been not initialized when fetching transaction history or a timed event is triggered due to a race conditio

[2020-01-14 17:13] ryanml commented on #7537
@dannuttall can you try deleting the file I mentioned above, closing the Crypto Wallets tab, and fully relaunching Brave?

Also @paulwaldmann and @dannuttall, would you both mind navigating to `brave://components` and sharing what version of `Crypto Wallets` you have? Thanks!

[2020-01-14 17:13] ryanml commented on #7537
If you could show me what version you have before relaunching the browser that would be great, I am trying to determine if you have an older version for whatever reason.

[2020-01-14 17:14] paulwaldmann commented on #7537
Crypto Wallets - Version: 1.0.15

[2020-01-14 17:16] ryanml commented on #7537
@paulwaldmann thanks. And to be clear at this time you are still unable to create/import a wallet?

[2020-01-14 17:18] paulwaldmann commented on #7537
Yes, but I also didn't remove any log file as you instructed as the log file in question did not exist.

[2020-01-14 17:21] ryanml commented on #7537
@paulwaldmann, try deleting 000004.log, closing the open CW tab, and relaunching Brave

[2020-01-14 17:21] ryanml commented on #7537
if this doesn’t work for either of you please follow up with me at rlanese at brave.com for further diagnosis.

[2020-01-14 17:25] paulwaldmann commented on #7537
After removing the log file, and relaunching Brave, nothing changed. Same "Welcome Back!" screen, not possible to create a new wallet.

I will eventually just create a new profile if you can't fix it.

[2020-01-14 18:18] SephReed commented on #7223
Thank you for being honest.

I personally would like to use PWAs instead of apps as well, but am not a fan of the complete lack of user control on how they're generated... I'll open a different more specific feature request for that.

[2020-01-14 18:30] bbondy commented on #2690
Sorry this had to be reverted here:
https://github.com/brave/brave-core/pull/4371

Because of test failures that this introduced:
[code]

Re-opening the issue and please re-land when the PR is ready without the CI test failures. Thanks!

[2020-01-14 18:34] SephReed opened #7729 "Feature Request: View/modify PWA manifest on web-app/shortcut export"
Based off this discussion: https://github.com/brave/brave-browser/issues/7223

## Description
Being able to create a shortcut (as a window) to a site is really neat!  But it would be much neater with a little more control.  I'd really like to be able to view and modify the values of PWA manifest before generating an app.

## Steps to Reproduce
<img width="728" alt="Screen Shot 2020-01-14 at 12 19

[2020-01-14 19:00] dannuttall commented on #7537
OK I had to restart Brave by killing the process as closing the app doesn't actually close it fully. After doing this I'm allowed to create a new wallet again. However upon hitting create and being prompted to create a password, I get the error "KeyringController - No account found on keychain."

![Capture](https://user-images.githubusercontent.com/25965241/72373382-116b6500-3700-11ea-8945-ee41a0f

[2020-01-14 19:07] MuhammadTausif opened #7730 "Stuck at: Running hooks: 80% (67/83) bootstrap"
**

## Description

## Steps to Reproduce

   1. After this commond,  `sh scripts/getThirdParties.js`
   2. `Syncing projects:  99% (303/306) src/third_party/angle/third_party/vulkan-validation-layers/src
[0:01:14] Still working on:
[0:01:14]   src/brave

[0:01:24] Still working on:
[0:01:24]   src/brave
3>Syncing projects:  94% (305/322)
[0:01:27] Still working on:
[0:01:27]   src/brave
Syncing p

[2020-01-14 19:14] janvojt commented on #3296
I have issues with bookmarks as well. They reappear randomly. I can currently reproduce the issue where I delete a bookmark and it comes back after a while.

I am running Linux with Brave Version 1.3.91 Chromium: 79.0.3945.117 (Official Build) beta (64-bit).

Bookmark sync is completely broken in Brave. @bsclifton, can I somehow help you debug this? Is there a way to find out what is actually stor

[2020-01-14 19:37] rebron commented on #7688
Possibly related to https://github.com/brave/brave-browser/issues/7199.

[2020-01-14 19:38] bridiver commented on #7545
this seems a bit odd to me, why would we remove a help button?

[2020-01-14 19:40] bridiver commented on #7545
@srirambv is there a ticket from browser-android-tabs we can link this to? Would at least be helpful to have some background on why we want this change

[2020-01-14 19:53] mbacchi opened #7731 "Sign Sparkle components Autoupdate and fileop to prevent Apple validation errors during notarization"
Apple notarization requirements were relaxed in 2019, with the [scheduled date](https://developer.apple.com/news/?id=09032019a) to be sometime in Jan or Feb 2020 for this to be reversed. This appears to now be back in effect, and we've gotten errors notarizing due to Sparkle components not being signed properly:

[code]

We need to sign these using timestamp and hardened runtime options.

[2020-01-14 20:02] emerick commented on #7545
It looks like the help button was removed here:
https://github.com/brave/browser-android-tabs/commit/b09ff2f2f6a0c26ba1199ab80c9f9b2b29e1680e#diff-b5fd4c3e23b0882b32fc548be5e505a6L173

and this PR was for adding the close button:
https://github.com/brave/browser-android-tabs/pull/2030

[2020-01-14 20:04] kjozwiak commented on #7654
Because this is going to be hard to go through in terms of verification, QA will basically run through the ad regression passes to ensure that ads are still working as expected.

[2020-01-14 20:17] #7712 closed

[2020-01-14 20:19] JacobThompson commented on #7712
The build seems to be working fine after rerunning ./src/build/install-build-deps.sh and avoiding running apt autoremove

[2020-01-14 20:19] snyderp commented on #7688
Most def related, I bet a dupe

[2020-01-14 21:10] ryanbr commented on #7725
Aware of this, https://github.com/brave/brave-browser/issues/7400

[2020-01-14 21:11] ryanbr commented on #7725
9to5 and other related sites, are trying to get around this. even Ubo is having issues (tested this last night).

[2020-01-14 21:11] ryanml commented on #7537
@dannuttall what OS are you running?

[2020-01-14 21:18] dannuttall commented on #7537
Windows 10

[2020-01-14 21:21] ryanbr opened #7733 "Allow all cookies needed for https://colab.research.google.com/"
## Description
https://colab.research.google.com/ is needing to allow `all cookies` to work correctly.

## Steps to Reproduce

   1. Open `https://colab.research.google.com/`
   2. Create a new Python 3 notebook:
   `from google.colab import files`
   `uploaded = files.upload()`
   3. Click on the play button.

## Actual result:
`Upload widget is only available when the cell has been executed in t

[2020-01-14 21:43] Snaxeko commented on #3864
The bug is caused by Brave, Chrome works perfectly with **Nvidia Fast Sync**. Are there any plans to fix it ? As it works perfectly with Chrome or other chromium browsers, this issue should be reopened.
Thank you @Arastys for your workaround, it also works with the classical vsync.

[2020-01-14 22:00] bridiver commented on #7545
after discussion with @bbondy it seems better to just change the help link like we do for desktop. The original ticket was to add a close button, but no close button exists anymore

[2020-01-14 22:31] kjozwiak commented on #7690
Reproduce on `macOS 10.15.2 x64` using the following build:

Brave | 1.3.91 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

Example of the issue occurring on `macOS`:

![grantsClaiming](https://user-images.githubusercontent.com/2602313/72388369-baf82980-36f3-1

[2020-01-14 22:36] ryanml commented on #7537
@paulwaldmann @dannuttall thank you both for your patience. I've identified the issue and made a fix for account creation/import after reset, as well as fixing import pre reset. https://github.com/brave/ethereum-remote-client/pull/108

[2020-01-15 00:56] kjozwiak opened #7734 "webcompat reporter not remembering if a website has already been reported"
## Description

The `webcompat reporter` under `Shields` isn't remembering if a particular website has already been reported as per the design mentioned via https://github.com/brave/brave-browser/issues/4262#issue-437884610. Example:

Should be displaying the following if a website has already been reported before:

![64198693-9cc51780-ce3d-11e9-8e40-31775cf83763](https://user-images.githubusercon

[2020-01-15 01:00] kjozwiak commented on #6828
@rebron looks like this is still happening with the following build:

Brave | 1.3.91 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

[code]

[2020-01-15 04:05] kjozwiak commented on #4262
Verification **PASSED** on `macOS 10.15.2 x64` using the following build:

Brave | 1.3.91 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

* ensured that the `Report a broken website` button doesn't appear when shields are enabled
* ensured that the `Report a b

[2020-01-15 07:08] insilications commented on #4412
Any news about this?

[2020-01-15 07:39] alexlouden commented on #5075
I just ran into this today, discovered that Brave changes the `referer` header on the request to googleapis.com (instead of myapp.com), so the referer restriction on the API key fails. See https://console.developers.google.com/apis/credentials under "Website restrictions". I'm just going to catch this error and show a message to the user explaining what's happening.

![image](https://user-images.g

[2020-01-15 08:41] Ladrason opened #7735 "(Not fixed) Video ads on YouTube have no Skip button"
## Description
Adds on Youtube has no "skip ad" button.

This is causes by something Brave Shield does even though it's turned off. I know this because in the previous Nightly build when Shield seems to have been removed the ads worked perfectly fine.

## Steps to Reproduce
   1.  Turn off Brave Shields
   2. Start a Youtube video

## Actual result:
The "skip ad" button is not present (https://i.i

[2020-01-15 09:07] pietsnot123 commented on #1052
Google has announced to phase out the whole User-Agent starting March 2020. By September 2020, all desktops are to show the same User-Agent, no matter what version of Chome or what OS you're using.
Maybe Brave should follow this as well. That would significantly improve privacy.

https://www.zdnet.com/article/google-to-phase-out-user-agent-strings-in-chrome/

[2020-01-15 10:05] elcrec commented on #6569
I do not experience this problem - `dunst` notifications work for all kind of websites: `slack`, `whatsapp` etc.

[code]

[code]

[code]

[2020-01-15 14:19] RyanBeckett commented on #820
+1

[2020-01-15 15:56] kevingallagher34 commented on #2153
Would be a great feature to add to Brave, but as a workaround:  create a scheduled batch file to run daily to delete everything >1 day old from the Downloads folder (or other subfolder designated for Brave to store downloaded files.)

[2020-01-15 16:02] LaurenWags commented on #7666
Removing `QA/Blocked` as this can be tested on 1.3.92 and above

[2020-01-15 16:23] thutex commented on #2153
not eerything in my downloads folder, however, should be deleted.
so that workaround is a no go.
however, i switched over to opera with a backup of firefox since this basic issue is not being looked at so for me it's no longer an issue.

[2020-01-15 16:32] mcamou commented on #6569
In my case, I'm running KDE Plasma 5.17.5 on top of Ubuntu 19.10 (not Kubuntu, a normal Ubuntu with `apt install plasma-desktop`). All Chrome notifications (WhatsApp, GMail, Slack, etc) show up as Chrome notifications instead of KDE notifications.

[2020-01-15 16:34] LaurenWags commented on #7666
Verified passed with

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4334
* Verified scenarios from https://github.com/brave/brave-core/pull/4334#issuecomment-574262938 and ter

[2020-01-15 16:37] vortensis commented on #7680
If anyone else is having problems with the LogMeIn remote control app and the "save credentials" button, I was able to fix that by disabling "Block cross-site trackers" globally in the shields section. Still, white-listing should be a pretty basic feature to any kind of ad-blocking.

[2020-01-15 17:14] srirambv commented on #7545
Updated title and issue based on https://github.com/brave/brave-browser/issues/7545#issuecomment-574394522

[2020-01-15 17:25] snyderp commented on #7688
Just experienced again with `Version 1.4.58 Chromium: 79.0.3945.117 (Official Build) dev (64-bit)`

[2020-01-15 17:30] LaurenWags commented on #7222
Verified passed with

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified STR from description
[code]

[2020-01-15 17:48] srirambv opened #7738 "Add a close button for closing settings page [Follow up to #7545]"
## Description

Add a close button for closing settings page. This is to bridge feature parity between Android-Tabs and Android-Core. This is a follow up to #7545

The help button was removed here:
brave/browser-android-tabs@b09ff2f#diff-b5fd4c3e23b0882b32fc548be5e505a6L173

and this PR was for adding the close button:
brave/browser-android-tabs#2030

## Miscellaneous Information:

cc: @bridiver @

[2020-01-15 18:13] andreialecu commented on #5947
Having the same issue with an MX Master 3 both in Brave and Visual Studio Code, both being Electron apps.

It's also been reported here: https://github.com/electron/electron/issues/20874

[2020-01-15 18:19] ryanml commented on #7537
Reopening as it has not deployed yet

[2020-01-15 18:22] NejcZdovc opened #7739 "Connected message in the panel VG"
Connected message right now check if user has brave funds and based on that we show a message. If you have funds (more then 0) we don't show connected message for connected publisher even if you have uphold wallet. Thing that was missed when doing VG is that now we need to compute anon amount and tokens amount as total and check that if more then 0.

[2020-01-15 18:26] #7545 closed

[2020-01-15 19:14] kjozwiak commented on #6011
@evq @NejcZdovc is there anything that we should check on the server side of things? Or is running through https://github.com/brave/brave-core/pull/3848#issue-335190551 sufficient enough to call this verified?

[2020-01-15 19:23] LaurenWags commented on #6937
Verified passed with

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

Scenario 1:
* Verified test plan from https://github.com/brave/brave-core/pull/4101 when claiming only a UGP grant on 1.0.0:
<img width="1192" alt="1 0 0-Claim UGP Grant only

[2020-01-15 19:44] AdamKearn commented on #7704
@bsclifton Hi Sorry for the late reply.
I have been a bit busy this week so I didn't have time to try building again.
I had forgotten to run `./install-build-deps.sh` script.

Thanks for your help. :)

Closing Ticket.

[2020-01-15 19:44] #7704 closed

[2020-01-15 19:51] AdamKearn opened #7740 "Problem when trying to start browser."
When trying to start my locally built version of Brave I get the following error.
(Sorry for the screenshot.  I can't copy the text as I am connected into a VPS I have running via RDP)

If you open the below screenshot into a new tab it's a little easier to read.
![image](https://user-images.githubusercontent.com/30593259/72465738-9b363380-37cf-11ea-88bc-24890ae84770.png)

I have built the source