[2020-03-19 18:45] GeetaSarvadnya commented on #8290
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified STR from the description, there is no `--disable--sync` duplicate flag
![image](https://user-images.githubusercontent.com/38657976/77103050-d22efc80-6

[2020-03-19 19:13] GeetaSarvadnya commented on #7949
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4574
**Clean profile**
Shield panel:
![image](https://user-images.githubusercontent.com/38

[2020-03-19 19:13] bsclifton commented on #8682
@pilgrim-brave any QA needed for this?  If so, can you add steps here and label with `QA/Yes`. If not, can you share why (ex: covered by automated tests) and label with `QA/No`. Thanks! 😄

[2020-03-19 19:14] NejcZdovc opened #8759 "Build problem"
Laster master has some build problems on debug

[code]

[2020-03-19 19:31] Valinwolf commented on #353
@rafaelcastrocouto as mentioned before, adding an extension adds an additional party you have to trust and it's a basic feature that all browsers _should_ have.

[2020-03-19 19:39] rebron commented on #8730
Closing. Released 1.5.113 at March 19, 2020, 12:30pm PDT.

[2020-03-19 19:39] #8730 closed

[2020-03-19 19:55] GeetaSarvadnya commented on #8002
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the description from the issue
- Verified in both clean and upgraded profiles
![image](https://user-images.githubusercontent.com/38657976/77108831-ecb

[2020-03-19 20:03] #8759 closed

[2020-03-19 20:09] bsclifton commented on #8758
Thanks for the report @chuegel! We have an issue captured for this already with https://github.com/brave/brave-browser/issues/35 (subscribe for updates)!

I'm going to close this one as a duplicate. Please feel free to give that issue a +1 or leave a comment 😄

[2020-03-19 20:09] #8758 closed

[2020-03-19 20:14] bsclifton commented on #8743
cc: @mihaiplesa @mbacchi @linhkikuchi do we still upload these? (or should we)

I think the `Standalone` ones should work too

[2020-03-19 20:16] bsclifton commented on #8736
cc: @pes10k @ryanbr

[2020-03-19 20:26] bsclifton commented on #5969
Thanks for confirming, @Aracki 😄

I verified I got that `Leave website` warning too, unfortunately:
<img width="446" alt="Screen Shot 2020-03-19 at 1 24 56 PM" src="https://user-images.githubusercontent.com/4733304/77111784-2789f000-69e5-11ea-9534-61b1481a89ac.png">

Doesn't happen in Chrome. I'll update the issue title

[2020-03-19 20:43] LaurenWags commented on #7997
Marking as `QA/Blocked` for now since https://github.com/brave/brave-core/pull/4398 was reverted.

[2020-03-19 20:43] LaurenWags commented on #6904
Marking as `QA/Blocked` for now since https://github.com/brave/brave-core/pull/4398 was reverted.

[2020-03-19 20:45] karenkliu commented on #7949
@GeetaSarvadnya @bsclifton It should be "fingerprinting" not "fingerprinting attempts", so the options should be this:

![image](https://user-images.githubusercontent.com/2388823/77113348-e21af200-69e7-11ea-94e4-1a9bbf19f504.png)

[2020-03-19 21:11] mbacchi commented on #8743
We have stopped uploading these to the Github releases in order to prevent issues [like this](https://github.com/brave/devops/issues/920) where users inadvertently install the `brave-installer` executable without a tag and therefore become stuck on that single version and never get updated because the tag doesn't match what is used on our update server.

There are multiple other installation optio

[2020-03-19 21:29] bsclifton commented on #6904
@LaurenWags it should be there actually- I did open a revert, but we fixed a different way 😄 Let me make a note there (my bad)

[2020-03-19 21:34] bsclifton commented on #7997
@LaurenWags it should be there actually- I did open a revert, but we fixed a different way 😄 Let me make a note there (my bad)

Comment left https://github.com/brave/brave-core/pull/4398#issuecomment-601426627 😄 Removing `QA/Blocked` label

[2020-03-19 21:40] bsclifton commented on #8117
@mstrcrz can you please try this on the latest version of Brave? Thanks! 😄

[2020-03-19 21:41] #5360 closed

[2020-03-19 21:44] jonathansampson opened #8760 "Ability to Modify NTP SI from Settings"
## Description
Users who are attempting to modify/disable New Tab Page Sponsored Images are at times looking within about:settings (Brave's global Settings) and failing to locate controls for NTP SIs. Presently, this feature is controlled from the New Tab Page itself, by clicking the Dashboard button at the bottom-right.

## Brave version (brave://version info)
1.5.113

## Additional Information
S

[2020-03-19 21:47] darkdh opened #8761 "Migrate TorLauncher, ads, and ledger services off Service Manager"
Upstream issue https://bugs.chromium.org/p/chromium/issues/detail?id=977637

We will use `content::ServiceProcessHost::Launch` for launching the utility process. ~along with extra command line switch(`content::ServiceProcessHost::Options`) to pass `tor::switches::kTorExecutablePath`~

[2020-03-19 21:52] mandar-brave commented on #8760
@rebron please prioritize. Please make settings a dupe of what is available on NTP.
cc @bradleyrichter

[2020-03-19 22:40] #4646 closed

[2020-03-19 23:08] jDally987 commented on #8069
Yeah I’m getting this too. Did a clean install of Windows and copied over my chrome/brave UserData folders totally forgetting that Brave’s is broken for some reason.

I’ll probably just dig in the sqlite db’s and manually copy over the search engines & everything myself, but what the heck is the main bug here? There must be an encrypted token in one or some of the files specific to the original Wi

[2020-03-19 23:22] simonhong opened #8762 "Introduce command line switch to have shorter component update checking interval"
Brave checks component update right after the launching for our some components or some minutes later. Then periodically checks the new update every 5 hours in background.
It would be good to have shorter background timer to test component update during the runtime.

[2020-03-19 23:30] bsclifton opened #8763 "Ability to toggle shields (up/down) via keyboard shortcut"
## Description
(Requested via email)
Users should be able to use a keyboard shortcut to toggle the status of shields

[2020-03-19 23:38] kjozwiak opened #8764 "Manual test run for Tor 1.0.8 component update on Windows"
#### **`Windows 10 x64`**

#### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New P

[2020-03-19 23:41] kjozwiak opened #8765 "Manual test run for Tor 1.0.8 component update on macOS"
#### **`macOS 10.15 Catalina`**

#### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open

[2020-03-19 23:43] kjozwiak opened #8766 "Manual test run for Tor 1.0.8 component update on Linux"
## Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private Window with Tor` and c

[2020-03-19 23:43] pes10k commented on #8736
Hi @jimmi-joensson thanks for you message, and I hear what you're saying, but we're confident at this point that our users want the current policy, so I dont think we're going to change anything at this point. I appreciate that this causes some inconvenience for you, but Brave's position is that the browser serves the browser user first, before anyone else.

If you think your users want to use the

[2020-03-19 23:43] #8736 closed

[2020-03-20 00:03] jshan17 commented on #2301
Hello I have Google push notifcations enabled AND I have Notifcations settings set to allow sites to ask. Only popular sites like Facebook and Trading View are successfully asking for notifications when I visit them, then their push notifications actually send. But news sites like Bitcoinist.com and Youtube are not asking. Does anyone know how to enable website push notifications? I’ve already gon

[2020-03-20 00:05] jshan17 commented on #2362
Hello I have Google push notifications enabled AND I have Notifications settings set to allow sites to ask. Only popular sites like Facebook and Trading View are successfully asking for notifications when I visit them, then their push notifications actually send. But news sites like Bitcoinist.com and Youtube are not asking. Does anyone know how to troubleshoot this to enable website push notifica

[2020-03-20 00:32] kjozwiak commented on #6904
@bsclifton @rebron @cezaraugusto @karenkliu just double checking, these are the expected images correct?

[code]

[2020-03-20 00:42] rebron commented on #6904
* https://raw.githubusercontent.com/brave/brave-core/8c4bcfee376033fe8d5528f00657b3b603c16d8c/components/img/newtab/backgrounds/anders-jilden.webp

[2020-03-20 01:20] bridiver opened #8767 "Cannot find module '@babel/types'. in ts_library.py"
follow up issue for https://github.com/brave/brave-core/pull/4548/commits/705a8807480ae7739eb3596c43b20bd0a9bfe035#diff-60a0fa4ee40f714578875355e9d69808R9 to figure out why that patch is needed and hopefully get rid of it

[code]

[2020-03-20 01:21] kjozwiak commented on #6904
Thanks @rebron 👍Missed it when copying/pasting the list I pasted into the uplift channel on Slack.

[2020-03-20 02:38] dancojocaru2000 commented on #353
Why are there suddenly e-toro ads on the new tab page?

[2020-03-20 02:55] Valinwolf commented on #353
@dancojocaru2000 it's part of brave rewards.

[2020-03-20 03:36] dancojocaru2000 commented on #353
Only one problem: I don't have Brave Rewards turned on.

[2020-03-20 03:47] Valinwolf commented on #353
@dancojocaru2000 either way, you can turn them off by clicking the slider-looking icon in the lower right corner and unchecking sponsored images.

[2020-03-20 04:55] Syping commented on #8292
I would like Brave on various SBC boards like Odroid, Raspberry Pi etc. too, i tried to build my self but failed (maybe because i did not setup Cross-build properly)

[2020-03-20 07:36] srirambv opened #8768 "SE is not retained during upgrade (Follow up to #8458)"
## Description
SE is not retained during upgrade (Follow up to #8458)

## Steps to reproduce
Scenario 1:

   1. Install 1.5.9
   2. Change Private tab SE to DDG via modal
   3. Upgrade to 1.5.113
   4. Open PT and search uses Google
   5. Open settings, PT shows as DDG but opening the setting shows its set to Google

Scenario 2:
   1. Install 1.5.9 (GPS version)
   2. Skip the on boarding flow

[2020-03-20 07:53] GeetaSarvadnya commented on #8768
The issue is happening in both Normal and PT's , updated the title and added scenario 2 in the issue.

[2020-03-20 07:59] srirambv opened #8769 "[Android] Unable to claim rewards via chrome://rewards"
## Description
 Unable to claim rewards via chrome://rewards

## Steps to reproduce

   1. Enable staging wallet
   2. Open chrome://rewards
   3. Click on claim button on the rewards page, button disappears no grant claimed
   4. Click on BR panel, page shows claim grant button again
   5. Claim grant via panel, wallet updates

## Actual result
![claim-rewards](https://user-images.githubuserconte

[2020-03-20 08:01] srirambv commented on #8692
Verification passed on OnePlus 6T with Android 10 running 1.5.113 x64 stable build
- Verified promotion page shows correct expiry date
![image](https://user-images.githubusercontent.com/17010094/77144984-51a6e500-6aad-11ea-9d61-a42caf52b49a.png)
-------
Verification passed on Samsung Ta A with Android 9.0 running 1.5.113 x64 stable build
- Verified promotion page shows correct expiry date
![image]

[2020-03-20 08:44] tmancey opened #8770 "Send the segment of the chosen ad in the payload as part of Brave Ads confirmation calls"

[2020-03-20 08:47] GeetaSarvadnya opened #8771 "[Android] Missing recurring tips sections on rewards page"
## Description
Recurring tips aren't displayed in Tips panel as there is no `Monthly contribution` section in brave://rewards page

## Steps to reproduce

   1. Clean profile 1.5.113 - launch using staging flag
   2. Enable rewards and claim UGP grants
   3. Open https://duckduckgo.com/ and send a recurring tip to it
   4. Open google.com and send a recurring tip
   5. Recurring tips are not displ

[2020-03-20 08:57] srirambv opened #8772 "[Android] AC contribution message shows 0.0 BAT"
## Description
 AC contribution message shows 0.0 BAT

## Steps to reproduce

   1. Clean install or upgrade to 1.5.113
   2. Trigger AC
   3. Ac notification shows 0.0. BAT

## Actual result
![image](https://user-images.githubusercontent.com/17010094/77149023-badf2600-6ab6-11ea-847b-ee0026042c90.png)

## Expected result
Should show proper amount that is contributed

## Issue reproduces how often

[2020-03-20 09:41] GeetaSarvadnya commented on #8772
Reproduced in Samsung Galaxy J3 version 5.1.1 running `BraveModernarm 1.5.113`

[2020-03-20 10:03] srirambv commented on #8624
Verification passed on OnePlus 6T with Android 10 running 1.5.113 x64 build
- Verified upgrade doesn't lose stats on NTP
-------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.113 x64 build
- Verified upgrade doesn't lose stats on NTP
-------

[2020-03-20 10:20] srirambv commented on #8713
Verification passed on OnePlus 6T with Android 10 running 1.5.113 x64 stable build
- Verified `Bottom toolbar` setting is retained after upgrade
- Verified `Background media play` setting is retained after upgrade
- Private SE setting isn't retained. Logged followed up #8768
- Verified all other settings are retained during upgrade
-------
Verification passed on OnePlus 6T with Android 10 running

[2020-03-20 10:31] NejcZdovc opened #8773 "Result in response log is wrong"
Result  in response log in `LogResponse` is wrong as it only checks for 200. We sent different 2xx status codes from the server and all of them are valid and should be displayed as Success in the log.

[2020-03-20 10:41] ryanbr commented on #5793
+1
https://community.brave.com/t/getting-real-time-updates-from-my-stock-broker/114072

[2020-03-20 10:55] srirambv commented on #8704
Verification passed on OnePlus 6T with Android 10 running 1.5.113 x64 stable build
- Verified steps from https://github.com/brave/brave-browser/issues/8704#issuecomment-599550335
-------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.113 x64 stable build
- Verified steps from https://github.com/brave/brave-browser/issues/8704#issuecomment-599550335
-------

[2020-03-20 11:12] GeetaSarvadnya opened #8774 "[Android] Update Graphics on Rewards page"
## Description

Update Graphics on Rewards page
## Steps to reproduce
Scenario 1:
   1. Clean profile 1.5.113
   2. Enable rewards via Panel or Hamburger menu
   3. Turn OFF Ads and AC switches
   4. Observe the icons in brave://rewards page
   5. Old icon is shown in Ads panel and there is no icon for AC

Scenario 2:
  1. Clean profile 1.5.113
  2. Enable rewards via hamburger menu
  3. Text `By

[2020-03-20 11:18] tiagoboldt opened #8775 "Etoro Ads on the new tab page"
## Description
New tab pages with brave are usually beautiful. I had friends migrating to brave just because of them. Nevertheless, recently, you guys started pushing some e-toro backgrounds with them. That's an ad. Ads in brave pay the user. These have undefined behavior, as they look just like any other background. Not nice.

So, if these are ads and paying the user, that makes sense, as the use

[2020-03-20 11:20] sav-valerio commented on #8775
You can disable it in the *Dashboard Settings*.
![image](https://user-images.githubusercontent.com/14777542/77159178-25876600-6aa5-11ea-8e55-4bea8ddff8c8.png)

[2020-03-20 11:20] NejcZdovc commented on #8775
cc @davidtemkin @jsecretan

[2020-03-20 11:23] tiagoboldt commented on #8775
Thanks, @sav-valerio. I only searched for it in the main settings, my bad. Then the only non-clear thing for me is if these are paying the user. If they are, then they are within brave's modus-operandi and this issue is good to be closed.

[2020-03-20 11:28] sav-valerio commented on #8775
Welp, my comment just disappeared.

You can disable it from the Dashboard Settings:
![image](https://user-images.githubusercontent.com/14777542/77159639-089f6280-6aa6-11ea-8e58-41b275b6f431.png)

@tiagoboldt
Brave is being paid for this: https://brave.com/introducing-sponsored-images-in-brave/

[2020-03-20 11:32] tiagoboldt commented on #8775
Thanks, sorry for not finding that myself. keep up the good work!

[2020-03-20 11:32] #8775 closed

[2020-03-20 11:34] srirambv opened #8776 "[Android] Reset rewards doesn't work"
## Description
 Reset rewards doesn't reset correctly if rewards page is opened

## Steps to reproduce

   1.  Install 1.5.9 and enable rewards
   2. Open rewards page in a new tab
   3. Use browser normally with other rewards page opened in a tab
   4. Upgrade to 1.5.113
   5. Reset rewards from advance settings doesn't prompt for relaunch
   6. Go back to rewards page its turned off instead of r

[2020-03-20 12:15] LaurenWags opened #8777 "[Android] need to remove sponsored NTP images from x86"
## Description
Implemented on tabs with https://github.com/brave/browser-android-tabs/issues/2492

x86 devices should not have NTP SI. From NTP SI you can enable Brave Rewards which are not available on x86.

Additionally, the setting to enable NTP SI (Settings > New Tab Page > Show Sponsored Images) should not be available on x86.

## Steps to reproduce

   1. Install 1.5.113
   2. Browse to gene

[2020-03-20 12:20] srirambv commented on #8700
Verification passed on OnePlus 6T with Android 10 running 1.5.113 x64 stable build
- Verified rewards is reset on upgrade scenario
- Verified rewards is reset on clean install
- Logged #8776

[2020-03-20 12:48] LaurenWags commented on #8707
Verification passed on Asus Zenfone (x86) with Android 6.0 running 1.5.113 BraveModernx86.apk
- Verified no Welcome Tour option in settings on upgrade
- Verified no Welcome Tour option in settings on clean install
- Verified no Welcome Tour displayed on clean install
![Screenshot_20200320-084608](https://user-images.githubusercontent.com/28145373/77164877-8dc74f00-6a87-11ea-81e7-a07256da8276.jpg)

[2020-03-20 13:25] srirambv commented on #8417
Verification passed on OnePlus 6T with Android 10 running 1.5.113 x64 stable build
- Verified clear download history option is shown on clear data settings page
- Logged #8737 for issue with conflicting downloading data
------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.113 x64 stable build
- Verified clear download history option is shown on clear data settings page
- Verifi

[2020-03-20 13:28] srirambv commented on #8458
Superseded by #8768. Removing QA/Yes

[2020-03-20 13:29] LaurenWags opened #8778 "[Android] issues with bottom toolbar on certain upgrades"
## Description
Bottom toolbar isn't quite right on certain upgrades.

## Steps to reproduce

   1. Install tabs 1.5.9. Don't visit any sites.
   2. Close, remove from memory.
   3. Upgrade to 1.5.113 and launch
   4. Tap on tab tray
---> see weirdness (wrong bottom toolbar, additional tab tray icon in upper right corner)
   5. Visit a site, open tab tray
---> no change (still see weirdness)
   6.

[2020-03-20 13:43] jctaillandier opened #8779 "High CPU and GPU usage spike with 4 tabs open"
## Description
Happened twice, both times I had 3 tabs, open. Two youtube, one GoogleCal. At midpoint watching a video, CPU usage spiked, filled 8Gb of Ram, then started to fill the swap. Dozens of CPU and GPU process were running simultaneously and got this screenshot before shutting down.
Running Ubuntu 18.04
Only extension installed is Full Page Screen Capture, but was not using.

## Steps to R

[2020-03-20 13:55] GeetaSarvadnya opened #8780 "[Android] Rewards reset not working (settings are retained even after rewards is reset)"
## Description

## Steps to reproduce

   1. Clean profile 1.3.115
   2. Enable rewards via onborading flow
   3. Open brave://rewards page
   4. Change `Monthly Payment` to 5 BAT in Auto -contribute panel
   5. Click on advanced `Auto-Contribute Settings`
   6. Change min page time settings to 1 min
   7. Open Tip settings and uncheck `Reddit` and `GitHub` check boxes
   8. Click on hamburger men

[2020-03-20 14:10] Johann999 commented on #8757
The whole thing is paradoxical, unclear and contradictory.
On the one hand, Brave does not appear in the user agent, supposedly because of fingerprinting.
On the other hand, Brave can query using the DuckDuckGo API and more recently using navigator.brave.

[2020-03-20 14:11] 2b commented on #8216
@bridiver correct me if I'm wrong but up until now, with brave-related stuff like shields and rewards disabled, it was possible to tell with certainty only that someone uses Chromium-based browser. I understand it's not brave's privacy threat model to keep brave indistinguishable from chrome, as @pes10k mentioned, but don't you think it would be harder to track someone across Chromium users rather

[2020-03-20 14:24] #8773 closed

[2020-03-20 15:21] rebron opened #8781 "lost pinned top sites on NTP upon upgrade"
## Description

Using 1.8.25 and upgrading via download/install of 1.8.28 (but likely in 1.8.27 also), 3 pinned tabs disappear upon relaunch. Expectation is that those pinned tabs and all tabs remain the same after upgrading. Subsequent attempts to reload or open new brave://newtab don't bring them back.

## Steps to Reproduce

   1. Older profile. Pin 2 or 3 top sites on the New Tab Page brave://

[2020-03-20 15:55] mbacchi opened #8782 "Linux RPM signing fails when the expected key is not in the RPM keyring"
RPM signing fails with the following error when the key is not in the RPM keyring:

[code]

We will need to import the key each time we sign(nightly and release keys.)

[2020-03-20 16:00] GeetaSarvadnya commented on #8656
@bbondy I have not selected MetaMask explicitly from Crypto Kitties infobar.

[2020-03-20 16:15] NejcZdovc commented on #8779
@jctaillandier do you have rewards enabled. Is your test plan on clean profile?

[2020-03-20 16:16] NejcZdovc commented on #8779
could you also please go to Hamburger Menu --> More Tools --> Task Manager

Sort by CPU and keep an eye on CPU spikes and which tab/process is causing it.

[2020-03-20 16:27] rebron commented on #8763
cc: @karenkliu help on suggestions for keyboard shortcut for shields toggle.

[2020-03-20 16:31] #8781 closed

[2020-03-20 16:32] rebron commented on #8749
Reminder to check Chrome performance.

[2020-03-20 16:33] bsclifton commented on #2971
Reverted https://github.com/brave/brave-core/pull/4325 with https://github.com/brave/brave-core/pull/4996 because pinned items were lost
(see https://github.com/brave/brave-browser/issues/8781)

Per @cezaraugusto:

[2020-03-20 16:40] rebron commented on #8741
@kjozwiak to sign up for telegram and make new friends!

[2020-03-20 16:45] #8782 closed

[2020-03-20 16:46] rebron commented on #8721
@Northshoot This one is a bit difficult as we have to have an Amex account to check, but we're digging into this. Just wanted to confirm you tried toggling Shields on and off and it still didn't work. It sounds like you did.

[2020-03-20 16:47] rebron commented on #8721
cc: @ryanbr

[2020-03-20 16:47] bsclifton commented on #2971
Potential fix can also include fix for https://github.com/brave/brave-core/pull/4987

[2020-03-20 16:53] rebron commented on #8716
closing as wontfix. Per codes above, working as expected.

[2020-03-20 16:53] #8716 closed

[2020-03-20 16:55] #8279 closed

[2020-03-20 16:55] rebron commented on #7994
@jimpriest As per @mbacchi above, can you try again? Working now?

[2020-03-20 16:59] NejcZdovc opened #8783 "Move migration scripts into files"
Right now we have migration scripts in files per tables. This is quite dangerous as migrations between tables could be hard. Safer way is to have whole migration per version in a file so that you can control everything.

[2020-03-20 17:01] rebron commented on #8008
Closing. We upscale images on the new tab page and the images resize as you change the size of the window. We have a new set of wallpaper coming soon to look forward to!

[2020-03-20 17:01] #8008 closed

[2020-03-20 17:02] Miyayes commented on #8069
+1 https://www.reddit.com/r/brave_browser/comments/fksqsf/brave_sync_its_our_top_priority_and_were_working/fkzatpc/?context=3

[2020-03-20 17:03] souksakhon opened #8784 "[Android]"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2020-03-20 17:05] NejcZdovc commented on #7082
closing as we remove foreign keys completely from our DB

[2020-03-20 17:05] #7082 closed

[2020-03-20 17:06] rebron commented on #8026
cc: @mbacchi

[2020-03-20 17:11] NejcZdovc opened #8785 "Move GenerateGUID into shared lib"
We should move GenerateGUID from rewards service in native lib and use simple `base::GenerateGUID()` like we currently use in rewards service

[2020-03-20 17:13] rebron commented on #8042
@TheIgnorantDev Assuming you're on Windows 10 x64 are you updated to the latest drivers via: https://www.nvidia.com/Download/driverResults.aspx/158759/en-us

Also, were you able to set the flag above brave://flags/#enable-oop-rasterization

[2020-03-20 17:17] bbondy commented on #8656
Thanks, that's expected.

[2020-03-20 17:17] #8656 closed

[2020-03-20 17:47] pes10k commented on #8216
@2b thats not correct.  While we sent the Chromium UA, its easy for folks to tell Brave from Chrome/Chromium/etc by (for example) checking to see if the FP apis we modify work as expected, or if the referrer header is as expected, or any of the other features mentioned here https://github.com/brave/brave-browser/wiki/Deviations-from-Chromium-(features-we-disable-or-remove).  Because of how fingerp

[2020-03-20 17:52] pes10k commented on #8757
This is not correct.  Brave doesn't appear in the UA for web compat reasons.  Brave makes many changes in the browser that it already looks / behaves very different from chromium, so reporting brave in the UA would not have any change in the browser's fingerprintability (e.g. the other changes brave makes are consistent across all brave instances per platform, so changing the UA in a way that was

[2020-03-20 17:53] #8784 closed

[2020-03-20 17:58] LaurenWags opened #8786 "[Android] crash after upgrading when attempting to play a video on YT"
## Description
If you enable Background playback option on 1.5.9 and upgrade to 1.5.113, setting is retained as expected. However, when you go to play a video on YT, Brave will crash the first time.

## Steps to reproduce

   1. Install 1.5.9 tabs version (skip onboarding if using ARM)
   2. Enable background playback in settings
   3. Restart, confirm setting is retained.
   4. Close, remove from

[2020-03-20 18:02] GeetaSarvadnya commented on #8778
Reproduce in Samsung Galaxy J3 version 5.1.1 running BraveModernarm 1.5.113

[2020-03-20 18:08] pes10k opened #8787 "Fingerprinting Protections v2: Farbling and cross-origin"
**Current Approach**
Brave’s current fingerprinting protections currently key off first-party / third-party distinctions, which is a mismatch with what's really being described: protections with a high risk of breaking websites, vs protections with a low risk.

This has two problems:
1.  It requires us to under apply useful protections that have low webcompat risk (since they’re tied to the high r

[2020-03-20 18:27] bsclifton commented on #8722
Almost there! Fixes in progress

[2020-03-20 18:29] GeetaSarvadnya commented on #8786
Reproduced in Samsung Galaxy J3 version 5.1.1 running BraveModernarm 1.5.113

[2020-03-20 18:58] jctaillandier commented on #8779
No Rewards enabled.

I don't understand the question

Will make sure to open the task manager next time it spikes. At normal it looks like this
![task](https://user-images.githubusercontent.com/31980034/77197275-4bb80080-6abb-11ea-91fb-832090bf72d1.png)

[2020-03-20 19:01] jumde opened #8789 "BraveUpdateSetup.exe being tagged as malicious by AV vendors"
https://www.virustotal.com/gui/file/287edc072ecac10239db9b28e9c1330ecfc4b7b7bfd9ba28dc46b8adeea5fa58/details

[2020-03-20 19:11] LaurenWags opened #8790 "[Android] clear download history missing an icon"
## Description
Found while testing https://github.com/brave/brave-browser/issues/8417
On the 'Basic' tab of clear browsing data the `Download history` option is missing an icon, but on the 'Advanced' tab download history has an icon.

## Steps to reproduce

   1. Open Settings > Privacy > Clear Browsing Data
   2. Compare Basic and Advanced tabs

## Actual result
![Screenshot_20200320-145618](http

[2020-03-20 19:12] jDally987 commented on #8069
Discovered yesterday that as far as I can tell, most/all of my settings, custom search engines etc. all seem to have transferred, as well as the extensions’ STATE, but not the extensions themselves.

Once I copied over all the long gibberish folders (representing the chrome extension IDs) from my old User Data directory, they do show up in the browser and interestingly they’re all still signed in

[2020-03-20 19:26] kjozwiak commented on #8722
<img width="1352" alt="Screen Shot 2020-03-20 at 3 25 41 PM" src="https://user-images.githubusercontent.com/2602313/77199361-16151680-6abf-11ea-90b3-0fec44bd7a2f.png">

Awesome sir! Sent you a BAT ;)

[2020-03-20 19:37] LaurenWags opened #8791 "[Android] Clear download history doesn't work on Basic tab, does work on Advanced"
## Description
Found while testing https://github.com/brave/brave-browser/issues/8417

Clearing Download history from 'Basic' tab on Clear browsing data does not work. However, it does work on the 'Advanced' tab.

## Steps to reproduce

   1. Have at least one item downloaded
   2. Go to Settings > Advanced > Privacy > Clear browsing data
   3. Try to clear Download history from Basic tab.
   4. V

[2020-03-20 20:49] da2x commented on #8216
You’ll waste less CPU cycles on websites trying to fingerprint your browser to work out if you’re using Brave or not.

[2020-03-20 21:11] karenkliu commented on #8763
how about:

- on Mac - CMD+SHIFT+S
- on Windows - CONTROL+SHIFT+S
- on Linux - need help here; I have no experience with Linux 😅

[2020-03-20 21:24] mbacchi commented on #611
I'm closing this and calling it done, we have this configured to build every time a commit occurs on the brave-browser repo.

[2020-03-20 21:24] #611 closed

[2020-03-20 21:27] jonathansampson opened #8792 "[Desktop] Should Private Windows Offer to Submit User Credentials?"
## Description
When Brave has stored-credentials for a domain, it will offer to insert and submit them on domains even within a Private Window. This could result in a user unintentionally sending identifiable data to a site in a context where they would rather remain anonymous.

Furthermore, the panel displayed to the end user may involve some confusing UI/UX. While the user is offered a _Sign In_

[2020-03-20 21:36] mbacchi commented on #7658
Closing, reopen if necessary.

[2020-03-20 21:36] #7658 closed

[2020-03-20 21:40] ericlaw1979 commented on #8792
Upstream https://crbug.com/1054197 covers some of this.

[2020-03-20 21:48] JamesTheHacker opened #8793 "Brave is promoting blockhain programs and making a fortune from its users who will likely lose their money."
Blockchain advertising is one of the most lucrative. Affiliate commissions are insane. In the corner of the brave browser is a link to etoro. A blockchain trading platform.

Brave is promoting it on their home page when you click a new tab. It's in the corner.

Why is this bad?

Because the owners of Brave are making an absolute fortune from folks who will lose their money. Brave has an affiliate

[2020-03-20 21:49] mbacchi commented on #1826
Closing as we've released the brave-keyring package and rotated multiple signing keys/expirations since this was opened. If I missed something please let me know.

[2020-03-20 21:49] #1826 closed

[2020-03-20 21:53] mbacchi commented on #1360
Closing as we haven't heard of any other issues with the CDN. If you still encounter this problem let me know.

[2020-03-20 21:53] #1360 closed

[2020-03-20 21:55] ericlaw1979 commented on #8792
@pes10k: Interesting, it looks like y'all already default to Fill-on-Account-Select while in regular (non-Incognito) mode, so you've already got precedent here.

So that would probably be reasonable precedent to cite and have your AccountChooserDialogView::ShowAccountChooser() call DialogDelegate::SetDefaultButton(ui::DIALOG_BUTTON_CANCEL) unconditionally.

[2020-03-20 21:58] mbacchi commented on #7406
Can we close this or is it something we need to investigate further?

[2020-03-20 21:58] pes10k commented on #8792
Just to be clear, i'm not against a change, i just want the change to be global; i think your suggestion is great, and just have "cancel" be the default always is the right fix

[2020-03-20 22:01] marshray commented on #8792
If nothing else, one could just think of it as a usability thing.

I use incognito as my default mode for regular browsing. I find the pop ups an annoying interruption that requires me to mentally switch from browsing to "choose wisely" mode.

[2020-03-20 22:04] pes10k opened #8794 "Make casing in brave:// urls always lower case"
Currently the URLs in the settings pages use camel case for path segments that contain multiple words (for example brave://settings/socialBlocking).  These urls are case sensitive too, brave://settings/socialblocking gets you no where.

We should have all lower case URLs, and probably just prefer single world path fragments (e.g. brave://settings/social > brave://settings/socialblocking > brave://

[2020-03-20 22:12] #8308 closed

[2020-03-20 22:12] #8342 closed

[2020-03-20 22:19] JamesTheHacker commented on #8793
I see admins removed the reddit post: https://www.reddit.com/r/brave_browser/comments/fm3i5g/brave_is_promoting_blockhain_programs_and_making/

[2020-03-20 22:26] Miyayes commented on #8793
Please don't be disingenuous, here. You _know_ that you double-posted. Your second post (which you linked above) was removed because it was a duplicate. You have since deleted your first post, which I still have a permalink to (as evidence), here: https://www.reddit.com/r/brave_browser/comments/fm3czv/brave_is_promoting_blockhain_programs_and_making/  You deleting your own first post gives the app

[2020-03-20 22:29] lukemulks commented on #8793
Brave announced Sponsored Images in January 2020:
https://brave.com/introducing-sponsored-images-in-brave/

Followed up with another announcement about the unit in Feb 2020:
https://brave.com/sponsored-images-now-available-on-all-brave-platforms/

The unit includes an option to disable, directly in the UI.

- eToro provided the link that was used in the Sponsored Image banner. False assumption bei

[2020-03-20 22:29] #8793 closed

[2020-03-20 22:32] JamesTheHacker commented on #8793
I made the post. Deleted it, and posted it here, then reposted on Reddit with a link to this instead. As - like you said - it was duplicate. The first I deleted, the second your team locked. Why have you closed this discussion and not addressed the issue of promoting a high risk bitcoin platform to your users?

That needs discussing, and if not here I'll write it up on a blog post and spin it arou

[2020-03-20 22:33] JamesTheHacker commented on #8793
@lukemulks That's not true, because etoro is a high risk trading platform who openly admit to most people losing money. How is that honest? You have an affiliate link, and you generate commissions from it. Are users aware of this in any of the privacy or terms of use documents?

[2020-03-20 22:35] JamesTheHacker commented on #8793
And this effects your users, and they should be aware of this. So yes, it needs discussing here. Some of your developers may feel this practice disingenuous. If you're using an affiliate link and not declaring it to users btw, that's a lawsuit. I don't see why you would freely promote etoro without earning a commission. Don't lie.

[2020-03-20 22:46] karenkliu commented on #8760
Designs added!

[2020-03-20 22:55] krimnassim opened #8795 "Page rendering issues on Brave/Chrome (WINDOWS 7)"
i used brave for a year with no problem my issue with brave on windows 7 a lot of site not working i get site not secure and sites load like this image https://imgur.com/a/os96ItM  and MEGA.NZ  is loading like this https://imgur.com/a/aRI5H4u but when i switch to fire fox no problem all working i tested brave on windows 10 pro working great i only have this issues on windows 7 i really need brave

[2020-03-20 23:02] jumde commented on #8749
Reports from Reddit:

https://www.reddit.com/r/brave_browser/comments/fm3ca0/brave_eating_up_my_memory/
https://www.reddit.com/r/brave_browser/comments/fm30pv/cpu_usage_becoming_serious_problem/
https://www.reddit.com/r/brave_browser/comments/flruia/i_installed_brave_browser_last_year_and_was/

[2020-03-20 23:15] vagrantjo commented on #8793
Brave promoted an "internet free advertising?" If you mean they promote an internet free of advertising, they don't. You get brave rewards for viewing ads.

I think the average brave user is somewhat computer savvy, so I don't think people are just blindly clicking links and signing up things just because they are on the home page. You've done more to draw attention to this exchange than the home

[2020-03-20 23:21] JamesTheHacker commented on #8793
An affiliate disclaimer is required. If it's not it's a potential lawsuit. If they produce an affiliate disclaimer then Brave are making high profits promoting **high risk bitcoin trading platforms where by the majority will lose**. Not to mention it's the wrong niche to be promoting etoro. They have the worst reviews so it's absolutely not in the interest of the users. It's in the interest of the

[2020-03-20 23:39] JamesTheHacker commented on #8793
As the officers are located in the USA (and London) then by law it's required to disclose: https://www.privacypolicies.com/blog/ftc-affiliate-disclosure/

So, already breaking the law if there's no disclaimer.

[2020-03-20 23:45] simonhong commented on #7406
I think we can close this.
As wrote above, this is expected behavior.

[2020-03-20 23:52] vagrantjo commented on #8793
I think it is a pretty fair assumption to say that Brave users are at least somewhat computer savvy. It is a cryptocurrency based browser. And my own thoughts don't require statistics. Something isn't true because there are statistics to back it up. Statistics by definition have to come after the fact. They can prove something is true, they don't make it true.

And I do think it is fairly save to

[2020-03-21 02:48] bsclifton commented on #8749
OK folks - we've done some investigation and are fairly sure we have found the root cause and the fix  😄 Build is happening now and we'll look at releasing a hotfix. Stay tuned 😄

[2020-03-21 02:48] #8749 closed

[2020-03-21 02:48] bsclifton commented on #8779
OK folks - we've done some investigation and are fairly sure we have found the root cause and the fix  😄 Build is happening now and we'll look at releasing a hotfix. Stay tuned 😄

[2020-03-21 02:48] #8779 closed

[2020-03-21 02:48] bsclifton commented on #8741
OK folks - we've done some investigation and are fairly sure we have found the root cause and the fix  😄 Build is happening now and we'll look at releasing a hotfix. Stay tuned 😄

[2020-03-21 02:48] #8741 closed

[2020-03-21 02:58] bsclifton commented on #8741
@fhoshino (or others experiencing the issue) if you wanted to try a work-around while we're prepping the hotfix, here's what you can try:
1. Visit brave://flags/#brave-adblock-cosmetic-filtering
2. Enable this option
3. You'll be prompted to restart- go ahead and do that
4. Problem should be fixed 😄

[2020-03-21 02:58] bsclifton commented on #8779
@jctaillandier  (or others experiencing the issue) if you wanted to try a work-around while we're prepping the hotfix, here's what you can try:
1. Visit brave://flags/#brave-adblock-cosmetic-filtering
2. Enable this option
3. You'll be prompted to restart- go ahead and do that
4. Problem should be fixed 😄

[2020-03-21 03:33] fhoshino commented on #8741
Though this workaround seems fixing the idle hog, when loading stickers there is a much higher CPU usage when compared to 1.4
Before it might be using up to 50% total CPU, now it is up to 70% of total CPU.

[2020-03-21 04:34] irlcatgirl opened #8797 "Ads displaying on YouTube even with Shields Enabled"
## Description

Even with Brave Shields enabled ads are showing up on YouTube

## Steps to Reproduce

   1.  Visit https://www.youtube.com/watch?v=J1Fxl4cGVd4 with shields enable
   2.  Scroll down
   3.  See advertisements

## Actual result:

![Screenshot from 2020-03-21 00-31-38](https://user-images.githubusercontent.com/8227641/77219362-821d6c00-6b0b-11ea-847d-2201fd9167dc.png)

## Expected res

[2020-03-21 04:38] ryanbr commented on #8721
I don't have an Amex account either, this is a guess. but lets see

https://github.com/easylist/easylist/commit/db6a9602e573d977744d4df7e7642d64d24199e2

WIll be updated in the next 24-48hrs.

[2020-03-21 04:46] jerrykrinock commented on #7639
What is the decision, please?   I were going to parameterize my bookmark extension to expect Other Bookmarks or not based on the Brave version number, would I set the cutoff to 1.6 or 1.7?

[2020-03-21 04:58] ryanbr commented on #8478
Supporting $generichide would be helpful (used by uBo and EL)

[2020-03-21 05:32] pornismuybae commented on #2457
This punishes using any FOSS extensions that aren't on the chrome store since the only other option is to get the source and load it as a dev extension but that causes an annoying popup that the devs seem to think is wanted (#5063). This includes anything google disagree with, such as blocking paywalls (See the example OP supplied)

[2020-03-21 05:48] rushilsrivastava commented on #5761
There seems to be an ongoing discussion about this #5063. @fmarier, this seems like a very intentional behavior. Could you please expand?

[2020-03-21 07:12] kjozwiak commented on #8779
For those users that have been experiencing various CPU/performance issues, could you please download the following version and let us know if things have improved. Once we get enough confirmations from the community, we'll push this version to our Release channel ASAP so everyone receives the update.

[2020-03-21 08:06] p0rth01998 commented on #7964
@rebron  whether I can contribute to this? Please let me know the procedure.

[2020-03-21 10:55] aetonsi commented on #2457
Tried with `HKLM\SOFTWARE\Policies\BraveSoftware\Brave` as reported here:  https://github.com/brave/brave-browser/issues/5063#issuecomment-566688634 .
I can confirm that my custom extension it's working.

[2020-03-21 11:37] Kwadz commented on #1003
@bsclifton, would you be able to provide some guidance to implement this feature?

[2020-03-21 13:28] Votarb commented on #8476
After update, Brave indeed started up and worked for a week or two. Then the exact same thing happened.
Here are the messages when running from console:
[code]
The hardware acceleration is still disabled.
I have also tried using Chromium, so far it hasn't crashed like this yet.
If you could direct me to the logs directory, I can post more details.

[2020-03-21 14:43] #8785 closed

[2020-03-21 15:43] kjozwiak opened #8798 "Release checklist for 1.5.x Hotfix 2 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-03-21 15:47] tmancey opened #8799 "Missing creative set segments and unknown types in the Brave Ads catalog should not fail to parse the catalog"
Missing creative set segments and invalid types in the Brave Ads catalog should not fail to parse the catalog.

[2020-03-21 16:15] tmancey commented on #6553
Blocked awaiting final Copy

[2020-03-21 16:21] jenn-rhim commented on #6553
Agree on your points, @lukemulks. I’d vote for ‘General’.

[2020-03-21 16:21] Shadow-of-Colossus commented on #8793
Most websites and software companies are criminal to the nth degree.. fact of life!

[2020-03-21 16:44] tmancey commented on #7815
Notes: See https://docs.microsoft.com/en-us/windows/win32/intl/locale-names

[2020-03-21 17:06] #7406 closed

[2020-03-21 17:32] crazy-max commented on #8743
@bsclifton Unfortunately `Standalone` setups cannot be extracted programmatically so this is not an option for Brave portable.

@mbacchi This issue point to a private repo I think. Can you tell me more about this issue here?

[2020-03-21 17:35] samartnik opened #8800 "[Android] Disable key checker to avoid crashes on debug builds"
In chromium 81 they added key checker that causes crashes on debug builds on Brave's preferences. Needs to be turned off.

[2020-03-21 17:51] gdregalo commented on #8769
Fix uplifted into 1.5.x with https://github.com/brave/brave-core/pull/5005.

[2020-03-21 18:03] erotavlas-turbo commented on #8069
Sync is not the same as profile copy. However, I hope to have it as soon as possible.

[2020-03-21 18:26] chopin2712 commented on #2999
+1 Really, it's needed. More than that there are now sponsored images on the dashboard and they are even more ugly !!!

[2020-03-21 18:29] StormFalcon32 commented on #2999
You can get rid of those

[2020-03-21 19:09] jonathansampson commented on #8789
Note, the resource is no longer being detected as malicious by any of the engines. Closing.

![image](https://user-images.githubusercontent.com/815158/77234596-9f8b1e00-6b7d-11ea-8356-7914b7f31d43.png)

[2020-03-21 19:09] #8789 closed

[2020-03-21 19:35] mbacchi commented on #8743
I updated the issue that I linked to above. It was related to the tag for the installer not being set.

[2020-03-21 20:19] kjozwiak commented on #8741
Going to use https://github.com/brave/brave-browser/issues/8779 as the main issue that QA will use to verify that https://github.com/brave/brave-core/pull/4999 fixed the problem. We'll also use the same issue for the release notes once we push the `1.5.x` in a few hours.

[2020-03-21 20:20] kjozwiak commented on #8749
Going to use https://github.com/brave/brave-browser/issues/8779 as the main issue that QA will use to verify that https://github.com/brave/brave-core/pull/4999 fixed the problem. We'll also use the same issue for the release notes once we push the `1.5.x` in a few hours.

[2020-03-21 20:25] kjozwiak commented on #8779
STR that QA can use to verify that https://github.com/brave/brave-core/pull/4999 has been fixed:

* Download & install either https://github.com/brave/brave-browser/releases/tag/v1.5.112 or https://github.com/brave/brave-browser/releases/tag/v1.5.113
* launch https://www.peteresnyder.com/brave/break.html
* Wait ~5-10min while https://www.peteresnyder.com/brave/break.html is opened and you'll notic

[2020-03-21 20:41] kjozwiak commented on #8656
Thanks @bbondy & @GeetaSarvadnya 👍

[2020-03-21 20:53] Dyras commented on #1864
@fmarier Any ideas when this is coming to Android? https://github.com/brave/browser-android-tabs/issues/672

[2020-03-21 21:06] #8631 closed

[2020-03-21 21:17] kjozwiak opened #8801 "Release Notes for 1.5.x Hotfix 2 (Release Channel)"
Release Notes
- High CPU and GPU usage spikes. ([#8779](https://github.com/brave/brave-browser/issues/8779))

[2020-03-21 21:28] NejcZdovc commented on #3753
closing as code changed

[2020-03-21 21:28] #3753 closed

[2020-03-21 21:29] #5316 closed

[2020-03-21 21:30] NejcZdovc commented on #6477
we removed all foreign keys, so this is not needed

[2020-03-21 21:30] #6477 closed

[2020-03-21 21:49] crazy-max commented on #8743
@mbacchi Hmmm I don't see anything about the removal of `brave-installer-ia32.exe` and `brave-installer-x64.exe` artifacts in brave/brave-browser#2221. And this also concerns Brave 0.56.14 and the artifacts have been removed since 1.5.112 so...
Can you enlighten me please?

[2020-03-21 22:22] gupta437 commented on #7947
If no one is working actively on this issue, Can I take this issue to work on?

[2020-03-21 22:25] NejcZdovc commented on #7722
we added `processor` field in https://github.com/brave/brave-core/pull/4876

[2020-03-21 22:25] #7722 closed

[2020-03-21 22:28] NejcZdovc commented on #8232
we use map in `Promotion::OnGetAllPromotions`

[2020-03-21 22:28] #8232 closed

[2020-03-21 22:34] mbacchi commented on #8743
Issue #2221 was simply an example, our plan has been to discontinue distributing the `brave-installer-*.exe` files for quite a while, in order to prevent situations where users installed that raw executable and were never able to update automatically. Sorry if this inconveniences you.

[2020-03-21 23:23] jonathansampson commented on #2999
@chopin2712 If you'd like to hide the Sponsored Images, you can do so from the New Tab Page. At the bottom-right you'll find four icons, the first of which is for Dashboard Settings. Click that, and there you will see the option to disable Sponsored Images. I hope this helps!

[2020-03-21 23:35] tmancey commented on #6962
@vip20 Are you using third party notification services?

[2020-03-22 00:05] #8800 closed

[2020-03-22 00:24] ryanbr opened #8803 "Supporting $generichide in Brave"
## Description

We should support $generichide and $ghide (ubo style) in Brave, bring us inline with uBO, ABP, Adguard and other adblockers. Generichide filter is used to counter sites against Anti-adblock measures for checking generic css divs.

## Popularity (as of 22/03/2020)

uBO Filters.txt (1535 generichide/ghide lines):
`grep \$ghide filters.txt | wc -l`
`1535`

Easylist (295 $generichide l

[2020-03-22 00:59] kjozwiak commented on #8779
Verification **PASSED** on `Mint 19.1 x64` using the following build:

[code]

* Went through https://github.com/brave/brave-browser/issues/8779#issuecomment-602099597 and left https://www.peteresnyder.com/brave/break.html opened for ~15min without any CPU/performance issues.

![Screenshot from 2020-03-21 19-51-50](https://user-images.githubusercontent.com/2602313/77239687-0d523c80-6bb4-11ea-9eaa-

[2020-03-22 01:06] pes10k commented on #8779
@kjozwiak is that file still needed (i.e. https://www.peteresnyder.com/brave/break.html)?  Can you give me a heads up when i can take it down?

[2020-03-22 01:21] #8801 closed

[2020-03-22 01:22] kjozwiak commented on #8779
@pes10k you can take it down now 👍 We're about to release the RC right now so we won't be needing it anymore. Thanks for getting that setup. Really appreciate it.

[2020-03-22 01:42] LazyZhu commented on #8743
Even corp like Google does provide extractable none-updated version of chrome.
BraveBrowser is becoming another product like Waterfox, become famous, acquired by big corp, etc.

@crazy-max
Check [Ungoogled-Chromium](https://github.com/Eloston/ungoogled-chromium)
https://github.com/macchrome/winchrome/releases

[2020-03-22 01:43] rebron commented on #8798
Closing. Released 1.5.115 on March 21, 2020 at 6:30pm PDT.

[2020-03-22 01:43] #8798 closed

[2020-03-22 03:09] panchalkalpesh commented on #3650
+1
Not working for me either.

Shields UP:
![Screenshot 2020-03-21 at 11 06 18 PM](https://user-images.githubusercontent.com/1808686/77241462-d0447500-6bc8-11ea-9460-69fc1bb948dc.png)

Tested on:
[code]

[2020-03-22 03:25] Huuuze commented on #8779
I have the latest release and the page mentioned above continues to chew memory.

[2020-03-22 03:58] fhoshino commented on #8779
After updating to 1.5.115, though long term CPU hog seems to be resolved, still seeing a higher CPU usage compared to 1.4.x, especially on script heavy pages.

[2020-03-22 07:58] atommicios commented on #8779
S[]()

[2020-03-22 09:40] NejcZdovc opened #8804 "Remove auto-increment from contribution_queue"
Currently we have auto increment on contribution_queue. This complicates things now that we moved DB into shared lib. To simplify this we should switch from INT AUTOINCREMENT to string uuid. This way we generate it ahead of time and publishers for the queue can be inserted without any problems.

[2020-03-22 10:38] #8579 closed

[2020-03-22 10:44] #6553 closed

[2020-03-22 11:04] tmancey opened #8805 "Change Brave Ads grants server end-point"
Change Brave Ads grants server end-point in `AdsRewards::GetAdGrants()` from `GET /v2/wallet/{payment_id}/grants/ads` to `GET /v1/promotions/ads/grants/summary?paymentId={payment_id}`

[2020-03-22 11:16] tmancey commented on #8644
Can you raise a new issue with steps, thanks

[2020-03-22 13:34] jctaillandier commented on #8779
Cheers lads!
Appreciate the quick work!

[2020-03-22 15:01] Vimru commented on #7039
I can also confirm this on Brave 1.4.96. Turning off shields fixes the issue.

[2020-03-22 19:51] johnmhm commented on #6717
It is now completely impossible to listen to songs on music.youtube.com with shields up.

Client tries loading a song (and a bunch of xs trackers) for 10 seconds, and then tries to load the next song on the playlist.

Only remedy is to turn off shields or use different browser.

Version 1.5.115 Chromium: 80.0.3987.149 (Official Build) (64-bit)

[2020-03-22 21:36] #7151 closed

[2020-03-22 21:54] #8493 closed

[2020-03-22 23:00] #8799 closed

[2020-03-22 23:59] #8762 closed

[2020-03-23 00:21] markdreyer commented on #8793
@JamesTheHacker Didn't you opt in to view ads? Aren't you getting paid BAT to view them? There is a solution here and it's simply to opt out.

[2020-03-23 04:50] simonhong opened #8807 "[Desktop] Different private profile button style"
From current master build(`Version 1.8.31 Chromium: 81.0.4044.69 (Developer Build) (64-bit)`):
![image](https://user-images.githubusercontent.com/6786187/77282322-ef4c1f80-6d0c-11ea-8341-b5fb708f19b6.png)

From current beta build(`Version 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)`):
![image](https://user-images.githubusercontent.com/6786187/77282433-4225d700-6d0d-11ea-8406-e825

[2020-03-23 05:32] simonhong opened #8808 "Check failure while importing from welcome page"
Crashed with master build (`Version 1.8.32 Chromium: 81.0.4044.69 (Developer Build) (64-bit)`)
[code]

Reproduce step
1. Launch browser and load brave://welcome
2. Try to import from any profile
3. Importing should be done w/o crash

[2020-03-23 06:18] NejcZdovc commented on #8427
closing as dupe of https://github.com/brave/brave-browser/issues/7595

[2020-03-23 06:18] #8427 closed

[2020-03-23 06:21] GeetaSarvadnya commented on #8552
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4875
- Encountered https://github.com/brave/brave-browser/issues/8057
![image](https://use

[2020-03-23 06:48] NejcZdovc commented on #8402
@LaurenWags this works for me on the latest master, could you please check it on the latest Nightly?

[2020-03-23 06:57] srirambv opened #8809 "Release Notes for Ethereum Remote Client 0.1.51"
- [brave-browser#8530](https://github.com/brave/brave-browser/issues/8530): Fix incorrect ledger account for transaction signing
- [brave-browser#8438](https://github.com/brave/brave-browser/issues/8438): Fix muntiple scroll bars on wallet page
- [brave-browser#8223](https://github.com/brave/brave-browser/issues/8223): Fix `eth_signTypedData` button rendering on confirmation page
- [brave-browser#

[2020-03-23 07:16] JamesTheHacker commented on #8793
Nope. I didn't opt in to see those ads.

[2020-03-23 07:46] srirambv commented on #8766
Verification passed on

Brave | 1.8.11 Chromium: 80.0.3987.132 (Official Build) nightly (64-bit)
-- | --
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#974}
OS | Linux

- Verified Tor binary `0.3.5.10` is downloaded when launched with dev command line flags
![image](https://user-images.githubusercontent.com/17010094/77293437-53b8b000-6d08-11ea-82b6-12605af8cdd7.png)

[2020-03-23 08:03] lukeswitz commented on #8793
Can we get clarification as to why the ads/backgrounds are displayed to those of us who have opted out of your monetizing/BAT?

Concerning to see this issue closed so quickly & without any clarification. Brave, how to we eradicate etoro from your software? Your provided methods don’t accomplish the above, and your response here has many scratching their heads as to the legality of it all.

[2020-03-23 08:35] alexanderlarsen commented on #4599
I have this issue as well.

Win 10 x64
Brave: Version 1.5.115 Chromium: 80.0.3987.149 (Official Build) (64-bit)

[2020-03-23 08:52] Miyayes commented on #8793
As linked above, you can read more about the Sponsored Images here, in our original announcement post from January 2020: https://brave.com/introducing-sponsored-images-in-brave/

You can easily disable them by clicking the settings on the bottom right of the new tab page:
![image](https://user-images.githubusercontent.com/11497541/77298627-96a36500-6cc1-11ea-8d32-5ab4262e8a85.png)

eToro itself is

[2020-03-23 09:11] lukeswitz commented on #8793
No, on mobile that’s not possible. Yeah, so etoro is done and now I’m inundated with sofi ads now. Peddling BAT shouldn’t be the priority here, I think that’s where the disconnect lies in this discussion.

[2020-03-23 10:06] iefremov commented on #8341
Added `Brave.Search.DefaultEngine`
buckets:
0) Other
1) Google
2) DDG
3) Startpage
4) Bing
5) Qwant

[2020-03-23 10:08] NejcZdovc opened #8810 "Fix namespace mess in shared lib"
We should analyze all namespaces in `bat-native-ledger` and simplify them as right now things are set really good. We should follow this style https://google.github.io/styleguide/cppguide.html#Namespaces

[2020-03-23 10:17] tmancey opened #8811 "[Desktop] Refactor Brave Ads namespaces to adhere to the coding style guide"
Refactor Brave Ads namespaces to adhere to the coding style guide at https://google.github.io/styleguide/cppguide.html#Namespaces, i.e.
[code]

[2020-03-23 10:31] tmancey opened #8812 "Cleanup Brave Ads/Confirmations callback duplication and naming conventions"
Cleanup Brave Ads/Confirmations callback duplication and naming conventions

[2020-03-23 10:34] GeetaSarvadnya commented on #8764
Verification passed on **Windows 10 x64**

![image](https://user-images.githubusercontent.com/38657976/77307761-e1ec6080-6d1f-11ea-88cf-a1b02b36426c.png)

[2020-03-23 11:11] JamesTheHacker commented on #8793
@Miyayes so what you're saying is you listened to the community and removed it over ethical issues This is good news, but instead of making out I was lying about this and brushing it under the rug you could have acknowledge the mistake.

[2020-03-23 12:01] luminoso commented on #8793
Choosing when to enable sponsored images is is straightforward: If a user didn't join rewards, then sponsored images should be **OFF by default.** I just tried a clean profile and sponsored images are ON even if you didn't joined rewards.

For users that didn't join rewards, they earn nothing with this abusive full-page ad in their browser. For those who are looking for rewards it should be fine t

[2020-03-23 12:57] LaurenWags commented on #8765
#### **`macOS 10.14 Mojave`** - `PASSED`

<img width="308" alt="Screen Shot 2020-03-23 at 8 52 38 AM" src="https://user-images.githubusercontent.com/28145373/77318932-50133200-6ce4-11ea-8560-06b73e9ca8e0.png">

[code]

[2020-03-23 13:22] srirambv commented on #8256
Removed `OS/Androird` label. @anthonypkeane please log a new issue for Android if it requires new design.

[2020-03-23 13:28] GeetaSarvadnya opened #8813 "Follow up of #2400 - Shields settings is lost after clearing data and relaunching"
## Description

Found while testing #2400

Follow up of #2400 - Shields settings is lost after clearing data and relaunching
## Steps to Reproduce

   1. Visit brave.com and disable shields
   2. Visit github.com and change site shields settings from default to custom
   3. Clear browsing data from all time and select all checkboxes
   4. Restart browser after data is cleared
   5. Open brave.com,

[2020-03-23 13:30] GeetaSarvadnya commented on #2400
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Logged follow up issue https://github.com/brave/brave-browser/issues/8813

[2020-03-23 13:35] samartnik commented on #8737
It wasn't completely resolved. For now it's just removed `Downloads` from clean up section.

[2020-03-23 13:42] LaurenWags commented on #8764
#### Windows 10 x86 - **PASSED**

<img width="337" alt="Screen Shot 2020-03-23 at 9 24 58 AM" src="https://user-images.githubusercontent.com/28145373/77322759-98355300-6cea-11ea-9cc8-def4b0047dee.png">

[code]

[2020-03-23 13:54] #8764 closed

[2020-03-23 14:03] danishjalil2991 commented on #8805
Hello, I am interested in working on this issue. Not sure how I can assign it to myself

[2020-03-23 14:18] andreisergiu98 commented on #7129
UP!
This issue is not getting enough attention. I'm already using a hack for Chrome-Android, but it's not working on brave cause it's based on user agent. Since the navigation bar is fixed it should be pretty straight forward to fix this, no?

[2020-03-23 14:23] mstrcrz commented on #8117
Still happening for me!

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)
JavaScript | V8 8.0.426.27
Flash | (Disabled)
User Agent | Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Sa

[2020-03-23 14:34] LaurenWags commented on #8402
@NejcZdovc seems to be working on latest nightly using both clean and upgrade profiles 👍

Brave | 1.8.32 Chromium: 81.0.4044.69 (Official Build) nightly (64-bit)
-- | --
Revision | 6813546031a4bc83f717a2ef7cd4ac6ec1199132-refs/branch-heads/4044@{#776}
OS | macOS Version 10.14.6 (Build 18G3020)

[2020-03-23 14:35] #7152 closed

[2020-03-23 14:36] #6952 closed

[2020-03-23 14:36] #7145 closed

[2020-03-23 14:39] #6430 closed

[2020-03-23 14:44] samartnik opened #8814 "[Android] Crash on attempting to open some settings after cr 81 rebase"
## Description
There is crash on the latest master on opening `Settings>Privacy>Clear data` and `Sync` settings. Needs to be fixed.

## Steps to reproduce

   1. Go to mentioned settings and see crash

## Issue happens on
   - Current Play Store version? no
   - Beta build? no

[2020-03-23 14:54] probablykasper opened #8815 "Cache included in macOS Time Machine backups"
## Description
On macOS, the following folder is included in Time Machine backups:
[code]

## Solution
Exclude the `Default/Application Cache` folder the same way the `Default/Service Worker` folder is excluded from Time Machine Backups. Alternatively, the folder could be moved to `~/Library/Caches`, which is excluded by default.

## Brave version
Brave | 1.4.95 Chromium: 80.0.3987.122 (Official B

[2020-03-23 15:15] rodrigoswz commented on #3968
No news for fix this issue? This extension works perfectly on others Chromium browsers like Chrome, Edge, Vivaldi...

Only on Brave which is my favorite that doesn't 😟

[2020-03-23 15:18] webjive commented on #3968
We've given up on Brave and moved back to Chrome.

[2020-03-23 15:23] bric3 commented on #209
For me what worked, enabling these two flags, relauching Brave after toggling on each of the following flags :

* brave://flags/#load-media-router-component-extension
* brave://flags/#mirroring-service

[2020-03-23 15:51] btlechowski commented on #8813
Test plan from original fix(https://github.com/brave/brave-core/pull/4361) mentions a new setting in `Clear browsing data`. It is missing.

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/77335508-870a37

[2020-03-23 16:02] NejcZdovc commented on #8402
@LaurenWags great, will close this one

[2020-03-23 16:02] #8402 closed

[2020-03-23 16:14] #8766 closed

[2020-03-23 16:15] kjozwiak commented on #8766
Awesome, thanks for running through this @srirambv 👍 Much appreciated.

[2020-03-23 16:17] gdregalo opened #8816 "[Android] Twitter: Unverified Channels Marked as Verified"
## Description
Duplicate of https://github.com/brave/browser-android-tabs/issues/2374

## Steps to reproduce
Please see the original issue (2374) for steps.
   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet)

[2020-03-23 16:21] #8814 closed

[2020-03-23 16:22] Much4cho commented on #464
This is a must have for many, please include this feature soon enough

[2020-03-23 16:23] dwelle opened #8817 "`Canvas.toBlob` doesn't work when device recognition shield is up"
## Description

`HTMLCanvasElement.toBlob()` doesn't work as it doesn't call the callback.

## Steps to Reproduce

   1. enable the device recognition shield (is this how it's done? It looks like reporting setting, not a shield enable/disable workflow):

         ![image](https://user-images.githubusercontent.com/5153846/77338382-94292580-6d2a-11ea-850d-bbd4b1656e7e.png)

   1. `document.createEle

[2020-03-23 16:26] btlechowski commented on #8618
Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-browser/pull/8560
![image](https://user-images.githubusercontent.com/34715963/77338930-57116300-6d2b-11ea-9f7b-a5a9311fd9a9.png)
![image

[2020-03-23 16:27] gdregalo opened #8818 "[Android] Use Android specific API to claim promotions from html UI"
## Description
Placeholder for the PR migrated from tabs to android-core:
https://github.com/brave/brave-core/pull/4345

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Androi

[2020-03-23 16:28] srirambv commented on #7670
Verification passed on OnePlus 6T with Android 10 running custom x64 build
- Verified background SI update when campaign updates in the backend without having to restart the app
- Verified background SI is removed when a campaign ends without having to restart the app
- Verified migrating from tabs to android-core components upgrade correctly and SI is shown for an active campaign
- Verified for n

[2020-03-23 16:44] fmarier commented on #1864
@Dyras We are in the process of migrating from the current Android codebase (`brave/browser-android-tabs`) to the unified Desktop/Android codebase (`brave/brave-core`). Once that migration is complete, we should be able to enable DoH on Android too.

That said, you can also [enable DNS over TLS system-wide](https://www.techrepublic.com/article/how-to-enable-dns-over-tls-in-android-pie/) on recent

[2020-03-23 16:54] rebron commented on #8807
cc: @tomlowenthal
Button being selected is wrong but placement of [icon-text] vs [text-icon] looks better?

[2020-03-23 16:54] rebron commented on #8807
cc: @karenkliu can you take a look? This is on the latest nightly https://github.com/brave/brave-browser/releases/tag/v1.8.32

[2020-03-23 16:58] #7154 closed

[2020-03-23 16:58] gdregalo commented on #8771
The feature is available on 1.5.113.
![Screenshot_20200323-105126](https://user-images.githubusercontent.com/37560650/77342018-f1f74680-6d05-11ea-8835-6f8598b77222.jpg)

[2020-03-23 16:58] #8771 closed

[2020-03-23 17:12] andrew-pyle commented on #8779
End user here. Still having high CPU usage issues with Brave Version 1.5.115

Immediately upon opening Brave, I'm getting a Brave Browser Helper process pegged at 100% CPU.

I've also enabled "Enable cosmetic filtering" flag with no effect.

[code]
![image](https://user-images.githubusercontent.com/25519964/77343353-8c07c080-6cff-11ea-8d06-fa89fe9f0f82.png)

[2020-03-23 17:19] Brave-Matt commented on #6291
+1 from Community:
https://community.brave.com/t/remember-my-choice-when-websites-want-to-open-applications/114589

[2020-03-23 17:35] #8463 closed

[2020-03-23 18:35] bsclifton commented on #8779
@andrew-pyle can you please open the in-browser task manager? Basically Hamburger menu (top right) => More Tools => Task Manager

I suspect the Bat Ledger process is what is taking all the CPU. Having a screenshot would be extremely useful. You can disable the cosmetic filter - the work-around was just something which would help for 1.5.113 😄

[2020-03-23 18:40] outforpublic commented on #8797
Unable to reproduce on Brave Nightly latest version (may already be patched in nightly but not in beta or stable)

Brave | 1.8.25 Chromium: 80.0.3987.149 (Official Build) nightly (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1909 (Build 18363.720)
JavaScript | V8 8.0.426.27
Flash | (Disabled)
User Agent | Mozilla/5.

[2020-03-23 18:40] NejcZdovc commented on #8779
@andrew-pyle do you maybe know when this started happening?

[2020-03-23 18:44] outforpublic commented on #8794
Also not just lowercase would be nice too

bravE://SettINgs/soCiAlbloCking > brave://settings/socialBlocking

[2020-03-23 18:49] outforpublic commented on #8795
Have you tried:

1. Exiting out of brave and opening up again
2. Clearing all cache & cookies (via brave://settings/clearBrowserData)
3. Checking if any updates are available (via brave://settings/help)
4. Rebooting your PC
5. Uninstalling and Reinstalling brave

[2020-03-23 18:51] bsclifton commented on #8795
Definitely looks like a cache problem; thanks for the suggestions, @outforpublic - I would also recommend trying those too 😄

[2020-03-23 18:55] outforpublic commented on #8706
Can you attempt to try the nightly version of brave?

More information at https://brave-browser.readthedocs.io/en/latest/installing-brave.html#nightly-channel-installation

[2020-03-23 19:16] bsclifton commented on #8799
Added link to test plan - @tmancey is this something we'd want to call out in release notes? (if not, can you please add `release-notes/exclude`)

[2020-03-23 19:19] bsclifton commented on #7947
@gupta437 it's all yours! 😄 Let me know if you need help finding where it's stored

[2020-03-23 19:22] Dyras commented on #1864
@fmarier Most public WiFis (where I live anyway) block DoT while DoH works flawlessly, all the time.

Thanks for the answer, looking forward to it :)

[2020-03-23 19:42] AdamSHurwitz commented on #3968
@webjive, I'm back to Chrome as of this week as well. The game changer for me is when my laptop had to go to the repair shop and being reminded how Brave does not sync 'Other search engines' and short cut keys that have been customized. Chrome allows the syncing of the above.

I'm looking forward to trying Brave again in the future. 🚀

[2020-03-23 19:46] Miyayes commented on #8793
That is **not** what I am saying, because that is **not** what happened. The campaign ended because eToro paid for an ad campaign between `START` and `END_DATE`, and it is past the `END_DATE`. (The end date was 03/20/2020.) As of now, the current ad campaign is BlockFi. After BlockFi, there will be another one. And before eToro, there were images sponsored by Lokai, Crypto.com and Western Digital.

[2020-03-23 19:53] JamesTheHacker commented on #8793
I'm not accusing, I reported what I seen and it's evident the community agreed. Nothing I said was a lie, you was blatantly using an affiliate link, had no affiliate disclaimer, and as a result had to remove it. Maybe you will not admit to this because doing so publicly may make you liable to a lawsuit. I've worked in affiliate marketing for over 15 years; I have people in our Telegram marketing g

[2020-03-23 19:55] JamesTheHacker commented on #8793
Well that's not right. The user should opt in to see the advertisements otherwise many suckers out there will get duped into this and likely lose their money.

[2020-03-23 20:03] NejcZdovc opened #8821 "Do not include failed contributions in monthly statement"
## Description

## Steps to Reproduce

   1. enable rewards
   2. claim grant
   3. do AC
   3. go to DB, go to contribution_info table and change step from -1 to -3

## Actual result:

Contribution is shown in the monthly statement

## Expected result:
Contribution should not be shown in monthly statement

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Infor

[2020-03-23 20:04] andrew-pyle commented on #8779
Disabled cosmetic filter—Thanks!

@bsclifton You are correct—Utility: Bat Ledger Service taking all the CPU.
![image](https://user-images.githubusercontent.com/25519964/77358097-3e974d80-6d17-11ea-88c8-1cf32258a4e0.png)

Is there something to be done to correct this on my end?

@NejcZdovc I've been noticing high fan usage for about 2 weeks.

[2020-03-23 20:26] masparrow commented on #8546
Confirmed behaviour on Windows (at least) seems to be correct - ads time out after 2 mins as expected. Testing Nightly...

[2020-03-23 20:30] bsclifton commented on #8793
@JamesTheHacker @luminoso and others - thanks for the feedback! I've shared with the relevant folks and actions will be taken

As GitHub is specifically for tracking issues with the software and I believe all the important input is captured here already, I'm going to lock this issue. Thanks again for the input!

Please feel free to take up the issue more on https://community.brave.com/

[2020-03-23 20:41] pes10k commented on #8794
brave://settings/searchEngines

[2020-03-23 20:58] tmancey commented on #8546
@masparrow Our testing only showed this working as expected on debug builds, can you please confirm

[2020-03-23 21:05] JamesTheHacker commented on #8794
What about `brave://settings/search-engines`? Using a hyphen for space instead of camel case is cleaner to read imo. I think that's the most common approach for web applications too.

[2020-03-23 21:07] LaurenWags commented on #8039
Verified passed with

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified the test plan from https://github.com/brave/brave-core/pull/4754 using Fiddler

without `--use-dev-goupdater-url` flag:
<img width="574" alt="Screen Shot 2020-03

[2020-03-23 21:16] kjozwiak commented on #8765
Verification **PASSED** using the following build:

[code]

#### **`macOS 10.15 Catalina`** - **`PASSED`**

<img width="295" alt="Screen Shot 2020-03-23 at 4 49 57 PM" src="https://user-images.githubusercontent.com/2602313/77361814-5aeeb680-6d26-11ea-9335-32be7c64b5eb.png">

[code]

#### **`macOS 10.12 Sierra`** - **`PASSED`**

<img width="321" alt="Screen Shot 2020-03-23 at 4 55 27 PM" src="https

[2020-03-23 21:17] tomlowenthal commented on #8807
No opinion on the order of the elements. But this is the first time I learned that this was a button rather than a badge. As far as I know, this was never specified as a button, and I’d prefer if it went back to being a badge.

[2020-03-23 21:21] pes10k commented on #8794
Updated with full list of camel case URLs I could find

[2020-03-23 21:21] #8765 closed

[2020-03-23 21:22] pes10k opened #8822 "Make casing of settings titles / text consistent"
the follow are all cases that don't follow sentence casing in brave://settings

[code]

cc: @karenkliu @rebron

[2020-03-23 21:29] realisation commented on #464
Yes please include!

On Mon, Mar 23, 2020 at 9:23 AM Much4cho <notifications@github.com> wrote:

[2020-03-23 21:30] heyJonBray opened #8823 "CryptoWallet: Imported ETH private key; deleted wallet; still available in "Transfer Between my Accounts""
## Description
I was playing around with crypto wallet features to import 3rd party wallets from the private key. This worked great, all of my ERC20 token balances showed up fine. I removed the account from my Crypto Wallets, but when I open my Brave-created or MetaMask wallet and send funds, my third wallet is still shown.

## Steps to Reproduce

   1. brave://wallet > Import Account > Private Ke

[2020-03-23 21:51] GitHubUserNameDuck commented on #7606
In December 2019, one Brave developer [posted a comment on reddit](https://www.reddit.com/r/brave_browser/comments/ebdg9n/will_there_be_a_possibility_to_add_extensions_on/fb51w5n/?utm_source=share&utm_medium=web2x) expressing his hope that extension support would be added to Brave on Android in 2H2020. As far as I know, there's no new info for the time being (March 2020).

[2020-03-23 22:03] #8768 closed

[2020-03-23 22:45] bsclifton commented on #8722
Opening as this is still a problem actually

[2020-03-23 23:01] karenkliu commented on #8361
@rebron When are we doing this? iOS/Android already merged and closed their respective issues

[2020-03-23 23:14] debiasi opened #8824 "Youtube video does not play"
## Description
When I try to play a youtube video it shows an error and didn't play. If I disable Shields it play (with ads)

## Steps to Reproduce

1. Enter youtube site https://www.youtube.com/ (I am logged in with my google account)
2. Choose any video like https://www.youtube.com/watch?v=7TcCIcE1hr8
3. Click play

## Actual result:

"An error occurred, please try again later. (Playback ID:....

[2020-03-23 23:45] #8808 closed

[2020-03-24 00:19] tunnckoCore commented on #1864
No word on `linux` support.

[2020-03-24 00:21] #8673 closed

[2020-03-24 00:21] ryanml opened #8825 "Broken welcome_reducer_test"
Running `npm run test-unit` inside `brave-core` garners:

[code]

The expected args just need to be updated

[2020-03-24 00:44] #8825 closed

[2020-03-24 02:10] btlechowski commented on #5456
Good work, I am able to play the video

Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from the description

![image](https://user-images.githubusercontent.com/34715963/77380968-ec891300-6d7c-11ea-9079-be2dd5d2e7ea.png)

[2020-03-24 02:10] #5456 closed

[2020-03-24 02:13] btlechowski commented on #6190
Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from the description

![image](https://user-images.githubusercontent.com/34715963/77381129-5c979900-6d7d-11ea-89cc-113f9f975b53.png)

[2020-03-24 02:22] simonhong commented on #2400
@btlechowski @GeetaSarvadnya I think this PR's description is outdated.
After the discussion, we don't want to separate shields settings from site settings.
Because of that reason, its name is changed to `Site and Shields Settings` from `Site Settings`.
So, I think https://github.com/brave/brave-browser/issues/8813 is not an issue.

[2020-03-24 02:25] btlechowski commented on #8524
@ryanml For `http://vitalik.eth` I get:
![image](https://user-images.githubusercontent.com/34715963/77381761-f7dd3e00-6d7e-11ea-9862-c3a2e39b3d39.png)

Is this expected behavior?

[2020-03-24 02:25] abh-oss01 commented on #8813
is it fixed now?
did u commit?

[2020-03-24 02:26] abh-oss01 commented on #2400
@simonhong what?!
This isn't going to be fixed?
Please untie the settings, they get cleared after auto clearing history+data.

[2020-03-24 02:27] ryanml commented on #8524
@btlechowski yep that's the correct behavior for the final resolution. This fix just made sure that `brave://wallet` was showing when this was being redirected to. Thanks for checking.

[2020-03-24 02:28] btlechowski commented on #8256
Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Estimated Bandwidth stat on NTP is hidden

![image](https://user-images.githubusercontent.com/34715963/77381966-67532d80-6d7f-11ea-9687-5a053faf53a3.png)

[2020-03-24 02:34] simonhong commented on #2400
Ah,, @abh-oss01 . you're right.
This issue should not be closed. re-opened.

[2020-03-24 02:36] btlechowski commented on #8132
Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4558. Watched an ad on 1.5.x and upgraded to 1.7.x. No crash. No `DB: Error migrating database`.

[2020-03-24 02:42] btlechowski commented on #8082
Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from the description.
Verified the icon is hidden after Google Translate Extension is hidden.
Verified Google Translate Extension works.

![image](https://user-images.githu

[2020-03-24 02:52] btlechowski commented on #8138
Verification passed on

Brave | 1.7.70 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4560
On clean profile
[code]
Verified errors are not shown after restart

[2020-03-24 03:03] simonhong opened #8826 "Rename Site Settings to Site and Shields Settings in"
Shields settings are subset in Site settings.
So, `Site Settings` in settings page is renamed to `Site and Shields Settings`.

In brave://settings/privacy and Clear browsing data dialog, all the `Site Settings` title is renamed.

[2020-03-24 03:04] #8826 closed

[2020-03-24 03:08] srirambv opened #8827 "[Android] Remove clear download history setting"
## Description
Remove clear download history setting

## Steps to reproduce

   1. Clear browsing data
   2. Clear download history is shown

## Actual result
Clear download history when clear browsing data

## Expected result
No clear download history option

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? Ye
   - Beta build? Yes

## Device details
   - In

[2020-03-24 03:08] srirambv commented on #8827
Fixed by #4984

[2020-03-24 03:08] #8827 closed

[2020-03-24 03:21] rebron commented on #8361
We'll see if we can get this updated for 1.7.x but we also don't have the same urgency as we're not bound by the app or android stores.

[2020-03-24 04:31] rebron commented on #3138
@pilgrim-brave @pes10k Adding youtube to the block list still doesn't seem to block autoplay. Any ideas?

[2020-03-24 04:40] rebron commented on #7688
@bmatzner Can we have you try one more time with 1.5.115 Chromium: 80.0.3987.149.
May have been resolved with the most recent Chromium versions.

@pes10k Any more beachballing with url/autocomplete?

[2020-03-24 04:51] rebron commented on #2495
Duplicate of #4621 and fixed in 1.4.96, a few versions ago. Sharing a screen shouldn't be an issue now either.

[2020-03-24 04:51] #2495 closed

[2020-03-24 05:13] rebron commented on #3745
@stshank I'm going to close this one out. I tried again in both Google Docs and Sheets and edits seem to be reflected. Let me know if this still an issue for you though. Tested in both 1.5.115 and 1.8.32

[2020-03-24 05:13] #3745 closed

[2020-03-24 05:43] rebron commented on #1218
Closing. `brave://flags/#disable-hyperlink-auditing` no longer exists.

[2020-03-24 05:43] #1218 closed

[2020-03-24 06:14] GeetaSarvadnya commented on #8826
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified that `Site Settings` in settings page is renamed to `Site and Shields Settings`.
![image](https://user-images.githubusercontent.com/38657976/77394062-

[2020-03-24 06:25] #8540 closed

[2020-03-24 07:46] NejcZdovc commented on #8779
@andrew-pyle would you be maybe able to jump on a quick call to check this one out? If so please send me an email to nejc[@]brave.com. Thank you

[2020-03-24 07:58] GeetaSarvadnya commented on #3121
Verification passed on

Brave | 1.7.67 Chromium: 80.0.3987.149 (Official Build) beta (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/3150
- Verified  `Show the number of blocked items on the Shields icon` works as expected

[2020-03-24 08:07] NejcZdovc opened #8828 "Unblinded tokens not contributed correctly when not enough funds"
## Description

## Steps to Reproduce

   1. Enable rewards
   2. Claim grant (20 BAT)
   3. Connect KYC uphold
   4. Set AC to 50 BAT and add verified publishers to AC table
   5. Wait for AC to be triggered

## Actual result:

50 is taken from Uphold account

## Expected result:
20 BAT from grant and 30 BAT from Uphold

## Reproduces how often:

## Brave version (brave://version info)

## Versio

[2020-03-24 08:54] johnmhm commented on #6717
The issue persists on Android versions of Brave, if someone wants to look for clues.

[2020-03-24 09:53] masparrow commented on #8546
@tmancey Apologies - missed the key word there - it should read 'Confirmed behaviour on Windows _debug_ (at least)...'

Regarding Nightly not showing notifications at all (on Brave iMac Windows VM and my own Windows Dev PC) I have been through the thread you supplied (https://bravesoftware.slack.com/archives/C43LW5U2H/p1577987813048600?thread_ts=1577912851.045600) and followed steps regarding Outl

[2020-03-24 09:59] tmancey commented on #8546
@masparrow For what we can tell, this is a bug with Windows, please reply to the chat thread to see if others found a solution and did not post

[2020-03-24 12:11] LaurenWags commented on #8140
Verified passed using

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4561 for several regions

United States (US)
<img width="300" alt="US" src="https://user-images.githubus

[2020-03-24 12:20] aquaspy opened #8829 "Brave using 100% disk and not closing process"
## Description
Brave uses 100% disk and the process remains opened when you close it (and 100% disk still being used until you kill brave process)

## Steps to Reproduce

   1.  Download and install brave latest version
   2. Use it for a while (about a day for me)
   3. Wait until the computer slow completely, look at the task manager and see brave using 100% disk even when the process is closed

[2020-03-24 12:24] LaurenWags commented on #8568
@bsclifton @AndriusA @rebron what milestone should this one be in? 1.7.x perhaps? if so and it needs manual QA can we get a test plan please? Thanks!  cc @kjozwiak

[2020-03-24 12:26] LaurenWags commented on #8359
Verified passed with

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Confirmed bandwidth stat does not display on NTP on desktop per https://github.com/brave/brave-browser/issues/8256
<img width="1192" alt="Screen Shot 2020-03-24 at 8 17 1

[2020-03-24 12:45] tmancey opened #8830 "[Desktop] Refactor Brave Ad filters so that multiple filters can be applied in a single pass"
Refactor Brave Ad filters so that multiple filters can be applied in a single pass, see 'vendor/bat-native-ads/src/bat/ads/internal/filters`

[2020-03-24 12:53] jsecretan commented on #7817
For privacy reasons, we should put the follow country codes together under a country code for Other "OT":

AS
AI
AQ
AG
BQ
BV
IO
CF
TD
CX
CC
KM
CK
GQ
ER
FK
TF
GL
GW
HM
VA
KI
LR
MH
YT
FM
MS
NR
NU
NF
MP
PW
PN
BL
SH
KN
MF
PM
WS
SM
ST
SX
SB
GS
SS
SJ
TJ
TL
TK
TM
TC
TV
UM
VU
VG
WF
EH

[2020-03-24 13:16] LaurenWags commented on #8536
thanks @tmancey - marking as QA/No then since this can't be tested as the UI was removed. if you disagree @kjozwiak @rebron please change label back.

[2020-03-24 13:34] doctorw commented on #8154
effect of this issue with chrome:
![image](https://user-images.githubusercontent.com/1331665/77431129-56d99c00-6ded-11ea-9d95-4cffee8fc498.png)

[2020-03-24 13:45] LaurenWags commented on #8617
@ryanml @bsclifton looks like this isn't in 1.7.x but is actually in 1.8.x per https://github.com/brave/brave-core/commits/master?before=288afddae3b0eda2bc9b1d1d9eaa5a8990f629ea+315

Could you please review and determine if this can be moved to 1.8.x or if an uplift request is needed? Marking as `QA/Blocked` until this is sorted out. Thanks!

cc @kjozwiak @rebron

[2020-03-24 14:07] tmancey commented on #8100
https://github.com/brave/brave-browser/issues/7817#issuecomment-603221160 to be added as apart of this ticket

[2020-03-24 14:12] LaurenWags opened #8831 "Update Ben Karpinski's photo attribution link from Fall 2019 wallpapers - Follow up to 7997"
## Description
Follow up to https://github.com/brave/brave-browser/issues/7997

From above issue:
[code]

![7997](https://user-images.githubusercontent.com/28145373/77434878-e6fcee80-6db7-11ea-9064-130c4011c9b7.png)

## Test plan
1. Load picture (thumbnail shown above)
2. Make sure image is attributed properly to Ben Karpinski

[2020-03-24 14:12] LaurenWags commented on #8831
cc @rebron as this was originally slated for 1.7.x

[2020-03-24 14:12] LaurenWags commented on #7997
Verified using

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

Issue from description still reproduces. When Ben Karpinski's image is shown, his image is still attributed to `https://benkarpinski.com/landscapes/` not `http://bklandscapes.com

[2020-03-24 14:19] LaurenWags commented on #7783
@rebron @srirambv should this one be marked `OS/Android` as it's no longer on desktop per https://github.com/brave/brave-browser/issues/8256 ?

[2020-03-24 14:30] SergeyZhukovsky opened #8832 "[Android] Remove autofill dialog"
## Description
We need to remove autofill dialog on Android browser

## Steps to reproduce

   1. Visit [https://buy.logitech.com/store/#dr_CheckoutStep2](url)
   2. Pick a Credit Card Number field
   3. Observe that picture

## Actual result
![received_2558336837714847](https://user-images.githubusercontent.com/12011303/77436799-4c51df00-6dba-11ea-9d4f-819a04a1289e.jpeg)

## Expected result
No au

[2020-03-24 14:36] #8818 closed

[2020-03-24 14:37] #8816 closed

[2020-03-24 14:38] tmancey opened #8833 "Remove publisher channel id containing landing TLD+1 for ad notification confirmations"
## Description

Remove publisher channel id for ad notification confirmations

## Steps to Reproduce

   1. View an ad notification

## Actual result:

## Expected result:
channelId should not be sent to the `POST /v1/confirmation/{confirmation_id}/{credential}` end-point

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

## Version/Channel Information:

- Can y

[2020-03-24 14:38] #8821 closed

[2020-03-24 15:50] LaurenWags opened #8834 "old search terms still highlighted on brave://settings"
## Description
Found while testing https://github.com/brave/brave-browser/issues/8002

Sometimes when I use the search on brave://settings, terms from my first search are still highlighted when doing my second search.

## Steps to Reproduce

   1. Clean profile
   2. Navigate to brave://settings
   3. Cmd+F to open the settings search bar (or click on magnifying glass)
   4. Type "Goog"
   5. See

[2020-03-24 15:52] oky2abbas commented on #2756
What if my operating system becomes unusable?
All my information will be erased !

[2020-03-24 15:54] kjozwiak commented on #8542
Verification **PASSED** on `macOS 10.15.3 x64 Catalina` using the following build:

[code]

* Verified the original STR via https://github.com/brave/brave-browser/issues/8542#issue-575996101 and ensured that the `Speed Dial [FVD]` extension worked without issues

<img width="1226" alt="Screen Shot 2020-03-24 at 11 45 43 AM" src="https://user-images.githubusercontent.com/2602313/77447066-a2784f80-6

[2020-03-24 15:59] bridiver commented on #8813
This is the correct behavior and is a duplicate of https://github.com/brave/brave-browser/issues/2400

[2020-03-24 15:59] #8813 closed

[2020-03-24 15:59] bridiver commented on #2400
@abh-oss01 2400 was fixed. Shield settings are site settings and we changed the wording to make this more clear. If you select all the checkboxes, your shields setting absolutely should be deleted just like all other sites settings. This is not a bug, this is the correct and expected behavior and the fix was to make sure people knew exactly what they were deleting. cc @bbondy

[2020-03-24 15:59] #2400 closed

[2020-03-24 16:00] bridiver commented on #8813
I also updated the status to closed/invalid because this is the correct and expected behavior. The labels have been updated to make that clear.

[2020-03-24 16:02] bridiver commented on #2400
added `closed/invalid` because this is the expected and correct behavior. The label has been updated to make it clear to users that shield settings are part of site settings

[2020-03-24 16:05] oky2abbas opened #8835 "Please add the ability to back up data to the cloud."
If my operating system (unexpectedly) becomes unusable all my important information including (passwords, histories, etc) will be **erased**.

Also, if my laptop or ‍mobile phone is stolen, all of my confidential information will be lost like my passwords.

However, while `Chrome browser` is needed at any time, it is possible to delete data from the browser **(because it has cloud synchronization)

[2020-03-24 16:11] kjozwiak commented on #8524
Quick notes for QA:

* You'll need to wait till `~/Library/Application\ Support/BraveSoftware/Brave-Browser-Dev/Safe\ Browsing` pulls the lists before attempting the STR via https://github.com/brave/brave-browser/issues/8524#issue-575123174
* You can use `http://sether.ws/` from https://github.com/MetaMask/eth-phishing-detect/blob/master/src/hosts.txt (most hosts/websites don't exist anymore).

[2020-03-24 16:15] abh-oss01 commented on #8813
it clearly said "follow up"

[2020-03-24 16:16] abh-oss01 commented on #8813
@bridiver it clearly said "follow up"

[2020-03-24 16:16] GeetaSarvadnya commented on #8813
https://github.com/brave/brave-browser/issues/2400#issuecomment-603330357 - Closing this as the issue in invalid

[2020-03-24 16:19] abh-oss01 commented on #2400
@bridiver the whole issue was opened to get the settings separated/untied from site settings
how is this site settings anyway?
this must be separate...
pls make the global settings simpler to understand and implement, and, the current ("fixed") behaviour is no different than the previous one which was a bug.

[2020-03-24 16:26] kjozwiak commented on #8524
Verification **PASSED** on `macOS 10.15.3 x64 Catalina` using the following build:

[code]

* launched `1.7.71 CR: 80.0.3987.149` and waited for the `Safe Browsing` list to download
* visit `brave://wallet`
* visited http://sether.ws and ensured `Safe Browsing` was triggered (Deceptive website)
* visited http://vitalik.eth and ensured `brave://wallet` appeared in the URL before https://app.ens.dom

[2020-03-24 16:27] LaurenWags opened #8836 "monthly statement drop down shows previous month in dropdown for current month"
## Description

Monthly statement drop down shows `February 2020` however data is being shown (right side summary and bottom lists) for current month of March.

## Steps to Reproduce

   1. Clean profile w/ staging flags
   2. Enable Rewards, claim grant
   3. Make a one time tip
   4. Open monthly statement

## Actual result:
Dropdown says 'February 2020' (note, this is the only option in the dro

[2020-03-24 16:28] bridiver commented on #2400
@abh-oss01 the previous behavior was not a bug. These are all site settings and the label has been updated to make it clear that shields are part of site settings. Trying to split things up would make it even more confusing because nobody would know which checkbox (site settings vs shield settings) deleted which settings. For instance, where would JS settings go? On Chrome those are deleted as par

[2020-03-24 16:30] LaurenWags opened #8837 "monthly statement is missing date for one time tip"
## Description

Monthly statement has a 'Date' field for one time tips but it is not populated.

## Steps to Reproduce

   1. Clean profile w/ staging flags
   2. Enable Rewards, claim grant
   3. Make a one time tip
   4. Open monthly statement
   5. Click on one-time tips

## Actual result:
Date field is blank

<img width="939" alt="Screen Shot 2020-03-24 at 12 20 37 PM" src="https://user-images

[2020-03-24 16:31] rebron commented on #7783
Yes just OS/Android

[2020-03-24 16:39] bridiver commented on #2400
@abh-oss01 also what is the use case for deleting just some of your site settings, but not others? You want to delete your site location, camera, microphone, flash, images, sound, autoplay, notifications, etc... settings, but not your cookie, httpse, js and fingerprinting settings? And that's ignoring the fact that cookie and JS are listed as part of site settings in `brave://settings/content`

[2020-03-24 16:43] bridiver commented on #2400
The bug here is that the checkbox was not labelled in a way that made it clear to users that shields settings are part of site settings. That has been corrected because we don't want people to unintentionally delete their settings.

[2020-03-24 16:45] LaurenWags commented on #8512
Verified passed with

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4829 and steps from description:
<img width="1190" alt="Screen Shot 2020-03-24 at 12 10 29 PM" src="https

[2020-03-24 16:47] LaurenWags commented on #7783
awesome, thanks @rebron!

[2020-03-24 16:47] scottrbaxter commented on #8824
Since updating Brave to `1.5.115`, I am also experiencing this. Shields down (and Ublock disabled) and I still have this issue. I don't have Chrome installed to check against. If I open youtube.com everything seems fine. Click on any video and it attempts to load for a long time, then i get "If playback doesn’t begin shortly try restarting your device" and the macOS beach ball cursor. I can someti

[2020-03-24 16:59] rebron opened #8838 "move brave://adblock/ to brave://settings/shields"
## Description
Move brave://adblock/ to brave://settings/shields.
- [ ] Remove Brave Adblock from hamburger menu.
- [ ] Redirect brave://adblock to brave://settings/filters
- [ ] New design for Ad Block page in brave://settings/filters
- [ ] Add Content Filtering section in brave://settings/shields
- [x] Add a link to brave://adblock in the Shields panel

## Designs
<img width="1127" alt="Screen S

[2020-03-24 17:26] kjozwiak commented on #8533
Verification **PASSED** on `macOS 10.15.13 x64 Catalina` using the following build:

[code]

* Verified the STR outlined via https://github.com/brave/brave-browser/issues/8533#issue-575728727
* ensured that `Simple View` was being used after several restarts
* ensured that switching to `Advanced View` via `brave://settings/shields` worked
  * ensured that the shields display the `Changing Shield s

[2020-03-24 17:34] karenkliu commented on #8838
@tomlowenthal Can you help fill out some content on the new adblock page?
- `Regional and specific filters` now have a one-line description underneath
- `Custom Filters` now have a one-line description underneath
-  Each filter now has a one-line description of what they are best used for underneath

[2020-03-24 17:43] ryanml opened #8839 "coin URL parameter in Binance Buy URL needs to be changed to crypto"
`https://www.binance.us/en/buy-sell-crypto?coin=` -> `https://www.binance.us/en/buy-sell-crypto?crypto=`

[2020-03-24 17:45] GeetaSarvadnya opened #8840 "Create settings option to clear HTTPS/FP settings under `brave://settings/content`"
## Description

Currently, chromium provides js/cookie option to manage domain-level setting which is not there for HTTPS/FP, need to create settings option for HTTPS/FP under `brave://settings/content`

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

There is no HTTPS/FP settings under `brave://settings/content`

## Expected result:
Create settings option to clear HTTPS/FP settings u

[2020-03-24 18:03] kjozwiak commented on #1864
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

[code]

* Verified the STR outlined under https://github.com/brave/brave-core/pull/4314#issue-359767976

<img width="1176" alt="Screen Shot 2020-03-24 at 1 55 48 PM" src="https://user-images.githubusercontent.com/2602313/77460947-35ba8080-6dd8-11ea-85af-5c29845c22a3.png">

[2020-03-24 18:03] LaurenWags opened #8841 "monthly contributions not reflected in panel summary"
## Description

Found while testing https://github.com/brave/brave-browser/issues/8467

After monthly contributions (recurring tips) have been contributed, they are not reflected on the summary displayed from the rewards panel. They are displayed on the summary on brave://rewards and in the Monthly Contributions table.

## Steps to Reproduce

   1. Launch clean profile from staging with short reco

[2020-03-24 18:04] #8777 closed

[2020-03-24 18:05] #8833 closed

[2020-03-24 18:07] LaurenWags commented on #8467
Verified passed with

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4801
<img width="395" alt="Screen Shot 2020-03-24 at 1 46 12 PM" src="https://user-images.githubuserconte

[2020-03-24 18:23] LaurenWags commented on #8836
Reproduces on Nightly

Brave | 1.8.36 Chromium: 81.0.4044.69 (Official Build) nightly (64-bit)
-- | --
Revision | 6813546031a4bc83f717a2ef7cd4ac6ec1199132-refs/branch-heads/4044@{#776}
OS | macOS Version 10.14.6 (Build 18G3020)

<img width="1002" alt="Screen Shot 2020-03-24 at 2 22 30 PM" src="https://user-images.githubusercontent.com/28145373/77462796-00636200-6ddb-11ea-93d6-d0065c52f640.png">

[2020-03-24 18:23] ShockRocky opened #8842 "Can't remove the url 'https://accounts.google.com' from brave://settings/content/cookies page"
## Description

Cant remove the url 'https://accounts.google.com' from brave://settings/content/cookies page.

## Steps to Reproduce

   1. Go to brave://settings/content/cookies
   2. You will see the google accounts url already whitelisted by default in the allow cookie list.
   3. Click on the options i.e. ' : ' , try to remove the url, it doesn't.

## Actual result:

![brave coookies 2](https:

[2020-03-24 18:27] kjozwiak commented on #8424
Verification **PASSED** on `macOS 10.15.3 x64 Catalina` using the following build:

[code]

* Verified the STR/Test Plan outlined via https://github.com/brave/brave-browser/issues/8424#issue-571844211
* ensured that you can pan around https://immersive-web.github.io/webxr-samples/360-photos.html?usePolyfill=0

<img width="909" alt="Screen Shot 2020-03-24 at 2 21 26 PM" src="https://user-images.git

[2020-03-24 18:52] tmancey commented on #8546
After debugging this issue we have found that ad notifications are working as expected using release builds for all channels (nightly, beta and release):

macOS: 2 minutes
Windows: 2 minutes
Linux: 2 minutes

[2020-03-24 18:53] fmarier commented on #4438
The [latest version of ITP](https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/) does the following:

[2020-03-24 18:53] tmancey commented on #8546
@kjozwiak @LaurenWags If QA could test to confirm they are seeing the same results, that would be great. Thanks

[2020-03-24 18:54] pes10k commented on #4438
Just adding (bc i couldn't tease it out from the blog post), Safari now does this for all sites, not just ITP-labeled domains.

Also, interesting implementation detail, 3p w/o storage access don't get a timer (e.g. seeing the same 3p on the same 1p doesnt' reset the timer for the 3p's storage)

[2020-03-24 19:04] pes10k commented on #7688
@rebron i haven't seen this in a while 👍

[2020-03-24 19:09] LaurenWags commented on #8836
from the spec (outdated):

[code]

based on the above, should the statement show current activity (in this case, data for March - tips, token grants accepted, etc)? Maybe the statement shouldn't be available as there isn't any data for previous month?

cc @mandar-brave for product insight

[2020-03-24 19:30] tmancey opened #8843 "Brave Ad notifications are not shown on Windows until notifications are authorized"
## Description

Brave Ad notifications are not shown on Windows until notifications are authorized

## Steps to Reproduce

   1. View an ad notification

## Actual result:

Ad notification is not shown on Windows until notifications are authorized, i.e. visiting http://bennish.net/web-notifications.html and clicking "Allow", i.e.

<img width="360" alt="Screenshot 2020-03-24 at 19 21 16" src="https

[2020-03-24 19:39] LaurenWags opened #8844 "monthly statement - AC values sum to amount greater than AC budget"
## Description
Probably due to rounding, but AC values on the monthly statement (in Auto-Contribute section) sometimes add up to greater than the actual AC amount.

## Steps to Reproduce

   1. Have mix of verified and non-verified sites set up for AC
   2. Have AC to thru
   3. Look at monthly statement

## Actual result:

0.1 + 0.1 + 0.3 + 4.3 + 0.5 = 5.3, but AC amount was only 5.0 BAT
<img wid

[2020-03-24 19:40] LaurenWags commented on #8844
Note, amount on Transactions section matches the amount in the Summary above, not what the sum from Auto Contribute section is:
<img width="890" alt="Screen Shot 2020-03-24 at 3 40 05 PM" src="https://user-images.githubusercontent.com/28145373/77469671-d4011300-6de5-11ea-89db-d5224612e964.png">

[2020-03-24 19:51] NejcZdovc commented on #8836
@LaurenWags yes we decided to show current month as well, I think it's just selection problem (showing wrong month)

[2020-03-24 19:57] anthonypkeane opened #8845 "[Android] Estimated bandwidth savings in NTP"
## Description
Please replace HTTPS with Data Saved on Android

@AndriusA has created the code for estimating data saved

For design see: https://github.com/brave/brave-browser/issues/8256#issuecomment-594238584
For implementation see: https://github.com/brave/brave-browser/issues/7783

[2020-03-24 19:58] LaurenWags commented on #8836
great, thanks for clarification @NejcZdovc 👍

[2020-03-24 20:16] bmatzner commented on #7688
Same here, haven‘t seen the behavior in a couple of days. Thanks so much!

[2020-03-24 20:16] kjozwiak commented on #8167
Verification **PASSED** on `macOS 10.15.3 x64 Catalina` using the following build:

[code]

* Verified the STR outlined via https://github.com/brave/brave-browser/issues/8167#issuecomment-585465660
* ensured that `location.services.mozilla.com` wasn't being used

![Screen Shot 2020-03-24 at 2 46 28 PM](https://user-images.githubusercontent.com/2602313/77472744-c00be000-6dea-11ea-8f49-58fdfdab568e.

[2020-03-24 20:49] bsclifton commented on #8831
Problem found - original PR didn't update URL
https://github.com/brave/brave-core/pull/4398

Will submit a fix here shortly

[2020-03-24 20:54] #8831 closed

[2020-03-24 20:58] bsclifton commented on #8831
Good catch, @LaurenWags 😄 Fixed in 1.7.x with https://github.com/brave/brave-core/commit/c6c8da70892b2d4610b93ee2d4435a9e6c2914f4 - should be in the next build we get

[2020-03-24 20:59] bsclifton commented on #7997
removing `QA/Yes` and milestone as https://github.com/brave/brave-browser/issues/8831 is a duplicate of this issue

[2020-03-24 21:00] #8786 closed

[2020-03-24 21:01] bsclifton commented on #8722
Should be completely resolved with https://github.com/brave/brave-core/pull/5013 and https://github.com/brave/brave-browser/pull/8788

[2020-03-24 21:37] mrose17 commented on #2999
and *please* include a setting to indicate whether i want the 12-hour or 24-hour time on the NTP... cc: @aaronsantamaria ... thank you!

[2020-03-24 21:43] #8839 closed

[2020-03-24 21:52] kjozwiak opened #8846 ""Bat Ledger Service" causing 100% CPU usage"
## Description

We've been receiving several reports from our users that `Bat Ledger Service` causes the CPU to increase to 100% in some cases in `1.5.x` which causes performance issues. We've had a similar issue in `1.7.x` and `1.8.x` that we resolved via https://github.com/brave/brave-browser/issues/8691. However, this issue has been reported on `1.3.x`, `1.4.x` and `1.5.x` so it's a different p

[2020-03-24 21:56] RaveenBouy commented on #8835
I read in reddit that a new version of sync is being worked on. Hope it would be released soon!

[2020-03-24 22:13] bsclifton commented on #8829
@aquaspy can you please use the Task manager in Brave to help us narrow this down? You can find via the Hamburger menu (3 lines, top right) => More Tools => Task Manager

I suspect that the `Bat Ledger Service` is taking up all the CPU, which we have recently found a cause for (captured with https://github.com/brave/brave-browser/issues/8846). If you can confirm that would be great 😄

[2020-03-24 22:17] #8737 closed

[2020-03-24 22:33] karenkliu commented on #8807
☝️ what @tomlowenthal said.

This order [icon-text] is correct:

![Screen Shot 2020-03-24 at 3 33 40 PM](https://user-images.githubusercontent.com/2388823/77483214-d747cf00-6de4-11ea-86d2-269e900a9020.png)

But it should have the same background color as the toolbar and should not be clickable.

[2020-03-24 22:38] #8832 closed

[2020-03-24 22:42] UtahJonF commented on #3968
I'm also back to Chrome starting this week. Between all of the sites that don't work (even with shields down), bookmark sync, and offline google docs, I'm exhausted fighting with this thing. The parts I do like are the built in shields up/down idea and the incognito with Tor option. I'm sure this will all get fixed or Chrome will build out the parts that work. Best of luck.

[2020-03-24 22:54] bsclifton commented on #8341
Fixed with https://github.com/brave/brave-core/pull/4771

[2020-03-24 22:54] #8341 closed

[2020-03-24 23:12] bsclifton commented on #8568
@LaurenWags added to 1.7 milestone 😄 Added `QA/No` and `release-notes/exclude` as this stat is now hidden 👍

[2020-03-24 23:15] bsclifton opened #8847 "Extension import follow up (import extension settings)"
## Test plan
See https://github.com/brave/brave-core/pull/14997

## Description
Follow up to https://github.com/brave/brave-browser/issues/7974

With https://github.com/brave/brave-core/pull/4672, ability to import extensions from Chrome is possible. The state of the extensions is not imported though.

## Steps to Reproduce

   1. Have an install of Chrome
   2. Install an extension that has state

[2020-03-24 23:23] bsclifton commented on #1003
@Kwadz sure! I'd get started with the following:
1. Get brave-core cloned, compiling, and building
2. Check out [src/chrome/browser/ui/views/tabs/tab.cc](https://cs.chromium.org/chromium/src/chrome/browser/ui/views/tabs/tab.cc?q=chrome/browser/ui/views/tabs/tab.cc&sq=package:chromium&dr). The `Tab::Layout()` method might be where you want to start
3. Edit the Chromium source directly until you get

[2020-03-24 23:32] #8722 closed

[2020-03-25 01:02] tomlowenthal commented on #8838
* Regional and specific filters: "These filters block regional and language-specific trackers and annoyances."
* Custom filters: "Get technical by adding your own specific filters in Adblock Plus filter syntax."

[2020-03-25 01:47] aleqx commented on #8691
This is still happening in the new 1.5.115. 100% CPU for Bat Ledger Service, wallet not working properly, registered publishers not recognized at all, ads not showing.

https://community.brave.com/t/bat-ledger-cpu-usage-at-100-publishers-no-longer-recognized-outdated-rewards-info/112190/13?u=alexr

[2020-03-25 01:55] ChangedUser commented on #464
Would absolutely love this feature!

[2020-03-25 03:56] krimnassim commented on #8795
hi, thanx for the help yes i did all that but same problem i even reinstalled windows 7 Twice same issue but when i use firefox no problem all the sits working , i installed windows 10 brave works with no problem this issue happen only when i use brave on windows 7, i didn't have any problem before using brave on w7, this issue started last weak.

[2020-03-25 04:12] mbacchi opened #8848 "Attribution for Will Christiansen background image(s) link is broken"
The photo [Glacier Peak](https://images.squarespace-cdn.com/content/v1/57210e28d51cd4ec63a281b6/1487804158450-CH08RACT0ANGR79WSN5D/ke17ZwdGBToddI8pDm48kGPVK--wGoWXJsqwlxbZlQN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5enfxu_O4VeONvneR-F6W8oeFhFqSrYyNrfPB9Y70_gvQ/glacier_peak_3600px.jpg) came up and I clicked on the

[2020-03-25 04:48] johnmhm commented on #6717
The issue has returned on desktop. Please see attached gif for more detail:
![2020-03-25 05-38-43](https://user-images.githubusercontent.com/13797130/77502822-444a7b80-6e5c-11ea-9dd6-078eea52490f.gif)

[2020-03-25 05:14] ryanml opened #8849 "Binance NTP Widget should not be available for Japan or OFAC countries"
The widget should not appear on the NTP for users with a Japanese or an OFAC country locale.

[2020-03-25 06:26] NejcZdovc commented on #8691
@aleqx we have this tracking here https://github.com/brave/brave-browser/issues/8846

[2020-03-25 06:30] bsclifton opened #8850 "We should consider using a pinned depot_tools"
## Description
Recently, there have been a lot of breaking changes to depot_tools specifically breaking the cpplint script that we run. During the `npm run init` process, we just grab latest depot_tools which means we could have other breaking changes.

We should basically pin a SHA (maybe add to `brave-browser`'s package.json) that needs to be manually updated. It could be useful to have an `npm

[2020-03-25 07:23] btlechowski commented on #8841
Reproduced on Ubuntu

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/77511590-acf02300-6e71-11ea-8cd7-ef1f8532a86b.png)

[2020-03-25 07:28] btlechowski commented on #7609
Verification passed on

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4736
Verified for one time tip and monthly tip

[2020-03-25 07:51] srirambv opened #8851 "[Android] Update graphics on rewards page when rewards is turned off"
## Description
 Update graphics on rewards page when rewards is turned off

## Steps to reproduce

   1. Enable rewards and turn it off

## Actual result
![image](https://user-images.githubusercontent.com/17010094/77513479-1d5f6a00-6e9b-11ea-8783-7f3f36ee2191.png)

## Expected result
![image](https://user-images.githubusercontent.com/17010094/77513311-c35ea480-6e9a-11ea-8a79-6382d2be4e86.png)

##

[2020-03-25 07:52] srirambv commented on #8771
Verification passed on OnePlus 6T with Android 10 running 1.5.115. x64 stable build
- Verified rewards page has a `Monthly contribution` section
![image](https://user-images.githubusercontent.com/17010094/77513782-a676a100-6e9b-11ea-922e-839908bc7634.png)
- Verified monthly tip set to a publisher is added in the section under details view
- Verified able to remove monthly contribution set to a pub

[2020-03-25 08:18] ryanbr commented on #6717
Can you test in Brave Beta?

I just re-tested this: https://secure.fanboy.co.nz/gif/musicyoutube.gif (as of today)

[2020-03-25 08:35] NejcZdovc commented on #8844
@mandar-brave what should we do in this case? if we have one decimal place we will always have this rounding problems

[2020-03-25 08:46] ryanbr commented on #6717
Just for the record, this the error messages i'm getting: ![yt](https://user-images.githubusercontent.com/1659004/77518043-f24c3900-6ee1-11ea-8c07-47b553e28525.png)

[2020-03-25 08:53] NejcZdovc opened #8852 "Fix upgrade path for creds"
## Description

## Steps to Reproduce

   1. Have old profile with ad promotions
   2. Upgrade to the latest Nightly

## Actual result:

DB is not migrated

## Expected result:
DB should be migrated

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the bet

[2020-03-25 09:58] simonhong opened #8853 "Build deps issue - fatal error: 'brave/components/greaselion/browser/buildflags/buildflags.h' file not found"
[code]

[code]

[2020-03-25 09:59] iefremov opened #8854 "Implement search volume P3A metric"
**Question 1**:
_How many times did you search last week?_
(The omnibox input doesn't resolve and triggers a search)

**Answers**:
[code]

**Justification**:
The volume of search activity generated via Brave will help us identify the optimal search strategy for both product development and partnerships

[2020-03-25 10:00] iefremov commented on #8341
This shouldn't be closed since only Question2  was implemented in the linked PR. So moving Question 1 to https://github.com/brave/brave-browser/issues/8854

[2020-03-25 10:38] btlechowski commented on #4381
Verification passed on

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4537
Verified the `http` was upgraded to `https`
Verified page is secured

![image](https://user-images.githubusercontent.com/

[2020-03-25 10:58] btlechowski commented on #8231
Verification passed on

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from the description

Verified 1 site is shown in `Clear browsing data` under `Site and Shield Settings`
![image](https://user-images.githubusercontent.com/34715963/7752820

[2020-03-25 11:13] btlechowski commented on #4024
Verification passed on

Brave | 1.7.71 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4796
`brave://settings/extensions`
![image](https://user-images.githubusercontent.com/34715963/77530106-20edf380-6e91-11ea-92a

[2020-03-25 11:44] algiuxass commented on #464
If this is going to be done, I have idea of tabs using small amount of space but when you hover over it, it would show tab titles. Basically auto-hide.

[2020-03-25 11:59] LaurenWags commented on #8568
awesome, thanks @bsclifton 😄

[2020-03-25 13:53] johnmhm commented on #6717
Same behavior in Brave Beta with shields up. But with shields down the music still doesn't play, which 1.5 did fine.

![2020-03-25-14-47-28](https://user-images.githubusercontent.com/13797130/77543674-4fc39400-6ea8-11ea-93b3-1d65882cb5fc.gif)

I now realize that I wasn't logged in when testing Brave Beta. Let me know if you need me to test that scenario.

[2020-03-25 13:57] johnmhm commented on #6717
Also, I don't know anything about how the Youtube Music dev team works, but I guess it could be possible that they're serving different clients to different segments of users? A/B split testing, covert beta testing etc. Is there an easy and meaningful way to ensure we're running the same client when testing?

[2020-03-25 14:24] danishjalil2991 commented on #8805
It is taking me longer than I assumed to set up the Brave Repo and get everything running. Currently I am stuck with  'npm run init' command giving me an error. I am getting the following error stack trace, seems like it is failing to apply some patches. I am running it on Mac OS and I have followed all the build guidelines. My npm version is 6.13.4 and my node version is 12.6.1.

Done running gcl

[2020-03-25 14:37] jesse-troy commented on #7814
@rebron I do not see that icon at all in my URL bar. No idea why that is the case. I am using More Tools > Create Shortcut and then checking open as window.

I tried giving Brave full disk access and it has the same behavior.

When starting the shortcut/app it does seem to open for a fraction of a second and then it closes.

[2020-03-25 14:49] #8852 closed

[2020-03-25 14:49] #8828 closed

[2020-03-25 14:58] oky2abbas commented on #2759
After a long time I reinstalled Brave.
Version 1.5 optimizes and performs **better than other brave browsers (like Firefox, Google Chrome, etc.).**

It is actually very optimized and performs exceptionally well. (`good job`)

**thanks @)***

[2020-03-25 15:09] pilgrim-brave opened #8855 "Stop blocking: Canvas.{getLineDash,isPointInPath,isPointInStroke,measureText}"
see https://github.com/brave/brave-browser/issues/8787

[2020-03-25 15:09] rebron opened #8856 "Add transition animation when selecting a widget"
## Description
Add transition animation when selecting a widget from the widget stack to clearly show the change in widget selection.

CSS3 space down animation
See: https://share.goabstract.com/3a8360be-1b3a-4031-928f-d3b2fe40e8f0

## Steps to Reproduce

   1. Go to the new tab page brave://newtab
   2. Ensure two widgets are open: Brave Rewards and Binance.
   3. Select Binance or Brave Rewards.

[2020-03-25 15:23] rebron opened #8857 "clock widget shouldn't shift when showing/hiding Brave Rewards widget"
## Description
Hiding the Brave Rewards widget shifts the clock widget right. Showing the Brave Rewards widget centers the clock to the Brave Rewards widget.

Clock should not shift.

## Steps to Reproduce

   1. Go to brave://newtab
   2. Toggle Show/Hide Brave Rewards widget
   3. Notice clock shifts when Brave Rewards widget is toggled.

## Actual result:
<img width="1283" alt="Screen Shot 2020

[2020-03-25 15:24] rebron commented on #8857
cc: @karenkliu

[2020-03-25 15:34] pilgrim-brave opened #8858 "Stop blocking: SVG.{getTotalLength, getComputedTextLength}"
see https://github.com/brave/brave-browser/issues/8787

[2020-03-25 15:36] rebron commented on #7814
@jesse-troy The icon will show in the url bar for some sites that are setup to be a progressive web app, pwa such as Twitter twitter.com/home or Google Photos for example. It'll be an install icon and then change to a launch icon when visiting the site again.

<img width="371" alt="Screen Shot 2020-03-25 at 8 31 24 AM" src="https://user-images.githubusercontent.com/5951041/77554254-13c20c00-6e73-1

[2020-03-25 15:39] Spacesurfer commented on #1000
Bi-weekly comment showing interest in Brave become available through a Flatpak install and integration within Flathub.

Just an FYI, that pesky Gecko based browser is to have a stable build available through Flathub in April ;)

[2020-03-25 16:02] #7621 closed

[2020-03-25 16:02] #7622 closed

[2020-03-25 16:54] #8841 closed

[2020-03-25 16:54] #8837 closed

[2020-03-25 17:16] crazy-max commented on #8743
@mbacchi As @LazyZhu rightly says, these installers are also available from Google for Chrome. For me this is the responsibility of the user. I find it very radical and regressive that your team simply prefers to remove these artifacts.

[2020-03-25 17:37] bsclifton commented on #8743
@mbacchi could we re-add these with a name that makes it obvious it shouldn't be used by regular users? and/or update the text that gets automatically put onto the release page? Could be something like `Brave-Browser-Win32.7z` (rather than uploading the `.exe` ending)

[2020-03-25 17:38] bsclifton commented on #8743
re-opening as examples have been provided where the files are provided

[2020-03-25 17:43] rebron commented on #2759
Closing per last comment. Thanks for trying again @oky2abbas

[2020-03-25 17:43] #2759 closed

[2020-03-25 17:48] mihaiplesa commented on #8743
@crazy-max working on a fix for you now.

[2020-03-25 18:00] akash07k commented on #8743
Thanks in advance for the willingness to provide the fix.

[2020-03-25 18:22] mihaiplesa commented on #8743
Here goes:

https://brave-browser-downloads.s3.brave.com/latest/brave_installer-x64.exe
https://brave-browser-downloads.s3.brave.com/latest/brave_installer-ia32.exe

These will always be the latest stable version.

@crazy-max thanks for your work on the portable version and if you're interested in verifying your GitHub profile at https://creators.brave.com/ you can ear BAT tips from the community.

[2020-03-25 18:29] crazy-max commented on #8743
@mihaiplesa Great! Thanks a lot!

[2020-03-25 18:37] outforpublic commented on #8795
Is this reproducible in Chrome/Chromium?

[2020-03-25 18:57] #8743 closed

[2020-03-25 19:01] #8855 closed

[2020-03-25 19:21] kjozwiak commented on #8824
I've been running into something similar but it usually happens when I leave a TY tab idling in another tab for an extended period of time. Also happens when I restart the browser and my session loads with several YT tabs that have been left opened. When I switch over, I run into the same error. Refreshing the tab usually works.

@debiasi @scottrbaxter when you run into the above, does refreshing

[2020-03-25 19:30] ya-d commented on #8117
I can confirm this still happens in current versions and for *any* PWA. See several reports over at #5842.

Version 1.5.115 Chromium: 80.0.3987.149 (Official Build) (64-bit)
MacOS 10.15.3

[2020-03-25 19:46] scottrbaxter commented on #8824
@kjozwiak that was not my experience, however your message does look related to the original post, and mine feels like a red herring at this point. I also confirmed with another that has been experiencing your same issue for the past few days. Here's their `chrome://version`

[code]

I feel this issue is upstream, sadly i'm not experiencing it myself, so not sure how to reproduce it.

[2020-03-25 19:51] bsclifton commented on #8855
Updated this issue and PR (https://github.com/brave/brave-core/pull/5062) to have 1.8 milestone

@pilgrim-brave is QA required for this? If so, do you mind updating your top post here to have a basic test plan (and then adding label `QA/Yes`). Thanks 😄

[2020-03-25 19:52] LaurenWags commented on #5726
Verified passed with

Brave | 1.7.73 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4282
<img width="425" alt="Screen Shot 2020-03-25 at 3 45 52 PM" src="https://user-images.githubuserconte

[2020-03-25 19:56] LaurenWags commented on #8831
Verified passed with

Brave | 1.7.73 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified STR from description
* Confirmed after getting the NTP image from thumbnail and clicking on the photographer's name I am directed to https://bklandscapes.com/
<i

[2020-03-25 20:00] kjozwiak commented on #8824
@scottrbaxter assuming it's upstream as well or a general issue with YT right now. Appreciate the information though! We'll keep an eye on this in case it gets worse but we've been seeing more reports. I'm going to logout/login out of my Gmail/Google accounts to see if it's possible related to some type of session issue on their end.

[2020-03-25 20:03] LaurenWags commented on #8617
Verified passed using

Brave | 1.7.73 Chromium: 80.0.3987.149 (Official Build) dev (64-bit)
-- | --
Revision | 5f4eb224680e5d7dca88504586e9fd951840cac6-refs/branch-heads/3987_137@{#16}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-core/pull/4890
<img width="907" alt="Screen Shot 2020-03-25 at 3 58 52 PM" src="https://user-images.githubusercont

[2020-03-25 20:10] rebron commented on #8824
Maybe related to Youtube reducing their streaming quality, first in Europe and now globally due to the spike in usage. I was able to view this video fine: `https://www.youtube.com/watch?v=7TcCIcE1hr8` with shields up in 1.5.115 in logged in state.

[2020-03-25 20:14] kjozwiak commented on #8824
This error happens intermittently. Videos work fine for me as well but you'll get that error when switching to a video that has been paused for a while or a tab that's lazy loaded. Seems some uers hit it more often. Could definitely be related to traffic/performance issues with YT.

[2020-03-25 20:28] jeggy opened #8859 "Send tips button gone"
## Description

I can't figure out how to send tips to a websites anymore.

I remember some time ago I just pressed the brave triangle icon in the url bar and there was a big "Send tip" button, but it's gone now.

![image](https://user-images.githubusercontent.com/51459/77582226-f45cca80-6ed6-11ea-84ef-c0f904f67f72.png)

## Brave version (brave://version info)

Brave | 1.0.0 Chromium: 78.0.3904.97

[2020-03-25 20:32] rebron commented on #8859
@jeggy Can we get you to update to 1.5.115 and see if it's still a problem? https://www.brave.com/download

[2020-03-25 20:39] jeggy commented on #8859
I just thought it was auto updating itself as there has been times it asked me to restart the browser to install updates.

Anyway this worked, thanks 😃

[2020-03-25 20:39] #8859 closed

[2020-03-25 20:56] igaul opened #8860 "Constant cryptocompare and infura calls"
## Description

Appears that after Brave updated yesterday (24/3/20), it began making many calls to mainnet-infura (every 2 seconds when fails, varying intervals otherwise) and cryptocompare (every 3 minutes). I have never used wallet or any crypto currency features (on this machine).

Only similar issue I could find was on
[Reddit/brave_browser](https://www.reddit.com/r/brave_browser/comments/f3e

[2020-03-25 21:10] ryanbr commented on #6717
What is the error messages in the console @johnmhm ?

[2020-03-25 21:15] kjozwiak commented on #8706
@Twiggeh next time you run into the a webview crash, mind checking `brave://crashes` and sharing the the `Crash Report ID` with us? Should look similar to the following example:

<img width="839" alt="Screen Shot 2020-03-25 at 5 15 08 PM" src="https://user-images.githubusercontent.com/2602313/77586265-43493680-6ebc-11ea-95cc-5a2ec09dfe4b.png">

[2020-03-25 21:16] yrliou opened #8861 "Error when clicking any products on burton.com"
## Description
When cross-site trackers blocked switch is on, cannot visit any product page on burton.com, fixed when the switch is off.

## Steps to Reproduce

   1. Visit burton.com
   2. Go to its shop and click any product

## Actual result:
<img width="1283" alt="Screen Shot 2020-03-25 at 2 10 54 PM" src="https://user-images.githubusercontent.com/4730197/77586171-f2791400-6ea2-11ea-86a3-795da

[2020-03-25 21:26] bsclifton commented on #8853
@simonhong is this intermittent?

[2020-03-25 21:26] Huuuze commented on #8824
A redditor may have [solved this issue](https://www.reddit.com/r/brave_browser/comments/fno7hn/cant_watch_embedded_youtube_videos_anymore/flapagt/). It's a bug with uBlock Origin, not Brave.

[2020-03-25 21:29] johnmhm commented on #6717
`Access to XMLHttpRequest at 'https://www.youtube.com/get_video_info?html5=1&video_id=tNideOigKaI&cpn=FzYhfpVnLpFXpQPw&eurl&el=detailpage&hl=en_GB&list=RDMMlpExvx7pbuI&sts=18346&lact=6786&c=WEB_REMIX&cver=0.1&cplayer=UNIPLAYER&itct=CGkQyCAYASITCOHD1YvItugCFQ5NmwodHPMC6jIDQkZhSKGY74iFgK_bygE%3D&autoplay=1&autonav=1&playerretry=1' from origin 'https://music.youtube.com' has been blocked by CORS poli

[2020-03-25 21:35] johnmhm commented on #6717
Just tested again through a VPN, and everything works as before. Apparently Youtube thinks I listen to too much music :(

Sorry I didn't catch this earlier, and thanks for the help @ryanbr

[2020-03-25 21:36] andersmmg commented on #3650
+1 for me, on latest

[2020-03-25 21:36] ryanbr commented on #6717
Does it still fail when you're not using a VPN? or which country/location is failing?

[2020-03-25 21:38] btlechowski opened #8862 "Netflix does not work due to Widevine Content Decryption Module error in brave://components"
Follow up to https://github.com/brave/brave-browser/issues/4646

We do not recover gracefully when `Widevine Content Decryption Module` fails to download.
Browser needs to be restarted to trigger the update.

## Steps to Reproduce

   1. Clean profile
   2. Navigate to netflix.com and login.
   3. Make `Widevine Content Decryption Module` fail to download (TODO: Determine how)
   4. Open `brave://

[2020-03-25 21:39] mstrcrz commented on #8117
Check out brave://version for a copy/paste table like above  :)

[2020-03-25 21:43] ya-d commented on #8117
Not quite as clean. Thats what I get:

[code]

[2020-03-25 21:46] bridiver opened #8864 "macos crash reports are missing channel"
## Description
Crash reports for beta, dev and nightly should have a channel

## Steps to Reproduce
   1.  using a non-release channel go to `brave://crash`
   2. go to `brave://crashes` and make sure that the crash has been sent
   3. check backtrace for the crash id metadata

## Actual result:
No channel value exists

## Expected result:
channel is correctly populated

## Reproduces how often:
a

[2020-03-25 21:48] bridiver opened #8865 "crash reports contain guid and env"
## Description
Crash reports contain a guid and env info

## Steps to Reproduce

   1.  go to `brave://crash`
   2. go to `brave://crashes` and ensure the crash has been sent
   3. lookup the crash id on backtrace

## Actual result:
unique guid is present
env vars are also stripped by backtrace so this can't be verified directly through the UI, but we are definitely sending them

## Expected resul

[2020-03-25 21:57] ryanbr commented on #6717
We did roll out fixes recently, could be related to the fact the browser hasn't updated them yet

https://github.com/easylist/easylist/commit/a621dca8b2a0521b6b51c215ab6a0b27a8351522

[2020-03-25 23:11] someaddons commented on #598
Wondering that sth this vital takes over two years.

[2020-03-25 23:46] kjozwiak commented on #8860
@ryanml mind taking a look whenever you have some time? CCing @bbondy @srirambv

[2020-03-25 23:51] kjozwiak commented on #8862
Example of the issue occurring on my Win 10 x64 machine. I can reproduce this about ~80% of the time on my machine. Refreshing/re-opening Netflix in a new tab doesn't do anything either. As @btlechowski mentioned, it requires a restart to recover most of the time.

![netflixWin](https://user-images.githubusercontent.com/2602313/77570200-c0b37d80-6ea1-11ea-8f39-c178e42d93e8.gif)

[2020-03-26 00:03] kjozwiak opened #8866 "can't play videos under www.much.com with default shield settings"
## Description

When attempting to play videos under https://www.much.com using the default shields settings, you'll get an error indicating that the current content can't be viewed in the current browser and suggests using a supported browser.

End users might think that Brave is not as good as others because it's not a "supported" browser which isn't true.

## Steps to Reproduce

   1. visit htt

[2020-03-26 01:15] krimnassim commented on #8795
yes same issue on chrome and chromium i tested other browsers to, only fire fox is working i dont know why

[2020-03-26 01:33] #7974 closed

[2020-03-26 02:41] simonhong commented on #8853
@bsclifton I think so. @mihaiplesa found this failure in the CI one time.
But, it can happen again anytime.

[2020-03-26 03:55] johnmhm commented on #6717
It still fails without VPN.

With VPN I don't get any Error 429 messages (Too many connections).

[2020-03-26 04:45] simonhong opened #8867 "Empty new tab page"
After updating to  `1.8.42` nightly, NTP rendered nothing like below.

<img width="824" alt="Screen Shot 2020-03-26 at 12 36 23 PM" src="https://user-images.githubusercontent.com/6786187/77611114-da1efd00-6f67-11ea-8d48-1120e04d4aa2.png">
<img width="559" alt="Screen Shot 2020-03-26 at 12 38 25 PM" src="https://user-images.githubusercontent.com/6786187/77611119-dc815700-6f67-11ea-943c-5c53dc3dc63d

[2020-03-26 05:55] #8667 closed

[2020-03-26 06:22] #7403 closed

[2020-03-26 07:26] #8812 closed

[2020-03-26 08:42] srirambv commented on #8827
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 stable build
- Verified no download history under basic tab
![image](https://user-images.githubusercontent.com/17010094/77626327-31729c80-6f6b-11ea-89bc-4be80f255b28.png)
- Verified no download history under advanced tab
![image](https://user-images.githubusercontent.com/17010094/77626423-59fa9680-6f6b-11ea-8972-24ff62438a03.png

[2020-03-26 08:45] Nuc1eoN commented on #7268
Currently no severe freezes in Brave for me.

However sync is obviously disabled, as well as HW accelaration since it was causing video issues for me, see #7706

[2020-03-26 08:50] Nuc1eoN commented on #8679
This is funny because for me it is exactly the other way around.

With HW acceleration enabled I can watch VP9 videos, but h264 video content is severely broken #7706

It is true that Chromium with enabled HW accel has no issues, so it is Brave specific.

[2020-03-26 08:59] srirambv commented on #8832
Verification passed on OnePlus 6T with Android 10 x64 stable build
- Verified no autofill dialog shown during checkout process
![image](https://user-images.githubusercontent.com/17010094/77627995-bb236980-6f6d-11ea-9da5-ec8914da6cff.png)
-----------
Verification passed on Samsung Tab A with Android 9.0 x64 stable build
- Verified no autofill dialog shown during checkout process
![image](https://us

[2020-03-26 09:26] srirambv commented on #8737
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 build
- Verified on upgrade from 1.5.9 to 1.5.117 still allows to download files without showing SD card error message
- Verified on clean install there is no SD card error shown while downloading images
- Verified able to download all file formats without any issues
----------
Verification passed on Samsung Tab A  with Android

[2020-03-26 09:53] Bj007pro opened #8868 "Brave Shows a 404 Error Message on Any of The Cloudflare DDoS Protection Page."
## Description

Brave shows a 404 error message on any of the Cloudflare DDoS Protection page.

## Steps to Reproduce

   1. Go to a website that use Cloudflare's DDoS Protection
   2. Brave's 404 Error Message should show.

## Actual result:

I assume for the 404 message to not show at all.

## Expected result:

For the 404 Error message to not show on Cloudflare's DDoS Protection page because it

[2020-03-26 09:54] Tectract opened #8869 "Brave community banned me because I brought up an AI ethics issue they didn't want to talk about"
A Brave community admin has banned my account on the Brave community since I brought up some issues they apparently didn't like, regarding notification systems like i18n and "red dot" warning systems, and how I said that it is unethical to make humans interact with robotic systems.

They instantly dismissed my discussion about AI ethics and then banned my account for even bringing up the topic, an

[2020-03-26 10:00] #8867 closed

[2020-03-26 10:05] Tectract commented on #8869
Making humans interact with AI, without their consent, is a form of abuse.

[2020-03-26 10:51] saahriktu opened #8870 "brave://settings/clearBrowserData doesn't automatically shows up requested dialog"
The behavior of the history cleanup dialog has changed (noticed in GNU/Linux).

In the versions newer than 1.8.30 brave://settings/clearBrowserData just shows brave://settings/ with some difference: requested cleanup dialog shows up only after clicking on the "Advanced Settings" button (which has nothing to do with history cleaning) at the end of the page.

[2020-03-26 11:43] srirambv commented on #8768
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 stable build
- Verified both scenarios from issue description
- Verified SE setting is retained on upgrade
-------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.117 x64 stable build
- Verified both scenarios from issue description
- Verified SE setting is retained on upgrade
-------

[2020-03-26 12:25] GeetaSarvadnya commented on #8778
Enable Background video playback in 1.5.9 and then upgrade to 1.5.117 leads to the bottom toolbar toggled off (toolbar displays at the top) and the `Enable Background video playback` option becomes disabled in 1.5.177

[2020-03-26 12:29] LaurenWags commented on #8777
Verification passed on Asus Zenfone (x86) with Android 6.0 running 1.5.117 BraveModernx86.apk
- Clean install of above build, no NTP SI shown (cycled through 15+ new tabs)
- Confirmed no setting for NTP SI in Settings > Display > New Tab Page
- Confirmed toggling show background images off/relaunch/on/relaunch does not show NTP SI or setting.
- Installed 1.5.9 (tabs version) and upgraded to above

[2020-03-26 12:36] AlexeyBarabash commented on #8740
Done two attempts on both versions 1.5.111 (current beta in GP) and 1.8.42 (current master build) on Android 9 x86 emulator - cannot reproduce this issue.

@LaurenWags which version of Android is installed on your x86 device?

[2020-03-26 12:45] GeetaSarvadnya opened #8871 "[Android] Background video playback settings are reset to default after upgrade"
## Description

Background video playback settings are reset to default after upgrade

## Steps to reproduce

   1. Clean profile 1.5.9
   2. Go to settings and enable background video playback option
   3. Remove the app from memory
   4. Upgrade to 1.5.117
   5. Navigate to settings and observe that the background video playback option is `disabled`

Note:  After upgrade, if I play any YT video

[2020-03-26 12:48] LaurenWags commented on #8778
seeing the same as @GeetaSarvadnya from https://github.com/brave/brave-browser/issues/8778#issuecomment-604400797 on my x86 (Android 6) device.

[2020-03-26 12:50] LaurenWags commented on #8786
Marked as `QA/Blocked` on https://github.com/brave/brave-browser/issues/8871

[2020-03-26 13:42] srirambv commented on #8778
Issue doesn't reproduce on Samsung Tab A with Andriod 9.0 or OnePlus 6t with Android 10. Looks to be an issue with lower end devices

[2020-03-26 13:47] luminoso commented on #8679
@Nuc1eoN can you share some system details? Which GPU do you have? what does `vainfo` return?

[2020-03-26 13:58] LaurenWags commented on #8740
@AlexeyBarabash - Android 6

[2020-03-26 14:48] AlexeyBarabash commented on #8740
Thanks @LaurenWags
I could not reproduce it with Android 6 emulator, because emulator crashed once it tried to use the camera to scan QR code, but I could reproduce it with Android 5 emulator.

[2020-03-26 15:04] Emiliasanders commented on #8842
The problem is reproduced on my end too on the latest brave stable version on windows.

[2020-03-26 15:22] rebron commented on #8842
Hi @Emiliasanders and @ShockRocky.
If you toggle `Allow Google login buttons on third party sites` from `brave://settings/socialBlocking`, that listing for Google accounts will go away.
<img width="696" alt="Screen Shot 2020-03-26 at 8 15 10 AM" src="https://user-images.githubusercontent.com/5951041/77663856-c27d4f80-6f3a-11ea-96ea-8961400e8209.png">

Related:
https://github.com/brave/brave-core/p

[2020-03-26 15:30] srirambv commented on #8284
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 build
- Verified test plan from #7763
- Verified claiming multiple grants via panel works fine
![image](https://user-images.githubusercontent.com/17010094/77664879-d8275f00-6fa4-11ea-9981-23a77881f2bb.png)
- Verified claiming multiple grants via rewards page works fine
![image](https://user-images.githubusercontent.com/17010094/

[2020-03-26 15:32] srirambv commented on #8612
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 stable build
- Verified able to claim UGP grants via rewards page
- Verified able to claim ad grants via rewards page
---------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.117 x64 stable build
- Verified able to claim UGP grants via rewards page
- Verified able to claim ad grants via rewards page
---------

[2020-03-26 15:34] srirambv commented on #8283
Verification passed on OnePlus 6T with Andriod 10 running 1.5.117 x64 stable build
- Verified able to close all notification one by one
- Verified once notifications are closed panel doesn't show it again until BR panel is closed and reopened
--------
Verification passed on Samsung Tab A with Andriod 9.0 running 1.5.117 x64 stable build
- Verified able to close all notification one by one
- Verifi

[2020-03-26 15:35] srirambv commented on #8367
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 stable build
- Verified able to claim UGP grants via rewards page
- Verified able to claim Ads grant via rewards page
--------
Verification passed on Samsung Tab A with Android 10 running 1.5.117 x64 stable build
- Verified able to claim UGP grants via rewards page
- Verified able to claim Ads grant via rewards page
--------

[2020-03-26 16:00] srirambv commented on #8259
Verification passed on OnePlus 6T with Andriod 10 running 1.5.117 x64 stable build
- Verified able claim UGP and Ads grant both via BR panel and rewards page
- Verified no setting for content level tipping
![image](https://user-images.githubusercontent.com/17010094/77667841-b7f99f00-6fa8-11ea-8453-d3c1a9732a59.png)
- Verified rewards page has a separate section for monthly contributions(tips)
![im

[2020-03-26 16:07] srirambv opened #8872 "[Android] Rewards Settings is not visible when grants dropdown is expanded and has multiple entries"
## Description
Rewards Settings is not visible when grants is expanded and has multiple entries

## Steps to reproduce

   1. Claim a few ad grants and UGP grant
   2. Open BR panel and expand the grants dropdown
   3. Settings button is not visible

## Actual result
![image](https://user-images.githubusercontent.com/17010094/77668739-cf855780-6fa9-11ea-98af-a334a6c5e17c.png)

## Expected result
S

[2020-03-26 16:11] Nuc1eoN commented on #8679
[code]
I do not have the new `chromium-vaapi` though (ArchLinux) if you are referring to that. Do I need it?

[2020-03-26 16:20] samartnik opened #8873 "[Android] Fix bat points text for jp locale"
## Description
![Screenshot from 2020-03-26 12-19-04](https://user-images.githubusercontent.com/30602739/77670060-0b91cb80-6f5c-11ea-94f3-7dbe2be852eb.png)
For grants instead of `bat` should be `bat points`

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device

[2020-03-26 16:29] AlexeyBarabash commented on #8740
I could reproduce this on arm Android 9 physical device.
The tricky step is
8.5 Don't wait until deleted folder  would be on desktop, to to step 9 immediately.

[2020-03-26 16:37] bsclifton commented on #8829
pretty sure this is related to the `Bat Ledger Service`- going to close this as a duplicate of https://github.com/brave/brave-browser/issues/8846

[2020-03-26 16:37] #8829 closed

[2020-03-26 16:46] dunca opened #8874 ""Back" button icon is not centered"
## Description

## Steps to Reproduce
   1. Open Brave
   2. Navigate to any web page
   3. Hover over the "Back" button using your mouse

## Actual result:
The "Back" button icon is not centered inside the button

## Expected result:
The "Back" button icon is centered inside the button

## Reproduces how often:
Always

## Brave version (brave://version info)
1.5.115 Chromium: 80.0.3987.149 (Offic

[2020-03-26 17:28] GeetaSarvadnya opened #8875 "[Android] Follow up of #8259 - Restore All is overlapping on Auto-contribute text"
## Description
Follow up of #8259 - Restore All is overlapping on Auto-contribute text

## Steps to reproduce

   1. Launch brave with staging flag
   2. Enable rewards and claim grants
   3. Add 4 sites in A-C table
   4. Exclude 3 sites by clicking on the trash icon
   5. Open Auto-Contribute advanced settings dialog
   6. Click on Sites Excluded menu
   7. `Restore All` is overlapping on `Auto-

[2020-03-26 17:53] kjozwiak commented on #8870
* `1.5.115 CR: 80.0.3987.149 (Official Build) (64-bit)` - Can't reproduce
* `1.7.73 CR: 80.0.3987.149 (Official Build) dev` - Can't reproduce
* `1.8.32 CR: 81.0.4044.69 (Official Build) nightly` - Reproduced

Looks like this is only affecting Nightly and not the other channels. Checked on `macOS 10.15.3 x64 Catalina`. @mkarolin checked Windows and confirmed the above as well.

STR for QA:

**`Case

[2020-03-26 17:56] bsclifton commented on #8870
Great find with `1.8.30`, @saahriktu! 😄 `1.8.31` was the first version of Nightly where we landed Chromium 81, which helps narrow down where the problem is 👍 We'll look into and find out what happened

[2020-03-26 18:08] #8873 closed

[2020-03-26 18:21] bsclifton commented on #8870
@mkarolin has found the following:
1. Navigate to brave://settings/clearBrowserData
2. Nothing happens (clear modal should come up)
3. Click advanced on the side menu (left)
4. Modal all of the sudden pops up

I suspect it's related to https://github.com/brave/brave-core/commit/9d2f803f091caa2994e3ba28862cc6c4dbbef507#diff-166e28418b661667403b64249ce36c3a and how `Privacy` was moved under `Advance

[2020-03-26 18:55] jumde opened #8876 "Add BAT payment instrument to the desktop browser"

[2020-03-26 18:59] kjozwiak commented on #8862
Seems like I might have been running into a connectivity issue when attempting to download the Widevine component for the first time on a new profile. I tried the same test case last night ~11pm EST and it worked fine without any issues. I tried it 10 times and didn't run into any of the above.

We should look into a way of retrying the component download if it fails on the first attempt on a new

[2020-03-26 19:38] Twiggeh commented on #8706
@kjozwiak "aww snap" error doesn't generate a crash report ...

[2020-03-26 19:41] jasonkolodziej opened #8877 "[Issue] : Chrome App Issue - Zoom.us"
## Description
When adding the zoom.us application to Brave from chrome web store `https://chrome.google.com/webstore/detail/zoom/hmbjbjdpkobdjplfobhljndfdfdipjhg?hl=en-US`
The application installs fine. However, there must be a setting or flag with in brave that is prohibiting the ability to sign in to any zoom.us account. Signing into this application works just fine with Google Chrome.

## Step

[2020-03-26 20:00] Twiggeh commented on #8706
@outforpublic nightly has the same issue ...
It seems all javascripty things have crashing issues - discord client crashes on screenshare and on voicecalls, video playback in the embedded player also crashes the client. The webpage version is much more stable, but still crashes.
Discord's server for bugreports doesn't work and those discord crashes also do not produce any kind of logs. Only in xfc

[2020-03-26 20:05] mkarolin opened #8878 "Upgrade from Chromium 81.0.4044.62 to Chromium 81.0.4044.83"
QA tests:
Testing can be rolled into the testing of #8308.

[2020-03-26 20:27] samartnik opened #8880 "[Android] Migrate ref code from tabs to core"
Add ref code to migration process.
Steps for QA on how to check will be discussed on slack.

[2020-03-26 20:31] #8668 closed

[2020-03-26 20:46] LaurenWags commented on #930
marking as `QA/Blocked` until https://github.com/brave/brave-browser/issues/8828 is uplifted to 1.7.x

[2020-03-26 21:59] bsclifton opened #8881 "`TipConnectedPublisherAnonAndConnected` browser test intermittently times out"
## Description
Currently, master has intermittent failures for `BraveRewardsBrowserTest.TipConnectedPublisherAnonAndConnected`. All other browser tests seem to work fine- but as a reviewer we need to either make a call:
1. Replay and hope that tests run fine 2nd time
2. Ignore that test

## Steps to Reproduce

   1. Have a pull request against master
   2. Check PR builder

## Actual result:
Somet

[2020-03-26 22:13] m-henderson opened #8882 "[Desktop] Browser History Search & Delete Icon Overlap"
## Description

The delete button and search icon UI elements within the history screen are overlapping on smaller screens.

## Steps to Reproduce

   1.  Open Brave browser.
   2.  Go to browsing history
   3.  Put a checkmark in one of the boxes of the browsing history:
![image](https://user-images.githubusercontent.com/16070192/77701399-2f690780-6f84-11ea-9d62-456f0454543b.png)

  4. Resize the

[2020-03-26 22:38] aquaspy commented on #8829
@bsclifton  yes, it was Bat ledger service. Thanks for fast reply. Keep the good work!

[2020-03-26 22:50] madhums commented on #4509
Looking at the label "needs design" and title of the issue "blank page" do we really need a design? I'd say there should be an option to simply use the OS color scheme (dark or light) OR perhaps a hex input to provide a color for page bg.

[2020-03-26 23:54] karenkliu commented on #4509
is this a dupe of https://github.com/brave/brave-browser/issues/2999 ?

[2020-03-27 00:28] a-bronx commented on #8154
The [corresponding issue]([url](https://bugs.chromium.org/p/chromium/issues/detail?id=1038507&q=SeProfileSingleProcessPrivilege&can=1)) in the Chromium tracker is closed as "WontFix". Quoting the investigation result here:

The source of SeProfileSingleProcessPrivilege is from ProcessMemoryDump::CountResidentBytes which calls the Windows API QueryWorkingSetEx. This is getting called quite a lot to

[2020-03-27 01:07] karenkliu opened #8883 "Reduce flicker on the New Tab Page caused by dark widget overlays and make widgets in widget stack easier to hide"
## Description
Currently, hovering over the widgets on the New Tab Page creates a distracting flickering effect:

![widget overlay flickers](https://user-images.githubusercontent.com/2388823/77709213-950ac300-6f87-11ea-8841-0332cf253ee2.gif)

## Designs
Reduce the flickering effect by updating the hover interaction on widgets.

For Brave Stats, Top sites, and Clock:
1. When the user hovers over wi

[2020-03-27 01:09] #8864 closed

[2020-03-27 01:34] #8870 closed

[2020-03-27 02:01] simonhong opened #8884 "Remove "//components/password_manager dependency from chrome importer"
Chrome importer is used in utility process and utility process should not depends on `browser` targeted module. We should convert that over to mojo or something.

[2020-03-27 02:50] abh-oss01 commented on #2400
@bridiver Yes, to achieve fine grain control over what gets deleted, we would've liked clearing cookies, site settings, and js leftovers, but **not** the shield settings.
That was the whole point of the issue.

[2020-03-27 02:52] gingiginger commented on #8869
ok boomer

[2020-03-27 02:56] Tectract commented on #8869
AI ethics is funny, to ignorant little children.

[2020-03-27 02:57] gingiginger commented on #8869
I seriously don't understand your issue dude, are you complaining because a bot deactivated your account?

[2020-03-27 03:02] Tectract commented on #8869
Sorry you can't read. Please leave this conversation if you have nothing to add but insults.

There should be no "bots" that interact with humans, unless those humans ask for the bots to interact with them. "Discobot" is unethical, and it's a form of abuse. I shouldn't have to ignore it. It shouldn't be there, in the first place.

Instead of saying "OK, your opinion is noted", the mods insta-close

[2020-03-27 03:02] gingiginger commented on #8869
Well, there's a simple solution. Don't use the internet

[2020-03-27 03:03] Tectract commented on #8869
You shouldn't be in this thread. You are contributing nothing but insults.

[2020-03-27 03:03] gingiginger commented on #8869
Cool

[2020-03-27 03:03] gingiginger commented on #8869
'tis a throwaway account any daddy <3

[2020-03-27 03:05] Tectract commented on #8869
I have reported your account to Github admins, Gingiginger. You are a new account with no repos or code contributions who appears to have come to github only to insult and abuse other users.

[2020-03-27 03:06] Tectract commented on #8869
Mods, please remove Gingigingers comments in this thread.

[2020-03-27 03:07] gingiginger commented on #8869
oh.. no.. you reported me? what am I going to do.

Also on a real note. I have no idea how anyone can fathom that humans interacting with AI is any sort of "abuse", like dude fr, what is your deal with that. I didn't mean to troll in the beginning but that really got me. I honestly want to know your answer to that.

[2020-03-27 03:07] Tectract commented on #8869
Mods, please remove Gingigingers comments in this thread.

[2020-03-27 03:08] gingiginger commented on #8869
Mods pls do so, Tectract is correct. I need my comments removed.

[2020-03-27 03:08] Tectract commented on #8869
Mods, please remove Gingigingers comments in this thread.

[2020-03-27 03:09] gingiginger commented on #8869
dude I'm agreeing with you <3

[2020-03-27 03:16] smac89 commented on #8869
If you include a link to the forum thread where this happened, that would be helpful for others to see what the problem was

[2020-03-27 03:43] Tectract commented on #8869
I reached out directly to the Brave team management through LinkedIn about this issue. Thanks.

[2020-03-27 05:55] srirambv commented on #8786
This works fine on OnePlus 6T with Android 10 running 1.5.117 x64 stable build
- Verified steps from issue description and no crash when playing YT video

[2020-03-27 07:13] srirambv commented on #8875
Moving to 1.7.x release as this is not critical for this release

[2020-03-27 08:18] mihaiplesa commented on #2221
Re-opening to create secondary channels suffixed with `-full` and server updates to them so they come back to the regular channel. https://github.com/brave/devops/issues/1957 can provide some info.

[2020-03-27 08:22] iamzubin commented on #8763
For Linux I guess CONTROL+SHIFT+S should be fine.

[2020-03-27 08:34] Emiliasanders commented on #8842
Thanks rebron, the issue seems fixed on my end when I tried the workaround.

[2020-03-27 08:42] NejcZdovc opened #8885 "Move all conversion in one util"
Right now we have a lot of conversion in different files. Would be good to move them all in one file under common folder so that we can remove potential duplicates.

Examples: `ConvertResultIntoContributionStep`, `ConvertRewardTypeToString`, etc.

[2020-03-27 08:46] srirambv opened #8886 "[Android] No entry for chrome://rewards/ and chrome://rewards-internals/ under chrome://chrome-urls"
## Description
 No entry for chrome://rewards/ and chrome://rewards-internals/ under  chrome://chrome-urls

## Steps to reproduce

   1. Open chrome://chrome-urls
   2. No entry for chrome://rewards/ and chrome://rewards-internals/

## Actual result
 No entry for chrome://rewards/ and chrome://rewards-internals/

## Expected result
Have an entry for chrome://rewards/ and chrome://rewards-internals

[2020-03-27 08:54] AlexeyBarabash commented on #8358
After merging https://github.com/brave/brave-core/pull/4940 , we found the fix does not work for 2 of 3 of @fmarier devices, so re-opening

[2020-03-27 09:14] NejcZdovc opened #8887 "Reserve tokens"
Right now two contribution could use same tokens as we don't marked them as reserved or in progress.

[2020-03-27 09:59] srirambv commented on #8816
Verification passed on OnePlus 6T with Android 10 running 1.5.117 x64 stable build
- Verified on both  clean install and upgrade
![image](https://user-images.githubusercontent.com/17010094/77744511-b9c27180-703f-11ea-9770-cafad737575a.png)
------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.117 x64 stable build
- Verified on both  clean install and upgrade
![image](https://use

[2020-03-27 10:40] srirambv commented on #8541
Verification passed on OnePlus 6T with Android 10 x64 stable build
- Verified BAP/BAT Points shows for Japanese install (Needs a  double check after #8873)
- Verified AC notification doesn't show 0.0 BAT
- Verified AC shows proper amount for contribution
-------
Verification passed on Samsung Tab A with Android 9.0 x64 stable build
- Verified BAP/BAT Points shows for Japanese install (Needs a  dou

[2020-03-27 12:05] m-henderson commented on #8882
@rebron can we add "good first issue" label to this bug sense it's simply the spacing UI elements?

[2020-03-27 12:11] MinisterFister commented on #8846
Issue started for me after the migration of everything into publisher_info_db file. I can tell because I open Resource monitor on windows, go in the disk activity section and see publisher_info_db is doing a lot of read/write operations causing CPU + drive activity to spike.

I can reproduce this when I open several profiles at the same time that haven't been open for a few days and have ads enabl

[2020-03-27 12:24] NejcZdovc commented on #8846
@MinisterFister this is not related to db migration. It's operation that process publisher list. It normally takes 30s to complete. We are working on new mechanism that will solve it

[2020-03-27 13:16] StFS commented on #8128
I'm using 1.5.115 on Mac and I can't find the sync option anywhere. Still, this issue is closed. Is there some other issue that is tracking the progress of whatever is going on with this? Being able to sync bookmarks is a pretty important feature for me and I'd like to avoid installing some plugin for doing that.

[2020-03-27 13:18] MrHaroldA commented on #8128
Did you enable the sync flag, as described above?

chrome://flags

[2020-03-27 13:21] StFS commented on #8128
@MrHaroldA darn it... missed that explanation.. will try, thanks for the pointer

[2020-03-27 13:25] GeetaSarvadnya opened #8888 "[Android] Removed bookmarks are not synced across the devices in sync chain"
## Description
Removed bookmarks are not synced across the devices in sync chain

## Devices
 Android ARM - 1.5.117
Desktop Windows - 1.7.74

## Steps to reproduce

   1. Clean profile android 1.5.117
   2. Add few bookmarks before sync
   3. Clean profile desktop 1.7.74
   4. Add few bookmarks before sync
   5. Establish sync between Android and Desktop via QR code
   6. Make sure BM's which are

[2020-03-27 13:29] GeetaSarvadnya commented on #8731
Looks good hence closing the issue.

[2020-03-27 13:29] #8731 closed

[2020-03-27 13:39] bridiver commented on #2400
@abh-oss01 your comment reinforces the fact that nobody would understand exactly what gets deleted for each option if we split it up. Also if you want fine grain control over site settings, it is already available in `brave://settings/content`. The only site settings that are not currently listed there are httpse and fingerprinting and @GeetaSarvadnya has opened a ticket for that

[2020-03-27 15:27] #8858 closed

[2020-03-27 16:28] bsclifton commented on #8858
Added missing milestone (1.8) to this issue and the PR (https://github.com/brave/brave-core/pull/5063)

@pilgrim-brave any QA needed for this? If so, can you add some manual test steps and label as `QA/Yes`? Thanks 😄

[2020-03-27 16:31] #8878 closed

[2020-03-27 16:33] #8880 closed

[2020-03-27 16:37] rebron commented on #8861
cc: @ryanbr

[2020-03-27 16:43] rebron commented on #8862
Note that we want to generalize this for all components to do a re-try logic to check for component updates without requiring a browser restart.

[2020-03-27 16:45] bsclifton commented on #8868
Closing as duplicate of https://github.com/brave/brave-browser/issues/8401 and https://github.com/brave/brave-browser/issues/8716

[2020-03-27 16:45] #8868 closed

[2020-03-27 16:53] rebron commented on #8881
At @emerick @NejcZdovc can you guys take a look? Causing a lot of CI failures.

[2020-03-27 16:56] rebron commented on #8883
@karenkliu Is this nightly?

[2020-03-27 16:59] InternetDownloader opened #8889 "Video not loading"
## Description
Sometimes YouTube doesn't load the videos; it just gets stuck

## Steps to Reproduce

   1. Visit https://www.youtube.com/watch?v=dQw4w9WgXcQ
   2. Wait for video to load
   3. Be sad about it

## Actual result:
![image](https://user-images.githubusercontent.com/26020638/77780705-a6001680-7011-11ea-909c-0a4fda3ce529.png)

## Expected result:
Video should load

[2020-03-27 17:00] #8866 closed

[2020-03-27 17:04] btlechowski commented on #8732
LGTM

Verification passed on BraveModernarm v1.5.117 on Samsung Galaxy Tab S5e (Android 9.0)

[2020-03-27 17:04] #8732 closed

[2020-03-27 17:08] SergeyZhukovsky opened #8890 "[Android] Crash on Tracing settings"
## Description
Browser crashes if you click Tracing settings from Settings->Developer options->Tracing

## Steps to reproduce

   1. Navigate to Settings->Developer options
   2. Click a Tracing menu

## Actual result
There is a crash

## Expected result
Should not crash

## Issue reproduces how often
always

## Issue happens on
   - Current Play Store version? no
   - Beta build? yes

## Device d

[2020-03-27 17:10] rebron commented on #8093
@ABCbum Is this still an issue on 1.5.115? We've had quite a few chromium updates since then.

[2020-03-27 17:13] Firewall999 opened #8891 "About Brave dialog Reporting Wrong Brave Version in Ubuntu 19.1"
## Description
After successfully upgrading Brave-Browser to latest Linux version (1.5.??) using Ubuntu 19.1 Terminal, and getting confirmation in terminal, the "About Brave" dialog still reports the old version (1.1.23).

## Steps to Reproduce
   1.   In Ubuntu 19.1, use terminal to upgrade Brave version 1.1.23 to the latest Brave Linux version.  Notice terminal output, "...upgraded to 1.5.xx..."

[2020-03-27 17:16] bsclifton commented on #8889
Get outta here with this Roll Roll stuff! It's 2020 already 😂

[2020-03-27 17:16] #8889 closed

[2020-03-27 17:20] btlechowski opened #8892 "[Android] NTP page image cropped after rotation"
After rotating the device, NTP image is cropped

## Steps to reproduce

   1. Open NTP
   2. Open `google.com` in another tab
   3. Rotate the screen
   4. Make the NTP from step 1 active

## Actual result
NTP image is cropped
![Screenshot_20200327-180934_Brave](https://user-images.githubusercontent.com/34715963/77782173-26953600-7057-11ea-9da2-f8e378a988fc.jpg)

## Expected result
NTP image is no

[2020-03-27 17:27] NejcZdovc commented on #8881
moving to global project

[2020-03-27 17:28] #8809 closed

[2020-03-27 17:33] rebron commented on #8889
@InternetDownloader YouTube has been having some issues lately: `https://www.theverge.com/2020/3/24/21192384/youtube-video-quality-reduced-hd-broadband-europe-streaming`

Please try again. You can try unplugging your machine and plug it back in again.

[2020-03-27 17:36] mkarolin opened #8893 "C81 followup: get c81 l10n from Transifex."
Download the latest l10n from Transifex for Chromium 81.

[2020-03-27 17:39] csoko commented on #1851
Use firefox for the time being....
![image](https://user-images.githubusercontent.com/22408357/77784128-41e05100-7017-11ea-87d3-acce1a6f48d5.png)

[2020-03-27 17:42] Firewall999 opened #8894 "Brave Browser 1.1.23 in Ubuntu 19.1 Does Not Honor the Default Browser Flag"
## Description
Brave Browser 1.1.23 in Ubuntu 19.1 Does Not Honor the Default Browser Flag

## Steps to Reproduce

   1.   Set default browser flag in settings.
   2.   Quit the browser and reopen.

## Actual result:
Dialog asks user to make Brave the default Browser

## Expected result:
Should never see that damn dialog again!

## Reproduces how often:
Every time.

## Brave version (brave://versi

[2020-03-27 17:51] GeetaSarvadnya opened #8895 "Two one time tips are sent at a time"
## Description

Two one time tips are sent at a time

## Steps to Reproduce

   1. Clean profile 1.7.74
   2. Enable rewards
   3. Connect KYC'd uphold account
   4. Open a verified publisher
   5. Send a one time tip of 1 BAT to above pubs
   6. Two one time tip entries are shown for the same publisher in Tips panel also 1st entry will always have 0.8 BAT allocated and 2nd entry will have 1 BAT a

[2020-03-27 18:11] VukAnd commented on #8694
Normal insecure could be orange maybe, while warning insecure could be red?

![image](https://user-images.githubusercontent.com/46850780/77786754-9eb32a00-705e-11ea-93d6-c964515c475d.png)
![image](https://user-images.githubusercontent.com/46850780/77786772-a83c9200-705e-11ea-8718-9bc183980a4e.png)

[2020-03-27 18:13] Brave-Matt commented on #2791
Several +1s from Reddit thread:
https://www.reddit.com/r/brave_browser/comments/fpuc9z/netflix_and_spotify_on_brave_uninstall_widevine/

[2020-03-27 18:19] NejcZdovc commented on #8895
let's recheck this one with build higher then `1.7.76`. There was a fix for this

[2020-03-27 18:22] #8836 closed

[2020-03-27 18:24] bridiver opened #8896 "sparkle dep was accidentally removed from brave app bundle for macos"
https://github.com/brave/brave-core/pull/5064/files#diff-4eaebbcd1dc0da11e3a3ce488290bfc6L522

[2020-03-27 18:27] #8896 closed

[2020-03-27 18:32] rduff5 opened #8897 "All-in one brave"

[2020-03-27 18:35] kjozwiak commented on #8897
@rduff5 going to close this off as there's no information in here. If you're still have issues or have a suggestion, please create a new issue with some more information/context.

[2020-03-27 18:35] #8897 closed

[2020-03-27 18:37] rduff5 commented on #8897
Thank you I will delete it

[2020-03-27 18:37] bsclifton commented on #8896
Added missing milestone to this and https://github.com/brave/brave-core/pull/5082

[2020-03-27 18:39] bsclifton commented on #8694
cc: @bradleyrichter @diracdeltas

[2020-03-27 18:42] bsclifton commented on #8893
Also relevant for Android Core
cc: @SergeyZhukovsky @anthonypkeane

[2020-03-27 18:46] #8890 closed

[2020-03-27 18:47] bsclifton commented on #8891
@Firewall999 we haven't updated the snaps in a bit, unfortunately. There is a pending issue to be solved before we can https://github.com/brave/devops/issues/2690 (`Brave v1.4.95 snap build fails with desktop-gtk3 conflict`)
cc: @mbacchi @mihaiplesa

[2020-03-27 18:50] kjozwiak commented on #8848
Both of the images from `Will Christiansen` are missing links as @mbacchi mentioned. These are the ones that don't have links when clicking on the credit link:

* https://raw.githubusercontent.com/brave/brave-core/8c4bcfee376033fe8d5528f00657b3b603c16d8c/components/img/newtab/backgrounds/will-christiansen-glacier-peak.webp
* https://raw.githubusercontent.com/brave/brave-core/8c4bcfee376033fe8d5528

[2020-03-27 18:52] kjozwiak commented on #6904
Verification **PASSED** on `macOS 10.15.3 x64 Catalina` using the following build:

[code]

* Went through https://docs.google.com/document/d/1Le1F2G4m04ui-D3GbDkYttKY9q4Hjy-JCOEVujYTyxM/edit and ensured that all the correct images were appearing and ensured that the correct links were being used
* ensured that the images that were removed weren't being displayed/cycled through
* `Will Christianse

[2020-03-27 18:54] kjozwiak commented on #6904
@rebron @SergeyZhukovsky @aekeus should these make their way into `Android` as well? If so, can you please add the `OS/Android` tag for this issue?

[2020-03-27 18:55] bsclifton commented on #8869
Hi @Tectract - I've asked a few folks that provide support on Community about this and haven't found anything. Do you have links to the threads? What's your username? If you don't want to share those details here, you can email me at `clifton@brave.com`

`Discobot` is part of the Discourse software that was chosen for community.brave.com; seems you might be having a problem using it. We have no pl

[2020-03-27 18:55] #8869 closed

[2020-03-27 19:00] SergeyZhukovsky opened #8898 "[Android] Disable unneeded permissions"
## Description
Disable permissions that we don't need and that are disabled on tabs repository

## Steps to reproduce

   1. Pick a device on Android OS version < 6
   2. Install current play store build
   3. Upgrade to brave-core based stable build.

## Actual result
You will notice a similar screen on update
![Screenshot_2020-03-27-10-28-16](https://user-images.githubusercontent.com/12011303/77

[2020-03-27 19:07] rebron commented on #6904
NTP wallpapers are already updated on Android, so no additional work for android here.

[2020-03-27 19:09] Tectract commented on #8869
I don't like the way your forums are being run. You are banning people and "closing" discussions. I see it as a very hostile forum with mods eager to close issues and censor users, and a "deletionist" as opposed to "archivist" mentality, and here we are in the github issue tickets and I'm facing trolling and abuse from throwaway accounts.

I think I'll just stop bothering to contribute to Brave is

[2020-03-27 19:23] mbacchi commented on #8848
@kjozwiak I opened a PR ([5068](https://github.com/brave/brave-core/pull/5068)) to fix this but the test-install steps failed on mac/windows. I'm going to restart the pr builder and see if it works today.

[2020-03-27 19:26] diracdeltas commented on #8694
We had this in the old muon browser at some point. I would be more in favor of keeping the secure icon how it looks currently and changing the insecure state to be red or something. @tomlowenthal

[2020-03-27 19:37] LaurenWags commented on #8733
Verification passed on Asus Zenfone (x86) with Android 6.0 running 1.5.117 BraveModernx86.apk

[2020-03-27 19:37] #8733 closed

[2020-03-27 19:55] LaurenWags opened #8899 "[Android] link to google support"
## Description
When tapping on the padlock or info icon in the URL, you can ultimately get navigated to a google support page when looking for information on the connection to the site.

## Steps to reproduce

   1. Visit a site (I used brave.com and pdf995.com)
   2. Tap on the padlock or information icon in URL bar.
   3. On the resulting window, select the 'Details' link
   4. Then tap on 'What

[2020-03-27 19:59] bsclifton commented on #8869
@Tectract if you aren't able to provide links/username/etc, I can't personally verify any issues that you've ran into unfortunately. With regards to moderation, discussions which don't follow the [community guidelines](https://community.brave.com/tos) may be closed, not much I can do about that ☹️ For example, the support area [has clear guidelines](https://community.brave.com/t/about-the-support-

[2020-03-27 20:00] LaurenWags commented on #8899
Comparing to tabs 1.5.9 version, looks like this link was not available there:
![Screenshot_20200327-155950](https://user-images.githubusercontent.com/28145373/77795543-16c02680-7044-11ea-99d0-f4716d74ab12.jpg)

[2020-03-27 20:10] kjozwiak commented on #8848
Awesome, thanks @mbacchi 👍 Ran into this when I started running through https://github.com/brave/brave-browser/issues/6904 and noticed you created the issue. Thanks for finding/spotting it!

@rebron @bsclifton should we get this uplifted into `1.7.x` as the new images will be on `Release` in ~a week or so as per https://github.com/brave/brave-browser/issues/6904?

[2020-03-27 20:26] kjozwiak commented on #8894
@Firewall999 assuming you're using a version from Snap as per https://github.com/brave/brave-browser/issues/8891? `1.1.23` is a pretty old version. Maybe download the latest version from `apt` as @bsclifton recommended via https://github.com/brave/brave-browser/issues/8891#issuecomment-605209172? This way you can grab the latest version and see if the `Set Brave as Default` is working in that vers

[2020-03-27 20:38] kjozwiak commented on #8128
@StFS we added a `brave://flag` as mentioned by @MrHaroldA via https://github.com/brave/brave-browser/issues/8187 in https://github.com/brave/brave-browser/releases/tag/v1.3.118.

[2020-03-27 20:43] bsclifton commented on #8848
Sure- that's a small enough one. Let me check out the PR real quick 👍

[2020-03-27 20:43] #8848 closed

[2020-03-27 20:52] karenkliu opened #8900 "Enable right click menu for widgets on New Tab page"
## Description
Currently the widgets on the new tab page show the default browser right click menu actions on right click:
![Screen Shot 2020-03-27 at 1 19 27 PM](https://user-images.githubusercontent.com/2388823/77797033-98f12080-702d-11ea-8e40-18ca2e1e9390.png)

A lot of these actions are irrelevant and some such as "Inspect" are ones we don't want users to play around with (e.g. changing the Br

[2020-03-27 21:00] kjozwiak commented on #8886
Believe this needs to be fixed on desktop as well as both `chrome://rewards` and `brave://rewards-internals` are not listed in `brave://about` or `chrome://about`.

Also created https://github.com/brave/brave-browser/issues/7422 a while back that would resolve the above as well.

[2020-03-27 21:13] kjozwiak commented on #8864
Moving issue into https://github.com/brave/brave-browser/milestone/92 👍

[2020-03-27 21:27] simonhong commented on #8603
Closed because super referral install is only valid for fresh user that doesn't have ref code.(no existing user data)

[2020-03-27 21:27] #8603 closed

[2020-03-27 22:16] kjozwiak commented on #8154
@diracdeltas should we close this one off as well as per the info that @a-bronx found above? I guess we can leave this opened if we plan on addressing the above.

[2020-03-27 23:30] diracdeltas commented on #8154
sgtm

On Fri, Mar 27, 2020 at 15:16 Kamil Jozwiak <notifications@github.com>
wrote:

[2020-03-27 23:59] zaxbux commented on #8281
There's a source map comment in the affect files, but the source maps themselves are missing. The developers should disable source map creation in their asset build process.

[2020-03-28 02:21] michelle911 commented on #6291
+1, I too am forced to use another browser that allows this functionality, but like Brave better - please fix!

[2020-03-28 03:12] SephReed opened #8901 "Extreme CPU usage on MacOS"
## Description
Brave Brave Helper, not the renderer, is using 100% CPU with no tabs open.  Just the landing screen.

![Screen Shot 2020-03-27 at 10 08 18 PM](https://user-images.githubusercontent.com/14002040/77813558-94515a00-7077-11ea-9877-0579e11ac088.png)
<img width="1259" alt="Screen Shot 2020-03-27 at 10 08 33 PM" src="https://user-images.githubusercontent.com/14002040/77813560-95828700-7077

[2020-03-28 03:26] rebron commented on #8901
<img width="751" alt="Screen Shot 2020-03-27 at 8 24 06 PM" src="https://user-images.githubusercontent.com/5951041/77813826-eccd2b00-7068-11ea-9502-91930a12a600.png">

There's a task manager in the more tools section off the menu. If you can update to 1.5.115, we believe we fixed th issue with this fix #8779

[2020-03-28 03:32] ryanbr opened #8902 "Embedded map on https://www.deccanherald.com/city/bengaluru-infrastructure/what-is-reverse-osmosis-ro-system-781054.html fails to load"
## Description
Visiting site, embedded map displays error: `https://www.deccanherald.com/city/bengaluru-infrastructure/what-is-reverse-osmosis-ro-system-781054.html`

## Steps to Reproduce

   1. Visit `https://www.deccanherald.com/city/bengaluru-infrastructure/what-is-reverse-osmosis-ro-system-781054.html`
   2. Scroll down to the map
   3. With default shields, it errors.

## Actual result:
![fp

[2020-03-28 03:34] ryanbr commented on #8902
Same issue on: `https://www.covidalliance.com/interactive-data-tools`

Same fingerprint affecting this site `https://public.tableau.com/`

[2020-03-28 03:40] BrendanEich commented on #8902
<canvas> fingerprinting protection false +. @pes10k

[2020-03-28 05:15] ABCbum commented on #8093
Hi @rebron , i can confirm that this is **still a bug** in current version (Version **1.5.115** Chromium: 80.0.3987.149 (Official Build) (64-bit)). It is fine with the initial load but if i reload then the bug still comes back.

![image](https://user-images.githubusercontent.com/50205705/77815392-4840fc80-70ed-11ea-956a-fbdf4e6a6603.png)

Thanks!!

[2020-03-28 08:33] healBvdb commented on #6772
I am on Solus OS and I have the same issue. But I can still use Brave using the snap package

Termina output :
[code]

[2020-03-28 09:28] ShockRocky commented on #8842
Hi @rebron , the toggle worked for me, but it seems brave does not delete all persistent cookies such as hangouts.com, even when no domains are whitelisted.

Screenshot 1[When 'allow google login' is toggled off in settings, the whitelisted 'accounts.google.com' domain gets removed, done on a fresh brave profile].
![when no whitelisted urls are present](https://user-images.githubusercontent.com/46

[2020-03-28 11:25] NumDeP commented on #4416
I second the above persons comment. Even more disappointing when you're simultaneously running normal tabs and private tabs.

Please don't go back to your muon-laptop ways. I remember the same exact thing happening and the terrible thing was similar to the above user I was using it as my primary browser to bug report issues pertaining to this and nobody did anything.

If the team is going to work

[2020-03-28 12:30] NumDeP commented on #8625
Must be related to #8895

20 BAT was what I contributed first and later noticed 16.5 BATs as well in Rewards.

![Screenshot_20200328_122038](https://user-images.githubusercontent.com/31957540/77822950-319ba500-70ef-11ea-842e-19e7028f70ec.png)

[2020-03-28 15:38] xameeramir opened #8903 "DNS forwarding not working in Brave browser"
## Description
Have you searched for similar issues?
[Yes, found none](https://github.com/brave/brave-browser/issues?q=dns+forwarding+)

I have found that some domains behave differently in Chrome and Brave browsers:

| Browser | Request | Result | Expected |
| --- | --- | --- | --- |
| Chrome | http://therespect.org/ | Redirects to https://therespect.org/ | Yes |
| Brave | https://therespect.org/

[2020-03-28 19:05] Firewall999 commented on #8894
Thank you for responding!

I am an Ubuntu neophyte. Don't know snap from a hole it the wall.

I think I did use apt-get and apt install. I definitely saw something like "1.5.xx installed" in terminal.

Software Updater also successfully downloaded a new Brave version, but it disappeared into the ether and did not install.  Was that via snap?

If you give me the appropriate terminal commands, I can

[2020-03-28 20:26] kjozwiak commented on #8894
Does the issue resolve it's self if you run through https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux again and try updating/installing? It won't touch your profile so you won't lose any data.

@fmarier any idea why this could be happening if the above doesn't work?

[2020-03-28 20:30] kjozwiak commented on #8093
@ABCbum assuming it's still an issue in the last Chrome as well? Sounds like you also reproduced it on Chrome originally as per the above.

[2020-03-28 20:40] MinisterFister opened #8904 "can't claim ad rewards as "claim" button doesn't do anything"
## Description

I press claim button it don't do anything. Here is my claim button see it

![image](https://user-images.githubusercontent.com/12465253/77833276-7be24d80-7112-11ea-87d0-ffe661e8cb81.png)
## Steps to Reproduce

   1. Press claim button
   2. Button doesn't do anything
   3. V1.5.115 of Brave

## Actual result:

## Expected result:
It doesn't give captcha or sometimes it give but capt

[2020-03-28 20:58] kjozwiak commented on #8154
Thanks for the above info @a-bronx. As per @diracdeltas above, we'll close this off for now 👍

[2020-03-28 20:58] #8154 closed

[2020-03-28 21:04] kjozwiak commented on #8901
@SephReed if you're still having issues with the `1.5.115` which is the latest build, you might be running into https://github.com/brave/brave-browser/issues/8846.

If you run through the info that @rebron provided via https://github.com/brave/brave-browser/issues/8901#issuecomment-605387854, let us know which service/tab is the one that's causing the spikes. If you notice it's `Utility: BAT Ledge

[2020-03-28 21:07] kjozwiak commented on #8904
@MinisterFister mind taking a look at `brave://rewards-internals` and emailing me the info via `kamil@brave.com` and I'll get someone to take a look to see why you're not able to claim your grant.

CCing @LaurenWags @NejcZdovc

[2020-03-28 21:13] kjozwiak commented on #8873
@srirambv does this need to get QA'd or was it checked/QA'd via https://github.com/brave/brave-browser/issues/8541? If so, lets label this as `QA/No` 👍

[2020-03-28 21:15] msmoljan commented on #1000
Also interested in Brave on Flathub!

[2020-03-28 21:17] kjozwiak commented on #8628
@Roseysuzaina closing this off as there's no actionable information here. If you're still having an issue or have a suggestion, please create a new issue with more information.

[2020-03-28 21:17] #8628 closed

[2020-03-28 21:25] MinisterFister commented on #8904
I have desktop version. Sometimes I get the captcha but then when I do it it doesn't work
![image](https://user-images.githubusercontent.com/12465253/77834164-ef875900-7118-11ea-9963-471a488cc9b1.png)
![image](https://user-images.githubusercontent.com/12465253/77834175-0463ec80-7119-11ea-9503-d28232433bf9.png)

[2020-03-28 22:38] luminoso commented on #8679
No. Chromium with vaapi enabled has different names according to the distro. Since I'm using Fedora the package name is `chromium-freeworld` provided by [rpmfusion](https://rpmfusion.org/).

In Archlinux is available as `chromium-vaapi` from AUR (as described in chromium archlinux wiki page [here](https://wiki.archlinux.org/index.php/Chromium#Hardware_video_acceleration))

Any of the packages shou

[2020-03-28 23:57] edddddddddddddddddddddddddddddy opened #8905 "[Android]"
All my downloaded files (images and videos) were deleted when I uninstalled the app

I just want to know why when I uninstalled Brave from my android all the images and videos that I had download were deleted. Is there any way to recover them? I think this is very unffair. I just want my files back.

I hope someone please can help me
Regards.

[2020-03-29 01:38] crogonint commented on #208
Here's your missing translate service. Upvote this:
https://yahoo.uservoice.com/forums/341361-yahoo-homepage/suggestions/40044514-bring-back-babelfish

[2020-03-29 01:39] crogonint commented on #5561
Here's your missing translate service. Upvote this:
https://yahoo.uservoice.com/forums/341361-yahoo-homepage/suggestions/40044514-bring-back-babelfish

[2020-03-29 02:16] ABCbum commented on #8093
@kjozwiak , yes i **can** reproduce it on Chrome (Version 81.0.4044.83 (Official Build) beta (64-bit)) the behaviour is exactly the same, fine with the initial load but reload then it's wrong. Thanks!

[2020-03-29 05:12] MinisterFister commented on #8904
Working now! Issue can be closed sirs thanks you for the fixing

[2020-03-29 05:12] #8904 closed

[2020-03-29 06:52] bsclifton commented on #8905
@edddddddddddddddddddddddddddddy do you have more information about which version of Brave you were using?

The current stable version is using the code at https://github.com/brave/browser-android-tabs

The BETA version is using this code-base (brave-browser). Knowing this and also some basic information like hardware info should help troubleshoot

cc: @SergeyZhukovsky @samartnik @AlexeyBarabash @

[2020-03-29 07:36] #8893 closed

[2020-03-29 07:57] bsclifton opened #8906 "Error when trying to upgrade Brave via brave://settings/help"
## Description
There have been two reports so far on Windows where upgrading doesn't work. You can trigger a check for updates by visiting brave://settings/help and an error message is shown

- One report from @kjozwiak
- One report from community user [Ryan_Firrow](https://community.brave.com/u/ryan_firrow/summary)

## Steps to Reproduce
Steps unknown at this time

## Actual result:
`An error occ

[2020-03-29 08:18] bsclifton commented on #4416
@SeAlgoAsoma definitely sorry you experienced that ☹️ Would you be able to visit brave://crashes/ and see if if the crash is recorded there? You may need to click a "send" or "submit" button, give it a few seconds, and then restart the browser. When it sends the report, it'll share a "Report ID" which you can share here which I can use to find the root cause. What OS are you on?

There are no know

[2020-03-29 08:30] bsclifton commented on #4416
@NumDeP Muon had a number of issues with session integrity which is one of the reasons we abandoned it in favor of brave-core. As shared above, I haven't been able to reproduce this. I have troubleshooted similar issues where sqlite DBs were corrupted and there was dataloss.

In your profile directory (ex: `~/Library/Application Support/BraveSoftware/Brave-Browser/Default` on macOS) there are two

[2020-03-29 08:37] bsclifton commented on #8906
Related https://github.com/brave/brave-browser/issues/2221, https://github.com/brave/devops/issues/920

[2020-03-29 09:21] Alf0nso commented on #393
I'm not sure if this is the right place to ask about it, but is there any sort of flag/switch to reload a page in brave? more specifically to reload the last page that was opened?

[2020-03-29 11:14] tmancey commented on #8805
@danishjalil2991 Apologies for the late reply, if you let me know your timezone and maybe we could have a screen share so I can help you get setup?

[2020-03-29 12:06] pc-v2 opened #8907 "Guest mode and add profile still available in drop drown menu after add policies into regedit"
## Description

Guest mode and add profile still available in drop drown menu after add policies into regedit

## Steps to Reproduce

   1. open regedit
      1.a set guest mode and add profile to disable

   2. open brave browser drop down menu
   3. it still there

## Actual result:

![image](https://user-images.githubusercontent.com/58063311/77848585-f59c3900-71ef-11ea-9304-a41cd3163519.png)
![

[2020-03-29 14:50] cosmeao opened #8908 "Sign-In Authentication Does not work on Google Keep App"
## Description
Official Google Keep - Notes and Lists app/extension found in the Chrome Web Store does not allow for signing in. Upon opening of the Brave/Chrome app a pop-up appears letting the user know that it has failed to authenticate credential and that one should sign in. One clicks the provided "Sign-In" button, the popup disappears, and then no sign-in screen/tab/window opens -- essential

[2020-03-29 16:08] afonsolopez opened #8909 "brave stops showing ads after waking from sleep mode"
## Description
Every time my MacOS turns into sleep mode for example, after some minutes to save energy, when I log back in Brave won't show any ad until I close my browser and restart my machine.

## Steps to Reproduce
Just let MacOs turn into sleep mode with Brave working.

## Reproduces how often:
On my machine it happens every time it enters into sleep mode.

## Brave version (brave://version

[2020-03-29 17:34] AlexanderKimmel opened #8910 "I can't install Brave do to it unable to connect to the Internet"
## Description

I downloaded Brave befor on my Laptop no issues what so ever.
But when I've tried to install it on my PC the intaller can't connect to the Internet.
Yes I've checked my Internet connection... I'm writing this on my PC so the Internet works.
I've also restarted my PC and tryed to Install it multiple times but nothing seemed to work.

[2020-03-29 17:42] jhhoffma3 commented on #8910
Confirmed, tried x86 and x64 installation exe's.

[2020-03-29 17:48] AlexanderKimmel commented on #8910
Yes I tried that

[2020-03-29 18:09] 774z opened #8911 "Nightly doesn't randomize fingerprint"
## Description
Fingerprint ID does not change after each reset (tried incognito and manual clearing) when tested in fingerprintjs.com/demo. Testing the fingerprint on panopticlick shows that Hash of canvas fingerprint and AudioContext fingerprint results are “randomized by first party domain”, while for Hash of WebGL fingerprint I get a constant/unchanging hash number (Might be related).

## Steps

[2020-03-29 19:17] deeppandya commented on #8905
@bsclifton @edddddddddddddddddddddddddddddy by default, all the downloads go to the internal storage of the app. so if you uninstall the app, it would remove everything from an internal memory of the app.

[2020-03-29 21:00] willone2 commented on #8910
Exact same issue here. Had to download the latest standalone installer from the repo.

[2020-03-29 22:11] kjozwiak commented on #8603
Removing milestone as this has been closed and isn't being implemented as per the Slack conversation earlier on Friday.

[2020-03-29 23:44] bsclifton commented on #8905
ah- if that's the case (default location wasn't changed), I don't think there's anything we can do ☹️

[2020-03-29 23:44] #8905 closed

[2020-03-29 23:46] bsclifton commented on #8910
cc: @mihaiplesa

[2020-03-29 23:50] masternetra commented on #8910
Same.

[2020-03-29 23:53] mihaiplesa commented on #8910
Hi all, we're doing some maintenance, we'll update at https://status.brave.com/ once done, thanks for the patience.

[2020-03-30 00:04] bsclifton commented on #8911
cc: @pes10k

[2020-03-30 00:19] mihaiplesa commented on #8910
@AlexanderKimmel @jhhoffma3 @willone2 @masternetra please try now.

[2020-03-30 01:28] fgimian commented on #5717
Just some thoughts about this on my end too.  I'm using Ubuntu 19.10 in a VM with VMware Workstation with a Logitech MX705 mouse.

In Firefox, there are various `about:config` which I'm setting as follows:

[code]

These make Firefox absolutely perfect on the scrolling front.

As mentioned Brave (and all Chromium-based browsers) have very slow scrolling on Linux.  Even when using the extension lin

[2020-03-30 02:24] buckley310 commented on #5717
In my experience, VScode actually scrolls the same number of pixels as brave and chromium, however VScode lets you change it.

[2020-03-30 03:18] fgimian commented on #5717
Sorry yep, you're spot on 😄

[2020-03-30 04:08] kjozwiak opened #8912 "adding "Google Translate" into context menu when right clicking website"
## Description

As per @BrendanEich, we should see if we can add the "Google Translate" extension capability to into the context menu so a user can `TRANSLATE THIS PAGE` by simply right clicking anywhere on the page rather than going through the extension icon.

The "Google Translate" icon does appear in the context menu in the following scenarios:

**`Right clicking on links`***

<img width="606"

[2020-03-30 05:05] damassi commented on #8824
Seems related to adblocking? Testing on chrome with Adblock enabled and no go there either.

[2020-03-30 05:18] bsclifton commented on #7567
If you have multiple profiles and have the dialog above (showing the profile pictures), you can trigger the menu by clicking the `...` in the top right of the tile.
<img width="428" alt="Screen Shot 2020-03-29 at 10 17 48 PM" src="https://user-images.githubusercontent.com/4733304/77877657-3eadb680-720b-11ea-83bd-e934dbc075d2.png">

I've confirmed this works in the latest release version 1.5.115
![

[2020-03-30 05:19] ryanbr opened #8913 "Login options not showing on https://www.negativexp.com/"
## Description
With default shields, visiting `https://www.negativexp.com/` won't show login option (via the login button)

## Steps to Reproduce

   1. Visit `https://www.negativexp.com/`
   2. Click on `Login / Signup`
   3. No social login icons show

## Actual result:
Login options not showing
![xp-issues](https://user-images.githubusercontent.com/1659004/77877452-50966480-72b2-11ea-83a2-f7c09

[2020-03-30 05:28] ryanbr commented on #8913
Seems to still break if I allow individual cookies, (while still keeping cross-site cookies enabled)

[2020-03-30 05:28] bsclifton commented on #7252
@jschinnerer apologies that this is still not resolved. I gave it a shot using anonymous guest login and it checkout worked as expected

Shields down should solve issues like this- but for this specific case, you've confirmed it doesn't. What @ryanbr was referring to is a setting inside the shields. Instead of toggling on/off, you could try turning everything off. Here's an example:
<img width="35

[2020-03-30 05:36] bsclifton commented on #7063
@mvxxx is this still an issue with later versions of Brave? (ex: current release is 1.5.115). I tried and it looks great to me on macOS.

You are running Xubuntu, correct? Some Linux users have had some graphics issues unfortunately (artifacts, etc) which may be visible by comparing chrome://gpu in Brave versus Chrome. I would try to disable `Use hardware acceleration when available` if this does