[2021-06-29 18:32] bridiver commented on #13303
and really since ipfs is "InterPlanetary File System", maybe it makes more sense to treat these like file urls except maybe for dnslink. It would have been much simpler if dnslink used a different scheme...

[2021-06-29 18:38] bridiver commented on #13303
having said all of that, `http://hashhash.ipfs.localhost:12345/` is not what we want to return, but I think the expected result for `document.location.origin` should be an empty string

[2021-06-29 18:41] Brave-Matt commented on #1638
@rebron can we take a look at this and see if this is something to be adjusted? It's minor (even aesthetically) but has been brought up consistently since switching to Chromium and is certainly worth considering an adjustment if not a redesign.

[2021-06-29 19:09] #16672 closed

[2021-06-29 19:22] GabeVilela commented on #11678
I had this same issue early today. After waking up my PC, I started watching a YouTube video, then the web view blinked.
Later, I maximized another Brave window (which I had minimized), and it appeared all black with a few parts rendering normally only while resizing it.
Restarting the browser fixed the problem.

BTW, I sent a crash report with the ID `1ee24700-8ce9-8106-0000-000000000000`
I'm not

[2021-06-29 19:58] JFMugen commented on #1638
Yeah, PLEASE.

[2021-06-29 20:24] MDouglas345 opened #16683 "Brave crashes when trying to leave Sync chain"
## Description
User reported that leaving the Sync Chain on his Windows device causes Brave to crash. The original post -> https://community.brave.com/t/brave-crashes-when-trying-to-leave-sync-chain/263139

They were reporting that their passwords were being removed, made this post -> https://community.brave.com/t/passwords-lost-after-updating-to-version-1-25-68/253946

And then they tried to leav

[2021-06-29 21:10] karenkliu commented on #10430
Designs added!

[2021-06-29 21:12] groslyunderpaid commented on #10430
What does this mean? Option to be available in next release?

On Tue, Jun 29, 2021, 5:10 PM Karen ***@***.***> wrote:

[2021-06-29 21:28] petemill opened #16684 "Dev: Goma builds are not working (no sdk match)"
Since we reverted the build args which specify to not use system sdk, goma SDK and local SDK paths are mismatched. We should put this back in when using the `--use_goma` flag. So, it will be opt-in.

Longer-term we should specify a specific SDK version for everyone and never use the system SDK path. Instead we'll download it (for brave users since we're not allowed to provide a public download to

[2021-06-29 21:34] #16299 closed

[2021-06-29 21:34] #16300 closed

[2021-06-29 21:52] rebron commented on #10430
@groslyunderpaid We've finalized designs and the next part is getting built. Once we're done with the feature, we'll label the milestone that it's in and that will be the version where you'll see it.

[2021-06-29 22:27] lidel commented on #13303
Some notes that may be useful when it is time to address this:
- Every CID can be converted to CIDv0 in base-insensitive encoding, such as Base32
- CIDv1 in Vase will become default at some point anyway
- It may be easier to detect CIDv0 in Base58 and upgrade to CIDv1 before processing further, than make URL origin/authority parsing case-insensitive across the codebase

[2021-06-29 22:42] gatocinza opened #16685 ""Temporary failure resolving..." error"
Hello. I tried to install Brave Browser in Bodhi 6.0.0 (focal) using the instructions given in the webpage for Ubuntu packages, but got this error when input `sudo apt-get update`:

[code]
Then I tried to re-install the repository using the URLs like `http` instead of `https`, but didn't work. Also tried to uninstall Chromium (_91.0.4472.101 (Official Build) for Bodhi Linux (64-bit)_) and re-try t

[2021-06-29 22:54] stephendonner commented on #16470
Verified `PASSED` with build

Brave | 1.28.37 Chromium: 91.0.4472.124 (Official Build) nightly (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

Confirmed `Privacy & Security` moved up below `Social media blocking` and above `Sync`, and `Safety Check` moved into `Additional Settings`, and it matches that in h

[2021-06-29 22:59] bridiver commented on #13303
If every cid can be converted to case insensitive encoding then this would be more viable. @lidel I want to verify that you're saying CIDv1 is already case insensitive?

[2021-06-29 23:13] ryanbr commented on #16479
On Android, try clearing browsing data (cookies and site data). then close/restart Brave @frankwaves

[2021-06-29 23:30] #16629 closed

[2021-06-29 23:55] dzsoundnirvana commented on #5576
My current issue with Brave (actually any Chromium based browser) is that the autoupdate processes on Windows takes a long time to complete compared to running it manually. My typical use case for wanting to disable the autoupdate is so I can get on with what I'm doing that does not involve Brave or any browser, yet it is eating up disk I/O in the background. It is better for me to kill the Brave

[2021-06-30 00:03] Tectract commented on #5576
The fact that users are putting thumbs down and laughing at users who want the ability to disable auto-update is infuriating, and goes to show the lack of respect for users, among software developers. Users should always be in control of what software is running on their own hardware, and they should also be in control of revisions and updates management. Taking this away from users is disrespectf

[2021-06-30 00:05] Tectract commented on #5576
Making a free open-source alternative to a corporate-run software project, and then not turning off auto-updates, is essentially missing the entire point of why the free open-source alternative should exist, at all. The idea of Brave was to give users more control and to fix all the stupid annoying bugs that the Chrome and Chromium teams were ignoring. But yet, I don't see any of that happening in

[2021-06-30 00:11] Tectract commented on #16390
BUMP. I also want to be able to block updates and I HATE being "nagged" to install updates. It's my computer, I will update when I'm ready. Like after you fix the tabbing bug that a thousand people are complaining about maybe.

[2021-06-30 00:17] stephendonner commented on #16669
Verified `PASSED` using

[code]

Notes:

1) Filed https://github.com/brave/brave-browser/issues/16670 for the testcase I ran, but left unchecked:`Verify you cannot import the same key twice.`
2) The `Peers` functionality isn't available in `1.26.x` - it was introduced in `1.27.x` with https://github.com/brave/brave-browser/issues/15567.

[2021-06-30 00:17] #16669 closed

[2021-06-30 00:25] stephendonner commented on #16667
Verified `PASSED` using

Brave | 1.26.67 Chromium: 91.0.4472.114 (Official Build) (64-bit)
-- | --
Revision | 4bb19460e8d88c3446b360b0df8fd991fee49c0b-refs/branch-heads/4472@{#1496}
OS | Windows 10 OS Version 2009 (Build 21390.2025)

Notes:

1) Filed https://github.com/brave/brave-browser/issues/16670 for the testcase I ran, but left unchecked:`Verify you cannot import the same key twice.`
2) The

[2021-06-30 00:25] #16667 closed

[2021-06-30 00:58] Douglashdaniel opened #16686 "Wire up Real Asset Price History to Portfolio Subview"
## Description
Wire up the real Asset Price History to  the `Portfolio Subview's` `Line Chart`

![Screen Shot 2021-06-29 at 6 56 49 PM](https://user-images.githubusercontent.com/40611140/123886022-cc46ed00-d90b-11eb-87c7-ba9296100b0c.png)

[2021-06-30 01:17] haykh commented on #13301
The mentioned issue appeared again with the new Brave version. Steps to reproduce are exactly the same. Here is the system info.

| | |
|-|-|
Brave | 1.26.67 Chromium: 91.0.4472.114 (Official Build) (x86_64)
Revision | 4bb19460e8d88c3446b360b0df8fd991fee49c0b-refs/branch-heads/4472@{#1496}
OS | macOS Version 11.4 (Build 20F71)
JavaScript | V8 9.1.269.36
User Agent | Mozilla/5.0 (Macintosh; Intel M

[2021-06-30 02:17] kjozwiak opened #16687 "Manual test run on macOS (Intel) for 1.26.x - Release #3"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-06-30 02:17] kjozwiak opened #16688 "Manual test run on macOS (arm64) for 1.26.x - Release #3"
### Installer

- [x]  Check signature: If OS Run `"spctl --assess --verbose /Applications/Brave Browser.app"` and make sure it returns `accepted`.
- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-universal.dmg`
      - [x] Check executable size, should be `~470mb`
   - [x] `Brave-Browser-universal.pkg`
       - [x] Check executable size, should be `~470mb`
   -

[2021-06-30 02:17] kjozwiak opened #16689 "Manual test run on Windows x64 for 1.26.x - Release #3"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-06-30 02:17] kjozwiak opened #16690 "Manual test run on Linux for 1.26.x - Release #3"
### Installer

~~- [ ]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window~~

### Widevine

- [x]  Verify

[2021-06-30 02:17] kjozwiak opened #16691 "Manual test run on Android ARM for 1.26.x - Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [ ] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-06-30 02:17] kjozwiak opened #16692 "Manual test run on Android Tab for 1.26.x - Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-06-30 02:17] kjozwiak opened #16693 "Manual test run on Android x86 for 1.26.x - Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Upgrade

Pre-Requisite: Visit several websites so Top Tiles under New Tab Page get updated and add several sites via `Add to Home screen` (from 3 dots menu) using a previous build/installation before upgrading.

- [x] Make sure that da

[2021-06-30 02:56] kjozwiak opened #16694 "Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler`, `Wireshark` or `LittleSnitch` (or a similar application)"

[2021-06-30 02:56] #16694 closed

[2021-06-30 03:02] #15316 closed

[2021-06-30 03:02] #15871 closed

[2021-06-30 04:03] kjozwiak commented on #16687
Completed the above manual pass using the following build:

[code]

[2021-06-30 04:03] #16687 closed

[2021-06-30 04:05] #13610 closed

[2021-06-30 04:24] kjozwiak opened #16695 "Manual test run on Win x64 for 1.28.x - Nightly (Checking C92)"
### Installer

- [x] Check the installer is close to the size of the last release
- [x] Check signature: On macOS, run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  On Windows, right-click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double-click on the signature.  Make sure it says "The digital

[2021-06-30 04:28] kjozwiak opened #16696 "Manual test run on ARM for 1.28.x - Nightly (Checking C92)"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Visual look

- [x] Make sure thereafter every merge
  - [

[2021-06-30 04:58] kjozwiak commented on #16681
Checked and ensured that `x86` builds for `1.26.74 Chromium: 91.0.4472.124` are being installed without any issues:

* `Win 10 x86` - **PASSED** (restarted browser multiple times)
* `Win 8.1 x86` - **PASSED** (restarted browser multiple times)

[2021-06-30 05:18] kjozwiak commented on #16681
Went through the following OS’s using `1.26.74 Chromium: 91.0.4472.124` and made sure that the correct Tor binary was being downloaded as per https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6:

* `macOS 11.3 x64` - **PASSED**

[code]

* `Win 10 x64` -  **PASSED**

[code]

* `PopOS 20.10 x64` -  **PASSED**

[code]

[2021-06-30 06:02] onyb commented on #16673
Trying to infer the intent of a transaction (i.e., "Swap XXX to YYY") requires parsing the raw transaction against the 0x contract ABI. By default, all arbitrary function calls are displayed as "Transform E R C20".

I propose to close this one. Checked internally with @bbondy.

[2021-06-30 06:16] GeetaSarvadnya commented on #16639
Verification is in-progress

[code]

[2021-06-30 06:28] srirambv commented on #16639
Verification passed on OnePlus 6T with Android 10 running 1.26.74 x64 build
**Clean Install**
- Verified able to set Ecosia as default via onboarding and is set for both normal and private tabs
- Verified with Ecosia set as default, performing a search via omnibar adds `&addon=brave` to the query
- Verified with Brave Search set as default, visiting `https://ecosia.org` shows the `Add to Android`

[2021-06-30 06:43] Accenter commented on #14927
When I asked uphold support about this, they said I should take it with the brave team. It seema like uphold and brave is blaming each other and bo one is taking responsibility. Can we get a clarification on this matter? Its veen too long with this shit and nothing is happening, very frustrating.

[2021-06-30 06:55] deepxcode commented on #13686
If this issue hasn't be resolved yet, @stephendonner  Can I take this issue? I am new to open source but would love to contribute to Brave Browser.

[2021-06-30 07:05] srirambv commented on #16673
Closing as wontfix

[2021-06-30 07:05] #16673 closed

[2021-06-30 07:13] LorenzoMinto opened #16697 "Rename OperationalProfiling class to OperationalPattern"

[2021-06-30 07:15] deepxcode commented on #16697
Is this a good first issue? I would like to contribute.

[2021-06-30 07:27] srirambv commented on #16564
Verification passed on OnePlus 6T with Android 10 running 1.26.74 x64 build
**Clean Install**
- Verified `Brave Search beta` is updated to `Brave` during onboarding
- Verified selecting `Brave` during onboarding sets it as default for both normal and private tabs

![image](https://user-images.githubusercontent.com/17010094/123918585-ed472680-d97b-11eb-9539-c4791f90e178.png) |![image](https://user-

[2021-06-30 07:32] kjozwiak commented on #16665
Reproduced on `macOS 11.4 x64` using the following build:

[code]

As soon as you attempt to import a generated key, Brave will crash instantly. I ran into the above while running through https://github.com/brave/brave-browser/issues/16668 and wanting to check if https://github.com/brave/brave-browser/issues/16039 as `1.26.67 Chromium: 91.0.4472.114` doesn't have the fix.

[2021-06-30 07:33] kjozwiak commented on #16668
Went through all of the above cases other than the `Automatic redirects (needs fleshing out)` section:

[code]

* Reproduced https://github.com/brave/brave-browser/issues/16670
* Reproduced https://github.com/brave/brave-browser/issues/16039 while using ` 1.26.67 Chromium: 91.0.4472.114`. Went through the same case using `1.27.85 Chromium: 91.0.4472.124` but ran into https://github.com/brave/brave

[2021-06-30 07:43] petemill opened #16698 "Brave News: Display Ads"
## Description

Add Display Ad units to the Brave News feed on the NTP.
- Call Ads service to retrieve, mark as read and mark as visited
- Open new tab only when requested by user (e.g. ctrl/cmd click), otherwise open in same tab.
- BAT "ad" label should go to brave://rewards page
- Preserve scroll position on navigate "back" after viewing an ad
- Display new call to action button
- Center and fit

[2021-06-30 08:33] HKalbasi commented on #15494
Seems fixed in later versions.

[2021-06-30 08:33] #15494 closed

[2021-06-30 08:44] goodov opened #16699 "Restore git remote url when git cache is enabled"
When git config ```cache.cachepath``` is set, ```gclient sync``` will override brave-core remote url to a local folder path. This will break direct git fetch/pull operations which are not triggered via ```gclient```.
To fix this, we need to restore url by reusing ```pushurl``` which ```gclient``` sets in this case.

This is what happens after ```gclient sync --reset --nohooks --revision src/brave@

[2021-06-30 10:31] GeetaSarvadnya commented on #16689
Looks good hence closing the issue.

[2021-06-30 10:31] #16689 closed

[2021-06-30 10:58] srirambv commented on #16691
Verification passed on OnePlus 6T with Android 10 running 1.26.74 x64 build

[2021-06-30 10:58] #16691 closed

[2021-06-30 12:17] spylogsster commented on #16666
@stephendonner do you have IPFSCompanion installed as well?

[2021-06-30 12:24] srirambv commented on #16692
Verification passed on Samsung Tab A with Android 10 running 1.26.74 x64 build

[2021-06-30 12:24] #16692 closed

[2021-06-30 12:32] sheikh-azharuddin opened #16700 "allow the user to add top sites"
## Description
We need more than 4 top sites in android.

## Steps to reproduce

   1. Open brave android
   2.  Check the homepage
   3. It does not contain more than 4 top sites

## Actual result
Currently only 4 top sites showing which cannot be modified

## Expected result
Need more than 4 top sites and which can be customised/managed by users

## Issue reproduces how often

## Version/Channel

[2021-06-30 12:43] lidel commented on #16680
This is caused by a bug in ipfs-webui.
It was  fixed in latest version shipped with go-ipfs 0.9.0, so only thing here is to retest after we update to go-ipfs 0.9

[2021-06-30 13:02] kyoyacchi commented on #15802
So... Any changes about this?

[2021-06-30 13:11] #16697 closed

[2021-06-30 13:17] spylogsster commented on #16680
lets check this after https://github.com/brave/qa-resources/issues/321

[2021-06-30 13:55] LaurenWags commented on #16688
`Brave-Browser-universal` build used:

[code]

`Brave-Browser-x64` build used:

[code]

[2021-06-30 13:55] #16688 closed

[2021-06-30 14:06] #16633 closed

[2021-06-30 14:09] nastavoi opened #16701 "Brave informs me that it will use DuckDuckGo SE for Private Tabs even if Brave SE is enabled"
## Description

Brave informs me that it will use DuckDuckGo SE for Private Tabs even if Brave SE is enabled.

## Steps to reproduce

   1. Open Brave Beta or Nightly
   2. Go to Settings and select Brave SE for private tabs
   3. Open private Tab
   4. See browser warning/notification that DDG SE will be used
   5. Search for something and notice that Brave SE is used  (as expected)

## Actual re

[2021-06-30 14:35] srirambv commented on #16656
Closing as dupe of #12568. Basically same issue as #12568 tokens don't show up unless page is reloaded

[2021-06-30 14:35] #16656 closed, assigned to nobody

[2021-06-30 14:39] samartnik commented on #16593
One more possibly related crash:
[code]

[2021-06-30 14:41] lidel commented on #16671
Seems that dweb.link got updated to go-ipfs 0.9 and there is something different about handling of CIDs with `identity` multihash (like `bafkqaaa`), will look into this ASAP.

[2021-06-30 14:42] srirambv commented on #12568
This happens after swap as well as per #16656

[2021-06-30 15:02] #16485 closed

[2021-06-30 15:05] GeetaSarvadnya commented on #16680
Please note the issue applicable for import `This page` context menu also.

![image](https://user-images.githubusercontent.com/38657976/123984851-9cb6e400-d9e2-11eb-89a8-442a49d1bc89.png)
![image](https://user-images.githubusercontent.com/38657976/123984924-ac362d00-d9e2-11eb-8ea1-9819a706da2a.png)

[2021-06-30 15:11] alaboudi opened #16702 "Analytics in URL causing issues"
## Description

I had to rack my brain to figure this one out but It seems like the Brave will block a request to an endpoint if the word `analytics` is in the url. This is true even if the request is a `GET` request. For context, I am trying to visualize some data on a web app but the Javascript request fails because the url happens to have the word `analytics` in it. I'm certain the the heuristi

[2021-06-30 15:12] srirambv opened #16703 "CW prompts to set approval a second time, even when it’s already set"
## Description

CW prompts to set approval a second time, even when it’s already set

## Steps to Reproduce

   1. Install `1.0.31 Dev` componet
   2. Set Approval for an ERC20 token swap
   3. Click on continue to swap and update the GWEI or change the amount
   4. Continue to swap sets a second approval even though one was set already

## Actual result:

![image](https://user-images.githubuserco

[2021-06-30 15:28] kjozwiak opened #16704 "Release notes for `1.26.x - Release #3`"
### Release Notes:

* relabel search engine name to "Brave" #16564
* Upgrade from Chromium 91.0.4472.120 to Chromium 91.0.4472.124. #16600

[2021-06-30 15:46] GeetaSarvadnya opened #16705 "Preloaded MP4 files cannot be imported via IPFS context menu"
## Description

Found while testing https://github.com/brave/brave-browser/issues/15937
Preloaded MP4 files cannot be imported via IPFS context menu
## Steps to Reproduce

   1. Clean profile 1.27.x
   2. Enable IPFS
   3. Use the Ctlr+O shortcut key and open any MP4 file from your local machine
   4. Right-click on the play icon and select `Import to IPFS->Selected video` option
   5. Getting IPF

[2021-06-30 16:04] stephendonner commented on #16705
Thanks, @GeetaSarvadnya - FWIW, I've also reproduced this on:

Brave | 1.28.37 Chromium: 91.0.4472.124 (Official Build) nightly (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

File: `https://download.samplelib.com/mp4/sample-5s.mp4` from `https://samplelib.com/sample-mp4.html`

[2021-06-30 16:09] zenparsing commented on #16612
See https://github.com/brave/brave-browser/issues/16612 for a previous related issue.

[2021-06-30 16:10] mrcaio commented on #2153
+1
something about?

[2021-06-30 16:15] lidel commented on #16671
- There is a regression in mimetype sniffing library used by go-ipfs, it changed the behavior when an empty byte array is processed. Unfortunately, that is exactly what `bafkqaaa` returns.
  - Quick fix is to replace `bafkqaaa` with something that returns plain text. Submitted Companion with a fix (https://github.com/ipfs/ipfs-companion/pull/1011)  to Chrome Web Store will post update when it gets

[2021-06-30 16:15] stephendonner commented on #16668
I wrapped up the `Automatic redirects` testing, and will be editing those tests on `https://github.com/brave/brave-browser/wiki/IPFS-Features` for clarity/specificity.

We're good to go (no pun intended, but I'll take it) with `go-ipfs` `0.9.0`; closing out!  Thanks again for running through this @kjozwiak !

[2021-06-30 16:15] #16668 closed

[2021-06-30 16:19] LaurenWags commented on #16690
Tests above verified using

[code]

[2021-06-30 16:19] #16690 closed

[2021-06-30 16:22] #16704 closed

[2021-06-30 16:26] kjozwiak opened #16707 "Release notes for `1.26.x - Release #3`"
### Release Notes:

* relabel search engine name to "Brave" #16564
* Upgrade from Chromium 91.0.4472.120 to Chromium 91.0.4472.124. #16600

[2021-06-30 16:31] mkarolin opened #16708 "[cr92 followup] Settings page is blank"
The brave://settings page is blank and there's an error in the console:

[Brave Settings Overrides] Could not find menu item '/safetyCheck'

STR:

1. Start Brave
2. Navigate to brave://settings

Observe: the settings page is blank
Expected results: settings are shown

[2021-06-30 16:39] kjozwiak commented on #16697
Adding missing `1.28.x - Nightly` label as this landed in `master` which is currently on `1.28.x`.

[2021-06-30 16:50] stephendonner opened #16709 "Update Brave Talk URL in Sidebar to talk.brave.com"
## Description

Update Brave Talk URL in Sidebar to `talk.brave.com`; once https://github.com/brave/devops/issues/5168 lands, and creates an `HTTP 301 Permanent Redirect` from `together.brave.com` -> `talk.brave.com`, I think the following code might break Brave Talk in the Sidebar:

https://github.com/brave/brave-core/blob/ea66a8c49ade46d0d3d892626e7eea0948a95e09/components/sidebar/sidebar_servic

[2021-06-30 16:56] LaurenWags commented on #16693
Tests above verified on Asus Zenfone (x86) with Android 6.0 running 1.26.74

[2021-06-30 16:56] #16693 closed

[2021-06-30 17:02] #16370 closed

[2021-06-30 17:11] #16648 closed

[2021-06-30 17:13] SilverWx commented on #15754
As a user I can say I have the problem too

[2021-06-30 17:16] #16707 closed

[2021-06-30 17:23] Amariithynar commented on #15008
@NathanaelA I'm not a programmer myself, unfortunately, and know nothing about fiddling with the context menu at all, either. I'll try opening a new issue referencing this one.

[2021-06-30 17:27] Amariithynar opened #16711 "BUG/Unwanted: QR code selector in right-click context menu that takes up a lot of menu space, cannot be removed."
Copying over the relevant information from my post in Issue #15008 to a new issue as per @NathanielA's recommendation to make a new issue;

 I don't care about the icon in the URL bar that much; however, having it shoved in my face in the right-click context menu every single time, moreover with it having its own separate section to even further bloat it? THAT I have serious issue with.

![Right-C

[2021-06-30 17:45] lidel commented on #16671
@stephendonner Companion v2.19.1 just got approved, it includes a fix that should solve this without waiting for go-ipfs.
Mind re-testing and confirming the issue is gone?

[2021-06-30 17:50] #15458 closed

[2021-06-30 17:50] mkarolin opened #16712 "[cr92 followup] Signing on MacOS is broken"
<pre>
FAILED: Brave Browser Nightly.dmg.eddsa
10:17:49  python3 ../../brave/build/mac/generate_sig.py ... --eddsa
10:17:49  Traceback (most recent call last):
10:17:49    File "../../brave/build/mac/generate_sig.py", line 45, in <module>
10:17:49      sys.exit(Main())
10:17:49    File "../../brave/build/mac/generate_sig.py", line 34, in Main
10:17:49      command = [args.sign_update_path, '-s', ar

[2021-06-30 17:59] santiyounger commented on #15754
It's a shame a simple issue like this made Brave no longer an option for me. I'll keep an eye on this issue to see if I can return to Brave one day.

[2021-06-30 18:05] GeetaSarvadnya opened #16713 "txt and json files cannot be imported via Share or import IPFS options"
## Description

txt and json files cannot be imported via Share or import IPFS options

## Steps to Reproduce

   1. Clean profile 1.27.x
   2. Enable IPFS
   3. Click on the Hamburger menu and select `IPFS->Share local files using IPFS` or Import the local file via the `Import` menu
   4. Share/import the .txt or .json file from local machine

## Actual result:

txt and json files cannot be impor

[2021-06-30 18:07] privatedev11 opened #16714 "QUESTION: Can I use a sync chain on Brave Nightly"
I want to switch to Brave Nightly from Brave Release but I will only switch if I can do a sync chain and transfer bookmarks.

[2021-06-30 18:17] tmancey opened #16715 "Fix `PurgeOrphanedAdEventsForType` for iOS"

[2021-06-30 18:48] akshat-rawat commented on #16181
Hi, I would like to work on this issue.
I have tracked down the root of this issue at `brave-core/app/settings_strings.grdp`, `brave-core/browser/ui/android/strings/android_chrome_strings.grd` and in `.xtb` files.

[2021-06-30 18:51] mkarolin opened #16716 "[cr92 followup] Revert switch to newer plistlib APIs in tweak_info_plist.py"
The change in https://github.com/brave/brave-core/commit/59bb24f6d65fdb8eaef107830602940d1a5f73d2 seems to be causing errors on some dev systems:

<pre>
Traceback (most recent call last):
  File "../../brave/build/mac/tweak_info_plist.py", line 108, in <module>
    sys.exit(Main())
  File "../../brave/build/mac/tweak_info_plist.py", line 76, in Main
    plist = plistlib.load(f)
AttributeError: 'mo

[2021-06-30 19:43] mkarolin opened #16717 "[cr92 followup] Revert conversion of unit tests to static_library"
Unit tests that aren't in `source_set` don't get to run.

Unfortunately, this means that we will get a out of memory error when linking unit tests on Linux with DCHECKs turned on, but we'll have to find a different way of solving it.

[2021-06-30 19:52] recalcitrant commented on #6014
This is the only thing preventing me from moving from Vivaldi to Brave. It could be so easy...

[2021-06-30 19:53] mkarolin opened #16718 "[cr92 followup] Fix signing on Windows"
Signing on Windows doesn't work due to `sign_binaries.py` change to use `with` for subprocess.Popen.

[2021-06-30 20:14] tmancey commented on #16715
Closing as fixed by https://github.com/brave/brave-core/pull/9250/

[2021-06-30 20:14] #16715 closed

[2021-06-30 20:14] anthonypkeane commented on #14853
Hi, we only plan to have one widget space but will work to add more options to that widget space in time. And, we'll also fix the 4 bookmark issue.

[2021-06-30 20:14] #14853 closed

[2021-06-30 20:15] sdgrs546547Q commented on #2826
brave will fix this? universal bypass is a great extension and is a shame that we cant use it on Brave Browser.

[2021-06-30 20:27] #16249 closed

[2021-06-30 21:07] stephendonner commented on #16612
That's this bug; did you mean https://github.com/brave/brave-browser/issues/14841?

[2021-06-30 21:08] stephendonner commented on #16666
Yes, I must have had it in my profile when testing `go-ipfs` `0.9.0` interop; sorry for forgetting to take stock and mention that!

[2021-06-30 21:27] stephendonner commented on #16671
Looks good using https://github.com/ipfs/ipfs-companion/releases/tag/v2.19.1 with

Brave | 1.28.37 Chromium: 91.0.4472.124 (Official Build) nightly (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

example | example | example
---------|----------|--------
<img width="1312" alt="Capture d’écran 2021-06-30 à

[2021-06-30 21:44] stephendonner commented on #16705
This worked for me, same build as above, when I ran with `--use-dev-goupdater-url`, and picked up `go-ipfs` `0.9.0` (which we are set to release today or tomorrow).  Does that fix it for you, @GeetaSarvadnya ?

[2021-06-30 21:58] stephendonner opened #16719 "Escape character in French translation of "Use a local node" IPFS button"
## Description

Escape character in French translation of "Use a local node" IPFS button

## Steps to Reproduce

   1.  set your OS language to French
   2. new profile
   3. launch Brave
   4. load `ipns://brantly.eth`
   5. click on the 1st button, `Utilliser un noeud local`
   6. look at the next button state

## Actual result:

There's a `&#39;` present (I think that's an `'` apostrophe?)

<im

[2021-06-30 23:06] stephendonner commented on #15586
**Verified `PASSED`** using

Brave | 1.28.37 Chromium: 91.0.4472.124 (Build officiel) nightly (x86_64)
-- | --
Révision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
Système d'exploitation | macOS Version 11.4 (assemblage 20F71)

Pre-requisities:

Set OS language to French, and do so in Brave, too, at `brave://settings/languages`

**Steps:**

1. new profile
2. went to

[2021-07-01 00:42] #16708 closed

[2021-07-01 01:05] kylehickinson opened #16720 "Cleanup iOS files within brave-core"
All of the iOS files should migrate to the `ios/` folder from `brave-ios` so its consistent with sync/bookmarks/history

[2021-07-01 01:05] #16720 closed

[2021-07-01 01:53] ryanbr commented on #16702
Example url causing issues? @alaboudi

[2021-07-01 03:01] #16716 closed

[2021-07-01 03:13] srirambv commented on #16181
@akshat-rawat Assigned the issue to you. Please open a PR for it.

[2021-07-01 05:31] stephendonner commented on #15094
This is now working for me, using

Brave | 1.28.37 Chromium: 91.0.4472.124 (Official Build) nightly (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}

<img width="1792" alt="Screen Shot 2021-06-30 at 10 28 49 PM" src="https://user-images.githubusercontent.com/387249/124070395-a21c2a80-d9f2-11eb-8695-504ebb540aa6.png">

@srirambv how about you?

[2021-07-01 05:33] stephendonner commented on #14508
@rebron can we get this into `1.27` or at least `1.28`, given Brave News Ads are also soon shipping?

[2021-07-01 05:47] #16718 closed

[2021-07-01 05:50] #16712 closed

[2021-07-01 06:31] Brandon-T opened #16721 "Add option to disable debugger keyword abuse"
## Description

Some websites are detecting when the `Dev Tools` console is open and hiding malicious code by first detecting the dev-tools, temporarily removing the malicious HTML, and then triggering a `debugger` breakpoint infinitely to make it extremely hard to debug the page or see what is happening.

## Steps to Reproduce

[code]

This is even worse when someone uses a JS `Source Map`:
[code

[2021-07-01 06:44] #15568 closed

[2021-07-01 06:56] akshat-rawat commented on #16181
@srirambv, Thankyou for the opportunity, I just wanted to confirm the changes.
From.
`Does not protect you against dangerous websites, downloads and extensions. You’ll still get Safe Browsing protection, where available, in other Brave services, like Gmail and Search.`
To,
`Does not protect you against dangerous websites, downloads and extensions.`

Or is there a better alternative?

[2021-07-01 07:17] srirambv commented on #16181
Looping in @fmarier @karenkliu  for text change. We may want to keep the `You'll still get Safe Browsing protection` part

[2021-07-01 07:19] tortino commented on #11769
yes, on android I'd like to identify the release brave from nightly one.
currently it's impossibile because the device name is the same.

[2021-07-01 07:33] akshat-rawat commented on #16181
What about?
`Does not protect you against dangerous websites, downloads and extensions. You’ll still get Safe Browsing protection, where available, in other Brave services, like Search and Passwords.`

[2021-07-01 07:33] srirambv commented on #15094
Yes this seems to be fixed now for me as well. There is no dealy/errors when loading via cloudflare dns. @stephendonner we should be good to close this one out now

[2021-07-01 07:34] tortino commented on #16714
I'm currently using nightly, and have enabled sync.
It seems to works, but maybe some developers could confirm that?

[2021-07-01 08:48] spylogsster commented on #16713
![image](https://user-images.githubusercontent.com/2965009/124095124-0d511580-da62-11eb-9ed6-2c9d31119fdd.png)
it works for me on 0.9.0 node and we have duplicated issue https://github.com/brave/brave-browser/issues/16680 @GeetaSarvadnya

[2021-07-01 09:31] lidel commented on #16670
Having the same key under different names is allowed by `ipfs key import`, so technically it is not a bug. More like an UX concern.

Brave could add check that forces user to have only one key, but not sure if that improves UX enough to justify additional development/code. I don't feel strongly about this either way :)

[2021-07-01 10:52] akshat-rawat opened #16722 "Update src to chromium_src in CONTRIBUTING.md"
## Description

## Steps to Reproduce

   1.  Link:- [https://github.com/brave/brave-browser/blob/master/CONTRIBUTING.md#making-changes](https://github.com/brave/brave-browser/blob/master/CONTRIBUTING.md#making-changes)
   2. Line 72:- `cd src/brave`

## Actual result:
![image](https://user-images.githubusercontent.com/78139798/124111099-8bbfae80-da86-11eb-8a3b-d9247040cacd.png)

## Expected resul

[2021-07-01 11:02] WIsbrecht opened #16723 "ads on wetter.com"
## Description

I'm seeing ads on wetter.com

## Steps to Reproduce

   1. go to wetter.com
   2. ads are shown all over the place

## Actual result:

![image](https://user-images.githubusercontent.com/939173/124113774-1cd55c00-da6c-11eb-838c-85dfc0baeed1.png)

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

Version 1.26.74 Chromium: 91.0.4472.124 (Official

[2021-07-01 11:07] amark commented on #14370
@bsclifton @rebron this bug is worse now. It still skips first, but now as you cycle thru tabs (without letting go) it adds them to the last seen cycle!

Example, tabs:

[alice, bob, carl, dave]

say I start at Alice and I hold down to cycle to Dave and let go/up.

If I then do 1 cycle, I expect to go back to Alice.

But no, because I passed thru Carl last before Dave, it takes me to Carl.

My cyc

[2021-07-01 11:43] ryanbr commented on #14818
Safe to close @dodona2 ? I thought the popups wasn't resolved. but it seems fine now

[2021-07-01 12:24] #16678 closed

[2021-07-01 12:38] #16665 closed

[2021-07-01 12:51] marqvi opened #16724 "Add support for hypercore protocol"
## Description
Like ipfs:// and ipns:// the hypercore protocol is a peer-to-peer data network. From the site:

Hypercores are signed, append-only logs. They're like lightweight blockchains without the consensus algorithm. As with BitTorrent, as more people "seed" a dataset it will increase the available bandwidth.

The hypercore protocol enables hyperdrives and hypercores which are very well suite

[2021-07-01 12:58] tmancey commented on #16627
@himanshu007-creator That's great you are enjoying Brave. Apologies, I just noticed you would have liked to work on this.

[2021-07-01 12:59] himanshu007-creator commented on #16627
Nevermind, I'll find some other low hanging fruit (easy issue)🙂

[2021-07-01 13:06] tmancey opened #16725 "Brave Ads creative instance id is empty in the retry queue"
## Description

## Steps to Reproduce

   1. TBD
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the nightly channel?

## Other Additional Informati

[2021-07-01 13:26] lidel commented on #16671
I believe we can close this, as Companion will no longer use the problematic CID, so we don't need to wait for upstream fix.

[2021-07-01 13:32] lidel commented on #16606
I think we should hide the badge when a third-party Gateway is used.

Agree with @stephendonner that showing it makes sense only when local node is running (when you use Gateway you DON'T really "Open using IPFS", but delegate trust to a third-party)

[2021-07-01 13:39] mkarolin opened #16726 "Upgrade from Chromium 92.0.4515.70 to Chromium 92.0.4515.81."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/92.0.4515.70..92.0.4515.81?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-07-01 13:40] sripathiks commented on #16151
What is this clock error and why is it even coming? I am not able to use the websites due to this issue. What is the resolution or workaround for this?
The URL works on Edge, Firefox where I can accept the risk and continue. But brave just stops this.

I have never seen this clock error earlier. what is this error really?

[2021-07-01 14:01] srirambv opened #16727 "Manual test run on OS X for Ethereum Remote Client 1.0.30"
## Per release specialty tests

## Branding

- [x] Verify there are no appearances of the word MetaMask
- [x] Verify links to MetaMask resources such as websites and email should point to Brave resources
- [x] Verify all downloadable resources (Seed/Logs) contains Brave file names
- [x] Verify MetaFox logo is not present on any screen

## Component

- [x] Verify Ethereum client component is downlo

[2021-07-01 14:01] srirambv opened #16728 "Manual test run on Windows x64 for Ethereum Remote Client 1.0.30"
## Branding

- [x] Verify there are no appearances of the word MetaMask
- [x] Verify links to MetaMask resources such as websites and email should point to Brave resources
- [x] Verify all downloadable resources (Seed/Logs) contains Brave file names
- [x] Verify MetaFox logo is not present on any screen

## Component

- [x] Verify Ethereum client component is downloaded when you open brave://walle

[2021-07-01 14:01] srirambv opened #16729 "Manual test run on Linux for Ethereum Remote Client 1.0.30"
## Per release specialty tests

## Branding

- [x] Verify there are no appearances of the word MetaMask
- [x] Verify links to MetaMask resources such as websites and email should point to Brave resources
- [x] Verify all downloadable resources (Seed/Logs) contains Brave file names
- [x] Verify MetaFox logo is not present on any screen

## Component

- [x] Verify Ethereum client component is downlo

[2021-07-01 14:01] ECon87 commented on #354
Is this happening? It would be great if we could customize shortcut keys

[2021-07-01 14:07] srirambv opened #16730 "Remove references to Metamask on swap screens"
## Description

Remove references to Metamask on swap screens

## Steps to Reproduce

   1. Install 1.0.31 build
   2. Perform Swap
   3. A lot of references to MM which should be replaced with Brave

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/124137221-5f536480-da7d-11eb-9c3c-be04b247c3fa.png) | ![image](https://user-images.githubusercontent.com/17010094/124137

[2021-07-01 14:59] lidel commented on #16666
IPFS Companion could hide duplicate actions when running in Brave – mind filling issue in https://github.com/ipfs/ipfs-companion with list of actions to hide?

[2021-07-01 15:14] GeetaSarvadnya commented on #16713
@stephendonner Issue is working fine with `--use-dev-goupdater-url` `0.9.0`.  I will test the issue once the IPFS component version `0.9.0` is pushed into 1.27.x and close off the issue

[2021-07-01 15:39] LaurenWags commented on #15005
Verification in progress with

[code]

<details>
<summary>Scenario 1 - not all tokens from June cashed in prior to Jul 1 (some token roll-over) - Production</summary>

Confirmed starting July 1 the new UI showed as expected on brave://rewards ad panel and NTP widget.
Confirmed new UI showed expected ad grant amount per the cashed in tokens from the logs.
Confirmed that uncashed in tokens from June

[2021-07-01 15:40] gatocinza commented on #16685
__Update July-01:__

Today `sudo apt-get update` thrown this:
[code]

[2021-07-01 15:43] GeetaSarvadnya commented on #16705
@stephendonner It's not working for me in IPFS version `0.9.0`
![IPFS_MP4 Import failed](https://user-images.githubusercontent.com/38657976/124152277-030a3800-dab1-11eb-9cb5-b2dbecbe6e7d.gif)

[2021-07-01 16:10] LaurenWags opened #16731 "update arrival date value for ad grant UI - follow up to #15005"
## Description

Found while testing #15005, the "arriving in X days" is sometimes rounding up, which can be confusing when comparing it to the displayed "Next payment date".

See https://bravesoftware.slack.com/archives/CB0KCRCQN/p1625153601283200 for additional context.

## Steps to Reproduce

   1. Have ad tokens cashed in for previous month.
   2. On the 1st of the next month, go to brave://rew

[2021-07-01 16:11] mkarolin opened #16732 "[cr92 followup] Fix MacOS signing II."
<pre>
10:28:01    File "../../brave/build/mac/generate_sig.py", line 53, in <module>
10:28:01      sys.exit(Main())
10:28:01    File "../../brave/build/mac/generate_sig.py", line 18, in Main
10:28:01      group_key.add_argument('--sign-key-file', dest='sign_key_file', action='store',
10:28:01    File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/lib/

[2021-07-01 16:20] #16732 closed

[2021-07-01 16:25] tortino commented on #16584
Yes, I really want the ad picker on android!
my current awful workaround: I installed firefox and ublock origin.
When I'm browsing with Brave and I see an ad then I load the page in firefox, use the picker, copy the selector and paste into Brave adblock page. Sometimes it works and sometimes it doesn't.
Please add the picker to Android.
Thanks.

[2021-07-01 16:25] rodalpho commented on #6014
Yep, I'm sticking with Firefox myself and dealing with all the petty annoyances because I use chording and wheel gestures too.

[2021-07-01 16:29] mkarolin opened #16733 "[iOS] CI build error 'ads.mojom.h not found'"
<pre>
11:16:25  In file included from gen/brave/ios/browser/api/ads/ads.mojom.objc.mm:7:
11:16:25  gen/brave/ios/browser/api/ads/ads.mojom.objc+private.h:8:9: fatal error: 'brave/vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom.h' file not found
11:16:25  #import "brave/vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom.h"
11:16:25          ^~~~~~~~~~~~~~~~~~~~~~~~~

[2021-07-01 16:30] karenkliu commented on #16181
cc @rmcfadden3 on this for the text change. We have an in-house copywriter now and should filter all our text through them.

[2021-07-01 16:36] kylehickinson commented on #16733
I didn't run into this in any of my local builds and it passed CI previously before I merged. Is this failing for all new pr's or is it a specific change?

[2021-07-01 16:40] nullhook opened #16734 "Migrate from tslint -> eslint"
Since tslint is deprecated we should migrate to `typescript-eslint` which has better support and tooling.

We would need to change in the following areas:

1. add appropriate local packages for typescript eslint
2. add a new config that would be similar to `tslint.json`
2. add new entry to run under `scripts` inside package.json
3. change the PR template to reflect the new npm run command

[2021-07-01 16:41] mkarolin commented on #16733
Only ran into it once here: https://ci.brave.com/job/pr-brave-browser-maxk-revert-unit-tests-in-static-libs-ios/3/execution/node/140/log/ - it's probably intermittent.

[2021-07-01 17:05] akshat-rawat commented on #16181
@karenkliu, please let me know if there are any updates on what the changed text should be.

[2021-07-01 17:12] akshat-rawat commented on #14596
Hi, I would like the work on the issue.
Acc. to me the cause of the issue is in `brave-core/components/resources/brave_components_strings.grd`

[2021-07-01 17:19] #16637 closed

[2021-07-01 17:19] #16638 closed

[2021-07-01 17:19] #16640 closed

[2021-07-01 17:19] #16641 closed

[2021-07-01 17:19] #16643 closed

[2021-07-01 17:19] #16645 closed

[2021-07-01 17:19] #16703 closed

[2021-07-01 17:19] #16676 closed

[2021-07-01 17:19] #16730 closed

[2021-07-01 18:07] GeetaSarvadnya commented on #15667
@fmarier https://pinning-test.badssl.com/ fails in Brave beta (1.27.x). It works fine in Chrome. I have reset the IP (using `netsh int ip reset` and `netsh winsock reset`) and tried again but no luck.
![image](https://user-images.githubusercontent.com/38657976/124170348-ee379f80-dac4-11eb-9337-f2b4c0ceb5bf.png)
![image](https://user-images.githubusercontent.com/38657976/124170562-36ef5880-dac5-11e

[2021-07-01 18:29] stephendonner opened #16736 "Crash when clicking on Rewards pane in Settings, while in Guest mode"
## Description

Crash when clicking on Rewards pane in Settings, while in Guest mode

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. click on the "hamburger" menu and choose `Open Guest Window`
   4. click on the menu again and now choose `Settings`
   5. click on the `Rewards` pane

## Actual result:

Instantly crashes upon click on the `Rewards` pane, in:

[code]

## Expected

[2021-07-01 18:32] kjozwiak commented on #16736
Great find @stephendonner 👍 Reproduced on `Win 10 x64` on Nightly as well using the following:

[code]

[2021-07-01 18:34] stephendonner commented on #14596
Assigning to you @akshat-rawat; thanks for taking a look!

[2021-07-01 18:44] stephendonner opened #16737 "ipns and ipfs URLs should not redirect/load over a Gateway in Private and Guest windows"
## Description

`ipns://` and `ipfs://` URLs should not redirect/load over a Gateway in Private and Guest windows

See https://github.com/brave/brave-browser/issues/12978 for more details - the below testplan is from there.

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. set `Method to resolve IPFS resources` to `Gateway` in `brave://settings/ipfs`
   4. do either/both a Private

[2021-07-01 18:59] stephendonner commented on #16670
Same; mostly just wanted to get this logged for decision/paper-trail reasons :-)

[2021-07-01 19:10] bsclifton commented on #16717
Fixed with https://github.com/brave/brave-core/pull/9297

[2021-07-01 19:10] #16717 closed

[2021-07-01 19:20] jonathansampson commented on #15005
"Arriving in x days" refers to the _start of the payout process_, and not necessarily when the user will receive their rewards. For some, it may be `x` days. For others, it may be `x + 1` days. Correct?

[2021-07-01 19:26] tmancey commented on #15005
@jonathansampson that is correct

[2021-07-01 19:36] jonathansampson commented on #15005
Thank you for confirming, @tmancey. We should then expect to receive routine feedback from users who fall into the _x + y days_ category, given the current wording.

[2021-07-01 19:49] akshat-rawat commented on #14596
@stephendonner, I have made the necessary changes and opened a [PR](https://github.com/brave/brave-core/pull/9306) for the same.

[2021-07-01 20:11] keur opened #16738 "speedreader: Only automatically drop down the bubble 3 times"
The way users are introduced to reader mode is by manually distilling a page using the reader icon in the omnibox. Once the distillation completes, a bubble drops down asking the user to enable Speedreader. Right now this happens every time the button is pressed. Let's only do it 3 times so that users that just want to use the feature manually don't get frustrated.

[2021-07-01 20:19] wyatt400 commented on #13600
@rebron Seems fixed, test this again, should close this issue.

[2021-07-01 20:25] rmcfadden3 commented on #16181
How about this:

Does not protect you against dangerous websites, downloads, or extensions. (Where available, you’ll still get safe browsing protection in other Brave services.)

[2021-07-01 20:25] tortino commented on #16437
@srirambv Hello, I have installed nightly, but I can't find the option you are talking about.
Where is it?
Thank you.

[2021-07-01 20:27] stephendonner commented on #16171
Thanks, all - we should be shipping this Real Soon Now (tm); testing has completed and you can keep track over in https://github.com/brave/brave-browser/issues/16578

[2021-07-01 20:29] tmancey opened #16739 "Ad notifications should not be served on mobile if a user is opted-in to Brave News and has Brave Ads disabled"
## Description

## Steps to Reproduce

   1. Opt-in to Brave News
   2. Disable Brave Ads

## Actual result:

Ad notifications are shown

## Expected result:
Ad notifications should not be shown

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release? N/A
- Can you reproduce this

[2021-07-01 20:45] LaurenWags opened #16740 "NTP is blank on C92 Nightly"
## Description

New tab page is blank on C92 Nightly.

## Steps to Reproduce

   1. Clean profile with 1.28.46
   2. Open NTP

## Actual result:

<img width="1198" alt="Screen Shot 2021-07-01 at 4 04 48 PM" src="https://user-images.githubusercontent.com/28145373/124187330-aea09180-da8b-11eb-9d30-bd7b97c7d3e2.png">

<img width="1194" alt="Screen Shot 2021-07-01 at 4 11 41 PM" src="https://user-imag

[2021-07-01 20:47] Douglashdaniel opened #16741 "Wire up Add Account Modal to Create another account"
## Description
Wire up the `Add Account Modal` to create another account to `Primary Accounts` / `defaultKeyring`

![Screen Shot 2021-07-01 at 2 45 24 PM](https://user-images.githubusercontent.com/40611140/124187399-04207280-da7b-11eb-9244-fe0372ef0ee4.png)

[2021-07-01 20:48] stephendonner opened #16742 "Question mark in peer-deletion confirmation dialog is on a new line"
## Description

(Super, super minor.)

Question mark in peer-deletion confirmation dialog is on a new line

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. set up a peer (see #15567 for full steps)
   4. load `brave://settings/ipfs/peers`
   5. click on the trash-can icon
   6. look at the resulting dialog

## Actual result:

[code]

<img width="1312" alt="Screen Shot 2021-07-01

[2021-07-01 21:15] stephendonner opened #16743 "Rotated keys don't appear until you manually reload the Settings page"
## Description

Rotated keys don't appear until you manually reload the Settings page

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `ipns://brantly.eth` and click `Use a local node`
   4. go to `brave://settings/ipfs/keys` and click on the reload icon next to the `self` key
   5. type `rotatedKey` and click `Rotate`

## Actual result:

Nothing visible happens

<img width=

[2021-07-01 21:31] LaurenWags opened #16744 "estimated pending rewards does not reset to expected value when you have uncashed in tokens - follow up to #16678"
## Description

Fix for #16678 works great, except when a user has uncashed in tokens. In the likely event that a user has tokens which have not been cashed in with the server, this will not work. So a user will still see incorrect pending BAT for current month.

## Steps to Reproduce

   1. Have a profile in the bad state with uncashed in tokens
   2. Launch with 1.28.46
   3. Look at UI and logs

[2021-07-01 22:26] RubenKelevra commented on #16171
Great, thanks for the work!

[2021-07-01 22:29] stephendonner opened #16746 "Standardized on Peer ID or PeerID (or...PeerId)"
## Description

(Yes, sorry, this is a tad pedantic.)

We've got IPFS peer IDs written as `Peer ID` and `PeerID` - let's choose one, for consistency's sake.

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `brave://ipfs`
   4. look at the copy for instances of `Peer ID` and `PeerID`

## Actual result:

<img width="1312" alt="Screen Shot 2021-07-01 at 3 24 36 PM" src="https:/

[2021-07-01 22:33] darkdh opened #16747 "[hackerone] #1249056 Tor log"
https://hackerone.com/reports/1249056

We need to get rid of the disk tor.log and then replace them with control channel events

`SETEVENTS NOTICE`, `SETEVENTS WARN` and `SETEVENTS ERR` with or without timestamp

[2021-07-01 23:41] stephendonner commented on #16633
Verified `PASSED` using the testplan in https://github.com/brave/internal/issues/784 with build

Brave | 1.28.46 Chromium: 92.0.4515.70 (Official Build) nightly (x86_64)
-- | --
Revision | 2df01a82398e62190b2aae01aaad7ca3d47aba01-refs/branch-heads/4515@{#923}
OS | macOS Version 11.4 (Build 20F71)

https://github.com/brave/internal/issues/784#issuecomment-872613751

[2021-07-01 23:58] stephendonner commented on #15568
Verified `FIXED` using

Brave | 1.28.46 Chromium: 92.0.4515.70 (Official Build) nightly (x86_64)
-- | --
Revision | 2df01a82398e62190b2aae01aaad7ca3d47aba01-refs/branch-heads/4515@{#923}
OS | macOS Version 11.4 (Build 20F71)

Steps:
1. clean profile
2. launched Brave
3. loaded `ipns://brantly.eth`
4. clicked `Use a local node`
5. went to `brave://ipfs-internals/`
6. clicked on `Manage PeerID and I

[2021-07-02 00:03] #16686 closed

[2021-07-02 00:09] stephendonner commented on #16267
Verified `PASSED` using the in-progress regression-testplan over at https://github.com/brave/brave-browser/wiki/IPFS-Features with build

Brave | 1.27.88 Chromium: 91.0.4472.124 (Official Build) dev (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

and tested using the released-today `go-ipfs` `0.9.0` binary.

[2021-07-02 00:55] stephendonner commented on #16171
NP, and sorry for the delay.  We'll be getting our testing and release process smoothed out a bit more, which should mean (much) quicker updates when there's a released version of `go-ipfs`.

This shipped a few hours ago, and your clients should be updated or updating soon.

@spylogsster how did we want to resolve this issue?  Dupe of https://github.com/brave/brave-browser/issues/16578?

[2021-07-02 00:56] stephendonner commented on #16666
Will try to get to this, but am heavily backlogged with other (more-pressing) work, so no promises 😄

[2021-07-02 01:36] vwalek commented on #5074
Works for me on Linux.

[code]

[2021-07-02 02:21] himanshu007-creator commented on #16742
Hi, i would like to work on this issue.

proposed solution
<code>
</code>

[2021-07-02 03:55] srirambv commented on #16181
@rmcfadden3 We proxy safe browsing requests so we may want to somehow mention that in there. Someone from @brave/sec-team may pitch in on it.

[2021-07-02 04:14] soham4abc commented on #16181
I am working on this issue. making the message " Does not protect you against dangerous websites, downloads, and extensions. (Where available, you’ll still get safe browsing protection in other Brave services.)"

[2021-07-02 04:27] kjozwiak commented on #13883
Looks like https://ci.brave.com/job/pr-brave-browser-pr9240_add-shields-settings_1.27.x-macos/1/testReport/ ran into this.

[2021-07-02 04:27] kjozwiak commented on #13884
Looks like https://ci.brave.com/job/pr-brave-browser-pr9240_add-shields-settings_1.27.x-macos/1/testReport/ ran into this.

[2021-07-02 04:31] #16740 closed

[2021-07-02 04:40] srirambv commented on #16181
@soham4abc Think @akshat-rawat  may already have a PR up for it. You can always choose any issues from [here](https://github.com/brave/brave-browser/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).

As for the wording I'd wait till someone from security team responds and @rmcfadden3 can update accordingly which can be used.

[2021-07-02 04:42] soham4abc commented on #16181
Okay then I am making a PR. If the wording needs to be changed I will do so.
If possible please do assign me for this issue!
Thank you!

[2021-07-02 04:51] srirambv commented on #16673
Removing from milestone as its a wontfix issue

[2021-07-02 04:52] srirambv commented on #16656
Removed from milestone as its a dupe of #12568

[2021-07-02 04:57] soham4abc commented on #16181
Okay sure! I already made a PR and if required will close it if @akshat-rawat  has the PR I will close my PR later.

[2021-07-02 04:58] specter78 commented on #8574
Firefox, when RFP is enabled, sets timezone to UTC+0. Maybe that can be done.

When using timezone other than this, browser's ip needs to be taken into consideration for setting timezone, else it can make browser more unique.

[2021-07-02 05:03] srirambv commented on #16638
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified value is contained within the input field
![image](https://user-images.githubusercontent.com/17010094/124222546-ddede780-daf9-11eb-9285-4

[2021-07-02 05:25] lil5 commented on #13849
I agree that adding icons is a necessary improvement.

Icons improves accessibility for those with reading difficulties or sight difficulties.

[2021-07-02 06:14] srirambv commented on #16640
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified `0x` is hyperlinked
![image](https://user-images.githubusercontent.com/17010094/124228817-a5074000-db04-11eb-9902-967369614516.png)

----

[2021-07-02 06:29] GeetaSarvadnya commented on #16736
Dup of https://github.com/brave/brave-browser/issues/14995 @emerick logged a follow-up issue to address the issue https://github.com/brave/brave-browser/issues/15053

[2021-07-02 06:29] #16736 closed

[2021-07-02 06:38] srirambv commented on #16641
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified tooltip is properly aligned below the button
![image](https://user-images.githubusercontent.com/17010094/124231295-fcf37600-db07-11eb-868

[2021-07-02 06:41] akshat-rawat commented on #16181
@soham4abc  I do have a PR ready just wanted to confirm the changed text.

[2021-07-02 06:43] srirambv commented on #16645
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified swap button is shown on all tokens added
- Verified clicking on Swap button pre-populates the from token
![image](https://user-images.git

[2021-07-02 06:49] srirambv commented on #16676
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified `No Conversion Rate Available` text is removed for ERC20 Tokens on swap screen
![image](https://user-images.githubusercontent.com/1701009

[2021-07-02 06:52] soham4abc commented on #16181
Sure... My PR is closed! Go ahead!

[2021-07-02 06:57] srirambv opened #16748 "`Next quote in` is not visible on dark theme"
## Description

`Next quote in` is not visible on dark theme

## Steps to Reproduce

   1. Set browser theme to dark
   2. Select a token for swap
   3. Next quote in is not visible
   4. Countdown becomes visible when the colour changes to red (0:20 -> 0:00)

## Actual result:

Countdown Not visible | Countdown visible
-- | --
![image](https://user-images.githubusercontent.com/17010094/124232803-

[2021-07-02 07:00] srirambv opened #16749 "Slippage Tolerance selection is not visible on dark theme"
## Description

Slippage Tolerance selection is not visible on dark theme

## Steps to Reproduce

   1. Set browser to dark theme
   2. Open Swap screen
   3. Slippage Tolerance selection is not visible.

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/124232803-0847a100-db0a-11eb-9a91-51cba7c098a9.png)

## Expected result:
Cleary visible buttons so you can distingui

[2021-07-02 07:00] deepxcode commented on #16742
@stephendonner  Would like to work on this? Can you assign this to me?
Thank You.

[2021-07-02 07:08] soham4abc commented on #14768
I can work on this issue. If possible pls assign @srirambv

[2021-07-02 07:25] #16111 closed

[2021-07-02 07:25] akshat-rawat commented on #16181
Is "Does not protect you against dangerous websites, downloads, or extensions. (Where available, you’ll still get safe browsing protection in other Brave services.)"
final or are we still waiting, @srirambv?

[2021-07-02 08:45] spylogsster commented on #16171
yes, lets wait update for 0.9.0

[2021-07-02 09:12] srirambv commented on #16730
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified there are no references of MetaMask
- Verified MM is replaced with brave (based on how MM use capitalisation)

![image](https://user-imag

[2021-07-02 09:26] srirambv commented on #16637
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified `Review Swap` button is disabled until a token is selected
![image](https://user-images.githubusercontent.com/17010094/124251906-55ce0900

[2021-07-02 09:29] srirambv opened #16750 "Review swap button can't be distinguished if its enabled/disabled"
## Description

Review Swap looks the same when token is selected or not

## Steps to Reproduce

   1. Set browser theme to dark
   2. Swap a token
   3. Do not select to token, Review swap button can't be distinguished if its enabled/disabled

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/124252158-975eb400-db1e-11eb-8b28-c3490bea2f69.png) | ![image](https://user-

[2021-07-02 09:34] specter78 opened #16751 "DNS leak while using vpn"
## Description
I have nextdns (app store app) and openvpn via Passepartout enabled at the same time.

When browsing using brave, dns requests go through nextdns (which exposes local ip) while browser ip is determined by vpn.

## Steps to Reproduce
Please refer to the description above.

## Actual result:
When browsing using brave, dns requests go through nextdns (which exposes local ip) while brow

[2021-07-02 09:35] srirambv commented on #16181
We should wait on https://github.com/brave/brave-browser/issues/16181#issuecomment-872693209

[2021-07-02 09:40] srirambv commented on #16643
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified reject swap resets the token details from previous attempt

---------
Verification passed on

Brave | 1.27.87 Chromium: 91.0.4472.124 (Of

[2021-07-02 09:41] GeetaSarvadnya opened #16752 "`.avi`, `.mpeg`, `.ogg` and `.wav` files cannot be played in IPFS"
## Description

`.avi`, `.mpeg`, `.ogg` and `.wav` files cannot be played in IPFS

## Steps to Reproduce

   1. Clean profile 1.27.x
   2. Launch brave using `--use-dev-goupdater-url`
   3. Make sure IPFS version is `0.9.0` in brave://ipfs-internals
   4. Import `.avi`, `.mpeg`, `.ogg` and `.wav` files via `+Import` or  hamburger menu `IPFS->Share local file using IPFS`
   5. Files can be imported

[2021-07-02 09:45] bbleslie98 commented on #16137
The issue is still present on the Brave version 1.26.67, with Chromium: 91.0.4472.114

[2021-07-02 09:47] srirambv commented on #16703
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

- Verified wallet doesn't prompt for approval once its already set

---------
Verification passed on

Brave | 1.27.87 Chromium: 91.0.4472.124 (Offic

[2021-07-02 09:53] gvladas commented on #16137
and Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)

[2021-07-02 10:05] srirambv opened #16753 "Token balance goes beyond dropdown"
## Description

Token balance goes beyond dropdown

## Steps to Reproduce

   1. Swap a token(LINK) so you have very less balance of it
   2. Open Swap menu and click on dropdown
   3. Token only shows 0's no way to find out the balance on swap screen unless you select that token in the From list

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/124258013-db54b780-db2

[2021-07-02 10:34] srirambv commented on #16675
Moving the issue out of milestone for now as it can't be repro'd. Will keep the issue open once I find a consistent repro steps then we can fix it

cc: @onyb

[2021-07-02 10:41] GeetaSarvadnya opened #16754 "`.avi`, `.mov` and `.ogg` video content cannot be viewed via IPFS video import"
## Description

Found while testing #16267
`.avi`, `.mov` and `.ogg` video content cannot be viewed via IPFS video import
## Steps to Reproduce

   1. Clean profile 1.27.x
   2. Launch brave using `--use-dev-goupdater-url`
   3. Make sure IPFS version is `0.9.0` in brave://ipfs-internals
   4. Import .avi, .mov and .ogg files (from local machine) via `+Import` or hamburger menu `IPFS->Share local

[2021-07-02 10:49] srirambv opened #16755 "Missing Translations for new swap feature"
## Description

Brave specific text changes needs translations

## Steps to Reproduce

   1. Set locale to French
   2. Follow swap options
   3. Brave specific text changes are not translated

## Actual result:

Tooltip | Swap Screen | Swap settings | Set Allowance Tooltip
-- | -- | -- |--
![image](https://user-images.githubusercontent.com/17010094/124262157-98e1a980-db29-11eb-8215-eedcf90b4208.p

[2021-07-02 10:55] goodov opened #16756 "Clangd doesn't work on Windows"
clangd on Windows doesn't work properly with our ```redirect-cc``` override.

[2021-07-02 12:37] LaurenWags commented on #16452
@jsecretan @tmancey could QA get a test plan for this issue? It's very broad. Or is this one covered under the same test plan as https://github.com/brave/brave-browser/issues/16008 (which generally lists a regression test of Ads in https://github.com/brave/brave-core/pull/8886)?

I think we had discussed marking some issue(s) `QA/No` due to the regression test plan for #16008 but I am unsure what

[2021-07-02 12:48] #16627 closed

[2021-07-02 13:49] aseren opened #16757 "Create snapshot tests for custom ads notification popup"
Currently there is no way check visual appearance of ad notification popup. It is suggested to create tests that compares snapshot of popup to predefined one.

[2021-07-02 13:50] bbondy commented on #16670
I think it's ok to allow it, we'll close for now unless a good reason surfaces to disallow. Thanks for logging it in any case.

[2021-07-02 13:50] #16670 closed

[2021-07-02 13:56] tmancey commented on #16452
@LaurenWags This should be tested with Brave News. Thanks

[2021-07-02 14:01] LaurenWags commented on #16452
@tmancey So what kind of test plan are we looking at for this one? Is there one somewhere for Brave News ads that I'm not aware of?

[2021-07-02 14:54] GeetaSarvadnya opened #16758 ".PNG .JPG and .GIF files cannot be viewed via IPFS import"
## Description

Found while testing #16267
.PNG .JPG and .GIF files cannot be viewed via IPFS import
## Steps to Reproduce

   1. Clean profile 1.27.x
   2. Launch brave `using --use-dev-goupdater-url`
   3. Make sure IPFS version is `0.9.0` in brave://ipfs-internals
   4. Import .PNG .JPG and .GIF files from the local machine
   3. Import is successful but files can't be viewed

## Actual result:

[2021-07-02 15:14] srirambv commented on #15859
Verification passed on

Brave | 1.26.67 Chromium: 91.0.4472.114 (Official Build) (x86_64)
-- | --
Revision | `4bb19460e8d88c3446b360b0df8fd991fee49c0b-refs/branch-heads/4472@{#1496}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.31 Dev`

<details>
<summary>Verified test plan from brave/ethereum-remote-client#244</summary>

- Verified able to swap ETH to an ERC token successfully ([Txh

[2021-07-02 15:14] #16726 closed

[2021-07-02 15:17] Miyayes opened #16759 "Change batLimit modal text to talk about ID verification in Uphold case"
## Description

![image](https://user-images.githubusercontent.com/11497541/124295365-c11bd900-db26-11eb-88a9-7a3c68c30132.png)

## Solution

Text should say:

[2021-07-02 15:30] nullhook commented on #13513
This has been fixed here: https://github.com/brave/brave-core/pull/9307

[2021-07-02 15:30] #13513 closed

[2021-07-02 15:35] stephendonner commented on #16665
@spylogsster can we get an uplift going for `1.27.x`?

[2021-07-02 15:35] srirambv opened #16760 "Error when input value is quite big"
## Description

Error when input value is quite big

## Steps to Reproduce

   1. Select a token for swap
   2. Enter a big value
   3. Error shows up

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/124297114-a1020f00-db52-11eb-853b-9792fce3cc37.png)

## Expected result:
TBD

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 1.26.74 Ch

[2021-07-02 16:03] stephendonner commented on #16742
Sure, thanks!

[2021-07-02 16:07] srirambv commented on #16727
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.32 Dev`

[2021-07-02 16:07] #16727 closed

[2021-07-02 16:09] #14596 closed

[2021-07-02 16:09] stephendonner commented on #14596
Thanks for fixing; reviewed and merged!

[2021-07-02 16:23] srirambv commented on #16728
Verification passed on

Brave | 1.27.87 Chromium: 91.0.4472.124 (Official Build) beta (64-bit)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | Windows 10 OS Version 2009 (Build 19043.1052)
Component | `1.0.32 Dev`

[2021-07-02 16:37] srirambv commented on #16729
Verification passed on

Brave | 1.28.37 Chromium: 91.0.4472.124 (Official Build) nightly (64-bit)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | Linux
Component | `1.0.32 Dev`

[2021-07-02 16:37] #16729 closed

[2021-07-02 16:38] #16728 closed

[2021-07-02 16:42] srirambv opened #16761 "Release Notes for Ethereum Remote Component 1.0.30"
- [brave/brave-browser#15859](https://github.com/brave/brave-browser/issues/15859) - Added Brave Swap to Crypto Wallets

[2021-07-02 16:53] fmarier commented on #16181
Given that we don't run GMail and Google Search, I think we should simply drop the second sentence and just have:

That's why it's not recommended. You're turning off all of the Google Safe Browsing protections if you choose that option.

[2021-07-02 16:57] diracdeltas commented on #16137
@sallyoh does your website have a valid TLS cert? (does it work in other browsers?)

we initially thought this was due to an out of date build timestamp, but the timestamp seems right so we need to dig further

[2021-07-02 16:59] #16761 closed

[2021-07-02 17:04] #16746 closed

[2021-07-02 17:05] kylehickinson opened #16762 "Decouple Brave Ads initialization and enabled state"
The Obj-C wrapper around `bat-native-ads` `ads::Ads` class only initializes and starts the ads service if the user enables Brave Ads (via Rewards).

Due to Brave News also going to be using the ads service (and in the future, NTP), we should decouple this relationship and allow the client to initialize/shutdown the ads service based on its own criteria and set its enabled status based on Brave Rew

[2021-07-02 17:06] spylogsster commented on #16665
@stephendonner started build for uplift

[2021-07-02 17:06] #16606 closed

[2021-07-02 17:23] szilardszaloki commented on #16759
https://github.com/brave/brave-core/pull/9212#issuecomment-869072578

[2021-07-02 18:16] srirambv opened #16763 "Tokens are not searchable"
## Description

Typing in should bring up the desired token

## Steps to Reproduce

   1. Open Swap page
   2. Click on From/To list and start typing
   3. No response dropdown doesn't update or list the desired token

## Actual result:

Tokens are not searchable

## Expected result:
Should be able to search tokens by typing in the list

## Reproduces how often:

Easy

## Brave version (brave://ve

[2021-07-02 18:20] privatedev11 commented on #16714
Ill give it a go

[2021-07-02 18:22] #16744 closed

[2021-07-02 18:24] privatedev11 commented on #16714
Works on android 11

[2021-07-02 18:30] rinchen commented on #16268
Still happens on Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)

[2021-07-02 19:00] darkdh commented on #16714
Yes, you can join the same sync chain between different channels.

[2021-07-02 19:29] privatedev11 commented on #16714
Brill

[2021-07-02 19:29] privatedev11 commented on #16714
Thanks

[2021-07-02 19:58] fmarier commented on #15667
I've tested Beta 1.27.87 on Linux and Windows and I get the same error page as on Chrome in both cases. Do you see the same certificate as me on your machine?
![Screenshot from 2021-07-02 12-57-41](https://user-images.githubusercontent.com/167821/124322880-21b21280-db35-11eb-8bd8-8ba211a75212.png)

[2021-07-02 20:05] LaurenWags commented on #16410
Labelling as `QA/Blocked` based on discussion in https://bravesoftware.slack.com/archives/CB0KCRCQN/p1624937105261700

[2021-07-02 20:19] #16733 closed

[2021-07-02 20:34] wyatt400 commented on #16503
@rebron Any progress?

[2021-07-02 20:37] kylehickinson opened #16764 "Expose adblock-rust-ffi headers to iOS clients"
Currently brave-ios is pulling adblock-rs via the outdated/soon to be archived https://github.com/brave/adblock-rust-ffi

It should instead just expose the adblock-rust-ffi component's C generated headers within brave-core

[2021-07-02 20:47] stephendonner opened #16765 "Feature/category headings in the left-most pane in Settings shift on click"
## Description

Category headings in the left-most pane in Settings shift on click

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. open `brave://settings/` and click on the feature-area heading under `Settings`
   4. look at the focus ring and pane heading

## Actual result:

There's a (new) purple focus ring, and the heading item shifts on mouse-click/mouse-release.

![menu-ite

[2021-07-02 21:05] jumde opened #16766 "Rework one_time_string in wallets"
## Description

`one_time_strings` for authorization workflow are currently stored in wallets. These strings don't need to persist as it doesn't make sense to support a login workflow across restarts.

[2021-07-02 21:13] stephendonner commented on #16758
@GeetaSarvadnya if you turn off Shields, does it render?

I had a similar issue on Linux, also `1.27.87`:

Shields up | Shields down
-----------|--------------
<img width="1540" alt="Screen Shot 2021-07-02 at 2 06 48 PM" src="https://user-images.githubusercontent.com/387249/124329071-a6099300-db3f-11eb-9b44-3283f21748c3.png"> | <img width="1540" alt="Screen Shot 2021-07-02 at 2 07 45 PM" src="http

[2021-07-02 21:27] lidel commented on #16758
This seems to be a variant of https://github.com/brave/brave-browser/issues/13641 however here we are on a trusted API port (45004) that tries to fetch the image from the Gateway port (45083).

This is pretty safe environment, as both Origins are controlled by Brave (brave runs go-ipfs binary, which exposes those ports)

I  think the right  way of fixing this class of bugs is to allow  API port to

[2021-07-02 21:41] #16762 closed

[2021-07-02 21:44] stephendonner commented on #16740
Verified `PASSED` using

Brave | 1.28.49 Chromium: 92.0.4515.70 (Official Build) nightly (x86_64)
-- | --
Revision | 2df01a82398e62190b2aae01aaad7ca3d47aba01-refs/branch-heads/4515@{#923}
OS | macOS Version 11.4 (Build 20F71)

Confirmed the new-tab page is back, with Sponsored Image and now-fixed Brave Together (Talk) tooltip, too.

example | example
---------|----------
<img width="1711" alt="Scr

[2021-07-02 22:28] lil5 opened #16767 "Allow setting a profile as default on startup"
## Description
On opening the browser one knows which profile was last opened. I would be handy to have a default profile or cli option to always open a specific profile, if not set it would it theory be able to go back to last opened profile.

## Steps to Reproduce

   1. Open Brave in initial profile `Profile 1`
   2. Create second profile `Profile x`
   3. Close all windows of `Profile 1`
   4.

[2021-07-03 00:35] darkdh opened #16768 "Add support for EIP2718 & 2930"
Spec:
https://eips.ethereum.org/EIPS/eip-2718
https://eips.ethereum.org/EIPS/eip-2930

[2021-07-03 00:47] simonhong opened #16769 "Build failure - fatal error: 'brave/components/sidebar/buildflags/buildflags.h' file not found"
[code]

[2021-07-03 01:05] ryanbr opened #16770 "Small dots show up in https://helium-explorer-pr-406.herokuapp.com/blocks"
## Description

Small dots show up in https://helium-explorer-pr-406.herokuapp.com/blocks

## Steps to Reproduce

   1. Open https://helium-explorer-pr-406.herokuapp.com/blocks
   2. Small white dots/blotches show
   3.

## Actual result:
![helium1](https://user-images.githubusercontent.com/1659004/124338945-c64c5700-dbfe-11eb-86a5-5f5e500fdce5.png)

## Expected result:
![helium2](https://user-ima

[2021-07-03 02:13] sheikh-azharuddin commented on #6619
While this topic is for desktop...we want more top sites in android similar to Vivaldi..please add the feature 🙏

[2021-07-03 02:19] sallyoh commented on #16137
it does have a valid TLS cert and the site is working now...

[2021-07-03 03:17] ryanbr commented on #16636
@arch-btw possible to uninstall current Nightly and re-install either of the older builds to confirm it was still an issue? Just to give us an idea which exact build fixed it and find out the possible patch?

[Nightly v1.28.32](https://github.com/brave/brave-browser/releases/tag/v1.28.32) or [Nightly v1.28.31](https://github.com/brave/brave-browser/releases/tag/v1.28.31), or [Nightly v1.28.30](htt

[2021-07-03 03:56] deepxcode commented on #16742
@stephendonner  I read the pre-requisites to set up a peer, Is it necessary to have to two different machines to make a peer, I only have one laptop with me.

[2021-07-03 07:55] karlnippoldt opened #16771 "macOS Big Sur icon sizing incorrect"
The size of the Brave icon on macOS Big Sur is inconsistent with other apps, showing up a bit larger than it should.

![Screen Shot 2021-07-03 at 12 53 04 AM](https://user-images.githubusercontent.com/7821608/124347374-45a73f80-db99-11eb-929b-c972ab6aeb79.png)

[2021-07-03 09:19] akshat-rawat commented on #16181
Should i move forward with `Does not protect you against dangerous websites, downloads, or extensions.`?

[2021-07-03 12:07] jmytch commented on #15640
Yeh I agree with adding `Live Caption` to Brave. Please seriously add them, because I really want to move away from Chrome over to Brave as my primary browser.

Any  website that have audio, it will automatically caption it which is good for Hard of Hearing and Deaf out there like myself.

[2021-07-03 16:06] EyeSalt commented on #16007
It's been over a month and it looks like we are held captive at their whims.. if it’s not fixed soon I will have no option but to use an earlier portable version without this feature. I don’t want to have to do this, so please FIX this.

[2021-07-03 16:49] #16289 closed

[2021-07-03 16:51] stephendonner commented on #16742
Nope; you can set up one on `nightly` and another on `beta` or `dev` (`1.27.x` branch`) - they use different ports.

[2021-07-03 21:38] seraphina985 commented on #16151
@sripathiks The clock error being displayed here is due to a separate issue #16137 the browser is incorrectly reporting expired SSL certificate errors as clock errors.

[2021-07-04 01:37] JimBreton commented on #12840
I'm the OP for this issue, and I will add that now that we have the 'Tab Search' feature from Chromium -- and this feature orders its list by MRU -- it fulfills much of the original need for the Ctrl+Tab behavior.  At this point I've turned off the Ctrl+Tab MRU cycling to work around this issue here.  I still think it should be fixed at some point (or even remove the merged code providing the Ctrl

[2021-07-04 03:48] jtoy commented on #6291
+1

[2021-07-04 04:24] ylluminarious commented on #16126
@rebron This is still an issue... does Brave have any plans to fix this?

If not, does Brave at least plan on allowing users to customize what their new tab background can look like? Right now, it's a choice between a random image (which doesn't work well at all when you have many tabs open) or a harsh blend of orange and purple. I simply want it to look like the normal Chrome background.

[2021-07-04 06:41] leosolid commented on #7965
+1 yes! please add a setting for this.

it would be nice to have something like firefox's userchrome.css to customize things like this but I know that will never happen

[2021-07-04 16:11] trqzh commented on #2826
i've been using it on brave browser for years with no issues

[2021-07-04 17:55] danielb2 commented on #1057
I'll donate 💰 for this implementation. I love that firefox has this. It's been a decade and it's still not in chrome. It makes organizing so much better

[2021-07-04 20:16] JonasNo commented on #15875
It's nice you have a positive attitude however there comes a point when it becomes lying.
I haven't seen any activity on this bug and we were told to expect a solution "in the next day or three.". That was posted on May 17 [0].

Tell it to us straight, please, are you waiting for the upstream Chrome dev team to fix this? Then we will be waiting a long time. Chrome dev team is infamous for dragging

[2021-07-05 02:43] srirambv commented on #16181
@akshat-rawat yes please. Go ahead and create the PR

[2021-07-05 02:57] simonhong commented on #16081
Working on this.

[2021-07-05 04:21] ryanbr commented on #16751
Can you replicate in Chrome? @specter78

[2021-07-05 06:38] simonhong opened #16773 "Tab shows default favicon for NTP with C92."
We've not been set favicon for NTP. This is introduced at C92.

<img width="426" alt="Screen Shot 2021-07-05 at 3 36 39 PM" src="https://user-images.githubusercontent.com/6786187/124427806-d9019000-dda6-11eb-8ba0-4b9f2cc0027a.png">

Upstream change: https://chromium-review.googlesource.com/c/chromium/src/+/2785855

[2021-07-05 06:53] specter78 commented on #16751
@ryanbr I don't use chrome.

[2021-07-05 07:47] ryanbr commented on #16751
This would help debug whether its a Chromium specific issue or just Brave

[2021-07-05 08:10] GeetaSarvadnya commented on #15667
@fmarier Thanks for checking in your machine. I have verified the certificate and found that `issued by` was showing as AVG, AVG has got installed unknowingly in my machine, which was causing this problem. I just uninstalled and tried again it worked fine. Thanks!

![image](https://user-images.githubusercontent.com/38657976/124438753-393c0600-dd96-11eb-8c43-0b63c288e842.png)

After uninstalling AV

[2021-07-05 08:29] paulhuisman opened #16774 "SVGs showing weird purple blocks in latest version of Brave"
SVGs on my website show purple blocks on top of it in the latest version of Brave.

Version: 1.26.74

OS: Mac Catalina

Screenshot:

![Screenshot 2021-07-05 at 10 28 01](https://user-images.githubusercontent.com/37524/124441280-d178c180-dd7b-11eb-9bf8-66e6b8946592.png)

[2021-07-05 09:11] akshat-rawat commented on #16181
@srirambv, I have created the [PR](https://github.com/brave/brave-core/pull/9334).
If there are any updates required, do let me know.

[2021-07-05 09:11] GalaxyLinus opened #16775 "Blocking 3rd Party Cookies breaks YouTube Iframes"
## Description

When another website uses an iframe from YouTube and you've blocked 3rd party trackers, you can't subscribe to the channel via the Iframe

## Steps to Reproduce

   1. Block 3rd Party Trackers
   2. go to e.g. https://www.curseforge.com/minecraft/modpacks/fabulously-optimized/
   3. click on the youtube avatar
   4. try to subscribe

## Actual result:

Doesn't work

## Expected res

[2021-07-05 09:33] cyrilchristin commented on #16137
_Issue still present for expired TLS certs_

Reproduced via https://expired.badssl.com/ on Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit) (Windows 10)

![Brave-vs-Chrome-Bug-Expired-Certs](https://user-images.githubusercontent.com/55538276/124450154-6f708a00-dd84-11eb-8b7c-18974e93101e.gif)

- Clock time is valid & synced
- Issue not present on Chrome Version 91.0.4472.124 (Offi

[2021-07-05 09:48] spylogsster opened #16776 "Focus state causing the UI element to shift"
## Description

In https://github.com/brave/brave-browser/issues/16111 focus state causing the UI element to shift

## Steps to Reproduce

- Open settings and click by any menu item

## Actual result:

## Expected result:

element is not shifted

## Reproduces how often:

100%

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current

[2021-07-05 09:56] GeetaSarvadnya commented on #13513
Verification passed on

[code]
- Verified STR from the description and ensured Brave Talk tooltip is shown correctly
![image](https://user-images.githubusercontent.com/38657976/124453693-401e4500-dda5-11eb-8939-a35b52e1bd41.png)

[2021-07-05 10:49] paulhuisman commented on #16774
Rebooting mac solved this.

[2021-07-05 10:49] #16774 closed

[2021-07-05 12:14] GeetaSarvadnya commented on #13513
Verification passed on

[code]
- Verified the STR gfrom the description and ensured Brave Talk tooltip is shown correctly
![image](https://user-images.githubusercontent.com/38657976/124469878-8a5cf180-ddb8-11eb-9380-bfd47c6a440c.png)

[2021-07-05 13:03] #16646 closed

[2021-07-05 13:12] spylogsster commented on #14771
waiting https://github.com/ipfs-shipyard/gomobile-ipfs/pull/70

[2021-07-05 13:59] #16769 closed

[2021-07-05 14:10] svan71 commented on #7200
Auto updates need to have the option to disable.  This is making me use Firefox and I really do not wish to do it.

[2021-07-05 15:39] sebuelias commented on #13686
Hi @stephendonner
Apologies for the delay, but I have tried to fix this issue and raised the PR.

[2021-07-05 16:03] #16764 closed

[2021-07-05 16:43] aseren commented on #16476
@tmancey, should we disable swiping up functionality?

[2021-07-05 16:49] y4rr commented on #16007
Brave is becoming Chrome. I'm switching to Vivaldi lol.

[2021-07-05 16:50] tmancey commented on #16476
@aseren Yes please. A user should only be able to swipe left or right to dismiss. Thanks

[2021-07-05 16:56] deeppandya opened #16777 "Fix warnings in android app"
This issue is to resolve important warnings in android build.

[2021-07-05 17:17] #16776 closed

[2021-07-05 17:37] ducheng0 opened #16778 "Offer a way to hide the Brave Shields button, just like hiding Brave Rewards"
## Description
Allowing users to hide the brave shields would be a nice change on small screens, and would let users remove the features they don't like from brave.

## Expected result:
There should be an option to disable the shields icon in settings.

## Desktop Brave version:
1.26.74 Chromium: 91.0.4472.124 Official Build 64-bit

## Version/Channel Information:
- Can you reproduce this issue wi

[2021-07-05 18:58] davidhq commented on #15410
So ... today I tried using Firefox after some time, and surprise: websockets there are even more broken!

So is this tech doomed? See this: https://stackoverflow.com/questions/14140414/websocket-was-interrupted-while-page-is-loading-on-firefox-for-socket-io/68260938

Why Brave (and Firefox team even more so) teams don't care about this even one bit and assign lowest possible (zero?) priority to th

[2021-07-05 19:32] davidhq commented on #15410
https://medium.com/axiomzenteam/websockets-http-2-and-sse-5c24ae4d9d96

[code]
?

[2021-07-05 21:03] #16655 closed

[2021-07-05 21:27] kjozwiak commented on #16473
We ended up disabling Vulkan on `Android` via variations using Griffin as per https://github.com/brave/brave-variations/pull/73 which we pushed out about a week ago. You can also see which variation changes/studies are currently live via https://griffin.brave.com.

![image](https://user-images.githubusercontent.com/2602313/124518988-043fab80-ddb6-11eb-89bd-654b4c4f3caa.png)

We're currently lookin

[2021-07-06 00:08] NumDeP commented on #16630
I pasted both of them but it didn't work, I thought it did but having used it recently with quite a few tabs open, the same issue showed up again.

Recently I changed the setting of 'On start-up' to 'Continue where you left off' and I put the computer to sleep and hibernate multiple times and it didn't seem to cause an issue when I started up Brave. However the last time the same problem occurred

[2021-07-06 02:35] NumDeP commented on #16401
@rebron no it doesn't solve for people who have a lot of extensions.

I also understand why you wouldn't want to deviate from Chrome's version of their UX because it's not horrible, compared to Firefox it's arguably better. That being said post Manifest v3 one would presume that you'd sort of have to; to make the ease of use more functional, less intensive on the system when not in use, by which I

[2021-07-06 03:25] arch-btw commented on #16636
@ryanbr yes I will do that right now, please give me a few minutes 👍

[2021-07-06 03:35] arch-btw commented on #16636
@ryanbr very strange, suddenly recaptcha in all 3 versions you mentioned are working. Is it possible some files aren't downgraded when installing a previous version?

I'm 100% sure it wasn't working in Version 1.28.32. But it is now.

[2021-07-06 03:38] AxeemHaider opened #16779 "Tag bookmarks and search using (*) like Firefox"
I searched the issue but I'm not able to find anything.

## Description
I would like a functionality where you add multiple tags to a bookmark and search bookmark directly from url bar
using (*) the same functionality is exist in firefox.

## Brave version (brave://version info)

[2021-07-06 03:43] srirambv commented on #16778
This would be a wontfix issue. Closing as we don't intend to hide shields in any possible way.

cc: @rebron @anthonypkeane

[2021-07-06 03:43] #16778 closed

[2021-07-06 04:09] kjozwiak opened #16780 "Manual test run on macOS (Intel/arm64) for IPFS test 0.0.0"
## Installation & Setup

  ### `go-updater` node update

  - [ ] Verify going to `brave://ipfs` and clicking on `Install and start` installs and shows `go-ipfs/0.7.0` (or latest released), via the `Version:` section under `Node info`.
  - [ ] Verify, using the above profile, that restarting Brave with `--use-dev-goupdater-url`, and clicking on `Restart` via `brave://ipfs` downloads and installs th

[2021-07-06 04:09] kjozwiak opened #16781 "Manual test run on macOS (Intel/arm64) for IPFS test 0.0.0"
## Installation & Setup

  ### `go-updater` node update

  - [ ] Verify going to `brave://ipfs` and clicking on `Install and start` installs and shows `go-ipfs/0.7.0` (or latest released), via the `Version:` section under `Node info`.
  - [ ] Verify, using the above profile, that restarting Brave with `--use-dev-goupdater-url`, and clicking on `Restart` via `brave://ipfs` downloads and installs th

[2021-07-06 04:10] kjozwiak commented on #16780
Closing. QAing/Reviewing https://github.com/brave/qa-resources/pull/324.

[2021-07-06 04:10] #16780 closed

[2021-07-06 04:11] kjozwiak commented on #16781
Closing. QAing/Reviewing https://github.com/brave/qa-resources/pull/324.

[2021-07-06 04:11] #16781 closed

[2021-07-06 04:13] ryanbr commented on #16636
You could always remove the nightly profiles in `C:\Users\<username>\AppData\Local\BraveSoftware` @arch-btw

Is it still an issue @Immow  ?

[2021-07-06 04:24] kjozwiak opened #16782 "Manual test run on macOS (Intel/arm64) for IPFS 1.1.1"
## Installation & Setup

  ### `go-updater` node update

  - [ ] Verify going to `brave://ipfs` and clicking on `Install and start` installs and shows `go-ipfs/0.7.0` (or latest released), via the `Version:` section under `Node info`.
  - [ ] Verify, using the above profile, that restarting Brave with `--use-dev-goupdater-url`, and clicking on `Restart` via `brave://ipfs` downloads and installs th

[2021-07-06 04:24] kjozwiak opened #16783 "Manual test run on Windows x64 & x86 for IPFS 1.1.1"
## Installation & Setup

  ### `go-updater` node update

  - [ ] Verify going to `brave://ipfs` and clicking on `Install and start` installs and shows `go-ipfs/0.7.0` (or latest released), via the `Version:` section under `Node info`.
  - [ ] Verify, using the above profile, that restarting Brave with `--use-dev-goupdater-url`, and clicking on `Restart` via `brave://ipfs` downloads and installs th

[2021-07-06 04:24] kjozwiak opened #16784 "Manual test run on Linux for IPFS 1.1.1"
## Installation & Setup

  ### `go-updater` node update

  - [ ] Verify going to `brave://ipfs` and clicking on `Install and start` installs and shows `go-ipfs/0.7.0` (or latest released), via the `Version:` section under `Node info`.
  - [ ] Verify, using the above profile, that restarting Brave with `--use-dev-goupdater-url`, and clicking on `Restart` via `brave://ipfs` downloads and installs th

[2021-07-06 04:26] kjozwiak commented on #16782
Closing. QAing/Reviewing https://github.com/brave/qa-resources/pull/324.

[2021-07-06 04:26] #16782 closed

[2021-07-06 04:26] kjozwiak commented on #16783
Closing. QAing/Reviewing https://github.com/brave/qa-resources/pull/324.

[2021-07-06 04:26] #16783 closed

[2021-07-06 04:26] kjozwiak commented on #16784
Closing. QAing/Reviewing https://github.com/brave/qa-resources/pull/324.

[2021-07-06 04:26] #16784 closed

[2021-07-06 04:59] ryanbr commented on #16775
Something about youtube knowing me by hovering over a video, allowing youtube cookies shows the following image.

By default we blocked this from occurring. Also testing with ES enabled.

![youtube1](https://user-images.githubusercontent.com/1659004/124543855-23a00c80-de7a-11eb-9f88-1b82df9af79a.png)

cc: @pes10k

[2021-07-06 05:11] specter78 commented on #16751
It happens in chrome.

[2021-07-06 07:28] GeetaSarvadnya commented on #16758
@stephendonner with Shields ON/OFF I am getting the same issue.

![IPFS_Shileds ON or OFF](https://user-images.githubusercontent.com/38657976/124559774-b2506180-de59-11eb-98de-b86eb97e9c77.gif)

[2021-07-06 07:45] GeetaSarvadnya commented on #16222
There is no memory in Samsung Galaxy (issue with device) hence I am getting this issue. The same issue worked fine on another low end device Gionee s5 hence closing this issue as invalid

[2021-07-06 07:45] #16222 closed

[2021-07-06 08:51] GeetaSarvadnya commented on #16303
Verification passed on

[code]
- Verified the STR from the description
![image](https://user-images.githubusercontent.com/38657976/124571402-5db2e380-de65-11eb-89ba-cd72110ca1a2.png)

[2021-07-06 09:27] spylogsster commented on #16752
checked that the downloaded imported file has the same content as the original, but when I tried to play it online, it does not play and I see an endless throbber cc @lidel
![image](https://user-images.githubusercontent.com/2965009/124576629-2b00ef00-de55-11eb-9e12-d63fffc242ed.png)

[2021-07-06 09:38] spylogsster commented on #13627
@stephendonner @kjozwiak can we please recheck this with latest node 0.9.0?

[2021-07-06 10:39] ryanbr commented on #16751
Okay, We'll need to log https://bugs.chromium.org/p/chromium/issues/list    I don't mind helping here, I would need debug logs on what you're seeing, and step-by-step instructions to reproduce the issue @specter78

[2021-07-06 10:56] spylogsster commented on #16765
Fixed here https://github.com/brave/brave-browser/issues/16776

[2021-07-06 10:56] #16765 closed

[2021-07-06 11:33] Patora1701 opened #16785 ""An unexpected error has occurred." - IGN.com"
## Description
Error message "An unexpected error has occurred." when visiting IGN.com.

## Steps to Reproduce

   1.  go to www.ign.com
   2.
   3.

## Reproduces how often:
Always

## Brave version (brave://version info)
Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)

[2021-07-06 11:35] lidel commented on #16752
I believe this is a side effect of https://github.com/ipfs/go-ipfs/issues/8230 – webui is testing local gateway using problematic CID, and it fails, so it falls back to fetching file from public gateway (ipfs.io) which takes time.

The fix here is to wait until we have go-ipfs 0.9.1 with bugfix release of webui:  https://github.com/ipfs/go-ipfs/pull/8243

[2021-07-06 11:40] lidel commented on #16758
This is the same issue as https://github.com/brave/brave-browser/issues/16752#issuecomment-874684824
(Due to fallback the preview image is being fetched from ipfs.io instead of local gateway.)

The fix here is to wait until we have go-ipfs 0.9.1 with bugfix release of webui: ipfs/go-ipfs#8243

[2021-07-06 11:43] lidel commented on #16713
Good news: ipfs-webui in go-ipfs 0.9.0 should have this bug fixed

[2021-07-06 12:08] ryanbr commented on #16785
Hey, checked the site. Worked fine here. Does it work in private window mode? @Patora1701

[2021-07-06 12:17] Patora1701 commented on #16785
Yes, it does work in private mode.

[2021-07-06 12:20] ryanbr commented on #16785
Can you retest in normal window mode, and also disable extensions?

[2021-07-06 12:38] GeetaSarvadnya commented on #16241
Verification passed on

[code]
- Verified the STR from https://github.com/brave/brave-browser/issues/16241#issue-911554355
- Confirmed that the size of the custom Ad notification remained fixed after Ads reposition
![a](https://user-images.githubusercontent.com/38657976/124600998-f7d65400-de84-11eb-9fbe-90ec6428cb74.gif)

[2021-07-06 12:46] #16699 closed

[2021-07-06 13:17] rkfg commented on #13718
Can confirm, works as expected now. Thanks!

[2021-07-06 13:17] #13718 closed

[2021-07-06 13:21] Patora1701 commented on #16785
OK, It appears the Malwarebytes Browser Guard extension was the culprit. The website works when it is disabled.

[2021-07-06 13:58] iefremov opened #16786 "Crash in RewardsServiceImpl::OnFetchPromotions"
[code]

https://brave.sp.backtrace.io/p/brave/debug?time=month&filters=((callstack.functions%2Ccontains%2CRewardsServiceImpl%3A%3AOnFetchPromotions))&debug=(%22205c4ae%22,0,0)

[2021-07-06 14:09] #16785 closed

[2021-07-06 14:10] iefremov opened #16787 "Crash in sidebar::SidebarService::GetNotAddedDefaultSidebarItems"
[code]

https://brave.sp.backtrace.io/p/brave/triage?filters=((callstack.functions%2Ccontains%2Csidebar)%2Cptype%3Dbrowser%2Cver%3E%3D%2291%22)&aggregations=((guid%2Cunique)%2C(classifiers%2Chead))&similarity=false

[2021-07-06 14:10] iefremov commented on #16787
cc @simonhong

[2021-07-06 15:32] #16753 closed

[2021-07-06 15:32] #16763 closed

[2021-07-06 16:21] Miyayes opened #16788 "[Android] "Disconnected" Brave Rewards wallet state should appear more quickly (UI glitch)"
## Description

Currently, the Brave Rewards wallet on Android has a `Disconnected` state, but it takes very long to get to that state due to a UI bug, which can be very misleading.

**Related to:** https://github.com/brave/brave-browser/issues/15237

cc: @srirambv and @jumde found during testing of #15237.

## Solution

Fix `Disconnected` state in the Brave Rewards panel UI.

[2021-07-06 16:31] rebron commented on #16771
Closing as duplicated/wontfix https://github.com/brave/brave-browser/issues/14801
Size is as intended and matches other apps.

[2021-07-06 16:31] #16771 closed

[2021-07-06 16:33] rebron commented on #16773
cc: @karenkliu

[2021-07-06 16:37] srirambv commented on #15237
Verification passed on OnePlus 6T with Android 10 running 1.27.87 x64 build
- Verified Uphold part of the test plan from brave/brave-core#8872.
- Verified linking slots worked as expected. @husobee confirmed it as well.
- Verified scenario 1A from brave/internal#774 (comment).
- Verified that the wallet was not able to be re-linked on the server @husobee confirmed it

[2021-07-06 16:40] mariospr commented on #15754
@jumde @iefremov Pinging you on this issue to make sure you're aware of these latest reports.

[2021-07-06 17:00] iefremov commented on #15754
Thanks @mariospr , I wasn't aware of this. Probably we could bump the priority @rebron ?

[2021-07-06 17:02] rebron commented on #16674
cc: @tmancey

[2021-07-06 17:25] tmancey commented on #16674
@itmecho hi. I work on the ads team here at Brave, would you be willing to sync up for a screen-share so I can help diagnose the cause? Thanks

[2021-07-06 17:46] urbenlegend opened #16789 "Reddit inline ads are not blocked on Android when shields are set to aggressive"
## Description
Unlike the desktop Brave browser, Reddit inline ads are not blocked on Android when shields are set to aggressive.

## Steps to reproduce

   1. Launch Brave on Android
   2. Set Brave shields to aggressive
   3. Go to reddit.com
   4. Notice that an inline ad usually shows up as the second post in the feed.

## Actual result
![image](https://user-images.githubusercontent.com/241316

[2021-07-06 17:57] rebron opened #16790 "default to .com for FTX widget"
## Description

Non en-US users should see the FTX widget default to .com and see FTX.com. Currently non en-US users are seeing .us and FTX.us

<img width="295" alt="Screen Shot 2021-07-06 at 10 58 40 AM" src="https://user-images.githubusercontent.com/5951041/124675030-b63bae00-de70-11eb-9f54-9837bc7e0af0.png">

## Steps to Reproduce/Actual result:

   1. Go to the new tab page and open up FTX wid

[2021-07-06 18:02] urbenlegend opened #16791 "Directly going from "Allow all trackers & ads" to Aggressive shields causes some ads to not be blocked."
## Description
Directly going from "Allow all trackers & ads" to "Block trackers & ads (Aggressive) in Brave's shields settings causes some ads to not be blocked. In order to fully block ads again, the user must first set shields to standard ad blocking and then switch to aggressive.

## Steps to reproduce

   1. Set Brave shields to "Allow all trackers & ads"
   2. Go to `adblock-tester.com`
   3

[2021-07-06 18:16] bridiver commented on #16612
This issue is "won't fix" as written because we don't currently (and maybe never will have) a process for validating IPFS CID. We may or may not want to implement this for dnslink only. @bbondy ?

[2021-07-06 18:16] jumde opened #16792 "Use common superclasses for custodial classes in rewards"
## Description
PostTransactionUphold, PostTransactionGemini all of this stuff needs common superclasses.

[2021-07-06 18:23] tneo commented on #12375
This is stupid for a browser claiming to focus on privacy. Allow me to delete all cookies always unless I specify otherwise!

[2021-07-06 18:44] kjozwiak commented on #16744
@brave/legacy_qa please leave this one as we're planning on uplifting this into `1.26.x`. @LaurenWags will run through this one once we get a new `1.27.x` dev build created.

[2021-07-06 18:53] bbondy commented on #16612
Updated the original issue to add "t it should work only for ipns + dnslink case, all others should be disabled"

[2021-07-06 18:57] karenkliu commented on #16773
Remove it 👌

[2021-07-06 19:19] spylogsster opened #16793 "IPFS support for Brave Rewards"
Update https://github.com/brave/brave-browser/issues/9631 solution to enable rewards only for IPNS urls that have dnslink record

[2021-07-06 19:22] #16793 closed

[2021-07-06 19:40] kjozwiak commented on #15978
Removing this from `1.27.x - Beta` as it's not `release/blocking` and it appears as there's no PRs associated with this issue that landed in `1.27.x`.

[2021-07-06 19:54] jonathansampson commented on #16441
Closing in favor of https://github.com/brave/brave-browser/issues/16181

[2021-07-06 19:54] #16441 closed

[2021-07-06 19:58] spylogsster opened #16794 "Make corners rounded for selector on settings menu"
## Description

by design it should have rounded corners https://www.figma.com/file/tLXWGCpNoiJxDZDdpfordj/Desktop-Settings?node-id=491%3A13498

## Steps to Reproduce

open settings and press Tab to select menu item

## Actual result:

selection corners are not rounded

## Expected result:

selection corners are rounded

## Reproduces how often:

100%

## Brave version (brave://version info)

## V

[2021-07-06 20:08] bbondy opened #16795 "Switching network doesn't work by default on Crypto Wallets"
## Description

"As for switching networks, you can reproduce easily (no need for any currency or to send a transaction), just go to https://app.unlock-protocol.com/dashboard
and then toggle to either xdai or polygon in the left dropdown menu:

![switch-network](https://user-images.githubusercontent.com/831718/124660301-09633000-de74-11eb-860a-32abf2f42a7f.png)

"
On Chrome or FF (with the MM exte

[2021-07-06 20:08] stephendonner commented on #16655
Verified `FIXED` using the inline testplan and build

Brave | 1.28.54 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. launch Brave
3. load `brave://settings/extensions`
4. for `Method to resolve Ethereum Name Service (ENS)`, choose Eth

[2021-07-06 20:09] stephendonner commented on #16655
@spylogsster mind starting an uplift into `1.27.x`?  Thanks!

[2021-07-06 20:27] stephendonner commented on #16746
Verified `FIXED` using the inline testplan on build

Brave | 1.28.54 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

1. new profile
2. launch Brave
3. load `brave://ipfs`
4. look at the copy for instances of Peer ID and PeerID

Confirmed both instances now read

[2021-07-06 20:42] #16743 closed

[2021-07-06 21:13] diracdeltas commented on #16751
There was a version of this that only existed in Brave, which @antonok-edm fixed in https://github.com/brave/brave-core/pull/8957

[2021-07-06 21:20] #16583 closed

[2021-07-06 22:04] stephendonner commented on #16496
Verified `FIXED` using the inline testplan with build

Brave | 1.27.91 Chromium: 91.0.4472.124 (Official Build) beta (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. open `brave://settings/`
3. change `same as OS` or `Light` to `Dark` under `Brave colors`
4. click on `Shields` on th

[2021-07-06 22:06] stephendonner commented on #16765
Although this was filed days earlier, this was re-filed and fixed over in https://github.com/brave/brave-browser/issues/16776, which means I'm duping this issue to that, and removing `QA/Yes` keyword, since we'll be verifying over in https://github.com/brave/brave-browser/issues/16776.

[2021-07-06 22:12] stephendonner commented on #16776
Verified `FIXED` using

Brave | 1.28.54 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. launched Brave
3. opened `brave://settings/` and clicked on the various feature-area heading under `Settings` (e.g. `IPFS` in the screenshots below

[2021-07-06 22:29] jumde opened #16796 "Remove duplicated code per custodian in rewards"
## Description
`vendor/bat-native-ledger` contains duplicated code for authorization, get balance, wallet creation and disconnecting wallet. Duplicated code can be refactored to make the ledger code more robust.

[2021-07-06 22:57] stephendonner commented on #16111
Verified `PASSED` using

Brave | 1.28.54 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

selected | selected | hover | hover
---------|---------|----------|---------
<img width="274" alt="Screen Shot 2021-07-06 at 3 51 55 PM" src="https://user-images.githubuser

[2021-07-06 23:06] stephendonner opened #16797 "Remove "Brave" in "Show Brave suggested sites in autocomplete suggestions" description"
## Description

Remove "Brave" in "Show Brave suggested sites in autocomplete suggestions" description

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `brave://settings/appearance`
   4. look at `Show Brave suggested sites in autocomplete suggestions`

## Actual result:

Says `Show Brave suggested sites in autocomplete suggestions`

<img width="699" alt="Screen Shot 2021-07

[2021-07-06 23:23] stephendonner commented on #16606
Verified `PASSED` using the inline testplan on build

Brave | 1.28.54 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:
1. new profile
2. launched Brave
3. loaded `ipns://brantly.eth`
4. clicked on `Public Gateway`
5. confirmed I no longer got `Open using

[2021-07-06 23:36] karenkliu commented on #16111
@stephendonner Dark theme hover seems to be using the incorrect color, and therefore not passing accessibility standards. It should be this:
<img width="230" alt="Screen Shot 2021-07-06 at 4 35 47 PM" src="https://user-images.githubusercontent.com/2388823/124678855-39143700-de78-11eb-8470-0563e7548c97.png">
`737ADE`

[2021-07-06 23:36] stephendonner opened #16798 "Brave Together text and image assets should read Brave Talk, in new-tab page's cards"
## Description

Brave Together text and image assets should read Brave Talk, in new-tab page's cards

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. open a new-tab page
   4. click on `Customize` on the bottom right
   5. click on `Cards`
   6. look at `Brave Together`'s text and image
   7. click `+ Add`
   8. now, look at the added widget
   9. click on the `...` and look at t

[2021-07-06 23:41] stephendonner opened #16799 "Change Brave Together to Brave Talk in new-tab page promo tooltip popup"
## Description

Change Brave Together to Brave Talk in new-tab page promo tooltip popup

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. open a new-tab page
   4. look at the `Brave Together` promo tooltip/popup near the bottom-right of the screen

## Actual result:

`Start unlimited calls with friends and colleagues in Brave Together.`

<img width="376" alt="Screen Shot 2021-07-

[2021-07-06 23:43] karenkliu commented on #16798
Here's the link to the updated asset in Figma: https://www.figma.com/file/0pOzvvueMoeaCxKaVoU59Z/Widget-discovery?node-id=2506%3A23053 :)

[2021-07-06 23:49] stephendonner commented on #14596
Verified `FIXED` using the inline testplan with build

Brave | 1.28.54 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. open the new-tab page
2. click `Customize`
3. choose `Top Sites` from the left
4. choose `Favorites`
5. dismiss the dialog
6. hover

[2021-07-06 23:56] stephendonner commented on #16787
Sadly (sorry!) this is fallout from my "simple string change" over in https://github.com/brave/brave-browser/issues/16709.

[2021-07-07 00:03] bsclifton commented on #16709
Reverted with https://github.com/brave/brave-core/pull/9347

[2021-07-07 00:03] bsclifton commented on #16787
Fixed with https://github.com/brave/brave-core/pull/9347

[2021-07-07 00:03] #16787 closed

[2021-07-07 00:04] jumde opened #16800 "Rename rewards_browsertest_contribution to rewards_contribution_browsertest_util"
## Description
`rewards_browsertest_contribution.**` contains utility functions for different contribution browsertests. It should be renamed to `rewards_contribution_browsertest_util.**`

[2021-07-07 00:04] simonhong commented on #16709
We saw crash https://github.com/brave/brave-browser/issues/16787 after changing default item's url.

[2021-07-07 00:07] stephendonner commented on #16793
@spylogsster should this be `QA/Yes`, and if so, what's the test plan?  Thanks!  /cc @brave/legacy_qa

[2021-07-07 00:20] stephendonner opened #16801 "IPFS flyout share file/folder menu items missing IPNS key, at first"
## Description

IPFS flyout share file/folder menu items missing IPNS key, at first

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `brave://ipfs`
   4. click on `Install and start`
   5. load `brave://settings/ipfs`
   6. choose `Local node` from `Method to resolve IPFS resources`
   7. click on the "hamburger" menu -> IPFS -> flyout

## Actual result:

Until you visit `br

[2021-07-07 00:32] stephendonner opened #16802 "Dark theme's menu-item hover color is incorrect, in Settings"
## Description

Dark theme's menu-item hover color is incorrect, in Settings

## Steps to Reproduce

   1. load `brave://settings/appearance`
   2. choose `Dark` from `Brave colors`
   3. hover the mouse pointer over any of the left-hand side category headings
   4. look at the hover color

## Actual result:

<img width="283" alt="Screen Shot 2021-07-06 at 5 27 04 PM" src="https://user-images.gith

[2021-07-07 00:44] stephendonner opened #16803 "Missing selected-accent line in Settings' sidebar"
## Description

Missing selected-accent line in Settings' sidebar; see https://github.com/brave/brave-browser/issues/16111#issuecomment-875152483 and Figma: https://www.figma.com/file/tLXWGCpNoiJxDZDdpfordj/Desktop-Settings?node-id=491%3A13498

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. open `brave://settings/`
   4. hover over the left-hand side's category headings
   5. cl

[2021-07-07 00:57] stephendonner opened #16804 "Connected peers count should be 0 when node is stopped"
## Description

Connected peers count should be 0 when node is stopped

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `brave://ipfs`
   4. click `Install and start`
   5. now click `Stop`
   6. look at the `Connected peers:` count

## Actual result:

The `Connected peers:` count is non-zero

<img width="441" alt="Screen Shot 2021-07-06 at 6 50 44 PM" src="https://user-imag

[2021-07-07 01:53] bbondy commented on #16755
Updated l10n:
https://github.com/brave/ethereum-remote-client/commit/804a8438de94c6deb945a748f35158dd6c31895a

[2021-07-07 01:59] 8227846265 opened #16805 "[Bug] Brave Browser Bottom Toolbar Disappears"
## Description
The bottom toolbar disappears when you do Google Search and when you visit certain websites directly (e.g. https://brave.com/)

## Steps to reproduce

   1. Search something on Google
   2. You'll immediately see the bottom toolbar disappear
   3. This extends to the website you click on Google Search

Sometimes websites you directly visit also gets affected.

## Actual result
![ima

[2021-07-07 02:18] North-West-Wind opened #16806 "Disable shield in installed software"
## Description
I recently installed Photopea on Brave. I have to turn off Brave shield to get rid of the ADBlock message.
The problem is, I cannot find the way to disable Brave shield in the installed software.

## Steps to Reproduce
   1. Go to [Photopea](https://www.photopea.com/)
   2. Install Photopea
   3. Run Photopea
   4. Photopea keeps complaining about the ADBlock (aka Brave shield)

##

[2021-07-07 04:19] srirambv commented on #16797
This was done for the Brave referral links suggestions. Not sure if we need to have the setting itself anymore.

cc: @bbondy

[2021-07-07 04:22] specter78 commented on #16751
Does Brave have CNAME uncloaking enabled? Because tabs load very slowly in normal window, but with normal performance in private window.

[2021-07-07 04:24] srirambv commented on #16790
Dupe of #16121

[2021-07-07 04:26] specter78 commented on #16751
@ryanbr

Here are the step-by-step instructions to reproduce the issue.

1. Install and run NextDNS app from mac app store (I'm using custom configuration)
2. Install and run vpn using Passepartout app from mac app store
3. Open ipleak.net in Brave
4. The website shows DNS close to my actual location.
5. Disable NextDNS app
6. The website shows DNS close to vpn location.

[2021-07-07 05:32] Nihal247 commented on #4493
Till the time Brave doesn't adds extension support to Brave Android, I'll recommend to switch to Firefox with decent privacy and a plenty of useful extensions for privacy, security and features.

[2021-07-07 06:24] #16698 closed

[2021-07-07 06:29] metal3d commented on #10171
Sorry for the delay, it seems to work now. Thanks a lot !

[2021-07-07 07:12] anjanraj027 opened #16807 "Brave nightly gets installed automatically"
Brave nightly gets installed automatically even after uninstalling it with Revo uninstaller.
Can anyone help me remove it completely from my pc i want to use brave stable one but it just doesn't leave my pc.
FcccK Nightly brave please let me know if i can remove it completely
![Screenshot (12)](https://user-images.githubusercontent.com/75117277/124715999-3588ba80-df21-11eb-8523-92e6ef15de3b.png)

[2021-07-07 07:19] deepxcode commented on #16799
@stephendonner  I am ready to work on this, Can you assign this to me?
I will be making pull request for the last issue and this issue soon

[2021-07-07 07:24] srirambv commented on #16807
Am not sure what kind of a software that is but you can just go to Settings -> Apps -> Brave Nightly and uninstall it on Windows. Make sure you check the remove data folder when uninstall starts.

[2021-07-07 07:46] c0mpl3xx7 commented on #1380
It's 2021 and the google keep issue is still not solved... I think a lot of us are really sad about this fact

[2021-07-07 07:59] itmecho commented on #16674
Hi @tmancey, Sure!

[2021-07-07 08:02] deepxcode commented on #16799
@stephendonner Since I am a beginner, how do I contribute to the nightly build? Like which branch should I change my code to fix this issue?

[2021-07-07 09:41] Immow commented on #16636
I did not change anything on my Brave browser and both now seem to work, does it auto update?
1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit) seems this number did change.

[2021-07-07 11:07] #16794 closed

[2021-07-07 11:09] spylogsster opened #16808 "Webrecorder extension integration"
Estimate how it can be done

[2021-07-07 11:12] srirambv commented on #16763
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.33 Dev`

- Verified able to search tokens via the dropdown list
- Verified able to search both from and to tokens
- Verified able to select a token from the

[2021-07-07 11:18] srirambv commented on #16753
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.33 Dev`

- Verified token value is shown fully in the dropdown

![image](https://user-images.githubusercontent.com/17010094/124750034-e2146d80-df1c-11eb-877b

[2021-07-07 12:14] ryanbr commented on #16636
No changes in Brave would've fixed this, closing the issue maybe been server side.  Lets hope it stays fixed :)

[2021-07-07 12:14] #16636 closed

[2021-07-07 12:17] ryanbr commented on #16751
Does the same issue show up in Brave Beta @specter78 ?

[2021-07-07 12:56] jsecretan opened #16809 "Users who enable Sync v2 long after having Sync v1 enabled in the past can have trouble enabling Sync v2"
## Description
@AlexeyBarabash and I had a discussion with a user who was having trouble enabling Sync v2.  When he created a chain, then closed the dialog, and came back to Sync settings, sync was disabled again.  In addition the "Sync Settings" "Sync Everything" and "Customize Sync" preference would not stick when the user set it.  Looking at the brave://sync-internals showed that sync was not a

[2021-07-07 13:04] srirambv commented on #16755
@bbondy Not all strings are translated. Since translated are already merged to master we can keep this issue open and move it out of the milestone and for next release have all strings translated and verified

[2021-07-07 13:39] specter78 commented on #16751
@ryanbr Yes, both issues (slow loading in normal window and DNS leak issue) happen in brave beta also. However, neither of the issue happens in safari or firefox.

[2021-07-07 13:46] LaurenWags opened #16810 "unexpected error messages in logs - follow up to #16744"
## Description

After checking #16744, my UI looks more in line with what I was expecting but I still see error messages/failures in my logs after browser restart.

[code]

## Steps to Reproduce

   1. Have a profile that was in a bad state due to https://github.com/brave/brave-browser/issues/16744
   2. Launch with 1.27.94
   3. See that ad panel UI shows approximately expected estimated BAT
   4

[2021-07-07 14:01] jonathansampson commented on #16635
Closing as no-repro.

[2021-07-07 14:01] #16635 closed

[2021-07-07 14:15] bbondy commented on #16797
Brendan had mentioned some people liked to have it to support Brave and to leave it for now, so we'll just leave it for now. We can definitely do the text change though.

[2021-07-07 14:26] r01k commented on #9906
These large tooltips are distracting and cover sections of the URL that often give you the same information to help you differentiate tabs when their title is hidden due to being are pinned. The net effect is that they feel annoying.

Please implement a setting to disable them and instead have the previous practical, unobtrusive tooltip.

[2021-07-07 14:53] spylogsster commented on #16793
closed as duplicate to https://github.com/brave/brave-browser/issues/16612

[2021-07-07 14:54] #16705 closed

[2021-07-07 14:56] #16613 closed

[2021-07-07 14:57] spylogsster commented on #16655
@stephendonner done thanks

[2021-07-07 15:07] tmancey commented on #16810
Test Plan:

- Install a version before the fix
- Enable ads
- Wait for ads to initialize (see the console log)
- Quit the browser
- Use Charles Proxy to rewrite the `GetPayments` `/v1/confirmation/payment/{payment_id}` endpoint to return
[code]
- Use Charles Proxy to rewrite the `GetPayments` `/v1/promotions/ads/grants/summary?paymentId={payment_id}` endpoint to return
[code]
- Replace the `ad_rew

[2021-07-07 15:36] deeppandya commented on #15692
@kjozwiak is this issue relevant ? Should i look into it ?

[2021-07-07 15:46] deeppandya commented on #15772
@srirambv  is this issue relevant ? Should i look into it ?

[2021-07-07 16:07] Furax-31 commented on #8107
This feature is still not available?

[2021-07-07 16:27] #16234 closed

[2021-07-07 16:35] #14048 closed

[2021-07-07 16:40] Brave-Matt opened #16811 "Editing a bookmark in long list causes the browser to jump to top of page"
### Description:
Reported behavior is that when bookmarks are edited -- deleted, modified, etc. -- the act of editing causes the browser to jump to the top of the page, rather than retain your current position on the page.

### Steps to Reproduce
  1. Ensure you have enough bookmarks to necessitate scrolling down.
  2. Edit a bookmark further down the list
  3.

**Actual result:**
Browser jumps to

[2021-07-07 16:55] petemill commented on #16803
@karenkliu I'm going to request that we use solid colors for the icons now, whilst still keeping the gradient text. This simplifies the icon generation. We can at least be iterative if you want to keep open an issue for making the icons have the nice gradient. It is possible with SVG just needs to be worked out within the system here.

[2021-07-07 17:00] stephendonner commented on #16665
Verified `FIXED` using the inline testplan with

Brave | 1.27.95 Chromium: 91.0.4472.124 (Official Build) beta (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. launched Brave
3. loaded `ipns://brantly.eth`
4. clicked on `Use a local node`
5. loaded `brave://settings/ipfs/keys`
6. cl

[2021-07-07 17:33] #16663 closed

[2021-07-07 17:33] #16738 closed

[2021-07-07 17:36] karenkliu commented on #16803
@petemill Sounds good. We can simplify this issue and just make it about the missing selected-accent line.

<img width="296" alt="Screen Shot 2021-07-07 at 10 35 58 AM" src="https://user-images.githubusercontent.com/2388823/124804418-200a9500-df0f-11eb-9b49-b7ec1eef4993.png">

[2021-07-07 17:46] KokoTheBest opened #16812 "Login asked with System Auto Login"
## Description

If there is auto-login for an account, and brave browser is opened (for the first time since current boot), it will ask for the login of that account.

## Steps to Reproduce

   1. Set up auto-login for an account (meaning no user has to be selected, and no password has to be entered for the account)
   2. Boot up the system again (cold-boot or restart)
   3. Open Brave

## Actual

[2021-07-07 17:56] antonok-edm opened #16813 "Update adblock-rust to v0.3.15"
v0.3.15 supports deserializing from the new uncompressed DAT format, which will unblock future changes like differential updates and/or better compression methods than the previous gzip version.

[2021-07-07 18:06] Paulguren commented on #13182
Have there been any updates? This is possibly the biggest gripe that keeps me from using Brave full time.

[2021-07-07 18:18] zenparsing opened #16814 "Rewards brotli helper unit test is not being run"
The unit tests in `brotli_util_unittest.cc` are not currently being executed.

[2021-07-07 19:10] bsclifton commented on #16811
Not clear if this is in brave://bookmarks/ or in bookmarks toolbar; followed up to user w/ question

[2021-07-07 19:29] jumde opened #16815 "Use wallet enums instead of string constants for different wallet code paths"
## Description
The rewards code uses string constants for wallet extensively - https://github.com/brave/brave-core/blob/master/vendor/bat-native-ledger/include/bat/ledger/global_constants.h#L19

These constants can be removed and the enum can be used instead - https://github.com/brave/brave-core/blob/master/vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom#L23

[2021-07-07 19:32] #16747 closed

[2021-07-07 19:35] MDouglas345 opened #16816 "Feature Request : Customization of Crypto Cards on New Tab Page"
Request that when connecting an exchange to the crypto wallet cards on the new tab page, you are able to customize which crypto is shown and which are not.

Refer to this community post -> https://community.brave.com/t/can-the-gemini-com-card-be-edited/262778/5

[2021-07-07 19:38] #16737 closed

[2021-07-07 19:50] spylogsster commented on #16801
we deliberately removed them from this menu
cc @lidel

[2021-07-07 20:01] #16810 closed

[2021-07-07 20:03] stephendonner commented on #16801
They're not removed; they still show up, as expected, eventually.  Did you try the steps verbatim?  Do you mean they are supposed to be removed as per those steps, or in general?

[2021-07-07 20:14] jccleaver opened #16817 "RFE: Build standalone "Password Manager" app using Brave Sync"
## Description

I find myself on multiple occasions opening up my Brave browser app for the sole purpose of looking up a password. This happens occasionally due to the login being in an app that doesn't use the system password dialog, but also when I'm needing to log in to something out of band of the phone.

The Brave password sync is a useful feature, and it seems a bit silly to launch a browser

[2021-07-07 20:15] stephendonner commented on #16799
Sure, assigned to you @deepxcode; for starters, you should be able to find the string in https://github.com/brave/brave-core

[2021-07-07 20:44] #16802 closed

[2021-07-07 20:49] #16588 closed

[2021-07-07 20:55] spylogsster commented on #16801
I found that thread https://github.com/brave/brave-core/pull/8706#issuecomment-834482044, you are right, we should show this. sorry @stephendonner

[2021-07-07 20:57] bsclifton commented on #16811
update: this is on brave://bookmarks/ 👍

[2021-07-07 20:57] pes10k opened #16819 "Expose additional NIK features as about://flags"
Upstream / chromium is working on partitioning an number of currently shared resources (caches, connection pools, etc) and is roughly the same as the [Network Partitioning work is already doing](https://developer.mozilla.org/en-US/docs/Web/Privacy/State_Partitioning#network_partitioning).

There exist feature flags for much of this already in Chromium (see `k*NetworkIsolationKey`](https://source.c

[2021-07-07 21:09] kjozwiak commented on #13909
@deeppandya seems like it's still a bit misaligned. The `Skip` button and the above text don't seem to be aligned so it makes it appear like the either the text or the skip button is shifted to the right. Examples:

**`1.28.60 Chromium: 91.0.4472.124 English`** | **`1.26.74 Chromium: 91.0.4472.124 German`**
---------------------------------------------------|---------------------------------------

[2021-07-07 21:14] karenkliu opened #16820 "Make first run dialog text friendlier"
## Description

Currently, we show a first run dialog with "Set Brave as default browser" checked prior to the browser launching for the first time. It's been pointed out that this ask could be jarring to the user since it appears before the user has had a chance to use the browser.

![image](https://user-images.githubusercontent.com/2388823/124829206-27d93200-df2d-11eb-9979-e906b8b302d2.png)

##

[2021-07-07 21:37] SlowNicoFish opened #16821 "Inconsistent new tab design on Android"
## Description
More widgets on the new tab page would be awesome because it would give a better overview when starting Brave instead of having to scroll trough widgets.
Preferable implement the new tab ui from IOS where the stats shows at the top and top sites below them.

This will create a more consistent experience between the devices

## Actual result

![Screenshot_20210310-085835](https://use

[2021-07-07 21:40] karenkliu opened #16822 "Speedreader button not as accessible in private windows"
## Description

The Speedreader button should use the dark theme colors instead of light theme in Private Window and Private Window with Tor for greater accessibility.

## Steps to Reproduce

   1. Open a Private Window or Private Window with Tor
   2. Go to a Speedreadable page
   3. See the Speedreader button

## Actual result:

![image](https://user-images.githubusercontent.com/2388823/12483215

[2021-07-07 22:46] stephendonner commented on #16794
Verified `FIXED` using

Brave | 1.28.60 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 12.0 (Build 21A5268h)

Steps:
1. clean profile
2. launched Brave
3. opened `brave://settings/`
4. cycled through left-pane category items using `Tab`, to get focus rings
5. examined the focus r

[2021-07-07 22:52] Bundy01 commented on #16109
@tmancey: can you tell me how soon the nightly fix will be effective in the stable release?

[2021-07-07 22:59] Abacate123 commented on #16366
Anyone?

[2021-07-07 23:03] darkdh opened #16823 "Avoid circular dependency in TxController"
https://github.com/brave/brave-core/pull/9214#discussion_r665752743
https://github.com/brave/brave-core/pull/9214#discussion_r665755664

[2021-07-07 23:05] darkdh opened #16824 "Add more unit tests to Transaction Controller"
Should have more coverage to sub components like `EthNonceTracker`, `EthPendingTransactionTracker` and `EthStateController`

[2021-07-07 23:09] #16773 closed

[2021-07-07 23:10] rebron opened #16825 "update search engine onboarding screen"
## Description

Update search engine onboarding screen graphic and text.

## Current result:

<img width="625" alt="Screen Shot 2021-07-07 at 4 07 52 PM" src="https://user-images.githubusercontent.com/5951041/124839650-07fe3a00-df3e-11eb-8ac3-684ba2b98844.png">

## Updated Design and Expected result:
<img width="1062" alt="Screen Shot 2021-07-09 at 12 16 37 PM" src="https://user-images.githubuserc

[2021-07-07 23:26] #16768 closed

[2021-07-07 23:40] stephendonner commented on #16583
Verified `PASSED` using the inline testplan with build

Brave | 1.28.60 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 12.0 (Build 21A5268h)

Steps:

1. Launched Brave. Using Charles Proxy, ensured that usage ping is sent to `laptop-updates.brave.com`.
2. Went to `brave://setting

[2021-07-08 00:07] stephendonner commented on #16747
Hi @darkdh; given this has a test plan (thanks!), is it `QA/Yes`?

[2021-07-08 00:24] darkdh commented on #16747
@stephendonner yeah, I forgot to added QA related labels, added!

[2021-07-08 00:36] stephendonner commented on #16666
@lidel @spylogsster it's all the context-menu import types (video, audio file, text, linked content, etc.), e.g. `Import to IPFS -> This page` (Brave side) & `This page -> Import to IPFS`.

At least they're differently worded, so we can tell them apart, for now 😄

[2021-07-08 01:00] stephendonner commented on #16613
Testplan, please, @spylogsster?  Thanks! 🙏

[2021-07-08 01:03] nguyenT1504 commented on #16613
@spylogsster

[2021-07-08 02:58] Douglashdaniel opened #16826 "Wire up Account Settings Modal to Update Account Name"
## Description
Wire up the `Account Settings Modal` to update `Account Name` in Accounts/Accounts Subview page

![Screen Shot 2021-07-07 at 8 56 25 PM](https://user-images.githubusercontent.com/40611140/124855186-d305dd80-df65-11eb-97e2-d0857fa0eded.png)

[2021-07-08 04:54] dvdhoo opened #16827 "Crashes when entering fullscreen from a shortcut window on macOS"
## Description
After creating a shortcut app window on macOS, whne clicking on the fullscreen button, Brave crashes immediately.

## Steps to Reproduce

   1. create a shortcut window (select open in window option), or open an existing shortcut in window
   2. click fullscreen button on the top left
   3. Brave crashes

## Actual result:
<img width="827" alt="截屏2021-07-08 00 50 01" src="https://us

[2021-07-08 06:47] spylogsster commented on #16613
done

[2021-07-08 06:56] spylogsster opened #16828 "Fix typos"
Few nits

https://github.com/brave/brave-core/pull/9342#discussion_r665787131
https://github.com/brave/brave-core/pull/9342#discussion_r665787237
https://github.com/brave/brave-core/pull/9258#discussion_r665409074

## Test Plan
- check that export menu item works
- check keys are loaded after start

[2021-07-08 07:10] #16803 closed

[2021-07-08 07:29] bsclifton commented on #16827
@dvdhoo I tried to reproduce this and didn't have any luck. I'm on Big Sur on an M1 Mac Mini and I did the following steps:
1. Had version 1.26.74
2. Visited Google (since you showed this) and did a search
3. Right click any result and pick `Open in a new window`
4. Hit green button on the new window

Can you confirm these are the steps you're trying?

[2021-07-08 07:33] dvdhoo commented on #16827
@bsclifton No. You will need to create a shortcut. Follow  "Menu -> More tools -> Create Shortcut...", and make sure you select "Open in Window". Then you can try click on fullscreen. Not sure if this is going to happen on M1 mac though.

[2021-07-08 07:33] bsclifton commented on #16366
Thanks for reporting @Abacate123 - I added the appropriate labels so that we can triage

[2021-07-08 07:35] bsclifton commented on #16109
@Bundy01 currently Nightly is 1.28 which is due to ship to Release (stable) channel on August 10 ([more info here](https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule#release-channel-dates))

[2021-07-08 07:36] bsclifton commented on #16572
@aileenpalafox looks like we have a fix in review; but for future reference, feel free to look into / ask for help on any issue 😄

[2021-07-08 07:51] vinyar commented on #2783
Bump. This is seriously bugging. I've added the Extension, but completely agree that Native Support is a must.

Huge thanks

[2021-07-08 08:00] gio-giorgio opened #16829 "Missing translation from Portuguese (Portugal)"
## Description
When right-clicking a page, everything is translated to portuguese except "Block Element" and "Manage custom filters":

## Steps to Reproduce

   1. Right click on any Brave page.

## Actual result:
![image](https://user-images.githubusercontent.com/26188435/124884548-a9cf6680-dfd2-11eb-858b-f144fece9671.png)

## Expected result:
They can be translated to "Bloquear elemento" and "Ge

[2021-07-08 08:14] urbenlegend commented on #13185
Scrolling is still not smooth on lower end devices. I have a Surface Pro 7 and scrolling Brave News is a stuttery mess. It isn't just the acrylic effect that is stuttering and shimmering, pretty much the entire page lags and jumps when I scroll using my finger.

[2021-07-08 08:15] GeetaSarvadnya opened #16830 "Estimated pending rewards reset to zero after redeeming tokens successfully"
## Description

Estimated pending rewards reset to zero after redeeming tokens successfully

## Steps to Reproduce

   1. Clean profile 1.28.x staging environment
   2. Enable rewards and view an Ad
   3. Redeem tokens successfully
   4. Refresh brave://rewards page `Estimated pending rewards reset to zero`
   5. Estimated pending rewards remained zero even after multiple page refresh

## Actual r

[2021-07-08 08:54] deepxcode commented on #16799
@stephendonner  Can you review the pull request I made? It fixes this issue.

[2021-07-08 09:38] spylogsster commented on #16801
this issue was fixed in https://github.com/brave/brave-browser/issues/16743

[2021-07-08 09:38] #16801 closed

[2021-07-08 09:39] deepxcode commented on #16742
Hey @stephendonner, I know how to truncate the string.
The code is need to be changed in this file right? [settings_localized_strings_provider.cc](https://github.com/brave/brave-core/blob/master/chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc)

The id is in line 296: {"ipfsDeletePeerConfirmation", IDS_SETTINGS_IPFS_DELETE_PEER_CONFIRMATION},
I can add a method

[2021-07-08 10:25] urbenlegend opened #16831 "Unable to claim rewards using touchscreen on Surface Pro 7"
## Description
I am unable to claim rewards using the touchscreen on my Surface Pro 7. Every time I try to drag the BAT triangle to the requested shape, it doesn't move. I have to plug in a regular mouse in order for it to work.

## Steps to Reproduce

   1. Launch Brave on a Microsoft Surface Pro 7. I assume this also applies to any Windows Touch device.
   2. Wait for BAT earnings to come in

[2021-07-08 11:01] Johann999 opened #16832 "HTTPS Everywhere is not working properly."
HTTPS Everywhere is not working properly.
Since I don't want and don't need HPTTS Everywhere, I deactivated it in the settings.
Still, it takes more memory every time you visit a website.
When starting the Brave Browser, HTTPS Everywhere requires approx. 13 KB. After that, the memory requirement grows to 20 KB, 40 KB, 60 KB etc.
I don't know if this is a new problem or if this problem has always e

[2021-07-08 11:08] GeetaSarvadnya opened #16833 "Search icon is overlapping on download option in Sidebar header"
## Description

The search icon is overlapping on download option in Sidebar header

## Steps to Reproduce

   1. Clean profile 1.28.x
   2. Enable a sidebar
   3. Click on the bookmarks icon in the sidebar
   4. Bookmarks are not shown (known issue #https://github.com/brave/brave-browser/issues/1063 )
   5.  Search icon is overlapping on download option in Sidebar header

## Actual result:

![ima

[2021-07-08 13:43] UjCbFwtBayFM commented on #16536
Update: on 07/01 estimated pending rewards in Brave was at 2.7 BAT. Today the payout for June was 5.6 BAT, making up for the "lost" BAT at the middle of the month.

[2021-07-08 14:20] GeetaSarvadnya opened #16834 "Failed to redeem unblinded payment tokens and getting "Go Away DC1" error in console"
## Description

Failed to redeem unblinded payment tokens and getting "Go Away DC1" error in console

## Steps to Reproduce

   1. Clean profile 1.26.x
   2. Enable rewards and view an Ad
   3. Redeem the tokens
   4. Failed to redeem unblinded payment tokens

## Actual result:

Failed to redeem unblinded payment tokens and getting "Go Away DC1" error in console

[code]

## Expected result:
Should

[2021-07-08 14:30] #16828 closed

[2021-07-08 14:34] urbenlegend commented on #7142
Any progress on this? Seems like it'd be a simple fix and would go a long way to making this feature actually usable in Brave.

[2021-07-08 14:38] LaurenWags opened #16835 "unexpected error messages in logs - follow up to #16810"
## Description

Still receiving error messages in logs after checking https://github.com/brave/brave-browser/issues/16810.

## Steps to Reproduce

   1. Have a profile that was affected by https://github.com/brave/brave-browser/issues/16744
   2. Launch with 1.28.62
   3. See that ad panel UI shows approximately expected estimated BAT
   4. Look at logs

## Actual result:

Still see `Payment balan

[2021-07-08 14:38] LaurenWags commented on #16810
Per discussion with @tmancey changed this to `QA/No` as it would have the same test plan as follow up issue https://github.com/brave/brave-browser/issues/16835

[2021-07-08 14:39] #16572 closed

[2021-07-08 14:47] #16685 closed

[2021-07-08 14:52] petemill commented on #16742
I don't think truncating the string in c++ is appropriate when this is a display issue and can be fixed close to the UI in JavaScript. You can truncTe there but it's still a long string of random characters to put in. A sentence. Perhaps it would be better to separate the peer ID and the question, e.g.

[code]

[2021-07-08 14:53] urbenlegend commented on #13877
This issue no longer occurs for me since 1.23 came along. Thanks for the fix! Closing.

[2021-07-08 14:53] #13877 closed

[2021-07-08 14:59] #16731 closed

[2021-07-08 15:09] kjozwiak opened #16836 "Release checklist for `1.26.x - Release #4`"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [ ] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6
  - [ ] macOS
  - [ ] Windows
  - [ ] Linux
- [ ] Double check the previous rel

[2021-07-08 15:10] #16748 closed

[2021-07-08 15:10] #16749 closed

[2021-07-08 15:21] kjozwiak opened #16837 "Manual test run on macOS (Intel) for 1.26.x - Release #4"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-07-08 15:21] kjozwiak opened #16838 "Manual test run on macOS (arm64) for 1.26.x - Release #4"
### Installer

- [x]  Check signature: If OS Run `"spctl --assess --verbose /Applications/Brave Browser.app"` and make sure it returns `accepted`.
- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-universal.dmg`
      - [x] Check executable size, should be `~470mb`
   - [x] `Brave-Browser-universal.pkg`
       - [x] Check executable size, should be `~470mb`
   -

[2021-07-08 15:21] kjozwiak opened #16839 "Manual test run on Windows x64 for 1.26.x - Release #4"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-07-08 15:21] kjozwiak opened #16840 "Manual test run on Linux for 1.26.x - Release #4"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-07-08 15:21] kjozwiak opened #16841 "Manual test run on Android ARM for 1.26.x - Release #4"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-07-08 15:21] kjozwiak opened #16842 "Manual test run on Android Tab for 1.26.x - Release #4"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-07-08 15:21] kjozwiak opened #16843 "Manual test run on Android x86 for 1.26.x - Release #4"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Upgrade

Pre-Requisite: Visit several websites so Top Tiles under New Tab Page get updated and add several sites via `Add to Home screen` (from 3 dots menu) using a previous build/installation before upgrading.

- [x] Make sure that da

[2021-07-08 15:23] LaurenWags commented on #16655
labelling as `QA/Blocked` until we get a new 1.27.x build.

[2021-07-08 15:25] kjozwiak opened #16844 "Manual test run on macOS (Intel) for 1.27.x - Release"
### Installer

- [x] Check the installer is close to the size of the last release
- [x] Check signature: On macOS, run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  On Windows, right-click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double-click on the signature.  Make sure it says "The digital

[2021-07-08 15:25] kjozwiak opened #16845 "Manual test run on macOS (arm64) for 1.27.x - Release"
### Installer

- [x]  Check signature: If OS Run `"spctl --assess --verbose /Applications/Brave Browser.app"` and make sure it returns `accepted`.
- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-universal.dmg`
      - [x] Check executable size, should be `~470mb`
   - [x] `Brave-Browser-universal.pkg`
       - [x] Check executable size, should be `~470mb`
   -

[2021-07-08 15:25] kjozwiak opened #16846 "Manual test run on Windows x64 for 1.27.x - Release"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-07-08 15:25] kjozwiak opened #16847 "Manual test run on Linux for 1.27.x - Release"
### Installer

- [x] Check the installer is close to the size of the last release
- [x] Check signature: On macOS, run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  On Windows, right-click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double-click on the signature.  Make sure it says "The digital

[2021-07-08 15:29] kjozwiak commented on #16846
We'll only need to run through a reduced pass on `Win x64` as we've already ran through a full C92 pass via https://github.com/brave/brave-browser/issues/16695. Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 15:29] kjozwiak commented on #16847
Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 15:30] kjozwiak commented on #16845
Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 15:30] kjozwiak commented on #16844
Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 15:31] kjozwiak opened #16848 "Release checklist for `1.27.x - Release`"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6
  - [x] macOS
  - [x] Windows
  - [x] Linux
- [x] Double check the previous rel

[2021-07-08 15:36] bbondy commented on #16755
Most translations re-pulled in here:
https://github.com/brave/ethereum-remote-client/commit/092477c547a49b155e755b44666d21393bb57adc

[2021-07-08 15:36] #16755 closed

[2021-07-08 15:41] kjozwiak opened #16849 "Manual test run on Android ARM for 1.27.x - Release"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-07-08 15:41] kjozwiak opened #16850 "Manual test run on Android Tab for 1.27.x - Release"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Visual look

- [x] Make sure thereafter every merge
  - [

[2021-07-08 15:41] kjozwiak opened #16851 "Manual test run on Android x86 for 1.27.x - Release"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Upgrade

Pre-Requisite: Visit several websites so Top Tiles under New Tab Page get updated and add several sites via `Add to Home screen` (from 3 dots menu) using a previous build/installation before upgrading.

- [x] Make sure that da

[2021-07-08 15:47] kjozwiak commented on #16849
We'll only need to run through a reduced pass on `ARM` as we've already ran through a full C92 pass via https://github.com/brave/brave-browser/issues/16696. Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 15:48] kjozwiak commented on #16850
Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 15:48] kjozwiak commented on #16851
Please don't run through the above until we get C92 merged into `1.27.x`.

[2021-07-08 16:03] #16835 closed

[2021-07-08 16:21] stephendonner commented on #16267
@spylogsster can you help us get a more-specific test plan which works for iOS?  I'd like to get it incorporated into https://github.com/brave/brave-browser/wiki/IPFS-Features; thanks!

[2021-07-08 16:22] mkarolin opened #16852 "Upgrade from Chromium 92.0.4515.81 to Chromium 92.0.4515.93."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/92.0.4515.81..92.0.4515.93?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-07-08 16:24] srirambv commented on #16748
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.34 Dev`

- Verified `Next quote in` shows correctly on dark theme
![image](https://user-images.githubusercontent.com/17010094/124957347-e326c700-e010-11eb-95

[2021-07-08 16:24] stephendonner commented on #14775
@spylogsster can we get an iOS-specific test plan?  I'd like to work that into https://github.com/brave/brave-browser/wiki/IPFS-Features (as Android seems to have more-explicit support, we can't simply use its cases verbatim).  Thanks!

[2021-07-08 16:24] srirambv commented on #16749
Verification passed on

Brave | 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | macOS Version 10.15.7 (Build 19H114)
Component | `1.0.34 Dev`

- Verified slippage tolerance selection is visible on dark theme
![image](https://user-images.githubusercontent.com/17010094/124957347-e326c700-e010

[2021-07-08 16:27] deepxcode commented on #16742
Yes it would be better if we do that, will make the necessary changes and make the Pull request.
Thank you

[2021-07-08 16:39] srirambv commented on #16755
Verification passed on

Brave | 1.28.37 Chromium: 91.0.4472.124 (Official Build) nightly (64-bit)
-- | --
Revision | `7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}`
OS | Linux
Component | `1.0.33 Dev`

French

![image](https://user-images.githubusercontent.com/17010094/124958205-cd65d180-e011-11eb-890e-b700a1eb1015.png) | ![image](https://user-images.githubusercontent.co

[2021-07-08 16:51] srirambv opened #16853 "Release Notes for Ethereum Remote Client 1.0.31"
- [brave/brave-browser#16748](https://github.com/brave/brave-browser/issues/16748) - Fix dark theme issue on Swap screen

[2021-07-08 17:02] #16814 closed

[2021-07-08 17:20] #16853 closed

[2021-07-08 17:20] stephendonner commented on #16803
Verified `FIXED` using

Brave | 1.28.64 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:
1. new profile
2. launched Brave
3. opened `brave://settings/`
4. hovered over the left-hand side's category headings
5. click on a category heading in Settings' side

[2021-07-08 17:33] stephendonner commented on #16802
Verified `FIXED` using

Brave | 1.28.64 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. loaded `brave://settings/appearance`
2. chose `Dark` from `Brave colors`
3. hovered the mouse pointer over the left-hand side category headings
4. looked at the h

[2021-07-08 17:46] shhnjk opened #16855 "ASan build not working on Windows?"
## Description
When I try to build ASan, it fails on Windows. Note that I can build a component build, but I think ASan only works in Release. For example, triggered a check failure doesn't result in an ASAN log in component build with `--is_asan` (instead it displayed a callstack for debug)

Using npm@6.14.13 and node@v12.18.2

[code]

## Steps to Reproduce
   1. On Windows, Run `npm run build Re

[2021-07-08 17:47] tmancey opened #16856 "Revert "Estimated Pending Rewards value decreased unexpectedly" fixes"
8a97ecd2 Revert "Merge pull request #9286 from brave/issues/16678"
788e9826 Revert "Merge pull request #9309 from brave/issues/16744"
4d2cd857 Revert "Merge pull request #9354 from brave/issues/16810"
12c01d97 Revert "Merge pull request #9370 from brave/issues/16835"

[2021-07-08 17:48] shhnjk commented on #16855
Oh, this is dupe of https://github.com/brave/brave-browser/issues/16632

[2021-07-08 17:48] #16855 closed

[2021-07-08 17:48] tmancey commented on #16856
Revert:

8a97ecd2 Revert "Merge pull request #9286 from brave/issues/16678"
788e9826 Revert "Merge pull request #9309 from brave/issues/16744"
4d2cd857 Revert "Merge pull request #9354 from brave/issues/16810"
12c01d97 Revert "Merge pull request #9370 from brave/issues/16835"

[2021-07-08 17:49] GeetaSarvadnya commented on #16830
@tmancey This issue is fixed and working fine in the version below, not sure which PR fixed this issue.

[code]

[2021-07-08 17:49] stephendonner commented on #16737
@spylogsster @rebron @yrliou @kjozwiak I think (once I verify it's fixed on `nightly`) that we'll want to take an uplift for this in `1.27.x`, given it's behaving as expected in `1.26.74`, but present in `1.27`:

<img width="1677" alt="Screen Shot 2021-07-08 at 10 47 29 AM" src="https://user-images.githubusercontent.com/387249/124968190-2d408600-dfda-11eb-8c57-df87f894837b.png">

[2021-07-08 17:59] tmancey opened #16857 "Revert "Estimated Pending Rewards value decreased unexpectedly" fixes - 1.27.x"
7b2a7bcb Revert "Fixes estimated Pending Rewards value decreased unexpectedly"
0000ed2d Revert "Fixes estimated pending rewards does not reset to expected value when you have uncashed in tokens - follow up to #16678"

[2021-07-08 18:02] GeetaSarvadnya opened #16858 "Next payment date is shown incorrectly"
## Description

The system date is `July 8th`, the next payment date in the Ads panel is showing up as `Jan 1` instead of `Aug 8`

## Steps to Reproduce

   1. Clean profile 1.28.x
   2. Enable rewards
   3. Next payment date is shown incorrectly

## Actual result:

Next payment date is shown incorrectly

![image](https://user-images.githubusercontent.com/38657976/124969131-f901af80-e043-11eb-8491

[2021-07-08 18:08] tmancey opened #16859 "Revert "Estimated Pending Rewards value decreased unexpectedly" fixes - 1.26.x"

[2021-07-08 18:25] GeetaSarvadnya commented on #16858
The issue is reproducible in 1.26.x also

Clean profile - Ads panel is showing up the next payment date as `Aug 6` instead of `Aug 8` (current system date is July 8th)

![image](https://user-images.githubusercontent.com/38657976/124971901-62cf8880-e047-11eb-89cb-51fc5129c55d.png)

Restart the browser and reload brave://rewrads page, the Ads panel is showing up the next payment date as `Aug 8`
![im

[2021-07-08 18:32] shhnjk commented on #16632
I have same issue on Windows :(

[2021-07-08 18:36] rmcfadden3 commented on #16820
Drafting copy here — https://app.asana.com/0/1200197525818223/1200574742736127/f

[2021-07-08 18:52] jms1voalte commented on #16137
Still present, `Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)` on macOS 11.3.

[2021-07-08 19:00] karenkliu opened #16860 "Fix jumping mute tab button when hovering on inactive tab"
## Description

Currently when the user hovers over an inactive tab with audio, the mute button jumps to make room for the X icon. This causes accidentally clicking on the 'X' icon when the intended action was to mute the tab.

Original description:

## Steps to Reproduce

   1. Open a tab with audio
   2. Navigate to a different tab
   3. Hover over the inactive tab with audio to see the jumping

[2021-07-08 19:22] #16856 closed

[2021-07-08 19:52] kjozwiak commented on #16857
Closing as https://github.com/brave/brave-core/pull/9377 was reverted/merged into `1.27.x`.

[2021-07-08 19:52] #16857 closed

[2021-07-08 19:54] kjozwiak commented on #16859
Closing as https://github.com/brave/brave-core/pull/9378 was reverted/merged into `1.26.x`.

[2021-07-08 19:54] #16859 closed

[2021-07-08 20:06] SYK-08 commented on #2645
I am not able to add a custom tip amount on Brave Mobile, please help.

[2021-07-08 20:06] tmancey commented on #16830
Closing as not actionable as we have reverted the changes with https://github.com/brave/brave-browser/issues/16856

[2021-07-08 20:06] #16830 closed

[2021-07-08 20:31] tmancey commented on #16109
@Bundy01 If this is in relation to ad notifications appearing. We are still running tests before rolling them out to all users. Thanks

[2021-07-08 20:42] LaurenWags commented on #16835
marked `QA/No` per https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1625774492272100?thread_ts=1625143188.230600&cid=CHGKGMHDJ

[2021-07-08 20:43] LaurenWags commented on #16810
Reverted, remains `QA/No` per https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1625774492272100?thread_ts=1625143188.230600&cid=CHGKGMHDJ

[2021-07-08 20:43] LaurenWags commented on #16744
Reverted, marked `QA/No` per https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1625774492272100?thread_ts=1625143188.230600&cid=CHGKGMHDJ

[2021-07-08 20:43] LaurenWags commented on #16678
Reverted, marked `QA/No` per https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1625774492272100?thread_ts=1625143188.230600&cid=CHGKGMHDJ

[2021-07-08 20:46] LaurenWags opened #16861 "Estimated Pending Rewards value decreased unexpectedly - follow up to #16678"
## Description

See https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1625143188230600 for discussion. Logging new issue per this thread.

I noticed today that my "Estimated Pending Rewards" value dropped so @tmancey and I got on a call to look. While we were on the call, it dropped further (from 0.030 BAT to 0 BAT).

I saw the below messages in my logs (which may or may not be related):

[code]

[2021-07-08 20:54] stephendonner commented on #16743
Verified `FIXED` using the inline testplan with build

Brave | 1.28.64 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. launched Brave
3. loaded `ipns://brantly.eth` and clicked `Use a local node`
4. in a new tab, went to `brave://setti

[2021-07-08 20:56] #16822 closed

[2021-07-08 20:57] LaurenWags commented on #2645
@SYK-08 custom tip amount will be implemented on Android with https://github.com/brave/brave-browser/issues/16021

[2021-07-08 20:57] tmancey commented on #16858
@GeetaSarvadnya Can you please retest this in 1.28.67, 1.27.98 and 1.26.75 as we have reverted some changes

[2021-07-08 21:00] stephendonner commented on #16726
Verified `PASSED` using

Brave | 1.28.64 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

<img width="1770" alt="Screen Shot 2021-07-08 at 1 59 46 PM" src="https://user-images.githubusercontent.com/387249/124990175-ddbb8380-dff4-11eb-9b84-3103a5bc4eee.png">

Con

[2021-07-08 21:15] keur opened #16862 "speedreader: Incorrectly identifying search.brave.com/news"
https://search.brave.com/news?q=stuff&source=web is being run through speedreader.

[2021-07-08 21:21] keur commented on #16862
cc @rebron

[2021-07-08 21:28] spylogsster commented on #14775
afaik it is not implemented for iOS yet, in this issue just need to check that overall ipfs works on desktop and android via localnode as usual

[2021-07-08 21:29] spylogsster commented on #16267
afaik it is not implemented for iOS yet, in this issue just need to check that overall ipfs works on desktop and android via localnode as usual

[2021-07-08 21:30] jimmywarting commented on #5490
How about switching out simple-get for fetch?
NodeJS is planing on releasing fetch in core. it have already implemented lots of underlying dependencies to make it happen like the whatwg stream. so get ready for it?

simple-get is not so simple as it may seem behind the source.

https://pastebin.com/82ayvGKB

Mather of fact: it embeds builtin-status-codes, inherits, readable-stream, xtend buffer, i

[2021-07-08 21:38] lukemulks commented on #13875
+1 for this.

Any time I click on a "Help" or "Help from web" link within the Windows OS, I'm navigated directly via Edge (even though Brave is set as my default browser).

Interestingly enough, the navigation is to an `https` destination, which technically is the default protocol that Brave should be handling when Brave is set as the default browser.

It also appears to be very difficult to manua

[2021-07-08 21:44] fmarier opened #16863 "[hackerone] Restrict cosmetic filter creation to the origin of the page it's on"
The content script which implements Shields cosmetic filtering talks to the extension background script over a `postMessage` channel. This means that a compromised renderer could send messages to the extension as well.

We should look into whether or not we can make use of a random token to restrict the messages accepted by the backend to those that originating from the content script injected by

[2021-07-08 21:53] fmarier commented on #16863
Here's the pattern that iOS uses: https://github.com/brave/brave-ios/search?q=securityToken

[2021-07-08 22:28] stephendonner commented on #16613
Verified `PASSED` using the inline testplan here with build

Brave | 1.28.64 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. launch Brave
3. load `ipns://brantly.eth`
4. click on `Use a local node`
5. loaded `brave://settings/ipfs/keys

[2021-07-08 22:57] karenkliu commented on #16820
Designs added!

[2021-07-08 23:09] stephendonner commented on #16646
Verified `PASSED` using a subset of my testplans from #14126 with build

Brave | 1.28.64 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Confirmed:
* feature is ENABLED by default
* feature is still `ENABLED` / `DISABLED` toggleable via `brave://flags` (if that

[2021-07-08 23:12] doctord919 opened #16864 "No claim message ... Payment balance is not ready"
I have no button 'claim rewards' and I didn't get a reward.

## Steps to Reproduce

   1.  run brave

## Actual result:

No button because 'Payment balance is not ready'

## Brave version (brave://version info)

Windows 10
Brave 1.26.74

## Version/Channel Information:

- Can you reproduce this issue with the current release? yes

## Miscellaneous Information:

I modify brave and add logging info.

[2021-07-08 23:36] stephendonner opened #16865 "CR92- `This file can't be downloaded securely` mixed-content text is unreadable"
## Description

`This file can't be downloaded securely` mixed-content text is unreadable

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `https://www.leaseweb.com/platform/network` and scroll down to `Bandwidth Capacity`
   4. right-click any file and choose `Save link as...` and click `Save` in the resulting file-picker dialog
   5. look at the bottom download tray/bar

[2021-07-08 23:37] jumde opened #16866 "Remove duplicated enums across the rewards code"
## Description
Enums for publisher status are duplicated -

1. `android/java/org/chromium/chrome/browser/BraveRewardsPublisher.java`
2.  `components/brave_rewards/resources/tip/lib/interfaces.ts`
3. `components/definitions/rewardsExtensions.d.ts`
4. `components/definitions/rewards.d.ts`
5. `vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom`

[2021-07-09 04:28] deeppandya opened #16867 "Fix VPN native error"
This issue is to fix nightly crash for 1.28.64

[2021-07-09 04:31] #16867 closed

[2021-07-09 05:02] ryanbr commented on #16751
@antonok-edm  This wouldn't be related to the recent CNAME issues?

[2021-07-09 05:31] #16807 closed

[2021-07-09 06:28] simonhong opened #16868 "build failure - error: 'chrome/browser/cart/chrome_cart.mojom.h' file not found"
@nullhook had this issue on local build.
[code]

[2021-07-09 07:34] goodov commented on #16646
good catch! I missed that. Let's also clean this up.

[2021-07-09 07:48] AlexeyBarabash opened #16869 "Sync crash after `Disable Sync(Clear data)`"
From the https://community.brave.com/t/laptop-phone-are-on-sync-chain-but-no-tabs-are-shared-resubmit/264758/9:

[code]
Some sync related errors in log
[code]

[brave.txt](https://github.com/brave/brave-browser/files/6789713/brave.txt)

[2021-07-09 08:30] bsclifton opened #16870 "Update search engine defaults for DE / AU / NZ / IE"
## Description
Update search engine defaults for Germany (DE), Australia (AU), New Zealand (NZ), and IE (Ireland)

## Test plan
See https://github.com/brave/internal/issues/789

[2021-07-09 08:37] GeetaSarvadnya opened #16871 "Updated Tip settings are not retained after the upgrade"
## Description

Updated Tip settings are not retained after the upgrade

## Steps to Reproduce

   1. Clean profile 1.26.x nightly build
   2. Enable rewards
   3. Navigate to the Tips panel and uncheck the checkbox for `Reddit` and `Twitter`
   4. Upgrade profile to 1.28.x nightly build
   5. Updated Tip settings are not retained after the upgrade

## Actual result:

Updated Tip settings are not

[2021-07-09 09:38] DenverCoder1 opened #16872 "Color picker dropper does not work in color inputs"
## Description

Color picker dropper does not work in color inputs.

Flickering occurs around the cursor and when you click, NAN appears in the first field.

## Steps to Reproduce

   1. Click an `<input type="color">`
   2. Click the dropper icon
   3. Move the mouse around and click

Demo fiddle: https://jsfiddle.net/ne04x8uw/

## Actual result:

Flickering occurs around the cursor and when you

[2021-07-09 09:57] mnhrsngh commented on #774
I want to switch from Firefox, but i would like to be able to move buttons around. For example, I prefer the refresh button to be right of the URL, I want to hide the bookmarks button, would like a drop down for recent downloads as well (rather than needing to open a tab). Would also like for option to have wider tab as I cannot read them when I have more than 20 open (as a more than often do). My

[2021-07-09 10:17] deepxcode commented on #16742
So instead of
[code]

It will be,

[code]

[2021-07-09 10:30] Miyayes commented on #16871
Just noting: I view this is as a very bad problem, and I would assign a high priority to it.

[2021-07-09 10:40] zenparsing commented on #16871
@GeetaSarvadnya After the upgrade in this scenario, do the tip icons show on the sites that were previously de-selected? (e.g. Twitter, in this case).

[2021-07-09 10:52] zenparsing commented on #16871
It appears that the inline tip settings UI is dependent on `localStorage` to maintain the current UI state, and does not currently request updated pref values from the browser.

[2021-07-09 11:12] GeetaSarvadnya opened #16873 "Monthly contributions and Tips panel values reset to zero after upgrade"
## Description

Monthly contributions and Tips panel values reset to zero after upgrade

## Steps to Reproduce

   1. Clean profile 1.26.x nightly build staging env
   2. Setup monthly contributions and one-time tips
   3. Trigger AC, after successful AC, upgrade profile to 1.28.x nightly build
   4. Monthly contributions and Tips panel are empty and values are reset to zero
   5. Reload brave://r

[2021-07-09 11:40] GeetaSarvadnya commented on #16871
@zenparsing My observation is as below:

1. Install 1.26.x nightly build
2. Enable rewards and uncheck twitter and reddit checkboxes in Tips panel
3. Open https://twitter.com/bravelaurenwags and ensured inline tip button is available (known issue https://github.com/brave/brave-browser/issues/12870#issuecomment-732994642)
4. Restart the browser
5. Ensured inline tip is NOT available in https://twit

[2021-07-09 14:07] spylogsster opened #16874 "Fix EthJsonRpcControllerUnitTest.ResolveENSDomain"
## Description

Fails on component and asan builds

## Expected result:

- Test finished successfully

[2021-07-09 14:31] zenparsing commented on #16873
This appears to be a UI bug: the `firstLoad` state no longer works correctly (likely after removal of the "rewards enabled" pref) and does prevents a refresh of required data.

[2021-07-09 14:45] GeetaSarvadnya commented on #15316
Verification is in-progress

[code]

[2021-07-09 14:51] keur opened #16875 "Deliver speedreader URL heuristics via component updater"
We can push out of band updates

[2021-07-09 14:53] #16862 closed

[2021-07-09 15:02] jumde opened #16876 "Pass LedgerClient instead of LedgerImpl to CustodianServers."
## Description
LedgerImpl* is injected throughout the codebase to call back to LedgerImpl which then calls out to the LedgerClient. As a temporary measure to clean up the code check out the solution from the ads library, see vendor/bat-native-ads/src/bat/ads/internal/ads_client_helper.h.

[2021-07-09 15:38] Johann999 commented on #3424
Please correct this issue,
This issue is now older than 2 years,

Man thanks.

[2021-07-09 15:39] #13943 closed

[2021-07-09 16:57] rebron commented on #16872
@DenverCoder1 Are you sure with shields down the picker isn't working? I was able to get it working that way.
cc: @ryanbr

[2021-07-09 17:38] mkarolin opened #16877 "[cr92 followup] Revert using precompiled headers with unit/browser tests targets."
Using precompiled headers is causing an intermittent build error with brave_unit_tests on Windows:
<pre>
../../brave/vendor/brave_base/random_unittest.cc(92,22): error: use of undeclared identifier 'M_LN2'
  EXPECT_DOUBLE_EQ(3*M_LN2, StdExponential(0, 0.25));
                     ^
</pre>

This is because `M_LN2` on Windows requires defining `_USE_MATH_DEFINES` before including `<cmath>`. We also

[2021-07-09 17:53] deeppandya opened #16878 "Fix deprecated jni calls for VPN"
This issue is to update deprecated jni calls for VPN native calls to avoid aab errors.

[2021-07-09 17:54] kjozwiak opened #16879 "Linking with Uphold broken when sent into e-mail verification flow - follow up to `16269` & `16410`"
## Description

Originally, https://github.com/brave/brave-browser/issues/16410 was supposed to fix https://github.com/brave/brave-browser/issues/16269 which is the original issue that was filed by @Miyayes. However, users are still running into the issue. The current workaround for users is disabling `Shields`. Some more information:

* Seems to be cookie related as enabling `All cookies allowed`

[2021-07-09 17:57] kjozwiak commented on #16879
Example of the verification email that's sent:

![Screenshot 2021-07-09 135609](https://user-images.githubusercontent.com/2602313/125118356-96e59080-e0bd-11eb-890d-f89dda8d2ff1.png)

[2021-07-09 18:16] urbenlegend commented on #11889
I highly urge you guys to reconsider this bug. New users can potentially be turned off by this and think that Brave comes with adware. Reactions like this https://www.reddit.com/r/brave_browser/comments/ogu86b/i_switched_to_brave_a_month_or_two_ago_loving_it/
are not uncommon. In my personal life, I've always had to explain to people why these ads are shown by default when they have not opted-into

[2021-07-09 18:30] karenkliu commented on #9262
Re: today's discussion. The Speedreader promo bubble has been implemented, but needs to show the first 3 times the user turns on Reader Mode. It should not be triggered when user clicks on the Reader mode icon (this should only toggle on/off Reader mode).

[2021-07-09 18:41] jumde opened #16880 "Resolve naming conflicts in rewards"
## Description

1. #include "bat/ledger/ledger.h

using FetchBalanceCallback =
    std::function<void(type::Result, type::BalancePtr)>;

it is re-defined in `uphold/uphold.h` | `bitflyer/bitflyer.h` and `gemini/gemini.h`

using FetchBalanceCallback = std::function<void(type::Result, double)>;

[2021-07-09 18:42] keur opened #16881 "Fix speedreader accessible text"
Right now the accessible text is placeholder taken from Chromium. Use `Additional States and Dark Theme` section from Figma.

https://www.figma.com/file/YHMNRL2XpZDOUe6n1Dw6K1/Desktop-Speedreader?node-id=0%3A1

[2021-07-09 18:43] keur commented on #9262
Created a separate issue for the accessible text. Going to batch these fixes into the same PR thoough

https://github.com/brave/brave-browser/issues/16881

[2021-07-09 18:51] rebron opened #16882 "update page formatting, author and time stamp in speedreader mode"
## Description
Page formatting should use the Atkinson Hyperlegible font. Author byline and date of article should show be show in it's own section underneath the sub-headline or headline if no sub-headline is available.

## Design
<img width="485" alt="Screen Shot 2021-07-09 at 11 45 27 AM" src="https://user-images.githubusercontent.com/5951041/125123232-4107ed00-e0ab-11eb-8ab4-5705c032d247.png">

[2021-07-09 19:03] stephendonner commented on #16787
Verified `FIXED` using the testplan here with build

Brave | 1.28.70 Chromium: 92.0.4515.81 (Official Build) nightly (x86_64)
-- | --
Revision | dba3af0a9a48954c8b188bc641e651580b7cb7b5-refs/branch-heads/4515@{#1162}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. clean profile
2. launched Brave
3. enabled sidebar via `brave://flags/#sidebar`
4. restarted when prompted
5. confirmed Brave relaunc

[2021-07-09 19:05] nullhook commented on #16860
The area of this tab is called _alert indicator_ and it's used for multiple states:

[code]
![image](https://user-images.githubusercontent.com/8665427/125124937-bc6a9e00-e0ad-11eb-9600-79841bda061c.png)

screen recording:

https://user-images.githubusercontent.com/8665427/125124955-c55b6f80-e0ad-11eb-9d8e-2ea872cb783c.mov

are we only moving the audio icon over or the whole section that holds the

[2021-07-09 19:18] #16878 closed

[2021-07-09 19:24] fmarier opened #16883 "Remove old cosmetic filtering migration code"
[Migration code](https://github.com/brave/brave-core/blob/b80a0290d20f5ce2cb5719db4764141519162650/components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts#L74-L95) was added in https://github.com/brave/brave-core/pull/8156 to move any old-style custom cosmetic filters to adblock.

This shipped in 1.23 and so we've given folks a fair amount of time to upgrade (5 rel

[2021-07-09 19:30] stephendonner commented on #16655
Verified `FIXED` using

Brave | 1.27.100 Chromium: 91.0.4472.124 (Official Build) beta (x86_64)
-- | --
Revision | 7345a6d1bfcaff81162a957e9b7d52649fe2ac38-refs/branch-heads/4472_114@{#6}
OS | macOS Version 11.4 (Build 20F71)

Steps:

1. new profile
2. launched Brave
3. loaded `brave://settings/extensions`
4. for `Method to resolve Ethereum Name Service (ENS)`, I chose Ethereum`
5. opened three ne

[2021-07-09 19:41] antonok-edm opened #16884 "Remove legacy cosmetic filter migration code"
Brave 1.23 introduced a migration for filters created using the old right-click context menu "block element via CSS selector" option, moving them from a localstorage based backend to the brave://adblock custom filters box.

At this point, it's probably safe to remove the migration logic.

[2021-07-09 19:42] antonok-edm commented on #16884
duplicate of https://github.com/brave/brave-browser/issues/16883

[2021-07-09 19:42] #16884 closed

[2021-07-09 20:01] #16852 closed

[2021-07-09 20:01] karenkliu commented on #16860
@nullhook Aside from the audio playing/muting, the other icons don't seem actionable to me. If that's correct, then I think it would be fine to only move the audio playing/muting buttons since the user probably wouldn't try to click on the other icons.

If it's cleaner to move everything over though, I'm fine with that too.

[2021-07-09 20:32] tortino commented on #16789
yes please block promoted ads!

[2021-07-09 20:54] mkarolin opened #16885 "[cr92 followup] Guest menu is missing "Exit" menu item."
Currently, clicking on the Guest menu, doesn't show the "Exit" item:

<img src=https://user-images.githubusercontent.com/41635752/125134334-3cf0c500-e0d5-11eb-8339-5526a967c4ef.png height="20%" width="20%">

and with multiple windows we show:

<img src=https://user-images.githubusercontent.com/41635752/125134413-57c33980-e0d5-11eb-8f95-e9ef0c529a4d.png height="20%" width="20%">

whereas Chrome sho

[2021-07-09 21:00] codybanxs opened #16886 "Rewards opt-in text issue from greaselion"
## Description

It seems the subtext on the opt-in screen from the tipping banner is not quite right.

## Steps to Reproduce

   1. Open any page that supports greaselion as a new Brave user
   2. Click on the BAT icon for inline tipping
   3. Tipping banner will appear which includes this incorrect string

## Actual result:

![image (2)](https://user-images.githubusercontent.com/61210652/12512163

[2021-07-09 21:30] Douglashdaniel opened #16887 "Separate UpdateAccountNames Method into 2 Methods"
## Description
This Methond `UpdateAccountNames`
[code]
needs to be separated into 2 separate methods in `brave_wallet_service`
1) `SetInitialAccountName` to set the initial account name/names
2) `AddNewAccountName` to use `ListPrefUpdate` to add a new account name to the bottom of list

[2021-07-09 21:35] keur opened #16888 "speedreader: clicking reader mode pill should toggle off the page"
Right now when clicking `Reader Mode` the Promo bubble drops down prompting the user to enable Speedreader. This bubble should only drop down automatically. When the user clicks the button, it's to toggle off the distillation.

[2021-07-09 22:18] ryanbr commented on #16479
@frankwaves @vrischmann   How is this looking? any more YT ads?

[2021-07-09 22:24] frankwaves commented on #16479
Sorry for late reply. I had tried that already when I posted my original message, it did not work.

[2021-07-09 22:25] Brave-Matt opened #16889 "PC shutdown kills Brave application before data can be cleared"
## Description

Certain actions, such as shutting down your PC w/Brave open, will kill the application before the `Clear data on exit` process completes. This results in that data remaining in browser, despite the browser having been "closed".

cc @mkarolin @rebron

## Steps to Reproduce

   1. Set data to be cleared on exit (`Settings --> History --> Clear browsing data`)
   2. With Brave open, s

[2021-07-09 23:35] vrischmann commented on #16479
I was testing on desktop, not Android.

[2021-07-09 23:36] stephendonner commented on #16799
Fixed by https://github.com/brave/brave-core/pull/9368 - not sure why this didn't get auto-resolved.

[2021-07-09 23:36] #16799 closed

[2021-07-10 00:59] keur commented on #11149
Not relevant anymore.

[2021-07-10 00:59] #11149 closed

[2021-07-10 01:04] #16868 closed

[2021-07-10 01:14] #16081 closed

[2021-07-10 01:20] ShivanKaul opened #16890 "Restore gesture requirement for async clipboard write access"
Chromium 66+ implements [Asynchronous Clipboard API](https://w3c.github.io/clipboard-apis/). Chromium, in contrast to [Safari](https://webkit.org/blog/10855/async-clipboard-api/) and [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1619251), allow a website to write to the user's clipboard using `navigator.clipboard.writeText()/write()` without a user gesture (only criteria is that the tab s

[2021-07-10 02:37] fmarier commented on #16632
What if you put the following in your `~/.npmrc` (or the equivalent on Windows)?
[code]

[2021-07-10 03:01] #16741 closed

[2021-07-10 03:16] snowbound commented on #16034
@mariospr  A month and a half later Brave profile use on a Win10 system here is utterly useless. Brave will crash as soon as I click on the profile icon in the toolbar. Version 1.27.100 Chromium: 91.0.4472.124 (Official Build) beta (64-bit). Brave has become a wack a mole browser. Issues linger on I have to develop workarounds

[2021-07-10 03:35] ryanbr commented on #16872
Working here @DenverCoder1 @rebron  (no changes to shields or anything)

![jsfiddle-swatch](https://user-images.githubusercontent.com/1659004/125150507-6d4b6880-e194-11eb-955a-faa5ac6dc0be.gif)

[2021-07-10 11:38] #16350 closed

[2021-07-10 14:49] github-account1111 opened #16891 "Disabling Upgrade connections to HTTPS doesn't do anything"
## Description
![image](https://user-images.githubusercontent.com/5728319/125167186-cd3f1080-e18e-11eb-8c1b-e534162090fe.png)
HTTP-only sites don't work even when `Upgrade connections to HTTPS` is disabled in settings. The Dashboard ignores the settings (still has the option enabled) and even disabling from the Dashboard doesn't stop the connection from getting upgraded.

## Steps to Reproduce

[2021-07-10 16:51] Johann999 commented on #16891
same issue as #3424

[2021-07-10 17:43] ExtraHash opened #16892 "localhost 8545 does not work as an option for metamask"
## Description
The Localhost option is not selectable even when running a local ethereum node.

## Steps to Reproduce

   1. Run local ethereum node on computer
   2. open metamask and select "Localhost 8545" as the network option

## Actual result:
Clicking localhost option does nothing, and does not select to the local node

## Expected result:
The wallet functions and uses the local node to con

[2021-07-10 17:49] kabirnayeem99 commented on #3187
I am using Arch Linux with KDE, as @yasharya2901  mentioned, 'the logo doesn't appear in the taskbar until it is clicked and running.'

My device info:
Operating System: Arch Linux
KDE Plasma Version: 5.22.3
KDE Frameworks Version: 5.83.0
Qt Version: 5.15.2
Kernel Version: 5.12.15-arch1-1 (64-bit)
Graphics Platform: X11
Processors: 8 × Intel® Core™ i7-4770hq CPU @ 3.40GHz
Memory: 31.6 GiB of RAM
G

[2021-07-10 21:34] OLoKo64 commented on #15858
I just find the fix for the issue, on "brave://flags/" under "Choose ANGLE graphics backend" I switched from default to OpenGL that fixed 100% of the issue, after that I notice that either OpenGL or D3D11on12 works.

Recently on my notebook I've been experiencing some black screen flashes and this fixed too.

[2021-07-10 21:42] AbhimanyuAryan commented on #7027
any updates?

[2021-07-11 00:54] #13301 closed

[2021-07-11 06:44] shhnjk commented on #16632
I did that, and how I see same problem with `brave_sync_endpoint`. I also set that to `https://example.com`. But now I get same problem with `brave_variations_server_url`.

I tried to build Release with Linux. Same problem :(

[2021-07-11 07:07] shhnjk commented on #16632
Looks like this is a won't fix per https://github.com/brave/brave-browser/issues/13750

[2021-07-11 07:13] shhnjk opened #16896 "--is_asan flag doesn't turn is_asan = true in args.gn"
## Description
Per https://github.com/brave/brave-core/pull/6526, I build brave with the following command.

[code]

However, args.gn generated still has `is_asan = false`, which suggests that ASan build isn't compiling.

## Steps to Reproduce
   1.  Build with `npm run build --is_asan`

## Actual result:
Check `args.gn` and it still has `is_asan = false`

## Expected result:
`args.gn` should have

[2021-07-11 07:38] #16877 closed

[2021-07-11 07:48] archanaserver commented on #14641
hi @rebron, can i take this issue to work on? i'm new here so this will help me to understand the whole environment setup things.

[2021-07-11 12:56] PeterDaveHello commented on #1008
Similar issue on the Tor Browser project:
https://gitlab.torproject.org/tpo/applications/tor-browser/-/issues/21483

BTW: Onion v2 is deprecated (https://blog.torproject.org/v2-deprecation-timeline)

DuckDuckGo now has a v3 url: https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion

[2021-07-11 13:23] #10550 closed

[2021-07-11 14:40] #16874 closed

[2021-07-11 17:30] GeetaSarvadnya commented on #16858
The issue is still reproducible in ` Windows 10 x64 - 1.26.74`

![image](https://user-images.githubusercontent.com/38657976/125204626-c81bb780-e29b-11eb-9a4b-09f2180d3e50.png)

[2021-07-11 20:33] tjm00 commented on #9831
As far as I can tell, this isn't actually working.
#16789

[2021-07-11 21:07] poisson-aerohead commented on #16632
Thanks I get it. That is a bit wonky. It is not clear to me why the instructions in the README would indicate that you can just build a release version if that is not really the case. I just want to build the browser and install it on my machine and it has turned out to be rather difficult. Usually you can just sync a project from github and follow the instructions to build it unmodified from the

[2021-07-12 00:13] bsclifton commented on #10550
Thanks for reporting @vstyler96 and for closing when it was fixed 😄 I just verified this is set properly in Transifex (the backend we use to manage translations)

[2021-07-12 00:28] ryanbr opened #16897 "GPS Coordinates inaccurate on https://www.gps-coordinates.net/my-location"
## Description
Open `https://www.gps-coordinates.net/my-location`  in Brave, shows incorrect location compared to other browsers

## Steps to Reproduce

   1. Compare Chrome, Firefox and Brave on `https://www.gps-coordinates.net/my-location`
   2. Brave showed a different location compared to other browsers
   3.

## Actual result:

Unable to post, due to privacy. But it's off about GPS Coords is

[2021-07-12 00:38] mrcaio commented on #5384
would be great. but I think they gave up.

[2021-07-12 01:45] bsclifton commented on #16632
Release build is absolutely supported; Official build is not though, as that requires Brave Software, Inc assets like certificates, keys, credentials, etc

There are going to be a list of items you'll need to set in your `~/.npmrc`:
[code]

There may be others; each time you run into one (ex; variations server mentioned above), you can add them to this list and put a dummy value. Providing dummy v

[2021-07-12 01:45] #16632 closed

[2021-07-12 01:47] bsclifton commented on #14641
@archanaserver sure - go for it 😄 Let us know if you have any questions

[2021-07-12 01:51] bsclifton commented on #16896
@shhnjk can you please try like this?
[code]

The `--` is required before to escape; otherwise the params are not passed through

[2021-07-12 01:53] bsclifton commented on #15858
@OLoKo64 thanks for the update and sharing what fixed it for you! I'll close this issue out

[2021-07-12 01:53] #15858 closed

[2021-07-12 01:54] bsclifton commented on #16891
Thanks for finding the duplicate issue @Johann999 😄 I'll close this as dupe. @github-account1111 can you please follow https://github.com/brave/brave-browser/issues/3424 for updates?

[2021-07-12 01:54] #16891 closed

[2021-07-12 01:56] bsclifton commented on #3424
+1 from @github-account1111 via https://github.com/brave/brave-browser/issues/3424

[2021-07-12 02:03] bsclifton commented on #16034
Looks like `ExtensionsToolbarMenu` flag was removed - I'd definitely recommend removing that from the CLI as it won't be doing anything. If it is doing something, I'd still remove it - as It's hard to provide support for something we don't set on install.

This issue seems to describe two problems:
- extensions not loading. Was that covered by https://github.com/brave/brave-browser/issues/16047?
-

[2021-07-12 02:48] urbenlegend opened #16898 "Add a menu entry to access brave://apps"
## Description
In both Google Chrome and Brave, I find the "Create Shortcut" functionality very useful. It allows me to easily add website shortcuts to my Start Menu or make a website appear as a separate "app" on my computer when I check "Open as window". These shortcuts are shown in brave://apps, where I can manage and remove them if necessary.

However, unlike in Google Chrome, there's no easy

[2021-07-12 03:14] snowbound commented on #16034
@bsclifton Yes during regular launch Brave crashes every time I click on Profile Icon. If I create a  new profile I immediately see a popup saying Restore Pages Brave closed down unexpectedly. If I click on the profile icon for the new profile Brave immediately crashes. I am concerned that I will wind up being locked out of the main profile and not being able to get back into it since there is no

[2021-07-12 03:57] snowbound commented on #16034
That is exactly what happened. I was unable to get back into the main profile.  I was repeatedly put back into the new profile I had created. I had to blow away the User data folder under Brave-Browser-Beta  and restore the User data folder from a recent backup.

In the User Data folder there is a Profile 1 folder. How can I tell where the main profile aka the one I use every day is storing its da

[2021-07-12 05:44] shhnjk commented on #16896
That worked! Thanks!

[2021-07-12 05:44] #16896 closed

[2021-07-12 06:09] bsclifton commented on #16034
@snowbound visiting brave://version/ and searching for `Profile Path` will let you know the path used. For example, mine is `C:\Users\username\AppData\Local\BraveSoftware\Brave-Browser-Nightly\User Data\Default`

Can you check brave://flags and see if you have anything toggled? If you do have something manually enabled/disabled, you can set it back to `Default` to see if that helps

Worst case sce

[2021-07-12 06:30] GeetaSarvadnya commented on #16865
Reproduced on `Windows 10 x64 - 1.28.709` - This issue is specific to CR 92 works fine in CR 91

CR 91: 1.26.x - Text content is not overlapping
![image](https://user-images.githubusercontent.com/38657976/125241024-8bd27080-e308-11eb-9950-dcd9ceb9ae28.png)

CR 92: 1.28.x - Text content is overlapping
![image](https://user-images.githubusercontent.com/38657976/125241145-b6242e00-e308-11eb-8fde-d97f

[2021-07-12 06:30] bsclifton opened #16899 "Rewards is hardcoded to use the `Brave Browser` card in Uphold"
## Description
The main symptom for this issue will be the user noticing that the balance is showing as 0.
When user logs into Uphold, the funds are there - but they're on a different card.

## Steps to Reproduce
   1. Have an Uphold account with balance, connect it, move all the balance over to `Brave Browser` wallet. Verify balance shows in brave://rewards
       ![image](https://user-images.git

[2021-07-12 06:37] bsclifton commented on #16899
Also noteworthy: you can have two cards with the same name (ex: two cards named `Brave Browser`)

[2021-07-12 06:48] bsclifton commented on #15525
@bakedmuffinman @Mubelotix if you weren't already able to solve this, I'd like to ask if you can connect and login to Uphold. Once in there, you'll see the cards available to you. We are expecting an Uphold card named `Brave Browser` - you can transfer the BAT to that card and it should show up

[2021-07-12 06:50] srirambv commented on #16898
There used to be a shortcut on bookmarks bar for chrome://apps which Chromium removed as they deprecated Google apps feature by default. Think this will be a wontfix as this would have significant changes that will require patching and maintenance overhead.

cc: @rebron

[2021-07-12 07:14] #16888 closed

[2021-07-12 07:24] GeetaSarvadnya opened #16900 "Sidebar settings and additional settings clustered incorrectly"
## Description

Sidebar settings and additional settings clustered incorrectly

## Steps to Reproduce

   1. Clean profile 1.28.x nightly build
   2. Open brave://settings
   3. Sidebar settings and additional settings clustered incorrectly

## Actual result:

Sidebar settings and additional settings clustered incorrectly
![image](https://user-images.githubusercontent.com/38657976/125247117-3b5f11

[2021-07-12 07:38] davidshare commented on #10236
I am having the same errors

[2021-07-12 07:42] bsclifton commented on #16794
I agree with comment by @petemill:
https://github.com/brave/brave-core/pull/9345#issuecomment-876592931

Basically the borders for focus ring look a bit tight. @karenkliu WDYT?

[2021-07-12 07:44] #16790 closed

[2021-07-12 07:55] cyrilchristin commented on #16137
_Issue still present on latest **nightly** build_
`Version 1.28.70 Chromium: 92.0.4515.81 (Official Build) nightly (64-bit) (Windows 7)`
![2021-07-12_09-51-14](https://user-images.githubusercontent.com/55538276/125250642-c92e0280-e2f6-11eb-9aa7-a0cdd2a436d5.gif)