[2020-01-15 20:45] LaurenWags opened #7741 "Ads enabled by default on upgrade for new ad regions"
## Description
Found while testing https://github.com/brave/brave-browser/issues/6825

If a user in one of the new Ad regions from #6825 has Rewards enabled and upgrades from 1.2.42 to 1.3.x, there should be a BAT logo notification alerting the user that Ads are now available for their region. When the user goes to brave://rewards Ads should be OFF so that the user has to opt-in.

What is happenin

[2020-01-15 20:45] LaurenWags commented on #6825
`QA/Blocked` until https://github.com/brave/brave-browser/issues/7741 is resolved

[2020-01-15 21:36] NejcZdovc commented on #6011
@kjozwiak nothing that I can think of

[2020-01-15 22:00] corymcdonald opened #7742 "Retry initialization requests for referral codes"
## Description

During friday 1/10 to monday 1/13 the promo server's static IP was not routing correctly. Due to this referrals that were downloaded during that time would never get confirmed.

## Expected result:
We should retry initialization requests so that if the promo server is down publishers will still get paid for those referrals.

## Reproduces how often:
Anytime the promo server is down

[2020-01-15 22:19] #7728 closed

[2020-01-15 22:32] bsclifton commented on #7740
@AdamKearn what version of NPM are you using? You likely need to update this as it looks like you're on an old one

As far as next steps:
- Upgrade npm using `npm install -g npm@latest`
- Sounds like you have - but just to verify. Did you run `npm run init` to download all of the Chromium sources? This will take about an hour and then it'll apply the Brave specific patches
- Did the build actually

[2020-01-15 22:32] #7740 closed

[2020-01-15 22:35] bsclifton commented on #7688
@snyderp does it repro if you disable rewards? If not, I think we can de-dupe this issue to https://github.com/brave/brave-browser/issues/7199

[2020-01-15 22:39] bsclifton commented on #7680
Closing as a dupe of https://github.com/brave/brave-browser/issues/5290

Will edit that issue, as I think this title is better 😄

[2020-01-15 22:39] #7680 closed

[2020-01-15 22:42] bsclifton commented on #5290
Multiple +1's from https://github.com/brave/brave-browser/issues/7680

Including this great list from @Brave-Matt:

[2020-01-15 22:42] bsclifton commented on #5290
cc: @rebron for triage

[2020-01-15 23:09] btlechowski opened #7743 "Ads history will not be shown at all if there is an ad older than 7 days"
Found when testing https://github.com/brave/brave-browser/issues/5863
We show 7 day ads history, if there is an ad older than 7 days, the whole ads history will not be shown. This is a regression in 1.3.x.

Important: This issue is not reproducible on 1.2.x, 1.4.x, 1.5.x
Important: Talked to @tmancey, and he said that this issue is fixed by https://github.com/brave/brave-browser/issues/6757

## St

[2020-01-15 23:16] btlechowski commented on #5863
This issue is blocked on https://github.com/brave/brave-browser/issues/7743

[2020-01-16 00:11] danimesq opened #7744 "Show added PWA apps in New Tab (both desktop and mobile)"

[2020-01-16 00:12] DaniellMesquita opened #7745 "(Suggestion) Same start page, adapted in both TV, desktop and mobile"

[2020-01-16 00:31] snyderp opened #7746 "Hardcoded popular domains are years out of date"
Brave bundles ~500 domains that we think users might want autocompleted, so that some URL bar entires can be autocompleted for the user w/o a network request.

https://github.com/brave/brave-core/pull/18/commits/fef8999dc97ead8a0c6195ed5ae2b7ded030eaff#diff-7a92842ce700edf2557f6370d3b1eb1fR82

This list is 2-3 years out of date.  Would be good to update it to reflect the current Alexa 500 or 1k.

[2020-01-16 00:34] pes10k opened #7747 "Don't autocomplete hardcoded domain names when "use predictions service to help complete searches is disabled""
Brave bundles ~500 domains that we think users might want autocompleted, so that some URL bar entries can be autocompleted for the user w/o a network request.  Even though this does not use a prediction service to help complete searches, I suggest disabling this feature when the user has disabled the "suggestion" setting.

![image](https://user-images.githubusercontent.com/76526/72483105-bc3d5b00-

[2020-01-16 01:15] btlechowski commented on #6552
Blocked on https://github.com/brave/brave-browser/issues/6941

[2020-01-16 01:50] btlechowski commented on #6256
Verification passed on

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS

For the same ad

On 1.2.42 - only one segment is used:
![image](https://user-images.githubusercontent.com/34715963/72486255-9a6ec300-380a-11ea-93ee-a4cd95f8fed7.png)

On 1.3.92 - 3 segments ar

[2020-01-16 02:17] srirambv commented on #7745
Closing as lack of info. Please add details

[2020-01-16 02:17] #7745 closed

[2020-01-16 02:22] fmarier commented on #7176
Test plan:

1. Open `brave://credits`
2. Verify that the "Brave Local Data" entry is present and that the license text is there too.

[2020-01-16 03:51] #2494 closed

[2020-01-16 04:56] BraveBrowserFan opened #7749 "Brave Browser Nightly Download Toolbar icon."
## Description
After downloaded Brave Browser nightly, the Brave Browser Nightly icon in the toolbar at the bottom it shows brave browser icon. ,

## Steps to Reproduce

   1. Download Brave Browser nightly
   2. After download  Brave Browser nightly
   3. it show brave browser icon in the toolbar

## Actual result:
![Brave Browse Nightly](https://user-images.githubusercontent.com/59948001/7249442

[2020-01-16 05:48] bsclifton commented on #5406
Fixed with https://github.com/brave/adblock-lists/pull/314 - but we'll want to revert that and use cosmetic filters once https://github.com/brave/brave-core/pull/4269 lands

@ryanbr do you want to keep the issue open until then? Might be a good idea, as cosmetic filter functionality is tied to a proper milestone, which this can track

[2020-01-16 05:51] bsclifton commented on #7749
@BraveBrowserFan can you try un-pinning this from your start menu and then re-pinning it?

There was a commit I merged which may have introduced this. It should have been reverted before a new Nightly happened, but maybe it wasn't

Re-pinning should solve the problem though 😄 Let us know!

[2020-01-16 05:54] bsclifton commented on #7055
Re-opening as I believe this was closed on accident

[2020-01-16 05:57] bsclifton commented on #7744
For Desktop, this would be the New Tab (dashboard). Good suggestion 😄

[2020-01-16 06:13] bsclifton commented on #7730
@MuhammadTausif do you have more information about your setup? What OS are you running? Have you gone through the setup guide?
https://github.com/brave/brave-browser/wiki

[2020-01-16 06:15] #7730 closed

[2020-01-16 09:13] masparrow opened #7750 "Generate Code Coverage Reports for Rewards/Ledger"
We want to start producing Code Coverage reports for Rewards - initially native ledger.

To begin with, setup the infrastructure and test it by targeting a small subset / specific file.

Avoid Contributions folder for now
- as we’ll be removing analyse next month (Feb)
- can include this in Code Coverage once removed

Nb. See [Chromium Code Coverage](https://chromium.googlesource.com/chromium/src/

[2020-01-16 13:33] bjcd commented on #7677
Hi, I repeated the steps  and re-install brave, it still does not work

[2020-01-16 14:39] tommyjcarpenter commented on #354
I agree to this issue. On mac, typing command w is very awkward on my board to close the current tab. cant be done with one hand. would love to change to shift w

[2020-01-16 16:09] mihaiplesa opened #7751 "Add Android binaries and symbols upload to GitHub releases and S3"
Every browser release from this repo generates binaries for Linux, macOS and Windows. Add Android as well.

[2020-01-16 16:35] NejcZdovc opened #7752 "Fix unit tests on debug build"
Unit tests are failing on debug build

[code]

[2020-01-16 17:03] kjozwiak commented on #6786
Verification **PASSED** on `macOS 10.15.2 x64` using the following build:

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

* ensured that ad notifications were being displayed when `Alerts` was being used under `Notifications` in the macOS prefe

[2020-01-16 17:15] Sa-Ja-Di commented on #774
You see, quite a lot of people want more customization abilities. So the question is, will you guys implement them or will you ignore this request?

[2020-01-16 17:29] tmancey commented on #7299
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:29] #7299 closed

[2020-01-16 17:29] tmancey commented on #7300
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:29] #7300 closed

[2020-01-16 17:30] tmancey commented on #7301
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:30] #7301 closed

[2020-01-16 17:30] tmancey commented on #7426
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:30] #7426 closed

[2020-01-16 17:30] tmancey commented on #7302
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:30] #7302 closed

[2020-01-16 17:30] tmancey commented on #7305
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:30] #7305 closed

[2020-01-16 17:30] tmancey commented on #7427
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:30] #7427 closed

[2020-01-16 17:31] tmancey commented on #7428
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-16 17:31] #7428 closed

[2020-01-16 17:32] bbondy commented on #7227
@edsonayllon working better? Can I close this issue?

[2020-01-16 17:43] cezaraugusto commented on #6941
@btlechowski thanks for reporting. on it right now.

@rebron yes there is a PR open for this but @AlexeyBarabash pointed me out that additional work was required, which I'm working on at this very moment.

[2020-01-16 17:44] anthonypkeane commented on #5787
internal Chat: https://bravesoftware.slack.com/archives/C0MEH5E03/p1579194849001300

[2020-01-16 17:56] tmancey commented on #7743
Needs investigation to confirm if resolved by https://github.com/brave/brave-browser/issues/6757

[2020-01-16 18:12] rebron commented on #5787
cc: @bradleyrichter @karenkliu

[2020-01-16 18:35] makkiato83 opened #7753 "Problems/Questions about Crypto Wallet"
Hello, I originally posted in Reddit:

https://www.reddit.com/r/brave_browser/comments/epi29k/problemsquestions_about_crypto_wallet/

and was asked to re-write here for better visibility

I would like to report a couple of problems with Brave crypto wallet (metamask fork) I have encountered (Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit), MacOSX).

1. If in Settings/Extensions "C

[2020-01-16 18:35] cyberwombat commented on #2805
I have v7 and the same issues so this is still going on.

[2020-01-16 19:13] kjozwiak commented on #6818
Verification **PASSED** on `macOS 10.15.2 x64` using the following build:

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

Going to label this as `QA Pass-macOS` as ad notifications were checked via https://github.com/brave/brave-browser/issues/

[2020-01-16 19:18] anthonypkeane opened #7757 "Brave crashing for a user"
## Description A

A user reported to David that Brave crashed and they sent the following screenshot.

![Screenshot_20200116-060957](https://user-images.githubusercontent.com/7606853/72555376-4935f200-3851-11ea-9585-0ebd7f366e07.png)

Android 9, LG-H931 (V30)

cc @srirambv in case you've encountered this before and can shed more light on it.

[2020-01-16 19:23] srirambv commented on #7753
1 and  4 will be fixed with https://github.com/brave/brave-browser/issues/7503.

2 will be fixed with https://github.com/brave/brave-browser/issues/5741 allowing to reset account

As for 3 you can add multiple accounts and connect hardware keys but having multiple accounts and restoring it with seed keys will only restore the first account. This is a known limitation from [upstream ](https://githu

[2020-01-16 19:31] LaurenWags commented on #3651
removed `OS/macOS` label per discussion with @kjozwiak and https://github.com/brave/brave-browser/issues/3651#issuecomment-551612026

[2020-01-16 19:42] makkiato83 commented on #7753
Thanks @srirambv for the very quick reply!

Regarding 3, how can I add accounts? I don't see this option, currently.

What I see is: https://www.dropbox.com/s/cscemvkurvzxg5s/Screen%20Shot%202020-01-16%20at%2020.41.09.png

[2020-01-16 20:14] kjozwiak commented on #6647
Waiting on @tmancey to add some info re: reproducing the `400` issue with `Charles Proxy` and ensuring that the retry works as expected.

[2020-01-16 20:34] karenkliu commented on #7734
Please fix this bug. CC @alexwykoff @tomlowenthal

[2020-01-16 20:41] anthonypkeane opened #7754 "Implement "simplified" shield design on Android"
## Description

Please implement the "simplified" shield design for Android

@karenkliu to upload the design flow

[2020-01-16 21:14] #6941 closed

[2020-01-16 21:15] cezaraugusto commented on #6941
milestone changed to match commit channel

[2020-01-16 21:17] LaurenWags opened #7764 "URL bar text displays behind shields/rewards icon in some cases"
## Description
Found by @srirambv

In some cases the URL text displays behind the shield and rewards icons. So far:
1. When swiping between tabs
2. When scrolling up or down a page

## Steps to Reproduce

   1. Install 1.0.87 (BR_7)
   2. Navigate to a page with a longer URL (going to a site like theverge.com and opening a few articles should do the trick
   3. Using the bottom URL bar, swipe back

[2020-01-16 21:25] anthonypkeane commented on #7767
Flow should follow iOS here

[2020-01-16 21:28] anthonypkeane opened #7768 "What's new screen"
### Feature Request:
We should have a "What's new screen" where we can highlight exciting new features to our users.

@jamesmudgett this could tie in with the onboarding screens you are working on

[2020-01-16 21:36] srirambv opened #7772 "Tap radius is outside the URL bar"
## Description
Tap radius is outside the URL bar

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/51423799-49be8d00-1beb-11e9-87bd-089376e36cbd.png)

## Expected result:
Not sure should probably be similar to the URL bar shape

## Issue reproduces how often:
Easy

## Issue happens on:
   - Current Playstore version? NO
   - Beta build? Yes

## Device Details:
   - Ins

[2020-01-16 21:40] anthonypkeane opened #7776 "Spacing and Padding on the rewards page"
**Description:**
The spacing and padding on the rewards page, when off needs polish

![screenshot](https://user-images.githubusercontent.com/7606853/49175309-2408bc00-f2fd-11e8-950c-221c87401941.jpg)

[2020-01-16 21:50] kjozwiak opened #7780 "Release checklist for 1.2.x - Hotfix 2 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-01-16 21:56] anthonypkeane commented on #7663
Pls check if this is on staging or Prod

[2020-01-16 22:14] bsclifton opened #7781 "Upgrade from Chromium 79.0.3945.117 to Chromium 79.0.3945.130"
## Change log
https://chromium.googlesource.com/chromium/src/+log/79.0.3945.117..79.0.3945.130/?pretty=fuller&n=10000

## QA tests:

Check branding items
Check for version bump

[2020-01-16 22:49] AndriusA opened #7783 "Estimated bandwidth savings in NTP"
## Description

NTP currently shows estimated time saving, but shields have a significant impact on bandwidth saved as well.

We have done some modelling to estimate it based on basic page load metrics and blocked resources ([blog post](https://brave.com/accurately-predicting-ad-blocker-savings/)) and could implement it to show the details in NTP as well as report as highly aggregated stats across

[2020-01-16 22:56] bsclifton commented on #7781
Features at least one crash fixes (Linux) and several bug fixes
[X11: Fix leaving fullscreen regression.](https://chromium.googlesource.com/chromium/src/+/3137000d424ddc2b1ed21c93aa9420afddaf1302)

[2020-01-16 22:59] bsclifton commented on #7638
Wonder if this is related to the "Other bookmarks" change:
https://github.com/brave/brave-browser/issues/7639

[2020-01-16 23:00] bsclifton commented on #7639
Possibly causing crash in Brave introduced with [Switchmark](https://chrome.google.com/webstore/detail/switchmark/bnocffbiglfjjcgmifcampfmcbkfbhgc) - reported via https://github.com/brave/brave-browser/issues/7638

[2020-01-16 23:01] AndriusA opened #7784 "Estimated bandwidth savings in NTP for Android"
## Description

We should extend the functionality from #7783 to Android builds when sufficiently stable

## Steps to Reproduce

Not Applicable

## Actual result:

Not Applicable

## Expected result:

![image](https://user-images.githubusercontent.com/145422/72570212-2852b880-38b4-11ea-9fde-87346f88f041.png)

## Reproduces how often:

Not Applicable

## Brave version (brave://version info)

Not Ap

[2020-01-16 23:06] LaurenWags commented on #7118
Verified passed with

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified multiple segments
<img width="970" alt="1 3 92 - 3 segments" src="https://user-images.githubusercontent.com/28145373/72569647-e3655c80-3888-11ea-9a58-4b8608e32a5b.

[2020-01-16 23:06] btlechowski commented on #7118
Verification passed on

Brave | 1.3.92 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Ubuntu 18.04 LTS
Verified for few pages that there is no duplicate segments per https://github.com/brave/brave-browser/issues/7118#issuecomment-567574369

Page: https://www.fashionnova.com/
![image](https://use

[2020-01-16 23:12] LaurenWags opened #7785 "Release Notes for 1.2.x Hotfix 2 (Release Channel)"
Release Notes
 - Upgrade from Chromium 79.0.3945.117 to Chromium 79.0.3945.130. ([#7781](https://github.com/brave/brave-browser/issues/7781))

[2020-01-16 23:13] kjozwiak opened #7786 "Manual test run on OS X for 1.2.x - Release Hotfix 2"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-01-16 23:13] kjozwiak opened #7787 "Manual test run on Windows x64 for 1.2.x - Release Hotfix 2"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-01-16 23:13] kjozwiak opened #7788 "Manual test run on Linux for 1.2.x - Release Hotfix 2"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-01-16 23:48] bridiver commented on #7638
whatever is going on with Brave and "Other bookmarks", it shouldn't even be possible for an extension to freeze the browser so we should investigate and find out how it's happening and possibly fix the upstream issue independently of the bookmarks change

[2020-01-17 02:14] fmarier opened #7789 "Remove old entries from the network auditor whitelist"
The following entries are probably no longer needed in the [network auditor whitelist](https://github.com/brave/brave-browser/blob/629775164b8c596263fb7f5d2f8ee156dbb2cdc8/lib/whitelistedUrlPrefixes.js#L26-L28):

[code]

[2020-01-17 02:24] meerasndr commented on #4416
I had to force-reboot my laptop today and was looking to restore all my tabs on Brave. Brave prompted me with a "restore" button, but this opened up a ton of really old(closed) tabs from two weeks ago. Also, going to "History" to reopen a group of tabs messes things up(sometimes opens the same bunch of tabs in different windows). I'm wondering if there is an easier way to manage crash restore.

[2020-01-17 02:29] mohistmen commented on #774
Nope, I will never ignore it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Sajadi"<notifications@github.com&gt;;
发送时间: 2020年1月17日(星期五) 凌晨1:15
收件人: "brave/brave-browser"<brave-browser@noreply.github.com&gt;;
抄送: "496173298"<496173298@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [brave/brave-browser] The UI should allow for advanced customization (#774)

You see, quit

[2020-01-17 06:43] kjozwiak opened #7791 "Removing "Choose a type to set up" from brave://wallet"
## Description

As discussed earlier on Slack, we should probably remove the `Choose a type to set up:` text from `brave://wallet`. It's obvious that the user needs to select one of the below options. The options also have detailed descriptions. Seems like unnecessary text that can be removed.

This will also resolve part of the translation issue mentioned via https://github.com/brave/brave-browse

[2020-01-17 07:34] #7781 closed

[2020-01-17 07:39] ggiacomoo commented on #403
i'm on windows and updated,
i've copy/pasted rule from chrome's adBlock, to brave chrome://adblock/ Custom Filters
but it's doesn't works, where i'm wrong!?

[2020-01-17 07:50] JuanFarias1 commented on #4118
Is this issue still up for grabs!

[2020-01-17 08:20] #4837 closed

[2020-01-17 08:20] bsclifton commented on #4118
@JuanFarias1 absolutely! Check out our getting started guide here:
https://github.com/brave/brave-browser/wiki

Let me know if you have any questions 😄

[2020-01-17 08:52] FatBirdie commented on #1052
It would be a shame if Brave doesn't display their UA for the time being that there is a referral program in place for new users. I'm currently on-boarding hundreds of new users to brave each month through one of my websites, and if there were an option to actually know who is running Brave and not those numbers could be improved even further, of this I'm sure.

Personally I wouldn't mind what you

[2020-01-17 10:12] nazbrok opened #7795 "Brave always crash when opening a specific profile"
## Description
I have 3 profiles on Brave. Since few days, when I open a specific profile it always crash all my brave instances.
Last time this profil was working, it had few tab open when I closed it (one week or so) so now when it tries to open this profil it tries top load those website.
The issue could be related to one of those website but unfortunatly since it crash right away I cannot see

[2020-01-17 11:14] insilications commented on #2457
I hope this gets fixed.

[2020-01-17 11:15] insilications commented on #5761
I hope this gets fixed.

[2020-01-17 11:16] bmatzner commented on #7688
Seeing the same result on Catalina 10.15.2 (19C57) with Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit) with rewards enabled. Effect occurs after the browser has been idle for some time. Beach ball upon clicking in the URL bar and attempting to type. Entered text will appear after a few seconds. Will continue to test with rewards disabled.

[2020-01-17 11:26] tmancey opened #7796 "Brave Ads catalog issuer confirmation token rotation"

[2020-01-17 11:41] dziugasmikalkenas-home24 opened #7797 "Brave crash on OSX 10.15.2 (19C57)"
## Description

Crash after starting the application. Used latest stable build. Also tried with Nightly Channel v1.5.39

## Steps to Reproduce

   1. Downloaded latest stable version from https://laptop-updates.brave.com/latest/osx (also tried with Nightly Channel v1.5.39)
   2. Added to Applications.
   3. Start it.

## Actual result:

Application doesn't open. Console logs show:

[code]

## Expe

[2020-01-17 14:38] talltoo commented on #4536
Same issue for me: Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)

[2020-01-17 15:23] shanefontaine opened #7798 "Add support for incognito keyboard"
_This is a feature request for an incognito keyboard setting._

The Signal Android app has a setting to enable "Incognito keyboard". This setting "disables personalized learning" on the keyboard app and, in the case of Signal, keeps the message private prior to encryption.

This would be a fitting feature for Brave Android (for both normal and incognito modes).

[2020-01-17 16:12] flyingscot5 commented on #7513
Is there even plans to move away from uphold at all? I’m not a huge fan of there high fees either.

[2020-01-17 16:31] cezaraugusto commented on #1647
FWIW opening links in the same tab don't run away from CAPTCHA. The best solution is to inline their content in a modal like what Tom said or use some other content block. Removing my assignment for now since this needs product/design spec first.

[2020-01-17 16:41] LaurenWags commented on #4761
Verified passed with

Brave | 1.3.94 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified v2 of catalog contains the `oses` field referenced from description
* Confirmed that only ads where `oses` listed macOS or were blank were shown on macOS (no Linux

[2020-01-17 16:49] srirambv commented on #7576
Also need to test the rewards button is removed from private tab

[2020-01-17 16:51] #7573 closed

[2020-01-17 16:52] mdbraber commented on #7205
@bsclifton no, I don't use the digital keyboard, but BetterSnapTool does use many of the accessibility features, so I could be calling the same methods which make Brave crash

[2020-01-17 17:08] rebron commented on #7016
I can't reproduce this in both release 1.2.x and beta 1.3.x.
Have two profiles open, focus on one, toggle show bookmarks in prefs on and off and notice that it only effects profile in focus.

Reporter is on Linux. cc: @srirambv can you try?

[2020-01-17 17:09] rebron commented on #7016
<img width="1409" alt="Screen Shot 2020-01-17 at 9 08 44 AM" src="https://user-images.githubusercontent.com/5951041/72631355-ff104780-3908-11ea-8304-ad483649e287.png">

[2020-01-17 17:17] rebron commented on #7039
<img width="1366" alt="Screen Shot 2020-01-17 at 9 14 48 AM" src="https://user-images.githubusercontent.com/5951041/72631840-da689f80-3909-11ea-95b8-ae33a5917742.png">
I'm unable to reproduce this one. Still happening with the current release of Brave? Current version is  1.2.x..
I have it working with shields up. This might be font related?

If you have a doc to share, would be happy to look at i

[2020-01-17 17:33] GeetaSarvadnya commented on #7259
@iefremov This issue is fixed and working fine in 1.5.43

[2020-01-17 17:34] #7259 closed

[2020-01-17 17:39] rebron commented on #7048
Closing. Looks like this question has been answered.

[2020-01-17 17:39] #7048 closed

[2020-01-17 17:42] anthonypkeane commented on #7757
Android 9, LG-H931 (V30)

[2020-01-17 17:49] jpalczewski commented on #7325
Crash dump id: a8a91f76ed1c1964
Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) unknown (64-bit)
Installed via AUR,package brave-bin
os: Arch
Kernel: 5.4.10-arch1-1 #1 SMP PREEMPT Thu, 09 Jan 2020 10:14:29 +0000 x86_64 GNU/Linux

[2020-01-17 17:58] rebron commented on #7063
@mvxxx I'm not able reproduce what you're seeing. Can you add screenshots or point out the specific code that's different from Brave vs. Chrome? Equations look like they're coming through properly.

[2020-01-17 17:59] rebron commented on #7064
Closing per last few comments, thanks @mikedotexe . We can move further discussion over to community.brave.com.

[2020-01-17 17:59] #7064 closed

[2020-01-17 18:18] bbondy commented on #6308
Closing as dupe of https://github.com/brave/brave-browser/issues/7791

[2020-01-17 18:18] #6308 closed

[2020-01-17 18:20] bbondy commented on #7537
Let's close and move to the project's awaiting deployment column.

[2020-01-17 18:20] #7537 closed

[2020-01-17 18:21] fmarier commented on #7058
Thanks for the suggestion. We've added it to our list of requested packages. At this point though, we can't promise anything about when we'll be able to get to it.

If other people in the community want to maintain this package, we'd be happy to assist where we can.

[2020-01-17 18:27] kjozwiak commented on #6880
Quickly talked to @tmancey and unfortunately there's no way to slow down ad initialization so Brave's state can change to `unidle` before initialization is completed.

So QA we'll basically make sure that retrieving ads doesn't crash/cause any issues.

[2020-01-17 18:33] petemill opened #7800 "AddGrp functions are running for every brave-browser script"
Any script or lib that includes util.js is running functionality that is now in the root of l10nUtil.js. This is problematic since that functionality has expectations about the state of the source tree (as well as it takes a few seconds to run).

This should be moved to a function or a separate module so that it's only run when expected and necessary.

[2020-01-17 18:37] PierBover opened #7802 "add setting for "when opening a link in a new tab, switch to it immediately""
I understand changing the default behavior to not focus on new tabs would be intrusive to current users, but it would be great to add a setting to change this behavior without having to rely on extensions.

[2020-01-17 18:55] kyeotic commented on #4536
@srirambv Having all devices online is an unreasonable expectation. A far more reasonable expectation is that only _one_ device will be online when bookmarks change: the device initiating the change.

[2020-01-17 19:05] mandar-brave commented on #7513
Lot of issues raised;

1. The ID check requirement is mandated requirement only for cash-out; No one is required to use
 any custodian or ID check to use Brave or Brave Rewards. However, allowing bots/attacks to capture BAT w/o humanity checks is a challenge. We will keep working on upgrades and paths that make this easier.

2. Let's be clear again; No Brave Rewards users need to use Uphold or an

[2020-01-17 19:05] fmarier commented on #5761
Is this a Brave-specific issue or are Chrome and Chromium also affected?

[2020-01-17 19:12] cezaraugusto commented on #4445
Closing at this task is completed

[2020-01-17 19:12] #4445 closed

[2020-01-17 19:12] cezaraugusto opened #7803 "Components TypeScript definition files should be hosted in their component's root folder"
We currently host a `definitions` folder that hosts third-party types (such as throttle-it) and also first-party (such as [sync](https://github.com/brave/brave-core/blob/master/components/definitions/sync.d.ts)). Ideally, if a definition file exists for a Brave feature, it should live along with other files embodying that feature.

[2020-01-17 19:15] ltning commented on #821
Would love an alternative on FreeBSD. Pwetty pwease? Someone? :)

[2020-01-17 19:29] johnnyPescarul commented on #464
vertical tabs (or side tabs) is the only thing still keeping me on Firefox. I am just not pleased enough with what Chrome's extensions have to offer. Equivalent of Tree Style Tabs would be perfect.

[2020-01-17 19:35] mohammadrafigh commented on #7513
@mandar-brave you are right using brave rewards is not required for a user but I already registered my website as content creator and received some BAT donations I wanted to show my love to Brave by linking brave on my website also I suggested some startup founders to promote brave using badges. But when I tried to receive BATs in my wallet or exchange it with a Cryotocurrency Uphold says you need

[2020-01-17 19:38] fmarier commented on #7789
'https://updates.bravesoftware.com/', // remove this once updates are moved to the prod environment

is still in use and the comment is wrong. This is our production URL.

[2020-01-17 19:46] kakolisgay commented on #5761
@fmarier The issue stems from [`InstallVerifier::MustRemainDisabled`](https://github.com/chromium/chromium/blob/master/chrome/browser/extensions/install_verifier.cc#L376) which eventually gets angered at something the chromium kernel has found wrong with a system. The same issue has been reported to happen on old versions of chrome so I assume brave has broken or changed something that was prevent

[2020-01-17 20:27] rushilsrivastava commented on #5761
That's correct @kakolisgay, but from what I gather Brave has explicitly enabled this behavior.

[2020-01-17 20:46] kjozwiak commented on #7608
Verification **PASSED** on `macOS 10.15.2 x64` using the following build:

Brave | 1.3.94 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.15.2 (Build 19C57)

* Verified that all the cases under https://github.com/brave/brave-core/pull/4317#issuecomment-572756624 worked as expecte

[2020-01-17 20:57] fmarier commented on #7789
'https://ads-serve.bravesoftware.com/', // remove this once ads catalog moves to using prod

is no longer needed according to @dlipeles.

[2020-01-17 21:04] LaurenWags commented on #7526
Also experiencing this with one time tips using

Brave | 1.3.94 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

My wallet balance decreases but the tip isn't shown on brave://rewards Tips panel, wallet summary, or when I click on the BAT logo to show the summ

[2020-01-17 21:13] kakolisgay commented on #5761
@rushilsrivastava Source? If this is something that brave has deliberately done I'm fine completely dropping it in favour of other alternative browsers

[2020-01-17 21:15] LaurenWags commented on #6351
Verified passed with

Brave | 1.3.94 Chromium: 79.0.3945.117 (Official Build) beta (64-bit)
-- | --
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | macOS Version 10.14.6 (Build 18G103)

Upgrade paths
* Installed 1.2.42 and confirmed the following states:
1. Rewards On, Ads On, AC On —> Upgrade to 1.3.x —> states preserved
2. Rewards On, Ads Off, AC On —> Upg

[2020-01-17 21:33] LaurenWags commented on #7781
Verified passed with

Brave | 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

<img width="1186" alt="Screen Shot 2020-01-17 at 4 33 18 PM" src="https://user-images.githubusercontent.com/28145373/72647681-18d07f80-3947-11ea-9d00-22575844400d.png">

[2020-01-17 22:13] fmarier commented on #4438
See:
- https://cs.chromium.org/chromium/src/content/browser/storage_partition_impl.cc?l=187
- https://bravesoftware.slack.com/archives/C6YNM6Y5S/p1576017118172600?thread_ts=1576011656.169800&cid=C6YNM6Y5S

[2020-01-17 22:59] srirambv commented on #7788
Checked `Ads`, `Session`, `Chromium upgrade tests` and `Crypto Wallets` . Looks good.

[2020-01-17 22:59] fmarier commented on #5761
If someone is able to identify a deviation from Chrome which is causing this to break in Brave but not in Chrome, I would not assume that it is intentional. It is more likely to be accidental.

[2020-01-17 23:05] btlechowski commented on #7788
Checked `Installer, Data, Extensions, CWS, PDF, Widevine, Bravery settings, Fingerprint Tests, Rewards` LGTM.

Verification passed on

Brave | 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

[2020-01-17 23:05] #7788 closed

[2020-01-17 23:10] LaurenWags commented on #7786
Verified using

Brave | 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

[2020-01-17 23:10] #7786 closed

[2020-01-17 23:23] #7785 closed

[2020-01-17 23:26] btlechowski commented on #7787
Verified `Installer, Data, Extensions, CWS, PDF, Widevine, Bravery settings, Fingerprint Tests, Rewards` LGTM.

[2020-01-17 23:53] #7787 closed

[2020-01-18 00:00] simonhong opened #7806 "DCHECK failure - FATAL:ng_inline_cursor.cc(36) with 79.0.3945.130 bump"
[code]

[2020-01-18 00:05] petemill opened #7807 "New Tab Page Rewards Widget think Ads are off when rewards are re-enabled"
## Description

New Tab Page Rewards Widget think Ads are off when rewards are re-enabled

## Steps to Reproduce

   0. Rewards and ads are on
   1. Go to chrome://rewards and turn Rewards OFF
   2. Open a new New Tab
   3. Turn ON rewards (from NTP or from Rewards page), but **don't** refresh NTP

## Actual result:

The "Enable Ads" button is shown. I.e. the widget thinks Ads are off
![image](htt

[2020-01-18 00:09] cezaraugusto opened #7808 "Too many files for TypeScript checks prevent intellisense from working"
Intellisense in VSCode doesn't work because our project is too big, so the editor stops searching for files to intellisense. While this seems to be a small rock on the way, it's a handy resource we are not using due to tsconfig being too broad configured. We should fix this.

## ⛔️ Bad

<img width="345" alt="Screen Shot 2020-01-17 at 3 51 12 PM" src="https://user-images.githubusercontent.com/46720

[2020-01-18 00:09] cezaraugusto commented on #7803
Closing in favor of https://github.com/brave/brave-browser/issues/7808

[2020-01-18 00:09] #7803 closed

[2020-01-18 00:22] rebron commented on #7780
Closing. Release January 17, 2020 4:15PM PST

[2020-01-18 00:22] #7780 closed

[2020-01-18 01:32] ryanbr opened #7809 "3rd-party cookie shield prevents signin on https://chicago.suntimes.com/"
## Description
Unable to login `https://chicago.suntimes.com/` with cross-site cookies enabled in shields.

## Steps to Reproduce

   1. Visit `https://chicago.suntimes.com/` (With shields enabled, cross-site cookies blocked)
   2. Click on 'Login'
   3. Expect login option to show.

## Actual result:
Login window doesn't show with shields enabled

## Expected result:
Allow user to login.

## Repr

[2020-01-18 01:53] SergeyZhukovsky opened #7810 "Crash in release mode on Settings"
There is a crash on Android in release mode when you hit Settings menu item.

[2020-01-18 02:02] mikegrima commented on #6966
Is it possible to move this to an earlier release? I would really like to start using Brave at work again.

[2020-01-18 04:24] jobeleau2 commented on #5074
I did install Brave browser for the first time today and that leads me to the same connecting problem described here (thanks HarukaMa!). Brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit), MacOS 10.13.6, KeePassXC 2.5.2, KeePassXC-Browser extension 1.5.4. My solution to make it works was to enable browser integration for Google Chrome in KeePassXC (Brave is not even enabled!).

[2020-01-18 05:55] mandar-brave commented on #7513
@mohammadrafigh your concern is genuine.

Brave cannot support OFAC list of countries at this point per https://www.treasury.gov/resource-center/sanctions/pages/default.aspx; same goes for Uphold as well. Your BAT will be held in your account and will be earmarked for you when the status changes; that much we can promise.

[2020-01-18 05:55] mandar-brave commented on #7513
Closing issue for comment; easier addressed on community.

[2020-01-18 05:55] #7513 closed

[2020-01-18 06:48] Talmann commented on #7525
Closing the issue as I have raised this on the Brave support website

[2020-01-18 14:52] rishabh96b opened #7811 "Browser responds late when switched from another application on Ubuntu"
## Description
The browser responds after consuming a short period of time when switched from another application on my Ubuntu 19.10. So suppose I am using my text editor and I press `Alt+Tab` to switch to Brave browser, it opens after 2-3 seconds of delay.

## Steps to Reproduce

   1. Install the Brave browser on Ubuntu 19.10.
   2. Open the browser with other applications.
   3. Switch to Brave

[2020-01-18 16:20] mvxxx commented on #7063
@rebron
normal: <a href="http://i.imgur.com/rmxdfRX.png">
  <img src="http://imgur.com/rmxdfRXl.png" />
</a>

brave-browser:
<a href="http://i.imgur.com/fH76Nqe.png">
  <img src="http://imgur.com/fH76Nqel.png" />
</a>

I have that problem on both laptop and PC (in both of them I am using Xubuntu). This is the main reason why I can't start using brave-browser instead of other browsers.

[2020-01-18 16:24] mvxxx commented on #7063
@rebron Given problem occurs only on certain websites. For example, math stack exchange works correctly but a lot of others fails.

[2020-01-18 17:48] marc1uk opened #7812 "Can't remove whitelisted sites from cookies list"
Did check the existing tickets, couldn't find a similar issue.

## Description
On the Settings -> Privacy and Security -> Cookies and Site Data page, attempting to remove some sides from the 'allow' list is not possible. Many sites, with the setting 'All cookies, on this site only' are shown (many of which i recognise, some i do not) - and alongside this a little trash icon. However, the trash ico

[2020-01-18 18:00] peakgeek commented on #1000
+1 Commenting to highlight interest.
I've been a regular Brave user since early 2017 and I continue to be amazed by this project. It's a bummer that you have to choose between using an Arch-based distro or being able to use Brave (other than the community snap). A Flatpak option would be killer.

[2020-01-18 21:45] ertugrulcetin opened #7813 "Extensions UI does not change (e.g. switch/toggle components)"
## Description

A couple of extensions ui does not change, when I try to change on/off switch button (Grammarly extension) nothing happens but it works on Chrome itself. Also happens in other extensions too.

## Steps to Reproduce

   1. Install Grammarly extension try to on/off the current tab/URL check switch button.
   2.
   3.

## Actual result:

On/off does not change (it shows always on)

##

[2020-01-18 22:55] cosmeao opened #7814 "Cannot open created browser shortcut on macOS Catalina."
## Description
I am trying to create dedicated browser shortcuts for a couple of websites that I use on a daily basis. I have had no issues doing so in Linux but on MacOS the created browser shortcuts fail to load properly. In short, for a given website, e.g., brave.com, I create a standalone browser shortcut which opens but then very quickly closes itself.

## Steps to Reproduce

   1.  Pick you

[2020-01-18 22:55] tmancey opened #7815 ""Sorry! Ads are not yet available in your region." is shown if Regional Format is set to English (Europe)"
## Description

"Sorry! Ads are not yet available in your region." is shown if Regional Format is set to English (Europe)

## Steps to Reproduce

   1. Set Settings > Region to "Algeria"
   2. Set Settings > Region > Regional format to "English (Europe)"
   3. Open "Rewards settings"

## Actual result:

"Sorry! Ads are not yet available in your region." is shown

## Expected result:
Brave Ads shou

[2020-01-18 22:56] msundin commented on #6905
I also have this issue where Brave freezes periodically. I'm 100% sure that it's an issue with sync (I have thousands of bookmarks) since every time I leave the sync chain on a system, the problem goes away completely. When I join the sync chain again, the problem reappears. On all systems.

I've confirmed this sync related problem in Brave on all these systems:
- Arch Linux
- Windows
- MacOS

I a

[2020-01-18 22:56] msundin commented on #6098
I also have this issue where Brave freezes periodically. I'm 100% sure that it's an issue with sync (I have thousands of bookmarks) since every time I leave the sync chain on a system, the problem goes away completely. When I join the sync chain again, the problem reappears. On all systems.

I've confirmed this sync related problem in Brave on all these systems:
- Arch Linux
- Windows
- MacOS

I a

[2020-01-18 22:57] tmancey commented on #7815
![Screenshot_2](https://user-images.githubusercontent.com/1188719/72671684-ccb83480-3a45-11ea-8c44-483d73adb391.jpg)

[2020-01-18 23:42] bavalpey commented on #7691
Have been having this issue with brave for an incredibly long time.  The 'sync' option may as well not exist, since it doesn't sync passwords and the bookmark sync is almost completely broken.
Should disable the feature until it works as expected.

[2020-01-18 23:44] bavalpey commented on #7073
I hope they don't do it as they do for the bookmarks across devices, considering that feature doesn't work.

[2020-01-18 23:45] bavalpey commented on #4536
@srirambv I just tried this and the sync feature doesn't work _even when all devices are online_

[2020-01-18 23:48] bavalpey commented on #6043
Same issue happening to me.  I did not even realize the 'other bookmarks' portion on the side even existed.  I thought it was a Chrome feature that Brave just didn't have.

[2020-01-19 00:00] Hispeeday commented on #6098
1. I have the same problem on Linux (currently Fedora 31) and a fresh Windows 10 install (1909).
2. The problem starts after joining my Sync chain.. and completely subsides when I leave said Sync chain.
3. In Windows Performance Analyzer there is only lots of CPU power used by brave.exe (chrome.dll, etc.); no I/O happens during the lags (ie. SAN or network traffic).
4. The browser task manager, ri

[2020-01-19 11:03] pswu11 commented on #6212
I also just started to Brave it's amazing. But without wayland support it looks very blurry. It would be perfect to have web3.0 browser with native wayland support. Thank you!

[2020-01-19 12:47] glowinthedark opened #7816 "Crash on launch after enabling sync chain"
## Description
MacOS High Sierra: Crash on startup after enabling Sync;
Brave version `79.1.2.43 (102.43)`

### System details
MacOS File Vault: enabled
File system: APFS
OS version: MacOS High Sierra 10.13.6 (17G10021)

## Steps to Reproduce

   1. Add a sync phrase from another device (Brave for Android v1.6.3)
   2. Quit and restart the Brave browser.

## Actual result:
After launching Brave cr

[2020-01-19 14:08] tmancey opened #7817 "Additional phase of Brave Ads regions"
Add the following regions to Brave Ads:

Afghanistan | AF
American Samoa | AS
Andorra | AD
Angola | AO
Anguilla | AI
Antarctica | AQ
Antigua and Barbuda | AG
Armenia | AM
Aruba | AW
Bahamas | BS
Bahrain | BH
Barbados | BB
Belarus | BY
Belize | BZ
Benin | BJ
Bermuda | BM
Bhutan | BT
Bolivia | BO
Bonaire | BQ
Bosnia and Herzegovina | BA
Botswana | BW
Bouvet Island | BV
British Indian Ocean Territory

[2020-01-19 14:54] aeikenberry commented on #6442
This is still happening for me. Entering the correct password flashes something is loading, and then takes me back to login, entering an incorrect password says "incorrect password".

[2020-01-19 15:38] ryanml commented on #6442
@aeikenberry - can you navigate to brave://inspect#extensions and inspect Crypto Wallets, try to log in again, and let me know what you see in the console tab?

[2020-01-19 15:38] angelog0 opened #7818 "Geolocation allowed in search engines"
I just installed the last Brave (1.7.0 - Chromium-79.0.3945.116) for Android and noticed that, after clearing the browsing history, the settings for the search engine (for any search engine I choose) show the string (in RED): `The geolocation and notification are allowed` (just a translation).

Even clearing the permissions and denying them `for current search engine`, at the next clearing of the

[2020-01-19 16:14] JoaoTMDias commented on #5267
Is there some development on this?
I'm also facing the same issue.
I'm on version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit) (macOS Catalina)

[2020-01-19 16:25] aeikenberry commented on #6442
<img width="1160" alt="Screen Shot 2020-01-19 at 10 24 44 AM" src="https://user-images.githubusercontent.com/599112/72684436-0751b980-3aa6-11ea-9da4-fd4388efc2cf.png">
The `Invalid asm.js` warning comes up when you open the crypto wallets window

[2020-01-19 16:30] aeikenberry commented on #6442
I think I somehow messed up my restore phrase stuff setting up this wallet. Is there a way to wipe the wallet and setup a new local one?

[2020-01-19 16:35] aeikenberry commented on #6442
When i click Restore account? nothing happens in the UI, this warning in the console:
[code]

[2020-01-19 16:46] ChildishGiant opened #7819 "Compat issue with poliigon"
## Description
Search broken by shields on [poliigon.com](https://www.poliigon.com/)

## Steps to Reproduce
Visit https://www.poliigon.com/search?type=texture

## Actual result:
![image](https://user-images.githubusercontent.com/13716824/72684710-e6578b80-3ada-11ea-979c-05f4fe59bb9e.png)

## Expected result:
![image](https://user-images.githubusercontent.com/13716824/72684714-fa9b8880-3ada-11ea-8a

[2020-01-19 16:58] aeikenberry commented on #6442
Removed the ApplicationSupport directory and started again, didn't have the same issue.

[2020-01-19 16:59] Musiphilos commented on #726
Still not working on 2020. Spell check in non-English dictionaries is a vital feature for me.

[2020-01-19 17:07] mikeyww commented on #688
This Windows batch script gets the latest stable release.
[code]

[2020-01-19 17:12] aeikenberry commented on #6442
I was able to reproduce the issue on Brave Beta.

1. Create a new local wallet with a new password.
2. On the backup pass screen, exit out of it without continuing.
3. Go back to the wallet page, see the login page, new password doesn't work.

[2020-01-19 18:36] mitjans commented on #820
Any update on this feature request? Just tried to switch from Safari to Brave, the first thing I noticed is the lack of keychain integration. Would be awesome to have it!

[2020-01-19 20:07] ryanml commented on #7069
@srirambv can you double check this one? I don't think it's an issue anymore.

[2020-01-19 20:22] rhysperry111 commented on #7568
Update: I haven't experienced any fatal crashes with that flag set to disabled.Can't tell if that did fix it as I did not have a reliable way to reproduce it but it seems to be working

[2020-01-19 22:49] ffd8 opened #7820 "Option to hide download bar"
## Description

It would be great to add a toggle in the preferences/settings to disable the 'download bar' aka shelf – sometimes you want it, sometimes you don't. When using a webapp that offers downloads, it can be annoying if the whole screen resizes and bar appears.

There's a [minimal extension](https://github.com/ivan7237d/disable-downloads-bar/blob/master/background.js) that covers this – i

[2020-01-20 01:19] dmlemos opened #7821 "Youtube comments not loading"
## Description
Youtube comments are not showing (with Shields either up or down).
Works in latest chrome.

## Steps to Reproduce
   1. Go to any youtube video
   2. Scroll down
   3. Comments keep loading forever

## Actual result:
Comments don't load, stuck on the spinner.

## Expected result:
List of comments

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
[c

[2020-01-20 01:26] dmlemos commented on #7821
It so happens that clearing all the cache and cookies resolves this. Sorry for the rush in creating the issue.

[2020-01-20 01:26] #7821 closed

[2020-01-20 03:43] jonathansampson commented on #6196
@sybercorp Sorry for the radio-silence; would you be able to run a few more tests for me?

1. Open a Guest Window and see how long the navigation takes
2. If possible, connect to a mobile hotspot and see if this has any effect

Please do let us know what results you find.

[2020-01-20 06:39] akshay-soni opened #7822 "brave://flags/#enable-force-dark does not work"
## Description
Unable to launch the browser when brave://flags/#enable-force-dark is enabled

## Steps to Reproduce

   1. Goto - brave://flags/#enable-force-dark
   2. Choose - enable option
   3. Press button "Relauch"

## Actual result:

Brave browser application fails to launch

## Expected result:
The browser should function as usual

## Reproduces how often:

Always

## Brave version (brave:

[2020-01-20 07:14] GeetaSarvadnya commented on #7709
One-time tips are not shown in the Tips panel.

Case 1: https://github.com/brave/brave-browser/issues/7608#issuecomment-571646553

Case 2:
1. Clean profile 1.3.94 - launch Brave using --enable-logging=stderr --rewards=staging=true
2. Restore Ads grants
3. Claim Ads grants
4. Claim UGP grants
5. Open  https://duckduckgo.com/
6. Send a one-time tip of 1 BAT to DDG
7. One-time is not displayed under

[2020-01-20 07:47] bsclifton commented on #7568
@rhysperry111 great, thanks for the update! I'll close this issue for now... but if crashes happen again, please re-open or leave another comment here 😄 Thanks!

[2020-01-20 07:47] #7568 closed

[2020-01-20 10:06] flowli commented on #6753
@jantimon Same behaviour here with exact same Brave/Chromium on macOS.

[2020-01-20 11:25] tmancey commented on #7430
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/7298

[2020-01-20 11:25] #7430 closed

[2020-01-20 11:27] tmancey commented on #7407
@deeppandya I believe this has been resolved? if so, could you, please close the ticket

[2020-01-20 11:28] deeppandya commented on #7407
@tmancey it's been resolved. closing this.

[2020-01-20 11:28] #7407 closed

[2020-01-20 11:29] masparrow opened #7823 "(Ledger) Safety/Tidy Ups for Mojo Bridges"
- [ ] Ensure all local variables are initialised
- [ ] Ensure all function argument pointers are valid before using/dereferencing

Examples highlighted below - but this is not exhaustive - please check all bridges!

<img width="787" alt="Screenshot 2019-12-20 at 16 09 58" src="https://user-images.githubusercontent.com/11368284/71369439-b59b3980-25a2-11ea-9670-19520c604db0.png">

[2020-01-20 11:30] masparrow commented on #7516
Split into https://github.com/brave/brave-browser/issues/7823 for ledger, and changed this to be for Ads

[2020-01-20 11:38] tmancey commented on #7407
Work completed in 1.6.1 of `browser-android-tabs`

[2020-01-20 11:51] tmancey commented on #7236
@spiritbird86 Palestine is being added in a future version of Brave which is being tracked by https://github.com/brave/brave-browser/issues/7817

[2020-01-20 11:51] #7236 closed

[2020-01-20 12:06] tmancey opened #7824 "Decouple creation of Ledger server URLs for different environments"
i.e.

- Add a pure abstract class for ServerUrl
- Create concrete classes for each type of server URL
- Build a factory which makes a URL

[2020-01-20 12:26] tmancey commented on #6209
Blocked until the specification is updated

[2020-01-20 12:52] tmancey commented on #5090
@jsecretan Is this change still required? Thanks

[2020-01-20 12:52] tmancey commented on #5029
@jsecretan Is this change still required? Thanks

[2020-01-20 13:03] tmancey commented on #3660
Closing as a duplicate of https://github.com/brave/brave-browser/issues/7240

[2020-01-20 13:03] #3660 closed

[2020-01-20 13:06] tmancey commented on #3663
Closing issue as a duplicate of https://github.com/brave/brave-browser/issues/7242

[2020-01-20 13:06] #3663 closed

[2020-01-20 13:35] tmancey commented on #4179
Closing as a duplicate of https://github.com/brave/brave-browser/issues/4316

[2020-01-20 13:35] #4179 closed

[2020-01-20 13:36] tmancey commented on #4177
Closing as a duplicate of https://github.com/brave/brave-browser/issues/4317

[2020-01-20 13:36] #4177 closed

[2020-01-20 13:40] tmancey commented on #5856
@Geradot Can you please confirm if you are still experiencing this issue? Thanks

[2020-01-20 14:53] #7810 closed

[2020-01-20 15:14] SoaringMoon commented on #7677
I am also having the exact same issue. I deleted the above folders, and re-installed brave as well.

[2020-01-20 15:31] SoaringMoon commented on #7677
Additional Information:

Per https://github.com/brave/brave-browser/issues/5741 , I followed these instructions with the portable version of the browser. The portable version works as intended with no issues that I can see.

[2020-01-20 15:45] srirambv commented on #4190
Can't check the translations for the region from original issue as ads are available for that region now. Tried setting region to Estonia and language as Kannada for browser but system locale is overriding the text and showing in Estonian. Closing the issue for now as Estonian was also translated

[2020-01-20 15:45] #4190 closed

[2020-01-20 15:47] SoaringMoon opened #7825 "Disabled Scrolling during Crypto Wallet on-boarding prevents use without fullscreen or zooming."
## Description
Within the wallet feature's scrolling appears to be disabled.

## Steps to Reproduce
1. On an install of brave-browser without a crypto wallet.
2. Go to the hamburger dropdown menu and select "Crypto Wallet"
3. On a 1360x768 monitor the onboarding "I understand" button will display below the window.
4. In order to bypass this, you are required to fullscreen your browser.

## Actual

[2020-01-20 15:52] srirambv commented on #7772
This is still an issue on current android-tabs release version. Its very subtle but still noticible
![image](https://user-images.githubusercontent.com/17010094/72739908-a2b06080-3b72-11ea-9698-d14c6996931a.png)
This is also an issue on beta as well. Its not as prominent as it used to be before because of the url rounded corners
![image](https://user-images.githubusercontent.com/17010094/72740052-e

[2020-01-20 16:12] SoaringMoon commented on #7825
It gets even worse later into onboarding. Even in fullscreen I cannot scroll down.
I am forced to zoom the page out quite far (50% size) to continue.

This screenshot was taken in portable.
Brave | 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)
Revision | 04f0a055010adab4484f7497fbfdbf312c307f1d-refs/branch-heads/3945@{#1019}
OS | Windows 10 OS Version 1903 (Build 18362.535)

![image 3](

[2020-01-20 16:46] Geradot commented on #5856
An advertisement is already appearing, the problem has disappeared.

[2020-01-20 16:49] srirambv commented on #7825
Dupe of  #6595 & #7045

[2020-01-20 16:49] #7825 closed

[2020-01-20 16:50] srirambv commented on #6595
+1 from @SoaringMoon via #7825

[2020-01-20 16:50] srirambv commented on #7045
+1 from @SoaringMoon via #7825

[2020-01-20 18:25] #7791 closed

[2020-01-20 18:56] SergeyZhukovsky opened #7827 "Collect object files to visualise crash stacks"
We need to 7z out folder with object files, CI will store the files afterwards.

[2020-01-20 19:08] matthewpennell commented on #7797
+1

I'm experiencing crashes on OSX too, same version. For me it seems to be related to attempting to use Cmd key for anything - copy, paste, cmd+click to open in new tab, all randomly seem to crash the browser (not every time, but maybe 1 in 5).

[2020-01-20 19:33] pekira001 opened #7829 "Brave Ads not working on Linux (KDE Neon)"
## Description
Installed brave in KDE Neon tried to active brave ads got the this message
`Sorry! Ads are not yet available in your region.`
System region was in US when i am in portugal change everything to portuguese.
Restarted computer still no ads, i dont use any vpn.
Exact same computer i have windows 10 installed brave ads works perfectly and already got an ad, also no VPN.
Already tried to

[2020-01-20 19:55] kiklop74 commented on #5717
Same thing

[2020-01-20 20:07] srirambv opened #7830 "Dark mode doesn't work when extension is side loaded"
## Description

Dark mode doesn't work when extension is side loaded

## Steps to Reproduce

   1. Build CW extension
   2. Side load the extension on any channel
   3. Dark mode for CW doesn't work

## Actual result:

Dark mode doesn't work when extension is side loaded

## Expected result:
If browser is set to dark mode, side loaded extension should load dark theme as well

## Reproduces how oft

[2020-01-20 21:30] hailwood commented on #7016
I can confirm that this is no longer an issue in the latest version.

[2020-01-20 21:30] #7016 closed

[2020-01-20 23:34] Coupz commented on #4636
Bump, because this is also on production version with `gridsome build` on Netlify.

[2020-01-21 00:07] simonhong opened #7831 "Update Widevine version to 4.10.1610.0 on linux"
Chrome already uses Widevine `4.10.1610.0` but that version is not yet opened to partners.
Usually, it is opened to others 1~2 weeks later after deploying it in chrome.

[2020-01-21 02:51] bill-mcgonigle opened #7832 "Support puppetlabs::apt installations by pushing Linux signing keys to a keyserver"
## Description

The keyservers don't have subkey:
9BD198A2D848C482E3550697A8580BDC82D3DC6C

the last key that was uploaded has, as its last subkey:
E85FFA8E2E90B40B33ED39274FE13824E3FFC656

This breaks our puppet deployment method (and leaves other users without keyserver functionality for validation).

## Steps to Reproduce

Try to install latest version via apt, signed with new key.

## Actual r

[2020-01-21 03:32] damendo commented on #2457
Another +1 for this. Had to download Chrome again because a tool I'm using is distributed as a .crx :'(

[2020-01-21 04:29] GeetaSarvadnya commented on #4023
@terry Issue is reproducible only in 0.63.x. In the latest versions issue is fixed and working fine. Verified a couple of releases 1.1.x and 1.2.x and 1.3.x. Hence closing the issue.
![image](https://user-images.githubusercontent.com/38657976/72775537-c1772b80-3c34-11ea-93b2-32dbf9645abc.png)

[2020-01-21 04:29] #4023 closed

[2020-01-21 04:56] GeetaSarvadnya opened #7833 "Upgrade from 0.63.x to 1.3.x resets Ads viewed count to zero, AC switch OFF and wallet creation failed"
## Description

Upgrade from 0.63.x to 1.3.x resets Ads viewed count to zero, AC switch OFF and wallet creation failed.

## Steps to Reproduce

   1. Clean profile 0.63.35
   2. Enable rewards and view an ad
   3. Upgrade to 1.3.94
   4. After upgrade, Ads viewed count resets to 0.0 BAT and Auto contribution switch is turned OFF and wallet creation is failed.

## Actual result:

After upgrade, Ads

[2020-01-21 05:10] kjozwiak commented on #7688
@bsclifton @rebron I disabled Rewards as mentioned on Friday during our triage meeting and I managed to reproduce the issue with the same profile while Rewards was disabled. I'm not 100%, but I don't think it's related to Rewards.

@bmatzner if you disable rewards via `brave://rewards`, can you still manage to reproduce the issue?

[2020-01-21 06:22] bsclifton commented on #7832
cc: @fmarier @mbacchi @bkero

[2020-01-21 08:23] tmancey commented on #5856
As above Brave Ads are now working in Ukraine, so closing this issue as won't fix. Thanks

[2020-01-21 10:27] krijnsent commented on #7331
Same issue, site simply won't show. Running Windows  10, Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit).

[2020-01-21 10:28] tmancey commented on #7833
State is resetting due to `WALLET_PROPERTIES_ST` JSON changes in `e3b5f827c2756cd19eee0c01ba15eea803a4db25` as there is no migration path.

@GeetaSarvadnya With regards to the ads issue where "Ad notifications received this month" are reset to 0, can you please raise a separate issue for `feature/ads` as it is unrelated

[2020-01-21 11:23] tmancey opened #7834 "Refactor page classification from DOM Distiller to RunIsolatedJavaScript"
Refactor page classification in `AdsImpl::ClassifyPage` from using DOM Distiller (see `AdsTabHelper::OnWebContentsDistillationDone`) to RunIsolatedJavaScript (see DistillerPageWebContents::ExecuteJavaScript`)

[2020-01-21 12:10] #7739 closed

[2020-01-21 12:32] #7789 closed

[2020-01-21 12:34] GeetaSarvadnya commented on #7185
Verification is inprogress

Brave | 1.3.97 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4133
- Verified auto contributed amount is displayed correctly in the ac notification in

[2020-01-21 12:35] #7176 closed

[2020-01-21 14:01] LaurenWags commented on #7595
@NejcZdovc does this issue also cover the AC notification on the BAT logo? Meaning, if I do an auto contribute with an Uphold KYC'd wallet using 1.3.97, the AC appears to go thru (my wallet balance is decreased), but I don't get a notification on my BAT logo.
<img width="1192" alt="4133-KYCdwallet" src="https://user-images.githubusercontent.com/28145373/72810926-9983ca00-3c2c-11ea-8983-54cd2b52b2e

[2020-01-21 14:08] mfsoftworks opened #7835 "Tab count clashing with URL in private tabs"
## Description
Currently in private tabs, the tab count is displayed over the URL with a transparent background so any long URL is shown with the tab count on top making readability difficult

## Steps to reproduce

   1. Open private tabs
   2. Go to any sufficiently long URL to fill the full URL bar

## Actual result
Tab count is displayed over URL with the URL underneath making legibility low

[2020-01-21 14:08] NejcZdovc commented on #7595
@LaurenWags this is a separate issue. Can you please double check if everything is ok on 1.2? Please log if you can reproduce this. Thank you

[2020-01-21 14:09] #7425 closed

[2020-01-21 14:19] insilications commented on #2457
@damendo exactly same situation here. I have to use a tool distributed as .crx

[2020-01-21 14:24] fmarier commented on #7832
@bill-mcgonigle Can you describe your puppet deployment workflow?

Which keyserver do you use? https://keys.openpgp.org/?

Are you querying the key using a fingerprint or an email address? Are you expecting any signatures on it?

[2020-01-21 14:43] mfsoftworks commented on #7835
You're right, I have bottom bar disabled to increase view space, with bottom bar it's fine

[2020-01-21 14:47] LaurenWags opened #7836 "no AC notifications in certain cases"
## Description
Found while testing https://github.com/brave/brave-browser/issues/7185

In certain cases there is no auto contribute notification on the BAT logo. Note, AC is not being recorded in the summary as well, but this is logged with #7526

## Steps to Reproduce

Scenario 1:
   1. Launch 1.3.x with staging flags and short reconcile interval.
   2. Enable Rewards (do not claim UGP grant). Co

[2020-01-21 14:48] LaurenWags commented on #7595
Does not reproduce in 1.2.x.

Additionally, found a second scenario in which there's no AC notification.

Logged https://github.com/brave/brave-browser/issues/7836 to cover both cases. If they should be separate lmk - happy to log another issue if needed.

[2020-01-21 15:22] bill-mcgonigle commented on #7832
Basically it's just using puppetlabs::apt to create a repo definition and the current Brave signing subkey is specified as a valid signer.  This allows a machine to securely bootstrap the package download using apt's signature validation.

Any of them should be fine - we've been using keyserver.ubuntu.com as it's pretty quick to respond, but AIUI they all synchronize and should work.

Here's the o

[2020-01-21 15:34] fmarier commented on #7832
The reason why I asked is that the existing keyserver infrastructure has more-or-less collapsed last year due to [targeted attacks](https://dkg.fifthhorseman.net/blog/openpgp-certificate-flooding.html) and that, by design, the next-generation keyserver `hkps://keys.openpgp.org` (now the default in Debian) doesn't sync with any of the other keyservers since they are not abuse-resistant.

So if we w

[2020-01-21 15:36] GeetaSarvadnya commented on #7836
The auto contribution is not happening in one more scenario:

1. Clean profile 1.2.43 launch with --rewards=staging=true,reconcile-interval=2
2. Enable rewards and connect KYC'd uphold account
3. Add a verified site to a-c table and wait for AC to complete
4. AC has happened and wallet balance deducted correctly and AC notification is shown
5. Upgrade to 1.3.97
6. Add a verified site to a-c table

[2020-01-21 15:50] NejcZdovc opened #7838 "Add unique index to contribution_info_publishers"
Right now we don't have unique index on this table. Because of that I needed to do a quick fix in https://github.com/brave/brave-core/pull/4372 so that it works. Proper solution is to revert back to `INSERT OR REPLACE` and add unique index on the table on fields `contribution_id` and `publisher_key`

[2020-01-21 16:00] srirambv opened #7839 "Remove light mode on second launch"
## Description
Remove light mode on second launch

## Steps to reproduce

   1. Install beta/nightly build
   2. Change a setting to trigger relaunch or manually quit and relaunch the browser
   3. Lite mode message is shown which is a Chrome feature

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72820397-e53e6f80-3c3c-11ea-9752-9503e9e10240.png)

## Expected result

[2020-01-21 16:32] GeetaSarvadnya opened #7840 "After excluding a site from A-C table `Show All` link is not shown in ac table"
## Description

After excluding a site from A-C table `Show All` link is not shown

## Steps to Reproduce

   1. Clean profile 1.3.97
   2. Enable rewards
   3. Add a site to a-c table
   4. Exclude the added site by clicking on Trash icon
   5. After excluding a site from A-C table `Show All` link is not shown

## Actual result:

After excluding a site from A-C table `Show All` link is not shown

[2020-01-21 16:38] srirambv opened #7841 "Remove welcome splash screen on first launch"
## Description
Remove welcome splash screen on first launch. Follow up to  #4732

## Steps to reproduce

   1. Clean install nightly build
   2. Launch browser
   3. Spalsh screen is shown

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72823853-55032900-3c42-11ea-9458-42ce3653a90c.png)

## Expected result
No splash screen

## Issue reproduces how often
Easy

## Issue

[2020-01-21 16:39] srirambv commented on #4732
superseeded by https://github.com/brave/brave-browser/issues/7841

[2020-01-21 16:40] emerick commented on #7663
I tried on staging using the site laurenwags.github.io. When I visit this site on Android, the Rewards panel icon in the URL bar doesn't show the checkmark overlay. However, if I display the pulldown the Rewards panel does show the icon. So I think we're detecting that the site is a verified publisher, we're just not updating the URL bar icon correctly to reflect it.

[2020-01-21 16:49] btlechowski commented on #7840
Not reproducible on Ubuntu. Maybe a timing problem?

Brave | 1.3.97 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

![7840](https://user-images.githubusercontent.com/34715963/72824844-40408880-3c76-11ea-9109-91652b1eb67d.gif)

[2020-01-21 16:54] srirambv opened #7842 "CI builds doesn't contain Brave version number"
## Description
CI builds doesn't contain Brave version number

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72825190-98f72d80-3c44-11ea-92f8-25b6dffda672.png)

## Expected result
Brave version should be properly populated

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? N/A
   - Beta build? Yes

## Device details
   - Install

[2020-01-21 16:55] kjozwiak commented on #7840
Seems like this specific to Windows. I couldn't reproduce the issue using `macOS 10.15.2 x64` but easily reproduced with `Win 10 x64` using the STR @GeetaSarvadnya provided.

#### Couldn't reproduce on `macOS 10.15.2 x64`:

Brave | 1.3.97 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Vers

[2020-01-21 16:56] kjozwiak commented on #7840
@rebron @NejcZdovc this is a regression we might want to consider fixing this on `1.3.x` as it affects the most popular platform.

[2020-01-21 16:56] willstocks opened #7843 "apt update via Ubuntu showing public key error"
## Description

`sudo apt update` on Ubuntu 19.10 results in the following error:

[code]

## Steps to Reproduce

   1. Open terminal
   2. sudo apt update
   3. See error

## Actual result:

[code]

## Expected result:
No error, Brave should update

## Reproduces how often:

I only have one Ubuntu machine available and can't get around it so far

## Brave version (brave://version info)

Version 1

[2020-01-21 16:58] srirambv commented on #7040
Verification passed on OnePlus 6T with Android 9.0 running 1.5.46 nightly build.
![image](https://user-images.githubusercontent.com/17010094/72825519-2e92bd00-3c45-11ea-82b5-051c185f48af.png)
- Logged follow up issue #7842 for missing Brave version number from CI builds

[2020-01-21 17:03] bill-mcgonigle commented on #7832
Sure thing.  Thanks for the tip.

[2020-01-21 17:43] srirambv commented on #7042
Verification passed on OnePlus 6T with Android 9.0 running 1.5.46 x64 nightly build
![image](https://user-images.githubusercontent.com/17010094/72828892-9815ca00-3c4b-11ea-8607-df47e9092190.png)

[2020-01-21 17:44] LaurenWags opened #7844 "wallet balance decreasing by AC amount each time browser is relaunched"
## Description
Looks like if you have a user funded anon wallet and you perform an auto contribute using 1.3.x, when you close/relaunch the browser, it is retrying step 3 in the contribution process and as a result, is deducting the AC monthly budget amount from your wallet balance. It seems like step 3 isn't being marked as successful and so it keeps getting retried on each relaunch, even though

[2020-01-21 17:46] LaurenWags commented on #7844
Note - I tried this with a KYC'd user wallet as the source of BAT, and this is what I saw:
1. clean profile 1.3.x staging profile, short reconcile interval (I used 5)
2. enable rewards, do not claim grant, and connect KYC'd uphold account
3. fund the wallet from sandbox uphold (enough for a couple ACs) - starting wallet balance was 25 BAT
4. Change monthly budget to 5 BAT.
5. add a verified site t

[2020-01-21 17:48] srirambv opened #7845 "Remove conversion tracking from ads setting page"
## Description
Remove conversion tracking from ads setting page

## Steps to reproduce

   1. Install 1.5.46 nightly build
   2. Enable rewards and open ads settings page
   3. Has Chromium conversion option

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72829129-28540f00-3c4c-11ea-87ef-22384aca17f1.png)

## Expected result
No conversion option

## Issue reproduces h

[2020-01-21 17:53] darkdh commented on #6098
@msundin @Hispeeday did you try creating a new sync chain instead of joining existing one?
(This won't make your local bookmarks disappeared) Just want to make sure it is not caused by corrupted sync chain.

[2020-01-21 17:55] srirambv commented on #7582
Reopening the issue as CI builds are showing variations on master now.
![image](https://user-images.githubusercontent.com/17010094/72829729-54bc5b00-3c4d-11ea-83de-7bc5083a9325.png)

[2020-01-21 18:11] kjozwiak commented on #7526
I finally managed to reproduce this one `Win 10 x64`. Once I reproduced the above once on the `Win 10 x64` machine, it started occurring every single time with new profiles. Example:

Attached [publisher_info_db.zip](https://github.com/brave/brave-browser/files/4092793/publisher_info_db.zip) which belonged to this particular profile.

![panelsIssue](https://user-images.githubusercontent.com/260231

[2020-01-21 18:18] yrliou commented on #7845
@srirambv I think it's our own feature implemented in https://github.com/brave/brave-core/pull/4253 instead of chromium stuff.

[2020-01-21 18:48] #5741 closed

[2020-01-21 18:48] #7716 closed

[2020-01-21 18:55] fmarier commented on #7832
It's now available from https://keys.openpgp.org/search?q=D8BAD4DE7EE17AF52A834B2D0BB75829C2D4E821 and https://keys.openpgp.org/search?q=support@brave.com.

[2020-01-21 18:55] #7832 closed

[2020-01-21 19:05] cezaraugusto commented on #5753
I did some investigation, and it doesn't seem to be an issue anymore in current channels, so I'm going to close this for now and set as `wontfix`. @GeetaSarvadnya please feel free to re-open this if you think I'm wrong, and I'll re-evaluate. Thanks!

[2020-01-21 19:05] #5753 closed

[2020-01-21 19:23] srirambv commented on #7835
This issue will most probably be fixed on beta.

[2020-01-21 19:32] fmarier commented on #7706
This might be due to a GPU driver bug. I know that the Arch packages turn on video hardware acceleration. Disabling that might help.

[2020-01-21 19:36] rebron commented on #5550
Closing as dupe of #4416

[2020-01-21 19:36] #5550 closed

[2020-01-21 20:13] smnthermes opened #7846 "Weave Sync 1.1"
## Description

It would be great to adopt Weave Sync 1.1, which is time-tested and more secure than that currently adopted by Firefox.

[2020-01-21 20:17] #7551 closed

[2020-01-21 20:23] srirambv commented on #7627
Super seeded by #7841

[2020-01-21 20:49] Glennmen commented on #7746
Just wanted to throw in here that the Alexa list doesn't seem that accurate anymore: https://twitter.com/Scott_Helme/status/1170987444784836608

There are a couple of alternatives suggested in the comments.

[2020-01-21 20:49] NejcZdovc commented on #7844
this one regressed with https://github.com/brave/brave-core/pull/4045

[2020-01-21 20:52] #7229 closed

[2020-01-21 21:16] #7827 closed

[2020-01-21 21:17] #7576 closed

[2020-01-21 21:29] rebron commented on #7746
Hi @Glennmen thanks for the pointer. Looks like Common Crawl/Open Page Rank to build out this list.
http://index.commoncrawl.org/
https://www.domcop.com/openpagerank/

[2020-01-21 21:34] rivy commented on #4102
@tmancey , Checking back in ... are you planning to re-open this?

[2020-01-21 21:37] LaurenWags commented on #7844
@brave/legacy_qa when retesting this, please test with a clean profile and an upgrade profile per https://bravesoftware.slack.com/archives/CB0KCRCQN/p1579642207038100?thread_ts=1579640334.035500&cid=CB0KCRCQN

[2020-01-21 21:46] srirambv opened #7848 "Add android-related label for Android issue template"

[2020-01-21 22:34] yannvr commented on #5194
yes @dagli, I'm doing that all the time. That's exactly why I think Brave should this feature ;)
It's very tedious over 20+ tabs (and on high resolution monitor) and I never get it right the first try :(

[2020-01-21 22:41] diracdeltas opened #7850 "audit_deps locally fails on vendor/bloom-filter-cpp"
vendor/bloom-filter-cpp in DEPS is out of date with master, causing a security warning when `npm run audit_deps` is run.

[2020-01-21 23:00] diracdeltas opened #7851 "audit_deps no longer needs to check brave-crypto"
per https://bravesoftware.slack.com/archives/C2HJYB45N/p1579646904001100, the brave-crypto submodule is no longer needed

[2020-01-21 23:09] jumde opened #7853 "Limit client side cookie lifetime to 24 hours"
## Description
As part of ITP 2.3, Safari reduced the expiry of client side cookies to 24 hours. We should do the same:
https://webkit.org/blog/9521/intelligent-tracking-prevention-2-3/

[2020-01-21 23:19] btlechowski opened #7854 "`Choose Device Type` modal is not shown after going offline and back online"
Found when testing new sync UI changes https://github.com/brave/brave-browser/issues/6941.

## Steps to Reproduce

   1. Open `brave://sync`
   2. Go offline
   3. Click `Start a new Sync Chain`
   4. Wait a minute
   5. Go online
   6. Wait till `Choose Device Type` modal is shown

IMPORTANT: after page reload, the modal is shown

## Actual result:

`Choose Device Type` modal is not shown
The UI

[2020-01-21 23:22] btlechowski commented on #2904
Still reproducible

![image](https://user-images.githubusercontent.com/34715963/72851848-0f2f7a80-3cad-11ea-9d38-abe9edd0746c.png)

Brave | 1.5.46 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

cc @cezaraugusto @jsecretan

[2020-01-21 23:24] Nuc1eoN commented on #6098
@darkdh And how would we do that? I press "Create new sync chain" and it wants to to enter 24 words on another computer. I dont see a way to start a new chain standalone.

[2020-01-21 23:26] darkdh commented on #6098
@Nuc1eoN all devices leave the current sync chain and you choose one device to create sync chain and others join it.

[2020-01-21 23:30] Nuc1eoN commented on #7706
@fmarier Yes indeed turning off HW accelaration seems like a workaround.

It still looks like a Brave bug to me because upstream Chromium with HW accell enabled works totally fine.

[2020-01-21 23:30] btlechowski commented on #7743
@tmancey I think the `client.json` you provided will always be a false-positive as the oldest ad shares the `uuid` with other ad and therefor will never be shown.

[2020-01-21 23:30] wooque opened #7855 "Move top sites widget to the top when stats are hidden regardless of clock"
## Description
When stats are hidden, top sites don't move to the top unless clock widget is hidden also.

## Steps to Reproduce

   1. Open new tab page
   2. Hide Brave stats

## Actual result:

![2020-01-22-002445_1919x412_scrot](https://user-images.githubusercontent.com/1936195/72852030-a268b000-3cad-11ea-97df-d2c6076edcb6.png)

## Expected result:
Top sites are on top even with clock widget s

[2020-01-21 23:41] yrliou opened #7856 "Migrate mojo types for Ads service"
This is a part of the migration #7056, please see the meta issue for more details.

[2020-01-22 00:15] diracdeltas opened #7857 "CI skips audit_deps for everything in vendor/"
If you look at the output of `npm run audit_deps` in CI, for instance https://ci.brave.com/job/brave-browser-build-pr/job/PR-7847/2/consoleText, you will see a lot of lines like:

[code]

which indicate that `/vendor/foobar` doesn't contain a node_modules/, package.json, and package-lock.json. This is expected for directories that aren't node packages, but it should be running for vendor/hashset-c

[2020-01-22 01:08] linhkikuchi opened #7858 "Fix test-install on macOS when param is null"
`test-install` failed on macOS when it's a first build, due to params are null.
`test-install` was not able to get `SKIP_SIGNING` param. Assign it to `true` if it is null to get the correct dmg file for `test-install`

[2020-01-22 01:13] strangersthwrc commented on #1457
Please make this feature available fast. This is urgent and very important feature request.
Lets all upvote and pressurize so that brave team will integrate that asap.

[2020-01-22 01:43] karenkliu commented on #4930
Closing this issue as it's out of date - we have a new design for these icons on the NTP.

[2020-01-22 01:45] DaniellMesquita opened #7860 "Brave browser doesn't imports data from MetaMask and even corrupts it"
Data in MetaMask was reset and extension corrupted after the update adding CryptoWallets.
![brave corrupts metamask without importing its data](https://user-images.githubusercontent.com/6765277/72858455-b0173900-3c9f-11ea-8db6-0586f1017cf2.png)

[2020-01-22 01:46] DaniellMesquita commented on #7860
There was no responsibility when releasing this update.

[2020-01-22 01:48] kjozwiak opened #7861 "crash when loading specific article from investor.gov"
## Description

Brave crashes the majority of time when attempting to view the following article/website:

* https://www.investor.gov/additional-resources/news-alerts/investor-alerts/initial-exchange-offerings-ieos-investor-alert

Most of the time it crashes within a few seconds of loading, however, sometimes you might have to scroll through the website before it crashes.

## Steps to reproduce

[2020-01-22 01:48] DaniellMesquita opened #7862 "Connect to wallet popup needs to be responsive to browser window size"
![brave align error](https://user-images.githubusercontent.com/6765277/72858566-07b5a480-3ca0-11ea-8eac-6b7b698b12b1.png)

[2020-01-22 03:08] yrliou opened #7863 "[Android arm64] ld.lld: error: undefined symbol: network::SystemRequestHandler::GetInstance() and ld.lld: error: undefined symbol: network::SystemRequestHandler::OnBeforeSystemRequest"
Get below error when building a component build on android arm64.

[code]

[2020-01-22 03:19] #7858 closed

[2020-01-22 03:46] SergeyZhukovsky commented on #7845
yeah it's definitely not from Chromium as the page is ours

[2020-01-22 04:13] tjm00 commented on #7355
This would be a significant improvement.

[2020-01-22 04:24] samuelmattjohnston commented on #2635
Any updates here? this issue has made it way into Linux. Swapping to another browser since the Linux build has no alternatives for dynamic url bar in fullscreen. Further, this has completely broken video fullscreen playback (have to refreshpage or maximize/minimize multiple times quickly to get it to revert to non fullscreen mode).

[2020-01-22 06:08] #7830 closed

[2020-01-22 06:12] bsclifton commented on #3296
Hi folks - what platforms are you all using? Knowing the devices in the group will help us troubleshoot 😄 (ex: is this between Desktop instances? Or between Desktop and iOS? or Desktop and Android? or Desktop/iOS/Android)

The root cause may be related to https://github.com/brave/sync/issues/261. If someone has a Desktop to Desktop sync which is having this problem, that should be the easiest to t

[2020-01-22 06:44] yrliou commented on #7459
OTR profile would return nullptr for BookmarkUndoService, we should be able to fix this acting the same as OTR profile.

[2020-01-22 08:15] janvojt commented on #3296
I have 3 Linux Debian desktops, and 1 Android device in the sync chain. I barely use bookmarks in Android device though. Probably never edited them so far. It seems like it is broken just syncing between the desktops.

[2020-01-22 08:49] GeetaSarvadnya commented on #4102
@tmancey Issue is still not fixed. I am not getting any ads when `Focus Assist` is set to `Alarm Only` - Ads are not popping up or being displayed under the notification center. Let me know if I am missing anything otherwise, I will log a follow-up issue for it.

[2020-01-22 09:08] Aracki opened #7865 "Brave Browser update button colours meaning"
When Brave needs update the button on the top right is getting colored.

What is the difference between yellow & red update button?

[2020-01-22 09:16] GeetaSarvadnya commented on #7635
@masparrow Issue is consistently reproducible in Windows 10 x64 - Bravebeta version `1.3.97`. Reload/ close or open rewards summary did not display reserved BAT text in the summary section. Do let me know if you need more details.

[2020-01-22 09:18] GeetaSarvadnya commented on #7635
@btlechowski Can you please check this issue on Linux if it's not reproducible, can you please add the label as windows only?

[2020-01-22 09:29] tmancey opened #7866 "Application crashes when calculating the winning page classification category"
## Description

Application crashes when calculating the winning page classification category to decide which ads to show to the user

## Steps to Reproduce

   1. Change the OS locale to "United States"
   2. View a Brave Ad
   3. Quit the browser
   4. Change the OS locale to an untargeted locale (such as Denmark)
   5. Launch the browser
   6. View a Brave Ad

## Actual result:

The application

[2020-01-22 09:55] tmancey commented on #5232
Blocked while deciding if this issue is still relevant

[2020-01-22 10:01] tmancey opened #7867 "Investigate Chromium XPC service native notification changes for macOS Catalina"
Investigate Chromium XPC service native notification changes for macOS Catalina as it would appear they are working again. This was highlighted by @bridiver as he had two entries in Preferences > Notifications > Brave Browser under Chrome

[2020-01-22 10:08] tmancey commented on #7834
This is how dom distiller ultimately gets launched from within the browser:

https://source.chromium.org/chromium/chromium/src/+/master:components/dom_distiller/content/browser/distiller_page_web_contents.cc;drc=a8d21752b0e913fe9e6dd57aa3b55caf4211abb6;bpv=1;bpt=1;l=176?q=distiller_page_web_c&ss=chromium%2Fchromium%2Fsrc&originalUrl=https:%2F%2Fcs.chromium.org%2F

[2020-01-22 10:15] #7844 closed

[2020-01-22 10:20] ryanbr opened #7868 "3rd-party cookie shield prevents slideshare.net navigation"
## Description
Visit: `https://support.blogactiv.eu/2015/04/24/how-to-embed-slideshare/` Embedded Slideshare doesn't navigate.

## Steps to Reproduce

   1. `https://support.blogactiv.eu/2015/04/24/how-to-embed-slideshare/`
   2.  Click arrow buttons, nothing happens
   3.

## Actual result:
Non-functional slideshare.net element

## Expected result:
Allow Slideshare.net navigation element to work

[2020-01-22 10:31] tmancey commented on #7743
@btlechowski Re-checking now, thanks

[2020-01-22 11:03] tmancey commented on #7743
@btlechowski Tested with: And works as expected on both 1.3 and 1.5. Can you please send your client.json to show the issue. Thanks

[client.json.zip](https://github.com/brave/brave-browser/files/4096728/client.json.zip)

**1.5.x:**
<img width="1392" alt="1 5 x" src="https://user-images.githubusercontent.com/1188719/72889005-aa087300-3d06-11ea-9fab-c466eeac4201.png">

**1.3.x (not sorted as we onl

[2020-01-22 11:46] masparrow commented on #7526
Verified as fixed by the PR https://github.com/brave/brave-core/pull/4372 - @LaurenWags recommend this is regression tested against that PR (or nightly once that PR is merged).

[2020-01-22 12:27] tmancey opened #7869 "Duplicate Brave Ads ad history entries are missing"
## Description

Duplicate Brave Ads ad history entries are missing

## Steps to Reproduce

   1. View the same ad twice (clicking one of the ads)

## Actual result:

Duplicate Brave Ads ad history entries are missing

## Expected result:
Duplicate Brave Ads ad history entries should be shown

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

## Version/Channel I

[2020-01-22 12:39] srirambv commented on #7846
Can you add more info on this? This is more of a generalised suggestion without any details.

[2020-01-22 12:45] srirambv commented on #7860
@DaniellMesquita I've requested in almost every issue you have opened to please use the template but you ignore it. It's impossible to debug if you just say data is corrupted. Please edit the issue and add the details that are part of the template so that we can figure out whats the issue. Will have to close the issue for lack of information (already mentioned in the template header)

[2020-01-22 12:47] srirambv commented on #7862
Can you please add component version and browser version? What is the default resolution set at?

[2020-01-22 12:50] srirambv commented on #7845
Thanks @yrliou. There was no mention of this for Android in the issue nor there was an issue logged specifically for Android so I wasn't aware. Going to close as expected.

[2020-01-22 12:50] #7845 closed

[2020-01-22 12:56] srirambv commented on #7865
You can find more info [here](https://safecomputing.umich.edu/security-alerts/check-chrome-pending-updates). There is also a Chrome [URL](https://support.google.com/chrome/answer/95414?hl=en-GB) with this info

[2020-01-22 12:56] #7865 closed

[2020-01-22 12:57] mfsoftworks opened #7870 "Brave Rewards Displaying Name in URL Format"
## Description
The Brave rewards popup displays names in a URL encoded format (Space character displayed as %20)

## Steps to reproduce

   1. Open the rewards popup on Android browser for a GitHub user with a space in their name (Brave Software will show this issue when opening at the GitHub page)

## Actual result
URL encoded name displayed
![Screenshot_2020-01-22-20-56-06-62_e4424258c8b8649f6e6

[2020-01-22 13:22] btlechowski commented on #7635
Not reproducible on Ubuntu

Brave | 1.3.97 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/72897591-966b0580-3d22-11ea-93eb-4d4e553a0be2.png)

[2020-01-22 13:24] alexwykoff commented on #5621
I believe this is already solved with our history & feedback modal located at Rewards Settings (brave://rewards/) -> Ads Setting Card -> '7-day Ads History'

[2020-01-22 14:01] JamesABaker commented on #3296
I have the issue between OSX (desktop) and Ubuntu (desktop). More details [above](https://github.com/brave/brave-browser/issues/3296#issuecomment-566464241).

[2020-01-22 15:26] btlechowski commented on #7743
The issue only reproduces on 1.3.x.

I still see duplicate `uuid` in the new client.json
![image](https://user-images.githubusercontent.com/34715963/72906388-72172500-3d32-11ea-9e17-3b8afb3d182d.png)

This is the file I use when the issue reproduces: [client.zip](https://github.com/brave/brave-browser/files/4097993/client.zip)
The file contains 8 ads, an ad is shown each day.
If I delete `Test Ad

[2020-01-22 15:52] mccompunerd commented on #3296
My troubleshooting setup is currently just two devices that are actively used:
One laptop running Linux Mint 19.3 and running Brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit).
One Galaxy S8 Android 9 running Brave 1.7.0, Chromium 79.0.3945.116

On the Android phone I only add and occasionally access bookmarks. The only device that ever deletes bookmarks is the Linux laptop.

[2020-01-22 15:52] LaurenWags commented on #6942
Adding `QA/Blocked` label until https://github.com/brave/brave-browser/issues/7844 and https://github.com/brave/brave-browser/issues/7526 are resolved, encountering both of these issues while testing.

[2020-01-22 15:54] srirambv commented on #7870
Moving issue to android-tabs repo to be fixed

[2020-01-22 15:55] bbondy opened #7871 "Remove unused bloom-filter-cpp dep"
These deps listed in the DEPS file are no longer used.

[2020-01-22 16:18] johnyqi commented on #3296
I started from a scratch, new sync, installed it on MacBook Pro and iPhone. I have one bookmark on iPhone, none on MacBook Pro, they are not syncing.

[2020-01-22 16:19] cezaraugusto commented on #7854
@AlexeyBarabash do you think we can intercept offline requests in the back-end? Doing this with JavaScript is not reliable since there's no native listener in WebAPIs for offline events.

[2020-01-22 16:28] srirambv opened #7872 "Remove Download articles from Downloads section"
## Description
Remove Download articles from Downloads section

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72912691-03be6c80-3d0a-11ea-952a-d53f29853266.png)

## Expected result
![image](https://user-images.githubusercontent.com/17010094/72912766-20f33b00-3d0a-11ea-842e-863cdab59535.png)

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play St

[2020-01-22 16:35] emerick commented on #7842
Looking at the Jenkins log file for this build, I think this may be the issue (from the `gn` parameters at the beginning of the build):

```android_override_version_name=\"0.0.0\"```

I'm not quite sure how the versioning works on the standard brave-core releases, but for Android we expect this value to be set to the desired version number. We can probably tweak that if it's unacceptable (although

[2020-01-22 16:41] AlexeyBarabash commented on #7854
@cezaraugusto I agree, doing this with javascript  in UI is not an option.
I think we have the error event for such case but I need to check why it isn't passed to UI.

[2020-01-22 16:44] SergeyZhukovsky commented on #7842
@emerick yes, we don't provide it on CI, @mihaiplesa is working on that.

[2020-01-22 16:54] srirambv opened #7873 "Unable to select allow conversion tracking option from Ads settings"
## Description
Unable to check `Allow conversion tracking`

## Steps to reproduce

   1. Install 1.5.50 nightly build
   2. Enable rewards and open ads settings page
   3. Unable to check allow conversion tracking checkbox

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72829129-28540f00-3c4c-11ea-87ef-22384aca17f1.png)

## Expected result
Should be able to enable the

[2020-01-22 16:56] emerick commented on #7588
@srirambv Are you also seeing this behavior in the nightlies? I'm having trouble reproducing it, not sure if I'm missing a step...? When I exit the browser and tap on an ad, the browser relaunches with the ad (although there is a 2-3 second pause between tapping the ad and the browser launching).

[2020-01-22 16:58] srirambv commented on #7588
Haven't checked it on nightly will run through it. Will check it on nightly and update here

[2020-01-22 17:01] bridiver commented on #7867
correction: I had to entries for Chrome

[2020-01-22 17:03] DaniellMesquita commented on #7862
Versions and resolution doesn't matter. It is on MetaMask itself. I suggest changing it upstream.

To simply explain, the MetaMask popup's design have a fixed size. It should be fluid. See the bottom buttons. It should be responsible instead of fixed heights.

[2020-01-22 17:11] DaniellMesquita commented on #7860
To reproduce:
1. I had a previous version with MetaMask
2. It was automatically updated to version 1.1.20 Chromium: 79.0.3945.74 (Official Build) (64-bit)
3. I'd noticed it came with its own fork of MetaMask (CryptoWallets) and the two were conflicting when web3 sites did requests. Then MetaMask got corrupted with its data.

[2020-01-22 17:22] emerick commented on #7588
@srirambv Sounds good, thank you!

[2020-01-22 17:24] srirambv commented on #7860
Will be fixed with https://github.com/brave/brave-browser/issues/7503

[2020-01-22 17:24] #7860 closed

[2020-01-22 17:52] #2904 closed

[2020-01-22 18:40] mkarolin opened #7874 "C80 followup: Convert to using base::flat_map instead of std::map."
Follow up on #7255. (commit `Readded std::map and base::flat_map conversion functions.`)

In Chromium 80, conversion functions between std::map and base::flat_map (MapToFlatMap and FlatMapToMap) which used to live in mojo, have been removed since Chromium converted all code using mojo to base::flat_map instead of std::map. We should do the same.

[2020-01-22 18:53] mkarolin opened #7875 "C80 followup: Fix Component build"
This is a followup issue for #7255.

Component build errors out with a number of Java Lint warnings (being converted to errors).
Debug or Release build don't show these errors.

Most of the errors are for unused import statements, similar to:
<pre>
../../brave/android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java:17: error: [RemoveUnusedImports] Unused imports

[2020-01-22 18:58] mkarolin opened #7876 "C80 followup: [Android] Build warning for using an array as a key in a map."
When build Component build for Chromium 80 the following warning is produced by Java lint:
<pre>
../../brave/android/java/org/chromium/chrome/browser/qrreader/CameraSource.java:161: warning: [ArrayAsKeyOfSetOrMap] Arrays do not override equals() or hashCode, so comparisons will be done on reference equality only. If neither deduplication nor lookup are needed, consider using a List instead. Otherw

[2020-01-22 19:13] srirambv commented on #7588
@emerick I can reproduce this on Nightly CI build as well. Both with sample and actual ad notification as well

[2020-01-22 19:14] emerick commented on #7588
@srirambv OK, thanks for confirming - trying the nightly now, just waiting for an ad to show up...

[2020-01-22 19:28] timolson commented on #7245
The "Save Password" dialog is still suffering this issue.

[2020-01-22 19:33] Brave-Matt commented on #6291
Another +1 from a user opening MS Excel files:
https://www.reddit.com/r/brave_browser/comments/es8vkt/is_there_any_way_of_avoiding_this_prompt_every/

[2020-01-22 19:41] rebron commented on #6866
cc: @mkarolin ping to double check on this one when translations are ordered/come in for 1.3 round.

[2020-01-22 19:43] rebron commented on #5436
@Brave-Matt Do we have a link for this article yet?

[2020-01-22 19:44] #7713 closed

[2020-01-22 19:52] srirambv commented on #7665
@emerick  can you verify if the grant is claimed?

[2020-01-22 19:53] rebron opened #7877 "relabel menu item from 'remove' to 'hide'"
## Description
For New Tab page widgets, rename the 'remove' label to 'Hide' to match show/hide versus add/remove terminology.

##Current screens
![68592443-689c5180-0493-11ea-9b75-653fdba635aa](https://user-images.githubusercontent.com/5951041/72928969-c956ce80-3d0d-11ea-8834-3fb651610a52.png)

![68592429-5fab8000-0493-11ea-9f29-e9e1a21b100c](https://user-images.githubusercontent.com/5951041/7292

[2020-01-22 19:55] rebron commented on #7877
related to https://github.com/brave/brave-browser/issues/6395

[2020-01-22 20:07] srirambv commented on #7862
Was checking if the default zoom level is at a higher %. May also be fixed with #7045

[2020-01-22 20:07] Sondro commented on #6656
Just letting everyone know I worked through this with the Chrome devs and this was layout regression bug was patched and I assumed rolled into Brave as well: https://bugs.chromium.org/p/chromium/issues/detail?id=1025715

[2020-01-22 20:16] srirambv commented on #7069
Waiting for the device to be shipped. Will check and update the issue

[2020-01-22 20:22] rebron commented on #7747
Closing as a dupe of https://github.com/brave/brave-browser/issues/7747. Sound right @snyderp?

[2020-01-22 20:31] #7709 closed

[2020-01-22 20:31] #6940 closed

[2020-01-22 20:40] snyderp commented on #7747
@rebron not sure i follow the above.  This issue is a dupe of which issue?  (you did a self reference above)

[2020-01-22 20:44] rebron commented on #7747
https://github.com/brave/brave-browser/issues/5934

[2020-01-22 20:51] rebron commented on #5934
Other way around. Duping this to #7747

[2020-01-22 20:51] #5934 closed

[2020-01-22 21:09] LaurenWags commented on #5552
Verified passed with

Brave | 1.4.66 Chromium: 79.0.3945.130 (Official Build) dev (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified Normal Window
<img width="1196" alt="5552-NormalWindow" src="https://user-images.githubusercontent.com/28145373/72934328-6414d480-3d31-11ea-9d18-501a86b04597.png">

[2020-01-22 21:15] benlc commented on #5842
Same thing with all my PWAs- it's been crashing for several version whenever I move the window on Mac. No crashes showing up in brave://crashes

Mac OS Mojave 10.14.6
Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)

[2020-01-22 21:37] srirambv commented on #7835
This needs to be fixed on core as well. Here's a screenshot on the latest nightly build
![image](https://user-images.githubusercontent.com/17010094/72936566-7264ef80-3d35-11ea-89e2-587019916324.png)

We need to move the tab count outside the URL similar to how it looks on normal window.

[2020-01-22 21:38] LaurenWags commented on #7121
Verified passed with

Brave | 1.4.66 Chromium: 79.0.3945.130 (Official Build) dev (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4160
* Verified STR from description
<img width="1019" alt="Screen Shot 2020-01-22 at 4 35 57 PM" src="https

[2020-01-22 21:40] srirambv commented on #7651
Need to verify if  #7878 fixes this as well

[2020-01-22 21:45] Chilcout opened #7879 "Can't play Hulu videos."
Everyt video I try to open, I get this error code: P-Dev302. I'm on windows 7 64

[2020-01-22 21:50] #7015 closed

[2020-01-22 21:55] ryanbr commented on #3331
@lukemulks @Brave-Matt is this still occuring? I Couldn't see it from my end

[2020-01-22 21:59] ryanbr commented on #6673
Somewhat resolved. If heatmap isn't used for tracking @parmindersk renaming the filename will fix it. Or I can whitelist if the site is public.

[2020-01-22 21:59] #6673 closed

[2020-01-22 22:00] srirambv opened #7880 "Remove page info icon for chrome pages"
## Description
Remove page info icon for chrome pages

## Actual result
![image](https://user-images.githubusercontent.com/17010094/72938124-5f9fea00-3d38-11ea-99df-ae88fc70b00c.png)

## Expected result
![image](https://user-images.githubusercontent.com/17010094/72938177-7ba38b80-3d38-11ea-9d40-55b144c21f6f.png)

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store versi

[2020-01-22 22:02] ryanbr commented on #7371
Was resolved in December, just confirmed the fix is working. Closing ticket

[2020-01-22 22:02] #7371 closed

[2020-01-22 22:06] ryanbr commented on #7065
Is it still broken @CHEF-KOCH ? I just tested Discord, seemed to load fine

[2020-01-22 22:12] ryanbr commented on #6897
Just trying to reproduce this, Is there an easier way to see if this still buggy @tiotdev ?

[2020-01-22 22:13] LaurenWags commented on #7322
Verified passed with

Brave | 1.4.66 Chromium: 79.0.3945.130 (Official Build) dev (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4209
<img width="615" alt="Screen Shot 2020-01-22 at 4 40 58 PM" src="https://user-images.githubusercontent.

[2020-01-22 22:15] jakecoble commented on #5621
The history keeps a record of delivered ads, but it's not the way the ads are delivered. I'm proposing that ads are only considered delivered to the user (and thereby making the user eligible for a BAT reward) until they're viewed in a dedicated location in the browser.

[2020-01-22 22:15] emerick commented on #7665
@srirambv Yes, it is claimed. When the second message pops up, you can't claim the grant from it as it's already been retrieved. I suspect that there is a disconnect between the panel and the rewards settings page, i.e., the rewards settings page isn't correctly informed that the grant was claimed from the panel so it proceeds to show the message.

[2020-01-22 22:23] ryanbr commented on #6058
My Err, This was a cookie issue. Allowing `All Cookies` should fix this. Initial fix is still valid on other sites however.

[2020-01-22 22:25] ryanbr commented on #5956
Should be safe to close @snyderp ?

[2020-01-22 22:27] snyderp commented on #5956
Yep!  This will be solved as soon as resource replacements goes from beta to stable.  Either way, the work is done and riding the rails.  I think safe to close; good catch @ryanbr !

[2020-01-22 22:27] #5956 closed

[2020-01-22 22:40] pmer opened #7881 "Cannot disable JavaScript blocking using site-specific exception on local files"
##  Description

When "Block scripts" is on in settings, normally you can override this on a per-site basis. However, this does not work for local files. Adding a site-specific exception to allow JavaScript for the local file does not resolve the issue.

## Steps to Reproduce

   1. Create a local file with content of "<script>alert('hi');</script>".
   2. Open this file in Brave using the file://

[2020-01-22 22:48] ryanbr commented on #5911
@Brave-Matt Can you confirm its okay? I played with a few filters today:

![hoot](https://user-images.githubusercontent.com/1659004/72941574-2fa72400-3dd6-11ea-9d13-ffea61a7b392.png)

[2020-01-22 22:51] ryanbr commented on #5713
Seems okay now? can @chkk525 confirm ?

[2020-01-22 22:57] ryanbr commented on #5759
Loaded 5 various sites: **stats.wp.com** is blocked in Site Trackers in shields:

`https://indianexpress.com/`
`https://nesn.com/`
`https://www.rvcj.com/`
`https://heavy.com/`
`https://metro.co.uk/`

Can you confirm @willstocks ?

[2020-01-22 23:03] ryanbr commented on #3742
The login issue via an extension does remind me of https://github.com/brave/brave-browser/issues/3650

[2020-01-22 23:09] ryanbr commented on #3874
Just tested this,

1. Installed Telegram desktop app (windows)
2. Refresh the page
3. Brave suggested to open link in Telegram
4. Telegram launches and opens into chat.

Seems to be okay / resolved? I'll try to reach out the orginal poster.

[2020-01-22 23:28] ryanbr commented on #3437
@AronVanAmmers Just a check in, does this work? Seems to be resolved/fixed

[2020-01-22 23:30] ryanbr commented on #3430
Just tested this. `https://cheddar.com/media/social-media-stock-update-ahead-of-earnings-season`

Video playback is fine, no crash seen. Safe to close @lukemulks ?

[2020-01-22 23:42] ryanbr commented on #3031
Re-opened. This fix will allow the video player on `https://www.aljazeera.com/programmes/countingthecost/2019/01/economic-toll-britain-brexit-chaos-190119082641310.html`

[2020-01-22 23:43] willstocks commented on #5759
Always shows as blocked for me in shields, but I see my WP stats increase on each visit and in the Network tab of devtools, the request still appears to succeed, which led me to become a little confused.

Might be a redherring?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fanboynz <notifications@github.com>
Sent: Wednesday, January 22, 2020 10:57:32 PM
To: bra

[2020-01-22 23:48] ryanbr commented on #3211
@petemill just tested this in Brave Release (Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)) Video playback is fine.

[2020-01-22 23:51] adamreisnz commented on #5290
This is probably a reason to move back to Chrome. I really don't feel inclined to whitelist all our local IP addresses one by one...

[2020-01-22 23:53] ryanbr commented on #2936
We could possibly close this ticket, `https://estore.htc.com/` seems to be a dead domain, (and htcsense.com domain is also changed)  @bbondy

[2020-01-22 23:59] ryanbr commented on #2840
Re-tested. Still an issue. `Allow all cookies` will fix this.

[2020-01-23 00:03] ryanbr commented on #2493
Just submitted 2 ticket's (with shields enabled and disabled) can you confirm everything is working @groovinfingers  ?

[2020-01-23 00:15] ryanbr commented on #2392
Fixed.
https://github.com/easylist/easylist/commit/29435bf6af394e72c7f2dee079710ffa72c07129

[2020-01-23 00:15] #2392 closed

[2020-01-23 00:16] KyferEz commented on #598
This has my vote as well. It's unacceptable that we cannot choose where to install to. I especially HATE when software that tries to install to my user profile instead of the Program Files folders. It's a COMPLETE WASTE of space for MultiUser environments!

[2020-01-23 00:18] KyferEz commented on #598
"Minor" indeed. Not minor at ALL for multi-user environments!

[2020-01-23 00:23] ryanbr commented on #5759
Yeah, possibly. Just checked network tab. its being showen as blocked there also, and also checked cookies, nothing from wp.com.

[2020-01-23 01:00] karenkliu commented on #3623
How about something like this:

![autoplay media](https://user-images.githubusercontent.com/2388823/72947922-7fcfa900-3d38-11ea-9468-ca4a1659adf1.png)

Clicking "don't ask again" will perform that action every time from then on.

[2020-01-23 01:04] gattytto commented on #7586
can I bump this?

[2020-01-23 02:12] dginovker opened #7882 "Connect to wallet popup needs to be responsive"
## Description

I was trying to pay for a [Forbes](https://www.forbes.com/sites/ktorpey/2020/01/21/billionaire-investor-sees-major-flaw-in-bitcoin-investment-thesis/#2c36d6814914) article using Crypto and I got a popup asking to set up my Brave wallet. I did and ended up on this screen:

![image](https://user-images.githubusercontent.com/32943174/72951145-6c820500-3d5b-11ea-8bad-03a4683301b5.png)

[2020-01-23 04:36] #7600 closed

[2020-01-23 05:34] bsclifton commented on #7586
@gattytto is there any difference if you put shields down? (ex: Lion icon in top right, toggle to off)

[2020-01-23 05:38] bsclifton commented on #2936
@ryanbr sounds good- I'll close it out 😄

[2020-01-23 05:38] #2936 closed

[2020-01-23 05:56] bsclifton commented on #3211
Works great for me too- going to close this out

[2020-01-23 05:56] #3211 closed

[2020-01-23 06:21] bsclifton commented on #6656
Thanks for the update, @Sondro 😄 And thanks for working to get it resolved, very much appreciated ❤️

[2020-01-23 06:25] bsclifton commented on #7857
Closing as this sounds like expected behavior per convo with @diracdeltas and @bbondy - some of the content under there is referenced, but not used in a node.js context

[2020-01-23 06:25] #7857 closed

[2020-01-23 06:35] bsclifton commented on #7846
Based on a quick search, I don't think this is something we can support. This appears to be a specific  Firefox extension?
https://weave-sync.en.uptodown.com/windows

[2020-01-23 06:35] #7846 closed

[2020-01-23 06:38] bsclifton commented on #7855
cc: @cezaraugusto

[2020-01-23 06:42] rebron commented on #5290
@karenkliu Let's see if we can move this one along. We're looking for a list exception to turn off shields for specified domains. @AdamSC1-ddg mentioned using brave://adblock Custom Filter rules. a) It's possible we keep this as an advanced user feature and use the Custom Filter rules instead of adding UI to this. cc: @yrliou

We could also go with using b) brave://settings/content and introduce S

[2020-01-23 06:43] #7851 closed

[2020-01-23 06:52] petemill opened #7883 "Branded Wallpaper Feature (desktop)"
New Feature: implement branded wallpapers

## Test plan
On https://github.com/brave/brave-core/pull/4075

[2020-01-23 06:55] petemill opened #7884 "New Tab Page Grid alignment should be more dynamic"
- Allow items to fill in gaps left by other items which are turned off
 - Allow any item to fit next to any item, even if it occupies 2 rows (e.g. Branded Wallpaper Logo item, or Rewards item)

Test plan on https://github.com/brave/brave-core/pull/4075 (Items 9 and 10)

[2020-01-23 07:05] petemill opened #7885 "New Tab Page Rewards Widget re-style"
## Description
For the New Tab Page Branded Wallpapers feature, most of the Rewards widget was re-styled. This includes colors, strings, spacing and some layout.

## Actual result:

### Pre opt-in
![image](https://user-images.githubusercontent.com/741836/72963031-f2f21300-3d6a-11ea-87aa-84ebcbba82e3.png)

### Opted in without Ads
![image](https://user-images.githubusercontent.com/741836/72963041-f

[2020-01-23 07:47] simonhong opened #7886 "Data is remained after clearing site settings"
## Description

Date is remained  after clearing site settings

## Steps to Reproduce

   1. chrome://settings/clearBrowserData
   2. In Advanced tab, check `Site Settings` with `All time` range and Clear
   3.

## Actual result:
<img width="821" alt="Screen Shot 2020-01-23 at 4 27 56 PM" src="https://user-images.githubusercontent.com/6786187/72965534-ea97e780-3dff-11ea-84f0-df5f31b9afed.png">

##

[2020-01-23 08:44] tmancey opened #7887 "Change Copy for "Allow conversion tracking" in Brave Ads "Ads Settings""
Change Copy for "Allow conversion tracking" in Brave Ads "Ads Settings" from:

<img width="640" alt="Screenshot 2020-01-23 at 08 43 22" src="https://user-images.githubusercontent.com/1188719/72968955-7c7e0100-3dbc-11ea-8b08-281678cb6929.png">

to:

Allow ad conversion detection

This will anonymously let Brave know that there was a response to an ad on this browser. Enabling this will increase ear

[2020-01-23 11:58] tmancey commented on #7867
Thanks, I have updated the description

[2020-01-23 12:14] srirambv commented on #7879
Mind editing the issue and adding details as per template. The oneline statement is very generic and doesn't help narrow down the issue

[2020-01-23 12:17] srirambv commented on #7665
This happens on desktop as well. So might need a library fix for this? cc: @NejcZdovc

[2020-01-23 12:20] srirambv commented on #7862
Closing in favour of #7882 which has more details

[2020-01-23 12:20] #7862 closed

[2020-01-23 12:21] srirambv commented on #7882
+1 from @DaniellMesquita via #7862.

@ryanml is this going to be fixed with https://github.com/brave/brave-browser/issues/7045?

[2020-01-23 12:49] #7887 closed

[2020-01-23 14:35] tmancey opened #7888 "Round-robin Brave Ads campaign advertisers to reduce the frequency of showing the same ad"
We currently round-robin Brave Ads based upon creatives (using the catalogs `creativeInstanceId` node).

To reduce the frequency of showing the same ad we should round-robin Brave Ads based upon both the advertiser (using the catalogs `advertiserId` node) and the creatives (based upon the `creativeInstanceId`).

Use cases:

- As a user, I do not want to see duplicate ads from a catalog creative un

[2020-01-23 15:52] srirambv opened #7889 "Hide rewards button doesn't work"
## Description
Hide rewards button doesn't work

## Steps to reproduce

   1. Clean install nightly build
   2. Enable hide rewards button under appearance
   3. Relaunch browser via prompt, rewards button still shows up in URL bar

## Actual result
![20-01-23-10-38-18](https://user-images.githubusercontent.com/17010094/73000099-61b48800-3dce-11ea-979e-ea293fd33ad9.gif)

## Expected result
Should

[2020-01-23 16:07] pilsnerbeer opened #7890 "Sound/Video freezes occasionally"
## Description

several times a day sound will freeze (with the "BSOD" stuttering, which makes it more annoying) and wont resume unless the website is reloaded. I noticed this happening mostly on youtube, when I'm playing music from another tab in Google Music. But I found it happening on other websites, too. - regardless if they're the only tabs playing music or not.

## Steps to Reproduce

Unsur

[2020-01-23 16:43] mkarolin opened #7891 "C80 followup: Android bookmark button"
Followup to #7255

There have been changes to the share button methods. Since we use that button for bookmarks we need to take a look if the new methods needs to be implemented for the button to function properly.
Changes are in the commit `[Android] Changes to Share button id/methods. `

cc: @SergeyZhukovsky

[2020-01-23 16:45] #7741 closed

[2020-01-23 16:47] tmancey commented on #7741
@LaurenWags Merged with 1.5, so we can test on nightly, once tested can then request an uplift to 1.3 and 1.4 (as release blocking)

[2020-01-23 16:59] srirambv commented on #7135
This is fixed on current nightly build
![image](https://user-images.githubusercontent.com/17010094/73005930-ca543280-3dd7-11ea-9a65-e89b61b624af.png)
![image](https://user-images.githubusercontent.com/17010094/73005941-ce805000-3dd7-11ea-985a-e91f9d06b783.png)

[2020-01-23 16:59] #7135 closed

[2020-01-23 17:09] emerick opened #7892 "Add developer options to Settings"
Port developer settings from browser-android-tabs. These are primarily used by QA for testing purposes.

Original browser-android-tabs PRs:

https://github.com/brave/browser-android-tabs/pull/1571
https://github.com/brave/browser-android-tabs/pull/2206

[2020-01-23 18:39] #5368 closed

[2020-01-23 19:55] GeetaSarvadnya commented on #4102
As discussed with @tmancey over the slack - there is a change in the behavior as we no longer show ads if notification are not enabled. Also, we won't get any ads when  `Focus Assist` is set to `Alarm Only`
The detailed test plan is provided in the PR - https://github.com/brave/brave-core/pull/3084

[2020-01-23 19:58] btlechowski opened #7893 "Some bookmarks are not synced in 1.5.x"
Issue is reproducible in 1.5.x. Not reproducible in 1.3.x and 1.4.x

## Steps to Reproduce

   1. Clean profile DeviceA and DeviceB
   2. DeviceA: open `interia.pl` and bookmark it
   3. DeviceA: create bookmark folder named `DeviceA`
   4. DeviceB: open `youtube.com` and bookmark it
   5. DeviceB: create bookmark folder named `DeviceB`
   6. DeviceA: create sync chain and copy code words
   7. De

[2020-01-23 20:05] gattytto commented on #7586
@bsclifton that did it, thank you very much

[2020-01-23 20:05] #7586 closed

[2020-01-23 20:28] cezaraugusto commented on #2996
@karenkliu could you please take a look at this and check what items remain missing? It would be best if we can split them into multiple smaller issues.

[2020-01-23 20:30] cezaraugusto commented on #2996
At a quick glance, it seems only full FQDN display is missing, but I can be possibly wrong.

[2020-01-23 20:36] cezaraugusto commented on #2996
FQDN was split from here a while ago https://github.com/brave/brave-browser/issues/4574. I did a new check and it does seem it's the only item left. I'm going to close this one for now but please re-open if I'm mistaken.

[2020-01-23 20:36] #2996 closed

[2020-01-23 20:37] btlechowski commented on #7893
Also reproduced with Windows 7x64 and Windows 10x64.
The same bookmarks are missing: `interia.pl` on DeviceB and `youtube.com` on DeviceA.

DeviceA:

Brave | 1.5.53 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1909

DeviceB:

Brave | 1.5.53 Chromium: 79.0.3945.130 (Off

[2020-01-23 20:45] AlexeyBarabash commented on #7686
Cannot reproduce both on GPS version or my local master build.

[2020-01-23 20:45] AlexeyBarabash commented on #7624
Cannot reproduce both on GPS version or on my local master build.

[2020-01-23 20:56] rebron commented on #226
Still need a decision here whether we need to hide general browser cookie pref in favor of shields pref due to conflicts. Label has changed over time and now reads 'Allow sites to save and read cookie data (recommended).

![Screen Shot 2020-01-23 at 12 55 00 PM](https://user-images.githubusercontent.com/5951041/73023048-967d0b00-3ddf-11ea-8024-01ec1f63dc70.png)

[2020-01-23 21:05] AlexeyBarabash commented on #7686
Tried on both my phones. Probably I cannot reproduce  because of other region of ads being blocked.
So @kjozwiak could you please try it when we will have a new build. Maybe https://github.com/brave/brave-core/pull/4418 will help.

[2020-01-23 21:05] #4872 closed

[2020-01-23 21:06] AlexeyBarabash commented on #7624
Same message as https://github.com/brave/brave-browser/issues/7686#issuecomment-577876386 @kjozwiak
[code]

[2020-01-23 21:18] AlexeyBarabash commented on #7893
Thanks @btlechowski . I can confirm I am able to reproduce it.

[2020-01-23 21:32] #7842 closed

[2020-01-23 21:40] yrliou commented on #7841
Note that it is working on arm builds but not arm64 builds at the moment. https://github.com/brave/brave-core/pull/4419 will fix the arm64 case.

[2020-01-23 22:24] #7841 closed

[2020-01-23 22:47] LaurenWags commented on #7836
Retested on Nightly after https://github.com/brave/brave-core/pull/4372 and https://github.com/brave/brave-core/pull/4399 were merged. Could not reproduce. Moving to 1.3.x milestone so this can be retested on 1.3.x after those PRs are uplifted. Adding `QA/Blocked` label until they are uplifted.

Brave | 1.5.53 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c287

[2020-01-23 22:47] #7836 closed

[2020-01-23 22:57] LaurenWags commented on #7833
Reproduced when going from 0.63.55 --> 1.5.53 (Nightly)

Brave | 1.5.53 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

Per @tmancey note https://github.com/brave/brave-browser/issues/7833#issuecomment-576617941 that this will occur for any upgrade before

[2020-01-23 23:04] LaurenWags commented on #7526
Retested on Nightly extensively while checking https://github.com/brave/brave-core/pull/4399#issuecomment-577823383 and https://github.com/brave/brave-core/pull/4372#issuecomment-577908068 and could not reproduce. Moving to 1.3.x milestone to be retested after these PRs are uplifted. Adding `QA/Blocked` label for now as well.

Brave | 1.5.53 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit

[2020-01-23 23:11] #7526 closed

[2020-01-23 23:40] cezaraugusto commented on #2514
cc @AlexeyBarabas related to https://github.com/brave/brave-browser/issues/7854

[2020-01-23 23:41] cezaraugusto commented on #2514
cc @AlexeyBarabash related to https://github.com/brave/brave-browser/issues/7854

[2020-01-23 23:46] rebron commented on #6562
Closing as invalid and stale.

Current onboarding flow is intro, import, p3a notification, search engine settings, and rewards.
We'll create separate issues if there's new thinking around onboarding.

[2020-01-23 23:46] #6562 closed

[2020-01-24 00:10] Wolfenstein98k commented on #7400
Using latest mobile Brave (1.7.0), confirmed as still a bug.

[2020-01-24 00:13] ryanbr commented on #7400
Have been testing this, seems to be a limitation in Chrome. Having the same issue with uBo+Chrome.. Firefox+uBo seems to be okay

[2020-01-24 01:34] rivy commented on #4102
Too bad, that's unfriendly behavior for a lot of early adopters and advocates.
But it's your circus.

[2020-01-24 01:40] ryanbr opened #7895 "Unclickable links on https://www.elconfidencial.com/"
## Description
Visiting `https://www.elconfidencial.com/` clicking on any links on the site is non-functional.

## Steps to Reproduce

   1.  Visit: `https://www.elconfidencial.com/`
   2.  (Wait for cookie message at the bottom)
   3. Click on any links with Shields enabled

## Actual result:
Doesn't open links

## Expected result:
Should open links.

## Reproduces how often:
With site-trackers e

[2020-01-24 02:45] #7863 closed

[2020-01-24 03:09] ryanbr commented on #7895
Update: This issue seems to be a cookie consent issue.  blocking the cookie script will make links clickable. But also prevents comments.

`elconfidencial.com/javascript/v2/class/requireModules/cookieConsent/CookieConsent.js`

[2020-01-24 03:41] stgarf commented on #3642
I like this support added to Brave to continue using Brave at work since we've switched to Okta Verify with Touch ID for authentication. This works correctly in Chrome.

[2020-01-24 04:00] Wolfenstein98k commented on #7400
Thanks ^

In the context of mobile - I've tested this with Firefox, with uBlock Origin installed as mobile add-on, and the ads are blocked. There also appears to be no WW redirect.

But with Brave, same mobile and connection, the WW redirect is forced every time and the ads show every time. Definitely a Brave issue.

[2020-01-24 05:37] #6869 closed

[2020-01-24 05:38] GeetaSarvadnya commented on #3651
Verification is in progress

Brave | 1.3.99 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/3084
**Clean profile:**
   - Ensured ad notifications are not shown on windows when `Fo

[2020-01-24 06:32] #7861 closed

[2020-01-24 07:41] vindberg commented on #354
Please add this to the backlog for the next release! Its important for further adoption of the browser ASAP!!!

[2020-01-24 07:59] ShihChinYang opened #7896 "Error in building Brave Release for Mac - /v8_context_snapshot_generator failed with exit code -5"
Hi,
I was able to build Brave for Mac with Component build. But when I tried to build for Release. It failed with following error

[1/427] ACTION //tools/v8_context_snapshot:gener...ontext_snapshot(//build/toolchain/mac:clang_x64)
FAILED: v8_context_snapshot.bin
python ../../build/gn_run_binary.py ./v8_context_snapshot_generator --output_file=v8_context_snapshot.bin
./v8_context_snapshot_generator

[2020-01-24 10:02] masparrow opened #7897 "Handle 'UNKNOWN' enum types for RewardsType/PromotionTypes/PromotionStatus"
Parsing the server feed could result in an unrecognised enum value for these types, resulting in UNKNOWN, so code using these has to be aware of this value and handle it appropriately.

Check all usage and modify the code to handle UNKNOWN as required.

[2020-01-24 10:22] ryanbr commented on #7400
Possibly more movement, a new filter suggested:

`9to5google.com,9to5mac.com,9to5toys.com,dronedj.com,electrek.co,marketrealist.com##+js(set, String.prototype.charCodeAt, trueFunc)`

https://www.reddit.com/r/uBlockOrigin/comments/el4ng5/ads_on_9to5googlecom/ffek56d/

I'll see how this works for us, if it doesn't I'll logged a issue report.

[2020-01-24 10:29] ryanbr commented on #7400
We need to support `##+js(set,...)` to fix this site.

[2020-01-24 11:06] GeetaSarvadnya commented on #4102
Verification passed on

Brave | 1.3.100 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from brave/brave-core#3084
-  Verified we no longer see any ads if `Focus Assist` is set to `Alarm Only` https://github.com/brave/brave-b

[2020-01-24 15:15] Brave-Matt commented on #6291
+1 https://github.com/brave/brave-browser/issues/6291

[2020-01-24 15:46] wknapik opened #7899 "Tor ERR_PROXY_CONNECTION_FAILED when network devices change on Linux"
## Description
I use Brave on a laptop at home and at work. At home, I use a VPN, at work, I don't. While the non-Tor windows keep working, the Tor window eventually stops working and all tabs in that window report ERR_PROXY_CONNECTION_FAILED on reload. There appears to be no obvious trigger for the breakage, at some random point it just stops working.

Initially, I thought maybe switching between

[2020-01-24 16:01] wknapik commented on #7899
I'm not seeing the same problem with the Tor Browser.

[2020-01-24 16:10] bsclifton commented on #7899
cc: @riastradh-brave

[2020-01-24 16:30] LaurenWags commented on #7833
Could not reproduce with 1.2.x. Steps:
1. Install 0.63.55 (Release)
2. Enable Rewards, trigger an Ad
3. Upgrade using brave://settings/help to 1.2.43
4. Relaunch
5. Navigate to brave://rewards
---> no issues on brave://rewards page. Ads panel is displayed as expected, nothing is toggled off, no error messages.

0.63.55 Before upgrading to 1.2.43:
<img width="1195" alt="0 63 55-before upgrade to 1

[2020-01-24 16:40] shortstuffsushi opened #7900 "Removed Profile Returning"
## Description
At some point a while back, a second profile appeared when I opened my Brave browser. It isn't one that I added, and I'm not sure what would have caused it. I noticed because suddenly I had the little profile icon both on the application icon and right of my url bar. I didn't want this, so I removed the profile... seemed to work, the additional profile stuff was removed and the UI w

[2020-01-24 16:59] rebron commented on #7039
Hi @georgiamoon, Can you try again with an updated version of Brave? 0.70.122 is a bit old, current version is 1.2.43.

[2020-01-24 17:05] rebron commented on #7063
<img width="953" alt="Screen Shot 2020-01-24 at 9 02 59 AM" src="https://user-images.githubusercontent.com/5951041/73088053-5a51b500-3e88-11ea-8cce-5c087b5c22f7.png">
@mvxxx Do you have some script blocking settings turned on?

[2020-01-24 17:09] rebron commented on #7075
Closing. We're noting your feedback. Please follow the new issue template. We need much more detail to be able to address this issue.

[2020-01-24 17:09] #7075 closed

[2020-01-24 17:15] rebron commented on #7103
Closing. Dupe of #5997

[2020-01-24 17:15] #7103 closed

[2020-01-24 17:18] btlechowski commented on #7840
This issue is not reproducible on 1.5.57 on Windows 7 x64 and Windows 10 x64

![image](https://user-images.githubusercontent.com/34715963/73086088-374af380-3ed0-11ea-83dd-b3d107a822f2.png)

Brave | 1.5.57 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.2454

[2020-01-24 17:18] #7840 closed

[2020-01-24 17:21] rebron commented on #7081
@simonhong Is this one still needed? or a dupe?

[2020-01-24 17:23] rebron commented on #7084
@pilsnerbeer Is this still happening with a latest version? we're on 1.2.43. Are your drivers the latest version?

[2020-01-24 17:27] rebron commented on #6905
Closing. Complaint for this issue has been fixed latest chromium 79 update. Sync related is tracked with a different ticket.

[2020-01-24 17:27] #6905 closed

[2020-01-24 17:31] srirambv commented on #7842
- Verification passed on OnePlus 6T with Android 10
![image](https://user-images.githubusercontent.com/17010094/73089586-9430b480-3ea4-11ea-852a-4d1f9c15c52b.png)
- Verification passed on Samsung Tab A
![image](https://user-images.githubusercontent.com/17010094/73089998-70ba3980-3ea5-11ea-85a6-7da74d26a058.png)

[2020-01-24 17:35] btlechowski commented on #7635
Not reproducible on 1.5.57 on Windows 7 x64 and Windows 10 x64

![image](https://user-images.githubusercontent.com/34715963/73090204-2c945c80-3ed8-11ea-922a-11efab0b4010.png)
![image](https://user-images.githubusercontent.com/34715963/73090218-3c13a580-3ed8-11ea-838f-360e02e5b196.png)

Brave | 1.5.57 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7

[2020-01-24 17:35] #7635 closed

[2020-01-24 17:36] rebron commented on #7053
@pilsnerbeer Is reproducible in Chrome? D you have an example video or site where you can give us a pointer where this is and isn't working?

[2020-01-24 17:38] srirambv commented on #7841
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified clean install doesn't show splash screen and start onboarding right away
- Verified updating from older version doesn't show splash screen as well
------
Verification passed on Samsung Tab A with Android 9 running 1.5.57 x64 nightly build
- Verified clean install doesn't show splash screen and start onboa

[2020-01-24 17:42] rebron commented on #7119
Closing wontfix. We shared with the team and this isn't a design direction we're going to go with for tab UI/UE.

[2020-01-24 17:42] #7119 closed

[2020-01-24 17:42] srirambv commented on #7810
Verification passed on OnePus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified no crash when settings is opened
------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.57 x64 nightly build
- Verified no crash when settings is opened

[2020-01-24 17:45] pilsnerbeer commented on #7053
I can't say as I dont use Chrome. It is currently happening on the newest Brave version and the issue can be observed in all HTML5 videos - https://www.w3schools.com/html/html5_video.asp ; select menu->picture-in-picture and try resizing the frame.

[2020-01-24 17:48] rebron commented on #7149
cc: @srirambv

[2020-01-24 17:52] wknapik commented on #7899
I should probably add, that closing the Tor window and starting a new one does not solve the problem. The entire browser needs to be closed and started again for Tor to resume working correctly.

[2020-01-24 17:55] rebron commented on #7187
cc: @antonok-edm Can you take a look?

[2020-01-24 17:57] #6642 closed

[2020-01-24 17:57] srirambv commented on #7589
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 build
- Verified About Brave has an entry for Legal Information
- Verified tapping on `Legal information` shows 4 nested entries
- Verified `Open source licenses` link to `chrome://credits`
- Verified `Brave Terms of Service` links to `brave.com/terms_of_use`
- Verified `Brave Privacy Notice` links to `brave.com/privacy_android`

[2020-01-24 17:59] rebron commented on #7200
cc: @tomlowenthal Can you help with the labelling and triaging of this one?

[2020-01-24 18:01] srirambv commented on #7587
- Verification passed on OnePlus T with Android 10 running 1.5.57 x64 nightly build
![image](https://user-images.githubusercontent.com/17010094/73091956-95181500-3ea9-11ea-96a7-aad2e8ddec8e.png)

- Verification passed on Samsung Tab A with Android 9.0 running 1.5.57 x64 nightly build
![image](https://user-images.githubusercontent.com/17010094/73091986-abbe6c00-3ea9-11ea-8c2b-60f79f623923.png)

[2020-01-24 18:04] srirambv commented on #7576
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified private tab uses Brave theme and private tab icon
-----
Verification passed on Samsung Tab A with Android 9 running 1.5.57 x64 nightly build
- Verified private tab uses Brave theme and private tab icon

[2020-01-24 18:08] tmancey opened #7901 "Ad conversion detection switch is not selectable on Android"
## Description
"Allow ad conversion detection" switch is not selectable on Android

## Steps to reproduce

   1. Launch browser
   2. Navigate to Ads Settings
   3. Toggle "Allow ad conversion detection" checkbox

## Actual result
"Allow ad conversion detection" switch is not selectable on Android

## Expected result
"Allow ad conversion detection" switch should be selectable on Android

## Issue

[2020-01-24 18:09] srirambv commented on #7570
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 build
- Verified panel shows values correctly
![image](https://user-images.githubusercontent.com/17010094/73092366-7c5c2f00-3eaa-11ea-9eb6-ce4cbc533d4c.png)
------
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 build
- Verified panel shows values correctly
![image](https://user-images.githubusercontent.com/1

[2020-01-24 18:14] srirambv commented on #7549
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified no `Sync and Brave Software services` under privacy
![image](https://user-images.githubusercontent.com/17010094/73092874-6c911a80-3eab-11ea-8e33-4c0d5ed2792e.png)

------
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified no `Sync and Brave Software services` und

[2020-01-24 18:21] #6381 closed

[2020-01-24 18:38] srirambv commented on #7545
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified clicking on help button on settings sheet opens community home page
------
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified clicking on help button on settings sheet opens community home page
------

[2020-01-24 18:56] srirambv opened #7902 "Fingerprint protection is enabled by default in shields but disabled globally"
## Description
Fingerprint protection is enabled by default in shields but disabled globally. Found while testing  #6639 using test plan from https://github.com/brave/brave-core/pull/4052

## Steps to reproduce

   1. Clean install 1.5.57
   2. Visit any page in a new tab
   3. Open shields, fingerprint is enabled by default but disabled in global settings

## Actual result
![fp](https://user-imag

[2020-01-24 19:11] srirambv opened #7903 "Shields settings are not retained during upgrade"
## Description
Found while testing #6639. Shields settings are not retained as expected

## Steps to reproduce

   1. Install an older nightly build (1.5.46)
   2. Visit google.com and enable all shields settings
   3. Visit yahoo.com in a second tab and disable all shields settings
   4. Upgrade to 1.5.57 nightly build
   5. google.com has all shields settings reset to default
   6. yahoo.com has

[2020-01-24 19:12] srirambv commented on #6639
Marking as QA/No. Follow up issues #7902 &  #7903 are marked for release

[2020-01-24 19:17] srirambv commented on #4840
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified typing a single character bring up suggestions from Alexa top 500 sites
- Verified typing a word doesn't bring up any search suggesions
--------
Verification passed on Samsung Tab A with Android 9 running 1.5.57 x64 nightly build
- Verified typing a single character bring up suggestions from Alexa top 500

[2020-01-24 19:20] pilsnerbeer commented on #7890
I have now switched browsers to try and see if I can replicate the issue there - perhaps its a system issue and the problem is elsewhere.
It seems the issue is easiest reproduced when, as mentioned, playing video or audio stream simultaneously on two tabs - Gmusic, youtube, twitter videos, whatever it is. Sooner or later, the issue  will appear.

I have noticed this error popping out on Youtube wh

[2020-01-24 19:32] srirambv commented on #7096
Verification passed on OnePlus 6T with Android 10 x64 build
- Verified there is no check box for rewards
- Verified `Turn on` button is shown for rewards onboarding screen
- Verified `ToS` links to Brave Rewards TOS on `basicattentiontoken.org/user-terms-of-service/`
![image](https://user-images.githubusercontent.com/17010094/73097858-2a210b00-3eb6-11ea-8e62-d7184502a0c4.png)

-------
Verification

[2020-01-24 19:35] srirambv commented on #7136
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified no Chromium top tiles are shown on clean install
-----
Verification passed on Samsung Tab A with Android 9 running 1.5.57 x64 nightly build
- Verified no Chromium top tiles are shown on clean install
-----

[2020-01-24 19:39] srirambv commented on #7544
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 build
- Verified ToS links to `https://brave.com/terms_of_use`
- Verified Privacy Policy links to `https://brave.com/privacy_android`
------
Verification passed on Samsung Tab A with Android 10 running 1.5.57 x64 build
- Verified ToS links to `https://brave.com/terms_of_use`
- Verified Privacy Policy links to `https://brave.com/p

[2020-01-24 19:45] srirambv commented on #7543
Verification passed on OnePlus 6T with Android 10 running x64 build
- Verified stats visible on light theme
![image](https://user-images.githubusercontent.com/17010094/73098778-1080c300-3eb8-11ea-8641-f156172ecca5.png)
- Verified stats visible on dark theme
![image](https://user-images.githubusercontent.com/17010094/73098790-15457700-3eb8-11ea-8c17-533d1c69f39b.png)
--------
Verification passed on

[2020-01-24 19:46] diracdeltas opened #7904 "[android only] Brave connects to Google to see if a progressive web app is installable"
cross-posted from https://github.com/brave/browser-android-tabs/issues/2479:

according to @slightlyoff, Brave Android is pinging a Google backend when the user visits a PWA website like https://squoosh.app/ to see if it is installable. this should be checked on Android Core and the connection to Google should be blocked/proxied if it occurs.

[2020-01-24 19:48] srirambv opened #7905 "Onboarding is launched when theme is changed"
## Description
Onboarding is launched when theme is changed

## Steps to reproduce

   1. Clean install 1.5.57
   2. Visit a few sites in a few tabs
   3. Change default theme from dark to light
   4. Onboarding is launched the moment theme is changed

## Actual result
Onboarding is launched when theme is changed

## Expected result
Onboarding should not be launched when theme is changed

## Issue

[2020-01-24 19:58] rebron commented on #7890
@pilsnerbeer Are you seeing the autoplay blocked icon in the url bar? Could be something else though. Let us know if it's also reproducible in Chrome and if you have example videos/sites where we can reproduce the issue you're seeing.

[2020-01-24 20:04] Nuc1eoN commented on #6905
@rebron My issue is sync related.

[2020-01-24 20:18] srirambv opened #7906 "Missing accessibility labels for Android Tablet"
## Description
Android Tablet doesn't have accessibility labels for Rewards and Shields

## Steps to reproduce

   1. Long press on Rewards/Shields
   2. No accessibility labels are shown

## Actual result
Missing accessibility labels for Android Tablet

## Expected result
Should show accessibility labels

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? No

[2020-01-24 20:19] pilsnerbeer commented on #7890
No, I dont think this is the cause of the problem.

I dont use Chrome but I have been trying Firefox for a few hours and nothing so far.

Example of when you can come across the issue (must be patient, happens several times an hour):
- Youtube video playing on one tab + browsing Twitter feed and playing a video. As soon as its played (on Twitter), Youtube will freeze.
- Google Music + Youtube ; my

[2020-01-24 20:21] srirambv opened #7907 "Incorrect accessibility label for Home button on Tablet"
## Description
Incorrect accessibility label for Home button on Tablet

## Steps to reproduce

   1. Install 1.5.57
   2. Long press on home button

## Actual result
![image](https://user-images.githubusercontent.com/17010094/73100769-3d36d980-3ebc-11ea-8e75-e08d89f2ea53.png)

## Expected result
![image](https://user-images.githubusercontent.com/17010094/73101120-03b29e00-3ebd-11ea-996d-a7867849db

[2020-01-24 20:21] srirambv commented on #7215
Verification passed on OnePlus 6T with Android 10 running 1.5.57 x64 nightly build
- Verified accessibility labels are shown for all items on toolbar
- Shields
![image](https://user-images.githubusercontent.com/17010094/73100488-a23dff80-3ebb-11ea-8a72-1fdffe52c5c3.png)
- Rewards
![image](https://user-images.githubusercontent.com/17010094/73100457-94887a00-3ebb-11ea-8575-d9aae5a96749.png)
- Home
!

[2020-01-24 20:26] SergeyZhukovsky opened #7908 "Investigate why core based apks are bigger comparing to tabs apks"
Check that https://github.com/brave/brave-browser/releases/tag/v1.5.58b vs https://github.com/brave/browser-android-tabs/releases/tag/v1.5.3-rc.1
The easiest way to do that is to unzip apks and check which files are bigger.

[2020-01-24 20:38] srirambv opened #7910 "Tab overview some times switches to grid layout"
## Description
Tab overview some times switches to grid layout

## Steps to reproduce (Not 100% sure)

   1. Install older beta build
   2. Visit a few sites and change shield settings on a few of them
   3. Upgrade to new version 1.5.58
   4. Open a new private tab from menu
   5. Switch to tabs overview shows grid layout

## Actual result
![image](https://user-images.githubusercontent.com/170100

[2020-01-24 21:05] srirambv commented on #4777
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 beta build
- Verified Ads is enabled when rewards is enabled via onboarding
![image](https://user-images.githubusercontent.com/17010094/73103310-c7ce0780-3ec1-11ea-9162-9f5dc3f4471a.png)
- Verified able to set ads per hour setting
![image](https://user-images.githubusercontent.com/17010094/73103250-abca6600-3ec1-11ea-873c-0e7ddf4

[2020-01-24 21:05] LaurenWags opened #7911 "Brave Rewards is available on x86 Android devices - follow up to 7577"
## Description
Follow up to #7577

After installing 1.5.58, the Brave Rewards icon was available. I am able to join BR thru the panel. I should not be able to see the BR icon.

Additionally, if I navigate to chrome://rewards page the page cannot be accessed and Rewards is not available in settings. (both of these are expected since Rewards should not be available on x86 devices)

## Steps to repro

[2020-01-24 21:08] LaurenWags commented on #7577
Verified on Asus Zenfone (x86) with Android 6.0 running 1.5.58 BraveModernx86.apk
   - Logged follow up issue #7911 since BR is available

[2020-01-24 21:11] srirambv commented on #6849
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 beta build
- Verified toast message is shown to try again later
![image](https://user-images.githubusercontent.com/17010094/73104319-26948080-3ec4-11ea-8442-9af5421d2f11.png)
- Verified rewards button isn't removed from URL bar
- Verified able to join rewards once network is available
------
Verification passed on Samsung Tab A w

[2020-01-24 21:38] kjozwiak commented on #7713
Both https://github.com/brave/brave-core/pull/4409 and https://github.com/brave/brave-core/pull/4410 and have been uplifted. This should be available for QA in the next build.

[2020-01-24 21:38] georgiamoon commented on #7039
I was reporting this for someone else, so I'd need to try to retest or
reach out to them. I can reach out but seems from your screenshot like it's
fixed!

[2020-01-24 21:44] rebron commented on #7039
@georgiamoon Could be a font issue or a gpu issue on their end? Would need to know more if it's still an issue.

[2020-01-24 21:51] srirambv commented on #7110
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified steps from issue description and value didn't change
- Verified restarting via hamburger menu didn't reset USD to 0
- Verified removing app from memory and relaunching doesn't reset USD to 0
-------
Verification passed on Samsung Tab A with Android 9.0 running 1.5.58 x64 build
- Verified steps from issue descript

[2020-01-24 21:57] #7911 closed

[2020-01-24 21:58] srirambv opened #7912 "Tips panel isn't auto updated with one time tips list"
## Description
Tips panel isn't auto updated with one time tips list. Follow up to #7106

## Steps to reproduce

   1. Install 1.5.58 beta build
   2. Fund wallet and send an one time tip toa  verified publisher
   3. Open rewards page, tips panel is empty
   4. Switch back to a different tab and come back to rewards page shows the tip

## Actual result
![image](https://user-images.githubuserconte

[2020-01-24 21:59] srirambv commented on #7106
This issue is still reproducible. Logged #7912  as a follow up issue. Marking this as qa/no and moving out of milestone

[2020-01-24 22:01] Mitsunee commented on #7397
update: I keep having to repeat the workaround after every new update and/or reboot, which is especially annoying because I have to reboot a lot due to a problem with the nvidia drivers...

[2020-01-24 22:02] LaurenWags opened #7913 "chrome:// pages don't work on x86"
## Description
Found while testing https://github.com/brave/brave-browser/issues/7589

chrome:// pages don't work on x86. Tried the following:
chrome://flags
chrome://about
chrome://credits

## Steps to reproduce

   1. Navigate to one of the above pages
   2. Or retest https://github.com/brave/brave-browser/issues/7587
   3.

## Actual result
![Screenshot_20200124-165943](https://user-images.gith

[2020-01-24 22:03] srirambv commented on #7109
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified `Your Wallet` is consistently used in Panel/Wallet summary and Rewards page
![image](https://user-images.githubusercontent.com/17010094/73107281-6d39a900-3ecb-11ea-84b4-ae5edee539be.png)

-----
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified `Your Wallet` is consistently used

[2020-01-24 22:12] srirambv commented on #7111
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified favicon is listed for verified publishers
- Verified favicon is listed for non-verified publishers
- Verified favicon is listed for verified YT publishers
- Verified generic favicon is listed for sites without favicon
![image](https://user-images.githubusercontent.com/17010094/73107745-a1619980-3ecc-11ea-913b-164

[2020-01-24 22:14] srirambv commented on #7113
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified individual platform can be unchecked
![image](https://user-images.githubusercontent.com/17010094/73107897-f8676e80-3ecc-11ea-8ae2-e0eca26efbf0.png)

-------
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified individual platform can be unchecked
![image](https://user-images.githu

[2020-01-24 22:21] srirambv commented on #7572
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified Ads is enabled for supported region when enabled via rewards panel
- Verified Ads is enabled for supported region when enabled via rewards page
- Verified Ads is enabled for supported region when enabled via onboarding
-------
Verification passed on Samsung Tab A with Android 9 running 1.5.58 x64 build
- Verified

[2020-01-24 22:22] srirambv commented on #7139
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified Ads is enabled for supported region when enabled via rewards panel
- Verified Ads is enabled for supported region when enabled via rewards page
- Verified Ads is enabled for supported region when enabled via onboarding
-------
Verification passed on Samsung Tab A with Android 9 running 1.5.58 x64 build
- Verified

[2020-01-24 22:23] srirambv commented on #7657
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified tipping a verified publisher isn't causing the browser to crash
------
Verification passed on Samsung Tab A with Android 9 running 1.5.58 x64 build
- Verified tipping a verified publisher isn't causing the browser to crash

[2020-01-24 22:27] tmancey commented on #7873
@srirambv Duplicate of https://github.com/brave/brave-browser/issues/7901, if you could check and close this issue that would be great. thanks

[2020-01-24 22:30] srirambv commented on #7873
Issue is marked for 1.5.x desktop milestone. If #7901 is only for Android then we can close this one as dupe.  If its applicable to desktop as well then better to keep this issue separate for desktop and Android.

[2020-01-24 22:34] kjozwiak commented on #6504
Removing `QA/Blocked` as both https://github.com/brave/brave-core/pull/4407 & https://github.com/brave/brave-core/pull/4408 have been merged. Once a new `1.3.x` build is created, QA should be able to run through this issue.

[2020-01-24 22:35] kjozwiak commented on #6552
Removing `QA/Blocked` as both https://github.com/brave/brave-core/pull/4407 & https://github.com/brave/brave-core/pull/4408 have been merged. Once we get a new `1.3.x` build that's `> 1.3.100`, QA should be able to verify this issue.

[2020-01-24 22:36] kjozwiak commented on #7251
Removing `QA/Blocked` as both https://github.com/brave/brave-core/pull/4407 & https://github.com/brave/brave-core/pull/4408 have been merged. Once we get a new `1.3.x` build that's `> 1.3.100`, QA should be able to verify this issue.

[2020-01-24 22:36] srirambv commented on #7873
Closing as dupe of #7901 after discussing with @tmancey

[2020-01-24 22:36] #7873 closed

[2020-01-24 22:45] srirambv commented on #7107
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified panel and wallet summay shows correct wallet balance
- Verified tipping a publisher still shows balance on both panel and wallet summary on rewards page
![image](https://user-images.githubusercontent.com/17010094/73109494-3feff980-3ed1-11ea-8ec7-68dcd5c2d416.png)

------
Verification passed on Samsung Tab A with

[2020-01-24 23:02] srirambv commented on #7114
Verification passed on Samsung Tab A with Android 9.0 running 1.5.58 x64 build
- Verified excluding a side, shows `Show all` button below the ac list
![image](https://user-images.githubusercontent.com/17010094/73110253-b130ac00-3ed3-11ea-812c-546e3289a414.png)

------
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified excluding a side, shows `Show all` button bel

[2020-01-24 23:09] srirambv commented on #7112
Verification passed on OnePlus 6T with Android 10 running 1.5.58 x64 build
- Verified excluded publisher can be readded back when include is enabled via panel
-----------
Verification passed on Samsung Tab A with Android 9 running 1.5.58 x64 build
- Verified excluded publisher can be readded back when include is enabled via panel
-----------

[2020-01-24 23:44] tmancey commented on #6447
@LaurenWags Can you please retest this on the latest nightly build

[2020-01-24 23:47] tmancey commented on #6870
Closing issue as fixed as part of https://github.com/brave/brave-browser/issues/6757

[2020-01-24 23:47] #6870 closed

[2020-01-25 00:03] srirambv commented on #6813
Skipping this after discussing with @bbondy  and @SergeyZhukovsky. Catalog is pretty limited and unable to crate wallet on staging so needs to be tested again for release.

[2020-01-25 00:03] #7892 closed

[2020-01-25 00:46] LaurenWags commented on #7911
Verification passed on Asus Zenfone (x86) with Android 6.0 running 1.5.58
   - Verified no BR icon on install
   - No Rewards item in 3 dots menu
   - No Rewards item in Settings menu

[2020-01-25 01:55] kjozwiak commented on #7741
Removing `QA/Blocked` as both https://github.com/brave/brave-core/pull/4393 and https://github.com/brave/brave-core/pull/4394 have been merged. Once we get a new `1.3.x` build that's `> 1.3.100`, QA should be able to verify this issue.

[2020-01-25 01:56] yrliou commented on #7889
This one is fixed by https://github.com/brave/brave-core/pull/4429 too, closing. cc @SergeyZhukovsky

[2020-01-25 01:56] #7889 closed

[2020-01-25 02:12] yrliou commented on #7839
I'm not able to reproduce this from my end in arm or arm64 builds.

[2020-01-25 02:25] yrliou commented on #7905
I'm not able to reproduce it on 1.5.59 cc @srirambv to see if there are more details to those steps or a video could be shared for me to follow, thanks.

[2020-01-25 07:37] sangorys opened #7914 "Brave cannot start"
## Description
brave-browser cannot start. Error during launching it

## Steps to Reproduce
   1. run brave in a terminal : brave-browser

## Actual result:
/usr/bin/brave-browser : ligne 48 : 31491 Trappe pour point d'arrêt et de trace              (core dumped) "$HERE/brave" "$@"

then it stops

## Expected result:
brave application is running

## Reproduces how often:
Always

## Brave version (

[2020-01-25 07:58] mpaluta commented on #3296
I am running Mint, WIndows, and iOS. `Version 1.3.99 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)`

I'm watching it happen before my eyes on Windows currently. I delete a bookmark from my Bookmarks Bar. It will stay that way for ~30-40 seconds, then reappear. Then if I delete it again, the process repeats. I've reproduced this about 5 times now over a few minutes. I suspect sync keeps ru

[2020-01-25 08:24] darkdh commented on #3296
@mpaluta can you go to `brave://inspect/#extensions` and then inspect `Brave Sync` extension?
These should be some evidence resides in console log

[2020-01-25 12:17] srirambv opened #7915 "Hide Rewards button doesn't trigger relaunch prompt [Follow up to #7889]"
## Description
Hide Rewards button doesn't trigger relaunch prompt. Follow up to #7889

## Steps to reproduce

   1. Install Beta from GPS
   2. Skip onboarding and disable rewards button under appearance
   3. No relaunch prompt, button is still shown until manually relaunching the browser

## Actual result
![tablet](https://user-images.githubusercontent.com/17010094/73120952-9ea18b80-3f42-11ea-9

[2020-01-25 12:17] srirambv commented on #7889
Verification passed on OnePlus 6T with Android 10 running 1.5.59 x64 build
- Hide rewards button removes the button after relaunch
-----
Logged issue for tablet https://github.com/brave/brave-browser/issues/7915

[2020-01-25 12:22] srirambv opened #7916 "Replace Chromium icons on URL bar with Brave icons"
## Description
Replace Chromium icons on URL bar with Brave icons

## Actual result
![image](https://user-images.githubusercontent.com/17010094/73121001-5171e980-3f43-11ea-9e0b-42e718b9af78.png)

## Expected result
![image](https://user-images.githubusercontent.com/17010094/73121008-65b5e680-3f43-11ea-929a-6f64dd5572e5.png)

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play

[2020-01-25 12:57] groovinfingers commented on #2493
I don't use Brave anymore.  Nonetheless, thanks for addressing @ryanbr

[2020-01-25 12:58] srirambv commented on #7839
@yrliou could be arm64 specific

[2020-01-25 13:41] srirambv opened #7917 "Ad notification shows up even when Brave-Beta is not running"
## Description
Ad notification shows up even when Brave-Beta is not running

## Steps to reproduce

   1. Run brave and remove from memory
   2. Ads show up even when app is removed from memory

## Actual result
Ad notification showed up on device even when Brave-Beta wasn't running in background

## Expected result
Should not show ad notification if app isn't running

## Issue reproduces how ofte

[2020-01-25 13:41] srirambv commented on #7917
Adding `feature/rewards` label as its related to ads and issue added to `Android-Core` project board

[2020-01-25 18:05] SumatraPeter commented on #1002
So, will this ever be implemented?

[2020-01-25 19:42] mpaluta commented on #3296
@darkdh yep, I see a bunch of these:
`Record with CRC 23LfR3 is missing parts or corrupt.`

Huh, the device name it is running `get-existing-objects` and `resolve-sync-records` is the _old_ device name for my iPhone. My best guess as to what is happening is that when I delete bookmarks from desktop, those deletions don't get synced over to my (old?) phone. Instead, at unpredictable intervals, sync

[2020-01-25 21:10] bmatzner commented on #7688
@kjozwiak Have been using Brave with Rewards disabled for a few days, and I'm afraid the issue is still there. After a while, in a new tab, when entering text, the beach ball appears.

[2020-01-25 22:49] jaredready commented on #7639
Chiming in as another Chrome convert to say that the removal of Other Bookmarks is really annoying and does not feel well thought out.

I won't pretend to understand the complexities behind bookmark syncing, but I have to say that every browser out there handles it better than Brave does right now. Even extensions developed by single developers handle it better.

If I were involved in the developm

[2020-01-26 02:20] anselmobattisti commented on #7735
I'm with the same problem!

[2020-01-26 03:24] ryanbr commented on #2493
Closing, thanks for the report and responding. Issue seems to be resolved :)

[2020-01-26 03:24] #2493 closed

[2020-01-26 03:30] ryanbr commented on #5759
Closing this, seem fine here. We're blocking it at network level.

[2020-01-26 03:30] #5759 closed

[2020-01-26 04:46] thefirstofthe300 commented on #6557
I am trying out Brave for the first time and ran into this issue as well.

In settings under Shields, I set "Cookies" to "Allow all cookies" and Bitwarden was then able to autofill fields.

[2020-01-26 06:29] kjozwiak commented on #7914
@sangorys which source did you use to download Brave?

[2020-01-26 08:45] sangorys commented on #7914
I installed it with that (and I install all variant dev/nightly/... with the same issue) :

sudo apt install apt-transport-https curl

curl -s https://brave-browser-apt-release.s3.brave.com/brave-core.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-release.gpg add -

echo "deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main" | sudo tee /etc/apt/sources.li

[2020-01-26 12:36] chkk525 commented on #5713
seems okay now @ryanbr

[2020-01-26 12:47] srirambv opened #7918 "Tracking issue for browser crash on Android-Beta"
## Description
Browser crashes for the following sites

- [x] RST.ua (#7925)
- [x] http://android.mobile-review.com/articles/63573/ (#7926)
- [x] https://epaper.livemint.com (Nasty crashing not able to reuse browser again) (#7927)
- [x] Android play store crash in toolbar (#7931)
- [x] Android play console crash in rewards (#7929)
- [x] Android play store crash in sync (#7932)

[2020-01-26 19:22] Danhyal-Masood commented on #1024
I had this issue when vaapi was using intel-media-sdk files instead of intel-media-driver, manually overriding the driver path with the LIBVA_DRIVERS_PATH environment variable fixed the issue.

[2020-01-26 22:41] ryanbr opened #7919 "Ads not properly skipping on Spotify"
## Description
Spotify ads not being skipped

## Steps to Reproduce

   1. Visit `https://open.spotify.com/`
   2. Play music until a adbreak occurs.
   3. Brave won't skip ad

## Actual result:
Should skip advert

## Expected result:
Not skipping advert

## Reproduces how often:
May require to listen to a few tracks to get adbreak

## Brave version (brave://version info)
Version 1.2.43 Chromium:

[2020-01-26 23:49] ryanbr commented on #7919
Can confirm it occurs in Nightly. Is this related to the snippets @antonok-edm ?

[2020-01-27 00:31] ryanml commented on #6103
<img width="428" alt="Screen Shot 2020-01-26 at 5 29 19 PM" src="https://user-images.githubusercontent.com/8732757/73144282-6c3a8000-4061-11ea-94ee-38b50cc65ca0.png">

`here` now links to a Brave article as of: https://github.com/brave/ethereum-remote-client/pull/101

[2020-01-27 00:31] #6103 closed

[2020-01-27 01:37] kjozwiak commented on #7624
Couldn't reproduce the issue using the following build:

[code]

Using the URL mentioned via https://github.com/brave/brave-browser/issues/7624#issue-546057709, ensured the following:

* ensured loading the URL directly within Brave didn't cause any issues
  * ensured that scrolling the website didn't cause any crashes
  * ensured that refreshing the website several times didn't cause any crashes

[2020-01-27 01:37] #7624 closed

[2020-01-27 01:42] kjozwiak commented on #7861
Couldn't reproduce the issue using the following build:

[code]

Using the URL mentioned via https://github.com/brave/brave-browser/issues/7624#issue-546057709, ensured the following:

* ensured loading the URL directly within Brave didn't cause any issues
  * ensured that scrolling the website didn't cause any crashes
  * ensured that refreshing the website several times didn't cause any crashes

[2020-01-27 04:17] Jammerlee commented on #4599
Also having this issue on Windows 10 x64

[2020-01-27 04:43] kjozwiak commented on #7741
@brave/legacy_qa because @LaurenWags already ran through all the cases on Nightly via https://github.com/brave/brave-core/pull/4392#issuecomment-578291555, please run through a few of the upgrade cases in `1.3.x` due to time constraints. Maybe picking ~3 versions and ensuring those upgrades worked as expected.

[2020-01-27 04:50] btlechowski opened #7920 "`brave://management` is empty when admin policy is enabled"
Found when testing https://github.com/brave/brave-browser/issues/454

## Steps to Reproduce

Note: steps are copied from https://github.com/brave/brave-browser/issues/454

1. Fresh install of Brave (clean profile)
2. Open `regedit`
3. For 64 bit, create the following keys:
`BraveSoftware\Brave`
under the existing key:
`HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Policies\`
(for 32 bit, you can edit `H

[2020-01-27 04:57] kjozwiak commented on #7686
Couldn't reproduce the issue using on `Samsung S10+` running `Android 10` using the following build:

[code]
I went through the original STR mentioned via https://github.com/brave/brave-browser/issues/7686#issue-547858962 and couldn't reproduce the crash after trying for ~10mins.

[2020-01-27 04:57] #7686 closed

[2020-01-27 04:57] btlechowski opened #7921 "Tor mentioned in Private Window when admin policy is enabled"
Found when testing https://github.com/brave/brave-browser/issues/454
Tor should not be mentioned because it is disabled by admin policy

## Steps to Reproduce

Note: steps are copied from https://github.com/brave/brave-browser/issues/454

1. Fresh install of Brave (clean profile)
2. Open `regedit`
3. For 64 bit, create the following keys:
`BraveSoftware\Brave`
under the existing key:
`HKEY_LOCAL_M

[2020-01-27 04:59] btlechowski commented on #454
Verification passed on

Brave | 1.3.101 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1909

Brave | 1.3.101 Chromium: 79.0.3945.130 (Official Build) beta (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Serv

[2020-01-27 05:25] #7877 closed

[2020-01-27 05:47] bsclifton commented on #6557
@thefirstofthe300 welcome - hope you're enjoying so far 😄

When you say you had to adjust shield settings, did you have to adjust just once (and then it worked)? Or do you have to adjust for all sites that you'd like to use Bitwarden on?

[2020-01-27 05:48] bsclifton commented on #7688
@bmatzner thanks for confirming 👍

[2020-01-27 06:14] jerrykrinock commented on #7639
Chiming in as a bookmarks syncing extension and native app developer:  A week or so ago we published updates which accommodate Brave's elimination of _Other Bookmarks_, and our users are no longer complaining.  But if _Other Bookmarks_ were to return, even as a folder with a special _pin to the right_ attribute, this would likely break our extension again :(

The different structures among browser

[2020-01-27 06:20] #7883 closed

[2020-01-27 06:20] #7884 closed

[2020-01-27 06:20] #7807 closed

[2020-01-27 06:20] #7855 closed

[2020-01-27 06:20] #7885 closed

[2020-01-27 06:28] bsclifton opened #7922 "Right click (context menu) should have `Use Image as Desktop Picture`"
## Description
When opening a context menu for an IMAGE on macOS (right click, ctrl + click, etc), there should be an option to `Use Image as Desktop Picture` (similar to Safari)

## Steps to Reproduce

   1. Visit google.com and search for `mercedes r129 red`
   2. Click `Images` to show image search
   3. Right click any image

## Actual result:
<img width="549" alt="Screen Shot 2020-01-26 at 10

[2020-01-27 07:24] petemill opened #7923 "NTP Sponsored Images data should be versioned"
Allows to make breaking changes to sponsored images data without blowing up old builds of the browser.

Old builds should just reject the data and remove the last-known-good data from local memory.

[2020-01-27 07:51] Isselbaecher commented on #6212
I support this feature request! :)

[2020-01-27 09:55] tmancey commented on #7743
@LaurenWags @btlechowski I have now reproduced the issue on 1.3. A decision needs to be made if we should uplift both #7869 and #6757 to resolve this issue

[2020-01-27 10:30] ilyaigpetrov commented on #7268
I experience freezes too during working with Gmail and other sites.
I tried both options offered by @bsclifton but none worked.

Some details (please, confirm if you get the same behavior):

1. During a freeze mouse pointer is movable but it doesn't react to underlying elements (doesn't change from sharp pointer to hand and back).
2. During a freeze you may still switch from tab to tab. And if you

[2020-01-27 11:06] tmancey commented on #6749
@petemill @ryanml

[2020-01-27 13:00] Sntl09 commented on #6291
Yeah, sorry but this is where Brave lost me and i've uninstalled. It seemed like a great browser but the torrenting issue is a deal breaker for me. +1 to sort this

[2020-01-27 13:29] JamesABaker commented on #3296
@mpaluta I am not seeing `missing parts or corrupt`. Perhaps that is fixed by systematically removing devices. What I have for `brave://inspect/#extensions` in `Brave Sync`  is `Ignoring DELETE of object 239,240,77,222,254,239,58,25,118,204,202,226,131,175,137,236.` multiple times. I do not know how to match the bookmark ID with the bookmarks to check if these are the zombie bookmarks.

[2020-01-27 13:52] LaurenWags commented on #7188
@GeetaSarvadnya can you recheck this one on 1.3.x when all necessary PRs (4399 and 4372) have been uplifted to that version.

[2020-01-27 14:12] msundin commented on #6098
@darkdh This issue has been present since I first created a new sync chain a few months ago. So yes, I started with a fresh sync chain and the problem immediately appeared and has been there since then.

[2020-01-27 15:07] LaurenWags commented on #7743
cc @kjozwiak @rebron re: https://github.com/brave/brave-browser/issues/7743#issuecomment-578671946

[2020-01-27 15:22] LaurenWags commented on #6078
Additional Test Plan for grant virtualization:

- Using a self-funded anon wallet, verify you are able to
   - [ ] do a one time tip
   - [ ] a monthly tip (contribution)
   - [ ] auto contribution
   - [ ] Confirm that all transactions work as expected and are reflected accurately on the BR panel and on brave://rewards.
   - [ ] Confirm wallet balance decreases accurately.
   - [ ] Confirm if you

[2020-01-27 15:46] srirambv opened #7925 "Browser crashes on rst.ua"
## Description
Browser crashes on rst.ua

## Steps to reproduce

   1. Visit rst.ua
   2. browser crash

## Actual result
Browser crashes on rst.ua

## Expected result
No crash

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NA
   - Beta build? Yes

## Device details
   - Install type (ARM, x86): ARM
   - Device (Phone, Tablet, Phablet): Phone
   - Android

[2020-01-27 15:46] srirambv opened #7926 "Browser crashes on http://android.mobile-review.com/articles/63573/"
## Description
Browser crashes on http://android.mobile-review.com/articles/63573/

## Steps to reproduce

   1. Visit rst.ua
   2. browser crash

## Actual result
Browser crashes on http://android.mobile-review.com/articles/63573/

## Expected result
No crash

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NA
   - Beta build? Yes

## Device details
   - I

[2020-01-27 15:46] srirambv opened #7927 "Browser crashes on epaper.livemint.com"
## Description
Browser crashes on epaper.livemint.com

## Steps to reproduce

   1. Visit rst.ua
   2. browser crash
   3. cant launch browser again

## Actual result
Browser crashes on epaper.livemint.com

## Expected result
No crash

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NA
   - Beta build? Yes

## Device details
   - Install type (ARM, x86): AR

[2020-01-27 15:49] LaurenWags opened #7928 "SNTP crashes for non-US region"
## Description
Found while testing https://github.com/brave/brave-core/pull/4075

Test plan 4 from above PR fails, browser crashes when OS is set to something other that US (ex. Canada or UK)

## Steps to Reproduce

Reproduced below using Canada and UK. Note, if in a non-ads region, like Aruba, issue does not reproduce.
### 4. Blank Remote content is fetched and parsed
_(only works whilst in pre-r

[2020-01-27 15:51] SergeyZhukovsky opened #7929 "Android play console crash in rewards"
`Stack Trace:
  RELADDR   FUNCTION                                                                          FILE:LINE
  v------>  chrome::android::BraveRewardsNativeWorker::GetAllNotifications(_JNIEnv*, base::android::JavaParamRef<_jobject*> const&)  ../../brave/browser/brave_rewards/android/brave_rewards_native_worker.cc:352:5
  0000000001893a30  Java_org_chromium_chrome_browser_BraveRewardsNativ

[2020-01-27 15:56] LaurenWags opened #7930 "no images shown when both SNTP flags enabled"
## Description
Found while testing https://github.com/brave/brave-core/pull/4075

Test plan 2 from above PR fails, images are not shown when both flags are enabled.

## Steps to Reproduce

### 2. With the feature flag and demo feature flag, demo sponsored content is shown
0. Fresh or previous profile
1. Visit chrome://flags and turn on both above feature flags
2. Relaunch browser
3. Refresh NTP un

[2020-01-27 16:05] SergeyZhukovsky opened #7931 "Android play store crash in toolbar"
`java.lang.IllegalStateException:
  at org.chromium.chrome.browser.ChromeActivity.getFullscreenManager (ChromeActivity.java:1828)
  at org.chromium.chrome.browser.toolbar.top.BraveToolbarLayout.onClick (BraveToolbarLayout.java:228)
  at org.chromium.chrome.browser.toolbar.top.ToolbarPhone.onClick (ToolbarPhone.java:545)
  at android.view.View.performClick (View.java:7870)
  at android.view.View.pe

[2020-01-27 16:20] SergeyZhukovsky opened #7932 "Android play store crash in sync"
`java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2447)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:2507)
  at android.app.ActivityThread.access$900 (ActivityThread.java:172)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1308)
  at android.os.Handler.dispatchMessage (Handler.java:102)
  at an

[2020-01-27 16:23] btlechowski commented on #7930
Reproduced on Windows

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

![image](https://user-images.githubusercontent.com/34715963/73192691-af602600-4129-11ea-92b4-cd45b002aa08.png)

[2020-01-27 16:28] fmarier opened #7933 "Internal issue 679 (referrer)"
https://github.com/brave/internal/issues/679

[2020-01-27 16:31] btlechowski commented on #7928
Reproduced on Windows

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Uploaded Crash Report ID 64b9a1ffb0cbd0ae (Local Context: 537bfd37-d0ac-4677-9842-445e0e23a298)
Uploaded Crash Report ID 80a15212603bb381 (Local Context: a6768b09-

[2020-01-27 16:58] #7901 closed

[2020-01-27 17:02] #7893 closed

[2020-01-27 17:08] benbdevd commented on #7816
Experiencing the same issue, will test further. Haven't been able to get sync working between MacBook and my Android phone.

If someone could point me towards a methods to supply more in-depth logs I can do that. I tried searching how for a few minutes, not that familiar with debugging macOS apps.

Environment details:
MBP 13 2017, macOS Catalina 10.15.2 (latest as of date)
APFS, FileVault Enabled

[2020-01-27 17:21] srirambv opened #7934 "DuckDuckGo info bar isn't shown on Private tab when modal is dismissed"
## Description
DuckDuckGo info bar isn't shown on Private tab when modal is dismissed

## Steps to reproduce

   1. Clean install beta
   2. Open a new private tab
   3. Click `No` on the popup modal, DDG info bar isn't shown on private tab

## Actual result
DuckDuckGo info bar isn't shown on Private tab when modal is dismissed

## Expected result
If user selects No on DDG popup private tab should

[2020-01-27 17:49] rebron commented on #7690
Is this still an issue on 1.5.62?

[2020-01-27 18:04] david2278 commented on #2362
It has been over a year since this was opened. Are we getting a fix or not?

[2020-01-27 18:40] snowbound commented on #2362
I assume you saw this option when enabled allowed me to see YouTube notifications fine in Brave.

"For folks that aren't aware, there is a Use Google Services for Push Messaging option under brave://settings/privacy (set to OFF by default) which, when enabled, may resolve items which are trying to use GCM"

[2020-01-27 18:52] emerick commented on #7903
@srirambv I wasn't able to repro with the following steps:

- Installed the `1.5.46` nightly
- Visit google.com and enable all shields settings
- Visit yahoo.com and disable all shields settings
- Upgrade to `1.5.57` using `adb install -d -r {apk}` (How are you upgrading?)
- Confirm that `1.5.57` is installed and `1.5.46` is gone
- Confirm that google.com shields are all enabled and yahoo.com are

[2020-01-27 20:23] LaurenWags opened #7937 "footer moves to top of NTP if all widgets turned off"
## Description
Found while testing Scenario 10 from https://github.com/brave/brave-core/pull/4075

If you have your window set to be ~870 px wide or less and you toggle off all widgets, the footer (including SNTP logo if present) moves up to the top of the page.

## Steps to Reproduce

   1. Clean or existing profile
   2. Enable the flags necessary to show SNTP
   3. Relaunch
   4. On NTP, toggle

[2020-01-27 20:23] karenkliu opened #7938 "Implement Brave Publisher Ads checkbox in Brave Ads "Ads Settings""
## Description
Allow users to enable/disable Brave Publisher Ads via Ads Settings in the Brave Rewards settings page.

## Designs
![ads settings conversion tracking + publisher ads formats 0](https://user-images.githubusercontent.com/2388823/73210940-21bc1080-4100-11ea-85b1-5f5df81b4dcc.jpg)

## Miscellaneous Information:
Related to https://github.com/brave/brave-browser/issues/7298

[2020-01-27 20:23] #7931 closed

[2020-01-27 20:24] #7929 closed

[2020-01-27 20:29] btlechowski commented on #7937
Reproduced on Window 7 and Windows 10

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-he

[2020-01-27 20:30] LaurenWags commented on #7937
Extra problem with this is, if you are on a non-sponsored NTP and you toggle off all widgets and want to re-toggle them on, you can't do so because when you click on the icon for 'Dashboard Settings', the popup with the toggles can't be seen because it's above the icon, and the icon is already at the top of the window.

when on a sponsored NTP at least you can see part of the popup to be able to t

[2020-01-27 21:23] LaurenWags opened #7939 "SNTP message says to Turn on BR when Rewards are already on, should say turn on Ads"
## Description
Found while testing test plan 10 from https://github.com/brave/brave-core/pull/4075

When Rewards are ON, Ads are OFF, and Widget is ON, the message on a SNTP says `Turn on Brave Rewards to claim your share.` however, BR are on. Per the image in test plan 10 from PR, this should say `Turn on Brave Ads to claim your share.` Button correctly identifies Brave Ads to be turned on and cl

[2020-01-27 21:28] karenkliu opened #7940 "Do not send the AC transaction if user does not have enough BAT in wallet to complete the transaction"
## Description
The UX of Brave Rewards notifications needs to be improved. Currently, notifications stack on top of one another continuously like so:
![rewardsnotificationsproblem](https://user-images.githubusercontent.com/2388823/73215037-2a184980-4108-11ea-808b-99dd726e106a.gif)

Lessen the amount of notifications and unnecessarily negative messages.

## Expected UX
Autocontribute is a feature t

[2020-01-27 21:31] karenkliu opened #7941 "Add more details to the red "...problem processing your contribution" BR notification"
## Description
The UX of Brave Rewards notifications needs to be improved. Currently, notifications stack on top of one another continuously like so:
![rewardsnotificationsproblem](https://user-images.githubusercontent.com/2388823/73215037-2a184980-4108-11ea-808b-99dd726e106a.gif)

Lessen the amount of notifications and unnecessarily negative messages.

## Expected UX
The red "...problem processin

[2020-01-27 21:33] karenkliu opened #7942 "Make "Insufficient funds...pending tips" BR notification have more friendly messaging"
## Description
The UX of Brave Rewards notifications needs to be improved. Currently, notifications stack on top of one another continuously like so:
![rewardsnotificationsproblem](https://user-images.githubusercontent.com/2388823/73215037-2a184980-4108-11ea-808b-99dd726e106a.gif)

Lessen the amount of notifications and unnecessarily negative messages.

## Expected UX
The "Insufficient funds...pen

[2020-01-27 21:37] karenkliu opened #7943 "Expire BR notifications/alerts"
## Description
The UX of Brave Rewards notifications needs to be improved. Currently, notifications stack on top of one another continuously like so:
![rewardsnotificationsproblem](https://user-images.githubusercontent.com/2388823/73215037-2a184980-4108-11ea-808b-99dd726e106a.gif)

Lessen the amount of notifications and unnecessarily negative messages.

## Expected UX
Notification/alerts should no

[2020-01-27 21:40] srirambv commented on #7903
For CI builds I just run the apk via filemanager which installs it over the existing one. I can test this when the next beta comes out and see if its still an issue.

[2020-01-27 21:41] emerick commented on #7903
@srirambv That would be great, thank you.

[2020-01-27 21:50] btlechowski commented on #7939
Reproduce on Windows 7 and Windows 10

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-he

[2020-01-27 22:02] btlechowski opened #7944 "SNTP - ads item in NTP rewards widget is shown for unsupported ads region message"
It looks like ads item: `Sorry! Ads are not yet available in your region.` and `Estimated earnings so far this month` are shown in NTP rewards widget

This is a regression

## Steps to Reproduce

   1. Open Brave in Unsupported region (used `Luxemburg`)
   2. Enable flag for SNTP
   3. Restart
   4. Open new tab until you see a SNTP is shown

## Actual result:

Ads item is shown.
`Sorry! Ads are n

[2020-01-27 22:05] rebron commented on #7944
cc: @bradleyrichter

[2020-01-27 22:14] LaurenWags commented on #7944
Reproduces on macOS

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | macOS Version 10.14.6 (Build 18G103)

[2020-01-27 22:36] btlechowski commented on #7690
Reproduced on 1.5.62

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

![image](https://user-images.githubusercontent.com/34715963/73219982-a426ed80-415d-11ea-84f8-9370918a93ad.png)

[2020-01-27 23:16] bmreilly commented on #3642
I'm required to use Duo to login at work - as are many others - without touchID i have to pull my phone out >20x a day to verify. This is causing me to seriously contemplate switching back to chrome....

[2020-01-27 23:23] yrliou commented on #7902
Desktop's default FP behavior is blocking third party, but current android-tab's default is allow.
@SergeyZhukovsky Do we consider following desktop's default behavior here or do we need to change it to allow for mobile specifically?

[2020-01-27 23:35] LaurenWags opened #7945 "SNTP messages should only be shown the first time a SNTP is shown"
## Description
Found while testing https://github.com/brave/brave-browser/issues/7883

The first time a SNTP is viewed, a dismiss-able message is shown in some cases. Currently this message is only dismissed manually via the X. However, per discussion with @petemill and in the spec, this introductory message should only be shown to the user the first time they are seeing a sponsored image.

From t

[2020-01-27 23:44] DaniellMesquita commented on #7860
About ignoring, re-open this issue.

But isn't yet. Also, will this fix recover corrupted data from MetaMask? Nope.
A browser update corrupting data is a immature and irresponsible act from a development team. We should talk instead of attacks.

[2020-01-27 23:54] btlechowski commented on #7893
Verification passed on

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Verified STR from the description

Verification passed on

Brave | 1.5.62 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c287

[2020-01-28 00:12] simonhong opened #7946 "[SNPT] Previous image is visible after changing from supported region to un-supported region"
After changing to un supported region from supported region, ntp sponsor image should not be visible.

Repro step
1. launching brave with clean profile with US region
2. Turn on the `New Tab Page Branded Wallpapers` only and re-launch
3. Check sponsorship image is visible
4. change OS region to CA and re-launch
5. Check sponsorship image is not visible

[2020-01-28 00:25] yrliou commented on #7839
I could not reproduce this one using arm64 apk on Pixel 3. :(

[2020-01-28 00:35] LaurenWags opened #7947 "text update needed on Dashboard Settings"
## Description
Per the spec for SNTP, `Show Background Image` should be updated to `Show Background Images`.

## Steps to Reproduce

   1. Clean profile
   2. Enable SNTP from flags, relaunch
   3. Open Dashboard Settings on NTP

## Actual result:
<img width="435" alt="Screen Shot 2020-01-27 at 7 32 55 PM" src="https://user-images.githubusercontent.com/28145373/73225841-01aa4280-413c-11ea-9c2d-f20

[2020-01-28 00:56] #7930 closed

[2020-01-28 01:19] #7553 closed

[2020-01-28 02:45] btlechowski opened #7948 "Moving of bookmark is not propagated to another device"
Found while testing: https://github.com/brave/brave-core/pull/4324

The issue is also randomly reproducible with more bookmarks. My bookmarks were all messed up. Sometimes moving of bookmarks works as expected.

Important: Reproducible on 1.5.x. Not reproducible on 1.2.x, 1.3.x.

## Steps to Reproduce

   1. Clean profile DeviceA and DeviceB
   2. DeviceA: open `interia.pl`
   3. DeviceA: open `yo

[2020-01-28 02:59] darrylyeo commented on #5935
Any plans on implementing this? I'd love to be able to disable cookies across the board without breaking websites that use Web Storage. Maybe Web Storage could be a separate shield toggle from the cookies toggle?

[2020-01-28 03:00] darrylyeo commented on #5935
Any plans on implementing this? I'd love to be able to disable cookies across the board without breaking websites that use Web Storage. In the meantime, maybe Web Storage could be a separate shield toggle from the cookies toggle?

[2020-01-28 04:57] #7946 closed

[2020-01-28 04:59] david2278 commented on #2362
My concern is for my users. All of them have to jump through hoops just to get push working. The least brave could do is push an update which toggles in on by default if they aren't going to fix it.

[2020-01-28 05:31] thefirstofthe300 commented on #6557
I only had to adjust the settings once. Since then, I've turned tracking back on, and I haven't had an issue with autofill.

[2020-01-28 05:46] simonhong commented on #7886
FYI, it's pattern is `account.google.com`, it's source is `preference`, it's type is `TYPE_COOKIE` and it's value is `1`. I got this info from `SiteSettingsCounter::Count()`.

[2020-01-28 05:54] kjozwiak commented on #7844
Removed the `QA/Blocked` label as https://github.com/brave/brave-core/pull/4399 was merged into both `1.4.x` & `1.3.x` via https://github.com/brave/brave-core/pull/4437 & https://github.com/brave/brave-core/pull/4438.

[2020-01-28 06:52] simonhong commented on #7081
@rebron This issue is still valid.
We don't use component updater for widevine for now. This is is for using component updater.

[2020-01-28 07:07] #6104 closed

[2020-01-28 07:07] #7695 closed

[2020-01-28 07:55] dompie commented on #1024
I'm having the same error on Ubuntu 18.04. Looking forward for a fix, thanks for the great work.

[2020-01-28 08:28] bsclifton opened #7949 "Reword `Device recognition` as `Fingerprint`"
## Test plan
See https://github.com/brave/brave-core/pull/4574

## Description
The term "Fingerprinting" is becoming more mainstream. We'd like to change all references for `Device recognition` to `Fingerprint`

As an example:
`Cross-site device recognition blocked` => `Cross-site fingerprint blocked`

Let's confirm all uses with @karenkliu, @tomlowenthal, @diracdeltas, and others before closing t

[2020-01-28 08:29] bsclifton commented on #7949
@cezaraugusto is this something you'd be able to look at? 😄

[2020-01-28 09:12] GeetaSarvadnya commented on #7930
Reproduced in windows 10 x64

Brave | 1.5.63 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-01-28 09:26] GeetaSarvadnya commented on #7928
Reproduced in Windows 10 x64

Brave | 1.5.63 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-01-28 09:42] SinTan1729 opened #7950 "Site crashing brave"
## Description
[This site](https://forum.manjaro.org/t/testing-update-2020-01-24-kernels-gamemode-1-5-pamac-9-3/120902) is crashing brave everytime.

## Steps to reproduce

   1. Open this link

## Actual result
Brave crashes.

## Expected result
Site should work perfectly.

## Issue reproduces how often
Easily reproduced

## Issue happens on
   - Current Play Store version? Yes
   - Beta build? N

[2020-01-28 10:24] GeetaSarvadnya commented on #7945
Reproduced in windows 10 x64

Brave | 1.5.63 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-01-28 10:49] fmarier commented on #7853
That ITP 2.3 blog post only refers to the [previous change in ITP 2.2](https://webkit.org/blog/8828/intelligent-tracking-prevention-2-2/):

We responded to that by [filtering the query string and removing known offenders](https://github.com/brave/brave-core/pull/3239). Capping all JS cookies to 24h might have a big usability impact.

From what I can tell, if Apple is limiting the lifetime of all J

[2020-01-28 11:21] tmancey commented on #4047
@jsecretan @emerick Adding the following comment, which we previously discussed to help QA with https://github.com/brave/brave-browser/issues/7833

Ads viewed count will be reset to zero due to legacy ads history having to be cleared out as we only stored a timestamp

[2020-01-28 11:29] GeetaSarvadnya commented on #7937
Reproduced in Windows 10 x64 - `1.5.63`

![image](https://user-images.githubusercontent.com/38657976/73260256-8d30db80-41ef-11ea-8840-7553da1a017a.png)

[2020-01-28 11:50] akarshanbiswas commented on #1024
Try upgrading libva to atleast version 2.1

[2020-01-28 11:52] ryanbr commented on #7853
Reminds me a user complaining about this recently;

https://community.brave.com/t/brave-overwrites-the-expiration-day-of-long-living-cookies-that-were-set-from-javascript/103416

[2020-01-28 12:04] ryanbr commented on #7950
I just tested this in Android 10 (OP6) 1.5.3. No crashing here.

Can you you clear site storage for this site?
Does the same thing happen on https://community.brave.com/  (same forum cms)
Does the crash occur in Brave Beta (available via the play store)

[2020-01-28 12:15] GeetaSarvadnya commented on #7930
Reproduced on Linux Mint
Brave | 1.5.63 Chromium: 79.0.3945.130 (Official Build) nightly (64-bit)
-- | --
Revision | e22de67c28798d98833a7137c0e22876237fc40a-refs/branch-heads/3945@{#1047}
OS | Linux

[2020-01-28 13:22] SinTan1729 commented on #7950
@ryanbr
Clearing storage didn't work.
No. That site works well. Although, it's not that the whole Manjaro Forum is crashing. Some pages are functional (such as [this](https://forum.manjaro.org/t/cant-install-manjaro-xfce-19-0-pre3-200120-linux55-rsync-error-11/121325)).
No, it does not occur in Brave Beta.

[2020-01-28 13:32] fmarier commented on #5935
@darrylyeo Can you talk more about your use case? For example, if you were to disable cookies across the board, how would you log into websites?

I personally use [uMatrix](https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf) to block cookies by default and then whitelist sites I want to log into.

[2020-01-28 13:39] jsecretan commented on #7639
Hi @jerrykrinock is there a way for you to change behavior by versions?  Or anything easy we could do to accommodate your use case?  It's a tough spot to be in because of course many are asking us to bring back the Other Bookmarks node.

[2020-01-28 14:04] #7848 closed

[2020-01-28 14:14] mauroservienti commented on #6461
Any update on this one?

[2020-01-28 14:17] Jamesking56 opened #7951 "Clock on new tab page in wrong format (should be same format as system)"
## Description
Clock on new tab page does not respect OS time format

## Steps to Reproduce

   1. Set system time format to 12-hour (AM/PM in Ubuntu Settings)
   2. Open Brave new tab page
   3. See clock is not in 12-hour format

## Actual result:
Clock is not respecting system time format

## Expected result:
Clock should be in the same format as system time

## Reproduces how often:
Easily rep

[2020-01-28 14:23] LaurentOngaro commented on #7639
For my part, I don't miss the "Other bookmarks" node, I find the new bookmarks structure much cleaner, but the loss of compatibility with synchronization extensions is really annoying

[2020-01-28 14:37] emerick commented on #7903
@srirambv I reconfirmed using the file manager to do the upgrade and it looked OK to me. I'm probably missing a step. If you're still able to repro today and have any ability to make a video or do a video call with me to see the steps, that would be great.

[2020-01-28 14:41] CappieXL commented on #2457
+1

Can anybody from team comment on whether this is intentional or a bug and whether there are plans to fix this or not?
There are arguments for both, so I'm just curious about what to expect

[2020-01-28 14:43] TomSwifter opened #7952 "zooming using ctrl+scroll is disabled"
Nothing happens
   3. user ctrl+(+/-) --> expected behavior
   4. Open a chrome web browser
   5. use ctrl+scrollY. --> expected behavior

## Actual result:
Nothing happens

## Expected result:
Zoom in/out on ctrl+scroll

## Reproduces how often:
Constantly

## Brave version (brave://version info)
Version 1.2.42 Chromium: 79.0.3945.117 (Official Build) (64-bit)

## Version/Channel Information:

-

[2020-01-28 14:53] #7944 closed

[2020-01-28 14:54] #7939 closed

[2020-01-28 15:19] #7751 closed

[2020-01-28 15:50] LaurenWags commented on #7713
Needs fixes from https://github.com/brave/brave-core/pull/4372 uplifted to fully test this per https://github.com/brave/brave-core/pull/4379#issuecomment-578190490. Once those are uplifted this can be retested.

[2020-01-28 15:52] LaurenWags commented on #7844
Needs fixes from https://github.com/brave/brave-core/pull/4372 uplifted to fully test this. Once those are uplifted this can be retested.

[2020-01-28 16:24] fmarier opened #7953 "[meta] Mozilla Location Service API key expiring on 2020-03-01"
According to
https://blog.mozilla.org/services/2019/09/03/a-new-policy-for-mozilla-location-service/, we will get cut off of the Mozilla Location service on 2020-03-01.

These things need to happen before then:
- [x] stand up a fallback service (brave/devops#2625, brave/devops#2633, brave/devops#2634)
- [x] add our location service to our privacy policy (https://github.com/brave/internal/issues/68

[2020-01-28 17:41] mauroservienti commented on #6461
To be honest, this is beyond acceptable:

![image](https://user-images.githubusercontent.com/1325611/73289690-6f6a7300-41fd-11ea-8388-5037275b31b2.png)

(not to mention the mess in each folder)

I spend more time fixing those horrible sync problems than working.

[2020-01-28 18:02] #7928 closed

[2020-01-28 18:07] #7833 closed

[2020-01-28 18:09] #7932 closed

[2020-01-28 18:22] Daemach opened #7954 "Please add a registry key to disable clearing browser history"
I need to disable the ability to clear browsing history using the registry or group policy so it can't be modified by the local user.  You've provided a way to disable private browsing.  Please do the same for browser history.  Internet explorer is the only browser that allows this, so I cannot allow firefox, brave or chrome on my network at the moment.  Keep honest people honest.

And if you can