[2019-08-13 02:35] chkk525 opened #5636 "Gyazo edit doesn't work well"
## Description

 - In screen capture edit page, the original image isn't loaded.

## Steps to Reproduce

   1. Login to gyazo.com
   2. Take a screenshot
   3. Go to screen shot gyazo page
   4. Edit the screen capture

## Actual result:

Left: Chrome <-> Brave: Right
https://i.gyazo.com/28352e1fac86285ce190d01e0206a47c.mp4

## Expected result:
- It should work like in Chrome

## Reproduces how of

[2019-08-13 02:44] chkk525 opened #5638 "Failed to load search result on Expedia"
## Description

- Keep loading when I search on Expedia.co.jp

## Steps to Reproduce

   1. Go to https://www.expedia.co.jp/tour
   2. Perform a search there
   3. Wait for result

## Actual result:

<-Chrome : Brave->
https://gyazo.com/4a8905aa0dffc2c67231993de73608eb

## Expected result:
- Brave should get the result page like Chrome does

## Reproduces how often:

- It happens every time.

## B

[2019-08-13 04:10] ignishub opened #5639 "Run browser in Tor mode by default"
Can i do it? Or can we make this happen?

It is really important for privacy

[2019-08-13 04:49] veekas commented on #1280
@bsclifton persistent storage would be great!

[2019-08-13 04:52] GeetaSarvadnya opened #5640 "Developer tool doesn't load with remote devices in brave-browser (Desktop)"
## Test plan
See https://github.com/brave/brave-core/pull/4044

## Description

Developer tool doesn't load with remote devices in brave-browser (Desktop). Verified couple of brave versions, the issue persists on all the versions including latest released version.

`0.67.125` - Dev tool doesn't load with remote devices
`0.66.101` - Dev tool doesn't load with remote devices
`0.65.121` - Dev tool do

[2019-08-13 05:04] veekas opened #5641 ""Block element via selector" doesn't work on Amazon"
## Description

Right-clicking any element on Amazon.com pages and clicking "Block element via selector" does not open an alert that allows the user to input the desired

## Steps to Reproduce

   1. go to any [Amazon](https://www.amazon.com/) page
   2. right click
   3. hover over "Brave
   4. click "Block element via selector"

<img width="582" alt="Screen Shot 2019-08-13 at 12 46 34 AM" src="h

[2019-08-13 05:05] veekas commented on #5641
Just updated Brave and the issue self-resolved. 🙃

[2019-08-13 05:05] #5641 closed

[2019-08-13 05:19] bsclifton commented on #5640
@GeetaSarvadnya this may be intentional

@pilgrim-brave would this be happening because remote debugging was disabled with https://github.com/brave/brave-browser/issues/1736 ?

[2019-08-13 05:21] bsclifton commented on #5639
Thanks for the request, @ignishub! This is a duplicate of https://github.com/brave/brave-browser/issues/1457

I'll give that a bump on your behalf

[2019-08-13 05:21] #5639 closed

[2019-08-13 05:22] bsclifton commented on #1457
+1 from @ignishub via https://github.com/brave/brave-browser/issues/5639

[2019-08-13 06:29] mhidro commented on #5330
Happens every time I open the downloads tab.
Just a blank screen until I hit F10 to open the inspect menu, which I guess resizes the window.

Version 0.67.125 Chromium: 76.0.3809.100 (Official Build) (64-bit)

[2019-08-13 06:52] MRVDH commented on #3190
@kjozwiak so does that mean the fix will be in the next release? Because it still doesn't work for me in the latest (current) Release. (it spins for a while after clicking it but after a while it stops and nothing has happened)

[2019-08-13 07:43] AlexeyBarabash commented on #3190
@MRVDH this means the fix first will appear in dev, then in beta and then in release. Each step is a version bump and takes ~ 3 weeks https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule.

[2019-08-13 08:14] Leon0402 commented on #5619
@bsclifton
And I believe the last three messages:
`[13366:13382:0811/112713.565894:ERROR:rewards_service_impl.cc(194)] Failed to read file: /home/leon/.config/BraveSoftware/Brave-Browser/Default/ledger_state [13439:13439:0811/112713.658688:ERROR:ledger_impl.cc(381)] Failed to initialize wallet [13439:13439:0811/112714.918300:ERROR:redeem_token.cc(243)] Failed to fetch payment token`
have nothing t

[2019-08-13 09:52] ryanbr opened #5642 "Create a 3rd-party device recognition whitelist json"
From something similar for 3rd-party cookies; https://github.com/brave/brave-browser/issues/5314

Need to create/implement a 3rd-party device recognition whitelist, for problematic sites where if we block 3rd-party cookies it causes issues.

~~https://community.brave.com/t/scrolling-issues-at-yahoo-com/75325/ Which was reported  device recognition was causing issues.~~

Create a .json of any probl

[2019-08-13 11:49] ryanbr opened #5643 "Yahoo rendering of right-hand column is breaking"
## Description
Visiting www.yahoo.com (US) articles, when scrolling the right-hand column is displayed will be sent to the left side. breaking reflow.

## Steps to Reproduce

   1. Visit`https://www.yahoo.com/news/shocking-act-of-road-rage-caught-on-camera-125914432.html`
   2. Ensure you have the right-hand sub-articles links.
   3. scroll down the page to watch the sub-articles links move to the

[2019-08-13 12:14] ryanbr commented on #5638
Seems both scripts are being used;
`https://a.travel-assets.com/platform-analytics-prime/1/platform-analytics-prime-amd.js`
`https://a.travel-assets.com/platform-analytics-prime/1/dctk-compatibility-amd.js`

Which is affecting the page to load. Give it 24-48hrs for lists to update and it should be fixed.

[2019-08-13 12:29] ryanbr commented on #5634
`https://www.dmm.com/js/marketing/display_ad.js`

Is used to load the advert carousel at the top, just need a whitelist of this to make it work.

Lists will updated in the next 24-48hrs.

[2019-08-13 14:08] shark0der commented on #5429
Came here looking for this specific issue. I like Brave's idea to make a privacy-oriented browser but shoving in rewards and other trash does not inspire this.

You can see that there are 3 processes that are running even though I've disabled Brave Rewards:
- Brave rewards
- Bat Ledger Service
- Bat Ads Service

![Brave task manager](https://i.imgur.com/PgXx9Zh.png)

Would love to see this gone. T

[2019-08-13 15:00] mandar-brave commented on #5578
Fair!

First image
Ads Rewards ! Your Ads earnings are here!

Second image:
It's your lucky day!
Your Ads earnings are on its way!

@jsecretan

[2019-08-13 15:02] marouane-erouhi opened #5644 "[Feature Request] Focus mode"
# Description
A mode that disables some of the more distracting features of the browser.
For example, disabling Brave ads, and silencing notifications

[2019-08-13 15:31] kjozwiak commented on #4867
Labelling this as `QA/No`. QA has been checking `ads` on both production & staging on desktop/android.

[2019-08-13 15:36] bridiver opened #5645 "fix layering violations"
We have a lot of code in components that depends on code in `//brave` and `//chrome`. We should add `visibility` attributes in gn to restrict `//brave` code. Anything that is currently broken can be added to the visibility list, but a ticket should be opened to fix it.

[2019-08-13 15:51] LaurenWags commented on #5605
@btlechowski sounds like you're saying that after refreshing the page, the video plays for you? is that correct?

[2019-08-13 15:56] LaurenWags commented on #5603
Reproduced on macOS:

Brave | 0.68.128 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

[2019-08-13 16:16] pilgrim-brave commented on #5640
Very likely.

[2019-08-13 16:17] #5438 closed

[2019-08-13 16:40] rebron commented on #2622
@diracdeltas Adding to what was current release at the time which was 65.x hotfix 2.

[2019-08-13 16:57] Th3-A6add0n commented on #5330
Tbh, this is a good temporary solution. LOL

[2019-08-13 16:59] #5211 closed

[2019-08-13 17:01] rebron commented on #4870
@mkarolin When you get a chance can you confirm?

[2019-08-13 17:06] mcamou opened #5646 "Crash when clicking on the Brave or Brave Rewards icons with `extensions-toolbar-menu` enabled"
## Description

Brave crashes whenever I click on the Brave or Brave Rewards icons on the address bar. `brave://crashes` is empty.

## Steps to Reproduce

   1. Open Brave
   2. Click on the Brave or Brave Rewards icon

## Actual result:

Brave crashes

## Expected result:

Brave should not crash. The proper dialog (either the Shields dialog or the Brave Rewards dialog, depending on which icon was

[2019-08-13 17:55] mikhoul commented on #1475
I'm new with Brave, where will be this setting in the release channel ?

[2019-08-13 17:58] mikhoul opened #5647 "Bug with sound notification on messenger.com: xhr that trigger sound stay "pending""
## Description

Bug with sound notification on messenger.com: xhr that trigger sound stay "pending" forever.

So you don't hear any sound notification that somebody sent you a messageé

## Steps to Reproduce

   1.  Go to messenger.com.
   2.  Open a another tab keeping the messenger.com tab opened in background.
   3.  Ask somebody to send you a message.

**NOTE**:  Brave shield is disabled for m

[2019-08-13 18:06] karamara commented on #5638
@ryanbr
can you please add https://b.travel-assets.com/datacapture/2/js/analytics-core-bundle-min.js to the white list as well?
this forum is not getting replied yet but it will block expedia hotel result page to load half of time.
https://forums.lanik.us/viewtopic.php?f=64&t=43359

[2019-08-13 18:34] bbondy opened #5648 "Update adblock-rust to compatible 32-bit version"

[2019-08-13 19:50] rebron commented on #1475
@mikhoul Won't be a setting, we'll be showing full url starting next week with 68.x.
https://github.com/brave/brave-browser/issues/2192

[2019-08-13 20:54] riastradh-brave commented on #5633
There are two reasons we should store explicit parameters:

1. So that we can calibrate them to the user's available resources -- CPU speed, memory, parallelism.
2. So that we can write known-answer test vectors for the logic that hashes passwords and derives keys from them, using very small parameters to avoid enormous costs to running automatic tests.

[2019-08-13 20:54] fmarier commented on #4986
The new Firefox "Social Tracking Protection" feature is now enabled by default in Nightly:

![Screenshot from 2019-08-13 13-53-17](https://user-images.githubusercontent.com/167821/62976592-cad0b200-bdd1-11e9-98cf-960d3167c128.png)

and [blocks Facebook, LinkedIn, Twitter and YouTube](https://github.com/mozilla-services/shavar-prod-lists/blob/master/social-tracking-protection-blacklist.json).

[2019-08-13 20:57] fmarier commented on #5059
Yes, another control in `chrome://settings/socialBlocking` along with YouTube too (https://github.com/brave/brave-browser/issues/4986).

[2019-08-13 21:08] imptrx opened #5650 "Storybook CSS Styling Issues"
## Description

Storybook Stories are currently broken due to recent stylesheet addition with global CSS selectors.

## Steps to Reproduce

   1. Run storybook 'npm run storybook'
   2. Navigate to NTP, Brave-Welcome

## Actual result:

![Screen Shot 2019-08-13 at 2 02 43 PM](https://user-images.githubusercontent.com/9125231/62977191-323b3180-bdd3-11e9-917e-9244f3696023.png)

## Expected result:
!

[2019-08-13 21:23] #1230 closed

[2019-08-13 21:27] ryanbr commented on #5638
Can you give me an example where that script is broken?

[2019-08-13 21:30] bbondy opened #5651 "Fix adblock-rust social blocking"
Nightly, Dev, Beta, and probably Release RC1 has an issue where the social blocking options in settings are not respected and they are always allowed.

To test you can go to this site:
https://fmarier.github.io/brave-testing/social-widgets.html

Turning down the shields should work like 0.67.x does.

[2019-08-13 21:36] #5486 closed

[2019-08-13 21:37] SergeyZhukovsky opened #5652 "Hide Brave Rewards icon option"
Make a parity with existing Android browser and implement an option to hide Brave Rewards Icon from a top toolbar if rewards are disabled. Settings->Appearance->Hide Brave Rewards Icon

[2019-08-13 21:40] rebron commented on #5603
Closing in favor of https://github.com/brave/brave-browser/issues/5651

[2019-08-13 21:40] #5603 closed

[2019-08-13 22:05] bradleyrichter commented on #5207
BTW - any people/profile icons you were already using will be retained so that you don't lose your muscle memory for those.

[2019-08-13 22:35] #5183 closed

[2019-08-13 23:05] btlechowski commented on #5605
@LaurenWags Thanks for checking. I updated the steps. I think the key was to scroll the page. I also included a video.

[2019-08-13 23:18] #5650 closed

[2019-08-13 23:26] fmarier commented on #5059
I added Disqus widgets to https://fmarier.github.io/brave-testing/social-widgets.html.

[2019-08-13 23:37] btlechowski commented on #4658
Verification passed on

Brave | 0.68.128 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

The ugly focus outline is gone. Checked all welcome sub-pages.

![image](https://user-images.githubusercontent.com/34715963/62984526-d94fb580-be33-11e9-96f9-3d48561a5ca2.png)

[2019-08-13 23:59] btlechowski opened #5653 "Developer mode extensions warning is shown after restart"
Follow up to: https://github.com/brave/brave-browser/issues/4349

## Steps to Reproduce

1. Open https://developer.chrome.com/extensions/samples in a new tab
2. Download one of the sample extensions and unzip
3. Visit chrome://extensions/
4. Enable developer mode
5. Click `Load unpacked` and then pick the folder where the extension was unzippped (step 2)
6. Restart browser
7. Wait 15 seconds

## A

[2019-08-14 00:01] btlechowski commented on #4349
Verification passed on

Brave | 0.68.128 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified steps from the description.
Logged https://github.com/brave/brave-browser/issues/5653

[2019-08-14 00:08] btlechowski commented on #5653
Not reproducible on Ubuntu

Brave | 0.68.128 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

[2019-08-14 01:30] #4697 closed

[2019-08-14 01:31] #4587 closed

[2019-08-14 01:31] #4588 closed

[2019-08-14 03:02] mkarolin commented on #4870
Checked on master and it is fixed:

![image](https://user-images.githubusercontent.com/41635752/62991657-6ab42d00-be1e-11e9-93de-9d01cf97ef61.png)

[2019-08-14 06:16] #5648 closed

[2019-08-14 06:16] #5651 closed

[2019-08-14 06:18] bbondy commented on #4494
This is on Nightly, there will be follow up work but I'm closing!

[2019-08-14 06:18] #4494 closed

[2019-08-14 06:36] bbondy commented on #4494
Added test plan above.

[2019-08-14 06:37] bbondy commented on #718
added test plan

[2019-08-14 06:38] bbondy commented on #4772
cc @Brave-Matt this just landed on Nightly. After trying it out I think it'd be great to get some documentation up for it.

[2019-08-14 06:38] bbondy commented on #4573
This is rebased to node v10 so I'm going to close this.

[2019-08-14 06:38] #4573 closed

[2019-08-14 07:49] jacobjuul commented on #5283
is there a way to disable this behaviour in version 0.67 ?

[2019-08-14 08:19] simonhong commented on #5368
@rossmoody To replace `incognito_marker.svg` with ours, we just need to copy from `brave/browser/resources/downloads/images/incognito_marker.svg`
`chrome/browser/resources/downloads/images/incognito_marker.svg
` like https://github.com/brave/brave-browser/blob/master/lib/util.js#L174.

[2019-08-14 10:08] tmancey opened #5655 "Show ads onboarding for users who have not signed up to ads for new regions"
Show ads onboarding for users who have not signed up to ads for Argentina, Austria, Brazil, Switzerland, Chile, Colombia, Denmark, Ecuador, Israel, India, Italy, Japan, Korea, Mexico, Netherlands, Peru, Philippines, Poland, Sweden, Singapore, Venezuela and South Africa

[2019-08-14 10:14] tmancey commented on #5655
#5183

[2019-08-14 10:25] tmancey commented on #5628
@LaurenWags Can you demonstrate this to me as I just tested and notifications are appearing, thanks

[2019-08-14 10:38] tmancey opened #5656 "Add support for Japan to ads"
Add support for Japan to ads

[2019-08-14 11:14] ryanbr commented on #5636
got a test user/pass?

[2019-08-14 11:17] ryanbr commented on #5532
Whats the issue here? screen shot of comparison between Chrome and Brave?

[2019-08-14 11:25] Riggie1000 commented on #5532
In Brave is a big fat black space on the bottom. There should be none. When you look at the clouds, you should expect, that the site is scrolled down, but there is no scrollbar. Yes the website works. No, the website doesn't look good.

[2019-08-14 11:26] fishmi commented on #5532
![brave](https://user-images.githubusercontent.com/105578/63017636-23b64e00-be97-11e9-9f2c-e8682935bb5e.png)
![chrome](https://user-images.githubusercontent.com/105578/63017638-23b64e00-be97-11e9-8c11-712bc0d485aa.png)

[2019-08-14 11:28] fishmi commented on #5532
Two, different problems

[2019-08-14 11:36] rulatir opened #5657 "Disable "translate this page" popup in Tor mode too"
I unchecked "Offer to translate pages in this language" (note: this is a back-translation of the UI string from Polish, the English original may be slightly different) for every content language added in settings.

I have also disabled the global setting, "Offer to translate pages in foreign languages" (also backtranslated).

These settings are ignored in Tor mode. The request is simple: make them

[2019-08-14 11:39] daviddahl commented on #937
Related to this, with no allowed origins in the notifications settings, I still receive notifications from some  domains. I do not see an issue like that here. Is that a known issue? Otherwise I will file one. This global disable feature is needed.

[2019-08-14 12:39] keerah opened #5658 "Inaccessible site menus at artstation.com"
## Description

The site functionality is broken,
the menu items are inaccessible even with the shields/rewards off
Update: This occurs only on one of my devices. Not sure why, its a notebook with touch and digitiser, at the same time everything is fine on my desktop

## Steps to Reproduce

   1.  Navigate to https://www.artstation.com
   2.  Click user menu, notification menu or 3dots menu and tr

[2019-08-14 13:17] tmancey opened #5659 "User feedback loop crash if ads are disabled or region is not supported"
## Description

User feedback loop crash if ads are disabled or region is not supported

## Steps to Reproduce

   1. Change device locale to an unsupported region
   2. Launch browser

## Actual result:

Browser crashes

## Expected result:
The browser should not crash

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

Version 0.70.54 Chromium: 76.0.3809.100 (D

[2019-08-14 14:26] AlexeyBarabash opened #5660 "Sync: don't fetch devices each minute"
## Description

Currently we doing fetch of devices each minute. Sometimes this is required and sometimes -  not. This may cause unnecessary load on server.

We should do fetch devices only if:
1. Sync chain is not yet created, number devices in chain is less than 2 - to allow sync receive record about other device in chain;
2. The `brave://sync` page is opened, so we want to reflect new devices i

[2019-08-14 14:45] rhalp10 opened #5661 "Brave Browser in Desktop not properly function, the Facebook Voice-call always turn silent"
## Description

The Brave browser does not properly function with Facebook Voice Call or Video call even I remove the SHIELD. Usually, when you are using voice call or video call you will hear the ringing sound.

## Steps to Reproduce

Just try to use facebook voice call and video call to one of your friend.

## Installed

**Browser**: Brave Version 0.67.125 Chromium: 76.0.3809.100 (Official Build

[2019-08-14 15:10] posix4e commented on #1060
Sorry for the delay. I talked to the brave people and we are good to hook up travis

- [ ] Hook up travis on a fork and verify it works
- [ ] Open a new issue to merge into the brave travis account
- [ ] Profit

[2019-08-14 16:24] #4870 closed

[2019-08-14 16:30] #5655 closed

[2019-08-14 16:31] #5656 closed

[2019-08-14 16:40] #5659 closed

[2019-08-14 16:49] cezaraugusto opened #5662 "Some styles in webtorrent affect global space in storybook"
after https://github.com/brave/brave-core/pull/3146 storybook broke since some webtorrent props changed and not reflected in storybook

[2019-08-14 16:49] cezaraugusto commented on #5662
fixed by https://github.com/brave/brave-core/pull/3163

[2019-08-14 16:56] #5014 closed

[2019-08-14 17:15] btlechowski opened #5663 "Follow up: Download instead of subscription page is shown for dowjones referral promo"
This is a regression. Original issue is here: https://github.com/brave/brave-browser/issues/1805

## Steps to Reproduce

1. Clean install.
2. Download the installer from `https://brave.com/dowjones-barrons`
3. Run the installer
4. After Brave has started wait for `https://brave.com/dowjones-barrons` page to be shown (can take up to 60 seconds)

## Actual result:

The Download page is shown.

![ima

[2019-08-14 17:25] azubieta commented on #1060
@posix4e let's know if you need some assistance.

[2019-08-14 18:21] probonopd commented on #1060
I have started working on it but keep running into issues building Brave (even before beginning to AppImage-ify it). Any hints appreciated.

* Travis build script: https://github.com/probonopd/brave-browser/blob/patch-1/.travis.yml
* Travis build log: https://travis-ci.com/probonopd/brave-browser

[2019-08-14 18:48] #5662 closed

[2019-08-14 19:06] zelea2 opened #5664 "brave-browser crashes with no error message (linux)"
## Description

brave-browser crashes  with no error message

$ brave-browser-stable
Trace/breakpoint trap
$ brave-browser-beta
Trace/breakpoint trap

strace isn't very helpful either:
27483 --- SIGTRAP {si_signo=SIGTRAP, si_code=SI_KERNEL} ---

last successful thing before the trap was:
27483 openat(AT_FDCWD, "/proc/", O_RDONLY|O_CLOEXEC|O_DIRECTORY) = 17
27483 newfstatat(17, "self/task/", {st_mo

[2019-08-14 19:16] rebron opened #5665 "rename instances of "People"/"Person" to "Profile""
## Description
Change instances of People/Persons to Profile.
1) For the menu on macOS, menu item should be relabeled Profile.
2) 'Add person' should be changed to 'Create a New Profile'.

Example:

<img width="322" alt="Screen Shot 2019-08-14 at 10 13 23 PM" src="https://user-images.githubusercontent.com/2602313/63068335-c9da7600-bee0-11e9-98da-2a815acaa9fa.png">

[2019-08-14 19:17] rebron commented on #5665
related: https://github.com/brave/brave-browser/issues/5213

[2019-08-14 19:38] rossmoody commented on #5368
Nice, I didn't know that file existed. This should do the trick.
[code]

[2019-08-14 19:38] ryanbr commented on #5532
Brave on the left, Chrome on the right. Struggling to see a difference between the two

![datev](https://user-images.githubusercontent.com/1659004/63050577-8d823680-bf2f-11e9-93f9-0a2630defb0d.png)

[2019-08-14 19:45] fishmi commented on #5532
Well, I guess that's a problem that only shows up with me, for whatever reason. In any case, nothing looks correct with me.
But if this cannot be reproduced, then it will probably not be solved. Too bad, Brave should become my standard browser. Then I have to look further.

[2019-08-14 19:49] fishmi commented on #5532
Brave on the left, Chrome on the right. It's not so hard to see the difference :-)

![screenshot_20190814_214814](https://user-images.githubusercontent.com/105578/63051305-48351900-bedd-11e9-9996-72a817f6fb6c.png)

[2019-08-14 19:50] fishmi commented on #5532
![image](https://user-images.githubusercontent.com/105578/63051432-83cfe300-bedd-11e9-9786-cf1e20b87b03.png)

This screenshot was not edited either :-)

[2019-08-14 20:00] fishmi commented on #5532
![image](https://user-images.githubusercontent.com/105578/63052066-c2b26880-bede-11e9-8af0-d168386affb4.png)

Unfortunately no current Windows update, my computer refuses this stubbornly.

[2019-08-14 20:07] Riggie1000 commented on #5532
Brave:
[https://drive.google.com/file/d/1IEz_972OuX7LmnRV1jGvYTuRdFHF7LzQ/view?usp=sharing](url)

Chrome:
[https://drive.google.com/file/d/15Ruk5af6aYf2QxG-_sKTioE1e5Wmckf6/view?usp=sharing](url)

[https://drive.google.com/file/d/1OuUrDOSj-BJYUG6TiCsQQ9zDaXc05osy/view?usp=sharing](url)

[https://drive.google.com/file/d/1RFKeIPbzSoWkrLlgmQi9jNXBHOdNjBpP/view?usp=sharing](url)

[https://drive.google

[2019-08-14 20:13] Riggie1000 commented on #5532
Brave:
![Brave](https://user-images.githubusercontent.com/33362740/63052804-9ac40480-bee0-11e9-83b6-1cbc7e698632.JPG)

Chrome:
![Chrome](https://user-images.githubusercontent.com/33362740/63052822-a31c3f80-bee0-11e9-9263-1732c27e941f.JPG)

![Brave version](https://user-images.githubusercontent.com/33362740/63052836-a7485d00-bee0-11e9-8f0e-aabf3880b9fc.JPG)

![Chrome version](https://user-images.gi

[2019-08-14 20:46] emerick commented on #4835
In browser-android-tabs:

- The stats updater is called every 5 minutes to perform a stats update check
- In addition to this periodic update, the stats updater is called in the following scenarios:
   - on application startup (in `ChromeBrowserInitializer.java`)
   - on application update (in `PackageReplacedBroadcastReceiver.java`, but this is commented out)
   - on application resume (in `Chrom

[2019-08-14 20:50] ryanml opened #5666 "Crypto Wallets entry is not present in official builds"
Should always be present, checks can be removed

[2019-08-14 21:18] edsonayllon commented on #5549
https://community.brave.com/t/brave-wallet-does-not-recognize-twitch-channels/74936

[2019-08-14 21:18] #5666 closed

[2019-08-14 21:19] #5337 closed

[2019-08-14 21:33] mandar-brave commented on #5549
Moving up the stack; below the 0.69 needs but should fix right after.
@alexwykoff

[2019-08-14 22:27] LaurenWags commented on #5628
Yes, happy to. Let's get on a call when you're available.

[2019-08-14 22:29] LaurenWags commented on #5283
@jacobjuul this will be fixed in 0.68.x, which is currently expected to be released next week. There will not be a fix for it in 0.67.x.

[2019-08-14 23:41] petemill commented on #5665
I'm also guessing we also want to migrate anyone's existing profile with the default name of 'Person 1' to 'Profile 1'. There is existing code in place to do this from the older chromium versions:

[2019-08-15 00:16] rebron commented on #5665
Yes, migrate existing Person 1 to Profile 1.

[2019-08-15 00:24] #5015 closed

[2019-08-15 00:35] fmarier commented on #5124
The first thing to do here would be to confirm that:

- this is still broken, and that
- the exception from the ruleset does make it to the leveldb database generated by `brave/https-everywhere-builder`.

If that's ignored, then it means that the bug lies in the Shields code which applies the HTTPS Everywhere rulesets.

[2019-08-15 00:38] bsclifton commented on #5283
@jacobjuul I believe you can visit:
chrome://flags/#omnibox-ui-hide-steady-state-url-path-query-and-ref

And then choose `Disabled`. As @LaurenWags mentioned, we'll also have a release next week fixing it 😄 (changing it to disabled ahead of time won't break anything)

[2019-08-15 00:39] pipboy96 commented on #5124
@fmarier thanks, will look into that.

[2019-08-15 01:09] btlechowski commented on #5604
Verification passed on

Brave | 0.68.129 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Tested on https://webtorrent.io/free-torrents. Checked torrents and magnet links.

[2019-08-15 01:09] fmarier commented on #3033
That's also fixed for me.

[2019-08-15 01:10] fmarier commented on #3033
Please open a new bug if you are still affected by this problem. None of the information I have provided in the initial investigation is relevant now that it's working on my machine.

[2019-08-15 01:10] #3033 closed

[2019-08-15 02:01] kjozwiak commented on #5651
Example of breakage can be found via https://github.com/brave/brave-browser/issues/5603 if QA needs a reference.

[2019-08-15 02:56] pipboy96 commented on #5124
Navigating to https://gs.statcounter.com/ didn't trigger the issue on current stable Brave version.

[2019-08-15 03:11] SergeyZhukovsky commented on #4835
Sounds good as to me. @bbondy do you have any comments about the above?

[2019-08-15 03:20] btlechowski commented on #5514
LGTM

Verification passed on

Brave | 0.68.129 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

[2019-08-15 03:20] #5514 closed

[2019-08-15 03:29] Xyncgas opened #5668 "The most recent version as of today, the download page in brave browser, is broken"
Yes I have searched it and no issues have been stated on this

## Description

The download page is not working, when you go to see the downloads, there is nothing to display (which there were a lot) and they will show up again after you have the tap for the download page to be opened and download something at the mean while.

## Steps to Reproduce

   1.  Open the download tap in the newest versi

[2019-08-15 03:31] Xyncgas commented on #5668
Expected :
![image](https://user-images.githubusercontent.com/35312807/63071025-516cb880-bed2-11e9-80b1-e610dcf2e9dc.png)
Actual :
![image](https://user-images.githubusercontent.com/35312807/63071045-719c7780-bed2-11e9-967b-a66930599c4b.png)

[2019-08-15 03:35] Xyncgas commented on #5665
No I don't think you need to switch to profile
Then brave will be the same as google chrome
I like the way this is so it gives me a feeling that brave is not storing some account as applicable "profiles" in the cloud.fogs and instead keeping things local like person A and person B

[2019-08-15 03:39] Xyncgas opened #5669 "Feature request : add version re-rolling in about page"
It would be nice to have the option to re-roll to the previous version if anything goes wrong or the user doesnt like where brave is going, and can let the user to have the option to pause download, even to join in for future update or security alerts if they would like or maybe let them to have the ability to select versions/branches of the brave browser to continue on

[2019-08-15 04:27] rebron commented on #5669
Hi @Xyncgas. Thanks for the suggestion. If you have suggestions for features please start out at community.brave.com. We need to keep our github issues/stories specific, actionable and something that makes sense for our users.

Closing and marking wontfix.

[2019-08-15 04:27] #5669 closed

[2019-08-15 04:27] Xyncgas commented on #5669
Thank you

[2019-08-15 04:28] rebron commented on #5668
Closing, dupe of https://github.com/brave/brave-browser/issues/5330. @Xyncgas will +1 that issue for you.

[2019-08-15 04:28] #5668 closed

[2019-08-15 04:29] rebron commented on #5330
+1 from @Xyncgas via #5668

[2019-08-15 04:30] Xyncgas commented on #5668
Yeah alright

[2019-08-15 04:30] Xyncgas commented on #5668
I am watching as for this
Also will see what I can do

[2019-08-15 06:37] jacobjuul commented on #5283
@bsclifton I thought so, but unfortunately it doesn't

[2019-08-15 06:45] #5582 closed

[2019-08-15 09:31] jonathansampson opened #5670 "Twitter Tips and Vimium"
## Description
Vimium is incapable of finding the Twitter Tip buttons.

## Steps to Reproduce
1. Install [Vimium](https://chrome.google.com/webstore/detail/vimium/dbepggeogbaibhgnhhndojpepiihcmeb?hl=en)
2. Reveal _local hints_ by pressing `f`

## Actual result:
Tip buttons are not given a hint label.

## Expected result:
Tip buttons are given a hint label.

## Reproduces how often:
Always.

## Bra

[2019-08-15 09:43] jonathansampson commented on #5670
The move here may be to work with Vimium to better understand the issue, and resolve it from their end.

[2019-08-15 11:18] CupCakeArmy commented on #5207
How does one change the current name or icon? I can only set it wen I create a new profile

[2019-08-15 13:15] Laurence02 commented on #5330
Still exists in Version 0.69.107 Chromium: 76.0.3809.100 (Official Build) beta (64-bit).

[2019-08-15 13:16] simonhong opened #5672 "Provide the way to prevent autoupdate on Windows"

[2019-08-15 13:43] bbondy opened #5673 "Add a switch to disable Brave Wallet"
Add a switch in preferences alongside the IPFS and WebTorrent one to disable Brave Wallet functionality. This will prevent it from being loaded and even installed if one navigates to brave://wallet.

If you disable it should not show the option in the hamburger menu for the wallet. It should also fail to load if you go direct to brave://wallet, it should say blocked.

There's a distinction that's

[2019-08-15 14:16] pilgrim-brave opened #5674 "Greaselion scripts can't communicate with extensions"
To support tipping on Twitter (and elsewhere), Greaselion scripts will need to communicate with extensions with a subset of the extension API (`chrome.runtime.sendMessage` at least). The current Greaselion architecture does not allow for this, because the isolated world in which we execute the scripts does not have the extension API available.

[2019-08-15 14:24] emerick commented on #4822
Used remote debugging to confirm that `User-Agent` header includes `Brave Chrome` when visiting duckduckgo.com and just `Chrome` when visiting other sites. Will attach screenshots.

[2019-08-15 14:26] emerick commented on #4822
Closing as it appears to be working as intended on Android.

[2019-08-15 14:26] #4822 closed

[2019-08-15 15:05] btlechowski opened #5675 "Misplaced page elements on theguardian.com"
Original report: https://community.brave.com/t/messes-up-top-menu-strange-indenting-or-paragraphs-and-site-wont-load/75254

Note: theguardian.com is a verified publisher

## Steps to Reproduce

Note: the reproducibility of this issue depends on viewport size.

   1. Open `https://www.theguardian.com/uk/lifeandstyle`
   2. Resize browser window (I resized to 1116x543)
   3. Click `More` in the top

[2019-08-15 15:51] GeetaSarvadnya commented on #5534
I am seeing the same issue in Dev channel. Uploading Dev profile for further analysis.
https://drive.google.com/open?id=1SKqHXgkqMd7j-JiT5fzf0b204hWiLTcq

cc @evq @jsecretan

[2019-08-15 16:17] jseidl commented on #4280
Just to update the community on this topic, we're still investigating this issue. We created a full CentOS build environment to make sure it is linked to the correct GLIBC but we've encountered some steps on our build process that are failing on this environment.

Our team is working hard to solve it and we'll keep you posted as soon as we have any new updates.

[2019-08-15 16:23] stefanmendoza opened #5676 "Scrolling while loading causes page contents to become unanchored"
## Description

Scrolling while loading allows the page contents to become unanchored.

## Steps to Reproduce

1. Start at a webpage
2. Attempt to navigate to another webpage
3. Start scrolling immediately when you click to navigate to another webpage
4. The page will become unanchored and will allow scrolling past the page both above and beyond. This also seems to carry over when navigating to ot

[2019-08-15 16:32] mbacchi opened #5677 "linux signing fails with "SyntaxError: non-keyword arg after keyword arg""
Need to fix https://github.com/brave/brave-core/blob/master/script/sign_upload_linux_pkgs.py syntax.

[2019-08-15 16:49] #5677 closed

[2019-08-15 17:06] btlechowski commented on #4567
Removed QA/Yes per above comment

[2019-08-15 17:29] agentofuser commented on #5670
Thank you for looking into this! I've also observed this on github tipping buttons, as expected.

[2019-08-15 17:40] emerick commented on #4841
Looked at this briefly and noticed a few things we'll want to address:

1. Need to set `enable_brave_referrals` to true for android in `buildflags.gni`
1. Need to update `GetPlatformIdentifier` to support `OS_ANDROID`
1. Need to find a different approach to opening offer page in new tab, as we can't include `browser.h`
1. Need to find a different approach to tracking first run, as `first_run.cc` d

[2019-08-15 18:02] WorryTheBirds12 opened #5680 "Feature | Cookie Autodelete"
**Feature**: Add Cookie Autodelete to Shields
**How?**: There is an extension for this:
https://github.com/Cookie-AutoDelete/Cookie-AutoDelete
But it hasn't yet been ported to Brave
Ideally speaking, I would like to see this added to the shields.

[2019-08-15 18:28] MagicalDrizzle opened #5681 "Options in the download bar being whited out"
## Description
When download a file, options in the download bar will have a solid white color.

## Steps to Reproduce

   1. Initiate a download.

## Actual result:

![downloadbar](https://user-images.githubusercontent.com/49761211/63116614-48f4aa80-bfc4-11e9-90c7-124e5a378e64.jpg)

## Expected result:
Options should show normally.
![dbar2](https://user-images.githubusercontent.com/49761211/63116

[2019-08-15 18:31] rebron opened #5682 "import using account seed phrase broken link"
## Description
Returning to brave://wallet can't use "import using account seed phrase"

## Steps to Reproduce
   1. Go to brave://wallet
   2. Close browser and go back to brave://wallet (so you're logged out and see Welcome Back! screen)
   3. Click "Import using account seed phrase"
   4. Notice it takes you to a blank brave://wallet page.

## Actual result:
![Screen Shot 2019-08-15 at 11 27 46

[2019-08-15 18:39] ryanml commented on #5682
Note: Import is functional, just not from the path where you have already created an account

[2019-08-15 19:13] emerick opened #5683 "Compiler warning about brave_infura_project_id on mobile platforms"
@kylehickinson mentioned seeing the following warning while building for iOS and I saw the same on Android:

[code]

[2019-08-15 19:16] #5683 closed

[2019-08-15 19:48] emerick opened #5685 "Tipping a user's likes on Twitter results in incorrect username in tweet message"
## Steps to Reproduce

1. Visit twitter.com/brave/likes
1. Click tip button on any Tweet
1. Click the Tweet button after tipping

## Expected result

## Actual result

Reported by @jonathansampson. Also occurs with twitter.com/brave/with_replies and twitter.com/brave/media, so we should handle all of these properly.

[2019-08-15 20:08] #4848 closed

[2019-08-15 21:20] LaurenWags commented on #5450
Reproduces on 0.67.125 also:

Brave | 0.67.125 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

![Screen Shot 2019-08-15 at 5 19 31 PM](https://user-images.githubusercontent.com/28145373/63127656-eb8b3a00-bf80-11e9-8e61-d4a065670c0e.png)

[2019-08-15 22:05] LaurenWags commented on #5651
Verified passed with

Brave | 0.68.130 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified STR from https://github.com/brave/brave-browser/issues/5603

[2019-08-15 22:12] LaurenWags commented on #5605
Tried scrolling, still unable to reproduce. Video does not play automatically for me.

@GeetaSarvadnya @kjozwiak could you guys try as well?

Brave | 0.68.130 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

![5605](https://user-images.githubusercontent.com/28145373/63130337-1462fd80-bf88-11e9

[2019-08-15 22:12] fmarier commented on #4903
Here's how alternative services are implemented in Chrome.

When an [`Alt-Svc` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Alt-Svc) or an equivalent H2 frame is seen, a new `AlternativeServiceInfo` object is created and eventually added via [`SetAlternativeServices()`](https://cs.chromium.org/chromium/src/net/http/http_server_properties_impl.cc?l=395&rcl=efd50a214369fdcc87104

[2019-08-15 22:15] fmarier commented on #4903
Alternative services are used for the following purposes:

1. [load-balancing on the client-side without using DNS](https://www.mnot.net/blog/2016/03/09/alt-svc) (e.g. `https://example.com` sends `Alt-Svc: h2="other.example.com:443"`)
2. upgrading an HTTP/1.1 connection to `H2` (e.g. `https://example.com` sends `Alt-Svc: h2=":443"`)
3. [upgrading an HTTP connection over Tor to an `.onion` address]

[2019-08-15 22:18] rebron commented on #5619
@Leon0402 Can you update via brave://settings/help and see if it reproduces on Version 0.70.66 Chromium: 76.0.3809.100 (Official Build) dev (64-bit)

That's the current dev version.

[2019-08-15 22:23] lukemulks commented on #4239
I'm so late in the game on this thread @snyderp, apologies; to answer your question, it sounds good to me.

[2019-08-16 02:35] kjozwiak commented on #4799
Labelling this as `QA/No`. QA has been checking `ads` on both production & staging on desktop/android.

[2019-08-16 03:39] bbondy opened #5686 "Localization not working with Brave Wallet."
Things are not being translated per one report on Slack.

[2019-08-16 05:43] jonathansampson commented on #2310
@rebron I haven't seen this in a while.

[2019-08-16 05:43] #2310 closed

[2019-08-16 07:25] GeetaSarvadnya commented on #842
The crash ID isn't uploaded. By default send crash report is enabled in Beta even though crash ID isn't uploaded, even browser restart doesn't help

Brave | 0.69.107 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

Crash Id isn't uploaded in Release cha

[2019-08-16 07:57] GeetaSarvadnya commented on #5513
Looks good hence closing the issue.

[2019-08-16 07:57] #5513 closed

[2019-08-16 08:45] Leon0402 commented on #5619
Hi @rebron I updated Brave-dev to the latest available version in my Linux repo, which is
Version 0.70.65 Chromium: 76.0.3809.100 (Official Build) unknown (64-bit)
-> One minor version behind

The bug still exists in that version, should it be already resolved or does the fix come with .66?
The error message is still the same `“brave-dev” terminated by signal SIGSEGV (Address boundary error)
`
The

[2019-08-16 10:08] opvasger commented on #815
I'd love to see this fixed! If there's any kind of help that I can provide, let me know! :sunny:

[2019-08-16 10:31] ryanbr commented on #5675
I wonder if its similar to reflow breakage reported on yahoo https://github.com/brave/brave-browser/issues/5643

[2019-08-16 10:44] ryanbr commented on #5532
It could be a possibility that the ads elements extend the page out, so when we block them it'll collapse the ad elements making the screen/div smaller. If you use uBo + Chrome, does it do the same thing?

[2019-08-16 11:38] ryanbr commented on #4986
Something like this:

[code]

We support all of these lists in Easylist / Easylist authors.

[2019-08-16 12:29] ryanbr commented on #5634
Does this work now @chkk525 ? (may need to clean cookies first)

[2019-08-16 12:31] ryanbr commented on #5635
Is the link correct @chkk525 ?  I don't see any expedia elements on dmm

[2019-08-16 13:14] #4835 closed

[2019-08-16 14:09] LaurenWags opened #5687 "sometimes generic world favicon displayed instead of generic reddit favicon"
## Description
Sometimes the generic "world" favicon is displayed in the panel instead of the generic reddit favicon.

Maybe similar/related to https://github.com/brave/brave-browser/issues/4016 - unsure.

## Steps to Reproduce

1. Clean profile.
2. Enable Rewards
3. I visited https://www.reddit.com/u/jsadler-brave, opened the panel. Verified correct info.
4. Closed panel.
5. Clicked on `alex_the_

[2019-08-16 14:25] bbondy opened #5688 "Session restore shows brave://wallet as a blank page"
If you leave brave://wallet open then close and open the browser, it only loads a blank page. You have to refresh and then it works.

[2019-08-16 14:50] Riggie1000 commented on #5532
What is uBo? Is it an extension in Chrome? Do u mean uBlock Origin? I tried and now here is the result:

Chrome + uBlock
![Chrome uBlock](https://user-images.githubusercontent.com/33362740/63175780-058e5080-c045-11e9-95af-dd15c3c14cdc.JPG)

Brave + uBlock
![Brave with uBlock without Shield](https://user-images.githubusercontent.com/33362740/63175809-12ab3f80-c045-11e9-8550-e30229e27384.JPG)

Brave

[2019-08-16 14:58] Riggie1000 commented on #5532
What I can say, is, that sometimes also in Chrome there are less ads. There are a max of 2 ads on the sides and one upside as you can see in my first post.

[2019-08-16 15:11] LaurenWags commented on #5519
cc @rebron

[2019-08-16 15:27] LaurenWags commented on #5336
@NejcZdovc we've got a report of this in from community as well: https://community.brave.com/t/unable-to-open-brave-rewards-with-triangle-icon-in-internet-search-box/75914

[2019-08-16 15:39] LaurenWags opened #5689 "populate list of brave:// pages the way chrome:// pages are populated"
## Description
When typing `brave://` into the URL bar, nothing comes up. However, if you type `chrome://`  you get a list of pages.  It would be nice if `brave://` acted the way `chrome://` does.

Especially if typing something like `brave://b` it populated with `brave://bookmarks`, etc.

Not sure if this would be accomplished with https://github.com/brave/brave-browser/issues/1601 or possibly re

[2019-08-16 15:41] kjozwiak commented on #5519
Quick work around if you run into this issue after upgrading to `0.68.x` from `0.67.x`:

* Find tabs that have PDF's opened (most likely failing to refresh/load)
* remove `chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/`
* once the above portion of the URL is removed, the PDF should load correctly

[2019-08-16 16:18] rebron commented on #5510
@simefield Do you have an example website or web page handy? If not, we'll go ahead and write a simple test case for it.

[2019-08-16 16:38] rebron commented on #5508
Might be fixed with the fields trial fix in 68.x cc: @kjozwiak

[2019-08-16 16:43] rebron commented on #5519
wontfix. We'll handle via support.

[2019-08-16 16:43] #5519 closed

[2019-08-16 16:43] rebron commented on #5519
cc: @Brave-Matt

[2019-08-16 16:44] rebron commented on #5523
@ryanbr Would an explicit block option help here?

[2019-08-16 16:49] rebron commented on #5532
@Riggie1000 @ryanbr with shields down, are we rendering the same as Chrome?

[2019-08-16 16:53] rebron commented on #5538
Closing. Should be fixed with 68.x, pdf changes.

[2019-08-16 16:53] #5538 closed

[2019-08-16 16:55] jumde opened #5690 "Add key for brave services"
## Description
Requests to brave services will use the brave services key

[2019-08-16 16:56] bridiver commented on #842
@GeetaSarvadnya did you restart the browser? There is throttling on the crash upload and sometimes it doesn't show up until you restart

[2019-08-16 16:56] jumde opened #5691 "Add brave services key to the npm config"

[2019-08-16 16:58] rebron commented on #5553
@jrizz43 Does this happen with Shields down?
cc: @ryanbr

[2019-08-16 17:09] rebron commented on #5601
@mkarolin Already added in?

[2019-08-16 17:14] rebron commented on #5618
Possibly blocking a script from Google that's doing the styling.

[2019-08-16 17:15] rebron commented on #5619
cc: @tmancey Can you take a look?

[2019-08-16 17:17] rebron commented on #5622
@Brave-Matt Can you help @Th3-A6add0n for this one?

[2019-08-16 17:24] rebron commented on #5642
cc: @pilgrim-brave

[2019-08-16 17:27] rebron commented on #5644
Closing. Brave Ads are off by default, you have to opt-in to Brave Rewards/Brave Ads and can also toggle these in Rewards settings.

[2019-08-16 17:27] #5644 closed

[2019-08-16 17:32] champsilva opened #5692 "Freeze on alt+tab"
<!-- Have you searched for similar issues? Before submitting this issue, please check the open issues and add a note before logging a new issue.

## Description
When alt tab, and back to Brave create a freeze for a couple of seconds.

## Steps to Reproduce

   1. Open Brave and open a couple tabs
   2. Alt+tab for another program, ie: Photoshop
   3. Back to Brave

## Expected result:
Small freeze

[2019-08-16 17:38] mkarolin commented on #5601
@rebron should be pulling the latest for 0.68.x today.

[2019-08-16 17:52] anotherzen opened #5693 "analytics.js not being reported as blocked via shields on some websites (polyfilled vs blocked)"
## Description
Not sure if this is by design or not.

I am seeing on some sites that are using analytics.js, the shield is not reporting them blocked or they might not even be blocked. Specifically i was looking at https://bitwarden.com/ where on the previous version of Brave it would show a 1 on the Shield. But on v0.67.125 there is nothing being shown as blocked. This happens on some other sites

[2019-08-16 17:57] ryanml opened #5694 "Backup Phrase filename contains MM Language"
Currently the file is named `MetaMask Secret Backup Phrase`

[2019-08-16 18:26] thezeroalpha commented on #5436
Could it perhaps be possible to disable the notice after seeing it once (a "don't show again" type of functionality)? [See here for a discussion of why it might be a good idea.](https://support.google.com/chrome/thread/11549634?hl=en).

AFAIK this comes from the new build of Chromium, but I don't think Google will change anything about it, and I thought it might be possible to change it for Brave

[2019-08-16 18:31] ivandotv opened #5696 "Application icon and name are positioned over window buttons."
## Description
Application icon and name are positioned over window buttons and buttons don't work.
Please note that this is happening with desktop apps only (create shortcut, open in new window)

## Steps to Reproduce

   2. Make windows system use window buttons on the left (close,minimize,maximize)
   1. Create web application ( create shortcut)

## Actual result:

![Screenshot from 2019-08-16

[2019-08-16 18:43] LaurenWags commented on #4801
Verified passed with

Brave | 0.68.130 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2662.

[2019-08-16 18:44] jumde opened #5697 "New yubikeys don't work with stable version"
## Description
Upstream fix here: https://chromium-review.googlesource.com/c/chromium/src/+/1757608

## Steps to Reproduce
   1.  Use the new YubiKeys to register/authenticate with GitHub

Also see https://github.com/brave/brave-core/pull/3199

## Actual result:
Fails

## Expected result:
Should succeed

## Reproduces how often:
Easily

## Brave version (brave://version info)
Version 0.67.125 Chro

[2019-08-16 18:46] diracdeltas opened #5698 "support restoring from metamask words in crypto-wallet"
it should have an option for restore from metamask

[2019-08-16 18:55] #5694 closed

[2019-08-16 20:01] tamj0rd2 commented on #5618
But I would think that whatever's responsible for providing syntax highlighting for files in the devtools would be shipped with Brave?

[2019-08-16 20:12] LaurenWags commented on #5538
Verified passed with

Brave | 0.68.130 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* reproduced issue using STR above on 0.67.125. Could not reproduce issue on 0.68.130.

[2019-08-16 20:13] Riggie1000 commented on #5532
As I said before and as you can see on my 5 pics above, there is no difference between shields up or down. Yes, with shields no ads, but the background is not nice as with shields down.

[2019-08-16 20:33] Neustradamus commented on #598
Any news?

[2019-08-16 20:45] mkarolin opened #5701 "Update localization based on Chromium 76.0.3809.1xx."
This should also address #5601.

[2019-08-16 21:03] LaurenWags opened #5702 "inline 'Tip' text does not change color on hover on reddit"
## Description
When hovering over 'Tip' text on in line tipping for Twitter and Github (0.70.x and above), the text color for the word 'Tip' changes color. This does not happen for in-line tipping for reddit (reddit.com, old.reddit.com, np.reddit.com).

## Steps to Reproduce

   1. Have Rewards enabled. Navigate to one of the reddit sites.
   2. Hover over an in-line Tip button.

## Actual result:

[2019-08-16 22:50] BMACCRYPTO opened #5703 "[SOLVED] Malformed entry 1 - failed install - UBUNTU 19.04"
## Description
New install Ubuntu Disco Dingo 19
I used instructions from:
https://support.brave.com/hc/en-us/articles/360018666072-How-do-I-install-Brave-on-Linux-using-the-terminal-

sudo apt install apt-transport-https

curl -s https://brave-browser-apt-release.s3.brave.com/brave-core.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-release.gpg add -

source /etc/os-release

ec

[2019-08-17 01:20] daviddahl commented on #937
Actually, Now that I understand the *label* in both chrome and brave, this seems as though it is implemented and this issue should be closed, no?

![image](https://user-images.githubusercontent.com/23880/63204964-a1cb4e00-c06b-11e9-865d-c92f2555064f.png)

[2019-08-17 01:49] ryanbr opened #5704 "Issues on itch.io"
## Description
Visit `https://cnnmon.itch.io/kittyclinic` or `https://broken-arms.itch.io/vegaman` With Sheilds up (Will prevent these sites from loading correctly)

## Steps to Reproduce

   1.  Visit and let `https://cnnmon.itch.io/kittyclinic`
   2. Wait and watch for the error to generate.
   2. ![itchio](https://user-images.githubusercontent.com/1659004/63205022-527c3080-c0f2-11e9-910a-199c9a

[2019-08-17 03:38] chkk525 commented on #5636
@ryanbr i sent test user/pass via slack

[2019-08-17 03:42] chkk525 commented on #5635
@ryanbr Sorry the URL was incorrect. I updated it.

[2019-08-17 03:59] ryanbr commented on #5636
Can confirmed its not a sheilds issue.  Chrome works fine.

[2019-08-17 04:35] thesohelshaikh commented on #598
As @bsclifton said this isn’t priority, I don’t think this is being worked on. It’s been a year since this issue was raised and still no progress. There are so many approaches to solve this problem which also do not require to write extra code.

One other option I can think of is allowing the user to download the compiled version of the browser and then user can place it anywhere.

[2019-08-17 06:12] sakralbar commented on #2362
No push notifications with last version of Brave both Linux and Android platform.

[2019-08-17 07:43] ryanbr commented on #5523
I'm not sure whats going on, page seems to lock up when sheilds is enabled. And if I whitelist the 2 scripts being listed, it doesn't help. The other strange thing, it works okay when UBO is enabled.

[2019-08-17 07:59] ryanbr commented on #5553
I had no issues here;

https://secure.fanboy.co.nz/gif/mixer.gif

[2019-08-17 08:21] ryanbr commented on #5635
Should been resolved with the commit previously;

`@@||travel-assets.com/platform-analytics-prime/$script
`

[2019-08-17 19:51] snives opened #5705 "Brave shields: Script blocking doesn't remember selections permanently"
## Description
Using Brave Shields, enabling script blocking, and then selecting the mix of scripts I wish to allow, does not permanently remember this selection for this website.  In effect, the site is broken without enabling a certain set of scripts, thus because brave only remembers these settings "one time", the site will always be broken (unless I disable all script blocking of course, which

[2019-08-17 20:05] BMACCRYPTO commented on #5703
**I have resolved this issue:**
I received the following failure on brave browser installation attempt:
`$ sudo apt update
E: Malformed entry 1 in list file /etc/apt/sources.list.d/brave-browser-release-.list (Component)
E: The list of sources could not be read.
`
![Screenshot from 2019-08-17 15-47-20](https://user-images.githubusercontent.com/54191629/63216765-98dc8a00-c108-11e9-936d-9653328f7d9f

[2019-08-17 20:10] BMACCRYPTO commented on #5703
`$ sudo apt install brave-browser
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  brave-keyring
The following NEW packages will be installed:
  brave-browser brave-keyring
0 upgraded, 2 newly installed, 0 to remove and 212 not upgraded.
Need to get 72.9 MB of archives.
After this operation, 236 MB of ad

[2019-08-17 20:10] #5703 closed

[2019-08-18 03:04] mishaley commented on #3968
Agreed, I also need this to fully move over to Brave.

[2019-08-18 03:13] bbondy commented on #5558
Do you have any of the tiles pinned? My top sites are accurately the top sites I visit.
We'll be adding the ability to add more sites.   You can also click on the x to get rid of one if you don't want it there.

[2019-08-18 05:10] diposs commented on #5681
Problem Fixed
Brave version (brave://version info)
Brave
 0.68.130 Chromium: 76.0.3809.100 (Official Build)
![Screenshot (85)](https://user-images.githubusercontent.com/23644736/63220416-df6ccb80-c17e-11e9-9e18-07937e4102fc.png)

[2019-08-18 06:47] ChildishGiant opened #5706 "Request: Expand sync to search engines and general app settings"
I have lots of custom search engines and a certain setup for my browser. I think it'd fit well into the brave sync eco system for brave settings, including search engines to be synced. Other candidates for sync adoption would be extensions and maybe even brave wallets but I know that the latter is likely to never happen due to the nature of wallets.

[2019-08-18 08:10] Joe23232 opened #5707 "Bug: Download manager shows nothing!"
When downloading something, when I press `ctrl+j` it opens Brave's download manager but it shows nothing but if I make the window smaller and then make the window maximised again, then it shows all the previous downloads and what you are downloading.

I am running Windows 10, and I am using the dark theme.

[2019-08-18 11:10] markg85 commented on #5558
It is really far from accurate for me. Some sites i visit, say, once a week are in there seemingly persistently and sites i visit very often keep ketting appearing and being kicked out seemingly randomly.

I have no sites pinned.
I had no sites closed, but i did do that now. But that too is very wonky at best. As i tried to close about 5 at which point i now just have just one tile less (just 5 in

[2019-08-18 11:13] SchroedersKater commented on #820
Same here. I better not trust any new browser. The can tell a lot.

[2019-08-18 12:26] 360fun commented on #5576
Hi, I'm just testing Brave and I find it a really cool and innovating project, 😄  but this "forced update" policy is what reminds me of Google and other companies vertical behaviours. I'm using 4G connection right now (so I've limited gigas) and it's absurd that there's no setting (not even a hidden one) to prevent updates to steal **my Internet data**. 😭

People here just ask for an option, you c

[2019-08-18 17:16] coleberhorst opened #5708 "Bookmark bar no longer shows on new tab page"
## Description
In Chrome and Brave when you hid the Bookmark bar to increase viewing area, the bar still shows on a new tab page. The current change within a couple of days makes the hidden bookmark bar always hidden, rendering it useless.

This change occurs is new chrome build, so I guess this is a feature request to diverge from Chrome UI slightly.

## Steps to Reproduce

   1. Hide the bookmar

[2019-08-18 17:30] coleberhorst opened #5709 "Import settings from other Brave profile fails"
## Description
In settings when you select import bookmarks and settings and choose another Brave profile, nothing happens.

## Steps to Reproduce
1. Change to a different User profile.
2. Go to settings <chrome://settings/importData>
3. Select Chrome Person 1
4. Click import with everything checked.

## Actual result:
No changes to history or bookmarks.

## Expected result:
Cookies, bookmarks and

[2019-08-18 22:01] simefield commented on #5510
Here's an example: https://codepen.io/simefield/pen/YzKWgZG
The space between the two grey border lines is 8 pixels in Chrome and other browsers, but observe this becomes 12 pixels in Brave because of the offending setting.

I also think my point is being missed. This setting should not exist at all. There should be no minimum default font size setting. At least, not one that affects the base REM

[2019-08-18 22:10] jtslear commented on #4142
I would not have thought Brace to be the culprit, I was chasing my mime configuration for quite awhile before I stumbled on this issue.  I'd love to help assist in any way I can to help resolve this issue.

My method of reproducing the problem is performing the following:

[code]
I ran an strace on the main pid at the time of the test, results are logged here:

https://gist.githubusercontent.com/j

[2019-08-18 23:27] andr222 commented on #5510
If the choice is between readable and possible layout problems, the answer should be clear.
Some users can't read smaller type, so they need such a setting.  Others would be happy with a 6 pixel minimum, which seems to be a reasonable default.  (That is the default in some other browsers)
If it isn't working properly, it needs to be fixed

[2019-08-18 23:47] cndouglas opened #5710 "New tab page has an extraneous zero"
## Description
On the new tab page, there is an extraneous zero between the stats and time.

It seems to be a part of the stats section because turning off "Show Brave Stats" makes the zero disappear.

## Steps to Reproduce
   1. Open a new tab. You may want to disable the background image to see the zero easier.

## Actual result:
![](https://user-images.githubusercontent.com/19424103/63231895-e4

[2019-08-19 00:24] kangarooo opened #5711 "[Feature request] Option to bookmark all tabs"
## Description
Android, IOS, Windows option to bookmark all tabs.
I didn't know that cant sync bookmarks, so want to bookmark all, but currently can only one by one and then sync bookmarks on Windows Brave to export.
Needed to then at least to bookmark all tabs option so save all not to lose productivity.

## Expected result
Button under menu [Bookmark all tabs]

[2019-08-19 00:25] kangarooo commented on #4412
Ok, at least then new Feature would solve- an option of button click to bookmark all opened tabs.
#5711
https://github.com/brave/brave-browser/issues/5711

[2019-08-19 01:47] ryanbr opened #5712 "Device recognition preventing uphold.com from verifying documents."
When verifying customer documents with Sheilds up on 0.67.125 and a US driver’s license, we get a “Sorry, this file type is not supported” error.

`Signup is ok, this is the (also-important) identity verification piece.`

With some troubleshooting, I confirmed that allowing all device recognition fixed the verifying issue.

Can we whitelist uphold.com (specifically Device recognition)

[2019-08-19 02:03] Th3-A6add0n commented on #463
Any news on this?

[2019-08-19 03:44] spoolr commented on #3179
Yes, please fix this.  Tired of per page unending notifications.

[2019-08-19 04:41] bsclifton commented on #598
While it's unofficial, there is a portable version of Brave available:
https://portapps.io/app/brave-portable/

It seems to be kept up to date; props to the maintainers for that work 😄

[2019-08-19 04:53] NejcZdovc commented on #5588
closing as @mandar-brave can't reproduce it anymore

[2019-08-19 04:53] #5588 closed

[2019-08-19 04:57] bsclifton commented on #2420
Closing as stale

[2019-08-19 04:57] #2420 closed

[2019-08-19 04:58] bsclifton commented on #5709
Closing as a duplicate of https://github.com/brave/brave-browser/issues/1357

@coleberhorst there isn't a way to import from another instance of Brave at the moment... only a way to import from Chrome/Chromium (as you saw) and the legacy version of Brave (aka Muon)

[2019-08-19 04:58] #5709 closed

[2019-08-19 05:09] bsclifton commented on #5708
Thanks for the report @coleberhorst! We already have this captured with https://github.com/brave/brave-browser/issues/4782 and @simonhong is working on a fix (which you can check out here: https://github.com/brave/brave-core/pull/2869)

Closing as duplicate

[2019-08-19 05:09] #5708 closed

[2019-08-19 05:11] bsclifton commented on #5576
There is an unofficial project that folks can try- there is a portable version of Brave which I don't believe will update itself. This project is not associated with Brave Software, but it might be a potential solution for folks wanting this functionality:

https://portapps.io/app/brave-portable/

[2019-08-19 05:13] bsclifton commented on #5707
Thanks for the report, @Joe23232!

This is a known issue which has been reported with https://github.com/brave/brave-browser/issues/5330

I haven't had time to look into a fix yet... but we have some clues (@mkarolin is working on upgrade to Chromium 77 and the issue no longer happens there). Closing this issue- you can subscribe to https://github.com/brave/brave-browser/issues/5330 for updates

[2019-08-19 05:13] #5707 closed

[2019-08-19 05:16] bsclifton commented on #5635
@chkk525 is this still happening? I tried the URL above and it appears to work

[2019-08-19 05:31] bsclifton commented on #2362
@jumde is assigned to https://github.com/brave/brave-browser/issues/2301 which (when fixed) should also fix this

We've got to look at a few things:
- does using the service use a Google API key? some services (translations, speech api) require the caller provide an API key which has rate limits. Some limits are low and increasing them means we would need to evaluate the cost
    - if the service

[2019-08-19 06:10] NejcZdovc commented on #5229
closing as it should be fixed with brave/brave-core#3074. Let's reopen if we still see this problem

[2019-08-19 06:10] #5229 closed

[2019-08-19 06:13] NejcZdovc commented on #5536
moved to correct repo https://github.com/brave-intl/publishers/issues/2160

[2019-08-19 06:13] #5536 closed

[2019-08-19 06:14] NejcZdovc commented on #5535
moved to correct repo https://github.com/brave-intl/publishers/issues/2161

[2019-08-19 06:14] #5535 closed

[2019-08-19 06:57] GeetaSarvadnya commented on #5681
could be same as #3381

[2019-08-19 07:04] bsclifton commented on #3063
Closing - let's re-open if the issue still exists

[2019-08-19 07:04] #3063 closed

[2019-08-19 07:10] bsclifton commented on #5705
Thanks for the report, @snives - we're tracking this feature request with https://github.com/brave/brave-browser/issues/1889

I'll give it a bump on your behalf 😄 Be sure to subscribe if you would like updates

[2019-08-19 07:10] #5705 closed

[2019-08-19 07:13] bsclifton commented on #1889
+1 from @snives via https://github.com/brave/brave-browser/issues/5705

[2019-08-19 07:39] chkk525 opened #5713 "Fails loading chedder.com article on Nightly with Shield activated"
## Description

Fails loading chedder.com article and shows blank page.

## Steps to Reproduce

1. Open an article i.e https://cheddar.com/media/portland-mayor-to-hate-groups-we-don-t-want-you-here
2. Wait for page load (or scroll a little to bottom)
3. Screen turn into blank

Notes
## Actual result:

![ダウンロード](https://user-images.githubusercontent.com/3054915/63247348-cd367e80-c29f-11e9-8f12-b2

[2019-08-19 07:47] chkk525 opened #5714 "Google spreadsheet keep loading("Working") on Nightly"
## Description

Google Spreadsheet keep loading(saying "Working") forever in Nightly.

## Steps to Reproduce

   1. Open a google spreadsheet file (i.e. https://docs.google.com/spreadsheets/d/1YSuOsDeZDU_xSJiAJtMJ3aiSPbR8R-t9Lxh4pkGvlGc/edit#gid=0)
   2. Keep loading forever

## Actual result:

The message "処理中" says it's "Working"
![image](https://user-images.githubusercontent.com/3054915/6324775

[2019-08-19 08:08] chkk525 opened #5715 "Top banner area unexpectedly removed on viz.com on Nightly"
## Description

- Top banner is removed in viz.com

## Steps to Reproduce

   1. Open https://www.viz.com/

## Actual result:

![image](https://user-images.githubusercontent.com/3054915/63248999-85b1f180-c2a3-11e9-853b-5b729e88a896.png)

## Expected result:
- The page should be like on Chrome

## Reproduces how often:

- Easily reproduced

## Brave version (brave://version info)

Brave	0.71.15 Chr

[2019-08-19 08:09] cinereous commented on #598
Having to use an unofficial third party version to do what the official build should be able to do seems sketchy and weird.  What issues are preventing this from being addressed?

What needs to be done for the developers at Brave to embrace a new way of thinking about how the web works and give us users a safer and better browsing experience, including something as simple and fundamental as the ch

[2019-08-19 08:13] GaWdLy1 opened #5716 "Brave browser blocks screen saver when not minimized"
## Description
If the Brave browser is left maximized, screensaver will not trigger, screens will not sleep. It doesn't seem to matter what tab is visible-if I do not minimize, my screens never sleep.

## Steps to Reproduce

   1. Fail to minimize
   2. Wait <time> for screensaver to kick in
   3. No screensaver
   4. Minimize Brave
   5. Screensaver kicks in

## Actual result:
Screensaver does no

[2019-08-19 09:54] Igorek536 opened #5717 "Add support for setting the scroll speed of the mouse wheel."
Dear developers,
    I actively use Brave browser to work on different operating systems. There is one significant problem
which interfere with productive use of this product. The scroll speed on Linux is very slow and I can't configure it.
System settings or graphical environment settings don't affect GTK applications like Brave.
There are two ways to solve this problem: imwheel and "Chromium Whe

[2019-08-19 10:42] #5336 closed

[2019-08-19 11:46] MVrachev commented on #3337
I found it!
On macOS Mojave with Brave version `0.67.124` you should enable that option
![image](https://user-images.githubusercontent.com/16246778/63262989-17afff00-c290-11e9-9b7b-d668033c50c1.png)

[2019-08-19 12:35] mikhoul opened #5718 "Don't see the URL in URL bar when I do google search"
## Description

Don't see the URL in URL bar when I do google search

## Steps to Reproduce

   1.   Make sure you have Google as default search engine
   2. Enter `île de Grande Canarie` in the url bar to search and press enter
   3.  Look in the URL bar you don't see the real URL but only the search query.

## Actual result:

![image](https://user-images.githubusercontent.com/5678673/63265667-24

[2019-08-19 12:50] GeetaSarvadnya commented on #5599
The issue is Reproducible in Windows `10 x64 - 0.68.130`

![image](https://user-images.githubusercontent.com/38657976/63266635-fa8a2900-c2ad-11e9-8ba3-02703267ea3e.png)

[2019-08-19 12:51] tmancey commented on #5599
This fix did not resolve the 503 error as this is from the server end point. This fix makes sure if an error occurs that we retry. Check further down log for retry.

[2019-08-19 13:02] GeetaSarvadnya commented on #5599
@tmancey There is no `Start retrying...` after I get status repose status code 503 in logs. Also, failed confirmation array is empty in `confirmation.json` file there is no failed queue.

[chrome_debug.log](https://github.com/brave/brave-browser/files/3515996/chrome_debug.log)

[2019-08-19 13:05] #5594 closed

[2019-08-19 13:09] tmancey commented on #5599
@GeetaSarvadnya This issue is not in 0.68, this issue has only been merged with nightly and dev.

[2019-08-19 13:35] btoc007 opened #5719 "eifjccgicnckuudfkvekicfkdjlubjkibhluihtkbtkb"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-08-19 14:25] #5719 closed

[2019-08-19 14:33] kjozwiak commented on #5330
@rebron @bsclifton we should reprioritize this as a `P2`. Definitely annoying folks and we're getting more 👍 from users.

+1 from https://twitter.com/kameshkotwani/status/1163347365379502080

[2019-08-19 15:10] LaurenWags opened #5720 "favicon for verified vimeo publisher is incorrect"
## Description
Found while testing https://github.com/brave/brave-browser/issues/4391

The favicon for a verified Vimeo publisher is incorrect in the panel, which means it is also incorrect in ac table and tips table.

## Steps to Reproduce

   1. Navigate to a verified vimeo publisher.
   2. Open panel, view the favicon displayed in panel. Note, it does not match icon on verified publisher's page

[2019-08-19 15:17] LaurenWags commented on #5720
examples:
https://vimeo.com/willchristiansen
https://vimeo.com/hawaii
https://vimeo.com/pandapoles

[2019-08-19 15:21] LaurenWags commented on #5720
per @NejcZdovc:
wrong icon is coming from https://i.vimeocdn.com/portrait/6979171_640x640.webp
which is this user https://vimeo.com/user6979171
which redirects to https://vimeo.com/willchristiansen - which uses this icon https://i.vimeocdn.com/portrait/6040298_640x640.webp

[2019-08-19 15:55] posix4e commented on #1060
Travis support helping at all?

[2019-08-19 16:10] btlechowski commented on #4435
@riastradh-brave Could you set QA/Yes or QA/No for this issue?

[2019-08-19 16:53] bsclifton opened #5721 "Site settings should have a way to be set to default (inherit from global)"
## Description
Issue raised by @bridiver:
If you modify the site settings, including changing them back... they are not updated when you modify the global settings

## Steps to Reproduce

   1. Visit https://brave.com
   2. Open shields. Change cookies to `Cookies blocked`
   3. Change cookies back to `Cross-site cookies blocked`
   4. Visit brave://settings
   5. Update global default to `Cookies

[2019-08-19 17:11] maikelmclauflin opened #5722 "point browser to dev environment"
## Description

### feature request
ability to point browser to dev envrionment `--rewards=staging=true` (need dev version of this and others like it)

## Expected result:
points urls to provided dev environments @hspencer77 , @bkero , @amirsaber , and i have relevant domains

[2019-08-19 17:37] maikelmclauflin commented on #5722
domains known so far are
[code]

[2019-08-19 17:48] srirambv opened #5723 "Cryptowallets should not be allowed to work on Tor Windows"
## Description

Cryptowallets should not be allowed to work on Tor Windows

## Steps to Reproduce

   1. Install Dev/Nightly build
   2. Create a crypto wallet in normal window
   3. Open Tor window, type in brave://wallet, opens wallet creation page and you are able to create a second wallet on tor windows

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/63287196-c1

[2019-08-19 17:50] bridiver commented on #5721
other options include adding some kind of "reset" button or setting the value to the current default will automatically reset it

[2019-08-19 17:52] mandar-brave opened #5724 "Notification for users attempting self tipping"
related to #5594

Notify user with message after self-tipping fails;
BAT  can directly be transferred to your Brave Rewards card using your verified Uphold account.
Action: OK

@NejcZdovc

[2019-08-19 17:56] LaurenWags opened #5725 "seek (forward or backward) on vimeo video messes up entire AC table"
## Description
Found while testing https://github.com/brave/brave-browser/issues/4017

If you watch a vimeo video normally, your AC table is fine. However, if you start seeking (forward or backward), the AC table gets really messed up.

## Steps to Reproduce

1. Clean profile on 0.68.x
2. Enable Rewards (keep this open in one window)
3. Open a second window and visit some sites - a mix: regular si

[2019-08-19 18:01] rebron commented on #4782
Can we check that with this fix, on Windows 10, bookmarks bar shows up in full screen mode?
cc: @Brave-Matt

[2019-08-19 18:03] Brave-Matt commented on #4782
Bookmarks bar spacing issue in Fullscreen mode looks like this:
![image](https://user-images.githubusercontent.com/3299098/63288176-ec69e780-c270-11e9-9776-4d40c1da0cd6.png)

As opposed to:
![image](https://user-images.githubusercontent.com/3299098/63288222-05729880-c271-11e9-8dfb-a3006b783dfb.png)

Occurs on Release (67.125 - nightly)

[2019-08-19 18:31] LaurenWags commented on #5725
Note - if at step 8 you remove this publisher from your AC table, your previous entries come back.

[2019-08-19 18:32] btlechowski commented on #5725
Reproduced on Ubuntu

Brave | 0.68.130 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/63289843-5fe71580-c2c0-11e9-8886-ebf540942e0a.png)

[2019-08-19 18:50] Brave-Matt commented on #2105
+1 https://www.reddit.com/r/brave_browser/comments/csao5r/open_brave_with_tor_by_default_via_shortcut/

[2019-08-19 19:01] GeetaSarvadnya commented on #5725
The issue is Reproducible in windows `10 x64 -0.68.130`. The issue is NOT 100% reproducible on all Vimeo videos, Vimeo video has to be forward and backward multiple times only then the issue is reproducible.

[2019-08-19 19:14] LaurenWags commented on #5725
Additional notes:
1. You don't need to go forward first for this to happen. Moving the seek bar back will cause the large `score` value and screw up your AC table. (making the vimeo pub the only entry)
2. Moving the seek bar forward only does not increase the `score` value in `publisher_info_db`. It does inflate your `duration` though (so you are getting an inaccurate amount of time viewed). This

[2019-08-19 19:21] bsclifton commented on #1901
Closing in favor of https://github.com/brave/brave-browser/issues/5346

Starting with 0.68.x, it no longer shows as null. Instead, it shows and cannot be un-blocked

[2019-08-19 19:21] #1901 closed

[2019-08-19 19:24] bsclifton commented on #5346
In older builds (0.67.x and earlier), this was showing up before as `null`:
<img width="275" alt="screen shot 2018-10-29 at 9 50 45 pm" src="https://user-images.githubusercontent.com/4733304/47696594-b9147a00-dbc4-11e8-95ae-fa7dbb5110bc.png">

0.68.x and newer, this issue properly captures the bugged behavior

Discussion was had with @cezaraugusto, @yrliou, @bbondy, @AndriusA

Proposed fix would b

[2019-08-19 19:35] LaurenWags opened #5726 "some characters do not display nicely on rewards panel, ac and tips tables"
## Description
If publisher info (ex. name) contains a diacritic, a letter with an accent like á, it does not display nicely in the panel, auto contribute, or tip tables.

## Steps to Reproduce

   1. Have rewards enabled.
   2. Navigate to a publisher with a diacritic in the name such as https://vimeo.com/maqvoadora
   3. Open the panel. Note name is not displayed as expected.
   4. View a video

[2019-08-19 19:57] LaurenWags commented on #5725
@NejcZdovc here are some simpler steps:
1. clean profile, enable rewards
2. visit some sites so you have a few in your ac table
3. view a vimeo video
4. once it's added to your ac table, move the slider bar back toward the beginning of the video (doesn't have to be right at the start)
5. wait a bit, your ac table will clear and you'll only have one entry - the vimeo publisher at 100%. checking you

[2019-08-19 21:46] LaurenWags opened #5727 "Release notes for 0.68.x (Release Channel)"
Release Notes
 - Dynamically generated PDF does not load properly.([#884](https://github.com/brave/brave-browser/issues/884))
 - Update macOS Installer Graphics.([#1105](https://github.com/brave/brave-browser/issues/1105))
 - Can't hide Bookmarks bar on New Tab page.([#1306](https://github.com/brave/brave-browser/issues/1306))
 - Add default search engine functionality to onboarding process.([#154

[2019-08-19 22:04] karenkliu opened #7470 "Update Android onboarding with motion graphics"
## Description

1. Replace static illustration with a motion graphic for the Shields screen:
https://lottiefiles.com/share/tH7Y2e
2. Replace static illustration with a motion graphic for the Brave Rewards screen: https://lottiefiles.com/share/dbg3br
3. Replace static illustration with a motion graphic for the ads notification screen:
https://lottiefiles.com/share/hn8gqM

## Assets
[lottieexport.zi

[2019-08-19 23:02] #5633 closed

[2019-08-19 23:10] darkdh opened #5728 "Follow up on comments for brave-syncer PR"
1.~https://github.com/brave/brave-core/pull/2010#discussion_r296264261~ (resolved here https://github.com/brave/brave-core/pull/3216)
2. https://github.com/brave/brave-core/pull/2010#discussion_r314526843
3. https://github.com/brave/brave-core/pull/2010#discussion_r314537829

[2019-08-20 00:21] andr222 commented on #5576
You can also download the compiled version in a zip package ... it doesn't do autoupdate either.
Just follow this link
https://github.com/brave/brave-browser/blob/master/CHANGELOG.md
The top link is to the most recent (stable) version.
On that page, scroll down to find the various formats available, including compiled zip versions without an installer.  These non-installer versions do not autoupda

[2019-08-20 00:38] GJSchaller commented on #4536
In the case of remote devices (i.e. - a home laptop which is off or asleep while you are at work), having all devices online at the same time may not be feasible.  This is also the case for phones or tablets that may not have Brave at the forefront, and active, when changes are made on another device.

[2019-08-20 00:54] #2754 closed

[2019-08-20 01:16] fmarier commented on #5124
You're right, it does work. Maybe there was something else wrong with the rulesets after all. I upgraded the ruleset to the latest after merging your signature-checking PR.

[2019-08-20 01:16] #5124 closed

[2019-08-20 01:36] chkk525 commented on #5634
@ryanbr on Nightly, it still showing loading animation forever but on release (0.67.125 Chromium: 76.0.3809.100) it loads correctly.

[2019-08-20 01:39] chkk525 commented on #5635
@bsclifton on Nightly it's not fixed. on release it is fixed.
![image](https://user-images.githubusercontent.com/3054915/63310724-c4dd5280-c336-11e9-8827-4da4a1a77269.png)

[2019-08-20 02:15] VikramTiwari opened #5729 "Unable to build brave-browser on debian"
## Description
I followed all the requirements and pre-installs. Yet I am unable to build the app.

## Steps to Reproduce

   1. Clone the project and follow directions in the [wiki](https://github.com/brave/brave-browser/wiki) including the steps listed for linux based environment setup from [Chromium's site](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_build_instructions.md

[2019-08-20 02:15] btlechowski opened #5730 "`Add to Chrome` on CWS main page"
Follow up to https://github.com/brave/brave-browser/issues/790

## Steps to Reproduce

   1. Open `https://chrome.google.com/webstore/category/extensions`

## Actual result:

`Add to Chrome` on CWS main page
![image](https://user-images.githubusercontent.com/34715963/63312151-d7d53000-c300-11e9-8db6-fe90cc31cea1.png)

## Expected result:
`Add to Brave` on CWS main page

## Reproduces how often:

E

[2019-08-20 02:18] btlechowski commented on #790
LGTM. Awesome work!

Verification passed on

Brave | 0.69.110 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Logged https://github.com/brave/brave-browser/issues/5730

Before adding the extension:
![image](https://user-images.githubusercontent.com/34715963/63312321-7a8dae80-c301

[2019-08-20 02:24] btlechowski commented on #5331
Verification passed on

Brave | 0.69.110 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Installed several extensions. No crash.

[2019-08-20 02:29] btlechowski commented on #5338
Verification passed on

Brave | 0.69.110 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/3034
Verified steps from the video https://youtu.be/ISjDaoY_f7A

[2019-08-20 02:49] corona-nova opened #5731 "Address bar stuck in search-mode (after enter-execute)"
## Description

when typing in address bar,
(if it contains a space character it goes into search mode instead of url _)
after doing a url-search,
the address bar still shows the search query,
instead of the current URL, pressing esc or ctrl+z (undo
does not mitigate that

## Steps to Reproduce

   1. type in search bar (non-url)
   2. press enter
   3. note that address bad stuck in searhc mode o

[2019-08-20 03:48] petemill opened #5732 "Brave-Core CI errors"
Brave-Core PRs are getting the error:
[code]

This is caused by invalid property names in the Jenkinsfile. Only brave-browser PRs were tested by https://github.com/brave/brave-browser/pull/5700 which introduced this issue.

[2019-08-20 03:59] #5732 closed

[2019-08-20 04:14] bsclifton commented on #5730
Functionality originally fixed with https://github.com/brave/brave-core/pull/2845

Looks like it regressed... content script has correct selector still

[2019-08-20 04:19] bsclifton commented on #5730
Ah - if you refresh after going to a detail page, it then executes the content script properly (weird that a refresh is needed though)

This issue can be fixed by adding `https://chrome.google.com/webstore/category/extensions` (or a better selector) to the manifest.json here:
https://github.com/brave/brave-core/blob/05c7b6199273870ecc536798a0f223c5f2d5794d/components/brave_extension/extension/brav

[2019-08-20 04:23] #5609 closed

[2019-08-20 05:26] kjozwiak commented on #5712
@ryanbr can you recheck using https://github.com/brave/brave-browser/releases/tag/v0.68.130? I believe the above has been fixed in `nightly` and `dev` as I've gone through several account creations in the last few days without issues. Haven't checked `0.68.x` though. If it's working on `0.68.x`, we can probably close this off as it's being released on Wednesday.

[2019-08-20 05:27] #5725 closed

[2019-08-20 06:08] darkdh opened #5734 "Undefined symbol: brave_sync::jslib and switches::IsBraveSyncAllowedByFlag() for Android debug build"
[code]

[2019-08-20 06:22] darkdh opened #5735 "Undefined symbol: content_settings:: on Linux and Android for debug build"
[code]

[2019-08-20 06:22] darkdh commented on #5735
cc @simonhong , @bridiver

[2019-08-20 06:57] bsclifton opened #5736 "browser test failure on Windows (debug)"
## Description
Browser test failure unintentionally introduced with https://github.com/brave/brave-core/pull/3154

## Steps to Reproduce
   1. Be on Windows
   2. Check out master
   3. Do debug build
   4. Run browser tests with `npm run test brave_browser_tests`

## Actual result:
`BraveProfilePrefsBrowserTest.AdvancedShieldsExistingUserValue` fails:
[code]

## Expected result:
No failures

## R

[2019-08-20 07:43] #5346 closed

[2019-08-20 07:43] #5483 closed

[2019-08-20 07:45] ryanbr commented on #5635
Just tested in Version 0.71.17 Chromium: 76.0.3809.100 (Official Build) nightly (64-bit)  Seems to be okay?

[2019-08-20 07:49] ryanbr commented on #5634
Just tested in Nightly; Version 0.71.17 Chromium: 76.0.3809.100 (Official Build) nightly (64-bit)  Seems to work okay here. Force an update of the browser ?

[2019-08-20 07:54] GeetaSarvadnya opened #5737 "`Autoplay was blocked on this page` text is not hidden in the URL bar in TOR tabs"
## Description

`Autoplay was blocked on this page` text is not hidden in the URL bar in TOR tabs

## Steps to Reproduce

   1. Open brave 0.68.x
   2. Open a few sites in Tor tabs (cnn.com and google.com)
   3. Click on cnn.com
   4. `Autoplay was blocked on this page` text is not hidden in the URL bar in TOR tabs

## Actual result:

Autoplay was blocked on this page text is not hidden in the URL

[2019-08-20 08:58] svasil commented on #5283
It doesn't help in Brave Version 0.67.125 Chromium: 76.0.3809.100

[2019-08-20 10:20] GeetaSarvadnya opened #5738 "Grayed-out shield gets enabled after switching the tabs in TOR windows"
## Description

Grayed-out shield gets enabled after switching the tabs in TOR windows

## Steps to Reproduce

   1.  Open brave 0.68.130
   2.  Open TOR window
   3.  Enter google.com in a new tab
   4. Turn down the shield for google.com,
   5. shield icon is grayed out for google.com
   6. Open a new tab and load cnn.com
   7. Switch tabs between cnn.com and google.com
   8. Shiled gets enabled

[2019-08-20 11:06] bigt2000 commented on #1306
Are there plans to bring 3 options as mentioned by Joshua?  I preferred to only see the bookmarks bar on a new tab and agree that giving the option to pick which one you want is better than omitting an option.

[2019-08-20 11:10] spoike commented on #1308
Just here to chime in that adding the Swedish language doesn't change the clock to 24 hr format.

To be honest, I'd rather have a configuration option to remove the clock from the new tab page.

[2019-08-20 11:56] 360fun commented on #5576
I find the autoupdate very useful: normally I've it activated (WiFi), now I need to disable it (4G), that's it. The only real solution for me is to block the **hosts** file (done)...blocking also other functions, which is **not a clean solution** from my point of view. 😝
Please consider to add an **hidden setting** (maybe with a huge warning explaining why you need it activated), this would make a

[2019-08-20 12:05] tmancey opened #5739 "Decouple business logic from the Rewards service to reduce the risk of regressions on iOS and Android"
Decouple business logic from the following functions in `RewardsServiceImpl::` to the ledger library:

- [ ] FetchPublisherActivityFromURL
- [x] GenerateGUID - https://github.com/brave/brave-browser/issues/8785
- [ ] GetContentSiteList
- [ ] GetExternalWallets
- [ ] GetGrantCaptcha
- [ ] GetPublisherActivityFromUrl
- [ ] LoadActivityInfo
- [ ] LoadLedgerState
- [ ] LoadMediaPublisherInfo
- [ ] Loa

[2019-08-20 14:04] bridiver opened #5740 "Browser crashes when changing default cookie prefs"
## Description
[code]

## Steps to Reproduce

   1. Change default brave cookie prefs

## Actual result:
Crash

## Expected result:
No crash

## Reproduces how often:
Always

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the

[2019-08-20 15:22] GeetaSarvadnya commented on #5640
Click on `inspect fallback` opens up devtool.

![image](https://user-images.githubusercontent.com/38657976/63360583-40b5ba00-c38c-11e9-99f4-bc01de577860.png)

[2019-08-20 15:34] Miyayes opened #5741 "Add reset data / delete account option to Crypto Wallets"
## Description

Crypto wallets should feature an option to reset all data, or delete accounts. At the moment, there is only a pull request to allow disabling/enabling, but not for resetting or deleting data.

**See:** https://www.reddit.com/r/brave_browser/comments/cszx7s/how_do_i_delete_my_cryptowallet_settings_and/

[2019-08-20 15:59] #5330 closed

[2019-08-20 16:32] bsclifton commented on #1308
@spoike that option does exist in Nightly and will be working its way to release 😄

Looks like this:
<img width="565" alt="Screen Shot 2019-08-20 at 9 30 46 AM" src="https://user-images.githubusercontent.com/4733304/63365860-521ba980-c32d-11e9-965b-0359caa7d266.png">

Also available in the bottom right:
<img width="413" alt="Screen Shot 2019-08-20 at 9 31 52 AM" src="https://user-images.githubuser

[2019-08-20 16:34] #5736 closed

[2019-08-20 17:10] #5512 closed

[2019-08-20 18:08] #5697 closed

[2019-08-20 18:26] bbondy opened #5742 "Add testing wiki page in brave/ethereum-remote-client"
Extension updates for brave/ethereum-remote-client will be done out of line from brave/brave-browser releases, and they will apply to all channels at the same time.

This issue is to create a wiki page on the above repo so that QA can give sign off before we publish new versions.

[2019-08-20 18:33] ksbrar commented on #5618
Bump.

[2019-08-20 18:34] rebron commented on #5640
We want to re-enable this by proxy. Does this sound ok? @diracdeltas
cc: @jumde

[2019-08-20 19:06] #5673 closed

[2019-08-20 19:06] #5688 closed

[2019-08-20 20:34] #5134 closed

[2019-08-20 20:34] #5135 closed

[2019-08-20 21:25] mkarolin opened #5744 "BraveCrxUpdateService can be removed."
BraveCrxUpdateService is currently
a) not in the correct layer;
b) not being triggered because the base class methods it attempts to 'override' aren't virtual;
c) is not needed since it's only purpose was to filter out extensions that weren't vetted, which we no longer enforce.

[2019-08-20 21:26] kjozwiak opened #5745 "Manual test run on OS X for 0.68.x - Release"
## Per release specialty tests
 - [x] Show full url like in Chrome.([#2192](https://github.com/brave/brave-browser/issues/2192))
 - [ ] Use new adblock-rust library.([#4793](https://github.com/brave/brave-browser/issues/4793))
 - [x] Downloads not being instantly displayed under "brave://downloads" until window resize.([#5330](https://github.com/brave/brave-browser/issues/5330))
 - [x] Seek (forwa

[2019-08-20 21:26] kjozwiak opened #5746 "Manual test run on Windows x64 for 0.68.x - Release"
## Per release specialty tests
 - [x] Use new adblock-rust library.([#4793](https://github.com/brave/brave-browser/issues/4793))
 - [x] Downloads not being instantly displayed under "brave://downloads" until window resize.([#5330](https://github.com/brave/brave-browser/issues/5330))
 - [x] Seek (forward or backward) on vimeo video messes up entire AC table.([#5725](https://github.com/brave/brave-b

[2019-08-20 21:26] kjozwiak opened #5747 "Manual test run on Linux for 0.68.x - Release"
## Per release specialty tests
 - [ ] Use new adblock-rust library.([#4793](https://github.com/brave/brave-browser/issues/4793))
 - [x] Downloads not being instantly displayed under "brave://downloads" until window resize.([#5330](https://github.com/brave/brave-browser/issues/5330))
 - [x] Seek (forward or backward) on vimeo video messes up entire AC table.([#5725](https://github.com/brave/brave-b

[2019-08-20 21:48] #5540 closed

[2019-08-20 21:49] ryanml commented on #5742
Testing wiki page has been established here: https://github.com/brave/ethereum-remote-client/wiki/Testing

It will be continually updated as we make more modifications to current behavior

cc: @kjozwiak

[2019-08-20 21:49] #5742 closed

[2019-08-20 21:51] LaurenWags commented on #5725
Verified passed with

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/3209
* Verified STR from description
* Existing AC table entries were not wiped out when seeking (fwd or back) on vimeo video
* No unusual

[2019-08-20 22:06] bbondy opened #5748 "Remove unsupported sync w/ mobile option in Brave wallet"
1. Go to Crypto wallet page
2. Settings -> Advanced

<img width="394" alt="Screen Shot 2019-08-20 at 6 04 33 PM" src="https://user-images.githubusercontent.com/831718/63388038-14db0a00-c375-11e9-8f65-6b41380a901c.png">

This should be hidden.

[2019-08-20 22:07] LaurenWags commented on #5330
Verified passed with

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/3212
* Verified STR from description

[2019-08-20 22:27] #5748 closed

[2019-08-20 22:39] #5744 closed

[2019-08-21 03:14] btlechowski commented on #5747
Verification passed on

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

[2019-08-21 03:14] #5747 closed

[2019-08-21 03:48] Aggiemaster commented on #4858
I saw this issue as well:
`0.67.125 Chromium: 76.0.3809.100 (Official Build) (64-bit)`

Testing on 2019 Macbook Pro:
Radeon Pro Vega 20 4 GB
Intel UHD Graphics 630 1536 MB

[2019-08-21 04:05] darkdh opened #5749 "third_party/blink/renderer/modules/encryptmedia deps problem"
https://staging.ci.brave.com/job/brave-browser-build-pr/job/brave-syncer-0.69.x/1/execution/node/454/log/?consoleFull
[code]

The original commit was https://github.com/brave/brave-core/commit/c79e89867724ae583ba74e8a1090d7e90e5321c7
and then https://github.com/brave/brave-core/commit/386b9ff1a74f69000a3794f8cc8a5c8fccf45c06 which remove `public_deps`

We should either
~~1. keep `public_deps` so `

[2019-08-21 04:19] darkdh opened #5750 ""enumeration value 'AUTOPLAY' not handled in switch" error on x64 Android debug build"
[code]
STR:
`npm run build -- --target_os=android [--target_arch=x64]`

cc @AlexeyBarabash @bridiver @SergeyZhukovsky

[2019-08-21 05:01] kjozwiak opened #5751 "Release checklist for 0.68.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-08-21 05:07] kjozwiak commented on #3308
As per the above, seems like this has been fixed and is working as expected. Assuming this has been fixed via https://github.com/brave/brave-browser/issues/4793.

[2019-08-21 05:07] #3308 closed

[2019-08-21 05:10] kjozwiak commented on #3308
Verification **PASSED** on `macOS 10.14.6 x64` using the following build:

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified test cases outlined under https://github.com/brave/brave-browser/issues/3308#issue-408832446.

[2019-08-21 05:25] #5745 closed

[2019-08-21 08:51] GeetaSarvadnya opened #5752 "incorrect favicon in Tipping banner and Thank you page for Vimeo pubs"
## Description

incorrect favicon in Tipping banner and Thank you page for Vimeo pubs

## Steps to Reproduce

   1. Open brave 0.68.131
   2. Open few verified and not verified Vimeo pubs
   3. Send a one-time tip or monthly tip to Vimeo pubs
   4. Incorrect favicon displayed in tipping banner and Thank you page

## Actual result:

incorrect favicon in Tipping banner and Thank you page for Vimeo p

[2019-08-21 09:28] NejcZdovc commented on #5752
closing as dupe of https://github.com/brave/brave-browser/issues/5720

[2019-08-21 09:28] #5752 closed

[2019-08-21 09:28] NejcZdovc commented on #5720
+1 from https://github.com/brave/brave-browser/issues/5752

[2019-08-21 09:44] chkk525 commented on #5634
On Brave | 0.71.21 Chromium: 76.0.3809.100 (Official Build) nightly, it still can't load the banner after super-reload and clearing cache. @ryanbr

![image](https://user-images.githubusercontent.com/3054915/63421494-a31dc180-c443-11e9-95c8-527a4508fe36.png)

[2019-08-21 09:48] chkk525 commented on #5635
@ryanbr Tested in 0.71.21 Chromium: 76.0.3809.100 (Official Build) nightly but the recommendation items still missing.

![image](https://user-images.githubusercontent.com/3054915/63421800-2ccd8f00-c444-11e9-9ef7-25c3bb33a7ef.png)

[2019-08-21 10:01] chkk525 commented on #5638
@karamara @ryanbr is there any update on this issue?

[2019-08-21 10:50] GeetaSarvadnya opened #5753 "After upgrade `Block cross-site trackers` should be disabled when ads & trackers are allowed in 0.67.125"
## Description

When I upgrade 0.67.125 to 0.68.131 without changing any global shield settings, the global shield settings for `Block cross-site trackers` is enabled, when global shield settings for `Ads control` is changed to `Allow ads & trackers` in 0.67.125 after upgrade `Block cross-site trackers` is still enabled, this should be disabled as blocking of ads and trackers is allowed in 0.67.12

[2019-08-21 10:58] Goran00 commented on #5529
You have to install adobe-source-han-sans-jp-fonts or  adobe-source-han-sans-otc-fonts and problem solved

[2019-08-21 11:43] DrSelami commented on #3307
I solved the issue by changing the language to "English (United States)" in the settings.

[2019-08-21 13:04] ehouarn-perret commented on #5529
Alright will try this out, thanks!

[2019-08-21 14:02] ehouarn-perret commented on #5529
Works like a charm! Thanks!
I close the issue.

[2019-08-21 14:02] #5529 closed

[2019-08-21 14:05] GeetaSarvadnya commented on #4793
Verification passed on

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified that the sites are working fine and there are no web compact issues:
- Verified Ad blocking is working as expected
- Verified that ads and trackers count is

[2019-08-21 15:13] emerick commented on #4829
Confirmed that regional ad blocking works on Android:

- Verified that switching languages in Settings and clearing the profile results in the correct regional list being selected by default
- Verified that correct list is downloaded and listed in brave://components
- Verified that ads are blocked per regional settings by visiting http://www.macwelt.de

The main issue I encountered is that we're n

[2019-08-21 15:30] GeetaSarvadnya commented on #5746
Looks good hence closing the issue.

[2019-08-21 15:30] #5746 closed

[2019-08-21 15:45] #5740 closed

[2019-08-21 16:08] #5735 closed

[2019-08-21 16:56] #5727 closed

[2019-08-21 18:41] davidtemkin commented on #4383
I read this as us alerting people who have _manually opted out_ of ads (e.g., they enabled Rewards at a time when ads were available in their region, and then manually disabled ads). Is that correct? If so, that particular case is not a go and that case needs to be stripped out.

We can and should ask people who turned on Rewards before ads were available, and then ads became available. That is a

[2019-08-21 18:54] mandar-brave commented on #4383
@davidtemkin there is no way today to know if someone turned it ON -> OFF -> ON and at what timeline. Per last chat with @tmancey, we just know Ads = ON or OFF. So very limited scope to manage BAT notification besides mass triggering of it to everyone where Ads = OFF. @tmancey is adding that flag and timeline for switch.

@tmancey please confirm if i have it wrong.

[2019-08-21 20:51] rebron commented on #5751
Closing. Released August 21, 2019. 1:30pmPDT

[2019-08-21 20:51] #5751 closed

[2019-08-21 21:26] maximbaz commented on #1024
@bsclifton yay for merging #4039!! 🎉 This issue however should probably stay open, as it is requesting having VA-API enabled _by default_.

[2019-08-21 21:26] bsclifton commented on #1024
re-opening as https://github.com/brave/brave-browser/pull/4039 w

[2019-08-21 21:32] AlexeyBarabash opened #5755 "Sync use fetch-sync-records for devices"
## Description

Currently devices are queried with `fetch-sync-devices` command. This makes additional load on S3. We need to use `fetch-sync-records` to use SQS.
Related PR https://github.com/brave/sync/pull/331

## Steps to Reproduce

   1. Establish sync chain between two devices
   2. Open brave://inspect/#extensions choose Brave Sync => inspect => Console. Enable timestamps for console in set

[2019-08-21 22:27] karenkliu commented on #5559
Okay, I found some examples:

1. _Crunchyroll is an American distributor, publisher, licensing company and international online community focused on video streaming East Asian media including anime, manga, drama, music, electronic entertainment, and content._

<img width="1680" alt="crunchyroll" src="https://user-images.githubusercontent.com/2388823/63472758-fb46ca80-c427-11e9-9691-07938aacc57c.pn

[2019-08-21 22:58] leshacat opened #5756 "Empty Downloads Page"
Downloads are empty even when currently downloading....

Latest Brave browser

[2019-08-21 22:59] leshacat commented on #5756
nevermind ...

clicking three dots on DL page and then "CLEAR ALL" fixes this... It must be a GUI bug.

[2019-08-21 23:30] Brave-Matt commented on #2362
+1
https://community.brave.com/t/brave-have-a-notification-bug/76687

[2019-08-21 23:51] bsclifton commented on #5657
cc: @yrliou

[2019-08-22 00:18] tmancey commented on #4383
@mandar-brave This is correct, however reading @davidtemkin reply above the functionality to detect if a user enabled ads and then subsequently disabled ads is not required. Could you please update the  use case, and let me know if a "don't bother me again" option

[2019-08-22 01:25] davidtemkin commented on #4383
@tmancey are these OS native notifications? If so "don't bother me again" is pretty much a non-starter. So I withdraw the request.

[2019-08-22 01:51] yrliou commented on #5657
Since right now we don't support extensions in Tor and we don't support setting this pref in Tor through settings page either, I think we should make this pref to be false in Tor automatically so we won't prompt users in Tor windows when they visited a page not in their language.

[2019-08-22 02:04] yrliou commented on #5657
cc @rebron per ^^

[2019-08-22 03:13] Adrymate9 commented on #2301
Hi guys!. I have the same problem but with the android version. I can't enable push notifications on websites. Simply a pop-up window appears asking to accept the receipt of notifications, but nothing I can do. The popup window is frozen and I can only go back then site notifications are blocked.

[2019-08-22 04:30] #5657 closed

[2019-08-22 04:34] Jamscare commented on #5657
It's hard to get in,  I don't understand.

[2019-08-22 05:19] NejcZdovc commented on #5646
@mcamou could you please send us crash ID from chrome://crashes/ (note that you need to upload it first). Thank you

[2019-08-22 05:33] petemill opened #5757 "No way to reset only chromium files that have been modified locally"
## Description

When a developer wants to reset all chromium files to the current brave-core patched state, but doesn't want to end up touching every patched file by performing a hard reset, which would result in a lengthy build, there is no recourse to do so, unless they remember every file that was changed and do `git checkout -- [file]` manually for each file.
`npm run sync` _will_ do this (onl

[2019-08-22 07:28] willstocks opened #5759 "WordPress Jetpack Statistics tracker script not being blocked"
## Description

I run a WordPress blog. On that blog, I have Jetpack installed and I'm using the [Jetpack Stats module](https://jetpack.com/support/wordpress-com-stats/) enabled, which adds a little script to my frontend: https://stats.wp.com/e-201934.js

Looking at Shields, this script/tracker is blocked (rightly so):
![image](https://user-images.githubusercontent.com/43744514/63494531-c7b28180-c

[2019-08-22 08:41] larseggert commented on #4201
This seems to reoccur now

[2019-08-22 08:48] Xronis commented on #3348
Hi,

Sorry for the late response I was on vacation and didn't really check my emails until now that I returned. So far so good, no pre-roll ads yet. I will let you know if any pop up.

Thanks for the support,
Cheers

[2019-08-22 09:09] WeirdWhirl commented on #1306
So this is why my NTP bookmark bar has disappeared. This sucks, I use that thing constantly.
I'm downgrading to the previous version until the NTP option is implemented.
I'm starting to feel old. I keep getting pissed off that often used software features keep getting killed without any obvious notice.

[2019-08-22 09:15] willstocks opened #5760 "Brave v0.68 removed bookmark bar from New Tab Page"
## Description

I have "Show Bookmark Bar" set to "Off" in Brave's settings. Always have. But it has still always shown in the NTP which is incredibly useful. It's the only page I'd really want it! But now, with v0.68, it is gone 😢

## Steps to Reproduce

   1. Upgrade from v0.67 -> v0.68
   2. Open v0.68 Brave
   3. Open a new tab
   4. Notice the bookmarks bar is gone

## Actual result:

I've ch

[2019-08-22 09:22] GeetaSarvadnya commented on #5540
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3166
![image](https://user-images.githubusercontent.com/38657976/63503080-71146a00-c4ec-11e9

[2019-08-22 09:49] ryanbr commented on #5634
Okay, removed a suspect filter. https://github.com/easylist/easylist/commit/a10e2ad2a9eefeaf331a7435a908b30b6a8fab78

However, I did breifly see the issue. I just reloaded the page and it came right. and reload again, and saw it. It was really intermittent. It could be a server side issue?

[2019-08-22 10:18] SilencerWeb commented on #5760
Opened this repo to report the same thing, haha

[2019-08-22 10:36] ryanbr commented on #5634
I've been refreshing this site, and it's been such an intermittent issue.

[2019-08-22 10:41] ryanbr commented on #5634
Okay, https://github.com/easylist/easylist/commit/eafb3ac64e8f9a3cc01dd8067780b19de27a84d9 maybe help. 24-48hrs should see update

[2019-08-22 11:15] jjenzz commented on #3647
I'm on Version 0.68.131 and I have this issue. If I remove one of them, it removes all and now I can't figure out how to add one back in as I would like to contribute, once.

[2019-08-22 11:28] maximbaz opened #5761 "regression: external extensions are forcefully disabled on Linux since 0.68.131"
## Description

On Linux it is possible to install extensions using a preferences json file [as per docs](https://developer.chrome.com/apps/external_extensions#preferences).

This is used for distributing extensions as distro packages.

This is not working anymore in Brave `0.68.131`, I do see the extension in `brave://extensions` but it gets disabled on browser startup with the following popup:

[2019-08-22 11:41] ryanbr commented on #4201
Yeah noticed all the whitelists just broke (looking at the Sheilds blocks), this maybe related to the adblock-rust roll out.

[2019-08-22 12:16] tmancey commented on #4383
@davidtemkin These notifications are the ones which appear on the Rewards panel

[2019-08-22 13:00] pes10k opened #5762 "DevTools Page.captureScreenshot endpoint is inconsistent (fails > 50%)"
The above should reproduce, as of nightly and stable

[code]

[2019-08-22 13:01] Sparsa commented on #1024
Can we enable it now? How?

[2019-08-22 13:12] akarshanbiswas commented on #1024
@Sparsa Just add the `--ignore-gpu-blacklist ` or enable override software rendering flag :)

[2019-08-22 13:46] mcamou commented on #5646
As mentioned in the issue, brave://crashes is empty (no crash information).

[2019-08-22 13:56] d3ighty commented on #3253
still got the same issue in the latest stable, however the latest beta worked for me a few days ago. not sure why.

[2019-08-22 14:02] NejcZdovc commented on #5646
@mcamou just want to be double sure. When you say browser crashes, you mean that panel (from clicking on BAT logo) is blank or browser is closed?

[2019-08-22 14:13] mcamou commented on #5646
The browser closes completely and when restarting I get the "reopen tabs" dialog. I just did it now and restarted the browser. Here's the screenshot from `brave://crashes`:
![image](https://user-images.githubusercontent.com/87200/63521950-0d267d00-c4bd-11e9-8af5-2420705fdbac.png)

[2019-08-22 14:15] mcamou commented on #5646
Right now I just started it up from the terminal and made it crash. Here's the complete stdout:

[code]

The two first lines come up when the browser starts, then when I clicked on the Brave Rewards icon I just got the core dump message.

[2019-08-22 14:16] srirambv commented on #5761
Ran into this notification as well although I did have all extensions installed via Chrome webstore. None of the extensions was disabled but was surprised to see the message show up.

[2019-08-22 14:31] GeetaSarvadnya commented on #5518
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3081
- Verified that verify modal displayed in a new tab when `Verify Wallet` button is clic

[2019-08-22 14:54] LaurenWags commented on #2518
@petemill is manual QA needed for this one? Looks like maybe the first test plan in https://github.com/brave/brave-core/pull/2857 can be executed on a packaged build, but not the others. is that sufficient?

[2019-08-22 14:57] LaurenWags commented on #5006
@ryanml does this require manual QA? if so, could you add a test plan?

[2019-08-22 14:58] petemill commented on #2518
@laurenwags yes just checking NTP works should be enough, thanks

[2019-08-22 15:18] chrisgagne commented on #904
Is there a workaround for this? E.g., some text file, etc, that I could edit that would allow the same end result?

[2019-08-22 16:00] srirambv opened #5763 "Manual test run on OS X for 0.69.x - Beta"
## Per release specialty tests
 - [ ] Chromecast support.([#209](https://github.com/brave/brave-browser/issues/209))
 - [ ] Change to 'Add to Brave' instead of 'Add to Chrome' CWS.([#790](https://github.com/brave/brave-browser/issues/790))
 - [ ] Rework shields panel into simple view.([#1196](https://github.com/brave/brave-browser/issues/1196))
 - [ ] Add import to onboarding process.([#1530](http

[2019-08-22 16:00] srirambv opened #5764 "Manual test run on Windows x64 for 0.69.x - Beta"
## Per release specialty tests
 - [ ] Chromecast support.([#209](https://github.com/brave/brave-browser/issues/209))
 - [ ] Change to 'Add to Brave' instead of 'Add to Chrome' CWS.([#790](https://github.com/brave/brave-browser/issues/790))
 - [ ] Rework shields panel into simple view.([#1196](https://github.com/brave/brave-browser/issues/1196))
 - [ ] Add import to onboarding process.([#1530](http

[2019-08-22 16:00] srirambv opened #5765 "Manual test run on Linux for 0.69.x - Beta"
## Per release specialty tests
 - [ ] Chromecast support.([#209](https://github.com/brave/brave-browser/issues/209))
 - [ ] Rework shields panel into simple view.([#1196](https://github.com/brave/brave-browser/issues/1196))
 - [ ] Add import to onboarding process.([#1530](https://github.com/brave/brave-browser/issues/1530))
 - [ ] Scale cover image height on tipping banner.([#2015](https://github.

[2019-08-22 16:12] davidtemkin commented on #4383
ah, got it, @tmancey

Let's go with simple version regardless and see how it plays. No "don't bother me again" for now

[2019-08-22 16:15] LaurenWags commented on #4139
@brave/legacy_qa when testing this issue, please test on new and upgraded profiles.

[2019-08-22 16:56] tmancey commented on #5607
@LaurenWags This is a duplicate of https://github.com/brave/brave-browser/issues/4026, can you please check and if so, can you close and link this ticket

[2019-08-22 17:15] emerick opened #5766 "Brave WebUI pages not loading on Android"
While working on #4829, I noticed that Brave WebUI pages aren't loading on Android. For example, when visiting brave://adblock/, instead of the adblock page loading I received an `ERR_FAILED` error code.

There seem to be a couple of issues here:

- `brave_resources.pak` isn't built or included on Android and that's where the WebUI resources live
- The PAK file paths in `common/resource_bundle_hel

[2019-08-22 17:16] emerick commented on #4829
Created new issue to track Brave WebUI pages not loading on Android, so will close this issue for now.

[2019-08-22 17:16] #4829 closed

[2019-08-22 17:18] srirambv opened #5767 "Recent update shows extensions removed message"
## Description

Post upgrade to `0.68.131`, got a message saying 3 out of 5 extensions installed are removed. However, they were still active and worked just fine.
![image](https://user-images.githubusercontent.com/17010094/63534446-35be6f00-c4dd-11e9-8589-7e09945dcfd6.png)

All the extensions were installed by visiting the developer homepage and navigating to the Chrome Store from their home page

[2019-08-22 17:29] tayvano opened #5768 "Detecting Brave"
**History / Reference**

Brave, historically, has taken steps to prevent websites from detecting whether a user is using Brave. Obviously, a lot of people want to know if a user is using Brave for reasons both good and bad. I'm working under the assumption that Brave doesn't want a website to be able to detect a user is using Brave.

- https://stackoverflow.com/questions/36523448/how-do-i-tell-if-

[2019-08-22 18:04] GeetaSarvadnya commented on #5486
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3066

[2019-08-22 18:25] rebron commented on #5760
Closing. Dupe of: https://github.com/brave/brave-browser/issues/4782

[2019-08-22 18:25] #5760 closed

[2019-08-22 20:20] GeetaSarvadnya commented on #5427
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3072
- Verified `Brave Browser` card created when verifying wallet with new uphold account.

[2019-08-22 20:35] rebron commented on #4615
Closing as fixed in 70.x and dupe of https://github.com/brave/brave-browser/issues/5211.

[2019-08-22 20:35] #4615 closed

[2019-08-22 20:35] GeetaSarvadnya commented on #5482
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3069
- Verified uphold page displayed in the same tab when verifying wallet by clicking on `

[2019-08-22 20:53] GeetaSarvadnya commented on #5426
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3042

[2019-08-22 21:40] Brave-Matt commented on #2457
+1
https://community.brave.com/t/any-news-about-whitelist-for-extensions/76815

[2019-08-22 21:51] darkdh opened #5770 "sync bookmarks are out of order after created"
## Description

Initial sync between devices breaks bookmark order

## Steps to Reproduce

1. deviceA: A1, A2
2. deviceB: B1, B2
3. deviceC: no bookmarks
4. create chain on deviceA
5. connect deviceB to chain
6. connect deviceC to chain

## Actual result:

![image](https://user-images.githubusercontent.com/11330831/63552219-f3e8f500-c4eb-11e9-9c67-1515497d07dd.png)

## Expected result:
Three devic

[2019-08-22 21:52] user809256 commented on #2978
Is there any fix for this issue?

I kinda don't see point in Tor network when fingerprint and script shields are down by default. I need to enable all shields manually for every website because global settings don't exist for guest/tor user?

Please tell me if there is any workarounds currently for this issue. Thanks ^^

[2019-08-22 21:56] LaurenWags opened #5771 "URL doesn't update after closing Verify modal"
## Description
When accessing the user wallet onboarding/verify modal from the rewards panel (accessed via BAT logo), the URL remains brave://rewards#verify. After closing the modal I expected it to go back to brave://rewards. This doesn't happen if you access the modal from brave://rewards page itself.

## Steps to Reproduce

   1. Clean install 0.69.x
   2. Enable Rewards
   3. Navigate to brave

[2019-08-22 22:01] LaurenWags opened #5772 "unable to disconnect from Uphold if KYC is not completed"
## Description
If you connect an uphold account but don't KYC, you are unable to disconnect from Uphold within Rewards.

## Steps to Reproduce

1. Clean profile or upgrade to 0.69.x
2. Enable Rewards.
3. Click on Verify wallet from somewhere, then proceed to uphold.
4. Create an account, don't complete KYC.
5. Go back to Rewards Settings.
6. Clicking on 'Verify Wallet' button doesn't give you the

[2019-08-22 22:03] darkdh commented on #5770
We can also test extra steps after original STR passed

7. Add a folder "F" on device B
8. Move A1, A2 into "F"
9. After a while, all devices should have
<img width="277" alt="Screen Shot 2019-08-22 at 15 01 06" src="https://user-images.githubusercontent.com/11330831/63552860-b5543a00-c4ed-11e9-8c57-33f38ad49204.png">

[2019-08-22 22:13] LaurenWags commented on #5607
@tmancey can loop back to this after testing user wallets 👍

[2019-08-23 00:46] simonhong opened #5773 "omaha build failed during the create_dist step on Windows CI build with debug option"
cc @darkdh

[2019-08-23 00:54] idontcar3 commented on #3650
+1; still an issue.
OS:Debian 10 (Buster)
Brave: Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)

I was just getting the hinge of google keep and wanted to have it on the desktop.

I{ll find something for:expressionless:  KDE.

[2019-08-23 01:31] #4782 closed

[2019-08-23 06:47] SilencerWeb commented on #5760
@rebron, #4782 was created on Jun 10 but such behavior already was in Brave and got removed in the latest release, it doesn't make any sense

[2019-08-23 06:55] NejcZdovc commented on #5772
this is a problem because we removed connected state. We need to decide if we want to add it back or just add dialog which you get when you are KYC'ed

[2019-08-23 08:20] lukemulks opened #5774 "Crypto Wallets Setup - local wallet description - text correction"
## Description

There is a typo in the copy for the local wallet option in the Crypto Wallets setup (brave://wallet)

"annonymously" should be updated to: anonymously
.

## Steps to Reproduce

   1. from a clean profile, navigate to `brave://wallet/`
   2. locate local wallet option
   3. *annonymously* appears in the second sentence of local wallet description copy.

## Actual result:

## Expecte

[2019-08-23 08:29] lukemulks opened #5775 ""Chrome" browser references in brave://about page"
## Description

"Chrome" is displayed for all of the URLs and browser references within the brave://about page

## Steps to Reproduce

   1. navigate to brave://about
   2. observe Chrome used in the page, title, tab and urls
   3.

## Actual result:

## Expected result:
All instances of "Chrome" should be replaced with "Brave"

## Reproduces how often:

100%

## Brave version (brave://version inf

[2019-08-23 08:39] lukemulks commented on #5775
@rebron assigned you on this one - suspect you'd likely know the best path forward in queue.

[2019-08-23 08:41] adamreisnz commented on #1306
This was a silly issue to raise. Now we can't access our bookmark bar in a new tab anymore without being forced to see the bar for every... single... tab.

Someone please hit undo.

[2019-08-23 08:46] simonhong commented on #1306
@adamreisnz Sorry for your inconvenience.
We fixed (https://github.com/brave/brave-core/pull/2869) and I assume that it will be uplifted to beta(0.69.x).

[2019-08-23 09:05] tmancey commented on #5628
@LaurenWags Can this ticket be closed as on our call we discovered your OS was older than Windows 10 build 17134 which does not support native notifications in Chromium, therefore you were seeing Chromium Message Center notifications which are not added to the notification center

[2019-08-23 09:41] KarmaMonk commented on #1024
Thanks for enable VAAPI Support. I enabled the "Override software rendering list"-flag in the latest nightly. But VP9 and H264 youtube-videos are no longer playing. Where is the right place to report this bug?

[2019-08-23 09:45] akarshanbiswas commented on #1024
@karmaMonk Intel? You'll need [this](https://aur.archlinux.org/cgit/aur.git/tree/vaapi-fix.patch?h=chromium-vaapi) patch. This is the reason why I have it disabled by default.

[2019-08-23 10:06] KarmaMonk commented on #1024
@akarshanbiswas Yes, Intel HD Graphics 620 (Kaby Lake GT2). Will your patch be included in brave sooner or later? Thx for your work.

[2019-08-23 10:19] chkk525 opened #5776 "Fail to load videos https://vk.sportsbull.jp"
## Description

Videos in https://vk.sportsbull.jp don't start (both videos in the main area and mini window)

## Steps to Reproduce

   1. Go to https://vk.sportsbull.jp

## Actual result:

![image](https://user-images.githubusercontent.com/3054915/63585682-a8f9db00-c5da-11e9-8748-1e7d62120b0c.png)

## Expected result:
- Videos should start as in Chrome

## Reproduces how often:

- Easily reprodu

[2019-08-23 12:54] srirambv opened #5777 "Ads not blocked on ecommerce-platforms.com"
## Description

Ads not blocked on ecommerce-platforms.com

## Steps to Reproduce

   1. Visit an article on ecommerce-platforms.com
   2. Ad banners are shown at the top of the article and in other places

## Actual result:

Looks like first party advertising linking to a third party site
![image](https://user-images.githubusercontent.com/17010094/63593891-019d8980-c583-11e9-88f5-a5d74a73ab12.png

[2019-08-23 13:04] GeetaSarvadnya opened #5778 "`Your wallet` dummy text in the BR panel when Brave Rewards is turned OFF"
## Description

`Your wallet` dummy text in the BR panel when Brave Rewards is turned OFF

## Steps to Reproduce

   1. Clen profile 0.69.114
   2. Enable rewards
   3. Turn OFF brave rewards
   4. Open BR panel
   5. Your wallet is dummy text in BR panel it's not redirecting to verify wallet modal (not sure whether it should be removed or make it behave as it behaves in settings page when brave r

[2019-08-23 13:04] GeetaSarvadnya opened #5779 "Click `Add funds` in the panel is redirecting to brave settings page when Brave rewards is turned OFF"
## Description

Click `Add funds` in the panel is redirecting to brave settings page when Brave rewards is turned OFF

## Steps to Reproduce

   1. Clean profile 0.69.114
   2. Join rewards
   3. Turn OFF brave rewards
   4. Click on BR panel
   5. Click on `Add funds` in BR panel
   6. Add funds redirected to brave rewards settings page

## Actual result:

Click `Add funds` in the panel is redire

[2019-08-23 13:08] LaurenWags commented on #5628
Since @kjozwiak experienced it on Mojave I think it merit further research or perhaps a call with him - I understand why it's happening on High Sierra, but my understanding is that it should be working on Mojave.

[2019-08-23 13:16] GeetaSarvadnya opened #5780 "When Brave rewards is OFF uphold page loads forever when verifying wallet from the settings page"
## Description

When Brave rewards is OFF uphold page loads forever when verifying wallet from the settings page

## Steps to Reproduce

   1. Clean profile 069.114
   2. Join rewards
   3. Turn OFF brave rewards switch in brave://rewards page
   4. Click on `Verify wallet` in setting page
   6. Click on VERIFY WALLET in verify modal
   7. Login uphold using existing uphold account
   8. Uphold pa

[2019-08-23 13:35] LaurenWags commented on #5336
+1 from community: https://community.brave.com/t/problem-mounting-rewards-panel/76917

[2019-08-23 14:17] rulatir commented on #2761
"Once these two prerequisites that have been stalled for months without any sign of progress are satisfied, we will have this feature like immediately-ish".

[2019-08-23 14:35] simonhong opened #5781 "Make visible bookmark bar on NTP by default"
As https://github.com/brave/brave-core/pull/2869 is merged, user can choose whether bookmark bar is visible or not on NTP regardless of bookmark show option.

By default bookmark bar is off on NTP.
It should be visible by default.

[2019-08-23 14:35] warwickmm opened #5782 "Ads are no longer blocked on many sites"
## Description

## Steps to Reproduce
After upgrading to 0.68.131, ads are no longer blocked on many sites.  Version 0.67.123 was able to block ads without any issues.

   1. Upgrade to Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit) on Windows 7.
   2. Ensure that all shields are up.  Brave Rewards is not enabled.
   3. Visit www.sfgate.com, or www.nytimes.com

Also, on sites w

[2019-08-23 15:23] akarshanbiswas commented on #1024
@KarmaMonk @maximbaz is maintaining brave browser with that patch. If you're on Arch linux you can download and install from his repository. As for as official is concerned, I am not willing to.

The bug/regression with Intel drivers can be tracked [here](https://github.com/intel/intel-vaapi-driver/issues/456) .

[2019-08-23 15:28] DJavireX opened #5783 "Transfering Old Wallet to Brave Dev Wallet"
## Description
Transfering from Old Brave Wallet to New Brave Wallet

## Steps to Reproduce

   1. i copy my recovery key
   2. paste it into new brave (dev)

## Actual result:
0 BAT are Shown

## Reproduces how often:
always

[2019-08-23 15:54] LaurenWags commented on #5426
Verified passed with

Brave | 0.69.114 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/3042

[2019-08-23 16:17] bbondy commented on #5741
I think you can add a second account then delete the first.

[2019-08-23 16:17] bbondy commented on #5741
Maybe a clear all extension state would be nice though.

[2019-08-23 16:22] bbondy commented on #5698
@diracdeltas are you working on this one?

[2019-08-23 16:23] #5770 closed

[2019-08-23 16:26] rebron commented on #5647
cc: @btlechowski Can you take on look on Windows 7?

[2019-08-23 16:29] rebron commented on #5653
cc: @tomlowenthal We do want this notification shown in release channel right?

[2019-08-23 16:32] rebron commented on #5658
@keerah Could you provide more information? As you mentioned in works fine on your desktop and this looks device specific? What are the specs for your device?

Are you navigating via touchscreen and that's why it's not working?

[2019-08-23 16:37] keerah commented on #5658
Thank you @rebron for your response, but the problem has already gone as mysteriously as it appeared. Not sure it might be the recent Brave update.

[2019-08-23 16:41] #5734 closed

[2019-08-23 16:42] rebron commented on #5672
cc: @tomlowenthal Can you comment?

Should we just make a similar document.
https://www.chromium.org/administrators/turning-off-auto-updates

cc: @Brave-Matt

[2019-08-23 16:46] rebron commented on #5676
We'll need to retest on Chrome. @stefanmendoza Not applicable in Chrome?

[2019-08-23 16:48] rebron commented on #5680
Over to @tomlowenthal though I would suspect the answer is just keep using the Extension. We also have a clear cookies on exit as a setting.

[2019-08-23 16:49] rebron commented on #5681
@srirambv for linux @btlechowski for windows 7 Can you guys take a look to see if this is fixed?

[2019-08-23 16:52] stefanmendoza commented on #5676
@rebron I only use Brave 😁

I'll download Chrome and try to test this out. 👍

[2019-08-23 16:52] rebron commented on #5692
Closing. Please use the template when creating issues.

[2019-08-23 16:52] #5692 closed

[2019-08-23 16:54] rebron commented on #5693
cc: @ryanbr @snyderp

[2019-08-23 17:01] rebron commented on #5759
cc: @ryanbr

[2019-08-23 17:01] diracdeltas commented on #5698
@bbondy haven't gotten around to it yet but i will today

[2019-08-23 17:03] rebron commented on #5761
cc: @fmarier cc: @tomlowenthal

[2019-08-23 17:04] rebron commented on #5762
Does this need QA? Sounds like screenshots aren't working in certain cases?

[2019-08-23 17:07] rebron commented on #5767
cc: @tomlowenthal for prioritization

[2019-08-23 17:10] fmarier commented on #5664
Did you enable user namespaces before starting Brave?

On my machine, I added this to `/etc/sysctl.d/00-local-userns.conf`:

    kernel.unprivileged_userns_clone = 1

before running `sysctl -p /etc/sysctl.d/00-local-userns.conf`.

I assume that your custom kernel has that module compiled in. If not, you'll have to add it in.

[2019-08-23 17:10] rebron commented on #5768
Hi. Thanks for the info @tayvano  Closing.
Here's a related issue: https://github.com/brave/brave-browser/issues/1052

[2019-08-23 17:10] #5768 closed

[2019-08-23 17:14] fmarier commented on #5664
That's interesting, you do have user namespaces enabled. The sandbox should work. Unless `kernel.unprivileged_userns_clone = 1` is another option which hasn't been enabled in your kernel.

I can think of two other things to try:

1. Try compiling it as a module and enabling it using `kernel.unprivileged_userns_clone = 1` to see whether that's any different.
2. Try installing the official Google Ch

[2019-08-23 17:17] rebron commented on #5781
Flagged this as a p2 to evaluate. We may want to include as part of hotfix with 68.x.
@kjozwiak @bsclifton

[2019-08-23 17:22] rebron commented on #5782
<img width="1339" alt="Screen Shot 2019-08-23 at 10 20 45 AM" src="https://user-images.githubusercontent.com/5951041/63610985-b178f400-c58f-11e9-9a18-47eea47d7168.png">

@warwickmm I'm seeing ads blocked on SFGate with your same steps to reproduce.

Can you tell me what you have set for:
brave://settings/shields

[2019-08-23 17:23] mcamou commented on #5646
While this is diagnosed and hopefully fixed... is there a workaround to turn Shields on/off for specific domains without using the normal Shields popup?

[2019-08-23 17:24] DJavireX commented on #5783
what kind of info do you need?

[2019-08-23 17:24] rebron commented on #5783
Can you tell me what versions you have for each, what version you had for the old brave wallet and the new version you're looking to import to?

[2019-08-23 17:25] DJavireX commented on #5783
Brave | 0.27.3
-- | --
V8 | 6.9.427.23
rev | 2df8cb1
Muon | 8.1.8
OS Release | 10.0.17134

the actual Brave Dev i would like to import the wallet
Update Channel | Veröffentlichung
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 69.0.3497.100

[2019-08-23 17:25] warwickmm commented on #5782
![image](https://user-images.githubusercontent.com/17345532/63611225-411ea280-c590-11e9-8cd4-6e8fee0c66b8.png)

I've also cleared all site settings and still see ads.

Perhaps related, I noticed that the stats on the new tab page do not seem to be updating anymore.

[2019-08-23 18:08] rebron commented on #5782
@warwickmm can you try a few more websites for me: maybe tmz.com, theverge.com, and espn.com.
Do you also see ads on those websites with shields up?

And on SFGate, can you screenshot how many items you have blocked? I have mine showing 25 items blocked.

[2019-08-23 18:09] bbondy opened #5786 "Add more buy options other than Wyre"
e.g. Possibly via BitGo, Binance, Uphold, Coinbase.

[2019-08-23 18:14] warwickmm commented on #5782
Ads appear to be blocked on theverge.com and espn.com (I didn't try tmz.com since I'm at work).  However, the shields icon indicates that no items are blocked:

![image](https://user-images.githubusercontent.com/17345532/63614008-dcb31180-c596-11e9-82a0-9ae5202b8aad.png)

![image](https://user-images.githubusercontent.com/17345532/63614034-ec325a80-c596-11e9-9558-915240d84fcb.png)

For sfgate.com,

[2019-08-23 18:30] bbondy commented on #4772
Closing since we have https://community.brave.com/c/nightly-builds/crypto-wallets-feedback

[2019-08-23 18:30] #4772 closed

[2019-08-23 18:32] rebron commented on #5782
<img width="1509" alt="Screen Shot 2019-08-23 at 11 27 27 AM" src="https://user-images.githubusercontent.com/5951041/63615057-4b916a00-c599-11e9-9708-6600d6ec7511.png">
TMZ.com ads should be blocked for you, sorry for that request.

One more thing, can you screenshot what you've got for shields settings like the two below.
I'm trying to figure what that one thing is that you're blocking and why 25

[2019-08-23 18:35] warwickmm commented on #5782
![image](https://user-images.githubusercontent.com/17345532/63615331-f43fc980-c599-11e9-911a-ef5652782f04.png)

![image](https://user-images.githubusercontent.com/17345532/63615358-06ba0300-c59a-11e9-9882-b313889df220.png)

[2019-08-23 18:45] LaurenWags commented on #5366
Verified passed with

Brave | 0.69.114 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

(all testing completed on Staging env)
* Verified test plan from https://github.com/brave/brave-core/pull/2996
* Verified BAT from anon wallet moved to my verified, KYC'd `Brave Browser` card on Uphold

[2019-08-23 19:18] #5686 closed

[2019-08-23 19:20] #5774 closed

[2019-08-23 20:30] warwickmm commented on #5782
It's interesting that you have 25 "Cross-site trackers" blocked, while the only thing I have blocked is "Cross-site device recognition".

[2019-08-23 20:38] rebron commented on #5782
@warwickmm Does clearing sfgate cookies/permissions from here: brave://settings/content/siteDetails?site=https%3A%2F%2Fwww.sfgate.com and then reload the page help? Assuming you're ok with doing that. I'm not blocking tpc.googlesyndication.com I need to investigate some more.

[2019-08-23 20:46] warwickmm commented on #5782
Unfortunately, clearing sfgate cookies/permissions does not help.

[2019-08-23 21:06] rebron commented on #4201
Looks good still on spiegel.de. I am seeing ads on golem.de, but let's treat that as a separate issue.

[2019-08-23 21:31] #5415 closed

[2019-08-23 21:45] anthonypkeane opened #5787 "Ask users to try our Brave on their Mobile"
## Description

**Feature Request**
x days after install, I propose we show a pop-up modal, asking desktop users to try out Brave on their mobile.
Within this modal we display the Play and App Store icons that directly link to the relevant store.
x = could be 15 days for example

[2019-08-23 21:54] LaurenWags commented on #5178
Verified passed with

Brave | 0.69.114 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

* Verified test plan from description

[2019-08-23 22:21] cezaraugusto commented on #5753
self-assigned and set as `needs-investigation` as I think this is not a regression based on latest changes in this codebase.

[2019-08-23 22:39] petemill opened #5789 "Profiles should be generated with 'Profile X' instead of 'Person X' name"
## Description

When creating a new profile, use 'Profile X' template.

## Steps to Reproduce

   1. Create new profile via App Menu

## Actual result:

New profile is called 'Person 2' in whatever language user is in.

## Expected result:
New profile is called 'Profile 2' in whatever language user is in.

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Inform

[2019-08-24 00:00] rebron commented on #5658
Good too hear. Will close this issue out then.

[2019-08-24 00:00] #5658 closed

[2019-08-24 06:53] snyderp commented on #5762
This is only when going through puppeteer (or other programatic devtools interfaces).  This is distinct from user facing screenshot tools in the devtools UI (if they exist, im not sure).

And not certain cases, seems totally intermittent

Q/A would be great, but would need someone with at least some development skills, since youd need puppeteer and (a little) node experience to reproduce

[2019-08-24 06:56] snyderp commented on #4201
@ryanbr this doesn't seem to be an adblock-rust issue.  Its due to this, right?

https://github.com/uBlockOrigin/uAssets/commit/290cdecc3224819e534fadb1cce716dd6d295cce

[2019-08-24 06:59] snyderp commented on #5693
@rebron this is because we're polyfilling analytics, so shields doesn't see it as blocked.  Shields is successfully preventing Google's GA code from loading though.

Probably would be best to both polyfill and also report as blocked in shields.  Prob best to open in a new issue and pull in a shields engineer?

[2019-08-24 08:45] ShinTakata commented on #2264
you must enable user namespace

you can apply this method on kali linux. Visit this website: https://thehacktoday.com/how-to-create-non-root-user-in-kali-linux/

and install brave via snap in kali linux. it will run smoothly, :)

or i think this will work also on your non root account in kali linux.

sudo apt install apt-transport-https curl

curl -s https://brave-browser-apt-release.s3.brave.com/

[2019-08-24 09:51] ryanbr commented on #5782
Just tested sfgate; https://secure.fanboy.co.nz/gif/sfgate.gif

Seems fine, getting atleast 25+ blocked items (Brave Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit))

[2019-08-24 10:01] ryanbr commented on #5777
https://github.com/easylist/easylist/commit/124be68a78ef786008351b5ccc5bdea8183f41c5

Should fix it.

[2019-08-24 10:07] ryanbr commented on #5759
I could be a embedded javascript, rather the `https://stats.wp.com/` thats still monitoring/tracking users.

[2019-08-24 10:25] ryanbr commented on #5715
Just tested this; https://secure.fanboy.co.nz/gif/viz.gif

Brave on Left, Chrome on right. Seems okay?

Tested in: Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)

[2019-08-24 10:48] ryanbr commented on #5714
Couldn't replicate this. https://secure.fanboy.co.nz/gif/googledocs.gif  (with a few refreshes)

Tested in Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)

[2019-08-24 10:52] #5712 closed

[2019-08-24 11:31] #4979 closed

[2019-08-24 12:25] bbondy opened #5790 "Unpacked crx in Brave [can be] missing the _metadata/computed_hashes.json file"
"Curious to see the unpacked crx in Brave missing the _metadata/computed_hashes.json file. The image on the right is from Chrome. Why the difference?"

<img width="1377" alt="Capture d’écran 2019-08-24 à 8 23 00 AM" src="https://user-images.githubusercontent.com/831718/63637244-67077e00-c648-11e9-83c1-5289c3930059.png">

<img width="359" alt="Capture d’écran 2019-08-24 à 8 23 34 AM" src="https

[2019-08-24 12:56] ryanbr commented on #4201
Okay correct, not a adblock-rust issue. Guessing we need to rethink the blocks for this site / use the snippets from uBo's filters.txt

[2019-08-24 13:36] mikhoul commented on #5647
I upgraded to the latest Brave version today and the problem disappeared.

[2019-08-24 15:36] rcharif commented on #1063
Agreed-- I've been exploring and appreciating Brave, almost ready to switch from Firefox, but not if I have to give up the convenience of being able to display and search many bookmarks without opening a whole new tab. Needless to say the bookmark sidebar display needs to have a search/filter feature as does FF.

[2019-08-24 17:08] warwickmm commented on #5782
I tried renaming `%APPDADTA%\Local\BraveSoftware` and then installing a new instance.  Still encountering the same issues:
* www.sfgate.com shows ads
* www.cnn.com appears to have ads blocked, but the shields icon shows that zero elements are blocked
* Also, it seems that no stats are updated.  There are sites where I'm certain ads are being blocked (cnn, espn).  However, the shield icon shows zer

[2019-08-24 18:50] rebron commented on #5647
Closing. No longer reproducible per @mikhoul in release builds. Thanks for checking.

[2019-08-24 18:50] #5647 closed

[2019-08-24 20:10] ryanml opened #5791 "Twitter tip actions should be tab-selectable, and accessible via enter key"
Currently, you are unable to tab focus twitter tip actions on tweets, you should be able to tab-select them, then hit 'Enter' to engage the tipping banner. The goal is to have this achievable without clicks, for accessibility purposes.

[2019-08-24 20:23] hp8wvvvgnj6asjm7 commented on #5526
https://heathenharvest.org

This site too

[2019-08-24 21:56] maxgrass opened #5792 "https://glitch.com/ is blank."
## Description
Web site not working.

## Steps to Reproduce
   1. Login to https://glitch.com/
   2. Create new project.

## Actual result:
Blank page.

## Expected result:
Code Editor view.

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs

[2019-08-24 21:59] SvenVer commented on #5636
I have the same issue. (Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
I just got a new computer, on previous computer im quite sure it worked fine on Brave.

[2019-08-24 22:05] maxgrass opened #5793 "degiro.nl is not working"
## Description
No site live content updates (ticker, numbers).
(Presumably) [Background]-Worker not working.

## Steps to Reproduce
   1. Login to degiro.nl

## Actual result:
Static numbers and many not loaded numbers.

## Expected result:
Numbers updating every second.

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
Windows+Mac

Brave 0.68.131 Chromium: 76.0.

[2019-08-24 22:19] maxgrass commented on #5792
Upd: reproducible with the latest chrome version.

[2019-08-24 22:19] #5792 closed

[2019-08-24 22:26] szaimen opened #5794 "Different search engine for private-mode/tor-mode"
## Description
Please provide an option to set a different search engine for the private-mode/tor-mode than for the normal mode.

[2019-08-25 01:36] ReeSilva commented on #2408
+1

[2019-08-25 02:32] ryanbr commented on #5793
So Disabling sheilds helps? Could you DM on twitter @fanboynz with login details to test with?

[2019-08-25 03:15] harooporks commented on #3807
The fix in v 0.68.131, is not flawless.

The fix only works if your media player of choice is communicating with windows(If it shows the currently playing song on the lock screen and in the volume overlay). If your media player doesn't this or you have disabled it then the only detected source for media within windows will be brave, so the media keys will control brave and your other service at th

[2019-08-25 10:21] thommesborg opened #5795 "Mozilla location api not accurate in some instances"
I'm using Brave version 0.68.131 Chromium: 76.0.3809.100 (Offizieller Build) (64-Bit)
If I make use of Google Maps and hit the allow location button, my position is fetched nearly 117 meters wrong.

How to reproduce:
   1. Open Google Maps
   2. Give permission to make use of your localization
   3. Wait for around 10 seconds to proceed
   4. Results in a wrong fetched location. See screenie.

<im

[2019-08-25 10:35] GeetaSarvadnya commented on #5336
Verification passed on

Brave | 0.69.115 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- The issue is reproducible in the old builds 0.68.113/0.68.116/0.69.77, now the issue is fixed.
- Verified the STR from the description
- Verified the test plan f

[2019-08-25 12:03] GeetaSarvadnya opened #5796 "No speaker icon display for some languages"
## Description

Found while testing https://github.com/brave/brave-browser/issues/5561

No speaker icon display for some languages - `Malayalam`, `Kannada`, `Samoan`,`Telugu`, `Amharic`

## Steps to Reproduce

   1. Navigate to brave://settings
   2. Visit https://www.deutschland.de/de
   3. Install and add google translate extension to brave
   4. Click on the extension
   5. Enter any text in th

[2019-08-25 12:05] GeetaSarvadnya commented on #5561
Verification passed on

Brave | 0.69.115 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3103
- Logged https://github.com/brave/brave-browser/issues/5796
- Encountered https://githu

[2019-08-25 12:22] GeetaSarvadnya commented on #5561
@yrliou Google translate option is not available in the context menu in Windows. Is this expected? whereas I could see `Google translate` option in macOS https://github.com/brave/brave-core/pull/3103#issuecomment-523247106.

![image](https://user-images.githubusercontent.com/38657976/63649867-bb058600-c760-11e9-858b-0ea12d1911b6.png)

[2019-08-25 12:32] kirilloffs opened #7468 ""Always request desktop website" feature no longer works on numerous websites."
## Description

A lot of sites serve mobile version, while Desktop mode is enabled globally for all sites ( Settings -> Site settings -> Desktop Mode). For sites which load mobile version Desktop mode checkbox is active (three vertical dots in lower right corner -> desktop mode) meaning Desktop veersion should be served, but that`s not happening.

Affected websites include, but not limited to 4pda

[2019-08-25 12:44] GeetaSarvadnya commented on #5657
Verification passed on

Brave | 0.69.115 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/3236

[2019-08-25 14:15] MagicalDrizzle commented on #5681
The issue returns in Brave 0.68.131:
![Untitled](https://user-images.githubusercontent.com/49761211/63651298-6d4b4680-c77d-11e9-88bd-e4f8097c1958.png)

[2019-08-25 15:09] GeetaSarvadnya commented on #5041
Verification passed on

Brave | 0.69.115 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2814

[2019-08-25 15:17] Arcim commented on #3348
Hello all,

all was fine and blocked, until I installed Adobe Acrobat Reader and unfortunately let it install with the browser add-on. Since then Youtube started push through adverts without the skip button. No popups or banners so far. Although I am not sure if there was any other update to system or to Brave itself. I will try to make a fresh install of Brave and let you know if anything changes

[2019-08-25 15:54] GeetaSarvadnya opened #5797 "NTP `Dashboard settings` tooltip is not shown on mouse hover"
## Description

Found while testing https://github.com/brave/brave-browser/issues/5041
NTP `Dashboard settings` tooltip is not shown on mouse hover

## Steps to Reproduce

   1. Open brave 0.69.115
   2. Open NTP
   3. Tooltip for settings is not shown on mouse hover

## Actual result:

NTP `Dashboard settings` tooltip is not shown on mouse hover

![image](https://user-images.githubusercontent.com

[2019-08-25 16:08] Arcim commented on #3348
Also the ads are pre-and also mid-roled and I noticed that some are in my native language so it knows where I am...

[2019-08-25 19:58] AMDphreak commented on #3864
This is still a problem. And disabling HW acceleration (I assume h264 pipeline) is less than ideal for the future. Can this be reopened?

[2019-08-26 01:06] yrliou commented on #5796
I think we could close this as non actionable since this is just the behavior of Google Translate extension itself, they probably just don't support it for some languages, I tried Malayalam and it behaves the same in Chrome.

[2019-08-26 01:08] yrliou commented on #5561
@GeetaSarvadnya Could you try the extension in Chrome and see if it shows up in Chrome's context menu on Windows? Thanks.

[2019-08-26 01:19] d-Rickyy-b commented on #4679
The same issue happens for me in Firefox, Chrome, Brave and Edge. I cannot access the subdomain web.archive.org at all. From my phone in the same network using Firefox/Chrome/Brave it works perfectly fine. This looks like a bigger issue to me.

[2019-08-26 03:41] mcamou commented on #5646
One more data point: I just realized that at some point I had enabled the `chrome://flags/#extensions-toolbar-menu` flag. I disabled it and now the Brave Rewards and Shields popups work correctly, so the issue is related to that.

[2019-08-26 05:10] NejcZdovc commented on #5646
@mcamou thank you very much for this details, we will investigate

[2019-08-26 07:58] #5796 closed

[2019-08-26 07:59] bsclifton commented on #5797
cc: @cezaraugusto

[2019-08-26 08:02] bsclifton commented on #5795
I believe we're using the Mozilla service for geo-location, which would explain the difference

@thommesborg do you happen to have Firefox installed? If so, I'm curious if it's wrong there too?

cc: @bridiver

[2019-08-26 08:04] bsclifton commented on #5681
cc: @simonhong

[2019-08-26 11:50] thommesborg commented on #5795
Hi Brian,

Safari and Chrome are working correctly, only Brave shows this issue.

    Firefox is not installed on that device.

Chrome is the latest stable release and has the same chromium base like
Brave but Chrome works fine.

Regards
Thomas

Brian Clifton <notifications@github.com> schrieb am Mo. 26. Aug. 2019 um
10:03:

[2019-08-26 12:24] danielb2 commented on #208
Seems like a workaround is to do:

https://translate.google.com/translate?hl=en&sl=auto&tl=en&u=YOUR_URL_HERE

[2019-08-26 12:28] mserajnik commented on #208
That does work, although it's causing issues in some cases. E.g., when you want to use a password manager with browser integration. Since the domain will then be `translate.google.com` (and not the actual website domain), you can't autofill the credentials to log in (unless you add `translate.google.com` to the domain list in the manager, which will get tedious to select from when you have multipl

[2019-08-26 12:31] danielb2 commented on #208
btw, also to make it easier it's possible to use this together with the search engine manager: chrome://settings/searchEngines?search=search

[2019-08-26 12:32] GeetaSarvadnya commented on #5199
Verification passed on

Brave | 0.69.115 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2814

[2019-08-26 12:54] #5723 closed

[2019-08-26 13:06] btlechowski commented on #2754
LGTM.

Verified test plan from https://github.com/brave/brave-browser/issues/2754#issuecomment-496602362

sync 0.71.x with 0.71.x
[PASS] Existing bookmarks sync through code words
[PASS] New bookmark sync
[PASS] New folder sync
[PASS] Moved bookmark
[PASS] Moved bookmark folder
[PASS] Deleted bookmark
[PASS] Deleted bookmark folder
[PASS] 5000 bookmarks sync
[PASS] Sync after going offline

sync 0

[2019-08-26 13:32] LaurenWags commented on #4139
I'm still having trouble with this one. @kjozwiak @diracdeltas could one of you take a look to see if you see the same?

At the step where I have to upload the front of my drivers license I am getting the below screen (I have confirmed that I am trying to upload a .png file):
![Screen Shot 2019-08-26 at 9 28 41 AM](https://user-images.githubusercontent.com/28145373/63694291-1b89d700-c7e4-11e9-8340

[2019-08-26 14:30] LaurenWags opened #5798 "verified UI on rewards panel is confusing"
## Description
Some users have reported that the UI on the Rewards panel is confusing. Specifically, around 'Verified'. The panel is telling you two things around verification:
1. If your wallet is verified (upper left corner)
2. If the publisher's page you are visiting is verified (in the middle)

In the image below users could be confused because they see Verified and unverified on the same scre

[2019-08-26 15:08] LaurenWags opened #5799 "user wallets - NY loop"
## Description
Reported by Uphold:

Users from NY enter a loop when they authorize Brave Browser.

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

![jJQmP088sV](https://user-images.githubusercontent.com/28145373/63700816-a7eec680-c7f1-11e9-9006-35ae1992d304.gif)

## Expected result:
No loop. There should be some kind of error/information for NY users.

## Reproduces how often:
unsure

[2019-08-26 18:54] LaurenWags opened #5800 "default shield prevents uploading image for Uphold KYC"
## Description
Follow up to https://github.com/brave/brave-browser/issues/4139

When I go to upload an image to complete KYC on Uphold, I get a message that I'm not uploading a supported file type. However, if I change my default FP setting to allow, then I can proceed.

## Steps to Reproduce

   1. Go to uphold.
   2. Create an acct and begin KYC.
   3. When you go to upload an image of your driv

[2019-08-26 19:08] mkarolin opened #5801 "Upgrade from Chromium 76.0.3809.100 to Chromium 76.0.3809.132"
QA tests:

Check branding items
Check for version bump

[2019-08-26 19:39] kjozwiak opened #5802 "Release checklist for 0.68.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-08-26 19:53] kjozwiak opened #5803 "Manual test run on Windows for 0.68.x - Release Hotfix 1"
## Per release specialty tests

- [x] Upgrade from Chromium 76.0.3809.100 to Chromium 76.0.3809.132 #5801

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signat

[2019-08-26 19:55] kjozwiak opened #5804 "Manual test run on Linux for 0.68.x - Release Hotfix 1"
## Per release specialty tests

- [x] Upgrade from Chromium 76.0.3809.100 to Chromium 76.0.3809.132 #5801

### Installer

- [ ]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signat

[2019-08-26 19:56] kjozwiak opened #5805 "Manual test run on OS X for 0.68.x - Release Hotfix 1"
## Per release specialty tests

- [x] Upgrade from Chromium 76.0.3809.100 to Chromium 76.0.3809.132 #5801

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signat

[2019-08-26 21:14] Dwedit opened #5807 "After importing cookies from Firefox, cookie domains do not match, preventing logging in to websites"
## Description
After importing cookies from Firefox, you are unable to log in to phpbb-based message boards.  If you check the cookies, you will see duplicates cookies with slightly different domains, and non-matching data.

## Steps to Reproduce
   1. Log into a PHPBB-based website with Firefox, saving session for future logins
   2. Close Firefox
   3. Import Cookies (use chrome://settings/impor

[2019-08-26 21:28] mandar-brave opened #5808 "Replace 5% settlement card with an anon address"
Transactions sent to the non-anon card are displaying the sender.
Replace these:
const char kFeeAddressStaging[] = "7ab330ae-b7a6-4845-8f07-baab68848e4e";
const char kFeeAddressProduction[] = "532857d5-ff8b-4ca7-b9ef-5b1e40178340";

@NejcZdovc

[2019-08-26 22:16] bridiver opened #5809 "regression for sliver.tv"
https://github.com/brave/brave-browser/issues/5380 regressed with https://github.com/brave/brave-core/pull/3130

[2019-08-26 23:27] #5801 closed, assigned to mkarolin

[2019-08-26 23:51] btlechowski commented on #5737
Not able to reproduce on

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/63730789-0a38dd00-c86d-11e9-8933-2da36981d95d.png)

[2019-08-27 00:02] #5781 closed

[2019-08-27 00:15] btlechowski commented on #5797
Reproduced on Ubuntu

Brave | 0.69.116 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

[2019-08-27 00:54] chkk525 commented on #5756
This was happening to me as well. (also @leshacat 's CLEAR ALL solution also worked for me)

[2019-08-27 00:56] chkk525 commented on #5715
@ryanbr thank you. It seems okay!

[2019-08-27 00:56] #5715 closed

[2019-08-27 00:58] chkk525 commented on #5714
It seems ok now. Thank you!

[2019-08-27 01:11] btlechowski opened #5813 "Broken `brave://welcome` page after pressing Tab"
## Steps to Reproduce

   1. Clean profile
   2. Launch Brave
   3. Press `Tab` few times

![tab_on_welcome_page](https://user-images.githubusercontent.com/34715963/63733238-d6af8000-c877-11e9-8268-46c17fb12443.gif)

## Actual result:

![image](https://user-images.githubusercontent.com/34715963/63733222-ca2b2780-c877-11e9-975a-cba280284858.png)

## Expected result:
Proper item selected

## Reprodu

[2019-08-27 01:14] btlechowski commented on #5813
Similar issue on Dev and Nightly.

Brave | 0.70.75 Chromium: 76.0.3809.100 (Official Build) dev (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 7 Service Pack 1 (Build 7601.24511)

![image](https://user-images.githubusercontent.com/34715963/63733369-6b19e280-c878-11e9-85ac-73f660f1aa99.png)

Brave | 0.71.37 Chromium: 76.0.3809.100 (Of

[2019-08-27 01:35] petemill opened #5814 "Migrate "Person X" default profile name to "Profile X" for all languages"
## Description

Related to https://github.com/brave/brave-browser/issues/5789 (generate new profiles with "Profile X" name instead of "Person X")
Related to https://github.com/brave/brave-browser/issues/5665 (rename instances of "People"/"Person" to "Profile"

## Test plan / Steps to Reproduce

   1. With a previous version of Brave
   2. Create a new profile
   3. Observe that first and new profi

[2019-08-27 02:47] simonhong commented on #5672
I think having a documents would be fine.
Recently some users complains about the download size during the update because we are doing full update not partial update and some users want to control auto update.
cc @bbondy

[2019-08-27 05:20] simonhong commented on #5464
@rebron yes, this is expected behavior.

[2019-08-27 05:30] simonhong commented on #5681
Hmm, there was no theme related changed in `0.68.x`. I think this is regression from upstream change. looking at it.

[2019-08-27 08:03] simonhong commented on #5462
Closed because this was fixed by https://github.com/brave/brave-core/pull/2905

[2019-08-27 08:03] #5462 closed

[2019-08-27 10:07] #5808 closed

[2019-08-27 10:32] Klaws-- commented on #1368
"Chrome 70 replaced CTRL+SHIFT+Q shortcut for exit with Alt+F followed with X".
Sadly, this is not true. The required key combination actually depends on the language in which you are using the browser. Reportedly, in Spain users even need to type Alt+F S S Enter.

[2019-08-27 11:02] tmancey commented on #5628
@LaurenWags agreed.

@kjozwiak can you let me know when you would be available to diagnose if this is an issue or working as expected. Thanks

[2019-08-27 11:17] chkk525 commented on #5714
@ryanbr I re-opened this as it should be working without refreshes like in Chrome or Brave Release build. Could you please dig into this issue again?

[2019-08-27 11:34] GeetaSarvadnya commented on #5355
Verification passed on

Brave | 0.69.113 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2987
- Verified that the blocked resources count is not hardcoded
- Verified that resources

[2019-08-27 12:30] deepanjan-nsk commented on #5533
Can reproduce on Mac OS X 10.14.6 with Brave version :
Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)

[2019-08-27 12:39] GeetaSarvadnya commented on #5561
@yrliou Nope, in chrome `Google translate` option is not available in the context menu in Windows.

Thanks!

[2019-08-27 14:47] tmancey opened #5815 "Migrate Ledger state from JSON to a database to optimise memory and performance"
Migrate Ledger state from JSON to a database to optimise memory and performance which will become more important for mobile

- [x] Refactor and migrate Rewards category from category to type #6350
- [x] Refactor loadFromJson from RapidJSON to base::JSONReader #6351
- [ ] Migrate user settings from JSON to Preferences #7024

[2019-08-27 14:48] tmancey commented on #5815
Supercedes https://github.com/brave/brave-browser/issues/3892 as all Ledger state is being migrated from JSON to a database

[2019-08-27 14:48] tmancey commented on #3892
Closed issue as superseded by https://github.com/brave/brave-browser/issues/5815

[2019-08-27 14:48] #3892 closed

[2019-08-27 15:18] LaurenWags opened #5816 "Wallet unreachable notification text"
## Description
The 'Your wallet is unreachable' notification text needs some updates.

## Steps to Reproduce

   1. Enable Rewards, verify wallet.
   2. Click on Verify and sign up with Uphold or sign in with an existing account (mine is not KYC'd, but I don't think that matters). You do need to complete the user information section with name, location, etc though and verify your email address at

[2019-08-27 15:53] LaurenWags opened #5817 "disconnect and reconnect different Uphold wallet shows error on brave://rewards"
## Description
If you disconnect your first wallet from brave://rewards and reconnect with a second, different wallet, brave://rewards page shows an error and you can't get away from it. Additionally, if you open the panel, it is not showing the balance of the second wallet.

## Steps to Reproduce

   1. Enable Rewards, click on Verify Wallet and proceed to create an account with Uphold or login w

[2019-08-27 17:40] LaurenWags opened #5818 "Release notes for 0.68.x Hotfix 1 (Release Channel)"
Release Notes
 - Upgrade from Chromium 76.0.3809.100 to Chromium 76.0.3809.132.([#5801](https://github.com/brave/brave-browser/issues/5801))

[2019-08-27 19:03] 360fun commented on #5576
Thank you, I'm very happy that we found a solution that works for both sides! 🙏

[2019-08-27 20:54] feross opened #5821 "WebTorrent http server XSS"
## Description

There's a low risk XSS in the WebTorrent http server. It relies on getting the user to visit an HTML page served by the WebTorrent http server but that we do not expose to Brave users in any UI or user flows.

The following steps are required to pull this off:

- User clicks a link to a `.torrent` file or magnet link which contains a specially-crafted torrent title or file name.
-

[2019-08-27 20:55] maxgrass commented on #5793
Unfortunately sharing login details is not possible. Updated info about shields to be more clear.

The error reads:
"The resource "xxx-worker.558a610ff877ed6e2da1.js" was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as` value and it is preloaded intentionally."

[2019-08-27 21:45] anthonypkeane opened #5822 "Brave not working on Coinbase with shields up"
## Description

With shields up, the graph on coinbase is not working.

![Coinbase](https://user-images.githubusercontent.com/7606853/63810268-35591600-c8d9-11e9-89ea-95aadd68f4d8.gif)

## Step

[2019-08-27 22:26] ryanbr commented on #5800
We need to whitelist netverify.com on uphold.com

[2019-08-27 22:54] ryanbr commented on #5822
Tested this in Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)

`https://www.coinbase.com/price/ethereum`

The graph seems to load okay

[2019-08-27 23:33] #5526 closed

[2019-08-27 23:33] #5521 closed

[2019-08-27 23:36] petemill opened #5823 "CI PR build outputs crash on macOS with codesign error"
## Description

The output of the PR builder CI job, built by the brave-browser Jenkinsfile crash on macOS with CODESIGN error

[2019-08-27 23:41] btlechowski commented on #3793
Verification passed on

Brave | 0.69.117 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified STR from the description.

![image](https://user-images.githubusercontent.com/34715963/63815285-5569f300-c934-11e9-84f9-50089cd87e03.png)
![image](https://user-images.githubuserconte

[2019-08-27 23:44] btlechowski commented on #5098
Verification passed on

Brave | 0.69.117 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified STR from the description.

![image](https://user-images.githubusercontent.com/34715963/63815285-5569f300-c934-11e9-84f9-50089cd87e03.png)
![image](https://user-images.githubuserconte

[2019-08-27 23:51] btlechowski commented on #4637
Dark mode works awesome! Great work!

Verification passed on

Brave | 0.69.117 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified steps from the description.
Also verified Light mode.

![image](https://user-images.githubusercontent.com/34715963/63815704-e4c3d600-c935-11e9-9

[2019-08-27 23:53] darkdh opened #5825 "[deps issue]: 'third_party/widevine/cdm/buildflags.h' file not found"
https://staging.ci.brave.com/job/brave-browser-build-pr/job/brave-syncer-0.69.x/8/execution/node/454/log/?consoleFull
[code]

`//brave/browser/extensions` doesn't have `//brave/browser/browser_process` listed as deps

cc @simonhong

[2019-08-28 00:23] #5821 closed, assigned to feross

[2019-08-28 00:30] btlechowski commented on #4510
Awesome!

Verification passed on

Brave | 0.69.117 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified test plan from  https://github.com/brave/brave-browser/issues/4510#issuecomment-508211813
![4510](https://user-images.githubusercontent.com/34715963/63817242-b2b57280-c93b-

[2019-08-28 01:17] ryanbr commented on #5822
what domain is blocked in the device recognition (in sheilds)

[2019-08-28 04:54] #5800 closed, assigned to diracdeltas

[2019-08-28 05:53] MagicalDrizzle opened #5826 "Scroll bar extends past the bottom of the screen in Reddit"
## Description

When viewing a Reddit post, the scrool bar will extend past the taskbar, and past the bottom of the screen.

## Steps to Reproduce

   1. Go to reddit.com
   2. Navigate to a random post (any will do)

## Actual result:

![Untitled33](https://user-images.githubusercontent.com/49761211/63828855-fcc94300-c991-11e9-9e57-54cebd6e6019.png)
With taskbar hidden:
![Untitled44](https://user

[2019-08-28 06:16] MagicalDrizzle commented on #5826
Also reproducible on Brave 0.68.132

[2019-08-28 06:23] #5755 closed

[2019-08-28 06:26] Sebastiii opened #5827 "PasswordManagerEnabled Windows registry value requested."
## Description
Brave can't manage both password tool (internal and external) like Chrome
A solution was made for chrome by using a registry key, it forces internal way working along with an external extension like Roboform.

This is a post that explains how to set up this for Chrome.
Can you add the same part of code for Brave browser?

## Steps to Reproduce
Install the Roboform app extension and

[2019-08-28 07:11] Quisher commented on #4062
Was going to do a fresh install on my pc and realized there is no way to keep my brave browsing passwords etc. Kinda feeling I will end up wasting all the months of using brave as my primary browser.

Is it there on the roadmap even? As I see hasn't been assigned yet.

[2019-08-28 07:56] willstocks commented on #5759
Hi @ryanbr,
The only bit of inline JS I can find that's related is:

[code]

It's right after the `https://stats.wp.com/` request and is dependent on that file (that's where `_stq` comes from/is used as far as I can tell):

[code]

Assuming my source isn't too dynamic, see `https://willstocks.co.uk/` -> View Source -> Lines 670 to 675

[2019-08-28 11:22] ryanbr commented on #5759
Hard to say, possibly that ^ and/or its planting a cookie and tracking that way.

[2019-08-28 11:37] willstocks commented on #5759
But in theory, Shields is blocking that script (stats.wp.com) from being loaded (or at least, that's what it implies) yet I'm seeing it in my network waterfall still?
Is it only preventing cross-site, or should it be preventing any stats collection at all (which is how I understood it/saw in Google Analytics when I _used_ to use that).
I don't see any cookies being added/removed and the stats.wp.c

[2019-08-28 11:50] willstocks commented on #5760
@rebron I'm with a @SilencerWeb - I'm a bit confused around this one... the functionality existed, but was removed and is to be re-added at a later date as already is re-enabled in a nightly? Is there a reason it was removed if it was already planned to be re-added?

[2019-08-28 11:55] AlexeyBarabash commented on #5660
We don't need this since we have decided to modify sync lib to use SQS for all categories.

[2019-08-28 11:55] #5660 closed

[2019-08-28 14:19] #5805 closed, assigned to kjozwiak, LaurenWags

[2019-08-28 14:31] btlechowski commented on #5803
Verification passed on

Brave | 0.68.132 Chromium: 76.0.3809.132 (Official Build) (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Windows 7 Service Pack 1 (Build 7601.24511)

[2019-08-28 14:31] #5803 closed

[2019-08-28 14:38] #5804 closed, assigned to srirambv, btlechowski

[2019-08-28 14:59] #5818 closed, assigned to LaurenWags

[2019-08-28 16:22] LaurenWags opened #5828 "remove twitter panel support"
## Description
Due to https://github.com/brave/brave-browser/issues/5580 we discussed removing panel support if that issue cannot be resolved in time for 0.69.x release.

This is to track that discussion.

## Miscellaneous Information:
@kjozwiak and @LaurenWags to verify that tipping only via in-line tip button (not using the panel at all) does not result in mismatch/tipping incorrect twitter user

[2019-08-28 16:46] jonathansampson opened #5829 "Brave connects to translate.googleapis.com"
## Description
Brave proxies many requests, but one may have slipped by.

## Steps to Reproduce
1. Launch Brave from a new profile
2. Visit brave://settings

## Actual result:
Brave contacts translate.googleapis.com

## Expected result:
Brave contacts translate.brave.com (if any connection is necessary to begin with)

## Reproduces how often:
Always (on a fresh profile)

## Brave version (brave://

[2019-08-28 17:20] Mikaela commented on #1826
Hi again, does this say anything to you?

[code]

[code]

I managed to fix it by `apt-key adv --keyserver keys.openpgp.org --refresh-keys`, but I wouldn't recommend it and I think your instructions link to outdated public key. After the next `apt update`, there was an update for `brave-keyring`.

* https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux

[2019-08-28 18:32] #5802 closed, assigned to kjozwiak, rebron

[2019-08-28 18:59] mbacchi opened #5830 "Create deterministic (aka reproducible) Brave builds"
Chromium has enabled deterministic (aka [reproducible](https://reproducible-builds.org/)) builds on [some platforms](https://www.chromium.org/developers/testing/isolated-testing/deterministic-builds)([bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=314403)), but not all supported platforms. We should work toward enabling reproducible builds on Brave for the platforms that have be

[2019-08-28 21:00] diracdeltas opened #5831 "cryptowallet shows known dependency vulnerabilities"
in https://github.com/brave/ethereum-remote-client running 'yarn audit' shows the following:

[code]

[2019-08-28 21:09] BhuZha commented on #3199
Still present on both Windows & MacOS running latest versions and on all clients.

Brave | 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

@bsclifton , @rebron

[2019-08-28 21:22] petemill opened #5832 "[Desktop] Profile Manager popup window avatars should be circle"
## Description

As requested by @bradleyrichter , the profile manager popup window should not have square avatars, but rounded.

## Designs
- Have a visual indicator on the profile currently being used
- Make cards more compact so more profiles can be shown at at time
- Remove a step in the profile deletion process and use a lightbox modal treatment to highlight what data is being deleted
![manage

[2019-08-28 21:24] petemill commented on #5832
![image](https://user-images.githubusercontent.com/741836/63893631-87fd0580-c99f-11e9-8869-3d8c4c42a0d8.png)

[2019-08-28 21:45] Rogerborg commented on #5063
Hi tomlowenthal, I want to make something absolutely clear: if you are closing this issue over and over again, if you are telling Brave users that they don't know what they are doing, if you make the decision to treat your users as witless children who don't know the risks of side-loading an extension then this browser is not for them.

The problem, chap, is that Brave is a niche browser only used

[2019-08-28 22:49] petemill commented on #5213
- [ ] Remove Passwords, Payment methods, Addresses and more
- [ ] Add 'Create New Profile' -> creates new profile and launches into brave://welcome
- [ ] Replace 'Manage People' label with 'Manage Profiles'
- [ ] Remove 'Open Tor Window'

[2019-08-28 22:55] harooporks opened #5833 "Text boxes In Google drive"
## Description
When device recognition shield is set to block all device recognition attempts text boxes in Google drive (Drawing and slides) break.

## Steps to Reproduce
   1. Set Brave to block all device recognition attempts.
   2. Create a text box within Google drawings, slides or even a drawing in a doc.
   3. Type a word, watch the curser stay at the front of the word
 4.Hit space and type

[2019-08-28 23:21] petemill commented on #5213
@rebron Right now it's difficult to add 'Create New Profile' item without patching chromium quite a bit. However, in the next version of chromium which we'll be rebasing on, the code is much nicer to insert an item in to. So let's separate that in to a different issue. Everything else is catered for in https://github.com/brave/brave-core/pull/3292

[2019-08-28 23:22] petemill opened #5834 "Profile Avatar Menu: Add 'Create New Profile'"
From https://github.com/brave/brave-browser/issues/5213

-> creates new profile and launches into brave://welcome

[2019-08-29 00:34] Joe23232 opened #5835 "WhatsApp Web does not work on this browser"
https://web.whatsapp.com/
So when I use the web version, it does not show the QR code for some reason on this browser. On Google Chrome it works fine.
![image](https://user-images.githubusercontent.com/34926497/63901537-54c28100-ca48-11e9-996d-b8f0367ffb75.png)

[2019-08-29 00:37] rebron commented on #5213
@petemill Let's add it back when it's easier to insert.

[2019-08-29 01:18] Joe23232 commented on #5835
Solved! I have to allow site recognition by changing hte shield settings

[2019-08-29 04:35] chkk525 commented on #5634
This one still remains....
images like below are blocked and this causes page layout break.
https://p.dmm.com/p/bnr/ad/rotation/book01_g.jpg

[2019-08-29 04:40] btlechowski commented on #1530
Verification passed on

Brave | 0.69.117 Chromium: 76.0.3809.100 (Official Build) beta (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-ui/pull/504

![image](https://user-images.githubusercontent.com/34715963/63910600-bd4d3600-ca27-11e9-8378-e085faa3a40f.png)

[2019-08-29 05:01] mandar-brave commented on #5799
Replace Title" your request...." to "Error creating Brave Browser BAT card"
refer URL: https://uphold.com/en/brave/support

[2019-08-29 06:36] NejcZdovc commented on #5619
maybe this is dupe of https://github.com/brave/brave-browser/issues/5646?

[2019-08-29 07:08] Leon0402 commented on #5619
Seems pretty much like the same problem and the same error message. Although the other is the duplicate of mine. I know that the brave them is quite busy, but a crash of the whole program should have a p1 priority (maybe p2 as it‘s not the stable version). And 18 days is quite a lot of days, would have been at least nice to know if anyone is actually investigating this.

[2019-08-29 07:37] NejcZdovc commented on #5722
yes we need `https://publishers.basicattentiontoken.org` and `https://publishers-distro.basicattentiontoken.org` as well

[2019-08-29 07:52] PunnyBoi commented on #5288
Hello, I am observing that whenever I remove or add a bookmark, brave starts taking a lot of memory. Also, I am syncing the bookmarks across my mobile and laptop. I am beginning to think that maybe this problem is created by bookmark sync. Whenever I add or remove bookmark, the browser tries to sync it across devices and during that process, it takes a lot of memory. After a minute or so, it rever

[2019-08-29 08:06] cdobrich commented on #4492
I just grabbed the latest stable version of Brave and the problem is still happening on Linux. Doesn't matter if there is a crash or if I exit the program cleanly. Regularly I lose all my cookies and have to log into everything again. @bsclifton

[2019-08-29 09:44] DivineOmega commented on #2206
Unfortunately, I've just started seeing this issue.

The screenshot below was taken today (29 August 2019). It display a past auto-contribution date of the 23 August.

![Screenshot from 2019-08-29 10-41-23](https://user-images.githubusercontent.com/650645/63929610-a1f32280-ca49-11e9-9b80-b3726fd87e3c.png)

I'm running Brave Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit).

[2019-08-29 10:29] NejcZdovc commented on #2206
@DivineOmega if you go to chrome://rewards-internals/ do you have any contributions in progress?

[2019-08-29 10:34] DivineOmega commented on #2206
@NejcZdovc I see the following. I've redacted the IDs as I'm not sure if there are privacy implications of revealing them publicly.

[code]

[2019-08-29 10:42] DJavireX commented on #5783
Can Anyone Help me??

[2019-08-29 12:32] NejcZdovc commented on #2206
@DivineOmega this is what I though. So your contribution is in retry flow. After retry will be done (successfully or not) contribution date will be moved. Do you have enough funds to complete this transaction? We can improve UI in this regard and say something like (in progress or retrying)

[2019-08-29 13:40] srirambv commented on #5833
Try `All device recognition attempts allowed` in shields and check if it solves the problem

[2019-08-29 13:43] srirambv commented on #5681
Don't see any theme issue on Linux running `0.68.132`

[2019-08-29 13:47] srirambv commented on #5464
@simonhong  should we close if this is the expected behaviour? (Its still weird that you have to mouse over for the change to happen and not automatic)

[2019-08-29 14:00] srirambv commented on #824
Somehow missed adding notes to this issue. This feature works but not on all sites. I think this is dependant on the player being used on the site. Some sites like YT only allows popout player within the webview of the page. Sites like Vimeo doesn't support either but for sites like http://cricsports.sx which provides live streaming it supports PiP mode for ex:
![Screenshot from 2019-08-29 10-00-0

[2019-08-29 14:14] #5835 closed

[2019-08-29 15:01] devcshort commented on #5336
I'm getting this issue on version 0.68.132 / Windows 10

[2019-08-29 15:04] #5809 closed

[2019-08-29 16:01] DivineOmega commented on #2206
@NejcZdovc I do have sufficient funds in place (5.1 BAT, earned from ads).

To try to get this working, I removed all pending contributions and restarted the browser. I then received a message stating there was an error processing my contribution.

The rewards-internal page still shows a contribution in progress. However, the next contribution date has correctly advanced to the next month (28 Sep)

[2019-08-29 16:26] LaurenWags commented on #5828
Closing this as I was able to reproduce twitter mismatch without ever utilizing (opening) the panel. I followed the steps in #5580 and tipped verified and unverified twitter users entirely with in-line tipping and was still able to reproduce a mis-match.

[2019-08-29 16:28] LaurenWags commented on #5828
cc @rebron @kjozwiak

[2019-08-29 16:28] #5828 closed

[2019-08-29 17:14] LaurenWags commented on #5828
Per request, I also checked this without using in-line tips and ONLY tipped via panel. Still received mismatch:
1. Clean profile on 0.69.x
2. Enable Rewards
3. Navigate to twitter.com and login
4. Navigate to a page, tip thru panel. (user was unverified, not sure if this matters)
5. Navigate to another twitter page.
6. Open panel --> see mismatch on panel, shows previous user info.
![Screen Shot 2

[2019-08-29 17:53] cezaraugusto commented on #2530
Closing as a duplicate of #1308. Please see my https://github.com/brave/brave-browser/issues/1308#issuecomment-525482063 regarding what we can/cannot do in this regard.

[2019-08-29 17:53] #2530 closed

[2019-08-29 18:55] LaurenWags commented on #1530
@rebron @bsclifton - just to confirm, when importing from brave://welcome, is the expectation that any item checked by default on brave://settings/importData will be imported when importing from welcome? So if you were to import Chrome from brave://settings/importData cookies, history, etc are checked and imported unless unchecked. So, if you import Chrome from brave://welcome, will you also impor

[2019-08-29 19:02] LaurenWags commented on #4852
Verified passed with

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2778

[2019-08-29 19:02] LaurenWags commented on #3633
Verified passed with

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2778

[2019-08-29 19:21] #5207 closed

[2019-08-29 19:27] LaurenWags commented on #5462
Verified passed with

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

* Verified STR from description.
* Encountered https://github.com/brave/brave-browser/issues/5423

[2019-08-29 19:35] LaurenWags commented on #2518
Verified passed with

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

* Verified first test plan listed in https://github.com/brave/brave-core/pull/2857

[2019-08-29 19:53] LaurenWags commented on #5730
Reproduced originally described issue as well as issue described with https://github.com/brave/brave-browser/issues/5730#issuecomment-522846401

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

[2019-08-29 20:10] harooporks commented on #5833
Thanks, I will update the issue. I still wish to block all device recognition attempts.

[2019-08-29 20:12] rebron commented on #1530
@LaurenWags Yes. Any items that would normally be checked by default (as seen by skipping this step and doing the manual import from settings), should be imported over.

Unchecking items from the manual import bookmarks/settings screen shouldn't affect this screen since this is  a one way new user/new profile flow.

[2019-08-29 20:35] srirambv commented on #1196
Verification passed on

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Linux

* Verified test plan from https://github.com/brave/brave-core/pull/2874
* Verified one time message is shown
![image](https://user-images.githubusercontent.com/17010094/63973550-fcf03e00-ca78-11e9-8734

[2019-08-29 20:38] LaurenWags commented on #4663
Verified passed with

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

* Verified STR from description for YouTube, Twitch, Vimeo:
![Screen Shot 2019-08-29 at 4 37 21 PM](https://user-images.githubusercontent.com/28145373/63974700-61140180-ca7b-11e9-92a7-1f6eae190e7e.png

[2019-08-29 20:39] srirambv commented on #3285
Verification passed on

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/63974791-8b65bf00-ca7b-11e9-832b-bc7ed1f638df.png)

[2019-08-29 20:51] srirambv opened #5837 "Click area for context menu is very small when audio is playing on a pinned tab"
## Description

Click area for context menu is very small when audio is playing on a pinned tab

## Steps to Reproduce

   1. Pin the YouTube tab
   2. Play a video, speaker icon shows up on the tab (#2025)
   3. Right-click on the pinned tab on speaker nothing happens, click area is very small to open context menu

## Actual result:

Click area for context menu is very small when audio is playing

[2019-08-29 20:52] srirambv commented on #2025
Verification passed on

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Linux

* Verified click on speaker icon mutes the audio from the tab
* Verified click on speaker icon mutes the audio from a pinned tab
* Logged #5837 for context menu on pinned tab while audio is playing

[2019-08-29 21:11] LaurenWags commented on #5008
Verified passed with `macOS 10.13.6 x64` using

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Mac OS X

* Verified Brave logo is displayed on both native and non-native notifications:
<img width="1392" alt="Screen Shot 2019-08-29 at 5 07 51 PM" src="https://user-images.githubus

[2019-08-29 21:19] LaurenWags commented on #5058
I don't seem to get a notification on macOS, is this one Windows only?

[2019-08-29 21:25] rebron opened #5838 "Add ability for users to upload their own image or pick a color for new tab background"
##  Description
Users should be able to upload their own image from their desktop to use as the background for their New Tab page.

Users should be able to undo this action and go back to their previous background, as well as choose another option if they decide the background they uploaded isn't what they wanted.

Users should be able to choose a solid or gradient color to use as their background

[2019-08-29 21:30] LaurenWags commented on #5004
Were all of these notifications implemented @NejcZdovc @mandar-brave ? The only one I've seen is the 'Your wallet is unreachable' one (third one) which I logged an issue for re: text updates https://github.com/brave/brave-browser/issues/5816.

The test plan in https://github.com/brave/brave-core/pull/2696 makes no reference to these notifications.

Please confirm if the first two notifications sho

[2019-08-29 21:41] LaurenWags commented on #5004
Per discussion with @NejcZdovc first notification for Connected, Unverified was not implemented.

[2019-08-29 21:48] srirambv commented on #5058
Dont think this is platform specific

[2019-08-29 21:51] LaurenWags commented on #5058
Maybe @kjozwiak can check his mac, but I don't get any kind of notification on mine when connecting a hardware wallet -  so I can't check this one.

[2019-08-29 21:52] bridiver commented on #5749
I think the real problem is that it's in the wrong target to start with and should be in `"//third_party/blink/renderer/core"`

[2019-08-29 22:10] darkdh commented on #5749
And @bridiver mentioned in slack that `blink_modules_sources` template has these deps
[code]
so `"//third_party/blink/renderer/core"` seems like the right place for submodules

[2019-08-29 22:37] bsclifton opened #5839 "People / Profile menu shows `Sync` status"
## Description
Starting with 0.69.x, the `People` menu is broken. It's showing Sync status:
![image](https://user-images.githubusercontent.com/4733304/63981064-6456bf80-ca72-11e9-85ef-b4e51ffedb96.png)

## Steps to Reproduce

   1. Download 0.69.x, 0.70.x, or 0.71.x
   2. If on 0.70.x or 0.71.x, you'll need to create a new profile first
   2. Click the person icon (next to hamburger) and you'll se

[2019-08-29 22:48] #5631 closed

[2019-08-29 22:50] #5549 closed

[2019-08-29 22:55] petemill commented on #5665
Migration of existing profiles is addressed with https://github.com/brave/brave-browser/issues/5814

[2019-08-29 22:58] #5665 closed

[2019-08-29 22:58] #5789 closed

[2019-08-29 23:05] #5829 closed

[2019-08-30 00:18] simonhong commented on #5464
@srirambv This can be closed. After changing theme option, native ui(ex, omnibox) doesn't change at all. I can't see ui change during the mouse hover?

[2019-08-30 00:33] #5464 closed

[2019-08-30 00:42] pilgrim-brave opened #5841 "Build failure on greaselion_service_impl"
[code]

[2019-08-30 01:44] #5841 closed

[2019-08-30 06:27] akarshanbiswas commented on #1000
@bsclifton Hi. Unfortunately the chromium setuid sandbox is not compatible with bubblewrap(flatpak Sandbox). So we need to disable it at the root label without showing any warning. I think this is going nowhere.

[2019-08-30 08:02] SilencerWeb commented on #5760
@willstocks, I guess they just decided to hide it by default and add an option to show it. I've just checked in Chrome, it always shows there by default and there is no option to disable it.

But yeah, it makes no sense that they just deleted it without adding an option to enable it, kinda irresponsible.

[2019-08-30 08:08] cocoonkid opened #5842 "PWA window closing upon clicking any links."
## Description

Twitter PWA and Dev.to PWA. When clicking any links they simply close.
Righ-click open link in new tab works though.

## Steps to Reproduce

   1. Install twitter or dev.to PWA
   2.  Open any
   3. Click any link.

## Actual result:
PWA window/app is closing

## Expected result:
Link gets opened in Brave.

## Reproduces how often:

Easily reproduced

## Brave version (brave://vers

[2019-08-30 13:27] #5517 closed

[2019-08-30 13:59] Grafikart opened #5843 "Incognito mode shouldn't use my history / bookmarks ?"
## Description

With Brave you merged "browse as a guest" and "incognito" but the two mode were a bit different and it's now impossible to quckly browse with blank data

## Steps to Reproduce

   1. Navigate with your main profile
   2. Open private browsing
   3. Start typing things in the omnibox,

## Actual result:

Omnibox displays entries from the main profile history / bookmarks

## Expected

[2019-08-30 14:36] btlechowski opened #5844 "New Tab background is cropped when vertical scrollbar is visible"
## Steps to Reproduce

   1. Open new tab
   2. Resize browser window so that vertical scrollbar is visible
   3. Scroll down

## Actual result:

The background is cropped at the bottom
![image](https://user-images.githubusercontent.com/34715963/64028864-b87da480-cb43-11e9-8729-90ec6d1c6b99.png)
Sometimes the settings icons are not visible
![image](https://user-images.githubusercontent.com/3471596

[2019-08-30 14:38] btlechowski commented on #5844
Also reproducible on beta and release, but only the background overlay is cropped

Brave | 0.68.132 Chromium: 76.0.3809.132 (Official Build) (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Windows 7 Service Pack 1 (Build 7601.24511)

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68a

[2019-08-30 14:39] btlechowski commented on #5038
Verification passed on

Brave | 0.69.119 Chromium: 76.0.3809.132 (Official Build) beta (64-bit)
-- | --
Revision | fd1acc410994a7a68ac25bc77513d443f3130860-refs/branch-heads/3809@{#1035}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

Verified test plan from https://github.com/brave/brave-browser/issues/5038#issuecomment-506547487

Logged https://github.com/brave/brave-browser/issues/5844

![ima

[2019-08-30 15:03] NejcZdovc opened #5845 "Server publisher info has wrong status type"
Create table for `server_publisher_info` has wrong type for `status`. It should be an integer.

[2019-08-30 15:21] dlewand691 opened #5846 "Parent tab switching- remove or allow control"
## Description

This has also been submitted to the community forum but received no replies.

I would like to request the option to turn off the feature of switching back to the parent tab when a tab is closed. This just started happening in the latest update and has become severely frustrating…enough so that I’m considering switching back to Chrome. It seems the “Tabs” preference section has been

[2019-08-30 15:57] Jos512 opened #5847 "Feature request: Block images in the Shield"
## Description
On mobile, the Brave Shield does not allow blocking images. Yet the size of images on webpages continues to grow, which eats up bandwidth for those mobile users without an unlimited data plan.

Currently, the median mobile site has images worth almost 900kb ([source](https://httparchive.org/reports/state-of-images#bytesImg)). This also means that 50% of sites eat up a lot more image

[2019-08-30 16:22] rebron commented on #5701
@mkarolin We're already on 76.0.3809.132, is this issue still valid?

[2019-08-30 16:24] rebron commented on #5706
We have plans to add search engines and settings in sync in a separate issue.

[2019-08-30 16:24] #5706 closed

[2019-08-30 16:28] bbondy commented on #5711
This option exists already on Desktop browsers in the hamburger menu, go to Bookmarks, then Bookmark open pages.

Feel free to post an issue for Android or iOS though on these repos:
https://github.com/brave/browser-android-tabs
https://github.com/brave/brave-ios

[2019-08-30 16:28] #5711 closed

[2019-08-30 16:30] rebron commented on #5713
@chkk525 Can you add the version of nightlies that you're seeing this in. I can't reproduce in current nightly with shields up. Version 0.71.44 Chromium: 76.0.3809.132 (Official Build) nightly (64-bit)