[2019-07-30 17:45] SergeyZhukovsky opened #5455 "Separate shields settings for incognito and common tabs"
We have the same settings currently after shields refactoring, we should use diff HostContentSettingsMap to store values.

[2019-07-30 17:56] feross commented on #5361
This also fixes this old issue: https://github.com/brave/browser-laptop/issues/10672

[2019-07-30 17:59] LaurenWags commented on #1216
I just tried with

Brave | 0.69.94 Chromium: 76.0.3809.62 (Official Build) dev (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Mac OS X

Looks like it's not happening for what was originally showing in the gif above, but is happening for forward/backward/refresh buttons. Do you see that as well?
![1216](https://user-images.githubusercontent.c

[2019-07-30 18:07] #5454 closed

[2019-07-30 18:08] srirambv commented on #5454
#4992 didn't have the actual implementation which is why i logged this issue. I had not checked the PR which had the new implementation.

[2019-07-30 18:17] GeetaSarvadnya commented on #4945
Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2715 (Staging env)

[2019-07-30 18:26] srirambv commented on #889
Marking as Windows and Mac as there is no send more info button on Linux for crash reports
![image](https://user-images.githubusercontent.com/17010094/62155053-02216800-b2d6-11e9-8eef-c5a22bb8dc0d.png)

[2019-07-30 18:28] kjozwiak commented on #1216
@LaurenWags yup, noticed that on all the channels as well. You'll probably need to open a lot more tabs to reproduce https://github.com/brave/brave-browser/issues/1216#issue-362345979 as you'll need several tab separators.

Regarding the back/front and refresh button, assuming those become "inactive" whenever using drop downs like Rewards and Shields. Seeing the same thing happened with the light

[2019-07-30 18:29] imptrx commented on #5452
I believe this is a duplicate of https://github.com/brave/brave-browser/issues/5014. The dark mode work was de-scoped from the original issue(https://github.com/brave/brave-core/pull/2668#issuecomment-503316064) and is currently being worked on 😃

[2019-07-30 18:30] btlechowski opened #5456 "Dobreprogramy.pl videos are blocked"
Follow up to https://github.com/brave/brave-browser/issues/4914. The fix also blocks actual content on the pages.

## Steps to Reproduce

   1. Clean install
   2. Open video: https://www.dobreprogramy.pl/Instalujemy-Ferro-Backup-System.-Archiwizacja-danych-w-kilku-krokach,Wideo,102811.html

Note: dobreprogramy is the most popular polish website serving software related content

## Actual result:

[2019-07-30 18:30] btlechowski commented on #4914
Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Ubuntu 18.04 LTS

The fix also blocks actual content on the page. Logged https://github.com/brave/brave-browser/issues/5456

[2019-07-30 18:42] rebron commented on #2310
@jonathansampson Is this still an issue?

[2019-07-30 18:43] #5420 closed

[2019-07-30 18:57] kjozwiak commented on #5456
Reproduced on `macOS 10.14.5 x64` using the following build:

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Mac OS X

Brave | 0.70.18 Chromium: 76.0.3809.72 (Official Build) nightly (64-bit)
-- | --
Revision | 5a04c669126f657f98824b436555cae41b8f4146-refs/branch-heads/3809@{#897}

[2019-07-30 18:59] kjozwiak commented on #5452
Closing & Labelling as `Duplicate` as per https://github.com/brave/brave-browser/issues/5452#issuecomment-516538097.

[2019-07-30 18:59] #5452 closed

[2019-07-30 19:07] srirambv commented on #4567
This issue is superseded by #5342. Although implementation is done as per design there is still a functionality bug that needs to be fixed as part of #5342. @rebron removing this issue from QA/Yes #5342 should be fixed and uplifted to beta

[2019-07-30 19:08] srirambv commented on #5342
cc: @cezaraugusto @karenkliu @rebron this should be part of 68.x as this issue supersedes #4567 in terms of functionality.

[2019-07-30 19:10] feross commented on #3675
I've seen this as well in `Debug` builds. Seems to be an upstream Chrome issue since it originates in `extensions::api::SocketsTcpSendFunction::~SocketsTcpSendFunction()`?

[2019-07-30 19:14] LaurenWags commented on #1216
oh, sorry, pulled the single tab out so there was less to look at. I can't reproduce originally reported issue with multiple tabs (still using 0.69.94):

![1216-tabs](https://user-images.githubusercontent.com/28145373/62158072-a3abb800-b2dc-11e9-88c3-e7a683e193ba.gif)

[2019-07-30 19:15] GeetaSarvadnya commented on #889
Step4: After clicking on send now and restart the browser, uploaded crash report is NOT reflected in Windows 10 x64 - `0.68.113`

![image](https://user-images.githubusercontent.com/38657976/62158137-6bcc6100-b32c-11e9-8701-d92aa390e7cb.png)

[2019-07-30 19:16] bsclifton commented on #5083
marking as `QA/No` as this has been superseded by https://github.com/brave/brave-browser/issues/5299

[2019-07-30 19:16] NejcZdovc opened #5457 "Exclude toggle crash"
## Description

## Steps to Reproduce

   1.  Enable rewards
   2.  Go to a site
   3.  Open panel
   4. toggle auto include

## Actual result:

You can't exclude site

## Expected result:
You can exclude site

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue w

[2019-07-30 19:19] #5338 closed

[2019-07-30 19:31] LaurenWags commented on #5433
Verified passed with `macOS x64 10.13.6` and

Brave | 0.67.122 Chromium: 76.0.3809.72 (Official Build) (64-bit)
-- | --
Revision | 5a04c669126f657f98824b436555cae41b8f4146-refs/branch-heads/3809@{#897}
OS | Mac OS X

* Verified STR from description 5x, no issue playing videos on Netflix.
cc @kjozwiak for check on Mojave

[2019-07-30 19:45] rossmoody opened #5458 "New Setting navigation"
New UI for Settings panel navigation that includes Extensions and Crypto Wallets list items. Padding, spacing, sizing and font-size reduced to accommodate more content.

`font-size: 14px;`

![image](https://user-images.githubusercontent.com/29072694/62159420-8f5cc080-b2c6-11e9-9602-2234f44d7055.png)

![image](https://user-images.githubusercontent.com/29072694/62159729-43f6e200-b2c7-11e9-8d1c-806cf

[2019-07-30 20:01] kylehickinson opened #5459 "Fix crashes related to const reference callbacks in LedgerClient"
## Description
const ref callbacks cause memory issues when calling said callback. Example:

[code]

## Steps to Reproduce

In iOS:

   1.  enable rewards
   2.  visit a website
   3.  exclude it from auto-contribute

## Actual result:
Excluding a site causes a crash

## Expected result:
Should just exclude a site

## Reproduces how often:
In iOS: Always

## Brave version (brave://version info)

#

[2019-07-30 20:04] diracdeltas commented on #5367
is this the same for non-tor private windows?

[2019-07-30 20:29] feross opened #5460 "[Security] Mitigate DNS rebinding flaw"
Mitigate the WebTorrent DNS rebinding flaw disclosed in HackerOne. Low security/privacy risk.

Original issue: https://github.com/brave/browser-laptop/issues/12616
Original Brave PR: https://github.com/brave/browser-laptop/pull/13844
Original WebTorrent PR: https://github.com/webtorrent/webtorrent/pull/1260
Fixed WebTorrent PR: https://github.com/webtorrent/webtorrent/pull/1678

The fix is already

[2019-07-30 20:37] feross commented on #5460
## Test Plan

1. Go to https://webtorrent.io/free-torrents
2. Select Sintel (magnet link)
3. Start the download
4. Hover your mouse over the download link (the downward-facing arrow) and observe the link's port number. It should be something like e.g. 58630.
5. Run the following command in Terminal (tested on Mac):
  - `cat <(echo -en 'GET / HTTP/1.1\r\nHost: attacker.com\r\n\r\n') - | nc localhos

[2019-07-30 20:48] tomlowenthal commented on #700
Closed in favor of #5280.

[2019-07-30 20:48] #700 closed

[2019-07-30 20:49] diracdeltas commented on #5460
hackerone issue: https://hackerone.com/reports/663729

[2019-07-30 20:51] tomlowenthal commented on #779
We'd need a mockup of the click-through-to-HTTP page to ship this.

[2019-07-30 20:51] riastradh-brave commented on #5367
Also, is it the same for guest windows?

[2019-07-30 20:55] tomlowenthal commented on #781
@bsclifton I think we currently support this; could you double check?

[2019-07-30 20:57] #866 closed

[2019-07-30 21:06] antonok-edm opened #5461 "Merge adblock engines"
Brave creates _at least_ two separate instances of the [`adblock-rs`](https://github.com/brave/adblock-rust) adblocking engine, separately managing base rules (e.g. easylist, easyprivacy), custom user-added rules, and an additional engine for each regional list or subscription list.

Separate instances cannot benefit from the performance optimizations of `adblock-rs`; each engine must be [checked

[2019-07-30 21:08] srirambv opened #5462 "Theme change doesn't update URL bar until mouse over"
## Description

Theme change doesn't update URL bar until mouse over

## Steps to Reproduce

   1. Upgrade to `0.68.113`
   2. Change theme in settings
   3. URL bar theme changes only when you mouse over or tab focus is changed

## Actual result:

![urltheme](https://user-images.githubusercontent.com/17010094/62165387-52a3c000-b2ec-11e9-963f-fb993f594634.gif)

## Expected result:
Should automatic

[2019-07-30 21:15] zavan opened #5463 "Using user wallets with withdraw funds from a restored wallet doesn't work"
## Description
I downloaded the latest nightly version to test the new withdraw feature but it didn't work, uphold shows my "Brave Browser" card as empty.

I originaly opened #5398 for this issue, where I was told this should be fixed in the next nightly release, but it didn't so I'm reopening.

## Steps to Reproduce
   1. Download latest version of Brave Browser nightly and install it
   2. Recov

[2019-07-30 21:15] srirambv opened #5464 "Theme change only updates webUI and not URL bar"
## Description

Theme change only updates webUI and not URL bar

## Steps to Reproduce

   1. Upgrade to 0.69.94
   2. Toggle theme from dark to light
   3. Only webui theme changes, URL bar remains dark

## Actual result:

![devtheme](https://user-images.githubusercontent.com/17010094/62165872-64399780-b2ed-11e9-8aa2-5a8dee38bbb1.gif)

## Expected result:
Should change both webui and URL bar them

[2019-07-30 21:22] btlechowski commented on #4417
Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/2486
Verified pages from the description.

![image](https://user-images.githubusercontent.com/34715963/62166310-ba73fe00-b320-1

[2019-07-30 21:30] karenkliu commented on #2400
@tomlowenthal @srirambv  Designs added.

[2019-07-30 21:54] The-Clockmaker commented on #3852
Same, should be about time it get's fixed by now no? It's been a problem for several years now, it seems to think it removed it (at least it claims so), but it doesn't actually do anything.. The whole new tab page is about as customizable as internet explorer 8 was though, it's the only big issue about brave that still might turn me away some day

[2019-07-30 22:06] Brave-Matt commented on #3348
+1 from Community:
https://community.brave.com/t/can-there-be-an-option-to-allow-javascript-automatically-without-us-having-to-manually-do-it-everytime/57131/9?u=mattches

[2019-07-30 22:19] #5424 closed

[2019-07-30 22:22] bsclifton commented on #5299
Marking as `QA/No` and adding `Release notes exclude` since this has been superseded by https://github.com/brave/brave-browser/issues/5424

[2019-07-30 22:42] jumde opened #5468 "Enable STP by default"
## Description
Smart Tracking Protection is disabled by default on master, verify that there are no webcompat issues with using this minimal list:

https://github.com/brave/tracking-protection/blob/master/data/StorageTrackingProtection.dat

and enable the build time and runtime flags by default.

https://github.com/brave/brave-browser/blob/446e8f6e99bfc5a7cb329a6a1de7233b165c410e/lib/start.js#L52

[2019-07-30 22:50] simonhong commented on #5464
@srirambv  When user choose `GTK+` theme instead of `Classic`, gtk theme is used instead of brave theme by https://github.com/brave/brave-core/pull/2905.
So, native ui such as url bar will not be changed by changing brave theme option.
With `Classic` theme, brave theme change will change webui & native ui both.

[2019-07-30 22:50] jdkuki opened #5469 "Add SoundCloud Panel support"
## Description

Feature request:

Add panel tipping support for SoundCloud

## Steps to Reproduce

n/a

## Actual result:

n/a

## Expected result:
![image](https://user-images.githubusercontent.com/8422122/62170842-b2489e00-b2e1-11e9-876c-fa4475f7c66c.png)

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the c

[2019-07-30 22:59] bridiver opened #5470 "brave shields extension action toggles are broken"
## Description
None of the toggles for brave shields settings take effect

## Steps to Reproduce
   1. Go to google.com
   2. Turn off brave shields for google.com

## Actual result:
Nothing changes and the page doesn't reload

## Expected result:
Settings should change and reload the page

## Reproduces how often:
Always

## Brave version (brave://version info)
0.70.16

## Version/Channel Informa

[2019-07-30 23:08] simonhong commented on #5462
This can be fixed by https://github.com/brave/brave-core/pull/2905 that already in `0.69.x`

[2019-07-30 23:13] btlechowski commented on #5022
Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Ubuntu 18.04 LTS

Talked to @simonhong and the test plan in https://github.com/brave/brave-browser/pull/5023 is only valid for debug build.

We agreed to check if widevine is actually downloaded and placed in t

[2019-07-30 23:41] #5460 closed

[2019-07-31 00:06] #5388 closed

[2019-07-31 00:14] btlechowski commented on #5432
Not reproducible on Windows

Brave | 0.66.101 Chromium: 75.0.3770.142 (Official Build) (64-bit)
-- | --
Revision | 8d93477bd18154c67a70a67019cb8032382c55dd-refs/branch-heads/3770@{#1160}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

![image](https://user-images.githubusercontent.com/34715963/62174084-de433e00-b338-11e9-8091-3fd5ef70083e.png)

Not reproducible on Linux

Brave | 0.66.101 Chromiu

[2019-07-31 00:14] feross opened #5471 "WebTorrent: Autoplay is sometimes blocked if media metadata is not ready yet"
## Description

If the media element does not have metadata available immediately when the media viewer loads, then autoplay will fail with a `DOMException`.

## Steps to Reproduce

   1. Load the torrent from https://ia802608.us.archive.org/18/items/gd1975-06-17.aud.unknown.87560.flac16/gd1975-06-17.aud.unknown.87560.flac16_archive.torrent
   2. Start the download.
   3. Scroll to the bottom of t

[2019-07-31 00:25] feross commented on #5326
## Test Plan

1. Visit this URL: https://ia800301.us.archive.org/14/items/art_of_war_librivox/art_of_war_librivox_archive.torrent
2. Start the torrent download
3. Click on file 1 "ArtOfWar-64kb_librivox.m4b" and confirm that the audio file plays.
4. Click on file 2 "Art_War_1107.jpg" and confirm that an image shows up.
5. Click on file 3 "Art_War_1107.pdf" and confirm that the PDF viewer loads wit

[2019-07-31 00:26] btlechowski commented on #4228
Awesome work!

Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Ubuntu 18.04 LTS

Used test plan from https://github.com/brave/brave-core/pull/2485
Used test plan from the description.
There were 19 blocked scripts in main panel and 19 scripts listed in detai

[2019-07-31 00:38] btlechowski commented on #4572
Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Ubuntu 18.04 LTS

Used test plan from https://github.com/brave/brave-core/pull/2485
Used test plan from the description.

Verified that it is possible to `Allow script once` in main view
![image](https://user-i

[2019-07-31 00:53] btlechowski commented on #4570
Awesome work!

Verification passed on

Brave | 0.68.113 Chromium: 76.0.3809.62 (Official Build) beta (64-bit)
-- | --
Revision | 7b77856b3aa34d72f246d12340fc1ded8b2c0e83-refs/branch-heads/3809@{#798}
OS | Ubuntu 18.04 LTS

Used test plan from https://github.com/brave/brave-core/pull/2485
Used test plan from the description.

![4570](https://user-images.githubusercontent.com/34715963/62175484-392b6

[2019-07-31 00:53] Miyayes commented on #816
+1 https://www.reddit.com/r/brave_browser/comments/cjteen/why_is_brave_still_vulnerable_to_fonts/

[2019-07-31 01:07] btlechowski opened #5472 "Possible to select text in Shields Menu by double clicking the blocked scripts"
Follow up to https://github.com/brave/brave-browser/issues/4570

Important: Not sure if it is by design or an actual issue

## Steps to Reproduce

   1. Open `https://www.buzzfeed.com`
   2. Block the scripts in Shields
   3. Go to `Scripts blocked` detailed view
   4. Double click the blocked script

## Actual result:

The script text is selected
![5472](https://user-images.githubusercontent.com/

[2019-07-31 01:38] srirambv commented on #5432
@btlechowski  I think you got confused with the title. I see Chromium incognito icon on both of your screenshots for Windows and Linux.

[2019-07-31 01:40] latonv opened #5473 "Unrecoverable crash loop after hibernate"
## Description

I hibernated my Windows 10 machine with Brave open (and a number of other applications), as I often do. Upon resuming from hibernation, Brave crashed within a minute or so with no interaction from me -- it was just sitting open in the background. Now, whenever I try to open Brave again, it stays open for about 4 seconds, showing the "Restore pages" bubble, but then crashes again. I

[2019-07-31 01:44] #5409 closed

[2019-07-31 01:45] #5408 closed

[2019-07-31 01:46] simonhong commented on #5432
yes, above hat image is chromium's icon. I think we want use brave icon instead of it.

[2019-07-31 01:50] srirambv commented on #5432
However I do see Incognito on all the channels on my machine instead of Private. I think there is an issue logged for that will link it here

[2019-07-31 01:51] kjozwiak opened #5474 "Manual test run on OS X for 0.67.x - Release"
## Per release specialty tests
 - [x] Upgrade from Chromium 76.0.3809.72 to Chromium 76.0.3809.87.([#5424](https://github.com/brave/brave-browser/issues/5424))
 - [ ] ~~There is no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119.([#5434](https://github.com/brave/brave-browser/issues/5434))~~
 - [ ] ~~Twitter verified pubs info is not displayed in BR panel

[2019-07-31 01:51] kjozwiak opened #5475 "Manual test run on Windows x64 for 0.67.x - Release"
## Per release specialty tests
 - [x] Upgrade from Chromium 76.0.3809.72 to Chromium 76.0.3809.87.([#5424](https://github.com/brave/brave-browser/issues/5424))
 - [ ] ~~There is no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119.([#5434](https://github.com/brave/brave-browser/issues/5434))~~
 - [ ] ~~Twitter verified pubs info is not displayed in BR panel

[2019-07-31 01:51] kjozwiak opened #5476 "Manual test run on Linux for 0.67.x - Release"
## Per release specialty tests
 - [x] Upgrade from Chromium 76.0.3809.72 to Chromium 76.0.3809.87.([#5424](https://github.com/brave/brave-browser/issues/5424))
 - [ ] ~~There is no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119.([#5434](https://github.com/brave/brave-browser/issues/5434))~~
 - [ ] ~~Twitter verified pubs info is not displayed in BR panel

[2019-07-31 01:58] kjozwiak commented on #5409
Closed in favour of https://github.com/brave/brave-browser/issues/5476 which would be completed when we get builds with `76.0.3809.87`.

[2019-07-31 01:58] kjozwiak commented on #5408
Closed in favour of https://github.com/brave/brave-browser/issues/5476 which would be completed when we get builds with `76.0.3809.87`.

[2019-07-31 02:10] gerardo-junior commented on #5420
@tomlowenthal just for personal doubt, why is this not actionable? Is it too hard to implement? Or does it have no real impact on privacy?

thank you, :)

[2019-07-31 02:30] #5471 closed

[2019-07-31 03:15] #5326 closed

[2019-07-31 04:27] #5457 closed

[2019-07-31 04:37] mkarolin opened #5477 ""Wallet provided by" strings need to accommodate localization."
Strings like `Our wallet service is provided by` or `Brave wallet is managed by` are intended to be followed by the company name which is bolded in the UI. However, in certain languages the company name isn't placed at the end. For example, if the sentence is like "Your Brave wallet is powered by ABC" then the translation would be "आपका Brave वॉलेट ABC द्वारा संचालित है".

We need to allow for loc

[2019-07-31 04:40] simonhong commented on #5432
@rossmoody We need to add our `incognito_profile.icon` file to`brave/vector_icons/chrome/app/vector_icons/` to override https://cs.chromium.org/chromium/src/chrome/app/vector_icons/incognito_profile.icon.

[2019-07-31 04:58] kjozwiak commented on #5473
@latonv mind taking a look under `brave://crashes` and see if there's any recorded crashes?

[2019-07-31 05:03] kjozwiak commented on #5469
CCing @NejcZdovc & @alexwykoff ☝️

[2019-07-31 07:06] 93RS commented on #3190
The same problem arises. The click on the button does nothing, whether there are written words, or those words are right or wrong.
Brave: 0.66.101 Chromium: 75.0.3770.142 (Official Build) (64-bit)
OS: Windows 10 OS Version 1903 (Build 18362.267)

[2019-07-31 07:26] kjozwiak commented on #4484
@mihaiplesa assuming there's nothing QA can do as per the `QA/No` label correct? Is this more of a backend change? Does anything need to be uplifted into `0.67.x`?

[2019-07-31 07:27] mihaiplesa commented on #4484
Have removed the milestone for now.

[2019-07-31 07:36] sushihangover opened #5478 "Clear History FIFO-based"
## Description

Have the ability to clear the browser history on a FIFO basis instead of just the LIFO way it currently works.

i.e. I want to remove the oldest history first, say, everything older than 1 month instead of the most recent history that leaves the older history.

## Actual result:

Only able to remove history on a LIFO-basis

## Expected result:

Ability to purge the oldest history w

[2019-07-31 08:46] ryanbr commented on #5472
I use Ctrl-A, Ctrl-C. is this possible in the new screen?

[2019-07-31 08:51] chrisB28 commented on #3852
Still an issue here

------

Brave | 0.66.101 Chromium: 75.0.3770.142 (Official Build) (64-bit)
------
Revision | 8d93477bd18154c67a70a67019cb8032382c55dd-refs/branch-heads/3770@{#1160}

[2019-07-31 11:52] rulatir commented on #2761
"Once both of those wrap up" is a rather fuzzy estimate.

[2019-07-31 11:56] #5459 closed

[2019-07-31 12:16] #5356 closed

[2019-07-31 12:22] GeetaSarvadnya commented on #5336
I have seen this issue once in Beta channel 0.68.114.
Steps which I have followed to reproduce the issue:

1. clean profile 0.68.113 (Staging env, reconcile interval was set to 2 mins)
2. claim grants
3. added few sites to a-c table (verified+non verified)
4. kept browser idle for a couple of hours
5. got 29 counter-notification on BAT logo
6. upgraded profile to 0.68.114
7. after upgrade click on

[2019-07-31 12:25] btlechowski commented on #5472
@ryanbr This is about detailed view of `Scripts blocked`. This is not about detailed view of `Cross-site trackers blocked`. You can still copy list of trackers blocked from detailed view of `Cross-site trackers blocked`. The functionality didn't change there.

![image](https://user-images.githubusercontent.com/34715963/62211481-e766f600-b39e-11e9-84eb-785f57f31cc1.png)

[2019-07-31 12:38] ryanbr commented on #5472
Ah right

[2019-07-31 13:12] NejcZdovc opened #5479 "Move WalletAuthorization code into separate file"
Now `vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc` is becoming to big so we need to move `WalletAuthorization` logic and all related code around it into new file

[2019-07-31 13:13] NejcZdovc opened #5480 "Move GenerateExternalWallet code into separate file"
Now vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc is becoming to big so we need to move GenerateExternalWallet logic and all related code around it into new file

[2019-07-31 13:18] #5470 closed

[2019-07-31 15:35] rebron commented on #2301
@nexxai Dependent on https://github.com/brave/brave-browser/issues/4431 Can't give you a timeline on the fix but we have this on our board to address.

[2019-07-31 15:39] nexxai commented on #2301
@rebron Can I humbly request that this have a due date set prior to Google's Declarative Web Request/Manifest v3 enabling (I believe this is expected in October)? I imagine that there will be *many* people looking to switch around that time (when ad blockers like uBlock Origin will no longer work, at least in their current form), and so the easier the transition for them, the more likely they'll b

[2019-07-31 15:43] GeetaSarvadnya commented on #3938
@tmancey Is the behavior applicable only for Mobile?

[2019-07-31 15:45] tmancey opened #5481 "Revert Enable Brave ads for Australia, New Zealand and Ireland from 0.67.x"
Reverts https://github.com/brave/brave-core/pull/2865

[2019-07-31 15:52] mandar-brave opened #5482 "Issue: In page Uphold flow vs. using tabs"
To reduce in tab errors and managing workflows to send user back, it would be good to have the Uphold flow in-page vs. via creating new tab for every single call (auth, reg, kyc, etc.).

The current UX on this is bad; Prioritizing to land within 0.69 dev timeframe!

@NejcZdovc

[2019-07-31 16:15] #3190 closed

[2019-07-31 16:16] AlexeyBarabash commented on #3190
Hopefully this is fixed with https://github.com/brave/brave-core/pull/3038.

[2019-07-31 16:17] tmancey commented on #3938
This functionality was only for mobile, however 1.2.0 only shows ads in the foreground so this feature has been removed

[2019-07-31 16:55] mbacchi commented on #5177
Making some progress, I've gotten the notarization step automated now(I will open a WIP PR for this work), but that uncovered a few binaries that are not signed:

https://github.com/brave/Sparkle/issues/7

Those sparkle binaries are likely only the tip of the iceberg. When I notarized manually, I had to go through 3 iterations of codesigning binaries manually. Additional binaries were not listed a

[2019-07-31 16:58] #5396 closed

[2019-07-31 17:06] GeetaSarvadnya opened #5483 "Shields menu not visible after allowing all scripts"
## Description

Found while testing https://github.com/brave/brave-browser/issues/4570

Shields menu not visible after allowing all scripts

## Steps to Reproduce

STR1:

   1. Clean profile 0.68.114
   2. Open buzzfeed.com in a new tab
   3. Click on Shield
   4. Turn ON `Scripts blocked` option
   5. Click on `Scripts blocked` in the shield
   6. Click on `Allow All` in Blocked scripts
   7. Cli

[2019-07-31 17:27] tmancey opened #5484 "Revert Fix browser crash when toggling rewards in 0.67.x"
Reverts https://github.com/brave/brave-core/pull/2932

[2019-07-31 17:28] Brave-Matt commented on #2105
+1 from reddit: https://www.reddit.com/r/brave_browser/comments/ck9z3v/command_line_option_to_launch_new_private_browser/

[2019-07-31 17:40] #5484 closed

[2019-07-31 17:40] tmancey commented on #5484
Revert not required

[2019-07-31 17:59] GeetaSarvadnya opened #5486 "`Allow scripts once` is reflected in cross-site trackers list after enabling the scripts"
## Description

Found while testing #4570

`Allow scripts once` is reflected in cross-site trackers list after enabling the scripts

## Steps to Reproduce

   1. Clean profile 0.68.114
   2. Open buzzfeed.com in a new tab
   3. Click on shield panel
   4. Turn ON scripts
   5. Click on `Cross-site trackers blocked`
   6. `Allow scripts once` is reflected in cross-site trackers list

## Actual resu

[2019-07-31 18:10] karenkliu commented on #3253
Still doesn't work for me even with Shields down, please fix.

[2019-07-31 18:10] WorldLanguages commented on #4431
I honestly don't care if these services reach Google. Could there be some way push notifications can be enabled in Brave? A flag, something? Give users a chance to choose what to do until you implement an alternative to GCM/FCM, please.

[2019-07-31 18:11] karenkliu commented on #1064
This is still an issue for me. Does this have anything to do with https://github.com/brave/brave-browser/issues/3253 ?

[2019-07-31 18:12] tomlowenthal commented on #5420
We already have a clear plan for Brave's user agent string. Our goal is to have a consistent anonymity set of Brave browsers which are indistinguishable, without triggering any compatibility problems with sites that parse UA strings poorly. Randomizing the string has the potential to cause those compatibility problems and doesn't actually hide you better — it makes you particularly distinctive for

[2019-07-31 18:20] #5426 closed

[2019-07-31 19:07] LaurenWags commented on #5434
Additional tests done - all working as expected:

1. On Windows (CAN region by @kjozwiak ) and macOS (US region by @LaurenWags ):
   * Using 0.66.101 enable Rewards. Leave Ads on. Upgrade to on `test` channel to 0.67.119. Verified Rewards still on, Ads still on. Works as expected.
   * Using 0.66.101 enable Rewards. Toggle Ads off. Upgrade on `test` channel to 0.67.119. Verified Rewards still on,

[2019-07-31 19:31] btlechowski commented on #5424
Verification passed on

Brave | 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

![image](https://user-images.githubusercontent.com/34715963/62241994-8c52f480-b3da-11e9-825c-cdf4ef36302f.png)

[2019-07-31 19:31] GeetaSarvadnya commented on #5456
The issue is Reproducible on Windows 10 x64 - 0.68.114

![image](https://user-images.githubusercontent.com/38657976/62242032-f29a4000-b3f7-11e9-9de6-6538c85df656.png)

[2019-07-31 19:45] snyderp opened #5487 "Remove Resource Timing API Support"
Chromium (along with other major vendors) ship support for the Resource Timing API.

It has signfigant privacy risks, and little-to-no corresponding upside for users.  We should remove.

Partial list of related privacy attacks:
* Allows history leak when combined with alt-svc instructions (likely other situations too)
* Leaks local network information b/c of information about DNS errors (yikes in

[2019-07-31 19:52] bsclifton commented on #780
We have used the security tab to enable `depend-a-bot` and do received automated PRs in many cases 😄 After discussion with @jumde, I think it's safe to close this issue!
<img width="354" alt="Screen Shot 2019-07-31 at 12 51 18 PM" src="https://user-images.githubusercontent.com/4733304/62243356-fb582b00-b391-11e9-933f-1245bbd4870f.png">

[2019-07-31 19:52] #780 closed

[2019-07-31 20:47] latonv commented on #5473
I would, but I can't actually get into `brave://crashes` because the browser always crashes before I can get there. However, there do seem to be crash dump files in `%LOCALAPPDATA%\BraveSoftware\Brave-Browser\User Data\Crashpad\reports` for every crash so far. How can I get them to you?

[2019-07-31 21:38] feross commented on #1230
I just did some investigation into how hard it would be to support this. The main constraint is that WebTorrent is running inside a Chrome extension, so we don't have direct access to the filesystem.

### First approach – `a.click()`

The naive approach is to simply trigger a file download for each file in the torrent like this:

[code]

Two problems with this approach:

1. The browser pops up a w

[2019-07-31 21:51] tomlowenthal commented on #3890
Closed in favor of #4047.

[2019-07-31 21:51] #3890 closed

[2019-07-31 22:45] agentofuser commented on #3201
I'm on macOS Nightly and I can confirm that tabbing while focus is on the omnibox moves the focus to the Brave Shields icon, then to BAT icon, then to every extension, then to the settings hamburger menu, and _then_ to the page.

[2019-07-31 22:52] simonhong commented on #5473
@latonv I think this issue seems similar with https://github.com/brave/brave-browser/issues/4764.
Can you test with [nightly](https://www.brave.com/download-nightly) or [dev](https://www.brave.com/download-dev) release?

[2019-07-31 22:58] yrliou commented on #1230
The `saveAs` probably get ignored when user enable the following setting in brave://settings:
<img width="667" alt="Screen Shot 2019-07-31 at 3 53 59 PM" src="https://user-images.githubusercontent.com/4730197/62253652-6feb9380-b3ab-11e9-8a6c-86d5b2a763bc.png">

Use `chrome.downloads` API to save as a single `.zip` file sounds like a reasonable approach to me, personally I would vote for 2, 1 sound

[2019-07-31 23:02] #5355 closed

[2019-07-31 23:43] btlechowski commented on #5475
Verification passed on

Brave | 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

[2019-07-31 23:43] #5475 closed

[2019-07-31 23:51] latonv commented on #5473
I'm unable to reproduce the crash in a fresh install of the dev release; it may well be the same issue.

[2019-07-31 23:59] jdkuki opened #5488 "Inline Tipping for SoundCloud"
## Description

Feature request to add inline tips to soundcloud in following areas:

Player controls at bottom of page
Stream page
Artist Page
Song page

## Steps to Reproduce

n/a

## Actual result:

n/a

## Expected result:
Browse to affected area and content should be as follows:
![image](https://user-images.githubusercontent.com/8422122/62255942-4daa4380-b3b4-11e9-8731-e86e69a1ee0a.png)

## R

[2019-08-01 00:34] feross opened #5489 "WebTorrent: server serves files with "Content-Type: null""
If the file extension is unrecognized, the webtorrent HTTP server will use a `Content-Type` header with a value of `null`, which is invalid.

[2019-08-01 00:34] feross opened #5490 "WebTorrent: dependency hygiene"
I want to go through the whole `webtorrent` dependency tree to:

- De-duplicate dependencies
- Ensure that we're using the latest version
- Pruning dependencies that aren't needed in modern JS environments (to reduce risk and increase install speed)

This issue is a placeholder to track this task.

[2019-08-01 00:38] Syden10 commented on #2048
Issue persists.

![Screen Shot 2019-07-31 at 9 35 38 PM](https://user-images.githubusercontent.com/12631452/62257369-78f45900-b3db-11e9-978e-d93d117bc43e.png)

macOS Version 0.66.101 Chromium: 75.0.3770.142

Thanks.

[2019-08-01 00:57] feross commented on #5490
Here's a todo list:

### Outdated direct deps

- [ ] bitfield@2.0.0
- [ ] electron@5.0.8
- [ ] stream-to-blob@1.0.2

### Outdated indirect deps

- [ ] torrent-discovery@9.1.1 / debug@3.2.6
- [ ] simple-peer@9.4.0 / readable-stream@2.3.6
- [ ] create-torrent@4.0.0 / filestream@4.1.3 / readable-stream@2.3.6
- [ ] chunk-store-stream@4.0.0 / block-stream2@1.1.0 / readable-stream@2.3.6
- [ ] bittorrent

[2019-08-01 01:31] bridiver commented on #5455
Couldn't replicate this issue

[2019-08-01 01:31] #5455 closed

[2019-08-01 02:01] srirambv commented on #5476
[code]

Except for the above rest, all test looks good on Linux.

[2019-08-01 02:11] #5476 closed

[2019-08-01 02:32] petemill opened #5491 "_api_features.json content is duplicated from upstream, not modified"
In https://github.com/brave/brave-core/blob/v0.70.25/common/extensions/api/_api_features.json (and associated manifest and permissions json file), we're copy / pasting the content from chromium and adding Brave changes to it.

Whilst this was seen as beneficial over patching from a rebasing point of view, it can lead to not picking up upstream modifications to API permissions for various contexts.

[2019-08-01 03:10] kjozwiak commented on #5481
@bsclifton @rebron removing this from the `0.67.x` milestone. @tmancey we might want to close this off as per earlier discussions on Slack.

[2019-08-01 03:14] kjozwiak commented on #5434
Thanks for all the hard work on this @LaurenWags & @GeetaSarvadnya. I'm going to remove the `release/blocking` label as this is no longer blocking the `0.67.x` release. Also removing it from the `0.67.x - Release` milestone.

CCing @rebron @bsclifton & @jsecretan as this will need to get reprioritized for the next release/HF.

[2019-08-01 04:09] mandar-brave commented on #5427
@NejcZdovc besides starring the card, set position to 1 when card is created.

[2019-08-01 04:14] kjozwiak opened #5492 "Release checklist for 0.67.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-08-01 05:46] #5474 closed

[2019-08-01 06:42] stingray21 commented on #3852
Same issue

Version 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
Linux (Arch)

[2019-08-01 06:43] tmancey commented on #5481
No longer required as agreed to release feature

[2019-08-01 06:43] #5481 closed

[2019-08-01 08:58] chrisB28 commented on #3852
To add to this, if I try dragging a normal (not deleted) icon to one of the icons that is meant to be removed, the page adds an exponential amount of the removed icon to the list.

Example:
- Try to remove github.com icon from new tab page. Icon is not removed.
- Drag google.com icon onto github icon.
- 100s of github icons appear on dragging over original github icon.

Same stats as my comment ab

[2019-08-01 09:23] boggle commented on #1982
Confirm, still seeing this issue with version 0.66.101 Chromium: 75.0.3770.142 on Mac OS X.
(Both with shields on and off). In general, it would be great if you payed more attention to preconfiguring brave to just work out of the box with commonly used services like google meet, webex and other conferencing systems.

[2019-08-01 09:26] boggle commented on #1982
Just enabled the hangouts extensions, this seems to fix it. Why is it not enabled by default?

[2019-08-01 09:38] #5479 closed

[2019-08-01 10:08] NejcZdovc commented on #5463
@zavan would love to jump on a call and check it out. If you are up for it, please send me email on nejc[@]brave.com. Thank you

[2019-08-01 12:04] antonioprates commented on #5112
I got same issue with Brave on Xubuntu 18.04, when opening a link from slack...

[2019-08-01 12:15] Xronis commented on #3348
Hi,

For me it doesn't happen all times but when it does it is both banners and pre-roll ads.

OS: Win10
Installed Extensions: None
Connected to VPN: Yes (Corporate policy)
Shields: 3rd parties trackers and connections upgraded to HTTPS are ON, scripts blocked OFF.
brave://adblock: Nothing additional

I am still new with Brave, so if I am missing something let me know.

Cheers

[2019-08-01 12:16] misku opened #5493 "New window is created when trying to move a tab from the end of the tab list"
## Description

OS: Ubuntu Linux 18.04 LTS
When I try to move a tab from the end of a tab list (horizontal movement) it creates a new window. It is really odd as it only happens when trying to move one of the 3-4 last tabs (on the right). Total tabs open: 20.

When I try to move a tab from a left side, I can move it through almost all of the tabs to the right, but around a 3-4th tab from the right

[2019-08-01 12:50] srirambv commented on #5493
Could you record the steps you are doing? If the tab moves a little out of tabs bar it will tear off into a new window which is expected. I am unable to reproduce this on Ubunutu 18/19

[2019-08-01 13:00] srirambv commented on #5367
@diracdeltas It doesn't reproduce on Private window. Exit cancels the download and is not shown in downloads page

@riastradh-brave yes reproduces on Guest windows. Exit doesn't cancel the download. Opening a new Guest window and closing it prompts the warning again to continue to download or exit.

[2019-08-01 13:03] #5482 closed

[2019-08-01 13:17] srirambv commented on #5472
It used to be the same behaviour before. May have regressed where you couldn't select it but now it's working correctly. You should be allowed to highlight the blocked URLs to see the actual link since shields only have limited visibility for the URLs'

[2019-08-01 13:22] bbondy opened #5496 "Add bottom bar for Android browser parity"

[2019-08-01 13:25] bbondy commented on #5017
I believe this is implemented, so closing.

[2019-08-01 13:25] #5017 closed

[2019-08-01 13:32] bbondy commented on #4777
I think this is done, so closing.

[2019-08-01 13:32] #4777 closed

[2019-08-01 13:38] bbondy commented on #5496
Oops dupe of https://github.com/brave/brave-browser/issues/4848

[2019-08-01 13:38] #5496 closed

[2019-08-01 14:20] misku commented on #5493
Thanks for a quick answer. I'm carefully trying not to move my cursor vertically as like you said, then it definitely should jump into the new window.
Here's a screen cast (mp4 H.264), I hope it'll help: https://anonymousfiles.io/4Fw4R5Cd/

[2019-08-01 14:25] Brandon-T opened #5497 "Udemy videos do not play with Shields OFF"
## Description

## Steps to Reproduce

   1. Go to https://www.udemy.com/the-complete-javascript-course/learn/lecture/5869076#overview
   2. Hit play on the video
   3. Infinite Loop (video doesn't play and console gets spammed)
   4. Console shows:
[code]
   5. Chrome & Firefox doesn't have this issue and console doesn't log these warnings in both.
   6. Disable Shields (shields down, you're brow

[2019-08-01 14:30] #5480 closed

[2019-08-01 14:38] whenm00n opened #5498 "Rewards server not responding"
## Description

Rewards server is not responding

## Actual result:
![image](https://user-images.githubusercontent.com/35568825/62302342-139f7700-b472-11e9-9250-6b6d31b5ebbf.png)

## Brave version
Version 0.66.101 Chromium: 75.0.3770.142 (Official Build) (64-bit)

## Other Additional Information:

- Does the issue resolve itself when disabling Brave Shields? No
- Does the issue resolve itself when

[2019-08-01 14:45] brrrrrr commented on #2997
Same issue still. Even after restarting MacOS Mojave 10.14.5 I still get this message on Brave
Version 0.66.101 Chromium: 75.0.3770.142 (Official Build) (64-bit). Direct connection to internet. Also changed DNS to be sure and tried with direct mobile connection too.

[2019-08-01 14:46] LaurenWags commented on #2997
@brrrrrr there's currently an issue with the Rewards server: https://status.brave.com/

[2019-08-01 14:47] NejcZdovc commented on #5498
@whenm00n thank you for the report. We have some problems with the server and will fix it asap. You can track it here https://status.brave.com/incidents/33q8y5bk3yzs

[2019-08-01 14:47] #5498 closed

[2019-08-01 14:55] srirambv commented on #5493
Well that is weird. I am not able to reproduce the issue at all. @brave/legacy_qa to try to reproduce the issue

[2019-08-01 14:56] cezaraugusto commented on #5472
hi @btlechowski thanks for reporting. we intent to implement a copy/paste interface in the future but for now this is expected behavior. closing as wontfix

[2019-08-01 14:56] #5472 closed

[2019-08-01 15:40] cburns2017 commented on #5076
Hoping this issue gets picked up. Would love to see more support for customizing the touchbar

[2019-08-01 16:09] #5449 closed

[2019-08-01 16:18] rebron commented on #5492
Closing. Released August 1, 9amPDT

[2019-08-01 16:18] #5492 closed

[2019-08-01 16:43] mkarolin opened #5499 "Typo in a rewards string"
Mentioned by a localization service. In `components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json`, the string `walletDisconnectedTextNotification` has a typo at the end:
`No worries. This can happen from a variety of security reasons. Simply reconnect to it will solve this issue.s`.
Should probably say: `No worries. This can happen *for* a variety of security reason

[2019-08-01 16:45] tomlowenthal commented on #5367
Sounds like this is a problem with Guest windows and it'll be fixed when we implement #2307.

[2019-08-01 17:55] mkarolin opened #5500 "Update localization for Chromium 76.0.3809.87"

[2019-08-01 17:55] misku commented on #5493
Looks like `404` to me.

[2019-08-01 18:23] snyderp commented on #4783
Since we know we're sending CSP reports b/c of Brave-injected JS (e.g we're advertising to sites that we're doing unwanted things in their pages), I vote for removing CSP reporting all together

[2019-08-01 18:34] rossmoody opened #5501 "Change alert icon in rewards panel"
Adjust the icon from an `X` to a `!` to avoid users thinking they can click it.
@bradleyrichter @jenn-rhim @alexwykoff

### Current

![image](https://user-images.githubusercontent.com/29072694/62317884-74698800-b44f-11e9-97d6-89226b43e898.png)

### New

![image](https://user-images.githubusercontent.com/29072694/62318228-37ea5c00-b450-11e9-8481-529d361bcb3c.png)

[2019-08-01 18:40] fmarier opened #5502 "Enable user namespaces in the Debian package"
Lots of users are having problems (e.g. https://twitter.com/robdavies1978/status/1154709097184411648) installing Brave on Debian because of the extra step of enabling user namespaces.

Maybe we should do it for them by shipping a `/etc/sysctl.d/brave.conf` file containing:

    kernel.unprivileged_userns_clone = 1

and then doing a `sysctl -p /etc/sysctl.d/brave.conf` in the postinst script.

[2019-08-01 19:07] brrrrrr commented on #2997
Thanks, now it works like a charm.

On Thu, Aug 1, 2019 at 4:46 PM Lauren <notifications@github.com> wrote:

--
Bart van Maarseveen
twitter.com/bvanmaarseveen
06 53 680 619

komodopioneers.com
coincollect.cc
blockrock.nl
blockbar.nl
blockdam.nl

[2019-08-01 19:14] imptrx opened #5503 "Storybook doesn't run"
## Description
Storybook is currently unavailable. NTP story feature requires updates as it's currently using components that have been since renamed/removed.

## Steps to Reproduce

   1. open terminal client
   2. cd  `path/to/brave-core`
   3. in terminal run `npm run storybook`

## Actual result:
- Console throws errors regarding NTP

## Expected result:
- Storybook should run without errors

[2019-08-01 19:26] rossmoody commented on #1230
seems like a win in my opinion in the interim.

[2019-08-01 19:41] #5503 closed

[2019-08-01 20:02] #5427 closed

[2019-08-01 20:10] #5007 closed

[2019-08-01 20:11] LaurenWags commented on #1105
Verified passed with Brave-Browser-Beta.dmg on `macOS x64 10.13.6`

Brave	0.68.114 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
Revision	111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS	Mac OS X

<img width="784" alt="Screen Shot 2019-08-01 at 3 59 24 PM" src="https://user-images.githubusercontent.com/28145373/62324166-e1444880-b476-11e9-915d-13c6d7fec73b.png">

V

[2019-08-01 20:31] rossmoody opened #5504 "improve accessibility on welcome experience"
## Description
Tabbing currently prompts some pretty odd formatting and behavior bugs. I didn't deep dive into the causes or solves but it looks like you can tab through all the slides at once. Would be nice to give each interactive element a tab index and limit it to what's visible on the page.

## Steps to Reproduce

   1. go to brave://welcome on nightly
   2. Press tab 4-7 times
   3. Behold

[2019-08-01 20:33] cezaraugusto opened #5505 "Shields: move components from brave-ui to brave-core"
(details here adapted originally from https://github.com/brave/brave-browser/issues/5178)

Shields components are specific to brave-core. It will be more productive to have these inside the brave-core repo rather than in a separate repo (brave-ui).

Reasoning and steps explained in https://github.com/brave/brave-browser/issues/2335

## Test Plan
- Open Shields
- Check renders and no console errors

[2019-08-01 20:55] fmarier commented on #5502
Perhaps we should do this in `brave-keyring` to avoid having to patch the Chromium source.

[2019-08-01 20:56] feross commented on #1230
Thanks for the feedback @rossmoody, okay I'll send a PR to implement this.

[2019-08-01 21:12] feross opened #5506 "WebTorrent: Use friendly URLs for download links"
## Description

We should like to a friendly filename instead of a file named `/0` or `/1`. This will make the torrent links look less sketchy.

## Steps to Reproduce

   1. Go to https://webtorrent.io/free-torrents
   2. Start Big Buck Bunny (torrent)
   3. Start download
   4. Hover over the "Save File" link (looks like a downward-facing arrow)

## Actual result:

![Screen Shot 2019-08-01 at 2 0

[2019-08-01 21:34] LaurenWags commented on #4508
Verified passed with

Brave | 0.68.114 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2519
![Screen Shot 2019-08-01 at 5 34 03 PM](https://user-images.githubusercontent.com/28145373/62329000-a5af7b80-b482-11e9-81fe-7abc61

[2019-08-01 21:43] LaurenWags commented on #5456
Reproduced on macOS 10.13.6 with

Brave | 0.68.114 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

[2019-08-01 21:48] LaurenWags commented on #5283
Verified passed with

Brave | 0.68.114 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Installed 0.67.123 (current release version) and verified I could reproduce the issue. Using 0.68.114 verified I did not see the issue.
![Screen Shot 2019-08-01 at 5 47 43 PM](https://user-images.gith

[2019-08-01 21:49] #4816 closed

[2019-08-01 22:01] rossmoody commented on #5432
@simonhong  This should do the trick.

[code]

[2019-08-01 22:20] #5499 closed

[2019-08-01 23:32] feross commented on #5489
This is fixed in `webtorrent@0.105.3`. We need to update the version, but I'll hold off until https://github.com/brave/brave-browser/issues/5490 is fixed so we can update just once.

[2019-08-02 00:01] EyanGoldman opened #5507 "Brave ads mobile delivery policy change"
Ads delivery policy change on mobile, will need to be taken into consideration for bat-native-ads library for brave-core.
Linked to: https://github.com/brave/browser-android-tabs/issues/1913

[2019-08-02 00:26] #5432 closed

[2019-08-02 00:38] 1stmadness opened #5508 "Blue padding above title bar"
## Description

When the browser is maximized a blue bar appears on my second monitor, which is located above my main monitor. See image for better understanding. https://i.imgur.com/orez8se.png The taskbar hides it normally. But when you have something open that covers it, say a video in fullscreen. The blue bar will show over it, as seen in the image.

## Steps to Reproduce

   1. Open the webbr

[2019-08-02 00:58] norsehealer commented on #5392
as of Version 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)

Asking me to set Brave as default. When clicked, the Windows Settings instantly pops up. I wait 3-5 minutes, I can see the part asking which app to use. Clicking Brave requires another 3-5 minutes before it disappears. Now my Web browser default (in the Settings UI) is blank with `Choose a default` having been that way for an

[2019-08-02 01:00] simonhong commented on #5473
@latonv Thanks for checking! 👍

[2019-08-02 01:00] #5473 closed

[2019-08-02 02:05] srirambv opened #5509 "Remove confirm button from changing theme option in onboarding"
## Description

Remove confirm button from changing theme option in onboarding

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/62338912-3f3d5400-b4a8-11e9-9501-b04351ff9bb0.png)

## Expected result:
No confirm button required as the drop-down makes the visual change instantly

cc: @simonhong @rebron @rossmoody

[2019-08-02 02:32] feross commented on #5490
Not finished yet, and already some good results:

Before:

[code]

After:

[code]

[2019-08-02 04:48] mb300sd commented on #4615
+1 Version 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)

[2019-08-02 04:56] simefield opened #5510 "Remove Minimum font size setting or set to 0 as default"
## Description

Brave's arbitrary Minimum font size setting breaks modern layouts and is does not achieve what it sets out to do.
Setting a root-em of less than Brave's default will be over-ridden, but sometimes it is desirable, especially in modern development to use the root-em to achieve vertical rhythm in ones design. Over-riding this breaks well designed layouts.
Furthermore, setting a minimu

[2019-08-02 05:01] GeetaSarvadnya commented on #4745
Verification passed on

Brave | 0.68.114 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2624
- Verified the pubs name is displayed properly in BR panel and tipping banner for verifi

[2019-08-02 06:15] kjozwiak commented on #4867
@tmancey assuming this should be `QA/Yes` and checked by QA? Is there more detailed cases that we can run through? Is this basically making sure ads are working on both `staging` and `production`?

[2019-08-02 06:16] serpro69 opened #5511 "Minimize and Maximize buttons not visible in Ubuntu 18.04"
## Description
Since updating to one of the latest versions I noticed that Minimize and Maximize buttons have disappeared from the top panel. Only Close button is present.

## Actual result:
![image](https://user-images.githubusercontent.com/22973227/62348585-64a87d00-b4fd-11e9-8dba-ace94f50f3e5.png)

## Expected result:
![image](https://user-images.githubusercontent.com/22973227/62348599-70943f00

[2019-08-02 06:21] kjozwiak commented on #4435
@riastradh-brave is there anything QA can do here in terms of manual passes? Seems like a `QA/No`. If there's something QA can do here, please add some test cases into the issue and label it as `QA/Yes` 👍 Thanks!

[2019-08-02 06:24] kjozwiak commented on #4658
@rossmoody can you please add a screenshot/example of how the new focus lines should appear under `brave://welcome`. This way QA will be able to tell if what we're seeing is actually the expected/intended behaviour 👍

Were the focus lines changes anywhere else, or this strictly for the `brave://welcome` page?

[2019-08-02 06:38] kjozwiak commented on #4349
@bsclifton is there anything QA can do here? Sounds like this was disabled due to the field trials work. Would a simple test case of side loading an extension manually and making sure the modal popup doesn't appear be sufficient? If there's anything else that needs to be QA'd here, please let me know 👍

[2019-08-02 06:46] kjozwiak opened #5512 "Manual test run on OS X for 0.68.x - Beta"
## Per release specialty tests
 - [x] Dynamically generated PDF does not load properly.([#884](https://github.com/brave/brave-browser/issues/884))
 - [x] Delay incrementing shields counter until first render.([#888](https://github.com/brave/brave-browser/issues/888))
 - [x] Update macOS Installer Graphics.([#1105](https://github.com/brave/brave-browser/issues/1105))
 - [ ] Show full url like in Ch

[2019-08-02 06:46] kjozwiak opened #5513 "Manual test run on Windows x64 for 0.68.x - Beta"
## Per release specialty tests
 - [x] Delay incrementing shields counter until first render.([#888](https://github.com/brave/brave-browser/issues/888))
 - [x] Can't hide Bookmarks bar on New Tab page.([#1306](https://github.com/brave/brave-browser/issues/1306))
 - [x] Add default search engine functionality to onboarding process.([#1548](https://github.com/brave/brave-browser/issues/1548))
 - [x]

[2019-08-02 06:46] kjozwiak opened #5514 "Manual test run on Linux for 0.68.x - Beta"
## Per release specialty tests
 - [x] Delay incrementing shields counter until first render.([#888](https://github.com/brave/brave-browser/issues/888))
 - [x] Show full url like in Chrome.([#2192](https://github.com/brave/brave-browser/issues/2192))
 - [x] `Block element via selector` context menu is not translated to other locales.([#3094](https://github.com/brave/brave-browser/issues/3094))
 - [

[2019-08-02 07:05] bsclifton commented on #4349
@kjozwiak that would be a great test - let me add the labels and some test steps

[2019-08-02 07:07] kjozwiak commented on #4349
Great, thanks @bsclifton! Much appreciated!

[2019-08-02 07:09] kjozwiak commented on #5511
@serpro69 we just released `0.67.123 Chromium: 76.0.3809.87` today. Could you update and see if you can still reproduce?

[2019-08-02 07:11] bsclifton commented on #4349
@kjozwiak top posted edited 👍

[2019-08-02 07:13] kjozwiak commented on #5490
@feross labelling this as `QA/No`. However, if there's anything QA needs to check once this has been completed, please feel free to add test cases and change the label to `QA/Yes`.

[2019-08-02 07:14] bsclifton commented on #5434
Is this something we should even fix? Since we've already released something which introduces this problem (requiring manual intervention), I don't think there would be enough users on the old 0.62.x version

[2019-08-02 07:14] serpro69 commented on #5511
Hi @kjozwiak, thanks for prompt response. I've just tried on the latest version `0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)` and still have the same issue.

[2019-08-02 07:19] kjozwiak commented on #5509
Also mentioned via https://github.com/brave/brave-browser/issues/1548#issuecomment-516484377 where we had a discussion regarding removing both of the `Confirm` buttons for both `Search` and `Themes`.

Agreed that the confirm button seems a but redundant for theme selection. However, @rossmoody made some good points via https://github.com/brave/brave-browser/issues/1548#issuecomment-516498115. Howe

[2019-08-02 07:34] bsclifton commented on #5432
😎

[2019-08-02 07:37] #5500 closed

[2019-08-02 07:42] bsclifton commented on #5456
cc: @ryanbr

[2019-08-02 07:54] bsclifton commented on #1982
@boggle on a fresh install, it does appear to be enabled for me. Have you been using Brave for a while? It's possible that you used it before we changed the default value

[2019-08-02 08:12] boggle commented on #1982
Must have been that; maybe switched 2 month ago or so.

[2019-08-02 08:16] bsclifton commented on #5420
@gerardo-junior I believe there are extensions (which do work) for changing user-agent. So this could be a great idea for an extension (just not a feature we include)

[2019-08-02 08:19] tmancey commented on #4867
@kjozwiak This is just basically making sure staging/production work as expected, thanks

[2019-08-02 08:20] tmancey commented on #5434
@bsclifton I would say we should fix as the changes that were required0 to fix this PR will make migration easier for future versions too.

[2019-08-02 08:28] bsclifton commented on #5434
@tmancey perfect - let's do it then 😄

[2019-08-02 10:10] Blaxou commented on #4074
@kjozwiak Hey ! It seems it has been fixed yeah ;) Didn't notice any performance issues.

[2019-08-02 10:10] #4074 closed

[2019-08-02 11:17] #5434 closed

[2019-08-02 11:18] tmancey commented on #5434
@LaurenWags Will be in nightly 0.70.30 or above, if we could test asap that would be great

[2019-08-02 11:45] GeetaSarvadnya commented on #4502
Verification passed on

Brave | 0.68.115 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-ui/pull/489
- Verified the STR mentioned in the description

![image](https://user-images.githubusercon

[2019-08-02 11:46] GeetaSarvadnya commented on #4503
Verification passed on

Brave | 0.68.115 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-ui/pull/489
- Verified the STR mentioned in the description

![image](https://user-images.githubusercon

[2019-08-02 12:00] srirambv opened #5515 "Add a link to status.brave.com from rewards/sync page"
## Description

Currently, there is no way for a user to know if any of the Brave services are down. In case of an outage, users would just get a message saying the server is not responding which isn't a very clear message. We should think of adding a label on the pages which uses backend services that clearly shows the status of running services

Proposed implementation idea:
Add a label on the r

[2019-08-02 12:03] janwilmans commented on #5360
Not sure if this is related, but I also see freezes in loading pages with
very large logs from ci-jobs in gitlab.

example:
https://gitlab.com/gitlab-org/gitlab-services/design.gitlab.com/-/jobs/264387571

this particular page does not show the problem, but I have internal project where the logs are much larger (~5MB), where I see this:

![image](https://user-images.githubusercontent.com/5933444/6

[2019-08-02 13:05] srirambv commented on #5511
@serpro69  Which desktop environment are you on? Have you tried enabling the maximize and minimize buttons via the tweak tool? By default maximize and minimize is disabled.
![image](https://user-images.githubusercontent.com/17010094/62372126-a7218800-b504-11e9-94fd-874b0915ffc8.png)

[2019-08-02 13:10] srirambv commented on #5509
I feel instead of having the confirm button, we can just add a text label that says `New search engine set` if user changes the default from dropdown. The button placement looks odd to me. Adding the text makes visual confirmation as well and avoids awkward button placement as well. Just a thought but will leave decision upto the design team

[2019-08-02 13:18] Gary-Armstrong commented on #1982
Tried enabling the Meet toggle. Video worked, they could hear me but I could not hear them. Probably just me, something wonky on my Mac? Just the one switch, yes?

[2019-08-02 13:33] btlechowski opened #5516 "Browser crash when attempting to tweet after tipping"
After tipping, clicking on `Tweet` may crash the browser

## Steps to Reproduce

1. Clean install
2. Enable Rewards
3. Claim grant or fund wallet another way
4. Open publisher page (`https://www.reddit.com/user/jsadler-brave`)
5. Use inline tipping
6. Click tip amount
7. Quickly click another tip amount (repeat few times)
8. Immediately click `SEND MY TIP`
9. Immediately click `Tweet`

Note: This

[2019-08-02 14:08] gerardo-junior commented on #5420
@bsclifton as I put in the issue there is the "random-user-agent" but for security and performace reasons I suggested this build-in because if setting it to ["last 2 version", "not dead", " windows> = 8 "] or something I have no big problems with the render of common pages. easylist's with brave native ad/track blocker gives a lot more trouble from my experience. and I found it interesting to look

[2019-08-02 14:12] #4784 closed

[2019-08-02 14:57] fmarier commented on #2979
@meliaas Could you please file a new issue for this and include:

- the version of Manjaro you are using
- the exact instructions you followed to install Brave
- the error message you are seeing when you run `brave-browser` from a terminal

[2019-08-02 14:58] mandar-brave opened #5517 "Add a verified logo in the tip banner"
For inline tipping, there is no way for a tipper who clicks on the logo to know if the receiver is verified (or not). And very few folks read the disclaimer.

Add the verified logo to the tip banner so add some visual symbol of verification -- the tip panel is working great if a user starts there.

Illustration:
![image](https://user-images.githubusercontent.com/35932307/62379153-3c1f8380-b4fb-11e

[2019-08-02 14:58] mandar-brave commented on #5517
@NejcZdovc

[2019-08-02 15:02] fmarier commented on #2979
I'm going to set this to P5 since the original reports were about unsupported third-party packages. The Manjaro issue is potentially different so we can track that separately.

[2019-08-02 15:42] Brave-Matt commented on #5517
@mandar-brave,
Is this method being chosen _over_ the initial method proposed in #4649 ( no offense taken :) ) -- or maybe in tandem? I ask because this particular methodology seems "clunky" UX wise.

For example, a user scrolling through their Twitter feed wants to Tip another verified user. If the verified logo appears in the tip banner, without #4649 in place as well, the user is _required_ to

[2019-08-02 15:48] Brave-Matt commented on #5451
@willstocks-tech,
This is certainly an issue, but can you try and go to `Appearance --> Theme`, select Light theme (or same as Windows) -- then, select the drop down again and choose Dark, then (last time I promise) select Light theme _again_?

While it's not an _actual_ solution, this often resolves the color issue for me:
![THEME](https://user-images.githubusercontent.com/3299098/62382311-28c3e6

[2019-08-02 15:57] NejcZdovc commented on #5517
@Brave-Matt problem with #4649 is that would mean that we would need to fetch data for every publisher that is displayed on the page and could mean some lagging while scrolling. This is first step that we will do (to have the same UI) and then we will investigate how we can do #4649 performance efficient

[2019-08-02 15:59] NejcZdovc opened #5518 "New on boarding for wallet verification"
We would like to simplify verify screen.

Things to do:
- remove on boarding in the panel. Clicking on the button should open rewards page and open on boarding dialog
- move panel overlay into modal which should look like this:

![image](https://user-images.githubusercontent.com/9574457/62386906-791a6300-b559-11e9-8c05-0de1de46b782.png)

[2019-08-02 16:03] AlexeyBarabash commented on #3190
I can verify the fix works on own-built master (0.70.30), but the fix somehow does not work on Nightly (0.70.22).

[2019-08-02 16:11] kristian-welsh commented on #816
Is there anything blocking this right now? Do we need to decide on a list of core fonts per OS?

[2019-08-02 16:12] LaurenWags commented on #5434
@tmancey I can't test on Nightly, we didn't have Nightly versions for 0.62.x. I believe the first official Nightly version was 0.64.5 and Ads were at least in Dev by that point.

[2019-08-02 16:20] tmancey commented on #5434
@LaurenWags Could we copy a 0.62.x profile from Dev/Release?

[2019-08-02 16:21] LaurenWags opened #5519 "opened PDFs no longer render after switching to PDFium"
## Description

Found while testing https://github.com/brave/brave-browser/issues/3846

If you have PDFs open before updating to 0.68.x, when you open them you basically get an error loading the page because PDFjs is no longer being used to open PDFs.

## Steps to Reproduce

   1. Install build like 0.67.112 on beta (or any build on another channel where PDFjs is being used.
   2. Open at least on

[2019-08-02 16:37] bsclifton commented on #5510
cc: @bradleyrichter

[2019-08-02 16:37] mandar-brave commented on #5517
@Brave-Matt #4659 is what we would prefer; but seems like a lot of heavy weight lifting - a compromise but allows for some symbolism of verification!

[2019-08-02 16:39] kjozwiak commented on #5509
CCing @rossmoody to update the above with a possible new implementation discussed on Slack.

[2019-08-02 16:40] kjozwiak commented on #5508
CCing @kjozwiak to reproduce.

[2019-08-02 16:47] kjozwiak commented on #5497
CCing @ryanbr. Mind taking a look at this when you have some time? Thanks!

[2019-08-02 16:56] kjozwiak commented on #5463
Thanks for refiling @zavan 👍 CCing @kjozwiak (myself) to see if I can reproduce.

[2019-08-02 17:02] kjozwiak commented on #5451
@willstocks-tech what is your default theme set on Windows? Do you maybe have a dark one selected that's propagating into Brave?

[2019-08-02 17:04] kjozwiak commented on #5447
@NejcZdovc we should probably crop the banner when someone tips something large that might cause the above. Maybe implement a character limit of some type?

[2019-08-02 17:06] NejcZdovc commented on #5447
yeah we should limit content height and just hide everything else

[2019-08-02 17:19] LaurenWags commented on #5434
@tmancey I can try that. I don't think it's quite the same, but it might be the closest testing that can be done in Nightly. Will check and post results.

[2019-08-02 17:25] rossmoody commented on #5501
@NejcZdovc are there outstanding parts of this that still need fixed after the latest merge?

[2019-08-02 17:27] willstocks-tech commented on #5451
@kjozwiak - my Windows theme at the time was Dark, however that is partially my point here:
Brave’s theme toggle should overrule that setting. If I set my theme to “same as Windows” then that’s fine. But if I set it to “Light” in this case, then Brave should be themed Light. Windows theme should not propagate throughout Brave’s UI

[2019-08-02 17:33] bsclifton commented on #5518
Looking at this - it's a little bit confusing and also regresses on past capability (2 way wallet regresses capability, not this text change)

For example, if I want to add funds without "verifying"... that isn't possible. The closest I can do is:
1. Go to brave://rewards
2. Click `Add funds`
3. Click `Verify Wallet` (even though I don't intend to verify)
4. Create an Uphold account
5. Don't compl

[2019-08-02 17:36] imptrx opened #5520 "Welcome Page Scroll Bar Appearing"
## Description
Welcome page has a scroll bar when animating the footer graphic.

## Steps to Reproduce

   1. In system preferences => General => Show Scroll Bars => Always
   2. Open brave for the first time or go to `brave://welcome`

## Actual result:

- welcome page is scrollable
- scroll bar is apparent
<img width="764" alt="Screen Shot 2019-08-02 at 10 33 05 AM" src="https://user-images.gith

[2019-08-02 17:36] Brave-Matt commented on #2791
+1 from Community:
https://community.brave.com/t/how-to-completelly-remove-widevine-from-brave-ubuntu/73658

[2019-08-02 17:40] ckothwal123 commented on #2763
+1
I love the browser overall and the speed improvements it has given me over chrome. This is the only issue that stops me from completely shifting to brave. Hope to see this resolved soon !

[2019-08-02 17:53] mkarolin commented on #5229
This should be fixed by `571e90d`

[2019-08-02 18:13] rossmoody commented on #5509
I think the direction of this one can stay as-is. Removing the confirm button for this panel is non-detrimental and users can use the next button.

[2019-08-02 18:44] LaurenWags commented on #5434
@tmancey Seems as though there are some issues. Specifically, some cases which were working before are now not working. Please see results below:

A. Using US and UK regions:
1. **FAILED** 0.62.51 enable Rewards. Upgrade —> 0.70.30 (copy profile from Release, rename to Nightly).
   * not prompted about ads on BAT logo but was expecting a BAT logo notification. This part is not working as expected.

[2019-08-02 18:59] 1stmadness commented on #5508
I found out how to reliably reproduce this bug.

You have to have fullscreen videos open on both monitors. Exit out of the fullscreen on the main monitor and the browser will overlap a blue bar onto the second monitor.

In my case I have a fullscreen MPC-HC video open on my second monitor, which is above my main monitor. And open a youtube video on my main monitor, go into fullscreen and exit full

[2019-08-02 19:13] hp8wvvvgnj6asjm7 opened #5521 "Glitches on canvas"
This issue is persistent since brave browsers launch. Websites like soundcloud and other graphic intense websites constantly cause artefacts and flashing geometry on HTC One series.
![Screenshot_2019-08-02-21-10-08](https://user-images.githubusercontent.com/45887282/62393406-517fc680-b56a-11e9-952b-6a44a561d330.png)

[2019-08-02 19:19] 1stmadness commented on #5508
Actually, you can just press F11, no need to play any videos. Open the browser, maximize it, press F11 twice and open something in fullscreen on your second monitor, it will show a blue bar.

[2019-08-02 19:36] bradleyrichter commented on #5518
@bsclifton Can you expand on the confusing aspect?

Regarding adding crypto via wallet addresses, this now requires an uphold account (not KYC) but there isn't currently a separated logical flow that can be linked to from our ad-funds button.

[2019-08-02 19:48] bsclifton commented on #5518
@bradleyrichter quick example - I have an account with BAT already where I can load up my wallet. Let's say I have 0 interest in signing up for Uphold; I purely want a one-way wallet where I put the funds, they can be dispersed. We don't really offer that

Instead, you now (even to get your address) need to create an Uphold account. In our text, we say "Verify" even though you can use the Uphold a

[2019-08-02 20:00] LaurenWags commented on #4908
Verified passed with:

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Updated from 0.67.112 to 0.68.116 without issue.
* Updated from 0.68.114 to 0.68.116 without issue.

cc @kjozwiak to check on Mojave.

[2019-08-02 20:51] #5414 closed

[2019-08-02 21:02] diracdeltas commented on #816
i believe that is still needed. @snyderp got pulled away for other work

[2019-08-02 21:05] niknah commented on #5360
Same with the reddit share button on some pages.  Click it a few times and all the tabs & windows on brave freezes.

[2019-08-02 21:05] LaurenWags commented on #944
Verified passed with

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from description.
cc @kjozwiak to check on Mojave

[2019-08-02 21:20] warwickmm commented on #4267
I can confirm that this is still an issue with Version 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit) on Windows 7.

[2019-08-02 21:25] ryanbr commented on #5497
Just Allow all cookies, that should fix it.

[2019-08-02 22:09] ryanbr commented on #5456
A fix has been submitted, just needs to be approved. Thanks for the report.

[2019-08-02 23:09] fmarier opened #5522 "Cannot subscribe to mailchimp mailing list with Shields ON"
## Description
It's not possible to fill out the form to subscribe to the Container Beer mailchimp mailing list with Shields ON.

If I disabled "Cross-site trackers blocked" in Shields, then the form appears.

It's possible this is a more general problem with mailchimp.

## Steps to Reproduce

   1. Visit https://www.drinkcontainer.beer/
   2. Click on "Subscribe" at the top.
   3. https://mailchi

[2019-08-02 23:25] bradleyrichter commented on #5518
@NejcZdovc I had a typo in that screen above. Please use "necessary" instead of "necessarry".

![image](https://user-images.githubusercontent.com/13509546/62403467-297c6d00-b542-11e9-8745-311dff023d0f.png)

[2019-08-02 23:43] ryanbr opened #5523 "Brave fails to load https://www.mixcloud.com/"
## Description
Create a login for mixcloud, load https://www.mixcloud.com/ This will lock up the browser if Sheilds is enabled.  Was reported here; https://github.com/brave/brave-browser/issues/4155

## Steps to Reproduce

   1. Sign in the Mixcloud
   2. load www.mixcloud.com

## Actual result:

![mixcloud](https://user-images.githubusercontent.com/1659004/62403700-487f0b80-b5e3-11e9-81ff-6fafe1c

[2019-08-02 23:45] Brave-Matt commented on #5523
+1 from Twitter:
https://twitter.com/thenicomsd/status/1157411550673690625

[2019-08-02 23:46] Brave-Matt commented on #5523
+1 from Community:
https://community.brave.com/t/mixcloud-not-loading-slow-to-respond/63069

[2019-08-02 23:46] Brave-Matt commented on #5523
+1:
https://community.brave.com/t/mixcloud-page-doesnt-load/53940

[2019-08-02 23:47] Brave-Matt commented on #5523
+1:
https://community.brave.com/t/mixcloud-never-finishes-loading/40474

[2019-08-02 23:47] smartfonreddit opened #5524 "CRX_REQUIRED_PROOF_MISSING while installing a theme CRX"
## Description
Installing a CRX theme file in brave:extensions shows error CRX_REQUIRED_PROOF_MISSING

## Steps to Reproduce
Use https://www.themebeta.com/chrome-theme-creator-online.html to create a theme file. Download the CRX file. Open brave:extensions and drag it there. It won't install.

## Reproduces how often:
Every time.

## Brave version (brave://version info)

0.67.123 Chromium: 76.0.38

[2019-08-02 23:50] vicentelyrio commented on #2763
I still think Google is to blame for this problem, the button is deliberately hidden only in Brave.

[2019-08-03 00:07] Column01 commented on #2763
No, it is very much an issue with the brave ad-blocker. I could probably see the "ad" part of the CSS and remove it thinking it's an ad when it is the thing protecting us from ads. Google would not invest time and money into making a specific rule for YouTube to disable the ad skip button when using a certain browser, that would be stupid and waste more money than blocking ads loses them in the fi

[2019-08-03 00:21] cndouglas opened #5525 "No publisher is showing as verified"
## Description
Verified publishers are not showing as verified in the Brave Rewards panel.

## Steps to Reproduce
   1. Start Brave with a fresh profile
   2. Go to brave.com
   3. Open the Brave Rewards panel
   4. Click Join Rewards

## Actual result:
brave.com shows as not verified (I'm pretty sure Brave's own website is a verified publisher):
![](https://user-images.githubusercontent.com/19424

[2019-08-03 01:08] nmrt commented on #4795
Hey guys,

So is this a feature of _security_? ;)

Could you please prioritize the bug **higher than P3?**

It is really counterproductive to be unable to preview contents of browser windows while navigating OS, especially considering how many apps are _web_apps open in a browser now days, and visually searching through a mix of other app previews and Brave blanks with icons and titles is quite ch

[2019-08-03 01:20] hp8wvvvgnj6asjm7 opened #5526 "Huge security concern over camera access"
Upon visitation of trello.com and eBay, my phone's camera is activated for a split second. I don't know if this is some new fingerprinting technique but it has been doing this since more than six months already. I could not find anything online so, this is something uncovered. The way I noticed it was that my phone lens makes noise when it's activated.

Please spread some awareness about this.

[2019-08-03 01:32] caycek commented on #5526
Just to ask this question. Since you have noticed it for 6 months are these the only 2 sites that do this? Or are you seeing it on any other sites?

The more sites that you could list could help determine if this is a wider issue or localized to how those specific sites are interacting with the device.

I'm also assuming this is an iPhone since I don't think there is a solid build of Android yet.

[2019-08-03 06:39] serpro69 commented on #5511
@srirambv I'm on gnome. I have those buttons enabled and they're showing fine in other apps (i.e. Firefox).

![image](https://user-images.githubusercontent.com/22973227/62408478-0dbca980-b5ca-11e9-9b23-c7aab7c6ebdd.png)

![image](https://user-images.githubusercontent.com/22973227/62408493-393f9400-b5ca-11e9-98be-75eabf7e1c8f.png)

[2019-08-03 06:45] serpro69 commented on #5511
OK, I think I've figured it out. The buttons will show if I enable "Use system title bar and borders", and if it's disabled then only Close button shows. If this is the correct behavior then this issue can be closed.

[2019-08-03 09:51] simefield commented on #5510
Negative. This is not an issue in Chrome, but was implemented in Brave. See: https://community.brave.com/t/desperately-needs-a-minimum-font-size-feature/14983

[2019-08-03 10:47] frua97 commented on #3253
Amazon now displays an error message:
![Prime Video Error Message](https://user-images.githubusercontent.com/52871088/62410794-a80ff380-b5b0-11e9-8d89-58ae63fa36a8.png)
The link takes you to a page "Prime Video System Requirements for Computers" which states:

"To access Prime Video, please ensure that you are running the latest version of one of these web browsers:

Google Chrome
Mozilla Firefox

[2019-08-03 12:33] #5507 closed

[2019-08-03 15:10] Luzifer commented on #5514
Refs Widevine on Netflix:

- Version: `0.68.116 Chromium: 76.0.3809.87 (Official Build) unknown (64-bit)`
  - Installed through [AUR build](https://aur.archlinux.org/cgit/aur.git/commit/?h=brave-beta-bin&id=327ea1a255b671c7b0d4be9ba26664b345cb8f0a)
- Widevine is NOT listed in `brave://components` (see brave/brave-browser#3955)
- [Bitmovin DRM Demo](https://bitmovin.com/demos/drm) lists EME `widevi

[2019-08-03 15:18] FernandoMartinelli commented on #4795
I second that. This is really making me consider going back to chrome =/

On Fri, Aug 2, 2019, 22:08 Artem Nyzhnyk <notifications@github.com> wrote:

[2019-08-03 19:08] RetroCraft opened #5527 "Old Reddit tipping not showing up"
## Description
The current logic for deciding whether we're on old or redesigned Reddit is by using the url (old.reddit.com vs www.reddit.com). However, if you opt out of the redesign through personal preferences, you have old Reddit on the www subdomain. Tipping does not show up.

## Steps to Reproduce

   1. Sign in to Reddit
   2. Opt out of the redesign if not done already by going to Settings

[2019-08-03 20:27] feross opened #5528 "WebTorrent should persist the DHT table entries"
## Description

Certain torrents rely exclusively on the DHT to find peers, and have no functioning tracker servers. Here's an example torrent (https://cdimage.debian.org/debian-cd/current/amd64/bt-dvd/debian-10.0.0-amd64-DVD-1.iso.torrent). It has a single tracker server (http://bttracker.debian.org:6969/announce) that seems to be offline.

Torrents that rely exclusively on the DHT are not a prob

[2019-08-03 20:52] ehouarn-perret opened #5529 "Chinese characters in tabs shown as squares / rectangles?"
## Description
When running Brave in Linux, Chinese characters **in tabs** are rendered as squares / rectangles (the content of the page is fine even if contains Chinese characters).

Also it seems that even if the tab does not show the Chinese characters properly, the window title related to the current tab shows the Chinese characters properly in the menu bar in my OS.

It's worth noting that th

[2019-08-03 21:27] nu11secur1ty commented on #2264
https://github.com/nu11secur1ty/brave-browser-Kali-Linux/blob/master/README.md
BR ;)

[2019-08-03 22:46] moribellamy opened #5530 "unpacked web extension works on chromium, not on brave"
## Steps to Reproduce

   1. `git clone https://github.com/moribellamy/graytabby`
   2. `npm i`
   3. `npm run build`
   4.  load resulting "dist" directory in brave://extensions, under developer mode

## Actual result:
Clicking the browser action button should archive all tabs in to a new page

## Expected result:
Nothing happens

## Reproduces how often:
Always

## Brave version (brave://version

[2019-08-03 23:13] moribellamy commented on #5530
sorry, this is probably just a bug in my application

[2019-08-03 23:13] #5530 closed

[2019-08-04 00:20] wi-ski commented on #209
I just installed this browser and have spent the entire day moving my life into it.

Ty for building this.
Ty for building this.
Ty for building this.

[2019-08-04 01:40] tmancey opened #5531 "Follow up to there is no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119"
## Description

There is no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119

## Steps to Reproduce

Pre-requisites: VPN is connected to US region and language is set to English(US)
   1. clean profile 0.62.51
   2. enable rewards
   3. upgrade to 0.67.119

## Actual result:

There is no ads enable alert, ads are enabled by default when upgrading build fro

[2019-08-04 01:42] tmancey commented on #5434
@LaurenWags I have created https://github.com/brave/brave-browser/issues/5531 to resolve the above issues. I now have profiles for 0.62.x and 0.63.x if that helps with testing.

[2019-08-04 01:52] andr222 commented on #5362
It is a bit of a cludge.  Installing a foreign package management front end and a set of parallel repos, most of which will never be used.
It would be much simpler to simply facilitate direct access to the brave package, with a function in brave that warns if a new version is available.  (A very common practice of open source software not tied to a particular distro.)
The current approach almost g

[2019-08-04 02:04] andr222 commented on #5362
Note that what makes the proposed solution problematic is to use it one needs 2 rpm front ends installed, one of which is only used for a single package, thus readily overlooked.  The native rpm front end (urpmi) gives automatic update warnings, whenever an update is available for any of its' defined repos.

[2019-08-04 02:49] RetroCraft commented on #4649
This should also be generalized to Reddit and other future integrations.

[2019-08-04 10:51] binoyxj commented on #4393
The text included as part of the auto-tweet is actually broken. It's having some gibberish text too.

[2019-08-04 11:55] ante316 commented on #3650
**+1**; still an issue.
**OS**: macOS
**Brave**: Version 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)

This saddens me greatly :(

[2019-08-04 12:00] cuzer commented on #1306
+1

[2019-08-04 18:02] hp8wvvvgnj6asjm7 commented on #5526
android + afwall + xposed + xprivacy

[2019-08-04 18:39] cubanx commented on #3082
So I had the same issue and the workaround that worked for me was:
1. Disable Shields on Bing (or whatever)
1. Cleared all cookies from history
1. Go into Brave global settings and allow 3rd party cookies
1. Now login (you may already be logged in)
1. Go put it all back as it should be

I closed the browser and so far so good...hope this helps someone.

[2019-08-04 20:43] #5522 closed

[2019-08-04 21:04] probonopd commented on #1060
Yes, 14.04 is no longer supported. 16.04 (Xenial) is now the oldest still-supported LTS, and hence the one that should be considered the baseline target system.

[2019-08-04 21:04] probonopd commented on #1060
I am happy to help the Brave team make an AppImage. Just let me know.

[2019-08-04 21:07] posix4e commented on #1060
Amazing, I've been looking for help. Please email me at
alexnewmanbrave@wuli.nu and we can take it from there.

[2019-08-04 22:45] andr222 commented on #5362
Downloading the most recent brave-v{version}-linux-x64.zip file and unzipping it to an arbitrary location, and making a link in the menu to the brave executable works nicely.
It doesn't use mageia's system of automatic warning of available updates.
For that a repo would have to be added in mageia's repo structure.  Each repo can have a defined key, to ensure that the package is appropriately signe

[2019-08-04 23:33] Riggie1000 opened #5532 "Website looks bad since last update today"
## Description
Hello.
Since last update today (2019/08/05) I have a website that has now a bad looking. It looks like one site (febbit.com/miner) is scrolled down so the upside is out of the window, but there is no scrolling on that site. I think it's because of an ad upside, that is blocked by the shield, but deblocking doesn't put the site to the old look.

## Steps to Reproduce

   1. open febb

[2019-08-05 02:25] bermudalocket opened #5533 "Download information not vertically centered in downloads bar"
## Description

Download information is no longer centered vertically in the downloads bar.

## Steps to Reproduce

   1. Initiate a download.
   2. That's it.

## Actual result:

<img width="244" alt="Screen Shot 2019-08-04 at 9 42 53 PM" src="https://user-images.githubusercontent.com/30004636/62434168-883e1400-b705-11e9-8477-5aab07229322.png">

## Expected result:

<img width="244" alt="fixed-ex

[2019-08-05 04:16] jbunce opened #5534 "Token Grants | You have a grant waiting for you. 05/08/2019"
## Description

Token Grants Claim is not operational

## Steps to Reproduce

Click notification -> Pass human check

## Actual result:

`Oops, something is wrong. Please try again later.
Brave Rewards is having an issue. Please try again later.`

## Expected result:

Claim is operational.

## Reproduces how often:

## Brave version (brave://version info)

0.67.123 Chromium: 76.0.3809.87 (Official

[2019-08-05 04:30] bsclifton commented on #5526
cc: @SergeyZhukovsky @samartnik @AlexeyBarabash

[2019-08-05 04:46] bsclifton commented on #209
@LesterCovax @wi-ski thanks for confirming it's working! 😄

The credit goes to @jumde, @simonhong, and folks that helped them along the way!

Some notes about the implementation:
- you can turn on/off using brave://settings (`Media Router` under `Extensions`)
- UPNP requests are not made by default (see https://github.com/brave/brave-core/pull/2836 - you have to enable Chromecast/Media Router)
- A

[2019-08-05 04:48] GeetaSarvadnya commented on #4708
The issue is Reproducible in Brave Beta 0.68.116. Even after claiming grants, the claim notification is shown on the BAT logo. Click on the claim button doesn't do anything

![4708](https://user-images.githubusercontent.com/38657976/62439652-46938480-b76a-11e9-9019-ecfecf7c03b9.gif)

[2019-08-05 04:54] bsclifton commented on #3253
@frua97 thanks for confirming Nightly does work! 😄

[2019-08-05 05:02] GeetaSarvadnya commented on #5534
The issue is Reproducible in Windows 10 running Brave Beta `0.68.116`. Click on `claim` throws  `Oops, something is wrong. Please try again later. Brave Rewards is having an issue. Please try again later`, But grants are claimed and wallet balance shows 4 BAT. After claiming grants the notification is not removed from the BAT logo, 1st click on `claim` shows `The grant is no longer available` mess

[2019-08-05 05:02] Deozaan opened #5535 "Display Channel Type During Tipping Banner Customization"
## Description

I'm trying to have a custom tipping banner for each of my various linked channels, but I can't tell which one I'm editing because the tipping banner just shows `✅ Deozaan` on each of them. This is not helpful. I can't tell if I am editing my `Github` or `Twitter` or `Twitch` or `YouTube` channel, etc., which all have the same username.

## Steps to Reproduce

   1. Link various cha

[2019-08-05 05:03] bsclifton commented on #5521
cc: @SergeyZhukovsky @samartnik @AlexeyBarabash

[2019-08-05 05:05] bsclifton commented on #1982
@Gary-Armstrong yup- that one switch should do the trick. It's possible I think to have a different speaker and mic configured (you can check the system settings to confirm) and you may need to restart the browser after enabling

[2019-08-05 05:15] Deozaan opened #5536 "Allow Creators to Reorder Linked Channels"
## Description

I linked my more popular channels first, and as Brave has added more and more sites that can be linked, I've added those as well. Many of the new ones I've added don't get much traffic and thus don't get any rewards.

Now I must scroll down the page to the bottom of the list to see pending payouts to my most popular linked channels.

It would be nice if the list of linked channels

[2019-08-05 05:20] bsclifton commented on #5431
Should have been fixed with https://github.com/brave/brave-core/pull/2845 - the extension should be loading in these window types also. Curious why this doesn't work

[2019-08-05 05:22] Deozaan commented on #5511
@serpro69 Your screenshot of the tweak tool only shows the close button, whereas @srirambv's shows the min/max buttons as well. This looks like an OS configuration issue to me, not a Brave issue.

[2019-08-05 05:36] bsclifton commented on #5095
@tiagosiebler thanks for the report - sorry we didn't respond in a timely manner

Are you still experiencing this? If so, can you try either our Developer or Nightly channels? We fixed some bugs when upgrading our Adblock library (it's possible the problem was solved- would be great to verify)

[2019-08-05 05:52] Durry-Duck commented on #5153
I am totally keen for this. what an awesome browser so far.

[2019-08-05 06:28] serpro69 commented on #5511
@Deozaan Not exactly, I do have those buttons, just look closer :)
![image](https://user-images.githubusercontent.com/22973227/62443195-83f01600-b75a-11e9-9898-908044b579a2.png)

But as I mentioned in the comment above, the issue seems to be related to "Use system title bar and borders" option of Brave. I do not know if this is the correct behavior though.

"Use system title bar and borders" is di

[2019-08-05 06:29] serpro69 commented on #5511
I think you might be right there :) Closing this issue. Thanks!

[2019-08-05 06:29] #5511 closed

[2019-08-05 07:53] GeetaSarvadnya commented on #4561
Verification passed on

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2520
- Verified adding removing Twitter/Sites/Reddit sites
- Verified adding removing YT and

[2019-08-05 08:28] GeetaSarvadnya commented on #888
Verification passed on

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2507
- Verified on clean profile and upgraded profile

[2019-08-05 08:40] xushet opened #5537 "not all bookmarks are being synced"
## Description

I imported 502 bookmarks in the Windows version of Brave, but the number of bookmarks synced to android is only 499. How many of them go there?

## Steps to Reproduce

   1. Import HTML bookmark file in Windows Brave, open brave://sync/, create new sync, copy sync password
   2. send sync password to Android phone via Telegram, paste sync password on mobile phone
   3.start waiting

[2019-08-05 08:44] xushet commented on #5537
This is a great browser that can be synced without an account.
I have trouble troubleshooting which bookmarks are missing

[2019-08-05 10:27] MRVDH opened #5538 "Having the print preview open in one tab blocks all requests on other tabs"
## Description
Having the print preview open in one tab blocks all requests on other tabs

## Steps to Reproduce
- open the print preview in tab 1
- try to navigate to any page on tab 2

## Actual result:
"Waiting for extension PDF Viewer..."

## Expected result:
Non-blocking requests

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)

Brave | 0.66.101 Chromium: 7

[2019-08-05 10:43] AlexeyBarabash commented on #5521
Tried on all devices I have: I could see a behavior with graphic artifacts on the old tablet with Android 4.4 , but it was not similar to the screenshots above and the image has been normalized in several seconds. The Chrome acts in the same way on that device.

@hp8wvvvgnj6asjm7 , can you see the artifacts if you open that site with Chrome?

[2019-08-05 13:22] tmancey opened #5539 "Persist last run version of the browser before upgrade to help with migration paths"
Persist last run version of the browser before upgrade to help with migration paths, i.e. recently on Brave ads we had to detect if a user was upgrading from 0.62.x or older

[2019-08-05 13:32] rebron opened #5540 "Add link to 'Get more extensions' in Settings"
## Test plan
See https://github.com/brave/brave-core/pull/3166

## Description
Create a new line directly under Manage extensions in brave://settings/extensions to give users another access point to get extensions.

Should read:
Get more extensions
Open Web Store [with icon showing external link]

Link should point to:
https://chrome.google.com/webstore/category/extensions?hl=en

See below for an

[2019-08-05 13:35] rebron commented on #5212
@bradleyrichter Can we get an updated mock with Extensions pulled out from More Tools and proper re-ordering of Hamburger menu. Let's get it all sorted out with this issue.

[2019-08-05 13:36] LaurenWags commented on #5434
@tmancey please look at this scenario which failed from https://github.com/brave/brave-browser/issues/5434#issuecomment-517806000 as well, I don't think https://github.com/brave/brave-browser/issues/5531 covers it:

D. Using US region only:
1. **FAILED** 0.66.101 enable Rewards, Ads enabled by default. Upgrade —> 0.70.30 (copy profile from Release, rename to Nightly).
   * Ads are OFF after upgrad

[2019-08-05 13:46] LaurenWags commented on #4393
@binoyxj You're probably experiencing https://github.com/brave/brave-browser/issues/5229. there's a duplicate user handle and some extra text along with it.

[2019-08-05 13:47] LaurenWags commented on #5229
+1 from https://github.com/brave/brave-browser/issues/4393#issuecomment-517993213

[2019-08-05 14:25] tmancey commented on #5434
@LaurenWags I have tested the above with #5531 and now working as expected. I am awaiting approval so I can merge with nightly

[2019-08-05 14:50] GeetaSarvadnya commented on #4798
Verification passed on

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2658
![image](https://user-images.githubusercontent.com/38657976/62473449-62c11100-b7be-11e9-

[2019-08-05 15:08] #5531 closed

[2019-08-05 15:30] tmancey commented on #5153
Australian Ads are now in the release channel, please update to the latest version.

[2019-08-05 15:31] tmancey commented on #5153
We are working to add more countries, keep an eye on Reddit, GitHub etc. for latest updates

[2019-08-05 15:33] MRVDH commented on #5534
I've had exactly the same problem.

[2019-08-05 15:53] tmancey opened #5541 "User earns rewards while native macOS notifications are suppressed"
## Description

When notifications are disabled for the browser, ad notifications still register as having been displayed and the user is able to earn BAT in spite of never having seen a notification or ad.

## Steps to Reproduce

   1. Enable Brave Rewards and Ads
   2. Visit _System Preferences > Notifications_  in macOS Settings
   3. Disable notifications for Brave

## Actual result:

The brow

[2019-08-05 15:58] tmancey opened #5542 "User earns while native Brave Ads Linux notifications are suppressed"
## Description

When notifications are disabled for the browser, ad notifications still register as having been displayed and the user is able to earn BAT in spite of never having seen a notification or ad.

## Steps to Reproduce

   1. Enable Brave Rewards and Ads
   2. Visit _Preferences_  in Linux Settings
   3. Disable notifications for Brave

## Actual result:

The browser believes it is show

[2019-08-05 16:14] #5520 closed

[2019-08-05 16:16] bsclifton commented on #5525
Thanks for the report 😄 This is expected with recent changes we did

Publisher properties will only show as verified if the publisher has setup an Uphold account and gone through the verification process (the KYC/know your customer process). In this case, we didn't do that yet for brave.com (whoops!). I've notified the appropriate people who will get that sorted out 😄

[2019-08-05 16:16] #5525 closed

[2019-08-05 16:22] theDwiz01 commented on #3296
Same as all these guys are experiencing.  Following...

[2019-08-05 16:28] alexwykoff opened #5543 "Rewards : User Wallets - Verified wallet visual indicator is causing confusion versus verified publishers"
## Description
As noted internally, there is a visual conflict between the verified indicator for a user wallet versus the verified indicator for a publisher in the BAT panel.

## Steps to Reproduce

   1.  Verify your user wallet
   2.  Open the BAT panel

## Actual result:
<img width="396" alt="Screen Shot 2019-08-05 at 9 04 11 AM" src="https://user-images.githubusercontent.com/1434040/62479744-

[2019-08-05 17:00] binoyxj commented on #4393
Yup!

[2019-08-05 17:00] GeetaSarvadnya commented on #4475
Verification passed on

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verification passed on https://github.com/brave/brave-core/pull/2630

[2019-08-05 17:02] smartfonreddit commented on #5524
I was somehow able to consistently install the theme without errors by drag-and-dropping it into the Extensions page. The error only happens under certain circumstances.

[2019-08-05 17:13] btlechowski opened #5544 "twitter.com in Rewards Panel on a publisher page after tweeting about a tip"
## Steps to Reproduce

1. Claim grant
2. Open `https://www.reddit.com/user/jsadler-brave`
3. Tip the publisher
4. Tweet about the tip
5. On Twitter page open Brave Panel
6. Switch to the reddit page
7. Open Brave Panel
8. Wait 30 seconds

![5544](https://user-images.githubusercontent.com/34715963/62483176-5eddc080-b7b7-11e9-9022-be499b146f84.gif)

## Actual result:

twitter.com as publisher in Rew

[2019-08-05 17:37] btlechowski commented on #5544
Reproduced on a youtube publisher

![image](https://user-images.githubusercontent.com/34715963/62483558-428e5380-b7b8-11e9-87a8-b939fe961fef.png)

Reproduced on `https://www.3zsistemi.si/`

![image](https://user-images.githubusercontent.com/34715963/62483614-69e52080-b7b8-11e9-887d-6f8a010d0ab4.png)

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e1

[2019-08-05 17:52] TheRoarkster commented on #1032
This is still open, so I wanted to confirm it remains an issue Gnome -- in this case on Manjaro.  But the same problem exists:

1)  User cannot add "Brave" to the dock by right clicking because the option to "Add to Favorites" does not display (see [here](https://github.com/micheleg/dash-to-dock/issues/396) for similar issue);
2)  Adding Brave to dock (by dragging from Gnome "Show Applications" wo

[2019-08-05 17:53] LaurenWags commented on #4393
thanks for confirming @binoyxj !

[2019-08-05 17:55] LaurenWags commented on #5544
@btlechowski does this reproduce on 0.67.x also? (specifically, your comment here https://github.com/brave/brave-browser/issues/5544#issuecomment-518328560 since reddit tipping isn't in 0.67.x)

[2019-08-05 18:27] btlechowski commented on #5544
Reproduced on release

Brave | 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/62486386-6c974400-b7bf-11e9-90ec-8e054b95a48c.png)

[2019-08-05 18:28] GeetaSarvadnya commented on #4881
Verification passed on

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2680 (ballots are processed after 2 mins of auto contribution)

![image](https://user-images.

[2019-08-05 18:31] #5509 closed

[2019-08-05 18:34] LaurenWags commented on #5544
thanks for checking @btlechowski !

[2019-08-05 18:39] GeetaSarvadnya commented on #4748
Verification passed on

Brave | 0.68.116 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

- Verified the test plan from https://github.com/brave/brave-core/pull/2625

[2019-08-05 19:27] vdhanan commented on #1812
I noticed this issue has a `good first bug` label. Has it been resolved? If not, I would like to work on it.

[2019-08-05 19:34] btlechowski commented on #4590
Verification passed on

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/2539

![4590](https://user-images.githubusercontent.com/34715963/62490032-a91b6d80-b7c8-11e9-9d02-ce297d734eca.gif)

[2019-08-05 19:51] LaurenWags commented on #5483
Reproduced with macOS

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

[2019-08-05 19:52] LaurenWags commented on #5486
Reproduced with macOS

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

[2019-08-05 20:08] riastradh-brave commented on #3638
The proposed fix does not seem to fix it, so this is blocked until we have a Windows wizard to find a way to stop Windows from leaking things outside the browser.

[2019-08-05 20:44] LaurenWags commented on #3779
Verified passed on

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2575
* When media (YT, Netflix, rainymood.com) is playing on the non-active (blurred) tab and brave is in the foreground, I am able to ge

[2019-08-05 20:54] LaurenWags commented on #889
Verified passed with

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2564#issuecomment-497713476
![Screen Shot 2019-08-05 at 4 53 53 PM](https://user-images.githubusercontent.com/28145373/62494508-b376410

[2019-08-05 21:24] LaurenWags commented on #3094
Verified passed with

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2692 and STR from description
* Verified several languages:
![Screen Shot 2019-08-05 at 17 18 19](https://user-images.githubusercontent

[2019-08-05 22:01] LaurenWags commented on #3425
Verified passed with

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2709 and STR from description.
![Screen Shot 2019-08-05 at 17 58 42](https://user-images.githubusercontent.com/28145373/62497824-128c83

[2019-08-05 22:10] LaurenWags commented on #5273
Verified passed with

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified with clean profile:
![Screen Shot 2019-08-05 at 6 04 28 PM](https://user-images.githubusercontent.com/28145373/62498115-24baf180-b7ac-11e9-9d96-949d5e471671.png)
* Verified with upgraded prof

[2019-08-05 22:24] btlechowski opened #5546 "Follow up - Shields Panel and Rewards Panel are not translated to Norwegian on Windows"
Follow up to https://github.com/brave/brave-browser/issues/3425
Still reproducible on Windows. Works on MacOS.

## Steps to Reproduce

   1. Change Brave language to `Norwegian`
   2. Open Brave Shields
   3. Open Rewards Panel

## Actual result:

Shields panel is not translated
![image](https://user-images.githubusercontent.com/34715963/62498626-28686b80-b7e0-11e9-8e4f-1bca754c03ca.png)

Rewards

[2019-08-05 22:46] mandar-brave opened #5547 "Client needs to create private address for user wallets"
We should add private address to claim user funds call. If private address is not created we need to create it and hit claim api even if user funds is 0.

[2019-08-05 22:58] bradleyrichter commented on #5212
@rebron looks good

[2019-08-05 23:04] bradleyrichter commented on #5510
The UI control allows 0 but it seems to be ignored, ni both Brave and Chrome, on Mac OS at least.

![image](https://user-images.githubusercontent.com/13509546/62500103-efa5a380-b799-11e9-823d-02e7ccbcd5da.png)

@bsclifton we should allow zero (or 1 if required for a technical minimum)

[2019-08-05 23:55] ryanbr commented on #3348
With the new adblock in Brave Nightly, can we get that tested? does the ads show up there?

[2019-08-06 00:01] Brandon-T commented on #5497
@ryanbr

<img width="1440" alt="Screen Shot 2019-08-05 at 7 59 57 PM" src="https://user-images.githubusercontent.com/1530031/62502087-c8f86480-b7bb-11e9-83cf-c61948c6321c.png">

[2019-08-06 00:28] jamesray1 commented on #2362
Gmail notifications don't work for me despite allowing notifications:

![image](https://user-images.githubusercontent.com/16969914/62502856-e1589580-b834-11e9-9c9f-82d6cc04a374.png)

[2019-08-06 00:44] snowbound commented on #2362
Sad to say that over this past weekend I uninstalled Brave Beta as well as both of MS Chromium-based browsers which all suffer from this issue.

[2019-08-06 02:59] kjozwiak commented on #5524
@smartfonreddit would you be able to isolate a particular case where it doesn't work and update the original issue with more accurate steps? This way a developer will have an easier time reproducing and fixing the issue.

[2019-08-06 03:15] kjozwiak commented on #3253
@karenkliu can you check and see if it's working for you on Nightly?

[2019-08-06 03:31] mandar-brave opened #5548 "Issue with Ads Payments (August 5)"
## Description

There is an issue with collecting ads confirmations leaving the browser in some cases not being paid;

First issue: the browser currently only retries sending a failed confirmation per session

Second issue: potential for a race condition; poor interleaving of http responses and multiple confirmations due to network latency, etc may cause r the same token to be re-used for multiple

[2019-08-06 04:09] norsehealer commented on #5392
new development. When I drag a URL to the desktop and attempt to open it, it opens a page with the intended URL instead of going to the URL.

Click and Drag the URL to the desktop.
double click the shortcut on the desktop.
new tab (or window) appears as a .url extension.
contents state: Brave Not Set as Default for .URL (on the tab)
[code]

[2019-08-06 04:23] petemill commented on #5212
@bradleyrichter @rebron can I ask to confirm the ellipses (or lack of) in the mockup.

`Create a New Profile…` and `Open Guest Window` _(and `New X Window` for that matter)_ all do the same thing - open another window, so I'm not sure why _Create New Profile_ would be the only one ending with an ellipsis. Please could you explain?

[2019-08-06 04:58] rebron commented on #5212
I believe it means more options will be showing and more info will be needed whereas without the ellipses a user will be going to that thing and no other info is needed.

[2019-08-06 05:11] GeetaSarvadnya commented on #5330
+1 from community https://community.brave.com/t/download-page-doesnt-show-any-downloads/74008

[2019-08-06 05:27] sabbir360 commented on #4412
I think Chromium already have sync (History, Tabs, Bookmarks) which can be converted though this sync. stuff struggling from a long time. Have to be something quick to make it usable.

[2019-08-06 05:28] Curuphan commented on #1306
Oh. So the bookmarks bar disappeard because it was asked for. And i didn't know where did it gone.... Do i understand correctly if it will be switcheable on new tab? I liked the way it worked. When i opened a new tab, i could load a page from the bookmarks bar (especially from the bookmarks button on the right of the bookmarks bar) , but i don't need that bar on other tabs. But now, i can turn it

[2019-08-06 05:37] rebron commented on #1306
@Curuphan the fix for that is here https://github.com/brave/brave-browser/issues/4782.

There's a setting to always show bookmarks bar and the fact that setting didn't work on the new tab page was the problem. People who don't want to use bookmarks at all don't want to see the bookmarks bar anywhere and we should honor that setting which we did.

[2019-08-06 05:55] JoshuaCarter commented on #1306
@rebron That's fine, but many of us don't want it on all the time, yet still want easy access to it, which is what a 'new tab only bookmarks bar' gives. Also this is how it's works for me for years on Chrome anyway so I took it for granted that this was the intention. It needs to be 3 options: [on, off, new-tab]. This might be a non-issue if I could find a half-decent new-tab-bookmarks-bar extensi

[2019-08-06 08:13] fishmi commented on #5532
I have a similar problem:
After the update the following page doesn't render correctly (the box "Nützliches für den Alltag" is usually on the far right):
https://www.datev.de/fanshop/
In all other browsers, including the latest version of Chrome (Version 76.0.3809.87, 64-Bit), the page is displayed correctly.

[2019-08-06 10:06] rebron commented on #1306
@JoshuaCarter See here please: https://github.com/brave/brave-core/pull/2869
It provides a pref for the original behavior.

[2019-08-06 10:27] aapit commented on #4599
This error is still occurring in Brave on Linux.

Brave version: `0.67.123`
OS: `Ubuntu 19.04`

[2019-08-06 10:32] Riggie1000 commented on #5532
Yes, confirmed. "Kinder" also.

[2019-08-06 10:38] fishmi commented on #5532
Not "Kinder" but "Nützliches für die Kanzlei" (behind "Kinder")

[2019-08-06 11:26] JoshuaCarter commented on #1306
@rebron @simonhong Outstanding, many thanks.

[2019-08-06 11:56] Laruxo commented on #3952
I can confirm that I have the same issue.
Since `chrome.instanceID` requires `gcm` permissions, I guess this is related to https://github.com/brave/brave-browser/issues/1716

[2019-08-06 12:14] florisre commented on #5330
Reproduced in Version 0.67.123 Chromium: 76.0.3809.87 (Offizieller Build) (64-Bit) on Linux. Also, another user reports the same at community: https://community.brave.com/t/downloads-view-seems-to-be-broken-in-the-latest-dev-version/72838

[2019-08-06 12:31] LaurenWags commented on #3231
@karenkliu @tomlowenthal @simonhong @rebron

A couple of questions:

1. We don't seem to show this new message for some extensions (LastPass, Honey, Grammarly, etc). Is this ok? If so, is it necessary to have a full list of extensions which would be exempt from this message for QA to check?

2. When this new message displays, we're no longer showing the extension name in the message box, is this o

[2019-08-06 13:05] LaurenWags commented on #3807
Verified passed with

Brave | 0.68.119 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified able to play, pause, mute, fullscreen, etc a YT video when tab was in focus using expected keys (k, m, f, etc)
* Verified that when the YT tab was not in focus but Brave was, selecting these

[2019-08-06 13:07] FelschR commented on #2362
I, too, have reverted to Chrome/Chromium on my devices due to this issue.

Additionally I was also missing the Android app's lack of creating WebAPKs (https://github.com/brave/browser-android-tabs/issues/645) quite a bit.

[2019-08-06 14:08] LaurenWags opened #5549 "panel is broken for twitch - unable to tip twitch publishers"
## Description
This has happened before, see https://github.com/brave/brave-browser/issues/4680

When visiting a twitch channel and clicking on the BAT logo, the panel shows twitch.com, not the publisher information, so you are unable to tip twitch publishers.

## Steps to Reproduce

1. Clean profile with 0.67.x release or 0.68.x beta
2. Enable Rewards
3. Visit twitch channel page (ex. twitch.tv/b

[2019-08-06 14:11] btlechowski commented on #5549
Reproduced on Windows

Brave | 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 7 Service Pack 1 (Build 7601.24494)

https://www.twitch.tv/toyzttv

![image](https://user-images.githubusercontent.com/34715963/62546967-bdad4380-b864-11e9-8d83-18e1978beede.png)

[2019-08-06 14:21] LaurenWags commented on #5544
Reproduced on macOS also:

Brave | 0.68.119 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

[2019-08-06 14:24] emiljohansson opened #5550 "Unable to restore tabs after computer crashed"
## Description
My computer crashed and when I re-opened Brave, I selected the option to restore my tabs. When I selected it, nothing happened. I did try to use CMD+Shift+T to re-open them, but the list "Recently Closed" was empty.

I had a few windows, with a few tabs in each window.

## Steps to Reproduce

   1. Open the browser after a crash.
   2. Select to restore your tabs.

## Actual result:

[2019-08-06 15:15] LaurenWags opened #5551 "disabling content level tips for Reddit doesn't remove tip button from in-line menu until page refresh"
## Description
When you disable content-level tips for Twitter, after a few seconds the tip button is removed from the in-line menu. If you do this for Reddit, the tip button doesn't go away until you refresh the page.

## Steps to Reproduce

   1. Clean profile
   2. Enable Rewards
   3. Visit reddit
   4. See tip button in the in-line menu.
   5. Open brave://rewards in a new tab and disable con

[2019-08-06 15:36] siffreinsg commented on #3464
Still an issue in the new Twitter UI. It will ask for permission, however the "switch" (see screen) stays off and the animation seems broken.
![image](https://user-images.githubusercontent.com/25729768/62554021-b1c77e80-b870-11e9-8da5-5ad21de968f1.png)

[2019-08-06 16:17] petemill commented on #5212
@rebron sure, but in this case the user is not prompted for more information, the new profile simply opens. See the existing macOS system menu Profile - Add Profile option

[2019-08-06 16:25] rebron commented on #5212
@bradleyrichter We should remove the ellipsis in this case then and it should just be Create a New Profile.

[2019-08-06 16:29] rebron opened #5552 "reorder items in the App menu"
## Description
App menu should be ordered like the following:
- Brave Rewards
- History ->
- Bookmarks ->
- Downloads
- Crypto Wallets [new]
- Extensions [pulled out from More Tools sub-menu]
- Sync
- Brave Ad Block [for now and may move into Settings in the future]

## Design
<img width="754" alt="Screen Shot 2019-08-07 at 3 57 12 AM" src="https://user-images.githubusercontent.com/5951041/6256811

[2019-08-06 17:07] jrizz43 opened #5553 "No video playback on Mixer.com in brave browser"
## Description

When loading a channel on mixer.com (mixer.com/ninja for example) the video playback does not work. Still screen.

## Steps to Reproduce

   1. Go to mixer.com/ninja
   2. Issue is apparent
   3.

## Actual result:

No video playback

## Expected result:
Video stream playback

## Reproduces how often:

Every time

## Brave version (brave://version info)

Version 0.67.123 Chromium:

[2019-08-06 17:24] btlechowski commented on #5486
Reproduced on Ubuntu

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

[2019-08-06 17:26] btlechowski commented on #5483
Reproduced on Ubuntu

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

[2019-08-06 17:27] Brave-Matt commented on #4615
+1
https://www.reddit.com/r/brave_browser/comments/cmky9k/cannot_edit_the_users_avatar_name/

[2019-08-06 17:29] bsclifton opened #5554 "Upgrade from Chromium 76.0.3809.87 to Chromium 76.0.3809.100"
QA tests:

Check branding items
Check for version bump
Check installation/upgrade on Mac

[2019-08-06 17:33] kjozwiak opened #5555 "Release checklist for 0.67.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-08-06 17:45] LaurenWags commented on #4807
Verified passed with

Brave | 0.68.119 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

* Verified test plan from https://github.com/brave/brave-core/pull/2654
* Verified test plan for auto-contribute and auto-contribute+recurring monthly tips

[2019-08-06 17:56] emerick commented on #4361
Created the following tickets for the server work needed to support Android usage stats:

https://github.com/brave/vault-updater/issues/98
https://github.com/brave/stats/issues/357

[2019-08-06 17:59] karenkliu commented on #3253
@kjozwiak It works on the latest version of Nightly (Version 0.70.36 Chromium: 76.0.3809.87) after I click "Allow" on the Widevine dialogue.

[2019-08-06 18:10] #5212 closed

[2019-08-06 18:12] bsclifton commented on #2362
We are looking at a fix for this 😄 Stay tuned...

[2019-08-06 18:55] srirambv opened #5557 "Open profile manager causes entire browser UI to go dark"
## Description

Open profile manager causes entire browser UI to go dark

## Steps to Reproduce

   1. Upgrade to 0.70.34
   2. Set Brave colour to light, On Linux set theme to use classic
   3. Open Manage people from profile manager, entire webui goes Dark
   4. Close manage people and launch again, no change
Note: This only happens the first time you try after browser launch and is reproducible

[2019-08-06 19:04] rebron commented on #5552
For now, pull 'Extensions' out of sub-menu, use 'Extensions' label and place under Crypto Wallets per the screenshot.

[2019-08-06 19:07] tomlowenthal commented on #3231
@LaurenWags

1. Yes, there's a list of several extensions we've reviewed, and which shouldn't show this warning. I think @rebron owns that document.

2. No, that's a bug. The design spec up at the top shows the extension name by way of a header. That should be implemented.

[2019-08-06 19:12] tmancey commented on #5269
Closing issue as resolved by https://github.com/brave/brave-core/pull/3098

[2019-08-06 19:12] #5269 closed

[2019-08-06 19:46] markg85 opened #5558 "Top sites algorithm is broken"
Hi,

I'm using Brave version 0.67.123 on Arch Linux.

So here's the situation. There are a couple of sites i visit daily, say 5.
With daily i mean open it, spend there between 30 minutes till a few hours, depending on the content of the day.

Yet only one of them appears in the top 6 sites.

Now for the kicker, just the other day i spend a few hours on a wallpaper site to, well, find a new wallpap

[2019-08-06 20:11] tomlowenthal commented on #1004
This may already be resolved by work in Chrome.

[2019-08-06 20:12] tomlowenthal commented on #934
This is an option in the location portion of site-specific settings at `chrome://settings/content/location`.

[2019-08-06 20:12] #934 closed

[2019-08-06 20:13] tomlowenthal commented on #949
@jumde Can you confirm whether this is fixed?

[2019-08-06 20:19] tomlowenthal commented on #1733
@jumde Could you check whether this is already fixed?

[2019-08-06 20:20] #5341 closed

[2019-08-06 20:24] tomlowenthal commented on #2236
@jumde Could you check whether this issue is still open?

[2019-08-06 20:28] tomlowenthal commented on #2308
It seems like the next step is to run a crawl and identify the common libraries/files which are used most frequently across sites. That seems like a task for @snyderp?

[2019-08-06 20:34] karenkliu opened #5559 "Brave Ads still show when app are in full-screen mode"
## Description
Brave Rewards ads still show when watching a full-screen video on Youtube or VLC.

## Steps to Reproduce

   1. Go to youtube.com
   2. Select a video to watch
   3. Open full-screen mode

## Expected result:
Brave Rewards ads should not appear when apps are in full-screen mode.

## Reproduces how often:
Easily reproduced.

## Brave version (brave://version info)

Release Version 0.

[2019-08-06 20:36] tomlowenthal commented on #2471
Current approach is:
1. Make some small randomization tweaks to break concat-&-hash fingerprinting approaches.
2. Also file separate issues for all the fingerprinting vectors we need to fix.

[2019-08-06 20:38] tomlowenthal commented on #2655
@snyderp to audit and work out which things are okay and which need to be futzed with. [This issue is only to audit, actually fixing stuff will go in other issues.]

[2019-08-06 20:40] tomlowenthal commented on #2952
Plan of record: disable.

[2019-08-06 20:42] #5040 closed

[2019-08-06 20:50] LaurenWags commented on #5548
able to reproduce 400/404's using

Brave | 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

[2019-08-06 21:00] jumde commented on #2236
@tomlowenthal - This still repros on Brave and Chromium. We'll probably rely on an upstream patch for this so setting the estimate to `1`.

[2019-08-06 21:05] #5548 closed

[2019-08-06 21:16] yrliou opened #5561 "Offer to install Google Translate extension in translate bubble"
Repurpose translate UI to offer Google Translate extension installation as a translate solution that could work on all desktop channels.

[2019-08-06 21:18] jdkuki opened #5562 "Add Media Box to GitHub inline tipping banner"
## Description

When a tip button is clicked, it opens a dialog to tip the user. For Reddit and Twitter, a Media Box containing the post content is also in the banner. This should be added for GitHub.

cc @alexwykoff @jenn-rhim

## Steps to Reproduce

## Actual result:

![image](https://user-images.githubusercontent.com/8422122/62577243-62bf2080-b853-11e9-86ad-3ee8fb4d1020.png)
N/A

## Expected re

[2019-08-06 21:28] feross opened #5563 "WebTorrent should not store torrent data in memory"
## Description

WebTorrent seems to be keeping the entire torrent in memory as the file is downloaded. I can see the RAM usage of the "Brave Browser Helper" process increase along with the amount of the torrent that is downloaded, which should not happen. It appears that it is being initialized with the in-memory storage mode instead of the filesystem mode. This is because webpack is used to build

[2019-08-06 22:00] bbondy opened #5564 "In guest profile Background script is loaded twice for brave-extension and possibly other components"
In guest profile, and also in Tor mode, background scripts are loaded twice for brave-extension and possibly other components

Steps to reproduce:

1. Add a `console.log` into the top level of this file:
components/brave_extension/extension/brave_extension/background.ts

2. Compile

3. Run the browser

4. Open a guest profile.

5. Look at your terminal.

This causes event registration to happen tw

[2019-08-06 22:01] ignishub opened #5565 "Tor window by default"
Can we have that option please?

[2019-08-06 22:26] leshacat opened #5566 "Sync wallet balances"
## Description

I have Brave on Mobile, but the wallets function separately. They need to be the same wallet I want all my tokens accesible from desktop AND mobile.

## Steps to Reproduce

   1. Install brave on CPU
   2. Install brave on Mobile
   3. Receive ad rewards on both, but in separate wallets per device

## Actual result:

Wallet balances are not combined and accessible across all device

[2019-08-06 22:28] leshacat commented on #2645
I second this feature

[2019-08-06 22:30] phelix001 commented on #4672
bump

[2019-08-06 22:59] maniadevice commented on #1000
Flatpak has wider first-class support from a lot of distros. It would be great to have Brave on Flatpak and get Brave a wider audience, that it deserves. Please consider this.

[2019-08-06 23:25] #5350 closed

[2019-08-06 23:41] kjozwiak opened #5567 "Release checklist for 0.67.x Hotfix 2 (Release Channel"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-08-06 23:43] kjozwiak opened #5568 "Manual test run on OS X for 0.67.x - Release Hotfix 1"
## Per release specialty tests

- [x] Upgrade from Chromium 76.0.3809.87 to Chromium 76.0.3809.100 #5554

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signatu

[2019-08-06 23:43] kjozwiak opened #5569 "Manual test run on Windows x64 for 0.67.x - Release Hotfix 1"
## Per release specialty tests

- [x] Upgrade from Chromium 76.0.3809.87 to Chromium 76.0.3809.100 #5554

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signatu

[2019-08-06 23:43] kjozwiak opened #5570 "Manual test run on Linux for 0.67.x - Release Hotfix 1"
## Per release specialty tests

- [x] Upgrade from Chromium 76.0.3809.87 to Chromium 76.0.3809.100 #5554

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signatu

[2019-08-07 01:02] simonhong commented on #5557
Same issue with https://github.com/brave/brave-browser/issues/5373.

[2019-08-07 02:11] rebron commented on #2339
@diracdeltas Let us know if this is still happening. We had the 67.x update last week and doing another update soon so have a chance to test another time or two.

[2019-08-07 02:21] feross commented on #5490
Making progress. Almost done with this effort.

Before:

[code]

After:

[code]

[2019-08-07 02:24] rebron commented on #3231
@LaurenWags Should we keep this one closed and file a new issue for the extension name in header?
I'll get you the list of extensions where this warning isn't supposed to show up.

[2019-08-07 03:13] kjozwiak commented on #5566
@leshacat thank you for the suggestion 👍Having Brave sync different type of Brave Rewards information on multiple devices is on the roadmap but there's currently no hard set date.

However, with user wallets being released in `0.69.x` (September 10, 2019) and eventually making it into android, you'll be able to use an uphold account on multiple devices so you'll be able to share your BAT across de

[2019-08-07 03:13] #5566 closed

[2019-08-07 03:15] kjozwiak commented on #5565
@tomlowenthal do you know if we have an issue filed regarding having an option to make Tor default?

[2019-08-07 03:42] kjozwiak commented on #4074
Awesome, thanks for double checking! Really appreciate it 👍

[2019-08-07 03:47] kjozwiak commented on #3253
@bsclifton @rebron seems like this was most likely fixed via https://github.com/brave/brave-browser/issues/4793?

@karenkliu would you be able to check the latest `0.68.x` from https://github.com/brave/brave-browser/releases/ as well? I can't reproduce the original issue or I would have checked 👍

[2019-08-07 03:49] guanzo commented on #5490
Could you also update `stream-to-blob-url`? It still depends on `"stream-to-blob": "^1.0.0"`

[2019-08-07 04:14] kjozwiak commented on #1105
Verification **PASSED** on `macOS 10.14.5 x64` using the following builds:

Brave | 0.70.43 Chromium: 76.0.3809.87 (Official Build) nightly (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Mac OS X

<img width="165" alt="Screen Shot 2019-08-07 at 12 05 45 AM" src="https://user-images.githubusercontent.com/2602313/62594208-a5124d00-b8a7-11e9-9e

[2019-08-07 05:15] #5554 closed

[2019-08-07 05:50] bsclifton commented on #4816
Assigning to 0.70.x milestone as this was merged with https://github.com/brave/brave-core/pull/2998

[2019-08-07 06:00] kjozwiak commented on #944
@bbondy just a quick double check regarding the case under https://github.com/brave/brave-browser/issues/944#issue-356800725. When you rename `Brave Browser Nightly Framework.sig`, you need to restart the browser or the content will keep playing even though the file was renamed. Assuming this is expected as the `Brave Browser Nightly Framework.sig` was already being used when initially launching t

[2019-08-07 06:03] kjozwiak commented on #4430
@FuckMicr0soft, are you still experiencing the above issue? Maybe it was fixed in one of the Chromium bumps since originally reported?

[2019-08-07 06:14] infoxvvids commented on #5525
It seems not true, at lest for me. I have a Verified Uphold account AND only some of my Channel Are "Not Yet Verified" since 1 August in the Brave panel
For instance xanyvids.net is Verified (on Brave Release and Brave Dev) Twitter account Maharetrh_73 is Verified on Brave Release but Not Yet verified on Brave Dev and so on
Cheers
Daniela

[2019-08-07 07:27] kjozwiak commented on #1064
@bsclifton seems like a dupe of #3253 as @karenkliu pointed out above?

[2019-08-07 09:53] iefremov commented on #4396
`AdblockIntercetor` is now `MakeStubResponse` in `adblock_stub_response.h`

[2019-08-07 09:56] iefremov opened #5574 "Refactor BraveRequestHandler"
`BraveRequestHandler` inherited its architecture from `BraveNetworkDelegate` - with different sorts of callbacks that are stored in different containers. We should unify all callbacks, put them into a single container and iterate over it.

[2019-08-07 12:11] FuckMicr0soft commented on #4430
Hi all, chromium itself was never effected. I can not reproduce on Intel GPUs , the only one I have right now... I'd like to wait until I have access to my main PC with Nvidia descrete GPU again.

[2019-08-07 12:30] tiagosiebler commented on #5095
I'll try to test that, though this has been happening for weeks (and a few Brave updates happened in the meantime), or was your set of bug fixes pushed in the last few days?

I'm looking for patterns each time this system freeze happens, so far:

This showed in the system.log shortly before a freeze, lasted roughly 1 minute (no messages for 1 minute after this):
[code]

Also noticed:
- if I open a

[2019-08-07 12:36] LaurenWags opened #5575 "Extension name not in dialog box - follow up to 3231"
## Description
Found while testing #3231

When trying to add an extension, the extension name isn't in the dialog box:
![google](https://user-images.githubusercontent.com/28145373/62623086-f5ac9900-b8ed-11e9-97cd-adac90b661e5.png)

## Steps to Reproduce

   1. Go to https://chrome.google.com/webstore/category/extensions
   2. Click on any extension (I used Google Translate - https://chrome.google.

[2019-08-07 12:36] LaurenWags commented on #3231
@rebron yep - that's the correct process. I'll close this one again and have logged https://github.com/brave/brave-browser/issues/5575. Please take a look at the new issue - I added all the same labels as this (including priority) - which may need to be adjusted.

[2019-08-07 12:36] #3231 closed

[2019-08-07 12:40] ryanbr commented on #5497
Re-tested it in Brave Release, (thanks Jimmy for the login).

https://secure.fanboy.co.nz/gif/udemy.gif

Seems to work

[2019-08-07 12:44] LaurenWags commented on #5554
Verified passed with

Brave | 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

![Screen Shot 2019-08-07 at 8 43 51 AM](https://user-images.githubusercontent.com/28145373/62623700-82a42200-b8ef-11e9-8022-99b7e239e1f7.png)

[2019-08-07 12:46] ryanbr commented on #5497
I did notice 3rd-party device recognition being hit, does allowing all devices help?

[2019-08-07 13:20] AlexeyBarabash commented on #3190
I can verify fix works on Nightly (0.70.34).

 @GeetaSarvadnya @kjozwiak @srirambv @rebron - should the fix for this issue be uplifted to beta/dev/stable?

[2019-08-07 13:29] srirambv commented on #5533
Reproduced on Windows. Not an issue on Linux

[2019-08-07 13:51] willemavjc opened #5576 "Add a "Disable autoupdate" feature."
## Description
Brave is really nice web browser. I truly think it is. But these days, it rather tends to become a bummer due to a simple thing on which a part of the community is divided and some key people are a bit stubborn: **"Disabling autoupdate"**.

This follows up several issues on the same subject which were all closed, and so I believe it will happen for this one but I still think this is

[2019-08-07 14:14] #4361 closed

[2019-08-07 14:36] AlexeyBarabash commented on #5356
Verified it works on Nightly (0.70.34).
The initially specified STR are not correct, because send records happens after successfull resolve and when network connection is turned off then send never happens.
Updates STR.

[2019-08-07 14:37] AlexeyBarabash commented on #5356
@GeetaSarvadnya @kjozwiak @srirambv @rebron - should the fix for this issue be uplifted to beta/dev/stable?

[2019-08-07 15:50] LaurenWags commented on #5568
Results were as expected using

Brave | 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

[2019-08-07 15:50] #5568 closed

[2019-08-07 15:56] #5518 closed

[2019-08-07 16:07] tmancey commented on #4221
Hi, if you could check out https://wiki.debian.org/ChangeLanguage and let us know if this resolves the issue you are experiencing

[2019-08-07 16:17] LaurenWags opened #5577 "Release notes for 0.67.x Hotfix 1 (Release Channel)"
Release Notes

 - Upgrade from Chromium 76.0.3809.87 to Chromium 76.0.3809.100.([#5554](https://github.com/brave/brave-browser/issues/5554))

[2019-08-07 16:22] jsecretan opened #5578 "Text incorrect during ad earning claim process"
## Description
When claiming ad earnings for the month, the text is the grant text, and should instead be text around claiming ad earnings.

## Steps to Reproduce

   1. Setup ad earnings to be claimed
   2. Click notification to claim those earnings

## Actual result:
![Screen Shot 2019-08-07 at 12 10 24 PM](https://user-images.githubusercontent.com/382109/62639457-8ba3ec00-b90d-11e9-8432-a9a2a1f

[2019-08-07 16:25] mandar-brave commented on #5578
Seems like a deja-vu!..
Your Ads Reward is on its way!

[2019-08-07 16:33] onmyouji commented on #5330
Reproduced in 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit) on Windows 10

[2019-08-07 16:40] #5577 closed

[2019-08-07 17:09] poikilos commented on #5550
- I had commented on a similar issue but couldn't find it. I've been having the issue too, about 1/30 times I run Brave. I usually have Brave open all day (1 session per day approximately). I finally got it to happen after enabling crash reports:

- But Brave uploads the report to chromium.org instead of brave: <https://bugs.chromium.org/p/chromium/issues/detail?id=990636#c1>
- ~/.config/chromium/

[2019-08-07 17:27] cnst commented on #5576
BTW, I did stop using and promoting Brave since Issue 1877 was not taken seriously.  I guess it's been two years and counting now!  I go to lots of events, meetups and speak at conferences, and used to always promote Brave as an alternative browser — no more!

[2019-08-07 18:03] feross commented on #5490
@guanzo Done. Released `stream-to-blob-url@3`.

[2019-08-07 18:03] tomlowenthal commented on #3092
Closed in favor of #2105.

[2019-08-07 18:03] #3092 closed

[2019-08-07 18:03] tomlowenthal commented on #5565
Dupe of #1457.

[2019-08-07 18:03] #5565 closed

[2019-08-07 18:06] tomlowenthal commented on #1457
Related: #2105.

[2019-08-07 18:07] btlechowski commented on #5570
Verification passed on

Brave | 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

[2019-08-07 18:07] #5570 closed

[2019-08-07 18:15] feross commented on #5489
Once we bump the version of `webtorrent`, this issue will be fixed.

[2019-08-07 18:20] #5569 closed

[2019-08-07 18:30] LaurenWags opened #5580 "twitter banner/tipping mismatch issues"
## Description
Sometimes when tipping a Twitter user, there is a mismatch of information on the tip banner, the thank you banner, and if applicable, pending contributions (potentially tips panel as well).

## Steps to Reproduce

1. Clean profile.
2. Enable Rewards. Fund wallet or restore a wallet. (I didn’t use KYC’d wallet here, using anon wallet.)
3. Login to Twitter.
4. Navigate to a user’s twi

[2019-08-07 18:51] arman-ku commented on #3253
I just ran into the exact same issue.
For me, enabling/allowing Trackers fixes the issue.
Seems like this is not an issue with Brave itself.

0.67.123 Chromium: 76.0.3809.87

[2019-08-07 19:07] yrliou opened #5581 "Upgrade WebTorrent forks"
Upgrade
- https://github.com/brave/webtorrent to v0.107.0
- https://github.com/brave/bittorrent-tracker to v9.13.0
- https://github.com/brave/torrent-discovery to v9.1.2

[2019-08-07 19:28] Brave-Matt commented on #4649
A few +1s from Reddit:
https://www.reddit.com/r/brave_browser/comments/cn1pvu/suggestion_hide_the_tip_button_on_social_media/

[2019-08-07 19:44] #4461 closed

[2019-08-07 19:44] #5357 closed

[2019-08-07 19:57] #5555 closed

[2019-08-07 20:03] jumde commented on #1733
Not fixed yet, there are a couple of features using this service. Setting the estimate to `3` to make sure disabling this service does not cause any web-compat concerns.

[2019-08-07 20:26] davidtemkin opened #5582 "Set default shields mode depending on whether it is a new or existing Brave user"
## Test plan
See https://github.com/brave/brave-core/pull/3154

## Description
In recent versions of Brave, there is a new "simple" shields view, as well an "advanced" view. The "advanced" view is very similar to the pre-existing single-view version.

In light of that:

* Existing Brave users should receive the advanced view by default.

* New Brave users should see the simple view by default (and

[2019-08-07 20:27] jumde opened #5583 "Fix build error with brave_stp_enabled"
Setting `brave_stp_enabled: true` in lib/config.js causes a build error

[code]

[2019-08-07 20:41] btlechowski commented on #5575
Reproduced on Ubuntu

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/62656367-4eb71400-b964-11e9-864c-ff30088f0140.png)

[2019-08-07 20:41] LaurenWags opened #5584 "Manual test run on OS X for 0.67.x Hotfix 2 (Release Channel)"
### Per release specialty tests
 - [x] Issue with Ads Payments (August 5) #5548

### Brave Ads

- [x] Verify when you enable Rewards from panel or brave://rewards, Ads are enabled by default
- [x] Verify Ads UI (panel, settings, etc) shows when in a region with Ads support
- [x] Verify Ads UI (panel, settings, etc) does not show when in a region without Ads support. Verify the Ads panel does show

[2019-08-07 20:41] LaurenWags opened #5585 "Manual test run on Windows for 0.67.x Hotfix 2 (Release Channel)"
### Per release specialty tests
 - [x] Issue with Ads Payments (August 5) #5548

### Brave Ads

- [x] Verify when you enable Rewards from panel or brave://rewards, Ads are enabled by default
- [x] Verify Ads UI (panel, settings, etc) shows when in a region with Ads support
- [x] Verify Ads UI (panel, settings, etc) does not show when in a region without Ads support. Verify the Ads panel does show

[2019-08-07 20:41] LaurenWags opened #5586 "Manual test run on Linux for 0.67.x Hotfix 2 (Release Channel)"
### Per release specialty tests
 - [x] Issue with Ads Payments (August 5) #5548

### Brave Ads

- [x] Verify when you enable Rewards from panel or brave://rewards, Ads are enabled by default
- [x] Verify Ads UI (panel, settings, etc) shows when in a region with Ads support
- [x] Verify Ads UI (panel, settings, etc) does not show when in a region without Ads support. Verify the Ads panel does show

[2019-08-07 20:45] btlechowski commented on #3231
Verification passed on

Brave | 0.68.118 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

Reproduced https://github.com/brave/brave-browser/issues/5575

![image](https://user-images.githubusercontent.com/34715963/62656367-4eb71400-b964-11e9-864c-ff30088f0140.png)

[2019-08-07 20:56] btlechowski commented on #2192
Verification passed on

Brave | 0.68.119 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

Verified steps from the description

![image](https://user-images.githubusercontent.com/34715963/62657307-7ad39480-b966-11e9-9dcd-1190790c12bb.png)

[2019-08-07 21:32] btlechowski commented on #4231
Verification passed on

Brave | 0.68.119 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/2570
![image](https://user-images.githubusercontent.com/34715963/62659401-8d9c9800-b96b-11e9-9969-3edd13623961.png)

[2019-08-07 21:44] geekdiop commented on #2362
still waiting since March

[2019-08-07 23:16] feross commented on #5402
I implemented the design in HTML + CSS ✨ It looks great!

![Screen Shot 2019-08-07 at 4 10 59 PM](https://user-images.githubusercontent.com/121766/62663992-9f137f00-b92e-11e9-9916-be7832b69a46.png)
![Screen Shot 2019-08-07 at 4 10 47 PM](https://user-images.githubusercontent.com/121766/62663993-9f137f00-b92e-11e9-8551-56b0fda20413.png)

[2019-08-07 23:59] snyderp commented on #2655
Takeaways
---
- We should remove Network Connection API completely
- probably remove / fix .deviceMemory value
- bin or fix .hardwareConcurrency
- remove .keyboard
- bin maxTouchPoints (max 3?)
- require permission to access .mediaDevices (window.navigator.mediaDevices.enumerateDevices().then(console.log)) <- un-permissioned hardware leak)

caution items (no obvious harm, but likely little benefit

[2019-08-08 00:00] snyderp commented on #2655
@tomlowenthal audit is above, there are several "yikes we should not ship that!" stuff i found.  Leave this issue open to address?  Create new issues for each one and close this one?  Wait for next privacyconfab to discuss?

[2019-08-08 01:46] feross opened #5587 "Brave should depend on upstream WebTorrent; Create de-facto "chromeapp" field in package.json spec"
To resolve #856 and obviate the need for Brave to use a WebTorrent fork, I'm attempting to make a defacto standard for specifying Chrome App dependency substitutions using the `"chromeapp"` field in `package.json`.

The `"chromeapp"` field is just like the [`"browser"` field in `package.json`](https://github.com/defunctzombie/package-browser-field-spec) except it's intended for Chrome Apps instead

[2019-08-08 02:17] kjozwiak commented on #3190
@AlexeyBarabash looks like `5e293e8` landed right after `0.70.23` [1] which might explain why it didn't work on `0.70.22`? I'm a bit hesitant uplifting something that didn't work one `0.70.22` and then worked on `0.70.34`.

* [1] https://github.com/brave/brave-core/commits/master?after=7abb49bdb59ccb4e741f6b9f2f90d50f1ed3de9f+69

[2019-08-08 05:54] mandar-brave opened #5588 "Issue: wallet not showing verified when verified wallet connected"
see image ---
![image](https://user-images.githubusercontent.com/35932307/62678297-f84ad500-b965-11e9-97be-676c3f673fb5.png)

STR:
1) try connecting one Uphold wallet and connect it (used an unverified wallet)
1) BR wallet panel shows verify wallet (this is OK)
3) Logout of that wallet from the Uphold site
4) try verifying wallet - this time use a verified wallet
5) Redirect never comes back to th

[2019-08-08 05:58] mandar-brave opened #5589 "Issue: Tipping is not working correct on latest builds (with V2 API release)"
On nightly V70.34, tipping is not working

fees from user wallet -> settlement wallet seem to be transaction
actual tip from user wallet -> creator wallet is breaking

Need to be fixed by 0.69.x

@NejcZdovc

[2019-08-08 06:00] mandar-brave opened #5590 "Tip Panel seems inconsistent or broken"
see image ----
![image](https://user-images.githubusercontent.com/35932307/62678644-e87fc080-b966-11e9-82c4-28ee35b6ce3b.png)

Went to a YT video (did this with multiple videos) and tried to tip; two issues
a) the Tip Panel verified status is not reflecting correctly (might be a server issue)
b) big issue is BR panel does not show for a lot of YT channels (intermittent only)

@NejcZdovc -- 0.69.x

[2019-08-08 06:52] bsclifton opened #5591 "Ads are showing when user is engaging with browser (typing, etc)"
## Description
The Ads system notification might be shown to users while they are on a given page typing into an input box, etc. It may also be showing if they are interacting with the browser chrome (dragging window, trying to close window, etc)

I typically get the notifications shown when the browser is brought back into focus after being blurred. It's possible the user is using keyboard shortc

[2019-08-08 06:55] mandar-brave commented on #5591
@tmancey can you test if you have a windows machine handy -- not sure if something broke or the delegate to the system notification engine is delayed. We can make it a P2 once you return on the findings.

[2019-08-08 06:59] mandar-brave commented on #5588
This is on nightly V70.34
Not reproducing on latest developer V69.100

[2019-08-08 07:01] mandar-brave commented on #5590
This is on nightly V70.34
Not reproducing on latest developer V69.100

[2019-08-08 07:03] iefremov opened #5592 "Enable dcheck_always_on for CI and developer release builds"
It seems that at the moment we do not enable DCHECKs on CI builds - we can miss a lot of potential crashes and bugs because of this. So we should always enable DCHECKs for everything that is not shipped to the end users.

[2019-08-08 07:05] iefremov commented on #5592
Also its worth to enable `is_component_build` for all dev / CI builds, since many engineers get stuck when trying to work with Release locally.

[2019-08-08 07:07] iefremov commented on #5592
https://github.com/brave/brave-browser/blob/master/lib/config.js#L104

[2019-08-08 07:33] anoop-ananthan commented on #1274
Same issue here :disappointed:

[2019-08-08 07:39] mandar-brave commented on #5589
Closing: issue was related to self-tipping scope!

[2019-08-08 07:39] #5589 closed

[2019-08-08 07:55] kjozwiak commented on #5580
Reproduced this several on `macOS 10.14.5 x64` using the following build:

Brave | 0.70.46 Chromium: 76.0.3809.100 (Official Build) nightly (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

<img width="1353" alt="Screen Shot 2019-08-08 at 3 46 49 AM" src="https://user-images.githubusercontent.com/2602313/62685149-14fc0280-b990-11e9-80

[2019-08-08 07:56] SamCousinsGB opened #5593 "TOR Advertisment Fingerprinting"
FPJSPro has a demo on their website that manages to successfully fingerprint my machine using a brave browser, even across separate windows using tor.

## Steps to Reproduce

   1.  Open https://fpjs.io/ in a normal window
   2.  Click "run the demo"
   3.  Note the id.
   4.  Open https://fpjs.io/ in a TOR window
   5.  Note the id.

## Actual result:
The fingerprint id is the same across instanc

[2019-08-08 08:16] AlexeyBarabash commented on #3190
@kjozwiak
Yes, I also re-checked the commits history, the fix hadn't work in `0.70.22` because it was landed right after `0.70.23`.
![image](https://user-images.githubusercontent.com/24739341/62686474-78585580-b9cd-11e9-822b-5b6aebdaab67.png)

When I wrote the message about `0.70.22` I hadn't recheck that, and just installed the latest update for Nightly.

So @brave/uplift-approvers could you plea

[2019-08-08 08:17] mandar-brave opened #5594 "Self tipping should not take Brave 5% fee"
For user wallets, self tipping is not permitted!
However, while self tipping fails, Brave ledger collects a 5% fee. This fee should not be deducted.

@NejcZdovc

[2019-08-08 08:35] DoubleYouGTT commented on #3718
Want to add that this is is still occurring, also with me.

[2019-08-08 08:59] orish1 commented on #354
I've had the same issue with Chrome (and now Brave, thinking at least another developer would have addressed it).

I'm constantly deleting things by mistake because the default shortcut for adding a bookmark is Ctrl+D. What's worrying is that I sometimes don't even know what I've deleted because another window might be active. So when the bookmark dialog doesn't show up, I press Ctrl+D a few more

[2019-08-08 09:22] cbrunnkvist commented on #5534
I had "Oops, something is wrong." _after_ completing the human (-promise! 🤖) challenge, but _before_ upgrading to the latest version.

Now _after_ upgrading to **0.67.124**, the alert is back saying "you have a grant waiting" but _nothing_ visible happens when I click the "Claim" button.

[2019-08-08 10:04] sbrekelmans commented on #3033
I used to have this bug but it seems to be fixed in build 0.67.

[2019-08-08 10:28] tmancey opened #5595 "Intermittent assertion when viewing You Tube videos full screen"
## Description

Intermittent assertion when viewing You Tube videos full screen

## Steps to Reproduce

   1. View video on You Tube
   2. Enter full screen mode

## Actual result:

Assertion is thrown

## Expected result:
Assertion should not be thrown

## Reproduces how often:

Intermittent issue

## Brave version (brave://version info)

0.70.45 development build

## Version/Channel Information:

[2019-08-08 11:03] DanielPintilei opened #5596 "Fix Twitter tip button vertical alignment"
## Description
Twitter tip button is misaligned vertically.

## Actual result:
![135316](https://user-images.githubusercontent.com/9828983/62698220-46eb8400-b9e5-11e9-919d-3d0d5537c4f0.jpg)

## Reproduces how often:
No steps to reproduce

## Brave version (brave://version info)
Brave | 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-re

[2019-08-08 11:20] jonathonf commented on #3420
You refer to a mailing list post from 2017. What are the/any/some **current** security concerns with the feature?

[2019-08-08 11:24] Huitziii commented on #4536
I am meeting the same issue.

1. It's not always possible to have all devices online when adding bookmarks. For example in the case of a dual-boot computer. I often want to switch OS but "transfer" bookmarks the same way @marc1uk explained.

2. Even when devices are online, sync is not instant at all. I'm currently trying to "transfer" bookmarks, and I can see on my phone that the bookmark folder

[2019-08-08 11:32] NejcZdovc commented on #5588
logout on uphold will not disconnect wallet

[2019-08-08 11:54] tmancey commented on #5090
Closing issue as resolved by https://github.com/brave/brave-browser/issues/5029

[2019-08-08 12:12] tmancey commented on #5591
@mandar-brave This is due to the browser becoming un-idle when the app is brought to the foreground or user input is detected. Would you like me to investigate removing key stroke detection for idle/un-idle events?

[2019-08-08 12:32] Laurence02 commented on #5330
Reproduced in Version 0.68.121 Chromium: 76.0.3809.100 (Official Build) beta (64-bit), on Windows 8.1.

[2019-08-08 12:45] srirambv commented on #1000
cc: @rebron  @bsclifton  to add a priority to this

[2019-08-08 12:53] tmancey commented on #5559
@srirambv As discussed I cannot reproduce, could you please update ticket with your findings too. Also @karenkliu if we could arrange a screen share if the issue re-occurs so we can diagnose the problem

[2019-08-08 12:57] tmancey commented on #5029
#5090

[2019-08-08 12:58] tmancey commented on #5090
Fixed by #5029

[2019-08-08 12:58] srirambv opened #5597 "Update Windows installer similar to what muon had"
## Description

Similar to  #1105, Windows installer should be updated as well since Windows is our biggest user base as compared to the other two platforms.

## Steps to Reproduce

   1. Download Brave setup from brave.com/download
   2. See the 16bit pixelated setup installer icon
   3. Close your eyes and run the setup so as to not to see the boring Chromium installer window

## Actual result:

[2019-08-08 13:17] eljuno commented on #1374
+1 from Community https://community.brave.com/t/how-do-i-take-a-partial-screenshot-of-a-webpage-like-firefox-has/74335?u=eljuno

[2019-08-08 13:35] srirambv commented on #5576
@cnst The updater link seems to be working. Could have been a momentary glitch
[code]

@brave/design we should probably consider implementing a Vivaldi style update prompt when a new version is made available.
![image](https://user-images.githubusercontent.com/17010094/62707481-6f608780-b9bf-11e9-86df-b56acc20dfcb.png)

cc: @tomlowenthal

[2019-08-08 13:57] srirambv commented on #1274
This works fine on Ubuntu. Making it default in settings sets it as system default browser. Issue could be specific to Arch Linux as we don't have an official package there. @cg505 I believe you run Arch Linux as well. Could you double-check this and log a new issue for it and mark it as Arch specific?

[2019-08-08 14:05] srirambv commented on #5559
I am not seeing any ads when I have YT playing video in focused tab. No ads were shown when video was playing in full screen or as a standard player.

[2019-08-08 15:12] hisergiorojas opened #5598 "Feature Request: Block email tracking"
## Description

I would like to see built in feature which show the email that are tracking and I want to block their tracking.
There are chrome extension but only works for gmail.
https://uglyemail.com/

## Expected result:
When I use a login in any email provider I want browser to show and block tracking.

[2019-08-08 15:28] LaurenWags opened #5599 "503 response does not add confirmation to queue"
## Description
If you get a 503 response to `OnCreateConfirmation` the confirmation is not created and therefore is not put in the queue for retries.

## Steps to Reproduce

Unsure

## Actual result:
See in the logs:

[code]

## Expected result:
no 503s, or if 503 does happen, put confirmation in failed queue for retries

## Reproduces how often:
unsure

## Brave version (brave://version info)

Br

[2019-08-08 15:44] mbacchi opened #5600 "Remove rpm/deb file during linux signing if already exists in repo directory"
The [current script](https://github.com/brave/brave-core/blob/master/script/sign_upload_linux_pkgs.py#L232-L235) renames a file if found in the repository, but we don't want to publish the repository with files that aren't properly named. We should remove them instead.

[2019-08-08 16:09] #5600 closed

[2019-08-08 16:32] #5091 closed

[2019-08-08 16:48] #5599 closed

[2019-08-08 16:53] Miyayes commented on #5549
+1 https://www.reddit.com/r/BATProject/comments/cnoa8c/twitch_account_not_showing_as_verified/

[2019-08-08 17:08] Brave-Matt commented on #5533
I have a whole host of users across all OS saying that this is the case for them -- can also reproduce myself on Windows:
**Reddit thread:**
https://www.reddit.com/r/brave_browser/comments/cn5gyt/macos_and_windows_issue_downloads_cutoff_by/

**On my Win10 machine:**
![image](https://user-images.githubusercontent.com/3299098/62722938-5efedb80-b9c4-11e9-994a-9659e3dbfca9.png)

[2019-08-08 19:55] cg505 commented on #1274
This is definitely broken on Arch. I'll see if I can take a look.

[2019-08-08 19:57] cg505 commented on #1274
This is caused by a packaging error on the Arch side of things. I'll let the maintainers know.

[2019-08-08 20:42] anthonypkeane opened #5601 "Pull in Japan localization"
## Description

Please pull in the Japan localization from transifex which was recently updated

[2019-08-08 22:28] tomlowenthal commented on #2655
@pes IMO open separate issues for each item which needs individual treatment above and mention this issue so they're listed here. If those issues cover everything in this audit, then I'll convert this into an epic to cover all that work.

[2019-08-08 22:41] tomlowenthal commented on #5576
Hello, automatic updates are a core part of our commitment to security. Delaying them is always a risk. We're not going to add a feature to disable automatic updates.

I'm interested in other concerns about the automatic update process. Your Brave process shouldn't be killed when there's an update: it should be silently updated in the background, and the next time you launch Brave, it should be th

[2019-08-08 22:41] #5576 closed

[2019-08-08 23:07] btlechowski commented on #5516
Still reproducible

Brave | 0.68.120 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Ubuntu 18.04 LTS

Uploaded Crash Report ID fa3223c63ab8d96c (Local Context: Brave)
Crash report uploaded on Friday, August 9, 2019 at 1:05:16 AM

[2019-08-08 23:37] jdkuki commented on #5580
Not able to recreate on

Brave | 0.70.9 Chromium: 76.0.3809.72 (Developer Build) (64-bit)
-- | --
Revision | 5a04c669126f657f98824b436555cae41b8f4146-refs/branch-heads/3809@{#897}
OS | Ubuntu 19.10

I have a feeling this is because my linux build is too slow and problem is most likely race condition from `tabs_api` setting state via `getProfileUrl`.

Is issue reproduced if 10-15s of wait time is h

[2019-08-09 00:20] kjozwiak commented on #5580
I reproduced one of the cases several times using the following STR @jdkuki:

* launch `0.70.49 Chromium: 76.0.3809.100` (should be creating a brand new profile)
* under the tab that has the welcome page opened, click on the BAT icon --> `Join Rewards`
* load http://twitter.com and login
* once the page loads, quickly type `mandar` under `Search Twitter` on the top right
* click on `mandar` via th

[2019-08-09 00:26] emerick commented on #5580
@jdkuki Definitely make sure you're signed in on Twitter, as I suspect this problem is tied to new Twitter and you have to be signed in to get that.

[2019-08-09 00:30] ryanml opened #5602 "Add tipping support for Unsplash.com"
You should be able to tip directly to a content creator such as https://unsplash.com/@harleydavidson/ on unsplash

[2019-08-09 01:13] emerick commented on #5580
@NejcZdovc @jdkuki I think there's a disconnect when we're saving the publisher info so that we end up with the media key pointing to the wrong user ID. I noticed that there are two ways to call `SavePublisherInfo` in `twitter.cc`. One happens when you tip and one happens when you visit a Twitter URL. In the first case we have the screen name and user ID available to us and it all works as you'd e

[2019-08-09 01:30] btlechowski opened #5603 "Social media blocking does not work"
## Steps to Reproduce

1. Clean install
2. Go to `brave://settings/socialBlocking`
3. Disable all `Allows ...`
4. Go to `https://fmarier.github.io/brave-testing/social-widgets.html`

## Actual result:

Social media content is not blocked
![image](https://user-images.githubusercontent.com/34715963/62747546-3ffc5a00-ba55-11e9-879a-3c2516681443.png)

## Expected result:
Social media content is blocke

[2019-08-09 02:23] jdkuki commented on #5580
Was not able to reproduce exactly but have this issue:

1. Clean profile
2. Open twitter / login
3. Go to any profile page
4. Click BAT Panel icon (do not click inline tip button)
5. BAT Panel will be blank

Looks like BAT panel / page browsing doesn't create `publisher_key` in the format it expects to read.

If you click an inline tip button for user, then go back to their profile page and click

[2019-08-09 02:29] mandar-brave commented on #5580
thanks @jdkuki - do you believe the issue above can potentially be causing the issue here?

[2019-08-09 02:32] jdkuki commented on #5580
not 100% sure but seems like two sides of the same coin

[2019-08-09 03:01] feross opened #5604 "WebTorrent extension is broken"
## Description

The last update we did to `bittorrent-tracker` broke the WebTorrent extension. I confirmed it's broken in Nightly.

The issue is that the `URL` constructor is buggy Chromium. https://bugs.chromium.org/p/chromium/issues/detail?id=734880

We switched to `URL` from `require('url')` in `bittorrent-tracker@9.13.0`. Commit: https://github.com/webtorrent/bittorrent-tracker/commit/93b41391

[2019-08-09 03:07] feross commented on #5587
All PRs have been merged, except for the one to `http-node`. I'm going to make `webtorrent` itself temporarily depend on an `http-node` fork so that we can make progress on this issue.

I'm about to send a PR to make Brave depend on upstream `webtorrent`, which should now have all the necessary `chromeapp` fields. 🎉

(I'll be responsible for updating `webtorrent` to use upstream `http-node` once t

[2019-08-09 03:07] feross commented on #5604
Fixed in bittorrent-tracker@9.14.1.

[2019-08-09 03:07] btlechowski opened #5605 "Autoplay is not blocked"
Follow up to: https://github.com/brave/brave-browser/issues/3751

By default we block autoplay. Autoplay is no longer consistently blocked.

## Steps to Reproduce

1. Clean profile
2. Go to `https://www.reddit.com/r/funny/comments/cnt8no/best_cops_ever/`
3. Reload the page 5 times

## Actual result:

The `Blocked media` indicator in URL bar is show
The video is played
![image](https://user-images.

[2019-08-09 03:09] btlechowski commented on #3751
Verification passed on

Brave | 0.68.120 Chromium: 76.0.3809.87 (Official Build) beta (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1809 (Build 17763.379)

Logged, a serious regression https://github.com/brave/brave-browser/issues/5605

[2019-08-09 04:26] #3041 closed

[2019-08-09 04:26] #5215 closed

[2019-08-09 04:30] petemill commented on #4348
Fixed via https://github.com/brave/brave-core/pull/3121

[2019-08-09 04:30] petemill commented on #4338
Fixed via https://github.com/brave/brave-core/pull/3121

[2019-08-09 04:30] #4338 closed

[2019-08-09 04:44] feross commented on #5604
Fixed by:

- https://github.com/brave/brave-core/pull/3136
- https://github.com/brave/brave-core/pull/3137
- https://github.com/brave/brave-core/pull/3138

[2019-08-09 04:44] #5604 closed

[2019-08-09 04:45] yrliou commented on #5581
Reverted by https://github.com/brave/brave-core/pull/3136

[2019-08-09 04:46] yrliou commented on #5489
Upgrade reverted by https://github.com/brave/brave-core/pull/3136

[2019-08-09 05:45] feross opened #5606 "WebTorrent: Remove DNS shim"
All the shims and forks required for WebTorrent have been removed in

but we still have a shim for `require('dns')`, here: https://github.com/brave/brave-core/blob/d1875987afa0f872cf7d896b1d325c4331aaa8aa/components/webpack/webpack.config.js#L17

[code]

This issue is a reminder to replace this with an npm-published shim of `dns` that works in chrome apps.

[2019-08-09 06:01] Macciox commented on #4795
Oh...still unsolved! That's pretty annoying.
Agreed with @FernandoMartinelli

[2019-08-09 06:10] cnst commented on #5576
@srirambv: I cannot reproduce your findings, I'm still getting the same `couldn't connect to host` as in the linked bug report referenced above.

@tomlowenthal: you're misunderstanding this issue.  The process being killed in a _symptom_.  The _problem_ is autoupdates that cannot be disabled.  Perhaps you're not aware, but disabling of autoupdates is a standard feature in other privacy-conscious b

[2019-08-09 11:45] jsecretan commented on #5578
@mandar-brave I'm guessing "Your Ad Earnings are on their way!" is more correct.  And we should probably get rid of the "Token Grants |" message in the first view.

[2019-08-09 12:31] jsecretan commented on #5559
So, I can actually get this to reproduce when doing other full screen activities, like looking at a presentation.  To reproduce do the following.  Go to:

https://www.slideshare.net/MohammadImtiyazAhmed/the-deep-learning-technology-on-coco-framework?qid=10bdae56-cbcd-40ac-a450-1be20f377532&v=&b=&from_search=3

And select the arrows to make this full screen.

And then wait 15 seconds.  Move the mou

[2019-08-09 12:35] LaurenWags opened #5607 "Brave Ads not showing as landed / sustained in logs in certain cases"
## Description
Found while testing https://github.com/brave/brave-browser/issues/4798

Ads are not always showing as sustained / landed in the logs. Per discussion with @tmancey this is due 'to a recent change where if an ad has the same URL as an already opened tab. We now focus on the previously opened tab instead of creating a new tab so that we do not open duplicate tabs for the same ads.'

##

[2019-08-09 12:47] tmancey commented on #5607
After some investigation, I tracked the reason down to a recent change where if an ad has the same URL as an already opened tab. We now focus on the previously opened tab instead of creating a new tab so that we do not open duplicate tabs for the same ads.

So here goes.

If a user clicks an ad for www.brave.com and views this ad for 10 or more seconds, then a landed confirmation is triggered.

If

[2019-08-09 13:15] truatpasteurdotfr commented on #4280
I have uploaded at library://tru/default/f30-brave, you can use is as is if you want to share your $HOME inside the container
`singularity run -B /run  library://tru/default/f30-brave`

singularity allows you to choose what is accessible from within the container, by default you have full access to your $HOME from the host.

yes, but you need to be root to install singularity (from sources, or wit

[2019-08-09 13:41] MVrachev commented on #3337
@eljuno do you have access to that feature yet?
What about Brave for MAC is this feature existing there?

[2019-08-09 14:31] tmancey commented on #5559
@jsecretan but we would need to classify a page on whether a user is working, casual browsing, shopping etc. Right now we can only detect if video or audio is playing. And only block ad notifications if video is playing in the current tab.

[2019-08-09 15:12] bbondy opened #5608 "Dapp transaction popup shouldn't have Brave header"
Currently the Dapp transaction popup has the Brave settings header. This should be removed.

<img width="825" alt="Screen Shot 2019-08-09 at 11 11 24 AM" src="https://user-images.githubusercontent.com/831718/62789280-963dbd00-ba96-11e9-8bfc-fd3416fd50ca.png">

<img width="891" alt="Screen Shot 2019-08-09 at 11 11 37 AM" src="https://user-images.githubusercontent.com/831718/62789288-99d14400-ba96-1

[2019-08-09 16:22] rebron commented on #5309
Fixed in 0.68.

[2019-08-09 16:22] #5309 closed

[2019-08-09 16:24] rebron commented on #5312
Fixed in 0.68.

[2019-08-09 16:24] #5312 closed

[2019-08-09 16:26] rebron commented on #5315
wontfix

[2019-08-09 16:26] #5315 closed

[2019-08-09 16:28] rebron commented on #5318
@snyderp can you take a look at triaging this one?

[2019-08-09 16:30] #5564 closed

[2019-08-09 16:32] rebron commented on #5360
Might be adblock related. cc: @snyderp

[2019-08-09 16:35] rebron commented on #5368
cc: @rossmoody @simonhong Can you guys take a look, I know you guys fixed something similar just recently?

[2019-08-09 16:41] rebron commented on #5377
cc: @rossmoody I believe this was fixed in 70.x?

[2019-08-09 16:44] tomlowenthal commented on #5576
Hi @cnst I understand what you're asking, I just disagree with you. I'm sure that if you really want to you can work out how to prevent your instance of Brave from updating on your machine. But it's simply not a feature that we're going to add to the product. If there's a switch somewhere in settings which turns of automatic updates, then plenty of people will flip it without being aware of the ve

[2019-08-09 16:47] rebron commented on #5386
Thanks for the report. If you have any issues please use community. This is more for reporting product issues.

[2019-08-09 16:47] #5386 closed

[2019-08-09 16:48] rossmoody commented on #5377
I'd say this is worth closing because the background doesn't exist like that anymore.

[2019-08-09 16:48] cezaraugusto opened #5609 "Improve Shields tests"
We have a lot of boilerplate, exceptions, warnings in Shields tests that add distractions while adding new tests, making it harder to debug. And they could be improved.

**Shields**
- [x] Use the spread operator where appropriate to make assertions clearer and avoid boilerplate code
- [x] Fix warnings `no tab id so cannot request shield data from window focus change!`
- [x] Fix TS errors spotted b

[2019-08-09 16:54] rebron commented on #5419
We're going to follow upstream here, not a differentiator.

[2019-08-09 16:54] #5419 closed

[2019-08-09 16:55] rebron commented on #5422
cc: @tomlowenthal

[2019-08-09 16:58] rossmoody commented on #5368
@simonhong Found it: https://cs.chromium.org/chromium/src/chrome/browser/resources/downloads/images/incognito_marker.svg?sq=package:chromium&g=0

Any idea how we'd replace that since it isn't a SKIA swap?

[2019-08-09 17:01] rebron commented on #5451
cc: @simonhong Did you fix this one from a previous issue?

[2019-08-09 17:02] rebron commented on #5453
wontfix. Working as designed.

[2019-08-09 17:02] #5453 closed

[2019-08-09 17:06] catacavaco commented on #5309
Downloaded beta version 0.68.121 Chromium: 76.0.3809.100 (Official Build) beta (64-bit) and indeed it is fixed, thanks for the help :)

[2019-08-09 17:07] rebron commented on #5464
@simonhong This doesn't sound like a bug. Working as expected?

[2019-08-09 17:10] petemill commented on #5419
Just realized this is not Windows, but some flavor of Linux. Not sure which, as this is not what it looks like in Ubuntu.

[2019-08-09 17:19] petemill opened #5610 "WebTorrent page should be in storybook"
So that we can work on the UI components with hot reloading, and share links to updates in PRs.

[2019-08-09 17:19] petemill commented on #5610
Fixed via https://github.com/brave/brave-core/pull/3112

[2019-08-09 17:19] #5610 closed

[2019-08-09 17:32] rebron commented on #5377
Closing. Fixed in 70.x

[2019-08-09 17:32] #5377 closed

[2019-08-09 17:41] janwilmans commented on #5360
Ok I'll bite, the gitlab is self hosted and does not contain ads, however since it reproduces 100% its a.simple test. However that might make the page malfunction...

[2019-08-09 17:44] snyderp commented on #5360
If `Does the issue resolve itself when disabling Brave Shields? No, it only helps a tiny bit.` is true, doesn't sound like its adblock / filter list related.

[2019-08-09 18:03] snyderp commented on #4598
part of https://github.com/brave/brave-browser/issues/2655

[2019-08-09 18:03] snyderp commented on #1157
relevant to https://github.com/brave/brave-browser/issues/2655

[2019-08-09 18:04] snyderp commented on #4129
related: https://github.com/brave/brave-browser/issues/2655

[2019-08-09 18:04] snyderp commented on #3964
Related: https://github.com/brave/brave-browser/issues/2655

[2019-08-09 18:05] #5608 closed

[2019-08-09 18:06] pes10k opened #5611 "Cap navigator.maxTouchPoints"
navigator.maxTouchPoints allows sites, unprivilaged, to access device capability info.

I suggest capping at some reasonable number (3? 4?).  Anything higher than that is likely to be unique and indetifying

related: https://github.com/brave/brave-browser/issues/2655

[2019-08-09 18:08] bbondy commented on #4589
I think this is part of https://github.com/brave/brave-browser/issues/4697 so closing. LMK if I'm not correct!

[2019-08-09 18:08] #4589 closed

[2019-08-09 18:08] pes10k opened #5612 "restrict access to navigator.mediaDevices.enumerateDevices"
window.navigator.mediaDevices.enumerateDevices allows a site, unpermissioned, to learn a about device capabilities (number and category [video,audio,etc]) of available devices.

Its a nasty, used in the wild FP vector.  We should gate it behind similar permissions, or otherwise restrict its access.

Mozilla is working on some similar approaches
https://bugzilla.mozilla.org/show_bug.cgi?id=1397978

[2019-08-09 18:09] snyderp commented on #2655
@tomlowenthal done and done (most already had issues).  I think this is good to go

[2019-08-09 18:26] cnst commented on #5576
You disagree with existing empirical evidence (aka facts) that autoupdate has already been used in the wild as an attack factor for some software?  Or you disagree with an assertion that a user should be in control of their own machine?

I don't understand your assertion that plenty of users will flip autoupdate without being aware of the risks; do you really think your users are that dumb?

The p

[2019-08-09 18:39] pes10k opened #5614 "Randomize non-webcompat FP values to prevent fingerprinting"
Currently our main approach for protecting against fingerprinting is to try and make web api endpoint values as predictable as possible, to try and keep users in as large an anonymity set as possible.

This is probably the right "fundamental" approach, but its got problems:
1) Takes lots of engineering time and we're getting out run by new FP-contributing endpoints
2)There are lots of places where

[2019-08-09 18:48] janwilmans commented on #5360
I tried it, for the gitlab case, it doesn't matter if shields are disabled or not. The page still freezes. I just noticed, that other CI builds that have much less data in the log window (3300 lines in stead of 18.000) do not experience this problem.

[2019-08-09 18:50] willemavjc commented on #5576
Forced to agree with @cnst

And please take no offence but this what-I-believe-to-be "idiocy" can be easily demonstrated when I read:

So then tell me **why you're releasing Brave on Android and iOS where you have no ways to keep apps up-to-date?**

Come on! You just never experienced an attack like @cnst is describing. Have a look on (Mac) Transmission's recent story. I'm finger crossed on that y

[2019-08-09 18:53] snyderp commented on #2471
Relevant sub issues (where it seems like we might be able to make the end points {more} consistent w/o breaking stuff)
- Fonts: https://github.com/brave/brave-browser/issues/816
- UA: https://github.com/brave/brave-browser/issues/701

[This approach](https://github.com/brave/brave-browser/issues/2655) might also allow us to relax protections on WebGL and canvas and other things that we know are ca

[2019-08-09 19:02] bbondy opened #5615 "Enable Brave Wallet by default on official builds"
Currently Brave Wallet is only enabled on non official builds, this makes it available for all builds as long as extensions are enabled.  And extensions are enabled on all builds we do.

[2019-08-09 19:24] #3913 closed

[2019-08-09 19:27] kjozwiak commented on #3190
@AlexeyBarabash after deliberating with the @brave/uplift-approvers team, we're going to let this ride the trains from `Nightly` to `Release`. There's a few +1's from the community but I don't think this is critical enough to warrant an uplift. `0.68.x` has ~a week before release so we try to only uplift critical fixes 👍

[2019-08-09 20:46] tdy2014 commented on #4492
There has been ZERO change in this condition since initial report. Problem exists STILL in

Brave | 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Windows 10 OS Version 1903 (Build 18362.267)
JavaScript | V8 7.6.303.29
Flash | (Disabled)
User Agent | Mozilla/5.0 (Windows NT 10.0; Win64; x64)

[2019-08-09 20:53] #5561 closed

[2019-08-09 22:30] #4047 closed

[2019-08-09 22:44] #856 closed

[2019-08-09 22:44] #5587 closed

[2019-08-09 22:44] #5489 closed

[2019-08-09 23:20] yrliou commented on #5581
Superseded by brave/brave-core#3134

[2019-08-09 23:20] #5581 closed

[2019-08-09 23:33] hp8wvvvgnj6asjm7 commented on #5526
It is real, something is going on here. Anyone who needs a video please comment here.

[2019-08-09 23:34] hp8wvvvgnj6asjm7 commented on #5526
Clear your whole cache and history before visiting that site, and it will turn on the camera for one time.

[2019-08-09 23:47] Viking8 commented on #3725
FYI, this is still not working as of Brave version 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)

[2019-08-10 00:45] feross commented on #5606
I just published `chrome-dns`: https://github.com/feross/chrome-dns

[2019-08-10 00:46] feross commented on #5606
I just shimmed the `dns` api in the one place that it was used in the `webtorrent` dependency tree. https://github.com/mafintosh/k-rpc-socket/commit/9b1e40460c7b5d53526e9234fc79c28af3cda0c0

[2019-08-10 21:19] ruipenso commented on #5442
We'll remove the button.

[2019-08-10 22:54] jdkuki opened #5616 "Stackoverflow Tipping"
## Description

Tipping support for StackOverflow should be added via panel and inline button below upvote button.

## Steps to Reproduce

## Actual result:

n/a

## Expected result:
![image](https://user-images.githubusercontent.com/8422122/62827611-0fb4d880-bb87-11e9-9d1d-431b0965bb02.png)

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can

[2019-08-11 00:07] simonhong opened #5617 "BraveWidevineBundleManagerTest crash on linux"
[code]
[code]

[2019-08-11 04:04] pstephenwille commented on #354
This is a deal killer for me.  Vivaldi is the only browser that supports customized key bindings.

[2019-08-11 07:45] tamj0rd2 opened #5618 "Typescript (.ts and .tsx) files have no syntax highlighting when opened in the dev tools Sources tab"
## Description

I'm developing a website using Typescript. When I open the dev tools, go to the Sources tab and click any `.ts` or `.tsx` files, there is no syntax highlighting.

## Steps to Reproduce

Requires node/npm to be installed

   1. Run `npx create-react-app myappname --typescript`
   2. `cd myappname`
   3. `npm start`
   4. Open `localhost:3000` in brave
   5. Go to DevTools > Sources

[2019-08-11 10:24] Leon0402 commented on #4615
+2
https://community.brave.com/t/change-user-name-of-a-user-profil/69562

[2019-08-11 10:34] Leon0402 opened #5619 "Brave Dev crashes as soon as I click on buttons in the search bar"
## Description
Brave Dev is terminated as soon as I click on the icon for Brave Rewards or for the shield

## Steps to Reproduce

   1. Open Brave Dev
   2. Click one of the two icons in the search bar

## Actual result:
Brave terminates.

## Exspected Results:
It should not crash and instead show the popups for this

## Reproduces how often:
Every time

## Brave version (brave://version info)
0.6

[2019-08-11 10:58] littleboy0k opened #5620 "UX suggestion: The message displayed after removing a "top site" should auto fade"
![image](https://user-images.githubusercontent.com/32856591/62832964-917d3280-bc69-11e9-97d0-87e9501f4ae8.png)

This message is shown after deleting a top site from the new tab page. This message should auto fade to improve UX.

## Brave version
Version 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)

[2019-08-11 22:08] Michaelmantion commented on #1199
I would like to use brave browser but use torrents a lot.  Can we just disable braves built in torrent program some how?

[2019-08-12 03:29] #5617 closed

[2019-08-12 04:25] jakecoble opened #5621 "View selection of Brave Ads at a brave:// url"
Brave Rewards ads currently come to the user at intervals through the operating system's notifications. It's preferable to be able to spend attention in exchange for BAT deliberately instead of having attention taken from you every so often.

A list of selected ads could be displayed at a dedicated brave:// url (such as brave://ads), which would permit the user to decide when they want to spend th

[2019-08-12 04:54] jonathansampson commented on #3464
Worth noting that this issue exists even when the Brave and Rewards extensions are disabled:
[code]

[2019-08-12 05:10] mandar-brave commented on #5428
To be solved server side!

[2019-08-12 05:10] #5428 closed

[2019-08-12 06:03] bsclifton commented on #3464
Likely a duplicate of https://github.com/brave/brave-browser/issues/2301

I'm curious if Twitter is trying to push a message and making sure you acknowledge it before enabling (or browser would prompt you first time, "allow notifications from x?")

[2019-08-12 06:19] bsclifton commented on #5621
This is definitely something we want to do (and have some plans around)
cc: @mandar-brave

[2019-08-12 06:21] bsclifton commented on #1199
@Michaelmantion yes - you can go to brave://settings and under `Extensions` you should be able to disable 😄
<img width="704" alt="Screen Shot 2019-08-11 at 11 21 04 PM" src="https://user-images.githubusercontent.com/4733304/62848105-c354c000-bc8e-11e9-8118-9253b6f6413a.png">

[2019-08-12 06:23] bsclifton commented on #4615
I believe @petemill is checking this out...

[2019-08-12 06:29] mandar-brave commented on #5621
Thanks @bsclifton @jakecoble
Noted to add to the current work-stream.
We are going to provide an Ads history/bookmark option (slated in 0.70, i believe).

@alex can you point out the details re: history and feedback.

[2019-08-12 06:34] bsclifton commented on #4492
We have solved many crash problems in 0.68.x and above (currently, BETA channel). @tdy2014 if you wanted to try beta, you can grab a copy at https://brave.com/download-beta/

[2019-08-12 06:42] petemill commented on #4615
Yep just waiting for a review at https://github.com/brave/brave-core/pull/3140 :-)

[2019-08-12 06:59] bsclifton commented on #1064
@kjozwiak yes - I do believe it is 😄

[2019-08-12 06:59] #1064 closed

[2019-08-12 07:02] Michaelmantion commented on #1199
Thanks

On Mon, Aug 12, 2019, 01:21 Brian Clifton <notifications@github.com> wrote:

[2019-08-12 09:57] Th3-A6add0n opened #5622 "Migrate"
How do I migrate all my Brave browser data to a new PC?
Chrome has the feature to connect to google account but Brave doesn't have that.
It's really hard to export data from Brave, I can backup Bookmarks, Passwords & Brave rewards utmost.

[2019-08-12 13:58] GeetaSarvadnya commented on #5376
The issue is Reproducible in

Brave | 0.67.123 Chromium: 76.0.3809.87 (Official Build) (64-bit)
-- | --
Revision | 111fe1e15d5ced26080a7dc239bcfe70f6c49aad-refs/branch-heads/3809@{#967}
OS | Windows 10 OS Version 1803 (Build 17134.523)

[2019-08-12 14:07] ruifung commented on #4412
Seriously, this is *still* not in yet? Like, this is the ONE feature stopping me from switching completely to brave.

[2019-08-12 14:29] simonsan commented on #4412
Wild guess: It might be due to #5198 that it's still not implemented and if, it might be in brave-core then.

[2019-08-12 14:33] emerick opened #5623 "Assertion on startup when using old ads history JSON data"
@tmancey mentioned that the ads history related changes are throwing an assertion with his profile due to a JSON-related problem. Upon investigating, noticed that the old `ads_shown_history` format was an array of timestamps (vs. the new format which is an array of objects). Unfortunately, `document.Parse` wasn't returning an error and instead a later call to `HasMember` was asserting.

Spoke with

[2019-08-12 14:56] #5623 closed

[2019-08-12 15:29] saccodd commented on #2301
Hi all! is there any workaround from a developer point of view? I'd really need to enable notifications for my website also for Brave users

[2019-08-12 15:40] LaurenWags commented on #5548
Verified passed with

Brave | 0.67.125 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Mac OS X

1. **PASS** Verified no 404s observed in logs when clicking to view ads notifications.
2. **PASS** Used Charles Proxy to emulate failed confirmations. Verified that when the failed confirmations were retrie

[2019-08-12 15:52] willstocks-tech commented on #1308
I just noticed this today - defo need a toggle as opposed to _only_ relying on system locale?

For instance, I use:
- English UK - system display language
- English US - system input language (don't ask me why)

Brave had defaulted display to just "English" with no localization, which was resulting in a 12hr clock (with no am/pm notation) on the New Tab Page, while my system is 24hr.

I have imple

[2019-08-12 16:13] bsclifton commented on #2301
@saccodd unfortunately, I don't think there's a work-around. We have prioritized this and will be looking at a proper fix coming soon. I believe @jumde will be able to help with this (like he did with getting Chromecast working). Stay tuned!

[2019-08-12 16:41] Mitsunee opened #5624 "Opening downloaded files or showing them in folder broken"
## Description
Files downloaded via brave browser can't be opened or shown in folder by the browser anymore as of 0.67.124 (package version) on Kubuntu 19.04.

## Steps to Reproduce

   1. Download any file off the internet. In this case I saved an image
   2. Click on the file to open it
   3. Gwenviewer should open now

## Actual result:
Gwenviewer does not open. The option in the menu "Show in

[2019-08-12 17:08] btlechowski commented on #5586
Verification passed on

Brave | 0.67.125 Chromium: 76.0.3809.100 (Official Build) (64-bit)
-- | --
Revision | ed9d447d30203dc5069e540f05079e493fc1c132-refs/branch-heads/3809@{#990}
OS | Ubuntu 18.04 LTS

LGTM

[2019-08-12 17:08] #5586 closed

[2019-08-12 17:21] LaurenWags commented on #5584
Thanks for the help with this one @kjozwiak !

[2019-08-12 17:21] #5584 closed

[2019-08-12 17:41] rebron commented on #5318
cc: @anthonypkeane

[2019-08-12 17:46] GeetaSarvadnya commented on #5585
Looks good hence closing the issue.

[2019-08-12 17:46] #5585 closed

[2019-08-12 17:46] diracdeltas opened #5625 "remove chrome.braveWallet polyfill from main code"
see https://github.com/brave-experiments/eth-hd-keyring/pull/1/files/b523516ed8aa22c33ece3aa72e4893225f700179#discussion_r312939376

[2019-08-12 18:09] LaurenWags opened #5626 "Release notes for 0.67.x Hotfix 2 (Release Channel)"
Release Notes

 - Issue with Ads Payments (August 5).([#5548](https://github.com/brave/brave-browser/issues/5548))

[2019-08-12 18:50] LaurenWags opened #5628 "ad notifications do not display in Notification Center on macOS"
## Description
Ads which are not clicked or dismissed are not being shown in the Notification Center.

## Steps to Reproduce

   1. Have Ads enabled on your profile.
   2. Be sure you have `Show in Notification Center` checked in OS settings and are not set to 'Do not disturb'.
   3. View an ad notification but do not click on it to open or dismiss it. Let the notification sit and go away (2 min)

[2019-08-12 19:06] #5626 closed

[2019-08-12 19:47] Geradot opened #5629 "Crash browser after going to the "Brave Rewards" page"
## Description

The browser just crashing.

## Steps to Reproduce

   1. Go to the "Settings"
   2. Select tab "Brave Rewards"

## Actual result:

The browser closing.

## Expected result:
Opening "Brave Rewards" page.

## Brave version (brave://version info)

Brave | 0.70.57 Chromium: 76.0.3809.100 (Официальная сборка) nightly (64 бит)

## Version/Channel Information:

It does only in Nightly ver

[2019-08-12 19:48] rebron commented on #5567
Closing. Released on August 12, 12:30pm PDT.

[2019-08-12 19:48] #5567 closed

[2019-08-12 20:28] bsclifton commented on #1000
At the moment, we don't have plans to *officially* support Flatpak/Flathub and other formats. However, if someone did want to work with us, we can definitely help you get started 😄

[2019-08-12 20:31] bsclifton commented on #1007
@posix4e is the snap integration at a point where it can be automated? I know it's behind a bit- would be great to get a refresh 😄

[2019-08-12 20:44] diracdeltas opened #5630 "fix wallet password verification"
it needs to store the salt and use it for future argon2 hashes

[2019-08-12 20:45] kjozwiak commented on #4619
@rebron @aekeus @mbacchi any updates on this one? Is `priority/P3` appropriate? I know we've been working hard making sure that the generic pings are working correctly so not 100% sure where this stands.

[2019-08-12 20:45] NejcZdovc commented on #5629
hi, thank you for the report. This one was fixed with https://github.com/brave/brave-browser/issues/5623. Should be all good in the latest nightly that should arrive really soon.

[2019-08-12 20:45] #5629 closed

[2019-08-12 21:07] mandar-brave opened #5631 "Verified support for user wallet release (0.69)"
Change in release 0.69 already on nightly and developer builds;

Original change requested for user wallet release was to have a verified creator as one that is;
- verified with Brave
- verified with Uphold

Ask:
Keep original creator verification intact (as supported pre 0.69)
- Create verified with Brave
- OK not to be verified with Uphold

There are changes needed at the client end (and the pro

[2019-08-12 21:27] davidtemkin commented on #5631
@mandar-brave Unsure re: A-C comment above -- seems to me that A-C has to go through the same semi-verified process as do tips (i.e. put the A-C contributions in pending list if a creator isn't fully verified w/Uphold; recheck for full verified status for 90 days) since we cannot pay creators until they are fully verified.

[2019-08-12 21:31] kjozwiak commented on #1274
@cg505 thanks for looking into it! Once you have more information, mind updating this issue or maybe creating another one where we can follow progress?

[2019-08-12 22:02] imptrx commented on #5015
Test Plan:
**Widget Behaviour**
- Hover over widgets should produce a hover effect and an icon beside it
- Clicking on the icon for each widget should open up a menu (clicking again will toggle)
- If menu is open, moving the cursor away from the widget wouldn’t remove the hover effect
- If menu is closed, moving the cursor away from the widget removed hover effects
- If menu is open clicking outsi

[2019-08-12 22:10] cg505 commented on #1274
@kjozwiak This should be fixed in the unofficial Arch User Repository packages (https://aur.archlinux.org/cgit/aur.git/commit/?h=brave-bin&id=571d9fb9fde822cdbcc79eb118cb772455ca62ae for `brave-bin` and https://aur.archlinux.org/cgit/aur.git/commit/PKGBUILD?h=brave&id=e63f13ba4e458f3f55a14e443c9591a7b7305521 / maximbaz/pkgbuilds#7 for `brave`). Majaro and other Arch-based repos should be using the

[2019-08-12 22:16] rossmoody opened #5632 "Remove theme step from welcome experience"
Per direction from @davidtemkin, it's time to omit the theme selection panel from the Welcome experience.

@rebron

[2019-08-12 23:17] mikhoul commented on #5063
Just migrated from Chromium to Brave but this a major annoying issue for me and my user and I remember why begun to use Chromium  because it don't display the warning.

I manage ~65 computers where I choose which browser is used and since we use custom extensions we need to have an option to disable the warning for our users.

**There is a way to make this option without implementing it in the GUI

[2019-08-12 23:41] theAeon commented on #5063
Seconding the command line flag as an option. If a malicious program is able to change the command line flag in the start menu shortcut it's already achieved system privilege escalation and the user in question seems to be already screwed.

[2019-08-12 23:45] #5630 closed

[2019-08-12 23:47] diracdeltas opened #5633 "save argon2 parameters in localstorage for crypto wallet"
came up in review of https://github.com/brave/KeyringController/pull/1; we should store the argon2 parameters in localstorage (or simply a version number) in case we change them in the future

[2019-08-12 23:53] #5506 closed

[2019-08-12 23:54] #5606 closed

[2019-08-13 00:52] mandar-brave commented on #5631
@davidtemkin per our chat, i am leaving the auto-contribute to every verified (Brave creator verified) account intact.

[2019-08-13 00:57] adamreisnz commented on #5403
@kjozwiak I am now running into this issue again, so it doesn't appear to have been resolved.
Problem is that it's not consistent, but I will try to find a form online where it can be reproduced consistently.

[2019-08-13 02:11] chkk525 opened #5634 "Fails to load top banner https://www.dmm.com/"
## Description

Brave keeps loading top banner.

## Steps to Reproduce

   1. access to https://www.dmm.com/

## Actual result:

Left: Chrome
Right: Brave
![image](https://user-images.githubusercontent.com/3054915/62910275-de245300-bdba-11e9-9572-2822154a8ea5.png)

## Expected result:
Load top banner.

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

Brave | 0.

[2019-08-13 02:14] mikepictor commented on #4422
I definitely have the same issue, even with the shields turned off.

[2019-08-13 02:31] chkk525 opened #5635 "Fails to load recommendation section on Expedia"
## Description

Failed to load Recommendation section in Expedia's promotion page.

## Steps to Reproduce

   1. Open https://www.expedia.co.jp/expedia-sale?langid=1041&EMLCID=JP.MR.DISCOVER.HOURLYSALE.GENERIC&EMLDTL=DATE20190709.SID6336049.KEY6336049001314019.PAID203152219.LANGJA_JP.MCIDM.TEST1.VERSX.MIDS1-27554_2-23446_3-13190_4-999_5-999_6-999.MOD77-3-28-0-EMAIL-HERO-JA-JP_S2-P8_POS7_BTN1&mgpar