[2021-05-06 19:33] karenkliu commented on #14807
@rebron   Is this still an issue since we made the top sites tiles follow OS theming?

[2021-05-06 19:43] bsclifton commented on #14807
@toastal can you please re-check? This should be live now (as of Brave version 1.24). Any tiles there may need to be visited again to pull the newer favicon (just clicking is enough to update icon)

I'll close this issue as it should be resolved - but let us know! We can re-open and investigate if it's not resolved 😄

[2021-05-06 19:43] #14807 closed

[2021-05-06 19:49] #15375 closed

[2021-05-06 20:07] spylogsster opened #15665 "IPFS Settings page doesnt work"
## Description

Many errors in console
![image](https://user-images.githubusercontent.com/2965009/117359201-be528e00-aebf-11eb-8b17-7d6d3f57b4ab.png)

## Actual result:

IPFS Settings page doesnt work

## Expected result:
IPFS Settings page works

## Reproduces how often:

easy

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the curren

[2021-05-06 20:31] wyatt400 commented on #15665
Works for me, can you get us your **brave://version** information?

[2021-05-06 20:31] wyatt400 commented on #15665
![image](https://user-images.githubusercontent.com/54185618/117361831-fe395700-ae66-11eb-815c-836b0142d86d.png)

[2021-05-06 20:50] Michael82548 commented on #12375
Please...

[2021-05-06 20:52] Michael82548 commented on #12375
Also add Android tag. It seems to affect android as well

[2021-05-06 20:53] #15665 closed

[2021-05-06 21:07] rebron commented on #13855
Hi @awunnenb. Our latest version is 1.24.82. Are you still having issues with that latest build? If so, can you take a look at this hardware acceleration setting brave://settings/system and toggle off and see if that does it. Generally, speaking we do want users to have hardware acceleration on.

[2021-05-06 21:13] rebron commented on #13867
hi @hilmiwicak Are you still not getting email notifications from Gmail or Ymail?

[2021-05-06 21:18] rebron commented on #13879
Closing as duplicate of #8590

[2021-05-06 21:18] #13879 closed

[2021-05-06 21:36] rebron commented on #14014
None of the videos on Yahoo! Japan seem to be working. Looks like running into the same issue in Chrome.
`https://gyao.yahoo.co.jp/`

[2021-05-06 21:55] anthonypkeane commented on #13933
@karenkliu can you suggest a place for this in the new menu?

@alexsafe if doable, can you add follow up and add this while working on the menu?

Thanks

[2021-05-06 21:58] rebron commented on #14014
cc: @ryanbr

[2021-05-06 22:01] #14058 closed

[2021-05-06 22:15] anthonypkeane opened #15666 "Add aggressive mode option in shields"
## Description
The work in https://github.com/brave/brave-browser/issues/7487 adds support in settings for aggressive mode, however we are missing the option to enable aggressive mode in shields. Please add this option.

@karenkliu for a design

cc @pes10k

[2021-05-06 22:26] #15641 closed

[2021-05-06 22:39] bridiver commented on #15646
@stephendonner have you checked the non-keepalive tests with keepalive disabled? I don't think this is a keepalive issue, I think it's a regression on android

[2021-05-06 23:08] crogonint commented on #208
Now that's bizarre.. I just mentioned this discussion yesterday in a
conversation on the F-droid forums about the need for an open source
solution to replace Google Translate.

You might be interested in checking there, maybe everybody could team up
and get a ball rolling or something. :D
 - James T. Long

------------
There are 10 kinds of people in the world - those who understand binary,
and th

[2021-05-07 00:01] karenkliu commented on #15666
This is a dupe of https://github.com/brave/brave-browser/issues/9831#issuecomment-786804751

[2021-05-07 00:01] #15666 closed

[2021-05-07 00:18] fmarier opened #15667 "TLS pins are not working"
Preloaded TLS pins are not working in Brave. For example https://pinning-test.badssl.com/ loads just fine instead of being blocked with a TLS error.

That's due to the fact that non-Chrome builds have pinning disabled: https://source.chromium.org/chromium/chromium/src/+/master:net/http/transport_security_state.cc;l=760-763;drc=735b94b59fae0115fc1b9fa736fea465e18f6bfb

While we don't want to enforc

[2021-05-07 00:19] Brave-Matt commented on #14077
@acli,
Thanks for reaching out. It looks like I can reproduce this as well. For clarity, the behavior is that Brave is (potentially) unintentionally capturing keypress events even when the browser is not in focus. I was able to reproduce this by using the Youtube example above:
1. Visit youtube.com and stream a video.
2. Play video in full screen mode.
3. While video is in full screen, hit `Alt +

[2021-05-07 01:57] Dr-Sauce opened #15668 "Let us move the Brave Shield button to Extensions tab."
## Description

## Steps to Reproduce

   1. No one likes a lion staring at you all the time.
   2. It's taking up the home button, add bookmark button space.
   3.

## Actual result:

![Picture1](https://user-images.githubusercontent.com/82555878/117386830-8892c100-af22-11eb-93d2-4553ffd19ea4.png)

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/

[2021-05-07 02:15] Dr-Sauce opened #15669 "Brave Shield leaves blank space."
## Description

## Steps to Reproduce

   1. "Requests to the server have been blocked by an extension."
   2.
   3.

## Actual result:

Site: https://www.naver.com/

![image](https://user-images.githubusercontent.com/82555878/117388246-5fbffb00-af25-11eb-96da-216cd0a4d7bd.png)

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

[2021-05-07 02:41] mattclegg commented on #12401
I also have the same issue. Seems to be a common problem; https://community.brave.com/t/issues-with-picking-camera-device/164527

[2021-05-07 02:50] ryanbr commented on #15669
Hey @Dr-Sauce

Add the following into `brave://adblock`

[code]

[2021-05-07 02:59] Dr-Sauce commented on #15669
TYSM 😍😍

[2021-05-07 03:05] ryanbr commented on #15668
Shields isn't an extension, but actually built into Brave. @Dr-Sauce

[2021-05-07 03:23] acli commented on #14077
I’ve forgotten how I managed to trigger this from the IME editor, but there’s another way I can consistently reproduce this on XFCE (this should also work on other systems that use an external screenshot program that displays a dialog window before taking the actual screenshot):

1. Play video in full screen mode on youtube
2. Using a predefined hotkey, trigger a screenshot
3. When the screenshot

[2021-05-07 03:26] #15669 closed

[2021-05-07 03:27] ryanbr commented on #15669
Fix will land for Brave in the next 24-48hrs @Dr-Sauce

[2021-05-07 03:45] simonhong opened #15670 "tab search button has weird hover/press effect"
![image](https://user-images.githubusercontent.com/6786187/117394853-e37fe480-af31-11eb-8c72-d65b67232fa4.png)

[2021-05-07 04:03] ryanbr commented on #14014
Using a Japanese IP, checking in Brave, Brave Beta, Chrome and Firefox. None of the videos were able to be played. It seems to be serverside issue. Checking with another list author to confirm.

[2021-05-07 04:12] ryanbr commented on #15655
If you're using uBO Origin, disable shields Ads/trackers via `brave://settings` also I would disable NoScript (since that can be problematic on some/most sites) @forest-cat

[2021-05-07 04:35] Dr-Sauce commented on #15668
Then can't Brave allow us to hide it somewhere else or allow us to customize the icon?

[2021-05-07 04:54] Dr-Sauce commented on #15669
It's broken again.
-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; ***@***.***>;
Sent: 2021-05-07 (금) 12:27:40 (GMT+09:00)
Subject: Re: [brave/brave-browser] Brave Shield leaves blank space. (#15669)

Fix will land for Brave in the next 24-48hrs @Dr-Sauce
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsub

[2021-05-07 04:56] Dr-Sauce commented on #15669
I followed the method you told me. And it's worked great. But suddenly the "Requests to the server have been blocked by an extension." boxes are appearing again :(

[2021-05-07 05:16] ryanbr commented on #15669
ensure the filters are enabled in `brave://adblock` (as shown as the gif below) and shields `Ads/Tracking` is enabled.

Re-checked: https://gif.fanboy.co.nz/gif/naver-block.gif

Seems to be working well.

[2021-05-07 05:40] keur opened #15671 "Speedreader touchups"
- [x] When unwrapping `img` elements from `<noscript>` tags, look for multiple copies in preceding images (Medium.com does this).
- [x] During the final pass, rewrite any remaining `<h1>`s as `<h2>`. Only the title should be `<h1>`.

[2021-05-07 05:45] ryanbr commented on #15668
Not my call, but hiding the shields icon seems counter intuitive. If a user forgets they disabled the icon, and then blame brave for potential breakages.

Shields icon doesn't take up much space. Shields makes Brave.

[2021-05-07 05:52] Dr-Sauce commented on #15668
Ok, Thanks :)

[2021-05-07 05:54] Dr-Sauce commented on #15669
Ah, now it's working again. Thanks.

[2021-05-07 06:02] toastal commented on #14807
I am still seeing this in `Version 1.23.71 Chromium: 90.0.4430.72 (Official Build) (64-bit)`. When NixOS Unstable gets a later version, I can check again.

[2021-05-07 06:17] wchen342 opened #15672 "Remove unsafe Javascript calls from brave://rewards"
Replace `CanCallJavascript` and `CallJavascriptFunctionUnsafe` calls from `brave://rewards` webui with `AllowJavascript` and `CallJavascriptFunction`.

[2021-05-07 06:53] GeetaSarvadnya commented on #15285
@tmancey Please find the recorded file, I can reproduce the issue consistently in windows, after enabling rewards, I am not clicking on `Rewards setting` in the BR panel hence there is no tab which has brave://rewards page. After enabling rewards I am just clicking on `+` icon a new tab is opened but two events are triggered in the log:
`Opened a new tab with id 5` and `Opened a new tab with id 7`

[2021-05-07 07:13] spylogsster opened #15673 "IPNS keys management page doesn't work"
blank page instead of keys management ui

[2021-05-07 07:38] afxgak commented on #4599
Yeah, will this ever be fixed? I am on mac os big sur m1 macbook.

[2021-05-07 08:05] sujay1844 commented on #4678
same issue as @71walceli. It happens when I try to sync between Windows and Arch

[2021-05-07 08:39] jraxxo commented on #2153
+1, honestly astonished that this feature is still missing.
Need it quite badly for stuff like citrix receiver.

[2021-05-07 09:10] #15673 closed

[2021-05-07 09:29] ryanbr commented on #15629
Test with:
1. https://patrickhlauke.github.io/recaptcha/
2. https://www.google.com/recaptcha/api2/demo

Had no issues, can you test with the above recaptcha demos @howdyAnkit

[2021-05-07 10:19] howdyAnkit commented on #15629
Hey @ryanbr Thanks for Mentioning
if you compare the below attached Image with the previous test Image above.
Brave Shield is treating it like as an Add in my opinion.

where as the Link you provided for reference has no brave shield blocking on the same.
In my Opinion the Brave shield is blocking the captcha considering as an Ad.

![captcha2](https://user-images.githubusercontent.com/40737659/117

[2021-05-07 10:49] GeetaSarvadnya commented on #15420
Verification is inprogress

[code]

[2021-05-07 10:56] gda44 opened #15674 "Automatically disable Brave shield and white list for it"
## Description
Hello,
We use Brave Software in an Enterprise and we need to automatically disable brave shield for one website (which use SSO and works without the shield).
Actually, the only way we found is to go on this site and disable it manually.

Is there a way to disable automatically Brave shield for one website ? Is there a Whitelist regkey for Shields we can configure ?
In the same way a

[2021-05-07 11:06] vrindavan opened #15675 "Replace old New Tab icon with the new design"
![Screenshot_20210507-163328_Brave.png](https://user-images.githubusercontent.com/50140643/117440998-6a44b980-af52-11eb-934c-a9bda2512a96.png)![Screenshot_20210507-163332_Brave.png](https://user-images.githubusercontent.com/50140643/117441004-6b75e680-af52-11eb-92af-2e216976a8ec.png)

[2021-05-07 11:13] btlechowski commented on #15427
Verification passed on

Brave | 1.24.83 Chromium: 90.0.4430.93 (Official Build) (64-bit)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | Ubuntu 18.04 LTS

Verified test plan from the description

![image](https://user-images.githubusercontent.com/34715963/117441490-b7666280-af35-11eb-819a-5df0eb70d667.png)

[2021-05-07 11:30] btlechowski commented on #15631
Verification passed on

Brave | 1.24.83 Chromium: 90.0.4430.93 (Official Build) (64-bit)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | Ubuntu 18.04 LTS

Verified bitFlyer feature flag is set to Enabled by default.
![image](https://user-images.githubusercontent.com/34715963/117443345-4eccb500-af38-11eb-8164-ed6dbea1aca9.png)

[2021-05-07 11:53] ryanbr commented on #15629
If we are blocking captcha as an Advert, check shields "Ads and trackers" in the url bar. It'll show the blocked items there. @howdyAnkit

Did the recaptcha tests work as intended?

[2021-05-07 12:21] #15592 closed

[2021-05-07 12:38] mbedded commented on #13565
Same for `Version 1.24.82 Chromium: 90.0.4430.93 (Official Build) (64-Bit)`

Brave installed via "add repo" and "apt-get install" (official documentation)

[2021-05-07 12:49] LaurenWags opened #15676 "tip banner rewards onboarding tour issues"
## Description

Rewards onboarding tour via tip banner doesn't match the others (from panel and brave://rewards).

## Steps to Reproduce

   1. Clean profile, Japan region, if not enabled by default, enable bF.
   2. Navigate to a twitter page or other page with in-line tip button
   3. Click on on-line tip button
   4. On the tip banner, select Start using Brave Rewards
   5. View onboarding tour

[2021-05-07 12:51] 71walceli commented on #4678
I resorted to deleting, creating a new profile and copying every file to that other profile, then deleting all data. A very nasty workaround, which deleted every addon and every other Brave setting. What a workaround!

[2021-05-07 12:58] #15546 closed

[2021-05-07 13:29] forest-cat commented on #15655
I already told that i disabled all Addons and Brave Shield but the Error was still there.

[2021-05-07 14:11] LaurenWags commented on #15632
Verified passed with

[code]

<details>
<summary>English</summary>

Confirmed expected wording for English for panel and brave://rewards onboarding tours.
Confirmed "Learn more" links to https://brave.com/ja/users-bitflyer/ as per https://bravesoftware.slack.com/archives/CHGKGMHDJ/p1620229207206700?thread_ts=1620224334.203900&cid=CHGKGMHDJ.

Panel | brave://rewards
----- | -----
<img width="398" a

[2021-05-07 15:47] Dysanix commented on #12275
I second the need for this feature.

[2021-05-07 15:48] phoogm opened #15677 "Top Sites - Favorites - GitHub favicon disappear in dark mode"
## Description

Using Brave 24.82 Desktop with Top Sites enabled the GitHub favicon disappears when MacOS switches from light to dark mode. When looking at the other favicon images it seems the switch impacts transparant sections of the favicon images as well in stead of only affecting the tile border around the favicon image.

## Steps to Reproduce

   1. Enable Top Sites
   2. Add a GitHub site

[2021-05-07 15:55] #15654 closed

[2021-05-07 16:18] kjozwiak opened #15678 "Manual test run on macOS (Intel) for 1.24.x Release #2"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window
- [x] Ensured that the following

[2021-05-07 16:36] kjozwiak opened #15679 "Manual test run on macOS (arm64) for 1.24.x Release #2"
### Installer

- [x]  Check signature: If OS Run `"spctl --assess --verbose /Applications/Brave Browser.app"` and make sure it returns `accepted`.
- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-universal.dmg`
      - [x] Check executable size, should be `~470mb`
   - [x] `Brave-Browser-universal.pkg`
       - [x] Check executable size, should be `~470mb`
   -

[2021-05-07 16:37] kjozwiak opened #15680 "Manual test run on Win x64 for 1.24.x Release #2"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-05-07 16:38] kjozwiak opened #15681 "Manual test run on Linux for 1.24.x Release #2"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-05-07 16:42] LaurenWags commented on #15426
Verification in progress with

[code]

<details>
<summary>Japan region</summary>

Using 1.24.82 confirmed that March displays in Monthly Statement w/ data and the `balance_report_info` table shows March:

Monthly Statement | Monthly Statement | Monthly Statement | `balance_report_info` table
----- | ----- | ----- | -----
<img width="434" alt="1" src="https://user-images.githubusercontent.com/28145

[2021-05-07 16:44] kjozwiak opened #15682 "Manual test run on Win x64 for 1.26.x - Nightly (Checking C91)"
### Installer

- [x] Check the installer is close to the size of the last release
- [x] Check signature: On macOS, run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  On Windows, right-click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double-click on the signature.  Make sure it says "The digital

[2021-05-07 16:46] kjozwiak opened #15683 "Manual test run on Android for 1.26.x - Nightly (Checking C91)"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Visual look

- [x] Make sure thereafter every merge
  - [

[2021-05-07 17:02] karenkliu commented on #15422
@rebron  Have it as a top-line item in the menu makes it easier to find, so I think this is fine. However it doesn't make sense that it gets its own section. I would think of it as an additional browser feature and put it underneath Sync without a divider line.

[2021-05-07 17:06] iefremov opened #15684 "Fix P3A component deps"
Fix layering violations in P3A

[2021-05-07 17:08] diracdeltas opened #15685 "npm audit failures"
causing CI to fail

[2021-05-07 17:08] stephendonner opened #15686 "Auto-Contribute is set to off after onboarding from tip panel"
## Description
Auto-Contribute is set to off after onboarding from tip panel; might be related to/fallout from https://github.com/brave/brave-browser/issues/14735?

## Steps to Reproduce

(Sorry, still trying to whittle this down to minimal steps, but wanted to get this filed for the sake of time.)

1. launch with staging flags: `--enable-logging=stderr --vmodule="*/bat-native-ledger/*"=6,"*/brave

[2021-05-07 17:13] zenparsing commented on #15686
I think the crucial step is accepting the UGP grant *before* you opt-in. In https://github.com/brave/brave-core/pull/8273 we made a change so that if you have a non-zero balance, then AC will not automatically be turned on. The intention there is to protect users from having their BAT spent inadvertently.

cc @Miyayes on whether we want to change the behavior here.

[2021-05-07 17:58] meejle opened #15687 "Brave Rewards displaying wrong Reddit usernames"
## Description

I signed up to Brave Rewards Creator and claimed my Reddit account (among other social media accounts and websites that I own). I also submitted custom banners for each site/social media profile.

When trying to test this on Reddit (e.g., to see if the verified "tick" would appear on my profile page, whether my custom tip message would appear, etc.), I noticed various issues with u

[2021-05-07 18:23] rebron commented on #15677
@phoogm If you click through on the dark top sites icon and refresh the page or open a new tab, the right image should show up.
<img width="278" alt="Screen Shot 2021-05-07 at 11 22 27 AM" src="https://user-images.githubusercontent.com/5951041/117492566-9cd8bd00-af26-11eb-81cf-2ead2020ea78.png">

[2021-05-07 18:28] bbondy opened #15688 "Update token list for Crypto Wallets extension"
Update token list dependency for brave/ethereum-remote-client.

I noticed we are missing some tokens that MetaMask has like Aave a-tokens.

[2021-05-07 18:48] brasscupcakes commented on #5563
Not sure why Brave doesn't just do away with webtorrent as a default add-on at this point.
Nobody actually prefers using it to using a standalone torrent client and it doesn't generate any revenue.
Years in, most users still consider it an annoyance -- why waste developers' time "fixing" a feature nobody wants when so many valuable features beg for attention?

[2021-05-07 18:50] fmarier commented on #13565
I'm also seeing this on one of my machines (running Debian unstable) at home now:
[code]

However, it works just fine on a different machine (running Ubuntu 20.04) on the same network:
[code]

The only difference I can think of is that I have AppArmor enabled on Debian (`apparmor=1 security=apparmor` boot params), but not on Ubuntu.

[2021-05-07 18:53] w2vy commented on #13565
Can you upgrade the home to Brave 1.25 ?

On May 7, 2021 2:50:49 PM EDT, Francois Marier ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-05-07 19:04] bbondy opened #15689 "Hook up brave wallet page to use new wallet UI when the chrome flag is enabled"
Note, it will still only use mock data.

[2021-05-07 19:14] howdyAnkit commented on #15629
Yeah Exactly Disabling the Shield the Captcha seems to be working Fine.

[2021-05-07 19:19] mapninja commented on #7094
Bumping this unresolved issue.

[2021-05-07 19:28] LaurenWags commented on #15424
Verified passed with

[code]

Verified STR from description and additional scenarios listed below.

<details>
<summary>Scenarios</summary>

**Scenario 1 - US region w/ anon wallet**

Confirmed correct messaging in anon wallet case for the 4 publisher types below.

Unverified Publisher | Connected Publisher | Uphold Publisher | bF Publisher
----- | ----- | ----- | -----
<img width="1340" alt="Scree

[2021-05-07 19:36] fmarier commented on #13565
I disabled AppArmor and tried these versions of Brave:
[code]
Same problem: I can't see the local printer that's advertised on the network and that I can see just fine on Ubuntu.

[2021-05-07 19:38] #15676 closed

[2021-05-07 20:00] wknapik commented on #13565
@fmarier anything in `cupsd` logs, or [webui](http://localhost:631/)?

[2021-05-07 20:24] stephendonner commented on #15678
Verified `PASSED` using

Brave | 1.24.83 Chromium: 90.0.4430.93 (Official Build) (x86_64)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | macOS Version 11.3.1 (Build 20E241)

Found and filed https://github.com/brave/brave-browser/issues/15686 which turns out to be what we want -- given we'd prefer having users enable Auto-Contribute in this scenario,

[2021-05-07 20:24] #15678 closed

[2021-05-07 20:27] mkarolin opened #15690 "Cr91 follow-up: Fix omnibox selection color."
Due to cr91 upstream change https://source.chromium.org/chromium/chromium/src/+/c042fff0a7823aa4ebb0494d5b094f67f15aa4b3 the omnibox selection color is now the same color as the focus ring of the omnibox. Since we override the focus ring to be our brand color, the selection is no also the brand color, which we don't want.

Revert the omnibox selection color to what it was in cr90.

STR:

1. Start

[2021-05-07 21:11] stephendonner commented on #15613
Verified `FIXED` using

Brave | 1.26.11 Chromium: 90.0.4430.93 (Official Build) nightly (x86_64)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | macOS Version 11.3.1 (Build 20E241)

Steps:

1.  launched browser
2.  enabled Rewards; skipped onboarding tour
3.  opened a few new-tab pages
4.  typed `abc` in the URL bar
5.  waited for ad notification to

[2021-05-07 21:15] stephendonner commented on #15613
Marking as `QA/Test-All-Platforms` as -- especially Linux, with its many window managers -- can have different focus issues/behaviors.

[2021-05-07 21:15] rebron commented on #14116
cc: @wknapik

[2021-05-07 21:27] rebron commented on #14139
Hi @Ayfri Still having issues with our latest version 1.24.82?
brave://settings/system If you toggle hardware acceleration off that does help.

Also, if you can paste your data from brave://gpu that would help us out.

[2021-05-07 21:34] #15648 closed

[2021-05-07 21:41] rebron commented on #14216
`https://flibusta.is/` Seems to have their cert error resolved.

Need to verify if this is still an issue with this error interstitial with another example.

[2021-05-07 21:49] w2vy commented on #13565
I have version 1.23.75 on laptop and desktop.

Laptop works ok, desktop no printer found from brave, system dialogs have it

Nothing in cups access or error log

What is webui?

On May 7, 2021 4:00:20 PM EDT, Wojciech Knapik ***@***.***> wrote:
***@***.*** anything in `cupsd` logs, or [webui](http://localhost:631/)?

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-05-07 21:53] rebron commented on #14293
@unillama15 Can you file this same issue here: https://github.com/tjhrulz/WebNowPlaying-BrowserExtension/issues

[2021-05-07 21:55] rebron commented on #14304
Hi @rajinder-yadav Are you still having this issue with our latest 1.24.82?

[2021-05-07 21:58] rebron commented on #14344
@srirambv When you get a chance, can you re-check this? We're on 1.24.82 now in release channel so this may no longer be an issue.

[2021-05-07 22:10] #15670 closed

[2021-05-07 22:13] Nicola-Sergio opened #15691 "Brave Rewards counter"
## Reward counter
Not always, but sometimes when the browser is started the counter shows distorted figures of the real rewards generated. This situation (sometimes) resolves itself after a few minutes. Sometimes to forcibly refresh the rewards counter you need to refresh the page many times and it doesn't always work.
## Brave Ads
Unfortunately, the setting for how often the ads are sent is not r

[2021-05-07 22:21] Nicola-Sergio commented on #15691
I hope that these issues are at best resolved.

[2021-05-07 22:24] fmarier commented on #14058
@pachainti Can you describe exactly the steps you are following in order to test this and the results you are seeing?

[2021-05-07 22:24] rebron commented on #14410
Closing, looks it's working as intended. Thanks @alekny

[2021-05-07 22:24] #14410 closed

[2021-05-07 22:30] rebron commented on #14460
@baermathias Are you still having this issue on 1.24.82 and wondering if shields is the issue? Can you disable shields and see if that does it?

[2021-05-07 22:34] rebron commented on #14464
Hi @LorisTecnology Are you still seeing this issue on 1.24.82. Also, we'll need a lot more detail/specifics not sure what you mean by glitch wha you're experiencing. The more details the better including operating system, example pages, etc.

[2021-05-07 22:44] rebron commented on #14467
An overlay button on the video to get into PIP mode. There is redundancy here since there is a way to get into PIP mode, just not as discoverable.

<img width="162" alt="Screen Shot 2021-05-07 at 3 40 13 PM" src="https://user-images.githubusercontent.com/5951041/117515297-b0961a80-af4a-11eb-87b5-0531c186f395.png">

[2021-05-07 22:47] rebron commented on #14482
@srirambv For this, if you type in espn.in directly the favicon shows? I'm seeing it show when I go directly to the site.

[2021-05-07 22:51] rebron commented on #14493
@a-ditucalan How are you adding padding and changing the line-height? Making those changes aren't something we support.

[2021-05-07 23:07] TheDiscordian commented on #14410
I don't understand why it'd default to searching it. You're talking about the port, but I'm talking about the URI, the prefix. Surely you must be able to detect a URI prefix like `http://` and simply not search for it, but instead give some other error? I can't imagine a scenario where a user is typing out `http://` at the beginning of their Google search.

If it's working as intended then so be i

[2021-05-07 23:39] kjozwiak opened #15692 "can't claim grants on staging when using `aab` builds"
## Description

Originally found/reported by @stephendonner, it looks like we can't claim grants on staging due to the following:

[code]

We should also check and ensure this isn't happening on production or we'll run into a lot support/issues when users start receiving their ad grants.

## Steps to reproduce

   1. install Brave using an internal sharing link (used `1.24.83 Chromium: 90.0.4430.9

[2021-05-07 23:40] kjozwiak commented on #15692
Labeled as `release/blocking` as we need to make sure this isn't happening on production either.

[2021-05-08 00:03] rajinder-yadav opened #15693 "unable to play udemy videos"
## Description

videos from udemy no longer play

## Steps to Reproduce

   1. log into udemy
   2. play a video

## Actual result:

video does not play

## Expected result:

video plays

## Reproduces how often:

## Brave version (brave://version info)

Brave | 1.24.82 Chromium: 90.0.4430.93 (Official Build) (64-bit)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/44

[2021-05-08 00:05] rajinder-yadav commented on #14304
let me get back to you in a few days, i do notice i have this version installed

[2021-05-08 00:07] rajinder-yadav commented on #15693
![snap-40](https://user-images.githubusercontent.com/439226/117518977-d4b82280-af6f-11eb-8844-bc6ba397efe4.png)

[2021-05-08 00:08] rajinder-yadav commented on #15693
my guess is this problem showed up no less than a week ago

[2021-05-08 00:14] ryanbr commented on #15655
If you have a VPN, try re-refresh the page from another location / in private window mode also.

Not specific to Brave, but looking through other users issues on /r/youtube, comments issues are quite common https://old.reddit.com/r/youtube/search?q=comments&restrict_sr=on&sort=new&t=week

[2021-05-08 00:22] ryanbr commented on #14460
Just to add to the thread,

1. Try with no extensions enabled, test in private window mode.
2. Does the performance improve with resolution changes?
3. How does Chrome perform on the same computer?
4. Check/Screenshot `≡` -> `More Tools` -> `Task Manager` to show tab usage/perf

[2021-05-08 00:42] ryanbr commented on #15629
Which shield setting is causing it?

[2021-05-08 01:27] Hoosier3 opened #15695 "Brave minimizing when clicking the back button"
## Description

Minimizing or changing tabs while on a webpage and resuming your tab will minimize Brave when clicking the back button.

## Steps to reproduce

   1. Open Brave
   2. Go to any webpage
   3. Minimize or change tabs

## Actual result

When resuming the webpage and you click the back button, Brave will minimize.

## Expected result

To go back to the search engine's page.

## Issue r

[2021-05-08 01:29] salehif opened #15696 "Save as type *.html *.mhtml problem"
## Description
if I tries to save page "Save as..." the "save as type" shows incorrect extension

![2021-05-08_042434](https://user-images.githubusercontent.com/23007602/117521368-18357f80-afb6-11eb-8e11-f440884426bd.jpg)

## Actual result:
Save as type shows incorrect extension

## Expected result:
show correct extension

## Reproduces how often:
Always

## Brave version (brave://version info)
Br

[2021-05-08 02:36] vinniejames commented on #3951
No

On Thu, Apr 29, 2021 at 8:47 AM Nixccc ***@***.***> wrote:

[2021-05-08 04:46] keur opened #15697 "speedreader make scoring more strict"
Increase the paragraph length threshold to 4 sentences if the document is not explicitly marked as an article

[2021-05-08 04:51] keur commented on #15697
cc @rebron this will fix the pages you mentioned to me in DM, and cover cases like it.

[2021-05-08 05:05] antonok-edm opened #15698 "Mock Brave browser process for unit testing"
Following up on work from #8632, we have comparatively low unit test coverage compared to browser tests. This is especially apparent for the adblock service; which has historically relied heavily on accesses through `g_brave_browser_process`. As an MVP, it would be ideal to create a mocked `BraveBrowserProcess` class that can be populated with an `AdBlockService` instance so that `BraveAdBlockTPNe

[2021-05-08 05:11] dreamer820 commented on #13182
♥

[2021-05-08 08:06] DarkAlchy commented on #781
I just left Firefox for Brave, but this is utter nonsense.  If I wanted to be forced to use Gmail for my mailto (only extensions for that) or none in Brave I am stuck using Firefox.  In Chrome I can set it to whatever site I want to handle my email (or program), but not in Brave?

[2021-05-08 08:55] Ayfri commented on #14139
Hi, no everything is good for now !

[2021-05-08 08:59] howdyAnkit commented on #15629
It's the **Brave Shield** @ryanbr situated inside the URL bar beside Brave Rewards.

[2021-05-08 09:22] ryanbr commented on #15629
Expand the shield icon, disabling which option (Ads/Trackers or Cookies, or fingerprinting) is the fix?

[2021-05-08 09:40] howdyAnkit commented on #15629
Allow all trackers and ands is the fix

![test](https://user-images.githubusercontent.com/40737659/117534504-5743ef00-b00f-11eb-826d-1267b01b6805.PNG)

[2021-05-08 10:04] ryanbr commented on #15629
Ah great, can you copy the blocked items (when ads/trackers is enabled), and paste the url's here

[2021-05-08 12:26] Redsandro commented on #1475
In my opinion the Brave Rewards button can be visible by default in order to give the Brave devs a chance to onboard some people, but upon clicking on it there should really be an option to opt-out completely, hiding the Brave Rewards button.

[2021-05-08 14:06] forest-cat commented on #15655
I don't know how i've changed nothing but the Error fixed itself, i looked also on reddit but no one seemed to have the same problem. Because the Error is no longer existing it seems to have no reason to try it out with vpn. Maybe a pc restart fixed it or it was an update, if you don't answer or have some questions in some hours i will close this issue

[2021-05-08 14:31] manikandancode opened #15699 "Increase the maximum number of Brave Rewards wallet instances can be linked to a crypto custodian account"
Increase the maximum number of Brave Rewards wallet instances can be linked to a uphold account (crypto custodian account ). Current limit is 4.  this is not enough for most users (at least for me. using 6 instances. 2 windows 10 ( work and Home), 1 windows 7, 2 Linux (work and home) and 1 android)
Also do not count disconnected from the custodial account (after some time) or uninstalled brave ins

[2021-05-08 15:43] Miyayes commented on #15699
We have existing plans for this (and some other issues logged for it at this time).

[2021-05-08 15:43] #15699 closed

[2021-05-08 15:44] Miyayes commented on #15691
To be sure: the "ads per hour" is a **maximum**, and not a minimum. So, even if you get 0 ads in an hour, that is logically consistent with an "**up to** 5 ads" setting!

[2021-05-08 15:47] Miyayes commented on #15691
I believe this should be resolved with:

https://github.com/brave/brave-browser/issues/15460

[2021-05-08 15:56] #15335 closed

[2021-05-08 16:20] baermathias commented on #14460
@rebron Just tried it out with 1.24.82 without shields --> still the same

@ryanbr tried rpivate mode, disabled extensions, tried it on another device with different resolution --> still the same

Here are two screenshots of the task manager, you can see that Chromium uses much more GPU memory and in comparison performs very well, it is 100% fluent I would say.

Brave:
![Screenshot from 2021-05-08

[2021-05-08 16:43] adamu commented on #13222
I'm just trying out brave, but this is a blocker for me. There is no option to disable this as I have not agreed to the rewards ToS:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/498229/117546935-dfee7980-b067-11eb-9c09-ba6902af67a2.png">

[2021-05-08 18:33] Minecodes opened #15700 "Brave Tor CLI Argument doesn't works"
I tried on my PC to make an Tor shortcut for Brave, but the argument `--tor` doesn't works anymore.

I'm using Windows 10 newest version and Brave newest version with 64bit on an Intel Processor

I tried it with:

- `brave --incognito --tor`
- `brave --tor`
- `brave --tor --incognito`

[2021-05-08 19:36] UndercoverNL opened #15701 "PC / Brave laggs on full screen website"
## Description
When any site on full screen (F11) Brave, and my full pc is lagging enormously. It is not an hardware isue since my CPU is running at 12% (i9-10900k) and my GPU is running at 6%

## Steps to Reproduce

   1. Press F11 on any site
   2. start and stay moving your mouse
   3. you will see it become lagging within 10 to 20 seconds

## Actual result:
Whole PC + Brave lagging

## Expecte

[2021-05-08 20:31] drokath commented on #12075
@fmarier exactly. I will retest this issue in the coming day.

[2021-05-08 22:39] #15697 closed

[2021-05-08 23:42] ryanbr commented on #15655
Good to see it's resolved. From historical comment issues on youtube its all serverside issues.

[2021-05-08 23:42] #15655 closed

[2021-05-09 02:12] ryanbr commented on #15629
Any adblock filters enabled in `brave://adblock` ? @howdyAnkit

[2021-05-09 02:31] ryanbr opened #15702 "Anti-adblock on slate.com showing."
## Description
`Slate.com` showing anti-adblock (using tinypass)

## Steps to Reproduce

   1. Open `slate.com` then open a few articles.
   2. Expect no anti-adblock
   3.

## Actual result:

![slate com](https://user-images.githubusercontent.com/1659004/117558503-22e53700-b0d2-11eb-9da7-9c55207a4363.png)

## Expected result:
No anti-adblock

## Reproduces how often:
Easily.

## Desktop Brave ver

[2021-05-09 03:35] ryanbr commented on #15693
Hey I've tested this previously in https://github.com/brave/brave-browser/issues/15110, and widevine is now a requirement

Can you clear cookies/and relogin and ensure widevine is enabled? @rajinder-yadav

[2021-05-09 03:40] ryanbr commented on #15701
As a test, can you try in private window mode, and open youtube in fullscreen? (and test in 720p/1080p/1440p/etc) does it matter resolution.  Which extensions do you have installed? @UndercoverNL

[2021-05-09 03:51] ryanbr commented on #15696
Just tested this, am I doing this correct? cycling between "Save as type"  option changes the file name here. Should be no difference between Brave and Chrome here @salehif

![saveas](https://user-images.githubusercontent.com/1659004/117560024-42825c80-b0de-11eb-9a4d-18658d39b08f.gif)

[2021-05-09 03:53] #15668 closed

[2021-05-09 03:58] salehif commented on #15696
need

so weird, I just tried again and it's now fixed!

maybe this related to OS more than browser

anyways, this issue will be closed.

[2021-05-09 03:58] #15696 closed

[2021-05-09 04:37] howdyAnkit commented on #15629
Hey Ryan Find the attached link for Links blocked.
And no not any other adblock filters enabled I am attaching an Image to that as well below

https://pastebin.com/RpYbHFaC

![adblock](https://user-images.githubusercontent.com/40737659/117560773-544c0b80-b0ae-11eb-9b60-0f391422589a.PNG)

[2021-05-09 04:45] rajinder-yadav commented on #15693
Perfect, that fixed my problem, thanks!

[2021-05-09 04:45] #15693 closed

[2021-05-09 04:49] rajinder-yadav commented on #14304
Hi I am closing this off, looks like the problem is fixed, I haven't seen issues wit hotmail hanging.

[2021-05-09 06:47] tortino opened #15703 "current tab frozen after sleep"
## Description

after my windows 10 pc goes to sleep  and I wake it up then the current brave tab is frozen.
I can unfreeze it by changing tab.
it started happening a few release ago, before it was running perfectly.

## Steps to Reproduce

   1.  open brave
   2. let the pc go in sleep mode
   3. wake it up

## Actual result:

the current tab is frozen (page doesn't scroll)

## Expected result:
t

[2021-05-09 06:48] tortino commented on #15703
happens to other people too:
https://www.reddit.com/r/brave_browser/comments/n7zxud/freezing_after_sleep_mode/

[2021-05-09 06:57] unillama15 commented on #14293
The issue has been fixed with an Extension update

[2021-05-09 06:57] #14293 closed

[2021-05-09 08:02] ryanbr commented on #14304
Thanks for the update @rajinder-yadav

[2021-05-09 08:04] ryanbr commented on #14293
Thanks for update @unillama15

[2021-05-09 08:06] ryanbr commented on #15696
Thanks for the update @salehif

[2021-05-09 10:04] MrinmoyHaloi opened #15704 "New tab page customization"
It would be great If we can set a url for the new tab page.

[2021-05-09 10:13] ryanbr commented on #14460
Unusual. Can you test Brave Beta? https://brave.com/download-beta/ @baermathias

With no extensions, just open github. Which Graphics card and drivers version are you using?

[2021-05-09 10:20] lazabalint commented on #13941
hi,
it seems, that the latest update fixed this, thank you.
I messed a bit with the settings, @jgdhs27 mentioned (thank you), without success. for now switched back to defaults and it works (after ~1 hour of testing)

[2021-05-09 10:23] ryanbr commented on #15703
Does changing GPU Acceleration in `brave://settings/system`  help here?  Also does Chrome do the same thing? @tortino

[2021-05-09 11:50] yuryrodrigues commented on #15664
This feature is very important!
There are tabs  that cannot be discarded, but I don't always have to keep it active.

[2021-05-09 11:52] yuryrodrigues commented on #3017
This feature is very important!
There are tabs that cannot be discarded, but I don't always have to keep it active.

[2021-05-09 12:22] kjozwiak opened #15705 "`verify my wallet` button not working under rewards onboarding via tipping banner"
## Description

Now that https://github.com/brave/brave-browser/issues/15676 has been fixed, it looks like the `Verify my wallet` button doesn't work. It should be opening the `Verify Wallet` modal/screen via `brave://rewards` like other parts of onboarding.

## Steps to Reproduce

   1. clean profile, Japan region, if not enabled by default, enable bF.
   2. navigate to a twitter page or other pa

[2021-05-09 13:00] UndercoverNL commented on #15701
The issue seems to be disipeard after a simple PC restart. Since today its not lagging anymore.

[2021-05-09 13:00] #15701 closed

[2021-05-09 13:46] uBlock-user commented on #15702
Does  `slate.com##+js(aeld, error)` work ?

[2021-05-09 13:51] dodbrian commented on #13565
I've got the same issue:
- Brave is installed using `apt`
- Version 1.24.82 Chromium: 90.0.4430.93 (Offizieller Build) (64-Bit)
- Kubuntu 20.10 x86_64 - 5.8.0-50-generic
- Using network printer

Visible in all other apps except Brave

[2021-05-09 17:53] tmancey commented on #15617
Closing issue as superseded by custom ad notifications

[2021-05-09 17:54] tmancey commented on #10171
@metal3d Ads should not be shown while the browser is in full-screen mode or out of focus, i.e. another app is in focus. Can you please confirm this is working as expected for you? Thank you

[2021-05-09 17:54] #10171 closed

[2021-05-09 17:57] vkkhare commented on #15594
@bsclifton @jsecretan @rebron @anthonypkeane any updates regarding this?

[2021-05-09 18:12] tmancey commented on #15617
Reopening after talking with @jonathansampson

[2021-05-09 19:28] tmancey commented on #13411
Closing issue as @zenparsing has already provided the list

[2021-05-09 19:28] #13411 closed

[2021-05-09 19:30] tmancey commented on #15285
@GeetaSarvadnya This is working as expected as on the video I only see the 2nd "Opened a new tab with id" appear when you open the About page.

[2021-05-09 23:26] vertigo220 commented on #4416
Just had this happen, too, and it's clear I'm going to have to stop using Brave. I've now lost my tabs with Brave both on mobile and desktop, which is completely unacceptable. I use multiple browsers, and Brave is the worst one when it comes to recovering from crashes. Others simply restore the tabs, whereas Brave _constantly_ gives the stupid "oops" or whatever message, requiring you to click it

[2021-05-09 23:56] kjozwiak commented on #15680
Completed the above using the following:

[code]

[2021-05-09 23:56] #15680 closed

[2021-05-10 00:39] simonhong opened #15707 "Crashed while using search.brave.com"
Reported by @jonathansampson

brave://settings/search says default search provider is `Google`.
and preferences file says `search.brave.com` is set to `default_search_provider_data`.
Brave search was set as a default provider before.
and crash happened when tried to open a private window.

https://brave.sp.backtrace.io/p/brave/debug?filters=(_rxid%3Db6aa2600-16ed-4806-0000-000000000000)&fingerprin

[2021-05-10 02:01] #13453 closed

[2021-05-10 05:58] DistantStatic opened #15708 "Sudden slow loading despite reinstall"
## Description

Brave browser has huge slowdowns suddenly. Issue only occurs in normal browsing mode not during incognito mode. Pages load quickly in other browsers as well as in incognito mode, however during normal browsing mode, browser takes forever to load a page. I have checked in developer tools and it relates to how brave is connection to the internet. Again, I have checked my firewall set

[2021-05-10 06:39] ligi opened #15709 "Pages do not load anymore in one profile"
## Description

I have one brave profile that does not load any pages anymore (spinning forever) - it still works in other profiles or incognito mode.

## Steps to Reproduce

Unfortunately I do not know how this profile got corrupted this way

## Brave version (brave://version info)
Version 1.24.82 Chromium: 90.0.4430.93 (Official Build) (64-bit)
on ubuntu linux

## Other Additional Information:

[2021-05-10 06:41] Wileyfox-F1 opened #15710 "Bug in Brave shield!"
## Description
Brave shield itself reverts back to standard settings after I configured it to behave in extreme manner. This problem occurs frequently after the last couple of updates (Fine with previous builds). I noticed this change in behavior when I found an embedded ad in the Yandex images website (Which was not there with extreme behavior).

## Steps to Reproduce

   1. Open the browser for

[2021-05-10 06:55] sbwpchen commented on #8518
Problem is still present in Version 1.24.82 Chromium: 90.0.4430.93 (Official Build) (x86_64 translated). Running MacBook Air (M1, 2020)

[2021-05-10 07:18] photonclock commented on #15709
Same issue here. Brave no longer loads most web pages. Just spinning wheel, pages never load.

[2021-05-10 08:04] #14780 closed

[2021-05-10 08:07] iefremov opened #15711 "Add setting to allow opt-out of Griffin variations"
## Description
we should add a global toggle to preferences below the P3A preference, that would allow a user to opt-out of receiving new variations from griffin backend. This should not affect the variations master preference in https://github.com/brave/brave-browser/issues/15229

## Designs
This toggle should be located in brave://settings/privacy under the P3A option (for now).

![image](https:

[2021-05-10 08:08] iefremov commented on #14780
Edited this issue to only mention full names instead of hashes. For the opt-out toggle on Desktop filed a new one https://github.com/brave/brave-browser/issues/15711

[2021-05-10 08:42] iksinski commented on #15645
Happens to me as well - I'm using MX Master 3

[2021-05-10 09:15] silv3rcat opened #15712 "64bit Brave client doesnt open as of April 17th Update, 32bit client works fine."
## Description
Brave 64bit client not opening upon updating on April 17th 2021 (current version of Brave still produces same issue).  32bit client works fine.

## Steps to Reproduce

   1. Downloaded and installed latest Brave client from website
   2. Launch Brave

## Actual result:
video of issue - https://streamable.com/vcm24m

## Expected result:
Brave opening.

## Reproduces how often:
100% o

[2021-05-10 09:22] simonhong opened #15713 "Show 'Add to sidebar' menu bubble on hovered over item add button"
Sub issue of https://github.com/brave/brave-browser/issues/14980
`Add to sidebar` menu bubble is visible when button is clicked now.
Change to show it when hovered over that button

[2021-05-10 10:03] wknapik commented on #14116
I see `brave` is missing the `wayland` plug. I would guess adding that would solve the issue. I don't have a machine running wayland to test on though. cc: @francois.

[2021-05-10 10:51] simonhong commented on #15713
@karenkliu Sorry, maybe I asked before but forgot. We want to show menu bubble only on hover?
Or showing on hover several times and show it on click?

[2021-05-10 11:22] ryanbr commented on #15708
Can you try removing the existing profile, and retest. How are testing performance to compare load times? @DistantStatic

[2021-05-10 11:29] ryanbr commented on #15702
Thanks for the suggestion, `slate.com##+js(aeld, error)` doesn't work either

[2021-05-10 11:32] simonhong commented on #14950
Re-opened to use as a sub issue of https://github.com/brave/brave-browser/issues/14980

[2021-05-10 11:37] xopez opened #15714 "Double separator line when you can "send to Google phone""
## Description
Hi, if you connect the sync to an android, you can use the "send to google phone" feature. This shows 2 separators in the right click menu under that.
I don't know the condition for the feature since it didn't show up right away

## Steps to Reproduce

   1. Add sync between Desktop and Android
   2. Right click on any page
   3.

## Actual result:

![image](https://user-images.gith

[2021-05-10 11:38] iefremov opened #15715 "DCHECK in BraveProxyingWebSocket on shutdown"
It seems this one can explain many "unrelated" `DumpWithoutCrashing` crashdumps on backtrace related to closed pipe

[code]

[2021-05-10 12:51] karthik-krishnan commented on #14924
Hi, @rebron Any updates on this issue?  Is there a fix branch? I am happy to test it and report my findings.

[2021-05-10 13:32] manningb opened #15716 "Brave back button occasionally doesn't go to the previous page"
## Description
Sometimes when I press the back button it does not go to the previous page but stays on the current page.

## Steps to Reproduce

   1. Go to a webpage, then click on a link to go to the next page
   2. Press the back button
   3. This may or may not result in the page actually going to the previous page

## Expected result:
Back button results in going to the previous webpage in th

[2021-05-10 14:28] LaurenWags commented on #15679
`Brave-Browser-universal` build used:

[code]

`Brave-Browser-x64` build used:

[code]

[2021-05-10 14:28] #15679 closed

[2021-05-10 15:02] kristoferbartinik commented on #15692
I have the same problem.
Brave: 1.23.73 Chromium:90.0.4430.93
I made a post in the community, however, it fell into hold, saying it needs moderation, so far nothing and I can't even comment in the community.

[2021-05-10 15:46] jdnixx commented on #2105
Hey thanks, this is a good workaround. Look forward to a real CLI option though glad to see this just recently got put on the radar

[2021-05-10 16:12] iefremov opened #15717 "Crash while opening brave://sync in incognito"
STR:
1. launch brave, open private or TOR window
2. navigate to brave://sync via omnibox
3. crash

current nightly

Brave | 1.26.11 Chromium: 90.0.4430.93 (Official Build) nightly (x86_64)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}

current beta

Brave | 1.25.53 Chromium: 90.0.4430.93 (Official Build) beta (x86_64)
-- | --
Revision | 4df112c29cfe9a2c

[2021-05-10 16:17] lidel opened #15718 "IPFS badge on built-in ipfs-webui"
Brave 1.26.7 displays "Open using IPFS" badge when `/webui` is opened via the API port:

This introduces confusing behavior, because when the user clicks on the badge, the same CID is loaded  from the Gateway port, which has different Origin than the API port, which in turn asks user to safelist new Origin by setting CORS headers on their go-ipfs node.

I believe the better UX is if  the badge is

[2021-05-10 16:28] DistantStatic commented on #15708
I tested performance by loading static, non internet documents like PDF. They opened just fine. I also compared speeds with 2 different browsers, Edge and Firefox, and both were able to load multiple internet destinations in the time it took Brave to load 1. Woke up this morning and issue is no longer occurring so unfortunately I can't test the new profile. The issue persisted past restarts, reins

[2021-05-10 16:28] #15708 closed

[2021-05-10 16:40] kjozwiak opened #15719 "Manual test run for Tor 1.0.17 component update on macOS x64 (intel)"
### **`macOS 11.0 Big Sur`**

### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Priv

[2021-05-10 16:41] kjozwiak opened #15720 "Manual test run for Tor 1.0.17 component update on Linux"
## Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private Window with Tor` and confir

[2021-05-10 16:43] kjozwiak opened #15721 "Manual test run for Tor 1.0.17 component update on Windows"
### **`Windows 10 x64`**

### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private

[2021-05-10 16:50] mariospr commented on #15717
Just adding some extra info: checked today whether this could have been somehow caused by my mojo migration merged on Friday (see https://github.com/brave/brave-core/pull/8671), but it's not the case (i.e. reverted my changes and still got the crash)

Additionally, I've also checked as per a comment from @iefremov whether the change I proposed in https://github.com/brave/brave-core/pull/8731 could

[2021-05-10 17:01] btlechowski commented on #15681
LGTM

Verification passed on

Brave | 1.24.83 Chromium: 90.0.4430.93 (Official Build) (64-bit)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | Ubuntu 18.04 LTS

[2021-05-10 17:01] #15681 closed

[2021-05-10 17:14] deeppandya commented on #13220
@LaurenWags I am adding the test plan for android.

[2021-05-10 17:37] kjozwiak commented on #15603
Moving this back into the `1.26.x` milestone as this isn't `release/blocking` and landed in `master` only which is `1.26.x`. Once this is uplifted via https://github.com/brave/brave-core/pull/8733, it will be moved into the `1.25.x` milestone.

[2021-05-10 17:41] kjozwiak opened #15722 "Manual test run for Tor 1.0.17 component update on macOS arm64"
### Tor Client Updater

- [ ] For development go-update-server. Run brave-browser with `--user-data-dir=component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [ ] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [ ] Open `New Private Window with Tor` and confi

[2021-05-10 17:45] mihaiplesa commented on #13819
@rebron thoughts - do we want pop-ups? Ideally we'd like to update in the background like on the other platforms.

[2021-05-10 17:54] #13190 closed

[2021-05-10 18:21] bbondy opened #15723 "Fix error from IPFS settings page"
Fix error from IPFS settings page

[2021-05-10 18:21] #15723 closed

[2021-05-10 18:47] LaurenWags commented on #15620
Per discussion with @rebron and @kjozwiak,

- Added bitFlyer two-way wallets for Japan. ([#14591](https://github.com/brave/brave-browser/issues/14591))
- Added support for time limits for web API permissions. ([#14126](https://github.com/brave/brave-browser/issues/14126))

will not be included in the release notes for this hotfix.

[2021-05-10 18:47] #15620 closed

[2021-05-10 18:50] LaurenWags opened #15724 "[Desktop] Release Notes for 1.24.x Release #2"
### Release Notes:

- Enable bitFlyer feature by default. ([#15631](https://github.com/brave/brave-browser/issues/15631))

[2021-05-10 19:15] abstract-arrow commented on #15668
When the address bar is spanned all the way to the end the brave shield icon should be next to the extension's icon with a proper margin.
If there no way to disable the icon at least it should be properly placed in the address bar.

![brave_shield_placement](https://user-images.githubusercontent.com/61705762/117712397-84e49000-b1e9-11eb-9177-24ca28eb0b92.png)

[2021-05-10 19:21] Miyayes commented on #13151
We currently do not have a service or endpoint that lists out the Wallet IDs associated with a single Uphold account, partly for privacy/security reasons.

As long as the Wallet ID in brave://rewards-internals is different for each user profile, then yes, it will consume a slot.

[2021-05-10 19:40] mkarolin opened #15725 "Upgrade from Chromium 90.0.4430.93 to Chromium 90.0.4430.212."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/90.0.4430.93..90.0.4430.212?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-05-10 19:44] kjozwiak commented on #14900
QA we'll only be able to check the `Staging` case on `Android` as there's no way for us to get a production grant so we can meet the 15 BAT limitation before creating an Uphold account. However, we need to wait till we get the RC uploaded by @SergeyZhukovsky into the BETA program as claiming grants doesn't work when you upload the `aab` via the internal sharing tool. Once we get the new RC, we'll

[2021-05-10 19:51] #15705 closed

[2021-05-10 19:58] kjozwiak opened #15726 "Pending verifications/Release Notes from 1.24.x Release #1"
Current list of issues that have been fixed/resolved in [`1.24.x Release #1`](https://github.com/brave/brave-browser/milestone/186) but haven't been verified by QA:

- Update l10n for 1.24.x release (Chromium 90). - #15514
- Use compile-time vars for rewards Uphold settings - #14900 (pending an RC to be uploaded into BETA program)

Current list of issues that were `release-notes/include` but not a

[2021-05-10 19:59] kjozwiak commented on #15620
Created https://github.com/brave/brave-browser/issues/15726 for `Android` 👍 #14741 won't be verified as per https://github.com/brave/brave-browser/issues/14741#issuecomment-837173226.

[2021-05-10 20:02] kjozwiak commented on #15692
Removing the `release/blocking` as this works when claiming grants on `aab` builds that were uploaded into GPS. We'll need to figure out how to get around this re: being able to claim grants on staging on `aab` builds that were downloaded via internal sharing.

This is a different issue and your best bet is going through https://community.brave.com. CCing @Hollons in case he can help re: why your

[2021-05-10 20:26] bsclifton opened #15728 "[Android] Brave Rewards UI 2.0"
## Description
Parent project for tracking a potential Brave Rewards UI refresh (2.0) on Android

For specific issues, please check out this label:
https://github.com/brave/brave-browser/labels/rewards-ui-2.0

[2021-05-10 20:30] bsclifton commented on #15257
Some logging information has been captured with https://github.com/brave/brave-core/pull/8598 (solving https://github.com/brave/brave-browser/issues/15500)

[2021-05-10 20:47] jumde opened #15729 "[hackerone] #1189597"
https://hackerone.com/reports/1189597

[2021-05-10 20:50] bsclifton commented on #15257
We should definitely log `drain_id` if possible; also the text errors logged could be more specific / helpful as we're now logging them with https://github.com/brave/brave-core/pull/8598

[2021-05-10 20:53] keur opened #15730 "speedreader: Fix overcounting in scorer"
Some sites with large amounts of whitespace are being over scored, so let's prune the whitespace thoughtfully.

- [x] Don't count consecutive whitespace when scoring
- [x] Fix list node logic in scorer

[2021-05-10 21:04] iamcraigsnedeker commented on #15002
I've been having this problem for quite some time now; I've never been able to transfer BAT to uphold for as long as I've had Brave. I've attached the errors that the inspector pulled.

On the brave://rewards-internals page, I have **_Wallet status: No wallet_**. I do have an uphold wallet, which is connected to Brave on Uphold's end, but I can't connect it on Brave's end.

![shot_210510_170108](h

[2021-05-10 21:50] mkarolin opened #15731 "[MacOS] Signing is failing on Nightly build due to helper (Alerts) app."
After updating the `master` branch to cr91, building Nightly fails with:

<pre>
Brave Browser Nightly.app: nested code is modified or invalid
Brave Browser Nightly.app/Contents/Frameworks/Brave Browser Nightly Framework.framework
file modified: Brave Browser Nightly.app/Contents/Frameworks/Brave Browser Nightly Framework.framework/Versions/Current/Helpers/Brave Browser Nightly Helper (Alerts).app

[2021-05-10 22:32] mkarolin opened #15732 "Text selection and focus should be in the same color family."
Per @karenkliu

![image](https://user-images.githubusercontent.com/41635752/117732512-04f50080-b1be-11eb-8c78-87f9e79b6643.png)

This is a follow up to https://github.com/brave/brave-browser/issues/15690

[2021-05-10 22:39] ryanbr opened #15733 "Flicking issues during youtube playback."
## Description
Youtube playback flickering

## Steps to reproduce

   1. Open youtube.com (on a Samsung j2 prime)
   2. Flickering while playing youtube video

## Actual result
**Brave:**
![brave-samsung-j1](https://user-images.githubusercontent.com/1659004/117731921-087e9b00-b243-11eb-9a1b-d6f26b677227.gif)

## Expected result
**Chrome:**
![chrome-samsung-j1](https://user-images.githubusercontent

[2021-05-10 23:38] Dr-Sauce commented on #15704
Check [this](https://www.reddit.com/r/brave_browser/comments/mt9vf7/change_new_tab_wallpaper_2021/)
![image](https://user-images.githubusercontent.com/82555878/117736480-a3bb4480-b232-11eb-97c0-78b37f31f18c.png)

[2021-05-11 01:22] fmarier opened #15734 "Use LZO compression in the Brave Snap"
This apparently helps speed up application launch:

    compression: lzo

See https://forum.snapcraft.io/t/how-to-switch-your-snap-to-use-lzo-compression/21714.

Originally reported on https://community.brave.com/t/brave-linux-snap-enhancement/245652.

[2021-05-11 01:40] WA9ACE commented on #14830
I have this same problem intermittently on my M1 Macbook as well. If I move it from my macbook's screen to another display like a sidecar ipad everything appears correctly. This has been occuring off and on since the brave release for apple silicon.

[2021-05-11 02:19] kjozwiak opened #15735 "Manual test run on macOS (Intel) for 1.24.x Release #3"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window
- [x] Ensured that the following

[2021-05-11 02:20] kjozwiak opened #15736 "Manual test run on Win x64 for 1.24.x Release #3"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-05-11 02:23] kjozwiak opened #15737 "Manual test run on macOS (arm64) for 1.24.x Release #3"
### Installer

- [x]  Check signature: If OS Run `"spctl --assess --verbose /Applications/Brave Browser.app"` and make sure it returns `accepted`.
- [x] Ensured that the following executables work as expected
   - [x] `Brave-Browser-universal.dmg`
      - [x] Check executable size, should be `~470mb`
   - [x] `Brave-Browser-universal.pkg`
       - [x] Check executable size, should be `~470mb`
   -

[2021-05-11 02:24] kjozwiak opened #15738 "Manual test run on Linux for 1.24.x Release #3"
### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Widevine

- [x]  Verify `Wid

[2021-05-11 02:26] kjozwiak opened #15739 "Manual test run on Android Tab for 1.24.x Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-05-11 02:27] kjozwiak opened #15740 "Manual test run on Android ARM for 1.24.x Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Startup

- [x] Verify that Brave is only contacting `*.brave.com` endpoints on first launch using either `Charles Proxy`, `Fiddler` or `Wireshark` (or a similar application)

## Custom tabs

- [x] Make sure Brave handles links from Gma

[2021-05-11 02:28] kjozwiak opened #15741 "Manual test run on Android x86 for 1.24.x Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [x] Make sure Brave handles links from Gmail, Slack
- [x] Make sure Brave works as custom tabs provide with Chrome browser
- [x] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [x]

[2021-05-11 02:29] kjozwiak opened #15742 "Release checklist for `1.24.x - Release #3`"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6
  - [x] macOS
  - [x] Windows
  - [x] Linux
- [x] Double check the previous rel

[2021-05-11 02:31] ryanbr commented on #15733
Probably only affecting older Android builds the fix was to disable `Hardware video acceleration` via `brave://flags`
![screenshot_20210510-215220_brave_-_beta](https://user-images.githubusercontent.com/1659004/117749229-7d62cc80-b265-11eb-951f-c21595574dba.jpg)

[2021-05-11 02:31] #15733 closed

[2021-05-11 03:28] btlechowski commented on #15153
Currently, the promoted content ads are not served on any server (prod, staging, dev) so we are blocked. I will move the milestone to 1.26.x.

[2021-05-11 04:08] megaspaz opened #15743 "Reddit shows unverified creator who is verified."
## Description

## Steps to Reproduce

   1. As a verified creator, after logging into reddit, go to your profile page -> `https://www.reddit.com/user/<some_username>`
   2. Click the rewards icon in the address bar
   3.

## Actual result:

The dropdown shows as "Not verified yet"

![image](https://user-images.githubusercontent.com/3453939/117755931-0d573680-b1d2-11eb-9d12-2481a0f9c47a.png)

## E

[2021-05-11 04:50] GeetaSarvadnya commented on #15721
Verification passed on

[code]
![image](https://user-images.githubusercontent.com/38657976/117759464-775af480-b241-11eb-88a0-af3e2bd6ecfd.png)

[2021-05-11 05:10] GeetaSarvadnya commented on #15721
Verification passed on

[code]
Ensured that the correct `Tor` component was being downloaded via `--use-dev-goupdater-url`:

![image](https://user-images.githubusercontent.com/38657976/117761626-4e3c6300-b245-11eb-8a88-f27c621f3849.png)

[2021-05-11 06:51] #15721 closed

[2021-05-11 07:18] kjozwiak commented on #15662
Went through the following OS’s using `1.24.84 Chromium: 90.0.4430.93` and made sure that the correct Tor binary was being downloaded as per https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6:

* `macOS 10.15.6 x64` - **PASSED**
[code]
* `Win 10 x64` - **PASSED**
[code]
* `Ubuntu 20.04 x64` - **PASSED**
[code]

[2021-05-11 07:25] #15672 closed

[2021-05-11 07:40] lukeansell opened #15744 "Cannot locate Brave shortcut after update"
## Description

After an update I no longer have the Desktop shortcut nor can I find it if I search for it.

## Steps to Reproduce

   1.  Update
   2.  Unable to locate shortcut

## Actual result:

Cannot locate Brave shortcut

## Expected result:
Brave shortcut on my desktop where it was before.

## Reproduces how often:

Has happened after the last two updates

## Brave version (brave://version

[2021-05-11 08:04] srirambv commented on #11526
Verification passed on OnePlus 6T with Android 10 running 1.25.51 x64 Beta build
- Verified app switcher is shown when clicking on a call to number
![image](https://user-images.githubusercontent.com/17010094/117778865-ffd39800-b235-11eb-911e-1a95d497edf6.png)
-----------
Verification passed on Samsung Tab A with Android 10 running 1.25.51 x64 Beta Build
- Verified switches to Phone app when clicke

[2021-05-11 08:30] srirambv commented on #14662
Verification passed on OnePlus 6T with Android 10 running 1.25.51 x64 Beta Build
- Verified steps from issue description
- Verified no placeholder message is shown on NTP

https://user-images.githubusercontent.com/17010094/117783857-d6693b00-b23a-11eb-8016-f231ae4f8ff5.mp4

------------
Verification passed on OnePlus 6T with Android 10 running 1.25.51 x64 Beta Build
- Verified steps from issue des

[2021-05-11 08:30] VictorieeMan commented on #15687
I can confirm that I get the exact same problem independently of your instance. This happened before I found your GitHub issue here, and the description you have given fits my problem perfectly. In other words it replicates.

Just out of interest, have you connected a Twitter account to your Reddit account as well? Because in my case it seems like Brave Rewards try to use my Twitter handle as my R

[2021-05-11 09:29] GeetaSarvadnya commented on #15676
Verification passed on

[code]
- Verified the STR from the description

<details>
<summary>Clean profile</summary>

- Confirmed AC slide is not shown in the banner rewards onboarding tour
- Confirmed settings slide is not shown in the banner rewards onboarding tour
- Confirmed bF slide is shown in the banner rewards onboarding tour

Example | Example | Example | Example | Example | Example | Examp

[2021-05-11 10:37] simonhong opened #15745 "Incorrect sidebar mouse event detect area with On click option"
As below image show, event detect area is not fit to web contents area.
This only happens on Windows.
![image](https://user-images.githubusercontent.com/6786187/117802097-fe36be00-b28f-11eb-8bb4-d267a1350fdc.png)

[2021-05-11 10:51] limengyu1990 opened #15746 "please add [translate web page] button"
Please add such a function, users can choose to translate the web content in the specified language at any time.

[demand](https://www.reddit.com/r/BATProject/comments/n9u3d8/please_add_such_a_function_users_can_choose_to/)

[2021-05-11 10:56] limengyu1990 commented on #15746
Translation is a very important function. Once brave realizes this function, I can completely uninstall chrome, but now I can't, because I can browse some English websites. If I don't have the function of automatic translation, it's too difficult..

[2021-05-11 11:07] theprop opened #15747 "How to disable endpoint dependencies?"
## Description

In Android builds, none of the shields work without endpoint authentication.  How can endpoint authentication be disabled so that the shields work?  Is there a particular file or any code to be commented which would disable that requirement so that the shields work?  In older builds, there was no such endpoint dependency.  Thanks!

## Steps to reproduce

   1.  Run current Brave fo

[2021-05-11 11:19] iefremov commented on #13890
@tmancey I think we've covered everything in https://github.com/brave/brave-browser/issues/14172, otherwise please reopen

[2021-05-11 11:19] #13890 closed

[2021-05-11 11:55] #15605 closed

[2021-05-11 11:55] VictorieeMan commented on #15687
Yes I have linked the twitter as well, things over at twitters does work fine though. I've only experienced problems with Brave Rewards over at Reddit.

Interesting suggestion @meejle, I tried it out and got the same result as you mentioned (Clicking other profiles to tip them) and got the following results:

1. Clicking u/TheVictorieeMan (Tip, myself): https://u.pcloud.link/publink/show?code=XZnl

[2021-05-11 12:02] srirambv commented on #14942
Verification passed on OnePlus 6T with Android 10 running 1.25.51 x64 Beta build
- Verified test plan from https://github.com/brave/brave-core/pull/8468

<img width=500 src=https://user-images.githubusercontent.com/17010094/117810847-ca3fa680-b257-11eb-834e-64cceab329b7.png> | <img width=1200 src=https://user-images.githubusercontent.com/17010094/117810744-aed49b80-b257-11eb-90bc-79ac1d67d15d.png>

[2021-05-11 12:59] srirambv commented on #14482
This seems to be working on

Brave | 1.26.11 Chromium: 90.0.4430.93 (Official Build) nightly (64-bit)
-- | --
Revision | `4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}`
OS | Linux

Tried the following

- Add `espn.com` as a favourite
- Visit the page by manually typing in URL
- Open a new tab favourite fetches the favicon

- Add `espn.in` as a favourite
- Visit the page `

[2021-05-11 13:02] CaioPlazas opened #15748 "New tab issue - Hanging while loading"
## Description

Opening a new tab and trying to access a website generally ends with hanging of the loading, resulting in a blank (white) tab. After that, I need to try to access a website again and be on the tab for it to load.

## Steps to Reproduce

   1. Open a new tab
   2. Try to access a website or click a bookmark
   3. Tab will be blank (white)
   4. Tab will stop loading
   5. Try to acc

[2021-05-11 13:09] kristoferbartinik commented on #15692
I did not understand well, in configurations that release/blocking. Because I did not do any configuration, I just left the default.

[2021-05-11 13:15] joelgriffiths commented on #7200
This really needs to be an option. At the moment, there is a Metamask update that is blocking the entire wallet under some conditions, and the only solution is to roll back to 9.4.0 or lose access to to the entire wallet. I was shocked to find that there is no way to prevent Brave from automatically updating extensions.

[2021-05-11 13:36] #15636 closed

[2021-05-11 14:08] 0xsan-z commented on #13151
Thanks for getting back to me.
I understand your replies. But Is there a way in which I can assign which 4
browsers I can attach to uphold?
As currently I have no idea which of them are contributing to uphold and
also it is quite possible that I am not using that device which is attached
to uphold,
so I am unable to take the full benefit of the Brave Rewards.

Thanks,
S

On Mon, May 10, 2021 at 3:

[2021-05-11 14:20] bbondy opened #15749 "Prefer DNSLink when possible for Unstoppable Domains and ENS"
For our Unstoppable Domains and ENS we're currently resolving to HTTP.  We should prefer to resolve to IPFS first via DNSLink information if IPFS is setup in the user's browser.

<img width="678" alt="Screen Shot 2021-05-11 at 10 17 04 AM" src="https://user-images.githubusercontent.com/831718/117830874-09fb9380-b242-11eb-994a-2359904bba07.png">

[2021-05-11 14:22] bbondy opened #15750 "Unstoppable Domains IPFS for local gateway should show ipfs://"
When Unstoppable Domains is set to resolve via Ethereum, and the local gateway is in use, we resolve to an IPFS URI like:
http://bafybeihihoci7ocqupvuda3ldpiy5zvjctgybg32jxpppplkstdwtq7dhi.ipfs.localhost:48081/

<img width="678" alt="Screen Shot 2021-05-11 at 10 21 19 AM" src="https://user-images.githubusercontent.com/831718/117831520-a3c34080-b242-11eb-89e5-b832322b9fd9.png">

Instead we should s

[2021-05-11 14:24] bbondy opened #15751 "ENS should have another option for Ethereum like Unstoppable Domains does"
We currently don't have an Ethereum option for ENS, we should add one like Unstoppable Domains has:
<img width="687" alt="Screen Shot 2021-05-11 at 10 23 17 AM" src="https://user-images.githubusercontent.com/831718/117831862-fbfa4280-b242-11eb-94be-4fc09499e4f2.png">

[2021-05-11 14:49] lazabalint commented on #13941
Nevermind, it's back again...

Version 1.24.82 Chromium: 90.0.4430.93 (Official Build) (64-bit)

[2021-05-11 15:39] #15724 closed

[2021-05-11 15:39] zenparsing opened #15753 "Rewards page is crashing with WebUI message handler check"
### Steps to reproduce:

- Start browser with a clean profile.
- Open the rewards panel.
- Dismiss onboarding.
- Click "Rewards Settings".

### Stack

[code]

[2021-05-11 15:48] mariospr opened #15754 "Setting "Allow Google login for extensions" does not work"
## Test plan
See https://github.com/brave/brave-core/pull/14069

## Description

Today, @AlexeyBarabash  and me have found what seems to be a bug in the "Allow Google logins for extensions" feature, or at least in how it should work according to the [information published in the wiki](https://github.com/brave/brave-browser/wiki/Allow-Google-login---Third-Parties-and-Extensions#extensions): _"When

[2021-05-11 15:53] mariospr commented on #15754
Some extra info after debugging with @AlexeyBarabash for a bit:

It looks like this could be caused because of `profile->GetPrefs()->GetBoolean(prefs::kSigninAllowed)` always returning `false` at `src/chrome/browser/extensions/api/identity/identity_get_auth_token_function.cc`:
[code]

Another interesting data point is that 7 months ago the following landed in ToT:
https://chromium-review.googlesou

[2021-05-11 16:57] tmancey opened #15755 "Allow users to export/import their user profiles"
Allow users to export/import their user profiles. Users are unable to transfer their settings to new computers due to the encryption of certain data.

[2021-05-11 16:58] bbondy opened #15756 "Split out new Wallet page into its own pak and bundle"
Currently the old and new wallet page at brave://wallet (which is controlled by the chrome://flags setting for new native wallet) uses the same pak and bundle.  It would be better to split this out into its own HTML, JS, and build config.

[2021-05-11 17:14] LaurenWags commented on #15561
Upgrade checks performed with `1.24.84`, other tests performed with `1.24.83`. Tests were as expected.

[2021-05-11 17:16] Areckleh commented on #2362
+1 Community: https://community.brave.com/t/google-drive-notifications-still-not-working/240048/7

[2021-05-11 17:21] Sov-trotter opened #15757 "Advanced search options"
## Description

The search bar doesn't seem to have advanced options like match case or only highlight whole words like in firefox.

## Steps to Reproduce

   1.  `Ctrl` + `f`

## Actual result:

![image](https://user-images.githubusercontent.com/43717431/117858201-431c1e00-b2ab-11eb-965c-cf074df67ade.png)

## Expected result:
![as in firefox](https://user-images.githubusercontent.com/43717431/117

[2021-05-11 17:22] spylogsster opened #15758 "Remove redundant classes for import"
After refactoring from https://github.com/brave/brave-core/pull/8771 we do not need anymore dedicated classes.

Removed File/Text/Directory import classes, use base class instead
Move blob creation to network utilities
Avoid of base::Uretained

[2021-05-11 17:35] stephendonner commented on #15562
Verified `PASSED` using Brave `1.24.84, Chromium 90.0.4430.93` on Android 9, Google Pixel XL, arm64.

[2021-05-11 18:25] lidel commented on #15750
How does Ethereum resolution work? If it is using https://resolver.unstoppable.io/dns-query or https://eth.resolver.cloudflare-eth.com/dns-query then we will be able to keep `ipns://` when  go-ipfs 0.9.0 ships (https://github.com/brave/brave-browser/issues/15749#issuecomment-838955191)

[2021-05-11 18:27] rebron commented on #15445
@iefremov Can we get uplifts started for this, we want to get this is in for 1.24.x
cc: @antonok-edm @keur

[2021-05-11 18:28] Miyayes opened #15759 "[Android] Update publisher/creators semi-verified/connected state text: "This Brave Verified Creator has not yet configured their account to receive contributions from Brave Users. Any tips you send will remain in your wallet until they complete this process.""
## Description

Android version of https://github.com/brave/brave-browser/issues/14330.

[2021-05-11 18:43] Brave-Matt commented on #15748
@oiac320,
Thank you for reaching out to us. Can you confirm the following for me:
1. Can you tell me what extensions you have installed?
2. Does this only happen when attempting to visit a website from the new tab page, or does this also occur if you're going from one website to another website?

Can you also test the following:
1. If you [create a new temp browser profile](https://community.brave

[2021-05-11 18:51] kjozwiak opened #15760 "Release Notes for 1.24.x Release #2"
### Release Notes:

* [Android] Chrome logo appears when flipping open tabs #9867
* [Android] Tapping 'X' on Site settings pages doesn't do anything #12181
* Support IPFS gateway method first on Android #13683
* Cap retry attempts for tipping fee #14386
* Support Unstoppable Domains and ENS on Android via DoH #15159
* [Android] Tab Groups occasionally visible when second to last tab is closed #148

[2021-05-11 19:30] #15662 closed

[2021-05-11 19:47] btlechowski commented on #15720
LGTM

Verification passed on

Brave | 1.24.84 Chromium: 90.0.4430.93 (Official Build) (64-bit)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | Ubuntu 18.04 LTS

[code]

![image](https://user-images.githubusercontent.com/34715963/117874622-7bb6fa00-b2a1-11eb-9466-de35093139f9.png)
![image](https://user-images.githubusercontent.com/34715963/117875333-5

[2021-05-11 19:47] #15720 closed

[2021-05-11 20:18] LaurenWags commented on #15719
#### **`macOS 10.14.6 Mojave`** - **PASSED**

Verification **PASSED** on `macOS 10.14.6 x64` using the following build:

[code]

Ensured that the correct `Tor` component was being downloaded via `--use-dev-goupdater-url`:

<img width="312" alt="Mojave" src="https://user-images.githubusercontent.com/28145373/117878954-58c22100-b274-11eb-8dc6-7a6a1ae77ebf.png">

Ensured that the Tor component was st

[2021-05-11 20:33] yrliou commented on #15750
@lidel Currently it calls Unstoppable Domains smart contract via eth_call when visiting *.crypto, if there's IPFS content hash record existed, we'll redirect to ipfs://{CID}.

[2021-05-11 20:50] wknapik commented on #14116
@rebron we've had issues with freezes like this not long ago. IIRC it was on multiple platforms. Could we involve someone who knows more about that? Not sure who that would be.

[2021-05-11 21:03] anish-khanna commented on #12060
If this is still open for community help, I'd like to help out. I'm also unsure of how exactly to get on the brave developer list so as to access the figma link if so.

[2021-05-11 21:10] fmarier opened #15761 "Two different checkboxes for P3A in settings"
We appear to have two different checkboxes in `brave://settings/privacy` related to usage data (i.e. P3A):
![Screenshot from 2021-05-11 14-08-40](https://user-images.githubusercontent.com/167821/117885299-8b631e00-b262-11eb-93c1-d6eee48f884e.png)

The first one defaults to ON, the second one defaults to OFF.

I think the second one might be just for crash reports? If so, then we should change the

[2021-05-11 21:14] Brave-Matt commented on #15522
+1 from Community:
https://community.brave.com/t/hide-the-back-home-buttons-below-brave/246231/6

[2021-05-11 21:47] Area51Kacz opened #15762 "Update chromium to 90.0.4430.212"
## Description
Could we update to Chromium 90.0.4430.212 _(brave its still on .93)_
--

<br class="Apple-interchange-newline">

## Steps to Reproduce

just update it to 90.0.4430.212

## Version/Channel Information:

Stable

[2021-05-11 22:15] stephendonner opened #15763 "Crash in invalid-read when relaunching after setting new language as Brave's default"
## Description

Crash in invalid-read when relaunching after setting new language as Brave's default

## Steps to Reproduce

   1. new profile
   2. open `brave://settings/languages`
   3. click on `Language` to expand the dropdown
   4. click on `Add languages`
   5. type `French` and pick the 3rd option, `French (France) - francais (France)`
   6. click `Add`
   7. click on the 3-dots menu for `

[2021-05-11 22:40] #15428 closed

[2021-05-11 22:40] #15713 closed

[2021-05-11 22:50] stephendonner commented on #15646
Sorry for the delay in responding.

With `Enable Ephemeral Storage` set to `Enabled` and `Ephemeral Storage Keep Alive` set to `Disabled`, I see steps 2-6 all look identical to step 2.

feature flags | steps 2-6 results
---------|----------------------
![Screenshot_20210511-154634](https://user-images.githubusercontent.com/387249/117894069-6b3a5b80-b270-11eb-88f3-7e7acdb07c2f.png) | ![Screenshot_2

[2021-05-11 23:21] kjozwiak commented on #15763
hmmm can't reproduce this on my machine. Tried it ~10 times and never received a crash after clicking on `Relaunch`. Used the following:

[code]

[2021-05-11 23:28] darkwater4213 commented on #15574
Oh, so it was an idea for a file that never got implemented for some reason? Or am I just confused?

[2021-05-12 00:04] stephendonner opened #15764 ""Ipfs" should read "IPFS" in "Brave Ipfs Client Updater" in brave://components"
## Description

This is a super-minor bug, but "Ipfs" should read "IPFS" in "Brave Ipfs Client Updater" in brave://components

## Steps to Reproduce

   1. on `nightly`, load `brave://components`
   2. look at `Brave Ipfs Client Updater (Windows) - Version: 1.0.3`

## Actual result:

![brave-ads-resources](https://user-images.githubusercontent.com/387249/117898588-23203680-b27a-11eb-8c11-8e7a9f15b

[2021-05-12 01:12] #15731 closed, assigned to mkarolin

[2021-05-12 01:35] simonhong opened #15765 "Sidebar is hidden during the item re-ordering"
When `show sidebar option` is `on click` or `on mouseover`, sidebar is hidden during the item re-ordering.
During the re-ordering, sidebar should not be hidden.

[2021-05-12 01:44] simonhong opened #15766 "Sidebar is hidden when related bubbles are still visible"
With `on mouseover` or `on click` options,  sidebar gets hidden after mouse goes out from sidebar
even if sidebar item add bubble is visible.
Sidebar should be visible when sidebar initiated bubbles are still displayed regardless of show options.

[2021-05-12 03:46] #15760 closed

[2021-05-12 03:50] adisen99 opened #15769 "Cursor too small on Brave browser with native wayland support enabled!"
## Description

I enabled native Wayland session support for Brave browser and the cursor becomes tiny. It is too small to be used. I have added an image in the actual result section below.

## Steps to Reproduce

   1. Start brave browser with the flags `--enable-features=UseOzonePlatform --ozone-platform=wayland`
   2. Check the cursor size and compare with the session with native wayland suppor

[2021-05-12 04:38] #15719 closed

[2021-05-12 05:13] JamesThePaladin commented on #15764
I'd like to pick this one up if that's okay. I'm just waiting on a build to see if tis fixed.

[2021-05-12 05:24] #15753 closed

[2021-05-12 06:08] petemill opened #15770 "Convert NTP widget APIs to MOJOM (from Extension APIs)"
The NTP widgets each creates an Extension API even though it is not called from an Extension and only called from the NTP WebUI. These should all be converted to mojom interfaces so that they can be built where extensions are not supported and we don't have the developer overhead of enabling specific extension APIs on the NTP.

Potentially also able to re-use mojom interface with WebUI and android

[2021-05-12 06:19] srirambv commented on #15764
@JamesThePaladin assigned the issue to you. Please a PR created for it once you see it fixed on your local build.

[2021-05-12 06:21] #12626 closed

[2021-05-12 06:26] srirambv commented on #15415
Removing `OS/Android` label as this is not working on Android. Follow-up issue #15646 is logged which is Android specific

[2021-05-12 07:01] srirambv commented on #15298
@anthonypkeane can't have open issues in the milestone unless its release blocking. @alexsafe can you confirm if the issue is fixed with brave/brave-core#8557?

Moving out of 1.25.x until confirmed. If this still needs to be fixed and should be part of 1.25.x need to have a PR done and get it uplifted to 1.25.x

cc: @kjozwiak @bsclifton

[2021-05-12 07:36] srirambv commented on #15654
Verification passed on Samsung Tab A with Android 10 running 1.25.57 x64 Beta Build
- Verified icons looks much sharper than before
![image](https://user-images.githubusercontent.com/17010094/117936686-10027a80-b2fd-11eb-9617-b2e4f976544e.png)

[2021-05-12 08:55] krasi-georgiev commented on #13108
Same issue, no playback on spotify from brave desktop

chrome works ok

[2021-05-12 09:26] bsclifton commented on #15762
@Area51Kacz yup - we're already working on it 😄 Closing this as a duplicate of https://github.com/brave/brave-browser/issues/15725

[2021-05-12 09:26] #15762 closed

[2021-05-12 09:28] bsclifton commented on #15761
@fmarier that is correct - the 2nd one should just be crash reports. We should definitely update 😄

[2021-05-12 09:35] jasminefrost commented on #13565
I am new to Linux/Ubuntu... don't know programming and have no idea what snap is, but I used your "sudo snap connect brave:cups-control" and now I can see my printers :)

I re-opened the Brave browser and hit the print button in the web page and when the print dialog opened, where it said to print to PDF, I clicked on the "more" button and when it opened, it showed the printers.

Thank you for the

[2021-05-12 09:35] sebuelias commented on #13686
Can I try to pick this issue up?
I am new and trying to learn, if it is ok

[2021-05-12 09:48] srirambv commented on #15603
<details>
<summary>Verification passed on Samsung Tab A with Android 10 running 1.25.57 x64 Beta Build</summary>
<br>

- Verified `"until i close this page"` text is changed to `"until i close this site”`

<details>
<summary>Allow Tests</summary>
<h4>5 seconds</h4>

- Verified passing command line args `--permission-lifetime-test-seconds=5` adds an entry to the permission popup
- Verified selectin

[2021-05-12 09:54] GeetaSarvadnya commented on #15763
Issue isn't reproducible in `Windows 10 x64` - Brave version 1.26.x

[2021-05-12 10:14] mariospr commented on #15754
@jumde shared why this is happening now, and the plan in place to get it fixed:

The problem was caused by recent changes to the policy for usage of OAuth credentials: currently, Google sign in for extensions is capped to a few thousand users for Chromium derivatives, which is why we're getting the error even if we have valid OAuth credentials.

Fortunately, there's already [work happening upstrea

[2021-05-12 10:31] imdatsolak commented on #820
@cyberfunk because I already explained above why I don't want to use another password manager. This would, again, require me to use TWO different password managers - Keychain and BitWarden. The fact is that I use Keychain for many, many solutions/apps and all of those would need to support BitWarden instead of the standard system-API.

The downvote was because you already had mentioned BitWarden b

[2021-05-12 10:41] sebuelias opened #15771 "Update Readme to mention the path where you download repo should not have space in them"
## Description

## Steps to Reproduce

   1.  clone the repo and download - to a path with have space in it (F:/ Open Source/brave)
   2.  npm install
   3.  npm run init

## Actual result:

![image](https://user-images.githubusercontent.com/10326494/117961910-457a8880-b33c-11eb-8648-38db4c10a51d.png)

Shows error the F:/Open does not exist

## Expected result:
Allow spaces in the file path and ha

[2021-05-12 10:42] #15771 closed

[2021-05-12 10:45] sebuelias commented on #15771
Sorry.
There seem to be issue in my set up.
![image](https://user-images.githubusercontent.com/10326494/117962717-292b1b80-b33d-11eb-98c3-ae368110f763.png)

![image](https://user-images.githubusercontent.com/10326494/117962809-4233cc80-b33d-11eb-922f-f0785079b1d6.png)

Apologies for unnecessarily raising the issue

[2021-05-12 11:53] LaurenWags commented on #15505
@rebron to confirm, but I think sidebar is behind a flag - so I think we should be able to test this one.

[2021-05-12 12:17] krasi-georgiev commented on #13108
Here is a thread on the spotify forums
https://community.spotify.com/t5/Other-Partners-Web-Player-etc/Web-Player-Doesn-t-work-for-Brave-browser/m-p/4653940/highlight/false#M60340

[2021-05-12 12:18] srirambv opened #15772 "Missing translations for new Rewards login message"
## Description
Missing translations for new Rewards login message

## Steps to reproduce

   1. Set locale to a non-EN region
   2. Clean install 1.25.57 Beta Build
   3. Click on Rewards button and click on `Verify Wallet`
   4. Text is not translated

## Actual result
![image](https://user-images.githubusercontent.com/17010094/117973533-7058e280-b324-11eb-8f88-15cfe2b90753.png)

## Expected resu

[2021-05-12 12:21] jonathansampson opened #15773 "Error: Cannot find module 'async-limiter'"
## Description
Cannot build Brave, as the `async-limiter` module could not be found.

## Steps to Reproduce
Follow steps to [_Clone and Initialize_](https://github.com/brave/brave-browser#clone-and-initialize-the-repo) the repo.

## Actual result:
[code]

## Expected result:
All required modules should be provided by `npm install`.

## Reproduces how often:
Consistently.

## Brave version (brave:/

[2021-05-12 12:27] KarlisZ commented on #7398
It is now may 2021. This can't be that difficult. please.

[2021-05-12 12:36] LoZio commented on #15227
Same here, Dell laptop with integrated Intel + NVidia Quadro

[2021-05-12 12:43] srirambv opened #15774 "NTP image is not properly scaled when changing device orientation"
## Description
NTP image is not properly scaled when changing device orientation

## Steps to reproduce

   1. Set device to autorotate and have it in landscape mode
   2. Open a NTP and tap on URL bar to bring up popup keyboard
   3. While it opens the keyboard rotate device to portrait mode
   4. NTP image doesn't scale properly

## Actual result
![image](https://user-images.githubusercontent.co

[2021-05-12 12:44] jonathansampson commented on #15366
@Darkwolf1515 I assume that screenshot is from HLS Downloader. Is that correct?

The download/filename logic for Tab Session Manager is here: [/src/background/export.js#L39-L57](https://github.com/sienori/Tab-Session-Manager/blob/4565afca85f6b59629a86106879c7dee94cfd8a9/src/background/export.js#L39-L57). I couldn't determine which HLS Downloader extension you are/were using. Can you link to the sp

[2021-05-12 12:46] srirambv opened #15775 "Wallet login modal is stretched beyond the rewards panel"
## Description
Wallet login modal is stretched beyond the rewards panel

## Steps to reproduce

   1. Clean install 1.25.57
   2. Click on Rewards panel and click on verify wallet
   3. Popup modal is stretched beyond the rewards panel

## Actual result
![image](https://user-images.githubusercontent.com/17010094/117977146-6f29b480-b328-11eb-9f2d-59c01ddcb1fd.png)

## Expected result
Properly align

[2021-05-12 13:05] lidel commented on #15567
When it comes to UX, you may have the best luck with a single input  that takes a string and extracts `ID` and `Addrs` from it.

Usually, user will just copy a single address in form of (could be any of those):
-  `/ip4/104.131.131.82/tcp/4001/p2p/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ`
- `/p2p/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ`
- `QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvu

[2021-05-12 13:06] simonhong commented on #15505
@LaurenWags Yes, sidebar is behind a flag and that flag is only available for nightly. it's not available for beta/stable yet.

[2021-05-12 13:15] sgornick opened #15776 "Won't show Verified Creator status for Github creators if Private Browsing (Incognito) is launched first"
## Description
Normally, when I load a GitHub profile page, I can click the Brave Rewards triangle to bring up the creator's Brave Creator's profile info (i.e., name, status -- "Not yet verified" / "Brave Verified Creator", option to Send A Tip, etc.).  I get different behavior depending on whether I had launched Brave in Private mode (New Incognito Window) first before launching Brave in normal m

[2021-05-12 13:21] srirambv commented on #14360
Doesn't seem to be a problem any more. Closing the issue as invalid

[2021-05-12 13:21] #14360 closed

[2021-05-12 13:27] srirambv opened #15777 "Blocked count is not properly aligned on tablet"
## Description
Blocked count is not properly aligned on tablet

## Steps to reproduce

   1. Install 1.25.57 x64 build
   2. Visit a page that has a lot of trackers
   3. Open shields, block count is on extreme left which makes it look really bad

## Actual result
![image](https://user-images.githubusercontent.com/17010094/117981599-16a8e600-b32d-11eb-858c-384326d7dd05.png)

## Expected result
Hav

[2021-05-12 13:28] srirambv commented on #15403
Verification passed on OnePlus 6T with Android 10 running 1.25.57 x64 Beta build
- Verified blocked item and text is better aligned after the fix
<img width=300 src=https://user-images.githubusercontent.com/17010094/117981443-ef521900-b32c-11eb-8cae-68a84bc3efb8.png>

-------

Verified on tablet but found the issue still persisted so logged follow up issue #15777

[2021-05-12 13:44] mkarolin opened #15778 "`npm run pylint` uses pylint from PATH instead of depot_tools"
Currently, `npm run pylint` triggers a bash shell script to run pylint.

This
* doesn't work on windows locally
* uses pylint from PATH, which on CI results in invoking python3's version of pylint.

[2021-05-12 13:50] LaurenWags commented on #15512
cc @Miyayes @rebron @kjozwiak I think we should fix this for 1.25.x because https://github.com/brave/brave-browser/issues/14554 is in 1.25.x. I'm putting it in the 1.25.x milestone and marking as `release/blocking` so this doesn't get forgotten. Please adjust if you feel differently.

cc @deeppandya @zenparsing

[2021-05-12 14:07] iefremov opened #15779 "Crash in brave_rewards::RunDBTransactionOnFileTaskRunner"
it seems the posted task still can observe bad `ledger_database_` in `RunDBTransactionOnFileTaskRunner`

happens in 90.1.24.76 that already has recent threading fixes

cc @emerick @zenparsing @bridiver

https://brave.sp.backtrace.io/p/brave/debug?filters=(_deleted%3D0%2C(callstack.functions%2Ccontains%2CLedgerDatabase))&debug=(%22104302c%22,0,0)

[code]

[2021-05-12 14:09] srirambv opened #15780 "Selecting share button on shields causes part of shields to be overlayed on the tab"
## Description
Selecting share button on shields causes part of shields to be overlayed on the tab

## Steps to reproduce

   1. Open a site and open shields
   2. Click on Share button
   3. Deny/Allow access to local storage
   4. Click on shields and click on share button again
   5. A part of shields stays as a overlay on the page until clicked

## Actual result
![image](https://user-images.gi

[2021-05-12 14:29] jonathansampson opened #15781 "chrome.downloads.download fails around filename determination"
## Description
The `chrome.downloads.download` method doesn't appear to work as expected in Brave.

## Steps to Reproduce
Create a new directory with the following files:

manifest.json

[code]

background.js

[code]

Navigate to brave://extensions/ and enable _Developer Mode_. Then select _Load unpacked_, and find the extension directory with the contents above.

## Actual result:
Nothing happens

[2021-05-12 14:39] iefremov opened #15782 "Rust panic in adblock engine"
Basically there are different callstacks, probably could be analyzed one-by-one
https://brave.sp.backtrace.io/p/brave/explore?time=month&filters=((callstack.functions%2Ccontains%2Crust_panic)%2C_deleted%3D0%2Cptype%3Dbrowser%2C(ver%2Cregex%2C%2290%7C91.*%22))&aggregations=((ver%2Cmax)%2C(ver%2Cdistribution)%2C(callstack%2Chead))&

Example:
https://brave.sp.backtrace.io/p/brave/debug?time=month&fil

[2021-05-12 14:40] iefremov commented on #15782
@antonok-edm can you please take a look? Also cc @pes10k

[2021-05-12 14:53] iefremov opened #15783 "Brave Ads crash in `brave_ads::RunDBTransactionOnFileTaskRunner`"
Similar to https://github.com/brave/brave-browser/issues/15779

https://brave.sp.backtrace.io/p/brave/debug?time=month&filters=((callstack.functions%2Ccontains%2CRunDBTransactionOnFileTaskRunner)%2C_deleted%3D0%2C(ver%2Cregex%2C%2290%7C91.*%22)%2Cptype%3Dbrowser)&debug=(%221090445%22,0,0)

[code]

[2021-05-12 14:53] iefremov commented on #15783
cc @tmancey @emerick @zenparsing

[2021-05-12 14:55] #15629 closed

[2021-05-12 14:56] iefremov opened #15784 "Crash in AdBlockBaseService::UpdateAdBlockClient"
https://brave.sp.backtrace.io/p/brave/debug?time=month&filters=((callstack.functions%2Ccontains%2CUpdateAdBlockClient)%2C_deleted%3D0%2Cptype%3Dbrowser)&debug=(%2210465d6%22,0,0)

[code]

[2021-05-12 14:56] iefremov commented on #15784
cc @bridiver

[2021-05-12 15:23] zenparsing commented on #15475
Closing per consensus to not show the promo image on the rewards panel; the "learn more" link is sufficient.

[2021-05-12 15:23] #15475 closed

[2021-05-12 15:27] iefremov opened #15785 "Crash at BraveRenderViewContextMenu::BuildIPFSMenu"
https://brave.sp.backtrace.io/p/brave/explore?time=month&filters=((callstack.functions%2Ccontains%2CBraveRenderViewContextMenu)%2C_deleted%3D0%2C(ver%2Cregex%2C%2290.*%22)%2Cptype%3Dbrowser)&aggregations=((channel%2Cdistribution%2C3)%2C(ver%2Cdistribution%2C3)%2C(callstack%2Chead))&

[code]

[2021-05-12 15:27] iefremov commented on #15785
cc @spylogsster @bbondy

[2021-05-12 15:28] bbondy commented on #15785
If this is beyond Nightly we'll want to uplift this one to wherever the fix is needed to btw @spylogsster

[2021-05-12 15:35] bridiver commented on #15784
looks like another unsafe use of base::Unretained

[2021-05-12 15:41] iefremov commented on #14123
people encounter it in the wild https://brave.sp.backtrace.io/p/brave/explore?time=month&filters=((callstack.functions%2Ccontains%2CBraveComponent)%2C_deleted%3D0%2C(ver%2Cregex%2C%2290%7C91.*%22)%2Cptype%3Dbrowser)&aggregations=((channel%2Cdistribution)%2C(ver%2Cmax)%2C(ver%2Cmin)%2C(ver%2Cdistribution%2C3)%2C(callstack%2Chead))&

[code]

[2021-05-12 15:41] zenparsing opened #15786 "Remove JP-related rewards blocks for Android"
All Japan-related Rewards blocks should be removed for Android users.

[2021-05-12 15:44] zenparsing opened #15787 "Add Rewards external wallet selection UI"
Add new Rewards external wallet selection user interfaces to Storybook.

[2021-05-12 15:44] NumDeP opened #15788 "Tabs remain open after reopening from Close, Clear data and Exit & Cear data on Exit"
Have you searched for similar issues? Yes

## Description
Tabs remain open even after 'clear data' on 'Exit' from the hamburger menu which it never used to do before and the tabs also remain open from the normal close button on the top right.

I usually 'clear data' on exit manually. i.e I head to Advanced, 'Clear data' then press 'Exit' on the hamburger menu and this typically closes all windows

[2021-05-12 15:59] NumDeP commented on #34
@pes10k I think it is more so similar to [Allow private tabs to use different sessions (partitions)](https://github.com/brave/brave-browser/issues/776) than anything else. At which point I think 'Add option for ephemeral 1p storage #15018' is redundant, don't you think?

[2021-05-12 16:10] immanishbainsla commented on #13108
same issue
opens and lists songs on "open.spotify.com" when not signed in but after clicking it asks for sign in and after sign in it shows "web player disabled"

[2021-05-12 16:21] lina-kram commented on #9264
I was wondering the same thing! I use a wide monitor, so I constantly have the full screen mode on (with tabs splitting the screen in half), and since it’s a working computer I’d never watch Netflix on it and wouldn’t be “disturbed” by an ad when in full screen mode. I wish I could change the default and see push ads :(

[2021-05-12 16:32] LaurenWags commented on #15687
cc @brave/rewards-client

also, I logged https://github.com/brave/brave-browser/issues/12302 which may or may not be related.

[2021-05-12 16:32] wknapik commented on #13565
Thanks for letting us know @jasminefrost. I requested auto-connection for this plug, so in the future, users won't have to do this manually after each reboot. It will likely take about a week for the request to be granted and it will take effect for all users after the next snap package release after that.

[2021-05-12 16:41] #15788 closed

[2021-05-12 16:42] samartnik opened #15789 "[Android] Hide Tab Groups bottom controls in scrolling mode"
## Description
When bottom controls are disappeared on scrolling web page, we shouldn't show Tab Groups controls when click `Open in new tab in group` from context menu.

## Steps to reproduce

   1. Go to some scrollable web site (like cnn.com).
   2. Scroll it down till bottom controls disappear.
   3. `Open in new tab in group` from context menu on any link.

## Actual result
Tab Groups control

[2021-05-12 17:03] antonok-edm commented on #15782
For that first callstack, it looks like something is panicking inside the [regex](https://crates.io/crates/regex) crate. I haven't been able to find any known examples other than the ones in https://github.com/rust-lang/regex/issues/738, which don't apply to how it's used in adblock-rust. According to the backtrace, the panic occurs within `regex::compile::Compiler::fill`, which doesn't have anyth

[2021-05-12 17:04] VictorieeMan commented on #15687
Interesting @meejle, that your logged in visit get the "u/thinsoldier" when visiting me but when visiting logged out you get "u/VictorieeMan". Judging from that you get the same result as me when logged out but a local result when logged in.

And as for your similar issue @LaurenWags, it seems related in the results but the #12302 issue does for some reason have a much longer list of steps to repl

[2021-05-12 17:24] rebron opened #15790 "Add FTX widget"
## Description

Add FTX as a widget to the New Tab page to allow for viewing markets and trading crypto on the FTX platform.

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release? n/a
- Can you reproduce this issue with the beta channel? n/a
- Can you reproduce this issue with the nightly channel? n/a

## Other Additional

[2021-05-12 17:25] AlexeyBarabash opened #15791 "Sync v1 leftovers"
@darkdh  found there are still sync v1 leftovers:
`src/brave/script/audit_deps.py`
[code]

and in `brave-browser/src/brave/.gitignore`

[2021-05-12 17:31] Larx commented on #13565
And what about the .deb packages which also suffer from this (or a similar) problem?

[2021-05-12 17:36] lukemulks opened #15792 "Ads control center: "I'm a Brave Rewards user, let me disable specific ad units" (feature request)"
## Description

Currently, if I want to earn from Sponsored Images, I have to enable all ad units on brave://rewards.

We've received several reports from users that would like to still be able to earn from SI, but would prefer not to receive push notification ads.

Ideally, if we could provide some finer grained ad unit level options for users to disable/enable each ad unit from brave://rewards,

[2021-05-12 17:37] #15730 closed

[2021-05-12 17:43] Miyayes commented on #15792
We could add some toggles here:
![image](https://user-images.githubusercontent.com/11497541/118020380-03474c00-b328-11eb-8e40-cfb11e9131e8.png)

[2021-05-12 17:51] #15661 closed

[2021-05-12 17:53] AdrianPowery2000 commented on #14141
<img width="641" alt="Screen Shot 2021-05-12 at 12 52 14 PM" src="https://user-images.githubusercontent.com/83601310/118021604-0d198100-b321-11eb-8f54-493022e99431.png">
+1

[2021-05-12 17:58] rotigithub commented on #13941
Same issue here both on my mac and my pc.
Latest Brave on both machine.

[2021-05-12 18:01] #15573 closed

[2021-05-12 18:33] drwingnut opened #15793 "Launching with a specific profile in macOS"
## Description

When using Lingon to schedule the automatic launching of specific sites, I need the application to open using a specific profile so that connections to common sites like office.com don't get confused based on the tenant I'm connecting to in their environment.

## Steps to Reproduce

   1. Launch application from command line with /usr/bin/open -a "Brave Browser" https://www.minnpos

[2021-05-12 18:34] stephendonner commented on #15690
Verified `FIXED` using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Steps:
1. launched Brave
2. navigated to `brave.com`
3. clicked into an empty space in the omnibox to select the URL (or Ctrl + L)
4. expected result: the selectio

[2021-05-12 18:42] fmarier commented on #13565
Yes, there are two problems here:
1. missing snap connection, which @wknapik took care of
2. something else which affects the `.deb` and that we haven't been able to identify yet

[2021-05-12 18:44] #15298 closed

[2021-05-12 18:47] LaurenWags opened #15794 "repeated background tabs added in certain cases - follow up to 15526"
## Description

In certain case, repeated background tab can be opened.

## Steps to Reproduce

pre-req: be in Japan region

Scenario 1:
   1. Launch Nightly 1.26.18 with a clean profile
   2. Active tab is brave://welcome, second (background) tab is the expected page (blog)
   3. Don't interact with either tab, close the browser
   4. Relaunch
   5. Active tab is brave://welcome, second and third

[2021-05-12 19:00] LaurenWags opened #15795 "tab hover cards with C91"
## Description

Noticed on Nightly with C91 version that I have tab hover cards again.

I think Windows on current release has these, but macOS does not.

@rebron also noted that the flag present on C90 builds (`brave://flags/#tab-hover-cards`) is not available on C91 builds.

## Steps to Reproduce

   1. Clean profile 1.26.18 (or C91 version)
   2. Hover over tab
   3. See hover card like below

[2021-05-12 19:06] #15789 closed

[2021-05-12 19:16] antonok-edm opened #15796 "Update adblock-rust to v0.3.11"
v0.3.11 fixes a minor deserialization issue caused by extremely outdated DATs, and updates a few dependencies (including `regex`, which could potentially help with https://github.com/brave/brave-browser/issues/15782)

[2021-05-12 19:22] stephendonner commented on #15375
Verified `FIXED` using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (x86_64)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | macOS Version 11.3.1 (Build 20E241)

Confirmed that resizing and constraining the window size with/without the Developer Tools panel, doesn't result in the splitting/clipping of the content, as before.

<img

[2021-05-12 19:30] stephendonner commented on #15670
Verified `FIXED` using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Confirmed that on hover, in both `light` and `dark`-color modes, the hover effect is without the extra glyph/circle.

light | dark
------|------
![tab-hover-light]

[2021-05-12 19:33] eljuno commented on #15572
Duplicate of #7398 ?

[2021-05-12 19:34] stephendonner commented on #15673
@spylogsster could you please provide us with a testplan?  Thanks!  Marking `QA/Blocked` and `QA/Test-Plan-Required` just until you're able to provide that.

[2021-05-12 19:39] bbondy opened #15797 "Text change for Unstoppable Domains support and not just ENS in wallet"
Please change ENS here to domain since we support ENS and Unstoppable Domains there now.

<img width="1930" alt="Crypto+Wallets+2021-04-17+02-35-55" src="https://user-images.githubusercontent.com/831718/118034394-ef0b4b00-b337-11eb-98e5-ddb457ffa58e.png">

cc @onyb

[2021-05-12 19:46] bbondy opened #15798 "Refactor ethash to use chromium_src for the overrides"
Currently the third party dep `brave/third_party/ethash` manages its own overrides, but it's better to use chromium_src so that changed files are touched.

[2021-05-12 19:51] bbondy opened #15799 "Refactor wallet, IPFS, DDNS for service init"
[code]

in BraveProfileManager::DoFinalInitForServices should just ServiceIsCreatedWithBrowserContext in the factory

[2021-05-12 19:59] #13807 closed

[2021-05-12 20:02] bsclifton commented on #15792
@Miyayes I think @lukemulks is referring the the ad type; so right now, we just have notifications and sponsored images. But we could potentially have more (and I could be missing one). Maybe NTP sponsored image setting should be there in the same area?

Related issues:
https://github.com/brave/brave-browser/issues/11889
https://github.com/brave/brave-browser/issues/11018

[2021-05-12 20:05] mkarolin opened #15800 "Upgrade from Chromium 91.0.4472.38 to Chromium 91.0.4472.57."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/91.0.4472.38..91.0.4472.57?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

Additional checks:

No specific code changes in Brave (only line number changes in patches).

[2021-05-12 20:07] Miyayes commented on #15792
I was imagining something like 2 checkboxes or toggles in the Ads Settings panel:

- [ ] Brave Ads push notifications
- [ ] New Tab Page sponsored images

"New Tab Page sponsored images" toggle would be tied to the setting here too:
![image](https://user-images.githubusercontent.com/11497541/118037695-309df500-b33c-11eb-915c-2841c7f0caee.png)

[2021-05-12 20:15] tmancey opened #15801 "Ad rewards not updated at brave://rewards due to loss of precision"
## Description

Ad rewards not updated due to loss of precision

## Steps to Reproduce

   1. Close the browser
   2. Replace the `ads_rewards` node of `confirmations.json` with CONFIRMATIONS JSON (see below)
   3. Rewrite `GET /v1/confirmation/payment/{payment_id}` endpoint to return PAYMENT BALANCE RESPONSE DATA (see below)
   3. Rewrite `GET /v1/promotions/ads/grants/summary?paymentId={payment_

[2021-05-12 20:30] #8296 closed

[2021-05-12 20:31] kyoyacchi opened #15802 "Please bring tabs for tablets like vivaldi browser. (Feature request)"
## Description

As i say on the title, it would be great if you developers bring tab feature to tablets just like vivaldi browser.

Thanks in advance.

# Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version?
- Can you reproduce this issue with t

[2021-05-12 20:41] rebron commented on #1841
@karenkliu If we go modal here and show this crash prompt modal first, there's a restore tabs dialog that also shows up so we'd have back to back notifications. Infobar as an option or ok with this back to back prompts in this order.

[2021-05-12 20:47] rebron opened #15803 "Disable component updates for browsers on deprecated OS"
## Description
https://github.com/brave/go-update/issues/55

For OSes:

-  < Windows 7
-  < OS X El Capitan 10.11.0
-  < 64-bit Ubuntu 16.04+, Mint 17+, Debian 9+, openSUSE 15+, Fedora Linux 28+, or CentOS/RHEL 8+

We should no longer be providing component updates as these OSes are no longer supported.

## Actual result:
Currently providing component updates for all versions.

## Expected result:

[2021-05-12 20:54] rebron commented on #14237
The links in details seems fine to me. Feature should still be branded Google Safe Browsing and links out to this service looks right.

[2021-05-12 21:00] rebron commented on #14241
Feature is already available via Extension.

[2021-05-12 21:19] bsclifton opened #15804 "Implement Brave VPN on Desktop"
# Test plan (and issues)
Test cases capture the issues that they fix in each section

## Related resources
- **Figma** https://www.figma.com/file/qtMYwoj3JWJO5xzwLt6j2f/Desktop-VPN
- **Security review** https://github.com/brave/security/issues/772 (has link to spec)

## Steps to enable the VPN functionality (do on fresh profile before testing)
- [x] [Allow for VPN on Beta](https://github.com/brave

[2021-05-12 21:34] bsclifton opened #15805 "Implement Brave VPN on Windows"
## Description
Part of parent issue https://github.com/brave/brave-browser/issues/15804

The goal here would be to create an implementation in `brave-core` which handles VPN on Windows (7, 8, 10). Each OS can provide an OS specific implementation for a "VPN Service".

This would need the ability to:
- Create a VPN connection with the OS.
- Update a connection (if details change)
- Connect to the V

[2021-05-12 22:04] stephendonner opened #15806 "Missing tooltip for sidebar icon when in (show) on-click mode for Sidebar"
## Description

Missing tooltip for sidebar icon when in (show) on-click mode for Sidebar

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. set `brave://flags/#sidebar` to `Enabled` and restart
   4. mouse over to the Sidebar panel on the left
   5. context-click an empty region and choose `On click` from `Show Sidebar`
   6. mouse over again to the now-hidden Sidebar panel, and h

[2021-05-12 22:05] Brave-Matt commented on #14237
I've been slacking on this doc and I apologize. I'll get something up for us to link to this week but it is on the board:
https://github.com/brave/support/issues/1047

[2021-05-12 22:41] stephendonner opened #15807 "Web Store link in brave://extensions is underlined and wrong color"
## Description

`Web Store` link in `brave://extensions` is underlined and wrong color; this is a CR91 major-bump regression

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `brave://extensions`

## Actual result:

![nightly-extensions](https://user-images.githubusercontent.com/387249/118052707-0ea27380-b338-11eb-822f-dd640c746823.png)

## Expected result:
![release-extensio

[2021-05-12 22:49] simonhong commented on #15806
@stephendonner Can you check again? First tooltip is shown in some delay(maybe 1s).
I can see tooltips on hover with nightly(on mac/Win10)

[2021-05-12 23:02] #15765 closed

[2021-05-12 23:02] #15766 closed

[2021-05-12 23:16] pil-piloni commented on #7552
Hi,

Brave Shields and Rewards buttons covers the location bar on RTL Languages.

This prevents the user from interacting with the interface. In addition it can cause security issues because the user does not see the URL.

Please fix it because it is very annoying.

Thank you!

[2021-05-12 23:23] stephendonner opened #15808 "Nightly CR91 major bump is missing 3 sections in Privacy and security"
## Description

Nightly CR91 major bump is missing 3 sections in Privacy and security

## Steps to Reproduce

   1. new profile
   2. launch Brave `nightly`
   3. load `brave://settings/privacy`
   4. compare section items to those on `release`

## Actual result:

It's missing the following:
* `WebRTC IP handling policy`
* `Automatically send completely private product analytics to Brave`
* `Use G

[2021-05-12 23:24] #15659 closed

[2021-05-12 23:29] keur opened #15809 "speedreader: Put a fast URL heuristic in front of the scorer"
Add a fast, lightweight URL heuristic in front of the scorer. This is preparation for a "maybe-speedreadable" domain list, and let's us elegantly handle the long-tail sites: personal blogs, obscure publishers, etc.

[2021-05-12 23:29] bsclifton opened #15810 "Implement Brave VPN on macOS"
## Description
Part of parent issue https://github.com/brave/brave-browser/issues/15804

The goal here would be to create an implementation in `brave-core` which handles VPN on macOS. Each OS can provide an OS specific implementation for a "VPN Service".

This would need the ability to:
- Create a VPN connection with the OS.
- Update a connection (if details change)
- Connect to the VPN
- Disconne

[2021-05-12 23:56] btlechowski opened #15811 "Missing translation is IPFS menu"
`Share local folder using IPFS` under `Hamburger Menu -> IPFS` is not translated

## Steps to Reproduce

   1. Run Brave in Polish (PL) locale
   1. Enable ipfs
   1. Restart the browser
   1. Open  `Hamburger Menu -> IPFS`

## Actual result:

`Share local folder using IPFS` under `Hamburger Menu -> IPFS` is not translated
![image](https://user-images.githubusercontent.com/34715963/118058176-e6456

[2021-05-13 01:18] fmarier opened #15812 "Stop associating Brave with the ftp protocol"
Chromium [removed ftp support from the codebase in M91](https://chromestatus.com/feature/6246151319715840), but it is still included in the [desktop shortcut on Linux](https://source.chromium.org/chromium/chromium/src/+/main:chrome/installer/linux/common/desktop.template;l=114;drc=647f8ae0c1121822643c73af87986d9591e669a4) and so it gets used when opening ftp URLs:

    xdg-mime query default x-sch

[2021-05-13 01:20] btlechowski commented on #9805
Verification passed on

Brave | 1.25.53 Chromium: 90.0.4430.93 (Official Build) beta (64-bit)
-- | --
Revision | 4df112c29cfe9a2c69b14195c0275faed4e997a7-refs/branch-heads/4430@{#1348}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/internal/issues/759

Verified `Brave Ads maximum ad notifications per day - multiple profiles - 1 per day`
Verified 2nd ad was not shown
Verifi

[2021-05-13 01:38] harogaston commented on #4599
2 years... it's sad

[2021-05-13 02:44] #15597 closed

[2021-05-13 03:25] petemill opened #15813 "Add more information about typescript global definitions"
There is still a little confusion as to the purpose of the typescript global definitions at `components/definitions` (which should probably be named `ui/web-ui-shared/definitions`).
There are definitions in here which only apply to a single component and not every or most brave webui environments. There are also ramifications on re-builds for targets which don't need those files, since the definit

[2021-05-13 03:36] btlechowski opened #15814 "Ads are blocked forever after ads limits (per hour or per day) are reached"
Follow up to https://github.com/brave/brave-browser/issues/9805

When an ads limit is reached, user will never see an ad, even when the limit should have expired already. Browser restart does not fix this issue.
The user will not see ads ever again

## Steps to Reproduce

1. Follow steps from **Brave Ads maximum new tab page ads per hour - 1 per hour - limit expired** from https://github.com/brave

[2021-05-13 03:37] spylogsster commented on #15673
@stephendonner done

[2021-05-13 03:45] srirambv opened #15815 "Ephemeral Storage Keep Alive doesn't respect the flag"
## Description

Ephemeral Storage Keep Alive doesn't respect the flag

## Steps to Reproduce

   1. Clean install 1.26.11 x64 nightly desktop build
   2. Enable only `brave://flags/#brave-ephemeral-storage`
   3. **Do not enable `brave://flags/#brave-ephemeral-storage-keep-alive` let it be default**
   4. Restart browser and visit `https://dev-pages.brave.software/storage/keep-alive.html` and run

[2021-05-13 06:00] bsclifton opened #15817 "Implement Brave VPN on Linux"
## Description
Part of parent issue https://github.com/brave/brave-browser/issues/15804

The goal here would be to create an implementation in `brave-core` which handles VPN on Linux. Each OS can provide an OS specific implementation for a "VPN Service".

This would need the ability to:
- Create a VPN connection with the OS.
- Update a connection (if details change)
- Connect to the VPN
- Disconne

[2021-05-13 06:52] srirambv opened #15818 "Unstoppable Domain & ENS is listed at a different position"
## Description
Unstoppable Domain & ENS is listed at a different position

## Steps to reproduce

   1. Install nightly 1.26.18
   2. Open Settings -> Privacy and Security
   3. Position of UD & ENS is changed from release version

## Actual result  vs  Expected result

Nightly 1.26.18 | Beta (1.25.57)
-- | --
![image](https://user-images.githubusercontent.com/17010094/118089085-e2cad080-b3bf-11eb

[2021-05-13 06:55] RupeshBhandari opened #15819 "Rewards should be sync even without Uphold account"
## Description

Currently the rewards that have been accumulated in another device isn't synced on the other without Uphold which required like 25 BAT which can be a bummer for some people!

## Steps to Reproduce

   1.  Accumulate reward in one device
   2.  Add it to sync chain in another device
   3.  Check whether the rewards is synced

## Actual result:

The rewards isn't displayed

## Expect

[2021-05-13 07:00] RupeshBhandari commented on #15801
where is the confirmations.json file?

[2021-05-13 07:30] srirambv commented on #15802
Tablets do have Tab feature by default.

cc: @brave/android

[2021-05-13 07:36] iefremov commented on #15763
@stephendonner for future reference: tab crashes are labeled as `crash/webview`

[2021-05-13 08:03] ryanbr opened #15820 "Empty spaces on https://download.pixelexperience.org/"
## Description
Visit `https://download.pixelexperience.org/` or `https://blog.pixelexperience.org/` will show plenty of blank/empty spaces

## Steps to Reproduce

   1. enable `chrome://flags/#brave-adblock-cosmetic-filtering-native`
   2.  Visit `https://download.pixelexperience.org/` or `https://blog.pixelexperience.org/`
   3.  Plenty of empty space
   4. Aggressive Ads/trackers makes no differ

[2021-05-13 08:06] srirambv opened #15821 "Font colour alignment and weight seems to be different compared to iOS"
## Description
Font colour alignment and weight seems to be different compared to iOS

## Steps to reproduce

   1. Install 1.25.57 x64 Beta Build
   2. Visit a site and open shields
   3. Click on the share button
   4. Allow access to storage so media can be shared
   5. Compare the media with iOS.

## Actual result

Font weight/colour/alignment, all seems to be different compared to how it is o

[2021-05-13 08:08] #15796 closed

[2021-05-13 08:14] GeetaSarvadnya opened #15822 "IPFS sub menu is not shown in the main app menu until browser is restarted"
## Description

IPFS sub menu is not shown in the main app menu until browser is restarted

## Steps to Reproduce

   1. Clean profile 1.25.x
   2. Enable IPFS local node
   3. Click on main menu settings
   4. IPFS sub menu is not shown in the main app menu

## Actual result:

IPFS sub menu is not shown in the main app menu after enabling IPFS

**Before browser restart:**
![image](https://user-im

[2021-05-13 08:29] bsclifton commented on #11889
Closing as `wontfix` - this is by design; more details can be found in https://brave.com/sponsored-images-now-available-on-all-brave-platforms/

Folks can resolve in one of two ways:
1. Opt-in to Brave rewards to see earnings (from the advertising revenue)
2. Disable the preference. Two clicks - `Customize` button in the bottom right of new tab page and then toggle `Show Sponsored Images`

We do h

[2021-05-13 08:29] #11889 closed

[2021-05-13 09:14] kyoyacchi commented on #15802
Are  you serious? because i can't see any tab icon in here?

![IMG_20210513_121358_933](https://user-images.githubusercontent.com/63583961/118105218-c9884b00-b3e4-11eb-8841-69ec817bfca3.jpg)

[2021-05-13 10:11] davidkaya opened #15823 "Opening links in specific profile based on a custom link filter"
## Description

I use Brave with two profiles. One is for personal stuff and the other is for work related stuff. One thing that I encountered is that when I click on a link, e.g. in Microsoft Teams, it might get opened in the window where my Personal profile is selected and you can't move tabs between profiles, so I end up copying the URL and opening in the the correct profile.

I was thinking, t

[2021-05-13 10:48] AlexeyBarabash commented on #15802
@kyoyacchi
What do you mean by tabs and tab icon?

Because tabs are the same on tablet on Vivaldi and Brave:

![1](https://user-images.githubusercontent.com/24739341/118115488-aca64480-b3f1-11eb-8c5f-d5230b957fec.jpg)

![2](https://user-images.githubusercontent.com/24739341/118115497-b2038f00-b3f1-11eb-97be-4673c1749d3f.jpg)

[2021-05-13 11:07] simonhong opened #15824 "Auto hide sidebar UI with some delay"
Currently, sidebar UI is hidden very quickly right after mouse exits.
but this looks flickering when mouse enters and exits quickly and frequently.

If sidebar is hidden after some delay, it could have more smooth UI.

[2021-05-13 11:23] onyb commented on #15797
Draft PR available in https://github.com/brave/ethereum-remote-client/pull/238. Needs a rebase before merging, once https://github.com/brave/ethereum-remote-client/pull/236 goes in.

By the way, we should probably follow up with Unstoppable Domains to indicate that Brave supports it natively.

<p align="center">
  <img width="640" src="https://user-images.githubusercontent.com/3684187/118118785-ae

[2021-05-13 11:25] BRAVERaaa opened #15825 "Fail to Protect Privacy from Fingerprintjs"
## Description

Fail to Protect Privacy from Fingerprintjs

## Steps to Reproduce

   1. Open https://fingerprintjs.com/
   2. Clear all cookies and cache
   2. Close all tabs and close browser
   3. Restart and open https://fingerprintjs.com/

## Actual result:

![image](https://user-images.githubusercontent.com/84130904/118118478-91522e00-b41f-11eb-95e7-8a1af5b87bb6.png)
(I may be tracked)

## E

[2021-05-13 11:29] tmancey commented on #15801
@RupeshBhandari these steps are for our support team and should not be used outside of Brave

[2021-05-13 11:35] LaurenWags commented on #15725
Closing as this is available with https://github.com/brave/brave-browser/releases/tag/v1.24.85

[2021-05-13 11:35] #15725 closed

[2021-05-13 11:40] LaurenWags opened #15826 "[Desktop] Release Notes for 1.24.x Release #3"
### Release Notes:

- Upgrade from Chromium 90.0.4430.93 to Chromium 90.0.4430.212. ([#15725](https://github.com/brave/brave-browser/issues/15725))

[2021-05-13 11:45] RupeshBhandari commented on #15801
@tmancey thanks for letting me know.

[2021-05-13 11:54] srirambv commented on #15802
@AlexeyBarabash he may be referring to the tab count/tab tray icon which we don't have and neither Chrome. I don't see a point in having tab tray on tablet when you can easily swipe through the tabs themselves

[2021-05-13 12:30] GeetaSarvadnya commented on #15725
Verification passed on

[code]
![image](https://user-images.githubusercontent.com/38657976/118125842-23a10480-b415-11eb-8778-98cdf372fa9a.png)

[2021-05-13 12:35] bdantas opened #15827 "bundletool fails to generate APKs from AAB"
## Description
bundletool fails to generate APKs from AAB

## Steps to reproduce
   1.  Download bundletool and appropriate .aab file (my device is arm64, so I downloaded BraveMonoarm64.aab)
   2.  `$ alias bundletool='java -jar /home/bruno/Downloads/bundletool-all-1.6.0.jar'`
   3.  `$ bundletool build-apks --bundle=/home/bruno/Downloads/BraveMonoarm64.aab --output=/home/bruno/Downloads/BraveMono

[2021-05-13 12:42] DaveLomber opened #15828 "What's the right flow to watch for changes"
Hi everyone,

I'm trying to understand the flow regarding how to develop the brave-browser,
mainly  - how to apply changes and get them immediately w/o waiting form complete rebuild

It's not clear at all from the readme, could someone shed more light how to properly do it.

should it be like this?:
- `npm run build -- Debug`
- `npm start Debug` so then it will watch for changes automatically
- an

[2021-05-13 13:18] manikandancode commented on #12292
Really Painful!

Need to use private mode or clear browsing history brave://settings/clearBrowserData every time

[2021-05-13 13:22] srirambv commented on #15825
cc: @pes10k

[2021-05-13 13:23] srirambv commented on #15827
cc: @wchen342 @SergeyZhukovsky

[2021-05-13 13:25] karthik-krishnan commented on #14924
I think I found the pattern.  If I disable the "Automatic Window Snapping" option in BettertouchTool, the problem goes away.

[2021-05-13 13:51] bbondy commented on #15797
Looks like it's already updated. I think they were probably just waiting for today's press

<img width="865" alt="Screen Shot 2021-05-13 at 9 51 14 AM" src="https://user-images.githubusercontent.com/831718/118135234-c5eac900-b3d0-11eb-810e-6f05ebbd2bcf.png">

[2021-05-13 13:57] bbondy opened #15829 "Change the IPFS onboarding page link per a privacy review"
Learn more link on the IPFS onboarding interstitial page links to
https://support.brave.com/hc/en-us/sections/360010974932-InterPlanetary-File-System-IPFS- but @PrivacyMatters notes it should instead link to to https://support.brave.com/hc/en-us/articles/360051406452-How-does-IPFS-Impact-my-Privacy-

[2021-05-13 14:01] blitztide opened #15830 "Adverts displayed on youtube.com when navigated through back button."
## Description
Adverts show on youtube.com if page is loaded through back button.

## Steps to Reproduce
   1.  Load youtube video with adverts
   2.  Navigate to another video within youtube (no adverts displayed up to this point)
   3. Click back button, youtube adverts are displayed

## Actual result:
Adverts Displayed

## Expected result:
No adverts

## Reproduces how often:
Easily reproduced

[2021-05-13 14:03] bbondy opened #15831 "Change Cloudflare Privacy Policy interstitial link"
Change Cloudflare Privacy Policy interstitial link from:
https://www.cloudflare.com/en-ca/privacypolicy/

to:
 https://developers.cloudflare.com/1.1.1.1/privacy/public-dns-resolver

[2021-05-13 14:11] srirambv commented on #15725
Verification passed on the following devices running 1.25.58 x64 build

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/118137747-766ec200-b3fd-11eb-9ad8-e347dead0bb8.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/118137776-7d95d000-b3fd-11eb-8490-763b38218c91.png>

[2021-05-13 14:15] bbondy commented on #14383
Closing this since it was a hack day project for a candidate. We'll post a new issue to track swaps soon.

[2021-05-13 14:15] #14383 closed

[2021-05-13 14:28] dbsimeonov commented on #2997
Is anyone still experiencing this? I'm reproducing it on the latest version + Linux

[2021-05-13 14:28] bbondy opened #15832 "Evaluate AWS for mainnet ETH JSON RPC calls"
i) Check to make sure that the Infura only functions are not used in the Crypto Wallets extension (see spreadsheet link from the Slack link below)

ii) Test out some basic functionality to make sure there are no regressions by hard coding
the URL change locally in `fetchConfigFromReq` from `node_modules/eth-json-rpc-infura/src/index.js`

iii) Possibly if you can get a network log of calls, we’d li

[2021-05-13 14:34] wchen342 commented on #15827
Please specify `--aapt2=third_party/android_build_tools/aapt2/aapt2` in the command line options.

[2021-05-13 15:18] GeetaSarvadnya commented on #15736
Looks good hence closing the issue.

[2021-05-13 15:18] #15736 closed

[2021-05-13 15:22] pes10k commented on #15825
Thank you for raising this issue @BRAVERaaa! I'm going to close the issue though, for the same reasons this previous issue was closed https://github.com/brave/brave-browser/issues/14031

The short of it is that the page you're referencing plays a whole bunch of games that aren't related to fingerprinting, so that their commercial product looks more impressive.  For Brave users their tracking is ba

[2021-05-13 15:22] #15825 closed

[2021-05-13 15:26] srirambv commented on #15740
Verification passed on OnePlus 6T with Android 10 running 1.25.58 x64 build

[2021-05-13 15:26] #15740 closed

[2021-05-13 15:28] LaurenWags commented on #15737
`Brave-Browser-x64` build used for above tests:

[code]

[2021-05-13 15:35] tmancey opened #15833 "BAT values should follow the standards specified in the contract"
BAT values should follow the standards specified in the contract instead of using `double`

[2021-05-13 15:42] spylogsster commented on #15829
changed for brave://settings/ipfs and for onboarding page

[2021-05-13 15:48] bdantas commented on #15827
I get "No such file or directory" when I specify that:
[code]

If I extract the `aapt2` binary (which seems to work fine) from bundletool-all-1.6.0.jar and specify absolute path to it, I get the same error in OP:
[code]
Maybe there's something about the `.aab` file that `aapt2` doesn't like.

[2021-05-13 15:49] #15794 closed

[2021-05-13 16:03] bcat1023 opened #15834 "Images wont load if I'm not in the tab"
## Description

I noticed that when you load a page and click off, for no reason images and files won't load and get skipped. Then I have to reload the page for the page to display correctly. I also noticed if the tab isn't opened then sound and javascript won't execute. Is this built-in or a bug

## Steps to Reproduce

   1. Open a webpage with media (photos, CSS, js, etc)
   2. Click off to anot

[2021-05-13 16:06] wchen342 commented on #15827
You need the `aapt2` from chromium source tree. chromium has a modified version of `aapt2` different from the public version in android sdk.

[2021-05-13 16:14] bdantas commented on #15827
I see. Thank you for your input--I would not have guessed.

Do you know where I can find the `aapt2` binary for linux x86_64? (I don't need the whole chromium development environment, just want to be able to create APK from Brave's AAB.)

[2021-05-13 16:22] #15786 closed

[2021-05-13 16:37] NumDeP opened #15835 "Feature request & question about 'Continue where you left off' & 'Exit'"
## Description

Does 'Continue where you left off' in Setting - 'On start-up' actually download data again or not? If it does can you improve this so whatever tab that a user left on when closing actually reloads without further data download.

Quite often I've resorted to leaving my computer on hibernate or sleep just to pick up where I've left off and to be quite honest I've never became accusto

[2021-05-13 16:38] karenkliu commented on #15761
We're already tracking cleaning up the P3A opt-in and crash reporting in this issue: https://github.com/brave/brave-browser/issues/14269

That issue shows text cleaned up and moving the two options to the "Get Started" section so it's easier for users to find.

[2021-05-13 16:38] #15761 closed

[2021-05-13 16:38] stephendonner commented on #15763
Additional crash IDs:

f0030700-b423-5206-0000-000000000000
f1030700-b423-5206-0000-000000000000
9df00600-b423-5206-0000-000000000000
9ef00600-b423-5206-0000-000000000000
e0030700-b423-5206-0000-000000000000
df030700-b423-5206-0000-000000000000
dd030700-b423-5206-0000-000000000000
dc030700-b423-5206-0000-000000000000
d6030700-b423-5206-0000-000000000000
eb030700-b423-5206-0000-000000000000
ee03070

[2021-05-13 16:46] wchen342 commented on #15827
You can try download directly from [here](https://storage.googleapis.com/chrome-infra-packages/store/SHA256/476939c303a521a4bab23bf64c8c87a2d88f26877ee8aaa764ef0d1fe2852bcb?Expires=1620931143&GoogleAccessId=chrome-infra-packages%40appspot.gserviceaccount.com&Signature=HSkhlLzWZ6lB%2B7TiQ1HNqNJlMGekGzFkcQWX5ZnaNzXxTFknEAY%2Fwhai7Q70buqjyB0tRVVAsyOXaL6RL%2BqZ%2FRcjvZP1zQA%2BJhZ9%2Fwhxeqgnr25CqP2%2F%

[2021-05-13 16:47] NumDeP opened #15836 "Ads shouldn't stay on for too long"
## Description

I don't purposefully use the browser for Rewards thus I've set to show only 1 Ad per hour, that being said I don't know whether it's just for Linux users but Ads can can be distracting like pop-ups on Internet Explorer (remember that) they just simply don't go off an I don't like how it just remains there unless you move your attention away just to close it.

Ad banners should go o

[2021-05-13 16:58] sujay1844 opened #15837 "Brave doesn't leave sync chain"
## Description

I am trying to leave my sync chain. But brave is not letting me do so.
https://imgur.com/a/njgxW2k

## Steps to Reproduce

   1. Go to `brave://sync`
   2. Press manage synced devices
   3. Press Leave sync chain
   4. Come back later to see that nothing has changed

## Actual result:

Brave is still in the old sync chain

## Expected result:
Brave must have left the sync chain

##

[2021-05-13 16:59] btlechowski commented on #15738
LGTM

Verification passed on

Brave | 1.24.85 Chromium: 90.0.4430.212 (Official Build) (64-bit)
-- | --
Revision | e3cd97fc771b893b7fd1879196d1215b622c2bed-refs/branch-heads/4430@{#1429}
OS | Ubuntu 18.04 LTS

[2021-05-13 16:59] #15738 closed

[2021-05-13 17:00] Miyayes opened #15838 "Add link to community.brave.com as support outlet in Brave Rewards settings page"
## Description

Currently, users in the browser don't know how to find our community.brave.com support forum for support issues. We should add some kind of link or messaging on the Brave Rewards settings page (brave://rewards) to funnel users there if they need support help.

cc: @w0ts0n @hollons

## Implementation

Keep it simple. The text will just be static for now.

_Needs design._ cc: @codyba

[2021-05-13 17:06] kjozwiak commented on #15735
Went through the above manual pass using the following build:

[code]

[2021-05-13 17:06] #15735 closed

[2021-05-13 17:10] GeeSko opened #15839 "Can't Open a link in new background tab by "Ctrl + Click a link", it'll automatically close in a few seconds"
it'll automatically close in a few seconds

[2021-05-13 17:13] kjozwiak commented on #15742
Checked and ensured that `x86` builds for `1.24.85 Chromium: 90.0.4430.212` are being installed without any issues:

* `Win 10 x86` - **PASSED** (restarted browser multiple times)
* `Win 8.1 x86` - **PASSED** (restarted browser multiple times)

[2021-05-13 17:15] bsclifton commented on #4082
We should have 1 and 2 resolved completely now; for 3 we have https://github.com/brave/brave-browser/issues/35 captured 😄

[2021-05-13 17:15] #4082 closed

[2021-05-13 17:15] #15737 closed

[2021-05-13 17:20] bsclifton commented on #15839
@GeeSko do you have an example? This sounds like it might be a problem with a specific site. It's definitely working - middle click and ctrl click are used by folks all the time

[2021-05-13 17:22] bsclifton commented on #15704
Thanks for the assist, @Dr-Sauce 😄 You absolutely can change this under appearance in settings (as shown above)

[2021-05-13 17:22] #15704 closed

[2021-05-13 17:24] bsclifton commented on #15209
Closing as `wontfix` - but appropriate folks have been notified with your notes and impact on usability

[2021-05-13 17:24] #15209 closed

[2021-05-13 17:25] bsclifton commented on #15315
We did capture https://github.com/brave/brave-browser/issues/35 for the idea of Tab Pages. We had this in the older Electron/Muon based version of Brave and it was pretty cool 😄

[2021-05-13 17:26] bsclifton commented on #5838
Closing in favor of https://github.com/brave/brave-browser/issues/15252 - see issue for updated designs (and subscribe if interested!)

[2021-05-13 17:26] #5838 closed

[2021-05-13 17:28] bsclifton commented on #11962
Closing in favor of https://github.com/brave/brave-browser/issues/15252 - see issue for updated designs (and subscribe if interested!)

[2021-05-13 17:28] #11962 closed

[2021-05-13 17:31] bsclifton commented on #14733
related https://github.com/brave/brave-browser/issues/14029

[2021-05-13 17:38] bsclifton commented on #7802
Closing in favor of https://github.com/brave/brave-browser/issues/14733 which has some more information

[2021-05-13 17:38] #7802 closed

[2021-05-13 17:40] stephendonner commented on #15763
Just a wild guess that something Polymer-related (given the console logs) is contributing to this - will re-test after https://github.com/brave/brave-core/pull/8800/files lands.

[2021-05-13 17:41] #15826 closed

[2021-05-13 17:47] bsclifton opened #15841 "Option to open new tabs to the right of the currently focused tab"
## Description
If you open a new tab using the + in the tab bar or use `Ctrl` + T / `Cmd` + T, a new tab will be created at the end of the row

Some folks would like this configurable and have new tabs created open directly to the right of the currently focused tab

As a work-around, this extension can be used:
https://chrome.google.com/webstore/detail/open-tabs-next-to-current/gmpnnmonpnnmnhpdlda

[2021-05-13 17:53] kjozwiak commented on #15742
Went through the following OS’s using `1.24.85 Chromium: 90.0.4430.212` and made sure that the correct Tor binary was being downloaded as per https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6:

* `macOS 11.3 x64` - **PASSED**

[code]

* `Win 10 x64` - **PASSED**

[code]

* `Ubuntu 20.04 x64` - **PASSED**

[code]

[2021-05-13 17:59] thankthemaker commented on #9586
Also on macOS Big Sur

Brave | 1.24.84 Chromium: 90.0.4430.93 (Offizieller Build) (x86_64)
macOS Version 11.2.3 (Build 20D91)
JavaScript | V8 9.0.257.23

[2021-05-13 18:03] karenkliu commented on #1841
@rebron Fine with crash reports dialog first then restore tabs prompt. The crash reports dialog is user-blocking while the restore tabs prompt isn't.

[2021-05-13 18:05] btlechowski commented on #15024
The test plan from https://github.com/brave/brave-core/pull/8392 involves all platforms. Added `QA/Test-All-Platforms` label.

[2021-05-13 18:13] bdantas commented on #15827
Thank you, wchen342!!! Now it works like a charm :)

For other users interested in building and installing the `.apks` file themselves:
1. Download appropriate `.aab` file from Brave's github page
2. Make sure you have `bundletool` and chromium project's `aapt2` (for the latter, see wchen342's link above)
2. Create a keystore if you don't already have one (see https://stackoverflow.com/a/15330139)

[2021-05-13 18:13] #15827 closed

[2021-05-13 18:22] bsclifton commented on #9586
This is something we intentionally disabled (see https://github.com/brave/brave-core/pull/114) for privacy reasons

@jumde @pes10k should we close this issue? or we could put behind a flag for people wanting to use it

[2021-05-13 18:27] bsclifton commented on #15668
cc: @rebron on above ^^

[2021-05-13 18:30] stephendonner commented on #15806
@simonhong I see tooltips for Brave Together, Crypto Wallets, History, Downloads, Settings, etc.   Just not the Sidebar icon itself, which only appears centered in that black bar.

![this-guy](https://user-images.githubusercontent.com/387249/118170163-a35fac80-b3de-11eb-861e-42801e03612a.png)

[2021-05-13 18:36] iefremov commented on #14924
Thanks @karthik-krishnan , the problem turned out to be non-trivial, it is on my list

[2021-05-13 18:42] AlexeyBarabash commented on #15714
On Chrome the next menu item is `Create QR code for this page` which is cut in Brave.

[2021-05-13 18:44] fmarier opened #15842 "Warn about security key fingerprinting"
Firefox has the following warning:
![2ORwgEs](https://user-images.githubusercontent.com/167821/118171639-4bc24080-b3e0-11eb-82ed-8080fd5ef6fc.png)

when visiting https://cloudflarechallenge.com/.

Brave always sends the extended info without warnings.

[2021-05-13 18:47] Konnichy commented on #9586
Is there any way it can be enabled by the user?

Enabling `brave://flags/#enable-experimental-web-platform-features` or adding `--enable-features=NewBLEWinImplementation` to the command-line do not.

[2021-05-13 18:48] bdantas commented on #15827
P.S. A wishlist item:
It would be nice if a link to the appropriate `aapt2` binary were provided with each brave-browser release's "Assets". This way, "mere mortal" users such as myself would be alerted to the fact that the `aapt2` included in `buildtool` is not going to work. It would also safeguard against problems from users using an outdated `aapt2` from chromium source tree.

[2021-05-13 18:51] LaurenWags commented on #15741
Tests above verified on Asus Zenfone (x86) with Android 6.0 running `1.24.85`

[2021-05-13 18:51] #15741 closed

[2021-05-13 18:52] GeeSko commented on #15839
Thanks, now it works. I just restarted the browser.

[2021-05-13 18:53] #15839 closed

[2021-05-13 19:05] Wesley-santos-cyber opened #15843 "please create a user account system to store browser information and settings"
please create a user account system to store browser information and settings

[2021-05-13 19:23] Miyayes commented on #6391
Checking what server-side requirements there would be to achieve this! cc: @husobee @evq @jsecretan Maybe we can start moving this forward gradually :)

[2021-05-13 20:08] #15742 closed

[2021-05-13 20:21] evq commented on #6391
I think only client side changes are needed, currency is a parameter on the parameters endpoint:
[code]

[2021-05-13 20:27] stephendonner opened #15844 "Consider pulling in some options from Chromium's Accessibility settings page"
## Description

Consider pulling in some options from Chromium's Accessibility settings page; filed this issue after speaking briefly to @rebron.

## Steps to Reproduce

   1. load `chrome://settings/accessibility` in Chrome/Chromium
   2. note the available Accessibility options
   3. load `brave://settings/` in Brave
   4. note the lack of available Accessibility options

## Actual result:

We a

[2021-05-13 20:38] stephendonner opened #15845 "Setup your IPNS keys should read Set up your IPNS keys"
## Description

Setup your IPNS keys should read Set up your IPNS keys

## Steps to Reproduce

   1. new profile
   2. launch Brave
   3. load `ipns://brantly.eth`
   4. click on `Use a local node`
   5. wait
   6. load `brave://settings/ipfs/keys`
   7. look at the spelling of `Setup your IPNS keys`

## Actual result:

<img width="1505" alt="Screen Shot 2021-05-13 at 1 34 00 PM" src="https://user

[2021-05-13 20:52] fmarier commented on #14269
There are also two more types of data collection that are lacking an opt-out:
- variation server (requested in https://github.com/brave/brave-browser/issues/15711)
- Ads-related user studies (e.g. https://github.com/brave/security/issues/439)

Perhaps it makes sense to have a data collection sub-section like Firefox:
![Screenshot from 2021-05-11 14-00-37](https://user-images.githubusercontent.com/

[2021-05-13 20:52] stephendonner commented on #15673
Verified `FIXED`  using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Confirmed:
1. can load `brave://settings/ipfs/keys`
2. after clicking `Start node`, I get a key named `self` under `Keys available for publishing`
3. I am able to

[2021-05-13 21:00] zenparsing commented on #15005
The NTP rewards widget should be updated to show the same information (including the "X BAT arriving in Y days" notice).

[2021-05-13 21:00] stephendonner commented on #15428
Verified `FIXED` using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Steps:
1. new profile
2. load brave://flags/#sidebar and enable the sidebar
3. restart Brave
4. hover over the ➕ icon/widget on the bottom of the sidebar

Confirme

[2021-05-13 21:10] stephendonner commented on #14780
Verified `FIXED` using the steps from https://github.com/brave/brave-core/pull/8699, and build

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Steps:
1. clean profile
2. launch Brave
3. restart Brave
4. open `brave://version`
5. look

[2021-05-13 21:20] stephendonner commented on #15641
Verified `PASSED` using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Checked both `brave://version` as well as `brave://settings/help` for branding and correct CR + Brave versions.

brave://version | brave://settings/help
---------

[2021-05-13 21:32] stephendonner commented on #15713
Verified `PASSED` using the testplan from https://github.com/brave/brave-core/pull/8769 with build

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Steps:
1. launched Brave with a clean profile
2.  enabled `Enable Sidebar` feature flag

[2021-05-13 21:32] jonathansampson commented on #15773
Closing this, as I think it was due to me using an unsupported version of Node and NPM.

[2021-05-13 21:32] #15773 closed

[2021-05-13 22:02] StefanLobbenmeier commented on #15252
You did not mention chrome plugins that provide a custom background in your description, is that intentionally not included or will that automatically work with one of the options anyway?

[2021-05-13 22:07] stephendonner commented on #13190
Verified `PASSED` using

Brave | 1.26.18 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Confirmed:

1. cursor-pointer changes to hand when hovered/resting over/on the sponsored image
2. the sponsored-image URL is displayed on the bottom left of the b

[2021-05-13 22:29] simonhong commented on #15806
@karenkliu can you give tooltip string for this show on click area?

[2021-05-13 22:31] pes10k commented on #9586
Thank you to folks involved in this thread.  As you all have noticed, Brave has to date generally disabled non-standard Chrome features that come with significant privacy risks.  Broadly, we've completely disabled these features (instead of making them controllable by flags, or otherwise limiting them) for a few reasons:

1. Easier (though not easy) to implement the "always disable" option.  This

[2021-05-13 22:31] #9586 closed

[2021-05-13 22:32] pes10k commented on #9586
I've labeled it `wontfix` but I dont mean we dont intend a better solution here, only that that solution won't be specific to Web Bluetooth on linux

[2021-05-13 22:34] stephendonner commented on #15714
This happens on desktop, too, but isn't always broken.  It depends on the content for the context-menu invocation.

broken | works
--------|--------
![broken-desktop](https://user-images.githubusercontent.com/387249/118195712-9489f180-b400-11eb-92f3-037a940c532d.png) | ![not-always-broken](https://user-images.githubusercontent.com/387249/118195617-660c1680-b400-11eb-8b1c-8e7a1bc14dd7.png)

[2021-05-13 22:50] BartAgterbosch opened #15846 "Brave letting youtube ads through"
As of the latest release of brave on windows, version 1.24.85 64bit, it is no longer blocking youtube ads inbetween videos in playlists
This started right the very second after it had finished updating to the latest version

[2021-05-13 23:11] CBMVic20 commented on #10430
Wondering why this can't be added as other Chromium based browsers like Edge, Firefox, Opera and Vivaldi all have a confirm on exit option. I always have at least three browser sessions open for work, personal and chat / email,  each with several active tabs. Have to clear everything including history on close for work security policy so it's a real pain when I accidently exit Brave and lose every

[2021-05-13 23:13] dsg38 commented on #14286
Same problem (on Ubuntu 20.04.2)

[2021-05-13 23:14] ryanbr commented on #15846
Youtube has been certainly trialing ads, can you try adding to the `brave://adblock` and then refresh the youtube tab:

[code]

@BartAgterbosch

[2021-05-13 23:19] karenkliu commented on #15806
@simonhong `Show sidebar`

[2021-05-13 23:36] #15685 closed

[2021-05-14 00:08] snowbound commented on #10430
@CBMVic20 You can for MS Edge get this warning per https://www.onmsft.com/news/microsoft-edge-canary-can-now-warn-users-before-closing-multiple-tabs#:~:text=Navigate%20to%20the%20three%20dots,before%20Closing%20multiple%20tabs%E2%80%9D%20option.

There is no such flag in Brave

[2021-05-14 00:30] mkarolin opened #15847 "Cr91: Disable Fledge Interest Group features"
Per @pes10k we should disable `kFledgeInterestGroups` and `kFledgeInterestGroupAPI`

Upstream change:
https://source.chromium.org/chromium/chromium/src/+/b8318938b38a2146ab8e34fbf57a4b00999151e9

<pre>
MERGE: Split the Fledge feature flag into a global guard flag and an exposure flag.

The current configuration uses the FledgeInterestGroups feature as both a global guard for the feature as well as

[2021-05-14 00:35] mkarolin opened #15848 "Cr91: Disable HandwritingRecognition API features"
Per @pes10k we should disable `kHandwritingRecognitionWebPlatformApi` and `kHandwritingRecognitionWebPlatformApiFinch` features.

Upstream changes:

https://source.chromium.org/chromium/chromium/src/+/6a5c4d21ede82be4ec7a78efc362577bfd24d4eb

<pre>
HWR: Add a kHandwritingRecognitionWebPlatformApi feature to control OT & mojo.

The added flag controls whether the feature is enabled in browser and
w

[2021-05-14 00:50] ToddAndMargo commented on #8590
I just got off a Go To Assist session with a customer that needs to fill out a government certification every week.  It won't function properly in Firefox, but does in Blink.  The end game is a PDF, but it won't display properly in Brave, so I switched her to download rather than open.  It displays properly in Acrobat Reader.  She said she understood how, but her voice was confused.  So ...  (At l

[2021-05-14 01:12] #15739 closed

[2021-05-14 01:18] kjozwiak commented on #15739
Above passes were completed using the following build:

[code]

[2021-05-14 01:24] kjozwiak opened #15849 "Release notes for 1.24.x Release #3"
### Release Notes:

- Upgrade from Chromium 90.0.4430.93 to Chromium 90.0.4430.212. ([#15725](https://github.com/brave/brave-browser/issues/15725))

[2021-05-14 01:32] #15849 closed

[2021-05-14 04:25] pitsi commented on #12375
Same thing in 1.24.84 and 1.24.85.

[2021-05-14 04:37] SayarB commented on #15845
it seems that it is problem only in macOS. I have a windows pc and the IPFS tab does not contain a key tab.
Cannot reproduce issue.

[2021-05-14 05:07] #15800 closed

[2021-05-14 06:17] #15422 closed

[2021-05-14 06:32] petemill opened #15851 "[Desktop] FTX (and other NTP API widget) services should not be tied to BrowserContext"
Pass smaller class instances in individually to increase compatibility with iOS

[2021-05-14 06:34] petemill opened #15852 "FTX (and other NTP api widgets) need to handle error states better"
Instead of responding to empty data and just not displaying anything of value, error states should be shown.

[2021-05-14 06:40] srirambv commented on #14498
Closing the issue as I have not been able to repro the issue for a while now.

[2021-05-14 06:40] #14498 closed

[2021-05-14 06:46] elixirbeats commented on #12401
Please implement this!

[2021-05-14 07:12] #15822 closed

[2021-05-14 08:13] BRAVERaaa commented on #15825
@pes10k
Sorry for disturbing, but something different happens.
Few weeks ago, every time I clean cookies and cache then restart browser, the ID shown was different, and the IDs between normal window and incognito window were different as well.
But now, I try it again, the IDs between normal window and incognito window are the same!!! It is amazing!!!
I even have tried to change my ip, but the ID i

[2021-05-14 08:17] BRAVERaaa opened #15853 "Reopen Issue #15825"
Reopen Issue #15825

(Copy from https://github.com/brave/brave-browser/issues/15825#issuecomment-841090194)
Sorry for disturbing, but something different happens.
Few weeks ago, every time I clean cookies and cache then restart browser, the ID shown was different, and the IDs between normal window and incognito window were different as well.
But now, I try it again, the IDs between normal window a

[2021-05-14 08:17] CBMVic20 commented on #10430
Thanks @**Snowbound**, yes I have enabled this already for Edge hence my comment. Currently having to use Edge as my main browser because Brave doesn't have this. Firefox, Opera and Vivaldi all have this without any flags.

[2021-05-14 08:35] vdahmane commented on #13565
Same problem:
Brave version: 1.24.84

lsb_release -a:
Distributor ID:	Linuxmint
Description:	Linux Mint 20.1
Release:	20.1
Codename:	ulyssa

[2021-05-14 08:52] dranov commented on #15837
I had the same issue with the latest current release, on Windows 10.

[code]

@sujay1844: a workaround that solved the issue for me was to go to `brave://sync-internals/ ` and click `Disable Sync (Clear Data)`. If you have other devices as part of that sync chain, you might want to try the `Stop Sync (Keep Data)` option instead.

[2021-05-14 09:14] spylogsster opened #15854 "Fix master build"
[code]

[2021-05-14 09:19] #15854 closed

[2021-05-14 09:22] mariospr opened #15855 "Move away from using base::{Bind,Callback,Closure}()"
## Description

`base::Bind()`, `base::Callback` and `base::Closure` have been deprecated for a while now, are [finally gone on Chromium 92](https://chromium.googlesource.com/chromium/src/+/6cc94b53393c1275843e43d3bbd6eda1f40fdd78 ), so it would be good to migrate all current instances in the code (and stop introducing new ones) to the `*Once` / `*Repeating` variants instead to easy further rebase

[2021-05-14 09:56] kyoyacchi commented on #15802
Yeah, that's exactly what i meant.

[2021-05-14 10:53] kyoyacchi commented on #15846
You may use uBlock Origin extension for block ads (In my opinion.)

[2021-05-14 11:02] Brawaru commented on #15209
Well, I hope to see some changes in the future, because for now Brave seems very unusable for me [at least] compared to all other browsers (themes, dark mode, etc don't really do much) :( Thanks for listening and forwarding this, though!

[2021-05-14 11:14] iefremov commented on #14924
dupe https://github.com/brave/brave-browser/issues/7205

[2021-05-14 11:14] #14924 closed

[2021-05-14 11:14] iefremov commented on #14759
probably a dupe of https://github.com/brave/brave-browser/issues/7205

[2021-05-14 11:14] #14759 closed

[2021-05-14 11:15] iefremov commented on #14079
the backtrace entry is dead. @zashkvarr11 please file a new issue if you ever encounter this again

[2021-05-14 11:15] #14079 closed

[2021-05-14 11:16] srirambv opened #15856 "Invalid response received message when loading an YT video"
## Description
Invalid response message when loading an YT video

## Steps to reproduce

   1. Install 1.26.18 nightly build
   2. Load a video on YT
   3. Page errors out the moment its loaded, pull down reload loads the video

## Actual result

https://user-images.githubusercontent.com/17010094/118263265-f18fb100-b4ad-11eb-9e89-1779c3254061.mp4

## Expected result
Should load video without showi

[2021-05-14 11:17] iefremov commented on #12393
@Brave-Matt @ashdavies @andy4117 can anyone reproduce?

[2021-05-14 11:17] iefremov commented on #11626
Should be fixed by now

[2021-05-14 11:17] #11626 closed

[2021-05-14 11:20] iefremov commented on #13179
@EstebanJoseSantos please repoen if you still encounter this. The crashdump entry is dead by now, so we can't do anything atm

[2021-05-14 11:20] #13179 closed

[2021-05-14 11:21] iefremov commented on #344
Most probably this is a normal, upstream DCHECK :)

[2021-05-14 11:21] #344 closed

[2021-05-14 11:21] iefremov commented on #681
stale

[2021-05-14 11:21] #681 closed

[2021-05-14 11:22] iefremov commented on #1039
should be fixed by now...

[2021-05-14 11:22] #1039 closed

[2021-05-14 11:24] iefremov commented on #3050
stale, most probably Chromium DCHECK

[2021-05-14 11:24] #3050 closed

[2021-05-14 11:25] iefremov commented on #3054
stale

[2021-05-14 11:25] #3054 closed

[2021-05-14 11:30] iefremov commented on #4234
@Byrd1083 please reopen if this is reproducible

[2021-05-14 11:30] #4234 closed

[2021-05-14 11:31] iefremov commented on #3093
seems not reproducible

[2021-05-14 11:31] #3093 closed

[2021-05-14 11:35] 8227846265 opened #15857 "Performance Issue: Opening Private Windows Takes Too Long"
## Description
Whenever opening a Private Window. It will take at least 1 second to have it usable.

While its whiteout. You can't search, if you do. It will just return to the Private Window's New Tab.

Note:

- My computer has good hardware specs since it's built as a gaming desktop, so I don't have any problems on browsing performance issue on other browsers. Only applies to Brave Browser.

##

[2021-05-14 11:36] iefremov commented on #3675
Reproduced, updated description

[code]

[code]

[2021-05-14 11:49] wknapik commented on #13565
I don't have access to a printer, but I had one configured from a while back. I do see it show up on the list when trying to print and I assume it would work (?), but if I click "Manage" to possibly add a new printer, nothing happens and the following is printed on stderr:
[code]

PS. The auto-connection for cups-control has been granted. This will take effect for users after the next snap release

[2021-05-14 11:51] adisen99 commented on #15769
I am closing the issue. I reverted to using Xwayland instead of Wayland session. This seems to be a Wayland issue. However, could not replicate the issue in other non chromium based browsers (after enabling Wayland session support on them).

[2021-05-14 11:51] #15769 closed

[2021-05-14 11:54] iefremov commented on #3766
can't reproduce

[2021-05-14 11:54] iefremov commented on #3891
seems working now

[2021-05-14 11:54] #3891 closed

[2021-05-14 11:57] tmancey commented on #12572
@waaronking @StanBoyet Could you please let me know if this is still happening for you in 1.24.x or above. Thanks

[2021-05-14 11:59] iefremov commented on #4689
@mwdiers @AnthonyIV @mralexho please reopen if you experience this again

[2021-05-14 11:59] #4689 closed

[2021-05-14 12:00] iefremov commented on #4877
seems not really actionable

[2021-05-14 12:00] #4877 closed

[2021-05-14 12:05] tmancey commented on #14093
@WriterDad Would you be willing to screen-share so we can help diagnose the issue, as we are unable to reproduce. Thank you, Terry

[2021-05-14 12:05] #14093 closed

[2021-05-14 12:08] OLoKo64 opened #15858 "Video buffering stops on 2 monitors"
## Description

## Steps to Reproduce

   1. Open any YouTube video on Brave.
   2. Open a second video on another tab on the other monitor.
   3. The 2 videos will stop buffering and not play smoothly.

## Actual result:

When the 2 videos start, both of them will stop buffering and stop. If 1 video is paused the other will reload and work as intended.
This is not limited to YouTube, any streamin

[2021-05-14 12:10] iefremov commented on #6242
not actionable

[2021-05-14 12:10] #6242 closed

[2021-05-14 12:11] yaoberh commented on #10791
Was wondering if there's been any updates regarding this functionality?

[2021-05-14 12:14] #12572 closed

[2021-05-14 12:27] iefremov commented on #14153
not actionable :(

[2021-05-14 12:27] #14153 closed

[2021-05-14 12:28] iefremov commented on #14016
cc @bsclifton @SergeyZhukovsky

[2021-05-14 12:53] snowbound commented on #10430
@CBMVic20 I definitely feel your pain/frustration. Edge etc do some things better than Brave does due to bugs/issues.

[2021-05-14 12:56] #15814 closed

[2021-05-14 12:57] iefremov commented on #14016
seems dupe https://github.com/brave/brave-browser/issues/15344

[2021-05-14 12:57] #14016 closed

[2021-05-14 12:59] iefremov commented on #14648
Notice the crash reason: `EXC_CRASH (Code Signature Invalid)` - OS kills the app on purpose. So I think it is something expected.

[2021-05-14 12:59] #14648 closed

[2021-05-14 12:59] #15829 closed

[2021-05-14 13:01] tmancey commented on #14384
Closing issue as an admin should set the target URL to the required domain within the brave ads admin area.

[2021-05-14 13:01] #14384 closed

[2021-05-14 13:23] iefremov commented on #11055
Reproduced, this is actually super frequent crash, it just has slightly different fingerprints.
Many thanks for repro @LaurenWags !!!

see https://github.com/brave/brave-browser/issues/12248

[2021-05-14 13:23] iefremov commented on #12248
dupe of https://github.com/brave/brave-browser/issues/11055

[2021-05-14 13:23] #12248 closed

[2021-05-14 13:24] iefremov commented on #11055
stack
[code]

https://brave.sp.backtrace.io/p/brave/debug?filters=((callstack%2Ccontains%2CLoadLocalState))&debug=(b75917,0,2)

[2021-05-14 13:25] groslyunderpaid commented on #10430
Someone should be embarrassed

On Fri, May 14, 2021, 8:54 AM snowbound ***@***.***> wrote:

[2021-05-14 13:27] iefremov commented on #12797
should be fixed here https://github.com/brave/brave-browser/issues/15145

[2021-05-14 13:27] #12797 closed

[2021-05-14 13:28] tmancey commented on #12326
@jonathansampson There does not appear to be a way to detect the type of media that is playing.

[2021-05-14 13:28] #12326 closed

[2021-05-14 13:36] tmancey commented on #13696
Closing issue as supersceded by https://github.com/brave/brave-browser/issues/9592

[2021-05-14 13:36] #13696 closed

[2021-05-14 13:37] iefremov commented on #15784
duplicate https://github.com/brave/brave-browser/issues/10765

[2021-05-14 13:37] #15784 closed

[2021-05-14 13:38] tmancey commented on #13866
Closing issue as supersceded by https://github.com/brave/brave-browser/issues/9592

[2021-05-14 13:47] ndarilek commented on #11407
Wondering if there's a flag as well? I remember this being supported previously, so was surprised when it didn't work. Tried enabling a few promising-looking flags, but none seemed to work.

Thanks.

[2021-05-14 13:48] iefremov commented on #3579
seems working now

[2021-05-14 13:48] #3579 closed

[2021-05-14 13:51] iefremov commented on #12034
it seems we don't have it anymore on backtrace, so closing. Please reopen if the ticket is still needed

[2021-05-14 13:51] #12034 closed

[2021-05-14 14:06] onyb opened #15859 "Swap on ethereum-remote-client"
### Improve layout of the Swap page

<img src="https://user-images.githubusercontent.com/3684187/118279123-0cbce980-b4cb-11eb-8623-a08c700213a7.png" width=200>

Status: ✅  (https://github.com/brave/ethereum-remote-client/pull/237)

### Allow asset dropdowns to have an unselected state

Add a state to display a "Select asset" text when:
* the Swap page is first loaded, in the To field.
* the same a

[2021-05-14 14:07] Miyayes opened #15860 "Fetch promotional cards on Brave Rewards settings page from an endpoint so that they can update asynchronously"
## Description

Currently, promotional cards on brave://rewards settings page (such as the TAP Network card) are hardcoded into the browser. This makes them inflexible and hard to update.

## Proposal

Have the browser fetch information for any promotional cards from an endpoint periodically.

### Notes

Ensure that there is precedent for fetching content like this, and that this does not compromi

[2021-05-14 14:12] #15688 closed

[2021-05-14 14:15] emerick opened #15861 "Revert Japan-specific promo card in Brave Rewards settings page"
The promotional card was originally added here https://github.com/brave/brave-browser/issues/15551, but it was ultimately decided to stop this promotion.

[2021-05-14 14:29] #15815 closed

[2021-05-14 14:31] srirambv commented on #15856
Fixed with Adblock update to version `1.0.936`

[2021-05-14 14:31] #15856 closed

[2021-05-14 14:35] srirambv opened #15862 "Investigate the new set default browser modal being shown"
## Description
Investigate the new set default browser modal being shown

## Steps to reproduce
TBA

## Actual result
<img width=300 src=https://user-images.githubusercontent.com/17010094/118285649-9966a800-b4c9-11eb-9fef-f04cf6f6b868.png>

## Expected result
Not sure

## Issue reproduces how often
Intermittent

## Version/Channel Information:

- Can you reproduce this issue with the current Play

[2021-05-14 14:36] srirambv commented on #15683
Verification passed on OnePlus 6T with Android 10 running 1.26.19 x64 Nighty

[2021-05-14 14:36] #15683 closed

[2021-05-14 14:41] #14529 closed

[2021-05-14 14:43] tmancey commented on #8270
Closing as after discussion with @amirsaber this will be resolved with new confirmation endpoints

[2021-05-14 14:43] #8270 closed

[2021-05-14 14:52] simonhong opened #15863 "Try search provider extension crash issue with ExtensionPrefStore subclassing"
F/U issue for https://github.com/brave/brave-core/pull/8626

[2021-05-14 14:53] #10601 closed

[2021-05-14 14:53] #14218 closed

[2021-05-14 14:53] #15224 closed

[2021-05-14 14:57] daviddahl commented on #13607
I also need this feature. Asking app users to install IPFS and configure it is a non-starter. Brave with pubsub and IPFS API will be transformative for decentralization on the web.

[2021-05-14 15:09] niharika412 commented on #15376
Hi @Ayushsunny ,Are you working on this? I would like to take it up.

[2021-05-14 15:18] anthonypkeane commented on #15821
@karenkliu
Can we force the Trackers & Ads Blocked string to wrap?
Also, can you confirm that the iOS and Android slight design differences are ok? The iOS ones are a bit more polished.
We need to remove the space after "s" for time saved also.

[2021-05-14 15:22] nasatome commented on #15362
just to add: in version Version 1.24.85 Chromium: 90.0.4430.212 (Official Build) (64-bit) the problem remains

[2021-05-14 15:25] #15717 closed

[2021-05-14 15:35] stephendonner opened #15864 "Toggling `Live caption` via media-playback button dynamically downloads Google SODA components"
## Description

Toggling `Live caption` via media-playback button dynamically downloads Google SODA components; this is new in the Chromium 91 major bump - we need to figure out how we want to handle this

## Steps to Reproduce

   1. new profile
   2. play `https://www.youtube.com/watch?v=kwAGY1PwMkE`
   3. click on the media-control menu item on the right-hand side of the toolbar
   4. toggle `L

[2021-05-14 15:44] stephendonner commented on #15864
Should also mention:
1) the UI options for these are missing in Brave, for which I filed https://github.com/brave/brave-browser/issues/15844
2) there are two feature flags in `brave://flags`:
`Live Caption`
`SODA for Live Caption`

Both are set to `default` even with the component downloaded and presumably active.

![soda-feature-flags](https://user-images.githubusercontent.com/387249/118295380-9f

[2021-05-14 15:56] srirambv commented on #15802
I don't see value addition in having the tab tray on Tablet when it has more easier swipe navigation for finding tabs. @anthonypkeane can take a call on this

[2021-05-14 16:03] fukaki commented on #14014
The video viewing deadline was until the end of February.
I can watch it now.
I would like to express my appreciation for following.

[2021-05-14 16:03] #14014 closed

[2021-05-14 16:07] tmancey opened #15865 "Partition Brave Ads persisted data for server environment and wallet id"

[2021-05-14 16:08] tmancey opened #15866 "Partition Brave Rewards persisted data for server environment and wallet id"

[2021-05-14 16:10] iefremov commented on #15707
@Miyayes also reproduced it https://bravesoftware.slack.com/archives/C01826CM3J9/p1621006367035300

[2021-05-14 16:11] tmancey commented on #14528
Closing issue as caused by a redirect. Please use URLs that do not redirect. Thanks

[2021-05-14 16:11] #14528 closed

[2021-05-14 16:14] bbondy commented on #14124
@jamesmudgett could you attach a new resource? Or should the same one be used?

[2021-05-14 16:17] #15797 closed

[2021-05-14 16:21] #15808 closed

[2021-05-14 16:28] bridiver commented on #2105
I think we need some more detail here for `Actual result`. What should happen if there is a previously saved profile that would normally be on startup? I think this should be a separate profile or maybe even a separate user data dir, but we need to outline these scenarios for QA and browser tests.

[2021-05-14 16:28] tmancey commented on #14054
@GeetaSarvadnya We cannot reproduce this issue, can you please retest. Thanks

[2021-05-14 16:30] bridiver commented on #2105
it's possible that `--incognito` already handles ^^, but we still need to explain what the expected behavior is

[2021-05-14 16:35] stephendonner commented on #15682
Verified `PASSED` with

Brave | 1.26.19 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

Will mention issues found and their status in Slack, and in https://github.com/brave/brave-browser/issues/14848

[2021-05-14 16:35] #15682 closed

[2021-05-14 16:37] samartnik opened #15867 "Research if we can remove direct patches for `ChromeChannelDefinitions.java`"
## Description
During rebase we discovered that dependency on BraveChannelDefinitions in `ChromeChannelDefinitions.java` creates necessity for additional patching. So we need to research if we can remove direct patches for `ChromeChannelDefinitions.java`.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Version/Channel Information:

[2021-05-14 16:49] tmancey commented on #15429
@Miyayes This would still be relevant due to other frequency caps such as no network connection, browser is not active etc.

[2021-05-14 17:00] GeetaSarvadnya commented on #14054
@tmancey Just tested the issue again issue is still reproducible in 1.25.x . Please let me know if you need more details.

[code]

[2021-05-14 17:02] karenkliu commented on #15821
We should try to get iOS and Android to use the same image but if it's too difficult to implement we can probably leave as is.

Wrapping the `Trackers & Ads Blocked` string would be a good update.

[2021-05-14 17:15] bbondy opened #15868 "Add P3A for DDNS usage"
For those opted into P3A. It'd be good to understand amongst DDNS options, what is in use.

[2021-05-14 17:18] bsclifton commented on #15008
Opened up a security/privacy review so we can evaluate this - thanks for your patience and feedback all 😄 If that looks clean, we can re-enable. There is still a branding issue - but @jonathansampson has a potential fix we can do for the dino that shows up

[2021-05-14 17:23] #15164 closed

[2021-05-14 17:24] bridiver commented on #15646
To provide a little more detail on this, the issue is not related to keep alive. The problem is that the session storage used for ephemeral local storage remained cached in the renderer even after the namespace was deleted in the browser process. It stayed cached across different domains and links and was only purged when typing a url into the urlbar

[2021-05-14 17:25] bridiver commented on #15646
also this issue exists in current release 1.24.x

[2021-05-14 17:37] #15790 closed

[2021-05-14 17:44] #15302 closed

[2021-05-14 18:12] stephendonner commented on #14848
Verified `PASSED` using

Brave | 1.26.19 Chromium: 91.0.4472.38 (Official Build) nightly (64-bit)
-- | --
Revision | 8155e7afab5d695cf0e028f4d77203287523cda9-refs/branch-heads/4472_35@{#6}
OS | Windows 10 OS Version 2009 (Build 21376.1)

I ran through the manual test run (thanks to @GeetaSarvadnya for the help!) and it `PASSED`: https://github.com/brave/brave-browser/issues/15682

I also tested th

[2021-05-14 18:15] #15519 closed

[2021-05-14 18:33] #15646 closed

[2021-05-14 18:50] Miyayes commented on #6391
Interesting, thank you eV! I didn't know our endpoints supported a wide range of currencies. In that case, I'll see if anyone can pick this up.

## Implementation

1. Use the relevant currency depending on region. For example, users in UK should see GBP; users in Japan should see JPY by default.
2. As a first pass, focus on biggest regions if this has to be configured manually. Then, iterate towar

[2021-05-14 18:51] rebron commented on #14116
@iefremov Is this something you can take a look at?

@wknapik I'm not sure what other freeze issues you're talking about and on which platforms.

[2021-05-14 18:53] rebron commented on #14131
@lxwulf Are you still having issues on your Windows machine?

[2021-05-14 18:54] rebron commented on #14139
Closing per last comment. Looks like we're all good now. Thanks @Ayfri

[2021-05-14 18:54] #14139 closed

[2021-05-14 19:02] rebron commented on #14216
Closing. Please re-open if still not seeing the links to proceed.

Links do appear in Normal window. Tested on latest release channel.

Brave | 1.24.85 Chromium: 90.0.4430.212 (Official Build) (arm64)
-- | --
Revision | e3cd97fc771b893b7fd1879196d1215b622c2bed-refs/branch-heads/4430@{#1429}
OS | macOS Version 11.3 (Build 20E232)

<img width="1312" alt="screen_shot_2021-05-07_at_4 07 07_pm" src="ht

[2021-05-14 19:02] #14216 closed

[2021-05-14 19:05] rebron commented on #14304
@rajinder-yadav Is this happening to you with any other web sites/apps?

[2021-05-14 19:08] rebron commented on #14464
Closing per last comment. Thanks @LorisTecnology

[2021-05-14 19:08] #14464 closed

[2021-05-14 19:25] rebron commented on #14530
We landed https://github.com/brave/brave-browser/issues/14469 in the latest 1.24.x a couple weeks ago in release channel.
Not seeing default browser prompt anymore right @gingsi and @desmonk with Do Not Ask button checked?

cc: @emerick

[2021-05-14 19:29] rebron commented on #14540
@tasty0tomato Can you update to our latest 1.24.85 and check brave://components/ and tell me what version of Tor you have? It should be Brave Tor Client Updater 1.0.17

[2021-05-14 19:36] #15861 closed

[2021-05-14 19:40] jonathansampson opened #15869 "Facebook Ad Content Evades Aggressive Mode"
## Description

Facebook displays "Sponsored" items on the main feed and in the side-bar, even when shields are configured to engage in _Aggressive_ blocking.

## Steps to Reproduce

Use Facebook, and look at the items in your feed and side-bar 🙂

## Actual result:

Items in the top-right:

![image](https://user-images.githubusercontent.com/815158/118320034-45f05c00-b4c1-11eb-8eae-cc5b7a4d97e4.png

[2021-05-14 19:46] stephendonner opened #15870 "Brave Welcome and Rewards pages - and others - have incorrect styling"
## Description

Brave Welcome and Rewards pages - and others - have incorrect border and button styling/colors/margins
Credit to @LaurenWags for the find(s); this is a regression from `1.26.19` and probably related to the Chromium bump to `.57`

## Steps to Reproduce

   1. clean profile
   2. launch Brave
   3. look at the `brave://welcome`, `brave://rewards` and other pages for rendering/CSS iss

[2021-05-14 19:50] rebron commented on #14582
@binocry Latest version is 1.24.85 Chromium: 90.0.4430.212. Can you update to that and let us know if you're still having freezing issues. Also, can you check the brave://settings/system the hardware acceleration setting to see if that maybe causing the freeze issue.

[2021-05-14 19:50] stephendonner commented on #15870
Also the interstitial Brave IPFS page (test with new profile on `ipfs://brantly.eth`)

broken | expected
--------|----------
<img width="1312" alt="Screen Shot 2021-05-14 at 12 47 45 PM" src="https://user-images.githubusercontent.com/387249/118321659-c196dc80-b4b2-11eb-81b1-acaec261c0f2.png"> | <img width="1312" alt="Screen Shot 2021-05-14 at 12 49 39 PM" src="https://user-images.githubusercontent

[2021-05-14 19:52] rebron commented on #14604
@ego-lay-atman-bay @ToaKraka This works as expected. For those type of pages, Brave Shields isn't applicable so there's nothing to change.

[2021-05-14 19:52] #14604 closed

[2021-05-14 20:01] rebron commented on #14606
@karenkliu @simonhong This might be a wontfix and could be a UE quirk we need to live with. Editing the name of sites from Frequently Visited is meant to send you over to Top Sites mode and from there can make customizations as you wish.

We're not allowing you to actually edit or change anything when in Frequently Visited mode. It's a little confusing, but I'm not sure we address it.

[2021-05-14 20:03] stephendonner commented on #15829
Verified `FIXED` using

Brave | 1.26.21 Chromium: 91.0.4472.57 (Official Build) nightly (x86_64)
-- | --
Revision | e3443317fa07f1e9997e4a9c738eddfefc3c0292-refs/branch-heads/4472_54@{#6}
OS | macOS Version 11.3.1 (Build 20E241)

Confirmed that the `Learn more` link in the IPFS interstitial page goes to `https://support.brave.com/hc/en-us/articles/360051406452-How-does-IPFS-Impact-my-Privacy-` and

[2021-05-14 20:03] rebron commented on #14638
@gopalsingh462 Can you update to the latest 1.24.85 Chromium: 90.0.4430.212 and let us know if you're still experiencing this issue.

[2021-05-14 20:03] #15758 closed

[2021-05-14 20:06] stephendonner commented on #15800
Version bump is fine, but @LaurenWags found https://github.com/brave/brave-browser/issues/15870, which is likely due to this, per @mkarolin

[2021-05-14 20:15] rebron commented on #14647
![Screen Shot 2021-05-14 at 1 12 43 PM](https://user-images.githubusercontent.com/5951041/118324075-69fa7000-b4b6-11eb-8093-84c3f91826cd.png)
@ValdoGhafoor Looks like with shields down, this is working?

[2021-05-14 20:16] rebron commented on #14647
@ryanbr Shields down as the appropriate workaround/fix for this?

[2021-05-14 20:18] karenkliu commented on #14606
I'm kind of confused about this issue; if this is a fresh browser profile with a list of frequently visited sites, editing a site will switch you over to Favorites mode - keeping the exact same set of sites you had in frequently visited mode. It would also include the edit you just made.

Per the spec:

If you had more than 6 in Favorites mode, I assume it would just show the first 6 if you switch

[2021-05-14 20:30] rebron commented on #14659
cc: @kjozwiak Can you see if you can reproduce this when you get a chance? I tried on Windows and 1.24.85 following the STRs and could reproduce.

@derekantrican I'm wondering if this has something to do with any extensions you might have installed?

[2021-05-14 20:32] ToaKraka commented on #14604
There are situations where a person might want to enable Javascript on a local file without being forced to change the browser's default "Block scripts" toggle in brave://settings/shields.

[2021-05-14 20:35] derekantrican commented on #14659
Not sure. I haven't seen it for a long time. I did actually see it recently (after not seeing it for a long time), but Brave was out of date so I just updated

[2021-05-14 20:54] rebron commented on #14691
Hi @joejoejo This is our build schedule. https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule#current-build-schedule

Dev builds should be all good to go. There are times we run into issues and we have to delay publishing.

[2021-05-14 20:54] #14691 closed

[2021-05-14 20:55] jumde opened #15871 "Remove setting to toggle privacy sandbox"
## Description
Setting to enable privacy sandbox is available in chromium starting CR92: https://github.com/chromium/chromium/commit/02829f41aedc5cc6ebcc98d12eb8879ae58db024

This should not be available to Brave users.

[2021-05-14 21:16] pilgrimandstranger opened #15872 "urlopen error during npm run init"
## Description
 I am not having any luck finding answers for this issue and  am not finding any thing in open/closed issues that looks like my problem.

running `npm  run init` fails every time with several url open errors and retries:

    Downloading https://rust-pkg-brave-core.s3.brave.com/rust_deps_win_0.1.6.zip .........
    <urlopen error only got 505535724 of 507378311 bytes>
    Retrying i

[2021-05-14 21:22] rebron commented on #15869
cc: @antonok-edm @ryanbr

[2021-05-14 22:08] Miyayes opened #15873 "Change rewards onboarding image in Japan #2"
## Description

In the Rewards onboarding tour **in Japan only,** swap out the image and ensure the image links out to the correct link. (@Miyayes or @soi-tnk have assets.)

[2021-05-14 22:13] Miyayes commented on #15843
There are user profiles under a single installation, for example. Go to the top right corner and create new profile.

[2021-05-14 22:30] fmarier opened #15874 "Consolidate pinsets across platforms"
Right now pinsets are only enabled on Desktop and are [part of the brave-core C++ code](https://github.com/brave/brave-core/blob/master/chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc). We should split that out of the C++ code (e.g. JSON file) to help with the [iOS implementation](https://github.com/brave/brave-ios/issues/3406) and with [monitoring](https://github.c

[2021-05-14 23:23] stephendonner commented on #15864
I'll test and report back on whether disabling either/both of those flags disables the UI and network requests (as I'd expect them to).

[2021-05-14 23:39] jonathansampson commented on #15869
Playing with this a bit more; the approach I shared in the top post is not sufficient. Facebook does the same DOM-goofiness with more than just 'Sponsored' strings. They do it with other strings like 'Just Now' for recent posts, and more.

Another approach is to look for a suspicious span, filter-out some of its siblings, and then map their textContent values to a string that can be compared again

[2021-05-14 23:46] antonok-edm commented on #15869
I believe the relevant filters are already in uBO's default lists, but they require procedural filtering - @ryanbr does that sound right?

It would be ideal to get procedural filters implemented; then we can also benefit from upstream updates (the sites where procedural filtering is necessary tend to be the trickiest ones to work against). Should also work on (I think) Quora and Twitter, and do a

[2021-05-14 23:57] jonathansampson commented on #15869
Attaining parity with uBO (or enough that we can use many of their procedural filtering rules) would be excellent. In the meantime, however, we could likely deliver a shim via Greaselion to clean up Twitter, YouTube, Facebook, and a small handful of commonly-visited sites.

[2021-05-15 00:56] simonhong commented on #14606
This is expected behavior. When user edit site from most visited tiles, edited site data is managed by favoriate list
and original data is still managed by most visited tiles. Both mode have separated tiles set after user starts editing.

[2021-05-15 01:41] ryanbr commented on #15869
Even with uBO, I'm still seeing ads in Facebook, It doesn't seem they're filtering youtube ads currently @antonok-edm

[2021-05-15 01:45] ryanbr commented on #14647
Has it been modified since? I'm getting all 3 icons in Brave @rebron  @ValdoGhafoor

[2021-05-15 01:46] nithinkodadhavadee commented on #3348
Okay fine, this thing is occurring quite frequently.  I didn't get any ads in between the video. It wasn't the banners. I get a video ad at the beginning or the end of the video. I'm not sure if this was a thing back in 2019, multiple ads in a video, as far as I remember it was just one ad in the video back then. I don't get this ad every time, I got it two times and am not getting any in that vid

[2021-05-15 01:48] ryanbr commented on #3348
youtube has implemented a new method of serving ads, we're still investigating this. @nithinkodadhavadee

[2021-05-15 01:50] nithinkodadhavadee commented on #3348
anything that I can help you guys with?

[2021-05-15 02:06] sujay1844 commented on #15837
Oh that works @dranov. thank you very much

[2021-05-15 02:06] #15837 closed

[2021-05-15 03:07] ryanbr commented on #15846
They're using the same filters being implemented @kyoyacchi  The fixes I committed into Easylist will apply to Brave and uBO.

Also uBO is affected too: https://old.reddit.com/r/uBlockOrigin/comments/ncoosp/not_blocking_ads_on_youtube_anymore/

[2021-05-15 04:58] Tonev commented on #15846
@ryanbr

Your solution doesn't work in the following case: https://github.com/brave/brave-browser/issues/15830

I use Brave Shields at aggressive mode along with Fanboy Annoyances List and uBlock Annoyances List.

What worked for me was installing uBlock Origin in hard mode with default filter lists.

[2021-05-15 05:17] Tonev commented on #15869
@jonathansampson

As long as it concerns uBlock Origin and those sponsored ads in the feed, the following uBlock Origin filters work flawlessly for me so far: https://www.reddit.com/r/uBlockOrigin/wiki/solutions#wiki_facebook

For the items in the top right, I believe I used uBlock Origin's Element Picker to get rid of them.

[2021-05-15 05:51] Ayushsunny commented on #15376
Hey @niharika412, yeah you can pick this as I'm not working on this issue.

[2021-05-15 06:02] binocry commented on #14582
I'm always updated. The freezing is very random, sometimes it can run normally but usually it always freezes after waking from sleep

ok I tried turning off the hardware accelerator. the first results were promising

[2021-05-15 08:44] AdKiller commented on #15347
Confirming the issue is still present in the latest update Version 1.24.85 Chromium: 90.0.4430.212 (Official Build) (64-bit)

[2021-05-15 08:44] AdKiller commented on #15607
Confirming the issue is still present in the latest update Version 1.24.85 Chromium: 90.0.4430.212 (Official Build) (64-bit)

[2021-05-15 08:50] kurei-ayx commented on #5524
I was finally able to install my extension after the .crx keeps failing me.

I made a simple theme (similar to what EnRyuuX7 has done) then instead of "Pack and Install" I went to the tab that says "Pack" and clicked "Pack and Download Zip File"

I extracted the contents of the zip file (which had a folder entitled "images" and a manifest.json file) > so then I have 2 items, the folder and the man

[2021-05-15 09:31] Vista2003 commented on #3348
If it's reappearing again, I would open a new ticket. Regarding what happened in 2019, ads would only play at the start and sometimes I would get an ad above suggested videos.

In the meantime, after flagging it as a workaround to this problem, use Unlock Origin along side Brave.

[2021-05-15 11:30] ryanbr commented on #15846
[code]

Don't use these filters ^, they caused issues, we implented fixes in Easylist (Desktop only). https://github.com/brave/brave-browser/issues/15830 is different issue and will also affect uBO.

[2021-05-15 11:37] ryanbr commented on #15830
This can't be avoided currently due to caching, the page is loaded too quickly before the adblock snippets are loaded. uBO will also have the same issue here.

[2021-05-15 12:00] Tonev commented on #15846
Regarding https://github.com/brave/brave-browser/issues/15830

I could easily reproduce the issue before installing uBlock Origin, and can't reproduce it at all ever since.

A few things worth mentioning (because I've seen you mention them on Reddit):

- I use only default uBlock Origin filters along with Fanboy Annoyances List and uBlock Annoyances List in Brave's adblock;
- I purge and update fi

[2021-05-15 12:20] ryanbr commented on #15846
Move any comments  regarding https://github.com/brave/brave-browser/issues/15830  into that ticket, thanks.

[2021-05-15 12:32] xopez opened #15875 "External Handler detection technique allows reliable cross-browser fingerprinting"
## Description

A scheme flooding exploit that allows identifying people cross-browser. Windows, macOS are affected. Probably more.

## Steps to Reproduce

Working demo:
https://schemeflood.com/

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

Version 1.24.85 Chromium: 90.0.4430.212

## Version/Channel Information:

- Can you reproduce thi

[2021-05-15 12:39] ryanbr commented on #15858
Can test this, is this Windows or Linux/Mac builds?

Can you test in private window mode, also test by changing resolution say 720p for each video.

[2021-05-15 12:39] Tonev commented on #15875
Related Chromium bug reports:

- https://bugs.chromium.org/p/chromium/issues/detail?id=1096610
- https://bugs.chromium.org/p/chromium/issues/detail?id=1208903

Martin Brinkmann tested on Brave over here: https://www.ghacks.net/2021/05/14/custom-browser-protocol-handlers-may-be-used-for-fingerprinting/

[2021-05-15 12:46] Tonev commented on #15830
I could easily reproduce the issue before installing uBlock Origin, and can't reproduce it at all ever since.

A few things worth noting:

- I use only default uBlock Origin filters along with Fanboy Annoyances List and uBlock Annoyances List in Brave's adblock;
- I purge and update filters manually regularly, usually on every PC boot;
- I clear all browsing data on exit except the browsing data f

[2021-05-15 14:58] bcat1023 commented on #15834
This problem has suddenly stopped happening

[2021-05-15 14:58] #15834 closed

[2021-05-15 15:05] bcat1023 opened #15876 "Missed rebranding"
## Description

I noticed that at brave://about/ it still acts and looks like chrome with chrome branding

## Steps to Reproduce

   1. Type brave://about/ into the address bar

## Actual result:

Paged still marked as a chrome page

## Expected result:

Marked as a brave page rather than chrome

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

1.24.85 Chromium

[2021-05-15 15:27] pckolog1 commented on #15354
Still no solution...

[2021-05-15 15:51] OLoKo64 commented on #15858
Currently I can only test this on my Windows machine, on my Linux I cannot connect 2 monitors.

Yes, this occurs the in same way, no change.

My PC specifications:
Ryzen 2700X
GTX 1060
16GB of RAM
Windows Build 19042.985

Video of this bug occurring:
https://youtu.be/lDCCsuuxTec