[2019-02-26 17:11] bsclifton commented on #389
@snyderp can this issue be closed?

[2019-02-26 17:17] snyderp commented on #389
@bsclifton I don't mind closing it, but should be marked "won't fix" then.  but I don't think anything has been changed

[2019-02-26 17:38] pilgrim-brave opened #3499 "Move hard-coded extension allow/deny-lists to separate file"
Similar to how we did for the video autoplay whitelist, we should move the hardcoded extension lists in `brave/browser/extensions/brave_extension_provider.cc` to a separate file and have a service to manage them.

[2019-02-26 17:41] #389 closed

[2019-02-26 17:45] bsclifton commented on #3496
cc: @yrliou

[2019-02-26 18:37] fmarier commented on #3495
Presumably this will be fixed by brave/ad-block#172.

[2019-02-26 18:59] twostoryhouse commented on #2997
Over a month and no update on this error? The newest update did nothing to fix it. Tried a clean re-install and the problem persists. I wonder how many people download Brave for the first time, hit this error, and just go back to their old browser.

[2019-02-26 19:08] mandar-brave opened #3500 "Ads Panel in 0.61x should have Ads Coming Soon"
Please see issue created by @LaurenWags for 0.60 for details below.
Status quo for 0.61 - https://github.com/brave/brave-browser/issues/3421

Original plan is here: https://github.com/brave/brave-browser/issues/3141

cc @jsecretan @bbondy @rebron

[2019-02-26 19:13] diracdeltas opened #3501 "Brave reward/ad fetches should use SimpleURLLoader tied to user profile"
See https://github.com/brave/brave-core/pull/1756#issuecomment-466515552 for concerns about the current way Brave does background fetches in ads and rewards.

`URLFetcher` is used in https://github.com/brave/brave-core/blob/c6506166b093f2c3fb88e43007c05a5133993640/components/brave_rewards/browser/rewards_service_impl.cc#L1134 and https://github.com/brave/brave-core/blob/c6506166b093f2c3fb88e43007c

[2019-02-26 19:16] rebron commented on #1192
cc: @anthonypkeane to put on your radar

[2019-02-26 19:23] bsclifton opened #3502 "Upgrade from Chromium 73.0.3683.75 to Chromium 74.0.3729.40"
## QA Notes
Affected areas:
- Check rewards functionality (generally operational, notifications, referrals).
- Check tor functionality (generally operational).
- Check HTTPS everywhere.
- Check importer.
- Check extension/Brave components updater.
- Check clear browsing data on exit.
- Check shields.
- Check Avatar menu.
- Check for extra or broken branding elements.

**This is a major Chromium ve

[2019-02-26 19:46] rebron commented on #3493
cc: @simonhong @bridiver can you take a look?

[2019-02-26 19:48] bsclifton commented on #2997
@NejcZdovc is there any information that would be helpful that folks can provide?

[2019-02-26 19:50] rebron commented on #3038
Closing out. Looks like after deleting cookies you're good to go.

[2019-02-26 19:50] #3038 closed

[2019-02-26 20:53] durch commented on #2761
Just an update, we're ramping up here, hopefully we'll have something to show soonish :)

[2019-02-26 21:38] bsclifton commented on #3429
@gerardo-junior looks like there are a few options available in the Chrome Web Store:
https://chrome.google.com/webstore/search/keepass

We can't recommend one, but you may check them out and see if any meet your needs (and let us know)

[2019-02-26 21:45] diracdeltas commented on #3229
@tomlowenthal mentions this is also an applicable issue on MacOS

[2019-02-26 22:01] kjozwiak commented on #3494
Reproduced on `macOS 10.14.3 x64` using the following build:

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

Example of the issue occurring on macOS (notice the inconsistent contribution dates):

<img width="1595" alt="screen shot 2019-02-26 at 4 59 55 pm" src="https://use

[2019-02-26 22:18] jumde opened #3503 "brave://urls work in tor window"
## Description
brave://urls should open in normal window if open'ed in either private or tor window. This works as expected for private but not for `tor windows`

## Steps to Reproduce

   1. Open `brave://settings` in tor
   2. Opens in tor window

## Actual result:
Opens in tor windows

## Expected result:
Should open in regular window

## Reproduces how often:
Easily

## Brave version (brave://

[2019-02-26 22:19] kjozwiak commented on #3393
@NejcZdovc this is a bigger/more noticeable issue with the `0.61.x`. While the contribution is occurring after a tip, clicking on the rewards icon will display the following:

<img width="1198" alt="screen shot 2019-02-26 at 5 04 12 pm" src="https://user-images.githubusercontent.com/2602313/53450390-16d99700-39ea-11e9-8c24-b7329723ffd4.png">

Once the contribution goes through, the banner will loa

[2019-02-26 22:20] kjozwiak commented on #3393
I personally thing due to the above, we should make this a P3 and try getting it into `0.61.x` if it doesn't require tons of code changes or another refactor. CCing @rebron

[2019-02-26 22:27] kjozwiak commented on #3481
Reproducible on `macOS 10.14.3 x64` using the following build:

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

[2019-02-26 22:35] cezaraugusto opened #3504 "Shields adds lots of logging in dev environment"
Shields use `redux-logger` which can be very noisy and should only output debugging logs with a proper `NODE_ENV` set and not for everybody working on general brave-core tasks

[2019-02-26 23:11] kjozwiak commented on #3471
I couldn't reproduce this with my `macOS 10.14.3 x64` MBP using `0.61.38 Chromium: 73.0.3683.39` and `0.62.8 Chromium: 73.0.3683.39`.

However, I managed to reproduce the issue on my VM that's running `OSX Yosemite 10.10.5` using `0.61.38 Chromium: 73.0.3683.39`. Example:

<img width="1240" alt="screen shot 2019-02-26 at 5 45 32 pm" src="https://user-images.githubusercontent.com/2602313/53452563-9

[2019-02-27 00:04] rossmoody opened #3505 "Fix NTP image attribution"
The credit for this image should go to: https://www.instagram.com/ntgns/  with the name `Nout Gons` instead of SkyFolk.
![screen shot on 2019-02-26 at 16 02 58](https://user-images.githubusercontent.com/29072694/53455636-08867d80-39e0-11e9-9f88-94b3724a05ea.png)

[2019-02-27 00:16] btlechowski commented on #3188
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used STR from https://github.com/brave/brave-core/pull/1560.
All the devices got the expected bookmarks.

[2019-02-27 00:23] #3468 closed

[2019-02-27 00:25] #3478 closed

[2019-02-27 00:28] kjozwiak opened #3506 "brave:// using search instead of loading brave://version"
## Description

When loading `brave://`, it will use the default search engine rather than loading `brave://version`.

## Steps to Reproduce

   1. download & launch `0.62.8 Chromium: 73.0.3683.39`
   2. type in `brave://` and you'll notice that it attempts a search rather than loading `brave://version`

## Actual result:

![bravepagesissue](https://user-images.githubusercontent.com/2602313/534562

[2019-02-27 00:45] tmancey opened #3507 "Fix build error after merging Confirmations and Ads Info UI"
Fix build error after merging Confirmations and Ads Info UI

[2019-02-27 00:47] simonhong commented on #3493
@rebron Yep, I'll take a look after finishing current item(MacOS OS theme controls theme)

[2019-02-27 00:50] btlechowski commented on #3225
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1560.

[2019-02-27 01:04] #3507 closed

[2019-02-27 01:21] tmancey opened #3508 "Fix build error after merging Confirmations and Ads Info UI"
Fix build error after merging Confirmations and Ads Info UI due to bat-native-confirmations not being removed from DEPS

[2019-02-27 01:25] btlechowski opened #3509 "Bookmarks are synced when not connected to sync chain"
Found when verifying https://github.com/brave/brave-browser/issues/3225

## Steps to Reproduce

1. Create sync chain brave-core device1
2. Connect to sync chain brave-core device2
3. Create bookmark on device1 and ensure it is synced to device2
4. Copy sync codes from device1
5. On device2 press `Leave Sync Chain`
6. Wait until both devices will get sync turned off
7. Try to sync brave-core device

[2019-02-27 01:29] #3508 closed

[2019-02-27 01:45] btlechowski commented on #3281
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1636

[2019-02-27 02:42] rebron commented on #3423
@NejcZdovc did this get fix with the last refactor that landed (or is landing) in 61.x?

[2019-02-27 02:45] kjozwiak commented on #3423
Labelled this as `release/blocking` as we should really get this into `0.61.x`. If the publisher refactor doesn't address this, we'll need to get this fixed and moved into `0.61.x`.

[2019-02-27 03:04] btlechowski opened #3510 "a-c table stays corrupted after brave update"
Follow up from https://github.com/brave/brave-browser/issues/3341
Important: a-c table will not fix itself, even if user visits other sites

## Steps to Reproduce

1. Clean Install 0.60.28
2. Enable rewards
3. Open `interia.pl` and add it to a-c table
4. Open `foxnews.com` and add it to a-c table
5. Exclude `foxnews.com` for a-c table in `brave://rewards`
6. Open `cnn.com` and add it to a-c table

[2019-02-27 03:04] btlechowski commented on #3341
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1589
Used STR from the description.
Upgrading from 0.60.28 retains the corrupted profile. Logged https://gi

[2019-02-27 03:22] tmancey opened #3511 "Fix unit tests after merging Confirmations and Ads Info UI"
Fix unit tests after merging Confirmations and Ads Info UI

`ConfirmationsCreateConfirmationRequestTest_CreateCredential` failing

[2019-02-27 03:32] #3511 closed

[2019-02-27 03:33] kjozwiak commented on #3474
Reproduced the above issue when I attempted to open several banking statements under https://easyweb.td.com. The PDF opened in a new window and displayed the following (same error that @jumde mentioned above):

[code]

Seeing the following in the terminal:

[code]

Example of the browser console:

<img width="1078" alt="screen shot 2019-02-26 at 10 27 44 pm" src="https://user-images.githubusercont

[2019-02-27 03:35] btlechowski commented on #3250
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from the description. Renamed the dev profile to beta.
Made sure that `visits` in `publisher_info_db` was `0` before upgrade and after upgrade it was `1`

[2019-02-27 03:39] kjozwiak commented on #3336
@tomlowenthal I think we can dupe this one to https://github.com/brave/brave-browser/issues/3474 where @jumde added a reproducible case. Unfortunately QA doesn't have any PDF cases (going to change this) that are behind authentication. I don't think this due to authentication and is a general PDF.js issue. I managed to reproduce this on my banking account as mentioned under https://github.com/brav

[2019-02-27 03:42] #3336 closed

[2019-02-27 03:43] kjozwiak commented on #3336
Duplicate of #3474 as mentioned above. @tomlowenthal please re-open if you feel differently 👍

[2019-02-27 03:59] kjozwiak commented on #3402
not really sure how many folks will actually drag the BAT icon from the BR panel into the `brave://rewards` CAPTCHA area.

@GeetaSarvadnya when this happens, are you in a constant broken state? Does restarting the browser help? Either way, not urgent as this is marked as P5 which I agree. I don't think a lot of people will be dragging the BAT icon from the BR panel into the `brave://rewards` CAPTC

[2019-02-27 04:04] btlechowski opened #3512 "Tor not working till browser restart if page is opened just after clean install"
Follow up from https://github.com/brave/brave-browser/issues/3058

## Steps to Reproduce

   1. Clean install (make sure that profile does not exists)
   2. Immediately after Brave is launched open `https://check.torproject.org/` in Tor Window
   3. Close Tor Window
4. Open Tor Window and open a page

## Actual result:

Page is not opened.
Error page is always shown
Tor is not initialized.

Note:

[2019-02-27 04:07] btlechowski commented on #3058
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

This issue is partially fixed. It is no longer possible to open pages without Tor (Error page is shown).
But Tor is still not usable till browser restart. Logged: https

[2019-02-27 04:17] kjozwiak commented on #3362
@rebron moving this into `0.62.x` as https://github.com/brave/brave-core/pull/1680 is targetting `0.62.x`.

[2019-02-27 04:23] btlechowski commented on #3349
Verification passed on

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1679
Verified that tor executable is not launched.
Verified that error is shown when attempt is made to ope

[2019-02-27 04:27] rebron commented on #3362
@rossmoody just a reminder, after you merge an uplift, in the issue set the milestone to where you merged it too, so 61.x in this case. Thanks for taking care of this one.

[2019-02-27 04:35] kjozwiak commented on #3307
Couldn't reproduce this either using the following build:

Brave | 0.61.38 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

[2019-02-27 04:39] btlechowski commented on #3493
Not reproducible on Release and Beta

Brave | 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows

Brave | 0.61.39 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Bu

[2019-02-27 04:49] kjozwiak commented on #3253
@AstroGD does the issue with the shields enabled still happen when using `0.60.45 Chromium: 72.0.3626.109` which is the latest version on the release channel. Where you using the default shield settings? Or did you make some changes? Example, blocking "All Cookies" rather than "3rd Party".

[2019-02-27 05:14] noppojp commented on #488
For me, in Linux Mint, it does not work using Firefox or Chrome.
Works in **Chromium** though!!

[2019-02-27 06:07] kjozwiak commented on #3120
I'm sure this is due to us disabling the WebUSB API in `0.55.x` https://github.com/brave/brave-core/pull/114. When you have the Trezor connected via USB and open the extension, you'll get the following errors in the console when listening to the background pages:

[code]

[code]

[code]

Typing in `navigator.usb` will result in an `undefined`. What should be happening is that once you click on "Si

[2019-02-27 07:45] dayfuaim commented on #3471
@kjozwiak I can see this on all Beta and Dev, but Release (**0.60.45 Chromium: 72.0.3626.109 (Официальная сборка), (64 бит)**) is OK with `HW Acceleration` ON:
![2019-02-27 10 42 05](https://user-images.githubusercontent.com/1274699/53473883-af205c00-3a7c-11e9-8e1b-89623d6ecd78.png)

[2019-02-27 10:29] SilencerWeb commented on #2452
@ckujau yes

[2019-02-27 11:37] NejcZdovc commented on #3423
I just tried on the v0.61.37 and I can still reproduce it. I tried it on the latest master and I can't reproduce it anymore.

[2019-02-27 11:41] GeetaSarvadnya commented on #3123
On Linux - Toggle is not available for Ads, is this because Ads is not yet implemented for Linux platform?

![image](https://user-images.githubusercontent.com/38657976/53487844-ab0f3100-3ab2-11e9-84af-f1e61e13cfce.png)
@jenn-rhim @NejcZdovc

[2019-02-27 11:42] NejcZdovc commented on #3123
@GeetaSarvadnya ads are still disabled

[2019-02-27 11:44] GeetaSarvadnya commented on #3123
@NejcZdovc Do you mean Ads are still disabled on Linux platform. Hence the toggle switch is not shown?

[2019-02-27 11:46] NejcZdovc commented on #3123
@GeetaSarvadnya correct

[2019-02-27 12:19] plaintextcity commented on #3479
This is useful functionality for debugging, although intercepting proxies are more effective at troubleshooting web apps, and for real problems you might have to go upstream to Chromium anyhow.  The question is whether it should be enabled by default on a security conscious (/paranoid) browser build.  Chromium and Firefox have debated and the developers have prevailed to keep it enabled, Tor has d

[2019-02-27 13:14] manit-shah commented on #2105
**+1** for adding CLI command to open Brave tor window (start Brave --tor perhaps?)
**+1** for adding "New private window with Tor" option to Windows 10 special context menus

**Additional (related) request:**
Allow the user to specify the default new window type (_normal window_, _private window_, or _private window with Tor_). So that a user may choose for Brave to always open to a "private wind

[2019-02-27 13:52] GeetaSarvadnya opened #3513 "a-c toggle switch won't turn ON immediately, when enable rewards through hamburger menu"
## Description

a-c toggle switch won't turn ON immediately when enable rewards through the hamburger menu. The issue is not reproducible consistently.

## Steps to Reproduce

   1. Clean profile 0.61.37
   2. Enable rewards through hamburger menu
   3. Auto-Contribution doesn't turn on immediately ( It took more than 30 secs)
   4. when a-c toggles On, rewards server error displayed

## Actual re

[2019-02-27 14:18] NejcZdovc commented on #3404
Note to the issue is that you need to open panel to get favicon. From just regular watching clips and live streams we don't get favicon. We only get it for VOD's

[2019-02-27 14:30] NejcZdovc commented on #3141
@mandar-brave now that confirmations landed can we close this one?

[2019-02-27 14:33] NejcZdovc commented on #3042
can't reproduce anymore on the latest master

[2019-02-27 14:44] NejcZdovc commented on #3510
I am not able to corrupt profile with `Version 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)`

[2019-02-27 14:46] mandar-brave commented on #3141
@NejcZdovc you can - did they land in to 0.62?.
But sure!

[2019-02-27 15:22] btlechowski commented on #3510
I am also not able to corrupt the profile on 0.60.45.

Brave | 0.60.45 Chromium: 72.0.3626.109 (Official Build) (64-bit)
-- | --
Revision | fae8db7ab9280fa6704a59980263c804f809ebd5-refs/branch-heads/3626@{#857}
OS | Windows

[2019-02-27 15:37] NejcZdovc opened #3514 "Upgrade for confirmations is not working"
## Description

## Steps to Reproduce

   1. Create profile with version that don't have confirmations UI
   2. Switch to master branch
   3. go to rewards page

## Actual result:

empty page with JS error

## Expected result:
Page should be shown

## Reproduces how often:

## Brave version (brave://version info)

### Reproducible on current release:
- Does it reproduce on brave-browser dev/beta b

[2019-02-27 16:00] #3514 closed

[2019-02-27 16:20] jasonrsadler commented on #3462
Adding QA-Yes for regression testing

[2019-02-27 16:37] AlexeyBarabash opened #3515 "Sync: deleted record may stay alive"
## Description

There is a scenario with high reproduce rate to see that delete event is not synced well.

## Steps to Reproduce

   1. Create sync chain on brave-core device A
   2. Connect to the sync chain device B with code words
   3. On the device A open the following tabs:
brave://bookmarks/
https://www.bing.com/search?q=BCA-01&qs=n&form=QBLH&sp=-1&pq=bca-01&sc=8-6&sk=&cvid=4CE2DC7674794F3C

[2019-02-27 16:47] mandar-brave commented on #3423
@NejcZdovc do we need to uplift a fix to 0.61x; that is the ask. If we can we should.
cc @kjozwiak

[2019-02-27 16:53] NejcZdovc commented on #3423
@mandar-brave not sure what fixed it 😃

[2019-02-27 16:59] AlexeyBarabash commented on #3515
Some investigating gives info that js lib may at `get-existing-objects`
1. give  response with some records wrong `syncTimestamp` order (unsorted)
2. give some records beyond `start_at` parameter
3. as result of pt 1 and pt 2 `lastRecordTimeStamp` can be not the latest

The piece of log illustrating situation in issue
[code]

And there is a similar log for the case when `BCA-02` had been created a

[2019-02-27 17:01] #3492 closed

[2019-02-27 18:11] petemill opened #3517 "WebUIs are not optimized for Release"
In Brave's webuis, brave-specific JS modules are combined and optimized as appropriate using webpack. However, we also include chromium modules via html imports. In regular chromium WebUIs, these are inlined at build-time for Release builds, via the `optimize_webui` target template.

We could either
 - Run optimize_webui as part of our process (before or after webpack), or;
 - Include these module

[2019-02-27 18:58] eljuno commented on #403
+1 from Community https://community.brave.com/t/adblock-custom-filters/46208?u=eljuno

[2019-02-27 18:59] petemill opened #3518 "WebUI builds need to specify every single JS input"
The `transpile_web_ui` target template requires every JS, CSS or other file as used in the webpack compilation to be specified in the `inputs = ` build property.

This is so that GN knows which projects to re-compile when any of these files change.

However, we can have this be determined dynamically, using the same mechanism that chromium's `optimize_webui` target template does.

This would also

[2019-02-27 19:00] diracdeltas commented on #3443
Should we start with 7 days or shorter (like 1 day)?

[2019-02-27 19:01] CamelCaseName opened #3519 "PnaCl component missing in official Brave build"
## Description
The official Brave build misses the Portable Native Client (PNaCl), which, for example, is used by the google earth studio.

## Steps to Reproduce

   1. Open Brave
   2. Go to [Earth Studio](https://earth.google.com/studio)

## Actual result:
![error](https://user-images.githubusercontent.com/48067449/53515259-d5201d80-3ac9-11e9-9cc5-bd1a0133302a.png)

## Expected result:
<img widt

[2019-02-27 19:05] diracdeltas commented on #3443
2nd question - should this be tied to a shield state or be on all the time?

[2019-02-27 19:38] #3504 closed

[2019-02-27 19:46] tmancey opened #3520 "Bump bat-native-ads dep"
Bump bat-native-ads dep

[2019-02-27 20:01] #3520 closed

[2019-02-27 21:21] LaurenWags commented on #3447
Verified passed with

Brave | 0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit)
-- | --
Revision | 9a65993e2cde1b5797ec98da4cd9abcea464cd7b-refs/branch-heads/3626@{#876}
OS | Mac OS X

[2019-02-27 21:32] diracdeltas commented on #3479
@plaintextcity are there any chromium issues on this? would be curious to see their reasoning.

I'm not sure what you mean by "enabled by default" since this already requires a custom env variable set in order to be enabled. If we "disabled by default," how would developers turn it on?

[2019-02-27 22:03] AstroGD commented on #3253
@kjozwiak Yes the issue still applies with shields on to version 0.60.45 with Chromium 72.0.3626.109 As far as I know I am using default settings. I played with the Settings and found out that disabling the blocking of ads and trackers solves the issue. The other settings are not relevant as far as I know.

I am using the following settings:
![image](https://user-images.githubusercontent.com/35271

[2019-02-27 22:20] jacobcantele commented on #2810
I think I can help provide more info here. There is definitely an issue here. For me, Protonmail hangs on the loading screen on first attempt to login. Upon refresh, I'm able to log in with the second attempt. I'm a Manjaro Linux user if that affects anything... Here is a screenshot of my console log.

![screenshot from 2019-02-27 16-16-17](https://user-images.githubusercontent.com/10467486/535271

[2019-02-27 22:22] tmancey commented on #2239
agreed with @mandar-brave that this ticket can be closed as this issue has been resolved with `bat-native-ads` repo

[2019-02-27 22:22] #2239 closed

[2019-02-27 22:22] tmancey commented on #2241
agreed with @mandar-brave that this ticket can be closed as this issue has been resolved with `bat-native-ads` and `bat-native-confirmations` repos

[2019-02-27 22:22] #2241 closed

[2019-02-27 22:35] bsclifton commented on #3519
We turn this off intentionally:
https://github.com/brave/brave-browser/blob/0e38ec295eba29c0f0358477a70a2022bcbf70ef/lib/config.js#L74

Is this something we want to enable?
cc: @bbondy @bridiver @diracdeltas

[2019-02-27 23:03] rossmoody commented on #3362
@rebron @kjozwiak thanks for fixing it up and the direction. appreciate it.

[2019-02-27 23:06] diracdeltas commented on #3519
according to https://developer.chrome.com/native-client/nacl-and-pnacl, nacl and pnacl are being deprecated

i think we initially turned it off to reduce the security surface area of Brave

[2019-02-27 23:08] diracdeltas commented on #3519
from https://developer.chrome.com/native-client/migration

since Q2 2019 starts soon, i'm inclined to mark this wontfix

[2019-02-27 23:11] snyderp commented on #3443
For my two cents, i suggest
1) 7 days (so that we can fly under Safari's web compat issues)
2) all the time (otherwise it'd get confusing, do we extend / decrease the life times of existing cookies, etc).  Plus, Safari hides the toggle to the point of it basically not existing, so seems like they don't expect web compat issues with it

[2019-02-28 00:13] plaintextcity commented on #3479
There are a bunch of bugs on SSLKEYLOGFILE, note that the first bug:

Adam Langly blogged about it in 2012, noting that it was a dev channel feature
https://www.imperialviolet.org/2012/06/25/wireshark.html

https://bugs.chromium.org/p/chromium/issues/detail?id=214676
"* Blacklist the existence of /root/.enable_sslkeylogfile in the release signer tests **for safety**"

At some point though, the saf

[2019-02-28 00:13] #3479 closed

[2019-02-28 01:29] btlechowski commented on #3485
LGTM. Tested using

Brave | 0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit)
-- | --
Revision | 9a65993e2cde1b5797ec98da4cd9abcea464cd7b-refs/branch-heads/3626@{#876}
OS | Windows 7

[2019-02-28 01:29] #3485 closed

[2019-02-28 01:34] btlechowski commented on #3467
This use case is mostly covered by Monthly recurring tips. You setup how much you would like to give to a creator each month.

[2019-02-28 01:37] StarFscker commented on #413
Netflix is responsible for roughly a third of all internet traffic.

There's no reason that this shouldn't be the highest priority issue.

[2019-02-28 01:39] btlechowski commented on #3393
This is an annoying issue. I ran into it when testing 0.60.47 and 0.61.36 on Windows 7.

@NejcZdovc Can you increase the priority for this one? P5 seems too low.

[2019-02-28 01:41] #3012 closed

[2019-02-28 01:50] SpottyMatt commented on #1432
I also want a way to disable this warning.

[2019-02-28 02:01] kjozwiak commented on #3485
Awesome, thanks @btlechowski 👍

[2019-02-28 02:15] btlechowski commented on #2554
@iefremov Could you include a test plan in https://github.com/brave/brave-core/pull/1377?

I have no idea how to test this one.

[2019-02-28 02:35] btlechowski commented on #3178
Verification passed on

Brave | 0.62.8 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/53537209-79758480-3b09-11e9-8c56-1769f081f0ba.png)
![image](https://user-images.githubusercontent.com/34715963

[2019-02-28 03:01] btlechowski opened #3522 "Crash when trying to open brave://sync in Guest Window"
Follow up from https://github.com/brave/brave-browser/issues/2852

## Steps to Reproduce

   1. Open Guest Window
   2. Open `brave://sync`

## Actual result:

Crash

## Expected result:
No crash

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

Brave | 0.62.8 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4f

[2019-02-28 03:06] btlechowski commented on #2852
Verification passed on

Brave | 0.62.8 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Test plan:
Case 1:
1. Open brave://settings in normal window
2. Try to open brave://sync in private window via context menu
[PASS] Open in Private Window is disabled

Cas

[2019-02-28 03:10] aduh95 commented on #413
@StarFscker it is already working on Brave 62, you can install it already, instructions are here: https://brave-browser.readthedocs.io/en/latest/installing-brave.html#development-channel-installation

[2019-02-28 03:18] btlechowski commented on #2853
Verification passed on

Brave | 0.62.10 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

brave://settings and chrome://settings are opened in normal window.

Encountered https://github.com/brave/brave-browser/issues/2995 while testing.

[2019-02-28 03:30] simonhong commented on #3522
@btlechowski  This was also fixed by https://github.com/brave/brave-core/pull/1704.
That PR handles crash on Tor and Guest both.

[2019-02-28 03:33] kjozwiak commented on #3522
@btlechowski mind taking a look and seeing if it's an issue on `0.63.x`. Might have to build from source as we don't have nightly builds yet. If you would like, I can check on macOS as I have a recent build already 👍

[2019-02-28 03:37] kjozwiak commented on #3393
@btlechowski agreed, changed it to `P3`. We should probably fix this in `0.61.x` as it's pretty obvious/annoying in `0.61.x`.

CCing @rebron @bbondy

[2019-02-28 04:03] FirefoxWas opened #3523 "Right Click does not highlight text on menubar"
## Description

The right click button dose not highlight the text on the minubar.

## Steps to Reproduce

   1.  right click
   2. it dose not highlight the text when i click the words.

## Actual result:

![image](https://user-images.githubusercontent.com/32176749/53540339-f7b23680-3ac9-11e9-85fc-fcad4edc11ec.png)

## Brave version (brave://version info)

Brave | 0.60.45 Chromium: 72.0.3626.109 

[2019-02-28 04:09] rossmoody commented on #1785
This was fixed. I think if there are any remaining discrepancies we should open a new issue with specific instance(s)

[2019-02-28 04:09] #1785 closed

[2019-02-28 04:18] rossmoody commented on #3434
We can close this one down. I tried to be as precise as possible with my pixel increments but in the end @petemill was able to responsively size that notification bubble based on text width. If you hit a 7 digit it'll go to to 14px. If we're ever fortunate enough to get to 99+ I believe the font decreases in size as well.

![screen shot on 2019-02-27 at 20 15 57](https://user-images.githubusercont

[2019-02-28 04:18] #3434 closed

[2019-02-28 05:28] #3404 closed

[2019-02-28 05:36] kjozwiak commented on #1076
Still an issue, easiest way to reproduce, see the issue occurring:

* visit https://bitmovin.com/demos/drm

You'll notice that you'll get a Widevine notification and can install it inside a Tor Window. Example:

![installingwidevinetor](https://user-images.githubusercontent.com/2602313/53543492-dc0e5680-3af0-11e9-8b7f-212c33a22b62.gif)

[2019-02-28 05:44] NejcZdovc commented on #3393
@kjozwiak this was assigned to @yrliou and she already has PR up and ready. This will be fixed really soon

[2019-02-28 06:56] #3505 closed

[2019-02-28 07:09] bsclifton commented on #3523
@FirefoxWas do you have more specific information about the problem?

For example: are you saying that as you move the mouse up and down (per your screenshot), you're not seeing the menu items highlight? (ex: `Back` or `Reload`)?

Here's a screen capture of what I think you mean:
![highlight](https://user-images.githubusercontent.com/4733304/53547673-df074800-3aec-11e9-9957-539a52bb8e74.gif)

If t

[2019-02-28 07:53] #3347 closed

[2019-02-28 07:57] bsclifton commented on #413
Thanks for the feedback, @StarFscker - as mentioned above, you can try the Dev channel

Stay tuned as this patch flows to Beta (March 12th) and then Release (~April 2nd).  Our release schedule can be found here:
https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule#release-channel-dates

[2019-02-28 08:02] bsclifton commented on #3519
@diracdeltas good call 😄

As we don't have any dev resources allocated to look at this (not high demand and Q2 is around the corner), I'll go ahead and close this out 👍

[2019-02-28 08:02] #3519 closed

[2019-02-28 08:07] bsclifton commented on #1432
Let's re-open this and keep it a low priority (we don't have any official plans to prioritize it at the moment)

If a community member wanted to grab this, we could potentially add a new toggle switch on our settings page for it (and we can help answer questions / share examples that touch similar code)

[2019-02-28 08:41] NejcZdovc commented on #3510
this is not only problem for upgrade scenario. This can be easily reproduced.

- add site to ac table
- remove it from ac table
- include it back in the panel
- ac table will still exclude it, where % will be off

[2019-02-28 08:48] NejcZdovc opened #3524 "Exclude count should be fetch from the db"
We currently have excluded number saved in the state where we should fetch it from the db.

[2019-02-28 08:59] NejcZdovc opened #3525 "Remove unnecessary gets for publisher data"
Now that we update % based on normalize observer (done here https://github.com/brave/brave-core/pull/1780), we don't need to get publisher data anymore if panel is opened for the same publisher. We only need to get data if publisher is different

[2019-02-28 09:47] iefremov commented on #2554
@btlechowski
1. Open Devtools
2. Open any website with lots of ads, e.g. https://www.foxnews.com/
3a. Before this change, in a DevTools console one can see a lot of entries like `Access to XMLHttpRequest at 'data:text/plain,'`
3b. After this change, these entries should vanish.
4. There are also no entries like `'data:text/plain,'` on a Network tab
5. Ads are blocked as expected

[2019-02-28 11:28] AlexeyBarabash commented on #3515
The situation of re-appearing deleted record
![image](https://user-images.githubusercontent.com/24739341/53563435-aa32d980-3b5c-11e9-9b6f-debc131a8ee6.png)

[2019-02-28 12:29] bbondy commented on #3519
Agreed on this being wontfix

[2019-02-28 12:44] chetu01 commented on #488
I am not able to Reply to craiglists job. I have tried multiple browsers on mac and windows.
Is this global issue?

What is solution to it?

[2019-02-28 13:19] flipsa commented on #3104
Just adding to this and #1150: I use Gentoo and I'm affected as well, so it's not just Arch based distros...

[2019-02-28 13:31] N4rsha commented on #208
+1

[2019-02-28 14:19] GeetaSarvadnya commented on #3486
Looks good. Hence closing the issue.

[2019-02-28 14:19] #3486 closed

[2019-02-28 15:43] tmancey opened #3526 "Refactor Ads and Confirmations Services for migration of bat-native-ads to brave-core"

[2019-02-28 16:32] #3480 closed

[2019-02-28 16:32] #3476 closed

[2019-02-28 16:54] bsclifton commented on #208
One of our devs, @yrliou, is checking this out now 😄

[2019-02-28 17:01] bsclifton commented on #3495
@jnki @arnoldn @mritzmann are you all still experiencing this?

[2019-02-28 17:12] mritzmann commented on #3495
@bsclifton mobile.twitter.com works again, but on tweetdeck.twitter.com the problem still exists.

[2019-02-28 17:12] arnoldn commented on #3495
Looks like mobile.twitter.com now works with ads and trackers blocked, but tweetdeck still doesn't load.  This is on 0.61.36.

[2019-02-28 17:24] bsclifton commented on #3392
@anarchitectures great- thanks for the update! 😄

[2019-02-28 17:25] bsclifton commented on #2627
@jnki perfect- thanks for the update 😄

[2019-02-28 17:39] #3462 closed

[2019-02-28 17:43] Miyayes commented on #3339
**Note for triage:** 65% of my day is spent handling cases related to this issue. This will only increase as more publishers verify (charts on batgrowth.com show an accelerating curve). Even with the 24h update now live, downloading of the `publisher_list` by the browser seems _very_ unreliable and fickle.

Again, this has material consequences for publishers because of the new client-side tipping

[2019-02-28 17:45] #3393 closed

[2019-02-28 18:14] tmancey opened #3528 "Bump bat-native-ads dep"
fixes https://github.com/brave-intl/bat-native-ads/issues/146
requires https://github.com/brave-intl/bat-native-ads/pull/147

QA should test that state is not reset in `Default/ads_service/client.json` after browser restart

[2019-02-28 18:18] bsclifton commented on #3339
cc: @jsecretan for prioritization

[2019-02-28 18:36] GeetaSarvadnya commented on #3510
The issue is Reproducible on Upgraded profile. I have upgraded Brave beta `0.60.28` by `0.61.40`

[2019-02-28 18:39] tortino commented on #3469
yes, using --disable-gpu works correctly! thanks.
however I think you should blacklist my drivers/hardware combo and disable gpu automatically.

[2019-02-28 19:23] rebron commented on #3444
cc: @yrliou can you take a look?

[2019-02-28 19:24] rebron commented on #3496
dupe of #3444 ?

[2019-02-28 19:26] rebron commented on #3372
@sahilbhosale63 how's it going with this issue?

[2019-02-28 19:31] FirefoxWas commented on #3523
Hi  Brian Clifton

thats what i mean by   move the mouse up and down (per your
screenshot  you're not seeing the menu items highlight? it dose not do
that.

Thanks

On Wed, Feb 27, 2019 at 11:09 PM Brian Clifton <notifications@github.com>
wrote:

[2019-02-28 19:35] FirefoxWas commented on #3523
Hi

It works by disabling hardware acceleration. thanks

On Thu, Feb 28, 2019 at 11:31 AM Brandon Bain <abrandoned2004@gmail.com>
wrote:

[2019-02-28 20:16] mbacchi commented on #2086
Saw the same issue on the dev channel build `Version 0.62.11 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)` on Linux.
![screenshot from 2019-02-28 13-13-47](https://user-images.githubusercontent.com/6763301/53595648-0694f980-3b5b-11e9-9064-95f94f730507.png)

[2019-02-28 20:16] mrzealot commented on #3115
@jonathansampson Hope you don't mind, if I piggyback on this issue with my PR that addresses embedded Google logins: https://github.com/brave/brave-core/pull/1748

[2019-02-28 20:24] SergeyZhukovsky opened #3529 "Add an ability to check is publisher on recurring donations."
Currently we have a function `GetRecurringDonations` inside rewards server which retrieves a list of publishers which set for recurring donations. We don't need the whole list when we are on rewards panel, we need to check only current publisher. We need to add a function to verify only a certain publisher.

[2019-02-28 20:25] tmancey opened #3530 "Ads Campaign ID, Daily Cap, Per Day and Total Max use incorrect database fields"
## Description
Ads Campaign ID, Daily Cap, Per Day and Total Max use incorrect database fields caused by the addition of Region to the database

## Steps to Reproduce

   1. Navigate to www.imdb.com
   2. Wait 15 seconds for the browser to idle
   3. Move the mouse

## Actual result:
`Defaults/ads_service/client.json` campaignHistory array shows `US`

## Expected result:
`Defaults/ads_service/clie

[2019-02-28 20:26] SergeyZhukovsky opened #3531 "Remove methods that copy lists in rewards service observer"
We have a lot of methods in the observer that copy objects when pass the event to each observer. One of the examples is
`virtual void OnRecurringDonationUpdated(RewardsService* rewards_service, brave_rewards::ContentSiteList) {};`

[2019-02-28 20:30] #3523 closed

[2019-02-28 21:05] tmancey opened #3532 "Confirmations state could be reset due to race condition when saving/loading state"
## Description
Confirmations state could be reset due to race condition when saving/loading state

## Steps to Reproduce

   1. View an Ad
   2. Close the browser
   3. Launch the browser

## Actual result:
`Defaults/rewards_service/confirmations.json` state could be reset to defaults

## Expected result:
`Defaults/rewards_service/confirmations.json` state should retained previous state

## Reprod

[2019-02-28 21:18] #3532 closed

[2019-02-28 21:20] #3530 closed

[2019-02-28 21:21] #3528 closed

[2019-02-28 22:31] #3278 closed

[2019-02-28 22:35] LaurenWags commented on #3513
Haven't reproduced the server error yet, but the a-c toggle does take a couple seconds to turn on after enabling Rewards.

Brave | 0.61.41 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

[2019-02-28 22:48] mrzealot opened #3534 "Some Google login integrations do not work"
Embedded Google login integrations break with shields up. This is due to iframes loading pages from accounts.google.com and not being able to set cookies.
Examples include:

- https://imgur.com/signin
- https://pinterest.com/login/
- https://www.zillow.com/user/Login.htm
- https://www.yelp.com/login
- ...

Note that there are numerous other Google login integrations that work just fine because the

[2019-02-28 22:58] Brave-Matt opened #7466 "[Android] Feature Request: Add an option to toggle "open links in their associated apps" function on/off"
## Description
Users often ask or comment that they're unable to open website links in their associated apps (on device) when available. Most notably reported when opening/browsing YouTube and Twitter links.

**Notes/considerations:**
- This functionality **is already present** in Brave, but messaging/available information on this seems to (understandably) cause confusion about the way this featur

[2019-02-28 23:22] joejoejo commented on #209
i am running the latest beta version  0.61.38 and i don't have an option to keep the cast button in the toolbar. and also It does not even show the cast button when i click cast from the hamburger menu it just shows the casting dialog in the top left hand corner. is there way to fix this?

[2019-02-28 23:24] joejoejo commented on #209
I am running the latest beta version  0.61.38 and I don't have an option to keep the cast button in the toolbar. and also It does not even show the cast button when I click cast from the hamburger menu it just shows the casting dialog in the top left hand corner. Is there way to fix this?

[2019-02-28 23:24] Liunkae commented on #3496
Yes, looks like a duplicate of #3444.

[2019-02-28 23:24] #3496 closed

[2019-02-28 23:33] Brave-Matt opened #11485 "[Android] Allow regular Import/Export option for bookmarks outside of Sync"
## Description
_This issue was originally created a couple years ago (#150) but I felt requires a bit of a bump and update given how frequently it's requested._

**Many users are "blocked" from switching over to Brave due to the inability to import their browsing data** (any/call data, but primary concern seems to be bookmarks) **into Brave from another browser.** Many users have several years wor

[2019-02-28 23:42] simonhong commented on #1150
Duplicated with https://github.com/brave/brave-browser/issues/3399 and fixed by https://github.com/brave/brave-browser/pull/3446.

[2019-02-28 23:42] #1150 closed

[2019-02-28 23:43] simonhong commented on #3104
Duplicated with https://github.com/brave/brave-browser/issues/3399 and fixed by https://github.com/brave/brave-browser/pull/3446.

[2019-02-28 23:43] #3104 closed

[2019-02-28 23:45] simonhong commented on #3104
@srirambv Should we set milestone also for closed issue with duplication?

[2019-03-01 00:36] bbondy commented on #3104
@simonhong only if the steps to reproduce are different and we want to verify it.  Otherwise just goes in the duplicate / not actionable milestone. I'll put it there.

[2019-03-01 00:40] simonhong commented on #3104
@bbondy got it. Thanks! Done for https://github.com/brave/brave-browser/issues/1150.

[2019-03-01 00:43] btlechowski commented on #2554
Thanks @iefremov !

Verification passed on

Brave | 0.62.10 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-browser/issues/2554#issuecomment-468207371
Checked several sites.

![image](https://user-images.gi

[2019-03-01 01:30] #1940 closed

[2019-03-01 02:07] bridiver commented on #1174
@davidtemkin adding a link for this to `chrome://version` requires a lot of patching and doesn't seem necessary or even desirable really since it's designed for QA and other "advanced" users. Is it really necessary?

[2019-03-01 02:22] bridiver commented on #1174
if we want a link somewhere it makes much more sense to me to have it in the rewards UI and that doesn't require any patching

[2019-03-01 02:39] #2828 closed

[2019-03-01 02:44] bbondy opened #3535 "Fix third-party detection in brave/ad-block"
Currently ad-block determines third party by sub-domain rules.
It should instead do eTLD+1 for this detection.
This makes it work more closely to uBlock and other ad-blocking libraries.

[2019-03-01 03:03] noppojp commented on #488
Sorry Chouhan!  i only posted that i could get the link for the email when i used Chromium in Linux Mint.  Didn't work with Google Chrome or Firefox, but with Chromium it did work.  i'm not a programmer - sorry.

CW Tokyo, Japan mailto:noppojp@yahoo.com

    On Thursday, February 28, 2019, 9:44:23 PM GMT+9, Chetan Chouhan <notifications@github.com> wrote:

I am not able to Reply to craiglists job.

[2019-03-01 03:23] #3535 closed

[2019-03-01 03:30] davidtemkin commented on #1174
@bridiver What's important isn't where it goes. What we need is diagnostic information that a user can share with us to diagnose problems with Brave Rewards , that can easily be found and copy/pasted without inordinate effort. It can go in the Rewards UI; we'd need to figure out where/how exactly.

[2019-03-01 03:36] bbondy commented on #1174
Let's split this PR in 2 so we can land the important part that everyone agrees on without further discussion. Then PR the rest for a second issue to discuss the 2 possibilities.

[2019-03-01 03:47] #492 closed

[2019-03-01 03:53] kjozwiak opened #3536 "Release notes for 0.60.x Hotfix 1 (Release Channel)"
Release Notes
 - Upgrade from 72.0.3626.109 to 72.0.3626.119 on 0.60.x branch.([#3447](https://github.com/brave/brave-browser/issues/3447))

[2019-03-01 04:05] #3536 closed

[2019-03-01 04:19] #3419 closed

[2019-03-01 04:31] beyera commented on #1475
Thanks! Just started using Brave today and was about to uninstall until I found out this was in the beta. ❤️

[2019-03-01 04:33] #3484 closed

[2019-03-01 04:33] kjozwiak commented on #3484
Thanks @LaurenWags 👍

[2019-03-01 04:34] kjozwiak commented on #3486
Awesome, thanks @GeetaSarvadnya 👍

[2019-03-01 04:37] kjozwiak commented on #3488
Closing this off. Forgot that I already created this one before. PR/Release notes where completed under https://github.com/brave/brave-browser/issues/3536.

[2019-03-01 04:37] #3488 closed

[2019-03-01 05:10] NejcZdovc commented on #1174
I agree. So let's remove link from `chrome://version` and create separate issue for it.

cc @emerick @kjozwiak @LaurenWags

[2019-03-01 06:02] kjozwiak opened #3538 "decide where to add the rewards debugging info (follow up from #1174)"
As a follow up from https://github.com/brave/brave-browser/issues/1174#issuecomment-468530508, we'll need to decide where to add the debugging information that #1174 is implementing and how it's accessed. As per @bridiver via https://github.com/brave/brave-browser/issues/1174#issuecomment-468514005, adding a link to the above information under `chrome://version` will require a lot of unnecessary w

[2019-03-01 06:03] kjozwiak commented on #1174
Sounds good 👍 Created https://github.com/brave/brave-browser/issues/3538.

[2019-03-01 06:15] NejcZdovc commented on #3538
My suggestion would be to add it into settings page where we will have new rewards section

[2019-03-01 06:27] jumde opened #3539 "Disable Client-Hints in brave"
## Description
Client Hints pose a significant privacy risk. Disable by default.

https://github.com/httpwg/http-extensions/issues/767

cc: @snyderp @tomlowenthal

[2019-03-01 06:31] simonhong commented on #1289
@bbondy @petemill Should we increase this priority also?

[2019-03-01 09:54] Cyvet opened #3540 "Shortcuts are broken in Brave Dev 0.62.11"
## Description
Shortcuts, created in More tools > Shortcuts > Open in new window are not able to open on themselves anymore.
When added to the windows start menu in folder Brave Apps, clicking this shortcut does nothing anymore, while a week ago this was possible.

## Steps to Reproduce

   1. More Tools > Create Shortcut > Open as new window
   2. Close Brave
   3. Click this shortcut in windows

[2019-03-01 10:54] torgo commented on #3495
Just testing again on Brave Version 0.61.17 on MacOS - Now Tweetdeck *does* seem to be working, with all shields up. 🙄

[2019-03-01 11:20] Rundik commented on #1475
If I understood it right they say you can't remove this thing at all, you can only hide it. Even in chrome you can decide which extensions to have, but not in brave

[2019-03-01 11:43] btlechowski commented on #1616
Verification passed on

Brave | 0.62.11 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used STR from the description.
Checked all URL from: `brave://chrome-urls/`

[2019-03-01 11:59] btlechowski commented on #1896
Verification passed on

Brave | 0.62.11 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used STR from the description.

[2019-03-01 13:57] lmaclaren commented on #3436
Icon aside, the fact that I can't disable this extension is incredibly obnoxious and undermines a big reason for me to use Brave in the first place.

[2019-03-01 14:00] maclarel commented on #3436
Brave is getting a hard pass from me until this is resolved. Wasting resources on something that is claimed to "do nothing" is incredibly shady.

[2019-03-01 14:22] bridiver commented on #1174
@davidtemkin my thought was just to move the link from `brave://version` to `brave://rewards`

[2019-03-01 15:35] srirambv opened #3541 "Linux icons looks blurry at 100% DPI [Follow up to #2295]"
## Description
Linux icons looks blurry at 100% DPI [Follow up to #2295]
## Actual result:

at 100% DPI
 ![screenshot from 2019-02-15 12-47-49](https://user-images.githubusercontent.com/17010094/52840738-291d2080-3120-11e9-9bca-550e204ecaac.png)

Device display setting is as follows
![image](https://user-images.githubusercontent.com/17010094/52840724-1a366e00-3120-11e9-9f3c-04b5fb5b2b5a.png)

## E

[2019-03-01 16:22] srirambv commented on #2948
Still seeing the error on Windows on master. Kept the browser active for a while but still console kept logging the error
[code]
![image](https://user-images.githubusercontent.com/17010094/53651280-49ff6e80-3c14-11e9-87ae-058801bfb99c.png)

[2019-03-01 16:37] davidtemkin commented on #3538
@NejcZdovc I think we're adding confusion by creating settings section for Rewards while Rewards has its own settings page. For clear browsing data that arrangement is supportable, but I think this element, and others, should be somewhere inside Rewards. We should probably discuss as a whole cc: @jenn-rhim @mandar-brave

[2019-03-01 16:56] mandar-brave commented on #3538
@davidtemkin @NejcZdovc we had designed a complete diagnostics system spec for something similar; never shipped due to priorities. Wondering if easier to switch to those designs.

For the diagnostics spec (Which had a windows for debug log), the plan was to install the same on About Brave.

[2019-03-01 16:58] volia2 commented on #353
+1

[2019-03-01 17:14] valera-rozuvan commented on #3473
@rebron Any tip on how to bypass this problem? What step am I missing in building `release` version of Brave browser locally?

[2019-03-01 17:52] kjozwiak opened #3542 "Manual test run on OS X for 0.61.x - Beta"
## Per release specialty tests
 - [x] Minimum visits for publisher relevancy setting not being respected.([#2110](https://github.com/brave/brave-browser/issues/2110))
 - [x] Typing chrome://sync autocompletes to chrome://sync-internals.([#2603](https://github.com/brave/brave-browser/issues/2603))
 - [x] SiteRemovalNotification isn't disappeared w/o explicit user closing.([#2772](https://github.com

[2019-03-01 17:52] kjozwiak opened #3543 "Manual test run on Windows x64 for 0.61.x - Beta"
## Per release specialty tests
 - [ ] Audit-deps fails on windows.([#2834](https://github.com/brave/brave-browser/issues/2834))
 - [x] New tab flashes white - follow up to 1876.([#3362](https://github.com/brave/brave-browser/issues/3362))
 - [x] Calls to BAT-Native-Ledger are blocked when a reconciliation is in progress.([#3393](https://github.com/brave/brave-browser/issues/3393))

### Installer

[2019-03-01 17:52] kjozwiak opened #3544 "Manual test run on Linux for 0.61.x - Beta"
## Per release specialty tests
 - [x] Typing chrome://sync autocompletes to chrome://sync-internals.([#2603](https://github.com/brave/brave-browser/issues/2603))
 - [x] SiteRemovalNotification isn't disappeared w/o explicit user closing.([#2772](https://github.com/brave/brave-browser/issues/2772))
 - [ ] [Linux] test-security fails with JSON error.([#2786](https://github.com/brave/brave-browser/is

[2019-03-01 18:02] bsclifton commented on #1475
@Rundik that's correct for the time being - we do have a task captured to terminate the process when disabled:
https://github.com/brave/brave-browser/issues/3436

[2019-03-01 18:27] fmarier commented on #3411
This also affects https://github.com/brave/brave-core/pull/1630.

[2019-03-01 18:46] jnki commented on #3495
Tweetdeck has started working again with brave shields enabled in Brave 0.60.45 on windows.

[2019-03-01 18:54] jumde commented on #3473
@valera-rozuvan

Can you try these steps:

1. Delete the `src/out`, `src/brave/vendor`
2. Pull the latest changes and run `npm run init`

and try running the build. Let me know if you still run into this problem.

[2019-03-01 19:07] rebron commented on #3482
released as of 11amPST

[2019-03-01 19:10] #3482 closed

[2019-03-01 19:18] rebron commented on #3231
cc: @bbondy, @mkarolin can you guys take a look, will likely want to get this in as soon as we can e.g. 62.x.

[2019-03-01 19:23] rebron commented on #3234
cc: @cezaraugusto to take a look

[2019-03-01 19:26] rebron commented on #3245
cc: @kjozwiak to reproduce

[2019-03-01 19:30] rebron commented on #3541
cc: @rossmoody and @petemill

[2019-03-01 19:37] rebron commented on #3540
@rebron These shortcuts are for webapps that we and chrome are not supporting. Note to myself to file a separate issue to remove "Create Shortcuts" from More Tools menu.

[2019-03-01 19:48] rebron commented on #3509
Related to https://github.com/brave/brave-browser/issues/2148

[2019-03-01 19:55] rebron commented on #3494
@NejcZdovc can you ask for uplift to 61.x/62.x?

[2019-03-01 20:25] LaurenWags opened #3545 "brave:// changes to chrome:// in URL bar"
## Description
Only seems to affect 0.61.x.

If you navigate to a page like brave://version and then double click in the URL bar (say you want to change `version` to `settings`), you'll see that the `brave://` part changes to `chrome://`.

## Steps to Reproduce

   1. Open brave://version and let the page load.
   2. Double click in URL bar

## Actual result:
`brave://` changes to `chrome://`
![ur

[2019-03-01 20:52] valera-rozuvan commented on #3473
These are the commands I ran:

[code]

I still get the error:

[code]

Here is the log file:

[code]

[2019-03-01 21:01] jumde commented on #3473
@valera-rozuvan - I missed one directory in my last comment `src/brave/build/` . Can you remove it as well, before running `npm run init`?

[2019-03-01 21:22] mkarolin commented on #3231
@karenkliu, is it OK if "It can:" stays where it is or would you rather it moved to the title?

[2019-03-01 22:10] JasonCarswell commented on #464
If you can't do vertical tabs at least fix and support the Sidewise (Chrome addon) so it doesn't crash, or at least have a session manager so when it does crash precious weeks work isn't lost.

[2019-03-01 22:15] mkarolin commented on #3231
@karenkliu "It can:" label is tied to the permissions. If an extension doesn't ask for any permissions the label isn't shown:
![image](https://user-images.githubusercontent.com/41635752/53669569-81d2da00-3c45-11e9-884f-d673f807f917.png)
I assume we would still want the label there in such cases, just without "It can:" part?

[2019-03-01 22:32] #3433 closed

[2019-03-01 22:44] emerick commented on #1174
The page is currently a static snapshot in time and doesn't dynamically update itself as data changes. Do we need to update dynamically or is a "snapshot" view acceptable? Another alternative could be a Refresh button, so it's obvious that the view is a snapshot.

[2019-03-01 22:50] mkarolin opened #3546 "Upgrade from Chromium 72.0.3626.119 to Chromium 72.0.3626.121 on 0.60.x branch"
QA tests:

Check branding items
Check for version bump

[2019-03-01 22:53] emerick opened #3547 "Refactor: Remove OnRewardsMainEnabled from RewardsServiceObserver"
We should remove the `OnRewardsMainEnabled` method from `RewardsServiceObserver` since it's redundant with the `kBraveRewardsEnabled` preference.

cc: @bridiver

[2019-03-01 23:24] tomlowenthal opened #3549 "Leak-proof history-removal-on-shutdown"
In brave/brave-browser#492, we added an option to clear browsing state when you quit Brave. In rare cases when the browser process is killed (mostly on slower machines or after a crash), we don't have a chance to clean up. This leaves browsing state on disk, despite the intent to clean it up. We could leakproof this by (ex) encrypting that state on disk with a key that's only stored in memory, so

[2019-03-01 23:37] tomlowenthal commented on #3231
I think it's better to keep the "It can:" separate.

[2019-03-02 00:06] corymcdonald opened #3550 "ads.brave.com is blocked"
![image 6](https://user-images.githubusercontent.com/5459225/53673373-b0a07e80-3c4c-11e9-92a6-6b4ac4257c0b.png)

Sampson and Amir reported this. Could this be an instance where `ads.*` is being blocked by the easylist?

[2019-03-02 02:39] SirCaldude commented on #464
It's amazing after all this time you haven't implemented vertical tabs. It is THE reason I don't use this browser. If you can make horizontal tabs...you can make vertical tabs. It's that simple. Can you imagine if Windows explorer had a horizontal tree rather than a vertical tree? How retarded would that be? I'll tell you. It would be as retarded as a browser with horizontal tabs of which far fewe

[2019-03-02 03:00] LaurenWags commented on #1174
I think we do need some way to refresh this as users can restore wallets, so if the data is a snapshot it sounds like it could potentially be out of sync with what their actual wallet info is.

[2019-03-02 03:14] LaurenWags commented on #3538
Personally I don't have strong feelings about where the link to this page should be, somewhere on  brave://rewards feels natural - not sure if under the wallet panel is too obvious:
![screen shot 2019-03-01 at 10 12 04 pm](https://user-images.githubusercontent.com/28145373/53676374-48af5f80-3c6f-11e9-94a0-cc80ae2f3ed8.png)

Elsewhere is fine, however, I do **not** think this link should be availab

[2019-03-02 03:42] #3546 closed

[2019-03-02 05:19] StarFscker commented on #413
Thank you for the update.

[2019-03-02 07:38] NejcZdovc opened #3551 "Excluded publisher included back in"
## Description

## Steps to Reproduce

   1. clean profile / enable rewards
   2. visit a site and add it to ac table
   3. make sure that you see it the panel
   2. visit another site (don't stay on it for min visit time, if needed adjust min visit time to a minute)
   3. exclude site
   4. make sure that you see 1 excluded site in settings page
   5. close panel and open it again

## Actual resu

[2019-03-02 10:53] nagybarnabas commented on #3245
I think it works now

[2019-03-02 10:53] #3245 closed

[2019-03-02 12:33] srirambv opened #3553 "Settings modal is not closed when Rewards is disabled"
## Description

Settings modal is not closed when Rewards is disabled

## Steps to Reproduce

   1. Enable rewards
   2. Open Ads/A-C settings and disable rewards
   3. Still shows settings view instead of info modal

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/53681829-fdbc3900-3cbc-11e9-8380-a92d32b285c5.png)

## Expected result:
![image](https://user-images.gi

[2019-03-02 16:07] valera-rozuvan commented on #3473
Success! This is the final version of the bash script which helped me:

[code]

[2019-03-02 21:55] eljuno commented on #1057
+1 from Community https://community.brave.com/t/bookmarks-tags-in-brave/46645?u=eljuno

[2019-03-02 22:27] TheRoarkster commented on #209
I wanted to post what I did to get cast working in **Brave** (Version 0.62.14 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)) running on **Fedora 29**. (kernel 4.20.13).  This may help you @jamendub, as I had the exact same issue as you with the Cast dialog hiding behind the upper right corner of Brave.

First, let me just share an image of the working combo of [brave://flags](brave://flags)

[2019-03-02 22:38] srirambv opened #7826 "[Android] Verified Twitch account doesn't show verified in BR panel"
## Description
Verified Twitch account doesn't show verified in BR panel

## Steps to Reproduce

   1. Open verified twitch account on staging
   2. Check the BR panel, shows non-verified
   3. Open a-c list, shows as verified

## Actual result:
![screenshot_20190302-165531](https://user-images.githubusercontent.com/17010094/53688423-a6948380-3d11-11e9-9028-b2750ca39076.png)
![screenshot_20190302-

[2019-03-02 22:50] srirambv opened #7483 "BR Panel should show Rewards settings instead of settings"
## Description
BR Panel should show Rewards settings instead of settings

## Actual result:
![screenshot_20190302-165638](https://user-images.githubusercontent.com/17010094/53688541-8fef2c00-3d13-11e9-8a61-29ce07ca8d76.png)

## Expected result:
should be same as desktop

## Issue reproduces how often:
Easy

### Additional Information

[2019-03-03 01:24] milos12345 commented on #464
@SirCaldude
Screens used to be 4:3 and nobody was multitasking on web as today. We used 5 tabs tops so it was fine. Now my screen is 16:9 which after TitleBar, AddressBar, BookmarksBar, StatusBar, and Windows' TaskBar is more like 2:1, or even 5:2 on my tablet, so that 1cm of vertical space is very valuable space, especially on laptop and tablet screens. I use Brave only on my desktop's 3rd vertic

[2019-03-03 04:26] Liunkae opened #3554 "Right click option to save image directly to Downloads"
There should be feature in the context menu to download an image directly to the Downloads folder (or whichever folder is configured in settings). This option is faster than the **Save Image As** option. This option is available in Safari.

Safari 12:
![](https://user-images.githubusercontent.com/19424103/53690883-8fb55780-3d38-11e9-8299-39475213420e.png)

Brave 0.62.14 dev:
![](https://user-image

[2019-03-03 05:16] pvamshi opened #3555 "Icons color should be contrast to the theme color"
## Description

The light theme icons color need to be changed according to theme. The disabled icon looks darker while the active icon is lighter ( which on lighter theme makes the effect reversed).

## Steps to Reproduce
   1. Change default theme to a lighter theme
   2. Navigate to any website

## Actual result:

This is how the icons look like on light theme
![image](https://user-images.githu

[2019-03-03 06:40] kjozwiak commented on #3245
Thanks for double checking @nagybarnabas 👍 Much appreciated.

[2019-03-03 06:52] kjozwiak commented on #3538
Another possibility is add a new section under `brave://settings` like we did with `Sync`. Example:

<img width="727" alt="screen shot 2019-03-03 at 1 44 05 am" src="https://user-images.githubusercontent.com/2602313/53691957-f006c200-3d55-11e9-8c6b-a183e068f45d.png">

We already have the above implemented, it would be as simple as copying/pasting the code, renaming the header to Rewards or somethi

[2019-03-03 07:04] kjozwiak commented on #1174
Agreed with @LaurenWags. Making it dynamic is probably ideal. It will make support more complicated as we'll also need to make sure that the data that was given to us is actually the current state and not a snapshot of a previous state which might not be as useful. Could lead to confusion in terms of support.

I'm ok with having a "refresh" button if updating the information automatically is more

[2019-03-03 09:48] raisty opened #3556 "Replace background images for new - blank tab"
## Description

I want to replace background images for a new tab.
Cannot find dksfotoX.jpg folder.

## Steps to Reproduce

   1. Open new tab
   2. The background image will appear if it is enabled
   3. Replace photos in the folder should be available

## Actual result:

Cannot find dksfotoX.jpg images

## Expected result:
Folder with image collections.

## Reproduces how often:

Always

## Brav

[2019-03-03 12:52] FWDekker opened #3557 "Cannot start Brave because of self-closing tab on start-up"
## Description
If Brave is configured to "Continue where you left off" on start-up and the previous session ended with a tab that closed itself, Brave will close itself each time it is started up.

## Steps to Reproduce
1. Set Brave to "Continue where you left off" on start-up.
2. Close the last tab in Brave so that Brave will start with an empty tab next time.
3. Run an external program that open

[2019-03-03 15:05] riastradh-brave commented on #1324
No opinion on whether `/usr/bin/brave-browser` should be a symlink to an alternative, but at least the release, beta, and dev packages should agree on whether the `/usr/bin/brave-browser` file _is_ a symlink to an alternative -- currently the beta and dev packages think it is, and update it with `update-alternatives`, while the release package thinks it isn't, so it is not presented as an alternat

[2019-03-03 17:27] johnsen32 commented on #2791
In canse anyone else comes across this issue and is still wondering how th heck one can get netflix to work with Brave, here is the solution

https://www.reddit.com/r/BATProject/comments/a9uqk4/widevine_install_problems_for_brave_browser/

This should not be that hard, took me almost an hour to find the solution.
Please improve usability for such cases.

[2019-03-03 17:53] NejcZdovc commented on #1174
@emerick correct me if I am wrong, but doesn't data update if you reload a page? I think we don't need refresh button if that is the case.

[2019-03-03 17:54] NejcZdovc commented on #3538
@kjozwiak yup agree (https://github.com/brave/brave-browser/issues/3538#issuecomment-468556300), will talk more with product about it as I would like to place more stuff in settings page. Currently we don't have settings section in rewards (for general stuff).

[2019-03-04 00:11] randygrolemund commented on #751
+1 also. I do not want any site to prompt me. It would also be nice to have an option to prevent programs from opening up your browser. Like AMD's GPU installer, opens a browser window on install and uninstall. It just takes you to their site. I gave them permission to interact with my GPU's not the rest of my computer, or installed applications.

[2019-03-04 00:12] jumde opened #3558 "Yubikey doesn't work with Brave"
## Description
Login with U2F keys on Github or Google doesn't work
<img width="433" alt="screen shot 2019-03-03 at 4 04 29 pm" src="https://user-images.githubusercontent.com/1903815/53704118-54fdfe80-3dce-11e9-894d-5e2110e8987a.png">

## Steps to Reproduce
   1. Setup U2F with Github/Google account using a yubikey
   2. Login with U2F keys

## Actual result:
Login doesn't work

## Expected result

[2019-03-04 00:49] kneekoo commented on #697
Shouldn't this issue be closed? Brave can now use extensions from the official Chrome store, and this includes Tampermonkey and everything else.

[2019-03-04 02:49] sahilbhosale63 commented on #3372
I have now downloaded the source code and now I am trying to fix this bug.

[2019-03-04 07:26] bsclifton commented on #697
@kneekoo good call 😄 And kudos to @derjanb for chiming in here.  Please comment here if you're still experiencing an issue 😄

[2019-03-04 07:26] #697 closed

[2019-03-04 07:30] bsclifton commented on #2791
@johnsen32 thanks for the feedback 😄Definitely important for us to solve this issue

In the meantime, we do have a more obvious notification (fixed in master). This will be making its way through the channels. Check out a preview of how it looks here:
https://github.com/brave/brave-browser/issues/1940#issuecomment-436438375

[2019-03-04 07:35] bsclifton commented on #3556
cc: @karenkliu

[2019-03-04 07:36] bsclifton commented on #3555
cc: @petemill

[2019-03-04 07:40] bsclifton commented on #3473
@valera-rozuvan awesome 😄 You may be able to edit the wiki, if there are specific steps you found that would help others (if not, let us know and we can update for you)

I'll close as this seems to be resolved!

[2019-03-04 07:40] #3473 closed

[2019-03-04 07:48] bsclifton commented on #3495
Awesome- I'll go ahead and close this issue for now... thanks for the updates, folks!

Please do re-open the issue or at least leave a comment if you experience this again 😄

[2019-03-04 07:48] #3495 closed

[2019-03-04 09:32] simonhong opened #3559 "DCHECK failed: FATAL:browser_actions_container.cc(338)] Check failed: max_width >= 0 (-303 vs. 0)"
This failure happens when browser is minimized and restored on Windows.

[code]

[2019-03-04 09:32] simonhong commented on #3559
I'm working on this now.

[2019-03-04 09:56] mrzealot commented on #3550
Yupp, the blocking does come from easylist with a bunch of built-in exceptions like:

`://ads.$domain=~ads.ac.uk|~ads.adstream.com.ro|~ads.am|~ads.bigbom.com|~ads.colombiaonline.com|~ads.comeon.com|~ads.elcarado.com|~ads.google.com|~ads.harvard.edu|~ads.lapalingo.com|~ads.
lordlucky.com|~ads.mobilebet.com|~ads.msstate.edu|~ads.nc|~ads.nimses.com|~ads.quasaraffiliates.com|~ads.red|~ads.route.cc|~ad

[2019-03-04 10:04] tmancey opened #3560 "Fix Confirmations unit tests"
Issue was caused by race condition where we were changing/saving state before the previous persisted state had loaded.

[2019-03-04 10:50] srirambv commented on #1174
@NejcZdovc @emerick @bridiver  can't we have a `brave://rewards-internals` page for logging and other debug info which is dynamic? Personally i feel rewards page is cramped up as it is and probably not a wise idea to have anymore on that page

[2019-03-04 13:23] srirambv commented on #2870
Running from source causes the active page to have a webview crash irrespective of it being a brave page or a webpage.

[code]

I am not seeing any ads on running ` npm run start -- Release --enable-logging=stderr --vmodule=brave_ads=3 --brave-ads-staging --brave-ads-debug --brave-ads-testing --brave-ads-locale=en_US`. I still see #2948 consistently as there are no files downloaded into `ads_servi

[2019-03-04 13:35] bbondy opened #3561 "Update DEPS to improve matching for brave/ad-block"
See more here:
https://github.com/brave/ad-block/issues/190

[2019-03-04 13:54] valera-rozuvan commented on #3473
@bsclifton I am unable to edit the Wiki. Maybe it is open for editing only by inside team members?

[2019-03-04 14:02] #3561 closed

[2019-03-04 14:53] bbondy opened #3562 "cbsnews.com videos not playing"
## Description

Videos aren't playing on cbsnews.com

## Steps to Reproduce

   1. Load a video like the one reported to me: https://www.cbsnews.com/news/bernie-sanders-rally-live-stream-vermont-senator-holds-brooklyn-campaign-event-today-2019-03-02/
   2. Press play

## Actual result:

Video doesn't play

## Expected result:

Video should play

## Reproduces how often:

Always

## Brave version (

[2019-03-04 14:55] bbondy commented on #3562
Fixed by these 2 PRs:
https://github.com/brave/brave-core/pull/1770
https://github.com/brave/brave-core/pull/1828

[2019-03-04 14:55] #3562 closed

[2019-03-04 14:58] LaurenWags commented on #3538
That's a really good point @kjozwiak, if brave://rewards becomes inaccessible we do want users to be able to still access this. Agree with you and @NejcZdovc re: placing something in settings.

[2019-03-04 15:15] GeetaSarvadnya commented on #3278
Verification passed on

Brave	0.61.41 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
Revision	cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS	Linux mint

- Verified the STR from https://github.com/brave/brave-core/pull/1643

![image](https://user-images.githubusercontent.com/38657976/53742287-4e4eb480-3ebe-11e9-9979-4f090dceaf32.png)

[2019-03-04 16:27] GeetaSarvadnya commented on #3362
The issue still persists on Linux `0.61.41`

![3362](https://user-images.githubusercontent.com/38657976/53747063-74795200-3ec8-11e9-810f-a0abe9af329d.gif)

[2019-03-04 16:34] stodge opened #3563 "Unable to open new tab in Brave when clicking a link in Slack Windows 10 client"
## Description
If I click a link in my Slack Windows 10 client, I get an exception from Brave:

brave.exe - Application error

The application was unable to start correctly (0xc0000034). Click OK to close the application.

At the time I was already running an instance of Brave.

## Steps to Reproduce

   1. Click URL link in Slack Windows 10 client
   2. Error dialog appears
   3. Brave won't open

[2019-03-04 16:45] LaurenWags commented on #3476
Reproduced original issue from description and https://github.com/brave/brave-browser/issues/3476#issuecomment-467033829 with build below.

Brave | 0.61.45 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

[2019-03-04 16:55] NejcZdovc commented on #3476
@LaurenWags this is still in 0.63, it's waiting for uplift

[2019-03-04 17:00] mbacchi opened #3564 "upload_to_aptly emits error "[[: not found""
During the linux signing and upload process, we see the error:

[code]

Yet in the `upload_to_rpm_repo` script, this does not occur though it has the same exact syntax. This appears to be due to the fact that we're using the shebang `#!/bin/sh` instead of `#!/bin/bash` in the `upload_to_aptly` script.

[2019-03-04 17:06] WhiteR4bbitt commented on #3545
My address bar does not update to chrome, but this may be in the same realm of `brave://` urls. Let me know if this should be in its own issue.

I am on `0.60.47`, not sure if this is similar enough to be part of this issue but this is what I notice when on `brave://about`. All the URLS highlighted show `chrome` at the bottom, but will click through to `brave://<item>`
![image](https://user-images

[2019-03-04 17:22] joejoejo commented on #209
Ii am running Windows 10 and everything described above does not work to get the casting icon to appear in the toolbar or get the casting dialog to leave the top left hand corner of the screen

[2019-03-04 17:27] emerick commented on #1174
@NejcZdovc Strangely enough, the data on the page only updates if you create a new tab; pressing the browser Reload button isn't enough to initiate it. It's relatively easy for me to add a "Refresh" button to the page, so will do that for now and then we can think about making it more dynamic down the line.

[2019-03-04 17:58] bsclifton commented on #3473
@valera-rozuvan can you check out this edit by @jumde? Hope this helps capture it 😄
https://github.com/brave/brave-browser/wiki/Home/_compare/e99b09e6a68a4b5ad79cb4f690f1ef144657b8a0...f3f38ac38ce061ea83b22086a536fb96b4f8bcf0

Updated page at:
https://github.com/brave/brave-browser/wiki#troubleshooting

[2019-03-04 18:04] tmancey commented on #2870
@srirambv is retesting as Brave Core was on wrong branch

[2019-03-04 18:22] rebron opened #3565 "allow hiding of BR icon when user has never enabled it"
## Description
A user should be able to hide Brave Rewards icon when they've never joined/enabled Brave Rewards.

## Steps to Reproduce
1. New profile.
2. Don't join, don't enable Brave Rewards.
3. Go to Settings and select Hide Brave Rewards button.
4. Notice BR button is still visible.

## Actual result:
![hide icon](https://user-images.githubusercontent.com/5951041/53753864-2da74000-3e67-11e9-8

[2019-03-04 18:32] rebron commented on #3565
Follow up to: https://github.com/brave/brave-browser/issues/2975

[2019-03-04 18:36] GeetaSarvadnya commented on #3512
Reproduced on Linux 0.61.41 - Linux mint

Brave	0.61.41 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
Revision	cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS	Linux mint

[2019-03-04 18:36] #3525 closed

[2019-03-04 18:56] srirambv opened #3566 "Webview of active tab crashes when launched from git bash"
## Description

Webview of active tab crashes when launched from git bash. Found while debugging for #2870 with @tmancey .

## Steps to Reproduce

   1. Build from source on git bash window
   2. Launch browser with command `npm run start -- Release --enable-logging=stderr --vmodule=brave_ads=3`
   3. Welcome page crashes once launched
   4. Repeat same steps on Windows command prompt with a new p

[2019-03-04 18:56] srirambv commented on #2870
Manually switched branch on `src/brave` to master as `npm run sync -- --all` on brave-browser didn't switch branch automatically. Ran the command `npm run start -- Release --enable-logging=stderr --vmodule=brave_ads=3 --brave-ads-staging --rewards=staging=true  --brave-ads-locale=en_US`, and there was no webview crash on the original page which triggered the ad. However found that https://github.c

[2019-03-04 18:56] #3551 closed

[2019-03-04 18:57] #3481 closed

[2019-03-04 18:57] #3494 closed

[2019-03-04 18:58] WhiteR4bbitt opened #3567 "Wallet Creation Dialog constantly saying Failed"
## Description
I installed Brave on two devices and wanted to keep them in sync so I restored the wallet on my secondary device, but now I just keep getting the warning (Screenshot below)

I was getting the error before I did the restore, hoping the restore would take precedence.

## Steps to Reproduce
1. Click the BAT icon
2. Click Create Wallet
3. Fails
4. Retry
5. Fails (See screenshot)

## Act

[2019-03-04 18:59] rebron opened #3568 "Add import bookmarks and settings on bookmarks bar"
## Description
Add import bookmarks and settings on bookmarks bar.

## Steps to Reproduce
   1. New profile.
   2. Notice Bookmarks bar is blank.
   3. Should show "Import bookmarks and settings" like in 59.x.

## Actual result:
Empty bookmarks will display just empty bookmarks bar.

## Expected result:
Should show text and link to import bookmark and settings like in 59.x. "For quick access..."

[2019-03-04 19:11] #3553 closed

[2019-03-04 19:32] stodge commented on #3563
A reboot seems to have fixed this.

[2019-03-04 19:33] rebron opened #3569 "Release checklist for 0.60.x Hotfix 2"
### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/brave/torrent-discovery is up to date with its latest upstream.
- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the securit

[2019-03-04 19:57] Brave-Matt commented on #1239
+1 from Reddit:
 https://www.reddit.com/r/brave_browser/comments/axau32/any_eta_on_youtube_tv_compatibility/

[2019-03-04 20:01] jsecretan commented on #3500
Ads will finally go to production on 0.63.

[2019-03-04 20:30] #3560 closed

[2019-03-04 20:33] tmancey commented on #2948
@srirambv We found this issue was caused due to Git Bash. Can you please link this ticket to your new ticket and can we close this ticket as this is no longer an issue.

[2019-03-04 20:34] tmancey commented on #2870
@srirambv We found this issue was caused due to Git Bash . Can you please link this ticket to your new ticket and can we close this ticket as this is no longer an issue.

[2019-03-04 20:47] darthShadow commented on #2408
This is still an issue with the latest version of the browser (0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit)). Anything I can do to help get this resolved faster? Basically, the only thing preventing me from switching fully to Brave.

[2019-03-04 21:02] ryanml commented on #3500
This was done via: https://github.com/brave/brave-core/pull/1793

[2019-03-04 21:02] #3500 closed

[2019-03-04 21:22] ryanml commented on #3408
Fixed via: https://github.com/brave/brave-core/pull/1640

(Note, this should be re-verified on the latest version of `0.60`) cc: @LaurenWags @jsecretan

[2019-03-04 21:22] #3408 closed

[2019-03-04 21:24] SilverPuppy commented on #3474
Duplicate of https://github.com/brave/brave-browser/issues/884

[2019-03-04 21:26] mandar-brave opened #3570 "Fix Brave Ads landing pages should not be included in auto-contribute"
Advertising landing pages should not be considered for auto-contribute.
Tips are OK if the users chooses to tip directly.

cc @bradleyrichter @jsecretan @NejcZdovc @tmancey

[2019-03-04 21:27] SilverPuppy commented on #884
This still is not working, so I'm assuming that for the time being this issue is being overlooked. My current workaround is simply to download instead of using PDF.js but this is a clunky solution. Is this going to be addressed any time soon? As shown by the duplicate bug I just marked, this is affecting more people than just me.

[2019-03-04 22:05] mandar-brave commented on #1192
Add the feature to reset BR in the "Reset section"

![image](https://user-images.githubusercontent.com/35932307/53765940-4410c400-3e86-11e9-96c3-4c10beb7d8e3.png)

Text: "Reset Brave Rewards"
What it does: delete wallet and every other aspect of BR data

@jenn-rhim will create another issue to create BR Settings and separate BR panel in to a separate piece of code that is always accessible.

cc @N

[2019-03-04 22:26] anthonyrebel commented on #2408
FWIW - When I started collecting errors on the extension it failed on line 1963 with the following error:  Error: File doesn't exist on your google drive: storedpushes=:=undefined.

In addition, when you run through the GCM Internals the connection state comes up as false.

I haven't spent a lot of time on this issue, but in my case it acts like it's not integrated with Google Drive even though I

[2019-03-04 22:27] yrliou opened #3571 "Ensure task scheduler is already initialized in ledger lib"
https://github.com/brave/brave-core/pull/1800 added a task runner in ledger lib.
Task scheduler used in the ledger lib is already initialized by chromium code in desktop case but not in iOS.
We would need to ensure task scheduler is initialized before creating the task runner in ledger lib to avoid crashes on iOS.

[2019-03-04 22:50] #3493 closed

[2019-03-04 23:10] simonhong opened #3572 "Refine Widevine prompt with UI/UX feedback"
Created this issue with @karenkliu 's feedback on https://github.com/brave/brave-core/pull/1772#issuecomment-469410101

The first time the user encounters a site that needs Widevine, show this notification in the page content area so that the user is sure to notice it:

![widevine spec 1](https://user-images.githubusercontent.com/2388823/53760821-d611d000-3e78-11e9-9aa9-22b561cd6106.png)

As @bbon

[2019-03-04 23:11] simonhong commented on #3572
Above user flow is what we do now and right noti is also deleted with latest PR.

[2019-03-04 23:18] karenkliu opened #3573 "Refine Widevine permission request"
## Description
Refine the Widevine permission request as described in [#1772](https://github.com/brave/brave-core/pull/1772) and ensure it matches UX spec.

## Designs
The first time the user encounters a site that needs Widevine, show this notification in the page content area so that the user is sure to notice it:

![widevine spec 1](https://user-images.githubusercontent.com/2388823/53760821-d61

[2019-03-04 23:18] #3573 closed

[2019-03-04 23:19] karenkliu commented on #3573
@simonhong Already made a duplicate issue in #3572

[2019-03-04 23:19] karenkliu commented on #3572
@simonhong Great! So the only feedback that still needs to be addressed is styling then.

[2019-03-05 00:12] #3571 closed

[2019-03-05 00:21] levi128 opened #3574 "Fix padding with clock and stats for NTP Hebrew locale"
## Description

the widgets are Asymmetrical when i'm using the  Hebrew language!
Fix?
## Steps to Reproduce

   1. when i open the browser

## Actual result:

https://imgur.com/CljFIsI
https://imgur.com/ZPck5r6
![cljfisi](https://user-images.githubusercontent.com/5951041/53774788-bbede700-3ea4-11e9-882e-ce2193f25543.jpg)

## Expected result:

## Reproduces how often:

## Brave version (brave://ve

[2019-03-05 00:28] levi128 commented on #3574
https://imgur.com/MuoDWfF

here the photo!

[2019-03-05 00:34] rebron commented on #3574
@levi128 What do you mean by asymmetrical? The font sizing of the clock (larger) versus the stats?

[2019-03-05 00:43] levi128 commented on #3574
It's a bit too much on the sides .. the clock and the stats! moment. I'll send pictures. In English it's fine. But in Hebrew it's a bit out of the middle!

[2019-03-05 00:45] skewty commented on #1024
I am likely not a typical user, but I use the Chromium SNAP with HW accel enabled only for that reason.. HW accel.  Until Brave has it enabled, like many here are likely thinking, it simply isn't worth it.

[2019-03-05 00:51] levi128 commented on #3574
https://imgur.com/CljFIsI

https://imgur.com/ZPck5r6

The first one is in Hebrew.

The second English! See the differences?
Thanks for the help!

[2019-03-05 00:52] simonhong commented on #3559
In C73, flex layout manager is used for toolbar. however we ignore that and run our own layout logic.
Need to refactor this also.

[2019-03-05 01:09] MJae commented on #2943
Still experiencing the issue. Using Version 0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit)

[2019-03-05 01:40] rebron commented on #3574
For Hebrew locale (probably effects Arabic too or rtl languages) , need to add proper padding.
cc: @cezaraugusto @rossmoody

[2019-03-05 02:02] karenkliu commented on #3231
@mkarolin @tomlowenthal Yes, correct, we keep "It can: ..." separate so that if the extension doesn't ask for any permissions, it will still say "Brave has not reviewed this extension for security and safety. Only install this extension if you trust the developer." without the "It can: ..." part.

[2019-03-05 03:11] liamaharon commented on #209
Confirming [TheRoarkster's solution](https://github.com/brave/brave-browser/issues/209#issuecomment-468966429) is working for me on Ubuntu 18.04. Thank you!

[2019-03-05 04:10] btlechowski commented on #3393
Awesome job @yrliou. Works much better.

Verification passed on

Brave | 0.61.45 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1800 and https://github.com/brave/brave-browser/issues/3393#issuec

[2019-03-05 04:31] btlechowski opened #3575 "New tab flashes white when in Light mode"
Follow up to https://github.com/brave/brave-browser/issues/1876 and https://github.com/brave/brave-browser/issues/3362

## Steps to Reproduce

   1. Open `chrome://settings/?search=Brave+colors`
   2. Change the color to `Light`
   3. Open a few new tabs

## Actual result:

White flash

![white flash](https://user-images.githubusercontent.com/34715963/53781064-79a9c180-3f07-11e9-9e65-a9d27e4496a3.

[2019-03-05 04:34] btlechowski commented on #3362
Verification passed on

Brave | 0.61.45 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

The white does not flash in `Dark` mode.

![3362b](https://user-images.githubusercontent.com/34715963/53781231-44ea3a00-3f08-11e9-894d-f3b48d9c201f.gif)

Still reproduc

[2019-03-05 04:43] btlechowski commented on #2757
Still reproducible:

Brave | 0.62.16 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

[2019-03-05 04:46] btlechowski opened #3576 "URL field is not updated after searching brave://settings"
## Steps to Reproduce

   1. Open `brave://settings`
   2. Search for `brave`

Note: the never ending spinner is logged: https://github.com/brave/brave-browser/issues/2757

## Actual result:

Search field is not updated
![setting search fail](https://user-images.githubusercontent.com/34715963/53781632-de661b80-3f09-11e9-9be3-bfcca0c6504d.gif)

## Expected result:
Search field is updated
![setting

[2019-03-05 04:52] rashbaugh3 commented on #3464
I did a Safeboot with Networking and only opened Brave, not Firefox. Same problem with Twitter notifications.

[2019-03-05 05:12] bsclifton commented on #3400
Closing as there hasn't been any update

@Felipefpl please re-open if you want to troubleshoot and let us know your OS and version (sounds like you're on Windows... Windows 7? Windows 10?)

There are full installers available on the Releases page on GitHub (has `Standalone` in the name):
https://github.com/brave/brave-browser/releases

[2019-03-05 05:12] #3400 closed

[2019-03-05 05:14] bsclifton commented on #3435
I believe you brought this up on Slack and the root cause was found... @tomlowenthal was it because you're using LastPass? (and something in the extension is making a call which prompts that?)

[2019-03-05 05:31] proteo commented on #2761
Looking forward for this, thanks!

[2019-03-05 06:12] mihirkumar commented on #94
Is there a way we could have a feature similar to uBO where one could visually select the element they want to remove from the page? Exactly how uBO's element picker mode works. I feel that is a lot more easy to use than finding the correct CSS selector. A casual user might not know anything about CSS selectors but a visual way to block an annoying element would allow them to make use of this feat

[2019-03-05 07:11] eljuno commented on #3444
+1 from Community https://community.brave.com/t/macos-extensions-section-of-settings-shows-in-sub-sections-where-it-doesnt-belong-when-you-scroll-down/47025?u=eljuno

[2019-03-05 07:51] kjozwiak commented on #3209
@GeetaSarvadnya did you create an issue for the above? Looks like it's only happening when you launch `Brave` using `--disable-features=IsolateOrigins,site-per-process` and visit `chrome://process-internals/#general` instead of `brave://process-internals/#general`. If you haven't, please create a new issue and CC @mkarolin.

[2019-03-05 08:01] simonhong opened #3578 "Touch overridden files also for test target"
When we modify files in `chromium_src`, we should touch original files also to trigger build that file because gn doesn't know files in `chroimium_src`.

This touching is not triggered for test target.

[2019-03-05 08:09] NejcZdovc commented on #3570
@tmancey @bridiver do we know if page is ads landing page? Do we add some kind of identifier to the page so that rewards page can pick it up?

[2019-03-05 08:10] NejcZdovc commented on #3441
closing as dupe of https://github.com/brave/brave-browser/issues/3396. Will fix this asap

[2019-03-05 08:10] #3441 closed

[2019-03-05 12:35] srirambv commented on #2786
@jumde any specific test steps for CI builds ?

[2019-03-05 13:18] GeetaSarvadnya opened #3579 "Folllow up of #3209 - Navigation to `chrome://process-internals/#general` is causing webview crash"
## Description

Folllow up of #3209 - Navigation to `chrome://process-internals/#general` is causing webview crash

## Steps to Reproduce

   1. Clean profile 0.61.41
   2. Navigate to `chrome://process-internals/#general`
   3. Webview is getting crashed
   4. Exit brave
   5. Clean profile
   6. Launch brave with using `--disable-features=IsolateOrigins,site-per-process`
   7. Navigate to `chrom

[2019-03-05 14:16] bbondy commented on #94
@mihirkumar yes, @bsclifton and @Snuupy will want to post issues for @Snuupy and your suggestions above

[2019-03-05 14:36] NejcZdovc commented on #3396
closing as dupe of https://github.com/brave/brave-browser/issues/2997

[2019-03-05 14:36] #3396 closed

[2019-03-05 14:37] NejcZdovc commented on #2649
closing as dupe

[2019-03-05 14:37] #2649 closed

[2019-03-05 14:53] scrobbleme opened #3581 "CTRL + W closes pinned tabs"
CTRL + W closes pinned tabs as well, but shouldn't. This is why they are pinned ;)

[2019-03-05 14:55] NejcZdovc commented on #3403
closing as dupe of https://github.com/brave/brave-browser/issues/2997

[2019-03-05 14:55] #3403 closed

[2019-03-05 15:22] bbondy commented on #3550
Could we just change our subdomain? It would continue to be broken in other browsers otherwise, and also random people have a tendency to audit things and take things out of context.

[2019-03-05 15:23] PRFinklemeister opened #3582 "Garbled Characters?"
## Description
Screen text garbled unreadable.

## Steps to Reproduce
   1.  Load any page
   2. Scroll a bit
   3. viola

## Actual result:
https://i.imgur.com/D9bwunK.png

## Expected result:
readable text

## Reproduces how often:
100% on any page... partial or complete.

## Brave version (brave://version info)

Brave | 0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit)
-- | --
Revision

[2019-03-05 15:24] bbondy commented on #3464
@Brave-Matt is this still an issue?

[2019-03-05 15:26] bbondy commented on #3430
@lukemulks could you get a crash ID from about:crashes ?

[2019-03-05 15:28] srirambv commented on #3500
Verification passed on

Brave | 0.61.46 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Linux

* Can't test with old profile with ads enabled on Linux as its still not supported
![image](https://user-images.githubusercontent.com/17010094/53816285-50059000-3f31-11e9-9d0c-9f2c55590ca2.png)

[2019-03-05 15:29] bbondy commented on #3338
This is working as expected, it used to show 307 and now 200. But the content is still replaced.  The devtools should show what's actually going on with network traffic which it does.

[2019-03-05 15:29] #3338 closed

[2019-03-05 15:32] bbondy commented on #3308
We already landed the new UX for making Widevine more obvious, so I'm closing this.

[2019-03-05 15:43] #3136 closed

[2019-03-05 15:43] Jacob-JA-Shanks commented on #2805
Still having this issue on Windows 10 (v1803) using Brave Version 0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit).

Using the Ctrl+\ shortcut followed by enter as well as using the context menu shortcut or the extension icon don't insert into fields.

[2019-03-05 15:50] srirambv opened #3583 "Manual test run on OS X for 0.60.x - Release Hotfix 2"
## Per release specialty tests
 - [x] Upgrade from Chromium 72.0.3626.119 to Chromium 72.0.3626.121 on 0.60.x branch.([#3546](https://github.com/brave/brave-browser/issues/3546))

### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Wi

[2019-03-05 15:50] srirambv opened #3584 "Manual test run on Windows x64 for 0.60.x - Release Hotfix 2"
## Per release specialty tests
 - [x] Upgrade from Chromium 72.0.3626.119 to Chromium 72.0.3626.121 on 0.60.x branch.([#3546](https://github.com/brave/brave-browser/issues/3546))

### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Wi

[2019-03-05 15:50] srirambv opened #3585 "Manual test run on Linux for 0.60.x - Release Hotfix 2"
## Per release specialty tests
 - [x] Upgrade from Chromium 72.0.3626.119 to Chromium 72.0.3626.121 on 0.60.x branch.([#3546](https://github.com/brave/brave-browser/issues/3546))

### Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Wi

[2019-03-05 15:54] bbondy commented on #2524
Does anyone know if this is still an issue?

[2019-03-05 16:08] bbondy commented on #1908
@rebron we since improved widevine detection so it's always caught.  Could you check if you get the install widevine option in the url bar and close this if you do?

[2019-03-05 16:58] mjgiarlo commented on #1835
I'm not sure this is fixable on the Brave side. Here's the issue in KeePassXC land (at least for Linux): https://github.com/keepassxreboot/keepassxc/issues/2414 The issue (consistent with @tneo's account above) seems to be that KeePassXC doesn't have an integration option for Brave, and thus doesn't know where to put its JSON configuration. This seems like it may be a `wontfix` for Brave?

[2019-03-05 17:03] rebron commented on #1908
DirecTVNow videos are working for me now, looks like it was a widevine issue.

[2019-03-05 17:03] #1908 closed

[2019-03-05 17:05] rebron commented on #3565
@mkarolin mentioned this might me macOS only, need to verify on WIn/Linux.

[2019-03-05 17:30] #3193 closed

[2019-03-05 17:30] GeetaSarvadnya commented on #3546
Verification passed on

Brave	0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)
Revision	da3787ba355f18db7db52abf75c42afb408d656f-refs/branch-heads/3626@{#883}
OS	Linux mint
![image](https://user-images.githubusercontent.com/38657976/53824639-73b0f080-3f9a-11e9-9ff5-759b16884fae.png)

[2019-03-05 18:00] riastradh-brave opened #3586 "UX for displaying Tor circuits"
There should be a button like the Tor Browser has that one can press to display the circuits currently in use: IP address of each relay, maybe geoip lookup to show country where it's located, bandwidth, link to atlas.torproject.org, &c.

[2019-03-05 18:19] jsecretan opened #3587 "Implement additional ad event confirmations"
## Description
The current implementation of ad confirmations sends those secure confirmations in the event of an ad being viewed (Confirmation type: view).  However, to complete our requirements for campaign reporting, we need to implement the following additional confirmations attached to the following events:

- Confirmation upon clicking through on an ad (Confirmation type: click)
- Confirmati

[2019-03-05 19:25] eljuno commented on #3582
Can you try disable "Hardware acceleration" which can be found under Settings > Advanced?

[2019-03-05 19:32] #3515 closed

[2019-03-05 19:52] rebron commented on #3558
cc: @kjozwiak to reproduce

[2019-03-05 19:53] tomlowenthal commented on #751
You can fully disable notification prompts in the Content Settings section of settings.

<img width="1146" alt="no-notification-prompts" src="https://user-images.githubusercontent.com/639937/53833352-23f00c00-3f3d-11e9-9891-781235395858.png">

[2019-03-05 19:54] rebron commented on #3576
@rebron to check if this is fixed with Pete's new search UI.

[2019-03-05 19:56] tomlowenthal commented on #3435
I'm not using LastPass, so this must be a different issue.

[2019-03-05 19:58] tomlowenthal commented on #1835
Happy to close until I hear otherwise.

[2019-03-05 19:58] #1835 closed

[2019-03-05 20:05] rebron commented on #3471
@dayfuaim Would you be able to provide us with info from brave://gpu/ we'll need that info to fix this one?

[2019-03-05 20:05] GeetaSarvadnya commented on #3585
Looks good. Hence closing the issue.

[2019-03-05 20:05] #3585 closed

[2019-03-05 20:06] randygrolemund commented on #751
I guess it's the old RTFM, lol. Thank you for pointing this out. I should
have looked, and I know better.

On Tue, Mar 5, 2019 at 1:53 PM Tom Lowenthal <notifications@github.com>
wrote:

--
Very truly yours,

Randy L. Grolemund, Jr.

[2019-03-05 20:07] rebron commented on #3454
@srirambv to reproduce.

[2019-03-05 20:19] rebron commented on #3471
@dayfuaim Also, if you have a chance, is this an issue for you on release builds of the browser? Thanks for using brave beta and brave dev by the way. We have this reproducing via virtual machine, but we wanted to reproduce on a physical machine.

[2019-03-05 20:59] thepcwiz101 commented on #3160
Update 2: latest chrome version does not solve problem and i have also tried the latest dev version of chrome also which doesn't solve the problem either. I reported the issue many times to google ever since chrome 69 and still no solution.

[2019-03-05 21:35] #1174 closed

[2019-03-05 21:44] alexandersjosten commented on #1308
Is anyone still working on this? Otherwise I would like to give it a go.

[2019-03-05 21:59] kartik-budhiraja commented on #1308
I planned to work on it, but unfortunately, cannot any soon, so you are good to go from my side.

[2019-03-05 22:01] dayfuaim commented on #3471
@rebron OK, this is `brave://gpu` from Beta (with HW Acceleration **ON**):

Data exported | 2019-03-05T21:59:03.262Z
-- | --
Chrome version | Chrome/73.0.3683.39
Operating system | Mac OS X 10.10.5
Software rendering list URL | https://chromium.googlesource.com/chromium/src/+/cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c/gpu/config/software_rendering_list.json
Driver bug list URL | https://chromium.goo

[2019-03-05 22:12] #3413 closed

[2019-03-05 22:17] mbacchi opened #3588 "Fix upload.py redundant attempt"
After https://github.com/brave/brave-browser/issues/3165 this still occasionally cropped up on Mac. Updated the function to not duplicate items in the package list.

[2019-03-05 22:21] kjozwiak commented on #3565
I can't seem to reproduce this on the following platforms:

* Win 10 x64 VM (clean profile/BR not enabled) - `Couldn't reproduce`
* macOS 10.14.3 x64 (clean profile/BR not enabled) - `Couldn't reproduce`
* Mint 19.1 x64 VM (clean profile/BR not enabled) - `Couldn't reproduce`

Used the following build for the above checks:

Brave | 0.61.45 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- |

[2019-03-05 22:22] dayfuaim commented on #3471
@rebron Here you go. :)
This is from Stable 0.60.47 Chromium: 72.0.3626.119 (Официальная сборка), (64 бит)
(HW Acceleration is **ON** by default)
![2019-03-06 01 18 37](https://user-images.githubusercontent.com/1274699/53841465-ea0b1e00-3fad-11e9-9c59-ba09029a63e0.png)

[2019-03-05 22:26] rebron commented on #3565
@anthonypkeane any more details on steps to reproduce?

I'm going to go ahead and close, marking invalid. Can't reproduce this either on 61.43 clean macOS build 10.14.2

[2019-03-05 22:26] #3565 closed

[2019-03-05 23:29] kjozwiak commented on #3558
Reproducible on `0.61.x` as well. I went through both GitHub/Google using `macOS 10.14.3` with the following build:

Brave | 0.61.45 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

**_Examples of the issue occurring on Google when attempting to add a key as authentication:_**

Chrome | Bra

[2019-03-05 23:34] jumde commented on #2786
@srirambv - This is running in CI, and working as expected. cc: @mihaiplesa

I don't think we can test this on release builds. This was for devs only, may be I should removed the `QA/Yes` tag for this issue.

[2019-03-05 23:46] mouradski commented on #3039
my site appear to be verified under windows but not on Mac OS

[2019-03-05 23:48] tomlowenthal opened #3589 "Use same labels on Shields global settings and panel"
## Current
![image 1](https://user-images.githubusercontent.com/639937/53845447-f8314e00-3f5d-11e9-83c4-8ba02fc3f932.png)

## Designs
Settings:
![shields settings](https://user-images.githubusercontent.com/2388823/56166255-01b0cb80-5f8a-11e9-83af-112d17dd3f99.png)

Shields panel:
![shields panel](https://user-images.githubusercontent.com/2388823/55983238-82508e80-5c4f-11e9-98f3-65310a83c6e3.png)

[2019-03-05 23:53] LaurenWags opened #3590 "panel not showing twitch publisher info for VOD"
## Description
Rewards panel isn't showing twitch publisher info. Found with 0.60.48, but this is occurring on 0.60.47 and 0.60.45 versions as well. This was working when both of these versions were released.

## Steps to Reproduce

   1. Install 0.60.x version on Release Channel
   2. Enable Rewards
   3. Visit a twitch streamer (twitch.tv/jenoki works if you want a verified one)
   4. Even if us

[2019-03-06 00:12] kjozwiak commented on #3471
@bbondy reproduced on Chrome BETA using the same VM. Doesn't seem to be Brave specific. At least with my case using the VM. Example of the issue happening on `73.0.3683.56 (Official Build) beta (64-bit)`:

<img width="1240" alt="screen shot 2019-03-05 at 7 04 45 pm" src="https://user-images.githubusercontent.com/2602313/53846106-b1515180-3f79-11e9-9a4d-5a650b57a41e.png">

@dayfuaim if you have the

[2019-03-06 00:18] kjozwiak commented on #3558
Something to keep in mind. Chrome BETA is currently on `73.0.3683.56` and we're on `73.0.3683.39`. Entirely possible that the above issue might have been fixed between those two CR versions.

@bbondy should we bump to `73.0.3683.56` as well?

[2019-03-06 00:33] LaurenWags commented on #3590
cc @NejcZdovc @jasonrsadler

[2019-03-06 01:10] kjozwiak opened #3591 "Release notes for 0.60.x Hotfix 2 (Release Channel)"
Release Notes
 - Upgrade from Chromium 72.0.3626.119 to Chromium 72.0.3626.121 on 0.60.x branch.([#3546](https://github.com/brave/brave-browser/issues/3546))

[2019-03-06 02:01] mesqueeb commented on #3205
Unable to lower shields on `localhost`.
+1

[2019-03-06 02:23] btlechowski commented on #3584
LGTM.

Verification passed on

Brave | 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)
-- | --
Revision | da3787ba355f18db7db52abf75c42afb408d656f-refs/branch-heads/3626@{#883}
OS | Windows 7

 cc @brave/legacy_qa

[2019-03-06 02:26] #3584 closed

[2019-03-06 02:33] btlechowski commented on #3083
Verification passed on

Brave | 0.62.17 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-browser/issues/3083#issuecomment-467122162

[2019-03-06 02:51] btlechowski commented on #2739
Verification passed on

Brave | 0.62.17 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1641

Added: `"backup_notification_frequency":"50000000","backup_notification_interval":"50000000"`
to `brav

[2019-03-06 02:59] btlechowski commented on #3286
Verification passed on

Brave | 0.62.17 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1723

![image](https://user-images.githubusercontent.com/34715963/53852960-129e1280-3fc4-11e9-97d4-1815cc9b6

[2019-03-06 04:09] snyderp opened #3593 "Payment Request API's `canMakePayment` endpoint can be used for Fingerprinting, should lie behind shields"
Payment Request API includes a method called [canMakePayment](https://www.w3.org/TR/payment-request/#canmakepayment-method) that allows websites to determine if Brave is configured to support a given payment method.

No user interaction is required for this check to return, though Chromium applies some weak rate limiting, based on child frame's FQDN.

This allows fingerprinting based on whether th

[2019-03-06 04:52] #3583 closed

[2019-03-06 04:53] btlechowski commented on #3590
Reproduced on Windows 7

Brave | 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)
-- | --
Revision | da3787ba355f18db7db52abf75c42afb408d656f-refs/branch-heads/3626@{#883}
OS | Windows 7

[2019-03-06 04:58] mkarolin opened #3594 "Upgrade from Chromium 73.0.3683.39 to Chromium 73.0.3683.56"
QA tests:

Check branding items
Check for version bump

[2019-03-06 05:02] btlechowski commented on #3177
Verification passed on

Brave | 0.62.17 Chromium: 73.0.3683.39 (Official Build) dev (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1721

![image](https://user-images.githubusercontent.com/34715963/53857092-39187980-3fd5-11e9-98fe-25376cdca

[2019-03-06 05:29] da2x opened #3595 "Auto-contribution contributed 11 BAT instead of 85 BAT"
Version 0.60.47 Chromium: 72.0.3626.119 (Official Build) (64-bit)

My budget was 85 BAT and I had 85 BAT in my wallet. Auto-contribution for March was just committed as 11 BAT leaving 74 BAT in my wallet. This is with auto-contribution only with no tips. So … 11 BAT shouldn’t even have been an option.

<img width="415" alt="11bat" src="https://user-images.githubusercontent.com/1102886/53858103-053

[2019-03-06 05:37] da2x commented on #3595
I just checked on my laptop, and it's 50 BAT budget (75 BAT wallet) was ignored and 4.5 BAT was contributed instead.

[2019-03-06 05:55] #2997 closed

[2019-03-06 05:55] #3046 closed

[2019-03-06 05:55] #3440 closed

[2019-03-06 06:21] NejcZdovc commented on #3595
@da2x what does it say in your rewards summary? Is there pending section?

[2019-03-06 06:47] NejcZdovc commented on #3039
@mouradski did you just verified your site or was verified for few days now?

[2019-03-06 06:59] bsclifton commented on #1209
@srirambv do you think this is covered with your script?
https://github.com/brave/qa-resources/blob/master/changelog.py

[2019-03-06 07:17] NejcZdovc opened #3597 "New disabled state"
Current implementation:
![image](https://user-images.githubusercontent.com/9574457/53862641-4a1eb600-3fe8-11e9-8b39-e89909ee9be6.png)

New design
![image](https://user-images.githubusercontent.com/9574457/53862653-50ad2d80-3fe8-11e9-9eae-9ed765201907.png)

[2019-03-06 07:38] ryanml opened #3598 "RewardsDOMHandler needs method to get rewards enabled status"
Related issued: https://github.com/brave/browser-android-tabs/issues/1232

We just need to add a method to `brave_rewards` so that the enabled status of Rewards can be fetched from the rewards settings page

[2019-03-06 07:46] #3598 closed

[2019-03-06 07:57] dayfuaim commented on #3471
@kjozwiak, I already have Chrome Beta, so that's that:
![2019-03-06 10 53 35](https://user-images.githubusercontent.com/1274699/53864733-485fed00-3ffe-11e9-8b07-58d1dbbe1732.png)
As it can be seen, there's no graphics bug (HW Acceleration is either **ON** or **OFF**).

[2019-03-06 07:59] mouradski commented on #3039
@NejcZdovc about 3 days ago, but i tested other sites like vice.com with same issue

my site : https://www.2giga.link, as you can see it's verified under windows

[2019-03-06 08:03] NejcZdovc commented on #3039
I see it as verified on macOS. This is not platform specific. It's how up to date is your publisher_list. Will checkout logic again, maybe there is something more to it. Thank you for the report

[2019-03-06 08:37] mouradski commented on #3039
thanx @NejcZdovc for your work

i added a screen

http://prntscr.com/mtxuo0

[2019-03-06 08:55] NejcZdovc commented on #1192
blocked on https://github.com/brave/brave-browser/issues/926

[2019-03-06 09:01] mihaiplesa commented on #2786
We're running `test-security` for all public builds including `release` channel.

[2019-03-06 09:48] GeetaSarvadnya commented on #3575
The issue is reproducible in both `White` and `Dark` Theme

Brave | 0.61.46 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Linux

[2019-03-06 10:36] DarkDibblez commented on #2407
+1

[2019-03-06 11:21] #3526 closed

[2019-03-06 11:37] tmancey opened #3599 "Migrate bat-native-ads to brave-core"

[2019-03-06 12:00] AlexeyBarabash commented on #2817
Closed with https://github.com/brave/brave-core/pull/1125 .

[2019-03-06 12:00] #2817 closed

[2019-03-06 12:15] srirambv commented on #3222
Still reproducible on Beta `0.61.47`

[2019-03-06 12:19] AlexeyBarabash commented on #3234
Cannot reproduce with Android 1.0.84-rc2 and brave-core linux 0.60.x ... 0.63.x .

[2019-03-06 14:31] #3594 closed

[2019-03-06 14:44] #3599 closed

[2019-03-06 15:36] srirambv commented on #3454
Reproduced the issue on Beta `0.61.47`. Loading the page and scrolling down it causes it to be freeze

[2019-03-06 15:49] #3591 closed

[2019-03-06 16:07] srirambv commented on #3562
Verification passed on

Brave | 0.61.47 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Linux

* Verified the steps from original issue

[2019-03-06 16:36] srirambv commented on #1209
@bsclifton that script would just grab the issue titles and categorize it based on features. But wont be the polished version of it which @kjozwiak and @rebron  do it manually. If we are ok with just having the crude issue titles this script should do it

[2019-03-06 16:43] da2x commented on #3595
I just checked my laptop again (the machine that contributed 4.5 BAT last night) and this morning it contributed another 9 BAT. I'm confident that the next contribution time was set to sometime in early April after the 4.5 BAT was contributed last night. So there is definitely something wrong. The reward summary for this machine now shows one contribution of -9 BAT. The wallet shows 61.5
 BAT (whi

[2019-03-06 16:47] btlechowski opened #3602 "cbsnews.com videos not playing - follow up to #3562"
Follow up to https://github.com/brave/brave-browser/issues/3562

Important: Very likely this issue is only reproducible in certain regions(Europe - gdpr)

## Steps to Reproduce

1. Clean install
2. Open `https://www.cbsnews.com/news/bernie-sanders-rally-live-stream-vermont-senator-holds-brooklyn-campaign-event-today-2019-03-02/`
3. Play the video

## Actual result:

Unable to play the video

Note:

[2019-03-06 16:54] NejcZdovc commented on #3595
@da2x can you pleas print screen your summary panel?

[2019-03-06 17:23] GeetaSarvadnya commented on #3602
Unable to reproduce the issue on Windows `10 x64- 0.61.47`. Able to play videos.

![3602](https://user-images.githubusercontent.com/38657976/53900429-84c53480-4062-11e9-9603-2b1a4c3514d3.gif)

[2019-03-06 17:40] rebron commented on #3569
Closing, released March 6 ~9:30am.

[2019-03-06 17:40] #3569 closed

[2019-03-06 17:49] #2688 closed

[2019-03-06 18:00] jumde opened #3603 "[hackerone] #505764 - Tor NTLM leak"
https://hackerone.com/bugs?report_id=505764

[2019-03-06 18:16] da2x commented on #3595
@NejcZdovc
![screenshot](https://user-images.githubusercontent.com/1102886/53903598-60f2f600-4044-11e9-90ea-11954249c248.png)

[2019-03-06 18:25] btlechowski commented on #3602
Reproduced on Linux (Ubuntu 17.10) and Windows 10 x64

Brave | 0.61.47 Chromium: 73.0.3683.39 (Official Build) beta(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Linux

It could be as issue related to gdpr or video ads.  This is the console log:
![image](https://user-images.githubusercontent.com/34715963/53904012-5d13a380-4045-11e9-9af1-0e49

[2019-03-06 18:32] tomlowenthal opened #3606 "Potential Tor leak [H1 #505764]"
https://hackerone.com/reports/505764

In some cases, a Windows system configuration can cause a Brave user in private windows to be deanonymized to a specific set of configured servers. We should disable the Chromium support for this Windows configuration within incognito and guest sessions.

[2019-03-06 19:16] diracdeltas commented on #3606
dupe of #3603

[2019-03-06 19:16] #3606 closed

[2019-03-06 19:17] Brave-Matt opened #7511 "Feature/Suggestion: Option to move UI/Address bar to bottom of screen"
## Description
This is an updated consolidated issue for the "Bottom address bar" feature commonly requested by mobile users (#54, brave/brave-browser#7356).

**Reasoning**: Users should be offered this option for several reasons - the main one being the high variability of device types and screen sizes that a user may be browsing on. Having the same uniform layout across all devices works, but is

[2019-03-06 19:22] #3588 closed

[2019-03-06 19:29] #3564 closed

[2019-03-06 19:37] kjozwiak commented on #3558
Bumping CR https://github.com/brave/brave-browser/issues/3594. Will retest once we get new builds.

[2019-03-06 20:05] mkarolin commented on #3222
Just tried:
1. Built `0.61.47` on Linux (Mint 19): cannot repro.
2. Installed `0.61.43` on Linux (Mint 19) via `apt install`: cannot repro.

Not sure what's different about @srirambv's environment.

[2019-03-06 20:16] #3499 closed

[2019-03-06 20:39] evanstucker-hates-2fa commented on #720
https://www.zdnet.com/article/firefox-to-add-tor-browser-anti-fingerprinting-technique-called-letterboxing/

[2019-03-06 20:39] drobinhood opened #3607 "Issue with Gatsby.js website : Brave browser blocks chunks with analytics/google-analytics in their name"
## Description
Won't open this webpage if guard is enabled: https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/?=google%20analytics

Seems to be an issue with how Brave handles chunks of data that reference google analytics in the body.

## Steps to Reproduce
1. Enable guard in Brave browser
2. Browse to https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/?=google%20anal

[2019-03-06 21:14] tomlowenthal commented on #3581
This is the intended behavior.

[2019-03-06 21:14] #3581 closed

[2019-03-06 21:28] mkarolin opened #3608 "Upgrade from Chromium 73.0.3683.56 to Chromium 73.0.3683.67"
QA tests:

Check branding items
Check for version bump

[2019-03-06 21:40] btlechowski commented on #3476
Verification passed on

Brave | 0.61.47 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from the description.
Encountered https://github.com/brave/brave-browser/issues/3551 while testing.

[2019-03-06 21:46] bbondy commented on #3602
@btlechowski can you reproduce the same with Chrome+uBlock?

[2019-03-06 21:47] Brave-Matt commented on #2763
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/ax75ap/youtube_ads_unskippable/

[2019-03-06 21:49] bbondy opened #3609 "Automate the process for Chromium minor bumps"
It'd be nice to have a Jenkins job (which might have a chance to fail when run) that would do the process @mkarolin and I have done for doing minor Chromium upgrades.  It would then do a couple PRs automatically.

We'd just run a jenkins job when we seen that Chrome does this.
We see at least a few of these on each major version so this would be a big time saver.

[2019-03-06 21:55] srirambv commented on #2948
Unable to reproduce the issue when launching via command prompt. Closing as fixed.

[2019-03-06 21:55] #2948 closed

[2019-03-06 22:13] btlechowski opened #3610 "Brave Rewards Panel include in a-c switch is not updated after restoring the site through rewards settings page"
Follow up to https://github.com/brave/brave-browser/issues/3480

## Steps to Reproduce

   1. Enable Rewards
   2. Open `duckduckgo.com` and add it to a-c table
   3. Open `brave://rewards/` in another window (place the windows side by side)
   4. Show the Brave Rewards Panel on `duckduckgo.com`
   5. Exclude `duckduckgo.com` from a-c through `brave://rewards/`
   6. Restore `duckduckgo.com` to a-

[2019-03-06 22:17] btlechowski commented on #3480
Verification passed on

Brave | 0.61.47 Chromium: 73.0.3683.39 (Official Build) beta (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Windows 7 Service Pack 1 Build 7601.24312

Used test plan from https://github.com/brave/brave-core/pull/1782
Used test plan from the description.

Including and excluding sites through Brave Panel works without

[2019-03-06 22:19] LaurenWags opened #7766 "custom tipping banners not displayed"
## Description
When I go to a site that is verified on staging with a custom tip banner, the custom banner is not displayed when I go to tip the site.

## Steps to Reproduce

   1. Navigate to a site like kjozwiakstaging.github.io using 1.0.85.
   2. Open panel, you can see that the site is verified on the panel.
   3. Tap on Send a Tip

## Actual result:
Custom tip banner is not displayed:
![tipb

[2019-03-06 22:24] rebron opened #3611 "Bloomberg Live tv doesn't play with shields up"
## Description
https://www.bloomberg.com/live
Videos don't play with shields up.

(Autoplay block notification also shows but doesn't affect playing videos. Videos not working because of autoplay may be intermittent and dependent on whether ads are inserted, in which case videos won't play).

## Steps to Reproduce

   1. Go to https://www.bloomberg.com/live
   2. Click play icon
   3. Notice video

[2019-03-06 22:25] Brave-Matt commented on #815
+1 from Reddit:
https://www.reddit.com/r/brave_browser/comments/ay4uau/chrome_devtools_lighthouse_doesnt_work/

[2019-03-06 23:22] #3608 closed

[2019-03-07 00:24] kjozwiak commented on #3222
@mkarolin I managed to reproduce it on the following platforms/machines:

* ` Mint 19.1 x64 VM` (fully updated) - **Reproduced**
* `Mint 19.1 x64` (physical machine that's fully updated) - **Reproduced**
* `Ubuntu 18.04.2 LTS VM` (fully updated) -  **Reproduced**

Example of the issue occurring:

<img width="1461" alt="screen shot 2019-03-06 at 6 40 05 pm" src="https://user-images.githubuserconten

[2019-03-07 00:30] mkarolin commented on #3222
@kjozwiak, how are you installing on Mint? I want to make sure I am trying with the same installer.

[2019-03-07 00:52] kjozwiak commented on #3222
Downloaded https://github.com/brave/brave-browser/releases/download/untagged-f443043f888f18aa62a5/brave-browser-beta_0.61.47_amd64.deb and basically did the following:

*`sudo dpkg -i Download/brave-browser-beta_0.61.47_amd64.deb`
* once installed, launch via terminal using `brave-browser-beta`

Also tried launching via the shortcut and got the same results:

<img width="397" alt="screen shot 2019

[2019-03-07 03:07] kjozwiak commented on #1886
@brave/legacy_qa now that https://github.com/brave/brave-core/pull/1867 has landed, we'll need to go through this issue with the latest `0.62.x` build and verify that it's working and didn't cause any other obvious regressions. If things are looking good, we'll uplift to `0.61.x` as per the discussion on the b-c triage meeting earlier in the week.

[2019-03-07 03:15] kjozwiak commented on #3471
Thanks for double checking @dayfuaim 👍 Hopefully someone form the dev team can take a look at the `brave://gpu` information you added above and figure out why this is happening on Brave and not under Chrome BETA. We're updating CR from `73.0.3683.39` to `73.0.3683.67` in the next build but I doubt that will fix the problem.

[2019-03-07 03:26] kjozwiak commented on #3576
Reproducible on `macOS 10.14.3 x64` using the following build:

Brave | 0.62.16 Chromium: 73.0.3683.39 (Official Build) dev(64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{#413}
OS | Mac OS X

[2019-03-07 03:34] kjozwiak commented on #3474
Changing this as a `P2` so it's the same as #884. We can decide if we want to close this one or #884 off. We should probably fix this sooner than later as most banking/government websites usually generate their PDFs when needed.

[2019-03-07 03:47] kjozwiak commented on #3408
@ryanml we just released `0.60.48` today which bumped the CR from `72.0.3626.119` to `72.0.3626.121`. Was there any work that needed to go into that build that's related to this? Or did `0.60.48` just need a recheck?

[2019-03-07 03:48] ryanml commented on #3408
@kjozwiak `0.60.48` should just need a recheck

[2019-03-07 03:56] kjozwiak commented on #3408
@RyanJarv sounds good 👍 I'll give this a check tomorrow. @LaurenWags mind giving this another recheck on `0.60.48` as well?

[2019-03-07 04:23] jumde opened #3615 "go-updater fails to handle single update request for multiple components"
## Description
Go-updater fails to handle single update request with Google and Brave components. We need to handle this so updates to CRLSets are handled correctly.

[2019-03-07 05:16] kjozwiak opened #3616 "rewards and brave icon disappearing from URL when pasting/adding text and moving away from URL"
## Description

When you paste or type something into the omnibox/URL bar, the Rewards/Shield icons will disappear which is expected as the drop down from the omnibox/URL will appear. However, if you click away from the omnibox/URL bar and continue browsing, the text will stay in the omnibox/URL and the Rewards/Shield icons will stay hidden.

**Note: This is also reproducible in Chrome so not sure

[2019-03-07 05:19] kjozwiak commented on #2834
@jumde is there anything that QA can do here or should we make this `QA/No`?

[2019-03-07 05:20] #3543 closed

[2019-03-07 05:29] kjozwiak commented on #3543
Went through the crash report cases, seems like it's working:

• launched `0.61.47 Chromium: 73.0.3683.39`
• loaded `brave://crash`, went into `brave://crashes` and submitted the report
• restarted the browser, grabbed `Uploaded Crash Report ID 9cae0fe96c70f43f ` and search for the ID on stats

Found the following:

https://stats.brave.com/dashboard#crash/5c80abbc76056c001f969000

[2019-03-07 05:32] kjozwiak commented on #3542
Thanks for running through these @LaurenWags 👍 I'll close this off. We'll need to generate new ones as we're bumping CR to `73.0.3683.67`

[2019-03-07 05:32] #3542 closed

[2019-03-07 05:40] kjozwiak commented on #3594
QA will go through https://github.com/brave/brave-browser/pull/3614 which bumps the CR to `73.0.3683.67`.

[2019-03-07 05:42] kjozwiak commented on #3393
@jasonrsadler if you have the time, it would be really helpful if you can see if your case is still reproducible using the latest `0.61.x`.

[2019-03-07 05:51] NejcZdovc commented on #3610
closing this as dupe as it was fixed in 0.63 with https://github.com/brave/brave-browser/issues/3497

[2019-03-07 05:51] #3610 closed

[2019-03-07 05:59] NejcZdovc commented on #3595
@da2x thank you for the print screen. When doing contribution you can only contribute to verified publishers. If you have unverified publishers in the table that publishers will go into pending contributions. So what happened in your case was that you contributed 11 BAT (this is amount that represented verified publishers), 74 BAT went into pending contributions as you can see on the image.

![539

[2019-03-07 07:13] scrobbleme commented on #3581
@tomlowenthal Ah okay, but what is then the intended behaviour of pinned tabs then anyway?
Just "only show an icon instead icon + name"? (I see this is Chrome default behavior)

As a feature request: a configuration for this behavior would be nice.

(Okay, I'm quite spoiled with the many subtle features Opera has compared to other browser ...)

[2019-03-07 07:14] da2x commented on #3595
@NejcZdovc No, that isn’t right. My wallet balance was 85 BAT, 11 was contributed, and now my wallet balance is at 74 BAT.

[2019-03-07 08:26] #3510 closed

[2019-03-07 08:26] #3524 closed

[2019-03-07 08:28] NejcZdovc commented on #3595
@da2x that looks good to me. Pending contributions are not reduced from balance/wallet until they are actually processed. They will be processed when publisher becomes verified.

[2019-03-07 08:51] chama-chomo commented on #464
I must say Brave browser got my attention and I'm ready to switch. The only thing that is keeping me back is missing option for vertical tabs, which is these days 'must have' feature for many.

[2019-03-07 08:56] danielfranca commented on #464
Chrome doesn't have vertical tabs (except for hacks/extensions that work far from ideal) and it is quite popular

[2019-03-07 09:07] NejcZdovc commented on #3339
currently blocked on new settings dialog for rewards

[2019-03-07 09:09] NejcZdovc commented on #3423
@brave/legacy_qa can you please test this one on the latest nightly (0.63) or dev when we migrate today? Thank you

[2019-03-07 09:10] #3141 closed

[2019-03-07 09:12] NejcZdovc commented on #3416
closing as dupe of https://github.com/brave/brave-browser/issues/3440

[2019-03-07 09:12] #3416 closed

[2019-03-07 09:14] NejcZdovc commented on #3409
fixed with https://github.com/brave/brave-browser/issues/3497

[2019-03-07 09:23] NejcZdovc commented on #3264
this one was fixed with https://github.com/brave/brave-core/pull/1803

[2019-03-07 09:23] #3264 closed

[2019-03-07 09:32] NejcZdovc commented on #3345
tried this on the latest 0.63 and can't reproduce it. Will close it. If you can still reproduce it on the latest 0.63 please re-open it.

[2019-03-07 09:32] #3345 closed

[2019-03-07 09:37] NejcZdovc commented on #3040
I checked and https://www.youtube.com/channel/UCqK_cgbk6Hxmw0aAN8BC1og is not verified. So this is expected. Closing for now. @srirambv if you find this still a problem please reopen and provide new url where I can test embedded video with verified publisher. Thank you

[2019-03-07 09:37] #3040 closed

[2019-03-07 09:48] NejcZdovc commented on #1450
closing as this is not possible anymore. If you click on rewards item in the menu in private window, you are redirected to regular window

[2019-03-07 09:48] #1450 closed

[2019-03-07 09:58] #3483 closed

[2019-03-07 09:58] #3487 closed

[2019-03-07 09:58] #3218 closed

[2019-03-07 09:58] mrzealot commented on #3611
This is due to the blocking of Google's IMA script (again), allowing ads solves it in the meantime. It also manifests an autoplay refusal when the video does manage to load, which might merit a manual exception.

[2019-03-07 10:19] NejcZdovc commented on #3382
closing this one as I think nothing can be done here

[2019-03-07 10:19] #3382 closed

[2019-03-07 10:22] NejcZdovc commented on #3353
closing this one as on 0.63 we don't show rewards icon in tor window

[2019-03-07 10:22] #3353 closed

[2019-03-07 10:59] #3309 closed

[2019-03-07 11:49] srirambv commented on #2870
Unable to reproduce the issue when launching via command prompt. Closing as fixed.

[2019-03-07 11:49] #2870 closed

[2019-03-07 12:08] srirambv opened #3617 "CentOS reports missing public signing key"
## Description

Previously reported on another issue as well but got closed https://github.com/brave/brave-browser/issues/2506#issuecomment-450567690. CentOS fails to read the signing key

## Steps to Reproduce

   1. Follow steps from https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux on CentOS
   2. Complains about missing public key
   3.

## Actual result:

![image](htt

[2019-03-07 12:38] srirambv commented on #3616
Might be conflicting with behaviour on #1097

[2019-03-07 13:17] mightypenguin commented on #3212
I've seen this for at least 3-4 months. In my case I restored my wallet from my existing MUON version of brave to the Chromium based one. My problems only started happening after converting to the Chromium browser. (also on Mac High Sierra) I am often online behind a restrictive firewall. Not sure if that would make a difference.

[2019-03-07 13:37] srirambv commented on #3040
@NejcZdovc even if the publisher isn't verified, shouldn't it show default YT favicon and not generic page icon?

[2019-03-07 14:04] GeetaSarvadnya commented on #3551
The issue is reproduced on Linux mint - `0.61.48`

![exclude issue](https://user-images.githubusercontent.com/38657976/53961969-ebecf280-410f-11e9-9544-8779a1cd0151.gif)

[2019-03-07 14:14] btlechowski commented on #3602
Not reproducible with uBlock 1.18.4 on

Google Chrome | 72.0.3626.121 (Official Build) (64-bit) (cohort: Stable)
-- | --
Revision | da3787ba355f18db7db52abf75c42afb408d656f-refs/branch-heads/3626@{#883}
OS | Windows

![image](https://user-images.githubusercontent.com/34715963/53962534-9999da80-40eb-11e9-8671-d88caf0ca100.png)

[2019-03-07 14:45] SilverPuppy commented on #3474
Personally I suggest closing this one as the duplicate since the other thread came first and is more specific about the problem.

[2019-03-07 14:46] AlexeyBarabash commented on #955
Not sure, should it be here or be in a separate issue, but I see the overlapped controls on brave://bookmarks page

![image](https://user-images.githubusercontent.com/24739341/53964577-47ab8180-40f8-11e9-9a83-bfdee7e98a40.png)

Nightly master, Linux

Brave | 0.63.0 Chromium: 73.0.3683.39 (Developer Build) (64-bit)
-- | --
Revision | cc53b0e12fcaf42e4bab8d6c23bd4fb7aae99f6c-refs/branch-heads/3683@{

[2019-03-07 14:59] dragGH102 opened #3618 "speechSyntesis API not supported?"
I found an extension I really need ( https://chrome.google.com/webstore/detail/speech-recognition-anywhe/kdnnmhpmcakdilnofmllgcigkibjonof ) but looks like it's not going to work in Brave due to lack of support for `speechSyntesis` which seems to be supported by Chromium but not Brave.

Is that correct? If yes, why?
I truly believe speech-to-text API support is necessary in a modern browser, taking

[2019-03-07 15:01] da2x commented on #3595
So i can double spent from the wallet? Or aren't the funds being reserved? This is extremely poorly communicated.

[2019-03-07 15:11] tomlowenthal commented on #3581
We don't do anything different from Chromium.

[2019-03-07 15:20] mkarolin commented on #3222
@kjozwiak tried with that installer and still no luck reproducing on my Mint.
Are you testing with an existing or a fresh profile?

[2019-03-07 15:41] kjozwiak commented on #3222
It's always a new profile on the VM. I have a VM snapshot that's basically a clean installation which I always restore and install via the `deb` file.

Is there any dependencies that Brave might need? Maybe that's the issue? But I think the `deb` file would warn you if you were missing dependencies before installing?

[2019-03-07 15:43] NejcZdovc commented on #3040
it will show yt icon when you visit youtube page. Until you visit youtube, we don't have yt favicon

[2019-03-07 15:44] kjozwiak commented on #3558
Bumping CR again via https://github.com/brave/brave-browser/issues/3608. Will retest when we get new builds which includes `73.0.3683.67`.

[2019-03-07 15:46] srirambv commented on #3544
Looks good

[2019-03-07 15:46] #3544 closed

[2019-03-07 15:54] kjozwiak commented on #3382
@NejcZdovc assuming this was related to a server side issue?

[2019-03-07 15:57] NejcZdovc commented on #3382
correct, it looks like server error

[2019-03-07 16:14] kjozwiak commented on #3608
Currently the latest build is `0.61.48 Chromium: 73.0.3683.56`, we'll need a new one that includes `73.0.3683.67`. Going to ask DevOps to start another `0.61.x` when possible.

[2019-03-07 16:25] LaurenWags commented on #3408
Verified passed with

Brave | 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)
-- | --
Revision | da3787ba355f18db7db52abf75c42afb408d656f-refs/branch-heads/3626@{#883}
OS | Mac OS X

- Verified launching with `/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --enable-logging=stderr --vmodule=brave_ads=3 --log-level=0`, enabling Rewards, and browsing did not show any `AdServ

[2019-03-07 16:45] bsclifton commented on #3463
Moving to 0.62.x since it was uplifted using https://github.com/brave/brave-core/pull/1867

[2019-03-07 16:49] GeetaSarvadnya commented on #3481
Verification passed on

rave | 0.61.48 Chromium: 73.0.3683.56 (Official Build) beta (64-bit)
-- | --
Revision | 303af44e2f2948869279f120021c778855d76ead-refs/branch-heads/3683@{#653}
OS | Windows 10 OS Build 17134.523

- Verified the STR mentioned in the description

[2019-03-07 16:54] mandar-brave commented on #3339
@jenn-rhim can we get this prioritized for @NejcZdovc from a design perspective.
I think you have an idea where to place the setting to get a manual refresh done for the Publisher list.

[2019-03-07 17:09] kjozwiak commented on #1886
Verification **PASSED** on `macOS 10.14.3 x64` using the following build:

Brave | 0.62.24 Chromium: 73.0.3683.56 (Official Build) dev(64-bit)
-- | --
Revision | 303af44e2f2948869279f120021c778855d76ead-refs/branch-heads/3683@{#653}
OS | Mac OS X

* Went through the test cases outlined under https://github.com/brave/brave-core/pull/1703

[2019-03-07 17:21] bbondy commented on #3602
you can repro with a fresh brave profile too?

[2019-03-07 17:37] GeetaSarvadnya commented on #3494
Verification passed on

Brave | 0.61.48 Chromium: 73.0.3683.56 (Official Build) beta (64-bit)
-- | --
Revision | 303af44e2f2948869279f120021c778855d76ead-refs/branch-heads/3683@{#653}
OS | Windows 10 OS Build 17134.523

- Verified the test plan from https://github.com/brave/brave-core/pull/1789
- Verified the STR mentioned in the description

![image](https://user-images.githubusercontent.com/3865

[2019-03-07 17:50] RudyMas commented on #3212
Same for me. It's happening since I also restored my wallet in the Chromium based Brave browser. Although, tipping seems to be working. (I have sent a friend of mine some BAT for his website and he will tell me if he receives it this month. It had been deducted from my saldo.)

[2019-03-07 18:01] stodge commented on #3563
It happened again, which is a pain as I don't want to reboot right now.

[2019-03-07 18:03] bsclifton commented on #3575
If/when we have a fix for this, we'll want to make extra sure the fix works really well (especially if uplifting).  There have been two rounds of fixes which were approved but ultimately didn't fix the problem:
- https://github.com/brave/brave-core/pull/1091
- https://github.com/brave/brave-core/pull/1680

[2019-03-07 18:32] corymcdonald commented on #3558
Is this the same issue as #1875?

[2019-03-07 18:57] rossmoody commented on #3575
Additionally, if the effort is put in we should investigate this solve: https://github.com/brave/brave-core/pull/1680#issuecomment-464131317

[2019-03-07 19:10] gueorgui opened #3620 "Copy issue in dialog confirming adding an extension from the Chrome Web Store"
## Description
When adding an extension from the Chrome Web Store, the extension name in the confirmation dialog is corrupted. Instead of being `Extension Name`, it's instead `Extension NameExtension NameGmail Checker`.

## Steps to Reproduce

   1. Navigate to an extension's page in the Chrome Web Site (ex: [Notion](https://chrome.google.com/webstore/detail/notion-web-clipper/knheggckgoiihginacbk

[2019-03-07 19:22] tomlowenthal commented on #3593
I think Firefox is going to return true in all versions of Firefox which support the API at all — meaning that the API shouldn't expose entropy not already encoded in the version number too.

[2019-03-07 19:23] snyderp commented on #3593
Yea, agreed, there was some misunderstanding on the thread (my misunderstanding of what the FF folks said).  Seems like this wouldn't get anyone more information than UA.  I'm fine closing

[2019-03-07 19:23] #3593 closed

[2019-03-07 19:29] Liunkae commented on #1289
This is partially done. As of 0.62.24 dev, the system UI now matches the macOS theme appearance. This is a great improvement if your macOS and Brave theme settings match. In dark mode (macOS and Brave):

![](https://user-images.githubusercontent.com/19424103/53983201-5126f080-40dc-11e9-80a3-45e47ee5cf64.png)
![](https://user-images.githubusercontent.com/19424103/53983223-5b48ef00-40dc-11e9-9067-6b

[2019-03-07 20:27] ryanml opened #3621 "Rewards need a string for 'BAT'"
This is needed for Android change here: https://github.com/brave/brave-ui/pull/411/files#diff-426b14bff01edf742b02d93dd9e5dcf9R72

We do already have this string (https://github.com/brave/brave-core/blob/master/browser/ui/webui/brave_webui_source.cc#L537) but it is under the donate namespace, so we need one to use in Rewards as well

[2019-03-07 20:33] kjozwiak opened #3622 "Manual test run on OS X for 0.61.x - Release Candidate"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-03-07 20:34] tomlowenthal opened #3623 "Allow totally enabling autoplay"
Right now, autoplay can be blocked or allowed one-at-a-time. We should add a state for always allowed — beyond just adding a wildcard entry to the list.

[2019-03-07 20:47] #3621 closed

[2019-03-07 20:57] LaurenWags commented on #3212
@mightypenguin @RudyMas can you both go to brave://settings/help and confirm your Brave version for me?

[2019-03-07 20:58] skst commented on #3082
This issue still happens for me when I have _All cookies allowed_ set or Brave Shields are down. Same symptoms: I sign in to Outlook.com then go to Bing.com. When I click "Sign in," the page refreshes, but it still shows "Sign in" instead of my profile (and does not award my Bing Rewards points to my account).

[code]

I've only started using Brave recently, so I'm not very familiar with it. Maybe

[2019-03-07 21:22] LaurenWags opened #3624 "add personaId, userId, bootStamp to rewards internal page"
## Description
While troubleshooting an issue, @NejcZdovc mentioned we should add
personaId
userId
bootStamp
to the new rewards internal page as this can help with troubleshooting issues.

## Steps to Reproduce

   1. Navigate to rewards internal page
   2. personaId, userId, bootStamp should be listed.
   3. Verify values displayed match what is in ledger_state file.

[2019-03-07 21:34] bsclifton opened #3625 "Important data was somehow removed from ledger_state"
## Description
When troubleshooting a reconciliation with @NejcZdovc, we noticed that key fields in my `ledger_state` were missing.

Here is a sanitized version of that file:
[code]

Notice that:
- `bootStamp` is 0
- `personaId` is empty
- `userId` is empty

## Steps to Reproduce
Unknown

## Brave version (brave://version info)
0.62.24 (DEV), but I also had the problem in 0.61.48 (BETA)

### Repro

[2019-03-07 21:37] kjozwiak opened #3626 "Manual test run on Windows for 0.61.x - Release Candidate"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-03-07 21:39] kjozwiak opened #3627 "Manual test run on Linux for 0.61.x - Release Candidate"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-03-07 22:19] milos12345 commented on #464
If Google made a tab-less browser it would still be popular. 99.999% of people have not even heard of Brave so it needs differentiation from 100 other browsers out there, and also a good reason for professionals to switch. That beings said, Vivaldy has them but it is still not very popular. Vertical Tabs is one of those things that once you start using, there is no going back. Honestly, the only r

[2019-03-07 22:25] bridiver commented on #3570
@NejcZdovc why would advertiser sites ever be included in the first place? I don't want to autocontribute to Ford no matter how many times I visit their site. It just doesn't make sense.

[2019-03-07 23:04] srirambv opened #3628 "Time out sync reset if device is offline"
## Description

Time out sync reset if device is offline

## Steps to Reproduce

   1. Create sync chain on desktop with another device
   2. Disconnect device from network
   3. Try to delete the device from sync chain, keeps showing the remove device modal, laptop engines start revving up at 3000 RPM and is ready to take off

## Actual result:

Device never gets removed from sync chain if device

[2019-03-07 23:10] alexandersjosten commented on #1308
Alright, great. I'll have a look then.

[2019-03-07 23:46] Liunkae commented on #2710
Helpful information from Community: https://community.brave.com/t/why-importing-mac-safari-bookmarks-isnt-working/47521

[2019-03-08 00:00] simonhong opened #3629 "Guest window doesn't use private window theme"
Below screen shot is in the order of guest window, tor window and private window.
Only guest window does not use private window theme.
Guest window also uses private profile like other windows.

<img width="1369" alt="screen shot 2019-03-08 at 08 50 11" src="https://user-images.githubusercontent.com/6786187/53997571-08c10e80-4180-11e9-93b7-a8adc9773ec8.png">

[2019-03-08 00:00] simonhong commented on #3629
@kjozwiak @rebron Is this intended or bug?

[2019-03-08 00:10] SupremeTechnopriest commented on #3366
Im seeing this same issue in Chrome ` 72.0.3626.121 (Official Build) (64-bit)`.  Im thinking its a chromium bug.  Can't reproduce in firefox.

[2019-03-08 00:40] kjozwiak commented on #3608
Verification **PASSED** on `macOS 10.14.3 x64` using the following build:

Brave | 0.61.49 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Mac OS X

[2019-03-08 00:56] kjozwiak commented on #3558
Most likely related. Attempted to go through the case mentioned in #1875 and receiving an `Operation Cancelled` right off the bat. Looking into the console, I see the following:

[code]

Example of https://demo.yubico.com/webauthn/ under Brave:

<img width="933" alt="screen shot 2019-03-07 at 7 53 56 pm" src="https://user-images.githubusercontent.com/2602313/53999794-cdd4c180-4112-11e9-956f-2a4661

[2019-03-08 03:36] #3558 closed

[2019-03-08 03:36] #1875 closed

[2019-03-08 04:05] btlechowski opened #3630 "handling of webrtc fingerprinting changed"
Found when testing https://github.com/brave/brave-browser/issues/3626
Handling of webrtc blocking changed from 0.60.x. Not sure if this is expected.
webrtc blocking is now more aggressive.

## Steps to Reproduce

   1. Clean profile
   2. Open https://diafygi.github.io/webrtc-ips/

## Actual result:

From 0.61.49
![image](https://user-images.githubusercontent.com/34715963/54006837-4eb9aa80-415f-11

[2019-03-08 04:30] kjozwiak commented on #3630
Reproduced on `macOS 10.14.3 x64` using the following build:

Brave | 0.61.49 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Mac OS X

[2019-03-08 04:33] cezaraugusto commented on #2371
cc @karenkliu agree on this?

[2019-03-08 04:36] cezaraugusto commented on #199
ping @tomlowenthal @karenkliu

[2019-03-08 05:09] jumde commented on #3630
Behavior is same on chrome and chrome canary.

[2019-03-08 05:14] btlechowski commented on #3626
Logged https://github.com/brave/brave-browser/issues/3630
Otherwise LGTM.

Brave | 0.61.49 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Windows 7 Service Pack 1 Build 7601.24312

[2019-03-08 05:14] #3626 closed

[2019-03-08 05:42] NejcZdovc commented on #3570
@bridiver we don't want that, but currently don't have a way (afaik) to tell which page/tab is ads page and which one is normal one

[2019-03-08 06:26] thepcwiz101 commented on #3160
Update 3: After i got an update for windows 10 a few days ago these issues are well less noticeable even on google chrome. Reinstalling brave yields an even higher boost of performance. I still get about:gpu errors however.

[2019-03-08 06:48] petemill opened #3631 "Reduce patching for webui polymer component behavior injection"
Follow-up from https://github.com/brave/brave-core/pull/1213 as requested by @bridiver - this new technique for minimizing patching (adding a Polymer brave behavior to a chromium component) is great, but it means 2 lines of patching for every modified component. Instead we can create create a single patch that contains a map of all component modifications.

[2019-03-08 07:08] iZero7 commented on #1475
just fcking delete it, no one asked for it

[2019-03-08 07:39] hieupm37 commented on #2051
This will help: https://bugs.chromium.org/p/chromium/issues/detail?id=780980

[2019-03-08 07:59] kjozwiak opened #3632 "new settings menu reloads when switching categories"
## Description

When navigating the new preference, the new bar at the top will basically disappear and reload every single time. The new implemented settings menu should always be displayed. The only changes is the indicating UI that tells you which sections you're in. Right now, the entire page is being loaded.

## Steps to Reproduce

   1. using `0.63.1 Chromium: 73.0.3683.67`, open `brave://se

[2019-03-08 09:13] Sparsa commented on #1024
An progress in this regard?

[2019-03-08 12:34] srirambv opened #3633 "Focus ring on buttons looks odd"
## Description

Focus ring on buttons look odd

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/54028800-4029be00-4174-11e9-9ed9-81c97beca52a.png)

## Expected result:
No orange rectangular border  should be shown around the button

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 0.63.1 Chromium: 73.0.3683.67 (Official Build) dev (64-

[2019-03-08 12:47] srirambv opened #3634 "Page switch should have a smoother transition"
## Description

Page switch should have a smoother transition. Currently switching makes it look like a hard reload

## Actual result:

![pageswitch](https://user-images.githubusercontent.com/17010094/54029395-3c973680-4176-11e9-9caf-75d43a37cf0d.gif)

## Expected result:
Smoother transition when loading settings pages in the same webview

## Reproduces how often:

Easy

## Brave version (brave://

[2019-03-08 12:52] srirambv commented on #3634
Dupe of #3632

[2019-03-08 12:52] #3634 closed

[2019-03-08 12:53] srirambv commented on #3629
@simonhong related to https://github.com/brave/brave-browser/issues/372 ?

[2019-03-08 13:02] hemna opened #3635 "No download instructions for OpenSUSE"
Went to the downloads page here:
https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux

There are no download/install instructions for openSUSE.

[2019-03-08 13:18] mightypenguin commented on #3212
I just updated after the last payment failure notification so this probably won't help.

Version 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)

[2019-03-08 13:55] GeetaSarvadnya commented on #3630
Reproduced on `Linux Mint 0.61.49 `

Brave | 0.61.49 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Linux

[2019-03-08 14:46] SergeyZhukovsky opened #3636 "Ad Block and TP builds are broken on Android currently"
Correct BUILD.gn file in both libs to make them buildable.

[2019-03-08 14:53] #3636 closed

[2019-03-08 15:14] aduh95 commented on #1006
What is the current status of this? The latest available version on Chocolatey is behind the release channel (currently 0.58.21, which is two months old)...

[2019-03-08 15:16] dimqua commented on #1006
@aduh95 https://github.com/chocolatey/chocolatey-coreteampackages/pull/1227

[2019-03-08 15:26] LaurenWags opened #3637 "add notification for monthly tip contribution"
## Description
Currently we do not have a notification for when monthly tips are contributed. This may not be needed if auto-contribute is turned on (since tips and a-c are contributed at relatively the same time), however when auto contribute is off, it might be nice to have a notification that monthly tip contributions have processed.

cc @mandar-brave for consideration, additional information/d

[2019-03-08 16:52] mightypenguin commented on #3212
Just got another insufficient funds notice while I was on a VPN (might just be blocked?).

[2019-03-08 16:52] RudyMas commented on #3212
Version 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)

[2019-03-08 16:52] alexeykuzmin commented on #891
Hi @mbacchi, is it still an issue for Brave? Or you have already managed to fix it?
I'm running into exactly the same thing when `dump_syms.exe` works fine for x64 binaries, and fails for x86 ones.

[2019-03-08 17:01] #3459 closed

[2019-03-08 17:02] NejcZdovc commented on #3212
@RudyMas do you have any recurring tips?

[2019-03-08 17:05] RudyMas commented on #3212
No. I only tipped 3 websites this month, but none recurring, because I was anticipating the monthly payment would fail again and I wanted to support those 3 this month.

[2019-03-08 17:16] NejcZdovc commented on #3212
@RudyMas would really like to solve this mystery. If you have some time please let me know and would love to connect and see if we can see why this is a problem. Please let me know on nejc@brave.com

[2019-03-08 17:27] RudyMas commented on #3212
See E-mail. :)

[2019-03-08 19:15] diracdeltas opened #3638 "[hackerone] windows file picker tor issue"
https://hackerone.com/bugs?subject=brave&report_id=506906

[2019-03-08 19:38] bhlevca commented on #2569
I have similar problems with sync:

For example  on my bookmark bar I have 3 folders :+1:
A   B  C

After sync form android I get
A A B B C C

The content of those folders is most of the time complete. I am not sure if I leave it working  the folders would be multiplied even further like  AAA BBB CCC  and so on. I disabled it for now until this bug is fixed.

I am sorry that I did not keep a scree

[2019-03-08 20:50] rebron commented on #3439
Wontfix.

[2019-03-08 20:50] #3439 closed

[2019-03-08 20:52] LaurenWags opened #3639 "publisher list should go into retries"
## Description
Per discussion with @NejcZdovc , if publisher list cannot be loaded for any reason, it should go into retries.

## Steps to Reproduce

1. Clean profile, enable Rewards.
2. Visit a verified site (brave.com) for min time.
3. Open a new tab. Close brave.com.
4. Navigate to rewards page, make sure site is recorded in ac table.
5. Close brave.
6. Delete `publisher_info` from profile fold

[2019-03-08 20:53] rebron commented on #3454
fixed in 62?

[2019-03-08 20:55] karenkliu commented on #2371
@cezaraugusto  Yes, correct.

[2019-03-08 20:57] LaurenWags opened #3640 "insufficient funds notification and unable to contribute when wallet has more than enough BAT - follow up to 3212"
## Description
Per additional comments on #3212 and some internal reports, some users are still experiencing this issue.

Sometimes users are getting a notification that alerts them that they don't have sufficient BAT to cover their auto contribution/recurring tips, but in fact, the user does have more than enough BAT for this. Subsequently, the contribution/recurring tips are not contributed.

##

[2019-03-08 20:57] karenkliu commented on #199
@cezaraugusto Please refer to #2996 for the most recent designs related to script blocking.

[2019-03-08 20:58] LaurenWags commented on #3212
#3640 logged as follow-up issue to this.

[2019-03-08 21:01] rebron commented on #3491
cc: @kjozwiak to check

[2019-03-08 21:15] Abdelhaq75 commented on #1380
+1 on the Google Keep extension

[2019-03-08 21:16] rebron commented on #3563
@stodge does happen to a specific url? assuming Brave is set as default? Is this happening with other applications like external mail app?

[2019-03-08 21:21] rebron commented on #3566
cc: @simonhong

[2019-03-08 21:24] bridiver opened #3641 "Brave classes should not use `content` namespace or `brave/content/**` directory"
there are some existing files in `brave-core/content/..` that should be moved out and the `content` directory should be removed

[2019-03-08 21:35] LaurenWags opened #7775 "update show all/hide all wording for auto contribute"
## Description
The 'Hide All' wording on auto contribute table is a little confusing as it's not accurate (when you select it you are not hiding all of your a-c sites).

Instead of Show All/Hide All, maybe something like Show More / Show Less would be appropriate?

## Steps to Reproduce

   1. Visit at least 6 sites for minimum time so they are added to AC table
   2. Navigate to chrome://rewards

[2019-03-08 21:45] LaurenWags opened #7774 "tips table should act like auto contribute table"
## Description
Currently Auto-Contribute table only shows 5 entries unless you select the 'Show All' link. The Tips table should behave the same way.

On b-c Auto Contribute and Tips tables behave in the same way, although it is different from Android.

## Steps to Reproduce

   1. Visit more than 5 sites for min time so they are added to ac table.
   2. Set up more than 5 recurring/one-time/mix o

[2019-03-08 21:56] simonhong commented on #3629
@srirambv Yes, this is duplicated one with #372

[2019-03-08 21:56] #3629 closed

[2019-03-08 21:57] simonhong commented on #372
Guest window is also using private profile so, I think  its theme should be same as private tab.

[2019-03-08 22:14] kjozwiak commented on #3627
Thanks for going through this @GeetaSarvadnya 👍

[2019-03-08 22:14] #3627 closed

[2019-03-08 22:18] kjozwiak commented on #3626
awesome, thanks @btlechowski 👍

[2019-03-08 23:06] mouradski commented on #3039
i waited 48h and my site still not verified on mac

[2019-03-08 23:06] johnwaltonvi commented on #2690
I have this problem as well.
Going to create a voice command program anyways, but it would be really nice if this bug was fixed.
Thanks.

[2019-03-08 23:16] corymcdonald opened #3642 "Support fingerprint webauthn on OSX"
## Description
For publishers we received a request from @tomlowenthal to implement webauthn as a sign in provider. However in the current release of Brave webauthn is not supported

https://webauthn.bin.coffee
https://webauthndemo.appspot.com

## Actual result:
On the [webauthn.bin.coffee](
https://webauthn.bin.coffee) site when you try and generate a login
[code]

## Expected result:
webauthn su

[2019-03-09 02:42] noircir commented on #2905
Wireless earbuds are now working with Brave.

[2019-03-09 02:42] #2905 closed

[2019-03-09 09:56] mkhamat opened #3643 "Shortcuts for extension invokation"
## Description

In Chromium (& Chrome) you can assign a shortcut to invoke an extension in the Extension management menu with switched Developer mode. In Brave I can't do that

## Steps to Reproduce

   1. Enter in "Manage Extensions" menu
   2. Switch Developer mode option in the upper right corner
   3. And realize that there's no option to assign shortcut to this extension

## Actual result:

#

[2019-03-09 09:59] #3643 closed

[2019-03-09 11:31] crogonint commented on #1713
See here.. this feature is FUBAR'red. Call it an anti-feature, because that's what it is. IMHO, you need to take it back to the drawing board and figure out just exactly WHAT you're trying to accomplish and why, because the end result is that your end users think that it's a corny glitch that you'll iron out in the next patch.

Seriously. Anti-feature. The cart is in front of the horse.

In the me

[2019-03-09 16:17] zaoqi opened #3644 "Google cannot work in China"
I cannot download it

[2019-03-09 17:47] srirambv commented on #3644
Please edit issue and add more details. This one line doesn't help much

[2019-03-09 17:47] #3644 closed

[2019-03-09 22:58] Jaxus1 opened #3645 "Browser freezes when quickly dragging hyperlinked text or button"
## Description

Brave Browser (Dev build, for Linux) freezes sometimes when you drag a button / hyperlinked text (one that goes to another page), and stop dragging it just before it loads, it will freeze the whole browser completely. This has happened to me twice. The first time, i had no idea. The second time, I accidentally dragged a button and it showed a gray box and froze the browser.

## Ste

[2019-03-10 04:24] co16353sidak commented on #1608
Hey @tomlowenthal would like to work on this as my first contribution here. Please give me the go ahead and some tips on how to proceed.

[2019-03-10 09:58] andy-laravel commented on #1713
I'm getting this randomly half way down a page on a site I'm already logged in on. Pressing escape doesn't clear it, I have to make a selection to make it disappear

MacOS Mojave 10.14.3
Brave Version 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)

[2019-03-10 12:17] srirambv opened #3646 "BR panel shows wallet creation failed even when its enabled"
## Description

BR panel shows wallet creation failed even when its enabled

## Possible steps to reproduce (Not very sure)

   1. Upgrade to dev build 0.63.4
   2. Enable rewards
   3. Set browser to delete data on exit
   4. Close the browser and leave it for a while and relaunch
   5. Rewards page shows rewards enabled, but when click on BR panel shows as `Wallet creation failed`
   6. Clicking

[2019-03-10 12:49] jnki opened #3647 "Duplicate sites in auto-contribute list."
## Description

Duplicate supported sites showing in my auto-contribute list.

## Steps to Reproduce

I don't know how to reproduce the issue.
There were simply several listings of the same site in the list.

## Actual result:

![image](https://user-images.githubusercontent.com/17442109/54085131-1a4a1800-4332-11e9-870b-177b89ef566d.png)

## Expected result:
No duplicates

## Reproduces how often:

[2019-03-10 13:13] benpro opened #3648 "Brave cannot start on Debian 9 (No usable sandbox!)"
May be related to  #1986 and #3420.

## Description

Brave cannot start on Debian 9.

## Steps to Reproduce

   1. Launch brave on Debian 9 (with latest upgrades applied)
   2. It does not start

## Actual result:

Full message error:

[code]

I tried `sysctl kernel.unprivileged_userns_clone=1` but still does not works.

[code]

Stracing the process I see:

[code]

This is due to `/proc/sys/user/m

[2019-03-10 16:35] biff3342 commented on #3288
I have all the same issues as above. I am running Cylance Protect for antivirus. I will try to exclude Brave processes from Cylance and see what happens.

[2019-03-10 16:51] iZero7 commented on #1475
anyone can guide me on how to build brave from source without brave rewards??

[2019-03-10 16:59] iZero7 commented on #1475
thanks for deleting my comment, i get it, bye forever

[2019-03-10 17:31] agentofuser commented on #806
I second @librarymd here and I'm excited that @tomlowenthal thinks this is a good idea!

Combined with #148 / #1121, this would be a huge on-ramp for mainstream users onto a more network privacy preserving Web.

It would also be a great incentive for publishers to have onion addresses, since it suddenly opens them to a much wider audience and makes the investment more worthwhile.

Is there a timel

[2019-03-10 18:06] Rundik commented on #1475
The idea to build brave from source without brave rewards is kind of interesting

[2019-03-10 18:41] Liunkae commented on #3646
When you click Try Again, it resets all the Brave Rewards settings, which is kind of annoying.

[2019-03-10 18:52] Liunkae opened #3649 "Find bar text color is too dark in dark UI theme"
## Description
When using the dark UI theme, the text in the Find bar is black, which blends in to the dark background too much.

## Steps to Reproduce
   1. Set Brave UI appearance to Dark in settings.
   2. Go to any web page.
   3. Click hamburger menu > Find or press Ctrl/Cmd+F.

## Actual result:
![](https://user-images.githubusercontent.com/19424103/54089819-271f3980-433b-11e9-815c-b8501185c

[2019-03-10 21:25] Sophist-UK commented on #3222
Not seeing this on Windows v. 0.60.48

[2019-03-10 21:31] Sophist-UK commented on #790
Also shows "Add to Chrome" in the search results / list of extensions, and "Remove from Chrome" after extension has been installed.

If Brave wants to be consistent, it needs to have an internal extension that changes the text as sent from the Chrome web store. This might be best implemented by including as standard (if it doesn't create security issues which it might well do) script functionality

[2019-03-10 22:28] kjozwiak commented on #3222
Awesome, appreciate the double check 👍This seems to be only happening on Linux but not everyone is seeing it. This was originally fixed under https://github.com/brave/brave-browser/issues/2983 but seemed to regress on Linux.

[2019-03-10 22:44] Brave-Matt opened #3650 "Unable to authenticate or use Google Keep extension in Brave"
## Description

Google Keep extension installs but doesn't allow users to login to their google account in order to use it. `Sign in` button on extension panel is unresponsive - logging into Keep via G Keep website also has no effect.
![image](https://user-images.githubusercontent.com/3299098/54092569-d283ba80-434a-11e9-9cf1-ffae01b9c497.png)

## Steps to Reproduce

   1. Install [Google Keep exte

[2019-03-11 00:45] gabrielhug commented on #1475
The issue created for disabling the rewards extension entirely rather than just hiding the icon is: #3436
I'd suggest at least giving it a thumbs-up if it matters to you. It'd likely be helpful to carry on related conversation there rather than here on this closed issue.

[2019-03-11 01:25] simonhong commented on #3474
With the [link](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.144.7135&rep=rep1&type=pdf), I finally could see pdf pages after several times of reloading.
And below images are captured header contents for both(success and fail).
The difference is `200 OK` vs. `302 Found`. I think pdf.js sometimes couldn't handle redirect properly.
I also reproduced this issue with pdf.js on chrome stabl

[2019-03-11 01:52] simonhong commented on #3474
I got more solid repro steps.
When opening by link click, it always shows invalid. then showing properly after reloading.
When opening by cmd + link click, it is always invalid. With reloading pdf loaded well.
When pasting link url to another tab(not already invalid pdf tab), it is invalid also. fine after reloading.
I assume that pdf.js seems not initialized properly when new pdf loading is reque

[2019-03-11 02:05] simonhong commented on #1475
@iZero7

I think brave rewards would be disabled by modifying `brave/components/brave_rewards/browser/buildflags/buildflags.gni` like below.

`brave_rewards_enabled = false`

[2019-03-11 02:31] jonathansampson opened #3651 "Fix user earns while native Windows and macOS notifications are suppressed"
## Description
When notifications are disabled for the browser, ad notifications still register as having been displayed and the user is able to earn BAT in spite of never having seen a notification or ad.

## Steps to Reproduce
1. Enable Brave Rewards and Ads
2. Visit _Notifications & Settings_ in Windows Settings
3. Disable notifications for Brave

![image](https://user-images.githubusercontent.

[2019-03-11 03:04] gabrielhug commented on #3436
Shouldn't disabling rewards also terminate the Bat Ledger Service?

The rewards extension can be manually disabled for now with the command line argument --disable-brave-rewards-extension, but the Bat Ledger Service cannot be so easily disabled yet.

[2019-03-11 04:51] #3622 closed

[2019-03-11 04:53] kjozwiak opened #3652 "Release checklist for 0.61.x"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-03-11 05:48] NejcZdovc commented on #3646
closing as dupe of https://github.com/brave/brave-browser/issues/3440

[2019-03-11 05:48] #3646 closed

[2019-03-11 05:48] NejcZdovc commented on #3440
+1 from https://github.com/brave/brave-browser/issues/3646

[2019-03-11 05:58] bsclifton commented on #3644
@zaoqi if you were able to add some more details (maybe some screenshots?) please do re-open it

I'm curious: is https://brave.com/download being blocked for you?

[2019-03-11 05:59] bsclifton commented on #3039
cc: @atsyed87 RE: @mouradski above

[2019-03-11 06:02] GeetaSarvadnya opened #3653 "product page doesn’t render correctly due to Ads and trackers on `restorationhardware.com`"
## Description

the product page doesn’t render correctly due to Ads and trackers on `restorationhardware.com`

## Steps to Reproduce

   1. Clean profile 0.60.48
   2.  Open restorationhardware.com
   3.  Click on any product
   4. The product page doesn't render properly, add to cart, price, customize, finishes etc... are missing on the product page ( see the image in actual result)
   5. Disabl

[2019-03-11 06:26] bsclifton commented on #3436
I think a patch like this would work- but you'd need to restart the browser if you wanted to either stop the process now or re-enable rewards
[code]

[2019-03-11 07:11] simonhong commented on #3436
@bsclifton I think @gabrielhug also want to prevent launching `Bat Ledger Service`.
For now, I think we don't have command line switch for that.
Disabling brave rewards is needed to prevent extension and utility service process.(https://github.com/brave/brave-browser/issues/1475#issuecomment-471380598)

[2019-03-11 10:09] dlfsjdfjodifjsodifjsdo opened #3654 "The 'autoplay was blocked on this page' pop-up is really annoying"
let us turn this off

using Brave dev on windows 7

[2019-03-11 11:19] SirCaldude commented on #464
@milos12345 I get all that....but the first piece of software of the very few I have ever paid for was the "iRider Browser" back in 2000 or 2001. It was the first with vertical tabs built in with no option for horizontal tabs. It had very well planned options to open as a child, to close a tree, to right click and open as a new parent, to open as a child but stay at the parent tab, to go to the ne

[2019-03-11 11:33] tmancey commented on #2548
This is possible on iOS/macOS using `getNotificationSettingsWithCompletionHandler:`, for further information see https://developer.apple.com/documentation/usernotifications/unusernotificationcenter/1649524-getnotificationsettingswithcompl?language=objc

[2019-03-11 11:49] tmancey opened #3655 "Fix issue with public keys when redeeming tokens"
## Description
Fix issue with public keys when redeeming tokens as we are incorrectly sending the wallet public key instead of the issuers public key

## Steps to Reproduce

   1. View an Ad
   2. Close browser
   3. Relaunch browser
   4. Confirm on Ads Serve that token was cashed out (additional steps are required on Ads Serve, please check with @maikelmclauflin and Jimmy)

## Actual result:
Ser

[2019-03-11 13:04] srirambv opened #7777 "Foot note on wallet summary pop up should use a brighter font to be more readable"
## Description
Foot note on wallet summary pop up should use a brighter font to be more readable

## Steps to Reproduce

   1. Enable rewards
   2. Open wallet summary
   3. Foot note on rewards is not very clear to read and on Mobile there is no foot note shown because of size of the wallet summary panel

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/54125768-4c17b

[2019-03-11 13:13] srirambv opened #3656 "Fit the search box so that new settings categories are still visible"
## Description

Clicking on the search button makes the search box cover all the categories on the new settings tabs. Doesn't make sense to have such a big search box. Search box should be small enough so that all the new categories on the page is still shown

## Steps to Reproduce

   1. Install the new dev build
   2. Open settings page and click on the search box
   3. See how it fills the enti

[2019-03-11 13:42] mightypenguin commented on #3640
I just got an alert that I Auto Contributed 1.5 BAT!
It does have a warning about how most of my BAT is to contributors that haven't signed up yet.
I didn't realize that could trigger this warning?

[2019-03-11 13:53] srirambv opened #3657 "Excluded sites can't be viewed without having them restored"
## Description

Excluded sites can't be viewed without having them restored

## Steps to Reproduce

   1. Enable rewards
   2. Visit a few sites (3-4)
   3. Exclude them from a-c
   4. Feel like Bruce Willis from Sixth Sense that you think you know but you don't actually know

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/54127981-6607ca80-43e1-11e9-8ea5-85148b2ca0

[2019-03-11 14:45] biff3342 commented on #3288
To fix the problem I used Revo Uninstaller to completely uninstall the BRAVE browser. I then rebooted, then reinstalled brave. It's working ok now.

[2019-03-11 15:06] SilverPuppy commented on #3474
I can confirm that refreshing the page with the error does load the PDF correctly. This is a workaround, of course, but a good step forward in identifying the real issue so it can be resolved.

[2019-03-11 15:33] LaurenWags commented on #2709
@sampson are you still experiencing this?

[2019-03-11 15:47] fear-the-beaver opened #3658 "Webpage loading: blank page for several seconds"
## Description
Some webpages like https://tools.usps.com/go/TrackConfirmAction!input.action and https://www.theverge.com/ stay blank for 3-5 seconds before showing the content.

## Steps to Reproduce

   1. Enable shields in Brave (ads and trackers, HTTPs, block 3rd party cookies and device recognition)
   2. Access https://tools.usps.com/go/TrackConfirmAction!input.action or https://www.theverge.

[2019-03-11 15:52] jsecretan opened #3659 "Change payment token redemption timing"
## Description
Right now, ad payout tokens are redeemed in 24 hour cycles.  We want to extend this to a week and add appropriate timing jitter to further improve privacy.

[2019-03-11 15:55] jsecretan opened #3660 "Propagate CBR-FFI errors through for easier debugging"
## Description
Certain errors coming out of CBR-FFI can remain hidden because they are not fully propagated to the browser debugging output.  We should make sure that they appropriately wired up.

[2019-03-11 16:00] jsecretan opened #3661 "Merge in diffs to Brave Ads catalog"
## Description

Instead of full periodic catalog replacement, the ad catalog request should first try to pull a diff from the ad server and apply to local catalog in order to save bandwidth.

[2019-03-11 16:03] jsecretan opened #3662 "Tokens that fail to redeem due to network errors should be added to a queue and retried"
## Test plan
See https://github.com/brave/brave-core/pull/2035

## Description
Tokens that fail to redeem due to network errors should be added to a queue and retried. The creative_instance_id (uuid) should be added back to the queue until successful.

[2019-03-11 16:09] jsecretan opened #3663 "Add support for VLOG to help reduce noise in logs for INFO"
## Description
We should create a separate VLOG macro (with Chromium matching log levels) for ads that proxies back to the client. See LOG macro for implementation.

Example implementation for ledger: https://github.com/brave/brave-core/pull/1479

[2019-03-11 16:15] fear-the-beaver opened #3664 "Password manager: no prompt to save password on insecure websites with self-signed certificate"
## Description

Password manager doesn't prompt to save login/password on insecure websites. This is inconvenient because in my work network I have a lot of servers that utilize self-signed certificates.

## Steps to Reproduce

   1. Access login form on the website that is marked as "insecure" due to self-signed certificate.
   2. Enter credentials and login.

## Actual result:

   1. No prompt t

[2019-03-11 16:33] kjozwiak commented on #3558
Verification **PASSED** on `macOS 10.14.3 x64` using the following build:

Brave | 0.61.50 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Mac OS X

* Added a yubikey under Gmail using `0.61.50` and logged in without issues using the same key
* Added a yubikey under GitHub using `0.61.50` and logged in

[2019-03-11 16:39] jonathansampson commented on #3651
Originally tracked in #2548.

[2019-03-11 16:40] jonathansampson commented on #2548
Note that this issue presently means users are able to earn BAT without viewing ads, per #3651.

[2019-03-11 16:44] kirkins opened #3665 "Auto-completes for chrome:// but not brave://"
## Description

Wanted to use auto-complete to go to `brave://extensions`, isn't included but I noticed `chrome://extensions` is included.

## Steps to Reproduce

   1. type brave:// in url bar
   2. compare to chrome:// in url bar
   3.

## Actual result:

## Expected result:
Find extensions page in auto-complete.

## Reproduces how often:

Always

## Brave version (brave://version info)

0.63.4

[2019-03-11 16:51] gabrielhug commented on #492
The 'clear browsing history on exit' doesn't currently override the brave://settings/onStartup setting. If onStartup is set to "Continue where you left off" any open tabs are still remembered and re-opened on startup even if browsing history is cleared on exit. Perhaps this is intended for now, but it doesn't seem completely intuitive to me.

[2019-03-11 16:56] tripp-lc commented on #3474
I want to add that I also receive this error (PDF.js v2.0.673 (build: 31012570)
Message: Invalid PDF structure)  from my EHR site (https://www.therapynotes.com/app/) when opening a PDF file.
- It is a site that I am logged into securely.
- I am not able to refresh and eventually get it to load correctly.
- I am also not able to copy the link to another tab and have it open.
- This happens with Bra

[2019-03-11 17:06] rebron commented on #492
@gabrielhug I don't think 'Clear browsing history on exit' should override that on start up setting. People can change that setting back to New Tab page or a page/set of pages they want instead.

[2019-03-11 17:56] SilverPuppy commented on #3474
VERY interesting. I'd never thought to try that.

[2019-03-11 18:00] NejcZdovc commented on #3567
closing as dupe https://github.com/brave/brave-browser/issues/3440

[2019-03-11 18:00] #3567 closed

[2019-03-11 18:07] Brave-Matt commented on #2763
https://www.reddit.com/r/brave_browser/comments/azekc1/i_cant_skip_ads_on_youtube_when_i_turn_off_the/

[2019-03-11 18:19] LaurenWags commented on #3306
I have not been able to reproduce this - tried with below build. Will keep an eye out for it.

Brave | 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)
-- | --
Revision | da3787ba355f18db7db52abf75c42afb408d656f-refs/branch-heads/3626@{#883}
OS | Mac OS X

[2019-03-11 18:20] GeetaSarvadnya opened #7765 "Click on `JOIN REWARDS` displays please try again later message - Unable to enable rewards through BR panel"
## Description
Click on `JOIN REWARDS` displays please try again later message - Unable to enable rewards through BR panel

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Click on `JOIN REWARDS`

## Actual result:

Click on `JOIN REWARDS` displays please try again later message - Unable to enable rewards through BR panel

https://drive.google.com/open?id=1Em2pupu4oMcwrMzKcPXzeWHvISN7OLjX

[2019-03-11 18:24] LaurenWags commented on #3423
@NejcZdovc tried on below build and issue still reproduces.

Brave | 0.63.4 Chromium: 73.0.3683.67 (Official Build) dev (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Mac OS X

[2019-03-11 18:26] kjozwiak commented on #1875
Verification **PASSED** on `macOS 10.14.3 x64` using the following build:

Brave | 0.61.50 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Mac OS X

* Went through https://demo.yubico.com/webauthn/ and ensured I can register and login using yubikey

Verification **PASSED** on `Mint 19.1 x64` using the f

[2019-03-11 18:27] kjozwiak commented on #1875
Adding the `release-notes/exclude`, will use https://github.com/brave/brave-browser/issues/3558 as the main issue for the release notes.

[2019-03-11 18:36] cascer1 opened #3666 "disabling the built-in PDF viewer extensions"
Hi!

I noticed Brave has [this extension](https://chrome.google.com/webstore/detail/pdf-viewer/oemmndcbldboiebfnladdacbdfmadadm) installed by default for PDF viewing and I can't seem to disable it.
How can I go to the default chromium pdf viewer?

Thanks!

[2019-03-11 18:49] gabrielhug commented on #3654
To clarify what I think you're getting at: In brave://settings/content/autoplay when autoplay is globally blocked the 'Autoplay was blocked on this page' notification is still shown on sites not in the autoplay block list.

You can hide these notifications globally by adding two autoplay block rules: http://* and https://*

[2019-03-11 18:54] beccanet commented on #353
Rather than add a whole plethora of new settings, couldn't the new tab page honor the applied theme that users can already set in Settings?  I applied a theme I've been using in Chrome for a while, and it only applied the part that is in the header of the browser (the background for the tabs), not on the new tab page.  So every time I open the new tab page it's some random image (many of which are

[2019-03-11 18:55] FrederickDavies commented on #492
Is something like this (options to delete stuff on exit) going to be implemented on the Android version of Brave?

FD

[2019-03-11 19:07] atsyed87 commented on #3039
Sometimes the Rewards panel  fails to download the list of verified publishers. You can force the browser to re-download the list.

Locate the “publishers_list” file in your Brave user files directory. I’ve added the path to each file, based on OS:

OSX: /Users/[You]/Library/Application Support/BraveSoftware/Brave-Browser-Development/Default

Windows: AppData/Local/ OR AppData/Roaming/ (look for a

[2019-03-11 19:24] gabrielhug commented on #3666
You can disable Brave's built-in PDF extension with: chrome://settings/content/pdfDocuments

`Chromium PDF Viewer` has been blacklisted in Brave and AFAIK can't be re-enabled. However, alternate PDF viewer extensions can be added from the Web Store.

[2019-03-11 19:26] tmancey opened #3667 "Bump challenge_bypass_ristretto_ffi dependency"
fixes https://github.com/brave-intl/challenge-bypass-ristretto-ffi/issues/45

[2019-03-11 19:56] #3667 closed

[2019-03-11 20:05] #3655 closed

[2019-03-11 20:08] rebron commented on #740
@srirambv we'll likely do something different in this space. For the time being, I want to add (muon) default tiles for now and get rid of the CWS tile as the only item that shows up on first run.

[2019-03-11 20:15] darkdh opened #3668 "auto contribution table often contains 2^32 - 1(4294967295) percentage entry for a short period of time"
## Description

![image](https://user-images.githubusercontent.com/11330831/54154006-2b605b00-43fe-11e9-8b37-ee66275cc6c7.png)

![image](https://user-images.githubusercontent.com/11330831/54154136-6e223300-43fe-11e9-83aa-522ea4d27080.png)

There entries all have -1 percent in `activity_info` in `publisher_info_db` like
`bcbsm.com|16|1|1.05088239607526|-1|0.49724982169539|1553877406`
## Steps to Re

[2019-03-11 20:23] bsclifton commented on #492
@FrederickDavies good question -
cc: @anthonypkeane @SergeyZhukovsky

[2019-03-11 20:24] jumde commented on #2834
Updated to `QA/No`

[2019-03-11 20:31] crogonint commented on #1713
Yeah, I’m calling B.S. on the original issue.

1) As I mentioned in my first reply, a third party script can't authenticate and can’t pull up the login info without permission.

2) The login info does not necessary include an email address in the first place.

3) If this was a real issue, years old, U.S. Cert would have issued a warning. Show me a U.S. Cert tracking number or shove off.

Finally,

[2019-03-11 20:46] mkarolin opened #3669 "Upgrade from Chromium 73.0.3683.67 to Chromium 73.0.3683.75"
QA tests:

Check branding items
Check for version bump

[2019-03-11 20:51] Spysix commented on #3113
Display Fusion does have that middle clicking to move windows behavior. But on chrome, middle clicking on a tab to close will close the tab and _not_ move the window. Same as on Waterfox.

What I found interesting though, is the behavior does not apply to all windows evenly. It would affect slack, but not Chrome or Waterfox. Seems like it's just ideal to disable that feature in displayfusion.

[2019-03-11 21:13] #3587 closed

[2019-03-11 21:19] tomlowenthal commented on #3589
cc: @karenkliu

[2019-03-11 21:19] rebron commented on #3000
@petemill This looks fixed. ok to close?

[2019-03-11 21:23] mouradski commented on #3039
thanks for your answer @atsyed87

the publishers_list already contains my site   ["2giga.link",true,false,{"channel_id":"de9c1c4f-aeb8-4ec5-b773-f2b8a0388235","title":"Brave Rewards","description":

i stopped brave instance and deleted file then launched brave browser, my site still not verified

Version 0.60.48 Chromium: 72.0.3626.121 (Build officiel) (64 bits)

[publishers_list.txt](https://gith

[2019-03-11 21:33] tomlowenthal commented on #3489
cc: @karenkliu

[2019-03-11 21:56] jsecretan opened #3670 "If Brave Ads catalog is stale user may not be able to submit payment tokens"
## Description
If the public key fails to validate in the following code:

`// Validate public key
  auto catalog_issuers = confirmations_->GetCatalogIssuers();

  auto iterator = catalog_issuers.find(public_key_base64);
  if (iterator == catalog_issuers.end()) {
    BLOG(ERROR) << "Response public_key: " << public_key_base64
        << " was not found in the catalog issuers";
    OnRedeem(FAILED)

[2019-03-11 21:58] jonathansampson commented on #2887
Came here to say the same thing. Ad icons are too small on Windows. For comparison, here's a 160x160 image in a Web Notification (right) next to one of our ads today:

![image](https://user-images.githubusercontent.com/815158/54160982-ded94780-441e-11e9-9d32-75c334f64a45.png)

[2019-03-11 22:19] tildelowengrimm opened #3671 "Shields panel treatment for very long domain names"
Very long domain names get all squished up in the Shields panel, sadly.

[2019-03-11 23:21] tmancey opened #3672 "Fix Windows build error caused by "Implement additional ad event confirmations""
Fix Windows build error caused by "Implement additional ad event confirmations" https://github.com/brave/brave-browser/issues/3587

[2019-03-11 23:23] tomlowenthal opened #3673 "Clear private data on startup if clearing on shutdown"
Our feature to clear private data when Brave is quit doesn't work if Brave is killed unexpectedly, like is someone holds down their power button to force their machine to shut down. There isn't much we can do in these cases, beyond the very elaborate work in #3549. But we *can* delete that state whenever Brave is opened. That won't prevent a forensic analysis, but it will ensure that leftover stat

[2019-03-11 23:26] bsclifton commented on #655
Closing as this has been completed by @mbacchi 🎉 You should see silent install binaries on our [releases page](https://github.com/brave/brave-browser/releases)

[2019-03-11 23:26] #655 closed

[2019-03-11 23:59] DTV96Calibre commented on #3673
Sounds like that data should never end up on disk if possible. Maybe an option to store private data in-memory? I'm not aware of the amount of data we're tracking here

[2019-03-12 00:05] Brave-Matt opened #3674 "Issues with importing browsing data using built-in "importer""
## Description

Several users have reported the `Import bookmarks and settings` feature does not import all (or sometimes any) browsing data from other browsers, including Brave Muon.
This issue is unfortunately vague because it seems to do the trick for some users, some get their bookmarks but nothing else, others get passwords and browsing data but no bookmarks, etc. Reports come from all OS and

[2019-03-12 00:58] jumde opened #3675 "DCHECK on Torrent Download"
## Description
Brave browser crashes with a debug assertion on clicking `Save` in torrent-download.

[code]

## Steps to Reproduce

   1. Open http://releases.ubuntu.com/18.04/ubuntu-18.04.2-desktop-amd64.iso.torrent
   2. Make sure webtorrent download is opened
   2. Click "start torrent"
   3. DCHECK

[code]

## Actual result:
Crash

## Expected result:
No Crash

## Reproduces how often:
Easily

[2019-03-12 01:08] btlechowski commented on #3602
It repros with fresh brave/clean install too.

Reproduced on

Brave | 0.61.50 Chromium: 73.0.3683.67 (Official Build) (64-bit)
-- | --
Revision | a83fd4f3207ae83412d329a9ca1239dd1e068345-refs/branch-heads/3683@{#760}
OS | Windows 7 Service Pack 1 Build 7601.24312

[2019-03-12 01:21] #3672 closed

[2019-03-12 01:24] bbondy commented on #3602
@btlechowski wow ok strange, can you paste the URLs blocked copied from your shields panel?

[2019-03-12 01:42] jasonrsadler opened #3676 "Pass id and type for getGrantCaptcha"
Send in promo-id and type for getGrantCaptcha/GetGrantCaptcha

cc @evq @jsecretan

[2019-03-12 01:44] jasonrsadler commented on #3676
Supplement to https://github.com/brave-intl/internal/issues/89

[2019-03-12 02:03] marintoo opened #3677 "Suddenly thin font on youtube.com? (macOS)"
## Description
The font on Youtube.com has completely changed on the latest Brave version.

## Brave version (brave://version info)
Version 0.60.48

### Additional Information
macOS latest

[2019-03-12 02:08] jasonrsadler opened #3678 "Grant server hit twice if dashboard and panel both have captcha failed info present"
## Description

If a user tries to claim a grant with the panel and is unsuccessful and then opens Rewards and tries to claim grant there, two requests are sent.

## Steps to Reproduce

   1. Open brave with verbose terminal, enable Rewards on clean profile
   2. Open panel and click to claim grant
   3. Purposefully fail CAPTCHA
   4. Open Rewards dashboard, click claim grant and fail CAPTCHA

##

[2019-03-12 02:21] tmancey opened #3679 "Fixed Windows build error caused by "Implement additional ad event confirmations""
Fix Windows build error caused by "Implement additional ad event confirmations" https://github.com/brave/brave-browser/issues/3587

[2019-03-12 02:39] tmancey opened #3680 "Migration to Core has broken URL comparison for landed ad, easter egg and search engine state"
## Description
Migration of bat-native-ads to Core has broken URL comparison for landed ad, easter egg and search engine state

## Steps to Reproduce broken URL for search engine

   1. Open a search engine, i.e. www.google.com

## Actual result:
Search engine state is not updated in `Default/ads_service/client.json`

## Expected result:
Search engine state should be updated in `Default/ads_servic

[2019-03-12 02:40] #3679 closed

[2019-03-12 02:56] kjozwiak commented on #3675
@jumde this only happens when building from source using `debug` or does this also happen in release/production versions of Brave?

[2019-03-12 03:07] kjozwiak commented on #3306
@GeetaSarvadnya can you still reproduce this?

[2019-03-12 04:12] #3669 closed

[2019-03-12 04:22] bbondy commented on #3534
Marking as QA/No since test case for this is covered in https://github.com/brave/brave-browser/issues/3489

[2019-03-12 04:41] kjozwiak commented on #3677
@marintoo can you take a screenshot of what you're seeing in Brave? It will give us a better idea of what you're seeing. Here's how YT looks under `macOS 10.14.3 x64` using `0.60.48 Chromium: 72.0.3626.121`:

<img width="1202" alt="Screen Shot 2019-03-12 at 12 40 19 AM" src="https://user-images.githubusercontent.com/2602313/54174993-72cb0380-445f-11e9-8e66-e583a16724e3.png">

[2019-03-12 05:26] kjozwiak opened #3685 "Manual test run on OS X for 0.61.x - Release Candidate"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-03-12 05:27] kjozwiak opened #3686 "Manual test run on Linux for 0.61.x - Release Candidate"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-03-12 05:28] kjozwiak opened #3687 "Manual test run on Windows for 0.61.x - Release Candidate"
### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

### Data(Upgrade from previous re

[2019-03-12 05:33] kjozwiak commented on #3669
QA will go through the following manual cases for the `73.0.3683.67` -->  `73.0.3683.75` bump:

• https://github.com/brave/brave-browser/issues/3685 (macOS)
• https://github.com/brave/brave-browser/issues/3686 (Linux)
• https://github.com/brave/brave-browser/issues/3687 (Windows)

[2019-03-12 05:50] bsclifton commented on #3674
cc: @rebron for help prioritizing - definitely seeing a good amount of users hitting this on GitHub (in addition to the issues @Brave-Matt has shared above from Community)

[2019-03-12 06:11] simonhong commented on #3474
What makes difference between loading
`https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.144.7135&rep=rep1&type=pdf` and
`chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.144.7135&rep=rep1&type=pdf`?
Latter one is pdfjs extension id prepended one and pdf displayed well when it loads.

[2019-03-12 07:32] Xyanidenz commented on #2997
Evening All, i am the same with this, it was a first time clean download, and having trouble trying to Create a Wallet it failed "Brave is up to date Version 0.60.48 Chromium: 72.0.3626.121 (Official Build) (64-bit)"

thanks

[2019-03-12 07:57] Backfighter commented on #2824
Try turning off GPU and out of process rasterization in brave://flags (helped in my case). This problem is most likely related to an issue with your GPU. You can also try updating the drivers for your GPU.

[2019-03-12 08:13] netowww commented on #2649
Same problem here! What can I do to help and solve the problem?

[2019-03-12 09:35] icmonkey123 commented on #3082
I had the same problem after enabling all cookies. It was fixed after I deleted the browser data excluding history and tried to sign in again.

[2019-03-12 09:36] icmonkey123 commented on #3082
I had the same problem after enabling all cookies. It was fixed after I deleted the browser data excluding history and tried to sign in again.

[2019-03-12 11:30] AlexeyBarabash opened #3688 "Sync show details of setup error"
## Description

As for https://community.brave.com/t/couldnt-contact-sync-servers-you-might-be-having-network-trouble-or-there-could-be-a-problem-with-the-sync-servers/48223/8
In all cases `You might be having network trouble, or there could be a problem with the Sync servers.` is displayed. Need to be able to view details ignored at https://github.com/brave/brave-core/blob/master/components/brave

[2019-03-12 12:08] tmancey opened #3689 "Sample Brave Ads should not use a hard coded catalog bundle"
## Description
Sample Brave Ads should not use a hard coded catalog bundle

## Steps to Reproduce

   1. Visit www.iab.com

## Actual result:
Sample Ad is shown from hard coded catalog bundle

## Expected result:
Sample Ad should be randomly chosen from the downloaded catalog bundle

## Reproduces how often:
Easily reproduced

## Brave version (brave://version info)
0.59.x

### Reproducible on cur

[2019-03-12 12:21] tmancey opened #3690 "Viewed, dismissed, clicked and landed Confirmations controlled by estimated redemption value"
We have view, dismiss, click and landed confirmation types but only views are shown in the UI under "Current earnings this month (Estimated)" and "Ad notifications received".

Would it make more sense to show "Current earnings this month (Estimated)" and "Ad notifications received" for any confirmation type with an estimated redemption value greater than 0.0BAT.

This would mean we can decide whic

[2019-03-12 13:01] #3680 closed

[2019-03-12 13:03] #3690 closed

[2019-03-12 13:34] ChildishGiant commented on #2824
This has stopped happening for me. I don't remember exactly when but I have both updated the browser and my drivers since opening this issue.

[2019-03-12 14:20] btlechowski commented on #3602
Tested on 0.61.51

Blocked URLs:
[code]

[2019-03-12 14:29] btlechowski commented on #3669
Verification passed on

Brave | 0.61.51 Chromium: 73.0.3683.75 (Official Build) (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Windows 7 Service Pack 1 Build 7601.24312

![image](https://user-images.githubusercontent.com/34715963/54208063-903db300-44db-11e9-8e31-e8e4f1c379df.png)

[2019-03-12 14:34] bbondy commented on #3602
Unrelated to the last fix based on the blocked URLs, but could you please compare to uBlock Origin and let me know what blocks differently?  I can't reproduce but if I know the URL I can use a utility to test that URL to and then see why we block it.