[2020-11-16 11:25] srirambv commented on #12676
- Verification passed on OnePlus 6T with Android 10 running 1.17.69 x64 build
![image](https://user-images.githubusercontent.com/17010094/99246823-d7765e00-27fd-11eb-9366-12ff627e265a.png)

- Verification passed on Samsung Tab A with Android 10 running 1.17.69 x64 build
![image](https://user-images.githubusercontent.com/17010094/99246842-dcd3a880-27fd-11eb-99bc-4d9340791e53.png)

[2020-11-16 12:00] GeetaSarvadnya opened #12718 "Follow up of #10488 - Maximum ads received per hour settings are not respected"
## Description

Follow up of #10488 - Maximum ads received per hour  settings are not respected

## Steps to Reproduce

   1. Clean profile `1.17.68`
   2. Enable rewards
   3. Open an NTP SI
   4. View an AD
   5. Regular ad is shown ( not NTP SI ad)
   6. Go to the tab opened in step 3 and click on the refresh icon in the URL bar and open New SI
   7. View and AD ( NTP SI ad is shown)
   8. Repe

[2020-11-16 12:26] GeetaSarvadnya commented on #12717
Discussed with @tmancey and confirmed that ad notification pop-ups should not be shown for NTP SI's hence closing the issue.

[2020-11-16 12:26] #12717 closed

[2020-11-16 12:27] GeetaSarvadnya commented on #12718
Discussed with @tmancey confirmed working as expected hence closing the issue

[2020-11-16 12:27] #12718 closed

[2020-11-16 12:35] GeetaSarvadnya opened #12719 "Need text change for `Ad notifications received this month`"
## Description

The text `Ad notifications received this month` needs to be renamed to `Ad received this month`

As discussed with @tmancey For NTP SI we are not supposed to get Ad notification pop-ups in the browser as per the design, the text "notifications" may confuse the user hence this needs to be removed and rename the text to `Ad received this month`

## Steps to Reproduce

 NA

## Actual

[2020-11-16 12:53] srirambv commented on #12236
Verification passed on Samsung Tab A with Android 10 running 1.17.69 x64 build
- Verified empty state message is shown when all tiles are removed
![tab](https://user-images.githubusercontent.com/17010094/99254408-3c37b580-280a-11eb-969b-1bca9c3028b4.gif)

------------
Verification passed on OnePlus 6T with Android 10 running 1.17.69 x64 build
- Verified empty state message is shown when all tiles

[2020-11-16 13:17] srirambv commented on #12246
Marking as QA/No as this is superseeded by #12693 and will be fixed in https://github.com/brave/brave-core/pull/7151

[2020-11-16 13:55] d4mr commented on #6916
This issue hasn't been resolved yet has it? Can I take this up @bsclifton ?

[2020-11-16 14:42] #12716 closed

[2020-11-16 14:43] nucce1 commented on #12716
False alarm, was solved by a reboot of PC.
Wierd.

Regards

[2020-11-16 14:43] tmancey commented on #12696
Closing issue as resolved as part of https://github.com/brave/brave-browser/issues/12558

[2020-11-16 14:43] #12696 closed

[2020-11-16 14:51] srirambv opened #12720 "[Widget] Text is cut off for pre-opt-in widget state"
## Description
Text is cut off for pre-opt-in widget state

## Steps to reproduce

   1. Set locale to German
   2. Install 1.17.6 build
   3. Widget opt-in state text is trimmed

## Actual result

Mobile | Tablet
-- | --
![image](https://user-images.githubusercontent.com/17010094/99266506-bd974400-281a-11eb-9c55-64963b9936f2.png) | ![image](https://user-images.githubusercontent.com/17010094/99266

[2020-11-16 15:04] srirambv commented on #12490
Verification passed on the following devices running 1.18.51 64 beta build
- Verified categories is renamed to `Data Preferences`

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99268303-e3254d00-281c-11eb-873d-2d954385dfeb.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/99268307-e6b8d4

[2020-11-16 15:19] feedbackmacapp opened #12721 "Offer a way to disable extensions toolbar menu #12579 [repost]"
**Edited issue description**
When user has lots of extensions (ex: more than 20) the extensions toolbar menu is hard to navigate (lots of scrolling required - see below comments / pictures for more information)
**Original issue description**
see https://community.brave.com/t/bring-back-brave-flags-extensions-toolbar-menu/177045 about chrome://flags/#extensions-toolbar-menu problem

full post here

[2020-11-16 15:20] srirambv commented on #12484
Verification passed on the following devices running 1.18.51 x64 beta build

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99272042-38faf480-281f-11eb-8317-fca603fcfcff.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/99272014-33051380-281f-11eb-81d6-0f408310fcb7.png>

[2020-11-16 15:21] srirambv commented on #12534
Verification passed on the following devices running 1.18.51 x64 beta build

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99272042-38faf480-281f-11eb-8317-fca603fcfcff.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/99272014-33051380-281f-11eb-81d6-0f408310fcb7.png>

[2020-11-16 16:20] rebron commented on #12711
I'm not seeing a crash with the following:

Brave | 1.18.51 Chromium: 87.0.4280.49 (Official Build) beta (x86_64)
-- | --
Revision | f77f85899646b42a1d3c8ff36794e00becab9171-refs/branch-heads/4280@{#1115}
OS | macOS Version 11.0.1 (Build 20B29)

or:

Brave | 1.17.69 Chromium: 87.0.4280.60 (Official Build) (x86_64)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{

[2020-11-16 16:21] srirambv commented on #12319
Verification passed on OnePlus 6T with Android 10 running 1.18.51 x64 beta build
- Verified `Account Consistency` is set to none
![image](https://user-images.githubusercontent.com/17010094/99278809-6d72ae80-2827-11eb-9b9d-5826573f33f5.png)
----------
Verification passed on Samsung Tab A with Android 10 running 1.18.51 x64 beta build
- Verified `Account Consistency` is set to none
![image](https://

[2020-11-16 16:27] rebron commented on #11873
@iefremov Any ideas on this one?

[2020-11-16 16:30] rebron commented on #11878
@pavlovcik Are you still crashing with the latest?
1.16.76. Update from here: brave://settings/help

[2020-11-16 16:41] rebron commented on #11885
@Valinwolf We're going to need a few more examples. We haven't deviated from chromium behavior here and we'll need a stronger, clearer set of use cases to do that.

[2020-11-16 16:47] bsclifton commented on #6916
@d4mr sure - go for it 😄

[2020-11-16 16:47] rebron commented on #12024
Closing. NTP is special cased with the `Always show bookmarks on New Tab page` setting.

[2020-11-16 16:47] #12024 closed

[2020-11-16 16:53] twiclo commented on #12052
I would also like this

[2020-11-16 17:01] rebron commented on #11988
@crazymonkyyy can you try with the latest 1.16.76 and wondering if toggling some parts of shields or hardware accelleration helps brave://settings/system

[2020-11-16 17:09] rebron commented on #11970
Closing. @tathastu871 Please use the template and one issue at a time with clearer specifics.

[2020-11-16 17:09] #11970 closed

[2020-11-16 17:31] rebron commented on #12682
@mrspirytus Can you provide the website you're visiting where this isn't working?

[2020-11-16 17:37] rebron commented on #12709
dupe of https://github.com/brave/brave-browser/issues/12482?

[2020-11-16 17:42] rebron commented on #12700
cc: @petemill can you help with prioritization on this one?

[2020-11-16 17:49] rebron commented on #12610
Might be how we want it to look in the unfocused state though. cc: @karenkliu This is the Tor button faded in an unfocused state with the expected behavior (?) to remain bright even in unfocused state.

[2020-11-16 17:54] rebron commented on #12570
@abhidesh128 Just in case you have Chrome installed (not encouraging you to install though), does it exhibit the same behavior.

[2020-11-16 17:56] rebron commented on #12565
Closing. Hi @Passwww can you use the issue template and for a feature request like this and possibly start at community.brave.com to help define your idea. When an idea or feature suggestion like this is filed we aren't able to act on it as it's too vague.

[2020-11-16 17:56] #12565 closed

[2020-11-16 18:01] rebron commented on #12394
Closing. This should work now in latest release due to recaptcha fix.

[2020-11-16 18:01] #12394 closed

[2020-11-16 18:03] karenkliu commented on #12610
@rebron I think this is a valid issue. The unfocused state should give the Tor button the same treatment as the toolbar, and right now the dark grey seems a little out of place since it's not doing what everything else is doing. Let's keep the text `#FFFFFF` but have it at 40% opacity when window is not in focus.

[2020-11-16 18:10] kjozwiak commented on #12267
As per above, @aekeus verified that we were getting data and everything looked correct. As per https://github.com/brave/brave-browser/issues/12267#issuecomment-726739760, adding `QA/No`. QA also made sure the above was working before we uplifted via https://github.com/brave/brave-core/pull/6924#issuecomment-724459202 so there was some verification 👍 Thanks again for the double check @aekeus and th

[2020-11-16 18:11] #12667 closed

[2020-11-16 18:11] #12668 closed

[2020-11-16 18:11] #12686 closed

[2020-11-16 18:11] #12690 closed

[2020-11-16 18:14] rebron commented on #12294
@fislysandi are you able to import from html (file) from Firefox into Brave?

[2020-11-16 18:33] fmarier commented on #12707
Indeed, Google logins do work on Figma.com with that option disabled. However, they don't work on Expensify.com unless:
- the above option is enabled, or
- I "allow all cookies" in the Shields settings for Expensify

I think the problem here is that the option is somewhat misleading. This toggle is not about breaking logins, it's about blocking third-party cookies that are sometimes (but not alway

[2020-11-16 18:38] SXMacdara commented on #11500
@MikeScotty why is this closed if the issue is not fixed?

[2020-11-16 18:42] #6176 closed

[2020-11-16 18:45] HectorKroes opened #12722 "ScienceDirect.com freezing on Brave"
## Description
Brave usually stop responding while browsing` https://www.sciencedirect.com/`, both on desktop and android cellphone - but in Firefox, Chrome and Edge it works just fine.

## Steps to Reproduce

   1. Access `https://www.sciencedirect.com/`
   2. Browse for a minute
   3. The site will then freeze and a message from Brave will appear

## Actual result:

![image](https://user-images.

[2020-11-16 18:52] rebron commented on #12448
Following str, verified this looks good on:

Brave | 1.17.69 Chromium: 87.0.4280.60 (Official Build) (x86_64)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}
OS | macOS Version 11.0.1 (Build 20B29)

![Screen Shot 2020-11-16 at 10 51 32 AM](https://user-images.githubusercontent.com/5951041/99295103-d6433200-27f9-11eb-9fbc-75ae6f3c8867.png)

[2020-11-16 18:56] rebron commented on #12310
Verified that zooming in and out is looking good for me, smoother scrolling as expected versus scrolling several levels on swipe up/down or pinch on:

Brave | 1.17.69 Chromium: 87.0.4280.60 (Official Build) (x86_64)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}
OS | macOS Version 11.0.1 (Build 20B29)

[2020-11-16 18:57] d4mr commented on #6916
@bsclifton I tried posting on the community, but my post got flagged by Akismet.

Its my first time contributing, and I successfully setup my development environment. I think I know what to do on the JS side of things, but I was having a hard time figuring out where the `brave://version/` page gets resolved/rendered. I have a feeling its going to be around `brave-core/components` but haven't reall

[2020-11-16 18:58] stshank commented on #12310
Ah, yes, now working for me as well on Brave dev channel.
________________________________
From: Rafael Ebron <notifications@github.com>
Sent: Monday, November 16, 2020 11:56 AM
To: brave/brave-browser <brave-browser@noreply.github.com>
Cc: Stephen Shankland <sshankland@redventures.com>; Mention <mention@noreply.github.com>
Subject: Re: [brave/brave-browser] Google Maps trackpad zoom is oversensit

[2020-11-16 19:06] rebron commented on #11838
Verified and looks good on:

Brave | 1.17.69 Chromium: 87.0.4280.60 (Official Build) (x86_64)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}
OS | macOS Version 11.0.1 (Build 20B29)

![Screen Shot 2020-11-16 at 11 01 43 AM](https://user-images.githubusercontent.com/5951041/99296407-94b38680-27fb-11eb-937c-0edccfea3646.png)
![Screen Shot 2020-11-16 at 11 0

[2020-11-16 19:12] AlexeyBarabash opened #12723 "Implement onboarding for P3A on Android"
## Description

The follow up issue for https://github.com/brave/brave-browser/issues/6176 . It is required to implement notification about P3A during onboarding as it is done for desktop.

## Designs

For new users, show an initial welcome screen with P3A checkbox before the privacy onboarding experience:

![loadingP3A](https://user-images.githubusercontent.com/2388823/99302230-f2e46780-2803-11eb

[2020-11-16 19:26] ztickm commented on #12572
### Update:

Today I updated to `1.16.76`, the page now works with no errors to the console.
The local storage now shows the object `adsData` and its children.

The Release versions suggest nothing has changed regarding rewards, the origin of the problem remains unknown to me. Anyone knows how / where this particular local data is assigned / accessed?

[2020-11-16 19:30] petemill opened #12724 "Lint should complain if TS / JS files do not contain license header"
We can use https://palantir.github.io/tslint/rules/file-header/ via tslint

[2020-11-16 19:30] jumde opened #12725 "[Big Sur] Ad notifications are not auto-dismissed"
## Description
Ad-notifications are not auto-dismissed. Need to explicitly click close to dismiss it.

## Steps to Reproduce
   1. Wait for an ad-notification
   2. Wait for the ad to be dismissed

## Actual result:
Does not dismiss

## Expected result:
Should dismiss without user interaction

## Reproduces how often:
Intermittent

## Brave version (brave://version info)
1.16.76

## Version/Channe

[2020-11-16 19:31] rebron commented on #12725
cc: @tmancey

[2020-11-16 19:49] OrbitzOrbz opened #12726 "Sideload Extensions Uninstall after awhile"
I side loaded Privacy Possum since Google took it off their webstore and it works as it's supposed to but after awhile maybe a couple of hours or so when i get back on the browser,the extension is not there anymore.  Not in Manage extensions anymore.  I have to keep side loading it to use it but keeps uninstalling everything time.  Rinse and Repeat the steps every time

BTW on my other Chromium br

[2020-11-16 19:53] d4mr commented on #6916
I did find the stings file at https://github.com/brave/brave-core/blob/master/components/version_ui_strings.grdp but I can't seem to find how they are being used

[2020-11-16 20:06] karenkliu commented on #12723
Designs added!

[2020-11-16 20:08] AlexeyBarabash commented on #12723
awesome, thanks @karenkliu

[2020-11-16 20:29] diracdeltas commented on #12680
given my comment above, i don't think we should remove the p3a page from onboarding because not all Windows users are guaranteed to see the download page.

[2020-11-16 20:50] jumde commented on #12725
Just noticed that it takes ~2 mins for the notification to disappear, if this is expected feel free to close this issue. Thanks!

[2020-11-16 21:03] mkarolin opened #12727 "Upgrade from Chromium 87.0.4280.60 to Chromium 87.0.4280.63."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/87.0.4280.60..87.0.4280.63?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

No specific code changes in Brave (only line number changes in patches).

[2020-11-16 21:14] bsclifton commented on #12680
Windows doesn't have a first run welcome screen (including the `make default` checkbox) because Windows 10 doesn't let you change this via the code. As @simonhong found out, the download page for Chromium (similar to what is proposed above) has stats auto-checked and then that value is passed through to the mini-installer.  We could do that for the antifraud checkbox, but we can't touch default br

[2020-11-16 21:19] tmancey commented on #12725
@jumde This is expected, thanks I will close the issue

[2020-11-16 21:19] #12725 closed

[2020-11-16 21:48] bsclifton commented on #6916
@d4mr this is going to be interesting as it may require a patch. The best approach would be to find where in the Chromium code this lives. Let me see if I can find that... you'll basically want to do the `npm run init` after cloning so that it pulls down all the Chromium code

[2020-11-16 21:56] #12264 closed

[2020-11-16 21:59] bsclifton commented on #6916
@d4mr took a quick peek using [Chromium's code search](https://source.chromium.org/) and looks like the code for that page is in https://source.chromium.org/chromium/chromium/src/+/master:chrome/browser/ui/webui/version_ui.cc

There's going to be some HTML/JavaScript (Polymer) in the Chromium side that is loaded by this Web UI code. That's where the change you'll need to make will be 😄 (the `versi

[2020-11-16 22:43] tmancey commented on #10904
Closing issue as resolved by https://github.com/brave/brave-browser/issues/12558

[2020-11-16 22:43] #10904 closed

[2020-11-16 22:45] tmancey commented on #12572
@ztickm Great news. I will leave the issue open and prioritize to investigate further over the next few days.

[2020-11-16 22:47] d4mr commented on #6916
Thanks, that was really helpful! I don't think I will need additional strings, so Polymer patching is the way to go. I can see two potential ways to solve this, I will update with more details once I test it out.

[2020-11-16 23:21] keur opened #12729 "pulseaudio: Make aware of different release channels"
## Description

Pulseaudio icon doesn't differentiate from running beta nightly and stable

## Steps to Reproduce

   1. Launch brave stable
   2. Launch brave beta (or nightly)
   3. Start any audio stream like YouTube or Spotify in both browsers, and **make sure neither is muted**.

## Actual result:

[Same Icon for both playback streams](https://i.fluffy.cc/vtqBm1SzVk57GzfBpW21GKRTn1Cn9qBt.png)

[2020-11-16 23:51] Neustradamus commented on #598
@ all, there is a ticket about problems from @Squirrel installer: https://github.com/Squirrel-installer-problems/info/issues/1
Please comment on it...
And please inform about other softwares with the same problem too.

[2020-11-17 00:32] tmancey commented on #9469
Closing as issue already resolved

[2020-11-17 00:32] #9469 closed

[2020-11-17 00:35] tmancey commented on #12592
Closing issue as resolved by https://github.com/brave/brave-browser/issues/12558

[2020-11-17 00:35] #12592 closed

[2020-11-17 01:34] abhidesh128 commented on #12570
This behavior can also be seen in Chromium and Chrome. I have tried both of them.

[2020-11-17 02:58] MikeScotty commented on #11500
@SXMacdara I have no idea. Maybe because it's been added to the to-do list?

[2020-11-17 04:47] kjozwiak commented on #12366
Verification **PASSED** on `macOS 10.15.7 x64` using the following build:

[code]

Visited https://webglreport.com and ensured that `float/int precision:` appears as `highp/highp` as per the following:

<img width="336" alt="Screen Shot 2020-11-16 at 11 45 40 PM" src="https://user-images.githubusercontent.com/2602313/99347840-73d84900-286e-11eb-8699-3e2c5fd8cfa3.png">

[2020-11-17 04:49] kjozwiak commented on #12448
Verification **PASSED** on `macOS 10.15.7 x64` using the following build:

[code]

Visited https://netmap.vodafone.de/cokart-client/index.html?lang=de&app=cokart_4x and ensured the map was loading as per the following:

<img width="938" alt="Screen Shot 2020-11-16 at 11 49 07 PM" src="https://user-images.githubusercontent.com/2602313/99347947-b732b780-286e-11eb-9b2f-efb45f52316b.png">

[2020-11-17 04:52] kjozwiak commented on #12310
Verification **PASSED** on `macOS 10.15.7 x64` using the following build:

[code]

Ensured that zooming in/out via the mouse/trackpad wasn't as sensitive as before.

[2020-11-17 05:28] diracdeltas commented on #12681
Closing because the fix for https://github.com/brave/brave-browser/issues/199 will make this a non-issue.

[2020-11-17 05:29] #12681 closed

[2020-11-17 05:41] #12691 closed

[2020-11-17 05:48] btlechowski commented on #12526
@gabrc52 Is this a dupe of https://github.com/brave/brave-browser/issues/10570?

[2020-11-17 05:50] gabrc52 commented on #12526
Yes, except this talks about non English languages in general, explicitly

[2020-11-17 05:50] #12526 closed

[2020-11-17 05:51] gabrc52 commented on #10570
Can reproduce in Spanish as well. It’s probably present on all non-English languages, but I haven’t tested them all

[2020-11-17 05:53] btlechowski commented on #12149
Fixed by https://github.com/brave/brave-browser/issues/12559

Verification passed on

Brave | 1.17.69 Chromium: 87.0.4280.60 (Official Build) (64-bit)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Verified test plan from the description

![image](https://user-images.githubusercontent.com/34715963/9935163

[2020-11-17 05:53] #12149 closed

[2020-11-17 06:01] iefremov commented on #11873
@liskaaaaaaaaaa Thanks for reporting this! Could you please share contents of `brave://gpu`, `brave://version/`, also `chrome://histograms`? Also, do you have anything not default on `brave://flags`?

[2020-11-17 06:43] pavlovcik commented on #11878
No I haven't had these issues lately :)

[2020-11-17 06:49] kjozwiak commented on #11878
Thanks for the follow up @pavlovcik 👍 Closing the issue. If you end up running into the above again, please feel free to open a new issue.

[2020-11-17 06:49] #11878 closed

[2020-11-17 06:55] camots opened #12731 "Google Earth Web black screen on macOS BigSur 11.0.1"
## Description
In 1.16.72 under macOS 11.0.1 Big Sur, Google Earth Web page is not working -> black screen instead of globe showing up

## Steps to Reproduce

   1. open https://earth.google.com/web/@45.0599697,7.65921927,249.61635762a,3915.01063469d,35y,-127.39214196h,39.68034905t,0r

## Actual result:
Blank screen instead of globe showing up.

## Expected result:
The globe should be displayed!

[2020-11-17 07:00] bsclifton commented on #598
@Neustradamus the new version of Brave doesn't use Electron / Squirrel

[2020-11-17 07:11] anthony-beckett opened #12732 "Brave-nightly crashing when run as sudo"
## Description
Following the steps shown [here](https://wiki.obarun.org/doku.php?id=cups), I attempted to open cups. But instead of opening, it crashes and spits out a report

## Steps to Reproduce
   1.  enter `$ sudo brave-browser-nightly --no-sandbox  URL` into one's preferred terminal emulator

## Actual result:
Attempting to open [brave.com](https://brave.com), for example, will result in a c

[2020-11-17 07:48] hypov8 commented on #12216
i getting the same issue here.
windows 7 x64.

[2020-11-17 07:49] ryanbr commented on #12722
Can investigate, it'll be related to their port scanning of users.

[2020-11-17 07:55] ryanbr commented on #12722
It should be resolve on Brave Beta on the Desktop @HectorKroes   Still looking into options on mobile.

[2020-11-17 08:12] ryanbr commented on #12722
Give it 24-48hrs @HectorKroes performance on the site should be much better.

[2020-11-17 08:22] ryanbr commented on #12731
Hey @camots  Fix is incoming to Brave Beta https://github.com/brave/brave-core/pull/7059

[2020-11-17 09:48] srirambv commented on #12233
Verification passed on OnePlus 6T with Android 10 running 1.17.69
- Verification notes https://github.com/brave/internal/issues/733#issuecomment-728813800

[2020-11-17 10:32] srirambv opened #12733 "[Widget] Confirmation countdown stops when network is lost"
## Description
Confirmation countdown stops when network is lost

## Steps to reproduce

   1. Connect to Binance widget
   2. Select a token to convert
   3. Enter amount and preview conversion
   4. Disconnect network and tap on confirm button, count down stops

## Actual result
Confirmation countdown stops when network is lost

## Expected result
Countdown should complete and dismiss or close t

[2020-11-17 10:35] ristein opened #12734 "unable to scroll"
## Description
I can't scroll after page finished loading on some websites: eg. vice.com, t-online.de

## Steps to reproduce

   1. open one of those website
   2.
   3.

## Actual result

no scrolling possible after loading
## Expected result
scrolling possible

## Issue reproduces how often
easily

## Version/Channel Information:

only tested my version
- Can you reproduce this issue with the cu

[2020-11-17 10:35] NullSense commented on #2444
Can confirm issue on Arch linux running on wayland:
[code]

Exec options on .desktop file:
`Exec=/usr/bin/brave-nightly --enable-features=UseOzonePlatform --ozone-platform=wayland %U`

[2020-11-17 10:37] srirambv opened #12735 "[Widget] Show network error message instead of disconnecting the widget"
## Description
Its not ideal to always have the widget disconnected when there is no network. It would be more helpful if we just showed an error state for no network rather than disconnecting the widget altogether just because there is no network

## Steps to reproduce

   1. Connect to Binance widget
   2. Disconnect the network
   3. Wait for 30sec, widget gets disconnected

## Actual result
Wi

[2020-11-17 10:43] srirambv opened #12736 "[Widget] Possible race condition when converting asset"
## Description
 Possible race condition when converting asset

## Steps to reproduce

   1. Connect to Binance widget
   2. Select a token to convert and enter value
   3. Click on preview conversion
   4. Disconnect network and tap on confirm, shows error message failed conversion
   5. Reconnect to network and tap on confirm again, shows error message again but conversion happens

## Actual resu

[2020-11-17 10:52] ryanbr commented on #12710
Hey, @sviluppoSoftware
Blank spaces are caused by lack of cosmetic/css filtering. We have open ticket for this. No ETA just yet

https://github.com/brave/brave-browser/issues/9955

[2020-11-17 10:54] ryanbr commented on #12734
Hey @ristein

I can investigate, does enabling Easylist Cookies in `brave://adblock` help?

[2020-11-17 11:04] ryanbr commented on #12708
Hey @TheAresjej  have you enabled `Facebook` in `brave://settings/shields` ?

Can you also test in private window mode.

[2020-11-17 11:06] ristein commented on #12734
@ryanbr
yes, this fixes it.
can I keep this enabled?
![Screenshot_20201117-120522_Brave](https://user-images.githubusercontent.com/55446611/99382727-3ce55000-28cd-11eb-9a66-2137e4a880dd.png)

[2020-11-17 11:17] ryanbr commented on #12706
Similar to the twitch issue. https://github.com/brave/brave-browser/issues/12708

If you're using Twitter, Facebook logins on any site. enable in `brave://settings/shields`

[2020-11-17 11:26] ryanbr commented on #12637
I can test, can you check if it occurs in Brave desktop? @jenabaivab

[2020-11-17 13:16] jenabaivab commented on #12637
@ryanbr just tested on Brave Dev build for Windows.
It's not as bad as on mobile but there is screen tearing for sure. The more you scroll down and load more comments, the more it lags(both windows and android).

[2020-11-17 14:01] LaurenWags commented on #10206
Labeling as `QA/Blocked` until test plan is confirmed. cc @jsecretan @simonhong @tmancey  @rebron @brave/legacy_qa

[2020-11-17 14:03] GeetaSarvadnya commented on #10344
Reproduced in `Windows 10 x64 - 1.17.68 `
![image](https://user-images.githubusercontent.com/38657976/99399465-b4d26b00-290b-11eb-9c73-b1d7ee08375c.png)

[2020-11-17 14:28] jafxdesign commented on #12670
I used the new Mac OS to start the cloning afresh

Done: git clone git@github.com:brave/brave-browser.git
Done: cd brave-browser
Done: npm install

When I run the following command I get a new error this time with progress
npm run init

Compiling ryu v1.0.5
error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-m64" "-arch" "x86_64" "-L" "/Users/user/WebProjects/strat/brave-browser/src

[2020-11-17 14:52] nithinkodadhavadee commented on #12086
@bsclifton Yes it did work, thank you. last and final thing, I'm pretty new to GitHub so am I supposed to close this issue now or just let it be and you guys will look into it?

[2020-11-17 14:53] bbondy commented on #11765
PR seems to have been landed in 1.18.x so I adjusted this to 1.18.x.

[2020-11-17 16:29] mariospr commented on #7955
@darkdh Sorry for requesting extra context but I wonder if you could provide more details on what should be done in here, as well as whether this is something you'd rather tackle yourself or whether is something that I could pick up and add it to my TODO for when I finish https://github.com/brave/brave-browser/issues/7874 and have a gap from rebasing work.

FWIW, I looked into `tor_profile_service

[2020-11-17 16:42] deeppandya commented on #12735
@srirambv what do we do for this scenario in desktop ?

[2020-11-17 16:46] LaurenWags commented on #9788
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/6584
Testing notes can be found under https://github.com/brave/brave-browser/issues/9457#issuecomment-712306639
Additional notes that may be helpful: there is no more pinning top site tiles with 1.17.x. Additionally, modifications to top site tiles made with 1.16.x (and before) are not retained when upgr

[2020-11-17 16:47] LaurenWags commented on #11551
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/6584
Testing notes can be found under https://github.com/brave/brave-browser/issues/9457#issuecomment-712306639
Additional notes that may be helpful: there is no more pinning top site tiles with 1.17.x. Additionally, modifications to top site tiles made with 1.16.x (and before) are not retained when upgr

[2020-11-17 17:02] antonok-edm opened #12737 "Use frame URL as root context when adblocking"
https://www.motorsport.com/f1/news/wolff-hamilton-contract-talks-2021/4911380/ shows an anti-adblock message when attempting to play the in-article videos.

![Screenshot 2020-11-18 022154](https://user-images.githubusercontent.com/22821309/99421242-2b4f7880-28cc-11eb-97bd-8385001a8295.png)

uBlock Origin has an exception filter to prevent this from happening:

[code]

![2020-11-17-115156_800x313_s

[2020-11-17 17:13] LaurenWags commented on #10206
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/6805

Confirmed each NTP SI has a different image, logo, and target URL when launching with `/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser --args --enable-logging=stderr --vmodule="*/bat-native-ledger/*"=6,"*/brave_rewards/*"=6,"*/bat-native-ads/*"=6,"*/bat-native-confirmations/*"=6,"*/b

[2020-11-17 17:14] antonok-edm commented on #902
@ryanbr it looks to me like videos on foxbusiness articles are still broken

[2020-11-17 17:21] antonok-edm commented on #1145
This was fixed with https://github.com/brave/brave-browser/issues/10319.

[2020-11-17 17:21] #1145 closed

[2020-11-17 17:26] antonok-edm commented on #3348
This is resolved thanks to work from @ryanbr and others in the filter list community.

[2020-11-17 17:26] #3348 closed

[2020-11-17 17:28] antonok-edm commented on #1448
@ryanbr it looks good to me as well.

@GeetaSarvadnya feel free to re-open if you still see the issue.

[2020-11-17 17:28] #1448 closed

[2020-11-17 17:29] #12727 closed

[2020-11-17 17:38] pes10k opened #12738 "Don't apply rewards scripts to internal (brave://, chrome://) pages"
Currently Brave spits out a lot of messages like the below to console:

[code]

~I believe this is because the extensions created by the greaselion system are not restricting themselves to http(s) pages.~

ive been corrected, its the main brave extension cc @petemill

[2020-11-17 17:41] antonok-edm commented on #1909
This looks resolved to me; @bitcoinuser feel free to re-open if you still see the issue.

[2020-11-17 17:41] #1909 closed

[2020-11-17 17:41] kjozwiak opened #12739 "top sites are not always re-added under "brave://newtab""
## Description

Similar to #12378, sometimes websites are not being added to `Top Sites` under `brave://newtab`. However, you don't necessarily need to remove all the tiles before running into the issue. Simply removing a tile and attempting to load the same page again will more than often reproduce the issue.

Maybe this is expected? Perhaps there's some type of cool off period when you remove a

[2020-11-17 17:46] antonok-edm commented on #2313
I don't see any problems on allgemeine-zeitung.de, so it looks like this can be closed.

In general this should now be handled by cosmetic blocking (https://github.com/brave/brave-browser/issues/5381), although feel free to open issues with specific urls if there are still issues.

[2020-11-17 17:46] #2313 closed

[2020-11-17 17:54] antonok-edm commented on #5872
@GeetaSarvadnya I believe this is resolved - could you confirm?

[2020-11-17 18:04] antonok-edm commented on #10164
Duplicate of https://github.com/brave/brave-browser/issues/3348 - this should be fixed now.

[2020-11-17 18:04] #10164 closed

[2020-11-17 18:11] antonok-edm commented on #9271
@ryanbr I'm not seeing any ads on that site (renders the same for me as in Firefox w/ uBO). But it does look like some cosmetic filters might help the layout slightly.

[2020-11-17 18:20] bsclifton commented on #12086
@nithinkodadhavadee lets keep it open; there's definitely an underlying problem that we need to detect and take action on. Can you share the info from brave://gpu (just hit the `Copy to clipboard`)

[2020-11-17 18:21] bsclifton commented on #6916
@d4mr one place you may take inspiration from is the page `brave://gpu`. When you visit this, it has a `Copy report to clipboard` button
![image](https://user-images.githubusercontent.com/4733304/99430767-9f831f80-28be-11eb-8ad8-25b1a401b760.png)

If you need help finding that in the code, let me know 😃

[2020-11-17 18:22] iefremov opened #12740 "Get rid of BRAVE_CHROMIUM_BUILD everywhere"
For now we inconsistently use `BRAVE_CHROMIUM_BUILD` in patches. The initial idea was to use it to change the program flow in compile time (i.e. using `#ifdef BRAVE_CHROMIUM BUILD ... #else ... #endif`), but mostly this macro is misused. We'd better to erase it from the codebase (and wiki), and use `#if 0` instead to replace unwanted code with ours.

[2020-11-17 18:25] mkarolin opened #12741 "Upgrade from Chromium 87.0.4280.63 to Chromium 87.0.4280.66."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/87.0.4280.63..87.0.4280.66?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

No specific code changes in Brave (only line number changes in patches).

[2020-11-17 18:30] bsclifton commented on #12739
I believe this is expected, @kjozwiak. Once you hit the top site tile, it won't show again. Other URLs from the same domain should populate though. If you can confirm this is the case we can close as `wontfix`. Only way to get back URL is to do the "restore all"

[2020-11-17 18:39] mkarolin opened #12743 "Disable tab groups in cr87."
@rebron asked to have tab groups disabled by default in cr87 based release.

QA test plan:

1. Start the browser
2. Right-click on a tab, wait for the context menu to show
3. Check that "Add tab to group" option is not available in the menu.

[2020-11-17 18:41] d4mr commented on #6916
Thanks for the tip! I don't think I will run into issues with the code however; right now I am stuck trying to run `npm run init`.
My internet connection is a little patchy, and with the large download size, even a brief network drop means I have to start all over again.

Errors look like this:
`error: RPC failed; curl 56 GnuTLS recv error (-54): Error in the pull function.
fatal: the remote end h

[2020-11-17 18:44] Valinwolf commented on #11885
![image](https://user-images.githubusercontent.com/5161459/99433033-9e5bed80-28d2-11eb-912d-87b56e1a24d6.png)

[2020-11-17 18:47] kjozwiak commented on #12378
This might not be 100% fixed as per https://github.com/brave/brave-browser/issues/12739. Waiting on some info from @simonhong.

[2020-11-17 19:03] #12482 closed

[2020-11-17 19:09] sviluppoSoftware commented on #12710
Thank you for this info, if you prefer closed this issue it's ok for me.

[2020-11-17 19:18] LaurenWags opened #12744 "[Desktop] terminal error messages when opening twitter page"
## Description

I noticed when opening a twitter page on Nightly I am getting some odd error messages in the terminal. They don't seem to cause any adverse effects on the UI but I am unsure if they are problematic/related to the greaselion script.

## Steps to Reproduce

   1. Launch 1.19.x using `/Applications/Brave\ Browser\ Nightly.app/Contents/MacOS/Brave\ Browser\ Nightly --args --enable-logg

[2020-11-17 19:41] rebron commented on #12513
cc: @kjozwiak to double check on release and beta channel

[2020-11-17 19:48] mkarolin commented on #12743
After additional consideration we decided to keep the feature enabled. Closing.

[2020-11-17 19:48] #12743 closed

[2020-11-17 20:10] #12369 closed

[2020-11-17 20:20] mrspirytus commented on #12682
Please check your gmail

[2020-11-17 20:30] Madis0 commented on #12400
While I do agree with the idea, I believe it would be more beneficial for Brave to keep Rewards intact, as that's their business model and one of the core ideas, while wallets and Web 3.0 seems to be just extra.

[2020-11-17 20:41] karenkliu commented on #12553
Designs added!

[2020-11-17 20:50] SergeyZhukovsky opened #12745 "Crash on cosmetic filters tab helper"
## Description
Via analysing crash stacks on dev play console I found out that we often crash on that place https://github.com/brave/brave-core/blob/1.16.x/browser/android/brave_cosmetic_resources_tab_helper.cc#L81
That is place is better to rewrite to use frame_id instead of a raw pointer, that way we can check if the host is still alive after IO operations.
It looks like it happens non consisten

[2020-11-17 21:18] alosarjos opened #12746 "Incorrect font rendering"
## Description
The computed font for rendering some texts is incorrectly calculated and using the wrong font.

## Steps to Reproduce

   1. Setup personalized fonts. I have used Cantarell for standard, Serif and Sans Serif and Source Code Pro for monospaced
   2. Access a Github file page, for example: https://github.com/brave/brave-browser/blob/master/package-lock.json
   3. Inspect the text for

[2020-11-17 21:44] aaronsantamaria commented on #7564
+1
https://www.reddit.com/r/brave_browser/comments/jvxl00/always_private_browsing_on_android/

[2020-11-17 21:49] dzintars commented on #8882
When trying to be fancy, please don't kill the UX.

![image](https://user-images.githubusercontent.com/547420/99454652-633bd780-292f-11eb-94e1-950aeb8b8fe9.png)

[2020-11-17 21:56] jonathansampson opened #12747 "Double-Colon on Rewards Internals Page"
## Description
brave://rewards-internals displays a double-colon after the "wallet created" string.

## Steps to Reproduce
1. Create a wallet
2. Visit brave://rewards-internals

## Actual result:
Page contains a double-colon after "wallet created".

## Expected result:
Only a single colon is displayed.

## Reproduces how often:
Always.

## Desktop Brave version:
1.19.13

[2020-11-17 22:07] kjozwiak opened #12748 "Manual test run for Tor 1.0.13 component update on Windows"
#### **`Windows 10 x64`**

#### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New P

[2020-11-17 22:09] kjozwiak opened #12749 "Manual test run for Tor 1.0.13 component update on Linux"
## Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `New Private Window with Tor` and c

[2020-11-17 22:12] kjozwiak opened #12750 "Manual test run for Tor 1.0.13 component update on macOS"
#### **`macOS 11.0 Big Sur`**

#### Tor Client Updater

- [x] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [x] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [x] Open `N

[2020-11-17 22:12] ryanbr opened #12751 "Embedded facebook video blocked"
## Description
Playback of video is broken on `https://www.orlandosentinel.com/news/os-ne-orlando-sentinel-now-20190522-h2ro7clbfbgejamog6gbkl322m-story.html`

## Steps to Reproduce

   1. open `https://www.orlandosentinel.com/news/os-ne-orlando-sentinel-now-20190522-h2ro7clbfbgejamog6gbkl322m-story.html`
   2. Click to playback video
   3. Errors when playing

## Actual result:

![orlando-2](http

[2020-11-17 22:23] keur commented on #12732
You don't want to run the browser as root. Running the browser as root has nothing to do with the permissions of your CUPS server.

`brave-browser-nightly http://127.0.0.1:631` will suffice, or you can navigate to the url normally in your browser.

[2020-11-17 22:23] #12732 closed

[2020-11-17 22:38] MaxCoding3 opened #12752 "Tab Scrolling/Handling of Large Numbers of Tabs"
## Description
If over 115-120 tabs are opened, the newest tabs stop being displayed properly in the tab bar on top. They open correctly, but after clicking off of them the are inaccessible until a sufficient number of tabs are closed such that the total number of tabs in under 115. Most other browsers have tab scrolling features, and when new tabs are opened past a certain point, the width of eac

[2020-11-17 22:38] #12747 closed

[2020-11-17 22:39] tacosuzy commented on #6690
Since Brave is chromium based, would it be a chrome thing or would it be possible for Brave to implement this themselves? In chrome latest version and for a while the mute tab button doesn't do anything. I don't know if mute tab is apart of chrome. This is the feature or ability that we or some are looking for for those of us that have many tabs open. Maybe chrome can be looked at to why the mute

[2020-11-17 22:42] kjozwiak opened #12753 ""BraveContentBrowserClientTest.RewriteChromeSync" failing CI"
Looks like `BraveContentBrowserClientTest.RewriteChromeSync` is crashing. Ran into the crash a few times. Examples:

* https://ci.brave.com/job/pr-brave-browser-remove-bdc-1.18-macos/3/execution/node/251/log/

[code]

[2020-11-17 22:43] #12745 closed

[2020-11-17 22:43] kjozwiak commented on #12753
@bsclifton created the issue as per our discussion 👍

[2020-11-17 23:33] mrspirytus commented on #12682
Actually I realized that sometimes I have to refresh browser few time on specific channel that I want to switch to and it will work. Sometimes I get spinning icon that I did gave 1-2 min and did not start showing video stream. So hitting refresh few times it will eventually bring video

[2020-11-18 01:15] ryanbr commented on #9271
Hmm looking into this looks like uBO combines 2 lists
`https://raw.githubusercontent.com/tomasko126/easylistczechandslovak/master/filters_ublock.txt` and `https://raw.githubusercontent.com/tomasko126/easylistczechandslovak/master/filters.txt`   Whats an easy way to combine these 2 lists?  filters_ublock.txt  has fixes on `idnes.cz`  @antonok-edm

[2020-11-18 01:47] srirambv commented on #12735
@deeppandya on desktop it does nothing. Data doesn't get refreshed, preview conversion fails with an error message.
![image](https://user-images.githubusercontent.com/17010094/99472181-009f0780-2940-11eb-9bf0-855e3f50e02c.png)

Marking as release-blocking as per @jamesmudgett suggestion

[2020-11-18 02:56] ryanbr commented on #12734
Sure @ristein   Which country are you testing from?

[2020-11-18 03:41] LazyyCoder commented on #12086
Data exported | 2020-11-18T03:38:34.482Z
-- | --
Chrome version | Chrome/86.0.4240.198
Operating system | Linux 5.4.0-54-generic
Software rendering list URL | https://chromium.googlesource.com/chromium/src/+/d8a506935fc2273cfbac5e5b629d74917d9119c7/gpu/config/software_rendering_list.json
Driver bug list URL | https://chromium.googlesource.com/chromium/src/+/d8a506935fc2273cfbac5e5b629d74917d9119c7

[2020-11-18 05:04] kjozwiak commented on #11862
Reproduced on `macOS 10.15.7 x64` using the following build (@iefremov also reproduced the issue):

[code]

As per the discussion via Slack, geolocations seem to be using the wrong endpoints. Once you've given macOS the needed permissions for Brave to use the Location Services, you'll get the following:

**`Example A`** | **`Example B`** | **`Example C`**
-----------------|------------------|-----

[2020-11-18 05:43] ristein commented on #12734
@ryanbr  I'm living in Germany

[2020-11-18 06:29] #12738 closed

[2020-11-18 06:40] DavidRedstone commented on #12353
fwiw - Still ok for me. I wonder what it was?

On this Brave version now:
Version 1.16.76 Chromium: 86.0.4240.198 (Official Build) (64-bit)

[2020-11-18 07:20] #12741 closed

[2020-11-18 08:13] bsclifton commented on #12753
Note to self: `BraveContentBrowserClientTest.RewriteChromeSync`
in `brave/browser/brave_content_browser_client_browsertest.cc`

[2020-11-18 08:23] srirambv opened #12754 "Manual Test run for Android ARM for 1.17.x Release 1"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [x] Make sure Brave handles links from Gmail, Slack
- [x] Make sure Brave works as custom tabs provide with Chrome browser
- [x] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [x]

[2020-11-18 08:23] srirambv opened #12755 "Manual Test run for Android Tab for 1.17.x Release 1"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Visual look

- [x] Make sure thereafter every merge
  - [x] No Chrome/Chromium words appear on `brave://version`
  - [x] No Chrome/Chromium words appear on normal or private tabs
  - [x] No Chrome/Chromium words appear in site settings

[2020-11-18 08:23] srirambv opened #12756 "Manual Test run for Android x86 for 1.17.x Release 1"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Visual look

- [x] Make sure thereafter every merge
  - [x] No Chrome/Chromium words appear on `brave://version`
  - [x] No Chrome/Chromium words appear on normal or private tabs
  - [x] No Chrome/Chromium words appear in site settings

[2020-11-18 08:27] srirambv commented on #12712
This is fixed now
![image](https://user-images.githubusercontent.com/17010094/99504710-cea99780-2977-11eb-93b1-ffeb13120296.png)

[2020-11-18 08:27] #12712 closed

[2020-11-18 10:13] d4mr commented on #6916
No matter what I try, cloning of chromium always ends up failing. So far I have wasted 100GiB+, tried changing the url in package.json to the SSH address of the chromium repository, I have tried building git from source to use OpenSSL instead of GnuTLS, and I tried increasing the git https buffer size to 10GiB, but nothing worked.

The one thing I couldn't try, which people recommend in scenarios

[2020-11-18 10:29] srirambv opened #12757 "[Widget] Flush cached balance when the widget is removed irrespective of network state"
## Description
Flush cache when the widget is removed irrespective of network state

## Steps to reproduce

   1. Connect widget
   2. Disconnect from the network
   3. Remove thewidget from the stack
   4. Readd widget to the stack
   5. Shows cached balance when the widget is already disconnected because it was removed from the stack

## Actual result
Cached value is shown when the widget is add

[2020-11-18 10:35] srirambv opened #12758 "[Widget] Add channel specific schema"
## Description
Add channel specific schema

## Steps to reproduce

   1. Install Release/Beta/Nightly channels
   2. Connect to Binance widget on Nightly
   3. Shows other installed versions during authorisation view
   4. Select Beta/Release and select always, switches but never allows you to authorise nightly to connect to the widget
   5. Only way to connect is to uninstall other channels and t

[2020-11-18 10:48] GeetaSarvadnya opened #12759 "Brave crashes after clicking on `Sync`, `About Brave` and `Settings` menus in 1.17.70"
## Description

Brave crashes after clicking on `Sync`, `About Brave` and `Settings` menus in 1.17.70

## Steps to Reproduce

   1. Clean or upgraded profile 1.17.70
   2. Open hamburger menu, click on `Sync`, `About Brave` and `Settings` menus
   3. Brave crashes

## Actual result:

Crash

## Expected result:
No crash

## Reproduces how often:

Always

## Brave version (brave://version info)

Bra

[2020-11-18 10:51] srirambv commented on #12667
Verification passed on following devices running 1.17.70 x64 build
- Verified `You converted x.xx tokens to y.yy token!` message is shown

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99520428-fc4c0c00-298a-11eb-830e-007e17efdeb4.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/9952110

[2020-11-18 10:53] AlexeyBarabash commented on #12759
Maybe it can be related with CHECK mentioned in https://github.com/brave/brave-core/pull/7121#issuecomment-729174574

https://source.chromium.org/chromium/chromium/src/+/master:content/public/browser/web_ui_message_handler.h;l=125;drc=f50df03b5c021e63d80ecf09ea452fa9976071ea;bpv=1;bpt=1?q=content%2Fpublic%2Fbrowser%2Fweb_ui_message_handler.h&ss=chromium%2Fchromium%2Fsrc
[code]
But for me it wasn't

[2020-11-18 10:58] srirambv commented on #12668
Verification passed on following devices running 1.17.70 x64 build
- Verified `You converted x.xx tokens to y.yy token!` message is shown after successful conversion

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99520428-fc4c0c00-298a-11eb-830e-007e17efdeb4.png> | <img width=400 src=https://user-images.githubuser

[2020-11-18 10:58] #12719 closed

[2020-11-18 11:03] srirambv commented on #12690
Verification passed on OnePlus 6T with Android 10 running 1.17.70 x64 build
- Verified when no network is there the bottom sheet is dismissed and widget is disconnected
-----------
Verification passed on Samsung Tab A with Android 10 running 1.17.70 x64 build
- Verified when no network is there the bottom sheet is dismissed and widget is disconnected

[2020-11-18 11:04] srirambv commented on #12690
This issue is superseded by #12735  when caching will be introduced.

[2020-11-18 11:28] srirambv commented on #12686
Verification passed on the following devices running 1.17.7bin0 x64 build
- Verified no Binance widget is shown on a clean install or on an upgrade

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99524757-d1fd4d00-2990-11eb-9ade-61bb844cbdb5.gif> | <img width=400 src=https://user-images.githubusercontent.com/170100

[2020-11-18 12:10] mhatvan commented on #12195
Update: Additionally, all the sites I viewed previously that were in the auto-contribute section disappear and I have to revisit them to show up again.

[2020-11-18 12:16] mhatvan opened #12760 "Brave rewards shows chrome://rewards in URL bar"
## Steps to reproduce

   1. Open Brave Rewarsd
   2. Check the displayed URL

## Actual result

Shows `chrome://rewards` on Android

## Expected result
Should be `brave://rewards` like on Desktop

[2020-11-18 12:34] LaurenWags commented on #12759
Reproduces on macOS with the below build

Brave | 1.17.70 Chromium: 87.0.4280.60 (Official Build) (x86_64)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}
OS | macOS Version 10.14.6 (Build 18G6042)

Crash Report IDs:
11a70000-0b46-6205-0000-000000000000
13a70000-0b46-6205-0000-000000000000
18a70000-0b46-6205-0000-000000000000

Could not reproduce with pre

[2020-11-18 12:35] srirambv commented on #12760
Will be fixed when https://github.com/brave/brave-browser/issues/9427 is done. Closing as dupe of https://github.com/brave/brave-browser/issues/9427

[2020-11-18 12:35] #12760 closed

[2020-11-18 12:36] srirambv commented on #9427
+1 from @mhatvan for `chrome://rewards` via #12760

[2020-11-18 12:49] GeetaSarvadnya commented on #12759
Crash Report Id's collected from `Windows 10 x64 - 1.17.70`

8ba70000-0b46-6205-0000-000000000000
fca70000-0b46-6205-0000-000000000000
06a80000-0b46-6205-0000-000000000000

[2020-11-18 12:52] AlexeyBarabash commented on #12759
Crashes here https://source.chromium.org/chromium/chromium/src/+/master:ui/base/template_expressions.cc;l=167;drc=f50df03b5c021e63d80ecf09ea452fa9976071ea;bpv=1;bpt=1?q=bool%20ReplaceTemplateExpressionsInternal&ss=chromium%2Fchromium%2Fsrc

not related to the thing I mentioned above

[2020-11-18 13:04] luisfelipesdn12 opened #12761 "Different icon for file formats that open in Brave"
## Description
File formats that open in Brave show as the same app icon, which is very confusing to the user. Update the file format icon with a Brave branded graphic that differs from the app icon.

Original description:

## Steps to Reproduce
1. Define the Brave as the main PDF opener.
2. Download some PDF file.
3. See that file on a file manager.

## Actual result:
The file icon is the same th

[2020-11-18 13:10] samartnik opened #12762 "[Android] Add ability to run tests on physical device or manually run emulator"
## Description
Currently tests a are set up to run on predefined emulator, we need an ability to run tests on physical device or manually run emulator for debugging purposes.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version?
- Can you re

[2020-11-18 13:15] marcmv1 commented on #12759
Same behavior for me on 1.17.70. Windows 10 20H2, 64 bit Brave.

[2020-11-18 13:28] marcmv1 commented on #12759
Another data point... my browser string is still reading .60, the commit log says it was upgraded to .66.

Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.60 Safari/537.36

[2020-11-18 13:38] GeetaSarvadnya commented on #12411
Looks good hence closing the issue.

[2020-11-18 13:38] #12411 closed

[2020-11-18 14:41] mixedCase commented on #9075
@alexb7711 This is not a Brave issue, you need to setup your notification daemon properly. It needs to be run at startup in order for some applications (like Brave) to use it and you do need libnotify since it's the interface used by most applications to send the right messages.

See: https://wiki.archlinux.org/index.php/Desktop_notifications

Same should apply to you @nsklaus

I'll add libnotify

[2020-11-18 15:35] #11466 closed

[2020-11-18 15:38] Furax-31 commented on #8838
Hello, is the new interface for Brave Shield going to be on the Nightly version soon?

[2020-11-18 15:52] esmusssosein commented on #9264
Please Brave fix this issue.
I work 95 % in Fullscreen mode on Mac!

[2020-11-18 16:09] Azarattum opened #12765 "Alt + Number to switch tabs on Windows"
## Description

When using Alt+[Number] combination browser tabs are not switching on Windows. I'm aware that you can do it with Ctrl, but it much less practical as it requires to move your hand further away. However, on Linux both Alt and Ctrl work perfectly fine in Brave. And lots of application supports Alt+Number switching in Windows. So, I don't get why it doesn't work properly.

## Steps to

[2020-11-18 16:17] LaurenWags opened #12766 "[Desktop] location service status is mismatched in bubble and URL icon"
## Description

If you have location services enabled (System Preferences > Security and Privacy > Privacy) and Brave Browser is allowed to use them, sometimes you can get a mismatch in Brave's UI which is confusing.

## Steps to Reproduce

   1. Clean install 1.17.70
   2. Navigate to http://browserleaks.com/geo
   3. Allow browserleaks to know your location. Now look to right side of URL bar and

[2020-11-18 16:19] srirambv commented on #12699
Verification passed on

Brave | 1.17.70 Chromium: 87.0.4280.60 (Official Build) (64-bit)
-- | --
Revision | `12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}`
OS | Linux

- Verified BitCoin/Moonpay widget is removed from NTP card stack on clean install and upgrade
---------------
Verification passed on

Brave | 1.17.70 Chromium: 87.0.4280.60 (Official Build) (64-bit)
-- | --

[2020-11-18 16:32] LaurenWags commented on #12354
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/7105

Confirmed the `Customize Top Sites` toggle under the `Customization` modal as been removed:
<img width="734" alt="Screen Shot 2020-11-18 at 11 29 47 AM" src="https://user-images.githubusercontent.com/28145373/99558298-93b45d80-2991-11eb-8fc5-d01dd243cbc8.png">

Confirmed that `use_most_visited_tile

[2020-11-18 16:35] srirambv commented on #12759
Need to retest https://github.com/brave/brave-browser/issues/12699 once this is fixed for NTP settings

[2020-11-18 16:36] LaurenWags commented on #12378
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/7105

Confirmed the `Customize Top Sites` toggle under the `Customization` modal as been removed:
<img width="734" alt="Screen Shot 2020-11-18 at 11 29 47 AM" src="https://user-images.githubusercontent.com/28145373/99558298-93b45d80-2991-11eb-8fc5-d01dd243cbc8.png">

Confirmed that `use_most_visited_tile

[2020-11-18 16:45] kjozwiak commented on #11862
So it looks like it's now working with `1.17.70 CR: 87.0.4280.60`. However, the strange part is that `1.17.70 CR: 87.0.4280.60` doesn't include any fixes/code changes to anything related to geolocations. So it's possible that we have a bug in our build infra where sometimes it breaks and uses the wrong endpoint. @mihaiplesa @iefremov and @simonhong or taking a look to see what could have happened.

[2020-11-18 17:09] srirambv opened #12767 "[Widgets] Add translations for Binance widget messages"
## Description
Add translations for Binance widget messages

## Actual result
 <img width=400 src=https://user-images.githubusercontent.com/17010094/99521100-dffc9f00-298b-11eb-91f2-0f5f469185f5.png>

## Expected result
Should translate all text

## Issue reproduces how often
Easy

## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version? NA
- Can you rep

[2020-11-18 18:24] tmancey opened #12768 "Refactor BraveAds to use chrome::GetChannelName instead of brave::GetChannelName to remove layering violation"
`chrome::GetChannelName` should be passed to `AdsServiceImpl` in the factory to eliminate this layering violation

[2020-11-18 18:25] tmancey opened #12769 "Refactor BraveRewards to use chrome::GetChannelName instead of brave::GetChannelName to remove layering violation"
`chrome::GetChannelName` should be passed to `RewardsServiceImpl` in the factory to eliminate this layering violation

[2020-11-18 18:34] kjozwiak commented on #12759
Closing as https://github.com/brave/brave-core/pull/7183 & https://github.com/brave/brave-core/pull/7184 were merged.

[2020-11-18 18:34] #12759 closed

[2020-11-18 19:00] #12720 closed

[2020-11-18 19:00] #12733 closed

[2020-11-18 19:00] #12735 closed

[2020-11-18 19:00] #12736 closed

[2020-11-18 19:00] #12757 closed

[2020-11-18 19:12] diracdeltas commented on #12680
@karenkliu can we update these designs to remove the referral checkbox? my understanding is that this won't ship anyway until after the referral program is shut down in 5 days.

[2020-11-18 19:13] diracdeltas commented on #12679
@karenkliu same comment from https://github.com/brave/brave-browser/issues/12680#issuecomment-729895096 applies here

[2020-11-18 19:29] LaurenWags commented on #12653
Verified passed with

[code]

Verified test plan from https://github.com/brave/internal/issues/735

Confirmed 1st ad shown:

[code]

Confirmed after clicking on the ad that the 1st landing page was `travala.com`

Confirmed 2nd ad shown:

[code]

Confirmed after clicking on the ad that the 2nd landing page was `brave.com`

Verified test plan from https://github.com/brave/brave-core/pull/7127#issue-

[2020-11-18 19:31] LaurenWags commented on #12653
changing to `release-notes/exclude` since this was a regression caused by https://github.com/brave/brave-browser/issues/10488 which was implemented in this milestone. cc @tmancey @rebron @kjozwiak - if you disagree let me know and we can re-add to the release notes.

[2020-11-18 19:47] kjozwiak commented on #12754
`ARM` just needs to run through a reduced manual pass once `CR87` lands in `1.17.x` as a full manual pass was completed via https://github.com/brave/brave-browser/issues/12387.

[2020-11-18 19:48] kjozwiak commented on #12411
Thanks @GeetaSarvadnya. Awesome work!

[2020-11-18 19:49] darkdh commented on #7955
If you take a look at `ProxyConfigServiceTor::CircuitIsolationKey` closer, you will find out the logic is basically duplicate with `SwitchToRegistrableDomainAndRemovePort` in `net/base/network_isolation_key.cc`
So the idea is to remove the duplication and use `net::NetworkIsolationKey` directly so that the way we isolate the storage would be the same as we store circuit information

[2020-11-18 19:51] jeduardo opened #12770 "Window content disappears on Debian Buster when maximizing or switching virtual desktop"
## Description

When running Brave on Debian Buster, the Brave window contents disappear when one switches to a different virtual desktop and back to the main desktop (on i3/X11) or when the browser window is maximized (Gnome/X11).

The window contents come back if you open a new window, which forces a resize (i3/X11) or if you restore the window to its previous size (Gnome/X11).

## Steps to Repr

[2020-11-18 19:53] LaurenWags commented on #12264
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/7141#issue-520580575

Opened multiple tabs w/ in-line tip buttons. Examples:
 - https://twitter.com/emerick, https://twitter.com/bravelaurenwags
 - https://github.com/brave/brave-browser/issues/12527 and other issue links
 - https://github.com/brave/brave-core/commits/master
 - https://github.com/brave/b

[2020-11-18 19:53] LaurenWags commented on #12350
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/7141#issue-520580575

Opened multiple tabs w/ in-line tip buttons. Examples:
 - https://twitter.com/emerick, https://twitter.com/bravelaurenwags
 - https://github.com/brave/brave-browser/issues/12527 and other issue links
 - https://github.com/brave/brave-core/commits/master
 - https://github.com/brave/b

[2020-11-18 20:00] chris122380 commented on #12627
Same issue on Brave 1.17.70

[2020-11-18 20:01] LaurenWags commented on #12527
re-labeling as `release-notes/exclude` as this is superseded by https://github.com/brave/brave-browser/issues/12676

[2020-11-18 20:18] mariospr commented on #7955
@darkdh Thanks for the extra info, I'm now (virtually) attending BlinkOn but I'll look into this tomorrow and ask more questions if I have any (which I'm sure I will). Thanks again!

[2020-11-18 20:21] LaurenWags opened #12771 "[Desktop] Release Notes for 1.17.x Release #2 (Release Channel)"
### Release Notes:

- Brave 1.16.68 on Mac is reporting that WebGL GLSL highp precision isn't supported. ([#12366](https://github.com/brave/brave-browser/issues/12366))
- Google Maps trackpad zoom is oversensitive . ([#12310](https://github.com/brave/brave-browser/issues/12310))
- [Desktop] Improved top site tiles on the New Tab Page. ([#12772](https://github.com/brave/brave-browser/issues/12772))

[2020-11-18 20:27] #12428 closed

[2020-11-18 20:45] LaurenWags opened #12772 "[Desktop] Improved top site tiles on the New Tab Page"
Top site tiles on the New Tab Page were refactored as per https://github.com/brave/brave-core/pull/6584.

As a result, the following issues were resolved:
 - [Desktop] Top site behavior seems wrong / unpredictable. ([#11551](https://github.com/brave/brave-browser/issues/11551))
 - [Desktop] Top sites on New Tab Page are missing. ([#11500](https://github.com/brave/brave-browser/issues/11500))
 - To

[2020-11-18 20:45] #12772 closed

[2020-11-18 20:59] mkarolin commented on #12753
On Windows in Debug:
<pre>
$ src/out/Debug/brave_browser_tests.exe --enable-logging=stderr --v=0 --gtest_filter=BraveContentBrowserClientTest.RewriteChromeSync --single-process --renderer-process-limit=1
Note: Google Test filter = BraveContentBrowserClientTest.RewriteChromeSync
[==========] Running 1 test from 1 test suite.
[----------] Global test environment set-up.
[----------] 1 test from Brav

[2020-11-18 21:06] diracdeltas opened #12773 "disable Cache API in incognito/tor windows"
for parity with Firefox. reported in https://hackerone.com/bugs?report_id=1034653&subject=brave.

note: i have not verified this on Android but presumably we want the behavior to be the same there.

[2020-11-18 21:36] mbacchi opened #12774 "twitterTipsIconLabel displayed next to BAT icon in tweets in Twitter UI"
## Description

Occasionally, on the twitter website (twitter.com), a `twitterTipsIconLabel` will be displayed to the right of the BAT icon. A reload of the twitter website will fix the issue. It cannot be reproduced on demand, I don't know what causes it, but it happens from time to time.

## Steps to Reproduce

   1. Use twitter
   2. notice the `twitterTipsIconLabel` text to the right of the BA

[2020-11-18 21:46] diracdeltas commented on #12673
sorry it may not have been clear from https://github.com/brave/brave-browser/issues/12613#issuecomment-725010042, but this is a builtin part of Brave and is necessary for implementing some of our adblocking features. as such, we don't want to generally disable it for users in incognito mode.

if you want to test a site without this script getting injected, you can turn off adblocking in brave shie

[2020-11-18 22:12] diracdeltas commented on #12773
from @pes10k on slack:

[2020-11-18 22:13] diracdeltas opened #12775 "update newtab Tor text"
see https://bravesoftware.slack.com/archives/C85NV6NSG/p1605734221074800

[2020-11-18 22:17] mkarolin commented on #12753
I believe the fix for https://github.com/brave/brave-browser/issues/12759 also fixes this issue.

[2020-11-18 22:22] #12558 closed

[2020-11-18 22:22] jorgicio commented on #12759
I'm having the same issue in Linux.

[2020-11-18 22:29] bsclifton opened #12776 "Add link to Brave Together on New Tab Page"
## Description
On the NTP, there should be an icon for Brave Together
![image](https://user-images.githubusercontent.com/4733304/99595708-0e897280-29aa-11eb-8212-fee96c38967e.png)

This could be highlighted when new by using a flyout (see picture)

Clicking the link would open https://together.brave.com/widget in the same tab

cc: @jamesmudgett @jsecretan for anything I'm missing

[2020-11-18 22:34] jamesmudgett commented on #12776
[video-camera.svg.zip](https://github.com/brave/brave-browser/files/5563124/video-camera.svg.zip)

[2020-11-18 22:39] LaurenWags opened #12777 "WebGL shader API incorrectly being blocked in certain cases"
Several issues were reported which were all caused by WebGL shader API incorrectly being blocked in certain cases.

This was fixed with https://github.com/brave/brave-core/pull/7026 and as a result, the following issues were resolved:
- Map not showing on https://netmap.vodafone.de/cokart-client/index.html?lang=de&app=cokart_4x. ([#12448](https://github.com/brave/brave-browser/issues/12448))
- Bra

[2020-11-18 22:39] #12777 closed

[2020-11-18 22:43] bsclifton commented on #6916
Well dang, this sucks. What platform are you on @d4mr? Downloading the Chromium code (specifically the history) is what takes forever. You can download without history to speed things up. Per Chromium docs, would be like `fetch chromium --no-history`. You'd need to find in our code where we make the gclient fetch to append the `--no-history`. More info here (click through to OS specific notes):
ht

[2020-11-18 22:54] LaurenWags commented on #12774
hey @mbacchi 👋  this should be fixed with 1.18.56 and above per https://github.com/brave/brave-browser/issues/12350. Beta channel should get an update tomorrow with the fix. Let me know if it's still occurring for you once you get the update.

[2020-11-18 22:54] #12774 closed

[2020-11-18 23:14] JayDoubleu commented on #7710
Got it working by editing the brave-keyring rpm and removing %postcript lines which are causing the problem. I'm not sure if brave-browser depends on specific version of keyring so this might have to be repeated when they bump their keyring version.
After installing brave-keyring manually installation of brave-browser from repo works as expected.

- Create Brave.repo file
[code]
- Install "at" wit

[2020-11-18 23:55] bsclifton commented on #8838
@Furax-31 while we have some designs, no work has started yet

[2020-11-19 00:00] TheAresjej commented on #12708
Hi @ryanbr I don't really understand what you mean by enabled facebook in the shield settings. 😅 If I understand correctly, these settings work on a permission basis, so by turning them off, the buttons for logging in the pages should be blocked. 😄 - I checked in a private window and the effect is the same.

[2020-11-19 00:01] kjozwiak commented on #12727
Supersedes https://github.com/brave/brave-browser/issues/12741.

[2020-11-19 00:04] TheAresjej commented on #12706
The problem is that I don't use logging in through these services, that's why I disabled this option in the settings. Unfortunately, the login buttons are still available and in my opinion they shouldn't, because the description of their operation says that these options should be unlocked if someone uses them. 😋 @ryanbr

[2020-11-19 00:15] Tectract commented on #4621
Bump / reopen please. I'm experiencing this issue with the latest Brave and autoplay / shields settings is having no effect for me. Google meet will NOT play any sound, other sites play sound just fine.

[2020-11-19 00:26] d4mr commented on #6916
Once again, thanks a ton for your help and support @bsclifton.

Right now I'm trying to download with a VPN. And although the speeds are abysmal (around 250KiB/s) it's going well so far. I'll try it with `--no-history` if this fails too. Would I still be able to build brave without having the entire history? Why isn't this the default option then?

[2020-11-19 01:40] yrliou opened #12778 "Implement reverse URL rewrite for [ipfs|ipns].localhost URLs"
With this implemented, the virtual URL that will be shown on the URL bar will be rewritten back to ipfs:// or ipns:// from [ipfs|ipns].localhost URLs.

[2020-11-19 01:57] btlechowski commented on #12410
LGTM

Verification passed on

Brave | 1.17.70 Chromium: 87.0.4280.60 (Official Build) (64-bit)
-- | --
Revision | 12697cfeb273d7de95cf9b18350d2c457f58224c-refs/branch-heads/4280@{#1352}
OS | Ubuntu 18.04 LTS

`Sync chain created in previous version is retained` and `Social media blocking buttons changes are retained` were tested on  1.17.69

[2020-11-19 01:57] #12410 closed

[2020-11-19 02:11] #9075 closed

[2020-11-19 02:52] ryanbr commented on #12734
Thanks for the help @ristein It should work without needing Easylist Cookies. That said, you can still use Easylist Cookies.

Will keep this open for the next few days to confirm.

[2020-11-19 02:57] ryanbr commented on #12086
@LazyyCoder  which GPU do you have? does switching from the open source drivers to official binaries (or vice-versa) help?

I

[2020-11-19 03:41] nithinkodadhavadee commented on #12086
@bsclifton this was the report I found
Data exported | 2020-11-19T03:29:35.905Z
-- | --
Chrome version | Chrome/86.0.4240.193
Operating system | Linux 5.4.0-53-generic
Software rendering list URL | https://chromium.googlesource.com/chromium/src/+/4b1dc838fc8d2b55f2147e7a642b20baf443da5c/gpu/config/software_rendering_list.json
Driver bug list URL | https://chromium.googlesource.com/chromium/src/+/4

[2020-11-19 03:51] uc-asv commented on #2802
Hi, I have also the same issue. Speech synthesis API is not working on the brave browser and working in all the other browser is there any solution for this?

[2020-11-19 03:52] uc-asv commented on #3618
Hi, I have also the same issue. Speech synthesis API is not working on the brave browser and working in all the other browser is there any solution for this?

[2020-11-19 04:48] #12429 closed

[2020-11-19 04:48] #12470 closed

[2020-11-19 04:48] #12650 closed

[2020-11-19 04:58] #12409 closed

[2020-11-19 05:30] kjozwiak opened #12779 "Resizing windows while brave://newtab is active feels janky when Brave Today is enabled"
## Description

When you have `brave://newtab` as the active tab and have `Brave Today` enabled, resizing the window will jank a bit compared to resizing without Brave Today enabled.

## Steps to Reproduce

   1. launch a brave version that has `Brave Today` enabled
   2. make sure that `brave://newtab` is the active tab
   3. start resizing the window

## Actual result:

Brave appears janky when

[2020-11-19 05:46] ristein commented on #12734
thank you @ryanbr
Do you mean, it will work after the next update?
It doesn't yet

[2020-11-19 06:44] kjozwiak commented on #12750
#### **`macOS 10.15 Catalina - PASSED`**

Verification **PASSED** using the following build:

[code]

<img width="317" alt="Screen Shot 2020-11-19 at 12 37 34 AM" src="https://user-images.githubusercontent.com/2602313/99626206-15df6900-2a08-11eb-96f7-b97bc13be433.png">

[code]

[code]

#### **`macOS 10.13 High Sierra - PASSED`**

Verification **PASSED** using the following build:

[code]

<img wid

[2020-11-19 07:00] bsclifton commented on #12734
@ristein yup! We upload new rules daily which the browser will fetch and update with 😄 Within 24 hours, a new version should roll out. Browser should check for updates periodically (every 30 mins?) but you can force the check by closing browser + re-opening

[2020-11-19 07:01] bsclifton commented on #3618
@uc-asv unfortunately, no solution (yet). You can subscribe to issue https://github.com/brave/brave-browser/issues/2802 for more information

[2020-11-19 07:04] bsclifton commented on #4621
@Tectract you might visit brave://settings/socialBlocking and then enable `Allow Google login buttons on third party sites`. Let us know if that helps

[2020-11-19 07:06] uc-asv commented on #3618
Our user has reported the issue in mac but it seems to working fine in windows brave browser (latest release). So is this issue is occurring in mac?

[2020-11-19 07:07] bsclifton commented on #12706
This is interesting - the buttons may show, but without the switch enabled I don't think it works. Because the screenshot shows the Facebook button being first party (ex: it's not loaded off facebook.com, is it?) I don't think there's a way to block showing it

[2020-11-19 07:08] bsclifton commented on #12708
Similar to comment in https://github.com/brave/brave-browser/issues/12706 - is the Facebook button actually loading from facebook.com? You can check by opening the F12 dev tools and then going to network tab. You should see all the requests when you reload the page

[2020-11-19 07:10] bsclifton commented on #12708
OK I just verified on twitch.tv that this FB button is first party. ex: it's an SVG and div being served from twitch.tv, not facebook.com. We don't have a way to block this as there is not an automated way to block something like this ☹️

[2020-11-19 07:15] bsclifton commented on #3618
It's very possible it's macOS only - do you mind sharing that in #2802? It may help us narrow it down

[2020-11-19 07:38] pniedzwiedzinski opened #12780 "Brave slows down drastically if more than one window is open"
## Description
Recently I updated brave from 1.12.112 to 1.15.76 (I don't know if an update is the case, but that information might be useful). And after a while, I noticed that sometimes the browser lags to the point that some sites are unusable (scrolling takes like 4s to start). My first thought was that I'm tight on ram and a lot of cards open - and that was true. But that also happens with on

[2020-11-19 09:53] GeetaSarvadnya commented on #12423
Verification passed on

[code]
- Verified STR from the description
![image](https://user-images.githubusercontent.com/38657976/99650135-0cdbaf80-2a7b-11eb-9427-5a6519f56cea.png)
![image](https://user-images.githubusercontent.com/38657976/99650176-1a913500-2a7b-11eb-9e63-5e9845e9b702.png)

[2020-11-19 10:08] srirambv commented on #12741
Verification passed on the following devices running 1.17.71 x64 build

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99651874-0f281480-2a4f-11eb-8693-08be250e53b5.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/99651901-15b68c00-2a4f-11eb-98dc-58dd8d1de90a.png>

[2020-11-19 10:13] srirambv commented on #12720
Verification passed on the following devices running 1.17.71 x64 RC build

OnePlus 6T (Android 10) | Samsung Tab A (Android 10)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/99652413-b311c000-2a4f-11eb-9616-689e33a18795.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/99652443-befd8200-2a4f-11eb-9a5c-e174ecbdbe9f.png>

[2020-11-19 10:20] NorthBlue333 commented on #12442
Same issue here.
Also, I set Brave as the default browser in my Preferred Applications, and this works (when I open links from external applications it opens it within my current instance of Brave or a new one if there is none), but whenever a new window of Brave is opened, I have the banner "Make Brave your default browser" and clicking the button does nothing (same for the one in the settings).

[2020-11-19 10:21] GeetaSarvadnya commented on #12456
Verification passed on

[code]
- Verified STR from the description and ensured blank new Tab page settings is applicable only for Normal window tabs

**Normal window tabs:**
![image](https://user-images.githubusercontent.com/38657976/99653216-c425f580-2a7e-11eb-9f88-1c1177e8845b.png)

**Private window tabs**
![image](https://user-images.githubusercontent.com/38657976/99653298-dbfd7980-2a7e-11eb-97

[2020-11-19 10:28] srirambv commented on #12733
Verification passed on OnePlus 6T with Android 10 running 1.17.71 x64 RC build
- Verified confirmation countdown doesn't stop when network is lost
- Verified preview conversion is dismissed when countdown completes irrespective of network state
- Verified check your network connection message is shown when tapped on confirm button when network is lost and also dismisses the preview conversion view

[2020-11-19 10:39] GeetaSarvadnya opened #12781 "Follow up of #5720 - favicon for verified vimeo publisher is incorrect in auto-contribution table"
## Description

Follow up of #5720 - favicon for verified vimeo publisher is incorrect

## Steps to Reproduce

   1. Follow the steps/STR from #5720

## Actual result:

AC table - Vimeo pubs are not gettig added just domain is getting added into AC table
![image](https://user-images.githubusercontent.com/38657976/99654588-8e820c00-2a80-11eb-9c5f-caaeec0f64b7.png)

Tipping Banner - There is no publ

[2020-11-19 10:40] GeetaSarvadnya commented on #5720
Verification passed on

[code]
- Issue is not fixed, logged a follow-up issue https://github.com/brave/brave-browser/issues/12781

[2020-11-19 10:44] GeetaSarvadnya commented on #12781
@emerick Do i need to install the GS script inorder to test issue #5720 in Beta channel `1.18.57`? Please let me know.

[2020-11-19 10:56] srirambv commented on #12735
Verification passed on OnePlus 6T with Android 10 running 1.17.71 x64 build
- Verified when the device is offline, tapping on the widget shows a connection error message
   <img width=300 src=https://user-images.githubusercontent.com/17010094/99655007-0fc2aa00-2a53-11eb-9e18-78c63b23f2c4.png>

- Verified bottom sheet shows `Please check your network` message when the device is offline but the bott

[2020-11-19 10:57] GeetaSarvadnya commented on #11738
Verification passed on

[code]
- Verified the STR from the description

Light mode:
![image](https://user-images.githubusercontent.com/38657976/99656601-1cf78d00-2a83-11eb-9198-69e3ce552d9c.png)

Dark mode:
![image](https://user-images.githubusercontent.com/38657976/99656761-4e705880-2a83-11eb-975e-7cafa32d7d66.png)

[2020-11-19 11:01] srirambv commented on #12757
Verification passed on OnePlus 6T with Android 10 running 1.17.71 x64 build
- Verified  account balance is not cached and shown when the widget is removed and added back via edit stack
------------
Verification passed on Samsung Tab A with Android 10 running 1.17.71 x64 build
- Verified  account balance is not cached and shown when the widget is removed and added back via edit stack

[2020-11-19 11:08] GeetaSarvadnya commented on #12759
Verification passed on

[code]

- Verified STR from the description and ensured there is no crash after clicking on `Sync`, `Settings` and `About Brave` menus
- Verified all the menu options from the 3 dot menu ( Customize and control brave) options and ensured there is no crash
- Verified PT/TOR/Guest window and ensured all the tabs are working fine
- Verified few settings randomly in brave://set

[2020-11-19 11:12] ashutoshsaboo opened #12782 "Add Brave's `Shields` setting to brave://settings/content"
## Description (edited by @bsclifton)
brave://settings/content currently shows **Permissions** and **Content settings**.

We should also show **Shield settings**:
- Shield status (`up` / `down` or `enabled` / `disabled`)
- Upgrade connections to HTTPS (`true` / `false`)

![image](https://user-images.githubusercontent.com/4733304/184256401-9c28a6a9-f3c7-4a39-aff8-7f8bc8c40e65.png)

When showing the

[2020-11-19 11:18] srirambv commented on #11658
Verification passed on OnePlus 6T with Android 10 running 1.17.71 x64 RC build
- Verified on a clean install NTP shows widgets
- Verified default widget is privacy stats
- Verified Privacy Stats/Favourites/Binance is the order of widget stack
- Verified able to scroll up or down on the widget stack
- Verified widget can be added/removed by selecting `Remove widget` via widget menu
- Verified widge

[2020-11-19 11:20] srirambv commented on #12736
Verification passed on OnePlus 6T with Android 10 running 1.17.71 x64 build
- Verified no race condition while converting asset after disconnecting and reconnecting from network
------------
Verification passed on Samsung Tab A with Android 10 running 1.17.71 x64 build
- Verified no race condition while converting asset after disconnecting and reconnecting from network

[2020-11-19 11:29] moritzhaller opened #12783 "Crash on 1.19.x when enabling ads due to wrong type in prefs"
## Description

Crash on 1.19.x when enabling ads due to wrong type in prefs

## Steps to Reproduce

   1. start browser on fresh profile
   2. enable ads (both popup and preferences reproduce)

## Actual result:

crash

## Expected result:
shouldn't crash

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the cu

[2020-11-19 11:33] #12783 closed

[2020-11-19 11:44] srirambv commented on #12699
Verification passed on

Brave | 1.17.71 Chromium: 87.0.4280.66 (Official Build) (64-bit)
-- | --
Revision | `fd98a29dd59b36f71e4741332c9ad5bda42094bf-refs/branch-heads/4280@{#1432}`
OS | Linux

- Verified BitCoin/Moonpay widget entry is removed from New Tab Page section under settings
---------------
Verification passed on

Brave | 1.17.71 Chromium: 87.0.4280.66 (Official Build) (64-bit)
-- | --
R

[2020-11-19 12:07] srirambv opened #12784 "Open link in browser via custom tabs causes menu to show on top and bottom"
## Description
Open link in browser via custom tabs causes menu to show on top and bottom

## Steps to reproduce

   1. Open a link in custom tab
   2. Open menu and click open link in browser
   3. Switches to browser, has both top and bottom menu

## Actual result
https://bravesoftware.slack.com/archives/C0816QH3R/p1605787228433900
![customtabs](https://user-images.githubusercontent.com/17010094

[2020-11-19 12:10] GeetaSarvadnya opened #12785 "Open any links from gmail or slack via Brave is causing the crash"
## Description
Open any links from gmail or slack via Brave is causing the crash

## Steps to reproduce

   1. Clean profile `1.17.71`
   2. Open link from Gmail or slack via Brave
   3. Brave crashes

## Actual result
Crash

## Expected result
No crash

## Issue reproduces how often

Always
## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version? No
- C

[2020-11-19 12:19] Snorkeldink commented on #1851
+1

[2020-11-19 12:46] LaurenWags commented on #12785
Reproduced on LG Nexus 5 with Android 5.1 running 1.17.71 Bravearm.apk. Doesn't matter if Brave is open in the background or not.

Steps:
1. Clean profile 1.17.71 (so Custom Tabs are enabled in settings)
2. Leave Brave open in background or not, doesn't matter
3. Open Slack
4. Find a link
5. Tap on it, when prompted to choose browser, I chose Brave
6. Link starts to open and then crash

Note, does

[2020-11-19 13:08] LaurenWags commented on #12785
Also reproduces on Asus Zenfone (x86) with Android 6.0 running 1.17.71 Bravex86.apk. Used same steps as above.

[2020-11-19 13:28] btlechowski commented on #12785
Does not crash on Brave v1.17.71 on Samsung Galaxy Tab S5e (Android 9.0)

[2020-11-19 14:55] GeetaSarvadnya commented on #7766
Custom tipping amounts are also not shown correctly in Android. Reproduced in 1.17.x

Desktop:
![image](https://user-images.githubusercontent.com/38657976/99682523-4d502300-2aa5-11eb-914c-4efe17793cf1.png)

Android:
![image](https://user-images.githubusercontent.com/38657976/99682563-5ccf6c00-2aa5-11eb-9ede-d03c71bac061.png)

[2020-11-19 15:04] emerick commented on #12781
@GeetaSarvadnya No, you just have to verify in brave://components that you have the latest version of the `Brave Local Data Updater` (it should be `1.0.38` currently).

[2020-11-19 15:07] jonathansampson opened #12786 "CMD+Tab Away from Brave and Back Doesn't Focus Last-Used Window"
## Description
When a user has created multiple Brave windows, CMD-switching away from the app and back will result in the _newest_ window being focused, instead of the last-used window. [Reported on Twitter](https://twitter.com/davidwalshblog/status/1329430602257473536).

![image](https://user-images.githubusercontent.com/815158/99683189-b011d200-2a45-11eb-9bed-092da6df56df.png)

## Steps to Repr

[2020-11-19 15:08] jonathansampson commented on #12786
I'm **not able** to reproduce this with Brave 1.16.76 on macOS 11.0.1.

### Steps Taken:
1. I created 2 Brave windows, and
2. selected the first (earlier) window.
3. CMD-switched away to Finder, then back to Brave.

It selected the earlier window. I also tried with both windows in Full Screen.

[2020-11-19 15:40] samartnik opened #12787 "[Android] Bytecode: discover why bytecode changes are not applied for older Android versions"
## Description
Particularly these changes were not applied https://github.com/brave/brave-core/pull/7193
We need to discover why this happens and move these changes back.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Version/Channel Information:

- Can you reproduce this issue with the current Play Store version?
- Can you reprod

[2020-11-19 15:58] xstable commented on #12673
@diracdeltas please don't close all the tickets directly, but let me reply before you close.
I've disabled the adblocking, and that's why I've open this issue... because at least after disabling this feature, it shouldn't appear in the incognito-mode... or am I wrong?!?

[2020-11-19 15:59] mrobinson opened #12788 "Add ephemeral storage support for network cookies"
#12591 tracks adding ephemeral storage support for `document.cookie`, but Brave also needs support for cookies from HTTP headers.

[2020-11-19 16:00] mrobinson opened #12789 "Ephemeral storage should work when third-party cookies are blocked"
Currently ephemeral storage is only used when third-party cookies are unblocked. This ticket addresses changing that behavior so that ephemeral storage is only used when:
 1. The ephemeral storage configuration flag is turned on.
 2. Ephemeral storage knows how to ephemerally store a particular type of storage.
 3. That storage is used in a third-party iframe.
 4. That storage would otherwise be b

[2020-11-19 16:03] xstable commented on #12673
@bsclifton @diracdeltas
![image](https://user-images.githubusercontent.com/1778068/99691033-0f450600-2a89-11eb-95c2-425f6a3fc150.png)

[2020-11-19 16:03] mrobinson opened #12790 "Do not use ephemeral storage for third-party domains that block cookies with a domain override"
In Chromium settings, it is possible to selectively block storage for specific domains. These domains should not be able to access ephemeral storage. This requires differentiating between storage that is blocked due to blocking third party cookies or storage that is blocked due to a domain override.

[2020-11-19 16:10] anisg opened #12791 "Third party cookies blocked in an Chrome extension Iframe"
## Description
Brave Shield is blocking third-party cookies to prevent user-tracking, it's great but there is a small corner case:

I have a Chrome Extension that inject an html iframe inside a web page.
<img src="https://user-images.githubusercontent.com/17178399/99690754-c68d4d00-2a88-11eb-86cb-b013fbc2f402.png" width="40%">
(here on top right is the iframe)

The iframe have as source (src): chr

[2020-11-19 16:14] dbart commented on #12353
Yes, middle click is working again for me after updating to the version below. Thank you!

Version 1.16.76 Chromium: 86.0.4240.198 (Official Build) (64-bit)

[2020-11-19 16:46] btlechowski commented on #12755
LGTM

Verification passed on Brave v1.17.71 on Samsung Galaxy Tab S5e (Android 9.0)

[2020-11-19 16:46] #12755 closed

[2020-11-19 16:46] LaurenWags commented on #12676
removing `release-notes/include` as this is superseded by https://github.com/brave/brave-browser/issues/12741

[2020-11-19 16:49] diracdeltas commented on #12673
@pes10k is this expected?

On Thu, Nov 19, 2020 at 08:03 Samuel Suther <notifications@github.com>
wrote:

[2020-11-19 16:50] #12785 closed

[2020-11-19 16:52] jonathansampson commented on #12786
Original user [responded](https://twitter.com/davidwalshblog/status/1329466068918734848) saying they could no longer reproduce the issue. I'll close this ticket for now, but we can re-open later should the issue return (or other users experience the same).

![image](https://user-images.githubusercontent.com/815158/99697336-4699bf80-2a55-11eb-9950-59dcc4ae867b.png)

[2020-11-19 17:06] darkwing commented on #12786
I just got this to happen again:

![BraveWTFSwitching](https://user-images.githubusercontent.com/46655/99698550-88773580-2a56-11eb-8ff2-bfd9df4ae3d3.gif)

One regular window, the second a private window.  When I tab out of Brave when the first window is selected, then return, the second window is brought to the top.

[2020-11-19 17:20] rebron opened #12792 "Release Checklist for 1.17.x Release #1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check that Brave is pulling the correct Tor executable listed under https://github.com/brave/tor_build_scripts/blob/master/env.sh#L6
  - [x] macOS
  - [x] Windows
  - [x] Linux
- [x] Double check the previous rel

[2020-11-19 17:45] Cyberdroid1 commented on #11947
When will this issue be fixed?

[2020-11-19 17:48] GeetaSarvadnya commented on #12754
Looks good hence closing the issue

[2020-11-19 17:48] #12754 closed

[2020-11-19 17:56] LaurenWags commented on #10343
Does not reproduce on android with 1.16.76 but does reproduce with 1.17.71.

[2020-11-19 18:11] mkarolin opened #12793 "Upgrade from Chromium 87.0.4280.66 to Chromium 87.0.4280.67."
Minor Chromium bump.

https://chromium.googlesource.com/chromium/src/+log/87.0.4280.66..87.0.4280.67?pretty=fuller&n=10000

QA tests:

Check branding items
Check for version bump

No specific code changes in Brave (only line number changes in patches).

[2020-11-19 18:15] darkdh opened #12795 "Autoplay will have ask prompt if global content setting is toggled"
## Description

## Steps to Reproduce

   1. Visit `brave://settings/content/autoplay`
   2. Toggle the label from "Allowed"=>"Blocked" and then "Blocked"=>"Allowed
   3. Visit https://www.youtube.com/
   4. The prompt shows up

## Actual result:

<img width="317" alt="Screen Shot 2020-11-19 at 10 13 48" src="https://user-images.githubusercontent.com/11330831/99706496-01bf5a00-2a50-11eb-9446-24309

[2020-11-19 18:21] bsclifton commented on #12627
cc: @SergeyZhukovsky

[2020-11-19 18:27] bsclifton commented on #12761
This would be a great one to do; we could need to make icons for the .pdf handler. For example, Edge uses this for PDF (instead of the regular HTML icon). I think we'd need to register handlers for extensions we'd like an icon for (would need to look into that)
![image](https://user-images.githubusercontent.com/4733304/99707719-b148fc00-2a51-11eb-8b0d-c73e4c0c3a52.png)

cc: @karenkliu

[2020-11-19 18:27] PyICoder commented on #11947
I do not know, but I hope soon, because I use private alot.

[2020-11-19 18:32] bsclifton commented on #12753
Closing as it seems https://github.com/brave/brave-browser/issues/12759 does fix this 😄 Let's re-open if it happens again

[2020-11-19 18:32] #12753 closed

[2020-11-19 18:37] SergeyZhukovsky commented on #12627
Most likely related to that issue https://github.com/brave/brave-browser/issues/12745. The update is coming, should be available at the end of this week.

[2020-11-19 18:41] LaurenWags commented on #12785
Verification passed on Asus Zenfone (x86) with Android 6.0 running 1.17.72 Bravex86.apk
- Verified STR from description and from https://github.com/brave/brave-browser/issues/12785#issuecomment-730352801
- Confirmed no crash with default settings (Custom tabs on) and opening a link in a custom tab from Slack/Gmail
- Confirmed no crash when disabling Custom tabs and opening a link from Slack/Gmail

[2020-11-19 18:42] bsclifton commented on #11500
@MikeScotty this will roll out with the 1.17 release which is due to be released today. It's already fixed in Beta and Nightly

[2020-11-19 18:43] luisfelipesdn12 commented on #12761
### Look the Firefox approach:

![Firefox approach](https://i.imgur.com/jrQ3QUI.jpg)

### And in the Brave:

![Brave approach](https://i.imgur.com/oZv5k8M.jpg)

[2020-11-19 18:46] LaurenWags commented on #12756
Tests above verified on Asus Zenfone (x86) with Android 6.0 running 1.17.71 and 1.17.72 Bravex86.apk.

[2020-11-19 18:46] #12756 closed

[2020-11-19 18:46] bsclifton commented on #12709
cc: @marshall

[2020-11-19 18:52] chris122380 commented on #12627
I have been testing this on all the Brave preview 1.17.x release builds and still an issue. I'm willing to test this once a fix is available.

[2020-11-19 18:54] mrose17 opened #12796 "Let's make Greaselion more informative for debugging!"
## Description
At present, the only diagnostic logging occurs when there's an error in `Greaselion.json`

    ...:ERROR:greaselion_download_service.cc(234)] Failed to parse Greaselion configuration

Otherwise, everything is silent. It would make debugging Greaselion issues a lot easier if these additions were made when running with `--enable-logging --v=1`:

1. when there is a match against an ele

[2020-11-19 19:01] NejcZdovc commented on #7766
@GeetaSarvadnya android never had custom banners

[2020-11-19 19:02] ristein commented on #12734
issue resolved. thank you

[2020-11-19 19:02] iefremov opened #12797 "Crash in plugins farbling"
[code]

https://brave.sp.backtrace.io/p/brave/debug?time=all&filters=((callstack%2Ccontains%2Cbrave%3A%3AFarblePlugins))&debug=(bcafcd,0,0)

[2020-11-19 19:14] #12734 closed

[2020-11-19 19:33] #12353 closed

[2020-11-19 19:36] bsclifton commented on #6916
@d4mr you can download the Chromium parts without the history and it should compile, but that can complicate things when we do patches. Having the history is useful. Would be great to verify though. at 250KiB/s, it's definitely going to take a while (I had a similar connection at our place in Mexico and it took almost a full day to get history).  Once you have the history though, it only needs to

[2020-11-19 19:43] iefremov opened #12798 "Crash in ProxyConfigServiceTor"
[code]
https://brave.sp.backtrace.io/p/brave/explore?time=all&filters=((callstack%2Ccontains%2Cnet%3A%3AProxyConfigServiceTor%3A%3ASetProxyAuthorization))&aggregations=((ver%2Cmax)%2C(callstack%2Chead))&

[2020-11-19 20:00] pes10k commented on #12673
Hi @xstable , just to explain a bit more about what you're seeing, that code is extension script that gets loaded for each page.  That ~3ms you're seeing reflects that the script is quite small.  However, it doesn't actually interact with the page in anyway when shields is off.  You can see this in the [pre-bundled script source](https://github.com/brave/brave-core/blob/master/components/brave_ext

[2020-11-19 20:00] #12673 closed

[2020-11-19 20:01] gojomo commented on #12701
Thanks! Indeed, I can trigger a similar failure in Chrome now by choosing `https`.

But, there's no way to use `http` in Brave. All attempts are immediately redirecting to `https`. It looks like a "307 Internal Redirect" happening from the server "Google Frontend". But it aslo appears the Brave request included a "Upgrade-Insecure-Requests: 1" header. So I'm not sure if the cause is a Brave policy

[2020-11-19 20:24] Hongbo-Miao opened #12799 "Brave Nightly keeps crashing after updating"
## Description

My Brave Nightly just updated by itself. But now it keeps crashing a few seconds after I open it.

## Brave version (brave://version info)

Brave	1.19.21 Chromium: 87.0.4280.66 (Official Build) nightly (x86_64)
Revision	fd98a29dd59b36f71e4741332c9ad5bda42094bf-refs/branch-heads/4280@{#1432}
OS	macOS Version 10.15.7 (Build 19H15)
JavaScript	V8 8.7.220.25
Flash	(Disabled)
User Agent

[2020-11-19 20:27] SXMacdara commented on #11500
Excellent

On Thu, Nov 19, 2020 at 10:42 AM Brian Clifton <notifications@github.com>
wrote:

[2020-11-19 20:45] btlechowski commented on #12749
Verification passed on

Brave | 1.17.71 Chromium: 87.0.4280.66 (Official Build) (64-bit)
-- | --
Revision | fd98a29dd59b36f71e4741332c9ad5bda42094bf-refs/branch-heads/4280@{#1432}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/99721489-9ad18d80-2aaf-11eb-8649-f70eb4ae2ac5.png)

[code]

[2020-11-19 20:45] #12749 closed

[2020-11-19 21:01] #12795 closed

[2020-11-19 21:05] BxOxSxS commented on #12799
Can reproduce on Manjaro linux and Windows It does not crash with internet connection down or brave rewards off (it can be used to make temporally fix)
Log from terminal:
[code]

[2020-11-19 21:10] #12750 closed

[2020-11-19 21:10] sojusnik commented on #5717
As a temporary workaround, hopefully this gets fixed soon, I'm using [this](https://chrome.google.com/webstore/detail/scroll-speed/mfmhdfkinffhnfhaalnabffcfjgcmdhl) simple extension to adjust the scroll speed.

[2020-11-19 21:13] BxOxSxS commented on #12799
Same with 1.19.20 (i downgraded package for test)
Brave version: (brave://version info)
Brave 1.19.21 Chromium: 87.0.4280.66 (Official Build)
Revision fd98a29dd59b36f71e4741332c9ad5bda42094bf-refs/branch-heads/4280@{#1432}
OS Linux

JavaScript V8 8.7.220.25
Flash (Disabled)
User Agent Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
Command /

[2020-11-19 21:17] Zefferis commented on #2270
Gonna do a revival on this issue;

I'm currently using bitwarden's browser extension as my password manager and it's unable to work on sites that I've blocked javascript on; the site's use of javascript and my extensions use of javascript are different; so they should also have unique blocking rules and exceptions.

It's a tad annoying having to enable javascript on a whole site so I can use my pa

[2020-11-19 21:40] #12778 closed

[2020-11-19 21:49] #12295 closed

[2020-11-19 21:49] #12396 closed

[2020-11-19 21:58] btlechowski opened #12800 "Sometimes page loading bypasses Tor network"
The page is loaded normally in Tor Window

This is not a regression

## Steps to Reproduce

1. Clean profile
1. Open Tor Window and immediately close it
1. Open Tor Window
1. Open check.torproject.org

Note: check the recording

![tor_fail](https://user-images.githubusercontent.com/34715963/99728390-acb82e00-2ab9-11eb-8775-1954ff69ec55.gif)

## Actual result:

Page bypasses Tor network
Page is loa

[2020-11-19 22:02] karenkliu commented on #12680
For Windows, it sounds like the download page is not a good place for these checkboxes since it can't pass the `make default` checkbox and the user could install Brave from somewhere other than the download.

For MacOS, we'll use the `first_run` dialog to show these checkboxes so there's no need to worry about passing it from the download page. The MacOS issue is here: https://github.com/brave/bra

[2020-11-19 22:03] karenkliu commented on #12680
@PrivacyMatters Rafael wanted your input on the updated P3A text in the Brave Shields slide. WDYT?
![image](https://user-images.githubusercontent.com/2388823/99729546-ef551880-2a6f-11eb-80db-39d49eaf3256.png)

[2020-11-19 22:05] karenkliu commented on #12203
@rebron When do you want this to dialog to show again if the user selects "not now" ?

[2020-11-19 22:05] bbondy opened #12801 "IPFS P3A should be added to the whitelist"
IPFS P3A is not working because the names are not whitelisted. This task is to whitelist them.

[2020-11-19 22:26] btlechowski commented on #3512
Probably fixed by https://github.com/brave/brave-core/pull/7069

Added it to 1.19.x milestone so it can be retested.

[2020-11-19 22:26] #3512 closed

[2020-11-19 22:27] kjozwiak opened #12802 "Manual test run on macOS for 1.17.x Release #2"
#### Verifications specific to `1.17.x Release #2`

- [x] Upgrade from Chromium 87.0.4280.66 to Chromium 87.0.4280.67. #12793

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double

[2020-11-19 22:28] btlechowski commented on #12800
Probably fixed by https://github.com/brave/brave-core/pull/7069
I was not able to reproduce on

Brave | 1.19.22 Chromium: 87.0.4280.66 (Official Build) nightly (64-bit)
-- | --
Revision | fd98a29dd59b36f71e4741332c9ad5bda42094bf-refs/branch-heads/4280@{#1432}
OS | Ubuntu 18.04 LTS

Added it to 1.19.x milestone so it can be retested.

[2020-11-19 22:28] #12800 closed

[2020-11-19 22:28] kjozwiak opened #12803 "Manual test run on Linux for 1.17.x Release #2"
#### Verifications specific to `1.17.x Release #2`

- [x] Upgrade from Chromium 87.0.4280.66 to Chromium 87.0.4280.67. #12793

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double

[2020-11-19 22:29] kjozwiak opened #12804 "Manual test run on Win x64 for 1.17.x Release #2"
#### Verifications specific to `1.17.x Release #2`

- [x] Upgrade from Chromium 87.0.4280.66 to Chromium 87.0.4280.67. #12793

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double

[2020-11-19 22:41] #12361 closed

[2020-11-19 22:49] kjozwiak opened #12805 "Manual test run for Tor 1.0.13 component update on macOS"
#### **`macOS 11.0 Big Sur`**

#### Tor Client Updater

- [ ] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [ ] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [ ] Open `N

[2020-11-19 22:51] kjozwiak commented on #12805
Unfortunately we'll basically need to retest as the binary that was QA'd/checked via https://github.com/brave/brave-browser/issues/12750 was using an older OpenSSL library that needs updating.

[2020-11-19 22:54] kjozwiak opened #12806 "Manual test run for Tor 1.0.13 component update on Linux"
## Tor Client Updater

- [ ] For development go-update-server. Run brave-browser with `--user-data-dir=/tmp/component-dev --use-dev-goupdater-url` (These flags are only available in v1.7.x). Once the crx is pushed to production run without these flags.
- [ ] Navigate to `brave://components` and verify `Tor Client Updater (OS)` is updated successfully.
- [ ] Open `New Private Window with Tor` and c

[2020-11-19 22:56] kjozwiak commented on #12806
Unfortunately we'll need to retest as the binary that were QA'd/checked via https://github.com/brave/brave-browser/issues/12749 were using an older OpenSSL library that needs updating. @jumde will ping QA once we have new binaries that are using the updated  OpenSSL library.

[2020-11-19 23:11] Poopooracoocoo commented on #9899
also see #9900 for a *similar* issue @srirambv if you're there, could you close it? (i could but im testing to see if you guys still care about the android browser)

[2020-11-19 23:23] #12793 closed

[2020-11-20 00:39] #12784 closed

[2020-11-20 03:47] lcdss commented on #12799
Same here on Arch Linux:

OS: Arch Linux x86_64
Kernel: 5.9.9-zen1-1-zen

<details>
<summary>Logs</summary>
[5359:5359:1120/001020.762877:ERROR:vaapi_wrapper.cc(541)] vaInitialize failed: unknown libva error
[5359:5359:1120/001020.773948:ERROR:sandbox_linux.cc(374)] InitializeSandbox() called with multiple threads in process gpu-process.
[5334:5483:1120/001021.152333:ERROR:object_proxy.cc(621)] Fa

[2020-11-20 04:18] #11696 closed

[2020-11-20 05:59] kjozwiak commented on #12805
Closing as we're not going to be updated the OpenSSL library for this release do to some issues that @jumde found. https://github.com/brave/brave-browser/issues/12750 stands as valid 👍

[2020-11-20 05:59] #12805 closed

[2020-11-20 06:00] kjozwiak commented on #12806
Closing as we're not going to be updated the OpenSSL library for this release do to some issues that @jumde found. https://github.com/brave/brave-browser/issues/12749 stands as valid 👍

[2020-11-20 06:00] #12806 closed

[2020-11-20 06:26] Hongbo-Miao commented on #12799
My Brave Nightly got updated again.

[code]

This time, it doesn't crash any more.

[2020-11-20 06:36] bsclifton commented on #12799
I believe there was an issue that @tmancey had found and fixed; it should be resolved if you update to the latest version of Brave on Nightly. If you can't upgrade in-app (because it crashes), you'll likely have to reinstall from https://brave.com/download-nightly

I think we can close this - but can you confirm that 1.19.22 fixes the problem @lcdss @BxOxSxS ?

[2020-11-20 06:41] gio888 commented on #3318
This happens in Mac OSX as well (MacbookAir 2017, Catalina). And happens also in Chrome (Version 86.0.4240.198 (Official Build) (x86_64)). So it seems something in the common open source code.

This happens only when downloading and creating a new folder to download to. It doesn't to happen when you're not creating a new folder.

[2020-11-20 07:51] BxOxSxS commented on #12799
@bsclifton Works fine for me on 1.19.23

[2020-11-20 08:26] #12799 closed

[2020-11-20 08:47] GeetaSarvadnya commented on #12748
Verification passed with

[code]

![image](https://user-images.githubusercontent.com/38657976/99779478-1af10500-2b3b-11eb-9550-08bb05c4da9d.png)

[2020-11-20 11:04] ryanbr commented on #12722
How is this looking @HectorKroes ? Also a fix coming into Brave Beta will also help with the performance.

[2020-11-20 11:34] GeetaSarvadnya commented on #12793
Verification passed on

[code]
![image](https://user-images.githubusercontent.com/38657976/99795835-724e9f80-2b52-11eb-9655-6fce1f7cfe27.png)

[2020-11-20 12:13] GeetaSarvadnya commented on #12804
Looks good hence closing the issue.

[2020-11-20 12:13] #12804 closed

[2020-11-20 12:16] btlechowski commented on #12803
Verification passed on

Brave | 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)
-- | --
Revision | 0e5d92df40086cf0050c00f87b11da1b14580930-refs/branch-heads/4280@{#1441}
OS | Ubuntu 18.04 LTS

[2020-11-20 12:16] #12803 closed

[2020-11-20 12:19] Krusty27 commented on #7027
Any update? We would really like to switch to Brave on Android

[2020-11-20 12:24] theoturner commented on #12493
Bug still present in 1.16.76

[2020-11-20 12:51] LaurenWags commented on #12741
Relabeling as `release-notes/exclude` as this has been superseded by https://github.com/brave/brave-browser/issues/12793

[2020-11-20 13:11] samartnik opened #12809 "[Android] App crashes when Tab Groups or Conditional Tab Strip are enabled"
## Description
App crashes when `Tab Groups` or `Conditional Tab Strip` are enabled from `brave://flags`. `Tab Groups` don't work with bottom toolbar, so in this case we just need to disable it. `Conditional Tab Strip` uses different bottom control and thus bottom toolbar should also be disabled.

## Steps to reproduce

   1. Enable `Tab Groups` or `Conditional Tab Strip` from `brave://flags`.

[2020-11-20 13:30] GeetaSarvadnya opened #12810 "Favicons are not visible prominently in Dark mode"
## Description

favicons are not visible prominently in Dark mode

## Steps to Reproduce

   1. Open Brave 1.18.x
   2. Change appearance settings to Dark mode
   3. Visit brave://settings/cookies
   4. Open a PT window and visit any site
   5. Come back to brave://settings/cookies again
   6. favicons are not visible prominently in Dark mode

## Actual result:

favicons are not visible prominentl

[2020-11-20 13:33] LaurenWags commented on #12802
Tests above verified using

[code]

[2020-11-20 13:33] #12802 closed

[2020-11-20 13:39] GeetaSarvadnya commented on #12455
Thanks, @rebron @karenkliu and @darkdh - As per the above comments closing the issue as works as expected.

[2020-11-20 13:39] #12455 closed

[2020-11-20 13:57] GeetaSarvadnya opened #12812 "`VERIFY WALLET` button isn't functioning in the verify wallet modal popup."
## Description

 `VERIFY WALLET` button isn't functioning in the verify wallet modal popup.

## Steps to Reproduce

   1. Clean profile `1.18.57` launch brave using staging flags
   2. Open an NTP
   3. Click on the BR panel and observe the `Way to Go! Claim my Rewards` in the NTP
   4. Click on `Claim my Rewards` and clear the captcha test
   5. Click on BR panel and click on `X` in the `Earn Tok

[2020-11-20 14:09] emerick commented on #12812
@zenparsing Looks like it could be related to onboarding, given that console error.

[2020-11-20 14:13] aaronsantamaria commented on #2783
+1 Community
https://community.brave.com/t/is-it-possible-to-restore-previous-version-of-brave-for-features-that-were-lost/181197

[2020-11-20 14:40] AerosHawk commented on #5563
Can confirm this is still an ongoing issue.
I was also trying to find out if using webtorrent inside Brave protects you from sneaky ISPs, the same way that a VPN does..? Sorry, side point, but wasn't really able to find an answer and it led me here.

[2020-11-20 15:22] #12771 closed

[2020-11-20 15:28] flyme2bluemoon commented on #12786
I was not able to reproduce this on macOS Catalina 10.15.7 in brave version V1.16.76 either. I created two brave windows (tried with different combinations as well). Switched to messages then to finder and finally back to Brave and it was the last focused window.

[2020-11-20 15:28] chris122380 commented on #12627
Is still happening with release preview of Brave 1.17.73

[2020-11-20 15:39] AlexeyBarabash commented on #11434
I can't reproduced. Tried on today's Nightly,
Desktops: 1.19.22
Android:  1.19.22

[2020-11-20 15:39] #11434 closed

[2020-11-20 15:41] AlexeyBarabash commented on #11183
it is similar to https://github.com/brave/brave-browser/issues/12391 and will be fixed with https://github.com/brave/brave-core/pull/7121

[2020-11-20 15:44] zenparsing commented on #12363
The verified checkmark should also be modified:

<img width="100" alt="tip_verified_check" src="https://user-images.githubusercontent.com/5995084/99819199-27fefb80-2b1d-11eb-9bfe-b8e81d7e850e.png">

[2020-11-20 15:44] #7874 closed

[2020-11-20 15:47] AlexeyBarabash commented on #11526
Confirming I could do that with Chrome, but cannot do with Brave.

[2020-11-20 15:50] #12748 closed

[2020-11-20 15:51] AlexeyBarabash commented on #11076
Can reproduce

But now on step
`3. Go to settings -> Sync -> Remove device, nothing happens goes back to devices list and lists it`

there is empty screen with `LOADING DEVICES` label and then other devices return in the list, but the current device - doesn't.

[2020-11-20 15:54] AlexeyBarabash commented on #11075
I cannot reproduce the issue today, after waiting a while (~30 sec) after enabling - I was able to see the device list.
Seems it is related to server polling interval change.

@srirambv could you please re-test this?

[2020-11-20 16:12] zenparsing commented on #12715
I believe that this issue is occurring because the ads service has not registered user pref listeners when the `kEnabled` ads pref is set to true as a result of the "Enable Rewards" button begin pressed.

- In `ads_service_impl.cc`, the `AdsServiceImpl` constructor calls `MaybeInitialize`, which performs `MigrateConfirmationsStateOnFileTaskRunner` on a separate task runner.
- When that task is com

[2020-11-20 16:30] AlexeyBarabash commented on #10707
This is a similar issue  https://github.com/brave/brave-browser/issues/12391

And this is a PR https://github.com/brave/brave-core/pull/7121, will be on Nightly soon.

[2020-11-20 16:32] AlexeyBarabash commented on #10860
I can reproduce.

[2020-11-20 16:35] AlexeyBarabash commented on #10859
I can reproduce this .

[2020-11-20 16:37] aaronsantamaria commented on #7493
+1
https://community.brave.com/t/we-need-to-be-able-to-add-custom-top-sites/181107

[2020-11-20 16:43] PrivacyMatters commented on #12680
Hi @karenkliu I'm not certain what page the hyperlinked text leads to. But I've reviewed the section in the privacy policy over https://brave.com/privacy/browser/ and that links to
![image](https://user-images.githubusercontent.com/41578351/99823314-24369d80-2b4c-11eb-8e12-fc4e4777f84a.png)

This is probably too long but:
"We use completely anonymised privacy preserving product analytics to unders

[2020-11-20 16:47] AlexeyBarabash commented on #10533
After lots of  attempts I got sync chain created but no devices:
![image](https://user-images.githubusercontent.com/24739341/99825621-f0657300-2b5f-11eb-84c6-3cd7c60fd7aa.png)

In that time status is `initializing`
![image](https://user-images.githubusercontent.com/24739341/99825677-02dfac80-2b60-11eb-82de-22621e8f9e7f.png)

And the code words are available to copy.

So expected, Android will find

[2020-11-20 16:48] AlexeyBarabash commented on #10473
this is the same as https://github.com/brave/brave-browser/issues/12391

[2020-11-20 16:50] AlexeyBarabash commented on #12391
Duplicate of https://github.com/brave/brave-browser/issues/10473

[2020-11-20 16:50] #12391 closed

[2020-11-20 16:52] rebron commented on #12792
Closing. Brave Browser Desktop 1.17.73 released at 8am PST on November 20, 2020.

[2020-11-20 16:52] #12792 closed

[2020-11-20 17:00] AlexeyBarabash commented on #9483
I cannot reproduce the issue today.
Seems it was fixed on some PRs.

@srirambv could you please re-check this issue?

[2020-11-20 17:01] AlexeyBarabash commented on #7359
Yes, can reproduce, thanks for finding this @srirambv .

[2020-11-20 17:10] LaurenWags commented on #12800
Could not reproduce with below build and Tor dev component 1.0.15:

[code]

[2020-11-20 17:11] #12809 closed

[2020-11-20 17:17] AlexeyBarabash commented on #7459
Tried today - cannot reproduce, maybe sync v1 issue. Closing.

[2020-11-20 17:17] #7459 closed

[2020-11-20 17:33] aaronsantamaria commented on #7493
+2
https://community.brave.com/t/we-need-to-be-able-to-add-custom-top-sites/181107

[2020-11-20 17:34] AlexeyBarabash opened #12813 "Inform in sync settings about Android system sync switch is turned off"
Currently if user turns off system sync switch on Android, sync silently fails.
The only way to find out this - is to open brave://sync-internals page and look on `Disable Reasons` - it is `Platform override`

![image](https://user-images.githubusercontent.com/24739341/99830889-0165b280-2b67-11eb-97dc-47e45df8e8ce.png)

We have a KB article https://support.brave.com/hc/en-us/articles/360047642371-

[2020-11-20 17:40] sanawu opened #12814 "No Changelog on APT (Debian) package in Brave repository"
**Steps to reproduce**
Execute the command: "sudo apt-get changelog brave-browser"

**Actual output**
E: Failed to fetch changelog:/brave-browser.changelog  Changelog unavailable for brave-browser=1.17.73

**Expected output**
THE Changelog text

**Package source repository used**
deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main

**Actual output**
"No changelog available

[2020-11-20 17:44] moritzhaller opened #12815 "Decrease variations service fetch interval to once a day instead of every 30min"
Decrease variations service fetch interval to once a day instead of every 30min: https://source.chromium.org/chromium/chromium/src/+/master:components/variations/variations_request_scheduler.cc;l=48

[2020-11-20 17:49] #12812 closed

[2020-11-20 17:54] karenkliu commented on #12810
Yeah just make it the same color as the globe icon to its left. Not sure the theme isn't picking it up.

[2020-11-20 17:57] AlanBreck opened #12816 "Number formatting incorrect for Crypto.com widget"
## Description

Number format is currently displaying for `en-IN` on details view.

## Steps to Reproduce

   1. Open Brave Beta
   2. Open new tab
   3. Focus Crypto.com widget
   4. Click through to details view on BTC
   5. Observe problem

## Actual result:

<img width="318" alt="Screen Shot 2020-11-20 at 12 54 55 PM" src="https://user-images.githubusercontent.com/1199820/99833112-9a78d700-2b2

[2020-11-20 18:07] NumDeP commented on #9296
The F11 feature doesn't work at all in openSuse `Version 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)` I wish you'd fix it with this issue.

[2020-11-20 18:12] franxois commented on #12814
brave-browser-apt-release.s3.brave.com is down ?

[2020-11-20 18:15] karenkliu commented on #12680
Thanks Pat!

The text is a bit long, here's what I got it shortened down to:
![image](https://user-images.githubusercontent.com/2388823/99835057-e5d3bb00-2b18-11eb-800a-69035110bb4b.png)

We really shouldn't go longer than this as it's starting to make the fine print take up a bigger block than the main message of this slide - Brave Shields.

Let's keep linking to `https://brave.com/privacy-preser

[2020-11-20 18:15] sanawu commented on #12814
I don't believe they've ever published a changelog on the repository source, I've always had to check the website, but the package system has a mechanism to show changelogs and that's what I want to see

[2020-11-20 18:17] NumDeP commented on #12360
Can I ask, is it possible for some Linux based bugs appearing in one OS to not be an issue in other Linux distros or should every single Linux based bug technically appear in every Linux distro?

The reason I ask is because I'm not sure but I think rebron tested it on Linux Mint without an issue but I can't in openSuse even on `Version 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)` and

[2020-11-20 18:32] cybbro opened #12817 "apt-key is deprecated"
On Ubuntu 20.10 I get an error:

[code]

Which is odd, Brave updated 10 - 11 days ago just fine. I removed the `brave-browser-release-gpg`

and tried adding that key once more:

`curl -s https://brave-browser-apt-release.s3.brave.com/brave-core.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-release.gpg add -`

getting same error.

![image](https://user-images.githubusercontent.c

[2020-11-20 18:58] cybbro commented on #12817
weird... it works now without me doing anything.

[2020-11-20 18:58] #12817 closed

[2020-11-20 19:17] LaurenWags commented on #12333
marking as `QA/Blocked` for now, pending additional info cc @rebron @kjozwiak

[2020-11-20 19:20] fizzatbeyond commented on #12814
When I execute  "apt-get changelog brave-browser" I get a change log.  Granted it's for 1.16.76.  The real issue appears to be as franxois says, the S3 repository is down.

Err:4 https://brave-browser-apt-release.s3.brave.com stable InRelease
  Could not resolve 'brave-browser-apt-release.s3.brave.com'

W: Failed to fetch https://brave-browser-apt-release.s3.brave.com/dists/stable/InRelease  Could

[2020-11-20 19:26] sanawu commented on #12814
I have never seen it in mintupdate changelog pane, and that's basically a frontend to apt

[2020-11-20 19:32] LaurenWags commented on #12406
Verified passed with

[code]

Verified STR from https://github.com/brave/brave-browser/issues/12406#issue-732851864
Verified with region = US to confirm TAP network card is displayed
Verified with region = Cayman Islands to confirm Uphold Equities card is displayed

--------------

[2020-11-20 19:34] MAXOUXAX commented on #12731
Getting the same issue on Windows 👍

[2020-11-20 19:38] MikeScotty commented on #11500
I have version 1.17.73 and the problem is STILL occurring. JSYK I'm using linux mint 20.

[2020-11-20 19:50] LaurenWags commented on #12306
Verified passed with

[code]

Verified STR from description.

----------------

[2020-11-20 19:55] LaurenWags commented on #11431
@NejcZdovc @mandar-brave to confirm, this issue only covers the directive to have a note from 2 in the description

This issue does not cover a consolidated modal for the two different scenarios, correct?

[2020-11-20 20:17] LaurenWags commented on #12057
Verified passed with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/6930

1.17.73:
<img width="1137" alt="1 17 x" src="https://user-images.githubusercontent.com/28145373/99845932-70c9ab00-2b43-11eb-8f01-33b6707cb644.png">

1.18.59:
<img width="1188" alt="1 18 x" src="https://user-images.githubusercontent.com/28145373/99845936-72936e80-2b43-11eb-9eeb-ee9e6a2024dc.png">

-

[2020-11-20 20:25] diracdeltas commented on #12791
cc @pes10k. seems reasonable to allow 3p cookies from a `chrome-extension://` frame

[2020-11-20 20:52] d4mr commented on #6916
@bsclifton after a lot of attempts, I decided to give up on my connection. So I created a droplet in DigitalOcean, and setup my environment there, and when finally everything got setup there, I used `rsync` (which had the advantage of being able to resume downloads) to get it all on my local machine.

Now I ran `npm run sync` and the output looks like this:

[code]

A patch failed? I ran it on my

[2020-11-20 21:05] sanawu commented on #12814
Service is up again, still no changelog

No changelog is available via their repository

[2020-11-20 21:15] pes10k commented on #12791
Im not sure I understand what the privacy model would be here.  Is it that `chrome-extension://[EXTENSION_ID]` should be treated as its own origin, but should get to read / set storage?  that `chrome-extension://[EXTENSION_ID]` should always be treated as 1p relative to the top level frame?  The embedding frame?

Any of these make me a bit nervous, but maybe there is something we can work out that

[2020-11-20 22:27] tmancey opened #12818 "New tab page Brave Ads are not confirmed with the server - Only affects 1.18.x"
## Description

## Steps to Reproduce

   1. Join Rewards
   2. View a new tab page ad

## Actual result:

Ad is not confirmed

## Expected result:
Ad should be confirmed

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release? No
- Can you reproduce this issue with the beta chan

[2020-11-20 22:50] sanawu commented on #12814
I even tried a specific older version

apt-get changelog brave-browser=1.16.76

and I get this

"E: Failed to fetch changelog:/brave-browser.changelog  Changelog unavailable for brave-browser=1.16.76"

[2020-11-20 23:06] #12816 closed

[2020-11-20 23:43] eljuno commented on #11935
Duplicate of #11873

[2020-11-21 00:12] mihaiplesa opened #12819 "arm64 support for macOS (Apple Silicon, M1 CPU)"
## Description

Need to have dedicated binaries for arm64 compatible with the new Apple Silicon hardware.

Current DMG/PKG work but they are slow because of Rosetta translation.

To update at https://isapplesiliconready.com

## Miscellaneous Information:

https://chromium.googlesource.com/chromium/src/+/master/docs/mac_arm64.md

[2020-11-21 00:12] antonok-edm opened #12820 "Update `lifeguard` dependency of `adblock-rust`"
We'd like to get native arm64 macOS builds working ASAP (https://github.com/brave/brave-browser/issues/12819). Doing so requires using the Nightly version of the Rust compiler. However, starting in 1.49.0 there is a new runtime check for memory reserved by `mem::uninitialized()`, which is used by `lifeguard`.

Tracking issue in `lifeguard`: https://github.com/zslayton/lifeguard/issues/25

Tracking

[2020-11-21 01:27] tmancey opened #12821 "Refactor new tab page ads and ad notifications"

[2020-11-21 02:42] BroJenuel opened #12822 "I have been using the Desktop app for a 6 months now but after an update I was not able to sent tip anymore."
## Description

Hi! I have been using the browser for almost 8 to 9 months now, and recently the new update, I just realize I cant send tip anymore.

## Steps to Reproduce

   1.  Click The Brave icon just beside the input bar.
![image](https://user-images.githubusercontent.com/31676163/99865552-7d064480-2be5-11eb-9d20-c494215e4bf4.png)
   2.  And after I click it, it zeros bat
![image](https://us

[2020-11-21 03:14] fmarier commented on #6512
@antonok-edm You don't have any problems building on Arch, right?

[2020-11-21 03:17] #12821 closed

[2020-11-21 03:43] antonok-edm commented on #6512
Only issue I have (which I believe affects all Linux distros) is https://github.com/brave/brave-browser/issues/11099.

The `npm ERR! code ELIFECYCLE` line from your log isn't referring to an npm package, it's a [more general script error](https://stackoverflow.com/questions/30744964/what-does-the-elifecycle-node-js-error-mean).

I think the real error is here:
[code]

I've never seen that before p

[2020-11-21 03:52] antonok-edm commented on #6512
One last thing to note is that on Arch, you'll need to make sure you're using `python2` rather than the default `python3`. It looks like you've probably done this, but just want to make sure.

I personally accomplish this by using a directory with a symlink called `python` that points to `/usr/bin/python2`, and adding that directory to the beginning of my `PATH` environment variable before startin

[2020-11-21 04:49] specter78 opened #12823 "brave://flags/#extensions-toolbar-menu missing in latest version"
## Description
`brave://flags/#extensions-toolbar-menu` flag is missing in latest version. (Version 1.17.73 Chromium: 87.0.4280.67 (Official Build) (x86_64))

I don't know whether it was removed by brave or chromium. But it was a nice feature to have.

Please add the feature.

[2020-11-21 05:19] dentistformyeye opened #12824 "Third-party HTTP images on HTTPS site don't get upgraded to HTTPS"
## Description

Third-party HTTP images embedded on an HTTPS site don't get upgraded, even though mixed content should be upgraded automatically.

## Steps to Reproduce

   1. Check brave://settings/content/insecureContent and verify that insecure content should be blocked.
![image](https://user-images.githubusercontent.com/51429646/99868053-17866980-2b8d-11eb-836e-ed1044de875e.png)

   2. Visit t

[2020-11-21 05:45] NejcZdovc commented on #11431
Correct at the end we didn't merge them, we just added notes

[2020-11-21 07:01] #12231 closed

[2020-11-21 07:01] #12327 closed

[2020-11-21 07:26] #12820 closed

[2020-11-21 07:28] nithinkodadhavadee commented on #12086
@bsclifton turning off hardware acceleration solves the issue on youtube, but it causes the same issue on other sites. so I turned it back on, as of now there are no issues on youtube yet. I'll let you know if something else happens again.

[2020-11-21 08:00] SXMacdara commented on #11500
@bsclifton I am hoping you are the right person to address about this. I guess I am unsure as to why this is closed. I have the latest version of Brave V1.17.73. Top Sites is not fixed. In this latest version you can't even pin or rearrange your Top Sites anymore. Whatever was done in the way of improvement didn't work. At also appears as if the reviewer above has stated that from their perspectiv

[2020-11-21 08:01] SXMacdara commented on #12772
@LaurenWags  I am hoping you are the right person to address about this. I guess I am unsure as to why this is closed. I have the latest version of Brave V1.17.73. Top Sites is not fixed. In this latest version you can't even pin or rearrange your Top Sites anymore. Whatever was done in the way of improvement didn't work. One of the problems overall was that pinned sites were disappearing.

[2020-11-21 08:30] nognognoggynog commented on #12814
I also don't get the changelog via apt

[2020-11-21 08:56] gauthamp10 opened #12825 "Cannot Access Linkedin! - Request URL Too Long"
## Description
Cannot access website: [https://linkedin.com/](https://linkedin.com/) from brave browser. I can access the same via Chromium (v83) and Firefox (78.4.1esr).

## Steps to Reproduce
   1. Open brave (In normal or Private mode)
   2.  Go to [https://linkedin.com/](https://linkedin.com/)

## Actual result:
![https://i.imgur.com/aXX31NP.png](https://i.imgur.com/aXX31NP.png)

## Expected r

[2020-11-21 09:33] nognognoggynog commented on #12825
RE: Max URL Lengths https://stackoverflow.com/a/417184

[2020-11-21 09:38] gauthamp10 commented on #12825
It's not me how's redirecting....ut's Linkedin . It work on chrome and firefox though?

[2020-11-21 09:39] nognognoggynog commented on #12825
my TLDR: Lol is in reference to the choice of our own "standards"

[2020-11-21 09:44] gauthamp10 commented on #12825
SO what's the issue here actaully...any idea? It's was working yesterday and all of the sudden. Haven't even updated brave. I'm using Debian 10 as my O.S.

[2020-11-21 09:45] nognognoggynog commented on #12825
How many characters is in the URL?

[2020-11-21 09:48] gauthamp10 commented on #12825
The final url has 29505 character... the 'trkInfo' parameter in the screenshot keeps on redirecting like 15-20 times.

[2020-11-21 09:54] nognognoggynog commented on #12825
Could perhaps open a ticket with Linked in on the URL generation going too far

https://security.linkedin.com/vulnerabilty-disclosure

[2020-11-21 09:56] gauthamp10 commented on #12825
Let me try the same on chromium 86.0.4240.198 before issuing..It's really confusing? Are you reproducing this error? or is it me only?.Thanks BTW.

[2020-11-21 09:57] nognognoggynog commented on #12825
Could try turning off the shields and see if it works better

[2020-11-21 09:58] gauthamp10 commented on #12825
No effect.

[2020-11-21 10:25] tmancey opened #12826 "Add unit tests for Brave Ads user activity"

[2020-11-21 11:26] anisg commented on #12791
What is needed in my case is to completely isolate `chrome-extension://[EXTENSION_ID]` iframe from its parent, and allow it to use 3p cookies. I don't know what kind of privacy risk this can expose that said.

Please note that I fixed this issue on my extension by moving all the cross-origin http requests from the iframe to the extension background script

But maybe other extensions in the future

[2020-11-21 12:27] tmancey opened #12827 "Add unit tests for Brave Ads tab manager"

[2020-11-21 12:32] ryanbr commented on #12824
We rely on https everywhere for our rules. nothing specific for `eff.org`  But the reason why it's not showing as secure is due to the use of http:// still in use.

[code]

I'll investigate with eff, see if they're aware of it.

[2020-11-21 12:41] tmancey opened #12828 "Add unit tests for Brave Ads country/subdivision codes"

[2020-11-21 13:37] tmancey opened #12829 "Add unit tests for Brave Ads legacy migration"

[2020-11-21 16:29] tmancey opened #12830 "Add unit tests for Brave Ads server host"

[2020-11-21 17:21] deeppandya opened #12831 "Fix format error in Brave Stats"
## Description
We have an issue with format in brave stats and this issue should address it.

## Actual result
![Screenshot_20201120-225157_copy_1080x1351](https://user-images.githubusercontent.com/5146988/99883218-ed1bc700-2bf3-11eb-8643-cd49134eb5bf.jpg)

## Expected result
Should show correct values

## Issue reproduces how often
Easily

## Version/Channel Information:

- Can you reproduce this

[2020-11-21 17:31] tmancey opened #12832 "Add unit tests for Brave Ads redeem unblinded payment tokens"

[2020-11-21 17:34] tmancey opened #12833 "Add unit tests for Brave Ads refill unblinded tokens"

[2020-11-21 17:44] elonj commented on #12375
Same behaviour on Version 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)

[2020-11-21 18:09] deeppandya opened #12834 "bug fix from play store logs"
## Description
We noticed couple of null pointer exception in the play store logs. This issues address it.
Below are the links :
https://play.google.com/console/u/0/developers/7093250338202488249/app/4972971274345155806/vitals/crashes/bf0bdc53/details?installedFrom=PLAY_STORE&days=30&versionCode=411707211%2C411707221%2C411707226%2C411707223%2C411707220%2C411707210
https://play.google.com/console/u

[2020-11-21 18:36] tmancey opened #12835 "Brave Ads crash in `brave_ads::AdsServiceImpl::OnGetBraveWallet`"
[code]
https://brave.sp.backtrace.io/p/brave/debug?filters=(_deleted%3D0%2Cfingerprint%3Bissues%3Bstate%3Din-progress%2C(fingerprint%3Bissues%3Bassignee%2Cassigned-to%2Ctmancey)%2C(callstack%2Cregex%2Cads%7Cconfirmations%7Cads_service))&fingerprint=0000000000000000000000000000000000000000000000000000000000000326&debug=(bcd2c1,0,0)

[2020-11-21 19:48] tmancey opened #12836 "Brave Ads crash when refilling unblinded tokens after downloading catalog due to invalid blinded token"
[code]

https://brave.sp.backtrace.io/p/brave/triage?time=month&filters=((callstack%2Cregex%2CRequestSignedTokens))&aggregations=((ver%2Cdistribution)%2C(fingerprint%3Bissues%3Binvariants%2Chead)%2C(fingerprint%3Bissues%3Btags%2Chead)%2C(fingerprint%3Bissues%3Bticket%2Chead)%2C(fingerprint%3Bissues%3Bassignee%2Chead)%2C(fingerprint%3Bissues%3Bstate%2Chead)%2C(fingerprint%3Bfirst_seen%2Chead)%2C(ca

[2020-11-21 19:50] tmancey commented on #12836
Crash occurs at `const std::string blinded_token_base64 = blinded_token.encode_base64();` in `request_signed_tokens_url_request_builder.cc`

[2020-11-21 19:57] SeedyROM commented on #9918
@Icesofty Currently experiencing this with Brave 86.1.16.67, thanks for the tip.

[2020-11-21 19:58] dentistformyeye commented on #12824
My bad, I'd assumed that eff.org would be in the HTTPS Everywhere rules, but I should have checked. I've filed EFForg/https-everywhere#19798.

Since Brave accesses eff.org through HTTPS even with HTTPS Everywhere (both the Brave component and the extension) disabled, I'd expected mixed content to be [automatically upgraded](https://www.chromestatus.com/feature/4926989725073408). Is this a Chromium

[2020-11-21 20:02] dentistformyeye commented on #10549
I'm also getting crashes now with DuckDuckGo Privacy Essentials enabled in private windows.
Brave Version: 1.17.73  Chromium: 87.0.4280.67
Operating System: Mac OS X 10.15.7

With "Search privately with DuckDuckGo" on private window NTP on:
Crash ID: crash/20310000-cf79-6b05-0000-000000000000
Off:
Crash ID: crash/67310000-cf79-6b05-0000-000000000000

[2020-11-21 20:32] Icesofty commented on #9918
I didn't find any public repo or @ address, so I just contacted them via Twitter. Will update this issue when I've more info

[2020-11-21 20:32] #7955 closed

[2020-11-21 21:17] #12831 closed

[2020-11-21 21:48] wengier123 commented on #12825
I have the same exact issue, which just started occurring about the same time you reported this issue.  I've been trying to figure it out for hours.  I'm using Chrome and accessing my computer through "Remote Desktop".  This is very frustrating!

[2020-11-22 01:30] 141 commented on #12822
There's no bug, what you are seeing is expected, unless you saying you lost already claimed BAT.

For each month you accrue BAT for the ads you interact with. For some reason this is shown as an estimated amount. Whatever the amount turns out to be, it gets paid out the next month, usually after the fifth.

So I expect you spent all your BAT and will have to wait more than two weeks to get that ne

[2020-11-22 02:23] newuser-web opened #12837 "With BG images off, there are only 4 visible top sites instead of 8"
## Updated issue description (by @bsclifton)
Timeline
- Sponsored images was introduced in February this year ([code merged 4 Feb 2020 to old android-tabs repo](https://github.com/brave/browser-android-tabs/pull/2490)). This reduced number of top sites shown by default to 4. User could turn off background images and see the full 8
- Version 1.17 (made live on Google Play store 19 Nov 2020) made to

[2020-11-22 04:12] eljuno commented on #3969
+1 from Community httpss://community.brave.com/t/display-glitches-after-a-while/181318?u=eljuno

You'll find similar reports on Community.

[2020-11-22 04:15] aberraabdu commented on #12825
Don't bother using chrome or edge, best to save your headache and use mozilla firefox instead. At least that browser is working for me.

[2020-11-22 05:44] MaxCoding3 opened #12838 "Severe glitch with large numbers of tabs"
## Description
If over 115-120 tabs are opened, the newest tabs stop being displayed properly in the tab bar on top. They open correctly, but after clicking off of them the are inaccessible until a sufficient number of tabs are closed such that the total number of tabs in under 115. Most other browsers have tab scrolling features, and when new tabs are opened past a certain point, the width of eac

[2020-11-22 05:58] gauthamp10 commented on #12825
It's not the point. We are users of brave which for instance is built based on chromium and not Firefox..So no hope. I just love brave, even though they are trying out other modes of advertisements for increasing the odds of existence in a huge market.

[2020-11-22 05:58] gauthamp10 commented on #12825
Which brave or chrome version are you using?

[2020-11-22 06:00] gauthamp10 commented on #12825
I've contacted the LinkedIn security team and they told me it's not a security issue and no more comments from their part! Do anyone have a clue? I don't want to change browsers just to access a specific website.

[2020-11-22 06:03] gauthamp10 commented on #12825
What version of brave or chrome are you using on the remote desktop?

[2020-11-22 06:35] gauthamp10 commented on #12825
Workaround: Please update brave browser to the latest stable **Release v1.17.73** and the issue will be gone.

[2020-11-22 08:40] JamesM12345 commented on #12825
Hi Everyone, I was able to fix this problem by rolling back the version of chrome 2 versions earlier (the august one). It is very clearly some interaction with chrome latest version + linkedin.

Linkedin's authwall is designed to prevent user scraping so it will block non-browser-like activity or trying to view linkedin without an account. I don't use scrapers. The problem started to occur as I lo

[2020-11-22 09:56] specter78 opened #12839 "Double extensions in task manager even though only one window open"
## Description
I have only 1 private window open. Still I see two copy of each extension - one normal and other for private window.

## Steps to Reproduce
Open private window only and look at task manager.

## Actual result:
<details>
<summary>Screenshot</summary>
<br>
<img width="484" alt="Screenshot" src="https://user-images.githubusercontent.com/40606342/99900617-a18e1980-2cd6-11eb-9a80-54d2fc2

[2020-11-22 09:58] specter78 commented on #12839
Also, why is there a brave extension? I have disabled Brave shields.

[2020-11-22 11:29] JimBreton opened #12840 "New MRU tab cycling feature erroneously replaces normal Page Up/Page Down behavior"
## Description

New MRU tab cycling feature erroneously replaces normal Page Up/Page Down behavior.

## Steps to Reproduce

   1. Enable "Cycle through the most recently used tabs with Ctrl-Tab
   2. Use Page Up/Page Down keys in an attempt to sequentially step through tabs in the order in which they appear
   3. Observe that tabs are cycled in MRU order (as with Ctrl-Tab)

## Actual result:

Tabs

[2020-11-22 12:01] kaiyang-optimize commented on #1851
+1

[2020-11-22 12:54] oo-00 commented on #1551
@rebron the link now just redirects to standard google earth url. No matter what I try, it just redirects or at least changes the window location. And is not working.

[2020-11-22 14:06] tmancey opened #12841 "Implement Brave Ads end to end tests"

[2020-11-22 14:07] tmancey opened #12842 "Add Brave Ads catalog integration test"

[2020-11-22 14:10] tmancey opened #12843 "Refactor Brave Ads database migration"

[2020-11-22 14:29] tmancey commented on #12842
Closing issue as duplicate of https://github.com/brave/brave-browser/issues/12841

[2020-11-22 14:29] #12842 closed

[2020-11-22 14:55] bastele7 opened #12844 "Error with the context menu in the bookmarks bar (german language)"
When I right-click on a folder in the bookmarks, I get an error in the context menu. This does not happen when I click on a single bookmark (see pictures) or if i change the UI-language to english or french.

The problem exists since I upgraded to the new Brave 1.17.73.

Screenshot: Bookmark folder
https://aws1.discourse-cdn.com/brave/original/3X/2/7/27914a04473a605103895eecb278411f266977dd.png

S

[2020-11-22 17:24] #12706 closed

[2020-11-22 17:24] #12707 closed

[2020-11-22 17:27] tee4341 opened #12845 "www.advanscene.com not show all pictures!!!"
www.advanscene.com  not show all pictures!!!
![GifMaker_lowquality11](https://user-images.githubusercontent.com/48321898/99910802-a7a9e780-2d22-11eb-8d1c-0d1312881d32.gif)

[2020-11-22 17:28] TheAresjej commented on #12708
What if we created a new list for brave adblock? 🤔

[2020-11-22 17:43] Kumaraguru-Muthuraj commented on #12825
I got this issue from yesterday 22/Nov IST. Didn't did any updates. It just started showing up.
Whats the fix?

[2020-11-22 19:16] gauthamp10 commented on #12825
Just update your browser to the latest stable version. It will work.

[2020-11-22 20:06] duc811997 commented on #12216
#

[2020-11-22 21:15] ZOASR commented on #12182
Issue is fixed in V1.17.73 without any mention in the release notes

[2020-11-22 22:24] bridiver commented on #12182
@ZOASR there is no mention in the release notes because we're not aware of any fix. Could be an upstream change or some other change that incidentally fixed it

[2020-11-22 22:28] ZOASR commented on #12182
@bridiver I thought so , but we won't know if it is fixed or not until somone tries it on all platforms

[2020-11-23 00:00] deeppandya commented on #12834
Fixed in https://github.com/brave/brave-core/pull/7225

[2020-11-23 00:00] #12834 closed

[2020-11-23 00:09] deeppandya commented on #11189
This should be fixed with latest version. @LaurenWags @srirambv can you please verify ?

[2020-11-23 00:10] deeppandya commented on #8915
@btlechowski this should be fixed in latest version. can you please and update this issue ?

[2020-11-23 04:32] linkcell commented on #12082
Hey, can anyone look into this? please?

[2020-11-23 05:07] michael-sayapin opened #12846 "Beta channel S3 domain name is down"
## Description

https://brave-browser-apt-beta.s3.brave.com domain name is not resolving, cannot update Beta channel on Linux.

## Steps to Reproduce

dig @1.1.1.1 brave-browser-apt-beta.s3.brave.com

## Actual result:

;; QUESTION SECTION:
;brave-browser-apt-beta.s3.brave.com. IN        A

;; ANSWER SECTION:

## Expected result:

Valid DNS record.

## Version/Channel Information:

Beta channel.

[2020-11-23 07:02] bsclifton commented on #12837
Reported incidents:
- [I hate this new widget. I don't use rewards or anything similar. Give me back my old homepage with just top sites. Damn.](https://www.reddit.com/r/brave_browser/comments/jxlqdh/i_hate_this_new_widget_i_dont_use_rewards_or/)
- [Brave did it again: Another update nobody asked for to generate negative feedback from frustrated users who will go ignored by Brave staff yet once ag

[2020-11-23 07:43] bsclifton commented on #12216
Looking for upstream reports (in Chromium issue tracker). Is everyone experiencing this problem on Windows 7?

Will update this issue as I find related issues:
- [Issue 1147924: Unwanted window hover activation](https://bugs.chromium.org/p/chromium/issues/detail?id=1147924)

[2020-11-23 07:57] GeetaSarvadnya opened #12848 "`Earn Tokens & Give Back` modal popup is shown again in rewards settings page even after dismissing the modal from panel"
## Description

Found while testing the PR https://github.com/brave/brave-core/pull/7210 in the nightly build
`Earn Tokens & Give Back` modal popup is shown again in the rewards settings page even after dismissing the modal from the panel

## Steps to Reproduce

 1. Clean profile `1.19.27` launch brave using staging flags
 2. Open an NTP
 3. Click on the BR panel and observe the `Way to Go! Claim

[2020-11-23 08:18] bsclifton commented on #11500
@SXMacdara the not being able to move will be addressed with https://github.com/brave/brave-browser/issues/7493, which also will allow for adding your own top sites. This is the next work I'll be looking at

@MikeScotty I can create a new issue for the problem you're experiencing. After updating to 1.17.73, you're seeing the top sites shown on new tab page be removed every time you quit/relaunch?

[2020-11-23 08:19] LinsaFTW opened #12849 "Customizable profile folder path"
By default the profile path is on `%appdata%/local/BraveSoftware`. Every time i install the browser in a new PC i have to configure a mlink because my C drive is a small SSD dedicated to the operative system.

Make this variable customizable to allow saving profile data on other drives without making mlinks.

[2020-11-23 08:21] rmcsharry opened #12850 "Calling firebase functions fails with DOMException: Registration failed - push service error"
## Description
Calling firebase functions fails with:

`DOMException: Registration failed - push service error`

## Steps to Reproduce

   1. Call any https firebase function
   2. Observe the error in the console

## Actual result:
The function is not called.

## Expected result:
The function is called.

## Reproduces how often:
Every time we call any function.

## Brave version (brave://version

[2020-11-23 08:39] Emirov commented on #1057
This feature is so important to manage bookmarks. In fact, there are some bookmarks that belongs to more than one subject, so putting them in one folder doesn't suffice.  Also this option exists in other browser. I think this issue can even deprive Brave to be the number for me despite thr other excellent features that it offers.

[2020-11-23 08:54] tmancey opened #12851 "Remove Brave Ads unused AdsImpl includes and forward declarations"

[2020-11-23 09:04] #12829 closed

[2020-11-23 09:47] t0m5k1 commented on #12513
Latest update fixed this for me
Version 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)

[2020-11-23 10:02] Icesofty commented on #9918
The official answer from Dahslane support via Twitter: "Brave is not officially supported by Dashlane"

[2020-11-23 10:10] ryanbr commented on #12845
Hey @tee4341

Just tested this.  (on a one-plus 6)
![Screenshot_20201123-230054](https://user-images.githubusercontent.com/1659004/99949889-a63ef480-2de0-11eb-86b6-c116e12a8c2d.jpg)

Images loaded okay, can you re-test with/without a vpn enabled also.

[2020-11-23 10:21] mikaelf commented on #7715
Is there a way to view and change settings for shields before this bug has been fixed? I haven't found a workaround.

[2020-11-23 11:00] GeetaSarvadnya commented on #12444
Verification passed on

[code]
- Verified STR from the description
- Verified in both clean and upgraded profile

[2020-11-23 11:14] PrivacyMatters commented on #12680
Hi Karen

Just a few comments. To me "Brave protects your privacy from Brave too" sends the wring message .. my privacy shouldn't need protecting from Brave given the privacy position on which the browser is built and promoted. I'd suggest losing that text unless user testing shows it has meaning for average users.

The reason suggested longer text, is that the use of 'analytics' is a competitive

[2020-11-23 11:24] ilyaigpetrov commented on #11983
Seems to be fixed in:

Please, reopen this issue if it becomes reproducible again in Brave Beta or Brave Nightly.

[2020-11-23 11:24] #11983 closed

[2020-11-23 11:27] GeetaSarvadnya commented on #12381
Verification passed on

[code]
- Verified the STR from the description
- Verified in both clean and upgraded profile
![image](https://user-images.githubusercontent.com/38657976/99956867-c654c080-2dac-11eb-9d79-947da842a87d.png)
![image](https://user-images.githubusercontent.com/38657976/99956894-d076bf00-2dac-11eb-9358-95e2ed0438d7.png)

[2020-11-23 11:44] TheAresjej opened #12852 "Twitter like button is not blocked"
## Description
Twitter like button is not blocked on Github

## Steps to Reproduce

   1. open [link](https://github.com/Microsoft/microsoft-ui-xaml)
   2. scroll to description

## Actual result:
![image](https://user-images.githubusercontent.com/19390797/99958037-ea060f80-2d88-11eb-9bb0-0c7e118c4a42.png)

## Expected result:
the button should be blocked

## Reproduces how often:
100%

## Brave v

[2020-11-23 12:37] iefremov opened #12853 "Fix buffer overrun in P3A"

[2020-11-23 12:45] LaurenWags commented on #12772
Hi @SXMacdara thanks for reaching out! So one of the changes with the group of issues referenced in the description above is that pinning tiles is no longer available. This is because we are working towards completely customizable top site tiles as part of https://github.com/brave/brave-browser/issues/7493. Unfortunately I don't have a set date for this functionality, but following that issue will

[2020-11-23 13:21] drjackal-git commented on #7366
Why can't dev just merge this patch into brave?

[2020-11-23 13:25] dlecan commented on #8514
Hi,
all Rocket.chat livechat widgets are broken on any sites because they are using iframes with null storages on Brave (example: https://unikname.com)
If any, what is the release plan of this feature?

Thank you

[2020-11-23 13:28] GeetaSarvadnya commented on #12506
Verification passed on

[code]
- Reproduce the issue in 1.17.x
![image](https://user-images.githubusercontent.com/38657976/99967293-a8dc2280-2dbd-11eb-98ab-fad6cd472367.png)
- Verified the STR from the description and ensured `Hide` button color is visible in Dark mode in 1.18.x
![image](https://user-images.githubusercontent.com/38657976/99967396-d3c67680-2dbd-11eb-89c9-dc555d4ea9a5.png)

[2020-11-23 13:50] GeetaSarvadnya commented on #12214
Verification passed on

[code]
- Verified the STR from the description
- Verified social media links are removed from tipping banners as per https://github.com/brave/brave-browser/issues/12214#issuecomment-713101865

![image](https://user-images.githubusercontent.com/38657976/99969538-9e6f5800-2dc0-11eb-9286-17985cd2e10c.png)

[2020-11-23 13:51] Madis0 opened #12854 "[New tab extension] is controlling this setting shown in unobvious location"
## Description

Brave has added a special section for controlling what is displayed as a new tab page.
![image](https://user-images.githubusercontent.com/8611110/99969097-ae783f00-2da2-11eb-8b71-db8fb63ab930.png)
However, the "X is controlling this setting" is still shown on the same place as Chromium.
![image](https://user-images.githubusercontent.com/8611110/99969161-c51e9600-2da2-11eb-81b6-3dd5

[2020-11-23 14:16] rebron commented on #12825
https://github.com/brave/brave-browser/issues/12825#issuecomment-731706056 Closing per comment to update to latest 1.17.73.

[2020-11-23 14:16] #12825 closed

[2020-11-23 14:22] rebron commented on #12850
@rmcsharry Can you go to brave://settings/privacy toggle this setting on
<img width="706" alt="Screen Shot 2020-11-23 at 6 21 17 AM" src="https://user-images.githubusercontent.com/5951041/99973020-29fecf80-2d54-11eb-921a-f138bcb66d32.png">

Is it working for you after that?

[2020-11-23 14:24] MikeScotty commented on #11500
@bsclifton I have brave set to delete history when the app closes. And as for that new tab, I don't use google. Maybe make something like that except with duckduckgo or qwant?

[2020-11-23 14:27] rebron commented on #12844
cc: @mkarolin @simonhong  Looks like in the first screen shot for DE we're missing `Open all in Private Window` and all the `Open` strings aren't locallized.

[2020-11-23 14:40] rebron commented on #12780
@pniedzwiedzinski Can you update to the latest 1.17.73 and let us know if you're still having a slow down with our latest version.

[2020-11-23 14:50] da2x commented on #1121
[Brave now also supports Onion-Location](https://github.com/brave/brave-core/pull/6762), but this doesn’t remove the need to add Alt-SVC support.

[2020-11-23 15:13] rafaelcastrocouto commented on #353
It's developing but backwards ... 😪
Fixing top sites nor dragging them work anymore.
White icons became invisible.

No requested features delivered after 2 years:
- Can't customize background
- Can't customize top sites
- Not even a dark theme

As a bonus we get an over 500KB brave_new_tab.bundle.js
and crypt widgets nobody asked for.

You can do better than this brave team.

[2020-11-23 15:13] Miyayes opened #12855 "Notify user when Brave Rewards user wallet verification exceeds linking limit"
## Description

Users can only link 4 browsers (Brave Rewards wallets) to a single Uphold account. This linking limit is a _lifetime_ limit, so even if previous browsers are disconnected or uninstalled, the slots have been consumed.

When a user tries to link a 5th, 6th, ... nth browser to their Uphold account, the server returns a specific error code indicating that the linking limit has already

[2020-11-23 15:16] husobee commented on #12855
Response Status Code 409 (Conflict) is indicative of a failed linking due to linking limit constraints on the following endpoints `/v3/wallet/<provider>/<payment id>/claim`

Where <provider> in "brave" or "uphold" and <payment id> is the user's wallet id.

[2020-11-23 15:17] moritzhaller opened #12856 "Enhance and refactor the Brave Ads component updater"
This ticket includes:

- Enable a/b testing different versions of a resource, e.g. text classifier.
- Refactor the Brave Ads component updater: Change name from "user model" to "ads resource" and move code into the brave ads component.
- Remove `bat-native-usermodel` dependency from ads.

[2020-11-23 15:19] moritzhaller commented on #12856
cc @dimmu

[2020-11-23 15:35] #12596 closed

[2020-11-23 15:35] #12363 closed

[2020-11-23 15:41] LaurenWags commented on #6462
Verification in progress with

[code]

Verified test plan from https://github.com/brave/brave-core/pull/6978. Each of the below cases/sub cases was completed using a fresh profile.

<details>
<summary>Website - laurenwags.github.io</summary>

1. Rewards panel test

- Confirmed onboarding shown on clean profile via panel
- After dismissing onboarding, claimed UGP with clean (staging) profile
- Conf

[2020-11-23 16:04] Fail2Reap commented on #9381
@keeganwitt indeed, I found that option shortly after :)

[2020-11-23 16:13] #12827 closed

[2020-11-23 16:13] #12826 closed

[2020-11-23 16:38] zenparsing commented on #12848
This is expected behavior as of https://github.com/brave/brave-core/pull/7135 - the various onboarding entry points will track "onboarding dismissed" state independently.

[2020-11-23 16:38] #12848 closed

[2020-11-23 17:01] GeetaSarvadnya commented on #12300
Verification passed on

[code]
- Verified the STR from the description and ensured there is no error message on the rewards settings page after resetting rewards
- Encountered https://github.com/brave/brave-browser/issues/12298

[2020-11-23 17:17] emerick commented on #12857
Interesting, this feature was probably only used in debug builds before so no assertion would be thrown when blocking.

[2020-11-23 17:20] LaurenWags opened #12858 "[Desktop] second Brave Rewards extension listed in Task Manager"
## Description

Seems as though when you open the rewards panel a second Brave Rewards extension is listed in the Task Manager. This is not new with https://github.com/brave/brave-browser/issues/6462 and existed prior to making the extension non-persistent.

## Steps to Reproduce

   1. Clean profile
   2. Go to hamburger menu > More Tools > Task Manager
   3. Note that Brave Rewards extension is

[2020-11-23 17:37] GeetaSarvadnya opened #12859 "Follow up of #12008 - Change wording for Safety Check"
## Description

@fmarier comment from #11741 (comment)

## Steps to Reproduce

   1. Please refer #12008 and test plan https://github.com/brave/brave-core/pull/6892

## Actual result:

The updated text `Brave can help keep you safe from unsafe websites, bad extensions, and more` isn't shown for the Safety check
![image](https://user-images.githubusercontent.com/38657976/99995186-07b29380-2de0-11eb

[2020-11-23 17:39] GeetaSarvadnya commented on #12008
Verification passed on

[code]
- Verified the description and test plan from https://github.com/brave/brave-core/pull/6892
- Issue isn't fixed logged follow up the issue  - https://github.com/brave/brave-browser/issues/12859

[2020-11-23 17:47] bsclifton commented on #11500
@MikeScotty you don't have to use Google - you can open brave://new-tab-page in Brave and just verify the same thing shows for you there (should be the same as brave://newtab)

[2020-11-23 17:49] karenkliu commented on #12680
Hi Pat - yes, this works much better, thanks! I've updated the designs.

[2020-11-23 17:52] SXMacdara commented on #7493
This issue has been raised in multiple threads under different names... Usually around top sites disappearing pr pinned sites not staying pinned. I see your team has removed the pin functionality. That seems a step backward. @bsclifton showed a nice prototype from @cezaraugusto almost a year ago. Can the Brave team or whoever is working on this give us ANY estimate as to when this will be complete

[2020-11-23 17:54] rebron commented on #12118
Closing as wontfix. There's a clear and different indication if a file isn't properly downloaded and we'd receive a new issue filed if all of the text here is the same color.

cc: @karenkliu Let me know if you disagree. Colors in light theme are blue.

[2020-11-23 17:56] rebron commented on #11876
cc: @jumde Can you assist with triaging this one?

[2020-11-23 17:58] rebron commented on #11981
@nshutijean @NoodleSushi Can you both update to 1.17.73 and let me know if you're still having issues?

[2020-11-23 18:03] rebron commented on #12042
@Ranarrr Are you still experiencing a crash. Can you update to 1.17.73 and let us know? Were you on Beta channel?

[2020-11-23 18:09] rebron commented on #12061
I'm seeing these as white on on 1.17.73, not medium gray.
![Screen Shot 2020-11-23 at 10 08 58 AM](https://user-images.githubusercontent.com/5951041/99998755-00ee3700-2d74-11eb-8545-97f384caa9a0.png)

[2020-11-23 18:11] rebron commented on #12061
screenshot above is darker than actual for some reason but it's the same color across all the different labels.

[2020-11-23 18:16] YuhNoYuh opened #12860 "I was told to post here about brave rewards"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Desktop Brave version:

## Android Device details:
   - Install type (ARM, x86):
   - Device type (Phone, Tablet, Phablet):
   - Android version:

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with

[2020-11-23 18:24] rebron commented on #12671
@tortino Can you update to 1.17.73 and see if you're still having this issue? 25000 bookmarks is a lot. Can you try again both ways with that version, via importer and via as html file.

[2020-11-23 18:25] karenkliu commented on #12118
@rebron This person does have a point; it's not the right orange so it's being mistaken as error text.

Overall the light/dark theme link color on this page should be aligned to our design system. Let's use these colors for the links:

- Light theme  `Light Theme/Brand/Interactive05` (`#4C54D2`)
- Dark theme `Light Theme/Brand/Interactive06` (`#737ADE`)

[2020-11-23 18:25] rebron commented on #12671
cc: @iefremov

[2020-11-23 18:29] rebron commented on #12671
@tortino We're curious. How long did it take you to reach 25000 bookmarks? That's pretty cool.

[2020-11-23 18:39] jtheletter opened #12861 "Links from any app open in Chromium if ThinkOrSwim is launched in Big Sur."
Since updating macOS to Big Sur over the weekend, if I click any hyperlink from any app outside of Brave (Apple Contacts, Apple Mail, Microsoft Word, etc), it now opens in the Chromium browser bundled inside ThinkOrSwim (TOS) app instead of in Brave app.

It does this only if my macOS default browser is set to Brave.

If I set the macOS default browser to Safari, Firefox, or Chrome, links open in

[2020-11-23 18:51] rebron commented on #11935
Closing as dupe of #11873

[2020-11-23 18:51] #11935 closed

[2020-11-23 19:11] bigben2159 commented on #598
I copy all the files from C to D , its working , maybe later on I will have problems or not.

[2020-11-23 19:41] MaxiM-PL commented on #7493
Umm, so I'm not going crazy and the pin was disabled completely. SO what happened to "This should be trivial"? Now it's even worse than it was before o_O

[2020-11-23 19:45] bsclifton opened #12862 "Yandex updates for Android"
## Description
Similar to https://github.com/brave/brave-browser/issues/12327 - but for Android.

1. Yandex should show in onboarding if user is in the regions listed in https://github.com/brave/brave-browser/issues/12327. Desktop is doing this already - I believe on Android side we need to edit the code to use the pre-populated lists (or update the differing pre-populated lists)

1. Images to use

[2020-11-23 19:52] rebron commented on #12641
@harshhhdev Will need more information on what your distro is and what you're using for your theme. There should be a hover action but not a bounce action.

[2020-11-23 19:52] rebron commented on #12731
@MAXOUXAX and @camots Can you update to 1.17.73 and let us know if you're still having issues? We addressed this issue in 1.17.73.

[2020-11-23 20:03] rebron commented on #12044
@btlechowski When you get a chance can you check this one on 1.17.73?

[2020-11-23 20:06] mkarolin commented on #12844
@rebron fixes the problem with the missing context menu item.

The first two `Open` strings in the context menu have not been localized yet.

[2020-11-23 20:06] rebron commented on #12194
@chkk525 Can you check to see if this is good on 1.17.73 and we can close out.

[2020-11-23 20:47] douglasparker commented on #7493
That is a very good question. 🤔

[2020-11-23 20:53] #12762 closed

[2020-11-23 20:54] mrspirytus commented on #12682
Is there any additional information I can provide?

[2020-11-23 21:15] bsclifton commented on #7493
Explanation incoming - I know it can be frustrating ☹️ Hoping you all can hang in there as we make progress

The pinning logic we had was all custom written on top of Chromium and was seeded with information coming from the [chrome.topSites API](https://developer.chrome.com/extensions/topSites). This code mostly worked but always seemed to be plagued with issues- including sites that would seeming

[2020-11-23 21:21] iefremov commented on #12671
@tortino For some reason these dumps were not captured by our crash tracker :( Could you please reproduce few more times (using a new version as @rebron suggests)?

[2020-11-23 21:26] douglasparker commented on #7493
Thanks for the update @bsclifton. Hopefully we'll see the situation improve in the near future.

[2020-11-23 22:01] bsclifton commented on #353
@rafaelcastrocouto and others - update here about latest changes that were introduced with 1.17
https://github.com/brave/brave-browser/issues/7493#issuecomment-732430639

Now that we're integrated with instant service and other code from Chromium, we can look at pulling in the background image setting code without having to do everything from scratch

[2020-11-23 22:03] MAXOUXAX commented on #12731
Seems like it's working again!
Thanks for the quick fix guys!

[2020-11-23 22:41] karenkliu opened #12863 "Cards toggle does not remember"
## Description

The Cards toggle also doesn't seem to remember my last preference. If I hide Rewards, toggle off Cards, and toggle on Cards, it will still show Rewards even though it's supposed to remember that I've hidden it

## Steps to Reproduce

   1. Open a new tab page
   2. Click on "Customize"
   3. Click on "Cards"
   4. Hide any card
   5. Turn off "Cards" toggle and see all cards become

[2020-11-23 22:54] ryanml opened #12864 "Breaking changes to window.ethereum API"
Along with removing `window.web3`, MetaMask is making some breaking changes to `window.ethereum` upstream that we should catch up with. They are as follows:

- [ ] Stop 0-padding eth_chainId return values
- [ ] Stop emitting chainIdChanged, and instead emit chainChanged
- [ ] Remove ethereum.publicConfigStore
- [ ] Remove the following experimental methods:
- [ ] ethereum._metamask.isEnabled
- [ ]

[2020-11-23 23:05] rebron commented on #12766
cc: @simonhong. I'm seeing this as well. Allowed to use in system settings but getting that prompt that it's turned off.

[2020-11-23 23:06] rebron commented on #12731
Closing per last comment.

[2020-11-23 23:06] #12731 closed

[2020-11-24 00:20] harshhhdev commented on #12641
@rebron alright,

The distro I am using is the latest version of [Pop!_OS], and the theme I am using is White Sur dark. Another thing I am noticing is that the exact same happens on chromonium, and when I use the default, built-in theme. this does not happen. It might be a flaw in my theme.

[Pop!_OS]: https://pop.system76.com/

[2020-11-24 00:22] ACodingGenie commented on #12120
:(

[2020-11-24 00:22] #12120 closed

[2020-11-24 00:24] tee4341 commented on #12845
it work fine come in from my link , but it not work com in google (I don't know anything,)
https://www.google.com/search?q=advancescen&oq=advan&aqs=chrome.0.69i59j69i57j69i61l3.7904j0j7&sourceid=chrome-mobile&ie=UTF-8

[2020-11-24 01:46] rotatingangles commented on #12375
**SOLUTION** on Brave Browser Linux.
Go to website in question and toggle the "Shields" to "UP" as opposed to "DOWN"
Try it on github, you'll see it added or removed.
This is one hell of a way for this to operate.
Brave, give the user some control over this, make it more user friendly, and absolutely make it more easily removable.
The default DOWN should be temporary, maybe clear cookies when wind

[2020-11-24 02:10] rotatingangles commented on #12375
**SOLUTION** -Go to website in question, and change Shields to UP.

[2020-11-24 02:30] #12851 closed

[2020-11-24 02:47] tmancey commented on #12836
Fixed as part of https://github.com/brave/brave-browser/issues/12833

[2020-11-24 03:30] dodieboy commented on #12113
cloudflare dns also block brave ads from working

[2020-11-24 04:20] camots commented on #12731
Yes it is working fine now!

Thank you very much.

Best regards

From: Rafael Ebron <notifications@github.com>
Reply-To: brave/brave-browser <reply@reply.github.com>
Date: Monday, 23 November 2020 at 20:52
To: brave/brave-browser <brave-browser@noreply.github.com>
Cc: camots <werner.volken@vsw.ch>, Mention <mention@noreply.github.com>
Subject: Re: [brave/brave-browser] Google Earth Web black scree

[2020-11-24 04:22] pes10k commented on #8861
Can't reproduce, looks like the solved or EL/EP solved.  Closing

[2020-11-24 04:22] #8861 closed

[2020-11-24 04:41] #199 closed

[2020-11-24 04:44] diracdeltas commented on #12824
cc @fmarier on the mixed content upgrade issue

[2020-11-24 05:44] GeetaSarvadnya commented on #12334
Verification passed on

[code]
- Verified the test plan from https://github.com/brave/brave-core/pull/6972
- Verified ToS and PP in tipping banner from both BR panel and inline tipping banner
- Verified both clean and upgraded profile
**Verified pubs:**
![image](https://user-images.githubusercontent.com/38657976/100051038-d6b67b00-2e40-11eb-9294-2bac79b105f4.png)
**Nonverified pubs:**
![image](htt

[2020-11-24 06:36] GeetaSarvadnya commented on #12651
Verification passed on

[code]
- Verified STR from the description and ensured NTP wallpapers are centered
![image](https://user-images.githubusercontent.com/38657976/100057353-4468a400-2e4d-11eb-9394-c9e8d64a354e.png)

[2020-11-24 06:50] ryanml commented on #12062
With the recent removal of granular NTP widget settings from `brave://settings`, we'll go ahead and close this one

[2020-11-24 06:50] #12062 closed

[2020-11-24 07:55] srirambv opened #12865 "Manual test run on Android ARM for 1.17.x Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [x] Make sure Brave handles links from Gmail, Slack
- [x] Make sure Brave works as custom tabs provide with Chrome browser
- [x] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [x]

[2020-11-24 07:55] srirambv opened #12866 "Manual test run on Android Tab for 1.17.x Release #3"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [x] Make sure Brave handles links from Gmail, Slack
- [x] Make sure Brave works as custom tabs provide with Chrome browser
- [x] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [x]

[2020-11-24 07:55] srirambv opened #12867 "Manual test run on Android x86 for 1.17.x Release #3"
## Installer

- [ ] Check that installer is close to the size of the last release
- [ ] Check the Brave version in About and make sure it is EXACTLY as expected

## Custom tabs

- [ ] Make sure Brave handles links from Gmail, Slack
- [ ] Make sure Brave works as custom tabs provide with Chrome browser
- [ ] Ensure custom tabs work even with sync enabled/disabled

## Settings and Bottom bar

- [ ]

[2020-11-24 08:10] GeetaSarvadnya commented on #12532
Verification passed on

[code]
- Verified the test plan https://github.com/brave/brave-core/pull/7071 and description from the issue https://github.com/brave/brave-browser/issues/12532#issue-736833767
- Verified the welcome page onboarding from various places and ensured text is shown as expected "Start using Brave Rewards"

**_Clean profile_**
**BR panel:**
![image](https://user-images.githubuser

[2020-11-24 08:21] GeetaSarvadnya commented on #12452
@iefremov Could you please link the test plan in the issue?

[2020-11-24 08:27] PrivacyMatters commented on #12334
Thanks @GeetaSarvadnya I assume if someone doesn't want to tip they can just select the X and go to settings as normal to set a default ?

[2020-11-24 08:40] GeetaSarvadnya commented on #12397
Verification passed on

[code]
- Reproduced issue in 1.17.x
![image](https://user-images.githubusercontent.com/38657976/100069333-a41b7b00-2e5e-11eb-928a-ef49ab97a491.png)

- Verified the description from the issue https://github.com/brave/brave-browser/issues/12397#issue-732616850
![image](https://user-images.githubusercontent.com/38657976/100069456-cb724800-2e5e-11eb-8034-c08191dce4ee.png)

[2020-11-24 08:46] ryanbr commented on #12852
We could wrap this in the https://github.com/brave/adblock-lists/issues/438

Which has more complete social item blocking

[2020-11-24 08:56] GeetaSarvadnya commented on #11581
Verification passed on

[code]
- Reproduced the issue in 1.17.x
![image](https://user-images.githubusercontent.com/38657976/100071358-f5c50500-2e60-11eb-87e1-7f4753d514cd.png)

- Verified the test plan from https://github.com/brave/brave-core/pull/6949
![image](https://user-images.githubusercontent.com/38657976/100071384-ffe70380-2e60-11eb-9ca4-60b79f23728d.png)

[2020-11-24 09:06] Madis0 opened #12868 "No "Open in Chrome Web Store" link"
## Description

Brave's extension manager and extension buttons' right click menu lacks an option to view the extension's homepage in Chrome Web Store.

## Steps to Reproduce

   1. Install an extension [(e.g. uBO)](https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm)
   2. Right click it's button
   3. Attempt to click the name

 1. Install an extension [(e.g.

[2020-11-24 09:52] iefremov commented on #12452
@GeetaSarvadnya done, thanks for reminding me

[2020-11-24 10:12] mariospr opened #12869 "C87 followup: Drop chromium_src/net/base/network_isolation_key.{h,cc} override"
## Description

As mentioned in the conversation at https://github.com/brave/brave-core/pull/7199#discussion_r528664046, this override is not strictly needed in Cr87 since we probably could leverage `NetworkIsolationKey::CreateWithNewFrameOrigin()` as a workaround to get `top_frame_origin_` (instead of `original_top_frame_origin_`), and drop the override entirely.

Alternatively, we could leave th

[2020-11-24 11:17] GeetaSarvadnya commented on #12224
Verification passed on

[code]
- Verified the STR from the description
- Verified `Server connection error` error message displayed in the banner when wifi/internet is down
![image](https://user-images.githubusercontent.com/38657976/100086779-e00d0b00-2e73-11eb-8faa-4b80449a34aa.png)

[code]
- Verified the console logs when wifi/internet is down
[code]
- Verified error message is removed from bann

[2020-11-24 12:15] GeetaSarvadnya commented on #12452
@francois Thanks for linking the test plan in the issue https://github.com/brave/brave-browser/issues/12452
I would need few clarifications apart from the test plan, please correct me if I am wrong.
1. Is this question is not added in the P3A wiki https://github.com/brave/brave-browser/wiki/P3A - do we need to just verify the stats `incognito_used_timestamp` display along with timestamp? I mean wh

[2020-11-24 12:36] GeetaSarvadnya opened #12870 "Inline tip button is shown in Reddit/Twitter/GH even though tipping is disabled in Tips settings"
## Description

Inline tip button is shown in Reddit/Twitter/GH even though tipping is disabled in Tips settings
## Steps to Reproduce

   1. Clean profile 1.18.59 - launch brave with staging flag
   2. Enable rewards and claim UGP grants
   3. Disable all tip settings from `Tips settings`
   4. Open verified Twitter/GH/Reddit pubs and verify the Inline tip button is shown in Reddit/Twitter/GH

##

[2020-11-24 13:27] gaetschwartz commented on #12576
@pes10k It would indeed fix it because it just needs it for the session. Thanks for the feedback ! I will close the issue and reopen it if #8514 doesn't fix it !

[2020-11-24 13:30] #12844 closed

[2020-11-24 13:37] samartnik opened #12871 "Fix assert for non-Android builds"
Need to fix this assert
[code]

[2020-11-24 14:06] emerick commented on #12870
We currently require a browser restart when changing the inline tipping settings.

[2020-11-24 14:09] GeetaSarvadnya commented on #11467
Verification passed on

[code]
- Verified the test plan from https://github.com/brave/brave-core/pull/6680
<details>
<summary>Plan 1: Join Rewards switch is removed from brave://rewards page</summary>

![image](https://user-images.githubusercontent.com/38657976/100102062-17d27d80-2e89-11eb-8cce-8645b641c475.png)

</details>

<details>
<summary>Plan 2 & 3: Claim grants and send Tips</summary>

- En

[2020-11-24 14:10] iefremov commented on #12452
@GeetaSarvadnya
1. Sorry I probably confused use - `incognito_used_timestamp` is not a metric, but rather a value that is used to generate other metric (i.e. Brave.Core.LastTimeIncognitoUsed). So there are no other parameters.
2.  This comes from the previous answer - this is not a metric, but just an utility value
3. this is "microsoft" timestamp - can be checked at https://www.epochconverter.com

[2020-11-24 14:16] srirambv opened #12872 "Have better wording about wallet or hide QR code message until wallet is created"
## Description

If wallet is not created by enabling ads, QR code fails to load. There is no clear messaging that wallet is required for QR code to be generated. This needs to be handled better

## Steps to Reproduce

   1. Create a new browser profile
   2. Open rewards page and cancel onboarding
   3. Click on QR code button, shows loading message

## Actual result:

![image](https://user-images

[2020-11-24 14:20] LaurenWags commented on #12870
Occurs as a result of https://github.com/brave/brave-core/pull/6978.

@GeetaSarvadnya can you confirm browser restart resolves this per @emerick  comment in https://github.com/brave/brave-browser/issues/12870#issuecomment-732994642?

[2020-11-24 14:40] #12177 closed

[2020-11-24 14:42] GeetaSarvadnya commented on #12870
@LaurenWags @emerick Restart browser fixes the issue, hence closing the issue. Thanks!

[2020-11-24 14:45] mastino21 commented on #11981
Same issue here. It happened whenever Brave is updated, in Fedora33 and openSuse Tumbleweed. But now I am on 1.17.73 and it seems all passwords are there. I want to wait until a new update is released to confirm if this has been fixed.

[2020-11-24 14:46] iefremov opened #12873 "Crash in BraveSessionCache"
[code]
https://brave.sp.backtrace.io/p/brave/explore?filters=((callstack%2Ccontains%2CPerturb)%2C_deleted%3D0)&aggregations=((ver%2Cmax)%2C(callstack%2Chead))&

[2020-11-24 14:47] iefremov commented on #12873
History
https://brave.sp.backtrace.io/p/brave/explore?time=all&filters=((callstack%2Ccontains%2CPerturbPixels))&aggregations=((ver%2Cmax)%2C(callstack%2Chead))&

[2020-11-24 14:47] GeetaSarvadnya commented on #12870
As per the slack conversion, the issue is kept open https://bravesoftware.slack.com/archives/CB0KCRCQN/p1606226717465100?thread_ts=1606221529.464500&cid=CB0KCRCQN

[2020-11-24 14:57] #12853 closed

[2020-11-24 15:06] emerick opened #12874 "Add max-line-length of 80 to linter rules for Greaselion scripts"
We currently have no line length limit set in the linter rules for our Greaselion scripts. Let's update `tslint.json` with the following rule and fix the linter fallout (it looks like about 55 lines would violate that rule currently):

[code]

[2020-11-24 15:11] antonok-edm opened #12875 "Enable Global Privacy Control on all release channels"
After the success of https://github.com/brave/brave-browser/issues/11917, we'd like to enable GPC for Beta and Release channels as well.

[2020-11-24 15:21] aaronsantamaria commented on #12837
+1
https://community.brave.com/t/hate-new-widget-for-top-sites/182427

[2020-11-24 15:30] #12852 closed

[2020-11-24 16:01] srirambv commented on #12482
Verification passed on

Brave | 1.19.28 Chromium: 87.0.4280.67 (Official Build) nightly (64-bit)
-- | --
Revision | `0e5d92df40086cf0050c00f87b11da1b14580930-refs/branch-heads/4280@{#1441}`
OS | Linux

- Verified `Don't show again` button is shown when a Dapp is detected
![image](https://user-images.githubusercontent.com/17010094/100118843-1e073080-2e6e-11eb-8bc3-8333c8f90d41.png)
- Verified click

[2020-11-24 16:02] #12871 closed

[2020-11-24 16:11] OddSquirrel commented on #12819
Now please excuse my ignorance, I still don't know my way around here and might be posting in the wrong section.
But since this seems to be the thread that focuses on Apple Silicon, I couldn't find a more fitting spot.

So on the release page, it says under macOS: "Brave-Browser-Beta-x64.* or Brave-Browser-Beta-arm64.* will install this version."

That's great, but where **_is_** Brave-Browser-Bet

[2020-11-24 16:22] mihaiplesa commented on #12819
@OddSquirrel this is only available in nightly channel for now, coming to the others very soon.

[2020-11-24 16:32] OddSquirrel commented on #12819
Thanks much @mihaiplesa I found it among the nightly releases now. Although the same text is on the Beta release page, with the referenced version nowhere to be found. I guess it just got posted there by accident then.

[2020-11-24 16:33] kjozwiak opened #12876 "Pending verifications/Release Notes from 1.17.x Release #2"
Current list of issues that have been fixed/resolved in [`1.17.x Release #2`](https://github.com/brave/brave-browser/milestone/157) but haven't been verified by QA as  [`1.17.x Release #2`](https://github.com/brave/brave-browser/milestone/157) was released on `Desktop` only.

- [ ] Upgrade from Chromium 87.0.4280.66 to Chromium 87.0.4280.67. #12793

Current list of issues that are `release-notes/i

[2020-11-24 16:33] #12876 closed

[2020-11-24 16:35] kjozwiak commented on #12834
@deeppandya do you know when the crash was happening? Visiting websites? Interacting with rewards? Interacting with UI? We usually try adding any crash fixes into the release notes so need some context.

[2020-11-24 16:40] LaurenWags commented on #12307
Verified passed with

[code]

Testing completed with https://github.com/brave/brave-browser/issues/6462#issuecomment-732240577

----------

[2020-11-24 16:40] deeppandya commented on #12834
@kjozwiak these logs are from play store. So it may not crash for us. There may be some edge cases so I added a fix to avoid it as well.

[2020-11-24 16:40] kjozwiak commented on #12793
@brave/legacy_qa regarding QAing the above, just need to make sure the correct CR version is being listed under `brave://version` when we get builds for [`1.17.x - Release #3`](https://github.com/brave/brave-browser/milestone/158).

[2020-11-24 16:41] deeppandya commented on #12834
There was one minor issue on some devices, when you open-close brave stats, it used to crash.

[2020-11-24 16:51] kjozwiak commented on #12834
Thanks @deeppandya, so something along the lines of the following should work for the release notes?

[code]

[2020-11-24 16:52] mihaiplesa commented on #12819
Good catch, have updated the release text.

[2020-11-24 16:54] deeppandya commented on #12834
@kjozwiak may be you can just mention about stability in privacy reports. Or bug fixes in privacy report

[2020-11-24 18:08] #12875 closed

[2020-11-24 18:09] bsclifton commented on #12824
I think this is a duplicate of https://github.com/brave/brave-browser/issues/10190

[2020-11-24 18:11] bsclifton commented on #12375
cc: @rebron @karenkliu

[2020-11-24 18:36] rebron commented on #8361
@ryanml Wasn't sure how you wanted to handle the prs for v2 spec. But we have this issue open as well.
cc: @karenkliu

[2020-11-24 18:41] #12576 closed

[2020-11-24 19:21] bsclifton commented on #12120
cc: @pes10k @diracdeltas

[2020-11-24 19:48] edahlseng opened #12877 "Keep search query in address bar for subsequent searches"
## Description
I just switched to Brave this past weekend and have been loving it. As I get used to the new browser, there's one workflow from muscle-memory in other browsers that's tripping me up more than others: editing a search query from the address bare. A common pattern for me is to type a search query into the address bar and hit enter, skim the results, realize I need to update my search

[2020-11-24 19:53] rebron commented on #12042
cc: @iefremov Can you take a look at this crashid when you get a chance?

[2020-11-24 20:01] ertugrulcetin opened #12878 "YouTube Homepage does not show up while logged in"
## Description
YouTube homepage does not show up (loading components only shown) when I logged in to my Google account. If I logout everything seems fine. I also reset the settings and tried again. I attached the screen.

## Steps to Reproduce

   1. Open YouTube while your Google account is logged in.

## Actual result:

![Screen Shot 2020-11-24 at 22 51 44](https://user-images.githubusercontent.

[2020-11-24 20:19] mihaiplesa opened #12879 "Rebase Sparkle to 1.24.0 for universal binary support"
arm64 support for Sparkle has been implemented in https://github.com/sparkle-project/Sparkle/issues/1620 so we need a rebase to avoid the error below when creating universal binaries.

`
5:59:33  fatal error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/lipo: x64/Brave Browser Nightly.app/Contents/Frameworks/Brave Browser Nightly Framework.framework/Versio

[2020-11-24 20:30] cone-7 commented on #12593
@tmancey I have the same problem, what should I do?

[2020-11-24 20:38] bsclifton commented on #12878
@ertugrulcetin where are you physically located? are you using a VPN?

As this reproduces in Chrome, I don't think it's a problem with the software. I'd guess this is a network problem. I'd definitely recommend giving it some time and trying again. If YouTube has a way to get support (Twitter, etc) I'd suggest hitting them up with this information too

[2020-11-24 21:00] iefremov commented on #12042
@rebron Unfortunately the report is too old, we store crash dumps only for 30 days. Sorry :(

[2020-11-24 22:16] tmancey opened #12880 "Add statement of accounts changes for Brave Ads NTP widget"

[2020-11-24 22:47] ravenclaw900 opened #12881 "Can't open pine64.org"
## Description

Brave can't load `pine64.org`, instead showing that the connection was reset.

## Steps to Reproduce

   1. Try to visit `pine64.org`

## Actual result:

<img width="672" alt="Screen Shot 2020-11-24 at 4 40 47 PM" src="https://user-images.githubusercontent.com/50060110/100159913-43973880-2e74-11eb-9bc0-2d87e8469e0b.png">

## Expected result:
<img width="1200" alt="Screen Shot 2020-

[2020-11-24 23:11] #12878 closed

[2020-11-24 23:27] NoodleSushi commented on #11981
Issue still persists in `Version 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)`. Passwords were not saved in Autofill and I still got signed out in all websites I have used.

[2020-11-25 00:07] dentistformyeye commented on #12824
My bad, this does seem to be a duplicate.

[2020-11-25 00:07] #12824 closed

[2020-11-25 00:15] bsclifton commented on #12849
@LinsaFTW you can use the `--user_data_dir_name` command line flag to specify the directory path that you prefer. Probably the easiest way to take advantage of this would be to edit the shortcut

Editing the shortcut would look like adding this:
[code]

[2020-11-25 00:22] dentistformyeye commented on #12845
The images load properly when I access the website using HTTP. Here's what I see when I attempt to access the website using HTTPS.
![image](https://user-images.githubusercontent.com/51429646/100163757-60d40300-2e84-11eb-8f32-c340813b9c2a.png)

In the GIF that @tee4341 posted, the padlock flashes for a moment before the warning triangle appears, so I think Brave's HTTPS Everywhere upgrades any imag

[2020-11-25 00:35] LinsaFTW commented on #12849
That didn't work. I have to create a "mklink /J" as the only way to do this. Please make it a built-in feature.

[2020-11-25 00:35] LinsaFTW commented on #12849
Accidentally closed.

[2020-11-25 00:44] pes10k commented on #8514
@dlecan we're getting close!  No promises, but looks like we might land an implementation in nightly in the next week or three (though the holidays might slow things down).  It'd then take two releases (~6 weeks) for it to make its way to stable unless we do an uplift (which, given the need for testing here, is unlikely)

[2020-11-25 01:38] pes10k commented on #12791
Thanks @anisg, but Im not sure I fully understand whats needed here still.  I understand that the iframes your injecting need access to 3p storage, but Im not sure what origin / party would "own" that storage.  Do you expect all the frames injected, into different 1ps, to see the same storage?

Apologies for all the questions, but just want to make sure I understand whats needed before we start tr

[2020-11-25 01:50] pes10k commented on #12120
@ACodingGenie i think there is some misunderstanding here.  For the examples you gave above, PrivacyBadger isn't blocking any requests; its just not sending cookies with those requests.  Brave already does a much stronger version of this.  Brave doesn't send cookies on any 3rd party requests.  So, in all the examples in your image, Brave is already doing what PrivacyBadger does.  Brave shields are

[2020-11-25 01:54] ACodingGenie commented on #12120
Makes sense brother. Shanks!

[2020-11-25 02:52] kjozwiak commented on #12831
Removed ` QA/Yes` and added `QA/No` after speaking with @deeppandya. Looks like we need ~1-2GB of `Saved Data` for the issue to reproduce which is very difficult to get manually. @deeppandya confirmed that the fix worked after manually editing the values on a local build.

[2020-11-25 02:53] fabrijp opened #12882 "87.1.19.32 arm version - Crash upon open in Mac mini M1"
## Description

Crash upon open in Mac mini M1

## Steps to Reproduce

   1. Just open the app

## Actual result:

![image](https://user-images.githubusercontent.com/4961474/100177260-0fc01f80-2f15-11eb-9ad0-2a9c3622e9eb.png)

## Reproduces how often:

Every time

## Brave version (brave://version info)

87.1.19.31 (119.31)

## Version/Channel Information:

- Can you reproduce this issue with the

[2020-11-25 04:09] #12830 closed

[2020-11-25 05:28] srirambv commented on #12622
Verification passed on

Brave | 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)
-- | --
Revision | `0e5d92df40086cf0050c00f87b11da1b14580930-refs/branch-heads/4280@{#1441}`
OS | Linux
Component | `1.0.17 dev`

- Verified steps from issue description
![12622-linux](https://user-images.githubusercontent.com/17010094/100186693-66f6cd80-2ede-11eb-8e47-79d5aab33526.gif)

------
Verification pa

[2020-11-25 05:34] srirambv commented on #12654
Verification passed on

Brave | 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)
-- | --
Revision | `0e5d92df40086cf0050c00f87b11da1b14580930-refs/branch-heads/4280@{#1441}`
OS | Linux
Component | `1.0.17 dev`

- Verified password disclaimer is shown when a new wallet is created
![image](https://user-images.githubusercontent.com/17010094/100187149-601c8a80-2edf-11eb-8505-8c759a9f538c.png)

[2020-11-25 05:43] srirambv commented on #8281
Verification passed on

Brave | 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)
-- | --
Revision | `0e5d92df40086cf0050c00f87b11da1b14580930-refs/branch-heads/4280@{#1441}`
OS | Linux
Component | `1.0.17 dev`

- Verified no error/warnings about SourceMap in devtools irrespective of whether Crypto Wallet was enabled or not
------
Verification passed on

Brave | 1.19.16 Chromium: 87.0.4280.

[2020-11-25 06:46] bsclifton commented on #12849
@LinsaFTW apologies; I gave the wrong flag ☹️ I just tried and verified the following works:
[code]

Because a profile needs to be created before Brave (or Chromium) can launch, it can't really be a built in feature... other than maybe we can check for a registry key. But since Chromium already provides this command line flag (`--user-data-dir`), it's a lot easier to edit the shortcut. You definit

[2020-11-25 07:00] shadow1349 commented on #2143
@pilgrim-brave I'm not sure why, but blocking FCM has also broken [Firebase Callable Functions](https://firebase.google.com/docs/functions/callable) in Angular. Here's a PR I made for it:

https://github.com/angular/angularfire/issues/2475#issuecomment-711099922

I don't think there is much the Angular team can do to fix it since it seems the issue is on Brave itself. Now my whole app is broken in

[2020-11-25 07:01] shadow1349 commented on #2362
I'm not sure why, but blocking FCM has also broken Firebase Callable Functions in Angular. Here's a PR I made for it:

angular/angularfire#2475 (comment)

I don't think there is much the Angular team can do to fix it since it seems the issue is on Brave itself. Now my whole app is broken in Brave since I rely on callable functions.

[2020-11-25 07:01] shadow1349 commented on #4431
I'm not sure why, but blocking FCM has also broken Firebase Callable Functions in Angular. Here's a PR I made for it:

angular/angularfire#2475 (comment)

I don't think there is much the Angular team can do to fix it since it seems the issue is on Brave itself. Now my whole app is broken in Brave since I rely on callable functions.

[2020-11-25 07:05] shadow1349 commented on #11118
I'm not sure why, but blocking FCM has also broken [Firebase Callable Functions](https://firebase.google.com/docs/functions/callable) in Angular. Here's a comment I made for it:

https://github.com/angular/angularfire/issues/2475#issuecomment-711099922

I don't think there is much the Angular team can do to fix it since it seems the issue is on Brave itself. Now my whole app is broken in Brave sin

[2020-11-25 07:20] fabrijp commented on #12882
The newest version 87.1.19.32 arm version still crashing when trying to open it on a Mac with M1 chip.

[2020-11-25 07:45] zsbolyoczki opened #12883 "Feature request: address bar at the bottom"
Issue #7511 seems to be closed still I can't find this option in  v1.17.72 on Android.

As it is reasoned in the above mentioned ticket the lack of this feature makes Brave uncomfortable on big screen devices (even on devices with 5"+ screen) and putting the address bar to the top is not practical on mobile devices.

Because not all the users like to have address bar at the bottom there should be

[2020-11-25 07:46] zsbolyoczki opened #12884 "Address bar doesn't get the focus on new tab"
In Brave v1.17.72 on Android the address bar doesn't get the focus when a new tab is opened.

Suggested behaviour: set the focus to the address bar when a new tab is opened.

[2020-11-25 07:50] zsbolyoczki opened #12885 "Reorder items on bottom toolbar"
The items on the bottom toolbar are in a fixed order (new tab, bookmarks, search, tab switcher, menu).

Opening a new tab with the "+" button is quite uncomfortable for right-handed users on bigger screens because the button is on the far side.

Suggestion: have an option to freely reorder the items on the bottom toolbar or just have a "left-handed/right-handed" option with reordered buttons.

[2020-11-25 08:07] #12879 closed

[2020-11-25 08:07] 4evermaat commented on #781
So has this been added to brave?   I tried to switch it in windows 10 to default to Brave (previously google chrome opened `mailto:` links just fine.)

Since Brave is based on chromium, not sure why clicking on mailto url within brave browser didn't work.

[2020-11-25 08:15] pniedzwiedzinski commented on #12780
Hi, it looks like the new release fixes it, whatever that was. Thanks,
this can be closed now.

On 20/11/23 06:40AM, Rafael Ebron wrote:

[2020-11-25 08:48] srirambv commented on #11696
Verification passed on

Brave | 1.17.73 Chromium: 87.0.4280.67 (Official Build) (64-bit)
-- | --
Revision | `0e5d92df40086cf0050c00f87b11da1b14580930-refs/branch-heads/4280@{#1441}`
OS | Linux
Component | `1.0.17 Dev`

- Verified browser action UI shows info about CW not being the default web3 provider
![image](https://user-images.githubusercontent.com/17010094/100202096-c366e680-2ef8-11eb-9a27-32

[2020-11-25 08:49] srirambv opened #12886 "Manual test run on OS X for Ethereum Remote Client 1.0.24"
## Per release specialty tests

## Branding

- [x] Verify there are no appearances of the word MetaMask
- [x] Verify links to MetaMask resources such as websites and email should point to Brave resources
- [x] Verify all downloadable resources (Seed/Logs) contains Brave file names
- [x] Verify MetaFox logo is not present on any screen

## Component

- [x] Verify Ethereum client component is downlo

[2020-11-25 08:49] srirambv opened #12887 "Manual test run on Windows x64 for Ethereum Remote Client 1.0.24"
## Per release specialty tests

## Branding

- [x] Verify there are no appearances of the word MetaMask
- [x] Verify links to MetaMask resources such as websites and email should point to Brave resources
- [x] Verify all downloadable resources (Seed/Logs) contains Brave file names
- [x] Verify MetaFox logo is not present on any screen

## Component

- [x] Verify Ethereum client component is downlo

[2020-11-25 08:49] srirambv opened #12888 "Manual test run on Linux for Ethereum Remote Client 1.0.24"
## Per release specialty tests

## Branding

- [x] Verify there are no appearances of the word MetaMask
- [x] Verify links to MetaMask resources such as websites and email should point to Brave resources
- [x] Verify all downloadable resources (Seed/Logs) contains Brave file names
- [x] Verify MetaFox logo is not present on any screen

## Component

- [x] Verify Ethereum client component is downlo

[2020-11-25 10:12] LinsaFTW commented on #12849
That worked only when i open from the direct access. When i open it from links in Discord or other applications it isn't possible to use the flag.

Isn't there a way to atleast customize this value on install? Or maybe you can inspire in HenryPP's Chromium Launcher.

Cheers.

[2020-11-25 10:25] #2735 closed

[2020-11-25 11:24] #7240 closed

[2020-11-25 11:52] theoturner commented on #12493
Bug still present in 1.17.72 - any word on this?

[2020-11-25 12:38] vedangwartikar opened #12889 "Ad showing on Youtube (Android)"
## Description
Unclickable Ad is visible sometimes below YouTube videos. Easily reproducible (at least for me). Please take a look. Thanks

## Steps to reproduce

   1. Open YouTube from Brave browser on Android
   2. Unclickable Ad is visible below the video

## Actual result
![image](https://user-images.githubusercontent.com/43764240/100228084-259b0800-2f48-11eb-9746-279a90c334e0.png)

## Issue