[2019-06-13 16:32] #4890 closed

[2019-06-13 16:36] bsclifton commented on #4880
@mkarolin SGTM! 😄

[2019-06-13 16:39] kjozwiak opened #4893 "Manual test run on OS X for 0.65.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests

- [ ] Shields Panel and Rewards Panel are not translated to Norwegian #3425
- [x] Channel name doesn't have channel string in `chrome://settings/help` #4753
- [x] {{balancse}} being displayed when restoring wallet under Norwegian locale #4880
- [x] Upgrade from Chromium 75.0.3770.80/75.0.3770.87 to Chromium 75.0.3770.90 #4888

### Installer

- [x] Check signature: I

[2019-06-13 16:39] kjozwiak opened #4894 "Manual test run on Windows x64 for 0.65.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests

- [x] {{balancse}} being displayed when restoring wallet under Norwegian locale #4880
- [x] Upgrade from Chromium 75.0.3770.80/75.0.3770.87 to Chromium 75.0.3770.90 #4888

### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installe

[2019-06-13 16:39] kjozwiak opened #4895 "Manual test run on Linux for 0.65.x - Release Hotfix 1 (Release Channel)"
## Per release specialty tests

- [ ] Shields Panel and Rewards Panel are not translated to Norwegian #3425
- [ ] Channel name doesn't have channel string in `chrome://settings/help` #4753
- [x] {{balancse}} being displayed when restoring wallet under Norwegian locale #4880
- [x] Upgrade from Chromium 75.0.3770.80/75.0.3770.87 to Chromium 75.0.3770.90 #4888

### Installer

- [x] Check signature: I

[2019-06-13 16:45] kjozwiak opened #4896 "Release checklist for 0.65.x Hotfix 1 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [ ] Check https://github.com/bra

[2019-06-13 16:47] mbacchi commented on #4879
It looks like the command you copied was truncated. The files in that directory need to be named "filename.list". If you rename the file `brave-browser-release-bionic.` to `brave-browser-release-bionic.list` it should work.

If not please post the '/etc/apt/sources.list.d/' directory contents here and also display the file `brave-browser-release-bionic.list`.

[2019-06-13 16:54] bsclifton commented on #4755
Relayed to our bizdev team- thanks! 😄

[2019-06-13 16:54] #4755 closed

[2019-06-13 16:55] bsclifton commented on #4675
Closing as this should be fixed... @jonathansampson can you confirm?

[2019-06-13 16:55] #4675 closed

[2019-06-13 16:59] jaec commented on #3809
@simonhong doesnt work for me either. It still hangs with --disbale-gpu

BTW, I'm scrolling the emojis list before it is fully loaded.

[2019-06-13 17:22] rebron commented on #2475
Closing. Dupe of https://github.com/brave/brave-browser/issues/1530

[2019-06-13 17:22] #2475 closed

[2019-06-13 17:29] mikegrima commented on #3642
It's really unfortunate that I can't use TouchID on Brave. Other than this, it would have full feature parity with Chrome.

[2019-06-13 17:30] rebron commented on #4782
cc: @petemill may have suggestions on how this should look (where setting should go).

[2019-06-13 17:31] bsclifton commented on #4769
@SmitTheTux what version of Brave are you using?

[2019-06-13 17:57] #4719 closed

[2019-06-13 18:15] loetterle opened #4897 "build on Red Hat Enterprise Linux Workstation release 7.6 (Maipo) fails"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/bin/npm', 'run', 'init' ]
2 info using npm@6.9.0
3 info using node@v10.16.0
4 verbose run-script [ 'preinit', 'init', 'postinit' ]
5 info lifecycle brave@0.68.48~preinit: brave@0.68.48
6 info lifecycle brave@0.68.48~init: brave@0.68.48
7 verbose lifecycle brave@0.68.48~init: unsafe-perm in lifecycle true
8 verbose lifecycle bra

[2019-06-13 18:17] tomlowenthal opened #4898 "Alert/notification for vulnerable security keys"
This morning, [Yubico announced](https://www.yubico.com/support/security-advisories/ysa-2019-02/) a firmware bug in their FIPS series of Yubikeys. They are offering replacements for all affected devices.

As part of our role as a trustworthy agent for people browsing the web, we should let them know if they're attempting to use one of these affected devices. We shouldn't _prevent_ the use of affec

[2019-06-13 18:20] tomlowenthal commented on #4898
Yubico suggests that the most straightforward way to check for at-risk devices is https://github.com/Yubico/yubico-piv-tool/blob/master/lib/ykpiv.c#L1083 in their tool used to manage PIV applet on Yubikeys. It relies on the CCID interface being enabled and gets the firmware version by constructing and sending a single APDU command. They're also checking wether it may be possible to check for this

[2019-06-13 18:31] jonathansampson commented on #4675
@bsclifton Appears to work!

[2019-06-13 18:42] brianddk commented on #3825
@darkvader1996 getting the exact same issue on Debian 9 stretch.  I'm not installing through apt.  I'm just installing the `deb` files with dpkg, but it should work (I would think).

[2019-06-13 18:55] karenkliu commented on #1196
Updated!

[2019-06-13 19:14] kjozwiak commented on #1040
Also reproducible on `Chrome: 75.0.3770.80 (Official Build) (64-bit)` using the STR from both https://github.com/brave/brave-browser/issues/1040#issue-358314506 and https://github.com/brave/brave-browser/issues/1040#issuecomment-462901692.

[2019-06-13 19:46] SmitTheTux commented on #4769
@bsclifton I am using

0.65.118 Chromium: 75.0.3770.80 (Official Build)unknown (64-bit)

on KDE with breez dark look and feel settings

[2019-06-13 19:50] snyderp commented on #3418
Looks like this will be automatically fixed by an upstream EasyList change from @ryanbr

https://github.com/brave/adblock-lists/pull/83#issuecomment-501852869

@rebron is it good to close?

[2019-06-13 20:17] ryanbr commented on #4752
Okay, the easy fix here will be just allow all cookies rather than 3rd-party. which will fix this.

[2019-06-13 20:23] tomlowenthal opened #4900 "Non-functional ad-earning notification"
Version 0.68.36 Chromium: 75.0.3770.87 (Official Build) nightly (64-bit) [MacOS]

Clicked on the BR pyramid in the URL bar. Clicked the claim button: nothing happens. Closed out the notification and headed straight to `chrome://rewards/`. No grant.

<img width="375" alt="Screen Shot 2019-06-13 at 13 14 58" src="https://user-images.githubusercontent.com/639937/59464558-9f374880-8ddd-11e9-815c-ef2be

[2019-06-13 20:27] cezaraugusto commented on #1196
hi @karenkliu, edit still shows the old date. maybe something went wrong with the update files?
<img width="429" alt="Screen Shot 2019-06-13 at 17 26 25" src="https://user-images.githubusercontent.com/4672033/59465065-69578b80-8e00-11e9-9bdf-8984e3effc27.png">

[2019-06-13 20:29] #4887 closed

[2019-06-13 20:35] #2473 closed

[2019-06-13 21:08] fmarier commented on #4878
Here are some options/ideas from @riastradh-brave.

### Option 1: Timestamps

Have browser include a timestamp in the body, and have server reject it if too old.

Pros:
- Simple
- Stateless

Cons:
- Requires browser and server to agree on what time it is, reasonably closely.

### Option 2: Challenge/response

1. Browser sends request.
2. Server sends challenge with timestamp and authenticator unde

[2019-06-13 21:17] brianddk commented on #3825
@darkvader1996 , @srirambv , this fixed it:

* [Super User: Enable user namespaces in Debian kernel](https://superuser.com/questions/1094597/enable-user-namespaces-in-debian-kernel)

[2019-06-13 21:28] davidtemkin commented on #4139
Please prioritize this issue -- we should create rules that allow Uphold connect to work with shields on.

Discussed briefly with @diracdeltas and @evq. Sounds like it is possible. The driver is that Uphold Connect is coming soon for Brave Rewards users -- v 0.68.

cc @mandar-brave @alexwykoff @kjozwiak @rebron @bsclifton

[2019-06-13 21:34] evq commented on #4878
There are two ads APIs which require signatures currently:
`POST /confirmation/payment/{paymentId}` - which is not vulnerable to replay attacks by nature of the cryptographic protocol it is implementing
`GET /confirmation/payment/{paymentId}` - you would only be able to see the amount of confirmations this wallet has

[2019-06-13 21:35] fmarier commented on #4878
Based on https://github.com/brave/brave-browser/issues/4878#issuecomment-501887462 and a discussion with @evq, it doesn't look like a high-priority to fix this given that the impact is minimal or that replay attacks are already mitigated somewhere else.

[2019-06-13 21:35] #4878 closed

[2019-06-13 21:39] adamreisnz opened #4901 "Built-in strong password generator"
Whatever happened to this issue?

https://github.com/brave/browser-laptop/issues/5037

It seems to have been closed, but I can't find any sign of the feature or any other issue here referencing it.

I really miss this feature from Chrome.

[2019-06-13 21:46] kjozwiak commented on #4139
Going to bump this to a `P2` as it sounds like want this completed by `0.68.x`.

[2019-06-13 22:02] tomlowenthal commented on #4874
This is tracked in #35.

[2019-06-13 22:02] #4874 closed

[2019-06-13 22:07] tomlowenthal commented on #4762
This repo is for the desktop version of Brave, which is probably the version least likely to know whether a connection is metered.

[2019-06-13 22:09] tomlowenthal commented on #4750
If we add Tor version info (which seems reasonable), we should probably also include info about all the other things which can be updated through the component updater service. Probably to include Widevine, WebTorrent, IPFS…

[2019-06-13 22:13] tomlowenthal commented on #4749
Having tabs with different security/privacy contexts is something I'm generally quite leery of. There's a lot of potential for someone to make unfortunate mistakes by doing things in the wrong context. And that's even if there's some visual treatment to distinguish those contexts.

[2019-06-13 22:21] diracdeltas commented on #4139
it worked for me just now with shields on. 0.65.118 Chromium: 75.0.3770.80 (Official Build) (64-bit) MacOS

[2019-06-13 22:22] tomlowenthal commented on #4549
Unfortunately, we can't rely on any local state to determine whether this notice is shown. Any malicious attempt to install an unwanted extension could also manipulate that state.

[2019-06-13 22:22] #4549 closed

[2019-06-13 22:25] #4271 closed

[2019-06-13 22:42] karenkliu commented on #1196
@cezaraugusto Hi Cezar, I checked it again - can you see my updates now?

[2019-06-13 22:53] karenkliu commented on #2371
Hi @cezaraugusto, just noting that this issue is still open:
<img width="380" alt="Screen Shot 2019-06-13 at 3 49 02 PM" src="https://user-images.githubusercontent.com/2388823/59472379-0a3f4a00-8df3-11e9-930c-36b5c8ff1aeb.png">

[2019-06-13 23:07] pes10k opened #4903 "Prevent tracking via alternative services (`Alt-Svc` header)"
alt-svc by default have a [24 hour lifetime](https://datatracker.ietf.org/doc/html/draft-nottingham-httpbis-alt-svc-00#section-3.1), which can be modified with the `ma` option.

This can be used for tracking, in a similar way to HSTS cookies.

My initial best guess is that the safest option is to never cache alt-svc values

[2019-06-13 23:41] tomlowenthal opened #4904 "Tor control switch in the extensions area of settings"
This poor soul accidentally opened a private window with Tor when they only meant to open a regular private window, and were hounded by grumpy sysadmins for their error. https://www.reddit.com/r/brave_browser/comments/bxncmt/so_long_guys_back_to_firefox_im_afraid/

We could let people avoid this mistake by adding a toggle in the extensions area of settings to disable Tor. Not a security feature, j

[2019-06-14 00:10] bsclifton opened #4905 "Widevine VMP follow up"
## Description
Follow up to https://github.com/brave/brave-browser/issues/944

- [ ] Get VMP (host verification) working on macOS
- [x] Address review feedback in https://github.com/brave/brave-browser/issues/944 (https://github.com/brave/brave-browser/pull/4909, https://github.com/brave/brave-core/pull/2693)

## Notes
Work originally done in:
- https://github.com/brave/brave-core/pull/2158
- http

[2019-06-14 00:21] #4417 closed

[2019-06-14 00:45] Aphexus opened #4906 "Allow enabling of flash permnantly for some sites"
Every time I restart brave I have to enable the flash for the site... This may seem like a non-issue but I use it on a site that is very slow to load so I have to click the enable text then wait for it to reload again unnecessarily. The site is trust worthy so I don't see why I have to keep doing the same enabling every time I restart.

[2019-06-14 00:56] jasonrsadler opened #4907 "Twitter metadata needs to be generalized for other media publishers"
## Description

twitterMetaData for Brave Rewards needs to be generalized so that it can be used for other media publishers (Reddit, GitHub)

No issue to reproduce as this is a dev concern as follow up to brave/brave-core#2665

[2019-06-14 01:04] simonhong opened #4908 "Introduce build time flag for building Sparkle framework"
Most of devs doesn't need to build Sparkle framework for debug build.

[2019-06-14 01:28] brianddk commented on #4904
@tomlowenthal , Thank you, yes I am that unfortunate soul.  I'm on my sysadmin's "watch list" and I had to purge Brave from my network instances until I can be assured they won't "beacon" again in the future.

More than willing to compile a DLL, or hack a flag or registry setting to disable Tor.  Other users might want something a bit more accessible.

[2019-06-14 04:10] Victorio115 opened #4910 "macOS: Add option to Open New Private Window with Tor directly from the Dock"
## Description

On Windows 10, and Older Versions of Windows, There is a way to open a New Private Window, directly from the taskbar without needing to have Brave Browser opened.

But isn't there a way on Mac, to open a New Private Window, or a New Private Window with Tor, directly form the dock without needing to have Brave Browser opened.

## Steps to Reproduce

A way to open a New Private Windo

[2019-06-14 04:31] Aphexus commented on #4906
Possibly not reloading the page would help since that is the reason why it is slow(it takes about 3 mins to reload a page simply to get flash working... which is a total of 6min rather than 3 since it occurs twice... and that is every time I open the browser).

[2019-06-14 04:51] Ashutosh-Kukreti commented on #4271
Why did you closed it?
Brave really needs to fix this,it is not possible to make payments with it on many sites.

[2019-06-14 06:26] #4888 closed

[2019-06-14 08:20] #4475 closed

[2019-06-14 08:24] NejcZdovc opened #4911 "Move bat_contribution_unittest in contribution folder"

[2019-06-14 09:52] NejcZdovc opened #4913 "Move wallet functions into separate files"
Right now majority of wallet code is in `bat_client`. Because we will be extending this code let's move it into separate folder `wallet`. In there split it into 3 files:

- create
- recover
- wallet (entry point)

After this is done what will have in `bat_client` is grant related code so rename `bat_client` into `grants` file. Adjust all related class names and namespaces

[2019-06-14 10:14] TheAresjej commented on #4910
+1 • Windows 10 (1809)
![Win10](https://i.imgur.com/v5SSTmw.png)

[2019-06-14 10:22] TheAresjej opened #4914 "Dobreprogramy.pl Crash every time on Brave (win10)"
## Description
Dobreprogramy.pl Crash every time on Brave.

## Steps to Reproduce

   1.  Go [link](https://www.dobreprogramy.pl/AMD-tlumaczy-Procesory-Zen-2-sa-odporne-na-wszystkie-znane-luki-sprzetowe,News,102339.html)
   2. Scroll
   3. Crash

## Actual result:
Brave is not responding 😢

## Expected result:
Page works? 🙃

## Reproduces how often:
100%

## Brave version (brave://version info)
Ve

[2019-06-14 10:35] jasonrsadler opened #4915 "Implement Reddit inline tipping for flat menu"
## Description

Implement Reddit inline tipping for menu that appears at bottom of posts/comments (flat menu)

New feature request

[2019-06-14 10:47] mihaiplesa opened #4917 "Switch CI pipeline to Digicert timestamp server"
Closes https://github.com/brave/devops/issues/1199

[2019-06-14 12:48] caspertone2003 commented on #4749
@tomlowenthal
Thanks for caring.
While that you mention is certainly a risk, I believe an even much higher risk is not having containerization... besides the loss of functionality.
Could you add the label of feature/session-tabs ?
TIA

[2019-06-14 13:01] #4917 closed

[2019-06-14 13:34] #4880 closed

[2019-06-14 13:43] #4911 closed

[2019-06-14 14:03] #4913 closed

[2019-06-14 14:12] scotm-gxg commented on #4877
I've noticed this as well. When I leave the tab open and switch focus to another window for awhile and go back to browser (usually Gmail), it'll be black for a second or two or until the browser regains focus.

running same OS (Version 1903 though) and browser version as OP.

[2019-06-14 14:12] kjozwiak commented on #4888
CR checks will be done in the following manual passes:

* Manual test run on Linux for 0.65.x - Release Hotfix 1 (Release Channel) #4895
* Manual test run on Windows x64 for 0.65.x - Release Hotfix 1 (Release Channel) #4894
* Manual test run on OS X for 0.65.x - Release Hotfix 1 (Release Channel) #4893

[2019-06-14 14:13] kjozwiak commented on #4888
Verification **PASSED** on `macOS 10.14.5 x64` using the following build:

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Mac OS X

<img width="1216" alt="Screen Shot 2019-06-14 at 10 11 34 AM" src="https://user-images.githubusercontent.com/2602313/59515409-0c55e700-8e8d-11e9-8c1a-5dc

[2019-06-14 14:20] kjozwiak commented on #4753
@simonhong re: the release channel, is the following expected?

<img width="597" alt="Screen Shot 2019-06-14 at 10 18 24 AM" src="https://user-images.githubusercontent.com/2602313/59515730-c8171680-8e8d-11e9-9a35-bf70799dc195.png">

Should it be `(Official Build) release (64-bit)` or is what we're seeing in the release channel the correct format? I'm assuming it's correct but would appreciate the

[2019-06-14 14:24] simonhong commented on #4753
@kjozwiak Yup, It's expected - empty channel name for stable channel.

[2019-06-14 14:25] kjozwiak commented on #4753
Perfect! Thanks @simonhong 👍

[2019-06-14 14:26] kjozwiak commented on #4753
Verification **PASSED** on `macOS 10.14.5 x64` using the following build:

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Mac OS X

<img width="1060" alt="Screen Shot 2019-06-14 at 10 25 47 AM" src="https://user-images.githubusercontent.com/2602313/59516192-cac63b80-8e8e-11e9-94e0-f55

[2019-06-14 14:28] btlechowski commented on #4914
Reproduced on

Brave | 0.65.118 Chromium: 75.0.3770.80 (Official Build) (64-bit)
-- | --
Revision | 9a9aa15057b6b2cc0909bdcf638c0b65ecd516f2-refs/branch-heads/3770@{#948}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

The page goes into infinity loop.
Disabling Shields solves the issue.

[2019-06-14 14:43] kjozwiak commented on #3425
<img width="441" alt="Screen Shot 2019-06-14 at 10 39 40 AM" src="https://user-images.githubusercontent.com/2602313/59517190-ffd38d80-8e90-11e9-92d3-44b1eb5155ea.png">

<img width="484" alt="Screen Shot 2019-06-14 at 10 42 02 AM" src="https://user-images.githubusercontent.com/2602313/59517222-0feb6d00-8e91-11e9-912a-9d75567c29d2.png">

@bsclifton it doesn't look like the translations made it into

[2019-06-14 14:47] btlechowski commented on #3425
@bsclifton The translations didn't make it as @kjozwiak noted.

[2019-06-14 14:52] iefremov commented on #2351
The current plan is to implement our own `ProxyingURLLoaderFactory` similar to `WebRequestProxyingURLLoaderFactory`, since this is the only logical interface for our Shields machinery after enabling `NetworkService`.

There is a draft PR with this factory, cargoculted/copypasted from two existing `Proxying` factories in Chromium (https://github.com/brave/brave-core/pull/2701), not sure if it is po

[2019-06-14 14:52] kjozwiak commented on #4880
Verification **PASSED** on `macOS 10.14.5 x64` using the following build:

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Mac OS X

![Skjermbilde 2019-06-14 kl  07 36 58](https://user-images.githubusercontent.com/2602313/59517868-82108180-8e92-11e9-9005-42e321d1775e.png)

[2019-06-14 14:59] HaleTom commented on #4762
**Windows**
https://stackoverflow.com/a/35910061/5353461, See 4th heading.

**Linux NetworkManager**
https://stackoverflow.com/a/54481683/5353461

[2019-06-14 15:09] bhlevca commented on #3910
@rebron I will try, I have not been using brave lately because I am on a 30 bit depth color display, which makes brave display complementary colours and unreadable text

[2019-06-14 15:12] btlechowski commented on #4753
Moving back to 0.66.x as it is beta/dev/nighly only issue.

[2019-06-14 15:19] mandar-brave commented on #4139
@diracdeltas did you try the KYC; with netverify coming in to play (Jumio). Back in Jan when @tomlowenthal and I were playing, we were blocking out KYC. Uphold by itself is not a challenge.

The real issue is the KYC part. https://portal.netverify.com/login
Uphold uses their app version of netverify.com to get users KYC'd.

Thanks.

[2019-06-14 15:20] btlechowski commented on #3417
Good work @NejcZdovc

Verification passed on

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

Verified the testplan from the description and https://github.com/brave/brave-core/pull/2618

[2019-06-14 15:28] LaurenWags opened #4921 "incorrect Twitch link in auto contribute and tips tables"
## Description
When visiting a twitch page (ex. twitch.tv/psherotv), the channel is correctly added to the AC table, however the link for the channel is incorrect. The link should be https://www.twitch.tv/psherotv/videos however it is actually https://www.twitch.tv/psherotv/videos/videos. If you continue to revisit the page (either in a new tab or refresh the existing tab) another `/videos` will b

[2019-06-14 15:32] btlechowski commented on #3590
Verification passed on

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

Verified the testplan from the description and https://github.com/brave/brave-core/pull/2618

![image](https://user-images.githubusercontent.com/34715963/59520433-3ed205

[2019-06-14 15:38] LaurenWags commented on #4921
Issue did not reproduce with 0.66.88 on Beta:

Brave | 0.66.88 Chromium: 75.0.3770.87 (Official Build) beta(64-bit)
-- | --
Revision | 9dc58a2353af60ab2b48bab98a25bc43ed59085d-refs/branch-heads/3770@{#982}
OS | Mac OS X

[2019-06-14 15:44] LaurenWags commented on #4921
Looks like twitch doesn't redirect https://www.twitch.tv/psherotv/videos/videos, but will redirect something like https://www.twitch.tv/psherotv/videos/videos/videos/videos/videos/videos.

Link is still wrong, but it seems to have less of an impact.

[2019-06-14 15:46] btlechowski commented on #4680
Verification passed on

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

Verified test plan from https://github.com/brave/brave-core/pull/2618.

![image](https://user-images.githubusercontent.com/34715963/59521285-41355e80-8ecc-11e9-81e6-e8b2

[2019-06-14 15:59] LaurenWags commented on #4921
Same issue occurs in Tips table:
![Screen Shot 2019-06-14 at 11 59 21 AM](https://user-images.githubusercontent.com/28145373/59522127-e7b53b80-8e9b-11e9-927f-d2b4fbbe82ff.png)

[2019-06-14 16:11] btlechowski commented on #4921
Reproduced on Windows

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

[2019-06-14 16:12] mkarolin opened #4922 "Minimize patching of chrome/installer/mac/signing/signing.py"
Currently, patches add extra things we want signed directly. Instead, we need to add one-liner function calls that would add extra things we want signed in an external script.

See https://github.com/brave/brave-core/commit/f102ceee4916655672ea1014933076d53be861f4#r33943485

[2019-06-14 16:19] btlechowski commented on #4921
It seems that `publisher_info_db` becomes corrupted with the wrong url.
![image](https://user-images.githubusercontent.com/34715963/59523130-cae72b00-8ed0-11e9-8a75-8d0a247f4dfa.png)

[2019-06-14 16:39] tomlowenthal commented on #4271
We're not going to automatically switch off Shields based on the category of site you're visiting.

If a particular site you're using doesn't work with Shields, you can turn Shields off for that site in particular, and Brave will remember your choice. You can also report the problem to us, one site at a time and we'll investigate the problems with that particular site

[2019-06-14 16:42] tomlowenthal commented on #4906
This is not something that we're going to implement. We're more likely to go in the other direction and disable Flash entirely.

[2019-06-14 16:42] #4906 closed

[2019-06-14 16:43] tomlowenthal commented on #4901
If Chromium has this feature, then we should have it shortly. But we're not going to make substantial changes to the Chromium password manager right now.

[2019-06-14 16:54] NejcZdovc opened #4923 "Rename wallet_info into wallet_properties"
Currently we have public facing API `WalletInfo` which is actually `WalletProperties` in ledger_state. To be consistent with what we have in files and to avoid migration path we will rename API to properties.

[2019-06-14 16:54] tomlowenthal commented on #4574
So on reflection, we should probably use this hierarchy:
- If scheme and host fit in view, start with that showing.
- Else if ETLD+1 fits in view, start with that showing.
- Else start with ETLD in view.

Which I think more or less means right-aligning by the right edge of the ETLD?

[2019-06-14 16:59] tomlowenthal commented on #4518
I can't repro this.

[2019-06-14 17:01] diracdeltas commented on #4139
@mandar-brave can you or @tomlowenthal post the repro steps to hit that bug?

[2019-06-14 17:43] ryanml opened #4924 "Create patching strategy for MetaMask"
We need to be able to override and extend components and files within MetaMask without directly patching them.

This should be done inside a `brave/` folder where subclasses and extensions will live. Gulp should patch MM imports on build to use the appropriate Brave files.

[2019-06-14 17:45] ryanml commented on #4582
We are just going to use URL aliasing to point at the `chrome-extension://` url

[2019-06-14 17:45] #4582 closed

[2019-06-14 17:46] #4773 closed

[2019-06-14 17:46] #4924 closed

[2019-06-14 18:12] pilgrim-brave opened #4925 "Greaselion tests are still flaky"

[2019-06-14 18:23] bridiver commented on #4925
tests are temporarily disabled, but issue should remain open

[2019-06-14 18:31] kjozwiak commented on #3425
This seems to be working on all the other channels other than `0.65.x`, results:

* `0.68.50 Chromium: 75.0.3770.87`- PASSED
* `0.67.83 Chromium: 75.0.3770.87` - PASSED
* `0.66.90 Chromium: 75.0.3770.87` - PASSED
* `0.65.120 Chromium: 75.0.3770.90` - FAILED

I also checked that each channel looks the same under `brave://settings/languages` and is picking the same list of languages when the system

[2019-06-14 18:35] SevilleCode commented on #3314
Got an interesting result when I tried to stream Xfinity in Brave Nightly (0.68.48). First I received a message that there was a problem authenticating my account, and it needed me to sign out and sign back in. When I signed back in, however, I was back to the "Sorry, we're having some trouble" message.

[2019-06-14 18:38] srirambv commented on #3425
Here's the result on Linux/Ubutnu 19.04
Release: Versjon 0.65.120 Chromium: 75.0.3770.90 (Offisiell delversjon) (64-bit) - **FAIL**
Beta: Versjon 0.66.90 Chromium: 75.0.3770.87 (Offisiell delversjon) beta (64-bit) - **PASS**
Dev: Versjon 0.67.83 Chromium: 75.0.3770.87 (Offisiell delversjon) dev (64-bit) - **PASS**
Nightly: Versjon 0.68.48 Chromium: 75.0.3770.87 (Offisiell delversjon) nightly (64-b

[2019-06-14 19:07] #4893 closed

[2019-06-14 19:11] btlechowski commented on #4894
Verification passed on

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

[2019-06-14 19:11] #4894 closed

[2019-06-14 19:13] CruiseMan commented on #35
This feature was number one reason i downloaded Brave when what you call it now legacy version was released in beta, please bring it bank

[2019-06-14 19:20] LaurenWags opened #4926 "Release notes for 0.65.x Hotfix 1 (Release Channel)"
Release Notes
 - Twitch.tv instead of publisher name is shown on Brave Panel.([#3417](https://github.com/brave/brave-browser/issues/3417))
 - Panel not showing twitch publisher info for VOD.([#3590](https://github.com/brave/brave-browser/issues/3590))
 - Cannot tip to Twitch channels.([#4680](https://github.com/brave/brave-browser/issues/4680))
 - {{balancse}} being displayed when restoring wallet

[2019-06-14 19:23] Brave-Matt commented on #3082
+1 from reddit:
https://www.reddit.com/r/brave_browser/comments/c0e0ds/cannot_log_into_bing_rewards_too_many_redirects/

[2019-06-14 19:29] srirambv commented on #4880
* Verification passed on

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Linux

![image](https://user-images.githubusercontent.com/17010094/59533333-2b6a6e00-8eb9-11e9-9227-2abc1a4b3bc5.png)

[2019-06-14 19:37] chrisknepper commented on #4764
Experiencing the same thing, only happens on Windows.

[2019-06-14 19:53] kangarooo commented on #4412
OMG. How then to export it all so i can continue working? How to save and export all tabs?

[2019-06-14 20:02] #4926 closed

[2019-06-14 20:03] GeetaSarvadnya commented on #4895
Looks good hence closing the issue.

[2019-06-14 20:03] #4895 closed

[2019-06-14 21:05] bridiver commented on #4908
QA should check to make sure updater works correctly

[2019-06-14 21:06] jsecretan opened #4928 "For Uphold wallet integration, we should protect against malicious extensions"
## Description
To prevent attacks by malicious extensions in our new sign in process for the integrated Uphold wallet, we should block access to our specific integrated wallet sign in URL to extensions.  This URL from Uphold is going to be specifically dedicated to the purpose of our wallet integration, so blocking that URL should have no effect on legitimate extensions.  This will include access

[2019-06-14 21:17] rebron commented on #4896
Closing. Released 2pm PDT, June 14th.

[2019-06-14 21:17] #4896 closed

[2019-06-14 21:20] tggir1 opened #4929 "Cannot edit "People" profiles after they are created"
## Description
After creating People, their names and pictures cannot be changed.

## Steps to Reproduce
   1. In the top right corner of Brave window, click the profile icon. In the drop-down, click on the profile at the very top
   2. The general settings window then loads, but no options to edit the profile

## Actual result:
Settings page loads (brave://settings)

## Expected result:
Should lo

[2019-06-14 21:39] srirambv commented on #4929
Dupe of #4929

[2019-06-14 21:39] #4929 closed

[2019-06-14 21:40] srirambv commented on #4615
+1 from @tggir1  via #4929

[2019-06-14 22:19] kjozwiak commented on #4615
+1 from me as well. Bit annoying that you can't edit the default user. You would have to create a new user, change the icon, remove the initial one that was created when first launching Brave.

[2019-06-14 22:46] btlechowski commented on #4045
Verification passed on

Brave | 0.66.90 Chromium: 75.0.3770.87 (Official Build) beta (64-bit)
-- | --
Revision | 9dc58a2353af60ab2b48bab98a25bc43ed59085d-refs/branch-heads/3770@{#982}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

Used testplan from https://github.com/brave/brave-core/pull/2224. Any channel with underscore will exhibit this issue. I used https://www.twitch.tv/tal_raja/videos. T

[2019-06-14 23:12] karenkliu opened #4930 "Add "Customize" text to NTP dashboard settings icon to make it more discoverable"
## Description
Currently, the icons in the bottom right of the Dashboard look like this:

![Screen Shot 2020-03-26 at 5 22 03 PM](https://user-images.githubusercontent.com/2388823/77708795-51fc2000-6f86-11ea-8f62-08996709817e.png)

Additionally we're heard feedback about them:

## Designs
Text paired with images improves comprehension by up to 89%. Add the text "Customize" next to the dashboard se

[2019-06-14 23:13] karenkliu commented on #4523
@rebron I created a separate issue #4930 to update the icons.

[2019-06-14 23:16] karenkliu commented on #4930
@rossmoody  I remember a long time ago you wrote out a guide for how to get new icons into our Design System. I wasn't able to find this doc in our repos - what's the best process to get icon assets over to the dev?

[2019-06-14 23:16] bridiver opened #4931 "add support for ccache"
sccache has problems with cache eviction that produce strange errors when the cache is full. Also it doesn't appear to work with the android builds. Add ccache as an alternative

[2019-06-14 23:33] fmarier opened #4933 "Twitter tips don't work for me"
I verified my [Twitter username](https://twitter.com/fmarier) on Publishers:

![publishers-dashboard](https://user-images.githubusercontent.com/167821/59543738-aafc3b00-8ec1-11e9-994f-6805ac86fc2e.png)

but it's not showing up as verified on Nightly or release:

![profile-not-verified](https://user-images.githubusercontent.com/167821/59543734-a46dc380-8ec1-11e9-92eb-e28a8311f0a1.png)

I tried tipp

[2019-06-14 23:57] bridiver opened #4934 "sparkle should look like keystone to the rest of the code"
https://github.com/brave/brave-core/pull/2705#issuecomment-502313844 takes some steps in this direction, but I think we would like to just replace keystone methods with spark implementation. That would eliminate https://github.com/brave/brave-core/pull/2705/files#diff-ab380474ef25041e585235860f291ed5 for instance

[2019-06-15 00:05] bridiver opened #4935 "missing dependencies for buildflags and mojom files"
Build errors caused by missing dependencies for tor/brave rewards/brave ads buildflags and some chrome common mojo files that are all generated (missing header in build)

[2019-06-15 00:25] jkys commented on #4615
+1 would require having to resync the profiles and add back in the different customizations

[2019-06-15 00:45] bridiver opened #4936 "ensure local data files service is destroyed after everything that depends on it"
local_data_files_service_ is currently at the end of the list in brave_browser_process_impl.h which means it will be the first thing to be destroyed possibly resulting in a use after free error

[2019-06-15 01:02] bridiver opened #4937 "minimize gni patches"
we should have a single import to make variables available in gn files

[2019-06-15 01:07] snyderp commented on #4201
@rebron @jonathansampson

https://github.com/brave/adblock-lists/pull/82 should fix this in the next 24 hours (its been merged in) but there are a bunch of moving pieces and difficult to replicate in Brave exactly.  Not closing this issue yet to wait and see if its fixed in 24 hours, but 🤞 this should be fixed

[2019-06-15 02:45] fmarier commented on #4341
Test plan is the first part of what is mentioned in the PR:

The second part can't really be tested without making a custom build :(

[2019-06-15 06:21] ryanml commented on #4580
We are using URL aliasing for the extension now so this issue is no longer needed

[2019-06-15 06:21] #4580 closed

[2019-06-15 08:11] StanGets commented on #688
I'd like to try Brave Browser but unfortunately https://github.com/brave/brave-browser/releases doesn't display off-line installers only for the Dev channel. I never on-line install whatever software. Why is it so complicated to have an off-line installer made available, at least for the latest Release channel?

[2019-06-15 09:09] #4923 closed

[2019-06-15 12:01] #1548 closed

[2019-06-15 12:05] crazy-max commented on #688
@StanGets Expand assets... :

![image](https://user-images.githubusercontent.com/1951866/59551235-acd40600-8f76-11e9-80b3-23804f81613e.png)

[2019-06-15 12:28] StanGets commented on #688
@crazy-max , I got it, thanks ;=)

[2019-06-15 15:06] mmstick commented on #1024
The Chromium VAAPI patches work fine on NVIDIA hardware. You simply need to install a patched vdpau-va-driver package that fixes the errors reported by chromium. It's working fine on an Oryx Pro with a GTX 1070 in Pop!_OS 19.04.

[2019-06-15 15:31] NejcZdovc commented on #4933
@fmarier what happens if you click on Refresh status?

[2019-06-15 15:32] NejcZdovc opened #4939 "Move WalletProperties to mojo interface"
We need to move WalletProperties in vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h into mojo interface.

Example how to do this brave/brave-core#2432

[2019-06-15 17:39] LefterisJP opened #4940 "Feature Request: Usage of Payment Channels for the tipping system"
## Description

Hello Brave team! I hope this is the right place for a feature request.

I am Lefteris from Raiden, the ethereum payment channel network. I have been using Brave for a while and really grew to like it.

While using the tipping system, I immediately thought that it would be really cool if this is powered by payments channels as you would save on fees and also have much better tip co

[2019-06-15 19:21] #4931 closed

[2019-06-15 22:50] sharifzadesina commented on #4061
Same here.
It is always like this:
"Saved password will appear here"
But nothing appears.
![screenshot-settings-2019 06 16-03-17-50](https://user-images.githubusercontent.com/15300551/59557082-9dd86c80-8fe5-11e9-81c5-f8399a5b16cf.png)

[2019-06-16 01:39] simonhong opened #4941 "Add dark mode related web messages to brave webui"
This is prerequisite for https://github.com/brave/brave-browser/issues/2822

[2019-06-16 02:59] #4771 closed

[2019-06-16 03:07] davidtemkin opened #4942 "Newly verified publisher should change state of Brave Rewards button"
When using "refresh status" within the Brave Rewards panel, the site currently being viewed may be newly verified. In that case, the Brave Rewards button in the address bar should be changed to reflect verified status.

[2019-06-16 06:27] jtheletter opened #4943 "Can't find-in-page on a specific website."
On this page: https://www.etymonline.com/search?q=penny+farthing

If I hit <kbd>command</kbd><kbd>f</kbd> and search for `penny`, I only get one result, the occurrence in the header search bar—despite the word appearing several times on the page.

The problem doesn't occur on that site's homepage.

This problem also exists in macOS Chrome.

It doesn't exist in Safari or Firefox.

What could cause

[2019-06-16 07:11] ryanbr commented on #4201
Golem.de will need similar fixes, i'll have something committed this week.

[2019-06-16 07:40] simonhong opened #4944 "Cleanup chrome-common-chrome_content_client_constants.cc.patch"
F/U https://github.com/brave/brave-core/pull/2342#pullrequestreview-249983178

[2019-06-16 13:39] NejcZdovc opened #4945 "Designated balance call"
Currently we are getting balance based on wallet properties that we are getting them from the server. With Gemini we need to handle multiple wallets meaning that we need to have designated call to get balance which will combine wallet properties with other wallet balances. In this phase we should just prepare this call with returning balance from wallet properties only.

We need to remove balance

[2019-06-16 14:17] anotherzen commented on #3296
I have had this issue since i started using Brave a few months ago.
Can confirm it is still not fixed on: 0.65.120

I have synced set up with 2 other devices.

Deleting or moving a bookmark or a folder of bookmarks, returns it after anything from 10 seconds to a minute. Deleted bookmarks return as folders instead of bookmarks. Moved bookmarks return as bookmarks. I can see it live in the bookmark

[2019-06-16 16:18] glewisut commented on #2107
I had the same issue because I was switched to a different account in a different tab.  Once I switched back, no problemo.

[2019-06-16 16:18] #3425 closed

[2019-06-16 16:30] #3899 closed

[2019-06-16 17:06] #4939 closed

[2019-06-16 18:54] yrliou opened #4946 "Patching IsBraveTranslateEnabled in an independent line in translate service"
Instead of combining it with other chromium code in the same line, this patch should be in an independent line to be easier to maintain.

[2019-06-16 21:42] snyderp commented on #4201
@rebron @jonathansampson looks fixed to me, and that brave/adblock-lists#82 handled correctly.  A-ok to close?

[2019-06-16 21:43] #4937 closed

[2019-06-16 21:49] #4935 closed

[2019-06-16 22:16] bridiver commented on #3436
This should be a very simple change. We should not be adding the rewards extension in `AddDefaultComponentExtensions`. The rewards extension should be enabled/disabled in ExtensionRewardsServiceObserver by calling
[code]
when rewards is enabled and `Remove(brave_rewards_extension_id)` when rewards is disabled

[2019-06-16 22:20] bridiver commented on #3436
a non persistent background page is also better for resource usage when rewards is enabled

[2019-06-16 22:23] bridiver opened #4947 "add API to read/write individual values instead of complete files for Rewards"
Reading/writing entire files is a very inefficient way to handle data persistence for ads/rewards. We should have a name/value api that allows more granular read/write and doesn't require async IO (this is all handled by chromium internals)

[2019-06-17 00:15] #4946 closed

[2019-06-17 04:05] Column01 commented on #2763
I have the same issue.
I used Stylus (chrome extension) and added a custom CSS rule for youtube with the above CSS. It's a different application than they used but still works :D

[2019-06-17 08:16] ShadronSoul commented on #353
In my opinion these options should have been implemented from the very beginning. They're really basic feautures and the lack of them makes my Brave experience way worse than it could be.

[2019-06-17 09:20] poikilos commented on #3991
I should refocus the thread (I'll create a separate issue for the crash above if I can narrow it down). The main issue regarding lack of bold styling may have to do with not having a bold variant of the font installed. I'm not clear on why the problem exists on Brave but not Chromium. I'm not sure how much Brave customizes the display engine. Can anyone who knows comment on that, or generally how

[2019-06-17 09:22] Sa-Ja-Di commented on #2822
Also the right mouse context menu should feature the black theme - even Chromium/Chrome is making this now possible.

[2019-06-17 09:22] Sa-Ja-Di commented on #4941
Also the right mouse context menu should feature the black theme - even Chromium/Chrome is making this now possible.

[2019-06-17 10:46] dayfuaim opened #4948 "Location bar droplist change size to wide and back during typing in"
## Description
Location bar droplist "jumps" to wide size and back during typing in.

## Steps to Reproduce

   1. Location bar should not be "wide".
   2. Open new tab.
   3. Start to type in.

## Actual result:
Location bar droplist "jumps" to wide size and back (~0.25 s) during typing in.

## Expected result:
Droplist has the size of location bar and doesn't change its size during typing in.

#

[2019-06-17 11:21] ShadronSoul commented on #4615
+1 Really annoying when you can't edit existing users at all so creating a new user is required to make changes

[2019-06-17 11:33] agulab commented on #2306
Using Settings in TOR browser, I had configured a Search Engine for an onion site that's really useful. Now I can't access that configuration, even though that Search Engine is still configured and I can use it. I tried to configure it in another computer and couldn't. I added it in regular Settings' Search Engine but it doesn't work in TOR browser, even after a computer restart. Have we lost that

[2019-06-17 12:19] JoshuaCarter commented on #4660
Just chiming in to say I have the same issue on Ubuntu 18.04 and same versions of npm and node.

Unfortunately @simonhong's suggestion didn't resolve the issue.

While we're talking about project setup, is the **huge** initial download and length build times unavoidable? Wanted to contribute but it's looking like this might be a painful project to work with.

[2019-06-17 12:24] #4936 closed

[2019-06-17 12:27] JoshuaCarter commented on #4660
I ran the `npm run init` again and noticed this output which may or may not be problematic:

[code]

Guessing the `fsevents` warnings aren't an issue, but less sure about `ajv-keywords`.

[2019-06-17 12:54] mserajnik commented on #4615
Another +1.

[2019-06-17 15:44] bbondy commented on #4840
Test Plan:

- Type some characters like `s` and make sure alexa top 500 sites come up.
- Type some characters like `brendan eich` and make sure no search suggestions come up

[2019-06-17 16:03] bsclifton commented on #3425
As noted, only the code was updated. No new translations were pulled down. That is something we typically do as part of the Chromium upgrade

[2019-06-17 16:05] bsclifton commented on #3425
And awesome - see the other change that @mkarolin made 😄 Thanks for taking care of that!

[2019-06-17 16:38] lukemulks commented on #4239
A couple of questions / comments, only focusing on link decoration:

1. Would this only apply for the sites listed in the greasyfork link above, or other domains?

2. Re: YT in the greasyfork link, we should test to make sure blocking the prefetch doesn't break consecutive video playback.

3. If we are already blocking 3rd parties that would profile data in conjunction with URL decoration, I am no

[2019-06-17 16:40] Brave-Matt commented on #4477
Is this article still desired/up for grabs? I'd actually started drafting something similar to this in HC already -- would be happy to finish it :)

[2019-06-17 16:41] Brave-Matt commented on #3420
+1/many:
https://www.reddit.com/r/brave_browser/comments/c1mhzh/any_news_on_the_linux_sandbox/

[2019-06-17 16:59] fmarier commented on #4933
Interesting, it seems to be working in Nightly and Dev:
![Screenshot_from_2019-06-17_09-51-29](https://user-images.githubusercontent.com/167821/59622438-6a313b80-90e6-11e9-83b8-afeabeabc1d7.png)

but not on my local build:
![Screenshot_from_2019-06-17_09-32-07](https://user-images.githubusercontent.com/167821/59622459-73baa380-90e6-11e9-89be-ad710dd43906.png)

Sorry for the noise!

[2019-06-17 16:59] #4933 closed

[2019-06-17 17:26] snyderp commented on #4239
@lukemulks the suggestion is not to remove all query string params, just those used specifically for tracking purposes.  The ones in the link above would be a good starting point, but the list could grow or shrink depending on our boldness, measurement results, etc. So the worry is less `?likes=shoes` but more `facebook_id=<something>`, that sort of thing

FWIW, the Safari ITP approach is to block

[2019-06-17 17:43] NejcZdovc commented on #4933
@fmarier on local build you are connecting to the staging where publisher is list is different, so you are just probably not on staging list

[2019-06-17 17:44] anthonypkeane opened #4949 "Webcompat issue on https://www.virginatlantic.com/us/en"
## Description

Trying to book a flight on https://www.virginatlantic.com/us/en
After searching for flights, the site loops back to the start and displays the below error message

## Steps to Reproduce

   1. Open https://www.virginatlantic.com/us/en and try to book a flight

## Actual result:

![Webcompat-2](https://user-images.githubusercontent.com/7606853/59624827-abc4e500-90ec-11e9-9f69-0303b8

[2019-06-17 17:57] anthonypkeane commented on #4949
Can't reproduce on my work Mac with shields up

[2019-06-17 18:26] sharifzadesina commented on #3196
Same here.
It is always like this:
"Saved password will appear here"
But nothing appears.

![59557082-9dd86c80-8fe5-11e9-81c5-f8399a5b16cf](https://user-images.githubusercontent.com/15300551/59627320-2e808b00-9153-11e9-9d8d-c2d08e8b0cd3.png)

[2019-06-17 18:32] mandar-brave commented on #4139
@diracdeltas will do; i am trying to see if i can disconnect my ID from my account; i am already KYC'd and Uphold does not show me the verify option. Also assigned issue to Uphold QA to verify if Brave is blocking any of the steps. stay tuned.

[2019-06-17 19:01] kjozwiak commented on #4139
I need to KYC my account either way, so I'll go through the process and document any snags/issues that I run into while using the latest nightly with default shield settings.

[2019-06-17 19:22] SergeyZhukovsky commented on #4723
I think they are fine, closing the issue.

[2019-06-17 19:22] #4723 closed

[2019-06-17 19:27] SergeyZhukovsky opened #4950 "Enable ads on Android (enable rust toolchain)"
Enable rust toolchain and make them buildable.

[2019-06-17 19:29] SergeyZhukovsky opened #4951 "Integrate ads notifications and UI"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-06-17 19:52] SergeyZhukovsky commented on #4845
It's a duplicate https://github.com/brave/brave-browser/issues/4838

[2019-06-17 19:52] #4845 closed

[2019-06-17 21:01] ryanbr commented on #4949
`https://www.virginatlantic.com/air-shopping/searchFlights.action?action=startOver&alerts=101767&cacheKey=31d2db8c-077f-4e7c-80c6-953f781d69e6`

Does this page work? (apart from no seats found)

[2019-06-17 21:07] ryanbr commented on #4949
The most questionable filter listed will be ensighten.com, which may be causing the issue

[2019-06-17 23:29] cezaraugusto opened #4953 "Shields should provide a way to persist state across tabs"
Persistent state only happens in the C++ back-end. Shields should provide a storage mechanism to handle persistent/non-critical state such as on-boarding, simple/advanced views, high-level user preferences, and shared state.

[2019-06-17 23:33] simonhong opened #4954 "Beta(0.66.x) build failure on CI builder"
slack discussion: https://bravesoftware.slack.com/archives/CA5FPHWLF/p1560755892244000

[code]

[2019-06-18 00:40] tomlowenthal commented on #2306
Tor windows don't currently have their own persistent settings. They're built on top of guest windows, which use a blank profile and are fully ephemeral. There's ongoing work to port Tor windows to the incognito profile model, at which point all your saved search engines will be available in Tor windows.

[2019-06-18 01:05] bcehprx commented on #4061
Are you clearing browsing history on exit and not unchecking "Passwords and other sign-in data"?

[2019-06-18 01:10] bsclifton commented on #2822
@Sa-Ja-Di with what version of Chrome? Are you using Canary?

[2019-06-18 02:11] simonhong commented on #2822
@Sa-Ja-Di
We already support context menu background theme according to os theme on MacOS(0.65) and Win10(Beta, 0.66). Is this what you're saying?
<img width="396" alt="Screen Shot 2019-06-18 at 11 05 07 AM" src="https://user-images.githubusercontent.com/6786187/59648136-f7dd5b80-91b8-11e9-92da-91cbfc39f7e6.png">
<img width="506" alt="Screen Shot 2019-06-18 at 11 04 58 AM" src="https://user-images

[2019-06-18 03:49] bsclifton commented on #4946
Updated to be the 0.68.x milestone 😄

[2019-06-18 04:03] #4941 closed

[2019-06-18 06:16] kjozwiak commented on #4139
Some quick results/observations:

* Used `0.68.56 Chromium: 75.0.3770.90` with the default shields settings

`Logging into an already existing Uphold Account` - **PASSED**

Going through https://publishers.basicattentiontoken.org and logging into an already created account works without any issues using the default shields settings. I went through 2FA and had no issues logging into Uphold.

`Creat

[2019-06-18 06:22] kjozwiak commented on #4139
However, I'm running into an issue when attempting to KYC with Uphold. Once I've created an account, I go through the KYC process and select "License" as my identification. I accept all the permission prompts from Brave to let Brave us the web cam and run into the following error every time:

<img width="1195" alt="Screen Shot 2019-06-18 at 1 43 26 AM" src="https://user-images.githubusercontent.co

[2019-06-18 06:44] kjozwiak commented on #4795
@GeetaSarvadnya is there any specific STR that needs to be followed to reproduce? Does the above issue only occur when updating a profile? Seems to be working on a clean profile using the following build:

Brave | 0.68.57 Chromium: 75.0.3770.90 (Official Build) nightly (64-bit)
--- | ---
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 10 OS Version 1

[2019-06-18 06:47] kjozwiak commented on #3987
@bsclifton as per requested via our weekly triage meeting on Friday, I tried the following with the latest nightly and can still reproduce the issue. Doesn't seem like `CR75` resolved the issue. Build used:

Brave | 0.68.57 Chromium: 75.0.3770.90 (Official Build) nightly (64-bit)
--- | ---
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 10 OS Version

[2019-06-18 07:12] kjozwiak commented on #4061
@MariuzM & @sharifzadesina are you two also on macOS?

[2019-06-18 07:12] MariuzM commented on #4061
Me yes

[2019-06-18 08:25] jchhenderson commented on #3253
Just installed Brave and am experiencing the same problem.

Amazon.com (UK site)
Version 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
OS:  MacOS v10.14.5

...I am not sure where to find the Javascript and revision info...

[2019-06-18 09:28] GeetaSarvadnya opened #4956 "`ebay.co.uk` site favicon is hidden by 3rd party trackers and ads"
## Description

`ebay.co.uk` site favicon is hidden by 3rd party trackers and ads. The issue is Reproducible in the following versions:

`0.65.118` - `Reproduced`
`0.64.77`  - `Reproduced`
`0.63.55`  - `Reproduced`

## Steps to Reproduce

   1. Clean profile 0.65.120
   2.  Open ebay.co.uk
   3. Open Shield
   4. Verify that no favicon displayed in the URL bar and shield

**Note**: If I disable 3r

[2019-06-18 09:59] nielspeen opened #4957 "Cookies in use erroneously shows 0"
## Description

_Cookies in use_ dialog incorrectly shows 0 cookies are in use when _Developer Mode_ correctly shows more than 0 cookies are used.

## Steps to Reproduce

Prerequisite: create/find a website that uses cookies and, for each page, makes only 1 request to its domain name. (Only the primary HTML is served from its own domain. All its dependencies must be inlined or served from a 3rd-pa

[2019-06-18 10:11] bcehprx commented on #4061
No. I'm on WIndows. I couldn't see a platform for Marius. I'd just figured out the reason my saved passwords were being deleted.

[2019-06-18 10:12] sharifzadesina commented on #4061
I am on linux.

[2019-06-18 10:13] bcehprx commented on #4061
And do you have this problem SIna?

[2019-06-18 10:14] sharifzadesina commented on #4061
@bcehprx Mine saves the passwords I can use them on websites.
But it doesn't show it.
I removed my post here and moved it to #3196.

[2019-06-18 11:15] srirambv commented on #4795
There could be two reasons for this issue
1. The opened windows are minimized. Sometime Windows doesn't generate preview if the app is minimized while the page was being loaded
2. Active on other application and hover over taskbar open items doesn't always generate the preview. This happens quite a lot

[2019-06-18 11:26] XtreemSolution commented on #4635
@bsclifton  Thank you !!

But still I'm facing an issue when trying to run

`npm run create_dist -- Release`

But npm run build is working OK

`Brave Browser Framework.dSYM/Contents/Resources/DWARF/Brave Browser Framework: the DIE at offset 0x62a5f1ba has a DW_AT_abstract_origin attribute referring to the die at offset 0x62a5f417, which either was not marked as an inline, or comes later in the fil

[2019-06-18 12:21] bcehprx commented on #3196
I just tried installing Brave Version 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit) on Ubuntu 18.04.1 LTS. I used the save password popup and I can see the website and password entry in the setting "Saved Passwords", and clicking on the show password eye icon reveals it. In passing, I was not asked for a machine login password, as I am with Windows.

[2019-06-18 12:23] bcehprx commented on #3196
I also closed the browser and re-opened it, and the entry was still in "Saved Passwords".

[2019-06-18 12:38] mihaiplesa opened #4959 "fix test result parsing in CI pipeline"
Closes https://github.com/brave/devops/issues/1208

[2019-06-18 12:52] #4959 closed

[2019-06-18 14:16] bcrownover commented on #4509
I was doing quite a bit of work to get Chrome to do what Brave does by default. The one thing that really disappointed me about Brave was that I want a blank new tab page. I've got one now via extension, but I'm looking forward to this just being an option.

[2019-06-18 14:17] Gitchiel opened #4960 "Scrolling behaviour macOS Client in Java lists uncontrollable"
## Description
Scrolling behaviour macOS Client (Brave v. 0.65.120) in lists in Java applications, like Vjoon K4, uncontrollable. It scrolls right down to the bottom / top of the list, almost impossible to scroll to a position midway. The application at hand here isn't publicly available, so I can't post a link; I suppose it's reproducable in all lists in Java apps though.
This is most obvious, wh

[2019-06-18 14:17] PolCPP commented on #4795
@kjozwiak Try having them maximized. Or having another app maximized on top.

This also happens while alt-tabbing and i'm also seeing a not-sure-if-related blank screens when returning from sleep which get fixed when i minimize and maximize them up.

[2019-06-18 14:24] bcrownover commented on #353
Making someone look at something they didn't choose is one of the biggest reasons people switch from other browsers. I'm happy with a blank tab extension, but I'm looking forward to Brave doing what Brave does best: Giving people a choice.

[2019-06-18 15:21] Sa-Ja-Di commented on #774
What would also be nice - and fits to this topic as it belongs to advanced customization - would be an optional REAL status/menu bar - Vivaldi features both. Same like a side-bar.

Almost no other Chromium browser features this, would be great if Brave would follow Vivaldi in that way, would also bring over many frustrated(ex-) Firefox power-users towards Brave.

[2019-06-18 15:28] bsclifton commented on #4477
@Brave-Matt absolutely- all yours! 😄

[2019-06-18 15:38] bsclifton commented on #4201
Closing - let's re-open if it's still an issue 😄

[2019-06-18 15:38] #4201 closed

[2019-06-18 15:47] #4840 closed

[2019-06-18 16:10] Sa-Ja-Di commented on #2822
More or less, but i meant it in the context of not OS depending - that it is basically possible to have a real full black theme which covers all elements.

[2019-06-18 16:11] Sa-Ja-Di commented on #2822
Is featured in the stable builds of https://chromium.woolyss.com/

[2019-06-18 16:16] mkarolin opened #4962 "Upgrade from Chromium 75.0.3770.90 to Chromium 75.0.3770.100"
QA tests:

Check branding items
Check for version bump

[2019-06-18 16:52] bsclifton opened #4963 "Have a "hold to actually close" keyboard shortcut for pinned tabs"
## Description
Currently, pinned tabs can be closed with Ctrl+W / Cmd+W, and [we've clarified this is the intended behavior](https://github.com/brave/brave-browser/issues/3581).

[A user recently suggested](https://twitter.com/tolmasky/status/1140699118517358593?s) that we could have a "Hold X to close", similar to the Chrome/Chromium default behavior for Ctrl+Q/Cmd+Q for quit. It would look somet

[2019-06-18 17:13] #3094 closed

[2019-06-18 17:17] mihaiplesa opened #4965 "Add Slack notifications to b-c PRs"
Closes https://github.com/brave/devops/issues/1188
Closes https://github.com/brave/devops/issues/1198

[2019-06-18 17:22] kjozwiak opened #4966 "Release checklist for 0.65.x Hotfix 2 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-06-18 17:54] kjozwiak opened #4967 "Manual test run on OS X for 0.65.x - Release Hotfix 2"
## Per release specialty tests

- [x] Upgrade from Chromium 75.0.3770.90 to Chromium 75.0.3770.100 #4962

### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signatur

[2019-06-18 17:54] kjozwiak opened #4968 "Manual test run on Windows x64 for 0.65.x - Release Hotfix 2"
## Per release specialty tests

- [x] Upgrade from Chromium 75.0.3770.90 to Chromium 75.0.3770.100 #4962

### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signatur

[2019-06-18 17:54] kjozwiak opened #4969 "Manual test run on Linux for 0.65.x - Release Hotfix 2"
## Per release specialty tests

- [x] Upgrade from Chromium 75.0.3770.90 to Chromium 75.0.3770.100 #4962

### Installer

- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signatur

[2019-06-18 18:21] #4965 closed

[2019-06-18 18:41] Arandhras commented on #774
I don't know if the info contained in the issue referenced by the OP is still relevant, but if Brave's UI is still largely HTML/CSS/JS code, it should be easy to allow for some heavy customization. Alternatively it would make sense for me to give at least some degree of flexibility to the power user.

It would not have to be "easy to use", as most regular user wouldn't care for it anyway, but it s

[2019-06-18 18:46] rebron commented on #4914
@btlechowski Can you paste in the crash report?

[2019-06-18 18:48] rebron commented on #4764
cc: @simonhong Can you take a look?

[2019-06-18 18:48] bsclifton commented on #774
@Arandhras unfortunately the UI is not HTML/CSS/JS anymore- it's all C++ using Chromium views. It's quite a bit harder to edit, but definitely doable (we want to do it- work hasn't been prioritized, as far as I know).

[2019-06-18 18:53] rebron commented on #4672
cc: @ryanb Can you take a look?

[2019-06-18 19:00] rebron commented on #824
cc: @srirambv can you add some notes to this issue?

[2019-06-18 19:02] Sa-Ja-Di commented on #774
@bsclifton Why not making a compromise and delivering priority in a fair share to all elements Brave related?

A real menu or full status bar would be good for a start ;)

[2019-06-18 19:07] Arandhras commented on #774
@bsclifton It could be worked out like what wxWidgets does with its XRC system ( https://docs.wxwidgets.org/3.0/overview_xrc.html ): the whole UI is defined as a set of scripts (in Wx's case, XML... but it could be anything) that each describe a hierarchy of panes, dialogs and widgets. You don't have to redefine behavior, just size, positioning, color etc.

Once you have this system in place, all

[2019-06-18 19:13] tomlowenthal commented on #4956
Looks like this is working as intended. The favicon is a cross-site request which is often used for tracking. Who knows, maybe it's even being used for tracking here.

[2019-06-18 19:13] #4956 closed

[2019-06-18 19:27] maximbaz commented on #701
Until this is implemented, feel free to use [my extension](https://github.com/maximbaz/browser-fingerprint-protector) to get this functionality: it's a short script that basically replaces the OS part of the User-Agent with "Windows", making your User-Agent appear as one of the most common ones according to the popular [Most Common User Agents](https://techblog.willshouse.com/2012/01/03/most-commo

[2019-06-18 20:09] bsclifton commented on #2710
There is a known work-around for this (will share link if I can find it) - @rossmoody notes that the new Edge has a wizard which helps with this, which we can look at 😄

[2019-06-18 20:18] #4962 closed

[2019-06-18 20:21] bsclifton commented on #2613
Closing as I don't think we'll be fixing this

[2019-06-18 20:21] #2613 closed

[2019-06-18 20:23] bsclifton commented on #3674
This may be a duplicate of https://github.com/brave/brave-browser/issues/2198 and https://github.com/brave/brave-browser/issues/2710

[2019-06-18 20:35] danny1199 commented on #3674
I managed to resolve my issue by exporting my bookmarks and bookmarks bar as an html file from Firefox to my desktop then importing that file into Brave as html files. The bookmarks bar just appeared as a folder in the bookmarks bar on Brave so I had to open that and drag each file from the drop down to the bar. A bit long winded, but I got there.

[2019-06-18 22:00] maximbaz commented on #4239
Relevant: https://github.com/jparise/chrome-utm-stripper

[2019-06-18 22:37] btlechowski commented on #4914
@rebron First I get `Page unresponsive` modal, then the page crashes.

![image](https://user-images.githubusercontent.com/34715963/59723978-9359e500-9228-11e9-8c7b-657ecce0ba6d.png)

Crash reports:
[code]

Reproducible when connecting from Europe. Unable to reproduce when connecting through US VPN. Probably a GDPR related issue.
Disabling Shields solves the issue.

[2019-06-18 22:50] diracdeltas commented on #4139
@kjozwiak thanks for the detailed repro steps; i edited the issue title accordingly

[2019-06-18 23:15] btlechowski commented on #889
Still reproducible on 0.66.92.

@rebron @kjozwiak It seems that the fix is ready to be merged, but was no merged. https://github.com/brave/brave-core/pull/2564

[2019-06-18 23:47] bsclifton commented on #4139
Exceptions that we added before (when doing in-product KYC via a modal) can be seen here:
https://github.com/brave/brave-core/pull/898/files

[2019-06-19 01:34] #4954 closed

[2019-06-19 01:40] simonhong commented on #4760
This will be resolved when we finish C76 rebasing (https://github.com/brave/brave-core/pull/2722/commits/6ac41756da09e097c0e26cbf07634da0410c74e9)

[2019-06-19 02:14] OyeBenny opened #4973 "User is unable to change avatar icon after adding user/person."
## Description
When a Person/User is added to Brave they are unable to edit/alter their avatar/user icon.

## Steps to Reproduce
1. Go to your account settings
2. Go to Manage People
3. Try to change your avatar icon sensibly in those two places.

## Actual result:
Cannot update/edit User avatar/icon.

## Expected result:
I want to be able to change it. Right now mine is stuck on the default empty

[2019-06-19 03:27] kjozwiak commented on #4973
Duplicate of https://github.com/brave/brave-browser/issues/4615. Closing. @OyeBenny please re-open if the above is a different issue.

[2019-06-19 03:27] #4973 closed

[2019-06-19 03:42] #4908 closed

[2019-06-19 03:44] kjozwiak commented on #4518
@srirambv mind taking another look when you have some time to see if you can still reproduce this?

[2019-06-19 04:48] #4523 closed

[2019-06-19 05:00] sanles1 commented on #2107
Issue was fixed when i used a different browser

[2019-06-19 05:41] NejcZdovc opened #4974 "Wrong brave-ui hash"
When https://github.com/brave/brave-core/pull/2668 was merged hash was not pointing to the master, but to brave-ui PR. We need to update to the latest master which is `92a28b05cb771658610f1e44d615473b87d2caa0`

[2019-06-19 06:19] #4974 closed

[2019-06-19 06:43] #4402 closed

[2019-06-19 07:11] PunnyBoi commented on #4267
@rebron, I tried your method too but it didn't help. I changed the youtube keyword as 'yt' but when I quickly type yt and press tab, the search bar appears once and then disappers. I know you are very busy but please look into this issue, it's really annoying. I am again reminding you that this issue was not present in Version 0.60.45 Chromium: 72.0.3626.109. Also, I am pretty sure that if you rem

[2019-06-19 08:26] tmancey opened #4975 "Change date format for Contributions and Tips to match Ads"
Change date format for Contributions and Tips to match Ads, i.e. from "05/01/2019" to "Jan 5" (format should be consistent for locale, i.e. "Jan 5" for United States. "5 Jan" for United Kingdom etc.

[2019-06-19 09:02] AstroGD commented on #2810
Works fine first time for me with shields and without shields. Also there is no error being shown in the console. Tried it 3 times, still no issue.

| Title       	| Value                                                                   	|
|-------------	|-------------------------------------------------------------------------	|
|   Version   	|    0.65.120 Chromium: 75.0.3770.90  ( Offizieller

[2019-06-19 09:21] ryanbr commented on #4956
Maybe fixed in future.  What I currently use (and affects these sites).

`/favicon.ico$image,third-party,domain=~bt.com|~ebay.com.au|~ebay.com|~go.com|~github.com|~stackexchange.com|~stackoverflow.com|~askubuntu.com|~reddit.com|~4chan.org|~twitter.com|~live.com|~espn.com
`

[2019-06-19 09:27] ryanbr commented on #4956
The issue in these cases isn't necessarily tracking, they use a various regional domains and cdn's with different domain suffiix's.

[2019-06-19 10:52] tmancey opened #4976 "Create README.md for Ledger"
Create `README.md` for Ledger with high-level understanding of entry points and how things work in general

[2019-06-19 10:55] tmancey opened #4977 "Document public facing APIs for Ledger"
Document public facing APIs for Ledger to help with implementation on other platforms such as iOS

[2019-06-19 10:57] tmancey opened #4978 "Refactor public facing APIs for Ledger to use callbacks"
Refactor public facing APIs for Ledger to use callbacks which will help with implementing on other platforms such as iOS

[2019-06-19 11:01] tmancey opened #4979 "Improve public facing API documentation for Ads/Confirmations and general refactoring/API cleanup"
Improve public facing API documentation for Ads/Confirmations to help with implementation on other platforms such as iOS

[2019-06-19 11:21] irawatpravin commented on #2107
hi,
I have solved the problem. First of all read the terms and conditions of the thumbnail.
Switch You YouTube account to STUDIO BETA. and then click on your video that you want to add thumbnail. now upload thumbnail and its done. Dont thank me You can subscribe my channel its
https://www.youtube.com/channel/UClLGKXetgERax9gHzhRLn7Q?view_as=subscriber

[2019-06-19 11:47] tmancey opened #4980 "Open Ads in private windows"
Open Ads in private windows

[2019-06-19 11:51] LefterisJP commented on #2048
I also see this issue with `Version 0.65.120 Chromium: 75.0.3770.90 (Official Build) unknown (64-bit)` even with all shields down.

[2019-06-19 12:02] tmancey commented on #4980
https://github.com/brave/brave-core/pull/2355

[2019-06-19 12:03] davvelsan commented on #4795
I think this issue is related to the `alt+tab` blank pages bug ([see details in this Brave Community discussion](https://community.brave.com/t/screen-is-grayed-out-as-soon-as-i-alt-tab/64170/6)).

Windows on-hover preview shows blank pages as long as the following conditions are met:

- Currently focused window is **not** Brave
- The focused window is `maximized`, thus hidding Brave from view
- Br

[2019-06-19 13:25] LaurenWags opened #4984 "Release notes for 0.65.x Hotfix 2 (Release Channel)"
Release Notes
 - Upgrade from Chromium 75.0.3770.90 to Chromium 75.0.3770.100.([#4962](https://github.com/brave/brave-browser/issues/4962))

[2019-06-19 13:48] #4945 closed

[2019-06-19 13:58] #4921 closed

[2019-06-19 14:06] kjozwiak commented on #4956
@ryanbr mind creating an issue about implementing/looking into the above eventually? You can use this issue as a reference for an example of the problem happening.

[2019-06-19 14:08] kjozwiak commented on #2810
Thanks for taking a look @AstroGD. I tried reproducing the above many times on different channels and couldn't reproduce either. Had no issues logging into ProtonMail using the default shields settings.

[2019-06-19 14:12] #4856 closed

[2019-06-19 14:40] kjozwiak commented on #4815
Reproduced on `macOS 10.14.5 x64` using the following build:

Brave | 0.68.60 Chromium: 75.0.3770.90 (Official Build) nightly(64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Mac OS X

<img width="499" alt="Screen Shot 2019-06-19 at 10 39 59 AM" src="https://user-images.githubusercontent.com/2602313/59775151-b1523480-927e-11e9-89b4-7155b648df5

[2019-06-19 14:50] kjozwiak commented on #3996
Removing myself as I don't have a `Win 7 x86` VM anymore. @btlechowski I believe you have one handy, when you have some time, mind going through this and see if you can reproduce anything similar in terms of Brave eating up unnecessary memory?

[2019-06-19 15:09] btlechowski commented on #3996
I simulated the conditioned reported in the issue(4GB, Windows 32bit Enterprise) and I was unable to reproduce. On clean profile, all Brave processes took max 200MB.

Tested with

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (32-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

@sr229 Did yo

[2019-06-19 15:26] bsclifton commented on #2810
@jacobcantele are you able to try also?

[2019-06-19 15:29] bsclifton commented on #2048
@LefterisJP do you have more information? (not sure if the site you are using requires a login). Would be great if we had some way to reproduce on our side

[2019-06-19 16:05] pitsi opened #4985 "[info] What does brave use for its (html5) multimedia needs?"
## Description
I just installed brave and, as I do on every chromium based browser, I first check its html5 support, especially for h264. H264 is a proprietary format, so most browsers on linux rely on the system's ffmpeg libraries (libavcodec, libavformat, libavutil) to play the relevant content.

I am also using another chromium based browser, which does not use the above libraries and instead h

[2019-06-19 16:27] kjozwiak commented on #4962
QA will go through the following passes to ensure that the `75.0.3770.90` to `75.0.3770.100` bump didn't cause any obvious regression/issues:

* Manual test run on OS X for 0.65.x - Release Hotfix 2 #4967
* Manual test run on Windows x64 for 0.65.x - Release Hotfix 2 #4968
* Manual test run on Linux for 0.65.x - Release Hotfix 2 #4969

[2019-06-19 16:29] kjozwiak commented on #4962
Verification **PASSED** on `macOS 10.14.5 x64` using the following build:

Brave | 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

<img width="1209" alt="Screen Shot 2019-06-19 at 12 28 39 PM" src="https://user-images.githubusercontent.com/2602313/59783281-cf736100-928d-11e9-93e4-91

[2019-06-19 17:11] rebron commented on #2810
Bumped to p4 as this looks like login to protonmail is working generally.

[2019-06-19 17:16] #889 closed

[2019-06-19 17:39] kjozwiak commented on #889
Adding the following into `0.68.x - Nightly` as per https://github.com/brave/brave-core/pull/2564#event-2424907276.

[2019-06-19 17:40] tildelowengrimm opened #4986 "Add social blocking toggle for YouTube embeds"
Along with the other social media blocking features, add an off-by-default option to block YouTube embeds.

[2019-06-19 18:02] bsclifton commented on #2092
@bitcoinuser we have a potential fix for this which is available in our NIGHTLY channel:
https://brave.com/download-nightly/

Would you be able to download and try this out? (you can always uninstall afterwards). I don't have a clear way to test this- as you're reporting an issue on a specific site

[2019-06-19 18:28] jdkuki opened #4987 "Add Panel Support for GitHub"
## Description

Feature Request:
Add functionality to tip users on GitHub via panel

## Steps to Reproduce

   1. Enroll in rewards
   2. Visit user profile page on GitHub
   3. Click Brave Rewards BAT Icon to open panel
   4. Text on panel should appear "<username> on GitHub"

## Actual result:

N/A

## Expected result:
![image](https://user-images.githubusercontent.com/8422122/59790477-df3a7780-

[2019-06-19 18:30] rossmoody opened #4988 "Ignore pinned tabs when closing with ⌘W"
Feature/usability proposal. [Noticed a twitter comment](https://twitter.com/tolmasky/status/1140699118517358593?s) propose a warning on closing pinned tabs when using `CMD + W`. I think it would be a lot more useful to give users the option to have pinned tabs ignore `CMD + W` entirely. I miss pinned tabs almost every time I accidentally close them.

![Persistent pinned tabs](https://user-images.g

[2019-06-19 18:38] #3764 closed

[2019-06-19 18:38] #3763 closed

[2019-06-19 18:38] #3744 closed

[2019-06-19 18:38] #3735 closed

[2019-06-19 18:38] #3739 closed

[2019-06-19 18:38] #3720 closed

[2019-06-19 18:38] #3723 closed

[2019-06-19 18:38] #3743 closed

[2019-06-19 18:39] #3738 closed

[2019-06-19 18:47] tomlowenthal commented on #4980
Is this a change to the default behavior when you click an ad notification to open the landing in a new private window rather than in a regular window?

[2019-06-19 18:48] bsclifton commented on #4988
Related https://github.com/brave/brave-browser/issues/4963

[2019-06-19 18:48] mandar-brave opened #4989 "User wallet: Ads Rewards paid directly to user wallets"
Feature:
For the initial phase of user wallets, for browsers that will create/claim their own wallet and KYC (verify), we will be paying users for their ad rewards.

Pre-condition:
- User has verified (KYC'd) their wallet prior to end of the month
- User has any ads rewards payments

Expected behavior:
- User will automatically have balance updated (as in the server will create a transaction to se

[2019-06-19 18:55] #4967 closed

[2019-06-19 18:57] rebron opened #4990 "Add copyright (c) symbol in About Brave"
## Test plan
See https://github.com/brave/brave-core/pull/3881

## Description
Change current: Copyright 2019 Brave Software Inc. All rights reserved.
To new: Copyright © 2019 Brave Software Inc. All rights reserved.

## Screenshot of Issue
![image](https://user-images.githubusercontent.com/5951041/59792614-67bb1700-9289-11e9-996d-9afc7c70a3d1.png)

[2019-06-19 18:58] rebron commented on #4990
cc: @bradleyrichter

[2019-06-19 19:15] #4984 closed

[2019-06-19 19:18] rebron opened #4992 "add theme setting as an inline option to onboarding process"
## Description
Currently, when users get to the 'Choose your color theme' during our onboarding process, selecting Choose Your Theme sends them to brave://settings in a new tab.

We should offer the same drop down list from settings (instead of the 'Choose your theme button'):
same as [OS]
Light
Dark

and let the user make this choice inline during the onboarding process.

## Current Screen
<img w

[2019-06-19 19:18] rebron commented on #4992
cc: @rossmoody

[2019-06-19 19:33] LefterisJP commented on #2048
Yep. So the site is actually mine. It does require a login and it's a django website (not live yet) so the test code is all local.

The url requires login access so cookies are involved.

The response is a pdf. In python code it's the following:

[code]

Anything else I can do to help?

[2019-06-19 19:48] btlechowski commented on #4968
Verified on

Brave | 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

[2019-06-19 19:48] #4968 closed

[2019-06-19 20:01] GeetaSarvadnya commented on #4969
Looks good hence closing the issue.

[2019-06-19 20:01] #4969 closed

[2019-06-19 20:03] tmancey commented on #4980
@tomlowenthal I was testing this change, and if it worked I was then going to reach out to yourself and product to see if it is something we want implement

[2019-06-19 20:27] bsclifton commented on #2048
@LefterisJP nice! ok so the only thing I would ask would be: can you try Nightly? We removed PDF.js in favor of PDFium. If it works in Chrome/Chromium, it should now work for you :)

This code will eventually make it's way into the release channel (currently, we're on 0.65.x and the fix was in 0.68.x) - estimated ship date August 20th
https://github.com/brave/brave-browser/wiki/Brave-Release-Sched

[2019-06-19 20:39] LefterisJP commented on #2048
@bsclifton Done. Used latest AUR nightly package in Archlinux so that makes it 0.68.60-1.

There the problem is gone. Clicking on the URL downloads the pdf, just like in Chromium and then you can click on the download to see a preview which renders just fine. :+1:

[2019-06-19 20:42] mandar-brave commented on #4989
@NejcZdovc @evq

[2019-06-19 20:52] rebron commented on #4966
Closing. Released 6/19/19. ~1:50pm PDT

[2019-06-19 20:52] #4966 closed

[2019-06-19 21:00] bsclifton commented on #2048
@LefterisJP awesome! thank you so much for confirming 😄 Feel free to stick with Nightly or you can ride it out (and continue to use the more stable Release channel). Thanks again 😎

[2019-06-19 21:00] #2048 closed

[2019-06-19 21:00] vicentelyrio commented on #2763
I liked the bookmark approach because the ad skips right on and I do not need to give a second click on the skip button

[2019-06-19 21:33] #4940 closed

[2019-06-19 21:47] rebron commented on #4165
![foldericon](https://user-images.githubusercontent.com/5951041/59803643-ee2f2300-92a0-11e9-8f46-ebb653e7b17c.PNG)
How the folder is vertical should stay the same to match OS. But the color should be no fill (just an outline of the older) as @Brave-Matt suggests or something to better, some white variation, to match dark mode a bit better.

[2019-06-19 22:00] serhangursoy commented on #4221
I'm still having issues with this.
I tried Brave at work and it was working quite good(German os with English lang pack).
Now I tried on my pc and it's saying "Sorry! Ads are not yet available in your region." although I'm in Germany.
- My OS Region was also Germany but my Locale was Turkey, so I uninstalled Brave, changed that, restarted PC, reinstalled, didn't work.
- I changed my language from

[2019-06-19 23:14] rebron commented on #4198
Hi @fmgburner25. In general, I'm finding Ctrl + C and Ctrl + V and copy/paste from context menu to be working. Is copy/paste not working for you for a specific web site or are you finding copy/paste doesn't work at all?

We need specific examples to reproduce the issue, for example the website and the string/text. Also, please don't share if the string/text includes sensitive information such as f

[2019-06-20 00:52] diracdeltas commented on #1704
we are deprecating PDFJS so this is no longer an issue for it

[2019-06-20 00:53] #1704 closed

[2019-06-20 01:53] tmancey opened #4994 "Ad totals should update on month roll over without fetching latest balances from server"
## Description

Ad totals should update on month roll over without fetching latest balances from server

## Steps to Reproduce

   1. Navigate to
   2. Wait for month to roll over

## Actual result:

"Estimated pending rewards", "Next payment date" and "Ad notifications received this month" are not updated when month rolls over unless browser is restarted

## Expected result:
"Estimated pending re

[2019-06-20 03:00] #4950 closed

[2019-06-20 03:40] kjozwiak commented on #4804
@LaurenWags can we close this off? Looks completed 👍

[2019-06-20 05:18] rebron opened #4995 "show background image should be default on"
## Description
With fix for https://github.com/brave/brave-browser/issues/4523, background images is defaulted off.

Background images should be shown by default.

It's a jarring change for existing users, who had background images previously.

Will need to test on upgrade that user preference is maintained.
1) If user selects background images off, on upgrade, background images should still be of

[2019-06-20 05:24] sr229 commented on #3996
@btlechowski no pages open, it was a fresh install of Brave, no modifications whatsoever.

[2019-06-20 08:06] kid101 opened #4997 "[feature request ] Sync other data types rather than just bookmark"
Right now Brave only seems to sync `bookmarks` not history,password,etc.
when is the support for other data type sync planned?
I plan to replace chrome in all my devices but can't do just yet.

[2019-06-20 11:44] ryanbr commented on #4986
I'd expect people submitting false positives, i.e forgetting this was enabled and then complaining issues of youtube issues.

[2019-06-20 12:02] ryanbr commented on #4986
One would also argue, why not other embedded video sources also? or are we specifically picking on youtube? anyway, my thoughts :)

[2019-06-20 12:27] #4905 closed

[2019-06-20 13:16] odmera commented on #208
Thank,  enable this feature!
+1

[2019-06-20 13:22] pfuhrmann commented on #208
@rebron I would be happy to give micro portions of BAT for each translation or on a monthly basis to support this feature. Completely understand that what you guys are creating is open-source and free.

[2019-06-20 15:13] AnthonyLenglet opened #4998 "Artifact on one of the image in the new tab page"
## Description
One of the image in the new tab page has a weird artifact(?) in it

## Steps to Reproduce
   1. Open a new tab

## Actual result:
![image](https://user-images.githubusercontent.com/36004334/59859765-ae8a3900-937d-11e9-8638-ca69b7703316.png)

Its ink! its dirt on my screen!
No!
It's an artifact that is in the original image!

https://unsplash.com/photos/prSogOoFmkw

## Expected resul

[2019-06-20 15:15] srirambv commented on #3116
Seeing this on Linux as well with a wired connection on desktop.
[code]

[2019-06-20 15:23] mandar-brave opened #4999 "Notify browser when user wallets are available"
When the browser hits the version where user wallets are supported; here are the two use cases.

New user:
Once BR is launched and a new wallet is created, after an hour, the BAT logo should have notification ON

Existing user (opted in to BR):
On upgrade, turn ON notification as soon as browser is up and running.

[2019-06-20 15:35] srirambv commented on #4995
The new setting to disable background image isn't intuitive and can be easily missed. @karenkliu how about adding a one time focus with tooltip is shown on opening a new tab after the fix goes into the release?

[2019-06-20 15:57] #4994 closed

[2019-06-20 16:23] #4743 closed

[2019-06-20 18:16] asmaloney commented on #4392
This is still an issue and it's getting really frustrating.

This time it dies when installing the latest update.

If it didn't kill all my tabs it would be... less frustrating.

[2019-06-20 18:36] btlechowski commented on #4212
Verification passed

Brave | 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 7 Service Pack 1 (Build 7601.24468)

Brave | 0.66.93 Chromium: 75.0.3770.90 (Official Build) beta (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
OS | Windo

[2019-06-20 18:36] #4212 closed

[2019-06-20 18:54] kjozwiak commented on #4392
@asmaloney mind adding the above into https://github.com/brave/brave-browser/issues/3839? We closed this is a duplicate of https://github.com/brave/brave-browser/issues/3839.

[2019-06-20 19:00] riastradh-brave opened #5000 "Window size increases slightly for each new window"
## Description
Each new window is one or two pixels higher than the one in focus when it was opened.

## Steps to Reproduce

   1. Open a window and move it to a definite height (e.g., flush against the top of the screen).
   2. Open a new window and move it to a definite height.
   3. With a magnifying glass, scrutinize the bottom and see that the window size is slightly larger.

(My magnifying g

[2019-06-20 19:06] capouch commented on #4155
The Weather Underground issue is back--with a vengance--as of 0.66.94.  Same basic idea--if I log on, the site goes very strange.  It used to just not display my "favorite cities" after I logged in.  Then, after @ryanbr notified me, the issue was fixed.  For a while.  Now after posting the page contents, first the "favorites" across the top of the page disappears, then the whole page goes white.

[2019-06-20 19:29] asmaloney commented on #3839
This is still an issue and it's getting really frustrating.

This time it died when restarting after installing the latest update.

**Uploaded Crash Report ID 2f7589bf2464ea33 (Local Context: 6a8ce946-edd9-4e6c-b4f7-6986360084cb)**

If it didn't kill all my tabs it would be... less frustrating.

[2019-06-20 20:07] jseidl commented on #4280
We're working on fixing our official repository with the appropriate version. Our latest release that installs cleanly on CentOS/RHEL 7 is `v0.62.51`.

You can download the RPM here: https://github.com/brave/brave-browser/releases/tag/v0.62.51

You will need to [enable user namespaces](https://superuser.com/questions/1294215/is-it-safe-to-enable-user-namespaces-in-centos-7-4-and-how-to-do-it):

`e

[2019-06-20 20:13] diracdeltas opened #5001 "remove all references to unused heroku domain"
https://hackerone.com/bugs?report_id=621698&subject=brave

we don't own `laptop-updates-staging.herokuapp.com` anymore so it should be removed

AFAIK nothing actually connects to this URL in this repo

[2019-06-20 20:14] ryanbr commented on #4155
url link to the issue?

[2019-06-20 20:34] capouch commented on #4155
[https://www.wunderground.com/weather/us/in/monon/40.87%2C-86.88](url) is the link to my "home page."  But the issue only occurs when I log in, and so w/o an account I don't know how you'd test it.

[2019-06-20 20:51] #5001 closed

[2019-06-20 21:21] ryanbr commented on #4155
does the issue occur with sheilds off?

[2019-06-20 22:27] maximbaz commented on #305
Maybe something has changed, but this trick doesn't work for me anymore 😞 I used the `--official_build=true` (the full command below) and still got all these compilation errors.

    npm install
    npm run init
    npm run create_dist Release --debug_build=false --official_build=true

And the errors are like:

[code]

[2019-06-21 00:13] karenkliu commented on #4995
@srirambv Originally I wanted the panel to actually be open the first time a user landed on the page, but @bradleyrichter decided it's better to let user discovery take its course.

[2019-06-21 00:14] #4995 closed

[2019-06-21 01:27] capouch commented on #4155
Dammit, no.  I turned shields off once upon a time for this site, but they were on again, and disabling them fixed the issue.  So sorry for the noise.

[2019-06-21 01:36] mwarrenus commented on #2308
The Decentraleyes extension can already disintermediate requests for common web assets, however, the Brave browser apparently has  a (hidden?) set of rules that blocks requests to these assets before they get to Decentraleyes. I’d like to modify Brave browser’s block list/rules to allow requests to the above set of domains to pass through to Decentraleyes (I’ve installed the extension in Brave, bu

[2019-06-21 02:14] #4804 closed

[2019-06-21 03:13] simonhong opened #5002 "Cleanup gn files of MacOS"
`brave/BUILD.gn` and  `brave/build/mac/BUILD.gn` has some cleanup points.

[2019-06-21 05:00] #5002 closed

[2019-06-21 05:25] mandar-brave commented on #4999
![image](https://user-images.githubusercontent.com/35932307/59899543-f6bf5080-93a9-11e9-8b0f-d9f68d710194.png)

Edit: Accept token rewards without a CAPTCHA
Replace: Accept Ad rewards without a CAPTCHA

If/when the user comes back (or ignores), the user can come back in.

- no Uphold account state (default BR)
- Uphold + unverified (no KYC)
- Uphold  + verified (KYC)

Considering that Uphold will

[2019-06-21 05:29] mandar-brave commented on #4774
![image](https://user-images.githubusercontent.com/35932307/59899698-8533d200-93aa-11e9-9e85-f8cf07e0cd67.png)

The three operating states are defined above.
There are two states where Uphold will show disconnected;

a) when the auth_token has expired
b) when the BAT limits per transaction have been hit

When this happens;
![image](https://user-images.githubusercontent.com/35932307/59899756-bca27e

[2019-06-21 05:30] mandar-brave commented on #4989
Notification text:
Your Ads rewards have been deposited to your wallet!
Action: Close (X)

No UI besides the notification.

[2019-06-21 05:32] mandar-brave commented on #4779
For Add-funds, the link should take user to Uphold site with the right URL to allow user to add funds on Uphold site
For With-funds, the link should take user to Uphold account

![image](https://user-images.githubusercontent.com/35932307/59899889-44888880-93ab-11e9-9b06-33ad1dc05bdf.png)

[2019-06-21 05:37] mandar-brave commented on #4778
A/C error handling:
- if user has token expired, send a notice to the user
Notice: Your wallet needs to be authorized; action: Authorize -- takes user to Uphold for re-authorization
- if user has hit BAT limits, send a notice to the user
Notice: You have exceeded the BAT limits and you need to re-authorize your wallet; action: Authorize - like above

Once user has re-authorized a/c should be retri

[2019-06-21 05:40] mandar-brave opened #5004 "User wallet: Notification reminders"
First time an Uphold wallet shows as connected but unverified show the following notification (one time);
![image](https://user-images.githubusercontent.com/35932307/59900185-253e2b00-93ac-11e9-9866-b8445dfef038.png)

First time an Uphold wallets shows as verified, show the following notification (one time)

![image](https://user-images.githubusercontent.com/35932307/59900205-3edf7280-93ac-11e9-9a

[2019-06-21 05:43] mandar-brave opened #5005 "Handling Uphold wallet Connect/Disconnect"
![image](https://user-images.githubusercontent.com/35932307/59900304-a8f81780-93ac-11e9-81c6-1c1b53197b7a.png)

@NejcZdovc this is optional for the first phase of user wallets.
Link 1: Just jump to the Uphold wallet
Link 2: Just remove the auth_token and put wallet to disconnect state (if there is an API to de-auth the token, make that call)

[2019-06-21 07:16] ryanml opened #5006 "Brave Rewards nav-bar item is not translated"
There is no dynamic translation string for the `Brave Rewards` item:

https://github.com/brave/brave-core/blob/master/ui/webui/resources/br_elements/br_toolbar/br_toolbar.html#L129

[2019-06-21 08:31] iefremov opened #5007 "Make component updater compatible with NetworkService"
(For more context see the parent issue https://github.com/brave/brave-browser/issues/2351)
(To run the browser with enabled NetworkService use `--enable-features=NetworkService`)

The component updater problem is rooted at `BraveSystemNetworkDelegate`. Here we do some hardcoded URL rewrites. It seems that `BraveSystemNetworkDelegate` is not going to be refactored in the parent issue and should be

[2019-06-21 11:28] GeetaSarvadnya opened #5008 "In windows 8.1 Brave ads notification popup has chrome favicon instead of brave"
## Description

Brave ads notification popup has chrome favicon instead of brave

## Steps to Reproduce

   1. Clean profile 0.65.120
   2.  View ad ad
   3. Verify the ads notification popup

## Actual result:

Brave ads notification popup has chrome favicon instead of brave
![image (1)](https://user-images.githubusercontent.com/38657976/59918999-e65bb400-9443-11e9-9759-e65574398955.png)

## Expe

[2019-06-21 11:30] subzey commented on #1738
Can't the measurement result just be of lower precision, not always `0`?

As for me, zeroing 44 out of the 53 bits of the `Double` mantissa would do. That would significantly complicate the fignerprinting while keeping all this stuff in the working condition.

[Demo](https://jsfiddle.net/subzey/tsm6p0hj/)

_Also, currently the feature can identify user as scripts now knows for sure that Brave is u

[2019-06-21 12:35] jonathansampson opened #5009 "Progressive Apps Cannot be Pinned to Taskbar, Open Brave Window"
## Description
PWAs cannot be pinned to the taskbar. Doing so switches their icon back to the Brave icon, and opening them simply opens a default Brave window.

## Steps to Reproduce
1. Navigate to mobile.twitter.com
2. Click the ⋮ and select _Install Twitter_
3. Right-click resulting window icon in taskbar and select _Pin_

## Actual result:
Note that icon has changed to Brave icon. Clicking open

[2019-06-21 12:47] sajklan opened #5010 "Alarms in Tradingview doesn't load or work at all"
Since I changed to Brave from Chrome, the alarm function in Tradingview has stopped working, it won't load the list, let me edit or delete any on the alarms, so this causes old alarms to go of now and then. I have to start Chrome to do this part and I wanted to drop Chrome once and for all.
Printscreens
http://prntscr.com/o4ug3u
http://prntscr.com/o4ugq2

## Steps to Reproduce

   1. Set an alarm,

[2019-06-21 13:52] maximbaz commented on #1024
In my experience of maintaining `chromium-vaapi` for Arch Linux, at this point I would not recommend enabling VA-API _by default_, given the amount of issues we've seen recently with drivers and regressions in Chromium codebase (we have tried to enable VA-API by default in the official Chromium package for Arch Linux and failed miserably after seeing many many bug reports of broken video playback,

[2019-06-21 14:09] maximbaz commented on #2300
On Arch Linux we use [the following `chromium-launcher`](https://github.com/foutrelis/chromium-launcher), which knows how to read `$XDG_CONFIG_HOME/chromium-flags.conf`. Perhaps this is something that can be used for Brave as well?

[2019-06-21 14:20] jsecretan commented on #4047
And after discussion with @tmancey and @emerick, we should also filter out creativesets that are associated with downvoted categories.

[2019-06-21 14:21] jsecretan commented on #4047
Flag as inappropriate should send flagged conference type.  And when flagged, should follow the same creativesetid blocking as downvote.

[2019-06-21 14:47] jonathansampson commented on #5009
nwjs appears to have had a similar issue (now patched): https://github.com/nwjs/chromium.src/commit/de885926da88265af6d9bad51f5e5dbfc03e42f8

[2019-06-21 15:31] rebron commented on #2792
+1 from @Sondro with additional examples:
API examples provided here: https://ginpei.github.io/html5-youtube.js/

[2019-06-21 15:31] rebron commented on #4673
Yes. Closing. Dupe of #2792 Thanks for additional examples.

[2019-06-21 15:31] #4673 closed

[2019-06-21 15:39] rebron commented on #4678
cc: @rossmoody Will need to account for cross-channel (e.g. Brave Beta macOS, Brave Dev on Windows) sync via detection and error dialog, since we're not supporting cross-channel sync. Primary use case is release channel sync across all platforms.

[2019-06-21 15:53] rebron commented on #4678
@brianddk Are you still running into this issue? We were thinking maybe a firewall issue?

[2019-06-21 15:55] rebron commented on #4681
@coolmax10 We need more info on this issue and some reproducible steps.

[2019-06-21 15:59] rebron commented on #4706
@AoiYui Can you try again? Are you still running into this issue?

[2019-06-21 16:00] rebron commented on #4707
cc: @pilgrim-brave Can you take a look?

[2019-06-21 16:02] rebron commented on #4712
cc: @rossmoody Can you take a look?

[2019-06-21 16:05] rebron commented on #4737
@bitsramonglez Can you include the platform you're using? Windows, Mac, Linux?

[2019-06-21 16:07] rebron commented on #4738
@sethreidnz If you can still reproduce on our current release, 65.121 can you paste results from chrome://gpu in both Brave and Chrome?

[2019-06-21 16:09] rebron commented on #4742
@norsehealer Can you check to see your zoom level? Are you at 100% or at a different value?

[2019-06-21 16:10] rebron commented on #4749
Closing. Duplicate of #34.

[2019-06-21 16:10] #4749 closed

[2019-06-21 16:16] rebron commented on #4751
We need a consistent experience with Shields cross site trackers settings and Chromium's individual cookie control UI.
cc: @tomlowenthal

[2019-06-21 16:26] rebron commented on #4767
Need to retest once the adblock rust lands on Nightly.

[2019-06-21 16:30] rebron commented on #4786
cc: @fmarier

[2019-06-21 16:32] rebron commented on #4787
@Jay1 Did you try with shields down if that's effecting your experience?

[2019-06-21 16:40] rebron commented on #4877
@ChildishGiant and @scotm-gxg. Are you still having this issue with 0.65.121, current release?

[2019-06-21 16:54] rossmoody commented on #4712
I can help fix this one up when we're ready but we need new visual direction from @bradleyrichter or @jenn-rhim

[2019-06-21 18:01] bitsramonglez commented on #4737
I´m on windows.

[2019-06-21 18:15] rmacnutt commented on #1872
Add me to the list of folks who want a blank new tab feature.
The pictures are decent, but I just don't like seeing them every time.  I'm one of those people who turns off all the user interface "enhancements" in Windows and sets my background to a solid color.  If I want to look at art, I'll visit a museum.

[2019-06-21 18:28] norsehealer commented on #4742
@rebron the image linked indicates no zoom level (would have shown a magnify glass).

There are sites where I do have to keep a 90% so the font isnt huge as posted.
It’s mostly Reddit for me that has the bigger font size for me.

[2019-06-21 18:36] tmancey opened #5011 "Ads Rewards should be refreshed after redeeming tokens"
## Description

Ads Rewards should be refreshed after redeeming tokens

## Steps to Reproduce

1. Clean profile on 0.68.71. Launch with parameters `--enable-logging=stderr --vmodule=brave_ads=3 --brave-ads-staging --rewards=staging=true` to view logs.
2. Enable Reward with today's date.
3. Viewed a page, waited, received an Ad. Ads panel shows expected info: 0.05 BAT pending, payment date of Jul 5

[2019-06-21 18:40] tmancey opened #5012 "Ad notifications received should only include unredeemed tokens for the current month"
## Description

Ad notifications received should only include unredeemed tokens for the current month

## Steps to Reproduce

   1. View an Ad
   2. Change system clock to following month

## Actual result:

Ad notifications received still shows 1

## Expected result:
Ad notifications received should show 0 as the Ad was viewed in the previous month

## Reproduces how often:

Easily reproduced

##

[2019-06-21 18:44] scotm-gxg commented on #4877
Yes, it still seems to be an issue with 0.65.121

[2019-06-21 19:31] #4915 closed

[2019-06-21 20:34] caspertone2003 commented on #34
Last news:
#4749 has been closed by @rebron
https://github.com/brave/brave-browser/issues/4749

Statement is "**We're not going to do a session tabs implementation do to UE/UX confusion**."

So, forget session tabs in Brave ;-(

[2019-06-21 21:09] themotu commented on #4749
This is literally the only thing that brought me to brave in the first place.

[2019-06-21 21:50] LaurenWags opened #5013 "Multiple ad grants cause display issue in wallet summary"
## Description
If you have multiple Ad grants, the first one claimed appears to double in the wallet summary display, but the correct amount is reflected on the 'it's your lucky day!' banner and wallet balance.

## Steps to Reproduce

   1. Clean profile (used staging).
   2. Restore a wallet with two Ad grants (will need to get this from ledger team). It's helpful if this wallet has 0 balance to

[2019-06-21 22:25] WorldLanguages commented on #4641
I've seen on Twitter that Whatsapp Web rejects to work with the new useragent.

[2019-06-21 23:24] fmarier commented on #4986
I added YouTube embeds on my test page: https://fmarier.github.io/brave-testing/social-widgets.html

[2019-06-21 23:40] imptrx opened #5014 "Dark mode for new tabs page settings"
## Description
New tabs page's settings menu should adjust itself based on the user's currently set theme, whether it be `Light`, `Dark` or the theme set on the OS level.
Currently, the settings menu will look the same no matter what.

## Design
The Dashboard Settings menu should support dark theme set at the OS level:
![r0 background images dark theme](https://user-images.githubusercontent.com/23

[2019-06-21 23:45] #5011 closed

[2019-06-21 23:47] #5012 closed

[2019-06-22 00:06] diracdeltas commented on #4139
i have a fix for this; will add tests then open

[2019-06-22 00:40] imptrx opened #5015 "Widget menu for new tabs page elements"
## Description

Related issue: https://github.com/brave/brave-browser/issues/4510
Currently showing and hiding widgets in NTP is available soon via the Dashboard Settings Menu. We should also be able to control these options via opening a "widget" menu that shows up via menu button or right clicking the widget.

Hover or tab over the  Brave Stats widget to highlight it and display an icon represen

[2019-06-22 00:42] Victorio115 opened #5016 "Awaiting for my Brave Rewards"
## Description

I'm still waiting for my Brave Ads.

## Steps to Reproduce

   1.  Open Brave Browser.
   2. Write `chrome://rewards/` on Address Bar.

## Actual result:

![image](https://user-images.githubusercontent.com/50971728/59957021-69cbd400-9449-11e9-9aab-2efedadd2b46.png)

## Expected result:
![image](https://user-images.githubusercontent.com/50971728/59957044-8e27b080-9449-11e9-97f4-ebc4

[2019-06-22 01:21] bitcoinuser commented on #2092
Fixed.

[2019-06-22 01:21] #2092 closed

[2019-06-22 08:04] antoine373 opened #5017 "Get a bottom navigation bar"
## Description
Add a third possibility to deal with navigation bar position

## Actual result:
Today there are two ways to modify display :
- Only the navigation bar at the top with brave rewards icon (or not), tab manager and 3 dots menu
- Add a tool bar at the bottom with homepage , bookmarks, tab manager and 3 dots menu. In this configuration navigation bar remains at top with more space.

## E

[2019-06-22 08:12] antoine373 opened #5018 "Full screen for website parameters"
**DESCRIPTION**
Add a new parameter for website : Fullscreen.

**WHY?**
Because it could be usefull when we use a website from a desktop shortcut. In this use case, we want to use a website like an app and get the full screen.

**WHEN?**
Activate Fullscreen only when we come from a desktop shortcut.

[2019-06-22 08:31] ryanbr commented on #4496
@Miyayes does it work if you enable All cookies (instead of 3rd party cookies)

[2019-06-22 12:21] brianddk commented on #4678
I can't verify, I had to remove Brave because of: https://github.com/brave/brave-browser/issues/4904 .  I can go ahead and close since I no longer have a platform to test it on.

[2019-06-22 12:21] #4678 closed

[2019-06-22 13:30] ChildishGiant opened #5019 "eBay sell page broken by shields"
## Description
Cannot make an eBay listing with shields up

## Steps to Reproduce

   1.  Go to https://www.ebay.co.uk/sl/sell
   2. Type something in.
   3. Nothing will happen unless shields are down.

## Actual result:
Both hitting Go and the dropdown suggestions don't work.
Sheilds up:
![image](https://user-images.githubusercontent.com/13716824/59964505-a3f4ae80-94f9-11e9-82a7-d6dfd5409c0c.png

[2019-06-22 13:31] ChildishGiant commented on #4877
Yes, stable 0.65.121 through nightly 0.68.72 all still have this issue.

[2019-06-22 16:09] idefixx commented on #353
Are you people kidding me!?!

You want to be the privacy browser and you freaking download a random pick from some website than can and will log my IP every time I open a new tab.

WTF is wrong with you!?!?

Uninstalled NEVER going to reinstall. FU

[2019-06-22 18:06] cndouglas commented on #353
As of the latest nightly build, the background image is off by default, and there is a setting to turn it on.

![](https://user-images.githubusercontent.com/19424103/59967375-89690800-94ee-11e9-9e95-fbf6cf7e90c4.png)

[2019-06-22 18:58] #4925 closed

[2019-06-22 19:48] jfmherokiller commented on #4997
giving it the ability to share tabs like in firefox would be amazing as well.

[2019-06-22 22:52] yodaross commented on #5015
Unsubscribe

On Fri, Jun 21, 2019, 8:40 PM Peter Xu <notifications@github.com> wrote:

[2019-06-23 01:51] bjg222 commented on #353
The image on the NTP is honestly not a big deal, especially given that it's just bundled with the browser.  I do find that 6 recent/frequent sites is not near enough, and leaves a lot of empty space on the NTP.  Rather than focus on the image being off by default (it looks far nicer with it on, to me, and an option to turn it off would help those who don't like it), I think some of the usability s

[2019-06-23 06:21] bsclifton commented on #4905
marked as `QA/No` since this would be covered by https://github.com/brave/brave-browser/issues/944 😄

[2019-06-23 06:35] #4944 closed

[2019-06-23 11:17] maximbaz commented on #4142
Workaround to make `xdg-open` work as expected is to make sure the executable that `brave.desktop` is calling always returns `0` exit code, for example make it execute a wrapper script like this one:

[code]

[2019-06-23 11:24] srirambv commented on #4774
@mandar-brave @jenn-rhim  Can we use `Re-authenticate` instead of `Reconnect`? Reconnect would mean that the Uphold wallet is removed and needs to be readded which might be confusing. Re-authenticate is what is happening in the step not reconnecting

[2019-06-23 11:33] srirambv commented on #4742
What is the font size set to in `brave://settings/appearance`?

[2019-06-23 11:36] srirambv commented on #5016
Ads are currently not available in your region.

[2019-06-23 11:36] #5016 closed

[2019-06-23 11:39] srirambv commented on #5018
Can you please add more context to the issue? Please stick to the issue template when adding details. Makes it easier for us to understand the issue better.

[2019-06-23 11:44] srirambv commented on #4985
cc: @simonhong @iefremov

[2019-06-23 13:27] Aphexus commented on #4906
Are you kidding? Why? Why do you want to alienate people for no reason? There are still sites that require flash so you will be forcing people to use another browser simply because of why? Because you want to kill off flash? When you do so you also kill off everyone that is forced to use flash. There is no point in doing so. Since you are not effected by it, of course, you don't care do you? I gue

[2019-06-23 13:27] Aphexus commented on #4906
Are you kidding? Why? Why do you want to alienate people for no reason? There are still sites that require flash so you will be forcing people to use another browser simply because of why? Because you want to kill off flash? When you do so you also kill off everyone that is forced to use flash. There is no point in doing so. Since you are not effected by it, of course, you don't care do you? I gue

[2019-06-23 13:42] expl0ratory commented on #4142
Great workaround, I was about to abandon the browser

[2019-06-23 13:59] agentofuser commented on #3201
I confirm. This is a Chromium issue that is very detrimental to keyboard accessibility.

I have to do 'Command+F xxxx' every time to work around, and I do this dozens of times a day.

It would be super nice if Brave could fix this ♿🙏

[2019-06-23 14:49] agentofuser commented on #375
Oh wow, I had no idea Vivaldi already had this. I've suggested it just a couple of days ago to Brave on twitter:

https://twitter.com/agentofuser/status/1140980397569990657

The UI could be copied from/inspired by Chromium's own DevTools, where Command+Shift+P already brings up a command palette (which they call Command Menu, but it's explicitly inspired by vscode.)

This would really improve keyb

[2019-06-23 15:12] asmaloney commented on #3839
Here's another log for you:

**Uploaded Crash Report ID 786a059ef1c08f78 (Local Context: 6f0ee7f7-bcc5-4e34-b435-c88f50d886ad)**

And to reiterate what happens after each crash when I launch it again:

- no window shows up and I can't quit
- I have to force quit Brave
- it works next time I run it, but all my open tabs are gone

[2019-06-23 15:59] sys9kdr commented on #403
Looks good. But I can't add remote URL as the filter https://github.com/brave/brave-browser/issues/403#issuecomment-425778061 yet. Should I open a new issue about external filter support?

[2019-06-23 17:16] 0xSaFi commented on #1986
sudo apt install brave
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package brave
????

Not Install Why?

[2019-06-23 17:40] bsclifton commented on #4906
cc: @rebron

[2019-06-23 20:32] maximbaz commented on #1950
Hi guys, I'm maintaining `chromium-vaapi` for Arch Linux, and I've started looking into Brave as an interesting alternative. I will be interested to collaborate and eventually add Brave to the official Arch Linux repositories.

VA-API support in a browser is essential to me, so I'm closely following the situation in Brave (https://github.com/brave/brave-browser/issues/1024, https://github.com/brav

[2019-06-23 20:56] kwroebuck commented on #3650
still broken on Version 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)

[2019-06-23 22:07] simonhong opened #5022 "Update widevine version to 4.10.1440.18 on linux"
4.10.1440.18 is ready to use.

[2019-06-23 22:23] srirambv commented on #1986
This tries to install the snap package of muon which is deprecated. Please follow the instructions at https://brave-browser.readthedocs.io/en/latest/installing-brave.html. Once you have added the source list you need to install using `sudo apt install brave-browser`

[2019-06-24 01:52] norsehealer commented on #4742
and the settings were set to large.  not sure how I overlooked that.

I find it odd that it was the only website actually showing a larger font size though.  maybe there's a bug there!?

[2019-06-24 03:03] simonhong commented on #4764
[code]
[code]

[2019-06-24 03:59] ryanml commented on #4942
Closing as a duplicate of: https://github.com/brave/brave-browser/issues/4846

[2019-06-24 03:59] #4942 closed

[2019-06-24 04:05] GeetaSarvadnya commented on #4347
+1 from community US territory (Puerto Rico)

https://community.brave.com/t/ads-enabled-but-not-earning-bat/66148/17

[2019-06-24 04:41] Zovaxis opened #5024 "Gh"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-06-24 04:45] bsclifton commented on #5024
Closing as there is no actual info here. Please re-open with details if there's something we can help with 😄

[2019-06-24 04:45] #5024 closed

[2019-06-24 04:50] bsclifton commented on #4742
Closing as it sounds like the issue is resolved! 😄

Some sites may be overriding this default behavior by forcing a font size, which would make it hard to detect. Also might not be noticeable if you're browsing at 90%.  Whatever the case, please do report back if you find a pattern and you suspect there is a bug 😄

[2019-06-24 04:50] #4742 closed

[2019-06-24 05:11] Zovaxis commented on #5024
Hy

[2019-06-24 05:11] Zovaxis commented on #5024
Ggt

[2019-06-24 05:11] Zovaxis opened #5025 "BBB"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with th

[2019-06-24 05:11] bsclifton commented on #1766
For folks experiencing this:
Can you please try going to chrome://flags/#force-color-profile and picking `sRGB`?

This should resolve the color differences. Not sure why the emojis aren't working for you, @oshanz (that seems like a different problem). Can you create a new issue with more of your details? Here's what that page looks like for me:
<img width="1038" alt="Screen Shot 2019-06-23 at 10 1

[2019-06-24 05:12] Zovaxis opened #5026 "Zxccbbmk"
#

## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce this issue with the dev channel?
- Can you reproduce this issue with

[2019-06-24 05:15] bsclifton commented on #2530
Related / possible dupe of https://github.com/brave/brave-browser/issues/1308

[2019-06-24 05:19] bsclifton commented on #3388
Verified this works as expected 👍

Closing- please re-open if you still run into this 😄

[2019-06-24 05:19] #3388 closed

[2019-06-24 05:28] bsclifton commented on #4756
@rebron is this a dupe? If so, do you have a link to that issue?

[2019-06-24 05:35] bsclifton commented on #3602
@btlechowski can you confirm if this still happens (on Nightly)? By default, it should be `Block 3rd party Cookies` and per @ryanbr comment above, it should work

[2019-06-24 05:38] bsclifton commented on #3742
Is this happening because we're disabling GAIA? (Google Accounts and ID Administration)

[2019-06-24 05:44] bsclifton commented on #4463
Closing as this is now resolved 😄 Let's re-open if someone else runs into this or it happens again (just leave a comment here! I'll help)

[2019-06-24 05:44] #4463 closed

[2019-06-24 05:51] bsclifton commented on #211
@cbehan the original post was by a user of the old Electron based browser (accidentally posted here instead of the `browser-laptop` repo)

For Linux, auto-updates aren't happening. You'll have to do this yourself via apt/rpm/dnf/etc

For other platforms, updates will happen. It may be possible to disable updates, but that is not something we support

All of this said, what exactly are you asking,

[2019-06-24 05:54] bsclifton commented on #913
cc: @rebron for prioritization 😄

[2019-06-24 06:02] A4o4ymous commented on #1986
You can install using `sudo apt install brave-browser-nightly`

[2019-06-24 06:03] bsclifton commented on #4635
@XtreemSolution running `create_dist` is going to try to do signing, which is something you can't really do (at least not authoritative signing)

You should be able to edit the .GN files to remove the signing requirement

[2019-06-24 06:10] #5026 closed

[2019-06-24 06:11] #5025 closed

[2019-06-24 06:13] bsclifton commented on #2092
@bitcoinuser awesome! Thanks for confirming 😄

[2019-06-24 06:28] bsclifton commented on #4997
Related:
- Extension Syncing #4094
- Open tabs don't sync across devices. #4412

[2019-06-24 06:37] Snuupy commented on #4412
@kangarooo what I've been using personally is this: https://android.stackexchange.com/questions/56635/how-can-i-export-the-list-of-open-chrome-tabs

tl;dr Remote Devices feature in the Chrome debugger -> copy/paste -> your tabs are exported! :)

[2019-06-24 06:40] norsehealer commented on #4901
I like Enpass, open source, and works on windows, android, and apple.

[2019-06-24 06:43] bsclifton commented on #1704
@jumde would this be needed to implement the `EnforceStrict` check?

[2019-06-24 06:52] bsclifton commented on #1978
@Palando you can try disabling tab discarding; the side effect is that more RAM would be used, as the tab is not unloaded

Try visiting chrome://flags/#proactive-tab-freeze-and-discard and marking this as `Disabled`

[2019-06-24 06:54] bsclifton commented on #3807
Closing as this should be resolved in 0.67.x and newer versions

[2019-06-24 06:54] #3807 closed

[2019-06-24 08:14] maximbaz commented on #2300
This has been beautifully solved in the Arch Linux package for Brave using the following wrapper:

[code]

[2019-06-24 09:29] Lunatix89 commented on #4463
Just wanted to let you know that I also experienced this issue with roughly the same setup - Kubuntu 18.10 with Brave Version 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)

Nothing happens when you click the "Confirm" button on the "I have a sync code" form.
But clicking on "Create new sync chain", immediately cancelling the generated token and navigating back to "I have a sync code"

[2019-06-24 09:31] simonhong commented on #4985
@pitsi There are two gn args for this - `proprietary_codecs` and `ffmpeg_branding`.
Brave sets `proprietary_codecs = true` and `ffmpeg_branding = "Chrome"`
See https://github.com/brave/brave-browser/blob/master/lib/config.js#L80

[2019-06-24 09:39] GeetaSarvadnya commented on #4756
@bsclifton @rebron This issue is a dupe of https://github.com/brave/brave-browser/issues/3190

[2019-06-24 09:43] GeetaSarvadnya commented on #3190
+1 from community https://community.brave.com/t/sync-nothing-happens-after-i-click-confirm-sync-code/66820

[2019-06-24 09:45] GeetaSarvadnya commented on #3190
Users are still facing the issue. Hence re-opening the issue and removing a Not actionable label

[2019-06-24 10:00] MRVDH commented on #3190
Just want to point out that this is not a problem with properly displaying a warning message. The sync code I enter is correct. The button just doesn't do anything. See https://github.com/brave/brave-browser/issues/4756

[2019-06-24 10:08] GeetaSarvadnya commented on #3190
@MRVDH Basically the button `Confirm Sync code` isn't responsive whether you enter correct sync or leave sync code field empty.

[2019-06-24 11:07] #5022 closed

[2019-06-24 11:45] srirambv commented on #913
+1 on this. Especially useful when you have a large number of tabs. Personally miss this option on Brave even from muon days. Would like to see this one implement soon.

[2019-06-24 13:13] LaurenWags commented on #882
+1 from my husband

[2019-06-24 13:41] bcrownover commented on #353
Strongly disagree with bjg222 on what is or is not a big deal. I find links to frequently accessed pages or pictures quite distracting when I'm trying to maintain a high degree of focus. I need my opening browser window and new page tabs to be blank. IE, Edge, and Firefox have blank tabs on my work machine. Chrome has been removed now that an extension is providing a blank page function for Brave.

[2019-06-24 14:54] #4793 closed

[2019-06-24 15:06] alirezaghey commented on #208
Just wanted to add my 2 cents about how important this feature is. Cheer!

[2019-06-24 15:24] ueberBrot opened #5028 "[feature request] Switching to history tab opens the history search"
It would be nice that when you open the brave history tab with CTRL-H or via the menu to automatically be in the search field so that you can type your search query. To do that now you have to manually click on the search icon in the right top corner of the history tab.

That is the standard in Chrome, Chromium and also Firefox. Would be nice to have it here as well.

[2019-06-24 15:42] geekley commented on #913
Oh, btw, I really like the way Opera shows all available tabs while you hold <kbd>Ctrl</kbd> after a <kbd>Ctrl</kbd><kbd>Tab</kbd>. Firefox does something similar, but Opera uses the space a lot better, and you can immediately see a big page preview and the expanded title of the tabs in a list, in the same order that you'll navigate through them.

This image describes everything in detail:
![Opera

[2019-06-24 15:53] mandar-brave opened #5029 "Brave Ads seem to display on touch of mouse post long idle"
Issue: Some users are noticing that after a large idle time (10 minutes or thereabouts), when they click a mouse an Ad notice drops in.

Specification/Expectation: Original specification was suggesting we display Ads only when user is active -> goes to idle for 15 seconds -> ad is displayed if app was in foreground. This is derived from user is active on Brave but has ended an activity to capture

[2019-06-24 16:08] dinoboy197 commented on #3761
I believe I'm getting this issue as well. I have a claim button that does nothing when I click on it. Every time I launch Brave, the button comes back. Is there somewhere that I can validate that the promo for this claim has ended?

[2019-06-24 16:11] #4756 closed

[2019-06-24 16:11] bsclifton commented on #4756
Thanks, @GeetaSarvadnya 😄

[2019-06-24 17:34] filips123 opened #5030 "Switch engine to Firefox"
Please switch Brave's engine from Chromium to Firefox.

---

First, Firefox has improved a lot in the last years. With Quantum release, it became faster and with WebRender, it will use GPU-based rendering. It has also improved a lot on mobile. It will soon use completely new UI for mobile (Fenix). It's also a lot more customizable than Chrome and other browsers.
I understand that when Brave was fi

[2019-06-24 17:34] pilgrim-brave commented on #3742
I don't see that URL in any of our code or patches. Our GAIA patch uses `no-thanks.invalid`: https://github.com/brave/brave-core/blob/master/patches/google_apis-gaia-gaia_urls.cc.patch

[2019-06-24 17:41] tomlowenthal commented on #4906
Yes, we want to remove Flash from the web platform because it's a substantial security and privacy risk for everyone who installs and uses it. And especially because it has a relatively hazardous update lifecycle which is going to be over at the end of next year — at which point it'll be an even riskier tool to use on the web.

[2019-06-24 17:43] tomlowenthal commented on #4986
@ryanbr Your point about other embeds is well-taken. We'd like to make it easy to control whatever cross-site activity you'd like to limit. But you're far more likely to stumble over a YouTube embed than any other, so it makes sense to build that control first.

[2019-06-24 17:47] tomlowenthal commented on #2308
If we're going to do work to support Decentraleyes, it'll be to integrate the functionality directly. This is on the to-do list.

[2019-06-24 18:01] diracdeltas opened #5031 "specify pinsets on a per-domain basis"
Right now for cert pinning, we pin all the hosts in the list to the entire pinset. We should split pinsets on a per-domain basis to make pinning more strict.

[2019-06-24 18:01] pitsi commented on #4985
Thank you :)
It seems I have to forget that (old?) flag and look for those new ones.

[2019-06-24 18:01] #4985 closed

[2019-06-24 18:24] bsclifton commented on #3435
Bumping down to a P4 - this hasn't been a hugely impactful issue (not a lot of comments, etc) and we haven't prioritized work on it

[2019-06-24 18:48] Miyayes commented on #4496
@ryanbr Yes, it can be reproduced without buying a course. For example, go into the free preview course videos in the syllabus on this page: https://www.udemy.com/beginner-to-pro-in-excel-financial-modeling-and-valuation/

Yes, it does work (i.e., the videos play successfully) if you enable Allow All Cookies.

[2019-06-24 19:07] M-Brody commented on #4615
+1 on both linux and mac.

[2019-06-24 19:54] #4231 closed

[2019-06-24 20:23] WorldLanguages commented on #2362
@simonhong This isn't working in latest Brave Stable, even with shields off: https://serviceworke.rs/push-simple_demo.html

[2019-06-24 20:24] WorldLanguages commented on #2301
+1
Please work on this Brave team. I want to receive web push notifications from Twitter, Youtube, etc.

[2019-06-24 21:41] snowbound commented on #2362
I went back to using Firefox rather than continue to use Chrome and put up with Google antics. On the Chromium side both Brave and MS Edge Chromium beta and dev have the notification issues

[2019-06-24 21:46] josegocampo commented on #1380
Has this been fixed? It is not allowing me to use the Evernote Clipper Extension, saying I need to allow 3rd party cookies and even if I chose to allow all cookies in Braves settings nothing changes.

[2019-06-24 21:57] srirambv commented on #913
Implementation should be, an entry under advanced settings
![image](https://user-images.githubusercontent.com/17010094/60054766-79495800-96a9-11e9-877c-dadf75cea65b.png)

* Enable the switch allows you to cycle between the recent tabs
* Disable(Default setting) switches back to regular tab switch behaviour

[2019-06-24 22:08] caroltoo commented on #3121
Can I ask what P3 backlog means in terms of timelines? This is incredibly distracting to me too and I would love to know if this is going to be updated soon after I just migrated everything from Chrome.

[2019-06-25 00:04] nhantrn commented on #5030
I would only be in favor of this if they also resurrect XUL and XPCOM. Else it wouldn't make much sense because Firefox itself is already slowly becoming Chrome. Firefox abandoned its own extension engine to adopt Chrome's web extension. Maintaining a browser take a lot of works. Just look at Microsoft, they have the expertise to continue to maintain Edge but gave up playing catch up. I'd give Moz

[2019-06-25 00:12] bsclifton commented on #2407
Closing as duplicate of https://github.com/brave/brave-browser/issues/2025

[2019-06-25 00:12] #2407 closed

[2019-06-25 00:16] tomlowenthal commented on #5030
We appreciate the passion, but this isn't going to happen.

[2019-06-25 00:16] #5030 closed

[2019-06-25 00:27] imptrx commented on #4992
@rossmoody Do we have an updated visual spec on how the new screen should look?

[2019-06-25 00:43] simonhong commented on #4764
Recently, c++ adblock lib is replaced with rust based adblock lib - https://github.com/brave/brave-core/pull/2569
So, let's wait and see this happens again with new rust libs.

[2019-06-25 00:52] nhantrn opened #5032 "Change Brave font type or increase size to decrease chromium blurriness and jaggedy font rendering."
I'm on a Windows 10 machine and Chromium font rendering is pretty terrible. I'm hoping with Microsoft's incoming Edge, they'll help match the quality to that of CLearType and MacOS equivalent. But until then, please consider changing Brave's Muli font-type to another type that's better rendered for chromium. Or consider making the UI text size larger to prevent blurriness of bolded text and jagged

[2019-06-25 00:52] BrendanEich commented on #4904
I have DMs from folks who want this. If easy, we should knock it out, for adoption upside. Thanks.

[2019-06-25 03:27] rossmoody commented on #4992
Yeah, that would be amazing if we could have the theme change like it does in settings. The behavior would follow the same pattern as import and search. Disabled button to start, placeholder read "Select a theme" and then any available options, if an option is selected then the button auto proceeds to the next screen.

![Welcome Light](https://user-images.githubusercontent.com/29072694/60067165-64

[2019-06-25 03:46] simonhong commented on #1105
@rossmoody I'm working on this now. Can you attach volume icon files here for 4 channels?

[2019-06-25 05:13] bsclifton commented on #5030
While this won't happen, we do have an issue captured as to why (tracked with https://github.com/brave/brave-browser/issues/4477). I believe @Brave-Matt will be putting together an entry for our FAQ that addresses this

[2019-06-25 05:39] GeetaSarvadnya opened #5033 "Unable to fill out the online PDF's"
## Description

Unable to fill out the online PDF's

## Steps to Reproduce

   1. Open Brave
   2. Right-click on any sample fillable PDF file and open it with brave

[SampleForm-1.pdf](https://github.com/brave/brave-browser/files/3323710/SampleForm-1.pdf)

## Actual result:

Unable to fill out the online PDF's - fillable fields are not highlighted

## Expected result:
User should be able to fill

[2019-06-25 05:48] bsclifton commented on #4349
Since this is currently disabled, because of the field trials... I'm going to close this issue

@tomlowenthal can you create a new issue for the behavior you think makes sense? 😄

[2019-06-25 05:48] #4349 closed

[2019-06-25 06:05] pierreke77 commented on #2771
I am a  Windows 10 who had something similar, and had success with the --disable-gpu workaround.  Thanks !

[2019-06-25 08:47] samirmember commented on #1308
Same issue, I want to have my hour synchronized with Windows time with 24hrs format.
This should be something that users can set with their preferences.

[2019-06-25 10:22] mhatvan opened #5034 "Cannot open Brave Browser via taskbar icon on Ubuntu"
## Description

Brave can be openend through Dash or by executing "brave" in a terminal window, but clicking on Brave taskbar icon doesn't open the browser.

Tested with Ubuntu 18.04 and 19.04.

## Steps to Reproduce

   1. Start Brave Browser via Ubuntu Dash
   2. Right-click Brave icon and "Add to Favorites"
   3. Close Brave Browser
   4. Click Brave icon and nothing happens

## Actual result:

[2019-06-25 10:27] #4975 closed

[2019-06-25 10:32] PunnyBoi opened #5035 "Hideous Task Manager in Dark Mode"
## Description

The task manager doesn't adapt to the dark mode of the browser which makes it look ugly.

## Steps to Reproduce

   1. Open brave (with dark mode on).
   2. Press Shift+Esc.
   3. The middle part of the task manager is white which looks very clumsy.

## Actual result:

![image](https://user-images.githubusercontent.com/42476181/60091568-87a77a80-9762-11e9-93cb-0417dc6fd253.png)

##

[2019-06-25 10:35] itstheandre commented on #3253
Still happening. Any reason for this?

[2019-06-25 10:36] itstheandre commented on #1337
Still happening. Is there a reason for this? Did you manage to get this working for you @jonathansampson ?

[2019-06-25 11:33] jonathansampson commented on #4611
I just reproduced this again (after installing Dissenter last night).

[2019-06-25 11:36] srirambv commented on #5033
this is probably fixed once we move from PDFjs to PDFium

cc: @bsclifton

[2019-06-25 11:44] srirambv commented on #5034
Works fine for me on both Ubuntu 18.04 and 19.04. How did you install the build? Was it via snap or deb? Also, you seem to be installing a really old version of the browser. Can you try following the steps mentioned [here](https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux)?

For launching from terminal `brave` will not launch. You need to run `brave-browser` from terminal

[2019-06-25 12:23] simonhong opened #5036 "Cleanup patches/chrome-installer-mac-signing-signing.py.patch"
patches/chrome-installer-mac-signing-signing.py.patch can be reduced and extensible.

[2019-06-25 12:34] str commented on #373
Tab groups was re-added to Firefox and is the only reason I still use Firefox. I think many are in my same case. Please add this killer-feature.

[2019-06-25 13:22] LaurenWags commented on #4921
Additional way to reproduce:
Watch a livestream. As the attention % on your AC table increases, another `/videos` will be added to the URL.

[2019-06-25 13:30] tmancey commented on #4368
Closing this issue as was resolved in https://github.com/brave/brave-browser/issues/4797

[2019-06-25 13:30] #4368 closed

[2019-06-25 13:45] #4661 closed

[2019-06-25 14:17] GeetaSarvadnya commented on #4921
The issue is Reproducible on.
Brave | 0.66.97 Chromium: 75.0.3770.100 (Official Build) beta (64-bit)
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

[2019-06-25 14:33] GeetaSarvadnya commented on #4187
IP (India) + Locale (English (US)) -  Ads will not be served as Region is set to ads not supported region and message "Sorry! Ads are not supported for this region" is NOT displayed which is as expected.

Hence closing the issue.

[2019-06-25 14:33] #4187 closed

[2019-06-25 15:17] srirambv opened #5037 "Ads count isn't increasing for upgrade path"
## Description

Ads count isn't increasing for an upgrade path

## Steps to Reproduce

   1. Install an older nightly build
   2. Trigger an ad
   3. Wait for the token to be cashed in
   4. Upgrade to the new nightly build
   5. Ensure you have unpaid tokens
   6. Ads count isn't increased after upgrade only pending amount is increased

## Actual result:

Ads count isn't increasing for upgrade pa

[2019-06-25 15:18] nebular commented on #353
The new tab page turns my pristine Mojave OS into a windows tablet and I really feel sick just looking at it. Please, can you remove clock, icons and specially wallpapers?

[2019-06-25 15:25] nebular commented on #353
Also would be interesting to give it an overall different look. This resembles Windows 10 with that big clock and the icon design, or even worse, that "bing" thing. Why not just a grid, something really simple?

[2019-06-25 15:44] NejcZdovc commented on #4921
@GeetaSarvadnya this problem is on release (0.65) and all version except 68 where fix already landed

[2019-06-25 16:43] mhatvan commented on #5034
I am using the snap version (and am aware that it is outdated a bit), it can definitely be launched with running `brave`. The issue doesn't affect the deb version, I was able to install and run it without any issues right now, but would still prefer to use the snap version, which hopefully gets an update soon.

[2019-06-25 16:53] rossmoody opened #5038 "New tab page overflow"
New tab page is getting scrollbars from overflow around 920px -> 1120px widths. Should have it just be responsive without the scrollbars.

![image](https://user-images.githubusercontent.com/29072694/60117489-fff44880-972e-11e9-99e5-03cde978d275.png)

[2019-06-25 16:53] msmarrow commented on #4655
Hello, is anybody currently working on this? if not, I would like to be assigned to it.

[2019-06-25 16:56] bsclifton commented on #4655
Hi @msmarrow - nobody currently working on it. It's all yours!

If you haven't already gotten setup, please check out our wiki with steps on getting setup locally for development:
https://github.com/brave/brave-browser/wiki

[2019-06-25 16:59] bsclifton commented on #353
We're making some good progress on here - shout out to @imptrx doing the work

As shown above, you can now toggle the background on/off and coming soon you'll be able to toggle each individual element also (so you can hide stats, clock, tiles, etc)

Stay tuned! I'll update the original post to link to the updated issues and check the boxes for items that have been completed

[2019-06-25 17:29] filips123 commented on #5030
I understand that you *had* good reasons to use Chromium when you first made Brave.
But I also want to know why you can't switch to Firefox *now* or in *the future*. I know that this would require a lot of work, but I think that it would be better in the long-term.

[2019-06-25 17:43] LaurenWags commented on #4402
Verified passed with

Brave | 0.66.98 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

[2019-06-25 18:31] fhelwanger commented on #353
That's very cool 🎉

In addition to the option to show the background image or not, will we be able to choose a custom image there? Or that should be done by a extension? 🤔

I like images, I just don't like the current ones 😄

[2019-06-25 18:37] #4282 closed

[2019-06-25 18:42] jdkuki opened #5040 "GitHub inline tipping support"
## Description

Feature request:
GitHub inline tipping should be enabled in several aspects of the GitHub website.
See screenshots/below specification document for affected ares.

## Supported Areas:
[code]

## Steps to Reproduce

   1. Join Rewards
   2. Browse to user profile (ex. github.com/jdkuki)
   3. Click "stars tab"
   4. Tip buttons should appear next to star button
   5. Click tip butto

[2019-06-25 18:42] bsclifton commented on #353
@fhelwanger you should already be able to override the behavior of the new tab using extensions 😄

There is https://github.com/brave/brave-browser/issues/3556 which tracks being able to customize the backgrounds, but I'm not sure if we'll be able to get to this soon. However, we SHOULD be able to start work on https://github.com/brave/brave-browser/issues/2999 soon, which allows you to choose what

[2019-06-25 18:51] #4017 closed

[2019-06-25 18:51] #4391 closed

[2019-06-25 19:20] #1105 closed

[2019-06-25 19:32] imptrx opened #5041 "New Tabs Page settings menu needs to be keyboard accessible"
## Description

If you go through the page you should be able to access the new tabs page settings via keyboard. The settings icon at the bottom left should be selectable.

## Steps to Reproduce

   1. Go to new tabs page
   2. Press tab

## Actual result:

The setting button will be skipped over when pressing tab but the other options will not be.
<img width="244" alt="Screen Shot 2019-06-25 at 1

[2019-06-25 19:47] thutex commented on #2153
i actually came from a firefox/chrome combination to brave... but this issue is killing me.
i see it was originally requested in 2016 (give user the choice to open or save, and if open save it to a temp directory, open it, and remove the file after use)...
right now my download folder is getting filled with all kinds of crap that i only need to quickly browse through and it is bothering me enough

[2019-06-25 20:10] anthonypkeane opened #7488 "Add Brave logo to the search widget"
## Description

Add Brave logo to the search widget

cc . @jamesmudgett for a design and input

User feedback
We found that Brave search widget does not have a logo on the search bar, it would hard for the users to distinguish with other search engines.

![Screenshot_20190625-130919.jpg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/e9b5ebfa-a3d4-44c7-858f-f35308617c37)

[2019-06-25 20:31] fmarier commented on #4789
Looks like this is a trivial fix:See https://github.com/bromite/bromite/issues/319

[2019-06-25 20:37] fmarier commented on #4709
Looks pretty trivial: https://github.com/bromite/bromite/blob/master/build/patches/disable-background-sync-by-default.patch

[2019-06-25 21:13] KashUppuluri commented on #3082
Allowing all cookies from shields worked for me.

[2019-06-25 21:37] bsclifton commented on #4523
Updated labelling to help with QA and edited original post to link to test plan 👍

[2019-06-25 22:03] bsclifton commented on #3082
@Ranger327 (and others wanting a temporary work-around)... on bing.com, you can click the Lion and allow all cookies. That choice will only be saved for the domain you're on
<img width="413" alt="Screen Shot 2019-06-25 at 3 02 27 PM" src="https://user-images.githubusercontent.com/4733304/60136898-4ca14900-975a-11e9-998a-80d680a44857.png">

[2019-06-25 22:32] bsclifton commented on #4992
@imptrx I can help with the C++ side of this change 😄

[2019-06-25 22:34] bsclifton commented on #3121
@caroltoo hard to estimate a timeline, but this issue is definitely on our radar 😄 I don't think it would be a terribly difficult change to make (we'd just need to set aside the time to do it)

[2019-06-25 22:53] cg505 opened #5042 "brave-ui hash does not match between package.json and package-lock.json in brave-core"
## Description

brave/brave-core@2c44c088ee0e2c606d1b3513d9345e16002ab518 updated the brave-ui hash in brave-core's `package.json` but did not update `package-lock.json`.

## Actual result:

`package.json` hash is `57ed2ffe53706146005a9aea707a0a53eaddd7ba` but `package-lock.json` hash is `92a28b05cb771658610f1e44d615473b87d2caa0`

## Expected result:
hashes should both be `57ed2ffe53706146005a9aea

[2019-06-25 23:43] ryanbr commented on #4770
More reports of 3rd-party cookie issues:
https://www.sfoutsidelands.com/lineup/
https://community.brave.com/t/vimeo-cookies-sorry-because-of-its-privacy-settings-this-video-cannot-be-played-here/61505

[2019-06-26 00:57] simonhong commented on #2362
@WorldLanguages This is blocked by https://github.com/brave/brave-browser/issues/4431

[2019-06-26 02:44] #5037 closed

[2019-06-26 03:22] srirambv commented on #1324
Verification passed by @GeetaSarvadnya on

Brave | 0.66.98 Chromium: 75.0.3770.100 (Official Build) beta(64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

[2019-06-26 04:35] cbehan commented on #211
I'm asking what the conditions are for Brave to download an update. You have answered much of the question by saying that on Linux it never will (regardless of how many privileges the user has).

But are there other checks besides the OS and CPU? Right now, I'm imagining a Windows or Mac user who compiles his or her own executable. Is Brave smart enough to detect that the compilation flags were no

[2019-06-26 04:53] simonhong commented on #3725
Below test script throws `network` error. I think this is related with `Google speech API`.
[code]

[2019-06-26 06:50] houruomu commented on #4615
+1 on windows

[2019-06-26 06:58] simonhong commented on #3725
Recording in duoringo and voice search in google.com give same below log. `Aborting with error SpeechRecognitionErrorCode::kNetwork`
[code]

[2019-06-26 07:45] Victorio115 commented on #5016
![image](https://user-images.githubusercontent.com/50971728/60160884-32dc2200-97ab-11e9-93fb-47c1e95aca99.png)
This Windows Computer, is located on Mexico too, and It seems Brave Rewards.
Does it depend of Operative System?

Brave://Version

Brave | 0.65.120 Chromium: 75.0.3770.90 (Official Build) (64-bit)
-- | --
Revision | a6dcaf7e3ec6f70a194cc25e8149475c6590e025-refs/branch-heads/3770@{#1003}
O

[2019-06-26 09:06] markwylde opened #5043 "Block all fingerprinting"
## Description
When you change the Fingerprinting Protection field in chrome://settings/shields the change doesn't save when you restart the browser.

## Steps to Reproduce

   1. Goto chrome://settings/shields
   2. Change Fingerprinting Protection from "Block 3rd party fingerprinting" to "Block all fingerprinting"
   3. Restart Brave
   4. Goto chrome://settings/shields
   5. See Fingerprinting

[2019-06-26 10:05] ryanbr commented on #4770
Related to the cookie issues: https://github.com/brave/brave-browser/issues/4285

[2019-06-26 10:12] ryanbr commented on #4285
We've been have issues with site not playing well with 3rd-party cookies enabled in #4770 .

Basically if you enable the same 3rd-party cookie blocks within Chrome, it'll work fine with these sites. But enabling 3rd party cookies blocking in Brave will make these sites not render correctly.

I guess we either re-use/make use of the cookie code in Chrome, or fix the brave cookie code?

[2019-06-26 11:39] ryanbr commented on #5019
@ChildishGiant Does this work now?

[2019-06-26 12:17] ChildishGiant commented on #5019
Still reproduced on Nightly but I'm not sure if this push is in the latest nightly build

[2019-06-26 13:34] brhaka opened #5045 "Brave still downloading for a long time after reach total size"
## Description
When I try to make downloads, after completing/reaching the total size Brave stays at 0B/s download speed for a long time (even with small files).

## Steps to Reproduce

   1. Start any download
   2. Wait for it to complete

## Actual result:

Stays stopped for a long time

## Expected result:
Just stay a while

## Reproduces how often:

Every download

## Brave version (brave://v

[2019-06-26 14:09] tmancey opened #5046 "Fix payment balances not called after first run of application"
## Description

Fix payment balances not called after first run of application

## Steps to Reproduce

   1. Fresh install
   2. Launch app
   3. Search console log for `GetPaymentBalance` (which should exist)
   4. Quit app
   5. Launch app
   6. Search console log for `GetPaymentBalance`

## Actual result:

`GetPaymentBalance` does not exist

## Expected result:
`GetPaymentBalance` should exist

[2019-06-26 14:26] #5046 closed

[2019-06-26 17:02] foodfan opened #5047 "Tor Window Triggers Cloudflare Verification Screen"
## Whenever I open a Tor window, Cloudflare-protected sites see it as a bot and trigger a prolonged verification process. Can this be fixed or is it a reality with Tor?

## Steps to Reproduce
   1. Visit https://beebom.com
   2. See the "One More Step" verification screen

## Expected result: directly entering the site

## Reproduces how often: always

## Brave version (brave://version info)
Versi

[2019-06-26 17:33] tmancey commented on #4207
Reverted last fix as broke frequency capping

[2019-06-26 17:36] Brave-Matt commented on #3650
Another +1 from Community:
https://community.brave.com/t/unable-to-sign-in-to-google-keep-extension/48661/5?u=mattches

[2019-06-26 17:38] mandar-brave commented on #5029
@tmancey please make this 2 minutes.
so ad delivers between 15 s - 120 s; if not clock resets.

[2019-06-26 17:44] VictoryRice commented on #3082
Deleting all cookies for bing.com worked for me. Steps are:

- With bing.com loaded in browser, right-click a blank area of the page, and choose Inspect
- choose the Application tab in the inspector (may have to click the ">>" to reveal it)
- click the arrow next to Cookies (under the Storage group in the left column) to expand it
- Right-click https://www.bing.com and choose Clear to wipe all coo

[2019-06-26 18:06] diracdeltas commented on #2993
this is a dupe of https://github.com/brave/brave-browser/issues/4139

[2019-06-26 18:07] #2993 closed

[2019-06-26 18:35] LaurenWags commented on #3501
@simonhong does this require manual QA? if so, can you add a test plan? if not, let's mark as `QA/No` 👍

[2019-06-26 18:37] LaurenWags commented on #3574
@imptrx does this require manual QA? if so, can you add a test plan and `QA/Yes` label? if not, can you mark as `QA/No`? thanks! 👍

[2019-06-26 18:48] LaurenWags commented on #3807
@bsclifton https://github.com/brave/brave-browser/pull/4551 is actually in 0.68.x milestone, should this issue be moved to match that milestone?

[2019-06-26 18:49] #4803 closed

[2019-06-26 18:59] jumde opened #5048 "Missing semicolon in field_trial_unittest.cc"
https://github.com/brave/brave-core/blob/master/chromium_src/components/variations/service/field_trial_unittest.cc

[2019-06-26 19:22] imptrx commented on #3574
@LaurenWags Here is the test plan!
Steps to check:
1. Open brave in a RTL language
2. Open a new tabs page
Assert:
- Clock and Stats widget should not be flush with screen

[2019-06-26 19:23] LaurenWags commented on #3574
awesome, thanks @imptrx 😄

[2019-06-26 19:29] LaurenWags commented on #4780
Removing `release-notes/include` label as this was superseded by https://github.com/brave/brave-browser/issues/4962 which was hotfixed to 0.65.x. Chromium version 75.0.3770.100 is the current chromium for 0.66.x.

[2019-06-26 19:35] jumde opened #5049 "Enable signature verification for ChromeCast"
We explicitly disable signature verification for Chromecast here: https://github.com/brave/brave-core/pull/2493

Investigate why signatures are not available for Chromecast and re-enable verification.

[2019-06-26 20:24] bsclifton commented on #3807
whoops! good catch, @LaurenWags 😄 Fixed!

[2019-06-26 21:26] simonhong commented on #3501
@LaurenWags This was code refactoring.  Marked as `QA/No`. :)

[2019-06-26 23:32] fmarier commented on #4479
This should now be fixed in `brave-keyring` 1.3 which we just released.

[2019-06-26 23:32] #4479 closed

[2019-06-26 23:45] #5048 closed

[2019-06-26 23:54] bsclifton commented on #4285
@cezaraugusto is this one you can check out?

From the steps to reproduce... it sounds like the Web UI for shields is not reading the actual values. Perhaps it's just using whatever is in local storage instead of (when Web UI is initialized) reflecting the content settings

[2019-06-27 00:06] #4805 closed

[2019-06-27 00:24] diracdeltas commented on #4285
as mentioned in slack, 3p cookie blocking is tied to 3p referer spoofing so that's a likely cause of differences from chrome/safari with 3p cookie block enabled

[2019-06-27 00:25] diracdeltas commented on #4285
also could be related to localStorage and other storage mechanisms; not sure if chrome blocks those as well

[2019-06-27 00:31] Mikeureko commented on #3212
Just wanted to chime in and say that I'm getting this same issue. Last month on the 5th (my payment date, not sure if it's universal or not) I was supposed to get 6.5 BAT or so for ads, and it didn't show up in my wallet. I now have 13.7 BAT pending for ads, I'll update if it goes through this time.

I do not have any auto-contributions set at all and haven't tried tipping anyone yet. The only BAT

[2019-06-27 01:31] simonhong commented on #4285
@bsclifton I think the point of this issue is `site settings should have priority to the Brave shield cookies settings.` as @edk55 wrote.
If we want to display combined(site setting + shields) settings in shields popup, I think popup  should have more complicated UX.
IMO, letting shields popup and site settings display its own setting seems fine.

[2019-06-27 07:14] juliusza commented on #573
Disable HTML - it's used by trackers. 🤦🏻‍♂️

[2019-06-27 08:24] juliusza commented on #2143
I want to point out that we use FCM to push real time alerts to our customers (not adds). We choose to use google infrastructure to host all our content, so FCM is a natural choice to distribute messages without much development overhead. Even with the shields down the FCM is not available, which will leave users wondering why feature does not work with brave.

In general, I see the trend here is

[2019-06-27 08:58] sjurgis commented on #820
This is my main blocker from switching from Chrome (and potentially Safari).

One thing to mention I kinda like about Chromes approach tho - deleting Profile (say terminating work with particular client) - permanently deletes their passwords too! So then I don't have to manually care about them.

[2019-06-27 12:51] cezaraugusto commented on #4285
cc @tomlowenthal

[2019-06-27 12:53] cinereous commented on #598
A command line option would be better than nothing.  I'm still trying to wrap my head around a browser that purports to return some control to the user isn't capable of allowing the basic choice of where to install it.

I've read back through two years on this issue, including an atom thread where a developer stated it was "dumb question" to ask a user where they want to place software on their ma

[2019-06-27 13:29] Xyllon commented on #4191
This is pretty important IMHO and could cause a lot of trouble if someone without knowledge of this bug gets screwed over trying to use Tor through Brave.

[2019-06-27 14:12] IdlePhysicist commented on #1274
Has this fix been released in the stable build yet? I'm experiencing this on
- ArchLabs 2019.20
- Brave Version 0.65.121 Chromium: 75.0.3770.100 (Official Build) unknown (64-bit)

I'm assuming that is has been fully merged & released based on this issue being closed, indicating the matter was resolved. But after adjusting each setting I can find to make Brave the default, Brave continually asks me

[2019-06-27 16:29] dtourassis commented on #3253
Still doesn't work, even with all shields down.

[2019-06-27 16:44] skylord123 commented on #5028
Yeah I use history a lot and having to touch my mouse just makes it that much slower. As a web designer this actually is pretty annoying.

[2019-06-27 16:55] bsclifton commented on #3725
Per discussion with @simonhong, this is also failing in Chromium (this might be a service that requires keys)

[2019-06-27 18:25] #4139 closed

[2019-06-27 18:35] LaurenWags opened #5053 "Manual test run on OS X for 0.66.x - Release"
## Per release specialty tests
 - [x] Payment "receipts" cashed in between the 1st and 5th of the month do not appear in ad totals.([#4330](https://github.com/brave/brave-browser/issues/4330))
 - [x] Wallet is in a persisted bad state until wallet recovery is complete.([#4794](https://github.com/brave/brave-browser/issues/4794))
 - [x] Refactor wallet public_key to private_key and remove logging o

[2019-06-27 18:35] LaurenWags opened #5054 "Manual test run on Windows x64 for 0.66.x - Release"
## Per release specialty tests
 - [x] Payment "receipts" cashed in between the 1st and 5th of the month do not appear in ad totals.([#4330](https://github.com/brave/brave-browser/issues/4330))
 - [x] Wallet is in a persisted bad state until wallet recovery is complete.([#4794](https://github.com/brave/brave-browser/issues/4794))
 - [x] Refactor wallet public_key to private_key and remove logging o

[2019-06-27 18:35] LaurenWags opened #5055 "Manual test run on Linux for 0.66.x - Release"
## Per release specialty tests
 - [x] Brave-browser package should depend on brave-keyring.([#4205](https://github.com/brave/brave-browser/issues/4205))
 - [x] Payment "receipts" cashed in between the 1st and 5th of the month do not appear in ad totals.([#4330](https://github.com/brave/brave-browser/issues/4330))
 - [x] Wallet is in a persisted bad state until wallet recovery is complete.([#4794](

[2019-06-27 18:38] cron410 commented on #464
+1 for Vertical tabs. So far, Opera is the only browser capable of handling my obscene amount of open tabs with a sane vertical tab panel
![image](https://user-images.githubusercontent.com/3082899/60291593-31b10f00-98e9-11e9-8eca-c7b3e9e31e57.png)

[2019-06-27 19:52] LaurenWags commented on #5008
I reproduced this when looking at some Ads stuff on Win 10 x64 today. Nightly versions 0.68.39 and 0.69.7.

[2019-06-27 19:52] fmarier opened #5057 "Disable outgoing SSDP requests when Chromecast support is disabled"
Users have reported that Brave makes outgoing connections on the local network to port 1900 (apparently [ignoring any proxy settings](https://bugs.chromium.org/p/chromium/issues/detail?id=860308)):
- https://news.ycombinator.com/item?id=20294150
- https://community.brave.com/t/why-is-brave-issuing-upnp-discovery-requests/46500

This appears related to the [SSDP protocol required for Chromecast sup

[2019-06-27 20:15] rebron commented on #3725
cc: @tomlowenthal for api-key

[2019-06-27 20:16] rebron commented on #4763
cc: @tomlowenthal for api-key

[2019-06-27 20:16] rebron commented on #2690
cc: @tomlowenthal for api-key

[2019-06-27 20:33] srirambv opened #5058 "Hardware wallet connection notification uses Chromium icon"
## Description

Found while verifying #4669. Connecting Trezor and visiting https://wallet.trezor.io, system shows the USB connection info for the browser which uses a Chromium icon

## Steps to Reproduce

   1. Install `0.66.x` build
   2. Connect Trezor to machine
   3. Visit https://wallet.trezor.io/ on Brave, Brave shows USB notification when the device is connected which uses a Chromium icon

[2019-06-27 20:45] srirambv commented on #5058
Could be similar to #5008 but that is on Windows 8.1

[2019-06-27 20:47] cg505 commented on #5042
fixed by brave/brave-core#2688

[2019-06-27 20:47] #5042 closed

[2019-06-27 20:56] AstroGD commented on #3253
Thats strange - So it seems that my workaround is not working for everyone

[2019-06-27 21:09] karenkliu commented on #1196
Hi @cezaraugusto, thank you for creating a prototype of this issue at https://brave-ui-lut80zzvu.now.sh/?path=/story/feature-components-shields--panel.

Please see my feedback:

![simple view QA 1](https://user-images.githubusercontent.com/2388823/60300625-3b844380-98e4-11e9-856a-31612475ac86.png)

The main issue is that in the Simple view, when the user clicks "Learn more," they should get a read

[2019-06-27 21:52] fmarier commented on #5057
[This bug](https://bugs.chromium.org/p/chromium/issues/detail?id=859359) mentions an [enterprise policy](https://www.chromium.org/administrators/policy-list-3#EnableMediaRouter) (also mentioned in [this bug](https://bugs.chromium.org/p/chromium/issues/detail?id=665572)) for disabling Chromecast entirely by adding a json file in `/etc/opt/chrome/policies/managed/` containing the following:
[code]

[2019-06-27 22:01] CoVoCre commented on #5047
I get it too ! But this would obviously come from cloud flare detecting some unusual activity !

[2019-06-27 22:52] simonhong commented on #3725
@jumde Whenever when user tries to use voice recognition service such as clicking mic button in google.com, brave will send request to google service - https://cs.chromium.org/chromium/src/content/browser/speech/speech_recognition_engine.cc?sq=package:chromium&dr=C&g=0&l=34

[2019-06-27 23:04] diracdeltas commented on #2622
https://github.com/brave/referrer-whitelist/pull/2 should fix this. it doesn't require a new build, just an update to the referrer whitelist JSON file.

[2019-06-27 23:10] srirambv commented on #5037
* Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Windows 10 OS Version 1809 (Build 17763.557)

* Verified steps from the original issue
* Verified before upgrade timestamp was in webkit standard `13xxxxxxxx`
![image](https://user-images.githubusercontent.com/17

[2019-06-27 23:26] srirambv commented on #4330
* Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified test plan from https://github.com/brave/brave-core/pull/2609

[2019-06-27 23:33] imptrx commented on #5038
Test Plan:
1. Open New tabs page
2. Slowly shrink window and see if horizontal/vertical scroll bars appear

*Note*: Beyond a certain size, shrinking will always produce vertical scroll bars since the page doesn't fit the elements

[2019-06-28 00:10] fmarier opened #5059 "Add a setting for blocking Disqus comments"
Disqus is a [tracking company](https://source.ind.ie/better/content/tree/master/trackers/disqus.com#notes). It would be nice to be able to block them easily if one doesn't care about reading comments on websites.

While they are [listed on the Disconnect list](https://github.com/disconnectme/disconnect-tracking-protection/blob/a5e14ef3cf674a33ed90059ea5b419f15c98bd35/services.json#L7501-L7506), th

[2019-06-28 00:18] #2622 closed

[2019-06-28 01:14] cg505 opened #5060 "Linux crash on brave://version"
## Description

Browser crashes upon visiting `brave://version` with
[code]

Note: Happen only on debug build.

## Steps to Reproduce

   1. Open browser
   2. Visit `brave://version`

## Actual result:

Browser crashes

## Expected result:
Browser should show version info page

## Reproduces how often:

100% on Linux

## Brave version (brave://version info)

hahahaha

## Version/Channel Informati

[2019-06-28 01:17] srirambv commented on #4796
Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified ads viewed and confirmations are redeemed
* Verified `private key` is masked in logs
![image](https://user-images.githubusercontent.com/17010094/60310398-b9664000-9920-11e9-8b20-9a0fbc945dcd.png)

[2019-06-28 01:21] simonhong opened #5061 "Test crash on linux debug build"
Below two tests are failed because `chrome://version` is used in those tests.
WidevinePermissionRequestBrowserTest.VisibilityTest
BraveSchemeLoadBrowserTest.NotAllowedToBraveFromChrome

Root cause: https://github.com/brave/brave-browser/issues/5060

[2019-06-28 01:30] srirambv commented on #4794
Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified restoring a wallet with grants and cashed in tokens are retained on the new profile
* Verified restoring the wallet with ads grant/UGP grant is retained
* Verified restoring the wallet corrects th

[2019-06-28 01:41] srirambv opened #5062 "Hosted twitch videos adds two publishers to ac list"
## Description

Hosted twitch videos adds two publishers to ac list. Found while testing #4921

## Steps to Reproduce

   1. Copy https://www.twitch.tv/psherotv and visit the link
   2. View the stream for a couple of mins (if it's interesting else wait for 10sec)
   3. Check ac table, has two entries for twitch, one for the actual pub you visited and one for the user that is being hosted in the c

[2019-06-28 01:41] srirambv commented on #4921
Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified twitch link doesn't add extra `/videos` at the end of the link
* Verified db isn't corrupted with extra `/videos`
![image](https://user-images.githubusercontent.com/17010094/60311080-a2751d00-9923

[2019-06-28 01:45] srirambv commented on #5012
Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

[2019-06-28 01:58] eljuno commented on #3096
+1 from Community https://community.brave.com/t/search-engines-recognizing-brave-as-chrome/67473?u=eljuno

[2019-06-28 01:59] srirambv commented on #5046
Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified `OnGetPaymentBalance` is logged on a clean profile
![image](https://user-images.githubusercontent.com/17010094/60311742-99d21600-9926-11e9-9e3f-52acddf255b5.png)
* Verified quitting browser and re

[2019-06-28 02:02] srirambv commented on #4994
Verification passed on

Brave | 0.66.99 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified ads total update correctly when month roll over happens
* Verified pending rewards balance updates correctly after month roll over happens

[2019-06-28 02:43] tomlowenthal commented on #4980
It's a pretty weird change. I'm not the PM for Rewards, so I'll let @mandar-brave chime in. But I'm not sure what the goal is here?

[2019-06-28 03:23] tomlowenthal opened #5063 "Warn about sideloaded extensions"
Sideloaded extensions have been a common malware vector, but are less effective at present thanks to browser interventions. To protect people from surreptitiously-sideloaded extensions, Brave should show a warning whenever the browser starts.

![57393206-a2149d00-7190-11e9-855d-383d74ad0e94](https://user-images.githubusercontent.com/639937/60314716-86b84980-9918-11e9-9d79-e205090510d2.png)

Unfort

[2019-06-28 03:23] tomlowenthal commented on #4349
New issue is #5063.

[2019-06-28 03:39] Kaerakh commented on #5063
This response does not address any of the constructive feedback provided in #4349

User feedback in #4349 clearly an repeatedly mention numerous alternatives for informing the user of how their decision to side load is a security risk, and to make the user understand their decision.

 Leaving a nagging pop up in place only serves to annoy the user who has accepted the risk and consequences for sid

[2019-06-28 04:25] #5061 closed

[2019-06-28 06:16] epycurasWynter commented on #5063
I just left a review with how pleased I was Brave devs said they were going to fix this issue, recommending this browser to hundreds of users, and now you take the authoritarian stance we're too dumb to make our own choices? Should I start warning people this is the coding culture surrounding the browser even when the userbase overwhelmingly voices opposition to this setup? I have to deal with thi

[2019-06-28 07:15] diracdeltas commented on #2622
Since this is not part of the regular release cycle (it's a file which is updated independently), any thoughts what milestone this should be marked as, @rebron ?

[2019-06-28 07:31] bsclifton opened #5064 "New tab page background setting should be a profile preference"
## Test plan
See https://github.com/brave/brave-core/pull/2831

## Description
The backgrounds on the new tab page were made toggleable with https://github.com/brave/brave-core/pull/2668, however the setting is persisted only in local storage

## Additional notes
This setting should be defaulted to ON

When https://github.com/brave/brave-core/pull/2668 was implemented, it defaulted to OFF. This wa

[2019-06-28 09:59] simonhong opened #5065 "Settings page of guest(also tor) is empty"
Can repro all channels from master(0.69.x) to stable (0.65.x)
Settings page of guest window should have search engine part.

Note: master debug build shows search engine part properly.

[2019-06-28 12:20] jchhenderson commented on #3253
Hi - you're workaround does work for me (thanks!), but thought the dev's should know that their latest release did not solve the problem.  I have to disable both `Cross-site trackers` and `scripts`

cheers, J.

[2019-06-28 13:48] rdewolff commented on #464
What about the estimated delay to see this? P5 = 2029 ? Or is there any chances of seeing this coming in the upcoming months?

[2019-06-28 15:01] simonhong opened #5066 "Remove identical operand"
In `util.js` same operand is used. Others should be `widevineConfig.fakeWidevineCdmLibFilePath`.
[code]
@PatOnTheBack reported this.

[2019-06-28 15:01] #5066 closed

[2019-06-28 15:11] bridiver commented on #4980
I don't think it's a weird change, particularly for people who might unintentionally open the landing page. What would be the downside to it?

[2019-06-28 15:13] bridiver commented on #4980
even if I click intentionally, I might still want to keep that separated from the rest of my browsing

[2019-06-28 15:37] Mr-Mondragon commented on #5063
Tom, you are still ignoring the fact that the way this warning currently works, makes security **WORSE**, not better.

I've addresses this [in detail here](https://github.com/brave/brave-browser/issues/4349#issuecomment-490642894).

[2019-06-28 16:25] tmancey commented on #4980
I agree as we have had users complaining about random sites appearing in it history so private tabs would resolve this

[2019-06-28 18:21] #4585 closed

[2019-06-28 18:25] fmarier commented on #5060
It doesn't crash for me on Release:
[code]

Beta:
[code]

Dev:
[code]
or Nightly:
[code]
That's on Ubuntu 18.04.

[2019-06-28 18:46] mihaiplesa commented on #4585
Have added the following Jenkins jobs to be executed on demand:

https://staging.ci.brave.com/view/all-extensions/job/brave-core-ext-ethereum-remote-client-update-publish-dev/
https://staging.ci.brave.com/view/all-extensions/job/brave-core-ext-ethereum-remote-client-update-publish/

They both have finished successfully just now.

[2019-06-28 19:03] bsclifton commented on #3809
+1 from https://twitter.com/gobinathco_/status/1144678980584267776

[2019-06-28 19:03] jonathansampson opened #5067 "Post-Tip Tweet Includes Query String"
## Description
The tweet that Brave constructs following a tip may include query-string data following the Twitter user's handle.

## Steps to Reproduce
1. Search for _Jerome Segura_ on Google
2. Click the Twitter result to visit Jerome's page
3. Tip Jerome
4. Click the Tweet button to announce your tip

## Actual result:
Jerome's name is followed by query-string data.

## Expected result:
Jerome'

[2019-06-28 19:26] tomlowenthal commented on #5063
Hi everyone, I want to make something absolutely clear: if you are commenting on this issue, if you are using GitHub, if you make the decision that you want to side-load an extension permanently then **this warning is not for you**.

This warning exists to protect people who have had extensions sneakily sideloaded without their knowledge. There is a tradeoff between protecting those people and avo

[2019-06-28 19:57] Kaerakh commented on #5063
@tomlowenthal
Something to consider Tom,

If I as a hypothetical bad agent write a screen scraper to capture the Brave window and direct mouse movement, does Brave have a responsibility to ensure that the Brave browser has exclusive control of the mouse and to launch as an exclusive fullscreen application?

[2019-06-28 20:49] tomlowenthal opened #5068 "Options to suppress Widevine notification"
The Widevine install notification should have more options to dismiss it so that someone isn't [constantly barraged](https://community.brave.com/t/is-there-a-way-to-automatically-block-widevine-pop-up-on-facebook-each-time-on-brave-mac-os/65381) by Widevine install notifications on a site they know they don't want to see.

[This section subject to design adjustment. Specifics can change, functiona

[2019-06-28 21:00] tomlowenthal opened #5069 "Allow custom Shields defaults for private windows and those with Tor"
People may reasonably want stricter Shields in various private windows — especially those with Tor. But since private windows are stateless and don't have settings, there's no way to make this change directly. Instead, let's add an advanced preference in settings for custom Shields defaults in these modes.

[2019-06-28 21:23] cg505 commented on #5060
Yeah, it only seems to crash when building a Debug build (`npm run bulid && npm start`)

[2019-06-28 21:45] jumde opened #5070 "media_router::DialServiceImpl should not initiate UpNP connections by default"
### Test Plan

specified here: https://github.com/brave/brave-core/pull/2836

[2019-06-28 22:13] fmarier commented on #2809
I wonder whether this would help: https://www.chromium.org/administrators/policy-list-3#AllowCrossOriginAuthPrompt

[2019-06-28 22:34] tomocrafter commented on #3725
same problem here, I can not use microphone with Duolingo, Google Translate on Brave Browser.

[2019-06-28 22:40] fmarier commented on #1149
Note that the dinosaur from `chrome://dino` is particularly important because it's also part of the [Dinosaur Easter Egg game](https://www.groovypost.com/howto/play-the-google-chrome-dinosaur-game-easter-egg/) :)

![Screenshot from 2019-06-28 15-16-44](https://user-images.githubusercontent.com/167821/60374760-e404d700-99ba-11e9-8c1e-9f5632700891.png)

It would be really fun to have instead a pixel

[2019-06-28 22:50] bradleyrichter commented on #1601
CC @rebron

[2019-06-28 22:53] fmarier commented on #1864
This might be relevant too: https://www.chromium.org/administrators/policy-list-3#BuiltInDnsClientEnabled

[2019-06-28 23:39] srirambv commented on #4205
Verification passed on

Brave | 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Linux

* Verified running `sudo apt install brave-browser` installed the current stable release
![image](https://user-images.githubusercontent.com/17010094/60375611-15d86680-99d8-11e9-8d8f-8dcd277193b2.png)

*  Ve

[2019-06-29 00:27] keeganwitt commented on #464
@cron410 Fellow tab addict here. You might also check out https://vivaldi.com/. It has vertical tabs
and tab hibernation built in, no extensions needed. I use fewer extensions with it than any other browser, Firefox included. It has loads more customisations too, but these were the only two I really care about and I hope make their way to Brave. I want to prefer Brave over the other Chromiums.

[2019-06-29 00:34] tomlowenthal commented on #5047
CloudFlare is notoriously persnickety about Tor. We're working on adding PrivacyPass (#1677), but otherwise, this is CloudFlare's call, not Brave's.

[2019-06-29 00:34] #5047 closed

[2019-06-29 00:35] tomlowenthal commented on #5043
Can't reproduce. @brave/legacy_qa @kjozwiak — could you try?

[2019-06-29 00:38] tomlowenthal commented on #5057
Is #5070 the more specific version of this?

[2019-06-29 01:25] tomlowenthal commented on #3725
This Google Speech API topic spans multiple issues on this repo. I'm working on it in brave/internal#608. When I resolve things there, I'll come back here with the next technical steps.

[2019-06-29 01:25] tomlowenthal commented on #4763
This Google Speech API topic spans multiple issues on this repo. I'm working on it in brave/internal#608. When I resolve things there, I'll come back here with the next technical steps.

[2019-06-29 01:25] tomlowenthal commented on #2690
This Google Speech API topic spans multiple issues on this repo. I'm working on it in brave/internal#608. When I resolve things there, I'll come back here with the next technical steps.

[2019-06-29 05:45] agnelvishal opened #5071 "Brave extension store?"
It was mentioned that Brave Extension store will be made some time soon. Have initiatives been taken? I can design the UI for the store if needed.

[2019-06-29 05:52] bsclifton opened #5072 "Clean up theme patches (after Chromium 76)"
## Description
Chromium 76 made updates to `ui/views/widget/widget.cc` specifically in this commit:
https://chromium.googlesource.com/chromium/src/+/1033fac9187e2f68e8d87c2ac07354eb8fbdaa74

These changes broke the dark/light mode implementations we have in place, because we use `ui::NativeThemeDarkAura::instance()` (same as incognito) as a way to deliver the dark theme.

The suggested cleanup wou

[2019-06-29 06:15] epycurasWynter commented on #5063
If this warning is not for me how about fixing the issue so it stops affecting me instead of censoring all the posts with an inaccurate "comment marked as off-topic" label. This is completely ridiculous I want this fixed and you have no right to treat your users like this.

[2019-06-29 10:13] rdewolff commented on #464
@keeganwitt : long time I had not checked Vivalid and just WOW. What an amazing work they have done with their browser. Really like it and giving it a go. Spent an hour in the testing and the features. Amazing. Editable shortcuts, vertical tab bar, privacy. Thanks for sharing that.

[2019-06-29 12:55] morriswinkler opened #5073 "skype not working"
#### Version

Brave is up to date
Version 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)

#### Problem

https://web.skype.com doesn't detect microphone, speakers or camera

I explicitly allowed  access via site settings.

<img width="896" alt="Screenshot 2019-06-29 at 14 51 29" src="https://user-images.githubusercontent.com/4302527/60384424-c8aed000-9a7d-11e9-87c0-5bd3093a15b7.png">

[2019-06-29 13:52] marcelobalexandre commented on #1308
Hi, folks!

The workaround suggested by @mrfnasse about setting a language that uses the 24h format to the top of the language settings didn't worked for me (I'm running the `Brave 0.65.121` on the `Elementary OS 5.0 Juno`).

I looked at the code mentioned by @geekrumper (https://github.com/brave/brave-ui/blob/master/src/features/newTab/default/clock/index.tsx#L26) and if we change it to:
[code]
T

[2019-06-29 17:38] derzahla opened #5074 "KeePassXC-Browser chrome extension doesn't work in Brave on MacOS"
## Description

KeePassXC-Browser chrome extension doesn't work in Brave or Brave-dev on MacOS. I have confirmed the extension works in Chrome.

## Steps to Reproduce

   1. Install KeePassXC-Browser extension
   2. Enable browser integration for brave in KeePassXC (creates Brave-Browser-Dev/NativeMessagingHosts/org.keepassxc.keepassxc_browser.json)
   3. Try to connect to KeePassXC through the ex

[2019-06-29 21:08] #2848 closed

[2019-06-29 21:08] #5064 closed

[2019-06-29 21:38] ericelliott opened #5075 "Can't sign in with firebase website with shields up"
## Description

We use Firebase for sign in with GitHub on [EricElliottJS.com](https://ericelliottjs.com). I'm unable to sign in with shields up in Brave. It works great with shields down.

## Steps to Reproduce

   1. Go to [EricElliottJS.com](https://ericelliottjs.com) and click "sign in" in the upper right hand corner.
   2. Make sure you have shields up.
   3. Click "Sign In with GitHub"

## A

[2019-06-29 21:42] CoVoCre commented on #4615
I get the issue on the current browser ! OP said "Can you reproduce this issue with the current release? No". Well, I definitely can 😉
Or maybe the download link from the brave website actually got me a dev version ? I've got :
Brave | 0.65.121 Chromium: 75.0.3770.100 (Build officiel) (64 bits)
<img width="1390" alt="Capture d’écran 2019-06-29 à 23 41 32" src="https://user-images.githubuserconte

[2019-06-29 22:30] CoVoCre opened #5076 "[feature request] Mac Touch Bar tabs navigation"
As requested for chromium https://bugs.chromium.org/p/chromium/issues/detail?id=778013&hotlist_id=5607&sort=%20rank%20-ID , it'd be amazing to have safari-like tab navigation from the touch bar on macs.
Chromium edge on mac has it now ! I don't know why they didn't add this to chromium as they seem to say they want to contribute, but hey, here is the idea for Brave :)
Here's a screenshot of chromi

[2019-06-29 23:39] ryanbr commented on #5010
I had no issues creating an alert; https://secure.fanboy.co.nz/gif/tradingview.gif

[2019-06-29 23:42] funkybob opened #5077 "Opening links from other apps always open 3 tabs"
## Description
Any time a link is opened from another application [email, slack, terminal, xdg-open] Brave will create 3 new tabs, all with the same url.

## Steps to Reproduce

   1. xdg-open https://github.com

## Actual result:

3 tabs open, all with https://github.com

## Expected result:

1 tab opens

## Reproduces how often:

100%

## Brave version (brave://version info)

Brave 0.65.121 from

[2019-06-30 00:20] ryanbr commented on #4949
I re-tested this, seems to be okay? @anthonypkeane  Can you confirm?

https://secure.fanboy.co.nz/gif/virginatlantic.gif

Might've been an server-side issue.

[2019-06-30 02:29] mpaluta commented on #3296
I have this issue as well, much like @anotherzen describes. It causes quite a mess if trying to organize bookmarks.

I'd recommend renaming the issue to something like "Delete or move bookmarks and they return to previous state" for an easier time finding this issue.

The behavior seems very random to me and I can't figure out what causes it to work sometimes and not others. My sync chain has one

[2019-06-30 02:43] mpaluta commented on #3297
I don't believe the average user necessarily wants bookmarks sorted alphabetically whenever they sync (I for one don't - I sort portions of mine by time or by usage). However, I have some more information to add, which might make the issue more clear. I recently synced a new device and it scrambled up the previously established order of my Bookmarks bar quite a bit. I have about 50 items on the bo

[2019-06-30 02:46] ryanbr opened #5078 "https://www.cosmolex.com/login/ fails to render correctly"
## Description
Site https://www.cosmolex.com/login/ doesn't render correctly (right hand side). Was reported here: https://community.brave.com/t/cant-see-portion-of-websites-login-home-page-unless-ad-control-is-turned-off/67266

## Steps to Reproduce

   1.  Open https://www.cosmolex.com/login/
   2.  Right side (in blue) doesn't show
   3.  Disabling Sheilds doesnt help

## Actual result:
https:/

[2019-06-30 06:08] houruomu commented on #5078
No problem loading the right portion here.
Windows 10
Version 0.65.121 Chromium: 75.0.3770.100 (Official Build) (64-bit)
With Privacy Badger, Ublock Origin, decentralyeyes

[2019-06-30 06:24] ryanmusante commented on #1274
I am having this issue also. How do permanently set default?

[2019-06-30 07:39] maximbaz commented on #5077
Duplicate of #4142, see here for an available workaround: https://github.com/brave/brave-browser/issues/4142#issuecomment-504742158

[2019-06-30 11:51] bleepnetworks opened #5079 "Global preferences file (change defaults for all profiles)"
hi brave folks,

I'm using the people feature to organise my browsing into multiple buckets. I can see there are per-profile preferences files in ~/Library, is there a global settings file somewhere though?

~/Library/Application\ Support/BraveSoftware/Brave-Browser/Profile\ [n]/Preferences
~/Library/Application\ Support/BraveSoftware/Brave-Browser/Profile\ [n/Secure\ Preferences

Ideally I'd be a

[2019-06-30 14:14] niico100 opened #5081 "Changing volume in windows shows a large media window blocking content 'brave.exe' is source"
## Description

Changing volume in windows shows a large media window blocking content 'brave.exe' is source. Usually audio apps like Spotify provide this, but let you turn it off, now a large part of my screen is covered.

## Steps to Reproduce

   1. Install Brave
   2. Change windows volume
   3.

## Actual result:
![IMG_6704b](https://user-images.githubusercontent.com/28755726/60397846-a4bcbe8

[2019-06-30 16:15] Kaerakh commented on #5063
Ooof, talk about the topic, get marked as off topic. I have been completely respectful in my discourse and on topic, but I get marked as off topic because I don't agree with the predetermined decision @tomlowenthal made in #4349 on May 31st.

 I hope you guys aren't making this decision based on the current political climate in lieu of rational discussion. @bbondy @rebron

Since it looks like spec

[2019-07-01 02:26] diracdeltas opened #5082 "network log should be more comprehensive"
it should catch ipv6 and non-http(s) requests

[2019-07-01 04:07] jumde commented on #5057
@tomlowenthal - yes

[2019-07-01 04:07] #5057 closed

[2019-07-01 04:50] mandar-brave commented on #4980
@tmancey @bridiver Not sure if i agree with this; the user has opted in to BR and is paid to receive ads. I think the default window behavior is what we owe back to the advertiser. Let's discuss this on channel as there are more opinions needed.

[2019-07-01 06:54] #5077 closed

[2019-07-01 07:56] vandread666 commented on #275
I'd like to see the feature as well.

https://www.ghacks.net/2019/07/01/brave-browser-had-a-great-tab-previews-feature-but-it-is-gone-now/

[2019-07-01 07:57] davemint commented on #1274
Still an issue for me too.

Version 0.65.114 Chromium: 75.0.3770.38 (Official Build) unknown (64-bit)

[2019-07-01 11:03] vstokesjr commented on #4997
BRAVE not being able to sync PASSWORDS is a show stopper. I use multiple devices and BRAVE missing this convenience is very inconvenient.This is where Google Chrome shines. Please consider prioritizing this Sync feature.

[2019-07-01 11:15] share3141 commented on #275
me too - Please bring this feature back (but make it a configurable option in Settings)

[2019-07-01 13:19] GeetaSarvadnya commented on #5054
Looks good hence closing the issue.

[2019-07-01 13:31] #5054 closed

[2019-07-01 14:28] #5053 closed

[2019-07-01 14:39] mkarolin opened #5083 "Upgrade from Chromium 75.0.3770.100 to Chromium 76.0.3809.46"
## QA Notes
Affected areas:
- Check rewards functionality (generally operational).
- Check ads functionality (generally operational).
- Check tor functionality (generally operational).
- Check brave://settings left hand side menu for correctness and for being operational.
- Check Avatar menu.
- Check download drawer items for correct layout.
- Check theme switching (that it works and redraws all e

[2019-07-01 14:42] LaurenWags opened #5084 "Release notes for 0.66.x (Release Channel)"
Release Notes
 - Brave-browser launches the most recent install (.deb packages).([#1324](https://github.com/brave/brave-browser/issues/1324))
 - Disable Client-Hints in brave.([#3539](https://github.com/brave/brave-browser/issues/3539))
 - PWA Support is broken (crashes).([#3750](https://github.com/brave/brave-browser/issues/3750))
 - Default theme should be dark or light depending on Windows 10 p

[2019-07-01 14:44] NejcZdovc commented on #5062
@srirambv that is expected as we are checking actual video playing. So if twitch is reporting hosting video back we will save that video as well

[2019-07-01 14:45] #5062 closed

[2019-07-01 15:08] GeetaSarvadnya commented on #5055
Looks good hence closing the issue.

[2019-07-01 15:08] #5055 closed

[2019-07-01 15:54] ahrherrera commented on #1736
This feature is needed if developer who works with apps, so Brave is not developer friendly.

I am changing back to Google Chrome because of this.

[2019-07-01 16:11] snordog commented on #275
Please, please bring this feature back.

[2019-07-01 16:14] anthonypkeane commented on #4949
confirmed working with shields up

[2019-07-01 16:43] petemill opened #5086 "DCHECK failed in new_tab_ui"
## Description
As reported by @emerick, there is a DCHECK error. This appears to be from https://github.com/brave/brave-core/pull/2831 which refactors the new_tab_ui and seems to have removed one of these checks.

## Steps to Reproduce

   1. Run a DEBUG build
   1. Create a New Tab
   2. Enter an address in the Location Bar

## Actual result:

DCHECK console error:
[code]

## Expected result:
No

[2019-07-01 17:22] #5086 closed

[2019-07-01 17:46] imptrx commented on #5038
Closed by: https://github.com/brave/brave-core/pull/2566 as it pulled in the fix from brave-ui.

[2019-07-01 17:46] #5038 closed

[2019-07-01 19:45] JonnyRedHed commented on #275
+1 bring back

[2019-07-01 21:11] #5084 closed

[2019-07-01 21:37] rebron opened #5088 "update profile manager UI/UE to create, edit, delete profiles"
## Description

Update Profile Manager screens to create new profiles, edit existing profiles, and delete profiles. Use colors to differentiate profiles.

## Design:
<img width="674" alt="Screen Shot 2019-07-01 at 2 36 34 PM" src="https://user-images.githubusercontent.com/5951041/60468181-b19ee800-9c0d-11e9-8809-d1f72c5697fb.png">

[2019-07-01 21:40] Brave-Matt opened #5089 "Feature: Users should be able to whitelist sites that they want to save data when using "clear on exit""
## Description

As it is now, users have the option to use `Clear browsing data --> On Exit` to erase browsing data once the browser is closed. The problem is that this removes any selected type of data from _all sites_ when the browser is exited.

![image](https://user-images.githubusercontent.com/3299098/60468331-1fe3aa80-9c0e-11e9-968a-ae1350d68e46.png)

It would be worth implementing a feature

[2019-07-01 21:57] #4949 closed

[2019-07-01 22:07] tmancey opened #5090 "Brave Ads should not be delivered if device was locked or screen was asleep when user returns from AFK"
Ads should not be delivered if device was locked or screen was asleep when user returns from AFK

[2019-07-01 22:14] rebron opened #5091 "hide profile icon until second profile icon is added"
## Description

Only show profile icon in the nav bar if 2 or more profiles are available. Otherwise, hide the profile icon.

## Test plan (@petemill)

0. Fresh profle
1. Open 1 or more windows
 --> Profile button is now shown
2. Open the guest window
 --> Profile button is shown

3. Open incognito / tor window
 --> Profile button is shown

4. Create a new profile (on macos use the System menu, on

[2019-07-01 22:17] rebron commented on #2692
Closing in favor of https://github.com/brave/brave-browser/issues/5091.

[2019-07-01 22:17] #2692 closed

[2019-07-01 22:41] karenkliu commented on #1196
Hi @cezaraugusto, thanks for your updates. Please see additional design feedback below:

![simple view QA 2](https://user-images.githubusercontent.com/2388823/60470769-971d3c80-9c16-11e9-96c1-c600056e5493.png)

[2019-07-01 23:43] bbondy opened #5093 "main frame is being blocked too strictly with adblock rust"
## Description

Clicking on Google sponsored links and some Gmail links doesn't work.

## Steps to Reproduce

   1. Search Ukulele
   2. Click on a sponsored ad

## Actual result:

White page appears.

## Expected result:

Should go to the link.

## Reproduces how often:

Always Nightly and Dev.

## Brave version (brave://version info)

0.69.x 0.68.x

- Can you reproduce this issue with the curren

[2019-07-02 01:13] m4dpr0ph3ss0r commented on #275
+1 on this feature from me! Absolutely love the idea. Also I agree with @share3141 that it should be an option to toggle it off/on for those that don't want the feature, such as those on low resource systems.

[2019-07-02 03:54] cavalloacquatico commented on #275
+1 Bring it back asap please.

[2019-07-02 06:33] sanford commented on #3751
Is this in 65.121??  Still getting this message in every Reddit tab I scroll (multiple times per scroll).

[2019-07-02 06:47] lee-b commented on #3852
+1

[2019-07-02 06:51] GeetaSarvadnya commented on #4173
+1 from community https://community.brave.com/t/messenger-com-is-not-working-loading/67779/2

[2019-07-02 07:15] Brave-Matt commented on #3348
+1 from reddit:
![image](https://user-images.githubusercontent.com/3299098/60491801-711b8a80-9c5e-11e9-80d8-ba038d630f5e.png)

[2019-07-02 07:54] SharmaHarsh7 opened #5094 "F12 should open Developer Console"
## Description
**F12** (instead of Ctrl + Shift + I) should open the developer console.

## Steps to Reproduce

   1. Open browser
   2. Press F12

## Actual result:

## Expected result:
It should open the developer console.

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

## Other Additional Information:

## Miscellaneous Information:

[2019-07-02 09:14] #2015 closed

[2019-07-02 10:35] tiagosiebler opened #5095 "macOS UI freezes often if 3 or more windows are open"
## Description

Recently I've seen a number of macOS freezes, and today Brave became my primary suspect. They're not a complete system lockdown, here's a summary of symptoms:
- The whole UI will lock up system-wide, *except* the mouse. Music continues playing too. Seems purely visual.
- When the freeze ends, it's like all UIs refresh. Sometimes this happens when I get a notification from anywhere,

[2019-07-02 11:59] ryanbr commented on #5075
Seems to have fixed itself

[2019-07-02 13:10] epycurasWynter opened #5096 "Unloaded Extensions Warning Not Being Fixed - Brave Admin Hiding Complaints About This"
##  Description
The threads #4349 and #1432 complain about unloaded/sideloaded extensions creating a warning every session when being used, despite the fact numerous extensions cannot be used unless loaded in this manner, especially ones banned from the Chrome store despite otherwise being legitimate.

Despite a large number of users complaining about this, listing MANY ways this can be fixed in a

[2019-07-02 13:23] srirambv commented on #5094
F12 works perfectly and opens Developer tools. Closing as an invalid issue and lack of proper information.

[2019-07-02 13:23] #5094 closed

[2019-07-02 13:40] LaurenWags opened #5097 "Release checklist for 0.66.x (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check https://github.com/brave/webtorrent is up to date with its latest upstream.
- [x] Check https://github.com/brave/bittorrent-tracker is up to date with its latest upstream.
- [x] Check https://github.com/bra

[2019-07-02 13:59] epycurasWynter commented on #5097
Great stuff. Can we choose to get rid of the unloaded extensions warning now?

[2019-07-02 14:35] shapeshifterincontext commented on #5068
Yes please.
Example: using a website like Aliexpress, where I can have 50 tabs open in a matter of minutes, drives me absolutely insane!

[2019-07-02 14:54] spideymang commented on #275
+1 Bring it back

[2019-07-02 15:02] Leon0402 opened #5098 "Dark Mode broken on Linux"
## Description
On Linux, settings page, brave rewards etc. is still displayed in light theme.
It's unlikely that is has to do something with global settings as it's reproducible on different Linux distros with different desktop environments (gnome, kde, xfce).
See: https://community.brave.com/t/dark-theme-is-broken-or-incomplete/

## Steps to Reproduce

   1. Open settings page of brave on Linux (

[2019-07-02 16:04] rebron commented on #5097
Closing. Released 9am PD. July 2, 2019

[2019-07-02 16:04] #5097 closed

[2019-07-02 16:13] BlueMiaou opened #5099 "I'm automatically logged out of my SoundCloud account after logging in"
## Description
When I try to log into SoundCloud with an imported password from my previous browser, Chrome, it automatically logs me out.

## Steps to Reproduce

   1. Try to log into SoundCloud using the saved passwords that were imported from Google
   2. Press the "Log In" button

## Actual result:

It automatically logs you out after a split second of being logged in

## Expected result:
Stay

[2019-07-02 16:36] martynchamberlin commented on #1475
I'm confused here. I'm on Brave 0.66.99 and I am not seeing a place where I can hide shields. This issue makes me think I should be seeing that as a setting. Any ideas?

[2019-07-02 17:33] mbacchi opened #5100 "Update linux installation documentation to remove explicit reference to brave-keyring"
After https://github.com/brave/brave-browser/issues/4205 has been merged, we can now update the [installation instructions](https://github.com/brave/brave-browser/blob/master/docs/source/installing-brave.rst) to remove explicit reference to `brave-keyring` for the release channel.

[2019-07-02 17:38] bsclifton commented on #1475
@martynchamberlin there is no way to hide the shields icon - you can hide the BAT icon (the triangle) though

[2019-07-02 18:07] Pitasi commented on #2377
For the ones like me who manually set Brave as default but were tired of the popup at every startup: just click the X instead of "Set as default".

Took me almost a week to realize this :)

[2019-07-02 18:30] #5100 closed

[2019-07-02 18:33] martynchamberlin commented on #1475
@bsclifton Gotcha, thanks.  If I had my way, I'd have the ability to remove that badge as well as the bookmark icon on the left of the address bar. And have a way to disable the auto-hiding of the `https://www.` part of the domain...

[2019-07-02 18:34] tmancey opened #5102 "Update rustup dependencies to 0.1.2"
Update rustup dependencies to 0.1.2 (which include rustup 1.35.0)

[2019-07-02 18:40] #5096 closed

[2019-07-02 18:41] diracdeltas opened #5103 "network audit script should use OS-level logging"
instead of Chromium's network logger: https://www.chromium.org/developers/design-documents/network-stack/netlog

this has a few advantages:
1. catch things that chromium may not report
2. allow us to write a tor proxy leak catcher (https://github.com/brave/brave-browser/issues/4256)

[2019-07-02 18:46] #5082 closed

[2019-07-02 20:37] mhatvan commented on #5097
No "Update the Brave Snap Package under Ubuntu" happening?

[2019-07-02 21:43] InteXX commented on #4295
@bsclifton

Yes, that's the case. When we reinstall Windows (or load up our Windows profile onto a new machine), and then sign in to Chrome for the first time on that new profile, all of our bookmarks, passwords and other info are automatically restored. We don't have to have another instance of the browser running somewhere else in order to receive these.

Hm, I'm not sure. An enhancement, certai

[2019-07-02 21:43] funkybob commented on #4142
Will a packaged release version include a fix for this?