[2020-02-10 17:36] AronVanAmmers commented on #3437
That did it! Indeed I had 75 cookies between archive.org and web.archive.org (size in bytes unspecified). Clearing cookies fixed it.

Thanks @konarkmodi. Will close the issue and adapt the title to reflect.

[2020-02-10 17:36] #3437 closed

[2020-02-10 17:44] snyderp commented on #7949
Fingerprint is a super overloaded term, even for the very very small number of folks who know web privacy terms.

I think “device fingerprinting” is better than fingerprinting, but I also think we should probably just get rid of this setting all together, as we move to farbling (i.e. fingerprinting protections we have high confidence will not break things)

[2020-02-10 18:32] #8066 closed

[2020-02-10 18:34] wknapik commented on #7899
Same/similar issue on Linux, macOS and Windows #8076.

[2020-02-10 18:40] mandar-brave commented on #8123
Dear @JTCozart our apologies that we were not up to the standard. I am assuming you are on the browser and here is an image - its one click to the settings on the New Tab Page and another one to turn it off. See image

![image](https://user-images.githubusercontent.com/35932307/74174581-05809f00-4be9-11ea-8776-ec72c4376976.png)

[2020-02-10 18:57] anthonypkeane opened #8164 "malformed address listed for rewards"
From @jonathansampson we have malformed address listed for rewards

![Screenshot_20200206-220918.png](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/fac6dc3e-bc03-44cc-b279-e41920492cb8)

Internal Chat: https://bravesoftware.slack.com/archives/C0816QH3R/p1581048611123400!

[2020-02-10 19:04] riastradh-brave commented on #7987
This is very strange.  Can you try loading https://check.torproject.org/ or https://www.example.com/ just to confirm we're connecting to the same things that are known to be up on the internet?

[2020-02-10 19:29] LaurenWags commented on #7917
++ from me

[2020-02-10 19:30] Ajworry commented on #7987
after update brave on 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit) Tor doesn't work

No internet
There is something wrong with the proxy server, or the address is incorrect.
Try:

Contacting the system admin
Checking the proxy address
ERR_PROXY_CONNECTION_FAILED

[2020-02-10 19:59] #8147 closed

[2020-02-10 20:00] #8153 closed

[2020-02-10 20:23] karenkliu commented on #6831
@anthonypkeane Designs added!

@deeppandya FYI we still need to finalize the "Google Safe Browsing" item in Settings so there are still some pending changes.  But all the other screens aside from Settings are ready. :)

[2020-02-10 21:13] fmarier opened #8167 "Proxy queries to the Mozilla Location Service"
brave/devops#2457 will introduce a proxy for the location service.

We need to update our build config to make use of it:
- https://github.com/brave/devops/blob/899db2f2cfc911f040d61262d8ad42eee23063dd/jenkins/jobs/browser/brave-browser-build-android-core.yml#L693
- https://github.com/brave/devops/blob/899db2f2cfc911f040d61262d8ad42eee23063dd/jenkins/jobs/browser/brave-browser-build-linux.yml#L130

[2020-02-10 21:18] #8128 closed

[2020-02-10 21:21] kjozwiak commented on #8158
Removing this from https://github.com/brave/brave-browser/milestone/79 as per earlier conversations. This will be addressed in another release if we decide to remove `Sync` from the hamburger menu while it's temporarily disabled.

[2020-02-10 21:24] kjozwiak commented on #8159
Removing this from https://github.com/brave/brave-browser/milestone/79 as per earlier conversations. This will be addressed in another release if we decide to remove `Sync` from the hamburger menu while it's temporarily disabled. CCing @rebron

[2020-02-10 21:26] SergeyZhukovsky opened #8168 "[Android] Crash when open Bookmarks menu"
`02-10 15:26:19.311: E/AndroidRuntime(3687): Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void org.chromium.chrome.browser.sync.ProfileSyncService.addSyncStateChangedListener(org.chromium.chrome.browser.sync.ProfileSyncService$SyncStateChangedListener)' on a null object reference
`
We probably just need to reenable sync on Android

[2020-02-10 21:28] kjozwiak commented on #8108
Going to use https://github.com/brave/brave-browser/issues/8128 for the release notes as it has the most comments from community.

[2020-02-10 21:29] kjozwiak commented on #8141
Going to use https://github.com/brave/brave-browser/issues/8128 for the release notes as it has the most comments from community.

[2020-02-10 21:33] #8168 closed

[2020-02-10 21:39] kjozwiak opened #8169 "Release Notes for 1.3.x Hotfix 1 (Release Channel)"
- Fixed several crashes and stability issues by temporarily disabling sync. ([#7781](https://github.com/brave/brave-browser/issues/7781))

[2020-02-10 21:49] #8169 closed

[2020-02-10 21:51] #8151 closed

[2020-02-10 22:54] ikreymer opened #8171 "Web Archiving Extension for Brave"
## Motivation

This issue is to track a proposed effort to integrate web archiving functionality directly into Brave, allowing users to create 'high-fidelity' archives of any page, including dynamic pages, videos, etc.. which can be viewed later and offline. This allows users to create a 'personal wayback machine' that lives directly in the browser. After discussions with @bbondy, opening this iss

[2020-02-10 22:57] karenkliu commented on #7312
This is our own bookmarks folder icon:
![icon-folder@1 5x](https://user-images.githubusercontent.com/2388823/70561927-43f1d300-1b40-11ea-8363-06210621eb55.png)

It replaces the Chrome bookmarks folder icon in the browser toolbar and on chrome://bookmarks/
![example](https://user-images.githubusercontent.com/2388823/70562066-8adfc880-1b40-11ea-9432-ec03a2bf091e.png)

Icon asset:
[bookmark folder ic

[2020-02-10 23:15] pekira001 commented on #7829
Ads working after updating to Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)

[2020-02-10 23:15] #7829 closed

[2020-02-10 23:34] #8164 closed

[2020-02-10 23:58] simonhong opened #8173 "Provide the way to update ntp SI component per region"
Maybe we want to update ntp SI component per region(or multiple regions) in the future.
Currently, crx packager update whole regions at once.

[2020-02-11 00:57] jumde opened #8174 "Create a service to handle cookie exceptions similar to autoplay whitelist"
## Description
Currently cookie exceptions are added to https://github.com/brave/brave-core/blob/75128da39b3c6990d1691ad82ec33844435e2d8b/components/content_settings/core/browser/brave_content_settings_pref_provider.cc#L213 . This requires a build for every exception that we add. We can move the exception list to local-data-updater to update the JSON and deploy exceptions quickly.

[2020-02-11 01:03] snyderp commented on #5314
to make sure it doesn't get lost (re @jumde)

https://github.com/brave/brave-core/blob/75128da39b3c6990d1691ad82ec33844435e2d8b/components/content_settings/core/browser/brave_content_settings_pref_provider.cc#L213)

[2020-02-11 01:03] jumde commented on #8174
Dupe of https://github.com/brave/brave-browser/issues/5314

[2020-02-11 01:03] #8174 closed

[2020-02-11 01:09] jumde commented on #6980
Dupe of: https://github.com/brave/brave-browser/issues/5642

[2020-02-11 01:09] #6980 closed

[2020-02-11 02:10] rebron commented on #8136
Closing. 1.3.115 February 10, 2020.

[2020-02-11 02:10] #8136 closed

[2020-02-11 03:08] srirambv opened #8175 "[Android] Brave is launched when ad notification is dismissed"
## Description
 Brave is launched when ad notification is dismissed

## Steps to reproduce (Not reproduced all the time)

   1. Wait for an ad notification to come
   2. Swipe the notification to be dismissed
   3. Brave is launched, doesn't open the ad landing page

## Actual result
 Brave is launched when ad notification is dismissed

## Expected result
App should not be launched when ad is dism

[2020-02-11 03:55] srirambv commented on #8018
Verification passed on

Brave | 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.523)
Component | `0.1.42`

- CW discalimer
![image](https://user-images.githubusercontent.com/17010094/74209445-c9fbd880-4cad-11ea-9fd2-a9ef853a43f4.png)
- Connect hardw

[2020-02-11 03:56] srirambv commented on #8085
Value not properly visible on hover
Actual
![image](https://user-images.githubusercontent.com/17010094/74209632-a2f1d680-4cae-11ea-9333-2316129568eb.png)
Expected
![image](https://user-images.githubusercontent.com/17010094/74209668-bbfa8780-4cae-11ea-89bd-1c8ac28a7a37.png)

Advance gas option text is not having right theme on Windows
![image](https://user-images.githubusercontent.com/17010094/7420

[2020-02-11 03:59] srirambv commented on #8017
Verification passed on

Brave | 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.523)
Component | `0.1.42`

- Verified confirm secret phrase works and shows the congratulations message after confirming

[2020-02-11 04:09] srirambv commented on #8085
![image](https://user-images.githubusercontent.com/17010094/74210620-658f4800-4cb2-11ea-88b7-cb3a6aa8e12f.png)

[2020-02-11 04:20] srirambv commented on #6279
Still reproduces on current release component with steps from #8121. Going to move it out of milestone as #8121 is going to supersede this issue

[2020-02-11 05:25] srirambv opened #8176 "Backup seed phrase notification is not shown when logged back in"
## Description

Backup notification is not shown when logged back in

## Steps to Reproduce

   1. Install component `1.0.15`
   2. Create account but close the tab on backup phrase screen
   3. Upgrade to component `0.1.42`
   4. Log back in to account, no backup notification is shown

## Actual result:

Backup seed phrase notification is not shown when logged back in

## Expected result:
Should

[2020-02-11 05:32] srirambv commented on #7537
Verification passed on

Brave | 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.523)
Component | `0.1.42`

- Reproduced issue from https://github.com/brave/brave-browser/issues/7537#issuecomment-569593551 and https://github.com/brave/brave-browser/i

[2020-02-11 05:38] srirambv opened #8177 "Learn More on Add tokens screen points to MM support page"
## Description

Learn More on Add tokens points to MM support page

## Steps to Reproduce

   1. Create CW local account
   2. Add tokens from main page
   3. Learn more points to MM support page

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/74213273-71810700-4cbe-11ea-918c-2431ebe258a7.png)

## Expected result:
Should point to Brave support page

## Reproduces ho

[2020-02-11 06:49] Alcsaw commented on #8076
Just installed Brave on Windows. Same problem here.
Brave Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
Windows Version	10.0.18362 Build 18362

[2020-02-11 07:21] srirambv commented on #6381
Verification passed on

Brave | 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.523)
Component | `0.1.42`

![Screenshot (4)](https://user-images.githubusercontent.com/17010094/74217312-1dc9ea00-4ccd-11ea-8b26-8a7bbd58b795.png)
![Screenshot (5)](http

[2020-02-11 08:40] AlexeyBarabash opened #8178 "Sync crash on BraveMigrateOtherNode"
## Description

As per Slack discussion with @darkdh

https://stats.brave.com/dashboard#crash/5e3ca214bc39b8006c38c4cf
There is a stack trace of a crash, but no clear STR:
[code]

@darkdh

## Steps to Reproduce

?

## Actual result:

Crash

## Expected result:
No crash

## Reproduces how often:

No steps to reproduce

## Brave version (brave://version info)

1.2.41

[2020-02-11 09:01] dirad commented on #6557
@rebron - The issue persists even when the cookies shield are set to "Allow all cookies" .
The only way it works for me is setting the extension to "read and change site data - _on all sites_"

Regarding @thefirstofthe300 's comment - the issue isn't with autofill but with creating new entries.

[2020-02-11 09:08] GeetaSarvadnya commented on #7253
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
![image](https://user-images.githubusercontent.com/38657976/74223153-11995900-4cdc-11ea-802d-d0c80b53e290.png)

[2020-02-11 10:04] GeetaSarvadnya commented on #6841
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the scenarios from https://github.com/brave/brave-core/pull/3931#issuecomment-575746819

[2020-02-11 10:07] cansik commented on #8178
Is this also related to the fact that Sync is not showing up anymore (in settings and under `brave://sync`)?

Version 1.3.115 on MacOS

[2020-02-11 10:38] iefremov commented on #8084
Fixed in https://github.com/brave/brave-core/pull/4531

[2020-02-11 10:38] #8084 closed

[2020-02-11 10:50] #7633 closed

[2020-02-11 10:51] iefremov commented on #7633
[code]
renamed to
[code]

[2020-02-11 10:59] nazbrok commented on #7795
fixed with **Version 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)**

[2020-02-11 10:59] #7795 closed

[2020-02-11 11:07] GeetaSarvadnya commented on #7514
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4286 ( tested in staging env)
- Verified in clean and upgraded profile

[2020-02-11 11:13] srirambv commented on #6381
Verification passed on

Brave | 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.1 (Build 19B88)
Component | `0.1.42`

<img width="1552" alt="Screen Shot 2020-02-11 at 3 58 42 PM" src="https://user-images.githubusercontent.com/17010094/74230096-b3737280-4ce9-11ea-893b-5

[2020-02-11 11:16] GeetaSarvadnya commented on #8041
The issue is working fine hence closing the issue.

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-11 11:16] #8041 closed

[2020-02-11 11:25] GeetaSarvadnya commented on #8019
The issue is working fine hence closing the issue

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-11 11:25] #8019 closed

[2020-02-11 11:28] GeetaSarvadnya commented on #8073
The issue is working fine in 1.4.x beta channel hence closing the issue

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-11 11:28] #8073 closed

[2020-02-11 11:31] GeetaSarvadnya commented on #8071
The issue is working fine in 1.4.x beta channel hence closing the issue.

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-11 11:31] #8071 closed

[2020-02-11 12:27] srirambv commented on #8018
Verification passed on

Brave | 1.6.14 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.1 (Build 19B88)
Component | `0.1.42`

![image](https://user-images.githubusercontent.com/17010094/74235833-e7ed2b80-4cf5-11ea-8ca8-479d37085576.png)
![image](https://user-images.githubuserc

[2020-02-11 12:51] GeetaSarvadnya opened #8180 "`claimed_at` db timestamp value resets to zero after sending one time or recurring tip"
## Description

Found while testing https://github.com/brave/brave-browser/issues/7297

`claimed_at` db timestamp value resets to zero after sending one time or recurring tip

## Steps to Reproduce

   1. Clean profile 1.4.x launch brave using `brave.exe --rewards=staging=true`
   2. Enable rewards
   3. Open `publisher_info_db` and check `promotion` shows `claimed_at` value as `0` (expected)
   5

[2020-02-11 12:51] GeetaSarvadnya commented on #7297
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

 - Verified that `claimed_at` parameter is NOT available in 1.3.x and previous versions
 - Verified that `claimed_at` parameter is added in the `promotion` table in

[2020-02-11 12:52] AlexeyBarabash commented on #8178
@cansik , no this issue is not related to the fact Sync is temporary disabled.

[2020-02-11 12:55] NejcZdovc opened #8181 "Do not delete unblinded tokens"
Right now we delete unblinded tokens when they are used. To have history we should just marked them as claimed. We need to add new column `spent_at` which should be timestamp and we insert time stamp when token is used. We also need to update query for getting all tokens as we need to return only tokens that don't have `spent_at` column populated.

[2020-02-11 13:05] cezaraugusto commented on #8070
<img width="553" alt="Screen Shot 2020-02-11 at 9 57 00 AM" src="https://user-images.githubusercontent.com/4672033/74239002-b8b6ca00-4cb5-11ea-8cd6-96b1a8d6d0d6.png">

This seems to be an upstream bug that got fixed in some upstream version after this bug report. I'm not able to reproduce. Using macOS following steps Lauren suggested. Tested on:

Release build `Version 1.3.115 Chromium: 80.0.3987.

[2020-02-11 13:06] aluzardo commented on #5793
This is the warning in the console:

DevTools failed to parse SourceMap: chrome-extension://odbfpeeihdkbihmopkbjmoonfanlbfcl/sourcemaps/contentscript.js.map
DevTools failed to parse SourceMap: chrome-extension://odbfpeeihdkbihmopkbjmoonfanlbfcl/sourcemaps/inpage.js.map

[2020-02-11 14:16] mayeaux commented on #2400
Even though this already looks like it's about to be covered I would still like to throw in my +1, thanks!

[2020-02-11 14:21] mayeaux opened #8182 "Instructions on site are wrong"
https://support.brave.com/hc/en-us/articles/360017903152-How-do-I-reset-Brave-settings-to-default-

^ On this URL it says to reset settings to default you need to go to settings then 'Go to the bottom and click Advanced'. That's actually incorrect, for me on version 1.2.4 it says 'Additional settings' not 'Advanced', was definitely confusing.

[2020-02-11 15:15] jonathansampson opened #8183 "Tip Banner and Tweet Template Lack Creator Name"
## Description
Brave may struggle to retrieve publisher names, resulting in no string provided to the Tweet template, and/or the wrong strings being displayed in the tipping banner.

## Steps to Reproduce
1. Navigate to a video on YouTube (e.g. youtube.com/watch?v=SG_gG1j4plo)
2. Open the tipping banner
3. (Optionally, send a tip and open the Tweet template)

## Actual result:

Channel name is not

[2020-02-11 15:24] jonathanKingston opened #8184 "Fix up Omnibox suggestions to use HTTPS"
In the [ungoogled-chromium](https://github.com/Eloston/ungoogled-chromium) repo they suggest that they default all URL fixups to be HTTPS scheme instead of HTTP.

I looked into using the HTTPS Everywhere `GetHTTPSURLFromCacheOnly` method in the `url_fixer.cc` code, however linking in with the brave browser process seems an overly complex change.

I see two clear options here:
1. The simplest chang

[2020-02-11 15:53] LaurenWags commented on #7289
Verified passed with

Brave | 1.4.82 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified STR from description

[2020-02-11 16:10] LaurenWags commented on #7198
Verified passed with

Brave | 1.4.82 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified TC1 and 2 from description:
<img width="392" alt="Bildschirmfoto 2020-02-11 um 11 01 51 AM" src="https://user-images.githubusercontent.com/28145373/74254831-03890f80

[2020-02-11 16:29] LaurenWags commented on #7116
Verified passed with

Brave | 1.4.82 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Verified test plan from https://github.com/brave/brave-core/pull/4083
* Also verified:
   - able to do a hard refresh (cmd+shift+R) and get a new Tor connection/IP
   - able

[2020-02-11 16:42] oshanz commented on #7708
I'm using brave 1.7.0 and I can't find the issue anymore

[2020-02-11 17:10] #7069 closed

[2020-02-11 17:10] #8177 closed

[2020-02-11 17:11] jumde commented on #8129
@kevinp2 - Are you able to reproduce this issue with v1.3.115. f so could you check:

1. Which version of macOS are you using?
2. Navigate to brave://components and check if `tor client updater` version is 1.0.8.
3. Could you share any errors that you see in: `/Users/<user-name>/Library/Application Support/BraveSoftware/Brave-Browser/tor/data/tor.log`

[2020-02-11 17:18] GeetaSarvadnya commented on #6144
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from  https://github.com/brave/brave-core/pull/3561
- Verified the test plan in Guest/Private/TOR - works as expected
- Bookmark an archived

[2020-02-11 17:24] tasdienes commented on #8150
Update to "1.3.115 Chromium: 80.0.3987.8" appears to have resolved this issue.

[2020-02-11 17:24] #8150 closed

[2020-02-11 17:27] mbacchi commented on #8027
Requested access to this entitlement via an Apple Developer portal TSI (Technical Support [request](https://developer.apple.com/support/technical/)), waiting to hear back from them.

[2020-02-11 17:35] kevinp2 commented on #8129
Hi

I am using MacOS High Sierra version 10.13.6
Brave Tor Client Updater (Mac) - Version: 1.0.8
Status - Up-to-date

I looked at tor.log and have attached it to this email.

Thanks!

On Tue, Feb 11, 2020 at 11:11 AM Pranjal Jumde <notifications@github.com>
wrote:

--
Kevin

[2020-02-11 17:35] kevinp2 commented on #8129
[tor.log](https://github.com/brave/brave-browser/files/4187182/tor.log)

@jumde tor.log did not survive the email trip so I have attached it here.

[2020-02-11 18:18] #8110 closed

[2020-02-11 18:19] AndriusA opened #8186 "Move `NamedThirdPartyRegistry` initialization of blocking execution path"
## Description

https://github.com/brave/brave-core/pull/4229 implements bandwidth savings prediction using named third parties as one of the signals for the predictive model. Third parties are looked up by domain name in `NamedThirdPartyRegistry`, but `NamedThirdPartyRegistry` is a singleton that loads mappings from JSON on first use, potentially locking up the main thread.

## Steps to Reproduce

[2020-02-11 18:34] ManuelFte commented on #3296
I'm in the same situation as @fusionneur, the deleted bookmarks keep reappearing randomly even though I've never used Sync, I'm not logged into any Google account, and I don't have any addon that performs bookmark synchronization.

Not only deleted bookmarks reappear, but if I had reorganized the rest of my bookmarks, it restores the previous organization. It is evidently pulling some sort of back

[2020-02-11 18:37] yrliou commented on #7913
Fixed with https://github.com/brave/brave-core/pull/4577

[2020-02-11 18:37] #7913 closed

[2020-02-11 18:55] jsecretan opened #8187 "Flag to re-enable sync"
## Description
As we temporarily have Brave Sync disabled, we need to provide a flag that we can use to re-enable for internal testing.

## Brave version (brave://version info)
1.3.115

## Version/Channel Information:
Release

[2020-02-11 18:57] mkarolin opened #8188 "Upgrade from Chromium 80.0.3987.87 to Chromium 80.0.3987.100"
QA tests:

Check branding items
Check for version bump

[2020-02-11 18:57] dvmason commented on #8128
@jonathansampson Brave offered upgrade on MacOS Mojave... I agreed... installed and crashed. Tried Nightly... same result... tried moving Library/Application Support/BraveSoftware/Brave-Browser out of the way... same result... tried 1.3.114... same result. Not happy... was sepending on Brave.

[2020-02-11 18:58] over-soul commented on #3296
This seems to happen if Brave closes unexpectedly on one of my devices. Then bookmarks duplicate, organization changes, deleted bookmarks come back, etc.

[2020-02-11 19:07] kjozwiak opened #8189 "Manual test run on OS X for 1.3.x - Release Hotfix 2"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-02-11 19:07] kjozwiak opened #8190 "Manual test run on Windows x64 for 1.3.x - Release Hotfix 2"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-02-11 19:07] kjozwiak opened #8191 "Manual test run on Linux for 1.3.x - Release Hotfix 2"
## Per release specialty tests

### Installer

- [ ]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-02-11 19:42] kjozwiak opened #8192 "Release checklist for 1.3.x Hotfix 2 (Release Channel)"
Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

### Prerequisites

- [x] Check Tor is up to date with its latest upstream.
- [x] At freeze date, consult with the security team to ensure that all security issues have been included.
- [x] At freeze date, consult with PR team (@catherine

[2020-02-11 20:03] filipemir commented on #1268
Is there no plan to add this as a feature? It's helpful for local development.

[2020-02-11 20:21] Kvothe838 opened #8193 "Translating in spanish for "close" when closing a tab is wrong"
## Description
When right clicking on a tab, it shows "Cerca" instead of "Cerrar" for the translation of "Close" to spanish. It's understandable because "close" could also be "cerca" in spanish, but not in this context.

## Steps to Reproduce

   1. Right click on a tab having Brave in spanish
   2. See "Cerca      Ctrl + W" as an option.

## Actual result:
"Cerca" as an option.

## Expected resul

[2020-02-11 20:22] fusionneur commented on #3296
One mention - i have multiple local brave profile. I have a feeling that it might be related to this somehow.

[2020-02-11 20:23] emphasis87 opened #8194 "Youtube turns Brave to black screen/window (worked in Chrome)"
## Description

After clicking on the channel (not subscribed) Brave turns black after the page is loaded (1s), nothing is visible. Sound works, I can also detach the tab but it remains broken. The issue seem to resolve itself after a while of playing, but once I clear cookies it returns back.

## Steps to Reproduce

   1. https://www.youtube.com/channel/UCdlniljY9Zfz990G8WeOosg?_hsenc=p2ANqtz-9hs

[2020-02-11 21:04] ManuelFte commented on #3296
Same thing here, although I don't manage my profiles using the native Chromium feature, but via the flag (`brave --user-data-dir=/path/to/profile`), therefore the profiles are not within the same `BraveSoftware` parent folder and should [supposedly] not be aware of each other.

[2020-02-11 21:05] rebron commented on #8149
Reproducible on `1.2.43` using a fresh profile.

[2020-02-11 21:35] diracdeltas commented on #8154
I'm not sure offhand how serious these are. If not critical, I think we should just wait on a Chromium fix since it affects them as well. Have you reported to Chrome yet?

[2020-02-11 21:47] makkiato83 commented on #8123
@mandar-brave I had problems finding this option there, too.

Just my 2 cents:

It does not hurt, of course, to have certain opt-in options (such as the paid background image)  available in multiple areas of the browser, like showed in your image. But I think it would make more sense to have ALL OF THEM available in just one place (ideally, the settings of the Brave Triangle menu, where currently

[2020-02-11 22:04] #1864 closed

[2020-02-11 22:05] #8167 closed

[2020-02-11 22:09] LaurenWags commented on #2763
@ryanbr could you provide a test plan for this one? PR mentions
[code]
would love to get some detail on what QA should specifically be looking for.

Additionally, I am still not seeing skip button on YT ads when shields are down, am I doing something incorrectly? My steps are:
Clean install of 1.4.x
Navigate to YT
Toggle shields off for YT
View a video with a pre-roll ad such as https://www.youtub

[2020-02-11 22:10] petemill opened #8197 "Cosmetic filtering causes a layout re-flow during page-load"
Cosmetic filtering was enabled (behind a flag) with https://github.com/brave/brave-core/pull/4269

When enabled, it detects which potentially-hidden elements contain 1st party content vs 3rd party content. After the determination, 3rd party content is hidden and 1st party content is left alone. This causes a jump of content when elements are hidden some time after the are first displayed.

## Test

[2020-02-11 22:13] ryanbr commented on #2763
This should be fixed in 1.4 from this PR:  https://github.com/brave/brave-core/pull/4403

[2020-02-11 22:22] jumde commented on #8129
Thank you @kevinp2, we were able to reproduce this issue on High Sierra. We are looking into this, stay tuned.

[2020-02-11 22:24] emphasis87 commented on #8194
Since then I have encountered the issue also on facebook, while scrolling the windows turns black. It seems to be connected to displaying certain visual segments.

[2020-02-11 22:25] LaurenWags commented on #2763
@kjozwiak @bsclifton can you guys take a look at this one? The PR referenced in https://github.com/brave/brave-browser/issues/2763#issuecomment-584881696 doesn't have a milestone but I think it landed in 1.5.x, not 1.4.x. So not sure if we need to uplift something or this issue can be moved to 1.5.x milestone.

[2020-02-11 22:30] jumde commented on #7987
Hi @denismp , @Ajworry : We were able to reproduce the issue you are running into. Thanks for all your help. We are working on a fix, stay tuned! Thanks

[2020-02-11 22:33] fusionneur commented on #3296
Latest release completely disabled sync:
Release Notes V1.3.115
Fixed several crashes and stability issues by temporarily disabling sync. (#7781)

I will remove duplicate bookmarks to see if they reappear anytime soon

[2020-02-11 22:45] karenkliu commented on #5832
A simple solution would be to simply shrink the profile icons a bit and use Brave branded buttons:
![shrink profiles](https://user-images.githubusercontent.com/2388823/74286354-6e950f00-4cdc-11ea-9d0d-da8495dbac68.png)

A nicer solution would be to:

- Have a visual indicator on the profile currently being used
- Make cards more compact so more profiles can be shown at at time
- Remove a step in t

[2020-02-11 22:58] rebron commented on #5458
Closing. @karenkliu reopen if this issue still applies.

[2020-02-11 22:58] #5458 closed

[2020-02-11 23:03] a-bronx commented on #8154
I didn't report it to Chrome. I suspect that the `SeProfileSingleProcessPrivilege` may be related with some performance telemetry. Not sure what use of `SeTcbPrivilege`.

[2020-02-11 23:10] #8133 closed

[2020-02-11 23:40] linhkikuchi opened #8198 "improve mac test install"
test install for mac sometimes failed because previous failed job did not eject brave dmg volume correctly. We should eject all brave volumes before running test install to make sure new dmg volume is the correct one

[2020-02-11 23:49] #8198 closed

[2020-02-12 00:06] MariuzM opened #8199 "Brave after update crashing MacOS Mojave"
## Description

After update Brave is crashing cant load the app

## Steps to Reproduce

Open the app

## Actual result:

Crash

## Expected result:
To open

## Reproduces how often:

All the time

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reprodu

[2020-02-12 00:06] MariuzM commented on #8199
I have also tried removing all the files that i had on my Mac with Brave that means going into Library folder, but still crashing. Brave team how on earth are you testing your browser?

[2020-02-12 00:11] LaurenWags commented on #2763
Had additional discussions with @ryanbr and did some more investigation. For the exact same 15s pre-roll ad on Chrome, Vivaldi and Brave (shields down):
- Chrome shows the skip button
- Vivaldi shows the skip button
- Brave (with shields down) does not show the skip button

Tested https://www.youtube.com/watch?v=Lam-HQoNYKU with
Chrome `80.0.3987.100`
Brave `1.4.84 Chromium: 80.0.3987.87` and `1.5

[2020-02-12 00:14] btlechowski commented on #7597
Still reproducible on German locale

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Ubuntu 18.04 LTS

![image](https://user-images.githubusercontent.com/34715963/74291377-fa3a8a00-4d34-11ea-8d54-a868239fa736.png)

[2020-02-12 00:55] yrliou opened #8200 "[Android] Crash when dispatching shields blocked events"
## Description
[code]

## Steps to reproduce

   1. Open brave and visit any page that would generate blocked events, for example, just visit `github.com`

## Actual result
Crash with above message. The message could only be seen in static builds, for release builds, just observe crash with a vague message.

## Expected result
No crash.

## Issue reproduces how often
Every time.

## Brave version

[2020-02-12 01:09] mcfaith9 commented on #1896
Is this fixed?

[2020-02-12 01:18] btlechowski commented on #6808
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Ubuntu 18.04 LTS

Verified test plan from https://github.com/brave/brave-core/pull/4046
Tor enabled by default
![image](https://user-images.githubusercontent.com/34715963/74294255-923c7180-4d3d-11ea-840a-ec31218d

[2020-02-12 01:39] lukemulks opened #8201 "Partner request: Sliver.tv has rebranded as Theta.tv"
## Description

We announced a partnership with Sliver.tv in July 2019.
As part of the partnership, Sliver.tv had made Brave their recommended browser.
There were a few items we had to work on to:

1. allow for autoplay on sliver.tv in Brave (https://github.com/brave/autoplay-whitelist/issues/15)

and

2. allow for people to earn their TFuel token while watching streams. (https://github.com/brave/

[2020-02-12 01:48] #8200 closed

[2020-02-12 02:00] yrliou commented on #7934
Closed by https://github.com/brave/brave-core/pull/4580.

[2020-02-12 02:00] #7934 closed

[2020-02-12 02:20] bridiver commented on #2400
there was no "site settings" in b-l so this is the equivalent. Trying to separate site settings from shields settings is problematic both because they are all site settings as @bbondy said and also because there is overlap between chromium site settings and shield settings (javascript and cookies). I think the fundamental problem is just one of user confusion that can be fixed by renaming site set

[2020-02-12 04:12] Sh1d0w opened #8202 "Ads shown are not being correctly counted, no BAT received"
## Description
Since version 1.3.115 which was released yesterday I do not gain BAT from ads anymore. I can see the ads notifications appearing, I am even clicking them, but the overall count of "Ad notifications received this month" does not change (the ads are registered correctly in 7-day ads history) and no BAT has been gained.

<img width="620" alt="Screenshot 2020-02-12 at 6 10 04" src="http

[2020-02-12 04:51] darkdh opened #8203 "3 consecutive sync updates will result deletion"
## Description

## Steps to Reproduce

   1.  Go to `chrome://flags/#brave-sync` and enable brave-sync on device A and B
   2.  Sync device A and B
   3. Create folder/url`1` on device A
   4. Rename folder/url `1` to `12` on device B
   5. Rename folder/url `12` to `123` on device A
   6. When device B get UPDATE record, the folder/url will be deleted

## Actual result:

folder/url `123` is delet

[2020-02-12 04:55] srirambv commented on #8177
Verification passed on

Brave | 1.6.18 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.1 (Build 19B88)
Component | `0.1.43`

- Verified `Learn more` on Add Token screen points to [Brave support page](https://support.brave.com/hc/en-us/articles/360035488071-How-do-I-manage-my-

[2020-02-12 05:06] srirambv opened #8204 "Learn more about imported accounts points to MM support page"
## Description

Import wallet help link points to MM support page

## Steps to Reproduce

   1. Install component `0.1.43`
   2. Go to import account from profile menu
   3. ` Learn more about imported accounts here` points to MM support page

## Actual result:

 ` Learn more about imported accounts here` points to MM support page

## Expected result:
Should point to Brave support article

## Repr

[2020-02-12 05:13] srirambv commented on #6104
Verification passed on

Brave | 1.6.18 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.1 (Build 19B88)
Component | `0.1.43`

- Verified JSON file import help links to [Brave support page](https://support.brave.com/hc/en-us/articles/360035488071-How-do-I-manage-my-Crypto-Walle

[2020-02-12 05:17] darkdh commented on #8203
it is removed by
https://chromium-review.googlesource.com/c/chromium/src/+/1871593

[2020-02-12 05:24] Lucifer879 opened #8205 "Scrollbar doesn't appear correctly on brave://settings page due to extra element."
## Description

There is an extra element [ toolbar-extra -slot-filled ] & should be removed to fix the scroll bar UI.

![Remove](https://user-images.githubusercontent.com/48880976/74305264-73fa6400-4d85-11ea-99c7-fa25e90643e9.PNG)

Removing that solvesthe problem.

![Solved](https://user-images.githubusercontent.com/48880976/74305294-8b395180-4d85-11ea-8743-d941d98a5d66.PNG)

## Steps to Reproduc

[2020-02-12 05:26] #8160 closed

[2020-02-12 05:26] #8158 closed

[2020-02-12 05:47] Lucifer879 opened #8206 "[Question] Why "Continue running background apps when Brave is closed" is enabled by default?"
## Description

Why Brave have toggled this option ON by default?
I can understand chrom/ium its data hungry. But Brave is a privacy browser & this option should be disabled by default.

## Steps to Reproduce

   1. Open Brave Version 1.3.115
   2. Go to brave://settings/system
   3. This should be enabled by default.

## Actual result:

Its Enabled

![Enabled](https://user-images.githubuserconten

[2020-02-12 06:08] Sh1d0w commented on #8202
Seems like a lot of users are having the same problem:

https://www.reddit.com/r/brave_browser/comments/f2lfk2/bat_not_increasing/
https://www.reddit.com/r/brave_browser/comments/f2is23/brave_not_counting_ads_seen_properly/

[2020-02-12 06:31] #1973 closed

[2020-02-12 06:34] #7783 closed

[2020-02-12 06:57] kjozwiak commented on #8070
@GeetaSarvadnya @w0ts0n @LaurenWags mind checking to see if this is still reproducible as per the above comment from @cezaraugusto.

[2020-02-12 07:19] stefandesu commented on #3389
I was asking myself this question just now, and testing it with WebTorrent in Brave 1.3.115 and the NordVPN extension, using https://ipleak.net, it seems like the bug has been fixed. Can anyone confirm this?

[2020-02-12 07:37] NejcZdovc opened #8207 "Tokens are not successfully unblinded"
## Description

## Steps to Reproduce

   1. Enable rewards
   2. Close rewards tab and close the browser
   2. Get payment ID and add multiple grants that has legacy flag set to true
   3. Start the browser and immediately open the panel, and reopen it multiple times right one after another

## Actual result:

Balance is not correct (unblinded token table is not populated correctly)

## Expected

[2020-02-12 07:54] srirambv commented on #7069
Verification passed on

Brave | 1.6.18 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
Component | `0.1.43`

- Verified installing component `1.0.10` shows MetaFox icon. Upgrading to component `0.1.43` removes the MetaFox icon
![image](https://user-images.githubusercontent.com/17010094/74306490-a6599

[2020-02-12 07:55] bsclifton commented on #7645
per @xPaw via https://github.com/GoogleChrome/lighthouse/issues/9484#issuecomment-584571058

[2020-02-12 08:05] ryanbr commented on #2763
Okay, I have implemented a fix. https://github.com/brave/brave-core/pull/4603  Just needs to be reviewed.

[2020-02-12 09:43] Gby56 commented on #8187
oh so Brave Sync has been disabled for now ? Was it announced anywhere ?
I was trying to test this out but it kept crashing Brave after staying too long on "looking for devices"
Then I updated, and brave://sync isn't working, but the "Sync" link in the settings page is still there fyi

[2020-02-12 10:15] NejcZdovc commented on #8187
@Gby56 you can read more about sync begin disabled here https://community.brave.com/t/brave-sync-temporarily-disabled-on-desktop/106837

[2020-02-12 11:37] oshanz commented on #7708
ok Its not fixed. I found this on some webpages again today.

* https://www.healthline.com/health-news/high-tempo-music-may-help-your-workout
* https://pradeeploganathan.com/architecture/event-driven-architecture/

[2020-02-12 12:31] desmonk commented on #6608
Ran into this issue recently and I don't have Symantec Endpoint or any AV. Tried all options here but just crashes within 1-5 minutes. Particularly when I try to upload data, this happens way quickly. Windows 10 - 32 bit - 1909

[2020-02-12 13:06] tycho01 opened #8208 "emoji domain support"
## Description
Non-ascii characters can be represented in domain names using Punycode.
This means there are emoji domains such as [😎🌐.ws](http://😎🌐.ws), but only few browsers still support actually displaying such domains using the intended characters (such as emoji), rather than as Punycode.

## Steps to Reproduce

   1. go to [😎🌐.ws](http://😎🌐.ws)
   2. realize your address bar isn't showing emo

[2020-02-12 13:45] danrobi11 commented on #7325
IPFS extension working here now
Brave version 1.3.115
OS: MX x86_64
Kernel: 4.19.0-6-amd64

[2020-02-12 15:15] #8204 closed

[2020-02-12 15:54] srirambv commented on #8204
Verification passed on

Brave | 1.6.18 Chromium: 80.0.3987.87 (Official Build) nightly (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.15.1 (Build 19B88)
Component | `0.1.44`

- Verified `Learn more` on Add Token screen points to [Brave support page](https://support.brave.com/hc/en-us/articles/360035488071-How-do-I-manage-my-

[2020-02-12 15:55] bridiver commented on #2400
and just to be clear about user confusion, I understand these settings as well as anyone at Brave and I couldn't tell you what should be cleared in shield vs site settings if we split them up. I'm proposing "Shield and Site Settings" for the option text so it's clear to people that it's all site settings including shield settings. Since it isn't checked by default, they won't be deleted unless the

[2020-02-12 16:06] LaurenWags opened #8209 "Video ads on YouTube do not have Skip button when shields are down - follow up to 2763"
## Description
Found while testing #2763

If you have shields down and view a YouTube video with an ad (that has a skip button), the skip button will not be shown.

## Steps to Reproduce

   1. Navigate to youtube
   2. put shields down
   3. View a video with an ad that has a skip button (I used https://www.youtube.com/watch?v=Lam-HQoNYKU)

## Actual result:
no skip button on Ad

## Expected resu

[2020-02-12 16:07] LaurenWags commented on #2763
Per process, opened follow up issue https://github.com/brave/brave-browser/issues/8209

cc @kjozwiak @rebron @bsclifton in case you want to consider the follow up issue for uplift to 1.4.x once fix is confirmed.

[2020-02-12 16:10] LaurenWags commented on #2763
Verified using

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Skip button does not appear as expected, logged follow up issue https://github.com/brave/brave-browser/issues/8209 and referenced https://github.com/brave/brave-browser/issues/2763

[2020-02-12 16:34] LaurenWags commented on #8070
I have not been able to reproduce using

Brave | 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

Tried the following:
* Steps from my original comment about reproducing the issue: https://github.com/brave/brave-browser/issues/8070#issuecomment-582433750
* St

[2020-02-12 16:40] emerick commented on #7588
@srirambv Finally got back to this and it's not happening for me with the latest nightly v1.6.21. If you can still repro, can you make a video showing how it happens from beginning to end? If not possible, maybe we can jump on a video call to do the same?

[2020-02-12 16:48] robincsamuel commented on #8128
I'm observing crashes again every few minutes. Uploaded crash reports, `e26feb194539c74f`, `bd02cd5bc33c2c47`

[2020-02-12 16:51] w0ts0n commented on #8070
Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
Windows 10.

I'm still able to reproduce. (included date and time in screenshot)
![image](https://user-images.githubusercontent.com/2603015/74357533-10286900-4d8e-11ea-8f4e-3fc7624a5c22.png)

[2020-02-12 17:34] srirambv commented on #8013
Looks good. Component update worked fine

[2020-02-12 17:34] #8013 closed

[2020-02-12 17:39] srirambv commented on #8015
Looks good component update looks good and works fine

[2020-02-12 17:39] #8015 closed

[2020-02-12 17:45] srirambv commented on #8014
Looks good components updated and works fine

[2020-02-12 17:45] #8014 closed

[2020-02-12 18:00] Brave-Matt commented on #6291
Very similar +1:
https://community.brave.com/t/i-need-help-with-a-thing/107346

[2020-02-12 18:05] ryanml commented on #6442
@BadseyBurger @foiba @denisediniz @aeikenberry @DruPlusDru @s-ben @dhniels - please see https://www.reddit.com/r/brave_browser/comments/f2uqsv/crypto_wallet_is_one_giant_bug/fhet7nf/ regarding the update. It would be great if you guys could check it out and attempt to log in.

[2020-02-12 18:18] rebron commented on #8070
This looks to be happening on older profiles. New profiles don't seem to be effected.
cc: @simonhong in case he has any ideas.

[2020-02-12 18:20] srirambv opened #8210 "Release Notes for Ethereum Remote Client 0.1.44"
- [brave-browser#7537](https://github.com/brave/brave-browser/issues/7537): Fix `Restore account? Import using account seed phrase`
- [brave-browser#7882](https://github.com/brave/brave-browser/issues/7882): Fix connect to wallet popup to be more responsive to browser size
- [brave-browser#7045](https://github.com/brave/brave-browser/issues/7045): Fix wallet backup screen to be responsive to brows

[2020-02-12 18:49] rebron commented on #6608
@desmonk Can you go into brave://crashes and send the crash report and post the crash id here? If you'd like, you can also set the pref to send crash reports automatically to Brave.

[2020-02-12 18:50] rebron commented on #7325
@nate2014jatc Sending the crash reports over is a help! Thanks.

[2020-02-12 18:52] mattmcalister opened #8211 "Send P3A samples consistently"
A number of samples are appearing in the P3A reports that are not Mondays. All P3A data should be sent consistently according to the spec.

This issue is being addressed on the stats side with https://github.com/brave/stats/issues/461. The client should also correct for incorrect delivery dates.

[2020-02-12 19:34] anthonypkeane commented on #7613
@NejcZdovc is this needed for Android now, to line up with 1.5 Desktop

[2020-02-12 19:48] #8175 closed

[2020-02-12 19:55] LaurenWags opened #8212 "Tor window option shows on macOS File menu when Tor is off in settings"
## Description
Found while testing https://github.com/brave/brave-browser/issues/6808

If Tor is toggled off in brave://settings/extensions, the New Private Window with Tor option is removed from hamburger menu on Normal, Private, and Guest windows. However, it still displays in the macOS File menu but it is grayed out.

## Steps to Reproduce

   1. Navigate to brave://settings/extensions
   2. To

[2020-02-12 20:43] LaurenWags commented on #7249
Verified passed with

Brave | 1.4.85 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

* Reproduced the issue on 1.3.115
* Verified STR from description

[2020-02-12 20:54] btlechowski opened #8213 "MaximumEntriesInAdsShownHistory is not respected"
Follow up to https://github.com/brave/brave-browser/issues/5863
https://github.com/brave/brave-core/pull/3906/commits/517ce8dfa98b7175d0256c442a287dcfbc6d2002
Max is set to 560, I was able to show 3000 entries

## Steps to Reproduce

   1. Clean profile
   2. Enable rewards
   3. View an ad
   4. Close Brave
   5. copy `generate_ads_history.py` to `[PROFILE]\Default\ads_service\`
   6. Run `genera

[2020-02-12 20:57] #1631 closed

[2020-02-12 21:00] anthonypkeane opened #8214 "Autofill with 1Password not showing up for Beta channel App ID"
<!-- Have you searched for similar issues? Before submitting this issue, please check the open issues and add a note before logging a new issue.

"Autofill with 1Password" is not shown when tapping on user/pass fields

Internal Chat: https://bravesoftware.slack.com/archives/CM17J5QMU/p1580700447177300

[2020-02-12 21:00] #8187 closed

[2020-02-12 21:03] btlechowski commented on #8046
Verification passed on

Brave | 1.4.85 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Talked to @tmancey about possible test cases. Max entries in ads shown history is 560.

- Used 560 entries in ads history and verified all 560 entries are shown in ads

[2020-02-12 21:13] anthonypkeane opened #8215 "Android :: Implement "Enabling Sites to Determine Brave" Spec"
## Description

Please implement the "Enabling Sites to Determine Brave" Spec

Search for " "Enabling Sites to Determine Brave" in G-Drive for the Spec

cc @snyderp

[2020-02-12 21:15] anthonypkeane opened #8216 "Desktop :: Implement "Enabling Sites to Determine Brave" Spec"
## Description
Please implement the "Enabling Sites to Determine Brave" Spec

Search for "Enabling Sites to Determine Brave" in G-Drive for the Spec
([also described in below post](https://github.com/brave/brave-browser/issues/8216#issuecomment-590184398))
cc @snyderp

Android Link: https://github.com/brave/brave-browser/issues/8215
iOS Link: https://github.com/brave/brave-ios/issues/2323

## Test

[2020-02-12 21:23] ryanbr commented on #8209
Is fixed in https://github.com/brave/brave-core/pull/4603

[2020-02-12 21:37] anthonypkeane opened #8217 "Android :: Implement Custom Homepage"
Please Implement Custom Homepage

Please search G-Drive for "Custom Homepage" for the spec

[2020-02-12 21:38] anthonypkeane opened #8218 "Desktop :: Implement Custom Homepage"
## Description

Spec: https://docs.google.com/document/d/1DlCHfQXZS3MamKnjCkEHC7yMyJfNObKlgE9X-tJhuEc/edit?ts=5e4f2ece

- [x] Browser side backed - https://github.com/brave/brave-core/pull/4866
- [x] Crx packager - https://github.com/brave/brave-core-crx-packager/pull/97
- [x] Jenkins job - https://github.com/brave/devops/issues/2750
- [x] ~Support re-install super-referrer over existing referrer

[2020-02-12 21:38] btlechowski commented on #7743
Verification passed on

Brave | 1.4.85 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 7 Service Pack 1 (Build 7601.24544)

Verified steps from the description. File used: [client.zip](https://github.com/brave/brave-browser/files/4195141/client.zip)
It has 1000 ads, 10 ads per day. Only mos

[2020-02-12 21:51] LaurenWags commented on #6757
Verified passed with

Brave | 1.4.85 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

Reproduced on 1.3.115:
<img width="953" alt="Screen Shot 2020-02-12 at 4 47 18 PM" src="https://user-images.githubusercontent.com/28145373/74380586-de2bfc80-4db7-11ea-8bed-9096

[2020-02-12 21:56] J-Reis opened #8219 "Rewards claim, human test cannot be passed"
## Description
When trying to claim BAT rewards from ads, the dialogue to "Prove that you are human!" requests that you drag a token over the specified shape. Doing so produces no effect. No error or message of any kind is shown. When released, the semi-transparent drag token simply disappears. There is no way to progress beyond this point in the process.

## Steps to Reproduce
   1. open rewards,

[2020-02-12 22:00] btlechowski commented on #6088
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Ubuntu 18.04 LTS

Verified steps from the description

![image](https://user-images.githubusercontent.com/34715963/74381240-6081e400-4deb-11ea-9d8a-3ba9781e34c6.png)

[2020-02-12 22:15] btlechowski commented on #8209
Reproduced on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Ubuntu 18.04 LTS

[2020-02-12 22:39] #8140 closed

[2020-02-12 22:44] #8203 closed

[2020-02-12 22:48] scottf007 opened #8220 "Large HDD Usage"
Hello,

I have noticed that Brave is using a lot of HDD space - particularly under the Service Worker Folder.
![image](https://user-images.githubusercontent.com/3072332/74384618-c8fdaf00-4e45-11ea-9f72-87d4894580e7.png)

Are we able to put a limit on this - there appear to be two cache folders - and no real settings to control this.

Keep up the great work - Brave is rocking it.

Cheers
Scott

[2020-02-12 22:54] dylangerdaly opened #8221 "Add NextDNS's TRR to Brave's DoH"
## Description
Google and CloudFlare are the only 2 DoH Providers, please add NextDNS

## Brave version (brave://version info)
Desktop (Android defaults to Secure DNS)(?)

## Other Additional Information:
Judging by Mozilla's [Commit](https://hg.mozilla.org/mozilla-central/rev/efc4b4d5834e9298e51025dbb4e88153b94edd31) NextDNS's TRR URL is: `https://trr.dns.nextdns.io/`
## Miscellaneous Information

[2020-02-12 23:01] karenkliu commented on #6831
@deeppandya Settings designs finalized and assets uploaded.  lmk if you need anything else!

[2020-02-12 23:13] fmarier commented on #8167
Test plan: open https://fmarier.github.io/brave-testing/geolocation.html and verify that location is as accurate as it was in older builds.

[2020-02-12 23:29] bsclifton commented on #8214
Noticed this one when using Android Core for ~7 or 8 days. Thanks for capturing, @anthonypkeane 😄

The `Autofile with 1Password` context menu does show fine in the regular Android-Tabs build, but for whatever reason 1Password is not detected/shown when clicking form elements for username / password on Android Core

[2020-02-12 23:31] J-Reis opened #8222 "Feature request: view/cancel pending tips"
I continually receive an "insufficient funds" notification in the rewards panel.

![2020-01-26_08-35-41pm](https://user-images.githubusercontent.com/23666144/74385844-1fbda700-4dba-11ea-8050-cda137cf883a.png)

Apparently I've designated hundreds of BAT to creators that are not set up to accept them … I did have auto-contrib enabled for a time.
**However** none of these pending tips are listed anyw

[2020-02-12 23:52] simonhong commented on #8212
@LaurenWags This is expected behavior. File menu will be updated after re-starting.
Hamburger menu is newly constructed whenever browser window is created.
However, file menu is only constructed when browser launches.

[2020-02-12 23:56] cloudonshore opened #8223 "eth_signTypedData in brave crypto wallet renders without confirm button"
## Description
When using JSON RPC for eth_signTypedData in brave crypto wallet the wallet renders the JSON of the message to be signed, but a confirm button isn't rendered.

<img width="936" alt="Screen Shot 2020-02-12 at 6 37 35 PM" src="https://user-images.githubusercontent.com/1197232/74387969-13404b00-4dc8-11ea-9672-c3607b4cad0e.png">

## Steps to Reproduce

   1. Initialize a wallet in brave

[2020-02-12 23:59] jonathansampson opened #8224 "Incomplete Ads History"
## Description
Brave's Ads History view is showing an incomplete list of ads history.

## Steps to Reproduce
1. Navigate to about:rewards
2. Click '7-day ads history' within Ads panel

## Actual result:
A subset of ads shown over the previous 7 days is displayed

## Expected result:
A complete list of ads shown over the previous 7 days are displayed

## Reproduces how often:
Always

## Brave versi

[2020-02-13 00:08] #7906 closed

[2020-02-13 00:08] #7907 closed

[2020-02-13 00:44] #8188 closed

[2020-02-13 01:50] tomlowenthal commented on #6584
As of now, Tor is not packaged with Brave — it's downloaded on first run from `tor.bravesoftware.com`. If you want Brave without Tor, you can nullroute `tor.bravesoftware.com`, and the Tor component will never be installed.

[2020-02-13 02:56] jonathansampson commented on #8224
I just got an ad, but found that it wasn't included in the _7-Day History_.

[2020-02-13 04:10] Sh1d0w commented on #8224
Hey @jonathansampson do you think the issue I've reported yesterday is related https://github.com/brave/brave-browser/issues/8202

I got no response to it so far, yet a lot of users are experiencing the same since the latest update.

[2020-02-13 04:22] darkdh opened #8228 "Crash on `ReplaceBookmarkNodeGUID`"
## Description

https://stats.brave.com/dashboard#crash/5e442bd5e3ac94006ab195ee

## Steps to Reproduce

N/A

## Actual result:

[code]

## Expected result:
No crash

## Reproduces how often:

## Brave version (brave://version info)

## Version/Channel Information:

- Can you reproduce this issue with the current release?
- Can you reproduce this issue with the beta channel?
- Can you reproduce th

[2020-02-13 04:41] mandar-brave opened #8229 "Critical linking issue for BR"
The onboarding BR link is incorrect.
@NejcZdovc

[2020-02-13 05:25] mayeaux opened #8230 "The dropdown for device recognition is too narrow and you can't see the full value"
![Screen Shot 2020-02-12 at 10 24 14 PM](https://user-images.githubusercontent.com/7200471/74403999-79d46180-4de6-11ea-994b-d00219cc646b.png)

The dropdown here is too narrow and you can't see the full value. That can't be the intended user experience, thought I should point that out

[2020-02-13 05:26] mayeaux commented on #8230
![Screen Shot 2020-02-12 at 10 25 47 PM](https://user-images.githubusercontent.com/7200471/74404053-a2f4f200-4de6-11ea-9f42-8432a1b1d68c.png)

For more context:

[2020-02-13 05:59] jonathansampson commented on #8202
I suspect this is due to some network hiccups during ad confirmation. No need to be alarmed though, as Brave will attempt to confirm those ad views again over the next 24 hours or so. Please check back in a couple of days to let us know if the issue has resolved itself.

[2020-02-13 05:59] jonathansampson commented on #8224
@Sh1d0w I don't believe so; see my response [here](https://github.com/brave/brave-browser/issues/8202#issuecomment-585565376).

[2020-02-13 06:05] simonhong opened #8231 "Shields settings are not cleared via clear browsing dialog with non all time range"
Shields setting is only cleared with `All time` time range.
and shields settings is not counted.
When user opens clear browsing data dialog, it shows settings count by the sub-label.
that number doesn't include shields setting.
<img width="549" alt="Screen Shot 2020-02-13 at 5 57 11 PM" src="https://user-images.githubusercontent.com/6786187/74417621-5b27a680-4e8a-11ea-8024-b3b09702412b.png">

Step

[2020-02-13 06:21] jonathansampson commented on #8224
[This user](https://twitter.com/treego14/status/1227828820448772096) also appears to have an incomplete history of ads displayed:

![image](https://user-images.githubusercontent.com/815158/74407042-b4de9100-4df6-11ea-9f0d-4eda836e8b86.png)

[2020-02-13 06:21] bsclifton commented on #6441
Need to verify- but I think we can close this in favor of https://github.com/brave/brave-browser/issues/8216

[2020-02-13 06:57] #6441 closed

[2020-02-13 06:58] NejcZdovc opened #8232 "Change return from GetAllPromotions"
Right now `GetAllPromotions` returns map from the db. Because we don't actually use map this just add unnecessary complexity. We should change return to a simple vector.

[2020-02-13 07:00] bsclifton commented on #1052
Closing in favor of https://github.com/brave/brave-browser/issues/8216

- solution in https://github.com/brave/brave-browser/issues/8216 will allow detection of Brave
- Chromium is looking at Freezing the UA. More info available:
    - https://www.chromestatus.com/feature/5704553745874944
    - https://bugs.chromium.org/p/chromium/issues/detail?id=955620
- no inclusion/exclusion list needed
- not

[2020-02-13 07:00] #1052 closed

[2020-02-13 07:17] nate2014jatc commented on #7325
@rebron :+1:

[2020-02-13 07:20] NejcZdovc commented on #7613
@emerick @anthonypkeane how does it look right now?

[2020-02-13 08:50] FatBirdie commented on #8216
Please set default to enabled.
Otherwise this feature is more or less useless.

[2020-02-13 08:50] FatBirdie commented on #8215
Please set default to enabled.
Otherwise this feature is more or less useless.

[2020-02-13 09:08] tmancey commented on #8213
@btlechowski can you please retest with 559 ads and then viewing 2 ads, to see if the limit is now 590. The code will not remove ads past 590 as the logic is if exceeding the limit after adding an ad we remove the oldest ad.

[2020-02-13 09:40] desmonk commented on #6608
I got this one:
![crash report](https://user-images.githubusercontent.com/55331939/74421378-d4040f80-4e44-11ea-941b-e19cee0108da.PNG)

[2020-02-13 09:45] tmancey commented on #8128
@robincsamuel @dvmason Can you please submit a crash report and let me know the crash report id. Thanks

[2020-02-13 09:50] ryanbr commented on #1122
From a new profile `Brave Beta (Version 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit))`

Just for the record of the cookies are being blocked in google drive:

![drive-google](https://user-images.githubusercontent.com/1659004/74422189-16643580-4eb3-11ea-8894-ccddba132795.png)

[2020-02-13 09:57] robincsamuel commented on #8128
@tmancey I've upgraded to 1.3.115. I will upload and share the crash report id here if the issue persists. Thanks!

[2020-02-13 09:59] robincsamuel commented on #8128
I just noticed that `brave://sync` is not available on 1.3.115, and therefore not sure if sync is on. The issue wasn't there when I turn off sync.

[2020-02-13 10:34] GeetaSarvadnya commented on #5373
Verification passed on

Brave | 1.4.84 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4210
- Verified that theme change in one Profile affects all other profiles
- Have 3 profiles

[2020-02-13 10:35] srirambv commented on #7551
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
![image](https://user-images.githubusercontent.com/17010094/74425936-7db1c380-4e7a-11ea-9a29-5866159fbac7.png)

[2020-02-13 10:36] mahalde opened #8233 "Crash on new tab using fetch"
## Description

The new tab (brave://newtab) crashes when using fetch in the browser console.

## Steps to Reproduce

   1. Open a new tab (brave://newtab)
   2. Open the browser console
   3. type in `fetch('https://brave.com')`

## Actual result:

The browser window crashes.

## Expected result:
The window should continue to function normally.

## Reproduces how often:

Every time.

## Brave ver

[2020-02-13 10:54] GeetaSarvadnya commented on #5557
Verification passed on

Brave | 1.4.86 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Verified the test plan from https://github.com/brave/brave-core/pull/4210
- Verified that theme changes WebUI according to

[2020-02-13 11:07] srirambv opened #8234 "[Android] Shields is disabled by default on custom tabs [Follow up to #7636]"
## Description
Shields is disabled by default on custom tabs [Follow up to #7636]

## Steps to reproduce

Issue  1
   1.  Install Beta and Nightly side by side
   2. Set nightly as default browser
   3. Open a custom link in Brave
   4. Shields look disabled
   5. Background the app and bring in focus with custom tab, shields shows enabled

Issue  2
   1.  Install Beta and Nightly side by side

[2020-02-13 11:08] srirambv commented on #7636
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified shields is shown on custom tabs
- Logged https://github.com/brave/brave-browser/issues/8234 for Custom tab shields follow up issue

[2020-02-13 11:30] #7752 closed

[2020-02-13 11:31] saasseckin commented on #6358
I was using that :(
Is expanding pinned tab when you hover over it not an option? @bsclifton

[2020-02-13 11:31] srirambv commented on #7550
Verification passed on OnePlus 6T with Android 10
- Verified shields and rewards icons are bigger on nightly as compared to beta
Beta
![image](https://user-images.githubusercontent.com/17010094/74422638-ed24b480-4e74-11ea-99cd-ae3035c8424d.png)
Nightly
![image](https://user-images.githubusercontent.com/17010094/74422706-07f72900-4e75-11ea-9eec-6e51411be0a7.png)
------
Verification passed on Samsun

[2020-02-13 11:32] srirambv commented on #7553
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified private icon is replaced for context menu
![image](https://user-images.githubusercontent.com/17010094/74425738-30355680-4e7a-11ea-8a0a-70ddceca75fa.png)
------
Verification passed on Samsung Tab A with Android 9.0 running 1.6.24 nightly x64 build
- Verified private icon is replaced for context menu
![imag

[2020-02-13 11:51] srirambv commented on #7892
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified settings under developer tools work as expected
------
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified settings under developer tools work as expected

[2020-02-13 11:56] srirambv commented on #7839
Verification passed on OnePlust 6T with Android 10 running 1.6.24 nightly x64 build
- Verified light mode is not shown when app is relaunched
-----
Verification passed on Samsung Tab A with Android 9.0 running 1.6.24 nightly x64 build
- Verified light mode is not shown when app is relaunched
-----

[2020-02-13 11:58] srirambv commented on #7906
Verification passed on Samsung Tab A with Android 9.0 running 1.6.24
![image](https://user-images.githubusercontent.com/17010094/74433368-477a4100-4e86-11ea-8a3f-414021038b2a.png)
![image](https://user-images.githubusercontent.com/17010094/74433375-4a753180-4e86-11ea-99f3-47f3bc2f6d18.png)

[2020-02-13 12:01] srirambv commented on #7907
Verification passed on
![image](https://user-images.githubusercontent.com/17010094/74433551-9d4ee900-4e86-11ea-9711-be3576e3c45a.png)

[2020-02-13 12:05] srirambv commented on #7915
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified disabling rewards button prompts relaunch
- Verified enabling rewards via chrome://rewards when icon is disabled also prompts relaunch and shows icon after relaunch
-------
Verification passed on Samsung Tab A  with Android 9 running 1.6.24 nightly x64 build
- Verified disabling rewards button prompts rel

[2020-02-13 12:15] srirambv commented on #8023
This issue is partially fixed. On Android 10 it still shows chromium icon for the saved apk file but when launched shows Brave icon when apk setup is launched. No issue on Android 9.0 on Samsung Tab
![cr80](https://user-images.githubusercontent.com/17010094/74434490-8ad5af00-4e88-11ea-9dff-3e2a527a8df6.gif)

[2020-02-13 12:17] srirambv commented on #8024
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified no browser crash when selecting privacy from settings
-------
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified no browser crash when selecting privacy from settings

[2020-02-13 12:20] srirambv commented on #8078
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified no browser crash when selecting Brave License or Developer options
-------
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified no browser crash when selecting Brave License or Developer options

[2020-02-13 12:21] srirambv commented on #7927
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified no crash on clean install when visiting epaper.livemint.com
- Verified upgrading from an older nightly build to 1.6.24 doesn't crash when visiting epaper.livemint.com
--------
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified no crash on clean install when visit

[2020-02-13 13:23] neuronetio opened #8235 "Maximize button doesn't work when brave start maximized [linux/kde]"
## Description
When brave start maximized (in classic mode) there is a gap under window and maximize button doesn't work.
When I switch to gtk+ mode (and back to classic mode /or not) everything works just fine.

## Brave version (brave://version info)
Brave	1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
Revision	449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS	L

[2020-02-13 14:53] btlechowski commented on #8224
@jonathansampson Could be related to https://github.com/brave/brave-browser/issues/7743, which is fixed in 1.4.x.

In 1.4.x Ads history got a big rewrite and everything works much better.

[2020-02-13 15:00] emerick commented on #7613
Just needs some tweaks for mobile:

![device-2020-02-13-095836](https://user-images.githubusercontent.com/5033691/74447562-93f25c00-4e47-11ea-8854-a584e622c7c2.png)
![device-2020-02-13-095853](https://user-images.githubusercontent.com/5033691/74447571-96ed4c80-4e47-11ea-9a04-039069bc8be5.png)

[2020-02-13 15:02] NejcZdovc commented on #7613
@anthonypkeane based on what @emerick posted (thank you) I would say that we need to adjust it for 1.5

[2020-02-13 15:09] srirambv commented on #8200
- Verification passed on Samsung Tab A with Android 9.0 running 1.6.24 nightly x64 build
- Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build

[2020-02-13 15:10] LaurenWags commented on #8212
@simonhong I'm actually still seeing it after restart. Are you able to reproduce? I'm using

Brave | 1.4.85 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS Version 10.14.6 (Build 18G103)

[2020-02-13 15:16] emerick commented on #7880
Rechecked with the latest nightly and this still looks OK to me, so closing for now. If we have a specific page that we still see this with, please list it and reopen.

[2020-02-13 15:40] srirambv commented on #7934
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified DDG info bar is shown
- Verified selecting No on DDG modal still shows info bar
- Verified tapping on info bar brings up DDG modal and selecting yes removes the info bar
------
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified DDG info bar is shown
- Verified

[2020-02-13 15:46] srirambv commented on #7926
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified no crash on visiting the link on clean install and upgrade install
------
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified no crash on visiting the link on clean install and upgrade install
------

[2020-02-13 15:47] srirambv commented on #7925
Verification passed on OnePlus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified no crash on visiting the link on clean install and upgrade install
------
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified no crash on visiting the link on clean install and upgrade install
------

[2020-02-13 16:00] srirambv opened #8236 "[Android] Password needs to be masked"
## Description
Password for qa preference should be masked
## Actual result
Plain text visible

## Expected result
masked password

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version? NO
   - Beta build? Yes

## Device details
   - Install type (ARM, x86):ARM
   - Device (Phone, Tablet, Phablet):All
   - Android version:All

## Brave version
1.6.24

### Website

[2020-02-13 16:04] btlechowski commented on #8203
Verification passed on

Brave | 1.6.24 Chromium: 80.0.3987.100 (Official Build) nightly (64-bit)
-- | --
Revision | 3f00c26d457663a424865bbef1179f72eec1b9fe-refs/branch-heads/3987@{#864}
OS | Ubuntu 18.04 LTS

Folders:
![image](https://user-images.githubusercontent.com/34715963/74450083-d6369000-4e7d-11ea-806b-247d6199cc00.png)

URLs:
![image](https://user-images.githubusercontent.com/34715963/744

[2020-02-13 16:06] srirambv opened #8237 "[Android] Grant notification cannot be dismissed"
## Description
Grant notifiation cannot be dismissed

## Steps to reproduce

   1. Install 1.6.24
   2. Enable rewards on staging
   3. Open BR panel, grant notification keeps coming back after closing

## Actual result
![grantclaim](https://user-images.githubusercontent.com/17010094/74453733-d0a26f80-4ea8-11ea-9f01-2faac91a5ef4.gif)

## Expected result
Should not show the grant message again when

[2020-02-13 16:07] bsclifton commented on #8215
@FatBirdie we'll share more details as the spec (not public, it's on our G-Drive as mentioned) gets hardened

As it stands, this would be something always available 😄 No need to turn it on

[2020-02-13 16:07] bsclifton commented on #8216
@FatBirdie we'll share more details as the spec (not public, it's on our G-Drive as mentioned) gets hardened

As it stands, this would be something always available 😄

[2020-02-13 16:08] srirambv commented on #7901
Verification passed on Samsung Tab A with Android 9 running 1.6.24 nightly x64 build
- Verified setting can be checked or unchecked
-----
Verification passed on Oneplus 6T with Android 10 running 1.6.24 nightly x64 build
- Verified setting can be checked or unchecked
-----

[2020-02-13 16:13] foiba commented on #6442
@ryanml I tried refreshing the cryptowallet tab and opening a new one and it failed to work however i was able to log in when I restarted Brave. It doesn't show the BAT I've accumulated and been rewarded but that's something else. Thank you!

[2020-02-13 16:20] mkarolin opened #8238 "Fix build dependency"
Build failed on CI with the following:
<pre>
23:51:44  ../../brave/browser/brave_browser_process_impl.h:14:10: fatal error: 'brave/components/brave_referrals/buildflags/buildflags.h' file not found
23:51:44  #include "brave/components/brave_referrals/buildflags/buildflags.h"
23:51:44           ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
23:51:44  1 error generated.
</pre>

`brave/br

[2020-02-13 16:45] dvmason commented on #8128
@tmancey I downloaded the latest (1.3.115) and it works fine. Thank you!!!!

As far as I know, I've never uses sync, so that wasn't the problem.

[2020-02-13 16:56] #8210 closed

[2020-02-13 17:08] bsclifton commented on #8003
Looks like this is resolved now 😄 🎉

[2020-02-13 17:08] #8003 closed

[2020-02-13 17:33] GeetaSarvadnya opened #8239 "Notification badge is retained even after claiming grants from BR panel"
## Description

Notification badge is retained even after claiming grants from BR panel

## Steps to Reproduce

   1. Clean profile 1.4.x launch using `brave.exe --rewards=staging=true,reconcile-interval=5`
   2. Enable rewards
   3. Click on BAT logo notification
   4. Clear the captcha test in the BR panel itself
   5. Click on settings which navigate to brave://rewards page
   6. Notification b

[2020-02-13 17:40] bsclifton commented on #6358
@saasseckin I don't think so, unfortunately. But it will show `Mute Site` when you right click the pinned tab. Not as easy, but at least it's still possible

[2020-02-13 17:42] #8228 closed

[2020-02-13 17:47] bsclifton commented on #2763
Sorry for all the confusion folks - https://github.com/brave/brave-core/pull/4403 was only merged to 1.5 (which was master at the time). We can uplift to 1.4, per comment here:
https://github.com/brave/brave-core/pull/4403#issuecomment-578346143

So we should consider uplifting https://github.com/brave/brave-core/pull/4403 to 1.4

Is https://github.com/brave/brave-core/pull/4603 still needed?

[2020-02-13 17:54] GeetaSarvadnya commented on #8239
Verification passed on

Brave | 1.4.86 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4177
![image](https://user-images.githubusercontent.com/38657976/74463370-c176ee00-4eb7-11ea-8

[2020-02-13 17:57] Ladrason commented on #2763
@bsclifton
Sorry if this is an unnecessary comment or I'm bringing something unrelated up.

I've had problems with adds not getting their skip button as well on Windows. I'm right now on Brave nightly 1.6.24 and as can be seen [here](https://i.imgur.com/vP0jnmv.jpg) and [here](https://i.imgur.com/nsmddvE.jpg) the skip button still doesn't appear when an ad starts.

[2020-02-13 18:01] LaurenWags commented on #2763
@bsclifton I do not get a skip button on 1.5.x either 😞 see:
https://github.com/brave/brave-browser/issues/2763#issuecomment-584886721
https://github.com/brave/brave-browser/issues/8209#issue-564102098

Just tried again on 1.5.x:

Brave | 1.5.90 Chromium: 80.0.3987.87 (Official Build) dev (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | macOS

[2020-02-13 18:07] GeetaSarvadnya commented on #7275
Verification passed on

Brave | 1.4.86 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4177
![image](https://user-images.githubusercontent.com/38657976/74463370-c176ee00-4eb7-11ea-8

[2020-02-13 18:16] emerick opened #8240 "[Android] Optimize size of NTP images for mobile platforms"
The NTP images/backgrounds require approximately 21MB of space on Android, which adversely affects the size of our APK. We should create mobile-optimized versions of those images for mobile platforms like Android, in order to reduce the space requirements.

For now, we'll temporarily exclude these images on Android so that we can proceed with our beta schedule. See https://github.com/brave/brave-c

[2020-02-13 18:19] dltwyman commented on #7325
crashes here as well :  Linux , Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)

[2020-02-13 18:22] denisediniz commented on #6442
Thank you! The Restore account links redirects to the right page (the Restore page isn't scrollable yet). I can't login right now but just because I made the workaround to delete my local test wallet and I can't create a new wallet, so right now I can't test the login function. I'm going to follow the #7677 issue.

[2020-02-13 18:23] ryanml commented on #6442
@denisediniz Are you not able to submit the account restore form due to a scrolling issue? Can I see a screenshot of this? Do you have your restore phrase that you can use?

[2020-02-13 18:37] denisediniz commented on #6442
Unfortunately I don't have the restore phrase for the deleted wallet. I had removed my local testing wallet through the workaround of deleting the odb... folders within User Data to create another one. As I'll need to create another account to login, with new password and restore phrase, I'm watching the other issue. The Restore acc page isn't scrollable but it works well through tabbing into the

[2020-02-13 18:42] ryanml commented on #6442
@denisediniz Got it, I haven't heard any other reports of scrolling issues on the Restore page but I will file an issue for it. I'd like to help you get back and running on Crypto Wallets, can you email me at rlanese at brave.com so I can work with you? Thanks!

[2020-02-13 18:46] snyderp commented on #6364
Another one `670974cf6d2947cf`

[2020-02-13 18:54] #7908 closed

[2020-02-13 18:55] #7663 closed

[2020-02-13 19:05] GeetaSarvadnya commented on #7218
Verification passed on

Brave | 1.4.86 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4176
Australia, India and Central European Standard Time
![image](https://user-images.githubus

[2020-02-13 19:21] gkgrepo commented on #5075
I was getting a 403 error message as well as follows
![Screenshot - 2_13_2020 , 2_18_48 PM](https://user-images.githubusercontent.com/59545567/74470085-d7f75800-4e6b-11ea-9410-01c320128c17.jpg)..

I had to disable "blocking cross-site cookies" to allow all cookies to get this to work..

![Screenshot - 2_13_2020 , 2_13_31 PM](https://user-images.githubusercontent.com/59545567/74470191-0ecd6e00-4e6c

[2020-02-13 19:23] GeetaSarvadnya commented on #8209
Reproduced on

Brave | 1.4.86 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

[2020-02-13 19:39] #8229 closed

[2020-02-13 20:11] neuronetio commented on #8235
I think that this issue may be related to https://github.com/brave/brave-browser/issues/8155

[2020-02-13 20:28] btlechowski commented on #8180
Unable to reproduce on Ubuntu.

Brave | 1.4.86 Chromium: 80.0.3987.87 (Official Build) beta (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Ubuntu 18.04 LTS

After tipping the `claimed_at`is not set to 0 after tipping or setting monthly tip.

@GeetaSarvadnya make sure you close Brave when checking `publisher_info_db`. And close your DB progra

[2020-02-13 20:38] ryanbr commented on #2763
@bsclifton both https://github.com/brave/brave-core/pull/4403 https://github.com/brave/brave-core/pull/4603 are needed .

[2020-02-13 20:45] Brave-Matt commented on #6291
Another similar +1: https://www.reddit.com/r/brave_browser/comments/f3d78s/how_can_i_stop_brave_from_still_asking_if_it/

[2020-02-13 21:54] tomlowenthal commented on #5314
I just want to confirm that the aim here is to enumerate (small) sets of registerable domains which should be treated as the same for cookie (and perhaps other privacy/storage/shields?) purposes? The title sounds like a global allow-list of sites which should be able to set cookies wherever, but that's not the case, correct?

[2020-02-13 21:56] tomlowenthal commented on #5642
The issue title & summary make this sound like a list of sites where fingerprinting protections wouldn't be applied even if someone has configured their Shields settings to apply them. Is that the case, or is the goal somewhat different?

[2020-02-13 21:56] rebron commented on #7945
@petemill I moved to 1.3.x - Release milestone.

[2020-02-13 21:57] snyderp commented on #5314
There may be two similar-but-different goals here.  The main goal is another tool for fine-grain-web-compat fixing, a way to unbreak a site w/o allowing "everything"

The other goal could be to do something like origin sets / disconnect entity-list.

I don't think anyone is suggesting a allow-list of sites which should be able to set cookies :)

[2020-02-13 21:59] tomlowenthal commented on #5314
I think this feature is complex enough that someone needs to specify out the details of what this specific issue is for. If needed, we can add another issue for the other thing (which should also be specified in detail).

[2020-02-13 22:01] bsclifton commented on #7977
Closing as this was resolved by adding a proxy - see https://github.com/brave/brave-browser/issues/7976 for more info

[2020-02-13 22:01] #7977 closed

[2020-02-13 22:07] snyderp commented on #5314
Okie, just to make sure we're all on the same page, the goal is to have something like the exception rules defined here https://github.com/brave/brave-core/blob/134798d731d3f0a5ee7e3b471c2f4ab843383a59/common/shield_exceptions.cc

But 1) for cookies, and 2) some place easier to change than C++.

If that sounds possibly-useful on your end, i'll update the issue desc now

[2020-02-13 22:09] LaurenWags commented on #7913
Verification passed on Asus Zenfone (x86) with Android 6.0 running 1.6.27 Nightly BraveModernx86.apk
   - Verified STR from description
   - Verified `Verified Open source licenses link to chrome://credits` and chrome://credits page loads from https://github.com/brave/brave-browser/issues/7589
   - Verified https://github.com/brave/brave-browser/issues/7587
![Screenshot_20200213-170529](https://us

[2020-02-13 22:37] snyderp commented on #6618
fwiw, just got an email about this.  I dont think we should leave Google Sheets bugs as P5, seems like its gotta be P3, given how popular the service is.  WDYT?

[2020-02-13 22:37] ryanbr commented on #1122
1. Tested with Brave Beta, removed old profile.
2. Logged into gmail, click on the google drive link (top right)
3. View cookies on google drive. see Allowed/blocked items.

Not sure how reproducible it is, closing and re-opening seems to change this

[2020-02-13 22:59] mkarolin opened #8241 "Upgrade from Chromium 80.0.3987.100 to Chromium 80.0.3987.106"
QA tests:

Check branding items
Check for version bump

[2020-02-13 23:01] tomlowenthal commented on #5314
The only things which I think should potentially be updated out-of-sequence in that file are the sites which get a different UA, and that's being resolved elsewhere. Is there a good example of where it makes sense to ignore the Shields cookie setting?

[2020-02-13 23:05] simonhong commented on #8212
@LaurenWags Oh, you're right! I assumed it would work like app menu.

[2020-02-13 23:21] Brave-Matt commented on #1002
+1 https://github.com/brave/brave-browser/issues/1002

[2020-02-13 23:35] darkdh opened #8244 "Crash right after upgrade to 1.5.90"
## Description

Launch upgrade on dev channel and immediately crash after relaunch

## Steps to Reproduce

   1.  Upgrade to 1.5.90
   2.  Crash  immediately after relaunch

## Actual result:

Crash https://stats.brave.com/dashboard#crash/5e45dbffbf3283006a749dc2
[code]
## Expected result:
No crash

## Reproduces how often:

## Brave version (brave://version info)

Version 1.5.90 Chromium: 80.0.39

[2020-02-13 23:45] darkdh commented on #8244
[code]

[2020-02-13 23:59] kjozwiak commented on #7633
@iefremov mind adding some cases into either https://github.com/brave/brave-browser/issues/7633#issue-546334103 or https://github.com/brave/brave-core/pull/4414 that QA can use to verify this?

[2020-02-14 00:05] jonathansampson commented on #8224
@btlechowski Note, my `adsHistory` state also didn't contain more than the 2 ads shown. Is that known to be related to #7743?

[2020-02-14 00:13] JustWhelmed commented on #353
I prefer black backgrounds cause my eyes get strained at night. It's pretty absurd I can't do something that simple with brave.

[2020-02-14 01:06] ryanbr commented on #6618
Hey @thommesborg can you supply a shared link of the Google sheet? Just so we can reproduce the issue, and see what is causing it

[2020-02-14 01:10] ThirtyWorse commented on #4094
This is a required feature if you actually want to compete with any modern browser. Syncing extensions (but most importantly their settings) is critical to adoption, and the longer brave lags behind on convenience things like this the longer brave will simply lag behind. People simply aren't willing to sacrifice convenience for security, anymore.

Obviously this is a desktop thing, and mobile devi

[2020-02-14 02:33] Valinwolf commented on #353
@JustWhelmed yeah. What gets me is you have two choices: random (and usually overly bright) images or a blinding gradient that is absurdly hideous. I want a simple dark new tab or my favorite website to show when I open a new tab, not a blinding image or gradient. However I don't want to bog down the browser or "add an extra link to the chain of trust" by adding new tab extensions.

[2020-02-14 02:37] simonhong opened #8249 "Build failure on CI - 'brave/components/brave_referrals/buildflags/buildflags.h' file not found"
https://ci.brave.com/job/brave-browser-build-pr/job/hide_sync_menu_from_settings/4/execution/node/287/log/
[code]

[2020-02-14 04:02] Sh1d0w commented on #8202
@jonathansampson Hey, unfortunately the issue does not seem to resolve. It's been more than 24 hours since I got some ads that are not reflected in the counter, not I get BAT for them.

According to my Ads history since 11th of Feb I've received 8 ads, however the counter is stuck on 2 since then.

Let me know if I can help with something in order to better understand the issue.

[2020-02-14 04:09] srirambv opened #8250 "Stats text need to have more contrast with background images for better visibilty"
## Description

Stats text need to have more contrast with background images for better visibilty

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/74498031-518f5480-4f05-11ea-8612-3d8ba9d085c3.png)

## Expected result:
Better visibility of text on images

## Reproduces how often:

Easy

## Brave version (brave://version info)

Brave | 1.6.24 Chromium: 80.0.3987.100 (

[2020-02-14 04:33] #8159 closed

[2020-02-14 04:34] #8241 closed

[2020-02-14 04:37] bsclifton commented on #8238
Closing as a dupe of https://github.com/brave/brave-browser/issues/8249

Fix available here 😄 https://github.com/brave/brave-core/pull/4640

[2020-02-14 04:37] #8238 closed

[2020-02-14 06:13] srirambv commented on #8250
Issue is worse on SI and when hovered over stats
![image](https://user-images.githubusercontent.com/17010094/74500800-19404400-4f0e-11ea-891e-48d94b9cf31a.png)

[2020-02-14 07:01] jonathansampson commented on #8202
Thank you for the update, @Sh1d0w. I'll check-in with the team regarding this immediately.

[2020-02-14 07:21] thommesborg commented on #6618
Ho @ryanbr like I've replied here: https://github.com/brave/brave-browser/issues/6618#issuecomment-554494822 with shields down it works.

There is nothing else in this sheet like text an numbers. You cab easily build your own sheet for testing. This one is shared with the team and is work in process.

[2020-02-14 07:40] bsclifton commented on #8250
@bradleyrichter @karenkliu can you advise a color change that would make sense for this? Also- `Estimated Bandwidth Saved` is new- does that look OK?

[2020-02-14 08:27] ryanbr commented on #6618
I couldn't reproduce it here, even with plain text. Just a sample shared sheet would help

[2020-02-14 08:30] bsclifton commented on #1896
@mcfaith9 issue should be fixed - QA has verified. Are you still encountering this problem?

[2020-02-14 08:37] mcfaith9 commented on #1896
I'm following this issue for a while, and i lost track and forgot this. Yes its working fine now, Thank you!

[2020-02-14 08:39] bsclifton commented on #8150
Thanks for the update, @tasdienes 😄

[2020-02-14 08:40] thommesborg commented on #6618
@ryanbr for the moment I have to rely on a stable service, so I'm on the run with my Chromebook. I can't check the latest version of Brave on this device, because it's a Chromebook.

If you can't repro the issue, maybe it got fixed in between. Will check next time when back home and the MacBook is in reach.

[2020-02-14 08:41] Sh1d0w commented on #8202
@jonathansampson Thanks for the quick response.

Just an update from me - it seems just now I've finally got the counter updated and now the count matches what it should be. I was kinda confused as it was more than 24 hours after the ads appeared and the counter was not updated, but all looks good now. I saw there was some downtime on your ads server and I guess that was really the cause.

Thanks

[2020-02-14 08:41] #8202 closed

[2020-02-14 09:34] neuronetio commented on #8235
![image](https://user-images.githubusercontent.com/25027696/74519162-80adc200-4f15-11ea-8b7f-5e6da3f05908.png)

[2020-02-14 10:39] iefremov commented on #8084
For QA:
1) Launch the browser on a clean profile
2) Check chrome://local-state, find `p3a` section
3) Wait for some time, refresh, random p3a values should be marked as `sent` one per minute

The same can be checked on existing profile by launching the browser with `--p3a-rotation-interval-seconds=5`, waiting for some time (ten seconds), closing the browser - to clear `sent` status of recorded p3a

[2020-02-14 10:42] iefremov commented on #7633
For QA:

On existing profile:
1) Open `chrome://local-state`, find `p3a` values
2) `Brave.Rewards.WalletBalance` and friends should be replaced by `Brave.Rewards.WalletBalance.2`

On a new profile:
After a startup, after a while all mentioned metrics should be contain `0` value at `chrome://local-state`. After enabling/disabling rewards, all of them should be set to `1`. Other values should be set

[2020-02-14 11:35] wknapik commented on #7899
Interestingly, today, after the Tor process spawned by Brave was killed, closing the Tor window and opening a new one did work. A new Tor process was started and the new Tor window works, which is an improvement.

I'm now on an updated Brave version, compared to the original report:
[code]
.|.
------|---
Brave | 1.3.114 Chromium: 80.0.3987.87 (Official Build) unknown (64-bit)
Revision |449cb163497

[2020-02-14 11:37] ryanbr commented on #5714
@chkk525 is this still an issue? (test in Brave beta also?)

[2020-02-14 11:41] tmancey commented on #8224
@jonathansampson @Sh1d0w Closing as this issue is fixed by https://github.com/brave/brave-browser/issues/6757 and https://github.com/brave/brave-browser/issues/7869, we are uplifting to 1.4 and 1.5 for when 1.4 is released. Thanks

[2020-02-14 11:41] #8224 closed

[2020-02-14 11:54] tmancey commented on #8202
@Sh1d0w @jonathansampson this was an issue with server load, the issue should now be resolved

[2020-02-14 11:58] #8138 closed

[2020-02-14 11:59] simonhong commented on #5832
Above design is final one? If so, I'll start implement with it.

[2020-02-14 14:09] PixelHir commented on #2362
As far as I know, it's disabled due to a security concern, since enabling it probably requires you to communicate with Google's servers

[2020-02-14 15:31] matiastucci opened #8254 "brave://settings/braveSync not opening"
## Description

Can't access the sync options in the settings

## Steps to Reproduce

   1. Go to "Settings"
   2. Click "Sync" in the left menu

## Actual result:

I'm seeing the URL change to `brave://settings/braveSync`. But no changes in the view:

![2020-02-14 18-21-17 2020-02-14 18_28_30](https://user-images.githubusercontent.com/3856355/74544212-d1dea580-4f57-11ea-98d3-d2bf6439fd4c.gif)

##

[2020-02-14 15:57] skellam commented on #8254
Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
Sync is greyed out in setting menu for me on Linux Mint installation of Brave.  Also not able to access sync from menu on my Mac OS installation.

[2020-02-14 16:45] swinginsam commented on #8129
Same issue here with a very similar setup.

**Hardware Overview:**
  Model Name:	Mac Pro
  Model Identifier:	MacPro5,1
  Processor Name:	Quad-Core Intel Xeon
  Processor Speed:	2.4 GHz
  Number of Processors:	2
  Total Number of Cores:	8
  L2 Cache (per Core):	256 KB
  L3 Cache (per Processor):	12 MB
  Memory:	32 GB
  Boot ROM Version:	MP51.0084.B00
  SMC Version (system):	1.39f11
  SMC Version (p

[2020-02-14 16:50] #8236 closed

[2020-02-14 17:11] rebron commented on #7373
Hi @SubinDenis Thanks for the suggestion. Best way to provide more feedback and develop ideas more is at community.brave.com. I'm going to close this one out in github and hope to see you over there in our community site.

[2020-02-14 17:11] #7373 closed

[2020-02-14 17:20] rebron commented on #7375
Wontfix. We're not planning on implementing this feature. Possible we may get a fix upstream.

[2020-02-14 17:20] #7375 closed

[2020-02-14 17:21] rebron commented on #7379
@tomlowenthal @jumde Can you guys comment/triage this one?

[2020-02-14 17:23] rebron commented on #7385
cc: @fmarier Can you take a quick look?

[2020-02-14 17:30] rebron commented on #7400
cc: @ryanbr Looks like this issue is fixed in release/beta/etc. Not sure if you addressed this one already.

[2020-02-14 17:32] rebron commented on #7420
@bsclifton Still an issue with 1.4.x?

[2020-02-14 17:37] rebron commented on #7421
Is your camera working in other browsers and on other websites? If it's not working with other browsers it might be camera related. If chromium related, we'll wait for an upstream fix from the chromium side.

[2020-02-14 17:45] rebron commented on #7423
UE for this isn't straightforward. Inconsistent behavior with how sites what you to open new tab/links.

[2020-02-14 17:51] rebron commented on #7448
@connection-reset Can you try with the latest Brave 1.3.x? Also, it looks like something is going on with the keyboard locale and Brave locale. Is everything all German locale based, Brave, keyboard, etc?

[2020-02-14 17:56] rebron commented on #7454
@BennyAK99 Can you try installing 1.3.x our latest release and let us know if you're still having problems with launching Brave?

[2020-02-14 18:01] connection-reset commented on #7448
I have now updated to 1.3.115, it is still happening.
Windows and its on-screen keyboard is German, Brave is English. I have now set Brave to German (Germany) and it made no difference.

[2020-02-14 18:04] rebron commented on #7495
@doom777 Can you update to 1.3.x? Can you also check if you disabled Google login in the Social Network blocking setting. You can check via brave://settings/socialBlocking

If this doesn't work, what's the website you're signing into.

[2020-02-14 18:08] wknapik commented on #7899
Same/similar issue on macOS https://github.com/brave/brave-browser/issues/6629

[2020-02-14 18:09] SergeyZhukovsky commented on #7902
Per discussion we had on a meeting the behaviour till we have a proper design is: the switch should control 3rd party only.

[2020-02-14 18:23] wiim23 opened #8255 "Impossible to resolve claim captcha"
Hi all,
I have a problem to claim my rewards...
When i click on claim, i must resolve captcha "place bat logo on square" for example.
When i drag it on the good figure, each time, i have a wrong result... and, after some tries, "Oops, something is wrong. Please try again later."
I have two months to claim.... and brave is up to date.
Resolution of my pc : 3840x2160
zoom on windows : 250%
No zoom o

[2020-02-14 18:38] rebron commented on #2710
https://support.brave.com/hc/en-us/articles/360019782291#safari for a more targeted link into the section of the article.

[2020-02-14 18:49] fmarier commented on #7385
We'd have to change our build system for this. I suspect it's not something we'll have the resources to do in the near future, but we should keep that use case in mind next time we make changes there because it's quite common for build infrastructure to be disconnected from the Internet (Debian's is the same).

[2020-02-14 18:53] jonathansampson commented on #8202
Note that ad-counts may not be immediately resolved, but could instead take a couple of days. Continue to use Brave as you normally would, and the issue will resolve itself 🙂

[2020-02-14 19:26] #8197 closed

[2020-02-14 19:28] #8068 closed

[2020-02-14 19:34] Strategerizer commented on #7421
Not working in Chrome either so likely Chromium issue that may need them to fix, unfortunately...

[2020-02-14 19:37] figue commented on #7385
Thank you anyway. Instead I don't know if we could simplify the download, for example pulling chromium from the tarball, for instance:

https://commondatastorage.googleapis.com/chromium-browser-official/chromium-80.0.3987.106.tar.xz

Then apply brave patches etc... So with a few sources will be possible to have full sources.

[2020-02-14 20:20] kjozwiak commented on #8254
@matiastucci sync was temporarily disabled due to a few crashes and stability issues that we ran into when we released `1.3.113 CR: 80.0.3987.87`.  When we pushed `1.3.115 CR: 80.0.3987.87` and disabled sync, there was a few UI elements that weren't removed.

We're going to be releasing another version next week that will add a user flag so users will have the ability to turn on sync if they weren

[2020-02-14 20:20] #8254 closed

[2020-02-14 20:51] rebron commented on #8250
@srirambv @bsclifton We need to hide `Estimated bandwidth saved` for desktop as this stat will be used on mobile to replace `HTTPS Upgrades` on mobile.

@srirambv I'm going to ahead and rename this issue.

[2020-02-14 20:53] rebron commented on #8250
Actually, I'll file a separate issue and close this one out as invalid.

This is the issue that added the bandwidth stat.
https://github.com/brave/brave-browser/issues/7783

[2020-02-14 20:56] rebron opened #8256 "Hide Estimated Bandwidth Stat on NTP on desktop"
## Description
Hide `Estimated Bandwidth` stat on NTP for desktop. This stat will be used to replace `HTTPS Upgrades` on mobile but not on Desktop.

## Actual result:
![74498031-518f5480-4f05-11ea-8612-3d8ba9d085c3](https://user-images.githubusercontent.com/5951041/74566822-36ced700-4f29-11ea-805f-1650df6b9cc5.png)

## Expected result:
<img width="1341" alt="Screen Shot 2020-02-14 at 12 55 20 PM"

[2020-02-14 20:58] jenn-rhim opened #8257 "Provide grant expiration forewarn and post-event notifications"
## Description

Inform users about the token grants are about to expire a week in advance. Indicate the amount and the date of expiration.
Post-event notification right after.

@gdregalo @NejcZdovc @alexwykoff

![Screen Shot 2020-02-14 at 12 57 49 PM](https://user-images.githubusercontent.com/4369856/74566993-a3e26c80-4f29-11ea-9b22-ed4f839c8683.png)

![Screen Shot 2020-02-14 at 12 57 54 PM](https

[2020-02-14 21:03] emerick commented on #7880
Reopening as I didn't realize that the "i" icon shows up in the bottom toolbar on a phone, not the URL bar.

[2020-02-14 21:04] rebron commented on #8250
Related: https://github.com/brave/brave-browser/issues/8250 Still in discussion if bandwidth makes sense and replaces `HTTPS Upgrades` or if it's a different stat altogether that replaces `HTTPS Upgrades`. Net of it is we'll only have three stats to show on NTP, not four.

[2020-02-14 21:10] kirillt opened #8258 "Can't update Brave browser on CentOS 8"
## Description
I have installed Brave browser on my CentOS 8.
I am trying to update it but there is an issue with public key.

## Steps to Reproduce
[code]
## Actual result:
[code]
## Miscellaneous Information:
[code]

[2020-02-14 21:28] #7916 closed

[2020-02-14 21:42] Brave-Matt commented on #6391
+1 from Community:
https://community.brave.com/t/reward-equivalent-in-euros/107949/5

[2020-02-14 22:02] #4381 closed

[2020-02-14 22:05] gdregalo opened #8259 "Rewards settings page on android-core has a number of issues."
## Description
1. Claiming a promotion doesn't work (both ugp and ads).
1.1. Once it works please test scenario with multiple claims
(similar problem in tabs repo: https://github.com/brave/brave-browser/issues/7760).
2. `Tips Settings:  Enable content-level tips on these sites` is not available on Android yet. It has to be removed.
3. Setting page doesn't have info on monthly tips. There is no way

[2020-02-14 22:06] gdregalo commented on #8259
Item #4.
![Screenshot_20200214-165912](https://user-images.githubusercontent.com/37560650/74571875-47447900-4f4c-11ea-937d-5729afaf5c1f.jpg)

[2020-02-14 22:10] karenkliu commented on #5832
@simonhong yep! I just attached the designs and specs for you in the original post.

[2020-02-14 22:18] mbacchi opened #8260 "Remove version mismatch check in both b-b and b-c Jenkinsfiles"
The version check was used to validate that the brave-core and brave-browser branches in CI matched. It is requested that we remove it because it rarely catches legitimate errors between the two repositories and causes many more failures that require rebases than are necessary.

In brave-browser the section to remove is [here](https://github.com/brave/brave-browser/blob/master/Jenkinsfile#L884-L89

[2020-02-14 22:24] gdregalo commented on #8259
@NejcZdovc  plase assign someone with web expertise to help with this.
cc: @SergeyZhukovsky @samartnik

[2020-02-14 22:25] bsclifton commented on #8068
@antonok-edm what is a quick way to tell if cosmetic filtering is enabled? Is there a specific page you can mention (maybe edit the original post above to provide the example as a test plan)

[2020-02-14 22:39] bridiver commented on #8260
this is mainly a problem for PR builder, we can leave it for release channel builds

[2020-02-14 23:19] snyderp commented on #7442
@antonok-edm can this be closed?

[2020-02-15 00:23] fmarier commented on #7379
I just verified the latest Nightly (1.6) on Windows and it does use DoH for DNS requests both in normal and private windows when Cloudflare is set as the OS resolver.

Here's how I tested this:

1. Open Brave.
2. Visit https://1.1.1.1/help to confirm that DoH is enabled.
3. Start a wireshark capture.
4. Visit a bunch of random websites to trigger DNS lookups.
5. Stop the wireshark capture.
6. Sort

[2020-02-15 00:58] simonhong opened #8261 "Add os level protocol handler for brave schemed url"
It would be good to load brave url such as brave://settings to Brave browser from other application.

[2020-02-15 03:28] Marr11317 commented on #913
Wow i am really surprised that this still isnt supprted.
Ctrl+Tab sorting as last used has been a default everywhere for years...
Opera managed to make it work, Vivaldi too. These are both Chromium based projects.
Firefox has had it for the long run.

Then at least one for the single last used tabs would be useful.

[2020-02-15 04:04] simonhong opened #8262 "Tor profile related browser tests crash at ProfileDestroyer::DestroyOffTheRecordProfileNow(Profile*) when DCHECK is enabled"
[code]

[2020-02-15 04:43] evanmhm commented on #3642
I am also using Duo for school and I really wish I could use touchID in Brave :/

[2020-02-15 05:44] bsclifton commented on #7420
@rebron works great now! 😄 Closing

[2020-02-15 05:44] #7420 closed

[2020-02-15 08:54] jonathansampson opened #8263 "Redundancies in Command-Line Values"
## Description
The `Command-Line` value in `about:version` often contains redundancies.

## Steps to Reproduce
1. Navigate to `about:version`

## Actual result:
Redundancies in `Command-Line` value.

1.3.115 (current stable) contains the following redundancies:

[code]

1.4.86 (current beta) contains no redundancies.
1.5.91 (current developer) contains no redundancies.
1.6.32 (current nightly) con

[2020-02-15 09:45] tmancey commented on #7938
@petemill Check has been implemented, we just need to match the design, thanks

[2020-02-15 10:49] GeetaSarvadnya commented on #8180
@btlechowski I did close brave and opened DB after every transaction to see the data in DB.

[2020-02-15 12:28] dayfuaim opened #8264 "EverSync extension stopped to work"
## Description
EverSync password sync stopped working.

## Steps to Reproduce

   1. Install latest Brave. Every build go.
   2. Install EverSync extension.
   3. Login to your account.
   3. Try to Synchronize your bookmarks ("Merge" or "Download").

## Actual result:
Nothing happens.

## Expected result:
All your bookmarks are synched. Especially server ones are downloaded.

## Reproduces how of

[2020-02-15 16:43] lukemulks opened #8265 "Twitter tipping success/share tweet: Twitter handle displays as a string of numbers in tweet."
## Description

I was going through the process of tweeting that I had tipped a Twitter creator, and noticed that instead of the twitter handle for the creator displaying the twitter handle as expected, instead the handle was populated by a string of numbers.

Screenshots below show the Twitter Creator w/the proper handle, and what the "I've just tipped" Tweet populated the handle with.
![Screensh

[2020-02-15 21:42] linuxluser opened #8267 "U2F Fails On vanguard.com"
## Description
Fail to use U2F authentication with Yubikey on https://personal.vanguard.com/us/AuthLogin.

## Steps to Reproduce

   1. Go to https://investor.vanguard.com/my-account/log-on.
   2. Login with username/password.
   3. Try to use Yubikey on next screen as 2FA.

## Actual result:
Get error message `There was a problem issuing a challenge for this logon. Please use security codes to si

[2020-02-15 22:07] SrdjanKalaba opened #8268 "Why is Brave not using video decoder"
If you look at task manager while the video is playing you will see that your CPU and GPU 3D-engine are working harder but it is much better to use GPU video decoder engine instead.

[2020-02-15 22:52] MicrosoftTakeover commented on #6346
https://github.com/brave/brave-browser/issues/34

[2020-02-16 04:56] davidrenne commented on #1514
I dont fully understand this issue, I just want TOR tabs to be able to set the country of origin.  Is this possible in brave?

[2020-02-16 06:21] petemill opened #8269 "Browser testing greaselion scripts"
Tests should periodically be run which test greaselion scripts against appropriate sites and user data config in Brave.

A non-official build of Brave could be performed or retrieved and then run with the cli flag pointing greaselion to a local directory. The browser would be run through puppeteer or similar.

Tests would be contained within the Brave-site-specific-scripts repo.

An array of user

[2020-02-16 09:16] jeandat commented on #8255
Same thing here. A lot of claims are waiting (didn't knew I had to do it manually) but they all fail.

[2020-02-16 12:10] tmancey opened #8270 "Brave Ads catalog issuer payment token rotation"

[2020-02-16 12:16] szaimen commented on #8068
I am wondering, too...
Also it seem to doesn't work on some sites. Or is there a learning curve?

[2020-02-16 12:29] lucyyyyyyy commented on #8194
I am also getting this

[2020-02-16 12:55] himanshubabal commented on #7988
Similar problem
The browser works only using `sudo` from the terminal.
I have already posted this issue on Brave Community.
[Please have a look](https://community.brave.com/t/brave-desktop-for-mac-crashing-macos-10-15-3/105955)

[2020-02-16 13:48] mathetinfo opened #8271 "The UI in Private (and Tor) mode"
## Description
The enlarge button (little Square between the Close "X" and Underscore buttons) seems to be not working in the Private (and Tor) mode.

## Actual result:

Nothing happens

## Expected result:
Maximizing the window

## Operating System
Linux Ubuntu

## Brave version (brave://version info)

1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)

[2020-02-16 14:41] emphasis87 commented on #8194
The issue seems to manifest when playing video. I noticed it on the site crunchyroll.com as well.
For the record, I have AMD GPU **Radeon NITRO+ RX 5700 XT 8G**, hopefully it isn't driver-related issue.

[2020-02-16 15:07] jonathansampson opened #8272 "Default Variation on Windows and Android"
## Description
_Field Trials_ are, AFAIK, disabled in Brave. That said, Brave on Windows and Android still enumerate a single variation when you visit `about:version`. This variation appears to be a fallback sampling trial, as [found here](https://source.chromium.org/chromium/chromium/src/+/master:chrome/browser/chrome_browser_field_trials.cc;l=41-48;drc=c945e1ceb5725582cc851cb0b4b72ca8ca37ea8d;bp

[2020-02-16 16:13] eloyesp opened #8273 "[feature request] Use gpg for encryption on Sync, master password, etc"
There were a GPG feature request before to [integrate Mailvelope][1] in the browser, and I think that it could be a good addition, but I think that the main issue is the integration of GPG on all encryption related stuff.

For example, passwords are stored encrypted when there is a master password, but that does not relay on GPG for encryption, making it duplicate that functionality. The same happ

[2020-02-16 17:06] #8180 closed

[2020-02-16 17:06] #8207 closed

[2020-02-16 17:28] szaimen commented on #6317
I tried golem.de again with cosmetic blocking enabled and it still shows first party ads. Is there something I am missing?

[2020-02-16 17:28] szaimen commented on #6318
I tried this again with cosmetic blocking enabled and it still shows first party ads. Is there something I am missing?

[2020-02-16 17:28] szaimen commented on #6422
I tried the link again with cosmetic blocking enabled and it still shows first party ads. Is there something I am missing?

[2020-02-16 19:19] BennyAK99 commented on #7454
@rebron  Yes I've downloaded it and tried opening Brave, it still quit unexpectedly

[2020-02-16 19:26] BennyAK99 commented on #7454
@Brave-Matt I tried running the executable with the args this is was the response from terminal:
 Last login: Sun Feb 16 13:22:24 on ttys000
/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser ; exit;
Ben@Benjamins-MacBook-Pro ~ % /Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser ; exit;
chrome_crashpad_handler: --database is required
Try 'chrome_crashpad_handler --help' fo

[2020-02-16 19:35] pwittchen opened #8274 "Brave on desktop randomly crashes"
Hi,

I'm using Brave on desktop from some time and recently it started randomly crashing. Previously, it worked perfectly fine. It started happening a few days ago. By crashing I mean, favicon is turning into error icon and website is blank. It's quite annoying. It happens randomly for different websites at different time. I tried to clean browser data, history, etc. but it didn't help.

My setup:

[2020-02-16 22:19] jonathansampson commented on #8183
Seeing this manifest itself in Tweets:

![image](https://user-images.githubusercontent.com/815158/74613859-2872ed80-50d8-11ea-94f9-8204b7ebe5f8.png)

[2020-02-16 23:24] simonhong opened #8275 "Build failure from CI - fatal error: 'chrome/common/importer/profile_import.mojom.h' file not found"
[code]

[2020-02-17 00:26] Annihilannic commented on #4024
I thought I was going insane, can't even find it by searching Brave settings, eventually discovered the "power user" link on the QuickTabs settings page, but shouldn't have to find it that way.

[2020-02-17 01:50] rwilliams commented on #7493
This new tab plugin has some killer features along these lines. Editible favorites, adjustable rows, columns. Folders for favorites and pages similar to iOS and Android.

https://chrome.google.com/webstore/detail/infinity-new-tab-pro/nnnkddnnlpamobajfibfdgfnbcnkgngh

I was using this in the past but now that we're getting paid to look at the new tab page it'd be nice to have more features.

[2020-02-17 01:54] simonhong opened #8276 "AutoplayPermissionContextBrowserTest test is failed frequently"
From various PR build in CI.

[code]

[code]

[2020-02-17 05:55] nelsonkyshin commented on #8255
Same here. Can't claim any rewards

[2020-02-17 06:02] bsclifton commented on #8256
Do we want to hide this? I can understand only wanting to see three

Whatever the resolution, we'll need to make sure the gray (which is low contrast and almost disappears) is not used

[2020-02-17 06:05] bsclifton commented on #8255
cc: @NejcZdovc

[2020-02-17 06:13] bsclifton commented on #8274
@pwittchen is there a newer version of Brave available for Arch Linux? That version is behind a bit. We've fixed several crashes for sure and have an updated Chromium in the latest version (`1.3.115`)

[2020-02-17 06:15] bsclifton commented on #6422
@szaimen I don't think first party ads are removed

cc: @antonok-edm @snyderp for confirmation

[2020-02-17 06:16] bsclifton commented on #6318
@szaimen I don't think first party ads are removed

cc: @antonok-edm @snyderp for confirmation

[2020-02-17 06:17] bsclifton commented on #6317
@szaimen I don't think first party ads are removed

cc: @antonok-edm @snyderp for confirmation

It should be possible to block these though using the brave://adblock page and adding the selector

[2020-02-17 06:18] bsclifton commented on #8273
cc: @diracdeltas @fmarier @jumde @riastradh-brave

[2020-02-17 06:18] serp777 opened #8277 "Brave rewards claim broken"
## Description
Attempting to claim brave rewards results in the following error message:

"Brave Rewards is having an issue. Please try again later."

## Steps to Reproduce
Click on "CLAIM" in the brave rewards area

## Actual result:

Oops, something is wrong. Please try again later.
Brave Rewards is having an issue. Please try again later.

## Expected result:

Funds update in the wallet.

## Re

[2020-02-17 06:19] bsclifton commented on #8272
cc: @bridiver

[2020-02-17 06:21] bsclifton commented on #8271
@mathetinfo do you have more information? What version of Ubuntu are you using? What window manager (and what version) are you using? (ex: Gnome 3?)

@srirambv can you reproduce on latest release channel build?

[2020-02-17 06:23] bsclifton commented on #7988
@oivinds can you please try a newer version of Brave? I suspect the problem you had reported originally has been fixed

@himanshubabal what version of Brave are you using? Latest release channel is `1.3.115`

[2020-02-17 06:27] bsclifton commented on #8277
cc: @NejcZdovc

[2020-02-17 06:29] bsclifton commented on #8194
@emphasis87 @lucyyyyyyy to test if it might be driver related, can you please try turning off hardware acceleration? If that DOES resolve the issue, you might turn hardware acceleration back on and then share the values from brave://gpu

I do suspect this is driver related as there are no known issues with content. It might be a problem with X264 decoding

[2020-02-17 06:31] bsclifton commented on #8068
cc: @antonok-edm @ryanbr @snyderp

@szaimen I believe the rules are downloaded as part of the regular adblock definition download and then they should be applied.  As this was just merged, it's only enabled on Nightly

Which version of Brave are you using? If you're on Developer, it may also be available, but you'd need to go to brave://flags/#brave-adblock-cosmetic-filtering to enable it

[2020-02-17 06:35] bsclifton commented on #1514
Hi @davidrenne - this issue is tracking that folks in Germany or France will have Qwant as the default search engine when they open a Tor window and then do a search in the omnibox

When you have a Tor window open, you can verify it's working by visiting:
https://check.torproject.org/

I'm not sure of a reliable way to know where the exit is. But you can request a new circuit using Hamburger menu

[2020-02-17 06:36] bsclifton commented on #6346
Thanks all- will close this as a dupe of https://github.com/brave/brave-browser/issues/34 (session windows)

[2020-02-17 06:36] #6346 closed

[2020-02-17 06:37] bsclifton commented on #8268
@SrdjanKalaba do you have hardware acceleration enabled? Please visit brave://gpu and share the results for what you see there (screenshot or copying the text under `Graphics Feature Status` would work)

[2020-02-17 06:38] bsclifton commented on #8267
cc: @jumde for triage

[2020-02-17 06:41] bsclifton commented on #8265
cc: @NejcZdovc @jsecretan

[2020-02-17 06:43] bsclifton commented on #7938
Not sure this should be labelled as P1, since it's not breaking the product (ex: crash, data loss, etc). P1 would warrant immediately shipping a hotfix when this is resolved. Should this be a P2?

[2020-02-17 06:54] bsclifton commented on #8271
possible duplicate of https://github.com/brave/brave-browser/issues/8155 ?

[2020-02-17 07:18] srirambv commented on #8250
@rebron  the issue was for Text contrast for Estimated time saved and not for `Estimated Bandwidth Saved`. The font contrast still needs to be fixed so reopening it as `Estimated Bandwidth Saved ` will be logged separately

[2020-02-17 07:22] himanshubabal commented on #7988
@bsclifton Yes that was me. Apologies for a different username.
It worked.
Thank You so much

[2020-02-17 07:26] NejcZdovc commented on #8277
@bsclifton this is expected as claim is disabled right now. We will re-enable it when we release hotfix this week

[2020-02-17 07:27] #8277 closed

[2020-02-17 07:31] NejcZdovc commented on #8255
closing as dupe of https://github.com/brave/brave-browser/issues/8277

[2020-02-17 07:31] #8255 closed

[2020-02-17 07:36] bsclifton commented on #7385
I don't think this would be feasible, as we are reaching out to the Chromium git repo and cloning the entire thing (including all history) during `npm run init`

You can however tar up this directory and run `npm run sync -- --all` occasionally (and then re-tar). That would be a good solution to stay up to date and have a semi-disconnected environment

[2020-02-17 07:36] #7385 closed

[2020-02-17 07:50] bsclifton commented on #8258
cc: @mbacchi @bkero @fmarier

[2020-02-17 07:51] simonhong opened #8278 "Disable AutoplayPermissionContextBrowserTest temporarily"
That test is flaky now.
They will be re-enabled after fixing https://github.com/brave/brave-browser/issues/8276.

[2020-02-17 07:58] bsclifton commented on #8199
@MariuzM what version of Brave are you using? Can you try launching from the command line to see if there is any extra ouput? For example:
[code]

[2020-02-17 08:20] bsclifton commented on #8114
This should be resolved now - however, sync is now disabled. Are you able to update @Mister36MN?

If not, you can grab a copy from here (depending on your channel):
- https://brave.com/download-dev/
- https://brave.com/download-nightly/

[2020-02-17 09:33] davidrenne commented on #1514
No what im trying to ask is, I want the ability for Brave to be able to edit my torrc file

/Users/davidrenne/Library/Application Support/TorBrowser-Data/Tor/torrc

Is the path to edit this file in the Tor browser.

I want something in the GUI of the config or want to know how to edit this file in Brave's system.

I like adding only USA servers in TOR via this config.

`ExitNodes {us}
StrictNodes

[2020-02-17 09:44] lucyyyyyyy commented on #8194
I would assume it was a hardware acceleration issue, I also have an AMD RX 5700XT, will test when I can. I should mention this only happened on Windows and not on my previous Arch install.

[2020-02-17 09:55] pwittchen commented on #8274
I was using `brave-bin` package from aur. It seems to be outdated. I'll try other packages which seems more up to date (has newer versions).

You can check them here:
https://aur.archlinux.org/packages/?O=0&K=brave

[2020-02-17 10:22] pwittchen commented on #8274
Ok, I installed `brave-nightly-bin`, which has the latest release version number.
Version 1.6.35 Chromium: 80.0.3987.106 (Official Build) unknown (64-bit).

I'll use it and see if this issue will happen in the future, but for now, I'm closing it.

[2020-02-17 10:22] #8274 closed

[2020-02-17 11:25] ryanbr commented on #6317
https://github.com/brave/adblock-lists/pull/329 Should fix this.

[2020-02-17 11:36] ryanbr commented on #6422
Somehow I missed this ticket, plenty of the german sites are using common Anti-adscripts, this will fix it.

[2020-02-17 11:46] kjozwiak commented on #8180
Should be able to QA this once we get `1.3.116` which as been started 👍

[2020-02-17 11:46] kjozwiak commented on #8207
Should be able to QA this once we get `1.3.116` which as been started 👍

[2020-02-17 12:47] NejcZdovc opened #8279 "Optimize find in dictionary"
We are using this kind of snippet:

[code]

we should change it to

[code]

[2020-02-17 13:00] darkd3vil89 commented on #8273
Agreed, as long imaa as the encryptionalogorithm is at least on par what we use. Irmw ('preferably even sronger/safeer) and if it simultaneously makes the wholen thing more user friendly I an all for!! I love Brave m. Really the first actual honest an reliable browser in many many years * let it only gets better' and not slowly follow the others*

[2020-02-17 13:09] lucyyyyyyy commented on #8194
OK, disabling hardware acceleration does resolve the issue. Here is brave://gpu

[code]

[2020-02-17 13:20] mathetinfo commented on #8271
@bsclifton

OS: Ubuntu 18.04.4 LTS
Window Manager: Gnome 3.28.2

( I'm using a black theme, so I can't tell if I've the same issue as of #8155 )

[2020-02-17 13:26] GeetaSarvadnya commented on #8063
Verification passed on

Brave | 1.4.89 Chromium: 80.0.3987.106 (Official Build) beta (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4507
![image](https://user-images.githubusercontent.com/38657976/74657903-35b2d980-51b7-11ea-

[2020-02-17 13:41] GeetaSarvadnya commented on #6309
Verification passed on

Brave | 1.4.89 Chromium: 80.0.3987.106 (Official Build) beta (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4057
- Tested using tested using https://github.com/fmarier/webrequest-demo:
`https://github.

[2020-02-17 13:49] pinebookfan opened #8280 "armhf.deb for Pinebook Pro please"
Please create a armhf.deb for the Pinebook Pro for Debian 9 Stretch

Thanx!

[2020-02-17 14:00] emphasis87 commented on #8194
Same here, disabling hardware acceleration seems to do the trick.

[2020-02-17 14:03] michaeltintiuc commented on #3196
Just happened to me with `Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)` On Linux, it used to work with 1.2.x

[2020-02-17 14:47] #8260 closed

[2020-02-17 15:09] timsayshey commented on #7814
+1

[2020-02-17 15:11] Nuc1eoN opened #8281 ""DevTools failed to parse SourceMap" warning"
In Brave v1.3.115 if you open any page, go to the Inspector and open the console, there are the following warnings:

[code]

At first I thought it's a website issue but it really seems to be tied to the brave browser.

[2020-02-17 15:33] Mister36MN commented on #8114
@bsclifton  I was able to update to 1.5.86 when it released, and have had no troubles since then.

[2020-02-17 15:34] srirambv opened #8282 "Buttons on top tiles removed message needs padding"
## Description

Buttons on top tiles removed message needs padding

## Steps to Reproduce

   1. Add top tiles
   2. Remove one of the top tiles
   3. Buttons on the top tiles removed message doesn't have padding

## Actual result:

![image](https://user-images.githubusercontent.com/17010094/74667161-d1007a80-51c8-11ea-91d3-953e3c92e7ad.png)

## Expected result:
Should have proper padding

## Repr

[2020-02-17 15:43] GeetaSarvadnya commented on #8241
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

![image](https://user-images.githubusercontent.com/38657976/74667977-4f115100-51ca-11ea-8666-74218853cd31.png)

[2020-02-17 16:01] GeetaSarvadnya commented on #7633
@iefremov  Wiki page needs to be updated. Still, I could see `No wallet created` instead of "Brave Rewards is off". Please update the Q.12 Q.13 Q.14 and Q.17

[2020-02-17 16:28] gdregalo opened #8283 "Panel notification close button closes and immediately re-opens notification."
## Description
When having multiple notifications, the panel notification close button closes and immediately re-opens notification. It covers all wallet details.

## Steps to reproduce

   1.   Get a several notifications (3-5). The easiest way is to have a wallet with a bunch of
         promotions.
   2.  Receive them when the panel is opened.
   3.  Tap close button.

## Actual result
The noti

[2020-02-17 16:41] gdregalo opened #8284 "If have multiple grants, after claiming one from the panel, the next one is shown without CLAIM button."
## Description
Browser-android-tabs' issue and PR:
 https://github.com/brave/brave-browser/issues/7763.
https://github.com/brave/browser-android-tabs/pull/2509.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Dev

[2020-02-17 16:47] bsclifton commented on #8114
Awesome, thanks for the update 😄

[2020-02-17 16:47] #8114 closed

[2020-02-17 16:48] #7988 closed

[2020-02-17 16:50] #8194 closed

[2020-02-17 17:43] gdregalo opened #8285 "[Android] AC notifications doesn't show correct contribution amount."
## Description
AC notifications doesn't show correct contribution amount. The notifications shows 0.00 BAT.

## Steps to reproduce

   1.  After AC open the rewards panel.
   2.  Observe 0.00 BAT on successful  contribution notification.
   3.

## Actual result

## Expected result
Correct amount.

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

[2020-02-17 17:44] gdregalo commented on #8285
![Screenshot_20200316-111757](https://user-images.githubusercontent.com/37560650/74676087-32055f80-5183-11ea-9a40-c39705d9dfc1.jpg)

[2020-02-17 17:44] GeetaSarvadnya commented on #8187
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4592
- Verified `--disable-sync` flag is appended in command line When the sync is disabled
![ima

[2020-02-17 18:35] GeetaSarvadnya commented on #8159
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Verified that by default `Sync` doesn't show up in the side menu in `brave://settings`
![image](https://user-images.githubuser

[2020-02-17 18:36] 3rd-Eden commented on #2999
So is it safe to assume that this issue has absolutely no priority from the Brave team because they use it to inject their own ads into this dashboard and would miss out of revenue if this feature was implemented? Because I honestly don't believe it's that hard to read a user defined URL when a new tab is opened.

[2020-02-17 18:53] GeetaSarvadnya commented on #8158
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
- Verified that Sync option is completely removed from the hamburger menu in normal, PT and TOR tabs.
![image](https://user-imag

[2020-02-17 18:56] SrdjanKalaba commented on #8268
![Annotation 2020-02-17 195557](https://user-images.githubusercontent.com/54671367/74679960-8f1f0680-51bf-11ea-838b-5b5a08ff7ec6.png)

[2020-02-17 19:06] linuxluser commented on #8267
Probably worth noting that I can use U2F perfectly well on Yubico's test site https://demo.yubico.com/u2f/. Also, I successfully signed into my Google account (which uses the same Yubikey and U2F) in a private Brave window.

So, to my knowledge, the issue seems to be specifically with vanguard.com. I've sent a private message to Vanguard describing my issue and linking to this bug. I'll update her

[2020-02-17 19:21] #6422 closed

[2020-02-17 20:33] Thomas-Negrault commented on #8219
Almost the same but I have an error message saying

![Feb-17-2020 21-31-36](https://user-images.githubusercontent.com/6841201/74684775-03ac7200-51cd-11ea-8e85-c55f8c3d8635.gif)

[2020-02-17 20:35] snyderp commented on #6318
@szaimen yes, by design we don't block first party ads. There will be a blog post going up this week detailing the policy, but the goal is to (i) block the privacy harming third party stuff that manages to circumvent network rules, and (ii) to remove the cosmetic blemishes that network blocking causes.  We're intentionally not harming sites that monetize in a privacy-respecting way

Support for `b

[2020-02-17 20:35] #6318 closed

[2020-02-17 20:52] ryanml opened #8286 "Current tab should not be closed via BraveWalletController::CloseTabsAndRestart"
Related to the implementation of: https://github.com/brave/brave-browser/issues/5741

When done here (https://github.com/brave/brave-core/blob/master/components/brave_wallet/browser/brave_wallet_controller.cc#L180) preceding the closing of all Crypto Wallets tab, this can cause race conditions. The current tab should be closed from the extension itself via the `chrome.tabs` api, then this code can

[2020-02-17 21:07] szaimen commented on #6318
@snyderp Actually, I thought this was the core of cosmetic blocking. Also why then removing ads on any of those websites (that doesn't make sense based on your explanation because they are first party ads):
![image](https://user-images.githubusercontent.com/42591237/74686241-2f315b80-51d1-11ea-9c1c-034ae52b14ec.png)

Also will this then be implemented at all https://github.com/brave/brave-browser/

[2020-02-17 21:12] snyderp commented on #6318
In brave, the "core of cosmetic blocking" is (i) remove cosmetic effects of network rules, (ii) hide 3p ads that aren't blocked by network rules.  It is not to block first party ads.

Other tools and extensions have different goals.  If you're looking for something that will block first party ads at the cosmetic layer, there are several extensions that will do that for you.  :)

#5318 is still bei

[2020-02-17 21:22] szaimen commented on #6318
Okay. Thanks for making that clear!
Then it seems like those that I have mentioned aren't really first party ads?

[2020-02-17 21:48] snyderp commented on #6318
They're not cosmetic filters.  We block anything we think might have privacy harm at the network level, 1p or 3p (we rely on EasyList, other similar lists, and Brave generated lists for this).  We don't audit these lists in general because they're enormous and we rely on those groups to do that identification.

The reason we make special exceptions / checks for cosmetic rules is that there is no p

[2020-02-17 22:43] umutcanbolat opened #8287 "To navigate, need to click any link twice on eksisozluk.com"
## Description

To navigate, I have to click any link twice on [eksisozluk.com](`https://eksisozluk.com`). This is one of the most visited websites in Turkey.

## Steps to Reproduce

   1. Visit [eksisozluk.com](`https://eksisozluk.com`)
   2. Click on any link to navigate. This first click won't do anything.
   3. Now click on any other link again to navigate successfully.

## Actual result:

Bra

[2020-02-17 23:52] bsclifton commented on #8280
Hi @pinebookfan

I'm not sure what you're asking for. Can you please explain what armhf.deb is and what you're looking for?

As there isn't any information here, I'll close. But please re-open if you have more infomation

[2020-02-17 23:52] #8280 closed

[2020-02-18 00:14] Th0masL opened #8288 "Add a parameter to be able to build Brave without Tor support"
## Description
I love the Brave browser, but I would like to find a way to be able to disable (or even not install at all) the Tor functionality, because sometimes there are some good reasons to have a web filter (OpenDNS with safemode, for example, to block most of the adult content to protect kids), and the Tor mode allow to bypass most if not any web filter.

## Steps to Reproduce
   1. Impleme

[2020-02-18 00:27] kjozwiak opened #8289 "rewards panel displaying incorrect publishers or none in certain cases when using Twitter"
## Description

We've received several reports from the community mentioning that the `Rewards` panel sometimes displays and incorrect publisher in certain cases. In one of the examples, the user was seeing https://twitter.com/BrendanEich in the panel when viewing their DMs on Twitter.

There's also some cases where there's nothing appearing in the panel when viewing the panel. I've personally ran

[2020-02-18 00:31] kjozwiak commented on #8289
Another example of publishers not being displayed/appearing in the `Rewards` panel.

![emptyPanelTwitter](https://user-images.githubusercontent.com/2602313/74693947-03f04180-51bc-11ea-9c92-bec617385efe.gif)

[2020-02-18 00:36] StephenTurley commented on #8289
Hi, I'm the user in the first screenshot. Here is my info:

Brave | 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Linux
JavaScript | V8 8.0.426.16
Flash | (Disabled)
User Agent | Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.87 Safari/537.36
Command Li

[2020-02-18 00:56] StephenTurley commented on #8289
I'm unable to reproduce this on my other computer for some reason. Looks like the same version of Brave. Bug is present on PopOs/Gnome3 but not Manjaro/XFCE

Brave | 1.3.115 Chromium: 80.0.3987.87 (Official Build) unknown (64-bit)
-- | --
Revision | 449cb163497b70dbf98d389f54e38e85d4c59b43-refs/branch-heads/3987@{#801}
OS | Linux
JavaScript | V8 8.0.426.16
Flash | (Disabled)
User Agent | Mozilla/5

[2020-02-18 01:08] fmarier commented on #8258
I suspect your machine failed to update before our signing key expired. What I suggest is that you uninstall the existing Brave key and then reinstall it.

1. Start by checking which key is installed:

        $ sudo rpm -q gpg-pubkey --qf '%{NAME}-%{VERSION}-%{RELEASE}\t%{SUMMARY}\n'
        ...
        gpg-pubkey-c2d4e821-5e22514c	Brave Software <support@brave.com> public key

2. Remove the key:

[2020-02-18 02:06] stevewhitmore commented on #4412
I think this may be a huge blocker for mass adoption. It seems to be the only thing that stops people from switching from Chrome when I tell them about Brave. Some can see past it but I think if you guys implement this feature you'll see a big increase in new users.

[2020-02-18 02:08] jschinnerer commented on #7252
Apologies for slow response...
Just regressed this. Cleared cookies first. No change for me. Same result, logged in or not (login is not required to complete purchase from homedepot.com so anonymous shopper should get checkout button in any case).

Current brave version:
Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)
On same system as originally reportd.

[2020-02-18 02:27] #7460 closed

[2020-02-18 02:30] jschinnerer commented on #7252
Additional information:
The checkout button is also missing on the cart overlay that appears when an item is added to the cart from any product page.

[2020-02-18 03:05] c0s commented on #3196
Yup, very similar to the behavior reported before. Plus, in some cases the saved password aren't automatically filled in the login form (I can't tell why it works for some sites and not the others).
I am on
 Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)

It is unfortunate, that what seems to be major issue hasn't been addressed for over a year now.

[2020-02-18 04:10] simonhong commented on #7974
I think chromium's extension sync logic could be helpful because chrome is syncing extension list and it installs synced list in background.

[2020-02-18 04:26] srirambv commented on #8188
Superseded by #8241. Marking as QA/No

[2020-02-18 05:29] #8278 closed

[2020-02-18 05:40] bsclifton commented on #1268
@filipemir you should be able to set this:
brave://flags/#allow-insecure-localhost

Give that a shot (set to `Enabled`) and let us know if it works 😄

[2020-02-18 06:05] bsclifton commented on #7816
Closing as I believe this is fixed for the moment. We'll be offering a way to re-enable sync with our upcoming 1.3 release and have several bugs fixed there. Sync is currently disabled as we are working on crash fixes

[2020-02-18 06:05] #7816 closed

[2020-02-18 06:35] srirambv commented on #8229
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Linux

- Verified clicking on ToS on rewards panel opens a new tab and navigates to `https://basicattentiontoken.org/user-terms-of-service/`
- Verified ToS links on `brave://rewards` page links to `https://basicatte

[2020-02-18 06:38] bsclifton commented on #8010
Thanks for the feature request, @zfoxzero 😄 We have a request for this already if you'd like to give it a +1 or leave an additional comment

Please see https://github.com/brave/brave-browser/issues/7538

I'll close this as a duplicate. Thanks again!

[2020-02-18 06:38] #8010 closed

[2020-02-18 06:40] bsclifton commented on #7326
@FozzieHi the flag you mentioned in the original post doesn't exist anymore; do you have another example I can try? All of the flags seem to be working fine for me

What platform are you on? (do you have OS specifics?)

[2020-02-18 06:42] bsclifton commented on #6447
Closing  (looks like we had just forgot to close)

[2020-02-18 06:42] #6447 closed

[2020-02-18 07:34] GeetaSarvadnya opened #8290 "Command line args are listed twice after upgrade"
## Description

Command line args are listed twice after upgrade

## Steps to Reproduce

   1. Clean profile 1.3.115
   2. Upgrade to 1.3.116
   3. Open chrome://version
   4. Command line args are listed twice after upgrade

## Actual result:

Command line args are listed twice after upgrade
![image](https://user-images.githubusercontent.com/38657976/74714168-0603e000-5250-11ea-8359-aac4c67e5adf.

[2020-02-18 07:48] srirambv commented on #8290
This happens when you set the flag to `Disabled` and then set it back to `Default`.

[2020-02-18 08:30] #8075 closed

[2020-02-18 10:13] GeetaSarvadnya commented on #8180
The issue is reported in 1.4.x. The PR https://github.com/brave/brave-core/pull/4202 is not merged in 13.116 hence moving the issue out of 1.3.x hotfix.

[2020-02-18 10:15] willstocks commented on #5759
@ryanbr any other thoughts on this one? Just still seems a bit weird?

[2020-02-18 11:05] hugobuddel opened #8291 "Brave Beta (1.4.90) on linux loses connection to the internet after a while"
## Description

Brave seems to lose connection to the internet after a while.

## Steps to Reproduce

   1. Start Brave.
   2. Use it for about an hour, or just keep it open.
   3. Try to visit a site.

## Actual result:

An empty page with a rotating spinner in the tab. No connection seems to be made.

## Expected result:
The site loading.

## Reproduces how often:

Takes about an hour or so. But

[2020-02-18 11:45] pinebookfan opened #8292 "armhf.deb for Pinebook Pro please!"
Can you create an armhf.deb build of Brave Browser for Debian 9 Stretch Linux.
The only supported processor architecture is now x86.

With Armhf support your browser could work on a raspberry pi or the pinebook pro.
The libc6 version should be 2.24 not higher.
Arm64 is a possible option too, but in my case not necessary.

Please don't close this topic, i'm talking about processor architecture so b

[2020-02-18 11:47] Staant95 opened #8293 "Sync is not working"
Hi, today I updated my system and I noticed that Sync is completely disabled. I am using ubuntu 19.10  and brave version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit). Anyone else has this problem? Any solution?

[2020-02-18 11:50] marec2000 commented on #5793
Same problem here.

It seems that the two files mentioned by aluzardo are missing in Brave.

[2020-02-18 12:05] tmancey opened #8294 "Refactor Brave Ads in preparation for merging Publisher Ads"

[2020-02-18 12:11] srirambv opened #8295 "[P3A] Sent status is not recorded on upgrade [Follow up to #8084]"
## Description

[P3A] Sent status is not recorded on upgrade [Follow up to #8084]

## Steps to Reproduce

1. Clean profile 1.3.115
2. Open brave://local-state
3. Check P3A stats, sent is false no timestamp is recorded  for all stats
4. Upgrade to 1.3.116
5. Close brave and launch using `brave-browser --p3a-rotation-interval-seconds=5`

## Actual result:

Sent value is not updated

## Expected resu

[2020-02-18 12:12] GeetaSarvadnya commented on #8295
Reproduced in windows 10 x64 - 1.3.116

[2020-02-18 12:14] iefremov commented on #8295
there is a backoff delay right after the browser start. For how long have you been waiting? @GeetaSarvadnya

[2020-02-18 12:15] GeetaSarvadnya commented on #7633
Verification is inprogress

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified https://github.com/brave/brave-browser/issues/7633#issuecomment-584577515
[code]

[2020-02-18 12:21] GeetaSarvadnya commented on #8295
@iefremov I have waited for almost 2 mins after the browser restart

[2020-02-18 12:22] srirambv opened #8296 "[P3A] Incorrect value set for Q12 / WalletBalance (Brave.Rewards.WalletBalance.2)"
## Description

[P3A] Incorrect value set for WalletBalance [Follow up to #7633]

## Steps to Reproduce

Scenario 1:
   1. Clean install 1.3.116
   2. Open local-state
   3. `Brave.Rewards.WalletBalance.2` is set to 0 (as expected)
   4. Enable Rewards
   5. `Brave.Rewards.WalletBalance.2` is set to 2[`10-50 BAT, excluding grants`] instead of 1[`Less than 10 BAT (0-9), excluding grants`]

Scenario

[2020-02-18 12:25] iefremov commented on #8295
ah, sorry, this is probably because of the wrong flag. No just restart browser without `--p3a-rotation-interval-seconds=5`. It doesn't let you actually send any data. I specified it in order to clean the `sent` state

[2020-02-18 12:37] GeetaSarvadnya commented on #8295
@iefremov @srirambv after upgrade without using the flag `--p3a-rotation-interval-seconds=5`. I am getting the expected results.
![image](https://user-images.githubusercontent.com/38657976/74736798-8854ca00-5279-11ea-942a-723c3d5f2d17.png)

[2020-02-18 12:42] iefremov commented on #8295
Thank you @GeetaSarvadnya

[2020-02-18 12:47] srirambv commented on #8295
Confirmed working on Linux as well when browser is launched without the command line args
![image](https://user-images.githubusercontent.com/17010094/74737459-e9c96880-527a-11ea-922e-d257ee3228c9.png)

[2020-02-18 12:55] jonathanKingston opened #8297 "Get Chromium browser_tests working"
Running `npm run test -- browser_tests` currently ends in a compiler error preventing any of the tests to run.

This means I can't verify Chromium test are broken with other changes such as: https://github.com/brave/brave-browser/issues/8184

[2020-02-18 13:06] jonathanKingston commented on #8297
Also for the record, I see a lot of test failures already when running this locally. Stuff that likely could be causing issues. I have no idea what runs in CI however it's must not be running at least for a debug build.

[2020-02-18 13:31] GeetaSarvadnya opened #8298 "P3A- Incorrect response value when wallet created and Auto-Contribute off"
## Description

Found while testing https://github.com/brave/brave-browser/issues/7633
P3A- Incorrect response value when wallet created and Auto-Contribute off

Q13: Have you made use of Auto-contribute in Brave Rewards?
(Brave.Rewards.AutoContributionsState)

1. No wallet created
2. Wallet created, Auto-Contribute off
3. Auto-contribute enabled, no contribution so far
4. Auto-contribute enabled,

[2020-02-18 13:34] FozzieHi commented on #7326
@bsclifton I don't have any other flags to try, it's possible this behaviour could be replicated by using other Expired flags that are shown when the "Temporarily unexpire M<version> flags." flag is enabled, if not the issue is probably obsolete.

[2020-02-18 14:09] LaurenWags opened #8299 "[Android] android-core doesn't limit ads in tray to 3"
## Description
Android Tabs limited ads in the tray to 3, Android Core should do the same. Currently, it is not. I have let ads stack up in the notification tray so that I have gotten at least 5.

## Steps to reproduce

   1. Be in a region with lots of ads
   2. Browse normally
   3. Watch ads pile up in the notification tray

## Actual result
See multiple ads in tray. Note, due to https://github

[2020-02-18 14:12] GeetaSarvadnya opened #8300 "P3A - Incorrect response values for Auto-contribute in Brave Rewards"
## Description

P3A - Incorrect response values for Auto-contribute in Brave Rewards (Q13)
Q13: Have you made use of Auto-contribute in Brave Rewards?
(Brave.Rewards.AutoContributionsState)

1. No wallet created
2. Wallet created, Auto-Contribute off
3. Auto-contribute enabled, no contribution so far
4. Auto-contribute enabled, one successful contribution so far
5. Auto-contribute enabled, more th

[2020-02-18 14:35] DustVoice commented on #6608
I have the same error on linux (Arch Linux, Kernel version `5.5.4.arch1-1`, package `brave-bin` from the `AUR`, with `brave --version` = 79.1.2.43)! The page that this error occurs the most on is reddit.com! Even in an Incognito tab... I also deleted my cache and cookies, but the problem still persists. It might also be worth mentioning that the error just suddenly appeared, with no foreshadowing

[2020-02-18 14:37] DustVoice commented on #6608
Even the [support article](https://support.brave.com/hc/en-us/articles/360018192251-How-do-I-fix-page-crashes-and-other-page-loading-errors-) crashes...

[2020-02-18 14:54] srirambv commented on #8295
Working as expected hence closing

[2020-02-18 14:54] #8295 closed

[2020-02-18 14:59] GeetaSarvadnya commented on #8084
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-browser/issues/8084#issuecomment-586204158
- Verified the existing profile without using the flag `--p3a-ro

[2020-02-18 14:59] snowbound commented on #2362
This was working for a couple of months for me once I enabled it. However with Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit) the YouTube notifications are dead in the water here. Verified that YouTube notifications are enabled and Use Google Services for Push Messaging is enabled. Firefox has no issues with receiving notifications.  I also notice that Brave can no longer delete

[2020-02-18 15:09] GeetaSarvadnya commented on #8228
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan from https://github.com/brave/brave-core/pull/4623
- No crash and no error logs in the console
![image](https://user-images.githubusercontent.c

[2020-02-18 16:04] GeetaSarvadnya commented on #8203
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description
![image](https://user-images.githubusercontent.com/38657976/74753653-7170a080-5296-11ea-94e0-26dfb7cc804f.png)

[2020-02-18 16:15] srirambv opened #8301 "[P3A] Brave.Rewards.TipsState.2 value 4 isn't captured when a recurring tip is set"
## Description

[P3A] Brave.Rewards.TipsState.2 value 4 isn't captured when a recurring tip is set

## Steps to Reproduce

   1. Clean install `1.3.116`
   2. Check Brave.Rewards.TipsState.2 value is set to 0
   3. Enable rewards and claim grant
   4. Check Brave.Rewards.TipsSate.2 value is set to 2
   5. Set recurring tip to verified pub
   6. Check Brave.Rewards.TipsState.2 value is set to 2 and

[2020-02-18 16:23] mbacchi commented on #8027
Have not heard anything from Apple support since the initial ticket acknowledgement.

[2020-02-18 16:35] LaurenWags commented on #8290
Can't reproduce using STR from description on macOS, but can reproduce using https://github.com/brave/brave-browser/issues/8290#issuecomment-587325681 on both clean and upgrade profiles.

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | macOS Version 10.14.6 (Build 18G3020)

[2020-02-18 16:35] GeetaSarvadnya commented on #8207
Verification passed on

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the test plan2 from https://github.com/brave/brave-core/pull/4602
- After verifying the test plan 2, ensured that the following request was made once the bro

[2020-02-18 16:38] srirambv commented on #7633
Verification passed on
#### `Brave.Rewards.WalletBalance.2`
- Verified `Brave.Rewards.WalletBalance.2` is set to 0 on clean profile when rewards is not enabled
![image](https://user-images.githubusercontent.com/17010094/74729474-88010280-526a-11ea-9ec9-7f5311127bd2.png)
- `Brave.Rewards.WalletBalance.2` is set to `2` after enabling Rewards (#8296)
- Verified `Brave.Rewards.WalletBalance.2` is upda

[2020-02-18 17:27] #8283 closed

[2020-02-18 17:59] samartnik opened #8302 "[Android] Crash on receiving referrer"
java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2417)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:2477)
  at android.app.ActivityThread.-wrap11 (ActivityThread.java)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1345)
  at android.os.Handler.dispatchMessage (Handler.java:102)
  at android.os

[2020-02-18 18:08] buckley310 commented on #5717
This would be a big win in my opinion. Chromium (and thus chromium-based browsers) used to have a command line flag for this, but it was removed, ostensibly because they think it's GTK's problem.
https://bugs.chromium.org/p/chromium/issues/detail?id=154776
Regardless of where the correct place to solve this is, it remains unsolved for 7 years.

This is keeping me from even giving Brave a fair shot

[2020-02-18 18:08] iefremov opened #8303 "Check/fuzz/fix old parsers"
We have some pretty old parsers like

https://github.com/brave/extension-whitelist/blob/master/extension_whitelist_parser.cc
https://github.com/brave/autoplay-whitelist/blob/master/autoplay_whitelist_parser.cc

and probably others, that do not look quite safe - lots of raw string parsing, including `strlen`, `sscanf` and friends. Inputs for these come from the component updater, and this is a pote

[2020-02-18 18:09] iefremov commented on #8303
cc @diracdeltas @bbondy

[2020-02-18 18:47] GeetaSarvadnya commented on #8298
Working as expected hence closing the issue.

[2020-02-18 18:47] #8298 closed

[2020-02-18 18:47] mkarolin opened #8304 "Upgrade from Chromium 80.0.3987.106 to Chromium 80.0.3987.116"
QA tests:

Check branding items
Check for version bump

[2020-02-18 18:47] GeetaSarvadnya commented on #8300
working as expected hence closing the issue

[2020-02-18 18:47] #8300 closed

[2020-02-18 18:51] diracdeltas commented on #8303
@bbondy i don't think this necessarily needs to be moved into the main repos, but the benefit would be that it's more visible to hackerone reporters who are looking for this sort of issue. also if we added fuzzing checks in that repo, it would cover these files.

[2020-02-18 19:17] karenkliu opened #8306 "[Shields settings] order and relabel cookies and fingerprinting dropdown items from block most to block least"
## Description
The dropdown items for blocking cookies and fingerprinting in Shields should be ordered from block most to block least options.

## Steps to Reproduce

   1. Open Shields
   2. Click on the dropdown element for cookies or fingerprinting

## Actual result:
<img width="283" alt="Screen Shot 2020-02-18 at 11 14 13 AM" src="https://user-images.githubusercontent.com/2388823/74769867-0300

[2020-02-18 19:25] ryanbr opened #8307 "Make Shield blocking of scripts more granular"
## Description
Allow option to disable/enable on all script being loaded

## Steps to Reproduce

   1. Visit `https://support.microsoft.com/en-us/allproducts`
   2. Open Shields, Click on drop down menu of `Scripts blocked`
   3. Click on the `+`

## Actual result:
No option to selectively block certain scripts (not just allow all)

![example](https://user-images.githubusercontent.com/1659004/7477

[2020-02-18 19:36] bsclifton opened #8308 "Upgrade to Chromium 81.0.4044.62"
## Description
Upgrade from Chromium 80.0.x.x to Chromium 81.0.4044.62

## QA tests:

**This is a major Chromium version bump, please do full passes.**

Affected areas:
1. Themes (specifically, correct themes for private/tor/guest, theme switching, multiple profiles).
2. Top site suggestions.
3. Profile menu/avatar.
4. History UI.
5. Google messaging (setting is preserved on upgrade, en/disabling

[2020-02-18 20:18] #8284 closed

[2020-02-18 20:48] #8302 closed

[2020-02-18 20:51] rebron commented on #8070
I think this will be fixed in 80.0.3987.116 with https://chromium.googlesource.com/chromium/src/+/b1738fb61215bb8610e08f65de4d01681e250f7f

[2020-02-18 20:53] multiojuice commented on #8293
I am also not able to access sync settings on MacOS desktop. I go to settings and click sync and there is no response. Nothing comes up when searching sync in settings either.

[2020-02-18 21:37] LaurenWags commented on #8296
Reproduced on macOS.

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | macOS Version 10.14.6 (Build 18G3020)

Restored a wallet with 28 BAT (no grants). Expected "Brave.Rewards.WalletBalance.2" value to be 3 for "10-50 BAT, excluding grants", however it is still displaying 2, even after

[2020-02-18 21:41] tomlowenthal opened #8310 "Ensure that anti-fingerprinting farbling defenses can be controlled through specific Shields toggles (rather than the global Shields toggle)"
As currently implemented, the farbling defenses are controlled by the global Shields toggle: when Shields is on, farbling is enabled; when Shields is off, farbling doesn't happen. Unfortunately, that creates a UX conundrum in which Shields in advanced mode has different behavior in the case where the global preference is off vs the case where the global preference is on, but all the sub toggles ar

[2020-02-18 22:13] LaurenWags commented on #7633
Verified passed with

Brave | 1.3.116 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | macOS Version 10.14.6 (Build 18G3020)

* Verified test plan from https://github.com/brave/brave-browser/issues/7633#issuecomment-586205442

* For Upgrade profile, `Brave.Rewards.WalletBalance`, `Brave.Rewards.AutoCont

[2020-02-18 22:18] #8304 closed

[2020-02-18 22:33] fl4shback commented on #5508
Pretty sure this is a chromium issue, noticed it with Brave and Microsoft Edge Chromium.

I searched the chromium bug tracker but didn't seem to find anything...

[2020-02-18 22:46] rebron commented on #5508
@fl4shback Thanks for finding the link. We'll follow progress there.

[2020-02-18 23:00] rebron commented on #5717
Looks like fix for this is being tracked here: https://bugs.launchpad.net/gtk/+bug/124440

What's insufficient about: https://chrome.google.com/webstore/detail/chromium-wheel-smooth-scr/khpcanbeojalbkpgpmjpdkjnkfcgfkhb?hl=en-US

Supporting or bringing back --scroll-pixels resolves this for everyone? Because I don't see us doing any UI work for this.

[2020-02-18 23:05] webash commented on #8293
@multiojuice see above comment by @MrHaroldA : the sync code has been completely (but temporarily) disabled in order to prevent whole-browser crashes.

[2020-02-18 23:19] LaurenWags opened #8314 "sometimes get 'Device list is empty' on brave://sync after creating another sync chain - follow up to 7412"
## Description
Found while testing https://github.com/brave/brave-browser/issues/7412

Sometimes when re-creating a sync chain, I get an empty device list on brave://sync page. Usually deleting the chain and re-creating it adds the device I'm on to the list so it is no longer empty.

## Steps to Reproduce

   1. Create a sync chain
   2. Delete the chain
   3. Start a new sync chain (without addin

[2020-02-18 23:28] LaurenWags commented on #7412
Verified passed with

Brave | 1.3.117 Chromium: 80.0.3987.106 (Official Build) (64-bit)
-- | --
Revision | f68069574609230cf9b635cd784cfb1bf81bb53a-refs/branch-heads/3987@{#882}
OS | macOS Version 10.14.6 (Build 18G3020)

* After enabling the sync flag, verified the STR from the description
* After enabling the sync flag, verified the test plan from https://github.com/brave/brave-core/pull/4281
*

[2020-02-19 00:19] Grathium-Industries opened #8315 "Brave Rewards not Working"
## Description
ads are not displaying and therefore not getting any BAT

## Steps to Reproduce

   1. Enable Brave Rewards
   2. No ads getting displayed
   3.

## Expected result:
expecting ads

## Brave version (brave://version info)
Brave version 1.3.115

## Version/Channel Information:

#### haven't checked any other channels
- Can you reproduce this issue with the current release?
- Can you r

[2020-02-19 00:45] fmarier opened #8316 "[Android] Using the location API crashes the browser"
## Description

Use the location API on a webpage crashes Brave Beta.

## Steps to reproduce

   1. Visit https://fmarier.github.io/brave-testing/geolocation.html
   2. Click the "Show my location" button.

## Actual result

Brave crashes entirely.

## Expected result

Something like:

    Latitude: 49.1... °, Longitude: -123.1... °

## Issue reproduces how often

Always

## Issue happens on
   -

[2020-02-19 01:00] yrliou commented on #8316
[code]

[2020-02-19 01:36] buckley310 commented on #5717
It's being tracked in several places, and if you follow all the finger-pointing the consensus seems to be that it's the windowing compositor's problem, so for X11 the solution is this xf86-libinput driver patch (or some revised version of it):
https://gitlab.freedesktop.org/xorg/driver/xf86-input-libinput/merge_requests/12
however when i applied that patch lots of other software started scrolling

[2020-02-19 01:55] kjozwiak commented on #8134
@fmarier can we close this off and move it into the https://github.com/brave/brave-browser/milestone/79?

[2020-02-19 02:13] abh-oss01 commented on #2400
+1 from me

[2020-02-19 03:25] #8275 closed

[2020-02-19 03:39] kjozwiak commented on #8178
Removing this from the [1.3.x - Release Hotfix 2](https://github.com/brave/brave-browser/milestone/80) milestone. As https://github.com/brave/brave-core/pull/4588 is still opened and hasn't been verified on `master`, this won't be making the `1.3.x HF2` release. Sync is still going to be disabled by default so we still have some time. We should get this into `1.4.x`.

[2020-02-19 04:15] kjozwiak opened #8317 "Release Notes for 1.3.x Hotfix 2 (Release Channel)"
Release Notes
 - Sync crashes browser with "std::__1::basic_string, std::__1::allocator >::assign(char const*, unsigned long)" after re-creation of sync chain.([#7412](https://github.com/brave/brave-browser/issues/7412))
 - Fix P3A metrics reporting wallet state.([#7633](https://github.com/brave/brave-browser/issues/7633))
 - Reduce interval between P3A pings from ~1 hour to ~1 minute.([#8084](htt

[2020-02-19 04:25] CHEF-KOCH commented on #7065
1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit) fixed it for me.

I close it now. Thanks for the feedback guys! ❤️

[2020-02-19 04:25] #7065 closed

[2020-02-19 05:19] kjozwiak commented on #8304
QA will also go through the following reduced manual passes to ensure that nothing obvious has regressed:

* Manual test run on OS X for 1.3.x - Release Hotfix 2 #8189
* Manual test run on Windows x64 for 1.3.x - Release Hotfix 2 #8190
* Manual test run on Linux for 1.3.x - Release Hotfix 2 #8191

[2020-02-19 05:20] kjozwiak commented on #8304
Verification **PASSED** on `macOS 10.15.3 x64` using the following build:

Brave | 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | macOS Version 10.15.3 (Build 19D76)

<img width="1061" alt="Screen Shot 2020-02-19 at 12 17 08 AM" src="https://user-images.githubusercontent.com/2602313/74804227-9

[2020-02-19 05:54] yrliou opened #8318 "Failed DCHECK when quitting browser with Tor window opened"
## Description
When quitting Brave with Tor window is still opened, a DCHECK is failed (`NOTREACHED()`) and crash the browser.
Found when looking at https://github.com/brave/brave-browser/issues/8262, the crash stack is the same.

## Steps to Reproduce
1. Open a debug build or a build with DCHECK on
2. Open a Tor window
3. Quit Brave

## Actual result:
Hit NOTREACHED and crashed when DCHECK is on.

[2020-02-19 06:04] bsclifton commented on #8070
Closing - we should be able to verify this with latest build. I suspect this was fixed with https://chromium.googlesource.com/chromium/src/+/b1738fb61215bb8610e08f65de4d01681e250f7f

[2020-02-19 06:04] #8070 closed

[2020-02-19 06:31] srirambv commented on #8057
Issue still reproducible on

Brave | 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | Linux

[2020-02-19 06:32] iefremov commented on #8262
This could be catched by tests
[code]
just need to build & run with `dcheck_always_on=true`

[2020-02-19 06:41] bsclifton commented on #8297
@jonathanKingston do you have more information about this?

You're mentioning trying to run the Brave browser tests (using `npm run test -- browser_tests`). But in the issue title you're mentioning getting Chromium browser tests working

Have you tried to run the actual Chromium unit/browser tests? I think these are only built if you try to build Chromium source. We should be able to do this (woul

[2020-02-19 06:46] fmarier commented on #8134
Sounds good to me.

[2020-02-19 06:57] bsclifton commented on #8297
OK reproduced:
[code]

Going to pull your branch down and give it a go 😄

[2020-02-19 07:26] AlexeyBarabash commented on #8314
In the case when the device hadn't appear immediately, device would appear on the next poll cycle, which would happen next 60 sec or bit more.
So need to wait ~ 1 min or bit more to allow device to appear.

[2020-02-19 08:01] kjozwiak commented on #8070
@w0ts0n mind checking one more time using https://github.com/brave/brave-browser/releases/tag/v1.3.118 which includes the css-grid revert that @bsclifton mentioned above.

[2020-02-19 08:54] kerner1000 commented on #4094
For now, I would like to manually sinc, using [unison](https://www.cis.upenn.edu/~bcpierce/unison/). Can anyone tell, which files/ folders I need to sync (both devices ubuntu desktop)?

[2020-02-19 09:05] srirambv commented on #8070
Verification passed on

Brave | 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | Linux

- Verified steps from issue description
- Verified switch knobs are correctly aligned
- Dark Theme
![image](https://user-images.githubusercontent.com/17010094/74818523-d672d780-5324-11ea-895f-316360c457dd.png

[2020-02-19 09:25] Peacock365 opened #8319 "Enable the prefetch-privacy-changes flag by default"
## Description

**The Brave flags "Reduce default 'referer' header granularity." and "Prefetch request properties are updated to be privacy-preserving" should be enabled by default, in order to improve the default privacy of Brave users. No website breakage is expected here, no performance degradation is expected here. I have visited several major websites so far with both of these settings enable

[2020-02-19 09:54] srirambv commented on #8191
Looks good

[2020-02-19 09:54] #8191 closed

[2020-02-19 10:48] tmancey opened #8320 "[Desktop] Reduce Brave Ads compile times/break cyclic dependency between code using forward declarations"
Reduce Brave Ads compile times/break cyclic dependency between code using forward declarations

[2020-02-19 11:01] jonathanKingston commented on #8297
@bsclifton it's noisy certainly, however the `--filter` flag is useful for running certain tests. I ran the tests for roughly 4 hours. There are about 1k of tests that fail.

I'm hoping to chase down the following error lines:

Which account for well over 1k of the console lines.

[2020-02-19 11:56] GeetaSarvadnya commented on #8190
Looks good hece closing the issue.

[2020-02-19 11:56] #8190 closed

[2020-02-19 13:09] pinebookfan commented on #8292
AppImageLauncherNow works on Pinebook Pro:
https://github.com/TheAssassin/AppImageLauncher/releases

So an armhf appimage is now possible! Make it's easier to make :)

[2020-02-19 13:11] pinebookfan commented on #8292
Maybe!

[2020-02-19 13:12] pexaorj commented on #8293
Any news when the sync option is will be enabled again?

[2020-02-19 13:44] slayer commented on #7967
hello? anybody home?

[code]

[2020-02-19 14:13] MrTeeXD commented on #7268
Issue still exists and it is really annoying me now

[2020-02-19 15:36] #8178 closed

[2020-02-19 15:53] #8189 closed

[2020-02-19 15:58] tnettle commented on #3491
Still happening in 2020 with Brave version Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)  on Windows 10 . Must be a fix coming soon.

[2020-02-19 16:25] bsclifton commented on #8293
cc: @rebron @jsecretan

[2020-02-19 16:33] bsclifton commented on #8280
Thanks for creating https://github.com/brave/brave-browser/issues/8292 with more information 😄

[2020-02-19 16:34] bsclifton commented on #8319
cc: @snyderp @tomlowenthal

[2020-02-19 16:44] #8286 closed

[2020-02-19 16:44] #8317 closed

[2020-02-19 17:13] snyderp commented on #8319
I _think_ we already do this, but just w/o using the code paths Chrome uses.  We aught to just remove the flags.

[2020-02-19 17:34] rebron commented on #8192
Closing. Released 1.3.118 February 19, 2020. 9:30am PST.

[2020-02-19 17:34] #8192 closed

[2020-02-19 17:50] tomlowenthal opened #8322 "Extend farbling defenses to block per-pixel queries"
Eventually, we should extend farbling defenses to protect against fingerprinting approaches with attempt to read pixel-by-pixel info from a canvas. There's no need to start working on this until we reasonably suspect this attack to be in use.

[2020-02-19 17:58] mattmcalister commented on #7262
The question could be much more precise. I suggest we leave the question as is for now, as we can deduce what we need to know from the data we're currently collecting.

[2020-02-19 18:21] #6395 closed

[2020-02-19 18:22] LaurenWags commented on #7633
Discussed with @iefremov and the part of the description which states
[code]
is out of date. As of now, the wiki (https://github.com/brave/brave-browser/wiki/P3A) is up to date.

[2020-02-19 19:19] darkdh opened #8325 "Duplicate sync object id of bookmarks"
## Description

If user copy bookmark, then meta infos are also copied. That will lead to same object id for multiple bookmarks

## Steps to Reproduce

1. Go to `about:flags#brave-sync` and enable sync
2. Create a sync chain
3. Go to brave://bookmarks/
4. Add a bookmark
5. Go to `about:flags#brave-sync` and disable sync
6. COPY the bookmark
7. Go to `about:flags#brave-sync` and enable sync
8. Brow

[2020-02-19 19:36] fmarier opened #8326 "Adding a YubiKey to a GitHub account crashes the browser"
## Description

It's not possible to add a new YubiKey to a GitHub account because doing so currently crashes Brave entirely.

## Steps to Reproduce

1. Go to https://github.com/settings/two_factor_authentication/configure
2. Click "register new security key".
3. Type a name and click "add".
4. Press the YubiKey button.

## Actual result:
Browser crashes.

## Reproduces how often:

100%

## Brave

[2020-02-19 19:45] sidhreddy commented on #5902
@bsclifton I am on macos. I tried the below on 1.3.118 and Brave crashes upon "New Private Window with Tor" which works for me for what I wanted to make sure I do not even accidentally use Tor. But I still see the "New Private Window with Tor". Do you if there is work being done to Gray out the option entirely??

[2020-02-19 20:10] SergeyZhukovsky commented on #8316
@yrliou that's exactly what I'm looking right now

[2020-02-19 20:17] SergeyZhukovsky commented on #8316
It's a general problem right now on web notifications. STR
1. open https://www.bennish.net/web-notifications.html
2. hit an Authorize button

[2020-02-19 20:18] #8290 closed

[2020-02-19 21:15] diracdeltas commented on #8303
also i think `strlen(extensionID)` should just be a constant - as far as i know it's always 32

[2020-02-19 21:38] #7853 closed

[2020-02-19 21:39] mbacchi opened #8327 "uplift.py broken when --start-from parameter is not master"
When uplifting PRs from a branch that is not master, the `--start-from` parameter is not honored.

This occurs because the `config.channels_to_process` is calculated twice and overwrites the list with incorrect information.

I have a (proposed) fix ready to go.

[2020-02-19 21:41] tomlowenthal commented on #6096
Looks like Chrome is actively fixing this, so hopefully we can wait on their fix (which won't come out before mid-March).

[2020-02-19 21:44] tomlowenthal commented on #4783
Closed in favor of fully disabling reporting in #7956.

[2020-02-19 21:44] #4783 closed

[2020-02-19 21:47] probablykasper commented on #8293
The release @bsclifton mentioned is out already, with the #brave-sync flag that can re-enable sync. I had to go to `chrome://settings/help` in order to update because it didn't show the green update symbol.

[2020-02-19 21:58] tomlowenthal commented on #8319
Removing the flags is another thing that we need to maintain on rebases, so if they're redundant, ley's just ignore them. I'm personally not sure what either of the flags do. François says that the referer one is less protective than our Shields default, and Chrome is going to enable it by default if their tests pan out, so that one's easy to ignore. Looks like `#prefetch-privacy-changes` is prett

[2020-02-19 22:02] tomlowenthal commented on #7798
I think this should only be used in private windows. We shouldn't break keyboard personalization just because you're using Brave.

[2020-02-19 22:08] tomlowenthal commented on #7207
Alternative suggestion: what if we change the network audit test script so that it either runs a dozen times and returns a success if it gets a success at any point, but if it hits a dozen tries without a success it's a fail?

[2020-02-19 22:11] bridiver commented on #7207
@tomlowenthal the network audit script will never be a great solution because it just starts the browser and does nothing. With an actual browser test we can navigate around and do stuff to make sure other calls aren't made as a result

[2020-02-19 22:13] #7834 closed

[2020-02-19 22:29] tomlowenthal commented on #5642
Closed in favor of farbling. Please reopen if there are still issues once farbling ships.

[2020-02-19 22:29] #5642 closed

[2020-02-19 22:38] tomlowenthal commented on #5314
The ephemeral third-party storage work should fix most of this.

[2020-02-19 22:43] bsclifton commented on #8297
@jonathanKingston I think you'll need to modify `brave-browser` as well; for example, check out:
https://github.com/brave/brave-browser/blob/a3299c760abadfe4df20d028ed1e5e61136d982d/scripts/commands.js#L159-L170

and also:
https://github.com/brave/brave-browser/blob/a3299c760abadfe4df20d028ed1e5e61136d982d/lib/test.js#L40

[2020-02-19 22:56] #3302 closed

[2020-02-19 23:04] tomlowenthal commented on #6024
@srirambv Can you clarify what this issue is? What do you mean by "Add sites to browsing history on a tab"?

[2020-02-19 23:31] anthonypkeane commented on #7613
@jamesmudgett can you please knock out a fix for this design?

[2020-02-19 23:33] hanibhat opened #8328 "No "Brave sync" option on Ubuntu"
## Description
I just installed Brave browser on my Android and my Ubuntu 18. I am able to find "Sync" option under "Settings on my Android. However, I am not able to find any option for syncing on my Ubuntu client. I tried [this tutorial](https://support.brave.com/hc/en-us/articles/360021218111-How-do-I-set-up-Sync-).

## Steps to Reproduce
I followed the steps on the Brave download page (Release

[2020-02-20 00:15] rebron opened #8329 "Users should be able to import payment methods"
## Description
Users should be able to import Payment methods (aka credit card data) from Chrome in order to ease switching from Chrome to Brave.

## Expected Results

   1. Go to Import Bookmarks and Settings.
   2. When selecting a Chrome "Person", user should be presented with a check box default checked for "Payment methods" if payment method data is available. No check box should be present i

[2020-02-20 00:15] #8249 closed

[2020-02-20 00:27] yrliou commented on #8318
Marking as QA/No since it's only reproducible in debug build or builds with DCHECKs on.

[2020-02-20 00:48] jonathanKingston commented on #8297
Yeah I agree, however it seems to be test specific. The error isn't in every every test and the browser appears to have the code.
It could also be a linking error from the code differences in `src/chrome/test/BUILD.gn` and `src/brave/test/BUILD.gn`

[2020-02-20 01:14] keur commented on #8303
The `sscanf` is reading one byte `%x`, so I don't think that is a concern.

[2020-02-20 01:34] #8316 closed

[2020-02-20 01:53] tlamming commented on #7639
I was hoping that the update today would have a fix it. Any eta?

[2020-02-20 02:12] gabrielmulle commented on #7639
same here, now Version 1.3.118 and still no bookmarks in my browser

[2020-02-20 02:50] #8315 closed

[2020-02-20 03:17] GuardedAirplane commented on #8328
Same issue here on Pop_OS

[2020-02-20 05:55] q3e opened #8330 "Brave quits when scrolling using touchpad and pressing CMD on macos"
## Description

The browser closes when you scroll up or down on an long page and hold the cmd key while scrolling using the 2 finger scroll on the touch pad, arrow key scrolling does not cause this issue.

## Steps to Reproduce

   1. find a page thats twice as long as the viewport and scroll.
   2. Hold CMD key as the page is scrolling (or start by holding cmd and then scroll

## Actual result:

[2020-02-20 05:59] iefremov commented on #8303
both parsers actually convert a list of strings into an associative container. We can just rewrite it using tools from `src/base`, using 10 times less code and avoiding another dep on `/vendor`/ stuff

[2020-02-20 06:57] NejcZdovc commented on #8219
@J-Reis @Thomas-Negrault could you please try again?

[2020-02-20 07:47] simonhong opened #8331 "Build failure - ERROR at //build/timestamp.gni:31:19: Script returned non-zero exit code."
Recently, PR builder failed with this.
[code]

[2020-02-20 07:51] lukaszklis commented on #8328
Same issue on macOS 10.15.2.

[2020-02-20 08:01] NejcZdovc commented on #8331
++

[2020-02-20 08:21] lukaszklis commented on #8328
@hanibhat I’ve tracked down on what’s the problem there. The Brave team has recently disabled Brave Sync by default due to quite a lot of crash reports ([more info](https://community.brave.com/t/brave-sync-temporarily-disabled-on-desktop/106837)). Based on the release notes of the latest version (V3.1.118), there is a flag which allows you to re-enable Brave Sync on your desktop browser - #8187.

[2020-02-20 08:59] SkyperTHC commented on #7379
yepp, tested with 1.3.113 and DNS requests in private window are now also
going out via DoH.

On Sat, Feb 15, 2020 at 12:23 AM Francois Marier <notifications@github.com>
wrote:

[2020-02-20 11:36] hanibhat commented on #8328
@lukaszklis your solution works perfectly for me.
Closing this issue.

[2020-02-20 11:36] #8328 closed

[2020-02-20 11:43] Martina-Neumayer commented on #6098
Issue stil remains, even if the sync is not used at all.
Every new opened tab can freeze Brave for few good seconds. Even the internal ones - settings tab, addons tab, etc.
Sometimes such new tab won't load entirely. Loading indicator (icon on the tab) goes on (rotates) forever and the browser in this moment freezes.
Refreshing the tab helps for a while, but next newly opened does the thing again.

[2020-02-20 13:14] desmonk opened #8332 "Upload Speed Reduction - When Browser Window is Minimized - Windows 10"
## Description

Upon minimizing the browser window, the upload speed fluctuates with reduction in overall speed.

## Steps to Reproduce

   1. Install Brave.
   2. Begin a upload and watch speed with minimized and maximized window.
   3. Pull out Task Manager to visually see the issue.

## Actual result:

![Upload Speed Variation](https://user-images.githubusercontent.com/55331939/74936380-edc3ca8

[2020-02-20 13:56] AlianaBasil opened #8333 "Linux Mint 19.3 latest x64"
Проблема такая - при открытии браузера он открывается на полный экран и между вкладками и краем экрана остается место, при нажатии на которое переключение не происходит. Чтобы исправить это приходится уменьшать окно, а затем опять увеличивать.

[2020-02-20 13:56] AlianaBasil commented on #8333
Проблема появилась только на Cinamon

[2020-02-20 14:50] Imerion commented on #7468
Hi again! Is there anything I can do to help with this issue?

Having to switch in and out of the page for every new tab just to get rid of these terrible mobile pages is getting really annoying - especially since Brave worked so great before this bug appeared. Since it works on the first tab, I guess it must be something about what settings new tabs get. Perhaps they don't get the width they shou

[2020-02-20 15:28] bbondy commented on #8303
++ on removing hashset-cpp dependency.

[2020-02-20 15:31] curtisshipley commented on #7268
It happens to me, too. Several times day.

[2020-02-20 16:31] #8294 closed

[2020-02-20 16:49] #8327 closed

[2020-02-20 17:02] gdregalo commented on #8237
Duplicate of https://github.com/brave/brave-browser/issues/8283.
Fixed.

[2020-02-20 17:02] #8237 closed

[2020-02-20 17:08] Vantiveman commented on #7493
I agree completely with the above. The ability to edit/add/change number of top sites would be extremely useful. It's annoying when one that I'm sure was pinned (as I pin all six, which seems to be the max) was suddenly replaced by another site that I had just used.
The layout/positioning/number of top sites should all be configurable options. It this is already being worked on as seems to be the

[2020-02-20 17:12] emerick commented on #8299
This seems to happen when you start Brave, wait for a couple of Ads to appear, and then kill and restart Brave. After restarting, Brave no longer recognizes the old ad notifications and is unable to close them when the cap reaches 3. The end result seems to be the cap effectively becomes 3 + number_of_old_ads.

[2020-02-20 17:12] GeetaSarvadnya commented on #8180
Verification passed on

Brave | 1.4.93 Chromium: 80.0.3987.116 (Official Build) (64-bit)
-- | --
Revision | dc00a510e4c2ae25c4d084cc3d946fc782249224-refs/branch-heads/3987@{#917}
OS | Windows 10 OS Version 1803 (Build 17134.1006)

- Verified the STR from the description

**Before claiming UGP grants:**
![image](https://user-images.githubusercontent.com/38657976/74958461-fd1d3500-542e-11ea-9495-bec

[2020-02-20 17:17] fmarier commented on #7379
Thanks for the confirmation!

[2020-02-20 17:17] #7379 closed

[2020-02-20 17:57] tmancey opened #8334 "Refactor Brave Ads database in preparation for merging Publisher Ads"

[2020-02-20 18:23] #8318 closed

[2020-02-20 18:23] #8262 closed

[2020-02-20 19:05] tmancey opened #8335 "Revert catalog schema merged with #8294 (only affects 1.7) otherwise ads will not be shown"

[2020-02-20 19:10] keur commented on #8303
Sure, removing that dependency will be fine, but the above PR is still relevant regardless of the hashset being used (most the unsafe string handling was in (de)serialization and string operations, and those won't change much even if the hashset is changed).

[2020-02-20 19:24] keur commented on #8303
Also, tangentially related, but I am pretty sure this leaks memory too (off master).

I suspect the leaks are in `node_addon/EWParserWrap.cc` and `node_addon/EWParserWrap.h`
[code]

[2020-02-20 20:29] malcalevak commented on #5267
I don't see anything in the changelog about it, but I happened to look the other day, and the Accessibility panel is now working in Brave!

[2020-02-20 20:31] r3pek opened #8336 "Brave doesn't find Flash installation on the OS"
## Description

I'm using Fedora 31 as OS and installed brave-browser from the provided repository.
I've also installed flash from the adobe repos.
Brave isn't able to detect (and use), the flash instalation.

## Steps to Reproduce

   1. Install brave browser
   2. Install flash plugin
   3. Visit https://helpx.adobe.com/flash-player.html and find that flash isn't detected

## Actual result:

Fla

[2020-02-20 20:49] #8335 closed

[2020-02-20 20:57] #8334 closed

[2020-02-20 20:59] Ken-g6 commented on #6079
Having a similar issue with Webex.  https://[organization].webex.com:443 is whitelisted for the microphone, but the Webex site still says, "No microphone or camera is detected".

[2020-02-20 22:05] #7639 closed

[2020-02-20 22:22] J-Reis commented on #8219
unfortunately I cannot. Along with (or at least at the same time as) the upgrade to 1.3.118, my orange 'claim' button disappeared. So I'd need to wait until next months reward offering come up (March 5th it says).

[2020-02-20 22:28] mkarolin opened #8337 "Reassess localization process to reduce storage on Transifex."
We've uploaded a large number of Chromium strings (and their localized versions) to Transifex, which caused us to reach our limit of hosted words. Hosted Words = Source Words × Number of Target Languages (https://docs.transifex.com/account/viewing-and-managing-subscription#hosted-words).

A big portion of these strings isn't modified for Brave and likely doesn't need to be uploaded at all.

We nee

[2020-02-20 22:29] AlexeyBarabash opened #8338 "Sync must not send records if last get-existing response has is_truncated true"
## Description

We can fetch max 1000 records at the time, if there are more than 1000 records, they will be fetched on the next poll cycle.
Also first  applying remote changes and then sending ours, this happens each minute.
It is possible we fetch 1000 records apply them and then send our changes, but we would have another portion of remote records.
We must not send our changes until completely

[2020-02-20 22:29] #2710 closed

[2020-02-20 22:32] oluapocram opened #8339 "Superhuman extension 2.3.4 stopped working after V1.3.118"
## Description

After upgrading to V1.3.118 the Superhuman Chrome extension stopped working.

Superhuman Extension: 2.3.4
Brave Latest: V1.3.118

## Steps to Reproduce

   1. Install Superhuman 2.3.4 extension
   2. Go to mail.superhuman.com (login)
   3. Page will go to "Reload"

## Actual result:

Attached.

## Expected result:

Go to superhuman inbox.

## Reproduces how often:

Permanent - curr

[2020-02-20 23:12] tomlowenthal opened #8340 "Ensure that referer-blocking can be configured with a standalone Shields toggle"
As currently implemented, referer-blocking is [controlled by the Shields toggle for cookies](https://github.com/brave/brave-core/blob/029b47ee56a4534830656d3a74858750cf11b11c/components/brave_shields/browser/brave_shields_util.h#L49-L52). Instead, referer-blocking should be controlled by its own Shields sub-toggle.

This issue doesn't cover the design or implementation of the Shields UX to control

[2020-02-20 23:12] mattmcalister opened #8341 "P3A: Ask for search volume and default search engine"
**Question 1**:
_How many times did you search last week?_
(The omnibox input doesn't resolve and triggers a search)

**Answers**:
[code]

**Justification**:
The volume of search activity generated via Brave will help us identify the optimal search strategy for both product development and partnerships

**Question 2**:
_Which is your currently selected search engine?_

**Answers** (edit as suggest

[2020-02-21 02:58] #7626 closed

[2020-02-21 03:30] juanaguillon commented on #2049
I solved it.
Entry to google chrome and disable all extensions and aplications.

Try again importing on brave.

Hope you help.

[2020-02-21 04:04] jumde opened #8342 "Disable ScrollToTextFragment"
https://www.theregister.co.uk/2020/02/20/chrome_deploys_deeplinking/

[2020-02-21 04:14] #8231 closed

[2020-02-21 05:12] simonhong opened #8343 "Add Brave app automatically to Full disk access panel"
After merging https://github.com/brave/brave-core/pull/4530, brave isn't added that panel automatically.
In that PR, it checks safari folder permission by using `PathIsWritable()`.
Maybe other file access api  like `open` could add automatically.

[2020-02-21 05:43] serp777 opened #8344 "Brave rewards withdraw not working"
## Description
Withdraw button on brave rewards page does not work. Brave shows I have BAT, but pressing the withdraw button does nothing and uphold wallet says that I have 0.00 BAT.

## Steps to Reproduce
1. Associate a valid uphold wallet with brave rewards.
2. Get some BAT in the local brave wallet.
3. Click withdraw and see if BAT shows up in uphold

## Actual result:
![BRaveBrowser](https://u

[2020-02-21 08:32] RuthlessRuler commented on #8076
Brave on Linux Mint also have this problem.
Brave Version 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)
Linux Mint - 19.3 XFCE 64-bit

[2020-02-21 08:49] tmancey opened #8345 "Brave Ad notifications do not persist round-robin state after a browser restart introduced with #8294"
## Description

Ad notifications do not round-robin introduced with #8294

## Steps to Reproduce

   1. View an ad

## Actual result:

Duplicate eligible ads can be shown

## Expected result:
Duplicate ads should not be shown until all other eligible ads have been shown

## Reproduces how often:

Easily reproduced

## Brave version (brave://version info)

1.7.4 and above

## Version/Channel Inform

[2020-02-21 08:50] oivinds commented on #7988
Just installed latest version from https://www.bravebrowsers.com
As before, It crash immediately. So no window is open to report a crash.
Apples mac os  crash reporter :
[code]

[2020-02-21 08:55] MrHaroldA commented on #8293
As @bsclifton mentioned, the sync option back again so this issue may be closed. I did however get all my previously deleted items back 3 times. I'm wondering if I should remove them again because they seem to multiply as zombies ;)

[2020-02-21 08:58] oivinds opened #8346 "Crash"
Reopening issue described here:
https://github.com/brave/brave-browser/issues/7988#issuecomment-589558638

Just installed latest version from https://www.bravebrowsers.com
As before, It crash immediately. So no window is open to report a crash.
Apples mac os  crash reporter :
[code]

[2020-02-21 09:26] kjozwiak opened #8347 "Manual test run on OS X for 1.4.x - Release"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-02-21 09:26] kjozwiak opened #8348 "Manual test run on Windows x64 for 1.4.x - Release"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-02-21 09:26] kjozwiak opened #8349 "Manual test run on Linux for 1.4.x - Release"
## Per release specialty tests

### Installer

- [x]  Check signature: If OS Run `spctl --assess --verbose /Applications/Brave-Browser-Beta.app/` and make sure it returns `accepted`.  If Windows right click on the `brave_installer-x64.exe` and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup window

[2020-02-21 09:50] codex-dev opened #8350 "Can't scroll between tab header bar to view new tabs when maximum visible tab header count is exceeded"
## Description
When maximum visible tab count is reached, user cant scroll left to view newly open tabs. The only way to view them is to close tabs on their right until it become visible.

## Actual result:

![image](https://user-images.githubusercontent.com/34751193/75022322-e5d85900-54bb-11ea-884e-32d3c08a83e2.png)

## Expected result:
Showing left, right navigation arrows at the start/end of ta

[2020-02-21 10:54] willstocks commented on #5759
@ryanbr I'm going to reopen this as a fresh issue - I've just been sat monitoring my network and I can see a DNS request going out to stats.wp.com despite Shields showing it's blocked

[2020-02-21 11:03] willstocks opened #8351 "Re-logging #5759 - WordPress Jetpack Statistics tracker script not being blocked"
I run a WordPress blog. On that blog, I have Jetpack installed and I'm using the [Jetpack Stats module](https://jetpack.com/support/wordpress-com-stats/) enabled, which adds a little script to my frontend: https://stats.wp.com/e-201934.js

Looking at Shields, this script/tracker is blocked (rightly so):
![image](https://user-images.githubusercontent.com/43744514/63494531-c7b28180-c4b5-11e9-9651-61

[2020-02-21 11:33] AlexeyBarabash opened #8352 "Remove wrong DCHECK at BraveProfileSyncServiceImpl::SendSyncRecords"
DCHECK at https://github.com/brave/brave-core/blob/master/components/brave_sync/brave_profile_sync_service_impl.cc#L1218

[code]

must be only for bookmark type.

[2020-02-21 12:56] scorpion35 commented on #3196
I am on a mac and was Brave for over an year without an issues. Suddenly last week all my passwords were gone. This is what I've done to resolve the issue -

Removed these -

1. /Applications/Brave Browser.app
2. ~/Library/Application Support/BraveSoftware/

[2020-02-21 13:34] tmancey opened #8353 "Refactor Brave Ads in preparation for merging Publisher Ads"

[2020-02-21 14:13] NejcZdovc opened #8354 "Add claim option for VG"
Right now we don't have a mechanism to transfer virtual grants from ad earnings to uphold.

We need to check for claim on two events. Once user connect KYC uphold account and once user becomes KYC.

We first need to call old API just once (so that we record paymentID) and then new api `v1/suggestions/claim`.

[2020-02-21 15:52] #8352 closed

[2020-02-21 15:57] Aran-Fever commented on #6024
@tomlowenthal Populate your browsing history by going to a bunch of sites to your heart's content using as many tabs to your heart's content.

[2020-02-21 17:28] rebron commented on #7504
@ryanbr This is first party and we shouldn't be blocking it. Is there another reason why we're blocking this? Matching an easylist rule or something else?

[2020-02-21 17:31] rebron commented on #7509
@Brave-Matt Can you help with this one? We need steps here for disabling hardware acceleration. This one looks like a driver issue.

[2020-02-21 17:33] emerick opened #8356 "[Android] Undefined ImportDataHandler symbols"
Undefined symbols when building the latest `master` on Android:

[code]